Chapter 10 - The Book of Names - Part 2

<p>Harry stood on the Greengrass Manor lawn, wearing only swimming shorts and sandals. The sun warmed his pale skin. A slight breeze ruffled his messy hair.</p>

<p>“Soak me, Harry!”</p>

<p>He whipped his wand in the direction of the voice. “Aguamenti.” A jet of water shot from the end of his wand. It hit something, vanished, and reappeared a foot away.</p>

<p>“Gah!”</p>

<p>He stopped the charm and regarded the unseen obstruction. He still couldn’t see anything.</p>

<p>“It went straight through the cloak, curved along the insides, and shot out the back of it!”</p>

<p>Harry picked up a clipboard and walked towards the voice.</p>

<p>Daphne appeared, slightly moist, and dressed in full rain gear. Earlier, he’d suggested she also wear a swimsuit. She’d panicked and threatened to sting-hex him if he so much as transfigured her hat.</p>

<p>“It felt like I was in a cave made of flowing water.”</p>

<p>Harry unclipped a muggle pen from his waistband and made a note on the clipboard. “So, it hides against water, too. Although, if you know what you’re looking for, it is still possible to spot you, but only while the spell is being cast.”</p>

<p>Daphne folded the liquid-like cloak. “That’s four things it protects from so far — sight, chalk, water, and homenum revelio. Now at least, anyway. I still don’t understand why anyone would charm the cloak to be vulnerable to homenum revelio. It’s their own cloak isn’t it?”</p>

<p>“Your guess is as good as mine. The charm’s been removed now.” Harry looked down at the clipboard. “But the cloak doesn’t stop you being heard, nor smelled, and calor revelio still picks up a heat signature. I’m glad so few people know that spell.”</p>

<p>Daphne snapped her fingers. “It’s about going in versus going out.”</p>

<p>Harry smiled. “Continue.”</p>

<p>“Well, light bounces off things right? That’s how we see. The water came from the outside, so did the chalk, and the homenum revelio feels like a wave going over you if you’re hit. I didn’t feel anything under the cloak.”</p>

<p>Harry scribbled on the clipboard.</p>

<p>“Sound is vibrations, but it radiates out from you. So does smell. So does heat.”</p>

<p>Harry grinned. “Sounds like you’re on to something. Although it doesn’t explain how you can still see while wearing the cloak. Chalk that up to magic, I guess. What would this mean if it were true?”</p>

<p>Daphne hesitated. “That… that other things coming from the outside might also not work on the cloak?”</p>

<p>Harry dropped the clipboard, took the cloak from her unresisting hands, and whipped it around himself, vanishing from sight. “Stun me.”</p>

<p>“W-what?”</p>

<p>“Duelling practice time, Daphne. Stun me.”</p>

<p>The adventurous blonde stared, shrugged, closed her eyes, and raised her hand in his direction. Red lights appeared on the tips of all five digits. A bolt of red shot towards him. Harry watched in fascination as the bolt hit the cloak, passed through it, hugged and curved along the inside, and hit his shoulder. Darkness.</p>

<p>…</p>

<p>…</p>

<p>…</p>

<p>“Harry. Harry!” Daphne’s voice called to him from the fog of nothing.</p>

<p>“Ugh.” He sat up on the grass.</p>

<p>Daphne was peering at him from a few inches away.</p>

<p>“Guess that didn’t work then.” He smiled sheepishly.</p>

<p>“What happened? I saw the bolt disappear. It didn’t flash when it hit you.”</p>

<p>“It passed along the inside of the cloak like you described the water did, but it happened to hit my shoulder. I’m guessing you’ve got a one in three chance of dodging a spell that hits you under this thing.”</p>

<p>Daphne raised her eyebrows and bit her lower lip. “That’s pretty cool, but it would have been even cooler if it made you immune to enemy spells.”</p>

<p>He pointed a finger. “That would be a total game changer.” He stood. “It’s still pretty good though. Better than a demiguise cloak. Much better than a disillusionment charm.”</p>

<p>Daphne frowned. “Still doesn’t get us into warded areas.”</p>

<p>He winced. Their one experiment at ward breaking with the cloak had been painful. They’d keyed him out of the Greengrass wards, and he’d tried to enter. It had gotten him past the perimeter wards, but the moment he’d fully entered the area wards he’d been forcefully and painfully ejected. “If the cloak could get us through wards, that would be game over. But at least we now know what it <em>can</em> do.”</p>

<p>He stretched his arms. “You ready for a super-secret Hogwarts scouting mission?”</p>

<p>Daphne’s eyes gleamed. “I am so ready for that.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Under the invisibility cloak, Harry flew. He weaved his way through the trees of the forbidden forest, dark and foreboding. Cobwebs lined the branches. Sharp brambles and bushes littered the ground. Things made strange sounds in all directions. Water dripped from a recently passed storm. Fresh earth and decomposing wood filled his nostrils.</p>

<p>He touched down by the humming ward lines of Hogwarts Castle, pulled out his trunk, disillusioned it, un-shrunk it, and opened the lid.</p>

<p>“Ward stone A,” he whispered.</p>

<p>A dainty hand appeared holding a rune-covered, ruler-sized wardstone.</p>

<p>He took it and started installing it a few metres away. A minute ticked by. “Ward stone B.”</p>

<p>The hand appeared again.</p>

<p>Four minutes later, he’d set up five ward stones to make a three-by-three metre square. The final stone was in the centre for the key-stone. He closed the trunk again, shrunk it, and popped it back in his pocket. He sat down, under the cloak, and started the occlumency meditation. Twenty minutes ticked by. Harry stood up and touched his wand to the key-stone. He murmured, “fidelius occultum.” He felt the fidelius charm catch.</p>

<p>A minute later the trunk was open again. A blonde head popped out, looking around like a meerkat from a burrow. She looked extremely confused. “Where are we? I don’t understand.”</p>

<p>“We are in the three-by-three metre space just outside the Hogwarts wards, between the large split oak, and the twenty-second dead birch west of the lake.”</p>

<p>Daphne blinked.</p>

<p>“Merlin, that felt weird.” Her brow furrowed. “So, where’s the castle? Why are we in a forest?”</p>

<p>“We can’t actually see the castle from here, and anywhere we could carries a higher chance of being spotted before we got the fidelius set up.”</p>

<p>Daphne pouted. “That’s no fun.”</p>

<p>“Yeah, well.” He rubbed the back of his head. “How about getting over here, and telling me what you can feel coming from these things?”</p>

<p>Daphne clambered from the trunk and joined him at the edge of the ward line. She closed her eyes, raised her head, and took a deep breath. “I can feel it.”</p>

<p>“Good. What can you feel?”</p>

<p>The blonde shifted and tilted her head, as though trying to hear something very faint. “Not much. I can just feel it. I know it’s there.”</p>

<p>“Okay. Draw your wand. Be very careful not to cast anything.”</p>

<p>Daphne drew her brand-new, thirteen-inch Hazel and unicorn hair wand, and held it, tight and uncertain.</p>

<p>He took her wand hand in his and guided her towards the wards. “There,” he said. “Feel the magic pooling in your hand from the wand. Can you feel it?”</p>

<p>Daphne’s breath hitched. “I can feel it. So many feelings. It’s like eating a whole bag of Bertie Bott’s Every Flavour Beans.”</p>

<p>He nodded. “You see now why wizards are so fond of their wands, and become reliant on them?”</p>

<p>Daphne gave a small nod. “Is there anything different from what he remembered?”</p>

<p>“No. The wards are as pathetic as ever. You feel the strawberry one?”</p>

<p>Daphne scrunched up her face. “Strawberry? I don’t see what—wait. Yes! I feel it. Wow, it really does feel like strawberry. How does <em>that</em> work?”</p>

<p>“It’s called synaesthesia. It’s a weird thing our brains can do. It allows us to perceive the sensations of one sense as those of another. In this case, our magic sense has a ‘taste.’”</p>

<p>“That’s so weird.”</p>

<p>“Yeah. And the strawberry one is the one that detects dark magic. Only, it’s <em>supposed</em> to be raspberry.”</p>

<p>“And the detection wards?”</p>

<p>“I’m going to see about them now.” He stepped forward, raised his wand to the wards, and closed his eyes. Flavours flooded his mind. He picked them apart until he felt a taste that was overwhelmingly sweet. The detection ward. He focused on it and was surprised when it unravelled in his head, laying itself out to him like a sweets-only buffet. Chocolate, cake, carrot, and blueberry were just a few of the tastes he could sense. He counted sixteen in total. “Wow.”</p>

<p>“What? What?” She sounded impatient.</p>

<p>“I can feel them. All the people in the castle. The wards let me through their security system. They never let Voldemort do that.”</p>

<p>“Because you’re Lord Slytherin?”</p>

<p>“That can be the <em>only</em> reason. Huh. That’ll make this a <em>lot</em> safer.” He thought for a moment. With this, he’d be able to enter the castle, and erase his presence. For anyone who relied on the wards, it would be as though he were never even there. He smiled. “Well, that’s all we needed. Let’s get going—.” He turned, and froze. His voice turned to steel. “Daphne! Don’t move!”</p>

<p>Daphne froze, still facing the wards.</p>

<p>There, milling around their square ward perimeter, silent as a shadow, and as large as muggle cars, were three confused-looking giant spiders. Visions of a pet spider kept in a box shot through his head. A spider racing away from Tom Riddle’s wand.</p>

<p>He readied his own wand. One of the quirks of the fidelius charm was that shooting anything out of it, in visual range of someone who didn’t know the secret, counted as revealing the secret. If he cast a spell against them, they’d be able to see them both. Daphne wouldn’t even be capable of casting a spell, not being the secret keeper. Not that she was powerful enough to kill one of these buggers yet.</p>

<p>The acromantula clicked their mandibles at his sudden outburst. They’d heard his conversation with Daphne. They needed to be memory wiped. Or killed.</p>

<p>“Daphne, whatever you do… Do. Not. Leave the wards.” He leapt out of the perimeter and immediately hit one of the spiders with an overpowered cutting curse. Ichor sprayed everywhere. He heard Daphne scream behind him.</p>

<p>The other two spiders whirled around and closed on him with supernatural speed.</p>

<p>The first crashed down from another cutting curse to the face, exploding spider brains all over the clearing. The last pounced, venomous pincers stabbing the ground where he’d been only a moment before. He flew backwards, cloak whirling in front of him. He took aim, and cast.</p>

<p>The final spider exploded in a shower of spider bits, decorating the clearing with a fine sheen of gore.</p>

<p>He flew back to the wards where Daphne still stood, wide-eyed, shocked, and shaking. The smell was visceral.</p>

<p>“You okay?”</p>

<p>“Y-y-yes I… I’m okay. I just.” Her knees gave out. She collapsed to the ground.</p>

<p>“C’mon, let’s get out of here. There’s a change of robes in the trunk.”</p>

<p>Daphne nodded, took his proffered hand, still shaking, and climbed back into the trunk. She took every step as though her legs would betray her again.</p>

<p>He looked around the gore-filled clearing, and sighed. They needed to evacuate fast. Who knew how many others were around? There was no time to recover the ward stones as he’d have liked to. They’d have to be destroyed instead. It seemed he was getting through miniature ward stones almost as fast as ageing potions these days.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Daphne suffered nightmares for weeks. Most featured giant spiders eating Harry whole, while she looked on, helpless, before they exploded in a sea of spider guts. Then she’d wake up, sweating and shuddering. Thankfully, she hadn’t had one for five days now, so she probably wouldn’t have to ask Harry for help. That would be embarrassing. She already owed him far too much.</p>

<p>Today was the twenty-first of June, the summer solstice, the first mandatory Wizengamot of the year, and the day they’d decided to solve their Book of Names problem. By breaking into the office of the most powerful wizard in the world.</p>

<p>“You ready, Daph?”</p>

<p>She stood by the Greengrass Manor sitting-room floo, wearing her brand-new, emerald-green, formal Wizengamot robes. The highlights were silver. Harry was dressed in new Hogwarts open-robes and muggle clothes. She fingered the silver, lightning-bolt ring on her right pinky.</p>

<p>She nodded. Her hands were sweating. “Get in. Alert you when Dumbledore starts the session. Warn you if he leaves.”</p>

<p>Harry smiled. “That’s about it.” He took a deep breath. “Right, I’m off then.” He turned to leave.</p>

<p>“Wait.”</p>

<p>The boy she was to marry one day turned back to her.</p>

<p>She hesitated, then hugged him. Despite their close relationship, she’d never felt comfortable enough before. She wrapped her arms around his shoulders and held him close.</p>

<p>Harry also hesitated, but then relaxed and returned her hug.</p>

<p>“Don’t get caught, Harry.”</p>

<p>“…I won’t.”</p>

<p>“Promise me.”</p>

<p>“I promise. Focus on your task, and I’ll focus on mine. Together, we’ll pull it off.”</p>

<p>Her parents entered the room, both wearing full Wizengamot regalia, and highly amused smiles. She broke the hug, cheeks tinting.</p>

<p>Harry grinned.</p>

<p>“You ready, young lady?” asked her father.</p>

<p>“Yes, Dad.”</p>

<p>“Good.” They joined the two pre-teens by the floo.</p>

<p>“Now remember, you are a guest. Best behaviour.”</p>

<p>“Yes, Dad.”</p>

<p>Her father looked Harry up and down, taking in his Hogwarts open-robes and muggle clothes. He smirked. “Don’t study too hard, Harry.”</p>

<p>Harry returned the smirk. “Wouldn’t dream of it, Jacob. That would just be confunding.”</p>

<p>Despite her worry, she groaned. Her mother rolled her eyes. She turned and marched into the floo. “Ministry of Magic Atrium!”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>A half-hour later, Harry hovered a foot above the still waters of the Hogwarts Black Lake. The invisibility cloak billowed in the Scottish highland wind. He was sure it would have looked cool if anyone could have seen it.</p>

<p>That was unlikely.</p>

<p>He was both disillusioned and under the invisibility cloak. He’d silenced himself, and had been practising wordless and wandless tergeo spell casting for weeks. He could now vacuum up all his dead skin cells and hairs while running. That sorted out the smell problem. It wouldn’t be good if a trained animal, animagus, or werewolf could identify him. It did take all his concentration to pull off that trick though.</p>

<p>The wards welcomed him with open arms, overwhelming his senses. His occlumency departmentalised the sensations. He pushed his hand through the wards, and noted a new taste added to the detection ward. His own. His identifier tasted of oranges. He smiled wryly.</p>

<p>A few moments later, his taste was deleted from the detection ward. He nodded, satisfied. Now he just had to wait.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Daphne stuck to her mother’s side while they made their way through the packed throng of lawmakers in the corridor outside the main Wizengamot room. As the betrothed of the mysterious Lord Slytherin, she was getting a lot of attention.</p>

<p>“Ah! Lady Greengrass!” a voice called.</p>

<p>Her mother turned.</p>

<p>Daphne saw an older, shorter wizard, with a full grey beard.</p>

<p>“Lord Ogden. A pleasure to see you again.” Her mother motioned to her. “Have you met my oldest daughter, Daphne?”</p>

<p>She remembered Lord Ogden from her lessons. He was Gray, and likely the sixth richest person in Magical Britain.</p>

<p>Lord Ogden smiled all the way to his eyes. “No, I don’t believe I’ve had the pleasure, although I know I’ve seen her at the edges of your parties, Lady Greengrass. But, of course we all know about you, Miss Greengrass. Betrothed to our favourite masked Lord, aren’t you. Any idea when he’ll finally grant our august body an audience?” His eyes danced with mirth.</p>

<p>“I couldn’t possibly speak for Lord Slytherin, my lord.”</p>

<p>His deep laugh rang out across the hallway. “Of course not.” He turned back to her mother, and lowered his voice. “So, what do you think of this new legislation?”</p>

<p>Her mother sighed. “This is just a rerun of what they tried to push two years ago. And I don’t think our position should be any different to what it was then.”</p>

<p>“I quite agree.”</p>

<p>A gong sounded and the double doors to the chamber opened.</p>

<p>“Oops, that sounds like our cue.”</p>

<p>They all walked into the chamber and Daphne broke off from her mother to climb the stairs to the visitor gallery.</p>

<p>Halfway up, she caught sight of someone she definitely didn’t want to see. Lord Slughorn was busy talking to a group of wizards whom she thought belonged to the Light. Before the spiders, that man had been the subject of most of her occasional nightmares.</p>

<p>He spotted and leered at her.</p>

<p>Daphne shuddered. She continued to climb as fast as she could while maintaining her dignity. Lord Slughorn was a keystone of the Gray. She knew they had to deal politely with the man, but that didn’t mean she had any interest of being within a hundred miles of him.</p>

<p>She was sure the man secretly wanted to pry her away from Harry. It had only been some fast political tap-dancing that had stopped him jumping ship from the Gray when her betrothal had gone through. She was sure it had been him that had leaked their betrothal to the Prophet.</p>

<p>Daphne found a seat and sat down. The other seats were filling up fast. No one wanted the semi-annual mandatory Wizengamot session to go on any longer than it had to. There were too many magical rituals and ceremonies that required the solstice.</p>

<p>The Chief Warlock entered the chamber, and briefly caught her eye. She braced for a legilimency probe, but it never came. Harry’s memories had shown the headmaster was quite liberal with his legilimency, but Harry also suspected the old wizard only used it on muggleborns and half-bloods from newer families. Those he thought couldn’t defend themselves. Seems Harry was right.</p>

<p>Dumbledore stood at his podium and banged his gavel three times.</p>

<p>“Good morning, Lords and Ladies, wizards and witches, of the Wizengamot. And welcome to the 1473rd summer solstice since the establishment of the Albion Family Magics…”</p>

<p>Daphne pushed a minute amount of magic into her lightning-bolt ring. It made a single vibration.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry felt the vibration in his lightning-bolt ring. It was time. He pushed forward, past the lake, across the grounds, up the side of the ancient castle wall, and onto the top of the astronomy tower.</p>

<p>Safest place in Britain. Yeah right. Any random group of broomstick-riding wizards could get in this way.</p>

<p>He tap-danced down the stairs. He glided along the corridors. He flew past the grand staircase. The massive castle was dead to the world. Not a ghost, not a teacher, not a house elf.</p>

<p>Harry reached the stone gargoyle. He felt for the magic in the stone creature, felt himself welcomed into its control system, felt the shift.</p>

<p>The gargoyle stood up and moved aside, leaving the spiral staircase open to him. That was a relief. He hadn’t been sure that would work. Not having to break in through the window was definitely a good thing.</p>

<p>He opened the door, trod on the humorous welcome mat, and scanned the room for his goal.</p>

<p>One painting frowned at the open door; another looked confused.</p>

<p>He spied the book sitting on a raised pedestal, next to the sorting hat. Excellent.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Headmaster Dumbledore listened to the assembled aristocracy of the Wizarding World bicker and snipe at each other. Not much was likely to happen. Not much had happened for a while. A few years ago, it had looked like the Neutrals were set to collapse. That would have been… volatile. But it hadn’t happened. A new player had shown up, with a new ideology, and new energy. The neutrals now called themselves the Gray, and were blocking almost every law the Light or Dark put forward. Stability seemed to be their watchword.</p>

<p>Rumours ran rampant about Lord Slytherin. He’d heard stories of the man. Rumours of a powerful charismatic wizard in an emerald-green mask. Rumours of expensive gifts, lavish parties, and stirring speeches. The methods were uncomfortably familiar.</p>

<p>But, despite his first words to Magical Britain, Slytherin had seemed content to let things be. He hadn’t interfered at Hogwarts, hadn’t tried to recruit students to his cause, and hadn’t pushed many laws of his own.</p>

<p>He had a feeling that was about to change. The man’s eleven-year-old betrothed was watching him from the visitor gallery. Her gaze was more intense than an auror interrogation. She would be joining Hogwarts this year. So would Harry Potter. It made him uncomfortable.</p>

<p>Most of his contingencies for the boy depended on his being an outcast of both the Light and the Dark. If the Gray took him in…. Would Lord Slytherin appreciate the risks the boy posed, even if he explained? He didn’t know. The man still refused all contact with him. Slytherin was harder to pin down than fog.</p>

<p>He jerked. He felt his moon-shaped spectacles heat up, saw them flash a warning onto the lenses. Someone had entered his office, alone. Someone who wasn’t on his personal okay list. But how? The security systems shouldn’t let anyone in who wasn’t okay’d. Even Minerva couldn’t give permission without his clearance. Who could possibly— his eyes widened and flickered to the ice-blue stare of Miss Greengrass.</p>

<p><em>Slytherin</em> could possibly.</p>

<p>And he was trapped here. He didn’t even dare patronus Minerva. Not in the middle of a full Wizengamot session.</p>

<p>Merlin damn it!</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry fired a point-blank killing curse at a sleeping Fawkes who gave a loud ‘cawwww’, burst into flames, and fell to the floor in a pile of ashes. He conjured three boxes, scooped the ash into one, the newly moulted phoenix chick into the second, and the sorting hat into the third.</p>

<p>He pocketed the ashes. The hat and phoenix chick boxes should be left here. As much as how utterly broken phoenixes were, there was no point swiping him. Phoenixes were extremely loyal. If he wanted one, he’d have to find his own.</p>

<p>He glided to the paintings, and turned them all to face the wall. They weren’t happy about this, but what did he care.</p>

<p>That should take care of anything in the room that might tattle on him. Now time for the main event.</p>

<p>Harry opened the Book of Names, and turned to the latest year — 1991. There he was — Lord Harry James Potter Slytherin — Current Residence: The master bedroom, Apartment 3, 63 Loather Street, Penrith, Cumbria. The private apartment he rented near Greengrass Manor.</p>

<p>He focused his magic and weaved enchantments. The name faded, replaced with another. Harry James Potter — Current Residence: The Cupboard Under the Stairs, 4 Privet Drive, Little Whinging, Surrey. Harry smirked. Seeing the look on his aunt and uncle’s faces when he turned up for a night would be priceless.</p>

<p>He closed the book and turned to the rest of the office. What else could he do while he was here?</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Daphne could see the grand warlock was agitated. He showed all the signs. Excessive beard tugging, beard stroking, beard fiddling, beard curling, the lot. Not only that, but he kept shooting glances at her. Did he know? Did he suspect?</p>

<p>The Lord who’d been droning on finished his piece and sat down.</p>

<p>Before the next person could stand up, the headmaster jumped in.</p>

<p>“Thank you, Lord Nott. We’ll now take a twenty-minute unscheduled break. That is all.”</p>

<p>Daphne felt a rock fall into her stomach. She quickly pushed three successive bursts of magic into her lightning-bolt ring.</p>

<p>Dumbledore all but ran out of the chamber.</p>

<p>The assorted wizards and witches murmured, surprised and confused by the grand warlock’s sudden exit. They all heard Dumbledore shouting for his phoenix all the way down the corridor.</p>

<p>Please, Harry. Get out of there.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry felt three vibrations on his lightning-bolt ring. He cursed.</p>

<p>The pensieve had been so tempting. He could watch some important memories and give Dumbledore a perfect red-herring reason for a break-in. It was only when he’d entered that he’d spotted the obvious drawback. You couldn’t leave in a hurry.</p>

<p>He watched, frustrated, as a younger Trelawney fumbled her way through an interview. She stiffened and spoke the fateful words that condemned him to a life that could never be normal. He knew all this already of course. Voldemort had learned the contents of the prophecy, which is why he’d been happily left in Azkaban. But he’d never seen the original. As far as he knew, only Dumbledore had.</p>

<p>The foggy room faded. He felt himself yanked out of the pensieve, and thrown back into the headmaster’s office.</p>

<p>Harry didn’t bother to look around. He cast a room-wide, overpowered tergeo cleaning charm, and lunged for the door.</p>

<p>The floo flared green.</p>

<p>His heart stopped. He flung open the door.</p>

<p>The headmaster stepped out.</p>

<p>His heart pounded. He leapt through the opening.</p>

<p>A bolt of red slammed into the door behind him.</p>

<p>The stairs were before him. He jumped down them, three at a time, not trusting himself to fly, lest he crash into the curved wall. The gargoyle blocked his escape. The security system dialled him in, and activated, but it cost him precious seconds. Another bolt of red smashed into where he’d been only a split second before.</p>

<p>How the hell?</p>

<p>He ran into the hallway, careful to keep removing his scent as he went.</p>

<p>Halfway down the passageway, his pursuer stepped out.</p>

<p>The suits of armour immediately tried to grab him.</p>

<p>He dodged.</p>

<p>A terrible realisation settled over him, seeping into his veins, freezing his blood. Somehow, the headmaster could detect him. He knew where he was.</p>

<p>Shit. Now he dare not fly at all.</p>

<p>“Come now, Lord Slytherin,” a genial voice called from behind him, “is all this necessary?”</p>

<p>He continued running. The voice also continued, never seeming to get further away.</p>

<p>“I mean, we all want the same things, I’m sure.”</p>

<p>He bolted onto the grand staircase and took the first path available.</p>

<p>“And there is so much good we could do if we put aside our small differences.”</p>

<p><em>How</em> the <em>hell</em> was the bastard <em>following</em> him? He made to jump through the first window he could see. The shutters slammed shut.</p>

<p>“Is all this cloak-and-dagger nonsense really needed?”</p>

<p>He was being shepherded away from the towers. He needed to get off the path that led to the dungeons. He’d be trapped there. He dived through the next tapestry.</p>

<p>“You want stability in the Wizarding World, that much is obvious.”</p>

<p>He screeched to a halt. The voice was in front of him.</p>

<p>“Don’t you think it would make more sense to work together with those who share your ambitions?”</p>

<p>He shot out a wordless homenum revelio. Dumbledore was still behind him.</p>

<p>“It’s called ventriloquism, Lord Slytherin. Can be very amusing at dull parties.”</p>

<p>He wanted to brain himself on the wall. The old man could sense magic! Just like he could. Duh! No wonder the bastard could follow him. He’d been casting cleaning charms every half-dozen steps. He might as well have been sending out a beacon announcing himself.</p>

<p>“Ah, I see you’ve decided to be reasonable.”</p>

<p>He ran.</p>

<p>A sigh. “Or not.”</p>

<p>He couldn’t stop using the cleaning charms. That would be brain-dead stupid. But he had to get away. He arrived at the steep-climb staircase to the astronomy tower.</p>

<p>Two statues lowered their lances, barring his path. He wordlessly blasted them apart. Several powerful spells splashed against his rear shields.</p>

<p>“There are forces at work in the world, Lord Slytherin. Forces that could end up destroying the world you obviously care for.”</p>

<p>You mean <em>me</em>. Harry forced down the impulse to swear at the fucker as he passed the fourth-floor landing.</p>

<p>“And there are old threats too, threats considered past that could once more raise their ugly heads.”</p>

<p>He reached the top of the tower and made for the edge.</p>

<p>“And your betrothed will be entering Hogwarts this year. There are many dangers she might face. Wouldn’t it be better to work together?”</p>

<p>Harry stopped dead on the edge of the tower. All the time he’d spent with the full-of-life witch flashed through his head. He saw red. How dare he? How DARE he? He normally kept his magic under tight control. Now, it flared, overwhelming the area with pure power. He turned.</p>

<p>The disillusioned figure of the headmaster shimmered into being by the door. Dumbledore sighed; his shoulders drooped. “That wasn’t supposed to be a threat, Lord Slytherin.”</p>

<p>Barely controlling his rage, Harry reached into his pocket, retrieved his tiny flying-with-Ginny broomstick, and un-shrunk it. The broom seemed to hang in the air.</p>

<p>Dumbledore took a step forward, holding out both empty hands in a gesture of peace. “I don’t know why you distrust me so. I mean you no ill will. I hope one day, we <em>can</em> work together.”</p>

<p>Harry leaned back, and dropped.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Albus Dumbledore slumped into his high-back chair and rubbed his temples.</p>

<p>After his unscheduled break had ended, the Wizengamot session had gone on for far too long. He’d only just got back, and discovered the extent of Lord Slytherin’s machinations.</p>

<p>Lord Slytherin knew the prophecy. He was only the second to know it in its entirety. It was now even more critical that he find a way to bring the powerful Lord to his side.</p>

<p>He looked around his office. There wasn’t a speck of dust anywhere. The man was thorough — he’d give him that. He couldn’t think of a single way to pin the break-in on him. No fingerprints, no smells, no memories. The only thing he had was the lack of an identification ward record. He doubted Amelia Bones would accept a proof-by-lack-of-proof argument.</p>

<p>The man had walked in like he owned the place, done what he wanted, and who knew what else. Then left.</p>

<p>He reached into a drawer, and withdrew a stack of parchments. Each one was as dust-free as the rest of his office. He flipped through them. Giant dog, chess set, flying keys… all useless now. All compromised.</p>

<p>He sighed.</p>

<p>Add to that, there was a powerful wizard running around who could breeze through Hogwarts security, and he was faced with little choice.</p>

<p>The protections surrounding the stone would have to be re-thought and beefed up. Beefed up, a lot.</p>

<p style="text-align: center;">— End of Chapter Ten —</p>

