Chapter 13 - Interlude - Hermione Goes Shopping

<p align="left">[Earlier in the summer of 1991]</p>

<p>She couldn’t find them.</p>

<p>It was time. Today was the day that she, Hermione Granger, was going to irrevocably bind herself to Harry’s cause. She thought about everything she’d learnt from him, and all the revelations and shocks she’d gone through. She thought about the mission Harry had brought back in time with him, to defeat a dark lord, and recreate the Wizarding World. But most of all, she thought about her best friend, her confidant, the one person who she knew she could count on. And after today, he would be even more than that. He would be her magical guardian, her protector, her Lord. But right now, she couldn’t find them.</p>

<p>Hermione ducked around the smoked-glass door to the garden, and looked across the wide lawn. They weren’t here either. They weren’t in the kitchen. They weren’t in the living room. They weren’t in their bedroom, and they weren’t in either of the bathrooms, or the study, or the garage. That only left one place.</p>

<p>She sighed, stomped up the stairs, slammed open her bedroom door, marched to her trunk, threw open the lid, and poked her head in the space beyond. There, sat her parents, looking as guilty as the kid in the biscuit tin, each holding an open book with another large pile sat beside them.</p>

<p>“Mum! Dad! We’re going to be late! And you know how goblins don’t like to be kept waiting.”</p>

<p>“Ah,” said Daniel Granger, “is it that late already?”</p>

<p>“It’s been that late for a full ten minutes, Dad.”</p>

<p>“Right.” Emma Granger stood and slammed her book shut. “Enough reading!” She raised her hand theatrically in the air. “Time to hit this mystical world! Through the looking glass, into the wardrobe, past the second star to the right, and straight on till morning!”</p>

<p>“Orrrr,” Dan interjected, grinning, “just on Charing Cross Road off Tottenham Court Road.”</p>

<p>“Yeah, or that.”</p>

<p>Hermione pursed her lips. “Your clothes are in the bedroom in the bags. Can we ple-e-e-ease go now?”</p>

<p>“Of course dear, we’re just getting in the right mood.” Her mother smiled.</p>

<p>Hermione shook her head. She’d no idea what she’d been worried about before. Her parents had eventually reacted to the news of magic’s existence like any self-respecting intellectually curious person would react, with awe and the enthusiasm of true fantasy geeks, which they were.</p>

<p>Harry had helped. So had Lord Slytherin. And seeing them both on her doorstep at the same time, warm plum pie in hand, had certainly thrown her, but only for about as long as it took to say ‘would you like polyjuice with that’.</p>

<p>She’d felt strange, watching the two of them play off each other, knowing one of them wasn’t Harry. Figuring out which one was the real one hadn’t been easy. After a few hours of intense discussion about the political and social realities of the magical world—during which her parents had run the emotional gauntlet from mildly horrified to mildly angry to mildly depressed to resigned, to hopeful and grateful, before finally returning to their previous state of mild enthusiasm—’Harry’ had come back from the kitchen, and sat back down on the living-room sofa, legs firmly together and bent slightly to one side, hands placed on ‘his’ knees, one on top of the other, back perfectly straight, head angled slightly downwards… the perfect poise of a pureblood princess.</p>

<p>Hermione had raised an eyebrow, and the girl wearing Harry’s body immediately realised her mistake, blushed slightly, and shifted into Harry’s more signature ‘take-up-as-much-space-as-possible’ sitting position.</p>

<p>She’d later learned that, yes, it had been the Greengrass heiress under there.</p>

<p>Since then, her Mum and Dad had spent most of their free time sneaking into her trunk, and devouring everything they could. Her mum was particularly interested in magical theory, which gelled with her dabbling in theoretical physics in uni, while her dad had called dibs on all the books on ancient runes, in keeping with his interest in engineering.</p>

<p>Since both of those fields were rather specialised, they’d both already read all the books the trunk had on them. The bookshops of Diagon Alley promised to greatly expand their family’s secret library, and so it was with great excitement that the Granger family piled into the family Range Rover, and sped down the road, towards the magical world.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Daniel Granger drooled.</p>

<p>Emma stood in front of him wearing what Hermione called ‘robes’ and what he called a figure-hugging, form-fitting, curve-showing, dress. The material around the forearms, legs, and feet hung loose and billowed, but was tight at the shoulders, chest, waist, and bum.</p>

<p>“This is amazing,” Emma said, spinning and twisting to inspect herself, “It was all loose before I put it on, but as soon as I straightened it, it just sort-of moulded itself to me.”</p>

<p>He nodded, still staring.</p>

<p>“The material is so soft, but it’s also quite thick. It doesn’t seem to stretch much, but I have no problems moving in it at all… how does that work?”</p>

<p>He continued to stare, before realising he should probably say something. “Magic?”</p>

<p>She giggled. She actually giggled. He hadn’t heard her giggle in years.</p>

<p>He swallowed.</p>

<p>“You look pretty good too, Dan.”</p>

<p>He snorted. “I look like a monk.”</p>

<p>“Monks don’t have finely embroidered, black on black robes.” She stepped towards him, swaying as she neared.</p>

<p>His pupils dilated.</p>

<p>She leant into him, and whispered by his ear. “I think they make you look like the manly man who once ravished me in a club bathroom.”</p>

<p>His breath hitched. He brought his hands around her waist, and felt the curve of her body under the silk-like material. “That was quite a while ago,” he breathed.</p>

<p>“Too long ago,” she murmured.</p>

<p>Emboldened, he skimmed a hand up the feminine curve of her back, reached her hair, bunched it in his grasp, and pulled back and down, firm but also gentle.</p>

<p>She gasped, and moved with him, exposing her neck, and forcing her to look into his eyes.</p>

<p>He gazed into those twin hazel beacons, and saw something he hadn’t seen in close to a decade. Lust, excitement, nervousness.</p>

<p>Her breathing shuddered, and he was sure she could feel his excitement pressed up against her, even through the clothes they wore.</p>

<p>His lips moved closer to hers.</p>

<p>*Knock* *Knock* *Knock*</p>

<p>“Mum! Dad! Are you ready yet?”</p>

<p>They both froze. Reality poured back into their world, and the dim, dark interior of the Leaky Cauldron bathroom came back into focus.</p>

<p>Emma cleared her throat. “Yes dear, we’ll be out in just a minute.”</p>

<p>He heard something sounding vaguely like a huff from beyond the door, and footsteps walking away. He returned his attention to the beautiful woman still pressed against him. His hands returned to her waist. “We <em>will</em> continue this later,” he stated in a voice as immovable as a mountain.</p>

<p>She continued to gaze into his eyes. When her voice finally escaped it was low and husky. “Whatever you would command of me, my sexy head of house.”</p>

<p>A shiver ran up Daniel Granger’s spine. Truly, sometimes, there was something to be said for wizarding culture.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>The goblins working the tills of Gringotts Bank, London, really hated the run up to Hogwarts new year. Pureblood parents would act extra snooty to show their impressionable children how to deal with ‘their kind’, half-blood parents would utterly butcher their attempts at goblin culture while giving themselves smug, self-congratulatory pats on the back, and muggleborn parents would run around like humans with their heads cut off, alternating between bemused worry and indignant outrage.</p>

<p>Of course, this was a generalisation, but generalisations generally hold true, which is why teller clerk Spatial-Arbitrage looked on with resignation as a small human female, wearing extremely muggle clothes with bushy earth-coloured hair, walked in the door of the Gringotts main hall, and looked around with the awestruck countenance of a typical muggleborn.</p>

<p>Then the girl’s parents walked in, and his goblin mind rang a warning bell. They walked like muggles, looked around like muggles, but wore what wizards would consider high-end, expensive fashion. They dressed like members of a pureblood or noble family. But no pureblood or noble house that he could think of would allow their daughter to walk around dressed like that — not even those of the Light.</p>

<p>The girl now walked towards his counter, and his attempts to pin her down into some kind of box failed even harder. Despite her muggleborn-like awe of her surroundings, she moved like a human pureblood female, like the heiress of an ancient and noble house. How odd.</p>

<p>She now stood right in front of his desk, looking up at him. Her parents, or what he assumed were her parents, stood a few feet behind her. They seemed to be deferring to her. Why?</p>

<p>He raised an expectant eyebrow at her.</p>

<p>“Greetings, teller clerk Spatial-Arbitrage. May your day be profitable and your enemies bleed.”</p>

<p>Well, that was one for one.</p>

<p>“And you, young witch, may your affairs bear fruit, and your foes suffer. What can Gringotts help you with today?”</p>

<p>“My patron has made an appointment for us to meet with account manager Ragnok Boneslicer.”</p>

<p>Now that raised both his eyebrows. Ragnok Boneslicer held the accounts to several ancient and noble families, and the Boneslicer clan was a rising power. “And you are of house…?”</p>

<p>“Granger, clerk teller.”</p>

<p>Granger… Granger… didn’t ring any bells. He glanced at the adult witch who watched the scene with a mother’s oversight, like a lioness watching her cub play with live food. Her face didn’t seem to have any of the classic tells of any of the ancient lines. Nor was there a noble house ring visible that might hint at her birth house. But, then again, it was easy to be wrong with humans, even with <em>his</em> training, and rings didn’t <em>have</em> to be visible.</p>

<p>“Well, if you will wait a moment, I will confirm the appointment and see you to the account manager’s office.” He slid off his high chair and walked past the family. He turned to the adult wizard and witch. “And I will say it is good to see wizarding parents who properly educate their children in our ways.” He turned back and walked off.</p>

<p>Behind him, Daniel and Emma Granger shared an amused glance between themselves before turning their proud gaze on their daughter, who was trying hard not to look smug.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Hermione strode down the many passageways of Gringotts, careful to maintain a respectful distance from the goblin in front of them while occasionally glancing behind to ensure her parents were still with them. This was all mostly formality. She and her parents had spent days going over the contract they were about to sign, and had even pulled in both a muggle and magical lawyer to give it a careful picking at.</p>

<p>A pair of large doors swung open in front of her, and they were ushered into a waiting room.</p>

<p>Barely a few minutes had gone by before another pair of doors at the end of the waiting room swung open, and a large goblin waved them inside. The goblin took a seat behind a large mahogany table. The three of them sat in the chairs lined in front of the desk, her father in the middle, she and her mother on either side.</p>

<p>The goblin looked towards her father. “Welcome to the Wizarding World Mister Granger, I am Ragnok Boneslicer of the Boneslicer Clan. May your practice prosper, and your enemies get cavities.”</p>

<p>Hermione and Emma giggled.</p>

<p>Her father tried to hide an amused smile. “And may your gold flow and your enemies wind up in a bloody decapitated mess a coin’s toss away from an occupied dragon pen.”</p>

<p>Ragnok grunted. “A bit much for a first meeting, but a very enthusiastic attempt nonetheless, Mister Granger.”</p>

<p>Daniel Granger smiled sheepishly.</p>

<p>“Before we get to the meat of our meeting, Lord Slytherin suggested our young Miss Granger here undergo an inheritance ritual. Would you have any objections?”</p>

<p>Her father glanced at her, to which she gave a short nod.</p>

<p>“That would be fine,” he said.</p>

<p>Ragnok stood up, picked up an ornate silver knife from the table and looked towards her. “Are you familiar with the inheritance ritual, Miss Granger?”</p>

<p>She took a deep breath. “The inheritance ritual dates back to the fifteen hundreds and the founding of Gringotts. It uses a combination of Gringotts records and the Albion Family Magics to place a person within a family line, and highlights any titles, or inheritances they are eligible for. It is one of the more basic rituals used in modern wizarding society, requiring but a single drop of blood to be sacrificed into a purpose-made runic chalice. The ritual is owned by the goblin nation, and may only be carried out by citizens of said nation.” She took another long breath.</p>

<p>Ragnok blinked. “Hmm, I think I can see why Harry likes you.”</p>

<p>She went slightly pink. The adult Grangers smirked at each other.</p>

<p>“Yes, that is more or less right. Here you go.” Ragnok handed over the knife to her and watched her expectantly.</p>

<p>She held the knife and nervously made a small prick at the tip of her index finger, letting a single drop of blood fall into the silver chalice on the desk. Both she and her parents watched in fascination as the prick healed itself, and the blood stopped flowing.</p>

<p>Ten minutes later, after a very interesting conversation, they’d confirmed that she was indeed a true muggleborn, and not the long-lost squib line of Merlin. They all pulled out their papers and got down to the real business.</p>

<p>Ragnok crouched behind the desk and brought out an ornate stained oak box. He opened it. Inside sat six silver rings. Three of the rings had a small snake wrapped around the setting, while the other three featured a wreath of wheat. “We just received these back from the enchanter. A most unusual request, to be sure, but when does our Lord Slytherin ever do things the normal way?” He laughed at what appeared to be an inside joke before gesturing to the rings. “The wheat ones are, of course, yours, just sign here and the House of Granger will be officially recognised by the ministry as a house.” He pushed a filled-in form towards her father who picked up the quill offered and signed where shown. A small cut on the back of his hand briefly showed his signature etched in blood before fading.</p>

<p>Her father picked up the box.</p>

<p>“Well, here’s to the magical world. Hermione, Emma,” he intoned, handing each a ring.</p>

<p>They each put on a ring and felt the magic catch. Dan’s glowed for a split second before recolouring itself gold.</p>

<p>“Congratulations, Head of House Granger.”</p>

<p>Dan grinned. “How long until the wizard ministry challenges it?”</p>

<p>Ragnok returned his grin. “With this next bit, hopefully never.”</p>

<p>They returned their gaze to the papers in front of them, and Ragnok cleared his throat. “Ah. Allow me to read out the salient points. I know you’ve already read it through many times, but it is only proper. We haven’t done one of these for hundreds of years after all.”</p>

<p>Hermione smiled. It had taken a lot of work to get to this point but once she had a firm grasp of the legal position she and her parents were in, it was only a matter of time before she and Harry worked something out to safeguard herself and her family.</p>

<p>“Point one,” Ragnok read, “Vassalage of House Granger to the Most Ancient and Noble House of Slytherin.</p>

<p>“Responsibilities of Ancient and Noble (AAN) House Slytherin</p>

<p>“A - AAN House Slytherin will arrange for and authorise the installation and maintenance of war-level goblin wards around the Granger residence.</p>

<p>“B - AAN House Slytherin will offer permanent residence at Slytherin Manor for members of House Granger during times of war.</p>

<p>“C - AAN House Slytherin will champion House Granger in any legal disputes that may arise in the magical world.</p>

<p>“D - AAN House Slytherin can stand in loco certatior for any members of House Granger challenged to an honour duel, and <em>will</em> for any non-magical members.</p>

<p>“E - Lord Slytherin will act as magical guardian to minors of House Granger born to non-magical parents.</p>

<p>“F - AAN House Slytherin will magically defend the interests and honour of House Granger within the means offered by the law, up to and including declaring blood feuds.</p>

<p>“G - AAN House Slytherin will grant House Granger unfiltered access to the Slytherin Library.</p>

<p>“H - AAN House Slytherin will make all reasonable effort to secure places for all eligible children of House Granger at Hogwarts School of Witchcraft and Wizardry.</p>

<p>“I - AAN House Slytherin will train all magical members of House Granger in the mind arts from age five until they have reached mastery level three.</p>

<p>“J - AAN House Slytherin will extend AAN House legal rights to House Granger within the extent permissible by the law.</p>

<p>“K - AAN House Slytherin will grant House Granger a one-acre parcel of land on the grounds of Slytherin Manor along with the option to build a medium-sized country house.</p>

<p>“L - AAN House Slytherin will respect the family secrets of House Granger and not divulge secrets to other houses, including other vassal houses, without consent of the Head of House Granger.</p>

<p>“Responsibilities of House Granger</p>

<p>“A - House Granger will grant right of first refusal of any betrothal contracts to AAN House Slytherin.</p>

<p>“B - House Granger will support AAN House Slytherin during times of war with able wands and minds.</p>

<p>“C - Working-age members of House Granger will provide fifty workdays a year (or an equivalent) to AAN House Slytherin.</p>

<p>“D - AAN House Slytherin will be granted twenty-five percent royalties on intellectual property held by House Granger.</p>

<p>“E - AAN House Slytherin will be granted a five percent share on all earned and business net incomes owned by House Granger along with options for a position on the boards of said businesses.</p>

<p>“F - House Granger will not divulge Slytherin family secrets without the leave of Lord Slytherin.</p>

<p>“G - House Granger will provide AAN House Slytherin with unfiltered access to the House Granger Library.”</p>

<p>Hermione nodded through most of it. The actual contract was much bigger and contained a lot more legalese but the intent was clear. Whatever happened in the future, so long as the House of Slytherin survived, the House of Granger would be protected.</p>

<p>The biggest sticking point for her parents had been the betrothal contract clause, until it was pointed out to them that it only became an issue if House Granger actually wanted to use a betrothal contract. Mostly, the clause was just to stop other houses trying to force a betrothal contract on her through some other method. In such a case, her father could just point out that of course, they’d <em>love</em> to do a contract, but Lord Slytherin would always get ‘first dibs’. That had never happened in the second timeline, but considering how she’d acted then, it wasn’t surprising.</p>

<p>Another interesting clause was the war wards. These would give the Granger residence high-level protection, and the house rings that both her Mum and Dad now wore drew power from the wards of the house to offer basic shielding from magical attacks. So long as they were at home, they were reasonably safe. The rings were also voice-activated portkeys, and altered clothing worn to show the coat of arms of Slytherin House, complete with vassalage crest.</p>

<p>They weren’t noble house rings by anyone’s opinion, but they were as good as money could buy for a small, warded area.</p>

<p>Eventually, her father picked up the blood quill once again, and signed.</p>

<p>Ragnok grinned a goblin, toothy grin. “Welcome to the family”.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Outside the bank, Hermione stretched her arms to the sky. “Whew.” She looked around the alley. “Can we go clothes shopping next? I really want to get my new school robes.” She glanced with a little envy at her parents’ clothes. The Slytherin shield didn’t look so good on her currently very muggle clothes, and she was loath to take off her brand-new magic ring.</p>

<p>Her mum chuckled. “Certainly, Hermione. I think your father and I will wander over to the Leaky Cauldron, and get some lunch. Do you think <em>you’ll</em> be okay on your own?”</p>

<p>She nodded. “Yes, Mum.” She hesitated before eyeing her parents. “Do you think you’ll be okay on your own?”</p>

<p>Emma looked at Dan. “I think if we can’t survive a few hours on our own in the magical world, it’s better we find that out now.”</p>

<p>Hermione nodded again, turned, and wandered down the alley until she arrived outside Madam Malkin’s Robes for all Occasions.</p>

<p>“Hello, dearie,” said a middle-aged witch, upon entering. “Hogwarts is it?”</p>

<p>“Yes,” she answered.</p>

<p>“Right along there then, with the young man being fitted in the back.”</p>

<p>She wandered to the back of the shop, stepped up on the stool, and found herself facing a boy of about her own age with brown hair so light it was almost blond. It was neatly combed to the side, and he held himself with a dignity that made Hermione immediately conclude ‘Pureblood’. His robes were pinned all over him. The assistant was to one side, busy taking notes.</p>

<p>The boy looked her over. “How do you do. My name is Justin Finch-Fletchley.” He held out his hand.</p>

<p>Hermione thought a bad word. <em>Not</em> pureblood! Her mind scrabbled. Finch-Fletchley was one of the muggleborns in her year, but she wasn’t supposed to be dealing with this until September the first. On the other hand, this boy practically screamed ‘upper class’. If any muggleborn could take it, it would be this one.</p>

<p>She took his outstretched hand between thumb and forefingers, and bobbed a shallow curtsey. “Pleased to meet you. Hermione Granger, of the House of Granger, vassal of the Most Ancient and Noble House of Slytherin.”</p>

<p>Justin raised his eyebrows at this, but quickly recovered, giving a little bow of his own.</p>

<p>“Ah, my apologies, I didn’t realise we were ‘on display’ as my parents like to say.”</p>

<p>She smiled. “In the Wizarding World, you are always ‘on display’.”</p>

<p>“Is that so? I was going to Eton. Thought I’d got away from all that by coming here.”</p>

<p>“I’m afraid not. The Wizarding World has many of its own customs and rituals, and many of them aren’t well spelt out to newcomers.”</p>

<p>Justin looked uncomfortable. “You mean, I’m on display, and I don’t know any of the rules?”</p>

<p>“Pretty much.”</p>

<p>“I haven’t already messed up talking to you have I?”</p>

<p>Hermione gave a winning smile. “Well, it isn’t exactly polite to extend your hand to someone of higher rank. Of course, I’m not of higher rank than you, but you didn’t know that. Best to wait for the introductions first before offering your hand.”</p>

<p>“And how do you tell if someone is higher rank?”</p>

<p>“That’s… not an easy question to answer. Best just to not offer your hand to anyone until you’ve learned the rules.”</p>

<p>Justin looked back towards the assistant who was still scribbling notes. “And how do I learn the rules?”</p>

<p>“Well, normally your parents or a portrait would teach you.”</p>

<p>“Portrait?”</p>

<p>“A moving painting, usually of one of your ancestors.”</p>

<p>Justin gave a nervous smile. “I’ve got lots of paintings of my ancestors. None of them talk though.”</p>

<p>Hermione laughed. “Well, you’re doing better than me. I don’t have any portraits at all. Talking or otherwise, just still photos of my grandparents, who were more likely to offer to play darts with you, than teach you etiquette.”</p>

<p>Justin perked up. “So, your parents aren’t magical?”</p>

<p>“Oh no. I’m muggleborn, just like you are.”</p>

<p>Justin frowned. “Then how do you know all this?”</p>

<p>“When I was eight, a friend of mine happened to realise I was a witch. He’s a wizard from one of the older magical families. He taught me a lot of the culture, and brought my family under the protection of one of the Most Ancient and Noble Houses.” She tapped the Slytherin coat of arms on her shirt.</p>

<p>Justin squinted at the shield “Umm… isn’t that Slytherin?”</p>

<p>She nodded.</p>

<p>“Isn’t Slytherin one of the Hogwarts houses?” Justin asked. “Isn’t it supposed to be really… err… evil?”</p>

<p>She snorted. “All the houses have a bad reputation. Gryffindor is for foolish headstrong wannabe heroes. Hufflepuff is for hardworking and loyal idiots, Ravenclaw is for antisocial and aloof nerds, and Slytherin is for backstabbing evil bas— er, people.”</p>

<p>“Umm… wow. That’s quite a summary.”</p>

<p>“Thank you.”</p>

<p>“… Sorry, did you say you were a <em>vassal</em> of Slytherin House?”</p>

<p>“Yes.”</p>

<p>“You don’t… we don’t all become vassals of the house we join, do we?”</p>

<p>“Oh no, of course not. I’m a special case. My house’s vassalage has little to do with the Hogwarts part of Slytherin House.”</p>

<p>“Ahh. Good then.”</p>

<p>A silence descended upon the pair of them while the assistant witch finished pinning her robes around her.</p>

<p>Justin was just finishing up. He stepped off the stool, and looked like he was about to leave, but turned back just as the assistant witch was handing him his bags. “I don’t suppose you could find a way I could learn all those rules could you? I’d hate to think I was embarrassing myself.”</p>

<p>Inside, Hermione Granger did a little, private victory jig.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Hermione stepped outside the clothes shop wearing brand-new casual robes, the shield of Slytherin House proudly displayed for the entire Wizarding World to see. Her school robes and muggle clothes sat neatly shrunk in a side pocket. She rubbed her hands together. Everything was going so well. She’d achieved a quarter of the mission Harry had given her for the Hogwarts express, and she hadn’t even set foot on it yet.</p>

<p>Now that clothes were taken care of, it was time for the next most important thing on the list. A wand! And this time, the mission from Harry was <em>meant</em> to be done now.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>The bell rang, and Hermione stepped into the dusty old shop. Boxes were piled everywhere. Thousands of wands, each destined to a single owner, each containing either unicorn hair, a dragon heartstring, or a phoenix feather.</p>

<p>Hermione remembered Harry’s words, spoken not too long ago.</p>

<p>“Forty new students a year, Hermione.” They’d been sitting opposite each other in her parents’ back garden. Harry’s conjured chairs overlooked the vegetable patch. “That’s for Hogwarts alone. Another 150 go to other, smaller, lesser-known schools in the British Isles.” He looked up from where his forehead rested on his knuckles.</p>

<p>She nodded to show she was following.</p>

<p>“Then there are the other wizards and witches that need replacement wands for whatever reason. Call that a doubling of demand — so four hundred-ish wands on average in the UK a year. Then there’s the rest of the world… Obviously other wandmakers use different combinations of wand cores. Gregorovitch has been known to use veela hair, thestral tail hair, and even coral, among others. But many wandmakers use Ollivander’s three-core system, and that still leaves the underlying problem. Brother wands are rare, Hermione.”</p>

<p>“I don’t understand. What is a brother wand?” She edged forward on her chair, closer to the new knowledge, closer to Harry.</p>

<p>“A brother wand is a wand that shares a core from the same animal. I had the brother wand to Voldemort’s in the second timeline. When brother wands meet in battle they produce a priori incantatem effect that locks the wands together and produces a powerful magical knockback on the caster that loses the subsequent battle of wills.”</p>

<p>She nodded, slowly, trying to see the implications.</p>

<p>“When I was sent to Azkaban, Dumbledore took my wand, and later used it in a battle with Voldemort to stall him while the order achieved a side objective. Voldemort was pretty annoyed about this, and subsequently delved deep into wand lore to understand what went wrong. That’s how I was able to make this.” He held up his fifteen-inch yew and thestral hair wand. “Eventually he discovered the brother wand effect, but he had to go directly to Ollivander to find it. It’s not common wand lore. You won’t find any mention of brother wands in standard duelling rules and regulations, nor will you find it in basic books on wand troubleshooting, nor on wand care and maintenance, nor is it a part of any active government laws and regulations, even in the market for wands, which is one of the most highly regulated markets in the Wizarding World. As I said before, brother wands are rare. So, can you see the problem?”</p>

<p>She nodded, slowly. “Where are the tens of thousands of dragons, unicorns and phoenixes needed to ensure the rarity of brother wands?”</p>

<p>Harry smiled, grimly. “Exactly.” He leaned back in his chair. “We know how they get the dragon heartstrings. Dragons are farmed. It’s not pretty, but dragons grow really quickly. You can have a dragon that’s ready to give its heart to a wand in as little as three months. Most dragons never live to see their first winter, and never fly past the mountain they were born on.”</p>

<p>Hermione put her hands up to her mouth, her eyes wide in horror. “That’s… that’s terrible. Oh, those poor creatures.”</p>

<p>Harry shrugged, face grim. “It is what it is. The Wizarding World uses dragon in many different products. Dragon liver, dragon heartstrings, dragon blood, dragon hide, the list goes on and on. It’s the only reason dragons are still around as much as they are. It’s quite hard keeping the existence of dragons quiet you know.”</p>

<p>She shuddered, before continuing in a whisper. “What about the unicorns?”</p>

<p>Harry brightened. “A bit better news there. Unicorn tail wand cores are made up of many different unicorns’ hairs, all interwoven together. The different combinations of hairs in each cord ensures that the brother wand effect never becomes an issue.”</p>

<p>She sighed in relief. At least there wasn’t a battery farm out there raising and slaughtering baby unicorns.</p>

<p>“Phoenixes are where we have a problem. Phoenixes are amazing creatures. They are very intelligent. They can carry extremely heavy loads. Their tears have healing properties, and they can travel by flame, teleporting themselves and others anywhere they wish.”</p>

<p>Hermione’s eyes widened. “I’d read stories with phoenixes in them, but I wasn’t sure if their powers were real or made up. They seem too good to be true.”</p>

<p>Harry smiled. “They are. Real that is. And too good to be true. You’d think that with how incredible phoenixes are that everyone would have one. But they don’t. Phoenixes are extremely difficult to domesticate. There are only two people in the world who have a phoenix, Albus Dumbledore, and some sports team in New Zealand. Phoenixes are supposedly very picky about whom they bond with, but once that bond is established they are loyal. Loyal until death. Almost always the human’s death. Phoenixes live for immensely long periods of time, owing to their ability to be reborn from their ashes when they die.”</p>

<p>Hermione scrunched up her face, and frowned.</p>

<p>Harry continued. “So… we have a bird that is almost impossible to catch, because it can teleport past any wards known to wizardkind, almost impossible to domesticate, with only two currently known cases, almost impossible to hunt as killing one will result in a ball of flame, a pile of ashes, and no feathers, with a lifespan measured in hundreds if not thousands of years, and yet rare enough in numbers that the muggles can’t confirm their existence.” Harry brought his hands together in front of him and steepled his fingers. His eyes gleamed. “So the question is this. Where the fuck does Ollivander get his phoenix feathers?”</p>

<p>The dust of the shop tickled Hermione’s nose and jolted her from her musings.</p>

<p>“Good morning,” said a soft voice from right beside her ear.</p>

<p>She jumped, but quickly rallied.</p>

<p>“Good morning. Are you Mister Ollivander?” She didn’t curtsey, or handshake, or bow, or introduce herself by title, or anything. Not here. Mister Ollivander might be a senior member of the oldest most ancient British house still alive, but in this context, he was a trader, and there were few formalities with traders. Besides, it would throw off her spiel.</p>

<p>“Yes. And you are here to buy a wand, of course.”</p>

<p>“Of course. I’m Hermione Granger, sir. This is all terribly exciting. Isn’t it? I mean, a wand, and magic. How do I decide what wand I’m going to get?”</p>

<p>The man in front of her chuckled while a number of tape measures started wrapping themselves around her. She idly wondered if wand compatibility changed as a wizard grew.</p>

<p>“The wand chooses the wizard, my dear, or witch in your case. I don’t recognise the name Granger. I assume your parents are non-magical?”</p>

<p>“Yes, sir.” Her tone conveyed her eagerness to own the ultimate symbol of magic.</p>

<p>“Mmm… I suggest we start you here then.” He withdrew a box from the nearest shelf, and handed her a plain-looking wand.</p>

<p>She shook it, but nothing happened.</p>

<p>“Ah, guess not. How about this one?”</p>

<p>The wand choosing went on for ages. After an hour, there were open boxes festooning the entire shop, and Mister Ollivander was getting more and more excited.</p>

<p>“Another tricky customer,” he muttered under his breath, “This year’s batch has been really quite interesting… mmmm… maybe I was wrong about you… maybe you need a little more… yes, let’s try this one, cherry and dragon heartstring, ten inches.”</p>

<p>The wandmaker handed her the wand and a few pure-white sparks came out the end. Mister Ollivander’s eyes lit up a split second before he snatched it back. “I knew I was getting close. Okay, then…”</p>

<p>And so it went. After another half-hour she started to worry about her parents.</p>

<p>“Annn…” Mister Ollivander seemed uncertain, but eventually opened an ornate and dusty box, within which was a much longer wand. “Here, try this one. Ash and dragon heartstring, fifteen inches.”</p>

<p>Hermione reached for the wand and felt the warmth before she’d even touched it. She grinned, and gripped it. A fountain of pure-white sparks shot from the end and landed all around her.</p>

<p>Mister Ollivander clapped. “Well done, Miss Granger. Very well done. And such an unusual combination.”</p>

<p>“Really?” Despite the long time in the shop she’d managed to maintain her enthusiasm the whole time.</p>

<p>“Oh, yes. Very unusual. Ash, and dragon heartstring. Why I don’t think I’ve ever seen that combination sold before. I made this wand nearly sixty years ago, and didn’t think I’d sell it in my lifetime. Complete opposites. Diametrically opposed. A healer’s wand, Miss Granger, but a healer’s wand with bite, so to speak.”</p>

<p>Her eyes widened a tad.</p>

<p>“Really, sir? I would have thought phoenix feather for a healer’s wand.”</p>

<p>Mister Ollivander chuckled. “Oh, you’d think so wouldn’t you? What with phoenix tears and all. You are a scholar, Miss Granger. But no. The normal core for a healer’s wand is unicorn hair. To have dragon heartstring is most unusual. It is the ash that gives it the healing qualities. Diametric opposites, as I said.”</p>

<p>“Does this mean I don’t have an affinity for phoenixes or unicorns then?”</p>

<p>Mister Ollivander raised a questioning eyebrow</p>

<p>“I mean, to be a healer, having access to phoenix tears or freely given unicorn blood would be helpful wouldn’t it?”</p>

<p>“Helpful?” The old man looked thoughtful. “Yes. It would be. Very rare though.”</p>

<p>“Sir?” She bounced on her feet and looked around. “It can’t be that rare, sir. I mean, how many phoenix feathers are in this room?”</p>

<p>The old man stilled, and allowed the sounds of the street outside to filter into the silence of the dusty shop. “Sometimes, Miss Granger,” he started, the words careful and measured. “Rarity depends on where one stands.”</p>

<p>“I don’t understand.”</p>

<p>“I remember every wand I’ve ever sold, Miss Granger, every single one. I also know the styles of every other wandmaker out there. Anyone who is anyone worth knowing.”</p>

<p>She tilted her head.</p>

<p>“A dozen moons ago, I was approached with a memory, the memory of a wand, which someone sought to identify. It was a very fine wand — long, yew, ostentatious, but done to a quality and accuracy that I’ve never seen before. It was certainly not any wandmaker that I know. Nor was it a legacy wand — old wands leave traces that are identifiable to the trained eye.”</p>

<p>Her mind whirled. He wasn’t talking about Harry’s wand was he?</p>

<p>“That wand was a very rare wand. Unique, I would say. And I find myself wondering where the young man that wielded that wand got it from.”</p>

<p>She stared blankly at him.</p>

<p>“Something of a mystery that is,” he tried.</p>

<p>She shifted to a look of innocent puzzlement.</p>

<p>“Well, in any case. You have yourself a very special wand there, Miss Granger. Healing and combat in one very powerful package. I expect to see great things from you.”</p>

<p>“Thank you, sir.” She turned to leave, deciding to get out now before she gave something away.</p>

<p>“Oh, and Miss Granger?”</p>

<p>She stilled at the door</p>

<p>“The next time you go for the innocent, wide-eyed muggleborn routine, I suggest you do so without your Slytherin vassalage crest on your robes.”</p>

<p>Hermione felt herself go red, and bolted from the shop.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>An hour later, and a considerable number of galleons lighter, Hermione, Dan, and Emma emerged from Flourish and Blotts. Hermione was still cringing from the wand shop, and had decided to alleviate her embarrassment by drowning herself in books. She’d taken her newfound wand speciality to heart, and bought most of the shop’s available books on healing.</p>

<p>Her dad had gone ahead and grabbed every available book on runes, and her mum had done the same for arithmancy. All in all, it was a very productive day for the newly minted Granger Library, and a visit to the trunk shop yielded a brand-new library for most of her parents’ books to go in.</p>

<p>There was just one more item on Harry’s mission list, and she was going to make damn sure she got this one right.</p>

<p>She marched into Eeylops Owl Emporium, and immediately spotted, and then sidled up to, her quarry. The snowy owl eyed her owlishly.</p>

<p>“Hello, girl,” she whispered.</p>

<p>“Hoot.”</p>

<p>“My lord says I am in need of the most beautiful and cleverest owl I can find — an owl who can find anyone, anywhere, and who is willing to be paid in mountain-high stacks of bacon.”</p>

<p>“Hoooot!”</p>

<p style="text-align: center;">— End of Chapter Thirteen —</p>

