Chapter 15 - The First Year's Train Dance

<p>Platform Nine and Three-Quarters was a marvel of magical space folding. The enchantments surrounding this icon of the British magical world had to hide not only the platform, but also the rail track, which snaked out of the station and cut its way straight through a city of eight million muggles. After it left the city, the rail line had to stay hidden for the entire eight-hundred-kilometre journey, all the way to Hogsmeade station. A thin slice of magic, indelibly cutting the country in two.</p>

<p>Muggle-repelling charms and standard ruin-illusions would do no good here.</p>

<p>Figuring out a way to hide such a conspicuous tract of Wizarding World territory was to be one of the greatest engineering feats of the arithmancy revolution — or rather, that’s what the 1827 minister of magic, Ottaline Gambol, told her contractor, Lord Woodson Hawking. To which Lord Hawking deadpanned, “You’re havin’ a jape, Gambol.”</p>

<p>Nevertheless, after nearly twenty years of work, the Noble House of Hawking <em>did</em> crack the problem. The solution was in reverse-expansion charms. Instead of creating more space where there was none, Woodson figured out how to create <em>no</em> space where there was some.</p>

<p>All the way up and down the country, whenever anyone crossed the five-metre-wide slice of land that contained the Hogwarts Express line, they bent through an undetectable, space-contraction ward, none the wiser of what just happened. New muggleborns on the Hogwarts Express would shriek in fear and delight as motorway cars barrelled straight towards the train, only to disappear mere inches from the track and instantly reappear on the opposite side.</p>

<p>This all required one of the largest warding projects of all time, because while it’s relatively easy to ward a four-square-kilometre circle, it’s a lot harder to ward a four square kilometre strip that’s five metres wide and eight hundred kilometres long. In all, 320,000 miniature ward stones were needed. Two every five metres. These stones were housed below the Hogwarts Express line, in an eight-hundred-kilometre subterranean passageway called a ward tunnel. Because the failure of even a single stone could endanger the whole line, regular checks were required to ensure the stones were all in order.</p>

<p>Not many people knew this. Also, not many people knew that Platform Nine and Three-Quarters was sealed off anytime there wasn’t a train in service. More people knew that Hogsmeade station was <em>not</em> sealed off when there wasn’t a train, but few considered it of any huge import. This only goes to show that while the Wizarding World may not be as silly as many people would like to believe, it does still tend to overlook small details.</p>

<p>Harry James Potter, current Lord Slytherin, future Consort Lovegood, time-traveller, former Azkaban resident, and most definitely the boy-who-lived, sped down the ward tunnel on his trusty Nimbus 1700 broomstick. The walls held no lights. This didn’t worry him. In the hand not gripping the broomstick, he held his newest toy, a back-mirrored hand of glory. The shrivelled appendage cast a bright light in front of him, illuminating some sixty metres of tunnel. At one hundred kilometres per hour that gave him about two seconds to react should something block his way.</p>

<p>This also didn’t worry him. He’d always been amazing on a broomstick. In fact, he suspected that if the whole parents-dumping-him-at-the-Dursleys’ thing hadn’t happened, he’d probably have <em>been</em> a quidditch player. Yes, he could fly without one, but it just wasn’t the same.</p>

<p>He passed yet another maintenance floo and checked the time. One o’clock in the morning. He’d been flying for nearly eight hours now. He should be nearly… ah. He slowed down and stopped as the tunnel opened out into a much wider space. The ward stones here were larger, more powerful, and more numerous. He could <em>feel</em> the thrum of magic seeping off them.</p>

<p>Harry reached into his pocket and pulled out his shrunk trunk. A quick rummage produced the Potter invisibility cloak, which he donned. He re-pocketed his trunk, padded over to the stairs, and examined the door at the top of them. The door was warded, just like it had been for Tommy-Boy when he’d explored down here. The underground room was also warded against apparition, but, and this was the important bit, the platform above wasn’t. He looked up to the roof, some four metres overhead and slowly floated up to meet it. It also seemed that the warders working on this stretch of the project hadn’t been as thorough as they should have been. You couldn’t apparate into the platform when it was sealed, but once you were inside…. He reached the very top and pressed himself flat against the ceiling. He smirked. Destination, determination, deliberation. There was a faint crack and he found himself less than one metre from where he’d started, but this time <em>on</em> the platform.</p>

<p>There sat the Hogwarts Express in all her scarlet metallic glory. He’d ridden her thrice in his life, and seen her ridden fourteen times before that. The platform was empty. Dead. He shivered and apparated straight into the first public compartment.</p>

<p>Unshrinking his trunk again, he withdrew a standard warding kit and a small tuft of burnt-brown human hair. He had an hour. Today was a big day, and he couldn’t afford to play on anything less than a full eight hours of sleep. He took off his shoes and socks, gripped his hand of glory between his bigger and smaller toes, picked up the kit’s paintbrush, unscrewed a jar of invisible ink, and, resisting the urge to whistle, got down to work.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione Granger stood with her parents in King’s Cross Station. Her heart raced. Her eyes took in every detail of the 19th-century building, all red-brick, black-steel, and glass.</p>

<p>People bustled all around them, oblivious to the wonders that lay just beyond the nearby gate. They stared at Hedwig as they dashed by, sitting as she was in her cage on her trunk. Occasionally, a child would point and exclaim.</p>

<p>This was it. This was the day. This was—</p>

<p>She stopped suddenly. She’d been thinking that quite a lot recently. Every day seemed to be <em>the</em> day. She shook her head.</p>

<p>“You ready, sweetie?”</p>

<p>She took a deep breath. “Yes, Mum.”</p>

<p>“Now you <em>are</em> going to owl us aren’t you?”</p>

<p>“Yes, Mum.”</p>

<p>Hedwig gave an affirmative bark.</p>

<p>“And you’re going to ask Harry for help if you need it?”</p>

<p>“Yes, Mum.”</p>

<p>“And if a really big problem comes up, what do you do?”</p>

<p>“Owl Lord Slytherin, Mum.”</p>

<p>“Very good.” The older female Granger had tears in her eyes. “Don’t worry dear, we’ll all see each other at Christmas.”</p>

<p>She nodded. Tears threatened her eyes too.</p>

<p>Her Dad spoke. “You do us proud in there, Hermione. I know his lordship has given you some special tasks. Keep one eye on them, and one eye on your studies, yes?”</p>

<p>She sniffed and blew her nose with a quickly produced handkerchief. “Yes, Dad.”</p>

<p>“Right, go for it then.” He hugged her.</p>

<p>She hugged him back, and before she could lose herself anymore, she turned and hugged her mother too. She took another deep breath, turned her trunk and raptor-ladened trolley, pointed it in the direction of the space between platforms nine and ten, and walked off at a brisk, confident pace. Her heart beat even faster as she neared the barrier, but she didn’t slow down. She reached it, closed her eyes, and opened them a moment later to see the magnificent scarlet Hogwarts Express.</p>

<p>She kept on walking and joy filled her heart. Her world. She looked around and suddenly realised that, like in Diagon Alley, she was surrounded by other witches and wizards. Her Slytherin mask slid into place and her pace slowed to a more graceful gait.</p>

<p>To her left, an older wizard complained to an even older witch. “I mean really, all this fuss over one prepubescent kid.”</p>

<p>“Now, now, Gilbert. You wouldn’t be saying that if you’d been in the country eleven years ago.”</p>

<p>Her joy faded a notch. She mentally rolled her eyes.</p>

<p>A little further on, a group of older students bantered among themselves. “Check it out. Mum baked two cakes. I get to present the other to the boy-who-lived when we’re off.”</p>

<p>She shook her head.</p>

<p>Nearing the centre of the platform, she caught sight of today’s Daily Prophet headline on a sales stall. <em>Boy-Who-Lived Starts Hogwarts — Pride of the Light.</em></p>

<p>Humph! She barely held back a scowl. And people were going to call her ignorant. How could they heap such praise and attention on her Harry’s brother, and then turn around and treat her best friend like scum scraped off their boots?</p>

<p>Hermione turned her back on the offending newsstand, walked a few paces away, and looked around for a place to change. She spotted a dark corner and headed towards it. She picked Hedwig off the top of the trunk, opened the lid, and, much to the surprise of a few nearby wizards, climbed into the trunk, and locked the lid behind her.</p>

<p>Back inside her beloved miniature library, she stripped down to her underwear and pulled on her brand-new, black, acromantula silk Hogwarts robes. The moment she’d finished straightening it, her vassalage crest appeared above her left breast and on her sleeves.</p>

<p>On her right hand, the vassal ring of the Most Ancient and Noble House of Slytherin faded into sight, and on her left, the ring of House Granger followed it. Harry’s silver lightning-bolt ring rested on her pinky, hidden to all but his most trusted. That meant her. She felt warmth run through her at the thought and almost skipped back to the stairs, which led to the trunk’s lid. She unlocked the lid, poked her head out, and stared.</p>

<p>This wasn’t where she’d left the trunk. Her eyebrows furrowed. She could see over the top of the Express. The floor seemed quite a way away.</p>

<p>Chortles wafted up from below. She looked down. Two red-headed boys, a bit older than her and indistinguishable from each other, gazed up at her. They looked to be waiting for a reaction.</p>

<p>“You know its very rude to interfere with a lady when she’s changing.”</p>

<p>This apparently wasn’t the reaction they’d been expecting. They looked at each other, eyebrows raised, before turning back to her. “Our sincere apologies, my lady,” the one on the left said. They gave synchronised, over-exaggerated bows.</p>

<p>“If we’d realised you were changing, we would, of course, have offered to help.”</p>

<p>Her eyes widened. No. Bad Hermione. Slytherin mask, Slytherin mask… “Well, can you at least help me down then?”</p>

<p>“Certainly, my lady.” They waved their wands together and chanted, “Wingardium Leviosa.”</p>

<p>Her heart skipped a beat as her world jerked and she found herself slowly descending to the ground. The trunk landed with a soft clonk of wood on stone. She carefully finished her journey, stepping out of the trunk, and closing it behind her with an audible clunk.</p>

<p>The red-haired twins stared at her.</p>

<p>“Yes?”</p>

<p>They looked at each other again. Then back at her. “You’re… so are you a first year or not? We don’t remember ever seeing you before.”</p>

<p>“Why would I not be a first year?”</p>

<p>The one on the right pointed at the crest on her chest. “You’re already sorted.” It sounded almost like an accusation.</p>

<p>“Ah, no. You see where the helmet would normally be? There are two crossed wands instead. That means I am a vassal of the Most Ancient and Noble House of Slytherin.”</p>

<p>The two looked like she’d just announced the sky was green and the grass was blue. “A vassal? Do they still exist?”</p>

<p>“Yes. I’m one of them.”</p>

<p>“Well, we certainly wouldn’t want to get on the wrong side of a servant of the forces of evil, now would we, Fred?”</p>

<p>“Certainly not, oh brother of mine.”</p>

<p>She wasn’t sure what to say to this so she said nothing.</p>

<p>“I’m sure she’ll want to be on her way.”</p>

<p>“Mmhmmm… to pillage and terrorise, no doubt.”</p>

<p>“Yes, to hunt down the innocent and steal all their chocolate frogs.”</p>

<p>“To find all the ikle muggleborns and jinx all their electrics.”</p>

<p>“Heeey!”</p>

<p>They looked back at her.</p>

<p>Slytherin mask. Slytherin mask… “I would have you know that <em>I</em> am a muggleborn.”</p>

<p>Now the twins looked like they’d checked the sky and grass and found she’d been right. They blinked. Finally one whispered. “The Dark Muggleborn.”</p>

<p>She scoffed. “I’m not Dark. I’m Gray.”</p>

<p>They frowned. “The Gray Muggleborn doesn’t have quite the same punch, does it, George?”</p>

<p>“No, it doesn’t, Fred.”</p>

<p>She hefted her trunk and started to drag it, slowly, towards the carriage. “Shouldn’t we be moving? The train must be leaving soon.”</p>

<p>As one, they swept by her, grabbed opposite sides of the trunk, and heaved it up. “After you, my lady.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In the middle of the train, Daphne Greengrass lowered herself into the centre-most compartment seat, and straightened her robes.</p>

<p>Freekey leapt off her shoulder and onto the table.</p>

<p>She fished in her pocket, produced a large nut and held it to the inquisitive monkey, who grabbed and nibbled at it, turning it constantly in her tiny hands.</p>

<p>She produced a small hand mirror and checked her hair. She adjusted her robes again. She produced a small slip of parchment from a pocket. It held a list of some thirty-odd names. She read over the list, turned over the parchment, and went over each of the names in her head, recalling the basic facts about each person, and counting off when she’d finished. She folded the paper back up, and slipped it back into the pocket. Then, just in case she’d missed something, she checked her hair again.</p>

<p>Harry. She sighed. For the last three years, she’d never gone more than a few days without seeing Harry. She’d hugged him goodbye not twenty-four hours ago, and already she missed him. The thought of not being able to talk with him for ages did weird things to her chest. But she was the betrothed of Lord Slytherin, the heiress of the Ancient and Noble House of Greengrass, and the de facto leader of the sons and daughters of the Gray. Someone like her wouldn’t give the time of day to a scruffy, uneducated, light-named, non-entity. At least, that was the official reason. The real reason was that the headmaster and current Slytherin head of house would be keeping a close eye on Harry for the first few weeks, and he couldn’t afford to attract too much attention. It was all heart-wrenchingly frustrating.</p>

<p>In the solitude of the compartment, she allowed herself a self-indulgent pout.</p>

<p>Someone grabbed the compartment door and the pout vanished from her face.</p>

<p>The door slid open. It was Tracey.</p>

<p>“Daph! Hi, Freekey.”</p>

<p>A smile lit her face. “Hi, Trace.”</p>

<p>Freekey looked up from the nut and chirped.</p>

<p>The brown haired girl entered the compartment, dragging a trunk behind her. Tracey looked up at the overhead compartments and frowned. “How did you get your trunk all the way up there?”</p>

<p>“My dad put a feather-light charm on my trunk before we left.”</p>

<p>Tracey slapped her forehead. “Argh. I should have thought to ask.” She frowned again. “But still, even if it’s lightened, that’s a long way up. You’re not that much taller than me and I can’t reach up that high.”</p>

<p>She flicked her wrist to produce her wand, which she shook back and forth.</p>

<p>“No way.” Tracey looked suitably impressed. “When? How?”</p>

<p>“My lord taught me.” The pride in her voice slipped into a smirk on her lips, which was fine. She <em>had</em> worked hard for it.</p>

<p>“But how? What about the underage magic laws?”</p>

<p>“Wand tracking doesn’t work under fidelius.”</p>

<p>“What’s fidelius?”</p>

<p>“Look it up.”</p>

<p>Tracey pouted. “Fine.” The girl sighed. “Wow, you’re so lucky, Daph. I wish I had a mysterious betrothed to spoil me rotten. It’s <em>so</em> romantic.”</p>

<p>She looked at the brunette, incredulous. “Oh, yes, being terrified out of your wits for months because you’re going to be married off to a fat old geezer is the best thing ever.”</p>

<p>Tracey winced. “But, he <em>saved</em> you, Daph.”</p>

<p>She folded her arms. “I know he <em>saved</em> me. That doesn’t mean I’m glad I needed saving.”</p>

<p>“But. But, you’re always talking about him. It’s always Lord Slytherin this, or Lord Slytherin that. Aren’t you happy about it?”</p>

<p>Her shoulders slumped back in the chair. “Yes. Yes I am happy. I just wish it didn’t happen that way. Wishing for what I have is like wishing to win the Daily Prophet grand prize draw, where if you don’t win, you get A-kay’d. Many people who enter, don’t win.” She looked over at her friend.</p>

<p>“How would you react if, after the great feast, tonight, you received an owl from your dad saying he’d signed a contract for you?”</p>

<p>Tracey stilled. “I’d probably freak out.”</p>

<p>She nodded. “Anyway.” She clapped once and stood up. “Your trunk.”</p>

<p>Tracey looked down at it.</p>

<p>“Why not just shove it up against the wall for now? We’re going to need space for six more. Hopefully some of the others have lightened theirs.”</p>

<p>Together they shoved the heavy trunk against the wall and just got comfortable when the door slid open again. They both turned.</p>

<p>It was Granger. But not as she was the last time she’d seen her. The previously bushy hair was now more wavy, and the buck-teeth looked like they’d been shrunk. The witch stood in the doorway as though Merlin had returned to Earth.</p>

<p>The witch’s eyes did a lightning circuit of the room — from her face, to her hands, to Tracey’s face, to Tracey’s hands, and finishing at her face again. Subtle. Granger took a step into the room. “Heiress Greengrass, of the Ancient and Noble House of Greengrass?”</p>

<p>“Yes,” she drawled.</p>

<p>“I am Hermione Granger, of the House of Granger, vassal of the Most Ancient and Noble House of Slytherin.”</p>

<p>There was an audible intake of breath to her right.</p>

<p>She rose from her seat and regarded the witch for a moment.</p>

<p>Granger didn’t extend her hand.</p>

<p>She raised a single manicured eyebrow. So, she was Granger’s superior, was she? That’s not what the witch actually believed though, was it? “Welcome, Miss Granger.” She gestured to her side. “This is my good friend, Tracey Davis, Heiress of the Noble House of Davis.”</p>

<p>She glanced towards Tracey, who was looking between her and Granger, very confused.</p>

<p>“Ah, pleased to meet you,” Tracey said, extending her hand.</p>

<p>Granger took the hand, and smiled. “Pleased to meet you too.”</p>

<p>They shook.</p>

<p>“So,” started Tracey, grinning like a madwoman, “have you two met before or something? I mean, I know we’re being massively pureblood today, and all, and if anyone would have already met I’d have expected, well…”</p>

<p>Granger’s eyes flickered to hers, before returning to Tracey. “We’ve never been formally introduced before, but…”</p>

<p>“…It’s safe to say that we’ve heard plenty about each other through a mutual acquaintance,” she finished.</p>

<p>Tracey folded her arms. “Oh, yes? A ‘mutual acquaintance’ hmmm?”</p>

<p>“Yes.”</p>

<p>“Yes.”</p>

<p>Her eye twitched. Granger’s lips thinned for a moment before flashing back to neutral.</p>

<p>Tracey’s grin went full impish. “Should we get comfy then? Five more to go after all.”</p>

<p>Granger dragged her trunk in and shoved it under a seat. They all sat down and silence filled the compartment.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>[Meanwhile… at the front of the train…]</p>

<p>A small girl with long, burnt-brown hair adjusted her robes and strode with purpose towards the door to the first compartment. She fought to keep her nerves under control as she neared. Daddy had spent the last week drilling into her head how important this was. She reached for the door handle and paused.</p>

<p>…</p>

<p>Actually, she should really find and talk to her best friend before she joined Malfoy shouldn’t she? Otherwise they wouldn’t see each other the whole train ride. Yes. That was a good idea. She turned around and marched away from the compartment, sure of foot, and firm in purpose.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>[Moments later…]</p>

<p>Harry finished brushing his teeth in the tiny train bathroom, slipped his shrunk trunk back into his black silk robes, and poked his head out into the corridor. All clear. His signature ‘I’m fine’ Slytherin mask lit up his face with a glint of humour and a boatload of confidence. He swept to the first compartment, knocked, and slid back the door.</p>

<p>Four pairs of eyes latched onto his. Malfoy, Crabbe, Goyle, and Parkinson. Four pairs of eyes narrowed.</p>

<p>“Bugger off, Potter,” sneered Pansy. “This is <em>our</em> end of the train.”</p>

<p>Harry grinned. “My sincere apologies, my lady. But I fear your aggression may be misplaced. I’m sure Heir Malfoy would be happy to introduce us?”</p>

<p>Draco’s face relaxed back into boredom. “Oh, Harry, it’s you.”</p>

<p>Pansy’s head whirled between him and Draco. “What?” Her voice was wary. “Draco, what’s going on?”</p>

<p>Crabbe and Goyle looked between the three, immediate aggression held back only by sudden confusion.</p>

<p>Draco stood. “Heiress Parkinson, may I present Harry Potter, estranged twin of the Most Ancient and Noble House of Potter. Mister Potter, this is a close friend of my family, Heiress Parkinson, of the Noble House of Parkinson.”</p>

<p>The outside sounds of other children laughing and crying seeped into the compartment.</p>

<p>“Whhaaatttt? Draco, is this a joke?”</p>

<p>Draco sat back down.</p>

<p>He smiled. “I assure you, Heiress Parkinson, this is no joke.” He bowed to the slightly flat-faced girl. He turned. “And you, gentlemen?”</p>

<p>The Crabbe and Goyle boys fumbled through their formal introductions.</p>

<p>Pansy crossed her arms. “Well, okay, but what are you doing here? Shouldn’t you be at the back of the train, with your <em>brother?</em>” She sneered the last word.</p>

<p>“I don’t get on well with my family. As to why I’m here…I’m shopping.”</p>

<p>Pansy’s eyes knitted together. “Shopping?”</p>

<p>“Yes.” He turned back to Draco. “Heir Malfoy, I believe you will be addressing the compartment soon after leaving. May I request the honour of a seat to listen in?”</p>

<p>Pansy looked incredulous. “Potter, we’re full. We’ve been full for weeks.”</p>

<p>He inclined his head. “I’m aware of that. However, I <em>could</em> take a seat until the eighth arrives and then just stand for a few minutes after that.”</p>

<p>He looked between Pansy and Draco. The Malfoy heir seemed deep in thought. Eventually, the blonde gestured a languid hand. “Very well, Harry. However, once all the real wizards arrive, you’ll have to leave.”</p>

<p>His warm smile tweaked a quarter-inch wider. “Of course, Heir Malfoy. You have my thanks and gratitude.” He sat down and made himself comfortable.</p>

<p>Beside him, Pansy stuck her nose in the air and harrumphed. “Well, at least you have manners.”</p>

<p>The door opened and Theodore Nott stuck his head in the compartment. “Hi everyo—” the Nott heir’s eyes fell on him “—Whaa?”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>[Halfway between the first and middle compartment]</p>

<p>John Potter marched through the corridors of Hogwarts Express, glancing into the compartments as he passed.</p>

<p>Time was short. He knew he had to find Hermione before they left the station or he wouldn’t get the chance. The younger versions of his friends and classmates would be expecting him in the end compartment.</p>

<p>Every other footstep brought with it a new pointed finger, another whisper, a poorly hidden giggle or blush. He responded with nods, smiles, and even the occasional wink, causing said blushes to deepen. The open-seating carriages were the most extreme. All eyes on him, every move and gesture analysed and giggled over. He had to dodge out of the way of more than one pair of fourth- or fifth-year girl’s arms, who thought he was ‘utterly adorable’. Frustrating, considering he thought <em>they</em> were much the same.</p>

<p>He’d started at the second to first compartment and was nearly at the middle of the train, and he still hadn’t found Hermione. Obviously she wasn’t going to be in the first compartment — the compartment of the Dark. He glanced into the compartment just before the middle one, gave a small head shake and moved on, passing said compartment without even a glance. Obviously Hermione wasn’t going to be in the Gray’s compartment either. He continued looking all the way down the train and, eventually, arrived just outside the last compartment. He bit his lip. Had something happened to Hermione? He’d never known the bushy-haired witch to be late for anything, and the train would leave any moment.</p>

<p>He sighed, put on his game face, and slid open the compartment door. The faces of Susan Bones, Ron Weasley, Lavender Brown, Sally Smith, Padma Patil, Neville Longbottom, and Hannah Abbott, greeted him. They were all here. He forced a cheerful smile and sat down.</p>

<p>They exchanged a round of greetings and pleasantries. Susan, Lavender, and Padma were excited. Sally, Neville, and Hannah were nervous. Ron, as was so typical of his red-headed friend, seemed bored.</p>

<p>There was a slight shift and the world outside the window started to move away from them. They were off. As one, all the children turned to him, expectancy alight in their faces.</p>

<p>He took a deep breath and reached into his occlumency. “Friends. Thank you all for sitting with me today. I know that much of this has been arranged by our parents, but I’d like to think that even without their involvement, we’d have come together like this anyway.”</p>

<p>A few smiles lit the faces around him. Susan grinned.</p>

<p>“We’ve all known each other for years. And now, we’re about to start Hogwarts together. It’s my sincere hope that by the end of these seven years, we’ll be closer to each other than we are even now.”</p>

<p>More smiles.</p>

<p>“There are, however, those about to start Hogwarts who know no one. They did not grow up in our world. They do not have a legion of the best people a wizard could ask for to back them up. They are starting out alone.”</p>

<p>Frowns.</p>

<p>“They will also be our friends. Our world can seem a difficult and confusing place to muggleborns, and it is our duty to protect them from those who would sooner see them thrown out of our world, rather than befriend them.”</p>

<p>Firm nods. Set jaws. Alert eyes.</p>

<p>“A lot changed with the downfall of Voldemort—”</p>

<p>Squeaks, large pupils, flushed faces, awe.</p>

<p>“—And over the last decade, our parents have done a lot to move the Wizarding World in the direction it needs to go. The auror force, which was devastated at the end of the last war, has slowly begun to regain its strength,”—He nodded to Susan who beamed.—“the laws around dark artefacts and magic have been strengthened, and laws discriminating against muggleborns have been defeated.”</p>

<p>Ron thrust out his chest. Susan grinned again.</p>

<p>“But even as we celebrate these successes we face a newer and perhaps more worrying development than the traditional Dark families.”</p>

<p>Tilted heads. Frowns.</p>

<p>“Three years ago, a man claimed the title of Lord Slytherin, and has since persuaded the neutral families to abandon their neutrality and follow him.”</p>

<p>Hannah and Sally’s frowns deepened.</p>

<p>“This development is worrying, not because the Gray seem to hold the same beliefs as the Dark, but because we do not know what beliefs they <em>do</em> hold. The Light holds the most votes in the Wizengamot, but not by much. The Gray holds even fewer than either the Dark or the Light, but so long as the Dark and the Light do not agree on something, the Gray decides if it becomes law or not. And so far, the Gray has let barely a single contentious law through.”</p>

<p>More frowns.</p>

<p>“The progress that our parents made, stopped three years ago.”</p>

<p>Ron scowled.</p>

<p>“What does Lord Slytherin <em>really</em> want? We don’t know. All we really know is that it isn’t what we want and that Lord Slytherin intends to keep his true intentions secret, possibly until it is too late to do anything about it.”</p>

<p>Neville squirmed. Lavender bit her lip.</p>

<p>“That is why I’m asking you to stay as alert as possible around the children of the Gray. Look for the true intentions behind the pretty words. Stay friendly, but cautious, and do not allow yourself to be seduced by vague promises and slippery logic.”</p>

<p>Slow nods. Faces set to stone.</p>

<p>“We are the children of the Light. We have upheld what is good and just since before the founding of Hogwarts. We protect all, regardless of nobility or house age, and regardless of blood status! We will all soon be in different houses, but that <em>won’t</em> change that we are the <em>Light</em>, and that <em>we</em> stand <em>firm</em> against the <em>Darkness</em>.”</p>

<p>Clapping. Ron stood and thumped him on the back. Susan hugged him, before backing off and blushing up a storm. The compartment filled with appreciative words and declarations of support.</p>

<p>Inwardly, John smirked. Much better than last time.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The small girl with long burnt-brown hair quick-marched back to the first compartment, heart pounding. Her friend had found a nice second year to talk to and the older girl had regaled both of them with stories of the castle. It had been so interesting, she’d forgotten the time. When she’d glanced out of the window and realised the train was moving, she’d been horrified. She reached the first compartment and reached for the door handle.</p>

<p>…</p>

<p>Suddenly, her throat parched. Her tongue felt like sandpaper. Thirst clawed at her, nagging and insistent.</p>

<p>…</p>

<p>Okay, she would find a drink first, and <em>then</em> come back. It was only a few minutes after all.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In the middle compartment, the Hogwarts Express started moving.</p>

<p>Daphne sat surrounded by the children of the Gray and a few courtiers. To her right sat Tracey, Granger, and Blaise Zabini. To her left sat Parvati Patil, Zacharias Smith, Terry Boot, and Wayne Hopkins.</p>

<p>They all looked towards her.</p>

<p>“Thank you all for joining us today.” She paused. “I’d like you all to look around this compartment. Look at the faces next to you.”</p>

<p>They glanced around.</p>

<p>“In this compartment, we have four females and four males; three noble houses and five common ones; five purebloods, two half-bloods, and one muggleborn.”</p>

<p>A few eyes widened and Zach stole a suspicious glance towards Hopkins.</p>

<p>“Soon, we may also be Gryffindors, Hufflepuffs, Ravenclaws, and Slytherins, but don’t let this fool you… what we really are isn’t any one of these.”</p>

<p>Zabini leant closer.</p>

<p>“We are wizards, born with the gift of magic. How fast can you cast? How powerful are your spells? How good are you at bending the universe to your will? These are the questions that matter.”</p>

<p>Boot and Zach’s eyes briefly met, one raised eyebrow between them.</p>

<p>“The Light wishes to tame us, domesticate us, dictate to us what is and isn’t safe for us to do. They set up committees to command what charms we’re allowed to even experiment with, let alone use. They waste the best years of our brightest minds with the asinine business of expanding the ever-growing lists of muggle toys we’re not allowed to play with. They deem to claim the moral high-ground of protecting those with no power while systematically removing said power and centralising it with an ever-growing, all-powerful, draconian ministry.”</p>

<p>She looked around the compartment making eye contact with every one of her peers. In most cases, grim determination stared back.</p>

<p>“The Dark, on the other hand, would have us rip our world in three. In their irrational fear of what they don’t understand they would reject even the most basic of human decencies to spread contempt and fear throughout our world. They <em>also</em> claim to fight the good fight, to bring needed reform to a world that is stagnating, while protecting our culture and legacies. But their methods would result in our total destruction, not our ascension.</p>

<p>“We do not care about blood, so long as your mind is sharp and your wand is strong. We do not care about nobility, so long as you strive to be the best at whatever it is you do. And we do not care about past mistakes, so long as you look to future with steel and determination.”</p>

<p>Granger was actually leaning forward in her seat, eyes gleaming brighter than the Express’s scarlet shell. The moment she caught the girl’s eye though, the newly wavy-haired witch folded her arms and sat straight again, though the gleam <em>did</em> remain.</p>

<p>“The Light and the Dark are making mistakes, but they are not the people within them. The Light and the Dark are ideas. They are collections of beliefs, and, in many cases, they are loosely collected groups of vested interests. Interests shift. Minds can be changed. And the people who yesterday were our enemies, may tomorrow be our greatest allies.</p>

<p>“We have a golden opportunity before us. We have seven years to learn and grow. Seven years to get to know each other and form alliances and friendships that <em>can</em> weather the storms life <em>will</em> throw at us. But that cannot happen if we allow Hogwarts to divide us. So…”—she paused—“I’d like to suggest we set aside some time every few weeks to get together for dinner. That way at least, we’ll not fall foul to the trap of believing that what colour your tie is, somehow dictates who you must like and hate.”</p>

<p>Parvati and Tracey scoffed. The dramatic tension broke.</p>

<p>“Sound good?”</p>

<p>She looked around. Most everyone nodded. “What about you, Hopkins?”</p>

<p>Hopkins hesitated, then also nodded.</p>

<p>“Excellent, let’s get down to business then.”</p>

<p>Granger whipped out a piece of parchment and a quill, and with the faint click-clack sound of the train in the background, they started fleshing out details for the next few weeks.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In the first compartment, muggle London gradually faded into the distance behind them.</p>

<p>Harry certainly was <em>not</em> smirking. No, absolutely not.</p>

<p>“Where <em>is</em> Turpin?” Nott scowled towards the door.</p>

<p>Draco put down his quidditch book, threw a bored glance towards where Nott scowled, and shrugged. “No matter. It’s her own fault if she’s late. We start without her.”</p>

<p>The blond-haired boy shot him a glance before speaking with an aristocratic drawl. “One and half thousand years ago, Merlin created the Albion family magics to rule over this land. He forced the families of the time to work together to better the fate of magicals as a whole. And he left behind a legacy to ensure that those who had proved themselves worthy would have the right to lead our people.”</p>

<p>Harry glanced around the compartment. All eight seats were full — Draco, Crabbe, Goyle, Nott, Parkinson, Bulstrode, and Su Li. All purebloods. All except him.</p>

<p>“My own family arrived on these shores in 1066. We worked hard for the good of all and over time proved ourselves worthy of the trust Merlin established all those centuries before.”</p>

<p>Su Li stared, quiet but intense, as befitting the probably future Ravenclaw.</p>

<p>“But not long after that, the rituals used to ennoble worthy families were lost, hunted down, destroyed, and for five hundred years we’ve lived without. For five hundred years, families have striven and proved themselves worthy, yet gained no recognition. Ennoblement was replaced with ‘The Order of Merlin’.” Draco made as though to spit. “A pretty piece of silver and gold to hang on your robes and parade for an hour of glory.”</p>

<p>Crabbe and Goyle’s fists were clenched. Bulstrode scowled.</p>

<p>“Families like the Goyles, the Crabbes, the Carrows, the Bulstrodes, and the Crouches, and yes, even families like the Dumbledores, who, five hundred years ago, <em>would</em> have been granted seats on the Wizengamot, have been denied their earned right to help guide our world, simply because the rituals of Merlin have faded.</p>

<p>“Then, as our world stagnated, those born to muggles started to demand, yes <em>demand</em>, that <em>they</em> be given the right to govern <em>our</em> world. Is that fair? Is it fair that your families have spent centuries proving themselves worthy, and were denied that privilege, only to have these… <em>people</em> who know <em>nothing</em> of our world swoop in and demand what you have spent generations earning?”</p>

<p>The bored aristocratic tone was gone. Though well articulated, Draco’s words dripped venom. He was impressed. Such righteous indignation on behalf of a group that he was not technically of — Draco’s occlumency was obviously more advanced than he’d expect for a boy of his age.</p>

<p>“For the last one hundred years, we who are pure of blood, have sought to change the system. To allow <em>any</em> family that has learned the ways of our world some measure of the influence they <em>should</em> have. But that effort has been constantly forced back. For every victory we achieve, we are forced to give up twice as much.</p>

<p>“The rise of the two Dark Lords of our century were the bright points for us. For two brief ten-year stretches, we were starting to win. But both times, our ultimate goals were snatched from us.”</p>

<p>Draco eyed him with not a small amount of resentment. He tilted his head in apologetic acknowledgement.</p>

<p>“We <em>were</em> being forced back, but we now have a breathing space. With the Gray blocking all new laws, we can regroup, rearm, and get ready for the next advance. The return of Lord Slytherin is a calm before an almighty storm. And it is a storm that we <em>will</em> win.”</p>

<p>Draco paused, took another deep breath and continued. “I believe the Gray are closer to us than they are to the Light. They are lead by Lord Slytherin. Tonight, many of us will be sorted into Slytherin House. As will many of the Gray. They must be made to see the rightness of our cause!”</p>

<p>Draco stood and made a double-fisted jerk downwards, as though smashing an invisible staff into the floor. “They WILL be made to see the rightness of our cause!”</p>

<p>Clapping, acknowledgements, and hear-hears erupted around him. He joined in too, clapping politely, a faint smile playing around his lips.</p>

<p>Draco sat back down and slipped back on his bored aristocrat Slytherin mask.</p>

<p>“Yeah, Draco! We’ll show them!” Pansy shouted.</p>

<p>Su Li bit her lip, her cheeks tinged with red. “Uhh, Heir Malfoy?”</p>

<p>Draco turned to her with a raised eyebrow.</p>

<p>“My family is over five thousand years old, but we’ve only been in Britain for fifty years, where do we stand in your vision?”</p>

<p>Draco frowned. “I’m not fully sure… I’d have to ask father, but… I’m pretty sure you wouldn’t have been invited to join us here if your family wasn’t considered worthy.”</p>

<p>Su Li perked up. “Oh, that’s okay then.”</p>

<p>Nott smirked. “What about Potter’s family?” The boy jerked his thumb towards him.</p>

<p>His ‘I’m fine’ mask became rather fixed.</p>

<p>Draco rolled his eyes. “They were acceptable two generations ago, but blood traitors now, the lot of them. They lost themselves when Lord Potter married that whore of a mudblood.”</p>

<p>All eyes shot to him. If they expected him to react with anger about this slight to his mother, they were disappointed. He shrugged.</p>

<p>“I never knew my mother. She might be a whore for all I know.”</p>

<p>“Wow, Potter, you really do not give a toss do you?” Nott looked impressed.</p>

<p>Draco picked his quidditch book back up and eyed him with a calculating look. “Potter… you told me before you were going to join the duelling club, didn’t you?”</p>

<p>“Well, I didn’t actually say that but as it happens, yes.”</p>

<p>“So you’re not trying out for the quidditch team then?”</p>

<p>“Nope.”</p>

<p>Draco nodded and seemed to lose interest again.</p>

<p>Nott on the other hand… “Sorry, Potter, but if you’re in Slytherin, our year slot belongs to me.” Nott grinned a toothy grin.</p>

<p>His stony smile cracked into a grin of his own. “We’ll see.”</p>

<p>Nott glowered. “Might I remind you that you are merely a dirty half—”</p>

<p>A knock at the door silenced Nott.</p>

<p>Draco sat a bit straighter and affected a particularly drawling voice. “Enter.”</p>

<p>The door opened to admit a much older and taller boy dressed in Hogwarts robes with a bulky build and a yellow tie. He looked to be a sixth or seventh year. He was sweating, his eyes dilated.</p>

<p>“Heir Malfoy of the Noble House of Malfoy?”</p>

<p>“Yes?”</p>

<p>“I… I am Richard Quincy of the House of Quincy. I’ve been asked by my father to present these to you,” he flourished a box of some kind of food, “and to extend both my and my family’s gratitude to you and your father for awarding us the shipping contract.”</p>

<p>After his initial stutter, the older boy said this in one long breath.</p>

<p>Draco waved the boy to deposit the food on the table.</p>

<p>“My father chose your family because it was the best choice, Richard, and your thanks is appreciated. If I have problems with Hufflepuff in the future I know I can come to you for help.”</p>

<p>“Y-Yes. Of course.” The older Hufflepuff bowed and exited the compartment without turning around.</p>

<p>Pansy looked into the box. “Cauldron cake anyone?”</p>

<p>Nott’s eyes gleamed towards him. “I think our resident food taster should try first.”</p>

<p>He glanced from Nott’s face to the box. He shrugged. The combination of bezoar and noble house ring negated most dangers… but still… he looked thoughtful. “Sure, why not? It would be a shame if the ambassador to the Gray had to miss his appointment because he got poisoned.”</p>

<p>Nott stilled. He flourished his wand and carefully, and with great deliberation, cast the tempus spell. “Merlin!” he grabbed his bag and exited the compartment with as much dignity as a jogging pureblood could muster.</p>

<p>He sat down and made a point not to look smug.</p>

<p>Crabbe grabbed a cauldron cake and dug in, Pansy gossiped with Su Li and Millicent about ‘you’ll-never-guess-what-so-and-so-did’, and Draco busied himself with several small slips of folded parchment, occasionally shooting glances at him, as though he were a particularly strange insect that kept flying by his window.</p>

<p>He leaned back and relaxed.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In the middle compartment, Hermione Granger was confused and frustrated. Harry’s betrothed made <em>no</em> sense. Daphne was the heiress of an ancient and noble house, and they were in public, so she’d naturally given the heiress the deference wizarding culture expected. But Daphne had rejected this status. So, she’d then decided to treat Daphne like an equal, but this only seemed to annoy the girl. She was sure the heiress didn’t want to be treated like someone of <em>lower</em> status, so what <em>did</em> she want?</p>

<p>She silently hoped that Harry’s other betrothed made a bit more sense and brought her focus back to the older Gryffindor witch who’d just presented Daphne with a box of muggle Belgian chocolates.</p>

<p>The Gryffindor glanced to her, saw the crest, saw the ring, and paled. “H-Heiress Slytherin? I-I’m sorry but I don’t have anything for you, my parents didn’t say anything—”</p>

<p>Oh hell. “—Please.” She held up a hand and sighed. This was the second person to panic like this. “I am not Lord Slytherin’s daughter. I am Lord Slytherin’s vassal, and no one knew I would be joining Hogwarts today as such.”</p>

<p>“O-oh. Ah, okay then.” The girl didn’t look like this was much better, but did manage to finish her social ritual with Daphne and exit the compartment with only minor blushing.</p>

<p>Tracey giggled. “Maybe we should start a pool on how many times someone loses themselves when they see you, Hermione?”</p>

<p>She grumbled.</p>

<p>Blaise smirked. “I’ll put a sickle on five times.”</p>

<p>She made to look incredulous. “Oh, come on.”</p>

<p>“No, really,” Tracey continued. “Maybe we could get them to faint by telling them you’re a muggleborn too?”</p>

<p>She paused. “Already did that with a pair of red-headed Gryffindor twins.”</p>

<p>“The Weasley twins?” Tracey gasped. “No way!”</p>

<p>“Well, they didn’t actually faint, but—”</p>

<p>“<em>If</em> we’re quite finished,” Daphne interrupted, “I’d like to bring it to your attention that the boy from the Dark is late.”</p>

<p>She frowned and inspected a piece of parchment in front of her. She didn’t strictly need a parchment record, but there were times when having to keep retrieving things from her mindscape library was tiresome. “Well if he doesn’t get here soon we’re going to have to move Cooper up to the next slot and—”</p>

<p>*Knock* *Knock*</p>

<p>“—And never mind,” she finished.</p>

<p>The door slid open to reveal a tall boy with slicked over mahogany hair, wearing closed silk robes and an expression of haughty indifference — an expression that was spoiled somewhat by the redness of his cheeks and the shortness of his breath. He wore the crest of the Noble House of Nott on his robes.</p>

<p>“Heiresses Greengrass and Davis and Heir Smith?” he half panted.</p>

<p>“Yes?”</p>

<p>“Yes?”</p>

<p>“Yes?”</p>

<p>The Nott heir straightened his robes, took a deep breath, and bowed. “I am Heir Theodore Nott of the Noble House of Nott. I believe we have met before, Heiress Greengrass. And what is <em>that</em>?” He pointed to Freekey sitting on a pile of books on the small compartment table.</p>

<p>Daphne smiled. “She is Freekey, my familiar. And yes, I remember seeing you at last year’s winter festival. Perhaps you would care to take a seat?” She motioned those of her bench to budge up, which they started to do. “You’re looking a little winded.”</p>

<p>“Ah, it’s nothing, Heiress Greengrass,” Nott muttered.</p>

<p>“Nonsense, I insist.” Daphne’s eyes glittered.</p>

<p>He sat.</p>

<p>“Besides, our ambassador to the Light is about to depart now anyway. Isn’t that right, Hermione?”</p>

<p>She frowned. No. She wasn’t leaving for another five min… oh. She half-sighed, half-smirked. “Yes.” She stood and dusted down her very expensive black, silk closed robes so the crest was clearly visible to their guest.</p>

<p>Nott’s gaze slid to her as she stood, travelled up her body to her face, studied it for a split second, then jerked back down to the crest. He stood back up so quickly his feet left the ground. “Heiress Slytherin.” He bowed again. “My sincere apologies. I had <em>no</em> idea you would be joining us today.”</p>

<p>Tracey giggled.</p>

<p>“Please, Heir Nott,” she said.</p>

<p>Nott straightened.</p>

<p>“I am Hermione Granger, of the House of Granger, <em>vassal</em> of the Most Ancient and Noble House of Slytherin.”</p>

<p>Nott’s jaw slackened. “Vassal?”</p>

<p>“Yes.” She dipped into a shallow curtsey. “My lord expressed the hope that we might get along over the next few years, as he is of the <em>fullest</em> confidence that you, like me, will be sorted into <em>his</em> house.”</p>

<p>Nott straightened. “Of course, Vassal Granger… er…” he looked uncertain. “Do I call you Vassal Granger or what? I was never taught…”</p>

<p>She suppressed a smile, though the other girls were not bothering to hide their amusement. “Miss Granger is fine if you wish to be formal. Or just Granger or Hermione as you like.”</p>

<p>“Very well, Miss Granger.”</p>

<p>She nodded, brushed past the boy, and left the compartment.</p>

<p>She walked down the corridor. It was time to meet the fake boy-who-lived, Harry’s brother, and the boy who, in six years of so-called ‘friendship’, hadn’t given her one single lesson in wizarding culture.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The small girl with long burnt-brown hair tiptoed up to the door of the first compartment and shook. It was so late now. Could she really face them all after being so late? She teared up. Her breath shuddered. No. She couldn’t do it. She was a disgrace, a failure. The girl turned and fled back up the train, locked herself in the toilet, and sobbed.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In the last compartment, John Potter sat chatting and joking with Ron and Susan. Occasionally, Neville would join in, or Lavender, Sally, Padma, and Hannah would add their share. Every few minutes, like clockwork, another older witch or wizard would arrive to present some gift or other. After some time of this, the compartment table was starting to spill over, and even Ron was having difficulties keeping up with the flow of food.</p>

<p>Hannah sat up a bit straighter, holding a piece of parchment. “John.”</p>

<p>“Mmm?”</p>

<p>“Next is the ambassador from the Gray.”</p>

<p>He too sat straighter. “Oh, really? And they are?”</p>

<p>“Umm… the parchment doesn’t say.”</p>

<p>He sighed. “Always with the freak’n secrecy. Would it kill them to at least tell us <em>that</em> much?”</p>

<p>Neville shrugged.</p>

<p>“Well, whatever. You know the drill. Be friendly, cautious, and try to remember everything you can.”</p>

<p>Everyone in the compartment nodded and went back to what they were doing.</p>

<p>He was pouring himself a glass of pumpkin juice from a bottle when a knock sounded and the door slid open. But it wasn’t the Gray’s ambassador. A massive smile bloomed on his face. It was Hermione, already dressed in her… his smile faulted… in her acromantula silk robes?</p>

<p>Hermione stepped into the compartment with considerably more grace than he remembered his friend possessing. “Heir Potter?”</p>

<p>Heir Potter? His heart sped up. His eyes trailed along the trimming of the robes, to the crest, and froze. His faltering smile collapsed. No.</p>

<p>“I am Hermione Granger, of the House of Granger, vassal of the Most Ancient and Noble House of Slytherin, and the ambassador sent by Heiress Greengrass.”</p>

<p>No no no no! NO! He couldn’t speak. He couldn’t think. He stared at his best female friend in horror. She looked back at him, cold and expressionless. His voice eventually emerged, raspy, like old parchment. “Vassal?”</p>

<p>“Yes,” she replied in a clipped tone.</p>

<p>He had no idea how the rest of the compartment was reacting, or if they were reacting at all. He couldn’t take his eyes off the abomination in front of him. “How?”</p>

<p>Hermione appeared to not care about the pain in his voice. She continued on as if he’d asked her what they were going to cover in their next transfiguration class. “Well, I know there hasn’t been a vassalage done for nearly two hundred years, the last one was to Lord Ogden in 1812, but all the old laws are still in place, they mostly haven’t been used because muggleborn families didn’t like the idea of being vassals and purebloods didn’t want anything to do with muggleborns, which is ridiculous of course, my lord doesn’t care about such distinctions though.”</p>

<p>The assembled witches and wizards sat in silence for a moment.</p>

<p>Hermione looked around the compartment. “Heiresses Bones and Abbott, Heir Longbottom.” She bobbed a curtsey to the other half of the compartment.</p>

<p>The bob seemed to snap him out of whatever horror-induced spell had been cast on him. “Hermione… he’s brainwashed you!”</p>

<p>“I <em>beg</em> your pardon?”</p>

<p>“Hermione, this isn’t <em>you</em>!”</p>

<p>“I’m sorry, Heir Potter, but have we met before?”</p>

<p>He stilled. He glanced around the compartment. The others were looking at him with expressions ranging from worried, to confused, to shocked. “Err… no of course not, I just…” he paused and tried to relax his features. He smiled in what he hoped was an encouraging way. “Hermione, someone like you doesn’t need to be doing all this formal bobbing stuff, it’s not expected of you.”</p>

<p>This apparently was the wrong thing to say.</p>

<p>“Oh! So just because I’m a muggleborn, you expect me to have no manners and run around offending everyone like it’s my job. Heaven forbid someone take the opportunity to actually learn about the culture they want to join.”</p>

<p>“That’s not what I—” but Hermione had already turned and stormed out of the compartment sliding the door behind her with an audible click.</p>

<p>“Oh, very well done!”</p>

<p>He turned to see Susan glaring at him.</p>

<p>“<em>That</em> was friendly and cautious, was it? And just <em>what</em> was all that <em>about</em>?”</p>

<p>He shrank in on himself. His world felt like it was falling down around him. That wasn’t how he’d imagined his first contact with Hermione to go. His heart felt like it was being squeezed by a giant fist. His voice lowered to a mutter. “I’m… I’m sorry, Susan. I was just shocked that Lord Slytherin had taken a muggleborn family as his vassals.”</p>

<p>Susan harrumphed. “I think we’re all shocked about that. But that’s no reason to lose your head.” The girl got up and marched to the door.</p>

<p>“Where are you going?”</p>

<p>Susan wheeled around, face red. “I’m going for a walk. And then, in a few minutes, I’m going to the Gray’s compartment to try and fix this mess.” Her own voice became a mutter. “That’s what ambassadors are supposed to do after all — clear up after their leaders mess up.” She opened the door, walked through, and slid it shut behind her.</p>

<p>He put his face in his hands and grit his teeth.</p>

<p>“Cheer up mate,” came Ron’s voice. “Chocolate frog?”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione stormed along the corridor, back towards the middle of the train, and paused to calm herself. She allowed her emotions to pool and swirl inside her, to feel the righteous indignation and fury, before bringing down the occlumency hammer and sliding on her Slytherin mask once more. She took a deep breath. That had gone… almost exactly as Harry had predicted it would. She brightened. And now she could get on with her lord’s other mission. She’d spotted Justin a few compartments down when she’d boarded. It wouldn’t take a lot of effort to track down the four other muggleborns in her year. She could make contact with them all and get back to her compartment in short order.</p>

<p>Resuming her graceful walk, Hermione swept down the corridor, a headstrong, wavy-haired princess in night-black silk and emerald-green trimming.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Back in the middle compartment, Daphne crossed one leg with the other, and fed Freekey another almond. The adorable primate could never get enough of them, although she did like macadamia even more.</p>

<p>Nott had made himself comfy and was busying himself with a game of exploding snap with Zabini and Smith, being as polite as his blood-supremacist bigotry would allow with Tracey, while ignoring Hopkins completely. Hopkins, Parvati, and Boot sat in another threesome, discussing quidditch and duelling and who was doing what.</p>

<p>A knock from the door distracted her. The door slid open to reveal the shoulder-length red hair of the Bones Heiress. “Heiress Bones, what a pleasant surprise.”</p>

<p>Bones looked determined. She took a deep breath. “Heiress Greengrass, I must formally present my and my friends’ apologies for the unacceptable behaviour of my friend, Heir Potter, upon your ambassador. I hope we can move beyond this.” Susan bowed.</p>

<p>She scowled inwardly. Something happened, and she didn’t know what. She clenched her teeth. Where the <em>hell</em> was Granger? She couldn’t very well ask <em>what</em> the unacceptable behaviour was. She had no choice but to accept the apologies and miss an opportunity to extract concessions.</p>

<p>Nott stopped playing to listen.</p>

<p>“That’s okay, Heiress Bones. Your apology is accepted. Although…” An idea shot through her head. “…Although it might be good too if Heir Potter came and presented his apologies directly. Maybe in half an hour? I’m sure we’d all feel better if the aggressor in this matter could apologise directly to the wronged.”</p>

<p>Bones seemed to consider this for a moment before nodding. “I can’t promise, Heiress Greengrass, but I will do my utmost to drag Heir Potter’s butt over here if I have to.”</p>

<p>She nodded.</p>

<p>Bones left.</p>

<p>She turned to the stalled exploding snap game. “Heir Nott, your presence here has been very much appreciated and I look forward to more chats in the future. Could we ask for you to excuse us now? I fear we will need to be changing soon.”</p>

<p>Nott looked around at the fully-robed witches and wizards sitting around the compartment. “As you wish, Heiress Greengrass.” He stood and made his way to the compartment door, but not before the pack exploded again, sending cards all over the compartment.</p>

<p>The door closed and she swung to Boot. “Terry, could you find Hermione and drag her back here? Preferably before Potter shows up?”</p>

<p>Boot, as one of her classmates in the pre-Hogwarts homeschool taught by Lady Davis, stood and gave her a thumbs up. “Sure, Daphne. I’m on it.” Then he too left.</p>

<p>Tracey shot her an encouraging grin. She glared.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In the first compartment, Harry stared out of the window, scanning the many trees along the train line’s edge.</p>

<p>Parkinson’s high-pitched voice intruded on his survey. “What are you <em>doing</em>, Potter?”</p>

<p>He glanced back into the compartment. No one was paying much attention. Su Li, Millicent, Crabbe and Goyle were talking holidays. Draco was reading. “Bird watching.”</p>

<p>“Bird watching?”</p>

<p>“Yep.”</p>

<p>Pansy leaned over and tilted her head, causing her bob hair to fall down the sides of her face into her eyes. The girl brushed it back behind her ear. “<em>Why</em>?”</p>

<p>“Can’t a boy have a hobby?”</p>

<p>“But are you seriously expecting to be able to see any birds while we’re moving in this train?”</p>

<p>“Well, the train does run over a magical ley line, and it radiates magic along the entire line of the country. You never know what interesting birds might decide to make their home here.”</p>

<p>She huffed. “You’re weird.”</p>

<p>He smiled. “Thank you, Heiress Parkinson.”</p>

<p>The door slid open and Nott stuck his head in. “Hey! You’re never going to guess.”</p>

<p>Draco didn’t bother to look up from quidditch book. “Then I won’t bother trying. What is it?”</p>

<p>Nott stepped into the compartment and looked triumphant. “Lord Slytherin has sent a vassal to Hogwarts!”</p>

<p>This got Draco’s attention. “What?”</p>

<p>“There’s this witch in our year called Hermione Granger. She’s in there with the Gray. She’s got a Slytherin vassal crest on her robes and everything. And she’s obviously had pureblood training.”</p>

<p>He smiled. Well done, Hermione.</p>

<p>Draco frowned. “Granger isn’t a pureblood name.”</p>

<p>Nott shrugged. “Maybe she’s foreign.”</p>

<p>“Did she sound foreign?”</p>

<p>“Well… no… so, a half-blood then?”</p>

<p>Draco shifted. “I’m not sure what to think about that.”</p>

<p>Nott grinned. “I imagine you’ll have no problem with it, after all, you’ve kept Potter here with you the whole time.”</p>

<p>Draco frowned.</p>

<p>He stood up. “Well, I’d better go get changed.”</p>

<p>Nott looked nonplussed. “But you’re already wearing your robes.”</p>

<p>“Yeah, but as much as I like these robes, I now have to go put on the standard robes again.”</p>

<p>Draco raised an eyebrow. “<em>Why</em>?”</p>

<p>“It’s all part of a super-cunning Slytherin plan.”</p>

<p>“What plan?” asked Pansy.</p>

<p>“Wouldn’t be very Slytherin if I went around telling everyone, would it?” And with that closing comment, he swept to the door and flashed Pansy a single, twinkly-eyed smirk.</p>

<p>Behind the closing door he heard a single “Humpf.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Only a few compartments down, Harry heard female crying from within his target bathroom.</p>

<p>He knocked softly. “Hello?”</p>

<p>The crying continued. “Are you okay in there? Do you need me to go get someone?”</p>

<p>“No.” Returned a wet voice in between sobs.</p>

<p>He sighed. Always a block in the floo. He sat down with his back to the door. It wasn’t as though he was in a huge rush. “So, why don’t you tell me about it? I know that always helps me when I’m like this.”</p>

<p>The sobbing dissolved into a sniffling. “I’m useless. I was supposed to do something, but I didn’t and now it’s too late and my Dad is going to be so angry with me.”</p>

<p>“What were you supposed to do? Maybe it’s not too late?”</p>

<p>Another round of sobbing erupted. “No. It’s too late.”</p>

<p>He let the crying continue for a while. Eventually he asked again.</p>

<p>“What did you have to do?”</p>

<p>The girl sniffed. “Meet with the people in the first compartment. But I got distracted and now I just can’t.”</p>

<p>Oh.</p>

<p>“Are you Lisa Turpin?”</p>

<p>The sobbing ebbed. “H-how do you know that?”</p>

<p>“I was just in the first compartment. I can help you, Lisa.”</p>

<p>The train click-clacked. The floor vibrated under him.</p>

<p>“Lisa? If you come out, I promise I’ll be able to help you. All will be okay and you’ll be able to report good news to your father. I promise.”</p>

<p>The voice from the other side trembled. “How?”</p>

<p>“Just trust me, okay? It will all be alright.”</p>

<p>He waited. Then, after a couple of minutes, there was a flush, the door opened, and a tear-stained face with bloodshot eyes and long, burnt-brown hair stepped out. The eyes widened. “J-John P-Potter?”</p>

<p>He took the girl’s hands, still holding several tissues. “Harry Potter actually, I’m his unknown twin brother. Let’s get you cleaned up a bit, then we can go to the compartment together. I’ll introduce you and give them a good reason why you weren’t there for so long.”</p>

<p>Lisa shook. “What good reason?”</p>

<p>“How about you being ill? That would work, wouldn’t it? And with your current state that won’t be difficult to pull off.”</p>

<p>She trembled, still looking very unsure.</p>

<p>He pulled her into him and hugged the girl. “Ah, c’mon. It will be okay. I promise.” Eventually, Lisa returned the hug and sunk into him.</p>

<p>Arms still around the girl, he flicked his wrist to bring his wand to hand. He stepped back, arms still on her shoulders. “It <em>will</em> be okay.”</p>

<p>The girl nodded and blew her nose.</p>

<p>“I’m going to cast a spell on you to clean up your face so you look fresh, then I’m going to cast a spell on you to make you look like you’ve been ill, okay?”</p>

<p>Her eyes widened again, this time in awe. “Y-you can do that?”</p>

<p>“Yes.”</p>

<p>He angled his holly and phoenix feather wand towards the girl and cast two spells in quick succession. Immediately the tear stains and blood shot eyes were replaced with yellowing complexion and droopy eyes.</p>

<p>“There we go. We can say you were being taken care of by some friends.”</p>

<p>Lisa nodded, he took her hand, and together they made their way back to the front of the train. They reached the first compartment and she started to breathe harder. “H-Harry, I’m not sure I can do this.”</p>

<p>He reached his magic into the temporary ward he’d set up.</p>

<p>“It’s just too much.” Lisa started to struggle in his grip. He held on.</p>

<p>“I… I must go!”</p>

<p>He switched the ward off.</p>

<p>Lisa stopped struggling. He enveloped her in another hug. “It’s okay, Lisa. You can do this.”</p>

<p>Lisa shook again. She blinked. “Yes. Yes, I can.” She looked into his eyes. “Thank you, Harry.”</p>

<p>He opened the door and poked his head around the door. “Heirs, heiresses, witches, and wizards — I’ve found our wayward guest.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Five minutes later, Harry closed the compartment to the Dark behind him and sauntered off down the corridor. Okay, so he’d lost his spot, but he’d got everything he wanted to accomplish done, and Lisa couldn’t stop making doe eyes at him, which was definitely a result.</p>

<p>Maybe now he’d walk up the train and accidentally run into Hermione. She might still be tracking down muggleborns and it would be good to see how that was progressing.</p>

<p>But first…</p>

<p>He slipped into the now-empty bathroom, pulled out his shrunk trunk, and started changing into the bog-standard Hogwarts robes.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John watched the door of his compartment slide open to reveal a much calmer Susan. “How did it go?”</p>

<p>Susan flopped down next to him. “Greengrass said she’d accept the apology on the condition that you apologise in person.”</p>

<p>He groaned.</p>

<p>“None of <em>that</em>. I think she’s quite right. You were rude so you should apologise.”</p>

<p>“Okay, okay. I’ll go.” He stood, trudged to the door, slid it open and started making his way down the train, towards the middle, and towards the Gray. He reached the open-seating carriage just a few compartments from the middle of the train and reached for the door handle.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry waved off yet another confused boy-who-lived worshipper. Damn, he’d forgotten just how extreme his peers’ reactions had been on the train. The first time around, he’d been confused but hopeful. Everyone had seemed so friendly and curious. Puzzled, yes, but they’d taken the news that he was a mistaken squib twin of the boy-who-lived with interest and cheer. That goodwill had lasted until the sorting, after which, everything went to hell.</p>

<p>He passed the middle compartment, which he knew held Daphne, and continued on. He arrived at the door to one of the Hogwarts Express’s few open-seating areas, reached for the door handle, turned it, entered the space beyond, full of relaxing and joking witches and wizards, glanced towards the carriage’s far exit, and froze.</p>

<p>His nostrils flared, his eyes hardened, and his lip curled, a cacophony of hatred flashed across his face in a heartbeat, and left just as quickly.</p>

<p>An annoyingly familiar back closed the far side door and started to turn towards him.</p>

<p>His face relaxed, his eyes warmed, and his mouth melted into a smile of summer, log fires, and good cheer. “Brother!”</p>

<p>All talk halted. Every student’s head turned.</p>

<p>Deep in his stomach, unaffected by even the strongest occlumency, bile rose.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John stared. The carriage stretched on to infinity. A full half the eyes were on him. The other half fixed on the figure standing at the other end of the infinite space.</p>

<p>It was Harry.</p>

<p>His heart beat faster. He started sweating.</p>

<p>But, it wasn’t Harry. It wasn’t the Harry that he remembered. The Harry he remembered was small and scrawny — timid — flinching at shadows and jumping at the smallest noises.</p>

<p>This Harry looked to be as tall as he was and his stance was taller still. His face was open and friendly, and he wasn’t wearing glasses, taped or otherwise.</p>

<p>His own face obviously betrayed his confusion.</p>

<p>“Surprised to see me?” Harry’s lip quirked into an almost-cheeky grin.</p>

<p>“How?”</p>

<p>An uncomfortable feeling of déjà vu flooded him.</p>

<p>“The normal way, I suspect. Didn’t Mum and Dad tell you I’d be joining you this year?”</p>

<p>His eye twitched. “What do you know about Mum and Dad?”</p>

<p>All the assembled students watched, wide-eyed, turning back and forth with each volley in the turn-based verbal duel.</p>

<p>“Very little. They did, after all, abandon me.”</p>

<p>Someone gasped.</p>

<p>“An unusual policy, you must admit, for the supposed lightest family. But even then, you’d think when they realised their mistake that they’d at least take the effort to meet their long-lost child before he left for school.”</p>

<p>He flinched and shifted his feet on the plush carpet. That certainly didn’t look good. But how did Harry know about what was normal for squibs and families of the Light? And how did Harry… he froze. Harry <em>wasn’t</em> ignorant. His heart pounded faster. Which meant… He screamed a roar of primal rage. “You bastard!” He drew his wand and fired the dueller’s hello without so much as a thought. The fucker dodged them all and flipped up a nearby table as a shield. Books and parchment went everywhere.</p>

<p>Shouts and screams filled the carriage.</p>

<p>He lunged forward. Magic poured from his wand, determined to destroy the threat to his love. “What. Did you. Do. To. GINNY?!” With each furious cry, an overpowered spell dented, gouged, and smashed apart the doomed table in a righteous shower of ripped parchment and wood splinters. But when the dust and magic settled, the fucker had vanished.</p>

<p>He snarled.</p>

<p>“Potter!”</p>

<p>He dodged a head-bound expelliarmus on instinct and spun around, adrenaline still pumping, wand still in hand, ready to obliterate his new target.</p>

<p>“Potter! Put your wand down now! That is an order!”</p>

<p>He stared into the trembling but determined face of a younger Penelope Clearwater. Anger drained away. A lump formed in his throat. His wand arm dropped to his side. He shook. He looked around. Every face looked back at him with shock and fear. Several flinched as his gaze fell on them. Dread pooled in his stomach. Oh, that <em>can’t</em> have looked good.</p>

<p>Several hours later, it was a red-faced and much scolded John Potter who stepped off the Hogwarts Express.</p>

<p>The crisp air of the Scottish September bit into his hands and face. The children around him chatted and laughed, leaving him alone in the crowd. He deposited himself in a boat with Susan, Ron, and Hannah; and stared at nothing while the others stared at everything. The oohs and aahs of naked awe swirled around his person like mist, while the worries and angst of hidden uncertainty caressed his skin like a cloth-made dementor aura.</p>

<p>He clambered out of the boat and offered Susan an unthinking hand. Together, they trudged up the embankment, to the greatest magical school in Britain, and to the Hogwarts sorting ceremony.</p>

<p>He listened with half an ear as McGonagall gave them the house-as-family speech, and he caught a glance of Harry, alone and isolated, but also strong and confident. He clenched his teeth. If things kept going as they were… he was going to have to <em>do</em> something.</p>

<p style="text-align: center;">— End of Chapter Fifteen —</p>

{ 445} [every few weeks]: TehVladz: "Daphne's first year train ride declaration that the gray students should meet once a week went precisely nowhere. Even a comment about how it had unfortunately fizzled out, or even just the occasional reference (after the weekly meeting of the Grey students from other houses, Daphne…) would make it feel like something that was at least happening in the background, even if not important enough to as of yet show the reader in great detail
	"For me, this is the biggest chekov's gun not firing in the story thus far, as Daphne made such a big point of inter house unity among the gray in her speech"
	Lord Eggward Duke of Yolkshire: "Well… the most important gray students are all in slytherin. And they could still be friends, its just not important enough to write in"
