Chapter 16 - A Very Slytherin Muggleborn - Part 1

<p>The Hogwarts Great Hall was big, and the students, packed together like bristles on a broomstick, were small.</p>

<p>Headmaster Albus Dumbledore frowned. He surveyed the young witches and wizards of the great hall with the air of a similarly great lord surveying his just-as-great house. There was a feeling of trepidation not normally found before the sorting. John Potter’s entrance to Hogwarts had been on the lips of all for the past week, but this went beyond even that.</p>

<p>He’d heard the phrase ‘The Golden Year’ <em>more</em> than once. There hadn’t been a year so full of heirs in living memory. Ten heirs. A year was usually lucky if it got even <em>one</em>. That three of those heirs were children of the leaders of the Dark, Light, and Gray didn’t help.</p>

<p>The side door opened and Professor McGonagall led the first years into a line facing the rest of the students.</p>

<p>The general hubbub of the hall slowly died.</p>

<p>Leaning over the head table, he could see the general state of the children. Many fidgeted, their eyes darting around the hall as though expecting to be attacked. That was normal. His frown deepened. What wasn’t so normal was that a smaller number seemed to sway slightly. Their eyes drooped shut before jerking open again. An occasional yawn escaped. They looked exhausted. He couldn’t help notice that this second group all wore custom-made robes.</p>

<p>The sorting began.</p>

<p>“Abbott, Hannah.”</p>

<p>It wasn’t right, forcing these children to sink in their parents’ political crucibles. They should enjoy their childhood.</p>

<p>“Hufflepuff!”</p>

<p>He forced a smile and clapped for the Abbott girl.</p>

<p>“Bones, Susan.”</p>

<p>“Hufflepuff!”</p>

<p>He motioned for Poppy to join him.</p>

<p>“Boot, Terry.”</p>

<p>“Ravenclaw!”</p>

<p>Poppy leaned down to his ear. “Yes, Headmaster?”</p>

<p>“Brocklehurst, Mandy.”</p>

<p>“I wonder if you might take a quick look at some of our more well-known young charges—”</p>

<p>“Ravenclaw!”</p>

<p>“—during the feast? I fear many of them may have been using their occlumency all day.”</p>

<p>Poppy huffed.</p>

<p>“Brown, Lavender.”</p>

<p>“Really, Albus. I know occlumency doesn’t use much magic, but they’re still far too young for extended use like that.”</p>

<p>“Gryffindor!”</p>

<p>“I know, Poppy.”</p>

<p>“Bulstrode, Millicent.”</p>

<p>“Slytherin!”</p>

<p>He sighed. “Unfortunately it’s not our place to dictate how their houses conduct their affairs.”</p>

<p>“Corner, Michael.”</p>

<p>“Ravenclaw!”</p>

<p>Poppy grumbled.</p>

<p>“Crabbe, Vincent.”</p>

<p>“So long as they don’t expect pepper-up,” she said.</p>

<p>“Slytherin!”</p>

<p>“I’m getting far too many students these days who think—”</p>

<p>“Davis, Tracey.”</p>

<p>“—they can push themselves to their magical limits and just fix it with a potion.”</p>

<p>“Slytherin!”</p>

<p>“Just don’t be surprised if I drag one or two of them up to the hospital wing.”</p>

<p>“Dunbar, Fay”</p>

<p>“Gryffindor!”</p>

<p>He pursed his lips.</p>

<p>“Entwhistle, Kevin.”</p>

<p>“I hope <em>that</em> won’t be necessary, Poppy.”</p>

<p>“Hufflepuff!”</p>

<p>He clapped extra enthusiastically for the Wizarding World’s first newest member.</p>

<p>“Well, of course I also <em>hope</em> it won’t be…”</p>

<p>“Finch-Fletchley, Justin”</p>

<p>“…But, well… look at that boy there.” She gestured towards the line of unsorted students.</p>

<p>“Hufflepuff!”</p>

<p>He glanced over to where Poppy had indicated. The Longbottom heir was resting his head on the adjacent girl’s shoulders, eyes closed.</p>

<p>“Finnigan, Seamus”</p>

<p>He frowned. If only Tom had chosen the Longbottom child. Low magical power, no brother, <em>and</em> no parents.</p>

<p>“Gryffindor!”</p>

<p>“Yes,” he said, slowly.</p>

<p>“Goldstein, Anthony.”</p>

<p>“I see the problem.”</p>

<p>“Ravenclaw!”</p>

<p>Poppy nodded and left to sit back down.</p>

<p>“Goyle, Gregory.”</p>

<p>…</p>

<p>“Slytherin!”</p>

<p>He clapped the new snake in, just as he had for every other child thus far.</p>

<p>“Granger, Hermione”</p>

<p>Whispers and murmurs filled the hall.</p>

<p>A girl with wavy brown hair walked towards the stool.</p>

<p>He furrowed his eyebrows. The muggleborn looked almost as exhausted as the heirs…</p>

<p>Professor McGonagall lowered her parchment. “Quiet, please!”</p>

<p>…And the robes…</p>

<p>The noise lessened.</p>

<p>The girl reached the stool.</p>

<p>…And the way she stood, even when clearly ready to fall asleep…</p>

<p>Minerva’s eyes fell on the girl. He heard the old witch choke. “Miss Granger?”</p>

<p>The girl sat down. “Yes, Professor?”</p>

<p>Minerva glanced around the hall. “Would you care to explain why you are wearing a crest <em>before</em> you are sorted?”</p>

<p>His eyes widened.</p>

<p>“I am a”—she stifled a yawn—“a… vassal of my lord. Lord Slytherin. That is why I wear his crest.”</p>

<p>He tensed.</p>

<p>The whispers and murmurs started again.</p>

<p>How dare that man. His nostrils flared. To shackle a poor muggle family to his will… Slytherin was just like him back in his youth, and he’d seen where <em>that</em> lead. He clenched his jaw. But… at least the man had now shown his <em>true</em> colours — preying on the weak and vulnerable. Truly Dark.</p>

<p>Minerva stood, words forming but not emerging.</p>

<p>The hat, clutched in Minerva’s unmoving grip, twisted towards the poor girl and, without moving an inch toward the girl’s head, called out, “Slytherin!”</p>

<p>The Slytherin table erupted in a mix of enthusiasm and polite caution.</p>

<p>The girl stood and walked to the Slytherin table without so much as a backwards glance.</p>

<p>He stared at the girl’s back, half angry, half sad. As soon as the snake pit learned her heritage, she’d regret ever hearing the name Slytherin.</p>

<p>Minerva seemed to have gotten over her shock.</p>

<p>“Greengrass, Daphne.”</p>

<p>Oh. Of course. The Greengrass heiress and Slytherin’s betrothed. Is that why he’d done it? To serve the young heiress? Is that what muggleborns were to the young lord? Second-class citizens, fit only to serve the noble houses?</p>

<p>“Slytherin!”</p>

<p>Greengrass made to sweep to her new table, but in her fatigue, it came out more as a shuffle.</p>

<p>He sighed. He’d call the Granger girl into his office tomorrow morning and explain what Slytherin had done. Then they’d meet together with her parents and he’d advise them on how to break the contract, assuming it was even legitimate. With any luck, they’d be free by the end of the week and he could offer to have the girl resorted.</p>

<p>The sorting continued to shuffle and stumble forward, until eventually…</p>

<p>“Potter, Harry”</p>

<p>Whispers again filled the hall.</p>

<p>And that was another reason to get the muggleborn out of Slytherin.</p>

<p>He shot off a mind probe as the true boy-who-lived strode to the hat. Worry. Fear. Excitement. Disappointment in his brother on the train. Mixed feelings towards a cute girl who’d helped him. Confusion about why everyone was interested in him. It was an extremely unorganised mind. Unorganised, but, on the other hand, also quite healthy. He withdrew and suppressed a sad frown.</p>

<p>And the boy looked healthy too. Sending him to be raised by muggles had been a risky move. Tom had been raised by muggles. He’d been almost certain Petunia wasn’t going to honour her sister’s request. Luckily, it seemed the Potter boy had been spared Tom’s hate- and fear-filled childhood.</p>

<p>Minerva placed the hat on the boy’s head.</p>

<p>Silence.</p>

<p>…</p>

<p>…</p>

<p>…</p>

<p>“Slytherin!”</p>

<p>Gasps filled the great hall.</p>

<p>He resisted the urge to nod. This was the outcome he’d have expected if his guess all those years ago had been accurate. Things were slotting into place better than he’d hoped. An isolated, muggle-raised, well-adjusted Harry Potter was the best of both worlds. He’d just have to make sure Severus kept a careful eye on things.</p>

<p>“Potter, John.”</p>

<p>This time, the whispers were too loud for Minerva to ignore. “Quiet! If I have to tell you again I’ll start giving out detentions!”</p>

<p>Amazingly, the young Potter heir didn’t seem to be tired at all. Down, yes. A bit sad, yes, but not tired.</p>

<p>John Potter walked to the stool and had the hat placed over his head.</p>

<p>Silence.</p>

<p>Then, “Gryffindor!”</p>

<p>The table on the far left erupted.</p>

<p>John Potter stood up, gave a small, sad little bow, glanced towards the Slytherin table, and walked over to the clapping and cheering throng of Gryffindors.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione huffed. “Honestly, does he have <em>any</em> humility?”</p>

<p>Daphne shrugged and stifled a yawn.</p>

<p>Tracey stared from her to Daphne through half-lidded eyes. </p>

<p>Malfoy, Nott, Parkinson, Bulstrode, Crabbe, Goyle, and Harry sat a little further up the table. They looked equally shattered. Well, all except Harry of course, she mentally added.</p>

<p>Minutes dragged by until, eventually…</p>

<p>“Zabini, Blaise.”</p>

<p>…</p>

<p>“Slytherin!”</p>

<p>The girls all clapped for their dark-skinned comrade.</p>

<p>“Finally,” Daphne muttered as Blaise sat down next to her.</p>

<p>She acknowledged his arrival with a nod.</p>

<p>The evil headmaster stood up. “Now, I <em>do</em> have a few words for you all, but now is the time to eat, drink, and be merry. Dig in.”</p>

<p>The tables in front of them instantly filled with food.</p>

<p>She collected an assortment of potatoes, peas, carrots, onions, and roast beef onto her plate and began processing it.</p>

<p>All around her, the sounds of the older years’ laughing and joking flowed into the vacuum that was the Slytherin first years.</p>

<p>She speared a slice of beef on her fork and looked across the table just as a matronly witch wearing white robes bustled up to Daphne.</p>

<p>“Miss Greengrass.”</p>

<p>Daphne looked around, mouth still full.</p>

<p>“I’m Madam Pomfrey, the school’s healer. I’m going to perform a check for magical exhaustion. Okay?”</p>

<p>Daphne swallowed her bite and nodded.</p>

<p>Despite her own tiredness, she couldn’t help pause with the beef halfway to her mouth. New magic.</p>

<p>Madam Pomfrey pointed her wand at Daphne and muttered an incantation that she couldn’t quite catch. The healer frowned when the tip of her wand lit up dark pink. “You’ve been using far too much magic today, just like all the rest of your peers, I suspect. Make sure you get a good night’s sleep and come see me if you’re still tired by lunchtime tomorrow.”</p>

<p>Daphne nodded again, turned, and resumed her mechanical eating.</p>

<p>She continued to watch the healer as she moved up the table, stopping at every tired-looking student. So, that was the diagnostic charm to test for magical exhaustion, was it?</p>

<p>She frowned. Was it a charm though? It didn’t affect the properties of the target, after all. But the book she’d bought said it was a charm. She took a bite of potato. Something to ask the charms professor about, maybe.</p>

<p>She continued to eat and surreptitiously snuck a small piece of beef into the pocket of her robes, in which a tiny snake under Harry’s command writhed in appreciation. Eventually, the healer made her way around the table to where she sat.</p>

<p>“Miss Granger, is it?”</p>

<p>She turned. “Yes, Healer Pomfrey.”</p>

<p>“Just Madam Pomfrey while in school, Miss Granger.”</p>

<p>She hesitated. “As you wish, Madam Pomfrey.”</p>

<p>Madam Pomfrey nodded and a quick wand brandish produced a light pink light. “Well, Miss Granger, you’ve definitely been working yourself hard, but I’m glad you seem to be able to show restraint, your toxin levels are far lower than most of your peers.”</p>

<p>She felt her cheeks redden and nodded. “Can I ask a question, Madam Pomfrey?”</p>

<p>“Of course, dear.”</p>

<p>“Is that a charm or something else? Because—”</p>

<p>Just then, a loud crash came from the other side of the hall. Madam Pomfrey whirled around. “Oh, please excuse me.” and with that she hustled towards the source, an audible, “Oh, I feared that,” issuing from her lips.</p>

<p>She pouted and craned her neck to spy a small party of Gryffindors, including John Potter, staring at the collapsed form of the Longbottom heir. She turned back again to face her new comrades. “I guess it was a bit too much for some of us.”</p>

<p>Daphne, Tracey, and Blaise all grunted in unison.</p>

<p>The feast continued.</p>

<p>Warm food and peace filled her up. The food here was good, if a bit slanted towards high-calorie fats, carbs, and sweets.</p>

<p>Suddenly she felt something that shouldn’t have been. The faint and gentle touch of a mind probe. She yanked on the probe and whipped around to identify the source of the attack. The lightning-fast vision of a bearded old man, fighting to get away from a rampaging dragon, shot through her mindscape, just as she found herself gazing into the shocked blue eyes of the chief warlock.</p>

<p>Her pulse raced. She clenched the fork in her hand, hard. For one moment, the two stared each other into eternity, and then, just as quickly, the moment ended. She released the probe and turned back to her dinner, fork still clenched hard enough to leave an imprint in her palm.</p>

<p>She glared at her food and stabbed an errant carrot.</p>

<p>So, that was the man who would happily throw Harry to the depths of hell. Not on <em>her</em> watch.</p>

<p>The main course gave way to dessert and there were no more attempts on her mind.</p>

<p>After despairing for the lack of low-sugar dessert options, she chose a slice of blueberry pie. At least it contained <em>some</em> fruit.</p>

<p>The dessert ended. She placed her fork down, and turned back in her seat to face the front, just as <em>the enemy</em> stood back up.</p>

<p>“Now that you are all fed and watered, I do have some beginning of year announcements. Firstly, the forbidden forest is forbidden. We haven’t had a single death in fifty years and it’s a record I’d very much like to continue.”</p>

<p>She shuddered.</p>

<p>“The quidditch tryouts will be held in the third week of term and the duelling tryouts will be held in the first week of November. If you wish to try out for your house team, please contact your house team captain.”</p>

<p>She nodded. She wasn’t doing either, but she would be lying if she said she wasn’t looking forward to watching her lord wipe the floor with everyone.</p>

<p>“The forbidden items list is now bigger and better and is available on the office door of our resident caretaker, Mister Filch.” The man paused. “And finally, we are currently doing maintenance on the third-floor corridor on the right-hand side. As such, that area is potentially dangerous and is out of bounds until further notice.”</p>

<p>She kept her face totally blank. So, Harry was right.</p>

<p>“And now, the school song!” He waved his hands in the air, allowing his purple robes, embroidered with stars, sequins, and glitter dust, to fall down his arms. The other professors looked like they wanted to be elsewhere.</p>

<p>Words sprang from the tip of the man’s wand and the entire school started a chaos-filled cacophony of hectic hymns. The majority found a collective voice halfway through. A nice medium pace, leaving only the true mavericks breaking the flow. That included the red-headed twins who’d ‘helped’ her on the train… and Harry.</p>

<p>The song finished.</p>

<p>“And now,” the evil man continued, wiping a happy tear from his two-faced face, “bedtime — off you trot.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne stood in the Slytherin common room. Granger stood to her right. Blaise and Tracey stood behind them. As soon as they’d entered the room, they’d been shepherded into neat columns and rows along with the rest of Slytherin House.</p>

<p>She wanted to go to bed. It was so close. But she was stuck standing here.</p>

<p>The common room door swung open and a figure swept into the room, past all the waiting students, and to the front of the gathering. Severus Snape. His hair was long and greasy. His robes were black and stained. His nose was crooked, and his whole air screamed deadly assassin. As Slytherin masks went, it was a good one.</p>

<p>“Welcome…” Snape began, “to the Most Ancient… and Noble… House of Slytherin.” A voice of silk and daggers.</p>

<p>“This house has a long tradition of cunning and ambition… of elegance, and… breeding.”</p>

<p>Beside her, she thought she sensed Granger tense up.</p>

<p>“In Slytherin House… we follow a strict code of unity and discretion. Any political… rivalries… will stay <em>inside</em> the house. Outside these walls we stand as one.”</p>

<p>She nodded. Unless her lord said otherwise.</p>

<p>“You will find that being in Slytherin House will grant you many privileges that other houses are not party to. The facilities here are one of the many advantages we hold over other houses. These facilities <em>will</em> remain secret… or else.”</p>

<p>Subtle.</p>

<p>“I am Severus Snape. Potions Master and Head of Slytherin House.” Snape turned and looked her right in the eyes. “And I <em>am</em> Head of Slytherin House. Regardless of what some of you… might believe.”</p>

<p>What?</p>

<p>She stared straight back, refusing to either rise to the bait or submit.</p>

<p>Snape turned away from her. His eyes briefly fell on Granger before travelling back over the assembled students.</p>

<p>“We hold our ancient traditions dear and we do not appreciate those families who might soil our ways with… Light ideals… and who destroy those who fight to uphold those ways.”</p>

<p>A quick glance confirmed Snape was looking at Harry now. She ground her teeth. Bastard.</p>

<p>Another quick glance at Granger showed her Slytherin mask was cracking, anger seeping through fissures, like lava through rock.</p>

<p>She nudged the witch and shot her a look. The mask instantly snapped back.</p>

<p>“In Slytherin House… members of those families will quickly find themselves persona non grata.”</p>

<p>She stared straight ahead. Focusing all her exhausted will power on a single spot of wall some five metres in front of her.</p>

<p>“You will all maintain the dignity expected of those of your station. If I catch any of you engaging in unseemly behaviour, you will be punished.”</p>

<p>Translation — Don’t get caught.</p>

<p>“You will all maintain the highest academic performance as is expected from those with your magical advantages.”</p>

<p>Translation — Most of you know at least basic occlumency, but that’s no reason to slack off.</p>

<p>“And you will all show proper respect to those who have proven themselves your betters.”</p>

<p>…</p>

<p>“If you have any questions, go to a prefect. If you have to come to me and a prefect could have handled it, you will not be happy with the result. Don’t be late for classes tomorrow. There are <em>no</em> excuses.” And with that, Snape swept back out of the common room, pausing only to open and close the door behind him.</p>

<p>Daphne didn’t wait a moment longer. Bed was calling.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The next morning, Hermione’s eyes snapped open. The bed felt wrong. Oh! She was at Hogwarts! She scrambled out of the silk-sheeted bed and whispered the time spell. Seven o’clock. Breakfast would start any moment. She stripped off her brand-new dressing gown and stepped over to the double-shower bathroom.</p>

<p>The beautifully warm water washed over her.</p>

<p>The door opened and she heard someone else enter. Another stream of water fell in the stall next to her’s.</p>

<p>The water was so nice and warm.</p>

<p>Minutes passed.</p>

<p>She shut off the water and exited just as an equally wet Daphne Greengrass left her stall. They stared at each other for a moment, wrapped in towels and dripping. The Greengrass heiress hesitated, then continued on back to the dorm room. She followed.</p>

<p>Ten minutes later, they were both putting the finishing touches on their magically dried hair. She applied straightening charms, while Daphne was doing highlights with her wand.</p>

<p>They still hadn’t spoken a word.</p>

<p>Parkinson could be heard in the bathroom, arguing with Tracey and Bulstrode over shower time.</p>

<p>She made a mental note to get up an hour earlier tomorrow.</p>

<p>They finished their hair at the same time and started to put on their robes in unison.</p>

<p>She glanced at Daphne again. The girl seemed totally focused on what she was doing.</p>

<p>Socks were pulled on. Shoes were laced up.</p>

<p>Shouts of indignation still emanated from the bathroom.</p>

<p>They both stood up.</p>

<p>Daphne made as though to say something, but seemed to think twice.</p>

<p>She snapped.</p>

<p>“This is stupid! We <em>need</em> to talk about <em>some</em> things.”</p>

<p>Daphne paused on her way to the door and turned back. “Yes, that’s true.”</p>

<p>“Like, where exactly do we stand with each other? I mean, what was all that on the train yesterday? Do you want me to defer to you in public or what?”</p>

<p>“In public?”</p>

<p>“Yes, you know, where <em>other</em> people can see us.” She raised her right hand and wiggled her silver, lightning-bolt, ringed pinky finger.</p>

<p>Daphne’s face pinched.</p>

<p>She waited.</p>

<p>Daphne opened her mouth, then closed it again. Then, eventually, opened it again. “In public, we can act as social convention would dictate we act. And in private we can act as social equals.”</p>

<p>“…”</p>

<p>“…”</p>

<p>She smiled. “Excellent. Shall we get breakfast then?”</p>

<p>Daphne stared at her. Then nodded, once.</p>

<p>Together, they left the dorm room, strolled through the common room, and made their way down to breakfast, trying not to look <em>too</em> suspiciously comfortable in the optimal route they took.</p>

<p>Ten minutes later, she sat opposite Daphne at the end of the Slytherin table furthest away from the head table. She inspected the breakfast offering, frowned, grabbed a small slice of bacon, and lowering it into her snake-filled pocket. She idly wondered if she could get the house elves to serve fruit muesli.</p>

<p>Harry entered the hall, fresh and bouncy. She had to stop her face from betraying her feelings. She wanted to speak with him so badly. To greet and be greeted. To feel that warm feeling she always got around him.</p>

<p>Harry walked past her and sat in the middle of the table. Students on all sides shuffled away as though he had the pox. He took no notice and reached for the toast.</p>

<p>She bit back a scowl.</p>

<p>“Miss Granger?”</p>

<p>She turned. It was Professor McGonagall.</p>

<p>“Yes, Professor?”</p>

<p>“Headmaster Dumbledore wishes to speak with you in his office. The password is jelly beans.”</p>

<p>She adopted a carefully neutral expression.</p>

<p>“I’m sorry, Professor, but I have written instructions from my magical guardian that I may only speak with the headmaster in his presence.”</p>

<p>McGonagall frowned. “Miss Granger, our records show the headmaster <em>is</em> your magical guardian.”</p>

<p>“Then I can only suppose the records haven’t been updated since my parents appointed Lord Slytherin as my magical guardian.” She tapped her first Slytherin vassal coat of arms that was still visible above the new, standard Slytherin arms.</p>

<p>The stern professor’s eyes flustered from her robes, to her face, to Daphne, and back to her again. “May I see these written instructions?”</p>

<p>“Certainly.” She reached into her bag and handed over an official-looking parchment.</p>

<p>McGonagall read. “Well,” the professor said, dropping the parchment to her side and looking around at nothing. “This is all… very unexpected.” McGonagall’s speech was breathy. “Do you have any idea <em>why</em> your parents did this, Miss Granger? Have you noticed any strange changes in their behaviour? Perhaps subtle alterations like new interests or new habits. Has there been any—”</p>

<p>“—I hope, Professor,” Daphne interrupted, “that you are not accusing my lord of foul play?”</p>

<p>McGonagall’s lips thinned. “Miss Greengrass. It is most unusual for a…” the professor hesitated and glanced down the Slytherin table “…for a family in Miss Granger’s situation to hand over responsibility of their child to a total stranger. I am only doing what is necessary.”</p>

<p>She sighed, stood, turned and gave the shocked professor a formal curtsey. “Professor, I am thankful for your concern and for the responsibility you are showing for my wellbeing. In this case, I hope I can put your mind at rest by saying that my lord has both mine and my parents’ full confidence, and that he has been nothing but straight with us in the time we have known him.</p>

<p>“Most of my lord’s concern is in leaving those under his care in the lone presence of a political rival who is also the most powerful wizard in the world. Regardless of his reputation for fair dealing, you must see this is a legitimate concern. You will find that Heiress Greengrass has identical written instructions from her parents for the same reasons.”</p>

<p>She glanced over at Daphne who nodded.</p>

<p>McGonagall seemed to consider this while fiddling with the bun of her hair. “Very well. If you’ll excuse me, I need to inform the headmaster of this development.” The transfiguration professor left.</p>

<p>She and Daphne shared a longer than normal look, before busying themselves, once again, with breakfast.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne studied the strange shape hidden by a silk drape on the large desk at the front of the classroom.</p>

<p>“Students!” called the squeaky voice of Professor Flitwick. “You are now beginning your formal education of magic. Over the next seven years, you will learn all the basics you need to be a proficient wand wielder.”</p>

<p>The shape was twice as tall as the diminutive professor, stood as he was on a stack of books on his own desk.</p>

<p>“In this lesson, we’re going to cover the basic magic theory, how magic flows, the units we use to measure it, and how some of the tools we use fit into this system. We’ll finish by using our wands to measure your current magical capacity.”</p>

<p>Granger was vibrating beside her, a look of total focus on her face.</p>

<p>“Let’s start with a simple question. What is magic?”</p>

<p>Granger’s hand shot up.</p>

<p>“Yes, Miss Granger.”</p>

<p>“Magic is a form of energy, which certain living things can store and use to manipulate reality.”</p>

<p>“Excellent. Two points to Slytherin.”</p>

<p>Granger beamed.</p>

<p>“Magic is, as Miss Granger said, a form of energy that exists all around us in another plane of existence, which we call the aether. The aether does not interact with physical things in any way. The only way the aether interacts with us is through a thing which some living things possess, called a core.”</p>

<p>Flitwick hopped off the stack of books he’d been standing on, walked over to the shape hidden by the silk drape, and pulled, revealing a strange assortment of four glass spheres connected by tubes. The spheres were arranged like a diamond with a large sphere at the top, two smaller ones in the middle, and one last medium-sized sphere at the bottom.</p>

<p>The professor waved his wand, and the windows closed, dimming the room.</p>

<p>Flitwick pointed to the highest and largest glass sphere. “This is our core. It absorbs raw magic from the aether at a constant rate and stores it.” The little professor tapped his wand to the sphere and they watched as a glowing blue liquid filled the sphere. Appreciative gasps filled the room. After a few moments, the sphere was full. It looked very pretty to her mind.</p>

<p>“The blue liquid represents raw magic. Now, our core is connected to our bodies, represented by these two spheres.” He indicated the middle glass spheres, which were both connected to the top glass sphere, full and glowing.</p>

<p>“When our magic flows from our core into our bodies, our core converts it into a more usable form — what we call ready magic.” He tapped the single tube which led from the glowing sphere to the two empty middle spheres with his wand. Slowly, the glowing blue liquid started to flow from the first sphere into the tube where it split into the two separate spheres. As it passed into one of the spheres the liquid turned green — in the other sphere, it turned red.</p>

<p>Flitwick pointed to the green liquid now sloshing about in its sphere. “This is the ready magic in our body.” He pointed to the red liquid in the other sphere. “This is a toxin produced by our core when it turns raw magic into ready magic. Our body processes this toxin and flushes it from our system as quickly as it can.”</p>

<p>There was now only one empty sphere. It was connected to the sphere containing the green-coloured liquid.</p>

<p>“However, it is very difficult for our bodies to use magic directly. Humans have a very high ‘natural reluctance’ — something you’ll learn more about in transfiguration class — so, to combat this natural reluctance, we use a wand.”</p>

<p>He tapped the final, bottom sphere and glowing green liquid started to flow into it from the middle sphere which held it. Eventually, the bottom sphere filled up. “And there you have it!” The professor jumped back onto his pile of books. “The magical system of our bodies. From aether, to core, to body, and finally, to wand. Simple!”</p>

<p>Daphne grinned. She remembered going through a very similar lesson like this with Lady Davis not too long ago, although Tracey’s mum didn’t use the beautiful glassworks.</p>

<p>Beside her, Granger smirked. Presumably, Harry had taught her something similar.</p>

<p>“Now!” Flitwick called out. “We’re going to introduce two new concepts which will help us measure our magical power. You’ll want to bring out your parchment and quills for this bit.”</p>

<p>A series of groans filled the room, along with the scraping of chairs and rustling of bags and paper as people scrabbled for writing materials.</p>

<p>Flitwick waved his wand at the blackboard, and a stick of chalk lifted itself into the air and started to write on the board.</p>

<p>“The first is how we measure magic. How much magic does it take to cast a spell? How much magic does our core store? Or our wands? We measure this with a unit called the Merlin.”</p>

<p>The chalk wrote MERLIN on the board and underlined it twice. Next to that it wrote ‘— THE MERLIN IS DEFINED AS THE AMOUNT OF MAGIC THAT CAN BE STORED IN 100g OF IRON [M].’</p>

<p>“Do all of you have your wands?” the professor called out. There was a general call of yeses and nods while a few people brandished them, already in hand.</p>

<p>“Good, good. The number of Merlins that can be stored in your wand core is quite a bit higher than what can be stored in iron. Again, you’ll learn more about that in transfiguration.” He waved his own wand in the air. “Generally, your wand will store between 100 and 165 Merlins, depending on length and wand core.”</p>

<p>He looked out around her classmates. “Any questions?”</p>

<p>A girl she didn’t recognise raised her hand. “How many Merlins can our body hold?”</p>

<p>“Ah, good question. The number of Merlins our body will hold under <em>normal</em> circumstances is dependent on our lean body mass. One Merlin per kilogram. The larger you are, the more magic your body stores. Does that answer your question?”</p>

<p>The girl nodded.</p>

<p>“Anyone else?”</p>

<p>No one moved.</p>

<p>“Okay.” He waved his wand towards the blackboard again. Again, the chalk floated into position. “The second measure we are going to cover today is the Flamel. The Flamel is a measure of how quickly magic flows or is being used.” The chalk wrote FLAMEL, underlined it twice, and then wrote ‘— THE FLAMEL IS DEFINED AS A CONSTANT FLOW OF ONE MERLIN PER SECOND. [1 F = 1 M/s]’</p>

<p>Flitwick then waved his wand and two more glass apparati appeared on the desk. Both had a large glass sphere full of glowing green liquid that led to an empty cylindrical glass beaker. The tube that linked the first sphere to its beaker looked bigger than the second.</p>

<p>“The system on the left-hand side has twice the flow rate of the one on the right.” He waved his wand and glowing green liquid started to flow. “See how it fills up the beaker faster than its twin? If these were real wizards, the one on the right would be able to charge and cast spells twice as fast as the one on the left. His ‘flamelage’ would be twice as high.”</p>

<p>Flitwick looked around again. The sounds of quills scribbling on parchment filled the suddenly quietened classroom.</p>

<p>“Any questions?”</p>

<p>The same girl from before raised her hand again.</p>

<p>“Yes, Miss Roper?”</p>

<p>“What determines our flamelage, sir?”</p>

<p>“Another good question. Take one point for Ravenclaw. We have several points in our body where magic flows, and each point will have a different flamelage. The point where raw magic flows from our core into our body for example. Or the point where ready magic flows from our bodies into our wands. Our core-to-body flamelage changes the most with age. Our wand flamelage, by contrast, is determined by our wand compatibility. There are some other ways flamelage changes but we’ll discuss that in a later lesson.”</p>

<p>Roper nodded.</p>

<p>“Now! Everyone take out your wands!” People started scrabbling again.</p>

<p>Daphne gave a flick of her wrist and produced her brand-new hazel and unicorn hair wand. On either side of her, Granger and Tracey both had their wands in hand. Tracey had a massive grin on her face.</p>

<p>“The first spell we are going to learn is the lumos spell.”</p>

<p>A few scoffs were heard. She raised a single eyebrow.</p>

<p>“Now, I know that for some of you, this is very basic stuff. But please remember that some of your peers have never used even a toy wand before. The purpose of this exercise is not to develop casting skill, but to measure magical capacity.” He waved his wand at the chalk again. “The lumos spell is very useful for this.”</p>

<p>The chalk wrote, ‘LUMOS - PRODUCES A VARIABLE LIGHT BASED ON FLAMELAGE’</p>

<p>Flitwick turned back to them, away from the chalkboard. “Or, in other words, the more flamels you can produce, the brighter the light… I need a volunteer.”</p>

<p>Granger’s hand instantly shot into the air.</p>

<p>She gave the girl a half-lidded look.</p>

<p>Tracey giggled.</p>

<p>“Yes, Miss Granger, please come to the front of the class.”</p>

<p>Granger stood up and swept to the front of the classroom.</p>

<p>She spotted John Potter sitting several rows down, looking at Granger the way a just-kicked puppy might look at its owner. She smirked.</p>

<p>Flitwick produced an hourglass from under the desk.</p>

<p>“Now, Miss Granger, what I’m going to ask you to do is to hold your wand out in front of you and close your eyes.”</p>

<p>Granger did so.</p>

<p>“We’re going to go through a basic visualisation exercise to enable you to cast the spell. Don’t worry if you don’t get it right the first time. That’s very common. Now, imagine it being <em>really</em> dark, so very dark that you can’t see anything. You also know there is a monster nearby but you can’t see it. You also know that this monster is afraid of the light and that if you can produce light, you’ll be able to get away. Can you imagine that?”</p>

<p>Granger nodded.</p>

<p>“It’s really dark and you need that light. You need it <em>right now</em>. Now, cast the spell!”</p>

<p>“Lumos!” The dimmed classroom lit up, illuminated by a single point of strong light.</p>

<p>Flitwick turned the hourglass over. The sand started to fall. “Oh, very well done, Miss Granger, keep it just like that, yes, that’s it, just like that.”</p>

<p>Granger opened her eyes and stared at the light. A thousand laughs danced in her eyes.</p>

<p>Flitwick tipped his own wand to the tip of Granger’s and muttered an incantation of his own. The professor’s wand shot out a number, much like a tempus spell shot out the time — 12.07.</p>

<p>The light shone brightly for a little while more, then, suddenly, it dimmed, not going out, but not nearly as strong as before.</p>

<p>Flitwick flipped the hourglass over and tapped his wand on the top. Another number shot out of the wand — 18.42.</p>

<p>“The first number is the flamels Miss Granger is capable of producing. The second is how long she can keep that rate of flow up before the reserves of her wand and body are drained. Multiply the two together and you get what we call the maximum immediate reserves — the maximum number of Merlins that Miss Granger has access to at full power.”</p>

<p>The chalk on the board wrote ‘12.07M/s x 18.42s = 222.33M’.</p>

<p>“Once those reserves were used up, Miss Granger only had what little magic flowed directly from her core, which almost always has a much lower flamelage than our wands have. That is why the lumos spell eventually dimmed.”</p>

<p>Flitwick glanced at the wand held in Granger’s hand. “That is quite a wand, Miss Granger. Dragon heartstring I presume?”</p>

<p>“Yes, Professor.”</p>

<p>“Good, good. Well done. Three points to Slytherin. Please sit down.”</p>

<p>Granger walked back up towards her and Tracey, looking very pleased with herself.</p>

<p>“What I want you all to do now is practise the lumos spell. Once you’re sure you can cast it at full power, I will measure your maximum immediate reserves. If you are waiting or finished, please read and make notes on chapter one of <em>An Introduction to Magical Theory.</em>”</p>

<p>Daphne jabbed her wand. “Lumos.” A bright light lit the end of her wand. She was pretty sure it wasn’t quite as bright as Granger’s had been.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Headmaster Albus Dumbledore read the letter again. He wasn’t sure what to think. He’d just got back from checking the ministry records and Miss Granger’s parents had indeed appointed Lord Slytherin as their child’s magical guardian. That wouldn’t be easy to reverse. Not without the Grangers’ willing assistance. Not only that, but Lord Slytherin appeared to have put it into the head of both the girl and her parents that he, Albus Dumbledore, was dangerous enough that he shouldn’t be left alone with a child. <em>Him</em>. The headmaster of a school. Did Slytherin really believe that? Or was it just a ruse to distance this family from those who might clue them into the power he now wielded over them?</p>

<p>The door to his office opened. He pocketed the letter.</p>

<p>“Ah, Professor McGonagall. Are we ready?”</p>

<p>Professor McGonagall stood in the doorway, wrapped in her hardworking travelling cloak. “Yes, Albus.” She hesitated. “I really don’t know where all this came from. They seemed to be a perfectly normal muggle family when I talked to them last year.” She coughed. “Although, now that I think about it, they might have been a bit more accepting of everything than most muggle families are.”</p>

<p>Dumbledore nodded. “Let’s hope we can get this all straightened out as soon as possible. I do have an appointment with Gringotts straight after, and I don’t need to say how dangerous it is for Miss Granger’s family right now.” He walked over to the floo and threw a pinch into the fireplace. “Crawley.”</p>

<p>A few minutes later, they walked towards the house in question from the deputy headmistress’s apparition point. He stopped and caught McGonagall with his hand.</p>

<p>“Albus?”</p>

<p>“Something’s not right. There’s so much magic in the air I can feel it from here.” He drew his wand and carefully stepped forward, McGonagall following behind.</p>

<p>He stopped again, and pointed his wand into a spot a few feet off the pathway, towards one of the muggle residences.</p>

<p>“That’s the Grangers’ house, Albus.”</p>

<p>He stepped back. “It’s warded.”</p>

<p>McGonagall gasped. “What does this mean?”</p>

<p>“It means, that there is more going on here than just a pureblood preying on muggle families. These wards are expensive. I recognise many of them.”</p>

<p>“Not all?”</p>

<p>He shook his head. “No, my dear professor. Not all.”</p>

<p>He stood and looked at the ward line.</p>

<p>“So, what should we do, Albus?”</p>

<p>He turned towards his deputy and gave her his twinkly-eyed smile. “I guess we knock and see if anyone’s home.”</p>

<p>He stuck his wand into the outer ward and pulsed a stream of pure magic into it. Next to him, McGonagall did the same.</p>

<p>He waited, wand still held in the ward. A few moments later he felt an answering pulse shoot up the Elder Wand into his body. A nod from McGonagall showed that she too had been accepted. They unlatched the gate and stepped onto the property.</p>

<p>Walking up to the front door, he could feel the powerful ward magics sweep over him, probing him, judging him. He never thought he’d feel this kind of magic from a muggle residence. It was eerie.</p>

<p>The door swung open just as they reached it. A well-dressed young woman stood in the door.</p>

<p>McGonagall froze. “Mrs Granger?”</p>

<p>He glanced backwards to look questioningly at his deputy.</p>

<p>“Professor McGonagall,” said the now-identified Mrs Granger. Her voice was light and cheerful.</p>

<p>He turned back to the young woman.</p>

<p>“And Headmaster Dumbledore too. What a surprise. And to what do we owe this pleasure?”</p>

<p>We? He looked around.</p>

<p>“My husband is in the sitting room. Please follow me.” The woman turned and led them away.</p>

<p>McGonagall seemed to unstick herself. “Mrs Granger, may I ask how you came across those clothes?”</p>

<p>“Twilfitt and Tattings. Nice, aren’t they?”</p>

<p>McGonagall had no time to reply before they entered the sitting room.</p>

<p>A man, presumably Mr Granger, stood up from the far side of the room. The man’s clothes were no less respectable than his wife’s, if a bit plain for his tastes.</p>

<p>“Professor McGonagall,” Mr Granger announced in a strong, jovial voice, “Glad to see you again, after almost a whole year. And Headmaster Dumbledore. The chief warlock himself.” Mr Granger motioned them both to sit down in the two armchairs opposite where he’d been sitting. He then sat back down himself, while Mrs Granger sat on his right. “Firewhisky?” He started pouring a dram.</p>

<p>“No, thank you, Mr Granger,” he said, without thinking. “We’re here to ask—”</p>

<p>“—An where did yon get <em>that</em>?”</p>

<p>He looked askance at his deputy, who stared at the bottle held in Mr Granger’s hand.</p>

<p>Mr Granger looked at the bottle as if he’d only just noticed it. “Oh, Lord Ogden gifted a crate to our lord last Christmas, and he graciously passed on a half-dozen bottles to us. Good thing too, this variety is tricky to find, so I’m told.”</p>

<p>“Tricky to find?” McGonagall sounded incredulous.</p>

<p>He looked between his deputy and the Grangers.</p>

<p>Mr Granger held the tiny glass to the strait-laced deputy headmistress.</p>

<p>McGonagall seemed to fight a small war with herself.</p>

<p>“Go on, Professor,” said Mr Granger. “You only live once.”</p>

<p>The war ended with the forces of strait-lace routed. McGonagall took the glass and slowly drank as though from the elixir of life.</p>

<p>“Now, Headmaster.” Mr Granger turned to him. “What do we have to discuss? I hope Hermione isn’t in trouble already.”</p>

<p>“Well, we hope not, Mr Granger. We’re a bit concerned about your choice of magical guardian.”</p>

<p>Mr Granger frowned. “And how does this concern Hogwarts?”</p>

<p>“Lord Slytherin is a man about whom little is known. No one knows what he wants or what he is doing. He keeps secrets and doesn’t tell people what is really going on.”</p>

<p>Mr Granger smiled. “Ah, I understand. Kind of like how Hogwarts didn’t mention about us not having even half responsibility for our own daughter?”</p>

<p>He stared.</p>

<p>Beside him, McGonagall choked on her drink.</p>

<p>Mrs Granger shifted in her seat. “Or about both us and our daughter being subject to a completely separate set of laws from the mundane government, in which we are third-class citizens and have no representation.”</p>

<p>He stared some more.</p>

<p>“Or about what inevitably happens to muggleborn children who refuse a magical education?” Mr Granger’s voice was a bit more pointed now.</p>

<p>He flinched and glanced at McGonagall, who’d paled.</p>

<p>“Or about how much discrimination our daughter will face in the future? About how many built-in advantages older families have? Both legal and magical?”</p>

<p>“Or about how only eleven years ago, Magical Britain was in the middle of a civil war, in which people like us and our daughter were hunted down like dogs and slaughtered by a guerrilla organisation, many of the members of which then skipped prison because they were rich and powerful?”</p>

<p>“About how if we became inconvenient for certain people, we could disappear right from our own beds in the middle of the night and nothing we did alone could stop that?”</p>

<p>“Now that’s not true.” That at least he could defend.</p>

<p>“Oh, really? How many muggleborn families survived the last war with the Dark Lord?”</p>

<p>His stomach dropped and his shoulders slumped. He looked into Mr Granger’s flinty eyes. When his voice emerged it sounded older than he’d ever heard it. “I think you’ve made your point. Perhaps we aren’t as open as we would like to be with muggleborn parents. But what would you have us do?” He stretched his hands, palms faced out. “The truth would simultaneously enrage and terrify them, <em>and</em> alienate them from their own children. Many would blame them. Families would be torn apart.”</p>

<p>Mrs Granger reached for the bottle and poured herself a glass. “Some would, yes. But that could be ameliorated by doing what our lord did for us. He protects us. He brought us into his family and granted us what rights and privileges it is within his power to grant.”</p>

<p>“Mrs Granger, with the greatest respect, the wards around your property cost a small fortune and to give them to every muggleborn family would be far beyond the resources of Hogwarts.”</p>

<p>She smiled, sweetly. “Well then, I will go to bed tonight happy in the knowledge that we serve a man who has not only the words, but also the powers to keep me, my husband, and my daughter safe.”</p>

<p>He snapped. “Doesn’t it worry you that you know <em>nothing</em> about this man?”</p>

<p>Mr Granger smiled and looked him straight in the eyes. “Speak for yourself, Chief Warlock.”</p>

<p>His eyes widened in shock for a flash of a moment. Mr Granger knew something and the man’s eyes were fixed on him. They were right there. He reached out his magic between them, there was a flash of white light, and he felt a sad little yank just behind his navel.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daniel Granger stared at the space where, just before, the most powerful wizard in the world had sat. He leaned back in his seat and sighed.</p>

<p>“What happened?” McGonagall jerked up and whipped out her wand.</p>

<p>He clutched the golden head-of-house Granger ring on his hand like a child might clutch a blanket. “The headmaster attempted to use some kind of offensive magic on me — legilimency, I suspect. The wards shielded me, then ejected him. He’ll be several miles away in a local park.”</p>

<p>McGonagall swung towards the door, wand still in hand.</p>

<p>“Please stop waving that thing around, Professor.” Emma reached forward and patted the far side of the small table between them.</p>

<p>McGonagall whirled back around and fixed his wife with a wide-eyed stare. He could hear the woman’s breathing.</p>

<p>“Why don’t you sit down and tell us about how Hermione is doing. And yourself. We haven’t seen each other for a whole year after all.”</p>

<p>The old witch stared for several more seconds. Eventually, she sat down and took a deep breath. “If… If Albus did try to use legilimency, then I apologise on his behalf.”</p>

<p>He made a noncommittal gesture. “Maybe we’ll have a conversation about that some other time. In the meantime, what about Hermione? How is she fitting in?”</p>

<p>The professor seemed to take a moment to collect her thoughts. “I have not actually had a class with her, yet. But I do have transfiguration with her at one o’clock.”</p>

<p>He glanced at the clock and shared a quick, magic-is-awesome glance with Emma.</p>

<p>“She is in Slytherin,” the professor stated.</p>

<p>Emma grinned. “Well, of course she is. Ambitious and cunning, sounds like our Hermione.”</p>

<p>“Well, yes, but, a muggleborn in Slytherin… it is not going to be easy for her. You wished for honesty, and that is the honest truth.”</p>

<p>He smiled a smile of glass and flint. “I think you underestimate our little girl’s capabilities. And anyway, she has allies.”</p>

<p>“Oh. Yes. The Greengrass heiress.”</p>

<p>He maintained a carefully blank face. “Indeed.”</p>

<p>Emma poured the professor another dram. “Perhaps we could quickly talk about healer training? It’s something Hermione brought up after she got her wand.”</p>

<p>McGonagall’s face relaxed. “Certainly. Well, the options are…”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore picked himself up from where he’d fallen on a well-manicured grass lawn. He brushed himself down. Damn. He shook himself. That was a mistake. Ugh. He was getting old.</p>

<p>He looked around. It looked like a muggle park.</p>

<p>Wards like that wouldn’t have deposited him far, so he must still be in Crawley. Professor McGonagall hadn’t joined him, so presumably, she was still with the Grangers. That was good. Maybe she could learn something more useful.</p>

<p>He frowned. The Grangers were convinced that Slytherin was a protector. And to be fair, the man certainly had invested a lot of gold into giving the Grangers magical protection powerful enough to stop even him. Slytherin had done far more for this muggleborn family than he had ever been able to. Was he mistaken about Lord Slytherin? But then, why did Slytherin seem to distrust him so much? It made no sense. Slytherin <em>still</em> wouldn’t speak with him. After all these years.</p>

<p>He sighed. What he really needed was an ironclad reason to speak with the man. One that Slytherin couldn’t refuse and still maintain his image with those he led.</p>

<p>He stilled.</p>

<p>Oh, he was being <em>stupid</em>! He reached into the pocket of his robes and brought out the letter Lord Slytherin had written, barring him from speaking with Miss Granger without her magical guardian’s presence. He smiled and let out a held breath. Of course. <em>That’s</em> how he could get his meeting with Lord Slytherin. Now he just needed to find a valid academic reason to speak with Miss Granger.</p>

<p>He looked off into the distance. But first, he had an appointment with the goblins to keep. He focused on the nearest apparition point to London and vanished.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione sat next to Daphne in the transfiguration classroom. A blank piece of parchment lay in front of her. Her quill was ready inked and lay perfectly parallel to the parchment.</p>

<p>A cat padded down the aisle past her and jumped onto the desk.</p>

<p>She stared at it.</p>

<p>“Professor McGonagall is a cat animagus,” Harry had said.</p>

<p>She smirked.</p>

<p>Out of the corner of her eye, Daphne did the same.</p>

<p>A large bell sounded, indicating the start of class. Several minutes after that, two more students hurried into the classroom, looking relieved at dodging their presumed teacher-based reprimand. One of them was Dean Thomas.</p>

<p>The cat leapt from the table and resolved itself into the upright and stern visage of Professor McGonagall.</p>

<p>The late students’ faces fell.</p>

<p>“Thank you, Messrs Thomas and Finnigan. Please take your seats and if you are late again, I shall turn you into a clock.”</p>

<p>The professor walked down the aisle.</p>

<p>“Welcome to transfiguration. The magic of transforming objects into alternate forms. You will soon be shocked to discover that in the next five years, you will only learn five actual spells in this class.” The old witch paused and walked back up to the front of the lecture room.</p>

<p>A few of her classmates did indeed look surprised. Not her, of course.</p>

<p>“This is because one spell will cover almost all our efforts up until your NEWTs.” McGonagall pointed her wand at a goblet on the desk in front of her. It turned into a small statue of a knight on horseback. Another wave of her wand turned it back. She then picked up the goblet and pointed her wand at the table itself. The desk turned into a pig.</p>

<p>“I just used the same spell on both the goblet and the desk, the general transfiguration spell,” McGonagall said, turning the pig back into a desk again. “This is the spell we shall spend the majority of our time with. You may well be able to cast the spell by the end of this class. But to master it, will take a lifetime.”</p>

<p>Hermione diligently wrote down, ‘Point 1. General transfiguration spell — lifetime to master.’</p>

<p>“To cast the general transfiguration spell we channel our ready magic through our wands with intent to affect the change.”</p>

<p>McGonagall picked up a stick of chalk and wrote — A SPELL IS READY MAGIC WITH INTENT. “This applies to all magic, not just transfiguration. When you cast a charm, or a jinx, you are doing the same thing. Of course, for the spell to work, magic has to also <em>agree</em> with your intent, and that often requires additional actions. Hence, magic words, wand motions, rituals, etc.”</p>

<p>She copied this down too. She already knew it, but that was beside the point. Good students wrote things down.</p>

<p>“When we cast the transfiguration spell on an object, we channel the spell into the object. The object will continue to change as the intent channelled into the object changes.” The professor wrote — A TRANSFIGURED OBJECT HOLDS THE SPELL WITHIN ITSELF.</p>

<p>“When the magic in the object reaches zero, the object reverts back to its original form.”</p>

<p>McGonagall then reached under the desk and brought out two large glass bowls, a block of wood, and an hourglass.</p>

<p>“Class, please watch closely.”</p>

<p>She leaned closer to get a better view.</p>

<p>McGonagall placed the block of wood in the first bowl, flipped the hourglass, and pointed her wand at the wood through the bowl’s top. The wood turned into water.</p>

<p>“I have just channelled a tiny amount of magic into the wood.”</p>

<p>The professor looked down at the bowl and glanced at the hourglass. Several seconds later the wood turned back into water. McGonagall tapped the hourglass — 5.09 seconds.</p>

<p>“This time, the transfiguration lasted five seconds. But watch what happens, now”</p>

<p>McGonagall turned the wood back into water. In this demonstration, however, she poured half the water into the second bowl. The moment the water in the second bowl lost contact with the water in the first, it turned back into wood, a block, just like it had been before, but half the size. The first bowl, though, still contained water. They waited. They waited some more.</p>

<p>The water turned back into wood. McGonagall tapped the recently re-flipped hourglass — 9.65 seconds.</p>

<p>“Can anyone tell me what just happened?”</p>

<p>Her hand could not have moved faster.</p>

<p>“Yes, Miss Granger?”</p>

<p>“Once you poured half the water into the second bowl, it lost contact to the spell, so it turned back into wood. The first half then had only half as much mass to keep transfigured, but the same amount of magic, so it stayed transfigured twice as long.”</p>

<p>“Well done, Miss Granger. Two points to Slytherin.”</p>

<p>She beamed.</p>

<p>McGonagall wrote on the board — TRANSFIGURED OBJECTS USE UP THE MAGIC IN THEIR SPELL UNTIL THERE IS NO MAGIC LEFT.</p>

<p>The professor transfigured the wood into water again and then held the bowl up high so their attention was focused on it. Her voice was loud and sharp. “If you were to take a sip of this, you would end up with a mouth full of wood or sawdust. If you were able to drink this, all in one go, without the contact being lost between the liquid stream, you would end up with a stomach full of transfigured water. This would be a <em>very</em> bad thing. The water would gradually turn back into wood as individual molecules were absorbed by your stomach. This would cause severe damage to your stomach lining. You should <em>never</em> drink or eat anything that has been transfigured. <em>Ever</em>.”</p>

<p>Hermione grimaced. Harry had described some of the more graphic results that could be achieved with transfiguration if you were really trying hard enough. Just thinking about them made her squirm. The class seemed to have the same idea. One Hufflepuff girl, in particular, didn’t look well.</p>

<p>McGonagall put the bowl down on the table. “If we kept this transfiguration active for long enough, we would start to see a thin film forming on the top of the water — wood dust from the water molecules that evaporated from the water and lost their transfiguration.”</p>

<p>Under the last blackboard line, McGonagall wrote — IF YOU ARE UNCERTAIN IF SOMETHING YOU ARE ABOUT TO EAT OR DRINK CONTAINS MAGIC, CHECK FIRST!</p>

<p>“After the general transfiguration spell, we will learn the spell that checks an object for the presence of magic. If the object contains magic do<em> not</em> consume it.”</p>

<p>A tentative hand was raised towards the front.</p>

<p>“Yes, Miss Roper?”</p>

<p>“What about those chocolate frog things? They contain magic don’t they?”</p>

<p>Several rows down, she heard Malfoy mutter, “stupid mudblood.”</p>

<p>Her eyes narrowed.</p>

<p>Professor McGonagall paused. “Yes, they contain animation magic. However, they are sealed in special packages to prevent tampering. So long as you have just opened one, it should be safe to eat. But if you are still uncertain, there are more advanced spells to determine the exact nature of the magic an object contains. We will not be learning them until much later though.”</p>

<p>She swept from the blackboard to stand in front of the desks.</p>

<p>“Now, I am going to hand each of you an iron nail, and you are going to attempt to turn it into a small wooden spoon, like so.” A nail turned into a tiny wooden spoon.</p>

<p>A few minutes later, a tiny wooden spoon lay in front of her. She beamed and fought not to look to Harry for praise. She looked to Daphne instead. Another tiny wooden spoon, identical to hers, lay in front of the blonde witch. She caught Daphne’s eye and got a courteous nod in return.</p>

<p>She pouted and looked around the classroom. Except for Harry and his Gryffindor brother, no one else was even close to the two of them. It was amazing to think that, in the second timeline, she’d still been at the top of the class, even without Harry’s advanced occlumency training <em>and</em> while hanging around with… with…. She looked over at the red-headed boy next to Harry’s brother, who gave his nail an unsuccessful, half-hearted poke and then complained about being bored…. With <em>that</em>.</p>

<p>…</p>

<p>As it was, <em>this</em> felt like child’s play.</p>

<p>She let out a short breath through her nose.</p>

<p>“Daphne,” she started.</p>

<p>Daphne turned.</p>

<p>“Has our lord ever shown you that trick where he transfigures many different objects, builds something with them, and then times the magic to run out at the exact same time, leaving all the objects still standing?”</p>

<p>Daphne looked between the two spoons on their respective desks. “Yes…”</p>

<p>“Do you think we could do it?”</p>

<p>Daphne snorted. “Holding a transfiguration on 100g takes two milliflamels. These nails weigh, what? Maybe 10g?”</p>

<p>“Well, okay, I know we won’t get it exactly, but wouldn’t it be interesting to try and get close? It’s not as though we’re doing anything else useful at the moment.”</p>

<p>Daphne looked around. “What would we use to measure the time? The tempus spell isn’t exactly good for this, is it? And we don’t have one of those hourglasses. Or a pocket watch…”</p>

<p>Hermione paused. It was a good question. She thought for a few moments. “Iron can only hold a certain amount of magic, right?”</p>

<p>“Yes, one Merlin per 100g. We just did that in charms.”</p>

<p>“Right, so the longest time for a transfiguration on iron is?” The question hung in the air.</p>

<p>Daphne’s eyes sharpened. The witch pulled her parchment towards her and scribbled on it for a few moments.</p>

<p>She glanced over at the parchment and saw arithmetic of the type Harry had practised with her years ago.</p>

<p>“Seven minutes, twenty seconds,” the blonde announced.</p>

<p>“So we could use a piece of transfigured iron as our clock, and then practise on something else, something that can hold more magic. We could try to only pump in enough magic to match the iron’s transfiguration time.”</p>

<p>Daphne nodded slowly. “That sounds… like it would work.” The pretty witch frowned. “But isn’t waiting over seven minutes a bit long? Wouldn’t it be better to use something with a lower maximum capacity?”</p>

<p>“…I guess.”</p>

<p>“Miss Greengrass? Miss Granger?”</p>

<p>She looked up. The surprised form of Professor McGonagall loomed over them.</p>

<p>“Did you both do these?” McGonagall picked up one of the tiny spoons.</p>

<p>“Yes, Professor,” Daphne answered.</p>

<p>McGonagall put the spoon down and took a deep breath. “Very well done, the both of you. Two points to Slytherin each.” She glanced down at them. “Please do slow down a bit though. I do want Gryffindor to have <em>some</em> chance at the cup this year.”</p>

<p>The corner of her lips tugged upward. It wasn’t Harry praise, but it was something.</p>

<p>“Professor?” Daphne interjected. “Could you tell us what the lowest capacity material known is?”</p>

<p>The professor’s eyebrows rose. “Why do you want to know, Miss Greengrass?”</p>

<p>“We were thinking of practising precision in the amount of magic we use, but we don’t have a measurement device.”</p>

<p>McGonagall hesitated. “Oh. I see what you were thinking of doing. There’s really no need for that. I’ll lend you the hourglass, just let me get it.” And with that, the professor left to fetch it.</p>

<p>“Well, that’s convenient,” she said.</p>

<p>Daphne nodded.</p>

<p>Tracey landed between them. “You two are finally talking!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Albus Dumbledore was led into a well-appointed goblin office.</p>

<p>“<em>Greetings, Clan Leader Goldtooth.”</em></p>

<p>A large, well-dressed goblin wearing a sword by his side, stood up from behind his equally large mahogany desk, and smiled a twenty-four-carat smile. The Goldtooths were well named.</p>

<p>“<em>Greetings, Chief Warlock. Please. Sit.”</em></p>

<p>He did so. There were few formalities between those who spoke the underground warrior tongue.</p>

<p>“<em>I assume you are here about the”</em>—the goblin dropped his voice in a show of mock secrecy—<em>“You-know-what in vault 713?”</em></p>

<p>He smiled. <em>“Indeed. I hope there haven’t been any problems?”</em></p>

<p>Goldtooth grinned again.<em> “None whatsoever. A few goblins expressed an interest, but as soon as they learned that the immortal alchemist had provided his own special brand of defence, they didn’t even bother to enquire further. And it’s not as though Gringotts needs another one.”</em></p>

<p>“<em>Good good.”</em> It had taken a lot of work to persuade Nicolas to entrust him his most prized possession. But even then, his mentor and teacher had insisted on adding his own final defence.</p>

<p>The goblin shuffled a stack of papers. <em>“I’m surprised you are picking it up this late.”</em></p>

<p>“<em>Yes, we had to upgrade security. I decided the previous plans were not fit for purpose.”</em></p>

<p>The goblin fidgeted. <em>“You know I’ve said before that Gringotts security is </em>more <em>than sufficient for holding items like this?”</em></p>

<p>His eyes twinkled. <em>“Ah, yes, but not for the type of purpose I have in mind, Clan Leader.”</em></p>

<p>Goldtooth sighed. <em>“Very well, Chief Warlock, you know your own business best, I’m sure.”</em></p>

<p>He looked up at the ceiling.<em> “On that note, has there been anything of interest in our efforts to learn about our mysterious, masked wizarding clan leader?”</em></p>

<p>Goldtooth scowled.<em> “Nothing. The Boneslicer clan are keeping their interests as close as ever. Various clans have lost several of their best fighters in just the last year trying to wrest control of various accounts from them.”</em></p>

<p>He nodded. If Goldtooth was to be believed, the loyalty Lord Slytherin received from the Boneslicer clan seemed almost as much as what he received from the Goldtooths. It was disconcerting. Especially since he <em>knew</em> what <em>he’d</em> done to warrant it.</p>

<p>“<em>If there is nothing else, shall I have you shown to the vault?”</em></p>

<p>He shook himself from his thoughts. “<em>Yes, Clan Leader.”</em></p>

<p>Some time later, he stood in front of a large ornate-looking mirror, staring at the image of his long-dead sister, an equally dead Gellert, and his still-living brother, all standing around him and smiling happily.</p>

<p>Gellert looked him in the eyes and mouthed words that tore at his heart. “I forgive you, Albus.”</p>

<p>He sighed. “Nicolas, you truly are a demon.”</p>

<p>He ignored the other four figures, standing far off in the distance behind his destroyed family. He reached into his pocket, pulled out his special shrunk trunk, and enlarged it. The trunk sat as wide and long as he stood tall. A powerful wand-wave levitated the entire mirror, and a second wand-wave hovered it over the open trunk, down into its depths, and onto the expanded space’s floor with a light thunk.</p>

<p>He flicked the extra-large trunk closed with another wand wave and shrunk it with a single wand poke.</p>

<p>He turned to leave. He wasn’t looking forward to setting up his own final addition to Nicolas’ work. Not at all.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Several hours later, back in his office, Dumbledore took off his moon-shaped glasses and rubbed his eyes.</p>

<p>“John, my boy, you simply cannot act like that in front of everyone.”</p>

<p>John Potter sat in the large chair in front of him, eyes defiant and aflame. “You said it yourself, Headmaster. You said he’s a danger.”</p>

<p>He sighed. “Yes, but that doesn’t mean you can openly attack him like that. You shouldn’t attack him at all. I never meant for you to be that… antagonistic towards him.” He really hadn’t. Perhaps telling the other Potter twin about his brother had been a mistake. But how else was he to keep them apart?</p>

<p>“What about Ginny?” the boy half-shouted.</p>

<p>He gave a tiny shake of his ancient beard-ladened head. “John, the unknown wizard or witch who’s been teaching young Miss Weasley occlumency duelled both of Miss Weasley’s older brothers, without a wand, <em>and</em> overpowered the Weasley family wards. Miss Weasley might call this person Harry, but it’s not your Harry.”</p>

<p>“But… But…”</p>

<p>He frowned. Something seemed off, but he wasn’t sure what. “John, is there something you need to tell me?”</p>

<p>The young man stiffened. “No, Headmaster.”</p>

<p>That was a very fast response. He studied the boy in front of him. The Potter heir had seemingly matured a lot over the past few months. But in other ways, the boy seemed more unstable than before. More focused? More determined? Certainly more powerful. Half the spells Miss Clearwater reported John using were fourth-year spells, and both his rate of casting and duration <em>should</em> have been beyond him. If the wards hadn’t reported him as being John Potter, he’d have suspected foul play.</p>

<p>But it was still troubling. Even more so because of Harry. If John was this powerful, it was likely Harry would be too.</p>

<p>He kept his sapphire gaze on the boy. Eventually he looked away. “Forty points from Gryffindor for initiating an unsanctioned duel and one week’s detention with Mister Filch, Mister Potter.”</p>

<p>John nodded, stiffly.</p>

<p>“You may go, John. Please be more careful in the future.”</p>

<p>John left.</p>

<p>He sunk a bit lower in his massive chair. Sometimes he hated his job.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John Potter slammed the door to the Gryffindor first-year dorms behind him.</p>

<p>It was official. He wasn’t going to get any help from anyone in power to restore the timeline, or to ensure that the proper outcome came about. Ever since he’d come back in time he’d been floating along, letting most things happen just like they had last time, with just a few changes here and there to improve his position.</p>

<p>But, things hadn’t happened like last time, had they? Things weren’t the same, and it was looking more and more like he was dealing with events that he just didn’t know about.</p>

<p>Seeing Hermione wearing Slytherin green, hanging around the Greengrass heiress, and gliding around as though every day was the yule ball, hurt. Hurt so much. And he didn’t want to admit it, but without Hermione, he wasn’t as well off as he’d been even last time around. Oh, he had Susan now, who was cool in her own way, and Padma, and maybe a few others, but none of them was a replacement for the formerly bushy-haired, genius muggleborn.</p>

<p>He padded over to the window, drew back the curtain and surveyed the Hogwarts grounds. A faint mist hung over the open grass.</p>

<p>His eyes narrowed.</p>

<p>If he was going to do this, it was going to have to be with <em>his</em> power. He couldn’t rely on anyone else. Not anymore. Not with all the changes. That meant he didn’t have any choice but to be better. He was eleven. But he had the core of a fifteen-year-old. That meant that when he was fifteen this time around, he’d have the core of a twenty-year-old. And he knew he was beyond the top tier of power for his year to begin with.</p>

<p>Would that be good enough to fight Voldemort? It would have to be.</p>

<p>He clenched the curtain in his fist.</p>

<p>That meant he’d have to train. He’d have to get better. And he was going to start—</p>

<p>His stomach growled.</p>

<p>…right after dinner.</p>

<p style="text-align: center;">— End of Chapter Sixteen —</p>
