Chapter 17 - A Very Slytherin Muggleborn - Part 2

<p>Daphne sighted down her wand and loosed a bright red stunner on the wooden target dummy.</p>

<p>The Slytherin dungeons were exceptionally well equipped. They had a duelling range, a potions lab, <em>and</em> a small library. Harry had hinted there were other, more secure, places they could use later, but until they could set them up, she planned to make as much use of these facilities as possible.</p>

<p>Next to her, Granger lined up her own wand. “You don’t think we’re going to need this anytime soon do you?” Granger asked, firing off her own stunner towards the dummy.</p>

<p>She frowned. Their first day at Hogwarts had gone well. Nothing too drastic had happened and today looked to be more of the same. But still…</p>

<p>She fingered her wand. “It’s better to be prepared than not.”</p>

<p>Granger lowered her wand. “You could just say, ‘I don’t know.’”</p>

<p>She kept her face blank. “’I don’t know’ was part of my meaning.”</p>

<p>Granger tilted her head in a half-acknowledgement, turned, took a deep breath, and let loose a continuous chain of spells.</p>

<p>A few booths away, a group of older Slytherins were also training, making use of the time before breakfast to brush up on their skills, no doubt dulled by summer sloth.</p>

<p>Granger continued to pour magic into her target, muttering almost constantly under her breath, her spell casting fast, precise, and sustained. One stunner, one shield-breaker, one jelly-legs jinx, and one more stunner. The standard stunner was medium speed and medium power, the shield-breaker did nothing to a human, but was very effective against a protego, and the jelly-legs jinx was a super fast cast time threat meant to throw off an opponent for that crucial split second after their shield dropped. They called the combination the dueller’s hello and it contained the three non-shield combat spells Harry had taught her so far. Each of Granger’s spells flowed seamlessly into the next, an elegant dance of wand and hand movements, made all the more impressive by the witch’s occasional feints and ducks, dodging the pretend counter spells of an imaginary enemy.</p>

<p>She noticed the group of older Slytherins had paused and were eyeing them. The assumed leader detached himself from the group and sauntered over. She didn’t recognise the boy but he walked with a manner that screamed pureblood. She nodded at him and received a nod in return. The older boy stood a few paces away and watched Granger for a few more seconds before her casting slowed and stopped.</p>

<p>Granger turned.</p>

<p>“Good casting for a first year,” he commented. “I counted nine hellos before you slowed down. I assume you have at least one of them wordless?”</p>

<p>Granger stood a little straighter. “Yes, the stupefy, otherwise I’d never be able to keep that up for as long as that. I considered learning circular breathing but in the end, I decided not to bother.”</p>

<p>The boy tilted his head. “Circular breathing?”</p>

<p>“It’s a technique that allows you to breathe in through your nose while you breathe out through your mouth, but I’m not sure how useful it would be when you can just learn to cast wordlessly.”</p>

<p>The boy’s eyes widened. “Where did you see that? I’ve never seen that before.”</p>

<p>Granger shrugged. “It’s not from around these parts.”</p>

<p>The boy eyed her Slytherin vassal crest.</p>

<p>Was that suspicion in his eyes?</p>

<p>“Rumours say your lord comes from New Zealand…”</p>

<p>Granger smiled sweetly. “I’m sorry, I can’t divulge my lord’s secrets.”</p>

<p>The boy nodded, as though confirming something to himself.</p>

<p>Daphne’s lightning bolt ring vibrated. Her heart leapt — a message from Harry. She instantly buried herself in her occlumency and started decoding.</p>

<p>The boy nodded and extended his hand to Granger. “Romulus Volf, of the Ancient House of Volf.”</p>

<p>Granger made to bring her hand to his but before she could grasp it, Volf snapped up her hand, bowed down, and brushed his lips across her knuckles.</p>

<p>She almost missed this, so focused was she on Harry’s message.</p>

<p>Granger smiled and raised an eyebrow. “Hermione Granger, of the House of Granger, Vassal of the Most Ancient and Noble House of Slytherin.”</p>

<p>“Pleased to meet you, Miss Granger.” Volf straightened up. “I hope that you are planning to join the duelling team? I’ve already been approached by Heir Nott, but for you I’d happily kick him aside.”</p>

<p>‘<em>Daphne</em>,’ the message started, ‘<em>meet me with Hermione around the back of greenhouse one a few minutes before herbology. - Harry.’</em></p>

<p>“Oh.” Granger hesitated. “I don’t know about that. I’m sure Nott is good at duelling, and someone better might turn up.”</p>

<p>She bit her lip. Harry planned to meet them? Yes, she was happy, but she thought the whole point of the first few weeks was <em>not</em> to meet. Something must be wrong.</p>

<p>Volf snorted. “I reckon with a few weeks training you could take most second years. You have the power for it. If you can save our second-year duellist from dealing with his main opponent, we’ll be in a much better position. I doubt Nott could pull that off from the small amount I’ve seen of him so far.”</p>

<p>She really missed Harry. She fiddled with the cuff of her robes and stared off into the distance.</p>

<p>“Still, I was planning on working on some other projects…” Hermione mumbled.</p>

<p>“Look, how about you join the club as a temporary member. Then, when trials for the team happen in November, you can see if you still stand up to Nott? If Nott can’t improve enough to beat you by then, then you’ll probably be better than him for the tournament in April.”</p>

<p>Wait, what? She snapped to attention and glanced between Granger and Volf.</p>

<p>Granger fidgeted and opened her mouth to reply.</p>

<p>“Wait.” She held up a hand to stall Granger. “How about she goes ahead and does that, but on the condition that if anyone can beat Hermione in a fair fight on the day of trials that you give them her spot?”</p>

<p>Volf stared at her. His eyes narrowed. “You… I will not tolerate anyone but the strongest being on my team.”</p>

<p>Whoops.</p>

<p>She held up both her hands. “Of course.”</p>

<p>“I will put the person on the team, only if they can beat <em>all</em> the other first-year candidates.”</p>

<p>“I wouldn’t suggest anything else.”</p>

<p>“Okay… then we have an understanding.” Volf nodded and took a step backwards. “Miss Granger, Heiress Greengrass.” He turned and walked back to his group.</p>

<p>She turned to Granger who opened her mouth.</p>

<p>“Not now,” she whispered. “Our lord wants us.”</p>

<p>The presumed question on Granger’s lips died in a half-strangled squeal, quickly muffled by the witch’s own two hands clamped over her mouth.</p>

<p>“C’mon.”</p>

<p>An hour later found them standing in dew-fresh grass around the back of the massive glass structure of greenhouse one. There were no signs of Harry anywhere.</p>

<p>Granger shot her an anxious look.</p>

<p>Suddenly, a small bag fell at her feet. She picked it up. A pair of footsteps trod away from them through the grass, drawing their eyes to a faint outline against the background, shimmering in the soft morning air.</p>

<p>Granger pouted.</p>

<p>She inspected the insides to find a note, scrawled on parchment and wrapped around another package wrapped in brown paper.</p>

<p><em>D, He. I hope you’re doing well. I wrote this note on a transfigured lump of shale. It will revert at 9:00 am. In the bag is the IC. I’m having problems investigating our main project for the year. There are gender-specific wards around it, like in our dormitories, and I can’t get past them. Unlike the wards in the dormitories, they aren’t tied to Hogwarts’ own wards. ‘His’ experience suggests they shouldn’t be there, but they are. I need you two to get past the first ward line and take readings on the next ward line, if there is one. Be careful not to trip any detection wards. Little boys are made of slugs and snails and puppy-dog tails. Keep an eye out for QM and the EH. Once you are done, buzz me to arrange pick up of the IC. Remember, I’m a single SOS call away. Can’t wait to see you both again. - Me</em></p>

<p>She looked up. Granger finished reading over her shoulder. She looked Granger in the eyes. They both nodded, turned, and quickly headed to herbology.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione stared in awe. The inside of greenhouse one was even larger than its outside. Birds chirped in the canopy above, butterflies swirled around her head, and she <em>knew</em> she could hear the distant roar of a waterfall in the distance. Around her, the other Slytherins and Ravenclaws all huddled around the fat and squat head of Hufflepuff House, waiting for their introduction. On the other side of the group she spotted Sophie Roper, fellow muggleborn. She edged towards her.</p>

<p>“Come students, all ears on me!” Professor Sprout called out. The general murmuring died down.</p>

<p>“Now, you should all have your books with you, <em>1001 Magical Herbs and Fungi</em>. This will be your codex for the next seven years. Herbology may not have the wild wand-waving of other subjects, but it is just as critical to your education. Can anyone tell us why?”</p>

<p>Her hand leapt up without seeming to pass through the space in between.</p>

<p>“Yes, Miss Granger.”</p>

<p>A few people rolled their eyes. Mmm… maybe she should tone down the answers a bit…. She took a deep breath. “Plants and fungi make up the majority of magical energy brought into our world through the aether. Over ninety-five percent of all magic in the world comes from plants and fungi, most of our permanent wards use plants or fungi as their source of magic, and most potions use plants or fungi for at least one ingredient.”</p>

<p>“Excellent, Miss Granger. Two points to Slytherin.”</p>

<p>She beamed. Yes, this was how the world should be.</p>

<p>“As Miss Granger said, plants account for most of the magic we experience around us. Wands may make <em>us</em> magical, but plants make <em>the world</em> magical.</p>

<p>“This year, we will be learning the basics of taking care of plants. We will be growing a batch of huntsman’s sorrow from seed to harvest. Can anyone tell me what’s special about this plant?”</p>

<p>This time, she kept her hand down.</p>

<p>“Anyone?”</p>

<p>On the other side of the group, Daphne raised her hand.</p>

<p>“Yes, Miss Greengrass?”</p>

<p>“Huntsman’s sorrow is a wizard-bred plant that can only germinate with wizarding help. It’s used in healing and can amplify the effects of healing spells when applied to a deep wound.”</p>

<p>“Well done. Another two points to Slytherin.”</p>

<p>Daphne nodded once, Slytherin mask firmly locked in place.</p>

<p>She frowned.</p>

<p>“Now, get into groups of four. Quickly now!”</p>

<p>She started and looked around.</p>

<p>Sophie moved towards a workbench a half-dozen metres away. She lunged for it, elbowing Terry Boot out of the way with a quickly mouthed apology.</p>

<p>She reached for one of the wooden chairs.</p>

<p>“Oh Merlin no, not you. This thing is complicated enough already.” On the other side of the workbench, Padma Patil of the Light and Lisa Turpin of the Dark reached for the two free chairs. Sophie joined them a moment later, sitting down next to her.</p>

<p>“What’s wrong?” asked Sophie. “Oh, hi Hermione, thanks for talking to me on the train.”</p>

<p>She smiled, “My pleasure.”</p>

<p>Patil glanced at Turpin, who in turn eyed her with weary eyes.</p>

<p>She nodded towards the two cautious witches. “Pleased to meet you, Miss Turpin. Miss Patil — I don’t think we were formally introduced the last time we saw each other.”</p>

<p>Patil frowned and nodded. “No. It was rather hard to do that while you were shouting at the boy-who-lived.”</p>

<p>Turpin’s eyes widened. “She really?”</p>

<p>“Oh, yes.”</p>

<p>Sophie tilted her head. “Isn’t that the hero boy? Did you really shout at him, Hermione?”</p>

<p>She nodded. “I did. And Miss Patil here can tell you why.”</p>

<p>“Well, I could… or I could just ask you why you’re here.”</p>

<p>She made to look confused. “Sophie’s here. Why shouldn’t I be here?”</p>

<p>Sophie glowed.</p>

<p>Patil frowned. “But are you here as Miss Granger the muggleborn, or are you here as Miss Granger of the House of Granger, Vassal of the Most Ancient and Noble House of Slytherin?”</p>

<p>Sophie’s smile turned to confusion.</p>

<p>Turpin’s eyes narrowed ever so slightly.</p>

<p>“Can’t I just be here as Hermione?”</p>

<p>“You could,” Patil started, “but I don’t believe it. I don’t trust you.”</p>

<p>“Padma!” Sophie cried out. “Why did you say that? Hermione’s nice.”</p>

<p>“Is she?” Turpin interjected. “What about Harry Potter?” The girl glowered. “Why is all of Slytherin House ignoring him?”</p>

<p>Her eyes widened. “I’m not—”</p>

<p>“—Yes you are! Harry Potter’s nice, and all of Slytherin is ignoring him! Why?”</p>

<p>Sophie and Patil leaned back from the ranting burnt-brown-haired girl.</p>

<p>She stared at the girl, dumbfounded. She swallowed. What could she do? Explain? The idea was unthinkable.</p>

<p>She suddenly realised the greenhouse was deadly quiet. Professor Sprout was nowhere to be seen. She felt many eyes all fixed on her.</p>

<p>Lisa Turpin’s eyes burrowed into hers, flared and angry. “Why?” The repeated accusation stabbed her.</p>

<p>Her heart hammered. Her chest tightened.</p>

<p>“I… I…”</p>

<p>Her eyes started to sting.</p>

<p>A chair scraped on the stone flagstones. “Thank you, Lisa.” Harry’s cheerful voice wafted over her. “But it’s okay. It’s just something I’m working out with my fellow Slytherins.” Slytherins scoffed throughout the greenhouse.</p>

<p>Turpin suddenly seemed to realise that everyone was watching her. The witch glanced towards some of the Darker tables, suddenly nervous. “Oh… Okay then,” Turpin trailed off.</p>

<p>“I really do appreciate you standing up for me like that, though. They’ll all come around eventually, I’m sure.” She could hear the grin in his voice.</p>

<p>More disbelieving scoffs filled the glasshouse. The chair scraped again and the general hubbub slowly started up again.</p>

<p>She looked at the burnt-brown-haired witch and saw cheeks tinted with pink.</p>

<p>Sophie gasped. “Hermione, are you crying?”</p>

<p>She looked around wildly. The world <em>was</em> slightly blurry. “No.” She clamped down her rising feelings. “No, I’m not.”</p>

<p>Sophie reached into the pocket of her robes and passed her a handkerchief. “Here.”</p>

<p>She took it and dabbed at her slightly watery eyes. “Thanks, Sophie.”</p>

<p>On the other side of the table, Patil and Turpin watched her with wide eyes.</p>

<p>Sophie smiled. “No worries, Hermione. That’s what friends are for, right?”</p>

<p>She smiled back. If only Daphne could be more like that.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne shivered.</p>

<p>The potions lab dripped, cold and dark. For every three torches in the Slytherin common room, the potions lab had only one, and not the warm orange of a campfire. No, these were closed bluebell flames, flickering their dim light across grey, un-plastered stone walls. It felt like being submerged in an underwater cave, still-lingering fumes filling her lungs as surely as water might drown the helpless and the trapped.</p>

<p>She watched Professor Snape billow to the front of the classroom, cloak rippling in the eddy of some unseen and unfelt current. No one moved.</p>

<p>Snape turned. “You are here to learn the subtle science and exact art of potion making…”</p>

<p>The speech swept over her like a tide. Pretentiousness crashed on pretentiousness and told her little of their curricula for the next seven years.</p>

<p>“Potter!” Snape whirled on Harry, where she’d seen him sit at the back of the room. “What is the primary purpose of sycamore in potion making?”</p>

<p>“As an agitant, Professor.”</p>

<p>Snape paused and seemed to search Harry’s eyes for an age.</p>

<p>He whirled on her. “Greengrass, name a potion that uses boomslang skin.”</p>

<p>“Polyjuice, Professor.”</p>

<p>Snape paused again, but this time only for a moment.</p>

<p>“Granger!” Snape turned a fraction to where Granger sat a few feet from her. “How many turns does a simple boil-cure potion require?”</p>

<p>“Seven, Professor — three clockwise and four anticlockwise.”</p>

<p>Snape paused… again. “Mmm… Let’s try another. Granger, how long must you keep a strengthening solution at boil before adding porcupine quills?”</p>

<p>“Thirty minutes, thirty-five if the moon is gibbous, Professor.”</p>

<p>“What is the catalyst used in the creation of elixir of life?”</p>

<p>“A philosopher’s stone, Professor.”</p>

<p>“What should you do immediately after adding death-cap to a solution containing activated salamander concentrate?”</p>

<p>“Vanish the solution, shield yourself, or run away if you don’t have a wand.”</p>

<p>“…”</p>

<p>“…”</p>

<p>“What potion… might you add silver to?”</p>

<p>Hermione hesitated. “…Wolfsbane, Professor?”</p>

<p>Snape pounced. “Why? Silver is toxic to werewolves.”</p>

<p>“It… it might act to interfere with some aspects of the curse. Perhaps there are other potions elements that could counteract the harmful aspects of the toxicity?”</p>

<p>Snape sneered. “You’re just guessing.”</p>

<p>Daphne frowned. Snape was deliberately trying to get a rise out of Granger. She knew Harry had said the greasy-haired professor would have problems with any perceived challenge to his authority, but this was something else.</p>

<p>Hermione reddened. “Yes, Professor.”</p>

<p>“Mmmmm….” Snape leaned forward and gazed deeply into Granger’s eyes.</p>

<p>Silence. Then both Snape and Granger snapped back as though they’d been slapped. Granger gasped. Snape clutched his head in one hand, his eyes flashing pure rage.</p>

<p>She sucked in her breath. He <em>didn’t</em>, did he?</p>

<p>“Granger!” Snape’s normally pale skin was red. “Come with me!”</p>

<p>Snape made to leave the room.</p>

<p>The rest of the class broke out in whispers.</p>

<p>She caught Granger’s eyes, furious brown gimlets giving all the confirmation she needed. She shook her head. No way would Harry just let that slide. Granger nodded in understanding.</p>

<p>“Sir?” Granger turned back to where Snape slammed open the door. “Where do you want me to follow you to?”</p>

<p>“Be quiet, girl! And follow me now!”</p>

<p>“No, sir.”</p>

<p>“What?” Snape’s voice dropped to a deadly whisper, which nevertheless carried across the dungeon.</p>

<p>“You just attacked me. I have written instructions from my magical guardian not to be with the headmaster without his presence because he is concerned about my safety with him. Given that you just tried to attack me, I’m confident that sentiment will now extend to you too.”</p>

<p>“Stupid girl! The headmaster is your magical guardian!”</p>

<p>Oh, Merlin. Daphne’s stomach dropped. Not here. Her eyes flew around the classroom, to all the wide, watching eyes.</p>

<p>“No,” Granger started.</p>

<p>Daphne tried to make urgent signals with her eyes.</p>

<p>“Lord Slytherin <em>is</em> my magical guardian.”</p>

<p>It was like watching a broom crash in slow motion.</p>

<p>Snape paused, his face one large triumphal sneer. “You expect me to believe that a couple of filthy muggles signed over their daughter to an arrogant, cowardly, no name?”</p>

<p>Somewhere in the back of the room, a drop of water made an audible plop noise.</p>

<p>She dared a look towards the Darker Slytherins. Nott, Parkinson, Crabbe and Goyle all looked shocked. Malfoy had already passed shocked and moved onto disgusted fury. On the Gray side, Tracey and Blaise looked between her and Granger. Tracey shot her a what-the-hell-are-you-doing look.</p>

<p>Granger’s voice wavered only slightly. “I do not appreciate those words about my parents.”</p>

<p>“Enough! You will come with me or I will have you expelled!”</p>

<p>She took a deep breath. So it had come to this, already. She stood. “Professor Snape.” Her voice rang through the dungeon like a bell. “Despite your comments to our house yesterday, you are only head of the Hogwarts branch of Slytherin House at the discretion of my lord Slytherin. If my lord wishes it he can take control of the Hogwarts branch back from you.”</p>

<p>This was technically true, but <em>did</em> present some inconvenient problems, which they really didn’t want to deal with just now. She was sure she could hear Snape’s teeth grinding from across the room.</p>

<p>The Gryffindors all watched with bated breath. John Potter looked torn between horror and awe.</p>

<p>Snape drew his cloak around him. “And you think this Lord Slytherin will listen to <em>you</em>?”</p>

<p>“I am his <em>betrothed</em>.” She glared at Snape, annoyance seeped through her body even as she felt her magic seeping <em>out</em> of her body. She didn’t care. Her whole world focused on the six feet of enemy in front of her.</p>

<p>“And why should I believe that he views you as anything more than a silly little girl to carry his heirs and pretty his arm?”</p>

<p>Gasps filled the dungeon.</p>

<p>Fury and frustration threatened to break through her cool hard mask. She fought it down and glared straight into Snape’s eyes. Her magic continued to flow. Her hands numbed.</p>

<p>“Then allow me to make this clear to you, <em>Professor</em>.” She sneered the title with all the disdain she could muster. “My lord Slytherin gave me express instructions that if you threatened or attacked me or Hermione, that we should contact him and he would remove you as head of house, and ensure that you could never again step foot inside the Slytherin dungeons — an action for which he has every legal right and total magical capability.”</p>

<p>Snape glared.</p>

<p>“Maybe we should get back to the lesson and cease this foolish charade, <em>Professor</em>.”</p>

<p>Snape stood at the top of the stairs, stock still and silent.</p>

<p>“Class dismissed!” he snapped, before storming out.</p>

<p>She sat back down and let out a deep, slow breath. Granger’s wide eyes met hers and then dropped to her hands. She glanced down. Her hands had been gripping the back of her chair so hard her knuckles were white — white from her skin, white from the pressure, and white from a thin layer of ice crystals, which travelled from the tips of her fingers, up the back of her hands, and halfway from the cuffs of her robes to her elbows. Daphne shivered.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Early the next morning, Hermione marched down to the Quidditch pitch, mind whirring.</p>

<p>Her and Daphne’s confrontation with Snape had spread through the school like fiendfyre. Everywhere she and Daphne went, groups whispered and pointed as they walked by.</p>

<p>Rumours flew faster and thicker than the morning owls, but there were three facts everyone seemed to agree on. That she was muggleborn, that someone had used legilimency on someone, and that Lord Slytherin was considering removing Snape as head of Slytherin House.</p>

<p>Slytherin House had been quiet as the grave. Blaise said everyone was feeling out everyone else for where they stood before doing anything.</p>

<p>Then there was Daphne. She glanced at the pretty blonde strolling a few paces from her. Daphne still confused her. The girl was distant, almost cold. But when Daphne stood up to confront Snape, she was so cold she burned. The coldness went beyond cold and became something almost hot, like pools of liquid nitrogen, bubbling and gassing, less like snow carelessly piled around and more like a blade made from razor-sharp ice. The girl licked like a frozen flame, sucking the heat out of the space only to return the intensity back five-fold.</p>

<p>Had that intensity been focused at her, she wasn’t sure how she’d have handled it, but it wasn’t, it had been in her defence. She wasn’t sure how to feel about that. Did Daphne really feel that way, or was she just doing what Harry asked her?</p>

<p>They arrived at the centre of the quidditch pitch to find most of their classmates from Slytherin and Hufflepuff milling around a long line of mouldy old brooms. She avoided the glares in her direction from the Dark and instead shuffled over to the Hufflepuff boys, who’d formed their own little circle.</p>

<p>“Good morning Wayne, Zach. Hi, Justin. Hey, Kevin.” She greeted the two Gray and two muggleborn Hufflepuff boys with a wave and a smile.</p>

<p>Kevin Entwhistle stood an inch or two taller than the rest of them. Someone like Malfoy would no doubt laugh at his loose tie and his mousy brown hair had an almost Harry-like just-got-out-of-bed look.</p>

<p>Justin Finch-Fletchley, by contrast, was as immaculately dressed and groomed as he’d been both in Madam Malkin’s and later when she’d successfully found him on the train, even if those clothes would be considered fairly common by wizarding standards.</p>

<p>All four returned her greetings and made room for her in the circle.</p>

<p>Zach gave her an imperious nod. “So, what’s this we hear about you and Snape? Rumour says he attacked you.”</p>

<p>She nodded. Justin and Kevin gasped.</p>

<p>“Yes, he did — Legilimency attack.”</p>

<p>Wayne tutted.</p>

<p>Zach sucked his breath in. “I’m going to take my practice a lot more seriously from now on, I think.”</p>

<p>She nodded.</p>

<p>Kevin and Justin shared a confused look.</p>

<p>Kevin spoke. “But… if the teacher attacks a student, shouldn’t he be thrown out?”</p>

<p>Wayne and Zach shuffled.</p>

<p>“It’s not quite as simple as that,” Wayne said.</p>

<p>Zach nodded. “Yeah, legilimency isn’t considered assault until actual damage is done, and if you can defend yourself no damage will be done.”</p>

<p>“And if damage is done,” Wayne continued, “it’s usually hard to prove.”</p>

<p>She jumped in. “Of course, it <em>is</em> considered extremely rude. It’s not the sort of thing done in polite company.”</p>

<p>Justin frowned. “That doesn’t seem right. What is legilimency anyway?”</p>

<p>“It’s a form of mind magic. It’s not quite mind reading, but it’s sort of like that.”</p>

<p>Kevin’s mouth dropped. “Mind reading?”</p>

<p>She looked around to where the Hufflepuff girls were standing. Heiresses Bones and Abbott, along with Sally Smith, and two other girls she didn’t know were talking with the one lone Hufflepuff Light boy, Ernest Macmillan. “More like mind surfing,” she said.</p>

<p>Wayne tilted his head. “What’s surfing?”</p>

<p>Justin and Kevin shot Wayne incredulous looks.</p>

<p>“It’s a muggle sport. Think riding a broom on massive waves of water.”</p>

<p>“That sounds kinda cool.”</p>

<p>Kevin threw up his arms. “We’re getting off the point! What’s going to happen to the potions professor? I really don’t like him. He was nothing but nasty all class. Leanne almost cried! I right wanted to give him it.”</p>

<p>Zach looked at her. “Yes, Miss Granger, Vassal of the Most Ancient and Noble House of Slytherin, what <em>is</em> going to happen to Snape?”</p>

<p>She fidgeted with the cuff of her robes. “I’m not sure yet. That depends on my lord.”</p>

<p>Kevin’s eyes widened. “Your lord? Vassal? So you’re <em>right</em> nobby then?”</p>

<p>Justin and Zach rolled their eyes out of Kevin’s view.</p>

<p>She opened her mouth to reply.</p>

<p>“Don’t worry about it Hermione,” Wayne interjected. “Kevin’s just having an interesting time adjusting, isn’t that right, Kev?” Wayne playfully elbowed the larger boy.</p>

<p>Kevin crossed his thick arms. “Look, the way mum raised me, I’m just not used to all this nobbiness, ‘kay?”</p>

<p>She smiled, “Don’t worry. You’ll get used to it soon.”</p>

<p>“Alright everyone!” A loud female voice interrupted them. “All attention on me and I’ll show you how to properly mount your brooms.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne climbed towards the Hogwarts castle after their first flying lesson, trying to ignore the feeling that she was going to fall over onto the grass. Despite a few tentative flights with Harry, clinging onto his waist for dear life, she’d never really gotten the hang of flying.</p>

<p>Harry made it look easy and the other Slytherins kept shooting him furtive glances, especially Malfoy, whose flying, while good, clearly wasn’t as good her lord’s.</p>

<p>She was actually glad for the distraction. Malfoy and the rest of them had distanced themselves from her, Granger, Tracey, and Blaise. Slytherin House seemed to be drawing lines, and she wasn’t sure exactly what those lines even represented.</p>

<p>She looked around and paused.</p>

<p>Granger made it a few steps in front of her before turning in question. Tracey and Blaise continued on walking for a moment, before they too stopped.</p>

<p>At the edge of the forest, a man with a hard-to-miss turban disappeared behind a tree trunk, heading deeper into the forbidden forest.</p>

<p>She frowned, carried on climbing, caught up to Granger, and whispered into her ear. “Third floor, now.”</p>

<p>Granger’s eyes widened slightly before she gave a small nod.</p>

<p>“What’s up you two?” Tracey asked.</p>

<p>“Nothing. Hermione and I have a few things to take care of. See you at lunch?”</p>

<p>Tracey and Blaise looked at each other.</p>

<p>“Sure. See you then,” Tracey said.</p>

<p>“Don’t get in trouble,” Blaise added with a wink.</p>

<p>A minute later she and Granger ducked into an empty bathroom near the third floor. She pulled out the invisibility cloak and cast a muffliato.</p>

<p>“What happened?” Granger asked.</p>

<p>“Just saw Quirrellmort head into the forbidden forest.”</p>

<p>Granger nodded in understanding. A few moments later they were shuffling unseen along the passageway to the third-floor corridor on the right-hand side, dodging students and stealing glances at the many paintings who chatted happily among themselves with far more openness than when they could see students around.</p>

<p>They reached the corner to their target and paused.</p>

<p>“Wands out,” she whispered.</p>

<p>“Yes.”</p>

<p>She crouched down and stuck her wand under the hem of the cloak.</p>

<p>They edged forward, careful not to expose themselves or trip over each other.</p>

<p>Her breath hitched and her face scrunched up as one of the most foul things she’d ever tasted flooded her senses.</p>

<p>“Is there something?” Granger asked.</p>

<p>“Yes.” She desperately wanted to wash her mouth out. “I think it’s the gender ward.”</p>

<p>“Does it taste like slugs and snails and puppy-dog tails?”</p>

<p>“If you mean, is it both slimy and furry? Yes. And it’s horrible.”</p>

<p>They edged forward some more.</p>

<p>She let out a breath. “Urgh. The taste is gone, thank Merlin.”</p>

<p>“So, is there another ward?”</p>

<p>“Yes. Here, you should record it too.”</p>

<p>The visible tip of another wand joined hers, two separate inches of wood floating in midair just above the stone floor.</p>

<p>“Got it?” she asked.</p>

<p>“Yes.”</p>

<p>“Okay, let’s get out of here.”</p>

<p>“Wait!” Granger hissed.</p>

<p>“What?”</p>

<p>“I think I can decode this one now.”</p>

<p>“…”</p>

<p>“…”</p>

<p>“Quickly then.” They really mustn’t be caught here.</p>

<p>She heard muttering from the empty space beside her. The corridor was still empty. She hoped it would stay that way. The last thing they needed was for Mrs Norris to catch them.</p>

<p>Granger seemed to shuffle around, pulling at the cloak and fiddling with something in her clothes.</p>

<p>“What are you doing?”</p>

<p>“Hang on. I’ve got just the thing.”</p>

<p>She heard the rustle of parchment.</p>

<p>“Is that a book?” she asked, incredulous.</p>

<p>“Yes. I brought it just for this situation.”</p>

<p>Said book appeared in view just under the cloak.</p>

<p>Minutes passed. Pages were turned. A few people passed at the end of the corridor, but clearly didn’t see anything. Granger continued to mutter to herself.</p>

<p>“Okay,” Granger said, eventually. “It’s a containment ward.”</p>

<p>“Excellent. Now, let’s go.” If they went quickly they could still grab lunch and get updated on the latest political situation.</p>

<p>“Wait!”</p>

<p>She glared at the empty space beside her, knowing full well Granger couldn’t see her. “What?”</p>

<p>“We could go for the next ward line.”</p>

<p>“What! No, we can’t.”</p>

<p>“Why not? The containment ward only keeps things in, and it’s not keyed to us.”</p>

<p>“We don’t know what’s in there!” She gestured to the door the ward line was protecting. “It could be anything.”</p>

<p>“Yes, and we need to find out what that is.”</p>

<p>“But we could let Harry handle it.”</p>

<p>“How’s he going to get past the gender ward?”</p>

<p>“Harry obviously has a plan, but we don’t know what that plan is. That’s why we shouldn’t just rush in.”</p>

<p>“…”</p>

<p>“…”</p>

<p>“Fine,” Granger snapped. “But only because I don’t want to accidentally mess up Harry’s plan.”</p>

<p>She rolled her unseen eyes. “Good, now let’s get out of here before luck turns on us.”</p>

<p>They shuffled out of the corridor and down to their bathroom, just as Filch chose to make an appearance, heading the way they had just come, muttering about kids and manacles.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore sat in his throne at the head table. Lunch was in full swing and the shouts and laughs of hundreds of young throats warmed his heart, even as his never-off political mind ruthlessly dissected the many school cliques forming and reforming in front of him.</p>

<p>The Slytherin table was the most interesting and disturbing at the moment. Yesterday, there had been two main camps formed around Lucius’ son and Jacob’s daughter, with the Quidditch team forming a third, smaller circle around young Mister Flint, and the duelling club forming a fourth around Romulus Volf.</p>

<p>Now, however, all the circles were mashed up. Everyone chatted with everyone and there didn’t seem to be much to distinguish the groups. Every so often, a student would stand, move to another position and sit down, moments before another student, sitting just a few places away, would repeat the action. It was a slow dance, forming new lines around some new political issue. He frowned. He was pretty sure he knew what that issue was.</p>

<p>Severus had been unable to hold his tongue.</p>

<p>Not two months ago, he’d seen how protective Lord Slytherin could be when he’d made an unwise comment that the young lord had interpreted as a threat to Miss Greengrass. The resultant magic hadn’t been as powerful as <em>his</em>, but it <em>had</em> made him pause. The ability to radiate magic from your body was a trick that required a combination of occlumency practice and strong emotions, and managing it for anything more than a few seconds indicated high core-to-body flamelage. Lord Slytherin had a high core-to-body flamelage.</p>

<p>Now Severus would have Lord Slytherin focused on him, and Slytherin had already made it clear through Miss Greengrass what he would do if Severus didn’t toe the line. He couldn’t afford for Severus to lose that position, especially not now.</p>

<p>Just how far would Lord Slytherin go to protect the muggleborn girl? For surely it would take more than points deductions and detentions to do so. Did Slytherin’s protective streak extend that far or was it just an ‘in the family’ thing?</p>

<p>He cast his eyes over the Slytherin table and noticed that a core group seemed to have solidified around the Slytherin duelling captain. Young Romulus Volf didn’t look pleased. In fact, he looked apoplectic.</p>

<p>Miss Granger and Miss Greengrass were nowhere to be seen, which was probably just as well.</p>

<p>The hardcore pureblood supremacist duelling captain chose that moment to stand and storm off to the Slytherin dungeons, followed closely by several other students.</p>

<p>He watched the boys’ departure sadly and picked up his goblet. He swirled the orange liquid inside. At least this situation would probably weaken the Gray faction somewhat. The attitudes of some of the parents would mirror that of their children. The Gray had been a roadblock to so much of James and Lily’s good work for a long time now.</p>

<p>He stilled. Letting the pumpkin juice in his goblet settle down in his hand.</p>

<p><em>Would</em> it be good though?</p>

<p>What would happen if the Gray fell?</p>

<p>He looked out over Slytherin table, over Gray and Dark mingling and debating, throwing accusations and counter-accusations. How many of those in the Gray would come to the Light if the Gray fell?</p>

<p>He did the math in his head.</p>

<p>He flinched. His stomach turned over.</p>

<p>Oh, Merlin. He slammed his goblet down on the table. He needed them, didn’t he? He needed a stable Gray, and, by extension, he needed Lord Slytherin.</p>

<p>Fuck.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione walked into the defence against the dark arts classroom, muttering under her breath. It wasn’t <em>her</em> fault they’d had to rush lunch. She was just doing what she was sure Harry wanted.</p>

<p>She froze. The smell of garlic hit her like a hammer. Beside her, Daphne blanched. She added tracking down a smell-removing charm for clothes to her rapidly growing to-do list, shifted mental gears, and scanned the room for her next objective.</p>

<p>She spotted the dark-skinned Dean Thomas sitting at a long bench with Seamus Finnigan and… she groaned… John Potter.</p>

<p>She nodded to Daphne and set off for her target. The long bench allowed her to easily insert herself at the end and scooch up to where Dean sat.</p>

<p>“Hi, Dean.”</p>

<p>Dean turned. “Oh, hi, Hermione! How’s it going? You’re not in trouble are you?”</p>

<p>John Potter leaned around to see what was going on.</p>

<p>“Oh, from potions?” She smiled. “No, not yet.”</p>

<p>John frowned. “What about the Slytherins? They’re not doing anything bad are they?”</p>

<p>“No, I’m doing quite well, thank you.” She replied, tone shifting from joyful to prim.</p>

<p>John didn’t seem convinced. “But what about you being—”</p>

<p>“Hi, Brother!”</p>

<p>Harry landed on the bench in front of her.</p>

<p>John recoiled. “What are <em>you</em> doing here?” Venom dripped through shock.</p>

<p>“We have defence together.”</p>

<p>“I mean why are you sitting near me.”</p>

<p>“What’s wrong? Can’t I sit near my favourite brother?”</p>

<p>She had to stop herself from laughing.</p>

<p>“We hate each other!”</p>

<p>“Why?”</p>

<p>John seemed dumbfounded. “What?”</p>

<p>“When?”</p>

<p>“Huh?”</p>

<p>“Which? Who? Where?”</p>

<p>“What the hell are you on about?”</p>

<p>“I mean why do we hate each other?”</p>

<p>John struggled for an answer for a moment.</p>

<p>Dean looked between them, obviously confused.</p>

<p>She just focused on keeping her laughter in check.</p>

<p>Eventually, John Potter burst out with, “You stole Ginny from me!”</p>

<p>Harry tilted his head. “I assume this Ginny is a witch, yes? How could I even meet her? No one told me I was even a wizard until I received my letter.”</p>

<p>Dean furrowed his eyebrows. “How did that happen? You’re twins. He’s a famous wizard from what I’ve heard. How could you not know you’re a wizard?”</p>

<p>Harry raised a finger. “Why don’t you ask—”</p>

<p>At that moment a stronger-than-normal smell of garlic swept by them and the true purpose of Harry’s sitting position quickly became clear.</p>

<p>Professor Quirinus Quirrell took his place at the room’s podium and shot her a look of such malice and hatred that she drew back in her chair and unconsciously flicked her wand into her hand under the table.</p>

<p>Sat where he was, Harry was directly in the path between her and the purple-turbaned professor, currently hosting the death-damned soul of Dark Lord Voldemort.</p>

<p>She turned. Daphne had chosen to sit directly behind her.</p>

<p>She felt a gentle nudging on her occlumency shields and stopped herself from yanking on it just in time. She swatted it away instead. A bead of sweat rolled down her face.</p>

<p>“Welcome to defence against the dark arts.”</p>

<p>She raised a worried eyebrow. No stutter? Harry said he’d stutter.</p>

<p>“This class is to prepare you for the threats that you will encounter outside these walls, of which there are many.” Quirrell’s voice was regular and well paced, neither too loud nor too quiet.</p>

<p>“These threats come in two varieties, magical and mundane. We will spend most of this year focusing on how to defend against mundane threats.”</p>

<p>Quirrell looked behind her. “You have a question, Mister Malfoy?”</p>

<p>She turned. Malfoy put his hand down.</p>

<p>“Professor,” the blond-haired boy drawled, “why are we wasting our time with such trivial concerns? Muggles pose no threat to us.”</p>

<p>Quirrell smiled. “Ah, I’m not surprised that you would say that, but I did not say muggle, did I?”</p>

<p>Malfoy hesitated. “You said…”</p>

<p>“I said mundane. I did not say muggle. I will now demonstrate.” Quirrell waved his wand and a conjured vase appeared on the desk. The man walked a dozen paces away so that his back was to the classroom wall. Another wand wave produced what looked like a small rock. One single, strong wand movement sent the rock shooting towards the vase, which smashed into dozens of pieces before vanishing into thin air.</p>

<p>She brought her arms down from where she’d protectively and automatically covered her head.</p>

<p>“Many of the threats you will face from wizards come in the form of non-magical objects enchanted to create physical force. These objects are not spells. They do not shoot at you with pretty lights like in a duel, but they are just as dangerous. A banished rock to the head will take you out just as surely as a stunner. Does that answer your question, Mister Malfoy?”</p>

<p>She looked around again. Malfoy nodded, eyes wide.</p>

<p>“Having said that…” Quirrell smirked, walked over to his desk and reached behind it to grab something. “There are some muggle threats—” her own eyes widened and her heart sped up. “—That you must also—” A hunting rifle came into view “—learn to deal with.”</p>

<p>In front of her, Harry had his wand pointed forward under his desk, a faint white light alight on its tip.</p>

<p>Quirrell walked forward, turned, conjured another vase, waved his wand once more, sheathed it in his robes, shouldered the gun, pointed it towards his desk with his back to the class, took aim and…</p>

<p>BANG! The vase exploded into a million pieces. What was left wasn’t even recognisable as pottery.</p>

<p>Quirrell dropped the rifle to his side. “We won’t be focusing on those threats, but do not forget that your studies into mundane defence against wizards also applies to muggles.”</p>

<p>She shook. Voldemort knew about guns? Why didn’t he use them then? Harry must know. She’d ask him when she next saw him.</p>

<p>“The first spell we will learn is a shield against physical projectiles found on page twelve of your textbook. You will pair off and practise casting the shield while the other <em>lightly</em> throws these buttons at each other.” Quirrell held up a small bucket.</p>

<p>The class stared at him.</p>

<p>Quirrell looked around. “Go on! Get to it!”</p>

<p>The class scrabbled.</p>

<p>She turned. “Hey, Dean—”</p>

<p>“—C’mon, Dean.” John grabbed Dean’s arm and dragged him away.</p>

<p>The dark-skinned, possible muggleborn shot her an apologetic look before being led away to the far side of the classroom by the fake boy-who-lived.</p>

<p>Hermione pouted.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne marched towards the common room after dinner, intent on getting the just-handed-out defence essay out of the way. She needed all the brain space she could spare to tap dance around Granger being outed and she <em>didn’t</em> need braindead simple academic assignments getting in the way. Beside her, Granger looked equally focused, muttering something about evil twins and what she’d like to do to them.</p>

<p>As they neared the portal to the Slytherin common room, Tracey appeared before them, panting and red-faced.</p>

<p>“Daph. Hermione.” Tracey’s heaved the words, low and urgent.</p>

<p>They stalled.</p>

<p>“I was just in the common room and there’s a bunch of upper-year boys planning to put Hermione in the hospital wing. I just barely got away.”</p>

<p>Oh hell.</p>

<p>Granger sucked in her breath.</p>

<p>“Volf put them up to it. He’s leading.”</p>

<p>“What about Blaise and our other allies?” she asked.</p>

<p>Tracey’s eyes were wide and dilated. “Don’t know where Blaise is.” Tracey wrung her hands. “You know Flint?”</p>

<p>She nodded.</p>

<p>“He said that, ‘If the little girl wants to keep a pet, she can take care of it.’”</p>

<p>She glanced at Granger. The witch’s eyes had hardened.</p>

<p>Tracey continued. “That was the most extreme one I heard, but the feeling is about right. They’re not happy. Most of the Grays who might help are in other houses. I think we’re on our own on this one.”</p>

<p>Damn. She took a breath and pulsed a few choice pulses into her silver lightning-bolt ring. Granger already had her wand in hand, looking ready to storm the fort.</p>

<p>“Okay, I’ve sent the distress call. We should find a bathroom to hide away in until our lord can get here.”</p>

<p>Hope bloomed on Tracey’s face.</p>

<p>Granger snapped towards her. “But we can’t run away! They’ll think we’re cowards. That we <em>need</em> protecting.”</p>

<p>She flashed Granger an annoyed look. “They don’t even know we’re here. We can just enter a few moments before our lord and it will all be fine.”</p>

<p>Tracey’s face fell.</p>

<p>A shrill, nasal voice behind them, coming from the direction of the great hall, caused her to swing around, just as a slight figure raced past them.</p>

<p>“It’s them! They’re here!” Heiress Parkinson shot towards the portal and leapt through it.</p>

<p>Tracey groaned and double face-palmed. “And now?”</p>

<p>Her stomach dropped. She felt sick. She flicked her wrist and brought her wand to her hand. “Now we hold on as long as we can.”</p>

<p>They waited a few moments where they were, staring at nothing in particular.</p>

<p>Then they walked to the portal, every step deliberate and slow. She put her hand on the door.</p>

<p>She waited a few more moments.</p>

<p>That was probably about as long as they could get away with. She looked towards her allies. Determination made its home in Granger’s face. Tracey’s lip quivered and her hands shook.</p>

<p>She gave a single slight nod, and pushed.</p>

<p>The common room was packed. Slytherins of all years filled the many chairs that furnished the wide and tall space of the dungeon. Many were laughing and joking. As one, all heads turned towards her.</p>

<p>She took several steps into the room, head held high, wand held tight. The portal slammed quietly behind her and two faint human-shaped shadows joined hers, stretching forward from the low-hung wall torches behind her.</p>

<p>Near the fireplace, from the area of the common room unofficially designated Dark territory, three older, stronger boys stood and stepped into the clear floor space between them. Romulus Volf led them. Everything about them made her eleven-year-old brain scream at her to run, hide, and wait to be saved. She focused on the feeling and magically crushed it, occlumency claiming her mind’s sovereignty, even as her body flooded her with concentrated fight or flight, with the focus very much on flight.</p>

<p>The assembled crowd continued to laugh and joke. To the side, she thought she saw someone running a betting pool.</p>

<p>Behind her, Tracey whimpered.</p>

<p>She took a few more steps into the room and the shadows followed her. Fifteen metres of invaded personal space shrunk between them and the boys, all three of whom also had their wands out.</p>

<p>She tilted her head and spoke loudly enough for the whole room to hear. “Can I help you, Volf?”</p>

<p>The room quietened. A few chuckles could be heard around the room.</p>

<p>Romulus Volf glared. “Yes. You can step away from the mudblood right now if you know what’s good for you, <em>Heiress</em> Greengrass,” he said, disdain dripping from the honorific.</p>

<p>She held her chin high. “I know your family Volf — ancient, almost most ancient. Your family has a distinguished history. What do you have to gain from this?”</p>

<p>“That mudblood bitch has no right to be here!” Volf gestured behind her, to Granger. “How <em>dare</em> she pretend to be a pureblood! This is Slytherin House. <em>They</em> are not welcome here.”</p>

<p>A few jeers from the crowd filled the space.</p>

<p>“That wasn’t answering my question, Romulus of the Ancient House of Volf. What do you have to gain from this action? Do you believe you will gain support and respect — displaying your power by picking on an eleven-year-old girl?” She raised her chin again. “Do you think it is wise to antagonise two noble houses and all the resources at their disposal?”</p>

<p>It was a weak statement. Not least because many of said resources were currently watching and not doing anything.</p>

<p>Volf sneered. “I don’t care about any of that shit! When purebloods are given their proper place, people like me will rule over blood traitors like you!”</p>

<p>One of her eyes twitched.</p>

<p>“But until then, what? You can raise that wand at me and those who serve the Most Ancient and Noble House of Slytherin if you wish, but that will not bring glory and honour to the House of Volf.”</p>

<p>Time to play her ace.</p>

<p>“Nor will it grant you favours with Lord Slytherin should he decide to take back control of Hogwarts Slytherin House!”</p>

<p>“I don’t believe in Lord Slytherin!”</p>

<p>Her jaw dropped. “Wha?”</p>

<p>“When has this mysterious lord ever shown up to anything? I don’t think he’s real! He’s never even been in the Prophet once!”</p>

<p>She stood rooted to the spot. Words failed her.</p>

<p>Volf glowered. “I’ll tell you one last time, <em>Heiress</em> Greengrass. Leave now or I <em>will</em> put you in the hospital wing too.”</p>

<p>She swallowed and took a single defiant step to the side, overlapping her own shadow with Granger’s. Her resolve hardened.</p>

<p>Behind her, a small gasp escaped Granger’s lips.</p>

<p>She glared at Volf and his two cronies. “Despite what you may believe, one day, I <em>will</em> be Lady Slytherin!” She brought herself up to her full 4 foot 10 inches. “The Most Ancient and Noble House of Slytherin does <em>not</em> abandon those who serve it and have sworn loyalty to it! It does <em>not</em> forgive those who seek to harm those it protects! And it most certainly does <em>not</em> bow to cowards with the cunning of a flobberworm and the tact of a troll!”</p>

<p>Red shot towards her and she shielded just before it reached her.</p>

<p>Granger darted to the side, firing a stunner towards Volf.</p>

<p>Volf dodged.</p>

<p>Volf’s goons opened fire.</p>

<p>Tracey dived for a nearby table.</p>

<p>She fired off her own spell chain, interrupted only to frantically sidestep one of Volf’s bolts.</p>

<p>Granger reached a nearby armchair, just as their occupants scrabbled out of the way. One second and several dodged spells later, she joined Granger, trading hard stone floor for thick carpet.</p>

<p>The torrent of spells continued to rain down on their position, then stopped.</p>

<p>She heard the slap, slap, slap of rapidly approaching footsteps. She shielded.</p>

<p>Volf burst around the side of the chair.</p>

<p>Three shouts rang out.</p>

<p>One jelly-legs jinx and a stunner slammed into Volf’s pre-cast shield. One shield breaker shattered hers.</p>

<p>More footsteps.</p>

<p>She re-shielded.</p>

<p>Granger re-fired.</p>

<p>Volf quickly backed off and continued firing, dodging every other spell and shielding those he couldn’t. His skill and experience shone through, taking on both her and Granger at close range.</p>

<p>Then, suddenly, her rate of fire slowed.</p>

<p>Damn!</p>

<p>She scrabbled over the chair just as a blue spell landed where she’d been. She landed on the other side…</p>

<p>“Got ya!”</p>

<p>…And her wand ripped from her hand, straight into the waiting grip of Goon A.</p>

<p>She looked around to see an equally wandless Granger scowling at Volf.</p>

<p>On the other side of the doorway, Tracey lay, roped and gagged.</p>

<p>Her heart thundered.</p>

<p>Stall. Stall now. “I suppose you think you’ve won!”</p>

<p>Volf looked at her, incredulous.</p>

<p>“Listen, little girl. You could have played nice and just handed over the mudblood.”</p>

<p>Volf and Goon A walked forward.</p>

<p>She shared a glance with Granger. She nodded.</p>

<p>“But no, you had to make it difficult.”</p>

<p>She could feel her magic flowing back into her, refilling her. Flowing down to the tips of her fingers.</p>

<p>“Now!” She flung up her hand and fired a red bolt towards Goon A. Another bolt joined hers, also firing towards Goon A.</p>

<p>Oh, damn.</p>

<p>Shock flashed across Volf’s face, but only for a moment.</p>

<p>Goon A fell.</p>

<p>“Why you!” Volf roared, whipping his wand up and firing an incarcerous at Granger.</p>

<p>They both scrabbled backwards, her hands and elbows burning on the thick rug.</p>

<p>Granger shielded with the spell they’d just learned in defence, bouncing the ropes off it and onto the floor.</p>

<p>She managed to chain together two whole spells.</p>

<p>Volf shielded and fired and dodged.</p>

<p>She fired one more spell and her reserves were gone again.</p>

<p>Her lungs pumped, fast and laboured.</p>

<p>A stray incarcerous finally hit Granger, immobilising the Slytherin muggleborn.</p>

<p>Cheers filled the room.</p>

<p>“I swear you’re going to pay now!” Volf spat.</p>

<p>She scrabbled for one final shield, but the magic just wasn’t there.</p>

<p>The tip of Volf’s wand glowed.</p>

<p>Desperate, she dropped her occlumency shields and felt a fresh flush of magic, even as terror swept her.</p>

<p>“Diffindo!”</p>

<p>The cutting spell shot towards her.</p>

<p>Her fingers glowed white.</p>

<p>Her shield appeared.</p>

<p>The spell hit it.</p>

<p>Her last shield shattered.</p>

<p>The spell carried on through… and splashed off another shield just behind the first one.</p>

<p>“Diffindo! Diffindo! Diffindo! Diffindo!”</p>

<p>She stared as spell after spell splashed against the shield glowing in front of her with all the effect of silk thrown at stone.</p>

<p>Volf’s casting slowed, puzzlement seeping through anger.</p>

<p>Half lying on the ground, she looked up and behind her.</p>

<p>A tall figure dropped its disillusionment and shimmered into sight.</p>

<p>Relief flooded her.</p>

<p>It wore long flowing emerald-green robes, trimmed in shining silver. It wore an elegant green mask, trimmed in night black. It stood tall, firm, and very, very angry. It was Lord Slytherin.</p>

<p>Everyone froze.</p>

<p>Anger-saturated ready-magic flooded from Harry and filled the common room with his power, enveloping her like a warm blanket and freezing Volf to the spot. Any festive atmosphere that may have been present dried up in seconds.</p>

<p>She swallowed an errant choke that threatened to become more, slowly brought her occlumency shields back up, stood with as much dignity as possible, still shaking, and joined her lord’s side, tugging the still-bound Granger with her.</p>

<p>Volf stayed rooted in place, staring at Harry like the lone hyena caught by the bull elephant.</p>

<p>No one moved. The moment dragged on and on. Gasps echoed all around the room as people realised her mysterious and very real Lord Slytherin had been flaring his magic straight from his body for longer than most of them could cast, and still, the magic flowed.</p>

<p>Volf’s eyes widened from shock to terror as fifteen seconds became thirty, which then became a full minute.</p>

<p>She spotted a couple of older students edging towards the stairs leading down to the dormitories, but before they could reach them Harry’s wand tip glowed white and every common room exit slammed shut and bolted. The would-be escapees winced.</p>

<p>“Oh no, you don’t.” Lord Slytherin’s voice filled the room like the growl from an unseen throat in a darkened cave. “You’re all staying here.”</p>

<p>The whirlwind of magic slowed and stopped.</p>

<p>The room let out a collectively held breath.</p>

<p>“What the fuck!” Harry roared. Flaring his magic so much that the common room fires leapt high and blazed green. The entire room winced and the magic settled down again.</p>

<p>Harry casually jabbed his wand at Granger, releasing her from her bonds. The wavy-haired bookworm slowly got to her feet, shooting Volf a wild look of triumph.</p>

<p>Volf overcame his obvious fear enough to scowl.</p>

<p>“Romulus Volf.” Harry intoned, snapping the pureblood’s attention back to him. “You just attacked both my vassal and my betrothed with the intent to cause grievous bodily harm. I demand satisfaction.”</p>

<p>Shocked murmurs filled the room.</p>

<p>Volf goggled. “I wasn’t going to kill them! Just put them in the hospital wing for a night!”</p>

<p>“Then I shall do my best not to kill you. You can accept the duel, or try your luck with the law.”</p>

<p>Volf swallowed. “I… I think I’ll try my luck with the law.”</p>

<p>Despite the weight in the room, she caught a few chuckles and heard someone shout, ‘Coward!’</p>

<p>“And if I gave myself a handicap? Three on one? Those two friends you have there for example?”</p>

<p>Volf looked incredulous. “Excuse me a moment, Lord Slytherin.” Volf hurried away to converse with his cronies. The crowd started moving. Chairs were shoved back. Books and parchment were collected.</p>

<p>Harry shot a finite at Tracey who rubbed her wrists, climbed into a chair, and clutched a throw pillow in a death grip with both arms.</p>

<p>She leaned closer to Harry. “What are you planning to do to them, my lord?”</p>

<p>“Nothing permanent, but it won’t be pleasant. Are you sure you want to be here for it?”</p>

<p>Granger leaned in on the other side and whispered, “I’m not running away! They would have done it to us!”</p>

<p>She nodded slowly.</p>

<p>Harry’s emerald and black mask nodded back. “Very well.”</p>

<p>The trio led by Volf returned and accepted Harry’s terms. By this time, the crowd had formed a long space in the middle of the common room free of chairs and other obstacles. Someone was setting up duelling wards with miniature ward stones and older students to channel the magic.</p>

<p>She stepped over to where Tracey sat and joined her, followed by Granger moments later. They would have a good view of the duel from where they sat. She placed a comforting hand on one of Tracey’s shaking shoulders.</p>

<p>Tracey smiled weakly back at her, eyes flicking back and forth from her to Lord Slytherin. “So, that’s your hero, is it?”</p>

<p>She smiled back. “Yes. He’s amazing.”</p>

<p>Granger nodded</p>

<p>“But… three on one? They <em>are</em> all duellists.”</p>

<p>Her smile didn’t falter. “Just watch, and see the difference between a duellist and a warrior.”</p>

<p>An older girl with long curly hair held her wand above her head and spoke loudly so the whole room could hear over the hubbub. “This is a formal honour duel. The combatants have agreed to Extended Class B Rules. I am Miss Anabella Richardson of the House of Richardson and will act as official witness. All combatants have agreed to limit their casts to non-immediately-lethal spells. When my conjured handkerchief lands on the floor, the duel shall begin.”</p>

<p>Silence descended.</p>

<p>The three boys tensed.</p>

<p>Anticipation coiled in on her.</p>

<p>The girl made a complicated gesture and a pure white handkerchief shot from the end of her wand.</p>

<p>Her eyes tracked the flimsy piece of cloth on its journey down to the hard stone floor.</p>

<p>It landed.</p>

<p>Four wands raised.</p>

<p>Four spells cast.</p>

<p>The stone floor in front of Harry melted and thrust upwards, forming a solid shield in front of him.</p>

<p>The sounds of spells hitting Harry’s wall crashed through her head along with the roar of the crowd. Pieces of stone flew from the wall and bounced off the wards.</p>

<p>Harry flicked his wand.</p>

<p>Nothing visible happened.</p>

<p>She heard loud and rapid footsteps from the other side of the wall.</p>

<p>Harry flicked his wand again.</p>

<p>The two goons leapt around the wall, wands out, tips glowing, followed a split second later by several angry-looking stone snakes, as thick as her arm and as long as she was tall. The deadly-looking snakes lunged for the boys, still too focused on Harry to notice.</p>

<p>Harry returned their fire, rolling around on the floor and shielding in a whirlwind of body and magic.</p>

<p>A moment later the two boys noticed their stony, scaly problem. Yells and screams filled the air. They wrestled with their attackers for all but a moment before being dropped by a now-back-on-his-feet Harry.</p>

<p>Harry jumped with cat-like grace, grabbed the top of the wall and stuck his head above it, only to drop back down a moment later, a purple spell shooting past where his head had been moments before.</p>

<p>She frowned then gasped as Volf rose over the wall, mounted on a broomstick. Extended Class B, indeed.</p>

<p>Harry flicked his wand. The wall melted.</p>

<p>Volf rained spells down on him.</p>

<p>He jumped back.</p>

<p>The former stone wall reformed itself into one large stone serpent, several metres tall with fangs the length of her forearm, sticking out from its mouth and up around its head like the teeth of some horrible deep-sea monster.</p>

<p>Volf screamed.</p>

<p>The crowd screamed.</p>

<p>The serpent lunged.</p>

<p>Volf shot backwards so fast he hit the duelling wards, and knocked himself off his broom, leaving him open to counter-attack.</p>

<p>Harry leapt onto the snake, seeming to care not for gravity or its laws, and descended on the dazed boy like a god of war.</p>

<p>Volf had just enough time to raise his shaky head before Harry’s wand touched the boy’s forehead.</p>

<p>“Legilimens.”</p>

<p>And Volf let loose a scream of pain and terror the likes of which she’d never heard and never ever wanted to hear again. It went on for ages. On and on. Students covered their ears and scrunched their eyes shut. One girl broke down crying. And still, it went on.</p>

<p>Eventually, it stopped.</p>

<p>Volf collapsed on the floor, curled into a foetal position, and wept.</p>

<p>“Romulus Volf.” Harry’s voice echoed around the deadly silent room from where he stood several feet off the ground, balanced on the snakes raised head.</p>

<p>Volf sniffled.</p>

<p>“I did promise to myself to put you in the hospital wing, but honestly, I think that last one was more than enough.”</p>

<p>The snake lowered him back to Volf’s level.</p>

<p>“Do you feel the inclination to attack any of my family again?”</p>

<p>Volf uncoiled like a spring and prostrated himself before Harry. “No! My lord!”</p>

<p>Harry stepped off the head and kicked him.</p>

<p>Volf grunted.</p>

<p>“I am not <em>your</em> lord! I am only the lord of those who have proven themselves worthy. Hermione has proven herself. You have not.”</p>

<p>The crowd turned to glance at her and Granger, who’d been wearing a look total shock on her face ever since Harry had started his attack on Volf, but did flush red at that last comment.</p>

<p>“Nevertheless, honour <em>is</em> satisfied… at least for you…” Harry whirled around. “Mister Marcus Flint!”</p>

<p>The older child of the Gray flinched, but did manage a shaky bow. “Lord Slytherin.”</p>

<p>“I shall be speaking with your parents about your interesting choice of behaviour tonight. You and several others.” The masked face turned to each of the older students of the Gray. They bowed, curtseyed, gulped, and sweated.</p>

<p>“And now, I am leaving. I trust this will be the last time I will have to intervene in <em>my</em> common room in such circumstances. Come, Daphne, Hermione, I’d like a word with you — you too Miss Davis.”</p>

<p>Harry swept to the Slytherin common room portal, kicking the still-knocked-out goons on his way.</p>

<p>The snake turned to snap a last playfully bite at Volf who recoiled before it fell to the ground and melted back into a pile of rubble, exactly mirroring a deep gouge now in the common room stone floor.</p>

<p>She followed Harry’s departing figure, Granger and Tracey flanking her on either side. She caught both of their eyes, still wide as dinner plates, and smiled. “That, Tracey,” she whispered, “is the difference between a duellist and a warrior.”</p>

<p style="text-align: center;">— End of Chapter Seventeen —</p>

{437} [never even been in the Prophet once] Lord Slytherin appeared in the Prophet in the first Gray mail bonus chapter. Maybe change to Wizengamot?
