Chapter 18 - Slytherin's Outcast

<p>Later the next day, Dumbledore sat at his large polished oak desk in the headmaster’s office and stared at a collection of parchments clutched in his hands. Lord Slytherin, it turned out, <em>would </em>go to great lengths to protect Miss Granger and Miss Greengrass.</p>

<p>Most of the Slytherin students had basic occlumency shields and he hadn’t been able to see much of what happened in the Slytherin common room last night, but what he had been able to piece together painted a picture of a man who was unafraid to use fear and pain as a deterrent.</p>

<p>Three points, in particular, stood out as high-emotion moments in the minds of the few students he’d explored. The first was shock when Miss Granger and Miss Greengrass performed wandless magic to stun one of their attackers. That was something to think about. The second was surprise turning slowly to fear and awe when Lord Slytherin flared his magic for over a full minute. He couldn’t feel the magic through the memory, but if the looks of the other students were enything to go by, it was strong. And the third had been sheer terror when Slytherin tortured Romulus Volf with legilimency. That was extremely worrying, both for Slytherin’s ruthlessness and for the nature of the method itself.</p>

<p>He’d long ago ruled out the possibility of Lord Slytherin being Lord Voldemort, but that didn’t make the situation much more comforting. Slytherin’s legilimency attack was exactly the kind of thing Voldemort would have done. Tom was almost certainly the foremost expert on the mind arts in the entire world, and, at least in that respect, Slytherin seemed closely modelled on the Dark Lord.</p>

<p>He <em>couldn’t</em> let a dark lord of <em>any</em> kind rise. He <em>mustn’t</em> allow it to happen. It was a fair blessing that Harry Potter hadn’t been in the common room when the event transpired. At the moment, Harry Potter getting closer to the Gray seemed to be his worst-case scenario for the boy. Lord Slytherin was powerful, amoral, ruthless, and protective — the perfect mentor and shield for a young boy, marked as <em>his</em> equal, to be raised into something terrible.</p>

<p>He would have to pay close attention to that danger, especially with Tom in the castle.</p>

<p>In the meantime, he <em>had</em> to speak with Lord Slytherin, at the very least to get a bead on the man and attempt to protect Severus from his attention.</p>

<p>Dumbledore shuffled the parchments still held in his hands and smiled a grim smile.</p>

<p>Luckily, he’d now received just the thing to bring Slytherin in. If <em>this</em> didn’t work, then Slytherin wasn’t the man he thought he was.</p>

<p>“Floppy.”</p>

<p>A house elf appeared at his side. “Yes, Headmaster Dumblydores?”</p>

<p>“Could you call for two owls, please, Floppy?”</p>

<p>Floppy bowed low to the ground. “Certainly, Headmaster Dumblydores.” The elf vanished.</p>

<p>Dumbledore set the parchments down, pulled two blank sheets to him, inked his phoenix-feather quill, and started writing.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry woke up on Friday of the first week of school to find himself drenched in sweat. It was a good kind of sweat though. He smiled and yawned. Ginny’s dreamland duelling training kicked ass. Her pendant had been a one-of-a-kind, once-in-a-lifetime find, and snatching it when he did had been a masterstroke. He wouldn’t get to see her every night, but he looked forward to when he did.</p>

<p>He swung his legs off the bed, slipped on his slippers, and padded over to the bathroom. A few minutes of rinsing-off later, he brushed up, left the bathroom, and slipped on his workout clothes.</p>

<p>On the other side of the room, Malfoy snorted in his sleep and turned over.</p>

<p>He wasn’t so sure about Malfoy at the moment. The young heir had such potential for his cause, but it lay hidden under a quarter-inch layer of pretension, pomposity, and solid damn presumption.</p>

<p>From the moment Snape gave his “Fuck Harry Potter” speech at the beginning of term, Malfoy’s attitude took an immediate and total 180-degree turn from the cautiously accepting attitude Harry had painstakingly cultivated. He’d expected this, but it didn’t make it any less annoying.</p>

<p>He’d cornered the young heir the following day on his way back from a bathroom.</p>

<p>“Heir Malfoy,” he’d said.</p>

<p>Malfoy had sneered at him. “What is it, Potter? You think I want anything to do with a dirty half-blood, blood-traitor like you?”</p>

<p>Unlike Malfoy’s sneer, <em>he’d</em> kept his face friendly and neutral. “Heir Malfoy, I understand that at the moment you are choosing to follow the majority of our house in ostracising me—”</p>

<p>Malfoy had scoffed.</p>

<p>“—However,” he’d continued, “I want you to know that there may well come a time when it is politically intelligent to consider an alternative path, and when that time comes you may look upon our time now as a missed opportunity.”</p>

<p>Malfoy’s eyes had narrowed. “What makes you think that such a time will ever come?”</p>

<p>He’d grinned, held out his hand, palm up, and produced a small ball of hovering, flickering flame, without word or wand.</p>

<p>Malfoy’s eyes had widened, shooting from his face to the micro fireball and back.</p>

<p>He’d held it there for a second more. “Just a suspicion, Heir Malfoy.” He’d then bowed, turned, waved the fire away, and walked off, leaving a hopefully more uncertain and slightly more cautious Malfoy behind him.</p>

<p>The young heir’s behaviour over the next few days suggested he had, in fact, made a slight impression. The open verbal attacks from Malfoy slowed, and only happened when the young heir joined in with someone else.</p>

<p>Harry finished pulling on his trainers, and, with one last glance at the Malfoy heir, left the Slytherin first-years dorms.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>After exercising, showering properly, changing, and strolling down to breakfast, Harry sat in the middle of the Slytherin table and ploughed through a large stack of eggs, bacon, potatoes, and assorted vegetables. He finished off his pile of organic fuel and muscle-building material with a bowl of mixed oats, fruit, nuts and seeds — something he’d never seen at breakfast before, but which tasted quite nice.</p>

<p>All around him, empty chairs loudly proclaimed his status as an outsider, neither wanted nor needed. The people nearest him occasionally shot dirty looks and glares, to which he smiled back and waved.</p>

<p>At the end of the Slytherin table, nearest the head table, Malfoy held court, surrounded by his small clique of Dark first years.</p>

<p>At the other end of the table, Daphne presided over the collection of students that made up the Gray, Hermione on her right, Tracey on her left. Flint also seemed to be back in the fold, sitting five seats away from the end, as were a few other older students of note whom he’d singled out the other night.</p>

<p>Suddenly, a flurry of post owls descended on the four tables. One snowy owl immediately caught his attention. Hedwig flew over his head and deposited a thick envelope in front of Hermione. He glanced over to the Gryffindor table and struggled to keep a smirk off his face. The look of hurt and betrayal on John’s face, staring at the beautiful bird now being fussed over by Hermione, was as delicious as the breakfast he’d just eaten and even more satisfying.</p>

<p>Harry turned away from the table of the brave and regarded Hedwig and her package again. Hermione didn’t normally receive post in the morning. She tended to get mail from her parents in the evening, so what was this about?</p>

<p>He watched Hermione slice open the envelope with a breakfast knife, pull out the package and start to read. Hermione whispered something to Daphne who leaned over and started reading too. Then Hermione let out a muffled squeal and started to whisper furiously with a huge grin on her face.</p>

<p>Daphne whispered back and pointed at something else in the letter.</p>

<p>Hermione’s eyes raked back to the parchment. Her face fell, quickly replaced by anger. She flashed a glare behind him towards the head table, before folding the parchment, standing up, and stalking out of the great hall.</p>

<p>Huh. What was that about?</p>

<p>He resisted the temptation to Morse code her through their rings. If it was really important, Hermione would message him. There were many reasons for this period of self-inflicted isolation, and one of the lesser ones was to feel out Hermione and Daphne’s ability to work together and without him.</p>

<p>Several minutes later, Harry pocketed a last boiled egg, rose from his chair, and started making his way towards History of Magic, grinning at the few remaining glares of a now almost empty great hall.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>On his way to History of Magic, Harry halted in the middle of a long corridor. Something felt off. He looked around but couldn’t identify what happened. Then it happened again. A slight pulse of magic, so weak as to be almost unnoticeable, washed over him from just around the next corner.</p>

<p>He narrowed his eyes, and took several steps backwards. His body now stood right next to a large banner hanging down from the top of the arched ceiling to the stone floor. He called out. “Alright! Who’s there?”</p>

<p>An almost-inaudible curse came from around the corner, followed quickly by, surprise, surprise, Romulus Volf, flanked by his two duelling-team goons.</p>

<p>Harry sighed. He didn’t have the time for this.</p>

<p>“Potter!” Volf sneered. “I think its time you learned—”</p>

<p>Harry reached for the banner beside him and stepped into an alcove behind it.</p>

<p>“—Hey! Don’t run away from us!”</p>

<p>He cast a wordless quietening charm on himself, hissed at a tiny carving of a snake in the far wall, and stepped into the resulting secret passageway. The wall silently closed behind him.</p>

<p>“What the fuck?” Volf’s voice shook with indignation and puzzlement from beyond the wall.</p>

<p>Harry continued to walk away.</p>

<p>“Looks like he got away,” came the voice of Goon B.</p>

<p>It wasn’t that he didn’t <em>have</em> business with Volf, but he was tired from training with Ginny all night and almost late for class.</p>

<p>“No shit, Merlin!” Volf’s voice faded into nothing.</p>

<p>He’d get around to his business with Volf at some other point. Right now though…. He walked into History of Magic, trod up to the back of the classroom, sat down, acknowledged his presence for the register, cast a notice-me-not on himself, put his head in his arms, closed his eyes, and went to sleep.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Later that evening, Harry withdrew the invisibility cloak from his shrunk trunk in an empty Slytherin dormitory and crept through a mostly empty common room.</p>

<p>The clock wall ticked a few minutes before curfew and his mind stirred from his all-day tired drudge. History of Magic and Astronomy were both certified sleepy times. Charms and transfiguration were a bit more risky to catch a kip in, but he hadn’t been caught yet. Potions and herbology, on the other hand, gave no chance whatsoever for nap time. They were both group-based. As for Defence Against the Dark Arts… well, he’d sooner kiss the headmaster than fall asleep in a room containing Hermione, Daphne, and Dark Lord Voldemort.</p>

<p>He opened the Slytherin common room portal and stepped out into the darkened corridor of a nighttime Hogwarts. The silence whispered through the hallways as he made his way up towards one of the few exits unlocked to students. He climbed the stairs of the astronomy tower, each step as inaudible as he was invisible.</p>

<p>He reached the top of the tower and spotted Professor Sinistra setting up for tonight’s astronomy class. Not his, of course. And he didn’t plan to be back until long after the lesson had finished.</p>

<p>He climbed up onto the parapet and surveyed the area under the half-moon light, before lifting himself up into the air and out across the school grounds.</p>

<p>Within minutes he arrived at the school perimeter wards. A pulse of his wand set the wards to maintain his presence in the school and off he flew, over the lake, and towards the village of Hogsmeade.</p>

<p>He lightly landed outside a small house on the outskirts of the village, which looked just like all the others. The only difference was that to all but his eyes, this house wasn’t even there. He walked through the fidelius charm and the wards, which immediately lit all the lights, started a fire in the floo and welcomed him back with a pulse of magic and [[[the sound of a]]][[[a sounded]]] gong.</p>

<p>He shucked the invisibility cloak off and marched up to the little cottage’s office.</p>

<p>A small stack of parchments greeted him on his desk along with a similarly sized stack of unopened letters. By the window perched his owl, a large and majestic sooty owl called Macavity. Macavity’s feathers were as grey as the fur of his namesake and his eyes were deep black with small, Slytherin-green irises — not quite his own shade, but close.</p>

<p>He’d been looking for an owl for ages, but just hadn’t found what he’d been looking for. Then one day, Luna marched into one of their training sessions with a Macavity-filled cage under one arm and a smile on her face, and that was that. He’d known immediately the guy was perfect for the mysterious Lord Slytherin.</p>

<p>Harry walked over to the preening bird. “Hey there, partner.”</p>

<p>Macavity nipped at his fingers and ruffled his feathers.</p>

<p>“You ready to deliver tonight’s batch of dastardly dispatches?”</p>

<p>Macavity hooted, bobbed his head, and stretched his wings.</p>

<p>“Right.” He pointed at the stack of letters on his desk. “I’ll just get through these and then you’re off. I’ve also got a meeting soon, so I’m off soon too.”</p>

<p>Macavity hooted again in acknowledgement and took a scoop of water from a bowl by his perch.</p>

<p>Harry sat by the desk, picked up the first letter, sliced it open, and read.</p>

<p><em>Another</em> invitation to something he couldn’t go to. He placed it in front of a large stack of parchments on the side of his desk.</p>

<p>He sighed and sliced open the next one.</p>

<p>He grimaced. A tear-stained letter begging him for assistance in something he could do nothing about. He placed this one in front of another, thankfully much smaller, stack of parchments next to the first.</p>

<p>The next letter heralded from Gringotts. He grinned and sliced it open. He read.</p>

<p>Ragnok had identified three potential sites for Slytherin Manor and enclosed details. Brilliant. The girls would love this. He scanned the three sites. One place in Cumbria with a large parcel of land, another in East Anglia with a smaller parcel, and the last one… He goggled. The last one was a small island in the Orkneys.</p>

<p>Huh.</p>

<p>He put them to one side and picked up the next two letters. He smirked. Two sets of identical green-inked addresses stared back at him, penned with lots of extraneous curls and flourishes. One penned to Lord Slytherin and the second to Harry Potter.</p>

<p>They were from Alex.</p>

<p>He ripped them open and read.</p>

<p>His smirk grew.</p>

<p>Alex’s occasional letters to Lord Slytherin were getting a lot more insightful, and her more frequent letters to Harry Potter were getting a lot more friendly.</p>

<p>He knew Luna had reached out to the Black heiress recently so that could well be the reason. That girl was scarily smart and seemed to preempt his intentions in a way that even Daphne didn’t come close to. He looked over to where Macavity now nibbled on owl treats. He’d be quite freaked out if it weren’t so damn useful.</p>

<p>He waded through several more inane letters before hitting the last one. He stared at the lone envelope. He recognised that handwriting. He’d seen it before, often in the margins of transfiguration essays in comments like, “Well done, Tom — I hope you keep this focus on your academic work.”</p>

<p>It wasn’t the first time he’d received an owl from the man. Nevertheless, he waved his wand over the letter for several minutes. The owl office that stored his mail for pickup <em>was</em> supposed to check for undesirable magic, but with someone like the headmaster he took no chances.</p>

<p>He eventually satisfied himself and sliced the letter open. He read.</p>

<p><em>Dear Lord Slytherin, Head of the Most Ancient and Noble House of Slytherin,</em></p>

<p><em>I am writing to inform you of an opportunity regarding a child in your guardianship, Miss Hermione Granger. Miss Granger’s parents have expressed an interest in their child receiving healing training, an interest which was first expressed by Miss Granger herself.</em></p>

<p><em>Normally such training is not started until a student has reached their third year when they begin their electives. However, after having spoken with Miss Granger’s teachers and inspecting her classwork thus far produced, I feel it could be acceptable to extend the unusual and privileged possibility of fast-tracking Miss Granger and allowing her to begin classes with Healer Pomfrey immediately.</em></p>

<p><em>These classes are small, containing no more than three or four students across all year groups and can be expected to increase a student’s workload by no less than ten hours a week. Such positions also give extra credits and are strong indicators for prefect and head girl positions.</em></p>

<p><em>As I’ve previously hinted, this would be the first time Hogwarts has extended such an offer and there are, therefore, certain issues that I would need to discuss with you personally before I would feel one hundred percent comfortable in fully committing myself to such an offer. I’d like to extend to you an open invitation to meet with me and Miss Granger in my office anytime in the next few weeks between the hours of four and six pm.</em></p>

<p><em>I look forward to meeting you,</em></p>

<p><em>Yours respectfully,</em></p>

<p><em>Albus Percival Wulfric Brian Dumbledore, Order of Merlin (first class), Grand Sorcerer, Chief Warlock of the Wizengamot, and Supreme Mugwump of the International Confederation of Wizards.</em></p>

<p>Harry lowered the letter to his side, stared off into nothing, and bit his lower lip. So, <em>this</em> is what got Hermione worked up this morning. He reread the letter for a second time. He really didn’t want to meet with Dumbledore. But on the other hand, getting Hermione any kind of healer training would be <em>very</em> desirable. Once Voldemort had his method of immortality, he’d decided there was little point in learning something like healing.</p>

<p>He put the letter down and rubbed his temples.</p>

<p>He <em>really</em> didn’t want to meet Dumbledore.</p>

<p>Hermione <em>knew</em> he really didn’t want to. <em>That</em> was why she’d been so annoyed towards the head table this morning.</p>

<p>He folded his hands and tapped his foot.</p>

<p>Once Harry was in that office there was no chance he was getting out without a long talk with the headmaster about all sorts of things. The man would try to wring every last piece of information he could out of him, and then draw many accurate conclusions even from what Harry did <em>not</em> tell him.</p>

<p>But then again… having even a partly trained healer on call would be more than invaluable, and Hermione could be counted on to go over and above the call of duty, so it was quite likely she’d be far better than could be expected in no time at all.</p>

<p>Argh.</p>

<p>He rubbed his face.</p>

<p>Damn that man.</p>

<p>He looked up to find Macavity watching him, head tilted to one side.</p>

<p>His face cracked.</p>

<p>“Don’t look at <em>me</em> like that, partner.”</p>

<p>Macavity turned his head the other way.</p>

<p>“What?”</p>

<p>Macavity turned his head back to the first side, still nailing him with his unblinking stare.</p>

<p>He broke. “Okay! Okay! I know already, I’ll meet with Dumbledore.”</p>

<p>Macavity bobbed his head and returned to his water bowl.</p>

<p>Harry stood up and shook his head. He was pretty sure familiar bonds weren’t supposed to form this quickly.</p>

<p>Macavity gave him a what-did-you-expect look.</p>

<p>He scowled. “You just want more excuses to cosy up to Hedwig.”</p>

<p>Macavity gave an indignant hoot and leapt to the window.</p>

<p>Harry smirked. “Liar.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Lord Jacob Greengrass straightened his robes, pecked Sunny on the cheek, strode out of their softly lit bedroom, down the darkened corridor, out of the warm family quarters, down the grand staircase of the massive and empty Greengrass ballroom, and towards the floo. He pointed his wand at a small statue on the mantlepiece and sent a pulse of magic into it.</p>

<p>Immediately, walls rose around him out of the floor. Stone ground on stone, creating a much smaller and cosy room in the formerly desert-like ballroom.</p>

<p>Two of the Greengrass house elves popped in with several large and comfy chairs taken from the sitting room, a low table already laden with bottles and glasses, and several bookcases, which soon encircled the room, completing the effect of a well-lived-in drawing-room.</p>

<p>He sat down in the nearest chair, poured a small shot of whisky and awaited his guests.</p>

<p>A few minutes later, the floo flared green and a very familiar mask stepped through. He smiled. “Harry.”</p>

<p>Harry, magically aged to the mid-twenties of his Lord Slytherin persona, walked over to one of the other chairs.</p>

<p>“Jacob.” Harry’s voice warmed the temporary receiving space from behind his mask as he sat. “How are you?”</p>

<p>“Good.” He looked Harry over. “More importantly, how are you? Daphne’s owls haven’t been able to tell us much.”</p>

<p>Harry nodded. “That’s not surprising. I’m fine. We’d hoped that Hermione would keep her status a secret for longer than what transpired, but these things happen.”</p>

<p>Jacob poured a shot of whisky into a small glass. He’d already seen the memories of the events of the previous night. Copies hadn’t exactly been hard to get hold of. “And you’re still sure this whole vassalage thing was a good idea?”</p>

<p>“Absolutely.”</p>

<p>He stood, walked over to Harry, and handed him the glass. “Well, it’s done now.”</p>

<p>Harry took the glass with a small nod of thanks. “The Grangers will prove to be a great asset to our cause. Dealing with a small amount of unpleasantness is worth the cost.”</p>

<p>Jacob sat back down and regarded Harry for the ten-thousandth time in his life. He still had problems believing the man sat in front of him was a boy of no more than eleven years. It <em>still</em> boggled his mind. Having said that, the one time he’d seen Daphne as a young woman of twenty years had freaked him out <em>much</em> more.</p>

<p>Harry rested his still-full glass on the armrest of his armchair. “Who else are we expecting?”</p>

<p>He thought for a moment. “Just Andrew and Lovegood, I think. Slughorn flooed an hour ago to say he had to cancel and Woodcroft has a prior engagement.”</p>

<p>Harry nodded.</p>

<p>“Also,” Jacob continued. “You might want to check this out.” He threw Harry a stack of parchment.</p>

<p>Harry read the first page. “The Muggle Protection Act?”</p>

<p>He nodded. “Weasley’s proposal. Standard Light silliness going on.”</p>

<p>Harry continued to read. “Yes… I can see that… Oh <em>dear</em>…”</p>

<p>The floo flared green, bathing the room in flickering emerald, and out stepped a man who, only a few years ago, he’d never have expected to be greeting to a high-level late-evening drink of the Gray. Lord Xenophilius Lovegood. He stood. “Xeno,” he smiled. “Welcome again to my humble home.”</p>

<p>Xeno smiled back, long hair falling over his young but worn face. “Excellent to be back! We alone here?” He waggled his eyes towards Harry.</p>

<p>Harry nodded. “Yep.” He put down the parchments in hand in front of him.</p>

<p>“Excellent!” Xeno strode over and slapped Harry on the shoulder before landing on a third chair in a thump of cushion and a splaying of legs. “Always happy to see my mysterious, all-powerful, and alter-aged future son-in-law.”</p>

<p>Jacob’s smile became rather fixed. He’d once been offered a consortship arrangement, but he’d turned it down out of loyalty to Sunny. Of course, he couldn’t very well complain, given what he’d almost been forced to do with Daphne and Lord Walter Slughorn.</p>

<p>In the end, the Gray had gotten a powerful ally out of the bargain. Intelligent people might laugh at The Quibbler, but the <em>smart</em> people knew that the less intelligent people took it seriously. And the less intelligent were in the vast majority. The smart themselves, took it selectively seriously, depending on just how smart they were.</p>

<p>The Gray now had The Quibbler, the Light had Witch Weekly, and the Dark had the Prophet in all but name. The balance of power was now, thanks largely to Harry, balanced. If that required a son-in-law with more than one father-in-law then so be it.</p>

<p>Harry drummed his fingers on his armchair. “I would hesitate to describe myself as ‘all powerful’, Xeno.”</p>

<p>Xeno settled into an enigmatic smile. “Maybe, but you’ve got a lot more going on than you let on. I know that.”</p>

<p>Harry waggled his head, not committing to anything.</p>

<p>Jacob gave a single nod. <em>That</em> much had been obvious for years.</p>

<p>The floo flared green and disgorged his final guest. A shorter, older wizard stepped out.</p>

<p>Jacob stood again, walked over and shook the man’s hand. “Andrew. Good to see you again.”</p>

<p>Lord Andrew Ogden beamed around the room. “Good to see you again, old boy. Xeno. Slytherin. I see you’ve got the whisky out.”</p>

<p>Harry and Xeno greeted the older man.</p>

<p>Jacob led the man over to the last chair and poured him a glass. Andrew had mentored him in the Wizengamot after the death of his father and he’d held the man in high regard ever since.</p>

<p>The four of them shared pleasantries for a moment before Andrew got right down to what he seemed itching to get off his chest. “So, Slytherin. Just saw the memory of you beating the living snot out of Volf’s boy. I must say that was terrifying. Almost wet myself, hah!”</p>

<p>Harry picked up his un-drunk glass and brought it to the mask’s lips. The mask enveloped the glass almost like a real mouth. He took a drink. “Yes.” He lowered the glass again. “I’ve said for years that I have no intention of allowing that kind of behaviour in my name and now that Daphne and Hermione are at Hogwarts, it stops.”</p>

<p>Andrew sat back in his chair. “Ah, yes. The muggleborn girl. Impressive casting on that one. Wandless even. You trained her?”</p>

<p>Harry inclined his head. “Indirectly.”</p>

<p>“Well, good show, I say.” Andrew smacked his lips. “Always thought the muggleborns could do better for themselves. I employ a good number of them, but it’s hard getting much out of them with the education most of them receive outside of Hogwarts, and runes can only do so much by themselves.”</p>

<p>Jacob nodded. The status of the three much smaller British schools outside of Hogwarts had been a subject of much discussion for their little group over the years.</p>

<p>“I also saw this.” Andrew thumped something down on the table. The latest edition of Witch Weekly stared up at him. “Congratulations are in order, I think, Slytherin, eh?”</p>

<p>Jacob raised an eyebrow, picked up the magazine, and flipped to the table of contents. His other eyebrow joined his first in its climb up his forehead. “The 1991 highest incomes list?”</p>

<p>Andrew pointed with his glass. “That’s the puppy.”</p>

<p>He flipped through to the relevant page, loudly titled ‘The Witch Rich List’, to find Harry right at the top with a 1990 income of 20,200 Galleons (£1,010,000), beating out Malfoy for first place by a chunky 1,400 Galleons (£70,000). In the column after Harry’s name of Lord Slytherin, the table listed the source of Harry’s income as ‘Slytherin’s treasure’.</p>

<p>He flipped the magazine to Xeno who started reading with great interest. He tilted his head. “Slytherin’s treasure?”</p>

<p>Harry coughed. “You know I still don’t know what we’re actually talking about, right?”</p>

<p>Andrew barked a laugh. “You’ve finally been added to this year’s rich list. Seems that even the journalistic gossips at Witch Weekly couldn’t figure out what you actually do, so they’ve just gone with ‘Slytherin’s treasure’ as your source of wealth.”</p>

<p>Xeno folded the magazine up and threw it to Harry. “Welcome to the taxpaying community, Lord Slytherin.”</p>

<p>The assembled wizards chuckled.</p>

<p>Jacob smirked. “You’ll probably be receiving a lot more requests now from the unofficial tax-collecting departments of the ministry and associated institutions.”</p>

<p>Andrew laughed. “You up for upping your donations now, eh? Slytherin?”</p>

<p>Harry chuckled under his mask. “Most of my profits will be going towards the construction of Slytherin Manor for the next few years, but I do plan to set aside an amount for political contributions, maybe 5% rising to 15% over three years.”</p>

<p>Xeno nodded. “Well, that would bring you in line with what most of us pay. Pretty sure 15% is what most of the Dark and Light dole out too. Except Malfoy of course. That man likes to throw around money like confetti.”</p>

<p>Jacob sat back in his chair and knocked back his drink. Malfoy wasn’t going to like being kicked off first place. The man seemed to take an unhealthy obsession in being the richest wizard in Britain. Of course, income wasn’t net worth, but the ministry didn’t tax wealth, only income, and the rate was so low that people like Malfoy didn’t even try dodging Gringotts reporting procedures. They just wanted to be high on the list.</p>

<p>Harry ran his finger down the list. “Slytherin, Malfoy, Potter, Greengrass, Parkinson, Ogden, Westbrook, Yaxley, Lovegood, Flume. That’s a pretty damn good mix of factions. Four Gray, three Light, and three Dark in the top ten.”</p>

<p>Andrew sniffed. “Yeah, but the top twenty is full of the Light.”</p>

<p>Jacob pointed his own finger at the list. “Yes, but most of them have incomes under 8,000 Galleons (£400,000).”</p>

<p>Andrew shrugged. “It adds up.”</p>

<p>Harry folded the magazine up and threw it back to Andrew. “It does. But power is often best concentrated at a point for best effect…”</p>

<p>Jacob could hear the smile in Harry’s voice.</p>

<p>“…And the wealth of the Gray is nothing if not concentrated.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The next Monday, Harry woke in his Slytherin-dorm four-poster, threw on his workout gear and trotted down to the grounds for his daily workout.</p>

<p>He wanted to get a better place to train together but the options were limited. The Chamber would be the ideal place, but so long as Voldemort was around he wasn’t going near the place with a ten-foot staff.</p>

<p>The room for hiding things was another option, but that would take a long time to set up, and, again, he didn’t want to do it while Voldemort was here, in case the Dark wanker wanted to check on his prized immortality trinket. A prized trinket, which he’d already swiped.</p>

<p>His feet led him out across the grounds, still wet from morning dew, and down to the lake. He started jogging.</p>

<p>Two laps of the lake later he’d built up a good solid sweat. He pulled in at a junction into a clearing in the forest. From here, he could see the lake path, but people would have difficulty seeing him in the trees.</p>

<p>He pulled his wand and conjured an assortment of dumbbells, barbells, hammers and what could only be described as big-ass stones.</p>

<p>Forty minutes later he collapsed on the ground, well and truly done. Sweat covered him like a second skin, pooling and running down his arms and legs, which burned from his efforts.</p>

<p>He vaguely waved his wand towards the conjured equipment, vanishing it back into thin air.</p>

<p>He lay on his back, breathing hard.</p>

<p>Gradually, his breathing slowed, only to be replaced by the panting of another.</p>

<p>He sat up.</p>

<p>The panting came from towards the lake path and seemed to be getting closer.</p>

<p>He disillusioned himself and crept to the edge of the tree line, eyes peeled.</p>

<p>The out-of-breath form of his brother passed him, wearing a t-shirt and shorts, heading up the lake path towards the loop that would bring him back around to the castle.</p>

<p>Huh. Harry pursed his lips and watched his brother’s form grow smaller as it jogged away. <em>That</em> was different. Time-traveller John never took morning exercise in the second timeline… did he? Of course, he could be mistaken…</p>

<p>He leaned on the tree next to him and tapped on the bark.</p>

<p>…Or perhaps his own actions were affecting the path John was taking. Merlin knew he’d done plenty to stir his brother up. In fact, given all the shit he’d thrown at John, it would be far more shocking if it <em>didn’t</em> affect him.</p>

<p>He stood for a few moments, lost in thought.</p>

<p>Oh, well. It wasn’t as if this was going to change his behaviour towards John. It was highly unlikely that his influencing of Ginny or Hedwig or Hermione would make it <em>less</em> likely that John would happily help to throw him back in Azkaban.</p>

<p>Harry turned to his impromptu gym, made sure he’d not forgotten anything, and proceeded to make his way back up to the castle. Breakfast called.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Stop, Potter!”</p>

<p>Harry dived around the next stone corner, whipped out the invisibility cloak and became as nothing.</p>

<p>Volf careened around the corner just behind him, wand out, and stopped dead, staring past him to the empty corridor that lay stretched before him.</p>

<p>Volf shook his head and muttered a curse under his breath.</p>

<p>Harry didn’t move.</p>

<p>Eventually, after a few more obscenities about dirty, half-blood blood-traitors, the Slytherin duelling captain turned and made his way back the way he came.</p>

<p>Harry waited for a few moments, then whipped the cloak back off. He sighed. Why did Volf always pick the times he was in a rush for class to ambush him? Didn’t the dick have classes of his own?</p>

<p>He made his way onwards to Transfiguration, sat a bench away from Daphne and Hermione, clocked in for attendance, cast his notice-me-not, and put his head in his arms. He yawned. Adrenaline and endorphins from exercise and being chased were slowly replaced by a sleepy full stomach from a hearty breakfast.</p>

<p>“Just thirty minutes,” he half mumbled.</p>

<p>…</p>

<p>Sometime later, he woke from his power nap to find the class working on practical transfiguration. He cancelled the notice-me-not and conjured an exact copy of the matchbox scattered in front of the class’ quicker students who’d already moved on from nails.</p>

<p>After a few minutes, Professor McGonagall stood in front of him. “Mister Potter?”</p>

<p>Harry looked up at the stern visage of Scottish witch. Her face radiated puzzlement.</p>

<p>“Yes, Professor?”</p>

<p>He fought back a yawn.</p>

<p>McGonagall stared for a few more moments before shaking herself. “Please attempt the transfiguration for me, Mister Potter.”</p>

<p>He nodded, focused on an almost-complete transfiguration form, and let his magic flow through his holly and phoenix-feather wand and into his conjured box. The box shifted and became a snuffbox — a snuffbox made of cardboard.</p>

<p>McGonagall picked it up and inspected it. “A good try, Mister Potter. You just need to work on the feel of aluminium in your mind. But you’ve got the difficult bit done.” She put the cardboard snuffbox back down on the desk. “It shouldn’t be too much more effort for you to master this exercise now.”</p>

<p>He nodded. “Thank you, Professor.”</p>

<p>McGonagall nodded back and moved on.</p>

<p>He yawned.</p>

<p>An indignant cry caught his attention.</p>

<p>He turned.</p>

<p>Hermione glared at Daphne’s desk, frustration radiating off her in waves. McGonagall’s sand timer sat between the two girls, flashing up a collection of numbers. He couldn’t see Daphne’s work from where he sat, but her half-smug expression suggested she’d just bested Hermione in some way.</p>

<p>Hermione hit the sand timer and waved her own wand.</p>

<p>Seconds ticked by.</p>

<p>Another wand hit and a new number shot from the timer.</p>

<p>Now Daphne looked annoyed and Hermione, smug.</p>

<p>He watched this back and forth for a few more minutes. The wand jabs got more pointed and the looks each girl shot the other got more determined. Glares became scowls, and smug looks were punctuated with crossed arms and fist pumps. They seemed not to notice him watching them. Their world seemed to consist of only their desks and each other.</p>

<p>Eventually, he noticed other students starting to stare.</p>

<p>Right. Time to intervene. He needed to message Hermione anyway. This seemed as good a time as any.</p>

<p>He pulsed magic into his lightning bolt ring.</p>

<p>Both girls froze.</p>

<p>He turned away from the girls to face the front of the classroom.</p>

<p><em>You look like you’re having fun.</em></p>

<p>He glanced back around at them. Both their faces had gone slightly red.</p>

<p><em>Hermione,</em></p>

<p><em>Be ready to meet Lord Slytherin at the main entranceway at five o’clock today. Bring everything you need for a meeting with the Headmaster.</em></p>

<p><em>Daphne,</em></p>

<p><em>Not much longer.</em></p>

<p><em>Harry.</em></p>

<p>By the time he’d finished his Morse code message, many of the other students were wrapping up their attempts and putting their books away.</p>

<p>He felt two separate sets of buzzes on his finger, each separated from the other by the magic of the ring.</p>

<p><em>Yes, Harry.</em></p>

<p><em>Yes, Harry.</em></p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry smiled through the invisibility cloak.</p>

<p>Books rose high on either side of him. The Hogwarts library was the largest in magical Britain. There were more books here than anyone could reasonably read during their seven years of education, let alone master, even <em>with</em> advanced occlumency.</p>

<p>Voldemort certainly hadn’t. Perfect student though he may have been, he still had limits, especially with all his ‘extracurricular activities’. After he’d ascended to power, Voldemort hadn’t bothered to learn at the obscene rate he’d done during his Hogwarts time and the twenty-odd years that followed. He was a Slytherin, not a Ravenclaw. He viewed learning as a means to an end, not an end in itself.</p>

<p>So did Harry, for that matter. And he now had a very specific end in mind.</p>

<p>The wards surrounding the restricted section whispered to him as he passed. Unlike those on the third floor, these certainly <em>were</em> plugged into the main Hogwarts wards.</p>

<p>He reached for a likely-looking title — <em>Seeing the Unseeable</em>. He opened it to the table of contents. It was a divination book. Another of Voldemort’s weak spots, but not what he needed right now. He slammed it shut and tried <em>The Wardbreaker’s Handbook</em>. Forcing entry… man in the middle attacks… Trojan horses… towering… he slammed it shut too. Nothing he didn’t already know, and he didn’t want to break the wards… at least not yet. He needed to know what lay <em>behind</em> those wards. Each probably contained a separate defence and now that he knew of the extra gender ward, which <em>hadn’t</em> been there in the second timeline, he wasn’t taking the chance that all the other defences were the same as last time too.</p>

<p>What he really needed was a way to see past those wards, to see through walls without having to actually send anything in there. Freekey could certainly be useful, but he wasn’t putting Daphne’s pet on the line without assurances the little monkey would be okay. Especially considering the first obstacle last time had been a freakin’ Cerberus.</p>

<p>Maybe some kind of charm would do it? Like something to change the opacity of an object…</p>

<p>He grabbed a book titled <em>Advanced Charms for Mass Production </em>and made his way to a sitting area in the back of the restricted section, still under his cloak, sat down, cross-legged in a corner, and started to read.</p>

<p>Somewhere close by, stone ground on stone.</p>

<p>He stiffened.</p>

<p>He heard footsteps.</p>

<p>He carefully closed the book on his lap and flicked his wand into his hand. His cloak would keep him hidden but it never hurt to be too careful.</p>

<p>Two figures appeared around the stacks of books.</p>

<p>He frowned. It was Ginny’s twin brothers. What were <em>they</em> doing in the restricted section? More interestingly, <em>how</em> did they get in?</p>

<p>The two seemed to be consulting something out of his view, possibly a book.</p>

<p>He shifted on the hardwood floor and waited for them to leave.</p>

<p>The two turned.</p>

<p>His breath hitched. They were walking <em>straight</em> towards him. He clutched his wand firmly in his hand.</p>

<p>The two stopped several feet from where he sat. They loomed over him.</p>

<p>“Well hello there, <em>Harry</em> Potter.”</p>

<p>Fuck. How?</p>

<p>“We know you’re there, little Slytherin.”</p>

<p>Shit. Crap. Memory charms.</p>

<p>“We’re not going to hurt you—”</p>

<p>“—Much.”</p>

<p>“We just want to talk, <em>Harry</em>.”</p>

<p>Okay, negotiate first, memory charm second. He needed to find out how they found him. He pulled the cloak off and stared at the two red-headed twins. “Okay, I’m impressed. How did you do that?”</p>

<p>“Nuh uh uh.” The twin on the left waggled a finger. “We’re not giving our secrets away so easily, <em>Harry</em>.”</p>

<p>The one on the right stared as he pocketed the cloak.</p>

<p>“Nice cloak, by the way.”</p>

<p>Fuck. He grinned. “Isn’t it?”</p>

<p>“Yes, it is.” Left-twin turned to right-twin. “I don’t think invisibility cloaks are on the forbidden list, but that’s probably only because no one’s <em>ever</em> had one before.”</p>

<p>Harry’s grin widened, while inside his mind whirled at a million miles a minute. “Yes, I’m sure. I’m also pretty sure the same could be said of advanced ward breaking tools.”</p>

<p>Both twins froze. Bingo.</p>

<p>“I’m sure we don’t know <em>what</em> you’re talking about, <em>Harry</em>,” right-twin said, leaning on the wall beside him.</p>

<p>“I’m <em>sure</em> you don’t.”</p>

<p>“And we’re sure that <em>you</em> can’t prove anything.”</p>

<p>“Whoa, whoa” Harry put up his hands, “Who said I’d want to rat you out?”</p>

<p>The two eyed him, warily.</p>

<p>“You want to talk, right? Can I suggest we do it somewhere that isn’t here? This isn’t exactly the safest place for a chat.”</p>

<p>The two looked at each other. Something seemed to pass between them. “Follow us, little Slytherin <em>Harry</em>.”</p>

<p>Harry stood and brushed himself off. One quick detour to replace the book and he followed the twins to a stack of books, which looked just like every other bookshelf.</p>

<p>“Normally,” one twin began, “we’d be reluctant to show someone one of these secret passageways…”</p>

<p>“…But it seems that you’ve already got a way in.”</p>

<p>The first twin poked around under a shelf and the whole thing, complete with wall, ground outwards, revealing a confined stone passageway. Miniature ward stones framed the doorway at each corner.</p>

<p>Harry snatched a glance at the ward-work as they left. Pretty sloppy and homemade from what looked like thrown-away scrap, but it seemed to do the job — very impressive for almost fourteen-year-olds.</p>

<p>The doorway ground closed again.</p>

<p>Harry frowned. “What would you do if you opened that door and someone was on the other side?”</p>

<p>The second twin turned from where he walked a few paces in front of him. “Oh, that’s not a problem, little Slytherin <em>Harry</em>. Trust us.”</p>

<p>So, they had some way to know where people were, did they? Is that how they found him? That could be horrifically bad.</p>

<p>He ground his teeth, unseen by the Weasley twins advancing ahead of him. This was quickly looking to be a full legilimency and memory-wipe job.</p>

<p>They made their way down the secret passageway and out into an unused classroom. They hopped onto desks facing each other.</p>

<p>“So,” Harry began, waving his wand to cast a privacy charm, much to the surprise of the two redheads, “to what do I owe the honour of such an impossibly improbable visit?”</p>

<p>The twins looked at each other. “That, my dear little Slytherin <em>Harry</em>—”</p>

<p>“—Is a story of many parts.”</p>

<p>He crossed his arms. “Well, you can start by telling me why you insist on calling me little Slytherin Harry. I’m not that little you know.”</p>

<p>“Ah,” said right-twin, his smile rather fixed. “But you are a <em>little</em> Slytherin to us.”</p>

<p>“And,” continued left-twin, “you are, more importantly, and unquestionably, <em>Harry</em>.”</p>

<p>Silence.</p>

<p>Ohhhh. Bugger.</p>

<p>He tilted his head. “Well, that <em>is</em> my name.”</p>

<p>The twins continued to stare at him.</p>

<p>Left-twin held up his hand, all fingers stretched out. “Let’s see shall we?” He dropped one finger with his other hand. “Several years ago, our dear little sister was besotted with one John Potter.” He dropped a second finger. “Then, suddenly out of the blue, she starts hating on him as though he’s You-Know-Who reborn.” He dropped a third finger. “Then, just a few months ago, our little saviour bursts in out of the blue and accuses said darling sister of being controlled by dark magic. It then turns out that she isn’t being controlled, but she <em>has</em> been getting advanced occlumency training from some unknown person and that this unknown person is called Harry.”</p>

<p>Right-twin took over. “Then, just weeks later, we find out that the much-vaunted John Potter, the boy-who-lived, the vanquisher of You-Know-Who, has a twin brother—”</p>

<p>“—Imagine how shocked we were—”</p>

<p>“—Indeed, oh brother of mine. Shocked. To find that this boy had been raised by muggles.—”</p>

<p>“—Oh how terrible, we thought—”</p>

<p>“—We shall show him the magic of the magical world, we thought—”</p>

<p>“—And then, on the train, we were sitting in a compartment with our good, good friend Lee Jordan, when who should come by, but John Potter from one side—”</p>

<p>“—And <em>Harry</em> Potter from the other—”</p>

<p>“—And before we know what’s happening, the two are at each other’s throats.”</p>

<p>“—Twin against twin, oh it pains me to see—”</p>

<p>“—Yes, oh twin of mine, such tragedy that two who were meant to be together should be pulled so far apart—”</p>

<p>“I don’t hate John.”</p>

<p>The twins stared at him.</p>

<p>“Yeah right, <em>Harry</em>—”</p>

<p>“—Pull the other one—”</p>

<p>“—It does have bells on.”</p>

<p>Right-twin hopped off his desk. “We can tell, <em>Harry</em>. We’re brothers in a family of nine. You think we can’t spot when someone is being friendly in a stick-a-dagger-in-your-back kind of way?”</p>

<p>Harry didn’t say anything.</p>

<p>“So,” continued right-twin, “your name is Harry. The person who taught Ginny occlumency is called Harry. You hate John Potter. Ginny started hating John Potter not long after our parents think this all started. Harry gave Ginny a top of the range broomstick. We saw you flying on the field the other day looking like you’ve lived on a broomstick all your life. You’re supposedly raised by muggles and we find you in the first week of school, hidden in the restricted section of the library, reading books on charms that would give us headaches.”</p>

<p>“And you have a freakin’ invisibility cloak. And you somehow got through the library wards and it wasn’t through <em>our</em> secret passageway. We <em>know</em> that.”</p>

<p>Left-twin swung his legs back and forth. “You, Harry, are Harry. You. Are. Harry.”</p>

<p>Harry stared at them. Damn. This would require quite some tap dancing. He kept his face completely blank. “It sounds like this Harry guy is quite an interesting character.”</p>

<p>Right-twin blinked. “You’re <em>still</em>—”</p>

<p>“—Let me finish,” he snapped.</p>

<p>Right-twin shut his mouth.</p>

<p>He took a moment to collect his thoughts. “Tell me more about this Harry. How do you feel about him?”</p>

<p>The twins shared a glance. “Well, we don’t really know him, do we?”</p>

<p>“Mostly we want to make sure he’s not a dark wizard preying on our baby sister.”</p>

<p>Harry tapped his chin. “This Harry person sounds like he’s spent a lot of time with Ginny. I imagine teaching someone something like occlumency would take that.”</p>

<p>Right-twin nodded, slowly. “Yeah, it took us ages, and we have the twin advantage.”</p>

<p>Harry’s heart fell. Oh shit. They knew occlumency. Even memory charms weren’t <em>totally</em> safe then. And what was the twin advantage? He took a deep breath. “What do you know about what Ginny thinks of this Harry person?”</p>

<p>“We know she trusts him.”</p>

<p>“We know she likes him.”</p>

<p>“Well then, since you say that Ginny has strong occlumency, shouldn’t her word count for a lot? I’m sure you know your sister very well. Is she the kind of person who would hang out with a dark wizard?”</p>

<p>Both twins shook their heads.</p>

<p>“Then shouldn’t that be that?”</p>

<p>The twins stared at him for what seemed an age.</p>

<p>Eventually, left-twin spoke. “I guess so.” He hopped off the desk to join his twin. “Then we shall be off, but if you <em>ever</em> hurt Ginny…”</p>

<p>“Wait just a moment!”</p>

<p>They stalled, mid-turn.</p>

<p>“<em>We</em> still have business. Please sit.”</p>

<p>They raised their eyebrows but did sit back down.</p>

<p>“Two points. Point one. You saw me in the restricted section <em>and</em> you saw that I have an invisibility cloak. How do I know that you will keep <em>all</em> my secrets?”</p>

<p>Right-twin grinned. “We’d give you our word.”</p>

<p>Harry shook his head. “We’re going to have to do better than that. We’re not leaving this room until I know both of us will keep the other’s secrets.”</p>

<p>The twins frowned. “Isn’t the fact we hold something over the other good enough?”</p>

<p>Harry sighed. “No. Because what you hold over me is massive and what I hold over you is tiny. And there’s still the second thing.”</p>

<p>The twins looked at him expectantly.</p>

<p>“How did you find me? I <em>need</em> to know.”</p>

<p>Left-twin shook his head. “Sorry, little Slytherin Harry, that’s our great secret.”</p>

<p>Harry’s eyes narrowed. “I will give you <em>anything</em> it is in my power to give you to find out how you did it. You know some of my capabilities now. I promise you it isn’t a small offer.”</p>

<p>Right-twin tapped the side of the desk. “Anything?”</p>

<p>“Anything within my means that I deem to be of equal value to the information I’m requesting.”</p>

<p>Left-twin grinned. “Well, you are a child of the Most Ancient and Noble House of Potter. How’s your pocket money looking?”</p>

<p>His heart leapt. “You want, money? What for?”</p>

<p>“That’s our business, little Slytherin Harry.”</p>

<p>“I just want to get an idea of how much you need.”</p>

<p>The two looked at each other. “We’re thinking maybe one galleon every other month.”</p>

<p>Oh Merlin help him. He slammed his hands on the desk. “I’m writing you a damned blank check here! You set up a man-in-the-middle-attack in a well-hidden secret passageway to break a way into the restricted section of the Hogwarts library with rubbish most would throw away. What could two people like you <em>possibly</em> be doing of value that can be achieved on two and an eighth sickle a week?”</p>

<p>Right-twin opened his mouth to protest.</p>

<p>Harry held up his hand. “Stop. Just stop.” He reached into his pocket and pulled out his shrunk trunk, opened it, stepped inside, and closed the lid behind him. He counted out twenty-five galleons and dumped them into a small Gringotts bag.</p>

<p>When he opened the trunk lid and poked his head out, the twins were still sat there, watching him with a strange look on their twin faces.</p>

<p>“What?”</p>

<p>“Nothing, little Slytherin Harry—”</p>

<p>“—Just some massive déjà vu.”</p>

<p>“Yeah, well. Here.” He climbed out and handed over the bag. “Twenty-five galleons. Come to me when you need more.”</p>

<p>The twins looked stunned.</p>

<p>“If you’re not back in a month for more, I’m warning you, I will chase you both down, and force it on you.”</p>

<p>They nodded, mutely.</p>

<p>“Now. Tell me how you found me!”</p>

<p>Right-twin reached into his robes and pulled out a roll of parchment.</p>

<p>Five minutes later, Harry drooled. If Wormtail had ever thought to mention <em>this</em> to Voldemort, the Dark Lord would have turned the castle inside-out looking for it.</p>

<p>“Yep,” said the twin Harry could now see was Fred, pointing proudly to some of the more interesting areas. “This baby is a masterpiece. We’ve already memorised many of the secret passageways on it, but we’ve still got a ways to go. Why, I remember one time…”</p>

<p>Harry drummed the desk with his fingers. This wouldn’t classify as a Potter heirloom, not unless you went by goblin law, but it <em>was</em> technically his birthright. The problem with that was that it was John’s too and even Alex’s. In fact, Alex had more claim over it than he <em>or</em> John… Hmmm…. Certainly something to think about, that.</p>

<p>He refocused on the map. He could see the room he and the twins were standing in clearly. Three small dots labelled Fred and George Weasley and Harry Potter. Thank Merlin he’d found out about this now. If he’d ever met the twins as Lord Slytherin while the map showed Harry Potter, it could have been… bad.</p>

<p>It was also clear the map took its readings from the Hogwarts wards — wards that he could control. He glanced sideways at the twins, still expounding on their story. How trustworthy were they? Was the money enough to keep them with him or did he need more? This map threw up so many questions. Had they seen Hermione and Daphne going about their business on the third floor? Had they spotted him disappearing in one part of the map and reappearing in another? The map didn’t show parseltongue-only secret passageways. And even now, he could see a dot with a dual label of Quirinus Quirrell and Tom Riddle pacing a far-flung study.</p>

<p>And what could he achieve if he had regular access to this thing? The possibilities were incredible.</p>

<p>He needed something to bring these two closer. The money was a good start, especially if they became dependent on it, but he needed something else, something more. He racked his brain while the twins rattled on about all the pranking feats they’d pulled off with this ultimate weapon against the fog of war.</p>

<p>What did he know about them? What did he have that they might want? They were ambitious. They loved pranks. They didn’t care much for rules. They seemed to revel in pulling off things that people their age shouldn’t be able to. They didn’t care much for academic work. And yet, they were diligent in their own projects, if what they said about their independent occlumency practice was true.</p>

<p>“And that’s when we bolted around the corner, just as Filch comes around the—”</p>

<p>“—Do you want to be animagi?” he blurted out.</p>

<p>They stared at him.</p>

<p>“Well?”</p>

<p>Fred furrowed his eyebrows. “Are you serious?”</p>

<p>Harry gave him a look. “Yes. I’m damn serious. Well, are you interested, yes or no?”</p>

<p>George frowned. “We already looked into being animagi a long time ago.”</p>

<p>“Yeah,” continued Fred, “decided it wasn’t worth it. Takes far too long.”</p>

<p>“Suppose I had a shortcut?”</p>

<p>They stared at him again.</p>

<p>“Especially for diligent pranksters who’ve been working on their occlumency like good little boys?”</p>

<p>“Oi!” George mock-punched him on the shoulder.</p>

<p>Fred looked pensive. “How much of a shortcut?”</p>

<p>“Twenty to one hundred hours of work this year, depending on how good your occlumency actually is, and 150 hours next year.”</p>

<p>George whistled. “That’s a lot faster than the two thousand hours the books say.”</p>

<p>“Yep. Target of full transformation by next Christmas.”</p>

<p>Fred gave him a half-lidded look. “How long have you been planning this?”</p>

<p>“Never mind that. Are you in?”</p>

<p>The twins looked at each other.</p>

<p>“We’re in.”</p>

<p>“We’re in.”</p>

<p>“Excellent.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry strode back to the Slytherin dungeons to prepare for his meeting with Hermione and Dumbledore.</p>

<p>“Hey!” *gasp* “Potter!” *wheeze*</p>

<p>Romulus Volf stepped out from the next corner, some two dozen metres ahead of him.</p>

<p>Harry stopped and turned his head. Behind him, Goon A blocked his retreat. He turned back to Volf. “Damn. You must have run through a quarter of the whole freakin’ castle to pull that off.”</p>

<p>“Shut up!” *Huff* *Huff*</p>

<p>“Well, whatever,” he said out loud. At least now he had some time to kill.</p>

<p>Volf seemed to get his breath back. His breathing slowed and his back straightened from its bent-over wheeze-fest. “It’s about time someone showed you your place, Potter!”</p>

<p>He flicked his wand into his hand. The Goon behind him was the most dangerous at the moment and all three of them knew it. Unfortunately for the other two, they didn’t know he could sense magic.</p>

<p>He vaguely waved his wand. “Yes, yes. I understand that. But first I’d like to ask to join the duelling team.”</p>

<p>Volf’s jaw slackened. “You what?”</p>

<p>“I said, ‘I’d like to join the duelling team’.”</p>

<p>Volf growled. “Why should I let you?”</p>

<p>“Because you want the strongest, don’t you? That’s what you’ve always said. ‘I will not let anyone on the team unless they are the strongest.’ I am the strongest. Ergo, you will let me on the team.”</p>

<p>Volf snorted.</p>

<p>“Annndddd…. If I beat all the other first years, you’d have a real reason not to include Miss Granger on the team.”</p>

<p>Volf stilled. He lowered his wand to his side.</p>

<p>Harry’s eyes widened, slightly. The dick was <em>actually</em> considering that.</p>

<p>His first plan had been to offer to duel the entire Slytherin duelling team for the spot, one after the other, with a forfeit of a thousand galleons if he lost, but if this worked first, so much the better.</p>

<p>Volf’s eyes narrowed. “Granger didn’t even <em>want</em> to be on the team in the first place. She only accepted because Greengrass pushed her into it.”</p>

<p>“Do you think she’s going to back down now? After all, that’s happened?”</p>

<p>Volf scowled.</p>

<p>“Accept me as a candidate and I guarantee that I will beat Granger. In fact, I guarantee that I’ll win Slytherin the whole tournament.”</p>

<p>Volf scoffed. “Now you’re just being an arrogant little toerag.”</p>

<p>Harry shook his head. He felt an almost-instantaneous build-up of magic behind him, whirled around, and swatted aside a tripping hex.</p>

<p>A startled Goon A kept his wand trained on him but made no attempt to cast another spell.</p>

<p>He turned back to Volf who looked equally surprised.</p>

<p>“I am good. And I intend to show you just how good at the November trials. Imagine having a seventh year in the first-year slot. That’s me. I’m not dicking around here.” He strolled forward until he stood beside Volf. “I know that you don’t much like me, but with me on the team, Slytherin <em>will</em> win, and that’s all there is to it.”</p>

<p>He walked off down the corridor and didn’t feel a single magical build-up behind him the whole way.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry stood in front of his shrunk trunk’s full-length mirror, looked down at the line of bottles in front of him one last time, took a deep breath, grabbed the first in the line and downed it.</p>

<p>The super-high-dose ageing potion took effect, changing his true eleven-year-old body into the body of a seventy-year-old man, complete with beard. Any resemblance to James Potter was extremely difficult to spot.</p>

<p>He grabbed the second bottle in the row and downed that.</p>

<p>The polyjuice potion took effect, changing him into the visage of a random male muggle, this time in his mid-twenties. It wasn’t the best-looking face though.</p>

<p>He grabbed the third and final bottle in the row and downed that too.</p>

<p>The beautification potion took effect, shifting the irregular features of his borrowed face into something more symmetrical… more symmetrical and even less recognisable.</p>

<p>He then took his wand and started transfiguring his face, hair, and vocal cords into his private persona of Lord Slytherin. Fifteen minutes later, he’d finished and stood back to inspect his handiwork.</p>

<p>He reached down and picked up the final piece from the desk — Slytherin’s mask.</p>

<p>There.</p>

<p>He tapped the mask, now on his face, with his fingertips.</p>

<p>He reached into his left pocket to check his supply of Peruvian instant darkness powder. Check.</p>

<p>He reached into his right pocket to check his mini spray bottle filled with draught of living death. Check.</p>

<p>He took in his complete form in the mirror, decked out in full horntail dragon hide duelling robes, complete with hood, gloves, and boots, brocaded in silver and trimmed in emerald green.</p>

<p>It went without saying, that he intended to take <em>no</em> chances with this meeting.</p>

<p>He exited his trunk, currently inside a parseltongue-only secret passage, held up his wand and added the presence of a second Harry Potter to the wards, while instantly changing his original label from Harry Potter to Lord Slytherin.</p>

<p>It wouldn’t do for a certain pair of twins to wonder what Harry Potter and Hermione Granger were doing in the headmaster’s office, after all.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione fidgeted and surveyed the Hogwarts grounds from behind a tall glass window in the entrance hall.</p>

<p>“You ready—”</p>

<p>She yelped.</p>

<p>“—Hermione?”</p>

<p>She spun around to see the tall, masked figure of Lord Slytherin. She crashed into him and hugged him as best she could, given their current height difference.</p>

<p>Harry returned the hug.</p>

<p>“Are we alone?” she whispered.</p>

<p>Harry whispered back. “You know how to test for that.”</p>

<p>She nodded and spoke in a loud and clear voice, “Lord Slytherin’s secret place is located on Berneray Island in the Outer Hebrides.”</p>

<p>Harry gave her a thumbs up.</p>

<p>“Harry!” she hissed, hugging him harder. “I miss you so much. And there’s so much I want to talk to you about and so much to tell you. When are we going to meet up properly? There wasn’t time for <em>anything</em> the other night.”</p>

<p>Harry glanced around again. “Hopefully, soon. I’m hoping this meeting will help us get some idea of how closely Dumbledore is paying attention to things.”</p>

<p>She nodded.</p>

<p>“How’s the snake in your pocket doing?”</p>

<p>She patted said pocket. “No problems. It seems to really like beef.”</p>

<p>Harry nodded.</p>

<p>She stepped back and looked him up and down. She couldn’t deny that older-Harry cut a dashing figure. “And you’re… you’re okay with, all this?”</p>

<p>Harry sighed. “Not really, but we’re doing it anyway. The opportunity is too good to miss.”</p>

<p>“Thank you.”</p>

<p>Harry’s voice picked up a cheerful beat. “No worries. This is all part of the game.”</p>

<p>She nodded.</p>

<p>“Shall we?” He motioned down the corridor.</p>

<p>She turned to Harry’s side and slid on her Slytherin mask. “Lead on, my lord.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Albus Dumbledore signed off on another piece of parchment and added it to his out tray. The clock ticked. The many devices around him whirred, clicked, bobbed, and sploshed.</p>

<p>“Ahem, Headmaster.”</p>

<p>He looked up. He was being addressed by one of his paintings.</p>

<p>“Yes?”</p>

<p>“It would appear that Miss Granger is being led towards your office by the masked wizard known as Lord Slytherin.”</p>

<p>His eyes widened. So soon? He hadn’t expected <em>that</em>. “That is most interesting. Thank you.”</p>

<p>The painting nodded and went to sleep.</p>

<p>At last.</p>

<p>He swept aside the mass of parchment-work on his desk with a wave of his wand and conjured two comfortable armchairs in front of him.</p>

<p>After three whole years of back and forth, or rather, after three whole years of only forth and a complete absence of back.</p>

<p>He picked up Miss Granger’s parchments and regarded them for a moment.</p>

<p>He’d been right.</p>

<p>He put the parchments in front of him and glanced at the door to his office.</p>

<p>The minutes ticked by. He frowned, suddenly feeling very silly, sitting behind his desk, twiddling his thumbs, like a fresh employee waiting for his new boss to drop by. Slytherin wasn’t even supposed to be out of his twenties yet. He slowly shook his aged head. If Slytherin really was a dark lord in the making, there would be tells. Obvious tells, like in Riddle, and he’d spot them.</p>

<p>The minutes continued to tick by.</p>

<p>Surely the man should have been here by now.</p>

<p>Another minute went by.</p>

<p>Okay, now he was sure Slytherin was doing it on purpose.</p>

<p>*Knock* *Knock*</p>

<p>He started. Oh, but of <em>course</em> the wards wouldn’t alert <em>him</em>. How foolish for him to assume so. He let out a deep breath. “Come in.”</p>

<p>The door opened.</p>

<p>“Ah, Lord Slytherin.” He beamed towards the heavily dressed man while a million alarm bells rang in his head. “And Miss Granger. Come in. Please. Sit.”</p>

<p>The masked man and girl sat down in the chairs in front of him. The girl wore an expression of dignified indifference. The man looked fully ready to enter armed combat against an army.</p>

<p>“Albus Dumbledore,” the man said, in a voice as deep as the sea.</p>

<p>“Headmaster.” Miss Granger bobbed her head.</p>

<p>“Well.” He offered them sweets from a small bowl, which they both refused. “It’s good to see you again, finally, after all this time.”</p>

<p>He glanced over to Fawkes who completely ignored the visitors. Was that a good thing or a bad thing?</p>

<p>The girl’s face remained blank. Slytherin’s face, was, obviously, unreadable.</p>

<p>“I’m quite sure we’ve never met, Headmaster Dumbledore,” Slytherin said.</p>

<p>Dumbledore waved vaguely. “Of course, of course.” He smiled. “So, how is England treating you?”</p>

<p>“About as well as she always has.”</p>

<p>He waited for an elaboration.</p>

<p>It didn’t come.</p>

<p>He shifted in his seat, removed his glasses and rubbed his eyes. “Lord Slytherin, may I speak freely?”</p>

<p>“Yes.”</p>

<p>“I sense a great deal of mistrust from you towards my person. I don’t know why. Maybe I did something to you, accidentally or on purpose, I don’t know. Maybe you disapprove of my policies or methods or laws that I’ve helped pass or stopped from passing. I don’t know. What I do know is I’d like us to be able to work together. There are many issues that I know we see eye to eye on.”</p>

<p>The mask of Lord Slytherin stared at him. “Issues such as?”</p>

<p>He glanced towards the girl by Lord Slytherin’s side. “Your actions and behaviour suggest you are in favour of muggleborns in our world.”</p>

<p>The mask tilted slightly. “…I prefer to think I am in favour of brilliant and talented witches and wizards who strive to better themselves.”</p>

<p>For a brief moment, a corner of the girl’s lips curled upwards before slipping back into her un-childlike blank facade, common among pureblood children, but always disturbing to see.</p>

<p>Dumbledore stroked his beard. “As the headmaster of a school, this is a sentiment I can fully endorse.”</p>

<p>Slytherin nodded, once.</p>

<p>“I wonder if you might be interested in seeing this.” Dumbledore reached to his side and placed a document he’d recently received in front of Lord Slytherin. It was an advanced copy from Arthur of his proposal for a muggle protection act.</p>

<p>Slytherin picked it up and glanced through the pages. “I’ve already seen this.” He put the parchments back down again.</p>

<p>Dumbledore chuckled. “And?”</p>

<p>“I think it’s self-serving and short-sighted.”</p>

<p>He raised an eyebrow. Slytherin certainly didn’t mince his words once you got him going, did he? “Would you care to elaborate?”</p>

<p>“The vast majority of the proposal deals with increasing the powers of the Misuse of Muggle Artefacts Office, either directly, by allowing them to call auror raids on suspected individuals, or indirectly, by massively increasing the number of items that are classified as muggle in origin, thus necessitating a larger staff and bigger budget. That’s understandable, considering the author of the bill is the head of the department.”</p>

<p>Dumbledore frowned. “But muggles make new things all the time, surely you see the need to increase the number of items in the classifications?”</p>

<p>“Well, that brings me to the short-sighted bit. Hermione?”</p>

<p>Miss Granger snapped her head sideways. “Yes, my lord?”</p>

<p>“What would your opinion be on a policy that advocated the continued banning of the integration of magic with new technologies as they develop? Technologies such as ceramics, plastics, electronics, lasers, chemicals, etc?”</p>

<p>Dumbledore raised an eyebrow and turned his attention to the muggleborn girl.</p>

<p>Miss Granger seemed to think for a few moments. Eventually, she spoke. “If magicals ban such integration, they may find, one day, that technology has become superior to magic, or that muggles have independently discovered either the existence of magic or even how to use it.”</p>

<p>“Well reasoned, Hermione.”</p>

<p>For a moment, Miss Granger beamed.</p>

<p>Dumbledore frowned. Was that likely? Certainly, a lot had changed in the Muggle World over his lifetime, but how possible was it that they would achieve something as improbable as discovering how to circumvent memory charms, or even use magic themselves. They were muggles. He shook his head. “I really can’t see that happening, Lord Slytherin.”</p>

<p>Miss Granger frowned.</p>

<p>Slytherin tapped his fingers on the armchair rest. “Then we find ourselves at an impasse, Dumbledore.”</p>

<p>“Surely you see it is important to protect the well-being of those who live <em>now,</em> rather than sacrifice them for preventing the hypothetical and highly improbable doomsday scenarios of the far future that wizards can deal with, if and when they occur?”</p>

<p>Lord Slytherin stopped tapping his fingers. Eventually, he spoke, and when he did, the words had a hint of steel and a bite that his previous speech lacked. “That’s rich coming from <em>you</em>.”</p>

<p>Dumbledore’s eyebrows both rose. Well, that was <em>certainly</em> a reaction. He raked his eyes over Slytherin, wishing he could see the man’s face. “I don’t understand.”</p>

<p>Slytherin lay back in his chair and his voice returned to his previous slow, deep rumble. “No, I don’t suppose you do.”</p>

<p>The two gazed at each other for an age. Old face staring into blank mask.</p>

<p>He cleared his throat, picked up the papers in front of him and idly shuffled them. “I have here the papers for Miss Granger’s admittance to our healing program—”</p>

<p>Miss Granger perked up.</p>

<p>“—however, there is one thing I would like to discuss first.”</p>

<p>“Oh?”</p>

<p>“I understand that you’ve made aspersions as to the suitability of our highly qualified and talented potions master.”</p>

<p>“I may have made comments, yes.”</p>

<p>“I’d like your assurances that he will be allowed to continue the job [[[for]]] which he is almost uniquely positioned [[[for]]].”</p>

<p>Miss Granger stood, fists clenched at her side. “That man tried to mind rape me! And then as good as threatened to expel me for defending myself!”</p>

<p>“Miss Granger.” Dumbledore looked towards Slytherin. The man didn’t move, seemingly uninterested in reigning-in the irate girl. “Legilimency is not illegal. And I would remind you that your own Lord Slytherin, ‘mind raped’, as you put it, young Romulus Volf just the other night, in a manner far worse than Professor Snape may have attempted on you, if it is even true.”</p>

<p>Granger scoffed. “That was different. That was in a duel. And my lord wasn’t a professor giving a class and mind raping his students.”</p>

<p>“Be that as it may,” he straightened the parchments on the desk. “I would like your assurances, Lord Slytherin, that Professor Snape will be allowed to continue his job.”</p>

<p>Granger sat back down.</p>

<p>Slytherin watched him, silent and unmoving.</p>

<p>Dumbledore started meaningfully tapping the parchments in front of him.</p>

<p>Slytherin leaned forward. “If that bastard tries anything like he tried with Hermione ever again, on her or anyone else under my protection, I will eject him from the dungeons so fast, he’ll be a smear on the ceiling.”</p>

<p>“Noted, Lord Slytherin.”</p>

<p>Miss Granger huffed.</p>

<p>Slytherin leaned back. “Go on then. Stamp the damn parchments.”</p>

<p>Dumbledore smiled, flipped over the parchments, picked up his phoenix-feather quill, and signed. “Congratulations, Miss Granger, you are now officially the youngest healer trainee in Hogwarts history.”</p>

<p>Miss Granger nodded, stood, took the proffered parchments, and she and Lord Slytherin turned to leave.</p>

<p>“Oh, one last thing, Lord Slytherin.”</p>

<p>The masked man turned back.</p>

<p>“If there are important issues regarding the running of Hogwarts that I feel a lord of one of the four houses could provide useful input on, would said lord be interested in giving that input?”</p>

<p>The man stood stock still. Then he tipped an imaginary hat. “Owl it all to Daphne. She’ll give you my input.”</p>

<p>Then the man turned, and he and the girl left without another backwards glance.</p>

<p>Just as the door closed shut, he felt a strong pulse of magic and the telltale swoosh of a cleaning charm sweep through his office, wiping out all traces of the man who’d just left.</p>

<p style="text-align: center;">— End of Chapter Eighteen —</p>

