Chapter 19 - The Chamber's Pipe Network

<p>Daphne stirred the cauldron in front of her clockwise, exactly three times. She stopped and started on the opposite turns. The potion bored her with its simplicity and her mind wandered elsewhere. After the whirlwind first week, September had slowed, settling down to a routine of easy classes and even easier homework. The only decent competition came from the witch sat next to her and the not really boy-who-lived, sat three rows in front of her, who had somehow managed to crawl his way onto the Gryffindor Quidditch team.</p>

<p>Harry, of course, didn’t count.</p>

<p>She stopped turning, set a small timer on her wand, and glanced sideways to see Granger finishing up the sliced marrow, each perfect wafer a thumbed nose to their oily-haired professor, who’d had the gall to fail the muggleborn witch two weeks ago for imperfectly-sliced ingredients. Granger spent the better part of a Saturday afternoon with a pile of cucumbers and a knife in the Hogwarts kitchens after that, and hadn’t stopped until their special brand of Harry’s occlumency///Harry-occlumency produced the desired skill increases. Snape had yet to find a single fault in Granger’s technique since, much to the man’s obvious displeasure.</p>

<p>Her wand vibrated. Daphne lifted her spoon from the cauldron, set it aside, and turned down the runic flame.</p>

<p>It was now October and soon she’d be seeing Harry again. One month. It felt like forever.</p>

<p>Granger lifted her cutting board over the cauldron and slid the sliced marrow inside.</p>

<p>After the meeting with Dumbledore, Harry had decided to push back the time for meeting up in person by a few weeks.</p>

<p>The last marrow wafer dropped into the cauldron with a small ploop. The potion turned vomit yellow.</p>

<p>Daphne wrinkled her nose and began to stir again. She couldn’t wait for when all this hiding-from-each-other business would be over. She sighed. Knowing Harry was so close and not sitting beside him just felt <em>wrong</em>. There was no other way to describe it.</p>

<p>Granger pointed her wand at their cauldron and cast a physical shield.</p>

<p>Daphne frowned. “What—”</p>

<p>*BOOM*</p>

<p>A fine mist of unfinished potion billowed past her, coating her face, hair, robes and work surface in a fine layer of foul-smelling dampness.</p>

<p>“Finnigan! Weasley!” Snape swept past her to berate the two shocked-looking Gryffindors on the other side of the room, now sat in front of a large mess, more resembling a ringed, molten candle than a proper potions cauldron. “Do you two have <em>anything</em> between your dunderhead ears?”</p>

<p>Daphne let the words wash over her and glanced around. All the other visible potions had just faded several shades. All except theirs.</p>

<p>Granger smiled a winner’s smile.</p>

<p>Daphne felt her cheeks warm up. Damn it. <em>She</em> should have spotted whatever Granger had. She should have been paying more attention. Instead, she’d been daydreaming after Harry like a silly little girl with a crush. “Good catch,” she whispered.</p>

<p>Granger nodded, still smiling smugly, and turned away to prepare the bottle for their potion sample.</p>

<p>Daphne grimaced and stirred the potion three more times. Next free period couldn’t come fast enough.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Eleven-year-old Harry Potter sat cross-legged on the hard stone floor of the room of lost things, allowing the dust to swirl about his face with every outward breath he exhaled.</p>

<p>All around him sat the detritus of a thousand years of accumulation. Innumerable treasures to the poor and orphaned scattered among the occasional piece that even the lords of noble houses would spill blood over.</p>

<p>The cathedral-like room murmured, silent but for the shifting air around the many runic torches, flickering their slight light across the walls, casting long, distorted shadows through and up the hundreds of freestanding, solid-oak shelves, each one three men tall and more than a dozen long.</p>

<p>A creek shuddered from the far side of the room.</p>

<p>“—you it would work!” Hermione’s excited voice wafted through the deadly silent space.</p>

<p>“Yes, yes, you were right, okay?” followed Daphne’s moments later.</p>

<p>Harry shifted and watched the subtle shifting of light and shadow through the many shelves as the two girls made their way through the space.</p>

<p>“Where is he?” said Hermione.</p>

<p>“Maybe he’s not here yet?” replied Daphne.</p>

<p>“Tch. <em>He</em> is never late.”</p>

<p>“I didn’t say he was late.” Daphne’s voice sounded a little annoyed. “Just that he might not be here <em>yet</em>.”</p>

<p>Harry stood up and walked up the rows of shelves. He leaned around the next shelf.</p>

<p>“Well,” Hermione started, “when you said—”</p>

<p>“—Hi, girls.”</p>

<p>Hermione whipped around. “Harry!”</p>

<p>Daphne’s head shot up.</p>

<p>Hermione bounded forward and wrapped him in a bone-crushing hug.</p>

<p>He held her for a few moments before letting go of the excited witch and regarded Daphne, stood a few paces away, holding one arm with her other, and biting her lower lip. He grinned. “No hug, Daph?”</p>

<p>Daphne hesitated, then drifted into his arms and enveloped him in the same warm, mildly desperate hug she’d given him before he’d left to infiltrate the Hogwarts Express. “I missed you,” she whispered, and broke away, cheeks red, refusing to look him or Hermione in the eyes.</p>

<p>Hermione stared wide-eyed at Daphne. She opened her mouth to say something.</p>

<p>“Hermione,” he interrupted, bringing her attention back to him. “Test for company?”</p>

<p>Hermione hesitated, nodded, opened her mouth… and choked.</p>

<p>The happy mood froze. Harry’s eyes narrowed. In an instant he had his hand pointed at Daphne, fingertips glowing red, Daphne shoved her wand into the crook of Hermione’s neck, and Hermione whipped her wand up to press against his temple.</p>

<p>He flicked his wand into his other hand. Hermione’s wand tip glowed red against his head. In one smooth movement, he curved his wand from the floor to above his head. “Homenum Revelio!”</p>

<p>Four outlines appeared in his mind, him, Hermione, and Daphne, and a fourth off to his side. “Accio humanoid spy!”</p>

<p>A muffled shriek to his side heralded the rapid arrival of their unwanted guest. All three wands instantly refocused on it.</p>

<p>A small, female house elf, dressed in a Hogwarts tea towel, landed at their feet.</p>

<p>An elf. “Stop!”</p>

<p>The elf looked up at him with wide eyes. “Trippy must. Trippy must report.”</p>

<p>“Do not leave!” he ordered.</p>

<p>The elf started to tremble. “Why is Trippy obeying Potter boy?”</p>

<p>“Why are you here?”</p>

<p>“Ohhh, Headmaster Dumblydores not be liking this, no not at all, Trippy must report.”</p>

<p>“You will stay here!”</p>

<p>The elf seemed to struggle with itself.</p>

<p>“Imperio!”</p>

<p>The feeling of being in two places at once flooded over him. He saw both the elf, and himself, towering over himself, wand pointing at his temporary elven body. Hermione and Daphne also stood, wands trained on the elf, looks of shock and fear on their faces.</p>

<p>He spoke from his human mouth. “Hermione, privacy charms.”</p>

<p>Hermione nodded and started casting.</p>

<p>He took out his shrunk trunk from his human pocket and expanded it. “Daphne, veritaserum, fourth shelf down on the right.”</p>

<p>Daphne nodded and climbed into the trunk.</p>

<p>Moments later, Hermione finished casting and Daphne returned from the trunk carrying a small vial of pure, see-through liquid.</p>

<p>“Three drops on the tongue.” He opened his elven mouth and allowed Daphne to drop three drops into it. The dullness of the truth serum flooded his mind, while, at the same time, a small part of him, protected by his noble house ring, fenced off and preserved his free will.</p>

<p>“Hermione, stun her.”</p>

<p>Red light shot towards him and the senses from his ensnared target closed.</p>

<p>Now better able to focus, Harry started piling on the compulsion charms. To strengthen the already strong need to obey Lord Slytherin, to not disapparate away, to not call for help, to not attack, or try to find ways around the commands.</p>

<p>“Incarcerous.” Ropes shot out of his wand and wrapped themselves tightly around the young female house elf.</p>

<p>“Daphne, test for company.”</p>

<p>Daphne nodded. “Lord Slytherin’s secret place is located on Berneray Island in the Outer Hebrides.”</p>

<p>He nodded. “Hermione, revive her.”</p>

<p>Hermione did so.</p>

<p>The elf struggled against the ropes, but her eyes were dull and her efforts halfhearted.</p>

<p>“Stay!”</p>

<p>The elf trembled and spoke in a voice far lower and deader than the usual house elf squeak. “Trippy is obeying Potter boy. This is not right.”</p>

<p>“Trippy, why are you here? What were you doing?”</p>

<p>Trippy shook her head, but her voice did emerge. “Trippy was asked by Headmaster Dumblydores to keep an eye on Heiress Icygrass”</p>

<p>He glanced at Daphne whose eye twitched.</p>

<p>“Why?” Daphne asked.</p>

<p>The elf shook her head and kept her mouth clamped shut.</p>

<p>Harry pursed his lips. “Why, Trippy?”</p>

<p>Trippy’s mouth forced itself open as though a dozen horses were dragging a massive stone boulder. “Headmaster Dumblydores is wanting to know if Heiress Icygrass was being in troubles, or in dangers.”</p>

<p>Harry raised an eyebrow.</p>

<p>“He is also wanting to knows if Heiress Icygrass is being making friends with Potter boy,” she said in her dead squeak.</p>

<p>Harry growled. “Are any other elves tasked as such?”</p>

<p>“No, Potter boy.”</p>

<p>“Are any elves tasked to watch over me or Hermione?”</p>

<p>“Trippy knows of no such elves with any such orders, Potter boy.”</p>

<p>“What about John Potter?”</p>

<p>“Headmaster Dumblydores has Lefty looking over the boy-who-lived.”</p>

<p>Harry took a step backwards. So, a spy on Daphne and John, but not on him. Of course, he’d been checking for spies on him ever since he’d arrived and he hadn’t found any. But why not? Surely it would make sense to sic one of the little buggers on him. He tapped a nearby shelf with his non-wand-holding fingers.</p>

<p>Daphne and Hermione watched him watching the elf, wands still trained on her.</p>

<p>“Trippy,” he continued. “Has Dumbledore said anything in your presence about what is in the third-floor corridor?”</p>

<p>“No, Potter boy.”</p>

<p>“Do you know what is in the third-floor corridor?”</p>

<p>“Trippy only knows there is a chimaera—”</p>

<p>Daphne squeaked.</p>

<p>“—beyond the first door because house elves must be feeding it, Potter boy.”</p>

<p>His eyes widened. So did Hermione’s.</p>

<p>Daphne stood, wand dropped to her side, a look of utter horror on her face.</p>

<p>Harry felt mildly sick. A chimaera. Holy shit. An actual Merlin-damned chimaera. It wasn’t quite a nundu, but it might as well be. There weren’t many cases of wizards defeating chimaeras. Most weren’t stupid enough to try. What the <em>hell</em> was Dumbledore thinking?</p>

<p>“How do you feed the chimaera without being killed?”</p>

<p>“House elves is throwing meat through containment ward at nighttime when all students are being asleep.”</p>

<p>Figures.</p>

<p>“What is the chimaera made from?”</p>

<p>“It has the body of a goat, two heads, one from an eagle and one from a tiger, and three tails from a tiger, a snake, and a fox.”</p>

<p>Harry frowned. That was quite an unusual mashup. He turned to the girls. “Can you think of any more questions?”</p>

<p>They shook their heads.</p>

<p>“Okay then.” He turned back to Trippy. “Are any of the other elves or any other sentient beings expecting you to be anywhere within the next hour?”</p>

<p>Trippy’s struggles became frantic. “N-N-No, Potter boy.”</p>

<p>He nodded and fired a bright red stunner at Trippy who collapsed, limp and still bound in the conjured ropes.</p>

<p>“Daphne?”</p>

<p>“Yes, Harry?”</p>

<p>“You’ll find draught of living death in the sixth drawer down on the right.”</p>

<p>Daphne nodded and returned a minute later with the bottle. Harry tipped it down the elf’s throat.</p>

<p>“Right.”</p>

<p>He levelled the wand at the space between the elf’s large, closed, bulbous eyes, and focused on all that needed to be forgotten.</p>

<p>“Obliviate.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry, crouched in the invisibility cloak, Daphne and Hermione pressed tightly against him, halted by a bit of Hogwarts wall with a tiny, barely-visible carved snake at the bottom. “Do both of you have your snakes with you?” he whispered.</p>

<p>“Yes, Harry,” came the two synchronised whispers inches from his ear.</p>

<p>“And your sunglasses?”</p>

<p>“Yes.”</p>

<p>“Yes.”</p>

<p>He nodded, although there was no way for the girls to see him. “Okay, then.” He leant down to the snake carving. <em>“§Open§.”</em></p>

<p>A tiny hole in the wall expanded into a circular opening large enough for a large man to walk through without bending. He heard an intake of breath from one of the girls. “C’mon.” He climbed in and held his hand out to first Daphne and then Hermione, careful to keep them as far under the cloak as possible until the wall closed behind them again.</p>

<p>He whipped the cloak off.</p>

<p>“Lumos.” Hermione’s face bloomed into being by the light of her charm.</p>

<p>Daphne looked around. “Where are we? It’s pretty cramped in here.”</p>

<p>The hole they’d climbed into looked like a sphere of metal from the inside. Two small holes sat perpendicular to the large hole they’d just climbed through.</p>

<p>Harry lit his own wand. “We’re in the Hogwarts piping system.”</p>

<p>“Ohhhh.” Daphne’s eyes went wide.</p>

<p>Hermione frowned. “But how do we go anywhere? We can’t fit through that.” She gestured to one of the tiny holes.</p>

<p>Harry chuckled. “Just walk towards it.”</p>

<p>Hermione looked at him for a moment, turned and took a step towards the hole. The round sphere of the wall retreated as she moved towards it and the roof above her dipped slightly in the space between her and them.</p>

<p>She squealed. “Oh. Oh. I get it. The pipes change size to fit whatever moves through them.”</p>

<p>He grinned. “Yep.”</p>

<p>Hermione’s eyes shone. “That’s amazing. But what about the outside?”</p>

<p>“Dynamic space expansion.”</p>

<p>“Oooooooo.”</p>

<p>Daphne tapped her chin. “Let me guess. You’ve found a way to get to the stone?”</p>

<p>Hermione stopped inspecting the walls to look at him.</p>

<p>He scratched the back of his head. “Not quite.”</p>

<p>“No?”</p>

<p>“Well, I’ve got close. But I still need to set some stuff up. I thought we’d do it together since we haven’t had any time together for a while.”</p>

<p>Daphne put her hands on her hips. “Well said, Mister Harry.”</p>

<p>Hermione’s eyes widened. “Mister Harry?”</p>

<p>Daphne reddened. “Umm, I mean…”</p>

<p>Harry smiled and grabbed Daphne’s hand.</p>

<p>“Gah!”</p>

<p>He dragged her towards Hermione. “Enough chatting, let’s move.”</p>

<p>After several hundred metres of pipe, including a few climbs and slippery slides, they found themselves in a section of pipe with a small chalk-like line drawn on the side.</p>

<p>He waved towards the line. “I did that.”</p>

<p>Daphne wrinkled her nose. “Do I taste slugs and snails and puppy dogs tails?”</p>

<p>He looked back from where he’d taken a step towards the line. “Wow. You’re getting pretty good at this.”</p>

<p>Daphne cringed. “It’s not a taste I feel I’m going to forget in a hurry.”</p>

<p>Hermione giggled.</p>

<p>Harry took out his shrunk trunk and expanded it. “Daphne? You know where the miniature ward stones are. I think we’ll need six.”</p>

<p>Daphne nodded and a minute later arrived back with a half-dozen small ward stones in a sack.</p>

<p>Hermione looked on with great interest as he took out one of the stones and tapped it repeatedly with his wand. “So, we’re breaking into the third-floor corridor?”</p>

<p>“Yep.”</p>

<p>“With those stones?”</p>

<p>“Yep.”</p>

<p>“What’s to stop someone doing that with Slytherin Manor once we’ve got it built?”</p>

<p>He smiled. “This only works on perimeter wards. If the security system also has area wards they’ll activate the moment someone walks through the hole.”</p>

<p>Hermione’s lips formed an O. “That’s why you needed us to check this out first.”</p>

<p>“Yep.”</p>

<p>Daphne made herself comfortable on the lid of the trunk.</p>

<p>Harry put the first stone down and picked up the second. “Oh, that reminds me. I got the specs for three parcels of land from Gringotts the other week.”</p>

<p>Daphne perked up. “Well?”</p>

<p>“One in Cumbria, one in East Anglia, and one on an island in the Orkneys.”</p>

<p>Hermione’s eyes gleamed. “I like islands.”</p>

<p>He finished tapping the second stone and vaguely waved it. “What about your parents?”</p>

<p>Hermione’s face fell. “Oh. I don’t know.”</p>

<p>Daphne tapped the lid of the trunk. “There’s a lot more to think about than just how much we like it. It may be important to be physically close to certain places. East Anglia would put us much closer to London.”</p>

<p>Hermione pouted. “But can’t we get anywhere quickly with magic?”</p>

<p>Harry put down the second stone and picked up the third. “Sure. If we chose the one in Cumbria or the Orkneys we could probably set up a private floo point in an empty apartment in London, or something.” He started tapping away. “Might do that anyway, actually.”</p>

<p>“Couldn’t choosing an island give many interesting benefits?” Hermione asked.</p>

<p>Daphne grimaced. “Yes. Horrible Scottish weather almost all year round. At least East Anglia would be warm and dry in summer.”</p>

<p>Harry glanced at Daphne, then down at the stone in his hands. “Mmmmmm…. Might make for///Might give some interesting warding possibilities…”</p>

<p>Daphne frowned. “Such as?”</p>

<p>“We could build the ward tunnels under the seabed that surrounds the island. That would make them much harder to attack and would stop any towering attacks.”</p>

<p>Hermione inclined her head. “What’s a towering attack?”</p>

<p>“It’s when someone builds a second ward system right next to the one being attacked. It protects the attackers and lets them gradually encroach onto the target’s territory.” He put down the third stone and picked up the fourth.</p>

<p>“So,” Hermione started, “why not do that? The underwater thing I mean. It sounds like a good idea.”</p>

<p>Daphne shot Hermione a look. “There probably <em>are</em> some good reasons. Harry?”</p>

<p>Harry looked up. “Building the ward tunnels under the seabed would probably up the cost of the project by quite a bit. My instinct says by too much.”</p>

<p>“Oh.” Hermione looked disappointed. “So, no island then?”</p>

<p>“Not necessarily. We could still build the ward system on the island itself. It would still make a towering attack much more difficult than normal.”</p>

<p>Hermione perked back up.</p>

<p>Daphne swung her legs back and forth. “How much is the warding system going to cost anyway?”</p>

<p>“Gringotts quoted us 15,500 Galleons. That’s 775,000 pounds.”</p>

<p>Hermione goggled. “Holy Merlin. Harry. That’s… insane!”</p>

<p>He looked up from his tapping away at the fourth stone. “Hermione?”</p>

<p>“I… I mean… Harry, how much is this manor going to cost?”</p>

<p>He looked at her with deadpan eyes. “6.6 million pounds.”</p>

<p>Her jaw dropped.</p>

<p>Daphne snorted. “What part of <em>manor</em> didn’t you understand?”</p>

<p>“I… I didn’t think…” Hermione fell back into silence. Eventually, she spoke in a small quiet voice. “Harry?”</p>

<p>“Yes, Hermione?”</p>

<p>“How big is this manor going to be?”</p>

<p>“Twenty-six thousand square feet.”</p>

<p>Silence descended again.</p>

<p>Harry put down the fourth stone and picked up the fifth.</p>

<p>“I think my parents were planning to build something much smaller on their plot…”</p>

<p>Harry stopped tapping and smiled. “Hermione. What your parents build on their plot is totally up to them. I wouldn’t expect them to try to compete with the manor. That’s not the point.”</p>

<p>Hermione nodded slowly. “So, the wards are costing 15,500 Galleons, and building the rest of the house is costing, what? 120,000 Galleons?”</p>

<p>He sent a particularly strong jolt into the stone he held. “Nah. Construction will be around 3.3 million pounds, about sixty-five thousand Galleons. The ward system will cost 15,500 Galleons, furnishing another sixteen thousand, and the land and improvements to the land will be around nineteen thousand, depending on which parcel of land we eventually choose.”</p>

<p>Hermione’s face scrunched up in a rictus of concentration. “That still leaves… about 16,500 Galleons.”</p>

<p>Harry put down the fifth stone and picked up the sixth and final stone. “House elves.”</p>

<p>Hermione choked. “800,000 pounds worth of house elves! How many are we getting?”</p>

<p>“Two.”</p>

<p>Hermione stared.</p>

<p>“A house elf costs 400,000 pounds?”</p>

<p>“Around that.”</p>

<p>“How?”</p>

<p>Daphne frowned. “Yes, how? I mean, when we talked about this before I just accepted it, but it does seem a lot.”</p>

<p>Harry paused in his tapping. “Well, look at it this way. A house elf can do the work of two full adult wizards. A normal adult wizard’s salary for menial work of the kind that house elves do is around 15,000 pounds a year, that’s about three hundred Galleons. Following?”</p>

<p>Hermione and Daphne nodded.</p>

<p>He continued. “And a house elf can work for upwards of fifty years. That means that when you buy a house elf you’re buying around one hundred years of labour in advance.”</p>

<p>Hermione frowned. “But wouldn’t that mean that a house elf should cost 1.5 million pounds then?”</p>

<p>“No, because the value of one year’s worth of labour in fifty years is much less than one year’s worth of labour now.”</p>

<p>“But, how do you figure that out?”</p>

<p>Harry smiled. “Remind me to give you a book on basic finance when we get out of here.”</p>

<p>Hermione smiled and nodded.</p>

<p>Daphne chuckled. “So, the Dark Lord was interested in business then?”</p>

<p>He frowned. “You know, I <em>have</em> learned things since I returned.”</p>

<p>Daphne held up her hands. “Of course, of course.”</p>

<p>His frown turned into a sheepish smile. “But… as it turns out, in this instance, Voldy did actually study this.”</p>

<p>“Hah!”</p>

<p>“Yeah. When you believe yourself to be immortal, things like compound interest suddenly become super relevant.” He held the now-adjusted sixth and final ward stone in his hands and turned to the ward line.</p>

<p>Harry placed the stone at the corner of the tunnel and tapped his wand around the stone a few times. He turned around to find the girls watching his every movement with rapt attention. “Sticking charms powered by the ward system,” he said, by way of explanation.</p>

<p>They nodded.</p>

<p>Five ward stones later, the pipe-sphere held a hexagon of ward stone points, cutting at a diagonal angle parallel to the gender ward line. Harry stepped through the new hole in the ward and let out a breath. He grinned. “Success!”</p>

<p>The girls cheered. They made their way along the now-unblocked tunnel to a bare stretch of pipe wall with a snake carving in it. They’d passed many snake carvings on their way here, but this one lay inside the gender line ward.</p>

<p>Harry held up his hand. “This… looks like where we need to be.”</p>

<p>Daphne fiddled with the cuffs of her robes. “It’s not going to be the chimaera on the other side of that? Is it?”</p>

<p>Hermione paled.</p>

<p>Harry tapped the wall with his wand. “Probably not.”</p>

<p>Daphne grimaced. “<em>Probably </em>not?”</p>

<p>“Well, we haven’t gone through any containment wards. If it is the chimaera we should be perfectly safe where we are.”</p>

<p>Hermione gulped.</p>

<p>“Hey, you two trust me to protect you don’t you?”</p>

<p>The girls looked at each other. Then back at him. They nodded, slowly.</p>

<p>“Okay then.<em>” </em>He whirled around. <em>“§Open§</em>.”</p>

<p>The pipe wall expanded to form a portal, metal melting outwards like the world’s biggest mouth, and facing them through the opened wall space was… nothing.</p>

<p>“Well, that was anticlimactic.”</p>

<p>He stood in the pipe and surveyed the room beyond. Two doors faced each other on opposite sides of the room.</p>

<p>Hermione’s voice cut through the silence. “That’s a TV! And below that is a VCR.”</p>

<p>He stared. On the far side of the room, there was indeed a muggle television and a tape recorder.</p>

<p>“What’s a TV?” asked Daphne.</p>

<p>Harry frowned. This was unexpected. He was sure they were in the third-floor corridor.</p>

<p>Hermione’s voice washed over him. “It’s a muggle device for viewing moving pictures from afar. Kind of like a cross between the wizarding wireless and photographs.”</p>

<p>He could feel a ward line in front of him, warning him against entering the room.</p>

<p>“Oh,” Daphne replied. “That sounds interesting. What’s it doing here?”</p>

<p>“No idea.”</p>

<p>He turned to the girls. “I’m going to do a quick test, okay?”</p>

<p>They nodded.</p>

<p>He un-shrunk his trunk, descended, and brought out a jar of spiders.</p>

<p>Daphne’s eyebrows raised. “Oh, I was wondering when <em>they</em> were going to make an appearance. I saw them on your desk.”</p>

<p>He nodded, reached in, grabbed one, put the jar down, poked his wand at it and muttered, “imperio”. For the second time that day, his world sliced in half between two views, but this time, far stranger, seeing the world through ten eyes and trying to control ten legs. He jumped off his own hand and carefully dragged himself along the floor towards the ward line. He reached the edge of the pipe tunnel and fell off.</p>

<p>Then, pain. Total burning pain shot through his bodies. He shrieked through his human body and broke the connection.</p>

<p>“Harry!” Hermione and Daphne clutched at him. “What happened? Are you okay?” they asked in succession.</p>

<p>“Yeah. Yeah. I’m fine.” He grimaced. “There’s either some kind of animal area ward, or a ward to defend against the imperius curse, or both, or something else. Nasty, whatever it is.”</p>

<p>Daphne frowned. “So, what are we going to do? Can we do anything more from here?”</p>

<p>He shook his head. “Maybe. But not with what I can think up off the top of my head.”</p>

<p>Hermione nodded towards the opposite side of the room. “What about the TV?”</p>

<p>“Another time. Right now I want to keep working on figuring out how to identify what’s inside the rest of the rooms.” He pointed to the doors on opposite sides of the room.</p>

<p>Hermione perked up. “Ooo I could help you with that!”</p>

<p>Daphne’s head whipped around. “What? But you’re about to start healing training. And you’ve got that thing going on with the other muggleborns. <em>And</em> you need to get ready to get destroyed by Harry at the duelling club tryouts.”</p>

<p>Hermione ducked her head. “Yeah, well, but I could still help.”</p>

<p>Harry frowned. “I think Daph does make a reasonable point. Not that I don’t think you can do it, but we don’t want you spread too thin… I somehow doubt healer training is going to be a walk in the park.”</p>

<p>Hermione pouted.</p>

<p>“Daphne, you can help if you like? I assume you <em>were</em> offering to help?”</p>

<p>Daphne smiled. “Yes, I would like that.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore sat on the hard bench of his reserved lane, waiting for his team, and contemplating his duties.</p>

<p>Three weeks ago, he’d finally met with Lord Slytherin. The man had been… polite, if rather closed off.</p>

<p>Dumbledore had started the meeting with every intention of uncovering the telltale cues that marked an ascending dark lord. Anger, hate, fear, loathing, disregard for others, overwhelming superiority complexes. Slytherin seemed to possess none of these. The important word being <em>seemed</em>.</p>

<p>He picked up his favourite muggle bludger, a fluorescent pink affair, and absently rolled its heavy weight in his hands.</p>

<p>There had been one moment in the meeting when Slytherin had cut loose and showed a flash of what lay hidden beneath the mask. Anger. Anger at him. Anger at him for something he had done in the past. The implication was that he’d caused Slytherin to lose something or someone dear to him, and it was a direct consequence of Dumbledore’s willingness to sacrifice others for a greater good.</p>

<p>He grimaced. He hated that phrase. Yes, he’d been forced many times to conduct the cold-blooded calculus of necessity, but to try to pretty it up was the first step on the road to falling to the Dark. That was a major difference between good and evil. Evil tried to justify evil in the name of good, while good knew that evil done in the name of good was still evil.</p>

<p>He had no delusions that he <em>was</em> a <em>little</em> bit evil. But it was that knowledge that kept him from falling, that kept him Light.</p>

<p>Did Lord Slytherin appreciate that subtlety?</p>

<p>Clearing the air with the man was crucial, but Slytherin wasn’t telling and gave nothing away. For the last three weeks, Dumbledore had racked his brain, going over every tough choice he’d been forced to make over the last few decades. He <em>could</em> think of a few people fitting Slytherin’s description who’d have good reason for hating him, but he’d systematically investigated and ruled out each one of them.</p>

<p>Dumbledore took a sip from a plastic cup and popped a muggle sweet from a paper bag into his mouth.</p>

<p>There was one worrying conclusion about Lord Slytherin that he couldn’t help himself drawing. The man was power hungry.</p>

<p>Dumbledore had dangled a free power-up out of his window, and Slytherin, after three years of ignoring his existence, had come running. That was an important point to consider.</p>

<p>That the power-up that brought him in had been healing worried him even more. That suggested the man didn’t trust St Mungo’s, or that he eventually wanted to place Miss Granger there as an agent, or, worst of all, that he planned to get into situations that needed a healer on call. Situations like battle.</p>

<p>He idly stroked his beard.</p>

<p>Of course, there was also the possibility that he was massively over-reading this and Slytherin was just pulling strings for a girl in his care.</p>

<p>He took another sip. The drink fizzed in his mouth.</p>

<p>“Good afternoon, Dumbledore.” Minerva sat down on the bench opposite him. He always admired how well his old friend could blend in with muggles. He smiled.</p>

<p>She sniffed.</p>

<p>“Good afternoon, Professor. I trust we can expect the rest of our faculty soon?”</p>

<p>“No doubt.” She sniffed again. “And once more, Albus, I must voice my objection to holding our staff meetings, <em>here</em>.” She clipped the final word so short it might have been a punctuation mark. “I do not like leaving the castle with so few adults.”</p>

<p>One lane over, a heavily built muggle threw his bludger down his lane. It smashed into a neatly arranged set of pins and toppled them over. A barrier crashed down and the words ‘FULL STRIKE’ flashed up onto the muggle screen above him.</p>

<p>Dumbledore smiled. “I’ve always felt it important to come together and build friendships as a team.” He poked his wand into the air and a bolt of static flashed across every screen in view. “And what better way to do that than with such a delightful muggle pastime?”</p>

<p>Minerva made no attempt to argue the point. She placed her hands on her knees and assiduously ignored the group behind her, now shouting, cheering, and jumping up and down.</p>

<p>More Hogwarts staff trickled in over the next few minutes — Sinistra, Vector, Flitwick, Babbling, Burbage, Sprout, and Kettleburn, in varying states of enthusiasm. Quirrell arrived with a face so blank it might have been vanished.</p>

<p>Dumbledore was just putting the final entry into the machine when Severus turned up. “Ah, Severus.” He turned to regard the man, still in full wizard’s robes, now trying to make room for himself between Sinistra and Babbling. “What would you like your name to be?”</p>

<p>“I’ve said before, Headmaster… that I will <em>not</em> be participating. Not <em>now</em>…. Not <em>ever</em>.”</p>

<p>On the bench opposite, Professor McGonagall sniffed in agreement.</p>

<p>He sighed and turned back to the machine. “Very well, as you wish.”</p>

<p>He pressed a button and the screen flashed the message ‘GAME TIME’. He picked up his favourite fluorescent pink bludger, stepped towards the lane and rolled it down the track. Several pins fell over. The screen flashed an animation and a number six appeared next to the name ‘THE GRAND WARLOCK’</p>

<p>He turned back.</p>

<p>Babbling stood to take her turn.</p>

<p>“So,” he started. “We’re now through our first month of classes. What do we think of our so-called golden year? Professor McGonagall?”</p>

<p>Minerva tapped a rhythm on one skirted knee. “Miss Granger, Miss Greengrass, and Mister John Potter.”</p>

<p>There was a susurration of murmuring around the group.</p>

<p>He sat down and popped another muggle sweet. “Oh yes?”</p>

<p>“Yes, Dumbledore. All three of these students are so far beyond their classmates as to be unbelievable. John Potter’s homework is clearly fourth-year level. Miss Granger’s is third year, and Miss Greengrass’ is late second at least and I’ve already seen improvements in just the last four weeks in both of them.”</p>

<p>Babbling returned and sat down with a huge grin on her young face. The screen updated a large X next to the name ‘I WILL RUNE YOU’.</p>

<p>Flitwick nodded. “Indeed, Minerva—”</p>

<p>Vector stood and made her way to the front.</p>

<p>“—Those three students are quite something else. Miss Greengrass and Miss Granger spend almost their entire class time fine-tuning control of their spells rather than learning them.”</p>

<p>Severus grumbled something incoherent.</p>

<p>Minerva nodded.</p>

<p>Dumbledore stroked his beard. “And what do you think, Professor Quirrell?”</p>

<p>“I agree with those assessments. Miss Greengrass and Miss Granger are… unique students. But it is Mister Potter who most catches my interest.”</p>

<p>Dumbledore stopped mid beard stroke. “Oh?”</p>

<p>“Mister <em>Harry</em> Potter.”</p>

<p>Dumbledore chuckled while inside his heart leapt. “And what is it about our young saviour’s brother that interests you?”</p>

<p>Quirrell made a vague hand waving motion. “Oh, this and that. For starters, he possesses situational awareness that I rarely see in wizards <em>thrice</em> his age.”</p>

<p>Dumbledore frowned. That… was not what he expected to hear. “Situational awareness?”</p>

<p>“He is very good at spotting a dangerous situation and adjusting his behaviour accordingly.”</p>

<p>“Indeed?”</p>

<p>“Yes. In many ways, he reminds me of a younger version of myself.”</p>

<p>“Hey, Filius, you’re up!” Vector arrived back and high-fived the diminutive professor. The screen flashed a seven next to the name ‘THE PRIME MINISTER’.</p>

<p>“Really?” Dumbledore watched his pink bludger roll back into the ready rack as though by magic. “Are you perhaps thinking of taking on an apprentice?”</p>

<p>Quirrell made a face. “No, thank you, Headmaster.”</p>

<p>Dumbledore nodded and looked away from Tom’s vessel. “Well, do keep an eye on him. It’s in all our interests to see both Potter boys grow up into strong, <em>powerful</em> young wizards.”</p>

<p>Filius zoomed towards the seated witches and wizards on his knees, both hands in the air. “Strike!” He came to a stop between the two rows. The screen flashed, and an X appeared next to the name ‘PINT SIZED CHARMER’.</p>

<p>Dumbledore frowned. If Filius won <em>again</em>, it would be his fifth in a row. Damn duelling champion.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione’s next free period found her walking towards the Hogwarts infirmary clasping five thick textbooks to her chest. She nudged open the door and stuck her head through the gap. The pristine clean interior reminded her of her parents’ practice. The smell of bleach filled her nostrils. “Um… Madam Pomfrey?”</p>

<p>“Ah.” Madam Pomfrey bustled around a corner at the far side of the long, bed-filled room. “You’re here. Good, good. Come in.”</p>

<p>Hermione entered.</p>

<p>“Take a seat.” The older witch gestured to a stack of folding chairs. “And, Miss Granger?”</p>

<p>Hermione froze while reaching for a chair. “Yes, Madam Pomfrey?”</p>

<p>Pomfrey put a single hand on her hip. “<em>Now</em>, Miss Granger, you may call me <em>Healer</em> Pomfrey.”</p>

<p>Hermione flushed. “Ah, right, yes… er, Healer Pomfrey.” She sat down next to a bed and waited.</p>

<p>A few moments later, an older Ravenclaw girl entered.</p>

<p>“Miss Clearwater,” Pomfrey gestured to a desk in the back. “Box number eleven. I want a full diagnostics and report. Then I’ll approve or disapprove your treatment recommendation.”</p>

<p>“Yes, Healer.” The girl walked to the back of the room.</p>

<p>Hermione craned her neck to see what the Ravenclaw was up to, but couldn’t get a line of sight.</p>

<p>A few minutes later, what looked like a seventh-year Hufflepuff boy entered, and, once again, he was directed to a separate desk towards the back of the room.</p>

<p>Eventually, after several more minutes, during which time she was too anxious to even open one of the many thick books in front of her, Healer Pomfrey returned from whatever task she’d been handling, pulled up a chair, and sat down opposite her.</p>

<p>“Miss Granger, I’ll be upfront about this.” The healer put a small pile of parchments down on a small table next to her. “I think you’re too young for this.”</p>

<p>Hermione opened her mouth to protest, but a held-up hand stopped her.</p>

<p>“<em>I</em> think you’re too young, but apparently, it’s not my business to decide who joins our program.” She sniffed. “So, you’re just going to have to make up ground as we go. And quickly.”</p>

<p>Hermione made small, rapid nods.</p>

<p>“This program is intended to replicate the first eighteen months of St. Mungo’s healer training, part-time, over five years. Although in your case, who knows. You’ve got seven years to work with, but I’ll be damned if you just waste those extra two years. Clear?”</p>

<p>Again, she nodded.</p>

<p>“Right. The first year of the program is spent on the basics of first aid and dealing with common physical injuries. These include broken bones, flesh wounds, torn ligaments, sprains, and internal bleeding. We’ll start with a demonstration and then I’ll assess your capabilities to actually <em>do</em> the practice considering your disadvantage.”</p>

<p>She nodded.</p>

<p>“Follow me.”</p>

<p>Healer Pomfrey stood up and led her around the back of the room, past where the other two were working at hidden desks, to a third desk surrounded by walls that came over her head. On Madam Pomfrey, they didn’t reach more than halfway up her chest.</p>

<p>“Sit.”</p>

<p>She sat.</p>

<p>The healer reached up to a shelf and pulled down a clear box.</p>

<p>Hermione’s eyes widened. Her stomach lurched. Inside the box, a live mouse scurried around, putting its feet up on the see-through walls and sniffing the air.</p>

<p>Healer Pomfrey put on a glove, opened the box, and pointed her wand inside. “Stupefy.” A tiny flash of red shot from the wand and hit the tiny rodent. Pomfrey then took out the now-stunned mouse and lay it on the desk.</p>

<p>“Tell me what you see.”</p>

<p>Hermione looked at the mouse. They weren’t really doing this were they? This was a <em>live</em> animal! “Umm… it’s a mouse, Healer Pomfrey. A stunned, <em>live</em> mouse.”</p>

<p>“Correct, Miss Granger. Can you cast the stupefy spell?”</p>

<p>“Yes, Healer Pomfrey.”</p>

<p>The healer looked up in surprise. “You can?”</p>

<p>“Yes.”</p>

<p>Pomfrey put the mouse back in the box. “Ennervate.”</p>

<p>The mouse instantly started moving again.</p>

<p>“Please stun it.”</p>

<p>Hermione obediently pointed her wand inside the box and said, “stupefy.” A bright light shot out of the wand, hit the mouse, and shattered the box around it.</p>

<p>Healer Pomfrey picked a bit of box out of her hair. “Yes, thank you, Miss Granger. A bit less power next time, I think. Please remember that a mouse is not a fully grown wizard.”</p>

<p>Hermione felt her cheeks heat up. “I-I’m sorry, I forgot.”</p>

<p>The healer inspected the mouse, seemed to find nothing wrong, and put it back down on the desk. She pulled a potted plant towards herself. “Do you know what this is?”</p>

<p>Hermione started. She instantly recognised the leafy green plant. “Yes, it’s huntsman’s sorrow. We’re growing it in herbology. It has healing properties.”</p>

<p>“Good. And this?” Pomfrey pulled a box of brown powder towards herself.</p>

<p>“I don’t know, Healer.”</p>

<p>“This is dried and powdered huntsman’s sorrow. Not as potent as fresh, but much more convenient and quicker to apply. Now, please watch carefully.”</p>

<p>Hermione watched, half horrified, as the older witch pointed her wand at the stunned mouse and said, “diffindo.” A gash opened in the mouse’s thigh and red liquid instantly pooled in it and started trickling out.</p>

<p>Oh, Merlin. She put a hand over her mouth as her breakfast threatened to leave her.</p>

<p>Quick as a flash, Madam Pomfrey pointed her wand at the mouse with her right hand and said, “concrescat sanguinem,” while reaching into the box of dried powder with her left. The blood started to instantly dry. She sprinkled a tiny amount of the powder on the wound and prodded it again with her wand in her right hand and intoned, “sano caro.” The wound started to close, fresh blood stopped seeping through the quickly clotting blood, and in moments it was impossible to tell the mouse had even been cut.</p>

<p>Hermione let out a long-held breath. She felt slightly lightheaded.</p>

<p>Healer Pomfrey turned to her. “So, how good do you think you are at the cutting charm?”</p>

<p>Hermione clutched the length of her expensive robes in a death grip. “Um. I don’t know it, Healer Pomfrey. My lord didn’t teach me yet.”</p>

<p>Pomfrey raised an eyebrow. “Then I suggest you get practising before your next lesson. Unless you want your patients to wind up like that box.” She gestured to the destroyed pieces of see-through box that still littered the desktop.</p>

<p>Hermione took a deep shuddering breath. What had she expected? Healer training without squishiness? Without being responsible for the lives of others? It wasn’t that she hadn’t been expecting it. She just hadn’t been expecting it <em>on her first day</em>! She nodded, once. “Understood, Healer Pomfrey.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne lounged in the second comfy armchair of Harry’s shrunk trunk, flipping through pages of a three-hundred-year-old charms textbook. This was their third covert visit to the library’s restricted section since their visit to the Hogwarts pipe network. Harry had set up a tiny fideliused area in the reading section, just large enough for the trunk to sit, fully expanded with the lid open.</p>

<p>She sighed, shut the book, and added it to an ever-growing pile on the floor next to her.</p>

<p>Next to the rejected books, Trippy the drugged-again house elf lay on the floor, dead to the world, again. Knowing she had a spy tracking her every move was disconcerting, to say the least. On the other hand, knowing they could ambush the little bugger and wipe her memories whenever they needed made her feel a little better.</p>

<p>Harry’s feet appeared from the invisible open trunk lid and descended a few steps, closely followed by his shins, thighs, midriff, torso, arms full of books, and finally head, each body part sliding into view as it left the cloak’s invisibility field and entered the subspace of the trunk.</p>

<p>“How’s it going?” Harry asked.</p>

<p>She glanced at the pile of books to her side and frowned. “Nothing yet.” She grabbed the next book from the yet-to-check pile, opened it and started to make notes on the chapter names.</p>

<p>Harry nodded, carried his load of restricted-section books to the small table, dumped them on the side furthest from her, landed in the armchair opposite her, picked up a single thick tome, and started reading.</p>

<p>Time flowed by.</p>

<p>She closed the final page of the book and picked up her wand. “Tempus.” She frowned. This one had taken forty minutes to skim through, only to confirm there was nothing of use to help them. Although there <em>had</em> been an interesting tidbit on the fidelius charm.</p>

<p>Harry gazed at her over his book.</p>

<p>She put the book down on the rejected pile. “Why doesn’t Dumbledore just put the stone under fidelius if he’s trying to keep it safe?”</p>

<p>Harry yawned. “The Flamels probably do. The headmaster probably has the stone here as a lure to get me and Voldemort in the same place at the same time. You know, for the prophecy.”</p>

<p>She frowned. “But aren’t you worried the stone might be a fake then? I mean, why have it here at all?”</p>

<p>Harry shook his head. “Nah. Anyone who knows the headmaster well could tell you he’s just the kind of arrogant sod who’d never believe anyone could actually get past all his defences.”</p>

<p>Daphne looked at the thick book still laying in her lap. “Any idea how many books there are that <em>might</em> have what we’re looking for them in them?”</p>

<p>Harry looked off into the distance for a moment. “Maybe three or four thousand?”</p>

<p>She scowled. “There must be a better way of doing this.”</p>

<p>“There is.”</p>

<p>She looked at him expectantly.</p>

<p>“Already have them all memorised and then use advanced occlumency to quickly search///quick-search through them all in your mind.”</p>

<p>She threw up her hands. “Well, that’s not very useful.”</p>

<p>Harry inclined his head.</p>

<p>“And who uses their occlumency all the time while they’re reading? You’d be magically exhausted after every single day.”</p>

<p>The corners of Harry’s lips twitched upwards. “Why do you think Hermione was far less tired after getting off the Hogwarts Express than everyone else?”</p>

<p>She stared at Harry, face totally blank. “What?”</p>

<p>“Hermione’s been using her occlumency, all day, every day, for almost three years. Her system can probably process magical toxins faster than anyone else in our year.”</p>

<p>She gaped.</p>

<p>“Not including myself, of course, but I’ve a lot more magical power to build up my toxin tolerance with. If I was working with what Hermione had, she’d probably be doing better than me,” Harry added.</p>

<p>“That’s… insane!”</p>

<p>Harry’s eyes gleamed over his book. “That’s the point.”</p>

<p>Daphne leaned back in her chair and stared at nothing on the floor, shoulders drooping and posture slumped. She knew Granger worked hard. She knew Harry had been teaching the muggleborn for almost as long as she, Daphne, knew him. But she knew what magical exhaustion felt like. It felt like a million angry ants running through your head, dragging you to unconsciousness, whether you were ready for it or not. And the feeling didn’t always stop the next day. Waking up feeling like a hippogriff had run you over wasn’t fun. To willingly go through that every day for Merlin knew how long it took to build up tolerance… was it any wonder she was struggling to keep up?</p>

<p>She glanced up from her staring match with the floor to see Harry’s eyes still gleaming over the book, the edge of his mouth tugged upwards. The gleam slowly turned into a twinkle.</p>

<p>She breathed in sharply. “You bastard! You’re enjoying this!”</p>

<p>Harry’s face broke into a full-on ear-to-ear grin.</p>

<p>“Stop it!”</p>

<p>Harry’s grin widened yet further.</p>

<p>“Argh!” She grabbed the nearest book and hurled it at his stupid grinning face.</p>

<p>The book sailed past his rapidly ducked head. Harry broke into deep laughter.</p>

<p>Daphne scowled and clutched her fists. “Will you shut up! It’s not funny!”</p>

<p>Harry slowly stopped laughing, though the grin remained firmly plastered on. “I’m sorry, Daph. I shouldn’t be laughing.” His grin melted into a fond smile. “I seem to recall you saying a couple months back that it would be your job to ‘keep all these girls in line’.”</p>

<p>She stiffened. Yes, she had said that, hadn’t she? That was before she’d really met Granger. Miss overly-familiar, headstrong, pure-blood-trained, muggleborn-free, youngest-healer-trainee-ever, always-rolls-sixes, push-herself-sick-for-years, magical-powerhouse, Hermione Granger.</p>

<p>In the second timeline, Granger beat her in school studies with no occlumency <em>and</em> while carrying a wizard ton of dead weight. If their roles were reversed, and Granger was the future Lady Slytherin, and she, the muggleborn, would she be doing nearly as well?</p>

<p>Probably not.</p>

<p>Harry was still smiling at her.</p>

<p>Daphne squared her shoulders. “We’ve always done stuff together, right? Like learning and planning and things.”</p>

<p>“We have.”</p>

<p>“How intense is what we do, compared to the others, I mean? Compared to Granger, Lovegood, and Weasley?”</p>

<p>Harry put his book down and leaned back. “Ginny’s training is pretty intense, but that’s because she’s become obsessed with beating Luna. Luna’s training has always been about the same as ours, but that girl picks stuff up so quickly it’s scary and she’s already abnormally powerful. And Hermione always pushes herself far beyond what most people would be willing to. Sooo… I guess not that intense.”</p>

<p>Daphne bit her lip and gripped the edges of her armchair. “I want that.”</p>

<p>Harry tilted his head the other way.</p>

<p>“I want to be pushed hard. Tell me what to do. I’ll do anything. I want to be useful to you as more than just the Greengrass heiress.” She glared straight into Harry’s deep emerald eyes.</p>

<p>“You know, the political work you’re doing now <em>is</em> really important.”</p>

<p>“I know. But I can do more. Hermione can. So can I.”</p>

<p>She kept looking into his eyes, refusing to look away or even blink.</p>

<p>Harry stared right back. Again, his lip tilted upwards. “I think we can manage that, somehow.”</p>

<p>She nodded.</p>

<p>“First things first though, let’s figure out how to get our mitts on the ancient artefact that gives unlimited wealth, and immortality, mmm?”</p>

<p>Daphne’s gaze swept over the pile of as yet unread books to her right. Her eyes hardened. “Right.” She grabbed the top book and slammed it open on her lap. She focused on her occlumency and felt the magic flow into her head. The world became clearer, sharper, and more understandable. She looked down at the pages in front of her and started reading.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John Potter strolled through the door of Professor Flitwick’s office. “Professor?”</p>

<p>The short charms master looked up from where he sat at his desk.</p>

<p>“Mister Potter? How can I help you?”</p>

<p>John stepped forward. “I understand you occasionally take on students who show particular aptitude for duelling, Professor.”</p>

<p>Professor Flitwick put down the paper he’d been reading. “I have been known to, yes. But I assure you those are rare circumstances. A student usually needs to show me something quite special for that, and I’ve never before taken on a student before their third year.”</p>

<p>John smirked, flicked his wand into his hand and held it high above his head.</p>

<p>“Lumos!”</p>

<p style="text-align: center;">— End of Chapter Nineteen —</p>

{ 521} [ten eyes]: wikipedia says spiders usually have 8 eyes, and some species 6, 4, 2, or even 0. However, it doesn't say anything about spiders with more than 8 eyes. Nonetheless, there can be magical spiders with more than 8 eyes if you wish. https://en.wikipedia.org/wiki/Spider#Eyes
