Chapter 1 - Through the Veil

<p>A pile of rags sat in the far corner of a high-security Azkaban prison cell. The moon shifted a fraction through the window bars and the pile slowly showed itself to be the curled-up skin-and-bones form of Harry James Potter, the true boy-who-lived.</p>

<p>Things had gotten a bit better since the Dark Lord had taken over Magical Britain, but not by much. On the plus side, there were fewer dementors around, but on the minus side, Voldemort was now devoting more and more time to torturing him through the mental link they shared. The raids on muggles were increasing, and the viciousness of the treatment of the victims would’ve made him heave, if he’d had any food to speak of in him. The muggle raids were increasing because all the muggleborns had already been exterminated.</p>

<p>He’d been in here for just over ten years now. This year marked the point when his stay in this prison would overtake his stay in the last one, those miserable excuses for human beings that called themselves the Dursleys.</p>

<p>It made no sense. Why had his parents dumped him there? The official reason was that he’d been mistaken for a squib, but that didn’t explain why they refused to speak to him after he came to Hogwarts.</p>

<p>His brother, John Potter, was believed by all to be the boy-who-lived, but Harry knew that wasn’t true. He also knew the headmaster knew it wasn’t true.</p>

<p>For some reason, the headmaster really didn’t like him. When the Chamber of Secrets had been opened in his second year, and a girl killed, Dumbledore had convinced the world that he was the culprit.</p>

<p>Everyone in the Wizarding World, even his fellow Slytherins, blamed him, and they’d never liked him much to begin with. In fact, no one much liked him. In his two years at Hogwarts he’d never made a single friend who hadn't been snatched away. The Slytherins all hated that he was a Potter, everyone else hated him because he was a Slytherin, the teachers hated him for some unknown reason, and his parents hated him because… he didn’t know.</p>

<p>He’d been shipped off to Azkaban screaming for someone, anyone, to believe him.</p>

<p>No one did.</p>

<p>The looks of disgust and revulsion on his parents’ faces, fuelled his dementor nightmares for years, until he stopped caring what the dicks thought of him, and Azkaban merely became an edited highlight reel of Durskaban.</p>

<p>And then Voldemort had risen again, and started sending him those thrice-damned visions.</p>

<p>He’d made as much use of the connection as he could, sifting through the Dark Lord’s head and grabbing all the knowledge he’d accumulated over his long life. Harry couldn’t hope that he’d be able to escape from here to use it—such a happy thought would’ve been stripped away—but it was the only thing to do and, as messed up as it sounded, spending time in the Dark Lord’s head was preferable to his own when the dementors were on the prowl.</p>

<p>Voldemort seemed to find his rummagings amusing, as though he were an over-eager student. The bastard would grab his consciousness, show him a fortified building the Death Eaters were about to storm, explain the attack plan to him at great length, gloat a bit that he, Harry, was the only one who could warn the defenders, then force him to watch his followers torture, rape, and kill the helpless victims, once they’d broken through.</p>

<p>Years ago, he’d even seen his own brother killed in this way. The arrogant tosser had just walked right up to Voldemort and invited him to kill him.</p>

<p>The Dark Lord would do this with everything, all his political games, all his strategy sessions, each and every one of his recruitment and training drives.</p>

<p>It was getting to be more than he could take, and the darkness of his cell seemed to be getting darker every day.</p>

<p>The sounds of someone clinking and moving penetrated the fog of Harry’s mind. Someone was here. That wasn’t normal.</p>

<p>“Oi. Potter. Get up. You’ve been requested.”</p>

<p>There were boots where before there was just floor. That also wasn’t normal.</p>

<p>“Oh, for crying out loud. He’s out of it. Let’s get him up.”</p>

<p>Pain shot through his shoulders as two pairs of hands grabbed his arms and lifted him from the floor. It was the first time someone had touched him in ten years.</p>

<p>“Can you walk or are we going to have to drag you?”</p>

<p>He tried to put one foot forward, towards the cell door, and every muscle in his atrophied lower body screamed in protest. Eventually, with the support of the men, he managed to get a rhythm going, and Harry Potter, the true boy-who-lived, walked out of Azkaban, and into a world ruled by the Dark Lord.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>“Prisoner number 6785,” a bored-sounding voice called out.</p>

<p>Harry’s world was still dark. Tiny beams of light shone through the holes in the carrying box he’d been shoved into for transport to wherever the hell he now was.</p>

<p>“Experiment number 0034,” the voice continued.</p>

<p>Light flooded Harry’s world. The front of the box had been opened and Harry stepped out onto a wooden platform. Two men, perhaps the same two men from the prison, attached him to the platform with chains. In front of him, was a sight that made his underused eyes widen in shock.</p>

<p>“Modified version of the confundus charm, woven into the arch using Hypthorn’s static enchantment protocol; dated the third of September, 2002, approved by the Chief Unspeakable.”</p>

<p>It was the Veil of Death.</p>

<p>“Begin the transfer.”</p>

<p>Without making a sound, the platform started moving towards the Veil leaving Harry no possibility of escape… not that he wanted it.</p>

<p>‘For neither can live while the other survives,’ he mused, grinning manically. He was about to die, but he knew that what was going on here was something Voldemort certainly didn’t know about, or authorise.</p>

<p>He was halfway to the Veil now and suddenly terror flooded his mind, but the raw primal emotion wasn’t his.</p>

<p>A loud crack sounded behind him and Voldemort’s voice screamed “Accio Potter!” but the chains held him fast to the platform and before another word could be uttered he’d plunged through the archway and darkness took him.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>“Good morning, Mister Potter.” A four-word sentence, male, in a voice of stone, empty caves, and deep gulps of fresh mountain air, conquered his head, and forced his focus.</p>

<p>“Ah, good morning?” Harry replied. He couldn’t see his interlocutor. Darkness surrounded him. But his voice… speaking was amazingly easy, not what he’d expected after a decade of non-use. And his thinking… he could think! His mind was clear and fresh, thoughts flowing through it, crisp, like a mountain stream.</p>

<p>“Yes, it’s amazing what having no body will do for you.”</p>

<p>A pebble of a thought dropped into his consciousness. He’d just been pushed through the Veil. He was dead.</p>

<p>“Yes,” the voice said, “you are.”</p>

<p>And this person?… thing?… could read minds, despite his near impenetrable occlumency shields, mindscape, and decoy memories.</p>

<p>“You may as well start speaking. Talking to myself still makes me feel a bit of a berk, even if I can read your thoughts. And we’re not alone.”</p>

<p>Harry finally replied again, “Er… who are ‘we’ exactly? And where are we? Are you Death?”</p>

<p>The darkness lifted to be replaced with a round room, lined with furs from floor to ceiling. An open fire crackled in the middle of the room, shields and weapons lined the walls, and, asleep in a corner, a mess of large wolves were piled on top of one another. On the opposite side of the small room, comfortable and relaxed in large wooden thrones, sat two people, a man and a woman.</p>

<p>The woman, clothed in an elegant white-laced dress, held a book.</p>

<p>The man, clothed in dark robes of the blackest black, held a scythe.</p>

<p>“I guess you are,” he continued. These people seemed to really like their theatrics.</p>

<p>“Yes, I am,” said the man, “and this lovely lady to my right is Fate.” He motioned to the woman who inclined her head to Harry. “We have a bone to pick with you.”</p>

<p>Harry was nonplussed. “Um… okay.” He hesitated before continuing, but Death seemed personable enough. “Does this bone have anything to do with the fact that I just died not at the hands of Voldemort despite what the prophecy says?” He tried to think ahead in the conversation. Why was he here?</p>

<p>Death smiled a smile made of solid oak. “No, that was merely a bit of conniving on our part to get you to us. If we hadn’t done that, you and Voldemort would have continued to live for another thousand years.”</p>

<p>He blinked. “What?”</p>

<p>“I don’t like things that are owed me being withheld, Mister Potter.”</p>

<p>Harry looked nonplussed. “But… it’s not my fault if I was a damn horcrux!”</p>

<p>The lady, who’d up to this point been silent, now spoke in a voice as smooth and soft as the blond hair flowing down her shoulders.</p>

<p>“We know that, Mister Potter. We don’t blame you for it. It is Riddle we hold responsible.”</p>

<p>Harry settled down a bit.</p>

<p>She continued, “The prophecy wasn’t carried out as intended. You were supposed to kill Riddle, and I don’t mean in a thousand years.”</p>

<p>Harry’s shoulders slumped. “Pretty hard to do that when you’ve got demons from hell sucking out your thoughts every minute of the day,” he mumbled.</p>

<p>“Yes,” Fate stared down at the man standing before him, still all bones and rags, “you were never meant to go to that infernal place.”</p>

<p>“So, where did it go wrong then? When I was sent to Azkaban?”</p>

<p>“No. That useless sack of wizard that called himself the boy-who-lived failed to do the job he took on.”</p>

<p>“My brother?”</p>

<p>“Yes. Dumbledore declared him the Boy-Who-Lived when he was a baby, and the child made no effort to disavow others of that impression, even when it became apparent to him that it was you the prophecy referred to.”</p>

<p>“He what? He knew!” Harry was shocked. His brother had never given any indication from his interactions with Voldemort that he knew.</p>

<p>“He did.”</p>

<p>“When?”</p>

<p>“He first knew shortly before first coming to Hogwarts, when Dumbledore told him.”</p>

<p>Harry stayed silent, anger and resentment boiling just under the surface. So, Dumbledore told John… that made sense. In the end, it always came back to Dumbledore. The games that man played with the lives of his followers sickened him. It says a lot about a man when someone like Voldemort enjoyed playing against him.</p>

<p>“Harry…” Fate stood, walked over to him and placed a calming hand on his shoulder. “Dumbledore deliberately chose John to be the boy-who-lived, knowing full well it wasn’t him and tried to keep you as weak as possible.”</p>

<p>His eyes narrowed, and he looked up into Fate’s ice-blue eyes. “Why?”</p>

<p>Fate sighed. “Dumbledore saw the rise of two Dark Lords in his life, both of whom he felt partly responsible for, and he was terrified to see another. When a prophecy spoke of a boy who was the Dark Lord’s equal, who’d have a power the Dark Lord knew not, he tried to control events such that the prophecy child would not be a threat to the Wizarding World as he saw it.”</p>

<p>The resentment towards the twinkly eyed headmaster seemed to double. His fists clenched and unclenched. He’d spent ten years in the worst hell on earth because some old bastard was afraid of something he <em>might</em> choose to do because he <em>might</em> have the power to do it. “So Dumbledore traded the possible rise of a Dark Lord for the certain success of an already established Dark Lord?”</p>

<p>Fate gave a weak smile. “It was never his plan for you to stay in Azkaban for as long as you did, but when he died before John Potter did, he was no longer able to manipulate events. Your brother said nothing to anyone who might have been able to intervene, which moves us nicely onto why we are here.”</p>

<p>Harry stood silent, seething, but expectant.</p>

<p>“We are now going to intervene.”</p>

<p>Harry jerked, not daring to believe the implications of what he’d just heard. “Isn’t it… isn’t it a bit late now? I mean, I’m dead. The prophecy was unfulfilled.”</p>

<p>At this point, Death took over from the beautiful woman now standing at Harry’s side.</p>

<p>“Normally yes, however, in this situation, we’re going to bend our self-imposed rules. That fucker, Tom Riddle that is, not Dumbledore, needs to die.”</p>

<p>Fate fixed Harry with a hard sapphire stare. “And I will not subordinate my will to a pathetic excuse of an old man who gets off on lemon drops and playing the puppet master, especially when he’s so utterly crap at it.”</p>

<p>Harry returned her stare, and for a fleeting second, was reminded of Daphne Greengrass, Slytherin’s Ice Queen. “…So, what’s the plan?”</p>

<p>“Well,” she continued, “unlike your brother, even in the worst of situations, you made the best of it. You spent years absorbing all of Riddle’s knowledge. That’s a good thing.”</p>

<p>Death jumped back in. “We’re going to send your soul back in time to several years before you leave for Hogwarts. We want you to make sure Riddle dies, and we want you to make sure the prophecy is fulfilled.”</p>

<p>“…What’s to stop me being thrown in prison again?”</p>

<p>Fate smiled. “You must save Ginny Weasley.”</p>

<p>Harry looked thoughtful for a moment. “I’ve no problem with that, but didn’t you just say the headmaster manipulated events to send me to prison at the first possible excuse? I may dodge that particular bullet, but what’s to stop me being sent on some other flimsy trumped-up charge?”</p>

<p>Fate’s eyes shone. “And this is exactly the reason why you’re going to be our champion this time, Harry, and not John. You think things through. We already let John redo the timeline once and he still failed.”</p>

<p>“Wait, what?”</p>

<p>“Oh, sending him back required less intervention, and since he was already fighting Riddle we figured he might be able to pull it off.”</p>

<p>“…But wouldn’t that mean the non-fulfilment of the prophecy?”</p>

<p>“It would have been close enough for me to accept. But that’s irrelevant. He failed.”</p>

<p>“How did he die in the first timeline?”</p>

<p>“In the graveyard at the end of fourth year.”</p>

<p>“Huh… I did wonder how he got such good marks without trying, and how he seemed to instinctively attract witches to him despite his horrific personality. He had a four-year lead on everyone, and already knew them.”</p>

<p>Inside his head, the revelations were coming thick and fast. His eyes widened.</p>

<p>“Wait… that’s why he let Voldemort kill him! He thought you would give him a third chance!”</p>

<p>Death nodded, grimly.</p>

<p>“And… wait, that doesn’t make sense… He knew Ginny was going to die and let it happen anyway? I thought those two loved each other for years before they even came to Hogwarts!”</p>

<p>Fate looked sad. “In the first timeline the diary of Tom Riddle didn’t abduct Miss Weasley until the end of the year, and your brother managed to save her. In the second timeline, John Potter’s meddling caused Tom to accelerate his plans.”</p>

<p>“Wow. He really messed that up.”</p>

<p>“Indeed. And let this be a warning to you, Mister Potter.” Her face became sterner. “Do not try to set up master plots based on foreknowledge, and do not worry about ‘preserving the timeline’; acquire every advantage you can, as quickly as possible with the power you possess, while exposing yourself to as little risk as possible. Remember, even though we are sending you back, your brother has already gone back. We can’t change that, so you’re going to have to deal with another time traveller who also thinks he is our chosen. The life you know was in the second timeline, and when we send you back, it will be the third.”</p>

<p>“Yes, my lady… er… if my brother saved Ginny in the first timeline, did I still go to Azkaban?”</p>

<p>“Yes.”</p>

<p>“How?”</p>

<p>“Dumbledore pushed him to provide false evidence that it was still you that opened the Chamber.”</p>

<p>“That… utter… fucker!”</p>

<p>“Indeed.”</p>

<p>“So, how am I going to stop that from happening then? It seems the old goat is desperate for me to go.”</p>

<p>“Well, in the first instance, you now have a good solid knowledge of how the political and legal system of the Wizarding World works, and for the second… I am going to grant you a gift.”</p>

<p>A gift?</p>

<p>Harry looked away from Fate and towards Death who merely smiled. “No, Mister Potter, not a Deathly-Hallows-style gift. I’m never making that mistake again.”</p>

<p>Fate laughed. “Mister Potter, how much are you aware of your lineage?”</p>

<p>“Umm… I’m a Potter?”</p>

<p>“Figures you’d know almost nothing. Riddle didn’t know after all.” Fate walked Harry over to her throne and motioned him to sit down, which he did so, hesitantly. The woman then started pacing in front of the two men.</p>

<p>“Harry,” she said eventually, “you know your Wizarding World has a highly stratified political and legal system.”</p>

<p>“Yes.”</p>

<p>“So to grant you the chance you need to fight back against Dumbledore, you need to be higher up in the system.”</p>

<p>“Makes sense.”</p>

<p>“I’m going to grant you a lordship.”</p>

<p>Harry’s eyes bugged, “Whaa… You’re going to kill my father and brother? I mean, I don’t really have a problem with that, but even then I wouldn’t become Lord Potter until I’m seventeen.”</p>

<p>“No no no, Harry. I don’t have the power to intervene that much, if I did, I’d have just killed Riddle, and it is as you say; you still wouldn’t ascend until you reached your majority, well, in theory anyway. No, what I’m suggesting is for you to take a completely different lordship.”</p>

<p>Harry blinked, owlishly.</p>

<p>“There are three possible lordships you are close enough to being able to claim for my influence to work. Peverell, Gryffindor, and Slytherin.”</p>

<p>Fate started pacing again.</p>

<p>“The Peverell and Gryffindor lines are closely linked to you through blood, and it would take only a slight modification of your blood to allow you to claim them. The Slytherin line could be yours through old family magics called the right of conquest, whereby the conqueror of the last of a line can lay claim to that line’s family magics, provided they didn’t initiate the conflict that led to the death of the line. This includes titles since they’re based on family magics.”</p>

<p>“So because I defeated Voldemort when a child… wait, wouldn’t I have that last one anyway?”</p>

<p>“Riddle didn’t truly die.”</p>

<p>“Ah.”</p>

<p>“But! That’s exactly the kind of minor adjustment to magic that I can get away with. The difference between dead and not alive is close enough, and the age of your soul gives me enough wiggle room in regards to you being of age to claim.”</p>

<p>She took a deep breath before continuing.</p>

<p>“Now, you’re only getting one of them, so you’re going to have to choose. Any thoughts?”</p>

<p>“Well, screw Gryffindor. I’m a Slytherin, through and through. So it comes down to Slytherin or Peverell. Peverell would grant me greater overall political acceptance. I wouldn’t have to worry so much about being immediately labelled a Dark Lord by a third of the wizarding political elite,”—Harry scratched his chin—“…On the other hand, Slytherin would grant me immediate kudos with the very enemy that I’m trying to fight. Any Death Eaters or allies of Voldemort that I can bring to my side would be a double victory, simultaneously denying the enemy resources while boosting my own. With Peverell, I’d have to play a zero-sum game with Dumbledore for allies.” A moment of silence passed. “Slytherin would also grant me special privileges at Hogwarts… I assume?” he finished, uncertain.</p>

<p>“A few, yes,” Fate conceded.</p>

<p>“And it would also give me a mission to rally people around other than just ‘defeat Voldemort’. The ideals and beliefs of Slytherin House are nothing like what they should be. Ambition and cunning does not equal evil and bigotry,” he mused.</p>

<p>Fate smiled.</p>

<p>“Also…, and I think this is the real kicker, by claiming the title of Lord Slytherin through right of conquest I can easily demonstrate that I am the true child of prophecy to whomever I please, whenever it is necessary.”</p>

<p>Fate clapped, and Death just sat there, relaxed, and looking incredibly smug.</p>

<p>“Well done, young champion, very well thought out. Your brother never demonstrated even a hint of similar strategic insight.”</p>

<p>He smirked. “Well, he is a Gryffindor.”</p>

<p>Fate raised a warning finger. “That’s as well as may be but remember not to let house rivalries distract you from strategic necessity. There are Gryffindors it would do you well to bring to your side.”</p>

<p>“…Granger.” The Dark Lord’s memories of the brunette muggleborn were impressive. Hell, she practically carried his brother’s team, despite being four years mentally younger than him.</p>

<p>“Yes her, definitely. But also remember my warning. Any advantage, as quickly as possible, for as low a cost as possible.”</p>

<p>“Right. Not to mention she grows up to be hot as hell.”</p>

<p>Fate frowned.</p>

<p>“I’d advise against falling into the same trap as your brother and collecting too many witches of questionable usefulness around you. They could easily become a distraction.”</p>

<p>“Right. So I’ll only collect the useful ones. And distractions… I’d prefer to call them strategic team-building exercises.” He tried his best to look as innocent as a pile of rags and bones could.</p>

<p>Death grinned from ear to ear while Fate looked resigned.</p>

<p>“Well, I’ve just spent twenty years in hell, yes? I’m not holding back on this second chance. I will do everything in my power to make sure the primary objectives are achieved, which at the longest should only take five to ten years, fingers crossed. I fully intend to make sure the final hundred-odd years of my life are as satisfying as possible.”</p>

<p>Death spoke up. “Mister Potter, so long as you achieve your primary objectives, I personally don’t care if you become a dark lord and destroy the whole of Britain.”</p>

<p>“I’d be a bit miffed, but couldn’t actually fault you,” Fate interjected. “So long as Riddle dies and the prophecy is fulfilled, you have a free pass.”</p>

<p>“Excellent, because I fully intend to ruin a few people’s lives.”</p>

<p>The trio continued to discuss minutia and tactical and strategic options for some time, before Fate and Death waved Harry on his way and his soul was flung back through the Veil.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>On July thirty-first in the year 1988, eight-year-old little Harry Potter sat bolt upright, banging his head on his cupboard ceiling.</p>

<p>‘Oww’, he thought, rubbing his hand on his bruised forehead. He felt a metal band on his finger. Closer inspection revealed it to be the noble head of house ring of Slytherin House. A manic grin spread across his face like the opening to the gates of hell.</p>

<p>“Well, hello world, I’m baaaaaack.”</p>

<p style="text-align: center;">— End of Chapter One —</p>
