Chapter 20 - Double Double Troll and Trouble

<p>It was Halloween. Hermione shivered. She really needed to learn the warming charm.</p>

<p>“Okay, class!” called out Madam Hooch, sitting atop her Cleansweep Seven. “Three laps of the pitch! In pairs! Keep nice even space between each other and don’t go too fast!”</p>

<p>Hermione sidled over to the Hufflepuffs. “Good Morning, Kevin.”</p>

<p>The larger Muggleborn gave her a wide grin. “Mornin’. You wanting ta group up?”</p>

<p>She smiled back. “Sure.”</p>

<p>The other puffs gave them the thumbs up and the two waited for the teacher’s whistle. It blew and they started a careful, slow lap.</p>

<p>Hermione adjusted her grip. “So, how’re classes going?”</p>

<p>Kevin kept his eyes forward. “Kay, I guess.”</p>

<p>“You guess?”</p>

<p>Kevin shrugged, causing him to dip briefly before he brought himself back to her level. “Getting the spells down is hard. Everyone else always gets them first.”</p>

<p>“Ah.”</p>

<p>They continued flying for a few more moments.</p>

<p>“You’re lucky you’re so smart.”</p>

<p>Hermione glanced at the boy. “You mean because I learn spells quickly?”</p>

<p>“Yeah! You’re always first. Every time.”</p>

<p>She shrugged, causing her own little dip. “I have a lot of advantages.”</p>

<p>“Oh, yeah? Like?”</p>

<p>“I learnt all the theory when I was younger. So I get more time to practise spells.”</p>

<p>“That’s unfair!”</p>

<p>Hermione nodded. “Yes.”</p>

<p>“I mean… they’re all saying that it don’t matter that me Mum an’ Dad ain’t magic, but that’s not true then.”</p>

<p>She shook her head.</p>

<p>“That sucks.”</p>

<p>“It’s actually a lot worse then that.”</p>

<p>Kevin shot her a look. “Wha’dja mean?”</p>

<p>“I’m a muggleborn too so I understand what you’re going through, but I was lucky. I had my best friend to guide me. You remember when we talked about legilimency?”</p>

<p>Kevin looked thoughtful. “Yeah. I think so. That mind reading stuff right?”</p>

<p>“Yes. Well, there’s this thing called Occlumency that some people who grew up in the magical world learn, which protects against that. But it also helps you learn faster, gives you a near perfect memory, and helps you control your emotions.”</p>

<p>Kevin’s jaw dropped. “That’s awesome! I want to learn that!”</p>

<p>“—And it takes years to learn and isn’t taught at Hogwarts.”</p>

<p>Kevin’s face fell. “Whaa? Why? That not fair!”</p>

<p>Hermione shifted on her broom as they made a slow and shaky curve at the edge of the pitch.</p>

<p>“You know this Occ-lu-mency then?” Kevin asked.</p>

<p>She nodded.</p>

<p>“And everyone else?”</p>

<p>She shook her head. “No, not everyone.” She nodded to where Susan and Daphne had paired up for the laps. “Susan will know it. So will Hannah and Zach. Ernie and Wayne <em>might</em> know it, but I’m not sure.</p>

<p>“Well that right sucks.”</p>

<p>“You’re doing better than many muggleborns, you know.”</p>

<p>Kevin looked puzzled. “How? I’m always last.”</p>

<p>“We’re actually <em>in</em> Hogwarts. Most muggleborns go to one of the smaller schools. If you want to get a good job after school, you stand a chance. Most don’t get that chance, or they leave the magical world.”</p>

<p>They continued to fly in silence, Kevin deep in thought.</p>

<p>“Of course,” she continued, as though she’d just thought of something, “that advantage doesn’t mean anything if you appear <em>too</em> muggleborn.”</p>

<p>“What’ja mean?”</p>

<p>“You know how some of the Slytherin’s are… shall we say, not very nice?”</p>

<p>Kevin scoffed. “Some of them are right dicks. That Malfoy—”</p>

<p>“—Yes, them. Well, they really don’t like many non-magical things and many who give good jobs are like that. Going to Hogwarts means a lot, but you also need to know how to behave around them.”</p>

<p>Kevin shifted uncomfortably on his broom. “You talking about being all nobby ain’t you? That just isn’t me, you know?”</p>

<p>“It’s not really about being upperclass. It just looks a bit like that. It’s really about being a wizard. <em>You’re</em> a wizard.”</p>

<p>“…I guess…”</p>

<p>They pulled up to the larger group of witches and wizards, hovering around waiting for further instructions. Several others were shouting at each other. Madam Hooch was assisting stragglers on the other side of the pitch.</p>

<p>“Give that back, Malfoy!” Megan Jones darted after the blond Slytherin boy who held a red and brown glass ball. An obliviation detection device?</p>

<p>“Come on, Jones. Your family is supposed to be good at this,” Malfoy called back, holding the orb just out of the girl’s reach.</p>

<p>“Heir Malfoy!”</p>

<p>Hermione turned to see Susan Bones floating near Daphne.</p>

<p>“If you do not give that back immediately, I shall report it as theft to my Aunt!”</p>

<p>Malfoy looked like he’d bitten on a lemon. “Fine! Catch!” And he hurled it straight between the two Heiresses.</p>

<p>Both Susan and Daphne pulled their wands and aimed at the falling orb.</p>

<p>“Accio Remembrall!”</p>

<p>“Accio Remembrall!”</p>

<p>The glowing orb fell between the two, froze, and shook in midair.</p>

<p>Hermione watched, eyes wide, as a thin beam of silver light formed between the two wands. There was a loud *Crack!*, the onlookers gasped, and both unwilling witches were yanked together with equal cries of surprise and indignation, colliding with a loud crunch and falling from their brooms. They landed on the charm-softened pitch floor in a tangled heap. The remembrall bounced next to them.</p>

<p>Hermione shot over. She <em>was,</em> almost certainly, the most qualified, after all, even with only a few weeks of healer training. “You okay?”</p>

<p>Susan pushed herself into a sitting position. “I’m okay.”</p>

<p>“Yeah.” Daphne followed the Bones heiress. “Yeah, I’m good too.”</p>

<p>Hermione nodded. “Good.” She leant closer to Daphne. “What was that?” She whispered. “That wasn’t the brother wand effect. It was silver!”</p>

<p>Daphne shook her head. “I’m not sure.” The Greengrass heiress looked around for her wand.</p>

<p>“Mister Malfoy!” Madam Hooch bore down on the group. “You come with me now!”</p>

<p>Hermione spotted the two wands lying together on the ground, reached out for them, and hesitated.</p>

<p>“Hermione?” Daphne appeared on her right. “Oh.”</p>

<p>Susan appeared on her left. “Oh, wow.”</p>

<p>The two dropped wands were identical. Both Hazel, both the same length.</p>

<p>Hermione picked them up. “I don’t suppose you both have unicorn hair wands too?”</p>

<p>Susan and Daphne both nodded.</p>

<p>Hermione held one out for Susan. “This one yours?”</p>

<p>The Bones Heiress inspected the wand. “No. Mine has a bevelling on the grip.” Susan handed it to Daphne and took the one left in her hands.</p>

<p>“So,” Susan began, “What <em>was</em> that?”</p>

<p>Hermione coughed and she and Daphne exchanged knowing glances. “It probably had something to do with the wands being so similar to each other.”</p>

<p>A small crowd formed around them of both grounded and air born students.</p>

<p>Susan tapped her chin. “Can we try it again?”</p>

<p>Hermione looked around. She couldn’t see Harry anywhere, which probably meant he was under disillusionment, or notice-me-not, or both.</p>

<p>Daphne stepped away. “Sure.”</p>

<p>Susan grinned.</p>

<p>“But not the summoning charm, I think.”</p>

<p>Susan snorted. “No, I think not.”</p>

<p>“Do you know the disarming spell?”</p>

<p>Susan nodded. “My Aunt taught me most of the basic defence spells.”</p>

<p>“Right. On three then.”</p>

<p>They faced each other.</p>

<p>Hermione studied the scene carefully.</p>

<p>“One, two, three, expelliarmus!”</p>

<p>“One, two, three, expelliarmus!”</p>

<p>A silver light flashed midway between the two witches and a silver thread formed between them.</p>

<p>The crowd gasped again.</p>

<p>Hermione’s mind raced. What did this mean? There wasn’t a bead forming on the thread, so it wasn’t exactly like the brother wand effect, but it <em>was</em> kinda similar.</p>

<p>Daphne and Susan stared into each others faces. The silver thread shook. It vibrated. It snapped. Both witches stumbled forward, but unlike with the summoning charm, they weren’t forced together. Their wands stayed firmly in their hands.</p>

<p>Hermione let out a held breath. Well, that was certainly interesting.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>After lunch, Harry and Daphne entrunked themselves in the library’s restricted section. Harry had conjured a few ready carved Halloween pumpkins, giving the trunk a warm glowing feel.</p>

<p>Daphne growled at her half-read book and threw it across the trunk. “Useless!”</p>

<p>Harry looked up. “You know, I’d advise against ever letting Hermione see you do that.”</p>

<p>She glared at him. They’d been skimming through books for weeks now for solutions to seeing past the wards and found nothing. To say it was getting on her nerves would be like saying Lord Slughorn was a <em>bit</em> slimy. She crossed her arms and huffed. “It’s like we’re looking in completely the wrong place. This can’t be that rare a problem.”</p>

<p>Harry shrugged. “Voldy tended to just power through wards. His approach was very much smash and grab. Especially once he’d clipped the auror’s wings in the Wizengamot.”</p>

<p>Daphne snorted. “Why’d he even need to worry about them? He could take them out couldn’t he?”</p>

<p>Harry looked incredulous over his book. “Voldemort isn’t god you know, Daphne. Neither am I. One auror? No problem. Two aurors? Again, no issue. Three? That’d be tricky for him. Four? Very tough. Put five against him and he’d probably lose unless he got the jump on them.”</p>

<p>Daphne reached over to the side table and picked up the next book. It was titled <em>’Ancient Mesoamerican Wards — The Snake Eats the Eagle’</em>. She looked back up. “And the death eaters?”</p>

<p>Harry waved a vague hand. “Some of them could go toe-to-toe with <em>an</em> auror, but most wouldn’t stand a chance. Bellatrix could. So could Yaxley and the Carrows. Malfoy and the male Lestranges don’t have auror stamina, but they <em>do</em> have dark family magic, which makes up for that weakness. Macnair hits like a nundu but lacks the agility required.” He smiled. “The thing is that aurors <em>never</em> fight alone. They’re trained from day one to fight in pairs and they’re deadly because of it.” Put two aurors against two death eaters and the aurors <em>will</em> win unless the death eaters get a lucky shot.“</p>

<p>Daphne swallowed. “But the Dark Lord could go against two pairs and win?”</p>

<p>Harry nodded.</p>

<p>“Did he?”</p>

<p>Harry nodded again. “It was brutal.”</p>

<p>“Could you?”</p>

<p>Harry tapped his chin and gazed off into space. He looked back. “No. I’m not powerful enough.” He sighed. “One pair, yes, but two? No. The only reason Voldemort and Dumbledore can is because…” He stilled.</p>

<p>Daphne head-inched, one hand palm up. “…What? Because of what?”</p>

<p>Harry looked away again. “It… might not be a good idea to say.”</p>

<p>Daphne’s eyes widened. Holy Merlin. Harry told her <em>everything</em>. What could possibly be so bad that he’d hesitate?</p>

<p>“…Harry?”</p>

<p>Harry bit his bottom lip. He made as though to speak, then hesitated. He did so again, and again stopped. Eventually, he spoke. “Daphne… if I tell you this, I’d like both of us to perform an unbreakable vow to never perform the magic I’m about to tell you about.”</p>

<p>Daphne gasped. You could only make one unbreakable vow. Apparently, this was a different level of bad. But she still wanted to know. She nodded, slowly. “I promise.”</p>

<p>“Okay. We’ll bring Hermione in on this later and do it then.” Harry took a deep breath. “There is a ritual. I’m not going to tell you what it’s called. The ICW is so determined to eradicate this ritual from human knowledge that the name is under taboo. So are the exact words required to perform the ritual.” He paused and looked around before continuing. “Let’s call it the unforgivable ritual.”</p>

<p>The trunk suddenly felt colder. The carved pumpkins lining the walls took on a more sinister look, creepy grins staring down at them from all around. Daphne shivered. “I would have thought that would be… horcruxes.”</p>

<p>Harry waved his hand dismissively. “Horcruxes are bad, certainly, but more for what they accomplish than the methods used to create them.” He grimaced. “After all, there <em>are</em> people in this world who would happily commit murder for a few knuts in someone’s back pocket, let alone immortality.”</p>

<p>Daphne shivered again.</p>

<p>“And of course, the fact that Death himself takes such an interest in Horcruxes that he personally intervenes to eradicate them.”</p>

<p>“But the… unforgivable ritual?”</p>

<p>Harry looked her straight in the eyes. “The ‘unforgivable ritual’ grants one immense power. It doubles the flow of magic between the core and the body, grants immunity to magical toxins and allows the caster to force the almost total submission of any wand to themselves.”</p>

<p>Daphne’s eyes widened. Her voice became a whisper. “Merlin.”</p>

<p>“Yeah. And Voldemort was already a powerful wizard to start with.”</p>

<p>She slumped back in her chair. Everyone knew the Dark Lord was above normal wizards, but by such an amount? She looked back up. “And… the cost?” Every ritual had a cost.</p>

<p>Harry stared back, stony faced. “The cost is two fold. The ritual requires you to swear yourself to a cause, a cause you feel strongly for. If you don’t feel strongly about it, the ritual won’t work. The first cost is a sliver of your rationality about the cause you swear yourself to. You become a little bit mad about it. A little bit insane.”</p>

<p>Daphne’s eyes widened. “And the Dark Lord…”</p>

<p>“Swore himself to the eradication of muggle influences in the Wizarding World.”</p>

<p>She let out a long, deep breath. “That… explains so much.”</p>

<p>Harry nodded. “It does, doesn’t it?”</p>

<p>“Is that why he never uses muggle guns even though he knows about them?”</p>

<p>Harry made a partial hand movement. “In part, yes. He actually adopted a policy of second strike escalation.”</p>

<p>“Meaning?”</p>

<p>“Meaning he wouldn’t use muggle weaponry until someone else did. Then it was fair game.”</p>

<p>“… Ah.” She hesitated. “Is that why you’re not going to have us use them either?”</p>

<p>Harry nodded.</p>

<p>Daphne chewed on her bottom lip. “And that was the first cost? …what’s the second?”</p>

<p>Harry sighed. “The second cost is… the life of the one true love… forcibly taken.”</p>

<p>Daphne’s heart froze. Her breathing stopped. She looked into Harry’s eyes, saw the seriousness in them, felt the beating in her chest and the sweat on her hands. Her lip trembled. A twinge of fear pinched her. “I… I see now why the unbreakable vows.”</p>

<p>Harry nodded, once. It looked to be a very tired nod.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione dashed past the girl’s second floor bathroom, ignoring Moaning Myrtle’s wailing cries over some unknown and unspecified tragedy. Probably someone throwing a roll of toilet paper through her. As far as she was concerned, the dead girl could keep it to herself, especially today of all days. She had no intention of joining her as Howling Hermione. Trolls and Dark Lords be damned.</p>

<p>She glanced around to check no one was watching and leapt up the stairs in a decidedly unladylike manner, bolted down another corridor, and lunged for the door to the hospital wing.</p>

<p>“Ah, Miss Granger, just in time.” Madam Pomfrey closed the door behind her and waved her towards the back of the wing.</p>

<p>Hermione sat down with barely a moment to catch her breath and regarded her current box with its unfortunate and live test subject scurrying around inside. Thankfully, she’d been able to get control over the diffindo cutting charm quickly enough in that first week not to kill any of the little animals. Putting enough power into that first stupefy to shatter the box had made a big impression. She had a record of one month of healer training and no deaths. Hopefully it would stay that way.</p>

<p>Madam Pomfrey appeared at her side. “Tell me about wand specialism, Miss Granger.”</p>

<p>Hermione pushed her magic through her mindscape and found the relevant information. “A wand tends to perform better at certain branches of magic. When a wand channels a spell it is particularly suited to, the flamelage for those spells can up to twice as high, although that speed is rare.”</p>

<p>“Correct, Miss Granger. And your wand is ash and dragon heart string. Why is this important?”</p>

<p>“Because the ash makes it a healer’s wand.”</p>

<p>“Yes, and…?”</p>

<p>“The dragon heartstring stores more magic than other wand cores?”</p>

<p>Madam Pomfrey sighed. “Why is speed important in healing, Dear?”</p>

<p>Hermione flushed. “Oh! Because every second counts.”</p>

<p>“Exactly. We can cure almost anything. Cancer, heart attacks, and strokes are all easy. Dark magic and magical diseases are harder, but if we can stabilise the patient, we can work a cure. But one thing that we can <em>not</em> cure is death.”</p>

<p>Hermione nodded along.</p>

<p>“Your number one priority when you are faced with a new patient is to keep. them. alive. Everything else comes second. To do that you have to know what’s wrong with them. Then work down a list of spells to counteract the most common and fast acting causes of death.”</p>

<p>The older Healer handed her a parchment. Hermione blanched. Tiny writing covered the entire spread detailing dozens upon dozens of spells.</p>

<p>“These are the one-hundred life savers. By the end of your training here you will know them like the back of your hand. Please read out the first one.”</p>

<p>Hermione ran her eyes to the top left hand corner. “Vitals diagnosis charm chain.”</p>

<p>Pomfrey nodded, stunned the mouse in the box, lifted it out, placed it on the worktop, pointed her wand at it, and cast five spells in quick succession. Her wand movements were fast and precise, giving the impression she was fighting a sword duel with a bottle-sized opponent. Five numbers bloomed over the mouse, each one a different colour.</p>

<p>“The red number is body temperature. The blue is blood pressure, the green is respiratory rate, the yellow is pulse rate, and the black is magical toxicity.</p>

<p>“Your homework will be to describe the function of each spell, what they measure, and to identify what the first spell in your stabilisation chain should be given a high and low number for each of the vitals based on the visual cues on page sixty-three.”</p>

<p>Hermione nodded and made a note in her mindscape. They were all just like the spell Healer Pomfrey used at the welcome feast to measure their magical exhaustion, the last, black, one.</p>

<p>“Healer?”</p>

<p>“Yes, Miss Granger?”</p>

<p>“I meant to ask you this at the feast, but are these actually charms? I mean, I read that the definition of a charm was a spell that applies a temporary or permanent change to an object without changing its fundamental structure, but these don’t do that.”</p>

<p>Madam Pomfrey tapped on the table. “Technically, no. But there’s a history behind that. We call them charms now because the field the spells originally come from was torn down after the establishment of the International Statute of Secrecy.” The healer swished her wand through the air. “Healing was allowed to keep them because they were considered too useful, and rightly so!”</p>

<p>“—What field?”</p>

<p>Madam Pomfrey looked around distractedly. “What? Oh, divination. That used to mean any spell that dealt with extracting or processing information. Reduced to fortune telling quackery now, unfortunately. Don’t know why we keep teaching it.”</p>

<p>Hermione grinned a feral grin.</p>

<p>“Miss Granger?”</p>

<p>“Oh. Nothing Healer Pomfrey. Just thinking about something. Shall we continue?”</p>

<p>Madam Pomfrey kept her gaze for a moment longer. She stepped back and pointed to the mouse still on the table. “Yes. Please follow the following instructions.”</p>

<p>Hermione nodded and started following the healer’s directions while dancing a jig in her head. Harry was going to be pleased with her.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne bit her lower lip, again. Who knew such horrific magic existed? What kind of person would willingly murder the person that magic deemed them perfect for? At the front of the room, exactly <em>that</em> person shuffled some parchments on his desk and watched as the rest of the class filed into the Defence Against the Dark Arts classroom.</p>

<p>Interestingly, Quirrellmort’s attitude to her and Hermione had been gradually shifting over the last few weeks. He now seemed more interested than angry.</p>

<p>Hermione lowered herself onto the bench beside her and leant into her ear. “Divination,” she whispered, her voice urgent.</p>

<p>“What?”</p>

<p>“Divination. Madam Pomfrey says divination used to deal with any spell that collected or processed information!”</p>

<p>Her eyes widened. “Why doesn’t Harry know that?”</p>

<p>“Because Vol—”</p>

<p>She slapped a hand over Hermione’s mouth. “Not here,” she hissed.</p>

<p>Hermione’s eyes widened, flickering towards the front of the class where said possible Dark Lord was now getting to his feet.</p>

<p>The possibly possessed teacher or possible Dark Lord put his hands on the sides of the lectern, glaring at the few stragglers who hastily sat, pulling out quills and ink. “It is Halloween.” His voice rang out like a death knell. “The turning of the tides between the light and the dark.” So very different to the stuttering imbecile Harry had warned them to expect.</p>

<p>Harry was sat in front of them, as he always did in defence, which was good. Daphne wasn’t sure how well she’d handle being in the same room as Voldemort without Harry’s ever-reassuring presence.</p>

<p>“As many of you who come from older families know, tonight is the ideal night for many rituals that are considered borderline dark.” Quirrellmort grabbed a garlic bulb swinging near his head, gave it a disgusted look and tossed it aside.</p>

<p>“Were you in upper years we would take advantage of that to demonstrate the effects of such solar events on spells cast, but you are not.”</p>

<p>He paused.</p>

<p>“Of course, only some of you would be aware of such things given the rot in our world. Miss Granger!”</p>

<p>Daphne glanced sideways to see Hermione straighten in her chair.</p>

<p>“You supposedly serve a Most Ancient and Noble line — What are your responsibilities as a vassal to your lord?”</p>

<p>Hermione took a slightly shaky breath “As a vassal I have pledged my wand to my lord. To stand by him in times of need and heed his council in times of peace.”</p>

<p>Quirrellmort tilted his head. “And as your magical guardian, are you aware that your lord can marry you off to anyone he so chooses?”</p>

<p>Hermione went slightly red. “I…I am aware.”</p>

<p>“And you are fine with this?”</p>

<p>Hermione lifted her chin. “I trust my lord with my life.”</p>

<p>Quirrellmort made a single fluid hand motion to his side. “Well then, since you are supposed to be a wand of your lord, you will come up here and we shall see how you do against”—he looked around—“…Mister Malfoy.”</p>

<p>Daphne turned to see Malfoy start in his chair.</p>

<p>Hermione nodded, rose in her chair and descended to the wide open area at the front of the classroom, joined a moment later by Heir Malfoy.</p>

<p>In front of her, Harry had his wand in hand, casually pointing forwards.</p>

<p>“This will be a standard duel with standard rules.” Quirrellmort looked them both over. “I trust you both know them?”</p>

<p>Hermione and Malfoy both nodded.</p>

<p>“Then begin on my three. One. Two. Three.”</p>

<p>A flurry of spells erupted from both pre-teen’s wands and ten seconds later it was all over.</p>

<p>Hermione stood over Malfoy’s stunned form, picked up his wand, and cast a series of spells on him in quick succession. A series of coloured numbers rose from the downed boy. She nodded and turned back.</p>

<p>Quirrellmort raised an eyebrow. “Fascinating. It would seem your lord has trained you well, Miss Granger. I must admit, I did not think it possible…”</p>

<p>Hermione nodded and rapidly retreated.</p>

<p>Tension drained from Daphne’s body as Hermione climbed back up the inclined steps to their bench.</p>

<p>“Next will be Miss Greengrass”—She spun her head forward—“and Mister Potter.”</p>

<p>She stood.</p>

<p>“Not you, Boy-Who-Lived.” Quirrellmort waved John to sit back down. “I mean the <em>other</em> Potter.”</p>

<p>A minute later, Daphne found herself facing off against Harry at the front of the classroom. She found it hard not to shake standing so close to that <em>thing</em>.</p>

<p>Focus! She shook herself. Harry looked into her eyes and she could feel the assurance in them. She calmed and thought about what to do next. Should she go full out? Harry surely wouldn’t, but then, Harry would easily flatten her if he wanted. She gripped her wand tighter. Best to give it her all and let Harry determine what he wanted to happen.</p>

<p>“On three. One. Two. Three.”</p>

<p>She lunged to the side, put up a shield, got two spells into her chain, saw red… and knew no more.</p>

<p>…</p>

<p>The world faded back into view.</p>

<p>“…is how it’s done.”</p>

<p>A hand appeared in her view. It was Harry’s. She gripped it.</p>

<p>“And notice the quick adaptation to the new shield position.”</p>

<p>She allowed herself to be pulled to her feet, felt the sore where she’d landed on her bum, and gave Harry the warmest smile she dared, given the audience.</p>

<p>“That is why Mister Potter here is currently leading this class.”</p>

<p>She looked around. Everyone in the packed lecture theatre stared at Her and Harry with interest.</p>

<p>Quirrellmort paused in his monologue to wave the two of them back up the stairs. “Please now turn to page 210.”</p>

<p>The rustle of pages filled her ears as she climbed the last few steps. She shot a surreptitious tempus under the desk. Still fifty minutes to go until the start of the Halloween feast. She sighed. Hopefully she could get some food in before whatever was going to happen, inevitably happened.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Far off in the distance, the faint rumble of the Halloween feast arrived in the ears of John Potter, lurking in a shadowy corridor alcove, waiting for telltale thump thump of distant troll feet and the unmistakable stench that announced them.</p>

<p>His training with Flitwick was going well and he was sure he could now take the beast on. Whatever Quirrell said, he knew who was really top of Defence Against the Dark Arts. Figures a dark wizard would show favouritism to his dark twin.</p>

<p>He shifted on his feet.</p>

<p>Having said that, no one could deny that Harry <em>could</em> duel. And that was worrying on many levels. Harry shouldn’t be that good. Either someone was secretly training him… or… or… he shook his head. Harry couldn’t <em>actually</em> have come back in time too… could he? Even if he had, he should be a total weakling. Future Harry would be an Azkaban wreck with two years of Hogwarts education and two years of will sucking hell.</p>

<p>This Harry wasn’t that. And how would the little slime have done it? Maybe, because Harry was his twin…</p>

<p>*klap* *klap*</p>

<p>He gripped his wand tighter. Something was coming. It was faint, but getting louder.</p>

<p>*Klap* *Klap* *Klap* *Klep*</p>

<p>He relaxed slightly. Footsteps — far too light to be a troll, or even an adult human. A figure darted around the corner.</p>

<p>“Oh!”</p>

<p>It was a Ravenclaw girl. “Hi.” He waved. Sophie Roper, a muggleborn.</p>

<p>“Um…” The girl drew a stray lock of hair behind her ear. “I don’t suppose you could tell me which way the bathroom is could you?”</p>

<p>He blinked. “Yeah sure, it’s just up that way, turn right, and you should see the sign.”</p>

<p>The girl beamed. “Thanks mister hero!” and off she went.</p>

<p>John watched her turn the corner and stared after her. Something about what just happened didn’t feel right. He looked at the wand in his hand. Something about a …bathroom?</p>

<p>His eyes widened. Oh shit!</p>

<p>“Imperio.”</p>

<p>And every concern was swept away.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry crouched by the corner of the third-floor corridor, invisible under the Potter’s Deathly Hallow. A half dozen spells hid his other tells. In the distant he could hear the faint murmur of several hundred voices, faint through several floors of solid stone.</p>

<p><em>If</em> events happened like they did last time, Quirrellmort would soon show up to take a swing at the stone. He wanted to see that. Whatever you could say about Voldemort, the man was a planner. Before he struck a target he did all the recon he could, mapped out a line of attack, then ruthlessly executed it. How many times had he been forced to watch ministries and castles fall before the Dark Lord’s strikes?</p>

<p>Harry shifted on his feet, feeling the hard stone floor through his cheap but neat muggle shoes.</p>

<p>He wasn’t sure what was going on with Quirrellmort and that worried him. Their Defence Against the Dark Arts teacher was acting more and more like Voldemort himself did. That hadn’t happened last time. But why would the addition of Lord Slytherin into the timeline cause Voldemort take more control of Quirrell? For surely, it could only be that factor which caused the change.</p>

<p>Well, whatever. Without Hermione crying in a bathroom, there would be little need for him to be elsewhere and he could focus his full attention on this. With any luck, Quirrellmort might even drop some clues for him. He could but hope.</p>

<p>Harry ran his index finger, slowly, along his holly and phoenix feather wand and waited.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Could you pass the sprouts?”</p>

<p>“Twenty inches! I swear she’s trying to kill us!”</p>

<p>“Sure thing.”</p>

<p>“You wait till your OWLs, you’ll be begging for that little.”</p>

<p>“They say Potter got a nimbus 2000.”</p>

<p>“Wish I’d never taken it.”</p>

<p>“Old news!</p>

<p>“And the chicken.”</p>

<p>“Saw it at breakfast weeks back!”</p>

<p>Hermione served herself another potato off the big plate in front of her and looked around. The smells of the feast filled her nostrils with beef, gravy, and roast vegetables. The normal thousand floating candles had been replaced with as about as many floating glowing pumpkins and she couldn’t help wonder how they got them to stay up there, given what she knew about how long pumpkins could retain magic.</p>

<p>Flint pointed his fork in the air and twirled it. “We’ll win that match, no problem. Potter’s a nancy boy and our team is nothing but hard hitters this year.”</p>

<p>On her left, Daphne coughed in the middle of a separate conversation.</p>

<p>Hermione raised an eyebrow. “Is that why you don’t have witches on the team? Because they’re not hard hitters?”</p>

<p>Flint frowned. “Now, see here, Granger, it’s not that I don’t want witches on the team, Merlin knows it would liven up the locker room, it’s just that none of the few who applied managed to beat the best wizards, see? Most of the families don’t like their daughters playing.”</p>

<p>“So if a witch did apply and could beat the current hopefuls then you’d let her on?”</p>

<p>“Well,” Flint stroked his chin, “There is the cohesion factor to consider. Most of our lot have played together since they were kids. Got really good teamwork together, you know. She’d have to be really something special…”</p>

<p>Hermione shook her head and busied herself with her plate again. She may trust Harry with absolute power over her, but she wouldn’t trust most of this lot to sweep the floor.</p>

<p>She caught a snatch of conversation from Tracey.</p>

<p>“—was really surprised by our Potter’s performance. He beat <em>you</em>, Daph. Might it not be a good idea to talk to him? I mean, it’s not as though you give a damn what Snape thinks.”</p>

<p>Daphne moved her food about on her plate. “We shall see.” She speared a fine slice of beef, took a dainty bite, chewed, swallowed, laid down her knife and fork, and dabbed her mouth with her napkin. “Potter is an unknown quantity. We don’t want to just rush in. I’ll grant you that he is starting to look more… interesting, but that is no reason to throw ourselves at him.”</p>

<p>Hermione suppressed a snort. If there was a throw-yourself-at-Harry-competition, the Greengrass Heiress would certainly come out tops. She’d never seen her act the way she did with Harry with anyone else.</p>

<p>She glanced around, but of course Harry wasn’t there. He would be up at the third-floor corridor by now, waiting for the mass panic caused by Quirrell barging into the great hall to check out the stone’s defences.</p>

<p>Hermione took another bite of food and glanced at the large entrance door to the great hall. Any moment now…</p>

<p>And then Quirrell entered the hall from the <em>side</em> door and calmly sat down at the staff table.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore watched Quirrell take his seat at the head table, turned back forward, and surveyed his dominion.</p>

<p>Things had quietened down over the last month. He hadn’t heard anything from Lord Slytherin, Tom hadn’t seemed to make any moves, and Harry Potter was so isolated the boy hadn’t even bothered to turn up to the Halloween feast.</p>

<p>On the other hand, such timidity between Tom Riddle and Harry Potter did mean any possible confrontation between the two seemed less and less likely. That wasn’t so useful.</p>

<p>Dumbledore picked up his goblet and swirled it.</p>

<p>There was also the fact that Lord Slytherin knew the prophecy from when the man had broken into his office. If Slytherin cared about it at all, it was hard to tell. John had no clue who Slytherin was, apparently, and Slytherin hadn’t seemed to make the connection between the prophecy and Harry. Lily and James also hadn’t changed their behaviour towards him, so it was unlikely Slytherin had told them, thank Merlin.</p>

<p>Speaking of John Potter… where was he?</p>

<p>The doors to the great hall slammed open.</p>

<p>“TROLL!”</p>

<p>He stared.</p>

<p>All talk ceased.</p>

<p>John Potter ran down the middle of the hall between the two tables. “On the seventh floor!” He reached halfway between him and the door. “Thought you ought to know.” Then fainted.</p>

<p>Silence.</p>

<p>Then someone giggled. Laughter broke out across the entire hall, great heaving belly laughs.</p>

<p>He stood up. “Silence!”</p>

<p>The laughter died instantly.</p>

<p>“Prefects, lead your houses back to your dormitories.” Eyes widened around the hall. One girl shrieked but was quickly shushed.</p>

<p>So much for a quiet month.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Did you see that?” Hermione hissed.</p>

<p>“Yes.” Replied Daphne.</p>

<p>“It was <em>him</em>.”</p>

<p>“Yes.”</p>

<p>Hermione closely followed Daphne, leading half the first year Slytherins out of the great hall.</p>

<p>“—Sophie’s not back!”</p>

<p>She twitched toward the sound. Padma Patil and Lisa Turpin rushed past. She grabbed Lisa’s arm. “What’s going on?”</p>

<p>“Sophie doesn’t know about the Troll and we can’t find her. She went to the bathroom.”</p>

<p>Daphne whirled around.</p>

<p>Hermione’s stomach dropped. “The first floor bathroom?”</p>

<p>“Out of order.”</p>

<p>“And the second floor has the ghost.”</p>

<p>“Hermione!” Daphne jumped in front of her. “You can’t seriously be thinking—”</p>

<p>“Third floor bathroom! C’mon!” She dodged around Daphne and charged forward.</p>

<p>Behind her she heard following footsteps.</p>

<p>“Save me from your stupid Gryffindor tendencies!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry heard the rumble of a half score hundred feet far earlier than the end of the feast should dictate. He tensed. It had started. Soon, Quirrellmort should be here and he could see how far his pray had gotten.</p>

<p><em>$RIP$ $TEAR$ $KILL$</em></p>

<p>Blood drained from Harry’s face. No.</p>

<p>A dozen metres away down the corridor, a small round hole formed in the wall and rapidly increased in size.</p>

<p>No.</p>

<p>He pressed himself to the wall, still as he could.</p>

<p><em>$KILL HUGE BEASITE$ $RIIPPPP$</em></p>

<p>Adrenaline flowed through him. So long as he gave no indication he was here he should be okay. Just so long as he didn’t move. Not. One. Inch.</p>

<p>A huge body slithered out of the passage and a head as large as he stood tall paused in its advance to the door. Teeth as long as his leg chomped together mere feet from him. Magic’s perfect killing machine tilted its head and sniffed the air.</p>

<p>Far off, he heard the faint approaching sound of phoenix song.</p>

<p>The huge snake turned its head and looked straight at where he stood, flat against the wall.</p>

<p>Not. One. Inch.</p>

<p>He felt an SOS vibration on his lightening bolt ring.</p>

<p>Fuck.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Sophie finished her business in the strangely normal bathroom stall. Given all the other weird thing’s she’d seen in the Wizarding World, she still expected to find a toilet that made her sit down on it upside-down, or perhaps one that commented on the colour of her knickers, or something equally outlandish.</p>

<p>She stuck her hands under the running sink taps, rinsed them, and looked for some method of drying, of which there wasn’t one.</p>

<p>She sighed and wiped them on her robes, then brightened. She’d met John Potter, if only to ask him directions. That was cool. It wasn’t every day you met a real life story book hero.</p>

<p>Sophie hummed a tune, turned around and stilled.</p>

<p>Stench filled her nostrils.</p>

<p>She looked up.</p>

<p>She looked up more.</p>

<p>A horrific face looked down on her.</p>

<p>She frowned. “This is the <em>girl’s</em> bathroom!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John Potter’s feet walked up towards the Gryffindor common room. Everything was well with the world. Nothing could possibly concern him.</p>

<p>“And then what happened?” someone said. Ron? Yes, it was Ron.</p>

<p>“I saw the troll. Big and stinky it was,” said John Potter’s mouth.</p>

<p>“Think the Dark let it in?”</p>

<p>John Potter’s feet continued walking.</p>

<p>The Dark? Something about the Dark.</p>

<p>John Potter’s mouth opened again, but no words came out.</p>

<p>“You okay mate?”</p>

<p>John Potter’s feet stopped. John Potter’s feet? Feet. Feet. The Dark, letting something in. Something bad. Something he had to stop. His feet! “No!” He shook himself.</p>

<p>Ron stumbled. “Mate?”</p>

<p>He started running.</p>

<p>“What! Where are you going?”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Screams emanated from the bathroom ahead of them.</p>

<p>Hermione lunged for the handle and yanked back the door.</p>

<p>A huge figure stood, poised, club raised over a scene of total destruction, and one terrified witch.</p>

<p>“Accio Sophie!”</p>

<p>Sophie shrieked. The club descended right where the girl had been crouching.</p>

<p>Daphne shoved by her. “Stupefy!”</p>

<p>The spell did nothing.</p>

<p>The troll turned to the door.</p>

<p>“Stupefy!”</p>

<p>Lisa also shoved by her and grabbed Sophie’s ankle.</p>

<p>The troll raised its club again.</p>

<p>Hermione dived to the side.</p>

<p>“Stupefy!”</p>

<p>Padma leapt into the space where she’s just been standing.</p>

<p>The club descended.</p>

<p>Padma opened her mouth to scream.</p>

<p>“Diffindo!” Hermione’s spell shattered the club. Bits flew everywhere.</p>

<p>Sophie continued to scream her head off.</p>

<p>The troll looked at the useless stump of its club.</p>

<p>“Stupefy!”</p>

<p>Lisa dragged Sophie towards the door. “Something else! For FUCKS SAKE!”</p>

<p>The troll grabbed Lisa leg and swept her into the air.</p>

<p>“AHHH!”</p>

<p>Hermione started transfiguring a nearby broken pipe into a sword.</p>

<p>Padma dived in between the trolls legs and pointed her wand at its shorts. “Reducio!”</p>

<p>Hermione started a mental countdown.</p>

<p>An expression of acute pain shot across the Troll’s face. It roared and dropped Lisa.</p>

<p>Three.</p>

<p>“Ouch!”</p>

<p>Hermione leapt forward and plunged the sword into the beast’s leg.</p>

<p>Two.</p>

<p>On her other side, so did Daphne with a shout and a stab.</p>

<p>The troll roared and lashed out, narrowly missing her.</p>

<p>One!</p>

<p>Hermione and Daphne leapt back and the two swords turned back into pipes, ripping pipe sized holes in its thighs.</p>

<p>Padma scrabbled through the troll’s legs, avoiding being squashed as it fell to its knees.</p>

<p>“C’mon!” Hermione beckoned to the Ravenclaw, now with a downed troll between her and them, and still very much in grab range.</p>

<p>Padma made to move, but got only a foot before being snatched up, shrieking, by her robes.</p>

<p>Sophie and Lisa continued to scrabble on hands and knees towards the door.</p>

<p>Hermione aimed her wand. “Diffindo!”</p>

<p>Sophie got to her feet and stumbled through the door.</p>

<p>The troll-held-robes split and Padma fell back on the ground with a loud whumf.</p>

<p>Daphne finished transfiguring another pipe-sword.</p>

<p>The troll grabbed a rock.</p>

<p>“Diffindo!” Hermione’s spell hit the rock and did nothing. She ducked a troll fist swing.</p>

<p>Lisa turned back towards the troll.</p>

<p>Daphne leapt forward.</p>

<p>The troll hurled the rock.</p>

<p>“No!”</p>

<p>Lisa whipped her wand forward “Metaprotego!”</p>

<p>The troll-thrown rock froze in mid-air an inch away from Daphne’s head.</p>

<p>Daphne ducked it and made to stick the sword in the beast’s chest.</p>

<p>*Smack!*</p>

<p>And tumbled back as the troll’s other massive hand slapped her away. The sword fell from her grasp.</p>

<p>Padma finished shuffling out of grab range.</p>

<p>Hermione rolled to a groaning Daphne and started to drag the dazed witch away.</p>

<p>The troll grabbed the damaged floor and dragged itself several feet towards them, toward the door, and towards their only exit.</p>

<p>A desperate Padma leapt the remaining few feet, got between the troll and door, and dived through it.</p>

<p>Now clear of witches, Hermione and a still dazed Daphne followed a moment after.</p>

<p>A heartbeat later, so did the troll.</p>

<p>The five witches scrabbled back down the dimly lit corridor, shooting spells and dragging each other with them. Each spell thudded into the trolls face and body. Each blow further slowing the wounded, roaring beast, now trying and mostly failing to move with two water pipes fully healed into the muscles of its probably paralysed legs.</p>

<p>Hermione could feel the victory creeping up. They were moving faster than it! It couldn’t get to them. They weren’t going to die. She could <em>taste</em> the success.</p>

<p>“Here comes the-boy-who-lived!”</p>

<p>Hermione goggled.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore strode down the seventh floor corridor, Flitwick, McGonagall, and several other teachers trailing behind him.</p>

<p>“Are you sure it’s here? Dumbledore?”</p>

<p>He turned to his deputy. “No, Minerva, not at all.” He sighed.</p>

<p>A faint pop sounded next to them. A female house elf appeared wearing a Hogwarts tea towel.</p>

<p>“Icygrass and friends is being fighting troll!”</p>

<p>Gasps surrounded him.</p>

<p>Dumbledore swore. “Fawkes!”</p>

<p>Nothing</p>

<p>He whirled back on the house elf. “Where?”</p>

<p>“Third floor bathroom.”</p>

<p>He strode quickly back the way he’d came, followed by his staff. “Fawkes!”</p>

<p>Again, nothing.</p>

<p>Merlin, Damn it!</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Here comes the-boy-who-lived!”</p>

<p>Hermione goggled.</p>

<p>John Potter leapt over where she half lay on the floor and bounded towards the wounded troll.</p>

<p>The troll roared.</p>

<p>She stared in horrified fascination as the boy jumped on its head, ignoring the tree-trunk thick flailing arms, and stuck his wand up its nose. “Bombarda!”</p>

<p>The troll’s head exploded. Her lord’s twin was thrown towards them and hit his head on the floor, instantly knocking him out, just as the remains of the troll’s brains splashed all over her and the other girls.</p>

<p>The corridor was suddenly far too quiet.</p>

<p>The troll slowly fell forward.</p>

<p>The five brain-covered witches stared at the headless troll corpse, to the unconscious boy now laying at their feet, and back again.</p>

<p>Hermione sighed. “That was…”</p>

<p>“The dumbest thing I’ve ever seen,” finished Lisa.</p>

<p>Daphne wiped gunk off her face. “Why do these things always end with me covered in monster guts?”</p>

<p>A sob started. She turned to see Padma gathering her crying fellow muggleborn into a hug.</p>

<p>Hermione absentmindedly jabbed her wand at John, confirming all his vitals were fine, and that he wasn’t dying. Although she did see a nasty cut on one exposed shoulder.</p>

<p>“T-T-T-Thank y-y-you.” Sophie sobbed into Padma’s robes.</p>

<p>Padma rubbed her back. “Hey, we’re all here for you. Okay? We said we would be, didn’t we?”</p>

<p>Sophie nodded, shakily.</p>

<p>A groan caught all their attentions.</p>

<p>Hermione watched as a groggy John Potter raised himself on his elbows. “What happened?”</p>

<p>Daphne snorted. “What happened is that <em>you</em> jumped onto a slow moving target, which <em>we</em> were happily outrunning, and cast a blasting curse at pointblank range.”</p>

<p>Potter shook his dazed head.</p>

<p>“You’re lucky you weren’t killed,” Daphne finished.</p>

<p>Her lord’s twin stilled, as though he’d just remembered something, leapt to his feet and turned away, towards the forbidden corridor.</p>

<p>Hermione shot out her arm and grabbed his wrist. “And where do you think <em>you’re</em> going?”</p>

<p>John Potter looked into her eyes. “I’ve got something to take care of.”</p>

<p>“What? There’s only the out of bounds corridor off that direction.”</p>

<p>Potter shook off her arm and marched off.</p>

<p>She called after him. “You’re injured!”</p>

<p>Potter ignored her.</p>

<p>Damn. She and Daphne shared a look.</p>

<p>Daphne rose to her feet and made to follow. Hermione turned back towards the group. “You’ll be okay, right?”</p>

<p>The two pureblood Ravenclaw witches nodded. Sophie turned her head away from Padma’s chest. “I’ll be okay, Hermione.” she sniffed again, “Thank you, and you too… er…”</p>

<p>Daphne turned. “Daphne. Daphne Greengrass, Heiress of the Ancient and Noble House of Greengrass.”</p>

<p>Sophie sniffed again. “Thank you, Daphne.”</p>

<p>Daphne nodded and the two of them set off after the Gryffindor time traveller.</p>

<p>They arrived at the corner to the out of bounds corridor a few minutes later to find John Potter standing and staring, wand hanging limply at his side, face pale.</p>

<p>“What?”</p>

<p>Hermione caught up to him and her gaze fell down the corridor. She stared.</p>

<p>Daphne joined them and gasped.</p>

<p>The corridor was completely destroyed. Suits of armour lay in heaps of scrap. Great chunks of wall were gouged out. Rubble lay everywhere. The splinted remains of a door lay half way down the space. Tapestries were torn and half hanging off the walls.</p>

<p>John took a step forward. “What? What did this?”</p>

<p>Hermione shared a fearful glance with Daphne. What <em>had</em> happened here? Where was Harry? Was he safe… Or?</p>

<p>Hermione felt a stab of pain shoot through her leg. She winced. The snake Harry always told to keep in her pocket had started writhing and biting at her leg. She saw Daphne’s eyes widen. Panic flying through them.</p>

<p>John took another step forward.</p>

<p>Her own heart started beating faster again. Adrenaline started pumping. Basilisk. Harry could be in danger. He could be badly injured. She had to find him. But…</p>

<p>She glanced towards Daphne and nodded at John’s back. Daphne nodded.</p>

<p>Hermione raised her wand.</p>

<p>John took another step.</p>

<p>The tip of her wand glowed red. “Stupefy.”</p>

<p>The boy collapsed in a heap on the floor.</p>

<p>She and Daphne reached into their robes and whipped on twin pairs of muggle sunglasses.</p>

<p>Daphne turned. “Right, let’s get out of here.”</p>

<p>Hermione blanched. “But we have to find Harry!”</p>

<p>“Are you crazy, Granger? It’s a Basilisk! A Merlin damned Basilisk! We’re just dead weight!”</p>

<p>Hermione ignored her and marched forward.</p>

<p>“For magic’s sake!”</p>

<p>She reached the door and stepped through it. She stared. The corpse of a huge animal lay on the floor. It had the body of a goat, the heads of an eagle and a tiger and the tails of a cat a fox and a snake. The snake tail writhed around in the air. The rest of the creature was very definitely dead. The chimaera was dead.</p>

<p>Daphne arrived beside her and gasped.</p>

<p>Hermione’s gaze raised from the massive corpse to take in a scene of destruction even more total than the corridor outside. Huge circular holes were smashed in the walls of several rooms beyond, taking whole doors with them, creating a long passageway of huge, ancient, jagged stones, which stretched on far further than the castle’s outer walls could realistically contain.</p>

<p>What was this place?</p>

<p>She felt Daphne tremble beside her. “Why would anyone put a chimaera in a school? And why would anyone ever willingly fight one? Even with a Basilisk? What’s this all for?”</p>

<p>Hermione shook her head. Something was very wrong here, but she couldn’t put her finger on what. Every time she tried it seemed to slip through her mind like water through a sieve.</p>

<p>Daphne pointed. “There! Look.”</p>

<p>Hermione stared. A figure stood on the far side of the chimaera’s corpse, just hidden from the doorway. She walked forward. Her eyes widened.</p>

<p>It stood perfectly still. It was tall, had a long, billowing cloak, long hair, a hooked nose. It’s skin looked like stone, and it held the smashed remains of a large potions bottle to its face. Glass littered the floor around it.</p>

<p>It was a petrified Severus Snape.</p>

<p>A human head appeared from no where.</p>

<p>Hermione shrieked and clutched her chest. “Harry! Don’t <em>do</em> that!”</p>

<p>Harry’s head frowned. “ID check?”</p>

<p>Daphne gave the fidelius location.</p>

<p>Harry nodded. His eyes were urgent. “As you can see, I’m fine. Get back to the dorms, fast. The damn snake isn’t here just now, but that doesn’t mean it won’t turn up again.”</p>

<p>Hermione pouted. “And you?”</p>

<p>“I’m going to investigate a bit more. I don’t know what all this is all for, but I know I want to find out. Anywhere with this much security must be guarding something quite special.”</p>

<p>Daphne nodded. “Let’s go, Granger.”</p>

<p>They left after a few hissed words from Harry to the snakes in their pockets and made their way back to where they’d left John Potter. “Argh!” Hermione stamped her foot. “We forgot we have to take <em>him</em> to the hospital wing.”</p>

<p>“We could enervate him and send him there?”</p>

<p>“He’ll ignore us and inconvenience Harry.”</p>

<p>Daphne sighed. “Yeah. He would.”</p>

<p>They heard the approach of many footsteps. She and Daphne shared a panicked look, whipped off their sunglasses and pocked them just as Dumbledore appeared around the corridor corner. “Miss Greengrass! Miss Granger! What is happening here?”</p>

<p>McGonagall and a few others followed a split second later. The old witch gasped. “Is that Mister Potter?”</p>

<p>Hermione stepped forward. “Heir Potter was injured in the fight with the troll and refused medical attention. He left and we followed. I was forced to stun him for his own protection and was about to take him to the hospital wing.”</p>

<p>Dumbledore seemed to take in the destruction of the corridor, and in particular the smashed door to the room behind them. And here?</p>

<p>Daphne took over. “We don’t know. We just got here.”</p>

<p>The headmaster nodded. “Then please take Mister Potter to the hospital wing, immediately. Do not dawdle. Thank you for assisting Miss Patil and Miss Turpin in rescuing Miss Roper. Professor Vector, if you would escort them?”</p>

<p>Vector nodded and the three of them, plus a levitated Potter, left for the hospital wing.</p>

<p>At least they had avoided a detailed grilling from the headmaster. Hopefully Harry would be okay.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry followed the trail of destruction down the series of rooms. Everywhere, rubble and debris covered the floor. Rune stones lay smashed on their pillars, marking the former presence of a battery of formidable wards, all now gone.</p>

<p>The first room after the chimaera contained a miniature rainforest. The many rare species of magical plant curled and sniffed the air as he passed, unfelt and unseen.</p>

<p>The second room contained the remains of a small army of charmed warriors. One of the stone soldiers groaned and reached into the air, its bottom half completely shattered.</p>

<p>The third room was empty, bar a complicated looking set of glass pipes and spheres, which twisted and turned in on themselves. The basilisk seemed to have ignored it and just smashed its way straight through to the next room.</p>

<p>The forth room was completely dark, save for the massive hole in the far wall, and the carpet of stars, lighting the high, domed roof by the thousand.</p>

<p>The fifth room, he recognised from his and the girl’s exploration of the pipe network. A room empty but for a muggle TV and a VCR. He padded over to the table in front of the TV, waved his wand over the parchment on it, and read.</p>

<p>‘To reach the next room, you must program the tape recorder to record East Enders on Sunday at 7:00pm on Channel One.’</p>

<p>Next to the parchment was a remote controller with over a hundred buttons on it.</p>

<p>Harry put down the parchment and frowned. It seemed like a strange kind of lock. And why would anyone go to the trouble? What on earth was so important as to set up such an elaborate defence system while also making said defence system kind of dumb?</p>

<p>He peeked into the sixth room to spy a three metre tall bronze statue of Severus Snape, a set of vials of clear liquid on a table, and nothing else. There was no extra hole in the wall. The snake was nowhere to be seen.</p>

<p>What the hell was going on?</p>

<p>Behind him, he heard approaching voices. Dumbledore.</p>

<p>Shit.</p>

<p>He sidled up to the far wall of the TV room, hissed, and stepped into the pipe network beyond.</p>

<p>Whatever was going on here, in this strange magical obstacle course, he could leave it for another time. Ultimately, it wasn’t that important. It wasn’t as though it was going to help him find the stone, after all.</p>

<p style="text-align: center;">— End of Chapter Twenty —</p>
