Chapter 21 - The Duelling Club

<p>When Harry woke up the next morning, he’d wanted to bash his head in with a rock. He’d been so <em>close</em>. The stone had been <em>right</em> <em>there</em>. Almost all the defences had been down. The basilisk had obliterated the first six rooms. And he’d <em>forgotten</em> where the stone was. He only knew one type of magic that could have that effect — The fidelius charm. And yet, when he woke up, he <em>could</em> once again, remember where it was.</p>

<p>That suggested that, in the few hours between the Basilisk’s attack and Harry’s going to bed, <em>someone</em> had put up a fidelius charm and then taken it down again. Given that Dumbledore had been behind him and nowhere near the final room, that either meant someone powerful was on permanent guard in the final room, or…</p>

<p>“Or what, Harry?”</p>

<p>“Or,”—he looked into Daphne’s ice blue eyes.“—more likely, some annoying genius has set up the fidelius charm to activate on a proximity ward and deactivate on a timer.”</p>

<p>Hermione’s eyes widened.</p>

<p>“And by annoying genius, I mean Dumbledore.”</p>

<p>Daphne frowned. “So we can know where the stone is, so long as we don’t get too close, and if we do, the whole world forgets?”</p>

<p>“Probably.”</p>

<p>The three first-years had ducked into a Parselmouth only secret passageway after breakfast — And after taking the necessary anti surveillance precautions, naturally.</p>

<p>“What’s most galling,” he continued, “is that I didn’t even inspect the second, fourth, fifth, and seventh rooms properly, because I didn’t know it was important!”</p>

<p>Hermione and Daphne shared a glance.</p>

<p>Hermione spoke. “Will Dumbledore even set the defences up the same again?”</p>

<p>Harry ran a hand through his hair. “I don’t know. Maybe. At least we now have several new avenues of attack to pursue.” He pursed his lips. “Anything else interesting turn up?”</p>

<p>Daphne reached into the pocket of her robes. “Yes, These arrived this morning at breakfast.” She handed him two separate pieces of unfolded parchment. The first read…</p>

<p><em>Miss Greengrass,</em></p>

<p><em>Please pass the enclosed letter onto your Lord Slytherin as quickly as possible.</em></p>

<p><em>Albus Dumbledore.</em></p>

<p>The second parchment read…</p>

<p><em>Dear Lord Slytherin, Head of the Most Ancient and Noble House of Slytherin.</em></p>

<p><em>Thank you for taking the time in September to meet with me. I hope this might lead us to a more mutually beneficial dialogue regarding issues we both agree on.</em></p>

<p><em>As promised, I’m writing to ask your opinion on a matter of some import regarding the school and to request any and all information you may have on another matter.</em></p>

<p><em>The first is that last night, tragically, our current head of Slytherin House, Severus Snape was attacked by an unknown force and petrified. Normally this wouldn’t represent a problem. However, surprisingly, it would seem that the supply of fresh mandrake has dried up, and thus, until it is available again, or Hogwarts can grow its own, we are short one head of house and a potions professor. I would appreciate your opinion on who might take up the temporary position.</em></p>

<p>Harry smirked. The trade in fresh mandrake was one of those Daphne’s father controlled. Lord Greengrass’s business machine could move almost as fast as his Macavity could fly when needed.</p>

<p>He looked up from the letter. “So, Dumbledore wants to know who I’d replace Snape with, if I kicked the bat from the Dungeons.”</p>

<p>Daphne nodded. “It seems that way.”</p>

<p>He continued reading.</p>

<p><em>The second matter is one of historical record. I’m not sure if you’re aware, but your ancestor was rumoured to have built a secret chamber in the school. With a new Lord Slytherin in the public sphere, I thought it might be interesting to take advantage of any insight you may have to once more bring this possibly priceless piece of history to light. I could imagine that such a project would reflect well on those who undertook it and that the Most Ancient and Noble House of Slytherin as well as Hogwarts herself would be much culturally richer for it.</em></p>

<p><em>Yours respectfully,</em></p>

<p><em>Albus Percival Wulfric Brian Dumbledore, Order of Merlin (first class), Grand Sorcerer, Chief Warlock of the Wizengamot, and Supreme Mugwump of the International Confederation of Wizards.</em></p>

<p>Harry folded the letters up and handed them back to Daphne. “I understand that he’s worried about the monster, but does Dumbledore really think I’d trade his ear for my house’s secrets?”</p>

<p>Daphne pocketed the letters. “Maybe. Or maybe he thinks that you had something to do with what happened last night and he’s looking for a reaction.”</p>

<p>Harry frowned. “Maybe.”</p>

<p>Hermione, who’d been watching the back and forth between them, chewed on her lip. “So, what are we going to reply with?”</p>

<p>Harry smiled. “Unless either of you have a better idea, we’ll suggest the Bloody Baron as head of house. He’s a logical candidate from our point of view, yet also totally unacceptable, and we won’t have to show our actual hand.”</p>

<p>Daphne nodded. “And for the chamber?”</p>

<p>“Rephrase whatever you find on it in <em>Hogwarts — a History</em>.”</p>

<p>Hermione perked up. “I can do that.”</p>

<p>He nodded. “And see if you can find some way to needle him. I’m getting sick of being polite all the time.”</p>

<p>The two girls stared at him.</p>

<p>He grinned. “I’m sure you can come up with something amusing if you put your heads together.”</p>

<p>Hermione and Daphne exchanged glances before twin gleams appeared in their blue and hazel eyes.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Headmaster Albus Dumbledore stared down at the owl he’d just received. His eye twitched.</p>

<p>The parchment he held was pastel green and covered in glitter.</p>

<p><em>Dear Headmaster,</em></p>

<p><em>We suggest the Bloody Baron for the position of Head of Slytherin House. As to the Chamber of Secrets, we know it was supposedly built by Salazar Slytherin and that legend says it contains some kind of beast that is meant to either cleanse the castle of the unworthy or guard the castle from outside forces depending on which version of the myth you believe. This is, unfortunately, all we’ve found on the subject.</em></p>

<p><em>Yours,</em></p>

<p><em>Lord Slytherin, Heiress Greengrass, and Miss Granger.</em></p>

<p>The ink was neon pink and surrounded by sticker stars, rainbows, and smiley faces. Two charmed unicorns in silver ink frolicked with each other at the bottom of the parchment.</p>

<p>Dumbledore chuckled darkly. If Slytherin thought he could get to him by rubbing his face in the fact that he’d delegated correspondence with him to a pair of eleven and twelve year old girls, then he was sorely mistaken.</p>

<p>Not that he wasn’t a <em>little</em> annoyed, but he was far more concerned about losing his potions master during a critical time for his project of goading a confrontation between Harry Potter and Voldemort.</p>

<p>That and he hadn’t seen Fawkes since the previous night and he was starting to get worried. While phoenixes had a kind of limited immortality, that didn’t mean they couldn’t be seriously inconvenienced. He knew that better than most.</p>

<p>He looked back down at the parchment in his hands. Well, if Slytherin wanted to play games, he was more than capable of reciprocating. After all, he had his own reputation as an eccentric old man to keep up.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>For Harry, most of the rest of the day had been reasonably normal, but the next morning, he made his way down to the Hogwarts great hall for breakfast, his mind whirring.</p>

<p>Late last night, Daphne had slipped him a message. Apparently, Padma Patil had been asked by her father to send him her memory of the fight with the troll. Mister Patil was so proud of her daughter, he’d invited all his friends and acquaintances around to show them. Copies of the memory had then spread throughout a good chunk of the more well-off adults of the Wizarding World, all apparently equal measures shocked and amazed that four first-year witches had gone toe to toe with a full grown mountain troll before it was finished off by a ridiculously powerful, but equally foolish boy-who-lived.</p>

<p>Although there were no known pensieves among the Hogwarts students, rumours <em>had</em> spread throughout the castle yesterday like fiendfyre, and the four witches were being heralded as Heroines and Troll Slayers. Opinion was split on his brother, with half thinking him a hero for ‘saving’ the girls and the other half thinking him a rash idiot for jumping into a trolls grabbing range when the beast was already immobilised.</p>

<p>Harry sat down and picked up a discarded copy of the Daily Prophet. Sure enough, there on the front page was a photograph lifted from Padma’s memory. It showed a particularly dramatic part of the battle when the troll threw a rock straight at Daphne, who was leaping towards the troll, conjured sword in hand, protected by a shield cast by Lisa Turpin. Hermione was ducking under the other troll’s arm swing and Sophie and Padma were diving for the bathroom door.</p>

<p>Other pictures showed Daphne and Hermione plunging their twin swords into the monster’s legs, Hermione’s diffindos shattering the troll’s club and freeing Padma from the troll’s grasp, and Padma sliding through the troll’s legs, casting a shrinking charm on the brute’s shorts as she went.</p>

<p>Finally, one picture showed John Potter jumping on a mostly immobile troll and blasting its head off, sending both troll and boy to the floor.</p>

<p>By the time he’d finished reading the article, the hall had filled and Dumbledore got to his feet. The man cleared his throat and the hall quietened.</p>

<p>“I have a few announcements to make before you all head off to classes.” The headmaster’s eyes skimmed the four tables. “Firstly, as many of you may have noticed, our resident potions master is not currently with us. He has unfortunately suffered an accident and will not be with us for a while.”</p>

<p>A few people clapped and cheered but were quickly shushed.</p>

<p>“Until Professor Snape returns, therefore, I shall be teaching potions classes with the aid of several upper year prefects.”</p>

<p>An excited murmuring filled the hall. Harry swore under his breath.</p>

<p>“Next, in a totally unrelated incident to do with a rather large troll, Miss Granger, Miss Greengrass, Miss Padma Patil, Miss Turpin, and Mister John Potter have each earned twenty-five points for their respective houses.”</p>

<p>Whispers and cheers spread throughout the hall.</p>

<p>“And finally,” Dumbledore continued, in a voice that despite all impossibility seemed to twinkle as much as his eyes, “according to Lord Slytherin’s request, I have decided to make the Bloody Baron the temporary head of Slytherin House.”</p>

<p>Harry wanted to brain himself on the table. The daft old bugger actually went for it.</p>

<p>The Bloody Baron hovered at the front of the Slytherin table, ghostly blood dripping off him, chains draped across his shoulders and arms, looking simultaneously more anticipatory and more sadistic than Harry thought he’d ever seen the apparition. The other ghosts didn’t look happy. The rest of the hall looked nonplussed.</p>

<p>One Slytherin near him leant closer to another. “Can he do that?”</p>

<p>The other Slytherin shrugged.</p>

<p>Dumbledore waved a final hand. “And now, get to classes. Go on.”</p>

<p>The students started to file out in pairs and groups.</p>

<p>Harry followed them. The Bloody Baron as head of house wasn’t ideal, but it was certainly better than some of the other options. He could work with it.</p>

<p>“Oi, Potter!”</p>

<p>Harry turned, almost out of the hall, to find Romulus Volf forcing his way over to him.</p>

<p>“Yes?”</p>

<p>Volf stopped next to him. “You know tryouts are soon, right?”</p>

<p>Oh yes, the duelling tryouts. Harry nodded. “Yes, two weeks away.”</p>

<p>Volf nodded. “You know Granger went against that troll. You still sure you’ll win? Nott’s been at the club every week and I still don’t think he can take the mudblood. You <em>do</em> still have a month to train.”</p>

<p>Harry smirked. “I’m sure.”</p>

<p>Volf scowled. “Because if you don’t…” He made a fist and slammed it into the wall next to him. His scowl flashed into a wince.</p>

<p>Harry raised an eyebrow and looked at the fist, now slightly red. “So, you want some healing on that?”</p>

<p>“No, I don’t,” Volf grumbled, nursing the hand and not looking Harry in the eyes.</p>

<p>Harry grinned. “Are you sure? I hear Miss Granger is in healer training. You know… you could always…”</p>

<p>“Shut it, Potter!”</p>

<p>Harry snickered, turned and walked off down the corridor. “See you at the tryouts.”</p>

<p>Behind him, Volf growled.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Heroine Hermione the troll slayer sat down in her first potions class since Halloween. The number of times she’d been approached to recount the events of that evening was starting to grate on her. She didn’t have time for that rubbish. She had healing training, and schoolwork, and duelling practise, and physical training, and she was plugging away at setting up the muggleborn faction in the school. Still, it was at least better than being damsel-in-distress-Hermione the bully victim.</p>

<p>Daphne, by contrast, was in her element. The number of Slytherins the Greengrass Heiress could call acquaintances had risen substantially in the last twenty-four hours, and the dreaded dead space between the Gray and the Dark at the Slytherin Great Hall table, had slightly shifted towards the Dark.</p>

<p>Temporary evil potions professor Dumbledore strolled to the front of the class, looked around, smiled a smile of friendship and twinkles, tapped his wand on the board and uncovered previously unseen writing.</p>

<p>“Good morning, class. I will be your potions professor for such time until Professor Snape is back with us.” Dumbledore motioned to the back of the classroom. “I will be assisted in this by Miss Pebble and Mister Cummerlog, two of our sixth year prefects.”</p>

<p>The two prefects waved.</p>

<p>“We will be continuing the syllabus of Professor Snape in upcoming lessons, but since my speciality is alchemy rather than potions, I thought it might be instructive to start out with a special lecture that highlights the similarities and differences between these two subjects.”</p>

<p>Hermione sat a bit straighter in her chair. She might despise this evil old man for what he did and wanted to do to Harry, but that didn’t mean she wasn’t going to try her hardest in class, and she hadn’t learnt much about alchemy.</p>

<p>“Now, who can tell me the difference between potions and alchemy?”</p>

<p>Her hand shot up.</p>

<p>“Miss Granger.”</p>

<p>“Alchemy is permanent, potions are temporary.”</p>

<p>Dumbledore nodded. “Well done. Two points to Slytherin. Yes, indeed. Alchemy is permanent, but can you tell us why it is permanent, Miss Granger?”</p>

<p>She reddened and shook her head. She hadn’t learnt that yet.</p>

<p>“No matter, Miss Granger. Alchemy uses magic to enact real changes at the mundane level of things. It is the bridge that links magic to muggle disciplines such as chemistry and physics. Most other forms of magic, including potions and transfiguration, use magic to directly apply an effect over a structure that doesn’t change. That is not what Alchemy does.”</p>

<p>On the table, the headmaster rested two similar reddish looking rocks. “These stones are called bauxite. Bauxite is a type of rock found in many places throughout the world.”</p>

<p>He placed his wand on one of the rocks. “Now using transfiguration, I could easily take this rock and turn it into something more interesting.” He jabbed his wand and the rock turned into a metallic-looking model spitfire fighter plane. “This is easy, quick, and efficient, but it has a problem…”</p>

<p>The model airplane turned back into a rock.</p>

<p>“As you know from your transfiguration studies, the magic will eventually run out. However…” He pointed his wand at the other rock and made a complicated waving motion over it. What looked like a fine silver dust rose from the stone and deposited itself in a pile to the stone’s side. The stone itself now had a darker colour. He then poked his wand at the pile of silvery dust, which glowed red-hot, liquefied, and flowed upwards, moulding itself into a familiar shape. A moment later, another, smaller model airplane, still red hot, sat on the desk. “<em>This</em> magic is <em>permanent</em>.”</p>

<p>The class stared at the little object on the teacher’s desk.</p>

<p>Sophie raised her hand.</p>

<p>“Yes, Miss Roper?”</p>

<p>Sophie lowered her hand. “That’s aluminium, isn’t it?”</p>

<p>Dumbledore beamed. “Yes, it is. A metal discovered by alchemists more than a thousand years ago, and independently discovered by muggles more recently. It is light and strong — not as strong as steel, but it has a better weight to strength ratio. Muggles use it in their flying machines. We tend to use it in packaging, toys, and dancing cake tops.”</p>

<p>A few Slytherins snorted.</p>

<p>Dumbledore ignored them and continued. “Alchemy doesn’t create new things it merely works with what is already there. You cannot permanently create from nothing, but you can permanently change some things to others, <em>if</em> you know how.” He adjusted his moon-shaped spectacles. “Mister Harry Potter.”</p>

<p>Hermione turned to see her lord, almost hidden at the back of the class, perk up.</p>

<p>“Yes, Professor?”</p>

<p>“There are some spells we teach at Hogwarts that are actually alchemy, rather than the branch they purport to originate from. Can you think of any based on the rule we just discussed?”</p>

<p>Harry seemed to think for moment. “The bubblehead charm?”</p>

<p>Dumbledore looked surprised. “Indeed. And your reasoning?”</p>

<p>“Well, I know it works in normal air as a protection against potion fumes, but it also works underwater, doesn’t it? So if it works underwater then it must be turning water into hydrogen and oxygen. It releases the hydrogen and keeps the oxygen in a bubble around the caster’s face.”</p>

<p>Dumbledore continued to look surprised. “That is a very well reasoned answer. Well done.”</p>

<p>For the rest of the class, Hermione secretly pouted. No points. And the headmaster refused to call on Harry again, as well. Bastard.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore shuffled parchments on his desk and regarded the empty classroom as the last of his students filed out.</p>

<p>Just as Severus said, Harry Potter seemed to be well isolated and friendless. But he was also smart and knowledgeable. Maybe the boy’s isolation was working against his plans. After all, all that time spent alone was probably spent in the library or such like. The question was, which was more dangerous… a knowledgeable Harry Potter or a connected one?</p>

<p>He didn’t even need to think for longer than a moment. Connected. A connected Harry Potter was far worse than a knowledgeable one. So much depended on people either not caring what happened to the younger Potter or being ready to believe the worst of him.</p>

<p>He seemed to be slowly getting the Lord Slytherin situation under control, but Harry Potter was still a danger. He <em>could</em> <em>not</em> allow another Dark Lord to rise. He absolutely — could — not — allow it.</p>

<p>He shuddered and wrestled control over the obsessive thoughts flying through his mind. Damn ritual.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>For the inner-circle girls of the Gray faction and their secret lordly classmate, the next two weeks flew by in a swirl of classes, studying, training, and politicking. A quick expedition though the pipes, to the third-floor corridor, revealed that the defences around the stone had indeed been reset, much to Harry’s annoyance.</p>

<p>Hermione <em>did</em> succeed in cracking the VCR programming obstacle, but they then immediately ran into the fidelius trip line the moment they stepped into the next room, causing them to completely forget where the stone was. The Headmaster had then almost nabbed them, and they decided from then on not to make another attempt on the stone until they had a solution.</p>

<p>With Hermione’s hint from Madam Pomfrey, those solutions now trickled in like the eternal autumn rain that drizzled outside. The library’s restricted divination section contained many tantalising hints and descriptions of all kinds of amazing spells, although they’d yet to find an actual how-to guide.</p>

<p>This was in-part hampered by the limited time they had for the search. Daphne was juggling the political boon of being the troll-slaying Slytherin princess with the fallout from the Bloody Baron taking up the head of Slytherin Hogwarts House.</p>

<p>Many of the students seemed to think Lord Slytherin was playing silly buggers with them, although there were others who pointed out that, terrifying though the Baron was, he was still fairer than Snape.</p>

<p>Harry tap-danced through a couple of meetings with his fellow Gray faction leaders and both Hermione and Daphne received owls from their parents questioning the appointment of the Bloody Baron while both lauding and decrying their Daily Prophet front page troll slaying antics.</p>

<p>Even Ginny had grilled Harry when he’d next dream visited her, even though he hadn’t even been there, and Alex’s next owl to Lord Slytherin had been one long plea to be taught to ‘fight like those kick-ass girls’.</p>

<p>Harry had so many things going on, it wasn’t until the start of November, the day of the duelling club tryouts, that he even had time to check in on one of his more unexpected and opportunist projects.</p>

<p>He stood in a secret passageway, holding a note in one hand. He knocked on the lid of a trunk with the other.</p>

<p>The lid opened and a familiar shade of red hair popped out, followed quickly by the hair’s head.</p>

<p>“Greetings, Harry,” said one of the Weasley twins. “I see you got our little note.”</p>

<p>Harry nodded and followed the twin into the trunk. “Yeah.” He looked around. The trunk wasn’t as big as his, and only contained the one compartment, but it looked serviceable. “So this is your HQ? It looks well used.”</p>

<p>The twin who’d let him in beamed and waved to his brother. “It is well used. Got a great deal on it from the man who was selling them.”</p>

<p>The other twin raised his head from where he’d been working on something at a bench. “Yeah. We’ve wanted a secret place to do our projects for ages, but all the hidden passageways at Hogwarts are at risk of being discovered by Filch. Not a problem with this baby.” He patted a wooden wall fondly. “When we’re finished, we just pop it in our pocket.”</p>

<p>Harry raised an eyebrow. “You funded this on our arrangement? I’m surprised you found something like this for so little.”</p>

<p>Twin A beamed. “Like we said, we got a good deal. And it wasn’t the only thing.” He waved to a wall. A small collection of ingredients and materials lined the wall on a shoulder height shelf.</p>

<p>Harry stepped over to the shelf and ran a thoughtful eye along it. “Nice collection of basic raw material,” he commented. “Possible applications in potions, enchanting, crafting, and… alchemy?” He looked towards the twins.</p>

<p>Twin A sat down on a rickety looking wooden stool. “That’s what we want to talk to you about.”</p>

<p>Harry conjured a plush seat of his own causing a round of widened eyes. He sat down. “Go on then.”</p>

<p>The twins looked at each other. “Well,” Twin B started, sitting at the bench, “We’ve been working on a few projects since we started Hogwarts.”</p>

<p>“To begin with it was mostly how to get around the castle without being spotted by the powers that be—”</p>

<p>“—But last year, we also started working on ideas for… things.”</p>

<p>Harry tilted his head. “Things?”</p>

<p>“Well, pranks mostly. But they have other applications as well. When we leave home at the end of Hogwarts we want to be self-sufficient.”</p>

<p>“We love our Mum, but she can be a bit overbearing at times.”</p>

<p>“And if she had her way, the two of us fun loving jokesters would go to work having our souls sucked out by a nice clean ministry desk and a nice clean ministry badge.”</p>

<p>“We’ve been saving our pocket money and we figured we could get a good product line of joke stuff together to go against Zonko’s by our sixth year.”</p>

<p>“But half of what we’re thinking of making isn’t really joke stuff.”</p>

<p>“But we also know that actually mass producing stuff like Flume does takes serious gold.”</p>

<p>“And we wouldn’t have a clue how to go about selling stuff to big name people like the ministries or the old family businesses—”</p>

<p>“—So, we figured we’d stick to joke stuff.”</p>

<p>“Stuff we can sell to our classmates or by owl order.”</p>

<p>“But….” Twin A stopped tapping the tips of his fingers together from where he’d been resting his arms on his knees. “…Maybe there are other options now.”</p>

<p>They both looked at him, expectantly.</p>

<p>Harry leant forward in his chair. “Exactly what kind of ‘stuff’ are we talking about here?”</p>

<p>Twin B stood up, walked over to a nearby shelf, withdrew several rolls of parchment, and deposited them in a pile in Harry’s lap.</p>

<p>Harry unrolled the first one and whistled. “Magical listening-in devices?”</p>

<p>“Yeah, the idea is that the listening bit, what we call the ear, uses mundane methods to pick up the sound, then a special tube-like rune stone in the middle of the line uses magic to transport the sound to a second ear on the other end of the line.”</p>

<p>“That way you can get around certain wards designed to stop eavesdropping—”</p>

<p>“—Because there’s no actual magic being used within the ward. It’s not even ‘eclektic.’”</p>

<p>Harry’s eyes flicked over the many scribbles surrounding the parchment’s drawings. “And the distance?”</p>

<p>“We think we can get up to ten metres distance. The main limitation is the size of the runes.”</p>

<p>Harry nodded. This had potential. Certainly as much more than a prank toy. He unfurled the next roll. “A spray can?”</p>

<p>“Not just any spray can. This will be able to store and deliver any potion in a fine mist to a target up to three metres away.”</p>

<p>Harry frowned. “You mean like this?” He reached into his pocket and withdrew his empty spray can of drought of living death.</p>

<p>The twin’s faces fell. “It already exists?”</p>

<p>“Yeah.”</p>

<p>“Ah, but does it have an inbuilt stasis system to preserve the potion?”</p>

<p>Harry raised his eyebrows. It didn’t. That was why he couldn’t carry around living death all the time. He shook his head. “No, but the patent <em>is</em> owned already. I’m not sure if a stasis charm would differentiate it enough for the Wizengamot to grant a new one.”</p>

<p>Twin B grimaced.</p>

<p>“On the other hand,” he continued. “I <em>can</em> think of several individuals who would greatly appreciate that little innovation, and <em>damn </em>the patent laws, so don’t chuck that one out just yet.”</p>

<p>The twins perked up. “So, you do know how we might sell things other than pranks?”</p>

<p>Harry rolled up the spray potion parchment. “Oh, yes. What are you thinking about? A work contract? A sales contract? A partnership?”</p>

<p>The twins looked at each other. “Well, we really don’t want to just continue accepting money from you with nothing in return—”</p>

<p>“—We were thinking of a partnership—”</p>

<p>“—Ten percent in exchange for what you’ve already said you’re giving us.”</p>

<p>Harry held up his hands. “Whoa, keep your feet down.”</p>

<p>The twins eyed him.</p>

<p>Harry took a deep breath. “How much time are you two planning on putting into this?”</p>

<p>Twin A looked at Twin B before answering. “We put in maybe fifteen hours together a week during term time—”</p>

<p>“—But every hour of the day on holidays.”</p>

<p>Harry nodded. “So, you’re going to put in…” he conjured a parchment and quill and started scribbling. “Just over five thousand hours over the next four years?”</p>

<p>Twin A’s eyes grew wide. “Really? I guess we are then.”</p>

<p>Harry continued. “Now, if I’m going to put twenty-five galleons a month into the project, that adds up to 1,200 galleons over the period…”</p>

<p>Twin B nodded.</p>

<p>“…That means that if my stake is ten percent, you’re valuing this venture at… twelve thousand galleons (£600,000), and your own labour for every hour you work on this project at four sickles an hour.”</p>

<p>The twins sat in silence for a moment. Then, “I don’t think Dad makes that much… I know Bill and Charlie don’t…”</p>

<p>“…Quite so, oh brother of mine.”</p>

<p>Harry nodded. “Let’s suppose, for the sake of argument, that the project was split thirty-five, sixty-five. That would value the business at a more reasonable 3,400 galleons (£170,000), and your time at two sickles fourteen knuts an hour.</p>

<p>Twin A started chewing his quill.</p>

<p>“Of course, we could always flip those numbers, sixty-five, thirty-five, but have me putting in fifty galleons a month instead of twenty-five…”</p>

<p>Twin B narrowed his eyes. “You have access to that kind of money?”</p>

<p>“For worthwhile projects, yes.”</p>

<p>“Your parents—”</p>

<p>“—Have nothing to do with this,” he interrupted. “My money does not come from them.”</p>

<p>The twins looked at each other again. Then stood up. “Excuse us, Harry, we need to talk about this in private.”</p>

<p>“Of course.”</p>

<p>They left him alone in the trunk.</p>

<p>Harry stared at the bare wood wall. Huh. So they couldn’t <em>actually</em> talk telepathically? Or maybe they just needed to shout at each other a bit. He conjured another piece of parchment and started scribbling. After a few minutes, he stopped and padded over to where a familiar map lay on the table. The twins were still just outside the trunk, pacing up and down the secret passageway.</p>

<p>A few minutes later they returned and sat back down.</p>

<p>Twin A rested his elbows on his knees and put his hand under his chin. “We’ll commit to five thousand hours of work over the next four years valued at three sickles twelve knuts an hour in exchange for 1,440 galleons over the same period and thirty percent of the business (£72,000).”</p>

<p>Harry tapped his chin. “And the valuation?”</p>

<p>“The business would be valued at 4,800 galleons (£240,000).”</p>

<p>Harry shifted in his seat. “That sounds fine, so long as we go with these terms.” He passed the parchment he’d been scribbling on to Twin A.</p>

<p>Twin B leaned over to read over Twin A’s shoulder. Twin B looked up. “We can work with this.”</p>

<p>Harry stood up. “Excellent.” He smiled and extended his hand.</p>

<p>The twins mirrored his smile and reached out in turn.</p>

<p>They shook.</p>

<p>Twin A frowned. “I understand we’re not signing anything legal until we’re of age, but how is that going to work with you? You’re still not going to be of age then, you know.”</p>

<p>Harry grinned. “You let me worry about that.” He walked over to the table and glanced down at the marauder’s map. “You focus on making awesome things of ambiguous intent.”</p>

<p>The map showed the students who weren’t fortunate enough to be on free period all filling out of classrooms for a bathroom break. Technically that included him, but… well… Binns.</p>

<p>One of the twins walked over and stood next to him. “You know, Potter, you are so smart it’s <em>actually</em> scary. We’d never thought to think about measuring investment in our projects using time as though its just another form of money. Are you sure you’re eleven?”</p>

<p>In an out of the way corridor, a point marked Justin Finch-Fletchley stood alone with another marked Draco Malfoy.</p>

<p>Harry frowned. “Oh, yes. I was definitely born eleven years ago.”</p>

<p>The two points circled each other as though in a dance.</p>

<p>“We couldn’t persuade you to occasionally put in a few hours of your own, could we? You’re already in with us quite deep and you seem to really know your stuff.”</p>

<p>Draco and Justin’s points seemed to settle down a bit. He chewed his lip. “I probably will. I’ll certainly put you in touch with another group I’m working with who are similar in scope if not in spirit.”</p>

<p>“Who?” Twin B’s voice sounded surprised and shocked.</p>

<p>“Can’t say right now. They’re staying under the radar. Certain people of a dubious nature don’t approve of their existence in our world, if you catch my meaning.”</p>

<p>“Ah,” Twin A nodded. “Say no more, little Slytherin Harry.”</p>

<p>Harry snorted and looked down again. The two points had started moving erratically around each other and a third point now shot from another corridor, heading straight towards the oddly moving pair. The point was labelled Hermione Granger and it was moving fast.</p>

<p>Harry grinned.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>[A few moments previously]</p>

<p>Hermione wasn’t sure what had first clued her in to something going on. What she did know is that seconds after she’d passed a particularly ugly painting on the way to the bathroom, she’d found herself turning back, ducking around a corridor corner, and running frantically, wand out, towards a couple of her classmates.</p>

<p>Draco stood, arms folded, face smug, and making no move the defend himself against an irate Justin Finch-Fletchley, who had his wand trained on the Malfoy Heir.</p>

<p>“Justin! Don’t!” Hermione stopped a half dozen metres away from the hostile duo, careful not to directly point her wand at either.</p>

<p>Malfoy smirked. “Yes, that’s right, ‘Filth’-Fletchley. Listen to Slytherin’s attack kitten.”</p>

<p>Justin glared. “This scum was threatening my parents!”</p>

<p>“Yes, but attacking him is just what he wants.” She turned to Malfoy, giving him a dirty look. “And you have no right to goad him like that!”</p>

<p>Malfoy shrugged. “I was just explaining his place in our world. <em>You</em> at least have <em>some</em> understanding of that.”</p>

<p>“My place is up to my lord,” she ground out. “Just as yours is to yours.”</p>

<p>Malfoy’s eye twitched.</p>

<p>She turned back to her fellow muggleborn. “Justin, Malfoy can’t legally do <em>anything</em> to your parents, but that might change <em>if</em> you attack him.”</p>

<p>Justin scowled, wand still pointing at the Malfoy Heir.</p>

<p>Malfoy harrumphed. “You know, at the start of the year, I’d hoped the Gray was going to be more understanding. Now I find they’re nothing but a bunch of blood-traitors and mudbloods.”</p>

<p>Hermione narrowed her eyes. “If we agreed with you on everything, then we wouldn’t be the Gray, would we? We’d be the Dark. I didn’t see the Malfoys complaining when we blocked that bill on forcing families to open their libraries to ministry inspection.”</p>

<p>Malfoy grumbled and looked away.</p>

<p>Justin watched the back and forth, wand <em>still</em> trained on Malfoy.</p>

<p>Eventually Malfoy turned back. “Fine! We’ll see if you’re still feeling so confident after the duelling tryouts tonight. I hear Nott can smash through a second year shield charm now. Should be interesting to see you dragging yourself across the common room floor when he’s finished with you.” And with that, he turned around, swishing his long robes behind him and marched off without looking back.</p>

<p>The two of them watched the Malfoy heir until he turned the corridor corner.</p>

<p>Justin slowly took a deep, long breath and lowered his wand.</p>

<p>Hermione eyed it curiously. “What were you planning to do anyway?”</p>

<p>Justin shook his head. “Honestly? I don’t know. The only attack spell I know is the tripping hex and it’s not like that would have done anything. I was just so angry.”</p>

<p>Hermione nodded. “Understandable. What started it?”</p>

<p>“Oh, in History of Magic I made a comment to Kevin about how backward some of the Wizarding World’s customs were. Malfoy heard it.” He grimaced and looked down. “I think I may have offended Susan and Hannah as well.”</p>

<p>Hermione winced in sympathy. “Possibly, yeah. This is the kind of thing I was talking about when we first met in Madam Malkin’s.”</p>

<p>Justin looked up, sharply. “That’s right! You said you were going to sort out culture lessons! When’s that happening?” His voice rang with accusation.</p>

<p>Hermione flushed and took a step backwards. “I’m working on it, Justin, really. I’ve just been <em>really</em> busy and I wanted to get all the other muggleborns in our year onboard as well — to teach everyone together.</p>

<p>Justin frowned. “How many are in?”</p>

<p>“Just you at the moment.”</p>

<p>Justin scowled. “Well, what are we waiting for? C’mon!” He turned and walked off.</p>

<p>Hermione looked after the former Eton-bound muggleborn’s back with a panicked expression. She quickly made to follow him. This wasn’t in Harry’s plans until after Christmas!</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In the library, Hermione and Justin pulled out two chairs and sat down.</p>

<p>“Hey, Kevin.”</p>

<p>Kevin Entwistle looked up from his parchment. “Hey, Justin — Hermione. We working together then?”</p>

<p>“Actually,” started Justin, “I wanted to talk to you about something.”</p>

<p>Kevin put down his quill. “Sure, what’s up?”</p>

<p>“I just got out of a sort-of fight with Malfoy—”</p>

<p>Kevin’s eyes hardened.</p>

<p>“—He was trying to get me in trouble with wizarding laws and things we don’t know about. Hermione says she’ll teach us, but she wants all us muggleborns in together. To make sure we don’t give them all excuses to get us in trouble.”</p>

<p>Kevin’s look turned pensive.</p>

<p>“So, you in?”</p>

<p>Kevin looked towards Hermione. “You can also teach us to make swords like you used on that troll, yeah? That was way cool.”</p>

<p>Hermione smiled. “Thank you. Maybe we’ll have some time leftover, although you <em>really</em> shouldn’t be waving swords around unless you know how to use them.”</p>

<p>Justin looked sideways at her. “So, <em>you</em> know how to use them?”</p>

<p>“Ah,” Hermione blushed slightly, “Well, my lord says that when facing something very large all you really need to know is ‘pointy bit goes forward.’”</p>

<p>Kevin and Justin both snorted with laughter.</p>

<p>Kevin picked his quill back up. “So, when’s this happening then?”</p>

<p>Hermione looked towards Justin. “As soon as we get all the other’s to say yes, and I get something to help from my lord.”</p>

<p>Justin raised an eyebrow. “What?”</p>

<p>“I don’t want to say in case I can’t get it. But if I can it will help a lot.”</p>

<p>“Oh, okay then.” Justin pushed his chair back. “Let’s go find Sophie and Dean.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Just a few metres away, Harry, invisible under the Peverell cloak, passed Hermione chatting to Finch-Fletchley and Entwhistle, entered the library’s restricted section, made his way to his fidelius charmed area, pulled his shrunk trunk out of his pocket, enlarged it, and climbed inside.</p>

<p>Daphne sat in one of the trunk’s armchairs, book open in her lap, palms under her chin, fingers resting on her cheeks, looking utterly fed up. She looked up. “This is hopeless.”</p>

<p>Harry moved to sit down in the chair opposite Daphne. “Still no luck?”</p>

<p>Daphne flipped the pages of the book. “Every single reference I’ve found to anything that might help leads nowhere. Missing books, erased text, pages torn out… The spells all sound <em>really</em> helpful, but they just aren’t there! Listen to this one! ‘Eye of Kilrogg — Summons a floating eyeball that allows the caster to see through it and direct its movement. Passes through all known solid objects… Invisible to unaltered human sight.’ That—” She jabbed her finger at the page “—is just the kind of thing that might <em>not</em> trip the fidelius tripwire around the stone, but the page with the casting details is gone!”</p>

<p>Harry chewed his cheek. “Looks like they purged the sources quite thoroughly then.”</p>

<p>“I’ll say.”</p>

<p>“Hmm….” Harry leaned back and brought the tips of his fingers together. “Then we’ll just have to extend our search to sources that might have survived the purge.”</p>

<p>Daphne paused while idly flipping more pages. “Sources like what?”</p>

<p>“My first thought is the paintings around the school. The ones painted before the Statute of Secrecy, and therefore before the purging of divination.”</p>

<p>Daphne’s eyes widened.</p>

<p>“I don’t know if there’s a seer among them, but if there is we might be able to persuade it to teach us.”</p>

<p>Daphne slammed the book shut. “Would you like me to handle that?”</p>

<p>Harry nodded. “Yes, thank you, Daph — and I’ll write an owl to Luna. She and Alex sound like they’re getting on quite well these days. Who knows? Maybe the Black Library will furnish us with a solution.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione indignantly stared at the eagle-headed bronze knocker guarding the entrance to Ravenclaw tower. “What do you mean you won’t let us in? We answered correctly!”</p>

<p>The eagle-headed knocker stared back. “You didn’t honestly think that answering a riddle was the <em>only</em> thing you had to do to get in here did you? I can <em>see</em> you’re not a Ravenclaw from your crest!”</p>

<p>Hermione huffed. This situation felt annoyingly familiar.</p>

<p>Beside her, Justin snickered.</p>

<p>“Yes, well, laugh it up.” She turned to the browny-blond haired muggleborn “I guess we’ll be here until someone comes that can take a message.”</p>

<p>Justin pointed behind her.</p>

<p>She turned. “Oh.”</p>

<p>An older Ravenclaw prefect walked towards them, arms full of books.</p>

<p>They exchanged greetings and the prefect agreed to take their message.</p>

<p>“Just let me do the talking,” Hermione said, as they waited for Sophie to arrive.</p>

<p>Soon after, the door opened and Sophie emerged, followed closely by Padma, Lisa, and Terry Boot.</p>

<p>“Hey, Hermione, what’s up?” Sophie asked.</p>

<p>“Hi.” She glanced at the other three Ravenclaws. Padma and Lisa had been friendly yet cautious to her and Daphne after the troll incident, but she was still hesitant to talk to Sophie about delicate matters in front of them. “I was wondering if we could talk to you about something in private?”</p>

<p>Padma stepped in front of a surprised Sophie. “Anything that needs to be said can be said in front of us.”</p>

<p>Sophie looked between Padma and Hermione, confusion showing on her face. “Um… I really don’t mind—”</p>

<p>“Sophie,” Padma interrupted, “right now it’s <em>really</em> not a good idea. She can speak with us all together.”</p>

<p>Hermione frowned. “I only wanted to talk about wizarding culture.”</p>

<p>Padma and Lisa both narrowed their eyes.</p>

<p>Lisa laid a protective hand on Sophie’s shoulder. “Even more reason then, and shouldn’t Heiress Greengrass also be here for this?”</p>

<p>Hermione looked between the two hostile witches, eyebrows furrowed in confusion. “What reason would Daphne have to be here? This has nothing to do with her.”</p>

<p>Behind the four Ravenclaw witches, Terry urgently mouthed something to her, although she couldn’t quite make out what.</p>

<p>“Wait,” Padma tilted her head. “This isn’t about the troll?”</p>

<p>Hermione stood in front of them, nonplussed, feeling like they were all reading from completely different scripts. Then the lightbulb switched on. Her eyes widened. “You thought I was going to call in a life debt!”</p>

<p>Padma and Lisa’s face went completely blank, instantly confirming her realisation.</p>

<p>“What’s a life debt?” asked Justin and Sophie in unison.</p>

<p>Hermione threw up her hands in exasperation. “This is <em>exactly</em> the kind of thing I’m talking about.”</p>

<p>Padma and Lisa took a tiny step back.</p>

<p>Hermione turned to Justin. “A life debt is a magical debt created between two people when one of them puts their own life at risk to save the life of the other with no expectation of future benefit.” She turned back to the Ravenclaws. “I just caught Malfoy trying to goad Justin into attacking him so he could make things difficult for him and his family, but I stopped him. I want to get all the muggleborns together for wizarding culture classes to put a stop to that kind of exploitation going on.”</p>

<p>Padma’s eyes widened. “<em>That’s</em> what you wanted to ask? Why the secrecy then?”</p>

<p>Hermione lowered her eyes for a moment. “Well, you’ve always said you didn’t trust me. I figured you’d think I was trying to pull something.”</p>

<p>Padma had the grace to look ashamed.</p>

<p>Lisa tapped a finger on a thoughtful chin. “Culture lessons aren’t actually a bad idea. I wonder why no one’s done it before.”</p>

<p>Padma muttered. “Maybe because <em>certain</em> families would kick up a stink?”</p>

<p>Lisa pouted.</p>

<p>Sophie edged around her friends. “Ah, Hermione?”</p>

<p>“Yes?”</p>

<p>“Can they really hurt my Mum and Dad?”</p>

<p>“If you did something sufficiently extreme, yes.”</p>

<p>Sophie looked towards Padma and Lisa, the question obvious in her eyes.</p>

<p>They both nodded, awkwardly.</p>

<p>“Why didn’t you say anything?” Sophie’s voice sounded somewhat hurt.</p>

<p>Padma rubbed her arm. “It’s not the kind of thing that’s pleasant to talk about so no one really does, and your situation isn’t nearly as bad as some of ours.” Her voice lowered so only the girls could hear. “At least you don’t have to worry about being married off to someone.”</p>

<p>Sophie put a horrified hand over her mouth.</p>

<p>Justin stepped into the circle. “So, are you in?”</p>

<p>The girls all looked at him for a few awkward moments.</p>

<p>Then Sophie nodded. “Yes. I suppose I’d better do it.”</p>

<p>“And I’d like to sit in on the first lesson, at least,” added Padma.</p>

<p>Hermione nodded, slowly.</p>

<p>Lisa shifted uncomfortably. “I’d like to join too, but it’s probably not a good idea… all things considered.”</p>

<p>Hermione nodded again. The Turpin’s attempts to court the Dark were well known.</p>

<p>Terry waved to them from the doorway to the Ravenclaw common room, a large grin firmly attached to his face. “Well, I’m getting back to our potions essay. Take care of Sophie, you two!”</p>

<p>Sophie’s cheeks reddened.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne climbed the grand staircase looking for what would hopefully be the next puzzle piece in Harry’s plans. She’d found and checked out a book from the library on the castle’s paintings and quickly identified what she was looking for. Now she just had to find it.</p>

<p>She arrived at the fifth floor corridor, turned down a side passageway, ducked under a tapestry, walked up another corridor, stopped at a particularly large suit of armour, turned around in a circle three times while humming, then walked back the way she came to find a completely different tapestry and a completely different corridor.</p>

<p>Now, if she was right, it should be right around here. She stopped and let out a satisfied breath.</p>

<p>“Good day there, Young Miss.” The portrait of an older man sat at a small round table, cluttered with crystal balls, rods, and other divination paraphernalia. “And how might this old wizard help such a pretty young thing as yourself?”</p>

<p>Daphne controlled her combined flush of embarrassment and annoyance. She opened her mouth, but the self proclaimed old wizard beat her to it.</p>

<p>“—I hope you haven’t tracked me down just to try to wheedle the lost secrets of divination from me.”</p>

<p>Daphne shut her mouth.</p>

<p>“You wouldn’t be the first, you know. Every decade or so, someone new tries.” The portrait eyed the book she carried. “But you’re a bit young for that, so maybe you’re just an appreciator of fine art, eh?”</p>

<p>Daphne opened her mouth again. “You say they try? Why doesn’t it work?”</p>

<p>The portrait sighed. “Because I can’t. Yes, I have the knowledge, but I was bound never to speak them — just like every other portrait you’ll find. All portraits are connected a little bit, you know — least the ones in Britain are. It’s part of the Albion Family Magics.”</p>

<p>Daphne’s eyes widened. “Someone cast a spell that affected all the portraits in Britain? Who could possibly <em>do</em> something like that?”</p>

<p>The portrait looked back at her. “Why, the Wizengamot, of course.”</p>

<p>Daphne groaned. Of course. The Wizengamot <em>did</em> have a small amount of control over the Albion magics.</p>

<p>“Now, was that all you visited me for?” the portrait asked, waggling its eyebrows. “Or did such a pretty witch have something else in mind?”</p>

<p>Daphne blanched, turned, and stalked away without a backwards glance. At least she now knew <em>why</em> this portrait was so well hidden.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>On the other side of the castle, Hermione waited awkwardly outside the portrait of the Fat Lady. This wasn’t exactly Slytherin home turf and the looks from passing Gryffindors were decidedly hostile. It was probably only the presence of a yellow and black Hufflepuff tie on Justin’s very obviously muggleborn school uniform, looking so different from her own traditional styled robes, that stopped glares turning into something more confrontational.</p>

<p>Eventually, the portrait swung open.</p>

<p>“Hi, Dean.”</p>

<p>Dean Thomas looked surprised. “Hey, Hermione, long time no talky. So you’re the snake that wants to see me?”</p>

<p>“Well, me and Justin here.” She gestured towards the Hufflepuff.</p>

<p>The two boys exchanged introductions.</p>

<p>Dean leaned against the wall. “So, what’s up?”</p>

<p>Justin stepped forward. “Malfoy was trying to pull some stunt with me earlier and I nearly fell for it. Me and Hermione are putting together a group to teach all us who are new to this world how it works so we don’t get trapped by people like Malfoy.”</p>

<p>The dark skinned boy chewed his lip. “Doesn’t sound like a bad idea, although I’ll need to be careful. No offence, Hermione, but Slytherins aren’t exactly liked in Gryffindor.”</p>

<p>Hermione waved it away.</p>

<p>Justin nodded. “So you’re in.”</p>

<p>Dean nodded back. “Sure, just don’t tell any of my classmates, especially not John Potter. He leads the Slytherins-aren’t-to-be-trusted brigade.” He kicked off the wall and turned to Hermione. “I really don’t want to know what he’d do if he found out.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John Potter lounged in the middle of the Gryffindor common room’s largest sofa, Lily Moon, on one side, Fay Dunbar and Lavender Brown on the other. Across from him sat Ron, Parvati, Neville, and Sally-Anne. John was buried, nose-deep, in an advanced Defence Against the Dark Arts book, only occasionally looking up to way-in as the discussion bobbed and flowed from school work to holidays to quidditch and duelling.</p>

<p>The portal opened and Dean stepped back in.</p>

<p>John frowned. It didn’t <em>look</em> like there’d been trouble.</p>

<p>The boy passed halfway between the portrait and John’s sofa.</p>

<p>“Hey, Dean!” he called out. “Who was the snake, then? Need any help with anything?”</p>

<p>Dean got to the couch and shrugged. “Nah. Yeah there was a snake, but it was mostly about the puff with her. A homework help thing I’d agreed to. You know, gotta help the puffs out, right?” He grinned, exchanged a few more pleasantries, and left, heading for the spiral staircase to the boys first-years dormitory.</p>

<p>John glanced behind him to see Dean vanish from sight. He turned back to his book, eyebrows furrowed. Something about that conversation seemed off, although he couldn’t put his finger on what. The last time that happened he’d almost missed the troll and he couldn’t afford any more near misses like <em>that</em>. He’d better keep his eyes and ears open. Especially with the first quidditch match this weekend and the Gryffindor duelling tryouts the day after tomorrow.</p>

<p>He put his book back down and stared into space.</p>

<p>Of course, the <em>Slytherin</em> tryouts should be happening today, shouldn’t they? Who competed last time? Nott wasn’t it? But Harry beat Greengrass in defence, and his draw wasn’t bad at all.</p>

<p>His face hardened. If Harry somehow slithered his way onto the duelling team, he’d annihilate the bastard.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The Hogwarts duelling arena stood, proud and firm, a round colosseum of solid oak, far away from the normal hustle and bustle of the school, at the edge of the Forbidden Forest. Its complex sets of privacy and safety wards made it ideal for the violent sport held within. The roof could be closed and opened at will, to better accommodate the ever changing and volatile Scottish weather. In three years time it would be used to host the first event of the triwizard tournament, but it wasn’t dragons that Hermione Granger, standing as she was in a group of other Slytherins, would be facing today.</p>

<p>No, today she would be facing Harry — her lord, her best friend, the boy who had introduced her to the Wizarding World, the most amazing person in the world, and the wizard who she knew would triumph over evil and usher in a bright new age… <em>his</em> age.</p>

<p>Oh, and Nott too.</p>

<p>Romulus Volf walked up to a raised platform and turned to look down at the group. “Alright! Listen up!”</p>

<p>The group stopped talking among itself and gave Volf their attention.</p>

<p>“I only take the best, so just because you made the team last year, doesn’t mean you’ll make it this year! And don’t think that just because you have powerful friends that means you’re going to get a free pass!” Volf glared at her.</p>

<p>She blanked her face and stared back.</p>

<p>“The duelling team will be made up of one person from each year. In the tournament, the first years will face off against each other and the winner will then face the other team’s second year duellist, and so on, until one side has all seven team members defeated.”</p>

<p>The assorted Slytherin’s watched, stony eyed.</p>

<p>“Each year’s slot will be decided by a straight knockout tournament. We’re going to work our way down from the top. Since the seventh and sixth year slots have already been decided, fifth years will be first.”</p>

<p>Some of the older boys straightened, fingered wands, and generally gave the impression of chomping at the bit.</p>

<p>“One last thing.” Volf’s eye’s became hard. “Memories of the tryouts are not to be gifted or traded to <em>anyone</em>! Not even your lord or head of house. If I find anyone has done so, they’ll be kicked from the team, the club, be in detention for the whole year, and be liable to have an accident.”</p>

<p>The group collectively nodded their heads.</p>

<p>“Right, fifth years! Let’s go!”</p>

<p>Hermione made her way up the rows of seats that lined the lower arena. A moment later, she was joined by Heir Nott, much to her surprise. Nott hadn’t taken the news of her being a muggleborn well. It was hardly surprising, given the games she and Daphne had played with him on the Hogwarts Express.</p>

<p>“Feeling confident, Mudblood?”</p>

<p>She turned her head to look into the boys eyes, then turned back to arena where the first bout was about to start. “That depends on what you mean.”</p>

<p>Nott growled. “I mean, do you really think that a faking mudblood like you stands a chance against a <em>real </em>heir of a noble house?”</p>

<p>Hermione didn’t look back at him. Instead, the lights and shouts of the combatants below, now fighting for the coveted year slot, held her gaze. “Yes,” she answered.</p>

<p>Nott didn’t reply for a moment. “If you didn’t have Lord Slytherin protecting you, you’d be <em>nothing</em>.”</p>

<p>She again slowly turned to Nott and smiled. “But I do, which must mean I am something.”</p>

<p>Nott scowled. “So why <em>aren’t</em> you all confident then?”</p>

<p>Hermione frowned and let her eyes travel past Nott to where Harry sat a third of the way around the arena, alone and isolated.</p>

<p>Nott turned to follow her gaze. “Potter?” He sounded incredulous. “What in Merlin’s name are you worried about <em>him</em> for? He was raised by muggles! The Potters thought he was a squib! He hasn’t been to a single duelling club meet-up!”</p>

<p>She raised an eyebrow.</p>

<p>Nott rolled his eyes. “You’re different. Everyone knows you and Heiress Greengrass receive secret training from Lord Slytherin.”</p>

<p>“And yet, he beat Daphne in defence.”</p>

<p>Nott frowned.</p>

<p>Hermione turned back to the duellists below. “I have my suspicions about Potter. Something about him feels different. Maybe you’ve missed it, caught up in the drivel that Professor Snape spouted at the start of year.”</p>

<p>Nott said no more and turned forward to watch the older duellists, occasionally shooting furtive glances towards Harry.</p>

<p>Eventually, the first years were called down.</p>

<p>Volf motioned to them. “Granger and Nott first. Then Potter versus the winner.”</p>

<p>Hermione couldn’t fail to notice the look of intense dislike on Volf’s face when addressing both her and Harry, although more for her than her lord. She walked back until she and Nott were approximately twenty to thirty metres apart, turned, and waited.</p>

<p>Volf held up a hand. “Standard duelling rules… Begin!”</p>

<p>Hermione moved left.</p>

<p>Nott ran right.</p>

<p>Spell chains flew between the two, flashes of lightly shaded reds, blues, pinks, and greens dancing between the two combatants, combatants who skilfully dodged and shielded to avoid the hostile magic.</p>

<p>Nott tried to quickly close the distance, but Hermione kept running further away, occasionally making use of an arena obstacle to frustrate the Nott heir.</p>

<p>All too quickly, Nott’s casting speed slowed, and now Hermione went on the attack. For a full three seconds, Nott was pummelled by an opponent twice as powerful as himself, barely able to hold on, before Hermione too slowed, and the match became a war of attrition, a war that Hermione had the clear advantage in. Not only was there a mild power difference between herself and Nott, it was also clear she was superior, not only in skill, but also in physical endurance.</p>

<p>Less than a half dozen spell chains after she’d exhausted the magic in her wand and body, and started drawing magic straight from her core, Nott fell to the ground, and didn’t get up.</p>

<p>Volf raised his hand, scowling. “Winner, Granger.”</p>

<p>Hermione let out a breath and turned to the stands to rest up.</p>

<p>“Where do you think you’re going, Granger?”</p>

<p>She turned. Volf was grinning, while Nott, now revived, nursed a bruised arm.</p>

<p>Behind Volf, Harry shrugged apologetically.</p>

<p>Oh, so that’s how it was.</p>

<p>She turned back and sighed. It wasn’t like she had any real chance to win anyway, but it would’ve been nice to duel Harry on fair terms. Apparently Volf wasn’t as confident in Harry as she was.</p>

<p>She retraced her steps to the starting position.</p>

<p>Harry faced her, holly wand at the ready.</p>

<p>Volf raised his hand. “Standard duelling rules. Begin!”</p>

<p>Hermione sprinted towards Harry, throwing spell chains as she went. She knew full well that to beat a more powerful opponent you had to close the distance quickly or be defeated in a drawn out struggle like Nott had with her.</p>

<p>She didn’t have very long. Eighteen seconds, exactly. That was how long she could cast at full power for. During that small timeframe, she could go toe to toe with a full adult wizard, and be at no handicap. In fact, given the high attunement she had with her wand, against many, she’d even be at an advantage.</p>

<p>Harry however, didn’t retreat like she’d done with Nott. He matched her spell for spell, and when she got within the duelling dead zone, the range at which dodging became nigh-on impossible, Harry flicked his wand at one of her invisible tripping hexes, and swatted it back at her.</p>

<p>She didn’t even have time to curse. The hex hit her, she tripped, red filled her view, and she knew no more.</p>

<p>When she came to, Harry offered her his hand. She took it, looking annoyed on the outside, but secretly cheering within. Volf raised his hand, looking very smug. “Winner, Potter!”</p>

<p>Harry nodded.</p>

<p>“—And now!” Volf continued without missing a beat. “I distinctly remember you, Potter, saying you could take on the ENTIRE Slytherin duelling team.”</p>

<p>The other Slytherins who’d secured their places ambled over. One idly twirled his wand.</p>

<p>“Time to put your money where your mouth is.” Volf turned to the assembled group. “You’ve heard it people! Potter here thinks he’s <em>better</em> than us! He’s been boasting for months!”</p>

<p>The group scowled.</p>

<p>“He’s going up against the lot of us, extended class B rules, one after the other, no breaks, if he faints, we revive him, if he gives up, he’s off the team. We stop only if it looks like he might die!”</p>

<p>Hermione looked to Harry who was smiling. She barely succeed in not smirking herself.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>A little while later, in the Slytherin common room, Daphne sat in the armchair that was the unofficial throne of the Gray. In front of her, two sofas sat at acute angles to her, producing a long diamond shape with a low table in the middle and her at the tip.</p>

<p>On the other side of the room, Draco Malfoy sat with the Dark in an almost identical set-up. Their armchairs were such that she and Malfoy could see each other with a turn of their heads but weren’t looking at each other all the time.</p>

<p>In front of her sat Tracey, Blaise, Flint, and a few other children of the Gray, spread out over all seven year groups. One spot on Tracey and Blaise’s sofa was conspicuously empty.</p>

<p>Occasionally, Daphne shot a glance to the Slytherin common room door. No one had come through it for a while now. The duelling trials should have finished by now. Soon, <em>it</em> would begin. Any moment now.</p>

<p>Tracey wrung her hands. “You could at least look a little worried, Daph.”</p>

<p>Daphne looked up from her transfiguration homework. “Hermione will be fine. You saw the troll thing in the paper. Nott won’t stand a chance.”</p>

<p>Tracey looked at her. Her face betrayed a hint of exasperation. “Aren’t you forgetting something?”</p>

<p>“What?”</p>

<p>“Potter!”</p>

<p>Daphne raised an eyebrow. “What about Potter?”</p>

<p>“Have you seen him all evening?”</p>

<p>“Well, no.”</p>

<p>“He could be at the duelling trials! He beat you, Daph. Did you forget that? He might be able to beat Hermione too.”</p>

<p>Blaise looked over his charms book. “You know Tracey, you seem to keep quite an eye on Potter. Is there something you want to tell us?”</p>

<p>Tracey folded her arms and huffed. “I just think you’re all taking him too lightly. Something’s up with him. He acts far too confident considering how the house treats him. He never gets angry or sad, he just smiles as though the whole thing is a damn joke! And he’s still from a noble house, even if he’s not the heir.”</p>

<p>Flint growled. “A <em>Light</em> noble house—no—<em>the</em> Light noble house.”</p>

<p>Tracey didn’t back down. “And he was sorted into Slytherin, not Gryffindor. When was the last time a Potter was sorted into Slytherin, hmm?”</p>

<p>Flint didn’t get time to answer Tracey’s question though, because at that moment the Slytherin common room door opened and a large group of Slytherins entered, led by a dazed and white faced Volf. The duelling captain looked like he’d seen a ghost. One you weren’t supposed to see that is. His eye was blackened. His robes were shredded, crusted with mud and dirt, and he gripped one arm as though it might fall off.</p>

<p>Daphne’s lip curled up slightly before she quickly schooled her features.</p>

<p>The common room went silent as Volf stumbled forward.</p>

<p>The various duelling club members spread out across the room, each one joining their respective year groups, ashen faces collapsing into sofas and chairs, and in the case of a fourth year witch, straight onto the floor by her friend’s table, her legs apparently giving out beneath her.</p>

<p>Nott made a beeline for Malfoy’s group and started whispering urgently with him. Malfoy’s eyes narrowed, then widened in shock.</p>

<p>From the back of the group, Hermione emerged and made her way over, sitting herself down next to Tracey. Her face showed shock with a hint of awe. She stared off into the middle distance, seemingly unaware of their presence.</p>

<p>Daphne frowned. “Granger, what’s going on? Why does the duelling club look like they just met the Dark Lord?”</p>

<p>Hermione turned to look her straight in the eyes. “Potter.” Her voice sounded dead.</p>

<p>“What?” asked Tracey, without a hint of emotion.</p>

<p>Hermione took a deep breath, leaned forward and hissed, “Potter just took out the <em>entire</em> Slytherin duelling team!”</p>

<p>All heads around the table snapped up. Suddenly the name ‘Potter’ could be heard circulating the room.</p>

<p>Flint scoffed. “You’re bullshitting.”</p>

<p>“Does it look like I’m… Bullshitting?!” Hermione shrieked.</p>

<p>Now the sounds of the common room were morphing into a cacophony of incredulous shouts and curses.</p>

<p>Daphne glanced at the Dark to see the whole group shouting and arguing.</p>

<p>Tracey glared at her. “I told you, Daph! Didn’t I tell you!? I <em>told</em> you!”</p>

<p>Blaise sat gobsmacked. “No way. You <em>must</em> be exaggerating. That kind of ability, at eleven? That’s just not possible!”</p>

<p>The other Slytherins around the table stared at the growing hubbub, faces slightly white.</p>

<p>Tracey turned to Blaise. “Even if <em>all</em> the duelling club members”—she swept a hand over the melting down common room—“<em>are</em> exaggerating somewhat, it doesn’t change the fact that we should have reached out to Potter ages ago! And now it’s too late. Everyone’s going to be after him!”</p>

<p>Daphne took a deep breath. “Clearly, if this is true—and I don’t <em>not</em> believe you, Granger—then I agree we might have made a small miscalculation.”</p>

<p>Tracey scoffed. “You think?”</p>

<p>Hermione fiddled with the cuffs of her robes, looking very out of place without a book, quill, or wand in her hands. “He wasn’t even tired by the end of it. He looked like he could just keep on going forever.”</p>

<p>“Oh, Merlin.” One of the other Slytherin’s hands started shaking.</p>

<p>One mean looking third year a few tables away vomited onto the floor.</p>

<p>Daphne didn’t blame him. She’d seen the looks many of the House had been shooting Harry for the last few months and she guessed that those cheerful smiles that Harry’d been shooting back would suddenly take on a far less than innocent meaning.</p>

<p>The arguing, shouts, expletives, and even the occasional wand draw, continued for what seemed an age, but was probably just a few minutes.</p>

<p>No one seemed to want to leave the common room. The entire house was focused on the door.</p>

<p>Tracey looked over to where the Dark sat.</p>

<p>Daphne followed her gaze to see the Dark’s arguing had mostly died down. Malfoy poked at a parchment on the table as though it owed him money.</p>

<p>Tracey turned back, suddenly looking deadly serious. “Daph, the moment Potter walks in that door, you’re going to invite him to sit with us. Before anyone else does. We <em>cannot</em> afford for someone like <em>that</em> to align himself with the Dark.”</p>

<p>Hermione nodded.</p>

<p>All the other Slytherins, sat around the table, looked to her, faces worried and expectant.</p>

<p>She leaned back in her armchair and sighed. “Very well, I can see that events have overtaken us and we must make do the best we can. Thankfully, I don’t believe any of us have unduly antagonised him, so we may have an opening there.”</p>

<p>Flint suddenly looked uncomfortable.</p>

<p>She nodded towards Hermione, Tracey, and Blaise. “Get ready to make some space if necessary.”</p>

<p>They all nodded.</p>

<p>A few more minutes went by.</p>

<p>Then, the door to the common room creaked open.</p>

<p>All noise ceased. All heads turned.</p>

<p>There stood Harry, but not as he’d been for the past few months. While before he’d been happy to wear a similar uniform to that worn by muggleborn students, he now wore what Daphne knew he’d worn on the Hogwarts Express. Traditional robes cut in the finest materials, fit for the young son of an Ancient and Noble House. Harry’s public expression had changed too. While before he made his way everywhere with a happy-go-lucky face of carefree abandon, now his face was set, and his eyes were flinty.</p>

<p>She risked a glance towards Malfoy to see the young heir staring at Harry the way one might stare at a complex puzzle in a magical Mayan temple — great riches for success, instead death for failure.</p>

<p>No one in the common room made any move to approach him, or speak.</p>

<p>Harry surveyed the common room and slowly walked towards the middle, the space that was traditionally left wide open for people to walk through, and the area that had now become the unofficial divide between the Dark on the one side, and the Gray on the other. Each footstep sounded loudly on the hardwood floor and Daphne realised Harry wore iron tipped boots under his robes.</p>

<p>He reached the middle of the room, took out his wand—several people drew back—and conjured the exact same overstuffed comfy chair he’d conjured for her when they’d first met, almost three years ago. A few people gasped. Daphne couldn’t help but smile.</p>

<p>Then he sat down, took out a book from <em>somewhere</em>, and started to read. Right there, in the middle of the clear, open, floor.</p>

<p>Tracey shot her a significant look.</p>

<p>Her slight smile vanished. Damn. Somehow, when she’d imagined this moment, she’d thought it would be with the majority of the common room chatting among themselves, not focusing with patronus like intensity on what she was about to do.</p>

<p>Carefully, making sure to stay as graceful as possible, she rose from her arm chair.</p>

<p>Immediately, every head swung to her, but she couldn’t focus on them. She drew a stray strand of long, blonde hair behind her ear and made her way to the centre of the room.</p>

<p>As she approached, Harry looked up and snapped the book shut. He rose from his chair as slowly as she had from hers.</p>

<p>“Heiress Greengrass.” His voice was dry and formal.</p>

<p>“Mister Potter.” She stopped a few metres from him. “It would seem you have been holding out on us.” She tried to project just the right amount of accusation, curiosity, and pureblood disdain.</p>

<p>Harry smiled. “I believe that you can learn a lot about a person by watching how they treat those who are below them. And it is very easy to watch, when you are believed to be that person.”</p>

<p>She raised her nose slightly. “And what have you learned about me, Mister Potter?”</p>

<p>You could cut the air with a diffindo.</p>

<p>Harry waved a vague hand. “Things. Some good, some not so good. Either way, I would not care to speak about them in such a public place.” He turned and surveyed the dozens upon dozens of staring faces.</p>

<p>“Oh?” She leapt at the obvious hook. “Then I must insist that you join me and my friends. I’m sure they’d be fascinated to meet you properly.”</p>

<p>Harry smiled. “Heiress Greengrass, thank you for your invitation. I might just do that. Although I feel I will sit here for a <em>little</em> while more.” He held the book he’d been reading up. “This book really is <em>most</em> interesting.”</p>

<p>Daphne nodded, turned, and left.</p>

<p>Harry sat back down, re-opened the book, and continued to read.</p>

<p>As one wizard, the room seemed to turn, slowly and unstoppably, to focus on the <em>other</em> blond, sitting in the <em>other</em> armchair.</p>

<p>Seconds ticked by.</p>

<p>Then, seemingly attempting to match the grace shown previously by Daphne, Draco Malfoy, Heir of the Noble House of Malfoy, rose to his feet, and stepped towards Harry Potter.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“That was AMAZING!” Hermione bounded forward and wrapped Harry in her patented, Hermione Granger, ‘Harry is awesome’ hug number three.</p>

<p>Daphne wasn’t far behind her, eyes shining like beacons, a massive smile plastered on her normally reserved face.</p>

<p>“The way — every — single — group — invited you to sit with them! And Malfoy apologising. He actually apologised! In public! Oh, I could sing!”</p>

<p>“Don’t,” Daphne said, though she didn’t look too far from singing herself.</p>

<p>Harry put Hermione down, also grinning like a loon. “It was quite amusing, yes.”</p>

<p>The dusty shelves of the room for hidden things stretched off in each direction. The midnight sky shone beams of moonlight through suspiciously large windows. Trippy the drugged house elf lay stunned and bound in Harry’s trunk where she’d been for the past few hours.</p>

<p>The evening had been one long meet and greet, her lord flittering between all the different factions, cliques, and interest groups of Slytherin House. When Harry had sat down with their group, it had taken every power she had not to jump hug him right there and then.</p>

<p>Harry then turned and drew Daphne into a similarly deep hug, the blonde witch happily returning it. “You were amazing too, Daph. That look you gave me up there could’ve frozen fiendfyre.”</p>

<p>Hermione noticed the light red dusting on the Heiress’s cheeks, but ignored it for the moment. She bounced up and down on the tips of her feet. “And the best part is they think they’ve got you pegged now. They have no idea!”</p>

<p>Daphne seemed to reluctantly pull away. “I hate to pour water on the party, but I <em>did</em> try to find a painting for our divination project this afternoon. All the divination knowledge in them has been locked up by a Wizengamot approved alteration to the Albion magics.”</p>

<p>Harry snapped his fingers. “Damn. There’s another avenue closed.” He sighed and then instantly grinned again. “Oh well, we’ll see what the Black Library turns up.”</p>

<p>“Ooo, Harry.” Hermione bounced back in, “That spell flicking thing you did. When you reflected my spell against me. What <em>was</em> that?”</p>

<p>“That, Hermione, was spell swatting. Think of it like parrying with a sword. It uses far less magic than a shield, but requires a lot more skill.”</p>

<p>“Can you teach me?”</p>

<p>Harry smiled and shook his head. “Sorry, but it takes a large chunk of time to teach. I <em>am</em> teaching Ginny, but I have whole nights to teach her.”</p>

<p>Hermione pouted and made a mental note to judge the worthiness of this ‘Ginny.’ So far, she only had brief scraps of Harry’s memories from the second timeline and what she’d seen hadn’t impressed her.</p>

<p>Harry continued, “It’s a good thing that I <em>can</em> pull it off. If I couldn’t, I wouldn’t be nearly as able to take out those duelling members with just my holly wand,” he flicked his wrist and held it up. “A good chunk of my capabilities is tied up in my yew wand.” He flicked his other wrist to bring the longer, more ornate wand to his other hand, twirled it a few times, and ran his fingers along the intricate carvings along the handle.</p>

<p>Daphne shrugged. “Still, it provides a nice contrast doesn’t it? Lord Slytherin is the power and Harry Potter is the skill. I don’t remember you ever spell swatting when you fought Volf and his cronies as Lord Slytherin.”</p>

<p>Harry grinned. “Well spotted, Daph. That’s exactly what I was thinking. Of course, Harry Potter is still abnormally powerful, just not overly so. Making this wand was probably the single best thing I did after I returned… well, after meeting you two, of course.”</p>

<p>Hermione stopped bouncing and her breath hitched. A feeling that she’d felt only once before suddenly surged again. She thought she was going to burn up. Why, Oh, <em>Why</em> did Harry have to say something like that, just then?</p>

<p>A glance at Daphne revealed an equally flustered witch, the light dusting on her cheeks now turning a far deeper shade.</p>

<p>Still, Hermione couldn’t deny it felt nice to hear. She stared at the floor and muttered a thank you while Daphne muttered something similar that she didn’t quite catch.</p>

<p>“…”</p>

<p>“…”</p>

<p>“…”</p>

<p>The silence seemed to stretch for too long. Embarrassment turned to worry. She stopped staring at the floor and looked up.</p>

<p>Harry stood, holly wand hanging by his side, seemingly forgotten. Her best friend and teacher now held the yew wand up to eye level, staring at the beautiful fifteen inch wand as though seeing it for the very first time.</p>

<p>“Harry?” she asked.</p>

<p>Harry continued to stare.</p>

<p>“Harry?” Daphne tried. “What is it? What’s wrong?”</p>

<p>Harry looked back at them, a look of wonder on his face. “I’ve just realised who can help us with our divination problem.”</p>

<p style="text-align: center;">— End of Chapter Twenty-one —</p>
