Chapter 23 - Manor Beginnings and The Winter Festival

<p>It was the twenty-third of December. Harry’s walking feet made crunching sounds on Greengrass Manor’s frosty grass lawn. The morning sun sat low in the sky, pushing a weak light that barely cut through the Cumbrian mist. Birds tweeted in the trees. Everything was still.</p>

<p>Harry pulled his cloak closer, let out a long breath, and watched it swirl away in front of him. Soon, the stillness would be gone, replaced by the shouts and banging of dozens of wizards, feverishly preparing the grounds for hundreds more.</p>

<p>Today was the Winter Festival.</p>

<p>But first, he had business with the girls.</p>

<p>He trekked up to the front door, knocked, and was shown in by one of the Greengrass house elves.</p>

<p>“Miss Daphne is just getting up nows, Lord Slytherin, sir.”</p>

<p>Harry nodded, thanked the elf, and showed himself up to the residential part of the manor.</p>

<p>A sleepy Daphne in a loose hanging nightdress walked out of a door several metres up the corridor before him, wiped her eyes, turned, saw him, squeaked, and darted back in the room she’d just left, slamming the door behind her.</p>

<p>Harry let out a quiet chuckle. Daphne had always been modest, but that reaction was certainly more pronounced than it would have been even one year ago. He had to remind himself that time <em>was</em> marching on, and that neither he nor they would be pre-teens forever.</p>

<p>Despite plotting and working ‘Project Harem’ for over three years now, it didn’t change the fact that, right now, when he looked at a beautiful woman, lust <em>didn’t</em> sweep through him like a hurricane. He was still biologically too young, didn’t have the correct hormones flooding his system, even when looking at <em>adult</em> females, and the girls were <em>not</em> adults. When he looked at the girls, he felt many things — fondness, friendship, pride, extreme protectiveness — but not lust.</p>

<p>However…</p>

<p>Harry leaned on the wall and watched the closed door.</p>

<p>However, Daphne and Hermione were older than him, weren’t they? And girls matured faster than boys, didn’t they?</p>

<p>A slight smirk played around his lips. That would suck for them, but no one ever said growing up was easy.</p>

<p>The door opened and Daphne emerged wearing a casual robe, slippers, and a slight blush. “C’mon, then. Breakfast will be served soon.” She walked past him, not meeting his gaze, and led the way to the family dining room.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry was just polishing off his breakfast of two sausages, a round of bacon, a small pile of shredded potato, a bowl of broccoli, a slice of toast, and a glass of milk, when the door opened and Hermione bounded in.</p>

<p>“Morning, Harry! Daphne.” The brown-haired witch pulled out a chair next to him and sat down.</p>

<p>Daphne nodded a greeting through a mouthful of omelette.</p>

<p>“So, what’s on the agenda then? I mean, it’s very interesting to see the Winter Festival after all this time, and to even get to participate, but it’s still very early, and my parents were all set to show me some of the things they’ve been working on while we’ve been at school—”</p>

<p>Daphne swallowed her mouthful.</p>

<p>Harry grinned.</p>

<p>“—it’s amazing what can be done even when you don’t have magic, and I’m sure you’ll find it useful, and—”</p>

<p>“—Hermione!” Daphne interrupted.</p>

<p>Hermione hesitated.</p>

<p>“…Let your lord speak?”</p>

<p>“Oh.” Hermione flushed and turned fully to a still-grinning Harry. “Sorry,” she mumbled.</p>

<p>“Don’t worry about it. I’m sure I’ll appreciate your parents’ work.” Harry reached into his robes and produced a parchment. “Our allies in Gringotts are ready. We’re going to inspect the three locations for Slytherin Manor today and hopefully give them our choice.”</p>

<p>“Excellent.” Daphne smiled. “What about the plans?”</p>

<p>He produced another parchment from his robes. “All here, but I’d like to wait for our final expedition member to get here first.”</p>

<p>Hermione looked around as though expecting to see them. “Who?”</p>

<p>“Well…”</p>

<p>“Me!”</p>

<p>They all turned to the dining room’s large double doors. Dirty blonde hair fell around slim shoulders and light blue robes embroidered with little smiling suns.</p>

<p>Harry stood up. “Hermione, may I introduce you to Heiress Luna Lovegood, of the Ancient and Noble House of Lovegood.”</p>

<p>Hermione stood up too, dipped into a curtsey, and let out a startled ‘uff’ sound when Luna tackle hugged her in four and a half feet of ethereal witch.</p>

<p>“Pleased to meet you, Hermione,” Luna said brightly, not letting go.</p>

<p>“Umm… yes. Pleased to meet you.”</p>

<p>“I’ve been so looking forward to today.”</p>

<p>“Good.”</p>

<p>“Harry talks about you all the time.”</p>

<p>“He… he does, does he?”</p>

<p>Harry smiled.</p>

<p>Daphne face-palmed.</p>

<p>“Oh, yes. He says you’re his best student.”</p>

<p>“That’s g-good.” Hermione seemed to gently try to extract herself from Luna’s embrace. It didn’t work.</p>

<p>“Yes. He also says he can’t wait till you’re older so he can <em>really</em> teach you some stuff.”</p>

<p>Harry and Daphne both choked. Hermione went wide-eyed.</p>

<p>“Runes, Luna! We were talking about runes!”</p>

<p>Luna finally let go of a blushing Hermione and turned to him. “Of course we were talking about runes, my lord. What else would we be talking about?”</p>

<p>“Right!” Daphne pushed her plate away from her. “Let’s talk mansions. Harry?”</p>

<p>Harry brandished the parchment thankfully. “Elves! We need the table clear, please.”</p>

<p>The table cleared.</p>

<p>He let out a long breath and unfolded the parchment. He unfolded it some more. And then yet some more. Soon, a huge architectural map had filled one side of the dining room table from a parchment that looked no bigger than a single page.</p>

<p>They all leaned over it.</p>

<p>Daphne whistled. “It’s big.”</p>

<p>Harry nodded. “27,000 square feet, not including the basement and attics, spread over three floors.”</p>

<p>Hermione closely inspected the parchment from where she could see the first two floors. “So what are all these rooms? What’s this one?” She pointed to a huge circle right in the middle of the mansion on both the first and second floors.</p>

<p>“That’s the ballroom, or event room. Has enough space for a good 240 people, so easily the top 1% of the Wizarding World. It isn’t roofed on the first floor so it extends to the second floor too. The second floor has a balcony that extends all around the ballroom, see? So people can look down from it.” Harry gestured to the rooms surrounding the huge circular room. “The entire manor is built around the ballroom, you can get anywhere from the corridor that encircles it.” He pointed to the bottom left room and curved his finger in an arc. “Workshop, gym, house elf quarters, kitchens, dining room, sitting room, and smoking room, or, if you prefer, the old wizard’s playroom.”</p>

<p>And so they continued on for another thirty minutes, going through the first and second floor, and discussing how each area of the mansion was to be used. They were briefly joined by Lord and Lady Greengrass and Astoria, who ate breakfast and then left to oversee the festival preparations, or, in Astoria’s case, leave for her friend’s house. Occasionally, Daphne or Luna would make a request or Hermione would make a suggestion, and Harry would write it down.</p>

<p>The second floor was to be split into two main sections — the library, which Hermione spent a good while drooling over and making suggestions for, and the office area, a space of about ten rooms, separately warded form the rest of the house, and with its own floo point so any employees working on future Slytherin projects could floo straight into the space without having to, or even being allowed, to walk through the rest of the house.</p>

<p>Daphne folded her arms when she heard that last bit. “Good. I don’t want random people wandering around the private parts of the house. It’s bad enough when—” she stopped, shot Harry a sideways look and blushed slightly.</p>

<p>Hermione gave Daphne a curious look. “Shall we move on? There’s still the third floor.”</p>

<p>Harry nodded and folded out the rest of the parchment, revealing the third and final floor. “The third floor is the family floor. Since there’s no ballroom on this floor, the main hallway is wider and just cuts straight through the middle of the mansion from the far left to the far right.”</p>

<p>Daphne gave him a half-lidded look, leaned over and jabbed a finger at the largest room in the middle, south of the main hallway. “Is <em>that</em> the master bedroom?”</p>

<p>Harry smiled, “No, that’s the living room.”</p>

<p>Daphne hesitated. “Ah, so which is?”</p>

<p>“This one.” Harry pointed to a smaller room north of the living room and on the other side of the hallway.</p>

<p>“Oh.”</p>

<p>Hermione was busy counting. “I assume all these smaller rooms are en suite bathrooms?”</p>

<p>Harry nodded.</p>

<p>“So, thirteen bedrooms in total.” She whistled. “That… that’s a lot of bedrooms.”</p>

<p>“It is. Restoring Slytherin House isn’t going to be a one-person effort, that’s for certain.”</p>

<p>Luna smiled and patted her tummy. “I can hardly wait.”</p>

<p>“Luna!” Daphne moaned, putting her hands over her face. “Will you <em>please</em> stop saying things like that!” She looked mortified.</p>

<p>Hermione looked at Luna with wide eyes, which slowly changed to confused. “Wait. But… I thought you had a consortship agreement for the <em>Lovegood</em> line? Or did I misunderstand something?”</p>

<p>Luna smiled widely. “The contract only says the first two males and four in total have to be Lovegoods, after that it’s up to me. Of course, if Daphne pops out as many as that then there may be no need.”</p>

<p>“I’m not listening!” Daphne shouted in a sing-song voice, hands now over her ears.</p>

<p>Harry stared straight ahead, eyes slightly glassy, and explicitly <em>not</em> catching anyone else’s. He made a mental note to be more mindful when dropping mind-leading comments around Luna in the future since it seemed the powerful witch didn’t just mentally follow such comments, but also grabbed on to them, yanked with all her might, held them up, and enthusiastically waved them about for everyone to see, all with the air of a first-time magical angler catching their very first plimpy.</p>

<p>By the time Daphne calmed down, Hermione had satiated her curiosity and Luna had stopped being quite so Luna. A nearby wall clock’s long hand tipped over the peak and began its slow, thirty-minute fall.</p>

<p>“Time to get moving I think,” Harry said. “We are expected.”</p>

<p>The foursome packed up their stuff, got their outdoor things,—Daphne still needed to change her slippers—marched through the manor, waved goodbye to Lord Greengrass, and stepped out onto the back lawn of the Greengrass gardens, Harry now under a disillusionment.</p>

<p>The sun had risen a whole few degrees and was still failing its impossible quest to melt away the Cumbrian mists, standing about as much chance as an incendio might have to melt away an iceberg.</p>

<p>The gardens were a bustling hive of activity. Witches and wizards everywhere carried wood and flicked wands, erecting booths and stalls and the occasional round picnic table, which grew larger and larger the more hungry work-wizards sat at them.</p>

<p>One half-finished booth declared itself to be a chocolate frog racing stand. ‘Seven knuts a go! And you eat the winner!’ Another booth proclaimed, ‘Best memories of 1991! See them all! One sickle, thirteen knuts!’</p>

<p>As they made their way around the manor and towards the front gardens, Harry couldn’t help noticing Hermione rapidly falling, once again, into insatiable curiosity mode. He grabbed her, causing her to squeal at the invisible grip, and dragged her away from a long line of horse boxes, all lined up in the middle of the front lawns, just as the drawling and slightly whiny voice of Draco Malfoy drifted around a box containing a beautiful Arabian horse.</p>

<p>“But father,” the voice said, “Nott says his father is letting him bring a pegasus.”</p>

<p>“Then he is playing a joke on you, Draco. Magical horse riding is not something that a twelve-year-old boy can attempt.”</p>

<p>Hermione huffed as they made their way away from the preparations and caught back up to Daphne and Luna. They then narrowly avoided being run over by a series of three massive purple lorries with ‘Knight Wagon Logistics’ written on their sides in large, yellow letters as they slipped through the Greengrass Manor gates, and out into the quiet country lane beyond.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry retrieved his shrunk trunk and unshrunk it on the dirt road. “Alright, everyone in.”</p>

<p>The girls all clambered in. He closed the lid, shrunk the trunk again, concentrated, and apparated away with a crack of forced magic.</p>

<p>He arrived a moment later near an exposed hilltop, surrounded by little else <em>but</em> exposed hilltops for miles and miles. Up here, the sun had succeeded in reaching the ground, and cast an ethereal light on the still misty valleys bellow, making them look like lakes of smoke.</p>

<p>“Greetings, Lord Slytherin.”</p>

<p>Harry de-disillusioned himself and placed his trunk on the ground. An older man stood in front of him in a grey pinstripe suit. He looked rather like an old-style butler, if old-style butlers were in the habit of carrying five-foot-long battle axes.</p>

<p>“Greetings, Ragnok,” Harry said, opening the trunk’s lid. “Alright! We’re here!” he called down.</p>

<p>The girls clambered back out.</p>

<p>Luna pouted as she did so. “Didn’t even have time for the in-flight meal. Oh, hi, Ragnok!” She waved enthusiastically.</p>

<p>Daphne and Hermione stared.</p>

<p>“Polyjuice potion,” said Ragnok, by way of explanation. “Rather difficult for my kind to do business in the Muggle World otherwise.”</p>

<p>They then made their way around the crest of the hill. Daphne gasped. Revealing itself as they edged around the long slow hill-top corner, and nestled between the hill they walked on and the next, lay an almost perfectly circular lake of absolutely still and crystal-clear water. Not a single ripple marred its surface. Despite being green, the grounds around the lake were completely devoid of tall plant growth, like a never-ending carpet of moss as far as the eye could see, although Harry easily spotted it to be an optical illusion, and that the greenness actually came from the short grasses that grew even around the path they walked on. It was beautiful.</p>

<p>“Ten out of ten for aesthetics,” Luna said.</p>

<p>“Yes,” Hermione added, weakly. “I don’t know, do we even have the right to spoil something so… pure?”</p>

<p>“Hardly pure,” Ragnok said, waving his axe at the surroundings. “This all used to be forest, until the muggles cut it all down — same with most of the island.” He snorted. “That’s actually how we’d set up this deal. The cover story would be we’re buying it as part of a reforestation effort. Since ???you’ll need a small wood??? regardless of what you do anyway, that won’t even be a lie.”</p>

<p>Harry nodded. It was certainly tempting. “What are the known resources?” he asked, mostly for the girls’ benefit.</p>

<p>“Well, the soil’s rubbish. You’ll have to build that from the ground—ahaha—up, but there are known silver deposits in an abandoned mine in the gully there.” He pointed to the far side of the lake where the land snaked away around another hillside. “It would take quite an investment to get working again though. More than you have at the moment, if I know anything about it, which I do.”</p>

<p>Harry nodded again and Ragnok continued. “The soil as it is can support all the basic wards with a one-year transplanted nursery, but it would take a few more years to get them to strength with your other option down in East Anglia, or up north in the Orkneys.”</p>

<p>Hermione stopped examining the dry stone wall separating them from the steep drop to the lake. “Why?”</p>

<p>“Their soil can support more plant growth, quicker. You can’t just buy in good soil for growing magical plants. You have to build it yourself. More plants means more magic, which means more and stronger wards, faster.”</p>

<p>Harry watched Luna, now climbing onto the drystone wall and walking along the top of it, hands stretched out on either side for balance. “Anything else we should know?”</p>

<p>Ragnok looked thoughtful. “Unicorn herd just a few hills in that direction—” He pointed to the West.</p>

<p>Daphne’s gaze followed the goblin’s finger with a longing look.</p>

<p>“—And the nearest road for the knight wagons is one kilometre that way.” He pointed in the other direction. “So we’d be best off to build that first before construction properly starts.”</p>

<p>A few minutes of sightseeing and questions later, Harry, once again, pulled out his trunk and had the girls and Ragnok descending into it for the trip to East Anglia. Harry had to actually put an arm around Daphne’s shoulder to lead her away from where she’d been staring westwards for the last few minutes, along with a whispered promise that they <em>would</em> come back sometime to see the herd.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>It took a many more than one apparition to arrive at their next location, on the other side of the country in the East Anglian county of Suffolk.</p>

<p>Hermione climbed out of the trunk, looking rather ill, while Luna, Daphne, and Ragnok seemed to fair better.</p>

<p>“Urgh,” Hermione groaned, leaning over while facing one of the massive hedge rows, as tall and a half as an adult wizard.</p>

<p>Harry rubbed her back.</p>

<p>“Looks very flat,” commented Daphne, still sounding a bit down, and indeed it did. They stood in a large field, the hedge Hermione was still using as a crutch to the West, and forest boxing them in to the North, East, and South. A dilapidated concrete control tower lay on the far side of the field.</p>

<p>After Hermione recovered somewhat, Ragnok led them onto a large concrete road that stretched from one side of the field, all the way to the other. “Used to be a muggle airforce base during Grindelwald’s war. Hasn’t been used since,” he informed them as they made their way through the property.</p>

<p>“You said the soil here was good?” asked Hermione.</p>

<p>“Yes, young vassal. The muggles have been alternating grazing cattle here for the better part of thirty years now. The soil here is <em>alive</em>.”</p>

<p>Harry couldn’t help thinking that the way the goblin had said ‘alive’ suggested white sheets, body parts, and lightning storms.</p>

<p>Luna crouched at the edge of the runway and pulled a wriggly thing out of the soil. “You’re right. Look.”</p>

<p>Hermione made a disgusted face and turned away. “How big is it?”</p>

<p>“As big as my hand.”</p>

<p>Hermione whirled back around. “I meant the land!”</p>

<p>Ragnok chuckled. “Fifty acres of field and another fifty of non-magical forest which gives you good sight blocking against the muggles.”</p>

<p>Daphne nodded “Any resources?”</p>

<p>“None known, just really good soil.”</p>

<p>“Ah.”</p>

<p>They spent the next few minutes pottering around, but there wasn’t much more to see. The control tower was sort of interesting and Harry suspected they <em>could</em> do <em>something</em> with it, but it would more likely just be levelled along with any other traces of the old airbase.</p>

<p>Eventually, Harry once again pulled out his trunk, beckoned the girls and goblin inside—in Hermione’s case, with quite some reluctance—shrunk it down, popped it in his pocket, wrapped himself in the invisibility cloak, and softly rose into the air.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>By the time Harry landed at their final destination, the sun hung almost as high as it was going to get. He stood on an island hilltop, which sloped gently downwards on one side and steeply downwards on the other. The gentle slope led to a long expanse of sheep grazing land, leading further to the ice-blue water’s edge, while the steep side angled down to a far more immediate side of sea. The ground was white — the snow, an inch thick. There were no trees.</p>

<p>He put his trunk on the ground and opened the lid.</p>

<p>Immediately, Hermione clambered out of the trunk and threw up on the ground.</p>

<p>Ragnok emerged next, followed moments later by Daphne and Luna.</p>

<p>“Wee! Snow!” Luna stepped out from the trunk, kneeled and lay on the gentle hill, and started to awkwardly roll down with another long, “Weeeeeeee!”</p>

<p>“It’s very pretty,” said Daphne.</p>

<p>Harry rubbed Hermione’s back again before quickly vanishing all the mess.</p>

<p>Hermione shook herself. “Urk. I hope we can find a better way to travel, because that… really doesn’t seem to sit well with me.” She looked at Harry with hopeful eyes.</p>

<p>Harry tilted his head. “Well… we <em>are</em> going to have to chain apparate to get back to Greengrass Manor to be in time for the hunt, but if we have more time next time we could just fly.”</p>

<p>Hermione nodded, slowly. “I think I would appreciate that.” She straightened herself and brushed down her robes before finally taking in their surroundings. “Wow.”</p>

<p>Harry had to admit that ‘wow’ did sum up the view quite well. The snow-covered island gave the impression of a misshapen pearl floating in a sea of sapphires.</p>

<p>Ragnok trudged over to where the two of them stood, using his war-axe like a staff to lean on. “Welcome to Gairsay. The ninety-ninth largest island in the Orkney Islands, just off the northernmost coast of Scotland. Hogwarts is just over two hundred kilometres that way.” He pointed out in the direction of another, larger island near their one. “Six hundred acres, just under one square mile. This hill is the highest point, just one hundred metres above sea level.”</p>

<p>Daphne now joined the small circle, leaving only Luna apart who was still enthusiastically rolling down the hill. “Can we get the floo network here?”</p>

<p>Ragnok nodded once. “Of course. We would not have suggested it otherwise.”</p>

<p>Daphne pointed. “And that island?” Her finger directed Harry’s gaze to a smaller round island that sat very close to Gairsay. “It’s very close to this one. Is that included too?”</p>

<p>“Yes, Heiress Greengrass. That is Sweyn Holm. It is roughly fifty acres. There is also a much smaller island out in the island’s natural harbour, Millburn Bay.” He swept his hand in the general direction in which Luna had now stopped rolling down the hill and was climbing back up to them.</p>

<p>Hermione rubbed her shoulders for warmth. “There aren’t any trees here. It doesn’t look like there’s a tree on any of the islands.” Her gaze fell on the much larger island that lay between them and Hogwarts. “Is that a problem?”</p>

<p>Ragnok waved it away. “Not at all. The farmland off the hill is very fertile and the correct trees will grow well.”</p>

<p>“Any known resources?”</p>

<p>“The island is made of red sandstone, which is supposed to be an attractive building material, although there is no quarry on the island, so you’d have to arrange for one.”</p>

<p>“Only red sandstone?”</p>

<p>“I understand a nearby island has a supply of granite, but anything else would have to be shipped from the mainland.”</p>

<p>Harry frowned. “What about that?” He pointed towards the side of the island where a small collection of buildings huddled.</p>

<p>“They’re the local muggles. Three of them. We’d give them compensation to move. That would be part of the land cost.”</p>

<p>Harry nodded. “Any magicals around?”</p>

<p>Ragnok pointed parallel to the big, Hogwarts-blocking island. “You can’t see it from here, but up that way there’s a colony of merpeople that live around one of the other islands.”</p>

<p>Luna joined them, robes and hair covered in snow. “We could visit them with gillyweed and trade with them. Merpeople are excellent fishermen.”</p>

<p>Hermione looked at Luna with a surprised expression.</p>

<p>Luna looked back with a warm smile on her face.</p>

<p>Harry stroked his chin. “Not a bad idea.”</p>

<p>Daphne nodded.</p>

<p>Ragnok then took them through the deal’s remaining details and by the time they were done Harry could certainly see how his plans could work on the island, despite the many difficulties in setting up home nearly nine hundred kilometres from London. Having said that, he could just as easily see those plans flourishing by the mountain lake or the abandoned airfield as well.</p>

<p>He waved the girls and Ragnok back into the trunk. Before he closed it up though, he climbed down himself and sat on the second to last stair. The girls and Ragnok watched him. He took a breath. “Girls, when we get back to Greengrass Manor and before I start making any decisions, I’d like to ask for each of your independent counsel on the three properties we’ve just visited.”</p>

<p>He looked between Hermione, Daphne, and Luna and got a round of slow head nods in return. “Right then. In that case, I suggest you take the time on the trip back to separately think about it and maybe make some notes.”</p>

<p>Another round of slow nodding.</p>

<p>He looked towards Ragnok. “Do you have anywhere else you need to be soon?”</p>

<p>Ragnok barked a laugh. “I can wait another thirty minutes at Greengrass Manor for your decision, if that’s what you’re angling for, Lord Slytherin.”</p>

<p>Harry nodded, thanked the girls, ascended the stairs, closed the trunk, and took one last look over the Scottish island landscape before shrinking the trunk, and turning his attentions back south for the chain apparition trip to Greengrass Manor.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>By the time he arrived back, invisible and soundless, the festival was well under way. Hundreds of witches and wizards of all ages walked around the Greengrass Manor grounds, exploring all the unique and quirky booths that had miraculously sprung up since earlier that morning.</p>

<p>He watched an older wizard playing a bagpipe, competing for attention with a wizard playing a piccolo only a dozen metres away. Both players were hampered though, by the next wizard, who wasn’t so much playing a one-man band, as watching the one-man band play itself, occasionally flicking his wand at it with a look of smug superiority.</p>

<p>Harry floated over them all, invisible and soundless, taking in all the sights and sounds. It would certainly be fun in future years to enjoy the festival as the teenager he would soon be, once he didn’t have to hide his familiarity with the Wizarding World anymore.</p>

<p>He flew around the back of the manor, touched down at the back door, let Ragnok out from the trunk, and wrapped several times on the door.</p>

<p>The same house elf from this morning opened it. “I is being sorry, sir, but guests are not being allowed—Oh, my apologies, please come in.”</p>

<p>Harry nodded, checking over his shoulder to see that no one had seen, which they hadn’t, and quickly darted into the large mansion. The door closed behind him and the sounds from the festival dropped to a quiet background level.</p>

<p>He made his way to the room he still occasionally used as an office. A few minutes later, he was sat in a big plush armchair with Hermione sat opposite him, recovered from her apparition sickness, and vibrating with eagerness, looking fully ready to take an end-of-year exam.</p>

<p>“Well, Harry,” She produced a piece of parchment. “I’ve written down all the pros and cons, compiled a list of attributes derived from them and given each attribute a weighting for importance. I then judged each of the three properties against these attributes and computed a total score for each. Umm…” she fiddled with a strand of hair. “My analysis says that the abandoned airfield would be the best choice.”</p>

<p>He regarded Hermione for a moment before reaching over. “Can I have a look at that, please?”</p>

<p>Hermione handed over the parchment.</p>

<p>Harry read. There were, in fact, a few pros and cons he hadn’t yet considered. “You know, I wouldn’t necessarily weigh these attributes in exactly the same way you did?”</p>

<p>Hermione quickly nodded. “Of course.”</p>

<p>Harry smiled. “Good, good, so long as that’s obvious.” He returned to studying the parchment. Occasionally, he asked Hermione a few more questions or asked her to expand on a few points. Eventually, he thanked her and she left through the office door.</p>

<p>Harry put the parchment down, walked to the trunk, opened the lid and helped Daphne out. Luna shouted something from within the trunk about being out of biscuits. Harry closed the trunk lid again, and the two sat opposite each other.</p>

<p>“So,” Daphne started.</p>

<p>“So,” he acknowledged.</p>

<p>“I really like the mountain lake one,” she continued. “I mean, the island one is nice too, but I see one really big problem with it.”</p>

<p>“Which is?”</p>

<p>“It’s too far away. Symbolically it’s too far away. It would be like we’d be saying to everyone that we’re not really part of Magical Britain, that we don’t want to be part. If we want to be the dominant power in Britain, that’s a problem.”</p>

<p>Harry nodded slowly.</p>

<p>“The flat one down south makes sense from a short-term point of view — it’ll be quicker to get set up, with the good soil and nearby road access — but it doesn’t have anything that can hold the imagination of people who visit it. We want people who come to say, ‘Wow!’. That abandoned muggle airport won’t give us that.”</p>

<p>Harry nodded again.</p>

<p>“And it’s also in a high muggle density area. Not as dense as the city, but dense enough that the ministry will be all over us for every little thing we might want to do. Want to start our own festival? Ministry approval in triplicate. Want to build a quidditch pitch? Five years planning approval first. If we can prove there isn’t that kind of risk, we can make far more of our own decisions.”</p>

<p>“An important factor to consider.”</p>

<p>Daphne nodded.</p>

<p>They talked for a little while more before they finished up. Daphne left to join Hermione, and Harry opened the trunk once more to fish up Luna.</p>

<p>The witch glided over to the chair opposite Harry and sat down.</p>

<p>Harry opened his mouth, but Luna beat him to it.</p>

<p>“Which place do you want to make our home in, my lord?”</p>

<p>Harry raised an eyebrow. “That’s what I want to ask <em>you</em> about, Luna.”</p>

<p>Luna smiled. “I want what you want, Harry.”</p>

<p>“Do you really mean that? Don’t you mean, ‘I want what’s best for you?’ In which case, what I want could be different to what you want, because <em>I</em> might make a mistake in my understanding about what’s in <em>our</em> best interests.”</p>

<p>Luna’s smile grew wider. “But you have twenty years of your own experience, plus over seventy years of Dark Lord memories to draw upon, whereas I have far, far less than <em>that</em>.”</p>

<p>Harry couldn’t help smiling in turn. “But I have only a finite amount of time per day to consider those decisions, the same total amount as everyone else, and each decision gets less and less consideration the more of them I need to make, and I make lots of decisions every day. For a decision as important as this one, doesn’t it make sense to take soundings, even from those who profess total confidence in the decision maker?”</p>

<p>Luna’s smile now threatened to split her face in two. “But might my input not dilute the quality of information you consider in your own thoughts?”</p>

<p>“It might, Luna, <em>if</em> I were asking for input only on <em>known</em> variables. But I’m asking for input with the express purpose of exposing variables I may have missed in my initial sweep.”</p>

<p>“My lord?”</p>

<p>“Yes, Luna?”</p>

<p>“Can we call our first daughter ‘Athena’?”</p>

<p>“Err…” Harry’s bullet train thoughts noticed the log on the track far too late and smashed right into it. “I… er… what?”</p>

<p>Luna rose from her chair. “I think you should consider which property already holds the most grand strategic potential, <em>and</em> which property will force you to develop <em>even more</em> grand strategic potential in the future. That’s my counsel, my lord.” She then skipped out of the room, closing the door behind her.</p>

<p>Harry stared at the door for an age while his brain rebooted.</p>

<p>Only Luna.</p>

<p>He turned back to stare at the just-vacated chair.</p>

<p>Grand strategic potential, mmm? He picked up Hermione’s analysis parchment and gave it the once-over again. Everything on there was important. Critical even, from a tactical perspective, and no one could argue that tactics weren’t mission critical. He put the parchment back down. Daphne made very good points too. The political, symbolic, and experiential aspects couldn’t be ignored. They would have to be worked with and around.</p>

<p>He pursed his lips.</p>

<p>Athena… the goddess of strategic warfare. Born of Zeus, king of the gods, and Metis, the goddess of intelligence, craftiness, and deep thought.</p>

<p>He continued staring at the wall for another age before finally standing up, making his way over to the door, and opening it. Hermione, Daphne, and Luna were all sat outside on straight-back chairs against the far side corridor wall, looking for all the world like hopefuls for a job interview.</p>

<p>Hermione and Daphne looked up as he closed the door behind him. The sounds of the festival still filtered into the hallway through the thick manor walls.</p>

<p>Harry cleared his throat. “Okay. I’ve come to a decision.”</p>

<p>Hermione looked eager. Daphne looked hopeful. Luna just looked as peaceful as ever.</p>

<p>“We’re going to build Slytherin Manor on Gairsay Island.”</p>

<p>Daphne’s eyes flashed disappointment for a moment before her jaw firmed and her eyes steeled in determination. She nodded.</p>

<p>Hermione looked momentarily surprised before quickly turning enthusiastic.</p>

<p>Luna just continued to look peaceful.</p>

<p>“We’re going to have at least one more session with Gringotts to confirm the architectural drawings before Hogwarts starts again. If we think of any more changes, we can add them then.”</p>

<p>Daphne stood up. “Would you like me to take our decision to Ragnok? Father came by a little while ago to say he was in the round house drinking them dry.”</p>

<p>Harry smiled. “Yes. Thank you, Daphne. And we’ll need to also get ready for the hunt.” He looked out of the window. The sun was now at its low winter apex. “It will surely be starting soon.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John Potter walked over the frosty grass of Greengrass Manor wearing the special riding robes his mother had picked up for him last summer, and which she’d put particular effort this morning into making sure he wore properly, despite his half-hearted protestations that he knew how to do it himself.</p>

<p>He made his way over to the long row of horse boxes, now at the back of the manor, facing onto the vast expanse of Greengrass forest, and walked up to the one box bearing the Potter crest.</p>

<p>“You ready, Son?” His dad greeted him at the box gate.</p>

<p>John rolled his eyes. “Yes, Dad, I <em>am</em> ready.”</p>

<p>“Because I know how it is when it’s your first time, you know.”</p>

<p>This wasn’t his first time.</p>

<p>James Potter nudged him in the ribs. “And you’ll even be chasing your old man.”</p>

<p>“Good. I was just thinking my bedroom could use a set of antlers.”</p>

<p>James Potter clutched his chest. “Oh! What a shot!” He grinned.</p>

<p>John gave a tight smile. “Just keep an eye out for Malfoy, yes?”</p>

<p>James smiled back. “No one is going to try anything during the hunt, John. They’d be mad to. We don’t go around chasing each other, and firing spells willy-nilly, alone in the woods, without precautions.”</p>

<p>John nodded.</p>

<p>James wandered off to see to something else.</p>

<p>John unlocked the box, walked over to Sandy, his three-year-old palomino, put the saddle over her back, and watched all the buckles, straps, and bridle snake their way around and across Sandy’s body, neck and head. He shuddered as the serpentine metaphor slithered its way through his brain.</p>

<p>Urgh. Rumours had it that Lord Slytherin was going to be here this year, too. Was it any coincidence that Slytherin choose his first hunt to also be <em>his</em> first hunt? Slytherin seemed far too enmeshed in his problems — the man was the first difference he’d spotted in the world when he came back. Everything seemed to always come back to him, even, he suspected, his brother. If he could catch Slytherin alone during the hunt… oooo did he have some questions for that man.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Daphne!” Tracey spluttered.</p>

<p>“Hi, Trace.”</p>

<p>“What <em>are</em> you wearing?”</p>

<p>“Riding robes, isn’t it obvious?”</p>

<p>“<em>You’re</em> going on the hunt?”</p>

<p>Daphne smiled. “Yes.”</p>

<p>“Your father is <em>letting</em> you?!”</p>

<p>“Well, it’s more that my lord suggested it, and father accepted that since I was already betrothed it wasn’t up to <em>him</em> to stage-manage my image.”</p>

<p>Tracey cast a look into the dark, thorny, overgrown mass of oppressive plant life that made up Greengrass forest. “Rather you than me, Daph.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Lord Slytherin walked through the crowd of the Greengrass Winter Festival like a prophet parting a badly dressed sea. Everywhere he went, fingers pointed and voices dropped to a hushed whisper.</p>

<p>It was the first time he’d appeared at a semi-public event rather than the more exclusive ‘invite only’ gatherings of the past three years, so this wasn’t at all surprising.</p>

<p>An enterprising man wearing a quirky hat and a nervous grin held out a hand full///handful of three small and golden balls as he walked past. “Snitch shooting, milord? Hit three snitches in ten spells and win a prize? Only six knuts?”</p>

<p>The crowd held its breath.</p>

<p>Harry smiled under his mask. The man looked like he enjoyed his breakfasts as much as Uncle Vernon, although the effect on him was more red jolly dwarf than red angry star.</p>

<p>“Sure, why not?”</p>

<p>The crowd let out its collective breath. He handed over the money. The special, short-range snitches were released, and Harry picked all three clean out of the air with his first three shots.</p>

<p>Nervous clapping broke out among the watchers — the kind of clapping which believes that the future of its originators could well depend on being seen to be clapping this particular wizard at this particular time.</p>

<p>“Y-y-yes,” the jolly man squeaked. “W-w-well done. Pick a prize?”</p>

<p>Harry nonchalantly picked out a large, fluffy plush-toy snake in green, red, and purple, which proceeded to curl its way up and around his body before resting its head on his shoulder.</p>

<p>“It looks… err… good on you.”</p>

<p>Harry tickled the snake under its jaw eliciting a kind of happy hissing sound. He could feel his parselmagics reaching out to the toy, coiling around it, making it more snake-like, more real. A slight femininity seeped into the hiss. He smiled. “I do believe, that this one is a she.”</p>

<p>“Umm… Right… yes, milord.”</p>

<p>Harry walked away, leaving a staring crowd and one nervous wreck of a stall keeper. He turned the next corner, saw the path running to a dead-end, and was just about to turn back, when a slight, short, and distracted figure, dressed all in black, stalked around another corner and stopped, wide-eyed in front of him.</p>

<p>He smiled. “Ah. Good afternoon, Heiress Black.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Not like that, like this.”</p>

<p>“I <em>do</em> know how to do it. I took riding lessons when I was younger.”</p>

<p>“Not with magical riding gear, you didn’t.”</p>

<p>“It looks the same.”</p>

<p>“Look, just put your foot <em>here</em>…. No. <em>Here</em>!”</p>

<p>“I don’t know… Ack!”</p>

<p>“You see! <em>That’s</em> why I said, ‘<em>here’</em>!”</p>

<p>“Are you getting up, or not?”</p>

<p>“Yes, just scoot down.”</p>

<p>“What? I thought <em>I</em> was going in front.”</p>

<p>“No. <em>You’re</em> going to concentrate on the spell work.”</p>

<p>“Fair enough.”</p>

<p>“Watch out.”</p>

<p>“Argh! Warn me first next time!”</p>

<p>“I did!”</p>

<p>“A split second before your boot almost took my head off.”</p>

<p>“Quit whining and hold on — Eep! — Not there!”</p>

<p>“Then where?”</p>

<p>“The saddle handle!”</p>

<p>“What? You mean this bit that looks like a boy’s thing?! I’m not grabbing that!”</p>

<p>“Fine, then! Around the waist, if you must.”</p>

<p>Moments later, the stable door opened by magic and a beautiful white horse clopped out carrying a mildly ticked Daphne Greengrass, being held around the waist by a slightly frazzled Hermione Granger.</p>

<p>The pair of witches bumped and rocked their way out of the stables, past the line of portable horse boxes, through the crowded gardens, all the way being cheered and waved at by the festival goers, and down to the edge of the Greengrass forests, where close to forty other witches and wizards — mostly wizards — milled around astride horses of every breed and size.</p>

<p>Daphne cast her gaze across the gathering. There was her father, sitting in the front of the pack and carrying a large horn. There were Lords Malfoy and Nott, sitting astride Arabian horses of fairest chestnut-gold. There was Lord Lovegood, and Lord Woodcroft, two of the Gray’s staunchest allies. And in the middle of the pack, dressed in full dragon hide and still wearing her monocle, was Regent Amelia Bones, head of the DMLE, riding next to one of the few non-nobles present, Lyndsea Morwenna, the founder of Witch Weekly. The two stood out for being the only other witches, apart from herself and Hermione, in a sea of testosterone.</p>

<p>Daphne briefly wondered what the monocled witch thought of their being allowed to use their wands for the event. Regent Bones was well known to be as straight as an arrow and she couldn’t imagine a privileged exemption like this sitting well with the incorruptible woman.</p>

<p>She was jolted out of her wonderings by a most unwelcome voice.</p>

<p>“What is <em>she</em> doing here?”</p>

<p>Daphne turned to see Draco Malfoy trotting over, waving his hand towards them, and glaring daggers at Hermione.</p>

<p>“Heir Malfoy,” Hermione called out from right behind her, “A pleasure, as always.”</p>

<p>Daphne smiled.</p>

<p>Draco wheeled his horse back to the pack, saw no one was objecting, scowled, and turned back. “Well, I hope you can both keep up. This is a <em>wizard’s</em> game.”</p>

<p>Daphne sniffed. “I’m sure we will do just fine.”</p>

<p>“Indeed.” Zacharias Smith rode up, also wearing full riding robes, but accentuated in places with what could only be described as actual steel armour. By his side, hung a long, ornate war hammer. He reined in what looked like a Morgan, causing Malfoy’s own Friesian to take a startled step to the side. “I’m sure the ladies will more than hold their own.”</p>

<p>“Well spoken,” said a recognisable male voice from behind her.</p>

<p>Daphne smiled, turned, opened her mouth to reply, saw what she saw, closed her mouth again, and gawked.</p>

<p>Harry sat astride the older brother of her and Hermione’s horse, wearing full riding robes, as expected, and a huge fluffy toy snake, curled all the way around him, which was not. “I was held up,” he said. “Ran into an acquaintance.” He nodded towards Malfoy and Smith. “Run along boys. I need a few moments with the girls here before they go off.”</p>

<p>Draco and Zach turned away reluctantly and trotted off in the direction of the other first-time riders, where John Potter seemed to be trying to encourage a nervous-looking Neville Longbottom.</p>

<p>She turned back. “My lord?”</p>

<p>“Daphne,” Harry started, “I know you were disappointed about the thing from before, so when I saw this I couldn’t help thinking of you.”</p>

<p>Daphne felt herself go red.</p>

<p>“Here you go.”</p>

<p>The fluffy snake unwrapped itself from Harry’s chest and slid down his arm to her’s</p>

<p>“I — Ah — Thank you? My lord.”</p>

<p>It wrapped itself along her arm, and coiled and hugged itself around her chest.</p>

<p>Harry nodded and trotted off to the front of the pack.</p>

<p>Behind her, Hermione giggled. “So, now you have a fluffy toy snake.”</p>

<p>“Quiet.”</p>

<p>“I’m sure all the boys will take us seriously now.”</p>

<p>“Quiet.”</p>

<p>“Well, I’m not complaining — it’s more comfy than your back.”</p>

<p>“I’m <em>sure</em> our lord just won it at a stand and gave it to me to get rid of it.”</p>

<p>“Oh, I’m <em>sure</em>.”</p>

<p>The two sat in silence for a moment.</p>

<p>“So,” Hermione began, “I <em>won’t</em> find it in your four-poster back at Hogwarts?”</p>

<p>“Quiet.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry brought his horse up to the front of the group and exchanged nods with Xeno and Jacob.</p>

<p>“Alright!” Jacob called out.</p>

<p>The assembled horsemen all turned to him.</p>

<p>“It’s getting late, so I won’t bother you all with needless babble! You know the rules! These here are our animagi for the hunt!” He gestured behind him to where six people quietly emerged from the trees.</p>

<p>Harry narrowed his eyes. James Potter stood among the six. If he could, he wanted to get him alone. This would be his first real opportunity to approach his father in such a way as to not seem engineered. In all his twenty-four years of living, he’d never actually exchanged a single sentence with him.</p>

<p>“They will now all transform!”</p>

<p>James Potter turned into a huge stag, just as the others turned into their respective animals — Lord Black into a grim, Lord Saumual Parkinson and his younger brother, Robert Parkinson, both turning into wild boar, Pandora Lovegood into a flying squirrel, and Rebecca Ogden, the daughter of Lord Ogden and consort of Devlin Whitehorn, into a grey wolf.</p>

<p>“They will now have a ten minute lead — on my horn blow!”</p>

<p>Lord Greengrass raised the horn to his lips and a long, loud and deep rumble sounded across the group.</p>

<p>The animagi scattered.</p>

<p>The hunt was on.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In a small part of the forest, the mists hung low over the tops of the trees, filtering through the canopies and kissing the lower branches. Dead leaves littered the floor and occasionally rustled in an opportunistic wind. In the far-off distance, a second horn blow faded in and out of being like a wolf howl on a silent night.</p>

<p>The leaves rustled again, and any passersby would’ve felt it in the ground — the tiny vibrations coming up through their limbs. The vibrations grew, causing leaves on the very tips of trees to shake, ever so slightly, like the silk trip lines on a spider’s web.</p>

<p>The vibrations grew some more, and now sound filtered through the wood — the distinct rumble of an approaching host, quiet now, but still growing.</p>

<p>Then, suddenly, the rumble seemed to explode, and the thunder of well over a hundred ironshod hooves rocked the forest, pounding the ground and shredding the many low-hanging trees as the hoard flew through. Shouts, calls, incantations, wand flashes, the sounds and raw emotions of over three dozen hunters chasing their prey — it all crashed past, on and on, never seeming to stop.</p>

<p>Harry urged his horse on, the branches whipping at his face, thorns tearing his robes. He snapped his wand towards one low hanging branch and blinked as a half-dozen other cutting curses joined his own to tear apart the obstruction.</p>

<p>The path twisted and turned, a ditch here, a bush there, now a fork. He glanced behind him to see the hunt splitting in two. The path forked again, and again the hunt split, fanning out into the forest on their own separate trails. Soon, he was alone. “Animagus revelio!” his wand flashed, but nothing happened. The sun was still up, but it <em>was</em> winter. Soon it would be dark, and sunset marked the end of the hunt. He grunted and urged his steed into motion, deeper and deeper into the forest. He had a stag to catch.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Animagus Revelio!” Hermione cried out over the thunder and jerking motion of their horse, holding onto Daphne as tightly as she could with just one arm.</p>

<p>“Anything?” Daphne shouted back.</p>

<p>“Nothing!” Hermione craned her head to see behind her. They were alone. “We’ve lost the others!”</p>

<p>“Good!”</p>

<p>“Good?!”</p>

<p>“More chances for us!”</p>

<p>They crashed on, jumped a stream, and soon found themselves climbing.</p>

<p>The sun overhead had started to fall.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John Potter drove his horse harder and harder. “C’mon Neville!”</p>

<p>“John, I…” Neville dodged a tree branch. “I don’t think I can keep this up!”</p>

<p>“Yes, you can!”</p>

<p>On either side of them, seemingly from nowhere, Malfoy and Nott appeared on their black steeds, now matching them stride for stride. John cursed.</p>

<p>“Need a rest, Potter?” called Malfoy.</p>

<p>“Shove it, Malfoy!”</p>

<p>“Longbottom there looks like he needs it!”</p>

<p>“Shut up!”</p>

<p>The four horses matched each other, burst into a clearing, and were immediately joined by one more.</p>

<p>“Thought I’d lost you lot!” shouted Zacharias Smith from the other edge of the clearing, the weak sunlight reflecting off his bits of steel armour.</p>

<p>“Why are you going that way?” shouted Malfoy.</p>

<p>“No reason!”</p>

<p>“Bullshit! Theo!”</p>

<p>“Animagus Revelio!” A bright light glowed from the Nott heir’s wand tip. “There’s one in his direction!”</p>

<p>John cursed again. “Neville! C’mon!”</p>

<p>The four horses bolted in Zach’s direction, who wielded his horse around and took off at a fast canter, feet kicking furiously.</p>

<p>Up in the sky, the sun fell another few degrees.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry’s wand tip glowed, information flooded his brain with a whole lot of nothing. He growled, jumped his horse over a brook and tried again. Again, nothing.</p>

<p>He slowly brought his horse to a stop and took stock. The path branched off in four directions, two led back the way he’d come, one made its way up a steep hill. Harry firmed his jaw and urged his horse along the last path, the one that took him towards the thicker growth of trees and bushes.</p>

<p>He raised his wand again. Again, it glowed. His eyes snapped wider. There! He had one! Heart racing, he followed the path indicated by his magic. It was still only a one-in-six chance, but Fate <em>was</em> on his side, after all.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“There! I have one!” Hermione frantically pointed to their right.</p>

<p>Daphne reined in their horse and pointed her in the direction she’d indicated.</p>

<p>“About time!”</p>

<p>Hermione flung her arms around Daphne as they sped up again. “Animagus Revelio!” Her wand flashed again. “Straight on!”</p>

<p>They thundered on through the forest.</p>

<p>“Animagus Revelio!” Another flash. “Go right!”</p>

<p>Daphne craned her neck. “We can’t go right!”</p>

<p>“We need to!”</p>

<p>“You want us to jump <em>that</em>?!” Daphne gestured at a large creek to their right.</p>

<p>“Can’t we?”</p>

<p>“No!”</p>

<p>“But then, what do we—?”</p>

<p>“Look! It’s narrower up there!”</p>

<p>Hermione whipped her head around. “Fine!”</p>

<p>One awkward creek crossing later and the trees were once more flashing past them in a blur.</p>

<p>“Animagus Revelio!”</p>

<p>Light flash.</p>

<p>“Left!”</p>

<p>Daphne steered left.</p>

<p>“Animagus Revelio!”</p>

<p>Light flash.</p>

<p>“Straight on!”</p>

<p>Daphne steered straight on.</p>

<p>“Animagus Revelio!”</p>

<p>Light flash.</p>

<p>“WHAT?!”</p>

<p>Daphne winced. “What?!”</p>

<p>“Back the way we came!”</p>

<p>Daphne looked around, startled. “But that must mean we passed them!”</p>

<p>“Yes!”</p>

<p>They turned around.</p>

<p>“Animagus Revelio!”</p>

<p>Light flash.</p>

<p>Hermione said a bad word. “Stop! Stop! It’s back that way again!”</p>

<p>Daphne reined in their horse and took a long, deep breath. “Maybe now would be a good time to stop shouting like madmen.”</p>

<p>Hermione flushed. “You’re probably right.”</p>

<p>A flash of light grey passed her vision up the trees. “There.” She whipped her wand upwards and fired the special stunner. It didn’t even get half the distance between them and the shape before fading. The shape climbed even higher into the trees.</p>

<p>Daphne’s voice dropped to a whisper. “Pandora. It’s Lady Lovegood.”</p>

<p>Hermione nodded. “On foot from here?”</p>

<p>“For the moment, yes.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Five sets of hooves pounded through another clearing.</p>

<p>John cursed, again. Their prey was as elusive as the wind. He could swear he was catching glimpses of a large dark shape disappearing behind trees and bushes, but whenever he passed them, their quarry wasn’t there.</p>

<p>Malfoy was shouting at the top of his lungs. Neville looked ready to pass out, but his family ally <em>had</em> refused to give up. Nott and Smith had settled down into the quiet focus of hunters on the chase.</p>

<p>They thundered through another unfortunate set of bushes and into yet another clearing. John’s stomach lurched and all five forcibly reined in their horses, causing them to slip and skid over the frosty ground.</p>

<p>On the other side of the clearing stood a huge black dog — a grim — Uncle Sirius, hackles raised, head low to the ground, and growling a deep, guttural warning of imminent death to all foolish enough to approach. He’d never met him during any of the hunts in the last timeline. It was a very different sight to the lovable dog he’d played with as a toddler.</p>

<p>Malfoy gave a nervous chuckle. “Dog food anyone?”</p>

<p>John shot Malfoy an incredulous look. If <em>that</em> was the blonde’s witty quip he must be even more nervous than he looked.</p>

<p>Sirius let out a bone-chilling bark that promised a bone-crunching future, turned, and leapt into the forest.</p>

<p>John shouted “After him!” at exactly the same time as Malfoy did, and all five of them spurred their horses, once more, into action.</p>

<p>As they crashed through the outer bushes and back into the wood proper, John couldn’t help noticing that the ground, faithfully and reliably flat up till now, was getting noticeably and worryingly steeper.</p>

<p>Far above them, the sun had passed the halfway mark, and was settling in for its performance finale.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry charged through the forest, eyes firmly on ‘the prize’.</p>

<p>The prize had its eyes firmly ahead, swiftly and expertly dodging every stunner he sent its way.</p>

<p>The powerful and majestic form of Prongs kept level pace with his own horse, both playing a dangerous game of chicken, neither willing to back down, each occasionally drawing level with each other, occasionally falling back, sometimes losing sight of the other, but always finding it again by the next path crossing.</p>

<p>Prongs flowed from tree to tree like rapids flowing through a whitewater river.</p>

<p>Harry ploughed through the undergrowth like a Ukrainian Ironbelly, banishing whole shrubs unfortunate enough to get in his way. He sliced through yet another low branch, ducked, and watched it whip away behind him.</p>

<p>Prongs drew level with him again and for just a moment, Harry caught his father looking straight at him, deer eyes gazing into blank mask, before veering off to the right and forcing Harry to change path again.</p>

<p>On and on it went. They ran through too many clearings to count. They jumped a small stream and scrambled around enough corners to make Merlin knew how many figure eights.</p>

<p>The sun was getting dangerously low now, sky threatening the landscape with hints of red and orange.</p>

<p>He blasted through one more shrub and his stomach lurched. He watched in slow motion as the stag leapt onto the path <em>right</em> in front of him. No thoughts passed through his brain. Time seemed to slow as he raised his wand at the deer’s flank. One red stunner shot from the tip of his wand and flew straight and true. There was a startled ‘MWAAA’ sound, Prongs collapsed on the floor, and a set of magical fireworks shot up from the downed animagus, signalling his capture and removal from the hunt.</p>

<p>Harry reined in his horse and felt his heart beating in his chest like a thunderstorm on a windowpane. The adrenaline coursing through his body started to subside to be replaced with a vague uneasiness.</p>

<p>He dismounted, tied the reins to a nearby branch, walked over to where his father lay on the ground, and squatted down next to him.</p>

<p>He let out a long, long breath.</p>

<p>The dementors had long ago driven out the need to belong to this man’s family. He had his <em>own</em> family now. His resentment had also dulled over the years, but it was still there. The need to know, however — the need to know still burned as strong as ever. He knew he wasn’t going to get the answers he wanted today, but still, even a hint would be nice.</p>

<p>Harry stood up, walked a few feet away, turned back, leaned against a nearby tree, levelled his wand at the stag and cast a finite.</p>

<p>The stag opened its eyes, shook itself, and changed. Moments later, Harry stood face-to-face with Lord James Potter.</p>

<p>The Lord looked up at him and slowly got to his feet. “Huh. You got me.”</p>

<p>Harry nodded.</p>

<p>“I guess I should congratulate you. I’ve survived until the end for six years straight before this.”</p>

<p>“I’ll admit the chase was not nearly as easy as I thought it might be,” Harry said.</p>

<p>James Potter looked around the bit of wood they found themselves in. “We’ve never been formally introduced have we? Lord James Potter, Head of the Most Ancient and Noble House of Potter.” He walked over and extended his hand.</p>

<p>Harry looked at the hand for a few moments before kicking off from the tree and carefully extending his own. “Lord Slytherin, Head of the Most Ancient and Noble House of Slytherin.”</p>

<p>They shook.</p>

<p>James Potter tilted his head. “No first name?”</p>

<p>“You know, I prefer to go by just my last name.”</p>

<p>James Potter raised an eyebrow. “I know very little about you. No one does.”</p>

<p>“We all have our little mysteries, Lord Potter. I dare say you have a few of your own.”</p>

<p>“Not me.” He smirked. “I’m an open book.”</p>

<p>“Ah, so you’d be fine for me to make use of the Potter library whenever I have need of it then?”</p>

<p>James Potter sucked his breath in through his teeth. “Argh, that’s different. You <em>know</em> that family magic can be quite finicky about who uses it.”</p>

<p>“Mmm, quite.”</p>

<p>“Something that’s always annoyed my wife, that. She’s convinced that the whole old families keeping their magic to themselves tradition is unfair to those new to our world.” James looked sideways at him. “You support muggleborn rights, don’t you? So hard to tell, you see.”</p>

<p>“I think there’s nothing wrong with families maintaining a legacy to pass on to their heirs. What I <em>do</em> believe is wrong is not allowing those new to our world to build up their own legacies.”</p>

<p>“What do you mean?”</p>

<p>“Do you know who I think is the number one enemy of muggleborns after the death eaters?”</p>

<p>James shook his head and made a ‘go on’ motion.</p>

<p>“The approval committee for experimental charms — a committee that your own wife has, in the past, sat on.”</p>

<p>James choked. “That’s ridiculous.”</p>

<p>“Is it? Our society is based around magic. Magic is used in everything we do. In our businesses, magic replaces technology as one of the key advantages, and yet you need a damn law degree to understand the process for being allowed to even <em>experiment</em> with the magic that <em>might</em> help you create something new to bring to market — to even <em>start</em> the process of building a legacy to pass on to the next generation. How many approvals from that committee are given to muggleborns, or even second-generation half-bloods? I doubt anyone would accuse the Lady Potter of blood bigotry. I invite her to crunch the numbers for <em>her own</em> <em>tenure</em> as a committee member and see for herself.”</p>

<p>James Potter looked at him in silence for a moment before responding. “You… sound like you’ve put a lot of thought into this.”</p>

<p>Harry waved a vague hand. “I’ve had a lot of time to think.”</p>

<p>James smirked. “Bit of a loner in school were you?”</p>

<p>Harry looked up sharply, still hidden by the mask. “I believe you are close friends with Lord Chief Auror Sirius Black? I was in a situation sort of similar to what he had with <em>his</em> family.”</p>

<p>James sucked in his breath. “Ooo <em>that</em> sucks… I’m sorry.”</p>

<p>Harry couldn’t help but say nothing, just for a moment, before responding. “…Are you really? …I doubt that.”</p>

<p>James frowned and looked away.</p>

<p>An uncomfortable silence descended on the pair.</p>

<p>Eventually James broke the silence. “Shall we be getting back? The sun will be setting soon.”</p>

<p>Harry loosened his shoulders. “Yes.” He turned away from his father and back towards his horse. “Let’s.” He untied the reins from the tree, put his foot in the stirrup and allowed the magic to yank him up to the saddle. He turned back and found the man replaced with Prongs, who trotted on ahead, and disappeared into the brush-growth.</p>

<p>Harry watched the empty space for a few moments and frowned. Conversations were sometimes too much like riding a wild animal. You could try to steer them in the direction you wanted to go, but you couldn’t force them, and you so often ended up miles away from where you intended to be.</p>

<p>Oh well.</p>

<p>He slowly shook his head, clicked the reins, boot-tapped his horse’s flanks, and quietly began the slow and peaceful trek back to Greengrass Manor — back to his <em>actual</em> family.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Elsewhere in the forest, an epic battle for supremacy was raging.</p>

<p>“Get back here you damn squirrel!”</p>

<p>Pandora Lovegood soared overhead, landed in a tree several dozen metres away, and chitted at them, clinging upside-down to the far up tree trunk.</p>

<p>From atop their horse, Daphne swung her legs in frustration, wishing desperately that she’d brought Freekey along with them. “How are we supposed to <em>do</em> this? It’s too far up to use the official stunner, accio isn’t working and probably wouldn’t count anyway, and neither of us are <em>that</em> good at climbing!”</p>

<p>From the ground where she’d just completed her umpteenth hundred-metre sprint, Hermione took deep, panting breaths. They’d been chasing the rodent for what seemed an age. Pandora was <em>clearly</em> playing with them, coming down low enough for them to reach her before dashing back up when they got too close. “What” *pant* “would our” *pant* “lord do?” *pant*</p>

<p>Daphne grimaced. “Fly up and tag her? Cut down every tree in the forest? Send a horde of snakes up to grab her?”</p>

<p>They looked at each other.</p>

<p>Daphne looked down at her shoulder.</p>

<p>The fluffy toy snake looked back at her.</p>

<p>“Um…” Daphne took a deep breath. “As the future Lady Slytherin, I <em>command</em> you to hunt that squirrel!”</p>

<p>The toy snake tilted its head, but didn’t move.</p>

<p>Daphne looked back at Hermione.</p>

<p>Hermione shook her head. “If parseltongue even <em>is</em> family magic, I don’t think you get it until you’re <em>actually</em> married.”</p>

<p>Far on the other side of the clearing, the squirrel taunted them with more chittering.</p>

<p>Daphne sighed. “At least we now know where Luna gets her… her…” She petered off.</p>

<p>“Her what?”</p>

<p>A look of pure evil crept over Daphne’s face. She smirked, pointed her wand at her throat and muttered, “Sonorous.” She felt the flow of magic going through her into the spell, felt the level, felt the flamelage. She grinned and repeated the spell on Hermione, earning a ‘what are you doing’ look from her fellow huntress.</p>

<p>“So, Hermione,” she jumped down from their horse, tied it up, took Hermione’s shoulders and started walking in the opposite direction from the squirrel, her voice booming over the clearing. “What did you think about that conversation we were having with Luna this morning?”</p>

<p>Hermione looked momentarily perplexed. “Which conversation?”</p>

<p>“Oh you know the one, the one about having children”—she reduced the flow of magic to their voice spells—“with our lord.”</p>

<p>On the other side of the clearing, the squirrel’s head shot up, suddenly totally focused on tracking their retreating backs.</p>

<p>Hermione’s eyes widened slightly. She nodded. “Oh. Oh. Yes,” she said, the words coming out slowly and deliberately. “You mean the one where she was asking about when we thought they should start?”</p>

<p>“Yes. That one.”</p>

<p>They continued to walk away, out of the clearing, and towards a rocky outcrop. As she went, Daphne continued to reduce the levels on the voice spell. “I mean, we wouldn’t want to give her the wrong kind of advice. You know how Luna is once she gets an idea in her head,” she continued, bullshitting wildly.</p>

<p>They hid right behind a large rock and Daphne reduced the voice spell to nothing.</p>

<p>They waited.</p>

<p>Suddenly, not two feet away, the squirrel dropped onto the rock.</p>

<p>“Now!”</p>

<p>They whipped their wands up, but before either could get off a spell, the squirrel leaped straight at Hermione, scrabbled for purchase on her robe arm, and bit her hand.</p>

<p>“Oww!”</p>

<p>Daphne tried to adjust, but wasn’t quick enough.</p>

<p>“Ouch!”</p>

<p>Both wands hit the ground.</p>

<p>Pandora leaped back onto the rock, turned, and smugly chittered at them in victory for a whole half a second, right before the fluffy snake lunged with the speed of a cobra strike.</p>

<p>There was a startled squeak sound.</p>

<p>Three seconds later it was all over. A firework shot into the sky and Daphne looked down at the now-stunned squirrel, currently wrapped up in the tight coils of her plushy toy snake. She nursed her hand.</p>

<p>“Here,” Hermione said. She took said hand and waved a spell over it. Moments later, the bite marks were completely gone.</p>

<p>“Thanks.”</p>

<p>“No problem.” Hermione looked down too. “Shall we?”</p>

<p>“Yes.”</p>

<p>Daphne reached down to her toy. “I, um, <em>command</em> you to return to me.”</p>

<p>The fluffy snake looked up at her and slowly climbed back up her arm until it was once again snuggly hugging her midriff and chest.</p>

<p>Hermione gave her a curious look. “You know, you <em>are</em> speaking English.”</p>

<p>Daphne shrugged. “No idea, then.”</p>

<p>Hermione frowned and pointed her wand at the squirrel. “Finite Incantatem.”</p>

<p>The squirrel instantly came back to life, shuddered, and changed.</p>

<p>“Well done, girls! Five points to Slytherin.” Pandora Lovegood beamed at them.</p>

<p>Hermione frown morphed to a wide smile. “Thank you, Lady Lovegood.”</p>

<p>“A well-played trick. I did not expect the toy. That’s something a Lovegood would’ve done.”</p>

<p>Daphne rubbed her hand, “Did you <em>have</em> to bite us?”</p>

<p>“Fair play, my future daughter-in-law. You were hurling some fairly hefty shots yourself.”</p>

<p>Daphne felt her cheeks heat up.</p>

<p>Pandora Lovegood’s eyes glinted. “So, tell me more about these ‘conversations’ you’ve been having.”</p>

<p>Daphne squirmed. She felt her cheeks flush. “It wasn’t really anything. Not really.”</p>

<p>“Nuh uh uh. You don’t get away that easily. You’re going to tell me <em>everything</em>.”</p>

<p>Daphne groaned.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John Potter’s reins bit into the palm of his hands like a shopping bag held all afternoon. He felt exhausted from the steep up-and-down landscape in this part of the forest.</p>

<p>The sun had almost set.</p>

<p>He, Neville, the two junior death eaters, and Zach seemed no closer either to catching Sirius or losing each other.</p>

<p>Neville pulled up alongside the dead tree where he and the other four had stopped to get their bearings and bicker at each other. Dead leaves festooned the tree’s base like a pebble beach. The Longbottom heir sighed. “I don’t think we’re going to find him before the sun sets.”</p>

<p>John didn’t want to admit it, but… “you’re probably right. I’ve just about had it with this forest.” Seriously, if he had to keep running after that damn dog, he was going to scream. He missed enemies who just stood and fought like that troll at Halloween.</p>

<p>Malfoy looked around. “Which way is Greengrass’s place anyway?”</p>

<p>John rested his wand on his palm. “Point me.” The wand swung to their right. “Well, that way’s nor—” He stopped. The wand swung back the other way, then it spun around rapidly in a circle.</p>

<p>The others all stared at it.</p>

<p>“You having problems there, Potter?” snarked Nott.</p>

<p>John growled. “<em>You</em> try it.”</p>

<p>“Fine, I will” Nott rested his wand on his palm. “Point me. …Oh.” Nott’s wand spun even faster than his own. “That’s weird.”</p>

<p>A wind blew through where they all sat on their horses.</p>

<p>John shivered.</p>

<p>“Err…” Zach looked around nervously. “Is it just me, or did it just get a <em>lot</em> colder?”</p>

<p>Colder? John’s mind screeched to a halt. “No. It couldn’t be, could it?”</p>

<p>Neville’s horse whinnied.</p>

<p>The frost on the ground suddenly started thickening, trailing up around them and all around the tree.</p>

<p>“What couldn’t be?” Malfoy asked, eyes darting around the darkening forest.</p>

<p>“Dementors,” John whispered, eyes widening.</p>

<p>Nott’s head whipped around, his voice low and urgent. “Don’t be ridiculous. There’s DMLE all round the forest edges, they’d <em>never</em> get in.”</p>

<p>“And all DMLE can fight dementors?”</p>

<p>“Well, no, but”</p>

<p>“The DMLE use dementors, for fuck’s sake!”</p>

<p>Smith looked around wildly, “We’re not getting all depressed, it can’t be them!”</p>

<p>“Then, what?!”</p>

<p>The wind picked up and blew away the leaves by their horses’ feet and the blood drained from John’s face.</p>

<p>They were all standing inside the edge of a huge triangle painted in blood — a triangle holding a circle of blood, bisected by a line, also painted in blood. The line ran straight through the decaying tree they’d stopped by. Blood runes covered all the lines in intricate patterns.</p>

<p>Nott’s voice lowered to a terrified hiss. “Death magic.”</p>

<p>Malfoy looked sharply at Nott. “How do <em>you</em> know?”</p>

<p>“It’s the Deathly Hallows — you know — The Three Brothers? The deal with Death?”</p>

<p>“It’s a dark ritual, whatever it is,” Neville turned his horse away. “We should leave, now.”</p>

<p>The wind seemed to pick up.</p>

<p>“No,” John said, his voice firm. “We should destroy the ritual triangle.” He drew his wand.</p>

<p>“Are you crazy?!” Malfoy shouted.</p>

<p>John aimed his wand at the blood. “Tergeo!”</p>

<p>The moment he felt his spell hit, wind blasted into them with the strength of a hurricane, stronger than anything he’d felt before, raw magic swirled around them, pressing on them, demanding their submission. John’s heart pounded in his chest. It was like that one time — that time in the graveyard.</p>

<p>“Shit!”</p>

<p>The sounds of panicking horses filtered through the background roar. John struggled to keep his under control. “What the hell was that?!”</p>

<p>Malfoy struggled over to him and shot him a look of terrified outrage. “You NEVER interfere in a ritual with outside magic! What the hell is wrong with you!?”</p>

<p>Then, suddenly, the wind stopped, not gradually dying down, but instantly halting as though someone had shoved an iron bar into a building-sized magical fan.</p>

<p>The five young wizards looked around at each other in the new silence.</p>

<p>“I think—” John began.</p>

<p>Something cracked.</p>

<p>Zach’s head snapped around. “What was that?”</p>

<p>Something creaked.</p>

<p>“We should go,” Neville said.</p>

<p>And a thick branch crashed into the ground not one foot in front of John’s face.</p>

<p>“Shit!” John found himself flung from his horse as it bolted. He landed on the ground and scrabbled back up, ignoring the shooting pain through his side. What he saw caused him to gape.</p>

<p>“RUN!” Malfoy screamed right as the dead tree in the middle of the ritual triangle uprooted itself from the ground, took a step that was all roots towards the Malfoy heir, and missed him by a country mile with another branch swing.</p>

<p>“Wait!” John aimed his wand at the sylvan monstrosity. Its eyes — yes, it now had eyes — were glowing ice blue. “We can take it!”</p>

<p>Zach had snatched up his war hammer and now blocked a smaller branch aimed at him. “Stupid Gryffindor!” He ran for it, along with Malfoy and Nott.</p>

<p>John ignored them and cast a diffindo. It glanced off the trunk resulting in a small scratch. Meh. He fired a more powerful cutting curse. Again, almost nothing. He tried a blasting curse. A small chunk of bark chipped off.</p>

<p>The dead tree turned to him.</p>

<p>Bah! John could feel his magic flowing from somewhere deep inside him through his body and down to his arms in an almost-continuous stream. The words flowed from his mouth just as easily. A cascade of spells, curses, hexes, and jinxes machine gunned their way to the monster in front of him.</p>

<p>“John!” Neville’s voice vaguely filtered into his brain. “Get away from it!”</p>

<p>The tree monster took another step towards him.</p>

<p>He could defeat this thing. It was basically just a walking tree, right? Sure, it <em>looked</em> scary, but it wasn’t even that <em>fast</em>. It wasn’t as though it was Voldemort, right?</p>

<p>“For Merlin’s sake!” Neville’s own stream of magic opened up to his left.</p>

<p>The thing slowly raised its largest branch.</p>

<p>He narrowed his eyes and took several easy steps backwards.</p>

<p>The branch descended… and lengthened.</p>

<p>His eyes widened in horror as the branch plummeted towards him.</p>

<p>“Accio Godson!” a voice roared.</p>

<p>He felt a yank, there was a loud thud by his ear, and mud flew in his face.</p>

<p>Sirius leaped in front of him wearing full auror gear, complete with huge circular iron shield.</p>

<p>“Lord Black!” Neville shouted.</p>

<p>“What the hell <em>was</em> that?” John scrabbled back to his feet again.</p>

<p>Sirius turned to him. “Just stay back!”</p>

<p>John flinched. Sirius looked furious.</p>

<p>The tree raised another branch and brought it down.</p>

<p>Sirius raised his shield and took the blow full on, crouching at impact, slashing his wand and severing the branch in one smooth motion. It fell to the ground with an unremarkable flunk sound.</p>

<p>The tree brought its new stump to its face, looking confused before letting out an ear-piercing screech.</p>

<p>Sirius made a motion with his arm, flicked the huge iron shield like a coin toss, caught the rim, and launched it, spinning furiously towards the tree, followed less than a moment later by a finite incantatem. The charm hit the in-flight shield and dispelled all its magics. In the last five metres before the shield hit the tree, a two-kilo, unbreakable, unsummonable, shield turned into a mere one-hundred-kilo, spinning disc of solid iron travelling at a respectable speed for a world-class amateur discus throw. It smashed into the tree to the sounds of splintering wood and screeching monstrosity, blasted straight through, and disappeared out the other side.</p>

<p>For a moment, the destroyed trunk balanced on itself before tilting and falling to the ground with an almighty crash.</p>

<p>The ritual triangle flashed a red light and vanished without a trace.</p>

<p>Sirius slowly got back to both feet.</p>

<p>John stared.</p>

<p>Neville, Malfoy, Nott, and Smith stepped out from behind various trees and bushes.</p>

<p>Sirius turned. “Right,” he growled, causing John to flinch again. “What the <em>hell</em> was going on here?”</p>

<p>John hastily launched into an explanation, helped occasionally by Neville and Smith. Malfoy and Nott stood to one side looking uncomfortable.</p>

<p>Sirius calmed down once he understood there was no way that any of them could have <em>actually</em> had anything to do with the ritual. He rubbed his chin and looked towards the shattered dead tree with worry. “Well, I don’t know <em>who</em> did it, but I do know this — these are among the darkest magics there are.” He turned to Malfoy and Nott. “I suspect even <em>your</em> houses would hesitate to dabble in them, but whoever did this tonight has <em>no</em> such compunctions.”</p>

<p>John glanced towards Malfoy and Nott and was surprised to see they weren’t even objecting.</p>

<p>Sirius clicked his teeth and looked back to the tree. When he next spoke, his voice was lower, more gravelly, the voice of a professional who’s seen everything, is seeing something right now, and isn’t liking it. “Whoever did <em>this</em>,” he tapped on the tree and sighed, “is going to be in trouble.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Twenty minutes later, John arrived back at Greengrass Manor just in time to hear the results of the hunt.</p>

<p>Greengrass and Hermione had caught Lady Lovegood. Lord Malfoy had caught Robert Parkinson, but Lord Parkinson had gotten away. Rebecca Ogden had also gotten away, despite leading over half the hunt on a wild chase for the better part of an hour. Finally and most annoyingly, Lord Slytherin had caught his Dad.</p>

<p>John tried, in turn, to catch Slytherin while he was chatting to Greengrass for a few moments afterwards, but he looked away for a moment, distracted by Smith waving his damn war hammer far too close for his liking, and when he looked back, Slytherin had vanished.</p>

<p style="text-align: center;">— End of Chapter Twenty-three —</p>

{    } [animagus hunt stunners/finite]: animagus hunt stunners are countered/undone with finite?

{ 351} [invisible and soundless]: appers twice in almost adjacent paragraphs, I would remove the first one
