Chapter 24 - Ginny Training in Dreamland

<p>[September 1st 1991]</p>

<p>Ginny waved sadly with one hand, eyes fixed on her identical twin brothers’ retreating smiling faces and waving arms as the Hogwarts Express chugged out of Platform 9 and 3/4 in all its scarlet metallic glory.</p>

<p>Harry was somewhere on that train and it was to him, more than anyone else, that she waved for now. Fred and George were fun. She liked them a lot. Ron had been a prat ever since she’d stopped worshipping John. Percy mostly ignored her, and when he did say anything to her, seemed inordinately focused on how her behaviour would reflect on the family.</p>

<p>Harry though, Harry was her anchor. Harry gave her something to live for, something to look forward to. Before Harry, she’d attached herself to John in the hope that he’d sweep her off to a world of adventure and romance, a hope that she now knew would never have happened. She’d have died. A soulless corpse on the damp floor of the Chamber of Secrets, briefly mourned, quickly forgotten.</p>

<p>Ginny’s eyes hardened slightly.</p>

<p>Harry wouldn’t let that happen. Harry had been training her and she was doing the best she could to learn everything he could teach her. She could now do wandless magic. Wandless magic! Bill couldn’t do wandless magic. No one she knew who wasn’t being taught by Harry could do wandless magic. Okay, the only spells she could use were stunners, the shield charm, the stinging hex, and finite incantatem, but it still made her swell with pride whenever she thought of it.</p>

<p>Harry was her prince charming, knight in shining armour, and wise old wizard, all rolled into one, and right now, said time-travelling hero was shooting away from her into the distance, further and further, until, finally, the last scarlet carriage passed a bend on the track and disappeared from view, leaving only the faint cloud of white smoke behind.</p>

<p>Ginny felt a squeeze on her non-waving hand, held in her mum’s unwaveringly firm grip.</p>

<p>“C’mon, Ginny, time to go. We’ll start on lunch as soon as we get back.”</p>

<p>She turned, looked up, and nodded forlornly. “Yes, Mum.”</p>

<p>They both made their way over to the station floo where a queue of wizard families waited for the floo.</p>

<p>Eventually, it came their turn. Her mum put three knuts into the floo powder dispenser, and Ginny caught her muttering, “Outrageous pricing,” before she was resolutely nudged towards the floo and sent on her way back home, quickly stepping out of the Burrow fireplace with what she hoped Harry would say was agility and sure-footedness.</p>

<p>When her mum joined her moments later, they immediately started preparing lunch, peeling potatoes and cutting up chicken breasts for brining.</p>

<p>Ginny knew her mum could do most of this by herself with magic, but she also knew her mum was intent on keeping her as busy as possible. It really wasn’t fair. Just like the broomstick Harry gave her that her mum and dad then confiscated. Ginny knew it was somewhere in the Burrow, but she hadn’t dared go look for it. She pouted. Not yet anyway.</p>

<p>She sat down at the table, ate lunch, and listened to her mum talk about Bill and Charlie, articles in Witch Weekly, and “I do hope Fred and George behave themselves this year, for goodness’ sake.”</p>

<p>Ginny laid down her fork and knife on her now clean plate. “Mum, I don’t suppose I could visit Luna this afternoon, could I?”</p>

<p>Her mum frowned from across the table. “No, Ginny, please stop asking. You’re still grounded and that won’t change until you start telling the truth.”</p>

<p>Ginny bit down a comment that she’d <em>never</em> lied, just refused to tell.</p>

<p>“The outside [[[walls need]]][[[wall needs]]] scrubbing. That should keep you until dinner.”</p>

<p>Ginny pushed back her chair, hopped off, and made her way outside, grumbling all the way.</p>

<p>The soapy water flowed through her hands from the sponge while she scrubbed the wall as hard as she could — no matter how silly it was assigning her this job when she could barely reach halfway up the wall’s window frame.</p>

<p>It wasn’t always going to be like this. Harry was on the warpath. Harry was going to push Slytherin House to be the most powerful house in the country, and she was going to help him, and, maybe one day…</p>

<p>Words spoken long ago floated through her head.</p>

<p>‘For better or worse, our fates are intertwined, decreed by the powers that be themselves.’</p>

<p>Ginny felt her cheeks heat up. She shook her head. Maybe, one day, yes, but focus now. A few hours later, she finished up her task, dumped the dirty water down the drain, and strolled down to the orchard.</p>

<p>She picked up a stick and thrust it out in front of her.</p>

<p>“Depulso!”</p>

<p>She ducked to the side.</p>

<p>“Impedimenta!”</p>

<p>She dodged an imaginary stunner.</p>

<p>“Petrificus Totalus!”</p>

<p>She pretend-stumbled backwards, and pretend-fell unconscious, just like she knew she would if she’d actually tried to use such a clunky spell against Luna in a real duel. Seven syllables was <em>far</em> too long, and she’d still never beaten Luna once.</p>

<p>Not that she’d had any chance to train with Luna since John ‘I-let-my-girlfriend-get-possessed-by-the-Dark-Lord-and-die’ Potter had ratted her out and she’d been grounded.</p>

<p>She play-duelled for a few more minutes before her mum seemed to realise she’d finished and called her in so they could go shopping for dinner.</p>

<p>They walked down to the local muggle shop like they usually did, her mum keeping a careful eye on her at all times. There <em>was</em> a magical food shop, but her mum preferred to shop muggle for food because it, ‘saved floo powder’.</p>

<p>They got back home and Ginny was dicing carrots, standing on a step so she could comfortably reach the kitchen counter, when her dad flooed in, leather bag bulging with loose parchments, face looking tired.</p>

<p>“Ah, dinner smells wonderful.” He kissed her mum on the cheek before turning to her. “How was your day, Ginny?”</p>

<p>“Fine, Dad.”</p>

<p>The three of them sat and ate, her mum and dad trading stories and anecdotes and occasionally asking her opinion.</p>

<p>“So, Ginny,”—her dad put down his glass of butterbeer—“are you looking forward to starting school again?”</p>

<p>“Yes, Dad. It’ll be nice to get out again.”</p>

<p>Her mum stood and started bustling plates and cutlery into the sink. “But you’re to be on your best behaviour, understood, young lady?”</p>

<p>She fought not to roll her eyes. “Yes, Mum.”</p>

<p>“And no visiting after classes — straight back here, understand?”</p>

<p>She grit her teeth. “Yes, Mum.”</p>

<p>“Good. You need to get ready then.”</p>

<p>Ginny pushed back her chair and retreated up the stairs.</p>

<p>“And no more giving Lady Potter attitude!”</p>

<p>This time she did roll her eyes.</p>

<p>She quickly found her books and parchments and stuffed them all into her school shoulder bag. She then reached to the hiding place under her bed, retrieved a tattered copy of one of Bill’s old school books that she’d found lying around one day, and snuck in an hour of reading before her mum’s voice loudly announced through the door that it was time to go to bed.</p>

<p>Ginny extracted herself from her worn and threadbare summer dress, pulled on her slightly less worn nightdress, and slipped into bed.</p>

<p>Soon, the whole house was quiet and the moonlight from outside bathed her room in a peaceful glow.</p>

<p>She reached to her neck and grasped the precious necklace that hung there, hidden and protected well enough to avoid the notice of even the most suspicious and nosy mother in the galaxy.</p>

<p>Ginny relaxed and snuggled as much as she could into her flat, thin pillow, and, mind flitting from scarlet trains, to castles, to a certain lightning-bolt-scarred boy with green eyes and black hair, slowly fell asleep…</p>

<p>…</p>

<p>…And then she opened her eyes. She was standing on a beach. A mild breeze whipped her hair. Seagulls cried overhead. Her nightdress had turned into a black Hogwarts robe just like she’d seen all her brothers try on and buy at the secondhand robe shop — except these looked new, and felt far smoother. Warm water washed over her naked feet and robes, sinking her feet into the sand, leaving a fine layer of coarse grains on her skin, and a creeping heaviness in her clothes.</p>

<p>“Hello, Ginny.”</p>

<p>She whirled around. “Harry!”</p>

<p>Harry caught her as she leapt at him and wrapped him in a hug.</p>

<p>She leaned back, grinning impishly. “Well? How did it go?”</p>

<p>Harry grinned. “Pretty well. We got the same ‘Harry Potter is to be left alone’ speech as last time, the girls held their own on the train, and John made a bit of a fool of himself by screaming that I stole you from him.”</p>

<p>Ginny’s eyes widened. “He really?”</p>

<p>“Yeah. He also attacked me with fourth-year spells.”</p>

<p>She snorted. “Wow. That’s real smart. ‘I’m totally not a time traveller! Oh look while I do all this insane stuff!’”</p>

<p>Harry smiled. “To be fair, being a long-term time traveller is so far outside the range of possibility that it’s extremely unlikely anyone, even Dumbledore, will come to <em>that</em> conclusion.”</p>

<p>“So, what are we going to do now?”</p>

<p>“We’re first going to get you used to training in dream space. Things can work a little differently here. It’s <em>almost</em> the same as training in the waking world, but not quite. It’s also similar to training in your mindscape, but with one major difference. Do you know what that is?”</p>

<p>Ginny shook her head.</p>

<p>“Here, <em>you</em> don’t make the rules, <em>I</em> do. This is important because in your mindscape, it’s very difficult to set up a resistance to yourself, which makes it difficult to train anything. If you want something in your mindscape, it just happens. You can’t practise duelling there on your own because the moment you ‘want’ your imaginary opponent defeated, he will be. It’s not impossible to work around that, but you’re not at that level yet.”</p>

<p>Ginny nodded.</p>

<p>“I’d also like you to fight a few more rounds with Luna while looking for things you need to work on. Self-analysis is an important part of training.”</p>

<p>“Okay. I can try to sneak out tomorrow night.”</p>

<p>Harry nodded. “Tomorrow night sounds good. Right!” He stepped away. “Let’s get this started then.”</p>

<p>A half-dozen wizards, all twice as tall as her, and all wearing death eater masks materialised around them.</p>

<p>Ginny’s eyes widened in shock.</p>

<p>“Move!”</p>

<p>The cloaked figures raised their wands.</p>

<p>She started to dive to the side.</p>

<p>“Crucio!” shouted from all sides.</p>

<p>A light shock passed through her body. She seized up and ploughed into the sand, unable to lift so much as a finger. She turned her still functioning head, spat out some salty water, and glowered at Harry.</p>

<p>Harry grinned down at her. “Fail!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny woke up the next morning fully expecting to feel like she’d been run over by the knight bus, but amazingly, when she patted herself down, she didn’t feel a single twinge or soreness. Dream training was amazing.</p>

<p>She kicked off her quilt and made her way downstairs to breakfast, where her mum peppered her with questions, comments, and extracted yet another promise that she would behave herself with Lady Potter.</p>

<p>The next few hours passed in a boring routine of washing dishes, collecting eggs, and helping her mum relabel various jars and bottles, until kitchen clock number two, which actually told the <em>time</em>, announced in a Yorkshire accent that it was almost ten o’clock and that little Ginny needed to be getting to school.</p>

<p>She headed back upstairs, changed into her going-out robes, grabbed her book bag, and dashed back downstairs, narrowly avoiding knocking a miniature Egyptian sarcophagus from a shelf that Bill had sent home a few months back.</p>

<p>Molly Weasley brushed an imaginary bit of lint from Ginny’s robes, took a pinch of floo powder from the mantlepiece, bid her stand in the grate, threw it into the fire, and called out, ‘Potter Manor’!</p>

<p>Ginny stepped out into the massive ballroom of the Potter’s and quickly made her way to the second floor, only to be met just outside their classroom by Lady Potter, or rather, ‘Lady Lily.’</p>

<p>Lady Lily spotted her and gave her a cheerful smile. “Good morning, Ginny. How are you? Did you enjoy your summer?”</p>

<p>Ginny regarded the woman who’d both ditched Harry with those horrible people and then didn’t so much as lift a finger to stop him being thrown in Azkaban with guarded eyes. “Bits of it could have been better, Lady Lily.”</p>

<p>“Ah, yes.” Lady Lily hesitated. “Well, you know your parents are just worried for you, don’t you?”</p>

<p>“Yes. I know.”</p>

<p>Lady Lily frowned, concern creasing her brow. “You can always come to me if you’re having any problems…”</p>

<p>“Thank you, Lady Lily.”</p>

<p>“…Even if you feel you can’t talk about them with your parents. You don’t have to face things alone.”</p>

<p>Ginny felt anger flash through her, but she clamped it down. She bit her tongue and said nothing.</p>

<p>Evidently some of Ginny’s emotions showed on her face, because Lady Lily took a step backwards and showed a brief look of sadness, before straightening up and adopting a far more formal air. “Well, Miss Weasley, class is starting soon. You’d better get in.” She indicated the open door beside her.</p>

<p>Ginny nodded and ducked inside. She sat by the windows towards the back of the room, which overlooked the Potter Manor quidditch pitch. Around twenty other children, aged six to ten, sat around, reading, working on worksheets, or chatting among themselves, showing each other pictures from their summer holidays and comparing souvenirs, accompanied by the occasional loud squeal or shout.</p>

<p>Soon the class got underway and Ginny fell back into her old routine of compartmentalising everything she didn’t already know in her occlumency library while thinking of other things and occasionally letting her magic seep out of her fingers to help train her toxin resilience on top of her occlumency.</p>

<p>That was, until Lady Lily brought out a black stick with a ring attached to the end and waved it around.</p>

<p>Ginny perked up.</p>

<p>“Who can tell me what this is?” Lady Lily asked.</p>

<p>A figure on the opposite side of the back row raised its hand.</p>

<p>“Yes, Miss Black?”</p>

<p>“It’s a dark magic detection device. My father sometimes gives them to people in his job.”</p>

<p>Ginny’s hand trailed to her necklace, almost without thinking.</p>

<p>“Excellent, well done.” Lady Lily waved the device again. “The DMLE uses these to check muggle places for magical items that have been created with the purpose of causing harm. Now, why would this help with that?”</p>

<p>A boy in the front row raised his hand.</p>

<p>“Yes, Mister Hargreaves?”</p>

<p>“Dark magic is magic cast with the intent to cause harm.”</p>

<p>“Exactly. That is what we call the magical definition of dark magic, as opposed to the legal definition. It is the responsibility of everyone in the magical world—that includes all you children—to ensure no bad magical items end up in the hands of muggles.”</p>

<p>A girl in middle raised her hand.</p>

<p>“Yes, Miss Fawcett?”</p>

<p>“What about normal magical items? Isn’t it bad if the muggles find them?”</p>

<p>Lady Lily put down the dark magic detector and treated Miss Fawcett to the smile teachers give students who’ve just given them a perfect subject transition opportunity. “Yes, and it’s important to keep magical items out of the hands of muggles, but most of the time, it isn’t a crime to let a muggle get a hold of one. Much like the entrances to the magical world, like Platform 9 and 3/4 and the Leaky Cauldron, wizards who make magical items, like chocolate frogs and gobstones, are required to build in anti-muggle magics into them that only run out when the magic in the product itself does.”</p>

<p>She turned and wrote on the board. “THE PLACE OF THE WIZARDING WORLD IN THE GREATER MUGGLE WORLD.”</p>

<p>They spent the next half an hour discussing how the magical world kept itself secret and how they were expected to help ensure it remained so. The general message was that everything was a-okay and that the magical world was totally on top of everything.</p>

<p>Ginny’s eyes, though, kept straying back to the dark magic detection device on the table. She just couldn’t help it.</p>

<p>Eventually, Lady Lily asked them if they had any questions before mid-morning break.</p>

<p>Ginny raised her hand.</p>

<p>Lady Lily looked mildly surprised. “Yes, Miss Weasley?”</p>

<p>“If something was originally charmed with intent to cause harm, but then someone else used the thing with intent to help or cause good, would the thing still read as dark magic?”</p>

<p>Lady Lily bit her lip. “A very good question.” She looked thoughtful. “I’m not sure, but I suspect it would depend on where the magic came from. If the magic came from a plant, it probably would. But if it was channelled through the wizard’s own magic, it probably wouldn’t. But, on the other hand…”—She tapped the desk with her chalk—“If the item was parasitic, and used the magic of someone other than the ‘user’, then I don’t know. It would probably change on a case-by-case basis, depending on…” She paused and seemed to realise she was rambling. “Well, anyway.” She put the chalk down and shuffled parchments. “It might. Thank you for the question. See you all after the break in twenty minutes.”</p>

<p>The class got up and made its way out of the classroom. Ginny made to follow them too, but not before catching the eye of a certain Black heiress, who quickly averted her eyes and pretended that she hadn’t been staring at her.</p>

<p>Ginny arrived back home later that afternoon to another pile of chores courtesy of a small group of cows who’d wandered onto Burrow land. Damn them. She’d just finished forking the resultant harvest into the now-steaming compost heap when her mum called her into dinner with orders to wash her hands no fewer than three times.</p>

<p>Straight after dinner, her mum handed her a shaft of wood with a sweep-bent bunch of twigs at the bottom and the news that today was floor-sweeping day.</p>

<p>Ginny fought back a scowl. Was she <em>trying</em> to mock her? What followed was definitely the most boring hour with a broom she’d ever had, and it wasn’t only last night’s all-night session with Harry that caused her to catch a nap straight after.</p>

<p>Later that night, Ginny laying in bed, staring at her bedroom ceiling, and listening for the telltale lack of sound that would indicate her parents had turned in. When she was sure they’d fallen asleep, she quietly slipped out of bed and got back dressed, pulling on the rag-tag assortment of muggle and wizarding clothes, which she charitably called her duelling outfit. Tonight, she swore, Luna was going down.</p>

<p>She opened her bedroom door without a creak. The landing was silent. Ginny knew all the stairs by heart and her descent was as quiet as her stride. She padded over to the back door, carefully raised the latch, and slipped outside.</p>

<p>The night was black. Clouds blocked the moon from lighting the path and Ginny spent a few moments letting her eyes get used to the darkness.</p>

<p>The path was a mixture of gravel, broken up by the occasional oddly shaped paving stone. Ginny hopped from stone to stone, always careful to keep her feet from making any sounds. She reached the end of the path.</p>

<p>“Lumos!”</p>

<p>Ginny’s heart leapt into her throat. She swung around and flinched away from the light that washed over her.</p>

<p>“Ginny! What <em>are</em> you doing?!” her mother’s voice shouted, shrill and angry.</p>

<p>Ginny’s stomach dropped.</p>

<p>Oooooooh bugger.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“And then she gave me an earful for over an hour!” Ginny threw her hands up and paced up and down in front of where Harry sat on the bottom steps of a huge Aztec pyramid in the middle of a dreamscape jungle. Everywhere around them, the sounds of a thousand tropical birds squawked, trilled, warbled, and chirped.</p>

<p>Harry grimaced. “Yeah, that didn’t sound too good.”</p>

<p>“I just don’t get how they caught me! I swear I made no noise. They were asleep! I’m sure of it.”</p>

<p>Harry looked thoughtful. “They’ve probably put detection wards around the doors and windows.”</p>

<p>Ginny felt her stomach slowly sink. “Bill.”</p>

<p>Harry nodded. “Not unlikely.”</p>

<p>“Then what do we do now?”</p>

<p>Harry’s eyes gleamed. “First, we teach you to feel magic. You ready for that?”</p>

<p>She nodded firmly.</p>

<p>“Right, this will not be easy. Come and sit here.” He patted the spot between his legs.</p>

<p>Ginny hesitated for only a moment before nodding, walking over, and plopping herself down with her back to him.</p>

<p>Harry leaned over and took her arms in his.</p>

<p>Something washed through her. She gasped.</p>

<p>“Did you feel that?”</p>

<p>“Merlin, Harry, I’d have to be dead not to feel that.”</p>

<p>“That was me flaring my magic. Now, I’m going to do the same thing, but less so.”</p>

<p>The same feeling as before washed through her. She let out a long breath and leaned back into him. “I still felt it.”</p>

<p>Silence descended for a few moments.</p>

<p>“Did you feel that?” Harry asked.</p>

<p>Ginny’s brow furrowed. “No.”</p>

<p>“Right. How about this?”</p>

<p>“Still no.”</p>

<p>“Close your eyes.”</p>

<p>She closed her eyes.</p>

<p>“Go into your occlumency.”</p>

<p>She did so.</p>

<p>“Imagine a sea of water flowing around you, through you, feel it on your skin, in your veins.”</p>

<p>Silence</p>

<p>“Did you feel that?”</p>

<p>Ginny frowned “No.”</p>

<p>“How about that?”</p>

<p>“No.”</p>

<p>“Or that?”</p>

<p>“No.”</p>

<p>“Well, then, How about…”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“And once you’re done with that there’s a packet of peanuts to be shelled over there.” Molly Weasley left Ginny to her tasks and went off to inspect the chickens.</p>

<p>Ginny frowned over her pile of unpeeled potatoes.</p>

<p>A few feet from her, a large wooden spoon magically mixed bread dough in a large porcelain bowl.</p>

<p>Ginny shot the door a quick look, put down her peeler, and stepped over to the bowl. She closed her eyes, reached out her hands towards the bowl and tried to feel the magic.</p>

<p>She tried to imagine water flowing over senses, tried to imagine the flow of magic around her like a tide, like a river, like a trickle in a mountain stream.</p>

<p>She scowled.</p>

<p>… Nothing.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny sat in Harry’s lap for the sixth time in two weeks, this time at the top of the Aztec pyramid.</p>

<p>“Form a stunner on your fingertips.” Harry’s firm but gentle voice pierced through the murkiness of her own occlumency-induced fuzziness.</p>

<p>She felt the ever-familiar magic pour through her body and into her fingertips, but she didn’t let the spell escape.</p>

<p>“Draw it back into yourself.”</p>

<p>She let the stunner fade away, feeling the extra magic pool and flow around her body, a slight pressure under her skin.</p>

<p>“Do it again.”</p>

<p>She felt the stunner build up, felt it flow away. She felt Harry’s fingertips press lightly to her own.</p>

<p>“And again.”</p>

<p>She built up the stunner, drew the magic back into herself, and gasped when she felt something else, something foreign, flow down her fingers. She snapped her eyes open and saw Harry’s own fingertips all red-lit.</p>

<p>“I took your magic inside me?” she whispered.</p>

<p>“This is a dream, Ginny.”</p>

<p>“Ah.”</p>

<p>“Close your eyes again. This time I’m extending the finger distance.”</p>

<p>Ginny nodded and once again closed her eyes.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny sat in class while Lady Lily passed out the different maths and English worksheets for the different age groups.</p>

<p>In her hand, she held her self-inking quill. A self-inking quill, which was magical. When she was sure no one was looking, she closed her eyes, built up the magic on the tips of her fingers for a shield charm, but didn’t let it escape. She withdrew the magic and as the magic retreated back into her, tried to desperately suck in anything else she could from the quill she held.</p>

<p>She opened her eyes and scowled. Nothing.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny crept through the tunnels of the Aztec pyramid, eyes flitting from side to side, trying to spy out anything that looked suspicious in the row upon row of strange bluebell flame illuminated pictures carved into the rock. The bluebell torches cast soft light across the passageway, giving the feeling of being underwater. None of the sounds from outside filtered this far into the monument to Mesoamerican magic. Everything was quiet.</p>

<p>She closed her eyes, imagined magic flowing and streaming around her, sent out a tiny pulse of magic through her fingertips across the wall, and instantly drew back everything she could in its wake.</p>

<p>There. Something tingled down her fingers. The tiniest sense of a presence. Of something, almost beyond her ability to detect it… but not quite.</p>

<p>Ginny grinned, reached into her pack, drew out a wand, pointed it at the wall and shouted, “Paint ball!” A splotch of paint splatted onto the wall.</p>

<p>A faint pop sounded next to her.</p>

<p>“Harry! I did it! I found one!”</p>

<p>Harry grinned back. “Yes, yes, well done. You’ve activated trap number fourteen.”</p>

<p>Ginny stilled. “Trap?”</p>

<p>A huge rumbling approached.</p>

<p>“Have fun.” He popped away.</p>

<p>“HARRY!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny looked around. No one seemed to be paying any attention to her. She stood up, made her way up to Lady Lily’s desk, and picked up the dark magic detector that Harry’s mother had left there since the first lesson when they’d started on magic-muggle relations almost a month ago. She closed her eyes, pushed her magic into the device, and waved it over her head.</p>

<p>The device did nothing, which was good. She’d hate to think what would happen if anyone ever found out about her necklace. Knowing this thing didn’t react to it was good.</p>

<p>She slipped into her occlumency and reached out with her magic like Harry had taught her, trying to feel her own magic reflected back to her through the device.</p>

<p>It trickled back into her.</p>

<p>She felt it…</p>

<p>She. Felt. It.</p>

<p>Ginny’s eyes snapped open. She stared at the dark magic detector, eyes dancing in triumph. She’d done it! She’d felt the magic! Hah!</p>

<p>She did it a few more times, revealing in her mastery over something that only the most powerful wizards were supposed to be able to do.</p>

<p>She then spun around and walked back to her seat, unable to keep the huge smile off her face, not even caring that a certain black-haired witch was watching from the other side of the classroom, violet eyes narrowed in obvious suspicion.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny slipped out of bed, wrapped in darkness, already fully clothed, and padded across the room.</p>

<p>She opened her bedroom door, closed her eyes, and opened her senses to magic.</p>

<p>Heart beating faster than normal, she crouched down and started to run her hands up the doorway.</p>

<p>There. A line of magic reaching from one side of the door to the other.</p>

<p>There. Another one, half-way up the door.</p>

<p>And there. Yet another one, this time at the top of the door.</p>

<p>She felt around the doorway for other clues.</p>

<p>Nothing.</p>

<p>She stepped back.</p>

<p>It wasn’t even a perimeter ward. It was like a magical tripwire.</p>

<p>Harry had said it would take another few months until she was up for trying to actually crack even the most basic of magics, rather than just feel them. Dare she try to sneak through now? She frowned. Damn straight, she dared.</p>

<p>Ginny tied her hair in a ponytail and shoved it down the back of her shirt. She wasn’t robed, so that wouldn’t be a problem.</p>

<p>She took a step forward and reached through the space between the trip lines, ducking her head through them, and carefully bringing first one foot through, then the other.</p>

<p>She made her way downstairs, arms thrust out in front of her, carefully feeling for any other trip lines or wards. A drop of sweat ran down her face. Her heart beat wildly against her chest. With every step, she half expected her parents’ door to bang open, and for her mother’s voice to thunder down, promising domestic serfdom and no dessert until she was eighty.</p>

<p>The backdoor had a similar setup to her bedroom door. After she slipped through the trip lines, she carefully closed the back door behind her, and stood in the back wall’s darkness, body coiled, knees bent, waiting for any sign that she’d been caught again.</p>

<p>None came.</p>

<p>After a few minutes, Ginny stood up and let out a sigh. She grinned. She’d done it. A month’s hard work had paid off. All those moments caught in between chores — all that time spent before, after, and during class, probably looking like she was napping or slacking off — Harry said learning the basics of feeling magic with her level of occlumency took around two hundred hours, and she was sure she’d put that in, <em>at least</em>.</p>

<p>And now! Her face firmed. Luna was going down!</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Consciousness faded back and Ginny looked up into the smiling face of Luna, who extended a small hand to where she lay on the damp ground around the Lovegood plum bushes.</p>

<p>“Try again, Ginny?”</p>

<p>Ginny bounced up, face determined. “Yes! I swear, I almost had you that time! If I had broken through that last shield I <em>would</em> have won.”</p>

<p>Luna smiled a dreamy smile. “I’m sure you would have, Ginny.”</p>

<p>The two lined up again.</p>

<p>Ginny crouched, arms bent out in front of her, fingers spread like the claws of a cat.</p>

<p>Luna spun in a circle, tossed her handkerchief into the air, turned back to her, and brought her hands into the pose that Ginny had started to think of as Luna’s ‘Good girl’ fighting stance, hands held together straight down, shoulders back, legs together. Really, all she needed was a parasol and a bonnet.</p>

<p>The handkerchief floated to the ground.</p>

<p>The duel started.</p>

<p>There was a large flash of red light.</p>

<p>Ginny shielded… and blackness took her.</p>

<p>…</p>

<p>Consciousness faded back. Ginny looked up.</p>

<p>“Try again, Ginny?”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The bread was in the oven and Ginny was sweeping the kitchen free of flour.</p>

<p>She stopped.</p>

<p>She looked around.</p>

<p>She opened herself to magic, felt the air around her, looked at the broom in her hands… and frowned. Now, <em>where</em> exactly would her parents keep it?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The landing beyond her bedroom door was as dark as the night outside her bedroom window. Ginny sneaked up the hallway to the stairs that led to the upper floors, all the while feeling for any wards or magical trip lines her parents might have put up.</p>

<p>She didn’t find any all the way up the stairs. Nor did she find any past her parents’ bedroom door. Her dad was snoring loudly, a trait that apparently passed in Weasley males, and which made her very glad she had a room to herself.</p>

<p>The stairs up to the attic were similarly unguarded, until she got to the very top. As she opened the trapdoor to the Burrow’s topmost floor, she heard the telltale sound of the ghoul that lived there. It snuffled and snorted in its sleep. Ginny felt her magic respond to her command. A bolt of red light shot towards it and the stillness of the sleeping instantly became the stillness of the stunned.</p>

<p>Ginny looked around and saw a likely trunk in the corner. It was reasonably new and the dust on the floor showed evidence of an occasionally used path leading to and away from it.</p>

<p>She took a step towards it and stilled.</p>

<p>Her magic senses tingled.</p>

<p>She felt the magic wash through her like a stream, just like the flow of water Harry had so many times primed her to feel, right in front of her.</p>

<p>Her hands raised and moved across the face of the magical obstacle.</p>

<p>She narrowed her eyes.</p>

<p>This wasn’t like a trip line.</p>

<p>This was like a ward.</p>

<p>Not something she was ready to tackle yet.</p>

<p>She sighed.</p>

<p>Guess she’d have to keep trying to beat Luna instead then.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The moon was full.</p>

<p>Somewhere in a thicket of plum bushes, two girls sidestepped and cast, shielded and dove.</p>

<p>A stunner hit Luna’s shield. It held.</p>

<p>A stunner hit Ginny’s shield. It shattered.</p>

<p>Ginny cursed, and fell.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The moon was a sliver off full.</p>

<p>Luna threw a plum into the air.</p>

<p>Ginny aimed with her fingers spread. The tips of her hand glowed white. A stinging hex fired towards the falling plum. It hit. The plum exploded.</p>

<p>“Again.”</p>

<p>Luna threw another plum.</p>

<p>Ginny aimed again and again the plum exploded. She closed her eyes.</p>

<p>“Now.”</p>

<p>She snapped open her eyes. Two plums reached the top of their arc. She flung both hands up. One plum exploded. The other failed to connect with her hex and fell to the ground with a sad little splot noise.</p>

<p>They both stared at it. Ginny grimaced. “Not that good yet, I suppose.”</p>

<p>Luna smiled. “I guess not.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The moon was gibbous.</p>

<p>Ginny panted as she faced off against her serenely smiling opponent.</p>

<p>She swore she was getting better. Her stunners felt sharper. Her stingers felt crisper. She felt the magic flowing up and down her blood vessels, nerves, and muscles like a tide. Back and forth. Back and forth. Magic under her command. Magic under her mastery. She flung her hand forward and loosed a stunner.</p>

<p>Luna sidestepped.</p>

<p>She snap adjusted her aim and loosed a stinger.</p>

<p>Luna shielded.</p>

<p>Ginny narrowed her eyes. She brought both hands up straight in front of her.</p>

<p>Luna tilted her head.</p>

<p>Stunner, stinger, stunner, stinger, stunner, stinger, stunner, stinger, her hands flashed red, white, red, white, faster and faster, bolts slamming into Luna’s shield like a boxer’s fist flurry.</p>

<p>Luna stood her ground.</p>

<p>All too soon, Ginny felt her magic drained from her body, now refilling directly from her core, weaker, less potent, and still Luna’s shield held.</p>

<p>Ginny said a bad word.</p>

<p>Luna raised her other hand. Her fingers glowed red.</p>

<p>Ginny didn’t even try to dodge.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“I just want to beat her!” Ginny shouted, waving her hands and knowing she looked like a petulant child. She didn’t care.</p>

<p>Harry smirked.</p>

<p>“I get so close, then she just throws up that damn shield and I can’t get through it!”</p>

<p>Harry continued to smirk.</p>

<p>“Please, Harry!” She skipped to where Harry sat on a broken, massive stone pillar and batted her eyes at him. “You’ll help me, won’t you?”</p>

<p>Harry’s smirk didn’t fade.</p>

<p>She scrunched up her face. “Harrrrryyyy, pleeeeaassseeeeee. Show me something. Some awesome trick. Teach me a new spell. Something — anything! I want to beat herrrrrrr!”</p>

<p>Harry jumped down from his pillar. “Okay, okay. Let me have a look first.”</p>

<p>She grinned.</p>

<p>Harry moved forward and placed his hands on her shoulders “Look into my eyes and think of your last few duels.”</p>

<p>She dropped into her occlumency, looked into Harry’s eyes and brought those last frustrating fights to the front of her memory. She felt Harry’s legilimency probe and surrendered to it. Images of her fights flashed past her consciousness like an omniocular on fast forward.</p>

<p>Harry dropped his hands and looked thoughtful. “Luna really <em>is</em> getting stronger, isn’t she?”</p>

<p>She growled. “Yes! And it’s <em>so</em> frustrating.”</p>

<p>“Luna took your full spell chain—basic though it is—head-on, and outlasted it. That shows a large difference in power.”</p>

<p>Her shoulder’s dropped. “So, I’m just weak?”</p>

<p>Harry frowned. “No, not at all. It’s more that Luna is unusually strong. And if she’s like this now, the difference between her and most other wizards will just grow as she matures.”</p>

<p>“Are you <em>trying</em> to depress me?”</p>

<p>Harry laughed. “No, no. I’m just revelling in our friend’s potential.” He smiled. “How do you feel about having Luna at your back in a fight?”</p>

<p>She paused. “I must admit, I’d feel pretty good about that.”</p>

<p>“Exactly.” Harry hopped back onto the pillar and swung his legs back and forth against the stone. “So, you ready to hear how to beat her?”</p>

<p>Her eyes flashed. “Yes!”</p>

<p>“Right. We’re going to be improving two combat attributes. The first is speed. When you’re up against someone who outmatches you in terms of power, you can compensate by being faster, by being able to close the distance between you quickly when you’re at full power, and being able to run away and let your magics recover when you’re depleted. In other words, by controlling the space between the two of you.”</p>

<p>Ginny nodded.</p>

<p>“That means lots of sprinting, jumping, changing direction, etc.”</p>

<p>“Okay.”</p>

<p>“The second attribute, is efficiency.” Harry tapped the stone. “Tell, me. What is the most efficient way to protect yourself from a spell?”</p>

<p>“Not be where the spell lands. That was one of the first things you taught me about duelling.”</p>

<p>“Yes, well done. What’s the most inefficient?”</p>

<p>“Conjuring a physical obstacle?”</p>

<p>“Again, well done. And something in the middle?”</p>

<p>“A magic shield.”</p>

<p>“Yes. Another?”</p>

<p>Ginny drew a blank.</p>

<p>Harry grinned. “Spell swatting. Think of it like parrying with a sword. You use your wand, or in your case, your hand, to bounce a spell away from you. It’s more efficient than a shield, but not as efficient as dodging.”</p>

<p>She frowned. “That sounds awesome. Why haven’t I learned this already?”</p>

<p>“Because it’s <em>very</em> hard to do. It requires, what for a normal person, is an obscenely large amount of control over your magic.” Harry’s grin widened. “Control, that I’m sure you now possess.” His smile evaporated and his voice firmed. “Ginny, bring a stunner to the tips of your fingers as though you’re <em>just</em> about to launch it, and hold it there.”</p>

<p>Ginny closed her eyes and let the magic flow through her, she felt the intent, let the intent form into a spell, let the spell pool in her hands and up her fingertips, she held the spell as close to the edges of her fingertips as she could without loosing it.</p>

<p>“Open your eyes.”</p>

<p>She opened her eyes and saw the tips of her fingers glowing bright red.</p>

<p>“I’m going to fire a stunner at you, and you’re going to hit it away with the tips of your fingers as though you were hitting a bludger away with a beater’s bat, understood?”</p>

<p>Ginny slowly nodded, afraid to break the fragile hold she had on the spell.</p>

<p>“On three. One, two, three!”</p>

<p>The stunner flew towards her. She made to hit it away. The spell hit her fingertips, and the world went dark.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny put down the half-full basket of apples she’d been filling up from the apple trees in the orchard for her mum’s apple pie, and idly waved away a wasp that buzzed around her head. She looked towards the end of the orchard and bit her lip. It had to be about a hundred metres. Her jaw firmed. She lowered her head, planted her right leg firmly behind her, let her fingers lightly tap the ground, and exploded towards the far tree. Every muscle strained as she bolted as fast as she could, as fast as her body would possibly allow, and in moments, she passed the tree. She slowed while taking huge gulps of air, her lungs insisting she now cashed the bank drafts her muscles had written.</p>

<p>A few minutes passed.</p>

<p>Ginny turned back and looked to where she’d left her apple basket, narrowed her eyes, lowered herself, and took off again.</p>

<p>Again and again, she tore up and down the stretch of orchard. Five times, ten times, fifteen.</p>

<p>“Ginny! Are you done yet?”</p>

<p>Crap. “Ahh…” She scrabbled to pick up the few apples that still lay around the path she’d carved out and glanced up into the trees for other easy pickings. “…Yes, Mum! Be right there!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny bolted towards Luna, both hands in front of her, both hands flashing red and white, both eyes fixed on her rival, both legs carrying her closer, level, and past.</p>

<p>Luna spun to face her, but Ginny was off again, throwing spells behind her, zigzagging and shielding until she was out of easy hit range.</p>

<p>Ginny ducked behind a tree, breathing heavily.</p>

<p>“Hi!” Luna’s face appeared around the tree.</p>

<p>“Gah!” Ginny swung around to get away and they began a frantic game of chase around the large tree trunk. She formed her next stunner and brought it to her fingertips. Suddenly, her foot caught in a tree root. She stumbled backwards, Luna appeared, and a flash of red shot towards her. She made to hit at it, but the stunner slipped straight through her [[[fingers’ tips]]][[[fingertips]]]. The last thing she saw before darkness took her was Luna looking at said red-lit fingers, seemingly equal parts surprised and curious.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Push the stunner to the very tips of your fingers.”</p>

<p>Ginny nodded, eyes closed, Harry’s arms on her own, his chest against her back.</p>

<p>“Now, pool your magic again, form a stinging hex, and push it into your hands.”</p>

<p>She nodded uncertainly, dipped deep down into her occlumency, split her consciousness between the intent to stun and the intent to sting, and tried to form two different spells at once. The stinger wobbled into existence, unsure of itself, and dribbled through her body, moving with a nudge of her stinger consciousness here and there. The stinger slowly pooled in her hand.</p>

<p>“Well done, Ginny. Now, as carefully as you can, push the stinger up into your fingers.”</p>

<p>She tried. Her lip trembled. Her fingertips glowed redder and redder. “H-Harry, I’m going to lose the stunner.”</p>

<p>“Shh shh,” Harry whispered into her ear. “No, you’re not — just a little more.”</p>

<p>Ginny’s whole body quivered. She could feel the stunner on the very tips of her fingers, no, it was beyond the tips. It was like the magic was both in and out of her body at the same time. It was raw intent given shape in the world. Holding it there was the hardest thing she’d ever tried to do. Every part of her brain screamed at her to cast the damn spell, to make real what she intended.</p>

<p>“Hold it there — just like that.” Harry slid away from her, and she was left alone. He walked in front of her and pointed his wand at her.</p>

<p>“Ready?”</p>

<p>She gave a single slow nod. She didn’t trust herself to move any more than that.</p>

<p>“Stupefy.”</p>

<p>The bolt shot towards her.</p>

<p>She swung.</p>

<p>The bolt hit the tips of her fingers… and bounced away.</p>

<p>She let out a long breath. She’d done it.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Ginny! What <em>are</em> you doing?”</p>

<p>Ginny came to a stop, gave her mum a blank look, and glanced down at the vaguely wand-length stick she’d been gripping. She looked back up. “Running around the orchard trees?”</p>

<p>“Why?”</p>

<p>She smiled, innocently. “It’s fun?”</p>

<p>Molly Weasley put her hands on her hips. “Well, enough of that then. Come back to the house. We have guests tonight and we need to get started.”</p>

<p>Ginny nodded and left her makeshift obstacle course, with its apples for jump points and pine cones for crawl points.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>She was so close. So close. Luna wasn’t steamrolling her anymore. Power could only take you so far, and Luna wasn’t nearly as fit as she now was. Ginny’s eyes flashed and danced. Magic flew between the two girls. She was holding her own!</p>

<p>Every time Ginny’s casting slowed, she backed off and evaded her grey-eyed, dirty-blonde-haired nemesis until she was back to strength.</p>

<p>Whenever Luna slowed, she’d pursue.</p>

<p>Back and forth. Back and forth.</p>

<p>Luna <em>was</em> tiring, but then, so was she.</p>

<p>The two stared at each other across the Lovegood woodland clearing, moon shining down through the opening in the canopy, casting silver light on everything it touched.</p>

<p>Luna’s normally dreamy eyes hardened.</p>

<p>Ginny scowled.</p>

<p>Luna straightened. Raised both her hands and let loose.</p>

<p>If Ginny thought before that Luna couldn’t match her powerful defence with a powerful attack, she instantly found herself to be sorely mistaken.</p>

<p>Spell after spell shot towards her. She spun away and legged it for the safety of the trees again, dodging as much as she could, shielding everything else, and ducked behind the nearest trunk.</p>

<p>Now.</p>

<p>Magic pooled in her hand. A stunner formed on her fingertips. She pushed it as far as she could. It vibrated, desperate to become real, to fulfil its purpose, but she held it, not letting it escape, unwilling to will her will.</p>

<p>Yes. YES!</p>

<p>She stepped out from behind the tree and instantly swatted away Luna’s first stunner. And the second. And the third.</p>

<p>Luna’s eyes widened.</p>

<p>Ginny grinned. “That’s right, Luna! How do you like this!?”</p>

<p>Luna frowned, looking thoughtful, and raised her other hand.</p>

<p>Ginny crouched, eyes gleaming.</p>

<p>Luna shot stunner after stunner towards her and she swatted away every single damn one of them.</p>

<p>Yes yes yes. <em>This</em> is how it was <em>supposed</em> to go!</p>

<p>Then, suddenly, something unseen slammed into her, she doubled over, lost her stunner swatter, red light filled her vision, and darkness took her.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry withdrew his legilimency probe. “It is there. If you watch Luna’s hands you can see the whiteness of the stinging hex that she lined up just after one of her stunners.”</p>

<p>Ginny pouted. “I didn’t think this was going to be <em>this</em> difficult.”</p>

<p>“If spell swatting was that easy, everyone would do it.”</p>

<p>Ginny’s shoulders dropped. “Okay. So what’s next?”</p>

<p>“Sit down.”</p>

<p>Ginny sat down.</p>

<p>Harry sat opposite her, cross-legged on the Aztec pyramid stone floor. He held out one of his hands. It started to glow red. “What is this?”</p>

<p>“It’s a stunning spell.”</p>

<p>“Is it? How do you know that?”</p>

<p>Ginny hesitated “It’s red.”</p>

<p>“Lots of spells are red.”</p>

<p>“You’re forming it in your bare hand. The only wandless spell you know that’s red is stupefy.”</p>

<p>Harry tilted his head. “Ginny?”</p>

<p>“Yes, Harry?”</p>

<p>“This is a dream.”</p>

<p>“Oh.” Ginny felt her cheeks warm up. “I forgot.”</p>

<p>“Quite.” Harry pointed his red-glowing hand to his left, loosed the spell, and they both watched as it connected with the sand beyond the stone they sat on and left a streak of glass where it hit.</p>

<p>Ginny stared. “Was that…?”</p>

<p>“An alchemy spell? Yes.”</p>

<p>Ginny turned back.</p>

<p>“Now,” Harry continued, “close your eyes.”</p>

<p>Ginny closed her eyes.</p>

<p>“Reach out with your hand.”</p>

<p>She did so.</p>

<p>“Open yourself to magic. Allow yourself to feel the spell like you learned to feel for the wards in the Burrow.”</p>

<p>Ginny nodded. She felt a small tingle of magic and breathed in sharply. “I feel it.”</p>

<p>“Good. What is it?”</p>

<p>Ginny frowned. “I don’t know.”</p>

<p>“Open your eyes.”</p>

<p>She did so. Harry’s hand glowed red.</p>

<p>“That was a stunner. Now, close your eyes again.”</p>

<p>She did so. Again she felt the slight tingle of magic, but this time, it felt slightly different. She opened her eyes. Harry’s hand glowed white.</p>

<p>“That was a stinging hex. Did you feel the difference?”</p>

<p>Ginny nodded.</p>

<p>“Good.”</p>

<p>“But,” Ginny frowned. “Am I supposed to learn what <em>every</em> spell feels like so I can swat it away? What if I run into a spell I’ve never seen before?”</p>

<p>Harry smiled. “Don’t worry. The point is <em>not</em> to assemble an encyclopedia of what spells feel like, but rather to discern the <em>intent</em> that spells contain. It’s the intent that makes a spell what it is. That’s the theory anyway. Like with everything magic, it could all be rubbish. At the end of the day, magic is magic.”</p>

<p>Ginny nodded slowly.</p>

<p>“You’ll see what I mean in a moment. Close your eyes.”</p>

<p>Ginny closed her eyes again.</p>

<p>She waited a moment. Then she gasped. Peace, love, and belonging swept over her. It surrounded and wrapped her and she felt like she could face down the greatest evil and laugh.</p>

<p>“What is the purpose of this spell?” Harry asked.</p>

<p>Ginny didn’t even need to think. “Protection — Protection from evil.”</p>

<p>“Open your eyes.”</p>

<p>Ginny opened her eyes and saw Harry’s hand was glowing white, but it wasn’t like the white of a stinging hex. This white was misty, pearl-like, silvery.</p>

<p>“This is a///the patronus intent. It’s a defence against dark creatures such as lethifolds and dementors.”</p>

<p>“It’s amazing,” Ginny whispered.</p>

<p>“Yes, but notice that you instinctively knew what the spell was for. The intent behind this spell is so pure, so refined, that figuring it out was easy. Close your eyes again.”</p>

<p>Ginny closed her eyes.</p>

<p>She waited. Then, a feeling crept into her body and froze her heart. Fear gripped her. Her whole body started to shiver. Something was right in front of her. Something that wanted her destroyed, to be nothing, to rip her soul from her body with no chance of reversal. “H-Harry?”</p>

<p>“What is the purpose of this spell?”</p>

<p>“D-Death.”</p>

<p>“Open your eyes.”</p>

<p>She did so, and gasped. Harry’s hands were bathed in green — emerald green. Little ethereal skulls of green mist orbited his fingertips, chasing each other and snapping their jaws.</p>

<p>Harry’s face was grim. “The killing curse.”</p>

<p>Ginny shuddered.</p>

<p>Harry waved the spell away. “Those were extreme examples. You now know what we’re looking for. We’re going to work on two things — detecting intent and increasing your sensory range. Ready?”</p>

<p>Ginny’s jaw firmed. She’d come this far, hadn’t she? She nodded.</p>

<p>“Then close your eyes.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny regarded the distance across the Burrow pond. She bit her lip. Her eyes narrowed. She turned, walked back a way, turned back, planted her foot firmly behind her, lowered herself to the ground, exploded towards the pond, hit the edge, jumped, extended both legs below her, hit the edge on the other side, swung her arms wildly, tried to get her balance, failed, and fell backwards, hitting the water with an almighty splash that shattered the otherwise-quiet October morning.</p>

<p>She climbed back onto the shore, soaked, dripping, and shivering.</p>

<p>“Ginny! What <em>were</em> you thinking?!”</p>

<p>Ginny groaned.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“What is this?”</p>

<p>“A stunner.”</p>

<p>“What is this?”</p>

<p>“A stinger.”</p>

<p>“Good.” Harry sounded pleased. “Take a few more steps backwards.”</p>

<p>Ginny backed up a few steps, still with her eyes closed.</p>

<p>“Now, what is this?”</p>

<p>Ginny strained, tried to feel the light caress of the magic on her skin, buried herself as deep as she could in her occlumency and blocked out any and all distractions. “It’s… a… stinger?” She opened her eyes. Harry was grinning, fingertips alight with a bright white spell.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny took a step backwards, leaned forward, and ran, full tilt, towards the long pile of leaves she’d piled up in the orchard. She leapt at the line of twigs on the floor and landed in the leaf pile, scattering a good number of them, and making a huge indent in the pile. She got up, inspected her distance, made an unsatisfied grunt sound, went back to the line of twigs, and moved it back another few inches.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Stunner!” Harry shot a bolt of red at her.</p>

<p>Ginny pooled a stunner, brought it to her fingertips and swatted the spell away, almost without having to think.</p>

<p>“Stinger!” Harry shot a bolt of almost-invisible magic at her.</p>

<p>She pooled a stinger and brought it to her fingertips, instantly switching it with her stunner and letting it flow back through her hand.</p>

<p>“Stunner!”</p>

<p>She swatted it away.</p>

<p>“Stinger!”</p>

<p>She swatted it away.</p>

<p>“Good!” Harry smiled widely. “Now, again, but without me calling out the spell names beforehand.”</p>

<p>Ginny took a deep, long breath. “Bring it on.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny leaped over the pond, hit the other side, rolled, jumped up, laughed, pumped the air with her fist, and ran off to get ready for morning classes.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny felt like her muscles were on fire. They’d been at it for ages.</p>

<p>On the opposite side of the clearing, Luna was panting, doubled over, clearly nearing the end of her tether. Her normally dreamy countenance was shattered. Her eyes were going in and out of focus. Her hair hung down in front of her face, yanked out of her ponytail by the constant whipping this way and that.</p>

<p>Ginny swatted away another stunner-stinger-stunner combo and followed it up by loosing her own stunner and stinger, which fell into Luna’s thrice-damned seemingly unbreakable shield.</p>

<p>Ginny wasn’t thinking. There wasn’t room for thinking. There was only room for doing. Swat, dodge, cast, retreat, advance. Over and over and over.</p>

<p>She advanced. She cast another stunner. It hit Luna’s shield.</p>

<p>Luna’s shield shattered.</p>

<p>Luna made no sign of intending to move, hands planted firmly on her thighs, still panting heavily.</p>

<p>Ginny’s heart leaped. Victory crept into her eyes. Her hand glowed red again.</p>

<p>Luna looked up, still panting, met her gaze, and grinned.</p>

<p>Ginny loosed her stunner. It flew straight and true…</p>

<p>…And Luna swatted it away.</p>

<p>…</p>

<p>…</p>

<p>…</p>

<p>Ginny groaned, sank to her knees, and let out a desperate cry of frustration. “That isn’t fair!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Luna always was extremely intuitive with her spell casting. She picked up occlumency faster than I’ve ever seen anyone else, and I <em>still</em> haven’t managed to replicate that trick she did with firing a wandless spell with her tongue — not that I’ve been trying all <em>that</em> hard, but still.” Harry sat opposite where she sat with her head in her hands.</p>

<p>Ginny raised her head and met Harry’s unruffled gaze. “It’s just so frustrating! It seems no matter what I do, Luna’s <em>always</em> one step ahead of me.”</p>

<p>Harry smiled softly. “You’ve come an incredibly long way in an amazingly short period of time, Ginny.”</p>

<p>“Not far enough.”</p>

<p>Harry’s smile turned playful. “Well then, how would you like to try something that not even Voldemort managed?”</p>

<p>Not even Voldemort? Ginny frowned. “Um, Harry… if I can’t even beat Luna what chance do I have of managing something that even <em>he</em> couldn’t?”</p>

<p>Harry shook his head, still smiling. “You underestimate just how far ahead of most people you now are. But let me rephrase that a bit. How would you like to try something that Voldemort considered learning, but never actually decided to, because he could never quite find the time and there were always other things to do?”</p>

<p>“Is it dangerous?”</p>

<p>“In theory, it’s no more dangerous than what we’re already doing.”</p>

<p>“And it will help me beat Luna?”</p>

<p>Harry grinned. “Ginny, if I didn’t know what was coming, I’m pretty sure it could beat me.”</p>

<p>Ginny stared. “When do we start?”</p>

<p>“Tomorrow night.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The next morning, Ginny walked into class to see a group of her classmates all surrounding something on a desk. Shouts and gasps and cheers filled the room.</p>

<p>She sidled over, peered through a gap in the bodies, and gasped.</p>

<p>HOGWARTS TROLL DEFEATED BY FIRST YEARS!</p>

<p>Picture after picture of several witches, barely older than her, battling a huge mountain troll, three times their size, presented themselves to the excitement and fear of the congregated students.</p>

<p>Her eyes fell on the names in the article and her eyes bugged out even further. That was Daphne Greengrass! She was the other witch betrothed to Harry! And one of the other combatants was one Hermione Granger, ‘Vassal’ of the Most Ancient and Noble House of Slytherin. <em>That</em> was news to her. Harry had never mentioned Slytherin House having vassals.</p>

<p>Ginny watched the Greengrass heiress lunge for the beast with a transfigured sword, only to be smacked away. Another picture showed another armed lunge, this one together with Hermione Granger, the vassal, plunging both the swords into the troll’s thighs and exploding them when the transfiguration ran out.</p>

<p>It was so different to what she was doing with Luna. Duelling with Luna had started to feel like a tightly choreographed dance. They could only use three spells—well, four if you counted finite incantatem—and that created a very predictable form of combat. It was all about speed, power, and energy conservation.</p>

<p>What she was now looking at was pure chaos, with elements of teamwork thrown in here and there.</p>

<p>Someone appeared on her left.</p>

<p>“What the <em>hell</em> is <em>this</em>?” the someone shouted.</p>

<p>She winced and turned to see Alexandra Black staring at the unfolded paper in shock.</p>

<p>Moments later, the violet-eyed girl had snatched the paper up, eliciting howls of protest from her peers. She cast her gaze over the paper for all of a few moments before throwing it back to where it lay before and stalking out of the classroom. As the Black heiress left, Ginny swore she heard ‘Luna’ and ‘Slytherin’ and ‘Harry’ among her many mutterings.</p>

<p>Ginny frowned. She almost wanted to chase after the girl and ask if she knew about Harry, but one thing stopped her. Alexandra Black didn’t wear a silver lightning-bolt ring.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“And then I woke up the next morning with no memories of where the stone was.” Harry finished.</p>

<p>Ginny leaned back and rubbed her temples. “Harry. Wow. Just wow. The philosopher’s stone. I mean, wow. And you ran into the basilisk.” She shivered.</p>

<p>“Well, that’s most of the story. There are other things, but they’re still on a need-to-know basis, and until you’re at Hogwarts, you don’t need to know.”</p>

<p>Ginny nodded. “Harry, what are you going to do about the basilisk?”</p>

<p>“Nothing. It’s a thousand-year-old magically perfect killing machine. I have no intention to engage it until it’s absolutely necessary. So until we have a good way to deal with it, we evade and contain instead.”</p>

<p>“Rooster crows?”</p>

<p>Harry shook his head. “Oh, if it were that easy.”</p>

<p>“And you being a parselmouth?”</p>

<p>“First come, first serve. Literally.”</p>

<p>Ginny sighed. “Well, you said we were going to try something not even V-Voldemort managed, or at least tried. What is it?”</p>

<p>Harry picked up a black pebble and started idly tossing it up and down. “The way I see it, your major problem is that Luna has <em>just</em> enough extra power to keep you from ploughing through her shield with brute force, but she’s also been matching you in terms of efficiency. Luna being able to figure out to spell swat independently, after seeing you do it only a few times, was amazing.”</p>

<p>Ginny’s shoulders slumped. “Thanks,” she said dejectedly.</p>

<p>Harry continued as though he hadn’t heard. “The one area you clearly outshine her in is physical fitness and raw speed. So, we should focus on your strengths. We need you to be so fast that Luna doesn’t have time to shield.”</p>

<p>Ginny laughed bitterly. “Luna can cast a shield as quickly as it takes her to raise her hand. You want me to be faster than that?”</p>

<p>“Yes.”</p>

<p>“How?”</p>

<p>Harry tossed the black pebble up one last time, snatched it from the air, did something that Ginny didn’t catch, and, suddenly, held instead a white pebble.</p>

<p>Ginny frowned. “What did you just do?”</p>

<p>Harry smiled. Did the thing again, and was once again holding the original black pebble.</p>

<p>Ginny’s frown deepened. “I don’t get it.”</p>

<p>Harry pointed behind her and to the left.</p>

<p>She turned and saw there, on the ground, the white pebble.</p>

<p>The white pebble disappeared, replaced with the black pebble with a tiny clink sound.</p>

<p>Ginny turned back and saw the white pebble back in Harry’s hand. “You’re switching them.”</p>

<p>“Yes. It’s called a switching spell. Normally, you learn it in your sixth year at Hogwarts.”</p>

<p>“And how does that make me faster? Unless…” Understanding spread through her.</p>

<p>Harry obviously saw it because he said. “Yes, that’s right. Unless you switch yourself.”</p>

<p>“Yes!” Ginny jumped up. “If I could do that, I could appear anywhere around her! I could switch myself to wherever Luna’s shield isn’t, and stun her before she had a chance to cast!”</p>

<p>Harry held up his non-stone-holding hand. “Easy there, Ginny. You ready to hear the difficulties?”</p>

<p>A sinking feeling crept through Ginny. Obviously it wouldn’t be <em>that</em> easy. She sat back down again. “Go on.”</p>

<p>“No one has ever succeeded in switching themselves — not that we know of. Voldemort had a theory that casting the spell with a wand does something to the spell when redirected back at the body. His idea was that you can only switch yourself with something else if you do it wandlessly, and obviously, the vast majority of wizards never learn the advanced occlumency required for wandless magic, and then even fewer refine their control like you’ve been doing, and so are automatically precluded from even trying.”</p>

<p>“But…” Ginny began.</p>

<p>“And of those who <em>do</em> know the proper occlumency, they’d still have to put in the two hundred-odd hours it takes to learn what would be a very circumstantial spell that apparition could replicate in many circumstances. And then there is the final killer.”</p>

<p>“Which is?”</p>

<p>“Switching spells are classified as transfiguration magic. And transfiguration is not permitted in international standard-rules duelling.”</p>

<p>Ginny’s jaw dropped. “For such a stupid reason?”</p>

<p>Harry nodded. “Quite possibly.”</p>

<p>“And aurors?”</p>

<p>“—Carry huge-ass iron shields with them that levitate from their arms as a protection against certain dark spells such as Avada Kedavra. Because they’re not touching them, they wouldn’t be counted as clothing for the switching spell and would probably be left behind.”</p>

<p>Ginny leaned back.</p>

<p>“This is all speculation, of course. We don’t know whether that’s why no one’s ever done it. Hell, we don’t even know it’s not impossible. It’s just Voldemort’s theory after all. It <em>could</em> be total rubbish.”</p>

<p>Ginny tilted her head. “Do <em>you</em> think it’s rubbish?”</p>

<p>Harry cast his gaze into the distance. “I think it’s worth a shot. The rewards far outweigh the risks. We’ve got to have you doing <em>something. I</em> don’t have the time and I believe this is the best thing to try.”</p>

<p>Ginny nodded. “That’s good enough for me. Okay. Let’s do it.”</p>

<p>“Right. The first step is switching two objects like normal without a wand.” Harry motioned her to sit herself in front of him, back against his chest, which she did.</p>

<p>“Now, feel this, and take note…”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny stirred the cake batter, bored. Bored, bored, bored. She put the spoon down, looked around furtively, and dropped into her occlumency. She tried to pool intent to switch, but found it tough going. The spell just didn’t want to form. She knew this feeling. She’d felt it before when she couldn’t get first the stunner, then the shield, and then, the stinger. There was nothing for it, but put in the hours, and kept on slogging away.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Try again, Ginny?” Luna extended her hand to her.</p>

<p>Ginny looked up into Luna’s tired but glowing face. She still couldn’t beat Luna, but she prided herself that she now got the blonde witch out of breath. “No, I think we should rest for a bit before we have another go.”</p>

<p>Luna hauled her up and bounced up and down a bit. “Okay, Ginny.”</p>

<p>They sat down on the ground, fallen leaves all around them, and passed a bottle of pumpkin juice between them.</p>

<p>The sky night was clear of clouds. The stars shone through. Owls hooted. The chilly wind rustled the leaves.</p>

<p>“Luna?”</p>

<p>“Yes, Ginny?”</p>

<p>“Do you talk with Alexandra Black much?”</p>

<p>“Oh, yes. We are quite close friends.”</p>

<p>“Really?” Ginny looked at her friend in surprise. “Why didn’t you say?”</p>

<p>Luna put one small finger on her chin. “Well, we have only recently started seeing each other again. She invited me over for her birthday party. I think she wanted to know if Harry was trying to marry her.”</p>

<p>Ginny spat out her juice and choked. “W-what?”</p>

<p>“Harry has been courting her as Lord Slytherin. He wants her to join our little group. I think she was somewhat confused.”</p>

<p>Ginny stared at the ground, face flaming red. “S-so Harry doesn’t want to…”</p>

<p>“Oh, I have no doubt he <em>does</em>. But, you know Harry. He is all about long-term plans, with short-term goals, which is good. World conquest requires both.”</p>

<p>Ginny squirmed. She half-wanted to ask what Harry thought about <em>her</em>, but she had a feeling that if she asked, she would get what could only be described as an ‘honest’ answer, and she didn’t feel she could handle the embarrassment. The phrase ‘world conquest’ also bounced around in her head like a gobstone in a bludger. “S-so,” she said instead, “Does Alexandra know? About Harry being Lord Slytherin and from the future and everything?”</p>

<p>Luna shook her head. “No, she does not. If you are going to talk to her, make sure you refer to Harry as Lord Slytherin, our lord, or, if there are others around, just ‘our teacher’. She does know Harry Potter exists, and that he is being taught by Lord Slytherin, but that is all she knows.”</p>

<p>“I see.”</p>

<p>Luna rose from the ground. “Are you ready for another round, Ginny?”</p>

<p>Ginny nodded. “Sure.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny let the magic flow through her, again. Let the magic pool in her, again. Focused her intent on the desire that the stone in front of her, should be over there, and the stone over there should be here. She pushed it into her hands. The spell died.</p>

<p>Her shoulders slumped.</p>

<p>Harry looked up from where he was doing paperwork at a mahogany desk on the other side of the small, Aztec stone room. ‘Ninety percent of paperwork is thinking,’ he’d told her months ago when she’d asked about the impossibility of doing paperwork in a dream. “Did you manage to keep your intent intact through the post-middle phases?” he asked.</p>

<p>She nodded.</p>

<p>Harry smiled. “Well, that’s something.” The desk vanished. “C’mon! I’ve got a surprise for you.”</p>

<p>Ginny perked up and followed Harry out of the pyramid.</p>

<p>The sounds of songbirds hit them as they stepped out into the open air. There in the courtyard, on either side of the several massive buildings that made up the Aztec temple complex that they’d made their dreamland training base for the last few months, were six, hundred-foot-tall quidditch hoops.</p>

<p>“Harry!” Ginny leaped up and hugged Harry.</p>

<p>Harry grinned. “I thought we’d have some fun with midair duelling since you’re doing so well.”</p>

<p>Ginny smirked. “Sure I am, Mister Time-traveller. And it has nothing to do with the fact that today was the first Hogwarts Quidditch match, does it?”</p>

<p>Harry smirked back. “I can’t imagine how you could <em>possibly</em> suggest such a thing.”</p>

<p>Two Nimbus Two-Thousands appeared in front of them.</p>

<p>Harry swung a leg over one of them. “I’m pretty sure I’ve got the physics right.”</p>

<p>Ginny scrambled to mirror his actions, grinning like a loon all the time. “Only pretty sure?”</p>

<p>“Well, I guess we’ll find out!”</p>

<p>And they shot into the sky, laughing and cheering all the way.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny sat with her hands under her chin, listening to Lady Lily drone on and on about muggles, the ministry, how the obliviator squads worked, and how they prevented muggleborn parents from spreading knowledge of the magical world.</p>

<p>So boring.</p>

<p>She slipped into her occlumency and idly started pooling magic in her body, feeling it slosh around and wildly form little eddies and uncontrolled streams. She withdrew her hands from under her chin, reached under the desk, out of sight of the front of the classroom, and started crafting intent to switch. She was getting better at it. She’d put in a good hundred hours over the last two weeks, snatching practice time whenever she could, just like now, and she could start to feel the results.</p>

<p>She pushed the spell through her system, up into her hands and held it there. It felt solid. Not solid enough to let loose, but solid enough for the next phase. She firmed her jaw while Lady Lily turned and wrote a particular point out in large capital letters on the blackboard. She pushed and felt the tips of her fingers start to tingle.</p>

<p>Yes.</p>

<p>She pushed a bit more.</p>

<p>Yes.</p>

<p>She pushed a bit more and… No! Her heart lurched. Out of the corner of her eye, she caught someone watching her from the other side of the back row.</p>

<p>The spell died, starved of intent.</p>

<p>She glanced to the side and quickly looked away from the narrowed gaze of the Black heiress who was now staring at her the way a hawk stares at a mouse.</p>

<p>As soon as class ended Ginny bolted for the door, but Alexandra followed her.</p>

<p>“Weasley!”</p>

<p>Damn. Ginny stopped halfway down the Potter Manor stairs. “Yes, Black?”</p>

<p>Alexandra caught up with her and pinned her with her violet stare. “You’re being taught by ‘<em>him</em>’, aren’t you?”</p>

<p>Ginny panicked. They were in the middle of Merlin-damned Potter Manor and <em>this</em> was where the girl wanted to talk?!</p>

<p>“You <em>are</em>, aren’t you?”</p>

<p>“Not here!” Ginny hissed. She grabbed the Black Heiress by the very expensive robes and dragged her down the remaining stairs, out the main doors, out across the garden, and into the small copse where John had sometimes brought her and Ron, and which powered the Potter Manor wards.</p>

<p>She looked around furtively. “Right, what is it?”</p>

<p>“You’re being taught by <em>him,</em> aren’t you.” Alex said, as though they’d never stopped their original conversation.</p>

<p>“That depends on who <em>him</em> is.”</p>

<p>Alexandra lowered her voice to a whisper so low Ginny had to lean in to hear.</p>

<p>“Lord Slytherin.”</p>

<p>Ginny leaned back and regarded the Black Heiress. Harry was courting her as Lord Slytherin. He wanted her to join them. She was also Luna’s friend and, quite apart from anything else, she was probably going to have to spend the next seven years sharing a dormitory with her.</p>

<p>She slowly nodded.</p>

<p>Alexandra breathed in sharply. “I knew it!” she whispered. “That exercise you were doing in class. You were practising wandless magic, weren’t you?”</p>

<p>“Are <em>you</em> practising wandless magic?” she asked, eyes still narrowed.</p>

<p>Alex nodded. “Luna’s teaching me.”</p>

<p>Ginny relaxed somewhat. “Oh. Well, if Luna’s teaching you, you must be doing quite well.”</p>

<p>Alex shifted her weight, clearly uncomfortable. “Well, I’d like to say I am, but I’ve never beaten her once.”</p>

<p>Ginny scoffed. “You mean in a duel? No kidding. I can’t beat Luna and I’ve been busting my ass trying to.”</p>

<p>Alex’s eyes started to sparkle. “Duel me, then.”</p>

<p>“I’m sorry?”</p>

<p>“Duel me!”</p>

<p>Ginny nervously looked around the woodland clearing. It was <em>probably</em> okay… She turned back to the excited witch in front of her. “Well, okay then, but just this once. We can’t risk making this a regular thing. Not here.”</p>

<p>“Fine.” Alex turned and made her way back to the other edge of the clearing, expensive robes fluttering around her ankles in the wind.</p>

<p>Ginny took a deep breath and drew herself into her own mind. Calm. Focus. Magic. Pool it. Wield it. Command it. She closed her eyes for a moment and then opened them again. She looked around and saw a particularly large oak leaf on the ground. She picked it up and called out to her opponent, “When the leaf lands, we start.”</p>

<p>Alex nodded, clearly also bringing herself into focus.</p>

<p>Ginny saw the witch’s fingertips start to glow red.</p>

<p>She held the leaf between thumb and forefinger, took a deep breath, and regarded her opponent. Just like a normal duel — Dodge to the sides, pound magic into her shields, break them down, dart away, swat anything that makes it too close, rinse and repeat as many times as needed to win.</p>

<p>She threw the leaf into the air.</p>

<p>Both pairs of eyes followed the leaf’s descent.</p>

<p>The leaf hit the ground.</p>

<p>Ginny leaped to the side, shot off her chain, shielded, turned on her heel, not waiting to see the result, and dashed away, all the while straining to feel the first cast, leaped behind a nearby tree, and waited.</p>

<p>And waited.</p>

<p>And waited some more.</p>

<p>Eventually, tired of waiting, she poked her head around the tree.</p>

<p>There, laying on the ground, exactly where she’d started the duel, was the unconscious form of Alexandra Black.</p>

<p>Ginny stepped out from behind the tree and cautiously walked towards the Black Heiress. She wiggled her fingers and stared at them in disbelief. Holy Merlin.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“And when I looked back, she was down!” Ginny bounced on her feet in front of where Harry sat, her eyes twin shining beacons.</p>

<p>Harry’s smile could only be described as amused.</p>

<p>“Ohh, it just feels so good to be the one laying the smack down instead of being Luna’s chew toy! Hah!” She punched the air and spun around on one foot.</p>

<p>Harry slowly got to his feet. “So, you ready to go to the next level on project ‘lay the smack down on Luna’?”</p>

<p>Ginny grinned. “Yes! I swear I almost had it before Alex interrupted me in class.”</p>

<p>“Okay. Go ahead then.” Harry motioned to the many stones that lay around them and stepped away.</p>

<p>Ginny’s face firmed. Right. She locked her gaze on a nearby pebble, identical to the black one Harry had used before. Focus. Feel the magic pool, form the intent, push it to your fingertips. She cast her gaze around and spotted a similarly identical white pebble a little way off. The spell danced at the edge of her fingers and she knew. The spell surged and she felt the pull in two directions at once, one to the black pebble here, the other to the white pebble there.</p>

<p>She blinked.</p>

<p>The black pebble was there. The white pebble was here.</p>

<p>She’d done it. Her heart soared. She let out a happy sigh.</p>

<p>“Well done, Ginny.” Harry smiled and they spent the next hour making fine adjustments to her technique.</p>

<p>Ginny couldn’t stop grinning. If she felt good about having wandless magic before, because not even Bill or Charlie could do it, it was nothing to knowing she could now do something that not even Harry could do. Her very own secret weapon. Or, it would be, if she could get the next stage to work. Then she could beat Luna, or perhaps, as Luna might prefer, ‘conquer’.</p>

<p>Ginny grin turned bemused. “Harry?”</p>

<p>“Yes, Gin?”</p>

<p>“Do you want to conquer the world?”</p>

<p>Harry briefly stilled where he’d been idly kicking his feet against the stone pillar on which he’d sat himself before continuing again. “I wasn’t planning to,” he said, his voice sounding as amused as he looked.</p>

<p>Ginny grinned impishly and hopped up next to Harry. “The other day, Luna said, ‘World conquest requires long-term plans and short-term goals,’ and that you do both.”</p>

<p>Harry raised an eyebrow. “Did she really? That’s… interesting.” He looked off into the distance. “You know that dominating Magical Britain was always the plan. Whether through political, economic, or magical means doesn’t matter so much. Vanquishing Voldemort and securing the future of those we care for against the wolves of our world who would seek to subjugate us for their own pathetic ends… that’s not something that can be done from a position of weakness.” He looked back at her and gave a small smile. “’Conquest’ still seems like quite a strong word though.”</p>

<p>Ginny smirked. “I thought you also wanted revenge?”</p>

<p>Harry smirked back. “Yes, that too.”</p>

<p>“And the world?”</p>

<p>“So long as the world leaves us alone, I don’t much care.”</p>

<p>“And if it doesn’t?”</p>

<p>Harry’s eyes hardened. “Then I will burn a path to those who threaten us—who wish us dead or enslaved—and tear them apart so they can never threaten us again.”</p>

<p>Ginny shivered, met Harry’s gaze and saw ten years of hell. She saw her own death. She saw a world ruled by the Dark Lord. Of course. That’s why she was doing all this. It wasn’t as though it had much to do with her dream of playing professional quidditch.</p>

<p>She firmed her jaw and nodded.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Luna rolled happily on the leaf-strewn ground after one particularly hard duel.</p>

<p>Ginny watched her. The discrepancy between the witch when she relaxed and when she duelled was disconcerting to say the least. “Luna?”</p>

<p>Luna stopped rolling in the leaves, blew her hair out of her eyes, brushed away a stray leaf, and slowly turned to face her. “Yes, Ginny?”</p>

<p>“Why did you say that Harry wants to conquer the world?”</p>

<p>“I didn’t say, ‘Harry wants to conquer the world’, Ginny.”</p>

<p>“Yes, you did!”</p>

<p>“I said it’s good that Harry <em>could</em> conquer the world.”</p>

<p>Ginny blinked. She wasn’t sure where to even <em>begin</em> with that comment. “Why?”</p>

<p>Luna smiled. “Harry might need to. It would be an awful shame if he needed to and couldn’t, wouldn’t it?”</p>

<p>Ginny hesitated. “I suppose…”</p>

<p>Luna rose from the leaves, brushing herself down as she went. “Come on, Ginny. Enough talk of Harry conquering the world and making you queen of the Amazons. We’ve still got lots to do. And Mum baked a pie earlier. There’s still some left.”</p>

<p>Ginny watched Luna walk off.</p>

<p>Huh?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny felt the magic pour through her.</p>

<p>“Now, this next bit is extremely tricky,” Harry said, holding her arms with his own. “The idea is that you shoot only half of the spell while keeping the other half inside yourself, but still realising the spell in its entirety.”</p>

<p>Ginny’s head swam. Complexity piled on complexity. What she’d struggled with in September now seemed child’s play compared to this.</p>

<p>“You know the feeling you get when you swat spells? When the magic feels half in and half out? It should, in theory, feel something like that.”</p>

<p>She pushed the switching spell to the very tips of her fingers. She tried to fire it and hold it at the same time, but the spell died and putted out. Damn. She scowled.</p>

<p>Harry squeezed her gently. “Again.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny stared at the stone of the other side of the Burrow’s orchard, willing herself to switch places with it, pooling her intent with her magic, and trying to loose it and keep it at the same time.</p>

<p>The crisp November air rustled the few leaves she hadn’t yet raked onto the compost heap.</p>

<p>Ginny tried one last time before dinner.</p>

<p>The spell died.</p>

<p>Damn.</p>

<p>Oh, well. Her eyes hardened. Soon. Soon, she’d master it.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ginny hurled the pebble at the Aztec wall. “This is SOOOOO annoying!”</p>

<p>Harry smirked.</p>

<p>“All month! All freak’n month! And I’m still no closer! ARGHH!”</p>

<p>“No one ever said spell discovery was easy.”</p>

<p>Ginny grumbled, picked up a twig and switched it for the pebble she’d just chucked away.</p>

<p>Harry’s face firmed. He nodded. “Again.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Ginny, we need a half-dozen eggs, the hens were short this morning.”</p>

<p>“Yes, Mum,” Ginny said, and made her way to the back of the muggle shop, glaring at every cardboard box now that she was out of sight.</p>

<p>She found her quarry, all lined up muggle style on the shelves.</p>

<p>She scowled, generally annoyed at everything that wasn’t a successful self-switching spell, which included what sat in front of her. Eggs. Damn eggs sitting there so smug and in boxes.</p>

<p>As she had for seemingly every waking moment she could for the last month, she pooled her magic, and went through the motions.</p>

<p>She mentally picked out an egg.</p>

<p>She threw the spell.</p>

<p>She held the spell.</p>

<p>She both threw the spell <em>and</em> held the spell.</p>

<p>Her eyes widened in shock. Her heart leaped. It worked!</p>

<p>Immediately and without thinking, she actualised the rest of the spell, and realised, to her horror, and a split second too late, that she was about to switch with an egg, on a shelf, in an open cardboard box, in a muggle food shop.</p>

<p>Her viewpoint shifted and she felt a hammer-like force smack into the top of her head. The world fell down around her and a massive crash announced the depositing of several shelves of tins, boxes and bags, along with the shelves themselves, onto the floor. She fell with it, hard.</p>

<p>“Ginny!” Molly Weasley appeared as though by magic and immediately started helping her out of the wreckage. “Ginny, what happened? Are you alright?”</p>

<p>Ginny nursed her head and frantically looked around. Several customers were staring, looks of utter shock on their faces. One whispered to another, “Did I just see that girl teleport?”</p>

<p>“I—” Merlin, this was embarrassing. “I had an accident, mum.”</p>

<p>Molly Weasley goggled. “At your age?”</p>

<p>Ginny nodded.</p>

<p>Her mum looked around, business-like, pulled out her wand, and surreptitiously fired off a spell that Ginny knew would alert the obliviator squads.</p>

<p>They left just as a pair of wizards in waistcoats and flatcaps entered, nodding to her mum as they passed, both whistling jaunty tunes.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>That night, after being fussed over for several hours, Ginny found herself back at the Rookery, once again, for what seemed the thousandth time, facing off against Luna.</p>

<p>Fire burned in Ginny’s eyes.</p>

<p>“Begin!”</p>

<p>The duel started as their duels always did, with Ginny charging forward, closing the distance and swatting away every spell that came her way. Luna countered as she always did, with shields and swatting of her own. The closer they got to each other, the more frantic the swatting got and the more Luna had to rely on her shields. Ginny was just faster like that.</p>

<p>Soon they both started to tire.</p>

<p>Ginny retreated in a hail of stunners and stingers.</p>

<p>Luna chased, but never quite managed to catch up.</p>

<p>They both reset, and they both started at it all again. This would go on and on until one found an opening. A tiny sliver in their opponent’s armour to sneak a spell through, and that one was always Luna.</p>

<p>But not this time. Ginny grinned from behind a tree. This time, that sliver would be a Merlin-damned gaping hole, and Luna wouldn’t know what hit her.</p>

<p>Ginny dived out from behind the tree and sprinted towards the other side of the clearing, Luna close on her heels.</p>

<p>She passed a stone on the ground, pooled her magic, formed her intent, and fired the spell, still running at full tilt. The spell connected, Luna passed the stone a few seconds later, and Ginny felt the spell catch. Her hand glowed red. She felt a little yank and Luna’s back popped into view in front of her. She loosed the spell and had just enough time to catch the look of utter shock that appeared on Luna’s slightly turned head.</p>

<p>The stunner hit. Luna’s face blanked, and the witch who’d gone undefeated for the whole damn semester, the witch who’d kept her learning trick after trick and still staying one step ahead of every single one of them, fell, with a quiet thud, onto the leaf-padded ground.</p>

<p>Ginny panted. She stared. She bent over double, hands on her knees to support herself. She’d won. She’d won. Ginny sucked in a huge gulp of air. She’d damn well won! Ginny straightened her body, raised her fists to the sky, and let out the loudest, most ferocious, and most triumphant war bellow that her ten-year-old girl’s throat would give her.</p>

<p>Then she cast a finite on Luna.</p>

<p>“Wow! Ginny!” Luna bounced up and tackle-hugged her.</p>

<p>Ginny stumbled backwards, just managing to keep her balance.</p>

<p>“That was amazing! What <em>was</em> that?!” All dreaminess had gone from Luna’s eyes, replaced with nothing but sharp enthusiasm. “It wasn’t apparition. I’d have heard the crack! You didn’t silence yourself either! And the Rookery has key-in apparition wards anyway!”</p>

<p>Ginny couldn’t help but grin. “If I tell you, will you promise not to suddenly learn it in less than a week?”</p>

<p>Luna pouted. “Fine.”</p>

<p>One hour later, Ginny was sorely regretting telling Luna how the self-switching spell worked. “HOW?” she cried, crawling on her hands and knees from where she’d just been awoken from losing yet another duel.</p>

<p>“It’s your face, Ginny. And the way your fingers move. I can see when you’re going to switch just before you do it.”</p>

<p>Ginny groaned.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Disillusionment,” Harry said.</p>

<p>“Disillusionment?” Ginny asked, mischief dancing in her eyes.</p>

<p>“Disillusionment,” Harry repeated.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The shrill voice of Molly Weasley sounded through the Burrow. “Ginny! Ginny where <em>are</em> you? We need to get to the Alley before everything closes! They don’t open on Sundays and we won’t have time before the portkey for Romania leaves on Monday!”</p>

<p>An almost-invisible Ginny quietly sniggered and crept back up to her bedroom from where she’d been secretly training in the backyard. She dropped her disillusionment and poked her head out the door. “I’m <em>here</em>, Mum!”</p>

<p>“Oh!” her mum said, looking more than a little flustered. “Good, then.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“HOW?!” Ginny beat her still almost invisible fists on the ground in rage and frustration.</p>

<p>Luna smiled dreamily, brought her hands to her ears, and flicked them back and forth.</p>

<p>“Right,” Ginny muttered into the frosty late-December ground, “guess it’s going to be silencing charms next.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The next night, Ginny lay awake in bed, staring at the ceiling and thinking. She wished she could go to the Winter Festival at Greengrass Manor, but her parents were taking her to Romania to visit Charlie. It wasn’t that she wasn’t looking forward to seeing her second-eldest brother again, she was. But, well, she had seen her mum packing <em>four</em> separate Ginny-Weasley-sized coats into her old expandable trunk. Cumbria wasn’t <em>that</em> cold.</p>

<p>There was also the fact that she still hadn’t completely forgiven either Bill <em>or</em> Charlie for ignoring her last summer and pushing Harry so far that he actually suffered a panic attack strong enough to briefly knock out the Burrow’s wards.</p>

<p>That Charlie had supported their parent’s decision to confiscate the broom Harry had gifted her rankled even more, especially given Charlie’s own history with Quidditch. She’d like nothing more than to blow off some steam in the nighttime skies around the Burrow.</p>

<p>Ginny stared at the ceiling some more. She frowned and sat up in bed and stared at an empty patch of bedroom wall. But… now…if she could… Her eyes narrowed. Yes.</p>

<p>She quietly slipped out of bed, opened her door, slipped through the magic trip wires with barely a second thought, moved as silently as she could without magic to the trapdoor to the attic, carefully opened the door, stunned the ghoul, turned and regarded the ward around the trunk that she’d found before.</p>

<p>She closed her eyes, opened herself to magic, and let the intent caress her skin like a Luna-hurled stunner to be instantly swatted away. It felt like… a key-in perimeter ward? A key-in perimeter ward… and something else… a motion detection area ward… a motion detection ward that worked by…. Ginny tilted and rolled her head as though trying to hear something a long way off. …It worked by ‘seeing movement.’ The trunk itself… had no magic.</p>

<p>Ginny bit her lip, turned, thought about the distance between here and her bedroom, and the chance that she could make it back without bumping into her parents if something went wrong.</p>

<p>She turned back to the ward. Her jaw firmed. She looked around, picked up a hat from a nearby hatstand, disillusioned it, and, standing right next to her escape route and holding her breath, frisbeed the almost-invisible hat past the perimeter ward and into the motion detector ward.</p>

<p>Nothing happened.</p>

<p>She let out her held breath. Stage one was successful.</p>

<p>Ginny walked towards the ward line and allowed herself to also fade into the background.</p>

<p>She focused on the hat… and switched, bringing herself forward a whole few metres closer to the trunk and depositing the hat back where she’d been standing.</p>

<p>Again, nothing happened.</p>

<p>Right. Next step.</p>

<p>Ginny walked forward as carefully and as slowly as she could manage. She wasn’t completely invisible after all. She reached the trunk and suddenly realised there was a problem. She couldn’t just open the trunk lid without triggering the motion detection ward.</p>

<p>Ginny chewed her tongue.</p>

<p>But, she couldn’t just disillusion the trunk either. That would surely also trigger the ward. But…—She stopped chewing her tongue and started on her cheek—…But maybe she could slowly disillusion the trunk, just a tiny bit at a time.</p>

<p>She reached out, placed her hands on the trunk and slowly, ever so slowly, applied one disillusionment charm after another, each one just a bit stronger than the last, each time waiting a good amount of time before casting again.</p>

<p>Eventually, the trunk was nothing but a mirror of the background, an outline in the air.</p>

<p>Ginny fingered for the lid and opened it just a crack. The disillusionment held, shielding the trunk’s contents from the ward without actually carrying over. She opened it a bit more, peeked in and had to stifle the instinct to breathe in sharply and shout in triumph.</p>

<p>She snatched her tiny, limited-edition Nimbus 1700 from the bottom of the trunk, closed the lid, slowly dispelled the charms, worked herself back through the area ward, switched herself to the other side of the key-in perimeter ward, used a disillusioned umbrella to retrieve the hat, tiptoed back down the stairs, into the kitchen, out the back door—slipping through the other set of trip lines as she went—down to the orchard, gave her broom the magical once over, un-shrunk it, mounted up, and shot into the air, grinning like a madman, and letting happiness surge through her body.</p>

<p>Her parents would never know. Oh, they’d find the broomstick gone when they next checked, but they’d have no way of suspecting it was <em>her</em> who had done it. She’d deposit the broom in Harry’s fidelius-charmed secret passageway when she was done. She sure wasn’t stupid enough to hang on to it — she’d learned <em>that</em> lesson well enough. But it was back in her possession again, and that was what mattered.</p>

<p>Ginny did a loop in the air, still under disillusionment, and soared upwards towards the moon.</p>

<p>She’d get cold soon, but right now, she felt she could weather an Arctic snowstorm, she was <em>that</em> happy. The last four months had been almost nothing but hard, hard work and soon she’d be back at it, but for these few, precious moments, she was going to enjoy herself, just like Harry surely was at the Winter Festival.</p>

<p style="text-align: center;">— End of Chapter Twenty-four —</p>

{   5} [Ginny waved]: Mesidast: https://discord.com/channels/342065231842902017/387696969499541514/1239617427638321254

Also just to check, Chapter 24 starts with:

	Ginny waved sadly with one hand, eyes fixed on her identical twin brothers's retreating smiling faces and waving arms as the Hogwarts Express chugged out of platform 9 and 3/4 in all its scarlet metallic glory

However earlier in Chapter 12 Harry and Ginny say the following after she gets caught with the broom:
	Ginny frowned. Then sighed. "This is the last time we're going to see each other for a whole year isn't it?"
	(Harry:) "You're not going to see off your brothers?"
	"I doubt they'll let me now.

I'm assuming it's just a matter of her parents do actually let her see off her bothers rather than a mistake? 
