Chapter 25 - Necromancy for Fun and Fun - Part 1

<p>[Warning: This chapter contains strong and potentially offensive language]</p>

<p>[August 5th, 1991 — The day after Alexandra’s tenth birthday party]</p>

<p>In a dusty corner of a dusty library, a pair of bright violet eyes were glued to the occasionally turned pages of a colourful book.</p>

<p><em>And then, the Boy-Who-Lived swept down on the foul beast and sliced it in two.</em></p>

<p><em>“Hah!” the Boy-Who-Lived shouted. “Your foul magics won’t help you this time!”</em></p>

<p><em>The Black Witch of the North cackled. “Oh, you think so, do you? You haven’t even seen one-tenth of my true power!”</em></p>

<p><em>And then, the Black Witch of the North drove her staff of supreme evil into the ground, which started to shake terribly.</em></p>

<p><em>“What is this?!” The Boy-Who-Lived was startled. He’d never seen such evil before.</em></p>

<p><em>“This! This is my TRUE POWER!” And from the ground emerged a dragon, and the Boy-Who-Lived could see that it was undead because its skin was yellow and flaky and bony and yet it still moved.</em></p>

<p><em>“Do you see, Boy-Who-Lived?” the Black Witch of the North cackled. “You cannot possibly hope to defeat such evil! Now, bow before me!”</em></p>

<p><em>“Never!” The Boy-Who-Lived got shakily to his feet. “I can defeat you! Because I have my friends!”</em></p>

<p><em>And the friends of the Boy-Who-Lived all gathered around him.</em></p>

<p><em>“Use it now!” shouted Maldeve.</em></p>

<p><em>“Yes!” shouted Vivian. “The ancient artefact! It’s the key to defeating the Black Witch of the North!”</em></p>

<p><em>And the Boy-Who-Lived pointed the ancient artefact of Zak’ra’na’fu’si’ta’dul at the huge undead dragon and the power of friendship rushed through them all, hit the foul dragon, which let out an evil cry of rage, and dissolved into nothing.</em></p>

<p><em>“NO!” The Black Witch of the North cried. “This cannot be! I cannot be defeated by—”</em></p>

<p>Wham! The book hit the nearest bookcase and dropped to the floor, face down, still open, its colourful front cover showing a boy of no more than six standing on the head of a dragon and holding a sword. A startled Amethyst jumped up and fell from where she’d been sleeping, landed lightly on the floor, righted herself and looked around, dart-like, for whatever threat had awoken her.</p>

<p>Alexandra Patricia Black, wearing a long nightdress and a frown, folded her arms and glared at the fallen book. <em>That</em> was how the ‘Boy-Who-Lived’ took down a seventy-foot-long undead dragon? What a cop-out. He should have been a greasy stain on the castle floor! The Black Witch of the North should have won! She’d been better prepared, better armed, better manned. She’d had a whole army of skeletons in book four. Where had <em>they</em> been?</p>

<p>Still grumbling, Alex hopped out of her armchair, snatched the book up, carefully gathered a mewing Amethyst in her arms, made her way out of the library, and down to where breakfast was being served.</p>

<p>“Morning, sleepyhead.” Lord Sirius Black hastily buttered a slice of toast while she slid herself into one of the high back chairs and spooned herself a boiled egg from a large silver bowl filled with sand.</p>

<p>“Been up for ages,” she muttered, depositing the cute black kitten and tapping the egg with a convenient silver spoon.</p>

<p>“Oh? Doing what?”</p>

<p>She held up the Boy-Who-Lived adventure book in her other hand. “In the library.”</p>

<p>A brief look of concern flashed over her father’s face before settling back into its usual jaunty demeanour. “Just so long as you’re staying out of <em>those</em> areas.”</p>

<p>She mentally rolled her eyes. “Yes, Dad.”</p>

<p>Her father swallowed another bite, grabbed two more slices of toast, and stood up. “And you enjoyed your birthday party yesterday?” He moved to the hatstand and started putting on his cloak, both slices of toast now held in his mouth.</p>

<p>“Yes, seeing Luna again was nice. I’ve missed her.”</p>

<p>Her father grunted something that she couldn’t quite make out.</p>

<p>“I was thinking of inviting her around again sometime?”</p>

<p>Lord Black looked around, patting his pockets and frowning.</p>

<p>Alex tilted her head and put on her best puppydog face. “It’s been kinda lonely over the summer, otherwise.”</p>

<p>Her father stopped looking around and briefly focused on her. “Oh. Oh, yeah, yeah, sure, okay then — have you seen my badge anywhere?”</p>

<p>Alex smiled brightly. “Kreacher!”</p>

<p>Lord Black groaned.</p>

<p>“Honoured Bastard Mistress called?”</p>

<p>Alex’s smile became rather wooden.</p>

<p>Her father looked resigned.</p>

<p>“Find Lord Black’s auror badge.”</p>

<p>“Yes, Honoured Bastard Mistress.”</p>

<p>A few moments later, her father briskly walked to the floo, auror badge in hand.</p>

<p>Alex spent a few more minutes finishing breakfast before heading back up to the library. She slid the offending Boy-Who-Lived adventure book back between its dozen or so fellows, carefully extracted Volumes I, II, and III of <em>The Light Side of the Dark Arts</em> and made her way to the nook that held her Grandfather’s portrait.</p>

<p>“So, he got you <em>another</em> gift, mmm?”</p>

<p>Alex shifted uncomfortably, holding the book up for inspection. “He did. And Luna gave me a black kitten.”</p>

<p>“Well, make sure you send a couple of owls to thank them both.”</p>

<p>Alex nodded.</p>

<p>“And,” Portrait Orion Black stroked his beard. “You’re now ten years old. That’s a very special age for a daughter of the House of Black.”</p>

<p>Alex hesitated. “It is?”</p>

<p>“Oh, yes,” he continued. “You’re off to Hogwarts in a year’s time, and now’s the time for you to learn about the Black family magic.”</p>

<p>Alex’s eyes widened. “Really?” Her face broke out in a massive grin.</p>

<p>Orion Black smiled back warmly. “Yes, really.” His smile faded. “I advise against you telling my son that I’ve spoken to you of this though. He never bothered learning when he was younger, despite my and your grandmother’s best efforts, unlike your late uncle.”</p>

<p>Alex snorted. “Why am I not surprised?”</p>

<p>Orion Black nodded and then told Alex exactly what she needed to do to find the secret section of the Black Library that held the Black family magic. Alex thanked her grandfather and left.</p>

<p>“Kreacher!”</p>

<p>Kreacher popped in front of her, all pointed nose and ears, mean eyes, and yellowed teeth. “Honoured Bastard Mistress called?”</p>

<p>“Yes. Please get me a sharp knife and a healing potion.”</p>

<p>Moments later she held a wickedly sharp-looking knife and a healing draught.</p>

<p>She nodded and turned back to Kreacher. “You are not to know where I am, or what I’m doing, for the next thirty minutes, understood?”</p>

<p>Kreacher grinned and rubbed his hands together. “Honoured Bastard Mistress is being sneaky again. Kreacher understands, Honoured Bastard Mistress.”</p>

<p>Kreacher popped away.</p>

<p>Alex nodded to herself. When she’d been five, she’d taken to asking the elf to pop her just outside her then-friends' houses. A confused Sirius Black had randomly asked Kreacher where she was and blown a fuse when the elf had been forced to tell him. Since then, she’d always been very careful to make sure the elf didn’t know anything that could get her into big trouble. That included rituals, dark magic, and anything to do with Lord Slytherin.</p>

<p>She padded across the library until she faced a bookcase that looked just like every other bookcase, took a deep breath, sliced open a cut on her palm and winced. It hurt. No, it <em>really</em> hurt. Tears forming in her eyes, she smeared the blood across the spine of the book titled <em>Alchemic</em> <em>Transmutation Volume VIII — Maintaining Purity</em>. The bookcase shivered, the books leapt from their shelves, woodwork slid and reformed itself, and in moments the bookcase became an archway of books, framing a solid-looking door, also made from books.</p>

<p>Alex drank the healing potion and a wave of relief washed through her, pooled in her hand, and within moments, the cut was as though it had never been. Thank Morgana. She grasped the door handle, which looked to be made of two ornate-looking book stoppers, and pushed.</p>

<p>Darkness greeted her. She stepped through in worshipful silence. The room was tiny. There were only two bookshelves on either side of her and barely enough space for two people to comfortably move around in.</p>

<p>These books contained the Black family magic. The magic that only Blacks and their immediate families could cast, or that the family wanted only Blacks to be able to cast. It was part shrine, part incubation chamber and clearly hadn’t been accessed in many years.</p>

<p>Alex idly wondered how many of the spells on the shelves had become <em>actual</em> Black family magic on her birth. The rule of three said that for a new spell to become family magic it had to pass through three generations of heirs without being used by any not of the family’s blood. She was sure that her own father hadn’t invented any spells that he hadn’t <em>immediately</em> shared with the Lord Potter at least.</p>

<p>When she eventually had children… one day… a long, <em>long</em> time in the future… they wouldn’t be getting anything new from their grandfather.</p>

<p>She sniffed bitterly and reached for an interesting-looking tome named <em>The Dendromancer’s Doomsday Book</em>.</p>

<p>Wings flittered.</p>

<p>Alexandra stiffened.</p>

<p>Something had moved just outside her field of vision.</p>

<p>Then, suddenly, something grabbed her long black hair and started yanking it backwards.</p>

<p>She cried out, felt a small bite on her leg through her thin nightdress, heard a cacophony of little angry shouts, stumbled towards the door, grabbed at whatever was yanking on her hair, kicked off the thing on her leg, saw a little blue something fly into the wall, half fell through the door, slammed it shut behind her, flinched as she felt the thing in her hand bite down hard, and smashed it against the nearest bookshelf in retaliation. The thing smushed under force of her ritual empowered attack, sending blue gunk everywhere and all over her hand in particular.</p>

<p>Alex gasped for breath, her heart now beating a million beats a minute. Doxies! She gently cradled her bitten hand, felt the bite on her leg rapidly turning inflamed, and glared at the now-closed book-like door to the secret chamber of Black family magic. Damn it! She stamped her foot in frustration. <em>Now</em> what was she supposed to do? She needed to get this treated, but she couldn’t ask Kreacher. <em>He</em> was under orders to tell her father if she got hurt. She couldn’t go to St. Mungo’s for the same reason.</p>

<p>But… there was <em>someone</em> who might be able to help. Alex’s jaw firmed. She hated this, but there was nothing else for it. She darted downstairs, zipped to the floo, threw some floo powder into the fireplace, ducked her head into the fire and shouted, ‘The Rookery!’</p>

<p>The living room of the Lovegoods faded into view and a regal and dignified-looking man bearing more than a passing resemblance to Lord Malfoy crouched down to her eyesight and asked, “Do you know the meaning of life, young lady?!” in quite a loud voice.</p>

<p>Alex panicked. “I, what?”</p>

<p>The man crouched closer. “Is it more important to rule or to serve?”</p>

<p>Alex sneezed on a bit of wood ash and resisted the urge to back off. “That’s like asking if it's more important to breathe in or out!”</p>

<p>“Then do you rule a master through servitude, or serve a follower through leadership?”</p>

<p>“Either! It doesn’t matter! Do whatever is needed!”</p>

<p>“Good.” The man stood back up, suddenly all formality and politeness. “I am Xenophilius Lovegood, Head of the Ancient and Noble House of Lovegood. How may I serve you?”</p>

<p>Alex hesitated. “I—”</p>

<p>“Alex!”</p>

<p>Luna bounded into view and skidded to a halt in front of her. “You’re here! Oh, don’t mind Daddy, he just gets a kick out of being all mysterious.”</p>

<p>Lord Lovegood smiled and stepped back a few paces.</p>

<p>Alex suddenly realised her knees were starting to ache and both her leg and hand were flaming quite magnificently. “Ah, I… Lord Lovegood? Could I maybe speak to Luna in private for a few moments?”</p>

<p>Lord Lovegood nodded and retreated.</p>

<p>“Luna, I got bit by a doxy and I can’t go to the hospital. I can’t let my Dad find out about this!”</p>

<p>Luna’s eyes widened slightly. She nodded slowly. “One moment, Alex, I think I might have <em>just</em> what you need.”</p>

<p>Luna left and soon returned with a bright blue potion in a tiny bottle. “Here it is.”</p>

<p>“What is it?”</p>

<p>“It is an anti-doxy bite potion.”</p>

<p>Alex looked at the blonde-haired, grey-eyed witch, incredulity seeping from every pore on her young face. “You had this just lying around?”</p>

<p>Luna’s face remained as dreamy as ever. “It is very important to be prepared for anything that might happen, and me and Daddy do go hunting occasionally.”</p>

<p>Alex stared at Luna for another moment before shrugging, opening her mouth wide, and making an ‘Ahhhhhh’ sound.</p>

<p>Luna tipped the potion in, not letting any liquid fall off her outstretched tongue.</p>

<p>Alex snapped her mouth shut, gulped it down, and immediately started to feel a reduction in soreness in her leg and hand. She let out a sigh. “Thanks, Luna.”</p>

<p>“That is quite all right, Alex. Would you like to start occlumency training now?”</p>

<p>Alex’s hesitated, briefly thinking back to her as-yet-unexplored birthday inheritance, and then remembered that, for the time being, she had no way to get to it. Then she thought back to what had happened yesterday, when Luna had blown through her occlumency barriers like they were tissue paper, just because she’d gotten special lessons from Lord Slytherin. Lessons that she could have had, but had thrown away in a fit of childish arrogance. Her eyes firmed. “Yes.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>If Alex thought that Lord Slytherin’s special lessons would be easier than her previous occlumency lessons, then she was sorely mistaken. She’d <em>never</em> <em>ever</em> done anything <em>so</em> hard. Every day, for hours and hours, Luna ripped through her head like a hurricane, destroying everything in her path and building it back up as she went. Her brain ached and she went to bed every night exhausted, only to wake up the next morning with a thumping magical toxin hangover — a hangover that she somehow had to hide from her father, every single day.</p>

<p>August came and went and soon enough September the first rolled around.</p>

<p>“How much longer are we going to do this?” Alex groggily asked a faintly smiling Luna. They were sitting opposite each other on Alex’s bed.</p>

<p>“A few more months yet. Your body should be getting used to the magic soon and you won’t feel so bad in the morning.”</p>

<p>“Good.” Alex clutched her head. “I feel like… horrible.”</p>

<p>“Here, drink more water.”</p>

<p>Alex grabbed the offered bottle and gulped it down.</p>

<p>“You know, Alex, you <em>are</em> doing quite well. I think we’re ready to start on wandless magic, although we <em>do</em> still have to continue on with the occlumency for a while yet.”</p>

<p>Alex raised her head to look at the annoyingly chipper vision in front of her. “Eghhh… do we have to? I still don’t see the point of learning wandless magic.”</p>

<p>“Oh, Alex.” Luna shifted closer and took her unresisting hands in hers. “There’s <em>so</em> much to look forward to once you learn wandless magic. It’s not just about casting spells without a wand. You’d be missing out on <em>so</em> much.”</p>

<p>“Like?”</p>

<p>“Well, there’s magic sensing, and all the girls are going to become animagi the year after next, and it <em>does</em> give you a last line of defence if you lose your wand. I love knowing that if any boy tries anything with me, even without a wand, I can still swat him away like the annoying pest he is.”</p>

<p>Alex frowned. That <em>did</em> sound attractive, although the point was fairly moot since she had a boy’s strength anyway. She’d never wanted to be an animagus before. It was something her father had done and, therefore, not something she’d wanted to do, but if it was with a whole bunch of other girls…. ‘All the girls’? Alex frowned and opened her mouth.</p>

<p>“And then of course, there’s the fact that wandless magic is sort of the badge of honour for those Lord Slytherin trusts.”</p>

<p>Alex slowly closed her mouth. Oh. She opened it again. “So, it’s like a test?”</p>

<p>“Alex, with Lord Slytherin, <em>everything</em> is a test.”</p>

<p>Alex’s eyes widened. Oh, damn. It was just like last time, when she’d turned away Harry. Damn damn damn. She shook her head. Her violet eyes firmed. “Right. Let’s do it then.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alex sat alone in the Black Library reading a book from one of the sections her dad had forbidden her from entering. Her eyes widened as she skimmed the pages.</p>

<p><em>And of all the necromantic arts, the most basic, nay, the most elemental, is the raising of a magical being under the binding of the raiser. The raised, known as inferi, will obey the will of the raiser to a certain degree in the large numbers, and to a greater degree in the small numbers. Total control can be attained over a single inferius through a method similar in the practise to that most potente of all dark mind magics, the imperius curse.</em></p>

<p>Images of mighty undead dragons flew through Alex’s mind.</p>

<p><em>The ritual required to raise inferi requires a moste powerful wizzard and much practise and deliberations. The ritual in the first phase animates the corpse, and reconciles its core with that which has passed on. The ritual in the second phase binds the now animated corpse to the wizzard’s will, but only in so much as the wizzard be powerful and the corpse be fresh. If the wizzard fails in this phase, beware, for the beast will run riot across all in sight until the ritual’s magics run down and die out. The ritual in the third and final phase opens the now inferius’ core to the aether and allows the being to exist apart from the now master’s magic.</em></p>

<p>So you needed a magical core to be an inferius? Didn’t that mean that muggles couldn’t be inferi? She looked back and forth across the book but couldn’t find anything that might confirm or deny her question, although many pages seemed to have conspicuous burn marks all over them, including several passages that dealt with the ritual itself. She re-read the passage again.</p>

<p>‘<em>A moste powerful wizzard and much practise and deliberations…’</em></p>

<p>Alex sighed. If there was one thing that her lessons with Luna had driven home, it was that she was ‘behind’. She’d unwittingly rebuffed Lord Slytherin and was now in a position of having to prove herself if she wanted what her friend was already getting. This sounded like just the thing to prove she was more than ready to learn more. She was sure she was powerful, but it wasn’t as though she had a horde of people ready for her to… practise… on…</p>

<p>A lightbulb went off in her head. She grinned.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alex let the magic swirl through her, trying to feel what Luna called the ‘intent’ of the spell. It was supposed to feel like water running through her, condensing at a point about halfway from her navel to her chest. No matter how much she tried she just wasn’t getting it, but she swore if it was the last thing she did, she was going to figure this out.</p>

<p>Luna smiled at her from the opposite chair. “You’re doing a lot better now that you’ve collected some kerfuffling scribblebugs.”</p>

<p>Alex unclenched her determined fists, un-scrunched her face, and smirked at Luna. “Naturally, now that I’ve found some annoying pests to swat.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alexandra watched suspiciously as Ginny Weasley, the chief worshipper of John Potter, the boy-who-lived, walked up to the front of the classroom, picked up the dark magic detection device that the Lady Potter, who was <em>not</em> her godmother, despite <em>her</em> father being <em>John Potter’s</em> godfather, had left there, and waved it over herself.</p>

<p>Odd.</p>

<p>The red-headed witch then proceeded to just stand there with her back facing the class, holding the ring-topped black rod up to her face. She stood there, unmoving, for a whole minute. Alex timed it on the wall clock.</p>

<p>Weasley then spun around, face aglow with satisfaction and happiness and almost danced back to her seat.</p>

<p>Alex narrowed her eyes. What <em>was</em> Weasley up to?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Your fingers are glowing red, Alex. That’s a good sign.” Luna’s calm voice washed over her.</p>

<p>Alex focused and felt the spell reach the very tips of her fingers. She opened her eyes, looked straight into Luna’s, raised her hand, and loosed the stunner.</p>

<p>Luna instantly shielded, serenely smiling.</p>

<p>Alex’s heart leapt. “I did it! Hah! Yes! No one can stop me now!” She jumped up, pumped her fists in the air, almost lost her balance, and jerkily spun on one leg to keep it. She reddened. “Err, you didn’t see that.”</p>

<p>Luna continued to smile. “It’s okay, Alex, you don’t have to feel embarrassed around me.” She stood up and swung wildly on one foot before losing her balance and falling back over on her bum. She pouted. “Owie.”</p>

<p>Alex couldn’t help it. She giggled.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alex approached the Black magic section of the Black Library holding a box. In this box were two dozen unbreakable jars, bought from Diagon Alley the other day. This time, she was ready.</p>

<p>She put the box down, placed her hand on the correct book, and waited as the library’s magic recognised her as a previously accepted daughter of the House of Black. The bookcase resolved itself in a swirling of books and wood into <em>the</em> door. She opened it a crack, brought a stunner to her fingers, and crept over the threshold.</p>

<p>Something angry rocketed out of one of the shelves and towards her in a blur. Without even thinking, she released her stunner, and, by sheer luck, hit the thing before it reached her face. It fell to the ground and she snatched it up.</p>

<p>Her movement seemed to alert all its fellows. They took to the air to defend their downed comrade in a small swarm of scowling blue wings and bodies.</p>

<p>Alex leapt back through the door, slammed it behind her, dumped the unconscious doxy into one of the jars, and screwed one of the air-hole ready lids on tightly.</p>

<p>There. She nodded, grim faced and sweating. Test subject number one.</p>

<p>Alex brought another stunner to her fingers, opened the door another crack, and caught another bolting doxy clear in the chest with her second stunner. She slammed the door, dumped the second doxy into another jar and again screwed one of the lids on tightly.</p>

<p>Test subject number two.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The sun was bright and the day was young.</p>

<p>Alexandra stepped out of the Diagon Alley public floo point, furtively eyed the early morning shoppers, and darted towards the nearest public toilet, careful not to jostle the contents of her shoulder bag.</p>

<p>Once safely ensconced, she pulled a green-coloured potion out of her bag.</p>

<p>‘Next time, use one of these,’ Lord Slytherin had said.</p>

<p>Alex faced the bathroom mirror, popped the bottle’s cork, swigged the complete small dose, and watched with awe as her whole body changed. She grew taller, her face matured, her hips widened, and a sudden weight on her chest alerted her to the fact that, well, she now had one.</p>

<p>“Magical Merlin,” she whispered, eyes wide, hands lightly tracing the lines of her new grown-up face. She tore her gaze away from her reflection and looked around. Everything suddenly felt smaller. It was disconcerting. Alex reached for the bathroom door, opened it, pulled up the hood on her robes to hide her face, stepped outside, and started walking down the alley.</p>

<p>She shifted uncomfortably as she walked, and it wasn’t just her getting used to her new body anatomy. All the grown-ups around her suddenly seemed… less grown-up? It was difficult to put her finger on what had changed, but the change was there. People were looking at her differently, too. No one was paying her any attention. Or rather, people <em>were</em> paying her attention, but the attention felt different. Not so much, ‘what are you doing and will I to have to do something about it?’ so much as ‘I see you and acknowledge you, but won’t do anything unless you do something first.’</p>

<p>It all felt very different, while at the same time, being very similar. That was, until she passed a tall wizard in his twenties, whose eyes fixed on her half-hidden face and didn’t leave until she’d passed, and even then she swore she could feel his lingering gaze as she continued on.</p>

<p>Alex self-consciously adjusted her self-adjusting robes and ducked into Flourish and Blotts, where she proceeded to buy a book to be sold only to those of age, and felt a little thrill of forbidden triumph as she left.</p>

<p>It had worked. She grinned. Now she could go buy stuff she needed for her experiments. Experiments that it was critical stayed secret. She was almost certain Lord Slytherin wouldn’t mind what she was doing, in fact, she hoped he’d be impressed, but she wasn’t so sure about Luna. She liked Luna — it was difficult not to, but the girl <em>had</em> been raised in a then-Light family, and felt… too innocent? Yes, that was it — too innocent — too naive. She could still remember years ago when she and Luna had occasionally played ‘light vs dark’ with John Potter and Ronald and Ginny Weasley. It had <em>always</em> been a four-on-one affair. Luna wouldn’t understand and Alex <em>really</em> didn’t want to lose her as a friend. As for her father, Lord Black, the chief auror, the ‘hammer of the light’… she shuddered, the less thought about what he’d think, the better.</p>

<p>Alex made her way to the mouth of a side alley, checked that no one was looking, produced an ornate-looking green and black mask, attached it firmly to her face, and started down the dark and forbidding shop fronts of Knockturn Alley. Her gaze trailed down the shop fronts as she walked, one by one, each one like a little mystery to be solved.</p>

<p>One shop window held nothing but a single black, velvet pillow on which rested a single, bone-like wand that looked disturbingly like certain illustrations she’d read—with horrified fascination—in certain ritual books of wizard-only spells. Fighting down a blush, she tried to get the images out of her head and concluded that the shop was probably for wand modifications.</p>

<p>The next shop window held the top half of a stuffed, fully-grown troll holding a battle-axe. A glance inside revealed many other stationary and vaguely humanoid shapes, the horrifying highlight of which, had to be the row of house-elf heads on plaques behind the unattended shop counter. The shop sign proclaimed itself as ‘The Helping Hand’.</p>

<p>Alex shook her head, continued down the alley, and detoured around a pair of twenty-something witches loitering outside the next shop front, smoking muggle cigarettes and looking bored. The shop window itself was blacked out and didn’t seem to be much of anything. The shop sign featured only what looked to be a nailed-up, dead, dried, and flattened snakeskin. She couldn’t for the life of her think what might go on in there.</p>

<p>Finally, Alex found herself outside a shop front that held a collection of half-skull dribbly candle holders. Now, <em>this</em> looked like what she was looking for. She pushed the door open, causing a little bell to tinkle, and stepped into the far darker room beyond, filled with crates and barrels and open boxes containing what looked to be half a magical zoo.</p>

<p>“Mornin’ Madam.” A stout little man wearing a black robe with a pointy collar and a goatee emerged from a back door and gave her the once over. “What can I do for you?”</p>

<p>Madam.</p>

<p>Alex mentally smirked, produced a parchment from her robe pocket, and handed it over to the man. “I am looking”—whoa—“for everything on this list.” <em>That</em> was how she’d sound when she grew up?</p>

<p>The wizard took the list with a curious look at her masked face and inspected the parchment. He rubbed his goatee and grunted. “Well, this shouldn’t be too difficult. We’ve most of this in stock. I’ll need to talk to Steve a few shops down about the chicken blood though.” He gave her a sideways look. “Yeh can wait a few minutes, right love?”</p>

<p>Love. Ack. “Yeah—Yes! I mean, that is not a problem.”</p>

<p>The wizard gave her a strange look and left the way he came.</p>

<p>Alex mentally smacked herself. Get a grip! It wasn’t as though this was anything <em>that</em> different to what she was used to — just grown-ups treating her as an equal instead of as a walking glass statue with the IQ of a kneazle and the self-preservation of a disobedient house elf.</p>

<p>Not long later, the wizard returned. She paid for the goods and left the shop, carrying everything in several large bags, and wishing she had one of those cool shrinking trunks.</p>

<p>Alexandra spent the rest of the day walking around the alley, checking out all those little nooks and shops that had barred her as an almost ten-year-old, and asking all those questions she was sure would’ve been frowned on before. In particular, she learned that even with her rather generous allowance, she’d never be able to afford a shrinking trunk anytime soon, and, rather embarrassingly, Gringotts were not in any way fooled by her ageing potion.</p>

<p>Eventually, she made her way back to the bathroom she’d started her day in, glad to take the ageing potion antidote, and looking forward to getting home to change into something a bit less constricting. Her chest was really quite sore now. How in Morgana’s name <em>did</em> grown-up witches go around with these things rubbing against their robes all day?</p>

<p>Alex left the bathroom and headed for the floo.</p>

<p>…Oh, and she still couldn’t get those damn wizard-only rituals out of her head.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>It was one week later.</p>

<p>Her father had left for the day and Alex was sure he wouldn’t be back for quite a while.</p>

<p>In other words, it was time to get down to business.</p>

<p>She barricaded herself in one of the many empty rooms of the house, furtively unloaded her many doodads onto the room’s only table, and placed the book that contained the inferi ritual next to them, open to the mildly burnt ritual description page.</p>

<p><em>Take a pint of chicken blood or as much as needed for the size of the subject to be raised — the larger be the subject, the larger will need be the Deathly Hallow.</em></p>

<p>She pointed to the large jar of red liquid she’d bought earlier in the week. Check.</p>

<p><em>Take the dowel and place it at the tip of the Deathly Hallow, that it be pointing parallel and on the line of the symbol of death.</em></p>

<p>She pointed to the simple wooden rod on the table. Check.</p>

<p><em>Next, be the stone, to be placed on the leftmost side of the hallow, at the bottommost point.</em></p>

<p>She pointed to the pebble that she’d found in the garden and washed earlier this morning. Check.</p>

<p><em>And finally, you must place a cloak at the one remaining triangle tip, taking all efforts to ensure that it be not contaminated with residue magics from charms, enchantments, or runes, lest the ritual fail and the results be really very bad.</em></p>

<p>Alex tapped the buckle of the cloak around her neck. It was the only item of clothing she had that she <em>knew</em> contained no magic and as such, was the only piece of clothing she now wore. She’d even taken off the black butterfly hair ornament that Susan had given her for her birthday. She suspected that her socks <em>might</em> not be charmed or enchanted with anything, which would be nice as the floor wasn’t exactly warm, but she wasn’t about to take that sort of risk.</p>

<p>She glanced down at the book again. The next paragraph was kinda burnt, but she was certain it was a warning not to interfere with external magic until the ritual was complete — something she’d already read many times before. She continued on.</p>

<p><em>Once all these have been placed you shall take your dead subject and place it in the centre of the hallows. You shall then channel your magics into the blood-painted Deathly Hallow and speak thusly:</em></p>

<p>‘<em>Death who takes all, through the power of wand, stone, and cloak, hear your humble servant.’</em></p>

<p><em>You shall then wait for the Deathly Hallow to glow with the magics of death.</em></p>

<p><em>You shall then take your sickle or scythe and plunge it into the corpse of your subject, and channel your magic through the reaper’s tool into it, at which point you shall recite the following passage:</em></p>

<p>‘<em>Death who takes all, I offer you back that which the three brothers took. To raise this container of a soul that you now possess. To bind its magic back to the aether, and to your humble servant.’</em></p>

<p><em>You shall then step out of the Deathly Hallow, wait for the magics to finish and begin your efforts to subjugate your newly raised inferius to your will.</em></p>

<p>Ah, yes. This bit had caused her quite a bit of headache. It had taken all week to track down a book that explained exactly how she was supposed to <em>actually</em> <em>do</em> that last part. Apparently, it was all about overwhelming the target’s magic with your own, at least for long enough to cement the bond, which is presumably why the book said the ritual took a ‘<em>most powerful wizzard</em>’. In any case, she was glad she’d listened to Luna and learned the basics of wandless magic or this bit would’ve been impossible without a wand.</p>

<p>Alex pointed to a large tin next to the pebble on the table. Mrs Skower’s All Purpose Magical Mess Remover? Check. Scrubbing brush and broom? Check. Hand sickle? Check. And finally — she pointed to the last item on the desk, an unbreakable jar in which a furious doxy pounded the glass with all four arms and made occasional evil finger gestures at her. She narrowed her eyes. One disgustingly obnoxious magical creature? Check.</p>

<p>And now all she had to do was follow the instructions.</p>

<p>Ten minutes later, a completely naked Alex channelled her magic into the macabre blood symbol on the floor, in the middle of which lay one now very dead doxy, and spoke the first words of the ritual.</p>

<p>The hallow started to glow deep red.</p>

<p>Alex’s heart leapt. She thrust her sickle into the doxy’s still-warm body, let out another pulse of magic, chanted the ritual words, stepped back out of the ritual space, and waited.</p>

<p>Moments later, the cloak, dowel, and stone all started to glow as well.</p>

<p>Alex felt her heart beat in her chest.</p>

<p>Finally, the doxy started to glow. Magic swirled around the room, rushing past her and sending tingles all through her body.</p>

<p>A grin spread across her face. She leant forward…</p>

<p>…And the deceased doxy exploded, sending blue gunk all over the room in general and all over her in particular.</p>

<p>Alex stared. Damn. She frowned. That… wasn’t supposed to happen.</p>

<p>She straightened, wiped away as much of the entrails from her person as she could, and chewed her lip. She must have done something wrong.</p>

<p>She cast her gaze to a nearby shelf where several other doxies watched her, furiously chattering and chittering and banging their enraged tiny fists on the walls of their glass prisons.</p>

<p>It looked like there would plenty more library time for her in the near future.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>A few days later, Alex was feeling very silly and <em>very</em> stupid.</p>

<p>Grimmauld Place was a magical house. The magics that swirled in the very air were far greater than the paltry enchantments she’d been worried her clothes might contain.</p>

<p>A few years ago, she’d done a ritual to give herself the strength of the male she could have been, at the cost of her ability to taste sweetness. That the house hadn’t affected <em>that</em> ritual was a minor miracle. She shuddered to think of what <em>could</em> have happened to her if it <em>hadn’t</em> gone well, given what happened to the doxy in the ritual she’d just failed to complete.</p>

<p>Her latest trawl through the library yielded the depressingly basic titbit that traditional magic houses usually contained a ritual room — a space built so the inherent magic of the wards were suppressed while still being inaccessible to the outside world. It had been the work of a moment to walk into the Black magic section of the Black Library and find a floor plan of the house, which, lo and behold, showed her where the ritual room was.</p>

<p>Which is how Alex now found herself, naked and shivering, in the basement of Grimmauld place, surrounded by old stone walls covered in complex runic arrays, and standing on a perfectly flat slate floor, ideal for chalk and paint and, well, blood — glowing blood — glowing red like an angry star.</p>

<p>She stabbed the second dead doxy with her wickedly sharp sickle, sent a pulse of raw intent through the curved blade, chanted the second ancient set of ritual words, stepped back out of the Deathly Hallow, and watched.</p>

<p>The Deathly Hallow glowed red.</p>

<p>Alex narrowed her eyes.</p>

<p>The dowel, stone and cloak all glowed.</p>

<p>The doxy glowed… and then exploded.</p>

<p>Alex groaned and wiped more doxy bits off her pale skin. Back to the library again.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>It was the weekend, and Lord Black was at work.</p>

<p>Alex stood in a dark corner of the Black Library, flipping through <em>Ritual Troubleshooting - What to do When it All Goes Wrong,</em> and waiting for Luna to finish lunch at the Rookery so they could do stuff together.</p>

<p><em>And if you are still experiencing problems, you might consider using a virgin as the ritual performer, as the act of intercourse subtly alters a witch or wizard’s magic in ways that can adversely affect some rituals.</em></p>

<p>Alex felt her cheeks warm up. That… wasn’t an issue for her.</p>

<p><em>Some rituals are affected by the phases of the moon, and can only be done at full, or new moon. The prevalence of this consideration is mostly restricted to fertility and life rituals.</em></p>

<p>So, again, not relevant.</p>

<p><em>Make sure to double-check and triple-check yourself for any and all possible external magic that you may be carrying with you into the ritual. Sometimes there are things that we carry around with us all the time that we forget about. The most common types of magic accidentally brought into rituals are small items of clothing, potions taken earlier in the day, charms still lingering on one’s person, and magical jewellery such as hair ornaments, necklaces, and rings.</em></p>

<p>Rings! Alex’s eyes widened. Damn! Damn damn damn! She looked down at her right hand, thought about her noble house ring, and watched it materialise on her index finger in the shape and crest that marked her as the heiress of the Most Ancient and Noble House of Black. She was so stupid! That <em>must</em> be it! Just because she kept it invisible and untouchable most of the time, that didn’t mean it wasn’t there in magic, did it? She hesitated. Or did it? She wasn’t actually too sure, but that didn’t matter. She just had to take it off and try the ritual again to know.</p>

<p>Alex nodded, replaced the book in the shelf, and headed for the basement. She still had a little while before Luna arrived and she really wanted to get this sorted out.</p>

<p>A few minutes later, she stood again in the ritual room, but now that she was here, she felt a lot less certain.</p>

<p>Taking off her noble house ring felt… wrong. It had protected her ever since her father had shown her how to call it when she’d been just four years old. She fingered the ring and traced the Black crest on the front. Her jaw firmed. But if she <em>didn’t</em> do this, then she’d never know, and it wasn’t as though it would be for all <em>that</em> long. She closed her eyes, willingly accepted the removal of her ring without outside compulsion or persuasion, and slid it off her finger.</p>

<p>She looked at the tiny ring of silver in her palm, placed it carefully on the tabletop, and shivered. Merlin, she felt so… vulnerable. Without her ring, she might as well be a muggleborn, totally at the mercy of the first idiot to catch her off guard with a confundus charm, love potion, or obliviate.</p>

<p>She gently shook herself, formed up the ritual lines, carefully placed the stone, dowel, and cloak at the triangle’s corners, pulled off her robes and underthings, deposited them in a neat pile by the doorway to the rest of the house, turned away from the door, reached for the shelf nearest her, stunned another of the jar contained doxies, pulled out the horrible little thing, stabbed it through the chest with her sickle, and placed it, still bleeding, in the middle of the ritual space.</p>

<p>She stepped back and waited a few minutes to be certain the multi-armed blue pixie thing was dead, occasionally shivering in the cool basement air, and feeling far more naked this time than she had the last.</p>

<p>Okay, that should be long enough. Alex stepped back into the Deathly Hallow, put her finger to the blood drawn symbol, and pulsed her magic into it.</p>

<p>She took a deep breath. “Death who takes all, through the power of wand, stone, and cloak, hear your humble servant.”</p>

<p>The Deathly Hallow started to glow, blood red and angry. The shadows moved across the small room. Her own shadow lengthened, and was joined, moments later, by someone else’s.</p>

<p>Alex froze, heart leaping into her throat, dread flooding her body.</p>

<p>She turned her head, sickle shaking in her hand.</p>

<p>In the doorway, stood Luna, as naked as she, and not smiling.</p>

<p>Alex gasped. “Lun—”</p>

<p>Luna moved fast, covering Alex’s mouth with a hand and stopping her from finishing whatever shocked words she’d been about to say. The blonde shook her head, eyes sharp, mouth one thin line.</p>

<p>Alex found herself turned around and gently but firmly pushed forward towards the ritual space. She looked behind her again to see naked Luna making a ‘get on with it’ gesture. She gulped, knelt down, raised the sickle in an unsteady hand, thrust it into the dead doxy on the floor, and pulsed a shot of magic into it. She stood back up on weak legs and took a single, long, shaky breath. “Death who takes all, I offer you back that which the three brothers took.” Her voice trembled. “To raise this container of a soul that you now possess. To bind its magic back to the aether, and to your humble servant.”</p>

<p>The dowel, stone, and cloak all glowed red. The doxy started to glow and then, exploded.</p>

<p>The red glows all faded away.</p>

<p>Alex whirled around, now covered in doxy gore. “Luna, I swear, this isn’t—Oomph!”</p>

<p>Luna tackle-hugged her, forcing Alex to step backwards or lose her balance.</p>

<p>Alex’s heart was beating a mile a minute. She stiffened, unsure what to do with her now extended arms, one hand still holding the ritual sickle. “Luna? I don’t… Luna?”</p>

<p>Luna body shook against hers. “Stupid, Alex.”</p>

<p>“Luna?”</p>

<p>Luna leaned backwards and glared at her. “Stupid, Alex! Why didn’t you tell me?”</p>

<p>Alex flinched. “I didn’t think you’d like it.”</p>

<p>Luna’s glare softened “Oh, Alex.” It hardened again. “I don’t like many things, but the biggest thing I don’t like at the moment is that you’ve taken off your noble house ring!” She pointed to where her ring still lay on the table.</p>

<p>“I…” Alex looked at her feet. “…I thought its magic might be interfering in the ritual.”</p>

<p>“Put it back on!”</p>

<p>Alex scrabbled to do so, but found it difficult. Luna refused to let go of her. Soon it was back on her index finger, where she knew it belonged.</p>

<p>“Alex,” Luna continued, still firmly hugging her and paying no attention to the doxy remains still splattered all over her. “The Albion magics don’t interfere in rituals. If they did, no one would be able to do any rituals in the entire country.”</p>

<p>Oh. She stood in Luna’s arms in silence, afraid to say anything more. It seemed impossible that Luna hadn’t spotted what kind of ritual she’d been attempting.</p>

<p>“Alex?”</p>

<p>She took a shuddery breath. “Yes, Luna?”</p>

<p>“Why are you doing a necromancy ritual—”</p>

<p>Oh, Merlin.</p>

<p>“—without a central focus?”</p>

<p>…</p>

<p>…</p>

<p>…</p>

<p>Wait, what? “Huh?”</p>

<p>Luna turned and pointed to Deathly Hallows on the slate floor. “All necromancy rituals that use the Deathly Hallow as their ritual symbol use a central foci.”</p>

<p>The burnt paragraph!</p>

<p>Alex leaned back in shock. “How… how do you know that?”</p>

<p>“I know all about the Deathly Hallows.”</p>

<p>“But, your family is… was… Light! The Lovegoods were Light for generations.”</p>

<p>Luna smiled softly. “Stupid, Alex. We were <em>politically</em> Light, not magically. We Lovegoods have been hunting the hallows for hundreds of years. ‘The last enemy to be defeated is death?’ That’s not just the motto of the Peverells, but of necromancers everywhere.”</p>

<p>Alex’s eyes widened. “You’re a…?”</p>

<p>Luna shook her head, causing her little radish earrings to swing wildly about her ears. “I’m not a necromancer. Neither are my parents or my grandparents. I had a great-great-uncle who was, but he was the odd one out.”</p>

<p>Alex sighed. She relaxed slightly, dropped the hand sickle on the table, and wrapped her arms around her friend. “Luna, I’m sorry I didn’t tell you about what I’ve been doing.”</p>

<p>Luna’s grip on her tightened. “Stupid, Alex. I’m here. I’m your friend. I’m not going to run away because you’re practising necromancy. But what you were doing was just <em>so</em> dangerous. <em>Anything</em> could have happened to you. I know you want to prove yourself to my future lord, but, please, Alex, promise me you won’t try any more rituals without me?”</p>

<p>Alex’s insides clenched. Guilt, which had been starting to settle, reared its ugly head once more. “Yes, okay. I promise.”</p>

<p>Luna leaned back, gazed into her face, and smiled, her face returning to something more recognisable as the dreamy, unconcerned witch who worshipped pudding and hunted myths and legends. “Thank you, Alex.” She stepped backwards. “Shall we go get washed?” She wrinkled her nose. “You are really icky.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“So, you think you’ll have a copy that doesn’t have the burnt bit?” Alex asked.</p>

<p>Two baths and a floo trip later, Alex and Luna descended into the Rookery’s basement, where, according to Luna, most of the really Lovegood stuff went on.</p>

<p>“I think we might,” Luna answered, now leading the way down a short corridor. “Ah, here it is.”</p>

<p>Alex looked up at a huge, curved, mahogany door, carved with all kinds of magical creatures, from dragons to nifflers. It was certainly different.</p>

<p>Luna opened the door and they both stepped in.</p>

<p>Alex looked up again and breathed in sharply. The library was small, round, with a circular staircase, just like Luna had described. And also, just like Luna had described, the bookshelves around the edge stretched upwards, all the way to infinity.</p>

<p>Luna smiled at her. “Do you feel like you’re going to fall up?”</p>

<p>“Yeauhg.”</p>

<p>“When I was six, I tied a letter to a balloon in here and let it go.”</p>

<p>Alex tore her gaze away from the disconcerting view. “And?”</p>

<p>“It never did come back down.”</p>

<p>Alex bit her lip. She had to know. “What did the letter say?”</p>

<p>“It said, ‘Don’t jump.’”</p>

<p>Alex blinked.</p>

<p>“Well, I thought that the library might go on forever. But then I thought that maybe it didn’t, and maybe there were people who lived at the very top. But then I thought that maybe the people who lived at the very top might think that the library went <em>down</em> forever, when, in fact, it doesn’t.”</p>

<p>“Ah.” Alex looked around, trying not to think too hard about people living in an upside-down rookery in an upside-down world. “So, where would this book be then?”</p>

<p>Luna frowned. “You know, I’m not sure. We did have a bit of a move around a few months ago…” She turned, leaned out of the door and screamed, “DAD! WHERE ARE THE NECROMANCY BOOKS?”</p>

<p>Alex goggled and a faint voice bellowed back, “Sixth floor! Right-hand side! Between the books on demonic summoning and the muggle physics section.”</p>

<p>“THANKS!” Luna turned back and beamed.</p>

<p>Alex fought down her urge to throw something as she followed Luna up the stairs.</p>

<p>“Now, let’s see.” Luna trailed her finger along the books. “Ah, here we are.”</p>

<p>The collection wasn’t nearly as large as the Black Library’s. Alex stared. Whereas the Black Library had a whole row of shelves dedicated to the magic of death, here, there were only a dozen individual books, but those dozen were large tomes, thick and uniform, with expensive leather bindings, and each one had the sign of the Deathly Hallows imprinted on the spine.</p>

<p>They each pulled out a book and got to work.</p>

<p>It didn’t take too long for Alex to find what she was looking for.</p>

<p><em>Make sure that your central foci be of high quality and possessing absolutely no cracks. The Inferi are soulless beings that do not live and yet are once again touched by magic. In this respect, they much resemble the victims of those darkest of creatures, the dementor, and, as such, it is fitting that the central foci for the inferi ritual be taken from said creature. Acquire yourself a stake, sharpened from a dementor bone, that it may serve you well for all your future raising, and place it on the point in the Deathly Hallow where the circle meets the bisecting line most highest.</em></p>

<p>Alex thumped her head on the open book, and rolled her forehead around on the pages. She really was an idiot.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The sun was bright and the day was young.</p>

<p>Alexandra and Luna stepped out of the Diagon Alley public floo point, furtively eyed the early morning shoppers, and darted towards the nearest public toilet, careful not to jostle the contents of their shoulder bags.</p>

<p>Once inside, they both pulled out green-coloured potions from their bags.</p>

<p>“Bottoms up,” Luna chirped and swigged the bottle in one long gulp.</p>

<p>Alex downed her own dose and soon found herself, once again, regarding her grown-up self in the mirror. Something grabbed her around the chest. “Gah!”</p>

<p>“Will you check out these!”</p>

<p>“Luna!” She grabbed the inquisitive hands and easily pulled them away. “What are you doing!” She turned around to face her assailant.</p>

<p>Luna smiled brightly, looking like a slightly more youthful version of Lady Lovegood. “I’m feeling your boobies, Alex, couldn’t you tell?”</p>

<p>“Well, don’t!” She reddened. “How would you feel if I grabbed yours?”</p>

<p>“Would you like to?” Luna pressed them together.</p>

<p>Alex yelped. “No! Just, c’mon. We’ve got stuff to do.”</p>

<p>Luna pouted and they soon found themselves walking down Knockturn Alley, masked (Luna’s was blue as opposed to her own black one), hooded, and attracting more than a good bit of attention from the local wildlife, although it mostly backed off when Alex flashed glowing red fingers in their general direction.</p>

<p>“Oh, I was wondering if I’d ever see <em>you</em> again,”—the stout little shop keeper of the ritual supply shop finished filling a box labelled ‘phoenix ash’—“and you’ve brought company.” He nodded at Luna who was inspecting the massive skull of some ancient magical monster.</p>

<p>Alex adjusted her mask. “We need a stake made from a dementor bone.”</p>

<p>The shopkeeper sucked his breath in between his teeth. “Not asking for much this time, are you?”</p>

<p>“Can you do it?”</p>

<p>“No.”</p>

<p>Alex’s shoulders slumped.</p>

<p>“But I <em>might</em> know of someone who <em>might</em> have one and <em>might</em> be persuaded to part with it for… for the right price.”</p>

<p>Alex frowned under her mask. Something about the way the man had said that last bit felt wrong, but… “So, who is this wizard?”</p>

<p>“Unfortunately, I can’t just give you his name. But I can point you in the right direction and let him know to expect you.” He paused. “Who should I say is coming to visit?”</p>

<p>Alex looked towards Luna who gave a small nod. She turned back to the shop keeper. “Blue Mask and Black Mask.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The lighthouse was tall and white and jutted out from the land like… like… like something Luna would undoubtedly have no problem thinking about. Alex shook herself and jogged to catch up with the dreamy blonde who was now standing at the edge of the cliffs, arms outstretched, letting the sea wind blow her hair and silken robes all over the place.</p>

<p>“Are you done?” Alex asked, panting slightly from the effort.</p>

<p>Luna turned back around. “Yes. I was just enjoying the view. It’s amazing to think what might be out there.”</p>

<p>“What? The sea?”</p>

<p>“Yes. So much gets lost down there.”</p>

<p>Alex blinked. “I guess.” She shook herself again. “Shall we?”</p>

<p>Luna nodded and they made their way along the coast to where the lighthouse stood hard and firm against the elements, proud and erect. Alex shook herself so hard her mask slipped, forcing her to readjust it. Morgana <em>damn</em> this body!</p>

<p>Alex knocked on the front door, which was opened by a tall, bald, middle-aged man in a long black robe with large, pointy, upturned collars.</p>

<p>“Well?” the man asked gruffly.</p>

<p>“We’ve been told you will be expecting us and that you might have a dementor bone stake for sale.”</p>

<p>The man looked her and Luna over. He smiled a smile of sin and vice. “Blue Mask and Black Mask. Heh. Come in.”</p>

<p>The moment Alex stepped over the threshold, a much-older-looking ghost dressed much the same as the man swooped into the room.</p>

<p>“Oh my, those two curvy fuck toys look like they need a good dicking!”</p>

<p>Alex stilled, too shocked to move.</p>

<p>The man turned back. “Ignore my master, he’s been like that for years.”</p>

<p>Alex’s brain started to reboot. “Master?”</p>

<p>Luna had stepped past her and was now inspecting various objects around the chintzy sitting room they found themselves in, busily ignoring the ghost who was now hovering in front of her and making kissy faces.</p>

<p>“Yes,” the man drawled, “a dark wizard obsessed with life and death to such a degree that he performed a ritual to ensure he became a ghost when he died. Of course, now he has to deal with an eternity with no body, which, apparently, he misses.”</p>

<p>“Damn yes I miss it!” The dark-robed ghost carelessly floated through Luna causing her to shudder. “Especially when two hot things like you turn up.”</p>

<p>Alex was starting to really hate this place. She turned back to the live one. “The sharpened dementor bone, how much do you want for it?”</p>

<p>The wizard scratched a point on his bald head. “Well, that’s tricky. See, I don’t really have much need for money, got enough of it already.”</p>

<p>Alex hesitated. “Then what?”</p>

<p>The wizard grinned. “Seeing my master go through what he did made me a lot more philosophical about life. You’ve got to live for the now, grab it while you can, and all that. It may be too late for my master, but it isn’t too late for me.”</p>

<p>Alex frowned, confused. “What?”</p>

<p>“He’s suggesting,” and Luna’s voice now sounded about as dreamy as a steel bar, “that we have sex with him in exchange for the stake.”</p>

<p>Alex flushed indigently. “Hell no! I’m not going to do anything like that!”</p>

<p>“I’m inclined to agree with you.”</p>

<p>The man leered. “Well, the way I see this, you can accept my offer, we all have a roaring good time and you get the dementor stake, or…” he flicked a wand into his hand “…I’ll take what I want anyway.”</p>

<p>Silence.</p>

<p>The world slowed.</p>

<p>Alex’s eyes widened. The man raised his wand and fired something purple towards her. She hadn’t even moved an inch before something invisible slammed into her from the side.</p>

<p>The world sped back up and she found herself flying straight out of the lighthouse’s front door.</p>

<p>The door slammed shut.</p>

<p>Alex tumbled.</p>

<p>Pain.</p>

<p>She slid to a stop.</p>

<p>Her hands, knees, thighs, and shoulders burned. She ignored it and struggled to her knees.</p>

<p>Luna!</p>

<p>Bangs, thuds and cries of pain came from the lighthouse.</p>

<p>She forced herself to her feet.</p>

<p>The lighthouse went quiet.</p>

<p>No!</p>

<p>She stumbled forward for the door, brought a stunner to her fingers, flung open the door, and charged inside. Her eyes widened and the stunner died on her fingers.</p>

<p>“Hello, Black Mask,” Luna said dreamily. “That didn’t hurt, did it?”</p>

<p>Alex’s jaw dropped.</p>

<p>The would-be rapist was tied up in a chair, bound, gagged, and struggling helplessly. The ghost was nowhere to be seen.</p>

<p>“N-No, Blue Mask. I’m fine.”</p>

<p>“Excellent.” Luna beamed. “Now, then,” she turned to the still-struggling man in the chair and leaned in close to his face, “let’s see if the bad man can be helpful.”</p>

<p>The man’s eyes fixed with Luna’s blue-mask eyeholes. He started convulsing in the chair, moaning into his gag, and Alex couldn’t help but remember when Luna had battered down her own occlumency barriers at her birthday party.</p>

<p>A few seconds later, the man conked out and Luna straightened. “The stake is one floor up on the bedroom desk. There are no defences around it.”</p>

<p>Alex nodded and made her way upstairs while Luna covered the bald pervert. She opened the door and found the old ghost hovering over the bed.</p>

<p>The ghost sniggered. “Vicious little fuck toys. Damn, I so wanted to watch my apprentice fuck your beautiful, creamy—”</p>

<p>Alex forced down the rising bile, grabbed the bone-made stake on the desk and bolted for the door. The faster they got out of here, the better.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alexandra Black, now back in her good-old-young body — a body that didn’t have to deal with perverts or rapists or even its own damn mind constantly shoving embarrassing thoughts at her every second of its existence, pulsed raw magic into the ritual hallow and took a deep breath.</p>

<p>“Death who takes all, through the power of wand, stone, and cloak, hear your humble servant.”</p>

<p>The Deathly Hallow painted on the floor in chicken blood started to glow. Alex raised her hand sickle and stuck the blade into yet another dead doxy. On the other side of the room, Luna silently watched.</p>

<p>“Death who takes all, I offer you back that which the three brothers took. To raise this container of a soul that you now possess. To bind its magic back to the aether, and to your humble servant.”</p>

<p>Alex stepped out of the hallow’s boundaries.</p>

<p>The dowel, cloak, and stone all started to glow.</p>

<p>The doxy started to glow.</p>

<p>The magic swirled through the space, met the dementor bone stake laying towards the centre of the hallow, rushed to the pointed tip, and arced a tiny and silent bolt of lightning towards the doxy.</p>

<p>Alex’s eyes narrowed.</p>

<p>The doxy’s eyes glowed yellow.</p>

<p>Right. Now, Alex, focus — <em>All</em> your will power.</p>

<p>Alex stepped forward, let her magic flow out of her and over the doxy.</p>

<p>The doxy made to move, but stopped, clutched its head, and let out a silent scream.</p>

<p>Moments later it was all over. She may not even be a Hogwarts student yet, but the tiny doxy was <em>nothing</em> in comparison.</p>

<p>The inferius doxy flittered over to where she stood, and, with a simple mental command, stood to attention on her shoulder.</p>

<p>Alex grinned. It was official. She was a necromancer.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The Black Witch of the North crossed her legs on her throne and imperiously surveyed her court. On the right-hand side, her most fearsome warriors, commanded by General Teddy ‘one-eye’ Fluff and Wolf Plushy Bark-a-lot, stood assembled and ready to lay waste to her foes. On the left-hand side, her most trusted political and magical advisers, Merlin Dolly and the ever-faithful Metamorph Dolly, sat ready to give complicated and complex advice on all kinds of important things.</p>

<p>On her lap, lay her loyal and vicious beast, Amethyst the Panther, currently shrunk down to the size of a ten-week-old kitten and purring under her scratching fingers, but ready to grow to full size and pounce at a moment's notice.</p>

<p>And around her, like whelps around a mother dragon, flittered her brand-new bodyguard — the doxy trio, the most feared elite combat unit this side of the Veil.</p>

<p>The Black Witch of the North leaned back in her throne and laughed. “Muhahaha! Now no one can stop me! Not even that accursed Boy-Who-Lived!”</p>

<p>Just then, the door to her throne room banged open and a lone witch entered.</p>

<p>“What is this!” she demanded. “Who <em>dares</em> barge into my throne room unannounced?”</p>

<p>The intruder smiled brightly. “I am Gray Witch Radish Rings. I am here to guide you, Black Witch of the North.”</p>

<p>“Guide me?! I need no guiding! I am more powerful than you can ever <em>hope</em> to <em>imagine</em>! Did the Boy-Who-Lived put you up to this?!”</p>

<p>“Oh, I do not serve <em>him</em>. I serve a power far greater and far, far more handsome.”</p>

<p>“Enough of this foolishness! General Teddy! Attack!” The Black Witch of the North jumped up from her throne—causing Amethyst to jump down and scamper away—picked up General Teddy and threw him at Radish Rings who stepped to the side and let the General sail past her.</p>

<p>“What?! You <em>defeated</em> my best general!” She scowled. “No matter. General Wolf! Attack!”</p>

<p>General Wolf joined General Teddy on the floor behind Radish Rings.</p>

<p>“You see, Black Witch of the North?” Radish Rings smiled her dreamy smile. “You still have <em>much</em> to learn.”</p>

<p>“No! Enough is enough! You will now face my true power!”</p>

<p>The merciless doxy trio flittering around her head zoomed forward towards Radish Rings. The Gray Witch’s fingers all glowed white and all three inferi were banished away and pinned against the wall by an invisible force.</p>

<p>The Black Witch of the North fell to her knees. “No. It’s not possible. What power is this? How can you possibly <em>do</em> these things?”</p>

<p>“I have these powers because of the power <em>I</em> serve.” Radish Rings released the inferi from her wandless banishing spell and the undead fairies zipped back to their mistress.</p>

<p>“And, what power is that?” The Black Witch of the North got to her feet and stepped towards Gray Witch Radish Rings.</p>

<p>“My lord, of course. The Gray Lord — Lord Slytherin.”</p>

<p>“Lord… Slytherin…” The Black Witch of the North tried the words on her tongue for taste. “And this Lord Slytherin wishes to… guide me, does he?”</p>

<p>“Yes!” Radish Rings jumped up onto the throne room bed and bounced up and down. “Prove yourself worthy to my lord and he shall grant you ultimate power!”</p>

<p>The Black Witch of the North’s gaze firmed. She turned away and pumped her fists down hard. “Fine! I will prove myself to Lord Slytherin!” She whirled around at Radish Rings again. “But, <em>you’re</em> going to help me, Gray Witch!”</p>

<p>“Yay!” Luna jumped off the bed and hugged her. It really did feel kind of nice.</p>

<p style="text-align: center;">— End of Chapter Twenty-five —</p>
