Chapter 26 - Necromancy for Fun and Fun - Part 2

<p>Alex woke up and groaned.</p>

<p>Her early morning headaches weren’t quite as bad now as before, but they still sucked. October had drawn to a close and she and Luna spent most of every day practising occlumency and wandless magic. She’d just about got the shield charm down and Luna said they’d soon be moving on to the stinging hex.</p>

<p>What Alex really wanted to learn though, was the banishing charm. She’d seen it used three times now — once when she’d first met Harry and twice when Luna used it on her at the lighthouse and against her inferi doxies, now kept in jars hidden behind the portrait of her grandfather.</p>

<p>She rolled out of bed, still clutching her head, and made her way downstairs for breakfast. Her father had already left for work so she didn’t have to worry about him worrying about her.</p>

<p>Fortunately, she was starting to feel a bit better by the time school rolled around, which was just as well, because what greeted her in the classroom blew her mind even more than the toxins did.</p>

<p>“What the <em>hell</em> is <em>this</em>?” she shouted, spotting the front page of the Daily Prophet laid out on the table. She snatched it up and skimmed the article.</p>

<p>HOGWARTS TROLL DEFEATED BY FIRST YEARS!</p>

<p>Unbelievable.</p>

<p>She stormed out of the classroom. If Greengrass and this muggleborn Slytherin vassal witch were already doing stuff like <em>that</em> then just how far behind <em>was</em> she? Damn it! <em>Why</em> oh why hadn’t she accepted Harry’s offer? Practising with Luna was great and all, but…</p>

<p>She stopped, halfway down the stairs. Wait. She shook her head. She was being silly. Of course Greengrass and the vassal were ahead of her, they were a year older than her! She shouldn’t be comparing herself to them. She should be comparing herself to people her own age… people like Luna.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Try again, Alex?”</p>

<p>Alex groaned, accepted Luna’s hand, and got shakily to her feet. “I swear I almost had you that time. If I had just gotten through that last shield…”</p>

<p>Luna smiled. “I’m sure you would have, Alex.”</p>

<p>Alex narrowed her eyes. “Again then.”</p>

<p>Luna nodded and they faced off against each other again.</p>

<p>“Start!”</p>

<p>Alex brought a bright red stunner to her fingers and loosed it at Luna.</p>

<p>Luna cast a shield to block it.</p>

<p>Then, Luna brought her own stunner to her other hand and cast it at her.</p>

<p>Alex just managed to sidestep it, but it had been a close thing. She’d already half formed her second stunner and decided this would be the perfect time to unleash her surprise weapon. She sent a mental command to her inferi minions to swarm Luna.</p>

<p>Luna’s eyes widened slightly, red stunner also half formed on her fingers, as the three undead doxies emerged from their hiding places around the Lovegood orchard and attacked her en masse.</p>

<p>Alex grinned and let loose her stunner. It ran straight into another of Luna’s shields and Luna cast her own stunner straight at her, completely ignoring the three doxies that were now pulling the blonde’s hair, scrabbling on her robes, and scratching at her legs.</p>

<p>The last thing Alex thought before she fell unconscious was that doxy inferi really kind of sucked.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alex and Luna sat on twin beanbags that Luna had dragged over from the Rookery to the Black Library, relaxing and reading and taking turns at petting a purring Amethyst.</p>

<p>Alex sighed. “Luna?”</p>

<p>“Yes, Alex?”</p>

<p>“I think I need to practise inferi raising on something bigger.”</p>

<p>Luna lay aside her book. “Because your doxies aren’t good in combat?”</p>

<p>Alex nodded.</p>

<p>“But they are good at intelligence gathering and infiltrating hard-to-get-at places.”</p>

<p>Alex nodded again, more slowly this time. “Yes, but still.” She frowned. “It’s not as though I know where to get something bigger to practise on though, so I guess it’s useless anyway.”</p>

<p>Luna put a finger to her chin. “Maybe not. Dad is the second-largest donator to the Department for the Regulation and Control of Magical Creatures, so we do have certain privileges.”</p>

<p>Alex perked up. “You’d do that for me?”</p>

<p>“Well, I’d have to ask Dad first, but of course.”</p>

<p>Alex grinned. “Thanks, Luna. You’re the best.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Thank you for agreeing to do this, Lord Lovegood.” Alex curtseyed in her plain and completely unmagical robes.</p>

<p>Luna and Lord Lovegood, by contrast, were both dressed in identical beige trousers, long-sleeved shirts, and matching safari pith helmets.</p>

<p>“Don’t worry about that, young lady. It’s about time for their culling anyway and it <em>is</em> my licence. Just make sure you stay behind me at all times. These critters can be rather tricky if you don’t know how to deal with them.”</p>

<p>Alex nodded uncertainly, eyeing the long metal and wood device that Lord Lovegood had casually slung over his shoulder, and which had been introduced to her as his pre-1964 Winchester Model 12 Shotgun.</p>

<p>“Just don’t tell anyone about it,” Lord Lovegood said with a wink, indicating the weapon.</p>

<p>Alex hurriedly nodded and soon found herself in a small boat, bobbing offshore of a heavily warded Scottish island.</p>

<p>“Hang on!” Lord Lovegood shouted and she felt the squeeze of a side-along apparition.</p>

<p>They landed on soft ground and Alex instantly regretted wearing robes, not that she had any clue about what else to wear.</p>

<p>She and Luna kept a few steps behind Luna’s father and he soon held up his hand, indicated that they should stop.</p>

<p>He readied his weapon and shouted. “Oi! Ugly! Over here!”</p>

<p>Something large, hairy, and five legged bolted for him from just around the next hill. There was an ear-shattering BANG, and the thing skidded to a dead halt right in front of him.</p>

<p>“Hah! They <em>never</em> learn.” Lord Lovegood leaned over the corpse and Alex stepped forward to inspect it.</p>

<p>“Quintapeds are highly magically resistant.” Lord Lovegood continued. “And they’ve never faced anything except wizards since the ministry made the island unplottable and warded it. So they see a wizard on his own or with just a few others and they immediately think he’s easy prey. Hah! Not this wizard!”</p>

<p>He nudged the quintaped with his shotgun. “I suggest you get on with your project then, Miss Black. Best not to hang around.”</p>

<p>Alex quickly nodded and soon she and Luna had the ritual space prepared around the dead class XXXXX beast.</p>

<p>She spoke the words, channelled the magic, thrust in the sickle, spoke the next words, channelled the next bit of magic, stood back and prepared herself.</p>

<p>The quintaped scrambled back to life, eyes glowing a deep purple.</p>

<p>Alex focused her magic and sent it out to engulf the beast.</p>

<p>The quintaped halted its skittering movements.</p>

<p>Yes.</p>

<p>Alex felt a huge overwhelming pressure all over her body and the connection to her magic snapped.</p>

<p>No!</p>

<p>The undead quintaped turned and bolted towards her in a flurry of legs and a snapping of teeth.</p>

<p>She took a desperate step backwards and tried to bring her magic to her fingers to defend herself from the rushing onslaught of meat and jaws, but she knew it was already too late.</p>

<p>The beast leapt.</p>

<p>And from behind her, Lord Lovegood’s shotgun barrel was thrust forward, impaling the quintaped in its wide-open maw, letting out another earsplitting ‘BANG!’, and exploded the beast’s head in a fine mist of gore.</p>

<p>Alex fell backwards and gazed in horror at the spot where what remained of the quintaped now lay. That had been <em>far</em> too close. She felt Lord Lovegood place a comforting hand on her shoulder. “Bit more practise on less dangerous things first, I think, yes?”</p>

<p>Alex gulped and nodded shakily. That hadn’t been anything like when she’d subdued the doxy. The doxy had been easy. This hadn’t. This had felt like she was trying to push a tendril of her magic against an octopus of magic, tendrils all over the place, chaotic and uncontrollable. “Yeah. Practise. Yes.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p><em>Heiress Black,</em></p>

<p><em>I hope this owl finds you well. It’s been quite a busy few weeks as you’ve no doubt seen. If I had my wish, none of the witches involved would have had to face the troll, but the event does highlight one of the reasons I take an interest in the ability of those in my sphere to defend themselves. Our world is not as safe as those in power might wish us to believe and if we do not take responsibility for our own well being, or allow others to take away from us that responsibility, we will be at the mercy of those who are not so complacent.</em></p>

<p><em>It’s good to hear about your continued practise of occlumency and wandless magic with Luna. I hope you continue.</em></p>

<p><em>I’ve attached something that you might appreciate. Copies of the troll fight are quite easy to come by, but I’m not sure if you were able to. I can’t imagine your father would just leave that kind of thing lying about.</em></p>

<p><em>Yours,</em></p>

<p><em>Lord Slytherin</em></p>

<p>Alex reread the parchment one last time while she and Luna waited for their appointment slot in Michelle McLaggen’s Memories in Diagon Alley. She bounced her knee up and down and tapped the low table next to the settee they sat on. Luna hummed quietly. The space was set up like a waiting room and on the far side of the room, a partition separated the pensieve room from the rest of the shop. A half-dozen other customers were also waiting.</p>

<p>“Alright girls,” said the middle-aged woman behind the counter, addressing them. “Your turn.”</p>

<p>Alex and Luna stood up.</p>

<p>“But just the fifteen minutes, mind you. Don’t make me come in there and get you.”</p>

<p>Alex rolled her eyes and Luna nodded. They walked into the room next door, covered from floor to ceiling in moving pictures of famous moments throughout wizarding history. Alex opened her bottle of silvery liquid, poured it into the plinth-bound pensieve in the middle of the room, and they both dived in.</p>

<p>Alex watched in awe as the Vassal, Hermione Granger, a <em>muggleborn(!)</em>, dove straight into the bathroom and summoned the screaming girl out of the way of the descending club. She yelled in fright when the troll tried to flatten the Indian girl but was again stopped by Granger, this time by shattering the troll’s weapon.</p>

<p>By the time Granger and the Greengrass heiress both transfigured random pipes into swords, she was cheering, and when one of the other girls shielded Greengrass from a thrown rock, she was convinced. <em>These</em> were the people she wanted to hang out with.</p>

<p>The memory ended with John Potter being a complete dumbass, although, dumbass or not, Alex couldn’t deny that the boy-who-lived was very powerful. Was Harry also that powerful? They were twins after all.</p>

<p>Luna didn’t say much, but Alex was sure the smiling blonde was just as fascinated as she was enthralled.</p>

<p>They watched the memory three more times before the woman from the counter came to kick them out.</p>

<p>Alex dashed back home. She had another owl to write.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alex surreptitiously watched Weasley from the other side of the classroom.</p>

<p>The red-haired girl was up to something and had been for a while now.</p>

<p>Alex doubted anyone else had spotted it, but they hadn’t spent the last few months practising wandless magic with Luna.</p>

<p>Still, Alex hadn’t been sure. At least, not until Weasley had unknowingly let her see glowing fingers under the desk.</p>

<p>“Weasley!”</p>

<p>Weasley turned around on the stairs where she’d been trying to get away. “Yes, Black?”</p>

<p>Alex caught up with her. “You’re being taught by <em>him</em>, aren’t you?”</p>

<p>Weasley seemed to panic and a few minutes later, in the small copse surrounding the Potter Manor, Alex got the truth out of her. Weasley <em>was</em> being taught by Lord Slytherin, or at the least one of his other students.</p>

<p>“Duel me!”</p>

<p>Weasley looked nervous. “Well, okay then, but just this once. We can’t risk making this a regular thing. Not here.”</p>

<p>Alex nodded. “Fine.” She turned around and walked towards the other end of the clearing. She smiled. Here at last was a chance to really test herself. She turned back around and brought her stunner halfway to her fingertips. If Weasley also couldn’t beat Luna then she was sure she could beat Weasley.</p>

<p>Alex watched the leaf slowly fall to the ground and smirked. Weasley wasn’t even pre-loading her spells.</p>

<p>The leaf hit the ground, she made to cast her stunner, and THREE WHOLE SPELLS shot towards her. She gasped, made to move, got hit, and blacked out, hitting the ground with an unceremonial thud.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alex barged into Luna’s bedroom sat down on the edge of the bed, folded her arms and sulked. “You’ve been going easy on me.”</p>

<p>Luna looked up from where she sat, cross-legged, on the bed. “Alex?”</p>

<p>“I just duelled Weasley and she said she can’t beat you and then she pounded me into the dirt.”</p>

<p>“Alex, I have not been going easy on you.”</p>

<p>Her voice rose an octave, anger starting to show. “Then how do you explain—”</p>

<p>“Alex, I have not been going easy on you, I have been teaching you.”</p>

<p>That brought her up short.</p>

<p>“Me and Ginny have been duelling each other for over a year. If I just pounded you into the dirt every time we duelled like Ginny did, you would never have time to get better, just like with the quintaped.”</p>

<p>Alex slowly deflated again. “A year…” she almost whispered.</p>

<p>“Yes,” Luna said, scooting down the bed to sit beside her. “And you <em>will</em> get better like that too, but you have to be patient and listen to me.”</p>

<p>She suddenly felt rather small. “I-I’m sorry.” She fiddled with the hem of her robes. “It’s just so frustrating knowing how behind I am.”</p>

<p>Luna smiled softly. “That’s okay, Alex. Me and Ginny are probably the <em>only</em> people our age you’re behind.”</p>

<p>Alex stared at the wall.</p>

<p>The two of them sat in silence for a moment.</p>

<p>“Um, Luna?”</p>

<p>“Yes, Alex?”</p>

<p>“I understand if you don’t want to, but…” She hesitated. “But could we learn the banishing charm next instead of the stinging hex? It’s just that it was so cool when you and Harry used it and I really want to know it too.”</p>

<p>Luna tapped her chin and looked thoughtful. She smiled. “We can do that.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p><em>Heiress Black,</em></p>

<p><em>Regarding the memory of the troll fight… You’re most welcome. I’m glad you enjoyed watching it.</em></p>

<p><em>As for your question about my ability to guarantee places in Slytherin House… The method Hogwarts uses to place students takes into account the wishes of the student in the placement. So long as you choose to go to Slytherin, the sorting will place you there, although it may try to persuade you otherwise if it sees sufficient non-Slytherin qualities in you. I personally have no doubt you will end up in my house.</em></p>

<p><em>I also have to thank you for your willingness to occasionally look through the Black Library for me. I actually have a project that I’m working on right now that could use such assistance. I am friends with a rather special ghost who is currently bound to a certain tree in Wales. I’m looking for a method to rebind her to something rather more portable, possibly a cutting of the tree, possibly something else entirely.</em></p>

<p><em>I’ve no idea if you can find anything, but if you can it would be most helpful.</em></p>

<p><em>Yours,</em></p>

<p><em>- Lord Slytherin</em></p>

<p>Alex reread the owl again and again. This was it. This was her chance to prove herself to Lord Slytherin.</p>

<p>She dashed from her bedroom down to the library, and immediately headed for the section towards the back — the same section she’d originally found the book with the inferi ritual. She perused the first book on the shelf. No luck. She tried the second. Nada.</p>

<p>Several hours later, Alex felt tired, grumpy, and was no closer to finding anything that could help.</p>

<p>“Why don’t you check the Black family magic section?” her grandfather replied when she asked him.</p>

<p>Alex winced. She’d spent so much time in here with Luna, or else practising occlumency and wandless magic, that she’d barely looked through the Black Magic in the several months since her birthday.</p>

<p>The hidden Black family magic section was almost as dusty as when she’d first opened it, although now obviously free of doxies.</p>

<p>Alex read up and down the shelves. Her finger fell on a dusty tome in burgundy leather. <em>Spirit Necromancy — Ghosts, Poltergeists, Shades, and Paintings.</em> Alex grinned.</p>

<p>She was just about to leave when her eyes fell on something else. <em>The Dendromancer’s Doomsday Book</em> — the book she’d tried to read before the doxies first attacked her. Curiosity getting the better of her, she carefully slid it out, opened it up, and her eyes went wide. Thousands of tiny entries filled the pages. The book was a magically updating record of all the magical trees in the country. She bit her lip. Oh, magical Merlin, the things her family must have been able to do with something like this!</p>

<p>A lightbulb went off in her head. The things <em>she</em> could do with something like this, <em>now</em>.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The weather outside was getting colder, but Alex and Luna hardly noticed, buried as they currently were in their twin beanbags in the Black Library.</p>

<p>“Luna?”</p>

<p>“Yes, Alex?”</p>

<p>“I was thinking…”</p>

<p>“Gooood.”</p>

<p>Alex snorted. “I was thinking, magical trees have magical cores, don’t they?”</p>

<p>“They do.”</p>

<p>“And trees can’t move, can they?”</p>

<p>“Some trees can — like the whomping willow.”</p>

<p>Alex struggled out of her beanbag’s death-grip to sit upright and look over to where Luna was still buried and staring at the ceiling. “Right, but they can’t move across the ground.”</p>

<p>“No, they are rooted in place.”</p>

<p>“So, what if the inferi ritual worked on magical trees?”</p>

<p>Luna didn’t say anything.</p>

<p>“I mean, if it <em>did</em> work, then I could keep trying to subdue it for as long as needed without having to worry about it attacking.”</p>

<p>More silence.</p>

<p>“Luna?”</p>

<p>Luna struggled out of her own beanbag, a small smile on her face. “It might work. I’ve never heard of inferi trees before, but if it does work, it <em>would</em> solve your problem.”</p>

<p>Alex nodded happily.</p>

<p>“But, Alex, how are you going to find a dead tree? I don’t think that killing a tree for practice is a good idea. Killing trees is bad.”</p>

<p>“Oh!” Alex rolled over on her beanbag and stretched out to reach behind it. “That’s not a problem. Look at this!” She handed <em>The Dendromancer’s Doomsday Book</em> over to Luna.</p>

<p>Luna started reading it and her eyes went wide. “Wow, Alex, this is amazing.”</p>

<p>“I know, right?” Alex beamed. “So, can we do it?”</p>

<p>Luna smiled. “Yes, I think we can.”</p>

<p>Alex grinned.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p><em>Lord Slytherin,</em></p>

<p><em>Success! I spent ages looking through the Necromancy section of the Black Library (I practically know it like the back of my hand now) and I found a ritual that can do what you asked, but the ritual is Black family magic so only I can do it. Is that a problem? I do feel I’m qualified for it. I can sneak out at some point if you need it. My father would never notice.</em></p>

<p><em>Respectfully,</em></p>

<p><em>Heiress Alexandra Black,</em></p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alexandra Black stood in the Black Library and shook with rage.</p>

<p><em>Heiress Black,</em></p>

<p><em>That sounds wonderful. I suggest we meet up sometime soon to discuss this further.</em></p>

<p><em>However, while receiving your news is welcome, something has come up which disturbs me greatly and which directly concerns you. I’ve received intelligence from a reliable source that your father may be considering purging the Black Library of all books that he considers ‘dark’. I don’t need to tell you what a loss that would be to our culture and our world’s hard-earned understanding of magic.</em></p>

<p><em>I don’t believe he is planning to act immediately, but knowing how much you value your library, this isn’t a situation that I could just sit on.</em></p>

<p><em>I believe your father still brings you to the Winter Festival at Greengrass Manor? That would be a perfect opportunity for us to meet and to talk about both these matters. I also shouldn’t need to say that if I am to help you, as you are currently helping me, then our knowledge of your father’s intentions must remain absolutely secret.</em></p>

<p><em>Yours,</em></p>

<p><em>- Lord Slytherin</em></p>

<p>She gripped the parchment in front of her so tightly her fists went white. How could he? Her own father! Didn’t he appreciate the fifteen hundred years of history in this room? He was supposed to be Lord Black! He was supposed to protect the family legacy, not tear it apart. If <em>she</em> could be Lord Black, she’d rather die than let someone defile their ancient library!</p>

<p>She reread the owl again. If it was true, and she had no reason to doubt that it was, then this was the last straw. Her eyes narrowed. She wouldn’t let her father get away with it. No, not if she could do anything about it and it seemed Lord Slytherin <em>did </em>have an idea about what to do about it.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Can you believe it?!” Alex paced the room in her nightdress while Luna sat cross-legged on the bed, scratching a purring Amethyst behind the ears.</p>

<p>“I mean, how <em>could</em> he?!”</p>

<p>Luna’s face was completely unreadable.</p>

<p>“Gah! I just want to—”</p>

<p>“—Alex.”</p>

<p>Alex paused, mid-rant.</p>

<p>“You told my lord you could do something that you’ve never tried.”</p>

<p>“Huh?”</p>

<p>“The ghost binding ritual. Have you ever done it?”</p>

<p>Anger drained out of her. She felt her ears heat up. “Um…”</p>

<p>“You remember what happened to the doxy when you didn’t do the inferi ritual correctly? What do you think my lord would think if that happened to his friend?”</p>

<p>Alex paled. “I… I didn’t think…” She gulped. “So… we try it, first?”</p>

<p>Luna’s expression slowly morphed into a smile. “I think that would be a very good idea.”</p>

<p>“But where are we going to find a ghost? And one who won’t mind us doing tests on them?”</p>

<p>Luna tilted her head to one side and hummed. “Oh, I doubt we’ll find one who’ll let us do it <em>willingly</em>.”</p>

<p>“Then what <em>are</em> we going to do?”</p>

<p>“Well, obviously, we find a ghost who we don’t mind forcing and perhaps accidentally destroying.”</p>

<p>Alex frowned. “But who…” Her expression turned into one of sickening horror as realisation dawned. “Oh no! Hell no! I’m not going anywhere near <em>him</em> again!” She shook her head violently causing her long black hair to fly all over the place. “Absolutely not. No. No way. Not a chance.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The rain pattered on Alex’s hooded head as she and Luna, already under the effects of ageing potion, crept towards the lighthouse in the dead of night.</p>

<p>“Really, you’d think someone who ‘had no need for money’ would have some decent wards, wouldn’t you?” Alex muttered, trying to ignore the feeling of dampness creeping in through her thick, specially bought, non-enchanted robes.</p>

<p>“Maybe he just saves all his money for other things?” Luna suggested in a voice far too cheerful for the weather.</p>

<p>“What other things?”</p>

<p>Luna put a wet finger on her blue mask where her chin would be. “Maybe on whatever goes on in the shop with the snakeskin nailed to the sign?”</p>

<p>Alex looked at her sharply. “And what <em>does</em> go on in the shop with the snakeskin nailed to the—” But Luna had already moved ahead, and by the time Alex caught up with her, they were right up against the lighthouse’s door.</p>

<p>“Banishing spells on three?” Alex whispered.</p>

<p>Luna nodded.</p>

<p>“One, two, three.”</p>

<p>BOOM! The door flew off its hinges and sailed through the lighthouse’s living space, taking some of the furniture with it. There was an alarmed shout from the above floors and moments later, the would-be dark wizard rapist, wearing only a dressing gown and a floppy nightcap, hastily descended the steep lighthouse stairs, wand in hand, took one look at her and Luna in their robes and masks, fingers already aglow, made a little squeaking noise, and apparated out with a loud crack.</p>

<p>“Go!” Luna shouted.</p>

<p>Alex made a beeline for the stairs and charged into the bedroom.</p>

<p>“Hi, pervert ghost.” She reached into her bag.</p>

<p>“Oooo it’s the curvy fuck toys, back again!” The ghost cackled and rubbed his hands together, “and what can I do for the curvy—”</p>

<p>Alex drew out a knife and a silver pendant in the shape of the Deathly Hallows that Luna’s dad had leant them.</p>

<p>The ghost stopped in mid cackle.</p>

<p>Alex slashed a gash in her hand and flung some of the resultant blood at the shocked ghost. “Death who takes all, through the power of the Deathly Hallows, hear your humble servant.”</p>

<p>“What are you doing?!” the ghost shouted. It made as though to move, but Alex knew it now couldn’t — not until she was finished.</p>

<p>“Death who takes all, bind this spirit to your servant’s person, that they may serve your—” There was a small explosion from downstairs that shook the room. “—servant as your servant serves you.” Heart pounding, she held up the Deathly Hallows to the still-protesting ghost, and channelled her magic straight into the pendant.</p>

<p>The pendant glowed silver and ethereal chains leapt from the pendant, wrapping themselves around the ghost.</p>

<p>Alex’s heart leapt. It worked! And through the ageing potion too! She turned and ran back down the stairs, unceremoniously dragging the shouting and cursing ghost behind her.</p>

<p>Luna turned to her from the middle of a small pile of rubble that used to make up a bit of one of the walls. “I have a stone.”</p>

<p>“I have a ghost!”</p>

<p>“Then let us be away from here.”</p>

<p>And be away from here they did, all the way back down the path to where they’d stashed a pair of broomsticks, up into the air, and across the countryside as fast as they could, all the way back to the Rookery, one very unhappy ghost trailing behind them like a small silvery comet.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Well, this is all very interesting,” said Lord Lovegood, currently wearing a mask as blue as Luna’s. “I don’t think I’ve ever interrogated an evil dark wizard before, especially a dead one.”</p>

<p>Lady Lovegood nodded from under her equally blue mask. “Indeed, just be sure you two girls don’t spend all day in here and come up if you want any of the pie I’ve baked.”</p>

<p>The now inexplicably purple-tinted ghost looked up groggily from where it hovered unsteadily in the middle of the Lovegood’s ritual room — not that it knew that. “Pie?”</p>

<p>Alex sent another pulse of magic into the Deathly Hallow painted on the floor and the ghost flinched back.</p>

<p>Luna hummed cheerfully, “Thanks, Mum!”</p>

<p>The two adult Lovegoods nodded and left them.</p>

<p>In the last few weeks, she and Luna had tried binding, rebinding, unbinding, controlling, forcing to speak truthfully, seeing through the ghost’s eyes, making the ghost solid, conjuring ghost-like objects for a ghost’s use, forcing it to speak only ancient Greek, changing its colour, and now causing controlled pain. They’d gotten the binding, rebinding, unbinding, and colour change rituals to work, but the other rituals, except for the pain ritual, were missing something.</p>

<p>The old ghost had been unbearable, constantly spewing out stuff that Alex was certain young witches shouldn’t be hearing, and some of the stories he told them of his life made her want to hurl.</p>

<p>Luna moved to stand beside her. “I think he’s been about as much use as we can expect, Black Mask.”</p>

<p>Alex nodded. “Soo… we try the final ritual then, Blue Mask?”</p>

<p>“Yes.”</p>

<p>The ghost looked up. “F-Final ritual? Fuck toys?”</p>

<p>Alex and Luna set the room up the exact same way they would for an inferi ritual, the major difference from the last time being they now wore their specially bought, non-magical clothes. No way beyond the Veil were they going to strip down in front of this <em>thing</em>.</p>

<p>Alex stepped forward and sent a pulse of magic into the Deathly Hallow on the floor. “Death who takes all, through the power of wand, stone, and cloak, hear your humble servant.”</p>

<p>The Deathly Hallow started to glow red.</p>

<p>The ghost tried to speak, but all that came out was a strangled choke.</p>

<p>“Death who takes all, I grant you that which has been trapped on the in-between. The soul of a wanderer, held back from your embrace, now to return to the eternal river that lies beyond the Veil.”</p>

<p>Her magic swirled around her.</p>

<p>The room got noticeably colder.</p>

<p>The ghost opened its mouth in a silent scream — the Deathly Hallow glowed brighter than Alex had ever seen — and the ghost evaporated in a swirl of ephemeral mist.</p>

<p>The room was quiet.</p>

<p>Luna brushed her hands on her robes. “Thank Merlin. If I had to hear him say the F-T word one more time…”</p>

<p>Alex turned to face her. “Yes?”</p>

<p>“…Then I’d be forced to hate myself when <em>I</em> finally start saying, ‘fuck toy’, and that would be horrible.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“So, let me get this straight.” Portrait Orion Black leaned back in his painted high-back chair. “Lord Slytherin has heard word that my son is planning to destroy most of the Black Library?”</p>

<p>Alexandra nodded.</p>

<p>“And he says he has a plan to stop that?”</p>

<p>Alex nodded again.</p>

<p>“And you’re going to meet up with him at the Winter Festival to talk about it?”</p>

<p>Another nod. “That, and the ghost Necromancy thing.”</p>

<p>“Mmmmm.” Her grandfather pursed his lips. “Well, as much as it pains me to say it, that <em>does</em> sound like the kind of thing my son would do and I don’t need to say that even were the threat small, we <em>cannot</em> let <em>any</em> threat to the library stand.” He stroked his beard. “On the other hand, you must be careful. Slytherin could well be using the opportunity, whether real or made up, for his own ends in such a fashion that might not be in the best interests of House Black. Do <em>not</em> allow yourself to be trapped.”</p>

<p>Alex straightened and nodded.</p>

<p>“Having said that,” Orion continued, “Slytherin <em>is</em> going far out of his way to get in your good graces—”</p>

<p>“But he <em>still</em> won’t teach me,” Alex couldn’t help butting in.</p>

<p>Orion sighed. “Child, you cannot expect a lord to just drop everything he’s doing to personally teach you.”</p>

<p>“He’s teaching Weasley,” she muttered.</p>

<p>Orion raised an unimpressed eyebrow. “The one who laid you out without even meaning to?”</p>

<p>Alex grumbled under her breath.</p>

<p>“There are only so many hours in the day. Priorities have to be made. If the Weasley girl is more advanced than you, obviously he wants to spend his limited time on her.”</p>

<p>“But… but if he is… you know…” She blushed. “Talking to me because of <em>that</em>, then shouldn’t he at least meet me in person?”</p>

<p>“He should. But that is not the point here. Regardless of your personal feelings on the matter, Slytherin is doing far more for you than you currently appreciate, and if he <em>can</em> protect the Black Library when both yourself or I cannot, then you will be even more in his debt. Do you think your friend, the Lovegood girl, would be able to teach you if she hadn’t already been taught by him?”</p>

<p>“I guess not.”</p>

<p>Her grandfather leaned forward in his chair. “You should look for some way to balance things out a bit.”</p>

<p>Alex opened her mouth.</p>

<p>“I know you’re helping him with his ghost friend,” he quickly added, “and that is a good start, but you should find something else too, preferably something that benefits both of you.”</p>

<p>Alex thought for a few moments, then slowly nodded.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alex and Luna leaned over a table in the Black Library, going over the details of their plan one last time. <em>The Dendromancer’s Doomsday Book</em> was on the table, open to a page that listed all the magical trees and their current states in the county of Cumbria. One line read, ‘Whomping Willow, Died — 17th May 1990 — Greengrass Forest Hilltop’</p>

<p>Alex jabbed a finger at a parchment with lots of scribbles on it. “The wards around the manor will always track us, so the Winter Festival is the perfect time. Yes, we’ll be there, but so will several hundred other witches and wizards.”</p>

<p>Luna nodded.</p>

<p>“Once the main part of the ritual is complete, I can practise subduing the tree until I’m magically exhausted, or at <em>least</em> fifteen minutes.”</p>

<p>Luna nodded again.</p>

<p>“And once I fail to bring the tree under control, we’ll just blow leaves over it and get the hell out of there. The ritual magics will run down quickly, and so long as no one pumps more magic into the ritual—and who’d be dumb enough to do that—it’ll all be fine.”</p>

<p>Luna nodded yet again.</p>

<p>“And before you know it, the blood will all be washed away and no one will be any the wiser.”</p>

<p>Luna smiled. “That’s the plan.”</p>

<p>Alex grinned. “And if it goes well, we can make it a regular thing. I’ll soon have the knack of it, and you can have some Five-X magical creature duelling partners.”</p>

<p>Luna’s smile widened. “Just no dragons, Alex, we don’t have anywhere to put them.”</p>

<p>Alex pouted.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alex sneaked around Grimmauld Place, poking her nose into the various storage rooms and having a general good root around.</p>

<p>Something to balance things out. Something that could benefit both her <em>and</em> Lord Slytherin…</p>

<p>She reached into one paper-lined box and drew out what looked to be a pair of hand mirrors. One of her father’s many Hogwarts stories came, unbidden, to mind. She smiled.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The mist engulfed Greengrass Manor and the surrounding forest in a perpetual obscuring charm. Alex stomped her feet to bring some warmth to them and hefted the huge bag she had slung over one shoulder. She’d been waiting for ages. If they didn’t get a move on, the hunt would start and they’d never be able to get out of the forest in time.</p>

<p>“Hi, Alex.” Luna appeared out of the mists.</p>

<p>“Luna! Where have you <em>been</em>?”</p>

<p>Luna smiled. “Manor shopping with my lord.”</p>

<p>“Manor?” Alex said, startled. “He’s buying a manor? Where?”</p>

<p>“The manor is not built yet. My lord says it won’t be done until next Winter Festival. It’ll be on an island off Scotland. It’s beautiful and has this wonderful hill you can roll down.”</p>

<p>Alex took in Luna’s slightly ruffled appearance. “Yeeeesss, I can see that…” She straightened and looked around. “So, are you ready?”</p>

<p>Luna smiled brightly. “Yep! I just finished getting our permits.”</p>

<p>Alex stilled. Dread trickling into her stomach. “Permits?” Her voice rose. “Luna, did you <em>tell</em> Greengrass!?”</p>

<p>Luna tilted her head. “Of course I did, Alex. Daphne <em>is</em> my future sister and these are her family’s lands.”</p>

<p>“But! But!”</p>

<p>“Alex,” Luna said in a soothing voice, stepping closer and hugging her.</p>

<p>She stiffened.</p>

<p>“It’s okay, remember? We’re all going to help each other and it’s all going to be okay. You just have to trust us, okay?”</p>

<p>Alex hesitated before relaxing. “O-okay, then, I guess.”</p>

<p>The two of them mounted a pair of broomsticks, donned a pair of masks, swigged a pair of ageing potions, took off into the air, swiftly identified the correct hill, and landed, now as Blue Mask and Black Mask.</p>

<p>Blue Mask patted the trunk of the dead whomping willow. “Big fella, isn’t he?”</p>

<p>Black Mask didn’t reply as she was already clearing the area around the tree and getting ready to paint the huge Deathly Hallow needed from her shoulder bag of chicken’s blood.</p>

<p>Soon, they were ready. The sacrificial cloak, dowel, and stone were placed at each of the three triangle points and the dementor stake pointed up near the middle.</p>

<p>Alex took a deep breath, stepped into the hallow, shot a pulse of magic into it, and raised her ritual sickle. “Death who takes all through the power of wand, stone, and cloak, hear your humble servant.”</p>

<p>The clearing grew noticeably colder, even more so than the already December cold Cumbrian air. She shivered. Thank Merlin they now had special ritual robes. Doing this naked didn’t bear thinking about.</p>

<p>The Deathly Hallow started to glow red.</p>

<p>She walked all the way into the centre and stabbed the bark with her sickle. It embedded itself in the thick trunk. “Death who takes all, I offer you back that which the three brothers took. To raise this container of a soul that you now possess. To bind its magic back to the aether, and to your humble servant.”</p>

<p>Alex scampered back outside of the Deathly Hallow to where Luna stood, coiled and tense, well outside the range of the whomping willow’s branches.</p>

<p>The dowel, stone, and cloak started to glow, magics rushed through the clearing, the dementor bone arced a bolt of silent lightning, and the tree gave one massive creak. The cloak, stone, and dowel all evaporated.</p>

<p>Alex readied herself, bringing all her magical powers to her command, ready for the dominance battle with the huge tree, a battle she knew she would lose, but not without testing herself to her absolute limit first.</p>

<p>A pair of steaming blue eyes snapped open like two portals into the realm of death.</p>

<p>Alex gulped</p>

<p>A growl like a hellhound crept up her spine and froze her to the spot.</p>

<p>“Black Mask,” Luna prompted.</p>

<p>No! She shook herself, thrust out both hands in front of her, and released her magic to intermingle and bind with the whomping willow inferius in front of her. The inferius tree’s magic smashed back into her like a battering ram.</p>

<p>She dropped to one knee.</p>

<p>“Black Mask!”</p>

<p>She struggled. So strong. Just so, so strong.</p>

<p>A branch smashed into the ground just in front of where she and Luna stood.</p>

<p>But she would NOT be stopped just like that. This was probably the <em>only</em> chance she’d have to practise this for weeks if not months. She forced herself to her feet and glared at the wall of flailing branches and twigs in front of her.</p>

<p>Their magics continued to fight each other. There was no contest. The whomping willows magics were far too strong, but so long as it couldn’t get to her, it made no difference.</p>

<p>She winced as a particularly strong wave of magic pushed against her.</p>

<p>There was a massive rumbling noise.</p>

<p>Alex felt the ground move.</p>

<p>The mass of branches in front of her raised to reveal the trunk again.</p>

<p>One massive root wrenched itself out of the ground.</p>

<p>“Oh, that isn’t good,” Luna whispered.</p>

<p>The roots continued to dislodge more and more earth and one massive tree-like foot steeped out of the ground.</p>

<p>“Yeah, definitely not good!” Alex shouted.</p>

<p>Luna ran.</p>

<p>Alex abandoned her magic dominance battle and dove to the side just as another branch slammed where she’d just been standing. She scrabbled to her feet and made it to the other end of the clearing.</p>

<p>The inferius tree slowly turned to her and took one massive step forward.</p>

<p>“Black Mask! Broomstick! Here!” Luna chucked her her broomstick.</p>

<p>She barely caught it and moments later the two of them zoomed into the sky, leaving a furiously pissed-off inferius tree behind them.</p>

<p>They both caught their breath.</p>

<p>The tree bent upwards to look at them in the sky and growled.</p>

<p>“The dementor bone,” Alex said.</p>

<p>They both looked down at the Deathly Hallow painted on the ground, now devoid of cloak, dowel, and stone, but very much still containing the stake.</p>

<p>“I’ll distract it, you grab it?” Luna suggested.</p>

<p>Alex nodded. “And the sickle.”</p>

<p>“Yes.”</p>

<p>One horrible dive later, in which Alex was sure she was either going to crash or end up tree food, she’d snatched back the dementor bone, and dislodged the sickle from an enraged tree, which could do nothing to reach her, so close was she to the trunk.</p>

<p>She and Luna sped back into the air.</p>

<p>The tree snarled at them, apparently frustrated by the fast-moving pests. Eventually, it moved back to where they’d first found it, replanted itself back in the ground, and slowly closed its eyes.</p>

<p>They waited, but it didn’t seem inclined to move any more.</p>

<p>Alex gazed at the now-dangerous patch of forest with a worried expression. “That really didn’t go like we wanted. I barely got twenty seconds of practice.”</p>

<p>Luna shrugged. “These things don’t always work out,” she said, sage-like. “The important thing is that no one catches us.”</p>

<p>Alex nodded and moments later the two of them had banished a bunch of leaves over the blood and retreated back across the forest canopy, back towards Greengrass Manor.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alex wasn’t in a particularly good mood after the inferius tree failure. She grumbled her way through the festival avoiding every cheerful face and laughing family. The stall keepers were the worst though, always calling out to her in some misplaced attempt to cheer her up from whatever <em>trivial</em> concerns obviously befell ten-year-old witches, which, even if she wasn’t doing certainly illegal Necromancy experiments, was a stupid assumption to make. Obviously, none of the middle-aged wizards calling out to her had ever <em>been</em> a ten-year-old witch in Magical Britain.</p>

<p>She dodged past one particularly insistent stall keeper who wanted her to, “turn her frown upside-down,” while pointing to a sign that read, ‘THE WINTER FESTIVAL MIRROR OF ERISED — [NOT THE REAL ONE] FOUR KNUTS!’ (£0.36). So focused was she in getting away from the man that she wasn’t paying attention to where she was going.</p>

<p>She ducked around a corner and, suddenly, there he was.</p>

<p>Her eyes widened.</p>

<p>Tall and dignified, all long black and silver robes, emerald-green mask, and…</p>

<p>…And coiled fluffy snake.</p>

<p>“Ah. Good afternoon, Heiress Black,” Lord Slytherin said, giving her a respectful nod.</p>

<p>“L-Lord Slytherin.” She dipped into a hasty curtsey, but she also just couldn’t tear her eyes away from the fluffy snake which was still coiling around Slytherin’s chest and hissing.</p>

<p>“Mmm?” He seemed to realise what had her attention. “Oh, take no notice of her. A gift for Daphne. You’re going to protect her from all the nasty things that dare try and hurt her, aren’t you?” He sounded highly amused and she realised he was talking to the toy snake. He then hissed something and the snake let out what Alex could only think of a kind of snaky, hissing, laugh.</p>

<p>Alex shivered. Parseltongue. Of course, he <em>was</em> Lord Slytherin after all.</p>

<p>Lord Slytherin turned back to her. “Behind the stables in five minutes you will find a trunk. Knock seven times.” He then vanished. Not apparating—there was no crack sound—just becoming a shimmer in the air, which then almost instantly became nothing.</p>

<p>Alex blinked.</p>

<p>Five minutes later, she found herself behind the stables and there was indeed a trunk. She knocked seven times, the trunk lid opened, and she climbed inside what seemed to be a well-appointed, if rather small, sitting room. Lord Slytherin sat in the farmost high-back chair, still wrapped in the fluffy snake.</p>

<p>The lid closed behind her.</p>

<p>“What if someone finds the trunk?” she asked.</p>

<p>“They would have to subdue our mule first and then rifle through her pockets.”</p>

<p>Alex sat down in the chair opposite Lord Slytherin. “Mule?”</p>

<p>Slytherin reached behind him and extracted one can of orange juice and one can of something she’d never seen before. “Luna, in this case.” He tossed her the unidentified can. “I believe she wanted to, ‘win <em>all</em> the chocolate frog racing races’, because ‘they <em>all</em> deserve to win.’ It’s a blessing none of the stands offers pudding as a prize or we’d never get her away from it.”</p>

<p>Alex snorted despite herself and inspected the can. “Bubbled water?”</p>

<p>“I thought <em>you</em> might appreciate it.”</p>

<p>Alex carefully popped the can and took an experimental sip. “Not bad.”</p>

<p>“Personally, I can’t stand it, but then, I still have my sweet tooth.”</p>

<p>Alex felt a pang of loss, but quickly squished it.</p>

<p>Slytherin took a sip of his own and the mask moulded itself around the can in a way that Alex found strangely creepy and awesome at the same time. “So,” he began, “I’ve been hearing snatches of what you’ve been up to from both yourself and Luna. But Luna also thinks you should be the one to give me the full details because, ‘She’ll want to tell you in person.’”</p>

<p>Alex hesitated. Then Luna’s words from before came back to her and she began to tell Slytherin everything. From the doxies, to their ageing potion adventures, the dementor bone, the successful inferi raising, and the failed quintaped expedition.</p>

<p>“Did you consider tying it up first?”</p>

<p>Alex gaped. She then blushed harder than she’d ever blushed before. That would completely solve her training problem.</p>

<p>“In case you can’t tell, I’m smiling right now,” Slytherin said, and Alex <em>could</em> hear the smile in his voice.</p>

<p>“Anyway,” she mumbled, not meeting his maskly gaze, “We then kidnapped that horrible ghost from before and tried out all the ghost rituals in the book I have on him.”</p>

<p>“And they worked?”</p>

<p>Alex straightened a bit. “The ones you need work.”</p>

<p>“Excellent. Can you slip out of Grimmauld Place three nights from tonight?”</p>

<p>Alex nodded.</p>

<p>“Great. Harry and Daphne will meet you at the local park and escort you to the graveyard where Angelystor resides.”</p>

<p>Alex nodded again. She’d be ready. She hesitated. “Ah, Lord Slytherin?”</p>

<p>“Yes?”</p>

<p>“I… that is, my Grandfather, that is, the House of Black… although also me…” Merlin, how could giving someone something be this embarrassing? “We wanted to thank you for your offer to help with protecting the Black Library and give you this.” She reached into her bag, took out one of the communication mirrors, and handed it to Slytherin.</p>

<p>“What is it?” Slytherin asked, sounding curious. He turned it over in his hands.</p>

<p>“It’s a communication mirror. I have the other one.”</p>

<p>Slytherin whistled. “Wow. You know, the last union of family magic that could make <em>these</em> was hundreds of years ago.”</p>

<p>She hadn’t known that. “I thought you could use it. You know, if you needed it."</p>

<p>Slytherin placed in on the table in between them. “Thank you, Alexandra. If I have need of it, I will certainly make use of it. Would you mind if I asked a few friends of mine to take a look at it, too? There may well be interesting things to learn from it.”</p>

<p>“I guess not.”</p>

<p>“Right. Then, shall we move on to our main point of business?”</p>

<p>Alex’s eyes hardened. “The Black Library.”</p>

<p>Slytherin nodded. “Do you know what the fidelius charm is?”</p>

<p>She nodded back. “Luna told me.”</p>

<p>“The easiest way to keep the library safe is to have me cast a fidelius charm around the Black Library and make you the secret keeper.”</p>

<p>Alex eyes brightened. “That’s brilliant! Then he’d never even be able to find it!”</p>

<p>Slytherin nodded.</p>

<p>Alex’s face fell. “But, how would you get into the house? I can’t let you in and my father certainly wouldn’t allow it, and even if he did and you came back later, the wards would still say that you’ve been there, and I’m pretty sure using such a charm on someone else’s property is illegal.”</p>

<p>Slytherin sat back in his chair. “That’s where it gets tricky and there’s no safe way to do it. There are easy ways, but they’re not safe.”</p>

<p>Alex leaned forwards. “What are those ways?”</p>

<p>“The easiest way is for you to spend a few months memorising every inch of the library with your occlumency, if it's good enough. Then I place you under the imperius curse and cast the charm for you.”</p>

<p>Alex paled. The words of her Grandfather came back to her — do not allow yourself to be trapped. “I… I don’t know if I’m comfortable with that.”</p>

<p>“Like I said, the easy, but unsafe way.”</p>

<p>“What’s the hard way?”</p>

<p>Slytherin shrugged. “Smuggle every single book out of the library over the next few months without your father noticing. But then you have to place the library at risk from outside parties. Probably myself, and I wouldn’t recommend you do that.”</p>

<p>Alex hesitated. That had been a very honest recommendation.</p>

<p>“Of course, you take a risk with the imperius-fidelius method too. I might make myself the secret keeper rather than you.”</p>

<p>Alex shifted in her seat. “Are there any other methods?”</p>

<p>Slytherin started counting off on his fingers. “Use your occlumency to memorise every single book in the next few months and then write them all out again later…”</p>

<p>Alex blanched. Not possible.</p>

<p>“…Persuade your father not to get rid of the books…”</p>

<p>Urgh. If she tried to do that, he’d probably just speed up his plans.</p>

<p>“…Arrange for your father to have an accident…”</p>

<p>She looked at Slytherin in horror.</p>

<p>“…Which obviously isn’t an option, but I’m just listing them all off…”</p>

<p>She nodded quickly</p>

<p>“…Arrange for your father to fall in love with someone you control and indirectly control him through her…"</p>

<p>She snorted. That wasn’t happening.</p>

<p>“…Have a law passed that somehow makes his course of action against the law, which as chief auror he’d be forced to comply with…”</p>

<p>She raised her eyebrows.</p>

<p>“…Not a chance…”</p>

<p>Her shoulders fell.</p>

<p>“…Infiltrate the ministry department that he’d give the books to, probably the Deprtment of Mysteries, and have your agents give the books back to you once your father handed them over…”</p>

<p>Magical Merlin, this was getting ridiculous.</p>

<p>“…Find a place in the house that your father doesn’t know about or can’t get in and move the books there instead…”</p>

<p>The Black Magic room! Oh… but her father did <em>know</em> about it, he just never went there. She scowled. Plus, it was too small.</p>

<p>“…Learn the fidelius charm yourself…”</p>

<p>She perked up. “Could I?”</p>

<p>“Unlikely.”</p>

<p>Her shoulders drooped again.</p>

<p>“…Learn to throw the imperius curse, so that you don’t feel uncomfortable having it cast on you…”</p>

<p>Her mouth made a small o.</p>

<p>“…Which requires someone to repeatedly cast the imperius curse on you so you can learn to throw it…”</p>

<p>Her mouth snapped shut. Well that was useless.</p>

<p>“…Buy several dozen library trunks, transfer the Black Library to them, and then hide them somewhere, maybe even somewhere as simple as your bedroom…”</p>

<p>“I don’t have the gold to do that.”</p>

<p>“…I do. But I’m not dumping tens of thousands of galleons just because you’re a bit squeamish about the imperius…”</p>

<p>She pouted.</p>

<p>“…I’m not even sure if the family that makes expandable trunks even has that many for sale, or would agree to make that many to order…”</p>

<p>She frowned.</p>

<p>“…We could also full-out assault Grimmauld Place, tear down the wards with brute force, and I’ll cast the charm in person…”</p>

<p>She shook her head violently.</p>

<p>“…I’m smiling again…”</p>

<p>She scowled. “I know, I can hear it.”</p>

<p>Slytherin sighed dramatically “…The other option is to put up some kind of defence that isn’t the fidelius charm, but that has exactly the same problem as casting the fidelius does…”</p>

<p>Alex stared at Slytherin’s unmoving mask for a few more moments before dropping her head. “So, no other methods then?”</p>

<p>“Well, I did tell you the best… one… first…” Slytherin stalled. “Oh.”</p>

<p>“What?”</p>

<p>Slytherin laughed, a deep dark laugh. “Oh, I’m being dumb.”</p>

<p>Alex looked up at Slytherin in surprise. “What?”</p>

<p>“Wait just a moment.”</p>

<p>They waited.</p>

<p>Then, suddenly, the trunk lid popped open and Luna stuck her head in. “You called, my lord?”</p>

<p>“Luna, do you mind me casting the imperius curse on you?”</p>

<p>Luna beamed. “Nope!”</p>

<p>Slytherin grunted. “Problem solved.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Alex checked she had everything one last time, snuck out of her room, crept down the stairs, tiptoed past her Grandmother’s portrait, quietly opened the front door, slipped out into the night, down the street, across the road, and into the small park where she’d first met Harry Potter over a year and a half ago. And sure enough…</p>

<p>“Potter.” She nodded to him before turning to his companion. “Heiress Greengrass, I am Heiress Alexandra Black, of the Most Ancient and Noble House of Black, I believe we have met before.”</p>

<p>Greengrass smiled. “Yes, I remember. And since you already know who I am, and we’re all working together, I suggest we drop the formalities for tonight.”</p>

<p>Alex hesitated. “Okay. I mean, you’re the leader, after all.”</p>

<p>Greengrass smirked. “Leader, mm? I like the sound of that.” She turned to Potter. “What do you think, Harry? Does ‘Leader’ sound like a good title for me?”</p>

<p>Potter gave her an amused look. “If you like.”</p>

<p>Alex looked back and forth between the two in front of her. Was she missing something here?</p>

<p>Potter then pulled out a trunk from his pocket and expanded it.</p>

<p>Alex eyed it with envy. She could see it had multiple compartments and must have cost a small fortune. She was the heiress of one of the wealthiest families in the country and <em>she</em> didn’t have a trunk like that.</p>

<p>“All in,” Potter said in a cheerful voice.</p>

<p>Greengrass climbed in without missing a beat and she hesitantly followed a moment later.</p>

<p>Halfway down the stairs, Alex did a double take. It was just like Slytherin’s sitting room trunk from the Winter Festival. No, it <em>was</em> Slytherin’s sitting room trunk. Huh. Figures it wasn’t Potter’s. She carefully lowered herself into the chair opposite Greengrass, mindful of the graceful way the blonde carried herself.</p>

<p>On the table in between them sat a small tree cutting in a pot.</p>

<p>The trunk lid closed.</p>

<p>“So, Potter is our mule?”</p>

<p>Greengrass shrugged. “I can’t confirm or deny that.”</p>

<p>She frowned. “Why not?”</p>

<p>She suddenly felt a terrible squeezing sensation that instantly loosened again.</p>

<p>“That’s why.”</p>

<p>Alex gaped. “That was apparition, wasn’t it? Potter can’t apparate! He’s only a year older than me!”</p>

<p>They squeezed again, and again she was glad she’d had dinner a while ago.</p>

<p>“You are correct, Black. Harry is only a year older than you. That’s why suspecting he can apparate makes no sense.”</p>

<p>They squeezed again.</p>

<p>“But he’s doing it now!”</p>

<p>Greengrass smiled. “I’ve no idea why you’d think that.”</p>

<p>Alex sat and stared at the future Lady Slytherin as they obviously chain apparated across the country.</p>

<p>After a few minutes Alex found her voice again. “You and Potter seem quite close.”</p>

<p>“We are. Although that isn’t public knowledge and my lord is trusting you not to tell anyone.”</p>

<p>Alex quickly nodded. “And Lord Slytherin doesn’t… mind? You and Potter being close, I mean.”</p>

<p>Greengrass smirked. “My lord often treats Harry as his own flesh and blood.”</p>

<p>Alex scrunched up her face. “Wouldn’t that mean that Potter is like your son?”</p>

<p>Greengrass’s eyes widened and she let out a snort that turned into a choke when something went down the wrong way. “Huack kuh kuh… Oh, wow, that is wrong on so many levels.”</p>

<p>“It is?”</p>

<p>Greengrass waved dismissively. “Never mind.”</p>

<p>It was then that the trunk lid opened. “Alright, girls. We’re here.”</p>

<p>Alex climbed out into a graveyard and in the corner stood a tree that looked older than her own house.</p>

<p>“Easily twice as old,” Potter said when she voiced this thought. “And this is my good friend, Angelystor.”</p>

<p>They greeted each other, and Alex couldn’t help think that this ghost was far nicer than the last one she’d met. Greengrass seemed to think so too, and the two immediately hit it off, happily chatting together while Alex went about setting up the ritual.</p>

<p>Eventually, it was time to add the item they would be rebinding the spirit to. Potter descended into the trunk and reappeared with the tree cutting in the pot. He placed it in the centre of the ritual space and stepped back. “Okay, Alex,” he said, drawing himself back to be level with her. “We’re all counting on you now.”</p>

<p>Alex swallowed and turned back to the ghost, now waiting patiently, if somewhat nervously, in the middle of the bloody Deathly Hallow. She closed her eyes. She could do this. She <em>had</em> to do this. This wasn’t like what she’d done before. <em>This</em> time, people were relying on her. She would show them—show Lord Slytherin—show the world—what she was capable of.</p>

<p>Alexandra Black focused all of herself to the task at hand, raised her hands and, with steady and sure movements, slowly began the ritual.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The next morning, the Auror section of the Department of Magical Law enforcement was just getting down to the day’s business.</p>

<p>Chief Auror Lord Sirius Black jerked back an inch in response to a thick document landing on his desk.</p>

<p>“Updates to the search lists, Chief.”</p>

<p>Sirius thanked the man and started perusing the parchments. There always seemed to be more and more going on these days. He flipped to the new additions section and stared.</p>

<p>“Blue Mask and Black Mask?” he muttered. “Wanted for questioning by the spirit division of the Department for the Regulation and Control of Magical Creatures in relation to the disappearance of one Edgar Hawthorn, a ghost — twenty years dead.”</p>

<p>The disappearance had been reported by a wizard of questionable moral character whose apparent distaste for the ministry was only just overcome by his fear of the two witches who’d twice broken into his lighthouse — although he’d refused to give the memory of the first break-in.</p>

<p>He looked at the moving photograph, lifted from the wizard’s memories. There was something hauntingly familiar about the two women’s figures that Sirius couldn’t quite put his finger on, but it made his palms itch and the last time that happened he’d almost ended up dead.</p>

<p>Disappearing ghosts? He idly chewed his quill. …Dead monster trees… He groaned. It looked like they had at least one rogue necromancer on their hands… and they weren’t working alone.</p>

<p style="text-align: center;">— End of Chapter Twenty-six —</p>

{ 605} [ageing potions]: They try the inferius-ritual under the effect of ageing potion. Is ageing potion an exeption to the rule of 'no external magic'? The same goes for the ghost-rituals, but they don't neccessarily have the 'no external magic' requirement/rule (we aren't told about it for the specific ritual/branch of rituals, but only that the general rule is to not have any external magic while performing rituals).
