Chapter 27 - What Goes On In Knockturn Alley

<p>[October 3rd 1991]</p>

<p>Knockturn Alley.</p>

<p>The very name conjures up images of darkness and shady dealings — of forbidden things hidden away from where common, law-abiding witches and wizards choose to travel.</p>

<p>The shops of Knockturn Alley often didn’t advertise their wares. Not because they were necessarily illegal—although they sometimes were—but rather because most people liked to pretend that the wares in question didn’t exist.</p>

<p>The sky was dark and cloudy — the crescent moon, barely visible. A light drizzle fell on everything, splattering against cobblestones and pattering off of windows. It fell on the many signs that lined the shops, and on one sign, it ran down a dried and flattened snake skin nailed to the otherwise empty wood.</p>

<p>A robed and cloaked man exited from the snake skin adorned shop front, let out a satisfied breath, and slowly walked off down the wet and dripping alley.</p>

<p>In the upper floors of the shop, in a small and simple room, a slight figure with shoulder length, blonde hair and watery, blue eyes sat on a messy bed, arms wrapped around her knees, knees pressed against her chest, shivering against the cold seeping into her now sweaty body, naked, but for an ominous silver collar around her neck.</p>

<p>Clothes lay strewn over the floor. A torn slip of women’s underwear hung on the back of a chair. An empty potions bottle sat on the tiny window desk, next to a small pile of coins.</p>

<p>Suddenly, the girl on the bed started to change. Her hair slowly shifted from blonde to brown, keeping its straightness, but lengthening down to the small of her back. She seemed to gain a few years, maturing from a possible sixteen or seventeen year old to a very definite early twenties. Her form filled out somewhat, from petite to curvy, although her height remained the same. And finally her face changed, becoming softer, rounder, with a button nose, a dainty chin, and two still wet eyes, one staying blue, the other turning hazel.</p>

<p>The girl shivered again and tried to banish the feeling of unwanted hands all over her. Food would be served soon. She should at least get a shower before then.</p>

<p>The girl shuffled to the edge of the bed, stood up shakily, stepped over to the desk, picked up the empty bottle of polyjuice potion, and dropped it into the nearby bin.</p>

<p>She then collected the coins and counted them out. One sickle, eight knuts (£3.80). Not a great tip, but better than a smack around the face, which is what she sometimes got. She moved back to the bed, lifted up the mattress, and added the coins to her secret pile of bronze and silver. No gold of course. She knew galleons existed, but she’d never actually seen <em>them</em> before. Her secret stash was small but growing, and after almost three years, was starting to close in on her target of seven galleons… enough for her very own wand.</p>

<p>She lowered the mattress and looked blankly at the wall.</p>

<p>A knock sounded from the door. She instinctively flinched away and covered her chest.</p>

<p>“Clare?” a voice from the other side of the door called. “Food’s ready.”</p>

<p>Clare relaxed and lowered her arm. It was just the madam. She called out. “Wait. Can you repair something?” She reached over and snatched the torn pair of knickers from the chair as the door opened.</p>

<p>The madam was a larger, older woman, who’d taken over when the last manager had disappeared in mysterious circumstances. The woman sighed. “Again?”</p>

<p>Clare nodded.</p>

<p>The madam took the ruined knickers, tapped them with her wand, and returned them to her, almost good as new.</p>

<p>“Thank you.”</p>

<p>The madam nodded. “Now get a wash, dear. You’ll need it.”</p>

<p>Clare stilled. “Why?”</p>

<p>“You have another appointment after dinner.”</p>

<p>Clare’s shoulders slumped.</p>

<p>The madam folded her arms. “None of that. Now, go get ready. Go on.”</p>

<p>Clare nodded, resigned, closed the door, threw on a bathrobe, exited her room again, padded down the hall to the shared bathroom, grabbed a quick shower, careful to wash the skin under her silver collar, went back to her room, pulled on her now repaired underwear and plain black robe, and joined the other girls downstairs at the tiny table in a cramped back room of the building.</p>

<p>Jessica, Rachel, and Caroline had all suffered the same fate as her, although she was the only one who wore a collar. She’d been the only one foolish enough to try and break the International Statute of Secrecy.</p>

<p>They chatted and ate for a few minutes, Rachel giving the newer Caroline tips on how to handle older wizards. “They love it when you ask them to show you some magic and then praise their power. They love having their ego stroked.”</p>

<p>Clare was just reaching for a second bread roll when the madam stopped her.</p>

<p>“Don’t eat <em>too</em> much, dear. I understand your client is bringing food with him.”</p>

<p>The other girls looked up.</p>

<p>“Oh, one of <em>those</em> clients.” Jessica muttered. “Lucky.”</p>

<p>Rachel snorted. “Maybe. The last one who brought me food ate most of it himself.”</p>

<p>Just then, the back door opened and an older wizard they all knew, but rarely saw, walked in. The chatter instantly ceased and all the girls averted their eyes down to the ground.</p>

<p>The man moved over to the madam.</p>

<p>Clare stared at the floor boards.</p>

<p>“A word in private, Madam Cakeworth.” The voice was calm and cruel and caused Clare to suppress a shudder.</p>

<p>“Yes, my lord,” the madam quickly answered and the two left.</p>

<p>“What’s <em>he</em> doing here?” Jessica whispered, looking worried.</p>

<p>Rachel shrugged.</p>

<p>Caroline shivered. “I don’t like him. He’s creepy.”</p>

<p>Jessica looked at Caroline sharply. Her voice turned deadly serious. “Don’t say that, Carol. Don’t even <em>think</em> it. Some of them can read minds, you know.”</p>

<p>Clare grimaced. The people who ruled the Wizarding World were scary. She’d only ever met two of them, but had no wish to meet any more. They were deceitful, evil, and ruthless.</p>

<p>The back door opened again and the lord walked through again, accompanied by another man. Clare caught a hasty look at the one she didn’t know— tall and poised, with long blonde hair, aristocratic features, and holding a silver snake topped cane.</p>

<p>The wizard glanced at her and she instantly averted her eyes.</p>

<p>She heard the door close and looked up. The two men had gone.</p>

<p>The madam bustled back into the room looking flustered. “Clare, in here, please.”</p>

<p>“M-me?” She stood up. The other girls gave her weary looks.</p>

<p>“Yes. C’mon now.”</p>

<p>Her mind raced as she shuffled into the back room the two wizards had just vacated. Was she in trouble? Surely things couldn’t get any worse, could they?</p>

<p>The door closed behind her.</p>

<p>The madam turned to her. “Your next client will be here in thirty minutes. You will have no polyjuice.”</p>

<p>She blinked, shocked. No polyjuice? She’d only ever had one client who she didn’t use polyjuice with — a regular, much older wizard called Robert Volf. “But,” she started, “I thought I wasn’t allowed—”</p>

<p>“This client is somewhat different. I don’t know the specifics, but he is one of the most powerful wizards in Britain.”</p>

<p>Clare’s heart sped up. Dread seeped through her.</p>

<p>“You are to do anything he asks of you, understand? Any request at all.”</p>

<p>She swallowed and nodded.</p>

<p>“And you’re to look your best.” The madam looked her over. “I’ll go through my wardrobe, find something appropriate, and we’ll resize it the best we can.”</p>

<p>She nodded again and left to get ready.</p>

<p>Twenty minutes later, Clare sat inspecting herself in front of her room’s dresser mirror, adjusting a cloth wrinkle here, brushing back an errant hair there. The robe she now wore was more like a dress than a robe, and if it didn’t have a hood, would have certainly passed for one. The madam had attached an emerald pendant to the front of her silver collar, turning it into a kind of jewelled choker.</p>

<p>She tried to keep her mind off the upcoming appointment, but wasn’t having much luck. The closest client she’d ever had to a lord before had been Mister Volf, who, as the man constantly told her, was a pureblood from a family dating back over a thousand years. This man, by contrast, would almost certainly be an <em>actual</em> lord — And magical lords were dangerous.</p>

<p>Eventually, there came a knock from the door.</p>

<p>Clare stood up and demurely waited for the man to enter.</p>

<p>The door didn’t move.</p>

<p>She frowned.</p>

<p>The knock came again. Clare jumped, heart racing and quickly opened the door herself. “I’m sorry, I didn’t—”</p>

<p>She stared up into a black and emerald mask.</p>

<p>“—Realise,” her voice slowed. “Most people just… come in.”</p>

<p>She hastened to stand back and the masked man took a step forward.</p>

<p>“That’s quite alright, Miss Cooper.” His voice was deep and rich, much like the clothes he wore. “I try to make it a point to respect the spaces of those who are not my enemies.”</p>

<p>Clare took another step backwards, dipped into the lowest curtsey she could and used it to hide the gulp from a suddenly too dry throat.</p>

<p>The man stepped forward and reached out a hand, palm up.</p>

<p>She took it, hesitating only slightly.</p>

<p>The man then silently lead her through her own little room to the window. He drew back the curtains and looked down into the alley beyond. “No watchers that I can see,” he murmured. “I was sure they’d have posted someone.”</p>

<p>“Sir?”</p>

<p>The man closed the curtain again and turned back to her. “Oh, my apologies, Miss Cooper. Please allow me to introduce myself. I am Lord Slytherin of the Most Ancient and Noble House of Slytherin.”</p>

<p>So he <em>was</em> a lord. “I-I’m sorry, my lord.”</p>

<p>The mask tilted to the side. “That’s quite alright, Miss Cooper.” He let go of her hand, walked back to the still opened door, closed it, produced a wand—seemingly from nowhere—and waved intricate patterns over the now shut woodwork. “There.” He turned back to her. “Now we don’t need to worry about being disturbed.”</p>

<p>Clare tried to smile as though this was the best news she could have possibly received.</p>

<p>Slytherin stepped into the middle of the room, reached into his pocket, brought something out, and reached down to place it on the ground.</p>

<p>Clare’s eyes flickered uneasily to the now closed and presumably locked door, looked back, and did a double take when the thing the lord had taken out of his pocket had turned into a large wooden trunk.</p>

<p>Magic.</p>

<p>“I was told you wouldn’t have eaten?”</p>

<p>She shook her head.</p>

<p>“Well then,” he walked over and offered her his hand again. “I’d like to invite you to join me for dinner with two close friends of mine.”</p>

<p>Her eyes widened slightly. Two other people? “I…” The madam’s words came back to her, ‘do anything he asks of you.’ She swallowed. “I understand, my lord.” She took his hand.</p>

<p>He lead her over to the trunk and, to her utter shock, down <em>into</em> the trunk!</p>

<p>Magic.</p>

<p>The trunk held a small room about as big as the room she and the other girls usually ate in. The walls were wood panelled, torches flickered green light across the space, and a small table in the middle of the room already sat two other people. One thing leapt out at her… the room didn’t have a bed.</p>

<p>“Miss Clare Cooper,” Slytherin intoned, “allow me to present two dear friends of mine, Daniel and Emma Granger.”</p>

<p>Emma Granger stood.</p>

<p>Clare was taken aback. The witch was dressed in a blouse and blue jeans. She hadn’t seen <em>anyone</em> dressed like that since her last escape attempt almost a year and a half ago.</p>

<p>Mrs Granger extended her a warm hand, which she shook. “Pleased to meet you, Clare, and so is my husband.”</p>

<p>Daniel Granger nodded to her, smiling just as warmly, and dressed much the same as his wife in jeans and a button up shirt.</p>

<p>She and Mrs Granger sat down and she looked at the table for the first time. The cutlery was silver. The glasses were crystal.</p>

<p>Clare felt lost. This whole situation was just too different from the script she’d followed for the last three years.</p>

<p>The masked lord behind her cleared his throat. “I’m going to go sort out dinner — should be ready in five or ten minutes — The bar’s all yours, Dan.” He then left them.</p>

<p>Daniel Granger grinned, stood up, and started pulling bottles off the nearby cabinet.</p>

<p>Emma leaned forward and smiled. “I hope our lord didn’t intimidate you too much?”</p>

<p>“Ah, no, not at all,” she lied.</p>

<p>“Slytherin can be quite a scary person, but he has a good heart.” Emma hesitated. “At least, to those he considers his friends.”</p>

<p>Clare nodded and hardly noticed when Daniel Granger poured her a shot of some orange coloured liquid.</p>

<p>“So,” Emma continued, “how much do you know of what this is all about?”</p>

<p>Clare blinked. “All this?” she looked around. Clearly something different <em>was</em> going on. “I don’t really know anything.”</p>

<p>Emma nodded. “Well, I’ll leave the details to our lord to tell you when he gets back, but I will say we might have need of a valuable service you can provide, and, if we’re a good fit, we might like to make you an offer.”</p>

<p>Clare’s mind raced. A ‘valuable service’? There was only one kind of service she knew she could provide and she didn’t really like providing it. On the other hand — she thought of the small pile of silver and bronze under her mattress — if the offer was good enough, she might be able to have enough money to finally buy a wand.</p>

<p>She wrung her hands in her lap under the table. “What kind of offer?”</p>

<p>Emma smiled. “Later. Why don’t you tell us a bit more about yourself?”</p>

<p>Clare grimaced. “There isn’t really much to tell. I’m a prostitute.”</p>

<p>Emma’s smile didn’t falter. “We know that, but how did you become one? I’m sure our lord knows every single detail, but <em>we</em> don’t.”</p>

<p>Clare’s shoulders dropped.</p>

<p>Daniel Granger finally sat back down after messing with the bottles and glasses at the drinks cabinet.</p>

<p>Clare grabbed the glass of orange liquid beside her, took a sip, and felt a heat pass through her body and up her throat. It wasn’t as though she had any dignity left to lose. She put the glass back down. “I’m a muggleborn — never knew about the Wizarding World — parents were convinced there was a perfectly rational explanation for all the weirdness that happened around me. Anyway, when I was eleven I received my letter for Hogwarts. I was so happy — it answered all my questions.”</p>

<p>She took another sip of the orange liquid.</p>

<p>“But then my parents poured water on that dream — didn’t let me go — refused to listen to the witch they sent around — said it was all a lot of silliness and that I was going to go to a normal school and get a real job.”</p>

<p>She looked up. Dan and Emma were listening attentively.</p>

<p>“And that’s what I did — or tried to do, at least. Did well on my GCSEs and was half way through my A-levels — I guess you don’t know what they are — but I never stopped thinking about the magical world — about the world I <em>could</em> have gone to.” She paused. “I was seventeen when <em>it</em> happened,” she said with a noticeable hint of bitterness.</p>

<p>Emma’s smile had faded by now. “What?”</p>

<p>“It was summer — I’d just reached my birthday and was looking to make some summer pocket money — to help me when I went to uni, you know? — and this man had what looked to be a great part time job offer. I wasn’t paying too much attention to the contract, although it wouldn’t have helped much even if I had, I guess.”</p>

<p>Clare sighed. “I was tricked into signing an immigration contract. The kind of thing a muggle born signs when they want to completely move to the magical world and leave nothing behind in the non-magical world. The moment I signed the contract I was stunned and locked away for a week while the immigration company did their work. When I was let out I found my identity had been completely erased — no records — no papers — no memories. My parents, my friends, my family, anyone who’d ever known me — none of them had any clue who I was.”</p>

<p>Both Daniel and Emma Granger were now wearing identical looks of disgust.</p>

<p>“I know, right? And then I learned the <em>worst</em> bit. The price of the service I’d been tricked into purchasing was far over what I could afford to pay. They tricked me, not only in erasing my family’s memories, but they made <em>me</em> pay for it! Or they <em>make</em> me pay for it, rather. The repayments are far higher than I can make anywhere with no magical education — The person who set the whole thing up — I still don’t know who did it — they sold my debt to <em>this</em> place. The owners now set both my repayments <em>and</em> my wages. That’s how I became a prostitute. I have literally no other choice.”</p>

<p>Daniel and Emma Granger’s faces were grim.</p>

<p>“And the collar?” Emma asked.</p>

<p>Clare deflated from her righteous rant. “That was me making a bad situation even worse. I’d tried running away before — once or twice — but I never got very far. Then, one time, I got all the way to a non magical police station. I tried to tell them everything. Everything about magic, about the situation I’d been forced into, about the people who go around erasing people’s memories.”</p>

<p>Clare snorted.</p>

<p>“I’m sure they thought I was crazy, but it didn’t matter. The moment they made the official report, the obliviate wizards turned up, and I woke up in a ministry holding cell, waiting to be tried for a medium class breach of the International Statute of Secrecy. The wizards who owned my debt turned up at the trial and persuaded the court to release me into their ‘<em>care,’</em> which the court agreed to, but only under the condition that I wore this.” She tapped the collar. “It’s keyed to the wards and I can’t leave without permission. This isn’t Azkaban, which I’m grateful for, but I’m still a prisoner.”</p>

<p>Silence filled the room.</p>

<p>Eventually Emma spoke. “What would you do if you weren’t in this situation?”</p>

<p>Clare shuffled her feet under the table. It dawned on her just how much she was telling these virtual strangers. “Buy a wand and go to magic school, but I don’t know if that’s even possible — They may not take people like me.”</p>

<p>Dan and Emma shared a look.</p>

<p>The trunk lid opened and the masked lord climbed back down the stairs.</p>

<p>Clare looked down at the table.</p>

<p>“Wow,” Slytherin said, “heavy atmosphere.”</p>

<p>A plate of steak and potatoes was placed in front of her and her mouth began to water. She hadn’t eaten food like this in over three years.</p>

<p>Slytherin sat down at the one free space and took off his apron, which she realised with a jolt on incongruity said, ‘I must break Gamp’s law because my food is magic.’ She didn’t get the joke but it was clearly supposed to be humorous and totally didn’t mesh with the ultra intimidating visage of the powerful masked magical lord.</p>

<p>They started eating.</p>

<p>Slytherin glanced at Emma and Dan who both nodded at him.</p>

<p>“So,” Slytherin said, causing her to instantly focus on him, “we have a problem—several problems, actually—and we’re hoping you’d be able to help us with them.”</p>

<p>She paused with a slice of stake halfway to her mouth. “My lord, I’m sure I’d be willing to help in any way I can, but I don’t see what you could possibly need <em>my</em> help with.” She paused. “Apart from the obvious, I mean.”</p>

<p>Slytherin waved a vague hand holding a fork. “Well, you can rest assured, Miss Cooper, that it is <em>not</em> the obvious.”</p>

<p>Some part of Clare that she didn’t know she’d been holding tense, relaxed slightly.</p>

<p>“Dan and Emma recently sent their daughter off to Hogwarts. Before they did that, I had quite a number of powerful wards installed at their home. Their daughter, Hermione, was charging those wards, but now that she’s away, the wards are powered only by a small number of magical plants in the garden — not nearly enough to maintain the wards at the levels we’d appreciate.”</p>

<p>“—Wait,” Clare said, shocked. She gestured to Dan and Emma. “You’re both muggles?”</p>

<p>Dan and Emma nodded, smiling.</p>

<p>Whoa. <em>That</em> was unexpected.</p>

<p>“Dan and Emma are also doing work on several magical projects — runes, enchanting, product development, etc — that <em>do</em> need a magical person to activate, or cast a spell for, and we’re hoping you’d be able to perform this role as well.”</p>

<p>Clare felt her heart sink. “But, I don’t <em>know</em> any magic.”</p>

<p>Slytherin bit into a piece of roast potato, the mask moulding itself around the morsel in a strangely hypnotic manner. He swallowed. “Don’t worry about that — that’s something I’ll handle.”</p>

<p>Clare took another sip of the orange liquid. “What about…” she hesitated before tapping the collar around her neck.</p>

<p>“Ah, yes. This morning, I purchased an option on your debt for the next two weeks. If we decide we want to go ahead, I’ll activate the option and buy your debt. Then we go to the ministry and get the official stamp to move your prison to Dan and Emma’s house.”</p>

<p>She bit her lip. “And I wouldn’t have to have sex with anyone to pay off the debt?”</p>

<p>“No.”</p>

<p>Clare looked down at her half finished meal. It sounded too good to be true. But on the other hand, she was really only trading one master for another. At least she knew her current one. She narrowed her eyes. She knew he was a vicious pimp who forced her to have sex to pay off an unfair debt.</p>

<p>She looked up at the masked man across the table from her. Was this man who hid behind a mask likely to be any better? Oh sure, it was all happy promises and rainbows now, but she knew how these people played their games. They made promises for breakfast and broke them for tea… and then fucked you for supper.</p>

<p>Slytherin tilted his head. “Take your time, Miss Cooper. I suggest you think on it. We’ll all get together again in a week and you can decide then.”</p>

<p>Clare nodded slowly. Yes, she’d think on it.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The next week passed and, apart from one disgusting client who had her polyjuice into his own daughter, nothing special happened. She was booked every night and spent the days asleep or else pondering Lord Slytherin’s offer.</p>

<p>The other girls thought she was mad for even considering not taking him up on it. “This is your chance, Clare! You HAVE to do it!”</p>

<p>But Clare still wasn’t sure. How could she know she wouldn’t be <em>even</em> <em>worse</em> off after she agreed? Wizard lords couldn’t be trusted. The only reason she wasn’t instinctively turning it down was that Lord Slytherin seemed to be giving her the choice. After all, he <em>could</em> have just bought her debt without even asking her.</p>

<p>Her indecision, however, was about to be given a serious kick in the teeth when Slytherin’s promised day of return came. She was in her room, in the middle of the afternoon, entertaining her only non-polyjuice client, Mister Volf, all balding head and potbellied belly, when the man, who looked old enough to be her grandfather, tried to cast a spell of some sort while she was on top of him. A sudden motion from her caused him to jerk back and instead of whatever he’d hoped to happen, an angry stoat popped out of nowhere, bit him on the arm, and caused him to drop his wand, which clattered away across the floor.</p>

<p>“You idiot!”</p>

<p>The stoat disappeared.</p>

<p>She flinched and tried to apologise, but it was no use. He slapped her across the face, pushed her off of him and got dressed, muttering about worthless mudblood whores.</p>

<p>That might have been par for the course, if it hadn’t been for the madam calling her in later saying that Volf had demanded compensation for a scratch on his wand and the bite on his arm.</p>

<p>“We’ll have to take it from your wages, I’m afraid.”</p>

<p>Clare’s heart sank. “But what about my repayments?” she asked, desperately, “Will they be lowered?”</p>

<p>The madam looked at her with sorrowful eyes. “No, dear. You’ll have to make up the difference from your tips. I know you have a secret stash — all the girls do.”</p>

<p>Her heart sank lower. “How much?”</p>

<p>“Three galleons (£150).”</p>

<p>Three whole galleons. That would wipe out everything she’d saved for the last year — over half of everything she had. She trudged back up to her room, shut the door quietly behind her, collapsed into her still messed up bed, put her pillow over her head, and cried tears of frustration into the sheets and all over her plain black robes.</p>

<p>Half an hour later, Clare hadn’t moved from where she lay.</p>

<p>A knock came from the door.</p>

<p>She didn’t bother to look up or even take the pillow off her head. “Come in!”</p>

<p>She heard the door open.</p>

<p>“Is this—” started a familiar deep and rich voice.</p>

<p>She jerked up.</p>

<p>“—a bad time, Miss Cooper?”</p>

<p>She scrambled off the bed and tried to wipe the tear stains away from her face. “N-no lord, I’m sorry.”</p>

<p>Lord Slytherin inclined his mask. “No worries.” He reached into his pocket and produced his tiny trunk. “Shall we?”</p>

<p>She nodded, and together they descended into the now unshrunk trunk.</p>

<p>“Clare!” cried Emma Granger from inside the trunk. She rushed over to her and took her hands in hers. “Have you been crying? What happened?”</p>

<p>Dan Granger stood up and shook Slytherin’s hand.</p>

<p>Clare tried to wave it off. “It’s nothing, don’t worry about it, I’m fine.”</p>

<p>Emma looked unconvinced, but didn’t drill down any further. They all sat around the same table they’d eaten at the previous week.</p>

<p>Clare fiddled with the cuffs of her robe. She looked nervously from the Grangers to Lord Slytherin. Finally, she took a deep breath as thought getting ready to step off a cliff and into a deep an unknown sea . “If I accepted your offer… what would my repayments be?”</p>

<p>Daniel and Emma Granger smiled.</p>

<p>Thirty minutes later, Clare watched, heart racing, as Lord Slytherin put quill to parchment and signed into magic his decision to buy her debt. The parchment glowed white for a moment, then vanished.</p>

<p>It was done.</p>

<p>Lord Slytherin stood up, produced his wand, and tapped her collar. It flashed green. “I’ve granted you a leave of absence from the containment wards. We have an appointment with the ministry.”</p>

<p>She looked up, startled. “So quickly?”</p>

<p>“Yes.”</p>

<p>The walk down Knockturn Alley felt surreal. It was the first time she’d been outside since her sentencing.</p>

<p>Dan and Emma walked at her sides and Lord Slytherin strode ahead, parting the crowd like a prophet parting a sea. She couldn’t help but notice the mixed looks of nervousness and fascination that Slytherin seemed to garner as they moved from Knockturn Alley and into Diagon. A group of children gaped and pointed and an older witch actually yelped and ducked back into the shop she’d just left when she spotted him. Just what <em>had</em> she gotten herself into?</p>

<p>Soon enough, they’d reached what looked to be a fireplace, complete with chimney in a random wall section of the Alley. After a quick explanation of what a floo network was, Clare found herself tumbling out of a fireplace and into a large indoor space where dozens upon dozens more witches and wizards walked and milled.</p>

<p>“Welcome to the Ministry of Magic,” Slytherin said, appearing behind her. “I don’t suppose you’ve seen it from this side, have you?”</p>

<p>She shook her head and tried to fight down her unease. The last time she’d been here hadn’t been fun. They made their way through the hallway and past a massive statue of a wizard and witch surrounded by a centaur and two very different little knobbly creatures.</p>

<p>Slytherin stopped briefly to have his wand checked and they took an elevator down several floors.</p>

<p>Everywhere they went, wizards and witches stared and whispered.</p>

<p>“Lord Slytherin! My dear chap!” A shorter, plump wizard wearing yellow and black stripes bounded over to them. “I’ve been meaning to ask you for a chat for ages!”</p>

<p>Slytherin managed to extract himself from the man with a promise for a later talk and they soon found themselves in a waiting room. The secretary stood up from behind her desk. “Court room six, my lord.”</p>

<p>Clare had to suppress a shudder as she walked into the court room. It was exactly like the room she’d been tried and sentenced in. Small, with a row of benches around the main entrance and a raised table on the far side of the room, in which sat an ancient witch. A court scribe sat in a lower chair. Other than that, they were alone.</p>

<p>“Ah, Lord Slytherin,” the ancient witch stated. “I don’t suppose it would be <em>too</em> much to ask for you to take off your mask?”</p>

<p>“My deepest apologies, your honour.”</p>

<p>The witch sighed. “Very well then, let’s get this sorted out shall we?”</p>

<p>Clare was shocked at how easy it was. Slytherin stood there and gave some reasons about why he wanted to move her from her current prison to a new one, managed by his vassals, the House of Granger. The judge, who the court scribe had identified as a Madam Marchbanks, listened and added a few stipulations of her own, which Slytherin agreed to, and they came to an accord.</p>

<p>“One last thing, your honour,” Slytherin said.</p>

<p>Madam Marchbanks raised an eyebrow.</p>

<p>“I wish for my debtor to have the opportunity to attend Madam Goose’s Home for the Magically Gifted.”</p>

<p>Clare’s head shot up.</p>

<p>“Obviously, this would require Miss Cooper to be out of the primary containment wards for longer periods of time than stated in the original sentence. I have already spoken with the school’s administration and they are willing to key Miss Cooper into a separate set of containment wards at the school on your honour’s approval of an alteration to the sentence to permit a secondary confinement location.”</p>

<p>Madam Marchbanks rested her chin on her knuckles. “And what does Miss Cooper think about this?”</p>

<p>Clare looked nervously from Lord Slytherin to Madam Marchbanks. She swallowed. “It sounds too good to be true.”</p>

<p>Madam Marchbanks smiled.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“And this is the garden.” Emma Granger flung open the double doors and stood back, obvious pride in her face.</p>

<p>Clare walked out and gazed around her. Plants grew everywhere. That was about all she could tell. “It’s very… green,” she commented, feeling rather lame. “What are they all for?”</p>

<p>Emma shrugged. “Most of them, I’ve no idea. I just know they’re magical. Those ones though,”—She pointed to a patch of what looked like cabbage size clover—“They’re healing herbs that our Hermione asked us to grow when she heard we were starting a magical garden. She’s taking healing training, you know. Youngest healer trainee in magical history.” She beamed.</p>

<p>Clare smiled faintly back. She’d already been taken on a quick tour of the house after being keyed into the wards and had felt the difference between her old and new prison instantly. The Granger’s home felt like a… well… a home, little different from the home she’d grown up in — Although there <em>were</em> some important differences.</p>

<p>She walked back into the house and glanced at the TV.</p>

<p>“Oh, yes,” Daniel Granger had said when she’d picked up the remote and tried to turn it on. “That hasn’t worked since we activated the wards a few months ago. After a few weeks, the kitchen appliances failed, and now we can’t even get the electric lights to work.”</p>

<p>Clare looked around at the numerous candles that lit the otherwise darkened room. That two non-magical parents would go so far to join the world that their daughter had suddenly found herself in… she couldn’t help but feel a touch of sadness. How different her life might have been if her parents had done the same.</p>

<p>Emma joined her side again. “It’ll be a lot brighter once we get the magical lighting set up.”</p>

<p>She gave Emma a wistful smile. “No magical TV? I never saw one before.”</p>

<p>Emma sighed. “No, they don’t have that. They have magic radio though.”</p>

<p>“So, what do you do with your free time then?”</p>

<p>Emma grinned at her. “Reading, mostly. The library’s getting quite big now, which is good for you, what with school and all.”</p>

<p>Clare’s heart skipped a beat. She’d been trying not to think about that. She still didn’t want to believe that what Slytherin had talked about to the judge was actually going to happen until she was there. The disappointment would kill her otherwise.</p>

<p>They walked up the stairs again and Emma handed her a slip of parchment on which the words, ‘the Granger’s secret magic testing room is located next to bathroom on the second floor.’ Suddenly, a door appeared where before there had been none. Clare’s eyes opened wide.</p>

<p>“The special room for you to use your wand in without getting caught by the ministry. Normally, they wouldn’t be able to track you, because you are of age, but this area is almost all muggle, so even if they can’t detect what spells are being used they <em>can</em> tell magic is being used. It raises flags. Of age, unqualified wand use is a legal gray area. Best just to pre-empt all possible problems.” Emma said, seeming to guess her question.</p>

<p>Clare nodded dumbly.</p>

<p>The last part of the house was the garage, which contained nothing but a massive machine covered in a see-through plastic sheet on a wooden pallet. The huge cardboard box it probably came in sat folded up in a corner.</p>

<p>“And what is <em>that</em>?” she asked.</p>

<p>“Milling machine,” Emma answered. “One of Dan’s new toys that we bought with the proceeds from selling the dental practise. We’re planning to use it to prototype new magical stuff. It’s going to be amazing how small we can make the runes with something like that.”</p>

<p>“But,” she pointed to what was obviously a computer attached to it. “If the TV doesn’t work because of the house’s magic, surely <em>that</em> won’t.”</p>

<p>Emma grinned at her. “Yes, funny that.”</p>

<p>“What?”</p>

<p>“Well, the wizards we’ve all talked to say that electricity can’t work around magic, because the magic interferes with it, and that we should just give up trying to find a way to make it work because no one’s ever found a way.”</p>

<p>“Well?”</p>

<p>“Well, I was reading this book on different types of magic and there’s this one type called ritual magic that’s mostly only used by the ministry and the older families. The description said that, ‘Ritual magic is extremely sensitive to outside magics,’ and, ‘it is critical to perform in a zero or near zero magical environment.’”</p>

<p>Clare watched her expectantly.</p>

<p>“But old families all live in equally old and magical houses, so how do they do their rituals? Turns out they have this thing called a ritual room that mostly insulates the room from the ward’s magics.”</p>

<p>Clare’s eyes widened. “And you think…”</p>

<p>“That all we have to do is have a ritual room built in here, stick all our electronics in it and BAM, electricity inside a magical house!”</p>

<p>Clare looked around the garage and bit her lip. “Can we put a TV in here?”</p>

<p>Later that night, Clare lay awake in her new bed in the Granger’s guest room. She was certainly much better off now, but she had no illusions about Lord Slytherin. To Slytherin, she was a magical generator. A <em>thing</em> that protected his investment in the Grangers, nothing more. As soon as Slytherin had no more use of her, or she became inconvenient, she’d be sold on again.</p>

<p>It would be a long time before she finally got to sleep that night, without the familiar scary sounds of the Knockturn Alley only a thin wall away.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>October passed in a whirlwind of activity. The very day after Clare arrived in Crawley, a snooty representative from the muggle liaison office had turned up and, after angrily shouting about illegal wards and all the trouble they were in, had quickly backtracked when she’d checked the Granger’s status as Vassals of the House of Slytherin and found that, yes, they did have the legal right to them.</p>

<p>The representative had then got to the point of her visit… asking Dan and Emma how they were settling in to their place on the edge of the Wizarding World, and was promptly catapulted into the nearby park when she’d attempted to use legilimency on Emma.</p>

<p>“They want to make sure muggle-born parents aren’t meeting each other and organising, you see,” Emma told a shocked Clare after they’d sent Hedwig to the probably irate representative with a note apologising for her unceremonious removal from the property, but that they took a dim view on magical attacks and that she could check all the other muggle-born parent’s minds if they wished to ensure they were being good little muggles.</p>

<p>The week after that, a female goblin who turned out to be the daughter of the Granger’s bank manager oversaw a small army of tiny aliens called house elves in the building of a ritual room in the garage. Apparently the house elves were owned by a Lord Parkinson who was a not-actually-proven-but-totally-was-a-death-eater.</p>

<p>“Doesn’t that worry you?” she’d asked Dan.</p>

<p>Dan had shrugged. “If you make it a policy to have no dealings with ex-death-eaters you’ll never get anything done. We know he’s untrustworthy, so we don’t trust him. That’s why we work through the Boneslicer clan.”</p>

<p>She’d spent the next week thinking about how a clan of literal bloodthirsty bankers was apparently more trustworthy than yet another member of the Wizarding World’s aristocracy.</p>

<p>While she worried about this, the Grangers, who she was really starting to warm to, had a floo installed, put up the magical lighting, given her a magic ring, and spent hours and hours getting her to do everything from picking up broomsticks by shouting ‘UP!’ to opening chocolate frog packets. It was amazing that, even without a wand, there were so many things she could do that Dan and Emma couldn’t. When <em>they</em> tried to open a chocolate frog packet, they just got a normal frog shaped chocolate. Apparently, this was because the enchantments and runes in the chocolate packaging drew an almost unnoticeable amount of magic from the wizard as they opened it to power the animation charm.</p>

<p>Eventually, the day Clare had been waiting for but never dared to believe would come had arrived.</p>

<p>It was Saturday, November the 2nd and on Monday she would be going to magic school for the very first time.</p>

<p>She arrived from her guest-room bedroom for breakfast to find Dan and Emma at the dining room table, both gazing fiercely at a copy of the Daily Prophet, Emma hanging over Dan’s shoulder.</p>

<p>“Is everything okay?” she asked, sitting down.</p>

<p>Dan’s head shot up. “Yes. Yes, it is, thank god.” He chucked the paper at her. “Look at that!”</p>

<p>She looked. A huge two legged monster widely swung a club around while five young girls fought it to a stand still.</p>

<p>Dan jabbed his finger at one of the figures. “That’s our Hermione!”</p>

<p>Clare’s eyes widened. “She’s alright?”</p>

<p>Emma let out a shaky breath. “Yes, thank heavens. If Harry hadn’t been giving her those extra lessons… I don’t want to think what might have happened.”</p>

<p>“Harry?”</p>

<p>“Her friend from before school. They both go to Hogwarts.”</p>

<p>Clare looked at the paper again. “This happened on Halloween and you’re only just now finding out about it?”</p>

<p>Emma moved out from behind Dan and sat down opposite her. “Hermione sent us an owl yesterday, but hearing about it in a letter and seeing moving pictures are two totally different things.”</p>

<p>Clare nodded and looked at the paper again. This was the sort of thing first years at Hogwarts got up to? That changing pipe into sword spell was amazing, and those shields, and those other spells. She bit her lip. She didn’t want to say anything for fear of looking inconsiderate, but suddenly, going to magical school seemed even more amazing than she’d ever imagined, even during all those slow and boring middle and high school years.</p>

<p>The three of them soon finished breakfast and, when the containment wards allowed it, made their way through the floo to Diagon Alley.</p>

<p>“What do you mean, ‘I already have a vault’?”</p>

<p>The goblin teller looked at Clare like she was stupid. “I meant what I said, human.”</p>

<p>She looked to the Grangers who shrugged. “Ask for a blood confirmation if you’re not sure,” Dan suggested.</p>

<p>Apparently, there wasn’t a mistake and she did in fact already have a vault, although she couldn’t begin to imagine how. She carefully deposited her remaining two and a half gallons of silver and bronze and made her way back to the wild cart ride.</p>

<p>Clare’s heart flew as they shopped for new robes, and cauldrons, and potion supplies, and all sorts of other things. Slytherin was paying and she was determined to take maximum opportunity before she’d inevitably be kicked to the curb.</p>

<p>She happily zipped up and down the rows of books in Flourish and Blotts, picking out her very own copies of all the books she’d been perusing in the Granger Library over the last month.</p>

<p>Dan and Emma didn’t let her monopolise all the enthusiasm either. They left the book shop with wide smiles and carrying a few choices of their own including, ‘<em>The 1991 guide to known family magic</em>,’ and <em>’Patent law and family magic,’ </em>among a small pile of other books.</p>

<p>Finally, Clare found herself in front of the shop that she’d dreamed of for seven years, and despaired of never seeing for three — The wand shop.</p>

<p>Clare stepped into the dark and dusty shop followed quickly by the Grangers.</p>

<p>“Good morning,” came a soft voice from right beside her that made her jump.</p>

<p>“G-good morning,” she said, but the old man’s eyes had already left her and were scanning Dan and Emma behind her.</p>

<p>“Ah,” the man said, smiling. “You must be Mister and Mrs Granger, of the House of Granger, Vassals of the Most Ancient and Noble House of Slytherin. Am I right?”</p>

<p>Clare turned and saw Dan regard the man with wary eyes.</p>

<p>“We are. And you must be Mister Ollivander, the oldest member of the oldest family in Britain — the only family that holds the title of Most Most Ancient.”</p>

<p>The man chuckled. “Indeed. 402 BC. I wonder if we can hold on for another one hundred some odd years… maybe the Albion magics will upgrade us again to Most Most Most Ancient. We’d have to re-order our calling cards again.” Mister Ollivander turned away from them and started pulling boxes out of the many shelves. “And you are, if I may say so, the most surprising muggles I’ve ever met. A good fit for an equally surprising daughter.” He turned back to them with a pair of boxes in his hands. “It would seem, that anything to do with Lord Slytherin is automatically surprising… so maybe I should just stop being surprised, hmmm?”</p>

<p>Dan grunted. “Maybe.”</p>

<p>Ollivander turned to Clare again, who, despite the dust in the air, had been watching with slightly widened eyes.</p>

<p>“My apologies, my dear, I don’t believe I know you.”</p>

<p>“I’m Clare Cooper. I’m going back to school and need to buy a wand.”</p>

<p>“Of course, a wand…” Ollivander looked her over and his gaze fell on the silver collar around her neck.</p>

<p>She shivered.</p>

<p>“There was a Clare Cooper on the books to go to Hogwarts some ten years ago…”</p>

<p>“That was me.”</p>

<p>“Ah.” Ollivander’s voice saddened. “Such a shame.” He then brightened. “Well, no time like the present, and education is the best investment we can make in ourselves… or something like that. Let’s get you fitted out, shall we?”</p>

<p>Ten minutes later, Clare held a thirteen and a half inch yew and phoenix feather wand in her hand and brought it down in a great flash of emerald green sparks.</p>

<p>Ollivander’s gaze slid from the wand to her and back again. “How surprising.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Early next Monday, with butterflies flitting all the way through her stomach and threatening to climb up her gullet, Clare flooed straight into the head office of Madam Goose’s Home for the Magically Gifted. An old witch sat behind a desk wearing a pointed white witches hat with stars on it.</p>

<p>“Miss Cooper, I presume?” the witch asked, peering over her glasses.</p>

<p>“Yes, Ma’am,” she answered, looking around. The office’s walls looked to be made of soft brown leather, while the floor was a massive patchwork quilt.</p>

<p>“Well then,” the witch continued, in the same level, even tone. “allow me to welcome you to The Shoe. I hope you have a productive time here.”</p>

<p>Clare nodded. “Thank you, Ma’am.</p>

<p>The witch stood up. “I am the current Madam Goose, the Headmistress, and you are a reforming criminal and a whore.”</p>

<p>Clare faulted. “I…”</p>

<p>“—You will act in such a manner as is befitting of a young lady of the Wizarding World, and if you fail to do so, then not even Lord Slytherin’s influence will help you — do you understand?”</p>

<p>Clare straightened. “Yes, Ma’am.”</p>

<p>“That’s, ‘Yes Headmistress.’”</p>

<p>“Sorry, Headmistress. Yes, Headmistress”</p>

<p>Madam Goose stepped over to Clare, drew her wand, and tapped the silver collar around her neck. “You are now keyed into the wards. You will not try to leave until school-out time at three-thirty each day. You will make sure you have left the school by five o’clock. As one of the only students who lives off campus, you may not run errands for any of the other students. If a student asks you to buy something for them, you are to turn them down, understand?”</p>

<p>“Yes, Headmistress.”</p>

<p>“Good. Class starts in ten minutes.” The office door opened and an older teenager stepped through. “This is Rebecca — one of our seventh year students. She’ll help you find your way. I suggest you get yourself to where you need to be.”</p>

<p>Clare nodded again, took a last glance at the storybook style decor, and left by the office door.</p>

<p>So much for the warm welcome.</p>

<p>Rebecca turned to her and smiled. “You’ll be fine. Headmistress Madam Goose can be a bit scary, but most of the staff aren’t like that.”</p>

<p>Clare nodded, thanked her, and the two walked off down the equally storybook style hallway.</p>

<p>Clare stopped briefly at the first window they arrived at to look outside.</p>

<p>Rolling hills and lawn stretched out for at least a mile before hitting a sturdy looking wooden fence. Dozens of pre-teens and teenagers lounged around, dressed in typical muggle style school uniforms with flowing open robes. It looked like she was the only one dressed in the more traditional closed robes. One older teen showed off a broomstick in the middle of a large group of his friends. Another group was playing cards — another, hopscotch. It was unmistakably a school. Just like the one she’d left before she’d been dragged into hell.</p>

<p>“Clare?” Rebecca asked.</p>

<p>“Ah, coming.”</p>

<p>They carried on walking, eventually finding her classroom.</p>

<p>Clare claimed a desk at the back of the room after thanking Rebecca. She took her wand out of her bag and waited.</p>

<p>Eventually, her much younger class mates all filed into the room, many giving her strange looks. There looked to be around fifteen of them.</p>

<p>The teacher walked to the blackboard. The man didn’t acknowledge her. She supposed he just didn’t want to disrupt the class.</p>

<p>“Books out,” the teacher said. “Please read chapter three in quiet.” He couldn’t have sounded less enthusiastic.</p>

<p>Clare pulled out her book and stared going over the section that she’d already finished a few weeks back.</p>

<p>After thirty minutes, the teacher announced they would be going through the safety of magic, and from the many groans that sprang up all around, she supposed it wasn’t the first time.</p>

<p>Another thirty minutes went by, in which Clare learned such pearls of wisdom as, ‘never attempt a new spell without supervision,’ and, ‘only use ministry approved spells,’ and, ‘only qualified wizards are allowed to experiment with magic and even then only with ministry approval on a case-by-case basis, which none of <em>you</em> lot are ever going to get.’</p>

<p>She suppressed a yawn. It was like the man was deliberately trying to take all the excitement out of magic. How could you possibly make something like magic, dull?</p>

<p>The teacher then handed out a bunch of nails and told them to, ‘get on with it.’</p>

<p>Presumably, they were trying to turn the nail into a wooden spoon — the first exercise listed in the book. She pointed her brand new wand at the nail and got to work.</p>

<p>By the end of the class, some thirty more minutes later, she’d managed to make the nail a bit less blunt, and changed it brown. She was quite pleased with herself. She was doing magic! She even seemed to be ahead of some of her class mates. She frowned as a thought struck here. Sure, they <em>were</em> eleven year olds, but weren’t they supposed to have been at this for almost two months now? Surely they should be further ahead then this?</p>

<p>After another ‘practical’ class and lunch, she had wizarding culture and law class, and if she thought the practical classes was slow, it was <em>nothing</em> compared to this.</p>

<p>“…And the only circumstance in which you are permitted to use your wand in front of muggles is if your life is in immediate danger or you need to summon the obliviator squads…”</p>

<p>Maybe if she kept her wand under her table she could secretly keep trying to change her pencil into something else?</p>

<p>“…There are currently 114 active seats on the Wizengamot, each one held by a lord of one of the noble families…”</p>

<p>No, probably not a good idea. Getting caught would be horrific.</p>

<p>“…These ancient and noble houses hold a special place in our world and you will treat them with the respect and deference they deserve…”</p>

<p>Clare focused back on the teacher and tried not to snort. Respect? Bullshit. Fear, yes. People like the last lord who owned her debt — people like Mister Volf, who still haunted her nightmares — she could barely keep herself shaking in their presences.</p>

<p>Straight after class, Clare found herself flagged down by Rebecca from that morning, who invited her out onto the grounds to ‘hang out’ with her friends.</p>

<p>Rebecca’s friends were a pretty homogeneous lot. Four girls, one guy — four white, one obviously Hispanic — two muggleborns, three half-bloods. They all sat down around a large tree in the grounds and Clare got her first outside look at the school.</p>

<p>It was called The Shoe, but it more resembled a giant boot. Deep brown leather, tall, with huge laces that hung down to the ground. The double doors they’d exited from were in the heel.</p>

<p>“The dorms are up there,” Rebecca said, pointing to the tall bit where the world’s biggest giant would put his shins. She turned to her. “So, how come you’re only just now going to school?”</p>

<p>Clare shuffled on the ground. Looked like her story hadn’t come this far. “I… was a muggleborn whose parents refused to send me.”</p>

<p>The girls let out a collective sympathetic groan. “Oh, that sucks,” said Rebecca.</p>

<p>“I can <em>not</em> imagine what that must have been like,” chipped in one of Rebecca’s friends. “But you got in eventually. Good old Shoe.”</p>

<p>“I was actually accepted to Hogwarts.”</p>

<p>The groan that both the girls and the male friend gave now was quite a bit louder than the first one.</p>

<p>“You got into <em>Hogwarts</em> and your parents refused to send you?!” Rebecca threw her hands up in the air. “That’s like saying, ‘Oh, no Eton for me please, I’ll just go to the local comprehensive!’”</p>

<p>Clare smiled weakly. “Yeah.”</p>

<p>“So why are you here then?” asked the male friend.</p>

<p>“Hogwarts doesn’t take adult students, not those in my situation, anyway.”</p>

<p>The girls all nodded in understanding.</p>

<p>“So, how are you paying for this? I assume your parents still aren’t? Part time job?”</p>

<p>Clare shuffled some more. “Something like that.”</p>

<p>Rebecca grinned. “Shop assistant?”</p>

<p>“I work for Lord Slytherin.”</p>

<p>The group stilled and stared at her.</p>

<p>“No, you don’t,” said one of the girls.</p>

<p>“Err, yes, yes I do.”</p>

<p>“<em>The</em> Lord Slytherin?” asked Rebecca, eyes wide.</p>

<p>“Well, I don’t know if he’s worthy of having his article italicised, but yes, Lord Slytherin.”</p>

<p>“How did you score a sweet gig like <em>that</em>?!”</p>

<p>And so Clare spent the next twenty minutes answering or deflecting question after question. They ooed and ahhed over every little titbit that she felt safe or comfortable to hand them, and when they learned that she’d had dinner with him, twice, the giggling reached ridiculous levels. Rebecca even asked if she could set up a meeting for her with him, blushing cherry red all the while. Of course she couldn’t, but that didn’t stop the requests.</p>

<p>Really, what <em>was</em> so great about a guy in a damn mask?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>By the time Clare got back to the Grangers she felt thoroughly fed up. She marched up to her new bedroom, dumped her bag on the bed, and marched back downstairs, all the way to the ritual garage, heard a slap and a yelp, opened the door without thinking, and walked in on a sight that made her stop dead.</p>

<p>Lord Slytherin had Emma over his knee with her robes bunched up around her waist and had clearly just finished spanking her.</p>

<p>“Clare!” Slytherin(?) reached for his mask.</p>

<p>“I…I…” she stuttered.</p>

<p>The mask came off and the suddenly revealed Daniel Granger hastily pulled his wife’s robes back over her glowing red behind.</p>

<p>Emma got to her feet, blushing madly, and rushed over to her, “Please, Clare,” her eyes watered, “Please, please, please, don’t tell Slytherin about this.”</p>

<p>“Um, yeah, sure, don’t worry.” Clare got a hold of herself and smiled. “I mean, it’s not like I don’t understand, right? I’ve seen the <em>whole</em> range of interests, and this is pretty tame by comparison.”</p>

<p>Dan smiled sheepishly at her.</p>

<p>Emma collapsed thankfully into a nearby chair, although not without a gasp and a wince.</p>

<p>Clare took a moment to take in the room. The milling machine was now fully operational and she’d seen the results of their test runs, although nothing that screamed ‘magic!’ at her.</p>

<p>“So, when are you going to have something interesting to show from that massive monster of a machine?” She asked.</p>

<p>Emma beamed up from her chair, all embarrassment apparently forgotten. “Now! We’d just finished our first item.”</p>

<p>Clare gingerly picked up the mask that had fallen on the floor. While the front had been painted green and black, the back was still shiny aluminium. “Not the <em>very</em> first item, I see.”</p>

<p>Emma blushed again.</p>

<p>Soon, up in the secret fidelius room, Clare watched Dan set up an aluminium tile with a perfectly milled sphere of solid aluminium resting in the centre. Tiny, geometrically perfect runes covered both the tile and the sphere.</p>

<p>“Alright, Clare,” Dan said, “Just point your wand at this bit here, and make as though to cast a spell but without actually casting any specific spell.”</p>

<p>“Umm.. Okay.”</p>

<p>It turned out to be not quite as simple as that and it took her a good two hours before she finally managed it, but when she did, the aluminium sphere lifted up from the tile and hovered, unmoving, about three inches off the ground.</p>

<p>Dan and Emma whopped and clapped.</p>

<p>Clare let out a long shaky breath. “Very cool,” she conceded.</p>

<p>Dan grinned. “Isn’t it? I’m pretty sure no one in the Wizarding World could replicate that little feat the way we just did it. They either use alchemy to mould metal, which requires inhuman levels of occlumency to get perfect visualisation, or else they work metal by charms, which has its own built in limitations. We’re pushing the edge here. Disillusionment’s next.”</p>

<p>“Disillusionment?”</p>

<p>“Imperfect invisibility.”</p>

<p>Clare’s eyes opened wide. “Now <em>that</em> would be amazing.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>A week went by and Clare was starting to get into the routine of school life again, although she was still waiting for the moment it all came crashing down. She never seemed to see Slytherin these days and the looks the headmistress and the teachers at the Shoe gave her weren’t exactly flattering.</p>

<p>Each day she came home and either got to work on homework, practised spells in the secret room, or helped Dan and Emma with some needed magic. Today, however, she came home to find a bright eyed Emma handing her a parchment.</p>

<p><em>Dear Mysterious Inventor Friends,</em></p>

<p><em>Tally ho! Allow us to introduce ourselves. We are the secret tinkerers of the Wizarding World. We are they who hide around the corner, ready to pounce with fun and chaos. We are the people who happily take what the more wasteful carelessly leave behind them. We are the Hogwarts Buccaneers. And we have recently been enabled by our ‘mutual patron’ who suggested that we get into contact with you.</em></p>

<p><em>We’ve attached a few drawings of some of our more outlandish ideas with some of the more tricky sticking points. Any thoughts? Ideas? Howling criticisms? (No howlers, please).</em></p>

<p><em>Either way, it seemed like a good idea to open a discussion.</em></p>

<p><em>Signing out!</em></p>

<p><em>- The Hogwarts Buccaneers</em></p>

<p>Clare looked up at Emma who was looking at her eagerly. “So, what’s the problem?”</p>

<p>“Well, we’re going to owl them back, obviously, but we need a name.”</p>

<p>Clare eyed Emma with half lidded eyes. “A name.”</p>

<p>“Yes! They have the ‘The Hogwarts Buccaneers’ — we need an equally cool name. You’re part of the team, so we’re asking you.”</p>

<p>She looked to Dan who stood nearby, smiling fondly at his wife.</p>

<p>“Any ideas?” he asked.</p>

<p>Clare shrugged. “I don’t know — Outcasts? Persona non gratus? Two muggles and a whore?”</p>

<p>Emma frowned. “Clare…” she said, softly.</p>

<p>Clare relented, feeling slightly ashamed. “Okay, okay, maybe that wasn’t called for. but you must admit we aren’t exactly welcome in this world. Remember what that snooty ministry rep asked? ‘How are you settling into life on the edge of the Wizarding World?’”</p>

<p>Emma continued to frown — then her frown morphed slowly into a wide grin. “That’s perfect.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p><em>Dear Hogwarts Buccaneers,</em></p>

<p><em>Sounds good!</em></p>

<p><em>You might like to take a look at ‘Journey of an Alchemist’, chapter six — the author mentions a partial solution to the problem you’re having with deconstructing the omniocular, although it is an imperfect solution. If intellectual property spells were that easy to circumvent… well… no more need be said.</em></p>

<p><em>Also, your extendable ears idea has promise, although the range will be limited, even if you can make the runes that small (We do have a way to make that possible, although it’s currently a guarded process. We’d be happy to do part labour, though.)</em></p>

<p><em>Welcome to our mutual patron’s little club!</em></p>

<p><em>Yours,</em></p>

<p><em>- The Edge Settlers</em></p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Autumn slid into winter and soon enough Christmas holidays came. After hearing what had happened to Clare’s muggle family and friends, Rebecca had invited her over for Christmas, but, obviously, she couldn’t just casually leave her prison like that.</p>

<p>Dan and Emma had left earlier that afternoon to pick up their daughter from the train station. They should be back soon.</p>

<p>Clare sat alone on the living room sofa, reading through the standard book of spells, grade two, and wishing they were going faster in class.</p>

<p>The door rattled, clicked, and opened to the sound of several voices laughing and talking.</p>

<p>A small figure with wavy-brow-hair appeared in the doorway.</p>

<p>“Clare,” came Dan’s voice from the hallway. He stepped through.</p>

<p>The wavy-brown-haired figure studied her.</p>

<p>“This is our daughter, Hermione. Hermione, this is Clare, she’ll be living with us until further notice.”</p>

<p>“Hello,” Clare said.</p>

<p>“Hello,” Hermione replied, sitting down opposite her. She lowered her head. “Thank you for keeping my parents safe for the past few months.”</p>

<p>Dan left the room.</p>

<p>Clare smiled. “That’s quite alright. I do my best.”</p>

<p>Hermione beamed. “Naturally. Our lord would not have chosen you otherwise.”</p>

<p>Whoa. Pretentious, much? Clare wetted her lips. “I’m not sure if he’s ‘<em>my</em>’ lord. He just owns my debt.”</p>

<p>Hermione tilted her head. “Really? But you are in almost the same situation as me. A muggleborn witch in the Wizarding World. True, you are of age, but you’re still a second class citizen. Even more so, considering…” She indicated her collar. “Isn’t it wise to claim protection? Especially if he’s someone as amazing as our… as <em>my</em> lord.”</p>

<p>Clare shifted in her seat. Having this conversation with a girl so much younger than her felt awkward. “How do <em>you</em> know what he’s like? You don’t know anything about him.”</p>

<p>Hermione waved vaguely. “That’s not quite true. My dorm mate is my lord’s betrothed and I’ve known him personally for years. Slytherin <em>is</em> amazing, and the longer you know him, the more obvious that becomes.”</p>

<p>Clare’s mind screeched to a halt. “Wait. Your dorm mate is betrothed to Lord Slytherin? And she’s your age?” incredulity permeated her voice.</p>

<p>“Yes,” Hermione said, unconcerned. “That’s quite normal in the Wizarding World. It’s not like they’re getting married until they’re older.”</p>

<p>Clare tried to take this in, but couldn’t quite manage it. True, her impressions of the Wizarding World up to this point hadn’t exactly been from the best perspective, and her clients had often asked for some pretty messed up things, but listening to a twelve-years-old, very clearly British girl calmly talking about arranged marriages with such large age differences like they were nothing unusual felt rather disconcerting.</p>

<p>Hermione tilted her head. “Would you care for some tea and biscuits?”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The Christmas break came and went and Clare tried to reconcile the many rather extreme and unusual views Hermione seemed to hold with the obviously intelligent girl she was. She asked Dan and Emma what <em>they</em> thought about the betrothal thing in particular and they said they, ‘try not to think too hard about it.’</p>

<p><em>Clare </em>on the other hand didn’t know <em>what</em> to think.</p>

<p>It was two weeks into the new school term when Slytherin next visited.</p>

<p>She and Emma sat upright on the large sofa in the living room while Dan and Lord Slytherin were sat in opposite arm chairs.</p>

<p>“So,” Emma started, “you’re trying to get at this thing that someone is protecting but is really using as bait to lure this other guy into a trap and you need an effective way to communicate to get past the defences in a high magical environment?”</p>

<p>“That’s about the size of it,” Slytherin said.</p>

<p>Clare couldn’t help herself. “But, why would anyone actually leave the thing in the trap if it’s so important? Why not just <em>say</em> it’s there?”</p>

<p>Slytherin nodded to her. “Trust me, anyone who knows anything about the guy in question would tell you he’s just the kind of arrogant to believe no one could get past his defences. He’d do it just to feel clever.”</p>

<p>Dan turned over the silver hand mirror in his hands.</p>

<p>“So,” Slytherin continued, “any possibilities?”</p>

<p>Dan rubbed his chin. “Getting at the runes on the inside without damaging the mirror itself… We were just talking with your buccaneers about that the other month. Yes, there <em>might</em> be a way from the non magical world.”</p>

<p>“Really?” Slytherin actually sounded surprised.</p>

<p>“Yes. We <em>might</em> be able to use a CAT scanner… there’s no iron in it… we don’t need to identify perfect detail, just what the symbols are and in what patterns…”</p>

<p>“How much would a CAT scanner cost?” Slytherin asked.</p>

<p>Dan snorted. “About one to three million pounds.”</p>

<p>“Ah.”</p>

<p>Dan shook his head. “No, we’d have to rent time on one.”</p>

<p>“And you could do that?”</p>

<p>Dan hesitated. “We might get away with saying it’s for archaeological research?” He looked towards Emma.</p>

<p>Emma inclined her head.</p>

<p>Dan turned back to Slytherin. “Okay, we’ll give it a shot. But what are you going to do about the family magic? Even if you know the rune patterns it’ll be useless without the enchantments.”</p>

<p>“I’ll just have to give them an offer they can’t refuse.” Slytherin relaxed back in his chair.</p>

<p>Dan, Emma, and Clare all looked at Slytherin with looks of amused concern, although in Clare’s case there was less amusement and more concern.</p>

<p>Lord Slytherin looked back and forth between the three of them, all staring at him. “What?”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>January faded into February, and by now Clare had broadly came to terms with her place in Slytherin’s little world. She’d come a long way from the feeling of resigned despair at being forced to have sex every night with whoever was willing to pay.</p>

<p>Being able to go to magic school had been her dream for all her teenage years, and she now had it, even if it <em>was</em> rather slow going, but she was still waiting for the moment that Slytherin turned up to tell her it was all off and she was going to go back to being a prostitute again.</p>

<p>Still, Dan and Emma were much nicer jailers than the last lord who owned her, and, occasionally, she even got to go on field trips, although, if she’d known exactly where they were going for this one, she’d probably have asked to be left at home.</p>

<p>“Lot number 95,” the man at the front of the room called out. “Seven, large unopened boxes of Doctor Filibuster’s No-Heat, Wet-Start, Fireworks, one box slightly damaged. We’ll start the bidding at two galleons (£100).”</p>

<p>All around the large open room, wizards and witches raised wands and fired out numbers to show their bids and counter-bids.</p>

<p>Clare sat on her chair, uncomfortably aware that not seven buildings away from this one, stood the polyjuice brothel. A place she’d hoped never to get within a mile of, ever again, or, failing that, just Knockturn Alley.</p>

<p>“Lot number 106,” the man called out again. “A silver ring — good condition — dated at circa 1400’s Milan — showing the emblem of the Viradini family — we’ll start at forty galleons (£2,000).”</p>

<p>Clare couldn’t help notice, as the bids quickly picked up pace around the room, that Slytherin—sat a few chairs away from her, along with Dan, Emma, and a Lord and Lady Greengrass—hadn’t bid on anything yet.</p>

<p>She leaned over to Emma. “Is there anything in particular he’s looking for?”</p>

<p>Emma handed her the brochure. “Lot number 108 — he’s just coming up.”</p>

<p>He? Clare flicked through the brochure and felt her stomach drop. ‘He’ was a house elf.</p>

<p>“A house elf?”</p>

<p>“Yes,” Emma whispered back. She sounded half apprehensive, half excited. “Our lord says that he needs at least two by this time next year, and they don’t come up on the block very often. But he can’t really make much use of him before then, so he’s going to lend him to us! Isn’t that wonderful?”</p>

<p>Oh, yes. Wonderful. Clare felt sick. House elves were magical beings. They had cores. They could power wards. Now that Slytherin was buying one, he’d have little more need for her. They could even channel magic just like wizards could — the one advantage she had over the magical plants in the garden. She swallowed and looked over at Slytherin’s ever blank and impersonate mask. If Slytherin got rid of her would she still be able to go to school? Would her new master force her to sleep with him? Would she even be allowed to keep her wand?</p>

<p>The bidding for lot 107 came and went and soon a small and spindly figure stood up on the auction platform. The figure was visibly vibrating with excitement.</p>

<p>The auctioneer cleared his throat. “Lot number 108 — a male house elf — not yet named — five years old and just passed maturity — healthy and with full documentation from both the Ministry and St Mungo’s — trained in domestic services and household management — we’ll start the bidding at six thousand galleons (£300,000).”</p>

<p>Clare <em>just</em> stopped her eyes from bugging out. Six thousand galleons!</p>

<p>Lord Slytherin immediately raised his wand.</p>

<p>Whispers filled the hall.</p>

<p>Another wizard raised his wand.</p>

<p>Six thousand galleons was like… she did the math in her head… a LOT more than she owed anyone.</p>

<p>Slytherin and the other wizard were shortly joined by a third.</p>

<p>The bidding quickly took on a frantic air. The bids kept creeping higher and higher. 6,100 galleons, 6,200 , 6,400, 6,800. Eventually Slytherin rose his wand and shot out a call for 7,600 galleons (£380,000).</p>

<p>“Any other bids? Gentlemen?” The auctioneer called to the last wizard still bidding. The man shook his head looking seriously miffed.</p>

<p>“No? Sure? Sold! To Lord Slytherin.”</p>

<p>A faint scattering of applause filled the hall.</p>

<p>Slytherin stood up and made his way to the back room, leaving Clare alone with the Grangers and the Greengrasses. A heavy weight settled in her stomach.</p>

<p>She barely paid any attention to the rest of the auction. Not even when Emma commented on how badly she’d want to get her hands on a pair of vanishing cabinets that eventually went for almost one thousand galleons (£50,000).</p>

<p>Eventually, Emma seemed to pick up on something being off. “What’s wrong?”</p>

<p>Clare shrugged her off. “Nothing. It’s nothing.”</p>

<p>Emma didn’t seem convinced but didn’t pry further.</p>

<p>Slytherin soon returned from the back room and started to bid for a few more items, so much so, that by the time the auction finished it was late at night. The crowd started to file out of the room.</p>

<p>Clare looked around. “Where did Slytherin go again?”</p>

<p>“I think he went out the back again,” Dan replied.</p>

<p>“Well,” said the witch who’d introduced herself as Lady Sunny Greengrass, stepping into their little circle. “How did you enjoy your first magical auction?”</p>

<p>“It was interesting,” Emma replied. “There were so many things I really wanted, but didn’t have a hope of affording. So many of the really good things were quite expensive.”</p>

<p>Lady Sunny nodded. “Many heirlooms are like that. They’re just not being made any more.”</p>

<p>Emma nodded.</p>

<p>Clare knew Emma knew all about the ways family magic gave the old houses a stranglehold on certain types of products.</p>

<p>Eventually they were the last one’s left in the room.</p>

<p>Slytherin appeared from the back room again. “My apologies,” he intoned, drawing closer to them “One of the sellers was being a little difficult about something.”</p>

<p>Lord Jacob Greengrass slapped him on the back. “You sorted it out?”</p>

<p>“Of course.”</p>

<p>“What about the elf?”</p>

<p>Slytherin patted his pocket.</p>

<p>Lord Greengrass laughed. “Sometimes, I wonder why you’re even bothering with a manor when you’re so attached to your trunk.”</p>

<p>Slytherin chuckled. “I think <em>someone</em> would complain quite a bit if I decided to live in my trunk.”</p>

<p>Greengrass snorted.</p>

<p>Clare watched the two lords back and forth, still not able to wrench that sickening feeling from her stomach. She didn’t say anything, even as everyone else started chatting and laughing. She held herself towards the back of the group, and walked a little bit slower.</p>

<p>The group of six made their way out of the auction house and into the now almost deserted nighttime of Knockturn Alley.</p>

<p>Somewhere nearby, a dog barked.</p>

<p>She breathed out.</p>

<p>Suddenly, a voice from just behind her caused her to swing around wildly, heart leaping into her throat.</p>

<p>“Well, well, look who we have here.”</p>

<p>It was Robert Volf, old, balding, bot bellied, but spry and still as unusually light on his feet as ever.</p>

<p>“Volf.” She tried to keep the tremble from her voice, backing away and towards the still receding group.</p>

<p>Volf leered. “Now where do you think you’re going? I’ve got an hour to kill — the joint is just up there.”</p>

<p>She quickly shook her head. “No, that’s not — I don’t work there anymore.”</p>

<p>He ignored her and made to grab her arm.</p>

<p>“HELP!” She jerked and tried to run away, but just as she turned she barrelled into the tall robed form of Lord Slytherin. She clutched his robes briefly before spinning and ducking behind him.</p>

<p>Volf straightened. “Lord Slytherin. You have something of mine behind you.”</p>

<p>Lord Slytherin shook his head. “No, you are mistaken. Her debt is now mine. Go find your entertainment elsewhere.”</p>

<p>Volf’s face reddened. “You’re not the only one the whore owes!”</p>

<p>Silence descended on the group, now backed up behind them.</p>

<p>“What?” Slytherin’s voice dropped dangerously.</p>

<p>“What!” Clare cried out, getting over her initial shock. “Yes, he is!”</p>

<p>The elder Volf produced a parchment with a flourish. “See?”</p>

<p>Slytherin took the proffered document and quickly scanned it.</p>

<p>Clare looked desperately between Slytherin and Volf. She didn’t owe anyone else anything. She knew she didn’t.</p>

<p>“Clare,” Slytherin started, “this document says you’ve sold Robert Volf exclusive rights to your un-polyjuiced ‘hospitality’ for five years in exchange for four hundred galleons (£20,000).”</p>

<p>Clare recoiled in horror. “I didn’t. I swear, my lord, I didn’t!”</p>

<p>“The parchment has your signature on it.” Slytherin produced his wand, waved it over the parchment and a tendril of magic arced between her, Volf, and the contract. “It is authentic.”</p>

<p>“I never received that much money for anything!”</p>

<p>Volf waved another parchment. “Receipt of deposit into the whore’s Gringotts account.”</p>

<p>Clare gasped. The already opened account. “But there wasn’t any money in it! It was empty when we went there!”</p>

<p>Volf shrugged and grinned. “Not my problem, my pretty little mudblood.”</p>

<p>Slytherin turned to her. “You don’t remember signing this?”</p>

<p>“No!”</p>

<p>He turned back to Volf. “You obliviated her.”</p>

<p>Volf grinned again. “’I’? I don’t know just <em>what</em> you are accusing me of, Slytherin, but I assure you I did not. Of course, accidents <em>can</em> happen, but if you went through the trouble of healing whatever blocks may be in that worthless mind, I guarantee you will find nothing out of line. All my business with the whore is completely legal and above board.”</p>

<p>Slytherin grunted.</p>

<p>Clare looked on, horrified. They’d messed with her memories? She actually <em>had</em> signed that contract?</p>

<p>Volf spread his arms. “I had no problem with her staying at the whore house — made it easy for me — But now that she’s out — well… I just might want to make a claim of my own to be her prison guard, mmm?”</p>

<p>No. Clare started to shake. Volf as her prison guard? She couldn’t. “My lord, please—”</p>

<p>“—You’d never win that case.” Slytherin interrupted, ignoring her.</p>

<p>Volf smirked. “Oh, I know that. Your debt is bigger. Your political clout is bigger. I wouldn’t stand a chance — but that wouldn’t matter, because while I wouldn’t be able to win, I <em>would</em> be able to hold the case up in court for many months…” he trailed off, still smirking.</p>

<p>Behind them all, Lady Greengrass let out a small gasp.</p>

<p>Volf continued. “…And during that time, the law would insist that the debtor be held in a neutral third part location — Somewhere suitable for a criminal convicted of breaking the International Statute of Secrecy.”</p>

<p>Slytherin’s voice dropped to a deadly whisper. “Azkaban.”</p>

<p>Clare’s shaking got worse.</p>

<p>Volf smiled.</p>

<p>Slytherin handed the contract to Lord Greengrass. “What is it you want, Volf?”</p>

<p>“The rest of the whore’s debt. I’ll buy it. Such a pretty little thing isn’t she?”</p>

<p>Clare looked up at Slytherin, who gaze was still fixed on Volf. She reached out and desperately held onto his arm. “Please, my lord. Please don’t.”</p>

<p>Slytherin looked briefly at her and turned back to Volf. “Bugger off, Volf.”</p>

<p>Clare gasped and then let out a breath she didn’t know she’d been holding.</p>

<p>Another smile from Volf. “But of course you’d say that — very protective, aren’t you? One of the few things anyone knows about you. Oh well,” He gave a dramatic sigh. “There is one other option — You can duel me for it. Winner takes the other’s debt.”</p>

<p>Slytherin tilted his head. “You want to duel me for it?”</p>

<p>“Yes!” Volf’s voice suddenly became angry. “Just like you duelled my grandson!”</p>

<p>Clare looked between them, still on Slytherin’s arm. Grandson? Duel?</p>

<p>Slytherin said nothing.</p>

<p>“Well?!” shouted Volf. “What was it you said to the boy!? ‘You can accept the duel, or try your luck with the law?’”</p>

<p>Slytherin looked at her one more time. “Fine.”</p>

<p>Volf smirked.</p>

<p>Clare’s head swam.</p>

<p>Minutes later the alley was set up with temporary duelling wards.</p>

<p>Clare stood off to one side looking at the preparations as though watching a play. It all seemed too unreal.</p>

<p>Emma stepped up to her side. “It’s going to be okay,” she said in a soothing voice. “Lady Greengrass tells me Slytherin is the best duellist she’s ever seen.”</p>

<p>Clare looked over to the masked figure standing on one side of the impromptu duelling arena, tall and stoic. “I…” She swallowed. “I hope he wins. I don’t want to leave again.”</p>

<p>Emma hugged her shoulders. “Trust him, Clare. Trust in your lord.”</p>

<p>Clare briefly shut her eyes. Her lord. The words sounded oppressive and dangerous, but right then, she desperately wanted to believe in them. She opened them again. “In my lord.”</p>

<p>Emma squeezed her shoulders.</p>

<p>The two combatants squared off against each other. Someone had managed to find the auctioneer from the auction house who now stood off to one side holding a handkerchief.</p>

<p>The street was otherwise empty, other than for the Grangers, the Greengrasses, a few hags, some hooded men, and her.</p>

<p>“This is a formal duel between the Most Ancient and Noble House of Slytherin and the Ancient House of Volf over the rights to the debts owed to both houses by one Miss Clare Cooper. The combatants have agreed to extended class B rules. I am Andrew Richardson of the House of Richardson and will act as official witness. All combatants have agreed to limit their casts to non-immediately-lethal spells. When my conjured handkerchief lands on the floor, the duel shall begin.” He threw the small strip of cloth into the air with a flourish.</p>

<p>Clare watched the handkerchief fall to the floor, breath held, heart beating wildly in her chest.</p>

<p>It landed.</p>

<p>And chaos started.</p>

<p>Clare’s eyes widened trying desperately to understand what was happening. Spells flew everywhere, shields blocked some, others were dodged. Dan and Lord Greengrass shouted encouragement while Sunny and Emma just stared.</p>

<p>Clare gasped when a purple spell seemed to almost hit her lord but was battered away with so quickly that it had looked like he was playing squash.</p>

<p>The duel dragged on and her heart raced, faster and faster. Were they equal? Was her lord losing? She couldn’t tell. She didn’t know. What if Volf got a lucky shot? What if—</p>

<p>Then, suddenly, as though from no-where, half the street lunged up, turned into a giant snake, breathed a massive column of flame at a wide-eyed Volf, and crashed down on him with all the power of a landslide.</p>

<p>The ground shook.</p>

<p>The dust cleared.</p>

<p>Robert Volf lay unconscious on the ground, blood everywhere, arms and legs bent out at spine-shivering angles.</p>

<p>A few of the men in hoods darted out of the shadows and started to drag him away.</p>

<p>The contract in Lord Greengrass’s hands glowed white for a moment before disappearing in a flash of light and re-appearing in front of Lord Slytherin who snatched it out of the air as quickly as he’d swatted away that one spell.</p>

<p>Clare felt her knees go weak.</p>

<p>Emma grabbed her before she collapsed.</p>

<p>He’d done it.</p>

<p>The air slowly settled and Lord Slytherin walked over to them. “Miss Cooper.”</p>

<p>She looked up at him. “My lord?”</p>

<p>He held up contract from Volf.</p>

<p>She lowered her eyes. Of course. Now her lord owned the sex contract.“</p>

<p>She heard a ripping noise. She looked up, shocked, bits of parchment floating down around her like confetti.</p>

<p>Slytherin levelled his wand at the papery mess. “I hereby declare the contract originally signed between Miss Clare Cooper and Robert Volf of the Ancient House of Volf and now held by Me, Lord Slytherin, to be paid in full.”</p>

<p>The bits of parchment all glowed blue for a moment before vanishing out of existence.</p>

<p>Clare felt something she hadn’t known she’d been feeling before lift off of her. She gazed at Slytherin in wonder “You…”</p>

<p>“I am not that kind of man, Miss Cooper. I fully expect you to work hard to pay off your other debt, but I will not hold someone who means me no ill will to such a deplorable agreement.”</p>

<p>She nodded quickly, a wide smile forming on her face. “Yes, my lord. Thank you, my lord. I will work hard for you, my lord.”</p>

<p>Slytherin inclined his head. “I know you will, Clare.” He turned to the rest of the assembled group. “Let’s go home, shall we? I think we’ve had enough excitement for one day.”</p>

<p>And the group left for the floo, walking down the otherwise deserted Knockturn Alley. Knockturn Alley, where Clare hoped never to return to, but still often seemed to find herself in anyway.</p>

<p>“By the way, Dan, Emma…” Slytherin suddenly turned from where he’d been leading the group. He flicked his wand in a strange motion. “…I don’t suppose you could build a submarine could you?”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Later that evening, in an all white room smelling of disinfectant and All Magical Mess Remover, a tall man with aristocratic features, long blonde hair, and a silver-snake topped cane, slowly walked along the rows of otherwise empty beds to the occupied bed at the very end of the ward.</p>

<p>The old figure in the bed, covered in bandages, splints, and straps, looked up as he approached. “Lord Malfoy,” the figure said, in a wheezy, half dead voice.</p>

<p>Lucius Malfoy inclined his head slightly to the bed-bound man. “Robert Volf. I see that, in the end, you <em>did</em> end up duelling him.”</p>

<p>Robert Volf nodded and then erupted in an uncontrollable fit of coughing.</p>

<p>Lucius Malfoy waited for the fit to die down before he continued. “So…” he ran his fingers along the metal bed-frame. “…You have it then?”</p>

<p>Robert Volf leered. “Have it? Have it? Of course I have it. And as you can see,” he smirked, “he <em>was</em> fighting properly this time.” He reached for his wand on the side table with a huge groan, brought the wand to the front of his balding head, and drew a long, silvery memory strand from it.</p>

<p>Malfoy brought out his own wand and conjured a small vial. The memory flowed into it and Malfoy reached out to take it, but Volf snatched it away first.</p>

<p>“Uh uh uh, Lord Malfoy.” Volf grinned. “Our deal.”</p>

<p>Malfoy sighed and produced a medium sized purse of gold from the pocket of his robes. He chucked it onto the bed with a flourish.</p>

<p>Volf picked it up with a victorious smile on his face.</p>

<p>Malfoy held out his hand for the vial.</p>

<p>Volf handed it over.</p>

<p>With a swish of his cloak, Malfoy turned and marched out of the room. Trust someone as tasteless as the Volf patriarch to make such a show of such a small amount of money. He flooed back to Malfoy Manor and immediately barricaded himself in his office.</p>

<p>He walked over to a cabinet on the far side of the room and carefully opened the doors. Hundreds upon hundreds of vials greeted him on the other side, all carefully labelled and sorted — only the most recent results of many centuries of memory collecting by his ancestors — duelling styles from Europe to Africa and Asia, from wars and bar room brawls to international standard duelling tournaments.</p>

<p>If anyone was anyone in the world of professional fighting, their name was here. It was an indispensable tool for the professional duellist as he had once been in his youth — to be able to freely study and practise a specific opponent’s subtle tells and tiny weaknesses. Everyone left traces, everyone left signs, unnoticeable though they might be to the eye of one who hadn’t spent all the time <em>he</em> had at the task of studying them. He clutched the conjured vial in his hands tighter. And tonight he was going to find those tells and rip off Slytherin’s mask once and for all.</p>

<p>He lifted the first batch of memories, poured them into his office’s pensieve, and got to work.</p>

<p>The clock ticked. Minutes became hours. Lady Narcissa came and asked after him. He shooed her away with a peck on the cheek and an assurance that this <em>had</em> to be done.</p>

<p>The hours continued and the vials started to be whittled down. He started pulling more and more outlandish names from the cabinet. His eyes drooped. He swayed as he walked. The darkness beyond the office curtain started to give way to the first light of dawn and still he carried on.</p>

<p>Then, finally, he emerged from the pensieve once more, but now all sleepiness had gone.</p>

<p>His heart was beating faster and faster.</p>

<p>His brow was sweating.</p>

<p>His hands were shaking, clutching two separate empty vials.</p>

<p>No. It wasn’t possible. How could it be possible? And yet… and yet Lucius knew he was not wrong.</p>

<p>The implications were too horrible to even consider, but consider them he had to.</p>

<p>He stumbled over to his writing desk, reached for the warded bottom draw and withdrew a nondescript black notebook. He opened the book to the first page, picked up a quill and wrote in an unsteady hand, ‘<em>My lord, I have discovered the identity of Lord Slytherin.</em>’</p>

<p>It should not be possible for the written word to convey impatience, but nevertheless, the single word written back managed it.</p>

<p>‘<em>Well?</em>’ it said.</p>

<p>Lord Malfoy took another long, deep breath before writing the next three words.</p>

<p>‘<em>He is you.</em>’</p>

<p style="text-align: center;">— End of Chapter Twenty-seven —</p>
