Chapter 29 - Cleithrophobia and Planning a Heist

<p>Goblins. Why did it always have to be goblins?</p>

<p>Stan Shunpike, currently on secondment from the bus division of Knight Logistics, drove his knight wagon along the Scottish coastline, occasionally shooting glances at his much shorter driving companion. The huge purple lorry zoomed up the mostly deserted road, occasionally bending past a car or motorcycle, or even jumping straight over, if two blocked the road at once.</p>

<p>The goblin sitting next to him hadn’t said much, despite Stan’s best cheerful efforts to make conversation.</p>

<p>“So, you reckon his lordship gonna be puttin’ on all kinds of fancy parties and whatnot, when you lot are all done with it all?”</p>

<p>The goblin grunted and continued to stare out the lorry’s side window.</p>

<p>“I just reckon I could fit in well at one o’ those dos, don’tcha think?” He fiddled with his bowtie and swerved to avoid a man riding on horse back, causing his green companion to clutch at the side door and curse in his harsh tongue. “My ma always said I had a touch of the nobby in me, she did.”</p>

<p>The goblin glared at him. “Just keep your eyes on the road, human.”</p>

<p>Stan shrugged and turned forward again. Could never get a good word out of a goblin. Wouldn’t it do the vicious little buggers just to lighten up a bit?</p>

<p>They continued to zip across the country, keeping up with the knight wagon in front and making sure not to get too far ahead of the knight wagon behind them. The whole convoy eventually made it to a small strip of land jutting out onto the water in the middle of a sleepy village. The deep purple lorries clashed against <em>everything</em> around them, from the white washed stone walls of the houses, to the brown woods of the jetty, and the faint blue of the water and sky — and yet, not one of the hundred or so residents of the village looked askance at the colour mad insanity that had just invaded their home, or even noticed it.</p>

<p>Stan tapped the side of his wagon, waiting for the boat they were to unload the cargo onto, and trying to ignore the goblin, who had taken what looked to be a cooked rat out of a paper bag and was now messily devouring it.</p>

<p>The wait continued. Stan frowned. Shouldn’t be taking this long, should it? He turned off the engine, opened the door, and stepped down onto the worn tarmac road. Some posh bloke was talking to his mate, Richie, over at the leading Knight Wagon. An argument looked in the offing. He wandered over. “Oi, Richie, what’s going on?”</p>

<p>Richie scowled and nodded towards the other man who, in Stan’s mind, screamed, ‘Ministry’.</p>

<p>“Mister Shunpike?” The man said in a snooty voice. “I am Geoffrey Perkins, an inspector with the Department of Magical Trade — and I’ve been assigned the task of overseeing all materials and artefacts used in the construction of Slytherin Manor.”</p>

<p>“Oi. You can’t do that, can he, Rich?”</p>

<p>“I assure you, Mister Shunpike, that the ministry <em>has</em> authorised it.”</p>

<p>“This is Goblin business, human.” Stan’s goblin companion appeared from nowhere to stand beside him. “The cargo is our responsibility and you have no right to inspect a goblin cargo under treaty.”</p>

<p>The ministry inspector’s lip curled up. “Thankfully, that will not be an issue, as <em>I</em> will not be inspecting any goblin cargos.”</p>

<p>“What?”</p>

<p>Suddenly, another goblin appeared, standing next to Perkins and grinning evilly.</p>

<p>“YOU!” Stan’s goblin shouted.</p>

<p>“Me.” Perkins’ goblin replied.</p>

<p>“What business does the Goldtooth Clan have with the House of Slytherin?”</p>

<p>“None what so ever, merely a profitable contract with the ministry to assist in the overseeing of wizarding business.”</p>

<p>“YOU TRAITOR!” Stan’s goblin produced a battle axe from no where.</p>

<p>“You call us traitors?” Perkins’ goblin spat, producing a two handed sword. “<em>You</em>, the Boneslicer clan, call <em>us</em> traitors! YOU POWER GRABBING DESPOTS!”</p>

<p>They charged.</p>

<p>Stan, Richie, and Perkins all ran for it, determined to avoid losing any limbs as the two goblins settled what all three humans quickly agreed was an internal goblin matter, and absolutely <em>nothing</em> to do with any of <em>them</em>.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione landed, looked around her, and shuddered. The room she found herself in was dark — so dark that she couldn’t see anything. Moments later, Daphne joined her, dropping out of the air as though from a cloud.</p>

<p>The two shared an apprehensive look, themselves being the only things visible.</p>

<p>Hermione’s lip quivered.</p>

<p>Harry was disappointed with her.</p>

<p>A heavy door opened, light flooded in, and both Hermione and Daphne gasped.</p>

<p>In the doorway, stood Dark Lord Voldemort, tall, bald, white skinned, red-eyed, noseless, terrible — a visage to frighten not only little children, but also parents, teachers, soldiers, and heroes.</p>

<p>Now visible on the wall opposite, hung an older Hermione, chained to the ceiling by her wrists, feet not touching the floor, robes torn, hair messy, face bloody, skin dirty, figure so skinny they could see her bones.</p>

<p>Older Hermione raised her head and the look of despair and hopelessness on her face made younger Hermione flinch.</p>

<p>The Dark Lord didn’t say anything — just stepped forward and raised his wand.</p>

<p>“P-please,” older Hermione managed to choke out before a purple spell shot from Voldemort’s wand, hitting older Hermione right in the chest, and ripping a scream from the helpless witch, writhing and jerking in mid air, hands fisting and grasping thin air from where the manacles cut into her wrists.</p>

<p>Younger Hermione tightly clung to Daphne, Daphne doing the same back to her, both desperately wanting—but not daring—to look away as older Hermione screamed and kicked and occasionally begged in between great heaving spasms.</p>

<p>Finally Voldemort seemed to have had enough. He lowered his wand, opened his mouth as though to say something, seemed to change his mind, and, with an almost bored wave of his wand, fired a red spell at Older Hermione.</p>

<p>Younger Hermione and Daphne screamed.</p>

<p>Older Hermione’s head exploded, painting the blank stone walls red. The chains holding the now headless corpse gave way and the dead older Hermione fell to the ground.</p>

<p>Voldemort left the room and a massive snake slithered in. The last thing Hermione and Daphne saw was the beast working its jaws over the corpse’s feet, massive teeth puncturing skin, powerful muscles slowing dragging the body across the floor.</p>

<p>Hermione felt sick.</p>

<p>The scene shifted and now Hermione was following the Dark Lord into a small cottage whose door had been blown off. Screams came from inside.</p>

<p>“No!” A man was kneeling on the floor begging as a screaming and flailing young woman was being dragged away by masked figures. “Please! Don’t!” the man begged. “Please! She’s done nothing wrong!”</p>

<p>Voldemort stepped in front of the man, who looked up at him in terror. “She is a mudblood — and you have disgraced yourself by marrying such filth. Crucio.”</p>

<p>The man screamed, filling Hermione’s head with its intensity. She clutched Daphne ever tighter, tears starting to cloud her vision.</p>

<p>The scene shifted again. This time they were in a huge, closed room, packed with hundreds of witches and wizards of all ages. Every face looked tired, dirty, and scared.</p>

<p>A door opened and Voldemort walked in, along with several dozen death eaters. “Witches and Wizards,” Voldemort said in a soft voice that still carried all the way across the suddenly quiet room. “You have all resisted when you were told to surrender. The punishment for resisting Lord Voldemort is death.”</p>

<p>The death eaters then started systematically murdering every person in the room — men, women, children, the old, even babies still clutched in their mother’s arms, paying no heed to the screams, the begging, and the always brief howls of anguish.</p>

<p>Voldemort stood, watched, and smiled.</p>

<p>Scene after scene, on and on it went. Hermione’s face ran with tears. Her body trembled and shook. Daphne clung to her so tightly that ice started to form on Hermione’s skin.</p>

<p>Eventually, it was done. Hermione felt herself pulled up and up, and she exited the pensieve, landing in an inelegant heap of sniffling witch.</p>

<p>In front of them, next to one of the trunk walls, Harry sat on a simple wooden chair, watching them impassively.</p>

<p>Hermione and Daphne got to their feet, eyes downcast.</p>

<p>“And what lesson have we learned?” Harry asked.</p>

<p>Hermione sniffled. “D-Don’t go against your orders, Harry.”</p>

<p>Next to her, she felt Daphne tense.</p>

<p>“No, Hermione.” Harry’s voice was firm. “That is <em>not</em> the lesson. You know I’ve always told you that orders can sometimes be disobeyed, under the <em>right</em> circumstances.”</p>

<p>Daphne raised a shaky hand.</p>

<p>“Yes, Daphne.”</p>

<p>“Don’t put our lives at risk for…” she looked down again, “for things that aren’t that important.”</p>

<p>Harry took a deep breath. “You got <em>half</em> of it right. Yes, you take into account how important the thing is, but you also take into account how <em>much</em> you’re risking your lives. You’ll notice I didn’t say anything when you two went after the troll on Halloween, despite my orders <em>then</em> not to. Why not? Hermione?”</p>

<p>Hermione’s lower lip trembled. “Because the risk was lower and the thing we were fighting for was more important?”</p>

<p>“Exactly!”</p>

<p>The sudden shout caused both her and Daphne to jump.</p>

<p>“Okay, Sophie Roper wasn’t on our side at the time, but there’s a better than good chance she might be one day, <em>and</em> she’s human. Two good reasons. Unicorns, on the other hand, while being light creatures, pure and good, and all that, are<em> not</em> people — they are animals — intelligent animals, no doubt, but still animals. Daphne, I know you have a <em>thing</em> for unicorns, but <em>you</em> are more precious than any unicorn.”</p>

<p>Daphne shook.</p>

<p>Harry took another long breath. “And to compare threats — one the one side you have a mountain troll, which, while dangerous, you were able to handle, proving you’d made a good risk judgement, and on the other hand, you have Voldemort — a weakened Voldemort, yes, but still Voldemort — the freak’n Dark Lord! Has five months being taught by him in a classroom perhaps reduced your respect for him?”</p>

<p>Hermione stood with her head down, not saying anything, fighting back tears of shame, images of Voldemort’s murderous rampage still fresh and sharp in her mind. She’d never felt like she’d let Harry down so badly before.</p>

<p>Harry stood up. “Was this enough of a reminder of what we’re fighting for and the type of person we’re fighting against?”</p>

<p>Hermione and Daphne both nodded.</p>

<p>“Do you need another spin in the pensieve?”</p>

<p>Hermione and Daphne both shook their heads.</p>

<p>“Hermione, what is our overall mission?”</p>

<p>She looked up. “The defeat of Voldemort and the control of Magical Britain.”</p>

<p>“Daphne, how do I expect you to behave differently in the future?”</p>

<p>“Don’t do dangerous things that don’t help with our overall mission, and even then, only if the danger is less than our ability to cope with it.”</p>

<p>Harry let out a deep breath. “Alright.” His face softened and he spread his arms. “Come here then.”</p>

<p>Hermione collapsed into him, sobbing freely, letting the tension drain out of her, joined moments later by Daphne.</p>

<p>Harry wrapped his arms around them and held them.</p>

<p>They stood like that for an age before finally disengaging.</p>

<p>Hermione drew back and blowed her nose with a Harry-conjured handkerchief.</p>

<p>“Right.” Harry conjured two extra chairs for the two of them and they all sat down. “Now, as much as we might like to move on to other things, we do need to discuss consequences. Let’s start with the most obvious thing. Dumbledore.”</p>

<p>Hermione stiffened.</p>

<p>Harry continued. “Dumbledore now knows that something is up.” Harry shifted uncomfortably. “My… <em>reaction</em>… last night will likely bring up some red flags for him—yes, Hermione?”</p>

<p>Hermione had raised a hesitant hand. “I actually did some research on that this morning.” She meekly reached into her bag and brought out a book.</p>

<p>Harry nodded. “In a moment, sure.” He tapped on his chair. “I heard Madam Pomfrey talking to Dumbledore. He now also knows that I’m much closer with you two then just casual acquaintances. He may well do something to try and split us apart and we need to be ready for that. You, Hermione, need to be even more careful, since you don’t wear a noble house ring, and while with your level of occlumency, an obliviate wouldn’t be horrific, just annoying, some potions on the other hand, would be quite bad.”</p>

<p>Hermione nodded. She was already checking everything she ate and drank because of John Potter.</p>

<p>“Dumbledore may well also try to do something to remove me from the school or even put me in Azkaban. He did it last time, although then he had an actual student death on his hands. I don’t know whether he’d go so far as to manufacture a whole crime, just to get me put away, but we can’t rule it out.”</p>

<p>Beside her, Daphne nodded firmly.</p>

<p>“And finally, we have Quirrellmort.” Harry frowned. “He now believes you have an invisibility cloak, even if he doesn’t know it’s <em>the</em> invisibility cloak. We’ll need to check the remaining defences in the third-floor corridor and make sure there aren’t any that could be defeated with such an artefact, or you’ve suddenly got a large target on your backs.”</p>

<p>Hermione shivered.</p>

<p>“We’ll also need to guard against him in general, so I don’t want you splitting up from each other if you can help it, unless its for one of our projects that requires it.”</p>

<p>Hermione and Daphne nodded.</p>

<p>“And until Voldemort is out of the castle, no more mirror training.”</p>

<p>Daphne’s face fell, before she reluctantly nodded.</p>

<p>“Right.” Harry slapped his hands on his knees. “Hermione, you said you did some research?”</p>

<p>Hermione nodded quickly and held up the book again. The moment she and Daphne had left the hospital wing the night before, they’d had a long talk about the last time Harry had had such a strong reaction — Daphne filling her in on the Weasley incident when Harry had almost blown up the Burrow. They’d bounced ideas back and forth, but it was Hermione’s muggle background and mountain of healing books, both magical and muggle, that had eventually produced their current theory. She handed Harry the book, titled <em>American Directory of Psychological Disorders</em>. “We think you may have cleithrophobia, Harry.”</p>

<p>Harry frowned. “What’s that?” He started scanning the page she’d opened for him.</p>

<p>“It’s the irrational fear of being trapped. Probably from your time in Azkaban. At first we thought you might have claustrophobia, but then we realised that wouldn’t make any sense because…”</p>

<p>“…Because I’m fine with being in confined spaces.” Harry nodded while he read. “Yes, this sounds… eerily accurate… ‘patients report experiencing panic attacks when in rooms locked from the outside, when in cars trapped in traffic jams, even sometimes by merely being in a room with someone blocking an open door.’ Wow. Okay, I’m not <em>that</em> bad. It only happens to me when…” He looked to be thinking for a moment. “When I believe that I can’t get out. Even with all my magic and powers, when I feel I’ve been backed into a corner.” He took a deep, long breath. “And obviously, because we’re magical, a high level panic attack for some reason, in my case, materialises as going boom.”</p>

<p>Hermione wordlessly passed him another open book, this time magical, and open to a page describing the phenomenon of magical meltdown.</p>

<p>Harry smiled. “Yeah, I checked <em>that</em> out at least after the last episode. I see now that I should have put you on this case ages ago, Hermione.”</p>

<p>Hermione blushed. At least Harry had stopped giving her the disappointed look.</p>

<p>Harry sighed and leaned back in his chair. “Okay, so I have cleithrophobia. What can I do about it? I don’t need to say that freaking out like that just because Dumbledore stands in front of a door and tells me I can’t leave, isn’t great from a strategic point of view.”</p>

<p>Daphne nodded.</p>

<p>Hermione handed Harry a third book. “There was only one reference that I could find to fighting phobias in the magical healing books. The muggle books have lots of treatments, but they are….” She hesitated. “Problematic, if you’re going to, ‘go boom,’ every time it happens.”</p>

<p>Harry took the open book and read down the page. He looked up from the book. “Special occlumency?”</p>

<p>Hermione nodded. “The book says it can take decades to eliminate a phobia entirely though.”</p>

<p>Harry smiled. “Maybe — but occlumency does happen to be something I’m very, very good at.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne sat cross-legged on the magically expanded water pipe’s cool, rounded, metallic floor, just outside the third-floor corridor room containing the muggle pensieve thing, and slowed her breathing.</p>

<p>Occlumency <em>was</em> amazing magic. Under occlumency your thoughts were clearer, your memory better, and your skills developed with the ease of the mythical naturally gifted — but that didn’t mean it was without its drawbacks.</p>

<p>Opposite her, sat Harry, also cross-legged, studying her carefully. Hermione stood to one side, alert, watchful, wand in hand, snake in pocket.</p>

<p>Daphne reached inside and sunk into her own mind.</p>

<p>Occlumency allowed her great control over her day to day emotions — anger, jealousy, resentment, fear — all the things she didn’t like feeling — but the problem with that was that it <em>did</em> allow her to somewhat control them. Sometimes, paralysing fear was a <em>good</em> thing. Occlumency also brought an understanding of the world far beyond her years, but that understanding could be both a blessing and a curse, for while she <em>was</em> able to make decisions with the clarity of an adult, it also made her mistakes all the more painfully obvious, once she’d made them.</p>

<p>In short, she’d never felt more of a little twelve-year-old girl, as she had when Harry had been telling her off, not half an hour ago. The shame and guilt still stung. Harry had <em>never</em> told her off before. Harry had never <em>needed</em> to tell her off.</p>

<p>“Profero oculus Kilrogg,” Daphne whispered, pointing her wand at the space in between her and Harry. Her world split in two and a large floating eyeball appeared, visible only to herself in sight, and to Harry in magic. She’d sworn to never let him down again.</p>

<p>Harry nodded and raised his wand to point at her head. “Legilimens.”</p>

<p>Daphne opened her mental defences and surrendered to him, letting him sink deep into her now vulnerable mind, to feel her feelings, explore her senses.</p>

<p>Harry pushed himself to her sense of sight, and there he settled, sitting snug behind all three of her eyes.</p>

<p>“Ready when you are, Daphne. I suggest we start with the first room.”</p>

<p>“Okay.” Daphne moved the eyeball into the room beyond, feeling Harry’s own mind watching through her’s as the eye passed easily through metal and wards alike. She quickly moved it through the various rooms, spotting statues and glasswork and what looked like a small forest, before finding her disembodied self in a completely empty room.</p>

<p>“This was the chimaera room.” Harry commented.</p>

<p>“There’s nothing here.” She angled the eyeball to take in the whole room.</p>

<p>“It looks like that, doesn’t it?”</p>

<p>“I for one am glad we don’t have to face another chimaera.” Hermione’s voice said.</p>

<p>“Next room, Daph.”</p>

<p>Daphne nodded, turned the eye around, and moved through the solid door into the next room, to be met again, with what looked like tropical rain forest.</p>

<p>“This room didn’t present much of a threat when I last walked through it, although I <em>was</em> under the cloak. I’m guessing the plants are here to power all of this.”</p>

<p>“Why?” Hermione’s voice asked, “Why not just use the magic of Hogwarts?”</p>

<p>“Probably because the Hogwarts magic is channelled through the wards.”</p>

<p>A lumos went off in Daphne’s head. “Wards that you in part control.”</p>

<p>“Exactly — and Dumbledore knows that. Clearly he doesn’t want Lord Slytherin to casually saunter down here.”</p>

<p>“What is <em>that</em>?” Daphne asked, spotting a large vine like thing wrapped around a tree with spikes on it the size of daggers. Many of the spines were embedded in the tree, occasionally pulsating.</p>

<p>“That is a Brazilian strangle vine. It attacks and feeds off the magic of other plants. It moves kind of like devil’s snare that we did in herbology.”</p>

<p>“It’s a parasite?”</p>

<p>“Yep.”</p>

<p>“What’s it doing here then? Wouldn’t Dumbledore want the most magic available?”</p>

<p>“He should. I don’t know why it’s here — it’s a dark plant. Voldemort even used it as a symbol of hatred.”</p>

<p>“Why?” Hermione’s voice asked.</p>

<p>“One of the more extreme pureblood propaganda pieces is that muggleborns steal magic from other witches and wizards.”</p>

<p>“And this plant steals magic from other plants.” Hermione’s voice said, laced with understanding.</p>

<p>“Indeed. Maybe Quirrellmort found his way into here and scattered some strangle vine seeds… actually that would make a lot of sense. If he could drain away some of the magic, breaking through the wards could be a bit simpler.”</p>

<p>With little else to see in the room, apart from some venomous tentacular, and a young whomping willow, Daphne moved the floating eyeball into the next room.</p>

<p>A small army of statues lined the two side walls of the room, all armed with battle axes, swords, and crossbows. There had to be at least a hundred of them on each side, forming a wide corridor to the door on the far side of the room.</p>

<p>Daphne swallowed. “I guess if you enter this room, they attack?”</p>

<p>“Or pass a certain point,” Harry agreed. “The basilisk made short work of them last time.”</p>

<p>“Why put a defence back in place, if Voldemort has already shown he has a way to get past it?” Hermione’s voice asked.</p>

<p>Harry shrugged. “Probably because Dumbledore doesn’t actually consider this to be the true defence, just a bunch of ways to slow Voldie down, or somehow make a confrontation between me and him more likely.”</p>

<p>“Could you handle them, Harry?” Hermione’s voice asked.</p>

<p>Daphne looked critically around at the hundreds of armed stone warriors.</p>

<p>“Yes, but it would take quite a bit out of me. Don’t think there’s much more to inspect here. Daphne?”</p>

<p>Daphne moved the eyeball into the next room.</p>

<p>Complex glasswork lined one side of the room. Hundreds of twisty and curved pipes and tubes joined dozens of glass beakers and spheres. The large sphere nearest them, contained what looked to be a large sphere of dull metal.</p>

<p>“Parchment on the desk in the centre, Daphne.”</p>

<p>Daphne spotted what Harry pointed out and moved the eyeball over to inspect it.</p>

<p><em>Dear visitors,</em></p>

<p><em>To open the door, please move the sphere of iron from one side of the glass maze to the other without breaking any of the glass. If any glass is broken, chipped, melted, or in any way damaged, moved from the bench, or transfigured, the locks on both doors will activate and an alarm will sound.</em></p>

<p><em>Good luck.</em></p>

<p>“Magical Merlin,” Harry breathed. “This one is actually damn tough. Could you take us to the start of the maze, Daph?”</p>

<p>Daphne did so.</p>

<p>“A maze?” Hermione’s voice asked.</p>

<p>“A maze made of glass tubes and spheres,” Harry said, presumably inspecting the sphere of iron held in the large glass sphere. “Like they use in our classes to demonstrate magical theory. You have to get a ball of iron from one side of the maze to the other without breaking or interfering in any way with the glass. Problem is, the iron ball is much larger than most of the tubes and even some of the glass spheres on the way.”</p>

<p>“Transfiguration?” Hermione’s voice asked.</p>

<p>Harry shook his head. “Can’t get the transfiguration spell to the ball with the glass in the way — no — there’s only one thing I can think of that could do this job… alchemy, but even with my skill, it would be damn difficult. You’d have to melt the ball and move molten iron through the maze in a tiny stream, quickly enough not to melt any of the nearby glass and making sure not to touch any of the glass walls. There’s no way any first year could manage it, that’s for certain. In fact, I doubt there’s a single normal student in the whole school that could.”</p>

<p>Daphne slowly nodded. “I guess it’s a good thing we don’t actually have to do it then?”</p>

<p>Harry grinned. “Quite.”</p>

<p>The next room would have been pitch dark, if it weren’t for the thousands of stars that lighted up the roof, just like midnight great hall on a clear night. Daphne looked around. “I can’t see anything.”</p>

<p>“Keep looking.”</p>

<p>Daphne kept looking, but it wasn’t until she’d lapped the room several times that she finally found a parchment on a desk. “Wish Angelystor had already taught us the night vision charm,” she muttered as she leaned into the parchment, just making out the writing in the almost total darkness.</p>

<p><em>To continue, move the stars and planets to the positions they held on your birthday.</em></p>

<p>“That’s it?” Daphne asked. “How do you do that?”</p>

<p>“Is there a control panel? Maybe something like Professor Sinistra’s astrolabe?”</p>

<p>Daphne spent another few minutes searching around the room before finally finding it. “Here!”</p>

<p>“Mmmm…” Harry said.</p>

<p>“What is it?” Hermione’s voice asked.</p>

<p>“Birthday ID check combined with astronomy knowledge. I don’t know how it’s supposed to know what your birthday <em>is</em> to make sure you’re telling the truth, so, unless this whole thing is completely pointless, there must be a list of acceptable birthdays.”</p>

<p>“So, you could enter the position of the stars and planets on Dumbledore’s birthday and it would let you through?”</p>

<p>“Maybe — or maybe just professor Sinistra’s? Either way, let’s move on.”</p>

<p>Daphne moved the eyeball through the far doorway, and into the room with the muggle pensieve in it.</p>

<p>“Careful now.” Harry said as she neared the next doorway to the next room. “We should be fine here, but there’s always a risk that the tripwire will still trip, even for the eyeball.”</p>

<p>She nodded and pressed ahead. The eyeball slipped through the door, into the next room, and into its middle… and she still knew why they were here. She smiled.</p>

<p>“Excellent.” Harry sounded delighted. “Well, that’s one problem cracked.”</p>

<p>Daphne now took the time to look around the room, mostly dominated by a huge stone statue of their currently, and rather ironically, <em>petrified</em> potions professor and former head of house, Severus Snape. A small table sat in front of the statue, on which stood a single tiny glass of perfectly clear liquid… and a parchment.</p>

<p>Daphne moved the eyeball over to it and read.</p>

<p><em>Danger lies before you, while safety lies behind,</em></p>

<p><em>So drink the potion and answer my questions truthfully, because I’m not in the mood to write another damn poem!</em></p>

<p>“Veritaserum.” Harry said, “And neither Voldemort nor Quirrell are noble, so they have no defence against it” He snorted. “How very cunning. So this one is probably a straight up lie detector test with certain preprogrammed answers granting access to the next room.” He paused for a moment. “Or just poison, of course.”</p>

<p>“Two of us are noble.” Daphne supplied.</p>

<p>“Yeah, I’m going to have to think about that. Obviously whichever of us goes in front of this thing will be under the cloak with a modified voice. It would be rather embarrassing if the statue could tell Dumbledore that one of us was granted access to the next room.”</p>

<p>“That would be bad.” Hermione’s voice said.</p>

<p>Harry nodded. “Next room, I think, Daphne.”</p>

<p>Daphne moved the eyeball through the door next to the massive statue, into the next room, and a dozen doors suddenly appeared before her, but something wasn’t quite right. It took a confusing moment to understand what it was she was seeing. “Mirrors?”</p>

<p>“Mirrors.” Harry said.</p>

<p>The room was filled with hundreds of mirrors, all ornate, old looking, and angled just so to reflect a billion reflections from all the other mirrors, creating a confusing maze of images that stretched her large green eyeball out and into infinity. Every mirror had the same plaque at the bottom. “Erised stra ehru oyt ube cafru oyt on wohsi.”</p>

<p>“Oh Merlin,” Harry whispered. “This must have taken Dumbledore <em>ages</em> to set up. Does the man not have <em>anything</em> better to do with his time?”</p>

<p>“Harry?” Daphne asked. “What are they?”</p>

<p>“I think they’re supposed to be copies of the Mirror of Erised, although exactly <em>how</em> closely they resemble the original, we’ll only be able to tell once we’re actually in here. But there was only <em>one</em> last time.”</p>

<p>“This is the last room,” Daphne said, looking around. “Is the stone in here?”</p>

<p>“The stone’s hidden in the real mirror… probably. Last time around, John was able to somehow extract the stone from it. Voldemort later theorised that the mirror screens for intent, so only someone who wanted to find the stone, but not use it, would be able to retrieve it.”</p>

<p>“Won’t that be a problem?” Hermione’s voice asked.</p>

<p>“Hopefully not,” Harry said, smiling, “I have a plan. Daphne? Can you check the room’s edges?”</p>

<p>Daphne moved the eyeball where Harry asked and immediately saw something she recognised.</p>

<p>Harry started laughing.</p>

<p>Daphne stared. Rune stones. The exact same miniature rune stones Harry always used for his makeshift fidelius charms.</p>

<p>Harry grinned. “Mmmm… that should give us some possibilities.”</p>

<p>“What?” Hermione’s voice asked eagerly. “What are we going to do?”</p>

<p>Harry shook his head. “Just… just give me some time to think first, okay?”</p>

<p>Daphne could <em>hear</em> Hermione pout. “Yes, Harry.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The next few days had Hermione on high alert. Dumbledore didn’t seem to make any moves, although Harry <em>had</em> caught the man studying him during dinner more than once. Unsurprisingly with the amount of damage caused, news of the incident had spread around the castle, no one quite knowing what to believe, but the general understanding being that Harry Potter had done a particularly destructive piece of accidental magic and had spent the night in the hospital wing to recover.</p>

<p>Many Hufflepuffs and Gryffindors were treating Harry like a bomb that might go off at any moment. Most Ravenclaws were more interested in understanding what had happened to trigger the event. Slytherins, by contrast, tended to thump her friend on the back and congratulate him, usually while making comments like, ‘Give em’ hell at the duelling tournament, Potter.’</p>

<p>It was in this context that Hermione found herself in the tail end of an interesting discussion about the culture surrounding accidental magic with the members of the newly named, ‘Founders Club’, just before the start of their next meeting, and for which she had a special surprise for the members.</p>

<p>Sophie idly swung her legs back and forth while sitting on a desk. “But why is it so important? If they can test for magic just by having the child open a chocolate frog package…”</p>

<p>Hermione shrugged. “It’s not so much a, ‘does our child have magic,’ thing as it is a, ‘how powerful might our child be,’ thing. The old families especially are always watching out for powerful bouts of magic or unique talents emerging, like metamorphism, or seership.”</p>

<p>“I guess that makes sense.”</p>

<p>Kevin Entwhistle and Justin Finch-Fletchley nodded.</p>

<p>The door opened and Dean Thomas walked in. “Am I late?”</p>

<p>“No.” Hermione stood up and pulled her shrunk trunk out of her pocket. “You are right on time.” She put the trunk on the floor and un-shrunk it. “But before we start today, there’s something I need to bring up.”</p>

<p>Dean Thomas crossed the room and sat down.</p>

<p>Hermione took a deep breath. “You know we’ve been starting to study occlumency?”</p>

<p>The four members of the Founder’s Club nodded.</p>

<p>“Well, my lord would like to have a word with you about that.”</p>

<p>The four all looked startled.</p>

<p>“You mean, Lord Slytherin?” Justin asked.</p>

<p>“Yes.”</p>

<p>“He’s coming here?” Dean asked incredulously.</p>

<p>Sophie gulped.</p>

<p>“He is here.”</p>

<p>The assembled muggleborns exchanged nervous glances. Justin was already staring at the trunk.</p>

<p>Hermione knocked five times on the trunk lid, the trunk opened and Harry slowly climbed out. He towered over the nervous first years, none of whom took their eyes off him as he turned, conjured a plush armchair in the middle of the room, and sat down. “Good afternoon, children.”</p>

<p>Driven by several months of wizarding culture training, the four hastily got to their feet, scraping chairs and desks as they went, and executed bows and curtsies with varying degrees of success. Even Kevin didn’t do too badly.</p>

<p>Hermione couldn’t help but smile.</p>

<p>“Good afternoon, Lord Slytherin.” They said in almost unison.</p>

<p>Harry’s mask nodded once and turned to her. “Very well behaved group you have here, Hermione.”</p>

<p>Hermione’s smile widened.</p>

<p>Sophie blushed.</p>

<p>Harry turned back. “Please, sit.”</p>

<p>They did.</p>

<p>“So,” Harry began, talking into the silence of five first years dutifully watching an adult. “I’ve been hearing quite a bit about what’s been going on here. To say our world isn’t the best when it comes to transitioning new peoples to our society would be a massive understatement. That is something that I intend to help change — and it’s projects like this,” he made a sweeping hand gesture, “that will help to make that change. I understand you’ve recently begun to work on equalising one of the many advantages that old families have on new ones.”</p>

<p>They looked at him blankly.</p>

<p>“Occlumency,” Harry clarified.</p>

<p>They all made ‘oh’ noises and nodded quickly.</p>

<p>“Normally, learning occlumency takes years, and that’s primarily why children start learning at an early age, often as young as six, however, I have a Slytherin family method to rapidly speed up that teaching time.”</p>

<p>Four pairs of eyes widened. Kevin and Justin glanced at each other with raised eyebrows.</p>

<p>“Normally, this method is restricted to those of Slytherin House, however, I’m experimenting with a slightly altered method, which, while not quite as effective as the original, should still be a lot faster than the traditional method, and, if you’re up for it, I’d like to try out that method with you four. Thoughts?”</p>

<p>Sophie raised a nervous hand.</p>

<p>“Yes, Miss Roper?”</p>

<p>“We’re currently doing meditation exercises, how is this new method different?”</p>

<p>“Questioned like a true Ravenclaw.”</p>

<p>Sophie made a nervous smile.</p>

<p>Harry reached into the pocket of his robe and produced a small stack of parchments. “Do you know what these are?”</p>

<p>All four nodded.</p>

<p>“Those are Gringotts contract parchments.” Justin said.</p>

<p>“Yes,” Harry said, “and on them are confidentiality contracts. If you wish to go ahead and join this program, you’ll have to sign one of these first.”</p>

<p>All four looked at the parchments warily.</p>

<p>Hermione grinned.</p>

<p>“Good.” Harry said. “You are cautious. That’s a trait that should keep you out of a lot of trouble in the future. The contracts are quite simple. Please feel free to read them over.” He handed the stack to Sophie who took one for herself before passing it on. “They say, in short, that you will not speak of or in any way communicate the new occlumency method to anyone, without my written permission, for the next ten years, after which you will be free to do so as you wish.”</p>

<p>“And if we do?” asked Dean.</p>

<p>Harry’s tone remained casual. “Then your name will turn up on my original contract and I will take you to court for theft of noble family secrets.”</p>

<p>Dean grimaced.</p>

<p>“What if we slip up by accident?” Sophie asked meekly.</p>

<p>“The contract contains a compulsion clause. It <em>is</em> possible to break if you really try, but it will stop you from accidentally blurting out the secrets.”</p>

<p>Justin raised his hand again. “How much quicker do you expect this new method to be?”</p>

<p>“I expect you to reach the level of someone like Draco Malfoy in three months… rather than three years.”</p>

<p>Justin’s eyes widened.</p>

<p>Kevin looked between the contract and Harry. “What about Hermione?”</p>

<p>Lord Slytherin’s voice grinned. “Hermione is a demon who has been using the original Slytherin method, continuously, <em>for</em> three years. You will never catch her.”</p>

<p>Hermione felt herself blushing.</p>

<p>Silence settled on the group for a moment.</p>

<p>Justin held up a clenched fist. “Well, I for one, have no desire to be left behind. I’ll join.”</p>

<p>“Me too,” Kevin said.</p>

<p>Sophie hesitated for just a moment before adding. “I’m in too.”</p>

<p>The group turned to look at Dean, who was still looking at the contract with wary eyes. “You know, I’ll probably be skinned alive if my house mates ever find out about this.”</p>

<p>Kevin grinned and thumped him on the back. “Then you’re lucky the contract stops you telling, yeah?”</p>

<p>“The method really works best with equal numbers, Mister Thomas,” Lord Slytherin broke in. “You’d be doing your friends a service, if nothing else.”</p>

<p>Dean looked down at the contract in his hands again. He looked back up. “Oh, alright, I’m in.”</p>

<p>Sophie, Justin, and Kevin cheered and clapped.</p>

<p>Lord Slytherin sat in his chair, only a slight nod showing his feelings.</p>

<p>Hermione just beamed. Phase two, complete.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>A week later, Harry, dressed as Lord Slytherin, appeared outside a beautiful Tudor house in the Suffolk countryside, white walled, wood beamed, clay roofed. It certainly didn’t look like the house of an old dark, pureblood family — if anything, it suggested a more light attitude with the dozens of flowerbeds of every colour leading from the front gate to the door.</p>

<p>Harry pushed his wand into the wards around the building, and magically knocked. It was time to get the first of two charms needed for the Granger’s new toy.</p>

<p>The wards granted him entrance. He walked up to the front door, idly fingering the pair of devices in his pocket. His vassals had really done a wonderful job. He’d tried on one of the ear pieces before leaving and it fitted like a glove. Its range would be short, what with the tiny mirror and similarly tiny runes, but to get around the patent laws and to persuade the two families to grant him their magic… it was worth it. Certainly until Alex arrived next year with the other half of the original.</p>

<p>The door opened and he was greeted by a curtsying dark-skinned lady wearing what were obviously her very best robes. “Lord Slytherin, we welcome you to our humble home.”</p>

<p>“Mrs. Harper,” Harry offered his hand, took hers in his, and knelt down slightly to it, “A pleasure.”</p>

<p>Mrs Harper smiled brightly. “Please come this way. My husband is in the drawing room.”</p>

<p>Upon arriving at their destination, Harry was pretty sure that the ‘drawing room’ was actually a small dining room. Four indents in the carpet suggested a large table, hastily removed.</p>

<p>“Lord Slytherin.” Mister Peregrine Harper rose from the small sofa and the two men shook hands. “I understand you’re interested in a certain spell of ours?”</p>

<p>They sat, Mrs Harper settling herself beside her husband.</p>

<p>“Yes,” Harry said. “The mirror hearing spell, and, if possible, I’d like to set up a contract for it.”</p>

<p>Peregrine Harper smiled. “We do have a few contracts open on that spell. Talking mirrors are still quite popular, Merlin himself only knows why though.”</p>

<p>“I’m sure I could make it worth your while.”</p>

<p>“I’m sure you could. Might I ask why you’re interested in the spell though?”</p>

<p>“Something one of my people is working on for an internal project.”</p>

<p>Peregrine flashed a grin. “No, then. No worries. It’s not as though you’d be able to make communication mirrors or anything — what with Lestrange holding the patent rights and rune clusters.”</p>

<p>“Well, quite.”</p>

<p>“And Bell would rather go bankrupt than help a chap out.”</p>

<p>Harry titled his head slightly. “They’re still angry about the whole house thing then?”</p>

<p>Peregrine smirked. “I swear, you repossess one little house and you don’t hear the end of it for the next three hundred years.”</p>

<p>Harry looked around. “It’s a nice house.”</p>

<p>Mrs. Harper beamed.</p>

<p>“So,” Harry continued, “what are your other spell contracts paying for an application?”</p>

<p>“Ah,” Peregrine leaned back slightly, “Straight to price hmm? You know, sometimes I wonder if gold is really the answer to all our world’s problems.”</p>

<p>Behind his mask, Harry raised a single eyebrow. “Oh?”</p>

<p>“Yes, man of my age, getting on in life and all that, young Hobby will be off to Hogwarts next year. Have you seen a picture of our son?”</p>

<p>Harry shook his head and Mrs Harper handed him a wizarding photo of a vaguely familiar dark-skinned boy with hair so short he was almost bald, trying to look as stoic and dignified as he could while holding a nimbus 2000 broomstick.</p>

<p>Harry had a suspicion he knew where this was going. Everything about the Harpers screamed, ‘social climbers,’ even for a Dark non-noble family. “I’m going to guess the most important thing in life is the future of your family?”</p>

<p>“Exactly, Lord Slytherin. Exactly.” Peregrine made a pointed jabbing motion with his fingers.</p>

<p>“And how can I help with that?”</p>

<p>“You are betrothed to Lord Greengrass’ girl — the troll slaying princess.” Peregrine smiled. “A word from you to Lord Greengrass on behalf of our Hobby…” the man trailed off.</p>

<p>Ah. So this <em>was</em> about Astoria. “The most I can do, in regards to <em>that</em>, is to write you a letter of introduction <em>when</em> Lord Greengrass starts accepting proposals, which I gather won’t be for quite a long time. Until then, it would be up to your boy to not incite my future sister in law’s dislike, because I can guarantee you, the surest way to kill any possibility on that front would be for Astoria to not want it.”</p>

<p>“A letter of introduction would be welcome.”</p>

<p>“And of course, Lord Greengrass <em>would</em> be more likely to entertain proposals from houses who are more closely aligned with him, <em>politically</em>.”</p>

<p>Harry let that hang in the air for a moment.</p>

<p>Peregrine Harper eyed Harry thoughtfully. “Why <em>did</em> you decide to vassal a muggleborn?”</p>

<p>Behind the privacy of his mask, Harry flashed a grin.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Unlike the Harpers, the Bells lived in a tumbledown stone house with a slate roof in the former industrial town of Cokeworth and were famed for resenting their former business partners for it.</p>

<p>Unlike the Harpers, the Bell’s wards were applied directly to the walls of the house, allowing Harry, with two shiny new enchanted earpieces in pocket, to walk right up to the door to knock. He’d sent an owl ahead of him, so they knew he was coming, although, unlike the Harpers, he hadn’t received a reply back.</p>

<p>A suspicious eye poked around the door. “Yes?”</p>

<p>“Mrs Bell? Lord Slytherin. I—”</p>

<p>The door slammed in his face. The wards bristled with ill intent.</p>

<p>Harry stared at the blank door blankly for a full thirty seconds.</p>

<p>Friendly. He frowned. Maybe more extreme persuasion methods, then? Mister Bell worked as a production line manager for Honeydukes and Mrs Bell worked part time at Witch Co. A word to Jacob to lean on his buyers to lean on the Bells…?</p>

<p>He smirked.</p>

<p>Or… maybe…</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Katie Bell left the great hall after dinner, determined to get some practise in before curfew. It sucked that she couldn’t afford a better broom, so she just had to make every practise hour count.</p>

<p>“Miss Bell,” a voice called.</p>

<p>Katie Bell started. She was being addressed by none other than the ice-princess of the Gray, Daphne Greengrass. She composed herself. “Heiress Greengrass — can I help you?”</p>

<p>Daphne Greengrass smiled. “Yes, actually. How would you like to earn some extra pocket money?”</p>

<p>Katie’s ears pricked up, thoughts of replacing her old comet flashing through her mind. “I’m listening.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry climbed into his trunk happily inspecting his two, brand new, miniaturised communication mirrors in earpiece form. Between the miniature Granger milled runes, the charms, the enchantments, and the alchemy, they’d managed to put together a device that allowed two people to talk to each other over distances of up to five-hundred metres. They hadn’t tripped any intellectual property spells and, so long as they kept Katie sweet, they had all the contacts needed to manufacture en masse if needed. Thank Merlin for cash strapped teenage girls.</p>

<p>He landed in his large comfy armchair opposite Hermione and Daphne with a satisfied smile. “We have everything we need.”</p>

<p>The two girls exchanged a glance.</p>

<p>“So,” Daphne started, “how <em>are</em> we going to get past the fidelius around the stone?”</p>

<p>Harry started drawing a diagram in the air between them with his wand. “Here’s a diagram of the location. We have the pipe, which we use to enter the corridor next to the muggle studies defence, leading straight into the potions defence <em>and</em> the fidelius trip wire. Straight after that, we have the final mirror room, which also contains the fidelius charm and the rune stones that maintain it.”</p>

<p>The girls nodded.</p>

<p>“What we need to do is disable those rune stones and plant a set of rune stones of our own, which I will then use to cast my own fidelius charm, thus locking Dumbledore and Voldemort out from the room, and giving us as long as we like to work on cracking the final defence.”</p>

<p>Hermione looked puzzled. “But wouldn’t we forget everything to do with the stone and the room the moment we enter the ward in the potions room ?”</p>

<p>“Yes.” Harry nodded. “And getting around that little problem won’t be easy. But because of the way Dumbledore set this up, not impossible. Because this isn’t an ‘always active’ fidelius charm, we can study the layout of the room before hand using Daphne’s Eye of Kilrogg, and then create written instructions that we follow exactly to disable the stones once the fidelius is tripped.”</p>

<p>Daphne frowned. “But, we wouldn’t have any reason to follow the orders.”</p>

<p>“The fidelius only works to cause you to forget things directly relating to the thing it protects. We should be able to train ourselves to follow written instructions from ourselves or me that we don’t remember writing or being told about and not have that skill overwritten by the charm.”</p>

<p>Hermione sucked in her breath. “That sounds really dangerous. wouldn’t that leave us vulnerable to someone impersonating us and ordering us to do things by simply leaving us a message in our writing?”</p>

<p>“Yes. Which is why we secure each message with a fidelius ID check. You know how we use the fidelius to scan the local area for listeners, by having a non-secret keeper attempt to speak the secret out loud?”</p>

<p>The girls nodded.</p>

<p>“Well, <em>only</em> a secret keeper can write down the secret they hold, so if each of us is made the secret keeper for a separate fidelius charm, we can use it to authenticate any written message from any of us by writing down the secret at the end of the message.”</p>

<p>Hermione nodded slowly. “So, we train ourselves to unquestionably obey messages with a certain code like, ‘step-by-step order,’ or something, along with an authenticated ID.</p>

<p>Daphne tapped on her chair. “Isn’t there a chance the stone fidelius would block knowledge of the code from us?”</p>

<p>Harry nodded. “Yes, there is a chance — that’s why we experiment with it first, and if it is the case, then instead of using a normal code, we use a separate <em>additional</em> fidelius code, instead.”</p>

<p>Daphne’s eyes started to glaze over.</p>

<p>“I suspect the fidelius can’t remove knowledge secured by other fidelius charms. I could be wrong, we’d need to check, but I don’t <em>think</em> it will be necessary.”</p>

<p>“What about that confused feeling you get when you’re inside a fidelius area? It’s like your eyes can’t make sense of what you’re seeing.”</p>

<p>“I blindfold myself so I’m receiving no information about what I’m doing, and, to make sure there is as little fidelius interference as possible, Hermione will obliviate me first.”</p>

<p>“What!” Hermione yelped.</p>

<p>Daphne’s eyes widened.</p>

<p>“One of the theorised weaknesses of the fidelius charm is that the more you know about the area under fidelius, the stronger its power is. Thus, if I want to stand any chance of being able to function while in the area protected by the charm, I need to have as few memories as possible of where I am, and what I’m there for.”</p>

<p>“B-b-but I’ve never done obliviation before!”</p>

<p>“You’ll need to learn. Don’t worry, I can push the needed memories to the front of my mind to make it as easy as possible for a beginner, and with your level of occlumency you should be able to get the basic skill in a few weeks.”</p>

<p>“Harry,” Daphne started, “what about your noble house ring?”</p>

<p>“I’ll need to take it off for the duration of the mission.”</p>

<p>“Ugh, I don’t like that.”</p>

<p>“Me neither, but it’s not for long.”</p>

<p>“How do you follow written instructions if you’ve blindfolded yourself?” Hermione asked.</p>

<p>“That’s what these are for.” Harry brought out the ear pieces. “Daphne will relay written instructions to me from outside the room.”</p>

<p>Hermione still looked worried. “Doesn’t it take you like, twenty minutes to cast the fidelius charm for a very basic space? Dumbledore was there in less than a few minutes last time we tripped the charm.”</p>

<p>Harry nodded. “Before we initiate the fidelius cracking part of the mission, we’ll set up a temporary fidelius of our own in the muggle studies defence room.”</p>

<p>Daphne smirked. “That way Dumbledore can remember where the stone room is, but he can’t remember where the room en route to the stone room is. I like that.” She looked thoughtful for a moment. “We could also do it on a day when Dumbledore has a Wizengamot session to slow him down even more?”</p>

<p>Harry grimaced. “Best not. We’ve done that once already and he thinks he knows <em>that</em> was Lord Slytherin.”</p>

<p>Hermione slumped back in her chair. “This plan is insane.”</p>

<p>Harry half nodded. “Well, the fidelius charm is an insane defence. The only reason we stand even a chance is all down to Dumbledore being just a bit too clever for his own good.”</p>

<p>“Can we get an overview of this plan then?” Daphne asked.</p>

<p>Harry nodded and started waving his wand over the floating glowing diagram between them. “Step one will be to cast a fidelius in the pipe outside the muggle studies defence room. This will be our HQ for the mission and will contain the papers and things we need for the plan.” A little number one appeared in the pipe.</p>

<p>“Step two will be Hermione cracking the muggle studies defence room — that muggle VCR challenge — and opening the door to the next room.” A little number two appeared in the muggle studies room.</p>

<p>“Step three is to fidelius the muggle studies room. Step four is Hermione obliviating me of all knowledge of what we’re doing, and blindfolding me. In step five me and Daphne will enter the potions room under polyjuice, trip the fidelius charm, and Daphne, who will still have on her noble house ring, and who will be guiding me by hand and receiving instructions by Hermione with the ear piece, will answer Statue Snape’s questions under veritaserum, which obviously won’t work on her, but not before she’s checked the liquid for authenticity.” Harry took a breath and glanced at Daphne. “I’ll be sure to teach you that spell.” He continued waving his wand and the diagram continued to update itself. “In step five, Daphne will fit me with the ear piece and return to the pipe to meet up with Hermione, who together will use their written instructions to guide me into the area actually protected by the fidelius charm, through the mirror room, and to each of the rune stones in turn, where I will set up my own rune stones from a bag I’ll be carrying. Then I will redirect the rune stone’s magic to my own rune stones, and, when it is safe, deactivate the fidelius charm. Then Hermione will run to me and help me restore my memories. We’ll use liquid memories siphoned off before hand to help speed up the process. Then I’ll spend the next thirty-ish minutes casting my own fidelius charm — and boom — one secured mirror room. We then get out of there and be back to our dormitories right in time for dinner, or whatever.”</p>

<p>Silence descended on the trio.</p>

<p>Daphne took a deep breath. “We’d better have some really good safeguards in place for if this all goes badly wrong, which it sound like it might, even with practise and training before hand.”</p>

<p>Harry nodded. “I agree. The chance of this actually working, aren’t great. A lot of things could go wrong. We’ll make sure we have emergency outs, but this is our best, and possibly only, chance of grabbing the single most powerful artefact our world knows of.”</p>

<p>Daphne and Hermione’s faces firmed in twin expressions of determination.</p>

<p>Harry clapped his hands. “Right. Let’s get down to some practise and testing.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p><em>- Gringotts Official Communication -</em></p>

<p><em>- 20</em> <em>th</em> <em> February, 1992 -</em></p>

<p><em>Lord Slytherin,</em></p>

<p><em>You will be pleased to hear that construction of Slytherin Manor is progressing smoothly and is on schedule. The construction jetty has been completed, our contractors are currently unloading the phase one stone, and the top of Gairsay island has been levelled and the earth redistributed.</em></p>

<p><em>Our agents are currently sourcing ideal magical plants and are on schedule to be ready to start planting and transplanting with the first leaf of spring.</em></p>

<p><em>However, a situation has arisen which I believe you would appreciate being made aware of. The Department of Magical Trade, possibly influenced by external parties, has authorised a 24/7 manned goods inspection post for all goods bound for Gairsay island. Much to my shame, this inspection post is manned not only by humans, but also by Goblins. We have attempted to make inquiries as to where this post is, so as to better foster communication between the ministry representatives and our project managers, but we have been unsuccessful in doing so. I believe the inspection post has been concealed with a fidelius charm, hence my suspicions about external influence.</em></p>

<p><em>Because of this development, I am required to remind you that any goods bound for Gairsay island that would not pass ministry inspection should not be included in any shipments. This includes: Cursed items, illegal rune stones, inappropriately charmed muggle items, muggle items not on the cleared list for magical possession, regulated magical creatures, restricted items for which you do not hold the appropriate licences, banned books, sufficiently large quantities of do-not-stockpile items, items for which another house has been granted a use monopoly or, indeed, anything that you would not be happy to become part of official ministry documentation.</em></p>

<p><em>May your gold flow and your enemies suffer,</em></p>

<p><em>Ragnok Boneslicer, Account Manager, Chief of the Boneslicer Clan.</em></p>

<p>It was night. Harry was sitting crosslegged on the floor of his Hogsmeade apartment. He put down the letter and frowned.</p>

<p>So, Dumbledore had decided to spy on his manor construction, mmm? That was annoying. The Headmaster hadn’t yet made a move on Harry Potter, but Lord Slytherin, apparently, was fair game. It didn’t feel good having the fidelius charm used against him so much.</p>

<p><em>He</em> didn’t have anything <em>at the moment </em>that would cause the inspectors issue, apart from personal items like his cloak, but… when the Grangers were to move over to the island, which he wanted them to do as soon as the wards were up…. Well, the Grangers had enough muggle equipment and runed trinkets to keep the departments of trade and muggle affairs busy for months — not to mention that so much of it was explicitly being used to circumvent intellectual property spells — and a lot of the Granger’s stuff wouldn’t react well to having magic used on it directly. He’d have to have a chat with them about it — come up with some way to smuggle their stuff onto the island when the time came.</p>

<p>Harry turned the letter over on the floor and focused back on the occlumency exercises from the book Hermione had tracked down for him. Never again, he’d vowed. He never again wanted to be <em>that</em> helpless in the face of being trapped. Once was already one time too many. He’d figured his first freak out was because he’d almost been caught. Simple solution to that — don’t get put in those positions. But that had turned out not to be the case. That overwhelming feeling of panic could be triggered by other, far more innocuous things, and <em>that</em> was <em>not</em> acceptable.</p>

<p>He turned in on himself and started to split his consciousness in two, the first step of the treatment.</p>

<p>Hermione was busy learning the basics of obliviation.</p>

<p>Daphne was busy learning to work from instructions under the influence of fidelius magic.</p>

<p>They were on schedule to make an attempt on the mirror room on March 28, exactly one week before the duelling tournament.</p>

<p>The main question still rattling around in Harry’s mind, even as it sunk deeper and deeper into his occlumency induced trance, was, ‘would Dumbledore try anything <em>before</em> then?’</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore watched the Slytherin breakfast table from his large throne at the front of the great hall. Specifically, he watched the fourth goblet from the end, currently in front of one Harry James Potter. As necessary a solution as Azkaban was, it was far less likely to work if one of his rival factions swooped in to support the boy. Framing someone for a crime they didn’t commit was tricky business. After all, the whole point of the law courts was to find out the truth.</p>

<p>For his plan to work, he first had to isolate Harry Potter from the Gray and the Dark — and watching the way Heiress Greengrass had fawned over the boy in the hospital wing, had hopefully given him the key.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The great hall started to fill for breakfast. Harry ate next to Hermione, enjoying the mindless chatter of his sort-of innocent peers, interspersed with the occasional political barb or well veiled insult. This was the Slytherin table, after all. The current topic of conversation was the Slytherin-Hufflepuff quidditch match, which Slytherin had won, but which still put them eighty points behind Gryffindor for the Quidditch Cup.</p>

<p>Despite John’s loss at the Gryffindor-Slytherin match, his twin brother’s performance against the Ravenclaws had <em>more</em> than made up for it, and it was looking less and less likely that Slytherin would win when all was said and done. That would all change next year of course, when Harry’s red headed spitfire took to the skies around Hogwarts. He’d make <em>sure</em> of that, even if he had to beat Flint into the ground and set Alex on the Bloody Baron.</p>

<p>Harry took a sip of his pumpkin juice and froze with the goblet still to his lips. The scent of fresh grass and snow filled his nostrils. Mmmm… so nice. His invisible Head of Slytherin House ring heated up on his finger, ancient magics doing battle with a far inferior foe. He put the goblet down and adopted a good natured look of mild concussion. The trick, of course, was not to act in any way like he <em>knew</em> what he’d just drunk.</p>

<p>Harry’s mind raced. Payoffs and prices. Causes and consequences. Pull, and then, when they’re least expecting it, push.</p>

<p>He pulsed a series of magical signals into his lightning bolt ring and watched momentary looks of concern and worry flash across both Hermione and Daphne’s faces before they returned back to their normal and icy public personas.</p>

<p>Harry put his chin in his hands. And didn’t Daphne look utterly enchanting this morning? The way her silky blonde hair flowed down her shoulders, the way her cute nose twitched slightly when she gave a disapproving sniff, the way her ice-blue eyes sharpened, lance-like, when casually dismissing some sycophantic comment. He let out an exaggerated and very visible sigh. That was young love, after all.</p>

<p>It was such a shame he couldn’t kiss her. Lord Slytherin would get ever so pissed if he did that, wouldn’t he? Oh, yes. Heh. Yes, he certainly would.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Harry?” The twins looked up from their workbench in surprise.</p>

<p>“Hi there,” Harry half descended the stairs of the Twin’s work trunk. “I’m going to need to exercise the map clause of our agreement for the next few hours.”</p>

<p>The twin’s looked at each other. Twin A grabbed the marauder’s map and tossed it to Harry.</p>

<p>Harry elegantly snatched it out of the air. “Thanks. You’ll have it back soon.”</p>

<p>“Sure thing.” The Twin’s bent back over their work bench.</p>

<p>Harry paused at the trunk’s lid. “Oh, and thanks for helping the settlers out with that bit of alchemy. It was really helpful.”</p>

<p>“So long as they can continue doing rune jobs for us.” Without looking around, Twin B idly waved a small sphere of aluminium on which hundreds of tiny runes were engraved. “These things are INSANE!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>From inside Harry’s trunk, safe in the fidelius in the Hogwarts library, Hermione gazed at the marauder’s map. Some two hundred metres away, Harry and Daphne were walking in a loop around the second floor — well within their ear mirror’s range.</p>

<p>“Status?” came Daphne’s voice through the tiny mirror in her ear.</p>

<p>“DD is still circling the third floor on the left hand side. I think… yes — DD has started moving towards the second floor,”</p>

<p>Hermione saw Harry and Daphne stop where they were, half way down their current corridor.</p>

<p>“DD is coming down the stairs. He will turn the corner behind you in ten—good luck—seven, six, five, four—”</p>

<p>“Cutting magic.”</p>

<p>“—three, two, one.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry glanced up the corridor just as Daphne quickly shoved the miniature ear communication mirror into the pocket of her robes.</p>

<p>There was no one there.</p>

<p>“H-Harry,” Daphne bit her lip, standing far too close to him for what would be considered appropriate. “We shouldn’t be doing this.”</p>

<p>“Why not?” Harry gave her an adoring look and pulled her unresisting arm into a nearby empty classroom. “You are just so, so perfect.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore couldn’t believe his luck. Invisible, he carefully walked up to the open classroom door.</p>

<p>“H-Harry.” A breathy voice sounded from inside.</p>

<p>He moved into the classroom and the scene that greeted his eyes could not have been better if he’d planned it, which, in a way, he had.</p>

<p>The Greengrass heiress was sitting on a table, allowing an obviously aggressive Harry Potter to kiss her on the lips. The kisses were hardly more than pecks, sweet and innocent, but the closeness of the two, and the way they had their hands intertwined, made it clear that this was the pre-teen equivalent of what, at an older age, would certainly require certain cautionary potions and charms.</p>

<p>He faded into sight. “Mister Potter! Miss Greengrass!”</p>

<p>The Greengrass Heiress jerked backwards and stared at him in horror. “Headmaster!” She ducked away from the boy, jumped off the table, and straightened her robes.</p>

<p>Harry Potter glared at him.</p>

<p>“What <em>are</em> you doing, Miss Greengrass?”</p>

<p>The look of horror quickly faded to be replaced by that familiar indifferent countenance of the trained occlumens. She cleared her throat. “Ah, Headmaster Dumbledore, I trust I can count on your discretion on what you’ve seen here?”</p>

<p>Harry Potter had sidled back to the Greengrass heiress, trying to put his hand in hers, which she was subtly trying to swat away.</p>

<p>Dumbledore shook a disappointed head. “Miss Greengrass? Surely you must understand the seriousness of what you were doing? You are under contract. As a responsibly adult, I have no choice but to bring this to your father and betrothed.”</p>

<p>The icy look of indifference cracked and a look of fear seeped through. The girl started to breathe harder again. “Please, sir. Please don’t. It was just kissing! My contract doesn’t say anything about that! There isn’t anything—”</p>

<p>Dumbledore continued to shake his head.</p>

<p>“—wrong with it!”</p>

<p>“I’m sorry, Miss Greengrass. If there <em>truly</em> isn’t anything wrong then you won’t be in trouble, but it <em>is</em> expected of me.” He turned to leave. “And you, Mister Potter, I suggest you distance yourself from Miss Greengrass for the foreseeable future.”</p>

<p>Harry glared at him. “I love Daphne!”</p>

<p>Greengrass winced.</p>

<p>“I won’t let anyone have her! No matter what any stupid contract says!”</p>

<p>The Greengrass heiress now looked mortified.</p>

<p>Perfect.</p>

<p>He frowned in disapproval one last time before leading the two out of the room and escorting them back to their common room, after which he immediately locked himself in his office, pulled a silvery strand of memory from his temple, corked it into a vial, and began to write.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Later that day, Hermione, now under the effects of half a dozen potions and transfigurations, marched through Hogwarts like she owned the place, trying to give off just the right amount of righteous anger and rage, occasionally adjusting the mask on her face, and fighting not to blush to high heaven at the thought of what was now weirdly situated between her legs.</p>

<p>She approached the great hall’s huge double doors, almost completely closed except for the small door at the bottom that allowed students in and out for mealtimes, which it now was. Dinner, in fact.</p>

<p>Hermione pulsed a pre-arranged message into her lightning bolt ring and continued to stride forward as though there wasn’t several tonnes of solid oak in her way. Now, boy thoughts. No, male thoughts. Man thoughts! Rage. Rage and fury. Someone was kissing <em>my</em> girl! Rawr!</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry, sitting two chairs down from Daphne at the Slytherin table, felt a pulse on his lightning bolt ring. He reached into the wards and carefully manipulated the magics on the great hall doors.</p>

<p>The huge doors swung open with a loud whoosh of colder castle air, every head turned, and ‘Lord Slytherin’ strode into the hall like an angry god.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John startled the moment Lord Slytherin walked into the great hall. He was here. He was here <em>right now</em>. This was his chance. He stood up, making some excuse to his year mates.</p>

<p>“Daphne! Come with me.” Slytherin’s voice boomed around the hall.</p>

<p>John caught Susan’s eye as he left by the side exit, giving her what he hoped was a meaningful look.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore tried not to smile from the head table.</p>

<p>“My lord?” The Greengrass Heiress said meekly.</p>

<p>“Now!”</p>

<p>Daphne Greengrass rose from her seat.</p>

<p>Lord Slytherin shoved his wand under a trembling Harry Potter’s chin and snarled, “You better not be sitting here when I get back, you little shit,” before sweeping out of the hall with Daphne in tow.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Tracey Davis looked on in horror as Daphne walked out of the hall with as much dignity as she could muster and Harry Potter got up and moved back to the middle of the table. Everyone started whispering to each other. What the <em>hell</em> just <em>happened</em>?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Are you sure about this?” Susan looked worried. The muffled dressing down Greengrass was receiving for whatever it was she’d done could just about be heard through the classroom wall.</p>

<p>John Potter smiled. “Susie, don’t worry about it. I got this.”</p>

<p>“You <em>do</em> know how bad it will be if you’re caught?”</p>

<p>“We need to know!”</p>

<p>Susan bit her lip. “Well then, I hope you really <em>are</em> as good at this as you say you are.”</p>

<p>John flashed her a bright smile. He wouldn’t mess up. He had fate on his side.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione stalked out of the classroom, leaving a visibly distraught Daphne behind her. She felt really bad about all that shouting. She’d been practically cringing herself at the sound her lord’s angry voice and it had been her <em>doing</em> the shouting. She’d have to do something to make it up to her friend later, but not before she extracted every tiny detail from her on what those kisses with Harry had been like. For purely academic reasons of course. For research.</p>

<p>She turned a corner and a much smaller body crashed into hers. Anger flared through her. “You!”</p>

<p>John Potter looked up at her. “Lord Slytherin?”</p>

<p>“Ah.” Damn. Had Harry ever met John as Lord Slytherin? “John Potter.” Her voice immediately took on that cool, calm vibration she’d so often heard her lord use. “For a moment, I thought you were someone else.” Nice save.</p>

<p>John Potter nodded, bowed, and walked off.</p>

<p>Hermione watched him go, frowning. Why did she get the feeling she’d just missed something?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John ducked back into his own empty classroom, a massive grin plastered on his face.</p>

<p>“It worked?” Susan asked with obvious excitement.</p>

<p>John held up several hairs. “Wordless, ‘accio loose hairs,’ with wand up my sleeve. He never felt a thing.”</p>

<p>Susan’s eyed the hairs in awe. “I can’t believe it worked!”</p>

<p>He smirked. “Ready?”</p>

<p>“Wait.” Susan held up her hand. “You’re going to be stuck like that for an hour. We should do it somewhere safe.</p>

<p>Yeah, that was a good point, wasn’t it? See, this is why he had Susan with him. “Down by the lake then? Where we can hide in the trees?”</p>

<p>Susan nodded.</p>

<p>Twenty minutes later, they were in the rapidly failing sunlight hiding behind a thick clump of bushes.</p>

<p>“Well,” John flourished the now colour changed potion containing a single black hair. “Bottoms up.” He drank.</p>

<p>Suddenly everything started to change, but the changes were <em>not</em> what he expected. His hair lengthened, his arms and legs thinned, a faint feeling of <em>something</em> pressed against the inside of his shirt, he even shrank slightly, and, most worryingly of all, everything <em>down there</em>, re-arranged itself, leaving him feeling strangely… missing. Missing and empty.</p>

<p>Susan had her hand over her mouth.</p>

<p>“What happened?” he said and his voice had changed too. It sounded like…</p>

<p>“You turned into Granger, John.”</p>

<p>“What!” He ran out of the tree line to the lake’s edge to gaze into its reflective surface. A brown wavy haired head of hair crowning an angelic face stared back at him. “I am Hermione!” He clutched at his new features. Oh Merlin, this was so weird, but…“ His mind caught up with what had happened. ”Hermione is Lord Slytherin!“</p>

<p>A sharp sting hit him on the back of the head. “Ow.” He turned to see Susan looking at him with an unamused expression, her wand clutched in her hand. “Stop pissing about, John, and be serious.”</p>

<p>He rubbed the back of his head where the stinging hex had hit and grumbled.</p>

<p>Susan tapped her foot on the slightly damp ground. “Obviously you just picked up Granger’s hair.”</p>

<p>John frowned. “But Hermione has brown hair, the hairs I picked up were black.”</p>

<p>Susan held out her hand and he passed over the small glass bottle in which he’d stored the precious hairs. “They look brown to me.”</p>

<p>“What?” He snatched the jar back and looked again. The hairs did indeed look brown. “That’s weird, I could’ve sworn…”</p>

<p>“Slytherin obviously has a defence against people accioing his hair from his clothes, and the only hairs your spell picked up were Granger’s.”</p>

<p>“But why would Slytherin have Hermione’s hair on his clothes?”</p>

<p>Susan blushed.</p>

<p>“What?”</p>

<p>She looked away. “Nothing.”</p>

<p>John shrugged. “So, that didn’t work out so well then.”</p>

<p>Susan nodded, still not meeting his gaze.</p>

<p>A thought struck him. “But we <em>do</em> now have some of Hermione’s hair. We could always go with plan B if we get the chance.”</p>

<p>Susan finally looked back. “Yes,” she said, slowly, “we could.” She grinned. “Are you going to do that too? You seem to make a good witch — although first, I think I’d need to teach you to curtsey, and how to sit like a lady, and…”</p>

<p>John violently shook his head, causing his long hair to whip him in the face.</p>

<p>Susan giggled.</p>

<p>John grimaced. This was going to be a long hour.</p>

<p style="text-align: center;">— End of Chapter Twenty-nine —</p>
