Chapter 2 - Flying Under the Radar - Wand

<p>Harry spent a few moments basking in his new old body. The cramped space of his cupboard wrapped around him like an old friend, the kind you tolerate having a once-a-year drink with, but who soon reminds you why you stopped being their friend.</p>

<p>Right! Time to fly this joint. Prison break! And with a loud crack, the cupboard under the stairs was empty. The Dursleys could fix their own damn breakfast.</p>

<p>He appeared in a park not far from Privet Drive and sat down on a bench. The sky slowly brightened as the sun rose over the nearby trees, flooding the grass with light that refracted off morning dew and painted a picture of peace and happiness across the back of Harry’s retinas. Freedom.</p>

<p>Harry would never again let anyone imprison him. Not Voldemort, not Dumbledore, not the Dursleys, not his parents.</p>

<p>To do that, he needed power, for without power you were helpless, and if you are helpless everything you have can and will be taken from you.</p>

<p>So, what did he have?</p>

<p>Well, he could do a limited amount of wandless magic. He could summon and banish, apparate, fly, talk to snakes, cast the stinging hex, lumos charm, and incendio charm, as well as basic legilimency and master occlumency. Wandless magic was time consuming to learn, and Voldemort had never learnt more than the combat critical necessities.</p>

<p>His ring would protect him from obliviation, mind-altering potions, confundus charms, and other mind-altering magics… but not the imperius; nothing could block the imperius — you just had to have the mental will to throw it, which is why it was classified as unforgivable — poor little pureblood lords couldn’t defend their families against it. The ring could also become visible and invisible on command and was soul bound, meaning it couldn’t be taken from him by force until he died.</p>

<p>All this was very nice, but it didn’t make him the all-powerful force of nature he needed to be. Wards could easily block apparition, and his combat spells were very limited. If he landed trouble in the magical world, the powers that be would have him at their mercy. Worse, he had almost no sneaking abilities. Disillusionment, notice-me-nots, muggle-repelling wards, key-in wards, silencing charms — as he was at the moment, he couldn’t do any of them.</p>

<p>He needed a wand. Then his repertoire would be vast. Then he could really get on with things… but… <em>how</em> was he going to get one? Ollivander and his British contemporaries wouldn’t sell him a wand. He was too young and the wand would have the trace on it. Other countries also wouldn’t be any good — they’d still apply the trace and it would just switch over to Magical Britain the moment he crossed the border. The ministry would be very interested in why there was an unregistered underage wand casting magic all over the place. He could get a wand without the trace if he revealed his status as Lord Slytherin, but he wasn’t anywhere near ready to announce that yet. He could try stealing one, but that would be far too risky at the moment. If he were caught, he’d be in <em>big</em> trouble.</p>

<p>No, there was really only one option. He was going to have to make one.</p>

<p>It wouldn’t be great. It wouldn’t be at the level of perfection of one produced by Ollivander, but it would work and be functional until he could buy a proper one. And since it was the wand that chose the wizard, or so Ollivander would say… well… he’d just have to think like a wand.</p>

<p>…Yew. Yes, the wood of death and rebirth, of resurrection and immortality. Voldemort’s wand was yew because of its properties associated with eternal life—although how the wand knew of the Dark Lord’s future when he’d been just eleven was anyone’s guess. His wand, by contrast, would be yew because of its properties associated with rebirth and resurrection, not to mention he was Death’s champion.</p>

<p>And for the core… thestral tail hair, definitely. No creature was more closely associated with death than the thestral, except maybe the grim. As for the length… 15 inches, the same length as the Elder Wand. The wand made by Death. Yes.</p>

<p>Harry leapt off the bench and stretched his arms to the heavens. Shopping time!</p>

<p style="text-align: center;">— DP&SW: RiBSR —</p>

<p>Sue Ruthson was a short, plump woman who loved the outdoors in principle, but preferred the comforts of the tearoom in practice. She flipped the sign on the door to the office from closed to open and turned to man—or in her case, woman—the reception.</p>

<p>“Excuse me,” said a child’s voice behind her. She turned and beheld a small skinny boy in baggy clothes with a mop of unruly black hair and piercing green eyes behind sellotaped glasses. They seemed to stare straight into her soul and force her to reexamine all her hopes, dreams, and fears.</p>

<p>“Y-yes, dearie?” she asked, looking around for the lad’s parents. They were nowhere to be seen. Probably let him run ahead of them.</p>

<p>“Is this the Royal Forestry Society?”</p>

<p>“Yes, it is. Where are your parents, dear?”</p>

<p>“Oh, they’re around. I’m doing a school project and they said I could ask some questions for it. I’m interested in really old trees.” He smiled a smile that screamed future heartbreaker.</p>

<p>“Well, dear, why don’t you just take a seat here and I’ll get you something?”</p>

<p>The lad beamed. “Thank you, Mrs…?”</p>

<p>“Ruthson, dear.”</p>

<p>“Thank you, Mrs Ruthson.”</p>

<p>This was one polite kid. “Any particular types of tree you’re interested in?” she asked, probing the boy’s knowledge while fishing in a filing cabinet behind her desk.</p>

<p>“Um… yew? They’re supposed to be really old, right?”</p>

<p>“They are. Yew trees are among some of the oldest in the country.” She found what she was looking for and handed it to the boy. “Is that enough information?” she asked.</p>

<p>The boy flipped through the glossy-paged brochure before stopping at one particular page. “Oh, yes, Mrs Ruthson. Thank you! I need to get back to my Mum and Dad now — they’re waiting for me.”</p>

<p>“Not to worry, dear. Happy to help.”</p>

<p>The boy left the office, and Sue smiled. What a nice young man.</p>

<p style="text-align: center;">— DP&SW: RiBSR —</p>

<p>Alan and Jennifer stumbled into their hotel room from a night of holiday-filled excitement and romance when Jennifer noticed something was wrong.</p>

<p>“Alan,” she said, sounding worried.</p>

<p>“Yeah, baby?”</p>

<p>“I can’t find my wallet.”</p>

<p>“Seriously? Where did you last have it?”</p>

<p>“It was in my pocket. But it’s not there anymore.”</p>

<p>“I’ll check the bags.”</p>

<p>“Oh no… oh shit! Shit!” She threw up her hands. “My cards were in there!”</p>

<p>“Jen, don’t panic. It’s probably in here.” But his search was proving fruitless.</p>

<p>“What if someone uses them! Oh shit! Shit!”</p>

<p>“Jen! Calm down! We’ll just call up the company and get them to freeze them!”</p>

<p>“Oh shit, shit, there was like a hundred pounds in there, that’s like what, 150 dollars? Shit! Shit! …Well!?”</p>

<p>Alan had stopped searching the bags.</p>

<p>“Yeah, it’s gone.”</p>

<p>“SHIT! SHIT! SHIT!”</p>

<p>Several blocks away, Harry inspected his catch in the privacy of a public toilet. It was a rule of life as far as he was concerned. If you were a wizard and didn’t charm your money pouch to be non-summonable, you were an idiot. And if you were a muggle tourist and didn’t attach your wallet or purse to your person, or keep it deep in your bag, you were an idiot. Better <em>he</em> snagged it than some less-deserving cutpurse.</p>

<p>He finished counting out 107 Pounds Sterling and smiled…. Breakfast time.</p>

<p style="text-align: center;">— DP&SW: RiBSR —</p>

<p>Harry spent a relaxing day eating and practising his occlumency in various hotel lobbies around London. The great thing about hotels was that the staff didn’t ask too many questions about kids on their own in lobbies. It was assumed the parents or guardians were around and had dumped them there with instructions to wait. If people <em>had</em> started getting too nosy, Plan B had been some tiny village teashop in the middle of nowhere.</p>

<p>The sun was slowly sinking, and it was time to hit his first target.</p>

<p>He paid for his final drink, left the building, turned down an alley, disappeared with a loud crack, and reappeared in a field on the flood banks of the River Thames. The ground was boggy and Harry had to struggle for his footing on every step before he smacked his head in frustration and remembered he could fly.</p>

<p>Hovering a half-inch from the ground, and making every attempt not to be seen doing so, he flittered from bush to bush in the rapidly failing light of the British summer.</p>

<p>Ahead, he spied the distinct, majestic outline of his intended — The Ankerwycke Yew.</p>

<p>This tree was ancient. Not the oldest in the country by any measure, but at over two thousand years old, it had been around well before the Peverell brothers played their games with Death. The tree was steeped in myth and legend. It was here that the Magna Carta had been signed, forever breaking the absolute right of the king to rule, which included the magical population, and contained passages, now invisible to muggles, granting the magical community autonomy from the muggle government. It was said that under this tree the muggle king Henry VIII had started his illicit affair with his future wife, Anne Boleyn, resulting in the split between the churches of Rome and England and the end of the witch hunts in Britain.</p>

<p>It was perfect.</p>

<p>Harry drank in its beauty, hungry for the potent combined symbol of freedom, death, resurrection, and unofficial polygamy. He could feel the magic radiating from it, even from back here.</p>

<p>He pushed forward and suddenly felt something sweep over him — something subtle, but very definitely noticeable to one trained to sense the flows of magic. His breath hitched. He’d just tripped a detection ward. Dammit! Too late, he realised most of the magic hadn’t been coming from the tree, but from the wards around it.</p>

<p>He ducked behind a nearby bush and waited. Who’d go through the bother of putting wards around a tree?</p>

<p>Crack! A figure in a dark robe appeared around the trunk of the tree, wand out and alert. Even at the distance he was hiding, the figure was recognisable. It was Mr Ollivander.</p>

<p>Oh, damn.</p>

<p>“I know you’re there!” Mr Ollivander called, “I want to know why.”</p>

<p>Harry struggled to rip his shirt off and tie it around his head to hide his face, hair, and, most importantly, scar. The eyes might give him away, but there wasn’t much he could do about that.</p>

<p>“If you don’t come out, I’ll just come to you,” the old wand maker continued. “Homenum revelio!”</p>

<p>Merlin damn homenum revelio! Screw it. There was nothing to do but make a break for it.</p>

<p>Crack! Harry appeared in a field some fifty miles away and turned.</p>

<p>Crack! His pursuer appeared right behind him.</p>

<p>Crack! And he disapparated again, appearing in an empty city street at a dead run.</p>

<p>Crack! A red stunner passed mere inches from the back of his head before he turned a corner, out of sight, and immediately shot up, towards the moon, over the edge of a rooftop, and away over the city skyline.</p>

<p>Crack! The silence lasted only a moment before a quickly fading and frustrated voice shouted, “Homenum revelio!”</p>

<p>Please, please, please, let him be out of range. Harry ducked behind the massive chimney of a huge industrial building and quickly accelerated right to the top before disapparating with a final, definite, <em>crack</em>!</p>

<p>There! After several more cracks, he appeared in the graveyard of a small village in Devon. Let the creepy bastard follow me up there!</p>

<p>He stumbled over to a bench and plopped down on it with an audible, “Phew.”</p>

<p>His breath started to slow, but his pulse was still going at a mile a minute, his adrenal glands still pumping concentrated ‘fight-or-flight’ into his small body.</p>

<p>He was an utter idiot. Why hadn’t he spotted the very obvious fact that the perfect candidate for a yew wand tree in the country would already be ‘taken’ by another wand maker? He could only hope to Merlin that the old man had neither spotted him flying, nor been alerted to his aerial presence by his last homenum revelio. He wanted to keep every advantage he had secret, and if an identifying skill became public knowledge, he couldn’t use it and remain anonymous. Flying was definitely an identifying skill. Only he and Voldy could do it, after all.</p>

<p>Harry sighed. All in all, it could have gone worse. With luck, the only thing Ollivander would have learned about the wizard sneaking around was that they were very short for a wizard who—because of their ability to apparate—should be in their late teens, at least.</p>

<p>Oh… he might also have spotted him apparating without a wand… bugger. And since Ollivander could detect him with homenum revelio, he’d be forced to conclude Harry was a very short, and very powerful, humanoid. It might be more credible to suspect a metamorphmagus rather than a child… or possibly a half-breed like Flitwick… or someone under the effects of polyjuice…. Okay, so there were actually lots of possible ways to explain him away.</p>

<p>Harry stood back up and dusted himself off. The night was still young, and he still had a list of other trees he could hit. There was a loud crack which echoed around the church stonework, and Harry Potter was gone.</p>

<p style="text-align: center;">— DP&SW: RiBSR —</p>

<p>Angelystor was dead. She’d been dead for a long time now. She’d been in love with a local muggle noble, who’d stabbed her when she’d told him she was pregnant. She wished she could have seen it coming, but she couldn’t. Seers could not see their <em>own</em> futures.</p>

<p>And now all she could do was haunt this graveyard, in this tiny Welsh village. There weren’t any magicals around to talk to and the only fun she had was on All Hallows Eve, when the boundaries between this world, and the world beyond the Veil, were at their weakest. Then, she could shout out who in the next year was going to die, and the muggles could actually hear her. It was a small joy, but it was all she had.</p>

<p>She floated around the graveyard’s huge yew tree, its trunk split at the base in three, giving the impression of three separate trees growing from the same spot, and stilled.</p>

<p>Something had changed. Her sight wasn’t nearly as good since she’d died, and she couldn’t do any divination or scrying that needed a wand or other foci, but something had definitely changed in the flow of time.</p>

<p>Movement attracted her attention. Despite it being near midnight, the full moon made it easy to see, although why that mattered to a ghost who technically didn’t have eyes, she’d never wondered about until that moment.</p>

<p>The figure was hesitant and very cautious. It was small, and crept from tombstone to tombstone as though expecting to be attacked.</p>

<p>She floated over to the child, for it was surely small enough to be a child, and was shocked when the boy—and she could now see that it was surely a boy—recoiled from her. His chest was bare. The shirt he’d presumably been wearing hid his face. He made to bolt, and she quickly held up a hand.</p>

<p>“Wait! I won’t hurt you!”</p>

<p>The boy hesitated, but did turn to face her.</p>

<p>“You can see me, right?” she asked. “Only magical people can see me. You’re magical, aren’t you?”</p>

<p>The boy nodded.</p>

<p>“Who are you? There aren’t any magical children in this village. I’d know. Why are you here? Why didn’t I know you were coming? Did your parents move here? Are they magical? You can’t be a muggleborn or you wouldn’t know you were a wizard. Why… why can’t my sight see you?”</p>

<p>The boy stood and watched her through emerald-green eyes barely visible through his makeshift mask.</p>

<p>“Hello,” he said, his voice was guarded, his stance still coiled for flight.</p>

<p>“Um… hello,” she said, suddenly realising she must have sounded both silly and aggressive with her question monologue. But she couldn’t help it! She hadn’t spoken to anyone in over two hundred years.</p>

<p>“What did you mean by, ‘I didn’t know you were coming?’ and, your ‘sight,’ …are you a seer?”</p>

<p>“Ahh, yes. I am, or rather, I was… I can still see a bit, but it’s not nearly as strong as when I was alive.”</p>

<p>“And now you haunt this graveyard? There must be a lot of ambient magic to support a ghost like yourself.”</p>

<p>“The magic comes from the tree. It’s called the Llangernyw Yew. It’s the oldest yew in the country, you know!” She visibly swelled with pride, although the slight baby bump under her ethereal dress might have helped give that impression. “It’s among the oldest living things in the world, you know. That’s what a muggle science person said.”</p>

<p>“Really?” The boy seemed to be warming up to her. “How old is it?”</p>

<p>“Well, they say it might be five thousand years old, but no one really knows. It might be only three thousand.”</p>

<p>“And how old are you, my fair lady?”</p>

<p>She mock-gasped, “You don’t ask a lady her age, young man.” A hint of a smile played across her lips.</p>

<p>The boy seemed to wince. “Sorry, I mean, how many years has it been since you died?”</p>

<p>“Over five hundred years… and I’m twenty-one, by the way.” She smiled. “My name is Angelystor, and I am the ghost that calls out the names of those who will die in the next year on All Hallows Eve.”</p>

<p>“The muggles can hear you?”</p>

<p>“On All Hallows Eve, yes.”</p>

<p>The boy seemed to think for a moment.</p>

<p>“My name is… Harry.”</p>

<p>Her smile was now summer and light and good friends around an open fire. “Pleased to meet you, Harry. So… what exactly are you doing here in this isolated village, at midnight, wearing your shirt on your head?”</p>

<p>Harry hesitated again.</p>

<p>“There aren’t any other magicals around, right?”</p>

<p>“You’re the first one I’ve seen in over two hundred years.”</p>

<p>“And you can’t actually leave?”</p>

<p>“No.” Her smile was slightly sad now. “I am bound to the tree where I died.”</p>

<p>Harry nodded. “I am here for a single branch of the Llangernyw Yew, to make a single wand, with which to defeat Dark Lord Voldemort.”</p>

<p>Angelystor felt her eyes widen almost comically. “I have seen the wizard you speak of with my sight. He is a terrible power in the world. How do you, a child, want to defeat him?”</p>

<p>“I am the child of prophecy — singled out by Fate herself to do the job the Wizarding World cannot. I will do it because I must. Because only I can.”</p>

<p>“And you have no one to aid you?” she asked, looking around as though expecting Merlin or the founders to suddenly appear.</p>

<p>“There are… forces in the world working against me. Forces that would see me incapable of fulfilling my duty. Forces that would risk the almost-certain destruction of everything in favour of a plan with a comically low probability of creating an ideal peace.”</p>

<p>Silence settled between boy and ghost for a moment.</p>

<p>Eventually Angelystor spoke. “I do not like seeing the tree harmed… but… for such a purpose, I can hardly refuse. Please, Harry, take what you need.”</p>

<p>Harry nodded, face still hidden, “Thank you, Angelystor.”</p>

<p>Together they walked and floated to the tree. And then together they floated to the very top of the tree where the freshest growth was. Angelystor stared in awe. “You can fly.”</p>

<p>“Yes, beautiful lady, I can.”</p>

<p>Harry produced a folding miniature hacksaw from the pocket of his baggy trousers and deftly removed a six-foot branch of fresh growth.</p>

<p>“Happy birthday to me, happy birthday to me,” he whisper-sang, a slight smile playing around his mouth, just before the nearby church bell sounded midnight with a single, low dong. He floated backwards. “Well, fair lady, this is where I must go.”</p>

<p>Angelystor nodded, “Harry?”</p>

<p>“Yes, my lady?”</p>

<p>“Before you go… may I see your face?”</p>

<p>Harry floated motionless for a good few seconds before putting the branch down in the nearby growth, reaching up, and removing the shirt around his head.</p>

<p>Angelystor gazed into a young face that promised future strength and nobility. Black messy hair spilled over his forehead, utterly failing to conceal a fierce lightning-bolt-shaped scar, tinged in an angry red.</p>

<p>She floated around him, inspecting him from every angle at less than a few inches distance, before finishing right in front of his face.</p>

<p>“Thank you, Harry,” she whispered, before retreating a few feet, “and good luck.”</p>

<p>Harry nodded his thanks, picked up the branch again, and with a single crack, was gone.</p>

<p style="text-align: center;">— DP&SW: RiBSR —</p>

<p>Two days later, Harry woke feeling great. Stage one was complete, and he’d liberated enough muggle money from people without enough common sense to move onto stage two. It was time for the thestral hair and he had a long journey ahead of him.</p>

<p>There was only one thestral herd in the British Isles, and it was Hagrid’s on the grounds of Hogwarts — a place Harry dared not tread for fear of the wards being capable of alerting Dumbledore to his presence.</p>

<p>So, he’d have to search further afield, and in Voldemort’s memories there was only one other place with a thestral herd. It was the big one — the wild thestral herd of the Mongolian shamans.</p>

<p>He spent the next few days apparating across Europe, through Russia, and down into the Mongolian heartland, arriving near Ulaanbaatar—Mongolia’s capital city—sometime around midday on the third day of his travels. Magically exhausted from his trip and still wearing his shirt around his head, he scarfed down the last of the food he’d packed and stretched out on the luscious grass.</p>

<p>Grassland stretched as far as the eye could see in every direction, broken up by the occasional mountain. Zero cover. Anyone within a dozen miles would be able to see him. On the other hand, there were so few people here, and the country so vast, the chance of being happened upon by someone who cared was tiny.</p>

<p>Several hours of kip later and Harry moved on.</p>

<p>After another few hours of apparating southwest, he finally arrived at his destination, the Ongiin Khiid Monastery complex, the centre of the Mongolian magical community. When the communists took over the country in the 1920s, they’d destroyed most of the Buddhist temples throughout the country, and now most of them were little more than ruins.</p>

<p>While the muggle population of Ongiin Khiid had been slaughtered or forced to serve in the communist army, the magical community had hunkered down behind their powerful wards. After the initial destruction, they’d gradually taken back the complex, rebuilding and warding it until the entire area was bristling with muggle-repelling and illusion wards. To any muggle walking by, it now looked just like any other ruined temple complex.</p>

<p>Harry walked through the gates and beheld the grandeur of the Tibetan architecture — row after row of houses and temples, all with the same distinctive white stone wall and square, curved sloping roofs. While Diagon Alley looked like a stroll down a history timeline, Ongiin Khiid looked like a uniform shopping street designed by an architect with a fetish for old-green copper and spruce.</p>

<p>With the exception of one building, of course.</p>

<p>Harry ambled down the street and turned to face a building that looked like a melting Roman temple. Gringotts.</p>

<p>Knowing the goblins would react unfavourably to disguises, Harry unwound his makeshift shirt-mask from his head, slipped it back over his chest, and walked past the guards, up into the bank.</p>

<p style="text-align: center;">— DP&SW: RiBSR —</p>

<p>Ten minutes later, Harry exited the bank with five galleons exchanged from 250 pounds — the results of his morning and afternoon of summoning training on the London underground.</p>

<p>The goblin serving him had certainly raised his eyebrows at serving a lone, clearly western, English-accented child, but hadn’t asked questions. Merlin, he loved goblins.</p>

<p>Harry continued to walk down the street until he found what he was looking for — a small shop with a thestral tied up outside, eating noisily from a bucket of unidentified meats.</p>

<p>The shop contained everything thestral. Cured thestral meat hung along the rafters, thestral bones aligned the walls, bottles of thestral glue stood next to bars of thestral soap. The floor along the wall was lined with thestral shell cordovan boots.</p>

<p>And next to the counter, pride of place had been given to a wooden mannequin wearing a full-length black thestral shell cordovan duster with a robe-style hood. It looked amazing and Harry knew he wanted it. It truly was a coat deserving of being worn by Death’s champion. He sauntered up to the work of art and nonchalantly flipped the price tag. Two hundred galleons (£10,000). Ouch.</p>

<p>“Би эрхэм тусалж чадах уу?” a voice said.</p>

<p>Harry turned to see an old man standing in the doorway.</p>

<p>“Sorry?”</p>

<p>The man looked a little surprised at Harry’s western features, but quickly rallied. “Can I help, sir?”</p>

<p>“Yes, I’m looking for thestral tail hair.”</p>

<p>The man smiled. “You cannot see it?”</p>

<p>Harry gave him a look. “I cannot see it because it is not on display.”</p>

<p>“Ah, well done, sir. But I am surprised to see one so young who has seen death.”</p>

<p>Harry shrugged. If the old man only knew.</p>

<p>“How much you want?”</p>

<p>“Ten strands — in a wand-core braid.”</p>

<p>The shopkeeper suddenly looked cautious. “You want for wand core.”</p>

<p>“Is that a problem?”</p>

<p>“Where you go after here?”</p>

<p>“Back home to Europe.”</p>

<p>The man was silent for a few moments.</p>

<p>“Okay. But you did not buy from here, right?”</p>

<p>“Sure, I understand.”</p>

<p>Five minutes and two galleons later, Harry pocketed a long wrap of thestral hair cord and a small bottle of thestral glue (£100).</p>

<p>“And for another two galleons, I’d like to reserve that coat for a year,” Harry said, pointing at the breathtaking black duster on the mannequin.</p>

<p>The shopkeeper grinned. “You like it.”</p>

<p>“Yes, but I cannot buy it just now.”</p>

<p>“Okay. I can do that, Mister…?”</p>

<p>Harry scrabbled for an appropriate name. “Death.” Dammit!</p>

<p>The man raised a single eyebrow. “Okay then, Mister Death. I hope to see you again for your purchase… but only for that, of course.”</p>

<p>Harry left, berating himself for his dumbass name choice, and decided to get a room to rest his core before the long-as-hell apparition trip back home.</p>

<p style="text-align: center;">— DP&SW: RiBSR —</p>

<p>And now, after three whole weeks back in the past, here it was.</p>

<p>Harry reverently opened the wooden box, which the muggle war-veteran carpenter and wood carver had made to go with the wand, and, eyes shining, gazed upon a thing of beauty.</p>

<p>The handle was ornate and featured many little discrete motifs of Harry’s own design along the hilt, which curved down in a graceful arc to the wand proper, before spiralling all the way down to the wand’s point, like a wrought iron twisted fence.</p>

<p>Harry spied, among the hilt motifs facing him, a tiny lightning bolt killing a snake, and another striking a goat. The handle itself was textured in an interlocking lightning bolt pattern and the pommel was perfectly round and used the wood’s swirling grain to suggest a smoke-filled orb.</p>

<p>It was perfect.</p>

<p>“Yep, some of my best work that,” the craftsman said, noting the look of extreme delight on Harry’s face. “Still say it’s a mighty weird request, and some of the materials you wanted… well, I’ve never seen anything like that glue ever. I’d swear there wasn’t even a visible join between the middle and the tip. And that cord… my friend insisted he couldn’t even see it! But in the end, I figured you certainly knew what you wanted and was willing to pay for it, eh, young man?”</p>

<p>“Yes…” Harry said, only half listening, distracted by his own internal musings. “It is strange like that.”</p>

<p>He reached for the wand and felt the connection before his digits even touched it. As his fingertips wrapped around the handle, warmth shot through him, quickly building into a crescendo, pulsing power down his arm and through the wand, sending emerald-green sparks up and all over the wood shop counter.</p>

<p>“Bloody hell!” The man shouted. “What was <em>that</em>?”</p>

<p>“Magic.”</p>

<p>The man stared. “Huh. Whad’ja know. And my wife’s always going on about horoscopes and psychic readings, and all that. Figures there would be something to it all.”</p>

<p>“Yes. You’ve really done an excellent job. This has got to be the only muggle-made wand in the country, if not the world. And it looks and feels better than <em>any</em> <em>I’ve</em> seen or felt.”</p>

<p>“Er… thank you, I think?”</p>

<p>Harry casually fingered the wand’s tip before pointing it at the master craftsman.</p>

<p>“Obliviate.”</p>

<p style="text-align: center;">— DP&SW: RiBSR —</p>

<p>Harry stepped outside the woodwork shop and spent a good twenty minutes throwing up a casual detection ward to alert him if any other wizards gained entry. There wasn’t much magic around, so it wouldn’t last long, but it would do the job for now. He felt he owed a tiny bit of protection to the man for such good work, and who knows, he may have need of him in the future. That, and it would give him early warning if someone managed to somehow trace his wand’s origins.</p>

<p>Wow, it felt good. His old holly and phoenix feather wand hadn’t felt half as natural, or as powerful, as this one did. And there he’d been, thinking this wand was just going to be a rough-and-ready stopgap measure. Hah! All that, ‘wand chooses the wizard,’ dragon crap… turns out the wizard just needs to <em>really</em> know himself.</p>

<p>And now that he had a wand, he could attack his next greatest vulnerability, his rather empty and nonexistent vaults.</p>

<p style="text-align: center;">— End of Chapter Two —</p>
