Chapter 30 - Securing the Area…

<p>Hogwarts castle holds many secrets. Some secrets are open to all who care to listen, told to first year students the moment they walk through the doors. Other secrets are hidden by layer upon layer of enchantment, illusion, and age old runes, buried so deep in the very stone work that none but the most learned or lucky ever find them. But by far the largest number of secrets are protected only by the will of the minds that hold them — secrets of forbidden trysts in broom cupboards, of broken promises and unspoken favour swapping — a web of lies and deceit expertly woven in the playpen of future magical leaders, cunning, byzantine, and always<em> totally</em> innocent of all charges, no really, it wasn’t me professor, it was him.</p>

<p>Compared to the <em>actual</em> leaders of the magical world though…</p>

<p>Albus Dumbledore crept through a row of books, soundless and invisible. His target sat alone and soon he would have what he needed. Framing someone for a crime they didn’t commit wasn’t easy, unless, of course, you controlled the defence — then it was no more difficult than a hair, a polyjuice, and a well placed illegal dark curse.</p>

<p>Harry Potter was reading in a library chair, taking about as much notice of the world around him as a nail in a block of wood.</p>

<p>Dumbledore raised his wand and thought, ‘accio loose hairs.’ Nothing happened. No loose hairs zoomed towards him. He frowned.</p>

<p>Harry Potter carelessly scratched his nose and shifted so his legs hung over the chair’s armrest, the book now held high over his face.</p>

<p>Dumbledore turned and headed back the way he came. Well, okay then, maybe not <em>quite</em> as easy as that.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Dumbles just tried to sweep me for hairs.” Harry climbed into his trunk and shut the lid behind him.</p>

<p>Daphne and Hermione looked up from their own books on their couch and frowned.</p>

<p>“He didn’t get any did he?” Daphne asked.</p>

<p>“No, of course not.”</p>

<p>“Good.” Hermione carefully put a bookmark in where she’d been reading and placed the book on the table in front of her. “I hate to think what he’d try if he had.”</p>

<p>Harry landed in the armchair opposite the girls. “<em>I</em> <em>have</em> thought about it.”</p>

<p>“And?” Daphne asked, copying Hermione and giving Harry her full attention.</p>

<p>“Could be for a love potion, possibly on one of the non-noble Dark witches keyed to me — you know — try the same trick that he thinks worked with you, Daph, to make sure the Dark also distance themselves from me like he thinks the Gray have.”</p>

<p>Daphne nodded.</p>

<p>“Could also be a straight up frame attempt with polyjuice.”</p>

<p>Daphne frowned. “But framing someone with polyjuice is almost impossible. That’s what the polyjuice defence is for.”</p>

<p>“Yes, but it’s easy if you control the defence.”</p>

<p>“I’m sorry.” Hermione raised her hand. “What <em>is</em> the polyjuice defence?”</p>

<p>“Oh.” Harry turned to her. “It’s a legal defence. Because polyjuice isn’t illegal and is readily accessible for the right price, it’s impossible to convict someone of a crime with eye-witness testimony alone, <em>unless</em> you can catch the person red handed <em>and</em> then hold them under surveillance for an hour to make sure they’re not under polyjuice.”</p>

<p>“Because otherwise the person who committed the crime could just have been pretending to be the defendant using polyjuice.” Hermione nodded in understanding.</p>

<p>“Exactly.”</p>

<p>“But what was that about Dumbledore controlling the defence?”</p>

<p>“Last time around, when they convicted me of Ginny’s murder, guess who was my defence lawyer?”</p>

<p>Hermione’s jaw dropped. “No way! Dumbledore?”</p>

<p>“Yep.”</p>

<p>“That’s hardly fair.”</p>

<p>Daphne shrugged. “The defence of a minor would have been appointed by the minor’s lord if he was noble. We don’t know Lord Potter’s motivation, but apparently he saw no problem with it.”</p>

<p>Hermione folded her arms. “Well, Dumbledore didn’t <em>get</em> any of your hairs, so it shouldn’t matter, right?”</p>

<p>Harry chuckled. “Oh, if only. This shows that there’s a good chance he <em>may </em>be plotting something similar to the end of the second year in the second timeline.”</p>

<p>Hermione’s frown turned worried. “So what do we do?”</p>

<p>“We let him overextend himself. He thinks the Gray has distanced itself from Harry Potter when it hasn’t. This could be a perfect opportunity to strike a powerful blow. After all, we’ll have no more use for him here once we have the stone.”</p>

<p>“You mean <em>let</em> him frame you?” Hermione worried her lip. “But Harry, what about… you know…” she looked towards the book on mind healing open on Harry’s desk.</p>

<p>Harry let out a long sigh. “I’ll just have to focus all my free effort on getting <em>that</em> under control as quickly as possible. I <em>can’t</em> let that continue to be an issue.”</p>

<p>Daphne drummed her fingers on the chair rest. “Even then, it’s not like we should be happily running around clueless. It will massively help our cause if we know what he’s planning to frame you for, if he even is.”</p>

<p>“Yes, it’s a shame we can’t use Eye of Kilrogg on him, or anyone with magic sensing for that matter. We’ll just have to keep our normal eyes and ears open.”</p>

<p>The girls nodded.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Malfoy Manor, currently the largest and newest manor of the three powers of Magical Britain, could never be said to be understated. White and pillared, it looked more like Versailles than Kensington Palace. Once a year, it played host to the Malfoy Yule Ball, the premier event of the social calendar, even for those who didn’t buy into the Malfoy’s more divisive political views. Light, Gray, or Dark, they would all be greeted graciously by Lord and Lady Malfoy, although sometimes the smiles guests received <em>were</em> rather fixed. It was, after all, rather embarrassing to be hosting as guests, people who you’d been doing your level best to murder when you were younger.</p>

<p>Fixed didn’t even begin to describe the rictuses now on Lord and Lady Malfoy’s faces as Lord Slytherin glided up the steps to the front door, which was interesting. Harry had brief dealings with Malfoy in the past three years, but never before had, ‘barely contained dread,’ ever entered his mind to describe a Malfoy smile.</p>

<p>The Lord and Lady greeted him and led him to the drawing room, all the while throwing him occasional hasty glances and reassuring smiles, although who they thought they were reassuring was anyone’s guess.</p>

<p>“Drink, Lord Slytherin?” Lord Malfoy asked when they arrived.</p>

<p>“Ogden’s 59, if you have it.”</p>

<p>“O-Of course.” Lord Malfoy picked up the bottle and Harry couldn’t help noticing the man’s knuckles whitening around the bottle. “So,” he started once he’d poured Harry a glass and sat down beside his wife, “what can this humble wizard do for you?”</p>

<p>“I’m planning on taking my place on the Hogwarts board soon and I wanted to discuss some key issues I intend to bring up.”</p>

<p>“And you would talk with me? Rather than your Lord Greengrass?”</p>

<p>“One of those issues requires a… shall we say, more united front, than the usual trivialities of whether to upgrade the school brooms.”</p>

<p>Malfoy hesitated with his glass halfway to his lips. “Oh?”</p>

<p>“Dumbledore.”</p>

<p>Narcissa breathed in sharply. “Y-You intend to go after Dumbledore?”</p>

<p>“I feel that the time may be coming where he could better utilise his many talents somewhere <em>else</em>.”</p>

<p>Lucius and Narcissa shared a meaningful look.</p>

<p>“And how do you plan to accomplish this?” Lord Malfoy asked. “Dumbledore’s supporters hold the power on the board — not even the Dark and your Gray together would be able to remove him.”</p>

<p>Harry made a nonchalant hand gesture. “Dumbledore might soon be having some problems.”</p>

<p>“Really?” Interest pierced through Malfoy’s otherwise cautious eyes. “I haven’t heard any issues coming up.”</p>

<p>“That’s because they don’t exist yet.” Harry took a sip from his glass. “Mm, on that note, there is one thing I’d appreciate your assistance with.”</p>

<p>Malfoy slightly inclined his head.</p>

<p>“Harry Potter.”</p>

<p>Narcissa sucked in her breath through her teeth. “The little boy who couldn’t keep his hands to himself?”</p>

<p>“The very same. I’d like him isolated for the next month.”</p>

<p>“Just isolated? Just the next month? Seems rather lenient.”</p>

<p>“Ah, well, I believe <em>Dumbledore,</em>”—he spat the name—“would say that the greatest power in the world is <em>love</em>.”</p>

<p>Silence.</p>

<p>Then Narcissa gasped. “Love potion? But, he is noble.”</p>

<p>“And was never taught how to call his ring.”</p>

<p>“Then why the isolation?”</p>

<p>Malfoy’s eyes sharpened. “This has something to do with Dumbledore’s problems.”</p>

<p>Harry idly swirled his drink in his glass and smiled behind his mask. “Perhaps. Either way, I hope I can count on your support on this?”</p>

<p>Lucius and Narcissa exchanged another look. Then they both turned back and nodded.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ten minutes later, Harry walked to the edge of the Malfoy wards, crossed over, and chain apparated back to his Hogsmeade apartment. The meeting with Lord Malfoy had gone well — amazingly well, in fact. Harry had been expecting to fight with the man on an upcoming Dark focused Wizengamot bill or two, maybe make some well chosen concessions in return for Harry’s requests, but no, Malfoy had practically rolled over like a dog before his master. The way Malfoy reacted when Harry had asked for that particular Ogden’s vintage was telling. It had been Tommy boy’s favourite, after all. If Malfoy had gotten it into his head that Lord Slytherin was Voldemort… well, it would certainly make his life easier in the next few weeks.</p>

<p>He conjured his favourite armchair and sat down. Right now however, he had an empty time slot available to deal with something that had been demanding his attention for the last few days.</p>

<p>“Elf!”</p>

<p>A young naked house elf popped into the space in front of Harry, vibrating with enthusiasm, bowing so low his long nose touched the floor. “Master, your elf is at your service.”</p>

<p>“Good. I’ve thought long about what you will be called and have decided. From now on, your name shall be Plato.”</p>

<p>The elf looked up from the floor with eyes as large as bright as lightbulbs. “Oh, thank you, Master. Plato will do his best to serve his Master, Master.”</p>

<p>Harry nodded. “Let’s set down some rules, okay?”</p>

<p>The newly named Plato nodded his head up and down, still bowed to the floor.</p>

<p>“Rule one — you need only bow to me once upon being called, then you will stand at rest.”</p>

<p>Plato instantly straightened.</p>

<p>“Rule two — when I am wearing this mask, you must call me either, ‘Master,’ or, ‘Lord Slytherin,’ never anything else, understand?”</p>

<p>Plato nodded. “Understood, Master Lord Slytherin.”</p>

<p>“Rule three,” Harry took off his mask, drank an ageing potion antidote, and un-transfigured his face. “When I am like this you must call me either, ‘Harry Potter,’ or, ‘Mister Potter,’ never anything else, understood?”</p>

<p>Plato regarded him with wide-eyes. “Master is <em>young</em> Master.”</p>

<p>“Do you <em>understand</em>, Plato?” Harry demanded, his voice turning firmer.</p>

<p>Plato quickly nodded. “Plato understands, Mister Potter”</p>

<p>“Good.” Harry put the mask back on. “Shall we move on?”</p>

<p>“As Master Lord Slytherin wishes, Master Lord Slytherin.”</p>

<p>“Rule four — as a member of the Ancient and Noble House of Slytherin, you must always comport yourself with the dignity and bearing of the house. Do you understand?”</p>

<p>Plato stood a bit taller, completely unashamed by his nakedness. “Plato understands, Master.”</p>

<p>“Rule five — you are never to speak the secrets of the Ancient and Noble House of Slytherin to anyone who is not of the House, under threat of clothes, understood?”</p>

<p>A twinge of fear entered Plato’s eyes. “Plato understands, Master.”</p>

<p>“Rule six builds on rule four — you will attire yourself as I expect — and what I expect is plain emerald green robes with the crest of Slytherin House on the arms, do you understand?”</p>

<p>Plato’s eyes widened. “Master, house elves is not to be wearing—”</p>

<p>“—You are not just any house elf, Plato, you are <em>my</em> house elf. When people see you, they will be seeing <em>me</em> — my house — my family, do you wish to shame me by showing people a member of Slytherin House wearing rags?”</p>

<p>Plato’s lip trembled.</p>

<p>Harry shook his head. “The robes you wear will remain the property of Slytherin House. You will not own them, merely take care of them, keep them clean and well maintained, is that a fair compromise?”</p>

<p>Plato’s lip stopped trembling. He seemed to think for a moment. Then he nodded. “Plato understands, Master. Plato will wear Master’s clothes and keep them in perfect condition.”</p>

<p>“Excellent. Raise your right hand.”</p>

<p>Plato raised his right hand, and Harry waved his wand over it. A ring appeared on Plato’s finger. Plato stared at it in awe.</p>

<p>“This is a servant ring. It grants you limited access to the Slytherin Gringotts vault and acts as identification when doing business on my behalf. I will be spending most of my time in Hogwarts, where, unfortunately, you will not be able to directly serve me, at least not for the moment.”</p>

<p>Plato’s awe quickly vanished. His head drooped and his ears sank down flat against his face.</p>

<p>“It’s something I’m working on it. While I’m there, you will stay with my vassals, the House of Granger, but let’s go over what else we need to do.”</p>

<p>Plato shook away his disappointment and stood back to attention. “Yes, Master Lord Slytherin. Plato will always serve you, Master. Even when Master is away.”</p>

<p>Harry smiled. Merlin, house elves were awesome.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Draco sat at breakfast and read his owl from home.</p>

<p><em>Dear Draco,</em></p>

<p><em>We hope this owl finds you well and that you are proceeding satisfactorily with your studies. I look forward to seeing your outstanding results at the end of the school year.</em></p>

<p>Draco looked uneasily over at where Greengrass and Granger sat at the opposite end of the table. He’d be feeling a lot more comfortable if Anthony Goldstein from Ravenclaw, a friend of the family, hadn’t told him that he currently sat in twelfth place overall in the year, according to the Ravenclaw academic tables in the Ravenclaw common room. He cast his eyes back down to the owl.</p>

<p><em>A matter has come up which requires your action. For the good of the Dark and the Noble House of Malfoy, Harry Potter must be isolated from us and all our allies for the next four weeks. I trust you will be able to accomplish this. It is very important.</em></p>

<p><em>Love,</em></p>

<p><em>Father and Mother</em></p>

<p>Draco’s eyes widened. Really? But it was almost the duelling tournament. This was the moment when being seen to have Potter on their side would be <em>most</em> beneficial. He’d actually quite enjoyed having the super powerful boy in his circle for the last week, but…. He traced the signature at the end of the owl with his finger. …If father demanded it, then it had to be done.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Good help is hard to find. Sometimes though, good help isn’t what a wizard is looking for.</p>

<p>Dumbledore sat in the small throne behind his desk in the Headmaster’s office. His many trinkets biped and bobbed and occasionally one would let out a little hiss of steam or plop of dripping water.</p>

<p>The door opened and a seventh-year Hufflepuff witch stepped through. She looked nervous. Her hair was short and bubblegum pink.</p>

<p>“Ah, Miss Tonks,” Dumbledore smiled a grandfatherly smile. “Please sit down and don’t mind the mess.”</p>

<p>“Ah, thank you, Headmaster.” Tonks sat down in the chair offered. Her eyes quickly darted around the room before focusing on the Headmaster again. “I’m not in trouble, am I? This isn’t about the duelling club, is it? Because I swear I didn’t mean to hex Catherine quite that badly during practise.”</p>

<p>Dumbledore waved his hand jovially. “No, not at all Miss Tonks. Not at all. I actually wanted to talk about your immediate plans after your NEWTS. I understand you plan to join the auror training program after graduation.”</p>

<p>Tonks nodded.</p>

<p>“Are you aware that in the last war, I led a… shall we say, resistance force, against Voldemort?”</p>

<p>Tonks flinched before answering. “It was always rumoured, sir, but no one knew for sure.”</p>

<p>“You know why I formed that organisation?”</p>

<p>“To fight you-know-who.”</p>

<p>“Yes, but why did I need to? Why weren’t the aurors able to?”</p>

<p>“Uh.” Tonks hesitated. “Because of the Dark in the Wizengamot?”</p>

<p>Dumbledore slightly inclined his head. “I need to ask you a question, Miss Tonks. If another war happened like the last one, terrible though that would be, would you stay to your command in the aurors, doing nothing to protect the people who cannot defend themselves, or would you do the hard and dangerous thing, and work behind the backs of your superiors and colleagues, knowing that if you’re caught it could mean your job at best and your life at worst?”</p>

<p>Tonks swallowed. “I…I like to think I would, yes.”</p>

<p>“Even if it meant breaking the law?”</p>

<p>Tonks hesitated again, before straightening. Her eyes firmed. “If the law no longer protects the innocent then it is no law at all.”</p>

<p>Dumbledore leaned in closer and looked at Tonks’ over his moon shaped glasses. “What if you had to do things that were not only illegal, but were also immoral? What if the only way to save many innocents was to cause the death of one innocent?”</p>

<p>Tonks’ hair shifted from pink to white. “I don’t know. Surely there would be <em>some</em> way to save them all.”</p>

<p>Dumbledore slowly shook his head. “War does not always allow us that luxury, I’m afraid. That is the terrible responsibility that is placed on those who fight the darkness.”</p>

<p>Tonks sat in her chair. She stared at the window in thought for a long while. Her hair shifted from white, to yellow, to red, and back to pink again. “No, sir.”</p>

<p>Dumbledore raised a single bushy eyebrow.</p>

<p>“Miss Tonks?”</p>

<p>“I don’t accept that, sir. I suppose there <em>might</em> be situations where things go wrong, but I believe you should always fight to do the right thing for everyone equally.”</p>

<p>Dumbledore regarded the stone faced young metamorph in front of him for a few long seconds before smiling widely and letting out a laugh belly laugh. “Well spoken, Miss Tonks.”</p>

<p>Tonks’ stern face became confused. “Sir?”</p>

<p>“That is <em>exactly</em> the attitude of a fine auror — one that Magical Britain can be proud to have defending its citizens.” He leaned over the table. “Remember that attitude, Miss Tonks. And never forget it. ”</p>

<p>Tonks’ confused look broke into a wide smile. “Ah, yes, Headmaster.”</p>

<p>Dumbledore settled himself back in his chair. “Mmm… as it happens, a friend of mine is looking to get into auror prep after retiring from the department. If you feel ready, I could forward your name to him to work with you over the summer break to help prepare you. Auror training is not for the faint of heart and you will need every advantage you can get.”</p>

<p>Tonks’ eye’s lit up. “Yes, I’d very much like that, thank you.”</p>

<p>“Now, I’ll let you get back to what you were doing. I’m sure you’ll help bring Hufflepuff the duelling cup this year.”</p>

<p>Tonks grinned. “I plan to!” She stood up, turned around, and exited, leaving the Headmaster alone in the room.</p>

<p>Dumbledore stared at the now closed door.</p>

<p>…Damn.</p>

<p>— DPaSW: TFoP —</p>

<p>It was during one of the mission preparation sessions that Harry and the girls now spent every free moment of their time in, that <em>it</em> happened.</p>

<p>Every single foot placement, every hand movement, every spell — Harry, Hermione, and Daphne had mapped out and written down every step needed to deactivate the fidelius once they’d tripped it.</p>

<p>On the outskirts of the forbidden forest, they’d set up fidelius charm after fidelius charm, always with Daphne as the secret keeper, continually experimenting with how Harry and Hermione reacted to different instructions, both inside and outside the charms.</p>

<p>Harry had spent days learning how to measure his footsteps and hand movements, all to a set of standard measurements, even while blindfolded.</p>

<p>Hermione had learned both how to overcome the weirdness of suddenly being faced by a list of instructions with no memory of how it came to be, and to quickly persuade a similarly confused Harry to follow her instructions.</p>

<p>But despite their best efforts, they still found guiding Harry, footstep by footstep, through a test maze they couldn’t remember, and which Harry couldn’t see, to be hard going.</p>

<p>That was when Daphne had the idea that since Harry could sense magic, he could follow a trail left behind by her invisible Eye of Kilrogg. That way Daphne could be the one to follow the pre-written instructions, and since moving the eye only required magical intent, rather than physical limb placement, it would be much easier to control to exact location of the eye.</p>

<p>Of course, this now meant that Daphne too had to learn to follow pre-written instruction under the influence of fidelius. So, she’d summoned her eye of Kilrogg, placed it in the middle of the area to be placed under fidelius, and waited for Harry to finish the charm and place the role of secret keeper with Hermione.</p>

<p>Harry did so.</p>

<p>And Daphne could still remember.</p>

<p>Hermione frowned as she turned to her.</p>

<p>“Hermione.”</p>

<p>Hermione didn’t say anything, just continued to observe her behaviour.</p>

<p>“I remember.”</p>

<p>“What?”</p>

<p>“I remember. The fidelius didn’t work on me.”</p>

<p>Hermione’s eyes widened in shock.</p>

<p>Harry was still busy reading his parchment, looking confused and weary, just as he always did when the fidelius had just wiped his memory of where he was standing.</p>

<p>Hermione looked around frantically. Her voice dropped to a fierce whisper. “That’s impossible!”</p>

<p>“It happened. I think it was my Eye of Kilrogg. It was in the area before the fidelius activated.”</p>

<p>Hermione quickly told Harry the fidelius secret and together she and Daphne told Harry what had happened.</p>

<p>Daphne thought Harry couldn’t decide whether to be excited or alarmed. Eventually he drew his wand and pointed it at the sky. “This doesn’t leave us,” he firmly stated. “We have accidentally discovered a weakness in the fidelius charm. We use that charm for so many things. If anyone found out that it was possible to negate the charm if you can somehow get an Eye of Kilrogg into the charm space, we’d lose so much of our tactical advantage it isn’t even funny. From this moment on, I declare this to be a Slytherin family secret.”</p>

<p>Hermione and Daphne nodded, slightly wide eyed, feeling the compulsion magic slowly settle on them like a flurry of light snow.</p>

<p>Harry lowered his wand. “Having said that, if Daphne can get into the charm space while the fidelius is active, and still keep her head, then the chances of this ridiculous plan actually working just shot up massively.” Harry grinned.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore sat, once more, behind his office desk. Getting the metamorph on his side would have been perfect for his plans, but it seemed it wasn’t to be. No matter. He had a feeling his backup plan would be far more willing.</p>

<p>The door opened.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John walked into the Headmaster’s office and sat down in the chair opposite the wise old man. “You asked for me, Headmaster?”</p>

<p>“Yes, John.” Dumbledore sighed. “I feel I owe you an apology.”</p>

<p>An apology? John’s eyebrows rose and clearly his surprise showed on his face.</p>

<p>“Yes, an apology — for not listening to your counsel at the start of the year. It would seem that in my old age, I’ve become far too sure of myself.”</p>

<p>“Counsel?” John racked his brains but the only time he could think of talking with the old man had been….</p>

<p>“When you advised me about your brother’s behaviour. Recent events have forced me to reconsider my original stance. You no doubt heard about the explosion on the second floor? It was caused by your brother. He is, in fact, far more dangerous than I had originally feared, and his raw power unquestionably matches your own unusually high levels. He is just like you — twins in every way, it would seem.”</p>

<p>John’s eyes widened. How was that possible? Yes, he’d <em>heard</em> rumours of his brother doing powerful magic, and there had been that bragging from Malfoy, but Malfoy was <em>always</em> bragging, wasn’t he? But if Harry really <em>did</em> match him in power…. <em>He</em> was only that powerful because he’d come from the future… which meant… John’s heart started to race.</p>

<p>“Although we’ve no way to prove it, I also believe that the explosion at the Burrow last year was indeed Harry. The similarity to the incident on the second floor are just too many.”</p>

<p>He knew it! Ginny. <em>His</em> Ginny. John clenched his fists together.</p>

<p>“I’m sorry, John.”</p>

<p>“Headmaster.” John steeled himself and stared straight into Dumbledore’s eyes. “We <em>have</em> to do something!”</p>

<p>“Mmmmm….” Dumbledore stroked his beard. “I fear your parents would not listen to me though, nor to you. What would you suggest?”</p>

<p>John hesitated. What would <em>he</em> suggest? He’d wait till next year, let the Chamber of Secrets open, and put his brother back where he belonged, back in Azkaban. Suddenly, images of Ginny cuddling into Harry’s arms flashed across his mind. His eye twitched. But if he waited then Harry could corrupt Ginny even more. He might lose Ginny forever, and, even worse, the timeline could become changed beyond recognition. If Harry <em>was</em> from the future, he might try to stop the chamber incident from happening to keep himself from being put in Azkaban. Harry could even realise what the diary was and take it away from Ginny!</p>

<p>John took a cautious breath. “Azkaban?” For a moment, John thought he saw a look of triumph shoot through the Headmaster’s eyes, but a split second later he was sure he’d imagined it.</p>

<p>Dumbledore frowned sadly, looking every year his old age. “John. Azkaban is a very serious recourse.”</p>

<p>“Yes, but…” John scrabbled in his mind for good reasons. “But, if Harry is as dangerous as you say, isn’t it critical that he’s somewhere he can’t become another Voldemort?”</p>

<p>The headmaster slowly nodded, as though thinking it over. “Yes. It is. And it might not be impossible.” The headmaster looked over his desk at him. “But it would require your help, a lot of planning, and <em>total</em> secrecy.”</p>

<p>John eagerly nodded. <em>Anything</em> to sort out this mess. He’d get Harry back in Azkaban and everything would be back to how it was supposed to be. His eyes sharpened. But not before forcing the truth out of his evil twin, <em>right</em> after he got out of here.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry felt a respectable aura of rage moving towards him. He looked up from the book he was reading in the library, and raised an eyebrow.</p>

<p>John was storming towards him, a look of intense anger on his face.</p>

<p>This should be interesting.</p>

<p>“You!” John shouted, the moment he got in range, causing several dozen students to look up sharply from their books.</p>

<p>“Mister Potter!” Madam Pince shrieked. “Volume! Get out! Now!”</p>

<p>John ignored her and made to grab Harry’s arm, which he shoved off.</p>

<p>John glared at him. “We need to talk, now!”</p>

<p>Harry looked up at the wide eyed crowd watching. He shrugged, packed up his books, and followed his fuming twin out of the library, Madam Pince admonishing them both all the way. As soon as they were alone in an empty classroom John turned around and glared at him, again. “You came back with me!”</p>

<p>“What?”</p>

<p>“You came back with me! Don’t try to deny it. At the end of the tournament, something happened and you came back!”</p>

<p>Harry’s eyes widened in disbelief. Not <em>even</em> a privacy charm. His eyes darted around the classroom. Now, the question was did he cast a privacy charm himself, go along with his brother’s accusation, and finally drop the chummy brother act, which would have certainly happened after John got his ass handed to him at the duelling tournament anyway, or did he just continue to deny everything for the time being?</p>

<p>“How did you time trav—”</p>

<p>Okay, the first option. Harry shoved his hand over John’s mouth, whipped out his wand and cast a privacy charm while John shoved his hand away and flicked a wand into his face, which Harry then smacked away, leaving them both a few feet apart from each other, and not currently pointing any wands.</p>

<p>John looked at Harry’s wand in shock. “What was that?”</p>

<p>Harry glared at him. “A privacy charm, idiot. You do realise that long term time travel is illegal, right? Like, lock-you-up-and-dissect-you-in-the-department-of-mysteries illegal? It’s not the sort of thing you just go around talking about in empty classrooms! <em>Please</em> tell me you haven’t told anyone else.”</p>

<p>John ignored him and glared right back. “How did you come back?”</p>

<p>“I don’t know,” Harry snarled. “One day I was happily minding my own business, letting demons from hell rip all good feelings from my head — you know, the usual — and next I’m sitting back in the cupboard under the fucking stairs!”</p>

<p>“What cupboard?”</p>

<p>Harry ignored him in turn. “And then I was like, ‘oh wow, I’m back in time. Maybe this time I can make it through second year <em>without</em> being framed for letting a bloody great snake out on the school.’ He glared at John.</p>

<p>John glared back. “Ginny is <em>mine</em>.”</p>

<p>“I think you’ll find, that Ginny is hers. Time-travel.”</p>

<p>John’s glare became momentarily confused. “What?”</p>

<p>Harry smiled a smile of zero warmth. “Just a bit of insurance. I know memories can’t be used as evidence in criminal cases, but you can’t be too careful. Considering the penalties we’d incur if what happened to us became public, I’m pretty sure neither of us want this conversation shared with anyone else, mmm?”</p>

<p>John didn’t say anything for a few moments.</p>

<p>“Nothing else?”</p>

<p>“Who is Lord Slytherin?”</p>

<p>Harry frowned. “The hell if I know.”</p>

<p>“You don’t?”</p>

<p>“Of course, I don’t! Why would I? You think I’m chummy with him, do you? When he’s in the habit of sticking his wand under my chin and threatening me in front of the whole school?”</p>

<p>“But… but something must have happened to change the timeline. He wasn’t here last time around.”</p>

<p>Harry rolled his eyes. “You’ll understand it if I don’t have a great memory for the ins and outs of the Wizarding World’s social circles from last time around. Maybe someone else came back with us too?”</p>

<p>John groaned.</p>

<p>“How <em>did</em> you come back anyway?” Harry asked. “Whatever it was must have pulled me along as well.”</p>

<p>John stiffened. “I’m not telling <em>you</em>.” He sneered and waved his wand in Harry’s general direction. “You won’t get away with this.”</p>

<p>Oh, he did <em>not</em> just say that. Harry looked at John with half-lidded eyes. “And what exactly <em>am</em> I supposed to be getting away with? Not being sent to Azkaban for a crime I didn’t commit?”</p>

<p>“You’re changing the timeline!”</p>

<p>“And that’s bad, how?”</p>

<p>“Huh?”</p>

<p>“I said, ‘why is that a bad thing?’”</p>

<p>John narrowed his eyes. “I’m not telling you anything. You’d probably <em>help</em> him.”</p>

<p>Harry shrugged. “Well, until you’ve got something more useful to talk with me about, I suggest you keep yourself to yourself.”</p>

<p>John walked his way towards the door, but before he opened it, he turned back, fixing Harry with a nasty smile. “You’ll see. I’ll do what needs to be done and show everyone that they were <em>right</em> about me — and that you don’t deserve <em>anything</em>.” John opened the door, steeped through it, and slammed it behind him.</p>

<p>Harry stared at the door for a moment. Wow. Then he cast a tempus and grinned. Oops, almost time for him to take his place on the Hogwarts Board — that was a something more than anything, wasn’t it?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Thirty minutes later, Lord Slytherin walked into the Hogwarts grand meeting room and surveyed the inhabitants.</p>

<p>There was Lord Malfoy and Lord Parkinson who made up the small Dark faction on the board. There was Lord Woodcroft—the man who owned his Hogsmeade apartment—talking to Lord Jacob Greengrass, the two of them together making up the Gray contingent. And finally, the Light — Lords Hawking, Smith, Blott, Fowley, Black, and Potter, along with the only non noble present, Ambrosius Flume, who acted as chairman. Despite being allowed to sit as a silent witness, Dumbledore was surprisingly <em>not</em> present.</p>

<p>The inhabitants turned from their own private conversations, some standing, some sitting, and briefly regarded him with varying degrees of wariness. Jacob waved and grinned.</p>

<p>Ambrosius Flume cleared his throat. “Well, now that we are all here, perhaps we should get down to business?”</p>

<p>Harry took a seat in between Jacob and Woodcroft, directly opposite his father who was staring at him with a look of deep suspicion.</p>

<p>“Right,” Flume started, “minutes of the previous meeting—”</p>

<p>“Ah, one moment, Mister Chairman.” Lord Potter put a finger up. “A point of protocol. I think we’d all be interested to hear our newest member’s opinion on the proper protocol for board members to be on school grounds when a meeting is not in session.”</p>

<p>Harry inclined his head. “A house matter, Lord Potter. Perfectly within the rights of a Lord of the Wizengamot.”</p>

<p>“Shoving your wand in my son’s face is <em>your</em> house matter, <em>how</em>?”</p>

<p>“The boy <em>was</em> attacking my betrothed. I was merely administering a verbal warning.”</p>

<p>“You come to <em>me</em> if you wish to communicate a warning. Harry is <em>my</em> son, not <em>yours</em>.”</p>

<p>Harry couldn’t help a note of annoyance slip into his voice. “Oh, really? And when was the last time you <em>communicated</em> with the little squib exactly? Ten years ago?”</p>

<p>James Potter opened his mouth angrily to retort, but was cut off by Flume.</p>

<p>“—I <em>think</em> that this has moved far enough from a mere point of protocol now, thank you, my lords.” Flume’s voice was firm and both Harry and Lord Potter quietened. “Now, as I was saying, minutes of the previous meeting…”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John was still angry half an hour after confronting his brother, but that anger quickly left when he eventually ran into Susan who was practically vibrating with purpose.</p>

<p>“John, Granger is in Healer training.”</p>

<p>John hesitated. “So?”</p>

<p>“I saw Greengrass out near the lake with Davis, but then Davis left and now it’s just Greengrass.”</p>

<p>John suddenly realised what Susan was getting at. “You think we should do it now?” They’d been waiting for an opportunity to talk with Greengrass disguised as Hermione for days.</p>

<p>“Yes!” Susan whispered, eyes bright. “It’s perfect! Do you have the hairs on you?”</p>

<p>“Sure, they’re here.” John took out the small jar from his pocket.</p>

<p>“Right. Give me a few moments.” Susan took the jar and started fiddling with it. “Can you transfigure the crest on my robes into the Slytherin one?”</p>

<p>John frowned. “I thought <em>I</em> was going to do this?”</p>

<p>Susan gave him what he thought to be an unneeded patronising look, all the more irksome because of the cuteness of the face on which it was displayed. “John, you didn’t <em>really</em> think that you’d be able to pass for a Slytherin Princess, did you?”</p>

<p>John hesitated. That sounded like the kind of question that had no winning answer.</p>

<p>“C’mon boy-who-lived,” Susan smiled. “Chop chop.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry gazed around the room, his brain doing political calculus while Flume brought up the fascinating question of whether Charity Burbage should have her request for an updating of the muggle studies curriculum approved or, as was more likely, rejected. Over half the board members might be light, but they were still a mostly old and stodgy lot.</p>

<p>With the addition of Lord Slytherin there were now three Gray members, two Dark, and six Light, making eleven members, not including the chairman, who acted as casting vote in the event of any ties.</p>

<p>If Harry wanted to have any chance of swinging the board to his favour he needed to get at least <em>one</em> of the light members to switch sides on the eventual matter of Dumbledore.</p>

<p>His father was, of course, totally out. Lord Black, who looked bored out of his mind, was about as likely to split off from Dumbledore as Alexandra was to declare herself a lover of frilly pink dresses.</p>

<p>Lord Fowley was one-half of Wizarding Britain’s ministry enforced oligopoly on food trade with the Muggle World, which might have been promising, if the other half hadn’t been the Greengrasses, making Lord Fowley entering a political alliance with the Gray highly unlikely — unless the man <em>wanted</em> the Department of Magical Trade investigating them both for possible charges of breaking their charters.</p>

<p>Lord Blott was a possibility, but would have to have a <em>very</em> good reason to vote anti-dumbledore. The Noble House of Blott was one of the largest winners in the ministry’s long term effort to control the supply of information on magic spells and practises. There was a good reason why <em>everyone</em> bought their books at Flourish and Blotts, after all.</p>

<p>Lord Hawking was the undisputed king of space charms. His house had a stranglehold on the supply of trunks, tents, and all kinds of space expanded items, from pouches to ministry cars. If you wanted something to be bigger on the inside than on the outside, you had to go to a Hawking, something that wizards of other countries tended to resent. The Hawkings had been the subject of more foreign familicide attempts than any other in Wizarding Britain.</p>

<p>Finally, if you didn’t count Flume, there was Lord Smith, who sat in his chair like a retired warhorse, massive and armoured, with a moustache to rival Uncle Vernon’s. The armour was steel and concealed under his robes in a way that somehow drew even more attention to it. A large war hammer was propped up on the wall behind him. Lord Smith had three children, all married, one daughter and two sons. The sons had children of their own, two of whom were in Harry’s year — Zacharias Smith, and Sally Smith, both in Hufflepuff.</p>

<p>It was Lord Smith that Harry had his eye on as the man to sway. The Lord’s oldest son had already given his allegiance to the Gray, which must make for some interesting family gatherings. Lord Smith himself was known to be a heavily pragmatic man, and the Light were squeaking that he was going to be the next to jump ship, something the younger son, who was a fierce Dumbledore supporter, was supposedly desperate to prevent.</p>

<p>“All those in favour of Professor Burbage’s proposal for a reworked muggle studies curriculum?” Flume asked.</p>

<p>Harry raised his hand. So did Lords Black, Greengrass, Woodcroft, and Potter. All the Gray and two of the Light. His father raised an eyebrow at him. Harry nodded his head slightly. Hey, only one off… not bad.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Polyjuiced Susan walked out of the castle and out across the grounds, all the while trying to <em>think</em> like Granger, trying to copy that same purposeful yet graceful movement Granger had, as though the ground were made of the upturned faces of those she barely tolerated.</p>

<p>Susan sort-of glided out towards the lake and saw her quarry levitating blobs of water. She’d been watching how Granger and Greengrass interacted when they thought no one was watching, and she thought she’d be able to imitate the style quite well.</p>

<p>She moved towards her. “Daphne.”</p>

<p>Greengrass raised her head from where she’d been concentrating. “Hermione? I thought you had Healer lessons?”</p>

<p>“Madam Pomfrey cancelled them, something about an emergency at St Mungo’s.”</p>

<p>“Oh. Well, I’m going to continue draining myself for a little while more. Want to join in for a bit?”</p>

<p>“Ah,” Susan hesitated, but it didn’t look too hard. “Sure.”</p>

<p>Greengrass nodded. “Our lord should be done soon, I think he wants a word with us after the board meeting.”</p>

<p>Susan suppressed a swallow. Meeting Lord Slytherin while polyjuiced as Hermione was not in her immediate plans. “Oh? Any idea what about?” She started to levitate a blob of water about the same size as the Greengrass heiress.’</p>

<p>Daphne looked around briefly and opened her mouth as though to say something, but no words came out. Instead she choked.</p>

<p>Susan had just enough time to raise a concerned eyebrow before Greengrass’ water blob fell into the lake with a splosh and the next thing she knew, Greengrass had her wand pointed straight at her.</p>

<p>Susan’s eyes widened, still with her wand pointed at the lake, her water blob still floating.</p>

<p>“Who are you?” Greengrass demanded.</p>

<p>A bead of sweat formed on Susan’s brow. How had Greengrass found out? “I’m Hermione, of course.”</p>

<p>Greengrass’ eyes narrowed. “Sure, you—”</p>

<p>Susan’s blob of water fell.</p>

<p>“—Are.”</p>

<p>Susan shielded and dived backwards just as Greengrass’s first spell hit. Easy. Another spell splashed off the shield and she dodged a third. Despite her heart thumping a drum beat in her chest, she wasn’t panicking. Another spell whizzed by. She wasn’t first seed on the Hufflepuff duelling team for nothing and she didn’t even need to beat Greengrass, just get away with her identity safe.</p>

<p>She dodged another spell, this one much closer. Adrenaline surged. Hah! Her eyes danced. Her heart raced. This is what she loved about duelling! That game of mere inches, where every split second counted, but this was no mere practise duel — no, this was the <em>real</em> thing and the stakes were <em>much</em> higher. Adrenaline coursed through her blood. Her eyes widened, taking in every bit of light they could.</p>

<p>Greengrass started yet another basic chain, her own eyes two ice-blue furious slits.</p>

<p>Susan instinctively countered it, months of practise making every motion automatic. Greengrass and her were about equal in terms of raw power, so they’d both be slowing down soon and at about the same time. That would give her the opportunity to get away. Her feet dug into the soft grass making indents in the soil.</p>

<p>Then, suddenly, two jelly-leg jinxes collided in mid air and Susan watched in horror as a long silver thread formed between hers and Greengrass’ wands. Greengrass’ free hand started to glow red, the silver threat strengthened, thickened with raw power, and before Susan could think another thought, she’d been yanked forward as though from the world’s largest reverse portkey. Greengrass flew towards her, connected by that silver thread, a bolt of red filled her vision, and she knew no more.</p>

<p>…</p>

<p>…</p>

<p>…</p>

<p>Susan awoke, bound in ropes and wandless, to the sight of Greengrass standing over her, smiling, her own wand pointed down at her.</p>

<p>“Well hello there, Susan Bones, Heiress of the Ancient and Noble House of Bones.”</p>

<p>Susan winced, Granger’s brown wavy hair falling down over her face. This was bad. “Look, I can explain.”</p>

<p>“Oh, do, please. You were <em>this</em> close to stealing House secrets.”</p>

<p>Susan grimaced and pushed Granger’s hair out of her face. “I wasn’t trying to — that was by accident.”</p>

<p>“Then what <em>were</em> you trying to do?”</p>

<p>“Look, Greengrass, Daphne,” Susan tried desperately. “Everyone’s worried, okay? No one knows what’s going on and it’s putting people on edge. The last time there was a mysterious wizard running around who didn’t want anyone to know his identity, it turned out to be you-know-who, you see that, right?”</p>

<p>“My lord is not the Dark Lord,” Greengrass said, her tone flat.</p>

<p>“I’m not saying he is, but you know, if we just knew a bit more about him it would put so many people’s minds at rest.”</p>

<p>“That is for my lord to decide when he is ready to release more information about himself, which I know he will do, but only when the time is right.”</p>

<p>Susan looked down at the ground.</p>

<p>“But about this situation…”</p>

<p>Susan looked back up.</p>

<p>“…I think three minor favours owed to the House of Slytherin by the House of Bones will suffice, don’t you agree?”</p>

<p>Susan quickly nodded her head. Three minor favours was the best possible outcome right now.</p>

<p>Greengrass smiled and released her ropes.</p>

<p>Susan collapsed backwards on the soft grass.</p>

<p>“Here.” Greengrass handed her back her wand.</p>

<p>“Thanks,” Susan muttered. She looked at her wand for a moment. “That was a wandless stunner back then.”</p>

<p>Daphne nodded.</p>

<p>Susan’s eyes widened. “Wow.”</p>

<p>“My lord is a good teacher.”</p>

<p>Susan let out a single laugh. “I’m jealous.”</p>

<p>“You should be.”</p>

<p>Susan grinned. “Mind you, John is a pretty good teacher too.”</p>

<p>A strange look crossed Greengrass’ face. “Oh really?”</p>

<p>“Yep! Me and him have been practising duelling for a few months now.” She looked back at her wand. “I guess it’s a good thing you’re not on the Slytherin duelling team. Fighting each other with these would be tricky.”</p>

<p>“I wouldn’t count your blessings until you’ve finished fighting who <em>is</em> on our team.”</p>

<p>“Oh, yes, <em>Harry</em> Potter. John really doesn’t like him.”</p>

<p>“Shocking.”</p>

<p>Susan looked down at her wand again. “Not that I’m complaining, but I do feel like I was kind of cheated on the wand front.”</p>

<p>“Oh?”</p>

<p>“Yeah, divination wands, right?” Susan laid her wand alongside Greengrass’ identical foci. Fat lot of good that is in a duel, or anytime, really.“</p>

<p>Greengrass looked down at her own wand as though seeing it for the first time. “Oh, yes,” she said, idly picking it up and turning it through her fingers. “How useless.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Profero oculus Kilrogg.”</p>

<p>It was the Saturday before the Duelling tournament and in a temporary fidelius charm, in the Hogwarts pipe network, just outside the muggle studies defence room, in the third-floor corridor, Daphne sat, ‘useless’ divination wand pointed at a spot just a few feet in front of her.</p>

<p>Harry and Hermione watched her as a large green eyeball appeared in the spot.</p>

<p>Daphne’s world shifted. Her third eye opened.</p>

<p>In the last few weeks, they’d practised and practised for this moment — gone over everything that could go wrong and made fall backs, back up plans, and plan Bs, all sprinkled with a dash of contingency, not the least of which was the addition of setting up an additional magical shield around the mirror room once they’d entered, to stop anyone trying to blast their way in from the outside, if that was even possible.</p>

<p>All their other plans had taken a back seat while they focused on the one thing that mattered right now — securing the mirror room.</p>

<p>Harry didn’t say anything. There was no need for words between them at this stage.</p>

<p>Daphne moved the eye into the space Dumbledore’s fidelius charm would appear once they tripped the ward. She gave Harry the thumbs up.</p>

<p>Harry nodded back, turned to the pipe’s wall and whispered, <em>“$Open$.”</em></p>

<p>The pipe opened a round, human sized hole, and the three stepped into the room beyond.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore sat in his office chair, sipping on a perfectly made cup of tea — perfectly made, with five lumps of sugar, three slices of lemon, and two tea bags, both of which were currently bobbing up and down against the cup’s fine china walls, humming a song about sailors.</p>

<p>At first he’d been worried about John’s extreme aggressive attitude towards Harry, but it looked like it would turn out useful in the end. Perhaps after Harry had been placed in the safety of Azkaban, he should take a personal interest in John’s education — power like that needed to be carefully managed.</p>

<p>He took another sip of tea.</p>

<p>Unfortunately, Harry being sent to Azkaban <em>would</em> render the third-floor corridor project worthless. That was a disappointment. He’d been so sure that keeping Voldemort and Harry in the castle for almost a year together would have triggered <em>some</em> kind of confrontation, especially given Harry’s seeming instability, but apparently not. He’d have to deconstruct the defences and send the stone back to Nicholas…</p>

<p>He took another sip.</p>

<p>Or maybe he should see to it that the stone had an ‘accident’. Such a powerful artefact might be better off not existing — far too much of a temptation.</p>

<p>On the other side of the room, the empty perch that normally hosted Fawkes, was <em>still</em> empty.</p>

<p>Dumbledore looked at the familiar trinket on his desk that reflected Fawkes’ current life cycle phase. It was stuck on, ‘chick,’ and had been since Halloween. He sighed. Wherever Fawkes was, he doubted immortality was doing <em>him</em> much good at the moment.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione pressed the final required button on the VCR’s remote control and watched in satisfaction as a small flash of light filled the room and the door to the next room slowly ground open.</p>

<p>Harry gave her a proud nod, which made her visibly swell.</p>

<p>She and Daphne then spent the next thirty minutes twiddling their thumbs and going over their various plans one more time while Harry placed rune stones around the room and cast his own fidelius on the room.</p>

<p>Once Harry gave her the secret, Hermione glanced at the marauder’s map, on loan again from the Weasley Twins, and saw that Dumbledore was still in his office.</p>

<p>Harry stepped in front of her, took off his noble house ring, watched it vanish into thin air, and looked deep into her eyes.</p>

<p>Hermione took a deep breath, pointed her wand right between his eyes and said, “Obliviate.” Images and memories from Harry’s mental library shot through her mind, all fuzzy and indistinct, all but impossible for her to understand, but all related to her own current focus and all chosen by Harry before hand, everything about the philosopher’s stone, about the third-floor corridor, about their current mission. One by one, those memories were blocked and locked, enforced by Harry’s own magic, like an autoimmune disease, a magical contract, or a particularly dark magical curse. There were two types of obliviate, memory locking and memory destruction. Memory destruction only worked on the most vulnerable — muggles, or those without intermediate level occlumency or noble house rings. This wasn’t that.</p>

<p>Hermione finished the spell and lowered her wand.</p>

<p>Harry looked at her in mild confusion. “Hermione?”</p>

<p>She passed Harry the first of the pre-written instructions, secured by Harry’s own fidelius signature.</p>

<p>Harry read the parchment, raised his eyebrows, and turned to Daphne. “Then lead on, my lady.”</p>

<p>Daphne tied a blindfold around Harry’s eyes, put on one half of the mirror ear piece pair and watched Hermione put on the other half.</p>

<p>Hermione turned and headed back to the pipe network where she would stay until the end of the mission.</p>

<p>Her last sight of Harry and Daphne was Daphne leading Harry over to the now open door, hand clutched firmly in his, eyes aflame and determined.</p>

<p>Hermione climbed back into the still open pipe and into their first fidelius charm. Dumbledore was still in his office. She sat herself down right in front of her first set of fidelius instructions and waited.</p>

<p>A minute went by and then… something tripped.</p>

<p>…</p>

<p>Huh? Hermione looked around, puzzled. Why was she <em>here</em>? Wait. What’s this? She picked up a piece of parchment that had been laying right in front of her and started to read.</p>

<p><em>Hermione Granger, this is Hermione Granger — code: step-by-step — signature: The second bookshelf in Harry’s trunk is located next to the first bookshelf.</em></p>

<p>Hermione’s eyes narrowed. So it was <em>that</em>, mmm? She took her wand, cut off the top of the parchment containing the code and fidelius signature, and burned it with a small incendio. She then started reading what was left.</p>

<p><em>Instruction one: Speak the following words — “Daphne, this is Hermione, I have found the step by step instructions.”</em></p>

<p>Hermione took a breath. “Daphne, this is Hermione, I have found the step by step instructions.”</p>

<p>A voice came back through her ear. “Good. This is Daphne. Fidelius ID: The first bookshelf in Harry’s trunk is located next to the second bookshelf.”</p>

<p>Hermione nodded to herself and read the second instruction.</p>

<p><em>Instruction two: Keep looking at Dumbledore’s position on the Marauder’s Map for the next hour or until Daphne says the word’s, ‘F Down — all clear’.</em></p>

<p><em>If Dumbledore’s position ever reaches the room left of the muggle studies defence room, speak the following words out loud, ‘Dumbledore has reached the Snape room. Cloak and evacuate.’</em></p>

<p>Hermione scanned the Marauder’s Map and saw that Dumbledore had left his office and was rapidly approaching the grand stairway. She scanned the rest of the parchment. Nothing more for her to do at the moment. She went back to watching Dumbledore.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>[Moments earlier]</p>

<p>Dumbledore’s eyes widened behind his moon shaped glasses. A warning light had flashed on his left lens. Someone, probably Tom, had tripped the fidelius charm again on the third floor. He stood up, put his tea cup down with a clink, and made for the door. He had to commend the man’s persistence if nothing else, even in the face of a perfect defence, for there was no way around a fidelius charm once it was in place. No way at all.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne gazed around the centre of the mirror room with her eye of Kilrogg while also gazing up at the massive stone statue of Severus Snape with her normal eyes. She kept her hand on Harry’s and led him over to the bench, both of them under the invisibility cloak. Thank Merlin they’d found this little trick. Doing this while she was <em>also</em> affected by the fidelius would have been ridiculous.</p>

<p>A voice came through her ear. “Daphne, this is Hermione, I have found the step by step instructions.”</p>

<p>Daphne nodded to herself. “Good. This is Daphne. Fidelius ID: The first bookshelf in Harry’s trunk is located next to the second bookshelf.”</p>

<p>She looked down at the parchment on the desk and at the small vial of colourless liquid sitting next to it. “Veritas affirmatio.” The vial momentarily glowed a faint green colour. It was authentic. She picked it up along with the dropper next to it and administered three drops onto her tongue, before corking the vial back up and pocketing it. Hey, it was hard to get hold of this stuff.</p>

<p>Daphne felt her noble house ring heat up as the ancient magics negated the Veritaserum.</p>

<p>The statue moved and Snape’s acerbic voice slimed its way through the room. “Speak, visitor. What is your name?”</p>

<p>“Albus Percival Wulfric Brian Dumbledore.”</p>

<p>“For what reason do you seek the philosopher’s stone?”</p>

<p>“To protect it from Voldemort and return it to the Flamels.”</p>

<p>“What item does this fidelius protect?”</p>

<p>The secret flared in Daphne’s head. “The Mirror of Erised.”</p>

<p>“Correct.” Snape’s voice sounded almost disappointed. “Proceed.” The final door swung open and Daphne led Harry over to it.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore batted away an errand tentacle from the devil’s snare in the Herbology room, barged into the charms room, and stopped, and stared. All the stone warriors were still lined up on both his sides. There was no rubble. It looked like no one had been through here. And yet, the fidelius was definitely active, so someone had tripped it. He frowned. Someone had found a way to pass through this room without first defeating it. That was worrying — and more than a little annoying for him.</p>

<p>Oh well. Dumbledore raised the elder wand in front of him, narrowed his eyes and leapt across the activation ward and magical shield, immediately transfiguring the floor into a liquid stone shield, which wrapped around him and stopped several dozen cross bow bolts from turning him into a human pin cushion.</p>

<p>The stone warriors slammed into his defence and started to smash away at his stone egg.</p>

<p>Dumbledore summoned a stronger, pure magic shield closer to him, and banished the egg away in all directions, sending several tones of stone rubble colliding into the many warriors, utterly destroying some of them, and sending those who remained to the ground.</p>

<p>One warrior wielding an eight foot long Goedendag got to its feet quicker than its fellows and smashed its heavy weapon into the magical shield, only a few inches from Dumbledore’s face. Albus flicked his wand, smacking the warrior away and catching the Goedendag in mid-air with a levitation charm.</p>

<p>Several dozen more crossbow bolts ricocheted off his shield.</p>

<p>The other warriors had finished picking themselves up.</p>

<p>Dumbledore smirked, eyes twinkling, and flicked his wand again. The Goedendag rapidly spun itself in the air. The floor around him started melting. Oh, he’d <em>missed</em> this.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Blindfolded and helpless, Harry followed Daphne’s lead, keeping a firm grip on her hand and trusting her not to let him walk into something. He had no idea what was going on, but whatever it was, was probably important.</p>

<p>Occasionally he heard her gasp, or exclaim, or curse, or even emit a little chocked sob.</p>

<p>Whatever was going on out there must be quite dangerous. Some kind of mental trial perhaps? No! He shook himself. He shouldn’t be trying to think about what ever it might be. That was the point of the step-by-step protocol.</p>

<p>“Harry,” Daphne’s voice said.</p>

<p>“Yes?”</p>

<p>“I have placed all the rune stones in the correct positions around the area. You now need to cast a magical shield charm and tie it into the stones, using the magical power that comes from a nearby Herbology project, <em>not</em> the castle’s wards, understand?”</p>

<p>That sounded doable. “Yes, I understand.”</p>

<p>He felt Daphne’s hand close around his wand hand and guide it forward until he felt his wand push against something hard. “That’s the first ward stone, Harry. Good luck.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore strode out of the rubble of stone warriors, some of which were little more than melted piles of newly formed igneous rock, and into the next room.</p>

<p>The long bench against the wall next to him was loaded with glassware.</p>

<p>Oh, yes. This was McGonagall’s room. Trust his number two to come up with something like this when asked to, ‘really put some effort into it.’</p>

<p>He walked over to the first glass jar and saw that, indeed, the small iron ball was still there. Someone had bypassed this trial too. He smiled grimly, levelled his wand at the iron ball, watched it slowly melt, and started the delicate and tricky alchemy puzzle.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry tapped the final ward stone and muttered the final incantation. He felt the magic catch and stabilise into the new ward system, protecting wherever they were from magical attack from the outside of wherever they were.</p>

<p>“Right, Harry, now we’re going to set up a second set of ward stones to drain a set of ward stones that are already here, understand?”</p>

<p>Harry nodded. He understood that.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore eventually made his way into the next room, bathed in almost total darkness, having successfully navigated the iron ball through the glassware puzzle.</p>

<p>“Lumos.”</p>

<p>He walked straight over to the control panel and punched in positions of the stars and planets on his date of birth. The stars and planets on the roof started moving, and, moments later, stopped. A white light flashed and the darkness of the room vanished.</p>

<p>Right, next room…</p>

<p>…</p>

<p>He hesitated.</p>

<p>Wait.</p>

<p>He blinked.</p>

<p>He…</p>

<p>He frowned. Then his eyes opened in shock. He couldn’t remember where the next room was!</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“That was the last one, Harry.”</p>

<p>Harry stepped away from the last rune stone they’d placed on the floor of wherever they were.</p>

<p>“Now, Harry, you need to start an incantation to deactivate a three kiloflamel ward system and drain the charm into the rune stone system we just set up.”</p>

<p>Harry frowned. Three kiloflamels. Damn. Whatever they were doing was serious business. This definitely wasn’t practise.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore desperately legged it around yet another corridor corner and down into a secret passageway that he was sure only he knew about. He barrelled down the secret passageway, and emerged out into another corridor, this one so dusty that the dust pilled up in the corners almost like snow.</p>

<p>Hogwarts had some strange geometry, but it did usually follow some common sense rules — rules like, if a room has a wall, then <em>somewhere</em>, there has to be another side to that wall.</p>

<p>And the other side of the mirror room outer wall should be right about… here.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry focused every ounce of his will on making sure the magic drained out of the old ward system without causing what could be charitably described as a problem. When problems happened with this much magic you were lucky to get out of it staying the same shape. Mere explosions were easy to deal with compared to something as powerful as a collapsing defence system trying to turn you into a polka dotted frog with nine legs and a taste for <em>only</em> kangaroo.</p>

<p>Suddenly he felt something smack into the magical shield ward he’d just set up. “Daphne.”</p>

<p>“Yes, Harry?”</p>

<p>“Something just tried to attack the magic defence ward system.”</p>

<p>Harry heard Daphne’s intake of breath and subsequent rapid question. “Hermione, where is Dumbledore?”</p>

<p>He heard a tiny, tinny voice say, “He’s not on the map.”</p>

<p>Daphne cursed. “Harry, will this force be able to get through?”</p>

<p>Harry shook his blindfolded head. “It does feel strong enough to be Dumbledore or Voldemort, but they’ll never be able to get through alone, the ward system’s too powerful.”</p>

<p>Harry heard Daphne let out a sigh of relief. “How close is the ward to being drained?”</p>

<p>“Close.”</p>

<p>Harry continued to supervise the draining, while feeling what Daphne seemed to think was Dumbledore fruitlessly pounding on the magical shield surrounding the room. Eventually the pounder gave up.</p>

<p>The final few Merlins drained into the new ward system.</p>

<p>“Daphne, it’s done.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione’s head shot up from where she’d been staring at the Marauder’s Map. She remembered! Harry had done it! “Daphne!”</p>

<p>“Yeah, Hermione, it’s done! Get in here, now!”</p>

<p>Hermione jumped up and dashed though the still open hole in the pipe and into the muggle studies defence room.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore almost dropped his wand in shock. The fidelius was down! He stopped staring at the wall in front of him and dashed back the way he’d come. This was bad. Really, really, bad.</p>

<p>“Expecto patronum!” A silver phoenix appeared in front of him. “Minerva! The third floor defences have failed. I’m putting the castle into lockdown. Get the students to their common rooms.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione skidded into the centre of the mirror maze, trying desperately not to look at any of the reflections. Many of them prominently featured Older Hermione hanging from a prison ceiling without a head. “Harry!”</p>

<p>Harry turned to her, just as Daphne untied Harry’s blindfold. “Hermione?”</p>

<p>Hermione reached into her bag and brought out several flasks of memories. “Take these.”</p>

<p>Harry dutifully accepted the memory vials and started transferring the silvery strands back into his head.</p>

<p>Hermione pointed her wand between Harry’s eyes. “Memoria salutem.”</p>

<p>Harry’s eyes flicked for a few moments. Then he staggered. “Whoa.” He shook his head and looked around. “It worked!”</p>

<p>“Yes, but we now need—”</p>

<p>“—Fidelius charm, got it.” Harry sat down on the floor in front of the small rune stone in front of him and closed his eyes.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore reached his office at a dead run. He lunged for one of his devices prominently displayed in an alcove behind his chair, well away from preying little fingers, and slammed his hand down on it. “Castle lockdown!”</p>

<p>Magic swirled through the room.</p>

<p>His windows slammed shut.</p>

<p>There.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Sophie Roper looked up from her book in alarm as every one of the windows at the top of the tall library walls slammed shut one after the other. “What’s going on?”</p>

<p>Her fellow Ravenclaws, Lisa Turpin and Padma Patil, shrugged.</p>

<p>“Students!” Madam Pince strode into the normally quiet study area. “Back to your dormitories immediately! Quickly now! Go!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John halted Susan in the middle of their duel and watched with wide eyes as every window and door to the duelling arena slammed shut and bolted itself. Powerful magic rushed through the space, causing the hairs on the back of his neck to stand on edge. What the hell?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Chief Auror Sirius Black snatched his shield up from where it lay on by the door and bolted outside, almost colliding with Shacklebolt who’d rushed out of his office at the exact same moment.</p>

<p>A blaring siren was sounding, almost deafening him with its wail. The department’s normally soft lighting was pulsing pure red.</p>

<p>They both tap-danced down the department stairs to find the two dozen aurors of the main office already dressed and ready — game faces on, helmets, shields, the full nine yards.</p>

<p>Sirius strode into the middle of them. “Hogwarts is on lockdown! The moment we get a request for help, we leave.”</p>

<p>All twenty-two aurors nodded.</p>

<p>The floo flared green. Dumbledore’s face popped out. “Sirius?”</p>

<p>“Yes, Albus?”</p>

<p>“If I needed your help, do you think you could keep it quiet?”</p>

<p>Sirius goggled at his former Headmaster while the sirens of the department of magical law enforcement loudly blared around him. “If you need our help, you need our help!”</p>

<p>Dumbledore’s head seemed to concede this point. “Okay, I need help.”</p>

<p>Amelia Bones slammed though the department’s front door. “Situation!?”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Tracey ran back to the Slytherin common room, trying not to panic, and failing miserably. The school was on lockdown! That hadn’t happened since the last goblin rebellion! Not even in the last war had the school gone on lockdown!</p>

<p>She quickly climbed into the room and scanned the room. Daphne and Hermione weren’t here! “Blaise!”</p>

<p>Blaise spotted her and walked over from where a bunch of older students were milling around with anxious looks on their faces. “Where’re Daph and Hermione?”</p>

<p>Blaise shrugged.</p>

<p>Tracey cursed.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione watched the Marauder’s Map for signs of trouble, occasionally glancing up to see Daphne still watching the still figure of Harry, who was sitting peacefully with his eyes closed in the middle of the mirror room. Everything was going well, but that was no reason to let down their guard.</p>

<p>Quirrellmort had left his office not long after Harry had taken down the fidelius and was currently heading towards the girl’s second floor bathroom. That was worrying. Dumbledore seemed to be glued to his floo, which was also troubling. Was he calling for help?</p>

<p>Suddenly, Hermione’s heart leapt into her throat. Name after name popped out of Dumbledore’s floo. Black, Shacklebolt, Robards, Scrimgeour, Knight, Dawlish, Proudfoot, and Savage. Eight in total.</p>

<p>“Daphne?” she called, a note of alarm seeping into her voice.</p>

<p>“Yes?”</p>

<p>The names followed Dumbledore down the stairs from his office until they reached the first corridor, where upon they quickly formed themselves into a column, two names wide and four names long.</p>

<p>“Oh,” Daphne said.</p>

<p>They both looked at Harry, still sitting with his eyes closed.</p>

<p>The names marched along corridor after corridor until they turned into what seemed to be a wall and disappeared off the map.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Sirius felt up the snow-drift-dusty wall and grunted. “Knight!”</p>

<p>Robert Knight, the team warder, stepped forward.</p>

<p>“What can you do about this?”</p>

<p>Knight stuck his wand into the space near the wall. “A standard magical shield ward. Yes, we can take it down, but it will take time.”</p>

<p>“How much time?”</p>

<p>“Thirty minutes, maybe?”</p>

<p>Dumbledore’s beard twitched.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The magical shield protecting them was weakening.</p>

<p>Hermione wasn’t panicking, but she <em>really</em> hoped Harry would finish soon. It wasn’t as thought they didn’t have an exit — the door leading back through the third-floor corridor was <em>right</em> <em>there</em> after all, and beyond that were two up and ready fidelius charms — fidelius charms which could easily protect them from the small army currently battering at their shields, should push come to shove, but she <em>really</em> hoped push <em>wouldn’t</em> come to shove. They’d spent <em>so</em> <em>much</em> time and effort to get this far. To be forced to abandon it all, after getting <em>here</em>, with just the mirrors themselves left to defend the stone… Ugh.</p>

<p>She and Daphne were taking in turns to pour as much of their own magic into the shield wards as they could, <em>anything</em> to buy them just a bit more time, but it felt like trying to feed a furnace with matchsticks. They could feel it wasn’t close to failing yet, but it wouldn’t last forever and every minute that past felt like an hour. The room was oppressively silent — silent but for the occasional footstep from her or Daphne and the barely audible thrum of eight adult aurors plus Dumbledore on the other side of the wall, ripping through the wards. Hermione fancied she could even hear Daphne’s breathing. She could certainly hear her own.</p>

<p>Hermione gazed at Harry, still sitting with his eyes closed, looking as peaceful as a quiet spring morning, which was the opposite of how <em>she</em> felt.</p>

<p>Daphne kicked a pebble across the room.</p>

<p>It made a clirck, click, ditc noise.</p>

<p>Then, suddenly, Harry’s eyes snapped open, and he grinned.</p>

<p>Hermione’s heart leapt.</p>

<p>Harry stood up, drew his wand, pointed it at the stone in front of him and said in a firm, confident voice, “Fidelius Occultum!”</p>

<p>And all knowledge of where she was and what she was doing was swept from her mind like smoke by a gust of fresh, cleansing wind.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Knight looked up from where he was focusing the efforts of eight other wizards on… “Wait.”</p>

<p>The combined auror task force looked around, confused.</p>

<p>Knight looked at his wand. “What were we just doing?”</p>

<p>Dumbledore groaned.</p>

<p style="text-align: center;">— End of Chapter Thirty —</p>
