Chapter 31 - …And the Tournament

<p>Dumbledore felt inordinately smug.</p>

<p>You’d think, what with the mirror room now under a hostile fidelius, that he’d be down one defence professor and facing the prospect of immediate war with a resurrected dark lord, but no — Tom had yet to leave his teaching post and, far from being the endless fount of dry, dark humour that would indicate a good mood, seemed more annoyed than ever. Clearly, Nicholas’s devilish mirror and his own additions were doing their job.</p>

<p>There <em>was</em> one thing that puzzled Dumbledore though and it was with this puzzle in mind that he gently knocked on the door to the defence professor’s office.</p>

<p>“Enter.”</p>

<p>Dumbledore opened the door and stepped through.</p>

<p>“Ah, Headmaster.” Quirrell’s body looked up and Tom directed him to an empty chair. His manner was impassive, if a bit surly. “How can I help you?”</p>

<p>“Quirinus,”—Dumbledore took the seat offered—“I was wondering if you could help me with a little mystery.”</p>

<p>Tom tilted Quirrell’s head. “You know I will give you any help I can, Headmaster. I understand you are extremely busy at the moment.”</p>

<p>Dumbledore’s beard twitched. He’d spent most of yesterday afternoon and evening dealing with the fallout from calling eight aurors out and locking down the castle for reasons that neither he, nor the aurors, could fully remember — and those bits he <em>could</em> remember, he had no desire to tell. “It is about my being busy that I wish to ask. You remember yesterday that I put the castle into lockdown?”</p>

<p>Quirrell’s left eye twitched. “I would find it incredibly <em>difficult</em> to forget something like that.”</p>

<p>“Well, during that time, the wards recorded you as leaving the castle, despite the fact that such a thing should be impossible during a lockdown.”</p>

<p>“How interesting.”</p>

<p>“And what’s more, I can understand the fact that you were not in the castle. That is to say, my brain allows me to process that information.”</p>

<p>Tom’s surely expression momentarily shifted. His eyes flickered with dark amusement. “Ah, the fidelius charm. Such a useful piece of magic.”</p>

<p>Dumbledore tensed.</p>

<p>Tom laughed. “I really wish I could help you, Headmaster, but unfortunately, I cannot… <em>remember</em>.”</p>

<p>Dumbledore’s eyes widened in shock.</p>

<p>Tom’s face became surely again. “Yes, annoying, isn’t it?”</p>

<p>“But…” Albus tried to comprehend what he was hearing. “Who?”</p>

<p>Tom’s lip curled upwards, eyes instantly shifting back to dark amusement. “I’d say, ‘you-<em>know</em>-who,’ but clearly that isn’t true.”</p>

<p>Dumbledore fixed Tom with the same severe look he used to give him in transfiguration.</p>

<p>“Oh, come now, my dear Dumbledore. I’m sure that <em>I</em>, a mere former muggle studies professor, doesn’t need to spell out what to <em>you</em> should be obvious — that the binary game is no longer.”</p>

<p>And then Dumbledore suddenly realised what Tom was suggesting. He, Albus, was the Light Lord and Tom was the Dark Lord, that much was obvious — but that there might be a third — his eyes widened — and that Tom seemed to believe that third was worthy of being classed as their equal.</p>

<p>Tom smirked. “The <em>Gray</em> Lord.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>After an evening assuring Tracey that they were fine and just training down by the lake, Daphne Greengrass stood, once again, in the fideliused mirror room, in front of a mirror that was certainly <em>not</em> the mirror of Erised, although exactly what it <em>was</em>, was up for debate.</p>

<p>In the mirror, Daphne’s reflection kissed a giggling Hermione on the cheek, before enthusiastically waving a red stone at her, ducking out of the mirror’s frame, and into the mirror next to her. Behind mirror Hermione, a million reflections from a hundred other mirrors in the mirror maze did what ever it was they did in their mirrors, sometimes to or with each other. Red stones featured prominently.</p>

<p>The mirror next to her contained an older Daphne sitting on a throne made of ice, eyes glowing blue, face stern, regal, and cruel. The red stone holding Daphne from the other mirror proceeded to have an argument with ice throne Daphne — an argument which ended when a smaller Daphne reflection from another mirror jumped in between them and summoned an older Harry reflection, who made a grab for red stone Daphne, but missed. Reflection Harry then proceeded to jump ice throne Daphne and started doing things that made real Daphne blush.</p>

<p>Red stone Daphne, meanwhile, had flittered away to yet another mirror, although which one, she couldn’t tell. There were just so <em>many</em> of them.</p>

<p>Daphne tried to ignore the mirror next to her and instead ran her fingers along the mirror in front of her, attempting to feel the magics that wove it together, like Harry suggested she do. It was tough going, especially with reflection Hermione constantly giggling at her.</p>

<p>“This one,” said Harry’s voice from across the room, “this one is not the Mirror of Erised.”</p>

<p>Daphne abandoned her experiments with magic sensing and joined Harry at one of the many hundreds of other mirrors, followed moments later by Hermione.</p>

<p>“I should hope not,” said Hermione in a disgusted voice.</p>

<p>Daphne felt sick. In the mirror, Lord Walter Slughorn—fat, ugly, and without a hint of compassion—did unspeakable things with her terrified seven-year-old self. She didn’t know what Harry or Hermione were seeing but if it was anything like her’s then she didn’t <em>want</em> to know.</p>

<p>Harry pointed his wand at it. “There doesn’t seem to be any trip lines or traps.” He conjured a large rock in midair. “Stand back please.”</p>

<p>Daphne and Hermione scurried backwards.</p>

<p>SMASH!</p>

<p>The mirror fell over backwards and what remained of its cracked surface exploded upwards, a million little shards falling out of their frame.</p>

<p>Hermione snickered. “Seven years bad luck.”</p>

<p>Daphne winced. “Oh, Merlin, don’t <em>say</em> that.”</p>

<p>“Yes, well.” Harry stepped over the wreckage, crunching a stray bit of glass under foot. “There <em>will</em> be a lot of broken mirrors before we’re done here.”</p>

<p>It took hours.</p>

<p>Harry carefully analysed each mirror, occasionally showing Hermione and her an interesting point or two about what he was doing. After he’d confirmed that the mirror wasn’t the one they were after, he smashed it with the now traditional floating rock, and then she and Hermione swept up the remains into an ever growing pile in a corner of the room.</p>

<p>Eventually, they were left with just one mirror — The Mirror of Erised.</p>

<p>Daphne looked into the mirror.</p>

<p>Her parents were there. So were Astoria and Tracey. So was Hermione. So was Harry. And Harry was <em>tall</em>. All of them were older, and standing in some exotic location, if the many tropical trees and grasses were any indication. Harry looked so happy. In his left hand he held a blood red stone, and with his right, he proudly ruffled Reflection-Daphne’s hair. Reflection-Daphne looked embarrassed but also deeply happy with flushed red cheeks, downcast eyes, and a huge smile.</p>

<p>“Any luck?” Harry asked.</p>

<p>Daphne tore her eyes away from the image, shaking her head.</p>

<p>Hermione’s voice was quiet when she spoke. “I see… I see you with the stone, Harry. I see a lot of other things too, but the important bit is that you’ve got the stone. You’re not doing anything with it, though, just holding it.”</p>

<p>“Mine’s like that too,” Daphne added.</p>

<p>Harry nodded. “Same, although in my case, the stone isn’t in my hands, but rather on top of a Midas-worthy pile of gold in the reflection’s background. I guess that’s the mirror’s way of saying that I don’t meet the requirements to retrieve the stone.”</p>

<p>Daphne took a step back. She was finding it difficult not to keep staring at the mirror. “So, what do we do now then?”</p>

<p>“Hermione is going to retrieve the stone.”</p>

<p>Hermione started. “M-Me?”</p>

<p>“Yep. Or, more specifically, I’m going to use various mind magics on you to temporarily alter your desires. The idea is that the mirror is like a combination safe and only a specific combination of desires will unlock it.”</p>

<p>Hermione bit her lip, but did nod her head.</p>

<p>“I’ll need you to completely drop your occlumency.”</p>

<p>Hermione nodded again and closed her eyes for a few minutes before opening them again. “Done.”</p>

<p>Harry nodded and levelled his wand between Hermione’s eyes. “Confundus.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione shook herself. That felt weird. Err… what were they doing? Oh yes, she had to find the stone. She <em>had</em> to find the stone and this mirror was the key.</p>

<p>She gazed into the mirror. The reflection showed a huge library, massive, ancient, and overflowing. Her older reflection sat reading on a sofa with an older Harry sitting next to her, arm wrapped comfortably around her shoulders, holding the stone in his free hand, occasionally giving her blushing reflection a light kiss on top of the head.</p>

<p>Hermione frowned. This wasn’t her deepest desire. She needed to find the stone!</p>

<p>Reflection Harry caught her eye, smiled, and shook his head while idly tossing the stone up and down.</p>

<p>Something felt wrong here. A tiny voice in the back of her mind was getting louder and louder. Something about Harry. Something about wanting….</p>

<p>“Confundus.”</p>

<p>Hermione shook herself. That felt weird. Err… what were they doing? Oh yes, she had to find whatever it was that this mirror was protecting.</p>

<p>She gazed into the mirror. Sofa bound Harry lightly kissed a delighted reflection Hermione on the cheek, gave real Hermione a playful wink and waggled a single admonishing finger at her through the glass.</p>

<p>Hermione frowned. This wasn’t her deepest desire.</p>

<p>“Confundus.”</p>

<p>Hermione shook herself. That felt weird. Err… what were they doing? Oh yes, she had to stop Voldemort getting the stone. That was critical!</p>

<p>Reflection Harry rolled his eyes at her.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p><em>Daily Prophet Front Page [29</em> <em>th</em> <em> March, 1992]</em></p>

<p><em>HOGWARTS ON LOCKDOWN!</em></p>

<p><em>Yesterday, at two o’clock in the afternoon, the students and staff at Hogwarts School of Witchcraft and Wizardry experienced something that has not happened since the last goblin rebellion. Headmaster Albus Dumbledore, Order of Merlin - first class, Chief Warlock of the Wizengamot, and Supreme Mugwump of the ICW, placed Hogwarts castle on lockdown and summoned a task force of eight aurors to the school. In a statement released to the Prophet, Headmaster Dumbledore said that, ‘The situation is under control and our children are in no danger.’</em></p>

<p><em>Despite these assurances, the school remains in lockdown, and we at the Prophet have to wonder what kind of situation would cause the Headmaster to take such an action. Neither he nor the DMLE is currently willing to disclose details.</em></p>

<p><em>What does lockdown mean? The lockdown status of Hogwarts castle is a warding protocol that prevents anyone or anything from leaving or entering the school grounds through any normal entrance or exit other than a single point controlled by the Headmaster. Lockdown is the second highest level of security the school can assume and because of the large drain of magic, can only be maintained for a week. Continuing his earlier statement, Headmaster Dumbledore said that, “The annual Hogwarts duelling competition will take place as normal and the lockdown will be lifted before the event. As it stands, the lockdown is only in place as a precautionary measure.”</em></p>

<p><em>This begs the question, ‘what is going on at Hogwarts School?’. Readers will recall that in September of last year, a fully grown mountain troll breached the school’s defences and roamed the school unchecked until defeated by a group of first year students. Some might say it is reassuring that the Headmaster is now taking threats to our children’s safety more seriously, while others would question the headmaster’s right to keep such a security concern secret.</em></p>

<p><em>At the time of going to print, a related twenty-four hour block on all owl communication with the castle has been lifted.</em></p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore sat invisibly in the empty stands of the duelling arena, watching the Slytherin duelling practises with a calculating gaze.</p>

<p>For his age, Harry Potter really was a genius — definitely at the level he and Tom were at when eleven, if not better. Indeed, the young boy was more teaching than practising, even with the seventh years, something his older peers seemed to accept, if barely.</p>

<p>The tournament would be the perfect opportunity. It was violent, public, and who knew the lengths a young boy would go through to win against his famous brother. Jealousy was such a terrible thing.</p>

<p>In the ring below, Mister Potter let off a particularly well coordinated spell chain. A long distance smoke illusion, followed by a zero friction charm aimed at the floor, and finished up with a low powered area of effect stunner, the kind of thing that could reach around a hastily cast shield, if the target wasn’t paying attention — an interesting combination — and one the young Potter seemed quite fond of.</p>

<p>White — Pink — Brown</p>

<p>White — Pink — Brown</p>

<p>Hmm… that area of effect stunner spell at the end looked rather similar to a certain dark high-powered blasting curse, didn’t it?</p>

<p>White — Pink — Brown</p>

<p>White — Pink — Brown</p>

<p>Dumbledore watched for a few more minutes before nodded to himself, getting up, and leaving. He had what he needed.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>By Thursday, Harry felt he was running out of immediately useful ideas. The mental manipulation on Hermione was a dud. The Mirror of Erised was obviously more sophisticated than that. He sat alone, crosslegged in front of the mirror, probing the artefact with his magic and looking for any loopholes in its design.</p>

<p>In the mirror, an adult Harry sat in the middle of what could only be described as an ocean of family. All the girls were there, all grown up with dozens of children playing around them in the grounds of a proud and unbreakable Slytherin Manor, in front of which, was a mountain of gold, on top of which sat a single red stone, taunting him with its closeness.</p>

<p>By Harry’s feet, the book on mind healing lay open to the page on how to fight a phobia using occlumency.</p>

<p>He’d had an idea.</p>

<p>The first step in curing a phobia with occlumency was learning to create a second personality that would live in his mind — a split personality. This personality would serve multiple purposes, the first and most immediate being to wrestle control of the body while the main personality suffered from the phobia induced panic attack.</p>

<p>This was a less than ideal solution, but it provided the set up for the second step of the treatment — using a split consciousness controlled mindscape to simulate the conditions of the phobia and gradually desensitise the main consciousness to it. He needed a second consciousness, because, as Harry told Ginny all those months ago during their dreamland training, if you want something in your dreamworld, you have it, which makes it impossible to recreate the conditions of a phobia since, the moment you don’t want that massive spider to be crawling all over you, it will disappear.</p>

<p>Harry found it deliciously ironic that the most important step in curing his phobia of being trapped was to learn to create and use another, even more serious mental condition.</p>

<p>He’d been practising in every free moment that he wasn’t ether dealing with Lord Slytherin business, training with the girls, or dealing with those Harry Potter obligations he couldn’t hand wave away. In that practise time, he thought he’d managed to get the first step working.</p>

<p>Harry looked away from the mirror, reached deep into his occlumency, putting everything that he was into a neat little package, and split it as though it were a mitosis intended microbe.</p>

<p>Something sparked into being inside him.</p>

<p><em>Well, hello there, Harry.</em></p>

<p>Harry mentally grinned. He had an alternate consciousness.</p>

<p><em>Just call me Alt.</em></p>

<p>That sounded fair. Were they ready to give it a go?</p>

<p><em>Yes, we are.</em></p>

<p>Harry steeled himself and looked back up into the mirror.</p>

<p>In the ocean of family, two identical Harry Potters stood looking very confused at each other. All around them, their children squealed and giggled, pointing and tugging at their mother’s sleeves, who looked rather bemused by the sudden appearance of an extra husband in their midst.</p>

<p>Harry looked down. He was going to bring them back together.</p>

<p><em>I’m quite okay with that.</em></p>

<p>Harry slowly moulded his two consciousnesses back together.</p>

<p>The little spark inside him went out.</p>

<p>Right. Now he had to create the same split, but this time with a slight change in his alt. He needed his alt to only want the stone, not to use it or give it to him or anything like that, just to get it.</p>

<p>Harry formed that neat little package again, but while it split he reached across the slowly forming divide between them and dove into the newly forming consciousness, erasing just those few small motivations. It was all he could manage before the split finalised, he leapt back across the divide, and that special something sparked back into being.</p>

<p><em>Well, hello there, Harry.</em></p>

<p>Harry mentally nodded. Hopefully this would work.</p>

<p><em>Ah, there might be a slight problem there.</em></p>

<p>Harry frowned in real life. A problem?</p>

<p><em>Yes, I suggest you look into the mirror.</em></p>

<p>Harry looked. The two Harrys were now having an argument. One furious Harry had his hand pointed towards the gold-swimming stone while the other had his arms crossed, stubbornly shaking his head.</p>

<p>What?</p>

<p><em>I want to find the stone, but I don’t want you to have it, Harry. Nor do I want you to use it. I’m sorry, but I won’t retrieve it for you.</em></p>

<p>Harry leaned forward and hit his head on the open book.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In Dumbledore’s office, John fingered the rune dense duelling robe in his lap with not a small amount of trepidation. “How much will this hurt? You know, on a scale of one to the cruciatus?”</p>

<p>Dumbledore gave him a look over his moon shaped glasses. “I fear that wouldn’t be a useful scale for you, John.”</p>

<p>“One to ten, then?”</p>

<p>“Quite low. The blast will knock you unconscious almost immediately. The real pain will come during recovery.”</p>

<p>John nodded. “I’m quite used to pain during recovery.”</p>

<p>Dumbledore smiled slightly. “Ah, yes. I doubt that will be as bad as what you went through after the broom incident.”</p>

<p>“Fine then.”</p>

<p>Dumbledore fixed him with his over the glasses firm stare again. “Now, I don’t need to remind you about the consequences of what will happen if what we’re doing becomes known?”</p>

<p>John mentally rolled his eyes. “Yes, Headmaster, I understand.” And he did. The headmaster had tied himself to John, and if either of them went down, they’d take the other with them. John knew the headmaster did things in the name of fighting evil that would be heavily frowned on if they came to light, and Dumbledore knew that he, John Potter, wasn’t the true boy-who-lived, something he wanted <em>never</em> to come out. He might not be a Slytherin, but this kind of mutually assured destruction arrangement was brain dead obvious even to him.</p>

<p>“Why don’t you try it on?” Dumbledore asked.</p>

<p>John dutifully stood up and slipped on the duelling robes. It fit perfectly. No surprises there — they were the ones his father had bought him for his birthday, slightly altered by the headmaster. Runes covered the inside lining, embroidered in the lining’s own colour, making them very difficult to see, and at regular intervals, thin strips of similarly coloured enchanted parchment had been sown. “What’re the parchment strips for?”</p>

<p>Dumbledore smiled. “Ah, one of my more clever little ideas, if I do say so myself. Have you ever signed a notification contract?”</p>

<p>John shook his head.</p>

<p>“If you perform a certain action that’s against what’s written in a notification contract, your name appears on another piece of parchment, letting the other party know of your transgression. Quite useful to make sure people are sticking to their agreements.”</p>

<p>“So,” John held the open robes open, making the parchment strips a little more obvious. “Why?”</p>

<p>“I managed to alter the way the contract spell works so that instead of writing my name, it writes something else, in this case, it will write runes. The parchment strips sown into your robes are spaced so that when the runes appear, the parchment runes will line up with the runes already sown into the robe’s lining, triggering the blast.”</p>

<p>“So, you’re going to trigger it?”</p>

<p>“Indeed.” Dumbledore brought out a Gringotts contract parchment. “I just need you to counter sign here and everything will be set.”</p>

<p>John picked up a quill. “And there’s absolutely no chance that I might accidentally die from this?”</p>

<p>“John, if there was such a chance, I would not have even suggested it.”</p>

<p>John nodded and placed the quill on the signature spot, quickly reading the basic contract.</p>

<p><em>Albus Percival Wulfric Brian Dumbledore agrees not to eat red Bertie Bott’s Every Flavour Beans during the Hogwarts Duelling Tournament on April fourth, 1992.</em></p>

<p><em>Signed: Albus Percival Wulfric Brian Dumbledore</em></p>

<p><em>Signed: _</em></p>

<p>“Red beans, huh?”</p>

<p>Dumbledore smiled.</p>

<p>John signed.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The day of the tournament dawned and for the first time in a week, the oppressive lock-down magics filling Hogwarts lifted. Harry walked alone down to breakfast as though today were just another day. He still hadn’t had any luck with the mirror. If this kept up, he’d have to start considering more extreme measures.</p>

<p>The duelling teams of all four hoses sat together, all dressed in formidable looking duelling robes, even his fellow first years. He caught sight of Su Li at Ravenclaw table, staring down at her food as though she expected it to start flinging spells at her if she looked away.</p>

<p>Harry settled himself at the edge of the rest of the Slytherin duelling team.</p>

<p>Romulus Volf frowned. “Where’re your robes, Potter?”</p>

<p>Harry glanced down at his standard plain black Hogwarts robes. He’d cut a slit from the waist down at the both the front and back so they sort-of imitated the duelling robes of those worn around him — but even then, they still looked pretty scrappy, especially with the muggle jeans under them, well fitting that they might be. “I’m wearing them.”</p>

<p>Volf scowled. “Stop dicking around, Potter. I know you have better.”</p>

<p>“Yes, I do, but I will wear these for the moment.”</p>

<p>“Why?”</p>

<p>“Its all part of cunning Slytherin plan.” Harry shrugged. “Besides, I thought you were complaining you weren’t going to get to actually duel in the main event?”</p>

<p>Volf grumbled a bit but didn’t object any more.</p>

<p>At the far end of the table, Daphne held court with Hermione around the other Gray students, both doing a good job of not showing the anxiety Harry knew they felt. He’d warned them to be on high alert during the tournament. If something <em>was</em> going to happen, the tournament could be a perfect time for it.</p>

<p>Breakfast came and went. The team rose from the table, receiving a round of cheering and applause from their fellow Slytherins as they left the great hall. Harry might currently be isolated, but that wouldn’t stop the house supporting their team.</p>

<p>The stroll down to the duelling arena was relaxing and Harry couldn’t help reflect on this moment in the second timeline. He’d been in the stands, watching his brother—who’d had the advantage of time-travelling from the first time-line—plough through the first five members of Ravenclaw before finally succumbing. James and Lily Potter had been in the stands on the other side of the arena and Harry had so desperately wanted to go and talk to them, but was too afraid. They’d looked so proud of his brother. That memory had been a hard one to stop caring about, but constant exposure over ten years of hell had done it.</p>

<p>Before he knew it, Harry was ensconced in the Slytherin holding area under the large, currently open-air, duelling arena.</p>

<p>From outside he heard a magic enhanced voice bellow, “Welcome, My Lords and Ladies, wizards and witches, to the annual Hogwarts Duelling Tournament!” An approving roar from two thousand throats filtered through the ceiling and walls to them.</p>

<p>Harry gripped his holly and phoenix feather wand and grinned. They wanted a show? He’d give them a show.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore made his way along the rows of seats while the commentator’s voice sounded around him.</p>

<p>“The Hogwarts Duelling Tournament is an international Class A standard rules tournament — that means no transfiguration, weapons other than a wand, and no curses — just hexes, jinxes, and other charms!”</p>

<p>He saw what he was looking for. “Good morning, Madam Pomfrey.” Dumbledore settled himself next to the healer in the front row where he’d have a good view of the arena.</p>

<p>Madam Pomfrey looked pleasantly surprised to see him. “Oh, Good morning, Headmaster.” She turned back to the arena. “I do hope they don’t do anything too stupid this time.”</p>

<p>“Youth needs to learn its lessons.” He drew a paper bag out of his pocket. “Care for an every flavour bean?”</p>

<p>Madam Pomfrey eyed the bag warily. “I think I’ll give it a skip, if it’s all the same to you, Headmaster.”</p>

<p>Albus shrugged, eyes twinkling, and popped a yellow bean into his mouth. Mmm… lemon.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“The duellists will face each of their opponents in turn, starting with the youngest, until they lose! Then their next oldest team member will step forward to attempt to vindicate them! Once all seven members of their opposing team has been defeated, they will go through to the final round!”</p>

<p>By the entrance to the arena, a large floating board showed the scores and the current lineup.</p>

<p>Round 1: Gryffindor — 0 vs. 0 — Ravenclaw</p>

<p>Round 2: Hufflepuff — 0 vs. 0 — Slytherin</p>

<p>Semi Final: ? — 0 vs. 0 — ?</p>

<p>Final: ? — 0 vs. 0 — ?</p>

<p>“Well, Lovegood?” Lord Smith sat down heavily on the wooden bench beside the eccentric young lord, causing a slight shockwave to travel through it. “What’s this all about then?”</p>

<p>Xenophilius Lovegood smiled and nodded his head towards the arena. “I suspect we might well see something both instructive and entertaining.”</p>

<p>Lord Smith snorted. “Children fighting with pretty lights — not a hint of good steel anywhere — not even my <em>own</em> children — nor yours for that matter.”</p>

<p>“Hi!”</p>

<p>Lord Smith started, but only a little bit.</p>

<p>A small whisp of dreamy witch had seemingly materialised in front of him, dipping down into a shallow curtsy before rising again.</p>

<p>He ruffled his moustache.</p>

<p>Lovegood chuckled. “Lord Smith, I don’t believe you’ve met my daughter, Luna?”</p>

<p>“I haven’t.” He smiled at her. “And how old are you, young lady?”</p>

<p>Luna smiled brightly. “Eleven. I’m <em>going</em> to Hogwarts next year.”</p>

<p>From somewhere in the arena, bagpipes started playing.</p>

<p>Smith laughed. “Well, why don’t you sit down again and watch a bit of what you’ll be <em>learning</em> next year?”</p>

<p>Luna grinned. “Okay!”</p>

<p>Unseen by Smith, Xeno’s smile flittered into an amused smirk before instantly reforming back into his usual look of good natured knowing.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Just do your best and stay safe, you hear me, Susan?”</p>

<p>“Yes, Auntie.” Susan nodded into the Bones House magic mirror.</p>

<p>“Good — and no matter how it turns out, I’m incredibly proud of you.”</p>

<p>Susan smiled and wiped a tear from her eye. “Thanks, Auntie.”</p>

<p>“Right, you’d better be off then.”</p>

<p>Susan nodded again. “Bye — Mirror off.”</p>

<p>Her Aunt’s image in the mirror vanished, replaced by her own. She looked into her reflection’s eyes and steeled them. If Harry Potter was anything like John, then she’d need every advantage possible to stand even a hope of losing well. The rest of the Hufflepuff duelling team seemed to think the rumours about John were just that — rumours. Even Hannah and Sally thought she was exaggerating John’s abilities. She knew better.</p>

<p>“Right!” Team captain Tonks clapped her hands together. “Let’s kick some arse! Badger power!”</p>

<p>Everyone shouted, “Badger power!” Susan joining in.</p>

<p>She placed the precious mirror into the specially charmed section of her bag, slung the bag over her shoulders, and followed the rest of her determined team out into the arena.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The crowd roared.</p>

<p>Daphne watched the Hufflepuff team walk into the arena and take their seats in one of the four quarter seated areas for the duelling teams, painted in Hufflepuff yellow and black.</p>

<p>“And finally here is the Slytherin Team!”</p>

<p>The crowd roared again, although Daphne couldn’t help notice that a small chunk wearing scarlet and gold were booing.</p>

<p>“There’s Harry!” Hermione waved, pointing to last figure in the team.</p>

<p>Tracey looked glumly at her other best friend. “I don’t know what you’re so chipper about. We’re not his friends, are we?”</p>

<p>Daphne smirked. “I guess now might as well be as good a time as any to tell you.”</p>

<p>Tracey’s eyes sharped. “Tell me what?”</p>

<p>“Harry is Gray.”</p>

<p>Tracey’s mouth dropped.</p>

<p>“He’s been Gray for ages, but it’s still a secret, so don’t tell anyone, okay?”</p>

<p>Tracey’s eyes narrowed. “You’re calling him ‘Harry’ — and how long is, ‘ages?’”</p>

<p>Daphne shrugged, but her eyes shined. “A while.”</p>

<p>“Before the thing with Lord Slytherin?”</p>

<p>“Way before then.”</p>

<p>“But…” Tracey seemed to be trying to wrap her mind around something. Her voice dropped to a fierce whisper. “But, you were kissing him!”</p>

<p>“I was.”</p>

<p>“And you have a contract!”</p>

<p>“I do.”</p>

<p>“With Lord Slytherin!”</p>

<p>“Yes.”</p>

<p>“The leader of the Gray!”</p>

<p>“He is.”</p>

<p>“And you’re saying Potter is Gray!”</p>

<p>“I am.”</p>

<p>Tracey collapsed back in her chair and stared at the sky before turning back to Daphne and narrowing her eyes again. “I <em>thought</em> it was out of character for you to suddenly start kissing some random boy.”</p>

<p>Daphne smiled.</p>

<p>“What <em>really</em> happened?”</p>

<p>“You were right to be so obsessed with bringing Harry to our side, but you were far from the <em>only</em> one to notice.”</p>

<p>Tracey watched her closely, clearly expecting her to continue.</p>

<p>Daphne smiled sweetly. “I promise to tell you all about it before next term starts.”</p>

<p>Tracey groaned. “Daaaappppphhhhhhhhh.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Our first duel will be Gryffindor versus Ravenclaw!”</p>

<p>John stopped scanning the crowds in a seemingly futile attempt to find his parents. They didn’t seem to be here. He stood up from where he sat among his fellow duellists, all giving him thumps on the back and encouraging shouts as he passed them.</p>

<p>“Heir John Potter of Gryffindor, the boy-who-lived, will be matching up against Ravenclaw Su Li of the Chinese House of Li — by the standards of Britain, an Ancient House at <em>least</em>, going back over three thousand years!”</p>

<p>He thought they would have. It kind-of hurt that they hadn’t. He descended the couple of steps to the dirt of the arena, moved towards the centre and looked around. The arena was a wide open circle littered with various obstacles — a huge log, a clump of boulders, even a small pond.</p>

<p>“How will the defeater of you-know-who fare in his first ever duelling match? That’s what we all want to know, and something I’m sure Miss Su Li is raring to find out too!”</p>

<p>Opposite him, Su Li narrowed her eyes, bowed, and adopted an oriental duelling pose. Her duelling robes looked to have more acromantula silk than dragon hide and were inked in bright patterns of white and blue.</p>

<p>John bowed in return, planted his legs firmly in the dust, and thrust out his wand in front of him as if it were a sword.</p>

<p>“Quiet please!”</p>

<p>The crowds slowly quietened.</p>

<p>Silence.</p>

<p>A bagpipe sounded a note.</p>

<p>Su Li charged. “Rictumsempra!”</p>

<p>John smirked, “Protego!” Li’s tickling charm harmlessly splashed against his shield.</p>

<p>“Tarantallegra!”</p>

<p>John jabbed his wand at the rapidly closing Asian girl. “Ceciditque!”</p>

<p>Li’s dancing legs jinx splashed off his shield again, her eyes widened in shock, and a split second later she lost her footing as John’s spell smashed into her. She crashed into the ground and John was on her, snatching the wand from her unresisting hand.</p>

<p>A man at the side of the arena raised a wand and shot out white sparks.</p>

<p>“Winner, John Potter!”</p>

<p>The crowd clapped and cheered.</p>

<p>John grinned at Li as she staggered to her feet.</p>

<p>She groaned and gave John an appraising gaze. “That was my most powerful jinx and your shield absorbed it <em>and</em> my first spell.”</p>

<p>John shrugged. “Never underestimate your opponent — I suggest you go tell your second year seed that.”</p>

<p>Su Li nodded tersely and walked off in the opposite direction.</p>

<p>The commentator’s voice boomed around the arena. “Well, how about that? John Potter takes the first win for Gryffindor!”</p>

<p>The board flashed.</p>

<p>Gryffindor — 1 vs. 0 — Ravenclaw</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry watched his brother walk out of the arena with predatory eyes. It looked like John had decided to ease into the tournament — not show anything too flashy at first. He smirked. That was fine with him.</p>

<p>“A simple combination of hexes, jinxes, and shields leading to an outright win for the boy-who-lived in record time! Miss Su Li obviously wasn’t expecting Heir Potter’s shield to hold up, but it did!”</p>

<p>Harry watched the Bones Heiress stand and start to make her way past the rest of the Hufflepuff duelling team on the other side of the arena.</p>

<p>Volf thumped him on the shoulder. “Go get ‘er, Potter!”</p>

<p>Harry stood.</p>

<p>“And now! We have the first Hufflepuff versus Slytherin match — and another first match for another Potter! Yes, that’s right, the younger twin of John Potter, I give you, Harry Potter!”</p>

<p>The crowd cheered and clapped, if only politely.</p>

<p>Harry made his way into the centre of the arena.</p>

<p>“And facing him, we have the Heiress of the Ancient and Noble House of Bones! The niece of the Head of the Department of Magical Law Enforcement, hoping to make her aunt proud, Heiress Susan Bones!”</p>

<p>The cheering this time was rather more enthusiastic.</p>

<p>Heiress Bones gazed at him with eyes alight with fire. “I warn you, I’m not like Su Li — I <em>won’t</em> underestimate a Potter.”</p>

<p>Harry felt a strange kind of déjà vu. For a moment, he could’ve sworn the words were almost Ginny’s, spoken in one of their <em>many</em> dreamland training sessions. He inclined his head. “Then I shall do my best not to underestimate a Bones, Heiress Bones.”</p>

<p>They both jumped into duelling stance.</p>

<p>“Quiet please!”</p>

<p>The rumble of the crowd died.</p>

<p>A bagpipe sounded.</p>

<p>Harry shouted, “Protego!” and was rewarded a split second later when a tripping hex splashing against it.</p>

<p>Susan dashed forward. “Ictus!” But unlike Su Li, Susan didn’t rashly charge into the duelling dead-zone, where dodging became all but impossible. “Colovaria!” Instead, she flittered at its edge, throwing hex and hex, jinx after jinx, playing the back and forth long game of assault and retreat that all duellists played with more powerful opponents. “Slugulus Eructo!” Not a bad strategy. It certainly let her last longer when her opponent was only throwing first year spells.</p>

<p>“Locomotor Wibbly!”</p>

<p>“Tussis!”</p>

<p>“Protego!”</p>

<p>“Crescere unguem!”</p>

<p>And she wasn’t bad for a first year, was she?</p>

<p>“Wingardium leviosa!” A rock levitated and hovered protectively in front of Susan.</p>

<p>Harry raised an eyebrow. “Ictus!”</p>

<p>Susan ducked behind the rock. “Petrificus totalus!”</p>

<p>Harry re-shielded and returned fire. Susan ducked behind the rock again, using the time to get off two hexes in a row, both of which splashed against his shield.</p>

<p>Harry smirked. A desperate strategy that. He continued to trade jinxes and hexes, waiting for an opening in his casting lineup. There! “Wingardium leviosa!” Rocks from all around Harry’s feet rose up and spun around him like moons orbiting a planet.</p>

<p>The crowd let out a small gasp.</p>

<p>Susan’s eyes widened. A sudden torrent of hexes and jinxes flew towards her. She dodged and shielded as best she could, but with Harry now not bothering to shield, was soon overwhelmed.</p>

<p>“Petrificus totalus!”</p>

<p>The full body bind clipped her side, her whole body seized up, and she collapsed backwards into the anti-impact charmed ground of the arena.</p>

<p>A man set off a stream of white sparks.</p>

<p>“Winner, Harry Potter!”</p>

<p>The crowd roared.</p>

<p>“Did you see that! Mister Potter countered his opponent’s expert use of levitation shielding with an even more impressive display of his own! That <em>had</em> to be second year level, at least!”</p>

<p>The board flashed.</p>

<p>Hufflepuff — 0 vs. 1 — Slytherin</p>

<p>Harry cast a finite on the Bones Heiress and helped her to her feet. “You fought well.”</p>

<p>Susan grimaced. “Not well enough.”</p>

<p>Harry shook his head. “No, but I’m sure that if this were any other year apart from this one, you would have been the best of the first years, without doubt. That levitation shielding skill is tricky to make work.” He paused as though to think. “…Although there <em>are</em> safer options in a real fight.”</p>

<p>Susan nodded. “That’s what my aunt said, but I figured since I didn’t have the skill or power for <em>them</em> yet…”</p>

<p>“Oh, certainly.” He smiled at her. “I suggest you get back now. If I stay here talking to you any longer, I fear my brother will bust a blood vessel.” And indeed, John was glaring at them from all the way across the arena.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In the stands above the Hufflepuff team, Miss Sally Smith, daughter of the Light branch of the Noble House of Smith and Heiress Hannah Abbott of the Noble House of Abbott, watched their close friend trudge back to her team.</p>

<p>“I can’t believe Susan lost,” Sally said, absentmindedly fiddling with a tiny ornate hammer hanging on a chain around her neck.</p>

<p>Hannah eyed the tiny hammer with a longstanding twinge of envy. Her friend sometimes carried the full sized version at formal gatherings — something she’d always wanted to do ever since she’d first seen Sally with it at her fifth birthday party, dragging it along the floor the way other girls would drag a favourite doll. Some noble houses got all the fun toys. She drew her eyes back to the arena. “I can’t believe Slytherin Potter managed that trick with the rocks.”</p>

<p>The two girls looked at each other.</p>

<p>“You don’t think…” Sally started.</p>

<p>“…that Susan wasn’t exaggerating about the Potters?” Hannah finished.</p>

<p>They shrugged and turned back to the arena.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John’s second opponent had swaggered into the centre of the arena, confident in his ability to take care of the lucky first year. Oh, little Su Li might have gone on and on about how he shouldn’t underestimate him, but really, he’d been training like a madman all year. He doubted the boy-who-lived could even pull off a stunner or a disarming charm.</p>

<p>The bagpipes sounded, the duel began, and the second year Ravenclaw soon realised something horrifying. The boy-who-lived <em>could</em> do stunners, <em>could</em> do disarming charms, and seemed fucking possessed, seemingly not even fighting against <em>him</em>, but against his own <em>brother</em>, if the kid’s determination to float enough rocks around him to damn a moderately sized stream was anything to go by.</p>

<p>A stray disarming charm slammed into him and launched him backwards with enough force to roll him across the ground like a rag-doll. Ouch.</p>

<p>The board flashed.</p>

<p>Gryffindor — 2 vs. 0 — Ravenclaw</p>

<p>The crowd roared.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry shot his brother an amused look as he strolled to the centre of the ring for his next duel. “Trying to prove something?” he called to John’s retreating back.</p>

<p>John turned and gave him a self satisfied smirk before continuing to walk away.</p>

<p>Heh.</p>

<p>The second year Hufflepuff regarded him with determined, yet wary, eyes.</p>

<p>Harry gave him an encouraging smile. “Just do your best.”</p>

<p>The bagpipes sounded and they started. It soon turned out that the second-year-Hufflepuff’s best wasn’t even on par with the Bones Heiress’. Harry mentally sighed as he revived the stunned boy from the ground, conscious of the now far more enthusiastic roar of the crowd.</p>

<p>“Lords and Ladies! Witches and Wizards! Both John Potter <em>and</em> Harry Potter have defeated two of the opposing teams and will go on to face the <em>third</em> years! An amazing performance!”</p>

<p>The board flashed.</p>

<p>Hufflepuff — 0 vs. 2 — Slytherin</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In a front row seat, Dumbledore reached into his paper bag, withdrew an orange bean, and ate it. Tangerine.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Of course, all winning streaks have to come to an end, and our John Potter is going to find the going tough against his next challenger. With two whole years on him, has luck run out for the boy-who-lived?”</p>

<p>John Potter smirked up at the commentator box and made a dismissive gesture towards it.</p>

<p>“Oh! He seems confident! That’s what we like to see!”</p>

<p>The boy opposite him watched him with eyes as hard as beads.</p>

<p>John took his stance and waited.</p>

<p>The bagpipes sounded and a column of enchanted fire scorched itself straight towards him. Oh yes, third year — elemental charms. He flicked his wand and bellowed, “Ventus divinum!” (Divine Wind)</p>

<p>A gust of magical wind surrounded him in a whirlwind of power, bending the flames away and giving him the opening he needed. He ducked under the moving flame column, rolled into the clear, jumped up, deflected another column of fire, and ran straight at his shocked beyond belief opponent. “Stupefy!”</p>

<p>The fire stopped.</p>

<p>The thud of a human hitting the ground sounded all around the arena, louder than a blasting curse in the total silence.</p>

<p>A man at the edge raised his wand and shot out white sparks.</p>

<p>The commentator seemed to hesitate. “I…I didn’t just see that, did I?”</p>

<p>The board flashed.</p>

<p>Gryffindor — 3 vs. 0 — Ravenclaw</p>

<p>Silence.</p>

<p>Then the cheering started.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Can you believe that?!” Ron Weasley jumped up and down, pointing and screaming at the top of his lungs. “I never knew John could do all that! Why didn’t he tell me!”</p>

<p>Beside him, Seamus Finnigan and Neville Longbottom looked equally flabbergasted.</p>

<p>“Those were third year spells,” Neville almost whispered, but still loudly enough to be heard. “Third year.”</p>

<p>“And mighty impressive ones, as well.” Seamus added.</p>

<p>“Do you think he’d be willing to teach us?” Neville asked.</p>

<p>Ron shot him an incredulous look. “You <em>want</em> extra lessons? You’re mad, mate.”</p>

<p>“What I <em>want</em>, is not to be bottom in year.” Neville said quietly. “Even the muggleborns do better than me.”</p>

<p>Seamus shot him a look. “Nev, Granger is beating <em>everyone</em> in the rankings — least that’s what I heard from one of the claws.”</p>

<p>Neville smiled weakly. “She doesn’t count. She’s pureblood in all but blood.”</p>

<p>“Guys!” Ron shouted at them, “Focus! John is kicking Ravenclaw arse!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry walked out into the arena for round three without fuss.</p>

<p>Suddenly everything had gone very quiet. He could feel the anticipation, the expectation, the wonder of two thousand people gazing down at him — would <em>this</em> Potter <em>also</em> be able to match a third year?</p>

<p>His opponent stood opposite him wearing long strawberry blonde hair tied back in a ponytail and eyes that warily said, ‘don’t even think about it because <em>that</em> CANNOT happen to <em>me</em>.’</p>

<p>“If I might suggest,” Harry began, “a strategy of taking me down as quickly as possible with as little time messing about as possible.”</p>

<p>The Hufflepuff witch’s right eye twitched.</p>

<p>They took their stances.</p>

<p>The bagpipe sounded, and both Harry and the girl shouted, “Ventus divinum!” (Divine Wind)</p>

<p>Minor gale force winds smashed into each other, each wrestling for advantage, spinning tiny tornadoes off around the arena, kicking up dirt and dust, obscuring the crowd’s view and bringing a worried expression to the girl’s face.</p>

<p>Somewhere out there, the commentator shouted, “Magical Merlin!”</p>

<p>Now slightly hidden from both the crowd and his opponent, Harry smirked and pumped rather more than a third year’s power into the spell. The storm quickly intensified and Harry suddenly sensed a panicky intent-to-stay-still ripped from its footing and helplessly dragged around the arena. “Stupefy!”</p>

<p>The magical intent vanished.</p>

<p>He cut his own elemental charm.</p>

<p>The dust storm slowly started to settle.</p>

<p>An unconscious third year lay on the far side of the arena.</p>

<p>The man at the edge of the arena shot white sparks into the air.</p>

<p>As with his brother, the crowd stayed silent for far longer than normal before sporadic clapping chained into uproarious applause.</p>

<p>“Lords and Ladies! Mister Potter! Mister Potter will go onto his fourth year opponent! Gryffindor and Slytherin are steamrolling the competition!”</p>

<p>The board flashed.</p>

<p>Hufflepuff — 0 vs. 3 — Slytherin</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John Potter eyed his brother leaving. Those were third year charms. Harry shouldn’t know third year charms. Harry had been a second year when he’d been sent to Azkaban…. Unless of course, his twin had spent the last year practising forward, just like he himself had. Yes, that would be it.</p>

<p>“Oi, kid.”</p>

<p>John shook himself and looked around to see his next opponent. The height difference was now extremely noticeable. Oh, yeah. He had a fourth year to beat. Better start taking it a bit more seriously.</p>

<p>The bagpipes sounded.</p>

<p>He flung an over-powered banishing charm straight at his opponent who, predictably, threw up a shield, clearly thinking that enough for whatever John could throw at him. The banisher smashed straight through the shield and John’s follow up stunner sailed right on-through, completely uncontested, straight into the fourth year’s stomach.</p>

<p>John might only theoretically be a year older than the boy, but he knew his power was now closer to that of a seventh year. He <em>had</em> been chosen in a fair comparison by the goblet of fire, after all, despite himself being only a fourth year at the time.</p>

<p>His fourth year opponent hit the ground with a thud.</p>

<p>At the edges of the arena, the Gryffindor and Slytherin teams sat in unsurprised resignation, while the Ravenclaw and Hufflepuff teams goggled.</p>

<p>“I…I…” The commentator seemed lost for words. “John Potter defeats his fourth year opponent and goes on to his <em>fifth</em> year challenger.”</p>

<p>Instead of breaking into applause, the crowd just stared.</p>

<p>Somewhere outside the arena, a cricket chirped.</p>

<p>John Potter rolled his eyes. “Come on!” he bellowed into the silence , pumping a fist into the air. “Don’t tell me that wasn’t <em>worth</em> a round of applause!”</p>

<p>More silence.</p>

<p>Then, it started, slowly and hesitantly, as though unsure if others were going to join in, before picking up speed and crashing around the arena in a thunderous round of applause.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>At the still empty healing station, Madam Pomfrey clapped politely. “Milking it, isn’t he?”</p>

<p>Dumbledore watched John Potter jump around the arena encouraging the audience to ever greater and greater roars of approval. “Genius such as that often comes with a large ego — so long as it’s controlled I dear say it’s fine to let children have their moments of triumph.”</p>

<p>Pomfrey chuckled. “Indeed — and it’s good he’s only used stunners to finish off his opponents so far. I greatly dislike it when they start chucking around elemental magic — fire and lightning especially.”</p>

<p>Dumbledore nodded and reached into his paper bag for another Bertie Bott’s Every Flavour Bean, absentmindedly withdrawing a red one.</p>

<p>Madam Pomfrey eyed it suspiciously. “Do be careful with those, Headmaster. I once had one just like that — turned out to be cayenne pepper — really blew up in my face.”</p>

<p>Dumbledore looked at the bean with slightly wide eyes. “Oh, dear me.” He put it back in the bag. “Yes, pepper — wouldn’t want that.” He withdrew a green one and popped it in his mouth instead. He chewed thoughtfully before making a face. “Envy.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Can Harry Potter match his brother’s performance! Next to try and take down the seemingly unstable twin forces of Gryffindor and Slytherin is Hufflepuff fourth year, Cedric Diggory!”</p>

<p>Harry walked into the centre of the arena, controlled and stoic, an obvious contrast to the exuberant and loud attitude of his twin.</p>

<p>Diggory smiled at him. “We should have listened to Susan. I guess that’s what you get for not taking seriously the words of someone on your side — most un-Hufflepuff of us.”</p>

<p>Harry bowed. “How would you like this? Quick and painless or long and drawn out?”</p>

<p>Cedric’s eyes sharpened. “John Potter won because his opponent made the mistake of thinking a first year banishing spell could never breach a fourth year shield. I now know better.”</p>

<p>Harry nodded. “And yet, there may still be things you do <em>not</em> know. Just like your second year seed thought he’d learned all he needed to know from watching my fight with Heiress Bones.”</p>

<p>Cedric smiled again and made a gracious arm sweep. “That, I cannot deny.”</p>

<p>“Quiet please!”</p>

<p>The crowd quietened.</p>

<p>Harry’s eyes narrowed. This guy seemed a decent sort. Long and drawn out it was then — complete with opportunity to impress.</p>

<p>The bagpipes sounded, both Harry and Diggory shielded, and Diggory made an immediate dash for the pond, his long legs carrying him faster than Harry’s shorter ones could. “Aqua anima!” (Water animation)</p>

<p>A large blob of water rose from the pond’s surface and formed itself into a vaguely human shape.</p>

<p>The crowd made appreciative ‘Ooooooo’ noises.</p>

<p>“Oh! A fourth year using water animation!”</p>

<p>Harry caught up and started trading hexes and jinxes.</p>

<p>“It seems it’s not only our twin Potter phenoms who can cast above their weight!”</p>

<p>The water golem covered the distance between the pond and Harry, made a wild swing at him, and found it’s fist connecting not with him, but with a large boulder levitated straight up off the ground. Its fist splashed into unformed water.</p>

<p>Harry ran at Diggory and continued to push him back.</p>

<p>The water golem reformed and made the short trip across the arena to where Harry was now playing with his tiring opponent.</p>

<p>Harry dodged a particularly close hex and shouted, “Ventus divinum!” (Divine wind!)</p>

<p>Diggory seemed barely able to stand on his feet and was clearly running straight from his core. He desperately flicked his wand and directed his water golem to deform, acting as a shield against the savage wind.</p>

<p>Harry’s eyes lit up. Opportunity. He cast a powerful banishing spell at the water shield, watched it splash into the fourth year puff, and shouted, “Fulgur Stupefy!” (Lightning stunner)</p>

<p>Crack!</p>

<p>In an instant, a thin bolt of magical lightning arced onto a patch of wet ground and travelled up onto the now soaking boy.</p>

<p>There was a moment of silence, the remaining water collapsed onto the ground, and Diggory followed moments later.</p>

<p>The board flashed.</p>

<p>Hufflepuff — 0 vs. 4 — Slytherin</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The crowd erupted.</p>

<p>Sophie Roper hung over the railing, trying to get a better look at what was going on from the other side of the arena. “<em>That’s</em> the boy that beat Hermione in the Slytherin tryouts!? No wonder Hermione lost! I mean, look at him go!”</p>

<p>Lisa Turpin laughed and whooped. “I told you! I told you Harry wasn’t just some loser! I bet Slytherin House is quaking in their boots!”</p>

<p>Padma Patil watched with a worried expression. “This isn’t normal. John and Harry Potter — they shouldn’t be able to do things like this. It’s too much. It’s like something out of an Arthurian legend.”</p>

<p>Lisa shook her shoulder. “Come on! Stop being a worry wart. Granger can do amazing things well above year, can’t she?”</p>

<p>Padma gave her a look. “Yes, but she still couldn’t go toe to toe with someone <em>of</em> those years. There’s a difference between having the skill to cast spells, and having the power needed to fight with them.”</p>

<p>Sophie leaned over the railings to stare at them. “Will you stop it, Padma! Look at Hermione!”</p>

<p>They looked over to where Granger was cheering and shouting her lungs out with the other Slytherins.</p>

<p>“If Hermione isn’t worried, there’s probably nothing to worry about.”</p>

<p>Lisa gave Sophie a half-lidded look. “Not that I don’t want to agree with you, but I sometimes think you put too much faith in Granger.”</p>

<p>Sophie giggled. “Lies!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Another water golem lumbered towards John Potter, slightly larger than the one Harry fought against, Diggory’s magical power not being quite on the level of his now fifth year opponent.</p>

<p>John jabbed his wand at the ground. “Terra golem!” (Earth Golem)</p>

<p>The dirt slowly rose up and formed itself into a vaguely humanoid shape, slightly larger even than the water golem.</p>

<p>The crowd gasped again.</p>

<p>The two golem’s crashed together, water pressed against dirt, the resultant mud occasionally breaking away from the animation charms, and splatting down onto the ground.</p>

<p>John ducked around the wrestling golems and sprinted towards his wide eyed opponent.</p>

<p>The resultant jinx and elemental duel wasn’t as easy as the ones before, but the result was the same.</p>

<p>The fifth year Ravenclaw thudded into the ground and the water golem fell like a dropped bucket, the liquid forming a small wave and quickly spreading out into a giant puddle.</p>

<p>John bent over and leaned on his thighs for a moment, breathing hard before standing up and pumping his fist in the air.</p>

<p>The board flashed.</p>

<p>Gryffindor — 5 vs. 0 — Ravenclaw</p>

<p>The crowd went wild.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Pansy shouted and screeched “Draco! This is nuts!”</p>

<p>Draco Malfoy could only agree. Hearing about John and Harry Potter defeating their entire Duelling teams was one thing — seeing it actually play out in front of him was something else. Terrifying was the word that sprung to mind. Suddenly, he couldn’t help feeling that he’d been missing something important since coming to Hogwarts. The way Harry Potter walked, maybe? The way he spoke? Something anyway.</p>

<p>Why oh why had father insisted he distance himself from Potter?</p>

<p>“Well, Draco?” Theo gave him a sideways glance before returning his eyes to the Gryffindor first year basking in glory in the middle of the arena.</p>

<p>Draco frowned. He didn’t know what to do. Every political instinct in his body, drilled into him since he was old enough to speak, was screaming at him to get Potter back on their side, <em>immediately</em> — but on the other hand, father said Potter was to be isolated. “I…” He swallowed. “I’m not sure.”</p>

<p>Theo and Pansy gaped at him.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry dodged a stunner hex chain, shielded against a stray banishing charm, and continued to casually side step his way towards the massive log on the far side of the arena.</p>

<p>His opponent’s earth golem caught up with him and raised its fist over him like the hammer of Thor.</p>

<p>“Wingardium Leviosa!”</p>

<p>The golem lifted off the ground, its fist connecting with nothing but air, and proceeded to flail uselessly in mid air.</p>

<p>The crowd gasped.</p>

<p>Harry reached the log, shielded another jinx chain, flicked his wand, and in-between dodging and shielding, yelled, “Diffindo! Diffindo! Diffindo! Diffindo! Ligna Golem!” (Wood Golem)</p>

<p>The log sliced apart into twelve pieces. A large wooden golem formed itself and stood up, its joints nothing but air, and roared.</p>

<p>The commentator stammered. “Oh, now he’s just taking the <em>piss</em>! I… I mean…”</p>

<p>With the earth golem still floating helplessly in the air, the wood golem charged at the fifth year Ravenclaw wizard who shouted, “Depulso!” (Banishing charm), watched his spell bounce off the rapidly approaching wooden monster, squeaked, threw his wand away, and put his hands up, rapidly backing away and yelling, “I GIVE UP!”</p>

<p>Harry lowered his wand.</p>

<p>The board flashed.</p>

<p>“Hufflepuff — 0 vs. 5 — Slytherin”</p>

<p>“That was incredible! Lords and Ladies, wizards and witches! Surely, the kind of performance we’d expect from a talented <em>seventh</em> year! Just how much are the Potter twins holding back on us?!”</p>

<p>Harry resisted the urge to duck his head like a sheepish boy caught in the sweetie jar. Perhaps he <em>had</em> overdone that one just a <em>little</em>.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“YES! YES! YES!” Hermione jumped up and down screaming and shouting, paying no attention to the nearby Slytherin’s giving her odd looks. “GO HARRY! GO HARRY! GO HARRY!”</p>

<p>Daphne gave her friend an amused look, barely containing a massive grin of her own. “How much of this is an act and how much is you genuinely unable to control yourself while watching Harry pound random people into the ground? ”</p>

<p>Hermione grinned at her in return before adopting a fake look of snooty indifference. “Heiress Greengrass, as a prominent member of Slytherin House, it is your <em>duty</em> to support its champions in their struggles to win us glory.”</p>

<p>Daphne’s badly contained grin broke into a full on ear to ear affair. “I guess you are correct, vassal, it is only right and proper.” She leaned over the railings and screamed, “GO HARRY!”</p>

<p>Tracey goggled.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John was sweating. Things were getting a lot more difficult now and his opponent not having to speak her spells made everything that much tougher. He’d been practising like crazy all year, but he still only had half his repertoire down silent so far.</p>

<p>Hexes and jinxes flew all over the arena.</p>

<p>His opponent was using every advantage she could.</p>

<p>John could feel he was still more powerful, if barely, but the athletic witch opposite him had clearly been training physically for years. While he was starting to tire, she still danced around his spells as though she’d only just started. Blue, green, red, pink, white — lights of every colour flashed between them.</p>

<p>John barely managed to shield a stray stunner while banishing away a trio of tiny dirt golems, circling around him like sharks waiting for the chance to strike. Right. He scowled. Enough was enough.</p>

<p>He pointed his wand, made a complicated wand movement, summoned every thought and feeling of righteousness he could muster, and shouted the spell his father had taught him to deal with the dragon in the first task of the Triwizard Tournament. “Rectus Patronum!” (Knight Patronus)</p>

<p>Silvery mist shot out of his wand and swiftly formed itself into a seven foot tall knight in armour, complete with sword and shield.</p>

<p>The crowd made appreciative gasps and OOoooos.</p>

<p>“Wow! Look at that!”</p>

<p>The misty knight darted in front of John and deflected away a hex with its shield.</p>

<p>“The famous knight patronus of the Ancient and Noble House of Potter!”</p>

<p>John used the space in his casting line up to start pushing his determined opponent back.</p>

<p>“One of the most famous Potter family spells! Not seen in public since the last war!”</p>

<p>More and more spells bounced off the misty knight’s shield.</p>

<p>“Are these two <em>ever</em> going to stop surprising us!”</p>

<p>John found an opening in the girl’s guard.</p>

<p>A stunner landed.</p>

<p>She fell.</p>

<p>The crowd exploded.</p>

<p>“I guess not! John Potter wins!”</p>

<p>The board flashed.</p>

<p>Gryffindor — 6 vs. 0 — Ravenclaw</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry watched his brother leave the arena with a thoughtful expression. Potter family magic. Just what kind of other goodies did his brother have access to in the Potter library? <em>He</em> sure didn’t know. Maybe that would be his next project once they got the stone?</p>

<p>“Quiet please!”</p>

<p>Harry snapped back to the present. Where were they?</p>

<p>The boy opposite him scowled.</p>

<p>Oh, yes. Year six. Silent casting.</p>

<p>The bagpipes sounded.</p>

<p>They both raised their wands and began a formidable duel of hexes, jinxes, charms, elemental magic, and animation magic, all in total silence.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Lord Smith watched with wide eyes as this little <em>Harry</em> Potter — and that James and Lily had a second son who was also Jonathan’s twin was news, wasn’t it? — He watched as this little Harry Potter, with his handmade duelling robes and muggle clothes, wiped the floor with the much larger sixth year Hufflepuff boy using sixth year spells that even his brother seemed to be having problems with.</p>

<p>“You know,” Lord Smith said, turning to the young Lord Lovegood as the crowd erupted into hysterics again, “If you’re trying to win me over to the Gray, you’re not really selling it very well. The way I see it, the future is with the Light.”</p>

<p>Lovegood smiled. “Harry is Gray.”</p>

<p>Lord Smith’s eyebrow rose in surprise.</p>

<p>“James and Lily Potter dumped him with magic hating muggle relatives and the boy has little love for them. Combine that with the fact that neither his father nor mother have said or written him a single word since he returned to the Wizarding World and… well… I think you see the picture.”</p>

<p>Lord Smith frowned. “That seems… rather out of character.”</p>

<p>Lord Lovegood shrugged.</p>

<p>Lord Smith returned his gaze to the arena. “Hmmmm.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“And here we are! This has been a first round for the record books! We are watching history here! No doubt about it! But can the Potter twins complete their unprecedented win streak and beat ALL SEVEN of their opponents without their team mates having to even lift their wands?”</p>

<p>John Potter scowled.</p>

<p>“We’re about to find out!”</p>

<p>Harry wasn’t supposed to be this <em>good</em>. Yes, they should be equally powerful, but he had a full two years on Harry. This was supposed to be <em>his</em> moment of glory.</p>

<p>“Quiet please!”</p>

<p>He focused onto his opponent. He’d just have to beat this guy and stomp Harry into pieces in the finals before sending him where he belonged.</p>

<p>The crowd quietened.</p>

<p>The seventh year Ravenclaw didn’t scowl. He didn’t growl or make any threatening movements. His entire being seemed focused on the fight about to start.</p>

<p>Bagpipes sounded.</p>

<p>The Ravenclaw immediately hit himself on the head with his wand and shimmered into the background, all but invisible.</p>

<p>“Homenum Revelio!” “Ventus divinum!” (Divine Wind)</p>

<p>The duel started in earnest. John used his detection spells every few seconds, keeping his opponents location pinned as well as he could while using area of effect spells to flush him out, relying on his elemental wind charm to hinder the claw’s movements.</p>

<p>Seeing that his strategy wasn’t working, the claw gave it up, quickly reverting to a more standard duel.</p>

<p>“Rectus Patronum!” (Knight Patronus)</p>

<p>“And there it is again!”</p>

<p>Back and forth they went. John would tire and his opponent would take advantage, only to be fended off by a still bright, but slowly dimming misty knight. Then his opponent would tire and the tables would turn, only for his opponent to make use of his longer legs and put enough space between him and John to rest up and return again.</p>

<p>John panted. His lungs felt like they were going to collapse. This wasn’t good. If it hadn’t been for his family magic, he’d have lost already.</p>

<p>Water swirled out of the pond and formed itself into a medium sized golem.</p>

<p>John’s heart leapt. <em>That</em> he could use! He desperately ran straight into his opponent’s dead-zone, abandoning his misty knight, shielding against every spell flung against him, feeling his magic rapidly depleting, urging his burning limbs forward, casting one overpowered banishing charm at the water golem, and then, just like he’d seen Harry do, put the last remains of his magic into his wand and bellowed, “Fulgur Stupefy!” (Lightning stunner).</p>

<p>There was a massive crack, the Ravenclaw captain stilled, limbs limp in the air and underneath, and then he fell, forward, hitting the ground like a sack of coal.</p>

<p>Silence.</p>

<p>The board flashed.</p>

<p>Gryffindor — 7 vs. 0 — Ravenclaw</p>

<p>John gave a weak smile, vaguely aware of people shouting and cheering, before collapsing forward in an exhausted heap.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry watched John and the seventh year Ravenclaw being carried off to the healing station. It looked like John wouldn’t be watching his final duel. Shame. Just so long as he was up and about for his arse whopping when Slytherin came to duel Gryffindor.</p>

<p>In front of him stood a witch with short pink hair and a look of mild awe on her face. Something about her was ringing bells in his head. He gave a little bow. “Looking forward to this, <em>Miss</em>…?”</p>

<p>The girl shook herself and grinned. “Tonks, just Tonks — and hell yeah I am!”</p>

<p>Tonks… Tonks…Harry’s eyes widened. The metamorph auror! He smiled. “Same — hey, is that colour natural?”</p>

<p>“What, this?” Tonks pointed at her hair, mischief shining in her eyes. The hair shifted to lime green. “You prefer?”</p>

<p>“Can you do emerald green with silver streaks?”</p>

<p>Tonks stuck out her tongue at him. “No, but I can do this.” Her hair shifted to yellow with black streaks.</p>

<p>“Fitting.”</p>

<p>“Sure is!” Tonks looked around quickly. She turned back to him. “Just between the two of us, kid — Holy crap, you kick ass.”</p>

<p>Harry couldn’t help but grin. Oh, he <em>liked</em> this one. “I’m sure you, ‘kick ass’, too.”</p>

<p>Tonks winked at him. “Might have a few tricks up my sleeve.”</p>

<p>“Quiet please!”</p>

<p>Ahh. Time. He took up his position and watched Tonks do the same.</p>

<p>The bagpipes sounded and Tonks immediately jumped into four copies.</p>

<p>Whoa. High level illusions.</p>

<p>The two started trading silent jinxes and hexes, Harry simply ignoring every spell thrown by one of the illusions, grinning all the while.</p>

<p>Tonks cursed. “What the hell!”</p>

<p>Harry couldn’t help laughing. He spun his wand and jumped into four copies of his own. “Have fun!”</p>

<p>Tonks’ eyes widened. She immediately summoned what seemed to be half a rockery and banished them towards the illusions.</p>

<p>Harry let them go straight through them, only bothering to shield himself.</p>

<p>“Hah!” Tonks disillusioned herself.</p>

<p>Harry cancelled his illusions and disillusioned himself. “Hah, right back at you!”</p>

<p>Then he sensed Tonks forming intent to stun from only a few feet away. He shielded, stepped forward, tripped her up, and cast a finite on her, watching her shimmer incredulously back into view.</p>

<p>He danced away, cancelling his own charm, smiling widely, and giving her time to get up. Now, <em>This</em> was <em>just</em> like his times with Ginny.</p>

<p>The announcer voice cut through his fun. “Well, will you look at that! Young Mister Potter giving his opponent time to get up! No doubt he could have had her then!”</p>

<p>Tonks now stood and watched Harry, eyes shining. “Morgana’s saggy tits! Fighting you is like fighting the wind!”</p>

<p>Harry flicked his wand in the air. “Oh, it is, is it?”</p>

<p>A wind stirred.</p>

<p>“Crap!”</p>

<p>Harry laughed and gave it a good amount of umpf — good for what he could do with this wand, anyway.</p>

<p>Tonks fought for her footing, not casting anything of her own, just letting the storm rush past her, shielding her face from the dirt and dust with her forearms.</p>

<p>Eventually, seeing she wasn’t going to take the bait, Harry let the storm die down. “Not going for it?”</p>

<p>Tonks smirked. “I’ve seen you do that trick before. It’s nothing new.”</p>

<p>“Oh, you want to see new stuff, do you?”</p>

<p>“Sure — and don’t think you’ve seen all I can offer either.”</p>

<p>The crowd listened with baited breath. The commentator stayed silent.</p>

<p>“Well,” Harry swept his arm to the stands. “We <em>are</em> here to put on a show.” He turned back to Tonks, raised his wand, grinned, and immediately spat out three spells at Tonks, one white, one pink, one brown. White — Pink — Brown. Instantly, a large smoke cloud filled the space where Tonks stood, there was a loud umpf sound, the kind of sound someone might make when the fall on their bum, and a loud crack sounded around the arena.</p>

<p>Silence.</p>

<p>Harry tilted his head and quickly shielded as a torrent of hexes and jinxes spat themselves out of the cloud illusion.</p>

<p>The illusion faded to reveal what <em>looked</em> like Tonks stepping over his zero friction charm on animated stepping stones made of animated dirt, continuing to hail down spells on him all the way. Harry could tell it was just another illusion though.</p>

<p>He stayed still and continued to shield against the incoming fake spells, all the while keeping track of the real Tonks, who’d disillusioned herself, slipped out of the back of the cloud illusion, and was now making her way around Harry’s flank.</p>

<p>Harry smirked, shield still facing forward. He then felt intent to stun from the real Tonks and a stunner flew straight at him from a seemingly empty patch of air.</p>

<p>And for his final trick…</p>

<p>He turned and swatted the stunner away, dispelling the shield and letting illusion Tonks’ spells pass harmlessly through him.</p>

<p>Tonks shimmered back into sight. “Oh, Come ON!” Clearly frustrated, she fired another stunner at him.</p>

<p>He swatted it away.</p>

<p>She tried again.</p>

<p>He swatted it away again.</p>

<p>It quickly devolved from there. Tonks walked slowly towards him like an inferi, eyes narrowed, casting spell after spell and making no effort to defend herself against anything.</p>

<p>Harry just stood there, swatting away everything. Eventually she stood just six feet away, and not a single spell had landed on him. He could see the incredulity in her eyes, the utter disbelief of what was going on in front of her. Time to end this. “Tonks?”</p>

<p>Tonks continued to chain spells as fast as her core would let her. “Yeah?”</p>

<p>“Good fight.” And from only six feet away, he spat a mild stunner straight at her, hitting her in the chest and crumpling her on the ground.</p>

<p>Silence.</p>

<p>Not even the shoot-white-sparks-man moved.</p>

<p>Harry didn’t shout like his brother. He didn’t scream and pump his fist in the air — instead, he stood there in his plain, homemade duelling robes, turned to each of the four quarters of the duelling arena in turn, and bowed.</p>

<p>Then the applause started — and it was deafening.</p>

<p>The board flashed.</p>

<p>Hufflepuff — 0 vs. 7 — Slytherin</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry Potter could spell swat. Dumbledore sat amid the clapping and cheering crowd. How had he missed that before? Had the boy been hiding it, or had he just not being paying attention? As soon as Harry had started letting Miss Tonks’ illusion spells pass straight through him, the fact that the boy could sense magic was obvious. Suddenly, a lot of little mysteries about the boy seemed to make a lot more sense. For starters, that he could disillusion himself solved the mystery of how the boy was so effectively able to evade him. Also, it was now clear that Harry’s occlumency wasn’t just an enclosed steel wall as thick as a mountain — no, it was far more sophisticated than that.</p>

<p>Dumbledore popped a brown bean from his paper bag and chewed. Blurgh… dirt.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>From way up in the back of the arena stands, a certain purple turban wearing individual politely clapped, a slight smirk playing around his cold dark face.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>All around the arena, frantic whispers and excited shouts fought with each other for attention.</p>

<p>Students ran all the way up the grounds to the castle, to all four common rooms, to shout the message to all those who’d not bothered to show to the tournament. John Potter and Harry Potter had both defeated all seven of the Ravenclaw and Hufflepuff team members and would be facing off against each other in the next match in less than an hour! Those students who were lazing around in the common rooms frantically shoved parchments and books into bags and stampeded for the arena. Those who didn’t immediately follow, first rushed to their dormitories to grab friends and dorm-mates before joining the mad scramble.</p>

<p>They squeezed into the arena anyway they could, plopping themselves down wherever they could find a seat. Those unlucky enough to arrive too late, lined the entrances and walkways, making the already filled to capacity arena, standing room only.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John frowned. After waking up and frantically checking that all his special clothing was still in place, only to find Dumbledore had surreptitiously cast a bunch of notice me nots all over it, he watched the gathering crowd with mixed feelings. Harry had also managed to beat his seventh year opponent. He hadn’t seen the fight, but apparently it had been pretty good. His teammates wouldn’t shut up about it. They all seemed worried. Well, they needn’t be.</p>

<p>Hufflepuff faced off against Ravenclaw. Ravenclaw put up a good fight, but in the end, Hufflepuff carried the day with Tonks knocking out her Ravenclaw counterpart with an expertly executed illusion ambush.</p>

<p>The twenty minute break came and went and he felt ready again.</p>

<p>“Lords and Ladies! Witches and Wizards! We will now begin the finals!”</p>

<p>The crowd roared.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“We will now begin the finals!”</p>

<p>The crowd roared.</p>

<p>Harry stood up from his seat among his fellow Slytherins.</p>

<p>Volf eyed him warily. “Oi. Take him out good and hard, you hear?”</p>

<p>Harry nodded and made his way down the steps.</p>

<p>“For Slytherin — Mister Harry Potter!”</p>

<p>The crowd roared again.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>From where he watched in the stands, Dumbledore reached into his paper bag and picked out a <em>red</em> bean.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“And for Gryffindor — Heir John Potter!”</p>

<p>John quickly made his way down the steps and out into the arena, crowd screaming in his ears.</p>

<p>In the centre of the arena, he met Harry’s steady gaze with a glare of his own. “Ready to lose?”</p>

<p>Harry smirked. “<em>Ready</em> for anything, but I don’t anticipate losing today.”</p>

<p>“Quiet please!”</p>

<p>John jumped into his duelling stance and watched Harry do the same.</p>

<p>Silence</p>

<p>Then, a bagpipe sounded.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>For anyone watching, it quickly became obvious who had the upper hand. Harry ducked and dove and weaved and swatted with the elegance of a dancer. John pulled out everything he had, but everything he had wasn’t good enough. Even his trump card, his highly effective family spell, the patronus knight, which Harry, for some reason, didn’t also use, barely slowed Harry’s onslaught.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>What the hell! John Potter barley dodged another carelessly flung stunner from his brother. He can’t be better than me! He can’t be! His patronus knight winked out of existence, magic exhausted. I’m Fate’s chosen! NOT HIM!</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore rolled the red bean in his fingers, carefully watching the duel in front of him, straining his magic senses to their very limits for that telltale first sign.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry grinned, happily enjoying totally obliterating his brother so thoroughly that everyone watching could have no doubt who was playing with who. The look on John’s face. That totally out of control panic and denial, and Harry wasn’t even using all the tricks he’d used against Tonks! He carelessly swatted away a stray jinx that John had managed to slip out of his otherwise full on defensive fight.</p>

<p>Heh, well, let’s see how he fares against this! Fumi umbra! (Smoke illusion) A white light shot out towards John’s feet.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore’s eyes sharpened. There! He brought the red bean to his mouth.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Nil frictio Tabul! (Zero friction floor) A pink light shot towards john.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore popped the red bean into his mouth.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Magnus Stupefy! (Area of effect stunner) A brown light followed it.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore bit down, hard.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The brown light shot towards the obscured John Potter and flew straight into the cloud illusion. And a split second later, an explosion blasted out from the illusion, big enough to shake the ground and cause every spectator to instinctively duck their heads.</p>

<p>The cheering immediately stopped.</p>

<p>Harry froze. What the hell? He instantly dispelled his smoke illusion.</p>

<p>The crumpled body of John Potter lay on the floor of the arena, half naked, clothes shredded, and in a rapidly expanding puddle of his own blood.</p>

<p>His expression hardened. “Healer!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione knew instantly that something was wrong. “Daphne!”</p>

<p>“I know!” Daphne had already slung her bag over her shoulder.</p>

<p>“What?” Tracey asked.</p>

<p>Hermione could see Dumbledore starting to make his way towards Harry. She turned to Daphne. “Good luck!”</p>

<p>Daphne nodded back before darting off along the stands.</p>

<p>“Whats going on!” Tracey shouted.</p>

<p>Hermione dashed to the edge of their row of seats. “Just stay here!” Then, without looking back, she leaped down the steps, over the railing, into the arena, and sped towards Harry, only one thought in mind, ‘protect my lord.’</p>

<p>She arrived only a few seconds before Dumbledore got in casting range.</p>

<p>“We need John’s clothes,” Harry hissed while handing her his wand—making it very obvious to everyone watching what he was doing—and slipped his shrunk trunk into her pocket, making that far less obvious.</p>

<p>A red bolt of light shot towards Harry.</p>

<p>Hermione jumped in front of him and shielded. The spell shattered her shield but did deflect it enough to miss its target.</p>

<p>“Miss Granger!” shouted Dumbledore, “Step away from Mister Potter!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The crowd whispered and muttered while Daphne made her way through the them as quickly as possible towards her target. “Heiress Bones!”</p>

<p>The Bones Heiress looked up at her from where she sat among the rest of the Hufflepuff duelling team, looking rather distressed.</p>

<p>“Heiress Greengrass?”</p>

<p>“As the betrothed of Lord Slytherin, I’m calling in one of the three minor favours the House of Bones owes the House of Slytherin. We need your Aunt here, now!”</p>

<p>Susan started, but quickly nodded, reached into her bag and drawing out a mirror. “Amelia Bones.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Miss Granger, step away from Mister Potter and surrender that wand!”</p>

<p>Hermione glared at the old man. “Not a chance!”</p>

<p>“Miss Granger, Mister Potter just tried to commit murder!”</p>

<p>“Harry would never do that! And you have no right to remove Harry’s wand from me now that it is in my possession.”</p>

<p>Another red light shot towards them, brighter this time. Hermione felt Harry’s hand on her forearm and a rush of magic flowed through her.</p>

<p>The stunner bounced off her shield.</p>

<p>Hermione scowled. “Cease your attacks on my person immediately, Headmaster!”</p>

<p>“You are aiding Mister Potter’s resistance of detainment!”</p>

<p>“You have no right to detain Harry!”</p>

<p>“I am the chief warlock of the wizengamot!”</p>

<p>“And you still have no right to detain Harry!”</p>

<p>“I have the right to contain what I believe to be threats to the school and its students!”</p>

<p>“And I have Harry’s wand! Ergo he is not currently a threat!”</p>

<p>“A wand that you are required to surrender to me!”</p>

<p>“I am required to do no such thing! I am only required to surrender it to an on duty member of the department of magical law enforcement, which I shall do once they arrive!”</p>

<p>“You are interfering with evidence!”</p>

<p>“No, I am merely holding it. There are two thousand people here who can see this.” Hermione glanced to her side and saw that Madam Pomfrey had long since reached John and was waving her wand over him. She ground her teeth together. C’mon Daphne.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne rushed back down to the arena from the nearest floo point, Susan and Madam Bones in tow. She barged through a group of milling spectators to see what was going on down in the arena. “There!” she called to the Bones Regent.</p>

<p>Harry and Hermione were in the middle of a tense stand off with Dumbledore and looked like they had been for quite some time. John Potter was lying in the healing station, looking half dead with half a dozen healer trainees bustling around him and Madam Pomfrey.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Miss Granger, your lord would not approve of your actions!”</p>

<p>“It is not your place to speak for my lord, Headmaster! You are not my lord!”</p>

<p>Harry glanced around to see Daphne bearing down on him with the Bones Heiress and Regent Bones behind her. He leaned into her as she arrived. “We need to get those clothes from John into evidence.”</p>

<p>Hermione held up Harry’s wand as Regent Bones stepped into speaking range. “One piece of evidence, Director Bones.”</p>

<p>Daphne stepped over to Susan.</p>

<p>Regent Bones neatly plucked the wand from Hermione’s hand. “Thank you.”</p>

<p>“Amelia!” Dumbledore called. “A word, if you please?”</p>

<p>“Susan,” Daphne whispered. “I’m calling in the second minor favour. We need what’s left of John Potter’s clothing requested as evidence.”</p>

<p>Susan nodded and went to speak with her Aunt who was engaged in a quiet discussion of her own with Dumbledore.</p>

<p>Regent Bones nodded to her and sent her off towards John, much to Dumbledore’s seeming puzzlement.</p>

<p>“Mister Potter.” Regent Bones turned to them, voice crisp and professional. “You are under arrest under suspicion of attempted murder and attempted heir usurpation.”</p>

<p>In Harry’s mind, a second personality immediately leaped onto his dominant one, wrestling it into submission and forcing the rapidly panicking Harry into a space where his out of control intent could be contained.</p>

<p>He took a deep long breath, eyes closed, his arms and shoulders seeming to shudder, and held up his wrists.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“So, was <em>this</em> part of the sales pitch you had planned?” Lord Smith quipped to his younger companion, watching the Potter boy being led away in magical handcuffs.</p>

<p>Lord Xenophilius Lovegood tilted his head. “Let’s call it, one part of a longer campaign. In any-case, I invite you to join me for the trial. If my suspicions are correct, I think you will find it just as interesting as the tournament.”</p>

<p>Lord Smith chuckled as Lovegood stood up.</p>

<p>“And now, if you’ll please excuse me, I think I have a few urgent and important matters to attend to.”</p>

<p>“Of course, of course.”</p>

<p>As Lord Lovegood left, his daughter followed him, pausing only to turn and give him a cheerful parting wave.</p>

<p>Luna Lovegood, wasn’t it?</p>

<p style="text-align: center;">— End of Chapter Thirty-one —</p>
