Chapter 32 - The House of Potter vs The Ministry

<p>Justice in the Wizarding World is a recipe gladly served but rarely enjoyed — one part truth to two parts power, add a dash of misdirection and a sprinkling of judicial procedure and bingo, a three-star verdict with zero repeat customers. There are few trials by jury. The only wizards privileged to be tried by their peers <em>are</em> peers — and lords tend to stick together. Many minor crimes in the nobility are judged by the accused’s own lord — fine when a lord’s fief contained hundreds or thousands of people, most of them muggles, but less than great when many lords <em>these</em> days ruled over only the members of their own houses.</p>

<p>Attempted murder and heir usurpation, however, were <em>not</em> minor crimes, and thus it was that Albus Dumbledore strode towards the Slytherin common rooms trailed by several DMLE security wizards to secure Harry’s dormitory space before the Department of Mysteries turned up.</p>

<p>The Slytherin common room opened to the headmaster’s presence and the little party marched down to the first-year boys’ dormitory. “Topsy!”</p>

<p>A Hogwarts house elf popped in front of the headmaster. “Yes, Headmaster, Sir?”</p>

<p>“Which one of these beds is Mister Potter’s?”</p>

<p>The elf pointed to the far-most bed and before the DMLE security wizards could start setting up the wards around it, Dumbledore performed a quick, unseen switching spell on a candlestick by the bed, replacing it with a special, recently bought and rather dark book hidden in the folds of his robes.</p>

<p>“Thank you, Headmaster,” said one of the security wizards, “we can take it from here.”</p>

<p>Dumbledore smiled a grandfatherly smile. “Of course. Please do let me know if you need anything else, won’t you?”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Hermione, Daphne, and Tracey arrived in the Slytherin first-year girls’ dormitory in a swirl of combat-ready determination. Well, Hermione and Daphne did, anyway — Tracey just trailed after them, confused and out of breath.</p>

<p>Daphne whipped Harry’s trunk out of her pocket. “C’mon, we don’t have much time.” She put it on the floor and expanded it.</p>

<p>“Time for what?” Tracey’s eyes widened at all the locks on the trunk’s front. “Dear Merlin, Daph. When did you get that!”</p>

<p>Daphne opened the lid. “It’s Harry’s”</p>

<p>Hermione started climbing in.</p>

<p>“It’s Potter’s!?”</p>

<p>Daphne started climbing in after Hermione.</p>

<p>“But I thought his parents had like, all but officially disowned him? That thing must cost a fortune!”</p>

<p>Daphne’s hand appeared over the edge of the trunk and waved at her. “Are you coming?” she called.</p>

<p>Tracey shook herself, climbed into the trunk, and down the first few steps. What she saw next made her eyes widen further. She stood in a small sitting room, complete with comfy-looking chairs, bookshelves filled with books, and a writing desk — all old wood, silver fixtures, and emerald-green upholstery. Her voice came out as a whisper. “Damn…”</p>

<p>Daphne and Hermione ignored her, already starting to pile up books on the desk and move things about.</p>

<p>She finished the short journey into the room. “I think I’m starting to appreciate Potter’s taste.”</p>

<p>“Here.” Daphne ignored her and chucked Hermione two leather bags.</p>

<p>Hermione angled around Tracey and made a beeline up the stairs again and out of the trunk.</p>

<p>Tracey sat down on the small sofa. “So, what’s going on?”</p>

<p>Daphne briefly paused from where she was thumbing through one of the many books. “We are getting ready to take our leave.”</p>

<p>Tracey blinked. “What?”</p>

<p>“Take our leave. Split. Get out of dodge. Evacuate.”</p>

<p>“You’re leaving! Why?”</p>

<p>Hermione quick-stepped back down the steps — Freekey clutching at her shoulder — and dropped the two leather bags on the floor, now full of assorted clothes, books, and associated detritus.</p>

<p>“Officially, we’re about to be disciplined for being bad little girls.”</p>

<p>Hermione flashed a smirk. “Our lord <em>really</em> isn’t happy with us.” Her face slipped back into stony-faced determination before withdrawing a trunk of her own and expanding it on the floor.</p>

<p>Tracey could only stare as Hermione carefully dropped one of the clothes-filled leather bags into it. The little monkey jumped down from Hermione’s shoulder, across the trunk, and up onto Daphne’s.</p>

<p>“But that was less than twenty minutes ago — and I <em>still</em> can’t believe you faced down Albus Bloody Dumbledore!”</p>

<p>Daphne looked up from where she stood with the book, idly scratching a chirping Freekey. “Word travels fast.” She snapped the book shut, moved over to Hermione’s trunk and stuck her head inside. “Grandmother, is Father on the way yet?”</p>

<p>An older and distinguished female voice said, “Yes, Daphne, dear. He left some while ago.”</p>

<p>“Thank you.”</p>

<p>Daphne’s head became visible again. “He’s on the way.”</p>

<p>Tracey eyed Hermione’s trunk with suspicion, mind racing. “So… what’s the unofficial reason you’re leaving?”</p>

<p>Daphne and Hermione shared a glance.</p>

<p>“Sorry, Trace,” Daphne said, “we can’t tell you, but we’ll probably be gone for a while, maybe a few weeks, maybe longer. Hopefully we’ll be back to take the exams.”</p>

<p>Hermione shivered.</p>

<p>Tracey frowned. “You’re going to miss so much.”</p>

<p>Daphne opened her mouth to respond, but a ghostly voice interrupted them. “Miss Greengrass? Miss Granger?” The see-through face of the bloody baron appeared at the trunk’s entrance. “Your head of houses are in the entrance hall to remove you from the school until further notice.”</p>

<p>Daphne turned back to Tracey and handed her the book she’d been inspecting. “Here.”</p>

<p>Tracey looked at the book in confusion.</p>

<p>“Records of all my political doings in the house. Until I’m back, <em>you’re</em> the new leader of the Gray.”</p>

<p>Tracey now looked at the book in sheer panic.</p>

<p>Daphne smirked. “Good luck.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore sighed while sitting in the Potter Manor sitting room. Opposite him sat the distraught Lord James and Lady Lily Potter. He’d done his best to calm them and, importantly for the moment, persuaded them not to grab John and run off to the Hall of Prophecies. The longer he could put off <em>that</em> phase of the game, the better.</p>

<p>But perhaps <em>most</em> importantly, he’d gotten what he really needed — appointment by Lord Potter to be Harry Potter’s defence counsel.</p>

<p>Lady Lily conjured another handkerchief and blew her nose again before dropping it on the slowly forming mountain of multicoloured cloth beside her.</p>

<p>He stood up to leave.</p>

<p>Lady Lily sniffed. “Just make sure you do what’s best for our sons, okay?”</p>

<p>Dumbledore smiled a sad smile. “Of course, Lily.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Early next morning, Daphne and Hermione, dressed in grey silk robes with large, face-concealing hoods, walked up a side alley in Hogsmeade village and turned into a street lined on each side by small cottages.</p>

<p>“Number six…” Hermione muttered under her breath, “Number eight. Here it is.”</p>

<p>Daphne stepped over both the fidelius and ward lines and felt the magics welcome her into the house. She walked to the door, opened it, and stepped inside. “Right.”</p>

<p>Hermione joined her, lowering her hood.</p>

<p>They both gazed around the small and simply furnished living room.</p>

<p>“First order of business, let’s get an owl sent off to Dumbledore, if we can.”</p>

<p>Hermione nodded and the two girls quickly found the study. One of the bookshelves contained shelf upon shelf of ornate-looking envelopes, thick with parchment, already sealed with the Slytherin head of house ring, and organised alphabetically by intended recipient. Attached to each of the envelopes with a sticking charm, was a second parchment.</p>

<p>Hermione found the Ds, picked up the topmost envelope, and read the attached parchment.</p>

<p><em>Headmaster Dumbledore,</em></p>

<p><em>I must apologise for not being able to accept your invitation. Unfortunately, I have a prior engagement.</em></p>

<p><em>Yours with the best of will,</em></p>

<p><em>Lord Slytherin, Head of the Most Ancient and Noble House of Slytherin</em></p>

<p>Nope. She grabbed the next one.</p>

<p>On the other side of the room, Daphne had found the owl treats and was treating Macavity to an early morning snack.</p>

<p><em>Chief Warlock,</em></p>

<p><em>I do not tolerate interference in my affairs.</em></p>

<p><em>Lord Slytherin</em></p>

<p>Nope. She tried the next one. It wasn’t until some halfway through the row that she found what she was looking for.</p>

<p><em>Headmaster Dumbledore,</em></p>

<p><em>I apologise for Daphne and Hermione’s behaviour. They will be disciplined.</em></p>

<p><em>Lord Slytherin, Head of the Most Ancient and Noble House of Slytherin</em></p>

<p>“There.” She handed the sealed envelope to Daphne. “That should hold him until your Dad can meet him.”</p>

<p>Daphne read it and nodded. “Yes, that should do it.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Lord Greengrass?” Dumbledore raised a surprised eyebrow. “I was expecting to meet Lord Slytherin.”</p>

<p>Lord Greengrass sat himself in the chair in front of the headmaster’s desk. “Unfortunately, my good friend is in the middle of a rather delicate project — one that requires his utmost attention, and he asked if I could be here in his stead.”</p>

<p>Dumbledore’s mind flashed. The mirror — it had to be. Frustrating though it was, there was literally <em>nothing</em> he could do about it. He tugged at his beard. “Well, I hope he’s remembering to take care of himself.”</p>

<p>Lord Greengrass gently nodded his head before leaning forward. “Let’s get straight to the nub of the matter, shall we, Headmaster?”</p>

<p>Dumbledore nodded.</p>

<p>“Both myself and Lord Slytherin are extremely concerned with the Potter boy’s behaviour and, in particular, the influence he seems to hold over my daughter. While it may not have been any of our houses he attacked, it does show what he is capable of. We are worried of what he might become, especially with how powerful he seems to be.”</p>

<p>Dumbledore smiled grimly. “I fully understand such a concern, Lord Greengrass. Although I speak as his defence, I do see that the evidence is overwhelmingly against him.”</p>

<p>“The committee has appointed Crinolow Ogden, Lord Ogden’s daughter-in-law, for the prosecution, and we intend to push for the harshest sentence possible.”</p>

<p>Albus Dumbledore nodded along.</p>

<p>“The Veil.”</p>

<p>Dumbledore froze. His eyes widened. “Lord Greengrass? You cannot be serious!”</p>

<p>“We are serious, Headmaster.”</p>

<p>Dumbledore slumped back in his chair. Harry Potter could <em>not</em> be allowed to go through the Veil. No one truly knew what was on the other side. What if the horcrux remained intact? It was unthinkable. “Jacob, the boy is <em>just</em> a <em>child</em>.”</p>

<p>“Best time to do it. I dread to think how difficult it would be to restrain him once he is older.”</p>

<p>Dumbledore rubbed his temples. “Couldn’t you be persuaded to at least push only for life in Azkaban? It means the same thing and Harry Potter would still no longer be a threat to your daughter. Not even the worst of our death eaters got the Veil, and if you try to push such a sentence on a boy only nearing twelve, the judges may well baulk.”</p>

<p>Lord Greengrass sniffed. “What are you going to be pushing for?”</p>

<p>Dumbledore steepled his fingers. “I believe a sentence of three years in Azkaban would serve the child.”</p>

<p>“Three years! You want to release him back into my daughter’s company as a fifteen-year-old? Absolutely not!”</p>

<p>“Lord Greengrass, I find it highly unlikely that Harry would still hold the same sway over your daughter after three years apart for her and three years of dementor exposure for him.”</p>

<p>“Maybe, but it is not something I intend to find out. No deals. We’re pushing for the Veil.”</p>

<p>When Lord Greengrass eventually left, Dumbledore stared hard at the closed door. Wonderful. Now he had to make sure, not only that Harry was found guilty, but also that the boy wasn’t executed. How did Slytherin manage to be so frustrating <em>even</em> when they were momentarily on the same side?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The sitting room of Greengrass Manor had rapidly become mission control. Several extra desks had been found from the various spare studies and now formed an outer ring with the various sofas and low tables in the large room’s middle. The defence lawyer, Mrs Crinolow Ogden, much to her bemusement, found herself working aside Daphne and Hermione, who themselves shared a desk next to Luna.</p>

<p>Xeno and Pandora Lovegood also had desks of their own next to Luna’s, although they made use of them far less than their daughter.</p>

<p>Jacob and Sunny Greengrass kept most of their work upstairs, but when working on, ‘The Harry Situation,’ they tended to sit in one of the middle armchairs, their parchments strewn across one of the low tables in front of them.</p>

<p>The Greengrass house elves kept up a constant stream of tea and biscuits for the many guests who dropped by — some summoned, others merely curious, but all sworn to secrecy by their respective heads of houses.</p>

<p>And finally, sitting alone on Mrs Ogden’s other side, sat a lonely, empty desk with a small plaque reading, ‘Lord Slytherin.’ It focused the minds of those in the know far better than any pepper-up potion could.</p>

<p>Pandora Lovegood scampered into the room, jumped up on one of the middle low tables, bushy tail twitching furiously, and transformed back into a human, fist held up in the air, face scrunched up in a scowl. “I have news.”</p>

<p>Mrs Ogden looked up from her parchments. “Go on.”</p>

<p>Daphne, Hermione, and Luna all also stopped what they were doing.</p>

<p>“The Department of Mysteries has a piece of evidence relating to Harry’s case that we didn’t know about. They found a dark arts book by Harry’s bed that contains the curse that Harry allegedly used.”</p>

<p>“That’s ridiculous!” Hermione slammed her hands on the desk in front of her, and stood up, chair shooting backwards. “Harry would <em>never</em> keep something like that by his <em>bed</em>!”</p>

<p>Mrs Ogden whistled. “Must have been planted beforehand.”</p>

<p>“That goat bastard!”</p>

<p>Pandora hopped down from the table and handed Mrs Ogden and the girls copies of the DoM analysis.</p>

<p>Daphne took the parchments and started to read, biting her lip in worry. It had already been a week. One week for Harry alone and confined in a lower-grade version of his own personal hell. She hoped and prayed he was doing okay.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The cell was not uncomfortable — certainly a lot better than Azkaban. There weren’t any soul-sucking demons here, which was a plus. On the other hand, in Azkaban he’d never felt like half of him was struggling to rip the other half apart. He sat on his little cot, hands trembling, heart alternating between calm and pounding, trying not to focus on <em>anything</em> in the room — the walls, the door, the bars, anything that would remind him he couldn’t get out. Instead, he practised wandless conjuration the way other prisoners might make paper cranes.</p>

<p>It wasn’t the most productive use of his time, but every second focused on trying, and mostly failing, to form magic into solid objects was an extra second his out-of-control self, currently curled up and whimpering deep in his head, wouldn’t have control of his body.</p>

<p>So far, he’d managed to conjure a tiny glass bead. He played with it in between trembling fingers, before they lost their tenuous grip and the bead bounced away across the cell, towards the door.</p>

<p>Fuck.</p>

<p>And then he heard footsteps coming from outside. He straightened on his cot.</p>

<p>A white-bearded head with moon-shaped spectacles appeared briefly behind the door’s window bars. There was a clank noise, the door opened, and a purple-booted foot carelessly crushed the glass bead lying on the floor. “Good morning, Mister Potter.”</p>

<p>Harry summoned the kind of willpower that could just about fend off a legilimency attack from an older Voldemort after five sodding years of steadily escalating, dementor fuelled, mental arms race, and said, “Good morning, Headmaster.”</p>

<p>Dumbledore conjured himself an armchair. “While I’m shocked and greatly disappointed in your actions, I’m pleased to be able to tell you that your parents have appointed me to be your defence counsel.”</p>

<p>“Yay.”</p>

<p>Dumbledore ignored his flippancy, took off his glasses, and rubbed his eyes. “Unfortunately, Harry, the evidence speaks for itself and it’s almost certain that you’re going to be found guilty.”</p>

<p>Harry stared blankly at the old man in front of him. Best to struggle at least a <em>bit</em>. “Veritaserum?”</p>

<p>“Veritaserum may not be used on members of noble houses in court.”</p>

<p>“But why not <em>now</em>? At least then you could learn that I am innocent.”</p>

<p>“Even then, the law says that I cannot.”</p>

<p>“I thought my father could authorise it as the head of a noble house with the ministry?”</p>

<p>“No, only pureblood houses — Potter is not a pureblood house.”</p>

<p>Harry’s lip curled. “What about my wand?”</p>

<p>“Unfortunately, someone made a mistake, and I won’t be able to submit that as evidence.”</p>

<p>“How convenient.”</p>

<p>“The prosecution is going so far as to push for the Veil — so I’m going to focus my efforts on ensuring that you get the most lenient sentence possible.”</p>

<p>“What is the Veil?”</p>

<p>Dumbledore hesitated. “It’s an archway in the Department of Mysteries — no one knows where it goes, but the legends say it links the land of the living with the land of the dead.”</p>

<p>Harry said nothing.</p>

<p>“So, if you’d just sign this, I can focus on making sure that doesn’t happen.”</p>

<p>Dumbledore handed him a parchment and Harry read it. It was a full confession. He made to hand it back with shaky hands. “No.”</p>

<p>Dumbledore frowned, not accepting the parchment. “Harry?”</p>

<p>“I’m innocent. I’m not signing anything that says otherwise.”</p>

<p>“Mister Potter, I’m not sure you understand the severity of your situation. You have attempted to murder the heir to one of the most powerful houses in magical Britain — your own <em>brother</em>. Even if you don’t get sent through the Veil, you could easily be looking at life in Azkaban, unless I am able to convince the court otherwise.”</p>

<p>Harry carefully tore up the parchment as though solving a complex problem and threw it in Dumbledore’s face.</p>

<p>Dumbledore sighed, silently stood, and left, closing the door behind him with another loud clank.</p>

<p>Later that night, Harry lay down in his cot, exhausted, closed his eyes, and thought of the one thing keeping him sane. His world shifted, there was a feeling of movement, and he opened his eyes again. He stood in front of a Mesoamerican pyramid. The world was dark. Lightning and thunder crashed in the sky. Rain whipped around him. Trees bowed and rose like terrified subjects before an evil king. And way above him, a cage containing his other self swung in the air, magic swirling around it like wind around the eye of a tornado.</p>

<p>“Harry!”</p>

<p>Harry turned, shaking, even here, but managed to let his face relax into a smile, just before a red-headed witch collided with him, warm arms wrapping around him, bringing new strength and determination to his otherwise-tired mind. “Ginny.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Your ten o’clock is here, Director.”</p>

<p>“Thank you, please send them in.” Director of the Department of Magical Law Enforcement, Regent Amelia Bones leaned back in her chair and waited.</p>

<p>The door opened and a much shorter than expected witch stepped through.</p>

<p>“Miss Greengrass?”</p>

<p>Heiress Greengrass smiled. “Regent Bones.” And made herself comfortable in the chair opposite her.</p>

<p>“What can I do for you?”</p>

<p>“I wish to call on the third and final minor favour owed by the House of Bones to the House of Slytherin.”</p>

<p>Amelia raised an eyebrow. She loved her niece like her own daughter, but sometimes the trouble she got herself into…. Although, arguably, making those kinds of mistakes was exactly what Hogwarts was for. Make them and learn from them where they didn’t matter so much. She observed the young witch in front of her. “Well?”</p>

<p>“You will soon be one of the magistrates sitting in judgement in the case of Harry Potter.”</p>

<p>Amelia frowned. She didn’t like the sound of where this was going. “Yes…?”</p>

<p>“We wish to use our third minor favour to have you ensure a completely fair trial.”</p>

<p>Amelia blinked. <em>That</em> hadn’t been what she’d expected. “You <em>do</em> realise this is something I will do anyway?”</p>

<p>“Nevertheless.”</p>

<p>Amelia frowned again. “In fact, you’ve used every single one of your minor favours to ensure I do things that it is my job to do anyway.”</p>

<p>Miss Greengrass shrugged. “Then you will have no problems ensuring that the trial is <em>fair</em>?”</p>

<p>Amelia sat in silence for a moment. It seemed a reasonable use of a minor favour, but was there any way this could backfire on her? Wait… “Miss Greengrass,”—she took a deep breath—“are you asking me to break the <em>law</em>?”</p>

<p>Miss Greengrass quickly shook her head. “No, I would never ask you to break the law — I merely ask that you see your way possible to bend it.”</p>

<p>Amelia narrowed her eyes. “Bend it <em>how</em>?”</p>

<p>“However you see appropriate to ensure a fair trial.”</p>

<p>“However <em>I</em> see appropriate?”</p>

<p>“However <em>you</em> see appropriate.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Sirius Black made his way down to the holding cells of the DMLE. He’d never meant it to turn out like this, but things had just happened, mostly Alex. Alex had happened, and continued to happen on a fairly regular basis.</p>

<p>He checked in with the on-duty guard. “Anything I should know?”</p>

<p>The security wizard shrugged. “He’s pretty quiet most of the time. Tries to put on a strong face, but we can all tell he’s barely holding it in. He shakes all the time and cries out in his sleep.”</p>

<p>Sirius nodded grimly and made his way down the lines of cell doors until he arrived at one towards the end. He knocked on the solid iron and rune-covered door. “Knock, knock.”</p>

<p>An eleven-year-old voice on the other side said, “Come in.”</p>

<p>Sirius opened the door, stepped inside, and couldn’t help the faint in-draw of breath. Merlin, he <em>was</em> identical to John.</p>

<p>The boy on the cot looked up.</p>

<p>Sirius took another step and felt something crunch under his foot.</p>

<p>The boy managed a smile. “Sorry about that.”</p>

<p>Sirius looked down. Hundreds of what looked to be small glass beads littered the floor. Before he could stop himself his inner auror said, “<em>Where</em> did you get <em>these</em>?”</p>

<p>The boy held up a shaky hand, concentrated, and produced a small glass bead in a bright white glow.</p>

<p>Sirius’ eyes widened. “Wow, Harry.”</p>

<p>Harry looked up sharply.</p>

<p>Sirius hesitated. “Ugh, I guess I should tell you who I am, huh?”</p>

<p>Harry slowly shrugged. “You are Lord Sirius Black of the Most Ancient and Noble House of Black — Chief Auror of the Department of Magical Law Enforcement.”</p>

<p>“Ah, yeah, yeah I am.” He took a deep breath. “Do you… do you mind if I take a seat?”</p>

<p>Harry shook his head, so Sirius went back outside and grabbed a chair from one of the many that lined the wall down the hall. Once sitting down back inside the cell he looked Harry in the eyes.</p>

<p>Harry seemed to be in no rush to ask about his sudden appearance, just stared at him as though trying to solve a complex puzzle.</p>

<p>Sirius rubbed the back of his head. He had to admit that he wasn’t sure what he <em>had</em> expected. If the boy sitting in front of him were John, he’d be asking questions faster than Sirius could answer them.</p>

<p>The silence dragged on. Eventually Sirius opened his mouth to speak, but before he could, Harry finally decided to instead.</p>

<p>“Are you my godfather?”</p>

<p>Sirius shifted on his seat. He suddenly found it difficult to look into the kid’s eyes. “Kinda.”</p>

<p>“I had wondered. I knew that you are my brother’s”</p>

<p>“Yeah.”</p>

<p>Harry let out a shuddery breath. “So, why the visit? You choose the most interesting time to become reacquainted.”</p>

<p>Damn, those eyes. Like Lily’s, like John’s, but so <em>old</em>. The kid’s hands still shook. “Are you okay, Harry?”</p>

<p>“No. I’m not okay. I’m soon to be tried for attempted murder and heir usurpation — I’m in a cell I can’t get out of — and I have cleithrophobia.”</p>

<p>“Cleithrophobia?”</p>

<p>“The irrational fear of being trapped. It’s what caused me to blow up one of the Hogwarts classrooms. Right now, I’m using advanced occlumency to stop myself going full Atlantis, but there’s a part of me, deep inside my mind, that’s constantly whimpering in terror.”</p>

<p>Sirius widened his eyes. “What are you doing in <em>here</em>?”</p>

<p>“I’m a prisoner. What am I <em>supposed</em> to do? Tell the guards I’m afraid of being in a cell? Ask if the presumed attempted murderer can have a room at The Leaky Cauldron instead?”</p>

<p>“—You didn’t try to murder John.”</p>

<p>Harry stilled before staring at him for an age. He tilted his head slightly to one side. “<em>Do</em> go on.”</p>

<p>Sirius shifted uncomfortably. That hadn’t been the reaction he’d expected. “I read the report the DoM filed on your wand — just a basic spell chain, it said.” He couldn’t help let out a slight laugh, “Or rather, a really <em>advanced</em> spell chain — also saw the memories of you and John in the tournament — couldn’t believe it — had to get some friends in the DoM to tell me it was all real.”</p>

<p>Harry continued to stare at him.</p>

<p>“So, anyway, it’ll be fine, and you’ll be out of here in no time. Dumbledore will see to that.”</p>

<p>Harry smiled, although Sirius couldn’t help thinking it looked somewhat forced.</p>

<p>Sirius cleared his throat. “So, Harry, I was wondering… once Dumbledore gets you off—”</p>

<p>Harry made a disgusted face.</p>

<p>“—Sorry. I mean, once Dumbledore gets you <em>acquitted</em>, if you’d like to spend some time over the summer with me?”</p>

<p>“Yes, I’d like that.” Harry made a thoughtful face. “<em>Why</em>?”</p>

<p>“Well, it would be a chance for you to spend some time with John, and—”</p>

<p>“—You <em>do</em> know that we hate each other’s guts, right?”</p>

<p>“Maybe you just need some quality time together?”</p>

<p>Harry gave him a half-lidded look. “You’ve <em>seen</em> what we’re capable of. How do you imagine that <em>quality time</em> would go?”</p>

<p>Sirius ignored his newfound godson whose, dry speech and blank expressions were so different to John’s. “It would also give you a chance to get to know your godfather better — and you could get to know my daughter, Alexandra. She’s going to Hogwarts next year — and you could…” he hesitated, “…watch out for her — you know — if she winds up…” he trailed off lamely.</p>

<p>Harry smirked. The first sign of mirth Sirius had seen on the kid’s face. “In the evil dark snake pit?”</p>

<p>Sirius nodded.</p>

<p>“Sure.”</p>

<p>Sirius let out a small sigh of relief. As much as he dreaded thinking about it, he couldn’t help coming to the conclusion that Alex <em>was</em> going to be sorted into Slytherin House. He’d recently found his daughter sitting cross-legged in the sitting room, clipping articles about Lord Slytherin from the Daily Prophet and Witch Weekly for a moving, magical collage. More than a little disturbing. Hopefully Harry — prodigy, Slytherin, duelling-master Harry — would be able to at least distract her a bit.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In the following weeks, Daphne and Hermione could think of little else <em>but</em> Harry — all alone and suffering in the dark, willing to endure his own private hell just to manoeuvre the enemy where they needed him.</p>

<p>To keep from going insane, they busied themselves with delving into every little aspect of the case, plotting out every possible point, how to counter it, and how the headmaster might counter their counters. Whenever they weren’t working on the case they kept up with classwork or else practised duelling with Luna, only to find, much to their dismay, just how far behind the shorter blonde witch they were, <em>even</em> when she didn’t have a <em>wand</em>.</p>

<p>Their determination and work ethic did not go unnoticed. “Are you two planning to go into law when you graduate?” Mrs Ogden asked one day, pouring herself a cup of tea while the girls argued with each other about the finer points of countering a claim of wandless magic.</p>

<p>Jacob was then halfway through telling Mrs Ogden about Hermione’s healer training when a steely-eyed Xenophilius Lovegood walked in.</p>

<p>“No luck,” the Lovegood lord said.</p>

<p>Everyone groaned. Ever since they’d gotten the DoM report back on John’s duelling robes, they’d been trying to pin down exactly <em>how</em> Dumbledore had pulled off that explosion exactly when it needed to happen.</p>

<p>Mrs Ogden set her teacup down with a decisive clink. “We’ll just have to do the best we can with what we have then.”</p>

<p>Everyone nodded.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>[May 20, 1992 — The day of the trial — 10:00am]</p>

<p>Albus Dumbledore stepped into the courtroom, old tome and stack of parchments under one arm, looked around, and raised an eyebrow. He supposed he shouldn’t be surprised. The visitor’s gallery held rather more than one would expect for a trial of this type, although, admittedly, few trials had the boy-who-livedin the witness box as the subject of an attempted murder.</p>

<p>He’d tried several more times to get Harry Potter to confess, even going so far as to stall the trial to give the boy longer to stew down in the cells. His contacts told him the boy didn’t seem to react well to such an environment and he’d hoped that would sway him, but it was all to no avail. The boy had stubbornly refused to sign anything.</p>

<p>At the front of the room, Regent Bones, Madam Marchbanks, and Regent Longbottom sat in the judges’ chairs.</p>

<p>Dumbledore walked to his lectern on the left side of the room, opened the book in front of him, and shuffled his parchments. He looked around at the visitor’s gallery again. Even Lord Malfoy was here… he hadn’t expected <em>that</em>.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Lucius Malfoy carefully watched Albus Dumbledore watching him, painfully aware that he was the only member of the Dark in the room. The other watchers were either members of the press, the Light or the Gray.</p>

<p>He held his wand-concealing cane slightly tighter in his hands.</p>

<p>Over a month ago, Draco had sent him the memory of Harry Potter duelling in the tournament. Impossible, he’d thought. No mere eleven year old could be <em>that</em> good. Then he’d analysed the boy’s fighting style and came to the same blood-chilling conclusion he’d come to with Lord Slytherin — a conclusion that nevertheless explained just how Harry Potter could be so much better, even than his own twin brother. Harry Potter was <em>also</em> Dark Lord Voldemort. He was another memory, just like the diary. When he’d told the diary what he’d found, Riddle had immediately ordered him to cease their current plan — planting the diary on an unsuspecting first year to unleash the beast within the Chamber of Secrets. They needed more information, he’d said. They needed to find out just <em>what</em> his other selves were up to.</p>

<p>The quiet babble of conversation washed around him from the other gathered spectators.</p>

<p>It was a question that terrified him. Why had Voldemort changed his identity to Lord Slytherin? <em>How</em> had he? And why had he gone to the trouble of forming an entirely new faction out of the former neutrals? Did Voldemort believe him and all those who evaded Azkaban to be traitors? Did the Dark Lord believe them all to be failures who’d one day need to be hunted down just like he’d once upon a time hunted down mudbloods and blood traitors? Or had he just formed the Gray with the intention of integrating it into the Dark at a later date? But if so, then why not <em>tell</em> him? Lucius shivered.</p>

<p>Hopefully this trial, and subsequent cooperation with Slytherin—and presumably, Potter—would shine some light on these questions in his favour.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Took them long enough,” Lord Smith said to his companion with the air of someone settling down to watch a good quidditch match.</p>

<p>Lord Lovegood, who’d just arrived, politely inclined his head. “I believe the defence has been stalling for time. No idea why though.”</p>

<p>“You seem very confident your boy will come out of this with nothing to worry about.”</p>

<p>“I am.”</p>

<p>“And if they find him guilty?”</p>

<p>Lord Lovegood smiled. “Then I suspect my daughter will level Azkaban.”</p>

<p>Lord Smith chuckled.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John Potter hated this. His parents had been fussing over him from the moment he’d woken up and hadn’t let up since.</p>

<p>“Now, straighten your robes.”</p>

<p>“Yes, Mum.”</p>

<p>“And remember to say nothing but the truth when they call you.”</p>

<p>“Yes, Mum.”</p>

<p>His mum looked around the court room, distracted, nervous, and seemingly near tears.</p>

<p>His dad put a comforting hand around her shoulders. “It’s okay, Lily. Albus won’t let him go through the Veil.”</p>

<p>“He should.” John blurted out.</p>

<p>“John Potter!” his mum hissed at him so as not to be heard over the background hum of conversation. “You will <em>not</em> speak about your brother like that!”</p>

<p>“I just don’t understand why you two aren’t angry at him!” John bit back, scowling and sticking his hands in his robe pockets. “He tried to kill me!”</p>

<p>His dad looked at him sternly. “But you are not dead, and he’s going to get plenty of time to think about what he did wrong — and by the time he’s out, things may well have changed, and we might even be able to spend time with him again.”</p>

<p>John had to keep himself from gagging. Didn’t they understand just how <em>dangerous</em> Harry was?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry conjured another glass bead. Conjuration was a lot more difficult than transfiguration and required more magic, but the results lasted longer. While transfiguration was limited by the material the magic flowed through, conjured items <em>were</em> magic.</p>

<p>Thousands of glass beads littered the floor of the ministry cell. Spaced out among them sat the occasional more ambitious piece — here, a tiny glass apple, there, a tiny glass snitch, and right in front of where he sat, a tiny glass ice-cream cone, complete with three scoops of ice-cream, the culmination of over a month of practice.</p>

<p>The door clanged and opened. “Mister Potter?” said one of the guards. “It’s time.”</p>

<p>Harry took a deep breath and stood up, crunching glass beads as he left. The guard attached himself to him with a chain, and together they walked through the hallways of the ministry in relative peace — although the occasional worker did give them a second glance.</p>

<p>The doors to the courtroom swung open and all heads turned to him.</p>

<p>He was led into the middle of the courtroom and deposited into a horribly familiar chair. Instantly, magical chains leapt up and curled themselves around his wrists and ankles. His hands started to shake again.</p>

<p>In front of him, and on the left side, stood the defence — Dumbledore — and on the right side, stood the prosecution — a woman he recognised as Mrs Crinolow Ogden. Directly ahead of him sat three women he had no problems remembering — Regent Bones, Regent Longbottom, and Madam Marchbanks — the same three judges who’d sentenced him last time around.</p>

<p>A good start, that.</p>

<p>Regent Bones raised her wand and a small cannon blast came out of it. “We are now hearing the case of the Ancient and Noble House of Potter versus the Ministry of Magic. Harry James Potter, you are accused of attempted murder and attempted heir usurpation, how do you plead?”</p>

<p>Dumbledore cleared his throat. “My client pleads…”</p>

<p>Harry almost thought he heard Dumbledore sigh.</p>

<p>“…Not guilty.”</p>

<p>Regent Bones nodded. “Very well. We’ll first have the defence and prosecution read their opening statements — Albus, if you would?”</p>

<p>“Your honours, while the evidence, unfortunately, speaks for itself, I intend to show that Mister Potter should not be held to the same standards of punishment that might usually be meted out for such a crime. Since Mister Potter has entered our world, he has shown himself to be a talented and resourceful student who, unfortunately, has allowed envy to fester into magical mental instability and dark arts experimentation, and then to make the terrible misjudgement we are here today to judge on.”</p>

<p>Harry glared at him. Oh, how he’d like to light that stupid beard on fire.</p>

<p>“I would further go on to make the case that Mister Potter can, and should, serve only minimum sentence before being placed in long-term mental care in St Mungo’s.”</p>

<p>Amelia eyed Dumbledore for slightly longer than one might expect before turning to Mrs Ogden. “Prosecution, please.”</p>

<p>“Your honours…” Mrs Ogden glanced at Dumbledore. “…Given the clear-cut nature of the evidence available, we find it very difficult to push for even a paucity sentence…”</p>

<p>Harry glanced at Dumbledore’s face as Mrs Ogden carried on. Shock, confusion, slowly forming anger. Heh.</p>

<p>“…Thus we intend to show how what the evidence we <em>do</em> have seems to suggest…”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p><em>What</em> the <em>hell</em>? Dumbledore stared as Mrs Ogden went on and on. Red mist descended as he realised what was going on. He was being set up. All those conversations with Greengrass had just been <em>diversions</em>! The Gray had <em>no</em> intention of sending Harry through the Veil. But why? The Gray shouldn’t want anything to do with Harry — he’d made sure of that. A bead of sweat ran down his neck. <em>Unless</em> Harry’s performance at the duelling tournament had convinced Lord Slytherin to recruit the boy, even <em>despite</em> the business with Miss Greengrass. Ugh. This wasn’t good.</p>

<p>“…With a full exoneration.” Mrs Ogden wrapped up her opening statement.</p>

<p>Dumbledore’s beard twitched. On the other hand, Amelia did <em>not</em> look happy with the prosecution, did she?</p>

<p>All around the court room, a faint muttering could be heard.</p>

<p>Amelia glared between him and Mrs Ogden. She looked to her two other judges who nodded back before sounding another blast with her wand. “Okay, stop. I want to know right <em>now</em> why the defence is playing prosecution and the prosecution is playing defence.”</p>

<p>Albus jabbed a finger towards Mrs Ogden. “Your honour, the prosecution <em>assured</em> me they would be pushing for the Veil—”</p>

<p>Gasps sounded around the court room.</p>

<p>“—And I prepared my defence based on avoiding <em>that</em>. This is <em>hugely</em> irregular!”</p>

<p>Mrs Ogden glared. “And how <em>regular</em> is it, may I ask, for the defence of a client to be handled by someone who admits <em>in their opening statement</em> that all the evidence points towards their client being guilty?” She looked towards Regent Bones. “How is someone supposed to get a <em>fair</em> trial when their own defence believes them to be guilty and is pushing for that result despite their own client’s plea of not-guilty — even when there is plenty of evidence <em>clearly</em> showing them <em>to be</em>, in fact, not guilty.”</p>

<p>Dumbledore’s nose flared. They <em>were</em> going to use the wand as evidence, weren’t they? Damn it. He needed to think of some way around that. He needed—</p>

<p>“Dumbledore?” Amelia’s voice cut through his thinking. “<em>Is</em> there evidence that shows Mister Potter to be innocent?”</p>

<p>He grit his teeth. “Your honour, the <em>interpretation</em> of the evidence <em>might</em>, in certain circumstance, lead one to cast a doubt over Mister Potter’s guilt, but the unfortunate reality of the situation—”</p>

<p>Bang! Amelia gave yet another blast on her wand, cutting him off. She leaned forward and rubbed her temples with the tips of her fingers before straightening. “I can’t believe I’m doing this.” She sent a mild glare towards Lord Greengrass who watched intently from the visitor’s gallery, before speaking again. “Mister Dumbledore, Mrs Ogden, please step away from your lecterns.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry watched from the middle of the room, still chained to the chair, as Amelia Bones ordered Dumbledore and Mrs Ogden to step away from their lecterns. What was she planning to do? Hopefully not rule a misstrial. That would suck.</p>

<p>A visibly agitated Dumbledore snapped his book shut with such force it snapped a clump of his beard too, causing the headmaster to flinch and Harry to smirk.</p>

<p>“Now, please walk forward and don’t stop walking until I tell you to.”</p>

<p>Dumbledore and Mrs Ogden walked forward in total silence. No one in the court seemed to be even breathing.</p>

<p>“Stop.”</p>

<p>They stopped.</p>

<p>“Now please turn around and walk to your new lecterns.”</p>

<p>They did so, Dumbledore looking both annoyed and uncertain. He put the book down, still closed, on the lectern and Harry’s eyes sharpened with the unrealised and unknown talent of a snitch-seeking prodigy. Several hairs from the headmaster’s long, white beard were trapped in the book’s pages, just visible against the black leather of the book’s cover.</p>

<p>“Now.” Amelia smiled primly. “Prosecution,” she turned to Dumbledore, “if you would please start submitting evidence.”</p>

<p>Harry tore his eyes away from the hairs and back towards Amelia Bones, a small smirk playing across his lips.</p>

<p>Dumbledore breathed out sharply in exasperation. “Your honour, you can <em>not</em> be serious. I am not <em>prepared</em> to act as prosecution, regardless of what <em>they</em>”—he motioned towards Mrs Ogden—“might have you believe.”</p>

<p>“This is <em>our</em> court room, Albus, I am totally serious. You were going to try and prove that Mister Potter here—an eleven year old child—should be given several years in Azkaban. I’m sure some would say that if you came here ready to push that, then you came here ready to be prosecution.”</p>

<p>“I was <em>appointed</em> by Lord Potter—”</p>

<p>“—We will not have our courtroom become a circus! Nothing has changed except where you stand, and what I’m calling you.” Regent Bones glanced towards Harry’s parents who he noticed with interest looked <em>extremely</em> confused. “Now, please get on with it.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>John watched with mounting unease as Dumbledore quickly had a word with a court assistant who scuttled off on some unknown errand, before submitting a dark arts book as evidence, followed by Ogden submitting both Harry’s wand and the tattered duelling robes John had worn during the tournament. This wasn’t good. Dumbledore’s whole plan was based around the fact that the wand would never see the inside of a courtroom. And as for the clothes… cold sweat started to form on his neck. Ogden hadn’t figured anything out, had she? If she had… if the new defence could prove it… he swallowed. In the quiet courtroom, it sounded very loud.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Fine, we accept Lady Blott’s position as a magical expert.” Amelia blasted her wand. “Dumbledore, if you could please present the case for the prosecution.”</p>

<p>Dumbledore took a deep breath. This wasn’t going to be easy, but in the time he’d had while submitting evidence, he <em>had</em> remembered an important little detail that could hopefully cast doubt on the validity of using the wand as evidence, but for that to work best, he’d need a witness he hadn’t counted on needing, and that court assistant hadn’t arrived back with him yet. Hopefully, they would, and soon. “I’d like to call Mr Flourish as my first magical expert.”</p>

<p>An old man with short brown hair stood up and made his way to the high chair next to his lectern. After swearing an oath that was in no way magical and signing a contract that did little but confirm he was who he was, Dumbledore started his questioning.</p>

<p>“Mr Flourish, where were you on April 4 at around eleven a.m.?”</p>

<p>“I was watching the Hogwarts duelling tournament.”</p>

<p>“And what happened during the match between Mister Potter and Heir Potter?”</p>

<p>“Mister Potter seemed to be winning, then he cast a brown spell into a smoke illusion that caused an explosion.”</p>

<p>“The court has already heard your qualifications in the realms of books and spell identification, Mr Flourish, could you please identify the spell Mister Potter used.”</p>

<p>“Well, based on the spell’s colour, speed, shape, etc, it <em>could</em> have been one of half a dozen, but given the effects on Heir Potter, we know it to be a dark blasting curse, specifically the creptus curse.”</p>

<p>“Could you please inspect this book and tell us if you recognise it.”</p>

<p>Mr Flourish took the book in gloved hands and inspected it. “Yes, I do, Joseph Krinkelheit’s <em>Compendium of Prussian Dark Arts. Fortieth Edition</em>, it looks like.”</p>

<p>“Does this book contain the creptus curse?”</p>

<p>“Oh, yes. In fact, this was the first book that published it back in the 1700s.”</p>

<p>“Thank you, Mr Flourish.” Dumbledore stood aside.</p>

<p>Amelia shot a questioning look at Mrs Ogden who nodded, walked to the high seat, and asked a few questions of her own.</p>

<p>“Mr Flourish, you said before that you saw Mister Potter cast a brown spell that caused an explosion?”</p>

<p>“Yes.”</p>

<p>“What was the spell Mister Potter cast immediately proceeding that spell?”</p>

<p>“It was a zero friction spell.”</p>

<p>“And before that?”</p>

<p>“It was a smoke illusion spell.”</p>

<p>“So, the area around Heir Potter was concealed?”</p>

<p>“Well, yes.”</p>

<p>“So, you didn’t actually <em>see</em> the brown spell cause the explosion?”</p>

<p>“I saw the spell enter the smoke illusion and then an explosion happened.”</p>

<p>“But you didn’t see the spell cause the explosion?”</p>

<p>“No, I didn’t directly see the spell cause the explosion.”</p>

<p>“Thank you.”</p>

<p>Dumbledore watched Mr Flourish walk away with a slight frown. Almost perfect, but he could have done without him casting doubt on the spell’s effect at the end there. He glanced towards the door. And the court assistant <em>still</em> wasn’t back yet. He <em>needed</em> that other witness.</p>

<p>“Dumbledore?” Amelia looked down at where he stood. “Are you ready for your next witness?”</p>

<p>He nodded. “My next witness is Mr Cecil Chuffney”</p>

<p>A thin and extremely nervous-looking young man from the Department of Mysteries stood up and made his way to the high chair.</p>

<p>“Mr Chuffney, could you tell the court where you were at 11:30 a.m. on the day of the incident?”</p>

<p>Cecil Chuffney licked his lips. “I’d been called out to Hogwarts to collect evidence from Mister Potter’s dormitory.”</p>

<p>“And what did you find there?”</p>

<p>“Not much. Boy didn’t seem to live off of anything, really — a few spare sets of robes in the closet, socks, underwear, a few school books, and the dark arts book.”</p>

<p>“You are referring to the book Mr Flourish just identified to us?”</p>

<p>“Yeah.”</p>

<p>“And where did you find it?”</p>

<p>“On the bedside table.”</p>

<p>“On <em>Mister Potter’s</em> bedside table?”</p>

<p>“Yeah.”</p>

<p>“Thank you, Mr Chuffney.”</p>

<p>Amelia looked towards Mrs Ogden who shook her head.</p>

<p>Mister Chuffney hopped off the chair and scuttled away. That went about as well as it could.</p>

<p>Just then, the court assistant stepped back through the door to the court room, trailed by another figure and Dumbledore smiled. Just in time. “My next witness will be Lord Sirius Orion Black.”</p>

<p>Sirius looked around briefly, face harried, and after swearing the oath and having his lords ring authenticated in lieu of an identification contract, sat down in the high chair.</p>

<p>“Lord Black,” Dumbledore said, “could you tell the court what first transpired when you visited Mister Potter in his ministry cell on May 2?”</p>

<p>Sirius nodded. “I knocked on the door, unlocked it, let myself in, and found the floor covered in glass beads. I asked Harry where the beads came from and he showed me that he’d learned to conjure them without needing his wand.”</p>

<p>A few gasps were heard around the room.</p>

<p>“Then we talked for a while about personal matters and a few things pertaining to this case, and I left.”</p>

<p>“So, Harry has the ability to conjure items wandlessly?”</p>

<p>“I only saw the glass beads — and a few other glass shapes — there was also a tiny glass peach, I seem to recall.”</p>

<p>“Impressive ability for an eleven year old.”</p>

<p>Sirius beamed. “Indeed.”</p>

<p>“Thank you, Lord Black, that will be all.”</p>

<p>Amelia turned to Mrs Ogden. “Do you wish to ask Lord Black any questions?”</p>

<p>Mrs Ogden shook her head.</p>

<p>Sirius hopped off the chair and made his way over to the Potters.</p>

<p>“My next witness will be…”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Hey, Prongs,” Sirius whispered when he got to the nearest bench. “What’s going on?”</p>

<p>James turned to him, confused and agitated. “I don’t know. It started off as we expected and then everything went weird.”</p>

<p>Dumbledore turned to face the court. “My next witness will be Harry James Potter.”</p>

<p>Sirius frowned. “Weird? Like how?”</p>

<p>“Like the prosecution seems to want to let Harry go.”</p>

<p>“Well, that’s good isn’t it?”</p>

<p>“I don’t know. Dumbledore believes Harry is guilty.”</p>

<p>“But… but that’s nonsense. Harry isn’t guilty. I saw the evidence.”</p>

<p>James looked sharply at him.</p>

<p>Sirius glanced towards where Dumbledore stood in the middle of the court. “Least, I <em>thought</em> I did.”</p>

<p>Harry’s chair had floated up and made its way to occupy the space where the witness high chair was situated.</p>

<p>James’ frown deepened. “Anyway, now Dumbledore is acting like the prosecution and the prosecution is acting like the defence.”</p>

<p>Sirius stared blankly. “Wait… you mean… I just testified <em>against</em> Harry?”</p>

<p>James nodded slowly.</p>

<p>“Whoops.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry slowed his breathing as the chair he sat in levitated up from the ground and floated into the spot the other witnesses had sat in. The chains bit into his wrists. He felt every set of eyes on him.</p>

<p>“Mister Potter,” Dumbledore started, “we’ve heard of your abilities to perform wandless magic, perhaps you can tell the court what other spells you can cast wandlessly?”</p>

<p>Harry sniffed and caught the eye of Mrs Ogden who gave him an encouraging nod. Oh, well. All in. “I can cast the stunning charm, the incendio charm, the summoning charm, the shield charm, and the banishing charm wandlessly.”</p>

<p>“What about conjuring?”</p>

<p>“Yes, I can also conjure small glass objects, such as those Lord Black saw, and you stepped on.”</p>

<p>A few chuckles sounded around the room.</p>

<p>“Could you demonstrate for the court some of your wandless abilities?”</p>

<p>Harry’s eyes flickered briefly to where Dumbledore’s book still lay on the lectern. He smiled. “Yes, but I <em>am</em> rather constrained at the moment.”</p>

<p>Dumbledore looked to Regent Bones who nodded towards two on-duty security wizards. The two wizards approached the chair and pointed their wands at Harry, who suddenly felt the chains around his wrists loosen. He flicked his hand up with a grin and caused Dumbledore’s book to sail across the room, generating a susurration of murmuring around the room.</p>

<p>Dumbledore nodded. “Well done, Mister Potter, if we were in class I’d award points.”</p>

<p>Harry carefully took the book in both hands, smiling all the while, closed two of his fingers around the stray white hair still trapped between the pages, and offered the book back to Dumbledore with a flourish. As the headmaster accepted the book back with a frown, Harry felt the tiny pluck as the white hair between his fingers snapped in two. His hand fell to his lap and casually slid into his pocket.</p>

<p>“Now, Mister Potter, I notice that the creptus curse wasn’t included in that impressive list of spells you can cast wandlessly. Are you saying you <em>can’t</em> cast that spell without a wand?”</p>

<p>“That is what I’m saying.”</p>

<p>“So you deny being able to cast that curse.”</p>

<p>“Without a wand? Yes.”</p>

<p>“Without a wand? So you could cast it with a wand?”</p>

<p>“I daresay I could if I tried. I never <em>have</em> though.”</p>

<p>“Do you deny learning dark spells?”</p>

<p>“No, I don’t deny that. Most of the hexes and jinxes used by duellists are dark by the magical definition.”</p>

<p>“Have you ever performed a dark ritual on yourself?”</p>

<p>“No.” He mentally smirked. Not yet.</p>

<p>“Thank you, Mister Potter, no further questions.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore nodded to himself as Harry’s chair floated back to the middle of the room, chains and shackles once again snaking themselves around his wrists and ankles.</p>

<p>“I call my next witness, Professor Minerva McGonagall.”</p>

<p>McGonagall sat in the high chair.</p>

<p>“Professor, could you tell us the events that led up to the incident with Mister Potter on January 28 in Hogwarts classroom 219?”</p>

<p>“Well, I was in my office marking papers, when I suddenly felt a large build-up of magic coming from somewhere off in the castle. I made haste to investigate, and found the door to classroom 219 bolted shut and I heard you shouting to get the students away from the area.”</p>

<p>“And after the magical build-up had died down?”</p>

<p>“I entered the classroom to find it completely destroyed, you standing in the middle of it, and Mister Potter unconscious on the floor. I then levitated him to the hospital wing.”</p>

<p>“Thank you, Professor, that will be all.”</p>

<p>His next witness was Healer Pomfrey who explained about what had transpired in the room, about Harry’s magical meltdown, what magical meltdown was, and how Harry’s control over his core had snapped.</p>

<p>After her, Dumbledore called another healer from St Mungo’s, who explained some of the causes of magical meltdown.</p>

<p>Dumbledore glanced towards Harry. “So, if someone <em>had</em> experienced a magical meltdown, how likely would it be that it was the result of a dark ritual?”</p>

<p>“Quite likely.”</p>

<p>“Why?”</p>

<p>“Well, we don’t get many cases of it, but most that we do get are the result of experimenting with dangerous magics.”</p>

<p>“Thank you, Healer, no further questions.”</p>

<p>Mrs Ogden then took the floor. “Healer Uptown, you said that one of the ways that magical meltdown could happen was as the result of trauma?”</p>

<p>“Yes.”</p>

<p>“If you learned that a patient had a phobia and was exposed to the conditions of that phobia, would you consider that to be a likely explanation for a case of magical meltdown?”</p>

<p>“Yes, yes I would.”</p>

<p>“Thank you, healer, no further questions.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“We’ll now take a short break before the defence presents their case.” Amelia Bones fired a blast from her wand and the three judges took their leave through a back door.</p>

<p>Dumbledore hurried out of the courtroom, hoping to get away before,</p>

<p>“Albus!”</p>

<p>He sighed. No luck. He turned, beheld a confused and agitated Lord and Lady Potter, and quickly hurried them into a waiting room.</p>

<p>“Albus,” said James Potter once the door was closed. “<em>What</em> was all <em>that</em> about?”</p>

<p>“James, the prosecution <em>assured</em> me they were planning to push Harry for the Veil.”</p>

<p>“Yes, but what about <em>after</em> that?”</p>

<p>“I don’t know what they’re playing at, but Harry <em>is</em> guilty, all the evidence that I’ve seen supports it.”</p>

<p>“What about the wand? Sirius just told me the report said it didn’t have the curse on it.”</p>

<p>“James, you’ve <em>seen</em> his wandless capabilities, you’ve <em>seen</em> what he’s capable of. It would be the easiest thing in the world for him to learn that spell and cast it as though from his wand, but not actually passing through it — and he clearly had access to the spell to learn it.”</p>

<p>James and Lily stood in silence for a moment. Lily in particular didn’t look happy.</p>

<p>“Okay, we’ll see what the new defence’s case is,” James said eventually. “You assured us all the evidence supported Harry’s guilt. I’ll wait to see what they have to say before saying anything more on this.”</p>

<p>Dumbledore nodded and watched the Potters turn to leave, but before they did, Lily turned back to face him, eyes narrowed. “Even if Harry <em>is</em> guilty, Headmaster, I still hold you responsible for allowing him to get his hands on such a dangerous book. You’re supposed to be keeping a closer eye on him than that.” And with that, she stepped through the door and shut it behind her.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Is <em>anything</em> normal around that boy?” asked Lord Smith chuckling and shaking his head.</p>

<p>Lord Lovegood smiled and led him towards a familiar object. “Harry tends to have a lot of interesting experiences.”</p>

<p>“I’ll say. Okay, I see you’ve got the pensieve set up. What is it you want to show me?”</p>

<p>“An extended version of the events of Halloween.”</p>

<p>“You don’t mean the troll that got into Hogwarts do you?”</p>

<p>“I do — although I’m more interested to show you what happened <em>after</em> that.”</p>

<p>“Righto, show away.”</p>

<p>Lovegood nodded. “We <em>have</em> cut out some bits to preserve family secrets, though.”</p>

<p>“Understandable.” Lord Smith touched the silvery liquid and felt the familiar jerking sensation, pulling him down into the memory.</p>

<p>John Potter jumped on the troll and blasted its head off.</p>

<p>Lord Smith chuckled. “You can see the power already, can’t you?”</p>

<p>John Potter dashed off and, after saying goodbye to the other girls, the Greengrass heiress and the muggleborn followed him.</p>

<p>He soon found himself standing in a destroyed corridor. “Fwhoa, what a mess — did the troll do this, too?”</p>

<p>Lovegood shrugged in a half gesture that committed to nothing.</p>

<p>The Greengrass heiress walked around the corner and the memory faded a new section of castle into view, spotlighting a rather large corpse on the ground.</p>

<p>Lord Smith stared.</p>

<p>Five minutes later, he exited the pensieve, unable to see anything but rage. By his side, his trusty war hammer started glowing metallic red. “A chimaera! A Merlin-damned chimaera! In a school with <em>my</em> grandchildren! What was he <em>thinking</em>!”</p>

<p>Lord Lovegood watched him from the side.</p>

<p>Lord Smith turned on him. “Why haven’t you said anything about <em>this</em> before!”</p>

<p>“We checked the files — all the correct paperwork was filed, albeit in a place no one would look unless they were <em>really</em> trying hard to find it — there wasn’t anything Dumbledore did that was actually illegal — the threat had been dealt with and there was no chance of removing Dumbledore from his position as Headmaster by a simple vote of no confidence.”</p>

<p>Lord Smith scowled. “You don’t think a public enquiry into <em>this</em> wouldn’t have worked? Illegal or not, the parents would have gone Atlantis on his arse.”</p>

<p>“Maybe, maybe not… but there <em>is</em> an opportunity to remove the headmaster at the end of the school year by simply deciding not to renew his contract. <em>That</em> merely requires a simple majority.”</p>

<p>“But an enquiry—”</p>

<p>“—Lord Slytherin is not particularly enthusiastic about becoming subject to a public enquiry — and he certainly <em>could</em> be asked to testify if one came about. Many things could come out — things the Gray would rather not — at least not right now.”</p>

<p>Lord Smith frowned. “If I voted against Dumbledore in such a matter without a good public reason, I might as well shout that the Smiths are now unashamedly Gray at the top of my lungs in the middle of the damn Wizengamot. I <em>do</em> still have business with other Lords of the Light, you know.”</p>

<p>“I believe that the general result of this trial will cast enough public doubt on the headmaster to function as a valid reason for your sudden change of heart, although, of course, we’d still welcome your support in the Gray on a more ongoing basis.”</p>

<p>Lord Smith narrowed his eyes. “I want to know who Lord Slytherin is.”</p>

<p>“That is a matter of extreme trust.”</p>

<p>“Then I at least want to meet him. I sure as hell do not plan on joining without <em>some</em> guarantees.”</p>

<p>“After the trial, that can be arranged.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Mrs Ogden motioned to the full-again court room. “Mr Chuffney, was it you who performed the analysis on the dark book found in Mister Potter’s dormitory?”</p>

<p>The young man shifted nervously. “Yes, it was.”</p>

<p>“And what were your findings?”</p>

<p>“We could find no fingerprints and no polyjuice evidence to link the book to the boy. In fact, there were neither fingerprints nor polyjuice evidence at all.”</p>

<p>Mrs Ogden handed the man a parchment. “Could you read the court this passage from your report please?”</p>

<p>“The book appears to be in near-mint condition and the publishing number is 0087620-12031992-02-0202.”</p>

<p>“What did you mean by that?”</p>

<p>“I meant that it looked barely used — and that it had that publishing number.”</p>

<p>“Thank you, Mr Chuffney.”</p>

<p>Mr Chuffney scooted back off to his seat among the many rows of the courtroom.</p>

<p>“I call my next witness, Mr Reginald Quickspell.”</p>

<p>Mr Quickspell sat down in the high chair. “Mr Quickspell, you are here as an expert on learning magic outside of the formal education system, and on wandless magic in particular — could you please tell the court how long it takes to learn to cast a spell wandlessly?”</p>

<p>“Around 200 to 250 hours is a good time, not counting the normal time.”</p>

<p>“What does, ‘good time,’ and, ‘normal time,’ mean?”</p>

<p>“Well, everyone is different. Some people learn faster, some slower. The best students I’ve seen take a little over two hundred hours — that’s the good time. The normal time is how long it would take you to learn the same spell if you had a wand — add the two together and you get the total time it takes to learn a wandless spell.”</p>

<p>“And how many hours a day can a student practise?”</p>

<p>Mr Quickspell pursed his lips. “Five hours is the most that’s realistic, any more than that and you get burnout.”</p>

<p>“So, what would be the shortest time period, measured in days, for a student to learn a new wandless spell?”</p>

<p>“Forty to fifty days.”</p>

<p>In the middle of the room, Harry had to keep himself from smirking. Ginny had mastered a completely unknown wandless spell much faster than <em>that</em>.</p>

<p>“Could a student learn a wandless spell in twenty days?”</p>

<p>Mr Quickspell scoffed. “Absolutely not.”</p>

<p>“Thank you, no further questions.”</p>

<p>Next in the high chair was Madam Pince, although how Jacob had roped <em>her</em> into this, Harry had no idea.</p>

<p>“Madam Pince, could you please explain to the court how publishing numbers work?”</p>

<p>“A book’s publishing number contains four separate numbers that identify the book’s international ID, date of crafting, the family that crafted it, and the wizard or witch either of the family or employed by the family who crafted it, in that order.”</p>

<p>“So, you could tell me exactly when a book with this publishing number was crafted?” Mrs Ogden handed Madam Pince the DoM report on the dark arts book.</p>

<p>“Yes.”</p>

<p>“Please do so.”</p>

<p>“This book was crafted on March 12, 1992.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Dumbledore’s eyes widened for a fraction of a second before quickly returning to normal. Only twenty days before the tournament… Oh, bugger.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Could you now please demonstrate the priori incantatem effect for this wand?”</p>

<p>The DoM worker responsible for the analysis on Harry’s wand held the wand up and said, “Priori incantatem.” Several shadows drifted out of the wand’s end.</p>

<p>“And could you identify these spells, please?”</p>

<p>“Well, like I said in the report, the last spells used by this wand were an area stunner, then a frictionless charm, then a smoke illusion, in reverse order.”</p>

<p>“So, not a dark blasting curse?”</p>

<p>“Not a dark blasting curse.”</p>

<p>“Is there any way this wand could have been interfered with or tampered with after these spells were cast?”</p>

<p>“Only if you wish to accuse one of the DMLE or DoM wizards of tampering with evidence.”</p>

<p>“What about the girl who touched the wand after Mister Potter used it?”</p>

<p>“She was in clear view of two thousand people. We’ve analysed memories and there was no chance of her casting any of those spells before she handed it to Director Bones.” The DoM worker glanced towards Regent Bones who nodded back at him.</p>

<p>“Thank you, no further questions.”</p>

<p>With no word from Dumbledore to cross-examine, the DoM worker left and Lady Dorothy Abbott took the high seat.</p>

<p>Mrs Ogden held a tray containing the tattered remains of John’s duelling robes up for the court to see. “Lady Abbott, you are here as an expert on clothing and the use of runes in clothing. You have had a chance to inspect the remains of the duelling robes worn by Heir Potter. What can you tell us about what you found?”</p>

<p>“There were many runes embroidered on the inside of the remains. Many of them were extremely difficult to make out, owing to having been almost burnt clean off, but many others are still recognisable.”</p>

<p>“What function do you believe these runes would have served?”</p>

<p>Lady Abbott sniffed. “I have no idea. I’ve never seen runes like them in those combinations and patterns anywhere near <em>anything</em> that is designed to be worn.”</p>

<p>“So, they are not standard clothing runes?”</p>

<p>“No, they most certainly are not.”</p>

<p>“Thank you.”</p>

<p>And minutes later, John Potter sat in the high chair.</p>

<p>“Did you know your robes had these runes embroidered on the inside?”</p>

<p>John shakily shook his head. “No, I didn’t. They were the robes Dad bought me.”</p>

<p>“Did these robes ever leave your sight after you received them?”</p>

<p>“Yeah — of course — all the time. I barely used them. They were duelling robes, not wear-all-the-time robes.”</p>

<p>And minutes after that, an expert on runes of <em>all</em> kinds.</p>

<p>“Were you able to identify <em>any</em> possible function that these runes might play?”</p>

<p>“Yes. One of the runic arrays that we found around the back contains a three-part runic cluster with a specific application.”</p>

<p>“What application?”</p>

<p>“Defensive wards. Dark defensive wards. Defensive wards that would be happy to leave you going home in a matchbox, if you know what I mean.”</p>

<p>Mrs Ogden let out a sigh. “Could you spell it out for the court, please?”</p>

<p>The runic expert smirked. “Explosions.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>A loud muttering filled the court room.</p>

<p>Bang! “Quiet please!” Amelia Bones shot off a small cannon blast from her wand.</p>

<p>Lord Malfoy surveyed the room, eyes narrowed in calculation. Potter was going to be let off — it was clear. The evidence was far too cut and dry and Regent Bones was hardly the kind of witch to bend in the face of obvious evidence.</p>

<p>Dumbledore had tried to pull some kind of stunt here and failed. Lord Slytherin had outmanoeuvred him, and he’d done it with expert witnesses, all of whom were <em>Light</em> — and now all of Magical Britain would know it. He could almost feel the subtle shift in power rippling out from the room, even as he sat there. It didn’t look like much, but even now, various lords of the Light were giving Dumbledore funny looks. The Potters in particular did <em>not</em> look happy.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“And so,” Mrs Ogden finished, “we can clearly see that Mister Potter has been the victim of an attempt to frame him for the attempted murder of Heir Potter, and although we have been unable to identify the exact mechanism used to trigger the runic array in Heir Potter’s clothing, it is clear that the robes <em>were</em> what caused the explosion, not any spell cast by Mister Potter.”</p>

<p>Amelia Bones and the two other judges rose from their seats. “Thank you, Mrs Ogden — Dumbledore. We will now take a short recess to deliberate before reaching a final verdict.” They filed out.</p>

<p>Harry sat there while the voices of the court washed over him. The minutes ticked by. People got up and moved around, stretching their legs after several hours of sitting. Harry, of course, didn’t have that luxury.</p>

<p>Mrs Ogden walked up to him. “I wouldn’t worry about it, Mister Potter. I’m certain you’ll be let off.”</p>

<p>Harry mouth firmed. “I certainly hope so and thank you very much for your help in all this. I will not forget it.”</p>

<p>The door to the back room opened again. The three judges filed back in and took their seats. Regent Bones shot a small cannon blast from her wand. “We will now give our verdict.”</p>

<p>The room silenced.</p>

<p>“After careful deliberation, we hereby pronounce the defendant <em>not</em> guilty of all charges.”</p>

<p>The court room broke into a loud round of babbling.</p>

<p>Bang! “In addition!”</p>

<p>The room quietened again.</p>

<p>“In addition, we feel that this case could have been a whole lot simpler than it turned out to be. We’re not sure what you were trying to pull, Albus, but your role as defendant should have been rather obvious. Be assured that you and I will be having a little chat later on.”</p>

<p>Dumbledore nodded meekly.</p>

<p>“Thank you all. Court closed.” Bang!</p>

<p>The chains holding Harry’s wrists and ankles instantly slid off. He stood up and stretched, feeling lighter than he had in a month. Then, without pausing to even look around, he made a beeline for the door — to the outside world, and to freedom.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Lily Potter made for the door Harry had just left by. “I’m going to go talk to Harry.”</p>

<p>“Wait!” James desperately grabbed at her wrist.</p>

<p>She tried to shake him off. “Let me go! I don’t like the way Dumbledore was acting. It didn’t feel right.”</p>

<p>“Lily!” he hissed so no one else could hear, “We still don’t know the prophecy! We might mess everything up!”</p>

<p>Lily stiffened, then slumped against a nearby pillar.</p>

<p>James let go of her wrist.</p>

<p>“Okay, fine,” she said. “But the moment John gets off the Hogwarts Express, we’re taking him down to the Hall of Prophecies, regardless of what Dumbledore says.”</p>

<p>James reluctantly nodded and looked around. Dumbledore, it seemed, had quietly slipped out of the court room. He frowned. He hated not trusting his leader and old headmaster, but the man <em>had</em> been acting very strangely, even if you took into account an unknown prophecy in play. James couldn’t imagine what kind of prophecy would have the headmaster acting the way he was. It was about time they found out — and Merlin damn the consequences.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Back in Greengrass Manor, after being dog-piled by three relieved and crying witches, Harry managed, finally, to stand up.</p>

<p>“Harry, here.” Jacob tossed Harry a green and black mask.</p>

<p>Harry caught it with a smirk.</p>

<p>“<em>You’ve</em> got a <em>lot</em> of work to catch up on.”</p>

<p>Harry grinned and thought of the single split white hair still nestled safely in his pocket. “Yes, I do. So do we all. We’ve got press releases to send out, a whole lot of lords to court, and a brand spanking new politically advantageous situation to exploit.” He looked around at Daphne, Hermione, and Luna. “But first, we’ve got a final project to finish up on back at Hogwarts.”</p>

<p>Daphne smirked. “I wonder how Tracey’s been doing without us? It <em>has</em> been almost seven weeks.”</p>

<p>Hermione’s eyes suddenly widened and she let out a small ‘Eep’ sound. “Oh no!” She put both her hands over her mouth in horror. “Exams!”</p>

<p style="text-align: center;">— End of Chapter Thirty-two —</p>

