Chapter 34 - Interlude - Gairsay island

<p>For thousands of years, magicals traditionally considered technology the way a stern parent might consider a child’s finger painting — endearing at best, a waste of time at worst. It had been rather a shock then, when the European renaissance gave way to the enlightenment, and the finger paintings suddenly flashed into technical drawings for iron foundries, guns, star charts, and more. The wizards watched with growing uncertainty as their non-magical brethren enthusiastically unravelled the non-magical components of alchemy, and published journal after journal, dreaming of ever greater and greater feats.</p>

<p>In the end, one wizard was all it took. One wizard barging into the ICW main conference hall, waving a just-published copy of Sir Isaac Newton’s Principia Mathematica, the ramifications of which were clear to every present disciple of the magical art of arithmancy. For two whole years, the world balanced on a seesaw. A tiny force either way could have pushed the balance. But it just so happened that the Wizarding World was fresh off the challenge of obliterating divination magics from the world, and thus had no shortage of memory altering expertise at the ready for the greatest mind control project the world would ever know — the enacting of the International Statute of Secrecy.</p>

<p>Such a draconically enforced cultural divide was not without it’s consequences. While the Muggle World lost much of the knowledge of the magical world, surviving only in myth and story, so too did the magical world lose touch with the technological forces that had originally driven a wedge between the two worlds.</p>

<p>But so long as muggleborns were removed from the Muggle World at the age of eleven, and their parents subtly persuaded not to get involved, none of this mattered — not until a time travelling <em>someone</em> decided to interfere, that is.</p>

<p>Daphne Greengrass stepped out from the floo at the rookery, grasping a copy of the Daily Prophet in one dainty clenched fist. A tiny wooden witch danced out of a clock on the wall and struck a bell with a tiny mallet.</p>

<p>“Midnight,” the wooden witch announced. “It is now June 23, 1992. Please enjoy another day of your life.” It then shifted into an even smaller kneazle and scampered back into the clock.</p>

<p>Daphne stalked out of the sitting room, past the many magical creature heads mounted on the walls, and up the spiral staircase that led to the bedrooms. She reached her intended destination and knocked on the door.</p>

<p>“Nargles!”</p>

<p>Daphne opened the door, took one step into the room beyond, and stopped dead. A thousand moving pictures filled her vision, waving, fighting, clapping, talking, dancing. Every surface of the room had been plastered with cutouts from hundreds of wizard newspapers — the walls, the ceiling, the furniture, the frame of the slightly open window, even parts of the floor. In the middle of the room, laying on her tummy and wearing a nightdress, was Luna, spoon in one hand, pudding in the other, bright smile all across her face.</p>

<p>“Hi, Daph.”</p>

<p>Daphne cast a final glance around the room, decided to ask later, and took another step into the room. “Luna, have you <em>seen</em> this?” She dropped the newspaper in front of her tentative friend and future sister wife, and sat down in the room’s only chair, careful not to disturb the intricate collection of newspaper cutouts pilled up and around the desk.</p>

<p>Luna stuffed the pudding filled spoon into her mouth and held up the newspaper to read. “Tomowwos, Daily Pwofet?” she asked around the spoon still in her mouth. “Hawwy Potter Missing,” she read. “Duellwing phenom, Hawwy Potter has been weported missing by Ward Potter.” Luna swallowed and removed the spoon. “This isn’t surprising, is it? We’ve known they knew he was gone for two weeks now.”</p>

<p>Daphne shook her head. “Keep reading.”</p>

<p>Luna’s eyes skimmed over the article. “Oh, you mean the bit where it says there is ‘no evidence’ that our lord did it?”</p>

<p>Daphne snarled. “Yes.”</p>

<p>Luna nodded. “I’ll make sure Daddy prints the lack of evidence of the Potters being involved in the rotfang conspiracy.”</p>

<p>“Right.” Daphne looked around the room again. “Now, what’s up with the newspapers?”</p>

<p>Luna pointed around the room in quick succession. “Britain, Europe, Africa, South America, North America, Middle East, East Asia, South-East Asia, Australasia,”—she pointed to an empty patch of wall—“Antarctica.”</p>

<p>Daphne gave Luna a half-lidded look. “Antarctica?”</p>

<p>Luna nodded. “Just in case.”</p>

<p>“Why?”</p>

<p>“It’s important to know what’s going on in the world.” Luna stuffed the once-again pudding-full spoon back in her face. “Did you know there’s a mwassive pwuffapod shortage in Mwagical Gweece?”</p>

<p>“I did not know that.”</p>

<p>Luna swallowed. “The Greek ministry banned their import because the Greek minister of magic’s granddaughter ate a bad puffapod and developed an acute case of magical animal magnetism.”</p>

<p>Daphne decided she didn’t want to know. The way Luna’s mind worked, it was bound to be something sexual. “You didn’t hear anything from Ginny, did you? Isn’t she supposed to be here by now?”</p>

<p>Luna nodded. “Yes.” She frowned. “I hope she didn’t run over anyone.”</p>

<p>They sat in quiet for a few moments, Daphne reading the rest of the paper while Luna snipped out the front page and magically stuck it to the British section of wall.</p>

<p>Then, suddenly, Luna perked up.</p>

<p>“Luna?”</p>

<p>Luna frantically waved her quiet and focused on the open window. A moment later, a small, innocent-looking stone flew threw it.</p>

<p>Displaying an impressive turn of speed, Luna dived, snatched the stone out of the air, jumped back on the bed, springing up and deftly placing the stone on the top of a ceiling mounted mobile of plushy magical creatures.</p>

<p>There was a shift in the air and forty kilograms of startled red-headed witch appeared where the stone had been, flailed around desperately and grabbed a nundu plushy, which, unable to hold her weight, ripped out of the ceiling, and dropped both mobile and witch onto the bed below, launching Luna roof-wards in direct consequence of Newton’s second law.</p>

<p>“Weeeee!” Luna arced through the air and onto the floor, just dodging a bright red stunner that whizzed by her head.</p>

<p>“Lunnna!” Ginny Weasley rolled off the other side of the bed, hand glowing red.</p>

<p>Daphne stared, wide eyed, as an impromptu wandless duel kicked off just a few feet from where she sat. Luna on one side of the bed, Weasley on the other. Paper flew everywhere. Ten seconds later, it was all over… with Weasley flat on the floor.</p>

<p>Daphne bit her lip. Ignoring the fact they were only using two offensive spells, such spell swatting at such close range at least <em>looked</em> as impressive as Harry’s duel with Tonks. No wonder she and Hermione hadn’t been able to match Luna.</p>

<p>Luna cast a finite on Weasley.</p>

<p>“Dammit!” Weasley arched her back from where she lay, snapped her whole body, and powered back onto her feet without touching the floor. “Again!”</p>

<p>Daphne cleared her throat. “Ginny Weasley?”</p>

<p>Weasley paused in mid hand-glow and turned to her.</p>

<p>“We <em>do</em> have things we need to do,” Daphne said levelly. “And I believe you have to be back home by a certain time?”</p>

<p>Weasley looked her up and down as though sizing her up. “Yeah, that’s true.” She nodded. “Okay, let’s go.”</p>

<p>“Oh poo.” Luna pouted as she looked around the mess of newspaper clippings left in the wake of the magical combat. “Now I have to put it all back together again.”</p>

<p>“You do that.” Daphne moved towards the bedroom door. “If we’re not back by six, you know what to do.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Up in a cheaply built watch tower, near the Scottish village of John O’ Groats, Convertible-Security of the Goldtooth clan surveyed the night-time sea in the vain hope that it might suddenly become more interesting than it had been the last thousand times he’d done so. No luck. He snapped his finger and the telescope folded itself up in his hands.</p>

<p>“Nothing?”</p>

<p>Convertible-Security looked around and down. His sister, Balanced-Payments, stared up at him with her hands on her hips. Convertible-Security snarled. “No, there isn’t. There wasn’t yesterday, there wasn’t today, and I’d bet my sword there won’t be tomorrow either.”</p>

<p>“Great Grandfather is certain the target account will try <em>something</em> incriminating,” Balanced-Payments said.</p>

<p>Convertible-Security shook his head. There was no point in arguing. He climbed down from the lookout post and strode past his sister, massaging the knots out of his shoulder. “I’m going to go prepare the patrol boat and then grab my smoke break — Who knows, maybe I’ll be lucky and a shark will attack me while I’m at it.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The village of Hogsmeade slept. The moon was not out. The stars did not twinkle. Cloud covered the night sky like a worn out dementor’s cloak, a boon for spies and smugglers.</p>

<p>Ginny frowned. She’d been told practically nothing about what they were doing tonight — just that Greengrass would need her particular set of wandless skills. She <em>did</em> know they were <em>looking</em> for something, but that was all she knew. That wrangled her.</p>

<p>Ginny stumbled again in the darkness. Next to her, the future Lady Slytherin closed the fideliused house door behind her and gracefully moved to her side as thought it were still midday. How was she <em>doing</em> that?</p>

<p>“Broomstick out,” Harry’s betrothed whispered.</p>

<p>Ginny reached into the pocket of her robes and withdrew her shrunken nimbus 1700.</p>

<p>“Disillusionment charms, if you please.”</p>

<p>Ginny felt magic and intent pulse through her body and directed it through the tips of her fingers, first to herself and then to the girl Harry was contracted to one day marry. Moments later they both became mere outlines in the air.</p>

<p>“Mount up,” Greengrass said.</p>

<p>Ginny swung her legs over the broomstick and watched as an heiress shaped shimmer moved behind her, slid onto the broomstick, and wrapped its arms around her waist.</p>

<p>The air roared around them. Once outside the village airspace, Ginny turned her head slightly. “Has our lord been teaching you duelling too?” she shouted over the wind.</p>

<p>“A bit!” Daphne shouted back. “Not as much as you and Luna though. We couldn’t beat her even together!”</p>

<p>“Who’s we?”</p>

<p>“Hermione and I!”</p>

<p>Ginny thought while the wind rushed through her hair. That probably meant she was the second best among those Harry was training —those she knew about, anyway. That felt good. Alex was slowly getting better, but still didn’t come close to touching her. She said as much to the witch sitting behind her.</p>

<p>Greengrass sniffed. “There are many different <em>types</em> of ‘best,’ Weasley!”</p>

<p>The flight to the north-most coast of Scotland took a little over an hour.</p>

<p>They touched down next to a cliff overlooking crashing waves and Ginny <em>still</em> didn’t know what they were doing here.</p>

<p>Greengrass sat down on the grass like a swan getting comfy on a bed of silk, closed her eyes, and started to pool magic.</p>

<p>Ginny sensed her carefully. She sensed the magic build up in the witch’s chest, as though being forced through a tiny ring, before dribbling down to her fingers and leaping outwards, spinning rapidly in the air, forming a ball of magic — strange magic — the intent was difficult to figure. She stared at the otherwise invisible magic sphere and couldn’t shake the uneasy feeling that the sphere was staring back. Realisation struck her. She gasped. “You can see through it?”</p>

<p>Daphne’s head-shaped shimmer nodded. “It is called the eye of kilrogg. I’ve been working on getting it wandless for over a month now.”</p>

<p>“That’s amazing.” Ginny’s mind raced through applications for such a spell. She licked her lips. “Could you teach me?”</p>

<p>Daphne slowly shook her head. “Probably not. It takes a special kind of magic that not everyone has.”</p>

<p>Ginny sighed.</p>

<p>Daphne continued. “It also allows me to see certain tricky types of magic that are otherwise all but impossible to detect.”</p>

<p>Ginny felt the magic sphere disappear.</p>

<p>“That is what our lord wishes us to do tonight,” Daphne said. “He has given me a route around the Orkney Islands which we are to scan for said magics.”</p>

<p>“What magics?”</p>

<p>“It is better if I don’t tell you.”</p>

<p>Ginny frowned. “But—”</p>

<p>“No.” Daphne held up a firm hand. “Please. It is incredibly difficult for me to even think about, even with my inner eye open and the eye of kilrogg activated. The magic protects itself.”</p>

<p>Ginny gazed up and down the Scottish coastline. Magic that protected itself? That sounded kind of like the fidel… the fidel… Ginny tried to grasp onto the thought, but it drained through her mind like water through a sieve.</p>

<p>Greengrass recast the spell, got up from the ground, and together they re-mounted the broom.</p>

<p>The eyeball spell hung below them.</p>

<p>Ginny then steered them along the many island coasts, occasionally stopping and landing when Greengrass needed to recast the eyeball spell. They continued for what seemed like hours. It probably was. A vague suggestion of dawn started to spill over the horizon.</p>

<p>She felt Greengrass tense up behind her.</p>

<p>“Daphne?” Ginny asked. “Did you lose your spell again?”</p>

<p>“No, that’s not it.” Greengrass sounded uncertain. “Can you land us again? I think I might have found something.”</p>

<p>They landed on what looked like an empty stretch of road near a relatively short cliff face.</p>

<p>Ginny’s first step off the broom had her tripping over a rock. She scowled as she sensed Greengrass daintily step over the exact same rock she had missed.</p>

<p>“How have you been <em>doing</em> that?”</p>

<p>“Night vision charm.”</p>

<p>“Night vision—” Ginny’s jaw dropped. “<em>Please</em> tell me that doesn’t <em>also</em> need special magic?”</p>

<p>Daphne put a finger to her chin and looked away. Her voice turned playful. “Mmm…I wonder if I should…”</p>

<p>Ginny breathed in sharply. “Pleeeease,” she wheedled. “You’ve <em>no idea</em> how useful that charm would be. My mum’s almost caught me sneaking out so many times.”</p>

<p>“I don’t know…” Even though Greengrass was still disillusioned, it didn’t matter — Ginny could <em>hear</em> the smirk in her voice. “Surely the second best at duelling doesn’t need <em>my</em> help? I <em>am</em> very busy being the <em>best</em> at divination, after all.”</p>

<p>Ginny pouted. “It would help our lord.”</p>

<p>Morning song birds trilled in a lone, nearby tree.</p>

<p>“That’s not fair,” Daphne whispered.</p>

<p>Ginny smiled impishly. “And our lord did say he was going to have us work on our teamwork this year.”</p>

<p>“Okay, okay, once we get to Hogwarts,” Greengrass said, in somewhat terse tones. “Now — silencing charms, if you would be so kind?”</p>

<p>Ginny happily cast a couple of wandless silencing charms on the pair of them and, holding each other hands to make sure they didn’t lose each other, they crept along the otherwise deserted road.</p>

<p>As they approached a hill ridge Daphne urgently tapped Ginny on the shoulder, grabbed her arm and quickly guided her off the road.</p>

<p>Ginny allowed herself to be dragged into a ditch. What was going on? She poked her disillusioned head over the top, trying to making out what had caused Daphne’s warning.</p>

<p>Suddenly, seemingly from nowhere, a goblin stood where before there wasn’t one. An actual goblin! Wearing a two-handed sword on its back! Here! In Scotland! It walked several steps down the road she and Daphne had been stealthily walking up, stopped, reached into a pocket, withdrew a packet of cigarettes, and, looking extremely bored, lit one up.</p>

<p>They waited for several more minutes while the goblin finished smoking. The moment it was gone, Ginny followed Daphne back down the road the way they came. When they were far enough away, Daphne tapped her twice on the shoulder — a signal to hide, sit down, and make herself comfortable.</p>

<p>Ginny felt divination magic swirl beside her. She felt it take the shape of a sphere, felt it zip off up the road towards where the goblin had disappeared, and then felt it slip into nothing. The magic didn’t disappear — Ginny’s sensing skill could still tell <em>something</em> was there — but her brain simply refused to co-operate with her skin.</p>

<p>“Ahhh…” Daphne let out a relieved sigh, having apparently dispelled the silencing charm. “Got it. Oh, that feels so much better.”</p>

<p>“So?” asked Ginny, dispelling her own, removing her broom from her pocket and expanding it. “Can you tell me what this was all about now?”</p>

<p>“Yes.” Ginny could just make out the disillusioned Daphne nodding in the pre-morning twilight. “A goblin clan, rivalled to the one we’re allied with, and the ministry are co-operating to snoop on everything being used to build Slytherin Manor.”</p>

<p>Ginny swung herself onto the broom and cast a wandless cleaning charm on the ground they’d been lying in.</p>

<p>“Once our lord’s stuff is on the island there’s little they can do,” Daphne continued. “but while it’s in transit, they <em>do</em> have the power to inspect, if they wish.” Daphne shuffled onto the broom behind her. “We knew they were using a… method, let’s say, to hide their inspection points. Until we knew where the inspection points were, we dared not try move anything of a questionable nature to the island.”</p>

<p>So <em>that</em> was it! Ginny felt a little thrill shoot through her. “And now our lord can do stuff he couldn’t before?”</p>

<p>“Yes.”</p>

<p>Ginny gently pushed off the ground and felt the wind stream through her hair. “So we really helped him tonight?”</p>

<p>“Yes.”</p>

<p>Ginny smiled brightly in the faint dawn light. Excellent. Hogwarts hadn’t even started yet and she’d already helped Harry with something important. Brilliant.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Only a few dozen miles away, under <em>yet</em> <em>another</em> fidelius charm, Emma Granger put down her morning cup of coffee, picked up her rivet gun, and fired yet another rivet into the side of large white van — a white van patch-worked on all sides with thin metal plates and runes.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Early morning gave way to late morning. Daphne sat down at a large, round table of finest oak. The table was divided into thirds — literally divided. The space between the thirds measured the distance of a severed human thumb. Outside the private meeting room’s only doorway, two Gringotts goblins stood on guard holding large battle axes.</p>

<p>Apart from Daphne, two other humans also sat around the table. All three of them wore masks. Each had been asked to give up their wand before being allowed in. Ironically, not one of them would have been able to use a wand in any-case. Two because they were underage, and one because he was a muggle. Only two of the three knew that last titbit though.</p>

<p>Daphne wore her potion-gifted grown-up form like she was born for it, which, of course, one day, she would be. She projected the poise and air expected of a lady, as she’d been trained to do since the age of five. Now she wore a real mask over her Slytherin one, and the added anonymity felt good. It made her feel powerful — secure — safe. “Let us begin,” she said.</p>

<p>The masked man to her right, whom Daphne knew to be Mister Daniel Granger, nodded at her. “Mister Buccaneer,” Mister Granger said, addressing the third individual. “Did you manage to charm the artefacts we gave you?”</p>

<p>Fred Weasley, who sat on Daphne’s left, nodded. He hadn’t bothered with an ageing potion. To be fair, he was tall enough to pass for a short adult. “Yes, Mister Settler,” he said.</p>

<p>Daphne couldn’t help smirking under her mask. Tall or not, the older boy still had several octaves left for the puberty fairy to come and take away.</p>

<p>Fred Weasley produced a shrunk trunk from the pocket of his robes and placed it with a flourish in the middle of the table where the three points of the three thirds met. “Twenty runed plates charmed with bubblehead alchemy spells.”</p>

<p>“Wonderful.” Mister Granger counted out eight chunky gold coins (£400) and placed them in the middle of his third of the table. “Best eight galleons I ever spent.” He turned to Daphne. “Miss? I assume that wasn’t all the business we have today?”</p>

<p>“No, Mister Settler,” she said. “I believe Mister Buccaneer would like to show us something he and his associate have been working on.”</p>

<p>Fred Weasley nodded and started fishing in a bag at his side.</p>

<p>Daphne smiled. The hidden identities in this little group were some of the most convoluted silliness she’d <em>ever</em> seen. Mister Granger knew who she was, but didn’t know who Mister Buccaneer, AKA Fred Weasley, was. Fred Weasley didn’t know who either she, or Mister Settler, AKA Daniel Granger, was — just that they were connected to Harry. She on the other hand, knew exactly who everyone in Harry’s growing little empire was — at least she was <em>fairly</em> sure she did, and if she didn’t… well then there was probably a good reason for it.</p>

<p>“Ahha! Here it is.” Fred flourished a large roll of parchment and unfurled it across the table. “Gentleman — Lady.” He gave Daphne something half way between a nod and a bow. “Allow me to present to you the first buccaneer product developed with settler runes.”</p>

<p>Daphne glanced over the parchment, on which four long rectangles were drawn, each containing hundreds of runes in elegant repeating patterns, and which might as well have been written in ancient Sumerian for all she could understand them. They clearly meant something to Mister Granger though, because he let out a little sigh like the last escaped air from a folded beach ball. “Of course,” he said, “so simple.”</p>

<p>Fred Weasley nodded. “We figured we’d start with the low hanging fruit.”</p>

<p>Daphne tapped an impatient finger on the table. “Could you please enlighten those of us who might not be rune prodigies?”</p>

<p>Mister Granger leaned over and jabbed a finger at the parchment. “It’s a magic recycler. It captures wasted magic and channels it into an associated rune matrix. Not much magic, but I imagine you could improve efficiency or power of whatever you attached this to by… maybe 5%?” He looked up at Fred, who nodded.</p>

<p>“5-10% actually,” Fred corrected. “Depending on how small we can make the runes.”</p>

<p>Daphne frowned. That didn’t sound all that amazing. “What would you attach it to?”</p>

<p>“Oh, there are all sorts of possibilities,” Fred said. “Really big magical artefacts already use them, of course, but now that we can make them smaller, we thought the best opportunity would be in the broomstick market. That’s why we’ve shaped the runes to fit on a ring, so they can easily attach to where the bristles affix to the shafts — or two rings, rather, one ring that floats around a second ring.”</p>

<p>“That explains our hover runes,” Mister Granger said, rubbing his chin.</p>

<p>Daphne lightly brought her finger tips together. Okay, she could see how <em>that</em> might be useful. The broomstick market wasn’t small and they were always coming out with slightly better models. It was also easy to see how she and Harry could help. “You’ll need our assistance to reach the manufacturers,” she said.</p>

<p>Fred nodded. “We know. And we’d need to sort out a manufacturing deal with ‘Mister Settler.’”</p>

<p>Mister Granger grunted. “Wrist sized aluminium rings filled with several hundred runes a piece? Should be able to do you for…”—he paused for a few seconds, clearly running numbers in his head—“three sickles, eleven knuts each (£10), and another one sickle, twenty-one knuts each if you need us to do the blood runes (£5).”</p>

<p>“And we can set up the deal for say, 25% of the gross value of the contract,” Daphne added. “Palms do need greasing.”</p>

<p>“Sounds fair.” Fred hesitated. “Could you do Nimbus?”</p>

<p>Daphne smiled under her mask. If he’d asked her only a few months ago, the answer would have been, ‘probably not,’ but now? “I think we can.”</p>

<p>“Brilliant,” Fred whispered.</p>

<p>They talked back and forth some more. Contracts were drawn up and signed, and several other pieces of business were gone through, not least of which was the official version of the original partnership agreement between Harry and the twins, which the twins had only just managed to persuade their father into signing. Quite a feat, considering how many blank spaces that contract had to preserve Harry’s anonymity. By the end of it all, the middle of the table contained several half signed contracts in addition to the shrunk trunk and several bags of galleons for various projects.</p>

<p>Daphne placed her hand on the table and in a loud clear voice said, “exchange.” There was a whoosh of magic and the items in the centre of the table jumped across the divides.</p>

<p>Contracts were picked up and signed, galleons pocketed, and the contents of trunks inspected.</p>

<p>“Well, good doing business with you both,” Daphne said, standing up and pushing back her chair. “We’ll be in touch.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Fred! George!”</p>

<p>George Weasley hastily ripped off his sweater with the large G on it and put on the one with the large F. He opened his bedroom door, yelled, “Coming, Mum!” and quickly made his way down the stairs to the kitchen where his mother and little sister were cooking lunch.</p>

<p>Molly Weasley turned just as the potatoes lifted themselves out of the pot of boiling water on the stove and started mashing themselves. She frowned. “Fred dear, where’s your brother? I really need the garden de-gnomed.”</p>

<p>“He’s out in the garden now, Mum,” George said, heading towards the kitchen door, and snatching the butter smeared copy of the Daily Prophet from the kitchen table. “I’ll just go tell him, shall I?”</p>

<p>His mum gave him a suspicious look as he passed. “I thought you were both in your room?”</p>

<p>“We were,” he answered, free hand now gripping the door handle, jovial grin on his face. “He just wanted to get some fresh air.”</p>

<p>“Fresh…” Molly Weasley turned and put her hands on her hips. “All right, what are you up to?”</p>

<p>George froze. “Nothing, Mum.” He tried to sound as innocent as possible.</p>

<p>“Oh, really?”</p>

<p>“Yes, we just—”</p>

<p>CRASH! The sound of a large porcelain bowl smashing down onto the ground drew Mrs Weasley’s attention to a shocked looking Ginny, now standing in a small pond of peas and carrots.</p>

<p>“Oh, for pity’s sake!”</p>

<p>George took the opportunity to open the back door, watching his mum now fuss around Ginny.</p>

<p>Molly Weasley turned her back and, right then, Ginny winked at him.</p>

<p>Whoa. George gave his little sister a grateful look, slipped out, and started walking down the path. Ginny was getting more and more devious by the <em>day</em>. It was enough to make a big brother proud. He arrived at the front gate, hid behind a beech tree, unfolded the slightly messy newspaper, and read while he waited. He didn’t have to wait long. Only a few minutes later, his twin brother came jogging up the road from the direction of the Rookery.</p>

<p>“Did we get everything we needed?” George asked.</p>

<p>“We did.” Fred said, grinning and panting, slightly out of breath. “And then some.”</p>

<p>“Cleansweep? Comet? Nimbus?” George asked.</p>

<p>“Nimbus.”</p>

<p>“Wicked,” George whispered. “And the partnership with young Harry?”</p>

<p>“All signed and official.”</p>

<p>“And did we get to <em>officially</em> see the house he’s working for?”</p>

<p>Fred shook his head. “No, not yet.”</p>

<p>George made a ‘hmmm’ sound.</p>

<p>They stood in silence for a moment.</p>

<p>“Hey, Fred?” George said.</p>

<p>“Yes, George?” Fred answered.</p>

<p>George chucked his twin the Daily Prophet, which was running the headline, ‘BOY-WHO-LIVED’S BROTHER STILL MISSING’. “Do, you think we should tell Harry we’re pretty damn certain he’s working for Lord Slytherin?”</p>

<p>Fred smirked. “What do you think?”</p>

<p>They looked at each other.</p>

<p>“Nahhh,” they said in unison, before turning and walking in lockstep up the path, fully ready to continue the never-ending war for the Burrow’s gnome-infested lawn like the dutiful sons they were.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Emma Granger held her hands absolutely steady. The tip of a welding torch crackled and popped, scorching-hot-electrode-point melting and remaking the steel object in front of her.</p>

<p>A stone’s throw away, the sea rolled up and down the shingle beach.</p>

<p>“Delivery!”</p>

<p>Emma stopped, flipped her mask visor up, and turned around just as her husband walked up. He held a large package under his arm and a large grin on his face.</p>

<p>“Bubblehead alchemy plates,” Dan announced, setting the package down on a make-shift workbench. “Easiest sci-fi style oxygen and carbon-dioxide recyclers you’ll <em>ever</em> find.”</p>

<p>Emma smiled. “Excellent. Let’s start on getting them installed.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>A few days passed. Hermione started each day by shuttling her parents up to the tip of Scotland in a shrunk trunk, through the floo, to a carpark, where they’d left a car, and finished it by returned them back home when the work day ended. She still hadn’t seen what they were working on, but was willing to wait until they were done. It wasn’t like she didn’t have enough to do. Now back in Crawley for the night, Hermione stood in the middle of a ritual circle, drawn in the Granger garage, half embarrassed and totally naked. Off to one side, stood her mum, equally naked, but far less embarrassed.</p>

<p>Her dad wasn’t in the room. Hermione had put her foot down about that, getting more than a few sniggers in return from her parents about how their little girl was growing up, and that soon they’d be fending off boys on motorcycles — possibly one’s with messy black hair and green eyes.</p>

<p>Clare also wasn’t present. The risk of her confinement collar interfering with the ritual was too high.</p>

<p>Soft light illuminated the ritual circle through a window in the roof. Unlike a few nights ago, when the clouds blocked the night sky’s display, tonight, the moon was out, and it was full — that was important.</p>

<p>Hermione sat down cross-legged in the middle of the circle, which pulsed with magic from the already-completed first-half of the ritual. Her mum stepped beside her, knelt down, dabbed at Hermione’s arm with a swab of cotton wool, and drew a measure of blood with a syringe. She then handed the syringe to her and left the circle.</p>

<p>Hermione ignored the slight prickly feeling on her arm and focused on the object on the floor in front of her — Two small aluminium rings, each a little larger than her wrist. They were both completely smooth, but she knew that hidden inside were hundreds of tiny runes, and that right now, here, in this ritual circle, a few dozen of them in particular sang out to her like sirens on the rocks. She held the syringe over the rings of metal and dropped a single drop of blood onto each. The blood clung to the rings. Hermione pulsed magic into the ritual circle. The rings sucked her blood into them with a small slurping sound. The singing dimmed.</p>

<p>Hermione shuddered, stood, raised her hands up to the roof, and completed the words of the ritual. The ritual circle glowed faintly red; the metal ring glowed redder still — and then the glowing stopped and the world returned to normal.</p>

<p>For a moment the room was totally still.</p>

<p>Emma Granger let out a long breath. “Done?”</p>

<p>Hermione let out a small breath of her own, smiled, and picked up the outer ring. Even as she did so, she felt the tiny pull of magic from it, causing the smaller inner ring to float and spin independently of the larger outer one. “Yes,” she said, holding the ring up for inspection. “One blood-rune copy-protected broomstick power ring.”</p>

<p>“Good,” said her mum. “Let’s get this sent off to Lord Slytherin and then to bed. Your father and I need to get up early tomorrow.” She took the magic ring-within-a-ring from Hermione. “We still have plenty of work to do before we can make our first trip to Gairsay Island.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne sat in front of her bedroom vanity dresser in her dressing gown. On the small desk in front of her lay a magic ring-within-a-ring, a letter from Mrs. Granger, a plate of half eaten jam on toast, a couple of open books, and dozens of parchments, all filled with Daphne’s neat notes and scribbles. One of the books was titled ‘Updated Albion Contract Magic’. Sunlight flooded in from her large bedroom window. Hedwig perched on the backside of a nearby chair, drinking from a small bowl of water one of the Greengrass house elves had brought her.</p>

<p>Daphne scribbled another note, put down her quill, and looked at herself in the mirror. “No, Mister Whitehorn,” she said to her reflection, “Two galleons each for every broomstick you make, adjusted for inflation, for the next five years, in exchange for… for…” She cursed, looked down at her notes again, and then back up at her reflection. “Mister Whitehorn, the terms my lord will agree to are two galleons each for every broomstick you make, adjusted for inflation, for the next five years, in exchange for… an exclusivity agreement… and an annually improved model.”</p>

<p>Daphne nodded to herself, looked down at her notes, and made another scribble.</p>

<p>“Dear?”</p>

<p>“Mmm?” Daphne looked up. Her mum’s head poked around her bedroom door.</p>

<p>“It’s already noon, Daphne,” Sunny Greengrass said.</p>

<p>Daphne blinked. “Already?” She looked out of the window. The sun was indeed high in the sky.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>450 kilometres away, the high-noon summer sun beat down on Convertible-Security like a goblin forged hammer. “Fucking whore Boneslicers,” he muttered watching as another fully inspected knight-wagon full of building equipment and materials boarded the ferry to Gairsay island. He sucked on his cigarette, dropped it, and stubbed it out with a steel toed boot.</p>

<p>Next to him, the ministry inspection human, Geoffrey Perkins, sniffed. “I don’t understand how you can have so much animosity for them — aren’t you all goblins?”</p>

<p>Convertible-Security gave the snooty human an unimpressed look. “<em>You’re</em> all human and <em>you</em> fight like spogs in a fight pen. And why <em>should</em> you understand? You don’t know the history — the feuds — the power grabs — the backstabbing. The only times you know of them is when it spills over into your world, and then its called ‘rebellion.’ I bet you don’t even understand why we <em>care</em> about Lord Slytherin.”</p>

<p>“He’s rich?”</p>

<p>Convertible-Security snorted. Dear Gringotts he was bored. “Human,” he said, “has it never occurred to you to wonder <em>why</em> we want all your gold in our vaults?”</p>

<p>The human hesitated. He glanced at the huge sword Convertible-Security had slung over his back.</p>

<p>Convertible-Security could practically hear the man thinking, ‘greedy, simple-minded magpies.’</p>

<p>“Because,” the human said, seeming to choose each word as though a misspoken one might result in their already short-handed operation becoming literally even more so, even while managing to sound as snooty as ever, “you… value gold highly?”</p>

<p>Convertible-Security rolled his eyes. “The first thing every goblin gets taught in school—even before which end of an axe is the sharp one—is the diamond-water paradox, human. The very — first — thing. Gold doesn’t have much value when you’re alone in a desert, but water does. And gold piled in a vault doesn’t mean much if there isn’t some greater context surrounding it. It’s not like we’re allowed to actually <em>touch</em> any of your gold.”</p>

<p>The ferry carrying the knight-wagon full of Boneslicer goods and goblins pushed off from the pier.</p>

<p>Convertible-Security watched it carefully, magic tingling up and down his fingers, stretching his senses for any sign of something amiss.</p>

<p>“And?” the ministry wizard asked.</p>

<p>“And what?” Convertible-Security shot back.</p>

<p>“The context — why do you hoard gold?”</p>

<p>Convertible-Security turned away from the departing knight wagon, scowled, and started walking back to the fidelius watch point up the long shingle beach. “I never said I was going to tell you, human — just that you should wonder about it.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The table was round and divided into thirds — literally divided. The space between the thirds measured the distance of a severed human thumb.</p>

<p>Daphne Greengrass was once again sat at one of the thirds, holding a long package wrapped up in paper in her lap, trying to shake the feeling of being weirdly vulnerable without her ageing potion and mask, which was ridiculous. She was Daphne Greengrass! Current heiress Greengrass and future Lady Slytherin. She had every right to demand an audience with someone who was, at the end of the day, a commoner — regardless of how old she might be.</p>

<p>At the table’s other thirds sat Lord Smith and Devlin Whitehorn, boss and chief enchanter for the Nimbus line of brooms.</p>

<p>“Don’t tell me you’re not a <em>little</em> bit curious, Devlin,” Lord Smith said with a chuckle.</p>

<p>Devlin Whitehorn had the look about him of a man with places to be and things to do, and that here was not where he wanted to be, and she were not something he wanted to deal with. He tapped on the woodwork with his long fingers. “I would not <em>be</em> here, if it were not you that had requested it, Lord Smith.” He turned to Daphne. “Please, just get on with it, young lady.”</p>

<p>Daphne decided to get on with it. “Mister Whitehorn, my house has developed a line of magic rings to improve either the efficiency or power of a broomstick by between 5% and 10% with no loss of stability or slipperiness.”</p>

<p>Whitehorn rolled his eyes, stood up, and turned to Lord Smith. “Please don’t ask me to do this again, Sam.” He turned away.</p>

<p>Daphne scowled, took out the long package, and slammed it down on the table. “At least <em>look</em> at it.” She ripped off the paper, revealing a Nimbus 2000 broomstick.</p>

<p>Whitehorn spun back around, clearly annoyed. “Little girl, I don’t need to look at any—” he stopped. The larger aluminium ring floated and gently spun around the smaller one. The smaller ring was firmly attached to where the broom’s bristles met the handle. “It floats?”</p>

<p>Daphne held up her empty hands, showing she held no wand.</p>

<p>Lord Smith’s eyes flittered between Daphne and Whitehorn, amused and calculating.</p>

<p>Whitehorn approached the broom with a frown. He produced a long fork like instrument from the recesses of his robe and gently tapped the broomstick. His frown deepened. Another instrument was produced and more tapping and prodding done. At one point, the man took out a tiny, finger-sized broomstick. The finger broomstick leapt from his hand and did loop-the-loops all the way along the larger broom before returning to Whitehorn’s hand, making little whistling noises. He started muttering to himself. More prodding took place. Eventually, he picked up the broomstick and mounted it, right there in the Gringotts meeting room, doing several slow barrel rolls before dismounting. He sat back down at his third of the table and fixed Daphne with a hard stare. “How much?”</p>

<p>“Two galleons each for every broomstick you make, adjusted for inflation, for the next five years, in exchange for an exclusivity agreement and an annually improved model (£100).”</p>

<p>Whitehorn raised an eyebrow.</p>

<p>Daphne held his gaze.</p>

<p>“I’ve <em>no</em> idea the kind of work that must go into these rings,” Whitehorn eventually said, his tone of voice making it clear that this both intrigued and annoyed him. “We sell around 750 brooms a year. Will you be able to make that many?”</p>

<p>Daphne nodded. “We will.”</p>

<p>“Right.”</p>

<p>Thirty minutes later, they had a signed contract, and five minutes after that, Daphne found herself leaving an empty meeting room along side Lord Smith who smiled at her. “Very well done, young lady.”</p>

<p>“Thank you.” She nodded up at him. “And thank you for setting up the meeting. I will go to my account manager and see that your share is placed into your vault as soon as Mister Whitehorn transfers the gold to my lord’s vault.”</p>

<p>Lord Smith touched his forelock with the hand not holding his large war hammer. He then turned and left.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne stepped out of the floo in the sitting room of Greengrass Manor. “Afternoon, Father.”</p>

<p>Jacob Greengrass looked up from where he was reading the Daily Prophet. He smiled. “Afternoon, Daphne. Having a productive day?”</p>

<p>Daphne took out a rolled up parchment from the fold of her robes and nonchalantly waved it. “Just signed a contract worth six hundred galleons a year to Slytherin House for the next five years (£30,000).”</p>

<p>Jacob blinked. His head disappeared behind the newspaper again. “Your bride price was too damn low.”</p>

<p>Daphne smirked. “Aww, thanks, Dad.” And with that she ran upstairs to get changed for her afternoon outing.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Sophie has an afternoon outing?” Mrs. Roper was busy washing dishes when Mr. Roper mentioned their daughter’s plans.</p>

<p>Mr. Roper poured himself a cup of tea. “With some friends from school. They’re going to the cinema.”</p>

<p>“That’s nice,” Mrs. Roper said. “I’m glad they’re going to do something ‘normal.’” She rinsed a plate and put it on the drying rack. “How is she getting there?”</p>

<p>Mr. Roper shrugged and brought the cup to his lips.</p>

<p>Just then, the doorbell rang.</p>

<p>He put the cup down. “That must be the lady from the ministry.”</p>

<p>It was indeed the witch from the ministry. He led her into the kitchen and served her another cup of tea.</p>

<p>“This is just a regular call in,” the rather snooty woman said, inspecting the digestive biscuit Mr. Roper placed next to her tea-cup as though it might be poisoned. “How is Sophie doing after her first year? No troubles, I hope.”</p>

<p>“No, not really.” Mrs. Roper dried her hands on a teacloth before turning from the sink. “Sophie says she loves Hogwarts.”</p>

<p>The woman smirked. “As she should.”</p>

<p>Mr. Roper took a sip of tea. “Although she <em>did</em> mention that there were some problems with bullying.”</p>

<p>“Did she?” The ministry witch sounded shocked. She fixed him with a piercing stare.</p>

<p>Mr. Roper had the feeling his very soul was being examined. “She did,” he said.</p>

<p>The ministry witch smiled. “I’m sure it’s nothing.”</p>

<p>Mr. Roper felt a flash of annoyance shoot through him. “Now, see here—”</p>

<p>Suddenly, the world went weird. He looked down at his cup of tea. Wow, he’d drunk a lot without noticing, hadn’t he? “Err…” He tried to remember what they’d just been talking about. “What were we…?”</p>

<p>The witch smiled. “You were just saying how proud you were of Sophie for doing so well on her end of year exams.”</p>

<p>“Oh, yes,” he muttered. “I knew it was something like that.”</p>

<p>Mrs. Roper nodded, beaming proudly.</p>

<p>“Is there anything else we need to talk about?” Mr. Roper asked. “Only I have an appointment I need to leave for soon.”</p>

<p>“Yes.” The witch’s expression grew more serious. “We’ve been asked to inform all muggleborn parents to be wary of a gentleman by the name of Lord Slytherin.”</p>

<p>“Oh?”</p>

<p>“Last year it became known that this wizard had targeted an unsuspecting muggleborn family and bound them to him as his vassals.”</p>

<p>Mr. Roper stared at the woman in wide-eyed indignation. “<em>Vassals</em>?! And we’re only learning about this <em>now</em>?! What the <em>hell</em> are you—”</p>

<p>The world went weird. He looked down at his cup of tea. Wow, he’d finished that quickly hadn’t he? “Err…” He tried to remember what they’d just been talking about. “What were we…?”</p>

<p>The witch smiled. “You were just confirming that you’d be sure to contact me immediately should you be approached by Lord Slytherin or anyone working for him.”</p>

<p>“Oh, yes,” Mr. Roper muttered. “I knew it was something like that.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Waves crashed and lapped up the Scottish, shingle beach.</p>

<p>“Ready, love?” Emma Granger asked. She was wearing a red bikini and a lab coat.</p>

<p>Clare Cooper nodded. She was wearing a yellow bikini and her ever present imprisonment collar.</p>

<p>Dan stood off to the side. <em>He</em> was wearing a smile like a banana on growth hormones. Three steel boxes connected by steel tubing sat on the shingle beach’s only stretch of flat rock, affixed by extremely well tested sticking charms. One of the tubes faced out to sea. Another two tubes dipped into the water.</p>

<p>“Right.” Emma made a note on a clipboard. “Moment of truth. One stroke now — slowly, please.</p>

<p>Clare nodded and pressed her hands against the holes in the two boxes in front of her.</p>

<p>Moments later, a huge stream of water shot out of the tube facing out to sea as though a block in a fireman’s hose had suddenly been cleared. The water misted in the air and floated back towards them, soaking the three of them in a fine wet sheen.</p>

<p>Emma blinked.</p>

<p>Dan’s smile widened. “Test one — successful.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Somewhere else, in a land of lights and sounds and make believe, a group of muggles got out of a car and stumbled towards a massive beast, clearly dumbstruck by its sheer size and majesty.</p>

<p>The creature was huge. No, huge didn’t even begin to describe it. Its neck was as long as the Hogwarts astronomy tower. It leaned back on its hind legs and nibbled the top of a tree before coming back down to earth with such force, it rocked the very ground around it.</p>

<p>One of the muggles collapsed on the ground, shock overcoming his ability to stand. Orchestral music started to swell. The muggle looked up. The orchestral music built up further. A lake came into view, full of beasts — not all of equal size to the tree munching monstrosity near where the muggle now lay, but huge nevertheless. The orchestral music crashed and the muggle whispered to his guide in sheer, unadulterated awe.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The storm raged — rain pounded down — lightning flashed — tropical trees whipped this way and that — the muggle wards groaned — and the terrible wingless land dragon stepped through them, each footstep shaking the muggles sitting nearby in their their cars, frozen and terrified.</p>

<p>It roared.</p>

<p>The muggle girl scrabbled over the back seat of the broken car, grabbed the electric lumos device, and switched it on. Her brother shouted at her to turn it off, but it was too late.</p>

<p>Attracted by the light, the land dragon stomped over.</p>

<p>The boy closed the car door with a small thlump.</p>

<p>The sound caused the land dragon’s head to jerk around. It slowly inspected the car, its eye as large as the terrified muggle boy’s head, its teeth as long as a man’s arm.</p>

<p>Rain poured down the car’s windows.</p>

<p>And then, all hell broke loose.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The music died.</p>

<p>The vicious two-legged reptiles circled.</p>

<p>The muggles crowded together, the man desperately trying to shield the woman and two children from the predators closing in on them.</p>

<p>The lead reptile crouched down, ready to pounce.</p>

<p>The muggle man flinched back.</p>

<p>The reptile leapt, but before it could get halfway, was plucked clean out of the air by a much large set of jaws.</p>

<p>The music started back up.</p>

<p>The muggles all stared in terrified wonder as the huge land dragon, appearing seemingly from nowhere, ripped through the reptile that moments before had been about to rip through <em>them</em>. They ran for it, orchestral music swelling and swelling as they made their way out of the building and down to a car driven by their guide.</p>

<p>The land dragon ripped the second reptile off its back and threw it straight through a land dragon skeleton. The land dragon roared in victory and a banner fell down around it reading, ‘When Dinosaurs Ruled the World.’</p>

<p>Daphne unclenched her hands from the cinema seat rest, let out a long breath, and felt her heart start to slow down again. She left the cinema along side Hermione, Sophie, Kevin, Dean, and Justin, movie music still humming in her ears.</p>

<p>“So Daphne,” Sophie said, “what did you think?”</p>

<p>Daphne smiled, adrenaline still pumping through her body. “At least <em>I</em> didn’t get monster guts on me this time.”</p>

<p>Sophie giggled. “No, I mean what did you think of the cinema? Impressed with what muggles can do?”</p>

<p>Daphne smiled. “You seem to have me mistaken with pure bloods who’ve forgotten <em>why</em> we decided to hide from the non magical world.”</p>

<p>“What she means,” Hermione said, “is that she has a healthy appreciation for the power of technology that muggles wield.”</p>

<p>Sophie pouted. “But you must have learned <em>something</em>?”</p>

<p>Kevin, Dean, and Justin walked ahead of them, loudly discussing the movie, heading to a quiet spot where they all planned to practise occlumency.</p>

<p>Daphne considered her answer before answering. “Yes, I think so. I had no idea that muggles have blood technology — seems pretty dark too — especially with what happened when they messed it up.”</p>

<p>“I think genetics would be more gray than dark,” Hermione said. “It <em>can</em> be beneficial as well as harmful.”</p>

<p>Sophie nodded. “I think nuclear weaponry would be dark.”</p>

<p>Daphne hummed in agreement. “I also think it was interesting how the entire park failed just because one muggle in charge of security turned traitor — and the muggle arithmancer talking about chaos — that was interesting.” She turned to Hermione. “Was that a real muggle thing, or was it made up?”</p>

<p>Hermione hesitated. “I <em>think</em> it’s a real thing.” Her jaw firmed. “I’ll check when I next see Mum and Dad.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Some twenty minutes later, Hermione sat down next to Daphne on a park bench, watching the other muggleborns practise their occlumency in cross-legged pairs mostly hidden from the rest of the world by trees and bushes.</p>

<p>The principle was simple. Normally, only a great legilimens could help a novice occlumens build up their defences, and how those defences would be constructed depended on the legilimens.</p>

<p>The problem was they had a distinct lack of great legilimens that could be trusted to hand, and Harry simply didn’t have the time to invest in something so time consuming.</p>

<p>Therefore, Kevin, Dean, Sophie, and Justin were testing a new method that tried to emulate the method Harry learned from Voldemort. In this method, student became teacher and teacher became student. Since the major limiting factor was the skill of the legilimens, the student occlumens learned to help, gently ‘pulling’ the novice legilimens into their mind, as though they were a hostile attacker. Once inside, student and teacher would work together on the written exercises — exercises written specifically to emulate the process Harry would normally go through.</p>

<p>Harry had been quite thorough. There were hundreds of them.</p>

<p>“At least we don’t have to worry about the ministry casually scanning them now,” Hermione said.</p>

<p>Daphne nodded. “How long until the next step?” she asked.</p>

<p>Hermione shrugged. “At the rate they’re going? Six months, maybe?”</p>

<p>“Six months,” Daphne mused. “That’s <em>twice</em> as long as it took us to start on wandless magic.”</p>

<p>“<em>We</em> had our lord.”</p>

<p>“True.”</p>

<p>They sat in silence for a few moments.</p>

<p>Hermione sighed. “I wish we had our lord <em>now</em>.”</p>

<p>Daphne nodded.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Later that evening, after Hermione arrived home, Harry’s elf, Plato, popped into her bedroom, proudly holding a letter in his hand.</p>

<p>Hermione thanked the elf, opened the letter, and read.</p>

<p><em>Dear Hermione,</em></p>

<p><em>I can’t write as much as I’d like in case this letter is intercepted. I hope you’re doing well and that all our projects are progressing. I hear from Daphne that your parent’s solution to our little problem will be ready soon. I really wish I could be there for the first outing. It sounds impressive, considering what they’re working with. I see from the newspapers that Harry has gone missing. I’m sure you’re wondering if he’s okay where-ever he is. You two seem quite close. Don’t worry, I’m sure he’s fine. He’s a resourceful lad from what I’ve seen. I wouldn’t even be surprised if he suddenly turned up safe and sound at the chief auror’s very own house. By the way, I’m planning to be back in the country on Sunday, August 16.</em></p>

<p><em>Yours,</em></p>

<p><em>- Lord Slytherin.</em></p>

<p>Hermione finished reading the letter. August 16? She felt a slight fluttering in her stomach. But that was still three weeks away. She read the letter again. She then put the letter aside and returned back to her studies. She got through one whole paragraph before she glanced to where she’d stored Harry’s letter. She retrieved it, unfolded it, and read it again. Again, she felt the slight flutter in her stomach. She put the letter aside and got back to her studies.</p>

<p>This pattern repeated itself three times.</p>

<p>The sun set and moonlight started to shine through her window.</p>

<p>Hermione buried her head in her hands in frustration. What was <em>wrong</em> with her? Why couldn’t she <em>focus</em>?</p>

<p>Her gaze caught the spine of a book her parents had bought for her several years ago. A memory of twenty-two year old Hermione Granger and twenty-two year old Harry Potter flashed through her mind.</p>

<p>Hermione groaned, a light blush dusting her cheeks, as realisation hit home as hard and as brutal as the very thing she’d just realised — hormones.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>The morning sun shone brightly in the sky. A shape in the air glided through the summer Scottish air. It rode the wind currents like a bird — not quick and agile, but slow and majestic, like an albatross, eagle, or heron. The shape swooped down and alighted mere jumping distance from the North Sea.</p>

<p>Daphne Greengrass shimmered into view. The wind whipped around her hair and robes. The Scottish waters rolled up the shingle beach she now stood on. She dismounted from her brand new nimbus 2001 broomstick and heard two figures land nearby. Moments later, Hermione and Ginny shimmered into view, also dismounting from their brooms.</p>

<p>“Whew!” Ginny had a massive grin plastered all over her face. “I can never get enough of those long broom rides.”</p>

<p>Daphne smirked. “On this, Weasley, I couldn’t agree more.”</p>

<p>Hermione was busy rubbing her bum. “I’ve nothing <em>against</em> broomsticks, but for so long? Not my favourite way to travel.”</p>

<p>Ginny winked at Hermione. “Well, you’re done now. I need to get back before my mum notices I’m gone.” She waved her hand over herself, shimmering back into nothing but a shape against the background. “Good luck!” the shape of Ginny said, before zipping back up into the air.</p>

<p>“She seems nice,” Hermione said when they were alone, now apparently trying the massage life into her stiff limbs.</p>

<p>Daphne shrugged and started towards the cove that she knew to be hidden behind the next large rock and Harry-cast fidelius charm.</p>

<p>As they passed the boulder they also passed a large muggle car parked on the shingle.</p>

<p>They stepped over the fidelius line.</p>

<p>“Hermione! Daphne!” Emma Granger rushed up and hugged them both. “Dan! Clare! The girls are here!”</p>

<p>The face of Dan Granger appeared briefly over a large white van. “Biscuit break!” he said happily before popping back down.</p>

<p>Hermione grinned.</p>

<p>Daphne stared at the van. It didn’t <em>look</em> any different from any other muggle vehicle.</p>

<p>“Come on you two.” Emma Granger said, pulling them along. “Let’s give you the tour.”</p>

<p>Clare Cooper stepped out from behind the van, washing her hands with a towel, wand stuck out of the pocket of her jeans.</p>

<p>Daphne blinked. “I thought you couldn’t leave the Granger house?”</p>

<p>Clare smiled. The ministry confinement collar gleamed around her neck. “I got a special work permit. I’m on unpaid overtime, as it were.”</p>

<p>The waves lapped up against the van’s front wheels where it sat on the shingle. Emma Granger thew open the main doors to the van at the back. “All aboard.”</p>

<p>If the outside couldn’t have looked more muggle, then the inside couldn’t have looked more magic. Thin metal plates covered with runes blanketed the walls. They glowed faintly. Daphne had to clamber around a trio of mysterious rune covered metal boxes with various tubes sticking out of them. A comfy looking chair had been placed within arms distance of two of the boxes. A magic trunk sat off to one side. A ladder led up to another door cut into the roof.</p>

<p>Towards the centre of the van, a broomstick was attached to both the walls with metal rods, leaving the broomstick hanging at mounting height in the van’s middle.</p>

<p>Hermione gave the broomstick an uneasy look.</p>

<p>Emma Granger pointed at some of the different rune plates. “Unbreakable charms,” she said. Clare’s been working on that one for ages now. “I can’t tell you how giddy I was when I first learned that wizards could make things unbreakable. Do you have any idea just how <em>insane</em> that is?”</p>

<p>Daphne slowly shook her head.</p>

<p>Emma Granger smiled. “Well, it is.” She pointed at another set. “And you’ll remember these, of course.”</p>

<p>Daphne nodded. She easily recognised them as the bubblehead alchemy plates she’d helped Mister Granger acquire from the Weasley twins.</p>

<p>“Umm… Mum,” Hermione said. “What’s the broomstick for?”</p>

<p>Emma Granger grinned. “Ah yes, took us a while to come up with a solution for that. Direction control.”</p>

<p>Hermione turned to Daphne. “Dibs not it.”</p>

<p>Daphne rolled her eyes.</p>

<p>“Ah ah ahhh,” Mrs. Granger waggled a finger. “Daphne here is going to be on navigation duty. We’ll need her magic eye to see above the waves.”</p>

<p>Hermione frowned. “In that case, Clare can—”</p>

<p>“—Nope.” Mrs. Granger shook her head. “Clare already <em>has</em> a job that only an adult wizard or witch can handle.”</p>

<p>Hermione groaned.</p>

<p>Daphne smirked.</p>

<p>“Yes, young lady.” Mrs. Granger’s eyes were almost dancing now. “You are going to be a good little witch and get — on — your — broomstick!”</p>

<p>Hermione hung her head. “How long?”</p>

<p>“Only five hours.”</p>

<p>Hermione whimpered.</p>

<p>Daphne eyes momentarily widened in surprise. Five hours? She was going to have to keep the eye of kilrogg up for five hours? That wasn’t going to be light work. It almost made her want to trade with Hermione. “Mrs Granger?” she said. “Is it really going to be five hours? I thought our island was only sixty kilometres away?”</p>

<p>Mrs Granger nodded. “It is. But you can’t move nearly as fast underwater. The water gets in the way. Even if you have lots of power, and we don’t.”</p>

<p>Daphne looked at the lone broomstick hanging in the van. “If we used more than one broomstick, couldn’t we go faster?”</p>

<p>Mrs Granger giggled. “Hermione’s not powering the whole van — my word, no. Those brooms only produce a little less than one horse power in a horizontal line, despite the weird as hell acceleration. We checked. No, she’s just steering.”</p>

<p>Daphne frowned. “Horse power?”</p>

<p>“Horse power is a unit used to measure power,” Hermione said. “Sort of like a flamel.”</p>

<p>“And equal to approximately 735 watts,” Mrs. Granger added.</p>

<p>“Which is a lot,” Hermione said.</p>

<p>“But not nearly enough,” Mrs. Granger finished.</p>

<p>Daphne looked at the broom. “I’ll take your word for it.”</p>

<p>Mrs. Granger edged her way around all the stuff on the floor and over to the mysterious pair of runed boxes that sat by the van’s main doors. “<em>This</em>,” she pointed to the boxes, “is how we’re going to power ourselves underwater.”</p>

<p>Hermione moved past her to stand by the boxes. “What is it?”</p>

<p>Mrs. Granger grinned a smug grin and held up a dramatic finger. “This… is the Granger Magic Trunk Engine!”</p>

<p>Daphne frowned.</p>

<p>Hermione gave her mum a deadpanned look. “The what?”</p>

<p>“Look.” Mrs Granger pointed to the trunk which sat to the side. “Do you see that?”</p>

<p>Daphne and Hermione nodded.</p>

<p>“<em>That</em> is a half-size version of the trunks that are in <em>these</em> steel boxes.” She pattered one of the boxes. “The boxes are each one metre square, charmed unbreakable, and there is a small hole here, do you see?”</p>

<p>Daphne saw two holes in the boxes that looked like someone had filled in the hole with wood from the inside.</p>

<p>“The trunks are stuck to the inside wall of the box with a sticking charm.” Mrs. Granger pointed to a pipe on the other side of the box. “What happens is, a wizard or witch sits in the chair and puts his hands to the holes where the trunks are exposed. They then shrink one of the trunks. When the trunk shrinks, it creates a vacuum in the unbreakable box, which draws water in from the sea outside through an unbreakable one-way valve. Then, when the wizard unshrinks the trunk, the water is forced out through a different one way valve, into the main pipe, and through a twenty centimetre circular hole at 37 metres a second. They quickly alternate between the two boxes, constantly shrinking and expanding, creating a constant flow of high pressured water, producing almost <em>fifty</em> horse power of forward thrust.” She threw up her hands in the air. “One human! Fifty horse power! It’s nuts!”</p>

<p>Daphne bit her lip. “It <em>sounds</em> impressive,” she hazarded.</p>

<p>Mrs. Granger smiled. “Imagine being able to cast an aguamenti spell so powerful you could fill twelve whole baths in one second, and then being able to keep that up for hours on end.”</p>

<p>Daphne’s jaw dropped.</p>

<p>“Yeah, that’s what this is.”</p>

<p>Daphne’s mind raced. She stared at the… what had Mrs Granger called it? …The Granger magic trunk engine. She felt her world slowly flip over — the exact reaction Sophie Roper had been disappointed she hadn’t had from the cinema. It hadn’t happened then because she <em>knew</em> muggles had technology, which was just like another kind of magic as far as she was concerned. The cinema was impressive, and the story very entertaining, but at the end of the day, a pensieve was objectively better. But this — this was <em>wizard</em> magic — <em>her</em> magic — and of such <em>power</em> — only the legends spoke of this kind of power — legendary magic — legendary magic, discovered by muggles — muggles under <em>Harry’s</em> purview. Daphne felt a shiver shoot up her spine. Had this been her future husband’s plan all along?</p>

<p>Mrs. Granger clapped her hands together. “Alright! Let’s get this show on the road, or in the water, or whatever.”</p>

<p>The whatever consisted of Daphne, Hermione, and Clare using every merlin of magic they had to levitate the van-turned-submarine across the shingle beach and into the bobbing water. Clare sat herself in the trunk engine seat while Hermione got onto the steering broom with a resigned sigh. Daphne made herself comfortable on the floor and summoned her eye of kilrogg. The world shifted as her magic eye opened. She directed it outside and a watery world opened up before her. “Forward!” Daphne called out.</p>

<p>A massive whoosh noise started and the craft pushed forward, out to sea, and out of the protective ring of the fidelius charm.</p>

<p>Daphne zipped her magic eye to the surface and gazed around. The coast line was still a stone’s skim away. The islands looked like they were on the other side of the world. They were also slightly to the left. “Left!” she called out.</p>

<p>The magic submarine van turned right.</p>

<p>“No, the <em>other</em> left!”</p>

<p>“That <em>was</em> left!” Hermione called back, but the submarine did slowly start to slow its rotation and then slowly started turning left. Soon the islands were in their sights.</p>

<p>“Stop!” Daphne called out.</p>

<p>The whoosh of the engine ceased.</p>

<p>“No, I didn’t mean— urgh.”</p>

<p>“Sorry!” Clare called.</p>

<p>The van continued to turn left.</p>

<p>“I meant stop turning left!” Daphne said.</p>

<p>The engines starting whooshing again.</p>

<p>“I have!” Hermione said. “This thing’s turning circle is atrocious! You need to give me, like, five seconds warning!”</p>

<p>Eventually, with much calling back and forth, and not a small amount of amused input from Hermione’s parents, the magic submarine ceased it’s wiggling path towards the islands and settled into something a bit more linear. Soon though, Daphne spotted something that would have caused her to narrow her eye, if the magic eye had eyelids to narrow. It was a row boat rowing itself. Its human looking passenger sat slouched in the wooden seat, smoking a cigarette. The crest on the side of the boat was clear to anyone in know. The Goldtooth Clan. “Enemy goblin patrol in row boat,” she called out, not quite so loud as before. “About two quidditch pitch lengths away.”</p>

<p>“Cut the engine,” Mister Granger said in a voice that brooked no argument.</p>

<p>The engine whoosh died.</p>

<p>Daphne watched as the goblin row boat got closer. The human had a two handed long sword strapped to his back. Probably a goblin under polyjuice. She zipped the eye over to investigate, getting as close as the eye’s range would allow. An ashtray sat next to the goblin, filled with a small mountain of stubbed out dog-ends. Then, suddenly, the goblin jerked up from its musings and started right at her, surprised and shocked.</p>

<p>Shit!</p>

<p>Daphne zipped the eyeball away to the side.</p>

<p>“Contact,” she whispered.</p>

<p>She heard a sharp intake of breath from inside the submarine, turned the eyeball around, and watched the goblin look wildly around. It had clearly spotted <em>something</em> about the eye. Hopefully it hadn’t identified anything important. Soon the goblin settled back down in the small boat, shrugged, and tapped its finger to the oars, which once again started rowing all by themselves. It gave no more indication it was suspicious of the eye, and certainly not of the submarine sitting hidden, far below the waves. Eventually, the goblin patrol was gone again.</p>

<p>Daphne let out a long breath. “Clear,” she said.</p>

<p>Long breaths were let out all around her.</p>

<p>“Forward,” she said.</p>

<p>The whoosh of the trunk engine started up again.</p>

<p>“What was that?” Mister Granger asked.</p>

<p>“I don’t know if it could see me,” Daphne said, still watching the retreating rowboat, “but it could definitely sense <em>something</em>.”</p>

<p>“Goblins aren’t allowed to use wands,” Hermione commented. “Maybe there are more of them who are skilled at wandless magic — like Uagadou — African wizards are supposed to be really good at that — all sorts of other things too.”</p>

<p>“Could be,” Daphne hazarded.</p>

<p>Hours slowly floated by. A whale passed the sub — so close Daphne could see inside its blowhole. It didn’t seem to be a threat. She giggled as the water sprayed over the eye, and sighed as it swam out of sight. They stopped several times to rest and eat. Clare started looking quite the worse for wear. She had by far the most magically draining job of all of them. They moved around the largest island in the Orkney’s and started towards their intended target — Gairsay island</p>

<p>As they closed in, Daphne kept her eye upon it. Even with what little magic sensing training Harry had given her, the build up of latent magic on her skin brushed across said senses like rose petals on said skin. The last time she’d seen the island, it had been bare — an empty hill of land. Now, small trees, bushes, and long grasses lay smattered all over the island. But it was the hill top that had most changed. The top had been flattened, and a huge building in solid looking white stone now stood atop it — Slytherin Manor — her future home.</p>

<p>They slowly edged around to the far side of the island and surfaced as close as they could, Hermione holding the van steady with about half a foot poking out above the faintly lapping waves. Daphne dismissed the eye, climbed up the small ladder to the door in the roof, climbed out, mounted her broom, and quickly made the tiny jump from the van onto the land where she was immediately met by a gobliness of the Boneslicer clan — Floating-Interest, Ragnok’s daughter and project lead on the construction.</p>

<p>Ten minutes later, the van had been lifted from the water and hidden under a tarpaulin. Mister and Mrs. Granger held an exhausted Clare steady between them.</p>

<p>Daphne stood next to Hermione, gazing up the long path through the greenery towards the shell of Slytherin Manor. It didn’t have windows yet. A part of one side was still under construction. Little cranes and scaffolding covered it all over.</p>

<p>“It’s amazing,” Hermione said.</p>

<p>Daphne agreed, but decided to dig anyway. “What’s amazing about it?”</p>

<p>Hermione glanced towards her parents, who’d wandered off in the direction of the Granger plot of land. She turned back and lowered her voice. “That our lord can make things like this <em>happen</em>.”</p>

<p>Daphne nodded. Yes, that certainly was the most impressive thing about all this. Slytherin Manor wasn’t<em> much</em> bigger than Greengrass Manor, but it hadn’t been her parents who’d build Greengrass Manor. Greengrass Manor had been built over four hundred years ago. Standing here felt like standing at the start of something far larger than just herself. The manor was Harry’s stake in the ground. A statement that here he was, and here he’d stay, regardless of what anyone else in the Wizarding World might do or want.</p>

<p>The Grangers and Clare soon returned and Floating-Interest led them up to the manor proper, saying that they had, “sent the house elves off for the rest of the day.”</p>

<p>They made there way past a small clearing of yellow daffodil-like flowers that all closed the moment they got near and opened up again as they passed. They reached the top of the hill, and, as they made their way across the front lawn, saw a scowling young goblin grappling with a whomping willow sapling in a massive flower pot. A sea of flower pots surrounded them, all apparently ready for planting. Many of the other plants seemed to be egging the young whomping willow on. The goblin spotted them as they passed, gave Floating-Interest a sudden, enthusiastic wave, and was rewarded with a branch whip to the head.</p>

<p>They trooped up the wide circular stairs to the large double-story front doors. Floating-Interest opened the smaller door set into the large doors and they walked through a reception room, through another set of large doors, and into a huge open circular space with a wide staircase at the far end and a balcony that ran all the way around the second floor overhang. Daphne could already hear the ballroom music and see the hundred-odd wizards and witches watching the dancers from their lofty seats — and one day, one of those dancers would be her — with Harry.</p>

<p>Floating-Interest led them through the many rooms of the manor — sitting rooms, kitchens, dining rooms, even the house-elf quarters, where everything was in miniature, from the doors to the windows, and they had to crouch to get through, the Grangers and Clare more so than she and Hermione.</p>

<p>They saw the workshop, the offices, and even the gym, which was notable as being the only room in the Manor that was already furnished. Daphne didn’t know how even half the iron structures were <em>used</em>, but the iron weights laying all around gave her enough of a clue of what they were <em>for</em>. In one corner, a goblin lay flat on his back on a bench, pushing a bar with iron plates attached to it up and down, making obscenely loud grunting sounds while doing so.</p>

<p>Floating-Interest smiled a wry, seductive smile, one pointy tooth jutting out over her lip-stick red lips. “The boys can’t help but try to impress.”</p>

<p>They backed back out into the long corridor that circled the ballroom, and Hermione actually let out a little squeal when Floating-Interest opened the next set of set of doors and declared the large empty space beyond to be ‘the library.’</p>

<p>The private quarters on the top floor weren’t yet finished, so instead, Floating-Interest showed Hermione and Daphne to the basement and then left with her parents and Clare to see to the unpacking of the test-run goods from the submarine van. The basement was a wide open floor interspersed by the occasional mighty stone pillar.</p>

<p>“This wasn’t on the plans,” Hermione whispered gazing around the huge, cavernous space. Her voice reverberated back at her. “What are we going to do with all this?”</p>

<p>Daphne shrugged. “The plans had to be filed with the ministry. Our lord said <em>this</em> was for, ‘creative expansion’ — whatever that means.”</p>

<p>“Stockpiling room?” Hermione asked. “Duelling room? Ritual room?”</p>

<p>Daphne shrugged again. “No idea. Whatever it is, it can’t be too expensive. The six-hundred galleons from the Nimbus contract is a lot of money, but it doesn’t come close to the eighty-<em>thousand</em> galleons that we still owe for this (£4,000,000).” Daphne turned to her friend, who was now busy nibbling on her bottom lip, and smiled. “Our lord will be back soon. I’m sure he’s come up with <em>something</em>.”</p>

<p style="text-align: center;">—End of Chapter Thirty-four —</p>
