Chapter 35 - Interlude - Blood Money and Blood Magic

<p>[Five weeks ago, at the start of summer break.]</p>

<p>The Hogwarts Express had pulled into the station. Harry was saying his final goodbyes.</p>

<p>“Stay safe, Harry,” Hermione said.</p>

<p>Daphne nodded too. “We’ll miss you.”</p>

<p>Harry smiled back at Daphne. “I know. I’ll make sure to keep in contact when I can, but I <em>am</em> going to be really busy.” He looked around quickly before continuing. “Because — let’s face it — I’ve got some serious pocket money to make this summer.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Way on the far side of the platform, doing his best not to be seen doing so, Lucius Malfoy watched and observed as Harry Potter left Platform 9 3/4.</p>

<p>“Greetings, Father — Mother.”</p>

<p>Lucius tore his gaze away, turned, and nodded. “Draco.”</p>

<p>“You’ve grown.” Narcissa smiled. “Come — let’s be out of this mob.”</p>

<p>They flooed home and Narcissa proceeded to quiz Draco during dinner. His son had ranked sixth in his year. Not bad by some standards, but unacceptable for a Malfoy. The fact that Harry Potter could well be one of Lord Voldemort’s horcruxes did mitigate circumstances somewhat, but scoring below thevassal girl, of all people, was just disgraceful.</p>

<p>After dinner, Lucius made himself ready to head out again.</p>

<p>“Going out, my lord?”</p>

<p>Narcissa stood in his bedroom doorway, hands on her hips.</p>

<p>“I am,” he said. “Dumbledore’s eviction from Hogwarts presents us with a timely opportunity. I need to set the wheels in motion.”</p>

<p>Narcissa’s eyes widened slightly. “You don’t mean…?”</p>

<p>Lucius adjusted the cuffs of his robes and strolled over to the door, kissing his wife on the cheek as he passed. “Yes, Narcissa, I do.”</p>

<p>The sun had yet to set on Knockturn Alley. Late enough for the daily shoppers to have fled, but early enough for the night-time wanderers to still be inside. The street was deserted. Lucius knocked a pattern on a nondescript door and waited. The door opened and he was quickly ushered inside. A half-dozen moving wizarding photos lined the other-wise drab walls, all filled with smiling wizards and witches, and all with comments written beneath like, ‘Quick, easy, and painless, the Wizarding World is where I want to be,’ and, ‘I never fit into the Muggle World, and now I don’t have to.’</p>

<p>“Lord Malfoy,” the man who’d ushered him inside sat behind a desk.</p>

<p>“Mister Jeremy Bemthan.” Lucius sat down in one of the plush armchairs. “I have need of your services.”</p>

<p>Mister Bemthan raised an eyebrow. “I was not aware you were in <em>that</em> market.” He was a large man, round and bald — and obviously bald by choice — no wizard was bald unless he wanted to be.</p>

<p>“I am not in that market.” Lucius couldn’t help let out a slight sneer. “But nevertheless, I find myself in need.”</p>

<p>Mister Bemthan took out a parchment. “Go on.”</p>

<p>“I need a girl.”</p>

<p>Mister Bemthan started scribbling.</p>

<p>“Muggleborn, obviously,” Lucius continued. “She needs to be fit, healthy, of fair features, eleven years old, magically powerful — that she be a virgin goes without saying — and she must to be obtained legally.”</p>

<p>Mister Bemthan held up a hand. “Lord Malfoy — going to have to stop you there. You’ll be lucky if there’s even one body that fits this description in the whole country, and the ministry won’t—”</p>

<p>“—I expect you to look further afield. In fact, I require it.”</p>

<p>Mister Bemthan smiled grimly. “That turns the job from impossible to merely extremely expensive. Getting them when they’re adults is relatively easy. Tidying up all the loose ends when they’re this young requires a lot more work.”</p>

<p>Lucius looked away. “I also require memory charms for all involved parties, with signed agreements not to tamper with them.” He looked back. “Including of yourself.”</p>

<p>Mister Bemthan nodded slowly. “We could do all that — it would take time though.”</p>

<p>“You have one month.”</p>

<p>Mister Bemthan sucked in his breath before letting it out. He closed his eyes and opened them again.“ It will be close, and I still can <em>not</em> promise results — not for something like this — but we can give it our best shot. Five-thousand galleons — half up front and half on delivery (£250,000).”</p>

<p>On hearing that, Lucius actually had to take a deep, calming breath of his own. Five-thousand galleons was nearly a quarter of his total yearly income before expenses, donations, or anything, but the alternative was <em>far</em> too dangerous. He gripped his cane in tight fingers. “Do it.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>[three weeks ago]</p>

<p>In the woods surrounding Potter Manor, a stag and a grim raced through the tress — one flowing with tall, graceful strides, the other powering forward with shorter, faster ones.</p>

<p>The two animals reached a clearing. The grim darted in front of the stag and barked. The stag screeched to a halt and lowered its massive, antlered head, one hoofed foot digging aggressively at the ground.</p>

<p>Somewhere up in the trees, a bird tweeted.</p>

<p>Then, suddenly, the two animals transformed, wands came forward and spells flew. For a hundred heartbeats, the two wizards traded magic before Lord James Potter collapsed to one knee, panting furiously, one hand held up, palm forward. “Give!”</p>

<p>Lord Sirius Black lowered his wand and grinned. “You’re losing it, Prongs.”</p>

<p>“Rubbish!” James glared at his auror uniformed friend. “You’ve just got better. <em>Some</em> of us don’t get the luxury of training half of every day.”</p>

<p>Sirius roared with laughter. “Still making excuses, eh?”</p>

<p>“Excuses?! You should be thanking me on bended knee for saving your lazy arse.” James got to his feet and brushed an imaginary speck of dust from his robes. “I bet if it were <em>you</em> playing lords and ladies in the Wizengamot, you’d tub out before you could say, ‘finger-food.’”</p>

<p>Sirius strolled over to his friend. “And if it were you playing auror, you’d get your stubborn arse fired before you could even put on your badge.” They started walking together through the woods back the way they came.</p>

<p>“How’s your muggle-wizard drug smuggler hunt going?” James asked.</p>

<p>Sirius grunted. “Dead. Almost got him several times since summer started. But every time, he somehow managed to slip away. Hasn’t been a peep from him in over a month. I think he’s given up.”</p>

<p>“Surely that’s a good thing.”</p>

<p>Sirius shrugged. “I don’t like it. Who knows what trouble the slippery bugger might be up to. Not that I’m complaining <em>too</em> much.” His face darkened. “You wouldn’t <em>believe</em> the things Shacklebolt sees in some of those muggle’s minds — they make our criminals look cuddly.”</p>

<p>“What about Harry?”</p>

<p>“No change. Amelia says we’ve done all we can do and now it’s a waiting game.”</p>

<p>“So, you haven’t heard <em>anything</em>?”</p>

<p>“You mean from Harry directly?” Sirius shook his head. “Apart from for Alex’s birthday party, no.”</p>

<p>James scowled and ran his hand through his hair. “It’s just so frustrating! Who <em>does</em> that man think he is!?”</p>

<p>Sirius said nothing.</p>

<p>“I mean, does he think that Harry is <em>his </em>son?”</p>

<p>Sirius still said nothing.</p>

<p>“Padfoot, say something!”</p>

<p>Sirius sighed. “Prongs, I’m really not sure <em>what</em> to think.”</p>

<p>James’s shoulders slumped. “I just… I really wish I knew where he is, and that he’s not in any trouble.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>[August 5, 1992 — the present]</p>

<p>Gunfire roared all around him. Harry ducked behind a wall, ignoring the semi-automatic weaponry rounds pinging off the cheap concrete, and concentrated on not being seen as he re-cast his projectile shield. He heard shouting from up the mud track and from inside the compound behind him. He ducked around the wall, caught a glance of his target, and, suddenly, where before there had been air, now there was a large bullet, hanging in mid air and gently spinning an inch away from his face.</p>

<p>Harry slapped the projectile away, still ignoring the shouting, and launched himself in the direction of his fleeing target. More bullets zipped towards him, but all stopped dead before the could reach him.</p>

<p>His target reached a parked pick-up truck with a machine gun mounted on the back and, screaming at the driver, jumped in.</p>

<p>The pick-up skidded on the muddy path and slowly started accelerating away.</p>

<p>Harry scowled, saw the building some hundred metres in front of the escaping truck, fixed it into his mind, threw himself behind a nearby bush, disillusioned himself, and disappeared with a loud crack sound, appearing in front of the building, just soon enough for him to cancel his disillusionment, and take a literal flying leap onto the bonnet of the now passing truck, landing hard enough to dent the already badly damaged metal work.</p>

<p>The shouting driver swerved, clearly trying to dislodge him.</p>

<p>The target screamed and started reaching for something in his jacket, but it was too late. The car careened off the sorry excuse for a road and straight into one of many thorny bushes. Harry swung around the side and knocked the driver out with what to anyone else would look like a punch but had in fact been a pointblank range wandless stunner.</p>

<p>The target scrambled out of the pick-up truck, pointed his hand-gun over the bonnet, and fired shot after shot. One would have actually hit, if it hadn’t been for the shield, but the target didn’t seem to notice this and soon ran out of shots.</p>

<p>Harry vaulted over the bonnet and punched him. It wasn’t the most wizardly thing to do, but he was uncharacteristically pissed off.</p>

<p>The man fell to the ground, shook his head to clear it, and snarled up at him. “Why you do this? We had a <em>deal</em>! Your Russian rockets for—”</p>

<p>Harry punched him again, cutting him off. “Your war is with a military! With helicopters! Not with whole villages of random people!”</p>

<p>The man spat blood on the ground. “You know nothing! If we do not kill them, they will kill us first! They’ve done it before! Our families will all die!”</p>

<p>“The <em>women</em>?”</p>

<p>The man sneered. “They get no less than they are worth.”</p>

<p>The two men stared hatefully at each other. The faint sounds of shouting were starting to get closer. The muggle glared defiantly up at him. “You will <em>never</em> get out of here alive.”</p>

<p>Harry smiled a smile with zero humour. “We’ll see.” He stepped towards the muggle laying in the mud, gripped his arm, and apparated the two of them into a plush looking office.</p>

<p>The man looked around wildly. “My off— how? What?” He looked at Harry in horror. “Oh god, you’re one of <em>them</em>.”</p>

<p>What? Alarm bells rang in Harry’s mind.</p>

<p>The man stumbled backwards and fell backwards on the floor again. “You shouldn’t be here — they <em>said</em> — No! Please. My son. Don’t hurt my—” Harry stared as the man devolved into incoherent whimpering, all defiance gone.</p>

<p>“—I’ll do anything, just don’t—”</p>

<p>Harry stamped on the man’s chest, causing him to let out a large omff sound. “—I’m not going to hurt your son, you fuck. Who is <em>they</em>!?”</p>

<p>The man stilled. His voice came out, much quieter. “I can’t. I mustn’t.”</p>

<p>Oh, fuck this. Harry locked gaze with the man and dove right in — or rather, he tried. To his utter shock, his legilimency probe bounced off a light shield that flashed into being. Magic whirled around the man’s finger — a ring — just like the one he’d given the Grangers.</p>

<p>The man looked at his finger in horror. “Oh, god. You’ve done it now. He’ll know. He’ll come.”</p>

<p>Harry groaned. “Who is <em>he</em>?!”</p>

<p>The man continued to babble nonsense.</p>

<p>Harry reached down and grabbed the muggle warlord’s head in both hands. He didn’t have time for this. What he was about to do wasn’t going to be pretty, but if there was anyone who was worth bloodying his hands for the first time in his existence, it was this sick bastard.</p>

<p>Harry’s magic poured out of him, overwhelmed the defences on the ring, and ripped into the muggle’s vulnerable mind like a combine-harvester in a field of mouldy wheat.</p>

<p>He saw a robed figure — tall and terrible, murdering the muggle warlord’s wife with a single point of his hand and a curse.</p>

<p>He saw the frightened muggle warlord giving out orders that anyone with ‘demonic’ abilities was to be rounded up.</p>

<p>He saw the murderous robed figure taking the clearly magic children away, never to be seen again.</p>

<p>He saw the warlord’s own son display accidental magic.</p>

<p>He saw the warlord desperately try to get the child to suppress the <em>demon</em> inside him, saw him try everything from exorcism to self-flagellation.</p>

<p>He saw the warlord’s efforts work. After little over year, the boy never displayed magic again.</p>

<p>Harry pulled back and watched the man collapse down onto the floor, eyes white, drool slipping from his mouth, arms and legs limp, mind totally scrambled, not quite dead, but close enough to make no difference.</p>

<p>“Why?”</p>

<p>Harry stilled, then turned slowly. A boy stood in the office doorway. He couldn’t be much older than eight, but he wore the military uniform all these people wore. His hair was close-cropped, his hands trembled, and his eyes were wide. It was the son he’d just seen in the man’s memories.</p>

<p>Ugh. Harry had no clue what to say. He needed to finish up this deal and get out, no matter just how fucked up it had got. Angry shouts filtered into the room from the compound outside.</p>

<p>“Why?” the boy repeated.</p>

<p>Harry stood up from where he’d been kneeling over the braindead muggle. “I’m sorry, kid. Your father was not a nice man.” His payment would probably be in a safe somewhere, if he could just find it.</p>

<p>The boy started crying.</p>

<p>Harry sighed and pointed his wand at the boy. It was better this way. “Obliviate.”</p>

<p>The spell vanished an inch away from the boy. Harry frowned. What the hell? That hadn’t been a ring shield. He took a cautious step forward.</p>

<p>The rumbling of a large truck outside stopped as the driver cut the engine.</p>

<p>“I’ll kill you.” The boy’s words came out barely more than a whisper.</p>

<p>Harry narrowed his eyes, looking over the child for a clue, a hint, <em>anything</em>, but there was nothing — it was like his spell had connected with some kind of magical event horizon.</p>

<p>“I’ll kill you.” The words were louder this time. The boy’s crying had stopped.</p>

<p>Harry cast a cautionary shield spell.</p>

<p>The boy screamed, “I’ll kill you!” Magic flared — more magic than Harry had ever felt from a single being.</p>

<p>Harry stepped backwards. A memory flashed through his head — a memory of a young Tom Riddle reading in the Hogwarts library, self righteousness over his own unrestrained behaviour at the orphanage roaring through him like a furnace.</p>

<p>‘<em>And great care must be taken not to encourage magical children to suppress their magic, else a magical parasite will form and feed on that suppressed magic. The parasite will grow and grow, eating away at the child’s sanity, causing mayhem equal to the most powerful magical creatures, until eventually the child dies, the parasite following soon after.’</em></p>

<p>Harry took another step back.</p>

<p>The boy’s head whipped up, his body disintegrated, and where before there had been a human child, now there was a huge white cloud of enraged destruction plowing straight through the office, ripping through furniture and files, and aimed straight at him.</p>

<p>Obscurial.</p>

<p>Harry apparated straight out of the room, into the courtyard outside, and right into the middle of a convoy of surprised muggles all carrying heavy weaponry.</p>

<p>“It’s him!” one of them yelled, but before they could bring their semi-automatic rifles to bear, the office window above blew open in a rain of glass and concrete and the obscurial descended on them.</p>

<p>Harry made to apparate away. The last thing he saw before doing so, was a man unlucky enough to be standing nearest the explosion, grabbed by the rampaging parasite and flung sideways with such force that the crack of his neck was heard all around the compound.</p>

<p>Harry appeared in a field several miles away. He could still hear the sounds of screaming. Not far enough. He apparated again, and again, and again, until he was all the way up in the mountains in a clearing overlooking the forest and plains of the surrounding countryside. He leaned on his knees and breathed deeply. Apparating so many times in quick succession certainly took it out of him. He straitened up. Okay, now he would wait until the obscurial had finished its rampage so he could go back and grab his payment. Despite the monumentally fucked up way things had turned out, he <em>had</em> delivered on his end of the deal, so the payment he took from these fucks shouldn’t show up as stolen to Gringotts anti-theft charms.</p>

<p>He sat down cross-legged on the ground, and waited, letting the small build-up of magical toxins seep out of him.</p>

<p>Then, suddenly, Harry’s skin tingled, minute traces of magical intent caressing his senses, far too subtle for most wizards to detect, but which might as well have been a warning siren to him. Harry frowned. It seemed that, despite not arriving here long ago, he wasn’t alone. The faint brush of a weak anti-apparition ward washed over him. Mmmmm… and this didn’t <em>feel</em> like an auror sting, Merlin knew he’d been in enough of <em>them</em> in the last few weeks…</p>

<p>Harry stood, pointed his disguised wand at the rocky, uneven ground and gave it a twirl, conjuring a pair of slightly modified versions of his customary arm chair, each facing the other. He sat down in one, crossed one leg across the over, and continued waiting.</p>

<p>Not much later, a man emerged from the trees, dark-skinned, tall, bald, reasonable young, maybe in his mid-twenties, and dressed in bright flowing robes of many colours — bright oranges and yellows, but also purples, reds, and blues — they all overlapped in sharp geometric shapes, a broken stain-glass window of silk and magic. The man casually wandered to the empty chair and sat down.</p>

<p>Harry remembered the muggle warlord looking at his ring finger in absolute terror.<em> “Oh, god. You’ve done it now,”</em> the man had said.<em> “He’ll know. He’ll come.”</em></p>

<p>The two men watched each other.</p>

<p>Harry felt a brush against his occlumency barriers. He firmly pushed it away.</p>

<p>Eventually the other man spoke. “You are in my territory.”</p>

<p>Harry pursued his lips. “My apologies. I did not realise. I will finish my business here and depart henceforth.”</p>

<p>The man snorted. “Who are you?”</p>

<p>“My name is No One.”</p>

<p>The man rolled his eyes before fixing Harry with his gaze again. “You killed one of my pawns.”</p>

<p>“He was an evil man,” Harry replied. “He butchered whole villages of people who had done him no wrong and who were no more guilty than the next random group.”</p>

<p>The man inclined his head. “Unfortunate, but their value was not high enough to warrant my intervention.”</p>

<p>Harry twitched. “He cut off the arms of a muggleborn boy when he raided his village.”</p>

<p>The man suddenly looked more interested. “Where is this boy?”</p>

<p>“In a safe place.”</p>

<p>The man huffed. “Well, I suppose he wouldn’t be very useful without his arms anyway, but that doesn’t change the fact that you killed one of my more useful muggles. For that I am going to have to have you put down.” He actually sounded sorrowful.</p>

<p>Harry raised an eyebrow. “A bold statement to make, mister…?”</p>

<p>“Tebola, Gray Lord Tebola.”</p>

<p>Harry’s mind stalled for a second before re-starting. “<em>Gray</em> Lord?”</p>

<p>“As in Gray Lord Slytherin.” Tebola stared off into the distance, hand under his chin. “<em>That</em> man has the right idea. Muggleborns have a valuable place in our world, if only we can get them past the stupid notions their parents feed them.” Tebola turned back to Harry. “You’re British — I can tell. You don’t know him, do you?”</p>

<p>“No.”</p>

<p>Tebola sighed. “Shame.” He snapped his fingers.</p>

<p>Harry heard rustling in the bushes around him.</p>

<p>Behind Tebola, a girl stepped out of the undergrowth. She couldn’t be much older than thirteen. Harry could feel two others behind him. It wasn’t difficult. Killing intent had a very distinct feeling.</p>

<p>Harry frowned. “Uagadou students?”</p>

<p>Tebola nodded. “Muggleborn orphans of the civil war. Everything went to hell when the Soviets pulled out, but there <em>have</em> been benefits — magicals united — helping and supporting each other — looking <em>out</em> for each other.”</p>

<p>Harry looked at the girl standing behind Tebola. Her eyes shone with the zealous fervour of a fighter with a cause to die for.</p>

<p>Tebola slowly stood up. “It’s been nice having this conversation, Mister No One.” He stepped away. “Kill him.”</p>

<p>Harry felt three killing curses shoot towards him and saw the sickly green light leap from the girl’s <em>bare hand</em>. He moved, banishing the chair into the path of one, dodging a second, and bringing his wand up just in time to swat away the third.</p>

<p>A wall of rock shouldered its way out of the ground and split him off from the two assailants behind him, leaving only him, the girl, and Tebola, who’s eyes now betrayed his shock, even as he reached for his own wand, not quite managing it before Harry slammed a wall of raw banishing magic into the girl, so powerful she was thrown backwards into a tree and instantly knocked unconscious.</p>

<p>Unseen by Tebola, but felt and commanded by Harry, two massive rock snakes ripped themselves from the wall of rock behind him, and started on his two other assailants.</p>

<p>Harry and Tebola traded spells, each trying to get a feel for the other. It quickly became obvious that the Lord Slytherin copy cat was strong, quick, and talented, all things considering.</p>

<p>A scream behind him signalled that his rock snakes had finished off the other two unfortunate muggleborns and, moments later, the snakes formed themselves into a huge rock lion, leaped up onto the wall, roared, and launched itself towards Tebola, only to be met halfway by a huge earth golem. The two constructs grappled each other, while Harry and Tebola, circled, cast, dodged, shielded, conjured, transfigured, charmed, and swatted. Soon enough, Harry’s flame whip clipped the earth golem, severing it’s right arm clean off and giving his rock lion the purchase it needed to start systematically pounding it into dust.</p>

<p>Tebola growled and, before Harry could grasp what was happening, turned into a huge wild boar with ash-coloured fur, massive spiked tusks, and vicious looking hoofs. The beast vanished from sight and charged at Harry, far faster than he’d expect, forcing him to physically shield. Not even one second later the huge creature hit the shield with a loud dong sound. Harry felt the shield vibrate and only just hold. He could feel the magic in front of him, even if he couldn’t see anything. It wasn’t that Tebola was an Animagus — that wasn’t surprising for a graduate of Uagadu. No, Tebola was a <em>magical</em> animagus — a tebo — an XXXX magical boar that could turn invisible at will and had high magic and physical resistance. That <em>was</em> impressive.</p>

<p>The tebo leaped back and made another charge. Harry sent his flame-whip hurtling towards the beast, only to watch in resignation as the cord of magical fire had all the stopping power of a lover’s caress. He shielded again just as the invisible beast arrived and was rewarded again with a loud dong that vibrated through the shield, up through his wand, and even into his teeth.</p>

<p>Animal and wizard duelled like bull and matador. Tebola’s skin proved to be just as magically resistant as reputed for a tebo and everything Harry threw at it just bounced off. He tried trapping him in a transfigured spike pit, but Tebola could clearly still sense magic, even in his animal form, and just avoided those areas. Eventually, it took a combination of four separately transfigured rock lions, each one a quarter of the size of his original, and close to a dozen conjured flying swords to pin the pig down.</p>

<p>Sensing he was trapped, Tebola seemed to panic, transformed back into his human form and tried to apparate out, only to bounce off the muggle born trio’s apparition ward. For Harry, that was <em>more</em> than enough of an opening. Seconds later, Tebola was wandless, tied up, and hanging upside-down with a dozen floating swords pointing straight at him, ready to impale him should he try and transform again.</p>

<p>Tebola was breathing hard and fast in little gasps and pants.</p>

<p>Harry smiled grimly. Not bad at all. Nowhere near on par with Dumbledore or Voldemort, but he certainly wouldn’t have let any of the girls go up against him, even all together. That magical animagus form had been a nasty surprise. He pointed his wand at the bound, would-be Gray Lord.</p>

<p>“Gold!” Tebola screamed.</p>

<p>Harry stilled, wand mere inches from the man’s face.</p>

<p>“Gold!” Tebola shouted again. “The muggles around here make all make their money from diamonds! They pay me in exchange for protection! It’s not stolen! All legal!”</p>

<p>Harry’s mind raced. He already had a good chunk of Gringotts legal payment waiting for him back at the compound, but this could be the opportunity he needed to go one step further. “What would I sell you?” he asked. “Payment in exchange for the owner’s life still counts as stealing.”</p>

<p>“Weapons!” the man shouted. “You’re an arms dealer, right? Sell me muggle weapons and I’ll make you one of the richest wizards on Earth!”</p>

<p>Harry grimaced. Every neurone in his brain told him that selling muggle weapons to a rising Gray Lord was up there with splitting your soul six times on the bad-fucking-idea scale. “No, I don’t think that’s going to work.”</p>

<p>“I’ll buy something else! What else do you sell?”</p>

<p>Harry thought back to his stalled drug dealing business. “Well…”</p>

<p>Then, suddenly, his skin tingled. He frowned. “Did you feel that?”</p>

<p>The still upside down wizard quickly shook his head.</p>

<p>Whatever it was, it was getting closer, and fast. Harry turned around, eyes narrowed. Birds cried and flew up in the middle distance. He could hear sounds of crashing and ripping, starting faint, but quickly getting louder.</p>

<p>Harry’s eyes widened. “Oh, sh—”</p>

<p>The obscurial burst into the clearing, dragging enough broken wood behind it to damn a river.</p>

<p>“—it!” He dove to the side, ignoring Tebola’s screams as the obscurial rammed straight through his conjured blades, snatched Tebola up and carried him, still screaming, up into the air. Harry ran as fast as he could to get to the perimeter of the now fading apparition ward. Moment’s later he was through. The obscurial roared. He heard a loud crack. Tebola appeared at his side, one arm bloody where a conjured sword had pierced it, a second wand in his off hand, fear replaced with rage. “Avada Kedavra!”</p>

<p>Harry apparated away with a loud crack before the spell reached him. Tebola appeared beside him again, not bothering with the killing curse this time, just peppering him with low level curses, forcing him to dodge, shield, and swat while the obscurial continued to bear down on the two duelling wizards — a runaway freight train of pure destruction, blasting apart trees and ripping them aside like so much tissue paper. Harry and Tebola were forced to stop trading magic several times, just to focus on outrunning it.</p>

<p>Halfway back to the muggle compound, Tebola shouted something Harry didn’t catch, but which sounded awfully like a cry of triumph, and apparated away from the fight. Harry didn’t see him again in the whole subsequent trip, made much faster now he didn’t have to save so much magic to defend himself with.</p>

<p>Harry appeared in the warlord’s office, right in the middle of two soldiers having a loud argument with each other. Shocked, they pulled guns on him, and got two chest stunners in return. Harry then proceeded to demolish the room until he found a safe which he opened with an alohomora, grabbed the small bag within, opened it to find a small pile of raw diamonds that looked like it would cover his payment, and apparated into the courtyard outside the building, just as the obscurial caught up with him again.</p>

<p>Harry apparated away from the rampaging parasite just as it was about to plough through him, and appeared right behind one of the Russian ground to air missile systems he’d originally delivered to the warlord, not even twenty-four hours ago. He aimed it at the fast approaching whirlwind of destruction and fired. There was a massive explosion and a boy fell out of the sky, landing on the ground with a loud thump.</p>

<p>Harry moved fast. Sprinting over to the downed boy, he pulled out his shrunk trunk, expanded it, opened it up, and climbed inside.</p>

<p>Another boy with no arms looked up at him with wide eyes from where he sat on the couch. “We there?”</p>

<p>Harry reached into a desk draw and took out a vial of living death. “Not yet. Eventually. I promise.”</p>

<p>The boy nodded.</p>

<p>Harry quickly made his way back out of the trunk and forced the draught of living death into the obscurial boy’s mouth. He then carried him into the trunk. “Get up!”</p>

<p>The armless boy jumped to his feet as Harry lay the obscurial boy down on the couch. “Don’t touch him,” he said. “He needs to rest.”</p>

<p>The armless boy nodded, Harry exited the trunk again, and was just finishing up closing and pocketing the trunk, when a group of soldiers appeared and started taking pot shots. This wouldn’t have been a problem if, moments later, two African aurors hadn’t appeared in the middle of the street accompanied by a victorious looking Tebola.</p>

<p>“Surrender!” One of the aurors shouted in a thick accent, shielding against the rain of gunfire now pouring down on them all. “You are under arrest for murder, violations of the International Statute of Secrecy, and illegal muggle-wizard trade!”</p>

<p>Harry groaned and apparated several miles away, landing at a respectable jog, but getting only a few steps before the three wizards predictably apparated nearby, forcing him to start swatting away stunning and disarming spells. He apparated again, and again they followed. His three assailants worked together to constantly keep him busy. He’d never get the time to put on his cloak. He couldn’t reveal that he could fly. Uagadu was almost five-thousand kilometres away. This was going to be a <em>long</em> chase.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>When someone says the word ‘dungeon’ it might be easy to imagine a sprawling labyrinth of rooms and passageways — a place in which an unfamiliar soul could easily lose themselves, first in the darkness, and then to some unknown monster that prowls the maze. The dungeon below Malfoy Manor was not like that. It was instead, a single bare room with a heavy iron door, wedged in between the ritual room and the wine cellar.</p>

<p>Lord Lucius Malfoy pulled open the heavy door, stepped inside, withdrew a shrunk trunk from his pocket, placed it on the floor, and expanded it.</p>

<p>Lady Narcissa Malfoy stepped in behind her husband. “And they made <em>sure</em> that everything was legal?”</p>

<p>Lucius tapped on the top of the trunk’s lid. “As legal as they could make it.”</p>

<p>Narcissa sighed. “I still don’t like it.”</p>

<p>“We have done everything we can,” Lucius said. “Be grateful we wrangled as many concessions as we were able to.”</p>

<p>Narcissa nodded reluctantly.</p>

<p>Lucius gripped the trunk’s lid, opened it, and peered inside. A small trembling girl was hunched in a corner, dressed in muggle jeans and a thick coat made of some plastic-like material. She looked up, tear stains covering her otherwise aesthetically pleasing face. Blond hair and blue eyes — perfect.</p>

<p>“W-Where a-a-am I?” the girl sniffed. “What are you—”</p>

<p>Lucius shot a silencing spell at her.</p>

<p>She gripped at her throat, eyes wide in terror and tried to burrow herself deeper into the corner.</p>

<p>He turned to his wife. “All yours, Narcissa” he said, before leaving.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Julia Olsson tried to burrow further into the corner, clutching her throat when noise refused to emerge, fear flooding through her. These people were just like the others. The ones that could do magic. She didn’t know how long she’d been trapped in this empty basement room, but it felt like months. She had no clock, no way of telling the time. It might have been months for all she knew. Different people had come down to check on her — to give her food and water and clean out the pot that served duty as a toilet. At first they’d all spoken Swedish, but soon a different group of people were seeing to her, and those people only spoke English. She knew she couldn’t have been here for years because her finger nails hadn’t grown all that long. She hadn’t changed her clothes even once since being forced in here. Who were these people! What did they want with her? Her parents and friends must be worried sick. She wasn’t sure where she was, but Stockholm couldn’t be far away — It hadn’t been <em>that</em> long between being grabbed from her bedroom and being shoved in here.</p>

<p>The rich looking man left and an equally well-off looking woman, apparently called Narcissa, replaced him on the other side of the square hole in the roof. “Get up,” she said. “Out here, now.”</p>

<p>Julia didn’t move.</p>

<p>The woman frowned and pointed her stick at her. Julia flinched back. Those sticks scared her. She felt a force pull on her whole body and flailed around in useless panic, heart beating wildly, as she was unwillingly hauled through the air, towards the roof, up through the trap door, and into a tiny room, bare, but for a small cot chained to a side of a wall. She was dumped on the floor in a limp heap.</p>

<p>“You stink,” the woman declared, looking her over and scrunching her nose up in disgust. “Get out of those horrible things. Now!”</p>

<p>Julia didn’t move.</p>

<p>The woman flicked the stick and Julia felt something half-way between a slap and a punch slam into the side of her face, sending her backwards onto the floor. Pain flooded through her face.</p>

<p>“When I tell you to do something, you do it! Understand?” the woman snarled.</p>

<p>Julia nodded quickly, tears forming and running down her now puffy cheeks. She quickly discarded the coat, and then slowly peeled off the rest of the cold and clammy clothes that hadn’t been washed in god knew how long. What was going to happen to her? She was soon standing in front of the woman, totally naked, head held low, sniffing and sobbing. Her question was quickly answered when the woman pointed her stick at her and cold water gashed from the end, hitting her body and making her gasp in shock.</p>

<p>The woman threw her a brush. “Get scrubbing! Quickly now!”</p>

<p>Julia complied. Eventually she’d been cleaned to the woman’s satisfaction and dried with another flick of the stick. The woman threw her a pair of clean underwear and a large pillowcase with holes in it for her head and arms. She put them on—not daring to comment about the strange choice in clothing—and sat on the cot with her hands wringing in her lap.</p>

<p>“You will be quiet when I or my husband are not here, understand?”</p>

<p>Julia nodded.</p>

<p>“You will not ask the servants any questions, understand?”</p>

<p>Julia nodded again. Then her eyes widened in shock when the woman tapped the trunk that led to the basement, shrunk it to the size of a matchbox, and put it in her pocket, leaving no trace in the floor of where the basement had been.</p>

<p>The woman then turned, left, and slammed the large iron door behind her, plunging her into darkness. Julia swallowed. That basement room she’d been in had been a magic box. Was she even still in Sweden? Was she even still on Earth? Julia drew her knees up to her chest and quietly sobbed all over her pillowcase.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Magical exhaustion. The build up of toxins in the body, resulting in lack of focus, tiredness, lethargy, and one hell of a hangover for those not sensible enough to not drink enough fluids. Despite having gone nuclear twice in the past, Harry could never remember feeling so <em>drained</em>.</p>

<p>After an epic ten hours chase, he’d finally managed to shake his pursuers with only one thousand kilometres to go before he got to Uagadou. Thank Merlin.</p>

<p>By the time he actually arrived, he could barley walk in a straight line. Uagadou was a clay baked monument to wizarding learning, standing proud on top of a tree covered mountain shrouded in perpetual mist. Each individual brick was charmed against physical force, magical force, scrying, map making, damp, fire, lightning, and many, many more things beside.</p>

<p>He half stumbled up to a massive gong just outside the fearsome wards and struck it once with an arm that felt all together too heavy.</p>

<p>Several minutes later, a pair of African woman dressed in colourful robes, not dissimilar to the style that Tebola had worn, descended the path from the school.</p>

<p>“Can we help you, sir?” one woman asked.</p>

<p>“I have an orphan in distress for you,” he answered.</p>

<p>Uagadou’s great hall wasn’t anything like Hogwart’s. While Hogwarts had four tables for their four houses, Uagadou had just one table — a table that wrapped around the edge of the massive circular space before spiralling in to the centre in ever tighter and tighter coils. Unlike Hogwarts in summer, this hall was bustling.</p>

<p>The schoolmistress sat in the centre of the spiral. Getting to the centre took ages.</p>

<p>“His name is Jengo,” Harry said to the old woman when he finally arrived, forcing down every instinct that was screaming at him to find a bed and not leave it for a month. “I found him on one of my journeys. He had the misfortune of having both his arms cut off.”</p>

<p>The old woman’s eyes dimmed. “I am sorry. We cannot take someone with such a disability.”</p>

<p>Harry shook his head. “I can fix that problem.”</p>

<p>The old woman fixed him with a suddenly sharp look. “You can?”</p>

<p>“I can.”</p>

<p>The sounds of a hundred students feasting filled the momentary silence between man and woman.</p>

<p>“Show me,” the woman said.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>After crying herself to sleep, Julia woke up, shivering cold, to find some additions had been made to her prison room. A stool by her cot held a small pile of books and a pen, along with a glass of water and a plate of food that could only be called so because snot was green and this was black. There wasn’t any cutlery.</p>

<p>Julia sat up. She hadn’t been starved, but she hadn’t been well fed either. She picked up the plate in trembling hands, scooped up some of the unidentified goop with her hand and fed it into her mouth. She made a face. Revolting. She finished it anyway, accidentally dropping some of the goop onto her pillowcase. She scooped up what little she could, making a smear on the cloth, and ate the tiny extra glob.</p>

<p>She then turned her attention to the glass and downed the whole thing. She put the glass down with a thump and briefly entertained the idea of smashing it to create a weapon, but quickly discarded the notion as incredibly stupid.</p>

<p>With nothing else to do, she picked up the first book in the pile, titled, ‘Wizarding Geography and Territory,’ opened it, and her eyes widened. All the pictures were moving. She checked the rest of the books, pausing only to pick up an empty, thin, black book that fell out of the second-to-last-book in the pile. It seemed all of the books were like the first. She started reading and a whole new world opened up before her. Was this all real? Was this part of what she had fallen into? The people who had kidnapped her. They were wizards?</p>

<p>She looked over to the pile of books again and her eyes landed on the empty, thin black book. Then they landed on the pen. Then back to the book. Well, it was something to do, wasn’t it? Her hands reached out and grasped the empty book in one hand and the pen in the other. She opened the book to the first page, glanced up at the iron door, half expecting the nasty people to barge back in again the moment she defiled one of their things, and wrote, ‘<em>Why me</em>?’</p>

<p>The ink glistened for a moment before fading as though sucked into the page, and was quickly replaced with, <em>’A question many people have asked. Who are you? How did you find me?’</em></p>

<p>Julia stared at the words, hand unmoving, suddenly afraid again.</p>

<p>Eventually the words faded away and a new set replaced them. ‘<em>Don’t be afraid. I’m not going to hurt you. I’m just curious how you found me. It’s been a long time since anyone talked to me.’</em></p>

<p>Julia bit her lip. Held the pen over the page, and wrote, <em>’My name is Julia. I’m being held prisoner! Can you help me?’</em></p>

<p>The book wrote back, ‘<em>I’m sorry, Julia. I’m just a memory stored in a diary. I can’t interact with the outside world. Where are you being held prisoner?’</em></p>

<p>‘<em>I don’t know!’</em> she wrote. ‘<em>I was kidnapped from my home one day and I haven’t seen my mum or dad in ages!’</em> A tear fell on the page and disappeared as quickly as the writing did.</p>

<p>An ink doodle of an older boy appeared, crouching beside an ink doodle of a girl that looked kind of like her. The ink doodle boy wiped away tears from the doodle girl’s face.</p>

<p>Julia couldn’t help but crack a small smile through her still flowing tears.</p>

<p>The doodles vanished and the book wrote, <em>’My name is Tom</em>.<em>’</em></p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>In the Uagadou hospital wing, the schoolmistress stared, stunned, at the silvery arm now affixed to a beaming seventeen year old girl. “What about her animagus training?” she asked.</p>

<p>Behind them, Jengo, the orphan boy Harry had brought with him, was picking things up and putting them down with a pair of the same silvery arms as though he couldn’t believe his eyes.</p>

<p>“It won’t be a problem,” Harry said, leaning against a wall for support and smiling. “The animagus transformation is a full body and full soul affair. These limbs are now as part of their bodies as their heart and lungs.”</p>

<p>“It is incredible,” said the schoolmistress. “I cannot thank you enough.”</p>

<p>Harry was about to reply when there was a pounding of footsteps from just outside and what he assumed was one of the Uagadou teachers burst into the room, wand pointed straight at him.</p>

<p>“Schoolmistress—!”</p>

<p>Moments later, said teacher was wandless and hanging upside-down from the ceiling, arms bound behind his back.</p>

<p>Harry clutched at his suddenly throbbing head.</p>

<p>“What is the meaning of this?” the schoolmistress shouted at the now hanging man. She’d only just got her own wand out.</p>

<p>“Schoolmistress, the aurors are outside!” The hanging man struggled against the ropes. “They’ve surrounded the school and are demanding we hand over this man on charges of murder!”</p>

<p>The schoolmistress looked sharply at Harry.</p>

<p>Harry shrugged. “The muggle responsible for this,” he gestured to Jengo, who was still happily playing with his new arms, “might have pissed me off quite a bit.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>‘<em>And there was this really nice dress that I was really hoping to get daddy to buy me, but I guess it’s gone now.’</em></p>

<p>‘<em>Why would it be gone?’</em></p>

<p>‘<em>Sales don’t last long, Tom. There’s always new stuff coming in. That’s why you have to grab what you can when it’s there.’</em></p>

<p>‘<em>That doesn’t make any sense. Surely if someone wants to buy it, they should sell it?’</em></p>

<p>‘<em>I don’t know. It’s just how it is.’</em></p>

<p>‘<em>I think you’d have looked amazing in it.’</em></p>

<p>Julia giggled. ‘<em>Stop. You’re making me blush.’</em></p>

<p>‘<em>Truth is beauty, oh flower of the snowfields.’</em></p>

<p>Julia giggled again.<em> ‘What did you do before you were a diary?’</em></p>

<p>‘<em>I was a student.’</em></p>

<p>‘<em>Did you want to be a diary?’</em></p>

<p>There was a pause as though the book was considering its answer. Then it wrote.<em> ‘I was not expecting to become a diary, even as I cast the magic to become so.’</em></p>

<p>‘<em>So it was an accident?’</em></p>

<p>‘<em>No — not an accident — I just didn’t expect it to turn out quite the way it did.’</em></p>

<p>‘<em>Did you want to be something else instead?’ </em>Julia asked.</p>

<p>‘<em>I wanted to become a great wizard. The greatest wizard who ever lived.’</em></p>

<p>Julia smiled. <em>’I think you’re pretty great, Tom.’</em></p>

<p>‘<em>Thank you, Julia — that means a lot to me. What do you want to be when you grow up?’</em></p>

<p>Julia bit her lip. She looked at the iron door and her heart fell. <em>’I don’t know,’</em> she wrote. <em>’I don’t even know what’s going to happen to me.’</em></p>

<p>‘<em>Do you remember anything about the people who took you?’</em></p>

<p>‘<em>No, I—’</em> Julia paused. Hadn’t that man called the woman something? Narcissa? Wasn’t it? She put the pen back on the paper. <em>’I think the woman is called Narcissa.’</em></p>

<p>‘<em>Narcissa! Did she have long blonde hair with a black streak in it?’</em></p>

<p>Julia stared wide eyed at the page. She wrote, <em>’Yes! She did! Do you know her?’</em></p>

<p>‘<em>I know her,’</em> Tom wrote. <em>’She is the wife of a man called Lucius Malfoy.’</em></p>

<p>‘<em>Do you know what they would want with me?’ </em>Julia wrote back in an urgent scribble.</p>

<p>‘<em>I can guess,’ </em>Tom wrote, ‘<em>you said that they dressed you in a pillowcase?!’</em></p>

<p>‘<em>Yes.’</em></p>

<p>‘<em>It is a good thing you found me. Wearing a pillowcase is a symbol of slavery in the Wizarding World.’</em></p>

<p>Julia gasped.</p>

<p>‘<em>When they come back, you will tell them that Tom said they should treat you better.’</em></p>

<p>Julia’s eyes widened in terror. <em>’I can’t say that! They’ll kill me!’</em></p>

<p>Tom’s writing became larger, bolder, firmer.<em> ‘They WILL see the wisdom in my words. I may not be able to free you, but they are wrong to treat a guest such as yourself in this way, and they know it. Tell them, ’Tom said to treat you better.’ I promise they will not hurt you for it.’</em></p>

<p>Julia trembled with the diary in her hands. She didn’t know what to think. She couldn’t do it. She couldn’t. Every time she’d tried to resist or even ask questions before, she’d paid for it. How could the word of a small black book change anything?</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry looked out of one of the many windows overlooking the many valleys leading up to Uagadou. Security wizards from the Union of African Ministries where everywhere, interspersed with the occasional auror duo. Right. He’d stalled for enough time. His head now felt less like a mattress under two mating hippogriffs and more like a one under a small pair of enthusiastic nifflers. He stepped away from he window and turned back to the schoolmistress. “They’re looking quite determined, aren’t they?”</p>

<p>The schoolmistress sadly shook her head. “I’m sorry about this.”</p>

<p>Harry shrugged. “Don’t worry about it. Can you show me to the roof?”</p>

<p>The schoolmistress looked at him in puzzlement. “You will never be able to outfly them,” she said. “They have aurorbolts.”</p>

<p>Harry smiled. “I do not intent to outfly them.”</p>

<p>Once on the rooftops, he said his goodbyes, waited for them to leave, then retrieved his invisibility cloak from his trunk. The problem with his cloak was that—while it made him immune to homenum revelio—magic cast underneath could still be detected, and if he knew anything about these African wizards, it was that they <em>all</em> learned wandless magic as part of their education — a trade-off between that and wand magic. It made them far easier to defeat, as they weren’t nearly so skilled with their wands, but far harder to subdue, since you couldn’t be sure that disarming them would make them safe. That was why he had to assume that a good number of those wizards down there could sense magic, which is why this was going to be a speed run.</p>

<p>Harry disillusioned himself, wrapped the cloak around him, and took a running leap off the school roof, hurtling towards the ground, before pushing his magic through him, and bottoming out before he hit the ground, zipping back up, up, and away. The moment he’d started accelerating away, three broomstick riding wizards stationed around the school turned and started gaining on his position.</p>

<p>Harry landed on the ground in the middle of a valley. Mist surrounded him. He ran a half-length quidditch pitch and apparated with a silent crack. He then shot up into the sky, and, before the first broomstick auror caught up to his first apparition point, apparated again. He landed lightly on a small path some halfway up another of the nearby mountains. The path was lined on one side with huge rocks thrice the size of a man, carved into the shape of long dead alumni of the thousand year old African school of magic. Harry quietly crept away, occasionally cleaning up his scent trail as he went.</p>

<p>It bothered him that he hadn’t been able to do something about that Lord Slytherin copy-cat. He’d gotten greedy and been forced into a marathon chase that no wizard—save himself, Dumbledore, or Voldemort—would have been able to outlast, and in his case, only just. At least he’d gotten what he needed, although the whole slaughtered villages thing had left a bad taste in his mouth, but at least it hadn’t been <em>his</em> weapons that had done that. He nodded to himself and thought to the bag of uncut diamonds in his shrunk trunk. Yes, the next time he needed a cash injection, he’d probably leave muggle arms dealing alone.</p>

<p>It was several minutes before the aurors picked up Harry’s apparition trail and appeared on the mountain path themselves, but by that time, Harry was long gone.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Julia looked up, staring eyes fixed on the iron door as footsteps sounded down the hallway outside. She swung her bare legs off the cot, still shivering. The thin pillowcase didn’t even reach her knees. The lock unlocked without a key being turned and the door swung open.</p>

<p>The woman, Narcissa, stood in the doorway, wand held in one hand, pointing at the floor. “You ate,” she said, staring at the empty plate. “Good.” She turned to go.</p>

<p>Julia gripped the diary tightly in her hands. “W-Wait!” There — she’d said it. Her heart hammered as the woman turned around slowly. “What did you say?” she asked in a low dangerous voice.</p>

<p>Julia swallowed. “T-Tom said…”</p>

<p>The woman’s eyes widened a fraction.</p>

<p>“…T-Tom said you were to treat me better than this.”</p>

<p>The woman stood still.</p>

<p>Julia’s heart felt like it was trying to beat its way out of her chest.</p>

<p>The woman crossed her arms, wand now pointing at the ceiling. “He did, did he?”</p>

<p>Julia nodded.</p>

<p>“Well then, I guess you’d better come with me, hadn’t you?”</p>

<p>Julia hesitated before standing up, straightening the pillow case as best she could, and, clutching the diary to her chest and doing her best not to shake, followed the tall woman out of the cell.</p>

<p>One hot meal later, Julia was frantically writing in the diary on top of a warm, comfy bed with real sheets, and wearing a real dress — the dress was cut such as she’d never seen before and for some reason had a hood, but it <em>was</em> a real dress. The room she’d been put in had a massive window overlooking a grand manor garden, and the furniture reminded her of when she’d been taken to see the Kungliga Slottet back in Stockholm. ‘It worked, Tom!’ It worked!’</p>

<p>‘<em>See?’</em> Tom wrote back, <em>’I told you it would. You just need to trust me.’</em></p>

<p>Julia smiled.<em> ‘Yes! I’m sorry for ever doubting you.’</em></p>

<p>‘<em>That’s okay,’ </em>Tom wrote.<em> ‘why don’t you tell me more about your future dreams? Maybe I can help you some more.’</em></p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>It was Alexandra Black’s birthday. Harry, disguised as Lord Slytherin, descended the stairs to the basement of Slytherin Manor. He wandered over to the far corner where four miniature fidelius ward stones mapped out a small room, about the size of a bedroom, but with no walls, within which were several silk lined, lead boxes all packed together and all against the far wall, right in the very corner — the horcruxes.</p>

<p>Harry withdrew his shrunk trunk from his pocket and retrieved the still drugged body of the obscurial boy. He laid him on the floor.</p>

<p>“Plato.”</p>

<p>Some thirty seconds later, Harry’s house elf popped next to him, all dressed in flowing black robes with the Slytherin crest shown on the chest. “Master Lord Slytherin is back! What does Master Lord Slytherin wish of Plato?”</p>

<p>“I have a new task for you.” Harry gestured to the boy. “This is Amadi. He is under draught of living death and must remain so until we can find someway to extract the obscurus within him — control it, kill it, or something. Understand?”</p>

<p>“Plato understands, Master. Demon boy stays sleepy until we fix demon boy. What is Plato’s task?”</p>

<p>“You are to take care of him. He needs feeding and watering thrice a day, and you are to renew the draught once a week. It shouldn’t be needed but we’re not taking any chances.”</p>

<p>Plato hesitated. “Plato has a problem, Master. Master’s Grangys have Plato often working in Crawley. Plato can pop to Master that far, but journeying to Slytherin Manor three times a day on my own is difficult.”</p>

<p>Harry stared at the wall. That was an issue — one he wouldn’t have if he’d been able to snag a second elf already. He thought to the large suitcase of diamond money he’d just deposited in Gringotts. Fat lot of good that did if there weren’t any females on the market right now. He turned back to Plato. “Would twice a day work better?”</p>

<p>Plato bowed so low his nose touched the ground. “Yes, Master Lord Slytherin. Plato can be doing that.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Lord Lucius Malfoy finished drawing the last rune on the floor of the ritual room in his wife’s own blood. It was time.</p>

<p>Off to the side, Narcissa sat on a chair, nursing an arm that had just been used to extract enough blood to leave an uncared for wizard dead. Several empty bottles of blood replenisher stood on the bench beside her. “Ugh, I hope he appreciates this, even if something goes wrong,” she said. “I’ve warned him. Trying to force a soul process like this isn’t wise. He can’t complain if it goes wrong.”</p>

<p>Lucius wondered who she was trying to reassure. He stepped out of the circle and kissed her lightly on the lips. “Shh, it <em>will</em> be okay.”</p>

<p>Narcissa softly broke the kiss, took a deep breath, collected herself, stood up and made her way into the circle. “Do you want to go get the girl?”</p>

<p>Lucius walked to the door. “Not particularly, but I will.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Julia woke in darkness. Not the darkness of a room without light, but the darkness of a blindfold pressed against ones eyes, and that wasn’t the only thing. She couldn’t move. She was lying naked and spread eagled on her back against something hard and cold. Her hands were tied to ropes, as were her legs. Something had been shoved in her mouth. She could feel her drool dribbling around it. “Mughh!” She started to panic, pulling at the bindings on her arms and legs, but it was no good, she couldn’t even turn her head. What were they doing to her?</p>

<p>“Relax, girl,” said a voice that she instantly recognised as belonging to the woman, Narcissa. “It’ll all be over soon.”</p>

<p>Over? Soon? No. Please no! The woman started chanting words she didn’t understand, again and again. She felt something whirl around her, like a wind, only not, sending shivers down her spine, and what hair she had to stand on end. “Mugghh!”</p>

<p>The chanting sped up and a lance of pure pain stabbed into her chest. “MUGGHHHH!” A voice, faint through the searing heat, filtered through her mind.</p>

<p><em>Hello Julia.</em></p>

<p>What was that? The pain spread out through her body, all the way to the tips of her fingers and toes.</p>

<p><em>How does it feel to become one with me?</em></p>

<p>What? One? Pain!</p>

<p><em>You should be honoured, Julia, to become one with the greatest wizard who ever lived.</em></p>

<p>Greatest? Tom?</p>

<p><em>Yes.</em></p>

<p>The pain got worse. Please, Tom! It hurts! It hurts so much!</p>

<p><em>Yesss.</em></p>

<p>IT HURTS!</p>

<p><em>YESSSSS!</em></p>

<p>The pain reached more than she could bare. She felt herself crawling inwards, everything that she was being shoved aside, compressed, imprisoned, and Tom was everywhere — everything. She could feel Tom and Tom could feel her — could feel her pain and fear. Tom could feel it all, swirling through her body, he felt it. Every tingle in her fingers, every beat of his heart. Tom felt it and owned it, before collapsing back on the cold stone under him, letting the tension drain from his limbs, letting his body relax from the pain. It was done.</p>

<p>The gag was removed — the blind fold, taken off.</p>

<p>Tom Riddle looked up at the curvy figure of Narcissa Malfoy, standing over him as naked as the day she was born. Not a bad way to awaken.</p>

<p>“My lord?”</p>

<p>Riddle smiled. “Yes, Narcissa,” he said in the small girl’s voice. That would take a lot of getting used to. He wasn’t enthusiastic about being female, but the Malfoy’s would never have agreed to his plan otherwise, even considering what his other self had become. He cleared his throat. “You will untie—”</p>

<p><em>Tom?</em></p>

<p>Tom Riddle stiffened.</p>

<p><em>Tom? *sniff* It’s stopped hurting.</em></p>

<p>Oh, no.</p>

<p><em>Oh no, what? What happened? Why did you do that?</em></p>

<p>Riddle groaned.</p>

<p>“My lord?” Narcissa said.</p>

<p><em>My lord? Why did she call you that? Why is she naked? Tom! What’s going on?!</em></p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>A hundred or so kilometres away, in a well to do suburb of London, Hermione, Daphne, and Luna walked down Grimmauld Place towards number twelve.</p>

<p>Hermione nervously clutched a suspiciously book shaped birthday present colourfully wrapped up in paper with a bow on the top. “Is this really going to work?”</p>

<p>“Of course it’ll work,” replied Daphne, carrying a more box shaped wrapped gift. “They’ve been looking for him for weeks. They’re not going to do anything to risk chasing him away again.”</p>

<p>Hermione bit her lip. “What if they grab him and we don’t get to see him?”</p>

<p>“Harry can take care of himself,” Daphne said. “He set up the Black Library fidelius charm at the start of summer. He can use that, if necessary.”</p>

<p>Luna hummed happily beside them. Her present wasn’t a box, but rather a big bowl of something, and anyone that knew Luna could tell you what that something was.</p>

<p>They reached the front door of number twelve Grimmauld Place.</p>

<p>Daphne turned to the other two. “Now, we all remember the plan?”</p>

<p>Hermione and Luna nodded.</p>

<p>Daphne tuned back to the door, stuck her wand in the ward, and pulsed.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>From the sofa in front of the fire, watching Alex and Ginny play exploding snap in wizarding party hats, Lord Sirius Black felt a pulse in the wards — a pulse in the wards from the front door! Harry! He leapt to his feet and crossed the distance to the entranceway, grasping the door handle, and pulling it open. It wasn’t Harry.</p>

<p>“Good morning, Lord Black!” sang three girls in perfect unison.</p>

<p>“Luna?” His surprised gaze flittered from one wide-eyed smiling face to the next. “Miss Greengrass?”</p>

<p>“We’re here for Alex’s birthday.” The Greengrass heiress held a colourfully wrapped gift box in front of her.</p>

<p>“But—”</p>

<p>“Luna has told us so much about you and Alex!” said the brown haired girl, eyes dancing with excitement. “I so hope she likes what I got her.”</p>

<p>A faint memory of a sword wielding Slytherin first year fighting a troll flashed across Sirius’s memory. “I’m not sure if—”</p>

<p>“Pleeeeaaassssssseeeeeeee, Lord Black.” Luna Lovegood pouted up at him, eyes watering faintly. “I know they’re not officially invited, but I want us all to be friends.”</p>

<p>Sirius groaned. He could never deal with Alex when she used to be like this, but three all at the same time? “Fine,” he said, drawing out the word like a grumpy accordion. The girls whooped and giggled, then skipped past him towards the living room. Well, Luna skipped. Sirius noted the other two quickly falling into walk number seven, variant C from the pureblood etiquette playbook for young ladies — adorable saunter with touch of victorious sass. Sirius shook his head. Perhaps this was for the best. It certainly increased the chances that Harry was going to show up.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Riddle resisted the urge to tear his new, long blonde hair clean out of his skull.</p>

<p>‘<em>It’s better swept to the left! No, not like that!’</em></p>

<p>He’d shouted at her, and that had worked for a while. Then he’d threatened her, and that had worked too, but not for long.</p>

<p>‘<em>Can’t you magic up a better hair clip?’</em></p>

<p>As soon as she’d realised that he didn’t actually have anything he could threaten her with, she’d quickly switched over from being the meek little girl to giving her opinion on absolutely fucking <em>everything</em>. He’d briefly thought of casting torture curses on himself just to get her to shut up, but quickly dismissed the idea as incredibly foolish. She wasn’t like his old classmates that he could curse and then dismiss. No, he’d just have to manage her as though she were one of the Hogwarts teachers or one of his many female admirers. She was only an eleven year old girl, after all. It wouldn’t be that difficult. He’d already managed to block off his most private thoughts with occlumency, but that did still leave many of his surface thoughts open.</p>

<p>‘<em>And you’re sitting all wrong! Girls don’t sit like that! If you were wearing a skirt, boys would be able to see right up it!’</em></p>

<p>Riddle sighed. <em>’I’m sorry, okay? I know you’re angry.’</em></p>

<p>‘<em>Angry!? You tricked me and stole my body! I hate you!’</em></p>

<p>Riddle stood up from the mirror and made his way to the door. <em>’Look at it this way, now you’ll be able to go to magic school and see all sorts of things a Swedish muggleborn would never be able to see. Doesn’t that excite you?’</em></p>

<p>‘<em>I want to go home!’</em></p>

<p>‘<em>I’m afraid that’s not possible. I really wish I could help you.’</em></p>

<p>‘<em>Liar!’</em></p>

<p>Riddle made his way down the many flights of stairs towards the ritual room. He stepped inside and looked around. Narcissa looked up from where she was drawing chalk runes on the freshly cleaned floor. “Ready for the second ritual, my lord?” Her voice shook.</p>

<p>“I am ready,” he said.</p>

<p>‘<em>Humph.’</em></p>

<p>Riddle felt a presence behind him. It was Lord Malfoy. Together, the two of them made there way over to the desk and started draining their blood into separate beakers. Soon enough, they had nearly half a litre of each of their blood.</p>

<p>Narcissa picked up a paintbrush. “My lords, I’ve outlined places for you to lay. Please dis-robe.”</p>

<p>Riddle did so. He felt Julia mentally recoil.</p>

<p>‘<em>You can’t just let him look at me!</em>’</p>

<p>Riddle ignored her and lay down where the chalk indicated alongside Lord Malfoy. He stared at the ceiling while Narcissa painted their bodies and the circles around them with interlocking runes of both their blood.</p>

<p>Magic swirled.</p>

<p>Narcissa started chanting.</p>

<p>‘<em>Is this going to hurt again?’ </em>Julia asked in a small voice.</p>

<p>‘<em>No,’ </em>Riddle thought.<em> ‘So long as you do not interfere, you should feel no pain.’</em></p>

<p>“Lord Lucius Malfoy,” Narcissa intoned. “Lord by the Albion Magics, Head of the Noble House of Malfoy, do you accept to take a daughter of common birth to your house, to raise and protect her as if she were your own?”</p>

<p>“I do.”</p>

<p>“Lord Lucius Malfoy, lord by the Albion magics, Head of the Noble House of Malfoy, do you wish to grant a name in gift to your new child?”</p>

<p>“I do. She will be called Virgo Druella.”</p>

<p>‘<em>Virgo?’</em></p>

<p>‘<em>Shh.’</em> Riddle felt the ancient magics swirl around him.</p>

<p>“Virgo,” Narcissa continued. “You have been offered elevation from the common to the Noble House of Malfoy. Do you accept your new responsibilities to the Albion Family Magics — to honour your family, and”—her voice shook again—“to protect your new brother?”</p>

<p>‘<em>Brother?!’</em></p>

<p>‘<em>Shh!’</em> “I do.”</p>

<p>The magical build up roared. What had been a breeze, turned into a tornado. The blood runes painted on the floor tore themselves free and swirled around the room. Moments later, the magic hit a crescendo and a faint warmth surrounded his left ring finger.</p>

<p>The magic died.</p>

<p>He sat up and looked at his finger. There sat a noble house ring — the ring that had eluded him for the entire time he was at Hogwarts — that ultimate symbol of his rightful place — among the best — where he belonged. His disgusting muggle father’s blood no longer ran in his veins. He was a pureblood now. The daughter of a Malfoy and a Gaunt.</p>

<p>His new adoptive step-mother presented a mirror in front of him. Julia’s ice blue eyes had darkened a shade, the cheeks had raised slightly, little details here and there had shifted, but not by much. The girl had looked fairly similar to a Malfoy to begin with.</p>

<p>Virgo Druella Malfoy smiled.</p>

<p>‘<em>You do know your new name means virgin, right?’</em></p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Harry sat down in an armchair in one of Grimmauld place’s many sitting rooms. He could hear the faint sound of the girls laughing upstairs.</p>

<p>Sirius sat down opposite him and put his hands under his chin. “I’m glad to see you safe, Harry. You upset a lot of people when you disappeared like that.”</p>

<p>Harry tapped a pattern on the chair’s arm rest. Sirius Black was a difficult case to work with. On the one hand, he was a Dumbledore supporter. On the other hand, he was Alex’s father. On the other, other hand, he was extremely Light. On the other, other, other hand, he was chief auror, and on the other, other, other, other, hand, the man wanted to have some kind of friendly relationship with him and did fall into the category of ‘people with whom I had no relationship with in the last timeline,’ for good or bad — such a mess of conflicting possibilities and problems.</p>

<p>Harry shrugged. “I’ve been disappearing for years. The only thing different this time is that someone noticed.”</p>

<p>Sirius frowned. “Lord Slytherin… did he…?”</p>

<p>Harry’s expression didn’t budge. “Lord Black, I have no intention of disclosing where I have been or who I might have been with, I’m sorry.”</p>

<p>Sirius sighed and massaged his temples with one hand. “I don’t suppose I could at least persuade you to call me ‘Sirius’, could I?”</p>

<p>Harry cracked a small smile. “That, I can do, Sirius.”</p>

<p>Sirius smiled briefly before turning serious again. “I will need to tell your parents that you’re here. You’re not going to run away again, are you?”</p>

<p>“You asked me before the trial if I would spend time here over the summer. So long as I <em>can</em> spend most of my days here for the rest of the Summer, I will not run away.”</p>

<p>Sirius frowned. “Harry, you can’t just threaten to run away again to get what you want.”</p>

<p>Harry tilted his head and fixed Sirius with a hard stare. “Sirius, my parents have not spoken to me once in my entire life — not once — not a word, not an owl. It may not be <em>exactly</em> the same, but… I am Sirius Black. You are Fleamont Potter.”</p>

<p>A flurry of emotions passed across Sirius’ face — shock, anger, sorrow, resignation, understanding.</p>

<p>Harry just watched.</p>

<p>Eventually Sirius nodded. “Fine. I’ll talk to your dad about it.”</p>

<p>“That’s as much as I can ask.”</p>

<p>Sirius stood up and gave Harry a weak smile. “Does this mean that those pretty girls are your marauders?”</p>

<p>Harry’s face cracked into a grin.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Riddle lounged in a chair in the Malfoy library, reading a copy of a book on mindscapes like a prince. Oh, if only he’d had access to these when he’d first entered the Wizarding World.</p>

<p>‘<em>But it’s so boring!’</em></p>

<p>His grip on the book tightened.</p>

<p>“Virgo?”</p>

<p>Riddle looked up.</p>

<p>Narcissa was standing in the doorway.</p>

<p>‘<em>I wish I had the figure for that dress.’</em></p>

<p>‘<em>It’s a robe.’</em> Riddle frowned. “Yes, Mother?”</p>

<p>‘<em>That’s not a robe.’</em></p>

<p>“Um, I was wondering if I could talk to you before your father gets back with your Hogwarts letter?”</p>

<p>‘<em>I mean, yes, it has a hood, but look at it!’</em></p>

<p>‘<em>You must learn to forget your muggle knowledge.’</em> Riddle gestured to a seat opposite him.</p>

<p>‘<em>Why?’</em></p>

<p>Riddle ignored her.</p>

<p>Narcissa quickly sat down, fidgeting slightly with the silk of her robes. “How are you adjusting?”</p>

<p>‘<em>Wow, she’s nervous.’</em></p>

<p>‘<em>Quiet, Julia. Just observe.’ </em>Riddle closed the book. “Well enough. Why?”</p>

<p>“It’s just…” Narcissa looked away before looking back. “If we’re going to present you to the world as our daughter, there are certain expectations…”</p>

<p>Riddle raised an eyebrow. “I am quite familiar with pureblood customs. I made a study of them during my time at Hogwarts.”</p>

<p>“Yes, but that was a long time ago. Things do change in that time, even in proper society. And besides that… you’re a… well a — witch — now.”</p>

<p>Riddle frowned. “Is that a problem?”</p>

<p>“No, no, not a problem. It’s just — your aura — your stance — the way you walk, it’s all so, masculine.”</p>

<p>‘<em>It really is, you know. See the way she sits?’</em></p>

<p>Riddle narrowed his eyes. “I walk and stand so as to project power — to show the world that I am to be feared and respected. Are you telling me I cannot do that?”</p>

<p>‘<em>You should be sitting more like that.’</em></p>

<p>Narcissa shook her head. “No, my lo—I mean, no, Virgo, I don’t mean that. I mean that witches show the world they are to be feared and respected in different ways. Wizards are like staffs — loud, obvious, and blunt. We witches are like daggers — quiet, subtle, and razor sharp. We work behind the scenes to position our enemies for a perfect stab in the back, or, when that fails, we secretly clear the way so our men folk can get an open line of shot for a one hit kill.”</p>

<p>‘<em>Oh my god, she’s so evil!’</em></p>

<p>‘<em>There is no such thing as good and evil, only power and those too weak to seek it.’</em></p>

<p>Julia went quiet.</p>

<p>Riddle pursed his lips in thought. “You wish to teach me how to be a dark lady instead of a dark lord.”</p>

<p>“I am a daughter of the Ancient and Noble House of Black. I have guided my lord and husband for fifteen years and raised the Noble House of Malfoy to be the richest house in the country. There is no one better to teach you than I.”</p>

<p>‘<em>Hopefully she’ll teach you to sit like her,’ </em>Julia said, somewhat sullenly.</p>

<p>Riddle’s fingers tapped a rhythm on the arm chair rest. “Second richest.”</p>

<p>“Sorry?”</p>

<p>“Second richest — according to Witch Weekly’s Witch Rich List.”</p>

<p>‘<em>You look like you’re trying to hide the whole chair with my body!’</em></p>

<p>Narcissa coughed. “I do not believe that Slytherin’s position on that list is anything more than smoke and mirrors.”</p>

<p>“A loud, obvious, and blunt display of power, you mean?”</p>

<p>“Yes.”</p>

<p>“And even if Slytherin is another one of me, I am the dagger rather than the staff?”</p>

<p>Narcissa leaned closer. “Given how we have gone about doing things, and your uncertainties about Slytherin and Potter, I would recommend that to be the most effective way, yes.”</p>

<p>Riddle nodded. “Very well, Mother. You will teach me.”</p>

<p>“Good.” Narcissa snapped her fingers and a house elf appeared beside her. “Let’s start with how to sit.”</p>

<p><em>Hah!</em></p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Lord James Potter strode into the sitting room where the wards had alerted him to a floo call.</p>

<p>“Prongs.” Sirius’ head was in the fire.</p>

<p>“Hey, Padfoot. Any news?”</p>

<p>“Yes, he’s here!”</p>

<p>“Harry?”</p>

<p>“Of course.”</p>

<p>James straightened. “I’ll go get Lils!” He turned to leave.</p>

<p>“Wait!” came Sirius’ voice from behind.</p>

<p>James turned back. “What?”</p>

<p>Sirius’ looked uncomfortable. “I had to make a few promises to stop him from bolting.”</p>

<p>James frowned. “Go on…”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Ancient toys were crammed on every shelf on every square foot of wall. Alexandra Black sat on a small child’s chair in the playroom, half giddy and half anxious. Four other witches sat in a circle with her, two of whom she knew well, and two of whom she didn’t.</p>

<p>Her birthday had started out normally. She’d pestered her dad to let her have Ginny and Luna over, and to not have John Potter around. He’d caved surprisingly easily.</p>

<p>Ginny had arrived first and they’d spent the time playing exploding snap while discussing duelling in hushed tones whenever her father left the room.</p>

<p>Then Luna had arrived with a big bowl of pudding, and she’d brought the troll slaying witches with her, Daphne Greengrass, the other girl betrothed to Lord Slytherin, and Hermione Granger, a vassal of Slytherin House — people she’d been looking forward to meeting for <em>ages</em>. They’d dragged her from the living room to the play room and set up the small chairs in a circle, each one of the four taking a seat, and sitting her down in a fifth.</p>

<p>Opposite Alexandra on the far side of the circle, Daphne had placed an empty, sixth chair. It drew Alex’s attention like a recently missing tooth.</p>

<p>“Flitwick’s fine,” Daphne said, carrying herself with enviable ease and elegance. “He teaches well and doesn’t mind if you read ahead.”</p>

<p>“What about the defence teacher?” Ginny asked. “Any idea who it’ll be?”</p>

<p>“Our lord mentioned in an owl that it would be Snape.”</p>

<p>Our lord. All four of the other girls referred to Lord Slytherin as ‘our lord.’ Alex shifted forward in her chair. It made the whole thing feel like a secret meeting or council. One where important things were discussed and the fates of men decided.</p>

<p>“Snape!” Hermione scowled. “Did he say why?”</p>

<p>“He is Dumbledore’s spy. Our lord wishes us to turn him.”</p>

<p>Alex’s eyes nearly bugged out. Dear Morgana, this was awesome!</p>

<p>Hermione folded her arms. “Who’s going to be doing potions then?”</p>

<p>“We don’t know,” Daphne said.</p>

<p>“What about the new headmaster?” Ginny asked. “Percy said the transfiguration teacher would have been doing the job until they found someone.”</p>

<p>Daphne was about to answer when the door creaked open and four heads swung around. Alex was already facing the right direction.</p>

<p>“Harry!” Hermione, Ginny, and Luna leapt up from their chairs, and rush-hugged the John Potter look alike. Daphne Greengrass rose with considerably more grace, but did mirror the other three once they’d finished.</p>

<p>Alex stared at the spectacle, then hastily stood as Potter walked over to her. “Happy birthday, Miss Black.” He took her hand in his and brushed his lips along the knuckles. “I hope your training is going well?”</p>

<p>A year ago, she’d have bitten back with some sarcastic comment, especially at being addressed as ‘Miss’ rather than ‘Heiress,’ but that had been before she’d been continually smashed into the ground by both Ginny and Luna, before she’d seen Hermione Granger and Daphne Greengrass take on a full grown mountain troll, and most definitely before she’d read the Daily Prophet article about a certain mysterious boy who’d smacked down the <em>entire</em> Hufflepuff duelling team, and then proceeded to pound John Potter into the dirt so badly that he’d been accused of attempted murder.</p>

<p>Harry Potter was powerful, as were all of those Lord Slytherin had taken into his confidence. Alex nodded and reclaimed her hand. “Well enough, Potter. The Black library is quite the treasure trove.”</p>

<p>Potter smiled. “I’m sure it is.”</p>

<p>They all sat. Alex couldn’t help notice that all four of the other girls looked expectantly at Potter who was fishing in his robes for something. Even Daphne Greengrass seemed to be waiting for him to start.</p>

<p>Alex fidgeted with the skirt of her robes. The very air in the room seemed to have changed.</p>

<p>“Alexandra,” Potter eventually began once he’d found what he’d been looking for. “Our lord asked me to read you a letter he wrote, do you mind if I go ahead?”</p>

<p>A letter? Alex shook her head, indicating that she didn’t mind.</p>

<p>“Excellent.” Potter cleared his throat. <em>“Alexandra Black, Heiress of the Most Ancient and Noble House of Black,</em></p>

<p><em>Greetings on your eleventh birthday. I hope Harry and the girls are keeping things interesting.</em></p>

<p><em>Firstly, your birthday present. I’m sure you’re expecting a book or similar. Most of our discussions in the past have revolved around our stores of magical knowledge. However, not this time. Your help at the winter festival with Angelystor, and your loaning us of your family’s communication mirrors were both invaluable gestures. I’ve also been hearing good things from Luna and Ginny about your practical training and our letters clearly show your drive to expand your magical toolbox.</em></p>

<p><em>Therefore for your birthday present, I, Lord Slytherin, grant you a, non-conditional, guaranteed invitation to Slytherin House during the sorting—</em></p>

<p>Alex’s heart leapt. “YES!” She jumped to her feet and fist-pumped the air.</p>

<p>Hermione, Daphne, and Ginny all gave her wry smiles.</p>

<p>Luna clapped. “Congratulations, Alex. We all get to be together for the next seven years!”</p>

<p>“Ah, yeah.” Alex sat down again, suddenly feeling a bit sheepish. Had that looked too enthusiastic? It probably had. This was supposed to be a Slytherin meeting. She coughed. “Do please continue, Potter.”</p>

<p>Potter continued.</p>

<p>“…<em>Secondly, a house matter. I would ask you to look around you. Daphne, Ginny, Luna, Hermione, and Harry all have my confidence. They have each proved themselves in their own way and you’ve seen for yourself how capable someone needs to be to achieve that. I — as Lord of the Most Ancient and Noble House of Slytherin — would like to extend that confidence to you as the Heiress of the Most Ancient and Noble House of Black — a confidence that will hopefully see our respective houses become firm allies. Let Harry know if you’re interested and he’ll continue reading, otherwise, have a Happy Birthday.</em></p>

<p><em>- Lord Slytherin“</em></p>

<p>Harry looked expectantly up from the letter.</p>

<p>Alex hesitated, but only for a moment. She couldn’t <em>not</em> accept. The last time she’d refused one of Lord Slytherin’s offers she’d regretted it for years. She nodded.</p>

<p>Harry smiled, put the letter away, pulled out another one and unfolded it.</p>

<p>Alex bit her lip. Another letter. What would have happened if she’d said no?</p>

<p>Harry started reading.</p>

<p>“<em>Excellent! Right, third order of business. Occlumency, as you now know, is critical in many branches of magic. You’ve already been practising three of them — mental defence, wandless magic, and magic sensing. Another use that many people in Europe choose to ignore is the animagus transformation. This year, Harry will be leading an experimental group project to achieve animagus status by the winter festival. I’d like to invite you to join this project.”</em></p>

<p>Alex sucked in her breath. That would be sooo cool. What would her form be? Would it be a panther? Or maybe a grizzly bear? Or would she be one of the oh so lucky ones to get a <em>magical</em> animagus form? Maybe she’d—</p>

<p>Harry coughed.</p>

<p>She caught his eye.</p>

<p>He was grinning.</p>

<p>Alex immediately schooled her features and sniffed. “That sounds interesting.”</p>

<p>Potter nodded and continued, still smiling. <em>“Secondly, each one of my Slytherins has a project that they’re working on. A project that will push forward the Gray and make our long term goals easier. I have one for you — one that makes use of your particular talents and brand of family magic, if you feel you are up for it?”</em></p>

<p>Harry looked up from the paper again.</p>

<p>Alex set her jaw and nodded. <em>This</em> was what she’d been <em>waiting</em> for.</p>

<p>Harry looked down again. <em>“Your project, Alexandra Black, is to usurp Draco Malfoy as leader of the Dark.”</em></p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Draco Malfoy was certain of many things in life. He was certain purebloods were superior to halfbloods, who were themselves superior to mudbloods. He was certain that the noble houses were superior to the common houses, although he didn’t voice this certainty where his family’s business associates could hear. He was certain that rich wizards were superior to poor ones, and that the Dark would ultimately triumph. But most of all, he was certain that he was the only child of a pureblood, noble house that also happened to be the richest in the country, and the leader of the Dark, and was, therefore, the most important person in the world.</p>

<p>Not five minutes ago, one of those beliefs had been slowly turned on its head and he had no idea what to think about it.</p>

<p>“I have a sister?”</p>

<p>His father had looked at him impassively over his ornate office desk. “We sent Virgo away when you were both very young. We thought she was a squib. We were wrong. She is, in fact, exceptionally powerful.”</p>

<p>Draco had said nothing.</p>

<p>His father leaned forward slightly. “Your mother and I expect you to introduce her to our friends and make sure she is accorded the respect a daughter of the Noble House of Malfoy deserves.”</p>

<p>“Yes, Father.”</p>

<p>“And one more piece of advice.”</p>

<p>“Father?”</p>

<p>“Virgo grew up in exceptional circumstances. You are my heir and the future Lord of this house, but do not presume <em>anything</em> about your status in regards to Virgo. Do not look down on her. Do not talk down to her. And above all else, do <em>not</em> threaten her.”</p>

<p>Draco had left the study soon after that feeling somewhat disturbed. He now walked through the many bookshelves of the Malfoy Manor Library, looking for this so-called sister of his. He turned a corner and there she was, sitting elegantly in an alcove, reading a book and balancing three other books on her head.</p>

<p>Draco smirked. He remembered doing the same exercise when he’d been much younger. He walked over and in a bored voice said, “Father said you might be in here.”</p>

<p>The girl, who certainly <em>looked</em> like a Malfoy, turned a page in her book, and, not bothering to look up, said, “Did you want something?”</p>

<p>“I am Draco, your brother, <em>Heir</em> of the Noble House of Malfoy.” He stuck out his hand. “Father said I was to introduce you to our family’s friends so I wanted to know if you know how to act like a real pureblood.”</p>

<p>“I’m sure I shall manage,” Virgo said, in a voice equally as bored as his. Not moving from her chair.</p>

<p>Draco frowned, hand still outstretched. “Mother hasn’t taught you proper greetings yet?”</p>

<p>Virgo finally looked up and their eyes locked.</p>

<p>Draco breathed in sharply and took a reflective step backwards. Magic flared off the girl in front of him in exactly the same way it had off of Lord Slytherin in the Slytherin common room at the start of last year — not nearly as <em>strong</em> as Lord Slytherin, but just the fact that his sister could do it at <em>all…</em></p>

<p>For what felt like an age, but was actually closer to twenty-five seconds, Virgo held him there like a mouse held in the gaze of a snake.</p>

<p>Eventually the magic stopped and Draco let out a deep, shaky breath.</p>

<p>Virgo smiled. The three books hadn’t moved from where they still sat on her head. “Why don’t <em>you</em> tell me about proper greetings, Brother?”</p>

<p>“Uh, yeah,” Draco sweated. His sister was nundu scary. “Yeah, sure.”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Lily Potter trekked up the stairs towards the play room, mentally preparing herself for the coming confrontation. She stood outside the door and listened. Children were laughing. A good start. She took a deep calming breath, cautiously opened the door, and peered around it.</p>

<p>Harry was sat in the middle of a huge game of gobstones, wide smile on his face as Luna squealed and punted a triple into her stone sphere.</p>

<p>Her heart clenched. Harry looked so happy.</p>

<p>He looked up and met her eyes, smile never leaving his face.</p>

<p>“Hello, Harry,” she said, far softer than she’d meant to, opening the door fully and stepping into the room.</p>

<p>Her heart beat harder. Something didn’t feel right.</p>

<p>All the girls quietened and looked around at her, shooting her looks that suggested she was something nasty they’d stepped in.</p>

<p>“Hi, Mum,” Harry said happily, standing up and brushing himself down. “Time to go home, is it?”</p>

<p>The girls continued to stare.</p>

<p>“Y-Yes, your father and I thought it might be nice for all of us to eat out — you know — a family thing.”</p>

<p>Harry grinned. “Sounds great.”</p>

<p>The whole situation felt surreal. Like she wasn’t meeting him for just the first time — like she’d just come to pick him up as normal, as if everything <em>was</em> normal. She’d expected sullenness or awkwardness. She’d expected shouting and accusations, or possibly even tears and crying. She hadn’t expected <em>this</em>.</p>

<p>Harry walked over, waved goodbye to the girls, slipped past her through the doorway, and made his way back up the hallway, footsteps light, gait confident, as though he hadn’t a single care in the world, as though he was just <em>choosing</em> to ignore the fact that they’d never exchanged a single word since he was eighteen months old.</p>

<p>Lily shook away that feeling of wrongness, allowed herself a small smile, and followed on after him. If Harry was happy to put all that behind him, then he might be even more mature than John, and it would make ensuring that everything turned out all right in the end that much easier.</p>

<p>Back in the play room, unseen by the retreating noble muggleborn lady, three sets of eyes abandoned all pretext of restraint and glared at the closed door in undisguised loathing, watched by a fourth set of eyes that flittered between the first three in mild confusion. The fifth and last set idly watched the fourth before the body it was attached to smiled and took another spoonful of delicious mouth-watering pudding from the already half-empty communal bowl.</p>

<p style="text-align: center;">—End of Chapter Thirty-five —</p>
