Chapter 36 - Interlude - Daphne Goes Down to the Village

<p>Daphne Greengrass stared at the parchment-work in front of her. Her bedroom desk groaned under it. Some of it was important. Some of it was useless, and quickly found its way into the bin beside her. But most of it occupied the frustrating space in between — probably too important to throw away, but probably not important enough to read — and impossible to tell one way or the other without committing oneself and possibly getting it wrong.</p>

<p>Outside her open window, soft, fluffy clouds melted into blue summer sky. Birdsong gently tweeted away in nearby trees. A faint breeze ruffled the lush grasses, wafting up through the window and playing with a long strand of Daphne’s blonde hair, flicking it this way and that — a constant reminder that she was in here and not out there.</p>

<p>Daphne hooked the errant strand around her ear. “Milly!”</p>

<p>A small, female house elf popped into being beside her. She wore the Greengrass house elf uniform — a neatly pressed tea towel emblazoned with the Greengrass crest. “Yes, Mistress Daphy?”</p>

<p>“Has there been any word from Harry?”</p>

<p>“No, Mistress Daphy. There has been no more word from Lord Slytherin since last time you asked.”</p>

<p>Daphne sighed. “Thank you, Milly.”</p>

<p>Milly nodded and popped away.</p>

<p>Daphne stared, once again, at the piles of parchment in front of her.</p>

<p>Urgh.</p>

<p>She glanced at the perfect weather outside and then back at the pile of parchment again, then back to the open window.</p>

<p>It called to her. The outside — it called to her in a voice she knew well — the call to adventure — to explore. She’d had just about as much of the parchment-work as she could take.</p>

<p>Daphne turned and her gaze fell on the fluffy snake Harry had given her during the Winter Festival, still coiled around her bedpost. The toy snake met her gaze and tilted its head as though in question.</p>

<p>But Harry wasn’t here right now. He was off — somewhere — doing Lord Slytherin stuff — and without him she was stuck inside, bound to the familiar — to those places she already knew well — the manor, Diagon Alley, her friends’ houses, those places with a friendly floo connection — those places to which the only journey was a boring [[[ten— to fifteen—minute]]][[[ten- to fifteen-minute]]] whirring about inside a bland grey pipe.</p>

<p>Daphne returned to the parchment and was halfway through reading the latest update on the mandrake supply crisis when she snapped, threw the parchment down, pushed her chair back, and stomped over to the window.</p>

<p>Why!?</p>

<p>Daphne stared out over the forest that protected Greengrass Manor.</p>

<p>Why? She’d done so much in her first year at Hogwarts — had battled a troll and tangled with the Dark Lord. She and Hermione had helped Harry break past the best defences Albus Dumbledore and Nicolas Flamel could devise, and would have succeeded in claiming the philosopher’s stone, if Flamel hadn’t used a fake. Why then, was she sitting here like a delicate flower, waiting for an escort from her future husband? Was she so weak that she couldn’t even conceive of doing something as simple as… as even stepping outside the manor’s front gate?</p>

<p>The thought stilled her. Harry had taken her to the moors of Dartmoor and the forests of Brazil. She’d flown across Scotland and travelled under the North Sea in a muggle-built magical submarine. But just beyond that front gate was almost-unknown territory — unknown territory, which she at least knew contained a muggle-cum-magic village that she couldn’t ever remember visiting.</p>

<p>Daphne nodded to herself. That’s what she was going to do. She was going to go down to explore the village — to find out what was there for herself. She was old enough. She had wandless magic. She could protect herself. There had to be loads of other wizarding children her age that did it all the time. There was absolutely <em>no</em> reason why she couldn’t.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Lord Jacob Greengrass sat in his sitting room, reading the Daily Prophet as was his habit on a lazy Sunday afternoon. Thanks in no small part to his future son-in-law, it had been quite a while since he’d had a Sunday as lazy as this one.</p>

<p>The door to the sitting room creaked open and his oldest daughter poked her head through.</p>

<p>“Daphne?”</p>

<p>“Father.” She entered the room and presented herself before him in a manner that screamed, ‘I’m being super official here. I dare you to make fun of me.’</p>

<p>Jacob held back a grin.</p>

<p>“I wish to inform you,” she started, “that I plan to travel down to the village this afternoon.”</p>

<p>Jacob blinked. “The village?”</p>

<p>“Yes, I think it’s about time I saw it.”</p>

<p>Jacob put down his paper. “Okay, we can do that. Rodger did say—”</p>

<p>“—No!” Daphne suddenly looked flustered. “I mean, I want to go by myself.”</p>

<p>“Why?”</p>

<p>Daphne’s cheeks reddened. “Because I just do.”</p>

<p>Jacob studied his eldest intently. She stared back at him, more defiance in her eyes than he’d ever seen before. Eventually he nodded and picked up his paper again. “Okay. But I want you back here before sundown, understand?”</p>

<p>“I understand, Father.” She then turned around, beaming widely, and left.</p>

<p>Jacob waited for a few moments until the sound of retreating footsteps had fully faded away. “Milly!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne stood in front of her bedroom mirror, holding clothes up to her body and frowning. In one hand she held a pretty summer dress. In the other she held a pair of hiking trousers. It was a toss-up between dressing like a muggle teenage girl or dressing like a muggle teenage girl who expected close encounters of the cow and mud variety.</p>

<p>“Daappphhhh.”</p>

<p>Oh, Merlin. Daphne turned. “Yes, Tory?”</p>

<p>Astoria Greengrass hung off the bedroom door, face a picture of innocence. “What are you doing?”</p>

<p>“I’m getting ready to go out.”</p>

<p>“You’re going down to the village.” Astoria announced this as though she’d just won something.</p>

<p>“How do you know that?”</p>

<p>“Asked great-great-great-grandfather.”</p>

<p>Daphne turned back and closed her eyes. That damn painting. “I’ll be back by sundown. I’m sure you’ll find something to—”</p>

<p>“—I’m going with you!”</p>

<p>“What?!” Daphne spun back around. “No, you’re not!”</p>

<p>“I am!”</p>

<p>“There’ll be muggles there! You don’t have the clothes.”</p>

<p>“You and Harry started going out around muggles years ago. I can just use some of your old clothes, can’t I?”</p>

<p>“I…” Daphne hesitated. “I’m still not sure it’s a good idea. You might get lost.”</p>

<p>“I won’t get lost!” Astoria pouted. “You just think I’ll slow you down, don’t you?”</p>

<p>“No!”</p>

<p>“I bet you’re secretly sneaking out to see Harry, aren’t you?”</p>

<p>“Why would I need to do that? He comes here!”</p>

<p>Astoria grinned. “I bet it’s because you two are secretly kissy kissy—”</p>

<p>“We are not!”</p>

<p>“—and that’s why you don’t want me along.”</p>

<p>Daphne’s face was now flushed red. “We haven’t done anything like that yet.” She didn’t count that one time they kissed in an empty classroom to trap Dumbledore. “And you’re not coming with me.”</p>

<p>“Maybe I should talk to Harry next time he comes over? I’m sure he’d say it was okay.”</p>

<p>“Harry’s not here.”</p>

<p>Astoria’s grin morphed into a deceptive smile so innocent and convincing as to make politicians cry tears of envy. “Maybe I should tell Harry what a certain someone keeps under their pillow at night.”</p>

<p>Daphne froze.</p>

<p>The two girls eyes flickered back and forth between each other and said pillow. Time slowed down. Then Daphne lunged, but with two items of clothing still in hand wasn’t able to reach her target before Astoria dived in front of her, landing on the bed, stomach first, and snatched out the item from under the pillow.</p>

<p>“Got it!”</p>

<p>“You—!”</p>

<p>Astoria rolled off the bed and held the framed magical photo up, triumphant. Said magical photo featured Harry’s amused, smiling face, although at the moment it was rolling its eyes at Astoria’s antics.</p>

<p>Daphne flung out her hand and wandlessly summoned the framed photo right back to her, her face now tomato red, but that didn’t stop Astoria from giggling up a storm.</p>

<p>“Don’t.” Daphne searched for words. “Don’t <em>ever</em> tell Harry about this.”</p>

<p>“But it’s so cute, Daphne.”</p>

<p>“And you shouldn’t be poking around my room either!”</p>

<p>Astoria made a kissy face at her.</p>

<p>Daphne huffed. “Okay, fine, I’ll take you with me, but not one word to Harry, okay?”</p>

<p>Astoria smiled. “Greengrass family secret!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Greengrass Manor backed out onto a muggle road that led into the depths of the Cumbrian wilderness. The manor itself was hidden from muggle eyes — both by the hedge surrounding it, and by enchantments. Any muggle with the strength of will to overcome the muggle-repelling wards — who managed to poke their head over the top of the hedge — would see only an empty field with an abandoned shed in the middle.</p>

<p>And now, from out of the totally empty field, walked two girls, appearing from nothing through the front gate as though conjured from thin air. The girls now wore almost-identical summer dresses in floral print — the result of a spirited negotiation that lasted almost twenty minutes.</p>

<p>Daphne closed the front gate behind her and wrapped her purse around her wrist, fully ready to start exploring without her usual escort. She looked up and down the road. Both directions looked identical. Ummm.</p>

<p>“Which way is it, Daphne?” Astoria asked.</p>

<p>Daphne cursed in her head. “Well, it has to be one of them,” she said, as though that was in any way a helpful observation.</p>

<p>“Do your mirror trick!”</p>

<p>“I don’t have a mirror with me. But…” She looked up and down the road again. There hadn’t been a muggle car since they’d opened the gate. “Watch out for me okay? I’m going to use the eyeball.”</p>

<p>“Kay.”</p>

<p>Daphne sat down on the grass at the side of the road, doing her best not to get her dress dirty, and summoned her invisible magic seeing eyeball. Her world shifted and soon she was looking down on it from high up in the air. She looked around.</p>

<p>“Well?” Astoria asked, “Can you see it?”</p>

<p>“No, but there is a house not far up the road. Maybe we can ask whoever lives there which way it is.”</p>

<p>“We can ask the muggles!”</p>

<p>Daphne opened her own eyes again to see Astoria jumping up and down in obvious excitement. “Tory!” she snapped.</p>

<p>Astoria stopped jumping.</p>

<p>“Remember your studies. No using those kinds of words out in the open.”</p>

<p>Astoria looked down, suddenly all meek. “Sorry, Daphne.”</p>

<p>Daphne softened. “How would you like to do the asking?”</p>

<p>Astoria looked back up again, all smiles once again.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Mrs Rollandson had nothing against hikers. They were usually polite and wanted little more than directions or the occasional glass of water, which she was happy to provide. But that didn’t mean they always chose the best moments to drop by. She’d just gotten her iron heated up and ready to attack her husband’s massive pile of wrinkled clothes, when the doorbell rang. Mrs Rollandson sighed and put the iron down.</p>

<p>She walked across the living room and opened the front door. What greeted her was not what she’d expected. Two young girls — sisters by the looks of it — dressed more for a tea party than for hiking. “Can I help you?”</p>

<p>The younger girl stepped forward, pushed slightly by her big sister. She curtsied nervously. “Excuse us for bothering you, but perhaps you could tell us the direction to the village?”</p>

<p>Mrs Rollandson couldn’t help but smile. “You mean Appleby-in-Westmoreland?”</p>

<p>The girls nodded.</p>

<p>“It’s just up that way.” She pointed up the road.</p>

<p>The younger girl cheered, all formality forgotten.</p>

<p>“But where did you two come from to not know that? There’s nothing up the other way for miles.”</p>

<p>The older girl put her hands on the younger girl’s shoulders. “Our parents just wanted to make sure. They’re waiting with the car not far away.”</p>

<p>“Oh.” That made sense, if a little irresponsible of them. “Well, I’m glad I could help.”</p>

<p>“Thank you, as well!” The little girl waved as her sister led her up the garden path back to the road.</p>

<p>Mrs Rollandson smiled, turned, and closed the door behind her. Her gaze fell over her ironing and her eyes widened. She scuttled over to the pile of clothes and her jaw dropped. Every single item of clothing had been ironed, pressed, and folded with geometrical precision — even the damn socks! After an hour of fretting, she eventually decided she must have brownies living in the garden, and proceeded to leave out a bowl of milk for them, every morning, for the next thirty years.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Daph, do you think it’s much further?”</p>

<p>“We haven’t been walking <em>that</em> long, but as it happens, no, I don’t believe it’s too far away.”</p>

<p>“Why do you think that?”</p>

<p>Daphne pointed to a brown sign at the side of the road.</p>

<p>‘<em>Welcome to Appleby-in-Westmoreland. Please drive carefully through our village.’</em></p>

<p>“Oh,” said Astoria, rather sheepishly.</p>

<p>They continued to walk down the road until the hedgerow to their right turned into rough grey masonry. They turned the next corner and stopped. Beautiful cottages with front gardens in full bloom stretched out down the road. They stood aside to let a muggle car pass. There didn’t seem to be a hint of magic anywhere.</p>

<p>Astoria leaned into her and whispered, “How do we know who’s one of us and who isn’t?”</p>

<p>Daphne glanced up the row of houses. A middle-aged woman in a pointy hat waved cheerfully at them from behind a curtain in one of the cottage’s upper rooms before drawing the curtain shut. “I don’t think it’ll actually be all that hard.”</p>

<p>The two girls strolled further up the road until they turned another corner and reached the village centre. A massive oak tree stood on an island in the middle of the street, forcing the few muggles driving cars to circle around it. Muggle shops lined the street on both sides, displaying all sorts of things in their windows — some familiar, others not.</p>

<p>“Oh, oh, oh!” Astoria grabbed Daphne’s hand and pointed. “Look, Daph! Ice cream! Different from ours!”</p>

<p>Daphne looked at the pastel-coloured shop window with uncertain eyes. “Umm…” She snapped open her purse even though she knew it was useless.</p>

<p>“Please, Daph!”</p>

<p>Daphne gazed down at the half-dozen solid gold coins held within. “I don’t actually have any pounds on me.”</p>

<p>“Awwww!”</p>

<p>“But… maybe….” She looked over at Astoria. “Are you sure you want this kind of ice cream?”</p>

<p>“Yes!”</p>

<p>“It might not be as good as our kind.”</p>

<p>“Don’t care.”</p>

<p>“Okay, then.”</p>

<p>They continued to walk up the street. Daphne wasn’t quite sure what she was looking for, but she was sure she’d know it when she spotted it. And, indeed, in a shop window a dozen shops away from the ice cream parlour, someone had proudly displayed a small poster of a long, light blue triangle, containing a downward-pointing, half-invisible arrow. Daphne smiled and nudged Astoria. “See anything you recognise?”</p>

<p>Astoria looked around in puzzlement for a moment before her eyes fell on the poster. She gasped. “The Appleby Arrows,” she whispered.</p>

<p>Daphne smirked, put her hand on the door handle to the shop, and entered to the sound of a small tinkling bell.</p>

<p>The inside of the shop contained a little bit of everything. As with the shop windows up the street, some things Daphne recognised and some things she didn’t, but nothing screamed ‘magic.’ Behind the counter, an elderly gentleman looked momentary surprised before he schooled his features, gave them both a respectful nod, and returned to whatever business had been occupying him.</p>

<p>“Hey, Daph, what’s this?” Astoria picked up a thing made of red rubber with a wood handle.</p>

<p>Daphne cautiously took the device. “Let’s see.” She saw that the rubber bent quite easily. She pushed it against a wall and let go. The thing stayed stuck to the wall. “There you go. It’s for hanging things on.”</p>

<p>“Oh.”</p>

<p>A hesitant cough interrupted them from the counter. “Miss Heiress?”</p>

<p>Daphne turned.</p>

<p>“That’s a plunger, Miss Heiress. Muggles use them to unblock toilets.”</p>

<p>“I see. Do you have any magical goods to sell?”</p>

<p>The shopkeeper reached down and fumbled for something under the counter. There was a loud whoosh noise, and many of the shelves around the counter flipped over, faded away, or in the case of one shelf by a wall, actually picked itself up on little legs and scuttled off to one side, revealing a small hidden room beyond.</p>

<p>“Wow!” Astoria jumped up and ran to look over the newly exposed shelves. “Look, Daph, they have Top Broom!”</p>

<p>“Astoria,” Daphne said in a warning tone of voice, “you know Father doesn’t want you reading that until you’re of Hogwarts age.”</p>

<p>Astoria pouted.</p>

<p>The man behind the counter gave Daphne an apologetic look. “Sorry about that.”</p>

<p>“Please don’t let it worry you.” She looked towards the open door. “Won’t muggles see this stuff?”</p>

<p>“Oh, they can’t. There’s a muggle-repelling ward linked to the shelves when they turn. Had to get permission from the ministry and everything. Took three inspections to get it right.”</p>

<p>Daphne nodded. It made sense. Appleby was a mixed village — one of only fourteen in the whole country. It wasn’t pure, like Hogsmeade, or an enclave, like Holyhead. It was only natural that regulations here would be a lot tighter than elsewhere.</p>

<p>Astoria was by now ogling the many magical sweets behind the glass display next to the counter. There was plenty of choice, but not nearly as large as one might find in, say, London.</p>

<p>“So,” Daphne started, “what interesting things <em>does</em> the ministry let us do here? This is the first time my sister and I have visited.”</p>

<p>The man indicated a height somewhere about his shins. “Since you were yay high, yeah.”</p>

<p>Daphne smiled.</p>

<p>The man rubbed his chin. “Interesting things, huh? The quidditch field’s across the main road, hidden by the v-shaped maple tree. The children and younger lads spend most of their time there of a summer’s day — more than quidditch too — snap, quodpot, duelling as well — though I guess that wouldn’t be your thing.”</p>

<p>Daphne’s eyes flashed at ‘duelling,’ but said nothing.</p>

<p>“There’s one of the local pubs — The Winged Horse — occasionally seen your father there of an evening having a pint or a bite to eat.”</p>

<p>Daphne raised an eyebrow.</p>

<p>“Pretty sure he’s friends with old Rodger who owns it.”</p>

<p>Old Rodger… why did that name ring a bell?</p>

<p>“There’s also the local ministry office if you find yourself in need of a boner.”</p>

<p>The rubber plunger, still stuck to the wall, choose that exact moment to drop off and land on the floor.</p>

<p>“…Boner?” Daphne felt the heat rise in her cheeks.</p>

<p>“I mean the DMLE, sorry, Miss Heiress. That’s what we call the security wizards.”</p>

<p>Astoria was watching her with a puzzled expression.</p>

<p>Daphne decided to take control of this conversation before her sister made this way more awkward. “So, can you give change in muggle money for wizarding money?”</p>

<p>The man nodded, “I can do that.”</p>

<p>“Excellent. Then I’ll have a small nogtail pasty.” She fished in her purse for a one-galleon coin.</p>

<p>The man stared at the solid gold coin with incredulity before carefully counting out £49.65, totally failing to hide his pained expression.</p>

<p>When they stepped outside, Astoria turned to her. “Daph, what’s wrong with something being called a bon—”</p>

<p>“—Tory. Do you <em>want</em> an ice cream?” Daphne asked in a warning tone of voice.</p>

<p>“Yes.”</p>

<p>“Then you’ll not ask that question until you’re a teenager.”</p>

<p>“<em>You’re</em> not a teenager either.”</p>

<p>“I will be in a few months — and I also <em>read</em> a lot more than you do too.”</p>

<p>Astoria pouted, but only until they arrived back at the muggle ice cream parlour. “I’ll have strawberry, and chocolate, and mint, and fudge, and coconut, and lemon — oh, and also rhubarb.” Astoria beamed at the woman behind the counter.</p>

<p>“Oh, you will, will you?” The muggle woman smiled and looked towards Daphne, who nodded.</p>

<p>“She will.”</p>

<p>Soon, the two witches were once again walking up the street, this time toward and over the River Eden, where the wizard from the shop said the quidditch grounds lay. Daphne nibbled on her pasty while Astoria enthusiastically licked her six-story ice cream held together with wooden sticks — an endeavour that, without cooling magic to combat the summer heat, soon turned into a big, sticky race against time.</p>

<p>They could hear the rumble as they stepped off the bridge — a low thrum, getting louder, punctuated by a regular ‘Vrooom’ sound.</p>

<p>They turned another corner.</p>

<p>*Lick* “That’s a lot of cars.” *Lick*</p>

<p>A wall of noisy, fast-moving muggle vehicles blocked their progress. It was, indeed, a lot of cars. “This must be a ‘main road’.”</p>

<p>*Lick* *Lick* *Lick*</p>

<p>Daphne looked up and down, searching for a way over — a bridge maybe? Or a tunnel? She couldn’t see anything.</p>

<p>*Lick* “Maybe someone will stop for us.” *Lick* Astoria’s ice cream was now melting down her hands faster than she could keep it in shape.</p>

<p>Daphne frowned. There didn’t seem to be anyone who might stop for them. Most of the muggle car riders didn’t even seem to see them before they passed. “I think we’ll just have to wait until there aren’t any coming.”</p>

<p>*Lick* *Lick* *Lick* *Lick* *Lick*</p>

<p>Astoria’s ice cream started forming a small puddle on the ground.</p>

<p>Daphne was getting annoyed. Car after car passed in front of them in a never-ending stream. There had been times when she thought they might be able to get across, but she wasn’t quite sure. Daphne’s instincts screamed at her that running in front of several tonnes of speeding metal when you weren’t sure was a bad idea. But there just seemed no end of them. Surely there had to be <em>some</em> time when there weren’t any.</p>

<p>*Lick* *Lick* *Lick* *Lick* *Lick*</p>

<p>Daphne sighed. “Maybe we should just head back.”</p>

<p>Astoria made a small whining noise in between frantic licks.</p>

<p>“We can do some research on how to cross these things and try again another time. I’m sure there must be a book in Flourish and Blotts that will—” But Daphne didn’t get to finish her sentence because at that moment Astoria jabbed her finger up the road while squealing as loud as she could, her mouth jammed into the second-to-last, half-melted ball of dribbly stickiness.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Gunter Heartwood wasn’t an overly superstitious man — there wasn’t much call for that sort of thing on his overly long route between Calais and Edinburgh — but he’d still be happy to concede that, “Oh, yeah, of course there’s weird stuff that goes on.” He’d be especially happy to concede this after several pints at journey’s end. Having said that, he’d never personally encountered anything that made him go, “Now that’s some weird shit, right there.”</p>

<p>So when his lorry’s power just suddenly cut out while halfway down the A66, Gunter’s first instinct was to curse and try and get his machine back in gear. Needless to say, this didn’t work. Instead, his lorry came to a slow, controlled stop, all by itself, right in the middle of Appleby-in-Westmoreland.</p>

<p>This would have been weird enough, had it not been for that the fact that on the other side of the road, another man in a lorry just like his had also inexplicably stopped, and two girls in summer dresses started walking across the road as though his lorry had decided to obey some invisible zebra crossing.</p>

<p>While he desperately worked his key and pedals in an apparently futile attempt to re-start his engine, the elder girl stopped in front of his lorry and bobbed a curtsey.</p>

<p>Gunter stared as the older girl repeated the curtsey for the other lorry driver. Nonplussed, he watched the two girls reach the pavement on the other side of the road, and then, with no input from him, his lorry rumbled back into life.</p>

<p>Gunter tried not to think too hard about it as he pulled away, totally ignoring the loud car horns blaring impatiently behind him, but one thing he did conclude was that that, right there, had been some seriously weird shit.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>“Daph! Daph! Here it is!” Astoria had finished her ice cream by now, or at least, what she’d been able to finish before the forces of entropy had their wicked, messy, way. She now pointed towards a v-shaped maple tree with a massive grin plastered on her surprisingly clean face — surprising, that is, to anyone who had seen it only a few minutes earlier.</p>

<p>Thankful that a couple of the muggle drivers had finally been polite enough to stop for them, Daphne carefully folded up her self-cleaning handkerchief and put it back in her purse. “Wait, Tory.” She wandered over to where Astoria had already put a foot through the magic gateway to the Appleby Quidditch Field. “What is it important that we remember?”</p>

<p>“Occlumency, manners, and custom.”</p>

<p>“Exactly. We are the daughters of the Most Ancient and Noble House of Greengrass. We have to act like it.”</p>

<p>Astoria nodded.</p>

<p>Daphne took her little sister’s hand and together they stepped through the v-shaped maple tree, through a wibbly wobbly portal thing, and right out into an open field bustling with activity.</p>

<p>“Wow,” Astoria whispered.</p>

<p>Close to three dozen wizards and witches zipped about above them on broomsticks — some of them looked younger than <em>they</em> were. On the field in front of them, several groups of children and teenagers, and even adults, were engaged in all manner of magical activity. The wizard from the shop hadn’t been joking — quodpot and snap, yes, but also wizard chess, bowls, and even what looked like competitive transfiguration. A pair of abraxan horses were tied up off to the side, grazing on the lush grass, and resting under a tree.</p>

<p>Daphne had to agree that it was impressive. If only because they’d actually walked here from the manor. They hadn’t used the floo or been apparated — they’d <em>walked</em>. A flash of red on the far side of the field caught her attention. A stunner. Several young men danced around each other throwing spells as fast as they could. Duelling.</p>

<p>“Daph!” Astoria whispered, pointing to the sky and clearly trying to stay as composed as she could while also obviously close to hyperventilation. “It’s the Appleby Arrows!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Appleby-in-Westmoreland had thirty-five magical children of Hogwarts age. Of those thirty-five, only six actually went to Hogwarts — the others went to one of the other three schools down south.</p>

<p>Robert Longsdale was one of the six, about to start his fourth year in Ravenclaw House. He sat with his small group of friends, busy on summer homework, occasionally aided by Jack, his older brother, and Adelaide, Jack’s muggle girlfriend, who knew nothing of magical theory, but <em>did</em> know plenty about spelling, grammar, and essay writing in general.</p>

<p>Robert was facing the village and was, therefore, the first to spot the new arrivals. He leaned in closer to the circle. “Okay, don’t look, but Daphne Greengrass just crossed the maple tree.”</p>

<p>“Is that her little sister?”</p>

<p>“<em>Don’t</em> look, idiot.”</p>

<p>“Who’s Daphne Greengrass?” Adelaide asked.</p>

<p>Robert’s friends hastened to explain.</p>

<p>“She’s like the closest thing Magical Britain has to an actual princess.”</p>

<p>“She lives in the manor just up the road, but we’ve <em>never</em> seen her before.”</p>

<p>“She’s going to be Lady Slytherin when she’s older.”</p>

<p>“What’s she doing <em>here</em>?”</p>

<p>“We don’t want to get into trouble for ignoring her.”</p>

<p>“Maybe one of the others will go talk to her.”</p>

<p>Robert looked around. No one else seemed to have noticed the two girls yet.</p>

<p>“Maybe <em>you</em> should go talk to her, Jack,” Adelaide said, slipping an arm into his older brother’s.</p>

<p>Jack looked torn. “I’m, ummm, not really comfortable with nobles. I didn’t go to Hogwarts, did I?”</p>

<p>There was a pause.</p>

<p>Robert realised with dawning horror that everyone, even <em>Adelaide</em>, was looking expectantly at <em>him</em>.</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne watched the young men duelling on the other side of the field with judging eyes. The spells being thrown about were basic and their casting speed wasn’t anything to write home about. She’d honestly expected more considering they were clearly of age.</p>

<p>“Daph, do you think I could fly too?” Astoria asked, pointing up to the many quidditch players still zipping around in the sky above them.</p>

<p>“I don’t think that would be a good idea — not unless one of the Arrows offers.”</p>

<p>“Aw.”</p>

<p>Off to the side, one of the boys from a random group sitting in the shade of a nearby tree had broken off from his friends and was making his way towards them.</p>

<p>“Maybe we could talk to Father about getting you some lessons back home.”</p>

<p>Astoria grinned.</p>

<p>Daphne turned to face the approaching boy.</p>

<p>“Heiress Greengrass?” The somewhat familiar boy hid his nervousness well, but not well enough. “I didn’t expect to see you here.”</p>

<p>“We’re just out for an afternoon stroll…” Daphne rifled through her memories. She <em>had</em> seen him before, she was certain. “…Longsdale, right? Robert Longsdale — Ravenclaw House.”</p>

<p>Longsdale’s shoulders noticeably relaxed. “You remember me.”</p>

<p>“You thanked me for saving Sophie from the troll.”</p>

<p>“Yes.”</p>

<p>“Mmm, I don’t recall your family having a political affiliation.”</p>

<p>Longsdale shifted nervously. “I’m the first in my family to go to Hogwarts. But I’d say we’re Gray-ish. We are an Appleby family, after all.”</p>

<p>Daphne smiled. “Lived here all your lives?”</p>

<p>“For five generations.”</p>

<p>Longsdale’s friends were all watching from the shade of a nearby tree with unashamed interest. One of the Appleby Arrows chose that moment to land next to them and, after introductions and several minutes of pleasantries, an ecstatic Astoria was flown up into the air, riding side-saddle on the back of the cheerful team captain’s broom, squealing and shouting as the captain gently lapped the field while throwing in the occasional dip and turn.</p>

<p>“Perhaps you could introduce me to the duellers?” Daphne suggested to Longsdale.</p>

<p>The duellers, it turned out, were two young men training to be security wizards for the DMLE. They’d gone to The Box together in London, which explained their rather basic offensive spell repertoire.</p>

<p>“Care for a friendly match?” Daphne asked. “One-on-one — best of three?”</p>

<p>The two young men gave each other sceptical looks. “No disrespect, Miss Heiress, but you’re not exactly allowed to use your wand during summer holidays.”</p>

<p>“Who said I needed a wand? Oh, hello, who’s this?”</p>

<p>The rest of Longsdale’s group had wandered over. Another quick round of introductions followed, finishing with a fascinated muggle girl who’d only recently been introduced to the magical world after her boyfriend had finally gotten his guide licence.</p>

<p>“I thought you needed a wand to do magic?” Adelaide asked, apparently not noticing the looks of raw awe that Daphne’s faintly glowing fingertips were receiving.</p>

<p>“Most people do,” her boyfriend half-whispered. “Only the most powerful wizards in history have been able to do wandless magic.”</p>

<p>Daphne smiled, but said nothing.</p>

<p>The two DMLE hopefuls were now looking at Daphne with rather more respect than before.</p>

<p>Daphne handed her purse to Robert before turning to them. “Shall we?”</p>

<p>What followed were six duels with astonishingly even matchups, considering she was facing fully grown wizards wielding wands. They used stunners, body-binds, ropes, and shields. Daphne used stunners, stingers, shields, finite incantatem, banishers, and summoning. They focused on the attack, using their larger magical reserves to wear her down. Daphne focused on keeping her distance, only closing the gap when she was ready, then unloading with a practised speed far faster than the young men had yet mastered.</p>

<p>They took plenty of time between matches to rest and recover and by the end of it all they’d attracted quite the little crowd. Even some of the broomstick riders paused in their games to watch while floating overhead. The sun was far lower in the sky now. The final score came out at 2-1, 2-1, both in Daphne’s favour. She rested with her hands on her knees, breath fast and shallow, while the small crowd clapped.</p>

<p>“That was awesome, Daphne!”</p>

<p>Daphne looked up.</p>

<p>Astoria beamed down at her from where she sat on the broomstick behind the Arrows captain, who gave Daphne a big cheesy thumbs up and brought his broomstick down low to the ground next to her. Astoria hopped off and brushed down her skirts. “I’m hungry!”</p>

<p style="text-align: center">— DPaSW: TFoP —</p>

<p>Daphne had to admit that getting back across the main road was a lot easier second time around. Robert Longsdale was a lot better than her at judging when it was okay to quick march across. The older boy then guided their group, which included his brother, Jack; Adelaide; and the rest of their friends, up the main street until they reached a pub, which the muggles around them — excepting Adelaide — didn’t even seem to notice.</p>

<p>“The Winged Horse,” Jack declared, holding the door open for her. The inside reminded Daphne strongly of a better-kept Leaky Cauldron. Several faded posters on a wall advertised trivia night, snitch shooting, and witches night. They quickly found a table large enough for all of them.</p>

<p>Astoria copied Daphne’s elegant way of sitting down, although the effect was somewhat ruined by her grabbing and inspecting the novelty salt shaker with wide-eyed fascination.</p>

<p>“So… Miss Heiress? — is that right?” Adelaide addressed Daphne before looked around uncertainly. Everyone else was happily chatting among themselves.</p>

<p>“We’re about to eat together. Call me Daphne.”</p>

<p>The old barkeeper handed around a set of menus and gave Daphne a conspiratorial wink.</p>

<p>“Right — Daphne — so, what exactly is Lord Slytherin like?”</p>

<p>All conversation died.</p>

<p>“I mean, I’ve read about him — Jack gets me Witch Weekly — and everyone seems to think he’s some kind of cross between the Mask of Zorro and Lord Byron, but no one seems to actually know anything about him.”</p>

<p>“Lord Slytherin is…”</p>

<p>“I’ll have scampi and chips!” Astoria declared.</p>

<p>“… wonderfully complicated.”</p>

<p>They all proceeded to order food while Daphne told them what she could about Lord Slytherin. The group vacuumed up every little titbit, taking particular delight in her recounting of how Slytherin had saved her and Hermione in the Slytherin common room at the start of last term.</p>

<p>A commotion from the kitchen drew Daphne’s attention. A man wearing an apron appeared from a door at the back, threw a white, floppy hat onto the counter, and stomped off.</p>

<p>The barkeeper roared with laughter.</p>

<p>Daphne shrugged, turned back, and the group continued to chat until the food was brought out. Most, including Daphne, had chosen the daily special — shepherd’s pie with butterbeer.</p>

<p>Astoria glared at her fish and chips as it was placed in front of her.</p>

<p>Daphne had to agree that her sister’s serving did seem much smaller than everyone else’s. She turned back to her current favourite conversation partner. “So, Adelaide, what’s it like to join the magical world?”</p>

<p>“Incredible. Appleby isn’t a big place. I grew up knowing most everyone here. To find out that almost a third of them belonged to this secret magical society… well… it was like having the blinkers taken off. So many things suddenly made much more sense.”</p>

<p>Jack grinned and put an arm around Adelaide’s waist.</p>

<p>The conversation flowed freely from then on, much like the butterbeer from the large tankard in the middle of the table.</p>

<p>Daphne was just polishing off her own serving of Shepherd’s pie, when the barkeeper started moving tables around. “Snitch shooting starting in five!” he shouted. The room was quickly filling up with older wizards and witches. “What about you, girl?” he said to Daphne. “I hear you’re a dab hand at wandless stingers.”</p>

<p>Daphne frowned. “I’m sorry, I fear you have me at a disadvantage.”</p>

<p>The old barkeeper tapped his forelock. “Rodger North, at your service, my lady.”</p>

<p>Daphne’s eyes widened. “Rodger North? As in Old Rodger? As in <em>Lord</em> Rodger North?”</p>

<p>“That’s me.”</p>

<p>Daphne quickly schooled her features.</p>

<p>Rodger roared with laughter again. “Don’t you start going all pureblood formal on me, girl. I won’t have it from your dad, and I won’t have it from you.”</p>

<p>“I’m sorry, I wasn’t expecting…”</p>

<p>“Weren’t expecting a lord of the Gray faction to be working a bar counter? We don’t all live in manors, you know.”</p>

<p>“I know, I know, it was just a bit of a shock.”</p>

<p>“So, how about it?” He pointed at the box of snitches. “Think you can manage a few?”</p>

<p>“Go on, Daph!”</p>

<p>Daphne glared at Astoria, but did rise from the table, pride easily overcoming embarrassment as those sitting around her cheered and clapped.</p>

<p>When her own round rolled around, she didn’t perform too horribly — some of the younger adults were clearly worse than her — but she was nowhere near as good as the older crowd who competed regularly. Snitch shooting wasn’t anything like duelling, and unless you’d reached Harry’s ability to sense magic, very difficult. She idly wondered whether Ginny, Luna, or even Alexandra would be able to do better, before gracefully sitting back down to numerous verbal pats on the back.</p>

<p>“You did better than some of the grown-ups.”</p>

<p>“Well done.”</p>

<p>“You’re still awesome, Daph!”</p>

<p>The snitch shooting continued and her dinner slowly settled into her stomach just as tiredness slowly settled over her like a warm, comfortable blanket. The group happily cheered the last contender who managed to pluck six snitches out of ten clean from the air.</p>

<p>A wizard and witch started playing the flute and lute a few tables over. The soft music filled the room, giving the many conversations a pleasant backdrop.</p>

<p>Daphne couldn’t help relaxing into it all. She’d set out earlier to explore the village without Harry’s or Father’s help, and she’d succeeded. The village was nice. So were the people. She could imagine herself coming down here more often in the future. Maybe she could even show Harry around if he hadn’t already been here.</p>

<p>“Daphne!”</p>

<p>Daphne looked up to see Astoria frantically pointing towards the window, which displayed a distinct lack of sunlight. Her heart leapt into her throat. The words of her father came back to her — ‘Be back by sundown.’ Bugger.</p>

<p>“What do we do, Daph?”</p>

<p>Daphne quickly went through the possibilities in her mind and latched onto the easiest and most obvious solution. She’d really wanted to walk back home — to complete her exploration on her own — but that wasn’t an option anymore. “Milly!”</p>

<p>The female house elf popped in front of them a few seconds later. She was wearing a floppy white hat and an over-large apron with a picture of a winged horse adorning the front. The rest of their companions watched with interest, especially Adelaide, whose eyes had gone almost as wide as Milly’s.</p>

<p>“Milly, can you — wait, have you been cooking?”</p>

<p>Milly nodded. “Yes, Young Mistress Daphne.”</p>

<p>“Cooking for <em>us</em>?”</p>

<p>“Yes, Young Mistress Daphne.”</p>

<p>Astoria gasped. “You gave me a smaller portion!”</p>

<p>Milly frowned. “Young Mistress Astoria is not to be having a large dinner when she is eating so much ice cream for lunch.”</p>

<p>Astoria made a small whining noise.</p>

<p>Daphne blinked. “You’ve been following us.”</p>

<p>“It is being Lord Greengrass’s orders, Young Mistress. Lord Greengrass and Lord Slytherin would be being most upset if anything bad were to be happening to you and Young Mistress Astoria.”</p>

<p>Adelaide gave Daphne a poorly concealed, amused look.</p>

<p>Daphne sighed. “Can you take us back to Greengrass Manor, Milly?”</p>

<p>Milly nodded. “Milly can be doing that.”</p>

<p>Daphne stood, picked up her purse, and made her way to the bar counter to settle the tab with her father’s friend. She supposed she should have expected something like this. Oh, well. As far as <em>she</em> was concerned, she’d explored on her own. It was the intention that mattered, and she’d be sure to get Harry to take her somewhere truly amazing as soon as she could. She walked back over to the table to extract Astoria. The Greengrass sisters then said goodbye to their new friends, took hold of Milly’s long spindly arms, and felt the world squeeze around them.</p>

<p style="text-align: center;">—End of Chapter Thirty-six —</p>

<p style="text-align:-center"><span style=“font-size: 14pt;”>—End of Book 2 —</span></p>

