Chapter 37 - Diagon Alley Pile Up

<p>Prologue</p>

<p>The role of the soul in magic has long been pondered by wizards and witches. Obviously, it can be split, as in the bastardised horcrux ritual, ripped apart for safekeeping in a suitable vessel — or the soul <em>itself</em> can be the vessel, as in the fidelius charm, storing a secret so closely that it disappears from the minds of sentient beings the world over. Animagus hopefuls speak of soul searching, the month-long process of using hallucinogens to dream walk among what it is that makes them, them — while seers like to think of the inner eye as the <em>gateway</em> to the soul, and devote countless hours to carefully examining the confusing snatches of vision that smash across their consciousness like the world’s worst stained-glass window.</p>

<p>Soul magic is tricky business. It’s not for nothing that the number of known fidelius charm users in Great Britain can be counted on just one hand, <em>if</em> you’re in the know, and with just one middle finger, if you’re not. Even <em>those</em> users sometimes have problems.</p>

<p>Hidden behind a secret passageway in the seventh-year Hufflepuff girls’ shower room, an invisible man in a green and black mask laid a set of miniature rune stones around the second entrance to the Chamber of Secrets. He sat down in the centre of the formation and stilled in meditation for a good twenty minutes. Distilled magical power radiated out from him in waves.</p>

<p>The man raised his wand over his head and brought it down onto the rune stone in front of him. “Fidelius Occultum.” There was a change in the air surrounding the rune stones as the entrance’s location was swept from the world. The man nodded to himself before moving on.</p>

<p>Down the hallway, a confused house elf had to fight off the urge to curtsey to empty air as he passed her. His gait was tall and confident, even under disillusionment — perhaps like a king cobra, perhaps like a lion, or perhaps like something else entirely — but definitely like something regal.</p>

<p>Arriving at Hogwarts’ ancient quidditch stadium, the man entered the Ravenclaw girls’ changing room, hissed to a tiny bronze snake adorning the frame of a large ornate mirror, stepped through the resulting door, and set up another set of rune stones. After another twenty minutes of meditation, the man brought his wand down to the rune stone in front of him and again said, “Fidelius Occultum.”</p>

<p>But this time there was no change.</p>

<p>The man stared at the stone for a moment before repeating the meditation, brought his wand down again, and said, “Fidelius Occultum,” in a slightly firmer tone of voice.</p>

<p>Again, nothing happened, except, the man thought, for an inexplicable feeling of fullness. He narrowed his eyes and started counting on his fingers while muttering under his breath. When he got to six, he paused, then counted seven by jerking his thumb in the direction he’d just come.</p>

<p>“Damn.”</p>

<p>He cast a tempus charm, cursed again, collected up the rune stones, and then spent several minutes waving his wand over the entrance before heading back up to the castle. One hour and one memorable encounter with the ghost of Myrtle Warren later, he’d finished his stop-gap warding of the thirteen entrances, and casually stepped out of the Slytherin sixth-year girls’ dormitory, climbed up the stairs to the Slytherin common room, and walked out through the portal to the rest of the dungeons.</p>

<p>The man didn’t get far before he spotted a familiar, crooked-nose figure wearing a cloak that billowed, despite their being underground. The masked man had a quick debate with himself about timekeeping, before shrugging, dropping his disillusionment, and stepping out into view.</p>

<p>The other man, who carried a large bundle of herbs tied up with string, made almost no reaction… almost. He did straighten up slightly. “Lord Slytherin.”</p>

<p>“Severus Snape. I seem to recall you wished to speak to me when I had a moment.”</p>

<p>“This… is so.”</p>

<p>“It just so happens, I have one now — although I do also have several appointments, so I’d appreciate if you kept it brief.”</p>

<p>Snape nodded slowly. “I wished to say that before I was petrified last Halloween, I believe I may have misjudged the situation.”</p>

<p>“Which situation? The situation where you called me arrogant and cowardly? Or the situation where you mentally attacked my vassal?”</p>

<p>Snape lowered his head. “You have my deepest apologies, my lord — you, and the girl.”</p>

<p>“You’ll have plenty of opportunities to apologise to Hermione personally.”</p>

<p>“Yes, my lord — and you have granted me something I have wished for, for many years.”</p>

<p>“Not for your sake, I assure you. Defence is not a professorship to be handed out to stuttering imbeciles.”</p>

<p>“You show mercy and fairness, my lord.”</p>

<p>Lord Slytherin said nothing.</p>

<p>Snape looked up from the floor and continued. “Since I have been unpetrified, I have made a study of what little I have been able to of your cause. I believe my own views align more closely to them, than the alternatives.”</p>

<p>“And what <em>is</em> my cause?”</p>

<p>“You believe muggleborns should be brought into our world, but you do not agree with how it is currently done. You do not agree in purity of blood as a measure of worth… by itself. You do not believe in abolishing the old ways, nor do you believe in many muggle practices such as representative democracy.”</p>

<p>“Do I not?”</p>

<p>Snape hesitated.</p>

<p>“Representative democracy is a tool,” Slytherin said lightly. “You might as well say I don’t believe in hammers.”</p>

<p>Snape said nothing.</p>

<p>Slytherin said nothing in return.</p>

<p>Snape broke the silence first. “I wish to prove to you that I can be a loyal and useful tool, my lord.”</p>

<p>Slytherin made a noise that could have been a cough or a snort. “So I guessed. You already have two masters, Snape — are you sure you can handle a third?”</p>

<p>Snape’s eyes widened almost imperceptibly. “My lord,—”</p>

<p>“—Snape, I am <em>not</em> ‘your lord.’ I do not give out my overlordship lightly.”</p>

<p>“…My apologies, Lord Slytherin — I wish to only have <em>one</em> master. Might I inquire as to how one might go about proving their value? Dumbledore still places considerable trust in—”</p>

<p>“—You can <em>start</em> by teaching defence to the best of your abilities.”</p>

<p>Snape bowed deeply.</p>

<p>Slytherin nodded and walked past him towards the staircase to the ground floor.</p>

<p>“Lord Slytherin?” Snape calmly called back behind him.</p>

<p>“Yes, Snape?”</p>

<p>“Is there, by any chance, any word on who will be the next potions professor?” He indicated the large bundle of herbs still in his arms.</p>

<p>“No, not yet. I am still waiting for a <em>worthwhile</em> applicant.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Some time later, sun still high in the sky, Lord Slytherin walked up the steps to the wide-open doors of Slytherin Manor on his private island in the Orkney’s, just north of Scotland. He swept through the half-furnished ballroom, still littered with crates and scaffolding, and headed for the basement, quickly reaching the bottom of the stairs.</p>

<p>Only a few weeks ago, this had been a large, cavernous space, but a lot had changed. Now he made his way down a dark hallway, lit by only his wand, footsteps echoing in the empty quiet.</p>

<p>He reached the only door, put his hand on the handle, opened it, and stepped through into a circular room full of doors identical to the one he’d just walked through. He stepped into the middle of the room. “Laboratory.”</p>

<p>The doors spun wildly, not only around and around, but also up and down, moving through each other like the inside of a drunk merry-go-round. Moments later, the doors stopped spinning. Slytherin walked to the door directly in front of him, grasped the door handle, turned it, and stepped through into the room beyond.</p>

<p>The first thing to notice about this room was that it was extremely messy. Books and parchment lay everywhere. A leaning tower of empty bowls on the desk reached up almost six stories, spoons and forks sticking out at each porcelain floor. A wall of empty butterbeer bottles segregated the bowl tower from the only part of the room that wasn’t piled high with assorted stuff.</p>

<p>The second thing to notice was a massive piece of parchment adorning the far wall, covered with scribbled diagrams and titled ‘Animagus Project.’</p>

<p>Slytherin picked his way across the room and plucked, from the floor, an open book filled with bookmarks. The book was titled ‘Black Magical Theory’ and was trimmed in deep purple. He leaned over the desk.</p>

<p>Seven clay pots stood arranged in a septagram. Between them ran lines of faintly glowing grey powder. An empty box off to one side read, ‘Phoenix Ash,’ in hastily scrawled handwriting.</p>

<p>Slytherin gingerly pulled the top off one of the pots. A live grasshopper attempted to jump out, but didn’t quite make it before Slytherin popped the top back on. He nodded in apparent satisfaction, consulted the purple-trimmed book, and made a note on a piece of nearby parchment. “Plato!”</p>

<p>A minute later, a robed house elf opened the door behind him, stepped inside the room, took one look around the literary bomb site, and let out a desperate keening noise. “Master Lord Slytherin, <em>please</em> be letting Plato clean!”</p>

<p>“Standing orders still apply. No entering this room unless I call for you.”</p>

<p>Plato made a whimpering sound.</p>

<p>“But you <em>can</em> remove the empty bowls in <em>that</em> pile and the empty butterbeer bottles, only.”</p>

<p>Plato nodded, physically picked up the plates and bottles, and walked to the door. “Master Lord Slytherin is to be remembering the time, Master. The Gray will not like to be kept waiting, and Light parents will also not be happy if they has to be coming to Grimmauld Place to pick Master up.”</p>

<p>Slytherin nodded. “Yes, thank you, Plato.” He waited for the elf to leave, then made his way back through the spinning doors, past the as-yet non-functioning floo, out of the manor, and into the sunlight, the icy-blue water filling over half the horizon. He made his way past all the rapidly growing magical plants and trees, and down the hill to where the Grangers’ country house had already gotten its foundation, and most of the ground floor. He pulled the rope by the door. A few minutes later, Mister Granger opened it. The genial man held a steaming mug of tea, on which someone had printed the words, ‘I may not have magic, but I try harder.’</p>

<p>“Fancy seeing the latest?” Mister Granger asked as he led Slytherin to their fully functional floo and indicated a door off to the right.</p>

<p>Slytherin checked the time before replying, “Sure.”</p>

<p>The steps behind the door went down a lot further than the ones in Slytherin Manor — and that, despite the fact that Slytherin Manor stood right on the top of the hill. Eventually they arrived in a vast cavern carved into the rock of the island, which led down to a body of water large enough to park two dozen large muggle vans.</p>

<p>The white submarine van they’d used to get their stuff past the goblin-ministry checkpoint sat towards the back of the cavern. “It’s done its job for the moment,” Mister Granger said. He then gestured around him. “What do you think?”</p>

<p>There was a small jetty on the water. Runes covered the walls. Electric lighting hung from the roof like tinsel. Muggle machines were everywhere. There was a general hum of activity in the air. Emma Granger, wearing massive goggles, waved at them from behind a large, metal, lathe-like thing. “It’s a lot of stuff,” Slytherin said. “And you can make better versions now?” He nodded towards the submarine van.</p>

<p>“Bloody well hope so. That thing felt like it was held together with duct tape and dreams.” Mister Granger poured another cup of tea into a mug which bore the words, ‘Best Lord in the World.’</p>

<p>“How far are we off a commercial version?” Slytherin’s eyes trailed over a broomstick on a nearby desk. It had a ring of smooth metal hovering around the shaft by the bristles.</p>

<p>“Of the submarine? We could have a prototype ready by Christmas.” He handed the cup to Slytherin, who took it and blew over the top.</p>

<p>“Okay, let’s do that.” Slytherin tapped on the broomstick with his free hand.</p>

<p>“<em>That</em> was delivered to us by Nimbus just the other day,” Mister Granger said, smiling a devilish smile. “It’s the first one to use our runic rings. Can’t wait to put it through a scanner to find out how it all works together.”</p>

<p>Slytherin frowned under his mask. “You think it might be a good idea to find some way to stop people doing that? We don’t want our commercial secrets stolen the same way.”</p>

<p>Mister Granger shrugged. “We’re pretty useless at new spell creation. We’re engineers, not wizards.”</p>

<p>“Right, right, my job, then.”</p>

<p>“Speaking of.” Emma Granger had wandered over. “It’s Hermione’s thirteenth birthday coming up. I know wizards and witches traditionally start courting then. How likely is it our daughter’s going to be receiving courting gifts?”</p>

<p>Slytherin took a sip of the tea, the mask moulding itself around the mug like a second skin. “Top witch in her year — vassaled to a Most Ancient and Noble House — single-handedly faced down the most powerful wizard in the world in front of two thousand people — troll slayer at age twelve — well mannered — cultured — youngest healer trainee in British history. I’d say the answer is going to be yes, yes, yes, with bells on.”</p>

<p>Emma sighed.</p>

<p>“Don’t worry about it. A declaration of intent gift is just that — a declaration of intent. It means little by itself.”</p>

<p>“You’ve no idea how grateful we are that we have you to back us up through all this,” said Daniel Granger.</p>

<p>Slytherin took another sip. “We’ll see if you still feel that way after I’ve taken off this mask.”</p>

<p>Emma raised an eyebrow. “You’re going to?”</p>

<p>“Soon, I hope — just for you two — for the moment, anyway.” He put the mug of tea down and turned to leave.</p>

<p>Emma smiled. “We look forward to it. We’re not going to run out on you, no matter how wacky your big secret is.”</p>

<p>“Yeah,” said Dan, raising his voice as Slytherin made it almost to the cavern door. “I’ve got to build my spaceship first!”</p>

<p>Slytherin waved, and made his way back up the stairs, walked to the floo, lit the fire with a wandless incendio, took a bunch of powder from the mantlepiece, threw it into the flames, and said, “Greengrass Manor.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Of the 114 lords of the Wizengamot, twenty-nine belonged to the Gray faction. Of those twenty-nine, thirteen sat around the long table in the Greengrass Manor dining room. They included men like Lord Smith, clad in enchanted steel armour under his robes — and Lord Tempest, whose light-blue robes seemed caught in a perpetual, light breeze. That the group numbered thirteen wasn’t of any magical significance, it was just coincidence — one of their number had yet to arrive.</p>

<p>At the head of the table sat Lord Jacob Greengrass. He had a thin pile of parchment in front of him. “…That is why we pushed the board into choosing <em>him</em> for the position of headmaster,” he said.</p>

<p>The assembled wizards murmured among themselves.</p>

<p>“The man does seem workable,” Lord Smith said. “Pliable — pragmatic — smart enough in his own way, but thankfully not smart enough to realise that stepping into a great man’s shoes in between three powerful factions is a terrible idea. And the Light can’t accuse us of marginalising them… but won’t it come back to bite us in the arse if he royally cocks it up?”</p>

<p>“No, that won’t be a problem,” Jacob answered. “Slytherin persuaded Malfoy to make the official announcement.”</p>

<p>There was a series of startled sounds and faces up and down the table.</p>

<p>“How in Morgana’s name did he manage <em>that</em>?” Smith half-whispered.</p>

<p>One of the room’s three doors clicked shut and all heads turned.</p>

<p>“Lord Malfoy and I have come to a temporary understanding,” Slytherin said before making his way to the head of the table. Lord Greengrass stood up for him and moved one seat to the right.</p>

<p>“How temporary?” asked Lord Ogden.</p>

<p>Slytherin sat down firmly in the now-vacant chair. “Until Malfoy disabuses himself of a misunderstanding he is currently under.”</p>

<p>Several lords snorted, despite obviously not knowing what the misunderstanding was.</p>

<p>Lord Davis smiled a knowing smile. “I’m surprised you didn’t use your leverage with the Potters to get <em>them</em> to do it.”</p>

<p>“My leverage?”</p>

<p>“Their younger twin son — the insane duellist — Harry, I believe his name is.”</p>

<p>“I have no idea what you’re suggesting,” Slytherin said, mildly.</p>

<p>“It’s such a shame he’s not the Potter heir,” Davis continued, apparently ignoring the other man’s words. “But it’s certainly fortunate for the boy that he seems to have such powerful friends.”</p>

<p>Lord Lovegood’s mouth twitched upwards and Jacob coughed into his fist before saying, “My eldest daughter has sent me many owls about Harry. I’m sure even without being the Potter heir, he would be valuable to us.”</p>

<p>Davis sniggered. “Oh, I’m sure.”</p>

<p>There was a moment of silence in which the wizards up and down the table traded glances and Slytherin seemed to consider something before he spoke again. “I intend to invite Harry to the winter solstice gathering that I will soon be announcing. Hopefully, you will be able to meet him then.”</p>

<p>Several of the seated lords perked up.</p>

<p>“A party?”</p>

<p>“At Slytherin Manor?”</p>

<p>“Is it near completion then?”</p>

<p>Slytherin nodded. “It will be ready before December, yes.”</p>

<p>From there the group moved on to other things — upcoming bills to the Wizengamot, an invitation from Bodmin Moor Stadium to buy a private quidditch box, and Lord Ogden’s announcement that his granddaughter was now officially ‘off the market.’</p>

<p>They were just wrapping up when Milly, one of the Greengrass house elves, popped into being beside Lord Slytherin, tugged at his sleeve, and whispered, “Lady Lily Potter is waiting to see you in the antechamber, Lord Slytherin, sir.”</p>

<p>Slytherin didn’t noticeably react this. He nodded, waited for the rest of the lords to file out of the main doors, walked over to the door to the antechamber, opened it, and, without fuss or fanfare, stepped inside.</p>

<p>Lady Sunny Greengrass was sitting in an armchair, speaking to Lily Potter who was sat opposite. They both stood as he closed the door behind him.</p>

<p>“Lord Slytherin,” Sunny said, walking towards him. “I present to you, Lady Lily Potter, of the Ancient and Noble House of Potter.”</p>

<p>Slytherin nodded. “Charmed.”</p>

<p>Sunny reached his side, gave his shoulder a gentle, reassuring squeeze, and left, leaving the two of them alone.</p>

<p>Lily wore dark red silk and lace robes — robes which certainly cost as much as the average muggleborn family might spend on food and rent combined, in a month of Christmas days. She waited awkwardly while Slytherin moved to a side table.</p>

<p>“Drink, Lady Potter?”</p>

<p>“No, thank you.”</p>

<p>“As you wish.” Slytherin proceeded to pour himself apple juice from the brandy bottle. “What can I do for you?”</p>

<p>“Professor McGonagall said all applicants for the potions position were to go to you. You’ve been out of contact all summer. She wasn’t too happy about that.”</p>

<p>“That doesn’t surprise me.” Slytherin sipped from the apple-juice-filled brandy glass. “Well, no one can doubt your potions skill. What of your primary school teaching? I doubt the lords of the Light will find a teacher as good as you for their children.”</p>

<p>“I have found an adequate replacement.”</p>

<p>“Merely adequate? What about your other commitments? I hear the committee for the approval of experimental charms is quite busy these days.”</p>

<p>“I will be more than capable of giving all my different responsibilities the attention they require without biasing myself.”</p>

<p>In an all too casual tone of voice, Slytherin asked, “Will you be capable of giving all the different <em>children</em> the attention they require without biasing yourself?”</p>

<p>The temperature in the room dropped like a winter frost. Lily’s expression changed from professional indifference to icicle sharpness. “Yes.”</p>

<p>“Are you <em>sure</em>?”</p>

<p>“<em>Yes</em>.”</p>

<p>“So, if I were to ask, say, a certain Slytherin second year at the end of the year—”</p>

<p>“—You keep Harry out of this,” Lily hissed.</p>

<p>“…Daphne Greengrass.”</p>

<p>Lily frowned. “What?”</p>

<p>“I was talking about Daphne Greengrass.”</p>

<p>Lily stared at him for several seconds. “What is it you want with Harry?”</p>

<p>“I don’t know why you think I have anything to do with Harry Potter.”</p>

<p>“Harry is happy with us!”</p>

<p>“If you say so.”</p>

<p>“Harry needs to stay close to us!”</p>

<p>“Why?”</p>

<p>“He’s our son.”</p>

<p>“Is that the <em>only</em> reason?”</p>

<p>Lily hesitated one moment too long before replying, “Yes, of course.”</p>

<p>Slytherin stared at her. He then put his glass down with a noticeable clink sound. “This has been a wonderful little discussion, Lady Potter, but I’m sure you’ve got potion lesson plans to be working on.”</p>

<p>Lily looked nonplussed. “Sorry?” Her brain caught up to her ears. “You’re <em>accepting</em> my application?”</p>

<p>“Yes, I am. Please feel free to show yourself out.”</p>

<p>Lily Potter stood still for only a moment longer before turning and heading for the door in a swish of elegant robe.</p>

<p>“Lady Potter.”</p>

<p>Lily turned back halfway through the door.</p>

<p>“I personally know the pain of being abandoned,” Slytherin said, every word heavy and deliberate, “and I will tell you that such things do not heal without leaving scars.”</p>

<p>Lily scowled before shutting the door behind her.</p>

<p>Slytherin listened to the footsteps walking away. When they’d fully faded, he checked his watch, pulled out a vial of ageing potion antidote, and downed it in one gulp. His body started shrinking. He swigged the rest of the apple juice to drown out the taste of potion, and cast a half-dozen counter charms while his body settled in at around five foot one.</p>

<p>A somewhat smaller hand reached up to the green and black mask. The hand grasped the mask. The mask pulled free to reveal a face, not yet thirteen, with eyes as green as the pair that had just left, and a lightning-bolt-shaped scar on his forehead. Harry Potter, the true boy-who-lived — time traveller, master occlumens, and Azkaban inmate from a past future that he swore would never be — stared at the closed door with a pensive expression, before nodding firmly, turning his back, and softly walking away.</p>

<p>— End of Prologue —</p>

<p><strong>Chapter Thirty-Seven</strong></p>

<p><strong>Diagon Alley Pile Up</strong></p>

<p>This is Potter Manor — a beautiful red-brick building in the English county of Dorset, just on the outskirts of Puddlemere.</p>

<p>Not for the first time in the last week, the lady of the manor was sat in one of the many comfy armchairs in the large manor library, although she was hardly in the right state of mind to appreciate this. If she were sitting any further forward on the edge of said armchair, she’d be sitting on the floor.</p>

<p>“Oh, wow, Harry.” Lily Potter leaned further over the low table that separated them.</p>

<p>Harry smiled and held up the glass statue of a hippogriff he’d just wandlessly conjured from thin air. “Do you like it?”</p>

<p>“Yes,” Lily breathed.</p>

<p>Harry put the glass statue on the table and leaned back in his chair. “What else would you like to see?”</p>

<p>Lily picked up the glass hippogriff and turned it this way and that. “Can you do people?”</p>

<p>Harry pursed his lips. People were tricky. Unlike animals, the conjurer needed to get the likeness just right. Human minds were designed for facial recognition. He closed his eyes and concentrated, felt the magic flow through his fingertips as glass formed in the palm of his hand. He opened his eyes, now holding the glass bust of a girl.</p>

<p>“Who’s that?”</p>

<p>“Hermione Granger.”</p>

<p>Lily smiled knowingly. “That’s the pretty girl who almost beat your marks.”</p>

<p>“She is.”</p>

<p>Lily gazed at the statue and her smile faulted. “She’s also a vassal of Lord Slytherin.”</p>

<p>“Yes.”</p>

<p>“All your friends seem to be under Slytherin’s influence.”</p>

<p>“They are my friends.”</p>

<p>“And Slytherin?”</p>

<p>Harry frowned. “You know I’ve said I won’t talk about that.”</p>

<p>A pained look flashed over Lily’s face and she looked away. “Harry, I know you feel indebted to this man, but—” She turned back and stopped.</p>

<p>Harry now held a bouquet of glass flowers — lilies and grasses, each petal and stem perfectly formed, delicate and intricate. It caught the light from the windows that flowed into the dusty room and fractured into a thousand star-like points around the books and shelves. Harry smiled a sheepish smile.</p>

<p>Lily’s serious face slowly melted. “You…” She carefully took the bouquet. “Words fail me, young man.”</p>

<p>Harry grinned.</p>

<p>Lily huffed and stood up. “Well, I suppose I’d better do <em>something</em> with this.” She nodded to the glass flowers. “Do <em>try</em> to spend some time out of the library before dinner. It isn’t healthy to stay indoors all day.”</p>

<p>“I will try.”</p>

<p>Lily gave him a final, lingering, sideways look before walking off.</p>

<p>Harry listened to her light footsteps leave the library. The faraway door shut with a click.</p>

<p>Harry’s smile gradually faded to a more neutral expression. He reached out to the table in front of him, picked up the book he’d been pretending to read before he’d been interrupted, and shut it with a definite thump.</p>

<p>Right, he thought. Now that <em>that’s</em> out of the way…</p>

<p>Catlike, he leapt to his feet, stepped over to the third row of bookshelves, and shimmied up the ladder. He reached the top shelf without stopping and rested a cautious hand on one of the books. Pureblood rumour said that old families tended to hide their family libraries behind special books, poetically appropriate if possible. Voldemort believed it. Harry also wouldn’t be surprised if it was true.</p>

<p>He let the book’s magic brush against his fingertips, feeling for a hint that this was <em>the</em> book out of all the many thousand that surrounded him.</p>

<p>It wasn’t.</p>

<p>Harry reached for the next book and painstakingly checked that one too. Nope. Resigned to the slog, he continued moving along the row of books at speeds that would bore a flailtail snail. He’d been at this for a whole week now and he’d still only finished the first two bookshelves. He wasn’t likely to find anything before he left for Hogwarts, but the promise of instant advantage over his enemies was mighty tempting.</p>

<p>And advantage was certainly what he needed. At the end of last year he’d lost to Voldemort while trying to acquire the philosopher’s stone. It was only luck and a still-unexplained mystery that had stopped the episode turning into a disaster. The monster’s words constantly echoed in his head.</p>

<p>“<em>Obviously, as soon as I suspected there was someone out there who had all my knowledge, I started developing new methods. What kind of fool would try to use only tricks the enemy already knows?”</em></p>

<p>Of course, that went both ways. With the exception of some of his occlumency and a handful of tricks Voldemort had learned in his past future, all Harry’s methods were Voldemort’s too. Harry needed new magic, and he only had so much time to get it in.</p>

<p>The sound of the door clicking open sounded through the still library like a curse. Harry jumped off the ladder, landed as light as a feather—because, for a fraction of a second, he was—and grabbed a random book from the shelf. Only too late did he realise it was a ‘boy-who-lived’ adventure book.</p>

<p>“You!” Harry’s fellow time-travelling twin, John Potter, stood at the end of the row.</p>

<p>“Me.”</p>

<p>“What are you doing?”</p>

<p>“Reading. Say, do we actually get royalties for these?”</p>

<p>John took one look at the book in his hand and sniffed. “No. The lawyer said that ‘boy-who-lived’ wasn’t an official legal title or name.”</p>

<p>“Shame. I could do with some gold.”</p>

<p>John ground his teeth.</p>

<p>“Is there anything else you wanted?” Harry asked.</p>

<p>“Yes! I want you to stop sucking up to Mum!”</p>

<p>“Pardon?”</p>

<p>“All the time now, it’s Harry this, and Harry that, it’s making me sick!”</p>

<p>“Awww, is the little lion cub jealous?”</p>

<p>“You’re doing whatever it is you did to my Ginny!” John’s face was getting as red as his robes. “Stop it, or I’ll make you regret it!”</p>

<p>“Still don’t know who this ‘Ginny’ you’re referring to is.”</p>

<p>John all but screamed. “She was at Alex’s birthday party!”</p>

<p>“Oh, yeeeeah.” Harry snapped his fingers. “<em>That</em> Ginny. Cute girl. Maybe I’ll ask her out.”</p>

<p>John struggled to contain himself. “It doesn’t matter,” he spat. “As soon as she’s sorted into Gryffindor, I’ll see to it that you <em>never</em> get near her again.”</p>

<p>Whine, whine, whinge, whinge. This had been John’s general attitude ever since Harry had returned to Potter Manor for the first time in over ten years. Harry didn’t feel even a tiny bit guilty for stealing Ginny <em>and</em> Hermione away from him — not when John had been instrumental in sending him to Azkaban in <em>both</em> of the previous timelines for ten years of dementor-filled hell, even when he’d <em>known</em> he was innocent.</p>

<p>His twin brother’s mood hadn’t improved by the time dinner rolled around and wasn’t likely to get better.</p>

<p>“And why does <em>he</em> get to go out every — other — day?” John asked, pointing to Harry across the table, who saluted with a bread roll. “It’s not fair.”</p>

<p>“He’s not going <em>out</em>,” said Lord James Potter in a firm voice from where he sat carving beef onto Lily’s plate. “He’s only going to Sirius’s place to visit Alexandra. You can go too, if you want. Pass the gravy please, Harry.”</p>

<p>“Yes, Father.”</p>

<p>“Yes, Father,” John parroted, doing a recognisable impression of Draco Malfoy.</p>

<p>Lord Potter frowned. “Please don’t do that, John.”</p>

<p>John made a disgruntled face and bent down over his plate.</p>

<p>“Not so keen on Alexandra anymore?” Harry asked.</p>

<p>“She won’t shut up about Lord Slytherin.”</p>

<p>“Well, she is at that age. Having crushes is normal.”</p>

<p>“And you’d know about that, would you?”</p>

<p>“All my friends <em>are</em> girls, so yes, I would.”</p>

<p>James Potter let his otherwise-serious face slip. “Do I need to start picking out intention gifts for you?”</p>

<p>“Well, there <em>is</em> a very pretty muggleborn girl in Slytherin whose thirteenth birthday is coming up.”</p>

<p>John slammed his hands on the table, causing a silver sauce boat to spill over the table.</p>

<p>“John!” Lily barked.</p>

<p>“You can’t have Hermione!”</p>

<p>“Why?” Harry asked with a raised eyebrow.</p>

<p>“I’ve already started courting her. I was first.”</p>

<p>“Hermione didn’t even <em>accept</em> your intention gift. <em>And</em> you then threatened to burn it in front of her if she didn’t.”</p>

<p>“John!” Lily shrieked. “Is that true?”</p>

<p>John mumbled something along the lines of, “sorta.”</p>

<p>“That book is priceless!”</p>

<p>“I wasn’t going to actually <em>do</em> it! I was just being playful. Like Dad said I should.”</p>

<p>Lord Potter put a hand over his eyes.</p>

<p>“That’s no excuse,” Lily said. “If you can’t be respectful to both the girls and the gifts then you’ll get no more from us to court with until you’ve hit your own thirteenth birthday.”</p>

<p>“What?!”</p>

<p>“You’ve clearly shown that you’re not yet mature enough. There’s a reason this is usually left until children are older. I’m sure Miss Bones will understand.”</p>

<p>“What about Harry?”</p>

<p>James and Lily Potter shared a meaningful look. James cleared his throat. “If Harry continues to show the level of maturity and responsibility he has so far, then yes.”</p>

<p>“That’s not fair!”</p>

<p>“John!” James Potter had clearly had enough. “I am your father, your head of house, and your lord. <em>I</em> will decide what is and is not fair. My word is your law. Your wand is <em>my</em> gift. Go to your room and don’t leave until you see fit to comport yourself in a manner befitting the heir of an ancient and noble house.”</p>

<p>John stared at his father in wide-eyed shock. He then pushed his chair back and sullenly stamped off, closing the dining-room door behind him with a loud bang.</p>

<p>Dinner was a lot quieter after that. Harry didn’t see John again that evening. He didn’t see him at breakfast the next morning either. Or afterwards, when he stood at one of Potter Manor’s several floo places. He tossed a pinch of floo powder into the roaring flames.</p>

<p>“Twelve Grimmauld Place.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Deep within number twelve Grimmauld Place, inside the fideliused Black Library, there was a blackboard. It hung from one of the many bookcases and hid several shelves of boy-who-lived adventure books, which the young lady of the house, Alexandra Black, had quarantined in case stupidity was contagious.</p>

<p>On this blackboard someone had drawn a large table in chalk, each row and column perfectly straight, and exactly the same width apart.</p>

<p><em>Missions</em></p>

<p><em>Bring Draco to the Gray — Alexandra/(Luna?)</em></p>

<p><em>Muggleborn project/Guardianship — Hermione/Lord Slytherin</em></p>

<p><em>Acquire/Destroy diary — ?</em></p>

<p><em>Get Ginny properly equipped — ?</em></p>

<p><em>Seal off Chamber until basilisk can be killed — Lord Slytherin</em></p>

<p><em>Animagus project — Harry</em></p>

<p>Beside each of these boxes, at the very top of the table, the same someone had written S.W.O.T. in neat curly writing.</p>

<p>“No, Alex, you’re not getting it,” Hermione Granger huffed, standing at the blackboard with a whippy-looking cane and a piece of green chalk. “Our earpiece communication mirrors are a strength, not an opportunity.”</p>

<p>Alex tried to sit up and shrug from where she lay with Luna, half-engulfed in a massive beanbag, but all she managed to do was shift her weight around. “What about — omff!” She recoiled from an arm smacking into the side of her head. “Luna!”</p>

<p>“Sorry.”</p>

<p>“—What about Luna’s plum trees? You know, the ones that make people more gullible?”</p>

<p>“Another strength.”</p>

<p>“And they don’t actually make people more gullible,” Luna added. “They make people more willing to believe the extraordinary.”</p>

<p>“What’s the difference?” Daphne Greengrass asked. The last of the four girls present was sitting a few feet away in a high-back chair, posture straight, hands resting in her lap, legs crossed at her ankles, handbag resting by her feet, not a single long blonde hair out of place.</p>

<p>“Magnitude. They only help people believe truly incredible things.”</p>

<p>“What about all the cool Black family magic I’ve been learning?” Alex asked, turning back to Hermione.</p>

<p>“Another strength.”</p>

<p>“So what <em>would</em> be an opportunity?”</p>

<p>“Us knowing that Lucius Malfoy might have the diary on him when he goes to Flourish and Blotts is a good example.”</p>

<p>“Okay, umm…” Alex frowned. “How exactly do we know this? And why’s this diary so important, anyway?” She felt a soft hand grip her arm and give a reassuring squeeze.</p>

<p>“Slytherin family secrets, Alex,” Luna said. “Hopefully you’ll learn soon.”</p>

<p>Alex’s face firmed in determination. “Right — Slytherin secrets — right. Prove myself — got it.”</p>

<p>A quiet dong sounded throughout the library as a clock struck nine. A change spread throughout the group — a subtle shifting of expressions. In Daphne it was a softening — in Hermione it was a faint reddening of the cheeks — and with Luna it was a slight unfocusing of the eyes. Alexandra had come to recognise these changes over the last week and knew they meant only one thing. Slytherin’s most trusted and most powerful student — Harry Potter.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Harry arrived in twelve Grimmauld Place in a swoosh of soot. The moment he stepped through the floo, a perfectly manicured hand presented him with his fifteen-inch yew and thestral hair wand, which he neatly took and waved in a long arc, cleaning all the dust from his robes. “Thanks, Daphne.”</p>

<p>“How did the Chamber of Secrets go?” Daphne whispered as they started making their way through the house.</p>

<p>“Not so good.” Harry hit a painting up ahead with a stunning spell. “The Chamber won’t carry a charm itself and I’ve hit the limit to the number of secrets a caster’s soul can anchor.”</p>

<p>“How many?”</p>

<p>“Seven. I was surprised I could even cast the spell <em>that</em> many times. Old Tom could only ever do one.”</p>

<p>“Are you going to deactivate some of your other charms?”</p>

<p>“Maybe one or two — still need most of them.”</p>

<p>“So what are we going to—Eep!”</p>

<p>Harry had taken her firmly by the shoulders and steered her into one of the many empty rooms, whereupon he started casting privacy charms. “I warded the rest of the entrances with some heavy-duty enchantments tied to Hogwart’s own. It’ll take some effort to slip through them and I’m pretty sure the diary hasn’t the skills.”</p>

<p>“You haven’t had any more thoughts on how the other horcruxes did the swap thing last year, did you?”</p>

<p>Harry sucked in through his teeth. “A few, but…” He grimaced. “I’m leaving it for the moment. There’s a… <em>thing</em>. I don’t want to start second-guessing myself.”</p>

<p>Daphne nodded slowly, but with a slight frown.</p>

<p>“Anyway, I also ran into Snape on the way out,” Harry continued. “He suggested he should be a spy for me against Dumbledore.”</p>

<p>Daphne sucked in her breath. “You’re not going to trust him, are you?”</p>

<p>“Merlin, no. I trust Snape as much as I trust Lily — who, by the way, also appears to be a Dumbledore spy.” Harry frowned in thought for a moment before brightening. “What about you?”</p>

<p>Daphne reached into her handbag, pulled out a small stack of envelopes, and handed them over. “Mostly the usual — although Arthur Weasley has requested a meeting with Lord Slytherin about your ‘dealings’ with the Weasley family.”</p>

<p>“Hmmm…” Harry opened the letter in question and scanned it. “This could be about either my partnership with the twins or my teaching Ginny — more likely the twins — not entirely a surprise. I’ll have to arrange something either way… and speaking of the twins’ partnership, I spoke to the Grangers. We’re thinking of developing a commercial submarine prototype, so we’re going to need to send out proposals to people who have the gold for that sort of thing.”</p>

<p>Daphne clicked her tongue, reached into her handbag again, withdrew a small black book and a tiny quill, licked her fingertip, flicked through the book, and made a small note. “Even with the amount of gold you pulled in over the summer, we only have liquid funds for another eighteen months,” she warned. “Large-scale projects would drain us dangerously low.”</p>

<p>“I know. We’ll just have to keep outrunning the red line.” He smiled. “You’ve been doing your part very well.”</p>

<p>Daphne blushed. “Thank you.” She hesitated. “Um, Harry?”</p>

<p>“Yes, Daph?”</p>

<p>“I don’t want to sound selfish, considering everything that needs to get done, but I was wondering if we could go exploring somewhere sometime? We haven’t done that in ages. I’ve been feeling quite shut in recently.”</p>

<p>Harry blinked. He tried to think back to the last time he’d taken Daphne anywhere. It <em>had</em> been quite a while. Damn. He looked into her ice-blue eyes, which gazed back at him with perhaps just a hint of nervousness. He smiled. “Of course, Daph.” Damn, damn, damn, he was supposed to be better than this.</p>

<p>Daphne’s face lit up. “I like it when we go places.”</p>

<p>Harry’s mind raced through countless time slots, appointments, and commitments… but there were just so many of them, he didn’t— “Ah!” An idea struck him. “What about your birthday — October 24? It’s even on a Saturday — we could take the whole weekend.”</p>

<p>Daphne seemed to consider this. Then she nodded, smiling softly. “I’m happy with that. For my birthday, you will take me somewhere amazing.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Alexandra Black watched Harry Potter receive his traditional enthusiastic greeting from Hermione and Luna before he walked over to the blackboard and picked up the chalk. She couldn’t help noticing that Hermione had happily relinquished her spot at the board even though only a few minutes ago it would have been difficult to manage such as feat with a team of wild dogs.</p>

<p>“Animagus project is going well,” Harry announced, making a note next to the appropriate box. “We’ll start on mandrake leaf in October, so long as we can get hold of it. Incidentally, thank you for the loan of the book, Alex — it was most useful.”</p>

<p>Alex nodded.</p>

<p>“You’ll all need to learn the sticking charm before then,” he continued. “Otherwise you’ll find it difficult to not end up swallowing your leaf. Yes, Hermione?”</p>

<p>Hermione had her hand up. “I looked up how to cast a small enough notice-me-not and I’m certain I’ll be able to do it by then.”</p>

<p>“Excellent, well done.”—Hermione beamed—“That’ll be a lot of help for when I’m not around. Yes, Daphne?”</p>

<p>“Did you decide whether we were going to register or not?”</p>

<p>“Not yet. It depends on what forms we get. Any other questions?” No one said anything.</p>

<p>“Right,” he continued. “Last item before I let you get back to planning Ginny’s shopping trip—”</p>

<p>Alex’s eye twitched at ‘before I let you’.</p>

<p>“—Lord Slytherin has decided we’ll start training in group combat—”</p>

<p>Alex perked up.</p>

<p>“—so you can take down far more dangerous opponents as a team. We’ll start as soon as we get to the castle.”</p>

<p>Wow, Alex thought. That’s going to be awesome. “Who’s training us?” she asked. “Is it Slytherin?”</p>

<p>“Nope, it’s going to be me.”</p>

<p>Alex blinked. “What? You’re the ‘really dangerous opponent?’” her voice radiated doubt. Sure, she’d seen his performance at the duelling tournament towards the end of last year, and it had blown her away at the time, but…</p>

<p>“Why not?” Potter was smiling now.</p>

<p>“Why not?” she repeated back, her voice gradually rising as her incredulity set in. “Have you seen how much arse Ginny and Luna kick! I bet they’ll also be able to clear every duelling opponent by the end of the year, just like you and John did! And <em>I’ve</em> got a lot better too! I haven’t got spell swatting down yet, but I’m close! <em>And</em> Hermione and Daphne beat a troll before, and that was almost a whole year ago! Do you really<em>, really,</em> think you’ll be a challenge for all of us — all at once!?”</p>

<p>Potter continued to smile.</p>

<p>There was silence in the room. Daphne was busy inspecting her nails.</p>

<p>Alex turned to Luna. “Back me up here, Luna. This is dumb!”</p>

<p>Hermione exploded. “Why you little—!”</p>

<p>“—Hermione,” Harry said in a warning tone of voice.</p>

<p>Hermione instantly cut herself off.</p>

<p>“It’s a perfectly reasonable question.”</p>

<p>Alex stared wide-eyed at Hermione, who despite her silence still looked like she wanted to jump at her.</p>

<p>“Yes, Alexandra,” Harry finally answered. “You will find me a more than adequate teacher.”</p>

<p>Alex looked back to a serene-looking Luna who’d put her hand on Alex’s arm and was giving it another reassuring squeeze.</p>

<p>“I understand your doubts though, so let’s say if you <em>do</em> manage to pass my first test, I will communicate to Lord Slytherin that it is my belief that you are ready to be fully taken into his confidence.”</p>

<p>Alex’s eyes widened again. She grinned. “Fine.”</p>

<p>They continued to plan Ginny’s shopping trip after that. Alex was a little annoyed that she wasn’t going to be able to go, but, as Luna pointed out, if she was supposed to be infiltrating the Dark this year, she couldn’t very well be seen to be hanging out with the Gray, could she?</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>A few days later, a girl stood among the many trees, both magic and mundane, that made up the Burrow’s orchard. Her eyes were closed, her head held up, her long red hair flowing down to the small of her back, body totally still… except for her fingers — they twitched at her side with barely contained magical intent.</p>

<p>Off to the right, a breeze detached a leaf from a magical elm. The girl’s eyes shot open. The leaf got only another foot down to the ground before an invisible slash of magic sliced it clean in two.</p>

<p>The girl lowered her hand and breathed out.</p>

<p>The two pieces of leaf settled on the ground and another gust of wind picked them up and blew them away.</p>

<p>“Ginny? Ginny! Where <em>are</em> you?” The voice of Molly Weasley called across the Burrow grounds.</p>

<p>Suddenly, where before there had been a girl, now there was just a faint outline in the air. The girl had been quiet before, but it would have been theoretically possible to hear the breath from her lungs and the beating of her heart — now, not even that was possible.</p>

<p>The vague shape in the air made its way out of the orchard far faster than one would expect from something only four foot eight, and vaulted over the fence surrounding the chicken coops. The girl shimmered back into view, cancelled the silencing charm on herself, and picked up one of the startled hens. “I’m here, Mum!”</p>

<p>“Oh.” Molly Weasley appeared around the corner that led to the house. She put her hands on her hips. “Well, make sure you finish up soon. We want to make sure we get into the Alley nice and early so we can finish our shopping before Lockhart’s book signing.”</p>

<p>“Yes, Mum.”</p>

<p>When Molly Weasley had left, Ginny gave the hen a fond stroke before hugging it and putting it back down, whereupon it immediately started pecking at the ground. She then started gathering eggs and putting out new feed while thinking about the day ahead.</p>

<p>Gilderoy Lockhart’s book signing. That was when she’d picked up the diary in the last timeline according to Harry. She’d begged to be allowed to deal with it of course, but Harry had put his foot down. It wasn’t that he doubted her, he’d said, but dealing with Malfoy required an experienced hand, not merely a skilled one.</p>

<p>She’d sulked about that for days, but eventually got over it, helped in no small part by the knowledge that she would be getting all new things for Hogwarts. She’d <em>never</em> had all new things and wasn’t sure exactly <em>how</em> this was going to happen. Harry had just told her to ‘be ready for it,’ whatever that meant.</p>

<p>After eggs, breakfast, and a general mad Weasley-dash to get ready, Arthur Weasley pulled Ginny aside where none of the others could overhear them. “Looking forward to shopping?” he asked.</p>

<p>“Yes, Dad,” she said, dutifully.</p>

<p>Her father looked unusually uncomfortable. “Listen, Ginny, I know you haven’t had the best year—what with you being grounded—but I don’t want you to go off to Hogwarts with us still like this. This has gone on for far too long already.”</p>

<p>Ginny didn’t let her face reveal anything.</p>

<p>“I’ve spoken to your mother about this, and she doesn’t like it, but we have decided to lift your grounding.”</p>

<p>Wait, what? Ginny hardly dared to believe it. “You mean…”</p>

<p>“Yes, you can go to your friends’ houses during the holidays and to Hogsmeade when you’re old enough.”</p>

<p>Ginny’s face broke into a wide smile. She leaped forward and hugged her father for what felt like the first time in forever. She sniffed and felt her eyes moisten. “Thanks, Dad. You’ve no idea how hard it’s been—”</p>

<p>“Shh, shh, it’s fine.”</p>

<p>They stayed like that for a while, just enjoying the moment. Eventually he pulled back, reached into his robes and withdrew a small bag. His voice lowered another notch. “Not a word to Molly.”</p>

<p>Confused, Ginny took the bag, opened it, and gasped. A dozen gold galleons gleamed up at her. “I—” She struggled for words. “You — I — how?”</p>

<p>“Shh, Ginny, it’s fine. Get yourself some nice things, but make sure you leave enough for a wand.”</p>

<p>“Won’t Mum know?” she whispered back.</p>

<p>“Don’t worry about it. Just leave that to me. Now c’mon — your brothers will all be ready soon.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Daphne, Hermione, and Luna were all sat in cheap chairs on a balcony overlooking Diagon Alley. Behind them, through silenced, tall glass doors, the massive printing press of Quibbler Headquarters whirred and clanked away, manned by a half-dozen wizards who were doing an excellent job of pretending not to be interested in what they were up to. Hermione was looking down the end of a telescope.</p>

<p>“Anything?” Daphne asked. She had an open picnic basket by her feet. Luna was already halfway through a paper plate of jam sandwiches (without crusts).</p>

<p>“No. But we can’t assume things will turn out like last time. Time is like a butterfly flapping its wings to create a storm.”</p>

<p>“Pardon?”</p>

<p>“I read the book that the movie we watched was based on. It had a lot more in it about that stuff. You change one small thing and the effect ripples outwards, like a stone thrown into a pond.”</p>

<p>“What happens if you throw a butterfly into a pond?” Luna asked.</p>

<p>Hermione took her eye away from the telescope to glare at her.</p>

<p>“My dad always says time’s more like cheese,” she added.</p>

<p>“No, no.” Hermione shook her head. “Look, there’s a lot of research that’s been done about it — magical too — it’s called chaos theory.”</p>

<p>Luna bit into another jam sandwich, swallowed, and smiled. “Sounds like fun. Could I borrow the book?”</p>

<p>“Err…” Hermione put her eye back to the telescope. “Sure, although it’s not really a proper book. It’s fiction. Oh!” She made a frantic waving motion with one hand. “There’s Ginny and the rest of the Weasleys.”</p>

<p>“Wonderful.” Luna put her plate down and stood up.</p>

<p>“Are you sure you want to be the one to do this?” Hermione asked.</p>

<p>“I know Ginny best. We’re sisters.” Luna paused. “Well, not yet obviously.” She paused again. “I mean, [[[obviously you’ll be one, one day too]]][[[one day you’ll obviously be one too]]], but I still know her best.” And with that, she turned and walked through the big glass doors.</p>

<p>Hermione watched her go and felt a heat grow on her cheeks. “Um, Daphne?” Her breath became shallower. “What, <em>exactly</em>, did Luna mean by that?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“In here, Ginny dear.” Molly Weasley steered her youngest into a secondhand clothes shop. “Now, just stay there while I see what we can do.” She started pulling robes off a rack. Most of them, to Ginny’s eyes, looked far too large for her. The ones that didn’t all had strange marks and stains on them.</p>

<p>“Here you go,” her Mum thrust a robe into her arms, which had a huge tear down the side. “Don’t worry about that. I’ll be able to sew it up in a trice. Now, off you go to try it on while I see about skirts for your uniform.”</p>

<p>Ginny nodded in resignation, trudged to the back of the shop, pulled open the curtain to the dressing room, felt concealment magic, and instantly sent a stunner towards the hidden figure. The hidden figure swatted back the spell and several volleys later, the red spell smacked harmlessly into the ceiling.</p>

<p>Luna shimmered into view.</p>

<p>“Lu—”</p>

<p>Luna grabbed Ginny, pulled her in, and whipped the curtain shut behind her. “Shhhh.”</p>

<p>Ginny nodded quickly.</p>

<p>Luna whipped out two vials and handed one to Ginny. “Polyjuice.” She uncorked her own vial and plucked a hair from Ginny’s head.</p>

<p>“Ow,” Ginny hissed.</p>

<p>“Here,” she handed Ginny a hair of her own. “You have one hour. I have more. Meet at Flourish and Blotts for the swap back.”</p>

<p>“Got it,” Ginny whispered, shimmying out of her old and faded summer dress. “Don’t you dare get caught!”</p>

<p>Luna had already stepped out of her summer robes and downed her vial of polyjuice.</p>

<p>Ginny picked up the robes from the floor and pulled them down over her body. The silk felt smoother than anything she’d worn before. She drank her own vial and felt the strange sensation of changing into someone else. Moments later, it was Luna’s reflection that stared back at her from the changing room mirror.</p>

<p>Luna, now wearing Ginny’s body along with the old school robes, giggled.</p>

<p>“I don’t giggle like that!” Ginny whispered, fiercely.</p>

<p>Luna winked in a very Ginny-esque way. “No, only when you’re with Harry.” And before Ginny could say anything in retaliation, Luna had skipped out of the changing room.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Harry stood by the floo in Potter Manor.</p>

<p>“There you go, Harry,” said Lily Potter, flicking an imaginary speck of dust from his robes. “You’re looking very smart.”</p>

<p>“Thank you.”</p>

<p>John made a sick face as soon as Lily’s back was turned.</p>

<p>Harry rolled his eyes.</p>

<p>“Alright!” James shouted, stepping up behind them and taking a pinch of floo powder. “Diagon Alley awaits!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Up on the balcony, Hermione’s face was redder than an oversized star. “You don’t really think that — I mean, Harry is — I mean — that he — with me—”</p>

<p>“Hermione,” Daphne said, sitting back in her chair. “If Harry doesn’t get you a declaration of intent gift on your birthday, I will eat my hat — and you know how big a witch’s hat is.”</p>

<p>“It’s just…” Hermione’s brain had finally managed to break through the initial barrier and had started on all the implications. “Well, for starters, I’m a muggleborn!”</p>

<p>“It’s not nearly the first time a muggleborn has been courted by a lord. Look at Ladies Potter and Davis.”</p>

<p>“I… I…” Hermione buried herself back into the telescope to hide her flustered state, no matter how much of a lost cause it might have been. “Has Harry actually told you he’s going to start courting me?”</p>

<p>“Not in so many words.”</p>

<p>“Then you don’t know! It might be nothing! It might be—” Hermione stopped in mid-rant. She sucked in her breath. “The Malfoys have just arrived in the alley from the Leaky Cauldron.”</p>

<p>“Really?”</p>

<p>“Yes. There’s Lord and Lady Malfoy. There’s Draco….” Hermione frowned. “…And there’s a girl with them, maybe Luna and Ginny’s age — looks kind of like a Malfoy.” She paused. “But I don’t recognise her at all…”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Now, I have to get this absolutely perfect, Arthur Weasley thought, as he edged towards his wife and daughter. One misstep, and it won’t go nearly as well as I’d like. He put on a big smile. “Molly.”</p>

<p>“Oh, Arthur, thank goodness, quickly, which do you think would be better for little Ginny?” She held up two equally battered-looking cauldrons.</p>

<p>“I think what little Ginny needs is some ice cream. It’s far too hot out here.”</p>

<p>Little Ginny grinned up at him. “Ice-cream!”</p>

<p>“What?” Molly looked momentarily nonplussed. “Arthur! You’re going to spoil her!”</p>

<p>“Oh, don’t fuss so, Molly.” He crouched and tried to pick up a squealing little Ginny. “Uff! You’re getting heavy!”</p>

<p>Little Ginny pouted. “Did you just call me fat?”</p>

<p>Arthur laughed before putting her back down.</p>

<p>Molly huffed. “Fine, but don’t be too late. We don’t want to miss the queue for Lockhart.”</p>

<p>Father and daughter walked away towards the ice cream parlour, before taking a detour and ducking into a side alley. Arthur winked down at his daughter. “Excellent acting, Ginny.”</p>

<p>“Thanks!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Draco Malfoy was feeling pretty smug. This was quite a normal state of affairs for him, but just now he was feeling it more so than usual. He was sitting outside one of the better Diagon Alley cafes, in front of his friends, who were staring at him like he’d grown a second head, and beside him, his newly found little sister, Virgo.</p>

<p>“Virgo?” said Theodore Nott, as though he hadn’t quite heard it the first time.</p>

<p>“She’s our answer to Potter,” Draco replied, while Virgo ate a chocolate eclair with tiny bites in just the way their mother had spent the last two weeks drilling into her.</p>

<p>“Is she really?” asked Pansy. “She doesn’t look like much.”</p>

<p>Draco winced.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Now what’s going on?” Daphne asked.</p>

<p>“Not sure,” Hermione replied, one eye firmly fixed to the telescope. “But Theo and Pansy look like they’re wetting themselves.”</p>

<p>“That’s odd.”</p>

<p>Hermione sucked in her breath. “Oh, this is going to be interesting.”</p>

<p>“What?”</p>

<p>“Lord Potter and the fraud-who-lived, are on a collision course with Draco and co.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Virgo Malfoy, previously known as Tom Riddle, let his aura fade slightly, not caring that several adult wizards and witches had been caught in it as well.</p>

<p><em>You’re bullying them, </em>thought the voice of Julia in his head, the Swedish muggleborn whose body he’d stolen.</p>

<p>I am showing them the power that I wield, Virgo thought back. It is necessary.</p>

<p><em>They can’t be as bad as you make out.</em></p>

<p>I assure you, girl, that if I do not take a firm stance now, I will pay for it later. I do not have the full power of my adult form, even as I was before I became the diary.</p>

<p>Nott and Parkinson had settled down now. They’d carefully taken seats by him and Draco, and started asking him questions in a cautious and respectful tone.</p>

<p><em>If you’re so desperate for respect, why don’t you just tell them who you really are?</em></p>

<p>Because I am not a fool. Information leaks. I cannot risk others knowing of my true nature. I do not particularly wish for even my other self to know of me. Who knows how he might react.</p>

<p><em>It must be terrible to not trust even yourself.</em></p>

<p>Virgo then caught sight of two wizards walking down the street whose faces he’d committed to memory. Lord Potter and one of his twin sons — possibly Harry Potter, who in turn, might be another horcrux. He nudged Draco and leaned into him. “Introduce me to them.”</p>

<p>Draco nodded slowly, called out, and did so.</p>

<p>“Virgo?” The boy, who turned out to be John Potter, looked dumbstruck.</p>

<p>Lord Potter clicked his tongue. “No one told <em>me</em> you had a sister, Mister Malfoy.”</p>

<p>“Virgo was cast out of the family for being a squib,” Draco drawled. “Much like your own son, Harry. My father sent her to Sweden. When he saw how your Harry turned out to be so gifted he sent for her, and it turned out that, like your Harry, she wasn’t nearly as much of a squib as we all thought. And much to my mother and father’s delight, she is now more than ready to take up her responsibility to the family.”</p>

<p>John wore an expression that suggested he was trying on this explanation for size, almost as though it were a set of clothes.</p>

<p>“Well, pleased to have met you, Miss Malfoy,” Lord Potter said in clipped tones. “C’mon John — we need to get a move on if we’re to finish before lunch.”</p>

<p>John nodded slowly before departing, seeming to accept whatever conclusions he’d reached.</p>

<p>Virgo frowned. John Potter seemed like a highly intelligent boy. He’d generally only seen that look on people quite a few years older.</p>

<p><em>Yeah, and he’s kinda cute, too.</em></p>

<p>Oh, hell.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Mmmm… your second wand is proving far more tricky than your first, Miss Lovegood. Perhaps, we should try… <em>these</em> ones.”</p>

<p>Ginny watched as Mister Ollivander climbed down from the ladder propped against one of the many stacks of wand boxes, holding yet another box. He placed it in front of her and lifted off the lid. Two wands were displayed on deep blue velvet — same length — same floral carvings on the handles — only a slight difference in shade. You’d have to be really paying attention to tell them apart.</p>

<p>“The one on the right is cypress, thirteen and a half inches, dragon heartstring from a common welsh green. Go on, give it a swish.”</p>

<p>Ginny bit her lip. Would something so girly really fit her? She picked up the wand and waved it about a bit. Nothing. Despite herself, she felt a tiny pang of disappointment.</p>

<p>Ollivander watched her like a hawk. “It seems not, Miss Lovegood. Why don’t you try the next one?”</p>

<p>Resigned, Ginny reached for the wand on the left, but as her hand neared, she felt a heat start to creep down her fingertips. Her breath caught. She closed her fingers over the handle and felt the sheer power flow through her body, far quicker and easier than anything she’d ever felt in all her countless hours of training. It felt incredible! It felt like she’d had a huge weight lifted off of her. She felt unstoppable! She thrust the wand out in front of her and it blasted out a stream of green sparks so dense that the whole shop was momentarily filled with an emerald mist.</p>

<p>Amazing.</p>

<p>Ollivander pursed his lips. “Hmmmm, curious.”</p>

<p>“What’s curious?”</p>

<p>“I remember every wand I’ve ever made, Miss Lovegood.”</p>

<p>There was a tingle of a bell.</p>

<p>“Strange that this wand should have chosen you, when once upon a time, I sold a wand with the exact same specifications — thirteen and a half inches, yew, phoenix feather —”</p>

<p>A door closed with a thump.</p>

<p>“—to the man who would one day claim heirship over the house that your betrothed now leads.”</p>

<p>Ginny’s mind froze. Tom. Voldemort. That… That couldn’t—</p>

<p>“Luna!” said a cheerful voice, horrible in its familiarity.</p>

<p>If Ginny’s mind had frozen before, now her heart stopped too. She turned slowly to find Luna beaming at her, still in Ginny’s body, while her dad, Arthur Weasley, looked between Ginny and the floral wand in her hand with an expression of mild horror.</p>

<p>Before Ginny could think of anything to say, Luna darted forward. “Oooo! Flowers!” She reached for the other, stylistically-identical wand in the box.</p>

<p>“Miss Weasley,” started Mister Ollivander in a tired voice. “It is the <em>wand</em> that chooses the—”</p>

<p>Luna plucked the wand out of the box and a shower of light blue sparks filled the room.</p>

<p>“…Wizard.”</p>

<p>There was silence for a moment. Then Ginny threw seven galleons on the counter and fled.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Flourish and Blotts bustled. The aisles of the dozens of bookshelves thronged with wizards and witches — many of them, especially the witches, could only charitably be called shoppers.</p>

<p>In the middle of the shop, where customers could normally sit down and put their feet up on a collection of assorted chairs and chintzes, there was instead a large square curtain, covered in silencing charms.</p>

<p>A queue was already forming.</p>

<p>Behind this curtain, a man with the most perfect smile this side of the Atlantic was busy charming his hair to give it just the right amount of bounce. He inspected himself in a fold-up mirror and frowned at the result. Then he flashed a brilliant smile and gave his reflection a saucy wink. He frowned again, then repeated the smile and wink five more times before snapping the mirror shut and dropping it into the pocket of his plum silk robes.</p>

<p>The man now trotted to where the queue on the other side of the curtain would approach the table, crouched down, and inspected the books, posters, and yeti skull from every possible angle. One of the book piles had titles like, ‘Gadding with Ghouls’. The other had titles like, ‘The Boy-Who-Lived and the Three Headed Crup’. He made a minor adjustment.</p>

<p>“Getting it just right, Gilderoy?”</p>

<p>An old man had entered through a door in the curtain.</p>

<p>Gilderoy Lockhart stood up and flashed the man the same smile he’d just been practising, sans wink. “It’s all about the show, Lord Blott.” His voice echoed around the booth rather too loudly for such an enclosed space. “Even the <em>smallest</em> details can make a <em>huge</em> difference to sales. How you are seen — how you present yourself — is <em>everything</em>.”</p>

<p>Lord Blott, one of the lords of the Light, smiled an indulgent smile and inspected several of the many posters pinned up to the massive backboard behind the table — posters such as…</p>

<p>SIGN UP FOR THE LOCKHART OWL LIST! LEARN THE 55 SECRET WAYS TO STAY SAFE THE AURORS DON’T WANT YOU TO KNOW ABOUT, ABSOLUTELY FREE!</p>

<p>And…</p>

<p>THE BOY-WHO-LIVED AND THE MUMMY’S WRATH! AN ALL-NEW ADVENTURE WITH THE NATION’S FAVOURITE BOY HERO!</p>

<p>And, finally…</p>

<p>MAGICAL ME — HOW TO BECOME AN UNSTOPPABLE MAGICAL BADASS AND LOOK GREAT DOING IT</p>

<p>“Which is going to sell more?” Blott asked.</p>

<p>“Mmm? Oh, the Boy-Who-Lived series sells better, but the margins aren’t as high.” Lockhart straightened a pile of flyers. “They’re <em>great</em> transition books, though. Parents buy them like chocolate frogs!” He beamed.</p>

<p>Lord Blott nodded. “Well, I hope you’re ready for this. There’s practically a horde out there — and Malfoy should be here soon, too.”</p>

<p>Gilderoy laughed. “Not to worry! After all…” He flashed his smile again. “<em>I</em> am Gilderoy <em>Lockhart</em>, <em>order</em> of Mer—”</p>

<p>“Yes, yes, yes.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Barefoot, Ginny ducked into a side alley and neatly stepped around a much larger wizard going the other way. The wizard hadn’t paid any attention to her. She was invisible. Her polyjuice had run out, and so she’d carefully put away her satisfyingly girly, yet horrifyingly ominous new wand, disillusioned herself, and wandered over to Twilfitt and Tattings, after checking to make sure that neither her father nor mother were anywhere nearby.</p>

<p>Ginny had spent the last hour guiltily buying everything Harry said she’d need to make waves in Slytherin House — the best of everything — even a magic trunk — far more money than the twelve galleons her father had given her from Merlin only knew where.</p>

<p>The only thing she hadn’t yet bought were clothes, and that was only because she’d needed to wait until she had her own body back. She hopped out of the other side of the alley and pushed her way into the clothes shop, so apparently exclusive that it advertised its exclusivity by displaying not only a lack of prices, but a lack of clothes too.</p>

<p>The woman behind the counter glanced up only long enough to take in the cut of the robes Luna had forced her into. “Can I help you?”</p>

<p>“I’m here to buy clothes for Hogwarts.”</p>

<p>“The Hogwarts bespoke package is thirty galleons and includes five sets of robes, two cloaks, ten sets of underwear, socks, all in your style of choice, and a hat. We’ll also have someone sent for a purse and a handbag if you know what you want, although the price for that varies.” The woman finally looked up over the counter and properly inspected her. “You need shoes <em>too</em>?”</p>

<p>Ginny was holding Luna’s low-heeled shoes, which were now one size too small for her. “Yes?”</p>

<p>“Fine. Lose the robe, up on the stool, and behind the curtain. Up, up, up.”</p>

<p>Twenty minutes later, Ginny was awash in a sea of fine silks, cotton, wool, and cashmere. A small army of charmed tape-measures, paper, and chalk made measurements while the woman babbled out an unending stream of fashion talk, constantly asking questions on her preference for this and or that, and only getting a firm answer one time in five.</p>

<p>The doorbell ting-aling-alinged, and Ginny poked her head through the curtain as another girl stepped in. A man stepped in behind her. Ginny just managed to stop herself from gasping.</p>

<p>The woman straightened up from where she’d been waving her wand over a roll of material.</p>

<p>“Ah, Clarissa,” said the man in a silky voice. “This is my daughter, Virgo. Get her full sets of everything, would you?”</p>

<p>“As it pleases you, Lord Malfoy.”</p>

<p>Ginny felt a shiver go up her spine as the girl, Virgo, walked behind the curtain, disrobed, and stepped up onto the stool next to her as though she were stepping up to accept an Order of Merlin. Ginny was sure that Lord Malfoy did not have a daughter.</p>

<p>The girl turned and looked her up and down. “Hogwarts too?”</p>

<p>“Yes.”</p>

<p>“I don’t recognise you.” It was a statement, but also a question, bordering on an accusation.</p>

<p>Ginny cleared her throat. “I am Ginevra Molly Weasley, of the Ancient House of Weasley.”</p>

<p>Virgo’s lip curled upwards. “I wasn’t aware that the Weasleys could afford to shop <em>here</em>.”</p>

<p>“I have a patron.”</p>

<p>“Really?” Now Virgo looked fascinated. “Pray tell.”</p>

<p>Ginny said nothing. There wasn’t anything to say — certainly not to a stranger of dubious origin.</p>

<p>Virgo didn’t seem perturbed though. She merely smiled.</p>

<p>And then, Ginny felt something shove itself into her mind with the force of a battering ram. Her eyes narrowed and the battering ram smashed into a three-foot-thick concrete bunker with all the effectiveness of a pencil stabbing a brick wall. There was an intake of breath, a crash, and the next moment, Virgo was on the floor and the stool was halfway across the room.</p>

<p>Ginny flashed a smirk.</p>

<p>“Oh, dear!” The woman started fussing around Virgo. “Are you alright, girl?”</p>

<p>Virgo recovered easily, picking herself up and rubbing a small scrape on her elbow. “My apologies. I appear to have slipped.” And moments later, she was back on the stool as if nothing had happened.</p>

<p>Getting fitted was more than a little awkward after that. The girl kept throwing her furtive and suspicious glances, and Ginny couldn’t help feeling that despite not recognising Virgo, and despite being sure the Malfoys didn’t <em>have</em> a daughter, that somewhere, somehow, she still knew her.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Up on the balcony at Quibbler Headquarters, the picnic basket that had once contained lemonade, jam sandwiches (without crusts), and incy-wincy sausage rolls, was now empty.</p>

<p>Daphne gazed down the telescope. “The queue at Flourish and Blotts is snaking out the door.”</p>

<p>Hermione didn’t look up from <em>Year With A Yeti</em>. “Do you think Lockhart actually <em>did</em> all this stuff?”</p>

<p>Daphne snorted. “Harry doesn’t think so. He says it’s just good theory wrapped around fantastical storytelling.”</p>

<p>“But that’s dreadful! Writing about stuff you don’t know from personal experience — just using someone else’s knowledge — it’s like stealing! It’s—”</p>

<p>“You know, Harry is talking about writing a book.”</p>

<p>Hermione shut her mouth. Then she opened it again. Then she closed it again. Eventually she said, “That’s different.”</p>

<p>Daphne smirked. “Oh?”</p>

<p>“Of course! Harry isn’t just copying out of a book!” She lowered her voice. “He wrenched knowledge straight out of old Tom’s head.” She hesitated, then in a normal voice said, “Umm, why <em>is</em> Harry writing a book?”</p>

<p>Daphne stepped away from the telescope. “We’re on a timer, Hermione. We have been ever since old Tom learned Lord Slytherin’s true identity. We can’t let our lord’s secret get out in an uncontrolled manner. It would be a disaster. We need to be in control when it happens. So we’re going to start slowly bringing people on board over the next eighteen months.”</p>

<p>“My parents.”</p>

<p>“They’ll be among the first, yes.”</p>

<p>“What’s this got to do with Harry writing a book?”</p>

<p>“Right now, people don’t know much about Lord Slytherin. <em>We</em> might know that Harry is amazing, but the public just <em>think</em> they know it. They’ve built up this fantasy around Lord Slytherin and when it’s revealed he’s <em>only</em> a boy — well — things might not go so well. We’ll need to quickly reestablish Harry’s credibility among a <em>lot</em> of people and fill an information gap with our own story before the media does. A well-written best-selling book will help.”</p>

<p>Hermione sat there gaping.</p>

<p>Daphne raised a single eyebrow. “Did you hear anything just now apart from, ‘Harry Potter — Best-Selling Author’?”</p>

<p>Hermione snapped her mouth shut, blushed, and quickly stood up. “I’m not even supposed to be up here!” She pointed to the queue outside Flourish and Blotts. “I’m supposed to be down there!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The bookshelves of Flourish and Blotts stretched nearly all the way from the floor to the ceiling, creating a sliver of space in between. If someone were sufficiently athletic and nimble, they <em>might</em> be able to climb all the way up to the top, but they’d have to have a frame normally associated with ribbons, pleats, and the kind of fluffy ornaments stuck on the tops of pencils, in order to squeeze inside.</p>

<p>Invisible, flat on her stomach, and gazing out and down across the space in front of the still-closed Gilderoy Lockhart booth, Ginny Weasley surveyed the milling throng.</p>

<p>There were the Potters, with Harry looking more awesome than John ever could. She couldn’t for the life of her understand <em>how</em> Harry was keeping himself under control. If it had been <em>her</em> in his position, she’d still be chewing out Lord and Lady Potter at the top of her lungs. As it was, Lord Potter stood tall and dignified, while Lady Potter busily checked her hair for the fourth time in so many minutes while glancing towards Lockhart’s booth.</p>

<p>At that moment, Hermione walked into the shop like a witch on a mission. Ginny allowed herself a silenced snort as she watched the older girl sidle up to a bookshelf, stick her face in a seemingly random book, and casually edge her way up to the front of the queue.</p>

<p>“Mum, can I go browse books, pretty pretty pweese?”</p>

<p>Ginny whirled around — or rather, she tried to. She didn’t have much space.</p>

<p>“Okay, Ginny dear, but don’t pick up anything too expensive.”</p>

<p>Luna! Ginny squeezed her way out of her hiding spot and shimmied down the bookcase, careful not to land on anyone as she jumped, catlike, from three bookshelves up.</p>

<p>She ducked around another row, found Luna, tapped her on the shoulder, and together they made their way out of the shop.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Harry watched the crowd from the magical history section, his eyes just above an open ‘<em>History of the Second Magical British Empire’</em>, like a lion gazing over long grass. Getting hold of the Dark Lord’s first horcrux had been gnawing at him for quite a while now. Even with Lord Malfoy thinking Lord Slytherin might be Voldemort, he didn’t dare straight up ask him for the diary. He wasn’t sure just how firmly Malfoy believed it. He was also under no illusions about the probability that this, waiting in Flourish and Blotts, would work. Too much stuff had changed. But even so, there was almost no cost to being here anyway, just in case. His target then entered the shop, along with his wife, son, and a girl he didn’t know — an overseas cousin perhaps. The Malfoys certain had plenty of them.</p>

<p>Lord Blott shook hands with Lord Malfoy with the air of a man who is being put upon and then disappeared back into the booth.</p>

<p>Nothing happened for several moments. Then there was a slight dimming of the lights and a booming voice sounded out across the store. “Lords and ladies, wizards and witches!” A plume of coloured smoke shot out from the curtain causing the nearest startled witches to cough and wave their hands about trying to clear it.</p>

<p>“Order of Merlin, Third Class!”</p>

<p>The curtain started to raise.</p>

<p>“Honorary Member of the Dark Force Defence League!”</p>

<p>The curtain was halfway up now, more smoke pouring out as a multicoloured spotlight struck the floor.</p>

<p>“And five times winner of Witch Weekly’s Most-Charming-Smile Award!”</p>

<p>Someone let loose a swarm of butterflies that flew around the crowd to delighted shouts and squeals.</p>

<p>“I give you — GILDEROY LOCKHART!”</p>

<p>The crowd went wild.</p>

<p>Lord Malfoy put his head in his hands.</p>

<p>Harry couldn’t help smirking.</p>

<p>“Hey!” Harry turned. John stood right beside him staring with a deeply suspicious look. “What are you doing?”</p>

<p>“I am reading.”</p>

<p>John looked between him and Lord Malfoy, and, with obvious horror, understanding dawned.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The moment they were in the witches’ public bathroom, Ginny dropped her disillusionment.</p>

<p>“Ginny!” Luna hugged her. “I can’t tell you how much fun I’ve had. Being you is wonderful.”</p>

<p>“Good to hear it,” Ginny answered as they both started stripping and swapping clothes. “There weren’t any problems, were there?”</p>

<p>“None.” Luna stepped into her own dress. “Although, if Fred and George start worshipping you it’s probably best just to go along with it.”</p>

<p>Ginny froze. “Luna,” she started with barely concealed dread. “What did you do?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“You can’t interfere!” John hissed.</p>

<p>Harry looked at him with incredulity. “Why not?”</p>

<p>“The timeline—”</p>

<p>Harry clamped his hand around his twin’s mouth and pulled him into a deserted row of books. “Don’t talk about it in public!” he whispered, fiercely.</p>

<p>John glared at him.</p>

<p>“There is absolutely no reason why <em>anyone</em> should have to suffer under that <em>thing</em>,” Harry spat.</p>

<p>On the other side of the bookshelf, unseen by either boy, a short figure crept closer.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><em>It was so crowded</em>, thought Julia.</p>

<p>What were you expecting? Virgo thought back. The man is a celebrity.</p>

<p>Virgo had moved away from the packed mass surrounding his newly adopted father and was now stalking through the aisles, looking for differences between his own time in the forties, and now.</p>

<p><em>He does look very dashing.</em></p>

<p>Virgo could practically feel Julia blushing. He groaned. Did girls really use the word, ‘dashing’?</p>

<p><em>S-Shut up! I’ll use it if I want to.</em></p>

<p>Virgo made to strengthen his occlumency barriers again, to at least keep some of his thoughts to himself. He’d had trouble focusing ever since the girl from the clothes shop had flung him out of her mind with a force of will that no normal eleven-year-old should possess.</p>

<p><em>Serves you right! That’s what you get for trying to peer into girls’ heads, you pervert!</em></p>

<p>Virgo was halfway through projecting conciliatory and comforting thoughts to the girl when he noticed something.</p>

<p>Potter — both of them.</p>

<p>He sidled over to the shelf, behind which they were both crouched, doing his best to appear as graceful as possible in case anyone saw him, and peered through a tiny crack in the books. They were practically identical, except one had a lightning-bolt scar on his forehead. That would be ‘Harry’ — possibly another one of him — a horcrux in the flesh.</p>

<p>Their voices were low. Far too low for any normal person to hear over the bustle of the shop. But Virgo was no normal person.</p>

<p>“The diary <em>must</em> be destroyed,” said Harry.</p>

<p>Virgo froze. A stab of fear passed through her.</p>

<p>“Why?” asked John. His voice sounded harsh, angry, almost frustrated. “It would be better to let events happen. That way we know what will be.”</p>

<p>“Are you a fool? We don’t <em>want</em> things to happen the way they might.”</p>

<p>“You can’t take the diary!” John sounded almost frantic now. “You’ll just make everything even worse! It’s already bad enough!”</p>

<p>“I will do what I must.”</p>

<p>“Then so will I!” And with that, John marched off into the crowd towards Lord Malfoy.</p>

<p>Virgo pushed his back up against the bookshelf and tried not to breathe as he listened to what was very obviously <em>not</em> his horcrux curse and walk off after his twin. What the hell!?</p>

<p><em>You’re frightened.</em></p>

<p>Virgo ignored the thought and dashed away, trying to find the most remote, most isolated place he could.</p>

<p><em>I’ve never seen you frightened before.</em></p>

<p>He ducked into an alcove made up by two bookcases, steadied himself against the wood, and tried to think. They knew about the diary. How? He would never wish himself dead, so Harry was obviously not him!</p>

<p><em>Maybe your older self told them.</em></p>

<p>But they’re just children! My older self has been out of it for almost as long as they’ve been alive!</p>

<p><em>Maybe they weren’t talking about your diary.</em></p>

<p>No. Impossible. It was. They must have been.</p>

<p><em>What happens if they destroy the diary? Would I get my body back?</em> There was a touch of hope in her thoughts.</p>

<p>Nothing would happen! Virgo snapped. This is my body now! That’s not the point — the point is they want to kill me!</p>

<p><em>Then you’re fine, aren’t you? Stop whining! No one knows you’re the boy from the diary.</em></p>

<p>THEY MIGHT!</p>

<p>Virgo was finding it difficult not to panic.</p>

<p>They already know too much! They’re both extremely intelligent for their ages. They could make the connection! I’ve seen them fight! They’re both as powerful as I am, if not more! And I don’t have my most important rituals! They want to <em>kill</em> me!</p>

<p><em>John doesn’t.</em></p>

<p>Virgo stilled. He forced his breathing down. That was right, wasn’t it. John didn’t want to kill him. Only Harry wanted to kill him. His mind worked through all his plans, recalibrating them around this new information. He still needed to find out what was going on with Harry Potter and Lord Slytherin, now more so than ever, but perhaps a slight change in approach was in order — a slightly safer approach. He nodded to himself. If it was possible, a slightly more red and gold approach.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“It <em>can’t</em> be[[[,]]][[[…]]] John Potter!”</p>

<p>Harry couldn’t help smirking as John’s feeble attempts to scout out Lord Malfoy for the diary resulted in his being pulled onto the small stage behind the book-signing table by a beaming Lockhart.</p>

<p>The crowd started whispering excitedly.</p>

<p>Lily Potter was actually clapping and bouncing on the tips of her feet. To his credit, James Potter was looking rather more stoic, although that might have been more to do with Lily’s behaviour than anything else.</p>

<p>“Lords and ladies, wizards and witches! What an astonishing moment this is! John Potter!”</p>

<p>The crowd burst into applause.</p>

<p>“The inspiration for my best-selling book series! The hero of our world! A boy already making a name for himself as a powerful duellist, ready to defend against the forces of evil!”</p>

<p>With every additional sentence, the crowd’s reaction was building. The dedicated clerk ringing up book sales off to the side was working as fast as he could to bag coins and wrap books. Lord Malfoy stood up near the stage looking grim.</p>

<p>Lockhart’s voice lowered and the crowd quieted.</p>

<p>“Now, he might be just here looking for my latest book for some helpful tips and tricks on how to get even better… but!” His voice lowered to a whisper and the crowd leaned in to catch every word. “He had no idea, that he would be getting much, <em>much</em> more than that.”</p>

<p>John smiled nervously.</p>

<p>Lockhart leaned backwards and gave John a hearty shake around the shoulders. “Lords and Ladies,” he continued in a more normal voice, which nevertheless promised it would not remain normal for long. “Wizards and witches, I have always prided myself on my ability to <em>inspire</em> others to greatness through my own <em>great</em> works and deeds. A little magic, a perfect smile…”</p>

<p>He flashed a smile and a witch in the front row fainted. Harry couldn’t help notice the wand tip poking through the curtain.</p>

<p>“…And a great deal of courage — that is what our children need. And I’m happy to say that that is what they are going to get, because I have been asked, and have graciously accepted, to step into one of the most important roles in our world at Hogwarts School of Witchcraft and Wizardry — headmaster!”</p>

<p>The crowd erupted.</p>

<p>Lord Malfoy took his cue and walked up onto the stage to shake Lockhart’s hand as the cameras starting flashing again, all while holding an expression as flat and wooden as a bench.</p>

<p>“I and the board have great hopes for Headmaster Lockhart,” Malfoy said to the crowd in a dead voice. “I look forward to working with him.”</p>

<p>Harry smiled. He wasn’t the only one.</p>

<p>It was quite a bit later when the Potters finally made their way out of Flourish and Blotts. He’d cast a surreptitious wandless summoning spell on Malfoy as he passed, just in case he did have the diary, but nothing. He hadn’t expected it, and had not been disappointed. He’d have to find some other way.</p>

<p>Harry walked down the street one pace off to the side from his parents and brother, deep in his own thoughts, until a snatch of conversation brought him back again.</p>

<p>“Lord Malfoy — Virgo — his daughter — yes, apparently she was thought to be a squib — just like… well, you know…”</p>

<p>Harry frowned. Virgo? That girl with the Malfoys was Lord Malfoy’s daughter? Err… no. He was sure Lord Malfoy didn’t have a daughter. It wasn’t <em>impossible</em> that they’d cast out a squib — the Malfoys were certainly the people to do it, if anyone — but the timing was just too convenient. No, it <em>had</em> to be the diary. But how? Possession took a long time, possibly as much as a year, and even then the connection was tenuous.</p>

<p>He dug into the depths of his memories, trying to find something that could make this possible.</p>

<p>Eventually he dredged something up, but there was a problem. There <em>was</em> a ritual that could transfer a soul fragment to a still-living body, but it was unpredictable, unstable, and most importantly, a Black family ritual. Voldemort couldn’t use it.</p>

<p>Harry’s thoughts stopped dead.</p>

<p>Voldemort couldn’t use it, but Narcissa Malfoy could.</p>

<p style="text-align: center;">— End of Chapter Thirty-seven —</p>

{} [Fidelius]: Supposedly there's a plot hole/problem with the 7 fidelius 'rule', though the edit on the wiki says just "7 fidelius problem" as the 'corrected' part. I believe as long as Harry never had more than 7 fideliused locations simultaneously this can be disregarded, should be checked though.
