Chapter 38 - Strategic Sorting

<p>On Platform Nine and Three-Quarters, Chief Auror Sirius Black walked with his eleven-year-old daughter, pushing her trunk in front of him. On top of the trunk rested Alex’s cat-carrying container, with Amethyst, her jet-black cat, asleep inside. The air was full of awkward. Alexandra was entirely too calm. She’d been entirely too calm all morning — far too much like his cousins. Sirius hadn’t been like this on his first day of school. No, <em>he’d</em> been practically bouncing off the walls. It had driven his father spare. He smiled. Ah, fond memories. He looked down at the head of long, black hair bobbing along beside him. “Exciting, isn’t it?” he tried.</p>

<p>“Yes, Dad,” came the dutiful response.</p>

<p>“Buck up, Alex! It’s your first day of Hogwarts!”</p>

<p>Alexandra looked up at him. “I <em>am</em> looking forward to it, you know.”</p>

<p>Sirius’s shoulders slumped. “You could at least <em>look</em> a bit more like it.”</p>

<p>“I am our house’s heiress.”</p>

<p>Sirius groaned. “Promise me you and Harry and Luna will at least try to have fun together. No spending all your time in the library, or anything like that.”</p>

<p>Alex seemed to consider this. “Okay. I promise.”</p>

<p>Sirius grinned and spread his arms. “Hug?”</p>

<p>Alex seemed to consider this too.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Alexandra Black dragged her feather-light trunk up the corridor back the way she’d come on the platform. Her father had insisted on walking with her all the way to the end of the train where the Light children usually hung out before hugging her and sending her on her way.</p>

<p>She didn’t have anything against hugging. She liked Luna’s hugs, but her father’s hugs didn’t feel like Luna’s. When her father hugged her, it was all tension and stiffness, like he was waiting for her to turn on him.</p>

<p>Alex passed by the Gray’s compartment with barely a glance inside. She marched up the rest of the distance, all the way to the front of the train, to the very first compartment, and opened the door. It was empty. The others had to be running late. She parked her trunk under one of the benches, fished out a book from the pocket of her standard black Hogwarts robes, and had just gotten into a nice flow when the door slid open with a noticeable swish.</p>

<p>“So you <em>are</em> here.” Draco Malfoy stood in the doorway looking smug. “I hoped you’d know how to choose friends wisely, although…” his gaze roved over her clothes. “…Maybe your father just didn’t tell you what sitting here means.”</p>

<p>And so it begins, Alex thought. She looked up from her book and sneered. It was a good sneer. She’d been practising all summer. “Are you going to stand there posturing all day or are you going to sit down?”</p>

<p>Draco looked momentarily stunned before he narrowed his eyes. “This is my compartment, Black. You don’t order me around in here.”</p>

<p>“So you don’t want to sit down?”</p>

<p>“I will sit when I decide I will.” He threw her a look that suggested she was less than the shit on the bottom of his boot. “You don’t have your daddy to protect you here, Black. I should have known better than to think you’d know how to behave around your—”</p>

<p>Alex’s wand came out fast enough to cut Draco off in mid-sentence. “—My <em>what</em>, Heir Malfoy, of the mere <em>Noble</em> House of Malfoy?”</p>

<p>Draco glared at the wand pointed at his chest.</p>

<p>A bored-sounding female voice from the corridor behind Malfoy said, “Well, this is all <em>very</em> interesting.”</p>

<p>Alex’s eyes flicked to the back. A blonde girl her age stood there, watching Alex’s wand like a cat watches a mouse.</p>

<p>“And you are?”</p>

<p>The girl moved forward and bobbed the slightest curtsey Alex had ever seen. It was barely even a bow. “Virgo Malfoy of the, yes, <em>Noble</em> House of Malfoy.”</p>

<p>Virgo Malfoy. Alex’s mind flipped through the warning Harry had passed to her a few days before — enemy — powerful — dangerous — legilimens — manipulative — treat with caution. So naturally, the first words out of her mouth were, “The squib?”</p>

<p>The girl’s eyes flashed, Draco flinched, and magic instantly filled the compartment — raw oppression pushing and pressing down on Alex from all sides like she’d been buried in wet sand.</p>

<p>It was impressive…</p>

<p>Of course, it would have been more impressive if Lord Slytherin hadn’t already taught Ginny, Luna, and Harry the same trick, and if she, Alex, hadn’t already learned a Black family magic spell that did something similar, if a bit more dementor-ish.</p>

<p>The magic faded.</p>

<p>Virgo watched her with an expectant look on her face.</p>

<p>Alex tilted her head. “Okay, I guess?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The Hogwarts Express had pulled out of Platform Nine and Three-Quarters, and now the suburbs of London were giving way to fields and hedges. In the middle of the train, Ginny Weasley stared at Harry in horror and disgust. “Virgo Malfoy is the diary?”</p>

<p>“She is,” Harry replied.</p>

<p>“Ew! Ew!” Ginny wrapped her arms around herself. “That thing saw me naked!”</p>

<p>“I’ve already warded all the entrances to the Chamber. As soon as we get to the castle, I’ll ask the twins for a loan of the map and then, when a good opportunity presents itself, I’ll—”</p>

<p>“—I want to do it,” Ginny cut in.</p>

<p>Harry frowned. “Absolutely not. I’m clearly the best suited for this task.”</p>

<p>Ginny didn’t look mollified. “What’s the point in all my training if I don’t ever use it? Isn’t this what I’ve been working for? For nearly three <em>years</em>? The diary is <em>my</em> fight!”</p>

<p>Luna looked up from her book.</p>

<p>“Be that as it may—”</p>

<p>“—I think you should consider it,” Luna said.</p>

<p>On the other side of the compartment, Hermione and Daphne raised their eyebrows.</p>

<p>“You said the diary wouldn’t have the benefits of the unforgivable ritual,” Luna continued. “Nor many of his other rituals. It’s Riddle, yes, but it’s a sixteen-year-old Riddle, not a seventy-year-old Riddle. Ginny is ready. So am I.”</p>

<p>Ginny blanched. “Luna, I want it to be <em>me</em> who destroys the diary.”</p>

<p>“I think you should let Harry do it,” Hermione said. “If he says it’s the best way then that should be good enough. Isn’t that right, Daphne?”</p>

<p>Daphne made a non-committal head wobble.</p>

<p>Harry’s eyes flitted between the girls. He then stood up and stepped over to the door. “Luna, walk with me?”</p>

<p>“Yes, Harry.”</p>

<p>Harry led Luna down the train and into a bathroom, shutting and locking the door behind him.</p>

<p>“Cosy.” Luna giggled. “I didn’t think you’d be pulling me into these places for a few years, yet.”</p>

<p>Harry finished casting the rest of his privacy spells. He turned to her. “Okay, Luna. What you’re suggesting is obviously not optimal. Care to explain your logic?”</p>

<p>Luna nodded. “One day you will probably want to start sending me and Ginny up against far more dangerous threats than the diary. The diary is a useful way to ease us into that role. Experience requires experience.”</p>

<p>Harry frowned. “I know you and Ginny are both scarily competent at the <em>limited</em> number of techniques you’ve been mastering — much more so than Riddle was, even at sixteen — but the diary is still dangerous in the variety of magics it knows.”</p>

<p>“Of course, but you can mitigate that risk.”</p>

<p>“How?”</p>

<p>“Influence Lockhart into creating portkeys that work inside Hogwarts — make it his own idea. Then have him gift them to someone in the Dark, steal them, and frame it on the Light.”</p>

<p>“…So that if you or Ginny have to use them to escape, it would look like a Light assassination attempt.”</p>

<p>“Exactly.”</p>

<p>Harry leaned back on the sink and thought about it for several minutes. Then he kicked off. “If we can’t get those portkeys then I’ll do it myself — you two will have to settle for support roles.”</p>

<p>Luna nodded and the two of them made their way back to the middle compartment.</p>

<p>They arrived to find the window open, and Macavity—Lord Slytherin’s large and majestic sooty owl—snuggling up to Hedwig on her perch. Daphne’s marmoset familiar, Freekey, hung from the overhead luggage compartment, playing with Ginny’s stuffed dragon teddy bear.</p>

<p>Ginny herself was busy making notes in a small yellow book. Harry gave her a nod, which caused her to grin from ear to ear. He then raised a questioning eyebrow at Daphne who was going through several letters that Macavity had clearly just delivered. “Anything?”</p>

<p>Daphne nodded. “The Hogwarts board has confirmed a meeting for this Tuesday.”</p>

<p>Harry sat down and drummed his fingers on the small compartment table. “Okay, this will be a perfect opportunity to get the muggleborn guardianships all handed over to us.”</p>

<p>“That’s moving very quickly,” Hermione warned. “I’m not sure how some of the older ones will take that.”</p>

<p>Daphne snorted. “Most of them don’t even know they <em>have</em> a magical guardian.”</p>

<p>“But they <em>will</em> if this makes it to the Daily Prophet,” Hermione pointed out.</p>

<p>“Harry can lean on Malfoy to lean on the Prophet. Besides, we don’t have time to wait around.”</p>

<p>“I’m not saying we <em>shouldn’t</em> do it.” A tone of exasperation leaked into Hermione’s voice. “I’m just saying that I might have to answer some uncomfortable questions.”</p>

<p>“Oh? You’re always saying how much they trust you.”</p>

<p>“Yes, the muggleborns <em>our</em> age!”</p>

<p>Harry sat back and let it wash over him. After several minutes of back and forth he cut in. “And the second thing, Daphne?”</p>

<p>Hermione and Daphne froze in mid-argument.</p>

<p>Ginny sniggered.</p>

<p>Daphne coughed and picked up the parchments again. “Yes, MaCUSA are interested in our magical submarine pitch. They say they want a full proposal sometime in the next eight weeks.”</p>

<p>Harry nodded to himself. “We can do that.”</p>

<p>Eight weeks was enough time to sort that out. He glanced at his watch and out the open window. It was getting on for time, and he had another, rather more critical meeting to get to. He looked over to where Ginny and Luna were in deep conversation.</p>

<p>“It’s a muggle book?” asked Ginny.</p>

<p>“It’s about a muggle dragon sanctuary that gets overrun by the animals they’re trying to breed.”</p>

<p>“How do muggles have dragons?”</p>

<p>“They find them in tree sap.”</p>

<p>“Muggles — found dragons — in <em>tree</em> sap?”</p>

<p>Harry stood up. “Girls.”</p>

<p>Daphne, Hermione, Ginny, and Luna all turned to him.</p>

<p>“I’m heading off now — probably be back in a few hours.”</p>

<p>Ginny bit her lip. “You’re off to talk to my Dad?”</p>

<p>“I am.”</p>

<p>Ginny nodded. “Good luck.”</p>

<p>Harry walked to the window, giving Ginny’s shoulder a reassuring squeeze on the way. He then disillusioned himself and threw himself out of the train, straight into a blasting sixty-mile-an-hour wind. The wind quickly became a gentle breeze as he slowed down in the air and floated just above the track.</p>

<p>The Hogwarts Express gently chugged off into the distance.</p>

<p>Harry felt for the thin membrane of space-time magic that separated the Hogwarts Express line from the rest of the country, donned the invisibility cloak, and silently slipped through it. Once on the other side, he started apparating at speed back south. This was an important meeting. He’d prepared for it for days, studying his target and crafting the perfect line of attack. It was time to put all that work into effect.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Back on the Hogwarts Express, in a compartment about midway between the Light and the Gray, Fred and George Weasley poured over rune plans for the oxygen-recycling plate they’d designed and sold to Lord Slytherin’s friends last year. The Settlers now wanted a new and improved version — smaller — more powerful — and they wanted it fast.</p>

<p>“Not asking for much, are they?” Fred muttered.</p>

<p>George shrugged. “They’re paying for what they’re asking for. We still have a list of things to try.”</p>

<p>The door slid open. The plans vanished into Fred’s pocket.</p>

<p>John Potter stood in the door, a faint smile on his face.</p>

<p>“Well, hello, Heir Potter.” George gave a theatrical bow. “And to what do we humble pair owe the honour?”</p>

<p>John Potter stepped into the compartment proper and grinned. “Would you like to know about Prongs?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The air surrounding the Burrow was calm and peaceful. The family Ford Anglia was safely parked in the shed, alongside several hundred other muggle projects, which the part-time patriarch of the house, Arthur Weasley, played with on a regular basis.</p>

<p>Said part-time patriarch was currently sat in the kitchen, straightening the cuffs of his best tweed suit.</p>

<p>“I don’t like this Arthur,” Molly Weasley said while directing the unwashed dishes from breakfast into the sink. “How do you know you can trust him?”</p>

<p>“I don’t,” he answered in a calm voice. “That’s why I’m having lunch with him.”</p>

<p>“I wish you would at least tell me what you plan to talk about.”</p>

<p>Arthur sighed.</p>

<p>Suddenly, a loud roar of <em>something</em> passed over the Burrow. Arthur leapt to his feet and dashed to the window, Molly right behind him. The two stared as a muggle flying device slowly landed in the field one over from them, its rotors kicking up dust and grass and making enough noise to cause birds to take flight as far as the eye could see.</p>

<p>A figure hopped out, tiny at this distance — a figure wearing a black suit of the kind Arthur often saw muggles wearing in the city. The figure started to make its way over to the Burrow, the muggle flying device still roaring behind it, and as it got closer, it became obvious the man was wearing a mask that covered the top half of his face.</p>

<p>“Arthur—” Molly started in a warning voice.</p>

<p>“It’s one of them!” Arthur said, delighted. “The muggle flying machines that go up and down! A heliflopter!”</p>

<p>“Arthur!”</p>

<p>Arthur turned to see Molly staring at him.</p>

<p>“Be careful, Arthur.”</p>

<p>Something in his wife’s voice got through to him. He nodded, face serious, gave Molly a peck on the cheek, made his way to the back door, shoved his way through it, and half-trotted across the lawn to the back gate.</p>

<p>He reached the masked man halfway across the next field. “Lord Slytherin?”</p>

<p>The man took no time to slow down. “Mister Weasley.” He turned smartly back around and started walking away. “We’re late. Follow me.”</p>

<p>“Late?” Arthur tried to adjust his gait to the taller man’s but found himself having to half skip to keep up. “I say,” he tried, “what are we late for?”</p>

<p>“We have a reservation.”</p>

<p>“Reservation?” Arthur called out. They were getting closer to the heliflopter now. “Why are we using a heli—”</p>

<p>“Wands away, Mister Weasley,” Slytherin called back to him. “Muggle territory now.”</p>

<p>Arthur hastily patted down his coat, making sure his wand was secure. The heliflopter was really quite close now. He had to shield his face with his arm to block the wind.</p>

<p>“This is Robert!” Slytherin shouted, pointing to the man in the front seat of the heliflopter who waved at them. “Ex-Royal Air Force! He’ll be our pilot!”</p>

<p>After a fascinating encounter with what Robert the muggle called a ‘safety buckle,’ the door slid shut with a loud clunk sound. They both donned tight-fitting earmuffs and the machine started to lift up into the air, Mister Weasley clutching the seat for dear life. “But how does it work?” he shouted, staring out of the window in awe as the country-side sped away past them.</p>

<p>“No idea,” Slytherin replied. “Needless to say, it does.”</p>

<p>“Differential air pressure between the blades powered by a Rolls Royce engine!” Robert called out helpfully.</p>

<p>Arthur glanced away from the window, towards the muggle, bit down the thousand and one questions he had for Lord Slytherin, and tried to figure out what the long, red, cylindrical, metallic device under his chair could possibly be for.</p>

<p>Half an hour later, they’d left the green fields of the West-Country far behind them, and were flying over the streets of London.</p>

<p>“Here we are!” Robert announced as the heliflopter descended on one of the tall building’s rooftops.</p>

<p>The moment Arthur’s wobbly feet hit the ground another muggle in a suit and a moustache greeted them and guided them into the building, away from the machine’s constant roar.</p>

<p>“I hope your trip was pleasant, Mister Slytherin?” their guide asked.</p>

<p>“Quite pleasant, thank you.”</p>

<p>They were led into a large elegant room filled with tables, in which dozens more muggles were eating. The place reminded Arthur very much of the occasional time he’d been invited to one of the manor balls. Their guide led them past all the diners, out of a pair of large glass double doors, and onto a balcony. A table was set for two.</p>

<p>“Please, Mister Weasley.” Slytherin gestured for him to sit.</p>

<p>Arthur did so.</p>

<p>What followed was a singular exercise in frustration and fascination as he waited for them to finally be alone from the many muggles waiting on them. Whenever he thought they were finally done, another would pop out of nowhere to make some tiny adjustment or ask a question and then, of course, he’d just <em>have</em> to ask his own, which they seemed only too happy to answer.</p>

<p>“Summer fruits wine, sir.”</p>

<p>Slytherin inspected the bottle’s seal before nodding and allowing the waiter to pour Arthur a glass.</p>

<p>Arthur took a sip. “Mmm… strawberry, raspberry… plum?”</p>

<p>“It wouldn’t surprise me.” Slytherin sipped on his own glass of dry red.</p>

<p>The food arrived shortly thereafter and they were finally alone.</p>

<p>Arthur swallowed a slice of perfectly cooked steak, put down his fork and knife, and let out a long, deep sigh. “As interesting as this all is, I can’t help feeling it all rather elaborate. Do you normally treat all your lunch partners like this?”</p>

<p>Slytherin shook his head. “No, but I can only guess at what you wanted to discuss. I thought it would be a good idea to talk where there was no possibility of the Rotfang Conspiracy overhearing us. Nargles do not make for good lunch partners and everyone knows they are allergic to the hair products muggles use.”</p>

<p>Arthur nodded his understanding. It seemed obvious now it had been said. He picked up his fork. “My twin sons came to me a while back with a very interesting proposal.”</p>

<p>“I know.”</p>

<p>Arthur hesitated. “I wasn’t expecting you to be so forthcoming.”</p>

<p>“In all honesty, I expected you to demand a meeting sooner.” Slytherin took another sip of wine. “Might I ask how you figured out that <em>I</em> am their patron?”</p>

<p>“Molly and I have a standing order with Gringotts to apply the five percent maximum tax rate for the members of my house — something my working sons are quite happy with, and I have a useful contact in the Department of Trade who knew about a recent deal between Nimbus and your house. I was rather surprised when I received my Gringotts statement earlier this month.”</p>

<p>“Ah, yes that would do it. So, what would you like to know? I hope you’re happy with Fred and George. They are quite the amazing pair and it would be a tragedy if their talents were squandered.”</p>

<p>Arthur shook his head. “I have no problems with that, per se, although I do find your whole cloak and dagger way of doing things more than a little unsettling.”</p>

<p>“I have good reasons.”</p>

<p>Arthur observed the man in front of him carefully. Unlike the magical mask Slytherin was known to wear, this muggle one showed his eyes as well as most of his lower face, although Arthur had to assume he also wore a glamour. “Do your good reasons have anything to do with your unasked-for interventions in my daughter’s life?”</p>

<p>If Arthur was hoping for any kind of immediate reaction, he was disappointed. Slytherin finished bringing a morsel of food to his mouth, chewed it, swallowed, cut himself another slice, and inspected it as though it were the most interesting thing in the room. Slytherin looked up and caught his gaze. “Go on.”</p>

<p>Arthur gave Slytherin a wooden expression. “My wife has a clock — a Prewett family artefact. It tracks the location of all members of the Prewett line through the Albion family magics. When Molly’s brothers were murdered by You-Know-Who the clock became matrilineal and passed to her. Molly hasn’t noticed, but I have. Ginny spends far too much time outside when she <em>should</em> be in the Burrow, slipping past wards that no eleven-year-old could.”</p>

<p>“I’m surprised you didn’t cotton on to your twin sons’s excursions the same way.”</p>

<p>“Blu Tack.”</p>

<p>“Sorry?”</p>

<p>“Blu Tack. It’s this muggle stuff that sticks to things. I found it behind the twin’s spoons on the clock.”</p>

<p>“Resourceful.”</p>

<p>“Ah, yes, yes, very resourceful.”</p>

<p>They continued to eat in silence, each occasionally throwing the other glances as though waiting for the other to bite first. Eventually Slytherin put down his fork and knife. “What do you know about Fate?”</p>

<p>“Fate like destiny?”</p>

<p>“Like Fate with a capital F.”</p>

<p>Arthur gave Slytherin a cautious look. “The mythological magical being from whom prophecies supposedly originate?”</p>

<p>“That’s the one.”</p>

<p>“That was pretty much everything — look, where is this going? If you’re going to tell me that Ginny has a prophecy—”</p>

<p>“She does.”</p>

<p>“I haven’t received any word from the Department of Mys—”</p>

<p>“—The prophecy was not made in Britain.”</p>

<p>Arthur shut his mouth with a loud click. He put his elbows on the table and rubbed his temples. He then picked up his wine glass, brought it to his lips, and took rather more than a sip. The glass hit the table with a small thump. “And you heard this prophecy, did you? Ready to share the memory?”</p>

<p>Slytherin shook his head. “<em>This</em> prophecy was given under extremely unusual circumstances, so that won’t be possible.”</p>

<p>“Then how do I know you’re not talking out of your arse? Pardon my language.”</p>

<p>“You don’t. I can only show you that my actions up to now have all been with Ginny’s best interests in mind, and to point out that I would not invest such time and effort on a whim.”</p>

<p>Arthur nodded slowly, glass in hand. “Okay, what does this prophecy say?”</p>

<p>“I won’t give you the exact wording, but the main points are that without my intervention, Ginny would die by the end of this year…”</p>

<p>Arthur spat out his wine across the table and looked at Slytherin in horror.</p>

<p>“…That together, Harry Potter and Ginny Weasley will defeat a resurrected Dark Lord Voldemort…”</p>

<p>The look of horror intensified.</p>

<p>“…And that to succeed, Harry Potter and Ginny Weasley must be ‘bound together.’ Although that can be interpreted in many ways. They are certainly close friends.”</p>

<p>Arthur stared. “That all?” he said, weakly.</p>

<p>“Mostly, yes.”</p>

<p>“Why not tell me before?”</p>

<p>“I have enemies. Some of those enemies are people I happen to know you hold a great deal of respect and fondness for.”</p>

<p>“Everyone knows you and Dumbledore don’t get along.”</p>

<p>Slytherin slightly inclined his head.</p>

<p>Arthur sighed. This was going to be a long discussion.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>An hour later, Harry watched Arthur Weasley apparate away back to the Burrow. Everything had gone well. He’d gotten exactly what he needed — for the moment, at least. He’d now wait a few weeks to see if any of that information leaked before making his next move.</p>

<p>Satisfied, Harry disillusioned himself, snuck into the kitchens, found the open bottle of summer fruits wine, and used his wand to deftly switch out the contents into a bottle of his own. Dirigible plum was almost unique in its rareness after all — no sense wasting it.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Watching children trying to play at politics was always amusing, Virgo thought, but he did have to admit that some played better than others.</p>

<p>“The Black family magics belong with those who can appreciate them, cousin,” Draco said in an annoyed voice. “Surely <em>you</em> can understand that?”</p>

<p>On the other side of the compartment, wedged in between Pansy Parkinson and Millicent Bulstrode, Alexandra Black smirked. “Why not just ask my aunt?”</p>

<p>Draco flushed.</p>

<p>“Ahhhh… has mummy not deemed you ready? Oh, <em>dear</em>.” Alexandra lifted her feet, removed one of her low-heeled shoes with her other foot, and let the shoe fall to the ground with a small thump. She then extended the sock-clad appendage into the middle of the compartment. “Why don’t you get down on the floor and kiss my foot?” The other children all choked. “Then, maybe, I will teach you <em>a</em> spell.”</p>

<p>Virgo clamped down on the impulse to smile. He <em>liked</em> this girl.</p>

<p><em>You would</em>, thought the soul of Julia.</p>

<p>Draco stared at the foot as though it were a poisonous snake.</p>

<p>“No?” Alexandra sighed in mock disappointment before slipping the shoe back on. “Oh, well — I guess not then — such a shame. They were such delicious magics, too.”</p>

<p>Alexandra would make an excellent follower given the correct incentives.</p>

<p><em>Really? </em>thought Julia. <em>Seems to me like she wouldn’t follow anyone.</em></p>

<p>That shows how little you understand. The girl is power sensitive. She clearly understands how the world <em>really</em> works, and has the drive to dominate. Such people often make the best followers once they’ve been shown they are categorically <em>not</em> the most powerful person in the room.</p>

<p><em>Shame you didn’t manage to convince her of that, then. </em>Virgo could practically feel the triumphant smirk in the thought.</p>

<p>He scowled.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The most powerful person in the room stared at the Slytherin girl prostrating herself to him on the floor of the otherwise-empty compartment.</p>

<p>Not five minutes ago Harry had found his way back onto the Hogwarts Express after having flooed to Hogsmeade and doubled back along the underground ward stone tunnel, which hid the Hogwarts Express line from the muggles. He’d no sooner clambered back into the Gray’s compartment when Heiress Tracey Davis had asked for a private conversation.</p>

<p>Tracey had been kidnapped by Lord Voldemort at the end of the last year and had subsequently learned of Harry Potters’s <em>other</em> identity. The girl in front of him now was quite different from the one he’d left on the Hogwarts Express a few months ago.</p>

<p>“Gray Lord Slytherin,” Tracey half-whispered, head pressed to the floor.</p>

<p>“Yes, Tracey?”</p>

<p>There was a silence.</p>

<p>“Tracey?”</p>

<p>“I— I’m sorry, my lord. I’m not sure how to address this.”</p>

<p>Harry sighed. “Oh for Merlin’s sake. Get <em>up</em>, Tracey.”</p>

<p>Tracey looked up, then got to her feet.</p>

<p>“Sit down.” Harry pointed to the chair opposite him.</p>

<p>Tracey sat.</p>

<p>“Now, go slowly, and talk to me.”</p>

<p>Tracey took a deep breath. “It’s about Grandfather. I’m sure you must know him — what with you both being lords. I’ve heard him talk about you — he respects you — sort of — but over the summer I’ve heard my mother arguing with him when they thought I couldn’t hear. I think my grandfather wants to betroth me sooner rather than later—”</p>

<p>Ahh, Harry thought.</p>

<p>“—He’s very traditional like that. I don’t think I’d even know until it happened. Mother sounded furious, but ultimately it wouldn’t be her decision, and Dad tends to go along with my grandfather.” Tracey’s fists gripped her robes. “I know it’s not fair, given what happened with you and Daphne, but I <em>really</em> don’t want to be betrothed to someone I didn’t choose. I was wondering — I mean, what with you being the Gray Lord — if you could — I’ll do <em>anything</em>, Harry.”</p>

<p>Harry idly chewed his tongue. Persuading Lord Davis to let his granddaughter be courted normally was probably doable, but it wouldn’t be without cost. “What anything?”</p>

<p>“Anything!” Tracey hesitated. “Well, anything short of <em>that</em>.”</p>

<p>Harry sat in silence for a moment considering his options before speaking. “Would you be willing to pledge yourself to my service for the remainder of your time at Hogwarts?”</p>

<p>“I would.”</p>

<p>“Would you be willing to listen to my advice about your betrothal prospects?”</p>

<p>“My lord?”</p>

<p>“Only listen, Tracey, not give up the final decision, or anything like that. I doubt your grandfather will agree without my offering to oversee the process and report back to him.”</p>

<p>Tracey nodded slowly. “I understand.”</p>

<p>“Go on then.”</p>

<p>Tracey looked momentarily confused before understanding dawned and she got back down on the floor. “Lord Slytherin, in return for the freedom to choose my own future husband, I pledge myself to your service for the next six years.”</p>

<p>“Tracey Davis, Heiress of the Noble House of Davis, I accept your pledge in the spirit in which it is given. Now stand.”</p>

<p>Tracey stood. Her body looked like a weight had been lifted off of it.</p>

<p>“I also now give you official permission to use the possessive alongside my title.”</p>

<p>“My lord?”</p>

<p>“You may call me, ‘my lord.’”</p>

<p>“Oh.” Tracey smiled. “Thank you, my lord, you’ve no idea how much this means to me.” She brushed her robes down. “What would you like me to do now?”</p>

<p>“I suspect Hermione and Daphne are going to be buried under work for me this year. You will assist the two of them to the best of your abilities. Report to Hermione for a briefing on her projects.”</p>

<p>“Yes, my lord.” And with that, Tracey curtsied low to the ground, turned around and left.</p>

<p>Harry sighed. He kinda missed the snarky Tracey from last year who’d call him ‘Potter’ and get all frustrated when he didn’t do what she wanted. Maybe he could gradually tease that Tracey back out once she’d gotten used to taking orders from him…</p>

<p>Moments later, Daphne stepped into the compartment and shut the door behind her. “What was <em>that</em> about?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Students up and down the train had started calling it muggleborn HQ. It sat a dozen compartments away from the middle of the Hogwarts Express. Not close enough to the Gray to give people the wrong idea, but close enough to make a point. It was also cramped as hell.</p>

<p>Hermione looked around, taking mental notes. Hogwarts had a muggleborn quota. Five of the forty new students each year <em>had</em> to be muggleborn. She and the rest of the Founders club—the muggleborn support group that Harry had guided her to build—had gone up and down the train and rounded up the first-year muggleborns. Three girls, two boys.</p>

<p>She’d introduced herself and the group, then partnered up the first and second years with each other.</p>

<p>Dean Thomas had taken a squeaky, photography-obsessed boy named Colin Creevey, who’d needed rapid deprogramming from the romantic notions some Boy-Who-Lived crazed fool had shoved down his throat in Diagon Alley.</p>

<p>Kevin Entwhistle partnered with his younger sister. Kevin came from a lower-class muggle family and had spent a lot of the last year adjusting to life at Hogwarts. He stood taller than Goyle and wider than Crabbe, but unlike them, hated unfairness when he saw it — a classic Hufflepuff. His sister, Annabel Entwhistle, was tiny by comparison. The two of them looked like they’d perfectly divided up all the big and small genes in their family between them.</p>

<p>In comparison to the huge difference between Kevin and Annabel, Hermione and Sophie partnered with Violet and Marigold Chesterfield — twins. What was it with the Wizarding World and twins, Hermione wondered. The Weasleys, the Potters, the Patils, the Carrows, and now these two? They were brown-eyed and brown-haired, and seemed more in sync than even Fred and George.</p>

<p>That left Justin Finch-Fletchley with Alan Gage, an average-looking boy of average height and average wit — normal and unremarkable in every way possible — just one more body in an already-bustling compartment.</p>

<p>If the compartment only held the second- and first-year muggleborns, then it wouldn’t have been nearly so cramped, but word had spread while they’d been rounding up the first years, and a handful of older muggleborns had somehow managed to find space too, cramming up on benches, on the floor, table, or, in the case of one fourth-year Hufflepuff, lying on his tummy in the overhead luggage rack with his head and one arm dangling over the edge.</p>

<p>“Here’s a list of people you can go to if you have serious problems,” Hermione said, passing out the parchment packages to the first years.</p>

<p>Sophie leaned over and giggled. “Why, Hermione, on <em>your</em> list, have you outlined Harry’s name in little hearts?”</p>

<p>Hermione flushed furiously and stuffed the list into the pocket of her robes. “And the first meeting of the Founders club will be at the start of October,” she continued, as if nothing had happened. “If you want to learn more about Lord Slytherin before then you can read the packages.”</p>

<p>“Will this club improve our ministry prospects?” asked the Hufflepuff in the luggage rack.</p>

<p>“It’ll get you better marks if you stick with it,” Kevin said. “Can’t say any more than that. We’re under contract.”</p>

<p>“Would you work around Quidditch practice?”</p>

<p>Justin looked up in surprise. “You’re on the Quidditch team?”</p>

<p>“Well no, but I’d like to be.”</p>

<p>Dean sniffed. “This is like football. All the quidditch players spend <em>all summer</em> practising on their local village pitch — that’s what I’ve heard.”</p>

<p>The luggage rack Hufflepuff huffed. “More discrimination.”</p>

<p>“Good point,” Hermione said, searching in her bag for a quill. “I’ll add broomstick fields to the introduction package.”</p>

<p>“Doesn’t help us now.”</p>

<p>“There’s a good reason we can’t just fly any old place,” Hermione countered. “We’re not here to complain, we’re here to help each other. Besides, you’re in Hogwarts. That’s already a huge advantage.”</p>

<p>“I suppose.”</p>

<p>The door slid open. It was Tracey.</p>

<p>“Ah,” Hermione began. “This, first years, is Heiress Davis. She’s on the list. What can we help you with?”</p>

<p>“Can the formality, vassal. I’ve been demoted.”</p>

<p>“I beg your pardon?”</p>

<p>“Our Lord Slytherin has assigned me to be your assistant.”</p>

<p>This drew incredulous looks from all the non-first-year muggleborns in the compartment. Their faces all suggested the same thing — an heiress serving a muggleborn — well, well.</p>

<p>Hermione hesitated for only a moment before rallying and pulling out a trunk from under the bench for Tracey to sit on and work from. The two then whiled away the next few hours reading, comparing project notes, and fielding endless questions from both the younger and older students (Tracey proved invaluable for some of the more detailed questions) and soon enough, the sky outside had darkened, and a loud voice announced that they were nearing Hogsmeade Station, and that they should ‘leave their luggage on the train’ — a command that the more than handful of students with shrinkable trunks, totally failed to obey.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The dark platform was a mass of black-clad students, mostly shuffling towards the carriages, or to where Hagrid the gamekeeper was shouting, “Firs’ years! Firs’ years over ‘ere!”</p>

<p>John Potter crept through the crowd, eyes sharp for his target — for <em>his</em> Ginny. He spotted her through a gap in the throng, milling around with a group of other first-year girls, her long red hair flowing out behind her.</p>

<p>John pointed his wand and whispered, “Accio, diary.”</p>

<p>There was a pull, an “Eep!”, and a yellow diary, small enough to fit into the palm of his hand, sailed towards him, landing on the ground at his feet. He stared at it in mild dread.</p>

<p>Slap!</p>

<p>John staggered backwards, face stinging.</p>

<p>Ginny stood in front of him, enraged, and snatched up the small yellow book. “You bastard!”</p>

<p>John rubbed his cheek and stared. He hadn’t even seen it coming. Was it possible for people to move that fast? “Look, Ginny, this isn’t—” He wasn’t sure what excuse he was actually going to use, but he didn’t get a chance to use it before Ginny turned on her heels and stalked away, back towards the first-year boats.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“I don’t know <em>who</em> she thinks she <em>is</em>,” said the shrill voice of Pansy Parkinson. Pansy, Draco, Theo, and Milli were all sat in one of the carriages slowly making its way up to the castle. “It’s like she thinks she can just waltz in here — as though Lord Black hasn’t spent the last ten years dragging the name of Black through the mud.”</p>

<p>Draco said nothing — just stared out the window.</p>

<p>“You need to put her in her place, Draco,” she continued. “A good hard sting is what she needs.”</p>

<p>“Oh?” Theo snickered. “Like with Granger, last year?”</p>

<p>Draco did his best not to grimace. Opening a prank spell war with the mudblood had turned out to be a bad idea. It had taken him months to rebuild his credibility after he’d come limping into the Slytherin common room looking like the joke metamorphmagus from one of wizarding Britain’s stranger magical theatre productions. That Alexandra Black sought out the Dark was good, but…</p>

<p>Pansy sniffed.</p>

<p>Draco tore his gaze away from nothing. “Don’t worry,” he said, voice far harsher than his normal bored drawl. “I have already taken steps to ensure she will be brought up to speed on what is required of her. You can be sure of that.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>If Ginny thought her mood was going to improve once she’d gotten away from John ‘let-my-girlfriend-get-possessed-by-the-Dark-Lord’ Potter, then she was sorely mistaken. She stormed down to the boats, Luna almost sliding to keep up (“No more’n four to a boat!”), and was joined, moments later, by Alex, along with the last person on Earth she wanted to spend the ride with.</p>

<p>“Hello, Alex,” said Luna in a chipper voice. “Who’s your friend?”</p>

<p>“Virgo Malfoy,” said the diary, sitting down opposite Ginny. “And I believe <em>we’ve</em> met before, Miss Weasley.”</p>

<p>A shiver ran up Ginny’s spine. Just a few minutes alone, she thought, as the boats all pushed off together. Just a few <em>seconds</em>, and me and Luna and Alex could dog pile it — drown it in the lake — and feed the body whole to the giant squid.</p>

<p>Of course, that would mean having to explain to Alex exactly why they were trying to murder their eleven-year-old classmate…</p>

<p>Unfortunately, no such opportunity presented itself. Ginny’s boat stayed firmly in the middle of the small armada, and as they rounded the corner, Hogwarts Castle loomed in the distance. Everyone made thematically appropriate Oooooooh noises.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><em>Ooooooooh</em>, thought the soul of Julia.</p>

<p>Beautiful, isn’t it? Virgo thought back.</p>

<p><em>It is. </em>There was a pause. <em>But I still hate you!</em></p>

<p>Virgo sighed.</p>

<p>It wasn’t long before the boats drifted into the alcove he remembered from his first year, leading up to the castle proper. A stern-faced witch introduced herself as Professor McGonagall, and then gave them a speech about their house being like their family. She seemed to be in a rather bad mood. Virgo listened with only half an ear, purposefully ignoring the occasional pouty glares of the Weasley girl. Honestly, he thought, try to mind rape someone just once and they never let it go.</p>

<p>Julia’s soul made a horrified spluttering sound.</p>

<p>Whoops, did he think that inside?</p>

<p><em>Yes!</em></p>

<p>McGonagall then left them to ‘get ready.’ The other students started whispering the moment the door closed.</p>

<p>“Draco actually had the balls to suggest I might one day join <em>his</em> harem,” Alexandra Black said to Luna Lovegood. “Can you believe that?”</p>

<p>“Draco Malfoy has a harem?”</p>

<p>Alexandra snorted. “In his dreams.”</p>

<p>Virgo couldn’t help notice two twin girls standing behind Alexandra Black, both with long black hair, both eyeing the Black heiress up the way a pair of wolves might eye up a rabbit. Hestia and Flora — the Carrow twins — one of <em>two</em> sets of twins this year — although which was which was anyone’s guess.</p>

<p><em>Which witch is which!</em></p>

<p>Yes, very witty.</p>

<p>The side door opened again and Professor McGonagall ushered them inside. Halfway into the great hall, Virgo caught sight of what hung behind the headmaster’s chair. He stopped dead, causing the rest of the first years behind to bump into him with many ows and complaints.</p>

<p>A twelve-foot-tall banner featuring the beaming visage of Gilderoy Lockhart dominated the front of the hall. Virgo stared in horror.</p>

<p>“What are you waiting for?” snapped McGonagall, still not looking very happy. “Hurry up!”</p>

<p>Virgo quickly lined up with the children and stared out across the hundreds of students. Many of the rather mixed gazes weren’t on them, but up and back, clearly on the smiling, blond abomination behind him.</p>

<p>The hat was brought out and sung its song, a few students’ names were shouted out, and then…</p>

<p>Black, Alexandra!</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Darkness enveloped Alex and a voice in her head said, [Let’s see what we have here.]</p>

<p>Lord Slytherin said I was to go to Slytherin.</p>

<p>[Yes, yes, I can see that, but perhaps—]</p>

<p>Slytherin said!</p>

<p>[I know, girl, but I am a guide, and the ultimate choice has to be yours. I can see <em>much </em>of interest in your head.]</p>

<p>No! Slytherin. Slytherin. Slytherin.</p>

<p>[You are brave. You tend to rush in without thinking things through — reckless, oh, so reckless. You fight for your house’s honour.]</p>

<p>Slytherin. Slytherin. Slytherin.</p>

<p>[You would do <em>well</em> in Gryffindor.]</p>

<p>Slytherin!</p>

<p>[Both your parents were Gryffindors], the hat wheedled. [It could be the start of a new Black tradition.]</p>

<p>NO!</p>

<p>The hat sighed in her head. [Oh, very well. Better be] SLYTHERIN!</p>

<p>Sweating, Alex took the hat off her head and walked over to the table of green and silver. She sat towards the Dark end with Draco and Pansy and watched while the first set of twins, Flora and Hestia Carrow, were sorted into Slytherin, followed quickly by the second set, Marigold and Violet Chesterfield, who were both sorted into Hufflepuff. Eventually, Luna was called, sorted into Slytherin, and sat down at the opposite end of the table with Hermione, Daphne, and Harry.</p>

<p>A part of Alex wished she could join her.</p>

<p>Up at the teacher’s table, Lockhart was clapping and beaming to each and every sorted student. Alex’s eyes trailed sideways. She couldn’t help letting a small groan escape when they fell on the woman sitting next to the hook-nosed man. She’d already known, of course, but nevertheless, she would have liked to have escaped from Lady Lily Potter.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Malfoy, Virgo!”</p>

<p>A few whispers spread throughout the hall. Mostly along the lines of, “I didn’t know they had a daughter.” He noticed with disgust that some of the older boys had thoughtful looks on their faces.</p>

<p><em>That’s your fault for choosing to be a girl.</em></p>

<p>Lord Malfoy would never have accepted me being male, he thought back. It would have been far too risky.</p>

<p>The hat fell across his eyes.</p>

<p>[…That’s one end of a conversation I never thought I’d be party too.]</p>

<p><em>What!? Who’s this?!</em></p>

<p>Calm, girl.</p>

<p>[Yes.]</p>

<p>It’s the sorting hat.</p>

<p>[As Mister Riddle says, I am the sorting hat. Or maybe that’s Virgo Malfoy now.]</p>

<p>It is.</p>

<p><em>Humpf.</em></p>

<p>[Now where to put you…]</p>

<p>Gryffindor, if you would.</p>

<p>[You’ve got to be joking.]</p>

<p>I am not joking.</p>

<p>[You are one of the most Slitherest Slytherins who ever Slithered into Slytherin.]</p>

<p>Am I not brave? Do I not fight for what I believe is right?</p>

<p>[You fear death so much you ripped apart your soul with the life of a true love! And your beliefs in muggle and muggleborn inferiority stem from bitterness and rage!]</p>

<p>She betrayed me!</p>

<p>[She was only following her parents’ orders, and you murdered her!]</p>

<p><em>What?!</em></p>

<p>Enough! Gryffindor!</p>

<p><em>Who? Who did you murder?</em></p>

<p>We are not discussing this. Gryffindor! There will be no argument. You, Hat, are required to sort based on the student’s ultimate choice. I choose Gryffindor.</p>

<p>There was silence for a moment. Then, in an extremely grumpy tone of voice, the hat said, [I suppose Julia, at least, is brave and noble — although I fear it will not be enough.] GRYFFINDOR!</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>At one end of the Slytherin table, face impassive, his fingers interlocked under his chin, Harry raised one single, solitary eyebrow.</p>

<p>At the other end, Draco spluttered in horror.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>John Potter clapped softly as the Malfoy girl was sorted into his own house of scarlet and gold. Under the table, the Marauder’s Map lay on his knees. It had taken a good bit of work to persuade the Weasley twins to lend it to him, even for only an hour, but he’d managed it. He couldn’t understand why they were so reluctant. In the last timeline, they’d practically thrown it at him when they learned who Prongs was.</p>

<p>John was quite happy to know he wasn’t stupid. When Virgo had suddenly turned up out of nowhere, it had been rather obvious she might not be who she said she was, given that she hadn’t been around in the last timeline. Even if her story checked out, which it did, he wasn’t going to rely on <em>that</em>.</p>

<p>No, he was going to rely on the Albion family magics. You couldn’t fool the Albion family magics.</p>

<p>He carefully leaned back, glanced under the table, prodded the parchment with his wand, and whispered, “I solemnly swear that I am up to no good.”</p>

<p>The map blossomed into being, focused on the great hall.</p>

<p>A dot marked Virgo Druella Malfoy moved to only a few seats away from him across the table, and sat down.</p>

<p>John looked up and caught her eye.</p>

<p>She gave him a cautious smile.</p>

<p>People up and down the table gazed at her with everything from naked curiosity to outright hostility.</p>

<p>John snorted. As if Lord Voldemort would ever be sorted into Gryffindor.</p>

<p>The sorting went on for quite a while longer, and then…</p>

<p>Weasley, Ginevra!</p>

<p>John’s heart leapt.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>[Hello, Miss Weasley]</p>

<p>Hello. Slytherin for me, please and thank you.</p>

<p>SLYTHERIN!</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Virgo made sure to keep his expression as demure and unthreatening as possible while observing his target’s face on the opposite side of the table. It had gone from joy to shock to despair to rage, all in just a few seconds. Now it settled into simmering anger with a touch of manic obsessive.</p>

<p><em>Do you think he loves her?</em></p>

<p>Virgo mentally rolled his eyes.</p>

<p><em>I feel bad for him.</em></p>

<p>I feel, Virgo thought, that he has a weakness.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Hi, Ginny.”</p>

<p>“Hey, Harry.” Ginny plopped herself down next to him. “So nice of you to save a seat for me.”</p>

<p>“Only the best for our new seeker.”</p>

<p>Ginny grinned impishly at him.</p>

<p>On the other side of the table, Captain Flint’s head shot up. He gave Ginny a look that said, “Over my dead body,” and opened his mouth, presumably to say as much.</p>

<p>“Boys and girls!” The whole hall quietened. Flint reluctantly shut his mouth. The last first year sat down at the Ravenclaw table and Headmaster Gilderoy Lockhart’s magically enhanced voice boomed through the room. The huge Lockhart banner behind him flashed them all a wink. “Welcome! To another year at Hogwarts!”</p>

<p>Many of the teenage girls were staring at the headmaster with dreamy expressions.</p>

<p>“Unfortunately, Headmaster Dumbledore decided to no longer be with us, but fear not! For I, Gilderoy Lockhart! Order of Merlin Third Class, honorary member of the Dark Force Defence League, and five-times winner of Witch Weekly’s most charming smile award, have boldly stepped into the breach!”</p>

<p>Snape looked like he wanted to strangle something. Lily Potter didn’t seem to notice this as she warmly smiled across the packed students.</p>

<p>“Unity and solidarity! That’s the important thing! We are all students here, yes, even me! I know it might seem incredible that someone as well known and famous as me needs to learn, but it’s true, you know. And I <em>know</em> that we sometimes have our little squabbles,”—his eyes roved between John Potter and Draco Malfoy before finishing on Daphne—“but I’m sure we can all come together as one big family, learn to happily live together, and get on with what’s really important… learning!”</p>

<p>Face as stoic as a statue, Daphne turned, caught Harry’s eye, and in that instant several thoughts and counter thoughts passed between them with the clarity and rapidity of a mountain stream — mostly along the lines of, “what a twit,” and, “it <em>was</em> necessary,” and, “so long as he knows how to take advice — <em>your</em> advice.”</p>

<p>Lockhart beamed. “Now, I know what you’re all thinking. Why is such a well known and famous best-selling author running Hogwarts? But I am a teacher as well as a student! And with <em>you</em> as my students <em>nothing</em> is impossible. Why, there was one time in the Levant…”</p>

<p>This went on for quite some time before Professor McGonagall made a loud coughing noise into the sleeve of her robes.</p>

<p>“What? Oh, yes! Announcements! Now, I know you were all expecting a new face for Defence Against the Dark Arts, but I’m afraid you’ll just have to settle for our very own fearsome, Professor Severus Snape!” He winked again. There were more than a few groans from the students and a few of the younger years looked like they might have a panic attack.</p>

<p>“But don’t worry about being left high and dry in Potions,” Lockhart continued, “for we have a <em>more</em> than adequate replacement for you all — the beautiful Lady Lily Potter!”</p>

<p>This announcement got a rather more positive response, particularly from the older boys. “Damn, I’d like to have private lessons with <em>her</em>,” Flint muttered, not quite under his breath, before giving Harry a slightly panicky look.</p>

<p>Harry just waved it off.</p>

<p>“The Forbidden Forest is forbidden,” Lockhart continued, still beaming widely. “And while I know some of you might <em>like</em> the idea of me having to rescue you, I <em>urge</em> to you restrain yourselves.”</p>

<p>McGonagall’s face couldn’t look more stony if she’d been petrified.</p>

<p>“And finally, quidditch and duelling tryouts will be in September and November!” Headmaster Lockhart opened his mouth as though to continue speaking, but in that moment, someone’s stomach made an audible rumbling sound.</p>

<p>Lockhart laughed. “But first, the feast, I think, don’t you?” He clapped his hands and food appeared all across the room.</p>

<p>The sounds of cutlery and chatting broke out around the hall.</p>

<p>It wasn’t long before everyone was engaged in their own conversations.</p>

<p>Flint was loudly telling a fellow sixth year how there would never be any girls on the Slytherin quidditch team while <em>he</em> was captain, which a scowling Ginny did her best to ignore.</p>

<p>Daphne, Hermione, and Tracey were whispering between themselves, while Luna continued to read her book.</p>

<p>“Looking forward to duelling, Potter?” asked some random fifth year.</p>

<p>“Maybe, maybe not,” Harry answered in a noncommittal voice.</p>

<p>“Maybe? Why would you <em>not</em>?”</p>

<p>Harry shrugged. In truth, he was seriously considering not bothering with the duelling club this year. It had served its purpose last year — to give him a very public venue to advertise his worth to Magical Britain. Giving Ginny or Luna or even Alex the opportunity to prove themselves might be more worthwhile.</p>

<p>On the other hand… he looked towards the Gryffindor table, to where the diary seemed to be trying to engage a reluctant-looking John in conversation. …Denying the enemy opportunities to make themselves look good was also important…</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>After the feast and yet another long-winded speech by Lockhart, the first-year students all filed out of the great hall, led by their house prefects. “This way, Miss Malfoy,” Percy Weasley called out in a pompous tone of voice.</p>

<p>Virgo soon found himself in front of the portrait of a rather large woman in Gryffindor Tower.</p>

<p>“The password is wattlebird,” the Weasley said, and stepped inside.</p>

<p>Virgo looked around with mild curiosity. He’d never been in the Gryffindor common room before.</p>

<p>“The boys’ dormitories are on the left, the girls’ are on the right. Boys are not allowed in the girls’ dormitory. The stairs are trapped. Please make sure you are up early enough for breakfast before classes.”</p>

<p><em>You’re not really going to sleep in the girls’ dormitory, are you?</em> Julia thought.</p>

<p>Why not? Virgo thought back, heading for the stairs.</p>

<p><em>You’re a boy!</em></p>

<p>Virgo rolled his eyes and stepped onto the stairs. They shivered. He froze, causing the girl behind him to stop and ask what was going on. Virgo took another tentative step, and the stairs shivered again, but didn’t activate whatever gender-based trap they contained. She then quick-climbed up the rest of the stairs, breathing rather more heavily than usual when she reached the top.</p>

<p>Clearly I am female, he thought, and felt Julia sniff in disapproval.</p>

<p>“You’re weird,” the girl said when she’d caught up.</p>

<p>Virgo didn’t say anything as he ducked into the first-year girls’ dormitory, closed the curtains around his four poster, and started getting undressed for bed.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Far below in the dungeons, Alexandra walked into the Slytherin first-year girls’ dormitory. The beds were arranged in a circle with a large pillar in the middle. The pillar had stone snakes curling up it. She quickly claimed the bed closest to the massive underwater window and started unpacking her trunk, beginning with Amethyst — the violet-eyed cat Luna had once given her for her birthday.</p>

<p>Behind her, Alex heard a giggle. She turned.</p>

<p>Flora and Hestia Carrow had claimed the beds directly on either side of her, while Luna and Ginny had taken the beds on the other side of the room.</p>

<p>Alex tried to identify who had laughed, but everyone wore carefully blank faces — everyone except for Luna of course, but casual dreaminess practically was her blank face. She turned back to her trunk and withdrew her nightdress.</p>

<p>Someone giggled again. It sounded creepy. It had an edge.</p>

<p>Alex didn’t turn around immediately this time. She carefully laid the nightdress on the bed, <em>then</em> looked around.</p>

<p>Hestia was using her wand to fluff her pillow… with stinging hexes.</p>

<p>The almost-invisible spells beat against the pillow like a drum. Alex didn’t take her eyes off the wand tip. She could feel the magical intent pulsing across her skin with each tiny magical build-up. Her lessons with Luna to master spell swatting had progressed quite far, even if she hadn’t fully grasped the skill yet.</p>

<p>Yet again, someone behind her giggled.</p>

<p>Alex didn’t turn around. Instead, she eased her wand out of her wand holster and let it slide down into the palm of her hand.</p>

<p>Behind her, the voice of Flora Carrow said, “Heir Malfoy isn’t very happy with you, Black.”</p>

<p>Alex’s heart sped up. Oh, wow. This was actually happening. Her eyes flicked over to Luna and Ginny. They both watched with feigned disinterest, although she thought Ginny’s hands looked a bit twitchy.</p>

<p>“There’s a pecking order in the Dark, Black,” Hestia said, now stroking her wand the way someone might stroke the edge of a blade.</p>

<p>Luna flashed Alex an encouraging smile, so brief she almost thought she’d imagined it.</p>

<p>Alex let out the tiniest of snorts. “That’s <em>Heiress</em> Black to you two. You should practise what you preach.”</p>

<p>Behind her, Flora giggled again. “Respect is only for those who earn it, Black. Your father has done much to undermine the pureblood cause.”</p>

<p>“I am not my father. And I will not grovel to anyone weaker than me, no matter who <em>his</em> father may be.”</p>

<p>“You think yourself stronger than Heir Malfoy?” Hestia giggled. The giggle exactly matched her sister’s. “That’s cute.”</p>

<p>“We’ve known Draco all our lives,” Flora said. Alex still had her back to her. “He’s had private tutors since he was five.”</p>

<p>“He knows more curses, hexes, and jinxes than most seventh years,” Hestia added.</p>

<p>Alex sniffed. “And yet, he leaves <em>chatting</em> with me to you two.”</p>

<p>“Of course,” Flora said. “After all, he might wish to court you one day — hexing you personally would be terribly bad form.”</p>

<p>“That’s messed up.”</p>

<p>Hestia shrugged, and in the moment between her shoulders rising and falling, Alex felt a jelly-legs jinx forming behind her. It was the work of a moment to throw a shield behind her, leap over the bed towards a startled Hestia—who didn’t even her wand ready—grab her by the arms, spin her around with ritual-enhanced strength, pin her arms behind her back with one hand, and fire a stunner at Flora with the other. Flora crumpled, unconscious, onto her bed.</p>

<p>“Nyah!” Hestia struggled. Her wand fell to the floor with a clatter. “Let me go!”</p>

<p>“Sure, once I’ve tied you up.”</p>

<p>“You’ll regret this!” Hestia’s voice carried a hint of panic. “We all sleep here! You can’t be ready <em>all</em> the time.”</p>

<p>“There’s a pecking order in the Dark — that’s what you said, Carrow. I am merely showing you where I am in it.”</p>

<p>“When word of this gets out, you’ll be sorry!”</p>

<p>“Maybe,” Alex said, now clearly amused. It had been so easy. She pushed Hestia onto the girl’s bed and straddled the back of her lower waist, paying no attention to the way the girl uselessly tried to wriggle away. “But always remember that you have to live in here with me.”</p>

<p>“Flora and I watch each other’s backs!”</p>

<p>“Didn’t help much this time, did it?”</p>

<p>Hestia said nothing.</p>

<p>“But you know,” Alex continued. “I can certainly see the value in such teamwork. You two will be of great use to me.”</p>

<p>The hint of panic became a general tremor. “We’re not helping <em>you</em>.”</p>

<p>“No?” Alex leaned over to whisper into Hestia’s ear. “I promise I’ll take care of you — you <em>and</em> your cute twin sister.”</p>

<p>Hestia was silent for a moment. Then, in an almost-grumpy tone of voice, she said, “You don’t have balls nearly large enough to take on the rest of the Dark. Not like <em>this</em>.”</p>

<p>Alex smirked. “I think a good hour of tickling will have you seeing things quite differently.”</p>

<p>Hestia eyes widened in fear. “You can’t use the tickling hex that long! You’ll get in big trouble!”</p>

<p>Alex giggled. “Who said anything about any hex?”</p>

<p>And as the sounds of forced laughs, shrieks, and unheeded begging filled the room, Ginny and Luna finished changing, charming their teeth, and doing whatever else they needed to do to get ready for their first full day at Hogwarts.</p>

<p>Ginny climbed into her four-poster, sat her stuffed dragon teddy bear by her pillow, and cast a basic protective ward around her bed. “Pretty brutal, these Dark witches,” she commented.</p>

<p>Luna smiled. “I’m sure they’re okay once you get to know them.”</p>

<p>Ginny grinned, weaved a third-year silencing charm around herself, and the high-pitched squeals abruptly cut out, leaving only peaceful, relaxing quiet.</p>

<p style="text-align: center;">— End of Chapter Thirty-eight —</p>

