Chapter 39 - The Little Trials of Virgo Malfoy

<p>In every large building where people live and work in close proximity, there are always crossroads that conspire to draw together people who’d much rather keep their distance — teachers and students, upper years and lower years, rival quidditch teams, even the occasional ‘I’m-never-talking to-you-ever-again’ situation involving two people of the opposite sex who will nevertheless soon be found together, in a broom cupboard, wearing between them rather less than the regulation amount of clothing for just one of them.</p>

<p>The Hogwarts owlery is just such a crossroad. Most everyone needs to send letters and the morning of the first day of school is always particularly busy.</p>

<p>Holding a sealed letter in one hand, Virgo Malfoy stepped aside for yet another pair of students descending the long set of stairs that he was busy ascending. Annoying, he thought. By the time he’d put himself into the diary, fifty years ago, people had been stepping aside for <em>him</em>.</p>

<p>The soul of Julia did the mental equivalent of tiredly rolling her eyes, then went back to sleep. The girl had settled down a bit since leaving Malfoy Manor, but not by nearly enough for his liking.</p>

<p>Last night had been a good example. He’d been sitting in his scarlet and gold four-poster bed, busily planning how he was going to attack the problem of Harry Potter and Lord Slytherin, when she’d kicked up an almighty fuss over a stray murderous fantasy. They’d argued about it for ages before he’d eventually managed to persuade her that wanting to find out more about someone who wanted to kill you wasn’t evil just by itself.</p>

<p>So that was his plan, find out about Harry Potter. And for that he needed <em>John</em> Potter. The heir of the Potter family was the key, of that he was sure.</p>

<p>Another two sets of footsteps approached down the spiral staircase above him. Virgo almost considered just holding his ground and demanding they get out of <em>his</em> way, until he saw it was Professor Severus Snape and Lady Lily Potter. Maybe not then. He stepped aside. Snape’s sharp eye caught Virgo’s as they passed and he felt the lightest of light touches brush against his occlumency barriers.</p>

<p>Traitor.</p>

<p>He made his way up the rest of the stairs and pushed the door open. The owlery was still bustling, even this close to breakfast. Almost a dozen students from all houses and ages were busy tying envelopes to the various birds that flocked around the room, or else finishing off their letters at the small, crap-covered, central table.</p>

<p>Virgo quickly spotted the large screech owl his new adopted father had bought him and called it down. It alighted on the edge of one of the windows next to another owl being attended to by a girl in his year — a girl wearing radish earrings, dirty-blonde hair, and expensive, Slytherin green robes. Heiress Lovegood. Future consort of Lord Slytherin.</p>

<p>Perfect.</p>

<p>Virgo took a length of string from the ball on the table and stepped over beside her. “Good morning. I don’t believe we’ve been introduced.”</p>

<p>Lovegood looked up. She smiled. “Good morning. You are correct. I am Heiress Luna Lovegood. You are Miss Virgo Malfoy.” She went back to her bird.</p>

<p>“I am.” Virgo carefully watched the other girl humming quietly to herself as she stroked her owl’s feathers. She needed some point of common ground. Something of an in. “I don’t suppose I could ask your advice, could I?”</p>

<p>“You may.”</p>

<p>“How do you handle it? Being betrothed, I mean. What’s Lord Slytherin like? I know my father could [[[choose to ]]]contract me[[[ if he so chooses]]]. It scares me.” Not really, of course. Lord Malfoy wouldn’t dare, but there wasn’t any need for anyone to know that.</p>

<p>Lovegood continued to stroke the owl’s feathers while looking thoughtful. Then she looked Virgo straight in the eyes and smiled kindly. “The best way is to just accept it. You are the daughter of a noble house and that comes with certain responsibilities and obligations.”</p>

<p>Virgo nodded.</p>

<p>“And that means,” Lovegood continued, “that you are a future lord’s fuck toy.”</p>

<p>Virgo’s nodding froze.</p>

<p>Julia’s soul went from sleepiness to full wakefulness in less than a second. <em>Wha—?</em></p>

<p>“It means that boys are soon going to start trying to get into your knickers, regardless of what <em>you</em> want, and eventually one <em>will</em> succeed in sticking his penis into your vagina—” she pointed at Virgo’s crotch “—and making little wizard babies grow in your tummy.”</p>

<p>Lovegood smiled widely as though she’d just delivered some profound ancient wisdom.</p>

<p><em>What — the — hell?!</em></p>

<p>Virgo’s eyebrow twitched. He stared at the girl for a few seconds longer before answering. “Is that what you want? With Lord Slytherin?”</p>

<p>“Oh, yes!” Lovegood titled her head to the side. “Why? Are you interested? Would you like Lord Slytherin to stick his penis in your vagina?”</p>

<p>Around the owlery, more than one of the other students were listening in with a kind of horrified fascination.</p>

<p>“No, I’m fine, thanks,” Virgo ground out.</p>

<p>“Oh.” Lovegood went back to her owl and finished tying her letter to its leg. “Are you sure? If you don’t find a cute boy to fuck you, you might end up with some old wizard who can’t even get up the strength to give you a proper spanking.”</p>

<p>A Hufflepuff fifth year dropped his quill.</p>

<p>“Spanking,” Virgo said, each word careful and deliberate, “is not required for the procreation of the wizarding race.”</p>

<p>Lovegood’s owl leapt off the window’s balcony.</p>

<p>“Of course it is, silly,” Lovegood chirped. “I said it before — you have to accept your inevitable fuck-toyness.” She walked over to the other side of the room and waved cheerfully. "If you ever change your mind, just let me know. I’m sure I can persuade my lord to find a collar for you somewhere.“ She left.</p>

<p>Virgo paid no attention to the cacophony of whispers that immediately broke out around him, nor to the unbelieving rant Julia was kicking up in his head. Instead, he fought down the urge to go heiress hunting with a rusty breadknife, added a quick postscript to his owl, and sent it on its way.</p>

<p><em>Father,</em></p>

<p><em>I have been sorted into Gryffindor. My remote observations of H confirm my beliefs that he is not the one I am looking for, which makes S’s involvement with him all the more worrisome. J is intelligent, but hides his emotions poorly. Despite not being who you thought, I continue to suspect there is more to both of them than meets the eye. My immediate plans are to befriend J and gain his confidence.</em></p>

<p><em>Withdraw all support from S immediately.</em></p>

<p><em>- Virgo</em></p>

<p><em>PS. Have mother send me any books you might have on the magical limitations of Albion Family Magic betrothal contracts, particularly as they relate to the mind control of those who already possess noble house rings. If Lord Slytherin approaches you with any offer of betrothal you are to inform me immediately. If you do not, you will have an extremely displeased ‘daughter’ on your hands.</em></p>

<p>There. Virgo brushed his hands clean. Now it was breakfast time. John Potter would be there. It was time to get to work.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In the Great Hall, breakfast was in full swing. Harry sat at the Slytherin table and watched Hedwig swoop down to the Gryffindor table. In one talon she held the small note Harry had written not thirty minutes earlier.</p>

<p><em>J,</em></p>

<p><em>Virgo is the D,</em></p>

<p><em>H.</em></p>

<p>John took the note, read it, met Harry’s eyes across the room, snorted, shook his head in what could only be described as a condescending manner, and tore it up.</p>

<p>Harry sniffed. Well, he had warned him. No one could say he hadn’t. He tore his gaze away from the inevitable train wreck just in time to see the Carrow twins bend down to whisper something in Draco’s ear. They did not look happy.</p>

<p>A few moments later, Alexandra sat down a few seats away from Draco and nonchalantly started spreading jam on her toast. The Carrow twins stared daggers at her while Draco looked pensive.</p>

<p>Interesting.</p>

<p>“Morning, Harry.” A rather chipper Ginny sat down beside him, slightly red in the face and breathing deeply. She wore her gym clothes and had her hair tied up in a ponytail.</p>

<p>“Morning, Ginny. So, what happened last night?”</p>

<p>Ginny lowered her voice. “The Carrows tried to hex Alex. Didn’t work out very well for them.”</p>

<p>“I bet it didn’t. I hope she didn’t use anything too bad.”</p>

<p>“No — just a stunner, bindings, and non-magic tickling.”</p>

<p>“Good.” He looked up. “And good morning to you too, Hermione.”</p>

<p>Hermione had appeared on the other side of the table lugging two huge magical tomes and one smaller muggle book, quite apart from her usual school bag. Unlike Ginny, she was already dressed in her black, green, and silver school robes. “Good morning, Harry.” She sat down opposite him and proceeded to open and strategically prop up the books around her, creating a mini fort of learning — <em>Rapid</em> <em>Healer Diagnostics - Fifth Edition</em>, <em>Niche Mind Arts You Never Knew you Needed</em>, and <em>Storming the Gates - Managing Revolutionary Groups in Times of Change</em>.</p>

<p>Ginny leaned closer to him again. “Quidditch trials are next week. What are we going to do about Flint and the Quidditch team?”</p>

<p>“Don’t worry about it. I’ll handle him when the time comes.”</p>

<p>“Oh?” Daphne sat down at the head of the table. There was a ripple as the two-dozen-ish children of the Gray momentary switched their attention to her. “You know Draco has wanted to be seeker for years.”</p>

<p>“That is unfortunate for him.”</p>

<p>Apparently satisfied that no earth-shattering pronouncements were to be made, the assorted students slowly went back to their breakfasts.</p>

<p>Daphne lowered her voice and leaned closer to Harry. “What are we planning to do about Angelystor?” Angelystor was the ghost Harry had brought to Hogwarts the previous year to teach the girls the lost magic of divination. “Will I continue my studies with her?”</p>

<p>“Yes, soon, but I also want to bring the others — see if any of them might also have the knack.”</p>

<p>“Knack?” Luna leaned over Harry’s shoulder.</p>

<p>“The inner eye, Luna.”</p>

<p>“Ooooh. We Lovegoods are well known for that — and Mum is a Lovegood <em>and</em> a Vablatsky.”</p>

<p>“You have one?”</p>

<p>“I don’t know. I’ve never tried. I guess I won’t know until I do.”</p>

<p>“Wouldn’t shock <em>me</em>,” Ginny muttered. Then she brightened and poked Harry playfully in the ribs. “We could win money betting on how much we’re going to win the Quidditch Cup by.”</p>

<p>Harry snorted and continued to eat his breakfast. On the other side of the hall, Virgo was now trying to talk to John — unsuccessfully by the look of it. John may not believe that Virgo was the diary, but it seemed he still didn’t like the fact that she was a Malfoy.</p>

<p>“See you at lunch, Harry!” Ginny waved as she and Luna finished their breakfast and made their way to their first class. Harry waved back before he, Daphne, and Hermione, made their way to <em>their</em> first class — double History of Magic.</p>

<p>Binns hadn’t gotten any more interesting since either last year or fifty years ago when Tom Riddle attended Hogwarts. Both the Slytherins and the Ravenclaws had long ago started treating History of Magic as a free sleep session. All except Hermione of course, whose note-taking was as neat as her listening was careful — but Hermione was just awesome like that.</p>

<p>The bell for lunch rang and Harry happily packed up, then followed Daphne down to the great hall. This time, Virgo seemed to be trying to make nice with Seamus Finnigan, while having about as much success as last time.</p>

<p>“What’s it doing?” Hermione asked.</p>

<p>Harry shrugged. “Trying to build a power base, I’d guess.”</p>

<p>Hermione frowned. “I don’t like it.”</p>

<p>“Me neither. Although I have my doubts about its ability to keep a cool enough head to make any progress — given what Gryffindors tend to do to those they don’t like.”</p>

<p>“Won’t that be dangerous?”</p>

<p>“Possibly.”</p>

<p>But regardless of what Harry felt about the potential dangers of a Gryffindor Tom Riddle, he had to accept there wasn’t much he could do until he’d moved events along some more. Charms that afternoon had them working on arresto momentum, a spell that Daphne and Hermione had both mastered before the Winter Festival the previous year.</p>

<p>“Oh, well done! Miss Granger — Miss Greengrass — two points each to Slytherin.” Professor Flitwick beamed at the two girls. “Oh, yes, you too, John Potter — two points to Gryffindor.”</p>

<p>It wasn’t until he got back to the Slytherin common room—when Harry was able to sit down with Daphne in the small group of sofas and chairs that made up the court of the Gray, next to the large, and currently empty, snake-decorated throne he’d placed the year before—that he was able to start on the <em>real</em> work of the day.</p>

<p>On the other side of the snake-like throne, sat the Dark, presiding over their own little court. Alex had dragged over a large chair of her own and wedged it in between two of the sofas — something Pansy in particular seemed to have taken offence at, judging by the way she sniffed and folded her arms every time she glanced at her.</p>

<p>After several hours, Harry finished up the last piece of parchment work for the night and made his way up to bed. There, he put on his pyjamas, climbed into bed, and as he drifted off, focused his occlumency on a point, some four metres below and twenty metres off to the right — to where Ginny was already asleep, wearing the dreamscape necklace.</p>

<p>Harry connected and the dreamworld opened up to him.</p>

<p>He appeared in a jungle clearing. A massive Mesoamerican pyramid stood behind him.</p>

<p>“Harry!” Ginny leapt and wrapped her arms around him. She was dressed in her nightdress and still held her fluffy dragon teddy bear in one hand. “Transfiguration was awesome!”</p>

<p>Harry grinned. “Good to hear it.”</p>

<p>Ginny let go of him and danced backwards, whipped out the dream version of her wand and pointed it at the floor. “After all those boring notes, it was just like, haha! I have a nail, and now it’s a spoon! Bam!”</p>

<p>A stone on the floor turned into a wooden spoon.</p>

<p>“And then Professor McGonagall was all like, ‘I am raising my eyebrow at you, Miss Weasley’ — and then I’m like, Bam! Spoon into nail, then Bam! Nail into spoon! Bam! Bam! Bam! — And then she’s like, ‘carry on, Miss Weasley.’ Hah! I’m sooo glad we spent sooo much time on our occlumency now. This is <em>easy</em>!”</p>

<p>Harry smiled. “Excellent. You ready to move onto some more serious work?”</p>

<p>“Hell yeah!”</p>

<p>“Okay.” Harry waved his hand and the dirt ground was replaced with castle flagstones. Ginny’s nightdress turned into duelling robes. Her teddy bear floated off to one side. “I’m going to do my best to limit myself to the spells, skill, tactics, and physical capabilities of the diary. You are going to try and kill me.”</p>

<p>“Right.” Ginny jumped into her duelling stance.</p>

<p>Harry conjured a handkerchief, let it fall halfway to the ground, then opened up with a sudden barrage of basic curses.</p>

<p>Ginny didn’t bat an eyelash. She swatted them back and countered with a chain of stunners, stingers, and cutting spells.</p>

<p>What followed was a lesson in how a fight evolves when one side realises the other can counter their basic repertoire. Harry’s spells quickly turned from point and shoot to controlled transfiguration. Ginny’s counters changed into physical shields and dodging.</p>

<p>The final exchange of the match came quickly after that. Harry conjured a dagger and sent it sailing straight at Ginny, who caught it in a shield, grabbed it by the handle, and sent it flying back at Harry, hiding a switching spell in the dagger’s shadow. Harry shielded against the dagger, but the switching spell sailed on through and hit a rock just behind Harry. Ginny switched position with the rock, and a split second later, Harry had a wand jabbing him in the side and a triumphal Ginny smirking at him. “I win.”</p>

<p>“Yes, you do. Now tell me what you’ve learned.”</p>

<p>Ginny looked to think. “The diary adapts. It saw that it couldn’t get to me with direct spells so it started using indirect ones, instead.”</p>

<p>“Yep, anything else?”</p>

<p>“It’s more powerful than me.”</p>

<p>“It is. Riddle is older than you, his skill may be that of a sixteen-year-old, but that soul piece is still nearly seventy years old. This is countered by the fact that he only has a slice of his soul. What else?”</p>

<p>Ginny looked blank.</p>

<p>“It’s okay. You wouldn’t have been able to pick up on it in that short exchange. Here’s the thing — you are far fitter than Riddle is. I don’t know much about this muggleborn that the diary consumed to get this new body, but I’m willing to bet that they weren’t nearly as physically active as you, and we know that they weren’t as magically active. If your fight should ever go beyond, say, fifteen minutes, you will easily have the advantage. She’ll start suffering from magical exhaustion. You’ll still have plenty of fight left in you.”</p>

<p>Ginny nodded. “Makes sense.”</p>

<p>“But your fight shouldn’t last anywhere near that long. Just something to keep in mind.” Harry readied his wand again. “Ready?”</p>

<p>“Y—”</p>

<p>Harry attacked.</p>

<p>Three hours later, Ginny stood with her wand pointed at Harry’s head… again. She’d won every single exchange, even the ones in which Harry said he’d really push what the diary was capable of. She smirked. “I guess I’m more than ready.”</p>

<p>Harry smiled. “Yes. As much as I’m loath to send you into real danger — yes, you are now fully capable of defeating the diary.”</p>

<p>She flipped her ponytail over her shoulder. “I’ll have this all wrapped up as soon as you get those portkeys.”</p>

<p>Harry frowned. “Remember not to get <em>too</em> overconfident. Look at what’s happening with John.”</p>

<p>“What <em>is</em> happening with John?”</p>

<p>“I sent him a warning about Virgo being the diary, but for <em>some</em> reason, he doesn’t believe it.”</p>

<p>Ginny scoffed. “What a dumbass. He’s been a nightmare. He still won’t shut up about <em>saving</em> me from you.”</p>

<p>“I dunno.” Harry grinned. “I <em>can</em> be quite devious.”</p>

<p>Ginny grinned back. “Yes, I know. That’s what I like.”</p>

<p>“Good, because I do have one more preparation task for you.”</p>

<p>“Oh?”</p>

<p>“Yes.” Harry took something out of his robes and handed it to Ginny. It was a dagger.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The morning sun was rising up over the trees of the forbidden forest. Virgo sat by the window next to his bed in Gryffindor Tower. Down on the grounds, the Slytherin Weasley, Ginevra, was running clockwise around the Black Lake. She wore what looked like muggle exercise clothes. On the other side, John Potter was running anti-clockwise.</p>

<p>Virgo had tried to talk to some of the people she’d identified as being close to John yesterday, with little success. Ginevra’s older brother, Ronald, had gone so far as to blame her for his sister not being in Gryffindor. “You took the last Gryffindor girl slot,” he’d said.</p>

<p>It wasn’t actually a bad point. Each house took exactly five girls and five boys. Considering that Weasley was so close to the end of the alphabet, it was amazing they’d all ended up in Gryffindor so far, but then, Virgo didn’t know much about how the sorting hat algorithm worked.</p>

<p>Virgo continued to watch as John Potter ran into Ginevra Weasley about halfway around the lake and proceeded to have a visibly large argument with her. Most people wouldn’t have been able to see so far from so high up, but Virgo wasn’t most people. The argument only ended when Ginevra turned her back on him and ran away at a speed that was, quite frankly, scarily impressive. John didn’t look pleased about this.</p>

<p>Virgo filed this away for future consideration, and stepped towards the showers. As the water washed over him, he reflected on his dorm-mates. They’d been standoffish and mildly scornful since his sorting. He wished he could put them in their place, but that would not endear him to his target. After drying off, he wrapped the towel around him and walked back into the dorm to get dressed. His fellow dorm-mates were only now just getting up.</p>

<p>It didn’t take more than a few moments to realise something wasn’t right. He sorted through his carefully folded clothes and frowned. All his underwear was missing. Could the house elves have taken it by mistake? No. That was about a likely as them accidentally confusing sugar and rat poison.</p>

<p>Somewhere in the room, a young, female voice sniggered.</p>

<p>Virgo narrowed his eyes. “Accio underwear.”</p>

<p>Four cries of alarm issues from four throats as a several dozen sets of underthings shot across the room from inside trunks and on beds. Virgo calmly picked up his own pilfered underwear from the pile and banished the rest back into the middle of the room.</p>

<p>The four girls glared at him.</p>

<p>“Then don’t steal <em>my</em> things,” he said, as fiercely as an eleven-year-old girl could, and was about to add, ‘Or I will kill you,’ when Julia shouted at him in his mind to stop. He snapped his mouth shut and instead started getting dressed.</p>

<p>The other Gryffindor first years traded looks among each other before going back to ignoring him.</p>

<p><em>You can’t threaten to kill them!</em> Julia thought.</p>

<p>You’re right, Virgo thought back. I must be patient. I can punish them when they are eventually bowed before me in abject terror.</p>

<p><em>That’s not what I meant!</em></p>

<p>Virgo smirked.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Hermione glided into the defence classroom, carefully putting away her breakfast reading, even as she slid into her seat beside Daphne and took out her copy of Basic Defence Against the Dark Arts. At the front of the room, Snape had arranged several of the more disgusting specimens in jars from his former potions dungeon. Hermione wondered about the man’s loyalty. Could they ever trust a man who claimed to be a triple agent, twice over, for three separate sides? Almost certainly not. He was, without a doubt, out for just himself. Hermione wrinkled her nose. Not like herself. She was Harry’s most hard working, most dedicated student — and even if the likes of Ginny or Luna might be stronger than her, she’d <em>never</em> give up the title of most loyal. Behind her, Draco spoke with Theodore Nott in a low voice. She caught the whispered name, “Alexandra,” and made a mental note to inform Harry as soon as possible.</p>

<p>At that moment, Snape barged into the room, swept down the middle aisle, reached the front, and whirred around to face them all. “Magic,” Snape said, “is an ever-changing, ever-growing beast.”</p>

<p>Every student watched him in utter silence as the opening speech started.</p>

<p>“The more wizards use a spell, the easier it becomes, like a muscle growing to lift heavier and heavier prey. The first spell takes power, will, concentration, and purpose, so great as to exclude all the but the most capable. The second spell takes less. The third less still. A thousand years later, even a <em>child</em> can manage a basic lumos. Such is the need for light — a need that has stayed unchanged for the better part of human existence, as sure as the darkness of night itself.”</p>

<p>He paused and looked around the room.</p>

<p>“But there are other needs that humanity has — far less wholesome needs. When the world turns against you, and the dark mist of rage descends, it is the need to hurt, to maim, to control, and to kill, that gives magic its form. These are the dark arts — varied, ever-changing, and eternal. Fighting them is like fighting a many-headed monster, which, each time a neck is severed, sprouts a head even fiercer and cleverer than before. And when magic attacks with intent to destroy, there is no need greater than to fight against that magic — to protect and to heal.”</p>

<p>“This is the struggle between dark magic and light magic, separate from any political ramblings or ideological banner waving — a magical arms race, which it is now my solemn duty to induct you into.”</p>

<p>As much as she hated Snape, Hermione had to admit that he certainly knew how to give a speech. The class then split up into pairs to practice the disarming charm.</p>

<p>“Oh no, I don’t <em>think</em> so,” Snape bit out, striding over to where Harry and John had been ready to square off against each other. “I still want some classroom <em>left</em> at the end.”</p>

<p>Daphne nodded to where Hermione now stood off to one side. “Ready?”</p>

<p>Hermione bent her knees into her duelling position. “Ready.”</p>

<p>Five disarming spell exchanges later, Hermione succeeded in ripping Daphne’s wand from her hand.</p>

<p>Daphne scowled. “Again.”</p>

<p>Hermione smirked. “Yes, my lady.”</p>

<p>At the end of the class, Snape waved them all back into their seats. Hermione was sweating, but satisfied. She’d managed to handily defend her position as top witch of their year against a now moderately sulking Daphne. As they left the classroom for lunch, she nudged Hermione in the ribs. “Enjoy it while you can, Vassal. We’ll be training with the rest of the girls soon.”</p>

<p>Daphne’s sulk didn’t last long. She perked back up not long into lunch when Harry whispered to them both that they’d be starting back on divination in the next few weeks, and that Lord Slytherin had a meeting with Lockhart that evening. It would be the perfect opportunity for him to arrange the portkeys for Ginny and Luna before the Hogwarts board meeting on Wednesday.</p>

<p>They had a free period after lunch. Hermione met up with Tracey and together they made their way to the empty classroom that had become the unofficial muggleborn common room. Harry joined them not long after and together they worked on homework, house work, and prepared for the first Founders club meeting of the year, until the final class ended, and a small swarm of their classmates arrived.</p>

<p>Every one of the new muggleborns had shown up, along with the ones from their year, and even some of the older ones[[[, as well (((feels too much)))]]]. While Hermione got the pensieve and portrait ready, the Chesterfield twins—Violet and Marigold—happily chatted away with Alan Gage and Kevin’s sister, Annabel. Interestingly—with the exception of Colin Creevey, who’d enthusiastically barged into the room just in front of Dean Thomas—every one of the new muggleborns had been sorted into Hufflepuff.</p>

<p>Once the portrait of Elizabeth Greengrass, Daphne’s grandmother, indicated she was ready, the first years all crowded around to listen to her rather more in-depth introduction to the magical world while the second years worked together on their occlumency.</p>

<p>“How am I, Hermione?”</p>

<p>Hermione slowly withdrew from Sophie Roper’s rather basic mindscape. “Not bad,” she answered. “You should be ready to start on wandless magic before Winter Festival.”</p>

<p>Sophie beamed. “Brilliant! I’m already doing much better in classes. I’m so glad you’re helping us.”</p>

<p>“It’s Lord Slytherin you should thank, Sophie.”</p>

<p>“Well, thank him from me again next time you see him, but you should remember to give yourself some credit too.” Sophie smiled.</p>

<p>Hermione’s eyes explicitly did <em>not</em> flicker over to where Harry was explaining the finer points of how to effectively use the cutting charm against an armed opponent to Justin Finch-Fletchley. “I will make sure to do that,” she said. “And thank you — I do try.”</p>

<p>After all, Hermione added to herself, she <em>was</em> Harry’s most loyal student, and that was certainly credit worthy of taking.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>There was still a good few hours of sunlight outside as Virgo made his way up the stairs to Gryffindor Tower. It still felt weird to head this direction rather than to the dungeons after class. He’d had to catch himself going in the wrong direction more than once. It wouldn’t be any good getting caught doing that. He was already disliked by just about every one of his classmates. Only Colin Creevey didn’t seem hellbent on ignoring him, ironically, but that had turned to be more of a curse than a blessing.</p>

<p><em>Oh come on, </em>thought the soul of Julia, <em>he’s not that bad.</em></p>

<p>Virgo didn’t dignify that with a response. He instead merely projected his utter disbelief towards the girl.</p>

<p><em>Well, okay, he’s a bit loud, but that’s no reason to hate someone.</em></p>

<p>Virgo sniffed. It wasn’t an issue at the moment at least. Creevey had run off with some older boy the moment classes had finished. But it still didn’t change the fact that he’d made no good progress in making inroads into John Potter’s circle.</p>

<p>“Password?” asked the fat woman in the portrait.</p>

<p>“Wattlebird.”</p>

<p>The portrait swung aside, Virgo stepped inside, and a gallon of something heavy, viscous, and sticky splashed all over him.</p>

<p>Shock. He hadn’t sensed any magic. It had come out of nowhere.</p>

<p><em>Yeugh! This stuff is horrible!</em></p>

<p>Laughter. All around the common room, several dozen students were falling over themselves on sofas and armchairs as she stood there, dripping, in what turned out to be diluted honey.</p>

<p><em>We’re going to need to get clean now.</em></p>

<p>The laughter burned his ears, and it didn’t stop. Anger flowed through him. This was too much. He would not stand for this! He took one gooey step forward, wand held tightly in hand. He’d show them all what it meant to fuck with—</p>

<p><em>Holy crap! Calm down! </em>Julia’s thoughts felt panicky.</p>

<p>Calm down? Calm down! Look at them!</p>

<p><em>What are you going to do?! Curse someone in front of everyone?! Look at John!</em></p>

<p>Virgo hesitated and glanced around until he found the face of John Potter who was watching with a small smirk from among his group of followers and closed his eyes and took a deep breath. The girl was right.</p>

<p><em>See?</em></p>

<p>He needed to plan around this. It wasn’t any different to his first few years in Slytherin — not even as bad, actually. He’d just gotten used to having everyone’s fear and respect. Plan first. Act second. Revenge third.</p>

<p><em>No, that’s…</em></p>

<p>And so, with the continued laughter of the Gryffindor common room ringing in his ears, Virgo made his way to the girls’ dormitory with as much dignity as he could, each ascending sticky step causing the stairs to shiver.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In a long, ornate room, twelve wizards sat around a table, almost as long and equally as ornate as the room it sat in. A large green eyeball floated above the table, invisible to all except the masked figure of Lord Slytherin. The eyeball zipped around the room casually inspecting secret papers and notes, even as their owners held them close to their chests, or shielded them behind obscuring charms.</p>

<p>Headmaster Gilderoy Lockhart was just finishing up his analysis of the previous year that was in no way influenced by the masked lord sat halfway down the table. He preened. “…And so, I, Gilderoy Lockhart, after a great deal of thought, have found the perfect solution to these pressing security concerns! Behold!” He whipped out three small boxes from under the table. “Special VIP portkeys!”</p>

<p>There was a murmur of faint surprise up and down the table.</p>

<p>“Yes!” Lockhart beamed. “The wards give me, Gilderoy Lockhart, the headmaster, special permission to create exactly six portkeys, and I’m gifting these to you. These one-time-use necklaces are charmed to take their wearer straight to the hospital wing.” He winked as he passed the boxes to Lords Malfoy, Potter, and Slytherin. “I set the activation word to Darksafe, Lightsafe, and Graysafe. I’m sure you can guess who has which boxes.”</p>

<p>Lord Potter opened his box and drew out two small metal spheres, each about the size of a marble, and each hanging on the end of twin gold chains. He handed one to Lord Sirius Black who started waving diagnostic charms over it.</p>

<p>Lord Slytherin pocketed his box.</p>

<p>Lord Malfoy left his box untouched, instead leaning back slightly in his chair. “Well done, Headmaster.” He looked up at Gilderoy. “I must admit, I was not expecting you to adjust to the job quite so quickly.” Left unsaid was the general view that most of the room hadn’t expected the man to adjust to the job at all.</p>

<p>The chairman, Ambrosius Flume, stood up. “Thank you, Headmaster, you may now take an observer seat.”</p>

<p>Lockhart flashed a smile, sat down on one of the hardback chairs by the wall, pulled out a stack of what looked suspiciously like fan mail, and started going through it.</p>

<p>Flume continued. “We will now carry on the matter of reallocating all current and future muggleborn guardianships from the headmaster to Lord Slytherin. You all have copies of the proposal. Would anyone like to make any comments before we move to a vote?”</p>

<p>“Yes,” Lord Potter said in a firm tone. Resolutions at the last two board meetings had been passed in favour of the current Dark/Gray alliance and it obviously scraped on his nerves. “I still don’t see why we are even bothering with this. There is no good reason to give <em>him</em>,”—he jerked his finger towards the impassive form of Slytherin—“guardianship of <em>anyone</em>, let alone a group of young, impressionable children!”</p>

<p>“The proper protocols have been followed, Lord Potter.”</p>

<p>“He’s <em>obviously</em> up to no good!” Lord Potter waved his hand desperately. “It’s moustache-twirlingly obvious!”</p>

<p>“Nevertheless — if there are no further comments? Lord Slytherin?”</p>

<p>Slytherin shook his head “I think everything that needs to be said has already been said.”</p>

<p>Lord Potter scowled.</p>

<p>Lord Malfoy kept his face utterly blank. He instead fingered the small, still-unopened portkey box in front of him, gently turning it around and around on the polished wooden tabletop.</p>

<p>“Well then, all those in favour of the motion?”</p>

<p>Four hands rose — Lord Slytherin, Lord Greengrass, Lord Woodcroft, and Lord Smith — four out of eleven.</p>

<p>James Potter shot the still-blank-looking Lucius Malfoy and Lord Parkinson a startled look, while the still mostly unseen eyeball zipped over to aggressively inspect the two Lords of the Dark faction.</p>

<p>Lord Slytherin’s expression was, of course, hidden under his mask.</p>

<p>“And against?”</p>

<p>All the other hands rose.</p>

<p>“Four to seven, the motion is rejected…” Flume shuffled his parchment in front of him. Around the room, the assembled wizards could practically feel the alliances shifting, yet again, for whatever reason.</p>

<p>“Let’s move on to other business — item four — the ministry is requesting a general audit of Hogwarts’s finances…”</p>

<p>The meeting continued on. The edge of Lord Malfoy’s lips tugged upwards slightly as though relaxing a long-held tension. He stopped his slow spinning of the portkey box beneath his fingers, facing the lid so it would open outwards, and lifted the lid. “What is this!”</p>

<p>Lord Blott paused in the giving of his opinion of just where the minister’s undersecretary could stick her audit request. “What?”</p>

<p>“Is there a problem, Lord Malfoy?” Flume asked.</p>

<p>“There are no portkeys in my box!”</p>

<p>There was a murmur around the room. Several lords around Malfoy leaned in and confirmed that there were indeed no portkeys. Everyone turned to the headmaster.</p>

<p>“Whaaaaatttttt?” Lockhart had stood up looking flustered. “No, that can’t be. I put them in there!” He walked over and stared at the empty box. “But I did!”</p>

<p>“Stolen?” Slytherin asked.</p>

<p>Lord Malfoy snarled. “I want replacements.”</p>

<p>“But… but… I can only make six!” Lockhart wailed.</p>

<p>“Out of the way there!” Lord Black had moved around the table to the small crowd gathering around Malfoy. “If this is theft, then that’s my responsibility as chief auror — and what’s this?”</p>

<p>He flicked his wand at something caught on the edge of the box. A tiny hair levitated out and, seconds later, Lord Black had it wrapped in a small conjured bag.</p>

<p>“I <em>was</em> fiddling with it for several minutes,” Malfoy said, rather defensively.</p>

<p>Lord Black grinned back. “No worries there, Lucy. I’m sure it all checks out.”</p>

<p>Lucius looked rather put out. “I demand all the portkeys returned!”</p>

<p>“Why?” asked Lord Hawking. “If you can’t have them then no one can? Stop being childish.”</p>

<p>“This is an outrage!”</p>

<p>Lord Slytherin snorted. “I’m more worried that someone unknown now seems to have two instant-access portkeys to the Hogwarts hospital wing.”</p>

<p>There was a silence around the table.</p>

<p>“Umm… never fear!” Lockhart said, although his confidence seemed shaken. “We will just have to… err… increase security — yes, that’s what.”</p>

<p>The assembled wizards looked at him with half-lidded eyes. “Yes, Headmaster,” said Lord Blott. “You do that.”</p>

<p>It was an even more cautious meeting after that. Members kept giving each other suspicious looks. Several agenda items and a couple of rejected resolutions later, the meeting closed up. Not long after, Lord Slytherin ducked into an empty classroom, threw up a few privacy charms, withdrew his shrunk trunk, opened it up, and climbed inside.</p>

<p>“No luck then.” Daphne sat in one of the armchairs in the middle of the trunk with her eyes shut. The large floating eyeball swivelled around to look at him before it winked out of existence. Daphne opened her eyes.</p>

<p>“No.” Harry pulled off his mask and started undoing all the charms and transfiguration on his person. “It was probably Virgo. She must have realised I’m not Voldemort and tipped Malfoy off.”</p>

<p>“So now what are we going to do?”</p>

<p>Harry dropped into the armchair opposite Daphne as he shrunk back to his real biological age. “We’ll keep looking for opportunities to get more board members on our side. In the meantime we can still get some of the guardianships, if we persuade both the parents and the headmaster to sign off on it.”</p>

<p>“Should be easy on Lockhart’s end. That wasn’t your hair on the box, was it?”</p>

<p>“No, it was my father’s.”</p>

<p>Daphne chuckled. “That’ll go down well.”</p>

<p>Harry shrugged. “They won’t be able to pin anything on him with that alone. I’ll cast some concealing spells of my own and hand the portkeys off to Luna and Ginny. You didn’t pick anything of interest up with your eyeball did you?”</p>

<p>“Not during the meeting, but I did get something interesting last night.”</p>

<p>“Oh?”</p>

<p>Daphne nodded. “Draco was writing a letter in bed to Lord Malfoy. He was asking for help in getting some of the Dark families to work with him on ‘putting Alexandra Black in her place.’ Apparently many of the people he spoke with were reluctant to help without approval from their parents first. They probably remember what happened last year.”</p>

<p>“Mmm… well that gives us a breathing spot, but it sounds like we’ll have to speed up our work with Alex, anyway.”</p>

<p>“Yes.” Daphne frowned. “I’m not all that thrilled about keeping her in the dark about all our secrets, you know.”</p>

<p>Harry sighed. “I know. But it’s not like with you and the other girls. I had months working together with Ginny, Hermione, and Luna before I told them, and you and I were already betrothed. Hell, even Tracey accumulated a good chunk of time with me over the last year before she found out. I’ve hardly had any opportunity to spend serious time with Alex.”</p>

<p>“She’s pretty obsessed with Lord Slytherin.”</p>

<p>Harry nodded slowly.</p>

<p>“Soon?”</p>

<p>Harry seemed to think before nodding, this time rather more firmly. “I think that after we’ve gone through helping her survive the smackdown from the Dark, we can bring her in.”</p>

<p>Daphne smiled brightly. “Wonderful. And with any luck, the diary won’t be an issue soon either.”</p>

<p>Harry nodded. They cleared up a few other pieces of business and Harry escorted Daphne back to the trapped stairs leading down to the girls’ dormitory before making his way back to his own dormitory to sleep. He’d added the ward that limited the number of portkeys the headmaster could create to six himself. It was the most he could do, but hopefully the most would be enough. He didn’t particularly want Lord Malfoy to get another portkey he could give to the diary, after all.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was the next day. Classes had come and gone, and the older students had settled back into the normalcy of another school year. Virgo Malfoy marched up the grand staircase towards the seventh floor, a faint anger bubbling through him. The previous evening, his housemates had pranked him, <em>again</em>. Afterwards, he’d pretended to accept the sympathy of the older wizard Colin Creevey had run off with on Monday — a boy called Dean Thomas — <em>another</em> muggleborn. <em>He, </em>the future <em>Lord Voldemort</em>, had been consoled by a muggleborn. It drove him nuts.</p>

<p>And the only progress he’d made towards his goal had been to realise that John spent quite a bit of his time outside classes with the Bones heiress, Susan. They seemed quite fond of each other. Together with the Slytherin Weasley, they seemed like the most probable way to get an in with John. But first, he had to do something about the rest of the house.</p>

<p>Virgo reached the seventh floor, breathing heavily, and made his way to the tapestry of Barnabas the Barmy, teaching trolls to dance. He walked in front of the tapestry while thinking, I need the room of lost things.</p>

<p>The door opened. The inside was just how he remembered it from fifty years ago. The walls rose on all sides like a cathedral. Beams of light shone through high windows, through the dusty air, and onto massively high shelves.</p>

<p><em>Woowwww</em>, thought the soul of Julia.</p>

<p>Virgo quickly made his way to the place where he hoped the stuff he’d left here fifty years ago would still be. There was, after-all, no guarantee that his other self hadn’t already taken it for some other purpose. He stepped in front of the shelf that looked no different from the countless others and nodded in satisfaction. There, among piles of secondhand books that must have piled up in the two years after he made the diary, was an old and battered violin case.</p>

<p><em>Wait, seriously? </em>Julia thought.</p>

<p>You are surprised? Virgo thought back.</p>

<p><em>Well, yeah.</em></p>

<p>Virgo picked up the case and opened it. The instrument inside had already been well used when he’d stolen it from one of the older girls at the orphanage one summer.</p>

<p><em>Can you actually play it?</em></p>

<p>I can, he thought. There are many similarities between it and a wand — between music and magic. He quickly applied a tuning charm.</p>

<p>The walk to the common room felt longer than normal. The violin was not pleasant to hold. It brought back memories — memories he’d already locked tightly away, tight enough that not even Julia could pick up on them.</p>

<p>“Password?”</p>

<p>“Wattlebird.”</p>

<p>The portrait swung open and Virgo stepped through. This time, the build-up of prank magic was noticeable. He took one more step forward and antlers sprung from his head.</p>

<p>Just like before, laughter rang out through the common room. Those who weren’t doing so openly were hiding their poorly concealed smiles behind hands or books.</p>

<p>Virgo ignored them. Instead, he walked right into the middle of the room and stopped. He looked around.</p>

<p>The laughter slowly died down.</p>

<p>He pointedly withdrew the violin from the case he carried, fixed it under his chin, and drew back the bow.</p>

<p>Someone sniggered, but was quickly hushed.</p>

<p>And then he played. It started slow and simple, leading from the introduction, through each of the three individual movements. To those listening it was a song of sorrow and loss, each long note stirring some painful memory within them. But to Virgo, each note brought forth not sorrow, but anger — a kind of simmering resentment and rage, which he barely managed to keep hidden as he approached the conclusion. After several minutes of playing, in which no one in the entire common room had moved, the final note played, and silence fell.</p>

<p>He lowered the bow and looked around again.</p>

<p>Several groups of witches were quietly sniffling to themselves. Many of the boys looked uneasy and guilty. Heir Longbottom was trembling in his seat, hunched over and trying to look small.</p>

<p>Virgo’s anger started to fade, quickly replaced by satisfaction. He drank in the looks of sadness and guilt like a fine wine.</p>

<p>Julia’s thoughts felt both resigned and disgusted. <em>Only you could take something like music and turn it into a weapon.</em></p>

<p>Beautiful, isn’t it?</p>

<p>By the fireplace, John Potter looked rather uncertain.</p>

<p>Virgo let the violin hang at his side. Everyone was still watching and waiting. He took a steadying breath. It was important to get the level of fear and righteous indignation in his voice just right.</p>

<p>“I am not evil,” he started. “I spent most of my childhood in Sweden. For a long time, I was Virgo Olsen, not Virgo Malfoy. When I returned, I learned a lot about magic and the Wizarding World from my new family. I knew what was expected of me by them, but I never forgot the muggles who’d raised me before. When I came to Hogwarts, the hat told me I would do best in Gryffindor — that Gryffindor was where I <em>truly</em> belonged. So I went there, and now here I stand in front of you — I can do nothing else.” Virgo let a tiny part of the anger he’d been feeling for days leak into his now-trembling voice. “Do you have <em>any</em> idea what it’s going to be like for me when I go home for Winter Festival!” She glared around at them all, then, without waiting for a response, stormed off to the girls’ dormitory, still wearing the set of prank antlers that no first year should be able to remove by themselves, leaving behind an extremely uneasy common room.</p>

<p>The next morning, something fundamental had changed. When Virgo left the dormitory people nodded at him, some gave him encouraging smiles — a couple even apologised for the way they’d been treating ‘her’. The oldest Weasley, Percy, removed his antlers with a wave of his wand and commented on how everyone’s behaviour had been disgraceful, while Dean Thomas had given him a big, cheesy, thumbs up. No one really invited him into their groups, but no one turned him away when he asked if he could sit with them for a while either.</p>

<p>It was during one of these informal chats when he learned that Susan Bones was, apparently, a passionate dueller, and that the Hufflepuffs had duelling practice on Friday evenings at the duelling arena. John Potter still wasn’t looking very comfortable around him. Maybe it would be a good idea to extend some feelers into other houses. Susan could be perfect, but Virgo could easily think of one other who’d also be a prime candidate to befriend.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Alexandra Black sat in her first Potions class waiting for Professor Lady Lily Potter to arrive. The Carrow twins sat on either side of her as though they were guards containing an especially disruptive prisoner. Alex wasn’t blind. She’d seen the looks she’d been getting from the children of the Dark over the last few days. She snorted. Let them come. She’d gang up with Luna and the other witches to crush Harry Potter in training, and then she’d use her Black family magic to cow anyone in the Dark who tried anything with her. Lord Slytherin would be impressed.</p>

<p>Over in the middle of the classroom, Ginny was happily chatting away to Luna. The distance between her and them seemed far too large.</p>

<p>At that moment, Lily Potter walked into the room and up to the front. Alex frowned grumpily. The woman always treated Alex like she had brain damage or something. She turned around to face them all. “Welcome. I am Professor Potter and here you will be learning one of the most useful and powerful skills available to wizards… potions. Why are potions so powerful?”</p>

<p>Lily Potter waited for a few moments for anyone to raise their hands. No one did.</p>

<p>She turned and wrote on the board.</p>

<p>POTIONS ARE THE ULTIMATE EQUALISER</p>

<p>She turned back. “It does not matter how powerful your wand is. It does not matter how well your body can process magical toxicity. It does not even matter how much raw power you can channel. So long as you can use magic, you can stand among the greatest potioneers who have ever lived, <em>if</em> you have the smarts for it. That is what makes potions so powerful.”</p>

<p>Alex suppressed the urge to snort. That didn’t make potions powerful. In fact, that made potions far <em>less</em> powerful. If everyone could do it, it wasn’t much of an advantage.</p>

<p>They soon started on a simple potion to cure boils. Alex was partnered with Hobby Harper, a dark-skinned boy with extremely short hair, who seemed to be trying to impress her. She focused on prep — cutting, mashing, and dicing the ingredients into the exact specifications noted by the recipe, while Harper manned the cauldron, loudly counting out stirs in-between boasting about his quidditch skills.</p>

<p>Some time into the process, Lily passed Alex’s cauldron and stopped by Ginny’s. “Oh, well done, Miss Weasley. You’ve got the viscosity and colour just right. Two points to Slytherin.”</p>

<p>Ginny nodded curtly. Lily moved on and Alex craned her neck to see inside Ginny’s cauldron. Their potions were identical. She scowled and passed the latest batch of perfectly sliced sniffle-cups to Harper.</p>

<p>“Oh, and you too, Miss Malfoy — wonderful — three points to Gryffindor.”</p>

<p>At that point, something went wrong. The cauldron Harper was manning started to spit.</p>

<p>Alex’s eyes darted to, and fell on, the stirring rod. Harper had left it in the guard while adding the sniffle-cups. Idiot! She snatched it out of the cauldron just as the last of the sniffle-cups went in, but by then the damage had already been done. The potion’s perfect green colour had faded into a kind of sick yellow.</p>

<p>“Oh, that’s no good.” Lily Potter was standing behind them with a concerned look on her face. It was as though she’d teleported there from the other side of the room. She looked at the stirring rod in her hand. “Alex, you should never stir while adding grasses in this potion.”</p>

<p>“Yes, I—”</p>

<p>“Well, you know for next time. I’m sure you’ll manage it if you try <em>really</em> hard.” Lily then gave her an encouraging smile and walked away.</p>

<p>Alex only just resisted braining herself head on the desk in frustration.</p>

<p>Harper muttered an apology, but that did little to stem Alex’s annoyance.</p>

<p>By the time class ended her mood had reached the boiling point. She was among the last to pack up, and when she stormed down the corridor towards the dungeons, it took all her instincts not to immediately hex the slight figure that stepped out from behind a statue. “What do <em>you</em> want?”</p>

<p>Virgo Malfoy smiled at her. “Annoying, isn’t it? I saw what happened back in class.”</p>

<p>“Good for you.” Alex continued on walking.</p>

<p>Virgo stepped up beside her. “That’s not the only thing I’ve seen.”</p>

<p>“Oh?” They were now walking together down the corridor with Virgo on Alex’s left.</p>

<p>“I notice my brother’s trying to stir up trouble. It can’t be easy on you right now.”</p>

<p>“I’m just fine.”</p>

<p>“Are you sure you wouldn’t appreciate help?” Virgo leaned slightly closer. “I know many Malfoy secrets.”</p>

<p>Alex gave her a suspicious look. “Why would <em>you</em> want to help?”</p>

<p>Virgo sighed. “I’m a Malfoy in Gryffindor. My family might not soon be the most supportive of allies. I need new ones.”</p>

<p>Alex thought in silence for a moment while the two girls continued to walk. Lord Slytherin wanted the Dark students at Hogwarts on his side. Surely bringing Lord Malfoy’s daughter into the fold would be equally useful. She slowed her pace a fraction. “Well…”</p>

<p>“Hi there!”</p>

<p>Alex and Virgo both jerked around.</p>

<p>“Luna!”</p>

<p>“Alex!”</p>

<p>Alex found herself looking into her best friend’s large grey eyes from only a few feet away. She’d appeared on her right like a ghost through a wall.</p>

<p>The moment Virgo realised who it was, she took several steps backwards as though afraid of catching something.</p>

<p>Luna grabbed onto Alex’s arm and pressed herself up against her. “I’ve been looking for you.” She leaned over to gaze at Malfoy. “Hey, Virgo. Have you thought at all about what we talked about on our first day?”</p>

<p>“No,” Virgo said, rather bluntly.</p>

<p>“Not even a little bit?”</p>

<p>“No!”</p>

<p>“You can’t run from it forever.” Luna’s voice was practically sing-song by this point.</p>

<p>Alex found herself being gently pulled further and further away from where Virgo now stood.</p>

<p>“My offer’s still open.” Luna giggled. “Special deal — order now — while supplies last — before it’s too late.”</p>

<p>Virgo said nothing.</p>

<p>And then they’d turned around and were walking away from their Gryffindor classmate. They continued on walking until they’d turned several corners and were clearly and obviously alone.</p>

<p>“Um, Luna?” Alex lowered her voice and leaned in closer. “Not that I’m not happy to see you, but aren’t we supposed to not be seen together in public?”</p>

<p>“I missed you.”</p>

<p>Alex felt something ping in her stomach. She looked away. “Yes, well.” She grasped for something else to talk about. “What were you talking about with Virgo?”</p>

<p>“Oh, I was just playing with her. It’s so much fun — like a kitty with a mouse.”</p>

<p>“She was offering to help with our project.”</p>

<p>Luna’s face turned serious. “Don’t accept it. Don’t trust her. In fact, don’t even let yourself be alone with her. Trust in Lord Slytherin.”</p>

<p>Alex hesitated, then smiled. “Right.” Just having this small time with Luna made her feel miles better than before. “And we’ll crush Harry on the weekend.”</p>

<p>Luna frowned. “About that. I have a family obligation that I have to take care of. My father’s coming to take me from Hogwarts on Friday evening. I won’t be back until late on Sunday.”</p>

<p>Alex’s face fell. “Oh.”</p>

<p>“Don’t worry.” Luna put an arm around Alex’s shoulders. “We’ll find more time to hang out together soon, I promise.”</p>

<p>Alex smiled again.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Damn Lovegood. What the hell was wrong with her? Virgo walked down to the duelling arena fuming mildly. She’d been so close before that little whore had shown up.</p>

<p>Normally this would be the point he’d expect Julia to start kicking up a fuss in his brain, but, oddly enough, on this one she actually agreed with him.</p>

<p>Virgo walked into the duelling arena and stood at the railings looking down as the Hufflepuffs started trickling in.</p>

<p>“Hey!”</p>

<p>Virgo looked up. An older male Hufflepuff was marching towards her. “You’re in Gryffindor, right? You can’t be here.”</p>

<p>Virgo frowned. That had never been a problem fifty years ago. “Are you sure? I won’t be any trouble. I just wanted the opportunity to practice with people who aren’t from my house.”</p>

<p>“No, absolutely not.”</p>

<p>At that moment, the twin muggleborns from Hufflepuff House arrived on either side of the boy — the Chesterfields. Virgo had grouped with them during herbology when everyone else in her house had ignored her.</p>

<p>“Aww, c’mon Cedric,” wheedled the one on the left. She wore gold ribbons in her hair, as opposed to purple, which meant that this was Marigold.</p>

<p>“Indeed,” said the one that, by process of deduction, had to be Violet, the far more subdued of the pair. “If she wants to practice against us, I don’t have a problem with that. It’s not like we’re that important.”</p>

<p>The boy folded his arms. “That’s not the point.”</p>

<p>“What about what it means to be a Hufflepuff?” Marigold pouted up at him. “Don’t you remember what you told us? Puffs help people and make friends everywhere. Go Puffs!”</p>

<p>Cedric grimaced before theatrically throwing his hands up in the air. “Fine, whatever. You take care of her then.” He turned around and walked off in a fake huff. It was obviously fake because he first gave them both a smile and a wink.</p>

<p>Virgo watched the whole exchange with a kind of disdainful fascination. I’m constantly finding myself relying on muggleborns recently, he thought. It’s pathetic.</p>

<p><em>I’m sure if it’d been me, I’d have been awesome,</em> thought the soul Julia. <em>And it’s not pathetic!</em></p>

<p>“C’mon!” said Marigold, pulling her towards the other Hufflepuffs.</p>

<p>Thus it was that, twenty minutes later, Virgo found herself facing off against the niece of the head of the Department of Magical Law Enforcement, Heiress Susan Bones. She studied him with an air of deep suspicion.</p>

<p>Violet threw a handkerchief into the air. It slowly fell to the ground. It hit.</p>

<p>The exchange didn’t last long. Susan’s spells were fast and precise. She’d clearly spent many hours practising. Virgo let a disarming charm catch her after a mostly static thirty seconds of spell trading. “Wow, you’re good.”</p>

<p>Susan glared at him. “Don’t give me that bullshit.”</p>

<p>Virgo blinked. “Sorry?”</p>

<p>“You don’t think I can’t tell? You threw that!”</p>

<p>Damn, the girl was sharper than he’d thought. “Umm…”</p>

<p>“Why?” Susan demanded.</p>

<p>“Err…” Virgo dropped his head. “It’s my housemates.”</p>

<p>“What?” Susan walked closer so she could hear his now rather quieter voice.</p>

<p>“They’ve been treating me like crap all week — because I’m a Malfoy in Gryffindor. They only stopped yesterday when I shouted at them all in the common room. I guess I’m afraid that if I stand out too much they're going to think I’m dangerous or something. My father was training me ever since I came back from Sweden — I might be a bit too advanced.”</p>

<p>Susan’s features softened. “You know, if you have problems, you can always talk to John Potter. He’ll sort it out.”</p>

<p>Virgo smiled weakly. “I tried. He wasn’t having it.”</p>

<p>Susan’s eyes narrowed. “Oh, really?”</p>

<p>Virgo raised both his hands in what he hoped was a convincing, half-panicky gesture. “Please don’t get angry at him. He wasn’t the one dumping honey on me or anything. I don’t want him to get mad at me.”</p>

<p>Susan pursed her lips.</p>

<p><em>Urgh</em>, thought Julia.<em> I think I’m going to be sick</em>.</p>

<p>After apparently considering his words for a few moments, Susan said, “but he didn’t help put a stop to it, did he?”</p>

<p>“Well, no.”</p>

<p>Susan sniffed. “Stupid boys.” She looked Virgo in the eyes. “I’m not going to think you’re evil. Are you going to fight seriously now? I need another good opponent.”</p>

<p>Virgo nodded quickly. He’d have to be far more careful this time — maybe up his game to that of a mildly competent second year. Susan was better even than that, so she’d still win, but it would at least give her the impression of fighting a first-year prodigy — someone valuable. Then he’d be able to let his skills improve slowly over time until he could use them fully in front of her.</p>

<p>They jumped apart and readied their wands.</p>

<p>Marigold snatched up the handkerchief on the ground and threw it up into the air. “Begin!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Grand Central Terminal, New York City, United States of America — a vast concrete and steel monument to muggle pragmatism, and hidden somewhere inside, the MaCUSA International Portkey Terminal — an equally vast goblin-iron monument to wizarding secrecy. Special Auror Jackson Collins sat on one of the many iron benches, reading his newspaper and watching the arrival circles — three large pits dug into the marble floor. Each pit was filled with several inches of sand and featured stone steps around the circular sides leading up and out.</p>

<p>Bing-Bong!</p>

<p>A cheerful-sounding female voice rang through the hall. “Arrival of the six o’clock portkey from Tokyo to pit number two — please stand clear. Thank you.”</p>

<p>There was a whoosh of air, a blur of coloured shapes, and then over a dozen people stumbled across the sand of the middle pit. Almost half of the arrivals immediately threw up. The others didn’t look much better.</p>

<p>Jackson ruffled his newspaper. Damn Brits. Damn their suspicious shit. But, most of all, damn his boss who’d decided their damn suspicious shit mattered. He’d been called into her office early yesterday afternoon, just when he’d been winding down for the weekend, and been told he was now on special assignment.</p>

<p>“These are the Lovegoods,” his boss, Ruby Goldstein, had said, pushing a file with a picture paper-clipped to the front across her desk at him. “They’ll be arriving in the country early Saturday morning.”</p>

<p>Jackson looked down at the family picture of a tall, blond man, his wife, and his young daughter. “And why is this important?”</p>

<p>“Because they are associated with a person of interest to MaCUSA.” Goldstein threw another file at him, this one far thinner than the last. “This man — the so-called ‘Lord Slytherin.’ Procurement is talking with him about magical submarines. The higher-ups are fed up with the kelpie situation in the Great Lakes.”</p>

<p>Jackson flipped through the file. He made a face. “Arranged marriages — yuk.”</p>

<p>“That’s what you get so close to the Albion.”</p>

<p>“And these Lovegoods are also British aristocracy. You think they’re what? Industrial spies?”</p>

<p>“Their visa application says they’re here for tourism, but their school term’s already started. They’re bringing their daughter with them. It’s only for the weekend, so she wouldn’t miss any classes, but nevertheless, it’s suspicious.”</p>

<p>Jackson had groaned, which had gotten him a scowl from his boss. Her suspicions had landed him in hot water more than once over the years, but he wasn’t about to argue it. And so here he was, waiting at the crack of dawn for a trio of British wizards. They’d probably portkey off again to who knew where, dragging him along with them, and forcing him to spend a good chunk of his own weekend in portkey recovery.</p>

<p>Bing-Bong! “Arrival of the six-fifteen portkey from London to pit number three — please stand clear. Thank you”</p>

<p>There was a whoosh of coloured air and seven wizards stumbled onto the sand. The Lovegoods were instantly recognisable. They stood together and were the only ones not to immediately throw up, although that wasn’t to say that they looked fine — far from it. They staggered up the stone steps, clinging to the railing and each other, and made their way over to the lines of sleep booths — luxurious recovery spaces, complete with sleeping potions — something only well-off travellers could afford.</p>

<p>Jackson groaned. He was obviously in for a long wait.</p>

<p>He wasn’t wrong. For the next six hours, he kept his eye on the exit to the booths, keeping himself occupied with the crossword, and even a copy of a muggle newspaper. Apparently the muggle government had confiscated a massive dinosaur skeleton from some people who couldn’t decide who owned it. It caught his eye because he’d been part of the team that had raided an excavation site in Utah some years back. The muggle bone diggers had discovered a fossilised dragon and mistaken it for one of their own massive extinct beasts. He was sipping on a cup of ever-warm coffee when the Lovegoods walked out of the booth space, looking far better rested, and made their way towards customs.</p>

<p>Jackson folded up his papers and followed at a distance, coffee cup still in hand. He saw the customs agent talking to the trio, saw them all show her the rings they wore, saw the agent wave her wand over the rings, saw them hand over their wands, saw the agent register them, and saw her place the little girl’s wand in a storage box that he knew would be returned to her when she left the country. Then they walked through customs and out into the portkey terminal proper.</p>

<p>Jackson hurried up to the customs agent. “Excuse me, ma’am,” The woman looked up. “Special Auror Jackson Collins.” He flashed his ID.</p>

<p>The woman straightened. “Yes, Auror?”</p>

<p>“The entry papers of the three you just processed, if you please.”</p>

<p>“Ah.” The woman fumbled on the desk, found them, and handed them over. “Here you go.”</p>

<p>“Thanks.” He looked over the documents. “Washington D.C. — a muggle hotel. They didn’t say anything about why they were going there did they?”</p>

<p>“No.” The customs agent shook her head. “The girl pouted a bit when she had to give up her wand, though.”</p>

<p>Jackson took another sip of coffee. “I bet she did. Any idea when the next public portkey to Washington is?”</p>

<p>“One-fifteen, sir.”</p>

<p>“Thanks.”</p>

<p>Jackson then arranged for a MaCUSA portkey to take him to the capital ahead of the Lovegoods. He found the hotel the Lovegoods had put down on their entry papers and sat down in the lobby to wait. It was a whole hour later when the Lovegoods finally arrived, looking a whole lot more muggle than when they’d portkey’d in wearing their incredibly European wizarding robes.</p>

<p>By the time the Lovegoods finally emerged from their hotel room, it was almost a quarter past two in the afternoon. This time though, they clearly meant business. The adults were dressed in muggle formal wear, while the girl was more casually dressed in jeans and a t-shirt.</p>

<p>The apparent disconnect between the parents clothing and their daughter’s soon became understandable when they dropped her off at a kids activity centre — complete with trampoline and climbing wall. At this point, Jackson had to make a choice, and the choice was obvious. The kid was an eleven year old girl who didn’t have a wand. The adults were two highly capable wizards, with wands, who together owned one of the most powerful British media organisations. Naturally he chose to follow the adults.</p>

<p>Having said all that, Jackson couldn’t help feel that this whole exercise was a huge waste of time. This feeling didn’t decrease as the happy couple, which was obviously what they were, happily strolled up the national mall over the next hour, past the Smithsonian, past the Washington Monument, stopping briefly to take in the Lincoln Memorial, before walking over to the JFK Center, where, surprise, surprise, they pulled out two tickets to the opera and entered. Jackson grunted. He hated opera.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Luna Lovegood was a natural leader. This was the conclusion that Jennifer Rushings, head supervisor at the activity centre, came to after watching her interact with the other kids for the better part of an hour. Maybe it was the pure Britishness she seemed to radiate, but the other children—and especially the boys, whom she wouldn’t normally have thought old enough to notice—treated her like royalty — like a princess — no, even more than that, like a queen. They followed her around on whatever game she felt like playing and leapt to her commands like little soldiers. It was both impressive and darn adorable.</p>

<p>Said game at the moment seemed to involve stationing guards at all the windows, as though the activity centre was a castle on the lookout for potential invaders. She walked over to the girl and smiled warmly. “Everything going well, your majesty?”</p>

<p>Luna smiled back. “Quite well, Ms Rushings.”</p>

<p>“The fort is secure then?”</p>

<p>Luna seemed to consider this question carefully. She looked around the centre, then back at her. “Yes,” she finally declared. “It would seem it is.”</p>

<p>Jennifer clapped her hands together. “That’s—”</p>

<p>And then Luna was pointing a length of wood at her, ornately carved with flowers and vines.</p>

<p>“Confundo.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In one of the JFK Centre’s concert halls, Jackson Collins tried to make himself comfortable. He wasn’t having much luck. The seats were too close together, the place was too dark, the music was too loud, and the muggle in front of him was wearing a hat that was too big.</p>

<p>The Lovegoods sat two rows down from him and six seats across, apparently quite enjoying themselves. Jackson tried to spot if anyone might be secretly communicating with them, but it was useless. This job really needed a whole team of field unspeakables, not just his own measly self.</p>

<p>He supposed it could be worse, though. He could be babysitting their brat.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Not far away, at the J. Edger Hoover Building, Derick Thomson finished changing into his security guard uniform and clocked in for his shift — he’d be working late tonight, mores the pity. He’d been really looking forward to catching the game later on. He walked into the lobby and took up position by one of the main doors. Nothing strange — nothing unusual — just another boring-as-heck shift.</p>

<p>“Imperio.”</p>

<p>Elation. Happiness. Freedom. Derick blinked. Only it wasn’t him that blinked. It seemed to be a good idea to go along with it though. His body patted himself down and found the ID that hung by his belt. His body inspected the card. It then reached into his pocket and pulled out the wallet Mandy had bought him for their fifth-year anniversary. It riffled through the contents and looked at all the cards. Apparently done with the pockets, it then turned and made its way back the way he’d come.</p>

<p>Every so often his body would inspect the signs that plastered the walls. Derick had the vague feeling it was looking for something, not that it mattered, of course.</p>

<p>“You okay there, Derick?”</p>

<p>His body whirled around. It was his friend, Alan. “Yeah, I’m fine,” his body said.</p>

<p>“Aren’t you on lobby shift?”</p>

<p>Derick felt something in his brain, something quite different from before. While before was elation and freedom, this was nakedness and vulnerability. It reached for answers to questions and pulled information straight from his brain like candy-floss from a machine and suddenly he understood. He was a prisoner in his own body. Some demon was possessing him! Panic bubbled up, his fingers started to twitch to his command, but then, just as quickly, the thing in his brain retreated, and the happiness returned. This all happened in less than a second.</p>

<p>“Rodger asked for me to see him in his office before shift,” said his body.</p>

<p>“Oooo.” Alan made a face of sympathy. “Have fun with that.”</p>

<p>“Asshole,” said his body.</p>

<p>Alan grinned, punched his body on the shoulder, and left.</p>

<p>After that, it was a quick walk through two levels basic of security. Each time, his body pulled out his security card and swiped it through the doors, with a small green flash. On the third door, the security swipe flashed red. His body frowned. He felt the happiness slowly drain from his body. For one disconcerting moment, he had back a kind of dizzy control. But then, something red hit him, and his world went dark.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Rachel Wayland stepped out of her bathroom stall, making the final adjustments to her tights as she went. She walked over to the sinks, washed her hands, checked herself in the mirror, quickly reapplied her lipstick, and tucked her Celtic knot necklace deeper into her blouse. Some of her more traditionally religious co-workers got a bit weird about her being a self-proclaimed pagan. Satisfied, she made for the door. Her hand closed around the handle, and utterly failed to turn.</p>

<p>She frowned. Locked?</p>

<p>She tried harder, but still nothing.</p>

<p>“Sorry about this.”</p>

<p>She whirled around. A girl. Short, black-haired, Asian features, t-shirt, jeans, stick of wood pointing at her. No, her mind corrected itself, not a stick of wood, a wand — symbol of male virility — channeller of air and fire. She mentally shook herself. Not important. “What are you doing here? Why is the door—” But that was as far as she got before <em>something</em> hit her and all her arms and legs snapped together, her mouth snapped shut, her neck went totally stiff. Magic! The thought ploughed through her like a shocked and triumphal freight train. <em>Real</em> Magic! OMG!</p>

<p>Her totally unresponsive body floated forward, spinning gently, until her upside-down face was only a few feet away from the girl’s.</p>

<p>OMG! OMG! OMG!</p>

<p>“Legilimens.”</p>

<p>Memories flew through her mind like a hurricane. Memories of work, of projects long ago completed, of her co-workers, of the layout of the warehouse she helped admin, of the recent delivery of a huge-ass dinosaur skeleton, and finally, of passwords and usernames to the building’s security systems. It was that last memory that succeeding in breaking her out of the crazed elation at her discovery, and dumped a bucket of cold water all over her.</p>

<p>This little girl was in the middle of FBI headquarters, using magic to break in! She was ripping critical security data right out of her head and there was nothing Rachel could do to stop it. Sweat poured down her face as she tried to will the tide of memories to stop, but it had about as much effect as a single sandbag trying to stop a flash flood.</p>

<p>Eventually the memories stopped.</p>

<p>The girl smiled at her. “Thank you.”</p>

<p>Unable to say anything, Rachel just stared back, wide-eyed, fearful, and desperately trying to remember every little detail for later, assuming, of course, that she managed to get out of here alive.</p>

<p>“Obliviate.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Stop!” In the FBI surveillance room, Daniel Davis jabbed his finger at the video screen. “Right there. Rewind it again.”</p>

<p>Daniel’s closest work friend, Carl Turner, who was far larger than Daniel, rewound the tape and together they watched. There, before their eyes, a door in one of the high-security areas opened and closed all by itself, without anyone using a security card or punching in a security number. “Okay, that’s fucking weird.”</p>

<p>“I <em>told</em> you I didn’t just imagine it.”</p>

<p>“So, what do you think it is? A ghost?”</p>

<p>“Oh, please, get real.” Daniel jerked up and starred at another of the many security cameras that surrounded the two of them. Most of the others had already gone home, for the day, leaving just the skeleton crew. He pointed at the screen that caught his attention. “There! Another one.”</p>

<p>“What, for real?”</p>

<p>“Yes, for real. Get the tape. I swear I saw something else this time too.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Sometime quite a bit later, somewhere among many hundreds of shelves in the depths of the building’s basement, a barely visible outline moved about unseen and unheard. The outline stopped occasionally, as though reorienting itself, before carrying on again. Eventually, it found itself in front of a series of high shelves, each one several feet tall, and on these shelves, were stored hundreds upon hundreds of fossilised bones.</p>

<p>The outline glided like a whisper until it reached the shelf that contained the beast’s skull, a ridiculously massive thing, longer than the outline stood tall, longer even than the longest dragon skull, and packed deep with dagger-like teeth, some of them as long as a man’s forearm.</p>

<p>In front of the skull, for all to see, someone had put a small plaque which simply read, ‘Sue.’</p>

<p>Two of the teeth then yanked themselves out of the skull and slowly floated forward. As soon as they reached the outline, they all but vanished, becoming little but an outline themselves.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Daniel ran a hand through his hair. “Okay, this isn’t funny anymore. We need to tell someone.”</p>

<p>Between them, he and Carl had found four more incidences over the last hour of self-opening and self-locking doors. The tapes were all piled up on the table. One of the more scary episodes was playing repeat on the main monitor. This wasn’t just a cute incident anymore, this was a real security problem.</p>

<p>“Yeah,” Carl nodded. “Let’s handoff to Sammy. He’ll know what to do.” He stood up. “You’d never think we needed something like this in the procedures manual.”</p>

<p>“No kidding.”</p>

<p>Carl reached for the door handle. “Imagine the newspapers, ‘FBI building haunted.’”</p>

<p>Daniel groaned. “Don’t even joke about it.”</p>

<p>Carl wrapped his hand around the handle and turned. Or rather, he tried to. “Locked.”</p>

<p>“What?” Daniel stood up.</p>

<p>“It’s locked,” Carl said, a bit louder.</p>

<p>“Here,” Daniel stepped forward with his keys. He stuck one in the lock, gasped, and drew his hand back. What remained of the key dribbled down the front of the door.</p>

<p>Daniel and Carl looked at each other.</p>

<p>“Okay, don’t panic,” Daniel said. He pointed at the phone. “Call for help.”</p>

<p>Carl picked up the phone and held it to his ear. “Dead.”</p>

<p>“What do you mean, ‘dead?’”</p>

<p>“I mean there’s no tone!”</p>

<p>Daniel growled. “This had better not be someone’s idea of a practical joke. Right, we break the door.”</p>

<p>Carl nodded and together they gave the door everything their shoulders had, which, despite their combined quite considerable weight, wasn’t nearly enough.</p>

<p>Daniel stood back and ran his hand through his hair, looking around the room again. “Window!”</p>

<p>His friend looked up at the tiny window near the roof. “Are you sure?”</p>

<p>“Do you have a better idea?”</p>

<p>“Fair catch.” Carl hauled a fire extinguisher out from under the desk, then climbed <em>onto</em> the desk, and used his powerful arms to lob it straight at the window. It bounced off with a sound like a palm hitting a rubber mat — very much <em>not</em> the sound some fifteen-odd kilos of steel makes when hitting a thin sheet of glass — before crashing to the ground… like a feather.</p>

<p>The two looked at each other again.</p>

<p>“Okay, this shit really isn’t funny now.” Daniel started pacing. “What the hell <em>is</em> this?”</p>

<p>It was at that moment that things went from worrying to terrifying.</p>

<p>All at once, Daniel found himself with no control over any of his limbs. His arms and legs snapped together, his mouth snapped shut, and his neck and spine went stiff as a board. Only his eyes could move. They swivelled around desperately, only to see that Carl was in the same situation as he, and that both of them were now floating almost a foot off the floor.</p>

<p>A girl appeared in front of them from nowhere as though she’d stepped through a hole in the world — young, Asian, black hair, jeans and a t-shirt. There might have been more scary things to be faced with in this situation, but Daniel honestly couldn’t think of one.</p>

<p>“I’m so sorry about this,” the girl said, and genuinely sounded it. “This might feel a bit uncomfortable, but it will make my work more accurate.” She pointed a length of wood at him.</p>

<p>“Legilimens.”</p>

<p>Memories flashed through Daniel’s head. Memories of his family, of his friends, of going to see the Redskins’ first game of the season just the other day. The memories quickly focused in on the events of the afternoon, and then further on to his sudden unexplained curiosity at a seemingly unimportant event on the security cameras.</p>

<p>His and Carl’s entire ghost hunt flashed before his eyes, like a dream on fast-forward, but somehow slower as well. Then the memories stopped and he was able to take a metaphorical deep breath.</p>

<p>The girl considered the pile of tapes on the table before turning back to him and Carl. “Thank you,” she said. “This will make everything much easier.” She then pointed what he could now only think of as her wand at the pile of four tapes and said, “obliviate.”</p>

<p>Nothing seemed to happen until he looked at the video monitor which was still playing the fifth and final tape constantly on repeat. He wanted to gasp. There, before his eyes, the door on the screen closed shut sooner than it should have… and stayed shut. The tape rewound itself, started playing again, and this time the door didn’t open at all.</p>

<p>Sweat poured down Daniel’s face. This girl was either a demon or a god, and he’d never believed in gods.</p>

<p>The wand then turned on him, and in his mind, it turned on him as slowly and with all the inevitability of a destroyer’s main cannon being brought to bear on a small dingy, until he was looking right down the shaft. It had flowers on it.</p>

<p>“Obliviate.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Back at the opera, the lights finally came back on, and Special Auror Jackson Collins was finally able to get out into the fresh air again. Mr and Mrs Lovegood seemed in no hurry to go anywhere though. They ambled back the way they came, apparently at total ease in the world. Eventually, they found their way back to the activity centre they’d dropped their daughter off at.</p>

<p>He watched Mr Lovegood hug his daughter as though they hadn’t just been gone for a few hours, and the kid hugged him back the same way. Urgh, he thought, this really was the most pointless assignment.</p>

<p>By the time he’d spent another three hours watching the Lovegoods trying pizza and all sorts of other very normal foods at one of Washington’s many muggle eateries, he was ready to write a very pointed report to his boss about how reliable her suspicions tended to be, office politics be damned.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The classroom was large. The desks were piled up at the back. The windows sat deep into the stonework, Sunday morning sun streaming through in long beams. Daphne sat by one of these windows, fully dressed in dragon-hide duelling robes, and feeling more than a little inadequate.</p>

<p>In the middle of the room, Ginny, Alex, and Hermione were warming up. In Ginny’s case, this involved rapidly switching between pebbles scattered around the room while Alex shot stunner after stunner at her, far faster than Daphne could have managed, and even then, not a single one of them connected.</p>

<p>By contrast, Hermione stood off to one side doing jumping jacks in-between practising basic spell chains.</p>

<p>It really drilled home just how much of a gap had opened up between them. So much so that Daphne wasn’t all that sure what she could usefully add to their effort to ‘take down’ Harry.</p>

<p>After several more minutes, Hermione wandered over. “You don’t know what Luna is up to do you?”</p>

<p>Daphne shook her head.</p>

<p>Alex stopped trying to stun Ginny and turned towards them. “She told me she had a family obligation.”</p>

<p>A small pebble by Daphne’s feet vanished and Ginny appeared where it had been. “She told me she was going to America.”</p>

<p>“Out of the country?”</p>

<p>“Yeah.”</p>

<p>At that moment, the door opened.</p>

<p>They all turned to it.</p>

<p>“Morning.” It was Harry. He <em>wasn’t</em> dressed in duelling robes, but rather his normal everyday clothes.</p>

<p>“Harry!” Ginny grinned at him. “You don’t know what Luna is up to, do you?”</p>

<p>“She said something about getting reagents for a Lovegood family ritual.”</p>

<p>“What ritual?”</p>

<p>“No idea. She didn’t want to ‘spoil the surprise’. I’ve no doubt we’ll find out soon enough. Now,”—Harry stepped up beside them and looked around at them all—“you ready for this?”</p>

<p>“Hell yes,” said Alex. “I’ve been waiting for this forever.”</p>

<p>“Okay then. I’ll give you a few minutes to plan among yourselves. Come at me however you will.” Harry wandered over to the other side of the room and sat down with a book.</p>

<p>Daphne, Ginny, Hermione, and Alex all went into a huddle.</p>

<p>“How are we going to do this?” Hermione asked.</p>

<p>“He’ll try to go for the biggest threat first, which is me,” said Ginny. “I’ll go invisible and switch out to a random pebble. You distract him. Then I’ll go in for the kill.”</p>

<p>“What about my family magic?” asked Alex.</p>

<p>“No dark spells on Harry,” said Hermione firmly.</p>

<p>Alex grunted.</p>

<p>When they were done talking, Harry was standing in the middle of the room, pebbles strewn all around him while Daphne, Hermione, Alex, and Ginny all stood by one of the four walls, wands in hand and ready.</p>

<p>Harry conjured a handkerchief and levitated it up to the ceiling. He let it fall. The moment the handkerchief landed on the ground, many events happened in quick succession, so fast that Daphne barely had time to register them all.</p>

<p>Ginny flickered into invisibility.</p>

<p>Hermione and herself both started casting a spell — a stupefy in her case.</p>

<p>Alex actually <em>did</em> cast a stupefy, which sailed towards Harry.</p>

<p>Every pebble in the room rose off the ground and shot towards Harry far faster than Alex’s stunner.</p>

<p>A bubble of shimmering light flickered around Harry.</p>

<p>She and Hermione finished casting their spells.</p>

<p>Every pebble smashed against the bubble.</p>

<p>Alex’s spell was swatted away by Harry’s wand.</p>

<p>One of the pebbles vanished, switching with a visibly surprised and, more importantly, visibly visible Ginny, right in front of Harry — right where Harry’s other hand was already placed, palm open and pressed into her stomach. There was a flash of red.</p>

<p>Daphne and Hermione’s spells were swatted away.</p>

<p>By the time Daphne had fully registered all this, Ginny had fallen to the ground in front of Harry, unconscious. There was a moment of stillness, then movement, and Daphne’s world went dark.</p>

<p>When Daphne awoke, it didn’t take long to remember that <em>obviously</em> every time she and Harry had trained together, he’d been massively holding back.</p>

<p>“I told you,” Alex said to Hermione. “We need something with more oomph.”</p>

<p>“We’re <em>not</em> using extremely dark magic against Harry!” Hermione hissed.</p>

<p>“We wouldn’t be using it all for real,” Alex argued, “just to help us move him where we need him.”</p>

<p>Hermione folded her arms. “If Harry knows it’s just a bluff, it won’t work.”</p>

<p>Ginny seemed a bit more subdued than before.</p>

<p>Alex scowled. “You don’t even know what spells I had in mind.”</p>

<p>“Fine, give me an example.”</p>

<p>“Black chains. They restrict the target’s movement and drain their will to fight on contact.”</p>

<p>Hermione thought about this for a moment. “Okay then,” she eventually conceded. “I guess we can try that.”</p>

<p>If anything, their next attempt went even worse than their first.</p>

<p>Alex’s Black chains certainly looked impressive, but didn’t stand up well to the whip made of pure flame conjured from the end of Harry’s wand. It wasn’t long before they were all huddled together again.</p>

<p>“It’s not like this even counts,” Alex muttered, mostly to herself. “Luna isn’t here, so we aren’t at full strength.”</p>

<p>“Well, what did you expect?” Hermione bit back. “He’s <em>Harry</em>.”</p>

<p>Alex practically snarled. “Will you <em>please</em> stop saying his name like that. You need more than power to be a great wizard.”</p>

<p>“What? How dare you!”</p>

<p>Daphne rubbed her temples as the two continued their argument while Ginny stood off to one side, not really contributing. Eventually, something inside her snapped. This was <em>not</em> the way things should be. “Will you two be quiet!”</p>

<p>They both paused mid-rant and turned to her.</p>

<p>“I can’t hear myself think!”</p>

<p>Hermione and Alex’s eyes didn’t leave her as she started pacing. Right, she thought, focusing in on the task at hand. Harry wasn’t helping them, which obviously meant <em>he</em> thought they could do more by themselves than they currently were. They couldn’t physically get better or learn new spells, so that just left how they were using their spells — strategy, in other words.</p>

<p>Daphne looked out over the room, still filled with pebbles.</p>

<p>They started out surrounding him, which was strategically advantageous… She barely got any further into that thought when it hit her. She slapped her forehead. Of course, she thought, one of the basic rules of strategy — concentrate your forces. What was it Harry had once said? ‘Always seek to defeat your enemy in detail.’ They all had different strengths and capabilities, so surrounding him was in fact the <em>worst</em> thing they could do. It left them completely open for Harry to turn to any of them and defeat them in detail however he wished!</p>

<p>Daphne turned back to Hermione and Alex. She waved Ginny closer. “Okay,” she said, with a small and confident smile, “Here’s what we’re going to do. We’re all going to start off standing like points on a diamond. Ginny, you’re going to be in front. Your job is to swat away any direct spells that Harry casts at us.”</p>

<p>Ginny nodded, eyes suddenly more focused.</p>

<p>“Alex, you’re going to be on one the sides, your job is to harass Harry with your chains, keep him moving, and, if the opportunity presents itself, lock him down.” Alex nodded.</p>

<p>“Hermione, you’re on the opposite side of Alex. Your job is dedicated offence, as much as is possible. You’re the best of us at transfiguration, and Harry will just swat away most spells, so it’s best you focus on that.”</p>

<p>Hermione nodded.</p>

<p>“And finally, <em>I’ll</em> be in the back, casting finite incantatem on anyone who gets hexed or stunned, shielding anyone who needs shielding, and harassing Harry with simple spell chains when there’s nothing else to be done. Anyone have anything else to add?”</p>

<p>Alex, Hermione, and Ginny traded glances before shaking their heads.</p>

<p>Daphne smiled and her eyes lit up. “Excellent.” She then called Harry over and announced they were ready for the next round. They didn’t end up winning it of course, but they did a lot better than before, and by the end of it, Daphne felt far surer of herself. <em>This</em> was definitely something she could add.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>And already it’s Sunday, Virgo thought — the end of a long, first week. He walked through the Hogwarts library on the lookout for a certain someone. In the back of his mind, Julia was still sleeping after a whole morning reading an advanced theory of magic book.</p>

<p>Ah, there. He spotted his target and made his way towards her. At one of the many library tables, piled high with books and lined with students, Susan Bones was happily chatting away with Heiress Hannah Abbott and Sally Smith, daughter of a branch house of the Noble House of Smith. “Hello,” he said.</p>

<p>Susan Bones looked up. “Oh, Virgo, it’s you.” She looked surprised to see him. “What’s up? Duelling stuff?”</p>

<p>The other girls watched with interest.</p>

<p>“I was just wondering if I could join you?” Virgo held up a second-year book. “All my classmates are rather behind me, so I don’t really study well with them. I promise not to slow you down.”</p>

<p>Hannah and Sally looked at each other.</p>

<p>Susan considered this before glancing at her friends, who shrugged. “Sure, why not.” She started making room for him.</p>

<p>Virgo smiled and sat down.</p>

<p>“I don’t think you’ve met my friends,” Susan continued.</p>

<p>Virgo relaxed as the second-year Hufflepuffs introduced themselves. It wasn’t a large step, he had to remind himself, but it was a step, and if he ended up building his power base among the Light instead of the Dark… well never let it be said that he wasn’t resourceful.</p>

<p style="text-align: center;">—End of Chapter Thirty-nine —</p>

{ 269} [Then don’t steal]: Kshitiz | Floofball gang: "Then don't steal my things" implies that there was something said before it. https://discord.com/channels/342065231842902017/387696969499541514/1260494651090141264

{ 504} [Redskins]: Super minor nitpick - the NFL season doesn't usually start until early-to-mid September, and in 1992 specifically, the first Redskins game was the two days after this scene::: You could instead refer to an NFL preseason game, a different sport (e.g. baseball), or keep it the same because who the hell notices/cares about stuff like this
