Chapter 3 - Flying Under the Radar - Gold

<p>“Hello, my dear. Are you all alone? Where are your parents?”</p>

<p>“Confundo.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>“Where the hell did you come from?!”</p>

<p>“Obliviate.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>“Sorry kid, that information is restricted.”</p>

<p>“Legilimens.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry luxuriated on his pool lounger, enjoying the shade cast by a huge umbrella, sipping from a glass of iced orange juice. The crystal-blue waters of the Mediterranean lapped but a stone’s throw from his new rented apartment, and both the sea, and the pool a few feet away, called to him.</p>

<p>Damn, life was so much easier with a wand!</p>

<p>Harry returned his focus to the pad of paper he’d been making notes on, and once more went over his plans, looking for any loopholes or unthought-of problems.</p>

<p>It was now mid-September, and he’d been back in the past for six weeks. He’d spent the last month continuing his opportunistic little pilferer spiel and for the first few weeks it had been great. He now sat on the tidy sum of just over four thousand pounds, but the rates of return were now too low compared to the risk of getting caught breaking the International Statute of Secrecy and muggle-baiting laws.</p>

<p>He needed something bigger.</p>

<p>The biggest problem was that he needed to use his magic to his advantage, but couldn’t do anything that might draw attention to himself, or risk breaking the ISS.</p>

<p>His very brief foray into bank robbing ended in near disaster when he realised, just in time, that the bank—the bog-standard normal high-street <em>muggle</em> bank—had goblin wizard-detection, key-out, <em>and</em> anti-apparition wards. They even had an invisible-to-muggle, miniature thief’s downfall. Gringotts, apparently, took their banking monopoly <em>very</em> seriously.</p>

<p>He’d considered stealing other high-value items like artwork or jewellery, but decided it wasn’t worth it… They were too difficult to get rid of, especially when compared to certain other goods.</p>

<p>He took another sip of orange juice and leafed through the stack of academic journal articles he’d acquired from various British universities. They all had titles like ‘The Organisation of High-level Drug Markets’ and ‘Drug Markets and Law Enforcement’.</p>

<p>Magic could be very flashy. McGonagall demonstrated it to new muggleborn parents by transfiguring various household items into other things… or possibly turning into a cat. Very impressive stuff. But economically valuable? Not so much. You <em>could</em> use it to commit fraud, and be a damn good con artist, but again, you ran the risk of breaking the ISS and getting the improper use of magic office on your tail.</p>

<p>But magic didn’t <em>need</em> to be flashy to be damn valuable. The ability to move a small cargo, unseen and undetected, across a national border at low risk to the carrier… now <em>that</em> was damn valuable. And he was probably one of the few wizards that had both the power and skill to pass through the low powered wards governments erected around their borders.</p>

<p>If he were caught, wizarding border control would be looking for contraband magical artefacts. Muggle drugs weren’t on the list. Why would they be? Wizards routinely made potions that could do the same thing far better, with low risk of complications or addiction. Hell, they taught thirteen-year-olds the cheering charm, which was an almost textbook example of an upper. It was amazing the entire Wizarding World didn’t run around with it cast on them all the time.</p>

<p>That didn’t mean being caught had no cost. No, the consequence would be that he’d be back on the Wizarding World’s radar. Illegal apparition, underage magic, illegal possession of a wand… the list of charges would quickly pile up. True, he could get out of most of them by playing the emancipated lord card—except for illegal apparition—but, when he re-entered the magical world, he wanted it to be on his terms.</p>

<p>He wasn’t worried though. He’d already made the crossing three times now, and if this little project worked out, he’d only need to sneak over the border a few more times for quite a while.</p>

<p>Putting his drink down, Harry padded over to the pool’s edge, and carefully slid his hot, sweaty body into the water’s cool embrace.</p>

<p>This was nice. Very nice. Maybe making Cyprus his holiday base would be a really good idea…</p>

<p>But he also knew he had to get on with things. Time was marching on.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry stood, disillusioned on the Turkish mountainside overlooking the poppy fields. Most of the fields he’d passed in the last few weeks were bare, the winter harvest having already been brought in months ago, sold to the muggle government as part of a UN agreed effort to crack down on the drugs trade. Those harvests were being processed into medical-grade morphine to help prop up the world’s very real shortage.</p>

<p>But not these fields, oh no. These fields—in a remote mountain province, hidden away from prying eyes—were halfway through an additional, illegal, summer harvest.</p>

<p>Harry uncorked the vial of a carefully measured out ageing potion, which he’d bought in Istanbul’s Grand Bazaar, and swigged it in one gulp. Ugh. He shook his head. Foul tasting as always. A second later he felt himself getting taller, and anyone who could see him would tell him he now looked to be in his mid-twenties. He’d stay looking that way for a good six hours, or until he drank an antidote.</p>

<p>Cancelling his disillusionment, Harry walked down the mountain path towards the lone building near the fields. He stepped inside. Concrete floors, concrete walls, and a sheet-metal roof. Around the wall edges, various machines lay in questionable states of repair. Metal barrels were stacked in a corner, and in the middle crouched three men, hunkered down over a metal barrel on an open fire, sieving what looked like chalky sludge over the top.</p>

<p>“<em>Hello</em>,” he called out, in the little Turkish he’d picked up over the last few weeks. Voldemort had learnt many languages in his quest for obscure magical knowledge, but Turkish wasn’t one of them.</p>

<p>“<em>Hello friend</em>,” answered one of the men, presumably the boss — he had that older, done-everything look. He sounded uncertain. “<em>What can I do for you?</em>”</p>

<p><em>“I’m looking to buy.”</em></p>

<p><em>“Buy?”</em></p>

<p><em>“Yes”</em></p>

<p><em>“The goods?”</em></p>

<p><em>“Yes”</em></p>

<p><em>“Oh, I cannot. I must sell to my buyer.”</em></p>

<p><em>“Would you be willing for a higher price?”</em></p>

<p><em>“No,”</em> he shook his head and held his hands out, palms open in front of him. <em>“I’m sorry, my friend.”</em></p>

<p><em>“Like, double your usual price.”</em></p>

<p>The man paused at that and looked deep into his eyes. Harry’s legilimency could feel desire, greed, and longing for what such a deal could do for his family, but also reluctance to damage the business relationship he had with the men who bought his summer crop.</p>

<p><em>“I can buy your goods every year for the next three years.”</em></p>

<p>“…”</p>

<p>“…”</p>

<p><em>“How much do you want to buy?”</em></p>

<p>YES! Harry did a little mental jig while keeping his face impassive. <em>“How many acres do you grow?</em>”</p>

<p><em>“Five.”</em></p>

<p><em>“So, you yield, what? Three to five kilos?”</em></p>

<p><em>“I have four kilos now. By tomorrow, I will have another one kilo.”</em></p>

<p><em>“And your price?”</em></p>

<p><em>“Well, normally we would sell for 1,750 Lira per kilo, so your rate would be 3,500 Lira.”</em></p>

<p>Harry could see the mental math flying through the man’s head, the margins, expected bluffs, and mild hope to get an even better deal. <em>“Ahhh, I know what this sells for, sir. I can pay you 2,500 Lira for each kilo.”</em> That put the price below the man’s true price by the exact amount the man had priced above it.</p>

<p>The man smiled knowingly, seeming to slip into full-on haggling mode, and placed a big arm around Harry’s shoulder. <em>“Oh. My friend. You know I am taking a big risk selling to you. I cannot take less than 3,250.”</em></p>

<p><em>“Well, I understand about risks… See here, I have the money, right here, for our deal.” Harry brought out a wad of bills from his pocket. “2,750 and we can do the deal right now for the first four and I’ll come back tomorrow for the last one.”</em></p>

<p><em>“Ahh, you drive a hard bargain. Tell you what,”</em> the man said while patting Harry firmly on the shoulder, <em>“You go up, I go down, that is the way of things, Yes? We meet in the middle. Three thousand a kilo and we both have a fair deal. Okay?”</em></p>

<p><em>“Okay,”</em> he said smiling, turning around and holding out his hand.</p>

<p>They shook.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry was soaked. The rain poured down from the sky in torrents, giving not one wit to the precious cargo he had stored in his backpack, wrapped up in a dozen layers of plastic bags and wrapping.</p>

<p>The cloudy night sky made it pitch black and he could barely see in front of his nose. The only good thing, he reflected, was that if he couldn’t see anything that meant no muggle on the British coast, looking out to sea, could see him either.</p>

<p>He was nearing the border wards now, he knew. He could feel the slight hum of their magic against his skin as he floated forwards. The buffeting of the wind was making it <em>very</em> difficult… Ah. There. Yes. He could just sense the first ward in the line — the wizard-detection ward. He concentrated on the space, some five metres in front of him, and with a definite, crack, felt the weight of the ward shift from his front to his back, only to be replaced with a new magical pressure in front of him, the anti-apparition ward line.</p>

<p>Harry continued his forward push, feeling the magic of the ward build up as he passed through and dim down as he came out the other side. The final ward, a key-in portkey ward, presumably for sanctioned international portkey travel, was similarly flown through, and Harry found himself back in good old English airspace, still soaked to the bone of course, but it was definitely English rain now.</p>

<p>He hoped it was a bit dryer up in Scotland before disappearing with yet another loud crack.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>It turned out to be quite a bit nicer in Scotland. After many, many cracks, Harry arrived in the Outer Hebrides to a choppy wind, but no rain. This did mean that Harry was now getting cold, fast, and it took several warming charms to counteract the biting Scottish wind.</p>

<p>Flying over the islands that made up the archipelago, Harry soon found what he was looking for — a small island, steep, rugged, no sign of human inhabitants. He landed next to a cliff face and immediately got to work.</p>

<p>“Defodio!”</p>

<p>The gouging charm ripped through the stone, creating a very definite indent in the cliff face. He kept his focus on the charm and watched as it started to hollow out a cave.</p>

<p>Several hours later, Harry was exhausted, but had succeeded in digging himself a passageway leading to two hollowed-out rooms. Really. He collapsed against a corner wall. Things would be a lot easier if he could just use Gringotts for his bank vault. But he really didn’t want to have to explain where he was getting constant influxes of muggle money. Much better to deposit it all in one go when he introduced the Wizarding World to Lord Slytherin. Plus it would be good to have an emergency stash in case Gringotts was unavailable for whatever reason.</p>

<p>Having gotten his breath back, Harry picked up his wand and conjured a small camping bed, complete with sleeping bag, threw up a notice-me-not on the entrance, along with a couple of temporary detection and muggle-repelling wards, and lay his head down for a good long kip.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>FWHOOOOOSHHHHH!</p>

<p>Heat and light filled Harry’s world.</p>

<p>“AAAAANNNNNNNNNNNNGH!”</p>

<p>A roar, louder than anything Harry had ever heard, shattered through whatever final remnants of sleep he’d been hanging on to. He struggled out of the sleeping bag and snatched at his wand. He was still in the cave he’d dug last night, but something seemed to be making a good attempt at joining him.</p>

<p>FWHOOOOOSHHHHH!</p>

<p>Outside the doorway he’d carved last night, leading to the hallway that led straight to the outside world, a train of fire was crashing its way through his makeshift hideaway. The heat was incredible.</p>

<p>When the fire stopped, he pounced over to the doorway, cast the strongest shield charm he knew, rolled into the corridor, and aimed down his brand-new, powerful-as-hell wand, ready to take on whatever the world had thrown at him.</p>

<p>Filling the space at the entrance of the passage was a head — a head with midnight-blue scales, spikes, and a few sharp teeth visible along a large closed mouth. A single dark-blue eye pressed against the passageway opening. It was a dragon.</p>

<p>“FUCK!” Harry shouted, rolling back into the room he’d been in before, just as another train of fire thundered past where he’d been crouching moments earlier.</p>

<p>“A dragon! A motherfucking dragon!” Harry screamed at the roof, “Seriously!? Why not a hydra while you’re at it! Or maybe a nundu! Because, you know, I don’t have enough crap to deal with already!”</p>

<p>His shield would’ve held for a while, he knew, but it would also have drained him a lot for no good reason. He glared at the doorway and tried to think snakelike thoughts before scream-hissing, <em>§Hey! Winged Serpent! Would you mind not toasting me? I mean you no harm!§</em></p>

<p>There was silence for a moment, before another train of fire answered his call, forcing him further into the room, arms held protectively against his face. It roared again.</p>

<p>Well, it might have worked. Old Voldy had always been too much of a pussy to go one-on-one with these buggers.</p>

<p>Harry hit himself on the head with his wand and felt the familiar egg dribbling over his body, signalling the sensation of being disillusioned, then disapparated with a crack.</p>

<p>He appeared, floating, some fifty metres behind the dragon, which was now scrabbling at the entrance. He recognised it as a Hebridean Black. A very sarcastic part of his brain screamed, “A Hebridean Black!? In the Hebrides!? No really?” But he shoved the git into an occlumency prison to focus better on the task at hand.</p>

<p>The dragon seemed to realise Harry wasn’t there anymore and turned to look for him.</p>

<p>Harry shot towards the beast and passed just beyond its lunge range.</p>

<p>Probably both seeing the change in colour of Harry’s body as he moved, and picking up his smell, the dragon reared onto its hind legs and with one more deafening, “AAAAANNNNNNNNNNNNGH!” leapt into the sky.</p>

<p>Harry didn’t look back. He sped away from his cave, trying to lure it out as far as he could.</p>

<p>Come on. He dodged a random fireball. These guys were known for being aggressive bastards. He’d see just how far it would go.</p>

<p>Thirty minutes of chase later, and it was <em>still</em> right behind him.</p>

<p>Okay. That was more than enough of this bullshit.</p>

<p>Crack!</p>

<p>Harry appeared back at the entrance of his cave and immediately started the complex wand movements for one of the most overpowered charms in the Wizarding World’s arsenal… the fidelius charm.</p>

<p>Ten minutes later and he’d finished the wand-waving work and switched to using his wand to carve the runes at each corner of the cave. The fifteen-inch yew focus was never meant for carving work and the runes were massive as a result, but they’d do for now.</p>

<p>Fifteen minutes after that, Harry ran to the cave’s entrance and started the visualisation exercise, putting his master occlumency to good use, imagining the cave in every minute detail with pinpoint accuracy. It was a good thing the cave was so basic or this would take ages.</p>

<p>He opened his eyes, and saw the returning dragon in the distance, surrounded by a team of wizards on broomsticks, all shooting red spells at the fearsome creature.</p>

<p>He smiled and brought his wand up and down in a single strong gesture, touching a single rune on the floor, and channelling all the power he could into it.</p>

<p>“Fidelius occultum!”</p>

<p>And knowledge of the cave, and its soon-to-be hoard of treasure, disappeared from the world.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Curtis Lawless was frustrated. Why couldn’t those Gobshites get anything right? He’d been expecting a big shipment to arrive last week, but they’d been intercepted by the plods and his stocks were starting to run dry. He had a good chunk of the city to supply and there were plenty of other wholesalers who’d take advantage and move in on his turf, if he ran out.</p>

<p>Normally, he mused, if some unknown ponce had walked in off the street promising to supply, he’d have told him to fuck off, but right now? He was getting desperate.</p>

<p>He glared at the open door to his office in the nightclub he’d made his base of operations. Well, he’d give the wooler five minutes and if the man was fake, he’d throw him out and let the lads deal with him.</p>

<p>Said man now entered, being led by his chief enforcer. The would-be supplier looked… different. His hair was platinum blond, messy, and came down in a sweeping fringe, covering half his forehead. His beard was short and trimmed and blond like his hair. But his eyes… Curtis stared. The eyes were grey and, when they met his, seemed to pierce straight into him to examine his soul.</p>

<p>“A-alright,” he started, “what’s your business then, mister? I’m a busy man.”</p>

<p>The man nodded. “Mister Lawless. I have a way to move goods across the border safely and quickly. I supply when no one else can. I can supply all your needs without inconvenient interruptions… like shipments being seized at petrol stations.”</p>

<p>Curtis looked the man over again. Most drug smugglers looked ordinary so as to attract the least attention possible. This man did not look in any way ordinary, and he doubted the posh-looking tosser had ever <em>not</em> been stopped at customs.</p>

<p>“Look Mister… ah, what’s your name?”</p>

<p>“Malfoy.”</p>

<p>“Look Mister Malfoy, I don’t need to hear stories about what you think you can do. Do you have something for me right now?”</p>

<p>“I have five kilos stored in a safe place from my test run. Now I’ve sorted it, I’m doing a much larger run in the next few months. The price is ten thousand a kilo.”</p>

<p>Curtis exhaled. Five kilos would keep him going for another two months, which would give him breathing room, at the very least, and ten grand a kilo was surprisingly fair. He doubted the man was a plod, he was too flamboyant for that. He was either the real deal or a conman.</p>

<p>“Fine,” he said, reaching down into a desk drawer, drawing out a chunky mobile phone and tossing it to the blond. “I’ll call you sometime in the next few days to give you the where and when. I hope for your sake that you can deliver.”</p>

<p>The man nodded respectfully and left the office, leaving Curtis and his chief enforcer alone.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry, deep in his makeshift, accidentally dragon-guarded vault, collapsed into a conjured armchair, and contemplated his progress. Mr Lawless’s men had been shocked when he’d just stepped out from behind one of the trees—he guessed they’d been expecting him to <em>drive</em> to the specified, middle-of-nowhere field—but it had all gone well, for once. He now had a small bag filled with fifty-thousand pounds in fifty-pound notes.</p>

<p>He looked at the phone, now resting on a table. He’d had to camp out in a muggle hotel for two days to wait for the call—the phone wouldn’t receive reception under the fidelius, or other high-magic areas—and it had taken a lot to convince the men they wouldn’t be able to contact him in the future. He’d placated them by explaining he was working on a communication method that was safer and more secure than the public phone network, but it hadn’t been easy.</p>

<p>It was now mid-October, and he needed to get a move on to keep things on track. He was working to a schedule and the first deadline was getting closer… the winter solstice. On December 21, his family magics would kick in and create a seat for him on the Wizengamot. If he didn’t have a proxy ready to accept it for him, then, if a full assembly were called, he’d be legally required to turn up in person, which he still wasn’t ready for. Annoyingly, the winter solstice was one of those full assemblies.</p>

<p>He sat up straighter, grabbed his wand, and started transfiguring his appearance again. It was time to make his first foray into the British magical community. He needed a trunk—a nice, expensive, roomy, multi-compartment, shrinkable trunk—and he sure as hell wasn’t going to look like either a Potter or a Malfoy as he did it.</p>

<p>And after that… well, if he hurried, he could dash to Afghanistan—Turkey couldn’t really supply in bulk with the new regulations—load up his new trunk with farm-gate priced junk, pop it in his pocket, and be back in Britain for early to mid-November.</p>

<p>That should net between 400 thousand to 600 thousand pounds, or around eight thousand to twelve thousand galleons, which should be sufficient for what he was planning next. Lord Slytherin was an unknown quantity after all, and if he wanted any hope of securing the allies he’d need, he needed to make quite an impression.</p>

<p style="text-align: center;">— End of Chapter Three —</p>

