Chapter 41 - Ginny's decision

<p>[Two weeks ago]</p>

<p>It was midnight at the Rookery, along with everywhere else in this particular time zone. Behind the chess-piece-shaped tower, the orchard was mostly still, save for the rustling of the autumn leaves, a random, non-magical owl, and three figures standing around, talking to one another.</p>

<p>Two of the three figures were naked and shivering slightly in the chill night air. The other stood off to the side, looking much more comfy in her long flowing robes.</p>

<p>“It should be time now, right love?” asked Lord Xenophilius Lovegood, rubbing his shoulders in an attempt to keep warm.</p>

<p>Pandora Lovegood smiled, flicked her wand, and nodded. “Yes, midnight exactly.”</p>

<p>“Good.” Luna Lovegood crouched down and retrieved the two massive fossilised T-Rex teeth from a bag at her feet before tossing the now-empty bag over to her mother. “I’m freezing my tits off.”</p>

<p>Pandora caught the bag. “Are you <em>sure</em> you want to do this now? It isn’t something to be taken lightly and you’ve only just recently got your eyesight back. We could always take you out of Hogwarts again next weekend.”</p>

<p>Luna steeled her gaze. “It’s for Harry.”</p>

<p>“Of course it is.”</p>

<p>Xeno chuckled. “And I don’t have any problems. It’ll make hunting a lot more interesting when I eventually make use of it.”</p>

<p>Luna handed one of the teeth to her father who placed it down on the ground — a large circular slab of slate, cleared of leaves and covered with chalk runes and symbols, all drawn in interlocking patterns, a hypnotising mosaic of faux fractal beauty. Luna mirrored his movements, placing her own tooth down just in front of where she stood in a small chalk circle clear of runes or symbols.</p>

<p>“I’ll leave the two of you to it then,” Pandora said, turning to leave.</p>

<p>Lord Lovegood nodded to his daughter, who nodded back. They both then stretched their hands up into the air, letting magic flow through their bodies, out into the circle, and slowly, rhythmically, started to chant.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>[The present]</p>

<p>Harry walked with a purpose through the halls of Hogwarts, face grim, eyes alert, heading for the classroom that he and the girls usually trained in. It wasn’t curfew yet, but it was near. It had also been fifteen minutes since they’d finished helping Alexandra curb-stomp the Dark — fifteen minutes since Ginny had gone into ‘stealth’ mode to get the jump on the diary.</p>

<p>He’d received another set of pulses on his lightning-bolt ring from his little ninja in training only a few minutes ago — and it hadn’t sounded great.</p>

<p>Harry made his way up the stone staircase, ignoring a grumbling Filch who tried to harangue him about it being nearly curfew, and found his way to the empty classroom. He pushed open the door.</p>

<p>Ginny was sat on the other side of the room, on the floor, up against the wall, arms around her knees — knees pressed to her chest. Her face was hidden by her hair, which was coal black rather than its normal flaming red.</p>

<p>Harry stepped inside and closed the door behind him, letting a bit of his magic seep into the room so she’d know it was him. Then he walked over to Ginny and sat down beside her so their shoulders were touching. “Hey,” he said, softly.</p>

<p>Ginny didn’t stir.</p>

<p>Harry didn’t push her. If there was anything truly urgent, Ginny wouldn’t hesitate to tell him, so there was no need to force things. He put a comforting arm around her shoulders.</p>

<p>Then Ginny lifted her head up, choked, and threw her arms around him. “Harry,” she half moaned. “I’m sorry, Harry.”</p>

<p>Harry held her. “Shhh, it’s okay,” he said. “What happened?”</p>

<p>Ginny made a sound somewhere between a whine and a hiccup. “I was following the map, when…”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Ginny’s heart beat heavily in her chest — not loudly though — silencing spells saw to that. She crept up the stairs, heading to the second-floor girls’ bathroom, mind like a needle, the entirety of her attention focused only on the task at hand, invisible, masked, black-haired, and aged up by just enough for her to pass as a sixth or seventh year.</p>

<p>Footsteps approached down the corridor. Ginny pressed herself up against the wall as Professor Lady Lily Potter passed by, carrying a stack of papers and looking harried. Ginny waited for her to disappear before moving on.</p>

<p>The important thing would be the first strike. The diary could sense magic to a certain degree, even if it couldn’t spell swat, so she wouldn’t be able to just slip a dagger in its back from the shadows. But that didn’t mean she couldn’t manufacture the element of surprise.</p>

<p>Ginny approached the bathroom. She glanced at the map. The diary was still there, standing by the sink that led to the Chamber of Secrets, clearly not able to enter because of the wards Harry had placed.</p>

<p>The door to the bathroom was ajar. If she opened it, and it squeaked, it would give away her position. If she cast a quieting spell on the hinges, that might also give away her position, opening the possibility of being ambushed inside. If she switched herself with something in the room, that too would give away her position, but it would at least leave her inside the room and ready to attack. <em>But</em>, if she just <em>walked</em> in, and the door didn’t squeak, she’d be in a <em>perfect</em> position to attack, but <em>only</em> <em>if</em> the diary didn’t sense her plethora of stealth spells. She could also wait outside the bathroom and attack it when it was finished failing to get into the Chamber…</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Sounds like just walking in and hoping the door didn’t squeak would be the best option in that situation,” Harry said.</p>

<p>Ginny nodded into his chest. “I know. That’s what I did.”</p>

<p>Harry squeezed her shoulders. “You’ve come a long way since we first met.”</p>

<p>Ginny didn’t say anything.</p>

<p>“So what happened next?” Harry asked.</p>

<p>“I opened the door, and…”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was a long bathroom that stretched out at a right angle to the door, toilet stalls on one side, sinks and mirrors on the other. It felt grimy — unused — uncared for. There was water everywhere, which made effective stealth suddenly very unlikely. Ginny edged her way in anyway and stood just in front of the corner leading to the rest of the bathroom. In one hand she held her wand. Her other itched to unsheathe the dagger hidden in her robes. <em>It</em> was just on the other side of this corner. Her muscles tensed.</p>

<p>“Hello.”</p>

<p>Shit. Ginny cursed to herself. The voice sounded just like any other eleven-year-old girl. She’d heard this particular one often enough in class, usually followed by such things as, “Oh, well done, Miss Malfoy! Two points to Gryffindor!”</p>

<p>“I know you’re there,” the voice said calmly. “I should warn you that the Noble House of Malfoy does not take kindly to people creeping around unannounced.”</p>

<p>Ginny didn’t say anything.</p>

<p>“Are you a student? Those are some pretty high-level charms you’re using. Disillusionment, silencing — yes, I certainly know you are there. Why don’t you show yourself and state your business?”</p>

<p>An ambush was out of the question now. She could try to talk and get the jump on it when it wasn’t expecting it, but that also left <em>her</em> open to getting jumped too. No, best just to surprise it with an unrelenting attack.</p>

<p>“I warn you,” the voice began, starting to sound annoyed, “do <em>not</em> try my—”</p>

<p>Ginny attacked.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“And?” Harry asked gently, “What happened next?”</p>

<p>Ginny sniffed and wiped her nose with the sleeve of her robes. “Just like when we practiced. She tried all the tricks you said she would. As soon as she realised that I could spell swat, she put up shields and used transfiguration and conjuration instead of direct spells. She was actually a little stronger than you thought — least, that’s what it felt like. Her wand wasn’t the sister to mine, by the way, so that wasn’t an issue.”</p>

<p>Harry nodded. The diary carried a wand of yew, which looked around the right length, but apparently either didn’t carry a phoenix feather, or wasn’t exactly 13 1/2 inches.</p>

<p>“The bathroom got pretty messy,” Ginny continued. “Blasted rubble everywhere. One of the pipes broke. The water was up to our ankles. And then…”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The diary was losing. Ginny could see that the diary knew it was losing. Its eyes darted back and forth, desperately looking for an exit point — a way out that Ginny had no intention of granting it.</p>

<p>“Wait!” it shouted.</p>

<p>Ginny nimbly sidestepped a banished rock, and banished one of her own in retaliation. She cast a switching spell on the rock as it dropped towards the diary’s head, exchanging it with a much larger rock on the floor by her feet.</p>

<p>The diary dived forward to avoid it, splashing into the water, and closing the distance between them. It choked and spluttered, but still kept up its guard, now down on one knee, wand pointing forward, maintaining its shield.</p>

<p>They were now so close there wasn’t time to even think about fancy spell work — just pure instinct — thrust and counter.</p>

<p>“Who?” it shouted again.</p>

<p>And Ginny saw her opening. A stone behind the diary momentarily flashed with magic, and, in the blink of an eye, Ginny was there instead, kneeing the diary in the back, and dropping it to the ground with a loud splash.</p>

<p>The diary screamed, rolled over onto its back, and tried to raise its wand, but Ginny was there, kicking the weapon out of its grasp and straddling its waist.</p>

<p>The diary desperately lashed out and Ginny’s wand went flying across the room in the opposite direction. There wasn’t time to even think about summoning it back. Ginny snatched the dagger from the inside of her robes, pressed the terribly sharp edge right up to the girl’s neck, and looked deep into the girl’s terrified eyes.</p>

<p>Fear.</p>

<p>Pain.</p>

<p>Pleading.</p>

<p>The room filled with silence, save the soft gurgling of the broken water pipe. Ginny felt the water she was kneeling in seep up into her robes. The magical torches on the wall caused shadows to flicker back and forth.</p>

<p>This is for killing me, bitch.</p>

<p>The words flashed across Ginny’s mind, rolled up onto her tongue, and, before they could be said, slowly, horribly, died.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“I couldn’t do it!” Ginny wailed, burying her face into Harry’s chest. “She just looked so scared. I’m sorry, Harry.”</p>

<p>Harry held Ginny close to him and made comforting noises while in the back of his mind, he thought through the implications. Dealing with this now was certainly the better strategy. Luna had been right, again. The diary was small fry in the grand scheme of things. If Ginny was going to be a killer, far better learn to do it now while it wasn’t such a big deal. Either that, or he needed to redirect her talents and training towards some other purpose.</p>

<p>He waited until she’d calmed down a bit before gently prodding her again. “And then?” he asked.</p>

<p>Ginny looked down. “I kinda panicked a bit and pushed a wandless stunner into her. Not enough power to last very long at all, but enough for me to get my wand and leave without getting caught by anyone.”</p>

<p>“You didn’t by any chance grab any of her hair while you had her there, did you?”</p>

<p>Ginny’s voice dropped to a murmur. “I did do that, yes.”</p>

<p>Harry smiled. “Well, that’s <em>something</em>.”</p>

<p>“But what do I do <em>now</em>?” Ginny asked, looking up at him again, eyes wet with tears. “I trained for <em>so</em> long, and I couldn’t even… I feel so useless!”</p>

<p>“Shhh… for starters, not getting it right on the first time is okay. Secondly, even if you find you don’t want to go down that path, there are lots of other paths we can take you down that will make use of everything you’ve been training for.”</p>

<p>“Like?”</p>

<p>“I’m sure you’d make a kick-ass bodyguard.”</p>

<p>Ginny looked Harry in the eyes, then snorted. “Sorry, but the idea that you need a bodyguard is just silly.”</p>

<p>“I was thinking about other people, not necessarily myself.”</p>

<p>“But I want to be with <em>you</em>.”</p>

<p>“You knew that you might have to be away from me for long periods of time, even if you continued on the path you’re on now.”</p>

<p>“True, but that doesn’t mean I have to like it.” Ginny wiped her eyes and pushed herself up from where she’d been laying against him.</p>

<p>Harry decided she needed distracting. “Enough of that. How would you like to hear a fresh off the press, not yet released, little titbit of news?”</p>

<p>Ginny gave a small smile. “Sure.”</p>

<p>Harry pulled a paper bag out of his pocket. The bag contained a small pile of indistinct brown leaves.</p>

<p>Ginny’s eyes widened. “You got the mandrake leaves!”</p>

<p>“I did.”</p>

<p>“When are you going to give them out?”</p>

<p>“Right now, if you’re up to it?”</p>

<p>Ginny nodded.</p>

<p>Harry sent out a series of pulses on his lightning bolt ring. “I also have another little task for you tonight, Ginny.”</p>

<p>Ginny’s eyes steeled and she nodded again.</p>

<p>“When we’re done, take <em>these</em> to your twin brothers in Gryffindor tower and return to Slytherin dungeon. Do not be seen by anyone.”</p>

<p>Ginny took the smaller package and pocketed it. “Yes, Harry.”</p>

<p>They didn’t have to wait long for Daphne, Hermione, Luna, and Alexandra to show up. They piled in through the door, laughing and joking.</p>

<p>“And did you <em>see</em> Barber’s expression when Potter got him with that animate transfiguration?” Alexandra said with glee.</p>

<p>“But it was <em>nothing</em> compared to—” Hermione started, but trailed off as they all felt the mildly sombre atmosphere in the room.</p>

<p>“My lord?” Alexandra asked.</p>

<p>Daphne stepped forward. “Ginny? Are you alright? What happened?”</p>

<p>“Later.” Harry stood up from where he and Ginny had still been sitting with their backs to the wall, pulling her up with him. “Right now, we have these to give out.” He held up the bag containing the mandrake leaves.</p>

<p>There was silence for a moment.</p>

<p>Then Hermione actually let out a little squeal and trotted over to peer at the bag. “Oh, I’ve been <em>so</em> looking forward to this! I can’t believe it’s <em>finally</em> time!”</p>

<p>“How did you get them?” Daphne asked.</p>

<p>“With difficulty.”</p>

<p>Luna moved to stand beside Hermione. “I’ve been betrothed to a drug dealer for years now — it’s about time I got some.”</p>

<p>“Just the one month, Luna,” Harry said. “We don’t want any of us becoming addicted.”</p>

<p>Luna smiled dreamily. “Of course, Harry.”</p>

<p>“And it's <em>former</em> drug dealer,” Hermione added.</p>

<p>“Oh?” Luna titled her head. “What’s this then?”</p>

<p>“This doesn’t count.”</p>

<p>Harry opened the bag and handed out a leaf to each of them in turn, finishing with his own. They all stood in a circle, popped the leaves onto their tongues, and then carefully charmed their leaf to stick to the roof of their mouths.</p>

<p>“Whoa,” Ginny said, swaying slightly.</p>

<p>“The first wave wears off quite quickly, but is rather intense to the uninitiated,” Hermione quoted with slightly glazed eyes.</p>

<p>“This is so cool,” Alexandra said.</p>

<p>“An interesting experience, certainly,” Daphne added.</p>

<p>Luna said nothing for a while as they all swayed under the force of hallucinogenic magic rushing throughout their bodies, before finally adding, “Anyone fancy a run down to the local chippy?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Not long after delivering the mandrake leaves to Fred and George, Ginny climbed into bed and lay there, listening to the sound of the Carrow twins drifting off to sleep.</p>

<p>She did not know what to do. She hadn’t not known what to do for ages. She’d been training to be a fighter ever since she’d known Harry, which felt like forever, but what good was a fighter who couldn’t kill?</p>

<p>Harry said it was okay if she took a less brutal role in their little group, but could she really accept that? The thought made her uneasy.</p>

<p>A second wave of dizziness hit her.</p>

<p>She snuggled down into the blankets and tried to ignore the school of silvery fish swimming through the dorm window to the Black Lake, gliding and darting around above her bed to the rhythm of her slowly relaxing breathing.</p>

<p>They’d be gone by morning… hopefully.</p>

<p>Darkness fell.</p>

<p>Time passed.</p>

<p>Ginny slowly came to and sat up. The dormitory had gone, but where she would normally expect to find Harry’s dreamscape, there was instead just empty space as far as the eye could see, and her, floating in the middle of it.</p>

<p>Okay, Ginny thought, first things first, she’d need some ground — that much was pretty much a given regardless of what kind of animal form she had. Even sea creatures needed land to put water into.</p>

<p>It shouldn’t be too difficult now. She’d never managed to materialise anything in her dreams before, but the mandrake leaf coursing through her body should make creating things out of thin air almost comically easy.</p>

<p>Ginny concentrated, hard, and ground appeared below her — far, far below her.</p>

<p>“SHHIIIIIIITTTTTT!” she screamed as she plummeted downwards.</p>

<p>Ginny thunked. And woke back up in the dark Slytherin dorms, panting and sweating. How long had she been asleep? An hour? Two?</p>

<p>Dizziness hit her again.</p>

<p>“Messed up the ground?” came Luna’s quiet voice from behind two sets of bed curtains.</p>

<p>“Jurst a bits,” Ginny slurred back. Her conscious mind felt fine, but she was having difficulty stringing thoughts to actions.</p>

<p>“At least you didn’t shout out like Alex did. Startled the Carrow twins something terrible. I think they’re really regretting their actions at the start of the year now.”</p>

<p>“I didn’t hears that.”</p>

<p>“You were asleep. Don’t worry. It won’t be so bad tomorrow.”</p>

<p>Ginny looked up. The fish had changed colour from silver to metallic pink. Her head flopped back down onto her pillow and darkness, once again, fell.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>On the other side of the castle, in a trunk hidden next to another first-year girl’s bed, a body housing two individuals was not having a good time.</p>

<p><em>We nearly died!</em> Julia shouted hysterically into Virgo’s head. <em>She was going to kill us.</em> <em>You didn’t tell me people were going to try and kill us!</em></p>

<p>Virgo was sitting in a chair, head in his hands, trying to fight off a colossal headache, while failing to clamp down his occlumency shields to keep the girl out. He’d always managed to keep at least <em>some</em> semblance of separation between them, but that dagger at his throat had been the last straw.</p>

<p><em>I did tell you</em>, he snapped back at her. <em>Don’t you remember what happened at the book shop? At least one person wants us—wants me—dead.</em></p>

<p><em>But Harry’s just a boy! They were almost grown up! I was soooo scared!</em></p>

<p>Virgo groaned and looked up. Nothing for it but to wait until she calmed down.</p>

<p><em>How can I calm down!? What if she comes back! She was stronger than us! Some ‘Greatest Wizard’ you are!</em></p>

<p><em>SHUT UP!</em> Virgo roared, pointing his wand at his arm and casting a mild torture curse.</p>

<p>The pain speared through him like a sword in the arm leaving him gasping.</p>

<p>Julia whimpered and started sobbing. <em>Tom, please don’t do that — please.</em></p>

<p><em>I wouldn’t </em>have<em> to do it if you’d just let me think! I’m trying to keep us alive, and I can’t do it if you’re being hysterical!</em></p>

<p>Julia quietened down, leaving him freedom to do said thinking, even while his body continued to shake and quiver. He needed to get close to John Potter, now more so than ever, for three very good reasons.</p>

<p>Firstly, walking around by himself was apparently too dangerous. He needed a powerful patron for protection until he was strong enough to deal with the threats himself — it was the same strategy he’d used at the start of his career in Slytherin House.</p>

<p>Secondly, the entrances to the Chamber of Secrets were warded. That suggested Lord Slytherin’s continued involvement. He was the only person, apart from one of his other selves, who might do such a thing. That made collecting information on him even more important.</p>

<p>And thirdly, John Potter had a Hogwarts functioning portkey. Lucius had told him so in one of his regular owls. Virgo needed that portkey, but just taking it wasn’t an option. No, he needed John to <em>give</em> it to him. And that wasn’t going to be easy. But it would be much easier if Virgo could gift wrap one of the girls he coveted.</p>

<p>Bones and John Potter were already close, but the other one — the female Weasley — the same one he’d met at the robes shop…</p>

<p>A small mirror on the desk opposite caught his attention. He frowned. Something wasn’t quite right. He stood up on shaky legs, walked over, and stared into it. “My hair!” he shouted, appalled. Someone had sliced a chunk out of her lovely, long, blonde — sliced a chunk out of <em>his</em>…</p>

<p><em>My hair!</em> Julia shouted.</p>

<p>Virgo shook himself.</p>

<p><em>My lovely hair!</em></p>

<p><em>Never mind our hair,</em> he thought sharply at her. <em>This is bad. There’s so much dangerous stuff you can do with people’s hair, it’s not funny. Old families teach their children to guard their hair like they would their blood.</em></p>

<p><em>Is that why you were trying to summon Harry’s hair from around the castle before? Is it for the hate potion?</em></p>

<p>Yes.</p>

<p><em>Oh. I was wondering. But you didn’t get any.</em></p>

<p>No.</p>

<p>And that was another thing he’d have to sort out. The younger Potter twin was being surprisingly cautious about his hair, but there was always another possibility. The boy had been thought a squib and raised by muggles (And how the hell had <em>that</em> happened?) which meant he would have a footprint in the Muggle World. That footprint might well be an angle that could bear useful fruit — one that his dear ‘father’ should be able to arrange.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Lily Potter looked over her second-year Slytherin-Gryffindor Potions class, sitting attentively and waiting for class to begin. There had been changes.</p>

<p>Usually, Miss Granger and Miss Greengrass sat together, but today, for some reason, the former was pairing with Miss Davis while the latter paired with Mister Zabini. Harry—her son, Harry—was sitting with Miss Parkinson.</p>

<p>Lily wasn’t particularly happy about that. She’d spotted the Parkinson heiress bullying other students on no less than three occasions since she’d arrived. Regardless of what else she thought about the man, at least Slytherin seemed to have taught Harry to be polite. That could easily be ruined if he fell in with a bad crowd, and Miss Parkinson certainly counted. But she couldn’t do anything about that right now. Not here.</p>

<p>John was sitting in the back with Ronald Weasley — that, at least, hadn’t changed.</p>

<p>“Today we’re going to be going through a minor sleeping draught, please study the notes on the board carefully before you begin. I will be attending you in a purely supervisory role today.”</p>

<p>The class got underway and Lily walked around the room correcting students’ efforts where they needed correcting.</p>

<p>She stopped at Miss Granger’s cauldron and looked down, surprised. “Miss Granger… your tubers. Can you tell me what’s wrong with your tubers?”</p>

<p>Hermione Granger turned her gaze to the tubers on her cutting board before squinting at the blackboard, cursing quietly under her breath, and sweeping them into the bin beside her. “Sliced, not diced.”</p>

<p>“Yes. I’m surprised. I think that’s the first time I’ve seen you make a mistake like that.”</p>

<p>Miss Granger muttered something that she couldn’t quite catch.</p>

<p>“Well, do try to stay focused. You know how important staying focused is here.”</p>

<p>Not five minutes later, Lily watched in shock as Heiress Greengrass knocked over a bottle with a carelessly placed elbow. The bottle stopped just before it hit the ground and floated back up, placing itself on the girl’s desk. Harry lowered his wand and nodded. Greengrass blushed.</p>

<p>“Good reflexes, Mister Potter,” Lily said. “Miss Greengrass, please be more careful.”</p>

<p>It seemed like something was jinxing her best students for the rest of the class. It was a wonder they turned in any potion at all, let alone produce ones with the perfect shades and textures she’d come to expect from that little group. In any case, it was a perfect excuse to hold Harry back at the end of class.</p>

<p>“Is something wrong with your friends today, Harry?”</p>

<p>“No, Mum.”</p>

<p>“That’s <em>Professor</em> while we’re in school.”</p>

<p>“Yes, Professor. No, Professor, I don’t think there’s anything wrong with them. I haven’t noticed anything, anyway.”</p>

<p>“Mmmm…” Lily tapped her chin. “Well, if you do learn anything that might affect their safety in Potions class, you’ll let me know won’t you?”</p>

<p>“Yes, Professor.”</p>

<p>“By the way, I see you partnered with Miss Parkinson today.”</p>

<p>“Yes, Professor.”</p>

<p>“And you’re happy with that?”</p>

<p>Harry smiled the smile of a child that thinks he’s spotted an adult doing something against the rules. “Are you asking as a Professor? Or as my Mum?”</p>

<p>Lily chuckled. “As your Mum, Harry.”</p>

<p>“Well, <em>Mum</em>, I know she can be a bit spiky, but didn’t Dumbledore always say that to win the war the Light must show the love that the Dark does not dare to?”</p>

<p>“I thought you hated Dumbledore?”</p>

<p>“That doesn’t mean everything he says is rubbish. Pansy is a nice girl — just a bit misguided.”</p>

<p>“What about your other friends?”</p>

<p>“They are still my friends. I just want lots of friends. We’ll go back to our old partners eventually. We just thought it would be a good idea to stir the pot a little.”</p>

<p>Lily nodded. That seemed fine. It certainly didn’t seem to be something that risked the control over her son the prophecy required her and James to have.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Alice Spooner had just clocked in for her shift at St Peter’s Hospital, when a very unusually dressed man walked through the front door, disdainfully looked around as though he’d just entered a sewer pipe and not a thoroughly modern hospital, and started to walk towards her. Alice couldn’t help feeling that there was something about the man that was familiar—the blond hair, the gloved hands, the sharp features—but for the life of her, she couldn’t remember where she might have seen him. He stood imperiously in front of her and rapped his silver snake’s head cane on the floor.</p>

<p>“I need you to retrieve all the medical records, teeth, blood samples, and any other body parts you might have for one Harry James Potter, immediately.”</p>

<p>Alice felt a sinking sensation in the pit of her stomach. An utter loony. Wonderful. She sighed. “Sir, we can only release patient information to the patient, a legal guardian, or someone with power of attorney.”</p>

<p>The man pulled on his cane and whipped out what looked like an orchestra conductor’s baton. He waved it in the air. “Listen, muggle, I am Lucius Malfoy, and I <em>have</em> the authority — go and fetch me what I asked for immediately.”</p>

<p>At that moment, two distinct thought processes started in Alice’s brain. The first went something like this — ‘Of course, how silly of me, why would I ever question someone who is so obviously my better. I need to go and get anything I can find right away. Rules are only there for normal people, after all, and Lucius Malfoy is no mere ordinary man.’</p>

<p>The second went something like this — ‘Oh, fuck! Lucius Malfoy! The wanted drug trafficker! I knew I’d seen him somewhere before. All over the newspapers! I need to go and call the police!’</p>

<p>Both thoughts warred with each other, one driven by magic, the second driven by terror, but both thoughts were agreeing on one thing. She needed to leave right away.</p>

<p>Alice nodded respectfully and slipped through the doors leading to admin. The corridor split — records in one direction, the nearest phone in the other. The back of her neck started to sweat as the two thought processes continued to battle for her actions. Records or phone?</p>

<p>Back in the lobby, Lord Lucius Malfoy waited for the disgusting muggle to return. He didn’t like getting his hands dirty, but there really wasn’t much choice this time. That was fine… occasionally. One confundus, one obliviate, and his new daughter would have exactly what she needed for whatever plot she was hatching in Gryffindor Tower.</p>

<p>A snake among lions? More like a basilisk among kittens.</p>

<p>When he and his wife had first adopted Virgo, they’d intended her to become a leader in the snake pit to counter Lord Slytherin’s overpowered little minions, but in the end she’d chosen red over green. He’d been a bit put out at the time, but it turned out for the best — Virgo in Slytherin <em>as well</em> would have been a waste.</p>

<p>He chuckled, remembering the memory his son had sent him two nights ago.</p>

<p>His wife’s niece — Alexandra.</p>

<p>Black blood, it seems, always <em>did</em> run true.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>A little while earlier, under the streets of central London, Chief Auror Sirius Black made his way down from his office towards the ministry restaurant to meet with his lunch partner.</p>

<p>Something hadn’t been right for the past several days. Whispers followed him wherever he went. A couple of pureblood interns had giggled as he passed. People he hadn’t spoken to since his childhood gave him winks and random thumbs up, and when he questioned them about it, always got some cryptic comment on the lines of, ‘playing the long game, huh?’</p>

<p>On the other hand, <em>some</em> of the looks he was getting from people he <em>thought</em> of as friendly acquaintances suddenly weren’t nearly so friendly — they were instead full of distrust and suspicion.</p>

<p>He walked through the ministry canteen and towards where those who traditionally sat above the salt ate. Sirius didn’t eat at the ministry restaurant often. He much preferred sitting with the other aurors, but if there was one thing Le Petit Magik <em>was</em> good for, it was privacy.</p>

<p>“This way, Lord Black,” the maître d' said, leading him through the other diners towards a private booth near the back. “Your guest has already arrived.”</p>

<p>“Thank you.”</p>

<p>The booth was set for two — wine glasses, grasses in flower pots, enough cutlery to keep an etiquette teacher busy all afternoon, the whole spell chain.</p>

<p>“Sirius.” Arthur Weasley stood up and took the hand Sirius extended to him.</p>

<p>“Arthur.”</p>

<p>They sat.</p>

<p>“So, what did you want to talk about,” Sirius asked, when the waiter had taken their orders. He’d known Arthur Weasley for over a decade and the two were on good terms.</p>

<p>“What’s your assessment of the current state of things in the Wizengamot?”</p>

<p>Sirius groaned inwardly. This was supposed to be James’ thing, not his. “Very basic, I’m afraid. The Light and the Dark are at stalemate on just about every major issue and only the Gray can break it one way or another, but they’ve been refusing to do so for years now.”</p>

<p>“That’s a good basic assessment, yes.”</p>

<p>“So?”</p>

<p>Arthur leaned forward. “Everything we talk about here will be in absolute confidence, yes?”</p>

<p>“If you want.”</p>

<p>Arthur nodded. “A few months ago, I met with Lord Slytherin.”</p>

<p>“Really?”</p>

<p>“Yes.”</p>

<p>Sirius leaned slightly forward too. “What did you talk about?”</p>

<p>“I’m afraid I can’t tell you. It’s in absolute confidence…”</p>

<p>There was a pause.</p>

<p>“…But?” Sirius suggested.</p>

<p>“But I drew certain conclusions from the conversation that I feel it is important to talk about.”</p>

<p>“What kind of conclusions?”</p>

<p>“Firstly, Slytherin really doesn’t like Dumbledore.”</p>

<p>“I thought that much was obvious.”</p>

<p>“No, I mean he <em>really</em> doesn’t like Dumbledore. Not just a bit — he outright <em>hates</em> him. And for some reason, the feeling is mutual. <em>But</em>! And this important — he also has little love for the Dark.”</p>

<p>“Okay. What else?”</p>

<p>“I believe Slytherin is <em>genuinely</em> pro-muggleborn.”</p>

<p>“What about pro-muggle?”</p>

<p>Arthur hesitated. “I’m not so sure about that. But the political implications…”</p>

<p>Sirius thought about it and reached a conclusion. It wasn’t a difficult conclusion to reach, even for him. “This is about your muggle protection act, isn’t it?”</p>

<p>“Something <em>needs</em> to happen. If it doesn’t, we could be in very big trouble. Our laws are not keeping up with the state of affairs on the ground.”</p>

<p>“Arthur, I don’t want to sound discouraging, but we’ve been trying to get laws through the Wizengamot for four years now. We tried this very act last year. It didn’t work then. What’s changed that you think it’ll work now?”</p>

<p>Arthur Weasley looked triumphant. “Because, <em>now</em> I have an <em>in</em>.”</p>

<p>“An in?”</p>

<p>“With Lord Slytherin. Like I said, I can’t talk about it, but I <em>can</em> say that there is a matter on which we both need to work together on — one on which he puts a <em>lot</em> of importance.”</p>

<p>“You think Slytherin will support your new act?”</p>

<p>“I think we might have to modify some bits of it, add in a few extra clauses, tone down some of the more extreme Light-sided ideals, but yes. I think we have a chance.”</p>

<p>Sirius considered this. Breaking the deadlock on the Wizengamot in favour of the Light would be a considerable political coup. He didn’t know much about it, but that much was obvious.</p>

<p>“Chief Auror!”</p>

<p>The two wizards looked up.</p>

<p>Nymphadora Tonks, Sirius’ niece, and the department’s newest auror trainee were panting, by the booth’s door.</p>

<p>“Yes?”</p>

<p>“The muggle police reported your wizard drug dealer in a muggle hospital. Shacklebolt apparated over there and brought him in. He’s in the cells right now.”</p>

<p>Sirius leapt to his feet. “Thank you, Tonks. Sorry Arthur, but we can continue this another time.”</p>

<p>“Wait, Sirius!”</p>

<p>Sirius turned back to Arthur, halfway to the door.</p>

<p>He hurried up to him and motioned his ear.</p>

<p>“I need to give you an official tip-off, as chief auror,” Arthur whispered. “From an anonymous, informed source.”</p>

<p>“What tip-off?”</p>

<p>“An old foe rises.”</p>

<p>Sirius frowned. “<em>Who</em>?”</p>

<p>Arthur grimaced, said nothing, and then mouthed the words, ‘you — know — who’.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Sirius’s head swam as they quick marched down to the ministry holding cells. Arthur wouldn’t joke about that. What had he heard that he couldn’t tell him? Was he missing something? Voldemort was rising again? <em>How</em>?</p>

<p>“Boss,” Tonks hissed.</p>

<p>He shook himself free of his thoughts. “Yeah?” They’d just left the public area and were now in an empty corridor.</p>

<p>“I didn’t like to say up there — but the prisoner — it’s Lucius Malfoy!”</p>

<p>“What! It’s actually Lucy?”</p>

<p>“Yeah!”</p>

<p>That made things a lot more complicated, if a lot more amusing. “What was he doing in a muggle hospital?”</p>

<p>“Trying to get the medical records for Harry Potter — you know, John’s brother — the one who smacked me down at the duelling tournament last year.”</p>

<p>“Yeah, I know Harry. His records?”</p>

<p>“And any blood or hair or anything else like that they might have.”</p>

<p>Sirius’ grin faded. “Oh, <em>really</em>?”</p>

<p>“Yeah! Will you be able to get him?”</p>

<p>“Probably not on illegal muggle-magical trading. He didn’t have any drugs on him, did he? No, I didn’t think so. Like I said, muggle drug dealing isn’t his style. And trying to acquire hair or blood isn’t illegal by itself, though it damn well should be… maybe muggle baiting? Breaking the Statute of Secrecy?”</p>

<p>“He used magic on a muggle, called her a muggle, and then let her out of his sight without modifying her memory or calling the obliviators.”</p>

<p>Sirius’ grin was back. “Well, <em>that’s</em> a class C breach if nothing else.”</p>

<p>“Will he go to prison?”</p>

<p>“A lord? For a class C? Unlikely. But we’ll see what we can do.”</p>

<p>“Yeah! And you can taunt him about Alex stomping his son’s friends into the dirt.”</p>

<p>Sirius stopped so quickly, Tonks was forced to spin around to face him.</p>

<p>“<em>What</em>?” he said.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Virgo was not in a good mood. He’d been summoned to the headmaster’s office the previous night, along with his new older brother. Once there, Narcissa had told them both that their father was currently in a ministry holding cell and that if anyone asked them, that it was, ‘an outrageous miscarriage of justice, that would soon be cleared up.’</p>

<p>Apparently, his simple request had turned out to not be so simple.</p>

<p>Add to that the fact that John Potter was still brushing off his every attempt to make nice with him, and Virgo was more than a little annoyed.</p>

<p>But he didn’t have the time to just wait around for Lucius to be released, so, while the boys were engaged in a rather rowdy chess match, he’d sat in a corner of the Gryffindor common room, thinking deeply until he’d come up with a possible solution to his Harry Potter problem.</p>

<p><em>Your Hairy Potter problem. </em>Julia sniggered.</p>

<p><em>You know,</em> he thought back, <em>for an eleven year old, for whom English is their second language, that was a surprisingly impressive bit of wordplay.</em></p>

<p><em>Thank you.</em></p>

<p><em>But if you do it again, I will torture us.</em></p>

<p><em>Not right now you won’t.</em></p>

<p>Virgo sighed and continued to make his way down to the dungeons, his senses on high alert for any kind of ambush. Quickly in and quickly out, that was the way. After a few minutes of wandering, he ducked into an alcove, took out a polyjuice potion, and gulped it down.</p>

<p>The effect was fast and immediate. He gained a couple of inches in height, his hair shortened — turned black, his muscles got a little firmer, but apart from that, there wasn’t too much difference without a mirror — except for the obvious big difference, naturally.</p>

<p><em>Hey! We have a boy’s thing! You didn’t tell me we were going to do that!</em></p>

<p><em>Oh, shush,</em> he thought back. <em>I’ve had to put up with being in a girl’s body for months now. You can deal with being in a boy’s for an hour. Why do you think I dressed in unisex robes?</em></p>

<p>Virgo ignored Julia’s grumbling answer, choosing instead to walk up to a row of armour standing next to a picture of a wardrobe, took off his witches hat, and placed it on the third suit of armour down the line.</p>

<p>The wardrobe picture swung aside, leaving a hole large enough for a wizard to climb through.</p>

<p>Virgo smoothed his now-messy hair over the spot where Harry Potter’s scar <em>would</em> be, if it had been Harry Potter’s hair he’d used in the potion. He then climbed inside. What lay beyond was just like he remembered it from all those years ago. A large stone-floored space held dozens of massive copper tubs, all full of gently steaming water. Piles of clothes lay everywhere. Huge spoons were mixing sparkling powders in the air above. And even as Virgo finished his sweep of the room, another load of clothes fell onto the main pile via a massive pipe in the ceiling.</p>

<p>The Hogwarts Laundry.</p>

<p>A dozen eyes turned to him.</p>

<p>Oh, yes, also house elves. Lots of house elves.</p>

<p>One of them squeaked, “John Potter!” and moments later a half dozen of the little wretches were clustered around him.</p>

<p>“<em>Actually</em>, I’m <em>Harry</em> Potter.”</p>

<p>The excited squeaking died down a little, but not by much.</p>

<p>“Harry Potter. Yes, Harry Potter, sir. What is you be wanting here, sir?”</p>

<p>“I left something in my clothes that I need, can I get them?”</p>

<p>“Yes, sir, Harry Potter, sir!”</p>

<p>Moments later a large bundle of clothes was thrust into his arms. He looked down at the beaming faces. “A little privacy?”</p>

<p>“Yes, sir!”</p>

<p>They scattered.</p>

<p><em>I can’t believe they bought that,</em> Julia thought.</p>

<p><em>That’s because they’re brainless idiots</em>, he thought back.</p>

<p>Now left alone, Virgo ducked behind a large vat and started carefully going through the bundle. If Potter’s clothes did indeed have some kind of hidden anti-summoning enchantments or runes on them, then he’d just need to do it by hand. It was the kind of thing someone who’d been used to magic all their lives would never think to do.</p>

<p>It took ages, but he was not about to give up. Quite a bit later, Virgo smiled in triumph, tweezing a single black hair from one of the hoods.</p>

<p>Smiling, he left the laundry, and was just closing the painting behind him, when he felt the change. His hair was starting to grow and his skin starting to bubble. Virgo swore. That had been close. Far too close. And he’d been so engrossed in finding Potter’s hair that he’d lost track of time. Not good.</p>

<p>He quickly marched through the labyrinthine dungeons, and was nearing the stairs to the upper floors, when a shiver shot down his spine.</p>

<p>Danger.</p>

<p>He felt a large pulse of magical power, a hand from nowhere grabbed his throat, pain shot through the back of his head, and the next thing he knew, he was pinned up against the wall, held there by a grown woman in a mask. He hadn’t even had time to reach for his wand.</p>

<p><em>Oh, god, oh no, oh please!</em></p>

<p>Virgo swore. He’d messed up. “Wait!” He’d been alone too long. “Please!” He wriggled in the woman’s grip, but he might as well have been a worm wriggling in the beak of a bird.</p>

<p>“I will wait,” the woman said in a sing-song voice.</p>

<p>The word ‘fucktoy’ flashed through Virgo’s mind before it was ripped apart, tossed aside in the quickly surging panic, and just as quickly forgotten.</p>

<p>“What do you want?” he gasped out.</p>

<p>“Your death.”</p>

<p>“How… how about money, instead? My father—”</p>

<p>“—No. Not money.” The woman giggled. “But I <em>do</em> know something I <em>would</em> like to have. Something I’ve wanted for a long time.”</p>

<p>And then Virgo felt something slam against his occlumency barriers like a tidal wave against a wooden fence. It ripped into his essence and ploughed straight into his memories — memories that flashed across his vision like a muggle movie on fast forward, but the memories shown were not his. A Christmas in the snow. Swimming in the summer Baltic.</p>

<p><em>Stop! Please! It hurts! </em>Julia cried.</p>

<p>And suddenly, the assault stopped. Whatever his attacker had expected, it probably hadn’t been this.</p>

<p><em>There isn’t enough room in here for three of us! </em>Julia shouted. <em>It hurts!</em></p>

<p>The legilimency battering ram hesitated, then withdrew sharply, leaving Virgo gasping, still being choked by the neck in the woman’s iron grasp.</p>

<p>The woman stood as still as a statue.</p>

<p>Virgo gradually got back control of his breathing and stared back into the woman’s mask, desperately trying to look as small and helpless as possible.</p>

<p>For what felt like forever they just stood there, the woman making no move either to continue her murder or to retreat. She was obviously thinking hard about what had just happened.</p>

<p>And then, like a relieving force’s trumpet blast to a castle under siege, Virgo heard it. Footsteps. Rapidly approaching footsteps.</p>

<p>The masked witch obviously heard them too. She glanced in their direction before releasing her grip on Virgo’s neck and sprinting off down the passageway in the opposite direction.</p>

<p>Virgo slid down the wall until he was just a puddle on the floor. Death. His death. It had been so close. <em>Again</em>. He was a horcrux, not the original. If he died, that was it.</p>

<p>“Miss Malfoy?” A shocked voice said.</p>

<p>Virgo looked up. Lady Lily Potter was standing in the doorway to the stairs. A plan rapidly formed in Virgo’s mind. He calculated the time between when he’d changed from Harry Potter into Virgo Malfoy. He analysed every bit of the encounter for anything that might compromise his position in a memory, and found nothing. Then he tossed all that aside and let his emotions crash through his occlumency barriers, giving Julia as much free reign into his consciousness as she might wish.</p>

<p>This at least, wouldn’t take much acting.</p>

<p>“Professor!” Both he and Julia simultaneously burst into tears. “I was so scared!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In Transfiguration class, Professor McGonagall was frowning with the air of a drill sergeant who has discovered a scuff on one of his usually most reliable soldier’s shoes.</p>

<p>“Miss Granger, this is quite below the standard of work I’ve come to expect from you.”</p>

<p>“Sorry, Professor,” Hermione said in a meek voice.</p>

<p>Harry watched carefully from a few seats away. All this wasn’t unexpected. It was all he could do to maintain his own control over his magic. That the girls were having difficulty was to be expected.</p>

<p>“And I see your notes aren’t quite as neat as normal, either.”</p>

<p>“I’m just feeling a bit off, Professor.”</p>

<p>Harry mentally winced. That hadn’t been the best excuse.</p>

<p>“Really?” McGonagall raised an eyebrow. “Perhaps you should go to the hospital wing.”</p>

<p>“Oh, no, Professor, I’m sure I don’t need to do that. I don’t want to miss class. It’s fine, really.”</p>

<p>“If you’re sure.” The Professor walked away.</p>

<p>Harry kept a careful eye on the teacher after that. This was the transfiguration Professor, after all. If anyone would suspect something, it would be her — and indeed, some minutes later, when Hermione tripped on her way to hand in her homework…</p>

<p>“Accio mandrake leaf,” McGonagall snapped.</p>

<p>Nothing happened. Surprise flashed across the usually stern face.</p>

<p>Hermione put on a hurt expression. “Professor?”</p>

<p>The surprise quickly gave way to a mild fluster. Usually stern eyes quickly travelled between her wand and around the classroom, not meeting Hermione’s. The Professor pursed her lips. “My apologies, Miss Granger,” she said in a clipped voice. “I should have known you would never be so foolish as to experiment with advanced level transfiguration without telling me first.”</p>

<p>“I don’t understand, Professor.”</p>

<p>Harry smiled. <em>Much</em> better.</p>

<p>The class was then treated to an impromptu lecture on the animagus transformation, how dangerous it was, and how any student caught trying it without supervision would be in big, big trouble.</p>

<p>Harry filed out of class at period’s end to find Luna waiting for him right outside the classroom door. They quickly found an empty spot to talk.</p>

<p>“My lord, we might have a problem.”</p>

<p>“Go on, Luna.”</p>

<p>Luna then proceeded to tell him all about the confrontation she’d just had with Virgo, and the fact that the muggleborn girl used for the ritual <em>wasn’t</em> dead, like they’d thought, but was, in fact, still <em>in</em> there.</p>

<p>Harry sighed. “I really wish you hadn’t learned that.”</p>

<p>“Me too.” Luna was actually looking uncertain. Harry didn’t think he could ever remember a time when Luna looked uncertain.</p>

<p>“This is… inconvenient.”</p>

<p>“Yes, Harry. I’m sorry, Harry.” Luna suddenly looked close to tears.</p>

<p>“Hey, Luna,” Harry said softly. “It’s okay, you know.”</p>

<p>“It’s <em>not</em> okay! I inconvenienced you!”</p>

<p>“<em>Luna</em>.” He switched to a firmer voice. “I need you to be strong.”</p>

<p>And just like that, the tears stopped. Wow.</p>

<p>“My lord?”</p>

<p>“Here’s what we are going to do. Stop all attempts on the diary for the moment. I don’t know how <em>exactly</em> to separate a parasite from a normal soul, but I know the basic theory, and I should be able to figure out the <em>how</em> with some experimentation. It’s something I needed to do eventually anyway, so it’s not even that much of a bother.” He tapped his scar.</p>

<p>Luna looked incredibly relieved. “Yes, my lord.”</p>

<p>“And if we can’t figure out how to free her within a reasonable period of time, then we bite the bullet and destroy it anyway.”</p>

<p>“Yes, my lord.”</p>

<p>“But it shouldn’t come to that.”</p>

<p>“Yes, my lord.”</p>

<p>“Don’t discuss this with Ginny until I’ve had a chance to talk to her myself.”</p>

<p>“Yes, my lord.”</p>

<p>“How are your animagi mindscapes going by the way?”</p>

<p>“Ginny’s is coming along well. She says she’s starting to feel the native landscape. Mostly grassland. And it’s very hot, apparently.”</p>

<p>“And yours?”</p>

<p>Luna dabbed at a stray tear from her eye with a lace handkerchief and smiled. “Can I keep it a secret, my lord?”</p>

<p>“Why?”</p>

<p>“I want it to be a surprise. A big, <em>big</em> surprise.”</p>

<p>Harry gave Luna a cautious look. “How big of a surprise are we talking here?”</p>

<p>“Big.”</p>

<p>“You already know what your animagus form is.” It was a statement rather than a question.</p>

<p>Luna nodded. “The Lovegoods have a family ritual that lets us choose our form before we master it.”</p>

<p><em>That</em> was interesting information. “At what cost?”</p>

<p>“Your <em>true</em> form. The form that is really you.”</p>

<p>That didn’t sound <em>too</em> bad, Harry thought. Although he could imagine it might cause some slight personality shifts.</p>

<p>“That’s okay, isn’t it?” Luna asked.</p>

<p>Harry hugged her, on the basis that you couldn’t really go wrong with a hug where Luna was concerned. “Yes, it’s fine. C’mon, let’s go to lunch.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Before this month, it had been a long time since Virgo had been in the headmaster’s office. In his time, of course, it had been Headmaster Dippet’s office, who’d been rather sparing in his furnishings. Virgo didn’t even want to start imagining what kind of lunacy Dumbledore’s office had contained, but whatever it <em>had</em> looked like, even Dumbledore’s furnishings couldn’t have been as bad as <em>this</em>.</p>

<p>“Don’t you worry about a thing, Miss Malfoy,” Headmaster Lockhart said with a beaming smile plastered all over his oh so punchable face. “You’re perfectly safe now. I give you my personal word. The head of the DMLE will be here soon — a close personal friend, you know. She asked my advice on how to improve the department not too long ago — naturally I couldn’t say no to supporting our brave boners.” He gave him a roguish wink. “Only don’t tell her I said that. She can be a bit sensitive about that nickname.”</p>

<p>Virgo smiled weakly. He was sitting in one of the office’s many hardback chairs, trying to look how he imagined an eleven year old girl who’d just been the subject of a murder attempt would look — something Julia was, for once, being very helpful with. All around him, a dozen Lockharts all beamed down at him. Some were even sharing painting space with the various past headmasters of Hogwarts. The previous headmasters did not look happy about this. Phineas Black, in particular, looked like a man under incredible strain, barely keeping his cool. This didn’t surprise Virgo in the slightest. The headmaster clearly had his head so far up his own arse, it was amazing there was enough room for a puppeteer as well.</p>

<p><em>I think he’s rather dashing,</em> Julia thought in a quiet voice, as Lockhart went back to his desk, and continued with whatever he’d been doing before Lily Potter had marched them in, given the headmaster a quick explanation, and flooed to the ministry.</p>

<p><em>Dashing?! </em>Virgo thought back.</p>

<p><em>He does have a nice smile.</em></p>

<p><em>It takes a lot more than a nice smile to make a great wizard.</em></p>

<p><em>Yes, but the nice smile helps. And at least he’s trying to be reassuring.</em></p>

<p><em>I can see how it might be reassuring to an eleven year old girl.</em></p>

<p><em>We </em>are<em> an eleven year old girl.</em></p>

<p><em>No, </em>you<em> are an eleven year old girl. </em>I<em> am a sixteen-year-old Dark Lord.</em></p>

<p><em>I thought you were supposed to be a Dark Lady now.</em></p>

<p><em>Dark — Lord, </em>he thought, with a firmness that brooked no argument.</p>

<p><em>Fine, </em>Julia thought, now sounding petulant.<em> I’ll be the Dark Lady then.</em></p>

<p><em>Dark Ladies do not burst into tears just because someone tries to kill them.</em></p>

<p>That, apparently, had been the wrong thing to think, because Julia burst into mental tears again, and Virgo was unable to stop them welling up in his actual eyes and streaming down his face.</p>

<p>It was another five minutes before the floo flared green, by which time, Julia had dried up and started to petulantly annoy him again, safe in the knowledge that he couldn’t torture himself <em>here</em>.</p>

<p>Four people stepped through. The first two introduced themselves to her as Regent Amelia Bones, head of the DMLE, and Lord Sirius Black, Chief Auror. The other two were Lily Potter, and finally…</p>

<p>“Father!” Lord Malfoy had apparently already been released from his ministry cell. Virgo looked up and attempted to look panicky. He had only one chance to deliver the message he needed Lord Malfoy to receive and he had to get it right. “Please don’t be angry with me. I didn’t mean to go to Gryffindor. It was an accident!”</p>

<p>Lucius looked shocked, but damn, the man was quick on the uptake. The shock instantly faded, replaced by arrogant disdain. “Virgo!” he snapped. “We will discuss your <em>failings</em> later, but now I want to know why I was called here.”</p>

<p>“Failings,” Black muttered darkly, not quite under his breath.</p>

<p>Lily Potter filled everyone in on what Virgo had told them happened, which was a perfectly accurate account of the attack, minus anything to do with Julia. Regent Bones took a copy of her memory of the event and stoppered it into a small bottle. “It’s outrageous!” she ranted. “Disguised assault with declared intent to kill in Hogwarts! If I could, I’d pull every student in for veritaserum!”</p>

<p>“Oh, surely it’s not <em>that</em> bad,” Lockhart said. “The assailant didn’t actually try to hurt her, did she?”</p>

<p>“Mental assault,” Black countered.</p>

<p>“Which is not actually against the law,” Lucius said, smoothly.</p>

<p>“Father?”</p>

<p>“I mean, I can’t see any actual harm done. Children fight all the time.”</p>

<p>“You weren’t there, father! You didn’t feel how powerful she was! How intent she was! She <em>was</em> going to kill me. You won’t feel that in a memory.”</p>

<p>Lucius looked down at him and sneered, and inside the privacy of his skull, Virgo couldn’t help but bask in just how good this man was at this. Not for nothing was he the leader of the Dark in the absence of his older self. “I’m sure that your <em>Gryffindor</em> friends will look after you,” he said.</p>

<p>Lily Potter snapped. “You horrible, <em>horrible</em> man! Your own daughter was attacked! Don’t you care?”</p>

<p>“I’m sure, <em>Lady</em> Potter, that my daughter can handle herself quite well without my help. Now if you will excuse me, I have pressing matters to <em>deal</em> with. Headmaster. Lord Black.” He turned to Sirius, gave him a respectful nod, then turned in a swirl of robe, and left via the floo.</p>

<p>Black stared, wide-eyed at the now-empty fireplace, while Virgo made to curl in on himself, causing Lily Potter to sit down and put a comforting arm around his shoulders. “Amelia, we have to <em>do</em> something,” she said.</p>

<p>“Yes, I quite agree.” Regent Bones nodded. “That man is just as despicable as ever.”</p>

<p><em>Maybe John Potter and Susan Bones should take care of her, </em>Julia thought in a sarcastic tone of voice.</p>

<p>“Maybe John and Susan could take care of her?” Lady Potter suggested.</p>

<p>“A <em>wonderful</em> idea, Lily.”</p>

<p>If it hadn’t been so out of character, and if he’d actually been capable of it, Virgo would have purred.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“I think you’re being too harsh on Virgo, John.”</p>

<p>Susan was sitting with John at the far end of the Gryffindor table in the Great Hall, instead of at her usual place at the Hufflepuff table. Lunch was busily going on all around them.</p>

<p>“I’m just not comfortable with her,” John said, shifting uneasily.</p>

<p>“Why? Because she’s a Malfoy?”</p>

<p>“Well, yeah.”</p>

<p>“But she was raised a muggle. She’s practically muggleborn.”</p>

<p>“She sure doesn’t <em>act</em> like it.”</p>

<p>“Won’t you at least try? For me?” She gave him badger eyes — large, friendly, and strategically adorable.</p>

<p>John sighed. “Okay, fine, but I think you’re blowing this out of all proportion.”</p>

<p>Susan punched the air in victory and grinned before turning back to her food.</p>

<p>John looked over towards the Slytherin table. There had been changes. Alexandra Black now sat in a prominent position near the head of the table. He couldn’t help wonder if she’d be in the duelling tournament this year. His eyes flicked to the other end of the table and his stomach clenched as it did every time he looked in that direction. Ginny shouldn’t be in Slytherin. She should be here with him. And was it just him or did she look more subdued than normal? His eyes narrowed. Was something going on? Were the Slytherins mistreating her? Was Harry… <em>doing</em>… <em>something</em>?</p>

<p>“John, Susan?”</p>

<p>“Yes, Lady Potter?” Susan asked.</p>

<p>John tore his gaze away to turn towards his mum.</p>

<p>“Please follow me, immediately.” She sounded rather serious.</p>

<p>They both nodded and together the three of them left the hall and headed up a set of staircases that John knew headed towards the headmaster’s office.</p>

<p>“What’s this about, do you think?” Susan whispered from where they walked behind John’s mother.</p>

<p>“No idea,” he whispered back.</p>

<p>They soon found out.</p>

<p>Virgo Malfoy sat on a chair in front of them looking nervous — none of her usual arrogant haughtiness.</p>

<p>“Someone tried to kill you?” Susan looked horrified.</p>

<p>Virgo nodded.</p>

<p>John’s jaw had dropped. Seriously? Someone had actually tried to commit murder in Hogwarts? <em>Who</em>? But… he already <em>knew</em> who. This was the second year after all. There could only be one possible candidate. And Virgo was a muggle-raised in Gryffindor — she’d be a <em>perfect</em> target for… “The heir of Slytherin.”</p>

<p>Everyone stopped talking. Every head in the room turned towards him — Virgo, Susan, his mum, as well as Headmaster Lockhart.</p>

<p>There was a moment of silence. Then…</p>

<p>“Who?” Susan asked.</p>

<p>His mum gave him an odd look. “I haven’t heard anything about Lord Slytherin having children.”</p>

<p>“Um…”</p>

<p>Virgo was just staring at him with an unreadable expression on her face.</p>

<p>John started rapidly backpeddaling. “I mean, it’s just the kind of thing Slytherin would do, right? He’s never up to any good.”</p>

<p>Lily Potter sighed. “John, you can’t just go around making accusations like that. In any case, Susan’s aunt and I… we want you both to look out for Virgo here — take responsibility for her — make sure nothing else happens. I know that you aren’t in the same year, but try to stick together as much as you can.”</p>

<p>Susan beamed. “Yes, Lady Lily.”</p>

<p>“But…” John began, and from the tone of his voice it was clear he was about to voice a complaint.</p>

<p>“John,” Lily said, sharply, cutting him off. “A word.” She pulled him to one side and whispered fiercely into his ear. “Virgo just had a terrible experience, and her father all but abandoned her when she needed him — abandoned her because she’s a <em>Gryffindor</em>. You remember what happened to your godfather, yes?”</p>

<p>John’s eyes widened. He nodded.</p>

<p>Lily’s voice softened. “Then I can rely on you to be my little hero, yes?”</p>

<p>“Yes, Mum.” There wasn’t really much else he could say.</p>

<p>“Good.”</p>

<p>When the two of them got back to the Gryffindor common room later that evening after classes, John formally brought the Malfoy girl into his circle of friends who always occupied the central position by the fireplace, getting quite a few odd looks from Ron, Seamus, and Neville, as well as the other girls. Virgo didn’t speak much for the rest of the evening, but when they were standing up to head off to bed, she caught him by the sleeve and asked if they could have a quick word alone. She then thanked him for helping her and asked about Ginny Weasley.</p>

<p>“What about Ginny?” he asked, suspiciously.</p>

<p>“You seem very attached to her.”</p>

<p>“I love her.”</p>

<p>“But she doesn’t love you back?”</p>

<p>“Harry <em>did</em> something to her.” He was having a hard time keeping a civil tone of voice.</p>

<p>Virgo put her hands behind her back. “You’re helping me, John Potter. Maybe I could try and help you?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In Potter Manor, Sirius Black was gazing into a glass of brandy that James Potter had just handed him.</p>

<p>“What’s wrong, Sirius?” James said, now pouring himself a glass.</p>

<p>“Malfoy was <em>polite</em> to me, James! Polite! Me! What did I ever do to deserve that!? I’d just hauled his arse out of a cell! He’s facing court proceedings that could last months, and he was <em>polite</em> to me!”</p>

<p>James gave his friend a sideways glance. “Well, what do you expect? With what Alex has been up to.”</p>

<p>“I hardly think, ‘beating up his son’s friends,’ counts as a reason to be polite.”</p>

<p>James took a sip from his glass. “Padfoot, have you <em>seen</em> the memory?”</p>

<p>“No?” Sirius sat up higher in his chair. “Have <em>you</em>?”</p>

<p>“I should think that by now just about every wizard with a pensieve in Great Britain has seen it — and probably plenty of those who don’t.”</p>

<p>“Everyone except me,” Sirius grumbled.</p>

<p>“Well, let’s fix that right now.” James put down his drink and called a house elf to fetch the family pensieve.</p>

<p>Fifteen minutes later, Lord Sirius Black emerged from the pensieve, white-faced and sweating. “Alex! What the hell!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The next fortnight was not easy for Ginny Weasley. The revelation that the thing she’d done her level best to destroy had had a real person trapped inside it troubled her as much as her inability to carry out the deed in the first place.</p>

<p>The other girls had all reacted with similar levels of disquiet — although, having said that, Alexandra, Daphne, and Hermione all had so much going on in their own projects that she doubted they’d spent nearly so much time obsessing over it as she had.</p>

<p>Alexandra in particular had it difficult, since she was disconnected from Harry and the rest of them except during group combat training. Apparently she’d had a rather intense confrontation with her father on the weekend after their combined stunt in the Slytherin common room, which had only been diffused, somewhat, when Harry stepped in and had a private word with Lord Black. Exactly what had been said though, Ginny didn’t know.</p>

<p>Just about the only time Ginny was able to disconnect from her full-blown early-life crisis was during quidditch training — an interesting experience under the influence of mandrake leaf. At one point, a spell of dizziness had hit her at just the wrong moment and she’d thrown the quaffle right into Malfoy’s face. It was lucky the rest of the team thought she’d just been being her usual vicious self.</p>

<p>It was the Thursday just before Daphne’s birthday weekend when Ginny found herself trudging her way into the Slytherin common room, mentally exhausted from fighting against not only gale force winds, but also her own magic, which at that moment had been insisting that she wasn’t even human. She made her way down the stairs and flopped onto her bed without even taking off her quidditch robes.</p>

<p>Darkness fell…</p>

<p>…And her dreamscape opened.</p>

<p>Ginny looked around. Baked grassland stretched out in all directions. Mountains squatted in the distance, but they were so far away as to be mere dark blueish shapes against a brilliantly blue sky.</p>

<p>A warm breeze blew.</p>

<p>Relaxing. A break from her troubles.</p>

<p>An impulse flashed through her. It came straight from the magic whirling through her like a whirlpool in a bottle. She didn’t fight it, like she did on her Nimbus 2001. Not here. She instead raised her hands like an orchestra conductor and a tree started growing next to her, trunk thrusting up through the dry ground, up into the air, before spreading out a wide canopy of thorny leaves.</p>

<p>Ginny tried to twitch an ear that couldn’t twitch.</p>

<p>She then climbed the tree. It wasn’t easy without claws — the tree’s trunk didn’t provide many handholds — but she managed it, eventually settling herself into a crook between the trunk and one of the lower branches.</p>

<p>It was relaxing up here too.</p>

<p>Ginny licked the back of her hand and grinned impishly.</p>

<p>Definitely a cat then.</p>

<p>She pursed her lips.</p>

<p>And of course, the thing about cats, was that they were cold-blooded killers.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>At breakfast in the Great Hall, Virgo Malfoy watched the Slytherin table like a hunter waiting for the telltale rustle of leaves. The hate potion was finally ready and keyed to Harry Potter. John Potter knew Virgo was going to try <em>something</em>, even if he’d spared him the exact details. Everything was set.</p>

<p>“I can’t tell if Snape’s worse in Potions or Defence,” Ronald Weasley complained to John. “My arm still stings from when Bulstrode got me.”</p>

<p>There. Ginny Weasley and Luna Lovegood had just entered from the small side door leading to the dungeons. Virgo’s gaze tracked them as they walked up the table and sat down a little way away from Harry Potter.</p>

<p>“I heard Lockhart say he was going to arrange for trick or treating this Halloween.”</p>

<p>“Eh? How’s that going to work?”</p>

<p>“No idea.”</p>

<p>Harry Potter was deep in conversation with the Davis heiress and didn’t seem to be paying the two younger girls any mind. Perfect.</p>

<p>“Johhnnn,” sang a female voice. “Could you ask your mum to give us a hint on what’s coming up on the next potion’s test?”</p>

<p>“Lavender, if I tried that, I’d be grounded for a month.”</p>

<p>“Aww.”</p>

<p>Ginny Weasley and Luna Lovegood both loaded up their plates with food and cast several detection spells on both their food and drink with a practiced ease uncommon among first-year students.</p>

<p>Virgo’s eyes flashed. Now.</p>

<p>He reached into the bag by his feet and drew out a small amount of the potion. Hidden under the table, he waved his wand over the tiny vial in several complicated gestures that <em>very</em> few wizards would be able to pull off, levitated the liquid out of the glass, and then transfigured the magically powerful liquid into a beautiful butterfly.</p>

<p><em>Pretty.</em></p>

<p>Several more wand waves cast both silencing charms, and disillusionment charms over it. Then, finally, he jabbed the wand at the insect and whispered, “imperio.”</p>

<p>His world shifted into two places at once.</p>

<p><em>Ooooooooooo… </em>thought Julia.</p>

<p>He flapped his wings and climbed his way up from under the table, up and out across the great hall, looking down on the mass of black-clad students below through four different eyes and over six thousand lenses.</p>

<p>He flittered over to the Slytherin table and flapped near the Weasley’s glass, waiting for that perfect moment just before the magic of the transfiguration would run out. Now.</p>

<p>He stopped beating the butterfly’s wings and let it drop into the pumpkin juice with just the tiniest of ripples to announce his arrival. The transfiguration magic wore out and he was kicked out of a head that was no longer a head.</p>

<p>Virgo shook his own head slightly to shake the feeling that he should be eating his breakfast through a straw in his tongue.</p>

<p><em>That felt weird,</em> Julia thought.</p>

<p><em>Indeed</em>, he thought back. <em>And now, we wait.</em></p>

<p>The two Slytherin girls continued their breakfast for a little while longer, chatting and laughing among themselves, and then…</p>

<p>Virgo gripped the edge of the table in frustrated disbelief.</p>

<p>…The two girls grabbed <em>each other’s</em> drinks, toasted something, he couldn’t tell what from over here, and drank each other’s glasses dry.</p>

<p>Fuck!</p>

<p><em>At least you got the whore,</em> Julia thought.</p>

<p><em>I don’t want the whore! </em>He thought back.<em> And she’s noble! It won’t work on her anyway! I’ll have to try again, but I don’t have any more of the potion on me. I’ll have to wait until tomorrow.</em></p>

<p>Virgo put his elbows on the table with his hands under his chin and pouted.</p>

<p>“Cheer up, Virgo.” Susan Bones sat down beside him. “Herbology today for first years. You'll enjoy that!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Ginny and Luna quickly made their way through the corridors towards a quiet spot they knew they wouldn’t be overheard.</p>

<p>Ginny was fuming. How <em>dare</em> that bitch! How <em>dare</em> she! Of <em>course</em> she and Luna had sensed a transfigured butterfly loaded down with so much magic! They could feel and identify magical intent in the tip of an opponent’s wand in a Merlin-damned duel!</p>

<p>And even if it <em>had</em> got through, a hostile hate potion now had about as much chance of fulfilling its ultimate task of getting her to hate the target as it did for Luna, but that wasn’t the point! It was the principle of the thing. Virgo had tried to rip her away from Harry! Fuck that bitch!</p>

<p>If there wasn’t an innocent girl trapped in there with her, she’d… she’d… Gah!</p>

<p>“What do you want to do?” Luna asked when they finally finished casting all their standard security spells including a fidelius sweep check.</p>

<p>“What do <em>you</em> think we should do?” Ginny asked back.</p>

<p>“Not much we can do unless she tries again — apart from tell Harry.”</p>

<p>“And if she <em>does</em> try again?”</p>

<p>“We could pretend it worked?”</p>

<p>“Why?”</p>

<p>Luna shrugged. “It would stop her trying again.”</p>

<p>“I don’t want to pretend to hate Harry.”</p>

<p>“We could let you drink the actual thing. Virgo would know then that it doesn’t work.”</p>

<p>“That’s even worse! I don’t want to be magically forced to <em>actually</em> hate Harry either! Even if it <em>won’t</em> have any long-term effects. What about the law?”</p>

<p>“Unless we caught her administrating the potion itself, I don’t see how that would help. She’s sure to be careful enough not to get caught.”</p>

<p>“Why’s she doing it anyway?” Ginny asked. “What’s her goal?”</p>

<p>Luna frowned. “I don’t know.”</p>

<p>Ginny stared at her best friend. “I thought you knew everything.”</p>

<p>Luna giggled.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In the classroom that played host to the Founders club, the second-year muggleborns—Sophie Roper, Justin Finch-Fletchley, Dean Thomas, and Kevin Entwhistle—couldn’t help feeling that something had been decidedly off about Hermione over the last few weeks.</p>

<p>“I saw her skipping the other day,” Dean Thomas said. “Does Hermione seem to you like the kind of girl who skips?”</p>

<p>“Not really,” Sophie said. “Kevin?”</p>

<p>Kevin grunted. “Annabel told me Hermione’s been a lot more approachable recently. Which is odd, because I’ve felt the opposite.”</p>

<p>“You noticed that too, did you?” Dean asked.</p>

<p>Sophie shrugged. “She seems fine to me.”</p>

<p>“Maybe we’re just imagining it then,” Justin suggested. “Anyone had any luck with their parents on the guardianship thing?”</p>

<p>They all shook their heads.</p>

<p>“My Mum told me not to concern myself with things like that,” Sophie said sounding despondent. “Even though I explained everything <em>very</em> carefully. It’s frustrating. She doesn’t seem to understand how bad our position is.”</p>

<p>At that point, the door opened and Hermione trotted in with the first-year muggleborns in tow. “Good evening, everyone!” She beamed.</p>

<p>The Chesterfield twins, Violet and Marigold, made immediately for the chairs at the front of the room and sat down patiently waiting for Hermione to start, followed shortly thereafter by Annabel Entwhistle, Colin Creevey, and Alan Gage. Colin still had his camera around his neck, although he had been ‘subtly’ persuaded not to take photos of Founders club meetings.</p>

<p>The second years all waved and turned around in their seats to get back to work on their occlumency training. None of them noticed Hermione stumble on her way to the podium, clutching her head as a random wave of mandrake-leaf-induced dizziness swept over her.</p>

<p>The first years did notice. It would be hard to miss.</p>

<p>“Are you okay, Hermione?” Marigold asked, looking concerned.</p>

<p>“Perfectly.” Hermione coughed before a small smirk graced her lips. “But enough <em>horsing</em> around — let’s begin our next lesson.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><em>You don’t think they knew what you were trying to do, do you?</em> Julia asked in Virgo’s head.</p>

<p>They were sitting, once again, at the Gryffindor table, scanning the Slytherin table as best they could through the Hufflepuffs and Ravenclaws for their targets.</p>

<p>Virgo scoffed. <em>Of course not. How would they do that? They are children.</em></p>

<p>Julia mentally shrugged.</p>

<p>Ginny Weasley and Luna Lovegood were eating breakfast with a speed that suggested they had other places to be. Unlike most of their classmates, who seemed to be trying to outdo each other in terms of pureblood refinement and stoicism, these two just did not seem to give a damn. Lovegood had her wand stored <em>behind her ear</em>, while Weasley was dressed in what looked to him like rags, but which he knew from Julia were, in fact, clothes muggles used for exercising — very different from the clothes muggles in his own time used.</p>

<p>At that moment, Luna Lovegood—the whore—stood up and walked away from the table. Well, that would make everything <em>much</em> more reliable.</p>

<p>Virgo slipped out a second dose of hate potion from his bag, pointed his wand under the table, ignoring the ruckus caused by the Weasley twins’ efforts to prank their younger brother with a toy spider, and began the wand motions for the butterfly transfiguration.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Ginny Weasley glared down the Gray side of the Slytherin table. All the meat had gone. Sausages, bacon, eggs, hams, salmon — between them, Harry, Daphne, Luna, and herself had wiped the large serving platters clean of the lot of them. Luna and Harry in particular had ripped through a freakishly large breakfast with a speed that caused their older classmates to stare.</p>

<p>Thank Merlin all this animal behaviour awkwardness would dampen down considerably once they were all done.</p>

<p>Of Harry’s girls (as Ginny had starting thinking of themselves), only Hermione wasn’t fighting for the proverbial cow like piranhas at a feeding frenzy. <em>Her</em> plate contained mostly vegetables and grains, although she did currently seem to have a thing for apples.</p>

<p>Ginny glanced at the Gryffindor table and took a sip of her pumpkin juice.</p>

<p>And of course, she was no closer to making a decision about what she wanted to do about her training. She still wasn’t sure. What if Harry needed her to kill someone and she froze up again? The diary had been easy to think about destroying, because of what it was, but what if she eventually needed to kill a real person? Would she be able to do that?</p>

<p>Ginny took another sip of pumpkin juice and a wave of dizziness swept over her. Oh, Merlin. She put the glass down and gripped the edges of the table as her whole world went spinning. An overwhelming feeling of cat filled up her senses… and nothing else.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><em>Banzai!</em> Julia shouted as Virgo directed the disillusioned butterfly straight into Weasley’s cup.</p>

<p>The transfiguration ended and half of Virgo’s world snapped back into one.</p>

<p>Virgo smirked. <em>My</em>, <em>we </em>are<em> enthusiastic this morning, aren’t we?</em></p>

<p><em>Yes, we are,</em> Julia thought back.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Harry quickly noticed something was wrong. It would be hard not to when one of the girls he very definitely counted as a close friend marched up to him, grabbed him by an ear, and proceeded to attempt to pull him out of the great hall. He went along with it, getting quite a few giggles from the older female population as he went by. Presumably the hate potion Virgo had been trying to slip Ginny had somehow got through.</p>

<p>“Stop fighting you manipulative bastard!” Ginny snarled at him.</p>

<p>Harry wasn’t fighting it.</p>

<p>“Five points from Slytherin for inappropriate language!” Professor Sprout shouted from the high table as they left.</p>

<p>They stopped in one of the corridors outside the hall. “How’s it feel?” Harry asked.</p>

<p>“Horrible. I can see everything clear as day. Your manipulativeness, your calculation, the way you don’t care about anyone that you don’t consider to be <em>yours</em>.”</p>

<p>Harry nodded.</p>

<p>“And the way you just calmly accept all that!” she added.</p>

<p>“Better than screaming. And what do you think about all that?”</p>

<p>Ginny glared. “<em>Obviously</em>, I know it all already! I <em>like</em> your cunning, and don’t give two shits about the other stuff. But this potion. Gurhhh! Hatred, but for no reason. It’s dumb.” Her voice dropped to a growl. “I <em>wanted</em> to hate John. I don’t want to hate you.”</p>

<p>Harry glanced over her shoulder. “Don’t look now, but Virgo just turned the corner.”</p>

<p>The growl in Ginny’s voice turned to a snarl. “Perfect. Let’s do it <em>now</em>.”</p>

<p>Harry shook his head. “The girl, Ginny. Besides, John’s with her.”</p>

<p>Ginny fell silent but didn’t turn around.</p>

<p>“Miss Weasley?” Virgo called out as she approached. “I wonder if I might have a word with you?” She gestured towards Harry. “Away from… <em>him</em>.”</p>

<p>The slap echoed around the empty castle hall like a whip crack, and arrived at its target just about as fast.</p>

<p>Ginny Weasley had covered the distance between herself and Virgo in a blink of an eye and hit her so hard the whole of her body turned towards the wall, staring in shock.</p>

<p>“Fuck you, bitch,” Ginny snarled into her face. She then turned 180 degrees and dragged the second Potter twin out of sight. Footsteps retreated, and finally, a door slammed.</p>

<p><em>What?</em> Virgo thought.</p>

<p>He slowly straightened back up, still holding his cheek in shock.</p>

<p>John walked up to him and put a hand on his shoulder. “Yeah, I felt one of her slaps too,” he said sadly. “Thank you for at least trying though. Whatever it was you tried to do. I really do appreciate it.”</p>

<p>Virgo muttered something. He wasn’t sure what—his mind was racing far too quickly—but he soon found himself being dropped off for his Transfiguration class. John had escorted him there.</p>

<p><em>Virgo…</em> Julia started as they sat down in the front row.</p>

<p><em>Yes? </em>Virgo thought back.</p>

<p><em>That girl… the way she moved. That speed. It was just like the time in the bathroom.</em></p>

<p><em>Yes,</em> Virgo thought back. <em>Yes, I was just thinking the same thing.</em></p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>An hour later, Harry walked back into the empty classroom the hate-potioned Ginny had first dragged him into, looked around, and shook his head. The place was destroyed. Vicious-looking cut marks were gouged into the walls, windows were broken, chairs smashed, desks bent. The chalkboard had been snapped clean in half. All evidence of a trained fighter unloading all her frustrations onto an extremely convenient target — him.</p>

<p>Harry waved Lord Slytherin’s wand in a wide arc, focused his powers, and said, “Reparo.” The chairs flew back together, the blackboard fixed itself, and every shard of glass from the windows found their way back into each individual windowpane’s incredibly complicated shattered mosaic before smoothing back, as good as new — or rather, <em>almost</em> as good as new.</p>

<p>Harry then made his way to the Slytherin dorms. Yes, they technically had classes, but classes could wait. This was important.</p>

<p>He strolled past the defences made to keep males out of the girls’ dorms, walked into the second-year’s dormitory, and climbed into the trunk by Hermione’s bed.</p>

<p>Ginny looked up at him from the side of a small camping bed, holding a bucket in her hands, face green and sickly.</p>

<p>Hermione was sitting by her side.</p>

<p>“How’s the flushing going?” he asked, just as Ginny heaved and let loose another wave of vomit into the bucket.</p>

<p>“About as well as can be expected,” Hermione said.</p>

<p>Ginny snorted.</p>

<p>“She’ll be right as rain in half an hour, give or take ten minutes.”</p>

<p>Harry nodded and sat down on Ginny’s other side.</p>

<p>Ginny looked up at him and winced. Then she turned to Hermione. “Do you mind if we talk alone for a few minutes?”</p>

<p>“Not at all.”</p>

<p>“What’s up?” Harry asked when Hermione closed the trunk lid behind her.</p>

<p>“I didn’t kill the chickens, Harry.”</p>

<p>Harry considered this. “You were afraid to tell me you hadn’t?”</p>

<p>Ginny nodded slowly. “I felt guilty.”</p>

<p>“You know I’m not going to be angry if you choose not to kill?”</p>

<p>“I know.”</p>

<p>Silence filled the trunk for just a moment before Ginny heaved again and another round of vomit fell into the bucket. Ginny coughed and spluttered before taking a deep breath.</p>

<p>“But I have decided,” she said, looking up at him through matted hair. “I have decided to fight — I decided to fight years ago, and, now I decide that if you need it, I will learn to kill as well. No matter how hard I find it. I swear.”</p>

<p>Harry hugged her. “Thank you, Ginny. You’ve no idea how much you and the others mean to me.”</p>

<p>Ginny hugged him back and smirked. “I think I can guess.”</p>

<p>The moment would have been a lot more beautiful if she hadn’t proceeded to then throw up all over him.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Ginny slowly came to and looked out across her dreamscape.</p>

<p>The savannah sun beat down on her long red hair.</p>

<p>The grassland was now golden brown.</p>

<p>Thorny bushes lay scattered around where she stood.</p>

<p>A small river flowed through the land, carving out a tiny valley on the otherwise flat plain.</p>

<p>It felt… complete.</p>

<p>Ginny felt the urge to run — the urge to sprint. She instead jogged along a trail she found until she reached a ridge.</p>

<p>The ridge hid another plain, and over that…</p>

<p>Animals.</p>

<p>Ginny’s eyes widened. Thousands of animals. Wildebeest, oryx, zebra, gazelle, even a small herd of giraffes — they all grazed in a colossal herd. Birds flew everywhere. The air felt alive with insects. And out of the corner of her eye, she caught something… else.</p>

<p>Ginny froze. The thing was lurking in the grasses almost right next to her. Its body was low to the ground and was longer than she was tall. It didn’t seem to be paying any attention to her, which was just as well, because every instinct in that part of her brain that wasn’t under the influence of mandrake leaf—that part of her evolutionary brain that was still monkey—was screaming ‘predator’ at the top of its lungs.</p>

<p>Something changed. There was a shift in the herd, and the thing beside her started to lift upwards like a statue slowly grinding to life. It prowled forward, out of the long grass. Ginny’s breath hitched. The shoulders rose above the head, every movement powerfully controlled. Each paw strike on the ground suggested the pinning of a mouse. The back slung low to the ground, like a sagging suspension bridge, while the legs suggested the kind of coiled power usually found in freight train buffer springs.</p>

<p>It trotted forward as a great collective herbivorous maw of alarm sounded across a thousand animals. It broke into a canter as the smaller gazelle broke away from the main herd, and then, suddenly, it broke into a full sprint.</p>

<p>Ginny jumped forward and ran to keep the chase in sight, heedless of the general panic all around her.</p>

<p>The target desperately zipped this way and that, trying to avoid the killer rapidly closing in on it, but it might as well have tried to outrun its own shadow. There was a loud bleat, a faint cloud of dust, and both predator and prey disappeared from view as they fell to the ground in a mass of flailing limbs and snarling teeth.</p>

<p>Ginny raced to where the hunt had ended and stared down at what she <em>knew</em> was <em>her</em> animal. The cheetah stared back up at her, exhausted, unable to even move, lying on the ground, lungs rising and falling in great heaving expansions and contractions, jaws firmly locked around the gazelle’s throat, which was very clearly and obviously dead.</p>

<p>Ginny slowly walked up to the magnificent animal and laid a tentative hand on its head. It didn’t attack. She knew it wouldn’t. Ginny felt the connection, a part of her she’d always known, but never been able to put into words. A certainty she’d been missing.</p>

<p>Ginny narrowed her eyes. And she nodded.</p>

<p style="text-align: center;">— End of Chapter Forty-one —</p>

{1113} [Herbology first thing]: Susan and Virgo aren't in the same year
