Chapter 42 - Daphne's Birthday, Work and Play - Part 1

<p>Mountains. Mountains as far as the eye could see — snowy topped, jagged, desolate. Daphne Greengrass sat, cross-legged on a craggy ledge, overlooking a sheer cliff, and fought every instinct in her still-human body, not to jump.</p>

<p>A bitingly fresh wind whirled Daphne’s hair around her face. She hooked several strands around her ear and relaxed as best she could against the cliff wall behind her. She rarely sat cross-legged — it wasn’t something she’d been brought up to do. Her mind seemed to know this very well. Even in her dreamscape, her muscles protested at the unusual position she was asking them to take.</p>

<p>The stone floor she was sitting on was awfully hard too…</p>

<p>Her vision blurred and a wave of dizziness hit her.</p>

<p>She was waking up.</p>

<p>Daphne opened her eyes, blearily, and sat up in bed. Her plushy snake uncoiled itself from her body and coiled itself up one of her four-poster pillars. The torches flickering on the wall had changed from dim green to bright orange. It was morning and the Slytherin girls’ dormitory was mostly empty. That was unusual. Usually, she was among the first up.</p>

<p>“They’re all upstairs preparing your surprise birthday wave-off,” called a nasally voice from the bathroom.</p>

<p>Daphne cursed under her breath. “Thank you so <em>very</em> much, Parkinson,” she said sarcastically. “I will do my best to act suitably surprised.”</p>

<p>She put Pansy out of her mind and smiled, because it <em>was</em> her birthday — her <em>thirteenth</em> birthday — which meant <em>lots</em> of things for a witch, but the one thing it meant above all for her was that Harry was taking her out adventuring…. Well, eventually, anyway.</p>

<p>Actually, he was going to take her out adventuring <em>after</em> they’d finished the important business of the day. Just her luck that her birthday was the only day they had to give the submarine sales pitch to MaCUSA.</p>

<p><em>But</em>! After <em>that</em>, it would be just her and Harry, and it would be almost all a surprise. Only almost, because, at some point, she’d be doing her thirteenth birthday ritual. She knew <em>that</em> was going to happen. Choosing which ritual to perform had taken weeks. Thinking about it still caused her to blush.</p>

<p>Daphne swung her feet off the bed and slipped them into the pair of fluffy slippers.</p>

<p>She <em>really</em> hoped the business stuff wouldn’t last <em>too</em> long.</p>

<p>Ignoring Pansy, she showered, towelled herself down, wrapped said towel around herself, sat down in front of her bedside mirror, applied her cosmetic charms, then stood back up, and walked to the trunk beside her bed, retrieving something else she’d been looking forward to for a long time.</p>

<p>The something else was a long, frilled, scarf-like length of material in emerald green, soft and stiff at the same time. The silky material quivered in her hands, giving the impression of life trapped in fabric. Her mother had given it to her the night before she’d caught the Hogwarts Express back to Hogwarts.</p>

<p>Daphne walked back to the mirror, dropped the towel around her ankles, and smiled. Yes, she definitely now had breasts, no question. It was impossible to say that she didn’t. They’d been growing steadily for a couple years now, and, if her memory from her time under ageing potion served her correctly, were about half their final size.</p>

<p>Daphne brought the scarf up to her chest, let the smallest amount of magic flow into the material and gasped as it leapt from her fingers, flowed around her body, and moulded itself snugly, but not tightly, around her chest. It was an odd feeling, but not unpleasant, which was just as well. She’d be wearing it every day now.</p>

<p>Still busily appreciating her new, grown-up look, Daphne caught Pansy staring at her in the mirror’s reflection. The Parkinson heiress had not been having nearly as much luck as her in the breast department.</p>

<p>Daphne smirked and stepped into her new dress robes.</p>

<p>Pansy sniffed and stuck her nose up in the air. “So, you’ve got a bit of a head start,” she said, sounding like she was putting a lot of care into sounding like she didn’t care. “It means nothing.”</p>

<p>Daphne smirked again. Then schooled her features and waved a vague hand. “Luckily, I don’t need to worry about such things, seeing as I already <em>have</em> a betrothed. I’m actually a little worried that they might grow too much. That would be simply <em>awful</em>.”</p>

<p>Pansy scowled.</p>

<p>“Don’t worry,” Daphne continued, admiring the way the dress whispered as it moved around her ankles. “I’m <em>sure</em> yours will come through in time for your birthday. When is it again? December?”</p>

<p>“November,” Pansy growled. “And I don’t <em>need</em> to worry. I will have my choice of suitors, you’ll see.”</p>

<p>Daphne didn’t wait for Pansy to finish getting dressed. She picked up the duffel bag she’d already prepared the night before—full of specifically <em>warm</em> clothes—wrapped the cord of her handbag around her wrist, checked herself in the mirror one last time, and left the dormitory, climbing the stairs to the Slytherin common room, which would surely be full of people eager to show they cared about her thirteenth birthday — a show she naturally had to reciprocate. She was still the Greengrass heiress, and as such, duty came before adventure, even if it was adventure she truly craved.</p>

<p>“Happy thirteenth!”</p>

<p>One voice from several dozen wizards and witches hit her all at once. The common room was packed. Green and silver paper streamers fell everywhere. Several of the decorative stone snakes wore party hats at jaunty angles. Presents poured across a table off to one side, carefully guarded by both Hermione and Marcus Flint.</p>

<p>“Wow,” Daphne said, walking into the centre of the room, dumping her bag, and looking around. “I didn’t expect all this.”</p>

<p>There were a couple of disbelieving snorts from around the room.</p>

<p>“Speech!” Someone shouted.</p>

<p>“Speech! Speech!” The cry picked up momentum.</p>

<p>“Wait just a minute,” Hermione shouted back. “Presents! She doesn’t have very long until Lord Slytherin picks her up.” She indicated a much smaller pile of packages on a nearby chair.</p>

<p>“Can it, Granger!”</p>

<p>“No,” a voice drawled. Draco Malfoy stepped out of his circle by the Dark’s court. “For once, the know-it-all is correct. Please, Heiress Greengrass.”</p>

<p>The room settled down somewhat. People started chatting among themselves.</p>

<p>Daphne gave Malfoy a reluctant nod and walked over to the table full of gifts.</p>

<p>Hermione leaned into her ear and whispered, “We’ve filtered out the important ones. They’re on the chair.”</p>

<p>“Thanks.”</p>

<p>Daphne picked up the first present and inspected it.</p>

<p>“Romulus Volf,” Hermione said, pointing out the name label. “I did not expect <em>that</em>.”</p>

<p>“Our lord has become a lot more public since Volf shouted those silly accusations last year. He’s probably hoping to mend fences.”</p>

<p>Daphne slowly started to work her way through the birthday gifts, calling out her thanks to whoever had sent them, if they were in the room, and having Tracey add those who weren’t to a ‘to be thanked later’ list.</p>

<p>Everything was going as expected, until it was Draco Malfoy’s turn. Naturally, if anything spectacle worthy was going to happen, it would be with him.</p>

<p>Daphne picked up the gift cautiously. It was among the last in the pile, with the heft and weight of a book. She unwrapped it. It was a family autobiography of Louis Malfoy — From Beauxbatons to Bordeaux. A dictaquilled copy in soft leather.</p>

<p>“I thought you might appreciate that,” Malfoy said with a slight smirk.</p>

<p>Daphne wasn’t sure she understood. What was <em>’you might appreciate that’</em> supposed to mean? She had no particular interest in Malfoy’s family history and he should know that. This wasn’t the kind of thing people normally gave as birthday gifts. Declaration of intent gifts, certainly, but not birthday gifts, and this was <em>not</em> a declaration of intent gift. It wasn’t presented in the correct way, and besides, no one would be silly enough to try and give <em>her</em> such a gift. One might as well gift preventative birth control to an already-pregnant witch.</p>

<p>Malfoy was standing slightly off to one side near his court.</p>

<p>All eyes in the common room were upon them.</p>

<p>“My father suggested certain arrangements could perhaps be made…” he said.</p>

<p>And then the knut dropped. What this <em>was</em>, was a birthday gift <em>hiding</em> a declaration of intent inside it. He was suggesting that maybe, one day, she and he <em>would</em> be family. But, it wasn’t an intent gift aimed at <em>her</em> — it was aimed at…</p>

<p>Daphne gave a ladylike snort. “If you think you’re ever getting your grubby little mitts on my sister then you’ve got another thing coming.”</p>

<p>“I don’t believe that is ultimately <em>your</em> decision, <em>Heiress</em> Greengrass.” And the word “Heiress” was clearly being said in huge quotation marks. “And the strength of the Gray can wane. Yes, now you’re not doing too badly, but you are still the weaker side, and the weak must ultimately bow before the strong.”</p>

<p>“Oh, wonderful. Then since my betrothed is stronger than you, you can bow before him.”</p>

<p>Malfoy’s slight smile vanished. “You need to be more careful, Greengrass. There are those who say,” and now he raised his voice so that it was obvious he was speaking to the whole room. “That the reason Lord Slytherin wears a mask is he is hiding something shameful. People are starting to suspect.”</p>

<p>“<em>What</em> are they starting to suspect, Malfoy?”</p>

<p>“Oh.” Malfoy waved a vague hand. “All sorts of things.”</p>

<p>“Name <em>one</em> thing.”</p>

<p>“I wouldn’t dream of talking about <em>those</em> kinds of things in public.”</p>

<p>“Oh, this is so much rubbish!” Hermione stomped over and stood beside Daphne. “You don’t have a <em>clue</em> what <em>they</em> are saying, do you? If you really knew anything you wouldn’t hesitate to shout it to the world.”</p>

<p>Draco glared at her. “No one asked your opinion you filthy little mudblood.”</p>

<p>The room stilled. A few people gasped. It was as if a single arrow had been loosed between two lined-up ranks of battle-tense soldiers, and those soldiers were now glancing around to see if anyone else looked like they were going to attack. Few people in the room cared much about the word itself, but, over the last year, a sort of <em>understanding</em> had arisen when it came to Hermione, especially after the reception she’d received on <em>her</em> thirteenth birthday. Ultimately, this wasn’t so much about blood purity as it was about pride and honour. Nearby, Ginny and Luna had their wands out, looking alert. The air was so tense it could have been cut with a diffindo.</p>

<p>The only person who didn’t seem to care was Malfoy… at least, until a voice from the Dark court sounded throughout the room. “Draco.”</p>

<p>Daphne recognised the voice immediately, and Malfoy’s reaction was priceless. He flinched.</p>

<p>Alexandra was sat in the middle of one of the Dark’s couches, taking up far more space than an eleven-year-old girl should.</p>

<p>The room’s attention quickly shifted to her.</p>

<p>“That wasn’t very nice Draco, don’t you think?”</p>

<p>“Black—” Draco started, voice already uncertain.</p>

<p>“From what <em>I’ve</em> seen, Miss Granger is a lovely girl.”</p>

<p>If she hadn’t been so tense, Daphne might have snorted. Alex and Hermione had been at each other’s throats in group combat training more so than anyone else in Harry’s group.</p>

<p>Malfoy’s face contorted. He glanced around the room, apparently gauging how much support he might get. The various little groups that made up the Dark looked uncertainly between him and Alexandra.</p>

<p>Malfoy finished his survey and narrowed his eyes. “You can’t seriously be suggesting that we should see her kind as our equals?”</p>

<p>“No, of <em>course</em> not,” Alex said, with what Daphne felt was slightly too much emphatic emphasis. “But that doesn’t mean you can’t be a bit nicer. Would you kick your house elf just because he’s your servant?”</p>

<p>“Yes.”</p>

<p>Alex’s eyes widened slightly. Clearly she hadn’t been expecting that answer. “You would?”</p>

<p>“Yes. It’s just a house elf.”</p>

<p>“But… but…” Alex seemed to be struggling with some terrible inner conflict. “But it’s <em>your own</em> house elf. That’s like cursing <em>your own</em> broom.”</p>

<p>Daphne heard several people snigger.</p>

<p>“An interesting way of looking at things,” said a new voice, far deeper than any student’s.</p>

<p>Many heads whirled around. Many lungs inhaled sharply. Malfoy and Alex, who were both right near the always-empty Slytherin throne, spun a full 180 degrees to face the new voice.</p>

<p>Daphne smiled. Lord Slytherin was casually sitting on the Slytherin throne between the courts of the Dark and the Gray, under the effect of ageing potion and masked. He hadn’t been there a second ago. Daphne didn’t need legilimency to know that just about everyone in the room was wondering how he got there without anyone noticing, or just how long he’d been there.</p>

<p><em>Finally</em>, it was time for her to be off.</p>

<p>Alex was the first person to move. “You!” she shouted, standing up quickly.</p>

<p>“I?” Slytherin said back.</p>

<p>“Duel me!”</p>

<p>Various members of the Dark gave her incredulous looks and started edging away. One fourth-year actually dove over the back of his sofa.</p>

<p>Harry ignored them and slowly stood up. “Not today, Heiress Black. I have another important appointment.” He shifted his focus. “Happy birthday, Daphne.”</p>

<p>Daphne smiled brightly. “Thank you, my lord.”</p>

<p>Alex sat heavily back down in her seat and folded her arms.</p>

<p>Harry grabbed Daphne’s duffel bag and led her out of the common room, greeting various students including Luna and Hermione as he passed. No one tried to stop them leaving.</p>

<p>Once they were outside, Daphne stepped out from behind her lord as they traversed the corridors of Hogwarts. “How much of that did you see?”</p>

<p>“All of it. It would appear our dear Lucius has set his son’s sights on Astoria.”</p>

<p>“I don’t understand why though,” Daphne said. “Father isn’t old, so he’s unlikely to get control of his Wizengamot seat for decades — maybe even a century. The same goes for the Greengrass businesses.”</p>

<p>“Jacob will most likely grant Astoria a dowry, considering she won’t get to fully manage the Greengrass estate for a long time.”</p>

<p>“But a dowry would still belong to Astoria.”</p>

<p>“In theory, yes. But I do still agree with you. It’s unlikely to be for financial reasons. I imagine it’s more likely a straight-up attempt to bring the Gray closer to the Dark rather than the Light.”</p>

<p>Daphne smirked. “Which <em>is</em> what we want.”</p>

<p>“Yes, but I doubt in the way they were imagining. Alex seems to be making good progress, doesn’t she?” Harry slowed his stride. “Oh? What do we have here?”</p>

<p>A figure was walking towards them from the great entrance hallway that led to the grounds. It was Lily Potter. It didn’t look like she’d been searching them out — rather that she’d been on the way somewhere else and just happened to run into them.</p>

<p>“Lady Potter,” Harry said as she neared.</p>

<p>Lily Potter stopped in front of them. “Lord Slytherin.” She turned to Daphne. “Happy thirteenth, Miss Greengrass.”</p>

<p>“Thank you.”</p>

<p>Lily Potter turned back to Harry. “I trust this excursion won’t take her out of classes come Monday?”</p>

<p>“It should not.”</p>

<p>“Very well.” Lily Potter looked like she wanted to say something else to the mysterious lord standing in front of her, but another quick glance at Daphne suggested it wasn’t something she was comfortable saying in front of other people. “Please excuse me. Good day to you both.”</p>

<p>Daphne Greengrass and Lord Slytherin continued to walk, leaving Lily Potter alone. Lily bit her lip before turning around and continuing on the path that led to the Slytherin dungeons. Once there, she spoke the password to the Slytherin common room, entered, and looked around, ignoring the general commotion of a Saturday morning. The prefects were efficiently taking down a lot of celebration decorations.</p>

<p>Unable to find who she was looking for, Lily walked over to the second-year student she felt most comfortable with.</p>

<p>“Miss Davis?”</p>

<p>Tracey Davis turned to her from where she’d been deep in conversation with Hermione Granger.</p>

<p>Of course, Lily’s favourite student in Slytherin <em>should</em> have <em>been</em> Miss Granger, what with her being both muggleborn like her and <em>easily</em> top of her class, but Miss Granger always treated her rather coldly, something Lily never understood. Tracey Davis, by contrast, felt rather like her own Gryffindor students.</p>

<p>“You don’t happen to know where Harry is?” Lily asked.</p>

<p>“You just missed him, Professor,” Tracey replied.</p>

<p>“And you don’t know where he is?”</p>

<p>“No, Professor.”</p>

<p>“Oh,” Lily let out a slightly disappointed sigh. “I guess I’ll see him at breakfast then.”</p>

<p>“Most likely.”</p>

<p>“Well, thank you anyway.” She left.</p>

<p>Tracey and Hermione traded apprehensive glances. Harry wasn’t going to be in Hogwarts for the whole weekend. Their thoughts both trailed to the vials of Harry-keyed polyjuice potion sitting in Hermione’s trunk.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>On Gairsay Island, Daphne stepped out of the floo and into an empty living room, Harry stepping out a moment later behind her. The room was deeper than it was wide and ended in an open corridor going both left and right. A big set of double doors were set into the far corridor wall. On either side of the fireplace behind her, large windows let in a constant stream of bright sunlight. A thin layer of plaster dust on the floor suggested that the goblins had only just packed up their tools and that the house elves hadn’t yet had a chance to get their paws on the result.</p>

<p>Daphne recognised where they were immediately. This was the third-floor living quarters of Slytherin Manor. Her future home.</p>

<p>“Like it?” Harry asked.</p>

<p>“Yes — very spacious, my lord,” Daphne said. “But it needs furniture. It feels empty without it. Especially if we’re going to use this as our base when we reveal you.”</p>

<p>It wasn’t only the living room that needed furniture. Daphne walked up and down the living quarter’s corridor, poking her head into each of the thirteen bedrooms in turn, each one an empty shell, ready to be filled full of stuff. She mentally claimed the one immediately to the right of the large central one with the office, which was obviously Harry’s. Luna could have the one to the left. Hermione, Ginny, and Alex could claim their own… later on. That was, <em>if</em> Harry succeeded in bringing them into the family too. Although, with how things went on Hermione’s birthday, she wouldn’t be surprised if that one, at least, was a fait accompli.</p>

<p>Harry was waiting for her down the stairs in the circle corridor that surrounded the balcony overlooking the ballroom. “Ready for your first birthday present?”</p>

<p>Daphne was more than ready. Harry led her down the corridor and into what she recognised as the library. A single bookshelf stood in the middle of the large room. There were several books on the shelves all wrapped up in various coloured packagings.</p>

<p>“Happy thirteenth birthday, Daphne.”</p>

<p>Daphne eyed the books before taking one off the shelf, hefting it in her hands. What kind of present would Harry get her? No, what kind of present would <em>Lord Slytherin</em> get her? They <em>were</em> slightly different questions after all.</p>

<p>“Why don’t you try and guess?” Harry said, letting an amusement into his voice that Daphne <em>never</em> heard him use as part of his Lord Slytherin persona in public.</p>

<p>Daphne gave a slight smirk. “Okay, I’m game.” She thought about it. “Something educational.”</p>

<p>“<em>That</em> much wasn’t hard to guess.”</p>

<p>“Something to do with what I’m currently learning.”</p>

<p>“Sort of…”</p>

<p>“Something to do with something that I’m <em>not</em> currently learning, but <em>should</em> be.”</p>

<p>“Again, sort of…”</p>

<p>“Something to do with something I’m <em>trying</em> to learn, but not doing so well at?”</p>

<p>“I wouldn’t say you’re doing badly at it…”</p>

<p>Daphne’s mind flicked through all her current projects — business, divination, leadership, politics, combat, animagus discovery… Eventually she settled on one. “Combat,” she declared. “Something I feel weak at and want to improve on.”</p>

<p>“Strategy,” Harry said, simply.</p>

<p>“Strategy!” Daphne snapped her fingers. “So close.” She frowned. “But, my lord, I’ve already read all the classic works on strategy.”</p>

<p>“Really?” Harry’s voice sounded playful now. “Name three books that influenced Voldemort’s strategies during his first rise.”</p>

<p>“<em>Maintaining The Statute</em>, by Samantha Goldstein — <em>Blood is Thicker than Magic</em>, by Dracula — and <em>The Way of the Warlock</em>, by Robert Dimwiddy,” Daphne rattled off, with ease. “Of course, the <em>Rise and Fall of the Dark Arts</em> also points out that he drew heavily on the campaign of terror waged by Grindelwald, which he grew up in, for inspiration.”</p>

<p>“All true,” Harry said. “…to an extent,” he added. “Dracula’s treatise on how to win a blood feud and Grindelwald’s terror tactics do indeed mirror Voldemort’s tactics, but….” He trailed off. “Well, firstly, where do you think Grindelwald got his terror tactics from?”</p>

<p>Daphne blinked. “He invented them, didn’t he? They were a combination of tactics on intimidation discussed in <em>Blood is Thicker Than Magic</em> and lessons learned from the resistance movement in the Germanic lands against the Second Magical British Empire.”</p>

<p>Harry shook his head. “Was it that resistance movement that eventually took Dimwiddy down?”</p>

<p>“Well, no, it was the Seventh Cursed Alliance.”</p>

<p>“So why do you think Grindelwald believed that using their tactics would help him achieve <em>his</em> goals?”</p>

<p>“Well, because….” Daphne hesitated. “I don’t know.”</p>

<p>“It’s because of a muggle named Michael Collins, who, not long before Grindelwald, used very similar tactics to achieve independence for his country, Ireland, from the muggle British Empire.”</p>

<p>“Grindelwald took inspiration from a muggle?”</p>

<p>“Indeed. And he wasn’t the only one. Think about it. You’re Voldemort and you’ve seen Grindelwald fail, now, are you going to use his exact same tactics to fight <em>your</em> war?”</p>

<p>“No?”</p>

<p>“No,” Harry confirmed. “Oh, you take the basics from him, certainly, but you still need something else — something to make sure you don’t fail like he did. Voldemort spent over thirty years looking for every advantage he could get before he launched his own campaign against Magical Britain.”</p>

<p>Daphne looked down at the book in her hands. “And you’re saying that he got it from <em>this</em>?”</p>

<p>“Oh, no, not <em>that</em> one.” Harry plucked another book from the shelf and handed it to her. “<em>This</em> one.”</p>

<p>Daphne took the book and ripped off the wrapping paper. “<em>On Guerilla Warfare</em>, by Mao Zedong. Who’s that?”</p>

<p>“A muggle lord who conquered China.”</p>

<p>“Really? Light or Dark?”</p>

<p>“By <em>our</em> definition, he was <em>something</em> like a Light Lord, although most western muggles would choke if you suggested that to them. Muggles don’t use the words Light and Dark in quite the same way we do. Mao was <em>extremely</em> anti-hereditary power — about as anti-hereditary power as it’s possible to be. So much so that he abolished private property and declared <em>everything, </em>from the house you lived in to the food you ate, to be owned by the state.”</p>

<p>Daphne stared. “Wow. Not even Dimwiddy would have suggested <em>that</em>.”</p>

<p>“Like I said, the word ‘Light’ is <em>not</em> a perfect translation for what this particular muggle was.”</p>

<p>Daphne looked down at the cover of <em>On Guerilla Warfare, </em>a feeling of excitement welling up in her. She’d never even <em>heard</em> of these works before. And if she’d never heard of them, chances were people like Malfoy and John certainly hadn’t. She smiled. “And Voldemort used the tactics of a sort-of-but-not-really muggle Light Lord to fight a war for a muggle-hating Dark? That <em>is</em> ironic.”</p>

<p>“You wanted to become a better strategist, Daphne. Because that’s how you feel you can best contribute in our group combat training.” Harry gestured to the long row of books on the shelf. “I give you twenty of the most influential muggle books on strategy ever written. Voldemort himself only really skimmed through most of them. He found Mao, became an instant convert, and focused in almost solely on him. But I <em>know</em> the others still hold immense value — even if I myself haven’t been able to assimilate all they have to teach.”</p>

<p>Daphne enthusiastically picked up the book she’d first selected and ripped off the paper to reveal <em>The History of the Peloponnesian War</em>, by Thucydides. She looked along the long line of books and smiled brightly. This present was <em>so</em> Harry.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Lily Potter stared around the Great Hall and frowned.</p>

<p>Harry was most definitely <em>not</em> here.</p>

<p>She’d arrived early to make sure she caught her son before he dashed off to Merlin only knew where, but students were now packing up and heading off to whatever weekend actives they had, and Harry still hadn’t shown.</p>

<p>She didn’t want <em>much</em>, just to have him and John around her small Hogwarts apartment for a chat about schoolwork, and perhaps try to encourage the two to be a bit more friendly towards each other, but it seemed what should be a trivial task wasn’t going to be quite so easy.</p>

<p>Lily thought deeply. Now, where would Harry be this early on a Saturday morning? The library? The duelling arena? The quidditch pitch? All possible, although maybe not so much the last one. Hopefully it would be one of the obvious places. Hogwarts was a maze. Finding anyone here was like looking for a needle in a haystack of hay-to-needle transfigured hay.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Slytherin Manor stood at the top of Gairsay Island’s large rolling hill. On the south side of Gairsay Island, at the <em>bottom</em> of the hill, deep under Granger Cottage, in a hollowed-out cavern dipping into the waters of the North Sea, the adult Grangers were just putting the finishing touches on their full-scale submarine model.</p>

<p>There had been changes.</p>

<p>A good number of the worktops, machines, and raw materials that previously littered the cavernous space had been shoved to the far wall, cramped up against each other with barely enough room to walk between them, all to make room for the model.</p>

<p>That model was made of polystyrene and balsa wood, and sat some fifteen metres long — over one metre high at the front, two metres high at the back. Small wheels on the bottom allowed the model to be pulled apart at many points along its length, showing the inside to be hollow, and covered in tens of thousands of tiny runes, all printed onto printer paper and stuck on with thumbtacks.</p>

<p>Daniel Granger fondly patted the nose cone, which was hinged to allow entry through the front. This was his baby and he was damn proud of it. “Won’t fly in the air, of course,” he said to the two new arrivals. “Making room for the life support systems and all that other stuff seriously cut down the amount of rune room we had to play with.”</p>

<p>“It’s a broomstick,” whispered Jacob’s daughter in awe. “A broomstick so large you can crawl <em>inside</em> it.” The young teenager looked towards where Lord Slytherin was walking up and down along the model’s side, running a hand along its smooth surface.</p>

<p>“That’s right,” Emma said. She and Clare were sitting at a nearby table, drinking tea and cutting up a small birthday cake. “We spent ages on upgrading the trunk engine, but no matter how we worked it, we couldn’t get it to meet ICW ISS standards. Not to mention ministry export regulations. But then we thought, ‘Hey! Broomsticks <em>already</em> meet ICW ISS standards <em>and</em> ministry export regulations. And our miniature runes allow us to scale up a broomstick in a way no other broomstick maker can.’ Nimbus even practically gift wrapped the basic runic patterns for us and handed them to us on a silver platter. That bit alone could have taken years by ourselves.”</p>

<p>“We’re stealing Nimbus’s rune patterns?” Daphne asked.</p>

<p>Dan waggled a hand. “Stealing is a strong word. There’s no way for them to learn about it unless they break into our broomstick the way we did into theirs. Good luck on them finding a CAT scanner that can scan <em>that</em>.” He jerked his thumb towards the fifteen-metre-long monstrosity behind him.</p>

<p>At that moment, Lord Slytherin arrived back beside Dan after doing another circle of the model. “This all looks fine,” he said, “but we still do have a slight problem.”</p>

<p>“Which is?”</p>

<p>“I’ve read the documentation you owled me earlier, but I’m still far from an expert. If the boys from MaCUSA want detailed technical explanations, I’ll need back up.”</p>

<p>Dan looked uncertainly between his masked lord and his wife. “But, will they accept us as experts? If they know we’re not magical?”</p>

<p>“No, they won’t — and letting them know is not an option.” Slytherin reached into a fold in his robes. “…which is why…” He withdrew a pair of identical Slytherin masks. “…you’re going to be wearing these.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Clare watched from a distance as Dan and Emma enthusiastically slipped on their expensive wizarding robes and donned their brand-new Slytherin masks, chatting to each other at a mile a minute about merlins, flamels, runic patterns, muggle engineering, and how much of a fantasy novel they lived in.</p>

<p>The birthday girl sat nearby eating birthday cake with the air of a moviegoer waiting for the film to start.</p>

<p>Slytherin stepped up beside her. “Would you like to come too, Clare?”</p>

<p>Clare sighed. “Is that an order, my lord?”</p>

<p>“No, it is an honest offer. The Wizarding World is more than just Diagon Alley and school. Jacob and Sunny are taking Dan and Emma to a quidditch match this afternoon. I can grant you leave for the day so long as you stay with the two of them and are back before midnight.”</p>

<p>Clare thought about it. The trip between school and home <em>had</em> gotten a bit stale, even if it was more freedom than she’d ever had at the polyjuice brothel. She nodded. “Then, yes — I think I would like that.”</p>

<p>Slytherin handed her another green and black mask, which she quickly donned, not needing to worry about changing her clothes. <em>All</em> her clothes were robes. Slytherin then tapped the collar around her neck with his wand and she felt a slight change in its magic.</p>

<p>Wearing the mask felt odd. There was clearly <em>something</em> attached to her face, but it didn’t restrict her eyesight or breathing at all.</p>

<p>“I understand Dan and Emma have told you of my need for phoenix ash?” Slytherin asked. “How is that going?”</p>

<p>Clare nodded. “Yes — but there’s only so much they can buy before the supplier starts asking questions we don’t have the answers to. They’re popping along there once a week to buy as much as they’re allowed, but often, even that cleans him right out.”</p>

<p>“In that box?” Slytherin asked, pointing to a box on a nearby table.</p>

<p>“Yes.”</p>

<p>Slytherin stalked over to the box and glanced inside, then walked back. “That’s the result of two months of buying up all the phoenix ash in Britain?”</p>

<p>“Yes, my lord.”</p>

<p>Silence descended on them. On the other side of the workshop, Dan and Emma were busily packing up various papers and putting them into bags.</p>

<p>Finally, Slytherin spoke. “It’s not enough.”</p>

<p>“My lord?”</p>

<p>“It’s not going to be enough for what I need — not <em>nearly</em> enough.”</p>

<p>“Do you want us to keep buying it?”</p>

<p>“For the moment, yes.”</p>

<p>“As you wish.”</p>

<p>Silence descended again.</p>

<p>Then, “Clare?”</p>

<p>“Yes, my lord?”</p>

<p>“About the fact that we’re making use of Nimbus’ runic patterns in our submarine…” He trailed off.</p>

<p>Clare sighed. She’d been expecting this. Knowing the secret of the miniature runes was one thing, but knowing something like <em>that</em>? “Yes, my lord,” she said, slipping off the basic magic ring she wore. “I understand, my lord.”</p>

<p>“Thank you, Clare.” Slytherin pointed his wand in between her eyes.</p>

<p>“Obliviate.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>MaCUSA Special Auror Jackson Collins fidgeted. He hated travel, even more than he hated working on weekends, but the boss lady hadn’t been too impressed by his ‘opinions’ of her judgement in regards to the Lovegoods.</p>

<p>“Congratulations, Collins,” she’d said. “You’re now our field expert on all things Slytherin, since you think you know so much.”</p>

<p>And as so here he was, deep under rainy old London, surrounded by goblins. Merlin, that was another thing he hated — goblins. Jackson glanced towards the door where two of the ugly bastards stood at attention, holding battle axes with heads larger than his torso, and watching their half-dozen strong delegation with beady little eyes. He shuddered.</p>

<p>“You don’t need to worry. They can’t attack us,” said a thin wizard sat next to him, speaking loudly enough to be heard over the general hum of conversation around them — certainly loudly enough for the goblins to hear him. He wore thin glasses and had a rather nasally voice. “It would break the treaty they have with the ICW.”</p>

<p>“Nah.” Jackson shook himself. “S’not that. Just had a bad run-in with one back in New York. Anyway, that’s my job to worry about. You focus on your numbers.”</p>

<p>The wizard frowned, but did nod slightly, leaning back over his papers, just before the doors opened and a procession of five wizards entered. Jackson’s hand twitched towards where he kept his wand under his sleeve. They <em>all</em> wore masks — fucking creepy. Well, all except the teenage girl. Somehow, that made the whole thing even <em>more</em> creepy.</p>

<p>The head of their delegation, Carol Heyworth, an attractive, no-nonsense brunette witch from procurement, stood up and greeted the one who identified himself as Lord Slytherin — the one whose mere presence seemed to radiate danger. His voice made the hairs on the back of Jackson’s neck prickle.</p>

<p>Part of him wondered just how badly they really needed to solve the whole kelpie situation, before he reminded himself that if there was one thing he hated, even more so than working on weekends, travelling, or goblins, it was hopeless, week-long gillyweed operations in the freezing waters of the Great Lakes.</p>

<p>Then Slytherin started outlining his proposal for what turned out to be a classic European broomstick, but <em>massively</em> scaled up, quoting maximum dive times, manoeuvrability, magical capacity, and defensibility.</p>

<p>He talked crew numbers, production capacity, and serviceability.</p>

<p>About halfway through, Jackson decided, grudgingly, that the man at least knew how to talk a good game.</p>

<p>He then spoke of the way the nose cone would be able to open underwater without flooding the vessel, allowing aurors to summon kelpies straight from the water, and into the broomstick, without having to engage them in their home territory where they held the upper hand.</p>

<p>And at that point, Jackson was sold. If Slytherin could make it, then the auror department <em>needed</em> one of these things. Ms Heyworth seemed interested too. Apparently, the numbers guy next to him didn’t seem to share his opinion. He kept tapping on the desk with his pen, clearly impatient.</p>

<p>Some time later, a round of questions started and sure enough, numbers guy was first to jump in.</p>

<p>“This is very interesting, Mister Slytherin,” he said in that same nasally voice, “But I have a <em>masters</em> in European runes and I just don’t see how you could possibly fit everything you’d need in a closed artefact that large.”</p>

<p>“That is a Slytherin family secret,” Slytherin said, evenly.</p>

<p>“You just expect us to accept that, do you?”</p>

<p>“Yes.”</p>

<p>“But <em>we</em> are not subject to the Albion.”</p>

<p>Ms Heyworth gave numbers guy an annoyed look.</p>

<p>“Alright then,” Slytherin said. “It is a <em>trade</em> secret, will you accept that?”</p>

<p>“Yes, he will accept that,” Ms Heyworth said.</p>

<p>Numbers guy gave their leader an annoyed look of his own.</p>

<p>Two points to Wampus House, Jackson thought.</p>

<p>Of course, that didn’t <em>stop</em> numbers guy. He continued to occasionally pepper Slytherin with questions during the Q&A, some on point, some rather time wasting. Jackson was surprised the blonde teenage girl sat in the middle of Slytherin’s group had as much control as she did. Apparently, it was her birthday, but she was here to ‘observe and learn the family business’. If someone had asked <em>him</em> to sit in on a meeting like this when <em>he’d</em> been thirteen, he’d have been out of his mind with boredom. Hell, thanks to numbers guy, he was almost out of his mind with boredom <em>now</em>.</p>

<p>“I don’t see how you can possibly source so much broomstick-grade wood,” numbers guy finally said towards the end of the presentation. “I have read a professionally compiled report on European broomstick export numbers, and it said that Britain’s broomstick makers couldn’t expand their overseas markets wider, in part because, and I quote, ‘finding appropriate magical trees is such a hit-and-miss operation.’”</p>

<p>“I can assure you,” Slytherin said in the same calm tone he always used, “that will not be an issue.”</p>

<p>“But, <em>Mister</em> Slytherin, I can assure <em>you</em>, the report <em>did</em> say—”</p>

<p>Jackson snapped. “Oh, will you pack it in, already!”</p>

<p>Numbers guy reared back, eyes wide.</p>

<p>“Unless your report came from a prophecy, can we assume there are things it might not know about?”</p>

<p>Numbers guy sat back down, looking offended, but didn’t speak up again.</p>

<p>When they were finally walking out of the meeting room, back into the Gringotts main hall, Jackson bent towards their leader’s ear. “Ms Heyworth, I’m pretty sure the rest of the jerks I work with would really appreciate something like this man is selling.”</p>

<p>Ms Heyworth smiled at him. “We’ll have to see what we can do. We still have several other options to investigate. Thank you for speaking up like you did back there, by the way. Grant just can’t bear the thought of anyone being smarter than him.”</p>

<p>“Sounds like he needs a wake-up call.”</p>

<p>“Yes. And please, call me Carol. It’s nice having someone on this team who’s more than just a massive head attached to a mouth.” Then she smiled at him again.</p>

<p>It was a very nice smile, Jackson thought. Perhaps travel could have its upsides too.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Merlin, that guy just didn’t know when to stop talking! Even the auror thought so.” Daphne was walking beside her Lord Slytherin on their way to quickly meet with Ragnok about dragons, wind, land, silt, and treasures associated therewith, before getting on the real birthday business.</p>

<p>“He was useful,” Harry said. “He focused their group’s distrust and combative tendencies away from us and towards one of their own.”</p>

<p>Daphne smiled. That was one of the things she’d noticed about Harry’s Lord Slytherin persona. He spoke little, and when he did, it tended to be in short statements of fact — quite different from when he didn’t wear the mask.</p>

<p>“Do you think they’ll sign a contract with us?” she asked.</p>

<p>“They might.”</p>

<p>Daphne smiled again.</p>

<p>They soon reached Ragnok’s office. The Grangers and Clare had already left to meet up with Daphne’s mother and father.</p>

<p>Ragnok welcomed them in by standing up from behind his desk and waving them into the seats before it. “Lord Slytherin, what can I do for you today?” he asked. “I hope you are not in any difficulties? We haven’t been receiving deposits from you with quite the regularity we’ve come to expect.”</p>

<p>“I have a puzzle that Gringotts might have the key to,” Harry replied, ignoring the latter comment.</p>

<p>“Tell me more.”</p>

<p>“Fate has spoken to me again.” Harry glanced at her. “—or rather, to <em>us</em>.”</p>

<p>Ragnok raised an incredibly bushy eyebrow. “Truly?”</p>

<p>“Yes. Daphne?”</p>

<p>Daphne quickly took over. “We believe the new prophecy is a hint or clue to some kind of hidden treasure. We’ve already looked in several rather obvious places with no luck, but there is another obvious place — here in Gringotts.”</p>

<p>Ragnok pursed his lips. “Our vaults hold many treasures, young heiress. Only the ones in your vaults are yours to do with as you please.”</p>

<p>“Of course, of course,” Daphne quickly replied. “But the <em>expertise</em> of Gringotts… You <em>do</em> undertake a rather large number of expeditions all over the world.”</p>

<p>Ragnok steepled his fingers and looked across the table at them both. He thought for a moment. Then he said, “You have this prophecy?”</p>

<p>“We do,” Daphne said.</p>

<p>Harry withdrew a mist-filled sphere from the pocket of his robes, placed it on the table, and tapped it with his wand.</p>

<p>Luna’s unearthly voice, high and unnatural, filled the room. <em>“Where the land meets the wind, find the sign of the dragon’s roar. There awaits you in the silt, ancient magics and gold and more.”</em></p>

<p>Ragnok cursed in goblin. He rubbed a gnarled hand over his face. Then he stood up and paced the room for several minutes. Finally, he turned to them both. “Please wait here,” he said. “I will return shortly.” And with that, he left, shutting the door behind him with a soft click.</p>

<p>Daphne and Harry looked at each other.</p>

<p>“I’m not sure,” Harry said.</p>

<p>Daphne shrugged.</p>

<p>Minutes went by. Daphne sighed and asked Harry for one of her birthday books, which he handed to her — <em>On War</em>, by Carl von Clausewitz. She started to read.</p>

<p>In war, it stated, force is the ultimate factor that decides victory. Civilised governments do not engage in war as an act of rational policy, but rather as an act of brutal violence. The ultimate goal is to disarm the enemy.</p>

<p><em>That</em> would mean taking away their opponents’ wands, Daphne thought — if they used wands. Taking a wand didn’t work so well on someone who knew wandless magic. How could they restrain someone who could cast basic spells without a wand? Tie their hands with rope? But they might be able to cast a severing charm. Goblin steel then? That would be fine if they could get ahold of it — the stuff wasn’t exactly common.</p>

<p>Daphne’s thoughts were interrupted by the door clicking open again.</p>

<p>Ragnok poked his head back in and motioned to them. “Please, follow me.”</p>

<p>Finally. Daphne snapped the book shut and handed it back to Harry who pocketed it.</p>

<p>Ragnok led them out of his office and towards the main hall, but then, rather than turning in <em>that</em> direction, he led them, instead, in the other — downwards, down into the depths of Gringotts, not where the carts took wizarding vault owners, but back where the goblins had their hidden city — marble pillared and stone vaulted.</p>

<p>A kind of curious excitement started to fill Daphne. <em>This</em> was more like what she’d been hoping for. Seeing new and wonderful things — things most wizards never saw. She doubted Tracey or Blaise had ever been back here.</p>

<p>Down, down they went. Spiralled staircases quickly turned from normal sized to goblin sized. Ceilings started to lower. Smooth marble gave way to rough granite.</p>

<p>Eventually, they were led through a set of massive double doors, three times as tall as Harry stood as Lord Slytherin. Daphne gasped.</p>

<p>A huge room greeted them. It looked like they’d just walked down its entire height to get to the bottom of it, but its size wasn’t its most impressive feature. Every surface — the walls, the floors, the ceilings, the pillars, everything — was covered in intricately carved figures of what looked like solid gold. The whole room shone blindingly bright. Goblins filled the space, talking, sitting at desks, writing, pouring over parchments, pointing at things stuck high up on walls. No one paid their entrance any attention.</p>

<p>Ten-metre-tall solid gold goblin statues stood interspersed throughout the hall, holding high weapons, or quills, or sometimes both. One gold goblin statue next to them wore a pinstripe suit and glasses, and held an abacus.</p>

<p>“Wow,” Daphne whispered.</p>

<p>Harry merely nodded.</p>

<p>“Have you seen our great hall before, Lord Slytherin?” Ragnok asked.</p>

<p>“I’m sorry to say, that I have — although not nearly as glorious as this.”</p>

<p>Ragnok growled and swore in goblin again.</p>

<p>“There’s just so much gold,” Daphne said, awed. “Each statue has got to be millions of galleons.”</p>

<p>Ragnok shrugged. “Hundreds of millions, actually. All totally worthless.” They walked deeper into the hall and eventually came to a stop behind a low partition wall. Ragnok knocked on the door. “This,” he announced, “is our expedition division.”</p>

<p>Daphne followed Harry into a much smaller area. They could still see the massive golden vaulted ceiling of the great hall, but the wall decorations were far more office-like — charts and maps and random bits of paper all over the place.</p>

<p>All eyes turned to them as they entered before getting back to their work. One set of eyes, however, didn’t leave them. They belonged to a tall wizard with a long, red ponytail, and what looked like a dragon’s tooth for an earring. His eyes were narrowed.</p>

<p>“Lord Slytherin — Heiress Greengrass.” A female goblin in a long flowing dress swept over to them. “May your enemies bleed and you get rich, etc, etc. I’ll take it from here, shall I?” She said this last bit to Ragnok who grinned.</p>

<p>“This delightful ball of energy is Secured-Collateral. I have taken the liberty of giving her your new prophecy details, but that is all. She will take good care of you.”</p>

<p>Then he left.</p>

<p>Secured-Collateral turned back to them. “The king has given me leave to show you our current ventures. Follow me, please.”</p>

<p>“Um…” Daphne threw another look at the wizard on the far side of the room, who’d been continuing to give them cold looks. “What about him?”</p>

<p>“Curse Breaker William Weasley is under contract and will not share anything if he values his job.”</p>

<p>“And if he decides his job is worth less than any information he might be given?” Lord Slytherin asked.</p>

<p>“Then we seize house assets.”</p>

<p>“And if his house has profitable dealings with my house?”</p>

<p>Secured-Collateral smirked. “You don’t want an oath breaker’s gold? Then it would be for you to sort out among yourselves.”</p>

<p>“Then I request you tell him nothing more than what you have already told him.”</p>

<p>“Done. Now, look here.” She pointed to a large map on the wall, on which were drawn dozens of circles, all coloured in with different shades of red. “This map shows our current operations.”</p>

<p>Daphne leaned closer. The biggest circle was over Egypt, but there were also large circles on Mexico, Japan, Shaanxi, Istanbul, the African Rift Valley, Greece, Italy, Peru, and Ghana.</p>

<p>“We can provide documentation for any of our areas of interest,” Secured-Collateral said, “but there will be a price.”</p>

<p>“What price?” Harry asked.</p>

<p>“<em>Where the land meets the wind, find the sign of the dragon’s roar. There awaits you in the silt, ancient magics and gold and more.”</em> Secured-Collateral pointed to a nearby table, on which was something hidden under a cloth. “You can keep the gold and the magic — it is the <em>more</em> we are after — a very specific kind of <em>more</em>.” She pulled back the cloth.</p>

<p>Daphne’s eyes widened.</p>

<p>In a glass box hovered what looked like the <em>ghost</em> of a huge gemstone as big a man’s fist — purple, misty, see-through.</p>

<p>“What is it?” Daphne asked.</p>

<p>“I can’t tell you,” Secured-Collateral said.</p>

<p>Harry walked up to it, crouched down, and started busily inspecting it from only a few inches away. “Is it valuable?” he asked.</p>

<p>Daphne’s mind sputtered in disbelief. Even <em>Harry</em> didn’t know what it was?</p>

<p>“I can’t tell you that either — sorry.”</p>

<p>“But, if we find one, you want it?”</p>

<p>“Yes.”</p>

<p>“And not anything else? Not the gold? Not the magic?”</p>

<p>“No.”</p>

<p>“And all of these expeditions, are to find these things? You must have built up quite a collection.”</p>

<p>“That’s also classified information.”</p>

<p>Harry looked into the ethereal jewel for a few moments. “Fine,” he eventually said, straightening up and stalking over to the map on the wall. “Sorry to spoil the surprise, Daphne.” He jabbed at a much smaller circle way up to the North, and turned back to Secured-Collateral. “For starters, we’ll take everything you might have on this one.”</p>

<p>Daphne strained to see. Harry’s hand was planted directly on Iceland. <em>That’s</em> where they were going adventuring tomorrow. She smiled widely. A place where the dragons roar. Of <em>course</em> they were.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Draco Malfoy sat alone in the Hogwarts library with his head in his hands. He’d begged off from his friends after lunch and retreated somewhere he hoped no one would find him. Things were not going well. He was losing control, he could feel it. Alexandra Black was slowly worming her way into the position that should rightfully be his. This morning, he’d held on to his status as top snake by the skin of his teeth, but how long would that last? Even being <em>near</em> her gave him feelings of dread.</p>

<p>He wondered if this was how his grandfather felt when the Dark Lord had swept in out of nowhere and took control of Slytherin House.</p>

<p>If only Virgo hadn’t gone to Gryffindor. She was supposed to be his trump card, but whenever he’d seen his sister these days, she was always around Merlin-damned John Potter or the Bones heiress. Even then, he wasn’t sure if Virgo would have been able to contain Black. The girl was just too powerful. It wasn’t fair!</p>

<p>Draco’s thoughts ran over the destruction of the Slytherin common room again for the thousandth time in the last few weeks. He shuddered.</p>

<p>How was he supposed to be able to compete with <em>that</em>?</p>

<p>He sat in silence.</p>

<p>An older couple stumbled upon him among the shelves, laughing and giggling, made quick apologies, and left.</p>

<p>Eventually, Draco let out a long, defeated breath.</p>

<p>He couldn’t compete with it — not directly. It wasn’t possible. He would just have to work with her — be the advisor behind her throne. At least Black would be a great counter to Harry and John Potter — a chance his generation of the Dark would desperately need. Better to gracefully bow out while he still had the chance, and help focus her efforts on reminding everyone why the Dark was not to be messed with.</p>

<p>“Mister Malfoy?” said an adult female voice.</p>

<p>Draco looked up. It was Professor Potter.</p>

<p>“Yes, <em>Professor</em>?”</p>

<p>“You haven’t seen Harry anywhere, have you? I need to speak with him.”</p>

<p>Draco sighed again. How the hell had this mudblood bitch shoved out two monsters like Harry and John? “No, Professor,” he said. “I haven’t seen him.”</p>

<p>“Oh. Well, if you do see him can you let him know I want a word in my office?”</p>

<p>“Yes, <em>Professor</em>.”</p>

<p>Professor Potter left, leaving Draco alone with his thoughts of what to do next.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Was agreeing to let them have the ghost gem thing a good idea?” Daphne asked Harry as they walked down Diagon Alley. “We don’t even know what they are.”</p>

<p>“If we don’t know what they are, then currently neither does <em>he</em>, which means we’re not at a disadvantage,” Harry said. “It is important when dealing with a prophecy to be as proactive as possible to ensure things turn out the way you wish them. If we just leave it, we might not stumble onto this treasure for years — maybe decades. We don’t want to wait that long.”</p>

<p>“I suppose not.” Daphne smiled. “So, what now, my lord?”</p>

<p>“Second birthday present.” They stopped outside Broomstix.</p>

<p>Daphne’s eyes lit up. “A new broom? Really?”</p>

<p>“Really. You can’t claim to be a spoiled princess if you don’t have the latest of everything.”</p>

<p>Daphne’s eyes widened. “Did <em>you</em> just <em>tease</em> me?”</p>

<p>“Yes.”</p>

<p>Daphne spluttered, but before she could say anything back, Harry had already swept into the shop. Just as well, as it would stop him from seeing her faint blush.</p>

<p>“So, why am I really getting a new broomstick?” Daphne asked once inside.</p>

<p>“You’ve chosen your thirteenth ritual?”</p>

<p>Now Daphne really did blush, and in full view of Harry. “Yes.”</p>

<p>“We’re getting a pair of cruisers to get us to the ritual site.” He lowered his voice. “That way we won’t have to bother with disillusionment.”</p>

<p>Now Daphne understood. Harry was taking her flying. She smiled.</p>

<p>“We’re also going to a quidditch match later on. Magpies vs Bats.”</p>

<p>Daphne’s smile widened. “Go Bats.”</p>

<p>Just then, the shop owner bustled up to them and started what sounded like a very well-rehearsed sales patter.</p>

<p>Fifteen minutes later, both she and her Lord Slytherin were holding identical Nimbus Cloud Cruisers — with built-in notice-me-nots and advanced cushioning charms, things that quidditch broom sacrificed for greater speed and agility.</p>

<p>They then walked to the small broomstick runway at the end of the Alley, mounted up, and swooped up into the skies above London — and suddenly, Daphne felt at home — more at home than she’d felt in ages. Euphoria swept her as quickly as the wind swept her long blonde hair. She wanted to stretch her talons and cry out in happiness.</p>

<p>A sudden wave of dizziness caused Daphne’s broom to wobble, but she got it back under control and sailed off over the rooftops after her lord. She just had to remember that her arms were <em>not</em> wings.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Well, obviously killing is wrong,” Hermione said, “but if it’s needed, then it can’t be helped.”</p>

<p>Ginny was standing by the pensieve in the middle of the trunk Hermione used to teach the muggleborns, gazing into its swirling depths with a look of determination on her face.</p>

<p>Hermione was fishing in the memory cabinet while talking. “And Harry will be able to tell us when it’s needed,” she continued. “We’ve already done bad things—I mean, Harry’s new home was built with drug money—and conquering a country isn’t exactly pure, even if it is most definitely needed. That’s not even getting into all the stuff we did last year with the philosopher’s stone.”</p>

<p>Hermione found the vial she was looking for and walked over to stand beside Ginny. The younger girl stood almost half a head shorter than her. Hermione’s voice softened. “Having said that, this will <em>not</em> be pleasant, Ginny. Harry once showed me some memories from the war — when Daphne and I did something very stupid. It was horrible. The second worst I’ve ever felt.”</p>

<p>Ginny didn’t ask her what the first worse she’d ever felt was. Instead, she set her jaw and nodded. “I need to do this,” she said. “I need to get used to it.”</p>

<p>Hermione nodded back and poured the contents of the vial into the pensieve. “I’ll have a bucket ready.”</p>

<p>Ginny touched the silver liquid and was instantly sucked into its depths.</p>

<p>Hermione then settled herself down to wait, skimming through an advanced book on transfiguration and compartmentalising all the things she didn’t already know into her occlumency library. Years ago, when they’d first met, Harry had said she had the potential to be one of the greatest witches who ever lived, and she fully intended to live up to that faith. She would not let Harry down… not again.</p>

<p>Quite some time later, the pensieve starting glowing, and Ginny burst out from it, like Athena emerging fully grown from the forehead of Zeus, and proceeded to throw up messily into the bucket Hermione had ready///prepared for her.</p>

<p>Hermione waited until Ginny was done before lifting a second full vial with a questioning look.</p>

<p>“Yes,” Ginny said, flatly. “<em>All</em> the memories.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was a nice walk, Daphne decided, and the broomstick flight to the grasslands of Wiltshire had been wonderful. She and Harry had even glided over the wards of Malfoy Manor, hidden as it was only from muggle eyes.</p>

<p>They’d landed not too far away from their target destination and found a relaxing hiking trail that would lead them all the way to the ritual site.</p>

<p>It was a one and a half hour trek, and by the time they were nearing, late afternoon was definitely with them, but Daphne didn’t care. She was now thoroughly enjoying herself, and that wasn’t even taking into account the knowledge of where they’d be portkeying to later that evening.</p>

<p>Harry stopped her as they neared the ritual circle. “Mandrake leaf,” he said.</p>

<p>Daphne dutifully withdrew the leaf from her mouth and handed it over.</p>

<p>Minutes later she understood why he had asked <em>before</em> reaching the massive stone circle. A ministry official bustled up to them wearing long white robes with a black corded belt — it was an incredibly old-fashioned look.</p>

<p>“Lord Slytherin. Heiress Greengrass,” the man said, looking nervous. “I’m Phillip Dai, from the Department of Family Affairs. I’m so glad you’re here. We don’t like to keep the muggles out for too long. Druids! I don’t know. Whichever idiot came up with the druid excuse needs to be fired, assuming he hasn’t already popped his clogs. Anyway, sorry about all this. Welcome to Stonehenge. Have you already chosen your ritual, Miss Heiress?”</p>

<p>He said all this as quickly as possible, as though trying to get everything he needed to say out before someone inevitably interrupted him.</p>

<p>Daphne blushed. “I have chosen.” She glanced at her lord’s mask, and, not for the first time, dearly wished she could see his expression. “I have chosen the ritual of the lady.”</p>

<p>Harry tilted his head in acknowledgement.</p>

<p>Daphne smiled shyly.</p>

<p>“Right, yes, okay then.” Mister Dai pointed to a crate sitting by one of the massive stone blocks. “You’ll find all the ritual reagents you need in those boxes. We’ll leave you alone to get on with it, okay?” He looked towards her lord, who nodded.</p>

<p>The two wizards left, leaving Daphne alone in the middle of Stonehenge. She quickly fished out what she’d need from the boxes, including a large amount of mistletoe and the frozen male genitalia of a horse. She then stripped down naked, placed a book detailing the ritual in the middle of the stone circle, positioned the ritual items in the prescribed pattern around her, shivered in the cold Autumn air, and, slowly, softly, began to chant.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Bodmin Moor Stadium sat on the Cornish moors like a hippo on a bed of moss — the only quidditch stadium in the country. Oh, all the officially recognised teams might have their own <em>fields,</em> where they practiced and trained, and where the local wizards and witches could have a bit of a throw about, but in a country with a population of only just over twenty thousand, there really wasn’t any need for more than one <em>stadium</em>.</p>

<p>It was large, over 150 metres long and over 55 metres wide, with eight rows of seats going all the way around the circumference, capable of seating nearly four thousand people, a whole one-fifth of the entire population. It hosted 78 games in the official quidditch season, between the months of May and August, and many friendly matches, or, in some cases, not-so-friendly matches during the off months.</p>

<p>Eight great towers rose over the stadium like candles on a birthday cake. These were the premium seats, where those who could afford it showed everyone else that they <em>could</em> afford it. Four of the towers held seats, just like the ones closer down to the ground — sixty-four seats in each tower. But the other four… <em>they</em> were the premium boxes — private spaces with only ten seats in each, complete with a dining area, a drinks cabinet, catered food, and a card table — purchased, or occasionally hired out, by the very rich or influential.</p>

<p>Wizards and witches were starting to flood into the stadium in preparation for the late-afternoon/early-evening game.</p>

<p>In one of the premium boxes, a stout, portly man wearing a bowler hat surveyed the thronging crowds. “Magnificent, isn’t it?” he said, fiddling with the trim of his robes. “Them all down there — and us — up here.” He preened before turning to the two people standing behind him, silently watching.</p>

<p>“I said, isn’t it magnificent?”</p>

<p>The woman dressed in pink robes started, apparently not realising he’d been expecting an answer. “Oh, yes, Minister, it’s wonderful,” she simpered. “Truly, you stand among the greats of wizard-kind.”</p>

<p>The minister beamed before turning to the wizard. “And what about you, Bentley? Don’t you think it’s magnificent?”</p>

<p>The man next to the woman bowed almost imperceptibly. “I must admit, Minister, that I <em>have</em> come to appreciate the little perks my position grants me.”</p>

<p>“Yes…” Minister Fudge looked the man up and down, uncertainly. Bentley was an older wizard with short white hair and the poise of a man who feels unquestionably secure in his position. He wore grey robes. Not the shabby grey of the unspeakables, or the embroidered grey that some young wizards now wore in imitation of Lord Slytherin, but the plain, charcoal grey of a man who considers himself a gentleman, despite not being born noble.</p>

<p>“Well, that makes two of us, doesn’t it?” Fudge laughed heartily, while Bentley merely gave a small smile.</p>

<p>Fudge turned back to the window. “Can’t wait to see the Magpies crush the Bats,” he muttered. “They need to be taken down a peg or two.” He brought his omnioculars up to his eyes and scanned the stadium. “Oh! Look!” He pointed excitedly to another premium box on the far side of the stadium. “Lucius and Edgar are here! I must go and say hello. Donation season coming up, and all.” He quickly left, leaving the witch and wizard alone in the Minister’s box.</p>

<p>“Tea, Mister Bentley?” Dolores Umbridge asked.</p>

<p>“Yes, please.”</p>

<p>“Sugar?”</p>

<p>“One spoon.”</p>

<p>“Milk?”</p>

<p>“Just a splash.”</p>

<p>After several moments of clinking and stirring, Dolores placed a cup of tea down in front of Bentley, who’d sat down at the edge of the box to watch the players start their pregame warm-up while the announcer shouted out quidditch news and updates to the crowd.</p>

<p>“Excellent. Please take a seat.”</p>

<p>Umbridge quickly sat down next to him with a cup of her own.</p>

<p>“Tell me, Dolores,” Bentley said, taking a sip of the tea. “What do you think of Lord Slytherin?”</p>

<p>Umbridge hesitated. “He’s attractive?”</p>

<p>“I was not referring to the general tendency of witches to view a well-cut figure in a mask to be some kind of ultimate romantic fantasy.” Bentley’s voice had turned sharp.</p>

<p>Umbridge flushed. “No, Mister Bentley. I’m sorry. I don’t know what to think of him. I don’t really know anything about him, apart from that he’s a pureblood.” She paused. “Well, he’d <em>better</em> be a pureblood.” The last words were more spat than said.</p>

<p>Bentley smiled. “Tell me, is it true that Arthur Weasley is going to try and push his muggle protection act through the Wizengamot again?”</p>

<p>“It’s possible.”</p>

<p>“With Lord Slytherin’s help?”</p>

<p>“There have been whispers.”</p>

<p>Bentley put his cup down with a little clink of porcelain. “Dolores, we can not allow that to happen.”</p>

<p>Umbridge looked shocked. “But why? It would increase the power of the ministry. Isn’t that what you want?”</p>

<p>“Yes, but not if there is a greater prize at stake. Tell me, why isn’t the ministry already the dominant force in Magical Britain?”</p>

<p>“Because of the Wizengamot.”</p>

<p>“Exactly! A Wizengamot that for the last four years has been a limp fish. Oh, it’s been wonderful. We’ve had almost a free hand. Lord Slytherin is like a gift sent from Merlin.” He paused. “But only so long as he keeps holding the Wizengamot back! If he starts making laws of his own he’s going to be pushing into my territory, and that is unacceptable.”</p>

<p>Umbridge worried her lip. “But what do you want <em>me</em> to do? I’m the <em>Minister’s</em> undersecretary now. It’s my job to carry out his wishes within the ministry.”</p>

<p>“Yes, that’s true. But I am not totally without power over you, Dolores, as you <em>well</em> know.”</p>

<p>Umbridge flinched.</p>

<p>“So, you know your duty.”</p>

<p>Umbridge sighed. “Yes, Mister Bentley.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Lord Lucius Malfoy stood by the glass wall of the box that the Dark had collectively chipped in to buy some thirty years ago, casting a critical eye over the thronging crowd. There were just so many of them — so many people — so many wands.</p>

<p>“Oh, look,” said Lord Edgar Nott, standing beside him, holding his omnioculars up to his eyes. “Greengrass and Moke are here.”</p>

<p>Lucius strained his eyes towards the top box on the other side of the stadium, just able to make out figures of Lord and Lady Greengrass among the other nobles. He chuckled. “Still bitter?”</p>

<p>Edgar ignored him, choosing instead to continue fiddling with his omnioculars. Behind them, Narcissa and Lady Nott were chatting with a few minor lords of the Dark. “Hey,” Nott said, “Who are <em>they</em> with Greengrass?”</p>

<p>“Who?”</p>

<p>“Look for yourself.”</p>

<p>Lucius took the omnioculars and peered across the stadium. He scowled. “<em>They</em>,” he said, “are Slytherin’s pet muggles, and his pet whore.”</p>

<p>“The girl I could understand,” Nott muttered, “but the muggles?”</p>

<p>“Their daughter is not without her talents, I’m told.”</p>

<p>Nott snorted. “Such a waste.”</p>

<p>There was the sound of a door clicking open. They both turned away from the glass wall, just in time to see the new figure look around the room, beaming with self-importance. Lucius put on his best sincere smile. “Minister.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>As the announcer finished recapping the results of last week’s match between Puddlemere and the Cannons (the Cannons lost massively) Jacob Greengrass scanned the skies around the pitch anxiously. Harry and Daphne were late. If they didn’t get a move on, the announcer was going to start without them.</p>

<p>On his right, Sunny was deep in conversation with Mrs Granger and Clare. A nice girl, Clare — very respectful. Shame about what happened to her. She was looking a lot more cheerful now, at least.</p>

<p>On Jacob’s left, Daniel Granger was bearing the brunt of Arthur Weasley’s muggle obsession with great aplomb while Weasley’s wife looked mildly embarrassed.</p>

<p>“Oh, oh! Could you explain to me the function of a rubber duck?”</p>

<p>“About the same as a dancing cake topper. Could <em>you</em> explain to <em>me</em> how promotion is decided within the Ministry of Magic?”</p>

<p>Which was odd, Jacob thought. He’d never seen Weasley up here in one of the top boxes before. They must have come into some extra gold.</p>

<p>Way below them, the long, thin line of wizards and witches that stretched all the way around the stadium started doing a Mexican wave.</p>

<p>“Excuse me, one moment, coming through.”</p>

<p>Oh, Merlin. Jacob pursed his lips. A small wiry wizard hopped over Dan’s legs and crouched down beside him. “Lord Greengrass,” he panted sounding out of breath. “I don’t suppose you’ve thought any more about—”</p>

<p>“No, Mister Hale,” Jacob cut him off. “The Gray will <em>not</em> be buying the last private box for the moment. <em>I</em> will let <em>you</em> know if and when we are.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Back in the Dark’s private box, Fudge preened. “I’m so glad I’m able to rely on your advice and support, Lucius, Edgar.”</p>

<p>“Of course, Minster,” Edgar said gruffly.</p>

<p>“If Madam Umbridge gives you any problems, just send her to us,” Lucius said, in that smooth tone he always used. “We’ll make sure she understands what her new position requires of her.”</p>

<p>There was a sudden roar from the crowd, by far the loudest so far. Fudge turned to see what had caused the ruckus and spluttered. “Lucius! Your omnioculars!” he cried, just as the announcer boomed.</p>

<p>“Wizards and Witches! Heiress Daphne Greengrass and Lord Slytherin!”</p>

<p>Fudge looked through the omnioculars and zoomed in to where the wizard he’d been <em>desperate</em> to talk to was riding a broomstick above the quidditch pitch — the Greengrass heiress riding side-saddle behind him, clearly enjoying herself.</p>

<p>“Three cheers for the birthday girl!” The announcer shouted.</p>

<p>Fudge was already out of the box and halfway down the stairs by the time the crowd got through its second cheer, feeling slightly miffed. <em>He’d</em> never got three cheers at the quidditch stadium. Not even when he’d just been elected minister — just a round of applause.</p>

<p>By the time he’d made his way onto the pitch, Lord Slytherin was shaking the last of the Magpies’ hands, while the team captain of the Bats bowed slightly for the girl.</p>

<p>“Lord Slytherin!” Fudge called heartily. “This is an unexpected pleasure! Welcome to Bodmin Stadium!” He beamed. “And you too Miss Greengrass.”</p>

<p>“Minister Fudge,” Slytherin nodded towards him.</p>

<p>“Please! Call me Cornelius.” He walked to stand with him. “Do you have seats? Oh, what am I saying, of course you do, but please — please allow me to treat you! A birthday gift for your future lady!”</p>

<p>He nodded towards the young heiress who was now watching with a rather blank expression.</p>

<p>“Yes,” he continued. “The Minister’s box is the perfect way to watch a game!”</p>

<p>Despite some reluctance on their part, he eventually managed to lead the two nobles up to the Minister’s box.</p>

<p>“This is Mister Bentley, the Humble Hag of the Wardrobe,” he said, gesturing to the politely bowing wizard “—and this is Dolores Umbridge, my undersecretary.”</p>

<p>“Charmed.”</p>

<p>A few minutes later, Fudge was rubbing his hands together in glee, looking out across the pitch while the referee unclamped the bludgers. This was so perfect. He’d been wanting to get Slytherin alone for years. And now he was his captive audience for the next two or three hours at least.</p>

<p>“Um, Minister?” said a very uncertain voice behind him.</p>

<p>He turned around. Mister Bentley and Dolores were looking around the spacious room in confusion, Bentley halfway through pouring a drink.</p>

<p>Lord Slytherin and Heiress Greengrass had vanished.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>On the roof of the Minster’s box, Daphne sat huddled up against Harry — and it <em>was</em> Harry now, rather than Lord Slytherin. They were both wrapped up in a blanket, which itself was wrapped in the invisibility cloak. Only their heads poked out the top of it, and <em>they</em> were disillusioned.</p>

<p>“Thank you, Harry,” Daphne said, softly. “I don’t think I could stand having to spend three hours listening to that twit prattle on.”</p>

<p>Harry chuckled. “One of the risks of going just a little over the top — you attract attention.”</p>

<p>Daphne smiled. “That <em>was</em> rather over the top. I was afraid for a moment you were going to have them play the wizarding anthem, too.”</p>

<p>“You enjoyed it.”</p>

<p>“Yes, I did.”</p>

<p>“AND THEY’RE OFF!” shouted the announcer. “WILLIAMS GRABS THE QUAFFLE, PASSES IT TO WALKER!”</p>

<p>The crowd roared its approval as the game started and the players sped off after their targets.</p>

<p>Daphne huddled closer.</p>

<p>“So,” Harry said, in a casual tone of voice. “The ritual of the lady?”</p>

<p>Daphne blushed. “Shut up.” She cast her gaze out across the pitch.</p>

<p>There were many rituals wizards and witches could perform on their thirteenth birthdays — almost all of them associated with either gender or sexuality. The ritual of the lady was one of the more traditional ones, granting the witch who performed it increased fertility and ease of childbirth. In exchange, her first six children would always be boys.</p>

<p>The ritual had fallen out of favour for the simple reason that, <em>generally</em>, only daughters and their immediate children could ever hold two sets of family magics at once. They were important in the creation of many unique magical artefacts.</p>

<p>But Daphne didn’t care so much about that. She’d chosen the ritual of the lady for other reasons. It was a promise. It spoke of another time, far off in the future, when the war Harry needed to fight would be over. When she and her lord would settle down and start a family of their own.</p>

<p>Out over the pitch, the Bats’ beaters had pinned the Magpies’ seeker, forcing him to drop the quaffle.</p>

<p>“WALKER CATCHES THE QUAFFLE, PASSES IT TO LAMBERT! LAMBERT SCORES!”</p>

<p>Daphne settled down to enjoy the game.</p>

<p>Over the next few hours, the Bats outflew the Magpies handily, eventually finishing the game when their seeker stopped bothering with the quaffle and focused exclusively on the snitch, quickly finding it and snatching it from behind one of the quaffle posts.</p>

<p>She and Harry quietly left soon after that, waving a quick goodbye to Daphne’s parents, and flying, again, all the way back to London, arriving at King’s Cross with plenty of time to spare for their portkey to Iceland.</p>

<p>They arrived in Reykjavik feeling the sickening effects of portkey travel, and quickly checked themselves into the only magical hotel in the city. Daphne slowly fell asleep going over the day in her head, a small smile on her face, despite her stomach’s queasiness. It really had been one of her better birthdays.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>A thousand kilometres to the South, in a magical and majestic Scottish castle, a shrill voice rang out through the Slytherin dungeons.</p>

<p>“WHERE — IS — HARRY!?”</p>

<p style="text-align: center;">— End of Chapter Forty-two —</p>

