Chapter 44 - Hermione's Quest - Part 1

<p><em>Fate raised a warning finger at Harry. “Remember not to let house rivalries detract you from strategic necessity. There are Gryffindors it would do you well to bring to your side.</em></p>

<p>“…<em>Granger.”</em></p>

<p>— <em>Chapter One</em></p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>[19th September 1992]</p>

<p>“Happy Birthday, Hermione!”</p>

<p>“Thank you.”</p>

<p>“Congratulations on your thirteenth, Vassal Granger.”</p>

<p>“Tim, that’s not really a title that <em>you</em> give her.”</p>

<p>“Sorry.”</p>

<p>The Great hall was packed. It was lunchtime and people had been approaching Hermione all day.</p>

<p>“So, er, <em>Miss</em> Granger, will you accept this as my declaration of intent?”</p>

<p>Hermione took the package from the older Ravenclaw boy and examined it critically. She opened the box and looked inside. It was full of Ferrero Rocher.</p>

<p>“That’s okay, isn’t it?” the boy asked nervously. “My grandmother is a muggleborn, and she said you might feel more comfortable with this sort of thing than something more traditional.”</p>

<p>Hermione smiled. “Yes, thank you very much, mister…?”</p>

<p>“Oh! Fairbanks, Timothy Fairbanks.”</p>

<p>“Then yes, Mister Fairbanks, I accept your gift.”</p>

<p>Timothy bowed and hustled off.</p>

<p>Hermione turned back around in her seat and added Fairbanks’ gift to the pile. Intention gifts with extremely muggle origins had been a running theme so far.</p>

<p>On Hermione’s right, serving herself a portion of green peas and mashed potato, Daphne smiled. “That’s fourteen so far.”</p>

<p>Hermione’s smile faulted. “Yes.”</p>

<p>“That’s more than many girls get all day.”</p>

<p>“I know.”</p>

<p>“It makes sense though. Many families who wouldn’t bother going after the daughter of a noble house seem to be more comfortable encouraging their sons to go after you. Even if their muggle gifts are borderline insulting.”</p>

<p>“I’m okay with them.”</p>

<p>Daphne gave her friend a sideways glance. “And yet, you do not seem to be bursting with joy.”</p>

<p>Hermione hesitated.</p>

<p>Daphne smirked. “Maybe you are waiting for one gift in particular?”</p>

<p>Hermione said nothing. Instead, she stared at the tangerine bowl and remembered an exchange she’d overheard over a week ago.</p>

<p>Harry had been talking on the sofa in his trunk while she, Hermione, had been reading a book in a corner. She’d been mostly ignoring Harry’s conversation with his guest until he said something that reached straight through her occlumency shields and activated the part of her mind labelled, ‘utter dread.’</p>

<p>“Tracey, I can’t marry <em>everyone</em>.”</p>

<p>Tracey was sitting opposite Harry with her hands on her knees. She had her head down and was staring at the floor.</p>

<p>“There are lots of wizards out there,” Harry continued. “And what I have committed myself to, is already… pushing the bounds of social respectability.”</p>

<p>Tracey didn’t look up.</p>

<p>“Besides, Lord Davis made my involvement in your courting conditional on my <em>not</em> being one of the suitors. If we work together, we can easily stall him long enough for one of our classmates to grow up enough to actually make an impression on him.”</p>

<p>Tracey mumbled something under her breath.</p>

<p>“You know, I definitely miss the snarky Tracey. This meek version is just the type the old men like.”</p>

<p>Tracey finally raised her head and glared. “I <em>said</em>, ‘Fine!’ Potter.”</p>

<p>Her expression softened. “And thank you, my lord.”</p>

<p>Tucked away in her reading corner, Hermione’s heart had been beating at a mile a minute throughout the exchange. It took most of the rest of the day to calm down.</p>

<p>Daphne neatly loaded the back of her fork with mushy peas and mash, elegantly brought it to her mouth, chewed, and swallowed. She put her fork down. “Hermione, you aren’t seriously worried, are you? Harry all but said he was going to get you an intent gift last year.”</p>

<p>Hermione <em>was</em> worried. When she’d been younger, she and Harry had once both taken ageing potion and secretly attended a noble and pureblood party, and ‘Charlotte Timberland’ had experienced adult feelings for the first time. Now they were back with a vengeance—had been for some time, in fact—and the only thing worse than having her thoughts constantly filled with Harry were the thoughts suggesting this was all a big mistake and that he’d never intended them to be close in that way, or else that he’d changed his mind, maybe because she wasn’t good enough, hadn’t proved herself enough, that she, in fact, <em>wasn’t</em> Harry’s most trusted. After all, he was already ‘pushing the bounds of social respectability.’</p>

<p>Hermione took a deep, shuddery breath and used her occlumency to centre herself.</p>

<p>“Miss Granger?”</p>

<p>Hermione turned around.</p>

<p>“Happy thirteenth. Would you accept this as my family’s intent gift?”</p>

<p>She inspected the gift. It was an ostrich-egg-sized Terry’s Chocolate Orange.</p>

<p>Classes that day were pure torture. Harry didn’t act any different to how he usually did and Hermione just couldn’t focus on her work. It was a small mercy that they’d only had History of Magic that afternoon. By the time classes were finally out, she’d added another two muggle-inspired intent gifts to her pile and one actually magical one.</p>

<p>“Let’s display all the muggle chocolate on our table in the common room,” Tracey suggested with a grin. “It’ll drive Malfoy nuts.”</p>

<p>Hermione then spent a whole hour watching the common room door, at first with nervousness, but then, as the minutes dragged on, with a slowly sinking feeling.</p>

<p>“Miss Granger?”</p>

<p>It was all Hermione could do not to yelp. This time, when she turned, it was to find Harry standing on her other side.</p>

<p>“Y-yes, Mister Potter?”</p>

<p>“A word, if you please.”</p>

<p>Hermione cleared her throat. “Yes, of course.”</p>

<p>Harry turned and walked back to his dormitory.</p>

<p>Feeling like her body was made of lead, Hermione stood up on unsteady feet and pointedly ignored Daphne’s smirking face.</p>

<p>She soon found herself in Harry’s trunk, sitting opposite him on the sofa, with her hands on her knees.</p>

<p>“We’ve got a lot to talk about, Hermione,” Harry said. “Well, I hope we do. I’m not one for beating about the bush when there’s a massive elephant in the room, so here goes. Would you accept a declaration of intent gift from me?”</p>

<p>It was as if a dragon-sized weight had been lifted from Hermione’s shoulders. She’d read the expression ‘her heart soared’ many times in her life, mostly in the many romance novels she’d read as part of her initial training in wizarding culture, but she’d never properly appreciated just what the phrase meant — until now. “Yes, Harry,” she said. “I would like that a lot.”</p>

<p>Harry smiled. “Then it will be so. We’ve both come a long way since we first met.”</p>

<p>“Yes. You were the best maths tutor I ever had.”</p>

<p>“I was the <em>only</em> maths tutor you ever had.”</p>

<p>Hermione giggled. “So, what’s the lots we have to talk about?” Now that her mind had broken through the barrier it had been slamming against all day, if not all year, it was free to speed ahead off into the distance. “Is it about courting? Or priority? Since Daphne is Lady Slytherin and Luna is a consort, what would I be? A consort too? A Potter? I can’t also be a Slytherin, I know that — talking to snakes and flying would be wonderful though — maybe then I’d be better on a broom. Oh! How are we going to talk to Mum and Dad about this? Or your parents? Would Lord Potter need to sign a contract if I was going to be a Potter? But you’re a lord, too. Or doesn’t it work like that? Maybe—”</p>

<p>“—Hermione.”</p>

<p>Hermione stopped.</p>

<p>Harry was smiling at her.</p>

<p>She blushed. “Sorry.”</p>

<p>“That’s okay. Remember that we are still very young. And unlike other wizards our age, we have the added advantage that no one can sign a contract for you without my approval first — a rock-solid safety net — although I’m sure that Luna would point out that a rock-solid safety net is actually a pretty poor design choice.”</p>

<p>Hermione smiled.</p>

<p>“And to answer a few of your questions, Lord Potter <em>would</em> need to sign if you were going to be a Potter, but, assuming our courting goes well, I imagine you’d be a Granger.”</p>

<p>“So you would be my consort then.”</p>

<p>“Technically, yes. Consortships are most common among noble houses, but many houses have family magics that they don’t want released to the general populace — purebloods especially.”</p>

<p>“But why not a Potter? Unless… Oh, hang on.” Hermione bit her lip as her mind quickly made links that she’d just not been in a position to make before. “Slytherin Manor has twelve bedrooms apart from yours.”</p>

<p>“It does.”</p>

<p>“Twelve?!” Hermione squeaked. “That’s the ‘bounds of social respectability?’”</p>

<p>“<em>Someone’s</em> been eavesdropping on private conversations,” Harry said with a grin. “But no — not twelve — five actually.”</p>

<p>Hermione let out a relieved breath. Five she could handle. Twelve would have been ridiculous. Not that Harry couldn’t handle twelve girls — he obviously could — he was Harry — but she wasn’t. A thought struck her. “Wait a minute. If not Tracey, then who? Ginny?” Her thoughts went to their combat training, and to the raven-haired girl she’d been arguing with all year. “Oh, please not Black.”</p>

<p>“You don’t believe the Lady Black would be a worthwhile addition?”</p>

<p>Hermione huffed. “No, you are right, of course, but she can be really immature.”</p>

<p>“This from the girl who wrote her evil headmaster a letter in neon-pink ink with dancing unicorns and smiley faces.”</p>

<p>Hermione blushed.</p>

<p>“But enough about that,” Harry said with a smirk. “I think it’s time I fulfilled my promise and gave you your gifts — both of them.”</p>

<p>“Oooo, yes.”</p>

<p>Harry’s birthday gift turned out to be a rather nice leather bound book on advanced healing techniques. She carefully placed it on the bookshelf in her trunk after profusely thanking Harry and was about to climb out when Harry stopped her. Apparently her other gift, the declaration of intent gift, the <em>important</em> gift, would require the pensive. Hermione bit her lip. What could it be? Some amazing piece of arcane magic? A hidden secret stolen from the Dark Lord’s head?</p>

<p>Harry stood by the runed bowl holding several glass vials in his right hand, filled with silvery memories. His left hand held an envelope. “I was thinking about getting you another small library like I did when we first met,” he said, fingers absentmindedly flicking the envelope round and round. “But then I thought, no, I wanted to give you something that actually meant something, to me. But then I thought, well, I don’t really have much that means a lot to me — not really. I had to really dig deep to find something worthwhile.” He stopped flicking the envelope. “I’m dredging up painful memories here. But well, we’re friends, aren’t we?”</p>

<p>“Harry, you are my <em>best</em> friend,” Hermione said with zero hesitation.</p>

<p>Harry smiled softly. “Then, will you accept this as my declaration of intent gift?” He handed her the envelope.</p>

<p>Hermione deftly opened it with her wand and was surprised to find that the only thing the envelope contained was a simple chocolate frog card.</p>

<p><em>MERLIN</em></p>

<p><em>Famously the greatest wizard who ever lived. Merlin is reputed to have been born in the early 400’s, although no one knows for sure. Among the greatest of his achievements was the construction of the Albion Family Magics, the building of the Libra Arcanum, which later became the Hall of Prophecies, and the defeat of Dark Lady Morgana. Despite his many crowning glories, his intimate relationship with the Dark Lady remains his most well known and most controversial.</em></p>

<p>“Harry? Yes, I accept it — happily — but I don’t understand it.”</p>

<p>Harry took one of the glass vials, uncorked it, poured it into the pensieve, and gestured her forward.</p>

<p>Hermione stepped forward, took a deep breath, dipped her finger in Harry’s memory, and was sucked in and forward, down, down, down.</p>

<p>Hermione landed.</p>

<p>A whistle blew. A floor jerked under her. Wizards and Witches waved from behind a window to her left, and the Hogwarts Express slowly started chugging out of Platform Nine and Three-Quarters.</p>

<p>Hermione got her balance and tucked a stray hair behind her ear.</p>

<p>Okay, she thought, this probably wasn’t the Dark Lord’s memory — that must make it one of Harry’s. Was this from their timeline, or… her heart skipped a beat… was it from the last one?</p>

<p>The door to her right was half open. That would be as good a place as any to start. She stepped through the door and her breath caught.</p>

<p>A small boy sat alone on the seat. Obviously Harry, but that wasn’t what stole her breath. Everything about her friend suggested he was nervous, poor, and uncared for. His hair was dirty. His clothes were both muggle and threadbare. The trunk by his feet looked like a good kick would put a hole right through it. Hermione had by now spent years learning how to read people and this Harry looked like he was expecting the world to spit on him and then charge him for the privilege — The way he sat all hunched up on his seat, reading a potion-stained second-hand book — the way his eyes flickered around as though waiting for a wonderful dream to end.</p>

<p>Then, something happened to the memory, like the passing of time far faster than normal. The door opened and closed several times and a half dozen young witches and wizards streamed in and out, some taking longer to talk to Harry, some just poking their head in before leaving.</p>

<p>The memory slowed down again.</p>

<p>The door behind her creaked open and a bossy voice said, “Is there any room here, I say, is that a book you’re reading?”</p>

<p>Hermione winced. She recognised that voice. How could she not? She turned. This at least, wasn’t a surprise. She’d seen the other Hermione before when Harry showed her what her manners in the last timeline had been like — or rather, what they hadn’t been like.</p>

<p>Last timeline Hermione still had her huge buck teeth and her hair was so bushy one might expect to find baby birds nesting in it, but by far the greatest difference was her expression. It was an expression which screamed, “I am superior to you all, because I know all the things,” at a hundred-thousand merlins.</p>

<p>Harry nervously held the book up as though for inspection.</p>

<p>“Oh, yes, I’ve read that one,” Hermione said, rather dismissively. This however, didn’t stop her from sitting on the seat opposite the young boy. “Have you also read our potions book?”</p>

<p>Harry nodded.</p>

<p>“I’m really looking forward to lessons,” Hermione continued, “I’ve heard transfiguration is supposed to be the hardest, so naturally that’s what I’ve been reading the most.”</p>

<p>The rather one-sided conversation continued for five minutes before the subject of Harry’s brother was raised.</p>

<p>“I’ve read all about him of course, I’m surprised you’re not sitting with him.”</p>

<p>And it was only a little later that the trolly arrived and Last-timeline Hermione, looking rather guilty, bought an arm-full of different wizarding sweets of all types. This included several chocolate frogs, which This-timeline Hermione proceeded to watch the way a carnival-goer might watch the one cup out of three that the small, white ball had just been placed under. And just like the carnival-goer, Hermione’s mind was racing ahead, trying to solve the puzzle before the solution was presented. It wasn’t exactly hard.</p>

<p>She held the Merlin card tightly in her hand while Harry unwrapped his chocolate frog to find a Merlin card of his own.</p>

<p>She shook her head as Last-timeline Hermione complained that having to buy chocolate to learn about wizarding history was stupid.</p>

<p>And she nodded as Harry, the younger version of her Harry, gave the card to her other self, before asking timidly if they were friends.</p>

<p>Last-timeline Hermione hesitated before leaving the compartment. Someone was missing a toad, apparently, and she’d volunteered to help look. The look on her face betrayed her nervousness over Harry’s question. “Of course, we’re friends,” she eventually said in a matter-of-fact way. And despite the terseness in her words, This-timeline Hermione could easily hear both the promise and the hope in her other self’s words.</p>

<p>The door slid shut.</p>

<p>And Hermione was raised up — up and out — exiting the pensieve with a single, well-practiced, elegant step. Out of the memory, and back into the real world.</p>

<p>Harry was watching her.</p>

<p>“I had no idea,” she whispered. “I thought I just ignored you. I had no idea we were actually friends.”</p>

<p>Harry suddenly looked extremely awkward.</p>

<p>“What?”</p>

<p>Harry looked at the other vials in his hand.</p>

<p>“There’s more?” Hermione asked.</p>

<p>“I wasn’t actually sure if I was going to show you these. I’m still not sure if I should. It feels a bit much.”</p>

<p>“Is it about <em>me</em>? If it’s about me, then I want to know.”</p>

<p>Harry regarded her intently. For a moment she was scared he was going to say no. Eventually though, he slowly nodded, and gestured her towards the pensieve.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“What do you think?” one older Slytherin asked his friend.</p>

<p>“I think it’s disgusting.”</p>

<p>The two boys were glaring at the court of the Gray, with its massive pile of muggle sweets and chocolates on the low table, taunting them with its heretical untouchability. They were Gray themselves, but the Gray’s ambiguous political stance meant that there were, in fact, many dark leaning purebloods among their ranks — many who regarded the shameless display of such muggle artefacts as ‘not the way we do things.’</p>

<p>They were shocked out of their idle grumbling when the girl to whom the presents had been gifted burst out from the stairs to the dormitories, marched across the common room with barely concealed tears in her eyes, angrily slashed her wand at the pile and cried, “Incendio Tria!”</p>

<p>A powerful blue fireball billowed out of her wand and engulfed the table, quickly incinerating everything it held.</p>

<p>The common room watched with wide eyes.</p>

<p>They couldn’t know that the girl had just watched her other self quickly turn away from her best friend as a result of peer pressure from her Gryffindor classmates.</p>

<p>They couldn’t know that simple ignoring, soon turned into nasty jabs and insults, growing slowly worse over time, and that two years after that she’d torn up the chocolate frog card he’d once given her, right in front of his face, while calling him a murderer.</p>

<p>All they saw was the thirteen-year-old girl torching a pile of muggle gifts in anger and fury with tears still pouring down her cheeks.</p>

<p>‘Pureblood in all but blood’ was the phrase some of them used later on.</p>

<p>They certainly didn’t see Hermione rushing back to Harry’s trunk and proceeding to have an emotional breakdown on her best and oldest friend’s shoulder, crying and sobbing, while swearing that she would never ever do that to him, ever, ever, ever.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>[The present]</p>

<p>After the incident in the forest with the acromantula, the only thing the school wanted to talk about for a whole week was Draco Malfoy and his supposed basilisk summoning ability. It didn’t matter that casting the spell had damn near killed him. It didn’t matter that the only reason he’d been able to cast it in the first place was because he’d unwittingly turned himself into the magical equivalent of a lightning rod, channelling raw power through his body, straight from the Hogwarts wards themselves. It didn’t even matter that doing so had destroyed his wand, an event of near traumatic levels for most wizards, forcing Draco to drop classes until Lord and Lady Malfoy turned up to get him a new one.</p>

<p>No, none of it mattered. Whispers followed the young heir everywhere. People who usually nodded to him with slight disdain, now nodded politely. Those who used to nod politely, now did so with a touch of fear.</p>

<p>One might suspect this would result in an increased willingness on the boy’s part to bully and harass his classmates with all sorts of strange spells and hexes, but oddly, it hadn’t happened, something that Hogwarts’ resident healer, Madam Pomfrey, in particular was grateful for.</p>

<p>She was less grateful for this.</p>

<p>“A leave of absence?” Madam Pomfrey looked up from the letter she’d been handed, the better to stare at her most promising student. The letter was signed, both with her parent’s signatures, and that of Lord Slytherin.</p>

<p>“It shouldn’t be for long,” Hermione said. “My family has some business I need to take care of, which will take up a lot of my time. You did say I was well ahead of my studies.”</p>

<p>Madam Pomfrey grunted disapproval. In truth, the young Slytherin wasn’t just ahead on her healing training, she was <em>miles</em> ahead. If she’d continued as she had been, she could have conceivably finished healer training before she left Hogwarts — an unheard of achievement. Unlikely now, apparently.</p>

<p>“Very well, Miss Granger,” she said, reluctantly. “I do hope this won’t be for <em>too</em> long though.”</p>

<p>“No, Madam Pomfrey.”</p>

<p>“And I expect you to keep your skills and knowledge at their current level of sharpness. If you come back here having backtracked I will be most unhappy.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The gathering was the usual Wizarding crowd from the upper echelons of the nobility. Tracey recognised some of them, and those that she didn’t she was sure she’d know by name — their last names, at least. There <em>were</em> a few young men, but they mostly kept their attention on the young women. That is to say, they kept it on the women who were older than she was, but still young enough to be called so.</p>

<p>“I don’t think I really like the look of <em>anyone</em> here,” Tracey whispered to her escort.</p>

<p>Harry, disguised as Lord Slytherin, shrugged. “Don’t worry about it. We’re just going through the motions. I wouldn’t expect you to suddenly declare your undying love to someone twenty years your senior over a plate of club sandwiches.”</p>

<p>This particular gathering wasn’t in the ballroom of some great manor, as was often the case, but instead in the Lovegood’s garden. Small tables had been set up and all manner of finger food provided for the guests. Some of the lords had parked themselves at the barbecue, where Lord Lovegood was happily burning sausages, while a similar gathering of ladies, led by Lady Lovegood, had taken up residence in the orchard gazebo. The rest of the guests had scattered themselves around the garden, standing and chatting, while a wizarding troupe played orchestral versions of popular Weird Sister’s songs.</p>

<p>“I’m surprised you managed to ‘get out’,” Tracey said, putting the emphasis on the getting out part. “Considering what happened last time.”</p>

<p>“I think you all handled what happened the other week admirably,” Slytherin said. “And now they have experience, I’m sure the others will be able to handle—” his voice dipped lower “—My mother, even better if she comes looking for me again.”</p>

<p>Tracey smirked. The image of Lady Potter in green and silver robes, wearing a mask, and introducing herself as ‘Mummy Slytherin,’ was just too amusing.</p>

<p>“Look there,” Harry said. “By the conservatory door.”</p>

<p>Tracey looked. An older man of average height with a slightly portly build was chatting amiably with a lady who looked like someone had pushed dead rat under her nose. “Is that Lord Thynn?” She asked.</p>

<p>Harry nodded.</p>

<p>“Are you going to introduce me to him?”</p>

<p>Harry snorted. “No, I think not.”</p>

<p>“Why not? He looks amiable enough to not care if I turn him down. Is it because he’s Light?”</p>

<p>“Not at all. You remember before when I was talking about the ‘bounds of social respectability’?”</p>

<p>Tracey’s eyes widened slightly. “But he isn’t even married?”</p>

<p>“No, he isn’t. He does, however, have a—how can I put this lightly?—he has a harem.”</p>

<p>Tracey looked at Harry with narrowed eyes. “<em>You</em> have a harem.”</p>

<p>“Oh, no, no, no,” Harry tutted. “I’m not talking about merely being contracted to more than one witch, no, I mean a <em>real</em> harem. As in, he has a large group of unmarried women who live with him in his manor and are reliant on him for their well being — over twenty of them.”</p>

<p>“How does <em>that</em> work?”</p>

<p>“From what I understand, they’re mostly muggles.”</p>

<p>Tracey’s eyes widened again. “I thought he was Light.”</p>

<p>“He is. He loves muggles. Literally.”</p>

<p>“Wooooow.”</p>

<p>“Don’t mention anything though. It’s a slightly less than open secret.”</p>

<p>Tracey nodded at about the same time as Harry gave her arm a firm squeeze. “Look sharp, Tracey. We have company.”</p>

<p>“—Lord Slytherin,” a voice said.</p>

<p>Tracey turned to see an older man she didn’t recognise with short white hair, charcoal grey robes, and a comfortable smile approaching them.</p>

<p>“Tracey, this is Mister Bentley. Mister Bentley, this is Heiress Tracey Davis.”</p>

<p>“A very pretty young lady,” the older man said.</p>

<p>“Thank you, Sir,” Tracey said as she came back up from her automatic curtsey.</p>

<p>Lord Slytherin nodded to the man. “Mister Bentley is our Humble Hag. He runs the ministry while Minister Fudge is out shaking hands and kissing babies.”</p>

<p>“He runs…” Tracey noticed the corners of Mister Bentley’s lips tug upwards at Harry’s comment. “I’m so sorry, I should have recognised you.”</p>

<p>Mister Bentley shook his head. “A civil servant isn’t supposed to be famous.” He looked to Lord Slytherin. “And that was hardly fair, my lord. Minister Fudge does a sterling job. I’m sure you’d have come to the same conclusion if you’d stuck around at the quidditch match to listen to several hours of his unrivalled charisma.”</p>

<p>“I do apologise. I was afraid that Daphne wouldn’t have been able to handle the overwhelming excitement.”</p>

<p>“I believe the minister wanted to talk about noble funding.”</p>

<p>“I suspect he’s not the only one.”</p>

<p>Tracey was watching the exchange in fascination.</p>

<p>“I?” Mister Bentley asked. “I am but the humble hag. It is not my business to involve myself in the matters of department heads.”</p>

<p>“Department heads of the wardrobe?”</p>

<p>“Yes.”</p>

<p>“Humble hag <em>of</em> the wardrobe?”</p>

<p>Mister Bentley looked around innocently before looking back. “<em>If</em> we lived in a world in which the humble hag of the wardrobe <em>did</em> have a say in how the departments that <em>he</em> oversees got the majority of their funding, then <em>if</em> an individual turned up out of the blue who looked to be rich enough to fund the entirety of a minor department or quango all by himself, I suppose that humble hag <em>might</em> be interested to hear what interests this individual has that might affect his eventual decision.”</p>

<p>Harry was silent for a few moments before he finally said, “I like bird watching.”</p>

<p>Mister Bentley smiled. “I’m glad we had this discussion, Lord Slytherin. And you too, Heiress Davis. If you’ll both excuse me?” He bowed and left.</p>

<p>“I like bird watching?” Tracey asked, incredulously. “Was that code for something?”</p>

<p>“Not really.”</p>

<p>“Is Mister Bentley married?”</p>

<p>“No. His wife died fifteen years ago.”</p>

<p>Tracey smirked. “Then you should be thankful you’re not a witch with an open contract, because I think he <em>enjoyed</em> that.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was morning in the great hall. Halloween had come and gone with barely a hiccup, minus Headmaster Lockhart standing up and declaring that that night would be ‘trick or treat,’ and since there were only four doors in the castle that students dared trick or treat at, a small inter-house war inevitably broke out when certain students decided they’d much rather just eat the treats they’d been given and not hand them out at their common room entrances.</p>

<p>There certainly weren’t any petrified cats, threatening messages on walls, or puddles of water on floors — something that frustrated John Potter no end. The timeline was diverting horribly — had diverted horribly already, in fact, and there was nothing he seemed to be able to do to stop it. He was flying blind now, and would have to make the best of a bad situation.</p>

<p>“You look like you woke up on the wrong side of the bed,” Virgo commented from his left side — a very pretty girl — one of those major diversions.</p>

<p>On his right side, Lavender snorted. “He’s under too much stress. Aren’t you, John? Quidditch, Duelling, Homework, and looking after <em>you</em>!” she said this last part to Virgo with a little more heat than John thought was necessary.</p>

<p>Virgo looked ready to retort back, but John cut over them both. “Girls,” he said, “it’s fine. There’s nothing wrong and I am <em>not</em> under too much stress. And Virgo <em>needs</em> looking after. I can’t tell you why, but she does.”</p>

<p>Virgo nodded at him and went back to work on her breakfast while Lavender pouted.</p>

<p>Just then, the post arrived, dozens of owls streaming down into the great hall to drop off their many packages and letters. John collected the many letters to the-boy-who-lived and stacked them in a neat pile beside him. Virgo took the first letter off the pile, slit it open with her wand, and read. “<em>Another</em> donation,” she eventually muttered. “House Potter is doing quite well out of you, aren’t they?”</p>

<p>John gave her a nonchalant shrug.</p>

<p>Surprised noises around the hall made him look up again. The post owls were not nearly finished with their deliveries, but all the rest of them were focused on one table, and one girl, in particular. Hermione looked ecstatic. Like a child with a new toy. Or rather, like Hermione with a new book, a proud beacon of joyful energy, which is exactly what this was — only more so. <em>Dozens</em> of owls kept arriving, one after the other, all of them carrying very obviously book shaped packages. Some of the books weren’t even wrapped up and looked <em>extremely</em> muggle. He spied one of the titles and leaned closer to Virgo. “What does ‘cypher’ mean?”</p>

<p>“To write in code,” Virgo said, simply, in the middle of reading another of his letters.</p>

<p>“What would a Slyth—” John stopped himself. He <em>still</em> couldn’t bring himself to think of Hermione as a Slytherin, and seeing her so obviously proud to be sitting across the hall still made him furious if he thought about it for too long. “What would a <em>witch</em> need a muggle book on that for?”</p>

<p>“Presumably because she has a message that she wishes to send without it being read and doesn’t trust magic to do the job for some reason, or she has a coded message she wants to read — not unusual for Slytherins.” Virgo looked up. “That’s what my father said, anyway.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The basic gnome, as many know, is a magical creature shaped vaguely like a potato — semi-sentient and highly destructive to magical gardens up and down the country. Muggles didn’t see them, like many magical creatures, not because they couldn’t, but because their minds simply slid over them the same way they did outside the Leaky Cauldron or when faced with the Knight Bus.</p>

<p>Not being noticed when you are at the bottom of the food chain is a useful ability to have. It’s just a shame that the power of a notice-me-not is relative to the power of the observer doing the noticing.</p>

<p>Somewhere deep in a pristine flower-bed, a gnome, unfortunate enough to decide to explore this particular garden, let out a terrified squeak and bolted for the ward line. It got all of twenty paces before a bright red light hit it square on the back and sent it tumbling into a dry-stone wall.</p>

<p>A man bent down, picked up the creature, and dangled it by a foot.</p>

<p>“Good shot, Mister Bentley.” An old witch hobbled up to the on the other side of the dry stone wall and gestured at the gnome with her cane. “That little blighter’s been giving me the run around for days.”</p>

<p>Mister Bentley gave her a polite smile. He and Mrs Bun had been neighbours for nearly thirty years now. “Surely not,” he said. “I can’t imagine <em>anything</em> that could slip past your exacting gaze.”</p>

<p>“Eyes, not as good as they once were.”</p>

<p>“And yet, your garden is looking as perfect as ever.”</p>

<p>“Oh, you charmer.”</p>

<p>An owl holding a letter chose that exact moment to alight on the wall between them.</p>

<p>Mister Bentley let out a theatrical sigh. “Duty calls, it seems.” He read the letter as Mrs Bun hobbled off. It was a request for a private meeting from one of his better placed little helpers. He produced an eagle feather quill from the recesses of his robes, penned a quick reply, tied the note onto the owl’s leg, and, as an afterthought, tossed the still stunned gnome to the bird of prey, which snatched it in its talons and leapt into the air.</p>

<p>Mister Bentley then turned his attention back to his garden. The leaves needed to be gathered, the flowerbeds weeded, the bow-truckles fed, and the lawn trimmed. Not that anyone taking a casual glance would say that it was anything other than immaculate, but that was the point, wasn’t it? Work you can take pride in required constant effort over many, many years. He produced his wand, and quietly got to work.</p>

<p>He was pruning his dwarf whomping willow when the wards alerted him that his little helper had arrived.</p>

<p>Calmly, but efficiently, he summoned tea from the house, along with various papers and boxes, sat down at the little patio table, and considered how best to steer his masters the way they needed to go.</p>

<p>Lord Slytherin would be an important key, of that he was sure. He hadn’t been entirely sure about the man when they’d first met at the quidditch match, but his subsequent chat had alleviated some of his concerns. Bird watching, indeed. That probably meant the Department for the Regulation and Control of Magical Creatures. Nothing too worrying. The man was like him — a gentleman — dignified, poised, and cultured. It such a shame their political alignments currently put them at odds. He’d have made an amazing under-secretary.</p>

<p>And speaking of under-secretaries…</p>

<p>“Ah, Dolores, please have a seat.”</p>

<p>Dolores Umbridge, wearing salmon pink robes, sat down opposite him, looking nervous. “Mister Bentley.”</p>

<p>He served them both tea and then immediately got down to business. “I understand Lord Malfoy summoned you to Malfoy Manor last week. What was that about?”</p>

<p>“He was telling me about my new responsibilities. He said that the Minister is nominated by, and serves the Wizengamot, and as such, my loyalty must first be to them — no matter what my loyalties might have been in the past.”</p>

<p>“And what did you say to this?”</p>

<p>“I agreed.”</p>

<p>“Well done.” Bentley took a sip of tea. “Did he say anything else?”</p>

<p>“He asked me to pass him any important wardrobe papers.”</p>

<p>Bentley thought about this for a moment, put his tea down, reached for the stack of files on the table, flipped through them, extracted several, and passed them over. “Here you go. He should find <em>those</em> ones rather amusing. Now, what of Mister Weasley’s muggle protection act? Any progress on getting it scrapped?”</p>

<p>Madam Umbridge fiddled with the hem of her robes. “Um, I’m not actually sure…”</p>

<p>Bentley paused with his teacup halfway back to his lips. “Not sure about what?”</p>

<p>“Well, how exactly do I do that? I don’t know anyone with dirt on Weasley. Not that they’re willing to give away, anyway. The man seems friends with <em>everyone</em>.”</p>

<p>Bentley sighed and put his cup down with a clink. “Okay, let’s go through this logically, shall we? Firstly, who is Arthur Weasley’s boss?”</p>

<p>“He doesn’t have one? The Misuse of Muggle Artefacts Office is a quango.”</p>

<p>“True, then let me ask another question, who appoints Mister Weasley?”</p>

<p>“Regent Bones — in her capacity as chief warlock on the magical court — but she’d never sack him.”</p>

<p>“Does Regent Bones have a boss?”</p>

<p>“Not on the court — it’s an appointment for life.”</p>

<p>“But as Head of the Department of Law Enforcement?”</p>

<p>“Minister Fudge.”</p>

<p>“And does Minister Fudge have the power to fire Madam Bones?”</p>

<p>“No, only the Wizengamot can appoint department heads.”</p>

<p>“—And the Light have had a stranglehold on the appointment of the Head of Department of Magical Law Enforcement for over forty years.” Bentley nodded. “So, that avenue is closed. Now tell me, what else does a quango need to do its job apart from leadership?”</p>

<p>“Laws.”</p>

<p>“Who makes these laws?”</p>

<p>“The Wizengamot. But I thought the whole point of this was to <em>stop</em> the Wizengamot.”</p>

<p>“Indeed it is, so that avenue is also closed. What else does a quango need?”</p>

<p>“Gold.”</p>

<p>“Where do they get that gold?”</p>

<p>“Patrons. And the Ministry Vault. ”</p>

<p>“Yes. Now, the Ministry Vault is interesting, but as much as we would like it to be otherwise, only a lesser percentage of our funding actually comes from there. Let’s talk about patrons. Who is the primary benefactor of the Misuse of Muggle Artefacts Office?”</p>

<p>“I don’t know.”</p>

<p>“Well, luckily for you, I <em>do</em> know.” Bentley handed Dolores a single piece of parchment.</p>

<p>Dolores read it. “Lord Thynn?” Her nose wrinkled in disgust. “Blood traitor. But I still wouldn’t know where to begin putting pressure on him.”</p>

<p>“What you may <em>not</em> know is that Lord Thynn keeps a rather large collection of muggle women at his manor.”</p>

<p>“Muggles?” Dolores spat. “That’s disgusting. How is he allowed to do that? Doesn’t that violate the statue of secrecy?”</p>

<p>“He uses the muggle guide laws. Officially, they are <em>all</em> his ‘girlfriends.’ Of course, if they want to stop being his girlfriends, they are free to do so, but then they also get their memories wiped. I suspect a wizarding lord can provide many incentives to not want their knowledge of magic wiped.”</p>

<p>“So how to get him on our side?”</p>

<p>Bentley gave the pink-dressed witch an annoyed look. “I have provided you by far all the clues you need. If you can’t work out the rest, perhaps I am putting my faith in the wrong place.”</p>

<p>Dolores grimaced and went quiet. For a whole five minutes the two sat, Bentley quietly enjoying his small private paradise — green, fresh, and tranquil, far away from the bustle and noise of the city and the ministry.</p>

<p>Eventually, Dolores cleared her throat and started to voice a plan, tentatively at first, but as she continued to speak, with growing confidence and certainty. By the time she finished and looked to him for approval, she had a self-satisfied smirk on her face.</p>

<p>Bentley smiled. He knew she’d get there in the end.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In the privacy of her trunk, Hermione ripped the paper off the last of the books she’d received from her parents and placed it next to the others in a line so that the edges matched up just so. She cast a critical gaze at the collection and then rearranged them to sit in alphabetical order. Then she arranged them again, but this time by subject. Finally, she arranged the books alphabetically <em>within</em> each subject.</p>

<p>There.</p>

<p>Hermione nodded.</p>

<p>Harry had entrusted her with an important task and she was not going to fail him. The thought was unthinkable — although, she <em>had</em> just thought it, so…</p>

<p>Hermione vigorously shook her head, causing her long mane of hair to whip around her face.</p>

<p>No. This was <em>important</em>. Harry needed her to live up to the expectations he had for her. To be ‘the greatest witch who ever lived.’ And the first thing she had to do was crack the code on these ancient Norse writings. It wasn’t enough to simply be able to read ancient Norse, no these writings had been encrypted.</p>

<p>Her first thought to ask her parents hadn’t helped. The tri-language book had a powerful muggle repelling charm built into magically activated invisible ink. Her second thought to check the Hogwarts library hadn’t helped either. Madam Pince hadn’t even known what ‘cypher’ meant — although the librarian’s generally unhelpful attitude never helped matters. So, her third thought—the one she was currently pursuing—had been to get her parents to raid the mathematics section of the local bookshop and send her every muggle book on encryption and codes they could.</p>

<p>Hermione then picked up the only new <em>magical</em> book she’d acquired — <em>Complex Occlumency for the Arithmancy Mind</em> — opened it to the first exercise, read, took a deep breath, closed her eyes, and tried to let the numbers start to dance across her mind.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In another trunk not far away, Harry peered over Alexandra Black’s shoulder while the first year girl poured over a rather useful book.</p>

<p>“We need two-dozen adult beech trees,” Harry said. “Bowtruckled — highly saturated in local magic — straight, if possible.”</p>

<p>“Two-dozen…” Alexandra flipped through the pages of the Dendromancer’s Doomsday Book. “Okay. What about this one?”</p>

<p>“Longbottom Manor? I doubt Regent Longbottom would be willing to sell. And no way are we crashing those wards for this.”</p>

<p>“Ah. Then how about this one?”</p>

<p>“Mmm… Tickledead Wood — not sure where that is.”</p>

<p>“My lord.” Daphne unfolded a large map on the desk.</p>

<p>“Ah, thank you.” Harry inspected the map. “Yes, that looks possible. Please add it to the list. Next?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In the Ministry of Magic, the position of humble hag is given to they who sit directly below politicians in the chain of command. All of those politicians together make up the wardrobe, and the humble hag <em>of</em> the wardrobe sits directly below the minister himself. The job of the humble hags is to ‘arrange matters’ on behalf of their masters — a minister or department head, and see to it that the broomstick of government keeps flying, or occasionally, if needed, sweeping.</p>

<p>No one is one-hundred percent sure why they are called humble hags, but it is generally considered to be an attempt to ensure they don’t get too big for their boots.</p>

<p>“Mister Bentley?”</p>

<p>Arthur Weasley entered the office of the current humble hag of the wardrobe with not a small amount of trepidation. Even though the humble hag didn’t even hold nominal authority over his operation, that didn’t mean he wasn’t powerful and capable of making his life difficult.</p>

<p>“Ah, Arthur.” Mister Bentley smiled a warm smile. “Please come in. Take a seat. I just wanted us to have a little chat.”</p>

<p>“I know what you’re going to say,” Arthur began in a determined tone of voice, even as he sat in the armchair opposite Mister Bentley’s own. “And the answer is no. I’m not going to back down. Our laws <em>have</em> to adapt. Many of our people are <em>related</em> to muggles. <em>They</em> don’t like our current laws. And if we <em>don’t</em> change, we could be in serious trouble as muggles continue to develop new artefacts, which we are not equipped to deal with.”</p>

<p>“New artefacts?”</p>

<p>“All sorts of things. But I’m <em>not</em> going to be cowed. Not now I’ve finally got the Gray’s co-operation.”</p>

<p>Mister Bentley held up a hand. “Arthur — please — you have me all wrong. This is not a dressing down. I agree with you.”</p>

<p>Mister Weasley blinked. “You do?”</p>

<p>“Of course. In fact, it is exactly that drive to push fairness into our laws for which I wished your council.” Mister Bentley opened a file on the low table between them and pushed a small file across the table. “You see, there was a rather unfortunate case several months ago — a young London muggleborn wizard abusing the muggle guide laws — never made the papers — it was felt best to hush it up, but, well, you can see why it would be a good idea for it not to happen again.”</p>

<p>Arthur Weasley’s eyes widened as he read the document. “<em>Four</em> girlfriends?” he asked incredulously. “How did he arrange that? I thought there were limit recommendations — especially for muggleborns.”</p>

<p>“There are. I believe the young man had the bright idea of doing each of his guide interviews in a different enclave. The local offices aren’t obliged to check the central records, you know.”</p>

<p>Arthur Weasley continued to read. “Confundus charms, memory charms, love potions, low-level dark magic. Oh my, yes, I can see the problem.” He put down the parchment. “What happened to this wizard?”</p>

<p>“Currently doing community service after a two-week stay in Azkaban.”</p>

<p>“But why a new law? Couldn’t this be solved by better co-ordinating local and central government operations? Parchment protean charms, maybe?”</p>

<p>“In theory, yes, but the Minister is being awfully cautious at the moment. The last thing he wants is to be accused of setting up a divination government.”</p>

<p>“I see.”</p>

<p>Mister Bentley smiled warmly again. “So you understand why I need your help.”</p>

<p>“Certainly.” Arthur nodded to himself. This clearly needed to be sorted out. An extra paragraph or two shouldn’t be too hard to add into the proposed act, and he couldn’t imagine anyone would possibly object.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was the dead of night. The moon was crescent. The sky was cloudy.</p>

<p>Just outside a small forest, somewhere in the South-East, a man in a rented HGV, wearing jeans, a button-up shirt, and a green and black mask, drove up to a gate, and stopped his vehicle. The way he executed that stop, with many jerks and creaks, suggested someone altogether unfamiliar with the task. Eventually, he succeeded in putting it in park, hopped out, and opened the gate.</p>

<p>“Oi!”</p>

<p>The man turned around at the noise.</p>

<p>“What are you doin’ here this time of night?” Another man was shouting over the lorry’s rumble while walking up to the masked lorry driver. “This here is <em>managed</em> woodland.”</p>

<p>There was a movement, a blur of <em>something</em> in the air, and the second man’s eyes crossed. “Oh, right,” he muttered. “Surprise inspection. Of course.”</p>

<p>Minutes later, Lord Slytherin approached a single tree that looked not unlike the hundreds of others he’d just passed and ran a hand up the trunk. Perfect.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was late afternoon and the Wizengamot was in session. The subject at hand was the second reading of the Muggle Protection Act. Interest in law-making had picked up recently since the passing of the emergency ‘Draco Malfoy’ Act, but the room was still far from packed.</p>

<p>Up in visitor’s gallery, Dolores Umbridge watched the proceeding with the air of someone watching what used to be their favourite TV show, but which had since let them down again and again. So many lords, so many sullied lines. They had made so much progress, but now they were backsliding. Gone were the golden times after Light Lord Dimwiddy — a time when noble families wouldn’t even consider marrying half-bloods. Now it barely caused a raised eyebrow. And that didn’t take into account those <em>outrageous</em> lords who allowed their heirs to marry muggleborns, like Davis and Potter. Granted, Davis couldn’t have known his firstborn son would die before giving an heir, leaving his second son in line, but that wasn’t the <em>point</em> — and the new Lord Potter had <em>no</em> excuse.</p>

<p>What Magical Britain <em>really</em> needed, Dolores thought, was a law compelling Noble Houses to only marry blood that was pure. That would put them back on the right track.</p>

<p>Out in the chamber, the reading went on, and eventually, the critically important paragraph was read out.</p>

<p>There.</p>

<p>Dolores stood up, adjusted the bun of her hair, and left.</p>

<p>The journey between the Wizengamot chambers and the Ministry of Magic wasn’t a short one. Dolores had to journey through many long corridors and up several flights of stairs, before finally arriving at the lift that would take her back up to the minister’s offices. Eventually, she stepped out of the lift and made for the files behind her desk, ignoring all the various other under, assistant, and deputy secretaries who bustled around the place in their joint quest to make Wizarding Britain as complicated as possible.</p>

<p>She reached for one of the files, flipped through until she found what she wanted, and withdrew several parchments. She then made her way back towards the door. Someone tried to stop her as she left, but she told them she was on business for Mister Bentley, and that was that.</p>

<p>She made her way down to the public ministry floos, threw a pinch of floo powder from a bag on the mantlepiece, gritted her teeth at what she was about to do, stepped into the fire, and said, “Thynn Manor.”</p>

<p>Dolores swirled through the floo, considering the meeting she was about to have with the reprobate lord of the Light. At least he’d never gone so far as to sire an heir with one of his whores.</p>

<p>The rushing stopped and she stepped out into a waiting room, clearly sealed off from the rest of the large house.</p>

<p>“Can I’s be helping you?” A house elf had popped beside her.</p>

<p>Disgusting creatures. Dolores made a face. “Get me your master at once!”</p>

<p>“Who is you being?”</p>

<p>“Never you mind — your master is expecting me.”</p>

<p>The elf popped away.</p>

<p>She had to wait several minutes before the doors to the manor finally opened and when they did, it was <em>not</em> Lord Thynn who greeted her.</p>

<p>“Are you Madam Umbridge?” asked what was very obviously a muggle. No <em>proper</em> witch would be seen dead wearing shorts <em>that</em> short.</p>

<p>“I am,” Dolores replied. “Your master is expecting me. Take me to him at once.”</p>

<p>“Lord Thynn is <em>not</em> my <em>master</em>. But please, follow me.”</p>

<p>Dolores bristled at the muggle’s tone, but bit down her retort for the moment. She was then led through the large house, fighting down her urge to react with disgust at all the obviously muggle additions that had been made. Eventually she asked, “and how did <em>you</em> come to the lord’s attention?”</p>

<p>“That is a private matter between me and Lord Thynn.”</p>

<p>Dolores frowned. “Where are the others?”</p>

<p>“I assume you mean the other girls? They are in the women’s wing. This is the public part of the house.”</p>

<p>“At least he has the decency to keep you hidden.”</p>

<p>The muggle turned and smiled dryly at her. They had reached a large double door. “Lord Thynn will see you now.” She opened the door, and Dolores stepped through.</p>

<p>“Ah, Madam Umbridge. The minister’s new undersecretary, yes?” Lord Thynn was standing by one of the large windows. “To what do I owe this pleasure?”</p>

<p>“My lord. There have been developments in the Wizengamot that I was told you might appreciate being made aware of.”</p>

<p>“Oh, yes? And why are you telling me this? The minister having a holiday, is he?”</p>

<p>“No, my lord. The humble hag sent me.”</p>

<p>“Old Bentley, hmm? Very well, what is this development?”</p>

<p>Dolores handed Lord Thynn the parchment she’d been carrying. “One of the new acts includes rather stricter regulation for those who act as guides to muggles in our world.”</p>

<p>Lord Thynn’s eyes widened while reading the paper.</p>

<p>“You see why Mister Bentley thought this might concern you, my lord. With this act, your current ‘arrangements,’ discrete though they are, would become highly unlawful, which could in time become a problem for you.”</p>

<p>Lord Thynn grunted. “Okay, you’ve got my attention. Clearly you want my help to stop this. But I am only one vote. The Gray holds the swing power.”</p>

<p>“Oh, that’s not necessarily true. You see, this act is being pushed by one of <em>your</em> beneficiaries.”</p>

<p>Lord Thynn gave her a shocked look. “Who?”</p>

<p>Dolores cleared her throat. “Arthur Weasley.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was a weekend morning, and in the first year Gryffindor dormitory, the soul part of what would become the greatest dark wizard who ever lived was busy with important tasks.</p>

<p><em>So, what do we think?</em> Virgo held up a set of dress robes to herself in the mirror.</p>

<p><em>I think it looks good</em>, Julia thought back. <em>It’s cute. John will like it.</em></p>

<p>A flash of annoyance shot through Virgo, but it was soon under control. Yes, John liking it <em>was</em> actually important, if not for the reasons Julia had in mind. As much progress as had been made since Halloween, there still hadn’t been a good opportunity to get him to give up his portkey. But at least there hadn’t been any more attacks.</p>

<p>Virgo idly held up a second set of dress robes. <em>And these?</em></p>

<p><em>The lace is nice. I’m not sure about the hood though.</em></p>

<p><em>All dress robes come with hoods.</em></p>

<p><em>Yes, but this one would make us look like we’re delivering cakes to our granny.</em></p>

<p><em>I murdered my granny. I erased her from this world.</em></p>

<p><em>Well, she wasn’t a very nice person.</em></p>

<p>Virgo held up a third set of dress robes. <em>What about these?</em></p>

<p><em>Oh, now that’s nice! And it goes with our shoes.</em></p>

<p><em>So, this one?</em></p>

<p><em>Yes. Definitely.</em></p>

<p>Virgo quickly got dressed. The dressing up would only be until afternoon, but it was important to always look your best. That had been an early lesson learned in Slytherin House the hard way. And on this matter, both Virgo and Julia were in total agreement. Later on, they’d have duelling practice with Susan, something that John still hadn’t joined in on, but he was apparently getting private lessons with Professor Flitwick — the privileged, powerful bastard that he was.</p>

<p>“Malfoy?” One of the other girls poked her head through the door. “John’s asking if you’re going to be much longer.”</p>

<p>Virgo smirked. “Tell him that waiting for a lady is something he’ll just have to get used to.”</p>

<p>The girl grudgingly nodded and disappeared.</p>

<p>Virgo and Julia then sat down and read for a respectable amount of time, just so no one would think they’d been ‘summoned’ by the boy who somehow defeated Virgo’s other self, before gracefully descending the stairs.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In one of the private booths at Le Petite Magik, Lord James Potter was having lunch with a rather despondent Misuse of Muggle Artefact’s Office Head.</p>

<p>“I just don’t understand it,” Arthur said, staring at the wonderfully cooked and expensive food in front of him. “Lord Thynn’s always been highly supportive of both my career and my efforts in the department. For him to suddenly floo call me and demand I scrap the new act under threat of pulling out his patronage… It makes no sense.”</p>

<p>James swirled his wine before taking a sip. “I assume this was after the last reading?”</p>

<p>“Yes.”</p>

<p>“Maybe something to do with any changes or additions that were made. Anything major?”</p>

<p>Arthur went over all the little changes, compromises, and additions that had been made before the latest version had been read out at the Wizengamot.</p>

<p>James sighed. “Tell me, have you ever met Thynn’s secretary, and ‘female friend,’ Becky?”</p>

<p>“Rather comely muggle woman? Yes, I have.” Arthur frowned. “What? You think <em>she’s</em> the reason Lord Thynn’s against it? But the new laws wouldn’t stop him from being Becky’s guide. It’s only supposed to stop the major abuses.”</p>

<p>James looked awkward. “Becky isn’t the only one. Not by a long way.”</p>

<p>Arthur’s eyes widened. Then he looked away and stared at nothing for several moments. Finally he clenched his hand into a fist and slammed it down on the table, causing all the plates and cutlery to jump. “Damnit!”</p>

<p>“Quite so.”</p>

<p>“I can’t backtrack, can I?”</p>

<p>“If you want to maintain your reputation, no.”</p>

<p>“Well, I can’t drop the whole act. Not now. You’ve got to help me, James. ”</p>

<p>“With funding? The House of Potter is spread rather thin at the moment.”</p>

<p>“The only other people I could even think to go to on such short notice would be Sirius or Amelia… or Slytherin, I guess.”</p>

<p>James gave Arthur a sharp look before composing himself and taking another sip of wine. “I’m not saying it’s impossible…”</p>

<p>Arthur seemed to have an idea. He reached into the folds of his robes. “On that note, Lily sent this to Molly a while ago. Have you seen it?”</p>

<p>James took the photograph being offered him. It was a picture of his son, Harry, and Arthur’s youngest, Ginny, snuggled up together, asleep, in the Slytherin common room. He chuckled. “Cute. Don’t think I’ve ever seen Harry looking that unguarded” He handed the photo back. “Wait…” he paused. “You’re not suggesting what I think you are, are you?”</p>

<p>“It would bring the houses of Weasley and Potter closer.”</p>

<p>James wrinkled his nose. “I don’t want you to take this the wrong way, Arthur, but your Ginny, well, are you sure you can control her?”</p>

<p>Arthur frowned. “What do you mean?”</p>

<p>“Lily and I are having to be very cautious with Harry right now. He’s far too close to Lord Slytherin for our likings. He listens to us, yes, but I can’t help the feeling he does it more because he’s been told to, rather than because he sees us as legitimate parental authorities. A betrothal contract is one of the few powerful sticks we have if things go really bad. Do you feel you could influence Ginny to reign Harry in if needed?”</p>

<p>Arthur hesitated for just a tad too long before hastily saying, “Oh, yes, I’m sure I could. Ginny and I have always been close.”</p>

<p>James shrugged noncommittally. “I’ll think about it. In the meantime, maybe we can arrange a patronage pool for your operation. Better that then you having to have to go crawling to Slytherin.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“So, what do you think I should do, my lord?”</p>

<p>Lord Slytherin looked at Arthur Weasley over the small table shrubbery between them. They were in the same muggle restaurant they’d both gone to the last time they’d lunched together. There had been quite a few lunches and dinners together since then.</p>

<p>Slytherin took a drink from his orange juice. “Tricky,” he said. “I certainly agree that the work you do is important and needs more than just base ministry vault funding, but maybe you are going about this the wrong way.”</p>

<p>“What do you mean?”</p>

<p>“Lord Thynn seems to have been a good patron for you in the past — the two of you see eye-to-eye on many matters. It would be a shame for you to lose him.”</p>

<p>“I <em>can’t</em> scrap those paragraphs from the act without losing the respect of so many of my peers.”</p>

<p>“That’s the risk you run by basing your reputation on principles.”</p>

<p>Arthur grimaced.</p>

<p>Slytherin dabbed at his mouth with a napkin before continuing. “Arthur, If you’ve backed yourself into a corner, then find another way out of it. Find <em>another</em> reason to get rid of those paragraphs. One that <em>is</em> acceptable to your peers.”</p>

<p>“What other reason?”</p>

<p>Slytherin shrugged. “I don’t know. That’s your job.”</p>

<p>“Right,” Arthur muttered. He glanced up. “Incidentally, given what you told me about Harry and Ginny needing to be close, what would you say to a betrothal between the two?”</p>

<p>“I’d say it’s not up to me, but in principle it would be a good idea.”</p>

<p>“You think Harry would be happy with that?”</p>

<p>“Quite likely. And, based on what I know, I suspect Ginny wouldn’t be totally against the idea, either. It’s Lord Potter I’m not so certain about.”</p>

<p>“He seemed to be quite concerned about Ginny’s ability to ‘reign in’ or ‘control’ Harry when I spoke with him about it.”</p>

<p>“Interesting… I can’t help but wonder what his game is.”</p>

<p>“You’re not the only one.”</p>

<p>“You know Lord Potter quite well, don’t you?”</p>

<p>Arthur gave Lord Slytherin a dry look. “I wasn’t actually talking about him. Our little conversations”—he gestured around the muggle restaurant—“are reasonably well known. I seem to have become something of an unofficial ministry expert on Lord Slytherin, despite still knowing very little about you or what you officially stand for.”</p>

<p>Lord Slytherin said nothing.</p>

<p>“You’re going to have to make a stand on something eventually,” Arthur continued. “I’m not saying this because I’m fishing, you understand, I’m merely saying that at some point, you will need to be ready to say what it is you actually believe in.”</p>

<p>Several hours later, and a thousand kilometres away, found Harry Potter deep in the basement of the almost completed Slytherin Manor. He sat in front of a large blackboard. On his right, his house-elf, Plato, was busy drip feeding draught of living death into the obscurus he’d kidnapped, and was now experimenting on, to find a way to remove a soul-bound parasite from an eleven-year-old girl he’d previously sent another eleven-year-old girl after to murder. Behind them, Voldemort’s horcruxes sat in their silk-lined boxes, waiting to be used when he had the opportunity. Upstairs, goblins were putting the final touches on a mansion that cost several million pounds, paid for with drug money, while at the bottom of the hill, a family of muggles that he’d vassaled to himself were busy developing advanced magical armaments, which he was planning to sell to the highest bidder.</p>

<p>His animagus form would make people freak out when they learned of it.</p>

<p>Luna’s probably would too, if her constant insinuations were anything to go by.</p>

<p>Alex was having a massive identity crisis about her form.</p>

<p>Daphne’s and Ginny’s were the only somewhat normal ones of the lot, although still very impressive.</p>

<p>Hermione’s would cause a sensation.</p>

<p>But to get those forms, he was going to have acquire enough phoenix ash to make the ritual work, and <em>that</em> would require accessing a store large enough for his needs — and there was only one store large enough — and it was highly unlikely the individuals in charge of it were just going to hand the ash over, or even sell it to him. That meant stealing what he needed. Again. Just like with the stone, and the cloak, and even, some would rightly argue, the girls.</p>

<p style="text-align: center;">— End of Chapter Forty-two —</p>

<p>And on the blackboard in front of him, in big chalk letters, were written the words, “WHAT SHOULD I BELIEVE IN?” And he continued to stare.</p>
