Chapter 45 - Hermione's Quest - Part 2

<p>In 1740, the third-to-last member of the Ancient and Noble house of Pithy, the then Lord Pithy, peacefully passed away as the result of being gored by an enraged tebo while hunting in deepest Africa.</p>

<p>The mantle of Lord then passed to his brother, the second-to-last member of the ancient line, who immediately got twenty of his best mates together, went out for a dignified mourning drink, got rip-roaring drunk, and, while trying to impress a lady of easy virtue, splinched himself into the bottom of an abandoned mine, and was only found when the rain washed out his drowned, and very dead, head several days later.</p>

<p>The last member of the now rather endangered house—the previous lord’s sister—quickly took it upon herself not to rest until she had secured the house’s future. Given that her marriage contract did not allow for any children by her maiden family, and as there was no Lord Pithy to grant her request for a divorce, she plotted to do this by freeing herself of her current shackles in the only other way that would work.</p>

<p>It was just a shame her trusted maid put the basilisk venom in the wrong goblet.</p>

<p>Thus the Ancient and Noble house of Pithy came to an end, and with its passing, all the accumulated family magics were released to the world. Often this would change nothing, since even extinct, one still needs to know <em>how</em> to cast the family magic in order to make use of it, but in this case, the same maid who mixed up the poison, also had access to her mistress’ secret diary, which contained many of the magics of the now-dead house.</p>

<p>Not really knowing the value of what she had, the maid sold the diary to a friend for five galleons. The friend then took it to a dealer she knew in Knockturn Alley, who paid <em>her</em> fifty galleons. Finally, the book was purchased by a well-to-do muggleborn who, drunk on the ideals of the muggle enlightenment, then did something almost unheard of in the Wizarding World, up to that moment.</p>

<p>He published it.</p>

<p>Five hundred years of accumulated magic in the subject of occlumency—particularly in regards to the field of arithmancy—were unleashed upon the Wizarding World, and the arithmancy revolution began.</p>

<p>Deep within the Hogwarts library, deep within the library of her own mind, Hermione Granger was treading the path of countless arithmancers since that day over 250 years ago. Of course, all of those others tended to be in their twenties before even attempting the mind magics she was now.</p>

<p>Across the blackness of her consciousness, lines formed shapes, broke apart, whirled around, and formed new shapes, in a never-ending kaleidoscope of potentiality. The potential was in cracking the code on the ancient Nordic writings. She’d been at it for weeks now, and was starting to get frustrated — both with her lack of progress, and with her now-chronic magical exhaustion. Using her powers continually at this level was far beyond what she’d ever asked her brain to handle before.</p>

<p>But she would succeed. She had to. Harry was relying on her.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In his own little slice of Magical Britain, Mister Bentley tended to the lawn he’d been meticulously cultivating since even before he’d become Magical Britain’s top civil servant. That was a good analogue for Magical Britain itself, he thought, carefully uprooting an errant weed-bud with a skilful jab of his wand — a well-maintained lawn. Like a lawn, Magical Britain had a history. Poisons, carelessly added, took decades to seep away, everything should be neatly trimmed, and, occasionally, you needed to add something truly foul smelling to get the best long-term results — no matter how much Mrs Bun might voice her mild disapproval over the garden wall they shared, bless her. In fact, now that he came to think about it, Mrs Bun was a perfect example of an outstanding blade of grass on the lawn that was Magical Britain.</p>

<p>Mister Bentley surveyed his handiwork for the hour and nodded his head in approval. If only all parts of his lawn were so well behaved.</p>

<p>He made his way back up to the garden table, summoned his latest office reading, quietly sipped from a cup of ever-warm tea—two sugars with milk—and considered matters.</p>

<p>Weasley had just played a well-thought-out move by anonymously leaking to the Prophet several negative stories from countries with rather draconian muggle-guide-laws, along with an independent report detailing how Norwegian wizards successfully police <em>their</em> muggle-guide-laws, before suggesting to his various backers that, ‘We really need more research before rushing into things.’ The Muggle Protection Act had been momentarily stalled, but now it would only be a matter of time before it picked up steam again.</p>

<p>He needed another angle — one with a little more staying power. Weasley would be cautious if he involved himself again so quickly and directly, so an oblique approach, maybe.</p>

<p>He sipped his tea.</p>

<p>Of course, it didn’t need to be stalled all <em>that</em> long — just until the Wizengamot broke for the winter, which wasn’t all that far away. That would give him a good long chunk of time to play with.</p>

<p>Yes, Mister Bentley thought. Maybe it was time for him to have a chat with his natural enemy.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>On the outskirts of the forbidden forest, two almost-invisible figures darted through the trees — barely a shimmer in the air — dodging and weaving, duelling spells flying between them at the speed of a muggle squash game. Leaves on the ground, golden and crinkly, rustled as they passed. Both were tired, but neither particularly cared.</p>

<p>Then, as if deciding to kick things up a notch, one of the figures abandoned the constraints of gravity altogether, flying up into the bare forest canopy while unleashing a torrent of brightly coloured spells behind it.</p>

<p>The other figure didn’t even hesitate. A blast of wind swept the leaves around its feet high up into the air, saturating the airspace with a thousand dancing spots of golden brown. There was a slight moment of reality confusion, and where before there had been a shimmer, now, there was just a leaf.</p>

<p>Up in the air, a female voice screamed. The screaming figure, still shimmering, dropped like a stone until there was another moment of confusion, another leaf replaced the shimmer, and the scream started again, this time higher up, but still descending rapidly.</p>

<p>Sometimes magic changed the laws of physics, and sometimes, it didn’t.</p>

<p>The shimmering figure who could <em>actually</em> fly had by now stopped firing off spells, choosing instead to watch its flailing opponent continually falling through the air at terminal velocity, but just about managing to never actually hit the ground.</p>

<p>“Help!”</p>

<p>And with that single yelp, the flying figure moved. Several spells were fired off in quick succession, the figure darted forward, and moments later, Harry Potter shimmered back into view on the ground, carrying a panting Ginny Weasley in his arms.</p>

<p>“Thanks,” Ginny gasped.</p>

<p>“No worries. Can I suggest you don’t try that trick again without me being there, though?”</p>

<p>“Yeah, yeah, sure.” Ginny spent the next moments paying off her body’s oxygen debts before she found her senses. She was still in Harry’s arms. She gave him an impish smirk. “My lord can let me down now.”</p>

<p>After she found her feet again, the two sat down to review her progress. She and Luna were still miles ahead of the others, although Alex was starting to catch up a little. Hermione and Daphne spent far too much of their time on other matters to keep pace. The only real combat training they got was during group sessions. Ginny could tell, however, that something was on Harry’s mind.</p>

<p>“Is it something you can talk to me about?” she asked.</p>

<p>Harry ran a hand through his hair. “I’ve just been thinking about how we position ourselves when we eventually go public. What policies do we support? What sides do we take and for what?”</p>

<p>Ginny gave Harry a confused look. “Who says we need to take anyone’s sides? Isn’t that what it means to be Gray?”</p>

<p>Harry waggled a hand. “Yes and no. When I first formed the Gray I did so with the idea of rebuilding Slytherin House — of using Slytherin House as a kind of focal point to build a political power capable of steering Magical Britain. That’s what sold many of the other lords. And our political actions so far, few as they have been, have all been reasonably neutral. But it is as I said to Lord Greengrass way back then… ‘the status quo is not sexy.’ If we want to extend the Gray beyond just a small group of lords, we’ll need a cause that more than just a few dozen lords can appreciate."</p>

<p>“Sounds complicated,” Ginny said with a grin. “Politics is definitely more the others’ thing than mine. I’ll just stick to fighting.”</p>

<p>Harry nodded and looked up into the sky. “On a totally unrelated note, Lord Slytherin was having lunch with your father a few weeks back. Some things came up that we need to talk about. And possibly make a plan for, if you’re up for it.”</p>

<p>“Sure, I’m up for anything.”</p>

<p>Harry gave Ginny what could only be described as, ‘a look’. “I suggest you withhold judgement on that until I’ve told you what the discussion was about.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Hey, Justin, Sophie, check <em>this</em> out.” In the Founders Club room, Kevin Entwhistle flashed his friends his latest Transfiguration essay with a grin. At the top, in handwriting that every student in the school could easily identify as McGonagall’s, was scrawled a large O.</p>

<p>Sophie Roper beamed and clapped. “Well done, Kevin! I knew you could do it.”</p>

<p>Justin slapped him on the back. “Yes, good job. All the work’s paying off.”</p>

<p>“I’ll say,” Kevin replied.</p>

<p>In another part of the classroom, the first-year muggleborns were deep in focus, gazing deeply into each other’s eyes while practising their occlumency. The brunette twins, Violet and Marigold Chesterfield, were partnered together, naturally, while Kevin’s little sister, Annabel, was partnered with the excitable Colin Creevey. This left Alan Gage, the plain-looking one, as the odd one out, currently partnering with a charitable Dean Thomas.</p>

<p>Marigold blinked, looked away, and giggled. “You’re getting good at this, Violet.”</p>

<p>“Thank you, Marigold,” Violet replied. “You are pretty good yourself.”</p>

<p>And up at the front of the classroom, at the normally empty teacher’s desk, sat their leader, Hermione Granger, eyes tightly closed, with a look of such ferocious concentration on her face that it made many in the room slightly uncomfortable.</p>

<p>“Is she still giving you the cold shoulder, Justin?” Sophie asked.</p>

<p>“No, not really. I’m not even sure she realised she was doing it. Or maybe I was just imagining things.”</p>

<p>“She’s amazing,” Kevin said. “But she does need to relax a bit more.”</p>

<p>“She’s taught us so much,” Sophie said. “And pretty soon we’ll be starting on <em>wandless</em> magic. That’s, like, Lord Slytherin level magic.”</p>

<p>Justin frowned. “I just wish I could get my Mum and Dad to see it that way.”</p>

<p>Sophie smiled. “Don’t worry about it. I’m sure if anything happens, we can talk to Hermione, and she’ll ask Lord Slytherin to help us. And when we’re seventeen we won’t even need their permission. We could become vassals like Hermione all by ourselves if we wanted.”</p>

<p>The two boys nodded.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“And to what do I owe the honour of a visit from the minister’s own humble hag?” Lucius Malfoy looked across at the man sitting opposite him. Bentley had been the gears in the ministry machine since before he’d even taken up his lordship. He suspected the only reason the man had never made it onto Voldemort’s death-list in the last war was because the Dark Lord thought he might be useful after his conquest.</p>

<p>“My lord,” Bentley started, “normally, of course, I wouldn’t involve myself in Wizengamot matters—”</p>

<p>“—as well you shouldn’t,” Malfoy said with a raised eyebrow.</p>

<p>“—But in this case,” Bentley continued, “I feel it might be appropriate to do so.”</p>

<p>“Why?”</p>

<p>“One of my many responsibilities is to coordinate the different departments, including the DMLE and the Department of Mysteries. When events transpire that might undermine the stability of Magical Britain, I have a duty.”</p>

<p>In the privacy of his head, Lucius rolled his eyes. Ah, the old ‘my duty extends past my jurisdiction’ justification — classic. He made a hand gesture to indicate Bentley should continue.</p>

<p>“There have been discussions at the highest level, about the possibility of giving parents of muggleborns the franchise.”</p>

<p>“What?!” Lucius’ eyes widened.</p>

<p>“As you know, being granted the vote would make them full citizens of Magical Britain with all the rights that come with it, including the right to legal representation, access to St Mungo’s, vaults at Gringotts…”</p>

<p>Lucius’ eyes bugged to almost comic levels as Bentley continued to read out the list of potential rights that could be granted to muggleborn parents — to <em>muggles</em>.</p>

<p>“…And of course, all obliviation magics would have to be approved by the DMLE rather than being handled by the obliviator squad as is current practice. Hence my concerns about stability.”</p>

<p>Lucius finally found his voice. “That would be unthinkable! Who’s talking about this?”</p>

<p>“Oh, it’s all very early stuff at the moment. A quiet word from one lord of the Light to another.”</p>

<p>“The Gray would never allow it.”</p>

<p>“Well, that is a point of view, certainly, but you may recall that Lord Slytherin did grant vassalage to what is now the House of Granger. They already enjoy many of these privileges.”</p>

<p>Lucius sat back in his chair and took it all in. Muggles having the vote would be horrific. Even if the Wizengamot put up the candidates for minister, just the fact that muggles <em>could</em> vote would cause the more malleable candidates to shift their political stance. Muggleborns made up a quarter of the population. If, for the sake of simplicity, they assumed each muggleborn had two parents, that would add a new voting block as large as an extra <em>third</em>! And leaving aside the political ramifications, just the idea of thousands of muggles traipsing up and down Diagon Alley on a daily basis, at Bodmin Stadium, and the other enclaves, infecting them with their non-magical ways… of actual <em>wizards</em> having to wait in line at St Mungo’s because a <em>muggle</em> had a piffling little problem… urgh.</p>

<p>If there was even a small chance that Slytherin was secretly pro-muggle—even if that didn’t seem his style—well, it <em>had</em> to be addressed.</p>

<p>“Okay,” he eventually said, “so what’s your plan?” Obviously Bentley <em>did</em> have one. He wasn’t a man who didn’t.</p>

<p>Bentley smiled. “The Gray is nothing if not pragmatic. If the Dark were to come up with their own Muggle Protection Act, one that offered the Gray things the Light wouldn’t be willing to compromise on…”</p>

<p>Lucius frowned. “No one is quite sure what Slytherin actually wants. Apart from the restoration of his house.” He thought back to the vote he’d stopped from passing at the Hogwarts’ directors meeting. “Along with a few other things…”</p>

<p>“The both of you are on the Hogwarts’ board of directors,” Bentley continued, almost perfectly echoing Lucius’ own thoughts. “I imagine that would be a good place to start in talking with him.”</p>

<p>Lucius nodded. Yes, it would be. And now that he knew he wasn’t dealing with Lord Voldemort, thanks to his ‘daughter’, it would make it all the easier.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The forest was lush and tropical. A thousand birds hooted, chirped, and sang all around her. The buzz of a billion insects accompanied them. To a girl who’d never left the borders of rainy old England, the heat and humidity were oppressive. But this girl was <em>not</em> Ginny Weasley. Between the trees, Alexandra Black crept, constantly feeling her magic for the tiniest hint of an attack. She pushed aside a bush and found what she was looking for. Her eyes lit up. A massive forest clearing, and in the middle, a huge Mesoamerican pyramid. And inside was the target Lord Slytherin had set for her.</p>

<p>The entrance proved no difficulty.</p>

<p>Neither did the many magical trip-lines and pressure sensors.</p>

<p>Then she got careless and tripped one.</p>

<p>She was already halfway down the narrow, horribly round-shaped passage when she heard the rumbling up ahead.</p>

<p>“SHIT!”</p>

<p>Running in robes was not easy, and not for the first time, she wished she’d accepted Slytherin’s offer to transfigure her something more like what Daphne sometimes wore. She was only saved a rather horrible restart by jumping into a pit across a wide chasm. She landed heavily and scrambled to her feet. That was when she saw the skeletons.</p>

<p>Through her many breathy pants, Alexandra smirked. “Now <em>this</em> — is more — my thing!”</p>

<p>The first skeleton lunged for her, but Black chains burst from her wand and held it fast. Moments later, those same chains held all four of the undead in front of her. She then triumphantly pointed her wand downwards and shouted, “Canker Disserpo!”</p>

<p>Nothing happened.</p>

<p>Alexandra frowned.</p>

<p>Suddenly the pit was filled with light, she felt a little yank behind her navel, and the next thing she knew, she’d landed on her backside in front of Slytherin, currently disguised as Harry, who looked down at her with his emerald-green eyes. “And where did you learn <em>that</em> spell?” he asked. He didn’t sound angry, but there was a definite seriousness to his tone.</p>

<p>“The restricted section,” Alex replied, getting to her feet and rubbing where she’d landed on the hard stone floor. “Why didn’t it work?”</p>

<p>“This is a dream. I make the rules here. And one of those rules is no constructs that could risk the integrity of the dream <em>itself</em>. Canker Disserpo is a blight, Alex. It creeps and infects. I would not wish to see if it could break free.”</p>

<p>Alexandra fingered the pendant around her neck that Ginny had mysteriously given to her after the confrontation where she’d learned Slytherin’s true identity. “But it would have worked, right?” she asked. “The skeletons would have been forced to obey me.”</p>

<p>Harry nodded. “Yes, it would have, if you got it right.”</p>

<p>The night continued from there. Alex fought her way through the various traps of the pyramid and after only two more attempts found the centre all by herself without having to be remote-apparated into it.</p>

<p>“Now what?” she asked, sitting again in front of Slytherin.</p>

<p>“A question. If you could change anything about Magical Britain, what would it be?”</p>

<p>Alexandra didn’t even have to think. “Ladies should be able to sit on their own Wizengamot seats. It’s so unfair — we can’t even be our own proxies.”</p>

<p>“Ah, yes,” Harry said. “I should have guessed that would be your reply. Anything more actionable? I’m in the middle of drafting the outline for the book we’re going to use when I go public. I’d appreciate input.”</p>

<p>Alex’s eyes lit up. “Better laws to protect family legacies. What my father is doing to the House of Black shouldn’t be allowed.”</p>

<p>“So, a noble position?”</p>

<p>Alex hesitated. “No, I mean, it doesn’t <em>have</em> to be noble, right? Everyone can have a house, can’t they?”</p>

<p>“Technically, yes. Except unmarried muggleborn witches, and underage muggleborn wizards, although it does require jumping through a lot of hoops and only the future head of house can do it. Most never do. They generally only bother when they’re starting a business.”</p>

<p>“But they <em>could</em> do it,” Alex pushed, “so my point is still valid. Strengthening family legacy laws benefits <em>everyone</em>.”</p>

<p>“But it benefits people with strong legacies more,” Harry said with a smile. “People like you.”</p>

<p>Alex folded her arms. “So you’re saying I’m wrong?”</p>

<p>“I’m saying it’s a very traditionalist Dark view.”</p>

<p>“A <em>wrong</em> traditionalist Dark view?”</p>

<p>Harry smiled. “Alright, it is a little wrong, yes — from a pure fairness point of view.” He put up a finger to stall Alex’s objections. “But that doesn’t mean it isn’t still an option.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Letting this slide through is <em>not</em> an option!” Lord Nott slammed down the parchment he’d just read onto the table between himself and Lord Malfoy. “Muggles as citizens!? Are they mad!? What are the options? If only we still had <em>him</em> we could solve this with one single well-placed killing curse.”</p>

<p>Lucius sighed. “We’ll need to strip most of the more ridiculous paragraphs from the current act before adding our own back in. We’ll need a basic framework before we talk to our friends.”</p>

<p>“Fine,” Nott said. “What do we keep? This stuff about giving Weasley authority to make classifications of new muggle rubbish seems pretty inoffensive. What even is a microchip? Do you know?”</p>

<p>Lucius shook his head. “No, I don’t, and I don’t particularly want to. What about this one removing currency exchange restrictions for mudbloods in cases of extreme distress?”</p>

<p>“Dangerous. Remember the Carnegie affair. And how is that even anything to do with muggle protection?” Nott asked.</p>

<p>“Nothing. I suspect they’re just using the act as an opportunity to shove through everything they’ve been wanting to pass for the past four years.”</p>

<p>“Despicable. But it is what we’d have done.”</p>

<p>“Quite.”</p>

<p>“So what are we going to give Lord Slytherin? What does he want?”</p>

<p>Lucius handed over a piece of parchment. “Apart from what’s public, which you obviously know, this is my only clue.”</p>

<p>“Minutes of the Hogwarts director’s meeting? What’s this about?”</p>

<p>“One of the motions put forth was to give Slytherin guardianship of the school’s mudbloods.”</p>

<p>“Five in each year… Thirty-five total. Why not happily hand them over? They’re just mudbloods. Maybe he could even be persuaded to ditch the whole act.”</p>

<p>“I doubt it. They aren’t valuable enough by themselves, even if he wanted to create some kind of Slug-club-style old boys club, which is the only plausible reason I can think of for why he <em>would</em> want their guardianships. And his rapport with Arthur Weasley is supposed to be rather strong for some reason that baffles me.”</p>

<p>“<em>That’s</em> a fat lot of good. Then what <em>do</em> we do?”</p>

<p>“We’ll probably need to talk to Lord Slytherin directly. Or perhaps, if we can’t arrange that, indirectly.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“I can’t believe you!” Daphne hissed. She was sitting on Hermione’s bed in the Slytherin girls’ dormitory with her back to the headboard and her knees drawn up to her chest. The curtains were closed and they’d already applied several layers of privacy charms. It was easy to tell it was Hermione’s bed, because even neat and tidy as it was, there were still books piled everywhere — Daphne had needed to wedge herself into a space to actually find a headboard to lean back against. Laying open by her side was one of the muggle strategy books Harry had bought her for her birthday.</p>

<p>Sitting cross-legged at the foot of the bed, trying to look innocent, was Hermione. Looking innocent was now something she was naturally good at, even while also looking tired, which, right now, she did. Despite the meticulous care she usually took of her hair, a certain bushiness was creeping back.</p>

<p>“A unicorn!” Daphne continued. “A unicorn animagus! My favourite animal in the whole world! You— you—!” She opened her mouth again, but couldn’t seem to find the words.</p>

<p>“Daphne…” Hermione began.</p>

<p>“I’m not jealous, you understand,” Daphne said. “Being able to <em>ride</em> a unicorn would be just as good as <em>being</em> one. But then you—! Humph!” She folded her arms and pouted.</p>

<p>“It’s not my fault,” Hermione said. Like Daphne, she also had a book, this one laying in her lap. “You didn’t get to choose to be a golden eagle. You could have been any kind of eagle. Any kind of bird.”</p>

<p>“I’m happy with what I have. I’ve always wanted to be good at flying. And having a unicorn animagus on our side will be incredibly useful. The symbolism alone is powerful. Unicorn hair, hoof powder, never mind freely given unicorn blood.”</p>

<p>“There, you see.” Hermione smiled encouragingly. “It’s not that bad.”</p>

<p>“But… But… But a Shetland unicorn?!” Daphne threw up her hands in the air. “I can’t ride you if you’re a Shetland unicorn! You’re too small! It’s that Morgana-damned hair of yours! That’s what caused this!”</p>

<p>“Well, I’m sorry,” Hermione grouched. “We can’t all have naturally perfect, silky-smooth hair right out of bed every morning. I imagine you’d have got a unicorn with a cashmere coat, if it’d been you.” Suddenly, she yawned — a long and drawn out yawn, not the kind politely made in company to indicate that the yawner is just a little tired, but the jaw-achingly full yawn of the truly whacked.</p>

<p>“I’ll give you your bed back,” Daphne said, moving to the edge. “You don’t want to push yourself too hard. Harry wouldn’t like it if you hurt yourself.”</p>

<p>“Harry needs me,” Hermione said, crawling up to where Daphne had been before. “He’s relying on me. I can’t fail him.”</p>

<p>“Did you hear about the valuation he got for the old muggle gold he found in that second cave?” Daphne asked. “£350,000 — seven thousand galleons.”</p>

<p>“That sounds nice,” Hermione said. Her head landed on her pillow, in between an encyclopaedia of runes and a muggle book titled, <em>Cracking Substitution Cyphers with Frequency Analysis</em>. “Will that keep the goblins happy?”</p>

<p>“For the moment.”</p>

<p>“Good. Harry’s got lots of important things to do. He shouldn’t have to be distracted by something like mere gold.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was raining. The afternoon sun didn’t stand even a chance of piercing the uniform dark-grey sky, spread across the Scottish wilds like a dementor’s cloak. It was at times like these that John Potter really regretted being such an outdoorsy type. Technically, the roof of the duelling arena was supposed to close in bad weather, but for whatever reason, the light drizzle, which pattered around him while he shouted encouragement, didn’t count.</p>

<p>“C’mon, Susan! Don’t let her box you in!”</p>

<p>In their little corner of the arena, Susan Bones valiantly tried to fight off the advances of a hyper-focused Virgo Malfoy. John could clearly see it wasn’t easy going. Despite Virgo being a year younger than Susan, and muggle raised, she was clearly talented, powerful, and determined.</p>

<p>“Expelliarmus!” Virgo shouted, taking advantage of a gap in her opponent’s defences, and cleanly ripping the wand from her grasp. It flew across the space between them, allowing her to deftly pluck it from the air.</p>

<p>Susan cursed.</p>

<p>John clapped and flashed the younger girl a charming smile. “Well done, Virgo!”</p>

<p>“Thank you.”</p>

<p>“And you, Susan,” John began, as the three of them made their way towards each other, “you were doing well, but you allowed Virgo to control the pace of the duel right from the start. Your footing was sloppy when she pushed you, so I want you to go through those drills again while I go against Virgo.”</p>

<p>Susan took her wand from Virgo’s unresisting hand, grinned at him—“Yes, Professor Potter,”—and walked away.</p>

<p>John smirked after her before turning back to his other student — the girl who’d have never come to Hogwarts if he hadn’t come back in time — the girl who probably wouldn’t have even learned she was a witch if it hadn’t been for him — also, he thought, somewhat guiltily, the girl who wouldn’t have been indoctrinated in Malfoy slime and then left to rot by that same slime when she turned out not to be the perfect Slytherin daughter, if he hadn’t been tasked by Fate and Death to save the world.</p>

<p>“Do you need a moment to rest?” he asked.</p>

<p>“No, I am perfectly ready to defeat you.”</p>

<p>John chuckled. “Oh, I see, just like the last three times, mmm?”</p>

<p>Virgo said nothing, but instead got into position for their bout.</p>

<p>Still chuckling, John did the same. They began and he immediately put her on the back foot with an elemental wind. It howled through the arena, kicking up leaves and twigs everywhere, and causing all the other Hufflepuffs—busily duelling on the other side of the arena—to cry out in surprise. Things from there went pretty much as they did the last three times. Virgo tried to counter his magics with surprisingly intricate spells and animations, but they were all ultimately useless. She eventually stood exhausted in the middle of the arena, her wand by his feet, looking incredibly frustrated.</p>

<p>“Don’t worry about it,” John said, soothingly. “You’ll get better.”</p>

<p>Virgo shot him a look of anger before schooling her features (or softening them? It was hard to tell.) “I don’t need your sweet words, Potter. You beat me every time with raw power. You shield every spell I send at you and your elemental magics deal with everything else I have. Lord Malfoy made me watch memories of your duelling tournament from last year. You beat seventh years as though they were your age. <em>Seventh</em> years! One after another! Almost no rests! Do you have any idea how insane that is?! You, John Potter, are a monster — you, <em>and</em> your brother.”</p>

<p>John had been preening under the girl’s fierce words, until the mention of Harry, whereupon his face darkened for just the fraction of a second before he got control of himself back.</p>

<p>“If you continue training under Flitwick, I will <em>never</em> be able to reliably beat you,” Virgo finished. “I simply won’t be able to skill up fast enough to outmatch the difference we have in power.”</p>

<p>“Virgo, you shouldn’t be measuring yourself against <em>me</em>. You can already beat Susan. That’s an amazing accomplishment.” He smiled encouragingly at her. “You score top in all your classes. You’re an amazing witch. And very pretty too.”</p>

<p>That didn’t get quite the reaction he was hoping for. Every other girl he’d given that line to in the past had at least blushed. Virgo just crossed her arms, sniffed, and marched off to duel one of the Hufflepuff first years.</p>

<p>Susan sidled back up to him and giggled. “You like her, don’t you?”</p>

<p>John jerked around. “No, I don’t. She’s a…” He started to say Malfoy but he stopped himself in time. Susan didn’t like it when he said things like that, and besides, was Virgo really a Malfoy? When it came right down to it? Sure, she’d have Malfoy family magics, but she’d been raised by muggles. She knew about things that no pureblood princess would know about — or even <em>him</em> for that matter.</p>

<p>Susan easily picked up on his hesitation. “She’s a nice girl — <em>very</em> smart — a bit reserved, but that’s not surprising given what she’s been through. You should open up to her a bit more.”</p>

<p>“I still don’t know if I can trust her.”</p>

<p>“You trust me, don’t you?”</p>

<p>“Yes, of course.”</p>

<p>“Well then,” Susan said, as if that was a good enough argument. “Besides, if you wait too long to trust her, it might be too late.”</p>

<p>“What do you mean?”</p>

<p>Susan sighed. “John, she’s a daughter of the House of Malfoy whose Lord is unhappy with her. I’m actually rather surprised. If I were her, I’d be a lot more worried about my prospects than she seems to be.”</p>

<p>“Prospects?”</p>

<p>“Contracts.”</p>

<p>“Oh.” A lumos went off in John’s head. “Oh!” His face darkened again. “Oh… You think Lord Malfoy would contract her to some death eater or someone?”</p>

<p>“Or <em>someone</em>,” Susan said, meaningfully. “I was thinking more along the lines of Lord Slytherin.”</p>

<p>John choked when some saliva almost went down the wrong pipe. He got his breath back again before replying. “Why?” he coughed hard again. “Why would he do <em>that</em>?”</p>

<p>“Auntie says the Wizengamot is fighting hard about these new muggle protection laws. The Dark desperately wants the Gray on <em>its</em> side rather than the Light’s. Contracts have traditionally been a way to cement new alliances.”</p>

<p>“Slytherin already has Greengrass and Lovegood.”</p>

<p>“Auntie once told me that wizards who want more than one wife often aren’t satisfied with just two.” She gave John a knowing look. “Remind you of anyone?”</p>

<p>“I am <em>nothing</em> like Lord Slytherin!”</p>

<p>“Of course not. You’re just a charming, handsome, powerful wizard who <em>doesn’t</em> wear a mask.” Susan blushed when she finished.</p>

<p>John gaped at her for a second before bursting out laughing. “And how, Heiress Bones, do you know that Slytherin doesn’t look like a hexed monkey under his mask?”</p>

<p>Susan continued to blush. “Fair point.”</p>

<p>“But I’m glad you think so highly of me. And is it just me or do I notice that you’re growing too?” He leered at his friend’s chest, which had definitely expanded in the last few months.</p>

<p>“Oh, shut up,” Susan said playfully, covering herself with her arms and giggling again.</p>

<p>A loud shout distracted them. They turned.</p>

<p>Virgo was sitting on her backside on the ground with her wand halfway between her and her opponent, looking absolutely furious with herself.</p>

<p>“I did it!” Her opponent, Marigold Chesterfield, cheered, jumping up in the air, arms held up high, while her twin, Violet, looked on impassively.</p>

<p>“I tripped,” Virgo snarled.</p>

<p>“Still did it!” Marigold laughed.</p>

<p>“Again!”</p>

<p>John watched the now-livid Virgo duel several more times against the first-year Hufflepuff girl, ruthlessly stomping her into the ground like a boot stomping an ant. Not that Marigold seemed to care much, continuing to smile even as her wand was ripped from her hand again and again. It was amazing how fierce Virgo got when she duelled. It actually reminded him of someone. A certain red-headed someone — a certain red-headed someone sitting prettily in Harry’s lap, innocently oblivious to the evil words mouthed behind her.</p>

<p>Way up in the highest stands, a certain red-headed someone was lying on her stomach under the invisibility cloak, peering through a pair of omnioculars at Virgo’s duelling exploits, and carefully making notes.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Daphne was sitting on Hermione’s bed again. The curtains were drawn, and, like always, all the privacy charms the girls knew were active. “—And Ginny thinks there’s nothing to worry about right now, but she’s keeping an eye on the situation anyway,” Daphne continued. She was in the middle of sorting out stuff that Harry needed to know, stuff he probably didn’t <em>need</em> to know, but would <em>like</em> to know, stuff he <em>actually</em> didn’t need to know, and stuff that he <em>really</em> needed to know, like, right <em>now</em>. “Alex got into a fight with a couple of third years, which wasn’t so great, but she handled it. It wasn’t the same display she demonstrated in the common room, but that <em>could</em> be attributed to her just not bothering with ‘small fry’. In any case, Harry will certainly want to know about that. But then, Alex will probably just tell him herself during dreamy time.” She put a thinking finger to her chin. “But I’m not sure when their next session will be, so best if I just include that in the report as well.”</p>

<p>Hermione was sat up by the headboard, sitting cross-legged in her sleepwear with a look of vacancy across her features. She occasionally nodded to show that, at least <em>some</em> part of her was engaged in the conversation.</p>

<p>“I should probably also ask if he has any information from his spies in the ministry about the situation in the forbidden forest now that Mosag is running the acromantula show. There hasn’t been anything on that in the Daily Prophet for over a week.”</p>

<p>Daphne paused, mid-monologue.</p>

<p>Hermione was shaking.</p>

<p>Daphne leaned in closer. It wasn’t easy to spot, but on closer examination it became clear her close friend was trembling like a leaf. “Hermione? Are you okay?”</p>

<p>Hermione’s eyes instantly refocused. “Of course I’m okay.” Her voice was strained.</p>

<p>“You don’t sound or look okay.”</p>

<p>“No, I’m fine. I’m just tired.”</p>

<p>Daphne frowned. Hermione had been working herself to the bone recently. <em>Everyone</em> knew it, although obviously most didn’t know what she was up to. Not even Daphne <em>really</em> knew what she was up to, other than she was trying to learn to read the logs from the Hogwarts sea-cave. Hermione always did have a stubborn streak. “Then you won’t mind if I take a peek, just to check everything’s alright?”</p>

<p>Hermione huffed and crossed her arms. “Of course it’s okay! Because I’m fine!”</p>

<p>Daphne withdrew her wand, pointed it at Hermione’s forehead, gathered her own mental faculties, and whispered, “Legilimens.” The spell floated between them like the faintest wisp of smoke. It brushed against Hermione’s occlumency shields and she felt her friend open up to let her in, a massive archway in her shield’s walls.</p>

<p>Daphne’s consciousness was halfway through when she felt the creaking. Alarmed, she just managed to extricate herself before a point right above the archway buckled, and the entire thing collapsed like a house of cards.</p>

<p>“I can’t,” Hermione whispered</p>

<p>Daphne’s consciousness snapped back behind her eyes.</p>

<p>Hermione’s breathing had changed. It was now ragged, panting in short, sharp gasps. “I can’t.”</p>

<p>“Hermione.”</p>

<p>“I — Daphne — I///i — it’s not working — I can’t.” Her eyes were wide and darting. “I’ve tried. But it’s not working! I can’t!”</p>

<p>She was having a panic attack. “Hermione!” Despite it being something she’d never normally do, Daphne climbed over the bed and quickly wrapped her arms around her.</p>

<p>“I can’t!”</p>

<p>“It’s okay. Take deep breaths — calm, deep breaths — come on. You need to work with me here.”</p>

<p>It took almost half an hour for Hermione to calm down, and now that she was actually looking for them, Daphne couldn’t begin to understand how she hadn’t spotted the signs of acute magical exhaustion before — magical exhaustion so bad it had caused even Hermione’s <em>basic</em> occlumency to come tumbling down, leaving her open to all the accumulated stress piling on her all at once.</p>

<p>“It’s the code,” Hermione sniffed out. “I figured it was a substitution cypher, because I once read a book that mentioned them, and there’s this muggle technique called frequency analysis, which has never been used with arithmancy occlumency, and I really wanted to learn it, but there isn’t much data available for Ancient Norse so I figured I could just make up for the difference by brute-forcing it, and I didn’t want to disappoint Harry, but once I started I didn’t want to waste all that effort when I might solve it at any moment, and the arithmancy books <em>warn</em> against using more magic than you can handle, but I’ve been using occlumency for so long, and I’ve always been able to restrain myself, but it’s already taken a long time, and Harry needs this done, and, oh, I’m so stupid!”</p>

<p>“Hermione,” Daphne said soothingly, still hugging her. “You are not stupid. It’s okay. But you have to rest. Your body needs to recover.”</p>

<p>“But what am I going to do!? I <em>have</em> to solve this! If my occlumency isn’t enough, then I’ll need a computer, but you can’t have electronics in Hogwarts — except maybe the ritual room — but we’d need to fidelius it, and where would we get a power source? And would the fidelius <em>itself</em> interfere with the electronics?” She was still shaking in her arms.</p>

<p>Daphne sighed. It was clear Hermione wasn’t going to try to sleep until she had at least a passable solution to her problem. She wasn’t quite sure what ‘brute forcing it’ meant, but it sounded vaguely like attrition warfare, which was rarely a great idea, so, Hermione needed a different tactic. A flanking manoeuvre, as it were.</p>

<p>Unfortunately, she, Daphne, didn’t know anything about muggle code-breaking, so, even if it was useless, she’d start with what she <em>did</em> know about. “Have you tried <em>all</em> the magical methods, yet?”</p>

<p>There was a moment of silence before Hermione said, “I told you, I’ve been using occlumency.”</p>

<p>“No, I mean you’re applying a muggle method of turning a bunch of rubbish into something meaningful. Have you tried <em>all</em> the magical decoding spells, yet?”</p>

<p>There was silence</p>

<p>“I’m so stupid,” Hermione whispered.</p>

<p>“Hermione?”</p>

<p>“I haven’t used <em>any</em> of them!”</p>

<p>Of course, Daphne mused, sometimes it turns out that you’ve been using flanking manoeuvres so much you forget that direct assaults still exist.</p>

<p>“I just assumed!” Hermione angrily continued. “I knew about a muggle way to do it, and like a stupid ignorant muggleborn didn’t even consider that there was already a magical way to do it. Oh, Merlin, I’m still like that <em>other</em> me!” She started moving out of Daphne’s embrace.</p>

<p>“Where are you going?”</p>

<p>“The library. There’s still some time before curfew. I’ll—”</p>

<p>Daphne grabbed her wrist. “Hermione, you need to rest!”</p>

<p>“I—” Hermione started again, before what was clearly a dizzy wave hit her, and she fell forward onto the other half of the bed. Daphne checked. Hermione was out like a light.</p>

<p>Sighing deeply, Daphne put her to bed, before getting dressed again, and heading out to tell her lord about what had happened.</p>

<p>When Hermione woke up, it was to find Harry at her bedside, with an understanding face and a calm word. They spoke about what happened, and Hermione promised to be more careful in the future. Harry even knew where she should start to look for the code-breaking charms. Of course he knew best, Hermione thought, snuggling herself back under the sheets when Harry left after giving her orders to rest for the rest of the weekend. Harry always knew best.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was a Wednesday. It was also late afternoon. This fact annoyed Lord Lucius Malfoy who generally went out riding with Nott at around this time, while their wives took tea up at the house. The fact that the weather outside the castle window showed it to be probably the last good weather of the year, didn’t help matters.</p>

<p>On the opposite side of the headmaster’s desk, Gilderoy Lockhart was looking unusually nervous. “Are you sure he’s coming?”</p>

<p>“I assure you,” Malfoy said smoothly, “Slytherin is not nearly so unreachable as you might assume.”</p>

<p>Lockhart started muttering something about how he’d never gotten an answer from Slytherin on anything, no matter how many owls he’d sent him, before Malfoy tuned him out.</p>

<p>Lucius himself was only <em>half</em> sure of Slytherin’s eventual arrival. After thinking about how to set up this meeting, he’d hit upon the rather obvious idea of having Draco hand-deliver a letter to Heiress Greengrass. The headmaster’s presence—as well as the official purpose for this meeting—was, unfortunately, necessary. Slytherin rarely answered requests for meetings, but there was something about Hogwarts that consistently drew the man out of his hiding hole. He’d just have to signal to the man what he wanted through the time-honoured practice of double meanings.</p>

<p>“But I guess, in the end, the call of a famous celebrity like me was just too much for him to stay away!” Lockhart flashed a grin at no one in particular before collapsing back in his chair, his face quickly shifting from confident to tired. He stared at the mess of papers in front of him. “How do you handle all of this, my lord?” he asked.</p>

<p>“I don’t,” Malfoy said.</p>

<p>At that moment, the door to the headmaster’s office opened without bell or knock, and the visage of Lord Slytherin stepped through. Lockhart’s expression instantly shifted from tired to alert. The three exchanged greetings, (“Order of Merlin, Third Class!”), and sat down.</p>

<p>“What’s this about that couldn’t have been owled?” Slytherin asked.</p>

<p>First double-meaning, Malfoy thought, and <em>said</em>, “There are some things, <em>Slytherin</em>, that are best not written down.”</p>

<p>“Is that because they might leak, or because they shouldn’t be discussed at all?”</p>

<p>“Neither, but there are some things that should just be talked about face-to-face, one on one, as it were.”</p>

<p>“Indeed!” Lockhart said, smiling widely. “And we’ve been given a golden opportunity to market Hogwarts, and, dare I say it, those at the top—” He gave them both a roguish wink “—to the entire Wizarding World!”</p>

<p>“Go on,” Slytherin said.</p>

<p>“Are you familiar with the Tri-Wizard tournament, Lord Slytherin?” Lucius asked.</p>

<p>“Massive tournament between the three most important European wizarding schools — rather dangerous — discontinued when all nine champions, mostly from noble families, were all killed at once when one of them decided that the best way to deal with a hydra, was to keep chopping the heads off.”</p>

<p>“An apt summation,” Lucius drawled. “And as you can probably guess, Ludo Bagman has been chatting with Barty Crouch about the idea of bringing the tournament back. I understand they’ve already reached out to their opposite numbers who are in favour of the idea.”</p>

<p>“I don’t see any reason to object,” Slytherin said.</p>

<p>“It <em>would</em> require you to take a more <em>active</em> role, in <em>discussions</em>,” Malfoy continued. “Especially when there are matters of great <em>urgency</em> and <em>import</em> to discuss. You’ve been rather distant in the day-to-day matters of the steering of Magical Britain, but if that’s <em>changing</em> then we, and especially <em>I</em>, would appreciate your <em>thoughts</em>, Slytherin.”</p>

<p>Slytherin’s mask regarded him for a moment.</p>

<p>Then Lucius felt it — a slight brushing against his occlumency barriers. He gasped and swatted it away. <em>That</em> hadn’t been what he’d meant!</p>

<p>“Capital suggestion, my lord,” Lockhart said, jovially. “What say you, Lord Slytherin? I know there are some things I wouldn’t mind talking to you about either.”</p>

<p>Lucius spent the next few minutes of discussion sweating profusely as legilimency probe after legilimency probe brushed over his defences, never violent, never pushy, but nevertheless, gently persistent.</p>

<p>Eventually Slytherin cleared his throat. “I feel that if Lord Malfoy here, really wants to introduce more stringent entry criteria for the competitors, then he will need to be ready to compromise on certain <em>other</em> issues.”</p>

<p>Damn. This really <em>was</em> the only way he was going to get to talk with Slytherin, wasn’t it? He took a deep mental breath and readied himself.</p>

<p>The next time Slytherin’s legilimency probe brushed over his shields, just as Lockhart started explaining how a chimaera should actually be dealt with, he didn’t swat it away, but allowed it to settle on the surface like snowflakes on a brick wall. More magic flowed through the connection, and eventually, after another minute chatting, Lucius’ world split, and his view went dark.</p>

<p>And then there was light.</p>

<p>He was now standing in the foyer of Malfoy Manor, the home he’d grown up in — the home he’d been seat of ever since his father died — and the home that he’d based his own personal mindscape on.</p>

<p>He cautiously opened the front door and peeked outside.</p>

<p>Total darkness — save for a small rectangle of light in a far-off wall that looked miles away.</p>

<p>A thin bridge of marble stretched off towards that rectangle of light, and on either side of that bridge, an endless drop into complete blackness, staggering the mind with its vast unknown, like a silent ocean at midnight.</p>

<p>A figure was floating across the bridge towards him. It was, of course, Slytherin.</p>

<p>Lucius schooled his features as the enigma lord approached.</p>

<p>Slytherin stopped just before his front door. He would go no further — of that, Lucius was sure.</p>

<p>“You have my attention,” Slytherin said. “But I advise you to be quick — lest we attract attention.”</p>

<p>Lucius nodded. “We are not happy with the muggle protection act.”</p>

<p>“Who?”</p>

<p>“The Dark.”</p>

<p>“I’m sure you’re not.”</p>

<p>“Is there anything that would persuade you to outright drop it?”</p>

<p>“Your daughter?”</p>

<p>A chill went down Lucius’ back. “Not Virgo.”</p>

<p>“Then I can’t think of anything.”</p>

<p>“You’re interested in muggleborns, aren’t you? You vassaled one, Merlin knows why. Have you heard what those idiots in the Light are suggesting? Total citizenship for muggle parents of muggleborns.”</p>

<p>“Perhaps I’m in favour.”</p>

<p>Lucius tilted his head, as though to concede the point. “Perhaps you are. Or perhaps taking away one of the tools you use to collect your precious muggleborns is not in your, <em>interest</em>? What’s the value of being vassaled to you, if they already have all those rights anyway?”</p>

<p>Lord Slytherin said nothing.</p>

<p>“But I’m sure that if it was put up,” Lucius continued, “you’d be forced to accept it, if you want to maintain your pro-muggleborn position.”</p>

<p>“I don’t have a pro-muggleborn position.”</p>

<p>Lucius shook his head. “No, you’re right. You don’t have <em>any</em> position. How long will you be able to play that game? Allying with the Light means constantly strengthening the ministry and taking away the powers that allow us to steer our world — kicking out the pillars that hold us up, while we’re still standing on them.”</p>

<p>“Then what are you proposing?” Slytherin asked.</p>

<p>“That you let us make some proposals of our own. Obviously this will take time and play into <em>certain</em> <em>people’s</em> agendas, but if I’m thinking correctly, you don’t actually much care about this legislation anyway.”</p>

<p>“Laws <em>do</em> need to evolve to adapt to new circumstances.”</p>

<p>Lucius sneered. “Something <em>you’ve</em> been helping with to no end.” There was a gust of mental wind and Lucius quickly reminded himself of the raw magical powers likely ready to come crashing down on his shields should he get too cocky. He centred himself, cleared his throat, and continued. “I suggest, for example, that family law should extend over magical guardianships of muggleborns — a way to help bring muggleborns into our culture, perhaps?”</p>

<p>Slytherin said nothing again.</p>

<p>Lucius counted that as a win. He smiled. “May I be frank?”</p>

<p>Slytherin inclined his head.</p>

<p>“I believe you are an isolationist, like me. You don’t want muggleness in the Wizarding World any more than I do, but you believe you can use it — a foolish belief, in my opinion — a dangerous belief — but at the core, you are an isolationist. We should be working together.”</p>

<p>“Just as you worked together with me during the last board meeting?”</p>

<p>Lucius wanted to scowl, but hid it just in time. “We both know why I withdrew that support. You are — <em>not</em> — the Dark Lord.”</p>

<p>“I never said I was.”</p>

<p>“No, you just let me look a fool all by myself.” He paused. “But that doesn’t mean we can’t work together now. We’ll write up a new proposal for the act, just taking out the more outrageous paragraphs and adding in ones that would—” he made a vague gesture with his hand, “—help you along a bit. The Dark and the Gray can understand one another better, I think.”</p>

<p>Slytherin slightly inclined his head. “This may be true.” And with that, Lord Slytherin turned and started floating back over the bridge between minds, over an endless pit of darkness.</p>

<p>“And <em>that’s</em> how you should properly deal with a chimaera!” Lockhart finished, beaming.</p>

<p>He was back in the headmaster’s office.</p>

<p>On the way out from the meeting, Lockhart tried to trap Slytherin into a private meeting of his own, but Slytherin responded simply by handing the man a small envelope and telling him he’d talk with him then.</p>

<p>Lucius recognised that envelope. He’d received one himself not too long ago, and although his Winter Festival schedule was normally completely full, he had decided that attending the first Slytherin Gala Night at the newly constructed Slytherin Manor was probably a good idea.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“<em>Known Knowledge Unknown</em>?” Professor Vector looked at the girl in front of her with surprise. “It’s not good manners to snoop around in other people’s secrets, young lady.”</p>

<p>“Please, Professor,” Hermione said, “this isn’t for that — this is for historical research.”</p>

<p>“Historical research?”</p>

<p>Hermione nodded.</p>

<p>“Hmmm… Well, in that case, I suppose you can borrow it.” She took a tome off her shelf and handed it to the beaming girl. “But don’t let me hear of you using it for nefarious purposes.”</p>

<p>“No. I promise you won’t. Thank you, Professor!” Hermione left the Arithmancy classroom, carefully closed the door behind her, and almost ran down to her favourite library spot. Success! The library’s only copy was checked out, but she’d tracked it down, and now she <em>had</em> it.</p>

<p>Twenty minutes later, Hermione was vibrating with excitement. It was highly likely that the code in the book wasn’t a code at all, but merely a password-protected document, protected not by mathematics, but by simple magic. That meant she could analyse it with her magic sensing skills, which she and Daphne were now learning along with the other girls in their regular group combat training sessions.</p>

<p>“Afternoon.”</p>

<p>Hermione’s eyes lit up. “Harry!”</p>

<p>“It’s a good thing you can exclaim like that and still keep it a whisper,” Harry joked. “Any progress?”</p>

<p>“Yes! I’ve found the book you suggested.”</p>

<p>“Nice. And you’re feeling better?”</p>

<p>Hermione blushed. “Yes. Much better thank you. I’m sorry.”</p>

<p>“No more apologising. You’ve said sorry enough.”</p>

<p>“Right, I’m sorry.”</p>

<p>Harry raised an eyebrow.</p>

<p>“I mean, yes. I’ll stop doing that.” Hermione looked around the reasonably empty library. “So, are you just here to read, or?”</p>

<p>“I wanted to bounce some ideas off you actually.”</p>

<p>Hermione’s eyes lit up again. “Of course!”</p>

<p>Harry proceeded to tell her about his talk with Lucius Malfoy, about the muggleborn situation, and about Malfoy’s assertion that he was an isolationist.</p>

<p>“Well, basically everyone in the Wizarding World is isolationist, really,” Hermione eventually said. “The ISS makes everyone an isolationist by <em>law</em>. But yes, I do see that there are different levels. I suppose you are kinda isolationist in a way…” She thought for a few moments. “But it makes perfect sense for you to be,” she continued. “If everyone had the stuff Mum and Dad do, there wouldn’t be any advantage in having it.”</p>

<p>“It would certainly be more convenient to keep things like that, yes,” Harry said, “But I’ve been thinking about it, and… I don’t know. There’s a serious problem with maintaining the Statute. It didn’t fall in the last timeline, but it <em>was</em> under serious strain. Part of me wonders if it might be better to simply move all the wizards in the world to a new place and create an independent nation for them.”</p>

<p>Hermione listened with rapt attention.</p>

<p>“Then if the Statute ever did fall, there wouldn’t be a witch-hunt situation, because the wizards would all be out of the country. The muggle ICW has systems in place for integrating new countries. If it started early enough, we could even take all the magical buildings with us. But there’s only really one place this would work, and that’s Antarctica. Muggles have never colonised it because of how inhospitable it is.”</p>

<p>“—But we have warming charms!” Hermione jumped in, excitedly. “Large-scale ones using wards! They could melt the ice and expose ground for growing crops and stuff! Antarctica’s huge! It could easily hold all the magicals in the world, and all the magical creatures, and more! Harry, this could really work!”</p>

<p>Harry made a non-committal gesture. “It could. Although I suspect it’s politically impossible. But even if we thought it was a good idea, we certainly wouldn’t announce it like that, which still leaves the problem of how I should best position the Gray.”</p>

<p>Hermione hesitated. “I’m not really sure about <em>that</em>. I mean, that’s up to you. You know best.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In Le Petit Magik, Sirius Black put down his wine goblet. “And now, for <em>some</em> reason, the Gray are delaying the third reading of the Muggle Protection Act and it might not even see a vote until the next session. I suspect the Dark are getting to them.”</p>

<p>On the other side of the table, Sirius’ best friend, Lord James Potter, looked thoughtful. He was sitting in exactly the same spot as when he’d had lunch with Arthur. It was his favourite spot. “The Dark do seem likely,” he said, taking a bite of his mostly eaten beef wellington. “This does put our plans backwards a lot. Arthur’s a good man, but he can occasionally put his foot right in it.”</p>

<p>“I think you don’t give him enough credit. Lord Slytherin is notoriously difficult to pin down, and putting together that partnership couldn’t have been easy.”</p>

<p>“Still haven’t met him?”</p>

<p>“Slytherin? No.”</p>

<p>“What about this Slytherin Gala thing coming up? Going?”</p>

<p>Sirius grimaced. “I don’t think I really have a choice.”</p>

<p>“Oh, why?”</p>

<p>“Alex would throw a fit if we didn’t.”</p>

<p>“I thought Alex swung with Lucius’ son these days.” James’ expression briefly resembled someone entering a dirty bathroom.</p>

<p>“Harry promises me he’s got the situation under control.”</p>

<p>“You’re relying on <em>Harry</em> to reign in <em>Alex</em>? I’m not sure how to feel about that.”</p>

<p>“You and me both, Prongs. But what choice do I have? Harry is the only one Alex listens to even a bit these days.”</p>

<p>“What are you going to do if she stays with her <em>current</em> ‘friends’?”</p>

<p>Sirius looked incredibly uncomfortable. “I don’t know. What <em>can</em> I do?”</p>

<p>“Set her up with someone more suitable?”</p>

<p>Sirius glared at his friend. “I refuse. Not after what happened to Jezebel.”</p>

<p>James looked contrite. “Sorry. I didn’t mean to bring up bad memories.”</p>

<p>“Forgiven.” Sirius put down his fork and knife and waved down a waiter for the bill. “What about the Muggle Protection Act?”</p>

<p>“Tricky.” James finished his wine and put the now-empty glass down on the table. “Maybe I’ll have a word with Bentley. He always seems to know what’s going on.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Harry and Daphne were walking around the great lake. This was de rigueur for young wizards and witches who found themselves betrothed, for one reason or another, but most other wizards and witches generally didn’t discuss matters of high-level legislative policy that might actually soon become the law of the land.</p>

<p>Eventually, however, their discussions turned to matters closer to hand.</p>

<p>“Daphne, do you think I’m pushing Hermione too hard?”</p>

<p>Daphne shook her head. She’d recently switched over to wearing her winter robes — long, burnt orange, and cashmere, trimmed with puffskein fur. Such things weren’t technically necessary with warming charms, but no one ever accused fashion of being too logical. The grass underfoot crinkled beneath her booted heels.</p>

<p>“Hermione pushes herself,” Daphne said. “You merely don’t stop her.”</p>

<p>“No, that’s not what I mean. Hermione is a genius, but lately I’ve noticed her thinking has become… Argh, I’m trying to find the right words. It’s very ‘inside the box?’” Harry snapped his fingers. “No! It’s inside <em>my</em> box. That’s what I mean — inside <em>my</em> box. I’ll bring her a problem and she’ll think about it only in terms of the parameters I already gave her. Or, if I suggest an idea, her next idea will always be a riff off of it. The only times I get pure Hermione thoughts are when I give her nothing and let her think 100% by herself. And that <em>can</em> be okay, but…”</p>

<p>“… But you’d prefer if she were a bit more open in her thinking, and you’re worried that your constant pushing to better herself is causing her to align her thoughts too closely with yours?”</p>

<p>“Yes, but I’m mostly worried I might have pushed things too far on her birthday. I didn’t <em>have</em> to show her any of that stuff from the last timeline. I could have just let her live out the whole rest of her life not knowing.”</p>

<p>Daphne sighed. “Harry, do you remember what Ginny said when you asked her how she was feeling under that hate potion keyed to you? She said she felt, ‘Horrible,’ and that she could, ‘See everything clear as day. Your manipulativeness, your calculation, and the way you don’t care about anyone that you don’t consider to be <em>yours</em>.’ But she also said that she <em>liked</em> that stuff. Hermione is the same way. She likes the bad parts of you too. They are what keep us all <em>safe</em>.”</p>

<p>Daphne turned around to face Harry. “Did you <em>need</em> to show Hermione that stuff on her birthday? That depends. One thing I’ve always most respected about you, Harry, is your honesty. You don’t keep secrets from us, unless there’s a very good reason, and even then, it’s usually just because you’re waiting for a good time rather than because you intend to keep us in the dark forever. Showing Hermione the truth was completely in alignment with the part of you that makes you, <em>you</em>.”</p>

<p>Daphne took Harry’s hands in hers. “But on the other hand, no, it wasn’t needed. We’re not children anymore, Harry. You don’t need to keep hammering the nail into the wood when it’s already lodged in right up to the head. We’re not going to <em>abandon</em> you. Hermione least of all.”</p>

<p>Harry took a deep, shuddery breath. “Thank you, Daphne. You are right, of course. I need to change my mindset. It’s just very difficult sometimes…” He trailed off.</p>

<p>Daphne slowly hugged him. “I know. If you want, let <em>me</em> keep an eye on the rest of the girls. You just keep working on keeping us safe, being a good friend, and a good betrothed.”</p>

<p>Harry hugged her back. “Yes, I think that’s a good idea. Thanks, Daph.” They held the hug for several more moments before Harry broke away. “On that note, I now need to go <em>meet</em> <em>up</em> with Hermione to make sure she’s not overdoing the occlumency again.”</p>

<p>Daphne smiled. “Okay. I’m going to meet up with Tracey and talk to some of the older students who want something. Good luck.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The Founders Club meeting room was once again in use.</p>

<p>More muggleborns from upper years had been turning up lately, although they’d all been told that they couldn’t stick around for the occlumency training until they’d signed the same deal as the second years had. Some had signed. Some hadn’t. Those that had were going through the basic exercises with each other, guided by Justin and Sophie.</p>

<p>Hermione, meanwhile, sat at the teacher’s desk and glared at the old book in front of her — the book Harry had given her, and whose magical code she needed to crack before she could even <em>think</em> about translating the old Mesoamerican scripts contained within. She placed her hand on the cover again, sunk into her occlumency, extended her magic sensing, and thought, once more, ‘how do I open you?’</p>

<p>And once more, the thought came back, ‘you speak my secret, oh flower of magic.’</p>

<p>That was all she had to go on. It <em>could</em> have been much worse. The requirement to decode the book <em>might</em> have been the crying of a newborn prince on the last light of Halloween. It <em>might</em> have been the blood of a virgin, born under a blue moon by star-crossed lovers, one of whom had once won the Grand National. It <em>might</em> have been just about anything. That didn’t make her current problem of a practically endless combination of possibilities any less problematic. Harry was unlikely to be pleased if she hurt herself again.</p>

<p>At that moment, the classroom door opened.</p>

<p>A couple of heads turned towards it, until they saw it was Harry, at which point they turned back to whatever it was they were doing. Hermione smiled brightly at him as he quickly made his way over and cast a few basic privacy charms — the kind it was at least <em>plausible</em> for him to know. “Harry! How was your walk with Daphne?”</p>

<p>“Relaxing. How’s your brain holding up?”</p>

<p>“Fine. I haven’t been putting as much of my magic into calculation as I was, and I’m taking regular breaks whenever I start to feel tired.”</p>

<p>“Do you mind if I take a look?”</p>

<p>“Of course not.”</p>

<p>Hermione felt Harry’s legilimency probe brush over her mind. A shiver shot down her back as she opened herself to him and let him in. A few moments later he pulled out.</p>

<p>“Good. You seem to have fully recovered.”</p>

<p>Hermione beamed.</p>

<p>They spent a little while after that discussing Hermione’s progress in her various projects, including the Founders Club. Harry watched the students practise while she filled him in.</p>

<p>“I want to start them on wandless magic soon, but I’m not sure which spells should come first. The stunning spell? Like we did?”</p>

<p>“Have them start on the summoning spell.”</p>

<p>“Oh! Right, that makes sense.”</p>

<p>They watched Colin Creevey and Annabel Entwhistle gasp as they both disconnected from each other, and then broke out in furious blushes.</p>

<p>“Anything else, my lord?” Hermione asked.</p>

<p>“There is one thing actually, yes. I’ve decided it’s time for you to undergo a series of special mental exercises designed to further improve your mental abilities.”</p>

<p>Hermione perked up. “That’s wonderful.”</p>

<p>“You remember the discussion we had about colonising Antarctica?”</p>

<p>“Oh, yes!”</p>

<p>“I want you to come up with a list of reasons why my idea is a terrible one — practical, strategic, ethical, symbolic, magical, etc. Then come up with a better one by yourself. No help from others.”</p>

<p>Hermione’s face slowly shifted from enthusiasm to confusion. “I… I…” Then it shifted to determination. “But Harry, your idea clearly <em>is</em> the best.”</p>

<p>Harry shrugged. “Nevertheless, this is all part of the exercise. I know you won’t let me down.”</p>

<p>Hermione hesitated before her face firmed. “I won’t, Harry.”</p>

<p>Harry’s face softened. “But make sure you don’t hurt yourself again, right?”</p>

<p>“Right.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“So, what do you think about the progress being made on the Muggle Protection Act?” James asked. He was sitting in a plush leather armchair, sipping on a glass of brandy.</p>

<p>Opposite him, Mister Bentley smiled. “Well, obviously it is a good idea. And we at the ministry welcome your efforts to make our jobs easier. As for progress… I understand the Dark will be meeting sometime next week to hammer out their own amendments and alteration to the act.”</p>

<p>“How do you know that?” James shot back, surprise evident on his face.</p>

<p>“I <em>know</em>,” Bentley said calmly. “Now whatever alterations they make are obviously going to be unacceptable, but the Gray may not see things that way.”</p>

<p>“So, what would you suggest?”</p>

<p>Bentley smiled again. “Don’t you worry about a thing, Lord Potter. I suggest you leave it all to me.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Lord Lucius Malfoy, this court finds you guilty of behaviour likely to cause a class C breach of the International Statute of Secrecy. Normally, this would result in your doing a small amount of time in Azkaban, however, owing to your esteemed position in our society, and the many positive contributions you have rendered to the magical community in general, we are instead sentencing you to community service, the exact details of which shall be decided by the committee assigned to your case.” Madam Marchbanks banged her gavel. “Do you have anything you wish to add?”</p>

<p>Standing in front of the small group of judges, wearing his finest wizarding robes, holding his silver snake's head cane, and standing proud and tall, Lord Malfoy slowly nodded. “I live to serve, your honours. This will be no different.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Not far into the forbidden forest (just far enough for it to not be forbidden), Harry was watching Luna feed the thestrals with strips of raw meat while explaining to her the relocate-everyone-to-Antarctica concept.</p>

<p>“It’s a nice idea, Harry,” Luna said, gently patting one of the thestrals on the back while it and another ripped a chunk of flesh in two. “I love snow. It’s pretty.”</p>

<p>Harry smiled. “But?”</p>

<p>“But it could take decades. We might not have that much time.”</p>

<p>“Mmmmm….” Harry tapped his chin. “So what would <em>you</em> suggest?”</p>

<p>“Do you care about everyone?”</p>

<p>Harry thought about that. “No, not really,” he said. “Just those that matter to me.”</p>

<p>“Who matters to you?”</p>

<p>“You do — you and Daphne, Hermione, and Ginny — even Alex — your parents too — Tracey and some of the lords of the Gray and their families… Clare, as well, a bit.”</p>

<p>Luna nodded. “That’s a good place to start. I suggest not trying to build a place for <em>everyone</em>. That will take far too long, and most won’t go along with it anyway. I suggest just focus on making our home, Gairsay Island, as protected as possible — a little oasis in a sea of chaos — capable of surviving anything anyone throws at it — a fortress — a home.”</p>

<p>Harry smiled. “Wise words. Thank you, Luna.”</p>

<p>“I live to serve you, my lord.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Hermione was almost ripping her carefully straightened hair out in frustration. She just couldn’t see how she was supposed to move on from where she was. The password could be <em>anything</em>, and—</p>

<p>“You’re getting stressed again,” Daphne said lightly from the other side of Hermione’s trunk. She was a few pages into yet another of her muggle strategy books.</p>

<p>“I know!” Hermione groaned. “But I’m not sure what to do next. I’ve tried everything in the magical books on code-breaking. Is there some other kind of brain-dead obvious way of magically cracking a password that I, being just a stupid muggleborn, still don’t know about?”</p>

<p>Daphne pursed her lips. “None that <em>I </em>know of. Why don’t you ask Harry for help?”</p>

<p>“I can’t do that! Harry is relying on <em>me</em> to solve this. I’m sure he could solve it if he had the time, but he doesn’t. That’s why he needs <em>me</em>.”</p>

<p>“What about your other project? How’s that going?”</p>

<p>Hermione hesitated. She’d spent half an hour the previous night thinking of ways that Harry’s idea was a bad one, but every time she came up with a reason, there was always another idea she came up with for how that problem could be solved.</p>

<p>Rising sea levels caused by melting ice? Simply grow the glaciers around the settlement instead of sending it out into the ocean. Concentrating magicals together making them more vulnerable to muggle long-range weaponry? Develop physical shield wards capable of stopping even a nuclear warhead. There must be a lot possible with so much magic concentrated in such a small space, instead of spread out across the entire planet.</p>

<p>Hermione shook her head and focused back on the problem in front of her. Then her eyes fell on the title of the strategy book Daphne was reading.</p>

<p><em>The Intelligence and Counter-intelligence of World War II — Enigma</em></p>

<p>Enigma! Hermione launched herself from her chair—“Give me that!”—and snatched the book from Daphne’s hands.</p>

<p>“Hey! That’s a Slytherin Library Book!”</p>

<p>“Article 1-G of the Granger-Slytherin Vassalage Contract — MAAN House Slytherin will grant House Granger unfiltered access to the Slytherin Library.”</p>

<p>“Yes, but not while I’m still reading it!”</p>

<p>Hermione ignored her, along with her subsequent muttered comments about making Hermione’s next hour of required service, under article 2-C of the same contract, shovelling dragon dung in the Hogwarts greenhouses. Instead, she flipped through the book’s table of contents, quickly zeroing in on the relevant sections. Hermione sighed. Of course, she thought. Just how dumb <em>was</em> she? Just because <em>a</em> muggle method didn’t work <em>before</em> didn’t mean there was <em>no</em> muggle method that might prove useful <em>now</em>.</p>

<p style="text-align: center;">— End of Chapter Forty-five —</p>
