Chapter 47 - Interlude - There’s No Business like Hogwarts Business

<p>The Gryffindor common room was warmth and grandeur realised in stone and magic. Orange flames burned on every wall, a roaring fire filled the hearth at all times of the day, and all throughout the space, large comfy sofas were filled with the weight and chatter of several dozen student witches and wizards.</p>

<p>Sitting around the central fireplace, the boy who lived held brooding court with his collection of sycophants, hangers-on, yes-men, underlings, pawns, fan-girls, occasional actual friend, and Virgo Malfoy.</p>

<p>On the other side of the room, Fred Weasley was sat and silently studying the scene, resting, with his chin in his hands, while he considered things.</p>

<p>He and his brother were in what could only be described as an interesting situation. Younger sons of a Light, pureblood, ancient but common house, they had somehow managed to insert themselves as business partners to the mysterious and powerful Lord Slytherin, even if they’d never actually met the man. They’d accepted a patronage agreement with the <em>other</em> Potter son on a whim, and that had somehow snowballed into a contract with Devlin Whitehorn whose family made the Nimbus broomstick line, providing an income stream that, while not quite setting them up for life, <em>was</em> very impressive for a couple of fifteen-year-olds. He doubted any of their more noble classmates were doing five-digit business deals on the side while juggling their education.</p>

<p>Most of their attention now was on general problem solving for some mystery project for The Settlers, Lord Slytherin’s <em>other</em> garden shed inventors. Fred wasn’t sure exactly what the project was, but suspected it was something to do with living underwater. George, by contrast, thought Slytherin wanted to enter the flying market with a broomstick of his own.</p>

<p>Of course, while all this was very cool, it didn’t stop the fact that neither of them was looking forward to the sparks that might fly when Mum learned of what they were up to, and even more so that Dad had been helping them too. The fact that so much money was involved was unlikely to make it any better. But they would not let that stop them. They were their own wizards — capable of so much more than slotting into the ministry machine — to climb and politic their way up a ladder created by someone else. Much better to craft your own ladder with you already on top, even if it didn’t reach quite as high.</p>

<p>“Just let us know if you need any more, right?” George said, standing a few feet away and shaking the hand of an upperclassman.</p>

<p>“Sure thing,” the upperclassman happily replied before turning and walking away, his other hand clutching a small box, full of Chocolate Frogs and Fizzing Whizzbees.</p>

<p>George landed beside him, pockets jingling. “Over a galleon so far this week. We’ll have to make another trip down to Honeydukes before too long.”</p>

<p>Fred nodded absently, eyes still planted on the boy who lived’s little group of followers, plus Virgo Malfoy. Something about that girl just creeped him out, although he couldn’t put his finger exactly on what.</p>

<p>“We should make a trip tomorrow,” George said.</p>

<p>“Mmmm…?”</p>

<p>“I said, we should make a trip to Honeydukes tomorrow. We’re running low on supplies and it’s even a Hogsmeade weekend, so we won’t need to sneak around the village. You okay, Fred? You seem a bit out of it.”</p>

<p>“Just thinking about things.”</p>

<p>“Oh, what things?”</p>

<p>“Should we even bother selling more sweets and drinks to our housemates? It’s not much money compared to the other stuff we do.”</p>

<p>“It was <em>your</em> idea.”</p>

<p>“Yeah, I know, but I was just thinking that maybe we should focus a bit more.”</p>

<p>“It doesn’t take <em>that</em> much time.”</p>

<p>“Couldn’t we use that time better though?” He turned towards George who was looking thoughtful.</p>

<p>“Maybe,” his twin conceded. “But what is it we actually get out of selling stuff to our classmates?”</p>

<p>“Money?”</p>

<p>“Yes, but we also get a mindset. The Weasley Twins are business people. They do business. If we need something, we go to them. Sure it’s not all that valuable now, but in the future…”</p>

<p>“…When many of them are heads of houses,” Fred continued, “it <em>will</em> be valuable. I see your point.”</p>

<p>“Exactly!”</p>

<p>Fred hummed for a few moments, thinking deeply. “But if that’s the case, why only the Gryffindors?”</p>

<p>There was a moment of silence between the two twins, during which a trio of witches a few sofas over shrieked in laughter over some private joke.</p>

<p>“Good point,” George slowly replied. “But how would we do that? It works now because everyone knows where to find us. The other houses can’t come into the Gryffindor Common Room.”</p>

<p>“We set up somewhere else in the castle?” Fred asked. “Somewhere teachers aren’t likely to stumble on.”</p>

<p>“But all those places are hard to get to. You have to know exactly what to do. We can’t risk handing out parchments.”</p>

<p>“No, I agree. Word of mouth only.”</p>

<p>“So how?”</p>

<p>“Mmmmm…” Fred put his chin back in his hands and stared off into the middle distance. “I’m sure we’ll figure something out.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In the Headmaster’s office, Headmaster Gilderoy Lockhart sliced the seal of yet another parchment, and started reading. His hair wasn’t quite as coiffed as normal and a few grey hairs had started to poke through. Who’d have known that running a school would be so much work! He’d expected there would be more leisurely walks in the grounds and fewer merlin-damned meetings — meetings with parents, meetings with staff, occasional meetings with students, with the ministry, the board, and even other schools, now that plans for the tri-wizard tournament were being drawn up.</p>

<p>He rubbed his eyes, sighed, and continued reading about the modified rules Karkaroff was demanding they integrate into the tournament. Then a ghost slipped through his door. Gilderoy’s sigh immediately turned into a wide grin, his eyes brightened, and his whole posture shifted into one of jovial confidence so quickly one might believe the world had just glitched.</p>

<p>“Sir Nick!” Gilderoy beamed. “Good old Nick, my friend! What <em>can</em> I do for you?”</p>

<p>Sir Nicholas de Mimsy-Porpington’s face stayed impassive. “You know last week was Hogsmeade weekend? I thought you should be aware, Headmaster, that I have just come across two students in one of the corridors selling wares they obviously bought from the village.”</p>

<p>Gilderoy’s huge grin didn’t fade. “Yes?”</p>

<p>“Yes, headmaster. Their set up looked rather… well planned.”</p>

<p>“Not selling anything dangerous were they?”</p>

<p>“No, headmaster, but the rules say—”</p>

<p>“—Well then, I don’t think we need to worry about this do we? A small bit of entrepreneurialism is to be expected! Encouraged, even! Yes, that’s it exactly, don’t worry about it, hear me?”</p>

<p>Sir Nicholas didn’t look at all happy, but bowed deeply. “As you command, Headmaster.”</p>

<p>The ghost then left and Gilderoy collapsed back into his chair. Honestly! He didn’t have time to deal with every small little thing. Children selling sweets? He had more important things to deal with.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“You’re doing so well, Sophie, I’m very proud of you.”</p>

<p>Sophie beamed as Hermione read over her latest essay — the one that Professor Snape had given an O. When she’d first come to Hogwarts, her grades had been terrible, and being a Ravenclaw with bad grades was like being an easily tired house elf and her position in the social hierarchy as a muggleborn girl of modest means had been very clear to everyone, even if a few of them <em>had</em> been kind about it.</p>

<p>But now — now she was outperforming them all. Now, she was the top of her class, the best-scoring Ravenclaw in her year. Her classmates eyed her with grudging respect, and many of the younger ones even came to her asking for help — so many, in fact, that she’d had to start turning some of them away. She was nowhere near Hermione, of course, but miracles could only go so far.</p>

<p>“Keep it up,” Hermione finished handing the essay back to her. “We’ll be starting wandless magic soon and you’ll need to be as far ahead as you can be to keep up.”</p>

<p>“Yes,” Sophie said, practically glowing from the praise. “Thank you.”</p>

<p>The Founders Club meeting continued on like it usually did, but with the added buzz among their year about their soon to begin wandless magic lessons.</p>

<p>Eventually they all started to file out and she found herself falling in with Justin and Kevin.</p>

<p>“So unfair that we didn’t get to go to Hogsmeade with the others,” Kevin said. “I’d have liked that. I never get to try all the sweets at Diagon Alley.”</p>

<p>Justin looked both ways before lowering his voice. “If it’s just sweets you want, I might know how to help you there.”</p>

<p>“How?” Sophie asked. “You bought some more?”</p>

<p>“No, but, well… follow me, they should be around now. This is actually really cool.” His eyes now had a playful glint to them.</p>

<p>“Who?” Kevin asked, “What’s really cool?” But Justin was already leading them to the grand staircase. “Okay,” he said, when they were obviously alone. “You just have to remember this, right?” and he proceeded to recite a poem.</p>

<p><em>Go to the fifth floor,</em></p>

<p><em>Towards the hospital rooms,</em></p>

<p><em>Duck under the tapestry,</em></p>

<p><em>Find the armour that looms,</em></p>

<p><em>Turn three times while humming,</em></p>

<p><em>What tune is up to you,</em></p>

<p><em>Then walk back the way you came,</em></p>

<p><em>To find us, our service, and brews,</em></p>

<p><em>And many more things too.</em></p>

<p>“Go to the fifth floor?” Sophie asked.</p>

<p>“Service and brews?” Kevin echoed.</p>

<p>“Yes,” Justin said, still smiling. “Go on, see if you can find the place.”</p>

<p>It took them several minutes of wandering to eventually identify which tapestry the poem was talking about—several of the ones they first tried had solid walls behind them—but they eventually located it and the armour that looked like it had been made for the groundskeeper. Sophie chose to hum Rule Britannia while Kevin hummed the opening song of Postman Pat, and Justin, the opening bars of Flight of the Valkyries.</p>

<p>They then made their way back up the passageway, wondering over the fact that, somehow, the paintings and decorations had changed. They turned a corner into another wide corridor and saw, sitting to one side of the passageway, facing the opposite wall, an open trunk — an open trunk that an older student with flaming red hair was busy climbing out of.</p>

<p>“Welcome,” The boy said, hopping down and spreading his arms wide. “You have quested through many perilous perils to find us, but now you have. Fred Weasley, at your service. And you, Mister Finch-Fletchley, I didn’t think we’d see you again so quickly, but I’m happy we are.”</p>

<p>After the introductions were made, Fred Weasley started showing off all the stuff he had for sale. While the boys chatted, Sophie stole over to the trunk and inspected the sign that had been hung over it.</p>

<p><em>Sweets, Drinks, and Potions.</em></p>

<p><em>Need a pick me up for a late night of studying?</em></p>

<p><em>Running low on Blood Pops?</em></p>

<p><em>No worries! We can help. See our list of prices below.</em></p>

<p><em>Special requests considered on a case by case basis.</em></p>

<p><em>Opening hours between six and eight Monday to Friday.</em></p>

<p>Then a list of prices and services.</p>

<p>Sophie ran her finger down the list, fascinated.</p>

<p>“But if you want to push the boat out, can I suggest these little wonders?” Fred said to Kevin, while Justin was enjoying a Chocolate Cauldron he’d just bought.</p>

<p>“Not sure if I have the money for that,” Kevin said, looking longingly at the contents of a tray.</p>

<p>“Not to worry. We have many unique flavours to suit every taste and pocket.”</p>

<p>Sophie looked up and down the corridor, otherwise empty save for the portrait of a sleeping old wizard surrounded by arcane-looking instruments. Truth be told, she was rather sick of being the poor muggleborn of Ravenclaw. She couldn’t do anything about the muggleborn, but the poor bit…</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Classes were just ending. Fred Weasley packed his satchel, gave George a nod, which they both understood, and made his way alone towards the secret hallway where they now did all their research in their trunk while occasionally taking orders for all sorts of things from an ever-growing portion of the student body. Even he was amazed at how well their little project was going. Hufflepuffs, Ravenclaws, even Slytherins were now regular visitors. The cloak and dagger nature of it all appeared particularly attractive to the students. They hadn’t needed to pick up and run from a teacher even once yet. No one had tattled. Not even the few prefects who’d learned the poem’s secret.</p>

<p>They’d picked the spot specifically because it was tough to get to, almost no-one ever came here, and several secret passageways surrounded it in just the right way for them to put up some basic wards, the most important being a muggle repelling ward. It wasn’t a perfect defence against Filch, but it certainly helped.</p>

<p>Fred hummed a popular Celestina Warbeck song while turning around three times, walked back down the corridor, turned the corner, and stopped dead. The girl who’d been with the second year boys from a few days ago was sitting at a small table a few paces away from their trunk, stacked high with books. She was looking at him nervously, a book open in her hands, having obviously heard him approaching.</p>

<p>“Now, what’s all this then?” he asked, sauntering over. “I didn’t think <em>this</em> was that great a spot to study.”</p>

<p>The girl—Sophie Roper, wasn’t it?—pointed at a small card at the front of her desk, which read—</p>

<p><em>Tutoring Sessions</em></p>

<p><em>2 sickles an hour</em></p>

<p><em>Any subject</em></p>

<p>“I just thought there wasn’t any law against me doing what you were doing,” she said quickly. “And you weren’t offering tutoring so it’s not like I’m competing with you or anything.”</p>

<p>Fred turned to loom over the smaller girl. “Yes, but you see, little Ravenclaw, we have certain contingencies in place if a teacher finds us, and we put a lot of work into making sure this place was hidden, and that people would know how to find us.”</p>

<p>“So?” the girl said. “It’s not like you own this bit of corridor.”</p>

<p>“No, but you being here too makes things difficult for us.”</p>

<p>“So you’re saying I can’t be here?”</p>

<p>Fred frowned. They hadn’t planned for this.</p>

<p>Footsteps approached, but he knew it was just George.</p>

<p>“Fred? What’s going on?”</p>

<p>Fred quickly explained the situation to his twin while the girl glared nervously up at them.</p>

<p>They went into a huddle a little way away from the new table and cast a basic privacy ward.</p>

<p>“So, what do we do?” Fred asked. “Tell her to go away?”</p>

<p>“She might go to a teacher,” George replied.</p>

<p>“Yeah, she might, but she won’t. Unless she wants the whole school to hate her.”</p>

<p>“We can’t bet on that.”</p>

<p>“I think we could.”</p>

<p>“Yes, but I’ve got a better idea. Why not let her stay here, but charge her rent?”</p>

<p>“How much?”</p>

<p>“A sickle a day?”</p>

<p>“She’d never be able to afford it.”</p>

<p>“What about a share of her profits?”</p>

<p>“Could work…”</p>

<p>“And remember what we were talking about before? We want people to think the Weasley Twins mean business. Surely other business people are even better for that than customers.”</p>

<p>“Too true, oh twin of mine.”</p>

<p>On the other side of the corridor, Sophie watched the older boys as they huddled together, still feeling as nervous as she feared she looked. This was, without a shadow of a doubt, one of the scariest things she’d ever done. There had been the troll last year, of course, but she hadn’t run <em>into</em> that, she’d just <em>been</em> there. The damsel in distress. <em>This</em> was her doing something scary of her own free will. A part of her mind was voicing the rather loud opinion that this was all not worth it just for a bit of extra spending money.</p>

<p>Her nerves were not helped when the twins simultaneously looked up from their huddle right at her and grinned.</p>

<p>“Miss Roper—” one started.</p>

<p>“—We’re impressed by your determination,” the other continued, “and would like to make a deal with you.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In the headmaster’s office, Gilderoy Lockhart was busy. Very busy in fact. A small pile of parchment was stacked up on one side, but that could wait. This could not.</p>

<p>“I’ve written myself into a corner!” he exclaimed. “How do I get myself out of it? I can’t have the boy-who-lived <em>kill</em> his enemy! This is a children’s book! But I can’t use the power of love <em>again</em> — I used that last time. What if I have one of his friends produce an amulet that solves the problem? Yes! Genius! And I can justify it by setting it up as the MacGuffin of the next book! Oh, Gilderoy, you amazing man, you!”</p>

<p>“Ahem,” said a voice.</p>

<p>Gilderoy’s entire body jerked as he tried to recalibrate to not being alone, only to realise that he was being addressed by one of the many paintings that were sharing space with the many beaming visages of himself around the walls.</p>

<p>“Yes, Phineas?”</p>

<p>“I have a guest to see you, Headmaster,” the rather grouchy painting said. “She seems rather excited.”</p>

<p>“A painting?”</p>

<p>“Indeed.”</p>

<p>“What does she want?”</p>

<p>Phineas didn’t get to respond though, because at that moment, a rather thin woman wearing far too much jewellery appeared in Phineas’ painting, and started shrieking, “Crass commercialism! A den of smugglers and profiteers! Here! In the hallowed halls of education and learning!”</p>

<p>Gilderoy put his hands over his ears. “My dear lady, what are you talking about? And I’m using the word ‘talking’ in the loosest possible sense.”</p>

<p>“I was visiting an old friend of mine in one of the less visited parts of the castle, and what do I find there? Trade! Barter! A black market of wheeler-dealers plying their illicit craft, taking advantage of the innocent and hoodwinking the gullible!”</p>

<p>Lockhart looked at the woman with a tired expression. “You mean you found students selling sweets?”</p>

<p>“A nest of pirates and racketeers!”</p>

<p>“Oh, go away and shut up you crazy old bat.”</p>

<p>The woman’s expression froze, she seemed to struggle with herself, but did dip a small curtsey and say, “As you command, Headmaster.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Sally Smith, daughter of a branch line of the Ancient and Noble House of Smith carefully placed her miniature anvil on the floor in front of her with a defiant flourish. Down the corridor, on the other side of the Weasley twin’s trunk, Zacharias Smith, Heir of the main line of the Ancient and Noble House of Smith, placed his own miniature anvil on a large slice of tree trunk with a similarly defiant flourish. Neither looked at each other as they proceeded to populate their own tables with all manner of trinkets, necklaces, earrings, pendants, chokers, and other types of jewellery, mostly bronze and copper, but here and there, a few pieces in steel, silver and even gold.</p>

<p>Neither cousin looked at each other as they picked up tiny hammers from neat collections of tools, and continued not looking at each other as, with obvious expertise, they started tapping away at thin strips of metal on their respective anvils.</p>

<p>They weren’t alone. A small audience, mostly friends (different friends), were milling around to watch the show. Fred Weasley was watching the two new entrants to their little hidden space, while George was talking to an older Hufflepuff who wanted to take the tutoring space left by Sophie’s inability to service the older students. Sophie herself was busy with a first year, reviewing the basic theories of magical capacity in regards to transfiguration.</p>

<p>Even as Fred’s gaze passed back through the two Smiths’ tables, the thought occurred to him that he really should ask them about what family magics they had available, and if they’d be willing to charm other, more utilitarian objects.</p>

<p>“Excuse me.” He was being addressed by a fourth year Fred knew only by face. “I don’t suppose you’d have something more filling than sweets would you?”</p>

<p>Fred smiled. “Of course!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Headmaster Gilderoy Lockhart collapsed back in his chair and gazed out of the window, exhausted. He really needed an assistant or something. Someone to help him with all this work. But that wasn’t likely to happen. It wasn’t as though he’d be willing to spend the money himself, and the school board certainly wouldn’t.</p>

<p>Out on the grounds, Hagrid was busy hauling a stag towards his smokehouse through the frosty grass. The cloudy sky was a dark blue, stained with orange and purple. It was definitely getting darker earlier. He relaxed into his chair and let his senses float meaninglessly through the wards of Hogwarts. They were just so damn hard to read. So many senses, so many tastes. He had good taste, of that he was sure, but distinguishing between so many was way beyond him. He wouldn’t be surprised if that was why Dumbledore ate so many Bertie Botts Every Flavour Beans — to keep in practice.</p>

<p>He let his magic wander until it settled on an unusually large concentration of tastes, somewhere in the castle. None of the common rooms, he was pretty sure of that. There were four other concentrations for that. Nor the Great Hall — he was pretty sure he’d got that one down. Had even Dumbledore been able to do this? It was bloody difficult.</p>

<p>Gilderoy stood up and wandered down the stairs until he reached one of the portraits who he knew wouldn’t be staring at him all day every day until he stopped being headmaster. “Excuse me, my good man, could you tell me if there might be a large collection of students somewhere in the castle right now?”</p>

<p>“A large collection?” sniffed a knight in golden armour. “I don’t know, but I can ask around.”</p>

<p>“Please do so.”</p>

<p>The resulting magical mystery tour lasted a good hour and involved him getting lost several times as he made his way through parts of the castle he’d swear had never existed in <em>his</em> day. He’d had to ask directions back to the central staircase multiple times from paintings, ghosts, and even Lily Potter and Minerva McGonagall who he’d met separately, and Filius Flitwick, whose classroom he’d accidentally dropped in on, through the ceiling, twice. Finally he took directions from yet another painting, found a ridiculously large suit of armour, hummed three times while turning around, made his way back the other way, turned the corner, fully aware of the audible bustle of what could only be a large group of students, and stared.</p>

<p>Close to a dozen tables had been set up on one side of the corridor, full of all sorts and everything, each manned by a wizard or witch, each of whom was busy with something or other, whether reading, selling, or in the cast of a few, actually making products right in front of the eyes of their customers.</p>

<p>One witch was baking biscuits in a tiny magical oven. Another was knitting scarves, while two more pairs of knitting needles floated overhead, perfectly replicating her each and every movement. A boy was busy painting one of his classmates, while another was playing a wooden flute, filling the air with a soft melody and perfectly completing the market fete feeling. What had to be at least three dozen other students milled around the tables, chatting, laughing, watching, and generally just being a part of something.</p>

<p>The chatting slowed though as one-by-one the students noticed him standing there and went silent, eyes widening as the realisation that they might well be in serious trouble became apparent.</p>

<p>Gilderoy shook his head, gave them a roguish smile, and walked towards them. “What’s all this then? What’s all this then? Busy setting up a market? Students today, dear Merlin! Even <em>I’d</em> never have had the brass to try something like this when <em>I</em> was at Hogwarts, and if you’ve ever read of my many adventures, which of course you have, you’ll know that I wouldn’t say something like that lightly.”</p>

<p>He stopped at one girl’s stall. “What are you selling, little lady?” As if it wasn’t perfectly obvious.</p>

<p>“Magical Jewellery,” the girl said. “Imbued with my family magic.”</p>

<p>“And your family is?”</p>

<p>“Smith.”</p>

<p>“Smith.” Gilderoy stroked his chin. “Your head of house is on the board isn’t he?”</p>

<p>“He is.”</p>

<p>Gilderoy waggled a finger. “And what would <em>he</em> say if he learned about all this?”</p>

<p>“He’d say, ‘did you get a good price?’ and, ‘I hope you weren’t selling junk and disgracing the family name.’ Unlike <em>some</em> people.” She then turned and glared at a boy manning a similar stall who glared back.</p>

<p>Gilderoy considered this before deciding to go for an easier target. “Okay, okay, so who’s in charge here?”</p>

<p>The entire crowd, as one, turned to where two boys with red hair were busy trying to sneak away. There was a conspicuous hole in the table line up.</p>

<p>“Ahah! So <em>these</em> are the scallywags! The Weasley Twins! I should have known! You can’t just go around setting up shop in the middle of a school. You need all sorts of things. You need licenses. You need your family’s permission.”</p>

<p>The two boys had now turned around and straightened up, doing their best to look like they hadn’t been trying to sneak away. “Please, Headmaster,” one of them said, “We <em>do</em> have permission from our family.”</p>

<p>“You do?” He said doubtfully.</p>

<p>A little rummaging around later, he was reading a very official-looking document from the boy’s father giving them the right to set up a business in the family’s name. The terms were extremely vague and the scope of the business was ‘buying and selling,’ which meant just about anything.</p>

<p>“Okay,” he said giving them another roguish grin, “But you still need permission.” Behind him, Gilderoy was very aware of nearly fifty students all silently watching the proceedings.</p>

<p>The twins looked at each other. Then back at him. “Can we then?” one asked. “We did get someone asking to set up a small bookshop the other day, you know, impulse fiction, not the sort of thing you get in the library.”</p>

<p>“Bribery!” Lockhart laughed and waggled another finger under the boy’s noses. “Very naughty. And absolutely not,” and then more quietly said, “but perhaps we should go and talk about this in private anyway? Mmm?”</p>

<p>The boys both nodded and after a quick discussion up the corridor which certainly wasn’t about them also selling his books, he turned and addressed the still frozen students, “Boys and Girls, I am going to leave now. I’ve never been here. I have not seen anything. I’m sure you understand?”</p>

<p>They all nodded.</p>

<p>“But first, I really must try one of those lovely looking biscuits!”</p>

<p>It was amazing how quickly the hustle and bustle picked back up, even with the headmaster in their midst.</p>

<p>Fred leaned closer to George. “Close call there.”</p>

<p>“Indeed oh twin of mine.”</p>

<p>“What should we do now?”</p>

<p>“Make sure he gets as many biscuits as he wants, free of charge. It’s what Harry would do.”</p>

<p>“Where is Harry anyway?”</p>

<p>George smirked. “Over there getting his hair ruffled by Lockhart.”</p>

<p>“Oh wow — and Ginny?”</p>

<p>“Left half an hour ago.”</p>

<p>“Should we leave too? You know… hop away?”</p>

<p>George smirked. “An ice idea, but we’ve got to watch the nest.”</p>

<p>“Waddle I do without you?”</p>

<p>“Slip up far too often, that’s what.”</p>

<p>The two chuckled and made their way back to the tables, taking their role as the hosts of the party, finding their quidditch team-mates, and making sure everyone was fed and watered. There would be plenty of time for serious research with the big boys later. Now was just for them and their classmates.</p>

<p style="text-align: center;">— End of Chapter Forty-seven —</p>
