Chapter 49 - Soul Anchors - Part 2

<p>The pub was dark and dingy. The smell of stale beer hung in the air. The reed floors were mattered with so many stains, it was impossible to tell their original colour. A dozen low-voices, scattered around the room, conversed in small groups. Another group stood near the burnt-out fire, betting knuts on snitch shooting. Over the bar, were mounted several decapitated human heads. The heads did not look pleased about this.</p>

<p>The door to the pub opened with a loud creak. All talk halted while the clientele inspected the new-comer.</p>

<p>The landlord used his wand to make a used glass less dirty before putting the glass aside. “Are you sure you don’t have the wrong place, Miss?” he said, not unkindly.</p>

<p>The woman ignored him and looked around. The dress she wore, alone, would probably have paid for enough rounds to keep the entire room drunk for a week, although the way many of the men were staring suggested that it wasn’t the dress they were interested in.</p>

<p>“No, I’m sure this is the place,” the woman said, walking to the bar, and sitting down on one of the stools. About half the room lost interest at this point, although that still left a sizeable number eyeing her up, down, and side-to-side.</p>

<p>“You can sit on my lap, darlin’!” one of the patrons called.</p>

<p>The woman ignored him and ordered an ice-liquor, which the landlord poured from a bottle so dirty it was a wonder plants hadn’t started growing off of it.</p>

<p>The woman took it and sipped. She shivered and put the glass back down on the bar. “Perhaps you can help me, Mister…?” She trailed off, waiting for a name.</p>

<p>“Call me, Harry,” the landlord grunted.</p>

<p>The woman’s eye twitched. “Very well, Mister Harry. I am here on behalf of my lord. He is looking for people who share his view of the world.”</p>

<p>The landlord did not look impressed. “And you are?”</p>

<p>“I am Lady Alexandra Patricia Black.”</p>

<p>This caused a murmur from people near enough to hear what she’d said.</p>

<p>“You’re Lord Slytherin’s bird, ain’t ya?!” someone shouted. “What’s that posh nob want with us?!”</p>

<p>“He’s looking for people who believe the Wizarding World can be more than it is.”</p>

<p>A wizard with the build of an ox and skin that looked as tough as old boot-leather lumbered over. “And what does that mean <em>exactly</em>?” he asked.</p>

<p>“It means people are going to have to make choices about whether they want to be on the side of progress or whether they want to be swept away by the flood that is coming. For those who lead everything will be given — power, gold, respect — a chance of a better life.”</p>

<p>“This isn’t the first time a dolled-up Black has waltzed into this pub singing those words.” The man glowered. “Following that insane bitch lost me two fingers and an ear. And in the end, even the Dark Lord wasn’t able to follow through on his promises. Get out, little girl.”</p>

<p>“You are not the master of this place, and I am <em>nothing</em> like Bellatrix Lestrange.” Alexandra glared, facing the room. “And I am <em>not</em> a little girl — does <em>this</em> look like a little girl?!” She swept a hand down her body.</p>

<p>Behind the bar, the landlord rolled his eyes.</p>

<p>Laughs filled the room.</p>

<p>The wizard standing in front of Alex also chuckled. “Okay, I’ll admit you are funnier than that bitch, at least.” His face hardened again. “But seriously, get out.”</p>

<p>“Look,” Alex said, a note of frustration edging into her voice “Just hear me out, okay? I assure you it will be worth your while.”</p>

<p>“Get out.”</p>

<p>“I have a <em>job</em> that needs doing — fifty galleons up front.”</p>

<p>“Get out.”</p>

<p>“You can’t just keep saying <em>get out</em> like that!”</p>

<p>“Do you want to be <em>thrown</em> out, bitch?” He took a step forward.</p>

<p>Alex took a step backwards. “I swear, you lay a single hand on me, and Bellatrix Lestrange will seem like a cake-walk!”</p>

<p>“I doubt it. Get her!”</p>

<p>Several wands were drawn from random groups and several hexes launched from all directions. The man in front of Alex lunged for her, hands outstretched. This turned out to be an unwise move. Black magic chains grabbed him and used him as an impromptu human shield, blocking every one of the hostile spells. Things quickly devolved from there. People dove for the floor, furniture was smashed, and magic flew everywhere, bouncing off each other and causing strange and unpredictable results. And in the middle of it all, was Alexandra, whirling around with her wand glowing a rainbow of colours as she swatted and shielded all the basic-level spells aimed at her. Her eyes were laser-focused, but her mouth was smiling. Any doubt the patrons had of her abilities had surely been dispelled. Perhaps they’d be more inclined to listen to her after <em>this</em>.</p>

<p>Then the room stopped. Not because everyone had been knocked unconscious, but rather because time itself had simply halted. One wizard was paused in the middle of casting a deep purple spell. One chair was floating halfway across the room. Even the flames in the torches on the walls were stalled in mid-lick.</p>

<p>Alex spun around. The landlord was staring at her with his arms folded.</p>

<p>“Hey!” Alex whined. “Why’d you stop me? I can still win this!”</p>

<p>“You actually lost about five seconds after you entered the pub, but I just wanted you to reflect on this moment before we continue.”</p>

<p>“Why? And what do you mean ‘I lost’?”</p>

<p>The landlord said nothing, but simply snapped his fingers.</p>

<p>Suddenly everything went back into action. Alex had only a split moment to sense the purple spell and swat it straight back to its caster. Another quick mental command and her chains wrapped themselves around the ankle of a wizard who was trying to scrabble away, flinging him into the last two wizards still standing with wands drawn.</p>

<p><em>Now</em>, it was over.</p>

<p>Alex lowered her wand. “Does anyone have anything to say?”</p>

<p>The remaining patrons, who hadn’t reached for their wands, stared at her with stony-eyes.</p>

<p>“No one?” Alex asked. “Because I do still need help, you know.”</p>

<p>No one moved.</p>

<p>“Fine, then I’ll just sit here until someone with some <em>balls</em> decides to talk to me.” She hopped back onto her ball stool and sipped her ice-liquor, which, miraculously, had stayed intact throughout the entire exchange.</p>

<p>The landlord cleaned another glass and put it away.</p>

<p>Alex leaned forward. “They <em>will</em> talk to me, won’t they?”</p>

<p>The landlord shrugged. “Yes… technically.”</p>

<p>“<em>Technically</em>?”</p>

<p>Alex felt a presence beside her. A moment later, the stink of a man’s breath leaned in to whisper urgently. “My lady, you must leave quickly. The aurors are coming.”</p>

<p>Alex barely had time to register what the man had said before loud and fast footsteps could be heard coming from outside. Aurors? Panic welled up in her. As quick as she could, Alex had a curse on the tip of her tongue and her wand out. The door to the pub exploded. Her spell flew straight and true, into nothing. It simply passed through a cloud of empty dust. Then the windows exploded — both of them, on either side of the door, and two powerful, hooded wizards landed in the middle of the room, each holding round iron shields in front of them, their wands both pointed right at her. With a speed that would have been unbelievable to anyone who hadn’t regularly fought against Harry, spells of bright light shot towards her. Desperate, Alex swatted as many as she could away, but it was no use. The moment she’d bounced <em>just one</em> spell back towards them, the two aurors had adapted and leapt aside to encircle her with clockwork coordination — like a trap snapping shut on a mouse.</p>

<p>Alex’s world went red.</p>

<p>And then black.</p>

<p>When Alex came to, she sat up groggily, looking around the still-destroyed wreckage of the pub. No one was around now — no patrons and certainly no aurors. She looked down and realised that she wasn’t an adult anymore. She’d changed back into her true form.</p>

<p>“Okay, let’s begin, shall we?” said a cheerful voice from atop the bar. Alex clambered to her feet, and then climbed onto one of the bar stools to find Harry sitting cross-legged on the bar-counter, polishing a glass with a cloth, muggle-style, which produced a lot better result than the magic ‘Harry the landlord’ had used. “Firstly,” Harry began, “two out of ten.”</p>

<p>“What?!” Alex said indignantly. “I know it didn’t go <em>amazingly</em> well, but I did <em>okay</em>, considering how <em>unreasonable</em> they were all being! I deserve better than a <em>two</em>!”</p>

<p>“They were not being unreasonable.”</p>

<p>“Yes, they were!”</p>

<p>“No,” Harry said, firmly. “They were being <em>adults</em>, rather than the children you are used to dealing with — or the adults that you deal with as an eleven-year-old. I dare say you’d have had more luck if you’d tried with your true form.”</p>

<p>Alex looked at Harry with incredulity. “You think they’d have taken me more seriously like <em>this</em>?”</p>

<p>“Yes, because like <em>that</em> your attempts to be taken seriously would appear precocious, rather than immature and threatening. As a witch, as a child, and as the daughter of your parents, you’ve spent so much of your time learning to be taken seriously—to be someone that demands respect—that you haven’t learned how to use harmlessness as a weapon.”</p>

<p>Alex huffed, but didn’t argue further. “Okay, how do I do that, then?”</p>

<p>“You already know how. You did it in that very exchange.”</p>

<p>“I did?”</p>

<p>Harry waved his hand in the air and her voice, aged up by ten years, filled the room. “And I am <em>not</em> a little girl — does <em>this</em> look like a little girl?!”</p>

<p>Alex gritted her teeth. “But that was the worst bit! They all laughed at me!”</p>

<p>“They laughed because it <em>was</em> funny. No adult woman with looks like you’ll have would ever feel the need to defend her adulthood so emphatically. It’s something a child would do, so they assumed you were making a joke — at least, at first. But that’s the point. Even if you didn’t mean to, you made a joke, and reduced the tension in the room. For a single <em>moment</em>, you were less threatening, which made building repport more likely. <em>That’s</em> what you need to work on.”</p>

<p>“You want me to be a <em>clown</em> for them?!”</p>

<p>“Using jokes to appear less threatening does not make you a clown. It makes you cunning, like a true Slytherin should be. When you curtsey for an adult you do not respect, you are not <em>truly</em> submitting to them. When you dance with a boy you don’t care about, you still allow him to lead.”</p>

<p>“But those are things I <em>must</em> do because I am <em>weak</em>.”</p>

<p>“And this is something you <em>must</em> do because you are <em>strong</em>. Hasn’t Luna been teaching you wizarding poker? If you have a weak hand, bluff — if you have a strong hand, you <em>still</em> bluff. To crow about having a strong hand will just cause everyone else playing to fold. That’s what every wizard in this room was trying to do — they were trying to fold. There are <em>lots</em> of reasons noble children learn the game, you know.”</p>

<p>Alex stared at the bar top for a few moments before straightening up. “Okay, so how do I do this?”</p>

<p>Harry swung his legs off the bar top and landed, crouched, on the floor. A moment later, he stood in the figure of Lord Slytherin, looming over her, one of the most intimidating visages Alexandra knew.</p>

<p>“You watch me, and you learn.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Alex awoke the next morning to the sound of kelpies rustling against the windows to the great lake, and the sound of running water coming from the shower room. She grasped the lightning bolt pendant around her neck. Lord Slytherin was <em>so</em> cool, words couldn’t even begin to <em>describe</em>. By the time he was done, he’d had the whole pub practically eating out of his hand. Okay, she knew it was just a dream—it wasn’t real—but even that didn’t matter, she <em>knew</em> that in the real world, it would have still worked.</p>

<p>And what was even more ridiculous was that half the things Slytherin had done, were the exact <em>opposite</em> of what he’d told her <em>should</em> be done. Arriving with a large snake wrapped around his chest was <em>not</em> un-threatening. Shooting five snitches clean out of the air, from the other side of the room, without even using a <em>wand</em>, wasn’t exactly subtle either. And if <em>she’d</em> tried to buy the whole pub a round of drinks, she was sure the result would have been at best a grudging nod, not the boisterous cheer that Slytherin got.</p>

<p>And how?</p>

<p>A few minutes after sitting down, and not having said a word to anyone, except to order a drink, a dream version of Luna had run in, unwrapped the snake from around Slytherin’s chest, hugged it profusely, and then happily ran back out, calling out a thank you behind her. Slytherin had made some joke into the stunned silence and everyone had laughed. Suddenly, the snake had gone from threatening to funny. The fact that it wasn’t <em>there</em> any more probably helped, too.</p>

<p>His wandless performance at the snitch shooting, some time later, had been followed by a quip about how his mother had one day decided to try to get him to wake up earlier by putting his alarm clock on the other side of the room, and how it had never seemed to work. That had gotten quite a few laughs as well. Obviously, none of the dream patrons had known Harry’s real story, or if they did, they pretended not to. They were constructs, created from Harry’s experimentations into magically induced multiple-personality-disorder — they could be whatever Harry willed them to be.</p>

<p>Apparently that included people who would cheer a round of drinks if announced by someone who’d spent over an hour in their company sharing stories and jokes while waiting for his friend’s children to finish whatever it was they’d been up to in nearby Diagon Alley. Not long after <em>that</em>, Slytherin had started lamenting the state of the Wizarding World and the troubles and difficulties of leadership. By the end of it all, <em>they</em> were encouraging <em>him</em>.</p>

<p>Just before leaving, he’d leaned into one of the men he’d been most engaged with and whispered something that Alex, watching invisible from a corner of the pub, couldn’t catch, but which Harry told her afterwards was a request for the details of people in need of coin, who’d support his cause, and could help him with a ‘sensitive matter.’ He’d succeeded in getting the list, which was the whole point of the game.</p>

<p>Truly, Alex had a <em>lot</em> to learn.</p>

<p>She pulled aside the covers of her bed, dropped her nightgown, ignored the still-closed beds of Luna and Ginny, however frustrating that was to do, and stepped into the shower room.</p>

<p>“Miss Heiress!” Hestia Carrow’s eyes widened slightly (if the hair ornament in the basket was to be trusted). The witch quickly hopped out of the shadow and ushered her inside. “It should be the perfect temperature for you.”</p>

<p>Alex nodded and let the water run over her. On second thought, she also couldn’t help feeling that many of the tricks Lord Slytherin had used only worked because he was a powerful <em>man</em>. Somehow, she couldn’t see Lady Black getting all back-slappingly chummy with men who’s breath smelled like the backside of a cow-shed — or them with her. Perhaps Harry didn’t quite appreciate all the advantages he had. Or perhaps, Alex thought with a sudden flash of insight, it wasn’t the exact methods she was supposed to copy, but rather the theory. She had to find a female way to do the same thing. Actually, being less threatening as a woman was probably the <em>easy</em> part, if she actually tried. She looked into the shower mirror, put on a pouting expression, and then deliberately let out the girliest giggle she could manage.</p>

<p>“Miss Heiress?” said a shocked voice from behind the wall.</p>

<p>Rats! Alex’s mind flew. “Err, I was just thinking about how surprised the other houses will be when the duelling tournament comes around,” she bullshitted. “They think that just because Potter and Potter are out, that means they stand a chance.”</p>

<p>“Oh, yes, Miss Heiress,” Hestia cooed from outside, far more enthusiastically. “You’ll crush the unworthy beneath your heeled feet.”</p>

<p>“My boots, Hestia. It is a duelling tournament.”</p>

<p>“Oh, right, yes, Miss Heiress, yes — your boots. And we have Defence Against the Dark Arts this morning. Snape is finally going to let us put those stupid Gryffindors in their proper place.”</p>

<p>Alex arrived at the Slytherin table in the great hall some time later, with Hestia on one side and Flora on the other. They’d insisted on doing her hair again. They always did. It didn’t matter that it basically looked fine — <em>fine</em> was never enough. She doubted even Daphne’s hair got the attention that her’s did.</p>

<p>“We’re ready, by the way, Miss Heiress,” Flora whispered to her over the boiled eggs. “We’re so sorry it took so long to find the formal declarations — we had to send off for them — but we have them now.”</p>

<p>Alex was totally lost at sea. “Declarations?”</p>

<p>“To swear ourselves to you for the time we’re at Hogwarts. We never thought we’d have to do it, so we never bothered to learn. <em>Please</em> forgive us, Miss Heiress.”</p>

<p>“Oh. Oh! I thought you were going to settle for the declaration you already gave me.”</p>

<p>“Oh no, we couldn’t do <em>that</em>,” said Hestia, sounding aghast.</p>

<p>“It would disgrace our proud pureblood traditions,” Flora chipped in.</p>

<p>“Right,” Alex said. “Of course.” Lord Slytherin had once mentioned in one of their letters how many non-noble purebloods were often more extreme sticklers for tradition than their noble counterparts. They had more to prove.</p>

<p>“Don’t let it faze you, you two,” Draco Malfoy said, sitting down opposite her while addressing the twins. “Everyone knows that Heiress Black does tradition like she does everything else, with the subtlety of a dragon in a china shop. Still, I can’t say I’m entirely surprised. There’s usually <em>someone</em> who’s pledged themselves to someone by this time of the school year — that’s what my father told me.”</p>

<p>Alexandra smirked.</p>

<p>Just then, the post arrived.</p>

<p>She was somewhat surprised to see a letter from her father. Surprised, because she’d written two letters already and hadn’t expected a response from the third either. If it sounded out of character for her to write multiple letters to Sirius without getting a response, that’s because it was. Lord Slytherin had ordered her to write them.</p>

<p><em>Alex,</em></p>

<p><em>My apologies for not responding earlier to your other two letters. I honestly wasn’t expecting you to start writing so frequently, but I’m happy you are. It sounds like you’re having a good time at Hogwarts. I can’t say I’m all that happy with what’s been going on— Merlin knows your antics have been giving me a hard time, what with all the people in the ministry who think I’ve been raising a secret Dark Lady—but Harry assures me that this is all part of some ‘Master Plan.’ And that he’s taking good care of you.</em></p>

<p><em>I’m still not all that happy if this has anything to do with the Gray, but better the Gray than the Dark, I suppose.</em></p>

<p><em>I’m sorry. I shouldn’t be talking about such heavy topics. Aren’t I always the one who says you’re supposed to be having fun? I hope you’re at least managing to play some good jokes on your current, ‘friends,’ *wink* *wink*.</em></p>

<p><em>Just make sure you take care of yourself. And if you ever find yourself in over your head, let me know at once, and I’ll be down there like a ton of bricks.</em></p>

<p>— <em>Dad</em></p>

<p>Alex couldn’t help having mixed feelings as she quietly folded the parchment and slipped it into the folds of her robes. Despite all the crap their family had been through, she couldn’t deny that she <em>did</em> like it. On the other hand, it was rather annoying that her father seemed to trust Harry more than her. She did understand. This was <em>Lord Slytherin</em> they were talking about, but this was her <em>father</em> — her <em>head of house</em> — her <em>lord</em>. <em>Surely,</em> he was supposed to one-hundred per cent on <em>her</em> side. At least she could always rely on his overzealous protectiveness.</p>

<p>Alex looked across the table to where Draco was sitting and slicing into his own letter. She doubted he’d have anything as drama filled as hers.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><em>Dear Draco,</em></p>

<p><em>Your father and I are pleased to hear of your progress in your studies. We are also immensely proud of your efforts to bring your cousin back into Dark. My family has too long been a dog of the Light. Above all else, do nothing that might jeopardise that relationship. I doubt you need me to tell you that, though. Alexandra has already shown herself to be a powerful witch, just like your Mother.</em></p>

<p><em>Your father is still in Japan, but will be back with plenty of time for the winter holidays. You will accompany your father and I to the Greengrass Winter Festival, as usual, but we have also been extended an invitation to a gala dinner at Slytherin Manor, along with many other respectable wizards. I expect you to be on your best behaviour and to do nothing which might reflect poorly on your House. If you do, I shall be extremely displeased.</em></p>

<p><em>We shall pick you and your sister up at Platform 9 3/4. Be sure not to forget anything at Hogwarts this year. We will not be sending Dobby to pick things up, again.</em></p>

<p>— <em>Mum</em></p>

<p>Draco focused in-between his mother’s lines. ‘If you do, I shall be extremely displeased’ was code, which meant, ‘there <em>is</em> a code.’</p>

<p>After cycling through a few of the magical methods he’d been taught, and taking care not to alert any of the many students sitting around him in the great hall, a new set of lines appeared before his eyes, far fainter than the others.</p>

<p><em>Draco,</em></p>

<p><em>We are still unsure whether we will include your sister in this year’s festivities. I know you may believe that we are greatly displeased with her, but the truth is rather more complex than that. Your father and I have discussed this at length and have decided to entrust you with certain information. You must keep this to yourself. Obviously, this is a Malfoy family secret. We are telling you now because we have decided that keeping you in ignorance would expose you to more danger than to do otherwise.</em></p>

<p><em>Virgo is a spy—</em></p>

<p>With the seriousness of a star chaser handling a match-determining quaffle, Draco immediately stopped reading, folded the letter up, and tucked it away into the folds of his robes. The letter continued, but he wouldn’t risk reading any more in the Hogwarts Great Hall. Even going as far as he had, had been foolish.</p>

<p>“Bad news, Draco?” Black asked.</p>

<p>Draco shrugged. “Just news. Have you also been invited to Slytherin’s Gala?”</p>

<p>“No, but I’m sure my father has. I’ll be able to badger him into letting me go.”</p>

<p>“Maybe you should be in Hufflepuff,” joked a random older student.</p>

<p>Alexandra glared, and silenced him.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Their first class was Charms with Professor Flitwick. Draco filed into the classroom, head spinning through all the implications of the revelation that Virgo was just pretending to be a disgrace. He’d barely talked with his new sister all year — there had hardly ever been time. They didn’t share classes, common-rooms, or clubs. And whenever he did see her, she was stuck to John Potter like glue. Disgusting… but, if she was a spy…</p>

<p>The class was well underway now.</p>

<p>The half-goblin professor had clambered onto his book-tower and was now busy instructing. “Now, remember,” Flitwick called out to the assembled Slytherins and Ravenclaws, “You must correctly integrate the final two-thirds twirl movement at just the right moment or the spell won’t catch. Glass won’t just dance by itself, you know.”</p>

<p>Draco glanced over to where Harry Potter was sitting next to Heiress Greengrass. Obviously, <em>he’d</em> already mastered it. Draco gave his wand a twirl—to show everyone his utter confidence—and focused on the spell.</p>

<p><em>BOOM!</em></p>

<p>Just then, a <em>massive</em> shockwave shook the room. Draco dropped his wand with a clatter.</p>

<p>“My heavens!” On top of his pile of books, Professor Flitwick had been knocked off his feet. “I think <em>that</em> came from below us.”</p>

<p>What was below them? The Defence Against the Dark Arts Classroom. Draco’s mind raced. The Slytherin and Gryffindor first-years’ Defence Against the Dark Arts Classroom.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The story was all over the school by Lunch. Draco got it from Hobby Harper, one of the unquestionably Dark children among the first years, whose name wasn’t Black or Carrow.</p>

<p>“So, you know that the Headmaster likes to drop in on classes sometimes?”</p>

<p>Draco nodded.</p>

<p>“Well, he dropped in! But today was the first day Snape was letting us actually cast spells at each other. He had the classroom set up for narrow duelling. Merlin, you should have seen Snape’s face when Lockhart suggested he teach us all the protego charm before starting. I thought for sure he was going to burst a blood vessel. But that wasn’t the best thing.” Harper’s voice dropped as though about to impart some huge secret.</p>

<p>“What?” Draco asked.</p>

<p>“They duelled!” Harper whispered. And then much more loudly said, “I kid you not! Snape and Lockhart duelled! I think Snape was utterly fed up with him constantly poking his head around the door, so he suggested they do a ‘demonstration.’ Hah!”</p>

<p>“Is that what caused the explosion?” asked a fourth-year witch, one of many who was also listening in up and down the table. Alexandra Black was nowhere to be seen.</p>

<p>Harper shook his head. “No, I’m getting to that. And, yeah, I know what you’re thinking, but Lockhart actually handled himself rather well. Say what else you will about him, but he really <em>does</em> know his DADA.”</p>

<p>“So what happened next?” Draco asked.</p>

<p>“Snape looked like he’d swallowed a lemon. To be honest, I think Lockhart wants the Defence position as much as Snape did! Snape still won, but it wasn’t the steamrolling I think he’d hoped for. They started pairing up students for practice, and Lockhart put <em>your sister</em> on the big stage.”</p>

<p>Draco groaned. “Let me guess, did Snape put Black on the other side?”</p>

<p>“Yes! Well, no, actually he first called for Weasley, but she tripped on the way up and hurt her knee, so <em>then</em> he called for Black.”</p>

<p>Draco had his head in his hands now. “And what happened next?”</p>

<p>“They duelled! Magical Merlin’s left bollock, it was insane. I had <em>no</em> <em>idea</em> your sister was <em>so</em> advanced! The <em>spells</em> they were using! It didn’t <em>start out</em> all that impressive, but it… escalated. Snape and Lockhart tried to get them to tone it down, and they did, a bit, for a time, but then Black pulled out her chains and then it was all gloves off. I’d say your sister is more advanced than Black, but Black can spell swat, which massively evened things up. No one was paying attention to their own duels at this point. Everyone was focused on the main stage.”</p>

<p>Draco really wanted to get back to his dormitory so he could read the rest of his Mother’s letter. “And the explosion?”</p>

<p>“Your sister was getting really pissed off. I mean, <em>really</em> pissed off. And then Black cast… wait for it… you’ll never guess.”</p>

<p>“Go on.”</p>

<p>“Serpensortia.” Harper smirked. “<em>Your</em> favourite spell! Next thing everyone knew, there was a bloody great snake right in the middle of the platform. And your sister… your sister went kind of nuts.”</p>

<p>“How so?”</p>

<p>“I swear that snake didn’t even get a chance to let out one single hiss. Virgo used bombarda on it — instantly — wordlessly. To be honest, I think she might have a phobia of snakes. It certainly shook her.”</p>

<p>Everyone around the table who’d been listening in, had their mouths open in shock.</p>

<p>Draco’s mouth dried. “My sister used a wordless dark blasting curse, in the middle of a packed class-room?”</p>

<p>“No one was <em>too</em> badly hurt. Just broken bones and ruptured eardrums. The stage was wrecked though. The headmaster took both of them away. I swear that was the first time I’ve ever seen him <em>not</em> smiling. Snape didn’t look too happy either.”</p>

<p>Draco winced. ‘Snape didn’t look too happy,’ was student code for ‘so furious that boggarts would run away from <em>him</em>.’</p>

<p>Rumours continued to swirl all day. Word on the grapevine was that Black didn’t appear for Potions, and that Virgo hadn’t shown for History of Magic.</p>

<p>Draco had double Herbology and so hadn’t been able to verify anything. They were potting teenage mandrake and everyone had their fluffy ear-muffs on. This made discussion impossible.</p>

<p>It was with great relief that he was able to rush back to the common-room afterwards (with dignity, of course), to find out what exactly had happened.</p>

<p>He arrived in the common room to find a sight, that, while not unexpected, he had never-the-less been dreading.</p>

<p>Black was sitting in <em>his</em> chair. It was official, then. He, Draco Malfoy, was no longer leader of the Dark. She gave him a curt nod and motioned him forward. Holding his head high, Draco walked over and sat on her right side. Everyone was watching — even the Gray. No, <em>especially</em> the Gray. “What happened?” he whispered.</p>

<p>“Me and your sister were grilled for an hour. Minus one-hundred points from Slytherin and Gryffindor, and detentions for a week. My first one starts soon, so I need to make this quick.”</p>

<p>Black straightened imperiously in her chair. “Hestia and Flora Carrow. I believe you have something you wish to tell me.”</p>

<p>Fifteen minutes later, Draco was ensconced behind the safety of his dormitory’s bed curtains. If he’d thought the Carrow twins were a bit creepy before, it was nothing to what they were like now. With how she’d refused to back down against his sister, no matter what, Black might as well have tattooed <em>Dark Lady</em> on her forehead. It was just really, <em>really</em> annoying that she didn’t know Virgo was a spy for their side!</p>

<p>Draco pulled out his mother’s letter from his robes and finished reading.</p>

<p><em>Virgo is a spy. Dark magic is involved. She is acting under orders from your Father to infiltrate the Light on our behalf. While you can trust her, and she is your sister, do </em>not<em> antagonise her needlessly, and do </em>not<em> anger her. But above all, do not endanger her position by giving away her true alignment — even to those such as Theodore and Alexandra. What I told you at the start of the year still applies. Virgo may one day take on a far more prominent role in our fight against those who seek to destroy our way of life than you might ever suspect.</em></p>

<p><em>Love, Mum.</em></p>

<p>Draco crumpled the letter in his fist.</p>

<p>Don’t antagonise Virgo, but also don’t alienate Black. And don’t tell anyone, and most certainly not Black, that Virgo is a spy.</p>

<p>Fan-fucking-tastic.</p>

<p>Just then, the door to the dormitory slammed open. “Malfoy!”</p>

<p>Annoyed, Draco swung the curtains aside. “<em>What</em>?”</p>

<p>The visitor was a prefect. He looked frazzled. His breathing came short and fast. “It’s your sister. Something happened.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Virgo had left the headmaster’s office wanting to throttle someone, he was so infuriated. Seven days of detention! Seven! He’d never gotten even a <em>single</em> day of detention during his <em>entire</em> time at Hogwarts when he was Tom Riddle. So many of his plans to return to the chamber would have to be put on hold.</p>

<p><em>Maybe you should have kept your cool when the Slytherin girl shot that snake at you,</em> Julia thought.</p>

<p>Virgo thumped the wall in frustration. <em>Do you not realise how dangerous that situation was for us? If anyone had learned we can talk to snakes—</em></p>

<p>—<em>Dangerous for you maybe. If people learned what you are, maybe I’d be set free!</em></p>

<p><em>Don’t be delusional. You know full well how badly that could go for you.</em></p>

<p><em>I only know what you know about soul magic. Which isn’t all that much! Who rips their soul apart on the directions of one badly written scrawl in an old book?</em></p>

<p><em>Enough! </em>Virgo punched the wall again, harder this time, bringing a whimper of pain from the little Swede in his head. He brought himself back under control. Today hadn’t gone well. Snakes were one of the few ways he could be unmasked. He’d been careful to stay clear of anything snake-like or serpentine ever since regaining a body. Suddenly coming face-to-face with one had shaken him. He couldn’t afford to delay any longer.</p>

<p><em>Hey, where are we going?</em> Julia asked.</p>

<p><em>We have an hour or two before detention. That’s enough time to at least ensure that the passageways I will use to return to the chamber are not blocked. And with most of the students still in class, the chances of being found are much lower.</em></p>

<p>Virgo marched down a side passageway, did a little jig before a statue, ducked into the passageway beyond, came out beside a glass-work grandfather clock, and set the time to five o’clock on a Thursday. He then hit the fourth brick down to the right, and marched back down the secret passageway he’d just walked up. He exited on a balcony overlooking the grand-staircase. There was the smallest of carvings in the wall next to him. A snake.</p>

<p>“Open,” he said.</p>

<p>The parsel-tongue only secret passageway… did <em>not</em> open.</p>

<p>Virgo frowned. That was odd. “Open!” he said, a bit more forcefully this time.</p>

<p>Again the passageway did not open. Grumbling, Virgo got down on his hands and knees to inspect the passageway. He couldn’t feel anything obviously out of place. There weren’t any wards protecting the passageway — certainly none like the detection wards he’d found in the bathroom entrance moments before the assassin had turned up.</p>

<p>Frowning, he stood back up.</p>

<p><em>Maybe try another? </em>Julia suggested.</p>

<p><em>There’s no good reason why this one shouldn’t work, but…</em></p>

<p>He tried another — a trick doorway behind a normal door. Still nothing.</p>

<p>A feeling of great unease was starting to coil its way around his chest. Why weren’t the passageways responding to him?</p>

<p><em>I don’t know, </em>Julia thought,<em> you’re saying ‘open’ clearly enough.</em></p>

<p>Virgo stilled, suddenly hyperaware of his Swedish passenger. <em>Open?</em> He thought back.</p>

<p><em>Yes.</em></p>

<p><em>Not ‘&Ouml;ppna’?</em></p>

<p>There was a moment of mental silence before Julia thought, <em>No, you’re definitely saying ‘open’.</em></p>

<p>A kind of frozen dread sunk into Tom’s heart. And for just a few moments, it <em>was</em> Tom. All thoughts of Virgo were stripped away by blind emotional panic — the panic that grips a soul when the truth is evident, but the mind refuses to believe.</p>

<p>If Julia could understand Parseltongue then she’d hear it in her native language. If she <em>couldn’t</em> understand parseltongue, then she’d just hear a bunch of hissing. If she was hearing him say Open…</p>

<p>Frantic, he whipped up his wand. “Serpensortia!”</p>

<p>There was a loud bang, and a large black snake shot from the tip of his wand, landing with a thump only a dozen feet away.</p>

<p>“Stop!” he shouted.</p>

<p>The snake uncoiled itself and hissed at him. It <em>hissed</em> at him!</p>

<p>Tom’s eyes widened.</p>

<p>“Stop!”</p>

<p>The snake darted towards him.</p>

<p>“STOP! STOP I ORDER YOU! ARGHHH!”</p>

<p>The snake had bitten him on the wrist! With a blast of raw magic, the snake was ripped free and flew across the passageway. Another wand wave, and it was gone, leaving only several small puncture marks and ripped clothes behind. He recognised the snake that had bit him. Not venomous, but even a non-venomous snake could cause serious problems if left untreated.</p>

<p>A faint sobbing could be heard in the deepest recesses of his mind. The girl was crying.</p>

<p>Suddenly, something clicked. Anger roared through him. <em>YOU!</em> he mentally screamed.<em> It must be you! You must be the reason! I’LL KILL YOU!</em> “CRUCIO!”</p>

<p>Two screams lit up the dark Hogwarts passageway. One mental, the other out-loud. The body of an eleven-year-old girl writhed on the floor. Her wand clattered to the ground.</p>

<p>Bad idea. Bad idea.</p>

<p><em>P-P-P-P-Please, Tom. Don’t. Please.</em></p>

<p>Think! He <em>couldn’t</em> have lost his parseltongue ability. He couldn’t have!</p>

<p>His whole body was on fire. Even after that tiny jolt, every nerve felt like it was still being wrung. An idea occurred to him. Of course. <em>That’s</em> how he could restore the balance.</p>

<p>He concentrated, felt the familiar feeling of his occlumency coming into focus, and the dark Hogwarts corridor faded from view.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>A girl was crying.</p>

<p>Virgo stood up, once again in his old, male body. He stared down at the little whimpering mess beside him in disgust. “Get up.”</p>

<p>She looked up at him. “T-Tom.”</p>

<p>“My name is Virgo!” he spat. “And I said get up. We’ll soon find out if this is all your fault. And if it is, I swear, I will see to it that your filthy, tiny, mudblood soul is flushed from my body like the waste that it is.”</p>

<p>Julia got to her feet, still whimpering.</p>

<p>Tom stretched his arms out wide, shaking free any remains of the torture curse. It was all in the mind — literally. All around him, sat row after row of the Hogwarts library. His mindscape. Along with the whole of the rest of Hogwarts. His home. Where he was safe.</p>

<p>Without a backwards glance, he strode towards the doors. Julia trailed along behind him. She couldn’t keep far away from him. Not here. Not given what she was.</p>

<p>This was Hogwarts as he longed for it. Peaceful, and all <em>his</em>.</p>

<p>As he walked the silent corridors, suddenly, and against all expectation, he was overwhelmed with a foreign feeling — an alien feeling — guilt. Where the hell had <em>that</em> come from?</p>

<p>He shoved it down and carried on as though nothing had happened, hoping against hope that the girl hadn’t noticed. A quick glance behind him assured him that she hadn’t.</p>

<p>There was no room for such weak emotions in his soul.</p>

<p>A few more minutes passed.</p>

<p>“I believe you were right,” he eventually said as they walked down the grand staircase.</p>

<p>“Virgo?”</p>

<p>“I should have paid more attention to trying to keep us as separate as possible. I will make it a priority from now on. And if you are <em>not</em> the cause of my current predicament… I will even ensure that you are not destroyed.”</p>

<p>Julia looked at him with tears in her eyes. “Thank you.”</p>

<p>The path led them to one bathroom in particular on the third floor. They both stepped inside. Virgo smirked. A feeling of victory swam through him — of vindication. The entrance to the Chamber of Secrets in his mindscape was still open for him.</p>

<p>“You want me to go down <em>there</em>?” Julia asked.</p>

<p>Virgo smiled. “You have already been there in my memories, girl. Be honoured. Few see the greatest work of Salazar Slytherin. And now you will be one step closer to true greatness.”</p>

<p>“But you’re supposed to be able to fly to get down there. You never learned to fly before you split your soul.”</p>

<p>“Stop stalling. You know full well how I got down here the first time.”</p>

<p>Julia screamed all the way down, just as he’d known she would. Bones crunched when they reached the bottom. Technically it hadn’t been necessary to replicate the chamber in quite that level of detail, but he was nothing if not a perfectionist. The giant snake door, with its many animated snake locks was already open to him. He swept through with the air of a lord returning to the manor. With a wave of his hand, green flames sprung up across every wall, casting flickering shadows across the massive stone pillars.</p>

<p>He spread his hands as he walked down the massive cathedral-like centre. “Welcome to the Chamber of Secrets.” His voice echoed off the walls.</p>

<p>“Are you going to tell me why we’re here now?”</p>

<p>Virgo sighed. “So impatient. Very well, girl. Listen, and see how a superior wizard solves a problem that would bring a lesser mind to its knees. Every mindscape can have a guardian— an almost sentient-like being made to watch over the wizard, even when the wizard themselves may not be able to. I created the guardian of this place from a piece of myself when I could still speak Parseltongue. The guardian can speak parseltongue for that is its nature. And the guardian is still a part of me, so the guardian will be able to restore to me the ability to speak the noble language of Salazar Slytherin, or, failing that, will be able to speak on my behalf. QED.”</p>

<p>Julia gave a grudging nod. “So, what are you waiting for?”</p>

<p>Virgo just smirked and walked to the back of the chamber, to the huge statue which stood there. The statue wasn’t the only thing at the back of the chamber. A small bookcase was carved into the stone, full of books, instruments, and even a collection of wands in a pot.</p>

<p>Virgo glanced over and saw that Julia was actually eyeing up those wands.</p>

<p>He snorted and flicked his own wand, levitating the pot up and out of the reach of any little fingers that might get clever ideas. “And now!” he said, walking back to stand in front of the statue. “Let’s begin.” He rolled up his sleeves. “Speak to me, Slytherin, greatest of the Hogwarts four!”</p>

<p>Silence.</p>

<p>The silence went on for quite a long time.</p>

<p>“Is it just me,” Julia started.</p>

<p>“Shut up.”</p>

<p>“—or is there—”</p>

<p>“Shut up.”</p>

<p>“—a tiny flaw in your cunning plan?”</p>

<p>Virgo whirled around. “If you don’t be silent right this minute, girl, I swear—”</p>

<p>“Have you considered the possibility that you can no longer speak parseltongue because you are blood-adopted by the Malfoys and your only Slytherin ancestry, as recognised by the Albion Family Magics, comes <em>not</em> from the noble House of Gaunt, but through your filthy, muggle—”</p>

<p>“CRUCIO!”</p>

<p>A girl’s scream filled the cavern.</p>

<p>“P-Please, Virgo, I’m sorry! I won’t! I won’t!”</p>

<p>“You <em>better</em> not!” he snarled. “Don’t <em>ever</em> suggest that to me, <em>ever</em> again! Make no mistake, your continued survival depends on <em>my</em> goodwill. You are <em>weak</em>, and I <em>hate</em> weakness! Those that cannot find the will to strive for greatness deserve less than nothing—!”</p>

<p>He was cut off by a sudden rumbling sound. His snarl turned victorious. “You see! Never doubt—”</p>

<p>BOOM!</p>

<p>Virgo whirled around. The exit doorway had slammed shut. Even as he watched, a dozen stone snakes that had been sitting idle, slid into an intricate pattern on the door and snapped tight.</p>

<p>“Please tell me you can open that,” Julia whispered.</p>

<p>Virgo felt non-existent blood drain from his face. He ran up to the door, all the way across the chamber. “Open!” he shouted.</p>

<p>Nothing happened.</p>

<p>“OPEN!” he yelled, much louder this time.</p>

<p>Nothing happened.</p>

<p>Running back, he aimed his wand at the door, “Bombarda!”</p>

<p>A fantastic explosion rocked the chamber, but when the dust cleared, the door hadn’t suffered a scratch.</p>

<p>“Can’t we just will ourselves out?” Julia asked, her voice was becoming frantic. “This is just your mind, isn’t it?”</p>

<p>“Don’t you think I’d have done that already if that was an option?” Virgo spat back.</p>

<p>“What about drilling through the walls?”</p>

<p>“It’s all the same.”</p>

<p>“Can’t you change your mindscape while you’re in it?”</p>

<p>“In theory, yes! That was what I was going to try next!”</p>

<p>He concentrated, willing a hole in the door. Nothing happened. The door stayed totally solid.</p>

<p>“Why?” Julia wailed.</p>

<p>A cold certainty gripped Virgo’s heart. He knew why. He’d built this part of his mindscape to hide his most precious secrets. That’s why he’d used parseltongue defences. Only another parselmouth could master this space, and he was no longer a parselmouth. He’d never considered the possibility that he would lose the gift. He was trapped.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It had been close to two hours.</p>

<p>Not far away, Professor Lily Potter was walking with Professor Aurora Sinistra. They were discussing the upcoming winter break when Aurora held up her hand to her mouth. “Lily!” she pointed. “Is that a student?”</p>

<p>Lily Potter gasped. There was indeed a slight figure laying on the ground. She rushed over and quickly confirmed the who. “Oh, no — not Virgo — not <em>again</em>.” She checked for a life sign. “Still alive — quick — we need to get her to the infirmary.”</p>

<p>One levitation spell and a minute of quick marching later got the young witch safely in the care of Madam Pomfrey. The healer gasped. “Oh, my!”</p>

<p>“What?”</p>

<p>“She’s been under the cruciatus!”</p>

<p>Aurora put a horrified hand to her mouth.</p>

<p>“Are you sure?” Lily asked.</p>

<p>“Positive. And that’s not all. Look, on her wrist. She’s been bitten.”</p>

<p>“What by?”</p>

<p>“A snake. I’m sure of it. Non-venomous, thank Merlin, but very definitely a snake”</p>

<p>Lily’s eyes darkened. “Aurora?”</p>

<p>“Yes?”</p>

<p>“Will you do me a favour and find out where Alexandra Black has been for the last two hours? I need to speak to the headmaster.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>As it turned out, Alexandra Black actually had a fairly good alibi. Only <em>fairly</em> good, because even if someone in the Wizarding World is seen in a specific place at a specific time by over a dozen different people, that doesn’t necessarily mean it might not have been someone else under polyjuice, or self-transfiguration, or even some other, more esoteric magical deception.</p>

<p>It was generally accepted, however, that the chance of any of those capabilities being available to a first-year Hogwarts student was about as high as Lord Slytherin <em>not</em> using the upcoming gala evening at Slytherin Manor to further his own political agenda, something Chief Auror Lord Sirius Black was very quick to point out.</p>

<p>“Besides,” Sirius said, “there’s noway Alex could have done whatever <em>that</em> is. I’ve never seen anything like it. Learned anything else, Poppy?”</p>

<p>Alex was sitting on a chair with her back to her father, doing her best to look like how a budding dark lady accused of using an unforgivable believed she should look, uncertain and anxious, while still not quite managing to restrain a touch of indignation. For once, it wasn’t a hard act.</p>

<p>Her father had his hand on her shoulder, and, despite his words, she couldn’t quite shake the feeling that it was as much to restrain as to protect.</p>

<p>Madam Pomfrey straightened from where she, along with three healer trainees, stood on the other side of Virgo’s bed. Those trainees once again included Hermione who was doing an excellent job of not caring about her — a little <em>too</em> good a job, Alex couldn’t help feel.</p>

<p>“I can’t learn anything more until we get permission to use legilimency,” Poppy said. “Lady Malfoy has been informed and should be here soon, but until that time all I can say is that we’re dealing with some kind of mental lockdown. I wouldn’t be surprised if the crucio caused her to turn inwards to block out the pain. That spell has been known to manifest unusual side effects.”</p>

<p>Behind the healer, Lady Lily Potter stood with her arms folded. “Are you certain there isn’t any way it couldn’t have been her?”</p>

<p>“Lily,” Sirius said in a warning tone.</p>

<p>“Sorry Sirius,” she said, not particularly sounding it, “but I don’t recall you ever being that enthusiastic to look into the many skeletons in the many Black cupboards. Alex being a first year means little if she has family magic.”</p>

<p>“No.” Sirius said firmly. “I <em>have</em> looked into my family’s magic. I know full well what a Black can do. There is nothing in there that would cause <em>this</em>.”</p>

<p>“Would you let me look so I can verify?”</p>

<p>“I…” Sirius hesitated, looked confused for a moment, then shook his head. “No, I can’t do that. Because of… reasons.”</p>

<p>Lily sighed.</p>

<p>Alex did her best not to attract any attention while keeping her face as neutral as possible. That had been the fidelius at work. It had to be.</p>

<p>Just then, the door was pushed open and several more adults arrived — Snape and Lady Malfoy, led by Headmaster Lockhart.</p>

<p>“Ahh!” Lockhart grinned at them all. “I hope our sleeping beauty is still doing well?”</p>

<p>“Quite fine, Headmaster,” Pomfrey said in clipped tones. “She is just as unresponsive as the last time you asked.”</p>

<p>“Virgo!” gasped Lady Malfoy, looking for all the world like a distraught mother. She rushed to the girl’s side and started to pepper the healer with questions. It was a good performance. If Alex didn’t know the incredible truth, she would even have believed it.</p>

<p>“Black.” Snape nodded to her father, who grunted back.</p>

<p>“Well, I’m happy to say that this will all be over with soon enough,” Lockhart said to Lily and her father with another wide smile. “Lady Malfoy here has agreed not to hold Hogwarts responsible, and will even be removing her from school to get private treatment at home. Isn’t that a relief?”</p>

<p>“WHAT?!” Madam Pomfrey’s head whirled around, first to Lockhart and then back to Lady Malfoy. “Lady Malfoy, I must object. Your daughter needs first-rate mind treatment, either here or at St Mungo’s.”</p>

<p>“I disagree, healer Pomfrey.”</p>

<p>“Don’t you trust St Mungo’s? Your husband funds them!”</p>

<p>“That has nothing to do with this. I know a first-rate mind healer who will take excellent care of my daughter — certainly better than it appears she has been receiving <em>here</em>.” She said this last bit with a slight sneer while looking towards the students wearing healer robes, and Alex was sure, at Hermione in particular.</p>

<p>Hermione just gazed back levelly.</p>

<p>“I must also object,” Lily said with a new steel in her voice that Alex had never heard before. “This is the third time Virgo has been attacked. We don’t know <em>who</em> is attacking her, we don’t know <em>what</em> is attacking her. Until these attacks stop we <em>must</em> keep a close eye on her.”</p>

<p>“That’s even more reason for me to remove her. If there is a predator stalking Hogwarts, I will not allow my daughter to be prey.”</p>

<p>Lily’s voice dropped to barely a whisper. “This <em>predator</em> might not be one that comes from within the school, Narcissa.”</p>

<p>There was a moment of silence before Lady Malfoy scoffed. “You can make the muggleborn a lady, but she’ll always be a muggleborn. You have no right to keep my daughter from me, <em>Lady</em> Potter. I am not happy with Virgo, but to suggest I would try to do away with my child just because they were sorted into the wrong house…” She smirked. “Although, now that I think about it, I can understand why <em>you’d</em> suspect that.”</p>

<p>A split second later four wands had been drawn.</p>

<p>Sirius and Snape had been just a tiny bit faster than Narcissa and Lily, and had disarmed both of them before a hex could be fired.</p>

<p>“<em>Really</em>, Severus!” Narcissa snapped. “I was just going to give her a lizard tongue.”</p>

<p>Lily glared furiously at Sirius who looked back impassive.</p>

<p>“Um, yes!” Lockhart clapped his hands together. “Well, err, if that’s all sorted then I would very much like to continue our conversation, Lady Malfoy.”</p>

<p>Narcissa snatched her wand back from Snape, flicked it at Virgo, levitated her up, and swept out of the infirmary with the unconscious Dark Tween bobbing along behind her. The last thing Alex heard before the door closed was Lockhart saying, “So, I’m thinking a lighter green with lilac for the Slytherin Gala, but a darker green with mauve for your ball. What do you think?”</p>

<p>It wasn’t that much longer before they let her go—before Hermione even, thank Merlin.</p>

<p>Alex rushed off down the corridors of Hogwarts.</p>

<p>Lord Slytherin had to know about this.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In a magic trunk hidden in another part of the castle, Harry was bent over a rapidly spinning potter’s wheel. His hands were slick with wet clay, his clothes were smeared, and his nose had a dirty mark on the tip. A finger applied to the bottom of the pot made a slight adjustment, causing a ripple upwards. The pot wobbled, tilted, then collapsed in on itself.</p>

<p>Harry cursed under his breath. “It’s not as easy as it looks.”</p>

<p>On the other side of the trunk, Luna looked up from her own attempt. “You’ll get it. We have a whole month left before winter break. Harry?”</p>

<p>“Yes, Luna?”</p>

<p>“Why did Voldemort create this ritual and then never use it?”</p>

<p>Harry spelled his robes clean before starting to rebuild his pot. “That’s a very good question. Firstly, he didn’t <em>fully</em> create what we’re doing. He was trying to find a way to achieve the animagus transformation after splitting his soul. Animagi require a full soul, you see — just like being a lord of the Wizengamot. Tom was more than a little pissed off when he realised what he’d done. If he’d just waited for his seventeenth birthday, he’d have become Lord Slytherin himself.”</p>

<p>“How different history might have been,” Luna whispered.</p>

<p>“Indeed. The seven pots were for each piece of his soul that he intended to split off. He’d already done all the preparations needed to achieve the transformation, all he needed was that little extra push.”</p>

<p>“But it didn’t work,” Luna said.</p>

<p>“It <em>couldn’t</em> work,” Harry counted. “By the time Voldemort had seven horcruxes, he’d already lost the locket and the cup — although he didn’t <em>know</em> that he’d lost the locket.”</p>

<p>Harry took a sip of orange juice while Luna frowned.</p>

<p>“But having read a few books that Voldemort hasn’t,” he continued. “I’m pretty sure it wouldn’t have worked. It should work this time though. Voldemort’s animagus ritual was a variation on another important ritual he learned, and a space-time ritual owned by one of his then followers in school. My arithmancy isn’t the best, but I’m fairly certain this adjacent pattern is valid.”</p>

<p>Luna smiled. “Is Voldemort’s snake-like face because he never properly became an animagus, despite having done all the preparation? Ginny still feels cat-ish. Last week, I caught Alex trying to shake her hair dry when she got out of the shower.”</p>

<p>“I’m surprised you don’t already know that, Luna. Your family seems very knowledgable about animagi.”</p>

<p>Luna just smiled.</p>

<p>Harry chuckled. “And what feeling do I give off?”</p>

<p>Luna tilted her head. “You feel… regal, my lord.”</p>

<p>“You always did have good instincts.”</p>

<p>“Thank you, my lord.”</p>

<p>“Anything else?”</p>

<p>Luna frowned in concentration. “You feel… fractured.”</p>

<p>Harry raised an eyebrow. “Again, not bad.”</p>

<p>“It is not very clear,” Luna continued. “You feel like you could be many things. I have felt this feeling before, but I can’t remember where. It is very annoying.”</p>

<p>“I must admit I’m surprised. Part of me expected you to just know.”</p>

<p>“Mmm… maybe a nundu?”</p>

<p>“No, not a nundu.”</p>

<p>Luna pouted. “You are certainly not a dog.”</p>

<p>“If you get it right, I’ll give you pudding.”</p>

<p>“Basilisk?”</p>

<p>“Nope.”</p>

<p>“Feathered serpent?”</p>

<p>“You know your team position as the mysterious all-knowing one is under threat, right?”</p>

<p>“Oh, poo. When are you taking me on a date?”</p>

<p>“Your skill at changing the subject is as masterful as it is subtle.”</p>

<p>Luna beamed. “Thanks! Does that mean I get pudding?”</p>

<p>“At dinner.”</p>

<p>“But I want it <em>now</em>.”</p>

<p>“You’ll ruin your appetite.”</p>

<p>Luna pouted again. “I don’t want that.”</p>

<p>“Indeed.”</p>

<p>“The only kind of ruining I want is when you throw me down on your bed and shove your big fat—”</p>

<p>Thankfully for all concerned, Luna’s words were interrupted by a loud knocking on the lid of the trunk.</p>

<p>“Harry?” came Alex’s voice.</p>

<p>“Alexandra! Come in. I hope everything is well, and can I say, your sense of timing is getting better every day.”</p>

<p>“Umm, thank you?” Alex gave an innocent-looking Luna an inquisitive look before she seemed to remember herself. “Wait! I have news, it’s Virgo!”</p>

<p>One explanation later and Harry was all business. “This is interesting. You’re sure Pomfrey didn’t say anything other than she was under some kind of mental lock?”</p>

<p>“Nothing.”</p>

<p>“Could it be something to do with the muggleborn?” Luna asked.</p>

<p>“Maybe,” Harry mused. “It’s not unlikely. She is the one major uncertain variable. It’s a shame I haven’t had much time to continue my experiments with the obscurial. Either way, this could be a perfect opportunity. It all depends.”</p>

<p>“Opportunity for what?” Alex asked.</p>

<p>“If we could eject the diary from Miss Olsen, then we might be able to bring her to our side. I can’t imagine being a prisoner inside her own body can have been a happy experience. Having a spy so close to the Light could be invaluable. It’s possible the two are fighting for control right now. That particular Black ritual is not the most stable.”</p>

<p>Alex paused to consider all this before continuing. “But Lady Malfoy just took Virgo away. How are you going to get near enough to take a peek?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Far up in the cold December air over the Hogwarts Quidditch Pitch, a slight figure in Slytherin Green robes dove for the quaffle, snatched it in free-fall, chucked it to another figure, then barrelled to the right and zipped off after the golden snitch like a petite missile. Thirty seconds later, Flint blew a whistle.</p>

<p>“Weasley! That break-away was pathetic! My grand-mother could focus-switch better than that! And <em>you,</em> Malfoy! Are you <em>trying</em> to get shocked?! I’ve told you time and again not to wait till the last moment to pass! I don’t <em>care</em> how good you think you are! We’re using a 3-2-3 pattern and to make that work we need everyone working together!”</p>

<p>Ginny swooped down to the team scrum with the snitch clutched firmly in her fist. “Oh, give it a rest, Flint. As much as I hate to say it, Malfoy has his timing down perfect.”</p>

<p>Malfoy smirked. “Of <em>course</em> I do.”</p>

<p>“That’s not the point!” Flint ranted. “The match with Gryffindor is in just a few weeks and we <em>have</em> to win. Wood’s team will be even better co-ordinated than they were last year, and last year they were <em>good</em>. It was only Potter’s unbelievably bad luck that gave us that win.”</p>

<p>Tamaron, now a beater, nudged Ginny in the side and smirked. “He swallowed the snitch while we were over ten per cent up.”</p>

<p>“And Fate isn’t going to give us one like that again!” Flint roared. “And with Potter off the duelling team, it falls to us to secure Slytherin pride <em>and</em> the house cup!”</p>

<p>“It’ll be fine, Flint,” Malfoy drawled. “As much as I hate to say it,”—Ginny smirked—“and as much of a blood traitor as she is,”—Ginny’s smirk vanished—“The Weaslette <em>is</em> quite good, although not as good as I’d be as seeker, obviously.”</p>

<p>“Still sore at playing second fiddle to not just one, but <em>two</em> first-year girls, Malfoy?”</p>

<p>“Not as sore as you must be knowing that <em>your</em> bribe to join the team was <em>charity</em>.”</p>

<p>“Malfoy! Weasley! Stop that right now.”</p>

<p>Draco and Ginny glared at Flint.</p>

<p>“We still have twenty minutes of practice left! Get back up there and I want to see 3-2-3 all the way this time! Bole, fly tighter. Tamaron and Pucey, I want those bludgers on point every — single — time! Get to it!”</p>

<p>As they all shot back up into the sky, Ginny felt a slight vibration on her lightning-bolt ring. Her heart leapt. She was being summoned.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Sorry-I-came-as-quickly-as-I-could!”</p>

<p>It would have shocked anyone who didn’t know her well, that Ginny was able to say this while in the middle of a mid-air dive-roll into Harry trunk.</p>

<p>Soon, she was filled in on the basics of what was going on, but not yet the plan.</p>

<p>“So, what’s the plan?” she asked. Hermione, Daphne, Alexandra, and Luna were already there.</p>

<p>“The plan is this,” Harry said. “I’m going to carefully, <em>very</em> carefully, make my way through the space between souls, just like Voldemort did when I was in Azkaban. The connection isn’t nearly as safe as between Horcruxes and the main soul piece, but right now it’s worth the risk. The diary’s defences should be low and I know from Voldemort’s memories that the Guardian is something I should be able to negotiate with.”</p>

<p>“So, what do <em>we</em> have to do?”</p>

<p>“<em>You</em>, Ginny, have to keep watch over my body. Daphne, you’re going to be on Harry Potter polyjuice duty if it’s needed, Hermione, you’re the second polyjuice backup. Luna will be coming with me, at least up until the chasm, and Alex, your job is to keep me tied down with your Black chains.”</p>

<p>Alex looked puzzled. “Why?”</p>

<p>Harry waved a vague hand. “In case I don’t wake up as me.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Harry’s mind was a fortress. To any that had sufficiently broken the law of Wizarding Britain, it was a very recognisable fortress. Gaunt, skeletal figures in tattered robes floated around the grounds, unmoving, but with an aura of purpose. Everywhere they moved, frost formed on the ground below.</p>

<p>Everything was quiet. The only sound that could be heard was the gentle lapping of the water against the rocks not far away. The sky was dark. The moon was full.</p>

<p>“I am surprised you didn’t make your guardian a snake,” Luna murmured.</p>

<p>“Are you?” Harry asked.</p>

<p>Luna appeared to think it. “No,” she finally replied.</p>

<p>“I suspected not.”</p>

<p>Together the two made their way through the massive double doors of the prison and up into the building proper. Mental dementors floated past as they went. Each hooded head turned to stare at Luna as they walked, but none made any movement towards her. Luna, for her part, had a slight grip on the cuff of Harry’s robes between thumb and forefinger.</p>

<p>“He’s scared of them, isn’t he?” she said.</p>

<p>“Yes.”</p>

<p>“They say the only thing he’s scared of is Albus Dumbledore.”</p>

<p>“Voldemort is scared of many things. He is scared of being disrespected, he is scared of being weak, he is scared of death, and he is certainly scared of monsters that can suck out a person’s soul.”</p>

<p>“You are also scared of being weak, Harry.”</p>

<p>Harry stiffened, then relaxed. “Yes.”</p>

<p>“But you are not scared of the truth of being afraid.”</p>

<p>“Am I not? I think I am terrified of that truth.”</p>

<p>“You do a good job hiding it.”</p>

<p>They came to a small door in a back-passageway deep down in the deepest depths of the structure.</p>

<p>“Do you know anything about the chasm between souls, Luna?”</p>

<p>Luna tilted her head to one side. “I know it is similar to the chasm between minds — that nothing experienced in the chasm can be seen by a legilimens or extracted as a memory, and that falling into the chasm is… inadvisable.”</p>

<p>“Unadvisable is one way to put it. You know I trust you, Luna.”</p>

<p>“Yes, Harry. And I trust you too.”</p>

<p>The door creaked open, one long note in the silence, revealing endless darkness over a moat of infinity.</p>

<p>Harry’s serious face cracked a smirk. “I learned theatrics from him too.”</p>

<p>“What about sex?”</p>

<p>“Maybe.”</p>

<p>“Rough? Gentle?”</p>

<p>“At school? As gentle as he needed to be, and then as rough as he wanted.”</p>

<p>“How many pretty witches did Tom bang in school, Harry?”</p>

<p>“A good number.”</p>

<p>“All willing?”</p>

<p>“Surprisingly, yes.”</p>

<p>“And later on?”</p>

<p>Harry’s smirk faded. “Not always.”</p>

<p>Luna pouted. “Well, that’s a mood killer.”</p>

<p>They both looked out over the dark expanse and over the tiny rickety bridge that led off into the distance, looking for all the world to be made of nothing but thoughts and fog.</p>

<p>Harry conjured a rope around himself and gave the other end to Luna who promptly tied it around the door handle while keeping a firm hold of the rest of it. He then transformed into the intimidating visage of Lord Slytherin, complete with mask.</p>

<p>He took a careful step onto the bridge. “I’ll send a pulse to your ring every thirty seconds. If I don’t pulse, start pulling.”</p>

<p>“Yes, my lord.”</p>

<p>And with that, Harry started walking across the bridge.</p>

<p>As he got further and further away from the safety of his own mindscape, Luna quietly whispered under her breath. “Please be safe.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Flying was not an option here. Every step Harry took was carefully calculated. The force of the movement, the magic in the bridge, the <em>feeling</em> that <em>this</em> was the right place to put his foot. As he ventured further over the narrow bridge, the abyss swallowed up the safe haven behind him. Almost the only light came from the bridge below him, which radiated like a hundred glowworms trapped in a scaffold of mist.</p>

<p>The rest of the light came from the strings. As he walked, tendrils of thin filaments— connected in his chest—flashed into view for naught but a second before winking back out again. These connected him to all the soul magics he had ever cast, or which had been cast on him. The horcruxes, his fidelius charms, his animagus form. Two of the faintest would even lead to Daphne and Luna. They were far too fleeting to count, and the journey to their souls would be harrowing. Even now, even with his knowing exactly where Virgo was in the real world, and what form this bridge should take to create a corporeal connection, it was still very dangerous making his way over the infinite depths towards the horcruxes defences, and that was with her being in a coma as she apparently was.</p>

<p>Eventually, a structure started to appear in front of him. Hogwarts Castle — the place where Tom Riddle called home, the place he felt safest.</p>

<p>Finally off the bridge, Harry stared at the solid gates, shut tightly against intruders — not the see-through iron bars of Hogwarts proper, but an opaque wooden gate which would have to be at least five times as strong. There was nothing for it. There would be no subtlety here, no fancy high-level legilimency tricks. There was only one way he was getting through Virgo’s soul and into her mind — with brute force.</p>

<p>Focusing his will into a sledge hammer, Harry sent a literal soul-pounding blow right into the gates which burst open with an all-mighty smash. He had only a moment before looking right into huge orange eyes, and his whole world went black.</p>

<p>As Harry’s petrified body fell backwards onto the bridge, a hissing voice spat into the darkness. “<em>$Only one king!$</em>”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Harry!” Ginny’s voice was shrill as Harry’s body, lying unconscious in front of her started to change colour.</p>

<p>“What’s happening?!” Alex shouted.</p>

<p>“I don’t know! I— no! He’s being petrified!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Deep in Harry’s mindscape, Luna gazed with an alarmed expression at a rapidly approaching wave of petrification. Even as she stared, a dementor turned to stone and dropped to the ground with a crash. The blonde-haired girl took a look behind her at the empty expanse of nothing, then back at the approaching wave. Then she looked at the rope tied to the door, the door still inside Harry’s mindscape, and back out to where it ran out across the chasm.</p>

<p>There was no time for the girl to think. She cut the rope, and stepped backwards one crucial step.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Harry!” cried both Hermione and Daphne.</p>

<p>“Luna’s still okay,” Alex said.</p>

<p>“Yes, but Harry!”</p>

<p>“Calm down!” Daphne ordered, “We can cure this. It’s not fatal. My father deals in Mandrake. If anyone can find any, even with the current shortage, it’ll be him.”</p>

<p>“But what do we do with Harry?”</p>

<p>Daphne gripped a fist in her hair. “I don’t <em>know</em>. It depends how long it’ll take to get the restorative. But first things first, we have to get hold of my father. Hermione, get into your trunk and see if my grandmother’s portrait is there.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Time passed.</p>

<p>In the chasm between souls, it passed quickly.</p>

<p>A young witch, blonde hair, blue-eyes, radish earrings, carefully crept her way out across the chasm with absolutely nothing under her. For her, there was no bridge. Her steps were tiny. Her breath heaved. Every so often she would stop and wait, panting, until a tiny flash of light illuminated a strand of gold as thin as a human hair coming out of her chest. Then she would step again.</p>

<p>With nowhere to attach the rope, there would be no pulling.</p>

<p>Her senses strained. Every footstep was memorised.</p>

<p>Once, the girl misjudged, and almost fell, but she caught herself and carried on.</p>

<p>Eventually, she made her way to the mindscape of the heir of Slytherin.</p>

<p>There, she found Harry.</p>

<p>He must have weighed five times as much as normal, but she carried him back across the not-there bridge anyway — every footstep exactly the same as it had been on the way there.</p>

<p>Once back on the other side, the girl pushed Harry into the safety of his petrified mindscape, before taking a deep breath, scrunching up her face, and jumping in behind him.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Jacob says you were right to contact him, and he’ll be there shortly,” Elizabeth Greengrass said. “In the mean time, you should get Harry up to the hospital wing.”</p>

<p>Hermione nodded, thanked the elder Greengrass portrait, and made her way back to Harry’s trunk. There she found Alex, Daphne, and Ginny with extremely somber faces.</p>

<p>Daphne turned to look at her. “Luna’s just petrified, too.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>— Before — While Harry was closing in on Virgo’s side of the soul chasm —</p>

<p>Inside the mental chamber of Virgo’s secret mind, tensions were running high. Between the two of them, Tom and Julia had tried everything they could think of to escape. They tried summoning a snake with serpensortia and casting imperio on it. Hadn’t worked. They tried confundus, legilimens, and even trapping the snake in a box, pressing it up against the door in the hope that its insistent hissing would produce the right effect by chance — nothing worked.</p>

<p>Now, Tom fumed off to one side while Julia sat cross-legged towards the back of the cave, reading some of the books Tom had stored there. Apparently, the Gaunts had been rumoured parseltongue users for the better part of a millennium — something the histories always found puzzling as the Albion Family Magics should theoretically stop any other than the Slytherin line from possessing the ability.</p>

<p>Nevertheless, artefacts and enchantments requiring parseltongue could oft be found wielded by Gaunts right up until their line died out when the lord and all his family were wiped off the face of the map by an unknown dark wizard in the first half of the twentieth century.</p>

<p>Julia closed the book and regarded the still-fuming older boy by the locked snake door.</p>

<p>Unknown dark wizard, indeed.</p>

<p>She then glanced up to the wands Tom had stored well out of her reach.</p>

<p>So close, and yet…</p>

<p>Just then, the whole chamber was rocked by an explosion.</p>

<p>Tom was instantly on his feet, wand out and alert.</p>

<p>Julia cried out in surprise as water splashed down from disturbed pools in the stonework. “What was that?!” she shouted. Even though the explosion had sounded far away, it had smashed against something deep in her like a runaway train.</p>

<p>“It felt like soul magic,” Tom said. All the anger in his face had fled, replaced by a deadly calm. “Something was trying to get in.”</p>

<p>“Not legilimency?”</p>

<p>“No, not legilimency.”</p>

<p>Julia quietly made her way over to where Tom stood by the door.</p>

<p>Both of them strained to hear anything. It was too much to hope that a healer who was also a parselmouth was trying to get them out.</p>

<p>They waited for quite a while longer, hearing nothing but the drip, drip, drip of water down the walls.</p>

<p>Then Julia heard it — the sound of something huge moving closer on the other side of the door — one might so go far as to say, slithering.</p>

<p>A hundred thoughts passed through her head in a second. Ever since this nightmare had started, way back in summer, she’d gotten a <em>lot</em> smarter. She could feel her thoughts flowing like water, no doubt <em>his</em> infernal influence. She thought about the monster that Tom had created to guard his mind, and what would happen if it decided that, for whatever reason, it was done merely keeping them prisoner and was going to be active in its defence. She thought about a dozen possible consequences for that situation. Then, once she was done thinking about those possibilities, she opened her mouth and screamed.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The girl screamed and ran away. Stupid little witch. Although given what might be about to happen, running for a more defendable position probably <em>was</em> the best thing to do.</p>

<p>Virgo darted after the muggleborn, caught up with her, and they both ducked behind separate pillars, hiding their bodies from the front of the chamber.</p>

<p>Something hissed.</p>

<p>Virgo gripped his wand tighter. He would only get one chance to get this right, and every spell would have to be <em>perfect</em>.</p>

<p>There was a loud grinding as the perfectly circular snake-door opened. Then the slithering got louder. It paused for a moment, there was another hiss, and the grinding sound repeated itself in reverse.</p>

<p>Virgo mentally swore. He’d been half hoping the guardian would leave the door open so he could run out and hopefully leave the girl trapped in here with it. That would have been perfect. Alas, it was not to be.</p>

<p>Steeling himself, he caught the girl’s eye behind the other pillar, who looked ready to pee herself with fright.</p>

<p>He then shut his eyes tightly, jumped out from around the pillar, aimed towards the slithering sound and shouted, “Obscuro!” A second later he opened his eyes. In front of him, slithered his guardian—a perfect model of the basilisk from the Chamber of Secrets, from the tip of its fifty-foot long tail to the crest of red adorning its massive head—hissing in fury with a blindfold covering its eyes.</p>

<p>Never deal with a monster you don’t know how to deal <em>with</em>.</p>

<p>Of course, being blind wasn’t going to slow down a monster that could smell and hear as well as it could see, and the basilisk was now rapidly closing the distance across the chamber.</p>

<p>Virgo grit his teeth. This was <em>not</em> going to be safe. This was, in fact, going to be incredibly dangerous—especially in his own mind—but he had no other choice. In his studies at Hogwarts he’d only encountered <em>one</em> magic that might stand a chance against the king of serpents, and that was only because Slughorn didn’t know how to say no. One so dangerous that few who used it lived to tell.</p>

<p>“Malus ignis totalus diabolus!”</p>

<p>What happened next occurred split second by split second, but seemed to last a lifetime.</p>

<p>The animalistic fire demons spewed from Virgo’s wand, roaring with rage and fury, as hot as the literal fires of hell, billowing up higher and greater.</p>

<p>The basilisk continued its headlong lunge towards him, and as it neared, the demonic fire finally took notice, and attacked. It roared towards the giant snake and that’s when everything went wrong.</p>

<p>The moment the fires got close, the blindfold burst into flames. A split second later, it was reduced to ash.</p>

<p>Virgo spotted the danger a moment before the danger spotted him and shut his eyes tightly. That didn’t save the demonic fire however.</p>

<p>A blood-curdling scream tore through the air of the chamber.</p>

<p>“Obscuro!” Virgo shouted. “Obscuro, obscuro, obscuro, obscuro!”</p>

<p>The screaming died, replaced by a smashing that shook the chamber. Virgo risked a glance and stared.</p>

<p>The basilisk, badly burned, but successfully blind-folded again, was smashing its way out of a tomb of rock, which now surrounded it in hideous shapes of beastile demonhood. A huge petrified dragon head was decapitated with a flick of the tail and sent flying. Virgo stood in awe. It had petrified the great magic fiendfyre. His basilisk. For truly such power could only be his. He <em>had</em> to get it back!</p>

<p>Unfortunately, that time would not be now. Even as he watched, the guardian smashed the final fiendfyre beast away from it, and retreated back towards the door, hissing loudly. The door slithered unlocked—the guardian slithered through it—and it then slithered shut.</p>

<p>Virgo snarled. It could only run for so long before he’d have it back under his thumb. He looked around. The chamber looked badly shaken. The huge snake thrashing around had knocked over quite a few statues, and badly damaged a pillar. It was a risky strategy, but maybe purposefully damaging his defences was the key to getting back out. Something he’d have to look into.</p>

<p>“Girl!” he shouted. “Come! We have work to do.”</p>

<p>Nothing.</p>

<p>Virgo frowned. “There’s no point in hiding anymore,” he shouted. “The snake is gone. Don’t make me come and get you.”</p>

<p>Still nothing.</p>

<p>Then Julia emerged from behind a pillar.</p>

<p>Something was different.</p>

<p>Her eyes were cold. Her stance was determined. And in her hand, she held a wand — one of the wands he’d put up out of reach. The fight with the basilisk must have knocked one of them down.</p>

<p>Virgo raised an eyebrow. “What are you planning to do with <em>that</em>?”</p>

<p>“Breaking free of my prison,” the girl spat.</p>

<p>Virgo sniffed. “Have you suddenly gained the ability to speak to snakes?”</p>

<p>“No, but I don’t care. Once I’m rid of you, I’ll figure out how to get out of here by myself. And then, get my body back!”</p>

<p>Then she attacked.</p>

<p>Virgo had to admit he was surprised. Yes, the girl had access to his memories for six months, but that she’d have reached <em>this</em> level of skill so quickly was a shock. As they duelled together, their movements were almost synchronised — their casts second nature. Every counter was counter-countered by the preparation of a mind that would never consider a strategy that it couldn’t itself beat. Julia weaved magic like a genius who’d been practising for years. They danced for ages, each totally focused on the other while the world around them narrowed down to just the flow of the moment.</p>

<p>It was a shame she hadn’t ambushed him instead of letting him prepare himself. Then she might have actually won.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Pain screamed through Julia’s senses as she landed on her back and rolled, hard, across the floor of the chamber. The wand she’d been using clattered to the floor nearby.</p>

<p>“YOU DARE THINK YOU CAN BEST ME?!” Tom roared. “You think that because your perfect, untouched soul has been locked away for half a year that makes <em>you</em> worthy of freedom?! <em>My</em> soul, ripped and tattered, has been locked away for seventy years, girl! Seventy years!”</p>

<p>Julia looked to where the wand lay only a few feet away. It was so far away.</p>

<p>“I showed mercy,” Tom continued, suddenly much calmer, and all the worse for it. “I have been a most gracious host. But don’t believe I will allow this insult to pass, even though you are only a child. If you believe you have suffered, then it will be nothing compared to what I will inflict on you now.”</p>

<p>Julia trembled. This had been a mistake. She’d been so sure she could take him after he’d been weakened by the fight with the basilisk, but even after taking all his skills, she still hadn’t won. She just had enough time to gasp out, “Please,” before the boy levelled his wand at her and said those terrible words.</p>

<p>“Crucio.”</p>

<p>Pain. Her every nerve screamed in agony, burning, as she writhed around on the floor. It felt like it went on forever, until he eventually lifted the curse. She whimpered, curled up in the fetal position.</p>

<p>“Pathetic,” said the terrible voice above her.</p>

<p>She rolled over and looked up.</p>

<p>He was standing right over her looking down.</p>

<p>“You know, I really have to thank you,” he said. “I don’t think I’d have got nearly as far with John Potter and the Light as I have without you. As annoying as your constant yapping was, it at least served some use. Maybe I <em>will</em> push for a contract with the House of Potter — a bridge between the Dark and the Light. James and Lily Potter will have to die first, obviously, and when the boy follows them shortly after, that would leave me as Lady Potter — widow of the most powerful house in Magical Britain.”</p>

<p>Julia gasped. The pain was still almost unbearable.</p>

<p>“How does that sound, little girl? You have quite the crush on that boy. How does it feel knowing the girl he thinks is you is going to murder him?”</p>

<p>Julia couldn’t even bring herself to sass.</p>

<p>“No words? Oh, well. It’s a risk, but prolonged cruciatus can sometimes create permanent brain damage. Why don’t we test that your susceptibility, hmm?”</p>

<p>Just then, Julia saw something huge hover far above the nastily smirking face above her — a massive, blind-folded, snake-like something. Her eyes obviously betrayed her alarm, as Tom turned his head, just as the head lunged downwards.</p>

<p>She just had time to see his eyes widen in terrible realisation. Moments later, the basilisk clamped down around his torso. His shouts muffled, it raised its head and gulped him down in three powerful contractions, first to his waist, then his knees, and finally his feet, all drawn down into the powerful predator.</p>

<p>Julia lay there, terrified, hoping against hope that it was done.</p>

<p>It wasn’t.</p>

<p>Crying, she could do nothing as fangs like swords coated in liquid pain bit down into her, before throat muscles as strong as an elephant grasped her tightly and drew her down into the eternal darkness of the monster.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In the hospital wing, Lord Jacob Greengrass looked down at his future son-in-law, fellow lord of the Wizengamot, and arguably, Gray Lord. “Two weeks, possibly longer,” he said.</p>

<p>His eldest daughter, the only other person with him, apart from Harry and Luna, looked up at him calmly, although he was sure he could detect a hint of desperation. “Two weeks, father? Can’t we get them quicker than that? What about however Harry got those leaves for our you-know-what?”</p>

<p>“You don’t want to know what Harry went through to get those leaves for your you-know-what. Magical disease is not something you can bargain with. The global mandrake supply is crippled across the whole world. Two weeks.”</p>

<p>“But it’s such a bad time for it,” Daphne said. “We have to finish the manor in time for the winter gala and we have this other <em>really</em> important project to oversee as well.”</p>

<p>“Is this really important project something I should know about?”</p>

<p>“Sorry, father, Slytherin family business.”</p>

<p>“Of course it is. Lucrative?”</p>

<p>“Perhaps a little bit.”</p>

<p>Just then, the door to the hospital wing banged open and a Harry look-alike barged in. “Virgo!”</p>

<p>He stopped when he saw him and Daphne.</p>

<p>“What are <em>you</em> doing here?”</p>

<p>Jacob raised an eyebrow. “Heir Potter. My business here is none of your concern.”</p>

<p>“I mean—” John stopped in mid-stride when he saw who it was on the bed, and the petrified condition they were in. “Harry!” A slew of emotions crossed over his features. Glee, distress, puzzlement, understanding, horror, and finally thoughtfulness. An odd mix to be sure, and worn so openly for anyone to read. If that had been Daphne, he and his daughter would have been having words. John also spared Luna a quick glance but he didn’t seem nearly as interested in her. The Potter Heir shook himself. “No, wait, Virgo! Where’s Virgo?”</p>

<p>“Mister Potter!” Madam Pomfrey chose that moment to enter from the back, possibly to see who was making all the noise. “This is a hospital wing, not your dining room! Kindly leave and take your shouting with you.”</p>

<p>“Not until I find out where Virgo is!”</p>

<p>“Miss Malfoy has been taken home by her mother, now please leave.”</p>

<p>“What?!” John looked horrified. “But they’ll hurt her! They might even kill her!”</p>

<p>“Mister Potter, I do not have the power to keep a mother from taking her daughter away. If you do not leave now, I will tie you up and deposit you outside myself.”</p>

<p>After John left, and after Madam Pomfrey had excused herself, Jacob turned back to his daughter. “He seemed awfully sure of himself. You don’t happen to know anything about the new Miss Malfoy’s situation, do you?”</p>

<p>Daphne grimaced. “I do, but…”</p>

<p>“I don’t believe for one moment that Miss Malfoy is a Slytherin family secret.”</p>

<p>Daphne muttered something that Jacob didn’t quite catch before she said, “She falls more under the category of plausible deniability.”</p>

<p>Jacob nodded. “Say no more.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Well?” Narcissa asked.</p>

<p>Andromeda scowled. “I can’t do anything more unless you let me use legilimency.”</p>

<p>“Absolutely not. The girl has not been trained to resist unconscious attacks.”</p>

<p>“You still don’t trust me?”</p>

<p>“I trust you enough to call on you, don’t I?”</p>

<p>They were standing at the foot of Virgo’s bed in Malfoy Manor. Andromeda scoffed. She had just finished her slightly less than standard healer check-up. “Your suspicion was correct, though,” she said. “There <em>is</em> soul magic at work here. Possibly even Black soul magic,” she shot Narcissa a calculating look. “You wouldn’t have any idea why that might be, would you?”</p>

<p>“Absolutely not.”</p>

<p>“Well, the good news is that the longer she stays alive, the better the chances are that she won’t die. I don’t know the real reason you don’t want her to go to St. Mungo’s, but I swear, Cissy, if your recalcitrance leads to this girl’s death, you can forget about ever calling on me again.”</p>

<p>“Oh, please. We both know you wouldn’t be able to stay away if someone’s life was on the line.”</p>

<p>Minutes later, Narcissa closed the door on her sister and turned back to the bed. She walked over to it and laid a hand on Virgo’s. Their little trojan horse was picking up more attention than it should be. Desperate times called for desperate measures.</p>

<p>“Dobby,” she called out.</p>

<p>Nothing happened.</p>

<p>She sighed. “Free Elf Dobby.”</p>

<p>A house elf in a dirty tea-cloth popped into being beside her. “Dobby has come, Lady Narcissa! Not because Dobby is having to, but because Dobby is choosing to! Dobby is a—”</p>

<p>“—Free house elf — yes, I know — we freed you — look, can you please have a look at my daughter and tell me if your magic can pick up anything that might give us a clue about what is going on?”</p>

<p>Dobby’s wide eyes widened even further when they fell on Virgo. “Lady Narcissa is having a new daughter! So long has Dobby been away! Dobby did not know witches could grow so fast!”</p>

<p>“They can not. You were on business over the summer. Virgo returned to us from the Muggle World then.”</p>

<p>“Oh! Dobby sees now.” Although the frown on his face indicated he was still somewhat confused. “Then Dobby will be using his powerful, free-elf magic on Miss Virgo now.”</p>

<p>A faint blue glow surrounded Dobby’s hand and settled over Virgo.</p>

<p>“Anything?” Narcissa asked.</p>

<p>Dobby’s ears drooped. “Miss Virgo’s souls are being melted, my lady.”</p>

<p>Narcissa’s eyes bore into the elf’s. “<em>Souls</em>? As in, more than one?”</p>

<p>“Yes, my lady.”</p>

<p>Narcissa cursed.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In the belly of the basilisk, all was dark, tight, and hot — unbelievably hot — so hot, it felt like a furnace was burning away at everything that was anything or anyone and leaving them a molten puddle.</p>

<p><em>Tom! I’m scared!</em> thought a thought in the pitch black.</p>

<p><em>That is because you are weak!</em> Another thought thought back.</p>

<p>The only sound that could be heard was the loud gurgling and pulsing of the snake’s digestive system as it worked away on the two trapped and helpless victims who, by that point, were less bodies, than suggestions of bodies. Had they been in the real world, they would both certainly be dead already, but since this was not the real world, they weren’t.</p>

<p><em>Oh no, not again!</em> Thought the first voice. <em>It feels like that time in summer all over again! Please, Tom! Do something!</em></p>

<p><em>Mmmm, </em>thought the second voice. <em>But if it is like when I made your body my own, why bother stopping it? Your soul has been quite vexing, and if this will be rid of you, then so be it.</em></p>

<p><em>No! Please, Tom! I’ll do anything! I don’t want to die!</em></p>

<p><em>The world is not fair, little girl. It was a mistake stopping at just your body — Now I will take your soul too — yes, that would be most appropriate.</em></p>

<p><em>NO! Tom! Please!</em></p>

<p>The stomach around them continued to churn and press and gurgle, and soon the mental bodies of the two snake dinners had been reduced to a mental slurry. And out of the slurry, a small black slime oozed its way up.</p>

<p><em>I am free.</em> The thought, along with a dark laugh pulsed throughout the snake’s insides. <em>And now, where is my little muggleborn companion? </em>That was as far as that thought got before the whole of the rest of the slurry activated like a torch being turned on made out of the sun.</p>

<p>The light washed over the dark ooze, causing it to scream in pain. <em>Stop that!</em></p>

<p>It did not. Instead it intensified as the whole of the slurry started to change. Moments later, another ooze filled the tight space, but this one was made of shining liquid gold.</p>

<p>Though it could not see, the black ooze stared in mounting dread at its far larger sister.</p>

<p><em>I will get my own body back,</em> the shining ooze thought. Gold tendrils started to snake towards the black ooze.</p>

<p><em>Wait!</em> the black ooze mentally shouted. <em>What are you doing?!</em></p>

<p><em>I will get my own body back!</em></p>

<p><em>No! </em>The black ooze screamed back, panic filling its voice <em>Wait! Stop! You don’t know what you’re doing!</em></p>

<p><em>I WILL GET MY OWN BODY BACK! </em>The massive golden ooze gooped over the far smaller black one, submerging it whole. The black ooze screamed one last time, before dissolving into the gold, and the tiny dark little soul fragment, bereft of completeness for seventy years, became whole.</p>

<p>Light filled the still churning stomach.</p>

<p>From the outside, a visible, snake-shaped bulge appeared all along the snake’s belly. The basilisk looked down in puzzlement at its stomach before a faint voice spoke, or rather hissed, to it from inside its own guts.</p>

<p><em>$LET ME OUT OF HERE!$</em></p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The blonde girl in the bed woke, slowly. The first thing she noticed, was that she wasn’t in a single bed, she was in three beds. Someone had moved two extra beds from some of the Malfoy spare rooms to create one massive bed — a bed just the right size for a…</p>

<p>The next thing the girl noticed was that her lower body didn’t feel right. She tried moving her legs, but instead, she just got a kind of writhing motion.</p>

<p>Memories flooded back. The chamber. The basilisk. Being slowly regurgitated as a—</p>

<p>She threw off the covers—or at least, one of the covers—and stared.</p>

<p>A long snake body and tail, scarlet red scales with a golden sheen, snaked out from her waist and on and on for what had to be three or four meters. Merging souls had allowed her to finalise her animagus form, but it wasn’t a snake, as she’d expected, but rather… “a lamia,” she whispered. “Half girl, half snake.”</p>

<p>Old thoughts, buried deep, and still brand new, whirled around in her head. Did Gaunt blood carry an increased chance of having a snake animagus form? <em>Probably</em>. Was that why no one ever saw them speak parseltongue? <em>Quite likely.</em> Did it truly have nothing to do with the Slytherin line? <em>How can I be so brilliant and still so stupid?</em> Even if she’d refused to believe it only a day ago, that desperate need for self-delusion was no longer so strong. It would explain the Gaunt parseltongue abilities. Lucky for her, lamia also had the gift, even if the top half was humanoid. Otherwise, she’d still be trapped. Half snake, half girl, indeed.</p>

<p>Focusing on her transformation, she changed back into her human form and swung her feet onto the floor. She stood up and padded over to the bedside mirror. She stared at herself. It was an odd thing to do after so long. If she’d been asked just a few days ago, she’d have said she’d be crying for joy right about now.</p>

<p><em>But that’s because I haven’t only been trapped.</em></p>

<p>Just then, the door opened, and Narcissa Malfoy, her mother(?) walked in. A stab of fear shot through her body, but she crushed it. She couldn’t let this woman know the truth.</p>

<p>“Virgo,” the older witch said, “I’m happy to see you awake. I see you succeeded in changing back.”</p>

<p>The girl looked back at the mirror. She pursed her lips.</p>

<p><em>Am I Virgo? I am not Tom! I cannot be Julia.</em></p>

<p>Virgo looked back. “Yes,” she said, trying not to sound uncertain. “I did.”</p>

<p>“Congratulations are in order,” Lady Malfoy said. She was carrying a tray of tea. “Once we get you registered you will be the youngest animagus in Britain.”</p>

<p>Another round of fear shot through Virgo. It took a moment for her to identify it before realising it was the thought of what John would say if he knew she could turn into a lamia.</p>

<p><em>A red and gold lamia! He should worship the ground I slither on!</em></p>

<p>“Um, can we hold off on registering for a while?”</p>

<p>Narcissa gave her an odd look, so she quickly continued, trying to sound more confident and firm. “It might break the trust I’ve built up in Gryffindor House if they find out without me preparing them first.”</p>

<p>Narcissa seemed to consider this before nodding. “Very well, Virgo, but if I decide it’s best I will take the steps to register you.”</p>

<p>Suddenly, from somewhere deep down inside, anger flared. Virgo’s eyes narrowed. “<em>You’ll </em>decide?” she hissed.</p>

<p>Narcissa froze.</p>

<p><em>How dare she? This woman hurt me. This woman tortured me.</em></p>

<p>“I meant no disrespect,” Narcissa said quickly. She looked like someone who had taken a gamble—an educated and well thought out gamble—and was just now realising she’d been one colour off. “I merely thought that you might not want the burden of dealing with all the paperwork. You still need to recover, and your condition isn’t—”</p>

<p>“You think me <em>weak</em>!?” Virgo shouted.</p>

<p>“No! My lord! Please.”</p>

<p>As quickly as her anger rose, it fled. Virgo calmed. “Lady.”</p>

<p>“Sorry?”</p>

<p>“Lady, not lord. You said yourself, didn’t you?”</p>

<p>Narcissa visibly settled. “My lady. Of course. My daughter. Please, excuse me. I need to contact Hogwarts to update them on your condition, by your leave.” And with that, the woman who was now her mother quickly put the tea tray down, and scurried out.</p>

<p>Virgo looked down at her now shaking hands. “I hate myself.”</p>

<p style="text-align: center;">— End of Chapter Forty-nine —</p>
