Chapter 4 - Greetings, I am Lord Slytherin - Part 1

<p>Lord Jacob Greengrass, of the Ancient and Noble House of Greengrass, was looking through Flourish and Blotts for the latest edition of <em>Who’s Who of Magical Britain</em>.</p>

<p>“Good day, Lord Greengrass,” said a voice behind him. He turned and found himself face-to-face with the all too familiar face of Lord James Potter.</p>

<p>“Good day, Lord Potter,” he said, his voice making it clear it had just become less so.</p>

<p>“I was wondering if you’ve given any more thought to supporting the upcoming bill on restricting dangerous artefacts?” The man smiled the smug smile that he wanted to hex off every time he saw it. “You know it’s something that has to be done.”</p>

<p>“I still know nothing of the sort, Lord Potter. Perhaps I’d be more willing to support such a bill if what it defined as a ‘dangerous artefact’ wasn’t worded as to potentially include such things as quills and trunks.”</p>

<p>“Oh, come on. It’s not <em>that</em> bad. And we have to give the ministry <em>some</em> room to interpret the law as needed for the situation.” Lord Potter gestured to the figure of Lord Sirius Black, chief auror of the Department of Magical Law Enforcement, who was standing and chatting with his Lady Greengrass.</p>

<p>“Yes. That’s exactly what I’m afraid of.”</p>

<p>“I’m sorry?”</p>

<p>“You’re asking us to ratify a bill that would give him,” Jacob nodded towards Black, “the power to confiscate any item at all, on his own discretion.”</p>

<p>“Oh nonsense, there will be safeguards.”</p>

<p>Jacob suppressed a snort. “To be decided upon later, no doubt? Preferably when Merlin returns from beyond the Veil, no — I’m sorry Lord Potter. The neutrals, as we seem to be known, will not be supporting this bill — not until it includes sensible wording, safeguards, and a specific list of prohibited items.”</p>

<p>Lord Potter’s eyes narrowed. “We’re going to win this, you know.”</p>

<p>“I know you’re going to try.”</p>

<p>“You think we aren’t aware of how much of the Greengrass wealth comes from items of dubious legality?”</p>

<p>“There is nothing we trade that is not legal.”</p>

<p>“Only because of loopholes in the law.” Potter’s voice lowered. “Loopholes that you are trying to stop us fixing.”</p>

<p>He sighed, frustrated. “The so-called loopholes you speak of are not loopholes, they are exemptions, put in the law for good reasons. And now, if you’ll excuse me, I really have to find this book and be on my way.”</p>

<p>Lord Potter straightened, but couldn’t quite suppress a sneer. “Of course, Lord Greengrass.” He left.</p>

<p>Jacob stared after the man who was now fussing over his son, John Potter, the much-worshipped boy-who-lived. A small girl with Weasley-red hair was hanging off the boy’s arm.</p>

<p>“How was your conversation with Lord Potter, dear?”</p>

<p>He turned and beheld the most beautiful woman in the universe. “Still a sanctimonious git,” he said. “I’m really not feeling great about this bill.”</p>

<p>“Oh?” His wife, the Lady Sunny Greengrass, took his arm, and gently led him away from the bustle, towards a quieter nook.</p>

<p>“Our position is worsening. In the last year we’ve lost Parkinson to Malfoy, and Abbott to Potter. How much more can we take until there is no one left to fight for a sane world?”</p>

<p>“We are doing everything we can, my love.”</p>

<p>Lord Greengrass sighed. He knew <em>that</em> was true. He was pulling out everything he had to shore up the ragtag alliance that was the neutral faction, no matter how distasteful.</p>

<p>“How did Daphne react when you told her?” he asked.</p>

<p>Sunny’s smile faded. “She was… less than pleased.”</p>

<p>Jacob winced. He loved his girls with all his heart, and to do what he was doing tore him up. But what choice did he have? If the alliance fell apart the Greengrass family was finished. Politically, socially, financially, and, if they chose the wrong side in any potential war, physically. Over a thousand years of history, gone. And it would all be his fault.</p>

<p>He desperately wanted to change the subject. “How was your conversation with Black?”</p>

<p>“Oh, he’s his usual loud self.” She smirked, looking over a nearby shelf towards the wizards of the Light. “Although, it does seem he may be having a problem with his beloved daughter.”</p>

<p>“Oh?”</p>

<p>“Apparently, she’s starting to get dangerous ideas.” The smirk widened. “She keeps asking questions about the morality of magic, about why some magic is classified as dark and others as light.”</p>

<p>“Oh yes,” he said, starting to smirk as well.</p>

<p>“Her Daddy is worried she may be going down a dark and dangerous path.”</p>

<p>“A Black? Walking the path of dark magic? Surely not.”</p>

<p>“Apparently his biggest worry is that she’ll get sorted into Slytherin, and he’ll lose his little baby girl forever.” Sunny was barely holding back laughter now.</p>

<p>Jacob craned his neck over the nearby shelf and spied the distinctive long, black hair of Alexandra Black. While most of the Potters, Blacks, and the Weasley hanger-on were grouped together, laughing and being loud, the Black heiress was on her own, and if his memory of Flourish and Blotts served him, was in a less-than-Light section of the bookshop.</p>

<p>“I suppose it would be too much to hope that we could drag her into our camp,” he said.</p>

<p>“Well, she is just a year below our Daphne, and a year above Astoria, so if she gets sorted into Slytherin, it’s not impossible.”</p>

<p>“I just hope we last that long.”</p>

<p>“We will.” She kissed him on the cheek.</p>

<p>Ten minutes later, after finding and buying the book, Lord and Lady Greengrass walked back down Diagon Alley to the Leaky Cauldron floo connection. He’d entered the pub, and was about to reach for the floo powder after his wife, when a man approached him.</p>

<p>“Lord Greengrass, of the Ancient and Noble House of Greengrass?”</p>

<p>“Yes?” Jacob answered.</p>

<p>The man was hooded — his face, hidden.</p>

<p>“I was wondering if I might impose upon you for a chat at some point in the not too distant future? I have something to discuss with you that will be of interest.”</p>

<p>He was about to firmly rebuff the unknown, hooded gentleman when the man brought his empty hands to his front and very deliberately rubbed the back of his hand, drawing attention to a ring that appeared on his finger. Jacob’s eyes bulged.</p>

<p>It was a head of house ring, but that wasn’t what shocked him.</p>

<p>‘No,’ he thought, his brain struggling to make sense of what he was seeing. ‘The line’s lost. It’s been lost for centuries.’ But there was no mistaking it. Every boy and girl who’d spent seven years in the snake pit could draw that crest by memory, blindfolded.</p>

<p>Then his brain finally caught up with his eyes, and he remembered who the most probable candidate for heir to the Slytherin line had been. He gulped.</p>

<p>“No, I am not <em>he</em>,” the man said, presumably seeing the fear that must have leaked onto his face through his occlumency barriers.</p>

<p>“…But, you <em>are</em>…?” He looked at the ring again.</p>

<p>“Yes.”</p>

<p>“What do you want to talk about?”</p>

<p>“I know of the situation you face in the Wizengamot. I believe that I hold the answers to many, if not most of your problems.”</p>

<p>Lord Greengrass looked at the man, properly this time. The black robes, tinted with green, and tastefully embroidered at the edges with silver, were of the finest acromantula silk, and below the robes he caught glimpses of dragon hide. What little the man displayed screamed wealth, power, and sophistication. “I would be honoured to welcome you into my home, at two o’clock tomorrow, if that suits your fancy.”</p>

<p>“It does, Lord Greengrass.” And with a short bow, he turned and walked away, before disapparating with a loud ‘crack!’</p>

<p>Jacob stared into space before realising Sunny was probably going mental on the other side of the floo. Although, now he thought about it, it was likely nothing to her reaction when she learned that they had less than twenty-four hours before they hosted <em>Lord freak’n Slytherin</em>.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry stood in his cave-vault and cast a critical eye over himself in a full-length mirror.</p>

<p>Yesterday’s time in the alley had brought mixed feelings.</p>

<p>On the one hand, he’d barely been able to suppress his instincts to lash out when he saw the Potters walking down the street. The bitterness fuelled by ten years of dementor hell was still almost overwhelming. On the other hand, seeing how smug and content his brother was with Weasley on his arm stayed his hand, and reminded him how good it would feel to rip the two apart and mould her to his whims.</p>

<p>John Potter was still a child at the moment, and wouldn’t return back in time from his first death at the graveyard for another few years. The knowledge that John would lose Ginny, not once, but twice, made him feel warm and fuzzy. How he hoped he could see the look on the fake boy-who-lived’s face when he ‘woke up’ on his eleventh birthday to find the girl who’d obsessed over him since he was five—and whom John had grown to love—now obsessed with his dark, evil, future-criminal brother instead.</p>

<p>Then there had been Alexandra Black.</p>

<p>In the last timeline, she’d been… amazing.</p>

<p>She was a year below him, but had quickly made her mark in the snake pit. When she got a letter from home saying her father had purged the Black library of all the ‘dark’ books, she’d pitched a fit that had been etched into the mind of every student who’d seen it. It had taken the house elves days to fix all the damage, and she’d only been a first year.</p>

<p>Later on, she’d joined Voldemort straight out of Hogwarts, and the visions he’d received painted a picture of a younger, saner, Bellatrix Lestrange. She was smart, driven, beautiful, deadly, and—if the visions from Voldemort were any indication—trainable. In other words, she would make a perfect Lady Slytherin.</p>

<p>Finally, there had been Lord Greengrass. The man seemed amiable, and the one fight he’d seen him in had been solid, even if the former king of Slytherin House had died at the end of Voldemort’s wand. It was his unofficial position as leader of the neutrals that drew Harry to him. That, and his daughter, the Ice Queen of Slytherin, would no doubt make a good ally.</p>

<p>Harry finished getting ready, checked his transfiguration one last time, chain apparated to the Hog’s Head, and stepped into the floo.</p>

<p>“Greengrass Manor!”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Lord Greengrass jumped to his feet as the floo flared green and the same hooded figure he’d met in the Leaky Cauldron stepped out. The figure immediately drew his hood down and smiled.</p>

<p>“Lord Greengrass, thank you for inviting me.”</p>

<p>Jacob stepped forward to shake the man’s hand. He was shocked. Lord Slytherin’s face was far younger than he’d expected. Maybe twenty? Maybe twenty-five?</p>

<p>“Lord Slytherin, we are both honoured and surprised to be welcoming you to our home,” he gestured to the witches in his life, who stepped forward.</p>

<p>Lord Slytherin took Sunny’s hand and brushed his lips against her knuckles, who looked quite happy at the charm offensive. The new lord repeated the gesture with Daphne and Astoria. Daphne giggled, and Jacob thought he saw a flicker of surprise flash across Slytherin’s face.</p>

<p>Ten minutes later both he and Lord Slytherin were sat opposite each other in his office, comfortable in plush leather armchairs.</p>

<p>“So,” Jacob started, “the Wizengamot.”</p>

<p>Lord Slytherin inclined his head. “Indeed. Let’s get the obvious stuff out of the way first. The winter solstice is coming up soon, and the chamber will be acknowledging my ascendancy.”</p>

<p>“Which I am very interested to hear about. But I suppose you want to know what’s in it for you, to ally yourself with the neutrals?”</p>

<p>Slytherin smiled. “We can talk about how I became Lord Slytherin later. As for your other question… No.”</p>

<p>“No?”</p>

<p>“I already know what’s in it for me. I am Gray, through and through. For the purposes of this discussion, I am also neutral.”</p>

<p>“And by neutral <em>you</em> mean…?”</p>

<p>“I mean I side neither with the bigots of the Dark, who would see our world destroyed in a sea of hate, nor the fools of the Light, who would see our culture destroyed and our lives ruled by an almighty, draconian ministry.”</p>

<p>Jacob nodded, “So you are offering unconditional support. That is most welcome.”</p>

<p>“Well, sort of.”</p>

<p>Jacob frowned. “Sort of?”</p>

<p>“The neutrals are losing and I don’t accept losing. Tell me, Lord Greengrass — what do the neutrals stand for?”</p>

<p>He was momentarily thrown both by the blunt statement and by the question. “Well, I think you said it yourself. We are a group of people who believe that both the Light and the Dark are extremists who will tear apart our world if left unchecked.”</p>

<p>“And what are you fighting towards?”</p>

<p>“I’m sorry, isn’t that what I said?”</p>

<p>“Not really, you said you are fighting to maintain the status quo. That doesn’t move towards anything. It is keeping things as they are.”</p>

<p>“But keeping things as they are is the point, for the most part anyway.”</p>

<p>“Yes, but that which doesn’t change the status quo is neither sexy, nor appealing to the young and impressionable. Think about how Voldemort was able to forge the Dark out of the children of the pureblood lines. And how Dumbledore rallied the children of both half-blood and non-pureblood noble houses into the Light.”</p>

<p>He turned over the implications of what the young lord was saying in his head. “So, you’re suggesting we need a mission? Something to rally a new generation around?”</p>

<p>“Yes.”</p>

<p>“And no doubt you already have such a mission in mind.”</p>

<p>Lord Slytherin swirled the brandy he’d given the man earlier and looked far away before returning to the here and now. “I am sick and tired Lord Greengrass — sick and tired of the aspersions made against my house, sick and tired of those who believe that Slytherin stands for hate and bigotry. Sick of those who believe that to be cunning and ambitious is to be evil — that to use old magic is to be evil. And sick of those who use my house’s name as justification for their horrific actions.”</p>

<p>Jacob was surprised. Sure, he’d heard the same points made many times before, usually whispered from one neutral to another at parties, afraid they’d be overheard by a Dark-sided wizard and denounced for heresy, but to hear Lord Slytherin himself speak them so brazenly had a galvanising effect.</p>

<p>“You are proposing the resurrection of Slytherin House with neutral ideals as a rallying point for the neutral faction.”</p>

<p>“Yes.”</p>

<p>He sat back and thought. It was an ambitious plan. It involved shifting the entire philosophical stance of a good chunk of the Wizarding World. But with Lord Slytherin as a legitimising force, it might be possible to win back a good number of more liberal Dark siders and more conservative Light siders.</p>

<p>“Such a plan depends heavily on your abilities and power as Lord Slytherin.”</p>

<p>“Well, money is no issue. With my ascendancy to the Slytherin lordship I was made privy to a number of family secrets that secure more than enough wealth. As for magical power… well… do you have a duelling room?”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry stood, tall, powerful, robes whipping around his feet in a swirl of barely contained magic. Time to see how much all that battle time camped in Voldy’s head translated to actual duelling instincts.</p>

<p>“Standard European duelling rules,” called Lord Greengrass from the far side of the huge, warded duelling room.</p>

<p>“Standard? How about <em>Extended Class B</em>?” he countered. “We are the Gray faction after all.”</p>

<p>Greengrass looked at him for a long moment before offering a small smile. “Very well, <em>Extended Class B</em> rules. Joint countdown from three — starting on one.”</p>

<p>Lady Sunny stood to the side, fidgeting incessantly with the cuff of her robes.</p>

<p>They both raised their wands.</p>

<p>“Three, Two, One!”</p>

<p>“Three, Two, One!”</p>

<p>A flurry of spells shot towards Harry, all intending to take him out, but he swatted them out of the air before they reached him. One particularly nasty looking purple spell felt unswattable, and he dodged it, bringing up a shield to absorb the stunner his opponent had hidden in its shadow.</p>

<p>Nice and steady.</p>

<p>A stun, shield-breaker, stun combo failed as Harry conjured a rock to block the shield-breaker, and let the stunners splash, uselessly, on his wordlessly cast protego.</p>

<p>Lord Greengrass, seeing that Harry wasn’t attacking him, started casting more complex spells. Transfigured animals fell to his mid-range flame whip, magical fog was blown away by a miniature hurricane, and illusions totally failed to fool his magical sensing ability.</p>

<p>Going well.</p>

<p>Then, Jacob Greengrass struck.</p>

<p>All at once, Harry found himself boxed in by a banish, shield-breaker, stun combo on one side, a transfigured animal attack on another, and a delayed firewall activation on the third. It was a masterfully executed pincer movement and left no normal escape route.</p>

<p>The brief look of victory on his opponent’s face died when Harry shot upwards and floated some ten feet above the ground.</p>

<p>He grinned. His turn.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Jacob realised he was being humoured less than thirty seconds into the duel. He’d been a high ranked duellist on the international circuit earlier in life and was used to the back-and-forth rhythm of a good solid duel. This guy though… this guy was simply more powerful than him. Slytherin wasn’t even trying to conserve energy. He shielded against spells instead of dodging them, made no effort to move around the duelling arena, choosing instead to just stand in one spot, and he left huge holes in his casting lineup, in which he <em>should</em> have been attacking.</p>

<p>Okay, so <em>that’s</em> how Slytherin wanted to play it, was it?</p>

<p>Conjured rocks became a pack of attack dogs charmed with a confundo.</p>

<p>Magical Merlin, had Slytherin just used a flame whip?</p>

<p>Conjured fog surrounded Lord Slytherin and was moments away from freezing solid.</p>

<p>Damn! Jacob struggled to maintain his footing as a blow-you-away wind shredded his fog.</p>

<p>Two copies of himself sprang from his body and started casting rapid fire, which Slytherin just ignored and allowed to pass through him.</p>

<p>How. The. Hell? Right, enough pissing around.</p>

<p>After several more failed attacks, he sprang his trap, the one that had earned him his highest ever rank in competition, and watched as a brief moment of shock passed across Slytherin’s face.</p>

<p>HAH! Yes, that’s right! Got yo—.</p>

<p>He gaped. His infuriating opponent had somehow, inexplicably, flown up into the air, completely dodging his best shot at winning.</p>

<p>Lord Slytherin grinned at him.</p>

<p>Ohhh shit.</p>

<p>Barely twenty seconds later it was all over and had mostly been an exercise in showing off. He was now trapped, helpless, in the coils of a live, giant snake, and surrounded on all sides by conjured swords, all pointed straight at him.</p>

<p>“Do you yield?” Slytherin asked, descending to the floor like an avenging angel descending from heaven.</p>

<p>He looked at the man who’d just completely overpowered him with incredulity. “Yes, I yield.”</p>

<p>Slytherin hissed a command at the snake and it slithered away, releasing him as the swords all disappeared.</p>

<p>Jacob shrugged. After everything he’d just seen, that Lord Slytherin was a parselmouth was possibly the <em>least</em> surprising revelation.</p>

<p>He briefly shared a look of understanding with his wife, who’d been standing off to the side, staring at the young man in the middle of the room with undisguised awe.</p>

<p>“I hope you’re convinced of my abilities now, Lord Greengrass.”</p>

<p>“Certainly, and please, call me Jacob.”</p>

<p>Slytherin smiled, “Then please call me Harry.”</p>

<p>They shook hands.</p>

<p>Jacob nodded at the ceiling. “I guess that flying spell must be a Slytherin family spell. The only other I’ve heard who could do that was You-Know-Who.”</p>

<p>“Yes, the legacy of Slytherin is quite amazing.”</p>

<p>“I’ll say. So, Harry, going to let us in on how you came by the lordship?”</p>

<p>“Yes, but before I do, I have one more request of you. I need someone to stand in as proxy for my seat. Do you have any recommendations?”</p>

<p>Jacob’s eyebrows rose. “Why would you want a proxy?”</p>

<p>“I have a very good reason, at least in the short term, which is part of the details of how I came by the lordship. Anyone spring to mind?”</p>

<p>“Well,” he glanced at his wife, “I suppose Sunny could if it’s really necessary. She’s had all the training.”</p>

<p>Sunny nodded, still staring at Harry.</p>

<p>“Okay,” Jacob said. “Shall we retire somewhere more comfortable?”</p>

<p>Ten minutes and some Wizengamot strategising later, Jacob was sat across from Harry with Sunny by his side on the comfy living-room sofa. They’d developed quite a good rapport — Sunny especially seemed to be getting on well with him.</p>

<p>“So, Harry, going to keep us in suspense all night?” Sunny joked.</p>

<p>Harry smiled. “You have to understand, by telling you what I’m about to tell you, I’m trusting you with a good number of very important secrets. I know we are now allies, but if these facts became public knowledge-”</p>

<p>“-You don’t have to worry about that,” Sunny interrupted, possibly with a bit more force than necessary, before reddening slightly, “I-I mean.”</p>

<p>Jacob smoothly cut in. “What my lady means, is that we’d like to think ourselves worthy of our word.”</p>

<p>“Of course…. Okay then, big reveal time.” Harry took a vial of milky blue liquid from the inside pocket of his robes. “Do you know what this is?”</p>

<p>“No,” Jacob replied.</p>

<p>“This is the antidote to ageing potion.” The young man then uncorked the bottle and swigged the whole vial in one go.</p>

<p>Before their eyes, the man started to transform. His strong features softened, his eyes got larger in proportion to his face, his whole body shrank, and his clothes morphed themselves to his new form. The man sitting across from them was now a boy.</p>

<p>“Whaaa?”</p>

<p>Sunny was speechless.</p>

<p>“This is the main reason I cannot take my seat on the Wizengamot. I was born on July thirty-first, a mere eight years ago. It would cause too many questions to be asked.”</p>

<p>Jacob was stunned. Too many questions was right. Too many questions were piling up in his head right now. He’d had no idea what to suspect when the man… boy… when Harry had said he couldn’t take his seat — a long-lost descendant of the Slytherin line? A bastard perhaps? The son of a squib, maybe? But whatever he was expecting, this wasn’t it. One main thought fought its way to the front of his mind and shouted loud enough to be heard.</p>

<p>“So… I just got my arse handed to me by an eight-year-old?”</p>

<p>Harry smiled, “Yes, Jacob, yes you did.”</p>

<p>Sunny spoke up. “How Harry? How did the family magics recognise you so early? You’re not supposed to be recognised until you hit your majority. And why now? Why not a year earlier or a year later?”</p>

<p>“Ah, that is very much a Slytherin family secret.”</p>

<p>“But you <em>are</em> going to tell us how you are of the Slytherin line?” Jacob asked, remembering the incredibly one-sided fight he’d just had. “You’re not You-Know-Who’s lost son or something, are you? Come to think of it, how are you so damn powerful? And know so much magic? And how do you have a wand? I can’t imagine th—”</p>

<p>“Please, one question at a time. And most of those are <em>also</em> Slytherin family secrets. But I can tell you how I ascended to the lordship. Even if I can’t explain the timing.”</p>

<p>They sat, expectant.</p>

<p>“Before I continue, I must remind you that my name is <em>Harry</em>. Not anything else, okay?”</p>

<p>They nodded.</p>

<p>Harry pointed his wand at himself, said, “finite incantatem,” and his face was wiped clean, to be replaced by another face, a far more annoyingly familiar face.</p>

<p>“John Potter!” Jacob jumped up, anger flowing into him.</p>

<p>“Lord Greengrass! What did I just tell you?”</p>

<p>Jacob stilled, taken aback. “Oh. Ah, yes. My apologies.” He sat down again, very carefully, feeling sheepish for his outburst while everyone remained silent.</p>

<p>Sunny was staring intently at the John Potter lookalike, as though trying to work out a puzzle.</p>

<p>“My name is Harry. I was born on the July thirty-first, 1980. I have a twin brother. I’m sure you can see where this is going.”</p>

<p>Jacob’s eyes bulged despite himself. “You’re the brother of the boy-who-lived? I never heard he had one. I’ve never seen you. Or heard of you. Ever.”</p>

<p>“That is because after Voldemort’s,”—both he and his wife flinched—“attack, I was abandoned by my parents.”</p>

<p>“What!” Sunny shouted. “How could they? Why?”</p>

<p>“Tell me, what are the ways you can acquire a lordship?”</p>

<p>Jacob thought for a moment. “You have to be male — and blood-related within three degrees of relation.”</p>

<p>“Other ways?”</p>

<p>“Um… You can be blood adopted, but that’s considered dark magic now, and illegal.”</p>

<p>“Yes, that’s two ways. Any others?”</p>

<p>He sat in silence, stumped.</p>

<p>Sunny spoke up, quietly. “Right of conquest.”</p>

<p>Harry sat back and smiled a smile with no warmth. “Exactly.”</p>

<p>Something seemed to be passing between Harry and his wife. Her eyes were widening, and her breathing had become laboured.</p>

<p>“No,” she whispered.</p>

<p>“Yes,” said Harry.</p>

<p>“What?” he said, totally in the dark.</p>

<p>“Dear,” his wife said, “who was the last of the Slytherin line?”</p>

<p>“Well… Rumour said it was You-Know-Who.”</p>

<p>“And what is right of conquest?”</p>

<p>“It says that a line will pass to the conqueror of the last of the line, so long as the last of the line initiates the conflict that ends in their death.”</p>

<p>“So?”</p>

<p>“But… but Harry didn’t defeat You-Know-Who, John Potter did.”</p>

<p>“Oh come on, Jacob!” she cried, exasperated. “Can’t you see what’s going on here? If John were the defeater of You-Know-Who, he’d be Lord Slytherin. He isn’t. Harry is.”</p>

<p>Jacob’s eyes widened. “John Potter isn’t the boy-who-lived? You are?”</p>

<p>Harry sighed. “Yes.”</p>

<p>“Why did they abandon you then? Wait, why would they abandon you anyway? And why does everyone believe John Potter defeated You-Know-Who?”</p>

<p>“Three answers — Dumbledore, Dumbledore, and Dumbledore.”</p>

<p>“What did Dumbledore do?” Sunny asked, she looked to be getting agitated and he couldn’t blame her. How could anyone abandon their child, especially when they were so obviously magically powerful? He could understand if a family abandoned a squib, even if he didn’t approve of it, but someone like Harry? It was unthinkable, despicable even.</p>

<p>“I could tell you, but it would put both you and your family in very real danger from very powerful people who will want the knowledge. Do you still want me to tell you?”</p>

<p>They looked at each other and nodded.</p>

<p>Jacob looked back at Harry and said, “Yes.” They were in too deep to back out now.</p>

<p>“Very well. Some nine years ago, there was a prophecy made. A prophecy which said a child would be born with the power to defeat the Dark Lord — a child who would be marked by the Dark Lord as his equal, and who would have a power that the Dark Lord knows not, and that either must die at the hands of the other.”</p>

<p>They both stared at him, wide eyed.</p>

<p>“Dumbledore decided that any wizard who fit the criteria laid down by the prophecy was too dangerous to be allowed to freely develop their abilities, so, when he realised the prophecy referred to me, he arranged for me to grow up with muggles, unaware of my heritage, and unaware of my magic.”</p>

<p>Sunny was starting to get teary eyed now.</p>

<p>Jacob just looked on, stony faced.</p>

<p>“I’m still not sure how the bastard managed to convince my parents — they don’t seem to know John isn’t the true boy-who-lived, but I have a few theories.” He sighed again, “Dumbledore’s plan was to keep me as weak as possible, all the way through my early years, through my time at Hogwarts, until it was time for me to ‘face my destiny,’ whereupon I’d be rolled out to either kill or be killed.”</p>

<p>“Wait,” Sunny interjected, “why would you need to do that? You-Know-Who’s dead.”</p>

<p>Harry gave her a look.</p>

<p>Sunny shrieked. “He’s not dead!”</p>

<p>Harry shook his head.</p>

<p>Jacob’s mind reeled, but a loose strand tugged at him. Something wasn’t quite right here, but he couldn’t put his finger on it… “Wait,” he finally said, “if You-Know-Who’s not dead how did you claim the lordship?”</p>

<p>“That’s part of the power he knows not. It’s the same reason I’m so much more powerful than most children my age, and is something I am very definitely keeping to myself for the moment.”</p>

<p>Jacob collapsed backwards into the sofa, still trying to reconcile the eight-year-old boy sitting in front of him, with the commanding, charismatic, powerful young man he’d fought against not thirty minutes before. “It’s all so much to take in. I don’t know where to start thinking.”</p>

<p>Sunny spoke up. “We should start with the winter solstice Wizengamot session, and work from there.”</p>

<p>“Right.”</p>

<p style="text-align: center;">— End of Chapter Four —</p>

