Chapter 50 - Soul Anchors - Part 3

<p>The gates of Hogwarts stand tall and strong, suffused with magic and strong enough to hold back a small army of sword-wielding goblins, wand-wielding wizards, or muggles wielding whatever happens to be in fashion this century. Hand-forged from goblin silver by the Smith family some two-hundred-odd years before the great betrayal, they alone are worthy of granting Hogwarts the title of ‘safest place in Magical Britain.’</p>

<p>The gaps between the bars are quite wide though.</p>

<p>In the weak dawn air of a December morning, a teenage female figure made her way down the path towards said gates. She was invisible to the casual glance, save for a faint outline in the air to mark her passage across the frost-covered lawn.</p>

<p>When she reached the gates, the figure whispered, “Plato!”</p>

<p>On the other side of the gates, Plato the house elf, wearing his Slytherin robes and crest popped into being. He looked around in puzzlement for a moment before the girl said, “Plato, it’s me.”</p>

<p>“Miss Icygrass.” The elf’s wide eyes focused on the spot where the invisible voice had come from. “Why is Miss calling Plato?”</p>

<p>“I need you to send an owl to Mister and Missus Granger. It’s urgent.”</p>

<p>“Right away, Miss. Where is the letter?”</p>

<p>“I haven’t written it yet. It needs to come from Slytherin himself.”</p>

<p>“Plato understands, Miss. What does the letter need to say?”</p>

<p>The future Lady Slytherin told him.</p>

<p>Plato bowed deeply and popped away.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>He didn’t pop far. Without the call of their masters to guide them, house elf apparition was quite similar to the wizard version — ie, short-range and magically taxing. Some fifty pops later, Plato arrived on Gairsay Island, right in front of Slytherin Manor, panting heavily. He made his way through the grand ballroom, up two flights of stairs, and into his master’s study. A large bookcase on the far wall was crammed with rolled up parchments.</p>

<p>“Master, indisposed,” the elf muttered to himself as he trailed a long, bony finger along the shelves. “Plato is not liking this, no, not one bit.” He found the parchment he was looking for among the collection and pulled it out. “No master is meaning no gold from sunken ship. No new gold is meaning no new house elves. No new house elves is meaning no mate for Plato. Plato is not liking to wait. Plato is wearing neat new robes like wizards now. Females be loving bad boys.”</p>

<p>He left the study and walked down the long corridor to the end of the hallway. There, he opened a set up large double windows, clambered up onto the sill, and called out, “Master’s owl! Master needs letter sent!”</p>

<p>The grounds of Slytherin Manor had been transformed since earlier in the term. Gone was the empty pasture, replaced with hardwearing bushes, trees, and other plants — all magical to a greater or lesser degree. From one of these trees, Macavity leapt and swooped up to the window.</p>

<p>“Good birdie,” Plato said, attaching the letter to his leg. “Go, swift like wind now. Is being very important.”</p>

<p>Macavity made a gesture that could be interpreted as a shrug, turned his back on the little human-like thing, spread his wings, and set off on the heroically long journey to the bottom of the hill.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In Granger Cottage, Clare Cooper was sitting at the kitchen table, groggily sipping from a cup of early morning tea when a tap from the window interrupted her. Minutes later, she’d taken the letter from Lord Slytherin’s owl, sent him on his way—probably back to Hedwig—and descended the secret stairs to the Granger’s underground workshop.</p>

<p>“Letter,” Clare declared to the room filled with machines and a couple of half-built giant broomsticks.</p>

<p>Emma looked up from where she’d been working. “Hedwig, Macavity?”</p>

<p>“Macavity. Here you go.” Clare then excused herself to get ready for school.</p>

<p>Emma sliced the letter open with a screwdriver and read.</p>

<p>“And what does our lord have to say?” Dan asked, appearing from behind one of the subs.</p>

<p>“He’s got to take care of some things,” Emma replied, turning back to the desk. “He’s being pretty vague, but he says he’ll be back in a couple of weeks.” She felt a presence behind her and strong arms wrap around her waist.</p>

<p>“Two weeks all to ourselves,” Dan murmured into her ear. “We can do a lot in two weeks.”</p>

<p>“We can’t go out in the broom-sub without him, or the girls, or Harry,” Emma commented idly.</p>

<p>“We could take the time to catch up on some of our other projects,” Dan replied. “Slytherin is a demanding master.”</p>

<p>“He’s not the only one,” Emma murmured back. A strong hand was trailing up her thigh. Her husband had never been skinny, but the discovery of magic had injected new motivation into his exercise.</p>

<p>“Is <em>that</em> what I am? A master?”</p>

<p>“<em>Demanding</em>, is what I meant.”</p>

<p>The hand stopped, just shy of her slowly building need. Emma groaned.</p>

<p>“Well then,” Dan said jovially. “I <em>demand</em> that you write Lord Smith a letter explaining that we now have some time to work some runes for him on his shield project.” He stepped back. “I’m sure he’ll be delighted.”</p>

<p>Emma turned and glared. “Having you role-play Lord Slytherin so much was a mistake.”</p>

<p>One frustratedly written letter later, Emma stomped up to the floo, threw in a pinch of floo powder and watched the green flames lick high in the fireplace. She chucked the letter in and said, “Hogsmeade Owl Office.”</p>

<p>She had just enough time to squeal in delight as strong hands grabbed her from behind, spun her around, and hauled her onto the kitchen table, before the letter was consumed and swirled away in a rush of green fire.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Letters, unlike people, didn’t need to remember to get out at the right grate. Emma’s envelope rocketed through the floo and after barely five minutes whooshed out of the fireplace of a large building, furnished with one large desk, a hundred wooden perches, and plastered in owl doings on every flat surface visible.</p>

<p>The wizard on duty cleaned his wide-brimmed hat again with the wand, plucked up the envelope, sliced it open, extracted the two knuts inside, pocketed them, and placed the other, still-sealed envelope, which had been inside the first, in a tray marked ‘OUT.’</p>

<p>A moment later, a small barn owl swooped down from one of the hundreds of perches and held out its leg expectantly.</p>

<p>One tied piece of string later, and it was off.</p>

<p>A half-hour later, Lord Smith looked up from his breakfast of bacon, ham, eggs, sausage, black pudding, cheese, and beer, before letting out a humongous belch and snatching a letter from a silver tray carried by a house elf.</p>

<p>“That was unrefined, dear,” said a well put-together lady on the far end of the huge table. Lady Smith was the kind of person who would perfect her make-up, potions, hair, skin charms, jewellery, and day clothes each and every day before even considering taking breakfast with her husband of seventy years.</p>

<p>“Yes, dear,” said Lord Smith. “Oh, look. Slytherin’s finally pulled his finger out of his arse.”</p>

<p>“Really, dear? Is this about those tiny runes you’ve been so excited about?”</p>

<p>“Yes, dear. Slytherin’s people finally have some time to kill. Hah! I bet that means Slytherin’s missing again.”</p>

<p>Lady Smith pursed her lips. “Oh dear.”</p>

<p>Twenty minutes later, three separate letters zoomed their way through the floo to three separate owl offices throughout the land. There, three different owls picked up those letters and whisked them to three different manor houses. Three different ladies wearing dressing gowns of three different colours—one red, one pink, one black—read those letters and sat down at three different writing desks. Three different letters then became five, which then became eight, then ten, then fifteen.</p>

<p>Morning became noon, which became afternoon, and finally evening.</p>

<p>Lord Jacob Greengrass stood in his office, the red stain of the sunset tinting his furniture and books, and read the owl that had just been delivered.</p>

<p><em>Lord Greengrass,</em></p>

<p><em>I have heard on the grapevine that Lord Slytherin won’t be with us for a few weeks. Since your previous reason for declining my invitation to the emergency meeting of the Mandrake Supply Council was lack of time due to political commitments, I wondered if this new development might have freed up some of your focus. If so, please let me know if you’d like to join us so I can make the necessary arrangements.</em></p>

<p><em>Yours with great respect,</em></p>

<p><em>Barallion Updike</em></p>

<p>Jacob took out his best thunderbird quill, put nib to parchment, and wrote.</p>

<p><em>Yes, I would.</em></p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The next morning, next to the main floo place of Malfoy Manor, Virgo inspected herself critically in the hallway mirror. Now that she was more than whole, she could easily see why the Malfoys had chosen her to be her diary’s body. Her face still contained a certain amount of baby fat, but it was clear that she’d soon develop into the kind of witch that powerful wizards fought duels over. Her robes were fine and rich — nothing like the cheap, mass-produced, orphan-appropriate clothes she’d worn when she’d first arrived at Hogwarts — nor like the more modern muggle clothes she’d recently worn, designed and made to keep out the biting Swedish winter. No, these robes made her look like a wickedly beautiful sorceress straight out of a high fantasy story.</p>

<p><em>They are robes appropriate for a noble witch of high-birth — a noble witch, like me.</em></p>

<p>Virgo chuckled nervously.</p>

<p>“What are <em>you</em> laughing at?” spat the mirror.</p>

<p>Virgo’s eyes narrowed.</p>

<p>Ten seconds later, Lady Malfoy burst in, wand out and alert. “What happened? I heard a crash—” She stopped when her eyes fell on the smashed glass laying around Virgo’s feet before travelling up to the candlestick held in her blood adopted daughter’s hand.</p>

<p>It took every ounce of control Virgo possessed not to look sheepish or guilty.</p>

<p>Lady Malfoy had insisted that she stay ‘home’ at least one more night before leaving back for school. That time had given Virgo much time to think and consider. The first major question had been, ‘was she still a Horcrux?’ That had been answered with a quick trip to the soul chasm, with a resounding, ‘yes, unfortunately.’ The second question had been, ‘what was she going to do now?’</p>

<p>That question, she was still considering.</p>

<p>After a final farewell and eager to get away from her new adopted mother’s fussing attention, she stepped into the floo and said, “Hogwarts!”. The rush of the floo warmed her as she rocketed up from Wiltshire to the highlands of Scotland. It was like the world’s coolest theme-park ride. And with her wand in hand, she felt like an actual superhero — or was that super villain? She was part Dark Lord, after all.</p>

<p>“Miss Malfoy!” Headmaster Lockhart beamed as she stepped into his office. “You’re a bit too late for breakfast, so you’d better skip along to your first class.’</p>

<p>Virgo did <em>not</em> skip as she made her way towards charms class, although the prospect of actually going to magic school almost made her want to — <em>almost</em>. Despite the harrowing experience of being a prisoner in her own mind, this <em>was</em> one of only two places she’d called home, the other being impossible to return to.</p>

<p>“Miss Malfoy,” chirped professor Flitwick from atop his pile of books when she tentatively poked her head into the classroom. “We’re currently practising the shrinking charm. Why don’t you sit next to Mister Creevey there?”</p>

<p>Colin Creevey’s eyes bugged as she sat down next to him, flicked her long hair, and flashed him a smile.</p>

<p>She watched in interest as Creevey tried to shrink down the goblet each of them had been given and failed miserably. Creevey then watched in awe as she flicked her wand, without even saying the incantation and yo-yoed her goblet from large to tiny and back again, several times in as many seconds.</p>

<p>He wasn’t the only one who’d caught that little display. A few of her fellow Gryffindors and many of the Ravenclaws they shared this class with were also staring at her.</p>

<p>“Excellent display, Miss Malfoy!” the professor exclaimed. “Take two points for Gryffindor. Why don’t you spend some time helping your classmates while I help Mister Cornfield here?”</p>

<p>“Happily, Professor.”</p>

<p>As Virgo started showing Creevey how to execute a proper 3/8 flick, her mind drifted to one already obvious, but now unavoidable fact. This was <em>so</em> easy! She was so much better than her peers even the teachers couldn’t help acknowledge it. She was almost twelve, but already better than even the oldest students in the school. There wasn’t <em>anything</em> she couldn’t do. If she wanted to, she could be the greatest sorceress the world had ever seen.</p>

<p><em>No, I AM the greatest sorceress the world has ever seen!</em></p>

<p>“Miss Malfoy!” Professor Flitwick called from across the room. “Please contain your enthusiasm in class! That is what charms club is for.”</p>

<p>Virgo, once again, tried not to look sheepish.</p>

<p>“Although, I must admit,” the professor continued in his usual light-hearted tone, “this is the first time one of my first-year students has produced a small army of river-dancing goblets. Take another two points.”</p>

<p>Virgo didn’t take lunch in the great hall. It wasn’t that she was scared, she just wasn’t… ready? She, that was it. She wasn’t ready. She wasn’t ready to talk to John Potter and Susan Bones in person for the sort-of first time.</p>

<p>In the Gryffindor girl’s first-year dorms, she whispered, “Dobby.”</p>

<p>Dobby the free house elf popped into being by her bed. “Miss is wanting Dobby?” His eyes looked worried. “Miss should not be calling Dobby in Hogwarts. It is not being safe.”</p>

<p>Feeling a bit guilty, Virgo quickly relayed her desire to the rare house elf she’d been introduced to the previous night.</p>

<p>Dobby wrung his ears. “Oh, Miss. Just this once, Miss. But you must only be calling on Dobby if it is life and death. That is what Lady Malfoy is saying.”</p>

<p>Dobby popped away and five minutes later Virgo had her lunch laid on in front of her. As she ate, her mind drifted back to the great things she could do. Before she’d performed that damn ritual with the diary, she’d had plans — so many plans — plans to travel the world, discover ancient magics and artefacts, and even forge her own. She’d wanted to climb to the top of Magical Britain and walk the road of immortality further than any had walked it before.</p>

<p>Dabbing the edges of her mouth with her handkerchief, she dismissed her now empty plates and made her way down to afternoon class — Defence.</p>

<p>That was where her plans for greatness hit a massive mental snag.</p>

<p>“What are you glaring at, Black?”</p>

<p>“Glaring, Creevy? I’m not glaring at anything. Certainly not at you.”</p>

<p>“John says you’re up to no good.”</p>

<p>“How dare you speak to Heiress Black like that, m<em>udblood</em>,” sneered one of the Carrow twins.</p>

<p>“Why, you! I know what that word means, you know. Hermione told me all about it!”</p>

<p>“Humph. Granger may be pretty, but her whole family are nothing but whores for Lord Slytherin.”</p>

<p>It wasn’t Black and the Carrow twins that were giving Virgo problems though, rather it was the girl sitting in a corner of the classroom, all by herself — the girl with fiery red hair and eyes that, in just a heartbeat, could go from relaxed to so intense they could pin a butterfly to a stone wall.</p>

<p>“Sit down, all of you!” Snape snapped as he swept into the classroom. “Creevey, five points from Gryffindor for your disrespect. Black, see me after class. Today we are going to study the lip-locker curse.”</p>

<p>Ginny Weasley caught her gaze and smiled.</p>

<p>Virgo felt a chill go down her spine. Actually, she <em>wasn’t</em> the best witch in the school, was she? Not if it really <em>had</em> been Weasley who was the one to ambush her not once, but twice, almost killing her each time. Virgo was as strong as she was because she was part Dark Lord. What terrible secrets did Weasley possess that allowed her <em>her</em> power?</p>

<p>After half an hour studying theory, Snape pulled up two students for practical, one of whom, was the current subject of Virgo’s worries. The girl’s movements were even more elegant than she remembered — not an ounce of energy was wasted, physical or magical — and the girl gave off the distinct impression of supreme amusement as her Gryffindor opponent, one of Virgo’s male classmates, tried his best to seal her lips, but failed time and time again.</p>

<p>“Yes, <em>thank</em> <em>you</em>, Miss Weasley,” Snape drawled. “Perhaps you feel in need of a greater challenge?” He turned. “Get off the stage, boy,” he snapped at the still-mute Gryffindor.</p>

<p>A murmur of surprise went through the students, Virgo among them. Snape was planning to duel Weasley himself? Sure, he’d been insinuating that he would eventually, but most had considered it an idle threat. Teachers did not, as a rule, duel students — and certainly not first-year students. Weasley herself looked shocked before the corners of her lips turned upwards.</p>

<p>These were not normal duels.</p>

<p>With the allowed spells limited to only one, it wasn’t really a test of combat, but rather a test of pure cast speed. Who could draw, aim, and cast the fastest.</p>

<p>In the first round, both Snape and Weasley were caught by surprise, each casting faster than Weasley had done against the Gryffindor boy. It ended in a draw, with both combatants mute.</p>

<p>“Again,” Snape snapped after unsealing their lips with a wave of his wand.</p>

<p>The second round went even faster. It was only Virgo’s magic sensing abilities that allowed her to follow it at all. Most of her classmates just gasped. Again, it was a draw.</p>

<p>“Again.”</p>

<p>Virgo suspected she was the only one who spotted the briefest look of worry that crossed the redhead’s face before both she and Snape sheathed their wands, ready to duel once again.</p>

<p>This time, Weasley lost.</p>

<p>While the whole of the classroom held its collective breath, Snape advanced on the now sheepish looking girl. “Miss Weasley,” Snape said in his silkiest voice. “Do you take me for a fool?”</p>

<p>“No, professor.”</p>

<p>“Do I perhaps look like someone who is easy to trick? Someone who might enjoy a good laugh?”</p>

<p>Weasley awkwardly shuffled her feet. “No, Professor.”</p>

<p>“Then let me make one thing quite clear. If you <em>ever</em> lose on purpose in my class ever again, I will have you in detention writing lines from now until year end. Have I made myself understood?”</p>

<p>Weasley blanched. “Yes, Professor.”</p>

<p>Thirty minutes and many duels later, Virgo left the defence classroom, face ashen, skin shivering, with only one thought going through her head.</p>

<p><em>Ginevra Weasley needs to die.</em></p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“There!”</p>

<p>In the middle of an empty classroom, Daphne, Hermione, and Alex aimed their wands at an empty patch of floor and let loose their magics. Their accumulated powers shot forward, hit nothing but stone, and rebounded in different directions.</p>

<p>Alexandra cursed.</p>

<p>“Focus!” Daphne shouted. “Position!”</p>

<p>The three witches jumped to stand back-to-back, forming a triangle with each side brandishing a promise of total magic destruction to any foolish enough to strike. Or at least, that was the intention.</p>

<p>“This is ridiculous,” Hermione whispered. “How are we supposed to—”</p>

<p>“Quiet,” Daphne hissed. “Listen.”</p>

<p>The classroom was deathly still. Alexandra shifted her weight in her boots, almost imperceptibly. Hermione and Daphne’s sensible flats stayed glued to the floor.</p>

<p>Then, out of nowhere, a flare of magic all but over-whelmed them. For those trained to sense the subtle flows of magic it was as if a sun had been lit in the deepest depths of an underground cave.</p>

<p>“It’s a trap!” Hermione shouted, but not quickly enough.</p>

<p>Alexandra had already pointed her wand in the direction of the flare and sent her chains whipping across the room. There was a blur in front of her, and the next thing the Black Heiress knew, a glowing red hand appeared from thin air, right in front of her face.</p>

<p>To those not familiar with group magical combat, it is often asked why stunners are so often used, when the enemy can just awaken their fallen comrades. The answer to this is simple. Stunning a wizard takes but a second, while getting your head back in the game when you’ve just been awoken from a magically induced slumber takes quite a few more than that, even for the well-trained.</p>

<p>Thus, as Alexandra Black slowly collapsed to the ground, neither Hermione nor Daphne counted on her to save their asses. Hermione did flick a quick enervate at Alex, and Daphne did spin around to shield Hermione while she did so, but they both knew that they were now well and truly up the proverbial creek, without the proverbial paddle.</p>

<p>And indeed, Alex’s eyes had barely even refocused when the same glowing red hand appeared again, this time at Daphne’s totally exposed back and fired another stunner.</p>

<p>In the time that it took Hermione to enervate the now falling Daphne, the floating hand was back again, this time at Hermione’s back. Another flash, and Hermione was gone as well.</p>

<p>Still groggy, Alexandra just about registered intent to stun forming in her general direction. As quickly as her foggy mind would allow, she formed the same intent on the tip of her wand and brought it up to swat the enemy magic away, but not, unfortunately, quickly enough.</p>

<p>Daphne, by contrast, barely even realised that she was waking up in the middle of a fight before another red stunner was fired at her, finishing off their team’s last hope.</p>

<p>This is why enervating team members only really works when the combatants in question can even hope to hold off the enemy for long enough to bring them back into the game.</p>

<p>A few meters away from the fallen girls, a shimmering cloak appeared in the air, whipped off by another young witch in a muggle tracksuit top, bottoms and trainers. “Damn Snape!” Ginny shouted. “I— Argh! I was so careful not to show my skill in public for so long! Damn him! I’m just so—! ARGH!”</p>

<p>After a few moments of this, Ginny remembered herself enough to fire off three enervates at her fallen comrades.</p>

<p>“Alex!” Hermione said angrily, the moment they’d both found themselves. “What were you thinking? It wasn’t even a spell! It was just raw magic! It was so obviously a trap!”</p>

<p>“Oh, like you were doing anything to help,” Alex snarked back. “You can’t even spell-swat.”</p>

<p>“<em>You</em> couldn’t spell-swat until a few months ago.”</p>

<p>“And <em>you’re</em> a whole year older than me. <em>And</em> top of the class.”</p>

<p>“That’s <em>why</em> I can’t spell-swat! If I had the time to train like you and Ginny, I’d have mastered it long before you did.”</p>

<p>“Are you saying you’re <em>better</em> than me!?”</p>

<p>“Girls,” Daphne said, firmly cutting across both of them. “Let’s not argue. What would Harry say if he saw us acting like this?”</p>

<p>Hermione and Alex looked thoughtful for a moment.</p>

<p>“That we need to get better at working together?” Alex asked.</p>

<p>“That each of us has unique strengths and is valuable in their own way,” Hermione suggested.</p>

<p>“Maybe,” Daphne conceded, before turning to Ginny.</p>

<p>Ginny still looked annoyed. “He’d tell you both to get back to work. I can’t believe how easy getting the drop on you three is.”</p>

<p>“But you have the cloak and won’t let me use my inferi,” Alex protested. “Why can’t we have a try with it?”</p>

<p>“You think that would make a difference?” Ginny smirked. “Take it if you want, but it’s not <em>me</em> that has to get better at fighting an overwhelming opponent.”</p>

<p>“Girls,” Daphne said again, drawing their attention back to her. “Ginny is right that we need to continue practicing as we have been, but we’ve been at this for over an hour now. Let’s take a break. In the mean time, Hermione has some interesting ideas for us, I believe. Hermione?”</p>

<p>“Oh! Right!” Hermione trotted over to her bag and returned with a large leather bound book. “I’ve been doing some research into animagi and how they can be used in combat. I’m sure Harry was going to talk to us about this eventually, but since he’s, you know”—her voice became strained—“not with us at the moment, I figured we should go ahead without him.” She collected herself and sat down on the charmed blanket that Daphne had laid down on the floor, the others following suit. “Oh, is that from the kitchens?” Hermione asked, as Daphne produced a wicker basket.</p>

<p>“It is. The elves here are still rather cautious around me. We don’t know if our lord can give them clothes and none of them want to be the first to find out either way.”</p>

<p>“Right. Oh, sandwiches? Thank you — just chicken for me. <em>Why</em> do they insist on cutting the crusts off? Don’t they know the crusts are the best part? Anyway, where was I? Oh, yes. Animagi in combat. I found this book written by an auror in the eighteenth century, Cecil Tempest, who did a lot of experimenting with his animagus form and some of what he says is quite fascinating. For example, the basic theory of aether flamelage that we learned in transfiguration seems to work with the animagus form, except for the transformation itself, which doesn’t seem to take hardly any magic at all.”</p>

<p>“That makes sense,” Ginny said with her mouth full of egg and cress sandwich, which caused Daphne to wrinkle her nose. “Some wizards hold their forms for years. My Mum used to tell me stories of wizards who turned into birds and just flew away and lived their whole lives like that.”</p>

<p>“Quite,” Hermione said. “But the most interesting part is that perhaps because the form doesn’t take much, if any, magic to hold or transform, an animagi’s magic continues to replenish while transformed.”</p>

<p>“Mfm!” Alex said, enthusiastically, keeping her mouth closed while munching on a bacon butty. She swallowed. “That is rather cool! That means that if we have a good form for combat, we can weave between forms and never run out of magic.”</p>

<p>“Yes,” Hermione agreed with a slight nod. “And some forms <em>are</em> better suited for combat than others. Bigger forms have more inherent magical resistance than smaller forms, while smaller forms are harder to hit. The ideal would be having a small form, but of a magical creature — preferably one that is already highly magically resistant.” She couldn’t help a slightly smug expression creeping onto her face. “Something like a miniature unicorn, to take a purely hypothetical example.”</p>

<p>“Hey, Grims are <em>also</em> magically resistant,” Alex quickly said.</p>

<p>“But are about the same weight-class as a normal wizard, which makes them much easier to hit.”</p>

<p>“Yeah, but can turn spectral! Which is awesome against wizards who rely on physical attacks.”</p>

<p>“Girls,” Daphne cut in. “Let’s not turn this into a wand measuring contest. <em>Some</em> of us, after all, won’t have forms suited for close combat at all.”</p>

<p>Hermione and Alex both looked abashed.</p>

<p>Ginny sniggered. “No, you’ll just be able to read over someone’s shoulder from over a mile away, up in the air, well out of range of any wand fire. I’d say that’s pretty useful. I just hope that I can learn to transform mid-sprint. That <em>would</em> be really awesome. It’s just a shame cheetahs aren’t inherently magically resistant.”</p>

<p>“No,” Hermione agreed, “You’ll just have to rely on your own inherent magical resistance. I just wished we knew what Harry and Luna’s forms are. Luna I get, but it’s not like Harry to keep secrets - even if he does like guessing games.”</p>

<p>Alex and Ginny both nodded.</p>

<p>“What else did you learn, Hermione?” Daphne asked.</p>

<p>“Well,—” Hermione began, but before she could continue, Ginny cut her off.</p>

<p>“Hang <em>on</em>!” the tracksuit-wearing witch said. “You’re right, Hermione, it <em>isn’t</em> like Harry to keep secrets. He usually tells at least <em>one</em> of us, and, Daphne, I think that subject change was just a little too clean.”</p>

<p>Hermione and Alex raised their eyebrows and looked at Daphne.</p>

<p>Daphne looked annoyed for a second before she sighed. “Oh, alright. Yes, he gave me a clue on my birthday, but he did outright tell me later on.”</p>

<p>“Why didn’t he tell us?” Hermione asked, looking a little hurt.</p>

<p>Daphne shifted uncomfortably. “I think he’s having a bit of a wand measuring contest of his own — with Luna. He’s not telling all of us because he doesn’t want Luna to know until they meet in the ritual. You know what he’s like with her. Of all of us, Luna is the one that comes closest to actually challenging him.” She shrugged. “It’s a boy thing.”</p>

<p>Hermione folded her arms. “I’d have never told Luna if Harry had asked me not too.”</p>

<p>“Yes, but you know how perceptive Luna can be.”</p>

<p>Hermione’s shoulder’s sagged. “I suppose you’re right.”</p>

<p>“Wait!” Ginny jumped in. “So, you’re not going to tell us?! You can’t <em>not</em> tell us now that we know you know.”</p>

<p>“Ginny,” Hermione started in a scalding tone of voice, “If Harry doesn’t want us to know—”</p>

<p>“No,” Daphne cut her off. She sighed. “Ginny is right.”</p>

<p>“Wait, I am?”</p>

<p>“Yes. Besides, Luna is also out of it and we might have only a few weeks after they wake up before we do the ritual. Just promise you won’t tell Luna, even if she figures out that you know.”</p>

<p>They all promised.</p>

<p>“Okay.” Daphne brought out a book of her own and laid it down open in the middle of the quartet of witches. “Just remember that even I don’t know the details. I just know the general form.”</p>

<p>“General form?” Alex asked.</p>

<p>Daphne turned several pages, stopped, and pointed her finger. Ginny and Alex both gasped. Hermione’s eyes widened. The picture was of an abomination of a creature, like something out of a taxidermist’s worst nightmare. It had seven different heads, a body that looked formed from three different animals, five different tails, one of which had a head of its own, and legs that each ended in a different foot — claws, hoof, talons, and foot.</p>

<p>“Chimaera,” Hermione whispered. “A magical creature born of dark magic storms — fused from two or more different animals to create a new whole, greater and more terrible than the sum of its parts. Very interesting.”</p>

<p>“<em>Interesting</em>?!” Alex blurted out. “Harry has <em>this</em> as his animagus form and the best you can do is, ‘<em>interesting</em>’?! Don’t you realise how insane this is?! Chimaera are five-x magical creatures! They’re some of the most dangerous and powerful magical creatures known to wizarding kind!” All the while the Black witch ranted, Ginny was emphatically nodding her head. “And don’t get me started on their intelligence!” Alex continued. “Chimaera are the only five-x magical creature that can understand the human tongue — they’re sentient! Some wizards and muggles in the past used to worship them as gods, despite the fact that they <em>ate</em> people! Only one wizard has ever single-handedly killed a chimaera—one insanely lucky wizard—and <em>that</em> was only a one-month old cub! With Harry like this, we’ll be <em>unstoppable</em>!”</p>

<p>“They’re not invincible,” Daphne said, quietly. “The one in the castle last year was killed by the Basilisk — and the ICW seems to deal with at least one rogue Chimaera every other decade.”</p>

<p>Alex paused for a moment. “Okay, they’re not invincible,” she conceded. “But I mean, what is? You remember what our lord constantly tells us during training. ‘In a fight between creativity and power, bet on the side that has both’. I’d love to see Voldemort or Dumbledore’s faces if Harry learns to weave <em>this</em> into his duelling style. So, what are his parts?”</p>

<p>“I told you already, I don’t know. He did make a joke once that he was both hot and cold blooded — or that his forms traditionally were, anyway.”</p>

<p>“Snakes,” Ginny said firmly. “If one of his parts isn’t a snake of some kind I’ll eat my hat.”</p>

<p>Hermione nodded. “I agree. Snakes do seem likely. Are there standard Chimaera forms? Maybe he’s one of those.”</p>

<p>“Some combinations and parts do tend to crop up more often than others,” Daphne said, turning one of the book’s pages. “Dragons, goats, and lions are common.”</p>

<p>Alex’s eyes widened. “Wait, dragons! So, Chimaera can have magical-creature parts. Okay, I’m calling it now. Harry will be every five-x magical creature mushed together.”</p>

<p>Hermione scoffed. “This isn’t a boy-who-lived adventure book, Alex.”</p>

<p>“I don’t read them!”</p>

<p>“I… never said you did?”</p>

<p>Ginny frowned. “And how would a lethifold fit into this ultimate five-x Chimaera?”</p>

<p>“Okay, forget it! It was just an idea.”</p>

<p>Hermione smirked and nudged Daphne in the side. “Maybe he’ll be a unicorn Chimaera with a snake tail. Then you wouldn’t need me, you could ride <em>him</em>.”</p>

<p>Daphne flushed red. “Can we get back to the topic at hand? We need to figure out how we’re going to use our animagus forms while working together against Harry.”</p>

<p>“Maybe I should ask my brothers,” Ginny thought out loud. “They’re really good at creative thinking.”</p>

<p>“They haven’t told you what they’re planning on doing for the ritual have they?” Daphne asked. “Or what forms they are?”</p>

<p>“Penguins,” Ginny said, now grinning widely. “Rock-hopper penguins. Fred said he’d go first. George will go with the next batch. They flipped a coin. As cool as it would be to chance a cerberus penguin, they are actually remarkably sensible when it comes down to the important things. They know the risks of rituals — especially untested ones.”</p>

<p>“I don’t think Harry would have actually let them stuff themselves into one pot,” Daphne said with a wry smile. “But then, that’s Harry, isn’t it? Let the other person choose to do what he wants them to.”</p>

<p>The four witches sat around the book on the floor fall silent for a moment.</p>

<p>“I really miss him,” Daphne said.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Hey, Malfoy. John Potter is looking for you,” said some random Ravenclaw as they passed in the corridor.</p>

<p>“So I’ve heard,” Virgo replied, with just a hint of annoyance. “Over and over again.”</p>

<p>At some point during the day, word had gotten to the boy-who-lived that the not-really-a-squib Malfoy had returned to the castle. Since then, she’d barely had a moment’s peace. It wasn’t that she was avoiding him…</p>

<p>Virgo sighed.</p>

<p>Okay, so it totally <em>was</em> that she was avoiding him.</p>

<p>It just felt so weird having been so close to this boy, while seeing him as nothing but a tool, while at the same time never having talked to him, but admiring him from afar, and having what she now knew was a teenage crush on him, possibly even more than that. None of this was helped by a small part of her screaming that she was a man, and that she didn’t bend over for anyone — in any sense of the phrase.</p>

<p>But the Hogwarts rumour mill was not a one-way street, to horribly mix a metaphor, and news about her wasn’t the only thing that had been plucked from the grape-vine, stamped on at said mill, and happily distributed around the local watering-hole for students and staff alike to get horribly drunk off of.</p>

<p>Harry Potter, the enigma, and Luna Lovegood, the whore, had both been taken ill to the hospital wing almost immediately after her own little accident, and rumour had it that they had been petrified.</p>

<p><em>That</em> was extremely disturbing. Either because it meant that the two had somehow managed to invade her mindscape, or because the basilisk of Hogwarts proper was once again active, and possibly not even under her direction. Had the brief period of her not being a parselmouth reset the ‘first-come-first-serve’ rule? Had Lord Slytherin conquered the chamber while she’d been out of commission? Or even <em>before</em> then?</p>

<p>And not only that, but an even more troubling thought — had it been Harry Potter or Lovegood who had knocked on her soul just before the Basilisk had attacked her old selves while trapped in her own mind? That was another explanation for how they’d gotten petrified. After all, the magic of parseltongue had given her guardian more life-like qualities than any normal mental creature.</p>

<p>She’d been quite certain that Harry Potter was <em>not</em> a Horcrux, but now, once again, she wasn’t so sure. On the other hand, that wouldn’t explain how Luna had gotten petrified — since she obviously wasn’t a horcrux… probably… possibly? Or maybe Ginny Weasley was a horcrux! That could explain her skill — but only if it was Weasley who’d attacked her. But then what about Alexandra Black? She was also very advanced for her age. But, no.</p>

<p>Virgo shook herself.</p>

<p>Knowing what she knew about Voldemort, the horcruxes would <em>never</em> be able to work together. So either it was one of them, or it was none of them.</p>

<p>If Lord Slytherin was the Horcrux, then Luna Lovegood <em>might</em> be able to traverse the soul chasm, as his betrothed, but that didn’t explain Harry. Unless Harry Potter was secretly a witch who’d also been betrothed to Lord Slytherin — stranger things <em>had</em> happened.</p>

<p>Alternatively, none of them was a horcrux and there was some other explanation for their power. Or, even more annoyingly, their power could just be ‘because magic said so’. That was always a possibility.</p>

<p>Whatever the cause she needed to get on top of it. And, as much as her thoughts might panic at the idea, that did mean being close to John Potter. He was her best chance — at survival <em>and</em> at greatness.</p>

<p>“Virgo!”</p>

<p>A very familiar voice caused her to jump and spin around, guilt flashing all over her face.</p>

<p>“S-susan.”</p>

<p>Susan Bones practically tackle-hugged her. “You’re back! Why didn’t you <em>say</em> anything? Where have you been? John has been <em>so</em> worried! Are you okay? Who attacked you? Did you see his face? <em>Her</em> face? It wasn’t the same witch as before, was it?”</p>

<p>Virgo was both used to being hugged, and <em>not</em> used to being hugged, as seen by her hands, which froze, out in front of her, rigid, before finding their place, awkwardly, around the Bones Heiress’ back. “I’m fine, Susan. No, I didn’t see her face — and yes, it was the same person as before, I think.”</p>

<p>Susan leaned back. “Then why are you wandering around alone?! That’s very dangerous. We need to take care of you.”</p>

<p>Virgo grimaced. “I don’t need an escort everywhere now. I <em>do</em> still have the portkey.”</p>

<p>“And a fat lot of good <em>that</em> did you.”</p>

<p>Virgo glared. “It was just a mistake on my part. If I’d been more careful I’d have been able to use it. I won’t be caught out like that again.”</p>

<p>“Either way, you shouldn’t be here. Come with me. I’m taking you to John.” Susan grabbed Virgo’s arm and started to drag her.</p>

<p>“Susan, wait!”</p>

<p>“<em>What</em>?”</p>

<p>“I…” Virgo hesitated. What could she do? Say she didn’t want to see John because a part of her felt like she’d never met him before?</p>

<p>Susan’s gaze softened. “What is it, girl? Are you worried about <em>John</em>?”</p>

<p>“No!” Virgo paused. “Okay, maybe a bit.”</p>

<p>“Why?”</p>

<p>Virgo didn’t say anything. A whole host of excuses whipped through her head, but the number one that fought for attention was revealing her new animagus form to the Bones Heiress. <em>That</em> would surely be a good reason to be nervous about meeting John Potter again, but just as soon as the idea presented itself, she rejected it. Even if she had a good reason for having a snake animagus form—her dead blood mother being a Gaunt (something that she wasn’t ecstatic to reveal as it would brand her a bastard)—she hadn’t yet thought up a good excuse for how exactly she had realised that animagus form as a first year.</p>

<p>Then inspiration struck. Virgo bit her lip. “My Mother,” she started, voice dropping to a quaver. “She…”</p>

<p>Susan’s gaze softened again. “She what?”</p>

<p>“She said she wasn’t happy with me. She said that if I didn’t start acting more like a Malfoy, she’d make things very difficult for John.”</p>

<p>“Oh, Virgo.” Susan hugged her again. “You don’t need to worry about <em>that</em>. The Malfoys and Potters are <em>always</em> at each others’ throats. Surely you must know that. She can’t do anything to make John’s life more difficult without getting a bloody nose in turn. She wasn’t threatening <em>you</em>, was she?”</p>

<p>Virgo shook her head.</p>

<p>“Then that’s okay, then. C’mon, let’s go find John. He’ll be dying to know you’re okay.”</p>

<p>As they made their way towards the arena, and even if she was still anxious, Virgo couldn’t quite suppress a small smirk behind Susan’s back.</p>

<p><em>I am entirely too good at this.</em></p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Protego.”</p>

<p>In the middle of the Hogwarts duelling arena, John Potter was feeling extremely anxious.</p>

<p>“Stupefy.”</p>

<p>For the longest time, he’d been desperately trying to get the events of the timeline back on track, and had been miserably unsuccessful at every turn.</p>

<p>“Ventus divinum.”</p>

<p>The events of the other night, though, had rattled him.</p>

<p>“Locomotor wibbly.”</p>

<p>The basilisk was active again. But it wasn’t attacking muggleborns, as it should be, rather it had been his evil twin brother and the Lovegood Heiress who’d been the victims.</p>

<p>“Protego — stupefy — incarcerous.”</p>

<p>Not only that, but Virgo had been attacked too! Despite his promise to protect her. <em>And</em> he’d been helpless to stop them taking her away. Merlin only knew what she’d been through. She was avoiding him now. Did she hate him too, just like Ginny did? Did she think he was useless? Unheroic? Weak? A FRAUD?!</p>

<p>John’s hand, gripping his wand so tightly his knuckles were white, shook. “FULGUR STUPEFY!”</p>

<p>There was a loud crack of electricity, and in the middle of the duelling arena, a fourth year Hufflepuff hit the ground, hard.</p>

<p>“John!” Cedric Diggory stormed over. “Magical Merlin, are you trying to <em>kill</em> him?! Are you even paying attention?!”</p>

<p>John let out a deep breath. Another Hufflepuff was already by his downed opponent, casting basic healing spells over him. “Sorry,” he muttered. “I guess I should take a break.”</p>

<p>“You’re damn right you should take a break. And don’t get back in here until you can keep whatever drama you have in the castle out of the arena!”</p>

<p>“Cedric!” said a familiar voice behind him. “Don’t you think that’s a bit harsh?”</p>

<p>John turned to find Susan, leading an anxious-looking Virgo. It was an odd expression to see on her face, like an abashed dragon. To his great surprise, his heart skipped a beat.</p>

<p>Cedric grumbled something about the princess being found and left to coach some of the third years.</p>

<p>“Virgo,” John breathed. “You’re okay? Right?”</p>

<p>“Yes, I am.” She replied. “I’m sorry for not finding you sooner. I was being foolish.”</p>

<p>“Her mother threatened to hurt you, if she didn’t stop associating with us,” Susan supplied.</p>

<p>Anger flared in John’s gut. “Don’t listen to her, Virgo. I swear, I have nothing to fear from the likes of her. But still…” He looked at his wand in disgust.</p>

<p>“John,” Susan said. “What is it?”</p>

<p>“I can’t let things continue like this,” he said. “It’s too dangerous. We’ve been lucky up to now, but if things continue as they are…” he trailed off.</p>

<p>“John, what are you talking about?”</p>

<p>“I’m not strong enough.” His hands were shaking again. “I’m <em>still</em> not strong enough.”</p>

<p>Susan’s eyes popped. “What are you <em>talking</em> about? You’re one of the most powerful wizards I know! More powerful than even Dumbledore when he was your age. Only Harry compares, and you’re twins.”</p>

<p>“It’s not good enough. There are larger threats out there. Threats I thought I could control — direct — but I can’t.”</p>

<p>“<em>What</em> threats?” Virgo asked, eyes narrowed.</p>

<p>“Are you talking about Lord Slytherin?” Susan hazarded.</p>

<p>“No,” John said, firmly. “Well, Maybe a little. But no, not entirely.”</p>

<p>“Then, who?” Virgo asked.</p>

<p>John said nothing.</p>

<p>“Do your Mum and Dad know about these threats?” Susan asked. “Maybe we should tell them and let them—”</p>

<p>“—No!” John almost shouted, causing several Hufflepuffs waiting on the sidelines to turn and stare. “No,” he said, quieter. “No, I can’t tell them.”</p>

<p>“But you can tell us, can’t you?”</p>

<p>John said nothing again. For the longest time, he just stared at the duelling Hufflepuffs. Eventually he broke his silence. “I need to become stronger. More Powerful. Better at everything I do. I need to win. I <em>can’t</em> lose.”</p>

<p>“John,” Susan said, soothingly. “It doesn’t have to be all up to you, you know. Your Mum and Dad—”</p>

<p>“No.”</p>

<p>John was momentarily surprised that voice saying no <em>wasn’t</em> his own.</p>

<p>Virgo looked between the two of them, eyes cold and hard. “John is right, Susan. While others’ strength is useful, you must always be able to rely on your own power. If John believes he needs to be more powerful, to protect us from some secret danger, then that is something we should encourage. Weakness is never a virtue.”</p>

<p>Susan looked extremely uncertain. “But why can’t he tell us what the danger is?”</p>

<p>Virgo shrugged. “Magic is often shrouded in mystery. Sometimes not saying anything is best until you are fully certain of your path.” She turned to John. “Are you fully certain of your path?”</p>

<p>John shook his head. He couldn’t help but stare at the young witch sat in front of him.</p>

<p>“Then don’t tell us. Wait until you are ready. You can do that, can’t you?”</p>

<p>John found himself unconsciously nodding.</p>

<p>“But, Virgo, what if this secret danger is something to do with your attacker?” Susan protested.</p>

<p>Virgo shifted in her seat. “That’s not impossible, but, well — if I tell you something, will you promise not to get mad?”</p>

<p>John and Susan both nodded.</p>

<p>“I’ve been watching how she moves, and the way she attacks and everything, especially when she duelled Snape, and I think that the one who attacked me might be Ginny Weasley.”</p>

<p>“WHAT!?” John jumped up. “No! That’s impossible! Wait. What do you <em>mean</em>, when Ginny duelled Snape!?”</p>

<p>“Today, during defence class. Snape picked on her to duel, and she held her own against him. She’s a very skilled and powerful witch.”</p>

<p>John fell back on the wooden bench they’d made camp on and stared out across the duelling arena. Ginny trying to kill Virgo? That wasn’t possible. Why would Ginny try to kill Virgo? But, he already <em>knew</em> why. Harry was still convinced Virgo was the diary, wasn’t he? And he’d told Ginny about being from the future. So, could Ginny be trying to kill Virgo because of <em>that</em>? John shook his head. No, it <em>wasn’t</em> possible. If he knew anything about Ginny, it was that she wasn’t a killer. She didn’t have it in her. It just wasn’t part of her nature. But that didn’t actually rule out Harry in other ways.</p>

<p>He waved a dismissive hand. “It’s not Ginny. I know that. But thanks for your support, Virgo. I really appreciate it.” He grinned. “The Malfoys don’t happen to know any rituals that make you stronger, do they?” he added as a joke.</p>

<p>“John!” Susan gasped.</p>

<p>Opposite him, Virgo also stared at the duelling Hufflepuffs, deep in her own thoughts, so she barely processed John’s words when she replied, “Maybe a few.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>A few days past. The rumours surrounding Virgo, Harry, and Luna continued to swirl, but those about Virgo specifically died down as she returned to the day-to-day business of magical education. Harry and Luna’s state though, was cause for much more speculation. Petrification wasn’t a common ailment, and all the things that could cause it tended to be very scary.</p>

<p>All the books that might have anything to do with the subject had been checked out of the library, and a couple of the more unscrupulous students started selling fake anti-petrification charms at the school black(ish)-market.</p>

<p>Even quidditch wasn’t immune. With the Gryffindor—Slytherin match fast approaching, both Oliver Wood and Marcus Flint had been seen haggling over the gourde-looking necklaces with the air of holy pilgrims fighting over the last finger bone in the brightly coloured box.</p>

<p>That was when Fred and George Weasley decided to step in and shut that particular stall down.</p>

<p>There were far better ways of dealing with petrification.</p>

<p>Far away from anti-petrification amateur hour, in the capital city of the Italian peninsula, two wizards in emerald green robes sat around a round table, along-side two-dozen other wizards and witches, listening to a speaker summarise the global mandrake situation.</p>

<p>“And so, we hypothesise that the spread of mandrake-pox—a magical parasite, not unlike Brazilian Strangle Vine, may be an unintended consequence of the recent spike in growth of certain large-scale national ward magics.”</p>

<p>All two dozen figures around the table looked, as one magical, towards the two wizards in emerald green.</p>

<p>“I don’t know what you’re looking at <em>us</em> for,” said Lord Greengrass, blankly. “We do not control the Albion.”</p>

<p>“Quite,” added an amused Lord Lovegood. “And besides, this is only a hypothesis, am I correct? There could be any number of possible causes. I’d say solving the problem is more important than pointing fingers.”</p>

<p>An hour later, both lords left the meeting room in the bowels of the ICW and started the quick march back towards their hotel rooms.</p>

<p>“Can you <em>believe</em> it?” Jacob asked. “Any old excuse, eh?”</p>

<p>“People will hold a grudge until the end of time, my friend. Many still resent the role of Merlin’s greatest work throughout history.”</p>

<p>“Our contact didn’t look very happy to see us there, did he? Hopefully we will hear from him soon.”</p>

<p>They didn’t have to wait long. When they arrived back at their hotel rooms, Jacob found a hastily scrawled note pushed under the crack of his door. “Just an address and a name,” he said.</p>

<p>“Who?”</p>

<p>“Mister Grasso.”</p>

<p>“Where?” Xeno asked.</p>

<p>“Somewhere in Tuscany.”</p>

<p>“Full dragon-hide?”</p>

<p>Lord Jacob Greengrass smirked. “Oh, yes, my friend. I very much think so.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>On a Tuscan hillside, up a small, windy lane, stood a nondescript looking villa, which will now, nevertheless, be described. It was the kind of building to which the word ‘rustic’ could not be properly applied for fear of offending barnyards so tumbledown that horses could eat their fill from <em>outside</em> the building. Any foreign expat using the word ‘quaint’ upon seeing it, would soon be cursing the lack of phone line to call an insulation company, and any insulation company, upon seeing it, would suggest that this wasn’t so much a job for filling in with foam, but rather for building with it.</p>

<p>It was almost impossible that something so decrepit could still be standing by itself without the aid of magic, which of course, was the case.</p>

<p>“Is it just me,” Jacob said, looking at the building they’d just spied around the last corner, “or do all those holes look unnatural?”</p>

<p>“They look pretty natural to me,” Xeno quipped. “Moss growing around the stones — vines growing up the walls.”</p>

<p>“Yes, so why do none of the stones scattered <em>around</em> the holes have moss growing on them?”</p>

<p>They stared at the pile of stones littering the ground in a suspiciously explosion-shaped pattern before a wave of magic washed over them.</p>

<p>“Anti-apparition ward,” Xeno supplied in a cheerful voice, rather unnecessarily so, in Jacob’s opinion.</p>

<p>They both slipped their wands from their holsters.</p>

<p>Around another corner up the road, came four wizards in rather more flamboyish robes than the ones they wore. Not better quality, it should be noted, just louder. None of them were smiling.</p>

<p>“You two,” their apparent leader called. “You are not welcome here, English Wizengamot. Turn around and leave and there will be no violence.”</p>

<p>“Can’t do that, old boy” Xeno called back. “We have a meeting with mister Grasso.”</p>

<p>“Mister Grasso won’t be seeing nobody today.”</p>

<p>“Why’s that?”</p>

<p>“He’s sick.”</p>

<p>Jacob and Xeno exchanged glances.</p>

<p>“So,” Jacob started, “it doesn’t have anything to do with the fact that his house looks like one-hundred-year-old Swiss cheese?”</p>

<p>“You’re not the only one who needs mandrake, Wizengamot. Get ‘em!”</p>

<p>All four wizards dashed forward, levelled their wands, and cast whatever hexes or curses they saw fit.</p>

<p>Meanwhile, Xeno slashed his wand in a wide arc, casting a powerful shield over both him and Jacob, while Lord Greengrass muttered under his breath, preparing an incantation of his own.</p>

<p>“Whenever you’re ready, old boy!” Xeno shouted over the hail of spellfire impacting on his shield.</p>

<p>Jacob pointed his wand. “Murus ignis!”</p>

<p>A wave of enchanted fire swept up the winding road, leaping high in the air and surrounding their attackers on all sides. Moments later, transfigured beasts formed from nearby rocks and leapt into the flames, adding snarls and roars to the cacophony of screams emanating from the tightly controlled firestorm.</p>

<p>“Not very good, are they?” Xeno commented. “I don’t know why I even bothered getting dressed.”</p>

<p>“Fire and forget spells have always been the purview of the lazy. Maybe this will teach them not to underestimate the right hand of Lord Slytherin.” He couldn’t keep the ironic drawl out of his voice as he said that last bit.</p>

<p>“I thought your daughter was his right hand.”</p>

<p>“At <em>school</em>, maybe. I don’t think the Wizengamot would appreciate a thirteen-year-old witch lecturing them.”</p>

<p>“You could always be his right <em>foot</em>.”</p>

<p>“Wouldn’t that make <em>you</em> his <em>left</em> foot? Wouldn’t Luna be his left hand?”</p>

<p>“You know, I always thought that feet got a raw deal. They do most of the honest hard work and then hands take all the glory, just because they were born with opposable thumbs.”</p>

<p>The screams coming from the fire-storm started to shift from expressions of terror and medium pain, to full-on skin-melting torture.</p>

<p>Jacob grimaced. “I guess I should do something about that.”</p>

<p>Thirty minutes later, the four wizarding thugs had provided all the information they knew about their unknown employer’s plans for Mister Grasso. It wasn’t much information, but it was enough to make inquiries. Fresh mandrake was currently in <em>very</em> short supply, and those who knew how to get it were in extremely high demand — high enough demand, apparently, to warrant full-on kidnap and extortion.</p>

<p>“I’d feel much happier about this if we had another foot to help,” Jacob said when they got back to their hotel room. “Things could get messy from here on.”</p>

<p>“Smith?” Xeno asked. “He’s pretty handy in a fight — I mean <em>footy</em>. Or Tempest? Of course, having Black would be favourite.”</p>

<p>“Sirius Black <em>would</em> make a useful third foot, but that’s up to Harry. He’s the man with the plan there.”</p>

<p>There was a pause.</p>

<p>Then, “If Alexandra is the bridge between Slytherin and Lord Black, wouldn’t that make her Slytherin’s third leg?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was the weekend. And it was early morning.</p>

<p>In the Slytherin common room, Draco Malfoy watched Alexandra Black. She was casually slouched in his old chair, taking no heed to the convention that a witch of noble birth should present herself with the dignity and decorum proper to her station, watching an older Slytherin boy, who was standing in front of the two courts—Dark and Gray—complaining about the behaviour of some random Gryffindor girl. At least, Draco <em>was</em> watching the Black heiress, until the name ‘Malfoy’ was dropped. That focused his attention faster than the word ‘suitor’ would for a roomful of seventh-year witches.</p>

<p>“She’s been acting a lot more aggressively since coming back,” the boy said. “She appears to have developed quite a temper.”</p>

<p>“And when did this start?” asked Daphne Greengrass, presiding at the head of the Gray court, to the right of the still-empty Slytherin throne.</p>

<p>“Maybe on Wednesday? Isabel and I were discussing family matters with Rupert Holland from Ravenclaw outside the library when Malfoy turns up and just hexes the both of us out of nowhere.”</p>

<p>“No provocation?”</p>

<p>“None!” The boy paused for a second. “Well, we did have Rupert down on the floor, oozing quite badly, but it was a family matter. We told Malfoy so.”</p>

<p>Alexandra Black snorted. “Just like a Gryffindor to go around sticking their nose in other people’s business.”</p>

<p>Despite himself, Draco winced.</p>

<p>Greengrass smiled wryly. “It sounds to <em>me</em>, like a failing in education. But what can you expect from a house that mistakes a powerful witch for a squib? An uncouth and dangerous girl who plays hero by beating people up.”</p>

<p>“Hardly a hero!” the older boy butted in. “After she was done with us, she turned on Rupert! ‘Why are you weak!?’ she yelled at him. ‘I <em>hate</em> weak people.’ When she was finished, Rupert was worse off than I or Isabell.”</p>

<p>Interestingly, Greengrass didn’t look surprised. Instead she looked thoughtful. “And now our Miss Malfoy is aggressively prank-hexing every Slytherin she sees if she thinks she can get away with it,” she mused. “Hmm…”</p>

<p>Draco rhythmically rubbed his temples with the tips of his fingers. He dearly wished he could tell Black that Virgo was a spy. If you knew <em>that</em>, what was going on was so obvious. Virgo was establishing a position of respect and power within the Light. By publicly making an enemy of the Dark (and many of the Gray too), she signalled her willingness to fight the side she secretly served, as well as her separation from her family, rallying those who might be on the fence to her side.</p>

<p>Although the aggressive nature of the move was somewhat puzzling, Draco thought. Ever since he’d had first met his little sister, Virgo had given off an air of quiet menace — of coiled power ready to strike, held back only by her unwillingness to acknowledge, in those she dealt with, even the possible hint of a threat. Lashing out like the older boy was describing did indeed feel less Slytherin and more Gryffindor.</p>

<p>Alexandra had the right of that, at least.</p>

<p>Draco looked to where the Black and Greengrass heiresses were now arguing about what was to be done. Somehow, he had to guide this situation to Virgo’s best interests without appearing to do so. His future as Alexandra’s right hand depended on it. Now that he wasn’t obviously on top, there were plenty of others who’d love to take that position away from him. He then glanced to where the Carrow twins sat attentively on either side of Black — not on the couches, like normal people, but happily draped out on the floor, as though they were concubines in a sultan’s harem. Draco grimaced. If he could keep his status without swearing himself to Alexandra’s service for the rest of his school days, that would be a rather nice bonus.</p>

<p>He was jerked out of his musings by the name ‘Malfoy’ once again surfacing in the debate.</p>

<p>“I’m telling you, Greengrass, there’s no good reason not to let Malfoy take care of his little sister. This is obviously a family matter and that’s how we do things here.” Alexandra smirked. “Or is the Gray too Light to remember the importance of family?”</p>

<p>“Bold words coming from the <em>daughter</em> of a Light family,” Greengrass counted in an amused voice. “Especially one who is only heiress because there is no legitimate claimant.”</p>

<p>Black narrowed her eyes. “How I am heiress is no matter. What matters is that I am. Far more so than you, Greengrass, who is only heiress until your little sister resets her noble house ring. Why hasn’t she yet, by the way? Are Mummy and Daddy afraid she’s not up to the task?”</p>

<p>“Astoria will take up her responsibilities in all due course, but maybe you should keep your nose out of other people’s family matters.” Greengrass smirked. “That is, after all, how we do things here. Or are you too Light to remember the importance of family?”</p>

<p>Alexandra snarled before she froze and her face flashed triumphant. “Oh! So you <em>do</em> agree with me. Excellent! Malfoy”—she turned towards him.—“I need you to—”</p>

<p>“—Hold on!” Greengrass interrupted. “That is not what I meant.”</p>

<p>“Well, what would <em>you</em> do about our Virgo problem?”</p>

<p>“I would let the person best capable of dealing with it sort it out when he’s feeling better — Mister Potter.”</p>

<p>Alexandra rolled her eyes. “Of <em>course</em> the princess would want to hide like a little girl behind her betrothed’s personal attack gopher. For a moment, I thought you might show some balls and handle it yourself.”</p>

<p>“Mister Potter is the best wizard for the job. And don’t use that word. It is unbecoming of a lady.”</p>

<p>Alex sniffed. “I will use whatever words I like. And Potter’s not here. Heir Malfoy is. And I’m not going to listen to a stuck-up princess who fights like a girl.”</p>

<p>Black had made her opinion on Greengrass’s performance against Volf the previous year quite plain.</p>

<p>Greengrass glared. “And <em>I</em> will not deal with some uncouth bastard who <em>forgets</em> she’s a girl.”</p>

<p>BAM!</p>

<p>It all happened so quickly that Draco barely had time to react. Wands were drawn, spells cast, and students screamed and jumped away on both sides. Black had been the first off the mark, with Greengrass and Granger not far behind. Flint, Bole, Pucey, and Harper were next, followed by just about every other wizard and witch with the presence of mind to jump into the fray.</p>

<p>Being the first to pull her wand had made Black the first target, but, incredibly, most of the spells fired at her just didn’t seem to find a mark.</p>

<p>The short-burst exchange between Greengrass and Black, by contrast, was so smooth — so quick — and so on point — that if Draco didn’t know better, he’d have thought it choreographed.</p>

<p>By the time he’d gotten his own wand out and pointed at Granger (the most politically safe target, as far as he was concerned), Black had already hoisted Greengrass into the air by her wrists with her chains, leaving the leader of the Gray to dangle, writhing, helpless and wandless.</p>

<p>There was a sudden stillness as no spells were being cast and everyone had a wand pointed at everyone else and no one wanted to be the first to break that stillness.</p>

<p>“Okay! That’s enough, I think!” Black announced, her wand still trained on Greengrass. “I have two Ladies, a vassal, and two wands. Care to raise and go another round?”</p>

<p>Off to the side, Tracey Davis, who was also being held at wand point, muttered something about that not being how poker worked.</p>

<p>Greengrass glared daggers at Black. “When my lord finds out about this…”</p>

<p>Black scoffed. “Yes? What will Slytherin do? Swoop in to punish me for hexing his girlfriend? Can the princess not take care of herself? He duelled Volf because Volf was going to seriously injure you. I’m just going to have a little pranking fun.” She giggled, and for a brief moment, Draco couldn’t help but be reminded of the memories his father had shown him of his aunt Bellatrix. Alex brandished her wand again. “I got <em>this</em> one from Draco.”</p>

<p>Certain he must have misheard that last bit, Draco’s mind flashed to the only prank spell he’d recently shared with Alexandra — the one that turned a witch’s hair the same colour as their knickers. He gazed with a kind of horrified fascination as his cousin gleefully shouted the incantation and shot the spell towards the girl who most in their community had genuinely come to see as a kind of untouchable princess, right in front of a room full of people.</p>

<p>The spell hit, and Greengrass’s long, smooth, blond hair instantly turned pastel pink. A large white bow sprouted on the top.</p>

<p>“Huh,” Alex said. “Wasn’t expecting that. I’d have thought green and silver or something.”</p>

<p>For a moment, Draco thought Greengrass was actually going to cry, before he realised that the shaking and trembling he was seeing was not of shame and embarrassment, but of pure undistilled rage.</p>

<p>“WHAT IS GOING ON HERE?” Roared a voice.</p>

<p>Everyone turned to the portrait door to find Severus Snape, standing there, staring at all the many wands pointed at everyone, looking furious.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The weak winter morning gave way to an equally weak afternoon. Many chose to stay inside, but for the insane few, the cold was the perfect opportunity to train, all day, without anyone interrupting them.</p>

<p>On the Hogwarts quidditch pitch, a thin red and gold blur, starting high in the sky, tipped forward, and started a breakneck dive towards the perfectly manicured grass below. Spinning over and over as it went, as though circling an imaginary mirror image, it bottomed out a good several meters above the ground and soared back up into the sky.</p>

<p>It was deep, but not deep enough, and it was fast, but not fast enough.</p>

<p>“John!” bellowed a voice.</p>

<p>John Potter groaned.</p>

<p>“What are you playing at!?” Oliver wood shouted as he brought his broomstick level with his. “I don’t need my star seeker injuring himself barely a week before the big match!”</p>

<p>“You don’t understand,” John said. “I have to practice. I have to be better — better at everything.”</p>

<p>“You can be better at everything after you’ve helped us win the match! Was that a Wronski feint you were trying!?”</p>

<p>“So what if it was?”</p>

<p>“What in Merlin’s name do you think you’ll need that move for? Do you hate the Slytherin seeker that much?”</p>

<p>John glared at Wood. “This has nothing to do with Ginny. It’s just about being the best. And you don’t have to worry so. Ginny is good, but she’s not <em>that</em> good. Trust me, I know.”</p>

<p>“Do you now?” asked Fred, identifiable by the massive F on his sweater.</p>

<p>“I wasn’t even aware that our dear little sister knew how to fly at all,” George added, as they both dropped into the mid-air huddle. “Was right surprised when she turned up on their team. But that’s our Slytherin sister. Cunning little thing.”</p>

<p>“Probably out practising at the dead of night while everyone was asleep.”</p>

<p>“What can you tell us about her style?” Katie asked. It seemed everyone had decided to take a last break for the training session.</p>

<p>“Yeah,” Alicia added, while Angelina nodded emphatically on her broom. “Spill the beans.”</p>

<p>John quickly gathered his thoughts and memories from before he came back. “Ginny is an extremely team-focused seeker,” he said. “She’ll play cautiously whenever the enemy team is ahead, and look for the snitch only when there’s a chance to win. She prefers playing support while chasing and will always throw the quaffle with plenty of time left on the shocker. I’ve never known her to work with beaters to knobble enemy chasers, so we shouldn’t have to worry there, but she does like to misdirect her throws, which she is very good at.”</p>

<p>Wood grunted. “So, a defensive trickster. Easy enough to deal with. Just keep up the aggression and don’t fall into obvious traps. Now, get back to practice — and John, I don’t want to see any more insane moves, got it?”</p>

<p>Half an hour later, John emerged from the quidditch boys shower rooms to find Virgo. He found her reading intensely, hidden under the bleachers of one of the tall spectator towers. For some reason, she was wearing a large white bow in her hair.</p>

<p>“Ready to go?” He asked cheerfully.</p>

<p>Virgo practically jumped out of her skin. “Don’t do that!” She glared. “Yes, I’m ready.”</p>

<p>“Found anything yet?”</p>

<p>Virgo closed the library book she’d been reading. “There are hundreds of known rituals, but most of them are <em>not</em> worth it. Selecting a few choice ones will take time and patience, and getting hold of the requirements will be even more taxing.”</p>

<p>He flashed her a charming smile. “Any that will help me in quidditch?” He was almost sure that her cheeks reddened slightly.</p>

<p>“There’s one that increases your general balance, but it’s incredibly dangerous.”</p>

<p>“How dangerous?”</p>

<p>“One in five people who try it, die.”</p>

<p>“That sounds dangerous.”</p>

<p>They made their way up the grounds to the castle, up the many staircases towards Gryffindor Tower. His thoughts drifted back to Ginny, and to Virgo’s outrageous suggestion that she might be the one trying to murder her. But that wasn’t possible. Ginny didn’t have the diary. But with the basilisk possibly active, it was clear that <em>someone</em> must have it. The question was who?</p>

<p>“Virgo!”</p>

<p>Oh, John thought. Here comes likely suspect number one.</p>

<p>Draco Malfoy was coming up the corridor behind them, doing his best not to show just how much he’d been huffing to keep up with them.</p>

<p>“Brother?” Virgo said. John couldn’t help notice a slight lilt in her voice, as though she wasn’t quite sure how she should react to him.</p>

<p>“Potter,” Malfoy acknowledged him, finally catching them up. For some reason, the Malfoy heir then spent several seconds staring at the white bow in Virgo’s hair before turning back to him. “I need to have a private word with my sister here.”</p>

<p>John immediately crossed his arms. “Anything you need to say can be said in front of me.”</p>

<p>Malfoy cursed “Do you know how infuriating you can be?”</p>

<p>John smirked. “I pride myself on it. Now, what do you want?”</p>

<p>“Has it not occurred to you that this could be a family matter?”</p>

<p>“Is it?”</p>

<p>“Not as such…”</p>

<p>“Then get on with it.”</p>

<p>Malfoy cursed again.</p>

<p>Virgo was just looking between him and her brother with an unreadable expression on her face.</p>

<p>After cursing him out one last time, Malfoy turned to Virgo and in a voice that dripped formality said, “I have been sent on behalf of Hogwarts Slytherin House to request that you stop hexing us in the corridors. Your power has been acknowledged and the house as a whole recognises that you are not a squib. Will that satisfy you, sister?”</p>

<p>Virgo looked him up and down before smiling. “For now, dear brother.”</p>

<p>Malfoy looked like he’d swallowed a lemon, but did nod before turning to go.</p>

<p>John finished escorting Virgo back into the tower. “Hexing Slytherins?” he asked with a shit-eating grin.</p>

<p>Virgo flashed him a coy smile. “They were asking for it.”</p>

<p>“By the way, I think that bow looks very pretty on you.”</p>

<p>“Thank you.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>As Draco Malfoy headed back to the Slytherin Dungeons, another prominent member of the student Dark, in fact, one might say the <em>predominant </em>member, was nervously making her way into the Slytherin second-year girl’s dormitory, careful not to be seen by anyone. Sitting by one of the large four-poster beds—the one covered in books so deep it was like a fortress—was a trunk. The first-year girl tiptoed over to the trunk, knocked a pattern on the lid, opened the lid, and climbed inside. At the far end of the expanded trunk, a lone female figure at a desk, with long blond hair, was stabbing away at a parchment. In front of the figure was a propped-open book titled <em>Transfiguration Theory: The Lies and Lies.</em></p>

<p>“Um… Daphne?” said the newly arrived girl.</p>

<p>“Yes, Alexandra?” she said. The figure did not look around, but Alex could see the tension in her shoulders.</p>

<p>“You’re not… you’re not mad, right?”</p>

<p>“Mad?” Daphne put down her quill. To Alexandra’s ears, the sound it produced as it was rested on the desk was as loud as a trunk being dropped. “You mean mad for being exposed in front of all those boys without warning?” Daphne asked. “Mad about being sniggered at behind my back all day? Mad about every Dark witch in Slytherin, and even some from the other houses too, wearing white bows in their hair and blowing pastel pink bubbles from their wands whenever I walk past? Mad about all that?” She turned in her chair to face her visitor. “No. I’m not mad at all. Why would I be mad?”</p>

<p>Alex winced. “I know we said a simple pranking spell would do, but what you said about me forgetting I’m a girl, well, it kinda hurt. You know I wish we had more choice in our lives. I’m doing my best and I may have gotten a bit too into it. I’m sorry.”</p>

<p>Daphne sighed and turned around again, patting the seat next to her.</p>

<p>Alex sat down.</p>

<p>Daphne picked up her parchment and scanned it, as if looking for possible mistakes. “If I’d have had more warning,” she said. “I’d have worn plain white.”</p>

<p>“Sorry.”</p>

<p>“On the positive side, I doubt anyone will doubt our mutual antagonism now. The idea that you might secretly be a Gray spy would seem ludicrous.” Daphne picked up her quill again. “I’m sorry about pushing those buttons, Alex. I know they’re sore spots for you.”</p>

<p>Daphne scratched away a bit more.</p>

<p>“I’m a bit jealous of you, you know,” Alex said eventually.</p>

<p>“Jealous?”</p>

<p>“You’re just so accepting of everything — so calm and cool all the time. I wish I could be like that. You were betrothed before we even got to school, but you don’t let that phase you at all.”</p>

<p>Daphne cracked a small smile. “That’s only because of who I was betrothed to. And that was just luck… and kindness. It could so easily have been very different.” Daphne fell silent.</p>

<p>“He’ll be back soon,” Alex said softly.</p>

<p>“I know.”</p>

<p style="text-align: center;">— End of Chapter Fifty —</p>
