Chapter 51 - Soul Anchors - Part 4

<p>“Welcome, witches and wizards! To the second quidditch match of the year! I’m your commentator — Lee Jordan — and this is Gryffindor vs Slytherin!”</p>

<p>A wave of cheers swept across the stands. Hundreds of students waved banners, flew flags, or showed off their charm skills with animated lions and snakes. Even the Hufflepuffs and Ravenclaws pledged their allegiance to one or other of the teams, at least for the event.</p>

<p>“History in the making, Hogwarts! Last year, Gryffindor fielded the youngest seeker in a century, our very own ‘boy-who-lived’ and duelling phenom, John Potter — and this year, Slytherin will match them with their own first-year seeker! A fierce duellist in her own right and the first witch on the Slytherin quidditch team in twelve years — Ginny Weasley!”</p>

<p>The air carried a nip that fought against even the older years’ warming charms. The previous night hadn’t seen a cloud in the sky, leaving the grass crisp with frost and the breath of students foggy. The crowd was a roiling sea of thick, long robes and cloaks, with the occasional muggle winter jacket thrown in.</p>

<p>“And here come the Slytherin team!”</p>

<p>Another round of cheers sounded out.</p>

<p>In the Gryffindor vomitorium, John Potter held his Nimbus 2001 clenched in a fist.</p>

<p>They would start cheering him soon. They always did. They always did, and, until this year, he’d always loved it. He knew those cheers were supposed to be supportive, but given everything that had happened, the weight of their expectations now felt more of a rock than a balm. Twice, he’d publicly stepped up to the plate since coming back in time, and twice he’d failed — first at the last quidditch match, when he’d accidentally won the match for Slytherin by catching the snitch in his mouth — and then second at the duelling tournament when Harry had been ready to beat him, if Dumbledore hadn’t sprung his trap to send Harry to Azkaban in time to save him — a trap, which hadn’t even worked, despite putting <em>him</em> in hospital.</p>

<p>A tendril of guilt about that whole affair wormed its way into his head before he firmly crushed it. He couldn’t afford to be weak. There was too much riding on it. Virgo was right. He needed to be strong. He needed to be powerful. He needed to stop losing.</p>

<p>“And now, here comes the Gryffindor team! Wood, Spinnet, Johnson, Bell, Weasley, Weasley, and Potter!”</p>

<p>The cheers rang in his ears as he walked onto the pitch. John Potter — the boy-who-lived — the fake — the fraud — the chosen of Fate and Death — and now, the one who was always losing.</p>

<p>“Ready to lose, Potter?”</p>

<p>It took every ounce of self-control not to wince at the words. Ginny Weasley, wearing green robes and a smirk, stood opposite him with arms folded while Flint and Wood looked like they were trying to break each other’s fingers.</p>

<p>“Lose, little sister?” Fred Weasley asked from beside him with a raised eyebrow.</p>

<p>“Isn’t it you who should be ready to lose?” George added.</p>

<p>“Don’t think we’ll go easy on you—”</p>

<p>“—Just because you’re our dear little sister.”</p>

<p>John took a deep breath. He narrowed his eyes. “I will not lose. I cannot lose.”</p>

<p>Ginny actually looked momentarily surprised by the force in his words before her smirk became a grin. “Good, Potter,” she said. “Then I won’t need to hold back.” And for just a second, John thought he saw a flash of his own Ginny buried deep in the Slytherin facade that stood before him now. That flash died a second later though, replaced again by the cold smirk, and his thoughts passed over the rumours he’d heard in the last week — that Ginny had duelled Snape in Defence class, and that she hadn’t been found wanting, at least in a very limited duel. At first, he’d dismissed the claims out of hand — Ginny was never that good — but after Virgo had started pouring over all those possible rituals with him — rituals with terrible costs, but which might improve someone’s fighting prowess by a little, or a lot — doubt had stirred.</p>

<p>It <em>could</em> explain Ginny’s abilities, and, more importantly, it could explain Harry’s.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“There’s the signal!” the commentator shouted.</p>

<p>Game time. Ginny pushed off hard. The biting cold air whipped her hair, chilling her ears and fingers. Adrenaline, already coursing through her veins, kicked up a notch.</p>

<p>“The snitch is released!”</p>

<p>The briefest flash of gold zipped in front of her face before it did a round pass of Potter and vanished off across the grounds.</p>

<p>“The seekers line up for the quaffle!”</p>

<p>Madam hooch held up the round ball and glared at them both. “I want a nice clean game. No knobbling.”</p>

<p>Potter nodded, while Ginny merely grinned.</p>

<p>Hooch then threw the ball high in the air, she and Potter raced towards it, and moments later, John’s stomach connected with her shoulder. Potter let out an ‘Umph!’ as the air was forcibly expelled. Not looking back, she snatched the quaffle and was off in a flash.</p>

<p>“And the bludgers are released!”</p>

<p>She then had to immediately dodge one of the charmed cannonballs zooming right past her, before Tamaron smashed it towards Wood. She laughed. Compared to what she was used to while training, that had been almost cute. Everything moved so slow. It was as though the rest of the world was made of treacle, and she was a red-hot knife, slicing through it like a flame-whip through ice.</p>

<p>Together, she, Draco, Flint, and Bole powered through a hastily constructed defensive formation, leaving her free to score the first ten points of the game.</p>

<p>“Weasley scores!”</p>

<p>The crowd went wild.</p>

<p>Her brothers gaped at her. Not surprising, really. If it <em>felt</em> easy, how must it <em>look</em>?</p>

<p>Draco high-fived her. “Not bad, blood-traitor!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Slytherin Scores, again! 20—0!”</p>

<p>John shook himself in disbelief. Ginny moved like a lightning bolt. It was as if she simply went from point A to point B without passing through the air in between. That was silly, of course. She wasn’t actually doing that — but it sure <em>felt</em> like it.</p>

<p>“Potter goes for the intercept! Misses!”</p>

<p>His only reward was a smirk before she rolled under her broom and zoomed off again, dangling underneath her broom like an unsloth-like sloth, passing the quaffle to Malfoy just a gnat’s breath before the shock charm would have kicked in, allowing the pureblood heir to easily punt it through the middle hoop.</p>

<p>“30—0!”</p>

<p>The groans from the Gryffindor side sounded like hot lead poured into John’s stomach.</p>

<p>He gritted his teeth. This Ginny was far too aggressive and far too good! It was like she wasn’t even the same person as before. Ginny had always been an acceptable quidditch player, but this was like playing against a young Victor Krum!</p>

<p>“John!” Wood bellowed. His captain pulled up beside him. “I thought you said she was a defensive player!”</p>

<p>“She’s changed!” John shouted back. They had to shout to hear each other over the crowd. “This isn’t anything like I expected!”</p>

<p>“Then we’ll have to make changes to our strategy! Katie! Angelina! Switch to Reginald’s Defence. Fred and George, switch priority from assist to disruption! We’ll play a cautious point exchange and then hope to win the seeker duel!”</p>

<p>John’s teammates all nodded and rushed up to their new positions, leaving him and Wood alone together. Wood looked him square the eye. “No pressure, John, but when the time comes, you absolutely <em>must</em> win this for us. They’re too good for us to win an extended quaffle fight, so get that snitch or die trying.”</p>

<p>John nodded.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Gryffindor scores! But Slytherin still leads 90—20! Are we seeing the birth of a legend here today?!”</p>

<p>Under the thick wood of the quidditch stands crouched a slight figure in expensive robes — crouched such that no one would see it unless they knew exactly what they were looking for and exactly where to look.</p>

<p>“Flint to Draco! Passes to Weasley! Bludger!”</p>

<p>The crowd gasped.</p>

<p>“Merlin! If she weren’t so good at dodging I’d think they were trying to kill their own sister!”</p>

<p>The figure shifted and a crack of light from the stadium outside shined on its face to reveal the young face of the new Virgo Malfoy. She was shaking.</p>

<p>“Slytherin score again! And Weasley breaks off to hunt the snitch! Wow, this is aggressive! Gryffindor have an opportunity to catch up now, but the gap is large!”</p>

<p>Virgo wrung her hands together. It had all been so easy when she was just thinking about it. But now that she was here, it was proving far more difficult than she’d imagined.</p>

<p>“Gryffindor score! 100—30! Weasley has seventy more points of freedom!”</p>

<p>She knew it was wrong. Killing. She knew it instinctively. But what choice did she have? It was life or death. Kill or be killed. She knew that instinctively, too. Anyone in her position who thought otherwise was a fool. John wasn’t going to help her — not like he was now. And she had no <em>proof</em> of a conspiracy. So she could only rely on herself. One thing she knew more than anything else, though — she did <em>not</em> want to die. Death. The idea terrified her — more than anything she’d ever considered. Death. Dying. Becoming nothing.</p>

<p>She was sure it was Ginny Weasley who was trying to kill her and had only become more sure as time went on. This was a <em>perfect</em> chance — a chance she might never get again.</p>

<p>“Gryffindor score! 100—40!”</p>

<p>Virgo clenched her fists and took a deep breath. It was now or never. She whispered, “Dobby.”</p>

<p>It took several seconds before the house elf popped into being beside her. “Miss?” he asked in his high-pitched voice.</p>

<p>“Shh!” Virgo urgently held a finger to her lips.</p>

<p>Dobby’s eyes widened. He grabbed his long ears and pulled them down around his face. “Miss?” he said again, this time in a whisper.</p>

<p>“Dobby,” Virgo began in a whisper of her own. “Tell me, is your magic strong enough to overcome the charms on the bludgers?”</p>

<p>Dobby nodded. “Most house elfs could, Miss, but Dobby is not just being most house elfs.”</p>

<p>“You could guide them to attack and kill a specific player?”</p>

<p>Dobby looked at Virgo with his bulbous eyes and nodded enthusiastically. “Oh yes, Miss. Dobby can attack and kill, Miss. Dobby is a free house elf.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Gryffindor score! 100—50!”</p>

<p>There! Floating high in the sky, Ginny spotted a flash of gold, executed a ninety-degree barreled turn, and pelted down the pitch, feeling almost disappointed that it was going to be this easy.</p>

<p>“She’s seen it!” Lee shouted.</p>

<p>The crowd roared.</p>

<p>The snitch flittered from point to point in front of her, speeding up faster and faster as she approached closer and closer. She stretched out a hand.</p>

<p>“Is this it?!”</p>

<p>Then, out of nowhere, her senses screamed at her to move. Or rather, it would be more true to say that she moved first, and only afterwards did her brain receive the report from her senses telling it that they had decided to coordinate directly with her spinal column on the logic that it was better to ask for forgiveness rather than permission when the alternative was receiving a bone-shattering collision with a bludger moving several times the normal rate.</p>

<p>The snitch disappeared and the crowd let out a collective groan or relieved sigh depending on which side they were supporting.</p>

<p>Righting herself, Ginny cursed. That had been close. What on Earth had been up with that bludger?</p>

<p>“Ginny!” shouted a warning voice that she recognised as one of her twin brothers. She turned around, just in time to register the same bludger, still travelling at the same stupid speed heading straight for her, again.</p>

<p>She didn’t even think twice. She raced to gain height and started sweeping the sky — standard procedure for shaking bludgers, and so-called because it looked like the player was trying to clean the sky with their broom.</p>

<p>It didn’t work.</p>

<p>The bludger just circled and came barrelling for her again. Again she dodged, this time by only a finger. A small smile crept across her face.</p>

<p>“Tamaron! Hazlett!” Flint shouted. “Get that thing off her!”</p>

<p>“We’re trying!” Tamaron shouted back, giving the bludger a powerful swing with his bat, but which might as well have been a foam staff for all the effect it was having.</p>

<p>“Don’t bother!” Ginny called out, dodging again with a single spin on her broom as though it were a gymnast’s bar.</p>

<p>“You sure, Weasley?” Flint called back from below.</p>

<p>“Positive!” Ginny grinned and expanded her senses out as far as they could go. “Just keep us ahead as long as possible! I’ll deal with this!”</p>

<p>“Ginny!” Fred called out.</p>

<p>“You can’t be serious!” George added.</p>

<p>“Just play!” Then she spun around and raced up the pitch.</p>

<p>Her predicament had not gone unnoticed.</p>

<p>“I say!” Lee Jordan’s voice boomed across the stadium. “That bludger should <em>not</em> be doing that! Isn’t there some rule about that, Professor? No? Okay, Professor McGonagall informs me that apparently when bludgers go insane the game continues unless one side gives up. Is that really a rule? <em>Really</em>? Huh. You learn something new every day. And it doesn’t look like either side is going to give up — not even with the Weasley twins shouting at the Gryffindor captain — nope, Wood’s not having <em>any</em> of it.”</p>

<p>Ginny could feel the bludger’s magic swirling around inside it whenever it got close — powerful magic, demonic even — but it wasn’t actually that difficult to avoid now she’d got the hang of it. Sweep from side-to-side, feel the directional intent, then dodge at the last moment. She started scanning the pitch again for the snitch while another part of her mind started working on the likely suspects for this little stunt.</p>

<p>It was only because she was so familiar with the exact magic that was performed next that she was able to dodge by such a tiny margin that she actually lost several strands of long red hair. The bludger was behind her when she felt an almost lightning-bolt crack of magic arc through the air and arrive in front of her. She’d already been banking left when the bludger appeared, out of thin air, at the position the magic had indicated, and zoomed right at her. For anyone watching it would have looked like the bludger had just teleported, accelerated from a dead still to almost half its ‘normal’ speed, and Ginny had nevertheless still dodged it.</p>

<p>Over three hundred people <em>were</em> watching.</p>

<p>“Merlin!” Lee Jordan cursed.</p>

<p>That wasn’t the last time the bludger teleported.</p>

<p>An almost-manic shit-eating grin was permanently plastered on Ginny’s face. She was starting to recognise this feeling. It was the feeling she got just before she’d taken on the diary. It was the feeling she got during the phoenix ash heist. It was the feeling of being able to pick out every individual muscle in her heart contracting in rhythm. It was the unnatural blueness of the sky and the greener than green vividness of the grass. She spotted a snowbeetle flying in midair, less than a foot from her face, and could make out every beat of its beautiful crystal wings — or at least, she could, for about half a second, before it got splattered by the speeding, teleporting cannonball.</p>

<p>She dodged that one by pointing her broomstick up and throwing herself around the shaft.</p>

<p>“Gryffindor score! 100—60!”</p>

<p>But she really did need to look out for the snitch.</p>

<p>Wait a minute!</p>

<p>Off in the distance, Ginny spotted a glint of gold. It took only a flick of her foot to point her broom in the right direction and urge it forward. The bludger disappeared behind her, but she didn’t feel any teleporting magic. Seconds later, she’d caught up with the snitch. She reached out her hand.</p>

<p>And again, her senses screamed at her that she’d already moved.</p>

<p>The snitch sped off and disappeared.</p>

<p>Ginny looked around sharply to locate the bludger, but couldn’t see it.</p>

<p>She frowned.</p>

<p>“Close one there!” shouted Lee Jordan. “Weasley almost had it!”</p>

<p>Her senses screamed at her again, but this time she’d been ready, consciously moving out of the way in time to avoid… nothing — nothing except the wind-rush of flying death zooming right past her face. Her eyes widened in realisation.</p>

<p>The bludger was now invisible.</p>

<p>But no worries. Her magic sensing gave her an advantage there. So long as she knew she couldn’t trust her eyes it wasn’t <em>that</em> big a problem. This was definitely getting difficult, but it wasn’t anything she couldn’t handle.</p>

<p>“Weasley!” Marcus Flint bellowed from somewhere above her. “We’ve lost the other bludger!”</p>

<p>Well, shit.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Up in the top stands, holding the skirt of her robes in a white-knuckled death grip, Hermione stared at the darting shape high in the air. At times Ginny would dive. At other times she’d spin. And yet other times she’d fix her broomstick in place and frantically fling herself around the shaft, as though she were a muggle on a gymnast’s high bar or a dancer’s pole. The net effect was of a green and silver fly dodging two flailing invisible hands.</p>

<p>What was going on? Hermione thought. What magic could take over the bludgers like this? It would have to be strong — abnormally strong.</p>

<p>All around her, students were talking excitedly among each other — each of them asking the same question. It was obvious something bizarre was going on, and the quicker had cottoned on to the fact that both bludgers were now hidden and targeting the Slytherin seeker.</p>

<p>The only likely candidates, as far as Hermione could figure, would be a very powerful wizard like Dumbledore or Voldemort. But last year, even the Dark Lord had struggled to take control of John Potter’s broom in the middle of the match, and that was <em>with</em> eye contact. Whoever was behind this had made the bludgers invisible, completely removing that way to channel — and they were succeeding in overpowering two bludgers at the same time!</p>

<p>“Daphne,” Hermione began, uneasiness permeating her voice.</p>

<p>“Yes?” came the terse reply. Daphne was staring up at the spectacle with narrowed eyes.</p>

<p>“You don’t think it could be <em>her</em>?”</p>

<p>“If it is, then she must have some help.” Neither needed to say who the <em>her</em> in question was. “I think even our lord would have difficulty pulling this off alone. Where is she? Can you see her?”</p>

<p>It took Hermione several seconds to spot the new Malfoy. “There!” she declared. “In the Hufflepuff stands — next to Bones. She doesn’t look like she’s doing anything.”</p>

<p>Daphne frowned. “I hope it’s not Dumbledore.”</p>

<p>“I wish Harry were here!”</p>

<p>“Me too.”</p>

<p>“What are we going to do?”</p>

<p>“If the teachers aren’t going to intervene, then you should get down there. You’re training as a healer. It’s the perfect excuse.”</p>

<p>“Oh! Right! Of course!” Hermione jumped up and almost tripped over herself in her rush down the steps.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Slytherin is still leading, 110 — 80,” Lee Jordan’s voice boomed out across the stadium. “But the gap is closing rapidly! Is Slytherin about to lose their amazing first-century lead? And will Miss Weasley be able to keep dodging those <em>things</em>?! I mean—MERLIN! That one was close!”</p>

<p>Up in the top box, Lady Lily Potter’s fuming face was as red as her hair. “Headmaster, we must do something!”</p>

<p>Lockhart chuckled. “Now, now, Lily. Minerva seems quite happy to let play continue. If our dear transfiguration professor sees nothing wrong then who are we to contradict her?”</p>

<p>“In my experience, <em>Headmaster</em>,” came the silky voice of Severus Snape from beside her, “Professor McGonagall—level-headed woman though she may otherwise be—does have a tendency to lose her sense of perspective when it comes to quidditch.”</p>

<p>Lily shot her once-estranged childhood friend a look of appreciation. Although she didn’t want to admit it, everything was starting to get a bit too much for her. The new job, the attacks on Virgo Malfoy, the business with Virgo’s brother in the forbidden forest, the terrible shock of finding Harry and Luna petrified in the hospital wing from another unknown attacker, and now this — she honestly didn’t know what she’d do without him.</p>

<p>Lockhart seemed to take Severus’ words a bit more seriously than her own, before he shrugged them off too. “Little Miss Weasley is doing fine! Look at her! Isn’t she amazing? Why, I dare say she comes close to my own skills when I were a lad. That was before I dropped my training to dedicate myself to fighting against the dark arts, naturally, but—Oh! Look! Here comes Minerva, right now.”</p>

<p>Lily looked around to see an irate Professor McGonagall climbing the stairs to the top box, three at a time. “Disillusionment charms!” she shrieked. “That’s not quidditch! We must find who’s doing it and stop them!”</p>

<p>“And you wouldn’t consider the possibility of just stopping the game, would you?” Snape drawled.</p>

<p>“Stop the game?” McGonagall looked as though Severus had asked her to close Hogwarts. “Don’t be silly — you don’t stop quidditch. But disillusionment charms are not quidditch, and we bloody well will stop that! Headmaster!”</p>

<p>Lockhart didn’t even skip a beat. “Of course, we must help! Miss Weasley is in danger!” He looked around the professors who had all turned at this proclamation. “Septima, Bathsheda, and Irma, would you go and search the student stands? Lily and Severus, I’m sure you can handle the storage rooms, and Filius, could you take on the changing rooms? Topsy!”</p>

<p>A house elf popped in front of him. “Yes, Headmaster?”</p>

<p>“Be a good chap and find out who’s doing that, will you?” He pointed to the still frantically darting figure of Ginny Weasley.</p>

<p>“Yes, Headmaster, sir!” The house elf popped away.</p>

<p>“And alert the ghosts, too!” he called into empty air.</p>

<p>Lily was already halfway down the stairs before she turned back. “And don’t forget to check the wards, Headmaster!”</p>

<p>Lockhart grimaced, focused, and smiled brightly. “Nothing out of the ordinary! And now! It is time for the hero of the hour to save the fair maiden!”</p>

<p>Lily barely had time to consider exactly what Lockhart meant by that statement before he’d reached into his pocket, withdrawn a shrunken broomstick, expanded it, and mounted up.</p>

<p>“Don’ ye interfere with the game!” McGonagall shrieked as he zipped past and up into the air.</p>

<p>“Worry not!” Lockhart’s fading voice called back. “For I am Gilderoy Lockhart!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>At first, John couldn’t believe his luck. One of the bludgers had gone mental and focused only on Ginny. But then, as they’d closed the gap in points, his elation had given way to worry. Something wasn’t right here. Bludgers shouldn’t act like that, and now they’d gone invisible. Ginny was good — amazingly good — but even she’d start to tire soon. She was a girl after all.</p>

<p>“Ginny!” he called out.</p>

<p>“Sod off, Potter!”</p>

<p>“You can’t keep that up forever!”</p>

<p>“Watch me!”</p>

<p>“You need help!”</p>

<p>Ginny suddenly turned direction and John found her right next to him. “Okay, help me then.” She was smirking.</p>

<p>John had only a moment to process what she’d done before he felt a whoosh through his hair and he instinctively knew he’d been only a few inches away from having his skull caved in. He quickly backed off. “Ginny, what the hell! That was dangerous!”</p>

<p>Ginny looked at him like he was stupid, even as she flipped upside down on her broomstick to avoid another attack. “Of course it was dangerous.” Dive, dodge, spin. “That’s the point.”</p>

<p>“But this is insane!”</p>

<p>Ginny just laughed.</p>

<p>“Headmaster?!” shouted a female voice behind him.</p>

<p>John looked around to find a rather put-out Madam Hooch flagging down Gilderoy Lockhart. “What are you—?”</p>

<p>“Not to worry Rolanda,” Lockhart said in his ever-present jovial voice. “I’ll keep an eye on Miss Weasley here. Don’t worry! I know the rules. I won’t interfere in the game. I just feel that we could use an extra layer of precaution here.” He winked at her. “And if things really get sticky, then I, Gilderoy Lockhart, will take out those pesky bludgers.” Hooch huffed, but did back off with an acknowledging wave of her whistle.</p>

<p>Lockhart then turned to him.</p>

<p>“Don’t you worry, John, my boy.” Lockhart gave him a wink too. “I’ll take care of Miss Weasley. You focus on the game.”</p>

<p>John nodded thankfully, and shot off back to the Gryffindor chaser formation. With the headmaster looking out for Ginny, he could focus on what was really important now… winning.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Back with Lockhart, there was a sudden pop, and the headmaster found himself straddled by a terrified-looking Hogwarts house elf.</p>

<p>Lockhart looked down, rather bemused. “I say—” he began.</p>

<p>The elf didn’t let him get any further. “Free house elf!” it shrieked.</p>

<p>Lockhart’s face went from jovial to puce-white, faster than a set of traffic lights, just moments before something heavy smashed into his side with the shape, weight, and speed of a cannonball, and Gilderoy Lockhart, Order of Merlin, Third Class, honorary member of the dark force defence league, three times winner of Witch Weekly’s most charming smile award, author of the best selling Boy-Who-Lived adventure series, and current Headmaster of Hogwarts School of Witchcraft and Wizardry, slipped off his broomstick and fell to the ground.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Far off on the other side of the quidditch pitch, a bright blue light shot out of a wand-brandishing small figure in expensive Slytherin-green robes, standing at the edge of the pitch. The blue light hit the falling figure of the headmaster, and slowly brought it to the ground.</p>

<p>“I think that’s Granger!” Susan shouted, squinting. “Yes, it’s Granger!”</p>

<p>Virgo felt ill. She’d been sure a free house elf would have been able to take out Weasley without making too much of a scene, but Weasley was far better than she’d <em>ever</em> considered. Her magic sensing range was insane. She was reacting to the invisible bludgers as though they weren’t even charmed. And now, it seemed Dobby had even stopped caring if other people got in the way. Her hands started to tremble. Dobby wouldn’t target John, would he? Or get caught? Both would be horrible.</p>

<p>She kept her eyes on the action high in the sky, while occasionally glancing back to watch Hermione Granger casting basic first aid spells on the headmaster, including what looked like a bone-vanishing spell, if the way his arm went all rubbery was any tell. Nasty business. He’d be feeling that all night.</p>

<p>A gasp from the crowd wrenched her attention back skyward and her heart stopped. Weasley and John had started to dive.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“110—110!” The announcer shouted. “Will John Potter break off to look for the snitch? Yes! Yes, he is. We’re back to three-on-three for the quaffle, but now that their seekers are out of the picture, will the Slytherin team dominate as they did in the early game?”</p>

<p>The human fly that was Ginny Weasley cursed. She’d been hoping to spot the snitch by now, but these damn bludgers just weren’t giving her the chance. Merlin, it was fun though.</p>

<p>“Weasley!” Flint bellowed.</p>

<p>“I know!” Ginny shouted back, twisting her body so as to dodge both bludgers at once. “Find the snitch, win the match! On it!” Easier said than done though, she thought. Potter had total freedom to look while she played kiss-chase with two invisible flying bowling balls. Wait! An evil smirk spread across Ginny’s face as she remembered her last interaction with Harry’s brother.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>John Potter kept his eyes peeled as he scanned the pitch in the standard seeker pattern he’d perfected over two Hogwarts quidditch careers.</p>

<p>“Hi!” said an enthusiastic voice to his left.</p>

<p>John nearly jumped out of his skin. “Ginny?! What are you doing?”</p>

<p>“You looked lonely.”</p>

<p>“Lonely? Wha—” Something smashed across the tip of his broom, spinning him around and nearly bucking him right off. “GINNY!” he screamed.</p>

<p>“Well, it’s not fair that you get to look without worrying, and you do keep trying to get close to me.”</p>

<p>“Get away from me!”</p>

<p>Ginny grinned. “Na-uh!”</p>

<p>All thoughts of the snitch fled. As did he. It was amazing just how fast his Nimbus 2001 could go when he pushed it — not that it mattered much, since Ginny had the same model.</p>

<p>“Magical Merlin!” Lee Jordan shouted as the quaffle hoops passed in a blur. “Miss Weasley is sticking to Heir Potter like glue! She’s right behind him! I just wish we could see the bludgers!”</p>

<p>His only saving grace was that Ginny had to occasionally dodge a bludger, which gave him a moment to increase his lead. If only he had some way of seeing them.</p>

<p>“Flint goes for the hoop! Saved by Wood!”</p>

<p>Wait! The grass! And he could shake Ginny off at the same time!</p>

<p>John shot up into the air, rapidly gaining height, and then tipped over right at the apex. It was Wronski feint time!</p>

<p>Ginny pulled up beside him and pointed down. “Hey, look, the snitch.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><em>A gasp from the crowd wrenched Virgo’s attention back skyward and her heart stopped. Weasley and John had started to dive.</em></p>

<p>“They’ve seen something!” the commentator screamed as Weasley and John began their descent, not just in free fall, but actively accelerating towards the ground while corkscrewing around each other.</p>

<p>Shrieks filled Virgo’s ears and it took her a moment to realise that one of those voices was hers.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Go! Faster! Harder!</p>

<p>Ginny’s grin couldn’t have been wider as she pushed for everything she had, the world spinning around her, first the sky, then Potter, then the ground, then the stands, over and over.</p>

<p>Closer! Nearer!</p>

<p>The ground was like an emerald pumpkin pie being thrown at her by the will of a god.</p>

<p>Don’t let up! Not until the very — last —</p>

<p>“SHIIIITTT!” Potter yelled, a voice that started right behind her and then suddenly fell upwards.</p>

<p>Barely an inch from the ground, Ginny jerked up and felt blades of grass whip across her knuckles as she sped forward.</p>

<p>A glint of gold flashed across the pitch in front of her.</p>

<p>Heart beating, adrenaline pumping, that feeling of feeling ALIVE. Now! Speed! Fast! Win!</p>

<p>“The bludgers!” the commentator screamed.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Magical Merlin!” Alex shouted, wide-eyed, as the two invisible bludgers impacted right behind Ginny and started tearing twin furrows in the pitch as they ploughed unstoppably towards her, sending dirt and grass flying everywhere.</p>

<p>“The snitch!” Pansy shrieked. “She’s seen the snitch!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Ginny stretched out her hand. The snitch was hovering just out of reach, so close she could smell it, darting right — darting left. All she needed was a little more reach. Just a little more.</p>

<p>The snitch darted right in front of her hand.</p>

<p>For a moment, time seemed to stand still.</p>

<p>Her fingers closed over it, almost gently.</p>

<p>Her hand gripped it, the wings retracted into the ball.</p>

<p>She’d done it.</p>

<p>“SHE DID IT! 120—110! SLYTHERIN WINS!”</p>

<p>The crowd erupted.</p>

<p>“HELL YEAH!” Ginny swooped up into the air, triumphant, holding the snitch above her head. “I WIN!” It was as if everything came together in that instant. All the training she’d done. All the hard work she’d put in. This was who she was. This feeling — oh, how she loved it. John Potter could take his damsel in distress and shove it down his throat. She would do anything to be what she needed to be. Even hurt. Even kill. It was a them or us world, and she’d make sure it was always <em>them</em>!</p>

<p>Her senses screamed at her to move just a moment too late.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Lily lifted the curtain that blocked access to the last spare equipment room and gasped. Something bad was apparently happening outside, if the shrieks and groans of the crowd were any judge, but whatever was happening on the pitch had to pale to what was before her now.</p>

<p>Severus stepped in beside her, stiffened, and instantly had his wand out.</p>

<p>Four dead house elves lay strewn on the floor. They were very definitely dead. Live house elves tended to still have their heads and didn’t have their intestines dangling out around them. Needless to say, blood was <em>everywhere</em>.</p>

<p>“What… what could have done this?” Lily whispered.</p>

<p>“<em>What</em> is definitely the right question,” Severus said. “No student could have — not even the more… <em>precocious</em> ones. And I can’t imagine any of the professors doing it either. And all the ones who might have were upstairs.”</p>

<p>“What should we do?”</p>

<p>“Order the students back to their common rooms and inform the headmaster when he wakes up.” Severus seemed to think for a moment. “Topsy?”</p>

<p>There was no reply from the Hogwarts head elf.</p>

<p>“She’s not one of the dead,” Lily whispered. “Where is she?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Impedimenta!” shouted seven different voices, Professors Flitwick, McGonagall, Sinistra, and Vector, along with Madams Hooch, Pomfrey, and Pince.</p>

<p>The second bludger stopped dead in midair.</p>

<p>The first was already being wrestled back into its box by Hagrid.</p>

<p>Hermione was bent over Ginny — a Ginny who looked like she’d gone five rounds with a heavy-weight boxer, with compound fractures all down her right side — a Ginny who grinned up at her through half-lidded eyes and a bloody mouth missing three teeth, and said, “We won.”</p>

<p>Hermione harrumphed. “Yes, you won. Now hold still so I can fix this. You’re in even worse shape than Lockhart. Honestly, Ginny, what were you <em>thinking</em>?!”</p>

<p>Ginny spat out another tooth and scrunched her face up in pain, but did not answer.</p>

<p>Hermione’s face softened. “Relax, I’m going to give you a pain killer.”</p>

<p>A minute later, Ginny was feeling a lot better. She still had more wrecked bones than a novice necromancer, but at least the pain was gone. “Thanks, Hermione. I’m glad we have you.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Must we rush so?” Susan complained to a prefect as they were hustled out of the stadium.</p>

<p>“I’m sorry, Heiress Bones, but the teachers have made it clear that everyone must go immediately to their homerooms. No exceptions.”</p>

<p>Virgo was doing her best not to look like she was trying not to look like she was nervous. Her plan had <em>not</em> gone well. But at least she hadn’t been caught. Probably. Hopefully? Please, God—Merlin?—whoever!—please don’t let her have been caught.</p>

<p>“Maybe your brother would be able to tell us what happened later,” Susan whispered as they walked across the grass.</p>

<p>“My brother?”</p>

<p>“Yes. He seems quite close with Weasley. I don’t think I’ve ever seen him so chummy with a girl before. Not even Parkinson. I know you don’t get on with your family, but there can’t be any harm in asking, right? I can be there with you if you’re uncomfortable.”</p>

<p>Oh, right. Most of her classmates knew each other from before Hogwarts — even those from different factions. “He might be able to…” she started, sounding uncertain. <em>My new brother knows Weasley, </em>she thought. <em>My new brother is friends with Weasley.</em> Virgo firmed her jaw. “Okay, let’s talk to him — together.”</p>

<p>“Of course.”</p>

<p>They were almost at the doors when Virgo noticed something moving out of the corner of her eye. A second glance told her it was John. Oddly, he was skulking near the trees just shy of the forbidden forest. He didn’t appear to have anyone with him, but he did have his broomstick, slung over his shoulder like a muggle rifle. What was he up to? She nudged Susan, and, taking advantage of the momentary distraction while their prefect opened the doors, led her away to the shadow of one of the towers.</p>

<p>“What <em>is</em> he doing?” Susan asked, exasperated.</p>

<p>“I don’t know. Let’s wait and find out.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>In the hospital wing, Lily looked down sadly at Harry’s stone-like form.</p>

<p>Severus and Professor Flitwick were standing like guards by the door.</p>

<p>“I’m going to wake the headmaster now,” Madam Pomfrey said from behind her.</p>

<p>Lily turned away from her son and towards the unconscious Lockhart. Miss Weasley was in the bed one further down.</p>

<p>“Now, what is the first thing we do on waking a patient?” Pomfrey asked the student healers. “Clearwater?”</p>

<p>“Assure them that we have everything under control and ensure a general state of calmness.”</p>

<p>“Exactly. Granger — if you would.”</p>

<p>Hermione Granger brandished her wand and cast an incantation over the headmaster.</p>

<p>The result was not what Lily expected. Lockhart bolted straight up in bed, wide-eyed and began taking a huge breath.</p>

<p>“Headmaster,” Hermione quickly began, “We-have-everything-under—”</p>

<p>“Free house elf!”</p>

<p>The entire hospital wing went silent. Dead silent.</p>

<p>Lily felt the blood drain from her face.</p>

<p>“Headmaster, are you sure?” Severus snapped from behind her.</p>

<p>“Yes!”</p>

<p>Lily’s mind raced. “The wards!” she said urgently, jumping to the first answer she could think of. “Don’t they keep them out?”</p>

<p>“I don’t know!” Lockhart wailed. “They’re <em>supposed</em> to.”</p>

<p>“Dumbledore never liked strengthening the wards,” Severus muttered. “He hated blood-feud culture.”</p>

<p>“But they are there, right?” Lily said. “The wards? The headmaster just needs to activate them.”</p>

<p>“I don’t know how!”</p>

<p>“You should have learned!” Lily snapped. “You’re the only one who can.”</p>

<p>“No,” Severus said smoothly. “There <em>is</em> one other who can.”</p>

<p>“Who?” Lily asked. Her face wrinkled as realisation dawned. “Oh, Sev, not <em>him</em>.”</p>

<p>“While our headmaster is an accomplished wizard, it will still take him too long to learn. Lord Slytherin will know how to, and can hopefully get here sooner.”</p>

<p>“But we don’t know how to contact him.”</p>

<p>“Lord Greengrass is our best option. I will speak with his daughter. It is not unknown for lords to give their heirs emergency means of contact.”</p>

<p>“Excuse me,” Madam Pomfrey said, the student healers all staring at the exchange with wide eyes. “Not to butt in here, but what are we going to do, right now, about there being a <em>free house elf</em> in the castle?”</p>

<p>The professors and headmaster all looked at one another.</p>

<p>Three minutes later, a huge pulse of magic shot out from the castle, and every window, door, and gate slammed shut — a thousand kilometres away, in central London, a blaring red siren went off in the Department of Magical Law Enforcement — and twenty-three minutes after that, twelve fully-armed aurors stepped out of the headmaster’s floo and marched in pairs to all four common rooms, the infirmary, and the kitchens, where Chief Auror Lord Sirius Black and his partner Kingsley Shacklebolt found over a hundred house elves, including Topsy, cowering in a corner by the ovens, behind a makeshift fort made from animated tables, chairs, and iron pots, ready to bite anything that got close. Nothing Sirius said would persuade them to leave the perceived safety of their fort, and eventually, the two aurors just set up station in front of it. Hopefully Lord Slytherin wouldn’t be too long coming.</p>

<p>Footsteps announced the arrival of another auror. “Sir!” The auror saluted. “Three students are unaccounted for — Miss Virgo Malfoy, Heiress Susan Bones, and Heir John Potter, sir.”</p>

<p>Sirius cursed.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Some time later, and several thousand kilometres away, Lord Greengrass detached a parchment from a rather harried-looking owl. Getting into Transylvania hadn’t been easy, and the hardest part of the journey was still ahead of them.</p>

<p>“We can take it a bit easier now,” Lord Smith said, propping his war hammer against a wall with a grin and sitting down in a hotel chair, which creaked under him like an oak galley taking on new cannons. “The children aren’t going anywhere. And I could do with a rest. These old bones aren’t the same as they once were, you know.”</p>

<p>Jacob started to read the parchment.</p>

<p>“We will most likely have to fight once we get there, so rest could be a good idea,” Xeno commented. “I agree. There is no particular rush now that we know where we are going.”</p>

<p>Jacob finished reading and cursed. “Wrong,” he declared. “We are now very much in a rush.” He handed the parchment to Xeno, who took it, read, and whistled.</p>

<p>“I would agree with you, old boy. A rush, we are very much now in.”</p>

<p>“Give me that!” Smith took the parchment and read. He swore. “Okay, serious shit, but what does this have to do with us? Slytherin doesn’t need mandrake.”</p>

<p>Jacob and Xeno looked at each other.</p>

<p>Smith looked between them both. “Fucking hell!” he exclaimed. “Are you saying that our big stick is lying useless in some bed somewhere, totally stoned? Okay, yes, I agree, we’re in a rush.” He stood up and hefted his war-hammer. “Let’s go crack some skulls.” No sooner had the words left his mouth, then there was a knock at the door.</p>

<p>The three British lords exchanged glances.</p>

<p>Jacob was nearest, so he slipped his wand into his hand and gripped the door handle. “Yes?” he called out in the tone of voice which says, ‘this had better be important’.</p>

<p>“Ministry of Magic,” came the cultured-sounding reply from the other side of the door. “The minister requests your presence.”</p>

<p>Jacob suppressed a groan. A quick look to his companions showed that both had their hands on their wands as well. They all shared a resigned nod. Jacob opened the door. Instead of the usual wizarding robes that might be expected from ministry officials, these gentlemen, and they most certainly were ‘gentlemen’, complete with quotation marks, were all dressed in black muggle suits — coattails — white tie — opera.</p>

<p>The lead ‘gentleman’ gave Jacob a quite literal pointed smile. His teeth gleamed. “So sorry to interrupt you, my lords, but the minister has some urgent business with you.”</p>

<p>“And do <em>we</em> have any urgent business with <em>him</em>?” Smith asked.</p>

<p>“You may very well find that to be the case.”</p>

<p>After another round of exchanged glances, the three lords allowed themselves to be escorted out of the hotel and, after several rounds of apparition, to a nearby castle on the top of the hill — nowhere near the size of Hogwarts, but very obviously built with one main aim in mind. To keep those who were on the outside, out.</p>

<p>“It’s so gratifying to deal with wizards who know how to apparate,” their lead ‘gentleman’ said as they walked under the portcullis and through several wards which felt almost as strong as Hogwarts’ own. “Makes matters so much easier.”</p>

<p>They were deposited in a waiting room with golden leaf plastered all over the ceiling. Large full-length mirrors, also inlaid with gold, surrounded them on every wall.</p>

<p>“That’s got to be a mental game,” Smith said. “Want us to always remember what we’re dealing with.”</p>

<p>“Perhaps,” Xeno said mildly. “It does make you wonder though. They’re always dressed to the nines — perfect hair — perfect skin. Must be hard to achieve that effect without being able to see yourself.”</p>

<p>On the other side of the room from the way they’d entered, a large double door opened, and a lady—whose silhouette could easily be mistaken for an elegant candlestick—stepped out and gave them another very pointed smile. “The minister will see you now.”</p>

<p>She didn’t bother following them in. No guards, Jacob thought. No security, no nothing<em>.</em> Not that it was needed. The ‘gentleman’ on the other side of the large mahogany desk—noticeably older than the others—radiated quiet power in the same way that Harry could. The bronze plaque on the desk read:</p>

<p><em>First Transylvanian Minister of Magic, Count Dragos Dracula, Mugwump, Electorate, Eighty-six times Gobstones Champion</em></p>

<p>“My lords,” the aged vampire purred, sweeping up from his chair. “So good of you to drop in. It is rare we get a visit from the Albion.”</p>

<p>“We couldn’t stay away,” Smith said gruffly.</p>

<p>The count chuckled. “My servants can be a little forceful, it is true. They tend to interpret my suggestions as commands.” He gestured to four high-back leather chairs surrounding a low table to the side. “Please.”</p>

<p>There was a wooden box on the low table. They all sat. None of the three lords said anything. They instead waited for the minister to pour himself a measure of red liquid into a crystal glass. After taking a sip, the vampire opened with, “The mandrake supply crisis is terrible, is it not?”</p>

<p>Shit.</p>

<p>In the time it took for the minister to pause where most people would need to take a breath, the following thoughts sped through Jacob’s mind.</p>

<p>1. This is about why we’re here.</p>

<p>2. He knows why we’re here.</p>

<p>3. He knows that the mandrake supplier is here.</p>

<p>4. He ordered the kidnapping of the mandrake supplier.</p>

<p>5. We beat up and then tortured his agents.</p>

<p>6. He has mandrake in that box.</p>

<p>7. He wants to trade.</p>

<p>8. We might not be utterly fucked.</p>

<p>9. If we can’t give him what he wants, we could still be utterly fucked.</p>

<p>“And in times of crisis,” the count continued, “people are wont to do very silly things. Not me, of course, but friends. Friends who found themselves in desperate need. I’m sure you understand.”</p>

<p>10. He’s acting as an intermediary for someone else.</p>

<p>“So, what do you want for the mandrake?” Smith asked.</p>

<p>“Ahh, straight to the point.” The count leaned back. “What do you know of my land’s political situation?”</p>

<p>“Only what we’ve read in the papers, I’d wager,” Xeno said. “You signed a new country into existence not long ago, and now rumour is that every wizard and witch in the new territory is being rounded up and bitten.”</p>

<p>Jacob winced. That was exactly the kind of horror situation wizards dreaded.</p>

<p>“Fullmoonia,” Smith grunted. “Stupid name for a country.”</p>

<p>The count swirled his crystal glass and looked at the ceiling. “The name was not my idea, I can assure you of that. And as much as it pains me to say it, the rumours are true. I’ll not pretend that life is perfect under my rule, but this ‘solution’ to my kind is barbaric.”</p>

<p>“Eliminate predation by making everyone a predator,” Xeno mused.</p>

<p>“We had an understanding,” the count said. “We do not take magical blood from any who do not choose it. And for those who do choose, the experience can be truly magical. The freedom in total surrender is like a drug — so I’m told. And you cannot eliminate predation by making everyone a predator — you just make the top predators that much harder to spot.”</p>

<p>“Doesn’t being top predator by merit rather than birth make it more meaningful?”</p>

<p>The count grinned, flashing his long canines. “Unfortunately, I must speak for all my people, not just myself.”</p>

<p>There was a pause.</p>

<p>“So, what do you need from us?” Jacob asked.</p>

<p>“There is a stronghold deep in Fullmoon territory, Castle Dragos. I built it long ago as a position to project power from, much like your Hogwarts has done before — I was not happy to lose it, believe me. Since then, it has become one of the best universities for ICW obliviators. When the Supreme Mugwump negotiated the peace accord, he insisted that Dragos be granted independent status from the Fullmoon ministry. The ICW has a vested interest in making sure the university stays open and that both students and teachers need not fear werewolf attacks while conducting their studies. The unintended consequence is that when the accord was signed, many dozens of witches and wizards fled to Dragos for safety. Not long after, the Fullmoon ministry took control of the exit and entrance points, and now many people are trapped within the fortress.”</p>

<p>“You need someone extracted,” Smith said.</p>

<p>The count nodded. “There is a VIP within the university — someone whom I have a vested interest in. Getting them out is a sensitive matter.”</p>

<p>Jacob stroked his chin. “Could be tricky if the Fullmoon is on guard.”</p>

<p>“Luckily, the minister of ‘Fullmoonia’ also has a vested interest in removing this individual from his new country.”</p>

<p>“Then why doesn’t he just let him go?”</p>

<p>“Unlike me, the minister of Fullmoonia is not an absolute ruler. He is a pack leader, and operates only with the approval of those he leads.”</p>

<p>Smith snorted. “So, he can’t look weak by letting anyone go — even when it’s the obviously sensible thing to do. Typical.”</p>

<p>“That is what happens when a bunch of dogs start a government.”</p>

<p>Jacob searched the powerful vampire’s face for any sign of a sneer, but couldn’t find one, amazingly. He found it difficult to imagine what it must be like to rule your lands for over half a millennia and then lose a good chunk of it to a race of magical creatures whose sole purpose for being was to deny you and your people the food that sustained your very existence.</p>

<p>Everyone knew werewolf blood was useless to vampires, but no one could have imagined it would eventually lead to <em>this</em>.</p>

<p>“Get my VIP out, and I will give you the mandrake you need.”</p>

<p>Jacob stared down at the box, then at his companions. “Fine,” he said — the first among equals. “We’ll move out as soon as we have our papers.”</p>

<p>“Please hurry.” And Jacob was once again reminded of the raw power radiating out from the being in front of him. “The matter may be more time sensitive than we could ever guess.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Compared to Transylvania, entering the newest magical nation of Fullmoonia had been a surprisingly quick affair. The badly dressed Fullmoonia border guards, who, rather cutely, called themselves aurors, were rather impressed with having three Albion lords swing through their little checkpoint.</p>

<p>It did, however, necessitate another escorting to a rather nice-looking cottage some twenty kilometres away from Castle Dragos, to meet the Fullmoonia minister of magic.</p>

<p>“Goliath Volf,” said the man, shaking each of their hands in a grip so hard Jacob was sure he could feel his finger bones grind together. “Welcome to my people’s great nation and the front line of the fight against oppression. I just want to make one thing quite clear. I know nothing about what you three are up to, understand?”</p>

<p>“Absolutely,” Xeno said, and then without missing a beat added, “Is there anything else you would like to not know?”</p>

<p>“Yes, as a matter of fact. I was hoping to not know if the rumours that you,” Goliath pointed to Smith, “can craft goblin silver are true.”</p>

<p>Lord Smith’s face darkened. “My house hasn’t been able to craft <em>true</em> silver for centuries.”</p>

<p>Goliath shrugged without apology. “Then how about the rumours that you”—he pointed at Xeno—“are a powerful necromancer able to speak with Death himself.”</p>

<p>Xeno gave the man a bemused look. “My great-uncle was a necromancer, but that’s as close as I get.”</p>

<p>“Fair enough. And you,”—he pointed at Jacob.</p>

<p>Jacob readied himself for whatever wild rumour might be floating around him.</p>

<p>“Is it true you are to be the father-in-law of Lord Slytherin?”</p>

<p>Jacob blinked. “Oh, yes, that <em>is</em> true.”</p>

<p>“I have heard many great things about your future son-in-law. Tell me, how does he feel about werewolves?”</p>

<p>“Umm… I don’t think he has a strong opinion either way.”</p>

<p>Goliath had a hungry look in his eyes. “But could he be made to see the justness of our cause? The unacceptability of how wizards and witches are treated in these lands? The need to join, fight, rise up!” Goliath’s voice was getting louder with each word. “And accept the curse!?”</p>

<p>Jacob glanced around to find that Smith and Xeno had subtly angled themselves in the direction of the door. He turned back. “I doubt he’d be willing to accept becoming a werewolf — and I mean no disrespect, but we do have many commitments back in Britain.”</p>

<p>Goliath deflated slightly. “But what about your Lord Genesis — the British vampire lord. Isn’t he a political enemy of yours?”</p>

<p>“Yes, a <em>political</em> enemy — not an existential one. No British family feels the need to ward their house against vampires.”</p>

<p>The man collapsed into a chair, suddenly looking very tired. “No, I suppose not. But we need all the help we can get. His words might be pretty, but the count’s fist is harder than steel, and his memory is older than the statute. <em>’In a blood feud, truces last only as long as it takes for both sides to regrow all their limbs,’</em> from the count’s own book. No, this war is not over, and we need all the help we can get. You don’t happen to know Remus Lupin, do you?”</p>

<p>Dead silence filled the room. The werewolf might as well have said, ‘What’s wrong with familicide?’, or, ‘By the way, I’ve got a bomb rigged under the floor and it’s set to go off if anyone says the word cheese.’</p>

<p>After a very long pause, Jacob said, “One does not simply <em>know</em> a Lupin, even if you are acquainted, and even if the Lupin in question happens to share a minor life circumstance detail, such as being a werewolf.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Getting into Castle Dragos wasn’t difficult. Their cover story was that they were acting as convenient impartial messengers for the Fullmoon ministry, which was actually true. Goliath Volf sent word that they were to be shown all respect and courtesy, and that anyone giving them any difficulty would be literally torn apart. The hard part was getting away from their hosts, who were desperate for news from the outside world — teachers, students, and ICW officials alike. A solution to the blockade was being negotiated, but until it went through, even the usual residents were stranded.</p>

<p>Jacob eventually managed to slip off, while Xeno and Smith kept a pair of ICW diplomats busy with the British political situation.</p>

<p>Following the count’s instructions, Jacob quickly found his quarry, carefully hidden in a remote part of the castle, accessed only through secret passageways and passwords.</p>

<p>The woman was beautiful — young, with dark skin — far darker than one might expect for this part of the world. She had beads all down her hair, and her robes were exotic.</p>

<p>“It’s about time,” the woman said, after Jacob gave a pre-arranged code-phrase. “I was starting to think that vampire was just going to leave me here.”</p>

<p>“My lady,” Jacob replied. “The situation outside is delicate. The count made arrangements as soon as he could, I’m sure.”</p>

<p>The woman huffed, but perked up when he introduced himself. She peppered him with questions as he led her into the shrunk trunk he always carried on his person, many of them to do with Lord Slytherin, the Gray Lord, whom she appeared to have a special interest in. Mind you, that wasn’t at all unusual. Many of the women Jacob met had a special interest in Lord Slytherin, despite them knowing he was already betrothed, <em>twice</em> (or maybe <em>because</em> of?).</p>

<p>With his illicit cargo stored safely in his pocket, Jacob quickly met back up with his companions, said their goodbyes to their hosts, and easily made their way past the blockade. Soon they were back in Transylvania, where Jacob delivered the young woman into the care of the count.</p>

<p>“Thank you for your help,” the count said with a smile, handing over more than enough fresh mandrake to cure Harry and Luna. “And give my regards to Lord Slytherin. He seems to be a most interesting individual.”</p>

<p>It took over a whole day to get back to England. They had to take multiple portkeys spaced out over many hours, which was annoying, but did cut down on portkey sickness.</p>

<p>“I’m just frustrated we didn’t get the opportunity for a really good fight,” Smith grumbled, as they walked away from the landing point in King’s Cross Portkey Port, hefting his war hammer and giving it a consoling pat. “It’s been a long time since I’ve had reason to let the other woman in my life go nuts. Your scrap with those Italian boys looked like a grand ol’ time.”</p>

<p>Shaking his head in amusement, Jacob glanced down at the Daily Prophet as they walked past a newsstand, and nearly bit off his own tongue.</p>

<p>There was a moving, smirking picture of the beautiful woman he’d just rescued not forty-eight hours ago, smirking specifically at <em>him</em>, along with the headline:</p>

<p><em>Gray Lord Tebola Evades ICW Investigators — Flees Eastern Europe Under Self-Transfiguration — African Union Refuses Comment</em></p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Several days earlier, Susan and Virgo crept along one of Hogwarts’ outside walls.</p>

<p>The quidditch match had just finished and they’d spotted John up to something in the forest. They weren’t supposed to be out here—the prefects had ordered everyone inside—but bollocks to that, they both thought. If anyone asked, they could just say they were going to tell John about what they’d been told.</p>

<p>“What <em>is</em> he doing?” Susan asked, exasperated.</p>

<p>“I don’t know,” Virgo answered, eyes narrowed. “Let’s wait and find out.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Ginny!” Up in the hospital wing, Ginny let out an embarrassed smile as her mother hurried up to her bed, face red from running and worry. “Oh, dear, are you alright?” She caught sight of the mangled mess that was her shoulder and arm. “Oh, my goodness! Oh, I just knew this was a bad idea. Professor Snape told us all about what happened. Two rogue bludgers! What were the teachers thinking, letting the match continue? And then a lockdown! We had to come in through your father’s friends — never seen Amelia in such a state. Now, where is that broomstick?”</p>

<p>The smile vanished from Ginny’s face.</p>

<p>“I said before that quidditch is no sport for a young lady. I said—”</p>

<p>“Mum!”</p>

<p>“Molly,” came the calm voice of her father from the infirmary door. “You know we’ve talked about this.” He was flanked on each side by an auror, with their long robes and iron shields.</p>

<p>“But, Arthur—”</p>

<p>“—No buts.” He smiled. “From what I understand, Ginny proved herself to be especially talented today.” He walked up to the side of the bed and looked fondly down at her. “Our little girl may well pick up where Charlie left off.”</p>

<p>Ginny’s smile slowly came back. “Thanks, Dad.”</p>

<p>Molly Weasley looked like she was ready to continue arguing, but then deflated. “Is it too much to ask that at least one of our children doesn’t go into some hugely dangerous career?”</p>

<p>Ginny’s smile turned impish. “Percy won’t.”</p>

<p>Her mother ignored this. “And what about money? Quidditch doesn’t pay. She’ll be completely reliant on her husband. And who’s going to marry a girl who’s always running off to who knows where?”</p>

<p>“Mrs Weasley?” said one of the aurors, joining them by the bed. “I hope I’m not intruding, but I dare say a quidditch star won’t be wanting for suitors. And can I remind <em>you</em> please not to ‘run off’ like you did before? The castle is not safe.”</p>

<p>Her mother bristled. “I mean good quality wizards of high standing, not some lazy, good-for-nothing pub-rat. And I am perfectly capable of taking care of myself, thank you very much.” She looked down at Ginny and her face softened. “I guess we’ll just have to sort something out when the time comes. You’re at least keeping up in your classes, aren’t you?”</p>

<p>“Yep.” Ginny nodded. “Fifth in my year.”</p>

<p>Molly frowned. “Only fifth?”</p>

<p>“Well, Luna’s above me — so is ‘Virgo Malfoy.’” She made sure to slot the quotation marks into place around the name the same way one puts handcuffs around a criminal. “Then there’s the Chesterfield twins — they’re very good too, so yeah, fifth.”</p>

<p>“Chesterfield? I don’t recognise that name.”</p>

<p>“They’re muggleborns.”</p>

<p>“Muggleborns? Really, Ginny, you should be able to do better than—” Molly cut herself off. “Not that there’s anything wrong with that, of course,” she amended hastily, before looking around and continuing in a lower voice. “But really, Ginny, I’m surprised you’re not doing at least as well as Luna.”</p>

<p>“Luna’s a genius, Mum.”</p>

<p>“Molly, dear, why don’t we find Madam Pomfrey? I’m sure Ginny here needs a rest. I’m sure she’ll be safe with these gentlemen here.”</p>

<p>“What? Oh, yes, I’ve got some questions for that woman.” And with that, her mother bustled off towards the back. A few minutes later, the aurors also stepped away, leaving her alone with her father.</p>

<p>Feeling tired, Ginny relaxed back into her pillow and turned her head towards the bed next to hers. There lay Harry, as still and as stony as a statue.</p>

<p>“Lord Slytherin said your fates were intertwined,” her father said. Someone who didn’t know him might have taken it as an idle comment, but Ginny knew better.</p>

<p>“They are,” Ginny replied.</p>

<p>“Prophecy magic is one of the most dangerous forms of divination wizard-kind knows of,” he continued. “If the ICW could control it, I dare say they’d seal off all influence from her realm.”</p>

<p>Ginny didn’t say anything.</p>

<p>“I’m sorry I haven’t been there to help you with this before now. I can’t imagine what it must have been like to bear a burden like this for so long at your age.”</p>

<p>“I haven’t been alone.”</p>

<p>Arthur gave her a small smile. “No. I just wish it could have been us, your family.”</p>

<p>Ginny felt her stomach drop. “It still can be,” she said quietly.</p>

<p>“That’s what I intend.”</p>

<p>Ginny felt the weight in her stomach lessen. “Really?”</p>

<p>“Yes.” Her father’s face firmed. “From now on, you will have our full support. Your mother has been highly reluctant, which is understandable, but she sees the importance of what we’re doing, even if she believes you to be too young to discuss it with. This Winter Festival, I plan to talk with Lord Slytherin about the possibility of having our family publicly declare ourselves to be Gray.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Among the trees of the outmost reaches of the forbidden forest, John glared down at the book in his hands. It was one of the many that Virgo had smuggled to him over the last few weeks, all on the many rituals that young wizards and witches could undergo, if they were willing to pay the price.</p>

<p>He hated the Malfoys, and it galled him no end that they apparently had no qualms about giving their daughter such powerful knowledge, even despite their current animosity towards her. They didn’t coddle her. His own parents had never even entertained the idea of allowing him these kinds of books. The few times he’d asked, he’d been decisively shot down and they refused to hear anything more on the matter.</p>

<p>He turned the page from a ritual that gave the caster thicker skin, at the cost of the sense of touch, and quickly passed over another page, covered in delicate, spider-like script, set beside numerous diagrams of muggles spread-eagled on flagstone floors, arms and legs bloody and mangled.</p>

<p><em>Obviously</em> he could spot if something was a bad idea — if something was morally questionable. The notion that he couldn’t was stupid.</p>

<p>Faint through the thickness of the forest, a loud bell rang out.</p>

<p>Something was going on up in the castle, but John couldn’t have cared less.</p>

<p>He’d lost.</p>

<p>He flipped another page, cross-legged on the damp, dirty ground.</p>

<p>That was not acceptable. How was he supposed to defeat Voldemort if he wasn’t even better than his own classmates? Or even than Ginny, who was <em>younger</em> than him?!</p>

<p>He briefly considered telling Susan everything, just like Harry had with Ginny — all about being from the future, his brother, Voldemort, but quickly dismissed the idea. The thought of having to admit his failings was too painful. He’d tell her once he’d gotten things back under control… maybe.</p>

<p>Finally, his flipping fingers found the page he’d been looking for — a ritual to give him near-perfect balance — and it didn’t even have that high a price. All he had to do was stand on one foot for the whole ritual, one hundred feet above the ground, without putting his foot down.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“What’s he doing?” Susan whispered, sounding uneasy.</p>

<p>Virgo tried to angle her head more to see under the bush the two girls were hiding under. She wasn’t having much luck. Her neck was already so angled that owls would get neck pain just looking at her. “I can’t see very well,” she whispered back. “He’s just reading the book. I think he’s got his broom somewhere, but I can’t spot it.”</p>

<p>Susan’s breath was hot on her neck. “Hey, should we even be doing this? I mean, what if it’s Potter family business, or something personal?”</p>

<p>“Hush, you. We’re just keeping an eye on him. You know how boys can be.”</p>

<p>“I guess,” Susan conceded. “But what about the castle? It sounds like something important is happening.”</p>

<p>“I’m sure if it’s really important they’ll tell us later.” <em>Besides</em>, Virgo added in the privacy of her own mind, <em>it’s probably to do with a certain homicidal house demon</em>. She just hoped to hell that Dobby hadn’t been caught. That would be very bad.</p>

<p>“What about now?” Susan whispered. “Is he doing something? What’s he doing?”</p>

<p>Virgo snapped back to the here and now. “I think—” Through the bushes she could just make out the figure swinging his leg over something. “—It’s his broom!”</p>

<p>“What do we do?”</p>

<p>Too late, John Potter had already zipped up through a hole in the canopy, leaving Virgo lying dirty on the ground, feeling very silly, with Susan’s almost whole body weight pressed down on her, trying to get a better view.</p>

<p>She growled. “Get off, you lump!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It should have been midnight.</p>

<p>The sky should have been clear and black, save for a stray errant cloud, shining bright by a silvery moon.</p>

<p>It wasn’t.</p>

<p>It was still barely midday.</p>

<p>John alighted on the top of the astronomy tower and took a deep breath. It was by far the tallest tower in the whole castle, and so was perfect for this ritual. After he’d done this one, maybe he’d go through some of the others. There were all kinds. Rituals to increase reflexes, rituals to increase will power, even one ritual to fix his eyesight — heaven knows he’d have appreciated <em>that</em> one ages ago, even if it did require ripping the still-beating heart out of a pig.</p>

<p>John flipped the book back open to the page with the ritual and started his preparations.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“There!” Susan said excitedly, while still trying to keep her voice under control. “On top of the astronomy tower!”</p>

<p>Virgo squinted up and did indeed see a small figure right on the edge of the tower. “What the hell is he doing up there?”</p>

<p>Susan gasped. “He’s not going to jump is he?”</p>

<p>“He bloody well better not,” Virgo muttered. “No… it doesn’t look like that…. I think….” Her eyes widened in shock. “No! He’s not going to— that idiot!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It was such a simple ritual, John mused. Chant the words of the ritual near a place of intense magical power while channelling your magic into the ground below your feet, and then stand on one foot for five minutes over a hundred feet above the ground. That was it. Well, Hogwarts was undoubtedly a place of intense magical power, and this tower was well over a hundred feet above the ground. And if he stood just so, in the event that he really did lose his balance, he could just put his foot back down and try again later.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Back downstairs, a distracted Susan allowed Virgo to use her Lamia form to hiss one of the locked doors open. She didn’t want Susan knowing about her animagus ability yet. They were now hurrying along one of the corridors towards the astronomy tower.</p>

<p>“What’s he doing?” Susan gasped out.</p>

<p>“Balance ritual,” Virgo spat over her shoulder. “The idiot thinks he’s outsmarted it. Second rule of ritual magic—”</p>

<p>“—Never try to outsmart the ritual.”</p>

<p>“—Never try to outsmart the ritual.”</p>

<p>The two voices perfectly synced into each other. Virgo looked briefly surprised at Susan whose eyes were now wide with alarm, but then, the Hufflepuff <em>was</em> an heiress, so if anyone as young as her would know, it would be her. “We have to stop him,” Susan squeaked.</p>

<p>“Yes.”</p>

<p>“We should tell someone.”</p>

<p>Virgo couldn’t allow that. She shook her head fiercely. “No! If we tell someone John will get in huge trouble.” And besides, she thought, she didn’t want to stop him doing rituals completely. She just needed to make sure he didn’t kill himself doing them.</p>

<p>Just then, Virgo rounded a corner, saw who was down the corridor with their backs to them, and just managed to clamp her hands around Susan’s mouth before the older girl let out a meep that would have given them away. Together they edged back around the corner before the two on-guard aurors, dressed and shielded with full dragon-hide and iron, saw them.</p>

<p>“That was Thicknesse and Blott,” Susan whispered. “Auntie says Thicknesse is a real piece of work. She’s always having to keep an eye on him.”</p>

<p>“Not the understanding sort then.”</p>

<p>“No.”</p>

<p>“Disillusionment charms, I think.”</p>

<p>“Yes.”</p>

<p>“HEY!” shouted a loud voice. “WHO GOES THERE?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The last words of the ritual fell from John’s mouth and he allowed himself a small smirk of satisfaction as he raised his leg into the air and grabbed it by one hand like a child playing hopscotch. A faint circle of red light lit up around him, including the large drop to the ground, far below, but, more importantly, also including the crenellation he stood atop.</p>

<p>Then, suddenly, something felt wrong. He felt himself getting lighter.</p>

<p>“Wha—”</p>

<p>It was like someone had cast a levitation charm on him.</p>

<p>“What’s going—”</p>

<p>He started lifting up into the air.</p>

<p>“ooooOOOON!”</p>

<p>The ground fell away and, still clutching desperately at his leg, his whole body rose up into the air, higher and higher. Sweat started beading on his forehead. His heart started beating faster. And still the ground was falling away below him.</p>

<p>After a few more seconds, although it felt like a lifetime, the levitation stopped, and he felt his weight reassert itself, except he now stood one-legged on an invisible floor, well over a hundred feet above the tower, and the ritual had moved him, not just up, but also across. He was now right over the tower’s sharp spire tip.</p>

<p>What would happen now if he put his foot down?</p>

<p>Oh, Merlin. Oh, Merlin. Oh, Merlin.</p>

<p>His every sense became hyper-focused. The feel of the leather in his quidditch trousers pressing hard against the hand holding his foot up, rapidly moistening with sweat. The glare of the sun in his eyes. The vast distance of horizon spreading out far across the land. The lake. The forest. The village. And below him, far, far below him, the castle, and even further than that, the ground.</p>

<p>Breathe! John shouted in his mind. Don’t panic — just five minutes. He could do this. He was the best quidditch player in Hogwarts. Except, he wasn’t. Ginny was better. No! Focus! Don’t think about that. And don’t think too much about your leg. Just — don’t — think — about it.</p>

<p>His balancing leg twinged a warning of staying in one position too long.</p>

<p>An ominous breeze brushed across his hair.</p>

<p>John whimpered.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“They’ll catch us!” Susan wailed, only not really. A wail isn’t usually so quiet that an owl would have difficult catching it.</p>

<p>“No,” Virgo said urgently, leading her down another passageway at a dead run. “Trust me.”</p>

<p>“But this isn’t the way to the tower. Maybe we should just tell them? Then at least John will be okay.”</p>

<p>“Trust me!” Virgo pulled her into an alcove. “Just promise me something.” Her voice had become reluctant.</p>

<p>“What?”</p>

<p>“Promise me you won’t tell John about what I’m about to do.”</p>

<p>“What?”</p>

<p>“No time!” Virgo hissed. “Do you promise?”</p>

<p>Susan frowned. “Okay, yes, I promise.”</p>

<p>Virgo nodded and changed.</p>

<p>Susan stared, wide-eyed, as the first-year Gryffindor transformed before her eyes, her legs morphing together and stretching out behind her into a massive snake tail while the clothes on her upper body just sort of vanished into her skin, leaving her still-human body extremely underdressed, save for a set of scarlet scales covering her feminine chest from total exposure.</p>

<p>It was a lamia.</p>

<p>Virgo Malfoy was a lamia animagus!</p>

<p>Susan had little opportunity to gape though, because the mythical magical creature in front of her hissed at the wall of the alcove, a secret passageway opened up, and moments later, she’d been yanked inside by a tail far more powerful than any eleven-year-old girl should be.</p>

<p>The passageway closed behind them.</p>

<p>“Where are they?!” shouted the voice of one of the aurors.</p>

<p>“We’ve lost them,” said his partner, at a far more normal voice volume. “This place is a maze — never could get the hang of it, even by seventh year.”</p>

<p>Susan followed Virgo as the younger snake-girl continued to lead the way through the castle that she seemed to know amazingly well for a first year, her tail and body sweeping a path through the dust and grime of decades. A quick pulse to her mind brought her occlumency into sharp focus. She narrowed her eyes. “Virgo.”</p>

<p>“Mmm?” Virgo turned back to look at her. Her face was one of almost total innocence, tinged with perhaps a dash of apprehension.</p>

<p>“I will honour your request regarding Heir Potter, but have no doubt that soon you and I <em>are</em> going to have a long chat about this.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>It had to be five minutes soon. It had to be.</p>

<p>High up in the air, John was sweating bullets. He’d already almost lost his balance twice. His hands were shaking and not from the unrelenting cold wind blowing him about this way and that.</p>

<p>Suddenly, two figures barged out of the door leading to the Astronomy classroom.</p>

<p>His heart leapt.</p>

<p>“Help!” he screamed.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Keep it quiet, fool!” Virgo shouted back. “Do you want to get caught?”</p>

<p>“I don’t give a FUCK about getting caught!” John screamed back. “Just get me <em>down</em> from here!”</p>

<p>“Easier said than done,” Virgo muttered. “Working on it!” she called back.</p>

<p>“His broom!” Susan said. She’d already snatched it up and was busy mounting it.</p>

<p>“Good thinking, but don’t get too close!” Virgo barked. “This ritual is highly volatile. Even small magics can interfere. And he hasn’t even taken his clothes off!”</p>

<p>“How close is too close?”</p>

<p>“Hover twenty feet below him.”</p>

<p>“I can’t catch him if he falls twenty feet!”</p>

<p>“You don’t have to catch him. You just have to slow him down. I’ll handle the rest.”</p>

<p>Susan nodded and shot up into the air. “No levitation spells!” Virgo called after her as an afterthought.</p>

<p>It took a few moments to prepare her part of the operation, and not a moment too soon.</p>

<p>“AHHHHH!” John screamed as the worst happened. Arms spinning like a catherine wheel, he spun on one leg, and, ever so slowly, toppled over. What happened next was decidedly not slow. He collided with Susan—“OOF”—hovering below with one arm outstretched, they dipped, but Susan didn’t dip far enough, quickly enough, and John’s tentative grip failed him.</p>

<p>“AHHHHHH!”</p>

<p>He fell, right into the massive cloth trampoline Virgo had conjured off to one side and rolled across the ritual space at just the last moment.</p>

<p>“Susan, get away!” Virgo shouted, grabbing John and hauling him as far away from the space as she could, using the smallest amount of magic she dared. She ended on top of him as they rolled to a rough and tumble stop. Behind them, the conjured material of the trampoline was busy ripping itself to shreds in the light of the failed ritual.</p>

<p>Virgo took a deep breath. Safe.</p>

<p>“John!” Susan alighted next to them and was on her knees in seconds. “Are you alright?”</p>

<p>John just stared at the still-self-shredding material with wide eyes.</p>

<p>“He’s fine,” Virgo muttered. She climbed off of him and glared. “But what the <em>hell</em> was that?” she spat.</p>

<p>John’s eyes travelled to her. “I…” But he didn’t seem able to finish the sentence.</p>

<p>“You, what?” Virgo continued. “Just couldn’t wait? You know I would have helped you if you’d asked for it.” She glanced at Susan. “<em>We</em> would have helped. I get that you need to get stronger — I get that, but we have time. We have seven whole years until we graduate—six. What’s the god damn rush?”</p>

<p>“John, what’s going on?” Susan pleaded, eyes wide and watery. “Please, won’t you tell us?”</p>

<p>John swallowed.</p>

<p>Virgo thought she was ready to hear anything. She was expecting him to spout teenage bravado about protecting her. She was expecting him to reveal that someone was blackmailing him for some petty reason. Or that his parents had trained him from childhood for his own protection against her other self’s death eaters.</p>

<p>What she wasn’t ready for, was for him to look them both in the eyes—eyes filled with apprehension and not a small amount of shame—and mutter, “I’m a time traveller.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Kill the spare,” said a high and terrible voice.</p>

<p>There was a flash of green light.</p>

<p>John Potter looked around in stupefied horror as Cedric Diggory fell to the ground beside him, dead. The sun chose that moment to fall below the tree line, shrouding the graveyard in a foggy chill.</p>

<p>Dead. Cedric Diggory was dead.</p>

<p>“Bind him,” said the same voice.</p>

<p>The next thing John knew, he’d been restrained with ropes and tied to a gravestone.</p>

<p>The cowl of the man in front of him slipped from his face, and John let out a scowl. “You!”</p>

<p>Lord Lucius Malfoy gave him a sneer. “Me.”</p>

<p>“You won’t get away with this.”</p>

<p>“Oh, dear,” said the voice from the cauldron. “Did he really just say that? No matter. Start the ritual.”</p>

<p>John screamed in pain as blood was taken from his arm. He watched in horror as Malfoy cut off his own hand. And he gazed on uneasily as the first lord of the Dark used his still-remaining hand to unscrew the lid off a jar and pour bone dust into the bubbling pot, along with the blood and flesh.</p>

<p>Voldemort rose from his metal womb, and more death eaters arrived. He addressed them.</p>

<p>“—But what’s most amusing of all!” Voldemort chuckled to the skull-masked crowd, halfway through his speech. “Is that my truest enemy isn’t even here! He rots in Azkaban! Isn’t that so, fake boy-who-lived?”</p>

<p>The skull masks all laughed, and John felt the shame burning harder than the stab wound in his arm.</p>

<p>He was untied and handed back his wand.</p>

<p>“And now, fake boy-who-lived, we duel.”</p>

<p>The patronus knight burst from John’s wand, strong, blindingly light, and instantly crushed with a careless flick of Voldemort’s wand.</p>

<p>“Crucio,” Voldemort said carelessly.</p>

<p>Pain screeched through him.</p>

<p>The skull masks all laughed again.</p>

<p>Fake. Fake. Fake.</p>

<p>“And now, fake boy-who-lived, time to die. Don’t worry, I will keep your brother safe. He is, after all, very important to me, in a way you could never be.”</p>

<p>There was a bright flash of green light, and his world went dark.</p>

<p>He didn’t know how long he didn’t exist for.</p>

<p>“Good morning, Heir Potter.” A four-word sentence, male, in a voice of stone, empty caves, and deep gulps of fresh mountain air.</p>

<p>John opened his eyes and raised his head. The room was like an Anglo-Saxon roundhouse — one of a great chief — fur everywhere, weapons lining the walls, wild-looking dogs in a pile by the door. Two people sat in thrones before him — a man and a woman. The man looked vaguely swarthy, while the woman looked kind of like Lady Greengrass. The man held a scythe, while the woman was dressed in white lace and held a book.</p>

<p>He frowned. “Who are you two?” His eyes widened. “What happened to Voldemort?! Where are we? Are you with him?!”</p>

<p>The woman held up a hand. “Please, Heir Potter. We do not have much time. We are not associated with your Dark Lord. We are Fate and Death.”</p>

<p>“Fate and Death?”</p>

<p>“Yes,” said the man, “Because, you see, you, Heir Potter, are dead, although I suppose technically, that makes you no longer an heir as far as your Albion Magics are concerned.”</p>

<p>“Dead?” His eyes widened. The Avada Kedavra!</p>

<p>“Dead,” The woman confirmed. “But we are not done with you yet, Heir Potter. We are displeased that Voldemort still lives. Cheating Death — cheating <em>me, </em>in the manner he has — is not acceptable. So we wish for you to go back — back in time, fours years — and give it another shot.”</p>

<p>John blinked. “Back in time!? You can do that? Brilliant. But…” He hesitated. “What about my brother, he’s the real…”</p>

<p>Death smiled. “Yes, he is the subject of the prophecy, but we are giving <em>you</em> the chance, John, to fulfil the prophecy in his stead. Bringing your twin to us now would be troublesome. Our influence in the mortal plane is extremely limited. We can generally only operate through chosen ones and champions.”</p>

<p>John’s mouth slowly turned to a wide grin. “Really? I’ll be the chosen of Fate this time?”</p>

<p>“Yes.”</p>

<p>He hesitated again. “And, my heirship?”</p>

<p>“Once you are alive again, the Albion Magics should re-acknowledge you. Tracking them is difficult, and not even we fully understand them.”</p>

<p>“Oh, good.”</p>

<p>“Then, off with you.” The man carelessly waved his hand, and John felt himself blasted backwards through some kind of portal thing, and back into nothing — a nothing where everything was…</p>

<p>Quiet. Quiet and warm. And comfy. Quiet, warm, and comfy. John Potter’s eyes shot open. He sat bolt upright and looked around. He was home. The familiar red and gold of his bedroom in Potter Manor felt odd now. Like seeing an old friend after a lifetime. He breathed, acutely aware of the lack of pain shooting through his body. He couldn’t feel the cruciatus. But, of course. It hadn’t happened yet. None of it had happened. The stone, the Chamber, Pettigrew’s breakout, the tournament, Voldemort’s resurrection… his death — none of it.</p>

<p>He’d been given a second chance. Death and Fate had chosen him. His eyes gleamed.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Virgo eyed John Potter carefully.</p>

<p>Susan was gazing at him with wide eyes.</p>

<p>He finished the story and looked between the two of them.</p>

<p>Virgo’s voice had become soft. “It all makes so much sense now.”</p>

<p>“What?” John asked.</p>

<p>“Everything.” She hesitated. “Mostly.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Several days later, Harry opened his eyes. He was lying by the door to the soul chasm, a petrified Luna next to him. Moments later, she too was de-stoned.</p>

<p>“We’re back again,” Luna said softly.</p>

<p>“Seems like it.”</p>

<p>“I wonder how long we’ve been out.”</p>

<p>“Let’s find out.”</p>

<p>They made their way back to Harry’s mindscape, and Harry carefully woke up. A small crowd surrounded his bed in the hospital wing — his mother and father, John, and interestingly, Virgo, who was regarding him with an extremely calculating gaze.</p>

<p>He smiled thinly. “Good to see you are well again, Miss Malfoy.”</p>

<p>“You too, Mister Potter.”</p>

<p>For their part, Lily and James Potter played the role of concerned parents well, and Harry had to admit that, if he were so inclined, he’d quite appreciate the effort.</p>

<p>Lord and Lady Lovegood were there too, standing with Luna and conversing in hushed voices.</p>

<p>Apparently there were only a few days of school left. That left a ridiculously large amount to catch up on in an equally ridiculously small amount of time. The preparations for the winter festivals among other things. In a little under a week, well over a hundred wizards and witches would descend on Slytherin Manor, and he had to be ready for them.</p>

<p>Soon, his family left and his other family, his real family, arrived.</p>

<p>“Harry!” Hermione squealed. “I’m so glad you’re back.”</p>

<p>“Yes, she’s been very worried,” Daphne added.</p>

<p>Ginny smirked. “Don’t give him that — you’ve been the most worried of all of us.” To which Daphne blushed.</p>

<p>Harry smiled widely. “Can I assume our favourite dark witch is well? I don’t see her in any of these beds so I assume nothing too bad happened.”</p>

<p>“She’s still in the snake pit,” Daphne replied. “But it wasn’t <em>her</em> that you almost woke up next to as well as Luna.”</p>

<p>Harry gave her a quizzical look.</p>

<p>Daphne lowered her voice. “We’re not one hundred per cent sure, but we think Virgo tried to murder Ginny.”</p>

<p>Harry’s eyes hardened. “Oh, she did, did she?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>And so the fall term came to an end. No one, it seemed, was staying at Hogwarts this year. Everyone was packing up in preparations for a packed holiday schedule.</p>

<p>Virgo found herself not looking forward to leaving, but then, the school had always been one of her only two real homes — Hogwarts and Stockholm, but Stockholm was a place she could never return to, no matter how much better a childhood it had provided than the orphanage.</p>

<p>She chatted with Susan for most of the trip back to London, simply enjoying being a pre-teen girl, before the reality of her current situation imposed itself on her again.</p>

<p>Lord Malfoy stood at the end of Platform 9 3/4, tall and imperious, next to his wife Narcissa — her mother.</p>

<p>Virgo’s face slid into an expressionless mask as Draco, her older brother, found his step alongside her.</p>

<p>“Father — mother,” Draco said.</p>

<p>“Draco.” Lord Malfoy nodded to him, then to her. “Virgo.”</p>

<p>Virgo curtseyed, not so high as to indicate disrespect, but high enough to communicate a slight assertiveness, or, if one didn’t know her fake true identity, defiance. She was very aware of John’s eyes on her from the other side of the platform. She rose. “I hope I find you both well.”</p>

<p>“Quite well,” Narcissa hummed. “But we’ll leave the pleasantries for when we return to the manor. The house elves will have dinner waiting for us.”</p>

<p>Later that night, Virgo lay alone in bed, staring at the ceiling while the moonlight streamed in through the gap in the massive curtain windows.</p>

<p>John Potter was a time traveller, killed by her other self in the future and sent back to the past as a champion of Death to destroy all of Voldemort’s horcruxes, which, worryingly, obviously had to include herself. On the other hand, Death hadn’t actually <em>told</em> him about the horcruxes, or anything that might help him in his task, which was a blessing while at the same time being rather odd.</p>

<p>Potentially, <em>she</em> could tell John all about it instead — she and Susan <em>were</em> now accessories to long-term time travel, a crime so serious that she didn’t even want to think about the consequences if anyone found out, and so a certain amount of trust could be relied on, but… no. She wasn’t willing to gamble her own life on a coin toss like that, not when there was another option.</p>

<p>Virgo rubbed her temples.</p>

<p>Death didn’t like horcruxes. She really wished she’d known that little tidbit of information before she’d created one, and probably the six others that came after her too. A near-godlike being didn’t like horcruxes to such an extent that it was willing to expend not even Merlin knew how much magical power in sending a champion—and apparently his twin too—back in time to destroy them. She really didn’t like those odds.</p>

<p>But being destroyed didn’t have to be her fate. No, she could fulfil Death’s quest on her own terms. After all, it wasn’t her destruction Death sought, just her immortality through that particular method.</p>

<p>If she found all the horcruxes, destroyed each of them in turn, and used the reconstitution ritual to absorb each piece back into herself, she could keep her own identity as the prime Dark Lady, while giving Death no more reason to stalk her.</p>

<p>She shuddered.</p>

<p>And as for immortality… well, if the Flamels could get away with living for so long using a philosopher’s stone, then apparently that was a method that Death <em>didn’t</em> disapprove of… probably. She’d certainly considered alchemy as a path before, but had never been that interested when there was a much faster option available. She was the greatest witch that ever lived. If anyone could replicate Flamel’s feat, it would be her. But all this was moot until she’d solved her horcrux problem.</p>

<p>Virgo closed her eyes.</p>

<p>When she opened them again, she was back in her mindscape.</p>

<p>There had been changes.</p>

<p>Hogwarts was now covered in a thick winter snow. Not thick like the marzipan on a wedding cake, like the snow she’d just left behind in Scotland, but thick like the winters of Sweden — so thick her eleven-year-old self could barely lift her leg up and over to take the next step forward. She melted a path to the front gate with her wand and dismissed the huge basilisk guardian with a hissed command in lamia form.</p>

<p>Tentatively, she opened the front gate.</p>

<p>The soul chasm beyond was everything she dreaded — an empty hole to nothing, hanging below a bridge as insubstantial as a human thought. She tried to reach out her magic senses across the space, trying to get a feel for which of the threads that now stretched taut from her chest might be the nearest to follow, but it was obviously a trick she’d need to work on.</p>

<p>In the end, she picked one that felt at least a little closer than the others, and started tiptoeing across.</p>

<p>She didn’t know how long the journey took. In the back of her mind, she imagined Narcissa trying to wake up her body, only to find it in the same comatose state she’d been in not that long ago, but no. It hadn’t been <em>that</em> long. Eventually, she saw her quarry off in the distance.</p>

<p>The sight puzzled her.</p>

<p>She hadn’t been sure what kind of mental representation another horcrux would have, but Azkaban Prison certainly wouldn’t have been her first guess.</p>

<p>Slowly, she edged her way towards it.</p>

<p>Less than thirty feet away, something gave a horrible creak sound.</p>

<p>She froze.</p>

<p>Then, like something out of a horror movie, the big doors to the prison swung open, revealing a tall, cloaked figure, in a green and black mask. Lord Slytherin.</p>

<p>“Hello, Miss Malfoy,” he said, sounding pleasant, before his tone dropped to something far sterner and altogether less pleasant. “I’ve been hearing that you’ve been a very bad girl.”</p>

<p>That was all the warning she got before ropes flew at her through the darkness. Panicked, she cut through them with her wand, only to catch a glancing blow from a tripping hex. She found her feet again, but that was all the opening her opponent needed to cast another incarcerous, this one successfully wrapping around her arm.</p>

<p>“No!” She was pulled along the thin bridge towards the prison door. In less than a few seconds, she’d been dragged halfway. If she passed through them, that was probably the last anyone would ever see of her.</p>

<p>Virgo moaned. Her plans, her ambitions, her potential!</p>

<p>But, amazingly, with less than ten feet to go, she halted. Not because Lord Slytherin had ceased his pulling, but because something <em>else</em> wrapped around her other arm and stopped her dead. It was a chain — a black chain. Her arms pulled out on either side of her, yanking her up so her feet didn’t even touch the bridge.</p>

<p>“That’s enough of that,” a voice said.</p>

<p>Virgo looked around desperately. There, on another bridge angled off in another direction, was another man. He too was tall and masked, but his mask was a far more traditional one — traditional at least, if you were a follower of Lord Voldemort. It was a skull, and from his neck dangled an artefact that Virgo had only ever seen and read about in books from the Hogwarts library. Slytherin’s Locket.</p>

<p>For a long moment, the three of them stood there, the two adult wizards and Virgo, stretched taut over an endless chasm by a rope and a chain between them.</p>

<p>Lord Slytherin inclined his head slightly. “RB.” It was not a statement of inquiry, more a declaration that a small puzzle, one that had nagged the mind for quite some time, had finally been solved.</p>

<p>The man in the skull mask inclined his own in acknowledgement. “LS.”</p>

<p>What happened next was over in seconds.</p>

<p>RB, whoever that was, shot something purple straight at Lord Slytherin, who countered by conjuring a solid concrete slab in front of him, which shattered into a thousand pieces on impact. Virgo was thrown directly backwards, both rope and chain loosening around her wrists, giving her just enough time to scrabble away down her bridge as the two adult wizards let loose the magics of hell on each other. The temperature of the soul chasm soared as she crawled back to safety, and when she finally got back to the gates of her own mindscape, it was to find much of the snow leading up to the castle already melted, such was the heat of the power struggle behind her.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Less than fifty kilometres away, from Wiltshire to Puddlemere, Harry sat bolt upright in bed, sweating and clutching at his head, which already had started to throb with a truly magnificent headache. They’d both retreated in the end — an end which had started quite soon after the fight had begun.</p>

<p>“Damn it,” he muttered.</p>

<p>Slipping to the side of the bed, he slipped on his slippers and padded down the stairs of the grand ballroom at Potter Manor, completely still in the dead of night, not caring a hoot if anyone caught him at such a late hour. He made his way over to the main entrance floo, threw in a pinch of powder, and flew on through to the only address this particular floo would allow him access to.</p>

<p>He stepped into the living room of the other house, tiptoed up through the many floors, and quietly knocked on a bedroom door.</p>

<p>“Alex?” he whispered into the dark room.</p>

<p>“Whaaa?” Alex looked around groggily.</p>

<p>“Alex, something just happened, and I think you have a right to know about it.”</p>

<p style="text-align: center;">— End of Chapter Fifty-one —</p>

{1085} [highly volatile]: John tried it inside of Hogwarts' wards and there were no real consequences. Is that in line with the highly volatile part?
