Chapter 52 - Interlude - This is the house that Floating-Interest built

<p>Within the Slytherin girl’s second year dormitory, next to Hermione’s bed, inside Hermione’s trunk, five girls sat in a circle of chairs, pointedly not meeting each other’s gaze.</p>

<p>“I just want to make one thing absolutely clear,” Daphne said in a careful voice, having chosen the ceiling as her staring partner. “We are all responsible young witches — educated, and well-trained in the mind arts.”</p>

<p>“Yes, Daphne,” Luna, Hermione, Ginny, and Alexandra all responded.</p>

<p>“We are not irresponsible children with the self-control of a niffler.”</p>

<p>“No, Daphne,” the girls chorused.</p>

<p>“When we make decisions, they are measured. They are well thought out. They are calculated. We have all been taught about the importance of family finances and how to balance an account book.”</p>

<p>“Well, actually—Ow!” Alexandra shoved Ginny’s elbow back out from her ribs and scowled at the girl’s frantic eyebrow wiggling.</p>

<p>“So when a time-sensitive opportunity presents itself, we carefully weigh up the pros and cons,” Daphne continued, completely ignoring the interruption.</p>

<p>“Yes, to do anything less would be an insult to everything our lord has done for us,” Hermione nervously spoke up. “And for what it’s worth, I have got a list of all my pros right here—”</p>

<p>“Yes, thank you, Hermione, but we—”</p>

<p>A huge parchment unrolled itself from Hermione’s hands, hit her feet, and continued to unroll itself along the floor.</p>

<p>“—will only even consider these things <em>if</em> Harry’s meeting with Ragnok goes well.”</p>

<p>“Of course,” Hermione squeaked. “Obviously Harry has the final say.”</p>

<p>Daphne nodded. “He has much more experience than us.”</p>

<p>“I really hope he likes my Sssss idea,” Luna said with a smile, hissing the penultimate word.</p>

<p>“Luna, you are not going to ask Harry about your Sssss idea.”</p>

<p>Luna pouted. “Why not?”</p>

<p>“Because such extravagance is unbecoming of a lady of a noble house, because such things are highly inappropriate, and because… because….” Daphne looked into Luna’s curious, friendly eyes and gave up. “I just want to make one thing absolutely clear.”</p>

<p>“Yes, Daphne?” the girls asked.</p>

<p>“We are all responsible young witches — educated, and well-trained in the mind arts, and we are not irresponsible children with the self-control of a niffler.”</p>

<p>“Yes, Daphne. No, Daphne.”</p>

<p>“And we are only going to trouble Harry with our extremely well thought out and entirely reasonable ideas, if, and only if, his meeting with Ragnok goes beyond and above expectations.”</p>

<p>“Yes, Daphne.”</p>

<p>There was a knocking on the trunk lid.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>On the outside, Harry carefully opened the lid of Hermione’s trunk, climbed in, and cancelled the disillusionment that had allowed him to sneak into the girls’ dormitories. They were all there. All eyes on him.</p>

<p>“Excellent news,” he said. “Ragnok has had our initial artefacts valued in the upper range of our estimates, for both the muggle and the Wizarding Worlds. He also believes that the legal problems we might experience from selling in the Muggle World can be handled. Even better, he’s agreed to extend us additional credit based on your memories of the haul. All in all, everything went massively beyond and above expectations.”</p>

<p>He sat down in the remaining armchair.</p>

<p>As though on some prearranged signal, both Hermione and Daphne stood up with parade-like precision. He felt his chair move and looked around to find a grinning Ginny turning him towards the blackboard Hermione used to teach the muggleborns.</p>

<p>Hermione then stepped in front of said blackboard, and summoned a piece of chalk. “Right, um, Harry, we, err, have some ideas…”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Some time later and three hundred kilometres away, as the owl flies, on the sloping lawn outside Slytherin Manor, the gobliness Floating-Interest, daughter of Ragnok Boneslicer, and head goblin on the Slytherin Manor building project, read the letter that her father had just forwarded to her in utter disbelief.</p>

<p>“They want <em>what</em> by <em>when</em>?!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 20 days</strong></p>

<p>This is the house that Floating-Interest built. It sits proud on the very most top point of Gairsay Island, in the Scottish Orkneys — a respectable manor in white granite and brick tile. The roof beams are oak — the first two floors, polished marble. The third floor was cedar, and the windows sparkled in the morning sun.</p>

<p>It was impressive. It screamed wealth.</p>

<p>One thing it was not, was outlandish. In much the same way that architects and designers have a tendency to go totally bonkers with their blueprints whenever science comes up with a new material that allows new possibilities, only to then dial back their enthusiasm several decades later, so magicals have had a tendency, throughout the centuries, to construct their homes and places of work, less with an eye to practicality, and more towards putting that prestigious Hogwarts education to really creative use. Hence, size ten-thousand boots, houses shaped like rooks, and banks purposefully designed to look like a Roman temple had melted.</p>

<p>This tendency was generally for the eccentrics only.</p>

<p>Most magical builders followed traditional muggle-style, grudgingly acknowledging that their physics-based approach, taking such petty things as loads and tension into consideration, did have its advantages in those rare cases where the magic might possibly fail — hence the granite, marble, and wood for Slytherin Manor, as opposed to say, ice, gingerbread, or pudding. It was this level of restraint and subtleness that Floating-Interest had been administering the construction project under. At least until the letter from her father had arrived.</p>

<p>Floating-Interest glared as she read the letter again.</p>

<p><em>To Floating-Interest,</em></p>

<p><em>Daughter,</em></p>

<p><em>Slytherin wishes to make some last minute additions. I wouldn’t normally agree (if they want changes, they should bloody well ask for them earlier), but Slytherin is a special case. Some of it will require ministry approval. Other bits will need family contracts. Everything must be complete before Gala Night. I will arrive three days before to inspect before handing it off to our client’s representative. Get it done. I’m confident you will.</em></p>

<p><em>Father,</em></p>

<p>— <em>Ragnok Boneslicer</em></p>

<p>Floating-Interest then glared at the list of additions that she’d been given.</p>

<p>Behind her, half-a-dozen house-elves in lime-green pillow cases were hanging from ropes and using brushes to stain the wood, which framed the stone entranceway, while several other goblins were manoeuvering a large sofa in through a window. A lone wizard, down the hill, was tending to some newly planted shrubs.</p>

<p>“Junk-Bond!”</p>

<p>One of the goblins struggling with the sofa turned around and trotted over, leaving his fellows bent like compressed springs. “Miss?”</p>

<p>“We’re going to need to alter our plans. The big wizard in charge has had a sudden attack of money and wants more gong for his gold.”</p>

<p>Junk-Bond looked cautious. “What kind of changes?”</p>

<p>Floating-Interest showed him the list.</p>

<p>“Whoa. This here.”</p>

<p>“Yes.”</p>

<p>“And that there.”</p>

<p>“I know.”</p>

<p>“But, this is going to need family magic.”</p>

<p>“Yes.”</p>

<p>“And the deadline for completion is really soon.”</p>

<p>“I <em>know</em>. I need you to talk to our people in the human-liaison office. See if they can help us smooth the way. Slytherin’s name should help there too. Gold talks — at least, to humans it does.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 18 days</strong></p>

<p>Slytherin Manor was bustling. What before had the air of a long project winding down, now was ladened with last-minute hustle, and occasional panic. Goblins, wizards, and house-elves ran from place to place, measuring, designing, assessing, and above all, arguing.</p>

<p>“It absolutely can not be done!” said an old wizard with a bald head and a long grey beard. “The number of charms, the way they intercross with each other, and you want it all done while working on other projects? Lunacy I say.”</p>

<p>“Lord Hawking,” Floating-Interest said in her best placating voice (her wizard skills were one of the main reasons she’d been given the project in the first place). “I know it looks difficult, and I can fully understand if you might be nervous about it—”</p>

<p>“Nervous? I’m not nervous, young woman—goblin—gobliness. I’m merely saying that the house of Hawking has never taken on such a large scale project on such short notice. Our space contraction charms are not last minute additions crammed in because someone wants a secret broom-cupboard.”</p>

<p>“No, of course not, lord wizard, and I assure you, there were extenuating circumstances that precluded your involvement before this. I’m sure Lord Slytherin will appreciate the difficulties and be very understanding.”</p>

<p>“Non-euclidian geometry isn’t a panacea,” Hawking warned with a wagging finger. “Without the proper foundations, it’ll all fall apart.”</p>

<p>“We designed the entire building assuming that your involvement would eventually be inevitable, lord wizard. The plans are right here.”</p>

<p>Still grumbling, Lord Hawking bent over to inspect them. “Well, at least you’ve got the walls good and thick,” he muttered. “You’d be amazed by the number of wizards who’ve asked us to build a cathedral between two bits of plasterboard. Exactly <em>how</em> understanding will Slytherin be, do you think?”</p>

<p>“Up to fifty per cent extra per square foot understanding, lord wizard.”</p>

<p>Lord Hawking settled down “Well, I suppose my grandson and his young wife do need some practice at these more hands-on kind of projects. Far too busy locked up in their attic lately, those two. I’ll send them down and be on hand as needed.”</p>

<p>“Thank you, Lord Hawking.”</p>

<p>Lord Hawking scrunched up his nose. “What’s this small room I’ll need to make room for here marked, Sssss?”</p>

<p>Floating-Interest didn’t miss a beat. “Lord wizard. That’s a Slytherin family secret.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 17 days</strong></p>

<p>“So, you’ll be needing a dozen extra house-elves over the next few weeks.” Lord Parkinson strode briskly through the latest consignment of construction materials and furnishings, occasionally glaring at piles of chairs or floor tiles, paying no heed whatsoever to his interlocutor’s shorter gait. Floating-Interest was forced to jog to keep up. “The winter festival is a busy time of the year for my workers, goblin.”</p>

<p>“Yes, lord wizard.”</p>

<p>“Luckily for you, I have a few extra hands available.”</p>

<p>“Wonderful.” Floating-Interest paused to catch her breath.</p>

<p>Lord Parkinson turned to face her. “I’ll have them sent around immediately. Mimsy!”</p>

<p>One of the lime-green clothed house-elves popped into being in front of them.</p>

<p>“Go back home and fetch team six. When you’re done, I want another stock taking on the stuff we’re sending over here.”</p>

<p>Floating-Interest looked at him with concern. “Lord wizard?”</p>

<p>“I can’t help notice that we occasionally seem to lose track of things we send over. Wood and stone not used for anything on the plans — extra doors, furnishings, etc.”</p>

<p>Floating-Interest coughed nervously. Hawking’s grandson had arrived that morning and already got to work on some of the smaller secret rooms and passageways. “I can’t imagine that’s worth worrying about,” she said. “I take it nothing has been lost that has not been paid for?”</p>

<p>Lord Parkinson gave her a look. “No, but it is disconcerting. I am not used to things going missing in my business. I will have to bring this up with Slytherin himself when I finally get to meet him.” Lord Parkinson then turned his back on the furniture.</p>

<p>The moment he did so, Plato popped into being, grabbed one of the larger chairs, and popped back out.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 16 days</strong></p>

<p>“Floating-Interest, Miss!” Junk-Bond screeched to a halt. “We’ve got everything we need for the rooftop project.”</p>

<p>“Excellent,” Floating-Interest snapped. “But can’t you see I’m a little <em>busy</em> now?”</p>

<p>“Oh, I don’t mind,” said Lord Lovegood with a genial smile. “You just continue.”</p>

<p>Floating-Interest gave the young goblin a glare that caused him to wither. “Start on phase one immediately, but don’t interrupt me again if I’m with the humans!”</p>

<p>“Yes, Miss,” Junk-Bond stammered before darting off again.</p>

<p>“Seems eager to please, that one,” Xenophilius said.</p>

<p>“Young males often are.” She sighed. “Unfortunately, eagerness is not the same thing as capability.” She shook herself. “Shall we?”</p>

<p>Lord Lovegood smiled and turned his back to the gobliness. In front of him rose one of the many staircases of Slytherin Manor, in this case, the left one from the third floor to the second. He rose his wand and waved a complicated pattern, whispering incantation and letting the magic flow out of him and into the very stonework. Behind him, Floating-Interest watched in appreciation of a job being well done. Several hours of incantation later, it was complete.</p>

<p>Lord Lovegood smiled at Floating-Interest, both of them now at the top of the stairs. “Would you like to do the honours?”</p>

<p>“What?! No, absolutely not. Junk-Bond!”</p>

<p>A few moments later… “Miss?”</p>

<p>“Would you just stand right there and twist that knob at the top of the bannister?”</p>

<p>“Like this, MiIIIIIIISssssssss?”</p>

<p>Floating-Interest and Lord Lovegood watched the goblin speed away down the now transformed slide. “Luna will be so happy.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 15 days</strong></p>

<p>Mrs Thorson knew, when she had been married to the nephew of a British lord, that she’d spend much of her time devising strange new magical artefacts as the product of her husband’s family magic, and that of her father, the Sorcerer of Cochem-Zell. In her ten years of acceptable marriage, however, she’d never been asked to devise something like this.</p>

<p>“It is a most interesting idea, Fr&auml;ulein goblin.”</p>

<p>In front of her, on the lawn of Slytherin Manor, a small team of wizarding masons were sculpting a hollow snake from local stone, two feet tall and two-hundred feet long. Chalk marks had been placed at regular intervals for wooden sliding doors.</p>

<p>“A moving bookcase,” Mrs Thorson mused. “One capable of bringing a specific book to the owner on a whim. It could follow them around like a dog. Or go to fetch books from the library if needed. Swallow and sort. And live coiled among the shelves when the mistress is not home. Mmm. Whoever conceived this must be a true bibliophile.”</p>

<p>Floating-Interest nodded. “I have never met the witch in question, but I have met her parents, and it wouldn’t surprise me at all.”</p>

<p>Mrs Thornson frowned. “But even with my father and husband’s magics I will not be able to give it the final—how to say—…jolt.”</p>

<p>“Slytherin will take care of that. Parseltongue has powerful Serpenmorphic properties.”</p>

<p>“I am jealous. I could think of so many applications. Sometimes I truly curse Merlin for making the Albion.” She sat down. “I am hungry.”</p>

<p>A house-elf dressed in a crisp emerald green robe of silk popped into being in front of them, holding a silver tray. He gave her a formal bow. “Tea and biscuit, my lady?”</p>

<p>Mrs Thorson raised an eyebrow and took a biscuit. “Thank you.”</p>

<p>The house-elf bowed again, then turned to Floating-Interest.</p>

<p>To Mrs Thorson’s mild surprise, his voice shifted from the subservient tone she’d always associated with house-elves, to something altogether quite different — something more assertive — aggressive even. He smiled. “And Plato is needing an <em>immediate</em> update on the outside hill project. Master’s friends are worried it is not being ready for winter festivals.”</p>

<p>“Everything is on schedule,” Floating-Interest said shortly. “I will give you your update after our business here is complete.”</p>

<p>Plato smiled again, bowed to her, and popped away.</p>

<p>“I don’t think I’ve ever heard a house-elf speak that way before,” Mrs Thorson said.</p>

<p>Floating-Interest pursed her lips. “That’s because you are human.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 13 days</strong></p>

<p>The grand ballroom of Slytherin Manor was circular, spanning two whole floors, but Slytherin Manor itself was a rectangle. This created eight rather odd shaped rooms, each curved like a skateboarder’s ramp that had been turned up on its side. A few were earmarked for washrooms, another for cloaks, another for storage, but two of them, the second and third clockwise from the entrance on the second floor, had been put aside for the house-elves, one for living quarters, the other for kitchens, and were thus, a domain apart from wizardry.</p>

<p>“You, there! That toast is a shade too brown. Fix it.”</p>

<p>Aluminium countertops encircled the curved room like a spiky collar.</p>

<p>“No! Young Mistress Greengrass likes her egg yolks runny, but her whites hard. Do two separately and pour one into the other.”</p>

<p>Dozens of brand new magical appliances now lined those countertops, the combined literal firepower of which, when all activated at once, could turn the room from cool and sleek into a cramped and sweltering hellhole.</p>

<p>“If you isn’t getting it right this time, you will not be seeing toilet cleaning duty again for a month!”</p>

<p>Up against the one straight wall of the room, Plato hopped down from the chair he’d requisitioned from the incoming furniture pile and moved it a couple of inches to the left. It sat high up on one of the countertops and overlooked the room like a throne.</p>

<p>The rest of the room was completely empty of life.</p>

<p>“That is being perfect,” Plato said to himself. “Plato will be ready for other house-elves, but Plato will still be needing the traps, curses, and tripwires around Plato’s chair. Plato is Master’s head-elf here, and Plato will not give that up easily. Oh, no, Plato will not.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 11 days</strong></p>

<p>“Firing up this bad boy!” shouted a voice.</p>

<p>All around the grand ballroom, spell-hunters and artificers were watching with calculating eyes. Some of them were looking over the balcony upstairs to get a different angle of view. A group of goblins, house-elves, and wizards, who weren’t anything to do with the project, but who knew an excuse for a break when they saw it, crowded by the front doors, and were kept back by one of the spell-hunters.</p>

<p>In the middle of the room, the man who had shouted the warning put his wand to the jewelled eye of a bronze snake — a snake inlaid into the very marble of the floor, coiling out for several meters on all sides.</p>

<p>He sent a pulse of magic into the jewel and spoke a default password.</p>

<p>The jewel sank away and what looked like a dozen liquid woods—liquid like liquid metals—flowed out of the hole. The different streams of wood rose up and swirled into the space over the man’s head. There were Oooos and Ahhhs from the watching crowd, mostly the house-elves, but a few wizards and witches too. Slowly, the wood started to form a globe, spinning majestically in the air, each different species forming a different feature — beech for the oceans, teak for the land, rosewood for the borders between the different sovereign territories of Earth.</p>

<p>“Well, I’d say that first part is a success,” the man said, wiping his brow.</p>

<p>There was a chorus of satisfied muttering around the room.</p>

<p>Floating-Interest stepped out of the crowd and walked forward to get a better look. Each territory had a little brass knob attached to it. She turned to the man. “May I?”</p>

<p>“By all means.”</p>

<p>Floating-Interest turned back to the globe, focused on Eastern Europe, caught sight of her target, and said, “Fullmoonia.”</p>

<p>The brass knob attached to Fullmoonia turned. There was a click, and a drawer in the shape of the newest magical nation on Earth sailed down into Floating-Interest’s hands. By the time it arrived, the drawer had changed shape into something more rectangular. There was a small collection of empty vials within.</p>

<p>“Mister Wizard?” Floating-Interest nodded at the vials.</p>

<p>The wizard took one, placed his wand to his temple, and drew out a long memory strand, which cascaded into the vial. He placed the vial in the drawer, leaving Floating-Interest to speak the return command, which lifted the box back out of her hands, changing shape as it went, and sliding back into the globe with a satisfying click sound.</p>

<p>“Set year 1991,” Floating-Interest called out.</p>

<p>The whole globe dissolved, turned into a swirling maelstrom of liquid wood, and reformed into an almost identical looking globe, except this time, Fullmoonia was absent, and the drawer of Transylvania, when inspected, was empty. Another command to set the globe to 1993 produced a Fullmoonia drawer also empty. It was only once they reset the globe back to 1992, that they were able to retrieve the man’s test memory.</p>

<p>There was a smattering of applause around the room.</p>

<p>“Incredible work,” the wizard said. “I must admit, I was skeptical when you called us all together — this has got to be the most impressive memory cabinet ever created — so many different family magics — and for travel-logging of all things — most people would just use a scrapbook — but whoever devised this clearly did their homework.” He turned to Floating-Interest. “I’d like to offer them a token of my greatest respect. Such wizards deserve recognition.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 10 days</strong></p>

<p>“<em>Greatest respect</em> tastes pretty damn good,” Dan Granger declared, taking another sip of wine. “I could get used to this. A pity recognition isn’t part of our deal.” He and Emma were taking a precious moment to relax outside their cottage at the bottom of the hill, shielded from the bustle that had gripped the island over the last week. What had once been a bare Scottish island was now lush with magical foliage, but even that hadn’t blocked them off completely.</p>

<p>“Recognition would only endanger us,” Emma said. “Better we stay in the shadows.”</p>

<p>“Does make you wonder though.”</p>

<p>“What?”</p>

<p>“What other secret projects are going on in Slytherin’s name.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Albert Hawking, married with children, couldn’t hide his blush as he finished up yet another of the many secret spaces in Slytherin Manor — the Sssss room. “I don’t even know what half of these things are,” he muttered, glancing around the room. “I’m almost afraid to ask what goes on in Slytherin’s mind.”</p>

<p>Floating-Interest smirked. “I understand the idea was not his lordship’s, but rather Heiress Lovegood’s. The only input Slytherin had was to insist on an age line at all three secret passageway entrances.”</p>

<p>“Didn’t Slytherin’s second betrothed only just start Hogwarts?”</p>

<p>“Youth will always imitate maturity without truly understanding it.”</p>

<p>“In that case, I don’t want to know what maturity this girl is imitating.”</p>

<p>Floating-Interest shrugged. “It all seems reasonable to me.”</p>

<p>Albert Hawking knew better than to say something stupid like, ‘that’s because you’re a goblin,’ so he instead bit his tongue.</p>

<p>Floating-Interest gave him a sly look as though she could read his thoughts. “Power is everything in the goblin world,” she said. “Accounts are won and lost by the swing of an axe. Accounts make powerful warriors, and for the greatest warriors of all, the best breeders.” Floating-Interest shot Albert a toothy goblin grin. “That’s me, in case you were wondering.”</p>

<p>“Warrior or breeder?” someone said. To Albert’s horror, he realised it had been him.</p>

<p>Floating-Interest didn’t seem offended, however. If anything, she looked flattered. “Both, human. If I had my sword, I could cut you down before you could raise your wand.”</p>

<p>Albert didn’t doubt it. The light-green figure beside him may be half his height, and have hips and curves like some ancient fertility painting, but there was the promise of sinewy muscle, fast and powerful, under the thin layer of feminine fat. They’d left the secret room now and were in one of the bedrooms. He scratched the back of his neck, glad to be out of a room that he was sure his wife would flay him alive for having anything to do with the construction of. “I must say, you’re surprisingly candid for a goblin. I don’t think I’ve ever heard one of your kind speak so openly before.”</p>

<p>Floating-Interest gave him a kind look. “You’ve signed your memory-lock contract.”</p>

<p>Lord Hawking, Albert’s grandfather, walked into the room and pointed a wand at him.</p>

<p>Albert sighed. “Oh, right. I forgot, again.” He took off his noble house ring. “You know, I don’t think I’m ever going to get used to the way our family does business.”</p>

<p>“That’s by design,” Lord Hawking said. “Obliviate.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 8 days</strong></p>

<p>The main land mass of Gairsay was divided into three areas. The large island, which comprised about sixty-five to seventy per cent of the total, the peninsula, which was connected to the large island by an isthmus, and the small island, sitting several hundred meters off from the rest. It was on the smaller island, looking up at the feverish work going on across the water, that Floating-Interest now stood. The way she stood was tense, and this was only partly due to overwork.</p>

<p>“I certainly think you were right to consult me,” said a nasally voice beside her.</p>

<p>The wizard she was currently sharing the company of wouldn’t have looked out of character as the villain of a Charles Dickens novel. Behind her, were two male goblins with their hands on their swords.</p>

<p>“I mean, what <em>were</em> you planning to do?” the wizard continued. “Just put up a few gates and stones and wait until the first pet dies? A good graveyard isn’t just something that happens! It needs planning, it needs care, it needs nurturing like a mother nurtures her child.” His voice dropped to a croon. “A graveyard is like a garden. It must be <em>grown</em>.”</p>

<p>The wizard’s name was Matilda, a licensed necromancer, freelancing for the Department of Ghosts and Spirits, and right now, Floating-Interest was silently cursing Slytherin for this particular project. The goblins’ feelings towards Death were complex, to say the very least. This was not at all helped by the top hat the man wore, atop from which, a large, very dead rat looked down with faintly glowing eyes.</p>

<p>“We need a theme!” Matilda clapped his hands together and rubbed them. “Oh, yes. This will be excellent. We need a theme and we need symbolism. The dead are not as literal-minded as the living. They need to be coaxed. How about—”</p>

<p>“—Snakes,” Floating-Interest said firmly.</p>

<p>“Snakes…” Matilda frowned, no longer rubbing his hands. “Not very necromantic, snakes… Demonic, yes. Plenty of good symbolism for good and evil and the choices of humanity. How about skulls instead? Always a classic, skulls. Or Beetles? Men have used beetles since the Egyptians. Got a good collection of wood knockers back home. I could—”</p>

<p>“Snakes!” Floating-Interest snapped.</p>

<p>“Snakes, right. Snakes. Ouroboros. The serpent biting its own tail. The symbol of eternity. Life and Death in the eternal dance. Yes!” Matilda’s voice went from sulking to enthusiastic in a few quick beats. “Yes, we can do that. We’ll start with a basic mausoleum to go with the yard. Oh! Why don’t we begin work on Slytherin’s own tomb? It’s never too early to consider eternity—”</p>

<p>“—I think just the basics to begin with.”</p>

<p>“Right, just the basics, right. Elegance. Panache. Every lord should have their own little patch of darkness.”</p>

<p>As the wizard rambled on, Floating-Interest rubbed at her temples. Too much stress. Too much work. Her muscles ached. The deadline was nearing, and there was still so much to be done.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 7 days</strong></p>

<p>Plato gazed around the Sssss room with calculating eyes. While the true nature and ancestry of house-elves wasn’t known to the mass of wizardry, many of the more aware <em>did</em> know. Those wizards would not be surprised by the way Plato’s eyes now hungrily moved across the many artefacts that hung from the ceiling and walls.</p>

<p>The house-elf grinned.</p>

<p>“Plato wants one.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 6 days</strong></p>

<p>Philip Scamander tapped his wand on the recently constructed greenhouse. “Not horrible, given the time,” he declared. “You’ll be able to grow a good selection of plants here. I really think you shouldn’t be in such a rush though.”</p>

<p>Floating-Interest shrugged. “Lord Slytherin wishes the island to be in viewing state for the Winter Festival. More importantly, is it fit for our <em>other</em> purpose?”</p>

<p>“Partly. You’ll certainly be able to keep a collection of small magical creatures. What did he have in mind specifically?”</p>

<p>“Magical insect breeding. Heiress Lovegood is quite the entomologist.”</p>

<p>Philip Scamander looked annoyed. “You should have called me in sooner. You need better warding. The floor is too thin. The air doesn’t have a self-regulating micro-climate.”</p>

<p>“Can you do anything?”</p>

<p>“Before the Winter Festival? I hope Slytherin doesn’t expect to have a full breeding program going on by then!”</p>

<p>“No, no,” Floating-Interest said in a placating voice. “He merely wishes it to be ready for Lovegood’s, ahem, inspection.”</p>

<p>“So, he’s showing off for his betrothed,” Scamander muttered. “Then we can have the big visible stuff finished and leave the tricky details for afterwards.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 5 days</strong></p>

<p>“No, you damn demon!” Floating-Interest shouted. “You can’t have your own dungeon. What are you thinking? We’ve got barely any time left and you want to make another hidden room? What’s wrong with you?”</p>

<p>In front of her, the well-dressed Plato crossed his arms and smirked. “Plato is thinking the squib shouldn’t be calling the muggle empty.”</p>

<p>“Gah!” Floating-Interest rubbed her temples. “No, just no. I don’t have time for this!” Her voice rose in pitch until it was almost a screech.</p>

<p>Plato frowned. “Is pretty goblin girl taking care of herself? Overwork is not being good.”</p>

<p>“Shut up!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 4 days</strong></p>

<p>Lord Parkinson sat down on a short grassy bench, looked around at his work, and found it to be good. It wasn’t every day one got to design and build a duelling arena. He’d have to show it to his daughter during Gala Night as an example of the kind of magic expected of a house as old and distinguished as theirs.</p>

<p>Next to him, a space of grassy hill flattened into more grassy bench, making space for one more bottom.</p>

<p>“Progress, lord wizard?” asked the female goblin in charge.</p>

<p>Lord Parkinson sighed. The gobliness had become more and more demanding over the last two weeks. “As you can see,” he said, “we are finished.” He gestured around him. “I always liked the Greek-style amphitheatre, but here we have that concept realised with magic. Will you not take a moment to fully appreciate great work?”</p>

<p>The gobliness sagged with visible relief, which he took as agreement. Not that he was going to stop either way. “Look,” he said, “at first the eye sees but a smooth grassy slope, carved directly into the hill. But with every body that enters, more and more slope becomes seating. The grass is my family’s own variety.” He pulled out a pair of scissors, placed them next to him, and smiled with satisfaction as the grass picked them up and started trimming itself. “And the wood for the bench-retaining-walls came all the way from magical India. When fully seated, the duelling wards have enough capacity to hold back a small horde and the arena itself has limited magical resonance, able to respond to the will of the Lord of the House, reforming itself as needed. Want a wetland duelling arena? A mountain-side? A beach? This duelling space will provide — so long as it’s natural. We can’t do towns or cities.”</p>

<p>The gobliness gave him a wane smile. “Practicing your sales patter, lord wizard?”</p>

<p>“Must your kind always be so crass? I merely wish people to fully understand what the house of Parkinson has been able to achieve here. This is not a large duelling arena — only around five-hundred seats — but have you ever seen one with such elegance before?”</p>

<p>The gobliness looked down the green hillside, down to the currently white circle of sand at the bottom, and out to the sea beyond. The water glittered icy blue in the weak winter sun. “No,” the goblin said, “I guess not.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Floating-Interest watched Lord Parkinson walk toward the floo and let out a yawn.</p>

<p>No! She lightly slapped herself. She didn’t have time for that. She needed to keep on. Next, she should head over to the security wards and check that the new parameters would function for Gala Night.</p>

<p>There was a pop sound behind her. Had the Parkinson house-elves finished work on the new hydrology system?</p>

<p>“Plato brings news for pretty goblin girl.”</p>

<p>Wrong elves.</p>

<p>She turned around. “News?”</p>

<p>The Slytherin head—and only—elf smiled at her. “Mistress Icygrass has authorised two-hundred galleons for discretionary house-elf interests.”</p>

<p>Floating-Interest’s heart fell.</p>

<p>“But since Plato knows pretty goblin girl is very busy, Plato has gone ahead and arranged everything for her. Pretty goblin girl only needs to sign and everything will be taken care of.”</p>

<p>Floating-Interest’s mouth hung open for only a fraction of a second before she took the parchment proffered her. Unfortunately, that fraction of a second was long enough for the house-elf to spot.</p>

<p>Mentally cursing, Floating-Interest read the parchment. She looked up in surprise. “Did you really arrange all this?”</p>

<p>Plato smirked. “What does pretty goblin girl think Plato is? Plato was trained in household management since he was old enough to walk.”</p>

<p>Floating-Interest felt a small weight lift off her. At least this wasn’t one more thing to deal with. “Fine,” she muttered. “You can have your ‘rest and relaxation’ room.” She withdrew a quill from the recesses of her dress and signed on the dotted line. “Just don’t take up any more resources than this.”</p>

<p>“Of course not,” Plato said, and popped away.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 3 days</strong></p>

<p>Albert Hawking finished casting the last spell that would connect the secret tunnel that led from Granger Cottage to the library of Slytherin Manor. It had been a tricky job, requiring the passageway to navigate its way through a crack in the masonry no wider than a pencil, but once he was done, it was wide enough on the inside for two to walk abreast. He’d be lying if he said he wasn’t quite proud of it. “What are you going to do for a secret door?” he asked.</p>

<p>Floating-Interest yawned. She had shadows around her eyes. “We’ll probably use a tickling charm on a book, or a blood sacrifice, or something like that. Slytherin can be quite the traditionalist.”</p>

<p>“Is he? No one really seems to know where Slytherin stands on anything.”</p>

<p>“We goblins have a slightly better understanding of the man than most. We’ve worked with him the longest.”</p>

<p>“Really? I heard he originally came all the way from New Zealand — that he’s an adventurer, and that one day he found Slytherin’s treasure on a hidden Mediterranean island surrounded by perpetual fog — that he fought past legions of undead guards, and when he finally claimed Slytherin’s locket, the ghost of Salazar Slytherin spoke to him, found him worthy, and that is what allowed him to take up the mantle. Is that true?”</p>

<p>“No.”</p>

<p>“Oh.” Albert felt a pang of disappointment. “Then what about the story that he found a genie hidden in a bottle — that he wished for the power to restore honour to his family, who’d exiled him for running off with an Indian princess on the night before her wedding to the Maharaja.”</p>

<p>“No!” the goblin snapped.</p>

<p>Albert recoiled.</p>

<p>Floating-Interest grimaced. “My apologies, human. I am not quite feeling myself right now. Stress is not something goblins ever like to admit to. We hate being seen as weak. Not unless the one doing the seeing has earned our respect.”</p>

<p>Albert thought about this. “Then I’m honoured that you at least respect me enough to tell me so.” They were out in the empty main library now, evacuated of books due to ongoing work by outsiders.</p>

<p>Floating-Interest shot him a cranky look. “It will take more than doing a job you were hired for to get a goblin’s respect, human.”</p>

<p>The main door opened and Lord Hawking walked in. He pointed his wand at Albert.</p>

<p>Albert sighed. “Oh, right. I forgot, again.” He took off his noble house ring. “You know, I don’t think I’m ever going to get used to the way our family does business.”</p>

<p>“That’s by design,” Lord Hawking said. “Obliviate.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 2 days</strong></p>

<p>Plato looked around what Floating-Interest was still euphemistically referring to the House-Elf Rest and Relaxation Room. He grinned. Seeing the wizard’s Sssss room had given him a basic foundation to work from, but he’d really innovated and expanded on the concept since then. Hidden between the kitchen and the house-elf sleeping quarters, Plato was now sure he had all the tools he needed to keep the other house-elves in line, and most importantly, keep him as the number one elf to serve the master and young mistresses.</p>

<p>The green, three-foot-tall door to the kitchens opened and Floating-Interest marched in.</p>

<p>“Well, are you happy now?” she asked. “Need anything else? A bejewelled iron maiden, perhaps? Infused with exotic scents and spices, maybe?”</p>

<p>Plato smiled. “No, Plato is quite happy. Pretty goblin girl’s team is very efficient. They followed Plato’s directions to the letter.”</p>

<p>The gobliness huffed.</p>

<p>“But Plato is thinking that pretty goblin girl does need to be relaxing more.”</p>

<p>“I don’t have time to relax! There’s still so much to do.” She made to sit down heavily on a wooden stool, misjudged the distance, and ended up crashing into the ground instead.</p>

<p>“Oh, dear!” Plato was at her side in an instant. “Plato is thinking pretty goblin girl really must be taking the evening off.”</p>

<p>Floating-Interest stilled, then shook her head. “I must be over seeing— I mean, I must oversee—”</p>

<p>“Why not be letting Plato take care of pretty goblin girl?”</p>

<p>Floating-Interest paused again before looking up at him, her eyes both weary and wary.</p>

<p>“Plato can be assuring pretty goblin girl that Plato’s kind knows how goblin girl wishes to be treated.”</p>

<p>“I have to manage the project,” she weakly protested.</p>

<p>“Pretty goblin girl be letting Plato handle everything. Plato has been here since the beginning. Plato is knowing everything that is needing to be done.”</p>

<p>“The ministry—”</p>

<p>“Arriving tomorrow at ten o’clock.”</p>

<p>“The magical theatre—”</p>

<p>“Setting up for rehearsal at two.”</p>

<p>Floating-Interest gave in. Plato could see it in her eyes.</p>

<p>“Okay, you damn demon,” she muttered, “but if you disappoint me, I swear I will cut you down.”</p>

<p>Plato smirked and gently reached for the rope.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 1 day</strong></p>

<p>High in the sky, a wizard wearing heavy padding took a deep breath, looked around with a ‘why me,’ sort of expression, jumped off his broomstick, flailed wildly, fell a hundred feet, and landed in the water just off Gairsay Island with a loud smack.</p>

<p>Floating-Interest winced. She then subtly adjusted her full-length dress for the tenth time that morning.</p>

<p>“Well, that’s the high altitude drop test out of the way,” said the excited voice of Ludo Bagman. They were standing on the thin strip of lawn behind Slytherin Manor, looking out over the steep hill beyond and further out to sea. “Next up, the spectator emergency evacuation procedure. I say, are you sure Lord Slytherin won’t be around this afternoon? Only, I’ve got something important I wanted to discuss with him before Gala Night.”</p>

<p>“I’m sure,” Floating-Interest said with a relaxed smile. “Our client deeply wishes he could be here, but other matters called him away. Of course, you can always send him an owl if it’s important.”</p>

<p>Ludo Bagman looked decidedly less excited by that prospect, but perked right back up again the moment Clare Cooper arrived. “Oh! Miss Cooper, what a surprise. I’m glad to see you’re finding your own way in the world.”</p>

<p>The muggleborn’s greeting back to Bagman was far more neutral in tone.</p>

<p>The three then ascended a set of outdoor steps all the way to the roof of the manor where Clare stuck her wand into the eye-socket of a snake statue, and pulsed a set of spells into the stonework. All across the roof, a hundred stone snakes moved in choreographed sequence, lifting up five wooden benches for nearly five-dozen spectators to gaze out across the North Sea under a dome of invisible magic — protected from the elements — hidden from prying muggle eyes — all within shouting distance of a house-elf kitchen and whatever other luxuries Lord Slytherin could dream up.</p>

<p>Several minutes later, six levitating quidditch hoops shimmered into sight high above the water.</p>

<p>“Damn, I’d give a thousand galleons to know how you pulled that off,” Bagman muttered. “Quidditch over water. It could revolutionise the whole sport’s regulation. You’ve no idea how much effort we have to put into maintaining all our wards and illusions. Would have needed much more parchment-work if this whole thing was on land, let me tell you.”</p>

<p>By this point, the wizard from the high altitude drop test had joined them, looking rather put out and dripping water all over the wooden floor. He would have looked even more put out if he’d have known exactly what the spectator emergency evacuation procedure entailed.</p>

<p>His screech echoed through the air as Floating-Interest, Ludo Bagman, and Clare all watched his rapidly retreating form, which came to an abrupt stop with another loud, watery smack.</p>

<p>Floating-Interest winced, again.</p>

<p>“It’s just a shame there’s room for so few spectators,” Bagman continued. “I could easily imagine hosting a few exhibition matches here — for select fans, perhaps? I’ll certainly be lobbying for use of the duelling arena — work of pure art, that.”</p>

<p>From the ground on the other side of the manor came a series of loud and angry shouts, which turned out to be a team of goblins carrying an ever-iced chandelier getting in the way of a team of house-elves levitating a grand piano.</p>

<p>“I say, are you sure you’re going to be ready in time?” Ludo Bagman asked.</p>

<p>Floating-Interest smiled another easy smile. “I assure you, human, we have everything under complete control.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 0 days… and three hours</strong></p>

<p>“Move, you slackers! My father will be here to inspect our work soon! Do you want to explain to the head of the Boneslicer clan why this place still looks like a dragon-shit pile?! Why isn’t that painting up yet?! What do you mean, ‘The wizard with the sticking charms went home?!’ — Then go down to Granger Cottage and get Miss Cooper! — I don’t <em>care</em> if she doesn’t know the spell! Teach it to her! — Yes, in a few hours! Get on it!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 0 days… and two hours</strong></p>

<p>“No, you idiots! Don’t put that there! The house-elves won’t be able to spell the floor polished if you pile up all this crap here. I don’t care if it’s only temporary! They’re going to start in twenty minutes, not your fantasy thirty! No, it’s <em>not</em> only ten minutes! They need the floor polished before they can roll out the carpet for the orchestral! No— I don’t— If you don’t move your shit right now, I swear to hell you will feel my blade!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 0 days… and one hour</strong></p>

<p>“Move! Move! Faster! Faster! There’s plaster dust upstairs! You! Why is there rubbish still here?! It should be on the barge heading to the mainland! What do you mean, delayed?! That doesn’t matter! Get it moving now! Oh, dragon-crap, is father keyed into the floo? Junk-Bond! Is my father— He isn’t?! Plato! — Can you… Oh, thank hells. Wait, the barge! I need to go, but I want everything clean by the time I get back!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p><strong>T-minus 0 days… and thirty minutes</strong></p>

<p>“What the hell is this?! There’s still cleaning to be done! Why is there string lying around?! From the carpets?! Do I need to order you to punish yourself, you incompetent house-elf?! Do you think I care that Lord Parkinson is your master?! While working here, I am your mistress, and if I tell you to jump, you say, ‘from where?’!”</p>

<p>The floo in the entrance way flared green.</p>

<p>Floating-Interest gasped. She whirled around. It couldn’t be her father, she thought wildly. It was too early. The head of the Boneslicer clan was never early. He was always right on time.</p>

<p>But it was him.</p>

<p>Out of the floo walked Ragnok Boneslicer, decked out in full chain mail and carrying his massive war axe. He looked around the small entrance room — a room which had a view to the grand ballroom — the grand ballroom in which the Earth-shaped memory library was currently hovering and turning above the wood-inlaid floor, and grinned. “I like the interesting ones.”</p>

<p>Floating-Interest slowly felt the knot in her chest uncoil. Her father nodded along as she guided him through the manor, asking pointed questions, but in general looking like he approved of the job she’d done.</p>

<p>“I find myself impressed, daughter,” he eventually declared, after she’d shown him the double layered warding system that would totally surround the island both at the water’s edge, and a hundred meters out to sea. “When I received the updated specs from Lord Slytherin, I didn’t immediately believe it could be done. But you proved it could be. You work hard. You work those around you hard. And you keep your dignity. I will have to see about moving you to one of our elite teams.”</p>

<p>“Thank you, Father.”</p>

<p>They started walking back up to the manor and Floating-Interest couldn’t help looking back on the time she’d spent here. Slytherin Manor was probably the most unique magical building she’d ever been asked to build. So full of secrets, even by magical standards. It was like being there when Hogwarts had first been completed. But soon her time here would be over. Just another project to add to her ever-growing resume. She’d miss it. But for those who were to live here, the stories were only just beginning.</p>

<p>They reached the doorway back to the main hall.</p>

<p>Floating-Interest looked back down the hill, and out across the water, and smiled.</p>

<p>“By the way, daughter, there are two rooms on your ‘unofficial’ plans that you haven’t shown me. I think I’d like to see them too.”</p>

<p>Floating-Interest’s smile froze. Crap.</p>

<p>Plato popped into being beside them. “Plato can show pretty goblin girl’s daddy if he likes.”</p>

<p>Crap!</p>

<p>Ragnok raised an eyebrow. “Plato? You are Slytherin’s head elf are you not? I’ve heard reports that you’ve been of great help to my daughter. I would be very interested to hear more about that.”</p>

<p>“Plato will happily tell pretty goblin girl’s daddy everything.”</p>

<p>CRAP!</p>

<p>Floating-Interest could only watch on, helpless, heart pounding, as her father and Plato turned and started walking towards the house-elf quarters. If the house-elf said even half of anything… let alone the totality of everything…</p>

<p>Then Plato turned his head behind her father’s back, looked her right in the eyes, shook his head, smirked, and winked.</p>

<p>He wasn’t really going to say anything.</p>

<p>That little shit!</p>

<p>Floating-Interest felt her knees go weak.</p>

<p>But, she was safe.</p>

<p style="text-align: center;">— End of Chapter Fifty-two —</p>
