Chapter 53 - Movers and Shakers - Part 1

<p>‘Twas the night before Christmas, and all through the manor, wizards and witches a’gathered, to completely make a pig’s ear of muggle traditions.</p>

<p>Lily Potter’s eyes scanned her many guests again, secretly despairing at the number who continued to turn up to her yearly tribute to the most important western muggle holiday in flowing red robes, trimmed with white fur, and sporting either fake or transfigured long white beards. Even after ten years, they still didn’t quite understand. Some of the more traditional kept glancing nervously at the mistletoe hung up over doors, occasionally muttering about nargles.</p>

<p>It wasn’t all bad though.</p>

<p>The Weird Sisters were pitch-perfect playing, ‘<em>Merry Christmas Everyone</em>’, brightly coloured tinsel festooned the room like the world’s longest cat, and the house elves had long ago mastered muggle festive foods, which happily included mince pies, Christmas pudding, and mulled wine.</p>

<p>Lily took a small bite from her own mince pie and smiled. She’d have to remember to take some to the boys when she could shake these utter bores.</p>

<p>“And then what happened, Lady Potter?” asked Lord Updike — owner of a magical fish farm in the glens far up north. His temporary beard went down to his knees.</p>

<p>“Yes, do tell us,” gushed his wife, “Slytherin seems to be popping up more and more recently.” She gasped. “Do you think he’s going to make some ‘big move’ soon?” She’d styled her beard in curls.</p>

<p>Lily frowned. The incident had happened soon after Harry had been cured of petrification. The free house elf was still on the loose, and…</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The large stone corridors of Hogwarts had been bitingly cold, but the teacher’s lounge, at least, was always warm and cosy.</p>

<p>“But how could a house elf be on the loose?” Lily whispered.</p>

<p>Opposite her, Severus looked pensive. “It’s very rare, Lily. It is not enough to simply present an elf with clothes to free it, there is a whole ritual to go with it. And for an elf to be able to maintain its presence on the mortal plane would require an extremely strong purpose. The Department for the Regulation and Control of Magical Creatures will have a field day when they find out.”</p>

<p>“I’m going to have to check the wards around Potter Manor,” Lily said. “I know James says they’re better than the best gold can buy, but I’m not taking any chances. What if that elf is on someone’s orders? What if it’s one of our political enemies?” Her voice lowered further. “What if it’s Slytherin?”</p>

<p>Severus looked contemplative. “Not impossible, but I have my doubts. The bludgers were targeting Ginny Weasley, and I have my suspicions that she’s a student of the Gray.”</p>

<p>Lily nodded. She shared those suspicions too. Given how close the girl appeared to be to Harry, it was hard not to. “So, who?”</p>

<p>“I’d guess a rogue lord of either the Dark or the Light.”</p>

<p>Lily narrowed her eyes. “If I find out it was someone in the Light, I will whip them into line so hard no amount of dittany will help them.”</p>

<p>“And I will gladly help you. In the meantime, we can only wait for Slytherin to show up, and until then, the aurors will have to stay on full alert.”</p>

<p>“I just hope Harry won’t suffer long-term effects from the petrification.”</p>

<p>Severus snorted. “I dare say your son is resilient enough to cope. He has been through plenty in his life.” He gave her a meaningful look.</p>

<p>Lily looked uncomfortably off to the side.</p>

<p>“In any case,” he continued, “Dumbledore will want to know about these developments, so I suggest we arrange a meeting soon. He always had a soft spot for the house elves, and now four of them are dead.”</p>

<p>“None of this would have happened if Dumbledore were here,” Lily said. “I know Gilderoy means well, but he just doesn’t have as strong a handle on things as Dumbledore did. Was bullying as big of a problem before, or am I just misremembering? I’ve had seven students come to me in just the last month.”</p>

<p>Snape shrugged. “It was and it wasn’t. Bullying was more of an in-house thing before. Now it’s becoming increasingly inter-house. Dumbledore was always dead set against that.”</p>

<p>“And what about all the contraband?” Lily continued. “I swear, the number of banned items I’ve had to confiscate from students recently has gone up five-fold. Where are they getting it all?”</p>

<p>“I don’t know.”</p>

<p>Just then, Lily heard multiple footsteps coming down the hallway outside. She and Severus stood up from their chairs, just as the door opened, and the masked figure of Lord Slytherin swept in, followed quickly by Headmaster Lockhart, Sirius Black, Kingsley Shacklebolt, and Richard Vablatsky, head of the Department for the Regulation and Control of Magical Creatures.</p>

<p>“When I find that demon, I’ll have its head!” Vablatsky roared. “Oh, Lady Potter.” His voice calmed. “What a surprise.”</p>

<p>Lily’s gaze didn’t shift from the masked man in front of her, who gave her a polite nod of acknowledgement before turning back to the group. “This will do well,” he said, and gracefully sat down in the plushest of the room’s many chairs. “Finding the correct wards for demonic incursions will take time. I suspect many other wards will be tied into it, but once I have found it, it will simply be a matter of reweaving the correct enchantments.”</p>

<p>Just then, the door opened again, and, of all people, Minister Fudge barged in. “Wait!” He stood in the door opening, huffing and puffing. “I know what you’re planning, and you can’t!”</p>

<p>Everyone stared at him.</p>

<p>“I <em>beg</em> your pardon?” Sirius said.</p>

<p>The minister got his breath back. “Umm… what I mean is that, Lord Slytherin, as much as I respect your ancestral rights to Hogwarts, the age of magical fortresses is over. We live in the time of the ministries now, and the world is much better for it, I think we can all agree on that. The wards of Hogwarts are as strong as they could possibly need to be, and there is no need to strengthen them, or bring any of the old wards back into use, or—”</p>

<p>“—Minister, there is a free house elf on the loose.”</p>

<p>Vablatski’s words caused the blood to drain out of Fudge’s face. It was like his entire body did a one-eighty shift from bluster to shock. “A… a free house elf?”</p>

<p>“Yes, Minister.”</p>

<p>“But I thought… Ah—I—I—um…”</p>

<p>His spluttering was interrupted by Slytherin. “Minister, I understand your concerns, but I think we can all agree that the safety of the students should come first. Perhaps we can compromise with limiting ???to avoid two ‘agree’s in consecutive sentences??? the time period of, as you’d put it, ’Magical Fortress Hogwarts’? Say, three months? That should give the ministry enough time to track down the culprit?”</p>

<p>Minister Fudge straightened. “Three months? Three months. Yes, That’s acceptable. But after that it all comes back down, agreed?”</p>

<p>“Of course, minister.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Back in Potter Manor, the Weird Sisters had just finished <em>Merry Xmas Everybody</em> and had moved onto <em>Mistletoe and Wine</em>.</p>

<p>“…We didn’t find the house elf when the old wards came back up, but at least we knew it had left.” Lily finished giving a much-edited version of events to her small circle of guests. Several others had joined them during the telling. It was the fourth telling of that particular story tonight.</p>

<p>Lord Updike shook his head. “Did the Minister <em>really</em> think Slytherin was trying to seize control of Hogwarts to use as his own private fortress?”</p>

<p>“I don’t agree with Hogwarts having its wards strengthened like in the old days,” said one Heiress Bolingbroke, adult daughter of another of the Light’s oldest supporters. “But still, a free house elf. Who would be so insane as to try to keep a free house elf?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>On the other side of the Potter Ballroom, Sirius Black cursed James for leaving him all alone with the sharks.</p>

<p>“I’m so sorry to hear about the problems you’ve been having with your daughter, my child,” said a particularly ancient wizard, whose name Sirius knew he should know.</p>

<p>“It’s no problem,” Sirius said tersely. “She’s free to follow her own path. Just like I was.”</p>

<p>“Do you really believe that? Or have you just lost control of her?” asked a witch who had the kind of distinctive face that was only achieved with several large overdoses of beautification potion.</p>

<p>“Not at all. Alex is an independent girl and I’m very proud of her.”</p>

<p>“You mustn’t blame yourself. It was probably her mother’s blood.”</p>

<p>Sirius gritted his teeth. “I assure you, Madam—”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Oh, oh! Mister Hale, what a pleasure to see you here. Can I present to you, my daughter?” Arthur Weasley beamed with his hand on Ginny’s shoulder.</p>

<p>Mister Hale, manager of Bodmin Moor Quidditch Stadium, had been looking around the ballroom with the kind of smug self-satisfaction oft-worn by those who were hitting well above their own social class. The moment he saw Ginny, though, that smug look vanished and his eyes widened in genuine excitement. “I say! Is this young Ginevra? Arthur, you rogue! You must know she’s been the talk of Puddlemere for weeks.”</p>

<p>“I did have a suspicion.”</p>

<p>“You must find time to bring her to Bodmin! Oh, I’m sorry.” He turned to Ginny. “Mister Hale, Miss Weasley, at your service. I’m not going to beat about the bush — you keep flying like <em>that</em> and I’m going to have to talk Ludo into getting you an age exemption for league play.”</p>

<p>A corner of Ginny’s lips quirked upwards.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Well, well, well. Look what the cat dragged in.”</p>

<p>Xenophilius Lovegood turned around with a mince pie in each hand and another in his mouth to find himself looking at a wizard in his mid-twenties with a smirk on his face and a glint in his eye. He swallowed and smiled widely. “Terrance, my old friend! How are you these days? Haven’t seen you since—”</p>

<p>“Since you left the Light to run off with that masked, unknown lord.”</p>

<p>“Ah, well, you know how it is.”</p>

<p>“I really don’t. I’m surprised you have the balls to show your face around here.”</p>

<p>“You’d be surprised what I’ve had the balls to do recently.”</p>

<p>“Oh?”</p>

<p>Xeno put a friendly arm around Terrance, leaned in, and whispered. “Can’t talk about it, though. Very hush hush.”</p>

<p>Terrance rolled his eyes. “So why <em>are</em> you and the rest of the Grubbies here?” He nodded towards where Lords Greengrass, Smith, Davies, Slughorn, and Tempest were investigating the massive charmed Christmas tree in the middle of the ballroom.</p>

<p>“Grubbies?” Xeno barked a laugh. “I’ll have to remember that one. You must have heard that Lord Potter wants to twist our arms about the Muggle Protection Act. It not passing before end of session was a blessing and a curse. On the one hand, it gives us more time to hash out details, but on the other, the longer we prattle on the less likely anything is going to actually pass.”</p>

<p>“Mmmm… I can see how that might be problematic. So is Slytherin himself going to grace us with his presence? I’m sure he was invited.”</p>

<p>Xeno rubbed the back of his neck. “Ah, yes, about that…”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Augusta, did you see where Susan ran off to? Sunny and Pandora haven’t seen her for years. I want to make sure they don’t miss her.”</p>

<p>Augusta Longbottom gave the head of the DMLE a soft smile. “I believe I saw her leaving with John Potter, Amelia.”</p>

<p>“Oh, then it’ll probably be the second playroom. I know John had Virgo Malfoy stashed up there.”</p>

<p>Augusta’s smile vanished, something which Amelia Bones immediately caught. She gave her friend an accusing look. “Miss Malfoy is under a lot of <em>pressure</em> from her parents, you know.” She put extra emphasis on the word pressure, as if to communicate all sorts of contextual undercurrents — undercurrents possibly involving rope, bricks, and a good strong sack. “It can’t be easy for a muggle-raised girl to be expected to fit into such a traditional Dark family so suddenly. It’s a very encouraging step that they allowed her to attend at all. The least we can do is offer our full support.”</p>

<p>Augusta sighed. “Yes, I suppose, you are right. It’s just so difficult to think of the Malfoys as anything other than trouble.”</p>

<p>“Trust me. I know exactly what you mean.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Hey, look. Isn’t that Slytherin’s muggleborn girl?”</p>

<p>“The one who fought the troll?”</p>

<p>“The one who caught Dumbledore’s stunner.”</p>

<p>“I’ve heard Lord Slytherin put her through all kinds of dark rituals. Dozens! How else would you explain how one of her kind could do so well at Hogwarts?”</p>

<p>“Now, I take exception to that.”</p>

<p>“Well, how do you explain it?”</p>

<p>“…”</p>

<p>“That’s what I thought.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Should you even be with me?” Hermione asked. “Won’t it be troublesome if word of our talking like this gets back to Draco and the others?”</p>

<p>“Oh, relax,” Alex said, bringing a dollop of whipped cream to her tongue, tasting it, and pulling a disgusted face. “I’ve got a plan for if that happens. And I’ve got to talk to <em>someone</em>. It’s mostly all Light and Gray here. Who else would I talk to? You want me to stick by my dad the whole time? That would look even weirder.”</p>

<p>Hermione sighed. “I suppose so.”</p>

<p>“Besides, I’ve dressed for it.”</p>

<p>Hermione had to admit that this was true. Alexandra Black looked like a teenager’s idea of what a dark lady looked like, at least at the base layer. i.e, black lace, ruffled skirts, corsetry, high heels, puffed sleeves, and a traditional witches hat, but with the not unimportant addition of a see-through black veil. It was just a shame, Hermione thought, that the first year didn’t yet have the figure to properly pull off the look. In the sea of red and white Father Christmas knock-offs filling the hall, what Alexandra Black actually looked like was a rather short lump of coal.</p>

<p>“You’ll still need to find something to do while we’re upstairs,” Hermione said. “There’s no way you’d be able to explain that away if John Potter found you with us up there.”</p>

<p>“I’m sure I’ll find something. I just wish I could say the same about winter snacks that aren’t sweet.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Hi, Neville.”</p>

<p>“Oh, hi Ron. Managed to shake your parents?”</p>

<p>Ron grinned. “No need. Dad’s with Ginny and Mum’s on the hunt for Slytherin. She’s been looking for a chance to interrogate him for years, you know.”</p>

<p>“You think he’ll turn up here?”</p>

<p>“How am <em>I</em> supposed to know?”</p>

<p>Neville shrugged. “You’re closer friends with John than I am. And he’s always going on about Lord Slytherin this and Lord Slytherin that. Figured if anyone knew anything it’d be him.”</p>

<p>“Nah, he’s been with Susan and Virgo more recently. Heir business, you know.”</p>

<p>Neville let out a long-suffering sigh. “Unfortunately, I do.”</p>

<p>Ron elbowed him good-naturedly in the ribs. “Cheer up! You’re at a party. Never seen some of this stuff before. What are these little ones called?”</p>

<p>“That’s a mince pie, Ron.”</p>

<p>“It’s good!”</p>

<p>“This is your first time at the Potter Christmas Party, isn’t it?”</p>

<p>“Sure is. What’s the massive tree in the middle for? Some special ritual?”</p>

<p>“It’s where muggles put their winter festival gifts.”</p>

<p>Ron swallowed his last piece of mince pie. “Odd, but to each their own. You haven’t seen Smith or Boot, have you?”</p>

<p>“The Smiths had to cancel. The Boots weren’t invited this year,” Neville rattled with the ease of the over-prepared.</p>

<p>“Oh.” Ron’s eyes, tracking around the ballroom as though looking for them anyway, fell on one small group, and narrowed. The fact that the group happened to contain a boy their own age with roguishly messy black hair, green eyes, and a scar on his forehead, probably played a large role in this.</p>

<p>Neville followed his gaze. “You never liked John’s brother, did you?”</p>

<p>“He’s a slimy snake.”</p>

<p>“So John keeps saying.”</p>

<p>Ron looked annoyed. “No, it’s not that. There are Slytherins like Malfoy and Granger, and all the others, and they’re one thing. But that one… ugh, he makes me shiver.”</p>

<p>“Why?”</p>

<p>“Have you ever seen him smile?”</p>

<p>“He smiles all the time.”</p>

<p>“That’s the point! He smiles even when he has no reason to. When someone tells a joke, he just smiles while everyone else laughs. If someone buggers up a spell in class, he just smiles before showing them how it’s done properly.”</p>

<p>“It’s very helpful.”</p>

<p>“It’s creepy is what it is. It’s like he’s found one emotion that works, so he just sticks to it all the time.”</p>

<p>Neville carefully inspected the younger Potter as best he was able to from as far away as he was. It wasn’t easy as there were at least three or four grown-ups jockeying around him at that moment. Potter could certainly cut a striking figure when he wanted to. The way he stood made him appear several inches taller. His robes looked custom-tailored — not unusual for children of their status, but the way he wore them was somehow more regal. Lord Potter stood close by, watching with the air of an amateur lion tamer bringing their new charge in front of a live audience for the very first time.</p>

<p>Harry Potter <em>was</em> smiling. He was smiling like the whole world was a joke and only he knew the punchline.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Lord James Potter was not a man easy to worry. He’d signed up with the DMLE straight out of Hogwarts, got into the auror training academy not long after (a very fancy name for a few large empty rooms in the ministry basement), served a brief stint in the war against the Dark Lord, and then retired to enter to the world of politics, where a wizard had to at all times keep his wits about him, lest they end up broke, disgraced, and in a magically binding contract betrothing their as-yet-unborn great-great-granddaughter to the great-great-grandson of their worst political enemy.</p>

<p>Under most circumstances, Lord James Potter was not an easy man to worry, but when it came to his sons, both Harry and John, he nevertheless found himself worrying on a fairly regular basis.</p>

<p>“Oh, bravo!”</p>

<p>“Good show!”</p>

<p>“My, my, so talented.”</p>

<p>The crowd of lords and ladies clapped as Harry wandlessly conjured an exquisite glass replica of the Statue of Wizardly Brotherhood, and handed it to one of the younger witches, who giggled. She was in her mid-twenties.</p>

<p>James smiled tightly. He was very aware that the impressive display was not the result of Harry Potter, raised spare of the House of Potter, but rather Harry Potter, raised cat’s paw of the House of Slytherin. Wizarding lords did not normally include provisions in marriage contracts for children of their house to be raised by their daughter’s new families for exactly this reason. No one wanted a potential heir raised by someone else’s house.</p>

<p>This was compounded by a shocking revelation that had taken place just before they’d ushered in the first of their guests that evening.</p>

<p>Both Harry and John had been standing side by side by the huge doors, both dressed immaculately, and both being fussed over by Lily.</p>

<p>“And make sure you keep your hat angled correctly, John. You tend to let it slip. Now, let’s see, Harry… hat — good, robes — good, you’re using correct hair potions, I see — good.” She frowned. “Where’s your ring? You really should keep it visible during formal events.”</p>

<p>James knew something was wrong the moment Harry’s expression changed to one of mild confusion. “Ring?”</p>

<p>“Yes, ring, you know, your house ring.” Lily turned to look at him with wide eyes. “James, you did show him didn’t you?”</p>

<p>James blanched. “I… I kind of assumed Slytherin had already shown him.”</p>

<p>The resulting bollocking hadn’t been pleasant, and at the end of it all, they hadn’t had time to show Harry how to summon his Potter Noble House Ring. That had to be put off until they found a free moment. Knowing that Harry had been walking around for years without mental protection was actually horrifying. On top of that, the prophecy they’d seen from the Department of Mysteries said that they were now supposed to control Harry to stop the fall of magic. The fact that someone else may well have been doing so instead was not a good feeling.</p>

<p>“How’s he handling it?” asked a voice. It was Lily, holding two small plates of finger food.</p>

<p>“Good,” he replied. “He’s a natural.”</p>

<p>Lily sighed. “Makes you wonder, doesn’t it? About what might have been.”</p>

<p>“It does. But, we mustn’t allow that to blind us to our responsibilities now.”</p>

<p>“All of them.”</p>

<p>“Yes, all of them.”</p>

<p>Just then, on the other side of the room, the floo by which guests arrived flared green and a tall bearded wizard stepped out. The wizard cleaned his robes with a careless wave of his hand and looked around the hall with a kind smile.</p>

<p>Standing just to one side of the floo, the Master of Ceremonies caught the new arrival’s eye, nodded respectfully, cleared his throat and called out across the hall, “Lords and Ladies, Wizards and Witches, Order of Merlin, First Class, Chief Warlock of the Wizengamot, and Supreme Mugwump of the International Confederation of Wizards, Albus Percival Wulfric Brian Dumbledore!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Headmaster Lockhart frowned as the attention of the group he’d been regaling with astonishing tales of derring-do shifted to the new arrival.</p>

<p>Arriving early had clearly been a mistake.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“James! Lily.” Dumbledore smiled and turned towards the hosting couple as they drew near. He’d somehow already found a glass of eggnog with a stick of cinnamon in it. “I must thank you greatly for the invitation. I must admit, I was wondering if I would be receiving one this year.”</p>

<p>Lily gave the ex-headmaster what could only be described as a look. “I won’t pretend I didn’t seriously consider <em>not</em> sending it—”</p>

<p>Dumbledore’s face became solemn.</p>

<p>“—But seeing as how no permanent damage seems to have been done, I believe we should look instead to the future.”</p>

<p>“I can only apologise again, Lily.”</p>

<p>“And I have not yet accepted that apology. Your handling of my son will be a permanent stain on your character, Albus.”</p>

<p>The entranceway was far from empty. More than a few knowing glances were exchanged between watchful eyes attached to listening ears.</p>

<p>“Enough,” James said. “This is a celebration of the good in the world. Albus, won’t you follow me? I’d like to show you the enchantments we’ve added to the tree this year.”</p>

<p>“I’d be delighted.”</p>

<p>As they moved into hall proper, the many groups thinned, providing some semblance of privacy — with the right spells, of course.</p>

<p>Dumbledore smiled. “Congratulations, by the way, on winning the Animagus Hunt this year,”</p>

<p>James smiled back wryly. The Greengrass Winter Festival was one of the highlights of his year. It was one of the few opportunities for animagi to really let loose in Britain. This year’s had been particularly fun. He’d narrowly avoided being tagged by Slytherin’s girls by jumping a massive ditch that their horse couldn’t follow him over. “Thank you,” he said. “It was certainly easier without Slytherin himself on my tail.”</p>

<p>“So it is true?” Dumbledore asked. “Lord Slytherin was not at the Greengrass Winter Festival this year?”</p>

<p>“No. Or if he was, I certainly didn’t see him.”</p>

<p>“Curious. One would imagine that he’d be keen to be seen, given his own upcoming gala night.”</p>

<p>James shrugged. “From what I’ve heard, he wasn’t at the Malfoy Yule Ball either.”</p>

<p>“And also not here.”</p>

<p>James frowned. “No.”</p>

<p>“Are you going to go to his gala night?”</p>

<p>James sighed. “I’m not sure. We really should. It’s important for the Muggle Protection Act, but… I don’t know. Might look weak. He hasn’t done <em>us</em> the courtesy of showing up. In previous years I’d understand, but <em>this</em> year?”</p>

<p>“I would encourage you to go anyway. If Lord Slytherin wishes to act childish that is no reason to imitate him.”</p>

<p>James thought for a moment before replying, “Yes, you’re right of course. Thank you.”</p>

<p>“I see Lily is still angry at me.”</p>

<p>“She and I both, Albus. Harry isn’t too chuffed with you either, you can imagine.”</p>

<p>Albus sighed. “No, I imagine not. I was hoping to have the opportunity to talk with him about it, in fact.”</p>

<p>“That shouldn’t be difficult.” James scanned the ballroom, looking for his youngest son. He’d almost certainly be in the centre of some group of adults, charming them with his ridiculous magical talents. But no matter where he looked, he couldn’t find him.</p>

<p>The moment Albus Dumbledore had shown up, Harry had vanished.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Upstairs, well away from the general bustle of the party, Harry closed the door he’d just stepped through, further muffling the sounds from downstairs.</p>

<p>“Finished showing off, have you?”</p>

<p>Harry turned to find his brother not far up the corridor. He smiled. “Nothing you haven’t also done, brother. I heard you were quite enthusiastic to display your special talents last year. And it’s all for the good of House Potter. Have to display our best face.”</p>

<p>“As if you give a toss about the House of Potter.”</p>

<p>Harry made his way past John and turned back. “I care enough to learn. I hope you haven’t forgotten our agreement after the polyjuice incident.”</p>

<p>John scowled. “Yeah, yeah, I’ll show you where the family magic is. Tomorrow?”</p>

<p>“Tonight would be better. Don’t want Mother and Father interrupting us, after all.”</p>

<p>“Slimy Slytherin.”</p>

<p>“Through and through.” He watched John walk away. It wasn’t surprising that they’d chosen the playrooms furthest apart from each other to host their little hideouts from the main party.</p>

<p>As Harry turned back and made his way on his path, he caught snatches of conversation and goings-on through open doors. In one room, a small group of post-Hogwarts wizards were rather loudly discussing politics. In another, an older wizard was mentoring a younger on the finer points of metallic alchemy. And yet another held a mismatched couple who obviously thought their privacy charms were stronger than they actually were, given their rather enthusiastic state of undress. Most of the rooms he passed through, were either empty or containing children or Hogwarts students too bored to spend more than an hour or two downstairs.</p>

<p>The room he was making his way towards would be one of the empty ones — empty save for a magical, space-expanded, multi-compartment, shrinkable trunk.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Daphne stared at the blackboard that hung from one wall of the trunk, chalk in hand. The board was covered in the names of wizards and organisations with arrows linking them and circles surrounding groups of them. Many of those circles overlapped each other, sometimes several times.</p>

<p>Six of those names had been written in all-caps and underlined with coloured chalk.</p>

<p>The Dark</p>

<p>The Gray</p>

<p>The Light</p>

<p>The Ministry</p>

<p>The Judiciary</p>

<p>Gringotts</p>

<p>Around the corners, several names were completely separate from the main mess of lines and circles in the middle. The Flamels, the Arwen, the Lupins.</p>

<p>In the very top-right corner, the letters, “RAB” were circled alongside a massive question mark.</p>

<p>“Okay,” Daphne muttered, “this is the current political situation as best I can make it. Lord Black could potentially come to our side, if we played our cards right. The Weasleys don’t have a seat, but their father is a skilled influencer. My father has his spies in the ministry, while we’re doing our best to infiltrate the Dark. Ragnok is firmly on our side, but there are other goblin clans who don’t like us, and we don’t have even a single set of eyes on the judge’s bench. Having one would be amazing, but those positions only come up once in a blue moon.”</p>

<p>Daphne turned around.</p>

<p>“What do you think, Luna? Have I missed anyone important? Anyone who could potentially be a threat?”</p>

<p>Luna Lovegood, the only other witch in the trunk, inspected the blackboard with unblinking eyes. She then quietly stood up, drifted over to the board, took the chalk from Daphne’s unresisting fingers, and on an otherwise-empty bit of the board, in large capital letters, wrote, “The Muggles.” She then underlined it twice in the fashion of the six other major power players and sat back down.</p>

<p>Daphne stared at the new letters. “Oh,” she said. “I guess I should have remembered to add them.”</p>

<p>A knock on the trunk’s roof caused the two girls to turn sharply. Chances were it was Harry or one of the others, but no point in taking stupid risks. The blackboard flipped in on itself, showing a completely blank face. Daphne crossed the room, and after a series of knocks and counter knocks, opened the trunk’s lid from the inside.</p>

<p>“Harry!”</p>

<p>Harry smiled warmly and hugged her before following her down the steps and doing the same for Luna.</p>

<p>Then his face turned serious. “We have a situation. My parents have discovered that I’m not wearing the Potter family ring. If I’m forced to summon it, the Albion Family Magics will check and update my status as a son of the House of Potter.”</p>

<p>Daphne frowned, flipped her blackboard over again and stared at it, again.</p>

<p>Under the name Harry Potter were written the words, Heir Potter(?). They wouldn’t know for certain until they tried, obviously. No one truly knew how the Albion Family Magics worked. And this was a <em>very</em> unusual situation. But Harry <em>did</em> technically have a soul age older than John’s. And since Fate and Death’s intervention, soul age was what was supposed to determine things like this.</p>

<p>“So, what’s the plan?” she asked.</p>

<p>Harry shrugged. “Avoid and distract. If I can hold it off until we leave for Hogwarts again, that’s another four months of not having to deal with it, or at least, having to deal with Lord Potter. But I doubt they’ll be that irresponsible. Ironically.”</p>

<p>“They couldn’t force you to summon it, could they?”</p>

<p>“No, but I have to weigh the pros of being seen to be deliberately disobedient versus the cons of having them see Slytherin as a directly malevolent force.”</p>

<p>“You think they would attribute your being the Potter heir as Slytherin’s doing?”</p>

<p>Harry tapped various names on the blackboard. “There would only be a few ways you could potentially pull off something like this, outside of the actual truth, and all of them require powerful friends.”</p>

<p>“Could we not just let it all play out?” Luna asked. “Seeing John’s face if it <em>was</em> true would be funny.”</p>

<p>Harry smirked. “Maybe after Slytherin Gala Night. I’m sure John’s got enough on his plate right now with the teenage Dark Lord he’s romancing.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Virgo could be very cute, when she wasn’t being very scary. These were John Potter’s thoughts as he watched in mild awe as Virgo described all the different rituals the three of them could go through, either individually, or as a group, while using a teddy bear taken from one of the shelves to show how some of them could royally fuck you up.</p>

<p>Virgo, him, and Susan were sitting on the floor in a circle in the middle of the darkened room. Susan still wasn’t showing any signs of being comfortable with the idea of using rituals, unsupervised, at their age, but as he’d pointed out to her, “If we can’t even beat kids our age, how are we supposed to beat Voldemort?” That had shut her up.</p>

<p>Virgo put the teddy bear back together again with a flick of her wand after a rather vicious demonstration, letting the stuffing and fur knit itself back together. “Of course, the downside of most of these rituals is that their results can be extreme, or simply extremely visible. Sure, you <em>can</em> turn yourself into a giant with massive magical resistance at the cost of most of your wits, but good luck getting the rest of the Wizarding World to accept you. The trick is to identify the right ritual that works specifically for your situation. One where the downsides are negligible and the upsides are many.”</p>

<p>“The downsides just seem so many,” Susan said. “I don’t want to go bald, or suffer from rickets, or give up my firstborn child to the fair folk. Why can’t there be one that gives a huge power upgrade and only costs something like, I dunno, bad morning breath?”</p>

<p>Virgo smirked. “I don’t know the why, but if there was such a ritual that people knew about, everyone would use it, the power balance would equal itself out, and all you’d have to show for it would be a culture where bad breath was a sign of status.”</p>

<p>Susan grimaced.</p>

<p>“So, are there any we can do?” John asked.</p>

<p>Virgo tapped her chin. “You had the right idea with the balance one back at the quidditch match. We could certainly do that. We just have to make sure to do it <em>properly</em>. And I have a few that I managed to acquire from the Malfoy Library. They need a Malfoy to perform, but can have other participants in them as well.” Virgo turned back to Susan. “What about you? Do you have anything you can share with us from the Bones Library?”</p>

<p>“I—um…” Susan began. “That is to say, yes, probably, but if Auntie caught me sneaking around that part of the library, I don’t even want to begin to imagine the trouble I’d be in. I do know of some of our family rituals, like there’s one that lets you see in extreme detail. Auntie uses it when investigating crime scenes, but it causes extreme nearsightedness in one eye.”</p>

<p>“Is that why she wears a monocle?”</p>

<p>Susan nodded. “And what about the Potter Library?”</p>

<p>John groaned. “Don’t remind me about the Potter Library. I have to show Harry how to get in soon.”</p>

<p>“Couldn’t you remove or hide some of the better stuff beforehand?” Virgo asked. “Just for while he’s there. Then you could put it back again afterwards.”</p>

<p>John grinned. “Brilliant. Why haven’t I gotten you a declaration of intent gift, yet?”</p>

<p>He was expecting Virgo to either ignore him and deflect (unlikely), or curse him (more likely). These would fit the mental picture he had built up of Virgo Malfoy. But what he hadn’t expected was for her to catch Susan’s eye, put her head to one side, lock eyes with him, and say calmly, “I don’t know, Potter, why haven’t you?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Back in the Gray Playroom, Hermione had finally turned up. “But I don’t understand,” she said, “who is this Regulus Black? I don’t remember that name from any of the family history books. And why is he so important?”</p>

<p>Harry rubbed his temples. “Regulus Black was… <em>is</em> the younger brother of Sirius Black. He fought alongside Voldemort in the last war — a death eater — and became a prison guard for one of his soul pieces, a task it appears he failed at. He disappeared after taking on the task, and was never seen again, in <em>either</em> timeline, which is worrying to say the least. Why now? What changed?”</p>

<p>Hermione had a hand over her mouth in shock. “But if Lord Black’s brother is alive…”</p>

<p>“Yes, Alex’s position as heiress is threatened. As a witch, if Sirius died, the lordship would first pass to Regulus before Alex. If he then had children, they would come before her.”</p>

<p>“And how did Alexandra take that?” Daphne asked.</p>

<p>“Amazingly well, actually. She still has her heiress ring, so she still has options. Getting betrothed would secure her position, for one.”</p>

<p>Daphne smirked. “I take it she has a candidate in mind?”</p>

<p>“Oddly enough, she does. In her characteristically headstrong way. She was very blasé about it. Although getting Lord Black to sign the parchment-work will certainly be a challenge. That man despises betrothals. I suspect it would be easier getting <em>your</em> parents to sign such a thing, Hermione.”</p>

<p>Hermione blushed bright red.</p>

<p>“That would be wonderful,” Luna said, clapping enthusiastically. “Then you’d only need Ginny to complete the set.”</p>

<p>“I still think Black isn’t worthy of being with you like that,” Hermione muttered, still bright red. “Tracey would deserve it more.”</p>

<p>Daphne frowned. “It isn’t for you to pick who our lord is in negotiations with.”</p>

<p>“I know, I know. It’s just, she can be really immature at times.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Headmaster Lockhart looked out over the crowd of noble and important wizards and witches at the Potter Christmas Party and preened. Yes, Dumbledore was attracting a lot of the attention that should be going to him, but by all accounts the party was going very well.</p>

<p>His only other qualm was that Lord Slytherin hadn’t shown yet, but no matter. He had an invitation to the Slytherin Gala Night and the man just <em>had</em> to be <em>there</em>.</p>

<p>“Excuse me,” said a girl’s voice from his right and down.</p>

<p>“Yes—?” He turned around, looked down, and almost took his eye out on the pointy black hat.</p>

<p>The young witch tilted her head back, eyes wide as he cursed with a hand over his eye. “Oh, don’t you worry about that,” he chortled while his eye streamed. “It happens. Miss Black, correct?”</p>

<p>“Heiress Black,” the girl corrected with bite. Then she hesitated. “Um, actually I was wondering if…”</p>

<p>Lockhart realised the girl was holding one of his Boy-Who-Lived adventure books to her chest — holding it as tightly as a druggie might hold mandrake leaf.</p>

<p>“Aha! A fan!” Lockhart beamed. “Want me to sign, no doubt?”</p>

<p>Miss Black looked immensely relieved and nodded quickly.</p>

<p>“Well, let’s have that here. Ahh! The Boy-Who-Lived and The Mystery of Yeti Town-Hill — quite possibly my favourite of the series.”</p>

<p>Miss Black’s eyes lit up. “Oh, yes! The way the Boy-Who-Lived actually got help from the Black Witch of the North and was able to break up the cabal.”</p>

<p>Lockhart made the last flourish with his peacock-feather quill and snapped the book shut. “Yes, that was pretty clever, if I do say so myself, which I do.” He leaned forward and gave the girl a conspiratorial wink. “To be honest, that was about as morally ambiguous as I could get away with for a children’s book. The publisher was extremely nervous about that one, I don’t mind telling you.”</p>

<p>“Really?” The girl was hanging on his every word. “I don’t suppose I could ask you a few questions about the story, could I?”</p>

<p>Lockhart beamed. “Of course. Questions are always welcome.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“No questions?” Hermione asked. The blackboard was full of scribbles about the progress of various projects.</p>

<p>Harry, Luna, and Daphne all shook their heads.</p>

<p>“Good. Next!” Hermione flicked her wand, transfigured the chalk into a long pointy stick, snatched it out of the air, and smacked it into the blackboard with a loud fwap sound. “The full inventory of our findings from the sunken ship and the Icelandic dragon cave. In total we have identified twenty-three enchantments, five charms, seven curses, and two rune patterns that are sufficiently different from those currently used to probably not trip patent charms. Mum and Dad are going through the records to identify who these enchantments might hold the most value for. We’ve also found some incomplete magics that could potentially be really powerful.”</p>

<p>Harry leaned forward in his chair. “Go on.”</p>

<p>“The first is a ritual. It took quite a bit of translating from Sanskrit, but it seems to be the second half of a two-part ritual to make someone a metamorphmagus.”</p>

<p>Three pairs of eyes widened slightly.</p>

<p>“Too bad it’s only the second half,” Daphne mused.</p>

<p>“The next is an incomplete variation of the space-expansion charm that seems to work only on boats, which I might be able to get working with enough arithmancy crunching.”</p>

<p>Harry nodded. “Valuable. Hold off on that until you’ve started formal arithmancy studies.”</p>

<p>Hermione looked dismayed. “But, Harry!”</p>

<p>“No buts. Spell discovery is dangerous if you haven’t already mapped out the territory.”</p>

<p>Daphne tapped her chin. “Would the broom-sub count as a boat?”</p>

<p>“That’s what <em>I</em> was thinking,” Hermione grumbled.</p>

<p>“Hermione, you are <em>not</em> ready. You will be soon. I will make sure you are. Trust me.”</p>

<p>“I understand, Harry.”</p>

<p>“Did we find anything else?”</p>

<p>“Plenty of references to the Albion Family Magics—”</p>

<p>Daphne’s eyes lit up.</p>

<p>“—But no written records of the missing rituals or anything.”</p>

<p>Daphne let out a disappointed sigh.</p>

<p>“And of course, plenty of muggle gold artefacts. I’ve been reading all the law books from the Hogwarts Library, and we should be able to get away with switching in a non-magical boat for the magical one to satisfy the ISS requirements.”</p>

<p>“It will have to be a very good replica,” Luna said. “Muggles are good at spotting fakes.”</p>

<p>“And will only get better in the future,” Harry added.</p>

<p>Hermione nodded. “And finally,”—she tapped the blackboard—“we have a box.”</p>

<p>Daphne raised an eyebrow. “Just a box?”</p>

<p>“It’s locked.”</p>

<p>“And alohomora doesn’t open it?”</p>

<p>“No. It’s a magical password lock. There are snakes carved around the lock.”</p>

<p>The girls all looked towards Harry.</p>

<p>“Parseltongue password. Got it. I’ll pop down during the Slytherin Gala and we’ll sort it out then.”</p>

<p>“Speaking of the Slytherin Gala,” Daphne said, her voice turning uneasy. “Are we sure you’ll be able to attend?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Dumbledore sighed. “I, unfortunately, will not be able to attend the Slytherin Gala.”</p>

<p>Opposite him, Bill Weasley blinked. “Why not?” They were alone in a corner of the grand ballroom.</p>

<p>“Because I have not been invited,” Dumbledore continued. “Even the Malfoys invite me to their Yule Ball. But Slytherin? No. I can’t imagine why, but that man seems to hold some great personal enmity towards me. He has been using every opportunity he can to make things harder, and, old man that I am, I haven’t been entirely immune from his efforts.”</p>

<p>Bill Weasley gaped. “But, you’re the Light Lord — the defeater of Grindelwald. Surely, even <em>Slytherin</em>”—his voice picked up a note of great disdain as he spoke the name—“wouldn’t be so impolite as to refuse you.”</p>

<p>Dumbledore smiled. “Alas, it is not so. But it does mean that I will need some eyes and ears there…”</p>

<p>“Well, of course, I’ll help.”</p>

<p>“Wonderful! There are a few matters in particular I’d like you to keep an eye on.” He lowered his voice, more for effect than any actual fear of being overheard. “The first being our young friend Harry Potter.”</p>

<p>Bill Weasley’s face darkened. “What about Harry Potter?” he all but growled.</p>

<p>Dumbledore raised a surprised eyebrow. “Just anything of interest. Anything unusual. Anything of questionable morality. But I must say, I wasn’t expecting to see such enmity in you towards a boy of only twelve.”</p>

<p>“Did you forget that Harry Potter has been acting under orders from Lord Slytherin to steal Ginny away from us since she was seven?”</p>

<p>Dumbledore chuckled. “Mister Weasley, that cannot have been—” He stopped. It could have been, couldn’t it? He’d completely forgotten that the Weasleys had an unknown benefactor who’d been teaching their youngest daughter occlumency. It was one of the small details you just lost track of in the general flood of day-to-day politics, and he’d completely dismissed that benefactor being Harry Potter at the time. But looking back, knowing what he now knew about Harry’s capabilities — about Lord Slytherin’s — it was perfectly possible. He sighed. “I remember John coming to me with these concerns last year. I wish I had not dismissed them then. It seems I too must learn to trust more.”</p>

<p>Bill Weasley nodded slowly. “I will keep an eye on Harry Potter. What else did you want me to look out for?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“I’m hoping it won’t be too much of a problem,” Harry said. “In the worst case, you girls will have to take turns being Harry Potter while I play Lord Slytherin. Although the Slytherin Gala Night will be the perfect opportunity to lay the foundations for the big reveal. I’ll need to be Harry Potter then.”</p>

<p>“Who will play Lord Slytherin?” Hermione asked.</p>

<p>“There is a not-insignificant chance that this deception will be spotted. We simply cannot account for all the different situations that could transpire at such a large social event. Therefore, the one who will be Lord Slytherin will be the one who will suffer the fewest consequences, and insult the fewest people, if they are caught.” Harry turned to Daphne. “In other words, Daphne, it will be you.”</p>

<p>Daphne took a deep, steadying breath.</p>

<p>Luna pouted. “Awww. I wanted to know what it is like to be a man down there. Hermione, what is it like to be a—”</p>

<p>“—Anyway!” Hermione loudly interrupted. “We’ve got lots to do! The animagus ritual, raising the sunken ship, preparing for the reveal, and talking to Mum and Dad, and we need to firmly establish our political platform, and all sorts of things! So we absolutely don’t have time to talk about Harry’s — about things like that.”</p>

<p>There was a silence.</p>

<p>“Indeed,” Harry said simply, although he looked more than a little amused. “Luna, I’m sorry this one won’t be on you. I’m sure you’ll get an opportunity soon.”</p>

<p>“I can’t wait!”</p>

<p>“I think I could,” Hermione muttered. “I don’t want to know what Luna would be like with one hundred times the testosterone.”</p>

<p>“One-hundred times the fun!”</p>

<p>“Hermione,” Harry interrupted. “Why don’t you give us an update on the muggleborn project? It is very important that we’re as far ahead as possible with that. Some of our future plans could heavily rely on them.”</p>

<p>Hermione perked up. “Oh, right!” She cleared her throat. “All the muggleborns in our year are doing very well with the new system of occlumency training and should soon be ready to—”</p>

<p>There was a knocking on the trunk lid.</p>

<p>Three of the occupants froze for a fraction of a second, enough time for the fourth to flick his wand and hide every shred of evidence of what they’d been discussing.</p>

<p>“Enter!” Harry called out.</p>

<p>The trunk lid opened, and John Potter stuck his head inside. “Magical Merlin, look at all this stuff! Whose trunk is this!?”</p>

<p>Hermione glanced at Harry for confirmation before replying. “It is mine, Heir Potter.”</p>

<p>“<em>Yours</em>, Hermione?! How?! You’re not rich.”</p>

<p>“I may not be rich, but my lord <em>is</em>. Was there something you wanted?”</p>

<p>Harry stood up. “I dare say my brother wished to discuss some family matters with me, is that not so, brother?”</p>

<p>“Yeah,” John said, still distracted by the trunk’s furnishings. “Yeah, that’s right.”</p>

<p>Before the two left, Luna tugged on the sleeve of Harry’s robes and leant in to whisper. “About our strategic direction, my lord. I will soon have something for you to read about that.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Lily Potter looked around the ballroom again, frowning. The party had reached that time of night where the formalities and dignities of wizarding aristocracy were sufficiently washed away by alcohol, and a group of quite literal drunken lords had formed a conga line, making their way around the room to the Christmas music’s beat, waving their wands and firing off miniature firework charms.</p>

<p>In a corner, Albus Dumbledore was deep in what looked like argumentative conversation with Arthur Weasley. In another, Madam Bones was tearing a strip off the heir to House Glen for getting a little too handsy with his very embarrassed betrothed, while over by the food, Alexandra was monopolising the headmaster’s attention the way only a fan could.</p>

<p>But the biggest exhibition had to be Ginny Weasley, whom someone had somehow found a broomstick for, and who was currently making full use of the ballroom’s high roof to show off her frighteningly good aerial acrobatics, much to her mother’s obvious dismay, and the crowd’s cheering delight.</p>

<p>There were, however, two people she had a special interest in who were very obviously missing. “This is ridiculous,” Lily said to her husband. “Harry should be here. Won’t you go find him, dear? I’m going to go make sure Virgo is okay.”</p>

<p>James nodded slowly.</p>

<p>“And make sure you get him to summon his ring before he comes back,” she added before sweeping off.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Virgo watched John leave the room with his younger brother.</p>

<p>“Ahh,” Harry said. “Miss Malfoy, what a surprise to see you here.” He quirked an eye at John. “I understood this was to be a family matter?”</p>

<p>“Lay off it,” John growled. “She’s just with us ‘til we get to the library. Mum asked me to keep an eye on her, you know.”</p>

<p>Virgo felt Harry’s eyes bore into her. The oppression felt disturbingly familiar.</p>

<p>“A task I’m sure you’ve been carrying out with your usual impressiveness,” Harry said dryly.</p>

<p>The two boys walked ahead, leaving her to trail behind. There was something about the younger Potter that Virgo had difficulty putting her finger on. She hadn’t felt like this before, but now something had changed… something about Potter scared her.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Gilderoy Lockhart was sweating.</p>

<p>“And when the Boy-Who-Lived confronted the Eternal Lich of Darkness, why didn’t he use the magic water he found in the muggle church? Vivian still had the vials in her belt and she was only on the other side of the room.”</p>

<p>“That’s because…” Lockhart’s mind raced. “That’s because the glass was special magic glass! That only broke when used against inferi. Yes, that’s why the Boy-Who-Lived was able to use it in book sixteen.”</p>

<p>Alexandra frowned. “But what about when they were in the Boy-Who-Lived’s secret lab and Maldeve dropped a vial and it broke on the floor. The floor isn’t an inferius.”</p>

<p>“Ah, yes, but you see, the floor isn’t alive.”</p>

<p>“Neither are inferi.”</p>

<p>“But inferi are magical. That’s what makes the difference. The glass breaks only against inferi, and things that aren’t alive but that also aren’t magical, and the lich still has his soul, even if it’s not in his body, you see, which means he’s still partly alive, see?”</p>

<p>There was a pause.</p>

<p>“Okay,” Alex said slowly.</p>

<p>Lockhart mentally breathed a sigh of relief.</p>

<p>“So what about when the Boy-Who-Lived had to sneak into that library? How did he get those books out when that’s not how family magic works?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>John never took his eyes off his Slytherin younger twin as they made their way through the Potter Library. They’d left Virgo at the door. She might now be one of his closest confidants, but there were limits, even if she now knew both he and Harry were long-distance time travellers.</p>

<p>Not that Harry knew that, of course.</p>

<p>The bastard had told Ginny, at the <em>least</em>. It was only just that he do the same. It had taken quite a few evenings, but he’d told his girls everything. Everything that had happened in the past, in the future, all the way up to his death in the graveyard — Virgo had insisted on it — everything except for his not being the boy-who-lived. No need to go <em>that</em> far.</p>

<p>Susan hadn’t been thrilled to be an accessory, as she called it, but had agreed the end goal of stopping Voldemort’s conquering Magical Britain, and possibly the world, to be worth it.</p>

<p>Obviously, he’d left out the bit where he and Dumbledore had conspired to send Harry to Azkaban last year. He suspected Virgo would approve (that girl was scary ruthless sometimes), but he had no wish to have Susan on his case, or even worse, telling her aunt.</p>

<p>Given the mission, he didn’t think she would, but he couldn’t risk it.</p>

<p>When they were sufficiently deep into the library, Harry turned and gave him a single raised eyebrow. “Well?”</p>

<p>“Yeah, yeah, it’s here.” John led his brother to a bookcase that looked no different from any other. The thirteenth book in was a large, leather-bound volume on the use of ceramics in the creation of magical artefacts.</p>

<p>“A pottery book for the Potters,” Harry drawled. “How droll.”</p>

<p>John scowled. “You just take your house ring and press it into the seal on the spine.”</p>

<p>They stood in silence for a moment.</p>

<p>“Well?” Harry eventually said.</p>

<p>“Well, what?”</p>

<p>“Well, are you going to do it?”</p>

<p>John scowled again, flashed the ring that marked him as heir to the Ancient and Noble House of Potter and pressed it into the seal.</p>

<p>The bookshelf split in two, creaking under the weight of the books, forming a doorway into a hidden room.</p>

<p>“Very traditional,” Harry commented before strolling in.</p>

<p>John smirked. It wouldn’t do him any good. He’d taken Virgo’s advice and hidden many of the more useful spell books and rituals around the rest of the library before going to fetch him. Harry may have slithered his way past his plans before, but not this time. This was a victory he’d savour.</p>

<p>“Ahh,” Harry said, halfway through one of the books John knew he couldn’t hide. “The patronus knight. An avatar of light, fuelled by righteousness and capable of actually hurting a dementor, rather than just fending it off. I’ll enjoy mastering this one.”</p>

<p>John scowled again to keep up the show. It wasn’t a difficult show to keep up.</p>

<p>“And what is this? Oooo, the family’s Sleekeazy’s Hair Potion and Scalp Treatment recipe. Hard to imagine such an impressive business empire being built on something so innocuous.”</p>

<p>Harry wasn’t even properly reading now, just flipping through the books, eyes barely resting on pages before moving on. Merlin knew why. It wasn’t as if pensieves worked on memories collected in here.</p>

<p>John scowled yet again, this time quite genuinely. “Are you done yet? What are you even doing anyway?”</p>

<p>“Yes,” said an adult voice behind them, causing John to spin and Harry to turn.</p>

<p>Lord James Potter stood there with his arms folded. “That’s something I’d like to know, too.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“And not only that,” Alex continued, “There was that time in book seven when—”</p>

<p>“—Look,” Lockhart interrupted, no longer his usual airy self. “If you disagree with some things in how the books were written, why don’t you write your own interpretation of how it went?”</p>

<p>Alex blinked. “Could I?”</p>

<p>“Sure, sure.” Lockhart looked around quickly. “If it’s good enough, maybe I’ll even publish it, oh! Look, is that Lady Knight? Gotta run — Lady Knight! How excellent to see you.”</p>

<p>He swept off, leaving a thoughtful Alexandra Black staring off into the middle distance.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Lord Potter stood with his arms folded, looking down at the two boys. “Well?”</p>

<p>In Harry’s mind, a dozen trains of thought were busy clacking away along well-used neural train-tracks.</p>

<p>There were many possible reasons they were being confronted like this. Most probable among them being that Lord Potter was displeased about him, Harry, having access to the family magic, given his association with Slytherin, which was exactly why he hadn’t broached the subject with him before, apart from general lack of trust.</p>

<p>Another possible reason was <em>neither</em> of them was supposed to know about the family magics. Many noble families didn’t share them with their children until their thirteenth birthdays.</p>

<p>And yet another reason could be that there were dangerous books in here, and Lord Potter was angry at his heir messing around in here without adult supervision.</p>

<p>Harry had words ready for all three, and more.</p>

<p>His brother was the unknown variable. He didn’t know what discussions John had had with Lord Potter before this. Presumably there had been a talk about family magic, since John had used the patronus knight during last year’s duelling tournament, but he didn’t know what the circumstances were. Had John bullshitted his way out of knowing the family magics when he was too young? Had Lord Potter showed him the family magics early? When even <em>was</em> early for the Potters? <em>He</em> didn’t know.</p>

<p>Therefore, possibly against his better judgement, the smartest thing to do in this situation would be to let his brother take the lead, if only until he put his foot in it so far that muggle businesses would consider dumping him in the ocean and using him as an oil drill.</p>

<p>“It’s okay, Dad, I was just showing Harry the library.”</p>

<p>Harry raised an eyebrow. Interesting. Going for the, ‘everything is fine, why are you making a fuss,’ angle. Not a terrible opening line, all things considered. Also suggested they’d already talked about this.</p>

<p>“It most certainly is not okay,” Lord Potter said, frowning. “Harry does not wear a noble house ring. How can he be expected to keep the secrets of House Potter without it?”</p>

<p>John’s head twisted around to stare at Harry with comically wide eyes. “Is <em>that</em> why you’re evil? You’re being mind-controlled?”</p>

<p>“John!” Lord Potter snapped.</p>

<p>Harry rolled his eyes. Deep-sea oil drilling operations commenced. Also, Lord Potter’s reason for being angry didn’t line up to logic. If John was okay to already know the magics, he should be too. Lord Potter had only known he didn’t wear a ring for a handful of hours, so that couldn’t be the primary reason he hadn’t been shown them already. But if his association with Lord Slytherin was the reason, why would Lord Potter set himself up for obvious failure of his objective? Summon ring, get family magic. Not something Harry wanted to do, but from James Potter’s point of view, he <em>should</em> want to.</p>

<p>Harry watched the now back and forth argument between James and John, feeling more like an outsider than ever before. What was most surreal, though, was that if you listened to their actual words, the two were actually in agreement. Harry should summon his ring, and then he could have <em>limited</em> access to the family magic, but the two were shouting anyway.</p>

<p>Harry looked around the alcove and realised that many of the holes in the shelves were book-sized, and suspiciously free of dust, given the rest of the room. Ahh.</p>

<p>“You just don’t understand what’s at stake!” John shouted.</p>

<p>“Enough!” James said loudly back. “Do we need to have another talk with your mother?”</p>

<p>John quietened.</p>

<p>Lord Potter nodded and turned to him. “Harry, you need to summon your house ring now. It’s important.” His father then started talking him through how to summon a noble house ring, which was actually the simplest thing in the world. It was so simple, in fact, that when he’d first come back in time, he’d done it so easily that it hadn’t even needed thought.</p>

<p>You just had to want and accept your position in the house. Not a magically binding contract. No obligations. At least, no magical obligations that weren’t already there.</p>

<p>Harry looked down at the finger that often proclaimed him as Lord Slytherin. What should he do now? He could just envision all the different versions of how this might go, given that the distraction tactics he’d used before seemed to have run out.</p>

<p>He could refuse, but that would make him look unreasonable and rebellious. That might not be a terrible thing, but it could cramp his style for a bit.</p>

<p>Best case for the short term, he summoned the ring, and nothing changed. In this version of the universe, he was a spare of the House of Potter, not the heir.</p>

<p>On the other hand, if he went ahead and summoned the ring, and he <em>did</em> become the heir, that could be good for the long term, but bad for the short term. The explanations his parents could come up with for how him being the heir was possible weren’t great.</p>

<p>On the <em>other</em>, other hand, becoming the heir would open up interesting possibilities not available before. No dead ends, so long as John kept his mouth shut about their long-term time travel — just different paths.</p>

<p>“Ready?” James asked with a hand on his shoulder.</p>

<p>Harry rubbed his ring finger.</p>

<p>He was going to roll the dice. Time to see if Fate was still on his side or not. Time to see exactly what version of the universe they were in. He willed his Potter noble house ring to his finger, and looked.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“It is very hard for me with the Malfoys,” Virgo said softly into her teacup. “My new father is very demanding.” Opposite her, in the upstairs drawing room, Lily Potter looked sympathetic and worried. “I’d feel much safer with a family like yours,” Virgo continued. She pretended to hesitate, then said, “John is very kind.”</p>

<p>“Have you considered reaching back out to your muggle foster parents?” Lily asked.</p>

<p>Conflicting emotions warred within Virgo. On the one hand, she felt a huge spike of hurt right in her heart as she remembered the mum and dad she’d lost back home. But on the other hand, she was a witch. If she’d stayed in Stockholm, that part of her would never have had the opportunity for greatness. Durmstrang didn’t take muggleborn students. Besides…</p>

<p>She shook her head. “Their memories of me were completely wiped when I returned to the Wizarding World.”</p>

<p>Lily put a hand to her mouth in horror. “Monsters. Oh, I’m so sorry.”</p>

<p>“It’s okay,” Virgo put on a brave smile. “I’m doing my best. And I’m just happy father let me come here tonight. Potter Manor feels much more like a home than Malfoy Manor. I just wish I could spend more time here.”</p>

<p>“But you’re doing well at Hogwarts, aren’t you? Apart from the troubles with the attacks. You look confident in class, and your potions are some of the best I’ve ever seen from a first year.”</p>

<p>Virgo nodded demurely. “Magic comes naturally to me. I think I have a talent. I’ve even been able to help John a bit with homework sometimes.” She snapped her head up. “Not that he’s copying or anything, we just—”</p>

<p>“—Virgo,” Lily smiled, leaned over and put a comforting hand on hers. “It’s fine. And being able to help John is nothing to be ashamed of. Both my sons are geniuses. That reflects very well on you.” Lady Potter’s eyes travelled downwards and focused on something. Her eyes narrowed. “That golden chain… I recognise what that is.”</p>

<p>Virgo hesitated, for real this time. She hadn’t been planning to show Lady Potter <em>that</em>, but perhaps… Yes! Perhaps this was the way. Slowly, she reached for the chain and drew out the pendant portkey that John had given her. Her ticket to safety wherever she might be in or out of Hogwarts.</p>

<p>Lily sighed. “Oh, John.”</p>

<p>“He won’t get in trouble, will he?”</p>

<p>Lily looked conflicted, then shook her head. “I can’t fault his reasoning. You probably <em>do</em> need it more than him. But the heir of House Potter giving such a valuable artefact to a Malfoy… well…”</p>

<p>“He said it would be okay if it was a declaration of intent gift.”</p>

<p>“And you know what one of them is?”</p>

<p>Virgo nodded and another conflict flared inside her, one repeated many times over the past few weeks. Part of her shouted out that this was wrong — that she shouldn’t ever risk putting herself under anyone’s influence, not even someone as powerful as John. That was the Dark Lord in her speaking.</p>

<p>The other part wanted her to charge on ahead and get the prince for herself — <em>all</em> for herself. He’d love and care for her, shower her with magic gifts like a princess, and be utterly, helplessly devoted to her. That was the little girl raised on Disney movies talking.</p>

<p>The result of this conflict was always the same. She would be Lady Potter — the power behind the throne, the cunning behind the brute, Narcissa Malfoy’s metaphorical dagger in the dark, to John’s strong and mighty staff.</p>

<p>…She hadn’t meant to think that last bit.</p>

<p>Virgo nodded. “Yes, I know.”</p>

<p>“And you’re okay with that? Does your father know? He might take this as an invitation.”</p>

<p>“He doesn’t know, yet. But I’d be okay with that.” She plunged ahead. This was it. Time to go in for the kill. “If it was John, if House Potter could protect me—”</p>

<p>A noise interrupted her.</p>

<p>A loud noise, coming from up the corridor towards the library. Annoying!</p>

<p>Then the noise became clearer. Two people arguing with each other, quite loudly at that, and… that was John, wasn’t it? And the other was Lord Potter?</p>

<p>“What the—” Lily said, standing up and looking alarmed, just as the doors banged open and the two Potter men stormed in, still shouting.</p>

<p>“I told you he’s evil! I told you!”</p>

<p>“John, that’s enough! We’re going to sort this out.”</p>

<p>“James! John! What on Earth—”</p>

<p>“Mum, Harry stole my heirship!”</p>

<p>Lily’s mouth dropped open, as did Virgo’s.</p>

<p>“Sweetie, that’s not possible—” Lily began.</p>

<p>“He has the ring! When he called his, mine vanished! I’ve just got a normal noble house ring now. See?”</p>

<p>Virgo saw, and her mind whirled with possibilities, the first being that since it sounded like Harry went back in time further than John, according to the events he’d described, then maybe the family magics recognised him as older. But there was a problem with that theory. If her memories from Tom served her correctly, the Albion magics were based on date of birth.</p>

<p>So that probably wasn’t it?</p>

<p>The second, third, and fourth possibilities were all immediately rejected as impossible, but the fifth — the fifth made her stop dead. Oh Merlin, if <em>that</em> was the answer, then… holy hell. But how to tell John without dooming herself?</p>

<p>The Potters were still shouting, and even Lily had joined in.</p>

<p>“Silence!” Lord Potter roared.</p>

<p>John and Lily immediately shut up. Virgo sat attentive.</p>

<p>Lord Potter took a few moments to get his breath back before speaking again. “John, take Virgo back to your room and don’t speak a word about this to anyone. I declare this to be a Potter family secret. Virgo, if you truly wish to show yourself to be a friend of our house, you’ll also not speak of this to anyone. Go now. Your mother and I have to discuss matters.”</p>

<p>They left, Virgo leading the way. Her stride was determined.</p>

<p>Halfway through the manor, John spoke up.</p>

<p>“Virgo?” He sounded uncertain. “Where are we going? This isn’t the way back to the playroom.”</p>

<p>“Library,” Virgo said. “I need to check something. Always check. Never assume.”</p>

<p>“Always check what?” John asked, but she didn’t bother elaborating.</p>

<p>They walked into the library and Virgo immediately started going through the shelves, looking for something very specific.</p>

<p>“Virgo, there are family books laying out here, remember?”</p>

<p>“Then you’ll just have to take them off the shelves and hide them somewhere better won’t you? Hardly matters <em>now,</em> does it?”</p>

<p>John shrugged and walked off.</p>

<p>The logic had started with an idle thought — a small strand that she’d started pulling at, only to find that the strand might be attached to a string, which might be attached to a rope, which if pulled might pull over a whole building’s worth of trouble.</p>

<p>The thought was this. Harry Potter might be a horcrux. This was a possibility she’d constantly come back to again and again. Had spent months pondering. At times the evidence pointed away, but then the evidence pointed towards.</p>

<p>Given that this was a recurring possibility, she’d be a fool not to consider that Harry’s heirship might have something to do with it.</p>

<p>“I’m done,” John announced, arriving back at a jog. “Is that the book on the Albion Family Magics?”</p>

<p>“The latest version.” Virgo flipped through the tome. Her eyes narrowed. “John, go find Susan and meet me back in the playroom. This is <em>very</em> important.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Hey, Ginny,” Harry walked into his group’s hideaway, currently containing Daphne, Hermione, Luna, and Ginny, with a big smirk on his face. “How would you like to one day be Lady Potter?”</p>

<p>Ginny’s face turned to horror. “Absolutely not! How could you even suggest—”</p>

<p>Harry stopped in the middle of the group and flashed his brand spanking new heir ring.</p>

<p>“—Something so logical and reasonable,” she continued without missing a beat. “Screw that pauper brother of yours. Nothing but a proper ladyship is good enough for Magical Britain’s newest quidditch phenom, Princess Ginevra Molly Weasley.”</p>

<p>“So it really happened,” Daphne whispered. “This is going to complicate things.”</p>

<p>“Indeed. Lord Potter was not pleased at all. I dare say getting to my own gala night will now require a more adventurous journey than just taking the floo.”</p>

<p>He drew up a chair and sat directly opposite Ginny. His face dropped the smirk. “Ginny, you know I’ve had a few vague talks with your father about a possible betrothal. With your permission, I’d like to pursue that possibility a bit more aggressively. Is that something you’d like?”</p>

<p>Ginny’s cocky grin also dropped, replaced with nervous shyness. She was silent for a moment while a blush started to form on her cheeks. Eventually she said, “Yes, Harry. I’d like that.”</p>

<p>“Okay then. I’m glad, because it’s something I want too.”</p>

<p>Ginny smiled shyly.</p>

<p>The moment was broken by the three girls behind them clapping, all with smiles on their faces. And just like that, a hint of Ginny’s cockiness returned with a small smirk of her own.</p>

<p>“But Harry,” Hermione began. “How are you going to get Lord Potter to agree? You yourself said he’s not exactly pleased with you.”</p>

<p>“No idea. It’s mostly Slytherin he’s not pleased with actually, but you are still correct. I’ve no idea how I’m going to wrangle this.” Harry stood back up. “But I’m damn well going to make it happen.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Virgo stared down at the book like it was some strange and fascinating creature.</p>

<p>Her instincts had been right.</p>

<p>Damn Tom Riddle. Damn Julia Olsen. She’d been <em>this</em> close to arrogantly thinking she knew best when she really knew nothing. She’d been <em>this</em> close to believing that the Dark Lord in her had to know better.</p>

<p>The logic chain had started simply. Harry Potter might be a horcrux. Maybe that played a part in his being the Potter heir. <em>How</em> could it play a part? Maybe Harry was like her — a merged horcrux — a merged horcrux like Lord Slytherin.</p>

<p>“Hey, Virgo!” It was John. “I found Susan. She was downstairs. She’s heading over to the playroom now. What’s all this about?”</p>

<p>“I’ll tell you when I get there. Go on ahead. I need a few moments alone to sort my thoughts.”</p>

<p>John left.</p>

<p>Virgo took a deep steadying breath. If Harry Potter was a merged horcrux, his soul age would be older, just like hers. She wasn’t sure exactly how the soul merge between Julia and Tom went, but she wouldn’t be surprised if she was now only a year younger than John’s actual soul age.</p>

<p>But that wouldn’t mean anything. Not if the Albion Family Magics determined age by date of birth.</p>

<p>They didn’t. Her hands gripped the book harder.</p>

<p>They used to. By Merlin, they <em>used</em> to! But that had changed in a historical event known as The Great Accounting. A change that made soul age the primary determinant of age by the Albion Family Magics. A change that became active in the year 1988 — just like Lord Slytherin.</p>

<p>Virgo bit her lip.</p>

<p>But if soul age was what determined age now, why couldn’t her original idea be correct? Why couldn’t Harry be the heir simply because he’d travelled back in time further than John? That was a perfectly rational explanation. But if that was the case, it begged another question. <em>Why</em> would Harry have travelled back in time further than John?</p>

<p><em>’Death smiled. “Yes, he [Harry] is the subject of the prophecy ???wouldn’t the BWL ‘status’ and being the subject of the prophecy be connected???, but we are giving you the chance, John, to fulfil the prophecy in his stead. Bringing your twin to us now would be troublesome. Our influence in the mortal plane is extremely limited. We can generally only operate through chosen ones and champions.”’</em></p>

<p>Annoyingly, John had later told her he didn’t know the exact contents of the prophecy, only that Harry had been originally fated to eventually ‘vanquish’ the Dark Lord, but in the process become an even worse power himself — annoying and terrifying. But it was Death’s next words that were most relevant at the moment. <em>’Bringing your twin to us now would be troublesome.’</em></p>

<p>Bringing him <em>now </em>would be troublesome. But Harry had also travelled back in time. How?</p>

<p>What if they’d brought him <em>later</em>?</p>

<p>Fate and Death hadn’t even told John about Voldemort’s horcruxes. They’d told him basically nothing! What chance did she honestly think John had of taking Voldemort as he was right now? Probably none.</p>

<p>Suppose John had travelled back in time and failed.</p>

<p>Fate and Death then use another chosen one or champion to arrange to have Harry brought to them. <em>That</em> could explain why they sent him back in time further. They decided he needed more time to succeed. So they send him back to 1988, three years before John’s arrival… the same time that Lord Slytherin comes right out of nowhere… the same time that the Albion Family Magics changed how age was calculated to soul age rather than date of birth — a change that would allow an eight-year-old to take on a lordship <em>if</em> they had a soul old enough.</p>

<p>Virgo’s mind was barrelling on ahead now, desperately looking for any cracks in her reasoning.</p>

<p>There was a whole extra timeline to work with! A timeline in which <em>anything</em> could have happened. The possible scenarios were endless.</p>

<p>How could Harry Potter be Lord Slytherin? Easily.</p>

<p>Suppose…</p>

<p>Virgo glanced towards one of the many books on Potter history that filled the bookshelves.</p>

<p>Suppose Harry had been sent to Azkaban, like he had been in John’s original timeline.</p>

<p>Slowly, driven mad by dementors and by the injustice of being sent to Azkaban for a crime he didn’t commit (because if anyone killed Ginny Weasley with the basilisk, it would have damn well been her!), Harry becomes bitter and resentful. He harbours thoughts of revenge.</p>

<p>And then, one day, John goes up against Voldemort and Voldemort wins.</p>

<p>Virgo shut the book she was holding with a snap.</p>

<p>Then, once Voldemort wins, he frees Harry from Azkaban and offers to blood adopt him as his own son! And Harry, bitter and resentful, accepts. He acquires Riddle blood, rejects the common blood of the Evans family, becomes half Potter, half Riddle, and becomes eligible for the lordship of Lord Slytherin by having a full soul, just like she, Virgo, was able to become an animagus for the same reason!</p>

<p>Of course, Voldemort would need a good reason to blood adopt someone, and there weren’t many of them, but there was one good one she could think of… if they were a horcrux prison.</p>

<p>So, Harry becomes the Dark Prince — Voldemort’s most terrible enforcer. But at some point, for some reason, Harry’s soul merges with the horcrux, which Voldemort would never be able to accept, and so Harry becomes Voldemort’s enemy.</p>

<p>Fate and Death then have him brought to them and send him back in time to merge all the horcruxes into himself, effectively neutralising them (which would also almost certainly kill her, if he got to her before she got to him.)</p>

<p>And voila, Harry Potter is Lord Slytherin.</p>

<p>And now, Heir Potter too (which was a problem that could easily be fixed with his death).</p>

<p>Of course, this was just one possible chain of events, but the overall picture was likely similar. Harry was the blood-adopted heir and merged horcrux of Lord Voldemort.</p>

<p>Virgo let out a sigh.</p>

<p>There was, however, a problem with all this.</p>

<p>Given what she knew of John Potter so far, he wasn’t likely to accept any hypothetical chain of events that included his failure to succeed in his mission. While she appreciated him a lot now, that didn’t mean she was blind to his weaknesses. That meant she’d have to leave that bit out, but that created a massive hole in the logic that needed to be filled.</p>

<p>Besides, there was absolutely no way she was going to straight-up tell John that her death was a possible avenue to destroy Voldemort. No fucking way.</p>

<p>But every problem contained an opportunity, and this one coincided well with the promised discussion she’d recently had with Susan after rescuing John from the tower ritual.</p>

<p>The best way to plug this hole? Tell the truth. Tell the truth and lie, lie, lie.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“John, what’s all this about?” Susan asked.</p>

<p>“No idea. Virgo just came across all mysterious. Like Hermione when she’s figured something out.”</p>

<p>“I can’t believe your brother could steal the heirship from you.”</p>

<p>John clenched his fists. “If I ever get my hands on him…”</p>

<p>Just then the door to the playroom opened, and Virgo walked in, holding a small pile of books, and looking very nervous. “Susan?” She made her way to where the two of them were sitting. “You remember that conversation we had about telling John certain things? I found something out, but I need to tell him about that first.”</p>

<p>“Oh, good.” Susan smiled. “I’m glad I don’t have to pester you about it.”</p>

<p>“What’s the mystery then?” John asked. “What have you figured out? What do you need to tell me?”</p>

<p>Virgo sat down. “You remember you told us about the last timeline? About how Ginny was being enchanted by a magic diary made by the Dark Lord?”</p>

<p>John felt an uneasy feeling coil in his stomach. “Yes?”</p>

<p>“When Lord and Lady Malfoy brought me back from the Muggle World, they did the same thing to me.”</p>

<p>The feeling turned to lead. John’s eyes went wide.</p>

<p>Susan gasped. “Wait, what is this? This isn’t what we talked about.”</p>

<p>“I know. Just trust me, I’m getting to it.”</p>

<p>But John’s mind was already whirling. “But the map! It always says you’re Virgo Malfoy. The last time around it would say Tom Riddle when Ginny got enchanted.”</p>

<p>“The map doesn’t say Tom Riddle for me because I am <em>not</em> being enchanted. Over the summer, my parents used a dark ritual on me to try and speed up the enchantment process — the life-draining process. It failed. And instead, I got all the memories and skills from the enchanted diary. That’s the real reason my parents are so unhappy with me. It has nothing to do with my sorting into Gryffindor. I killed the diary.”</p>

<p>John’s mouth fell open. “You have the memories of the diary? Of Tom Riddle?”</p>

<p>Virgo nodded.</p>

<p>“Tom Riddle who became Voldemort?” Susan whispered.</p>

<p>Virgo nodded.</p>

<p>“Is that the real reason for your…” she trailed off, giving John a sideways glance.</p>

<p>“Getting to that, yes.”</p>

<p>“Wait, why didn’t you tell us before?” John said. He was having difficulties keeping the hurt out of his voice. She’d been dealing with something this important all year and hadn’t told him?</p>

<p>“Because I was scared, John. Imagine it. You don’t remember anything about being magical, and then suddenly you get pulled from your home, and given to two people like the Malfoys. They give you this diary, and it seems like it’s your new best friend. The only person in the world who understands you. Then it turns out he’s an evil Dark Lord who wants to suck out your life energy. And then, when that fails, you learn all his secrets. All the ways he was going to protect himself in the future. Imagine what would happen to me if anyone learned I had that knowledge.” Her voice got softer. “What if they already did?”</p>

<p>Susan put a hand over her mouth in horror. “Is <em>that</em> why people have been trying to kill you?”</p>

<p>“I don’t know. I suspect so.”</p>

<p>“So what were the ways?” John leaned in eagerly. “All the ways he protected himself, I mean.”</p>

<p>“His most important one was a ritual that tears off a piece of your soul and puts it into an object for safekeeping. The object then tethers you to this world, stopping your soul from passing through the Veil, to the world of Death.”</p>

<p>“Like a lich?” Susan asked.</p>

<p>“Yes, except you keep a portion of your soul inside yourself, so you do not become undead.”</p>

<p>John’s heart was racing now. This was it. This was what he needed. This was the lucky break that would turn all his fortunes around!</p>

<p>“These objects are called horcruxes.”</p>

<p>Horcruxes… even the word sounded evil.</p>

<p>“Most of the horcruxes Tom Riddle planned to make were to be inside objects, but he also entertained the idea of using living creatures as horcruxes, making a kind of living prison. One of the big problems with horcruxes is that the soul piece inside the object used has a will and consciousness of its own. A soul piece with the temperament of Tom Riddle or Lord Voldemort would try every trick it could imagine to break free. He theorised that using a living creature could potentially solve that problem since the will of the container could act as a kind of impenetrable wall between the horcrux and the outside world. But it would come with downsides too. Tom Riddle certainly wasn’t planning on creating any living horcruxes for a long time.”</p>

<p>John glanced to his side and saw that, like him, Susan was hanging on Virgo’s every word.</p>

<p>“Do you know where any of these horcruxes are?” She whispered.</p>

<p>Virgo looked uncertain. “Yes, and no. I believe I know <em>where</em> one of them <em>was</em>. And <em>what</em> one of them now <em>is</em>.”</p>

<p>Virgo changed. Her legs moulded together, robes disappeared into her body and a massive snake’s tail with brilliant red scales swept around the room, coming to rest in a circle around John and Susan. It was only Susan’s apparent blasé acceptance of this that stopped him letting out a small scream. He did, however, point a shaky finger at her. “L-L-Lamia!”</p>

<p>“Lamia animagusss, actually,” Virgo said in a hissy voice, covering her now-larger chest with her hands, despite the scales already there. “Thank you, Sssusssan.” She took a t-shirt from the other girl and pulled it over her head.</p>

<p>“You’re a horcrux?” John said, weakly.</p>

<p>Virgo shook her head. “No. The diary wasss a horcrux. When the Malfoysss performed the dark ritual to ssspeed up my enchantment, I inssstead merged with it, cutting it off from the other sssoul piecesss, and dessstroying itsss function asss a horcrux. But I wasss left with thisss.” She gestured down at her body.</p>

<p>John just stared. The girl he’d been starting to have a crush on had turned into a massive magical snake witch in front of him. On the other hand, he’d gotten quite an eyeful before she’d put that t-shirt on. There was no such thing as an immature animagus, after all. And they’d been quite impressive.</p>

<p>Thankfully she couldn’t read his thoughts, and simply continued with the explanation. “Merging with the sssoul fragment held within the diary alssso had the effect of increasssing my sssoul age — sssomething that I’m fairly sssure only I know about. Thisss sssimply isssn’t magic that hasss ever been done before. I am now actually probably clossser to your age, John, than Sssusssan here isss.”</p>

<p>That was interesting. Susan would also develop larger boobs quite soon in the future, too. Together they could eventually be the bustiest pair in the castle. No, wait! He mentally shook himself. He shouldn’t be getting distracted like this. “The second horcrux.” he said. “What is it?”</p>

<p>Virgo took a deep breath. “It’sss Harry.”</p>

<p>Susan gasped.</p>

<p>John stared. Then his eyes widened. “You think that’s how he’s older than me?”</p>

<p>“Yesss. I think that when Voldemort attacked you asss a baby, he wasss planning to ussse your death to make your brother a horcrux. Except it wasss hisss own partial death that ended up being usssed inssstead. I believe he’d have sssplit hisss sssoul to the absssolute limit at that point, ssso even hisss own demissse could have triggered the final part of the ritual. Then sssometime in-between the time when you firssst called your heir ring and now, Harry merged clossser with hisss sssoul fragment, but not clossse enough to sssever the connection.”</p>

<p>“What makes you think he hasn’t severed the connection?” Susan asked.</p>

<p>“Becaussse of thisss,” she held the Albion Family Magics tome up. “In 1988 the family magicsss changed to recognissse sssoul age asss the only legitimate measssure. And it wasss at exactly thisss time that Lord Ssslytherin became active.”</p>

<p>“So you think that Lord Slytherin wasss behind the horcrux merger with Harry?”</p>

<p>Virgo was silent for a moment before she said, very slowly and deliberately. “No, John. I think that the horcrux gave Harry rightsss to the Ssslytherin line that Voldemort wasss never able to claim. And that hisss new sssoul age allowed Harry to do ssso. I think that Harry <em>isss</em> Lord Ssslytherin.”</p>

<p>It was like a wall of silence hit him with all the force of a tidal wave. He just could not process what had just been said. He couldn’t have heard that correctly could he? Virgo thought that Harry was… that Harry was…</p>

<p>“…It actually makes an odd kind of sense—” was as far as Susan got before—</p>

<p>“—THAT BASTARD!” John leapt to his feet, causing his chair to crash to the ground behind him. “That evil! That Slytherin! That <em>Slytherin</em>!” Suddenly all the little hints Harry had dropped over the years leapt up and smacked him in the face all at once. The wordplay used in casual conversation. The looks. The smirks. “All this time! Time! It must have been the trip back in time! It must have done some weird magic thing. C’mon! Let’s go tell Mum and Dad! They can—”</p>

<p>“—Wait!” Virgo snapped.</p>

<p>John froze halfway to the door.</p>

<p>“We can’t jussst go running off and telling anyone about thisss without a plan. There are too many thingsss that could blow up in our facesss. We have information that we ssshould not have — illegal information. And Harry isssn’t committing any crime that we ourssselvesss wouldn’t alssso be guilty of if we revealed what we know.”</p>

<p>“Couldn’t we reveal it anonymously?” Susan asked. “You know, sort of point people in the right direction?”</p>

<p>“We can, but we need to be cunning about it.”</p>

<p>“We have to do <em>something</em>!” John shouted.</p>

<p>“And we will. I have a plan.”</p>

<p>“A plan?”</p>

<p>“Yesss, a plan.” Virgo grinned and John suddenly realised that while he’d seen many scary things in his life, including Lord Voldemort in a graveyard, having a lamia grinning at you from only a few feet away was a special kind of scary.</p>

<p>“Lord Ssslytherin isss a Hogwartsss ssstudent. Thisss isss the battlefield we will fight on,” Virgo said. “We will gather the Light children throughout the cassstle and train them to work together, jussst like Harry isss doing with the mugglebornsss. We will conduct all the ritualsss we can sssafely get away with to further increassse our powersss. We will plant ssspiesss all throughout the cassstle, bring the paintingsss to our ssside, and persssuade the ghossstsss to play our game. And when we are ready, when the correct opportunity presssentsss itssself, we will ssshow the world who and what Lord Ssslytherin really isss at the worssst possssssible time. And completely dessstroy the Gray.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>[Some minutes previously]</p>

<p>Lord Potter closed the doors to the sitting room as Virgo and John left. He turned to his lady wife who was looking extremely agitated.</p>

<p>“Harry couldn’t have done this by himself,” Lily said.</p>

<p>“I agree.” Lord Potter walked over and poured himself a drink of firewhisky. “And not only that, but I have finally figured something out.”</p>

<p>“What?”</p>

<p>“I have figured out who Lord Slytherin is.”</p>

<p>Lily’s eyes narrowed. “Who?”</p>

<p>James downed the whisky in one go and began to pour himself another. “Think about it, Lils. Who is someone that no one would suspect returning, after all this time? Who has a large grudge against the Light? Who would have the power to do something like this? Terrible powers that no one truly knows the depths of?”</p>

<p>Lily gasped. “You don’t mean…”</p>

<p>“Yes.” James nodded grimly. “Lord Slytherin is Remus Lupin.”</p>

<p style="text-align: center;">— End of Chapter Fifty-three —</p>

{  21} [suffer long-term effects]: Snape was petrified a lot longer; could be a problem, or just Lily being afraid for 'her' child.

{ 407} [RAB]: I believe he gets called RB everywhere else. Should this or all the other occurences be replaced or is it ok as it is?

{ 931} [family secret]: ChRiAn: "When Harry gets his heir ring, James declares it a family secret and later during the Slytherin Gala gets "notified" everytime Harry tells someone. Yet when he tells the  girls directly after receiving the ring, nothing happens." discord message link with discussion: https://discord.com/channels/342065231842902017/387696969499541514/1192618651640147979
