Chapter 54 - Movers and Shakers - Part 2

<p>Christmas Day, for those who celebrated it, came and went — presents under the tree and goodwill to all wizards in the air, provided of course, that they were the right kind of wizard. And the morning after, the daylight broke in the front shop of the Diagon Alley Owl Office, where a very special delivery was being prepared.</p>

<p>“Blimey,” said Stan Shunpike staring at all the packages being frantically packed. “What’s ‘is lordship wanting all those masks for? Ain’t he got enough?”</p>

<p>The room was full of half-open boxes, all containing hand-quilled letters along with a green and black mask wrapped in packing paper.</p>

<p>“Duh,” said his sister, carrying yet another box full of fake Lord Slytherin masks from around the back. “They’re for the posh party tonight. Dem lords always gotta do it like this, don’t they. Ma-ska-raid and all that.”</p>

<p>“But if they’re all wearing masks, how’d they then know who the real Lord Slytherin is?”</p>

<p>Rodger from up the street clapped Stan on the back. “That’s the point, innit? It’s like, all cunning and stuff. Slytherin. All part of some master plan, no doubt.” He tapped the side of his nose conspiratorially. “Now, come here and give us a hand, yeah? You fancy yourself a charms master.”</p>

<p>“Fancies himself more like it!” called his sister. “Fancies himself more than a Malfoy, that one.”</p>

<p>“No more than you!” Stan called back, sitting down and drawing his wand. “And I’ll have these all done in a less than a jiffy. You’ll see.”</p>

<p>Over two hundred packages were charmed shut and wrapped. Over two hundred owls swooped down. All throughout the day, deliveries arrived at the front doors of the possibly good and questionably great.</p>

<p>At Malfoy Manor, Lord Malfoy opened his box and stared inside. “Seriously?”</p>

<p>In the kitchen of the Burrow, Molly Weasley opened one box after another, shaking her head in exasperation. “Arthur! Your Lord Slytherin is up to his games again!”</p>

<p>At Grimmauld Place, a very uncertain Lord Black walked into his daughter’s room, only to find her enthusiastically posing in front of a mirror, wearing a long evening dress, and an exact half-copy of the mask that he now also carried.</p>

<p>All across the country, the packages were met with reactions ranging from excitement to incredulity, to suspicion, but mostly they were met with bemusement.</p>

<p>And finally, at Potter Manor, a house elf handed four packages to Lord Potter, who opened them and immediately gave one of the four back. “Harry is not to leave the manor tonight, understand? Harry is grounded.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>A few hours later, Harry watched from behind the upstairs bannisters as the other Potters made their final preparations to leave.</p>

<p>“And remember, be on your best behaviour, John,” James Potter said. “There’s a lot riding on tonight. The Light needs the Gray’s support if we want to advance our interests in the Wizengamot. If you do anything to endanger that, I will be very displeased.”</p>

<p>“Yes, Dad,” John said from behind his Lord Slytherin mask. He had not looked pleased at all when he’d learned that he’d be expected to wear it for most, if not all, of the evening.</p>

<p>“And, Harry,” Lord Potter called up to where Harry looked down on them. “I don’t want to hear about you giving the house elves trouble.”</p>

<p>“Of course not, Father.”</p>

<p>“Good.” James Potter donned his Lord Slytherin mask, and Lily Potter did the same. The three then stepped into the roaring green floo, one after the other, and shouted, “Slytherin Manor!”</p>

<p>The first place Harry ransacked was the library, looking all over for the missing family magic books John had hidden. He succeeded in finding two before a clock told him he was running out of time. His second march took him to the storeroom where he’d found the invisibility cloak, all those years ago. He’d been half-hoping that the Potter family might possess other useful treasures—maybe even the stone or the wand of Death—but alas, it was not to be.</p>

<p>Another clock chimed that he was already slightly late for his next appointment and so he jogged through the manor, down the stairs, out the back door, and down to the very edge of the wards.</p>

<p>“Master Harry is not to be leaving the manor,” said a voice from behind him.</p>

<p>Harry turned around. One of the Potter house elves stood with her arms folded, tapping her foot. Harry’s back was almost scraping the ward’s edge, it was so close.</p>

<p>“Not planning to, my friend. Not planning to.” He put his hands behind his back, one palm open, and felt a glass vial drop into it. An invisible hand gently squeezed his before retreating.</p>

<p>“Then why is you being here?” asked the elf.</p>

<p>“Just going for a walk. It’s a beautiful winter’s evening.” Unseen, he slipped the vial into the pocket of his robes.</p>

<p>“It’s dark out.”</p>

<p>“Exactly. That’s the point.” He sighed. “But perhaps you are right. Perhaps it is rather cold out, too.” He gestured back to the manor and the elf escorted him all the way back. Twenty minutes later, all the elves were lying unconscious, drugged out of their skulls by the powerful sleeping potion Harry had slipped into their drinks. He finished the ruse by replacing the half-empty glasses with new ones, spiked with Ogden’s finest taken from Lord Potter’s drinks cabinet.</p>

<p>Plausible deniability taken care of, he opened a downstairs window, and slowly floated up and into the night.</p>

<p>Harry was anything but grounded.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Sitting at his office desk, Lord Jacob Greengrass really wished he couldn’t hear the argument that was going on just outside his door.</p>

<p>“But where’s Daph?” Astoria asked for what felt like the hundredth time. “Is she with Harry? Huh? Huh? She is, isn’t she?”</p>

<p>“Astoria,” snapped his wife. “Mask!”</p>

<p>“What, this?” There was a giggle.</p>

<p>“No, not <em>that</em> mask. Your metaphorical mask. Your <em>Slytherin</em> mask.”</p>

<p>“This <em>is</em> my—”</p>

<p>“—You know exactly what I mean.”</p>

<p>“But using occlumency so much is just so boring, and I’ll be at it all night! What are we waiting for anyway?”</p>

<p>At that moment, Jacob felt through the wards exactly what they were waiting for, arriving via the floo.</p>

<p>A couple of minutes later, Harry stood before him.</p>

<p>Jacob cleared his throat. “I wish to say that I do not approve of what we are about to do.”</p>

<p>“You understand this is the safest way,” Harry replied.</p>

<p>“I do, but that doesn’t make it any less inappropriate. If we are found out it will cause a scandal.”</p>

<p>“Then we shall have to ensure that we are not found out.”</p>

<p>Jacob didn’t really have a reply for that so he just tossed over a small vial of mud-coloured potion and watched as his future son-in-law turned into his first-born daughter.</p>

<p>“Daphne!” said his wife, materialising through the office door as if pulled by a summoning charm. She had a huge shit-eating grin on her face. “I see that nasty boy has been having far too great an influence on you. Look at those clothes! Just follow me and we’ll get you ready for the gala, just as I’m sure your betrothed would love to see you.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Lord Slytherin!” gushed the wife of a random minor lord. “That is you, isn’t it? Yes, it is — so hard to tell with all these masks. Can I just congratulate you on such a magnificent home? My husband has been most impressed and I’m sure if my children were here, they would be too.”</p>

<p>“Thank you,” said Daphne graciously, having to clamp down on her occlumency to stop herself snapping at the boring cow.</p>

<p>After a few minutes of polite conversation, she managed to beg off to attend to other guests. Everything about this felt wrong. Not the playing host for a huge number of magical lords and ladies — she’d been practically bred for that. No, it was the being a wizard thing that was the sticking point. She wasn’t a wizard and while Ginevra and Luna might relish the opportunity to play dress-up, as it were, she would be quite happy to spend the rest of her premarital life avoiding the embarrassment of being reminded exactly what Harry was going to be lugging around beneath his robes when he was older. That worked until she had to use the bathroom, which would probably be soon. The first guests had arrived three hours ago and she’d been going non-stop since then.</p>

<p>Greeting the Potters had been particularly difficult. The testosterone flowing through her blood demanded she smash Lord Potter’s nose into the brilliantly polished floor. Thankfully, she’d resisted the temptation, but it was a close-run thing, especially when the leading lord of the Light had made comments about Harry and how they would have to have a <em>talk</em> about him soon.</p>

<p>The rest of the guests milled around the entranceway, or else had wandered off to find their seats in the sea of round tables that had been laid out in the ballroom. The house elves had been working hard all afternoon and soon all that effort would bear fruit. Just as her lord planned.</p>

<p>The floo flared green and Daphne had to steel herself as her father, Lord Greengrass, stepped out, followed quickly by her mother, her sister Astoria, and herself. And despite herself, she couldn’t help letting out a cough. Firstly, did she really look that small? And secondly, wow — Harry could pull off pureblood princess as easily as he could all-powerful lord. It was kind of annoying, actually.</p>

<p>“Lord Greengrass,” she said, opening her arms and embracing her father in an incredibly manly hug. “I hope I find you well.”</p>

<p>“Quite well, Lord Slytherin,” her father replied. She noticed with a quirk of her lips that he wasn’t handling the awkwardness quite as well as Harry was. “As is my family.” He gestured behind him.</p>

<p>“I’m happy.” Daphne turned to the other three, two of whom giggled, one of whom didn’t, and it was that one who gave her a perfect demure curtsey. “My lord,” Harry said, dipping low in a dress that she recognised as one of the ones her mother had been trying to get her to wear for years.</p>

<p>“Daphne,” Daphne said, smiling. “You look absolutely enchanting tonight.”</p>

<p>“Thank you, my lord. You look amazingly handsome, too.”</p>

<p>“Okay, that’s enough of that,” her father cut in. “Lord Slytherin, I believe you have some words you need to exchange with Daphne? Astoria, will you go and keep an eye on her?”</p>

<p>“Of course!” Astoria chirped.</p>

<p>The three of them were soon ensconced in the drawing-room just off the main ballroom.</p>

<p>The moment the door was locked, Astoria burst into laughter. “I can’t believe you really went through with it! Daph, you have the best betrothed ever! I’m so jealous.”</p>

<p>Harry removed his mask and smiled with Daphne’s face. “I trust you are ready to play your part, Astoria?”</p>

<p>“Of course.”</p>

<p>Daphne removed her own mask and tossed Harry his Lord Slytherin wand. “Lady Charmer took ill soon after arriving — she’s been flooed to St Mungo’s — Heir Shafiq has been stunned for trying to force his way through a locked door, and Lord Thynn is complaining that his plus one couldn’t be one of his mistresses.”</p>

<p>“That all?”</p>

<p>“Not by a long shot.”</p>

<p>“You stunned someone, Daph?” Astoria looked up at her, wide-eyed.</p>

<p>“He had it coming.”</p>

<p>“But isn’t Shafiq on our side?”</p>

<p>“Yes. His grandfather is extremely embarrassed.”</p>

<p>“I’ll bet he is.” Harry took the small potion she proffered him and held it up. “Ready?”</p>

<p>Daphne nodded. Together, they drank the vials in one gulp.</p>

<p>Then, as Harry’s skin began to bubble, he flicked his wand and switched their clothes.</p>

<p>Daphne felt the wizarding robes she’d been wearing switched with the far more familiar and comforting embrace of a dress, even if it was one of the more complex ones.</p>

<p>“Oh, thank Merlin.”</p>

<p>Harry, now male and much taller, put his mask back in place. “Don’t get too comfortable. This will be far from the last switch tonight.”</p>

<p>“And now it’s my turn!” Astoria was practically jumping up and down.</p>

<p>Lord Slytherin turned to her. “Astoria. Mask.”</p>

<p>Astoria’s face instantly blanked.</p>

<p>“Well done.”</p>

<p>The girl let a crack of happiness peek through before turning back once more into full-on ice princess.</p>

<p>One more round of polyjuice potions, and another switching spell later, and Daphne and Astoria had also completely switched places.</p>

<p>“And now, the final finishing touch,” Harry said. “Astoria, banish and recall your noble house ring.”</p>

<p>Astoria nodded, closed her eyes and focused. Seconds later, Daphne felt her heiress ring vanish from her finger, where it reappeared on her little sister’s.</p>

<p>It was now official. Her betrothal to Harry had always precluded her from taking on the role of Lady Greengrass. But the family had always suggested that they keep her in the role of heiress anyway, until Astoria arrived at Hogwarts, just because she was so good at it. This was just moving the schedule up a few months. “Astoria,” she practically begged. “Please don’t do anything unseemly. This is my reputation I’m trusting you with.”</p>

<p>“Hey, don’t worry, Sis. I got this.” Astoria placed a hand on her chest. “I would have you know that I am most pleased with how this soiree is progressing, my lord, and hope you would indulge my proclivities later on for a pleasant stroll by the water.”</p>

<p>“I don’t speak like that!”</p>

<p>“You totally do.”</p>

<p>“Girls,” Lord Slytherin interrupted them. “It is time for Astoria Greengrass to fall ill.” He pulled out his shrunk trunk from the pocket of his robes. “Hop in, Daphne.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The table was covered with a white linen table cloth, and laid for ten. Around it, three families sat, exchanging conversation while waiting for both performance and food. The first family were the Malfoys. Draco sat on his father’s left-hand side, while his mother sat on his father’s right. He was quite pleased with the holidays so far. The attention he’d garnered as the up-and-coming Dark wizard who’d summoned a basilisk in the forbidden forest felt good in a way that being praised for being Heir Malfoy alone never quite had. He hadn’t realised the difference until now. The basilisk-summoning episode was his — not his family’s. Even if it had been a fluke — even if almost the entire Wizangamot had voted to ban his further experimentation with it — it was still his.</p>

<p>The second family sitting around this particular table were the Parkinsons. Draco’s mother and Pansy’s were avidly discussing his and Pansy’s respective Hogwarts achievements in the way that competitive mothers are wont to. Draco caught Pansy’s eye and gave her a faux bow.</p>

<p>Pansy smiled back. The witches wore only half-masks so he could see some of her cheeks. She was blushing.</p>

<p>Being the witch whom Draco had primarily summoned the basilisk to protect had changed things between their families. There were still many noble houses interested in marrying their daughters into the Malfoy sphere of influence, but the Parkinsons had definitely moved up the queue, as it were.</p>

<p>With two acknowledged Dark families making up most of the table, the final family would have been seen as the odd one out by those who didn’t keep up to date with the politics of the day. Unfortunately, it seemed that one of those people who didn’t keep up with the politics of the day was the very head of that exact family.</p>

<p>“I can’t tell you how good it is to see the Ancient and Noble House of Black rediscovering the old ways and traditions,” said Lord Parkinson.</p>

<p>“Indeed,” added Lord Parkinson’s younger brother, Robert. “I remember when I were a lad. Me and Saumual here once snuck into Knockturn Alley and tried to hire a troll to live under that little bridge over the creek.”</p>

<p>“Errr…” said Lord Sirius Black.</p>

<p>“Of course it didn’t work. But our Grandmother liked to lead us around with all those fairy-tale rituals. Said later it kept us out of real trouble. I bet Alexandra here gets up to that kind of trouble all the time.”</p>

<p>“Ummm…”</p>

<p>“Anyway, it’s been fascinating to watch her play the Snake Pit. Scary too, at times. Don’t you think so, Sam?”</p>

<p>“Sure has. I’m rather jealous, to be honest. In my day, I was one of the only heirs attending, so my leadership was a fait accompli. But even then, I doubt I’d have been able to fight off that many challengers all at once.” Lord Parkinson raised his mask and winked at Alex. “She’s a fearsome one, no doubt. I’m glad the Dark’s future leadership is looking strong. It’s just a shame she’s a witch.” He laughed and refixed his mask. “If she weren’t, I’d be pushing you hard for Pansy’s consortship contract.”</p>

<p>“Ahh… yes, um….”</p>

<p>Draco carefully watched Alexandra as the exchange continued. His public leader was sat on Lord Black’s left, radiating calmness and looking just a little smug. He shivered. Despite everything, he still couldn’t quite shake that feeling of anxiety sometimes around her. Casting his mind back to the beginning of the year, he couldn’t believe he’d so boldly suggested on the train that one day Black might be one of <em>his</em> consorts. The witch was an untameable mess of contrasts.</p>

<p>On the one hand, she sometimes appeared amazingly naive about aspects of pureblood culture. Like when she’d first played wizard’s poker with him and the other Slytherins. It quickly became apparent that she was an amateur who knew only the rules and none of the subtleties.</p>

<p>But then on the other hand, she was cunning, ruthless, and a magical combat prodigy powerful enough to take on a good chunk of upper years all by herself — much like the Potter twins of the Light and the Gray. That, more than anything else, was the driving force behind Draco’s decision to ally himself behind her — to act as her guiding hand through a world she appeared only partly ready to command.</p>

<p>He just wished — oh, how he wished so badly — that he could guide her in regards to the <em>other</em> potentially dangerous witch sitting at their table.</p>

<p>“It’s all not really that big a deal,” Alex said airily. “Any true Slytherin would understand.”</p>

<p>Lord Black shifted uneasily.</p>

<p>“It’s just unfortunate that the world is not all Slytherin,” she continued. “Isn’t that right, Virgo?”</p>

<p>Despite himself, Draco felt a cold sweat break out on his brow as, sitting next to him, his little sister, Alex’s classmate, the Malfoys’ spy in the Light, fixed Alex with a glare that he could <em>feel</em> even through her mask. She opened her mouth to retort.</p>

<p>Whatever that retort might have been though, was cut short as the lights around the ballroom suddenly dimmed.</p>

<p>All around them, over 150 wizards and witches from the very top of wizarding society quietened at their own tables. Another fifty sat on the surrounding upstairs balcony at much smaller tables, looking down on the proceedings in groups of two and three.</p>

<p>In front of them all, sat a raised stage, onto which a robed figure strode, wearing that distinctive Lord Slytherin mask. Draco had no doubt that this was the real Lord Slytherin.</p>

<p>The man stopped in the centre of the stage. “Lords and Ladies—” he began. Every pair of eyes in the room was on him. “—wizards and witches. Welcome to my new home and to Slytherin Gala Night. I invite you to enjoy my house’s food and hospitality, as well as the first performance by the Floo Theatre Company of Sebastian Rosier’s classic, <em>The Many Champions of Death,</em> with Death played by Humphrey Piper, directed by Madam Victoria Bolton.”</p>

<p>Draco frowned. Piper? He didn’t recognise that name.</p>

<p>“After dinner, the room will be cleared for dancing, while drinks will continue to be served in the sitting and dining rooms. And finally, at midnight, my gift to Magical Britain — an old ritual of renown, long thought lost, as so many have been, now found again with the revival of my house. I invite you all to be present as, for the first time in over five hundred years, we perform the Stella Benedictio.”</p>

<p>Draco heard a small chorus of gasps ring out around the room, quickly followed by excited whispers. Whatever the Stella Benedictio was, it was apparently noteworthy.</p>

<p>“But that is for later,” Slytherin continued. “For now, I leave you in the very capable hands of Madam Bolton. Thank you.”</p>

<p>Applause filled the room as Slytherin walked off stage, only pausing to collect Granger, who’d been watching at the sidelines, before leading her through a back door. Draco smiled. At least she didn’t have a spot out here.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Those who have been backstage at most any theatre production, from the primary school Christmas nativity play, to the most complicated Broadway extravaganza, will easily speak of the barely controlled chaos required to ensure that the show really does go on. Adding magic to the mix does not make things easier. It merely allows the chaos to take on several more degrees of magnitude, and for the final effect to be so much more spectacular. Thus it was, that as the performers hurried off stage in between scenes, they were met by a small auror force of potioneers, charms masters, and transfiguration experts.</p>

<p>Clothes were switched, altered, and sometimes even fully changed with a flick of a wand. Props, sets, and whole backdrops materialised from space-shrunk trunks and compartments. Actors desperately checked the labels on vials before chugging down more disguise magic than an undercover field unspeakable, before being hustled back into position for their next part, completely different from their last, not just in character, but in height, voice, sex, face, and sometimes even species.</p>

<p>On stage, the settings and backdrops swirled around the stage like water free from gravity, barely staying one form long enough for an actor to pluck a flower from a pot, or a wand from a mantlepiece, before it was off again, becoming the seat under another actor’s rear just as he confidently sat down, seemingly without a care in the world.</p>

<p>And in the centre of it all stood Death, the only unmoving part, orchestrating the surrounding events like a grand puppet master, sending out his champions to the mortal world again and again to ensure the natural order of things. Three hundred years old, it was a very traditionally Dark piece of performance art — a Dark magical play, led in the titular role, this time, by a muggleborn.</p>

<p>And as yet another would-be champion of Death came before the terrible higher power, Alexandra Black caught Draco’s eye, smirked, and mouthed the words, ‘you will serve me,’ in time with Death’s own.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Outside of Slytherin Manor, away from Death’s soliloquy, down at the bottom of the hill, Dan Granger sat down with Emma on their comfy living-room sofa, while their daughter and Lord Slytherin sat in the two armchairs opposite.</p>

<p>“Anyway, Slytherin,” Dan said, “It’s good to see you again. The whole island has been crazy the last few weeks.”</p>

<p>“Yes,” Emma added. “I’ll be glad when this is all over. It’s so difficult to concentrate on the work with men and goblins thundering about all the time.”</p>

<p>Slytherin adjusted his mask. “The projects are going well, then?” he asked.</p>

<p>“About as well as since our last owl to you.”</p>

<p>“Ah, that is most satisfying then. And indeed, you are not the only one looking forward to seeing the end of all this, although I’m not talking about the party, but rather my bringing you, finally, into the pact, as it were, about my true identity, for better or worse, although obviously I hope it is for better.”</p>

<p>“You are sure you want to do this?” Dan asked. “We do not mind being kept in the dark. We know the risks.”</p>

<p>Slytherin nodded. “Yes, I am sure. So long as you both are willing.”</p>

<p>“We are,” Emma said. “So, how are we going to do this? Are you just going to whip off that mask and make jazz hands?”</p>

<p>“No, I was planning something more theatrical than that.”</p>

<p>Dan smirked. “More theatrical than jazz hands? So we get our own private magical play while the lords on the hill get theirs. Nice.”</p>

<p>Lord Slytherin held up a finger and caught Hermione’s eye.</p>

<p>Hermione nodded.</p>

<p>“Now, what you have to understand about masks,” Slytherin began as Hermione started fishing in a bag, “is that often there are multiple layers of mask underneath, and I am going to show you who I really am, but you need to understand that it is not the full story, and that I won’t be able to tell you that full story now.”</p>

<p>Dan nodded and saw that Emma did too.</p>

<p>Hermione pulled out two different potions from the bag and gracefully handed them to Slytherin — one mud-coloured, one milky-blue.</p>

<p>“Do you know what these are?” Slytherin asked.</p>

<p>“The brown one is polyjuice, isn’t it?” Emma asked. “I don’t know about the blue one though.”</p>

<p>Slytherin nodded. “Indeed, you are correct. And the milky-blue one is ageing potion antidote.” Slytherin then reached up and plucked a hair from his own head and let it fall into the polyjuice. “Ready?” he asked.</p>

<p>Dan held his breath.</p>

<p>Taking that for his acceptance, Slytherin quickly drank first one, then the other.</p>

<p>In front of Dan’s eyes, Slytherin began to change. He shrunk — not just a little, but a lot! His hair changed colour, grew longer. His robes shrank to fit his new height. And there was a subtle undefinable difference that he couldn’t quite put his finger on. At least, until a slim hand came up and took the mask off.</p>

<p>“Hermione!” Emma gasped.</p>

<p>Hermione smiled a nervous smile. “Hi, Mum. Hi, Dad.”</p>

<p>Dan’s brain stalled for a moment. “But…” He turned his head to where the other ‘Hermione’ had been sitting. He sighed. “Was that really necessary, Lord Slytherin?”</p>

<p>“It was,” the fake-Hermione said.</p>

<p>Only now did Dan see all the Slytherin-like ways this fake-Hermione moved. All the little gestures, the tone of voice.</p>

<p>“Often, the best way to truly appreciate the beauty of a grand deception is by revealing it piece by piece,” Slytherin continued. “Like a maiden letting her clothes fall piece by piece for her husband’s appreciation on her wedding night.”</p>

<p>Dan grimaced. “I’m not sure if I like you saying things like that while wearing my daughter’s form.”</p>

<p>“Then I’m sure this will make you feel at least slightly better.” Slytherin reached into the bag again, withdrew another mud-coloured potion, plucked a hair from his own head, let it fall into the potion, and drank.</p>

<p>Soon, the form of Hermione was replaced by another familiar one.</p>

<p>“Daphne!” Emma gasped. “That was amazing. I truly thought you were Slytherin. Your acting skills!”</p>

<p>Daphne Greengrass smiled slightly.</p>

<p>“Hey,” Hermione cut in. “Don’t I get any credit for <em>my</em> acting skills?”</p>

<p>“Yes, sweetie, of course you do.”</p>

<p>Dan stared at the two girls sitting opposite him. What were they saying? That they were both Slytherin? That Slytherin wasn’t real? That he was made up? “Noooo,” he said slowly. “That can’t be right. We’ve spent years reading the books about the magical world. Lords <em>have</em> to be male. It’s hard-coded into the Albion Family Magics — as are seats on the Wizengamot.”</p>

<p>“You’re right, Dad,” Hermione said. “Neither of us are Lord Slytherin. We just act on his behalf sometimes when he can’t for various reasons.”</p>

<p>“Slytherin trusts you with that?” Emma said, wide-eyed. “And I know you’re his fiancée, Daphne dear, but even so. From what I’ve read such delegation is unheard of in the Wizarding World.”</p>

<p>“Our lord trusts us more than anyone else,” Daphne said.</p>

<p>Something clicked in Dan’s mind. He looked towards his daughter. “Hermione, you know who Lord Slytherin is.”</p>

<p>Hermione nodded.</p>

<p>Dan fell back into the sofa. “Wow.”</p>

<p>Emma leaned forward. “The fact you have kept that secret for—how long—?”</p>

<p>“Over four years.”</p>

<p>“—Over four years, is incredible.”</p>

<p>“Yes,” said a deep voice from the front doorway. The mask in Hermione’s hands leapt from her fingers and flew around the corner, towards the voice. A few seconds later, Lord Slytherin entered the room. “I’m very proud of them. They are the best.”</p>

<p>“I’m glad you think so,” Dan said.</p>

<p>“Especially Luna,” Slytherin continued. “That girl is so amazingly talented and wonderful it’s a miracle they don’t just hand over the whole of Magical Britain to her right now.”</p>

<p>“Errr…” Hermione said.</p>

<p>“In fact,” the man continued. “I’ve decided that Luna’s birthday should be made a national holiday, and everyone will have all the pudding they could want. Unless that means less pudding for Luna, of course, in which case, someone will just have to give up their portion for her, because otherwise it wouldn’t be fair.”</p>

<p>Daphne put a hand over her face.</p>

<p>“And of course we’ll need a statue of her in front of Slytherin Manor. An adult nude maybe, with real robes added on after, like on the ancient Greek statues. I think Luna would really like that. And maybe versions for Alex and Hermione, and Daph—”</p>

<p>“Luna!” Daphne almost shouted.</p>

<p>‘Lord Slytherin,’ paused while counting off on ‘his’ fingers. “Oh, poo,” he said.</p>

<p>A few minutes later, a rather put-out-looking Luna Lovegood sat on the armrest of Hermione’s armchair.</p>

<p>Dan gave them all an amused look. “So, can we expect any more of your friends to be playing Lord Slytherin?”</p>

<p>“Just one more,” said the now-familiar deep voice. Lord Slytherin stood in the doorway, again.</p>

<p>Emma smiled warmly. “Hello, Harry.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Ginny Weasley grinned as, up on stage, an unknown champion of Death clashed with the king of Gringotts in an epic battle deep in the heart of the bank. Rumour had it that this particular champion had been a Smith, although if that was the case, the Smith family wasn’t saying.</p>

<p>Ginny clapped along with everyone else as the music swelled for the scene’s climax.</p>

<p>Most of the tables sat nine or ten, and hosted two to three families.</p>

<p>Her table was the only large table that hosted only one.</p>

<p>Obviously her father had to be invited. And her mother too, that was a given. Next came Bill. As the current future head of house, not inviting him—when she herself had been invited—would have been socially unacceptable. Then there were the twins, and since their dealings with Slytherin weren’t public knowledge, that meant that Charlie, Percy, and Ron also needed invites.</p>

<p>Once all was said and done, they were the only family in attendance with a table all to themselves, and certainly the only one with more than two children present. In fact, the Weasley children made up a little less than half of all children in attendance.</p>

<p>This had not gone unnoticed, despite the masks. Most had taken it as a sign that the Gray were currently putting pressure on the Dark by leaning closer towards the Light.</p>

<p>While the performers swirled off the stage in a sea of magical mist, Ginny snatched a glance towards the table next to theirs.</p>

<p>For once, the expression on John Potter’s face was incredibly difficult to read. He was deep in hushed conversation with Susan Bones, using the music to muffle his whispering, and didn’t seem to be paying any attention at all to the performance. As the performers leapt back onto the stage to a great crash of cymbals, all theatrically brandishing wands at each other, John Potter glanced up and caught her watching him. For a moment, his expression was absolutely blank. And then, he smirked.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Back down in Granger cottage, the masked Lord Slytherin in the door tilted his head slightly to one side. “What makes you think I’m Harry Potter, Emma?”</p>

<p>Emma Granger smiled mischievously. “It would be only fitting.” She was quite enjoying this guessing game. “We’ve had Hermione and Daphne, and now Luna. Harry is the only one of Hermione’s friends I know left who’s also close to our Lord Slytherin.”</p>

<p>“It would fit the pattern, certainly,” the Lord Slytherin said. “But maybe you are wrong. Maybe I truly am Lord Slytherin. Maybe Harry is hiding behind a bookshelf. Or maybe Slytherin is.”</p>

<p>Luna giggled.</p>

<p>Dan Granger rolled his eyes. “Is he hiding behind a bookshelf?”</p>

<p>“Which one?” the Lord Slytherin asked. “Harry? Slytherin?”</p>

<p>“Either.”</p>

<p>“No.”</p>

<p>Emma Granger pointed a triumphant finger. “So you are definitely one or the other. Actually, I’ve changed my mind. You are the true Lord Slytherin. It’s your gravitas. That feeling of quiet power. I don’t believe that can be faked.”</p>

<p>“I agree. It would be very hard. But it could be. The proof, Dan, Emma, is actually very simple. If one wanted to identify a British lord, how would one do it?”</p>

<p>“His ring,” replied both Dan and Emma in unison.</p>

<p>“Well?” Slytherin pulled off a white glove.</p>

<p>Both Grangers looked down at the Lord Slytherin’s fingers.</p>

<p>There, on his index digit, lay the ring they’d seen many times before.</p>

<p>“Lord Slytherin.” Dan grinned. “So, this really is you. Not Harry. Unless you’ve somehow managed to fake your own ring.”</p>

<p>“That <em>would</em> be difficult,” Lord Slytherin said. “And now I believe it is time for the real reveal.” He nodded towards the girls. “Daphne, if you would.”</p>

<p>The Greengrass heiress passed their lord two vials, one of polyjuice and another—to both Grangers’ confusion—of ageing potion antidote. Lord Slytherin then quickly mixed the polyjuice with a hair from his head, and then drank both potions in quick succession.</p>

<p>To Emma’s shock, and clearly to her husband’s as well, the man started to change, just like the girls had. He shrunk. His hair changed.</p>

<p>The boy removed the mask and gazed at them levelly.</p>

<p>“Harry!” Emma gasped. “But… what? How?”</p>

<p>“Is it that much of a surprise?” Harry asked. “You’ve seen how good our <em>acting</em> skills are. Is it so surprising that together,”—he gestured to the girls—“we could pull something like this off?”</p>

<p>“Yes,” said Dan definitely. “You are too young. That ageing potion proves it.”</p>

<p>“And yet I have the ring.”</p>

<p>Emma frowned. “May I see it closer?”</p>

<p>“Of course, Emma.” He reached out a hand and allowed her to inspect it carefully in her hands, examining it from every angle.</p>

<p>Emma bit her lip. “It looks real.”</p>

<p>“It is real.”</p>

<p>Dan stood up. “I know how to settle this.” He left the room.</p>

<p>Emma let go of Harry’s hand and sat back down. “Listen, Harry. I’m not saying you couldn’t be Lord Slytherin, but you must see how outrageous it sounds. When Lord Slytherin approached us, you were only eight.”</p>

<p>“And I’m only twelve now. But we live in a world of magic. Strange things can happen.”</p>

<p>“Nothing we’ve read could explain this.”</p>

<p>Harry smiled a wry smile. “Oh, dear. Has familiarity already bled all the mystery and wonder out of the magical world? I know you know that the books available to you in Flourish and Blotts are the safe, sanitised ones, approved by the Light for the consumption of those deemed incapable of handling inconvenient truths.”</p>

<p>The girls all mirrored similar wry smiles.</p>

<p>Emma felt distinctly wrong-footed. That certainly sounded like Lord Slytherin. But coming from Harry—that charming boy who’d stolen her daughter’s heart, long before even Hermione knew it—it just sounded odd.</p>

<p>“Here we go,” Dan said, returning with a half-rotted box under one arm. He put the box down on the low table between them. “Now, err… Harry. I’m not saying you couldn’t be Lord Slytherin, but you must see how outrageous it sounds.”</p>

<p>The girls all traded amused looks.</p>

<p>“If it <em>is</em> true, then I certainly understand why you’ve kept it secret all this time. And I—or rather, we’d—be very interested in hearing all the details.”</p>

<p>Harry nodded. “As I said, some details I can’t reveal tonight.”</p>

<p>“Technically, I said that,” said Hermione.</p>

<p>Daphne shook her head. “When you take the role of our lord, your words are not your own.”</p>

<p>“Unless you’re pretending to be Harry, pretending to be Hermione, talking to someone who you know thinks you’re pretending to be—”</p>

<p>“—Yes, Luna,” Daphne cut in. “I think we get the idea. My lord?”</p>

<p>Harry stared down at the box in front of him.</p>

<p>Emma edged closer in her seat. She couldn’t quite believe this was going to work.</p>

<p>Harry opened his mouth… and hissed.</p>

<p>There was a small click.</p>

<p>Emma let out a small sigh. “You really are Lord Slytherin.”</p>

<p>“I am.”</p>

<p>Dan slumped back in his chair. “I suppose it’s better than Hermione being him. We need to talk about many things.”</p>

<p>“Certainly.”</p>

<p>Suddenly, there was a small whoosh of visible magic, and the box-lid flipped itself open.</p>

<p>Everyone in the room, save Harry, but including Emma, gasped.</p>

<p>Inside the box, there was a fist-sized ghost-like gemstone, pouring mist out of the box like a magical fog machine.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Up in the manor, the intermission had started.</p>

<p>Xenophilius Lovegood stood in a small group of young Light nobles, regaling them with his expertise of esoteric myths and legends. One of which was quite topical, given the subject of the performance.</p>

<p>“And so, the three brothers stood triumphant, just like their ancestors at Wessex. After falling to their deception, Death cursed them and all their lines, ‘May conflict rip you apart and Fate herself stalk your heels.’</p>

<p>“But for all the mighty power’s rage, he had agreed to a bargain, and so to each brother, he handed over an object of great power.</p>

<p>“To the first brother, Death gave up his own wand — elder and thestral tail hair — known today simply as the Elder Wand, the Wand of Death, or the Death Stick. This mighty weapon made its wielder near-unbeatable in battle, no matter their skill or power. But with this mighty power came a great curse. The wand would call out to those who sought that power — whispering unheard challenges to the greedy and the insecure. Antioch died gurgling blood from a slit throat while he slept. Since then, all known wielders of the Elder Wand have always needed to keep an eye open for treachery, from the paranoid dread vampire Allred to Light Lord Dimwiddy.</p>

<p>“To the second brother, Death gave the Resurrection Stone, a simple round pebble from the banks of the Black Sea, but infused, like all the artefacts, with an aspect of Death’s power. While the wand contained Death’s magical might, the stone contained his knowledge of what souls resided within his vast realm. With the stone in his possession, Cadmus was able to confirm that his beloved fiancée had not run away from home, as their uncle had always maintained, but had indeed died while under the same uncle’s care. After murdering the man responsible for his love’s Death, Cadmus hanged himself, and the stone was lost to history, never to be seen again.</p>

<p>“And finally, to the third brother, Death granted a cloak of water and magic — the aspect of Death’s separation from the mortal realm. When Ignotus asked Death what his gift did, he was given the answer that it, ‘hides the wearer from the gaze of all, no matter how powerful they might be, including himself.’ And indeed it did. Under the cloak, Ignotus lived for hundreds of years, before finally embracing Death as a brother. Some versions of the legend say he never truly died — that he still lives among us, even now, hidden by the cloak.”</p>

<p>“Could that be true?” asked a sceptical heir.</p>

<p>Xeno’s lips quirked. “Unlikely. The cloak has been glimpsed at various points throughout history, although which sightings are legitimate is always hotly debated. Together, the hallows represent some of the most sought-after artefacts in the Wizarding World, even if the story isn’t as fashionable these days as it used to be.”</p>

<p>“Well, yes,” said the sceptical heir. “Chasing after one legendary artefact is difficult enough. But three at the same time? I know if I were a treasure hunter, I wouldn’t be chasing after a collection that hugely powerful wizards haven’t found for over a thousand years. Surely there would be more accessible prizes out there.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Down in the cottage, Harry was bent over the ghost-like gem, inspecting it from every angle. “Fascinating,” he said. “There’s so much more magic seeping from this one.”</p>

<p>“So, what do you think?” Daphne asked. “Lost relics from ancient civilisations? Some kind of key, perhaps?”</p>

<p>“Maybe it’s a phylactery,” Hermione suggested, excitedly. “That would explain how a non-organic object emanates magic like this. I remember you telling me about the one you and Daphne saw in Gringotts, but I didn’t imagine it to be like <em>this</em>.”</p>

<p>Harry tapped his chin in thought. “Remember that there are other objects that can emanate magic despite not being alive — ward stones, enchanted objects, etc. And yes, I’m aware that it can’t be a ward stone or enchanted,” Harry quickly added as Hermione took a deep breath. “I’m merely pointing out that the precedent exists.”</p>

<p>“Or else it <em>is</em> alive,” Daphne suggested.</p>

<p>The three second-year Hogwarts students were busily crowded around the gem, Luna having already left to rejoin her parents up at the manor.</p>

<p>Across the room, Dan Granger watched the rapid-fire exchange between them with a pensive look on his face.</p>

<p>“Amazing, isn’t it?” Emma said quietly, standing next to him.</p>

<p>“Amazing is one way of putting it. I know we’ve known Harry for over four years now, and Daphne for not much less than that, but it’s still incredible, in the very literal sense of the word.”</p>

<p>“Harry suggests there is deeper magic at work here.”</p>

<p>“That’s the only thing stopping me from declaring it all a con orchestrated by Lord Greengrass.” Dan sighed. “Look at them. They’re so in sync — Hermione, Harry, Daphne, even Luna. If we were still in the Muggle World, I’d call this a recipe for heartbreak, but…”</p>

<p>“We’re not in the Muggle World anymore.”</p>

<p>Dan snorted. “No. We’re vassals of a twelve-year-old boy, who controls a major political party in a sixteenth-century-style aristocratic government, who is already engaged to two girls, and whom our only daughter is besotted with. You know she’s going to ask us to sign a betrothal contract at some point. What do you think of that?”</p>

<p>Emma pursed her lips. “When I was thirteen I had a huge crush on David Bowie. I read every magazine article. I begged Mum and Dad to take me to see him every chance that came up. I stole a poster from one of those concerts and stuck it up on my bedroom wall. All my friends were jealous of that poster. I was obsessed, really. If you’d asked me back then if I’d like to be his girlfriend, I would have said yes in an instant.”</p>

<p>Emma sighed. “But looking back, I realise that even back then, it wouldn’t have been the truth. Our worlds were just too different. And I was not ready for a real relationship with anyone, not even my rock-star idol.”</p>

<p>Dan grunted.</p>

<p>“But if I learned that he was actually a boy my age,” Emma continued. “A boy masquerading as an adult, successfully, with all of an adult’s maturity and power — a boy just like the boys in school — but who was secretly going around doing world tours and stuff like that, and that he now trusted me with that secret — that he needed me to help him maintain that secret. That would have changed everything. That would have been hard to resist.”</p>

<p>Emma looked back towards Dan and caught his eye.</p>

<p>Dan shrugged. “Working with Lord Slytherin has always been like riding a tiger — like joining a mafia crime family. We host an ex-prostitute as a debt slave, even if doing so does save her from Azkaban. We go to auctions where sapient beings are sold off to the highest bidder. We hobnob with other families who personally fund government departments in exchange for favours and influence. And we’re currently building weapons which our lord is actively flogging to anyone with the gold to pay for them.”</p>

<p>“Harry is Hermione’s magical guardian and has right of first refusal on any betrothal contract we might sign,” said Emma.</p>

<p>“Harry is an abnormally powerful wizard in a polygamy-accepting society, already has two wives picked out, and clearly likes Hermione a lot,” said Dan.</p>

<p>“Hermione is head-over-heels for him, even if she doesn’t quite realise it,” said Emma.</p>

<p>“Hermione is best friends with both of the other girls betrothed to Harry,” said Dan.</p>

<p>They held each others gaze.</p>

<p>Dan sighed. “I’ll talk to <em>our lord</em>.”</p>

<p>Emma nodded. “Then I’ll talk to Hermione. We should try to give it as much time as possible — read up on betrothal magic. Who knows, maybe things will change in a few years.”</p>

<p>“That sounds best. In the meantime, we should focus on making ourselves as valuable as possible to our patron.” Dan lowered his voice even further and hissed, “After all, if Harry is doing all this at <em>twelve</em>, I can’t <em>begin</em> to imagine what the future will hold.”</p>

<p>Emma smirked. “Have a bit of a David Bowie thing going on yourself?”</p>

<p>Dan smiled back wryly. “That’s rich coming from you given the Lord Slytherin mask we have in the bed… side… drawer….” He trailed off awkwardly.</p>

<p>An uncomfortable silence descended.</p>

<p>“Head-canon, Lord Slytherin is always an adult?” Emma suggested.</p>

<p>“Deal.”</p>

<p>“Mum, Dad.” Hermione swept over. “Harry has a plan.”</p>

<p>“Oh, that’s wonderful, sweetie,” Emma started in an indulgent voice, before snapping herself out of it. “Errr… I mean, yes, Harry?”</p>

<p>Harry smiled as he wandered over. “We already have an agreement with the goblins regarding these artefacts, and given how critical Gringotts is to so many of our plans, I’m loath to put such a useful friendship in jeopardy, even if the chance of being found out is small. Having said that, there’s nothing in the agreement that says how quickly I have to hand them over, so I’d like to ask you both to throw every muggle trick you know at it — to find out as much as you can before then.”</p>

<p>Dan nodded. “How long do we have?”</p>

<p>Harry passed a polyjuice vial to Daphne. “I think about a month is how long we can get away with.” He pulled out a few vials of his own and started drinking.</p>

<p>“Fine,” said Dan. “We’ll get on it just as soon as we finish up the final upgrades on the latest broom-sub prototype. The final bidding process for MaCUSA is only a few weeks away. Really, we’re starting to get to the point where help would be useful, but I appreciate how difficult that would be.”</p>

<p>“Indeed.” Harry, now Lord Slytherin, re-attached his mask to his face. Daphne climbed into a trunk, which Hermione then shrunk and pocketed.</p>

<p>“Be good, you three!” Emma called after them as they walked up the garden path. She paused. “With respect, of course!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The performance of <em>The Many Champions of Death</em> ended with the title character giving a poetic soliloquy on the nature of magic, life, and place of wizards within it, while his final champion was dragged, kicking and screaming, into the deepest depths of the never-ever, more commonly referred to as hell.</p>

<p>It was a stirring performance, to be sure.</p>

<p>As the curtain fell, the audience all rose up for a standing ovation. The actors came back out and bowed three times before the clapping eventually died down. Dessert followed, the guests already having been served dinner during the production. Chocolate cake, sorbet, cream, and fruits — Alexandra Black tried to look like someone disdaining something they actually liked, rather than someone disdaining something because it tasted like mushy cardboard.</p>

<p>On the other side of the room, Lyndsea Morweena, founder and chief editor of Witch Weekly, couldn’t believe her luck. At the start of the second half, Lord Slytherin had returned to the hall and sat down at her table, escorting an elegant young witch she recognised as Clare Cooper — Slytherin’s reformed prostitute. It was a ballsy move to make for the founding night of what was presumably intended to become a respectable date on the social calendar, but it was also exactly the kind of daring roguishness that fired the imagination, sold newspapers, and as such, she wasn’t complaining.</p>

<p>“Tell me, my lord” she began, after an appropriate amount of small talk. “Was the decision to cast Humphrey Piper as the lead role politically motivated? Do you feel that muggleborns should be given roles normally held by purebloods?”</p>

<p>“Not really,” Slytherin replied in his deep baritone. “I had very little input on that. The Floo Theatre Company simply asked if I would grant them directorial control over the production if they hosted in my new home.”</p>

<p>“You didn’t know Mister Piper was a muggleborn?”</p>

<p>“Yes, I did.”</p>

<p>“So you did implicitly give your approval for a muggleborn to take the lead role?”</p>

<p>Slytherin took a small bit of cake and dabbed his mask lips with a napkin. “I made it clear that I expected the best. I also confirmed when they asked that I wasn’t concerned what background ‘the best’ came from, so long as they were, in fact, the best.”</p>

<p>“A meritocratic stance then?”</p>

<p>“That has long been my policy.”</p>

<p>She leaned in slightly closer. “But aren’t you worried that maybe the Floo Theatre Company chose Mister Piper over more qualified candidates to make a political statement of their own? That they are taking advantage of your hands-off management style to further an extreme pro-muggleborn ideology?”</p>

<p>“I have found no evidence that any such thing is taking place.”</p>

<p>Suddenly, the lights dimmed slightly.</p>

<p>Lord Slytherin placed his fork down on his plate with a small clink sound. “That’s our signal to congregate outside while the house elves prepare the hall for dancing. I hope you’ll join me again later, Lyndsea. This talk has been stimulating. I would like to continue it.”</p>

<p>“Oh, of course, my lord.”</p>

<p>Lyndsea Morweena really couldn’t believe her luck. She was the first journalist in the world to get the chance to pick Lord Slytherin’s brain.</p>

<p>Several tables away, Lord Xenophilius Lovegood watched with a carefully controlled smirk.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Quickly!” Plato snapped from the middle of the kitchens, standing on top of one of the granite tabletops while a small army of house elves in pillowcases frantically popped in and out carrying chairs, tables, cutlery, table cloths, flowers, dirty plates, and everything else required for a large formal dinner. “Master needs the hall cleaned soon. Plato will not be seeing him opening those doors to all the Lords and Ladies, just to find you lot still carrying stuff!”</p>

<p>Another dozen or so house elves were busy scrubbing dirty plates and packing up leftovers to be put under stasis charms. More still were popping in to refill empty glasses from a massive selection of ornate-looking bottles.</p>

<p>They’d been seconded from noble houses from all across the country. Greengrass, Lovegood, Smith, Ogden, Moke, Davis, and even Slughorn house elves were represented.</p>

<p>Plato looked around with a satisfied expression. This felt right. Having this many other elves under his command. It felt <em>good</em>. It was just a shame house elf auctions came up so rarely. To get a team anything like this for his master, he’d have to be patient.</p>

<p>A last house elf popped in carrying a silver candlestick — a young female with cute floppy ears.</p>

<p>“Is that last?” Plato barked.</p>

<p>The female nodded furiously.</p>

<p>“Excellent.” Plato stood up and popped away himself. Time to let master know.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Harry nodded back at his head house elf who’d just popped in and given him a subtle nod.</p>

<p>He stood as Lord Slytherin in front of the large double doors, facing the large crowd of milling wizards and witches. “And now,” he called out, instantly silencing the hum of conversation. “I wish you all the best for the last dance of the year.” He swept his arms and the doors swung back open.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Draco shivered. It <em>was</em> December and they were on a Scottish Island. Basic warming charms could only go so far.</p>

<p>He wouldn’t normally choose to be out in temperatures like this, but this was different. He had been summoned. He had been summoned, and he couldn’t help the feeling that whatever was about to happen was going to be important.</p>

<p>So, while his parents were waiting for the dancing to start, he’d slipped out the front doors to look out over the inky blackness of the North Sea. The pathways around the island were lit by magic, creating a spider’s web of light, spreading out from the centre—the manor steps where he now stood—and shining lights on the major landmarks — the greenhouses, the woods, the terraced gardens, the dock, way over on the left side. It was dramatic, magical, and more impressive than any of the other manors he’d seen before.</p>

<p>“What do you think?” asked a voice beside him. It was Pansy. “Better than Malfoy Manor?”</p>

<p>Draco scoffed. “Of course not.”</p>

<p>She giggled.</p>

<p>“He’s not done too badly,” Theo said. “I wonder where he gets his gold? I don’t believe in Slytherin’s treasure for a moment.”</p>

<p>Vincent and Greg stepped into their circle of light. “Dad says he’s found some way around the theft magic of the goblins,” Greg announced. “That he steals it all from the muggles.”</p>

<p>Theo frowned. “I don’t believe that either.”</p>

<p>“Why not?” Vincent asked. “Sounds logical to me.”</p>

<p>“I don’t think—”</p>

<p>“Good evening.”</p>

<p>The four boys and one girl stiffened, then relaxed, but only slightly, as they saw who it was. Alexandra Black, flanked on both sides by the Carrow twins.</p>

<p>“Heiress Black,” Greg and Vincent muttered.</p>

<p>Theo and Pansy both parted, giving their leader a clear path to him, Draco. That minor feeling of dread pooled in his stomach again. He bowed slightly. “Alexandra. You wished to speak with us?”</p>

<p>“I did. Please follow me.” She then turned and walked down the path, which a signpost proclaimed led to the docks.</p>

<p>Draco felt a shiver run up his spine as the others all fell into step behind her. This felt different. This didn’t feel like the normal Alexandra Black he thought he was getting a grip on. And he was pretty sure he knew what was about to happen. Alexandra was going to demand they pledge themselves to her for the rest of their time at Hogwarts. She hadn’t exactly been subtle about her purpose.</p>

<p>The problem was he wasn’t sure he was ready for that. Pledging was a big deal. Yes, Alex looked like their only chance for power while at Hogwarts, but over five years was a long time. Things could change.</p>

<p>They reached the waterfront with little fanfare. It was far quieter down here than up at the manor. The water lapped at the pebbled beach and around the legs of the small wooden pier that jutted out from the island.</p>

<p>Alex turned and regarded them all, but Draco in particular, with an intense look. “I wish to speak to you of the future.”</p>

<p>Draco had expected that.</p>

<p>“About Hogwarts, and beyond.”</p>

<p>And that… less so.</p>

<p>“What about beyond Hogwarts?” Pansy asked.</p>

<p>“Yeah,” Greg added. “That’s ages away.”</p>

<p>One of the Carrow twins growled. “Maybe if you listened to the Dark Heiress, instead of interrupting, she’d tell you.”</p>

<p>“I wasn’t interrupting,” Pansy bit back.</p>

<p>“Yes, you—”</p>

<p>“—Hestia,” Alexandra cut her off.</p>

<p>Hestia Carrow bit back her next words, looking contrite.</p>

<p>Alexandra turned back to stare out to sea again. “The Dark is in trouble.”</p>

<p>Draco frowned.</p>

<p>“For years now, the pureblood cause has been losing power and influence. Before it was to the Light and now it is to the Gray. The Dark knows this, but it has been unable to arrest this decline. Without the Dark Lord, the Dark noble houses have no nexus to coil around. I want to change that.” She turned back to face them. “Do any of you have any idea what Lord Slytherin is capable of?”</p>

<p>The assembled teenagers shuffled their feet.</p>

<p>“Why does it matter?” asked Pansy.</p>

<p>“It matters,” Alex said. “Because your heads of houses all know what Slytherin is up to, but they do nothing. They just sit there, waiting for their fate to seal itself. If you do not act now—if <em>we</em> do not act now—there won’t be any great powers left for any of you to inherit.”</p>

<p>Theo looked sceptical. “Surely you overstate things. Slytherin is on the upswing, yes, but his faction is still the smallest of the three. What could he be doing that would so endanger our families?”</p>

<p>Alexandra pulled something from a pouch and started handing it around. “I intend to show you.”</p>

<p>It was gillyweed.</p>

<p>Draco’s eyes widened. “Hang on! You’re asking us to sneak off to break into some Slytherin secret? Do you have no common sense?!”</p>

<p>“More to the point,” Pansy interjected with narrowed eyes. “How do you know where to lead us?”</p>

<p>“I have allies in the Gray.”</p>

<p>Pansy’s eyes widened, then narrowed, again.</p>

<p>“Allies?” Theo said. “You mean a spy?”</p>

<p>Alexandra just smirked and started chewing on a thick strand of gillyweed.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The house elves had done a magnificent job. Back up in the main ballroom, all the tables and chairs were gone and the stage had been dissembled, replaced with a much smaller version for a magical orchestral quartet. All around the room, masked wizards and witches were pairing off for dances, safe in the knowledge that exactly who they were dancing with would always be subject to a certain amount of plausible deniability.</p>

<p>One wizard in particular was in high demand, which made the sensation of dancing with him all the stranger for Clare Cooper — former prostitute and current second-year student at Madam Goose’s Home for the Magically Gifted.</p>

<p>“I feel like an imposter,” Clare muttered. She was dressed in by far the most expensive robes and jewellery she’d ever worn. “Everyone’s looking at us.”</p>

<p>Lord Slytherin danced like he fought, with grace and power. Clare couldn’t help feeling a little swept off her feet. “You are doing fine, Clare,” he rumbled. “And everyone is staring because you are beautiful.”</p>

<p>“They’re laughing at me.”</p>

<p>“The women are laughing to hide their jealousy and to play down the threat they feel you represent. The men are angry because they think we are sleeping together and are bitter they cannot do the same.”</p>

<p>They twirled past a couple of older witches giggling behind a pair of fans.</p>

<p>“My lord? Why <em>aren’t</em> you sleeping with me?”</p>

<p>Lord Slytherin didn’t say anything.</p>

<p>“I mean,” Clare hurriedly continued, “I’m not <em>looking</em> for that. I just wondered. I mean, you could easily — I’m not in any position to resist and—”</p>

<p>“—Clare,” Slytherin interrupted. “Please put such matters out of your mind. I am promised twice over and that is all there is to it.”</p>

<p>“Oh.”</p>

<p>Honour. It wasn’t exactly unexpected, but she had to keep reminding herself that the man who now owned her debt wasn’t quite like the others.</p>

<p>Lord Slytherin looked over his shoulder before gazing back at her. “Are you looking to put yourself on the market? Because that is possible, but it would require a lot of preparation on your part.”</p>

<p>“No!” Clare hastily dropped her voice. “No, I mean, I’m not looking.”</p>

<p>“That’s probably for the better. I think continuing your education is important. Although I think it might be a good idea to speed it up as well.”</p>

<p>Clare’s eyes sharpened. “Could I?”</p>

<p>“I believe so. I understand you are doing quite well. Top grades, signs of boredom in class.”</p>

<p>“Who tells you these things?”</p>

<p>Lord Slytherin ignored the question. “If you think you can handle it, I’d like to have you start skipping years.”</p>

<p>“You can do that?! But the teachers always say I have to exactly follow the curriculum schedule.”</p>

<p>“You would if you didn’t have someone to vouch for you. A name like Slytherin takes you a long way in this world. Tell me, what do you think of the Shoe’s teaching staff?”</p>

<p>Clare wrinkled her nose. “Terrible.”</p>

<p>“Why?”</p>

<p>“It’s like they don’t even care about magic. It’s like teaching is just a job. And half of the stuff we learn isn’t even about magic, it’s all stuff you’re not allowed to do, or whose boot you’re supposed to lick if you want to do something.”</p>

<p>“There are no exceptions?”</p>

<p>Clare thought about it. “I suppose the art and music teachers are okay. Why?”</p>

<p>“Apart from general interest in your education? I’m always looking for people who care about what they do. They tend to acquire my respect more easily.” The music slowed and Slytherin dropped down to a slower waltz. “If you’re interested, I’d like you to run some errands for me at your school.”</p>

<p>Clare was instantly on her guard. “This is in exchange for letting me skip years?”</p>

<p>“No, I’ll help you with that, regardless.”</p>

<p>Clare thought about it. “What kind of errands?”</p>

<p>“Running messages, meeting with people about stuff, making friends, being charming and helpful to key individuals, that sort of thing.”</p>

<p>“No sex?”</p>

<p>“Not unless you want to.”</p>

<p>Clare thought about it some more. “Okay,” she eventually said. “I’ll do it.”</p>

<p>“Wonderful.”</p>

<p>They continued to dance and despite herself, Clare couldn’t help feeling just a little bit safer about her position in the world. “My lord?”</p>

<p>“Yes, Clare?”</p>

<p>“What about the others like me?”</p>

<p>“Mmm?”</p>

<p>“The other muggleborns who were tricked into being prostitutes. Isn’t it possible to save them?”</p>

<p>They danced in silence for a moment. Eventually Slytherin asked, “This is in exchange for your working for me?”</p>

<p>“No, I’ll help you with that, regardless.”</p>

<p>Slytherin chuckled before returning to solemnity. “Well, it is not easy,” he said. “Merely buying their debt would not solve the problem. Not so long as there are more untrained muggleborns out there to fill the supply. If anything, I would effectively become a subsidy for the trade, making such snatch-and-obliviate operations more profitable.”</p>

<p>“Oh,” Clare said. She should have guessed it wouldn’t be that easy. “But what about the law? You’re powerful in the Wizengamot, aren’t you?”</p>

<p>Slytherin made a non-committal gesture with his hand before returning it to her waist. “There are many factors to take into account. There are good reasons why I haven’t helped pass any laws for years now.”</p>

<p>Clare’s head dropped. “So, it’s impossible.”</p>

<p>“I didn’t say that.”</p>

<p>She looked up.</p>

<p>“I can’t promise anything, but it so happens that I may soon be in possession of a rather significant piece of leverage over certain powerful Wizengamot members and their associates. Who knows, maybe immigration reform could be stealthily slipped into an upcoming piece of legislation?”</p>

<p>Clare smiled. Her first genuine smile of the night. Satisfied, and no longer feeling quite so self-conscious, she finished her dance with Lord Slytherin and went to stand with Lady Lovegood, carefully putting out of her mind exactly what kind of ‘significant leverage’ her lord might be talking about.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Cold! Every extremity in Draco’s body felt like it was going to drop off. Even with his heated robes, even with the magic of the gillyweed, even with the multiple warming charms that everyone in their group who had a licence to cast magic over the holidays had applied over them, this was still the North Sea in December, and magical Merlin, it was so damn cold!</p>

<p>Ahead of him, Pansy and Alexandra were leading the way, escorted on either side by the Carrow twins, while behind him, Theo, Greg, and Vincent brought up the rear.</p>

<p>The darkness was near-absolute. It was all he could do to keep an eye on the four girls in front of him.</p>

<p>Eventually, Alexandra waved them to a stop and pointed at the rock to their left.</p>

<p>Draco squinted. There was a cave.</p>

<p>Alexandra waved and started swimming inwards. They were going in.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Just outside the front doors of Slytherin Manor, Bill Weasley gazed around the congregating nobility of Magical Britain with a sharp eye. Slytherin had set up benches around the lighted gravel pathway to allow those tired of dancing or mingling the opportunity to cool off in the Scottish winter air. His eyes fell on Lord Greengrass of the Gray, who held the monopoly on the British mandrake trade, among many other important herbs and foods, and who employed over thirty witches and wizards. Then onto Lord Rumalittle of the Dark, whose house owned the public floo network, and employed over forty. And there was Lord Knight of the Light, who owned the Knight buses, lorries, and half of the Hogwarts Express. He employed over seventy.</p>

<p>Bill Weasley frowned. They may technically all be opponents, but as far as he was concerned, where it <em>really</em> mattered, they were all on the same side.</p>

<p>“I’m bored,” Ginny announced, rubbing her shoulders. “Why don’t we go back inside. It’s cold out here.”</p>

<p>Of the 114 noble houses currently sitting on the Wizengamot, there had to be at least fifty or sixty here tonight. And no doubt Slytherin would have invited the most important of the lot. That meant that standing around him, both outside and back in the ballroom, were the employers of possibly a quarter of the whole british magical workforce.</p>

<p>“Bill, why do you want me to stick so close to you, if we’re not going to do anything fun?”</p>

<p>And these employers held near-total control of the legislature. They made the laws of Magical Britain. Even before the Gray had put a freeze on new laws being passed, would it shock anyone to learn that the number of pro-labour reforms that had been passed in the last one-hundred years numbered precisely zero?</p>

<p>“Can’t we at least go to the duelling arena? I heard some heirs got into an argument and decided to settle it down there. Can we go, huh? Huh?”</p>

<p>Bill snapped. “No, Ginny. You know Dad asked me to keep an eye on you.”</p>

<p>“But why can’t <em>we</em> go?”</p>

<p>Bill hesitated. He couldn’t say the real reason of course. Dumbledore had entrusted him to keep an eye out for Harry Potter, but at least so far, he hadn’t spotted the boy even once. This difficulty was compounded both by the masks and the presence of John. “We should stay close to the manor,” he said, fishing for an excuse. “Just in case your brothers decide to cause a scene.”</p>

<p>Ginny snorted. “Not likely. I know Dad talked to you about their business with Slytherin. They wouldn’t risk that for anything.”</p>

<p>Bill grimaced. He and his father had had a rather intense argument about that. “I don’t believe our family should be going that route,” he said. “I’ve seen what these family-run businesses can be like.”</p>

<p>Ginny gave him a funny look. “But, <em>all</em> businesses are family-run, aren’t they?”</p>

<p>“Well, yes, but…” He hesitated. How to explain? More importantly, how to explain to his baby sister who had never travelled extensively outside of either the global Wizarding World, or the British one? Just then, he saw a very Harry-Potter-themed individual detach itself from the crowd and slip away into the darkness.</p>

<p>“Ginny,” he said in a firm voice, “go back inside and wait for me near the entrance.”</p>

<p>“Hypocrite!” Ginny shouted as he strode away. “What happened to sticking with me?”</p>

<p>The darkness quickly became a cloak to shield him from watchful eyes as he moved out of range of the magical lights around the manor. But he wasn’t going to rely on that alone. Several charms later, he was disillusioned, scentless, and silenced. He extended his magic sensing out as far as he could to detect whatever magical trip-lines or wards might be up to shield different parts of the island from unwelcome attention.</p>

<p>He tripped none.</p>

<p>Soon, he found his quarry.</p>

<p>The boy was meeting two witches down by a shingle beach overlooking the small island offshore. He crept closer trying to get close enough to overhear what they were talking about. Whatever it was, it could very well be important. The trio kept their voices low, like conspirators, or plotters. He could see that one of them had taken up a large stick and was drawing diagrams in the shingles.</p>

<p>Just then, he realised that he recognised one of the witches.</p>

<p>Virgo Malfoy.</p>

<p>And wasn’t that Susan Bones?</p>

<p>Bill Weasley cursed under his breath. This wasn’t Harry Potter. This was John Potter.</p>

<p>Annoyed, he turned back. It wasn’t as if <em>they</em> were going to have anything important to spy on.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Through the floo they came.</p>

<p>Like a hurricane they bore down.</p>

<p>A horde of crying, hand-wringing, oven-door-slamming house elves.</p>

<p>They zoomed past Appleby-in-Westmorland, banked sharply right, zoomed up the east coast, and flew past first Montrose, and then Banchory. They shot like speeding bullets all the way to the coast of Scotland, under the dark North Sea, and finally saw their destination, which they then crashed into, face-first, like a squadron of domestic chickens flying straight into a double-glazed window.</p>

<p>The house elf ward rang like a gong throughout Slytherin Manor.</p>

<p>“Someone get the driver of that bus,” one of the house elves groggily said, before collapsing onto the floo pipe floor with a loud thunk. On closer inspection, all the smashed house elves were wearing the Potter crest on their pillowcases.</p>

<p>There was a loud pop sound, and another, rather better-dressed house elf landed just outside the mess of bodies now trying to untangle themselves. Plato smirked. “I’m sorry. Is you having an invitation?”</p>

<p>“We must be speaking with Lord Potter!” squeaked the female leader.</p>

<p>“No, I is being Plato.”</p>

<p>“What?”</p>

<p>“What, what? And what ho!” Plato waggled his eyebrows. “Plato is talking just to you then.”</p>

<p>The leader stared for a moment before shaking herself. “Lord Potter must be told!”</p>

<p>Plato turned serious. “No outside house elves tonight. Absolutely forbidden. Master’s orders.”</p>

<p>“Lord Potter must be told!”</p>

<p>Plato sighed. “Well, Plato supposes that if Potter elves wanted to write a note, Plato could deign to have it delivered.”</p>

<p>A few minutes later, Lord Potter opened a note presented to him on a silver platter…</p>

<p><em>Harry is gone! _!(((Lunatico says there was a emoji here, sth like >'less than'! - I can't write the actual characters because that would make a html comment))) We is being SORRY!</em></p>

<p>…And promptly spat out his drink.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“A book about your life?!” Gilderoy Lockhart eagerly leaned forward in his chair. He could hardly believe his ears. Nor his luck. It hadn’t been long since he’d been ushered into one of the upstairs side rooms. They’d had some small talk, and then it was down to business. And then this.</p>

<p>Lord Slytherin nodded. “There are many demands on my time. I have a basic outline, but I need a partner well-versed in the subtle art of shaping opinions with the written word. Someone who can weave a compelling narrative and present potentially unpleasant truths as virtues.”</p>

<p>Lockhart preened. “Well, that’s me alright. What kind of unpleasant truths are we talking about here? Spent one night too many with a pretty witch?” He grinned a roguish grin. “Got into trouble with the law back home?”</p>

<p>“That is for later. After you have signed various non-disclosure agreements and sworn an oath of loyalty. But I do not wish to delay too long. There is a lot of work to do and not much time in which to do it.”</p>

<p>Lockhart’s face fell. “Ahh, I do have a lot of work on my plate. Being headmaster… I did not think it was going to be quite so much. I’m not actually sure how I’m going to work such an intensive project into my schedule.”</p>

<p>Lord Slytherin stood up from his armchair. “Do not worry. I believe there are some functions of your office which you can delegate.”</p>

<p>Lockhart laughed a bitter laugh. “You don’t think I haven’t tried that? The teachers are far too sharp. They spot that trick every time I try it.”</p>

<p>“No, I would not suggest the teachers.” Slytherin paused by the window to look down at the milling wizards outside. “I would suggest the students.”</p>

<p>“The students?” Lockhart asked, incredulous. “Are you serious?”</p>

<p>“Yes. A student Wardrobe — elected in the same way that the Wizengamot elects government heads of departments to the actual Wardrobe. Hogwarts is the training ground for our future elite, after all. It would be only natural that such a program be set up.”</p>

<p>Lockhart’s eyes lit up. “Genius! Yes! It’s all educational! That could work!” His face fell again. “But setting up such a thing would still take a lot of effort.”</p>

<p>“I have also accounted for that.” He snapped his fingers. A door which led off to another room to their side opened, a young masked witch entered, and then took off said mask.</p>

<p>“Miss Davis?” Lockhart hesitated. Wasn’t she only in the second year?</p>

<p>Tracey Davis curtsied to the both of them.</p>

<p>Slytherin gestured to her. “Tracey here will take care of all the administrative details in setting up the student Wardrobe — drafting the constitution, overseeing the process, and ruling on any disputes that arise. As an heiress, she is knowledgeable about our laws and already has great experience in working with students of all ages in both her own house and others. All it requires is a blanket executive order from you granting her the relevant authority.” Slytherin then produced a parchment from the folds of his robes. “Sign here and she can immediately start work.”</p>

<p>Lockhart’s hesitation vanished. After all, Lord Davis was well-known to be Gray. Slytherin would never set the heiress of a key ally up to fail. If she got out of her depth, Slytherin would be forced to support her, and, by extension, him. He grinned widely. “A dealmaker after my own heart!” He quickly read over the Gringotts-approved document, and it all seemed to be in order. “There you go.” He gave his quill a final flourish on the signature line.</p>

<p>Slytherin nodded, retrieved the document, and handed it to Miss Davis who curtsied again and left without a word. Had that been a smirk on her face?</p>

<p>“I will contact you soon to arrange the details of the book deal,” Slytherin said. He turned to go, but came up short by the sound of loud footsteps just outside the door. Moments later, the door burst open and Lord Potter strode in, looking highly agitated.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Draco gazed at the rows of mundane artefacts that lined the cave wall with a mix of curiosity and unease. “What is this?” he asked.</p>

<p>All around him, the other noble children of the Dark strode with equal curiosity along the esoteric and exotic display. They’d swum all the way through the undersea cave to surface into a shabby and dank-looking workshop.</p>

<p>“One of Slytherin’s abandoned projects,” Alexandra answered easily.</p>

<p>“But, it’s all muggle!”</p>

<p>“Astute observation, Malfoy.”</p>

<p>“What is Slytherin doing with muggle fake magic?”</p>

<p>“We will see shortly.”</p>

<p>“What’s this thing?” asked one of the Carrow twins, pointing to a spot on the wall.</p>

<p>“That is a spanner,” Alexandra said. “And that is a wrench.” She hesitated. “I think. Or maybe it’s the other way around. They undo nuts.”</p>

<p>“What?” Gregory asked. “You mean, like, almonds? Pistachios?”</p>

<p>“Nuts made of metal.”</p>

<p>“That won’t taste good.”</p>

<p>“They use them instead of sticking charms.” She wandered over to a huge object hidden by a large white sheet. “Behold!” She threw back the cover.</p>

<p>Draco narrowed his eyes. “That’s a small muggle knight lorry.”</p>

<p>“A van, yes. I was told that Slytherin used it when building the manor to smuggle in contraband.”</p>

<p>“Clever,” Pansy said. “But how? There are no roads to the island.”</p>

<p>“It goes underwater.”</p>

<p>“Surely the muggles can’t drive underwater.”</p>

<p>“I think they can… but certainly not in this. <em>This</em> is part magic.” She threw open the back doors.</p>

<p>Draco recoiled. “But! Combining muggle and magic artefacts is against the law!”</p>

<p>Pansy stuck her head in the van and whistled. “That’s a <em>lot</em> of runes.”</p>

<p>Theo narrowed his eyes. “We could turn information about this place over to the ministry.”</p>

<p>“Sure we could,” Alex said, jumping up and settling down in a chair behind a bunch of metal boxes. “Just so long as we’d be okay with the ministry having a precedent to raid our houses for all the illegal dark artefacts we keep.”</p>

<p>Draco winced.</p>

<p>Alex looked over the top of the metal box. “Theo. You’re not magically weak. Show us your best aguamenti.”</p>

<p>A fine stream of water poured from the end of Theo’s wand.</p>

<p>“Now Pansy, come here and channel your magic alternatively into these two boxes.”</p>

<p>Pansy joined Alex, sat down next to her, and moments later, a torrent of high-pressure water shot from a metal nozzle attached to the boxes. In terms of impressiveness, there was no contest. The difference between Pansy’s and Theo’s efforts was like the difference between a leaky tap and a broken dam.</p>

<p>The water sloshed around Draco’s feet as he looked on in growing horror. The implications were clear.</p>

<p>“See the difference?” Alex asked.</p>

<p>“What the hell was that?!” one of the Carrow twins shouted.</p>

<p>“That is what happens when you mix magic and muggle.”</p>

<p>Vincent grunted. “Why’s Slytherin leave this here, then? This is a powerful artefact.”</p>

<p>Alex laughed. “Because this is just a mere prototype. There’s no way we could get into the actual workshop where they’re working on the real deal. Slytherin is using muggle tools to build magical artefacts that outstrip anything our ancestors created. We are talking Merlin levels of powerful.”</p>

<p>Draco finally found his voice. “If we tell our parents—”</p>

<p>But Alexandra cut him off. “Our parents <em>know</em>! Slytherin has been bidding for an arms contract with MaCUSA for months. All the export parchment has been filed with the ministry. All your parents will know about it. And they do nothing! Slytherin is a rising power. And none of our houses can stop it. Slytherin is not like the Light. If we do nothing, we will soon find ourselves marginalised and stripped. That is what I’m going to stop. I am going to make sure that our families are not on the losing side…”</p>

<p>Pansy’s eyes widened.</p>

<p>“…That is why I want you to pledge yourselves to me tonight.”</p>

<p>Draco Malfoy had been raised many things — intelligent, politically astute, cunning, and many other variants on Machiavellian adjectives. Unfortunately, for this situation, these were combined with a confidence so solid you could build a second Azkaban on top of it. Which is why when Pansy then turned to him and frantically waggled her eyebrows, he simply nodded back.</p>

<p>Obviously, he’d analysed the situation, calculated all possible angles, and arrived at the best possible path forward, both for himself, and for his allies. Draco thought about it for a few more moments before his eyes firmed. “If you believe you can do that, then it is a worthy cause to fight for. I have seen what you are capable of, Alexandra. The House of Malfoy will not fall.”</p>

<p>“Same for the House of Goyle.”</p>

<p>“And Crabbe.”</p>

<p>“And Nott.”</p>

<p>The Carrow twins stood behind Alex, smirking.</p>

<p>Alexandra smiled lightly. “Then step this way and swear your service to me for the rest of your days at Hogwarts.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Three wizards stared at each other, one panting hard.</p>

<p>“Ah.” Lockhart gazed at the irate, unmasked Lord Potter. “Perhaps I should excuse myself.” He got up and quickly left, shutting the door behind him with a click, leaving the two powerful wizards facing each other, face to mask.</p>

<p>Lord Potter looked Slytherin right in the eyehole. “My wife has just left to return to Potter Manor.”</p>

<p>“Oh, dear. I hope nothing is wrong.”</p>

<p>Lord Potter scowled. “Harry is missing.”</p>

<p>“I was wondering why I didn’t see him here.”</p>

<p>“No, not missing like that. He was at Potter Manor when we left.”</p>

<p>“Oh, my. I do hope he’s not in any trouble.”</p>

<p>“Don’t give me that! What are your designs on my house? Only someone of great power could have made Harry the Potter heir.”</p>

<p>“Is Harry Potter your heir now? How interesting.”</p>

<p>“Don’t pretend you didn’t know!”</p>

<p>“I really can’t say that I did.”</p>

<p>“Rubbish! Stay away from my son.”</p>

<p>There was a shift in the feeling of the air.</p>

<p>“Your son.” The words from Slytherin’s mouth carried a cold tone. “What right do you have to call Harry your son? You who shunned him through his childhood. What right do you have?”</p>

<p>“Silence! You have no idea what you are talking about. And you have no right to interfere either way. Harry is a son of House Potter. He is not your son!”</p>

<p>“I agree.”</p>

<p>Lord Potter glared. “What?”</p>

<p>“I agree that he is not my son. But that does not mean I will not continue to do as I please. So long as Harry wishes it, I will continue to shelter and guide him. Just like your parents did for our Lord Black.”</p>

<p>Lord Potter stiffened. This <em>was</em> Lupin. It had to be.</p>

<p>The two wizards stood in silence.</p>

<p>“Your ring,” said Lord Potter.</p>

<p>“I’m sorry?”</p>

<p>“Your ring. Show me your ring. I want to know that you actually are Lord Slytherin.”</p>

<p>Slytherin shrugged and flashed the ring which marked him as such.</p>

<p>Lord Potter carefully inspected it. Yes, it was genuine, alright. Of course it had to be for him to have his seat on the Wizengamot. But even Lupin’s powers didn’t automatically explain how he could have acquired it. But more importantly than that, Slytherin had all but admitted that he was behind Harry’s new heir status. All those Gray children at Hogwarts — Daphne Greengrass, Tracy Davis, the muggleborn girl, and all the others. So long as Harry continued to mix with them, there was no way that he and Lily would be able to maintain the kind of control possibly required by the prophecy.</p>

<p>“Harry Potter will not return to Hogwarts,” he whispered.</p>

<p>“Mmm?” Slytherin rubbed one of his fingers as though checking for a ring that wasn’t there.</p>

<p>Lord Potter drew himself up taller. “Harry Potter will not return to Hogwarts,” he said, louder. “If you will not keep your nose out of my family’s affairs, then I have no choice but to withdraw him—”</p>

<p>“Ooo, look at the time, gotta dash.”</p>

<p>“—and see to his—”</p>

<p>Lord Slytherin apparated away.</p>

<p>“—education elsewhere…”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Of the many traditions that muggleborns find confusing when they first enter the Wizarding World, none are perhaps so misunderstood as the oath.</p>

<p>Not the unbreakable oath, of which only one at a time can be active per person, and which has such a sordid and tragic past that most wizards will refuse to ever swear one. Nor the legalistic magically enforced contracts of Gringotts, of which muggleborns find themselves perfectly comfortable with, coming as they do from a largely legalistic culture themselves.</p>

<p>No, it is the honour oath that most confuses those new to the Wizarding World.</p>

<p>‘Why not just renege on it?’ they ask. ‘What this guy asked you to swear to is obviously unreasonable. You were under duress. It’s not in your best interests anymore. It’s not as though it’s against the law? It’s just a verbal contract. Not worth the paper it’s printed on… quilled on… you know what I mean.’</p>

<p>Such questions are not entirely without merit.</p>

<p>Since the introduction of Gringotts magical contracts, the conceptual need for honour oaths has decreased markedly. Most business deals are done through the new medium, and internal family disputes are still often handled through the personal law of the Albion Family Magics. Honour oaths are the purview of the nobility, the Dark, and the traditional, taken very seriously, and used in an ever-shrinking range of circumstances across society — the oath an obliviator takes when they first receive their badge — the oath a member of the Wizengamot takes when they first take their seat — the oaths a wizard and witch swear to each other when they are bonded together in marriage.</p>

<p>And of course, there’s the tradition of Hogwarts students pledging themselves to a charismatic leader for the duration of their education.</p>

<p>Down in the tiny sea cave, Draco watched the last of their number swear their allegiance to Alexandra Black. His own oath had been basic but meaningful. He was now a follower of this girl. He would serve her interests, keep her secrets, and if necessary, fight by her side against her enemies. His voice had been calm and firm.</p>

<p>This had been in contrast to Pansy whose voice had wavered like a young whomping willow in a stiff breeze, occasionally shooting him nervous looks as if to say, ‘Is this really okay? Are you <em>really</em> sure about this? I’m not sure about this.’</p>

<p>He’d nodded back.</p>

<p>It was worth the cost. Alexandra Black was powerful. Not counting his sister, she was the only chance his generation of the Dark had to stand up to the juggernauts of the Light and the Gray in a straight-up magical fight.</p>

<p>In the light of their lit wands, Gregory Goyle stood up and bowed. “My lady,” he intoned.</p>

<p>Alexandra nodded back. She waved him away before stepping up onto a random box lying around. She stared down at them all imperiously.</p>

<p>Draco licked his lips.</p>

<p>“Now that you have all sworn,” Alexandra began. “I shall instruct you in our program from here on. I know that you feel that I shall be your weapon against your enemies, but I will not stand to protect weaklings who cannot fight for themselves. Theo, I know you already practise duelling and that is good. From now on, all of you shall work duelling into your education.”</p>

<p>The Carrow twins cheered. Everyone else present all nodded firmly, except Pansy who nervously looked around before quickly nodding as well.</p>

<p>“I also expect all of you to excel in your educations. All of you should be in the top twenty — no exceptions.”</p>

<p>Vincent and Greg groaned.</p>

<p>“Next, we know full well that our bodies are vessels for our magic — the stronger our bodies, the stronger our magics. Therefore, from now on, we will start every day with power exercise around the Black Lake.”</p>

<p>Everyone groaned at that.</p>

<p>“Wait,” Theo said, “we don’t have the time for all this. We already have loads of stuff to do.”</p>

<p>“Au contraire,” Alex retorted. “We have plenty of time. We spend ages every day in the common room, just sitting around. We shall use some of that time.”</p>

<p>Draco frowned. “We have to maintain our station in the common room. If we don’t, the Gray will look more important.”</p>

<p>Strangely, those words caused Pansy to shoot him a look of pure dread. He saw sweat beading on her forehead.</p>

<p>Alex smiled. “Do not worry about that. Now that I am your leader, it is not as important as before.”</p>

<p>“Are we going to know who your spy in the Gray is?” Vincent asked. “We’ve sworn to you now.”</p>

<p>Alexandra nodded. “You will. I already sent them a message a little while ago. They will be here soon.”</p>

<p>Draco noted the lack of specific pronoun. His mind whirled through all the possible candidates. It would probably be someone their age and there weren’t that many of them at the party. It couldn’t be Greengrass or Lovegood. Davis was highly unlikely. He hadn’t even seen Harry yet. It wasn’t impossible for it to be Granger, but somehow he doubted it. But who did that leave?</p>

<p>Just then, the water started to ripple.</p>

<p>There was a massive splash and something burst out from the surface. It took Draco a split second to realise it was a witch on a broomstick. Long red hair flashed in the wandlight. What happened next happened so fast it was almost impossible to process. Alex flung a stunner at the newcomer with unbelievable speed, which was swatted away equally quickly. The witch threw herself from her broomstick, still in midair, rolled, swatted away two more spells from Alexandra, and stood up, right in front of her, both witches snapping their wands against each other’s necks.</p>

<p>It was Ginny.</p>

<p>“Magical Merlin,” Theo whispered.</p>

<p>Draco’s eyes widened. “Weaslette! <em>You’re</em> the spy?”</p>

<p>Ginevra Weasley just flashed him a grin.</p>

<p>Draco’s mind went back into overdrive. If Weasley was the spy, this was brilliant! He didn’t want to admit it, but the girl was also a fearsome power. Everyone knew about the way she’d handled Snape during Defence Against the Dark Arts, and his father had told him there were whispers she would be given special permission to play professionally even while a junior. The position of the Dark was looking better and better by the second.</p>

<p>But for some reason, Ginny’s entrance hadn’t reassured Pansy. If anything, it only seemed to make things worse. Her face was white and her body was curling in on itself as though trying to invent apparition.</p>

<p>“Ginny is not my contact in the Gray,” Alex said.</p>

<p>Pansy whimpered.</p>

<p>Draco frowned. “Then who?”</p>

<p>A deep voice from a corner of the cave said, “Me.”</p>

<p>Draco froze. That voice. Even as it rattled around in his skull, he felt a chill go down his spine. No.</p>

<p>A tall figure stepped out of the shadows. It was richly robed and masked, just like everyone at the party had been, but Draco instinctively knew that this was no body double.</p>

<p>Lord Slytherin.</p>

<p>He whirled his head around to gaze at a distraught-looking Pansy. “I thought you’d realised already,” she mouthed to him. Her body seemed to curl in on itself. “I did.”</p>

<p>Lord Slytherin stepped forward. “I must apologise for this, Heir Malfoy,” he said. “I was originally intending to keep my involvement in this whole affair clandestine for quite a while longer, but events are transpiring against me. I decided this would be better as a bandage ripped off cleanly right at the start.”</p>

<p>“I—I don’t…”</p>

<p>Alexandra and Ginny both curtsied to the Gray Lord as he walked towards them all.</p>

<p>Slowly, a shaking Pansy followed suit, followed quickly by the Carrow twins.</p>

<p>Theo, Gregory and Vincent looked just as pole-axed as he felt. They’d just pledged their service to a witch who was a Gray spy. Their ace in the hand had turned out to be a joker.</p>

<p>“If it is any comfort, I will not force you to bow to me.”</p>

<p>Alexandra’s head whipped up and around. Oppressive magic flared. “Kneel,” she snarled.</p>

<p>Three sets of knees hit the rock floor of the cave.</p>

<p>Draco stared eye to eye with his cousin. He’d never considered it possible. She was too easy. Too naive. Too obvious. But that wasn’t what he saw in those eyes now. Now he saw cold as hard and dark as beads.</p>

<p>Slowly, he too, knelt.</p>

<p>Slytherin clucked his tongue. “Enough. I’m sure you’ve all realised the implications of what has happened here. I shall not treat you unkindly. And I shall ensure that Alex does likewise. If anything, I hope you end up benefiting from this. I believe she will make a good mistress, if a tiring one.”</p>

<p>“Our families…” Pansy said in a shaky voice.</p>

<p>“Please tell them all that has happened here. Except Ginny’s involvement. Leave that bit out.” He stopped in front of the redhead. “I was not expecting to see you here.”</p>

<p>The Weaslette flashed Lord Slytherin an impish smile. “Just wanted to see if I could beat you here.”</p>

<p>Draco wasn’t sure he could feel any lower. Was every powerful wizard their age secretly a member of the Gray? Was John Potter? Was his sister?</p>

<p>“Draco,” Lord Slytherin said, jerking him from his thoughts. “Walk with me.”</p>

<p>There wasn’t far to go into the cave, but they were soon reasonably alone. Draco’s palms were sweating.</p>

<p>“I have plans for Magical Britain, Draco.”</p>

<p>Draco said nothing.</p>

<p>“Many of the old ways are under threat. The future will need powerful wizards of strength and influence. It will need those who understand the importance of family and who value the traditions that have been built up over many millennia.”</p>

<p>“So are you going to throw out all the muggleborns?” someone said. Draco realised it was him. All the repressed anger and frustration was bubbling up, all at once, and he seemed powerless to stop it.</p>

<p>“No,” Slytherin said, simply.</p>

<p>“Then you’re just another Light wizard!” Draco shouted. “If you won’t do something about the muggleborns, then you’re a blood traitor, just like the rest!” Draco’s heart was pounding. “I know you love muggleborns. You have Granger! You invited the Weasleys! Everyone knows they’re Light through and through.” Momentarily spent, he took a deep breath and waited tentatively for the reaction.</p>

<p>Slytherin nodded. “I can see future discussions with you are going to be interesting.” He glanced behind them.</p>

<p>Draco followed the mask’s eyes to see Alexandra ordering what had so recently been the proud Dark leadership at Hogwarts about what they were going to be doing for the rest of the party.</p>

<p>“Do give my regards to your father,” Slytherin said. “I expect this is the kind of thing he’d want to know about as soon as possible.”</p>

<p>There was a crack and Lord Slytherin was gone.</p>

<p>That feeling of dread swiftly returned. His father was going to go full Dark Lord.</p>

<p style="text-align: center;">— End of Chapter Fifty-four —</p>

{} []: When Susan and Harry's girls learn he's the Potter heir we don't get a scene with James sensing it.
