Chapter 55 - Movers and Shakers - Part 3

<p>Through the floor came sounds of dancing. Through the floor came sounds of merry-making. Through the floor came the occasional sounds of a very embarrassed witch or wizard — one who just realised that the charming masked man or woman that they’d just shared an intimate dance with, was, in fact, their wife or husband’s sworn mortal enemy.</p>

<p>Up here, in the private quarters of Slytherin Manor, the muffled sounds of the party below filtered through several layers of wood and carpets, to reach the ears of Daphne and Harry, sitting side-by-side on one of the large sofas, going through large collections of parchment notes on the low table in front of them.</p>

<p>“So much left to do,” Daphne said. “And I’m already tired. I do hope Astoria isn’t embarrassing me down there.”</p>

<p>Footsteps from down the hall caused them both to look up.</p>

<p>“My lord?” Luna poked her head around the corner. She had another stack of parchments under her arm. “Would <em>now</em> be a good time, my lord?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Outside Slytherin Manor, torch-lit under an ink-black sky, Draco sat on one of the many grassy benches of the duelling arena with his hands under his chin, staring blankly upon the circle of sand below. Down there, his new mistress was going toe-to-toe with a wizard eight years her senior. Black was holding her own, swatting and dodging, shielding when needed and casting out nasty-looking hexes and curses when the opportunities presented themselves.</p>

<p>It was unbelievably impressive, but, Draco noted glumly, it was nowhere near as impressive as taking on the whole Slytherin common room single-handed.</p>

<p>How had he believed, even for a minute, that was possible?</p>

<p>What had been the trick? Had it even been Black? An illusion? Polyjuice? Had there been help? Had her opposition been infiltrated with sleeper agents? Traitors? Informants? Or had the illusion been woven on the fight itself?</p>

<p>It was Harry and John Potter’s fault, that was it.</p>

<p>After they’d completely dismantled the duelling tournament last year, he’d come to see that kind of overwhelming power as normal.</p>

<p>Of course it wasn’t.</p>

<p>Everything about Slytherin’s protégés was ridiculous. Even Weaslette was on their side. Only John and Virgo weren’t… probably.</p>

<p>He shook his head.</p>

<p>No, he couldn’t start thinking like that. His father had Virgo under control, certainly.</p>

<p>At least the pledge he’d made to Black didn’t endanger his family secrets. That was a small blessing.</p>

<p>Down in the arena, Alexandra released her Black chains. They shot towards the shocked-looking duellist and cracked his wand clean out of his hand with a snap that sounded all around the island. Her opponent let out a cry of pain and dropped to his knees.</p>

<p>All around Draco, a mix of indignation and applause emanated from a dozen-ish other spectators.</p>

<p>Red sparks shot into the air. “Disqualified!” called out Lord Slughorn. “No family magics in <em>Standard Class A</em>.”</p>

<p>“WHAT?!” Black shouted. “Potter used his at Hogwarts!”</p>

<p>“This is not Hogwarts, young lady. Hogwarts uses a different variation.”</p>

<p>Draco turned his eyes skyward as the argument escalated. Weasley was up there, somewhere, happily zipping around on a broomstick that she’d found Merlin knew where. One of her hundreds of older brothers had stood around shouting at her to come down for about ten minutes before giving up and going back inside.</p>

<p>At least he didn’t have to deal with that kind of nonsense. Draco shuddered. No, he just had to deal with telling his father how badly he’d messed up.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Back up in the residences, Daphne was sat to one side, taking notes while Luna spoke with Harry. When Luna had said she had some ideas on how they should position the Gray, Daphne had expected many things, but this hadn’t been one of them.</p>

<p>Harry sighed. “It would be nice if my future knowledge extended further. Even if it’s very poor at predicting specific events—except under very special circumstances, like Mount Vesuvius or the Azkaban Earthquake—it’s still invaluable for seeing the shape of what might come. How the Wizarding World enforces the International Statute of Secrecy was always going to be a massive issue — but I’ve no idea how different policies might play out.” He looked at Luna, sitting across the table.</p>

<p>“I believe we need to be proactive, my lord,” Luna said. “Even if we were to have an evacuation plan, like Hermione is playing with, we will still need to have the ISS until that is possible. And such an evacuation plan may not be possible, even just for us, for many decades.”</p>

<p>“And you do not believe full integration is an option?”</p>

<p>Luna tilted her head. “We have hundreds of years of separate culture. We are everything muggles fear. We are secret. We live among them. We are powerful. We do as we will. We are answerable to none but ourselves. To muggles, our most powerful could commit the most heinous of crimes with impunity, while our weakest could be easily stopped by a simple bullet to the head.”</p>

<p>“And this,” Harry flipped through the large document Luna had brought with her. “This is your solution.”</p>

<p>Luna nodded. “The ICW obliviators are the most effective, most efficient organisation in the Wizarding World. Their reach is global. They operate within each country, nominally under the jurisdiction of each ministry, but in reality separate. They have to. Even one incompetent ministry in some war-torn part of the world could easily blow the secret. But the ICW is not a world government. It is an organisation that operates with the collective will of its members. But even if many scorn the ICW, no one scorns the obliviators. They are the guardians of the Wizarding World. Only the aurors are held in greater esteem. And everyone is always so focused on their own problems. Sometimes, they just do not get it. You know that from your talks with Dumbledore. If we position ourselves as the obliviators’ best friends… if we help them with the problems our world is going to face in the future…”</p>

<p>Harry flipped through the document. “I see you’ve put a lot of thought into this.”</p>

<p>“Mum and Dad helped a lot.”</p>

<p>Daphne was reading one of the pages she’d plucked from the pile, fascinated. “Can we really petition the ICW to found our own obliviator squad?”</p>

<p>“There would have to be a good reason, but yes.”</p>

<p>Harry leaned back in his chair, staring at the ceiling for a good few moments before looking back down between her and Luna. “Well, I can’t see any massive problems with playing with this as an idea. We have plenty of irons in the fire. I’m sure I can dream up some way to get that permission.”</p>

<p>Luna smiled. “I know you can, my lord.”</p>

<p>“But in the meantime, I’ve got a bunch of other lords to woo. Daphne?”</p>

<p>Daphne reached into her pocket and drank several potions in quick succession before standing up as Lord Slytherin. “Yes, Harry,” she said, even as her voice changed. “Let’s go.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Down on the arena grassy benches, Pansy Parkinson nervously wrung her hands. “I’m so sorry, Draco. I thought you’d figured it out, too. I mean, Black was being awfully obvious. She said that Slytherin was a rising power. She said that none of our families could stop it. She said that she was going to make sure that we weren’t on the losing side!”</p>

<p>“It was rather obvious, in retrospect,” Nott grumbled.</p>

<p>Draco sat with his head in his hands, watching two other lords loudly going at it in the sand below through the slits in his fingers. Torchlight flickered across the arena.</p>

<p>“It doesn’t have to be so bad,” Pansy said, sounding for all the world like the person she was most trying to convince was herself. “It’s just for school. We’ll be free before we know it. How much does this change, really? What if we’d known Black was Gray from the start? We’d still be faced with Potter and Greengrass and Granger and Weasley <em>and</em> Black. At least this way we <em>do</em> get to be on the winning side while at Hogwarts.”</p>

<p>“Speak for yourself,” Draco muttered. “It might not be so bad for you. Your family was neutral for ages. You’re massively in with Slytherin already.”</p>

<p>“Yeah,” Nott said. “Your dad said he built all this.” He swept his hand around the arena. “And he did the house elves for the manor. That can’t have been cheap.”</p>

<p>Pansy nervously rubbed an arm. “But that doesn’t have to change anything, Draco. I mean, if you ever need help—”</p>

<p>“I don’t need—!” Draco snapped, then instantly regretted it.</p>

<p>Pansy stepped backwards.</p>

<p>“Look,” Draco said in a softer tone. “Right now, I just need to be alone. I’m going to go talk to father soon, and the last thing I need is a pity party.”</p>

<p>Pansy nodded.</p>

<p>Draco stood and walked towards the arena exit, hardly looking where he was going.</p>

<p>Maybe he could find someone willing to give a teenager a glass of firewhisky. Liquid courage layered over occlumency might just help him over the four dozen doxies playing merry-weather in his stomach.</p>

<p>His mood was not helped by almost walking into two figures leading a small party into the arena as he left.</p>

<p>Lord Slytherin and Harry Potter.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Lord Tempest watched, amused, as the boy who’d almost walked into Lord Slytherin muttered an apology and sulked off.</p>

<p>“That was Malfoy’s squirt, wasn’t it?” asked Lord Smith.</p>

<p>“Probably,” Tempest replied. He couldn’t help but admire the duelling arena they were being led into, even if the circumstances in which they were being led here could charitably be called mysterious. He wasn’t worried. He, Lord Smith, and Lady Pinkerton had all been top duellers back in the day. Nevertheless, the feeling of fresh sand under his feet stirred old memories in his blood. His wand hand itched and a breeze blew through the air, otherwise protected from the fierce winds around the Orkneys.</p>

<p>“Well, Lord Slytherin?” Lady Pinkerton asked with a wrinkle of her rather long nose. She was one of the few guests who had elected to wear her muggle Christmas robes again after the Potter’s Party. “Why all the secrecy? Why did you call us specifically, here?”</p>

<p>“Yes, why?” Smith echoed.</p>

<p>Slytherin gestured to the boy at his side. “I said I would give you a chance to meet Harry, and here it is.”</p>

<p>Tempest snorted. “I don’t believe for one moment you brought us to the duelling arena just for that.”</p>

<p>“No.” Slytherin put a hand on the boy’s shoulder. “I wanted to bring you three into my confidence. Harry here has been training under me for many years and I intend, one day, for him to take over from me as leader of the Gray.”</p>

<p>Lord Tempest felt his blood stir again. “Oh, really?”</p>

<p>“Yes.”</p>

<p>“Why?” asked Lady Pinkerton. “I know he can fight—we all saw his duels last year—but it takes more than that to do your job.”</p>

<p>“Harry,” said Lord Slytherin, “show them.”</p>

<p>Harry Potter, who had been silent this whole time, smirked. He raised his hand and a ring appeared on his finger. “I am Heir Potter.”</p>

<p>Lord Tempest’s eyes went wide.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Back up at the manor, James Potter’s eyes went wide. “Lily!” he hissed, desperately motioning for his wife to lean her head close to his. “I just felt it. Harry broke a family secret. He just told someone he is the heir!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“How?” Smith asked, clearly nonplussed.</p>

<p>“The how, I cannot say,” young Harry replied. “All that matters is the fact.”</p>

<p>Lady Pinkerton narrowed her eyes at Slytherin. “You are playing a dangerous game, my lord. Messing with the line of succession of the Albion Family Magics rarely ends well for the meddler.”</p>

<p>“I assure you, my lady, I know exactly the game I am playing.”</p>

<p>“It certainly will be a coup if it works,” Smith said, hefting his massive war hammer over his shoulder. “A good few of the noble Light are reliant on House Potter for their businesses. It wouldn’t give us the majority by any stretch, but it would still be substantial. Was that a family secret?”</p>

<p>“Yes.”</p>

<p>Lord Tempest could feel the wind flowing through his blood.</p>

<p>“Ballsy,” Smith continued. “But it’s all rather academic. That succession won’t happen for decades — possibly as long as a century. Lord Potter is young and arrogant. He is not the kind of man to hand over his Lordship to the younger generation, and certainly not if his son has turned to a major political opponent.”</p>

<p>Lord Tempest wasn’t listening. His eyes were locked with the Potter boy’s — unflinching, cold, calculating. He could feel himself being analysed for any kind of weakness those eyes could find — and those eyes could evidently see plenty. It had been a long time since he’d felt a gaze like that.</p>

<p>He broke eye contact.</p>

<p>“You want us to give our blessing to this boy.” He looked up to stare into Lord Slytherin’s mask. “Like some kind of king of old, calling his lords to swear allegiance to his bastard son. You want us to crown a prince — a child of whom we know nothing of except that he is strong.”</p>

<p>Tempest felt the wind in his blood scream into a full-on gale. His wand slipped into his hand. “Lord Slytherin!” he called out. “If you wish us to recognise this child on strength alone, THEN HE HAD BETTER BE STRONGER THAN MERLIN!”</p>

<p>And the arena was engulfed in a blinding sandstorm.</p>

<p>Lord Tempest would always remember the following fight.</p>

<p>It was as if he, Lord Smith, and Lady Pinkerton had instinctively understood the rules of engagement. The three of them versus the child. As ridiculous as it sounded. If this Potter couldn’t hack it, then tough beans. It would be Slytherin’s mistake for bringing all three of them to the arena. Hard luck for the boy. Squashed like a bug and humiliated by his elders and betters.</p>

<p>But, those eyes.</p>

<p>Lord Tempest had seen eyes like those before.</p>

<p>Eyes hardened by war and a lifetime of suffering.</p>

<p>All three of them were duelling enthusiasts.</p>

<p>All three of them had studied the outlier phenoms that were Harry and John Potter, along with every duellist worth their salt across the whole Wizarding World.</p>

<p>There was no doubt that Harry Potter would put up a good fight.</p>

<p>What he had not expected was power as strong as any opponent he’d ever faced, flames that burned away Pinkerton’s razor flower magic, shields that withstood direct lightning strikes from Smith’s hammer, and a magic sensing ability so fine, that, even through the winds of power swirling around Tempest’s body, the boy was still able to guide spells through the maelstrom.</p>

<p>The fight lasted barely a minute.</p>

<p>“I hope that was instructive,” Lord Slytherin said, walking back across the arena.</p>

<p>Tempest groaned, lying on the ground, head ringing like a struck bell.</p>

<p>Lord Smith was unconscious.</p>

<p>Lady Pinkerton looked up from where she knelt on her hands and knees. “I hope the boy is good for more than just violence.”</p>

<p>Lord Slytherin’s reply sounded amused. “Of course. Much, much more.”</p>

<p>“My lord!” The Davis heiress waved at him from the entrance. “Lady Potter is on her way.”</p>

<p>Slytherin and Potter exchanged a look, and before Tempest’s eyes, Harry Potter faded almost perfectly into the background.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Up near the manor’s large front doors, Draco sat on one of the many provided benches, gloomily watching the many grown-ups enjoying a rest from the dancing inside, and trying to ignore the two witches sitting on either side of him who, it seemed, also knew of his plight.</p>

<p>“Don’t worry, Malfoy,” chirped Daphne Greengrass, sitting on his left. “It could be worse.”</p>

<p>Word among the Gray spread fast, apparently.</p>

<p>“Indeed,” added Granger, sitting on his right. “You should look at this as an opportunity. Our lord is one of the most knowledgeable and brilliant wizards of the age. There is much you could learn, if you put aside pride and embrace his guidance.”</p>

<p>“That’s easy for a mudblood to say,” Draco muttered. “You do best by taking whatever you can get.”</p>

<p>“The best I can get with Lord Slytherin is the best there is.”</p>

<p>“And besides,” Greengrass happily added, “I bet your dad won’t mind too much if it means getting closer to the Gray. Isn’t that what he wanted to begin with?”</p>

<p>“Not if he’s doing the same with Weasley.”</p>

<p>Greengrass pouted. “Now you’re just being a sad and boring boy. We’re at a party! Why don’t you go find a girl to dance with?”</p>

<p>He couldn’t put it off much longer. He was going to have to tell his father soon and it was already getting late.</p>

<p>Draco slowly turned his head and studied the creepily cute expression on Daphne’s face. Something about it just wasn’t right, and with all the subterfuge going on… “Are you sure that’s you, Greengrass?”</p>

<p>Greengrass grinned. “Of course, look!” She showed the heiress ring on her finger.</p>

<p>Draco groaned and put his head in his hands again. As if things weren’t bad enough, being around Slytherin was making him paranoid.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Inside Harry’s shrunk trunk, inside Harry’s pocket, Daphne sat in the plush armchair, wearing only a bathrobe, both eyes closed.</p>

<p>Harry’s dress robes lay strewn on the sofa opposite her.</p>

<p>Daphne focused her divination magic and opened a third eye.</p>

<p>The great and majestic view up someone’s nostrils came into view. Flinching, Daphne pulled back and angled her magic eyeball to take in the more acceptable view of the Slytherin ballroom.</p>

<p>“I do hope you can see the problems we face, Slytherin,” said the owner of the nostrils. It was Lord Malfoy.</p>

<p>“I see many problems,” Harry replied. The two wizards were standing by one of the side doors of the ballroom, deep in conversation. She and Harry had taken flight from the duelling arena sharpish before Lady Potter had arrived, fully intending to briefly drop in to make a quick show of presence before grabbing another pair of lords of the Gray to woo.</p>

<p>That had not happened and she was now very glad Harry had decided to do these rounds in person, rather than rely on her.</p>

<p>Lord Malfoy’s expression barely showed his annoyance… but it did still show it. “What is it you want, Slytherin?” he asked. “You’re obviously angling for certain clauses on the Muggle Protection Act. What are they? I can’t work with you if you won’t tell us. I’m sure that whatever they are, you’re more likely to get them from us than the Light.” The faint hint of annoyance left his face. “I fundamentally believe you and I are more similar than not. Come now, what do you want?”</p>

<p>Daphne sent her eyeball through the wall to check for listeners on the other side before returning to listen in to the conversation.</p>

<p>“Well…” Lord Slytherin started. “I suppose there are one or two things…” He tapped his mask where his chin would be before starting to count on his fingers. “An allowance that muggleborns be allowed to keep banned muggle artefacts on registration when they reach maturity — the inclusion of magical guardians into family law — a monopoly granted to the House of Granger for macro broomstick manufacture — new rules requiring a sixty-day cooling-off period for muggle and half-blood immigration services and for the customer to be visited by a member of the DMLE to ensure they understand what they are signing and to check for magical compulsions — new regulations for obliviators on secondment to the ministry, requiring them to get signed permission from the DMLE before muggleborn parents can have their minds altered — a reconfirmation of the rights of ancient families to properties held in long-term abeyance — an exception on currency controls for allowable goods sold in the Muggle World…”</p>

<p>Daphne watched Lord Malfoy’s eyes get progressively larger and larger.</p>

<p>“…And finally, an extension of the printing licence granted to the Noble House of Lovegood for a daily three-page broadsheet edition of the Quibbler focused on muggleborn education and news.”</p>

<p>It took a moment for Malfoy to find his voice. “Absolutely not,” he eventually said firmly. “It is impossible. Yes, some of those things are reasonable, but the others? You want to grant a muggleborn a family monopoly?! Those have always been for nobles and purebloods only. Even if it was warranted, the precedent alone would be horrific.”</p>

<p>Lord Slytherin nodded. “There is one last thing.”</p>

<p>“What?”</p>

<p>Lord Slytherin looked around the ballroom. The energy was starting to wind down now. More waltz and less foxtrot. “A small matter of historical housekeeping,” he said. “A significant financial settlement from the ministry to all victims of the last war — paid for, in part, by public-spirited citizens. Along with a formal amnesty granted to all non-convicted members of the paramilitary wing of the Dark, unofficially known as the Death Eaters.”</p>

<p>Lord Malfoy fell silent. His expression turned guarded. “The Dark long ago disavowed our involvement with that group.”</p>

<p>Lord Slytherin shrugged. “Nevertheless…”</p>

<p>“…Nevertheless, healing the wounds of the past is important.” Malfoy fell silent again. “But no,” he eventually said. “It is still too much. The Dark could never accept all these additions. Perhaps we could talk about individual laws, but as a package? I’m sorry, Lord Slytherin, but you are going to have to do better than that.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>A few moments earlier…</p>

<p>Draco had finally plucked up the courage to go tell his father the news. It hadn’t been difficult finding him. But unfortunately, Lord Malfoy was deep in discussion with the very cause of his problem. There was no way he was going to just walk up to them both and stand waiting like an idiot. Besides, what if his father asked him to explain himself in front of Slytherin? There was no way he could go through with that.</p>

<p>So instead, Draco exited the ballroom through one of the side doors and looped around the long circular corridor to the doorway his father and Slytherin were talking behind.</p>

<p>“I fundamentally believe you and I are more similar than not,” his father said. For whatever reason, Draco could hear his voice through the door! “Come now, what do you want?”</p>

<p>“Well…” Lord Slytherin started.</p>

<p>Draco then listened in mounting horror as Slytherin laid down demand after demand. He was going to be used. He was going to be used as a political hostage against his father.</p>

<p>“I’m sorry, Lord Slytherin,” his father concluded at the end of the exchange “but you are going to have to do better than that.”</p>

<p>Draco wasn’t good at magic sensing. Few wizards were. If he was, he might have felt the presence of a magical eyeball slipping through the wall, watching his retreat back the way he came, fist jammed in his mouth, tears in his eyes, doing his best not to hyperventilate.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Draco wasn’t the only one making haste through Slytherin Manor. While Lord Slytherin bade his farewell to Lord Malfoy, and Daphne prepared for their next session with the lords of the Gray, Lord Potter was on the warpath, showing much of the normal condition for armies on the warpath when they can’t find their opponent… eye-watering frustration.</p>

<p>One circle of Slytherin Manor. Two. Three. He checked the grounds and asked anyone whom he vaguely trusted if they’d seen Harry. Most annoyingly, many of them had.</p>

<p>“Why can’t I find him?!”</p>

<p>He burst out of the upstairs washroom after his fourth circle of those areas of the manor open to guests. “I swear I’ve looked everywhere. Lily!”</p>

<p>Lady Potter was advancing towards him up the corridor. “I can’t find him either. I know he was here. Tempest all but admitted Harry was <em>fighting</em> them in the duelling arena before I arrived.”</p>

<p>James ran a hand through his hair. “This is getting out of hand. We can’t let him—” Another pulse of family magic shot through him. “He just told someone else!”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Mmmmm, very nice.” Lord Smith carefully inspected the unquestionably expert-level alchemy that young Harry Potter had produced for them in one of the locked antechambers off the main ballroom.</p>

<p>Lord Woodcroft nodded. “And he’s, what? Twelve?”</p>

<p>“I’d expect this level of quality from a journeyman alchemist at least,” Lady Woodcroft added in a voice of mild awe. She had an eye pressed right up to one side of the large glass statue Harry had formed out of sand in the middle of the room. Unlike the wandless parlour-trick glass statues the boy was in the habit of impressing other people with, this statue contained an unbelievable level of alchemical skill and insight. The glass reflected and refracted light as it passed through, highlighting individual runes that had been formed on the inside in wonderful spiral patterns.</p>

<p>Lord Head burst into laughter, again. “I still can’t get over him being the Potter heir. The boy-who-lived must be pitching a fit.”</p>

<p>Off to one side stood Daphne Greengrass, currently Lord Slytherin. She had a fatherly hand on Harry’s shoulder and felt extremely weird about it. “I plan for Harry to one day take my place as leader of the Gray,” she said.</p>

<p>Lady Hailbob raised an eyebrow. “You are playing a dangerous game, Lord Slytherin. The family magics do not respond well to attempts to subvert their will.”</p>

<p>“Maybe. But that game is mine to play.”</p>

<p>Lord Hailbob chuckled. “This is why I like you. What other craft talents does the boy have?”</p>

<p>“Harry?” Daphne said.</p>

<p>Harry smiled a small smile. “I am proficient in rune-cluster exploration, spell exploration, arithmancy, arithmetical occlumency, alchemy, permanent charms, potion discovery, ritual negotiation, Latin, Ancient Greek, Nordic, and Coptic.”</p>

<p>All eyes in the room turned to stare at him.</p>

<p>“Merlin,” Woodcroft whispered.</p>

<p>Lord Head laughed, again. “Literally.”</p>

<p>Lord Smith chuckled. “Very intellectually minded, this one. Not smelting? I feel insulted. Not weaving? Not tailoring? Not woodworking?”</p>

<p>Harry gave an apologetic smile. “I’m currently working on a pottery project, but apart from that, I’m afraid not. I’ve always had more talent for high-level magic, than low-level. I prefer to leave complex manufacturing to others.”</p>

<p>There was a sudden loud banging on the door. “Harry?! Are you in there!? We’re leaving now! I demand you open this door!”</p>

<p>Daphne turned to Harry and extended her arm. Harry took it. No one noticed that it was the boy who apparated out Lord Slytherin.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Draco stared out at the sea of endless blackness. Sitting on the pebbles was uncomfortable, but right now, he couldn’t care less. He picked up a pebble and carelessly tossed it into the surf. It went plonk.</p>

<p>Azkaban was out there, not too far away.</p>

<p>How far could a dementor’s aura reach? He fancied he could feel the happiness-sucking demons’ power through the veil of night. The darkness was like a curtain and those bony hands could just reach straight through it and devour him whole. Maybe it would be better if they did?</p>

<p>Draco Malfoy had never encountered the idea of broody teenage melodrama, but innovation has a habit of developing along the cutting edge of the adjacent possible, and right now, Draco Malfoy was so cutting edge that had he tried to, say, don tight leather pants, they’d have pre-shredded themselves just to save the universe the trouble.</p>

<p>“Oh, what a beautiful nighttime~” sang a girl’s voice. “Oh, what a beautiful dusk~”</p>

<p>Draco grunted. Of course he wasn’t going to be left alone. Why had he thought that just because he’d crept away all by himself, making sure to sink into the darkest shadows, and wind his way down to the least lit bit of beach, that people would figure out he didn’t want any company.</p>

<p>“Ninety-nine phantoms of fear in the brig~ Ninety-nine phantoms of fear~ A prisoner escapes and another gives chase, Ninety-eight phantoms of fear~”</p>

<p>Draco groaned and looked around.</p>

<p>“Hi, there, fellow Slytherin servant,” said Luna Lovegood.</p>

<p>Draco glared. “I am not Slytherin’s servant.”</p>

<p>“No?” Lovegood adjusted her skirts and sat down next to him. “Then why did you pledge yourself to Alex?”</p>

<p>Draco snapped. “I didn’t know that Black was a spy!”</p>

<p>“Mmmm…” Lovegood put a finger on her lips. “I guess that does spoil things a bit. Tricking people like that isn’t nice. But then, my lord is not always a nice person. But look on the bright side. Now that you’re on the winning side, you’ll never have to worry about running a faction of your own. You can just let Slytherin do all that work. Being the responsible one is hard. Better just to lie back and let the big boys handle things.”</p>

<p>Draco clenched his teeth. This didn’t even qualify as rubbing salt into the wound. This was like a beach-going child filling up a wound with coarse sand and then digging it back out again because their castle needed another turret.</p>

<p>“Besides, the worst is over now. I’m sure Lord Malfoy will handle things now that he knows what’s going on.”</p>

<p>There was a moment of silence.</p>

<p>Draco felt his ears burning. He should have just told his father. He shouldn’t have run away like that. He shouldn’t have.</p>

<p>Lovegood snorted.</p>

<p>It was such an out-of-character sound coming from her that Draco did a double-take.</p>

<p>“This is exactly why you joining the Gray will be good for you,” she said.</p>

<p>“What, why?”</p>

<p>“Because~” she said in a sing-song voice, “you are being a pussy~”</p>

<p>Draco coughed, loudly. “A what?!”</p>

<p>“A p-u-s-s-y~” Lovegood’s voice dropped back to its normal dreamy tone. “A coward. A little boy who cannot accept responsibility. A maiden in need of rescuing. A con-man who messed up and now wants to skip town. A little girl who wet her knickers and is now crying because her daddy is going to get mad.”</p>

<p>“Enough!” Draco was on his feet now. “Who the hells are you to speak like this to me? I am Heir Malfoy! Future leader of the Dark.”</p>

<p>“And I am Heiress Lovegood~ Future fuck-toy of Lord Slytherin, leader of the Gray, and future leader of all of Magical Britain — Light, Gray, or otherwise.”</p>

<p>That stopped Draco. He stared at Lovegood.</p>

<p>“Have you not heard what people are whispering?” the girl said. “They are saying that Lord Slytherin is not merely the leader of the Gray, they are saying he is something new, sprung forth from the old — a Gray Lord.”</p>

<p>Draco had heard, of course. The title of Lord of Lords was as old as Albion???We don’t believe it refers to a group of things, thus the the might be out of place. Unless it refers towards the plural magics??? itself. Merlin had been a lord of lords. It had started out meaning, ‘first among equals,’ but over the centuries the meaning had been warped. Nowadays, lord of lords meant someone willing to go far outside the law to advance the political agenda of some faction or other, or so his father had once solemnly explained to him in the secrecy of his family office.</p>

<p>Voldemort had been a Dark Lord — as had Grindelwald, while he’d been active in Magical Britain.</p>

<p>Other nations had adopted the terminology, but mostly lacked the history and tradition. In most places, it simply meant ‘strong man,’ or ‘warlord.’ Only in Magical Britain did the title come with any kind of legitimacy — perversely, given what lords of lords usually ended up like.</p>

<p>“Look at how strong we are, Draco,” Lovegood whispered.</p>

<p>Draco shivered. He could indeed feel incredible power radiating from Lovegood. How had he never noticed it before?</p>

<p>“Look at what Alex, Ginny, Hermione, and even I, are able to achieve. Remember how strong you felt when you summoned that basilisk? Remember the power flowing through you? That could be you. That kind of power.” Lovegood leaned in closer. “You must only submit to my lord’s will.”</p>

<p>Draco stepped backwards. “I—I must go!” He ran.</p>

<p>He wasn’t running away, oh no. He wasn’t being a coward, absolutely not. He was merely engaged in a strategic withdrawal, heading for higher ground, rallying his allies, and seeking advice from knowledgeable sources. In other words, he was going to make sure his father heard about this.</p>

<p>It was that or stay near Lovegood for even a single second longer. Good luck to Lord Slytherin, he thought. He thought he’d known crazy with Black, but Lovegood mirrored her and turned it up to eleven. Even a man as formidable as he would need every drop of it to deal with a witch like that.</p>

<p>Back on the beach, Luna watched as Draco Malfoy retreated up the garden path, a small smile on her face, before turning around and humming her way along the beach, hands stretched out on either side.</p>

<p>“Ninety-eight phantoms of fear in the brig~ Ninety-eight phantoms of fear~ A prisoner escapes and another gives chase, ninety-seven phantoms of fear~”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“Hah! I see your pair of staves and raise you four good wands.” Lord Davis smacked his cards down on the table and returned his hand to his cane.</p>

<p>Lord Slughorn grunted. “Don’t look too happy. The boy still has to show his hand.”</p>

<p>“Bah! Harry’s bluffing. I know that look.” Lord Davis winked at Harry. “You can’t fool this old politician, kid.”</p>

<p>Harry smiled faintly. He then leaned forward and laid out a magical flush.</p>

<p>The crowd surrounding the poker table broke out into polite applause.</p>

<p>“Oh, I say.”</p>

<p>“Well done, boy.”</p>

<p>Lord Davis looked pole-axed.</p>

<p>Lord Slughorn grunted again. “You should have tried using legilimency, Davis. Then you’d have known he wasn’t playing games.”</p>

<p>“You used legilimency to beat a child at poker!?” exclaimed one of the bystanders.</p>

<p>Slughorn twisted in his chair. “If the boy couldn’t defend himself from something like that, he has no business among us.”</p>

<p>Harry pulled the small pile of chips towards himself. “Quite right, Lord Slughorn. Birthrights and opportunity can only take you so far. When the bagpipes sound, it is the sum of your preparation and skill that cuts out the winners from the losers.”</p>

<p>One of the ladies giggled behind her fan. “Oh, my. Precocious, isn’t he?”</p>

<p>“But, Harry,” said another, “what about those who work just as hard, but do not have the same opportunities?”</p>

<p>Harry smiled. “Many of us in the Gray have businesses that rely on skilled wizards. Surely it is in our best interests to grant those opportunities, where appropriate.”</p>

<p>“Aye,” said Lord Ogden. “I fully agree there. Getting qualified wands is so difficult these days.”</p>

<p>“But meritocratic extremism is also dangerous.” Lord Davis said with a waving of a finger. “You may not know this, kid, but Light Lord Dimwiddy was famous for promoting based on merit — and look how many noble families he wiped out.”</p>

<p>Harry nodded. “And Dimwiddy built one of the largest magical empires the world has ever seen in only five years — something that would have been impossible without generals like Clementine and Adams, and neither of them was noble. Obviously meritocracy has to be managed, but to deny its efficacy is also dangerous.”</p>

<p>“Hear, hear.” Lord Ogden raised his glass of brandy.</p>

<p>“What I want to know,” said Lord Slughorn, gazing at Harry over steepled fingers, “is how you managed to swipe the heirship away from your brother.”</p>

<p>“Walter!” gasped one of the witches.</p>

<p>“I think it’s a perfectly valid question,” Slughorn continued, not breaking eye contact. “If Slytherin wants to make him his effective heir presumptive, then we have a right to know how likely the power of the Albion might come crashing down on us.”</p>

<p>Harry shrugged. “There are many secrets hidden among the families that could bring great trouble to the world if they came to light,” he said. “But the will of the Albion has never descended on any family because of the actions of another. Your personal interests are perfectly safe, Lord Slughorn.” Harry looked away. “Besides, my current position is as much a matter of Fated accident as of purposeful machinations. I am confident the Albion will not judge unfavourably, given the circumstances.”</p>

<p>“Mmmmm…” Slughorn didn’t look convinced.</p>

<p>Harry felt a hand on his shoulder. “Having a good time, Harry?” asked a deep voice.</p>

<p>It was Daphne, or, more usefully, it was Lord Slytherin.</p>

<p>Harry smiled. “I think I have won enough to pay for dinner.”</p>

<p>There was a chorus of polite laughter.</p>

<p>“The lad is quite something, Slytherin,” said Lord Ogden. “You should have introduced him to us earlier. But won’t Lord Potter make a fuss?”</p>

<p>“I dare say he will,” Daphne rumbled.</p>

<p>“I would have liked to see him here,” Lord Davis chuckled. “James Potter was one of the best magical poker players Hogwarts ever saw.”</p>

<p>“Unfortunately…” Daphne gestured to Harry who stood up. “That might very well happen if we do not make haste. While I have no issue dealing with an irate Lord Potter, I have matters to take care of before the ritual. Listening to his protests would get in the way.”</p>

<p>The assembled lords and ladies chuckled again.</p>

<p>Harry and Lord Slytherin apparated out.</p>

<p>When a furious Lord Potter finally arrived, it was to find many of his fellow lords filing out of the door that he’d been tipped off to containing Harry. Many were giving him infuriatingly cheerful looks, and when he finally manoeuvred his way past them and into the empty room, it was to find it, well, empty.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Determined, Draco strode into the main ballroom and took up position several mingling groups away from his father. Lord Malfoy was currently in whispered discussion with his sister. Draco still wasn’t sure exactly what Virgo’s deal was, but she certainly seemed to have his father’s ear. A flash of jealousy spiked through him before he shook it away. He had more important plimpies to pickle.</p>

<p>“What’s wrong, Draco?” asked his mother’s voice.</p>

<p>Draco turned.</p>

<p>Lady Malfoy was still wearing her mask. Some of the guests had started strategically ditching theirs as the night wore on, but most still wore theirs.</p>

<p>“I just need to speak with father,” Draco said.</p>

<p>His mother sighed. “I know that look. How bad is it?”</p>

<p>“Bad.”</p>

<p>“Did you upset someone important?”</p>

<p>Draco shook his head.</p>

<p>“Did someone catch you doing something you shouldn’t have been?”</p>

<p>Draco shook his head again.</p>

<p>“Worse?”</p>

<p>Draco nodded.</p>

<p>“Go on then. Tell your mother. Maybe she will be able to advise you.”</p>

<p>“I pledged my allegiance to Alexandra Black.”</p>

<p>“Oh,” Narcissa’s whole body relaxed. “That’s not so—”</p>

<p>“—It turns out Alexandra Black is a Gray spy.”</p>

<p>His mother stilled. The next thing he knew, she’d firmly grabbed his arm, causing him to yelp, and dragged him out of the nearest door, much to the general interest of lookers-on.</p>

<p>Now in the long curved corridor surrounding the ballroom, she whipped off her half-Slytherin mask, bent down, and looked him straight in the eye. “Are you sure, Draco?” Her face was deadly serious. “How do you know?”</p>

<p>“Lord Slytherin showed up almost immediately after. We had a discussion.”</p>

<p>Narcissa cursed under her breath. She straightened up and looked away, her expression fierce. “This is not good. We had high hopes for Miss Black.” She looked back at him. “But this does not have to be a catastrophe. No doubt the Gray intend to sway you to their cause over the next five years, but that can easily work two ways. You are my son and heir to the Noble House of Malfoy. You will not be so easily won by those children. And now that Alexandra has shown her true colours, the children of our allies can work together to marginalise her influence.”</p>

<p>“Ummm….” Draco felt that sick dread threaten to overwhelm him again, but he got it under control with several long, deep breaths and a focusing of his occlumency. “That may not work, Mother.”</p>

<p>“Why not?”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>Lord Malfoy watched his daughter sweep elegantly away, the very model of pre-teen, pureblood witch. Unless one knew the full story, it would be impossible to tell that Virgo was in fact, neither pre-teen, nor pureblood, nor even a witch… sort of.</p>

<p>He surreptitiously waved his wand over the glass of red wine a house elf had just handed him and took a sip.</p>

<p>She had certainly come a long way in a short time — as to be expected of someone who would go on to become one of the most feared Dark Lords Magical Britain had ever seen.</p>

<p>Very interesting that the teenage Lord Voldemort now wished to pursue a far more traditionally feminine power strategy. He’d have never suspected when they started this little project that the mind could become a slave to the body so quickly.</p>

<p>In many ways, he was relieved. Having Virgo betrothed would be close to ideal.</p>

<p>He hadn’t been looking forward to the questions over the next few years about why he wasn’t accepting offers for his daughter’s hand. It would have been odd — out of place — suspicious. Not damning in and of itself, but little things could easily add up in the minds of people. The last thing he needed was for it to be suspected she was blood-adopted. A bastard he’d sired from an extramarital affair with a long-lost Gaunt was far more preferable in that regard.</p>

<p>And to have his daughter — his Dark Trojan horse — betrothed to John Potter? Lord Malfoy allowed himself a tiny smirk. That would be quite a coup. Now he just had to figure out how to pull it off while extracting from Lord Potter every last possible knut.</p>

<p>At that moment, he spotted his wife surreptitiously flagging him down across the hall. “I’m so sorry, Whittle,” he said to a business associate, who chose that instant to sidle up. “But I’ve just noticed my wife wishes a word with me.”</p>

<p>Interestingly, Narcissa didn’t only lead him outside the ballroom, but insisted they also retreat to one of the many smaller rooms that Slytherin had set aside for all the many private meetings that inevitably took place during any large-scale gathering of wizarding aristocracy.</p>

<p>“Draco?” Lord Malfoy raised an eyebrow. His son stood in the middle of the room, looking oddly determined. He turned to his wife. “What’s this about?”</p>

<p>“Draco here has something to tell you, dear.” Narcissa then sat down in a nearby high-back chair and crossed her arms.</p>

<p>Lucius sighed inside. Draco getting himself into noteworthy situations was becoming increasingly common. He still vividly recalled his own reaction to his son being part-responsible for the death of Magical Britain’s acromantula patriarch, the renegotiating of a decades-old treaty, and the brief uniting of all Wizengamot factions in rushing through legislation banning him from basilisk summoning exploration.</p>

<p>“What is it, Draco?” he asked.</p>

<p>“I have pledged myself to the service of Alexandra Black for the duration of my time at Hogwarts.”</p>

<p>Oh. But that couldn’t be all…</p>

<p>“I then found out that Alexandra is a Gray spy and that Lord Slytherin placed her at Hogwarts specifically to usurp my leadership of the Dark.”</p>

<p>Damn. That was going to be politically annoying to deal with. He’d have to keep a closer eye on his son from now on. No doubt many other lords would panic, if they were in this kind of situation, and do something stupid like waste a huge amount of political capital trying to get their heir out of their oath. But he hadn’t been Lord Voldemort’s right hand for nothing. Slytherin would only have minimal personal interaction with Draco while at Hogwarts and, with good coaching, the Gray children could be worked around. It wasn’t something that their family couldn’t handle and might even give Draco good experience in dealing with more nuanced political situations.</p>

<p>He opened his mouth to say as much.</p>

<p>“Theo, Pansy, Vincent, Greg, Hestia, and Flora have also pledged themselves.”</p>

<p>Lord Malfoy firmly shut his mouth. He closed his eyes, willed his strongest occlumency barriers into being, and silently began counting to ten.</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>“I must admit, the boy is quite something,” said Lady Hodgekin.</p>

<p>Daphne nodded.</p>

<p>“Finding him must have been like finding an uncut diamond in a cauldron of congealed potion sludge,” the woman continued. Her husband ran Magical Britain’s only waste disposal service for things that couldn’t simply be vanished, which was actually most things.</p>

<p>Daphne nodded, again. “Indeed,” she rumbled. “I am very proud of him.”</p>

<p>“But, Lord Slytherin,” said Mrs Fudge. “Isn’t naming this boy as your effective heir to the Gray leadership a dangerous move? What about your own children? Adoptive heirs are exactly the reason blood adoption was made illegal. And aren’t you afraid of retaliation from the Potters?”</p>

<p>Daphne shrugged. “I’m sure my children will be able to make something of themselves without hanging off my robe-cuffs. And grooming a successor to a political faction is very different from raising an heir for a family. But if you will excuse me, ladies, I am going to go prepare for the ritual—”</p>

<p>Daphne made to turn to leave, before spotting who was walking towards her with a very purposeful gait. “Ah.”</p>

<p>Both Lady Hodgekin and Mrs Fudge raised eyebrows as Lord Malfoy strode over.</p>

<p>“Slytherin, a word, if you will.” His voice was terse.</p>

<p>Oh dear, Daphne thought. She remained silent an appropriately disrespectful amount of time, given his tone, before nodding once and leading them off to an empty room on the second floor, but not before buzzing Harry on her ring.</p>

<p>The moment the door was closed, Lord Malfoy rounded on her. “If you think I will be manipulated like this, Slytherin, then you are wrong.”</p>

<p>On Daphne’s forehead, a bead of sweat formed and ran down her face, but she kept her voice steady. “I really don’t know what you mean. You know I am always looking for talent to nurture. Draco, Pansy, and the others have been quite impressive. I merely wish to contribute to their education.”</p>

<p>“I do not believe that for a second. What will it take to buy you out?”</p>

<p>“Buy me out? I hope you recall that it is not to me that your son has pledged himself.”</p>

<p>“Don’t give me that! Name a price — gold, artefacts, magic, but!” He drew himself to his full height. “Understand this, Slytherin — if it is your full version of the Muggle Protection Act you wish to push through, then absolutely not. Selling out the entire Dark to correct the mistake of a handful of their children is not something I could ever countenance.”</p>

<p>Daphne’s heart was pounding, but at that moment, from the corner of the room, Harry’s hand appeared from nothing and gave her a thumbs-up.</p>

<p>Her body relaxed a tad. “That’s a shame,” she replied. “Then I don’t see what else could be done. I don’t feel I have any need for gold right now. But worry not, Lord Malfoy. I assure you that Heiress Black will make an excellent leader for your son. I believe she is already planning to increase his focus on his practical education and physical fitness.”</p>

<p>She held her breath while Lord Malfoy studied her. She could feel the tension wanting to pool a stunner in her fingers. She had to magically hold it back.</p>

<p>“This is not over, Slytherin,” he eventually said before turning around and sweeping out of the room.</p>

<p>In the darkest corner of the room, Harry dropped the cloak over his shoulders so that just his head showed. “I’m counting on it, Lucius.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>James Potter was getting desperate.</p>

<p>More and more people were learning the secret. He could feel the stares, the snickers. Wizarding aristocracy gossiped like old maids and right now, the gossip was clearly on one topic — the heirship of the Ancient and Noble House of Potter.</p>

<p>Harry had broken a family secret. He’d felt it. Harry knew it. Everyone knew it.</p>

<p>If he could get Harry back to Potter Manor, his role as Harry’s lord would give him far more legal leverage than before. Breaking family secrets was one of the misdeeds lords could try those under their power for in their own manorial courts. But would that even be possible? Qui tenet teneat, qui dolet doleat.</p>

<p>Harry was here, he knew he was. If he couldn’t find him before the night was over, would Harry even return to Potter Manor? Lily was waiting by the floo, just in case Harry decided to make a break for it that way, John reluctantly by her side. As soon as they found Harry, they were leaving.</p>

<p>He spotted another of his quarries coming out of the washroom while walking around the ballroom corridor ring for what felt like the hundredth time. “Headmaster!”</p>

<p>Lockhart turned around and, with a roguish grin that made James want to hex the man, said, “Ah, Lord Potter, dear chap. What can I do you for?”</p>

<p>“I want to inform you that Harry will not be returning to Hogwarts.”</p>

<p>Lockhart looked surprised. “Really? Why ever so? Hogwarts is the best school in the world. Everyone knows that.”</p>

<p>“Nothing against Hogwarts — this is for family reasons. Tomorrow I will be talking to the headmasters of Durmstrung and Beauxbatons to enquire about transfer places. I expect all the parchment-work to be ready when they come flooing.”</p>

<p>Lockhart sighed. “Of course, my Lord.”</p>

<p>“Good.” James turned around again and walked off, and got no further than just out of sight of the headmaster before another wizard he wanted to speak to, closed a door to the ballroom behind him with a sigh.</p>

<p>“Padfoot!”</p>

<p>Lord Black’s eyes lit up. “Prongs! Thank Merlin, you have to save me! I thought I could handle everyone secretly thinking I was Dark, but now everyone thinks I’m secretly Slytherin’s right-hand man! Well, a few people anyway — two at least. Parkinson was furious, and I’m glad I’m an auror, because Nott looked like he wanted to curse me right there and then, but—”</p>

<p>“Padfoot! I need you to arrest Slytherin!”</p>

<p>Sirius stopped in mid-rant. “Say wha…?”</p>

<p>“He’s going to kidnap Harry! I’ve been trying to find him for an hour now, but he always slips me by and if I don’t find him by the end of tonight—”</p>

<p>“Whoa, whoa! Prongs! Back up a bit, will you?”</p>

<p>James quickly explained the situation to a rapidly worried-looking Lord Black.</p>

<p>“Ah,” Sirius said after he was done. “I do see your problem, but…” He shifted uneasily.</p>

<p>“But what?! Kidnap is illegal! Slytherin pretty much admitted he would help Harry run away from home. That counts! I know it does, Padfoot. I know the law.”</p>

<p>“Yes, but… there is a precedent for this. An heir who ran away from home was granted asylum by another noble house and the court ruled it legal.”</p>

<p>James Potter exploded. “Your situation was different! The court only ruled in your favour because you had ‘justifiable cause’ and were ‘in fear for your life!’”</p>

<p>Sirius looked away. “Prongs, mate, look, I know that you wouldn’t ever do anything like that, but, well, you have to see how it looks. Is it true that Harry is the Potter heir?”</p>

<p>“Only until I fix that!”</p>

<p>Sirius winced. “Yeah, see, that’s exactly the kind of thing you shouldn’t have just said.”</p>

<p>James looked horrified. “That’s not what I—”</p>

<p>“—Prongs! I know it isn’t what you meant. But that’s besides the point. Harry wasn’t raised your heir. He was raised by muggles for his entire childhood. And then suddenly he’s back in the Wizarding World and you still didn’t talk to him for his whole first year of Hogwarts. Then, suddenly, somehow, Harry is now the heir, possibly under very dodgy circumstances, and the moment that happens, Harry wants to run away from home.”</p>

<p>“He’s only running away because he broke a family secret.” James’ voice turned pleading. “Look, Sirius, you <em>have</em> to help me. If I can’t pull Harry out of Hogwarts, then he’s going to be stuck in there with all those Gray children for the next five years. Think about what kind of horrible influence they’ll be.”</p>

<p>Sirius’ expression cooled. “Alex is Gray.”</p>

<p>Huh?</p>

<p>James’ mind, so quickly and rapidly powering through the long grass of panic, stepped on a molehill and tripped right into the dirt. “I didn’t mean Alex, obviously.” His brow furrowed. “Alex is Gray?”</p>

<p>“Yeah. You remember I told you that Harry said I shouldn’t worry about Alex hanging out with the Dark kids? Turns out it was all a plot. She just got a bunch of Dark heirs to pledge to her and then revealed her ‘true allegiance’.”</p>

<p>“And Slytherin orchestrated all this? Magical Merlin, it’s worse than I thought. Padfoot! We have to stop this!”</p>

<p>Sirius straightened up. “Prongs, I’m not going to try and arrest Slytherin. If you want my advice, take this to court, but argue that Slytherin has a vested interest in keeping Harry away from your family and argue that if asylum should be granted, then it should be a different family that does it.”</p>

<p>“I can’t do that!”</p>

<p>“Then I can’t help you. I’m sorry, Prongs.”</p>

<p>Not long after, the entire ballroom was treated to the unusual sight of Lord Potter storming straight through the dancers towards the floo. “We’re leaving!” he shouted.</p>

<p>John Potter looked shocked, “What? But what about—”</p>

<p>“No buts, John. We’re off!”</p>

<p>Lord Potter grabbed John’s wrist, motioned Lady Potter in front of him, and stepped into the floo.</p>

<p>From not far away, someone shouted something. The voice was young, female, and full of panic. “Accio John Potter!”</p>

<p>Lord Potter’s grip slipped on John’s wrist, just as the green flames engulfed him and he was whisked away through the floo.</p>

<p>John Potter fell on his back and shot towards the spell-caster along the marble floor, eventually coming to rest at her feet. It was Virgo.</p>

<p>“Magical Merlin,” she gasped. “That was too close. Can’t have you missing the Stella Benedictio.”</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The path to the bottom of the hill glowed with the light of a hundred curtsying fairies. A wizarding lord cast a warming charm on his tired wife, who smiled and readjusted the scarf around her neck. A pair of young heirs walked a slurring third, gently slung between them by his shoulders. The general slow press of wizardry was out of the manor and down.</p>

<p>And at the bottom of the hill, hidden by a grove of trees off the main path, stood a circle of eight-foot-tall rune stones, surrounded all the way by a simple wooden bench.</p>

<p>Back up at the manor, Alexandra Black confidently strode through the entranceway towards the front doors.</p>

<p>“Heiress Black?” The voice was as smooth as silk.</p>

<p>Alex started and found herself staring mask-to-mask with a familiar masked wizard with long, blond hair and a silver-snake-head topped cane. “Lord Malfoy, what a pleasure and a surprise.”</p>

<p>Lord Malfoy tipped his mask. “I wish I could say that the pleasure was mine as well. The surprise, however, I will grant you. You have been most surprising tonight, Alexandra Patricia Black. I know we must both make haste for the ritual, so I will keep this brief.” Lord Malfoy took off his mask and fixed Alex with his piercing gaze. His voice took on a hint of steel. “Lead my son badly, and I will take steps to ensure he is no longer your concern, permanently.” He then reaffixed his mask and turned away.</p>

<p>Alexandra stared after the leader of the Dark as he swept through the door and out into the black of night.</p>

<p>Damn. Alexandra bit her lip. She really needed to learn how to make an exit like that!</p>

<p style="text-align: center">— DPaSW: NRiCaD —</p>

<p>The moon waxed crescent. The stars twinkled like the eyes of an old man settling into the twilight of his years.</p>

<p>The guests filled the wooden benches around the stone circle almost completely. A violinist was playing Jonathan Glen’s <em>Sleep of the Thestrals</em>.</p>

<p>Astoria, sitting next to her mother and cleared of ‘sickness’ by Saint Mungo’s, pouted. “But why can’t I do it? I’ve practised.”</p>

<p>“Because we weren’t sure if Alexandra would be able to, but she can, and that’s who Lord Slytherin believes should.”</p>

<p>“That’s not fair!”</p>

<p>On the far side of the circle, Draco Malfoy watched grimly as the three witches in the centre of the circle were eventually joined by a fourth.</p>

<p>In another part of the circle, John sat with his arms crossed while Susan nibbled on peanuts and Virgo scanned the many faces of the crowd as though mentally taking names.</p>

<p>Sirius Black watched nervously as Alex disappeared behind the tall white curtain that had been set up in the centre of the stones. “Don’t worry,” said a familiar voice behind him. Slytherin climbed over the bench to sit beside him. “Harry will keep her out of too much trouble.”</p>

<p>Sirius grunted. “And will Harry be staying here?”</p>

<p>“So long as he wishes it, I will grant him asylum. I did not want things to turn out this way, I assure you.”</p>

<p>“And yet you have somehow usurped John’s right to the Potter heirship.”</p>

<p>Slytherin turned towards him. “No, Lord Black. That was not me.”</p>

<p>The violin solo hit a particularly slow and deep moment.</p>

<p>Three-dozen fairies flittered over the heads of the crowd carrying tiny flaming torches. They flew past the stones and down into the circle of white cotton. For a fraction of a moment, four silhouettes became visible. Then, as the fairies flew about hither and thither, the shadows morphed into abstract shapes, chasing each other across the curved canvas. The violin solo died.</p>

<p>And the chanting started.</p>

<p>First one girl, then another, then another — melodic voices filled the nighttime air. It started slowly, at first barely a whisper, but picking up tempo. Then, at an unspoken command, the first girl moved. A shape flashed across the screen. Then, as with the chanting, the second soon followed. And then the third. And then the fourth.</p>

<p>Magic started to pool around the circle. Minutes passed in a trance-like state. The tension in the air tightened. Then, when the circle felt so saturated in magic, even the most insensitive could practically taste it, the chanting raised in pitch.</p>

<p>Every witch and wizard felt the hairs on the backs of their necks stand on end.</p>

<p>A shimmer of green and blue light weaved up from the ground — a miniature aurora borealis, leaping and jumping to the rhythm of the chanting and the bounce of the dance. It cleared the top of the surrounding trees and shot up into the starry sky.</p>

<p>The chanting died.</p>

<p>The dancing stopped.</p>

<p>The figures behind the curtain fell to the ground.</p>

<p>And the stars began to vibrate.</p>

<p>At first slowly, but rapidly increasing in pace, they moved — up and down, back and forth, swirling around the sky like water down a drain, before settling into a twinkling constellation of a serpent swallowing its own tail.</p>

<p>Every witch and wizard present felt it — the slight increase in luck granted by the ritual, settling on them like pixie dust.</p>

<p>As the party disbanded, some commented that they wished the luck of the magic lasted as long as the iconography Lord Slytherin had chosen symbolised. Others voiced their puzzlement of why the localised starry-sky reverted back to the normal night-sky afterwards, as the ritual effects were supposed to last the whole year. But most were simply happy to walk or stumble back to the manor, and to the warmth of the floo journey back home. It was generally agreed by most that it had been a good party, and that they would definitely be adding Lord Slytherin’s Gala Night to their calendars for next year.</p>

<p>But above all, wizarding aristocracy now saw Lord Slytherin as one of them — a firmly established part of their world — a known quantity — someone they could deal with — reliable and predictable, if slightly eccentric.</p>

<p>If only they knew what even the next few months would bring.</p>

<p style="text-align: center;">— End of Chapter Fifty-five —</p>

