Chapter 56 - Interlude - Nothing Like a Free Press

<p>Diagon Alley, London. All over the Wizarding World, it is known for its high-class shopping — a place where modern retail establishments, selling magical sweatshop products from all over the world, rub shoulders with old-school-style workshops, crafting one-of-a-kind artefacts on commission for the more discerning customer. The windows are a riot of colours and interest. Many thousands of visitors from every corner of the globe walk down the street every year, eyes sliding from one window to another, almost as if magically drawn.</p>
<p>Very few of those shoppers regularly look up.</p>
<p>Diagon Alley is more than just one or two storeys.</p>
<p>Above the crazy wizz-bang commercialisation of a thriving magical shopping district, many of the buildings support a host of other purposes — lawyers’ offices, bed and breakfasts, travel agents, and many other minor services that help the world go round.</p>
<p>If the shoppers below did look up, they’d see signs proclaiming the third floor of Olivander’s wand shop to host a watch-maker.</p>
<p>If they looked up above Flourish and Blotts, they’d find Magical Britain’s only art studio.</p>
<p>Such singularity of purpose was not always so.</p>
<p>What had started out hundreds of years ago as a nice apartment for the blacksmith’s family to live in, had, over the natural course of economic pressure, been subdivided, rented-out, space-expanded, and sub-divided again, and again, on so many occasions, that the ministry ended up banning further development, after the humble hag of the time failed to cast a basic lumos spell near a particularly densely charmed area, and was embarrassingly mistaken for a squib.</p>
<p>Those truly labyrinthine upper-floors were then carefully dismantled, but there do still exist a few hold-outs from the days before ministry-controlled space-expansion permissions.</p>
<p>For example, if the shoppers of Diagon Alley looked up just outside a magical greengrocer’s, just a few doors down from a rather nice café (which does, in fact, happen to also serve pudding) they would find not only the headquarters of the Quibbler, but also Witch Weekly, The Practical Potioneer, Transfiguration Today, Top Broom, Challenges in Charming, many other scholarly and special interest publications. But most importantly, they would find the Daily Prophet — the overall most respected publication in the country, and the only one to have not just one full-time journalist on staff, in addition to the editor, but two.</p>
<p>In a corner of a small and cramped room with no paint on the wooden walls, Rita Skeeter sipped on a cup of tea like it owed her money. All around her, the sounds of a questionably free press rattled and slammed away through silencing charms not quite strong enough to keep them out.</p>
<p>“Don’t worry, Luv,” said Bozo, lounging against the desk. “Something’ll turn up.”</p>
<p>“Worried?” Rita snapped. “I’m not worried.”</p>
<p>Bozo carelessly flicked a cigarette into an already overflowing ashtray. “If you say so, Luv.”</p>
<p>“And it’s not as though <em>you’ve</em> found anything,” Rita continued. “A good Slytherin story would do us wonders, but no, we can’t even run the Black girl’s scoop.” She folded her arms and glared at nothing. “Such delicate matters will be handled in private, my dear,” she muttered.</p>
<p>“There’s always the Muggle Protection Act that’s coming up. That’ll be a right to do. All the lords and higher-ups swanning about. Plenty of opportunity to sniff something juicy out.”</p>
<p>“We’d have no doubt gotten something juicy if we’d managed to sneak into Slytherin’s Gala!”</p>
<p>Bozo chuckled. “Don’t be daft, Luv. Slytherin’s not the kind to let a pair of animagi through his gates. <em>You</em> should know that. We don’t have to get a Slytherin story immediately. We’ve still got plenty of angles to play. I hear Crackpot Hall’s in trouble — Updike wants to pull his support. And he’s got Whittle’s scent all over him. Bad time to be in with the loan shark. Should have tried his luck with the green buggers up the street.” Bozo chuckled again.</p>
<p>There was the sound of footsteps from outside. It passed the door to their office and continued on towards the editor’s room.</p>
<p>Rita stuck her head around the door just in time to see the swish of lilac robes and hear a very distinctive voice loudly declare, “Barnabus! How excellent to see you again!”</p>
<p>She ducked her head back into the office. “What on Earth would Gilderoy be doing back here?”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>“A Quick-Quotes Quill?” Barnabus Cuffe asked, peering at the headmaster over thick-rimmed spectacles and a mountain of scrap paper. “Whatever do you want one of those for? Isn’t Hogwarts taking up enough of your time? You can’t use it for parchment-work, you know.”</p>
<p>“No, no, no,” Lockhart beamed. “Just a small project I’m undertaking for a dear old friend. Asked me to help him co-author his biography. Needs a little flair though, so I’m going around collecting interviews. Gives everything a more authoritative bent.”</p>
<p>“Biography, eh?” Barnabus leaned forward. “Anyone important? Anyone I should know about?”</p>
<p>Lockhart waved dismissively. “Oh no, no. Just a traveller I know from the old days looking for a sufficiently impressive tome for his bookshelf. Might sell one to his old mum, perhaps.”</p>
<p>“Mmm… yes, that is quite a common thing for people to do. Still, a Quick-Quotes Quill isn’t something I can hand out to just anyone, Headmaster. It is sort of divination magic, after all. <em>Highly</em> regulated. And a Cuffe family artefact. The only reason it’s not banned is you’d have to kill us all first. You don’t want to know how much trouble I’d be in if—”</p>
<p>A large sheet of dense script parchment slapped itself down in front of him.</p>
<p>“By Jove!” Barnabus’ spectacles dropped off his nose. He quickly replaced them and scanned the document. “You really got authorisation from the minister? He’s tighter than a skint pureblood witch on honeymoon.”</p>
<p>“Being headmaster of Hogwarts does come with certain perks when procuring these kinds of permissions.”</p>
<p>Unseen by either Lockhart or the editor, a small and beautiful jewelled beetle crawled in through a crack in the window.</p>
<p>“I’ll say,” Barnabus agreed. His eyes widened slightly when he read the authorised remuneration he’d be allowed to charge his customer. “Righto! Step this way, Headmaster. Here, let me take your cloak. No, don’t bother sitting down, you’ll want to be standing for this.” He walked to the back of the office, flourished his wand, and tapped a wall panel. It slid back to reveal five beautiful feather quills, all from birds any muggle ornithologist would rip his hair out trying to identify.</p>
<p>“Magnificent!” Lockhart gushed.</p>
<p>“Yes, well. Very nice, certainly. Look here.” Barnabus selected the one on the end—a particularly striking acid-green—and ruffled it. “The Quick-Quotes Quill,” he announced. “A lot of rumours around about these, so here’s the truth — straight from the thestral’s mouth. A Quick-Quotes Quill isn’t just a dictation machine, oh no. Some say it exaggerates the truth, but that’s not quite right either. It pulls information from the aether. Just like how a pensieve memory isn’t just what the eye sees — neither is the Quick-Quotes Quill. With this quill, you can pan for secrets, like panning for gold. But it comes with a danger.”</p>
<p>“Can’t trust the little blighters,” Lockhart chuckled. “Just like pensieve memories.”</p>
<p>Barnabus pouted slightly. “Quite. I see you’ve done your homework. But do you know about the rules?”</p>
<p>“Rules?”</p>
<p>“Different family artefacts have different rules, you know. Some can only be made by the family, some will only <em>work</em> for the family. Some manifest only every second generation. Others are matrilineal. All kinds of wacky stuff.” He opened his hand as if encouraging Lockhart to take its contents. “The Cuffe Quick-Quotes Quill can be used by anyone, but!—” He snatched his hand shut just as Lockhart’s hand was about to close on the feather. “With a time limit.”</p>
<p>“What time limit?” Lockhart asked, brow furrowed.</p>
<p>“Twenty-four hours.”</p>
<p>“You mean I’ve got to come back for a new quill every day?!”</p>
<p>“Not a new quill, Headmaster. You just need me to give you back the quill you just took. That’s all.”</p>
<p>“Still… that puts a serious cramp on a man’s style.”</p>
<p>“That’s magic, Headmaster.”</p>
<p>A little while later, back in the reporters’ office, Rita turned back into a witch, while, by the door, a cocker spaniel, which had been sniffing around the corridor, turned back into Bozo.</p>
<p>Rita was practically drooling. “I want that quill.”</p>
<p>“Good luck,” Bozo drawled. “Family magic artefact? Your best bet is to marry the man.”</p>
<p>“Eww. No thanks,” she snapped. “I’d rather marry <em>you</em>.”</p>
<p>“Love you too, Luv.”</p>
<p>“But seriously, a quill that can write all your articles for you, properly, and can pull secrets from the winds of magic themselves? Uh, I’m wet just thinking about it.”</p>
<p>“Don’t go dry before you next need my help.”</p>
<p>“Fuck you.”</p>
<p>“With pleasure, but not now.” He leaned against the wall. “Do you want to hear who our friend Lockhart was just visiting before he arrived?”</p>
<p>“You smelled it?”</p>
<p>Bozo tapped his nose. “Smelled it loud and clear. And it’s a doozy. It was Lord Jacob Greengrass.”</p>
<p>“Greengrass? What does Gilderoy want with Greengrass? Come to that, what does Gilderoy want with a Quick-Quotes Quill? He’s not a reporter.”</p>
<p>“Something interesting to find out, maybe?” Bozo waggled his eyebrows.</p>
<p>There was a pause before Rita reached for her outdoors cloak. “Let’s follow him.”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>Gilderoy Lockhart was not a fraud. Oh, many had accused him of it over the years. There had been that unfortunate business with the memory charms in Bolivia. But in general, most of the smears and character assassination attempts were rooted in jealousy.</p>
<p>He’d been places. He’d done things.</p>
<p>True, most of the places he’d been were strategically chosen for their fearsome reputation from events that had happened at least thirty years ago, and when he’d done things, it was always with skilled wizards capable of extracting him from just about any trouble they’d be likely to face. He wasn’t stupid.</p>
<p>That didn’t change the fact that his books were written from real-life adventures far richer than most people were likely to experience even once.</p>
<p>Right now, he felt very much like he was on one of those adventures.</p>
<p>Except he was in Magical Britain — tea drinking, formal bowing, mind your Ps and Qs, please, Magical Britain — with no guides, no local heroes guarding him, and no ready portkey out of there.</p>
<p>Lord Slytherin was a boy not yet even a teenager.</p>
<p>Which would have been hilariously amusing, if not for…</p>
<p>Lockhart shuddered.</p>
<p>And now he had a job to do. Be useful. That was always the key when dealing with the lords and ladies.</p>
<p>The patchwork corridors of Madam Goose’s Home for the Magically Gifted were filled with artwork from the students — low-tier animation magics bringing the occasional piece to life before it stuttered into stillness again. The students were all outside at this time of day — the sounds of play muffled through the leather walls. Gilderoy turned a corner, stopped in front of one of the doors, knocked, waited for the answer, and let himself in.</p>
<p>“Good afternoon, Madam Goose! I hope your fine school is running well.”</p>
<p>The current Madam Goose stumbled to her feet from her chair. “Headmaster, I wasn’t expecting you so soon.”</p>
<p>“Punctuality is the politeness of princes, my lady. So why not be extra polite and turn up ten minutes early?” He flashed her his roguish grin.</p>
<p>“Um, yes, I suppose that’s fine.” Madam Goose started rustling through the papers. “What was it exactly that you wanted? Something to do with a book?”</p>
<p>“Yes, I’m helping Lord Slytherin write his biography, and I’m looking for some good sound bites I can use from people who know him.”</p>
<p>“Well, I wouldn’t exactly say I know him that well. We’ve talked about things once or twice.”</p>
<p>“Capital!” Lockhart summoned one of the office’s chairs and pulled out the Quick-Quotes Quill from his robes along with a piece of parchment. “Let’s get started then, shall we. Testing. Testing. This is Headmaster Gilderoy Lockhart, interviewing Madam Goose.”</p>
<p>The quill instantly started to write.</p>
<p><em>Gilderoy Lockhart — Order of Merlin, third class, honorary member of the Dark Force Defence League, five times winner of Witch Weekly’s most charming smile award, six times winner of the Daily Prophet’s annual best-sellers list, and current Headmaster of Hogwarts School of Witchcraft and Wizardry interviewing Rebecca Howeswell, the current Madam Goose of Madam Goose’s Home for the Magically Gifted.</em></p>
<p><em>It was a crisp January morning, but I wasn’t at all cold. To call the handsome Madam Goose’s office comfy would be an insult. Housed in a judgement-era magical boot, the walls are cushioned, the chairs induce relaxation, and the warm fire crackles away. One could conduct an orgy on the floor without so much as a—</em></p>
<p>“That’s enough of that, I think,” Lockhart chuckled, tearing the parchment off while Madam Goose’s cheeks reddened. “Tell me about your first meeting with Lord Slytherin.”</p>
<p>“Yes, of course. But you have to understand that his lordship is a very unique wizard and we’ve made many exceptions for him that we wouldn’t necessarily make for others.”</p>
<p>“I <em>completely</em> understand.” And, oh boy, did he ever, Lockhart thought. He probably understood far better than the witch herself did. “I will of course be discreet.”</p>
<p>“Good.” Madam Goose got herself settled in her own chair behind her desk, and looked off into the middle distance. “Lord Slytherin first approached me just after the summer solstice, some eighteen months ago. He was interested in non-traditional educational opportunities for wizards and witches who might need them. Very charming, he was. In his own way. He has this aura of power around him. And at first you’re nervous, like being a schoolgirl again, but you soon realise that he—”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>“So, is there an animagus ward?” Rita asked impatiently.</p>
<p>“Nah, Luv. Open as a maiden’s heart.”</p>
<p>“Good.” Without further words she turned into her jewelled beetle form and flittered through the basic wards around the Shoe. She wasn’t sure what Gilderoy was up to, but she sure smelled a scoop.</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p><em>With wistfulness in her voice, Madam Goose spoke of the many private meetings she and Lord Slytherin had shared together. A sigh passes the still-single witch’s lips as she recounts their last bittersweet parting.</em></p>
<p>“I’ve done nothing of the sort!” Madam Goose said in a flustered voice.</p>
<p>“Ignore the quill, my lady. Everyone knows Quick-Quotes Quills can’t be trusted… most of the time.” He winked at her. “Please tell me more about how Lord Slytherin handles this, ‘aura of power’ around him.”</p>
<p>“You’re really not going to publish anything about bittersweet sighs?”</p>
<p>“Heavens, no. Slytherin would have my head.”</p>
<p>“Well, okay then.” She settled down again. “It feels like he has this beast on a leash. It feels like standing on the edge of a lake at night and not knowing how deep the water is.”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>Heading for her goal, Rita bobbed and rode the breezes around Madam Goose’s Home for the Magically Gifted. Flying as a beetle was not like flying as a bird. The whims of the wind made it far more difficult. Even birds sometimes had to take a roundabout route to their destinations rather than ‘as the crow flies’. Attempting the same feat as a beetle could be like riding a hexed broomstick.</p>
<p>Still, she successfully bobbed and flittered her way across the school lawn, only pausing once to listen in on some random teenage drama.</p>
<p>As she reached the window she believed to be the headmistress’, she landed on the sill and found a gap to crawl through.</p>
<p>“His lordship has always expressed his admiration for our education system and what it can achieve, Headmaster,” came a female voice — Madam Goose’s, Rita realised.</p>
<p>“And how has Miss Cooper been getting on in classes?”</p>
<p>“Very well. Amazingly well, in fact. I suppose her maturity gives her an advantage, to be sure, but it’s still impressive how quickly she’s been picking things up, considering her background. Slytherin has even asked if she can be moved up a grade or two.”</p>
<p>“It sounds like Slytherin really cares about her.”</p>
<p>“I’ve no doubt. He’s been getting regular reports about her progress and if there’s ever a problem, he’s quick to respond.”</p>
<p>“Would you consider Miss Cooper’s situation as a case study for how education could be improved?”</p>
<p>Madam Goose frowned. “I don’t see how I could. Her situation is exceptional. But if Slytherin came to me with a proposal, I’d probably be open to suggestions.”</p>
<p>The interview continued on for quite a while after that, covering such things as Madam Goose’s attitude to schooling (traditional), some of the small changes she’d made to the Shoe’s curriculum over the years (new art and music programs as well as an exchange program with ‘The Box’ for seventh years with a strong interest in arithmancy), and where she still wanted to take the school in the future.</p>
<p>By the time Gilderoy was leaving, Rita had heard enough.</p>
<p>“I think Slytherin may be pushing for some kind of educational reform,” she told Bozo when she arrived back at the edge of the school. “This could be exactly the kind of story we want.”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>“Still thinking the headmaster’s interested in educational reform?” Bozo drawled as he and Rita concealed themselves behind a tree in a park.</p>
<p>Rita scowled. “What on Earth does Gilderoy want in some random muggle neighbourhood? There’s nothing of interest here.”</p>
<p>“Maybe,” Bozo replied. “Why don’t you go find out?”</p>
<p>“Why don’t you?” She shot back nastily.</p>
<p>Bozo pointed to a sign stuck in the grass showing a silhouette of a dog with a big red cross slashed through it.</p>
<p>“Oh, and you think that all the songbirds around here are a piece of cake to deal with, do you?” Rita spat. “You know what, fine. I don’t care.” She then turned into her beetle form and flittered away.</p>
<p>Bozo sniggered, waited until she was out of sight, then turned into his cocker spaniel form.</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>Vernon Dursley was sweating.</p>
<p>Next to him, Petunia’s hand trembled slightly as she served normal tea and biscuits, normally, in the most normal way she could imagine. The tea set was new — Royal Dolton’s finest — and it wasn’t the only thing. Their new car parked outside had been imported from Germany and the clothes they wore were made from Italian wools and cottons.</p>
<p>“You’ll have to forgive me if I do anything strange,” said the dandy freak sitting opposite, cheerfully. “I’ve travelled with muggles before and I know that sometimes we can do things that cause distress. I assure you I mean no harm. Hahahaha.”</p>
<p>“Ha-ha-ha,” said Vernon, gripping the sofa armrest tightly.</p>
<p>“W-what happened to the last headmaster?” Petunia asked. “I thought he’d been at <em>that school</em> since the war.”</p>
<p>“Dumbledore? Oh, he was given early retirement. Getting on a bit in years. Time for a new generation to mount their brooms. And naturally, they wanted the very best! Hahaha.”</p>
<p>Vernon wiped his brow. “And this, errr, book, thing, that you’re writing…”</p>
<p>“Just a few choice quotes about Harry. About his life growing up here. How you all got along together. That sort of thing.”</p>
<p>“And does… errr, does Harry know you’re asking?”</p>
<p>“Not specifically, but Lord Slytherin did say to go ahead and interview anyone I felt would help give the best impressions.”</p>
<p>Vernon caught Petunia’s eye.</p>
<p>In that one moment, the director of Grunnings might as well have been a mind reader — his wife’s thoughts were <em>that</em> easy to read in her eyes. He turned back to their, ‘guest.’ “I just want to make one thing quite clear,” he said.</p>
<p>“Yes?”</p>
<p>“Under no circumstances are our names, addresses, phone numbers, or any identifiable details to be published in this book you’re writing, understand?”</p>
<p>“Of course!”</p>
<p>“Right.” Vernon leaned back in his chair. He could already feel the bile rising in his throat as his vocal cords got ready to say what he was about to say. “Well, the first thing to understand is, we’ve always loved Harry…”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>What was this?</p>
<p>Rita buzzed through the perfectly manicured garden of number four Privet Drive, feeling slightly dizzy from the rich assortment of flowery smells assaulting her from every angle.</p>
<p>It was a muggle house — a quite well-off one, if her very limited knowledge of muggles was any judge—but, at the end of the day, just a muggle house.</p>
<p>She forced her way through the olfactory gauntlet and towards one of the many ground floor windows. Unfortunately, someone had been round with a tube of muggle plastic and sealed up all the usual cracks that might have normally granted her access. The same was true for the doors.</p>
<p>Damn it all. What was with these people? Did muggles think they were going to be poisoned by fresh air?</p>
<p>She flittered up to the chimney and looked speculatively down the hole. There wasn’t any smoke coming out of it, which was a plus, but on the negative side, who knew what kind of predator might lurk down in the shadows. Unused chimneys were notorious for spiders.</p>
<p>Rita metaphorically shrugged, given that her current form was rather lacking on shoulders. She’d dealt with worse situations in the past.</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>“And there was one time Harry came back from the hairdressers with all his hair already grown back, ha-ha-ha,” Vernon said. “And another time he and Dudders were playing hide-and-seek and he jumped clean onto the school roof, ha-ha-ha.” He was desperately trying to avoid looking at the floating quill and parchment scrawling rapidly at his every word.</p>
<p>“Yeeesssssss,” said the headmaster, eyes widening. Unlike Vernon and Petunia, he <em>was</em> looking at the parchment. Vernon couldn’t begin to imagine why the man’s face was starting to resemble bleached chalk. “I’m glad the lad’s had a well-adjusted upbringing.”</p>
<p>“Of course, it hasn’t all been fun and games,” Vernon said in what he hoped was a good-natured way. “He’s misbehaved occasionally. All boys do. I remember one time he came home with bad marks and we sent him to bed without supper. Might sound harsh, but you have to be cruel to be kind sometimes.”</p>
<p>The quill scribbled away madly.</p>
<p>“But when he disappeared, I won’t mince my words — we were right worried, weren’t we Pet?”</p>
<p>“Yes,” Petunia chimed in, primly. “Very worried.” She smiled and a slight shiver went down Vernon’s spine. “We of course let my sister know right away, but for <em>some</em> reason, she never bothered to respond.”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>Damn it all!</p>
<p>Rita, the jewelled beetle animagus, contorted herself against a thick strand of web.</p>
<p>No use. Spider silk was strong stuff, even if it wasn’t magical. She decided to give it up as a bad job and transformed. Her human form fell only a foot before she turned back into a beetle, but that only got her another few feet beyond that before she was snagged by yet another web.</p>
<p>Damn it all to hell! Didn’t muggles ever <em>use</em> their fireplaces?!</p>
<p>Wait.</p>
<p>Rita strained her ears, such as there was of them. She could faintly hear a pair of voices muffled through the brickwork.</p>
<p>“Always been a bright lad, Harry,” said a male voice she didn’t recognise. “I’m glad he’s finding his own place in the world with this ‘Lord Slytherin’ — even if he’s not a <em>real</em> lord. Oh, thank you, Pet.”</p>
<p><em>What was this?</em> Rita wondered. <em>Harry?</em></p>
<p>“Did you know that Harry won the duelling tournament at Hogwarts?” said a voice Rita instantly identified as Gilderoy’s.</p>
<p>“No, we never heard anything about that.”</p>
<p>“He defeated all seven of his opponents in succession. If it wasn’t for his brother, it would have been a record.”</p>
<p>Oh, they must be talking about Harry Potter! One of Slytherin’s protégées.</p>
<p>“A record, eh? It sounds like this Lord Slytherin has been teaching him well. I’m so proud.”</p>
<p>Was this the younger Potter’s muggle house? The muggles who raised him before everyone knew he wasn’t a squib?</p>
<p>“But that wasn’t all that happened at the tournament,” Gilderoy continued. “Someone attacked John during a duel with Harry and nearly killed him.”</p>
<p>“Oh, my,” said a new nasally female voice. “How dreadful. Did they catch them?”</p>
<p>“I’m afraid not.”</p>
<p>But why would Gilderoy be interviewing Lily Potter’s muggle relatives?</p>
<p>Lord Slytherin brought Harry under his wing and trained him to equal his brother, she mused. Educational reforms, she mused. Muggles and Harry Potter. Her eyes widened. That was it! Lord Slytherin was going to bring in muggleborn educational reforms! Harry Potter would make the perfect poster boy. A pureblood noble raised in a muggle household.</p>
<p>She metaphorically grinned from ear to ear.</p>
<p>Now all she had to do was wait until Gilderoy left and a few good compulsion charms would have the muggles spilling everything.</p>
<p>It was at that moment that she felt a tremble shoot through the web. Fear spiked through her whole body and she instinctively changed, just as a massive eight-legged horror lunged onto what was now her face.</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>Vernon relaxed slightly. It looked like this wasn’t going too badly. Interesting to finally find out who the boy’s patron was. Say what you liked about the rest of them, this Lord Slytherin didn’t seem too bad. At least he was happy to share his good fortune a bit. Not like his wife’s shrew of a sister. Anything to keep on his good side was a good thing as far as he was concerned — within reason.</p>
<p>“Excellent!” beamed the new headmaster, standing up. “I think I’ve got everything—” was as far as he got before there was a loud female scream, quickly followed by a series of loud bangs descending through the chimney.</p>
<p>Vernon jumped to his feet. “What the?!”</p>
<p>The freak was already pointing his ‘wand’.</p>
<p>“WAIT!”</p>
<p>There was a massive BANG sound and their brand-new electric fire burst out of the grate in the wall.</p>
<p>A figure tumbled out.</p>
<p>“Aha!” shouted the wizard. “A sneaky spy! Rita Skeeter as I live and breathe! I don’t believe I’ve ever had the pleasure, despite our many, many past meetings.”</p>
<p>“Gilderoy,” the woman said quickly, showering soot all over their once wonderfully clean carpet. “I can explain.”</p>
<p>“Don’t bother,” The wizard said cheerfully.</p>
<p>Vernon suddenly found himself looking right down the end of the brightly glowing wand.</p>
<p>“Obliviate!”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>“Damn it all!” Rita fumed, climbing the rickety stairs towards the Daily Prophet’s offices. “Those muggles had a great interview in their heads, and he just—”</p>
<p>“Yes, Luv,” Bozo said.</p>
<p>“And then he threatened to call the DMLE! Just for being in a muggle house.”</p>
<p>“Trespassing…” Bozo drawled.</p>
<p>“Bah! Maybe under muggle law. And where were <em>you</em> the whole time?”</p>
<p>“Sniffing around. Want to know where the headmaster was before <em>this</em> interview?”</p>
<p>“Go on.”</p>
<p>“The Rookery.”</p>
<p>Rita paused with her hand hovering over the door handle to the editor’s office. “The Rookery? As in, Lord Lovegood’s place?”</p>
<p>“That’s the one.”</p>
<p>“I knew it!” She gripped the door handle and flung it open. “Barnabus! We have a story!”</p>
<p>“Rita! Quiet your skank arse down or I’ll throw you out the window!”</p>
<p>“Oh, you’d never do that.” She strutted into the room and slapped down a parchment onto Cuffe’s desk. “And you certainly won’t want to once you read this.”</p>
<p>Cuffe snatched the parchment up and started to read. “Educational reform? Sources close to the headmaster… committee meetings across the country… leading educational policymakers… muggleborn focus… upcoming muggle protection act….” He looked up from the parchment. “How’d you get this?”</p>
<p>Rita smirked. “I have my ways.”</p>
<p>“Oh, doesn’t she just,” Bozo added, leaning against the doorframe.</p>
<p>“Yes, well.” Cuffe glared at them both and slapped the parchment back down on the desk. “It’s bullshit.”</p>
<p>Rita blinked. “What?”</p>
<p>“I said it’s bullshit, Rita! Do you need me to clean both your ears out with my wand? I have the latest draft of the muggle protection act right here — the very latest version — one of my contacts in the Wizengamot just sent it over — and nowhere in it is anything like what you’re talking about. Not. One. Thing!”</p>
<p>“But… I….” Rita stumbled over her words trying to get her brain back into gear.</p>
<p>“You may not know this, Rita, given how obsessed you are with chasing kiss-and-tell stories, but our patrons in the Dark have been working closely with Lord Slytherin since the Winter Festival on this act. Do you really think Lord Malfoy strikes you as the kind to give those riffraff any more power and privilege than the Light have already surrendered to them?”</p>
<p>“N-no. It’s just that—”</p>
<p>“It’s just what?”</p>
<p>Bozo flicked a cigarette butt into Cuffe’s ashtray. “We heard the headmaster talking to various people about just that.”</p>
<p>Cuffe transferred his glare to Bozo. “Who?”</p>
<p>“Madam Goose. Lady Potter’s sister. Lords Greengrass and Lovegood.”</p>
<p>Cuffe sat silent for a moment before snorting. “And I suppose you’ll both refuse pensieve memories as you always do.”</p>
<p>“Yep.”</p>
<p>“Then there’s nothing to be said here. Get back out there and get back to your jobs. Lord Malfoy will not be pleased if our output slows before the important vote in March.”</p>
<p>Rita sullenly stuck her hands in the pockets of her robes and marched out.</p>
<p>Bozo followed, closing the door behind him. “Now what, Luv?” he asked. “Fancy a bit of slap and tickle?”</p>
<p>“No I bloody well do not.”</p>
<p>There was a loud bang from behind them. They turned.</p>
<p>Cuffe was leaning against the once again open door, breathing loudly. “Wait,” he huffed. “Who, <em>exactly</em>, did you say the headmaster was meeting with?”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>“Well?” Rita asked.</p>
<p>Bozo grinned. “He’s got the minister’s smell all over him this time.”</p>
<p>“Minister of Magic, Cornelius Fudge,” Rita muttered while scribbling.</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>“Any luck?” Bozo asked.</p>
<p>“It was the manager of Bodmin Moor Stadium this time,” Rita said, after transforming back into a witch.</p>
<p>Bozo whistled. “Fingers in every pie, this one.”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>It was still dark out. Barnabus Cuffe waved his wand expertly over a massive tray of moveable type, causing several letters to rearrange themselves. Off to one side, a line of expectant owls were already lined up on a roosting pole, eyeing him as only owls could.</p>
<p>“Oi, Cuffe, you ready yet?” asked the chief mechanic of the Quibbler printing press — the only one in the country. “We’ve got a schedule to keep here, you know.”</p>
<p>“Just a few more minutes,” Cuffe grunted. “I’m expecting—”</p>
<p>The door to the cramped printing shop slammed open.</p>
<p>“Rita!” Cuffe shouted. “About time. What have you got for me?”</p>
<p>“Our man was in Cork this time, talking with the mayor for <em>hours</em>! They got through half a bottle of Ogden’s.”</p>
<p>“…And the mayor of Cork enclave,” Cuffe muttered, waving his wand again over the moveable type. “Nothing else?”</p>
<p>“Nothing new.”</p>
<p>“Right.” Cuffe turned to the chief mechanic. “It’s all yours now.”</p>
<p>The man nodded.</p>
<p>Over the next half-hour, a dozen wizards in ink-stained hooded dungarees set everything up just so. And a half-hour after that, the first copy of the next morning’s edition of the Daily Prophet rolled out of the masterwork of runes and enchantments that was the Quibbler Press — highly regulated by the ministry, naturally.</p>
<p>Cuffe, Rita, and Bozo all crowded around to see. Even as they started to read, owls started snatching up copies from the press as they emerged and soaring out of the large hole in the roof.</p>
<p>Cuffe smiled. “Excellent work, Rita — Andrew. Have a drink on me.”</p>
<p>“What I’d really like,” Rita purred, “is a use of that quill of yours.”</p>
<p>Cuffe chuckled. He looked out of the still-dark window. It was a tough life, being the editor of one of Magical Britain’s only newspapers. The deadlines were hard, submissions were unreliable, and choosing story angles was like walking a constant tightrope between ministry regulation, patron obligations, and opponent retribution. There was a lot of weird stuff going on right now — the muggle protection act — rumblings inside Gringotts — that whole business with the Potters since the Winter Festival. But there was one thing he could be sure of and that was the feeling in the words he was about to speak.</p>
<p>“Go stuff yourself.”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>And the sun rose.</p>
<p>Far away from the hustle and bustle of Diagon Alley, in a secret place hidden far below even the deepest of Hogwarts’ many dungeons, water dripped off the ceiling and trickled away down a massive hall lined with serpentine stone pillars. A massive statue at the end stared imperiously down the room, although the impressive effect was lessened by the five-dozen metal rods currently clamping its mouth shut.</p>
<p>The rest of the hall was empty — empty except for a lone four-poster bed sitting right in the middle of the floor, a small desk, chair, and two children. The children were sitting opposite each other on the floor, forming their hands around massive pots of clay as large as themselves. The pots spun slowly on large wheels.</p>
<p>“Don’t you think it’s disrespectful?” Ginny asked cheerfully, glancing over to the statue. Her hands were caked.</p>
<p>“Slytherin would understand,” Harry replied. “They’re only there to slow it down anyway. How’s your pot doing?”</p>
<p>“Great! I should be ready soon.”</p>
<p>“Excellent.”</p>
<p>Just then, a faint hoot sound echoed through the chamber. Harry stood up, just as Macavity swooped into the hall, carrying a newspaper. He dropped it in front of Harry and flew straight back out.</p>
<p>Ginny stared. “You’re getting mail down here?”</p>
<p>“No.” Harry picked up the paper. “Daphne must have thought it was important.” He read the headline.</p>
<p>LORD SLYTHERIN FINALLY COMING CLEAN!</p>
<p>WILL SECRETS EXCUSE THE SECRECY?!</p>
<p>UPCOMING BIOGRAPHY MAY BE TOO LITTLE TOO LATE!</p>
<p>“What is it?” Ginny asked, appearing by Harry’s shoulder faster than a man could blink. “Oh, wow.”</p>
<p>“Oh wow, indeed.” Harry glared at the paper. “Is it too hard to ask that every single secret I want to keep remains so?”</p>
<p>Ginny giggled. “What now?”</p>
<p>“Now we’ll need to speed up our plans.”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>John Potter, wearing muggle workout gear and followed closely by Susan, slammed the painting of the Fat Lady shut behind him, and marched into the Gryffindor common room. “Have you read this?” he asked, as soon as he got within whisper range of his target.</p>
<p>Virgo looked up from the morning edition of the Daily Prophet. “Yes,” she said. “I think we need to speed up our plans.”</p>
<p style="text-align: center">— DPaSW: NRiCaD —</p>
<p>And some time later, far away on the other side of the continent, a large black snake stared unblinkingly at the newspaper that had just been delivered.</p>
<p>“News, my lord?” asked a man with fiery intense eyes. Said eyes met those of the snake and he felt a pull on his occlumency shields. Moments later, he was standing in the dark of the chasm between minds.</p>
<p>“Yes, Barty,” said Lord Voldemort. “We will need to speed up our plans.”</p>
<p style="text-align: center;">— End of Chapter Fifty-six —</p>
