Chapter 58 - Nature Red - Part 2

<p>The Wizengamot all stared — some in horror, others in triumph, and a few in total knee-knocking terror.</p>

<p>Standing before them all, Lord Voldemort calmly drew his wand, a slight smile playing across his face, while outside the hall, muffled screams and pleading could be heard through the doors.</p>

<p><em>Do you see, Harry?</em> Voldemort thought. <em>Now that I have the Wizengamot, I can effortlessly arrange who should occupy which positions in the wardrobe. And it wasn’t difficult — merely tedious. Own the right people — a bit of torture here, a few death threats there — and the world is yours. Oh, the public will elect their minister, of course, but with our total control of all three candidates, that is a mere formality. Look, Harry, you can see they all know it. You can see it in their eyes.</em></p>

<p>A fresh set of muffled screaming passed through the locked doors. In the front row, Lord Greengrass’ knuckles were white where he sat beside Lord Slughorn.</p>

<p><em>And once we control the minister, we can begin work on the princes of Europe, Harry. A third Magical Empire will rise, and the muggle filth will be routed from this world… routed from my world!</em></p>

<p>A loud crash on the locked door was followed moments later by a shrill scream of anguish and despair.</p>

<p>Harry’s eyes snapped open.</p>

<p>The Wizengamot chamber vanished.</p>

<p>A wave of dread flowed over him, but it was muted and not quite real.</p>

<p>He stared unblinking at the inside of his Azkaban prison cell and noted the angle of sunlight through the window bars.</p>

<p>Ah. Morning. Time to get up.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Harry’s eyes snapped open.</p>

<p>A few inches from his face, hovered a slightly see-through face that was one massive grin.</p>

<p>“Time to get up! Pottery Pottery Potter! Hard it was for Peeves to find Pottery this time. All night Peeves had to look! How did Pottery get up here? Peeves wonders. Oh, yes, Peeves wonders hard.”</p>

<p>“You can go on wondering,” Harry said calmly, sitting up on the roof beam he’d been sleeping on. Far below in the Hogwarts entrance hall, just outside the Great Hall, the first sleepy-eyed students were making their way to breakfast.</p>

<p>“Peeves must tell Professor Lily he has found her missing son! Yes, Peeves must do this.” That grin, if possible, got even larger.</p>

<p>“Again?”</p>

<p>The grin faded slightly. “Pottery no fun! Peeves works hard to play with Pottery. Peeves sets up splendid traps. Peeves sniffs hard for Pottery’s secrets, but Pottery doesn’t fall for anything! Ever! No fun!”</p>

<p>Harry smirked slightly. “My apologies for being such a disappointment. Are you sure you won’t spy for me?”</p>

<p>Peeves stuck out a massive tongue at him, did a loop in the air and zoomed away, screaming, “Found Pottery! Peeves has found Pottery!”</p>

<p>Harry chuckled, shrunk his bedding with a wave of his wand, swung his legs around so they dangled off the beam, and jumped off.</p>

<p>There were gasps and a shriek.</p>

<p>He landed heavily on the stone floor below, but not <em>quite</em> as heavily as might be expected from a drop that high.</p>

<p>He then bowed slightly to the group of shocked girls that had just rounded the corner from Ravenclaw tower, turned, and entered the Great Hall for breakfast.</p>

<p>All eyes were on him as he spread jam on his toast and helped himself to bacon and eggs.</p>

<p>“I can’t believe you’re getting away with this,” said Blaise Zabini on the other side of the table. “You’ve got balls the size of planets. I would have thought that <em>today</em> of all days.”</p>

<p>“It’s an important day,” Harry said cheerfully. “As Lord Slytherin’s protégé, it is important I be seen.”</p>

<p>“Important he is seen,” muttered an older Slytherin. “If it were me, I’d be holed up in whatever hiding place I’d found to sleep in.”</p>

<p>“And that’s why you’re not Lord Slytherin’s protégé, Roberts,” said Daphne, gracefully lowering herself into the chair at the head of the table. “Let’s discuss our plans for today’s events.”</p>

<p>“POTTER!”</p>

<p>“Whoops.” Harry quickly stood up, full plate in hand. “That’s my cue.”</p>

<p>Snape had entered from the door near the teachers’ table and was now striding towards where he stood, robes billowing, wand in hand.</p>

<p>Harry casually swatted away a stunner fired from the defence professor’s wand. Climbing over the bench, he managed not to spill his breakfast while fending off the various spells sent his way. Everyone stared as he backed away towards the massive double doors and nodded to a pair of gobsmacked Gryffindors, who chose that moment to enter the hall, just as he exited.</p>

<p>Really, the situation with Snape was interesting. When he’d first returned to Hogwarts, the man had tried his hardest to actually capture him, but now just seemed to be going through the motions — as though merely fulfilling an administrative obligation.</p>

<p>It was amazing how quickly, ‘Harry Potter gets chased by some of the teachers’ had become a new normal at Hogwarts. Just another example of general oddness, like the ghost teacher, or the Weasley twins’ pranks, or the moving staircases.</p>

<p>Although the moving staircases <em>were</em> remnants from a time when the castle had been used as a prison, so fair enough.</p>

<p>Finishing off the last sausage, Harry ducked into an empty classroom and waited for the visitors he knew he’d be receiving.</p>

<p>He didn’t have <em>that</em> long to wait, considering.</p>

<p>Soon, Daphne, Tracey, Hermione, and Blaise all wandered in, Blaise dabbing at the edges of his mouth with a handkerchief.</p>

<p>It was February, and for the last few weeks, the castle had been in a fervour as it prepared for its first-ever student wardrobe elections — a near-perfect mirror of how the British Wizengamot and wizarding public appointed their minister and department heads.</p>

<p>The Wizengamot appointed heads of department under a proportional representation system and everything was generally arranged and negotiated behind closed doors without the need for an actual vote. Only if a significant portion of the Wizengamot dissented on hearing the appointments read out, would a vote ensue. Such an event hadn’t happened for two hundred years.</p>

<p>The minister, though, was a special case. The minister was elected by the general population, from a selection of candidates that had been put up by the Wizengamot in the same way as heads of departments.</p>

<p>From these three candidates, the wizards and witches of Magical Britain chose their new minister.</p>

<p>In Hogwarts, it had been decided that the Wizengamot would be made up of everyone from a Noble House, as well as purebloods who could trace their lineage back at least five hundred years, to help bulk out the chamber.</p>

<p>“I’m sorry I won’t be here for everything,” Harry said. “But I’m sure you’ll be able to handle it.”</p>

<p>“We won’t let you down, Harry,” Hermione said, eyes firm.</p>

<p>“No, we won’t,” Daphne added.</p>

<p>“How are Travers and Draco handling the pressure?” Harry asked. Travers and Draco were their candidates for the position of student minister. One from the Gray, one from the Dark. Everyone of note knew by now about the events of the Winter Festival at Slytherin Manor and how the children of the Dark had sworn themselves to a Gray agent.</p>

<p>Being put forward as student minister was doing wonders for assuaging Draco that his position wasn’t as terrible as it otherwise could have been. And despite his rather abrasive manner, and tendency to bully a small segment of the students, Draco wasn’t unpopular. He was a polarising figure. And polarising figures could be powerful political weapons.</p>

<p>“Draco is fine,” Tracey answered. “He’s Draco. He bounces back as quickly as a rubber ball. As for Travers… Blaise?”</p>

<p>“I’ve known Cecil since before Hogwarts,” Blaise said. “He was always at my birthday parties, even though he’s older. I’ve never seen him so anxious before.”</p>

<p>“But he will pull through for us?”</p>

<p>“Absolutely. By the way, my Mum still wants to meet you. She was quite miffed she missed you at the Slytherin Winter Festival.”</p>

<p>Harry took this information in his stride. While Harry Potter had never met Mrs Zabini, Mrs Zabini had certainly met Lord Slytherin. It was amazing how many times one could accidentally bump into someone in compromising positions.</p>

<p>“My Lord Slytherin! I’m so sorry! Oh, no, I’ve spilt wine all over my dress! …Oh wow, wandless cleaning charms…”</p>

<p>“Oh, Lord Slytherin! My skirt! Please sir, avert your gaze! …Oh, you already did.”</p>

<p>In any case, there was a lot more stuff that needed to get done today, so he finished up his briefing with the girls and Blaise, and started making his way towards the entrance hall. There was still the matter of his brother and Virgo to deal with, but until he’d figured out a way to extract the horcrux from the girl, he’d let his brother take care of her. It would be all the more amusing when he finally learned the truth.</p>

<p>Just so long as he did it before his brother and father did something foolish. Like, say, try to get the young Dark Lord betrothed to John — as amusing as that might be. But that, at least, was something he didn’t have to worry about. Tom Riddle would never willingly submit to a betrothal contract — not even if he’d been the man in the deal. He would fight it tooth and nail. Harry knew him too well. And the chances of Lucius willingly signing such a document in the face of that wroth would be zero.</p>

<p>Of course, he would still need to do something about Virgo’s attempt on Ginny’s life at the quidditch match the previous term. There was no way he could let that go unanswered indefinitely. He’d need to send a message — a warning — something unambiguous to the recipient, but innocuous to everyone else.</p>

<p>His hand closed on the doorknob leading to the Hogwarts Grounds.</p>

<p>“Harry!” shouted an adult female voice, clearly stressed and worried.</p>

<p>Harry gripped the doorknob harder. He could just duck out of this door, whip the invisibility cloak over him, and be off and away. No one would know where he’d gone or be able to stop him.</p>

<p>“Harry!” The voice called to him again, closer this time.</p>

<p>Harry groaned internally. He turned. “Mother,” he said, simply.</p>

<p>Lady Lily Potter slowed down, panting. She stopped a respectful distance from him, breathing shortly, hands on her thighs. “Harry.”</p>

<p>“You know, you should really join the morning exercise groups down at the lake. The lady of a noble house should not be exhausted from a spot of light jogging.”</p>

<p>“Look, Harry. You can’t keep sleeping just wherever you want.”</p>

<p>Harry gave her an amused look. “Evidently, I can. Because you have been unable to stop me.” Watching Lily Potter’s reactions to her increasingly desperate failed attempts to catch him over the last few weeks had made all the hard stone beds more than worth it. They were now at the point that he knew <em>she</em> knew that even standing this close to him, if he wanted to flee, there would be nothing she could do to stop it.</p>

<p>“It can’t be good for you,” she panted.</p>

<p>“I’ll be the judge of that.”</p>

<p>“I’m just saying, you can sleep in my apartment, if you want. I understand if you don’t want to. But a real bed must be more comfortable than just blankets.”</p>

<p>“And get abducted in my sleep and dragged off to Potter Manor to face my father’s court? I think not.”</p>

<p>Lily Potter looked torn. “I’d keep it secret.”</p>

<p>“Unfortunately, there is no way you can guarantee that. Not unless you’ve learned to cast the fidelius charm while I wasn’t paying attention.”</p>

<p>“You distrust me that much?”</p>

<p>Harry gave her a stony look. “Not by choice, I assure you. I do not enjoy not trusting my parents.”</p>

<p>“Harry, whatever Lord Slytherin might have told you, we’re not bad people. I saw what happened with my sister and her husband. I’m sorry you went through that. That was not the plan.”</p>

<p>Harry raised an eyebrow. “Oh? What <em>was</em> the plan?”</p>

<p>Lily hesitated. Visibly. For many seconds.</p>

<p>Harry rolled his eyes. “Look, I understand this is hard on you. So, to make it easier, I’ll give you a list of conditions that would have to be met for me to accept you as my parents again, both in private and in polite society.” He began listing off on his fingers.</p>

<p>“One: Lord Potter would have to immediately sign a blank betrothal contract, giving me the right to choose my Lady Potter under whatever terms I see fit, as well as secure the agreement from the family of my future betrothed to likewise accept those terms.</p>

<p>“Two: Both of you would declare yourself Gray and guarantee bringing at least a third of the Light with you.</p>

<p>“And three: Lord Potter would abdicate his position as Lord Potter while I am still Heir and hand over all Gringotts vaults and their contents to me, intact, and in their entirety.”</p>

<p>Lily’s look turned pitying. “Harry, none of that is even remotely realistic.”</p>

<p>Harry nodded. “I know.”</p>

<p>Lily’s look of pity vanished.</p>

<p>Harry could see the emotions flash across her face. A moment ago, she’d been standing in front of a naive child, asking for the impossible. Now she faced a brick wall.</p>

<p>Finally, the emotions on her face settled into sadness. “Where did that happy and talented boy go who stayed at Potter Manor over the summer?”</p>

<p>“He’s still here. I learned to pretend to be happy long before I learned what the emotion actually felt like, but now that I do know, pretending is all the easier.” He smiled a bright smile. “I have friends. They make me happy. And I’m not talking about Lord Slytherin.” His bright smile dulled somewhat. “It seems you are trying to present the front of a mother who wishes to do right by a child she feels she has wronged. If that is truly your intention, front or otherwise, then you will not begrudge me the source of my happiness and instead let me get on with it.”</p>

<p>Lily’s look of despondency deepened. “No normal twelve-year-old is that erudite, even with occlumency. Just what has Slytherin <em>put</em> you through?”</p>

<p>Harry didn’t answer. He instead slipped out of the door and out into the damp mist of a February weekend morning. Birds chirped off in the mists. Around his ankles, Mrs Norris rubbed affectionately at his leg in a way she never would have done before the animagus ritual.</p>

<p>Harry leaned back on the castle wall and winced. Looking back, he really had let himself go there, hadn’t he?</p>

<p>To her credit, Lily didn’t open the door to go after him. That probably meant the weeks-long chase was at an end — at least as far as her part was concerned.</p>

<p>But that didn’t matter now. Harry had an appointment to keep — several of them, in fact. So he’d better get a move on. And the first stop would be all the way up North, back to Slytherin Manor.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>At the Gryffindor table, Virgo Malfoy’s ears pricked up as news of Harry’s flight from the castle percolated. Lord Slytherin had not been at all quiet about his leaving for the day.</p>

<p>“Do we know it’s true?” Susan asked.</p>

<p>Virgo’s eyes carefully studied the Slytherin table. “We don’t. But I believe it is. It fits with what I have learned of John’s brother. He would want his minions to get all the credit. Look. Weasley and Black appear far more alert than usual.”</p>

<p>“Bodyguards?”</p>

<p>“Maybe.”</p>

<p>Susan’s voice dropped to barely a whisper. “From you?”</p>

<p>“Almost certainly. They are both dangerous. But Weasley is at a whole other level.”</p>

<p>Susan shivered. “I’m so glad we found <em>that</em> place.”</p>

<p>Virgo nodded slowly. <em>That</em> place, indeed. Unbidden by the busyness around the Great Hall, her mind drifted back to when they’d first found <em>that</em> place.</p>

<p>It had been the Tuesday after they’d all arrived back at Hogwarts after the Winter Festival. Virgo had just finished telling John of the conversation between her father and his. And how Lord Potter had valiantly defended both their interests in the negotiation for her hand, while her father had attempted to fleece the Potters for every galleon he could, but ultimately wound up humiliated.</p>

<p>Bollocks, of course, but John didn’t need to know that. It would only upset him.</p>

<p>The boy-who-lived smiled widely. “My dad is awesome.” The smile faded. “I just hope he does manage to sort something out soon. We need to get you away from the Malfoys.”</p>

<p>“We need to do more than that,” Susan jumped in. “We need to start forming our own inner circle.” She paused. “If my aunt heard me say that, she’d cane my bottom.”</p>

<p>“Obviously we won’t call it an inner circle,” John said. “But we do need somewhere to hold meetings. Somewhere the teachers won’t find us.”</p>

<p>Virgo smirked. “I may have an answer for that. You had the Marauder’s Map for a long time, right? Ever notice a place called the Room of Lost Things?”</p>

<p>John frowned. “No.”</p>

<p>After classes that afternoon, the trio embarked on an expedition into the deepest depths of the seventh floor. They all stood outside the door opposite the painting of the dancing trolls. “Of course, it still doesn’t stop your brother from knowing about it,” Virgo said. “The horcrux merging will have given him that information.” The thought roiled around in her head over and over again. “Really, what we need is a place where your brother can’t find us as well. A place where we could hold the meetings we need in total peace and privacy from anyone.”</p>

<p>Suddenly, a huge whoosh of magic nearly knocked the three students off their feet. They all took several steps backwards.</p>

<p>Susan shrieked.</p>

<p>John cursed.</p>

<p>Virgo merely held her arms to her face to stare through the gap with narrowed eyes.</p>

<p>Several dozen massive locks slammed down on the door in front of them, each one locking into place like an intricate jigsaw with almost creepy mechanical precision. Then a small hole opened in the woodwork and something shot from it with a rather organic farting sound. A small bronze key landed at Virgo’s feet.</p>

<p>The three all stared at it.</p>

<p>Yuck.</p>

<p>Virgo reached down and carefully picked it up with two fingers, holding it at arm’s length as though it were a dead mouse. “Voldemort never knew about <em>this</em>.” Despite her disgust at the key’s delivery mechanism, she couldn’t keep the glee out of her voice.</p>

<p>A quick investigation into the Room of Lost Things found it to have changed completely. Gone were the rows upon rows of lost and found shelves, replaced with a large open area, filled with all kinds of duelling paraphernalia.</p>

<p>Shelves crammed with books covering combat, duelling, war, politics, and seduction lined one of the walls.</p>

<p>Combat dummies stood to attention on one side, while another was furnished with rows of benches facing a raised stage with a podium. And behind that podium was a magic window showing every corridor leading to their new discovery.</p>

<p>“It’s a duelling room!” John exclaimed.</p>

<p>“No,” said Virgo in a low voice. “Not if I’m right. If I’m right, it’s so much more than that.”</p>

<p>She <em>was</em> right. This room could turn into almost anything the wisher needed. Although her first thought to use the room to summon back the Marauder’s Map had not worked, unfortunately. <em>How</em> had her other self not discovered this before?</p>

<p>“This is amazing!” Susan said, spinning around in the middle of the room. “We can totally host our inner circle here.” She slowed to a halt. “Now we just have to persuade them to join.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>On the third floor of Slytherin Manor—the residential apartments—Harry stepped out of the floo and looked around the central living area. There was a noticeable air of cosiness about the place now that he approved of. A difference in smell, perhaps? The new carpets? The fire in the grate? Whatever it was, he liked it.</p>

<p>The walk down to the basement, however, reminded him that most of the manor still lacked that kind of personal touch. The grand ballroom still had the air of a currently unused event space — all chairs and tables stacked in corners. It really needed a standard welcoming setup it could take when not being used for anything else.</p>

<p>He made his way through the various defences he’d set up around his own little Department of Mysteries and found Plato administering the next dose of Draught of Living Death to the obscurial son of the African warlord he’d subdued over the summer.</p>

<p>Plato looked up. “Master is being here, master,” he said, sounding unsurprised. “Will master be wanting to peek into parasite boy’s head today?”</p>

<p>Harry walked past the table. “No, Plato, thank you. I just wanted to get a book before heading over to the Grangers and Gringotts. The situation with Dan and the gem is delicate.”</p>

<p>Plato grimaced. “As master wishes. Plato is hoping that the magic drain is cured of his affliction before too long.”</p>

<p>A magic drain, Harry thought in dark amusement as he emerged back into the sunlight from the manor’s front door, and started making his way down the path to the Grangers’ cottage. That was an apt description for what Daniel Granger now was. Such a power was both legendary and political dynamite. It almost made his own time-travel look tame by comparison. The potential advantages of having someone like Dan on his staff were legion. And they almost outweighed the downsides.</p>

<p>It was, therefore, extremely lucky for him that Hermione more than made up the difference.(((altenatively change last paragraph to don’t have ‘downsides’ and change to Hermione alone more than made up)))</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Daphne Greengrass stared intently at the open book in her lap — Thucydides’ History of the Peloponnesian War. What could she take from it? What could she learn?</p>

<p>In the ancient muggle war between Sparta and Athens, the Spartans were masters of ground combat. None could stand before their well-trained military machine. Luckily for the Athenians, they didn’t need to. Athens had built an impenetrable wall around their city and ferried in supplies from a maritime empire that the Spartans couldn’t hope to top.</p>

<p>Every summer the Spartans marched to the wall, intent on laying siege to Athens, and every year, when the snows started to fall, they were forced to go home without a victory, having achieved nothing but to devastate the Athenian countryside, again.</p>

<p>In the words of this muggle strategist, Thucydides, the Spartans were the elephant — a terrible force that could trample all they faced… on land. While the Athenians were the whale — a mighty naval power that could sink any enemy they found… in the water.</p>

<p>Two great nations locked in stalemate, unable to bring their respective powers to a decisive battle against the other, forced into unending conflict for as long as the status quo remained.</p>

<p>Daphne bit her thumb. How might her betrothed’s power be like the whale? How might he be the elephant? Perhaps one could think of morality as a kind of strategic geography? The Light liked to occupy the popular moral high ground. They counted on the support of the masses to make up for their sacrifice of the more ruthless political tactics found in Dracula’s <em>Blood is Thicker than Magic.</em></p>

<p>The Dark, on the other hand, had shown no problem in using such devastating magical tactics under the patriarchal leadership of a lord of lords.</p>

<p>The two felt quite asymmetrical, didn’t they?</p>

<p>What about economic power?</p>

<p>The Light and the Dark felt quite similar there. Many of the lords relied on real estate and rents. Others on monopolies granted by the ministry — or near-monopolies, at least. The wizarding government didn’t like one political faction to have a stranglehold on any one critical resource.</p>

<p>Or it would be more accurate to say that no faction in the Wizengamot liked their opposing factions to have a total monopoly on any critical resource. There was an important difference.</p>

<p>Daphne tapped a light pattern on the book with her fingers.</p>

<p>If Harry chose to attack any strategic moral high grounds, he would probably have to fight for it with the Light — the plucky young bull shark vs the old and massive whale.</p>

<p>On the other hand, if his efforts this afternoon outside of Hogwarts played out well, he might have a whole new geographic playground all to himself. The Dark’s mighty economic elephant of the plains could find itself crushed by Harry’s massive… err… dinosaur? From the… mountains?</p>

<p>Daphne looked down at the book in her lap again.</p>

<p>Maybe she was taking this particular muggle metaphor too far.</p>

<p>Someone landed heavily in one of the armchairs on her right-hand-front.</p>

<p>It was Tracey.</p>

<p>“You were right, Daphne,” she said in a hushed voice. “The Light are putting up Percy Weasley as their candidate for student Minister. They just gave me their nomination.”</p>

<p>Daphne closed the book in her lap with a quirk of her lips. “I thought Humble Hags and Chief Warlocks were supposed to remain apolitical.”</p>

<p>Tracey responded with a lip quirk of her own. “This Humble Hag and Chief Warlock serves Lord Slytherin.”</p>

<p>The two girls snickered.</p>

<p>They both sobered quickly. “Is there anything we have to worry about, Daph?”</p>

<p>Daphne shook her head. “Percy Weasley is an obvious and simultaneously terrible choice. He is a by-the-book stickler for rules, and will surely lose the popular vote. But he is the choice that will give the Light the highest number of important department heads in trade. There is no way the Light can exert actual political weight over proceedings, given how many heirs and other important students we now control. So they must shepherd what resources they have into a few key positions. We have our pieces assembled exactly how we want them. Now all we have to do is wait for events to play out.”</p>

<p>Tracey nodded. “Daph, how much influence do you think these student departments will actually have? I mean, they are only students. They still have to deal with the professors. And the professors still have to listen to the headmaster — who listens to the board and the ministry.”</p>

<p>Daphne smiled. “That’s up to each individual student.” Her smile turned into a rare grin. “And how well they play the game of power.”</p>

<p>“You just went full Dark Lady there, Daph.”</p>

<p>“Gray Lady.”</p>

<p>Tracey opened her mouth to reply, but Daphne beat her to it.</p>

<p>“That’s Gray with an -A, not an -E. I am not that mopey ghost.”</p>

<p>Tracey stuck out her tongue.</p>

<p>“In any case, this will help cement Harry’s expanding control over the school. By the time anyone important enough to do anything about it realises what’s happening, it will be a fait accompli.”</p>

<p>“Doesn’t he already totally control the school? I thought I read something about that in the Daily Prophet.”</p>

<p>“That was a cautionary action taken because of a rogue house elf. Quite helpful, actually. It gave our lord a good excuse to take control of the wards, setting a precedent, and the squawking in the Prophet will only help us in the long term. Despite their protests, they couldn’t actually have Lord Slytherin back down from his control given the threat, and since they couldn’t tell anyone what the actual threat was, it ended up making them look weak. But no, he doesn’t control the school. Not yet.”</p>

<p>Tracey had a quill and parchment out now. “So, what’s everyone doing before the candidates’ speeches and voting?”</p>

<p>“Ginny and Luna are helping Alex train for the upcoming duelling tournament. Hermione is in healer training, Blaise and Theodore are with Draco, most of the Founders Club are working on their occlumency, the Hufflepuffs and Ravenclaws have the quidditch pitch, the Gobstones Club was cancelled because the captain needs to work on his Arithmancy homework, although he didn’t tell the club that, and that one Ravenclaw seventh year I told you about finally succeeded at getting into that Hufflepuff sixth year’s knickers last night. The two are currently waiting in the hospital wing for Professors Flitwick and Sprout, who are probably going to suspend them for a few weeks after getting them the potion they need. Unless the parents object, naturally. It wouldn’t be <em>that</em> terrible a match for them.”</p>

<p>Daphne looked at the ceiling as though deep in thought.</p>

<p>“Oh, and Percy Weasley and Penelope Clearwater have moved from kissing to feeling each other up. Which is <em>almost</em> outside of her parents’ direction for her courting, but not quite enough for blackmail material, unfortunately. Knowing Percy Weasley, he’ll probably stick to her parents’ word of law even if she threw herself naked into his arms.”</p>

<p>Tracey whistled. “I don’t know how you get gossip this quickly. What about John?”</p>

<p>“John, Virgo, Susan, and <em>others</em> are having another meeting in the Room of Many Things.” Daphne shook her head. “And although none of my various <em>means</em> or <em>agents</em> have been able to infiltrate into that particular space without resorting to extraordinary efforts, I honestly don’t know what they think they’re hiding.” She fixed Tracey with a rather annoyed look. “Surely there’s only so much devious stuff you can get up to in a room crammed full of shelves so dense you can hardly move.”</p>

<p style="text-align: center;">— End of Chapter Fifty-eight — </p>

