Chapter 59 - Nature Red - Part 3

<p>“What are we going to do?” shouted Sally Smith.</p>

<p>“Yeah!” echoed an older Hufflepuff. “Greengrass has this whole thing sewn up! This isn’t a fair wardrobe selection. She’s going to steamroll us!”</p>

<p>Over three-dozen other students voiced similar sentiments. The Room of Requirement was buzzing. Behind the small crowd standing in front of the raised platform, several students were practising basic stunners under the watchful eyes of Susan Bones.</p>

<p>John Potter stood behind the dais, doing his best to look firm and confident. “Trust me,” he said. “We have a plan. It’s all about the student minister. If we can win that position, we’ll have everything we need to stop the Gray from taking over the school.”</p>

<p>The crowd as one turned their heads to where Percy Weasley was standing by a blackboard, explaining the finer points of ministry protocol to a small group of glazed-eyed third years. They turned back to John.</p>

<p>“John,” began Oliver Wood, standing in the front row. “I’m not saying Percy wouldn’t make a good humble hag. But is he really minister material?”</p>

<p>There was a chorus of muttered agreements.</p>

<p>“And why don’t we get a say at who becomes the top humble hag?” Sally added loudly. “Why does it have to be Davis? And she’s even Chief Warlock as well!”</p>

<p>“Look,” John said. “I tried talking to McGonagall, but she said that was the headmaster’s decision. I don’t like it any more than you all. Didn’t any of you talk to your parents about it, like I asked?”</p>

<p>There was an uneasy shuffling of feet.</p>

<p>“Oliver?”</p>

<p>Oliver Wood grimaced. “They said Hogwarts was where we were supposed to learn about politics and that I shouldn’t be asking them for help.”</p>

<p>“That’s what mine said too,” added a fifth-year Ravenclaw.</p>

<p>“Mine said teenage politics weren’t important,” said a sixth-year Gryffindor.</p>

<p>“The hells it isn’t!” Sally burst out. “If we can’t beat the Gray now, what makes them think we’ll be of any use to them when we graduate?”</p>

<p>“Yours don’t want you in the Light,” pointed out the same Gryffindor.</p>

<p>“That’s my Grandfather. My mum and dad are Light through and through, and so am I.”</p>

<p>“I wish mine were,” said a fourth-year Slytherin, one of the few snakes in the room. “They told me it might be a good idea to start cosying up closer to Greengrass, with the way the winds have been blowing lately.”</p>

<p>Everyone looked at her.</p>

<p>“What?” she said defensively. “I didn’t have to tell you that. Surely that counts for something? I believe in the ministry as much as all of you!”</p>

<p>John shot off a small firework from his wand to get the attention back on himself. “As I said, we have a plan. Trust me. It will all work out all right in the end.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Dan Granger stood perfectly still, feet exactly aligned with two strips of duct tape that had been affixed to the floor.</p>

<p>He raised his head and cracked his knuckles. “Ready,” he said.</p>

<p>Harry nodded, raised his wand, and said, “Stupefy.”</p>

<p>The bright red light shot towards Dan. It got to within about a foot before winking out of existence as though it had never been.</p>

<p>Harry lowered his wand. “Interesting.”</p>

<p>“The range was only a few inches when we first measured it,” Dan said. “If I focus really hard, I can extend it a bit.”</p>

<p>“Can you modulate the intensity of the effect?”</p>

<p>“I might be able to?”</p>

<p>“I suggest working on that then. Total magical nullification is amazingly powerful, but selective nullification would be a completely different level.”</p>

<p>“But I don’t think I’ll be able to completely remove the effect around me.”</p>

<p>Harry sighed. “I don’t expect you to.”</p>

<p>Dan looked uncomfortable. “Look, Harry. I mean, my lord. I mean….” He stopped. “Do you want me to call you Harry or by title?”</p>

<p>“You can call me Harry when you’re not in the dog house.”</p>

<p>Dan grimaced. “Yes, my lord. Look, I’m really sorry about this. If you want, I can go with you.”</p>

<p>Harry slowly shook his head. He liked Daniel Granger, he really did. But he did have to remind himself sometimes that the man was a muggle. And now he wasn’t only a muggle, he was a super muggle. A man whose muggleness was so intense that he actively sucked magic out of the world.</p>

<p>Harry walked over to a side-table, on which rested several potions, alongside his mask.</p>

<p>“Dan,” he started. “Do you love your daughter?”</p>

<p>The voice behind him sounded mildly offended. “Of course.”</p>

<p>“Yeah, I’m rather fond of her too.” He turned around.</p>

<p>“How do you feel Hermione would feel if her Dad went into Gringotts this morning and never came out?”</p>

<p>Dan Granger said nothing.</p>

<p>“I know very little about how the goblins view these gems,” Harry continued. “I don’t know what they use them for. I don’t know how much they know about them. They could be part of some long-term power strategy to create an army of goblin warriors immune to magic to throw against the walls of Magical Britain. Unlikely, but not impossible. Maybe they’re a necessary reagent in creating the elixir of life, or turning base metals into gold. Maybe they don’t need the gems themselves. Maybe they only need the people who’ve used the gems, for who knows what. The more powerful the ritual, often the greater the sacrifice.”</p>

<p>He gave Dan a significant look.</p>

<p>Dan was back to looking sheepish now.</p>

<p>Harry picked up one of the potion vials. “I cannot stress this enough, Dan. No one. Absolutely no one outside of the family can know about this. No one. The political ramifications of a muggle who can nullify magic are too terrible to contemplate — but contemplating them is my job. It’s the kind of thing that would bring not only the ministry down on our heads, but possibly the entire Wizarding World. We’re talking an ICW task force powerful enough to sweep any question of magical sovereignty aside like so much confetti. Are you familiar with the Brazilian Strangle Vine?”</p>

<p>Dan shook his head.</p>

<p>“It’s a magical plant from the Americas — a parasite that leeches magic from other magical plants to sustain a number of dangerous enchantments around itself. During the last war it became a symbol of propaganda for blood purists. One of their central claims was that muggleborns were simply muggles who had found a way to steal magic from ‘real’ wizards and witches.”</p>

<p>“Oh,” Dan said. “I think I’m starting to see the picture.”</p>

<p>“Indeed. Where does the magic that you nullify go? If anywhere? Do you keep it? Are you ‘stealing’ it, somehow? It doesn’t seem likely, but it is the kind of thing that will be <em>claimed</em> by certain people with an agenda in a heartbeat. And it’s very difficult to prove that it’s not the case. Maybe eventually you will also be a muggleborn? A muggleborn who stole his magic from wizards. Maybe you could drain a wizard dry and turn them into a muggle.”</p>

<p>Harry drunk the potion in hand, followed quickly by the other. His body aged. His face changed. He put on the mask and cast a few spells over himself.</p>

<p>Lord Slytherin carefully adjusted his robes before turning his attention back to the man in front of him. “My job today is to haul your arse out of the fire, Mister Granger,” he said. “And hopefully persuade the Boneslicer Clan to continue supporting us. Your job is to arrange matters with the muggle authorities so that our sunken treasure ship can go on the muggle market as soon as possible at the valuations we need.”</p>

<p>Dan straightened. “I won’t let you down.”</p>

<p>Lord Slytherin walked towards the door. “I’m sure you won’t.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>By now, breakfast had long since passed, and the Slytherin common room was bustling.</p>

<p>“I heard Derik say Margarette said a sixth and seventh year were suspended for trying to rig the vote for Potter.”</p>

<p>“Yeah? Well I heard that the Daily Prophet sent a reporter under polyjuice to sabotage Greengrass.”</p>

<p>“Don’t be daft. Who’d believe something so stupid?”</p>

<p>“At least it’s better than the fool who thought they’d bumped into an agent from the Department of Mysteries and it turned out to be Clearwater practising the invisibility charm.”</p>

<p>“Ah, but why’d she be trying to learn <em>that</em> do you think?”</p>

<p>“Have you ever <em>been</em> a smoking hot girl in a castle full of boys?”</p>

<p>“No, and neither have you.”</p>

<p>“Yes, but I do have an imagination.”</p>

<p>“No kidding. You read the Quibbler.”</p>

<p>Sitting in his large high-back chair on the left-hand side of the much larger and throne-like chair left open for Lord Slytherin, Draco Malfoy surveyed the common room with a regal air. He didn’t just sit though, he lounged. He lounged like a wizard who was already the highest-ranked wizard in the castle — a wizard who sat head and shoulders above every other wizard — a wizard of power and influence.</p>

<p>To Draco Malfoy, this was how it should be. Everything neatly arranged behind closed doors. The voting would be mere formality.</p>

<p>It was just a shame he wasn’t on the other side of those closed doors.</p>

<p>In front of him, a constant stream of students passed by the mostly empty Slytherin court, making their way instead to the archway to the girls’ dormitories. Messages to and from Slytherin’s now undisputed leader. From there, a witch carried the message down the stairways to its final destination.</p>

<p>For while he was about to take on the mantle of most powerful student wizard in the castle, that still didn’t change the fact that above him, there were not one, but <em>two</em> even more powerful student witches.</p>

<p>His master had a master, or possibly an ally, he wasn’t entirely sure, who herself was the betrothed of one of the most powerful wizards in the country.</p>

<p>But still… student minister.</p>

<p>Draco allowed himself a small smile.</p>

<p>Across the Slytherin common room, past the massive windows looking out into the Black Lake, past the older messenger girls stationed at the head of the descending spiral staircase, down, down, to the second-year girls’ dorm, two younger girls stood at attention by the door, eyes scanning the hallways, wands in hand.</p>

<p>“Message from Derik Catwall for Heiress Greengrass,” panted one of the messenger girls.</p>

<p>Ginny nodded, took the message, and handed it to Alexandra, who waved her wand over it, carefully opened the door, and slipped inside, replaced moments later by Luna.</p>

<p>The messenger girl left.</p>

<p>Ginny glanced at her friend. “I’m still not sure Alex will be able to win the tournament.”</p>

<p>Luna hummed, but said nothing.</p>

<p>“She’s come a long way,” Ginny continued. “But is it enough? Even with her you-know-what form. There’s only so much training you can fit into nearly two years.”</p>

<p>Luna turned her face to her. She smiled dreamily. “Everything is going perfectly, Ginny. Whether Alex wins or loses doesn’t matter. What matters is that she fights for our lord.”</p>

<p>Ginny’s look turned uncertain. “Are you sure about that, Luna? Alex really doesn’t like losing. And she’s worked so hard for this.”</p>

<p>“Ginny, if Alex wins, our lord can reward her. If Alex loses, she will fight harder to prove herself. Then the reward will be all the sweeter.” She paused. “Or is that blander, in Alex’s case? Or maybe nice things feel even sweeter when you aren’t always tasting sweeties. Maybe that’s why witches like to ‘save it for someone special’, but then why would betrothal contracts need chastity clauses? I should ask Harry about that.” Luna then put her hands behind her back and proceeded to hum a tune Ginny didn’t recognise.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The Slytherin second-year girls’ dorm was almost completely vacant.</p>

<p>Pansy, Millicent, Flora, and Hestia had all been told to take a hike for the day. The former two complied respectfully and grudgingly, respectively. The latter two, with almost worshipful speed.</p>

<p>“Message from Catwall,” Alex said, climbing into the trunk in the middle of the girls’ dorm.</p>

<p>Hermione nodded, took the note, opened it, and read. “You were right,” she said, turning to Daphne. “Those two upper years having sex have been suspended.”</p>

<p>“Not only have they been suspended,” Daphne whispered, sitting in her high-back chair, eyes firmly shut. “But their fathers are currently negotiating a betrothal contract for the two. She is not taking the news well.” Her eyes snapped open.</p>

<p>Somewhere in the castle, not too far away, an Eye of Kilrogg faded from existence.</p>

<p>On the wall in front of Daphne, a half-dozen ice mirrors shimmered in the warm air, each one showing a different spot in the castle.</p>

<p>“In other news, Potter has finished his meeting in the Room of Lost Things and is making his way back to Gryffindor Tower.”</p>

<p>Alexandra huffed and crossed her arms. “What is even the point of having a spy network, when you have <em>this</em>?”</p>

<p>“One of the surest ways to form positions for war would be to order movements only <em>after</em> obtaining perfect information. And I <em>want</em> perfect information.”</p>

<p>Hermione and Alex looked at each other before looking back at Daphne.</p>

<p>“Jomini.” Daphne smiled. “<em>A</em> <em>Summary of the Art of War</em>.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>While Harry did indeed have urgent business in Gringotts, this was not his only port of call for his day trip out of Hogwarts.</p>

<p>Whispers followed him from the moment he exited the floo at the British Ministry of Magic.</p>

<p>They always did.</p>

<p>“Look, it’s Lord Slytherin!”</p>

<p>“Merlin, he’s tall.”</p>

<p>“I wonder what he’s here for?”</p>

<p>“Do you think the minister knows?”</p>

<p>“Stop giggling!”</p>

<p>As he entered the magic elevator that led to the Department of Magical Law Enforcement, a small circle of empty space rapidly formed around him as wizards and witches urgently pressed themselves up against the walls.</p>

<p>The doors briefly opened at the floor housing the Department of Magical Games and Sports, but quickly closed again when the prospective new passengers saw just who was standing in the doorway.</p>

<p>Finally, the doors opened for the floor of the DMLE, and Harry strode out of the lift and into the reception area.</p>

<p>The general noise of chatter, rustling parchment, and minor magical shenanigans slowly died.</p>

<p>If Alexandra were to have even a ghost of a chance during the Hogwarts duelling tournament, he’d first have to take care of a small piece of administration for his troublesome little necromancer.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Down in the DMLE’s training area, Chief Auror Lord Sirius Black breathed heavily, standing bent-over, hands on his knees, panting like a dog, which, obviously, was quite appropriate.</p>

<p>“Again!” barked the trainer. “Or did you haul my arse out of retirement for nothing, boy?!”</p>

<p>Sirius shook his long hair and tried to wipe sweat off his naked chest. Why had he thought it was a good idea to bring Mad-Eye back?</p>

<p>Oh, yes.</p>

<p>It was because there was just so much to deal with these days. And things only looked to be getting more and more complicated.</p>

<p>“One second,” he said gruffly. “Water.”</p>

<p>“Fine, you pansy!” Mad-Eye turned to the assembled aurors. “Two minute break! Constant Vigilance!”</p>

<p>Six other aurors all relaxed slightly and turned away.</p>

<p>Walking over to the side of the room, Sirius brought a bottle of water to his lips.</p>

<p>Almost without thought, his wand slipped back into his hand as he felt hostile magical intent begin to form behind his back.</p>

<p>Oddly enough though, the spell wasn’t aimed at him.</p>

<p>A loud crackle of spellfire blasted through the room.</p>

<p>It seemed this time one of the <em>others</em> had been the target of their trainer’s ‘surprise training session’.</p>

<p>He turned.</p>

<p>Sirius’ eyes bugged. “MOODY?! WHAT THE HELLS?”</p>

<p>Mad-Eye stood in the middle of the room, good leg forward, wand thrust straight out in front of him, pointing towards the door that led back to the department. Every other auror, except Nymphadora, all had their wands pointed dangerously at Mad-Eye. Nymphadora had hers pointing in the same direction as Mad-Eye, although unlike her partner, she hadn’t fired a spell.</p>

<p>A large scorch mark gently smoked to one side of the door.</p>

<p>“You have a quick draw, auror,” said Lord Slytherin. The fingertips of his gloves had been burned away, exposing faintly glowing fingers below.</p>

<p>“No quicker than yours,” Moody shot back. “How many more have you got behind you?”</p>

<p>“MOODY!” Sirius yelled.</p>

<p>Lord Slytherin held his other hand up at him. “No, Lord Black. The man is right to be cautious. What’s to say I don’t have an army behind me?”</p>

<p>“What indeed,” Moody growled, right eye staring, glass eye swivelling.</p>

<p>“<em>Do</em> you have an army behind you?” Sirius asked, incredulous.</p>

<p>“No.”</p>

<p>“Then you are not helping! Put that damn thing away Moody.”</p>

<p>“I’ll put my Merlin-damn wand away in the presence of an unknown and potentially hostile enemy when Death closes the Veil and comes back home for a Merlin-damn holiday.”</p>

<p>“I swear—!” Sirius turned to their guest. “Slytherin, would you hand your wand over to show this idiot you’re not a threat.”</p>

<p>Slytherin inclined his head. “I’ll hand my wand over in the presence of eight trained killers who take their orders from politicians when Fate delivers her final prophecy and retires to embroider the complete history of Hogwarts onto one of Dumbledore’s rainbow robes.”</p>

<p>A corner of Mad-Eye’s mouth tugged ever so slightly upwards. “That implies you believe having your wand in the presence of eight trained killers would do you any good.”</p>

<p>“Oh, for pity’s sake!” Nymphadora shouted out, her wand still trained on Lord Slytherin. “Will you two stop trying to out-paranoia each other? You should both just get married and have little paranoid babies who won’t drink from a bottle without first casting twelve different detection charms over them.”</p>

<p>“Seventeen,” Mad-Eye growled.</p>

<p>“I could add another two.”</p>

<p>“Slytherin, why are you here?” Sirius interrupted.</p>

<p>Slytherin turned to him. “Straight to business?” He cast a very obvious gaze around the somewhat hostile training room. Even the aurors who had their wands trained on Moody were eyeing the masked lord with a good deal of suspicion. “Probably for the best. I have some parchment-work for you.”</p>

<p>Sirius felt an overwhelming feeling of frustration well up in him. “Couldn’t that have waited?”</p>

<p>“Normally, yes. But I thought you’d want to handle this personally. Rather than finding out second-hand from someone else.”</p>

<p>“Personal how?” Sirius marched over. “Give it here.”</p>

<p>Slytherin handed over a small stack of parchment forms. He tipped an imaginary hat, turned on his heels, and left without a word.</p>

<p>The air in the room noticeably relaxed at the man’s departure, but Sirius didn’t really notice. He was too busy staring down at the first parchment in the stack, eyes fixed on the first few details. His hands began to quiver. A lump started to form in his throat.</p>

<p>Animagus Registration Application Form</p>

<p>Name: Heiress Alexandra Patricia Black</p>

<p>Animagus Form: Grim</p>

<p>Date First Achieved: January 30th, 1993</p>

<p>Distinguishing Features: Bright Violet Eyes</p>

<p>A tear formed in one eye.</p>

<p>Slytherin’s voice called out down the corridor. “You can thank Harry!”</p>

<p>You can thank Harry.</p>

<p>Sirius wiped the tear away. It was a bloody good thing he was facing away from his men.</p>

<p>He knew being a single father was hard. But when Alex had arrived into his life, he hadn’t realised just how hard it was going to be. The legacy of the Black family, her mother, her unusual birth, family magics, the wrong sort of wizards, Kreacher, the portraits around Grimmauld Place — the list of things to protect her from seemed endless. And at some point that he couldn’t identify Alex had gone from his little angel to resenting him. And in the worst possible way. Alex <em>wanted</em> the legacy of the Black family. She wanted the rituals. She wanted the society, the traditions, the magic. She wanted the power. She wanted everything that he had grown up hating.</p>

<p>And the harder she’d pushed, the harder he’d pushed back.</p>

<p>There were many things expected of the heiress of an Ancient and Noble house, and he’d taught his daughter basically none of them.</p>

<p>Not even the prerequisites for the animagus transformation — the one aspect of being a Black he himself had not shunned.</p>

<p>And now that he thought about it, with how little instruction he’d arranged during her early years, even that particular accomplishment would have long been out of her reach without outside help.</p>

<p>Many things were expected of being a Black. Ruthlessness, stubbornness, a cut-throat cunning streak — but perhaps the one thing that was expected above all else, was being in the know. And a Black who wasn’t in the know…</p>

<p>The memory of a mad cackling filled Sirius’ mind.</p>

<p>…was worse than dead.</p>

<p style="text-align: center;">— End of Chapter Fifty-nine — </p>
