Chapter 5 - Greetings, I am Lord Slytherin - Part 2

<p>Daphne Greengrass, Heiress of the Ancient and Noble House of Greengrass, sat in a garden chair, bathing in the mid-morning sunlight, practising her occlumency. It helped her focus. She needed the distraction. The feelings of helplessness had been getting stronger, like a fist squeezing her heart.</p>

<p>“Daphne, we have a guest for you to meet.”</p>

<p>She looked up to see her mum leading—no, walking with…</p>

<p>“I already know John Potter, Mother,” she said, disdain etched across her face.</p>

<p>The boy continued walking right up to her. “I assure you, Miss Greengrass—”</p>

<p><em>Miss</em>?</p>

<p>“—although I may look like John Potter, I most certainly am not John Potter.” He held out his hand, and, creating an overwhelming sense of déjà vu, took her hand as she reached out, and brushed his lips against her knuckles.</p>

<p>This certainly wasn’t John Potter. Daphne’s eyes trailed over a very obvious lightning-bolt-shaped scar on the boy’s forehead. So, who was he?</p>

<p>“Harry is taking a break from business with your father and I suggested that since you are the same age, and will be going to Hogwarts together, you might show him around the gardens?”</p>

<p>She looked the boy over. Something wasn’t quite right. “Harry who?” she asked.</p>

<p>The boy smiled. “Just Harry for now, Miss Greengrass. My family name is a Greengrass family secret.”</p>

<p>Daphne’s head whipped around to her mother, who just nodded.</p>

<p>She returned her gaze to Harry and narrowed her eyes. If this boy was going to be all secretive, then she had no reason to be familiar.</p>

<p>“Very well, Mister Harry. Would you follow me?”</p>

<p>“Lead on, Miss Greengrass.”</p>

<p>The pair walked away from the patio and into the garden proper. It was a big garden.</p>

<p>Daphne couldn’t help stealing glances at the boy walking beside her. Something about him was different. He walked with confidence, but he didn’t strut like many of the other boys did. He wasn’t talking much, but it wasn’t shyness — more a comfortable silence. She’d never seen him at family parties, but his clothes were very rich.</p>

<p>“Mister Harry, what kind of ‘business’ do you have with my father?”</p>

<p>“We were working on a plan for something he’s doing in the Wizengamot.”</p>

<p>She scoffed. “There’s no way Father would ask for help from children like us for his Wizengamot work. You’re a liar, Mister Harry. What were you really doing with him?”</p>

<p>They’d reached the top of a ridge overlooking the flowerbeds.</p>

<p>She expected him to react angrily to her comment. Any of the other boys would have, especially after being caught in a bare-faced lie, unless they were timid, which the boy didn’t seem to be. Instead, he smiled at her. It was quite a nice smile.</p>

<p>“Miss Greengrass, in the Wizarding World, you have to accept that sometimes everything is not quite what it seems. This is a nice place isn’t it,” he said, turning to the beds.</p>

<p>“Wha? Er. Yes. Wait, what was that before supposed to mean?” She glared, putting her hands on her hips and tried to look indignant like she’d seen her mum do when her dad was failing to be funny. It didn’t seem to be working.</p>

<p>“Care for a seat?”</p>

<p>Now she was just confused. “There are no seats.”</p>

<p>Her eyes widened when the boy produced a wand from somewhere, and her jaw dropped when the boy silently conjured a large, comfy-looking garden chair for her.</p>

<p>“W-w-w-w-wha-what. H-how?”</p>

<p>Boys weren’t supposed to be able to do that. She’d never even seen an adult wizard do that, but this boy had just done it.</p>

<p>“Like I said,” the boy said, conjuring a second chair for himself and seating himself with a loud ‘whumpf’, “things in the Wizarding World aren’t always what they seem.”</p>

<p>The boy was looking at her expectantly and she carefully sat down in the chair, as though expecting it to disappear the moment she trusted it to hold her weight.</p>

<p>“Your garden really is very nice, do you come out here a lot?”</p>

<p>Daphne was being thrown. Somehow she’d lost control of the momentum of the conversation. And the boy still hadn’t answered her question, or gotten angry.</p>

<p>“Y-yes quite a lot. I—” She hesitated. “I like the outdoors.”</p>

<p>He smiled that annoyingly nice smile again. “I like the outdoors too,” then his smile faded, “there’s nothing worse than being trapped inside.”</p>

<p>Silence descended on them again, and again, the boy didn’t seem to mind. He stared out over the grounds, and she couldn’t help think how mature he looked. Was it possible he’d been serious before?</p>

<p>“Um, Mister Harry?”</p>

<p>“You can call me Harry, you know.”</p>

<p>“Okay, Harry,” she said, belatedly realising she’d just happily accepted his permission to use his first name, when she was the one who’d decided to snub him with the honorific. “How do you have a wand? We’re not supposed to have a wand until we go to Hogwarts.”</p>

<p>“That is one of my own family secrets.”</p>

<p>She harrumphed. “I wish I had a wand. We have lots of old ones, but Father won’t let me use them.”</p>

<p>“You are practising wandless magic though, aren’t you?”</p>

<p>“What? No. Only really powerful wizards can use wandless magic.”</p>

<p>“That’s not true. You were practising occlumency before, weren’t you?”</p>

<p>“I… that doesn’t count.”</p>

<p>“It really does, you know. Being good at occlumency is the first step in being able to learn wandless spells.”</p>

<p>“Really?”</p>

<p>“Oh yes. And there are lots of other types of magic for which being a good occlumens is important — like transfiguration and becoming an animagus.”</p>

<p>Daphne sighed. “I so want to become an animagus.” She looked up at the birds flying around the gardens. To be free like them, what she wouldn’t give.</p>

<p>“Yeah, me too,” the boy said. He paused before continuing, “tell you what, when we’re at Hogwarts, why don’t we learn it together?”</p>

<p>She widened her eyes again. “Can we do that?”</p>

<p>“Sure, why not, just don’t tell your parents we had this conversation, okay?”</p>

<p>She smiled. The boy, Harry, may be keeping secrets, but he didn’t seem too bad. And if his skill with a wand was any indication, he’d be a useful person to have around. “Okay.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry sat opposite Jacob and Sunny, finishing up the latest round of correspondence between Lord Slytherin and the various members of the neutral faction.</p>

<p>“Harry, we’d like to talk to you about Daphne,” Sunny said, breaking him out of his focus.</p>

<p>“Oh yes?”</p>

<p>Sunny seemed to hesitate before plunging on. “For the last few months we’ve been engaged in talks with Lord Walter Slughorn about a possible betrothal contract between him and Daphne.”</p>

<p>Harry nodded slowly. The uncle of the famous potions master. He could see why they’d do that — the Slughorn family were notorious networkers.</p>

<p>The Greengrasses were looking at him, as though expecting something.</p>

<p>“Well, it makes sense,” he said, “from a strategic point of view.”</p>

<p>Jacob took over, “Yes, that’s why we were doing it, but, well…”</p>

<p>“Daphne isn’t really that happy with it,” Sunny jumped in again, “he’s quite a bit older than she is, when they marry on her majority he’d be almost fifty, and I think she was expecting something else, and we really don’t like it much either, but if we don’t have a good excuse for breaking off the negotiations, we might alienate an important lord who we were trying to secure,” she finished in one long breath.</p>

<p>“I see.”</p>

<p>“We were wondering,” She took a second deep breath, “we were wondering if we could offer you her betrothal instead.”</p>

<p>Harry’s eyes widened slightly. He really should have seen that coming, but it still blindsided him. “Um, wow… Lord and Lady Greengrass, I’m very honoured. Daphne is a wonderful person and I’m sure one day she’d make a wonderful wife… though I must admit I was already considering another.”</p>

<p>“It’s okay, Harry. You don’t have to give an answer now, but promise us you’ll consider it… please?” Sunny implored.</p>

<p>“I will consider it.”</p>

<p>“That’s all we ask.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Daphne was waiting in the manor foyer. She’d been told Harry was taking her somewhere today. Recently, for some reason, her parents seemed to be very keen for her to spend time with Harry.</p>

<p>Her mother had made it very clear that Harry was in charge, and that she should listen to him, which had annoyed her. She could look after herself after all, but, at the same time, she could see where they were coming from. In the last few weeks, Harry had shown a skill with magic that bordered on the mythical. It seemed to her there was nothing he couldn’t do.</p>

<p>“Good morning, Miss Greengrass.”</p>

<p>She turned. “Good morning, Harry. Are you going to tell me where we’re going, then?”</p>

<p>“Well, I thought I’d make it a surprise, but I suppose I could give you a clue.”</p>

<p>“Go on then.”</p>

<p>Harry took out his wand, waved it over her, and her robes changed into something that could only be described as extremely muggle.</p>

<p>“What is this?” she shouted, “Why am I wearing boys clothes?”</p>

<p>“You’ve never seen girls wearing trousers before?”</p>

<p>“Well, yes.” She blushed. “But I’ve never worn them myself.”</p>

<p>“Wow. Pureblood princess indeed.”</p>

<p>“Shut up, Mister. What is this stuff anyway?” She felt the cool, smooth material that covered her. It felt warm and snug on the inside. The top was bright blue with orange dangly things attached. The trousers were dark green and made of the same material. Her shoes now felt massive, like wearing bricks.</p>

<p>“It’s outdoor gear. It’s what muggles wear when they’re going exploring.”</p>

<p>Daphne perked up at that. “Really? We’re going exploring?”</p>

<p>“Well, neither of us have been where we’re going, even if I do know quite a bit about it, so sure, let’s go with that.”</p>

<p>“And we’re getting there, how?”</p>

<p>“Knight bus.”</p>

<p>“Oooo, I’ve never been on the knight bus before! Lead on then, Harry.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Daphne was on a buzzing high.</p>

<p>“That was amazing!”</p>

<p>“…”</p>

<p>“It was just so wavy! All over the place.”</p>

<p>“…”</p>

<p>“You okay, Harry?” She suddenly noticed he looked a little ill.</p>

<p>“…Next time… I’ll just disillusion us, and we’ll go by broomstick,” Harry said, bent over slightly, hands on his knees.</p>

<p>“Oooo! That would be amazing too!” She looked around. “Where are we anyway?”</p>

<p>The bus had dumped them on a roadside, seemingly in the middle of nowhere. Green hills stretched as far as the eye could see. Down in the valleys she could see woods growing around streams. There wasn’t a single other person, muggle or magical, anywhere. A light mist hung in the air, peaceful, ethereal.</p>

<p>“Welcome to Dartmoor.”</p>

<p>“Dartmoor?” she exclaimed. “Home of the faeries?”</p>

<p>Harry grinned. “Not for a very, very long time. And what we’re here for is far less likely to bewitch us into insanity, so don’t worry.”</p>

<p>“That’s very reassuring, Mister Harry… It is very pretty though.”</p>

<p>“Well, we’re going deeper now. Have you ever side-along apparated?”</p>

<p>Daphne nodded, not even bothering to register shock that someone her age could apparate. The normal rules didn’t seem to apply to Harry. The fact they were here, on their own, was testament to that. Her parents had barely let her out of their sight her entire life, and suddenly here she was.</p>

<p>Harry held out his arm to her, she took it, and they both felt the distinctive squeezing sensation.</p>

<p>Crack!</p>

<p>Daphne, still on Harry’s arm, appeared on the top of another hill. She quickly looked around.</p>

<p>“What’s that?” she asked, examining a landscape filled with grass and rocks. The rocks were laid out in a big circle filled with lots of smaller squares and circles. It looked like a blueprint drawn in the earth.</p>

<p>“That is Grimspound,” Harry replied. “It’s an ancient Bronze Age settlement — both muggles and magicals lived there, probably either druids or Viking rune-smiths — hard to say though. It was named after Grim, the god of war, or Odin as he’s better known today. The muggles bred cattle while the magicals bred unicorns.”</p>

<p>“It’s beautiful.”</p>

<p>“If we walk down, we can go explore it. It’s a really cool place.”</p>

<p>Harry wiggled his arm, and she realised she was still holding it, and quickly let go, face flushing red. It had felt entirely too natural.</p>

<p>Five minutes later, Daphne was running from ruined hut to ruined hut, thoroughly enjoying the squelching feeling of her boots in the boggy ground around the settlement.</p>

<p>“I don’t suppose there are still unicorns around are there?” she called over to Harry who sat atop a stone pillar — the remains of a large gate.</p>

<p>“Afraid not,” he called back. “The only herd in England is in Cumbria.”</p>

<p>She stilled. “Where I live?”</p>

<p>“Yeah.”</p>

<p>“You mean, I’ve lived near a unicorn herd all my life, and didn’t know it?”</p>

<p>“Sounds like it.”</p>

<p>“Damn,” she whispered.</p>

<p>“You okay?” He walked closer.</p>

<p>“Sorry, Harry. I think I just realised how little I’ve seen of the world. I was raised in Greengrass Manor. I’ve been to the other manors of the ancient and noble houses, and occasionally the alleys, but that’s it. My idea of outside, up until now, has been the garden, but this,”—she gestured to the vast expanse of moorland—“is so much more.”</p>

<p>Harry smiled. “Want to see even more?”</p>

<p>“Yes!”</p>

<p>Several hours of hiking across moorland later and Daphne found herself in front of a gate leading into a wood.</p>

<p>“And this place is?” she asked, still breathless from the long hike over the hills. She had never felt like this before. She felt so… alive.</p>

<p>“This is Yarner Wood. The muggles have a bird nesting program going on here, so there are a lot of different species in there.”</p>

<p>“Then let’s go.” Daphne grabbed his hand and pulled him forward.</p>

<p>Soon she was surrounded by the happy sounds of songbirds.</p>

<p>“It’s winter at the moment, so there aren’t as many as other times of the year, but it’s still nice, don’t you think?”</p>

<p>“Yes, it is,” she said. It was so tranquil.</p>

<p>“We’ve still got a ways to go — c’mon.” This time, <em>Harry</em> grabbed <em>her</em> hand.</p>

<p>“Gah!”</p>

<p>Three hours later, Daphne was exhausted. She felt like they’d walked all over this forest. She’d cooed over bird boxes and pointed, excited, to every bird she’d seen.</p>

<p>Harry seemed distracted though.</p>

<p>“You okay?” she asked, sitting on a convenient rock to catch her breath. Her calves, thighs, and posterior were all on fire.</p>

<p>“Yeah, just didn’t feel what I was looking for.”</p>

<p>“What were you looking for?”</p>

<p>“I’m on the lookout for a specific bird species. It’s a little side project of mine. I’ll let you know more later, but we should be heading back now.”</p>

<p>“Okay.” She paused, looking deep into his green eyes, before continuing, “Thank you for bringing me here, Harry.”</p>

<p>“Hey, no problem, we’re friends right?”</p>

<p>She smiled, hearing him say it felt nice. “Yeah, friends.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Chief Warlock of the Wizengamot, Albus Percival Wulfric Brian Dumbledore, arrived in the Wizengamot chambers. There was a group of wizards and witches standing in a huddle around one of the seats, and with a politician’s instincts for where the action was, he wandered over.</p>

<p>“Good morning, Jeffery. Good morning, Richardson — Cliff — Abbott.”</p>

<p>The wizard addressed as Jeffery turned.</p>

<p>“Good morning, Albus. Have you seen this?”</p>

<p>“No, I don’t think—” Dumbledore froze, gaze falling on the crest adorning the back and arms of the chair the other wizards had been crowding. “Ah, that… oh dear.”</p>

<p>“Albus,” said the one known as Richardson, “surely there has been some kind of mistake, or it is a joke.”</p>

<p>“I’m afraid that’s not possible. The Wizengamot chambers are controlled by the Albion Family Magics. There is no way to fool it — to do so, you’d have to tamper with the ancient magics woven by Merlin himself.”</p>

<p>“Well then,” another wizard said, “who is it? After all this time?”</p>

<p>“No doubt we are about to find out.” Without fanfare, Dumbledore slid the Elder Wand out of its holster on his wrist, keeping it ready in his wand hand. He remembered damn well who the last heir was, and since there was currently no possibility of any other succeeding the line, that could only mean one thing. Somehow, Tom had found a way to both return, <em>and</em> finally claim the Lordship that had eluded the former Slytherin king all his life.</p>

<p>Was it all about to kick off again? Did he need to reconvene the Order? Was it time to grab Harry Potter from his muggle prison to let fate have her way with him?</p>

<p>As more wizards and witches flooded the chamber, the hubbub grew as rumours flew amongst them. Some raised their voices, some looked horrified, others fascinated, and yet others thought it was all a big joke.</p>

<p>Eventually the room, save one chair, was full, and Dumbledore rose to the podium of the Chief Warlock.</p>

<p>“Good morning Lords and Ladies, wizards and witches, of the Wizengamot, and welcome to the 1470th winter solstice since the establishment of the Albion Family Magics. Normally this would be a somewhat standard session, however, it seems we have an old family seat reactivated.”</p>

<p>A susurration of murmuring filled the chamber.</p>

<p>He tightened his grip on the Elder Wand.</p>

<p>“Could they, with the required ring, please come forward to take the swearing-in oath before they take their seat?”</p>

<p>One figure stood, and Dumbledore had to reign in his surprise. In fact, he was so shocked he forgot he was supposed to be on alert.</p>

<p>Lady Sunny Greengrass, wife of the leader of the neutrals, descended the stairs from the visitor gallery to the Wizengamot floor, decked out in full Wizengamot regalia. And on her robes, clear to be seen by all, was the crest of Slytherin House.</p>

<p>What did this mean? Had the neutrals fallen to the Dark? That would be the worst possible outcome. With the neutrals in their pocket, the Dark would, for the first time ever, command a majority in the chamber, and could push through whatever laws they wanted. That would be a disaster of the highest order.</p>

<p>But… something didn’t feel right.</p>

<p>He looked out across the hall and took in the faces of the chamber.</p>

<p>Despite the advanced occlumency every member learned as a matter of cause, he could clearly see the emotions broadcast across the hall. The Dark and Light were shocked, but not a single neutral looked surprised.</p>

<p>Lucius Malfoy looked like he’d just bitten into a cockroach.</p>

<p>What did it mean?</p>

<p>He returned his focus to the elegant, blonde-haired witch standing in front of his podium. “Lady Greengrass,” he said, “do you stand here today to accept the seat of Slytherin House on behalf of Lord Slytherin, and wear his proxy ring?”</p>

<p>She flashed a hand, on which appeared a very distinctive silver ring. “I do.”</p>

<p>“And do you swear on your family’s honour to uphold the laws, customs, and honour of this chamber, and work towards the betterment of magical kind in all its forms, both present and future?”</p>

<p>“I do.”</p>

<p>“Very well, please take your seat.”</p>

<p>“Chief Warlock,” the Lady said, “I believe it is customary for a newly seated member to give a speech to the chamber.”</p>

<p>He considered. This would give them an insight into what Tom’s positioning was. So much about what was going on confused him, any information would be helpful.</p>

<p>“Very well, Slytherin Proxy Lady Greengrass. Please go ahead.”</p>

<p>The newly minted Slytherin Proxy turned and beheld the chamber.</p>

<p>“My fellow Lords and Ladies, wizards and witches. My Lord Slytherin has asked me to give you this speech, prepared by him.</p>

<p>“A thousand years ago, the founder of my line helped build an establishment that has lasted to this day. Hogwarts castle and its school stand as a monument to what a person, supported by friends, can achieve. Since that time, many of the greatest wizards and witches of our world have been members of my house, a fact I am immensely proud of. That notoriety has also, for some, become a tool in and of itself.</p>

<p>“In recent years, it has become fashionable to wear the clothes of the ancients to better pitch a modern ideology. None have suffered from this more than Slytherin House, and it is my intention to work closely with all those who identify with my house to reestablish the primacy of the honourable and ancient traditions of the house that Salazar Slytherin founded.</p>

<p>“Those traditions are ambition, drive, and the ability to understand what lies at the core of our humanity, both the good and the ugly, and work with it to achieve great things. These traits give those who call my house theirs the potential to achieve greatness, and with that potential, and its realisation, comes power. If there is one absolute law of power, it is that it brings out the true character of those who wield it. Slytherins must, above all others, exercise restraint, sound judgement, and, dare I say it, cunning, in all their dealings, to prove they are worthy of being called a Slytherin.</p>

<p>“Those that prove themselves worthy can truly be included in my house and my family.</p>

<p>“Ever since Merlin forged the Albion Family Magics, the value of family has been spellbound into the very fabric of our people. Those old and ancient magics rule over our lives and help ensure our culture and society continues.</p>

<p>“The Hogwarts houses are unique among the ancient families of our culture in being the only houses that accept members from outside their direct bloodlines or unions, into their families. For everyone who ever sat on the Hogwarts stool, and was called to the Most Ancient and Noble House of Slytherin, a small amount of Slytherin family magic runs through your body forever, regardless of how high you rise, or low you fall.</p>

<p>“As Lord Slytherin, the head of said Most Ancient and Noble House, it is my intense wish to see you, the members of my family, rise high.</p>

<p>“Who here doesn’t fight for their family? Who doesn’t fight to ensure we have a future we are happy to hand over to our children? Ensuring the families of our world have a place and future is the legacy of those old, ancient magics, and I look forward to the day I can pass on the baton to future generations, happy in the knowledge that they do.</p>

<p>“Thank you.”</p>

<p>She walked up the stairs to take her new seat.</p>

<p>There was a smattering of applause, mostly from the neutrals, but most, Dumbledore knew, were too busy decoding all messages in what they’d just heard.</p>

<p>He certainly was.</p>

<p>What the hell had that been? That wasn’t a speech Tom would give. Hell, there were plenty of positively Light messages in there, mixed in with Darker ones, but definitely more traditionalist than blood-supremacist. It was practically, well… neutral.</p>

<p>The realisation hit him, hard.</p>

<p>Despite how seemingly impossible it was, Lord Slytherin wasn’t Tom. But then, who would it be? Who was Lord Slytherin? The only name even remotely in the running was Harry Potter, because of the right of conquest, but that was impossible, both because of Tom not being truly dead, and the boy’s age.</p>

<p>Might Morfin or Marvolo Gaunt have sired a bastard child without anyone knowing? It seemed impossible given what he knew of the family, but it was less impossible than it being Harry Potter. Come to think of it, if there was an unknown male line running around, it might explain why Tom was never able to claim the Lordship.</p>

<p>It wouldn’t explain why they’d never been picked up before though… they’d have had to have been outside the country. Okay. So what he had here was a recently returned male bastard line of the Gaunt family, which, apparently, was extremely neutral and gray in its philosophy.</p>

<p>And they were about to attempt to massively influence the students and graduates of Slytherin House. That was something that couldn’t be allowed to happen without careful oversight. He’d have to talk to this Lord Slytherin and persuade him to work with him to ensure he wasn’t making any grievous errors. He couldn’t allow a breeding ground for dark lords to form.</p>

<p>Someone in the chamber coughed loudly, and he realised he’d been lost in his thoughts, silence filling the hall, for a full thirty seconds.</p>

<p>“Ah, yes. Thank you, Slytherin Proxy Lady Greengrass, for those words, and please pass on our thanks to your Lord Slytherin. I’m sure you’ve given many people a great deal to think about. Let’s now proceed onto other business.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>The new Slytherin Proxy Lady Sunny Greengrass, temporarily the most interesting person in the Wizarding World, arrived home after many hours of snacking on finger food, pretending to drink, and fielding questions.</p>

<p>She immediately felt something wrong.</p>

<p>From the sitting room came the sound of sniffling and sobbing.</p>

<p>She walked in.</p>

<p>“Dear?”</p>

<p>The sight of her daughter, Daphne, curled up in a ball on one of the couches, gently rocking herself, tears streaming down her face, wrenched at her heart and shredded all thoughts of work.</p>

<p>Daphne looked up and hiccupped. “I don’t want to,” she said, her voice barely reaching across the room.</p>

<p>Oh dear. She closed her eyes. The regular after-Wizengamot meeting with Lord Slughorn had obviously <em>not</em> gone well.</p>

<p>“I don’t want to,” the girl repeated, a little louder this time.</p>

<p>She walked across the room, sat down next to Daphne, and wrapped her up in her arms, holding her close, stroking her hair. She didn’t say anything. She couldn’t think of anything to say.</p>

<p>“He’s horrible!” her daughter suddenly burst out. “I don’t want to, I don’t want to, I don’t, I don’t,” she cried, clutching at her robes, and soaking them with tears.</p>

<p>Lady Sunny’s heart broke. She felt so helpless. If nothing changed soon, the signing would happen in the next few weeks, and her daughter’s match would be sealed. She couldn’t bear to see her Daphne’s spirit slowly crushed like this. It was too painful.</p>

<p>Screw it. She knew she could get in a lot of trouble for doing this, but she didn’t care anymore.</p>

<p>“Dear,” she started, softly, continuing to stroke the hair of the little blonde in her arms, “I really don’t want to get your hopes up, but I think I should tell you that we have spoken with another about your betrothal.”</p>

<p>Daphne sniffed. “Who?”</p>

<p>“Harry.”</p>

<p>The girl stilled in her arms and stayed that way for a long time.</p>

<p>Finally, Daphne spoke. Her words were barely audible. “And what did he say?”</p>

<p>“He said he’d consider it.”</p>

<p>More silence.</p>

<p>Suddenly, the little girl moved, and before she could register what was happening, Daphne was up and running for the door, almost tripping over her robes in her haste.</p>

<p>Lady Sunny watched her daughter disappear from sight, hoping something good was going to happen, and praying she hadn’t just made a huge mistake.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Daphne ran through the halls of Greengrass Manor. She <em>needed</em> to find Harry. She <em>needed</em> to.</p>

<p>Eventually, she opened a door to an unused room and found him sitting at a desk, reading something. Her throat constricted, but she choked out, “Harry.”</p>

<p>“Miss Gree—” Harry looked up, and stopped, clearly startled. “Daphne? What’s wrong? You look terrible.”</p>

<p>She ran at him and threw her arms around him, clinging to him.</p>

<p>“Please,” she said, desperation weighing every syllable, “Please don’t leave me to that man. He’s horrible! I told him about wanting to explore the world, and he laughed at me! He said that wasn’t what witches should do. He said when I was married to him, I was going to stay at home, host his parties, and raise his children, and that was all I was for. Then I got angry, and did some accidental magic that turned his skin blue, and he slapped me! He said that I would learn to be obedient, or he’d never even let me step out of the house.”</p>

<p>She looked up into his face. It was hard, and he wasn’t smiling.</p>

<p>“Please Harry,” she repeated, “I don’t want to be a prisoner for the rest of my life.”</p>

<p>Something flickered in his eyes, and she thought she saw his face soften a little.</p>

<p>Eventually, after what seemed an eternity, he spoke. “Daphne… living by my side would be very dangerous.”</p>

<p>“I don’t care!” She gripped him harder.</p>

<p>“You know you wouldn’t be the only witch in my life.”</p>

<p>“I don’t care!” she repeated, “I trust you. I’ll do anything you want, just don’t let him have me… please…”</p>

<p>They sat in silence for a moment more before Harry extracted himself from her and walked to the door. He paused.</p>

<p>“Excuse me for a moment. I’ll be back soon.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Daphne sat in Harry’s office.</p>

<p>She’d been sat here for hours now.</p>

<p>The thoughts just wouldn’t stop. Again and again her mind tortured her with horrible images of Harry running away from the manor in disgust, or changing his mind, or her parents asking for things Harry wouldn’t accept, or changing their own minds, or deciding that Lord Slughorn was the only real choice, or Harry not being able to afford her bride price, or the family magics not accepting the contract, or, or, or…</p>

<p>She’d tried drawing inwards into her occlumency training, but that just made the images running through her head all the more vivid and unbearable.</p>

<p>Somewhere, far off in the manor, a clock struck late.</p>

<p>She was getting tired now. All her energy had been burned in worrying. She looked around the room, perhaps for the first time since she’d walked in.</p>

<p>Why did Harry have an office in the manor, anyway?</p>

<p>Come to think of it, she never did get an answer on what business Harry had with Father.</p>

<p>Daphne stood on shaky legs and walked over to the desk.</p>

<p>She ran her fingers, light as a feather, along the desk’s edge — across the letters and papers strewn across its surface.</p>

<p>She looked down at a pile of sealed letters in the out-tray. That was odd. The top letter, the only one she could see, was wax sealed with a crest that looked familiar.</p>

<p>It was a shield with a snake on it.</p>

<p>It looked like the crest of Slytherin she’d learned in heraldry lessons.</p>

<p>Why would Harry be sealing his letters with the crest of Slytherin? There had been that man that had visited a month ago, but Harry didn’t look anything like him, and the man had been too young to be his father.</p>

<p>Something niggled at the back of her mind, but she was too exhausted to pin it down.</p>

<p>She looked around for a seal stamp, but couldn’t see one, and she wasn’t about to start rifling through drawers.</p>

<p>Daphne looked down at the letter again. The seal really was small, and the crest so intricate.</p>

<p>She turned her hand over and laid the back of one finger over the seal. Her finger didn’t cover the width of the seal, but it wasn’t far off.</p>

<p>A signet ring?</p>

<p>Strange.</p>

<p>“Ahem.”</p>

<p>Daphne spun around, red-faced, heart leaping into her throat, and saw the one she’d been waiting for.</p>

<p>Harry stood in the doorway, casual, smiling, and in his hand he waved a very ornate-looking parchment.</p>

<p>“All signed and official,” the boy said, as though he’d just got back from shopping in the Alley. “We shall become Lord and Lady in our fifth year at Hogwarts, some eight years from now.”</p>

<p>Daphne covered the distance between them in a heartbeat and hugged him as tight as she could. “Thank you, Harry. Thank you, thank you, thank you,” she cried, doing her best to hold back the rapidly forming tears.</p>

<p>For a long time she held him, Harry easily supporting her weight, until, eventually, she let go, wiped her eyes with the sleeve of her robe, and looked at him, impishly.</p>

<p>“So,” she began after a quick sniff, “am I now to learn what Lady I am going to be?”</p>

<p>Her new betrothed grinned. “I thought you’d have figured that out already by your snooping on my desk.”</p>

<p>She felt blood flushing her cheeks. “No. I just saw the Slytherin crest.”</p>

<p>Harry brought his hand up and wiggled his fingers in front of her face. A ring stood out on them.</p>

<p>Her eyes widened. “Seriously, Harry! You’re the heir of Slytherin?” she shouted.</p>

<p>“Yep, well… actually I’m a bit better than that. I hope you can take the limelight because you’re going to be in it.”</p>

<p>“What do you mean, a bit better? And… how can we become Lord and Lady Slytherin if there’s already a Lord Slytherin?”</p>

<p>“You remember what I said in our first conversation in the garden? Things in the Wizarding World are not always what they seem.”</p>

<p>Daphne remembered. She was unlikely to ever forget.</p>

<p>“Now we’re betrothed, there are quite a few family secrets I refuse to keep you in the dark about. Your parents are downstairs, and we’re going to have a long chat about a bunch of different things.”</p>

<p>“Will that include what you’ve been doing with Father?”</p>

<p>“Yes. Although I’ve no doubt you’d be able to piece that together from tomorrow’s Daily Prophet.”</p>

<p>Daphne looked into his green eyes again. Somehow, Merlin only knew how, she’d just dodged a killing curse, and found the philosophers stone. She was going to be Lady Slytherin, and married to someone who, in the short time she’d known him, had shown himself to be strong willed, understanding, mature, and impossibly magically powerful.</p>

<p>She’d gone through hell and came out into the sunlight on the other side.</p>

<p>“Lead on, my future Lord Slytherin?” she suggested.</p>

<p>“After you, my future Lady Slytherin.”</p>

<p style="text-align: center;">— End of Chapter Five —</p>

