Chapter 60 - Nature Red - Part 4

<p>‘Well, that was a good-ish deed for the day’, Harry thought, arriving by floo inside the Leaky Cauldron. There was no doubt Lord Black could potentially be an incredibly useful ally. Quite apart from his being Alex’s father, Chief Auror, and a lord of the Wizengamot, he was also Harry’s godfather.</p>

<p>And while the man hadn’t acquitted himself amazingly well in the past in that regard, he also hadn’t pissed all over him during his darkest hour. There had been many people in that courtroom, back in the last timeline, when Harry had been sentenced to Azkaban, but not Lord Black.</p>

<p>Tapping the pattern on the bricks outside the Leaky Cauldron with his wand, Harry watched as the entrance to Diagon Alley opened and the sounds of a hundred wizards and witches, many from overseas, swept over him.</p>

<p>“Psst! Look, it’s him!”</p>

<p>“Is he really writing a book?”</p>

<p>“That’s what I heard.”</p>

<p>“Dragon liver! Six knuts an ounce!”</p>

<p>“That’s outrageous!”</p>

<p>The goblin guards outside Gringotts noticeably stiffened as Harry approached. Not the best reaction he could have hoped for, but it was better than outright hostility.</p>

<p>They both clicked their halberds in unison as he passed between them up the stairs.</p>

<p>The doors to the bank swung open.</p>

<p>Harry took a moment to centre himself. He had both his wands, the cloak, enough potions to supply a small army, and of course, his new ace-in-the-hole, a chimaera animagus form — part Nemean lion.</p>

<p>He then walked forward, passing through the doors, out of Magical Britain, and into the sovereign territory of every goblin the world over.</p>

<p>His footsteps echoed on the marble floor. The hall was quiet at this time of day and Harry fancied that every clerk caught his eye as he made his way to the end of the room.</p>

<p>The head clerk looked down at him over a desk that magically adjusted its height to be exactly four feet taller than whoever stood before it. “Yes?” the goblin asked.</p>

<p>“Lord Slytherin here to see Account Manager Boneslicer, Chief of the Boneslicer Clan. I am expected.”</p>

<p>“Yes, you are,” the head clerk said, rather acerbically. “If you will wait one moment. Convertible-Security!”</p>

<p>Harry allowed himself to be led away by the summoned goblin. “I was not aware of a Convertible-Security in the Boneslicer Clan.”</p>

<p>The goblin did not answer.</p>

<p>They turned several corners and passed several statues that Harry was sure he’d never passed before during his times in the bank.</p>

<p>“You’re not a Boneslicer, are you?”</p>

<p>Again no reply.</p>

<p>They turned another corner and Lord Slytherin stopped dead. The sound of rushing water ahead was punctuated by a change in decor, from smooth marble to rough rock. It was a thief’s downfall — the illusion-cancelling waterfall Gringotts used to catch vault robbers. Harry’s mind immediately jumped to the anti-magic effects of the ghost gem.</p>

<p>“After you, <em>Lord Slytherin</em>,” Convertible-Security growled.</p>

<p>Shit. As far as he knew, only the Boneslicer clan knew that Harry Potter was Lord Slytherin. Technically, he’d still have the mask, but even that was magic. What if thief’s downfall had additional unadvertised effects? Like for example, magic cancelling?</p>

<p>“Lord Slytherin!” Convertible-Security said again, more forcefully this time.</p>

<p>“This is not the way to Account Manager Ragnok Boneslicer,” Harry said, slowly. “I wish to be taken there.”</p>

<p>“You will be. After you walk through the thief’s downfall.”</p>

<p>“I was not informed this was necessary.”</p>

<p>Convertible-Security snarled. “But you were informed of the sacred nature of the mist jewels, and yet you allowed one to be destroyed. How can we trust such a shadow to walk freely in our halls? Defiler of sacred artefacts!”</p>

<p>“I wasn’t told they were sacred…”</p>

<p>Harry turned just in time to witness the arrival of a dozen armed goblins piling into the corridor behind him, blocking off his line of retreat. They all carried runed weapons and wore armour forged of goblin steel.</p>

<p>Harry felt adrenaline rush through his veins.</p>

<p>“Walk, Lord Slytherin. And if you dare pull a wand, I promise it will be the last thing you ever do.”</p>

<p>The beast king just below the surface roared to be let free — to feel steel turned aside on his coat while jaws crushed bone. Forward or back? Submit or fight? Lord Slytherin or chimaera? His secret persona exposed before he was ready or potential war with the goblins? Which was worse?</p>

<p>Luckily for him, the answer to that question turned out to be irrelevant.</p>

<p>“STAND ASIDE!” bellowed a voice behind the crowd of goblins.</p>

<p>Convertible-Security cursed.</p>

<p>“WHAT IN THE GOBLIN KING’S NAME IS GOING ON HERE?”</p>

<p>In those few moments everything changed. The goblins that had been facing Harry now all had their backs to him, weapons brandished at a second group of goblins, led by none other than Ragnok Boneslicer.</p>

<p>“Stay out of this, Boneslicers!” One of the goblins nearer him shouted. “The shadow must be unveiled!”</p>

<p>“Slytherin belongs to the Boneslicer Clan!” Ragnok roared back. He glanced over their heads and made eye contact with Harry’s mask. “Your account does, I mean.”</p>

<p>Harry nodded. “Do you need any help, Ragnok?”</p>

<p>“No. You just stay there! You’re in enough trouble as it is.”</p>

<p>“Trouble?!” screamed Convertible-Security. “Trouble is for wizards who miss an interest payment! Slytherin destroyed one of the sacred artefacts! He must be punished!”</p>

<p>“And unless our king intervenes, that punishment is mine to deal!”</p>

<p>In the privacy of his mind, Harry cursed. There <em>was</em> going to be a consequence for Mister Granger’s new talent. The question was how large was it going to be?</p>

<p>“So unless you wish to challenge the clan for control again, stand aside and allow my client through!” Ragnok finished.</p>

<p>Silence filled the corridor.</p>

<p>“Fine!” Convertible-Security snapped. “But know that the king will not support you forever, Boneslicer!”</p>

<p>The sheer hostility directed his way as Harry walked through the grudgingly formed rows of armed goblins was almost physical.</p>

<p>Harry did <em>not</em> collapse into the chair in Ragnok’s office. He sat down with all the control expected of Lord Slytherin. But nevertheless, he somehow managed to express the idea of physical relief, regardless.</p>

<p>“What was that?” Harry asked.</p>

<p>Ragnok groaned as he took his own seat on the other side of the table.</p>

<p>“That was the Goldtooth clan.”</p>

<p>“A rival?”</p>

<p>“Very much so. The Goldtooth clan controls the Dumbledore account. They have been hostile to the Boneslicers for hundreds of years. It was pure coincidence that our interests down here in the heart of our nation mirror our clients so closely. They have been trying to win your account ever since you first came to us.”</p>

<p>Harry felt a flash of horror and relief wash through him at almost the same time. “I’m glad that you’ve been able to hold my account for as long as you’ve been able to. I had no idea my secret identity was under threat from such an angle.”</p>

<p>“No clan should ever give confidential information about one client to another. Such an action would directly contradict the edicts set up by the Goblin King.”</p>

<p>Harry took off his mask and looked Ragnok in the eyes. “I trust that the accidental destruction of the ‘mist jewel’ my people found did not count as classified client information?”</p>

<p>Ragnok shuffled uncomfortably. “We had already reported your discovery to the Mistjewel clan. We had no choice but to report the destruction as well. It spread from there. But it will stay with the goblins, I can assure you of that. None of the clans could profit from sharing such knowledge with humans.”</p>

<p>Harry was suddenly very glad that he’d only reported the destruction of the gem and not the effect on Hermione’s father.</p>

<p>“And the punishment?”</p>

<p>“Financial.”</p>

<p>Harry was instantly on guard.</p>

<p>“How go your efforts to raise the boat from the sea bed?” Ragnok asked.</p>

<p>Harry said nothing for a few moments before answering.</p>

<p>“They go well,” he eventually said. “The Grangers should be seeing a muggle law firm as we speak to sort out some of the more important details, but the salient points on the muggle side are mostly accounted for. What about on the goblin side?”</p>

<p>Ragnok nodded once. “I will not insult your intelligence by beating around the bush, Lord Slytherin. What you are planning to do is something that the ICW has been trying to prevent ever since the Carnegie incident in Magical America. The difference in size between the magical and muggle economies is stupidly gigantic and has only increased since the rise of the United States of America. Free flow of money between the two is impossible while maintaining either the ISS or political stability. It only takes one muggle billionaire to completely upset a magical country’s economy. And while you’re not about to become that, you’ll be far closer than anyone in power would like.”</p>

<p>Ragnok paused. “What is the current estimated value of the gold in the sunken ship?”</p>

<p>“In pounds?”</p>

<p>Ragnok nodded. “I believe you said it was thirty million? 600,000 galleons. About thirteen per cent of GDP? But that was before you got the estimate from the muggle auction houses.”</p>

<p>“It was.”</p>

<p>There was a pause.</p>

<p>“And?” Ragnok asked.</p>

<p>Harry looked up at the ceiling, as though trying to remember something that he might have simply forgotten.</p>

<p>“Ehh… about four-hundred million.”</p>

<p>Ragnok groaned. “<em>Far</em> closer than anyone in power wants.” If Ragnok wore glasses, he would have taken them off. “Lord Slytherin. Harry. There is simply no way we can let that amount of money loose in the wizarding economy. Gringotts only exists because the ICW doesn’t trust the world’s economy to the home of the Albion Family Magics. Not after the last empire. There are limits to how far we can push the rules for you. And then there’s the penalty I need to exact for the destruction of the mist jewel.”</p>

<p>He picked up his quill and looked Harry in the eyes. “I think we can both agree that 600,000 galleons should be plenty for you to get by with? That’s what you thought you were going to get originally.”</p>

<p>“Ragnok,” Harry said slowly. “With all due respect, 600,000 is <em>not</em> enough. I have programs I need to fund. People I need to train. Investments I need to make. And if I can’t make them, Magical Britain could easily be plunged into a war that will make the last one look like a children’s playground scuffle.”</p>

<p>Ragnok grimaced. It was clear by the look on his face that he didn’t like doing this any more than Harry did. He put the quill on the parchment in front of him, anyway. “I’m sorry, Lord Slytherin. But you’ll have to make do.”</p>

<p>There was a loud knocking on the door.</p>

<p>Ragnok paused, quill still immobile on the parchment. “What?!” he yelled.</p>

<p>The door opened and Floating-Interest poked her nose through the gap. She looked flushed. “Sorry, Father, but…” Her gaze shot to Harry before travelling back to Ragnok. “But Lord Slytherin has been summoned… by the king.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The Hogwarts Great Hall was packed. Packed, quiet, and mostly contemplating the wonderful weather outside. On a normal Saturday, students would shuffle in and out for lunch over the course of ninety minutes, but this wasn’t a normal Saturday. Attendance was mandatory.</p>

<p>All eyes were on the high table where second-year Slytherin Tracey Davis was doing her best to Chief Warlock without boring everyone to death.</p>

<p>“And that’s Procedure 424. After that, the student Wizengamot will adjourn for exactly seven minutes, drink the traditional whiskey—err, in our case that will be pumpkin juice—then return and announce their appointments and recommendations for the heads of departments.”</p>

<p>A boy at the Hufflepuff table slowly drifted off to sleep.</p>

<p>Tracey turned to a new parchment. “Then the Scales of Judgement—in our case the Goblet of Fire—will announce the judges who will make up the Student Judiciary. Umm, in the normal judiciary there are six judges and one high judge, but since we’re not as large as Magical Britain it was decided that three would be enough. Please make sure to place your names in the Goblet before the Reformation of Councils.”</p>

<p>An older Slytherin student stifled a yawn.</p>

<p>“Once our new judges have taken up their mantles, we will move onto the announcement of our student minister. We’re determining this by simple majority. And since we lack a Nicolas Flamel, our impartial counter will be one of the staff.”</p>

<p>Daphne sat elegantly at the far end of the Slytherin table, watching the proceedings with eagle-like eyes. Everything was going well.</p>

<p>“And now, I’m going to announce the candidates for minister that I’ve been given. Could I ask each of you in turn to come to the front when I call your name?” Tracey looked around the Great Hall. “Cecil Travers!”</p>

<p>Travers, a fifth-year student, stood up from the Slytherin table to large applause from those dressed in green, and varying degrees of enthusiasm or disdain from the other three tables depending on house loyalty, family affiliation, personal feelings, traditional alliances, current state of favours owed or owing, and possibly current transitional position of Jupiter.</p>

<p>The boy swept up to the front dais, doing his best to look like he wasn’t trying to do his best to look as cool as possible.</p>

<p>Tracey nodded. “Percy Weasley!”</p>

<p>There was a polite smattering of applause, which quickly died as Percy only half stood.</p>

<p>“Chief Warlock,” Percy said in his most pompous sounding voice. “A point of procedure, if I may?”</p>

<p>Daphne’s eyes narrowed.</p>

<p>Tracey looked around the hall uncertainly. “You may, I think.”</p>

<p>Percy adjusted his horn-rimmed glasses. “I would like to remind you that the tradition of informing the chief warlock of the candidates before announcement is merely tradition. Not actually written down anywhere. On the other hand, rule twenty-one paragraph six of <em>Greengrass and Webbs</em>, clearly states—”</p>

<p>Next to Daphne, Blaise Zabini leaned over and urgently whispered, “What is he doing?”</p>

<p>“I don’t know,” Daphne answered.</p>

<p>By now everyone in the hall was paying rapt attention.</p>

<p>“And thus I have decided to step aside,” Percy finished, “for a candidate who I’m sure will acquit herself superbly.”</p>

<p>‘Herself’. Alarm bells rang in Daphne’s mind. This was not in any way helped by the smug look on John Potter’s face.</p>

<p>“I am of course talking about the incredibly talented and charismatic Miss Virgo Malfoy.”</p>

<p>Uproar.</p>

<p>The Gryffindor table clapped and cheered while the Ravenclaws and Hufflepuffs mostly chatted in confusion. The Slytherins, by contrast, didn’t seem to know what to think. Draco had gone white.</p>

<p>Daphne’s mind went into overdrive. What was Potter doing? Why? It made no sense.</p>

<p>“Greengrass,” Blaise urgently whispered.</p>

<p>“I know!” she hissed back.</p>

<p>All the department head positions had already been negotiated. Potter pulling a stunt like this would put him at a sizable disadvantage. The Light students weren’t supposed to get the position of student minster. They were supposed to take the student Department of Family Affairs, DMLE, and Mysteries. By putting up a candidate who wasn’t supposed to lose, she could easily take back Family Affairs, leaving them with just the DMLE and Mysteries — one inevitably unpopular and the other mostly useless.</p>

<p>Was snatching that position back worth it? It was.</p>

<p>Potter was serving her a strategic advantage on a plate. Why?!</p>

<p>Daphne watched as Virgo Malfoy stood up, flipped her hair over her shoulder, and walked to the front, a triumphant smirk playing about her lips.</p>

<p>Daphne’s eyes widened as realisation dawned. Power hunger! Virgo wasn’t thinking strategically. She was thinking in terms of her own personal position. This was teenage Voldemort after all. Such a foolish move would be completely within the diary’s personality!</p>

<p>Okay, one mystery solved. One problem remained.</p>

<p>The cheering started to die down as Virgo reached the dais, turned and surveyed the hall.</p>

<p>Tracey was busily flipping through parchments, presumably looking up the rules that Percy had just cited. “That… yes… technically…” she eventually said.</p>

<p>Daphne frantically did her best to signal her friend without appearing to do so.</p>

<p>Tracey’s eyes caught hers.</p>

<p>‘Call on me,’ she mouthed, praying that Tracey would have even a fraction of the lip-reading skills she’d developed over her time spying on people with mirrors.</p>

<p>Draco was still white as a sheet.</p>

<p>“Heiress Greengrass,” Tracey said to general confusion. “Um, as a respected student in Slytherin House is there something you’d like to say right now?”</p>

<p>Greengrass rose to her feet and caught Draco’s eye. She tried to convey reassurance, apology, and leadership in one brief glance. And was relieved to see relief sent back her way.</p>

<p>Sending the Malfoy heir up to compete against his ‘sister’ would be a terrible idea. Draco was supposed to win for all sorts of reasons. Him losing was not an option. And Virgo clearly intended to win. So they had to lose on purpose but with someone else.</p>

<p>The position of student minister, while prestigious, wouldn’t likely be all that big of a deal in a tiny population with nine student departments running around. It might enable more personal freedom, but probably little institutional power. And Harry wanted institutional power.</p>

<p>“Yes, Chief Warlock. Thank you for allowing me to speak. I felt that since the Light decided to break with tradition by announcing their candidate themselves, that we should do the same.”</p>

<p>Daphne wetted her lips.</p>

<p>What they needed was a candidate who was plausible, but utterly unsuited to the job. Someone politically disposable, but who wouldn’t mind being politically disposed. That narrowed the potentials down a lot.</p>

<p>All eyes were on her as she took a deep breath.</p>

<p>“I’m sure all of you have seen the praise one of our students has been receiving in the Daily Prophet. There is even talk of changing ministry regulation to allow her the best use of her talents in the coming years. And we were all incredibly impressed by her performance before the Winter Festival.”</p>

<p>There was a pause as the entire hall held its breath.</p>

<p>“I therefore announce our candidate for student minister… Magical Britain’s Quidditch prodigy, Ginevra Weasley.”</p>

<p>Daphne noted three important details about what happened next.</p>

<p>First, the hall erupted.</p>

<p>Second, Ginny gave her a look of utter panic.</p>

<p>And third, this time it was the female Malfoy’s turn to have her face go totally white.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Daphne!” Ginny half-wailed. “What were you thinking?! I can’t be student minister.”</p>

<p>“You don’t have to be. In fact, if all goes well, you won’t. It’s all politics. Just go up there, give a speech that promises a lot of stuff that people like, but which is also obviously impractical, and that’s that.”</p>

<p>“Daphne, I’m not like you! I can’t go up there and speak. I’ve never spoken in front of a crowd in my life! Couldn’t you have stopped her?”</p>

<p>“You’ll be fine.”</p>

<p>Ginny’s shoulders slumped.</p>

<p>“And besides, ‘When the enemy is making a false movement, we must take good care not to interrupt him.’”</p>

<p>Hermione gave Daphne a quizzical look.</p>

<p>“Napoleon Bonaparte,” Daphne supplied.</p>

<p>The common room was buzzing again. Breakfast was over and everyone who was anyone was throwing their names into the Goblet of Fire for the chance to win one of the three judge spots.</p>

<p>“I’m quite interested to hear why though,” said Hermione. “Why the switch?”</p>

<p>At the court of the Dark, Alexandra (sitting at the head), Draco, Nott, Pansy, the Carrow twins, and several hangers-on all quietened down to listen in.</p>

<p>“Virgo Malfoy is… a complicated witch,” Daphne said.</p>

<p>This elicited snorts from everyone in the know.</p>

<p>“She’s clever, cunning, devious,” Daphne continued, “but, most of all, power hungry. I believe that power hunger has led her to make a mistake. The position of minister will give a lot of prestige to the person who takes the position, but that position is reliant on those beneath them to get anything done. This Student Wardrobe is not like the real one, in which the minister holds overall executive power over many departments. The Student Minister will have to govern through persuasion and personality, and if we control all the other positions…” Daphne trailed off.</p>

<p>“—then anything she does will be worthless,” Tracey finished.</p>

<p>Daphne nodded. “As to why Ginny. She is a credible candidate, given her quidditch exploits, but highly unlikely to win. This will give us all the leverage we need to take all but two of the departments. A near complete sweep.”</p>

<p>“And I trust—” said Draco from the other circle of seats, just loudly enough to be heard, causing the Gray all to turn, “that one of those positions will find their way to wizards who may find themselves displaced in all this shuffle.”</p>

<p>Daphne smiled. “Of course you will have a spot, Draco.”</p>

<p>Draco nodded. “I should warn you not to underestimate my sister though. You do not know her like I do.”</p>

<p>Daphne smirked. “I’m sure. But there’s no need for concern. This is the first and only battle for the future of Hogwarts’ student administration. And in this battle, Virgo’s impetuousness has already sealed her failure.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Despite being the largest town in the whole of the Orkney Islands with just over 7,000 people, Kirkwall did not have many electric telephones. Certainly not many public ones.</p>

<p>In a small office above a local grocery store, Dan and Emma sat opposite a rather dazed-looking local solicitor while a crisp-sounding upper-class London accent filtered through the room from the receiver held to Dan’s ear.</p>

<p>“The legal position of these matters is based on tradition and precedent, Mister Granger, rather than statute. And every incident is handled on a case-by-case basis. But the generally accepted position is that unless the owner of the wreck puts in a counterclaim, then ‘finders keepers,’ if you will excuse the phrase. This particular wreck though, being so old, and being found in international waters, has no real plausible claimant. Though I would recommend permanently lending a small number of the retrieved treasures to the nations of Sweden, Norway, Denmark, Mexico, or Peru for their respective museums once you learn more of the wreck’s origins. As well as the British Museum, naturally. As for the Crown… you will be pleased to know that has not been a problem.”</p>

<p>Emma stared intently at the receiver in her husband’s hand. The solicitor whose phone they were using bit his lip.</p>

<p>“I understand that the actual excavation, retrieval, and sale of the found assets will take a good number of years,” the voice continued through the receiver, “but based on the strength of your claim, our bank will be happy to extend your new company an unrestricted line of credit for no less than thirty per cent of the valuation of the assets at minimal interest — 0.5 per cent above base.”</p>

<p>Dan grinned. A wide smile that could no doubt be heard down the phone. “That sounds acceptable.”</p>

<p>The voice on the other end of the phone took on a lighter tone. “Quite. Congratulations, Mister Granger — and your wife too. You’ve just become very rich people. If you need any assistance in managing it, I’d be happy to pass your name onto one of the best managers our bank has to offer.”</p>

<p>“Yes, please.”</p>

<p>“Then he’ll be in touch. Thank you again, Mister Granger. It’s always a pleasure doing business with you.”</p>

<p>The phone went click.</p>

<p>For a moment there was silence.</p>

<p>Then Emma let out a high-pitched squeal, jumped up out of her chair, and threw her arms around her husband.</p>

<p>The solicitor was still in a daze. “Ninety million pounds,” he muttered.</p>

<p>Outside the solicitor’s office, Emma hung on Dan’s arm. “Where to now, my head of house?” she purred.</p>

<p>Dan grinned. “The boat’s on our clock. Why don’t we splurge on dinner? There’s a pub down that way I like the look of.”</p>

<p>“Wonderful idea.” Emma suddenly frowned. “I hope everything is going as well for Harry.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Mister Weasley was a man used to waiting. He waited to speak at meetings. He waited for his employees to turn up to work. He waited for his wife, his children, and his children’s many friends.</p>

<p>Now he was waiting in a Gringotts waiting room.</p>

<p>And while he was usually a very patient man, his patience was wearing thin. It wasn’t as though the matter he had to discuss with Lord Slytherin was a trivial matter.</p>

<p>His thoughts were interrupted when the door opened and a goblin female walked in. Floating-Interest, wasn’t it?</p>

<p>“Mister Weasley, I’m sorry to keep you waiting,” the goblin said, “but I’m afraid Lord Slytherin has run into a situation that is requiring his full attention.”</p>

<p>“What kind of situation—” he started, but didn’t get any further before the answer kicked the breath from his lungs.</p>

<p>“Lord Slytherin has been summoned by our king.”</p>

<p>Mister Weasley stared in horror. “Our king? As in, the <em>Goblin</em> King? The <em>immortal</em> Goblin King? The ruler of all goblins who hasn’t been seen by any wizard since the fall of the last Magical Empire?”</p>

<p>Floating-Interest nodded.</p>

<p>Mister Weasley leaned back heavily in his chair. Suddenly his own business with Lord Slytherin didn’t seem quite so Earth-shattering.</p>

<p>“I’m not sure how long he will be gone,” Floating-Interest concluded. “Will you be okay to wait? I can reschedule the room for another time if it’s inconvenient.”</p>

<p>“No, I’ll wait,” he said, now dabbing at his forehead with a handkerchief. “I can always get some parchment work done.”</p>

<p>“Very well.”</p>

<p>The door closed.</p>

<p>Arthur settled down, pulled out a self-inking quill and documents from his bag, and started going through them. The goblin king. Who’d have thought it.</p>

<p>“Father!” The door banged open.</p>

<p>As it turned out, he barely got five minutes work done before being interrupted again.</p>

<p>“Hello there, Bill. Are you supposed to be here? I thought you’d be working.”</p>

<p>The young man slammed his hands on the table. “Father, I beg you again to reconsider this.”</p>

<p>Arthur groaned. “Bill, we’ve been through this before. Our family is already tied to Slytherin. Ginny and Harry are very close friends and the twins’ business is all that’s keeping our family afloat. Without their efforts I’m not sure where we’d be. I know you feel a strong loyalty to the Light, but that doesn’t—”</p>

<p>“No!”</p>

<p>Arthur stopped in mid-flow.</p>

<p>“You still don’t understand,” Bill continued, slowly. “It’s not about the Light.”</p>

<p>Arthur frowned. “I thought you were talking about pro-muggleborn and half-blood policies that the Wizengamot should pass into—”</p>

<p>“No, I was talking about the working-class!”</p>

<p>Somewhere outside the room, a goblin guard chinked down the hallway.</p>

<p>Arthur looked puzzled. “But, Bill, the muggleborns and half-bloods <em>do</em> work, mostly. Most purebloods work too, come to that. <em>I’m</em> pureblood and I hope you know I work very hard. Even people like Lord Malfoy, curse his arse, work.”</p>

<p>“No, I mean the ones who work with the means of production owned by the bourgeoisie. They who own the tools to make the products which society needs.”</p>

<p>Arthur looked down at the ornate stick of wood held in his hand. “We all own our own wands…”</p>

<p>“No, I mean—” Bill looked around in frustration. “I mean—” his eyes fell on a little bowl on the table used for blood rituals. “I mean things like that! Family magics. Spells that only certain families can use. Working-class people are forced to work for those families because they can’t make those products on their own. Like the Chocolate Frog Partnership.”</p>

<p>Arthur Weasley frowned. “I know Edmund, though. He treats his people well.”</p>

<p>“That’s not the point.”</p>

<p>“What is the point?”</p>

<p>“The point is that you and the twins are moving us closer to those who oppress the people.”</p>

<p>Arthur shook his head. “This still all sounds very Light to me. I’m still not sure I see the difference.”</p>

<p>“The difference is that the Light are all employers! They don’t care about changing the system. They <em>are</em> the system.”</p>

<p>“Now, Bill, that’s not fair. Many Light families have given the ministry a lot over the years.”</p>

<p>“But only because they fear unregulated magic. The Light doesn’t care about giving back the means of production, they are just as greedy as the Dark.” He gave his father a significant look. “Or the Gray.”</p>

<p>Arthur sighed. “Even if your views don’t line up perfectly with the Light, they’ll still be your best bet at getting anything through the Wizengamot. Who knows, you may even find Lord Slytherin amenable to your ideas.”</p>

<p>“But that’s just it! The Wizengamot is part of the system. So it needs to go, too.”</p>

<p>Arthur Weasley just stared blankly at his firstborn son. As though he’d just proposed that they should move the Earth to a different star system. “Bill, I’m not sure where you’ve been getting these ideas, but I’m going to do what I feel is best for our family. Even if you dislike the idea.”</p>

<p>Bill hung his head. “Fine,” he said, quietly, and left.</p>

<p>Arthur sighed deeply. He looked down at the parchment in front of him — a conditional betrothal contract for Ginny’s hand with Harry Potter, just waiting for his signature and that of the Lord James Potter.</p>

<p>He wasn’t sure what miracles Lord Slytherin was going to pull off to get that signature, but for the sake of his family, he hoped the man didn’t fail — or come back from his meeting with the Goblin King missing both his arms.</p>

<p style="text-align: center;">— End of Chapter Sixty — </p>

