Chapter 61 - Nature Red - Part 5

<p>“But I don’t know what to say!” Ginny wailed.</p>

<p>The Great hall was packed.</p>

<p>“It will be fine,” Luna comforted her. “Start out by promising everyone pudding. That always works.”</p>

<p>“But what if I mess up?”</p>

<p>Luna hugged her. “Just pretend it is a battle.”</p>

<p>“Pretend it’s a battle?” Ginny took a deep breath. “Right. I can do that. Just another fight. I’m good at fights.” A thought seemed to occur to her. “A fight with <em>three</em>-<em>hundred</em> Hogwarts students!” she wailed.</p>

<p>Luna slapped her.</p>

<p>“Ginny! Pudding!”</p>

<p>“Right, pudding. Right.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The waiting room was vast.</p>

<p>Harry looked around with the clinical interest of one who expects to use every last artefact, pillar, rug, and seat in combat. He was masked again, though it hadn’t been needed. Despite waiting quite a while now he had yet to see a single other goblin.</p>

<p>The grand hallway had just two doors — the one behind him, which he’d entered through, and the one on the far side of the quidditch-pitch-sized cathedral.</p>

<p>Needless to say, he was deep, deep underground.</p>

<p>He didn’t even remember this part of the bank from his memories of when Voldemort sacked it in the last timeline.</p>

<p>Come to that, he didn’t remember anything about the Goblin King either.</p>

<p>Voldemort had never found him.</p>

<p>It was almost unnatural how quiet the hall was.</p>

<p>Experimentally, he reached into his robes, pulled out a sickle, and dropped it on the floor. The sound of silver hitting marble echoed throughout the massive space, followed shortly thereafter by the creak of the door behind him.</p>

<p>He turned.</p>

<p>It was Floating-Interest. “Mister Weasley says not to worry about him and to worry about yourself,” the gobliness said.</p>

<p>“Thank you.”</p>

<p>The gobliness shifted uneasily. “Also, I have been sent to tell you that it is time.”</p>

<p>“Good.” Harry rose from his seat. Standing at a little over six-foot, he towered over the four-foot Floating-Interest. “I was wondering if there was a problem.”</p>

<p>“No problem.” Floating-Interest motioned him to follow her up the hall, towards the door on the far side. “Just many things going on. The Goblin King is always very busy.”</p>

<p>They reached the door.</p>

<p>Floating-Interest took a deep breath. “The Goblin King shrouds himself in secrets within secrets.”</p>

<p>There was a strange ripple in the air and the door that had been there vanished — as did the rest of the far wall. And in its place…. It was like being on the inside of a life-sized children’s pop-up book. Suddenly, everything was everywhere.</p>

<p>Lord Slytherin tensed.</p>

<p>They were surrounded.</p>

<p>Sound assaulted his ears.</p>

<p>Colours flooded his brain.</p>

<p>And then his mind caught up with the pop-up book.</p>

<p> Lord Slytherin relaxed, but only slightly.</p>

<p>They were surrounded, on all sides, by a veritable sea of goblins — female goblins. They lounged on cushions and chaise longues, eating grapes and looking sultry. A poet might have described them as nubile, if the poet in question had green skin, grew up underground, and enjoyed ritualistic combat to the death.</p>

<p>Harry was suddenly very glad he hadn’t done anything foolish while waiting for his summons and mentally increased the number of people he knew for certain could cast the fidelius charm in Magical Britain up to four, with another several probables.</p>

<p>Beside him, Floating-Interest noticeably fidgeted. Compared to what Harry could only imagine were the many concubines of a truly massive, and actually real, harem, Floating-Interest was dressed like a nun.</p>

<p>The many females surrounding them could probably have produced barely enough silk and golden chains between them to fully clothe a single human witch.</p>

<p>“Oh, Goblin King!” Floating-Interest intoned, raising a hand to her chest and producing a series of giggles from the females in the room. “I bring before you Lord Slytherin, as per your wish.”</p>

<p>“Thank you,” came the smooth reply from everywhere.</p>

<p>Harry stiffened again. Deep inside, the chimaera roared.</p>

<p>Harry liked to think of himself as an expert in making people wet themselves, in one way or another, with a voice deep enough to make the soul vibrate, but the Goblin King was in another league.</p>

<p>His voice was like having dark melted-chocolate, suffused with cinnamon and power, slowly dribbled into your ear.</p>

<p>One goblin girl sighed dreamily while staring at an empty point in space right in front of Harry. Although for the life of him, he couldn’t figure out why.</p>

<p>“Leave us,” the smooth voice commanded.</p>

<p>The smiles on the gobliness’ faces fell. One by one, they trailed out of the room, into the darkness beyond, where Harry could not see, until it was just him and Ragnok’s granddaughter.</p>

<p>“You too, Floating-Interest,” The Goblin King whispered, somehow making it sound more like a proposition to bed than a command to be left alone.</p>

<p>Floating-Interest curtsied shakily and backed out of the room by the way they’d both come.</p>

<p>Two clicks indicated two doors locking.</p>

<p>Once they were alone, the Goblin King laughed like a waterfall of chocolate splashing into a pond of diamonds. “I am not an incubus, Lord Slytherin.”</p>

<p>Harry started. How had he known that was exactly the thought that had been going through his head?</p>

<p>“I cannot read minds, either. Not any better than any abnormally skilled legilimens, anyway.”</p>

<p>Harry pulled himself together. “I imagine being immortal gives one plenty of time to master a wide range of interesting skills.”</p>

<p>“A few.” The voice sounded amused now.</p>

<p>Well, that was better than angry. Probably.</p>

<p>“Let us cut the chase, Lord Slytherin,” The Goblin King continued. “Ragnok has told me of the war that came before. He has told me of what he knows of your past timelines. He has told me of the sacking of Gringotts.”</p>

<p>An acknowledgement of something he would want to avoid. That was good.</p>

<p>“But yours is not the only voice I hear, Lord Slytherin.”</p>

<p>That was not so good.</p>

<p>“You returned to the past and changed many things. Your political movements in Magical Britain have already had profound effects. My agents throughout the world whisper of the rise of Gray Lords from Sub-Saharan Africa to Japan and Peru. When Magical Britain coughs, the rest of the world catches a cold.”</p>

<p>“I’ve met one of them,” Harry replied through his mask. “<em>Gray Lord</em> Tebola. A bit on the nose for someone who can turn into a Tebo.”</p>

<p> The Goblin King snorted. “When the last Magical British Empire fell, the ICW gave Gringotts statehood within Magical Britain as one of the terms of surrender. Magical Britain had proven it could not be trusted to manage the world’s magical economy and Nicolas Flamel agreed to never again use his stone to make gold, outside of a ‘small’ stipend for his own personal use.”</p>

<p>Harry said nothing.</p>

<p>“And now here you are, Lord Slytherin — wanting to use my bank to funnel money from the Muggle World to the magical. You want to do this so that you can fund a war that will most likely see a new hegemony rise on the British Isles.”</p>

<p>“I want to funnel the money so that I don’t <em>have</em> to fight a war,” Harry immediately countered.</p>

<p>“But you don’t deny the hegemony bit.”</p>

<p>Harry bit his tongue.</p>

<p>The Goblin King sighed. “For me to give my blessing to this endeavour could be incredibly costly to me and my people. We exist at the blessing of the ICW. The Ministry of Magic would love to annex Gringotts. For us to make such a risky move, we would have to be compensated with something equally valuable.”</p>

<p>Silence.</p>

<p>“What kind of equally valuable thing?” Harry asked.</p>

<p>“The mist jewels.”</p>

<p>Shit.</p>

<p>“I know what happened on the night you became animagi, Lord Slytherin.”</p>

<p>How?!</p>

<p>“All our records suddenly declared him to not exist. Not dead, but actually not existing. And during the magical storm, as well. It doesn’t take an auditor with high-level occlumency to figure it out.”</p>

<p>Ahh.</p>

<p>“We quickly altered the records so that the ministry would not find out.”</p>

<p>“Thank you.”</p>

<p>“Daniel Granger is a valuable customer of the bank. Many of my people have already spilt blood fighting over his account. I suspect, in the future, that number will only grow.”</p>

<p>More silence.</p>

<p>Harry got the impression the Goblin King was looking for the right words.</p>

<p>“The mist jewel you found is lost,” the voice eventually continued. “That is unfortunate, but it does present an opportunity for us. We now have a powerful wizard who knows of the mist-jewels’ true nature and what they can do. Most of our human contractors — your friend’s brother, Bill Weasley, for example — they believe we like the jewels because they are shiny. Or if they have other suspicions, they keep it to themselves. They are useful in locating some of the more simple to find mist-jewels, such as those buried in the curse-filled tombs of Egypt. But others… they are rather more difficult to acquire.”</p>

<p>“And you want a more powerful wizard on call to help you acquire them?” Harry asked.</p>

<p>“Yes.”</p>

<p>“And in return for this, you will assist in smuggling more money into Magical Britain than ICW regulations normally allow.”</p>

<p>“Yes.”</p>

<p>“I do have an extremely busy schedule.”</p>

<p>“I am aware. I would respect your schedule and only call on you for moderately short time periods at irregular intervals.”</p>

<p>Harry nodded. “No longer than three days per call. And no two calls within two months of each other. Five calls total.”</p>

<p>“Seven,” was the immediate reply. “And I will grant you a five-month grace period before your contract becomes active. I understand you have a lot on your plate right now.”</p>

<p>Harry thought about it. “That seems acceptable.”</p>

<p>“Good. And one more condition.” The voice changed from dark chocolate to steel. “You must not speak of this deal to anyone who does not already know the nature of the mist-jewels or who does not know your plans for your gold. Not to <em>anyone</em>! And if you must speak of them, you MUST speak of them only under fidelius. Do not even <em>hint</em> of them at any other time. Is that clear?”</p>

<p>Harry nodded.</p>

<p>“Wonderful.” And just like that, the voice was back to its usual ear-dribbly chocolate tones. “I look forward to having you around to clean up my problems, Lord Slytherin. Good help is so hard to find these days. Floating-Interest will have your contract ready for you soon.”</p>

<p>That sounded like a dismissal if ever he heard one.</p>

<p>“And one last thing, Lord Slytherin.”</p>

<p>Harry stopped in the act of turning around.</p>

<p>“Beware of the Family Magics of the Unspeakables.”</p>

<p>Two clicks indicated two doors unlocking and the goblin females swayed and sashayed back into the hall, draping themselves on the many rugs and cushions. A pair walked straight towards Harry before suddenly vanishing. The sounds of feminine giggling filled the room, and not just from the empty space that his brain refused to acknowledge.</p>

<p>Back in the entrance corridor, Harry closed the door behind him to find Floating-Interest waiting for him.</p>

<p>“Have you ever seen the Goblin King?” he asked.</p>

<p>Floating-Interest shook her head. “I have never had that honour.”</p>

<p>Harry grunted. There was no way it wasn’t an incubus. There was absolutely no way.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Is this really okay?” John asked.</p>

<p>Virgo smirked. “Trust me. It’s all going according to plan.”</p>

<p>“But… Ginny.”</p>

<p>The smirk dropped from Virgo’s face. “John, I understand how you feel, but you have to understand, she is the enemy now.”</p>

<p>John winced. “And it’s not just that. Sally and Hannah have been asking very difficult questions. <em>I</em> know what we’re doing, but keeping them on board is very difficult when I can’t tell them what we’re up to. They keep saying making you minister is throwing the game.”</p>

<p>“They trust you, don’t they?”</p>

<p>“Well, yeah.”</p>

<p>“And they <em>really</em> trust Susan.”</p>

<p>The two looked towards where Susan, Sally, Hannah, and Professor Sprout were busy overseeing a group of Ravenclaws putting their names into the Goblet of Fire.</p>

<p>John nodded. “Yeah, they do. She’s pretty amazing like that.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Deep under the streets of London, two men carefully eyed each other over a goblin-wrought-iron table.</p>

<p>One was dressed in an old, but well-worn robe that had clearly once been a serious investment, but which by now had been patched so many times as to be more patch than robe.</p>

<p>The other was dressed without so much as a speck of dust anywhere on his person. Black dragon hide could be seen hiding beneath spider silk and niffler fur. He was also masked.</p>

<p>Between them, lay a small stack of Gringotts contract parchment, filled with tiny ink-quill scrawl. On the top of the parchment read, Betrothal Contract Between the Ancient House of Weasley and the Ancient and Noble House of Potter for the Hand of Ginevra Molly Weasley to Harry James Potter.</p>

<p>Of course, Harry’s name had one extra name after that, but thankfully the Albion Family Magics could be relied on to identify him correctly.</p>

<p>“I hope you don’t find my question presumptuous, Mister Weasley,” Lord Slytherin rumbled. “But have you not considered replacing your wardrobe? I know you can afford it.”</p>

<p>Arthur Weasley smiled. “Molly sewed every patch on this robe by hand. No magic. I will get rid of it when Death walks through the Veil.”</p>

<p>“That’s a level of loyalty I can respect.”</p>

<p>Arthur nodded. “I love all my family. And I do what I have to do to protect them. Not all my children are happy with what we are discussing, but if it means Ginny has a future, then it is what must be done.”</p>

<p>“What does your wife feel?”</p>

<p>“Molly thinks Ginny is too young to be contracted, but she has accepted that it is necessary.” He gave the tiniest of smirks. “You will need to warn young Harry that when you deliver on your half of our agreement, he will have to deal with the full scope of her attentions.”</p>

<p>“Young Harry will handle it, I’m sure. I consider him to be my own flesh and blood.”</p>

<p>Arthur’s smirk turned into a smile.</p>

<p>“I hope our talks here are not hurting you too badly,” Lord Slytherin continued. “I know how important it is for a head of house to consider family unity.”</p>

<p>The smile faded. Arthur sighed. “Bill is young and headstrong. He travelled widely after Hogwarts, doing odd jobs for Dumbledore — picked up some very odd ideas from some of the people he met. Charlie was practically his brother’s shadow until he got that job offer from the Romanian Dragon Preserve. Percy has big ambitions in the ministry and being Light aligned only helps there — at least, on the outside. The twins you know, of course, and Ronald is still finding his feet. But he is close friends with John Potter, so I doubt he’ll take this well. No, we haven’t told him yet — just Bill and Charlie. As for Ginny, well…. Childhood friends, am I right?” He smiled tiredly.</p>

<p>Lord Slytherin picked up the contract. “I think I hate seeing families fall out,” he muttered. “If you need any help, do not hesitate to reach out.” He handed over the contract.</p>

<p>Arthur smiled. “Thank you. I’ll keep it in mind. There is nothing I will not do to keep my family together. Nothing.” He took the blood quill on the table and put it on the line marked, Mister Arthur Weasley, just below the spot marked, Lord James Potter. He signed.</p>

<p>Lord Slytherin took the contract and stowed it away in a pocket of his robe.</p>

<p>Arthur stood up and extended a hand. “For the sake of my daughter’s future, I hope you can work a miracle and secure that other signature.”</p>

<p>“I will.”</p>

<p>Arthur hesitated. A look of uncertainty took over his face. “I know that we’re committed now, but do you really think Lord Potter will accept Ginny’s bride price at 10,000 galleons?”</p>

<p>Beneath the mask, Harry smirked. “Ginny has the hallmarks of an incredible witch. Driven, talented, hardworking, fearless, and ruthless. Harry will be a very lucky boy.”</p>

<p>“Yes, but do you think Lord Potter will see it that way?”</p>

<p>“I will endeavour to persuade him. And I trust Ginny as well as Harry. I’m sure she’s not going to do anything that will make this any harder than it needs to be.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>A cheer sounded throughout the Hogwarts Great Hall — students on their feet, clapping, cheering, whistling.</p>

<p>At the very back of the hall, Daphne sat at the end of the Slytherin table, poker-faced and wooden.</p>

<p>“And if you elect me minister, I’ll double our quidditch matches!”</p>

<p>Another cheer.</p>

<p>“And I’ll arrange field trips into the Forbidden Forest!”</p>

<p>Another cheer.</p>

<p>Ginny looked around the raised dais at the front of the room, eyes dilated, breathing heavy. She caught Luna’s eye who gave her an encouraging nod.</p>

<p>“And… and… Pudding at every meal!”</p>

<p>The crowd roared.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Outside of Gringotts, Harry was brought up short by a figure waiting for him that he had <em>not</em> anticipated. “Lord Black? I was not expecting—”</p>

<p>Exactly what it was he was not expecting he never managed to reveal. The reason for this being that of all the things he wasn’t expecting, he <em>really</em> wasn’t expecting to be pulled into a tight hug.</p>

<p>He instantly went stiff.</p>

<p>“Listen, Slytherin,” Lord Black whispered into his ear, voice thick with emotion. Already people were staring. “I know exactly what you’re doing. I don’t like politics, but I’m not clueless. I know you’re courting me for the Gray. And I know you’re using my daughter to do it. But I still appreciate your helping her, okay? But know this, hurt her and I <em>will</em> kill you.”</p>

<p>“I hear you.”</p>

<p>Lord Black pulled away, face now rather embarrassed.</p>

<p>Harry felt the telltale feeling of accumulating apparition magic and a second later he was staring once again at an only moderately packed Diagon Alley, much of which was now staring at him. It wasn’t every day you saw the Chief Auror hug Lord Slytherin.</p>

<p><em>Well</em>, Harry thought. They’d already watched said Chief Auror break the apparition rules in Diagon Alley. Not much harm in emulation.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The Great Hall was silent. All eyes were on the front. Travers had already given his speech — a plain and boring affair compared to the quidditch match that was Ginny Weasley — and now everyone wanted to see how the Malfoy daughter would fare.</p>

<p>No one at the Gryffindor table seemed surprised when Virgo produced, of all things, a rather beat-up violin.</p>

<p>When the girl put the chin rest to her neck without saying a word, a pair of older Ravenclaw giggled.</p>

<p>The giggling stopped the moment the first note played.</p>

<p>Across the hall, several sets of occlumency shields immediately slammed shut tight, but even they weren’t enough to completely keep out the sorrowful melody that began to pour forth.</p>

<p>The music didn’t force the listener to relive their worst experience over and over again.</p>

<p>It wasn’t a dementor’s aura.</p>

<p>But it did reach right down into the very soul through the ears, bypassing the conscious brain and pulled at the collective hurt of a lifetime of disappointment.</p>

<p>Then, slowly, with the skill of the talented prodigy, Virgo pulled the song from sorrow to anger, then from anger to hate, stabbing at her instrument like a betrayed lover. Then came the agony, echoing around the Great Hall, gaining speed and power, moving to violence, and finally from violence to victory and triumph, a last long deceleration to the world that evil was vanquished and good restored.</p>

<p>The final note played.</p>

<p>The hall became deathly still.</p>

<p>“When you vote me as student minister,” Virgo said. “I will right all that is wrong. That is all.” She then turned and left the hall.</p>

<p>Shocked in silence, the students all looked at each other.</p>

<p>At the Slytherin table, Daphne Greengrass frowned. Very impressive, as they should expect from the Dark Lord’s horcrux. But would it be good enough?</p>

<p>As the students started to file out and the caskets for voting were dragged in and lined up next to the now full Goblet of Fire, Daphne motioned for Ginny to join her.</p>

<p>It was time for her betrothed’s little ninja to prove her usefulness.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Alex pouted. “Why is it you get the mission?”</p>

<p>“Oh, come off it, Alex,” Ginny replied, pulling on a pair of acromantula silk leggings. “This needs stealth and sneakiness. You do stealth like an obscurial in a wand shop.”</p>

<p>“I can be sneaky!”</p>

<p>“Luna, can Alex be sneaky?”</p>

<p>“No,” Luna chirped.</p>

<p>Alex looked betrayed. “Luna!”</p>

<p>“—She falls on her enemies like an obsidian swarm.”</p>

<p>“Well, I guess that’s fine,” Alex mumbled.</p>

<p>Ginny finished donning her ‘creeping around the place’ outfit. “Anyway, the mission needs someone really good at the switching charm, and we all know who that is.”</p>

<p>Alex frowned. “Is that really going to work though? Surely any competent vote counter will notice something strange like that.”</p>

<p>“Oh, don’t worry. Harry made sure to have Lockhart pick the absolute best candidate to be in charge of counting.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Right’o,” said a rather uncertain Rubeus Hagrid, sitting down at the massive table in the Grand Hall. Most of the students were taking advantage of their Saturday afternoon to be elsewhere. “Guess I’d better be making a start of it.” In front of him sat three massive caskets, each one labelled with a candidate name and each one securely closed with chains.</p>

<p>These lasted about as long as it took the half-giant to get his dustbin-lid sized hands on them. Moments later, the contents of all three were in a pile on the table.</p>

<p>“Oh dear… all these little pieces of parchment.” A tongue came out the side of his mouth as he managed to pick one up with the air of an industrial robot lifting an egg. “Let’s see who this is. Ginny!” He frowned. “Nice girl, from what I’ve seen. Shame she’s in Slytherin. Used to know ‘er brother Charlie, you know. Gave him a recommendation for the dragon reserve, I did. Merlin, I’d love a dragon…”</p>

<p>“Hagrid,” said Professor McGonagall in a tired voice. “You’re supposed to count the votes, not yell them out for the whole hall to hear.”</p>

<p>“Oh, right, errr, sorry, Professor.”</p>

<p>As Professor McGonagall left the Great Hall table, a shadow in the air slipped past the temporary ward line that had been set up to keep inquisitive students out. Two shadows in the air, in fact.</p>

<p>Hagrid frowned at the next piece of parchment. “Virgo. Odd that. Never heard of a Malfoy in Gryffindor before. Can’t say she doesn’t play nice music though. Very relaxing. And she is friends with John, so she can’t be that bad. I’ll have to get John to bring ‘err ’round for tea sometime.”</p>

<p>The two shadows circled around the table from opposite sides, each approaching Hagrid from behind.</p>

<p>Each shadow noticed the other at almost exactly the same time.</p>

<p>Both shadows froze.</p>

<p>“Now, what about that third one… Travers. Slytherin name that.” Hagrid looked urgently around the sparsely populated hall. “Not that there’s anything wrong with Slytherin,” he said loudly and clearly to the rafters. “There’s always lots of funny folk around. I’m sure he’s a right nice evil mask once you get to know him.”</p>

<p>One of the older Hufflepuffs doing homework halfway up his table face-palmed.</p>

<p>Behind Hagrid, the two shadows had carefully edged towards each other with the air of two fog-mired armies who aren’t quite sure if the shapes before them are going to start cheering or shooting.</p>

<p>“My lord?” Ginny whispered.</p>

<p>There was a pause. Then, “You wish, Weasley.”</p>

<p>Ginny nearly bit her tongue off. “<em>You</em>,” she hissed. Of course the diary would want to make sure it won. But wait… didn’t that mean…?</p>

<p>“Here to make sure you win, huh?” Virgo whispered back. “How <em>Slytherin</em> of you.”</p>

<p>Ginny snorted. “Actually, I’m here to make sure <em>you</em> win.”</p>

<p>In front of them, Hagrid started to whistle while he opened another piece of parchment.</p>

<p>There was another pause.</p>

<p>“So, Greengrass has <em>that</em> much faith in her political sense.”</p>

<p>Ginny felt a jolt of irritation. “Shouldn’t she?”</p>

<p>“I’m sure she knows what she’s doing. In any case, it seems that <em>this</em> time we’re going to be working together.”</p>

<p>Ginny said nothing. She may not be the political animal Harry had trained Daphne to be, but she still had more than enough sense not to take <em>that</em> bait.</p>

<p>She then felt an incredibly intricate and sophisticated magical intent form on the enemy wand in front of her. Just like that, many of the names in the pile rewrote themselves in their original handwriting from Ginny to Virgo.</p>

<p>Ginny scowled. Feeling incredibly annoyed, she flicked her wrist and the one parchment that Hagrid had just picked up switched likewise.</p>

<p>“Not bad for a peasant girl.”</p>

<p>“Not bad for a <em>thing</em> that shouldn’t <em>exist</em>,” Ginny shot back.</p>

<p>Another pause.</p>

<p>When Virgo next spoke it was with exactly the viciousness that Ginny would expect from the teenage Dark Lord.</p>

<p>“Tell your lord that when I’m done with him, Lovegood’s theory of feminine fucktoy-ness <em>will</em> be true, because the only way he will dig himself out of the hole that I will dig for him, will be by whoring you both out to anyone who wants a go.”</p>

<p>Ginny struggled to restrain herself. The diary was trying to rile her up. It wanted her to attack it. It wanted her to blow her cover. She wouldn’t! She was better than that. But still, it took every speck of iron discipline she’d gathered over the years not to pull out the dagger strapped to her inner-thigh and finish off the job she’d failed to complete at the start of the year. She contented herself instead with spitting right in the other shadow’s face, then instantly switching the spit with the contents of a nearby pitcher of water.</p>

<p>As the two shadows parted ways, Virgo made her way to the base of Gryffindor Tower before relusioning herself. Her face was red, pupils dilated, clothes heavy, and not just with water from the pitcher. Her entire body felt clammy with sweat.</p>

<p>Virgo wrung out the cuffs of her robe and took a long calming breath.</p>

<p>Had she really just <em>said</em> that?!</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Daphne, Alex, Luna, and Hermione all looked up as Ginny sat down at the Slytherin table in the Great Hall.</p>

<p>“Is it done?” Daphne asked.</p>

<p>“It is done,” Ginny answered.</p>

<p>“Good.” Daphne smirked. “Hogwarts is ours. This battle is over.”</p>

<p>“I just wish we could move more openly,” Alex said, sounding miffed. “We all know what that girl is.”</p>

<p>“Patience,” Daphne replied. “Her time will come.”</p>

<p>The other girls all nodded.</p>

<p>“Miss Greengrass?” rasped a voice that rattled with chains. The Bloody Baron floated over their table. “Miss Weasley. Miss Black. May I ask you all to accompany me. Thank you.” He turned and floated off.</p>

<p>The three girls extracted themselves from their benches and marched after him.</p>

<p>“May I ask what this is about?” Daphne asked, reaching the Baron’s stride just as they were leaving the hall.</p>

<p>“You have a visitor.”</p>

<p>“Who?” Alex asked.</p>

<p>“Your father.”</p>

<p>Alex stopped in her tracks. “What?”</p>

<p>“It must be about the animagus forms,” Ginny called back to her over her shoulder.</p>

<p>Alex groaned.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“I’m not saying it’s not an amazing achievement,” said Professor McGonagall, nose flaring. “But the sheer irresponsibility of it! The danger they put themselves in!”</p>

<p>“Yes, Professor McGonagall,” Sirius replied, head down. He couldn’t quite shake the ridiculousness of the situation. Here he was, Chief Auror, the Hammer of the Light, the most bad-ass fighter the ministry could field, getting a dressing down from a witch who probably couldn’t even lift his shield without a feather charm.</p>

<p>“If it was up to me, I’d have them all in detention from now until year’s end.”</p>

<p>“Yes, Professor McGonagall.” It was the reflex of the situation, is what it was. His old head of house’s office just brought out the little school boy in him. He and the gang had been in here more than enough times during their time at Hogwarts.</p>

<p>“I suspected they were on mandrake more than once! How they got that past me, I’ve no idea.”</p>

<p>Sirius couldn’t help smirk. If Alex were smart, she’d have used the same sticking charm on the roof of the mouth trick that he’d used. His daughter may have lacked the traditional lessons from him, but clearly she’d been managing.</p>

<p>“Are you smiling, Black?!”</p>

<p>“No, Professor.”</p>

<p>“You are smiling. I can see your lips.”</p>

<p>The smirk turned into a grin.</p>

<p>Professor McGonagall sighed. “Well, I suppose—”</p>

<p>She was interrupted by the door to her office creaking open.</p>

<p>Three witches entered. The first one walked in as though she owned the world. The next darted in behind her. The final one slouched through the gap like a criminal on her way to the executioner’s block.</p>

<p>“Miss Greengrass. Miss Weasley. Miss Black.” McGonagall glared at the three girls who lined up in front of the desk. “I’ve no doubt you all know why you are here.”</p>

<p>“Yes,” answered the Greengrass girl — the one betrothed to Lord Slytherin. “We are here to fulfil our legal obligations to the ministry as is our duty as good citizens of Magical Britain.”</p>

<p>Sirius let out a silent groan.</p>

<p>McGonagall’s nostrils flared. “Miss Greengrass. Your <em>extracurricular project</em>, while it may have been legal, was still very much against school rules. The animagus transformation is incredibly dangerous. An adult novice can face permanent damage if they are incautious. And you are all second and first years! It is <em>incredibly</em> difficult. So, what do you have to say for yourself?”</p>

<p>Ginny put up a hand. “Go us?”</p>

<p>McGonagall turned her glare on her. “Miss Weasley, given how distressed your mother and father were after your last quidditch match, I’d have thought <em>you</em> would be willing to show more caution and common sense.”</p>

<p>Ginny shrunk back a little.</p>

<p>“And what about you, Miss Black? Do you have anything to add?”</p>

<p>Sirius tried to catch his daughter’s eye, but she had her face turned away. Wasn’t she going to look at him at all?</p>

<p>“Not really,” she muttered.</p>

<p>“Not really?! You violated school rules, smuggled in a controlled medical drug that is suffering from a global supply shortage, performed magic in class under the influence of a hallucinogenic, and then performed partial self-transfiguration on yourself for who knows how long without a healer on standby if anything went wrong! I’d expect this sort of thing from other students—from other families, maybe—but you are a Black. I’d expect you to know better.”</p>

<p>Sirius stopped trying to catch Alex’s eye.</p>

<p>He turned very slowly towards his old professor.</p>

<p>“Excuse me?”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“—other families, maybe—But you are a Black. I’d expect you to know better.”</p>

<p>Ginny put a hand over her mouth while her eyes darted to Alex. She did not just say that, did she?</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p style="text-align: left;">“Excuse me?”</p>

<p>Lord Black stiffened.</p>

<p>Daphne smirked. That seemed to have struck a nerve.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Alex was not looking forward to this meeting.</p>

<p>As she slouched her way through into Professor McGonagall’s office… yes, there was her father, standing behind the teacher’s desk, looking like the head boy, come to report on a bunch of unruly students.</p>

<p>Never mind the fact that he was a lord.</p>

<p>Never mind the fact that he was Head of the Most Ancient and Noble House of Black.</p>

<p>She knew he hadn’t been head boy, of course, but that didn’t change the comparison.</p>

<p>And of course, he did nothing as Professor McGonagall laid into them, just stood there like a fool. Nothing like Lord Slytherin. Or even Harry, for that matter. At least when Harry did nothing it was because he was deploying cunning. She wished he would stop trying to catch her eye. He was so desperate for approval.</p>

<p>“And what about you, Miss Black? Do you have anything to add?”</p>

<p>“Not really,” she muttered.</p>

<p>The admonitions continued, and Alex couldn’t help but wonder what the point of it all was. It wasn’t as if McGonagall could do anything except dock points. If they got detention, Harry could just have the Bloody Baron overrule them, if he was feeling generous. But that was the point. Harry might or might not do something like that, but it wasn’t because he was afraid.</p>

<p>Not like <em>someone</em> she knew.</p>

<p>“I’d expect this sort of thing from other students—from other families, maybe—but you are a Black. I’d expect you to know better.”</p>

<p>Her father slowly turned towards Professor McGonagall like a ship’s gun being brought to bear on an enemy vessel.</p>

<p>“Excuse me?” he growled.</p>

<p>What happened next was not what Alex was expecting. What she expected was for her father to continue on as he always did — about as effectual and empathic as a dead dog.</p>

<p>Alex turned her head forward in total shock as her father started laying into their professor with all the hesitation of a blasting curse.</p>

<p>By her face, it certainly wasn’t what Professor McGonagall expected, either.</p>

<p>Alex had never before <em>seen</em> her father this angry.</p>

<p>“And I don’t care if it was dangerous!” he roared, getting redder and more out of breath as he worked himself up. “I did the same when I was her age, and, you know what? I’m proud of her! More than that! She’s younger than I was by a long way! You want to rag on her, fine, but don’t you <em>dare</em> rag on her for being a Black! Have you ever read my family’s library? No, you haven’t! So, you’ve no idea what kind of things we got up to! My animagus transformation was the only thing my parents ever praised me for after I was sorted into Gryffindor! Did you know that, huh? And you know what? If Alex does more of that, I don’t care. You hear that, Alex? I don’t care. And when we get home, I’ll open up the ritual room again, oh yes, and I’ll show you some of the stuff our family has, because you know what, you’re clearly ready for it. Yeah. And you, Professor — your job here is to oversee your student’s completion of the animagus transformation that they’re registering, as the law requires. So start overseeing!”</p>

<p>If Alex wasn’t expecting the rant, Professor McGonagall certainly wasn’t. She was leaning back, eyes wide. When her father stopped shouting and started breathing heavily, there was a momentary pause while everyone waited to see if more was forthcoming.</p>

<p>When it was clear it wasn’t, McGonagall, rather flustered, readjusted her bun and cleared her throat. “Miss Greengrass, if you would.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Students filed into the great hall.</p>

<p>They took their seats and waited expectantly.</p>

<p>Tracey fidgeted nervously at the front of the hall.</p>

<p>Daphne and the other girls weren’t back yet. If they didn’t arrive soon, they’d miss the judging of the judges.</p>

<p>The Goblet of Fire flared blue.</p>

<p>And Daphne still was nowhere to be seen.</p>

<p>Oh, well. Nothing to be done.</p>

<p>The goblet ejected a slightly singed piece of parchment.</p>

<p>Tracey snatched it out of the air while the now assembled students looked on intensely. It was no wonder why. This would be the only chance many of the common born would have to be involved in the student government.</p>

<p>She read the parchment and suppressed a wince.</p>

<p>“The position of chief judge will be… Heiress Susan Bones!”</p>

<p>Applause and cheering — some polite, some enthused.</p>

<p>John Potter jumped onto the table and cheered louder than anyone.</p>

<p>Tracey nodded as Susan joined her up at the front of the hall. It would be good to get this over with so they could get onto the important business of announcing the heads of departments.</p>

<p>The goblet of fire flared blue again.</p>

<p>But rather than one parchment being ejected, instead, there were two.</p>

<p>The chattering of the hall died.</p>

<p>Everyone stared.</p>

<p>Seconds later, the goblet of fire died as well, its flames snuffed out like a candle being blown.</p>

<p>Tracey caught both parchments in her hand and frowned. Yes, they were supposed to get two more judges but why both at the same time? She opened them and understanding dawned. Twins.</p>

<p>Tracey raised her head and took a deep breath. “And the last two judge spots will be taken by… Marigold and Violet Chesterfield!”</p>

<p>The hall erupted into confusion. Some cheered and clapped while others looked at each other, nonplussed. One Ravenclaw sixth year exclaimed, “Is that stupid goblet saying two first-year Muggleborns have better judgement than me?!”</p>

<p>Marigold skipped up to the front dais with her sister walking behind. She wrapped her arm around a shocked Susan’s waist and beamed at the crowd. “Thank you everyone! We’re here till Tuesday! Mugglepuff Powaaaaarrr!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“A very impressive form, Miss Greengrass,” Professor McGonagall muttered. “One final measurement — total wingspan, if you would, please?”</p>

<p>The golden eagle puffed out her chest and spread her wings.</p>

<p>“2.18 meters,” the older witch muttered. “That seems to be in order. Thank you.”</p>

<p>Daphne crouched down on her summoned perch, leapt off, and transformed mid-air, landing lightly on her feet.</p>

<p>“May I be excused, Professor?” she asked. “I can’t afford to miss the vote.”</p>

<p>“Won’t you wait for Miss Weasley? Surely the same applies to her.”</p>

<p>Daphne smiled. “I assure you that will not be a problem.”</p>

<p>McGonagall sighed. “Very well. Miss Weasley, you next please.”</p>

<p>Daphne left.</p>

<p>On the other side of the room, two grims were awkwardly sitting on the floor next to each other.</p>

<p>“Woof?” one asked, sounding nervous.</p>

<p>“Woof.” the other answered, deadpan.</p>

<p>“Woof?” the first asked again.</p>

<p>Alex transformed back into a human and glared at the questioning grim next to her. “You know I can’t understand what you’re asking! So unless that question was about your suddenly growing a spine…”</p>

<p>Sirius transformed back next to her, sitting cross-legged, hand behind his head. “Look, Alex, I’m not promising everything, but…”</p>

<p>Alex looked away. “You know, I already learned a load of the family rituals.”</p>

<p>Silence fell between them while Ginny the cheetah was measured and inspected.</p>

<p>“Alex,” Sirius said. “I just want to say that I’m proud. I completed my animagus transformation in fifth year. I know how hard it is. And you did it without family help. Without our shortcuts.”</p>

<p>“Very nice looking teeth, Miss Weasley. You must make sure to keep them clean.”</p>

<p>Alex slowly turned towards her father. “Shortcuts?! I didn’t find—” She bit her tongue, looking angry at herself.</p>

<p>Sirius smiled wanly. “I hear you’re going to be in the duelling tournament this year.”</p>

<p>“Yeah. Are you coming? —Not that I care,” she quickly added.</p>

<p>“Yes, I will, I promise.”</p>

<p>Alex harrumphed. “I’m going to smash your old record.”</p>

<p>“I’m looking forward to it.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Hagrid coughed loudly. The whole Great Hall fell silent. “It’s Miss Virgo Malfoy.”</p>

<p>The Gryffindors erupted in cheers.</p>

<p>Virgo stalked up to the front podium, “Thank you, everyone,” she said. “And now let me announce my wardrobe.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“For Magical Games and Sports, Ginevra Weasley.”</p>

<p>Daphne clapped politely.</p>

<p>“For Control of Magical Creatures, Sophie Roper.”</p>

<p>Next to her, Hermione and Luna were also clapping.</p>

<p>“For Prevention of Magical Catastrophes… Luna Lovegood.”</p>

<p>Luna cheered as many uncertain eyes turned to her.</p>

<p>“Slytherin, help us all,” Hermione muttered.</p>

<p>“For the Department of Family Affairs, my brother, Draco Malfoy.”</p>

<p>“For Magical Trade and Crafts, Theodore Nott.”</p>

<p>Hermione leaned towards Daphne. “I can’t believe she would be so stupid as to not see how this is worse for their side.”</p>

<p>Daphne sniffed in return.</p>

<p>“For the Department of Mysteries, John Potter.”</p>

<p>Another loud cheer from the Gryffindors.</p>

<p>“For the Department of Magical Law Enforcement, Susan Bones.”</p>

<p>Daphne caught Hermione’s eye. Neither needed to say what the other was thinking, even while the Hufflepuffs cheered. “Congratulations on scoring a job that will be useless if you’re ineffective and horrifically unpopular if you are.”</p>

<p>“And finally, for the position of International Magical Cooperation, Heiress Pansy Parkinson. Chief Warlock, the floor is yours again.”</p>

<p>Daphne nodded. The battle was won. The Hogwarts student leadership was theirs. Harry would be pleased.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>A week later, applause broke out among the gathered wizards and witches at an informal gathering at Malfoy Manor.</p>

<p>At the top of the large stairway leading down to the ballroom, Virgo stood in her best dress robes and smiled.</p>

<p>“Lords and Ladies,” said Lucius to the assemblage, holding up a half-full glass of red wine. “It gives me great pleasure and honour to present to you, my daughter, the first-ever student minister of Hogwarts school of Witchcraft and Wizardry!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The lords and ladies of the Light applauded as Virgo pushed open a pair of upstairs doors and walked out onto the balcony.</p>

<p>“My friends and colleagues, wizards and witches!” James Potter called out across the ballroom of Potter Manor, “A close friend of my family, a personal confidant of my son and <em>rightful</em> heir, and possibly one day, even more — Miss Virgo Malfoy, the first-ever student minister in a thousand years of Hogwarts history!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“And do you have any final words you’d like to give our readers?” asked Rita Skeeter with a sly smile.</p>

<p> The loud machinery of the Lovegood printing press next door clanked and whirred through the thin walls of the Daily Prophet HQ.</p>

<p>“Any tips or advice for anyone wanting to do what you’ve achieved?”</p>

<p>Virgo smiled back. “I think it’s incredibly important to be who you are. If you dream hard enough, and follow your star, anyone can do anything.”</p>

<p>“Very sentimental,” Rita murmured. She snapped her notebook shut. “Thank you for a good story, Miss Malfoy.”</p>

<p>Minutes later the girl was out of her office.</p>

<p>Rita collapsed in her chair and poured herself a double vodka. Magical Merlin, that girl was slippery. It took one to know one.</p>

<p>Several hours later, Rita did a double take as she realised that her almost empty desk had a new addition. A small cigar box now lay there, locked with magic.</p>

<p>No matter how much she tried over the next few hours, nothing she did could break it. The only clue was the writing on the top.</p>

<p>‘Be ready. I will open when the time is right.’</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Are you sure you don’t want an escort to Gryffindor Tower, Miss Malfoy,” asked Professor McGonagall.</p>

<p>“No thank you. I should be okay.”</p>

<p>“As you wish.”</p>

<p>Virgo let out a sigh of exhaustion as the professor left her alone. The front doors of Hogwarts closed behind her. No one ever said being the greatest witch who ever lived was easy, and if they did, they were a fool.</p>

<p>Halfway to Gryffindor Tower, she stopped dead in a darkened hallway. The fact that it was darkened was a huge clue.</p>

<p>“Miss Virgo Malfoy,” spoke a rumble from the darkness.</p>

<p>Virgo’s adrenaline started to pump.</p>

<p>Lord Slytherin (Harry Potter) stepped out of the shadows. The fact that Greengrass was behind him, looking somewhat sheepish, settled her anxiety a little, but not by much.</p>

<p>“Lord Slytherin,” she echoed. The words, ‘what do you want?,’ were on the tip of her tongue, but at the last moment they changed to, “To what do I owe this pleasure?”</p>

<p>“Nothing much,” Slytherin answered. “Have you been enjoying yourself since you became student minister?”</p>

<p>“Enjoying might not be the right word. It is hard work.”</p>

<p>“Indeed. And so much of that hard work seems to take place outside of Hogwarts, too.” He glanced at Daphne who, if anything, looked even more embarrassed.</p>

<p>Virgo smirked. “Did the little general finally realise there was more than one battlefield to fight over?”</p>

<p>Daphne flashed her a look of pure anger.</p>

<p>“No one is perfect, Miss Malfoy. We all make mistakes. I make mistakes, Daphne makes mistakes. Even you make mistakes. I have several mistakes in mind, in fact. I cannot prove that you made them, of course. You are clearly having a good time. Nevertheless, consider this a warning. If you continue to ‘make mistakes,’ then…”</p>

<p>He reached into the folds of his robe and pulled out a muggle-looking paper diary. He slowly tore it in two in front of her and let the halves drop to the floor.</p>

<p>Daphne leaned forward. “You’re going to tear up her diary?” she asked in a puzzled voice.</p>

<p>“Yes, Daphne,” Lord Slytherin replied, deadpan. “That’s exactly what I’m going to do. I’m going to tear up her diary. Because that’s the kind of evil man I am. That’s how I make threats to pre-teen witches. I threaten to tear up their diaries.”</p>

<p>“Why not just apply a spanking hex?”</p>

<p>“That would be at least a level-four punishment.”</p>

<p>The sardonic back and forth between the two continued on for quite some time, getting more and more over the top as they went, but Virgo was buying none of it. It was clearly an act for anyone who might view these memories later on.</p>

<p>“Lord Slytherin,” Virgo interrupted them.</p>

<p>The two stopped and turned to her.</p>

<p>“Message received,” she bit out, before turning and heading in a completely different direction than the one she’d been intending on.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>In the Room of Requirement, John and Susan were alone and busy. Homework sat finished to one side, and now both were working on paperwork for the Student Wardrobe. Nothing major had happened yet and everyone was still very much feeling out their positions. That was sure to change though.</p>

<p>At that moment, the door burst open, and Virgo stormed in.</p>

<p>Both John and Susan spun around.</p>

<p>“Did you plant the story with the Prophet?” John asked.</p>

<p>“Why are you still wearing your travel robes?” Susan added.</p>

<p>Virgo growled. “Your brother needs to be dealt with.”</p>

<p>“Isn’t that the plan?” Susan asked. “You anonymously deliver all the details to the papers and then we wait for the perfect opportunity when Slytherin gets some bad press.”</p>

<p>“We need it done faster!” Virgo shouted. “We can’t just wait around for an opportunity to present itself. We need a way to make Slytherin look bad now!”</p>

<p>From all around the Room of Requirement came the sound of stone grinding against stone.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>No one quite knows how luck magic works — though the effects, over the years, have been dramatic. Some theorise it bends the universe around the subject, ever so slightly, like gravity. Others, that it gives Fate more leeway to act in our world. Either way, the results can turn up at any time and in the least expected places.</p>

<p>From all around the Room of Requirement came the sound of stone grinding against stone.</p>

<p>Susan dropped her quill.</p>

<p>John’s breath drew in sharply.</p>

<p>Virgo’s eyes widened.</p>

<p>Behind the podium the three had used to hold meetings for the Light, a stone portal ground itself into sight. Stone snakes pushed out through the cracks in the wall, forcing it open, making room for a large circular stone door, covered in more stone snakes.</p>

<p>“Umm…” Susan started.</p>

<p>Virgo and John’s eyes met.</p>

<p>“Is that, you know, the entrance?” Susan continued. “To the Chamber?”</p>

<p>“It’s one entrance,” Virgo said, eyes locked with John. “One I didn’t know about. The others have all been sealed by John’s brother.”</p>

<p>John’s eyes widened slightly. “Of course. You know what the monster is, don’t you?”</p>

<p>“I do.”</p>

<p>“Can you control it?” His words were eager.</p>

<p>Virgo smirked, even as her heart started beating faster, and the adrenaline started flowing. “I’m willing to give it a shot.”</p>

<p>“H-hang on!” Susan darted between the two. “Are we seriously considering this? This is the Chamber of Secrets we’re talking about here. That thing is supposed to kill people!”</p>

<p>Both Virgo and John were silent for a moment. Virgo didn’t need legilimency to know they were both thinking the same thing. That there was at least one death neither would mind. On the other hand, one had to work with the team one had.</p>

<p>“It doesn’t have to kill,” Virgo eventually said. “The monster has a ‘safe mode’. So long as I can control it, no one has to die. We just need to set a trap, that’s all.”</p>

<p>“I don’t like this,” Susan muttered.</p>

<p>Virgo focused and shifted into her lamia form. Her massive tail snaked out across the floor and around a nearby training dummy. <em>§Open§</em> she hissed.</p>

<p>The stone snakes acting as a lock on the portal all slithered aside and the doorway opened to reveal a massive pipe heading straight downwards into dark, inky blackness. A small stone teetered over the edge, then fell. The sound of bouncing rock against metal echoed for quite some time.</p>

<p>“Oh, I <em>really</em> don’t like this.”</p>

<p>“Don’t be a pussy,” Virgo hissed. “Just get on. Thisss way wasss made for Sssnakesss.”</p>

<p>Reluctantly, Susan joined John on Virgo’s back and the three slithered their way straight down into the blackness of the Slytherin pipe network.</p>

<p>As they neared the entrance to the chamber proper, Virgo began to have doubts. She could hear whisperings. Whisperings that were getting stronger.</p>

<p><em>§Release me!§</em> <em>I am king!§</em> <em>Only one king!§</em> <em>One true king!§</em> <em>This nest is MINE!§</em></p>

<p>Virgo paused at what had to be the final extra secret entrance to the Chamber of Secrets. “Close your eyesss, both of you. Just to be sssafe.”</p>

<p>“Virgo, what <em>is</em> the monster?” Susan asked.</p>

<p>“Thousand-year-old Basilisk.”</p>

<p>Both Susan and John let out shocked chokes, but it was too late to object. Virgo was already slithering through as the door opened.</p>

<p>Behind John, Susan was trembling.</p>

<p>The chamber was just as magnificent as Virgo’s memories informed her it would be. The huge stone pillars, the massive statues, the cathedral-like air of sanctity.</p>

<p>A hissing voice in the air immediately smacked her out of her wonder.</p>

<p><em>§You… you are my master… but you are also… not§</em></p>

<p>Virgo’s heart leapt into her throat. <em>§I am your master!§</em> she hissed back into the seemingly empty chamber. Merlin only knew how such a large snake kept itself hidden.</p>

<p><em>§You smell like my master. Your soul tastes like my master. But you are not him. And you are highborn snake. Only one king.§ </em>Then from behind a pillar, it came, sliding out into the open, twenty tonnes of digestion factory with death at one end and bones at the other.</p>

<p>Virgo could feel Susan and John on her back, clutching each other.</p>

<p><em>§I am not a king! I am your master!§</em> Virgo hissed desperately, inventing wildly. <em>§No, I am your mistress!§ Close your killer gaze! I demand it!§</em></p>

<p>The basilisk paused. Its huge head, lined with fangs and dripping venom, now hovered over the trio.</p>

<p><em>§Not a king?§ </em>The basilisk asked<em>. §No, not a king. Not master, either. Mistress, maybe? But a queen — a queen, yes. My queen! Yes. My gaze is closed. Your humans are yours.§</em></p>

<p>Virgo swallowed. The implications of the queen statement were too horrifying to contemplate; but Dark Lady she was, so contemplate them, she did.</p>

<p>“Potter?,” she eventually ventured, “I have a plan now. And no one needsss to get massively hurt,” she added, for the benefit of Susan. “But it will require you to be a hero.”</p>

<p>She had to give him credit. Even in the face of death, John Potter could summon stones like few wizards she knew. “Well, of course,” he said, voice barely wavering. “I <em>am</em> the boy-who-lived.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>It was next week. It was also late. Dinner would be finished soon, but Hermione had only just completed healer training with Madam Pomfrey. Food these days was an on-the-go affair. Her studies were progressing well, although not as quickly as she’d have liked. What she <em>really</em> wanted to start on was the aether unpacked. Harry had assigned her so much reading in preparation even she was having difficulty keeping up. This was not helped by the fact that after living over a year as a unicorn, while the rest of the girls trained, Hermione felt behind like she had never felt before. And Hermione <em>hated</em> feeling behind. Soon, she would be ready. So very soon. But soon was not now, and that irked her.</p>

<p>She turned a corner, heading back towards the Slytherin dungeons.</p>

<p>All thoughts of her next assignment or essay died as she caught sight of something that should not have been before her. She gasped. “Harry!”</p>

<p>She ran up to the figure, but slowed down just before arriving. She frowned. The figure was petrified, but…</p>

<p>“Oh, it’s <em>you</em>,” she said, the final word dripping with disdain. John Potter. And he’d apparently been attacked.</p>

<p>Hermione wasn’t worried. The small snake in her pocket, which was there specifically to warn if the basilisk was near, lay restful, just as Harry had ordered it a long time ago.</p>

<p>Nevertheless, Harry should be told about this right away.</p>

<p>She was about to send a quick coded message through her lightning-bolt ring, when she caught sight of what was written on the wall above her.</p>

<p>She stared.</p>

<p>Suddenly, there was the loud sound of dozens of students filing out from the Great Hall. Dinner was over. If she was found here… Hermione thought a bad word.</p>

<p>Her eyes darted towards the dungeons, but no, running would be even worse.</p>

<p>They all stopped and stared when they saw the sight before them.</p>

<p>Hermione Granger, standing next to the petrified form of John Potter.</p>

<p>“It wasn’t me!” she said indignantly. “He was like this when I got here!”</p>

<p>The crowd read the message, written in blood, above the petrified hero of the Wizarding World.</p>

<p style="text-align: center;">THE CHAMBER OF SECRETS HAS BEEN OPENED.</p>

<p style="text-align: center;">ENEMIES OF THE GRAY, SHALL PAY.</p>

<p style="text-align: center;">— End of Chapter Sixty-one — </p>

