Chapter 62 - Nature Red - Part 6

<p>In Hermione’s trunk, in the girls’ dorm-room, Harry sat at his new conjured meeting table. It was a round table. Very Arthurian.</p>

<p>Over the last few years, each of the girls around this table had proven themselves loyal to him, in one way or another, again and again. He could imagine many other ways that he could’ve operated after he came back in time, but sitting here and watching the girls debate and argue among themselves, he wouldn’t change a single thing. He felt no need to interrupt the heated discussions. He just listened, considering each point of view on its merits, while parsing it through his own practical modus operandi.</p>

<p>“We need to restrict Virgo’s movements,” Hermione said loudly, thumping her fist on the table with unusual forcefulness. “This whole situation is getting ridiculous. People keep looking at me as though I’m some kind of assassin! Me! Alex I could understand, or Ginny! But me! When did I ever do anything to make them think I’m capable of attacking that no-good horrible pile of—”</p>

<p>She would have continued, but she was interrupted by Ginny. “—We can’t just restrict her movements. I already told you. I’ve been trying to get a bead on her all month! She’s never alone. She never leaves Susan’s side outside of Gryffindor Tower, and even inside, she has a small bodyguard all around her. Even Fred and George can’t get close.”</p>

<p>“That wouldn’t be much help anyway,” Luna added in a dreamy voice. “Not unless we told them that Virgo was Lord Voldemort. I doubt they would accept kidnapping her otherwise. And you did attack and defeat a troll, Hermione. Did you forget? And you faced down Dumbledore. Because most people have not forgotten.”</p>

<p>“That’s not the same thing at all! And it’s just getting worse! Are we sure we can’t just tell people it’s Virgo?”</p>

<p>Daphne sighed. “Hermione, we don’t know how Virgo is doing this. She shouldn’t be able to speak parseltongue. Not if Harry was right about the magic being passed down through the Riddle line. The diary gave up being a Riddle for being a Malfoy when it became Virgo. It’s not even impossible that the snake isn’t being used. We haven’t caught it, and not even the Marauder’s Map is giving any clues, despite us watching it 24/7! There are other ways to cause petrification. Until we know what’s going on, accusing Virgo isn’t possible. It might not even be the best option, even if we <em>did</em> know.”</p>

<p>Harry continued to watch the discussion with his fingers steepled under his chin. Since Hermione had found his twin brother petrified with a threatening message above his head, two more students had suffered the same fate.</p>

<p>The second attack had been on Colin Creevey, one of the muggleborns Hermione was working with.</p>

<p>The third attack had been on Draco Malfoy.</p>

<p>That was when shit had really started to hit the fan at Hogwarts. Lord Malfoy stormed into the Great Hall, demanding mandrake from Professor Sprout that still wasn’t ready. The Daily Prophet had run an article about the attacks, the ministry had gotten involved, and the Wizengamot, now backed by both the Light and Dark, had made a statement decrying the attacks as intolerable.</p>

<p>It was all so inconvenient. There was so much outside the school that required his attention.</p>

<p>There was the furnishing of Slytherin Manor, the continued observation of Dan Granger’s new powers, the surveying of the sunken treasure ship, regular social events with the Gray, fielding investment opportunities, working with Lockhart on the upcoming book, researching the obscurial, fielding requests from governments about his broom-sub manufacturing operation, dealing with parchment work, and finding more and more ways to politely deal with a myriad of requests for betrothal contracts.</p>

<p>Those were mostly for Lord Slytherin, but they also included Tracey and even Astoria. Tracey was understandable, since Lord Davis had made it known that Slytherin was handling his granddaughter’s arrangements, but Astoria had been a surprise ever since the Harpers had asked the previous year. Apparently, many people felt he had enough sway over the leadership of the Gray that a word from him on their sons behalf would be as good as a done deal.</p>

<p>He forwarded all <em>those</em> letters to Lord Greengrass.</p>

<p>Both Tracey and Astoria’s letters had started to take on a more foreign flavor recently, too. The Gray’s standing as a legitimate power was strengthening, not only in Magical Britain, but also beyond its borders.</p>

<p>It all just made the current situation all the more irksome. If he was being honest, he rather hoped his generals would be able to handle this matter by themselves.</p>

<p>He brought his attention back to the discussion in front of him to find the girls still arguing.</p>

<p>“What about the Aurors?” Ginny asked. “Couldn’t we bring them in? They might have good ways to deal with a such a large basilisk.”</p>

<p>“That would cause a massive panic,” Daphne jumped in. “The school would be evacuated. Harry could lose his control of the wards.”</p>

<p>“And we might have to give up the body!” Alex added.</p>

<p>Hermione snorted. “Do you really think you could raise such a ridiculously powerful inferi?”</p>

<p>“I could with Lord Slytherin’s help.”</p>

<p>Harry pursed his lips. Even if these attacks didn’t originate from the basilisk, the mere presence of the giant snake had gone beyond mere inconvenience. They’d put off doing something about it as long as they could. But now circumstances were coming to a head.</p>

<p>“Okay,” Harry said out loud, silencing all discussion around the table. “Daphne, I will be out of the castle for the next few days. I’d like you to lead some brainstorming session for how to tackle the Basilisk. In the meantime, Ginny, keep tailing Virgo. Try not to let her out of your sight.” Harry looked at each of the girls in turn before taking a deep breath. “We’ll do it on the day of the Hogwarts duelling tournament.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Just as it had been ever since the attacks had started, over the next few days, Hogwarts castle was in tumult. Students whispered, ghosts flew constantly alert, and the professors tried their best to keep their classes focused on academics, rather than on the two questions on every’s mind.</p>

<p>Who was the attacker? And who would be the next attacked?</p>

<p>The fact that two of the victims were John Potter and Draco Malfoy, two of the most important students in the school, sent chills through the noble and pureblood students. The shared fate of Colin Creevey did the same for the muggleborn and halfbloods.</p>

<p>The Hogwarts Black Market bustled with trade, hawking everything from garlic in case the attacker was a vampire, to shrunken live roosters, in case it was a basilisk. It was too bad the latter only worked on young examples.</p>

<p>Opinions on who was to blame, both inside the castle and out, fell into three broad camps.</p>

<p>The first group was those who took the message painted at the wall at face value. The Gray did it. Case closed. Look, they even confessed. It’s written right there!</p>

<p>The second group pointed out that it would be pretty silly for the Gray to confess to a crime like this. Lord Slytherin was many things to many people, but stupid was not one of them. The Gray was obviously being framed. Although exactly who was doing the framing when both John Potter and Draco Malfoy had been attacked was, they had to admit, a bit of a problem.</p>

<p>The third group just shook their heads and rolled their eyes. Obviously it was possible that the Gray were being framed. But writing a message taking credit for an attack like this was so obviously stupid that it could actually be the Gray who did it. Once the conclusion of a double bluff had been drawn, it easily led to the possibility of a triple bluff, a quadruple bluff, etc. At the end of the day, it could be anyone, and since no one from the Gray had <em>been</em> attacked, it could easily have been them.</p>

<p>The problem for the Gray was that the majority of Wizarding Britain tended to fall into the first group of thought, while most of those who mattered fell into the last.</p>

<p>It went without saying, that tensions, in every common room across the school, were high.</p>

<p>Tensions were especially high for a young witch with yellow and black trimming on her robes, sitting in the Hufflepuff common room, doing her best to ‘act natural’, and finding she wasn’t all that good at it.</p>

<p>“Come on, Susan,” Hannah said, “You need to relax, nothing’s going to happen to us here. They’ll catch whoever’s behind the attacks soon. And then your aunt will toss them into Azkaban. Bam!”</p>

<p>Susan barely suppressed a flinch. The collar of her robes felt far tighter than usual. “Hahaha,” she said. “Yes, I guess you’re right. I’m not really that worried,” she lied. “I’m just feeling a bit stressed out from the student court stuff.” The first session had been held a few days previously and to no one’s surprise, every problem brought before the three judges were petty cases of teenage drama. In one fell swoop, Susan had been catapulted right into the number one target for gossip. So it was understandable if she was a bit stressed. Even if that wasn’t the real reason.</p>

<p>“Jeez,” said Ernie Macmillan. “I never thought I’d see a seventh year crying over being dumped on a Hogsmede trip. He’s almost a grown up.”</p>

<p>“But you served him justice, Susie!” Hannah said, clapping her friend on the back. “No means no, and not, ‘please hex my pet cat to belch itching powder in my clothes.’”</p>

<p>“Haha, yes,” said Susan.</p>

<p>The sofa fell quiet.</p>

<p>Hannah’s face softened. “Don’t worry, Susie, I’m sure John will be cured and back with us soon.”</p>

<p>For the first time in the discussion, Susan felt something other than guilt. Her heart clenched. She fondly muttered under her breath. “That idiot.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Hey, Black!”</p>

<p>It was inbetween classes. Alex was on her way to Potions when the aggressive voice called her. She stopped dead with several books held to her chest.</p>

<p>She wasn’t alone. Pansy, Nott, Crabbe, Goyle, and Millicent walked with her. They also stopped.</p>

<p>The group turned.</p>

<p>Alex did not.</p>

<p>“Creswell, what a surprise,” said Pansy in a mocking voice. “Are you sure you can afford to take time off making cheese to talk to us? Our time is very valuable.”</p>

<p>Alex smirked to herself. Creswell? She was the fourth year Hufflepuff seed for the duelling tournament. Her lord had showed her his memory from their ‘exchange’ last year, if such a curbstomping could be called an exchange.</p>

<p>“Go away, Parkinson. I’m not hear to talk to you, I’m hear to talk to Black. Hey, Black!”</p>

<p>Alex still didn’t turn around. “Can I help you?” she asked.</p>

<p>“No, I don’t need your help. I just wanted to give you a warning. I’m sure Harry has told you all about what happened last year at the tournament. I just warning you that won’t happen again!”</p>

<p>“Harry?” Alex let an amused tint into her voice. “Not Potter? Wow, did you feel his smack down <em>that</em> hard?”</p>

<p>There an embarrassed silence for a moment.</p>

<p>Alex finally turned around to face the fourth-year Hufflepuff. She was athletic, as was to be expected, a half-dozen inches taller than Alex, and wore her strawberry blonde hair in a ponytail.</p>

<p>The girl was actually blushing. “Look, Black, I know you think you’re hot shit, but let me tell you, compared to Harry, you are nothing. I’ve been hearing rumors that you want to do what Harry and John did last year. A full sweep 7-0. That is not happening. The Hufflepuff team has been practicing hard all year. Trying to fight Harry is like trying to fight a force of nature. You clearly have never felt Harry’s power yourself or you would never be spewing such self-important rubbish.”</p>

<p>Alex’s smirk slowly morphed into a grin. “You think I haven’t felt ‘Harry’s’ power?” She burst out laughing. The laughter went on for so long that even Nott and Pansy started looking at her oddly. “Was this really all you came to talk to me for?” she eventually asked. “To shit talk a week before I smack your ass down into the dirt myself?” Her grin morphed back into a smirk “Maybe then I can get you to blush for me too.”</p>

<p>Creswell did not look impressed. “You won’t be talking so big once you’re on your knees on the arena floor after losing to Heiress Bones. If you even get to me, I’ll eat my hat.”</p>

<p>“It won’t be me on my knees,” Alex answered. “And I don’t care about your hat.” She smiled smugly. “Why don’t we make a bet, instead. If you’re so sure about winning?”</p>

<p>The fourth year Hufflepuff narrowed her eyes. “What kind of bet?”</p>

<p>A few minutes later they shook hands and parted.</p>

<p>As they went their separate ways, Pansy leaned in closer to Alex and said in a low voice, “Did none of them see the memory of what you did to the Slytherin common room at the start of year?”</p>

<p>“Most people think that was fake now,” answered Nott in a low voice of his own. He gave Alex a calculating look. “Now you’ll have to prove yourself for real. Are you sure you can back up that level of smack talk? You’re going to look really stupid if you can’t.” His voice took on a fiercer note. “<em>We’re</em> going to look stupid.”</p>

<p>“Relax,” Alex said. “I got this. Hang on.” They were just passing the last bathroom before the dungeons. “I’ll catch up with you all. Yes, I’m sure.”</p>

<p>The moment Alex knew she was alone, she faced the mirror and did the Dark Lady Dance. “Oh, yeah! Who’s so cool? You’re so cool. Yes, you are.”</p>

<p>She then quickly did her business and hurried off to Potions. Professor Potter had gotten a lot stricter in the last few weeks.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“You need time off for what?!”</p>

<p>The head of the DMLE, Madam Amelia Bones, Regent of the Ancient and Noble House of Bones, looked over her parchment work at the man who’d just had the temerity to ask for less work when everyone else was being run ragged.</p>

<p>“I need time off for the Hogwarts Duelling Tournament,” Sirius replied calmly.</p>

<p>“Black, you know we’re still dealing with the fallout from the magical storm?”</p>

<p>“Yes.”</p>

<p>“And that the ICW is getting on our backs about our obligations to the obliviator squads?”</p>

<p>“Yes.”</p>

<p>“And that the Department of Mysteries is still insisting the storm birthed a chimaera, and we still don’t know where it is?”</p>

<p>“Yes.”</p>

<p>“And that despite it being over a year, we still have no leads on the rogue Necromancers that we <em>know</em> are active inside Magical Britain?”</p>

<p>“Yes.”</p>

<p>“And most importantly of all, that despite your secret contact insisting that He-Who-Must-Not-Be-Named is still alive, that we still have no more leads on that either? You know all this?”</p>

<p>Sirius took a deep breath. “Yes. But I promised Alex. We’ve barely had any time together recently. Honestly, it feels just like yesterday when she was still so tiny. She’s growing up fast now. I’ve decided I can’t miss this.”</p>

<p>Madam Bones rubbed her face. “Don’t you think that I wouldn’t also enjoy taking a day off to watch Susan compete?”</p>

<p>“Maybe you should. We could go together. We could even make sure no funny business goes down. You remember what happened last year.” He grinned. “You might as well have been there to begin with and saved the bother of being dragged there anyway.”</p>

<p>A look of massive internal conflict flicked across Madam Bone’s face. Finally, she sadly shook her head. “I can’t justify taking a day off. Not now. Susan is a responsible witch though. She understands.” She then gave Sirius a thoughtful look. “Maybe you do have a point though. Given what happened last year, maybe having an official DMLE observer at the tournament wouldn’t be a bad idea.” Her voice became one of command. “Black, I’m putting you on special assignment at Hogwarts for the Duelling Tournament. Keep your eyes open and make sure everything is nice and legal.” She stamped a parchment in front of her and handed it over. “Talk to the Department of Magical Family Affairs to get a good ticket.”</p>

<p>Sirius grinned. “Yes, Ma’am.” He turned to leave.</p>

<p>“And Sirius?”</p>

<p>“Yes?”</p>

<p>“I think I should warn you, that if Alex meets Susan in the tournament, your daughter will not win.” she smiled evilly. “My niece has become quite a powerhouse.”</p>

<p>Sirius matched her smile with one of his own. But he didn’t reply. He just quietly left the office, closing the door behind him.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Just behind the space between souls, Hermione Granger peeked her unusually bushy-haired head out of Hogwarts’ massive front doors, and stared into the void beyond.</p>

<p>Total silence.</p>

<p>Here, there wasn’t even a shifting of air.</p>

<p>There was no echo. The sound of her footsteps was///sounds of her footsteps were simply sucked right into the cavernous space ahead.</p>

<p>Hermione took a deep breath and stepped out onto a stone balcony, fenced by tall iron railings.</p>

<p>There was no soul bridge. Hermione Granger had nothing to bridge to.</p>

<p>She did have strings though.</p>

<p>They sunk into circular orbs that ran the distance around the iron railings - at least five of them that she’d found. There had been six, but the moment her dad became a magical null field, one of the strings had vanished.</p>

<p>It had taken her quite a long time to confirm that, because the strings were not easy to detect. A few in particular, were so thin and wispy that they might as well not have been there at all.</p>

<p>Not so for the one she cared for today.</p>

<p>One string shooting off from her soul balcony shone bright white in the ever-darkness of the chasm. As Hermione stepped towards it, she felt the comforting feeling of rightness. Of goodness. And of an incomplete part of her that yearned to join.</p>

<p>When Hermione reached the string, she placed a hand on the orb anchoring it to the balcony railings and closed her eyes.</p>

<p>Magic flowed out from her mindscape behind her and into her avatar here. It flowed through her body and mind in a very specific pattern. Hermione took a deep breath. She did not say any words. She didn’t even think words. This went beyond the normal ritualistic casting of mere spells. Instead, she yearned, in turn. But what she yearned for, was not to join, but to know.</p>

<p>In that instant, the chasm between souls vanished. Wind from a place unknown blasted past Hermione, whipping at her hair and skirts. The balcony stopped holding her weight, and the feeling of falling started, and just as quickly stopped. Then there was a tug, as though a hook was attached to the front of Hermione’s robes and she felt as though she was rocketing through space.</p>

<p>All this while, Hermione repeated a mantra over and over in her mind. ‘I am Hermione Granger. I am Hermione Granger. I am Hermione Granger.’</p>

<p>A pinprick of light far off in the distance got nearer and exponentially more massive in an instant. Hermione found herself floating in a sea of stars, orbiting a planet of pure white light. The feeling of goodness from her string washed over her from the orb, so massive it held her its gravity, but so near it was as though she could reach out and pluck it from among the stars.</p>

<p>Hermione did nothing.</p>

<p>She did not try to cast magic or play games from her mindscape. She merely stared at the purity and goodness before her.</p>

<p>The moment didn’t last.</p>

<p>Suddenly, her whole universe shuddered, sending magic star dust everywhere, as though someone had just knocked on a snow-globe while she was inside it.</p>

<p>Hermione’s eyes snapped open.</p>

<p>The space between souls was just as dark as ever.</p>

<p>Hermione’s eyes snapped open.</p>

<p>Her mindscape was just as it always had been. The glass that showed the great lake in the Slytherin dorms, just as green and murky as she remembered.</p>

<p>Hermione’s eyes snapped open.</p>

<p>All around her, the Founders Club went about its business, just as it always did. Footsteps, voices, and laughter echoed off the stone walls. In the middle of the room, Violet and Marigold Chesterfield were sparring with a ferocity that most in the Wizarding World would never expect to find in mere first years, and certainly not muggleborns. Off to one side, a small circle of students was///circles of students were in deep occlumency practice with their partners.</p>

<p>“Huh?” Hermione said, momentarily forgetting that well-brought-up, intelligent young witches don’t say, ‘Huh?’</p>

<p>She turned her head to find Justin Finch-Fletchley lying bent on the ground, cradling his shin, his face a rictus of pain. He was laying exactly how one might expect one who had tripped over, say, a chair leg. A small mountain of books lay around him.</p>

<p>What had disturbed her exploration practice was as clear as day.</p>

<p>“Sorry, Hermione,” Justin groaned. “Wasn’t looking where I was going.”</p>

<p>Hermione huffed. “You couldn’t have picked a worse time to be clumsy. And Madam Pince would be furious if she saw you handling library books like that.”</p>

<p>“Sorry.” Justin rubbed the back of his head. “It’s just— I think we’re all a bit on edge. There’s so much going on.”</p>

<p>That much at least was true. The activities of the Founders Club were always a strange mix of the practical, academic, philosophical, and political. But right now, all those aspects were overlapping each other. The scope of the club had long expanded beyond just the first and second years, and now their customary empty class room practically bustled. There were even a few halfbloods around — those who’d grown up mostly in the Muggle World and knew little of traditional wizarding culture.</p>

<p>Of course, not everyone was getting access to Harry’s special teaching techniques — not everyone had proven themselves yet, not like her — but the number was increasing.</p>

<p>There was a feminine clearing of throat. It came from the portrait of Elizabeth Greengrass, hanging behind the two on the blackboard. The aristocratic witch glared down at Justin. “If you are quite finished being an embarrassment, perhaps we can get on?”</p>

<p>Justin immediately leapt to his feet and started apologising again, this time to the portrait.</p>

<p>A loud cheer erupted from the spectators around the middle of the room as Marigold — who was also the Hufflepuff first year duelling seed — successfully disarmed her twin sister with a wandless expelliarmus.</p>

<p>Seeing just how red-faced Justin was, Hermione suddenly felt guilty for snapping at him. On the other hand, what was it Harry sometimes said? If you are always a source of pleasure, they will take your goodness for granted. If you are sometimes a source of pain, they will fight to keep your favor. Of course, Harry had gone on to say that most people had no idea if they were a source of either, and even fewer knew how to consciously create the effect.</p>

<p>It wasn’t easy for her. She knew she wasn’t Daphne. Hermione had to work hard to think in terms of other people and the way they saw the world. It was just so difficult when the way they saw the world was so obviously wrong.</p>

<p>Hermione cut Justin off just as a few other students arrived around the lectern Hermione had been sitting behind. “There is nothing to apologise for,” she said. “I should have been more careful.”</p>

<p>In the middle of the room, Marigold got in a cheeky stunner on an over confident third year.</p>

<p>After all, Hermione added in the privacy of her own mind, if Harry hadn’t meant her to explore at least this much in public, he wouldn’t have given her his blessing.</p>

<p>Below the silk fabric of her robes, she felt the lightning-bolt-shaped dream amulet pressed firmly against her skin.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>In the Room of Requirement, another, far less equally matched battle raged. Bookcases reached high up to the vaulted roof. Broken desks blocked off escape paths. The very room molded itself to its mistress’ whim. An explosion of magic sent dust flying from shelves.</p>

<p>Susan crouched, panting in one of the narrow pathways, wand clutched tightly in hand. Her eyes darted up and down the path between the shelves. Sweat beaded on her forehead.</p>

<p>There was a faint rumble form behind her. Her eyes widened in panic. She had just enough time to throw herself forward before a giant hand made of second-hand books thrust out from the shelf and snatched shut where she’d been just moments before.</p>

<p>“Incendio!” Flames shot out from her wand and engulfed the paper and parchment hand. She didn’t stop to see the result. Already, more hands were sprouting. Susan dashed down the passageway as fast as her legs could take her.</p>

<p>“Incendio! Incendio! Incendio!” Susan threw herself around the nearest corner. A fist covered in fire grabbed for her but missed by barely a hair. Susan stumbled back and fell. Her wand clattered onto the ground only a foot away. Six paper hands shot out from the surrounding shelves.</p>

<p>Susan rolled to the side and snatched up her wand. “Incendio Columna!” The effects were pronounced. A small firestorm sprang up around her. Wind roared in her ears. Heat scorched her skin. It seared away the paper fists making grabs at her through the flames.</p>

<p>A few seconds later, the fires winked out.</p>

<p>Susan got to her feet shakily. Her clothes were soaked with sweat. Her breath was ragged. Her chest heaved. Parts of her skin were shiny and the tip of her nose started to flake.</p>

<p>A faint rustling sound was the only warning she got. Something large and papery dive bombed her from above. She had just enough to time to raise her wand and scream “Incendio!” but all that came out the end was a sad little ‘Phut’.</p>

<p>A giant parchment butterfly barreled into her, sending her sprawling across the floor. Her wand clattered away again. Her robes tore. Her knees scrapped. The butterfly soared back into the air. Susan rolled over onto her hands and knees, wincing at the pain, and groaned. She coughed. blood spattered onto the flagstone floor.</p>

<p>“Get up,” the voice came down from on high.</p>

<p>Susan snarled before pain wiped it from her face again. She got one foot under her and raised herself on shaking legs. She craned her neck to look up.</p>

<p>Virgo stood atop the shelf next to her. The paper butterfly on one arm and both their wands in hand. “Do you now see why learning the wandless summoning spell is important?” Virgo asked.</p>

<p>“Yes,” Susan ground out through clenched teeth.</p>

<p>“Good.” Virgo tossed her wand back down.</p>

<p>Susan managed the catch without dropping it.</p>

<p>“And what else have we learned?”</p>

<p>“That you are far more dark lord than you first let on. That or you just waited until John was petrified to show how much of a sadist you are!”</p>

<p>Virgo’s look turned cold. “Voldemort would never risk teaching someone the way I am teaching you, Bones. And what we are doing now is the only way either of us will live. En Garde!”</p>

<p>Susan had only enough time to raise her wand and summon a stray book from the smouldering piles that lay all around before a nasty looking purple spell impacted the tome and exploded in a hundred shredded pages.</p>

<p>“I’m empty!” Susan screamed.</p>

<p>“Deal with it.”</p>

<p>Susan ran. She ran to get away from the curses. The hexes. The rain of offensive magic that poured down on her from the rafters above. She could feel her magic replenishing itself from her core. That little trickle of power that normally sloshed around inside her like a comforting hot water bottle. It wasn’t refilling nearly fast enough now though, and with every shield she had to throw up, her ability to evade the next spell lowered further and further.</p>

<p>“Do you think an enemy will give you a break!” Virgo shouted down at her, following on behind, somehow managing to keep up while still only walking. “Do you think a battle is like a duel?! Do you think your aunt trains her aurors to fight with time limits and courtesy and a proper announcement like they were going to a ball?!”</p>

<p>Susan screeched to a halt. She blocked another spell with a random tea tray and snapped around. “My aunt!” she started, face furious, panting to get her breath back. “My aunt would not drag innocent people into her political schemes!”</p>

<p>Virgo stopped and looked down at her.</p>

<p>“John was okay!” Susan continued. “He agreed to it! But Creevey didn’t! Even petrifying Draco wasn’t right!”</p>

<p>Virgo didn’t look impressed. “You know they will suffer no long term harm. Once they are administered mandrake draught, they will be as they have always been.”</p>

<p>“And what about their education?! Creevey might have to be held back a year! It’s hard enough for muggleborns as it is! And not even Draco deserves having his hard work staying ahead stolen from him!”</p>

<p>“Draco is my brother. I will decide what is best for him. This is war, Susan. John trusted us to fight for him while he is gone. We are doing what must be done. Once the time is right I can release the story to Skeeter and our task is done.” Virgo’s eyes cooled. “Or are you just terrified your aunt might learn the truth?”</p>

<p>It was like the little first-year Gryffindor witch had punched her in the gut. And with an attack no shield could block.</p>

<p>“What if you lose control of it?!” Susan shouted, defensively.</p>

<p>“I will not lose control of it,” Virgo stated simply.</p>

<p>“But how can you know that?! That thing is dangerous! Really dangerous!”</p>

<p>“That’s why it is perfect. Not even Slytherin will attack it by himself.”</p>

<p>“What if he tells the ministry?!”</p>

<p>Virgo transformed into her lamia form and coiled herself down a pillar to the ground. “Then he would have to admit that he’d known about it for the last three yearsss and done nothing. We proved that when John was petrified and we received no blow-back.”</p>

<p>“Or maybe he’s planning something and waiting for us to dig our own graves!”</p>

<p>“Perhapsss,” Virgo replied. But it was clear from the look on her face that she didn’t believe it. She smirked. “Tell you what. If I lossse control of the basilisk, do whatever you want. I doubt I’d care at that point.”</p>

<p>Susan spat blood off to the side and wiped her mouth with the back of her hand.</p>

<p>Virgo raised her wand again. “Now, enough rest! Ssslytherin may be powerful, but magical creatures are the classic hard counter to powerful wizards. Ssstrike me!” Her voice raised into a shout. “And this time actually try!”</p>

<p>Susan screamed and charged.</p>

<p style="text-align: center;">— End of Chapter Sixty-two — </p>

