Chapter 63 - Nature Red - Part 7

<p>Roughly a thousand kilometers away, one Jane Clearwell took a deep breath in front of her domitory mirror and checked her hair one last time. In her hand, she clutched a letter.</p>

<p>“Oh, for pity’s sake,” said her room mate, Sarah, from her bed. “You look fine! You look better than ever!”</p>

<p>Jane had to admit that this was true. There were several empty and expensive potion bottles on the bedside counter to prove it. She took another breath. “You’re right. You’re right,” she repeated. “Positive thoughts.” She hefted her satchel and walked to the door.</p>

<p>“And remember to put in a word for me too!” Sarah called as Jane crossed over into the hallway.</p>

<p>There weren’t many students around at this time of day. Jane made her way down the stairs of The Shoe towards Madam Goose’s office, somehow not sure if what was about to happen was real.</p>

<p>“Come in,” Madam Goose called through the door when she knocked.</p>

<p>This was only the second time Jane had ever seen Madam Goose’s office. The first time had been when she’d been enrolled. And that was almost seven years ago.</p>

<p>Madam Goose looked up from her parchment work. “Ah, Miss Clearwell. I see you are ready.”</p>

<p>“Yes, Madam Goose.”</p>

<p>The older woman looked over her glasses at her. “I hope you appreciate what an opportunity this is for you.”</p>

<p>“Yes, Madam Goose.”</p>

<p>“Most students do not get the opportunity to work part time while they are studying.”</p>

<p>“No, Madam Goose.”</p>

<p>“You are to be back at school before lights out and if any of the teachers tell me your work is suffering I will see to it that this arrangement is pulled.”</p>

<p>“Yes, Madam Goose.” Jane found herself fiddling with the strap of her bag.</p>

<p>Madam Goose steepled her fingers and leaned over her desk. “Just so we are clear about this. I want you to remember that you are representing not only yourself, but all The Shoe as well. Your success or failure here might determine whether future students enjoy similar opportunities. So I will accept nothing less than your best effort. I will be receiving regular reports from our partners on this little experiment. Do I make myself clear?”</p>

<p>“Yes, Madam Goose,” Jane practically squeaked. As if the pressure wasn’t already high enough.</p>

<p>Madam Goose pointed to her personal floo. “Off you go, then. But I expect you to use the entrance hall floo in future.” She paused as though remembering something. “And while you’re there, please tell Clare that I’ll have to reschedule our next Tuesday appointment to Thursday.”</p>

<p>Jane nodded. She walked to the floo, took a pinch of powder, flung it into the flames, stepped in, and, with a clear voice that sounded a lot more confident than she felt, called out, “Slytherin Manor!”</p>

<p>The flames whooshed past her. The ride was the longest she’d ever experienced — from Southern England to the Scottish Orkneys. It made her far better appreciate just what Clare had to go through every single day.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Jane did not arrive in the residences on the third floor, as Harry was wont to do. Nor did she arrive in at the entrance hall, as those who arrived for Slytherin Gala Night had. She instead arrived on the second floor on the left hand side of the manor, in the closed off section designated for the staff.</p>

<p>Jane stepped out of the floo and was immediately struck by how empty the place felt. After seven years of living at The Shoe, with every wall covered in patch-work quilting, it was odd to find a magical building without so much as a painting on any of the walls.</p>

<p>There was an empty desk in front of her, like one might expect a receptionist to sit at, but there was no chair, no shelves, no stationary, and most importantly, no actual receptionist.</p>

<p>A cough that echoed around the hallway drew her attention to the only other presences in the room — two other wizards, both of whom looked young, like her, sitting on chairs in a corner. The fact that there was only one other chair clued her into what she was supposed to do now.</p>

<p>“Hello,” she said nervously, folding her long skirt under her as she sat.</p>

<p>“Morning.”</p>

<p>“Hello.”</p>

<p>No sooner had she sat down though, then a door opened and an older wizard walked in, causing her to practically jump out of the chair. She cursed herself.</p>

<p>“Relax,” the man said in a clear voice that projected all around the echoing///empty hallway. He looked to be around middle age, although with wizards that could easily mean he was in his mid sixties. “We’ll have tea ready soon.” He smiled. “But we’ll have the tour first. Are you all ready?”</p>

<p>They all nodded.</p>

<p>“Excellent. My name is Daniel Granger. And if all goes well, I will be your new boss.”</p>

<p>He confidently shook the two guys’ hands, then turned to her.</p>

<p>Powerlessness. That was the feeling that swept over Jane the moment their palms touched. Mister Granger was tall. He was handsome. He clearly kept himself in shape. And the moment that his firm hand closed around hers, she felt about as in control of her own destiny as a leaf in the wind.</p>

<p>She barely managed to squeak out her own introduction.</p>

<p>Mister Granger nodded back with a smile and turned away. “Follow me.”</p>

<p>A glance out of the window showed the island that Jane knew they were on.</p>

<p>The wizard opened a door in the wall and led them down a set of spiral stairs. The stairs went down far further than the grass Jane had seen growing outside. Deep, deep underground. Eventually they reached a passageway that was far longer even than the descent they’d just endured. Their footsteps echoed endlessly as they walked in silence down the stone corridor.</p>

<p>“Sorry for the walk,” Mister Granger said when they finally arrived at the end. “The goblins have agreed to install a mine cart eventually, but we’re waiting on the all clear from the king.”</p>

<p>The three prospectives exchanged glances with each other before being led into the beyond. And for the first time since she’d arrived on the island, Jane actually felt like she was in a place of work.</p>

<p>It was a vast underground cavern. Off to one side, a small lake was surrounded on one side by cave wall, and on another by wooden pier. Cables and pulleys hang from the ceiling. Strange machines hugged the walls all around. Brightly colored tape marked out zones on the floor. The smell of wood shaves came to her nose, mixed with the smell of the ocean. The sounds of raised voices mixed with the banging of hammers and the sizzling of welding tools.</p>

<p>And in the middle of the huge space, lay three massive wooden cylindrical objects in various states of construction, lined with ornate metal plates and surrounded by iron scaffolding.</p>

<p>It took Jane a moment to realize, with a jolt of surprise, that the dozen or so workers around the room, were goblins, and that the huge objects being built, each as long as a bendy bus, were broomsticks.</p>

<p>“Our broomstick assembly area,” Mister Granger said waving to what to Jane looked like organized chaos. “We’re getting ready for a big order from the Americans so we’ve got plenty of work that needs///needing doing there.”</p>

<p>“What are they using them for?” one of the guys asked.</p>

<p>“Kelpie patrol in the great lakes is the stated official use. But we’re upgrading for other use cases as well.”</p>

<p>They walked over to another area filled with tables, desks, chalkboards. “This is our research area,” Mister Granger said sweeping his hand across the mostly empty open office. “We’re currently working on upgrading our broomstick rings with additional charm work overlaying the runes, so that’s another area we’ll need help.”</p>

<p>He gestured to the lake. “We’ve also got a deep sea project that’s going to need some able wands, and a we’re looking to upgrade our trunk engines, redesign our air scrubbers, come up with a way to impart physical thrust through the bristles, and charm the water canons. Yes?” This last question was directed at Jane who had her hand held up like a school child.</p>

<p>“Umm, I don’t really know how to do any of that?” she said nervously, fully aware that this probably wasn’t the best thing to admit to what was basically a job interview. “Our school didn’t really teach stuff like this.” She was relieved that the two boys were nodding a murmuring along the same lines.</p>

<p>“Don’t worry about it,” Mister Granger said. “You’ll get on the job training. We’ll start you off with four or five basic charm spells. There are plenty of pieces that just need the same charm applied over and over again on-top of the runes. We would have brought you in earlier, but we’ve been working on a system to ensure the security of our intellectual property. We’ve read your school reports. It will be hard work, but easily within your skills. If you do good work, you can learn more and start helping us with more advanced projects. Look around you.”</p>

<p>The three of them turned back to looks round the large cavern.</p>

<p>“The goblins are only helping us as a curtesy and at quite a premium. Soon this space will be filled with wizards and witches. If you want it hard enough, you three can be the first. Lots of room to grow, if you catch my meaning. I’m not saying it will be easy, but I can guarantee that working with us will be more fulfilling than stocking shelves at Witch Co. So, are you interested?”</p>

<p>“Yes!” one of the boys blurted out.</p>

<p>Jane couldn’t help but chuckle.</p>

<p>“One question,” said the other boy.</p>

<p>“Yes?”</p>

<p>“What’s behind that door?” He pointed to a massive set of double doors near where they stood. Unlike the rest of the cavern which was either made of stone, or had the feel of a muggle workshop, these doors were made of oak and iron and looked like something out of a fantasy book.</p>

<p>“Ah,” Mister Granger frowned. “That section is off limits to employees. That’s all you really need to know. All I will say is that it is secured by the very best of goblin and wizard magic combined, so please do remember not to accidentally try to force your way in. It won’t end well. It will also result in you being fired and having your memory altered as per the terms of your contract.”</p>

<p>“Does it have a dragon behind it?”</p>

<p>Mister Granger smirked. “Nah, too large. We went for a chimaera instead.”</p>

<p>Jane giggled. Even if he was a bit frightening for some reason she couldn’t quite put her finger on, it was good to know her new boss at least had a sense of humor.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Meanwhile, behind the door of iron and oak, stood a creature so rare that it only existed in myths and legends. The chimaera animagus smiled. “Looks like you’ve made a lot of progress.”</p>

<p>Emma Granger smiled back. “Yes, my lord.”</p>

<p>They were both inspecting the automated rune inscription system that would automatically mill rune plates, then fuse another plate on-top to secure the knowledge hidden within.</p>

<p>“We’ve also come up with some solutions to help you with the battle against the basilisk,” she continued. “We didn’t have as much time as we’d have liked, but we did the best we could.”</p>

<p>“Wonderful.” The two made their way over to a table covered in white sheets — five in total.</p>

<p>Emma Granger gripped one of the sheets and whipped it off revealing a pile of absolutely massive nets.</p>

<p>Harry grinned. “Rather theatrical. Am I rubbing off on you?”</p>

<p>“Oh hush. Let me have my fun. Acromantula nets, my lord — sized for 60 foot long killing machine. We’re not 100% sure it will hold, but the design works for dragons, so it should at least have an effect.”</p>

<p>“Good to have the option.”</p>

<p>They moved onto the next table.</p>

<p>Emma pulled back the second sheet to reveal a gigantic scarf of, again, acromantula silk.</p>

<p>“And this is?” Harry asked.</p>

<p>Emma grinned. “A witch’s bra, my lord.”</p>

<p>It was the first time Emma had ever seen Harry look nonplussed.</p>

<p>“Umm…” the boy said.</p>

<p>“Technically, a giantess’s bra,” Emma continued with the air of a predator that has sensed weakness. “It’s the biggest size I could find. But it works the same way as a witch’s breast scarf, self-wrapping thing. Never could get used to them myself. I prefer a good pair of lacy push ups.”</p>

<p>“Good… to know.”</p>

<p>“Anyway, fling it around the snake’s head and it should self wrap, just like around a pair of woman’s bobbies.”</p>

<p>“…have you been hanging around Luna?”</p>

<p>Emma smirked. “No, I’m just happy to finally have found something that makes my super strong and powerful lord uncomfortable.”</p>

<p>Harry ignored this and pointed to the silk wrap. “Do you have a back up if this doesn’t work? A snake head isn’t exactly the same shape as—” he paused. “—your chest. And a conjured wrap stands no chance against a death glare that old.”</p>

<p>“We have lots of back ups!”</p>

<p>They reached the third table of five. The third sheet was pulled away. “Behold!”</p>

<p>Harry let out an audible groan. “I am not a Gryffindor.”</p>

<p>On the table lay three sets of Goblin silver swords, along with scabbards.</p>

<p>Emma smirked again. “Of course not, my lord. Although I do think you would look extremely dashing wearing a sword. These ones have been suffused with blindness solution, which may or may not have the desired effect on the basilisk’s gaze.”</p>

<p>“Great!” Harry clapped his hands together with false cheerfulness. “I just have to make sure I get close enough to this killing machine’s lethal fangs to impale it in the mouth, because I’m pretty sure that not even goblin silver will pierce the skin of a thousand year old king of snakes.”</p>

<p>Emma didn’t let her lord’s frustrations phase her. “That’s what the next toy is for, my lord.”</p>

<p>Unlike the first three, the shape of this next ‘toy’ was quite a bit larger. Emma pulled the sheet clear.</p>

<p>Harry grinned. “Now this is more like it!” He stared at what could only be described as a small portable ballista. It was loaded with a bolt that was the size of a grown man, and the tip was also clearly goblin silver. “suffused with blindness solution as well?” he asked.</p>

<p>“Of course, Harry.”</p>

<p>“Brilliant.” Harry frowned. “Although there is the trouble of moving it. I certainly won’t be able to shrink that bolt and something this large would be very unwieldy in battle. It’ll still need a mouth shot to work.”</p>

<p>“I think we’ll have a solution for that too, my lord, although we’re still not quite ready for that. But we’ve already proven the principle with the last um— ‘toy’.”</p>

<p>Harry raised an eyebrow at the way Emma had put quotation marks around the word toy.</p>

<p>“This one is more of a last resort, my lord. Because. Well, I’m sure you’ll see why.” She moved over to the fifth and final sheet. She took a deep breath and pulled off the white covering.</p>

<p>“For if the worst comes to the worst,” Emma said finally.</p>

<p>Harry stared. “A trunk?”</p>

<p>It was a trunk. Just like the one he carried everywhere in his pocket. At least that explained how she was planning to make the ballista move maneuverable.</p>

<p>“Look inside, my lord.”</p>

<p>Harry walked over to the trunk, opened the lid, and stuck his head inside.</p>

<p>A split second later he jerked his head back in shock. More cautiously this time, he edged his face over the lip of the trunk’s edge to find himself looking straight down the barrel of what the layman could only describe a really big fucking gun. Harry knew better.</p>

<p>Emma had taken a shrinkable space-expanded trunk, and mounted an M2 Browning 50 caliber heavy machine gun on the wall, pointing straight at the trunk’s opening. Instead of the usual stairs, a small ladder led down into the trunk, stopping at a mesh walkway with a huge hole in the middle for the rounds to pass through. The walk way followed the wall off to one side where the normal stairs completed the journey down into the trunk’s depths. On the floor were stacked several creates of what could only be 50 caliber BMG rounds.</p>

<p>Because of the nature of expanded trunks, the floor would always point downwards, regardless of which way the trunk was angled. This meant anyone operating the machine gun would have to sit vertically against the wall, and indeed, there was such a chair mounted behind the gun, a silk harness ensuring they wouldn’t fall out.</p>

<p>For a moment, Harry was actually rendered speechless.</p>

<p>“If the worst comes to the worst, huh?” he eventually muttered. “Just how did you get hold of this?” It didn’t need to be said that a 50 calibre heavy machine gun wasn’t the kind of thing that everyone could just buy in the UK. Or anyone for that matter. Harry’s own foray into arms dealing over the summer made him appreciate just how unlikely it was for the Grangers to get their hands on something like this. There were exactly zero approved reasons for a UK resident to possess a functioning M2 browning. Only the British Military held them. And machine guns going missing from British Military bases wasn’t exactly the kind of attention he wanted.</p>

<p>Emma Granger shrugged. “You’d be amazed what you can get hold of with a house elf, millions of pounds, and an undetectable submarine that can effortlessly zip between here and Northern Ireland.”</p>

<p>Harry sucked in his breath through his teeth at the implications of that. He gave the former dentist a good long look. “Emma, I think I’m going to have to reevaluate my opinion of you, again,” he eventually said. “You have balls of steel. The Wizarding World has clearly been a bad influence on you.”</p>

<p>“If the Wizarding World has taught me anything it’s that monsters don’t care if you followed the rules.”</p>

<p>Harry smiled before shaking his head ruefully. “They do care if you break them though.” He followed her gaze. “I’ll have to add this to the list of things the Wizarding World would collectively decide to wipe us off the face of the Earth for, if they ever found out. Not that they couldn’t defend against it, but the creation of things like pocketable machine-gun emplacements is exactly the kind of reason that people actually listened to the likes of Voldemort and Grindelwald.”</p>

<p>He looked around the room again. “Good job, though. Seriously. Damn good job. This all just might help get us all through this without dying.” He looked Emma square in the eyes. “You have official permission to tease me about breasts.”</p>

<p>Emma Granger grinned.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Alright, yeh lot!” cried the Hogwarts game keeper, carrying his customary crossbow over he shoulder. “Tha’s enough trainin’ fer tonight. Get yer selves back up to the castle. I need to lock up.”</p>

<p>The pronouncement was met by a chorus of despairing complaints.</p>

<p>“But, Hagrid, sir!” called out the oldest student — a Ravenclaw sixth year. “Tonight’s the last night our team will have the duelling arena before the tournament this weekend.”</p>

<p>“Now, don’t be giving me that. Should have gotten all the practice you need before now. Don’t make me call the professors down here. You get yourselves back up to the castle.” He made large gestures towards the exits. “Go on.”</p>

<p>Grumbling, the Ravenclaw duelling team picked up their stuff and starting trudging towards the changing rooms. Once all the students had cleaned out, Hagrid locked the large duelling arena doors shut, picked up the rope attached to his latest kill — a stag from the deeper forest — and gestured to the large boar hound by his feet. “C’mon, Fang.”</p>

<p>Together, the two made their way up the hill towards Hagrid’s hut, Hagrid dragging the carcass as they went.</p>

<p>As they neared the crest, a bark from Fang alerted Hagrid that something was nearby.</p>

<p>Hagrid looked down and found his canine tracker staring up into the trees. His gaze rose and he sucked in an appreciative breath under his beard.</p>

<p>“Oooo. Yeh are a beautiful one, aren’t yeh?”</p>

<p>The golden eagle stared down her beak at him. It was surely female. Only the females usually grew that large. He reached down with his knife, sliced a piece off the deer, and expertly tossed the morsel up into the tree.</p>

<p>With equal expertise, the eagle snatched the meat clean out of the air with her beak and proceeded to neatly swallow it.</p>

<p>Hagrid chuckled, but the chuckle died a second or two later as the eagle continued to regard him in a way he knew no pure beast would.</p>

<p>No one would ever call Hagrid the sharpest knife in the drawer, but when it came to animals, there were few wiser (at least when it came to their care and behavior). He was the master of keys and grounds at Hogwarts School of Witchcraft and Wizardry, after all. Dumbledore trusted him to keep on top of things, as did Headmaster Lockhart. Even the Department for the Regulation and Control of Magical Creatures occasionally called on him to help with particularly sticky problems. And while he certainly wasn’t the kind of man to read the latest reports that came from under Whitehall, he did keep his ear to the ground down at the Hogshead.</p>

<p>This all is why he cleared his throat and said in an uncertain voice, “Heiress Greengrass?”</p>

<p>The eagle’s gaze became just a tad more narrow.</p>

<p>“Ahhh.” Hagrid tugged respectfully at the bit of his hair that he though counted as his forelock — there was so much it was hard to tell. “I hope you don’t take what I said before the wrong way, miss.”</p>

<p>The eagle continued to stare.</p>

<p>Hagrid cleared his throat again. “Just make sure yeh’re also inside before curfew. I don’t want to find yeh locked out. Although, I suppose tha’ won’t actually matter fer yeh, will it? Seein’ as yeh can jus’ fly into the owlery.”</p>

<p>He paused for a moment before slapping a hand into his face. “I should not have said tha’.”</p>

<p>The eagle spread her majestic wings and leapt off the tree branch and up into the air. Hagrid gazed admiringly after her as she left — then took up the slack on the rope and continued pulling his kill up to his hut. But even then, he couldn’t help stealing glances upwards, where even now the beautiful eagle had been joined by two owls, one midnight black, the other snowy white, soaring together through the skies around Hogwarts.</p>

<p>He was so distracted, in fact, that he failed to spot the long line of spiders desperately evacuating the castle for the forest — fleeing, even though the temperature was near freezing.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“I’ve found the perfect spot to watch both the castle entrance and the duelling arena,” Daphne announced. She entered the girls’ dormitory with Freekey on one shoulder and Hedwig on the other. She was also clutching her stomach. “Also, remind me never to eat hairy meat again.”</p>

<p>Hermione raised an eyebrow. “Not agreeing with you?”</p>

<p>They were currently the only two in the dorms. Hedwig leapt from Daphne’s shoulder and flew over to alight in Hermione’s outstretched arm.</p>

<p>“Not at all,” Daphne groaned. “It would probably be fine if I stayed transformed, but I doubt I will have that luxury anytime soon.”</p>

<p>Hermione untied the letter from Hedwig’s leg. “But you’ve found a spot for our plan now?”</p>

<p>“I have.”</p>

<p>“Harry will be happy to hear that.” She started reading the letter, then lowered her voice. “Mum says dad’s ‘situation’ is working out with the new employees.”</p>

<p>The ‘situation’ of course being that the muggle was now an effective class XXXXX wizard killer — even if he’d never actually done the deed. Daphne knew all too well that that wouldn’t matter one jolt to how the Wizarding World would react to him.</p>

<p>“That’s good.” Daphne started changing into her sleep wear, making Freekey jump down and start nibbling on the nuts that always sat by Daphne’s four poster. “It’s just a shame he can’t help us deal directly with the you-know-what problem.”</p>

<p>Hermione shivered. “I’m not. I don’t want my dad anywhere near that thing.”</p>

<p>Daphne climbed under the covers and stared up at the ceiling.</p>

<p>Hermione only just heard her whisper in a vulnerable voice she rarely heard the blonde employ, “And what about Harry?”</p>

<p>Hermione rested a hand on Daphne’s shoulder and spoke softly. “We just have to trust him to come back to us, safely. Don’t worry, Daphne. It’s not just us. Our lord has a lot of resources. He will use everything he has. He will use <em>everything</em>.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Harry stared with a calculating gaze at the huge pile of assorted weaponry and artefacts arrayed on the table in front of him.</p>

<p>On either side of the table, Fred and George stood like proud merchants, eager to show off the fruits of their labors.</p>

<p>“Potions?” Harry asked.</p>

<p>“Draught of living death,” George responded, deftly plucking what looked like a perfume bottle from the pile. “Air delivered in particle form, maximum five meters, use within ten seconds of breaking the seal.”</p>

<p>“That all?”</p>

<p>“Blinding solution,” Fred countered, snatching a small wooded box the table for display. “Effective for twenty four hours on a wizard. Delivered as darts with a banishing curse.”</p>

<p>“Puking Pasties,” said George. “Take one half to feel like the bottom end of a butterbeer bucket. Take the other to feel right as rain! Suggested administration as a cocktail in bait.”</p>

<p>“Then why not just straight out poison?”</p>

<p>“Because!” Fred pointed at a series of small cauldrons bubbling away in a corner of their workshop trunk. “Because, why settle for just one poison, when you can have them all?”</p>

<p>“The top seven most deadly magical poisons known to wizard kind,” George continued. “Well, known to us and that we can brew, anyway,” he corrected himself. “Still pretty damn lethal!”</p>

<p>“And the bait?”</p>

<p>“Transfigured animal. Recommended goat. That’ll be on you.”</p>

<p>“Wonderful. What else?”</p>

<p>Fred smacked the table and a series of glowing seeds the size of eggs wobbled on the surface. “Movement denial! Venomous tentacular infused with empowered growth solution. Simply cast a finite to dispel the light charm on a seed and chuck it into the darkness. Tentacles vs. snakes, you’ve gotta love it. And then you’ve got to run away screaming.”</p>

<p>“Portable swamp!” George continued, picking up what looked like an ordinary suitcase. “Open the lid and stand well back. Primitive uncontrolled space expansion charm downwards. Instantly turns the floor into a quagmire.”</p>

<p>“And finally, a big ass net. Because the classics are classic for a reason.”</p>

<p>Harry nodded. “That all meshes well with my newer runic skills. What about exploiting possible weaknesses?”</p>

<p>“Air!” Fred said, pointing to a balloon that was floating upside down with the string dangling up to the ceiling. “Pop to instantly evacuate all the oxygen in a small room and replace it with helium. Lasts five minutes.”</p>

<p>“Temperature!” George continued, holding up what looked like a crystal made of ice. “Essence of an ice elemental. Combine with elemental ice magic to freeze a large station wagon.”</p>

<p>“And finally, eyes!” George declared, holding up a recognizable length of magical fabric. “Feed magic into the cloth to instantly have it wrap around the target. It might work, it might not. But if just one out of ten options works, you’ll be in the monster slaying business in no time!”</p>

<p>Harry stared, deadpan. “George, whose bra is that?”</p>

<p>“Errr…”</p>

<p>Suddenly both twins looked very sheepish.</p>

<p>“Never mind!” Harry said quickly, waving a hand. “Just make sure she gets it back without noticing it’s gone, okay? I already have one anyway. Anything else?”</p>

<p>“Plenty!” Fred grinned and threw an arm over his shoulder. “We’ve got dead drops, glue traps, scent bombs, mud tombs, smoke screens, gum stoppers, acid baths…”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Ginny breathed heavily, tightly gripping her wand.</p>

<p>Next to her, Daphne did likewise.</p>

<p>On the opposite end of the large empty classroom, stood Hermione and Alex, hands on their thighs, both bent over, panting hard.</p>

<p>In the middle of the room, exactly halfway between the two pairs, stood a blonde girl with little radish earrings hanging from her ears. Her breathes were loud, expansive, and comically exaggerated. It sounded like she was trying to pass enough air through her lungs to feed a steam engine. Luna was also blindfolded.</p>

<p>Ginny grinned manically, then coughed when a bit of spit went down the wrong way. “Kurh—Kurh—Blugh.” She wiped her hand over her mouth. “Again!”</p>

<p>Hermione, Daphne, and Alex all straightened and started moving around the room in random directions, silent and slow.</p>

<p>Luna’s ear twitched. Her tongue wetted her lips.</p>

<p>Ginny saw her small nose expand as air and scents passed through. Ginny felt her skin prickle.</p>

<p>Alex’s eyes met hers. The two shared a soundless nod.</p>

<p>Daphne flexed her fingers.</p>

<p>Hermione raised her wand.</p>

<p>They attacked.</p>

<p>All at once, the quiet classroom became a maelstrom of flying spells and rushing bodies. Alex shot her chains. Hermione weaved a complex incantation. And Daphne sent a bolt of pure ice magic searing towards her target.</p>

<p>Luna side stepped the first, melted the third with a gout of magical flame, and brought a powerful shield to block the second, just in time, as a flurry of loaded syringes smashed against the magical defense and tinkled to the floor in a growing puddle of steaming liquid. Several stunning spells were swatted away, there was a flicker in the air, and one of the broken syringes vanished.</p>

<p>Ginny felt the world flicker.</p>

<p>She thrust out a hand, all fingers glowing blood red, ready to unleash!</p>

<p>…And found Luna kneeling on the floor, hand raised up, also glowing red, pressed firmly into her waist, still blindfolded, and with a faint smile playing around her lips.</p>

<p>Ginny’s world went black and when she came to, Luna was reaching down to help her up, her blindfold now worn around her neck like a scarf.</p>

<p>“Merlin, damn it!” Ginny shouted.</p>

<p>“Oh, come off of it,” said Alex. “This fight doesn’t count. If we were really trying, there’s no way even Luna would be able to take all four of us from four different angles, blindfolded.”</p>

<p>“That’s not the point!” Ginny replied hotly. “You know what us losing like this means, don’t you?”</p>

<p>“It means exactly what it should mean,” Daphne said calmly. “Harry will only let us fight the monster if we can do so without the aid of sight. Luna has proven herself. You have not.”</p>

<p>Ginny winced. Her own attempts to fight by sound, touch, and taste alone hadn’t gone nearly as well.</p>

<p>“Despite how good you are,” Daphne continued, “if you can’t fight blindfolded, the risk of you dying is too high.”</p>

<p>“But this is my fight!” Ginny practically shouted. “This is… from back then…” She struggled to articulate her frustrations with the previous timeline without actually speaking about it out loud. She wanted to say that fighting the basilisk and Virgo was primary <em>her</em> battle. That this was <em>her</em> crucible. Eventually she settled for, “If I can’t fight this fight, what did I spend all this time training for?!”</p>

<p>“Ginny.” Luna laid a soft hand on her shoulder. “Harry needs us. Harry saved us. It is for <em>him</em>, we fight. Not ourselves.”</p>

<p>Ginny’s shoulders slumped. “If I’d known it was going to be like this I’d have spent our ritual year training blindfolded.”</p>

<p>“Ginny, stop sulking!” Hermione said with her arms folded. “Honestly, you’re supposed to be some kind of deadly ninja assassin.”</p>

<p>“Yeah,” Alex added, face scrunched up in distaste. “Seeing you moping feels wrong.”</p>

<p>There was a moment of silence.</p>

<p>Then Ginny’s lip quirked upwards. “Then how about you give up your spot on the duelling team to me?”</p>

<p>Alex recoiled. “Hells no!”</p>

<p>Ginny’s quirked lip cracked into a full grin. “Why not? Still four days to go. Are you afraid I’d do better than you?”</p>

<p>“Oh, <em>Hells</em> no!”</p>

<p>“Then prove it!”</p>

<p>And within ten seconds, every one of the girls were going at it again, graceful and ferocious in equal measure.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“A one thousand year old basilisk, eh?” Lord Lovegood stood up from where he’d been peering closely at some ancient artefact on his study desk. “Quite a tall order, that, young man.”</p>

<p>Harry snorted. “Indeed. I was hoping you might provide a different perspective.”</p>

<p>“And you came to the right place! Different perspectives is what I’m all about. Or so everyone keeps telling me. The polite ones, anyway.” Xenophilous collapsed into an armchair and put his knuckles under his chin. “How about The Fae? Any of them owe you favours?”</p>

<p>Harry gave a wry smile. “No.”</p>

<p>“Shame. What about demons?”</p>

<p>“Also, no.”</p>

<p>“Vampires?”</p>

<p>“Nope.”</p>

<p>“The Hidden Fortress of Dun-Ra-Mine?”</p>

<p>“I’m pretty sure that doesn’t exist.”</p>

<p>Xenophilous gave Harry a look of triumph “Oh, <em>that’s</em> where your wrong! I have <em>sources</em>.”</p>

<p>Harry raised an eyebrow. “And you can contact them?”</p>

<p>Xenophilous deflated. “No.”</p>

<p>“Shame.” Harry started perusing the shelves.</p>

<p>Xenophilous snapped his fingers. “What about the goblins?”</p>

<p>“I have a meeting with them tomorrow.”</p>

<p>Lovegood nodded in approval. “How about the Hallows?”</p>

<p>Harry paused his inspection of an ornate scroll. “What about them?”</p>

<p>“If you knew where the cloak was hidden you could hide from death (((M4RT1NCool22 says it’s not actually Death who’s referred to here))) himself. I’ll wager it would work on a basilisk. Or if you had the wand, you might power your way through its skin.”</p>

<p>Harry weighed the risk of revealing his possession of the cloak to one of his closest political allies. Then weighed it against the possibility that man already knew. He was Luna’s father, after all.</p>

<p>Xenophilous clearly saw his contemplation. “You know where the Hallows are?” he said eagerly.</p>

<p>“The cloak,” Harry answered. “It is an heirloom of the Potter family.”</p>

<p>“Hah!” Lord Lovegood slapped his knee. “I <em>knew</em> it! James was always far too slippery at school for his own good. And the stone or wand?”</p>

<p>Harry shook his head.</p>

<p>“Shame. But with the cloak, well, that should give you quite the edge.”</p>

<p>Harry nodded. “I had it with me the last time I encountered the basilisk. It was barely a few feet away, but didn’t spot me. That was when Dumbledore’s Phoenix turned up and started trying to peck its eyes out. The two crashed away pretty soon after that. And I was left alone.”</p>

<p>“The power of the cloak, indeed,” Xenophilous whispered. “What about the phoenix?”</p>

<p>Harry shrugged. “No idea. Never saw it again after that. Maybe it was eaten. Or petrified and shattered?”</p>

<p>“Maybe.” Xenophilous stroked his chin. “Well, if you need backup, I can alert the Department for the Regulation and Control of Magical Creatures of the situation.”</p>

<p>“No,” Harry quickly replied. “Too many inconvenient things to explain. Too many political openings.”</p>

<p>“You misunderstand me,” Xeno smiled. “I can alert the Department of the situation, without anyone else knowing they’ve been alerted.”</p>

<p>“Ohhh!” Harry smiled back. “Then by all means, Lord Lovegood. Alert away. It’s always a good idea to have backup.”</p>

<p style="text-align: center;">— End of Chapter Sixty-three — </p>

