Chapter 64 - Nature Red - Part 8

<p>Hogwarts Castle rearranged itself daily. Sometimes new corridors pointed to new floors. Other times a secret passageway, long forgotten, makes itself known for a single hour to help a single student in dire need. And yet other times, new rooms that didn’t even appear in <em>Hogwarts: A History</em> would randomly pop up out of nowhere.</p>

<p>This last example had happened twice in the last thirty days. The first was for the student wardrobe — a large oval room containing a single oval table — accessible, appropriately, through a large wardrobe just outside the student library. Several meetings had already been held and to describe the proceedings as ‘tense’ — with Virgo and Susan sitting next to each other, surrounded by agents of the Gray and Dark, would have been the understatement of the century.</p>

<p>The second room was for the court and had appeared as an add-on halfway up the Astronomy Tower. Small and cramped, it gave all who entered the impression of a bathroom, if going to the bathroom was a spectator sport.</p>

<p>Susan looked off the edge of the railing that circled the room, down into the small entrance way below where a pair of Hufflepuff and Ravenclaw fourth years stood.</p>

<p>One either side of her, stood Violet and Marigold Chesterfield, gazing down at the pair, the first looking bored, the second looking amused.</p>

<p>“Please say that last bit again,” Susan said, not quite believing the words coming out of her mouth.</p>

<p>The Hufflepuff jumped right in. “I said, right — I said that if he’d help me with my homework for Potions that week then I’d cover him on that last Hogsmead trip. But when I gave him the goods, he said that he’d already got the stuff he needed from the third-floor Bazar and that he didn’t need it any more, and now he’s refusing to pay for it!”</p>

<p>“That’s a lie!” said the Ravenclaw, hotly. “I did pay. You agreed I didn’t have to pay for it all it once, so I could sell it off and make the money back.”</p>

<p>“Yeah, but now I need the money for something else. So you need to pay right now.”</p>

<p>“But that’s not what you said.”</p>

<p>“Doesn’t matter. I bought that stuff for you with my own silver in good faith. Now I’m stuck holding your crap.”</p>

<p>“Rubbish! Your silver was part of the original homework deal!”</p>

<p>“But I didn’t know you were going to renege on paying right away!”</p>

<p>Susan put a hand over her face while the two older students raged at each other below.</p>

<p>“Would it be unethical to start a betting pool on them?” Marigold asked with a grin, elbows on the banister, hands under her chin.</p>

<p>“Yes,” Susan replied with a blank face.</p>

<p>“We could always give them trial by duel,” Violet suggested.</p>

<p>“No, we are not going to have them fight each other.”</p>

<p>“Why not? Pain is a great teacher.”</p>

<p>“Or we could have them duel us!” Marigold chirped up. “Who ever lasts longest wins!”</p>

<p>Susan gritted her teeth. “No! We’re not doing trial by combat, duel, or anything else. We are here to judge, not to play for our own fun.”</p>

<p>“Spoil sport. You need to loosen up.”</p>

<p>They eventually ruled that the Hufflepuff was in the right and that the Ravenclaw had twenty four hours to produce the owed silver and take possession of the ordered goods.</p>

<p>The fact that the goods in question appeared on Argus Filch’s banned item list was never brought up.</p>

<p>Five more cases followed, each as small and petty in Susan’s mind as the last. Ever since becoming the head judge and head of the Student DMLE, it seemed <em>everyone</em> turned to her to solve their problems — so long as the problem was annoying enough.</p>

<p>Twenty minutes later, Susan ducked out of the court room and snuck away under a disillusionment charm, the best to hide from random students who might accost her in the halls. Really, this was one of the few charms she was unequivocally thankful to Virgo for teaching her.</p>

<p>Susan reached the Room of Requirement on the seventh floor and slowly turned the handle.</p>

<p>“Back so soon, Susan?” Virgo asked from inside, a vicious smile spreading across her face.</p>

<p>The muggleborn twins were right about one thing though. She did need to fight more. The duelling Tournament was only three days away.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Just two days until your tournament, Lord Slytherin,” Ragnok commented, almost lightly. The goblin was leading Harry down, once more, into the bowels of the bank, carrying his customary war-axe. “Will we have a repeat performance of last year’s demolition?”</p>

<p>“I doubt it,” Harry answered, dressed in his Lord Slytherin Persona once again, “Though I doubt it will be uneventful.”</p>

<p>“Mmmm,” Ragnok mmmed. “I hear promising things about your friend, the Black heiress. Do you not believe she could at least match her father’s performance during his own time at Hogwarts?”</p>

<p>“Maybe. Truly, I do not know. I have prepared her the best I can. How far she gets will be up to her.”</p>

<p>Ragnok grinned a toothy grin. “Perhaps she will crush two years above her. That would be a worthy performance.”</p>

<p>“Perhaps,” Harry hedged.</p>

<p>Ragnok looked askance. “You do not believe her capable of defeating a third year?”</p>

<p>Harry shook his head. “Oh, no. Alex can defeat a third year, no problem. I’d be disappointed if she couldn’t defeat a fourth year, or even a fifth, if it was a straight one-on-one. But first she has to <em>get</em> to the third year.”</p>

<p>“You speak in riddles, Lord Slytherin.”</p>

<p>“Let’s just say, the most exciting duel of the tournament will probably be Slytherin vs. Gryffindor, First year vs First year.”</p>

<p>“Again?!” Ragnok stopped in front of a huge iron double door and turned to face him. “Ahh,” he said, understanding dawning. “The Malfoy girl. The Minister of the Student Wardrobe. Quite the enigma, that one.”</p>

<p>“Enigma?” Under his mask, Harry raised an eyebrow. “Ragnok, do you perchance have records that could prove Virgo’s true—”</p>

<p>“—Lord Slytherin,” Ragnok interrupted. “I must remind you that such matters are private. Just as are your own.”</p>

<p>Harry bowed slightly. “Of course.”</p>

<p>“And speaking of your own matters,” Ragnok turned to the double doors and put his hands to them. “I hope you appreciate the trust that is being shown by bringing you here. No wizard has set foot in these chambers for four hundred years.”</p>

<p>“The trust of Gringotts is an honour I always hold dear.”</p>

<p>Ragnok nodded as though that was the bare minimum reply he would accept, before firmly pushing open the doors.</p>

<p>A wave of heat the likes of which Harry had only experienced a few times before hit him almost like it was a physical punch in the face. The heat was accompanied by an orange light that bathed every surface of the huge cavern beyond, sending stark shadows dancing and flickering across the walls. The sounds of dozens of hammers hitting metal rang in his ears, accompanied by goblin shouts and oaths, and even the occasional scream. A hundred forges lit the space, all fed from a central giant chamber, and next to the chamber lay the largest dragon Harry had ever seen, chained down to the floor, slowly blowing dragon-fire into the giant structure.</p>

<p>As they made their way across the room to a door on the far side, Harry could pick out snatches and snippets of many conversations in the goblin tongue///Goblin Tongue.</p>

<p>“Grip it tighter, idiot! I swear if you mess up one more billet I’ll have you down with the dragondung shovelers.”</p>

<p>“Ai-Po! Nickel and chromium, now!”</p>

<p>“Just one drop of a virgin’s blood…”</p>

<p>The items the goblins were working represented every classification of artefact Harry could recognise and even a few that he had no idea the purpose of.</p>

<p>Nor was it all metalwork. Off in a corner, a small crowd of goblin females were busy working with silk, leather, and gemstones the size of a wizard’s fingernail. Although why they were working in here, which had to be incredibly uncomfortable given the constant heat, Harry had no idea.</p>

<p>The thing that most surprised him about the goblin forges though, was that many of the items being worked on didn’t seem to hold any value to the goblins working them. He saw more than one wonderful-looking example carelessly tossed away as they traversed the room, and even as they reached the door, Harry saw one goblin grip a sword blade the likes of which any wizarding lord would drool to own, shake his head in disgust, and pitch it into a nearby pile of gleaming silver scrap.</p>

<p>The two stepped through the archway and the door closed behind them, cutting off the heat and muffling the sounds within.</p>

<p>“The last time I had the chance to see that room,” Harry started, “it was desolate and smoking — an empty husk of a place. It’s surprising to see it so full of life and energy.”</p>

<p>Ragnok snorted. “The Crafting Chamber is kept busy at all hours.”</p>

<p>“Even when there is no need for the objects it makes?”</p>

<p>Ragnok shot him a piercing look. “Yes, even then.”</p>

<p>“Hmmm.”</p>

<p>“Now <em>this</em> is what you are here for!” Ragnok said loudly, hefting his war-axe off his shoulder and propping it up against a wall. He reached a large cabinet and opened it, letting Harry see the full extent of its contents.</p>

<p>“If you’re going to be fighting a one-thousand-year-old basilisk, then you’ll need something that can actually pierce armour that magically powerful.”</p>

<p>Despite himself, Harry gave an appreciative whistle from under his mask. There was enough sharp goblin silver hanging in front of him to start a small war, and there was no doubt the examples here were all a cut above even what he’d seen in the Crafting Chamber.</p>

<p>Ragnok took a sword, seemingly at random, and presented it to Harry by the crossguard. It felt utilitarian in his grasp, well balanced, but nothing special, not like he felt when he held his wand.</p>

<p>“I think—” he started to say, but didn’t get any further before Ragnok snatched the sword back.</p>

<p>Harry couldn’t help but smirk///smirking. “This all feels incredibly familiar. Are you perhaps going to tell me that the sword chooses the goblin?”</p>

<p>“No,” Ragnok said simply, working his way down the line of weapons. “I just needed to be sure.”</p>

<p>“Sure?”</p>

<p>“Of this!”</p>

<p>“Oh.” Harry stared at the sword now held in Ragnok’s hand. “Yes, I can see that would do the job.”</p>

<p>To call this sword snaky wouldn’t be doing the word justice. Serpents coiled all around the handle, the crossguard, and a good way up the blade. Even the pommel, a clear ball of crystal filled with mist, was clamped down tight in the mouth of a sharp-fanged snake.</p>

<p>Ragnok presented the sword to him.</p>

<p>This time when Harry took the blade, he felt a very real power surge up his arm. The blade shimmered green.</p>

<p>“Infused with a powerful dose of swelling solution,” Ragnok supplied. “Just one nick would bisect a troll.”</p>

<p>“Magnificent,” Harry murmured. “I hope I don’t have to use it.”</p>

<p>“If you do, I’d recommend pairing it with a solid iron shield,” Ragnok supplied. “Perhaps even a mirrored shield? You never know your luck. Although, I’m afraid we can’t help you with that. The craft of a good auror shield is well outside the ability of Gringotts.”</p>

<p>Harry fixed the accompanying thestral leather sheath around his waist. “I have a meeting with Lord Smith before the operation begins.”</p>

<p>Ragnok smirked. “I was not aware the Noble House of Smith had that knack either.” His look turned thoughtful. “And I know the two of you are allies, but if you would accept my advice, I would not be too cavalier about showing off your new blade around him. The Smiths and Gringotts—” He paused for a moment as though looking for the right word. “—don’t really get along.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Lord James Potter, political leader of the Light, tensed as he was led into the ornate office of one of the most dangerous individuals in Europe, if not the world. He had no idea, when he’d started this particular quest, that his efforts would lead here, but in hindsight he supposed he shouldn’t have been surprised. The more powerful the individual, the more pies they’d have fingers in, and this individual probably had enough pies to require hiring assistants, just so there were enough fingers to go around.</p>

<p>The bronze plaque on the desk read, <em>First Transylvanian Minister of Magic, Count Dragos Dracula, Mugwump, Electorate, Eighty-six times Gobstones Champion</em>.</p>

<p>Lord Potter bowed respectfully as the minister rose from behind the desk.</p>

<p>“Ahh, the stag lord,” said the ancient vampire in greeting. “Do come in. How are things in the Albion?”</p>

<p>“Quite okay,” James replied. He’d already decided to keep his cards as close to his chest as possible. “Everyone’s looking forward to the duelling tournament on Saturday.”</p>

<p>“Ah, yes. I recall your heir’s performance was quite impressive last year.” Dracula gave a pointed smile.</p>

<p>James nodded, stiffly.</p>

<p>“It’s just a shame it doesn’t look like he’ll be well in time to compete this year.”</p>

<p>James blinked in surprise. He’d been expecting a barbed comment about Harry now being his heir. But apparently the minister had been talking about John. So many of his peers had been on his case about that since the Winter Festival, many asking very awkward questions…</p>

<p>‘So, you have a new heir, ehh? How’d that happen?’</p>

<p>‘So, is this like, The Muggle Prince of Atlantis?’</p>

<p>‘So, when are you going to make an announcement in the Prophet?'</p>

<p>The answer to that last question, at least, he could give. Never. By the time the question of John not being his official heir became relevant, he planned to have already solved it. Remus Lupin would rue the day he took on the mantle of Lord Slytherin and started messing in the affairs of the Noble Houses.</p>

<p>Dracula, by contrast, seemed to be far more gentlemanly about the whole business. Then he realized the other implication of the vampire’s statement about John. The First Minister of Transylvania knew exactly why he was here. Damn it.</p>

<p>A small wooden box was produced and placed on the desk between them. Dracula opened it to show the contents. Fresh mandrake.</p>

<p>James Potter sucked in his breath. “What do you want for it?”</p>

<p>Dracula closed the box lid. “Nothing.”</p>

<p>James Potter blinked. “Nothing?”</p>

<p>“Nothing.” The vampire repeated. “That has all been taken care of. You apparently have a friend in the shadows, Lord Potter. It was they who smoothed your pathway to me. It was they who alerted me to your need such that I could arrange this—" he patted the box "—to be here in time for your arrival. And they have already arranged payment as well.“</p>

<p>James Potter frowned. “I can’t—”</p>

<p>“—I also need to say, Lord Potter,” the vampire cut him off. “That this is the only supply of mandrake that I can currently divert from other, more critically important shipments.”</p>

<p>James Potter stared at the box for several long moments. “Very well,” he eventually said. “Please give my thanks to this friend in the shadows.” He took the box proffered him.</p>

<p>“I will,” Dracula answered.</p>

<p>James paused at the door. “And if this friend in the shadows happens to be Lord Malfoy, let him know that he can go to hell.”</p>

<p>The door to the study closed.</p>

<p>Dracula listened to the footsteps retreat down the stone-floor corridor outside. Then he chuckled to himself.</p>

<p>“Perfect future in-laws.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Lord Smith growled as a beautiful length of True Silver was drawn from its scabbard.</p>

<p>“I imagine there’s a story behind this,” said Harry Potter, or Lord Slytherin, as Smith now knew him to be.</p>

<p>“There most certainly is a story,” Smith said through gritted teeth. If anyone else had flashed True Silver in front of him after acquiring it from the goblins so brazenly, he’d have smacked them through the nearest wall with his hammer. But this was the Gray’s Lord of Lords, the child that had lured him away from the Light, the one who had unified a ragtag alliance of houses at the age of eight and forged them into a true political power. And so, he stayed his hand. That didn’t stop him from glaring though.</p>

<p>“You don’t have to tell me, if you don’t want to,” Slytherin said. “We do have other matters to attend to tonight.”</p>

<p>Smith glared for a few more long moments before grunting under his breath.</p>

<p>The two started walking away from the floo Slytherin had arrived at, up the corridor and towards the armoury.</p>

<p>“The full story’s too long to tell now,” Smith said. “The short version is that when the goblins gained the skill to forge goblin silver.” He spat the last two words. “The records show that we gave it to them in a marriage alliance. And forever forsook the knowledge of it ourselves. The truth is that they stole it. Filthy mongrel bastards.”</p>

<p>They both stopped at one of the many portraits in the corridor. It contained a bear of a wizard, even more so than Lord Smith himself.</p>

<p>“Reginald here was lord at the time, isn’t that right, Reggie?”</p>

<p>The figure in the portrait glared at the scabbard into which Slytherin had re-sheathed the silver snake sword. “It is. You’re telling this <em>boy</em> about the Great Betrayal?”</p>

<p>“Not a boy, you old coot!” Lord Smith barked back. “Don’t go all lordly on me just because we have guests. Lord Slytherin is our Lord of Lords. He commands our earned respect.”</p>

<p>The portrait scoffed. “A Lord of Lords is nothing compared to a champion of a Higher Power! I’ll do what I damn well please, boy!”</p>

<p>Lord Smith smashed his hammer right into the portrait, causing the canvas to tear, the occupant to flee, and the wall behind it to explode into the random room beyond. He turned back to Slytherin, who, as much as Harry Potter ever showed an uncalculated expression, was definitely looking like someone who’d seen something they were not expecting.</p>

<p>“Ignore him, Slytherin,” Smith said as they continued.</p>

<p>“The champion of a Higher Power?” Slytherin asked, catching up to him and falling in at his side.</p>

<p>“That part of the story is a Smith family secret. It is nothing like what you see in the theatre. I respectfully ask you to forget what you have already heard.”</p>

<p>“I just find it hard to imagine the goblins stealing from the champion of a Higher Power.”</p>

<p>“Hah. Our house made them pay for it a hundredfold. Green blood flowed through goblin caverns like souls flowing down the river Styx!”</p>

<p>“Then why the ongoing animosity?”</p>

<p>Lord Smith glared at Slytherin. “Do you want this shield or not? I’d hate all my hard work on those micro-runes of yours to go to waste because I accidentally chucked it into the furnace.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Oh, I say!” Professor Flitwick did a triple backflip, landed lightly on his feet, and thrust his wand forward. “Miss Malfoy, that was magnificent!”</p>

<p>On the other side of the room, Virgo breathed heavily with her hands on her knees.</p>

<p>“I must declare,” Flitwick continued. “I was initially dubious when John suggested including you in our private tutoring sessions, but you have surpassed <em>all</em> my expectations. Why, if you keep this up, you might even reach John’s level before long. You will never be as powerful as him, but in terms of finesse and technique? You have already <em>well</em> surpassed him.”</p>

<p>Virgo took a deep breath and straightened up again. She looked the professor in the eyes. “Do you think I can go seven for seven in the duelling tournament?”</p>

<p>Flitwick looked dubious. “Unless you have some secret weapon in reserve, I would say unlikely. Not without a lot more practice.”</p>

<p>“I <em>do</em> have a secret weapon,” Virgo replied, thinking of her animagus form. It wasn’t one she wanted to use. Not unless she had to. The implications of her being a parselmouth were problematic right now. What with the basilisk attacks. “But I don’t want to use it,” she concluded.</p>

<p>Flitwick shook his head.</p>

<p>“And there is no more time to practice,” she continued. “The tournament is tomorrow.”</p>

<p style="text-align: center;">— End of Chapter Sixty-four — </p>

{  67} [Ragnok mmmed]: Leyrann said: "While funny, I suspect this may break the flow of reading too much………"; M4RT1NCool22 sugests removing 'Ragnok mmmed' or changing mmmed to mused.

{ 271} [What with the basilisk attacks.]: Quote TrendyTreky: appears to be an incomplete sentence/thought
