Chapter 65 - Nature Red - Part 9

<p>Morning dawned.</p>

<p>All across Magical Britain, wizards and witches woke up to their morning edition of the Daily Prophet, delivered by the army of owls employed for the purpose.</p>

<p>‘HOGWARTS DUELLING TOURNAMENT TODAY’, the headline read. ‘PAGE 5: COMPETITORS, PAGE 6: HISTORY, PAGE 7: ANALYSIS.’</p>

<p>Hundreds of discussions across hundreds of breakfast tables. Would this year’s tournament be as spectacular as last year’s? Surely not without the Potter twins. But that did little to stop the building feeling of anticipation. Those who had tickets thanked their lucky stars. Those without fiddled with dials on their Wizarding Wirelesses.</p>

<p>Toast was buttered. Jam was spread.</p>

<p>In Diagon Alley’s Pensieve Parlour, several wizards were going over their last-minute plans to capture the competition from every critical angle.</p>

<p>In the Ministry of Magic, close to a dozen members of the Department of Magical Games and Sports filed into their boss’s office for a final briefing.</p>

<p>At the Floo Office HQ, wizards covered from head to toe in green soot were already hard at work, fully expecting the massive surge of floo activity thirty minutes before the first wand draw.</p>

<p>The Hogwarts Duelling Tournament had always been a highlight of the Wizarding sporting calendar, but the nail-biting performance of the previous year had catapulted its prominence to levels no one in living memory could remember.</p>

<p>At Hogwarts School of Witchcraft and Wizardry, the house elves were frantically cooking up a storm, preparing food not just for the students, but also the hundreds of outside visitors that would soon fill the stands of the standing room only. (((weird sentence)))</p>

<p>In each of the four house common rooms, the more enterprising students were finalizing the castle-wide betting pools. Others were determined to bring the Hogwarts student bazaar to the visitors in a big way.</p>

<p>In the professors’ lounge, the teachers were strategising ways to stop them.</p>

<p>And in the headmaster’s office, Headmaster Gilderoy Lockhart, Order of Merlin Third Class, Honorary Member of the Dark Force Defence League, and five times winner of Witch Weekly’s Most Charming Smile award, was sweating.</p>

<p>“Umm, complete control, you say? You want me to give up complete control of the wards?”</p>

<p>In the chair opposite him, Lord Slytherin radiated power. And it <em>was</em> Lord Slytherin. Though Lockhart knew intellectually that this being in front of him was also Harry Potter, one of his own students (sort of), and a boy of only twelve years, that didn’t change <em>anything</em>. Lockhart had travelled widely to write his books. He’d hired the most experienced and dangerous bodyguards and mercenaries he could to investigate some of the most dangerous places on Earth. And whenever shit hit the fan, as it inevitably sometimes did, he was smart enough to hide his arse behind the people who knew what they were doing and let them get on with it.</p>

<p>Except now he had no bodyguards. With Voldemort gone, he never thought he’d face such a monster in his own homeland. But now he knew better. He was more than halfway through writing Slytherin’s book and probably knew more about the man than anyone. He knew exactly what kind of a monster was sitting opposite him.</p>

<p>He tried loosening his collar, but it did nothing to help the sweat trickling down his neck. “I can’t just do that, my lord,” he tried. “The Headmaster has a duty…” he trailed off in the force of that aura.</p>

<p>“It will only be for the duration of the tournament,” Slytherin said. “I have a critically important job that needs to be taken care of in the school. It requires its complete evacuation. The tournament is the perfect time to accomplish this.”</p>

<p>Lockhart tried to object again, but Slytherin continued.</p>

<p>“It is for the safety of the students.”</p>

<p>“But—”</p>

<p>“It may be related to the Chamber of Secrets.”</p>

<p>That forced Lockhart’s jaw to snap shut. His eyes widened. “You know where it is?” He leapt up out of his chair. “That’s what this is about?!” His face slid from anxiety to hope. “You can fix that?! Please say you can. I’ve had countless parents, and the teachers, <em>and</em> the ministry breathing down my neck about that.”</p>

<p>“I have received information,” Slytherin said vaguely. “But to sort out the problem, I need the wards.”</p>

<p>Lockhart hesitated again.</p>

<p>“The Ministry, of course, has been informed.”</p>

<p>That did it. Lockhart firmed his jaw. “Very well, then. They are yours.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Argus Filch knew how to grovel. Argus Filch, in fact, had only two modes of operation, of which grovelling was one. The other was malicious cruelty against whoever he smelled weakness in.</p>

<p>The lords and ladies were not such a group. And this particular lord had Argus Filch in such a heightened state of grovel, that he might as well attach his floor mop to his nose.</p>

<p>“And once the tournament begins, I want everyone out,” Lord Slytherin said, walking briskly down the corridor.</p>

<p>“Yes, my lord. Of course, my lord,” Filch simpered, now practically hopping to keep up. “Your every whim is my humble command, my lord. Just say the wor—”</p>

<p>“And once everyone is out, I want you to finish locking up and withdraw yourself and Mrs Norris to the greenhouses.”</p>

<p>“I live to serve, my lord. I won’t let you down, my lord.” Filch’s hat fell off as he jerked along, forcing him to stop a moment to pick it up. By the time he’d retrieved it, Lord Slytherin was already well ahead.</p>

<p>“See that you don’t,” Lord Slytherin called behind him. The man obviously had places to be. “What happens in this castle today, is not for you.”</p>

<p>Filch watched after the retreating figure. He might be a squib, but that didn’t mean he couldn’t feel the raw magical power radiating from the figure. “Not for you, he says,” Filch muttered, once he was quite sure Slytherin couldn’t hear him. “Is there anything around here that <em>is</em> for me?”</p>

<p>Around his legs, Mrs Norris mewed after the retreating lord.</p>

<p>“And you can stop pining after him as well!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>In the Slytherin girls’ dormitory, Alex stared herself down in the bathroom mirror. Quick as a whip, she snapped her wand from its holster and thrust it in front of her. She flipped her hair over her shoulder and smirked. “You think your win is guaranteed, <em>Virgo</em>. But you have no idea the powers you (((face now. Behold!///face. Now behold!///face. Now. Behold!///face. Now; behold!///face. Now — behold!))) For I—”</p>

<p>“Alex?”</p>

<p>Alex’s heart leapt into her throat.</p>

<p>“Are you done yet?” A clearly naked Luna stuck her head around the door. “Only some of us still need to shower.”</p>

<p>“Yes!” Alex yipped. “I mean, yes! Yes, I’m done.”(((I am could be intentional, because Alex is trying to correct herself and is trying to sound more formal)))</p>

<p>“Yay!” Luna skipped into the room.</p>

<p>For some reason, Alex couldn’t stop herself staring. “Um, how much of that did you hear?”</p>

<p>“Mmm? Oh. All of it. Quite acceptable villain trash-talk. Eight of out ten. Your practice is paying off. But you had better get properly dressed.” Luna stepped into the shower. “We can’t meet Harry in just underpants///knickers, you know. Well, not until—”</p>

<p>Alexandra didn’t give her closest friend time to get any further. She quickly fled the tiny room, ears burning hot.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“You wish the ghosts of Hogwarts to leave the castle?” Nearly Headless Nick looked askance down the long table, lined with ghosts on either side. “Ridiculous! The ghost council has never before been asked something so outrageous!”</p>

<p>At the foot of the table, Harry stood tall next to the Bloody Baron, mask firmly in place, now on his second ageing potion of the day. “Of course, I wouldn’t ask you for something so sensitive without bringing something of value,” he said. “I learned from the last time I stood before you, that the ghosts of Hogwarts are not so easily swayed.”</p>

<p>Nearly Headless Nick made a disbelieving sound. “Something of value, he says. And what, Lord Slytherin, could you possibly have to offer such august persons as ourselves?”</p>

<p>The other ghosts around the table looked to him, some in interest, others in disbelief, yet others with silent resentment.</p>

<p>Harry smiled grimly under his mask. In truth, there were only a few ghosts of the dozen around the table he needed to sway to tip the balance in his favour. He turned to the Grey Lady. “To you, my Lady, I offer news of your mother’s diadem.”</p>

<p>The Grey Lady’s eyes widened.</p>

<p>“Through great effort, I have found it, and eventually intend to return it to the House of Ravenclaw, once I have figured out a way to remove a particularly nasty curse that has been laid upon it. The one you knew as Tom Riddle defiled it with dark magic the likes of which no wizard should wield. But I believe I can return it to its former state.”</p>

<p>The Grey Lady said nothing for a long moment///for a few moments, just as she usually said nothing. Then, she spoke. “If what you say is true, then you have done me a great service, Lord Slytherin. I look forward to seeing it rest on my mother’s head again.”</p>

<p>Harry nodded, then turned to the Fat Friar. “Father, I thought long and hard about what a wizard such as you would value. But in the end, it was obvious. You were one of the greatest healers in the land when you lived. While I am not anything close to a healer, I do possess the talent of silver limbs. I offer you my services to heal one soul you come across at your discretion, whenever you will it.”</p>

<p>The Fat Friar immediately laughed. “I thought so!” He gestured around the table. “Did I not tell you, my friends? I knew Lord Slytherin deserved a chance. No man who wields the healing powers to aid of his fellow man can be that bad a person.”</p>

<p>“In trade,” Sir Nicholas said dismissively.</p>

<p>“Oh, pish,” the Fat Friar retorted. “Besides, I want to see what he has for you, Nick.”</p>

<p>Sir Nicholas sniffed.</p>

<p>In reply to the stated challenge, Harry unsheathed the Slytherin sword at his belt. “I can grant you membership to the Headless Hunt.”</p>

<p>There was a pause. Then all the ghosts around the table burst into laughter. All except the Bloody Baron, and, importantly, Sir Nicholas. He did not look amused. Even the Grey Lady giggled.</p>

<p>“Lord Slytherin,” Sir Nicholas eventually said in a frosty voice, once the laughter had died down. “If this is your idea of a joke, then I do not find it amusing. Even if that is a True Silver sword you wield, such a thing will not finish the job that my executioner so incompetently started. To do that, the blade would need to be ethereal, and the magics capable of that were lost long ago. Long before the Smith family first smelted the first such blade. Not even Gryffindor himself could have done that.”</p>

<p>Harry didn’t try to argue back. Instead, he merely reached into his robes, withdrew a small silver bell, and gave it a faint tinkle.</p>

<p>The door to the room opened, and in walked his favourite necromancer duo. Alex and Luna wore simple matching dresses of black and white respectively, completely devoid of magic. He knew they were magic-less, because he’d bought them himself from a muggle department store, given them to Dan to hold for a minute, then kept them stored in his ritual room until needed.</p>

<p>“A Black?” Sir Nicholas asked. “And a Lovegood? What good will they…” he trailed off as Alex smirked and withdrew her dementor bone stake from her robes.</p>

<p>Sir Nicholas frowned. “Are you serious?”</p>

<p>Alex scowled.</p>

<p>“No, that’s her fath—”</p>

<p>“Luna!”</p>

<p>“Yes, we are serious,” Harry said. “It took some delving into the aether unpacked, but I completed the missing part of the ritual that Luna’s family has kept for over a thousand years. If you will follow us to the Hogwarts Ritual Room?”</p>

<p>Twenty minutes later, Sir Nicholas was laughing uproariously, his head cleanly separated from his body by a ghost-like copy of the silver sword he still wore by his side. The vote passed, and the ghosts officially decided to vacate the castle for the day.</p>

<p>“But where are we going to go?” the Grey Lady asked.</p>

<p>Harry rang the bell again and pandemonium filled the room as two dozen headless riders on horseback crashed through the stonework.</p>

<p>“Welcome to the club, Nick!” bellowed Sir Patrick. “Get on!”</p>

<p>One of the rider’s hoisted a squealing Grey Lady up onto his horse. The other ghosts just as quickly joined the hunt, each one behind a rider.</p>

<p>Sir Nicholas practically bounded up behind Sir Patrick.</p>

<p>“We’ll have to get you a horse, of course,” Sir Patrick said. “But that won’t be a problem. And now, away!” He pointed dramatically and the host shot away out of a closed window.</p>

<p>Luna threw the window open.</p>

<p>“And I intend to move Angelystor into the castle!” Lord Slytherin shouted after them.</p>

<p>“Be our guest!” came the rapidly fading reply.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Deep below the ground, Virgo was sweating. She wasn’t even aware that lamias///lamiae <em>could</em> sweat.</p>

<p>The basilisk ran its much larger body up against her, drawing back and forth across the Chamber like a pacing cat.</p>

<p>§When, my queen?§ the basilisk hissed. §When will we mate?§</p>

<p>§Sssoon,§ Virgo hissed back. §Sssoon,§ she repeated, racking her brain for another reason to put this off. §It’sss that time of the month.§ Virgo winced. She was rapidly running out of excuses.</p>

<p>The basilisk weaved back towards her and loomed. Its forked tongue tasted the air less than a foot from Virgo’s face. §My Queen will ssserve her king.§</p>

<p>§We must depossse the falssse king,§ Virgo hissed back. Sweat was now definitely pouring down her back.</p>

<p>§Yesss. But you do not let me kill. One look isss all I would need. One look, and the falssse king would fall.§</p>

<p>§The falssse king will have protection! He will not sssuccumb ssso easssily. We mussst be cunning. We mussst be dissscreet. Our plansss are working! People are beginning to sssussspect him. Sssoon, with jussst a few more attacksss on the right people, the Wizengamot will demand action. They will demand it of him. And he will have no choice but to admit he knew all along.§</p>

<p>§And my queen isss not afraid the falssse king will accussse her§</p>

<p>§No.§</p>

<p>The basilisk levelled its gaze at Virgo. §Once the falssse king isss gone. You will hatch my clutch.§</p>

<p>Virgo submissively lowered her head before quickly bolting for the portal. Once Lord Slytherin was exposed and ousted from Hogwarts, she was sealing up the Chamber using every spell, enchantment, and trick the teenage Dark Lady knew.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Torches flickered on the walls.</p>

<p>“Girls,” Daphne announced “It is time. From here on out, I want your full attention.”</p>

<p>Around the table, Hermione, Alex, Ginny, and Luna all nodded.</p>

<p>“It is currently nine o’clock,” Daphne continued. “Synchronize pocket watches, now.”</p>

<p>Four silver pocket watches were produced from various purses, pockets, and—Luna’s case—a drawer in the body of her witches’ hat.</p>

<p>Daphne placed her own watch back inside her purse. “Ear mirror pieces on, now.”</p>

<p>Everyone except Alexandra retrieved one of the tiny magic earpieces they’d used the previous year and placed them inside their right ear.</p>

<p>Inside Daphne’s purse, a shrunk trunk held the matching earpiece mirrors, all pointed towards each other in a circle.</p>

<p>“This is Eagle Eyes,” Daphne said. “Call ins, now.”</p>

<p>“Book Worm,” “Bulldozer,” “Shadow,” replied Hermione, Luna, and Ginny. Their voices echoed in their ears.</p>

<p>“Babysitter,” said Alex in a deadpan voice.</p>

<p>Daphne nodded. “Today’s operation will be a two-phase plan. Our primary goal is the destruction of the main threat, the basilisk, by any means. The secondary goal is the absolute secrecy of the operation. A third goal is the recovery and securing of the basilisk corpse.”</p>

<p>Daphne brought a finger down on the table, on which had been placed a map. “At or around eleven o’clock, the guests from outside the castle will start to arrive…”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Lord Potter felt a thrill as he stepped down from the horseless carriage (((Lord Potter can’t see thestrals?))) which brought him and his wife up from Hogsmeade. The Hogwarts Duelling Tournament always did that for him. He was rather less thrilled when he realized just who was stepping down from the carriage ahead of them.</p>

<p>“Lord Malfoy.”</p>

<p>“Lord Potter.”</p>

<p>“Lily.”</p>

<p>“Narcissa.”</p>

<p>The four magicals gave each other nods before turning towards the walk to the arena.</p>

<p>It took a moment for Lord Potter to realise that Narcissa had taken Lily off to the side, leaving him alone with the leader of the Dark.</p>

<p>“I believe we have seating next to each other,” Malfoy said.</p>

<p>Lord Potter checked and saw that it was true. He scowled.</p>

<p>“Now, come on, James,” Malfoy said in an oily voice. “Do you truly hate me so much?”</p>

<p>“Yes.”</p>

<p>“Ouch.”</p>

<p>They soon found their seats in the quickly filling duelling arena.</p>

<p>“It should be quite a show,” Malfoy said, raising his voice above the general hubbub. A random cheer went up from the crowd as Ludo Bagman took the mic (((do they really use microphones? not sonorus or sth like that?))). “Shame that John couldn’t be here. You didn’t get the mandrake brewed in time?”</p>

<p>“No,” Lord Potter scowled.</p>

<p>“Not to worry. This will be the perfect opportunity to show you just how strong my Virgo is. And why she will be worth every galleon I ask.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Daphne jabbed her finger again. “…Along with Lord Potter and Lord Malfoy, other persons of interest include the minister, the Humblehag, several department heads, over fifty other lords, and Alex’s father, Lord Black…”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Sirius Black stared in shock across the arena. Was James really sitting side by side with Lord Malfoy, just chatting away as though they were best friends?</p>

<p>“I say,” said a random wizard beside him. “Is that Lord Potter sitting side by side with Lord Malfoy, just chatting away as though they were best friends?”</p>

<p>“It does seem so,” said another.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“…Ludo Bagman will officially open the tournament at exactly eleven thirty. I will place myself on top of the owlery, keeping an eye out for critical events. After that, we all play our roles according to the plan.” Daphne nodded to where Harry stood watching the meeting by the door. “Good luck.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“And now!” Bellowed the voice of Ludo Bagman across the space. “I welcome you all! My lords and ladies, wizards and witches, to the annual Hogwarts Duelling Tournament!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Far off in the distance, behind the walls of the arena, the crowd cheered. Standing at the gates and looking up at the castle with a nostalgic gaze, Albus Dumbeldore took a moment to sort his feelings out before stepping back onto the grounds he’d been so unceremoniously booted from the previous year.</p>

<p>“Albus!” exclaimed a surprised Professor Vector, she who was checking the tickets of all who arrived. “I didn’t know you were coming.”</p>

<p>“I couldn’t stay away,” he said with mild amusement. “I may not be headmaster anymore, but I can’t help wanting to know how well the next generation is progressing.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Up on the owlery roof, a golden eagle turned into a young blonde-haired witch with blue eyes. “Snake Crown, this is Eagle Eyes. Light Goat has been spotted and is walking towards the arena. I repeat, I have eyes on Light Goat. Please advise.”</p>

<p>An [[[echoey]]] voice echoed in her ear through the headpiece. “Eagle Eyes this is Snake Crown. Keep eyes on path to castle and alert if Light Goat moves towards. Do not. I repeat, do not engage. Hopefully he’ll be too busy being freaked out by Alex and Virgo to notice anything odd going on.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“—and after the events of last year,” echoed the voice of Ludo Bagman, all around the arena, “I have been required to remind you all that Hogwarts duelling rules <em>do</em> in fact allow family magics, as well as other, er… historically important transfiguration abilities.”</p>

<p>In the Slytherin girls’ changing rooms, Alex smirked as she pulled her dragon hide boots on over her socks.</p>

<p>Standing by the door, Hermione, the only other girl on the team, was already dressed. “Dumbledore just arrived,” she whispered into the stillness.</p>

<p>Alex grinned. “Going to face him down again?”</p>

<p>“If he tries to arrest you, yes.”</p>

<p>The two girls gazed at each other.</p>

<p>Alex finished tying her laces, patted down the skirts of her duelling robes, and walked to stand beside Hermione, facing the corridor leading to the waiting room.</p>

<p>They walked together down the corridor.</p>

<p>“For Slytherin?” Alex asked.</p>

<p>Hermione nodded. “For Harry.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The moment <em>he</em> arrived in the arena, the part of Virgo’s soul that was Tom Riddle screamed in fury.</p>

<p>Dumbledore. Even through the walls she could feel him.</p>

<p>Virgo gripped her wand tighter.</p>

<p>“The first match will be Ravenclaw vs. Griffindor!” bellowed the voice of Ludo Bagman. “Please welcome into the arena, the Ravenclaw first-year seed, Timothy (((TrendyTreky: unless you want non traditional))) Adams!”</p>

<p>“It’s time!” said the Gryffindor duelling captain, jerking up from her bench. “I want you all focused.” She opened the door. The sounds of the crowd outside flooded into the room. “Good luck, Miss Minister.” She grinned at her.</p>

<p>Virgo looked up at the seventh year. She was rather handsome as far as girls went, but didn’t come close to John in either power or ambition.</p>

<p>“I do not require luck,” she said, evenly, standing up and brushing herself down. “I will destroy them all.”</p>

<p>“Glad to hear it.”</p>

<p>“And now, please welcome into the arena, our Gryffindor first-year seed and Hogwarts’ first ever Minister of the Student Wardrobe, Miss Virgo Malfoy!”</p>

<p>Virgo walked out at the head of the team to applause that was deafening. It would be interesting to see how Dumbledore reacted to an incredibly talented student whose childhood wardrobe he hadn’t set on fire.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Dumbledore stared in fascination as a child that should not exist walked into the duelling arena.</p>

<p>She was Julia Olsen, a muggleborn from Sweden, or so the records showed. Yet the same records showed that she’d originally been a squib, cast out by the Malfoys and shipped abroad to spare the family the embarrassment.</p>

<p>When Lucius and Narcissa realized their mistake, they’d sent for her to come back, and she’d accepted, with open arms, apparently.</p>

<p>And now here she was. Confident, poised, powerful, well-liked, by all accounts. And a Gryffindor… That last bit was surprising.</p>

<p>She marched up to the Ravenclaw boy and boldly offered her hand to him.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The boy was determined, Virgo could see that. They shook hands and she used the cheering of the crowd as an opportunity to lean in close. “I will beat you,” she whispered into his ear. “And then I will beat your second year. And then your third. Your fourth. Your fifth. You will be angry and humiliated by your loss. But when you see how effortlessly I crush your teammates, you will understand that fighting me is like trying to punch a flood.”</p>

<p>Virgo leaned back and saw the boy’s eyes widen.</p>

<p>She flashed him a smile she knew would be described as cute. It would only add to the boy’s shame. “No hard feelings.”</p>

<p>The noise of the crowd started to settle down.</p>

<p>“Quiet please!” Bagman called out.</p>

<p>The crowd grew silent.</p>

<p>Virgo moved to her position and bowed in time with the Ravenclaw.</p>

<p>There was a moment of stillness.</p>

<p>Suddenly, a bagpipe sounded a note.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Inside the Slytherin Dungeons, Harry couldn’t hear anything from the arena outside. He was entirely dependent on the girls for critical information.</p>

<p>Suddenly, his earpiece activated. “Snake Crown this is Book Worm,” said Hermione’s echoey voice in Harry’s ear. “Diary is engaged. Phase one is a go.”</p>

<p>“Copy that,” Harry said. “Phase one is go.” He turned to Luna. “Ready to play our part?”</p>

<p>“Yes, Harry,” Luna said dreamily.</p>

<p>“Good.”</p>

<p>They both readied their wands. They were in the very deepest part of the dungeon — in a dead-end that normally, not even Filch bothered patrolling.</p>

<p>With his total control of the wards for the day, Harry reached into the ancient magic that protected Hogwarts and deactivated a very specific protection.</p>

<p>“Go!” he barked.</p>

<p>The two ran up the corridor, and split at the first junction. They both immediately shouted, “Stupefy!” and the two paintings on either side of the adjoining hall froze in place with looks of shock on their faces.</p>

<p>Harry raced left, while Luna raced right.</p>

<p>“Stupefy!” “Stupefy!” “Stupefy!”</p>

<p>Painting after painting froze in place.</p>

<p>They dashed around the dungeon covering every corridor they knew. Every secret passageway. Every nook and cranny.</p>

<p>It was a race against time now. They had the entire school to cover before they could safely engage the basilisk with no witnesses, and only the time of the duelling tournament in which to do it.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Rictumsempra!” shouted the Ravenclaw.</p>

<p>Virgo said nothing. She merely slashed her wand diagonally and a hurricane force wind blasted out, sending dust and grass flying.</p>

<p>The Ravenclaw’s spell vanished into the cloud and a split second later, he himself was knocked back across the ground, falling with a cry, skidding on his shoulder, stopping the fall with his hands.</p>

<p>When the dust cleared, Virgo stood unmarked in the epicentre of a flattened circle of grass. She smiled. “Come!” she shouted. “Show me your worth!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Oh! Look at that!” Bellowed the voice of Ludo Bagman. “That was a close one. Stunner right by the ear. Banishing charm full in the chest! Ouch! I say, was that a slug belcher?! Don’t see that much these days. Whops! Got to be more careful there, young man. Great Scott! I thought she was going for the kill there!”</p>

<p>The whole arena ooh’d and ahh’d as the two first years dueled. Or rather, while Virgo dueled and her opponent got smacked around like a rag doll.</p>

<p>In the Hufflepuff team pit, Susan could barely watch. She sat with her hands over her face, peering through cracks in her fingers.</p>

<p>Beside her, Marigold Chesterfield elbowed her in the ribs and cheerfully commented, “She’s really good, isn’t she?”</p>

<p>Susan didn’t reply. Her face was flaming with embarrassment.</p>

<p>“I mean, she could just end this in an instant, but she’s giving him lots of time to have fun as well.”</p>

<p>Susan gritted her teeth.</p>

<p>“That’s so thoughtful. I can see why she’s your friend.”</p>

<p>Susan snapped. A moment later she was on her feet. “Virgo!” she screamed across the arena. “Stop playing with him and win!”</p>

<p>She saw Virgo turn her head in their direction. One red spell aimed properly later, and the Ravenclaw first-year fell face first into the dirt.</p>

<p>“First match to Gryffindor!” Bagman bellowed. “Gryffindor — one. Ravenclaw — nil!”</p>

<p>Susan breathed out.</p>

<p>“My turn!” Marigold sang. She hopped up and brushed down the folds of her duelling robes.</p>

<p>“Marigold!” called an older voice behind them. They both turned. Cedric Diggory gave the muggleborn a look that said he meant business. “Remember your role,” he said. “Black is not to be taken lightly. Wear her down and expose as many of her tricks as you can.”</p>

<p>“Yes, Captain.” And with that, she practically ran into the arena. She didn’t even wait for Bagman to announce her.</p>

<p>“I’m not captain yet,” Cedric grumbled.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Come on!” Filch yelled. “Out with you!”</p>

<p>“But I told you I’ve got homework to finish!” complained the third-year Gryffindor Filch was dragging along by his ear.</p>

<p>“And I told you, you can do your bleed’n homework outside!” He yanked open one of the many smaller doors to the castle and practically threw the boy out.</p>

<p>The boy stumbled away with a curse.</p>

<p>“And that’s the lot of ‘em.” Filch said.</p>

<p>Not too far away, Ginny scowled under her breath, crouched and hidden under the invisibility cloak. That was <em>not</em> ‘the lot of ’em’.</p>

<p>She inspected the Marauder’s Map and saw that four students were still in the castle — four students and one teacher.</p>

<p>“Eagle Eyes, this is Shadow,” Ginny whispered into her ear mirror. “Caretaker has ceased his role with non-combatants still in the castle.”</p>

<p>“Understood, Shadow,” said Daphne’s echoey voice in her ear. “Begin rounding up the stragglers. Snake Crown, did you hear that?”</p>

<p>“I heard,” said Harry’s voice, sounding like he was running hard. “Shadow, take only the students. I’ll handle the teacher.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Hermione frowned as she listened to the chatter on her ear mirror. What teacher was still in the castle? She could see Professor Vector in the crowd. There was McGonagall. And there was Snape, Pince, Lockhart, Babbling, and Lily Potter. Flitwick was sat with his Ravenclaws, as was Sprout with her Hufflepuffs. Sinistra and Burbage were also sat together. And she knew Binns had been taken with the Headless Haunt, much to the old geezer’s great displeasure. Hooch didn’t live in the castle, Pomfrey was down by the arena pit with her wand at the ready, and Kettleburn was in Saint Mungoes, again. So who did that leave?</p>

<p>Alex stood up. “My time is now,” she whispered.</p>

<p>“And now!” Bagman bellowed. “For the Slytherin team, please welcome, Heiress Alexandra Patricia Black!”</p>

<p>Alex walked down the steps and into the arena, duelling robes billowing out all around her.</p>

<p>Hermione stared after her. There wasn’t a single guest of wind anywhere to be felt. Had she charmed them to do that?</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>On the other side of the stands, Sirius chuckled as Alex walked out into the arena like a pint-sized Morgana Le Fay. Had it really been almost twelve years?</p>

<p>“I say, fancy seeing you here!”</p>

<p>Sirius started and looked around. He sighed when he saw who it was. Lord Lovegood, and behind him, Lord Greengrass.</p>

<p>“Sirius!” Xenophilius sat down cheerfully next to him. “Just in time for Alex’s debut! How do you think she’ll do?”</p>

<p>“She’ll win,” he said simply. “But what are you—”</p>

<p>Before he could make any kind of protest, Lord Greengrass sat down on his other side.</p>

<p>“—doing here?” he finished. He suddenly felt rather trapped.</p>

<p>“Just looking for the best view,” Greengrass said in a polite voice. “Xeno saw two seats free and I hoped whoever was already here wouldn’t begrudge us too much.”</p>

<p>“Not at all,” Sirius found himself grumbling. He hated politics, and there was no doubt in his mind the real reason these two had pinned him like this.</p>

<p>“So, who’s the competition?” Xeno asked.</p>

<p>“Err, not sure,” Sirius said. “A muggleborn, I think.”</p>

<p>“And now, for the Hufflepuff team!” Ludo’s voice echoed. “Practically already in the fight! With the way she just ran in like that… very enthusiastic. Please welcome, Miss Marigold Chesterfield!”</p>

<p>The crowd applauded.</p>

<p>Jacob clapped politely. “Anyone fancy a flutter?”</p>

<p>“On if Alex wins?” Xeno asked. “No one’s taking that bet, old chap.”</p>

<p>“No, on how far she gets. I would put five galleons on two rounds.”</p>

<p>“Five galleons, hmm? I don’t think you’re giving the witch enough credit, Jacob. I say three rounds.”</p>

<p>Three rounds? Sirius frowned as he watched his little girl square up against the Hufflepuff. He knew she was good, but could she really go three rounds? Sure, she had the advantage of being an animagus, which massively helped with magic regeneration, and he’d been suspecting for a while that the missing Black Library was in some way her doing, but that wouldn’t help against an older opponent who simply knew more magic. On the other hand, he was her father, and he’d promised himself to be more supportive.</p>

<p>“Seven rounds!” he shouted, making Jacob flinch and cover his ears. “I say seven!”</p>

<p>“Okay then,” Xeno replied with an amused look on his face. “Clearly you know something we don’t.”</p>

<p>“Harry <em>has</em> been training her,” Jacob said with a thoughtful look.</p>

<p>“You know Harry?” Sirius asked, suddenly all ears.</p>

<p>“Why, of course. Are you surprised?”</p>

<p>Sirius thought about it. “I suppose I shouldn’t be.”</p>

<p>Xeno smiled. “And there is that <em>thing</em> announced in the back of the Daily Prophet that everyone who pays attention knows about, but most people don’t so they’ll all be very surprised when Alex whips it out.” He caught Sirius’ eye. “But I took that <em>thing</em> into account with my bet.”</p>

<p>Jacob stared at Xeno. “What thing?”</p>

<p>“Hah!” Xeno laughed. “The leader of the Gray, not being in the loop? For shame, Jacob.”</p>

<p>Sirius ignored this and stubbornly folded his arms. “Seven rounds.”</p>

<p style="text-align: center;">— End of Chapter Sixty-five — </p>

{ 103} [second ageing]: Has it already been this long? In Ch3 we learn that ageing potions hold for six hours.

{ 131} [the magics capable of that were lost long ago]: 2021/07/06 - Malin: "Not sure how ethereal blades are simultaneously impossible and also smelted by the Smith family."

{ 461} [take only the students]: 2021/07/06 - Malin: "Ginny never told the others how many students/teachers there were."

{ 519} [You know Harry]: 2021/07/10 - TehVladz:
	"Possibly a bit of a plothole regarding Sirius being shocked that Greengrass knows Harry given. 1. The public scandal of Harry kissing his daughter which led a circus in a trial that 2. Sirius accidentally testified for the prosecution after which 3. Harry showed up along with Daphne to Alex's birthday party, and 4. Sirius knows about Harry seeking sanctuary with Gray/LS, as Sirius actually talked to LS about it.
	"If it were a discovery that Jacob knew Harry well, I could buy it, but Sirius being surprised (even if he realises he shouldn't be) that Jacob knows Harry at all flies in the face of Sirius being not just socially aware to some extent, but actually a professional detective.
	"tl;dr - I think Jacob's line should hint to Sirius that the Greengrass/Harry Potter relationship is significantly more comprehensive than is 'public' knowledge, even if he doesn't come right out an say so. Maybe 'he has been teaching Alex and my daughter-' 'You trust Harry that much?' 'Are you surprised?' '… no, I suppose not.'"
	Erritiguei1: "Especially given how publicly Lord Slytherin has been personally endorsing Harry. Like Lord Greengrass must know Slytherin pretty well, since his daughter is betrothed, ergo he must at least know Harry somewhat."
