Chapter 66 - Nature Red - Part 10

<p>Alex’s heart beat like a drum. Her pupils were dilated. Her breath was short. Her vision narrowed down to the happy Hufflepuff in front of her, bouncing up and down on the tips of her sensible shoes. Alex could feel the gaze of thousands on her.</p>

<p>She held her wand firmly. How should she do this? She couldn’t show off too much. That would spoil the surprise. Last year, Harry had slowly ramped up over the course of the tournament. She’d watched the memory more times than she would ever admit to anyone.</p>

<p>That’s what she needed to do.</p>

<p>She needed to slowly ramp up her powers. She had her animagus form — her secret weapon that would allow her to safely regain her magic and let her outlast even the seventh years. She had her family magic — the Black chains, her favourite, but also several choice hexes that would be more than useful. Spell swatting, a bit of wandless magic, a bit of silent casting, and, of course, magic sensing. She also had a few special tricks which she’d been working on during their time stuck in the animagus ritual.</p>

<p>Marigold waved at her, and around the arena, the spectators started to quiet.</p>

<p>Alex nodded, put a hand behind her back, angled herself to the side, and thrust out her wand arm with a flourish.</p>

<p>For this duel, she’d just rely on stunners and shields. There shouldn’t be any need for anything more complicated. Even before she came to Hogwarts, she’d been fighting against Ginny and Luna for nearly half a year. Alex smirked.</p>

<p>“Quiet, please!” boomed Bagman.</p>

<p>Alex heard her own breath.</p>

<p>As soon as the bagpipes sounded, she jabbed her wand forward and, at exactly the same time, both her and her opponent shouted, “Stupefy!”</p>

<p>The red spells shot towards each other, collided in the middle, and exploded in a small wave of magic.</p>

<p>Alex already had her shield up, ready for the follow up chain. But the chain never came.</p>

<p>Marigold smiled at her across the arena.</p>

<p>Alex frowned.</p>

<p>“A synced test shot!” shouted Ludo Bagman across the space. “They’re feeling each other out. A powerful exchange for first years. I felt that smack from here! We don’t often see caution like this, but I’m sure the follow up will be quite something.”</p>

<p>Alex controlled her breathing, not taking her gaze off the Hufflepuff muggleborn for even a moment. Which was just as well, what came next required every ounce of her concentration. Marigold let loose a torrent of spells at her, most of which she blocked. The last few broke through her shield though, and Alex watched with wide eyes as a bright red spell came at her. Time seemed to slow as she leaned away, and the spell passed only a few inches from where her head had been mere moments ago.</p>

<p>Then the world sped back up again.</p>

<p>Alex gasped.</p>

<p>“I say, that was a close one!” Bagman bellowed.</p>

<p>Marigold smiled and waved at her again.</p>

<p>Alex gripped her wand tight. She felt blood rush to her head. Was her opponent even taking this seriously?! Her occlumency alerted her to the fact that her emotions were starting to get the better of her, but at that moment, she didn’t care. Anger was the correct reaction here. She should just unleash everything she had. If she went full Grim and chains, there would be nothing this witch could— No! Alex mentally shook herself. That wasn’t the correct thing to do. Think of how Lord Slytherin would deal with the situation. He’d be cool. He’d be awesome.</p>

<p>Alex straightened and flicked her black hair over her shoulder. “Impressive,” she called out while raising her wand again. “But can you take as well as you give?”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Harry ran down yet another corridor in the Hogwarts Dungeons.</p>

<p>“Tag! You’re it!” Luna cheerfully shouted as he passed her at an intersection.</p>

<p>“You do <em>know</em> we’re about to fight an apex killing machine, right?” he called after her.</p>

<p>“That’s why I’m having fun now!” came her fading reply.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Fwoah! This is pretty intense!” Xenophilus had to shout to make himself heard over the exclamations of the crowd. The first Gryffindor/Ravenclaw match had set the expectation bar high, for sure, but while the fight between Virgo Malfoy and her Ravenclaw opponent had been a one-sided beat down, this was something else.</p>

<p>Sirius watched intensely with eyes locked on the arena. He wasn’t sure at what point Alex and the Hufflepuff muggleborn had really stopped playing around, but it was clear that neither was doing so now.</p>

<p>Their spells were basic and the power in each wasn’t anything to write home about, comparatively speaking, at least. But that wasn’t what had the crowd so worked up. No, that was down to the first years’ sheer speed.</p>

<p>“Great Scott!” Bagman bellowed. “Stunner! Breaker! Tripper! Basher! Disengage! Back to shield! Stunner! Hello! Rail! Into shield! Backroll! Down! Swat! Swat! Swat! Disengage! Another hello!”</p>

<p>The number of spells in the air at the same time was ridiculous. They’d seen something like this last year, when Harry had gone up against Nymphadora, but Nym couldn’t spell swat. Both of these two could.</p>

<p>And when had <em>that</em> happened?! Sirius asked himself as he watched Alex and Marigold dance around each other like professional duellists twice their age. Just when had one of the most difficult to master feats of magical combat been reduced to a first year’s warm up spectacle?!</p>

<p>Hells, <em>he’d</em> only mastered spell swatting not too long ago.</p>

<p>“Duel disengage! Both combatants take their distance! Looks like they’re letting their magic recharge!”</p>

<p>That look on Alex’s face though. Sirius watched the snarl and practically felt the hackles raise on his neck in response. She did look amazingly like a tiny Bellatrix when she did that. Why wasn’t she going Grim? He knew she could. He knew she knew she was allowed to. Why wasn’t she doing it? Not pride, surely?</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The crowd roared encouragement.</p>

<p>Alex got her breath back and straightened again. She glared daggers at her opponent. This was supposed to be a simple fight. She swore, Granger was going to get an earful for not mentioning that her student could spell swat! Did she think that wasn’t an important piece of information or something?!</p>

<p>Marigold looked similarly winded to her. She gave Alex a faint smile that said they were ready to go at it again.</p>

<p>Alex shook herself. She raised her wand. “I think we’ve danced long enough!” she declared with a snarl.</p>

<p>“I agree!” Marigold called back.</p>

<p>“Let’s end this!”</p>

<p>“Let’s!”</p>

<p>“They both look ready to go again!” bellowed Bagman.</p>

<p>The crowd roared.</p>

<p>Alex planted both her feet firmly into the dirt, squared her shoulders and yelled, “Come at me, mugglepuff!”</p>

<p>And so it began.</p>

<p>“Stunner!” Bagman shouted. “Breaker! Shield! Swat! Swat! Tripper! Basher! Re-shield! Hello! Closing the distance! Stunner into jinx chain! Tripper—WHAT?!”</p>

<p>It seemed to happen in slow motion. Alex felt the intent to trip form in the muggleborn’s empty hand. She felt the magic concentrate, felt the power raise to the tips of her fingers, felt it destabilize.</p>

<p>She felt the tripping spell detonate right in its caster’s own face.</p>

<p>Alex acted on instinct. She didn’t shield or worry about her own defence. She was in the middle of forming a different spell on her wand, but that didn’t matter. Intent to stun formed on the fingertips of her own free hand. Her spell flew straight and true right at the muggleborn who even now was falling forward.</p>

<p>Marigold landed face-first in the dirt and a split-second later, Alex’s stunner tagged her right between the shoulder blades. The Hufflepuff witch didn’t move.</p>

<p>The arena went silent. This lasted just long enough to become awkward.</p>

<p>“Err, victory to Heiress Black!” Bagman finally announced. “Slytherin 1 — Hufflepuff 0!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Tag,” Harry declared as he and Luna met at another crossing.</p>

<p>“Oh, poo!”</p>

<p>They both turned and started sprinting up a flight of stairs, out of the dungeons.</p>

<p>“You got all your paintings?”</p>

<p>“Yes, Harry. Also, tag!”</p>

<p>“You can’t tag me on the stairs!”</p>

<p>“Can too!”</p>

<p>They reached the top of the stairs and sprinted past the side door to the Great Hall. “I go left, you go right.”</p>

<p>“Yes, Harry.”</p>

<p>“Also, tag!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Dumbledore watched Sirius’ daughter return to the Slytherin duelling team and start to visibly argue with Miss Granger.</p>

<p>Very impressive skills for one so young. But of the two, he was honestly more shocked at Miss Chesterfield’s performance. He’d never have considered it possible for a muggleborn to display such talent and magical sophistication so early in her magical journey. Even accounting for that misfire right at the end, the mere fact of being able to attempt a wandless spell was rather astounding. Of course, Miss Granger probably could, but that would be explainable. She was being directly trained by Lord Slytherin…</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Gryffindor Versus Ravenclaw — year one, Miss Virgo Malfoy vs. year two, Su Li of the Chinese House of Li! Miss Li’s first showing was last year against John Potter, the first time we saw Heir Potter’s—Um…” Bagman hesitated for just a second, and anyone who knew him could hear the internal struggle between the desire to stay on Lord Potter’s good side, and speaking the mostly known, but as yet unspoken inconvenient truth. Eventually, he compromised by putting on his most dramatic voice and bellowing, “the time we saw our first taste of what a duelling powerhouse our most valued national treasure, the boy. Who. Lived, would turn out to be! Let’s see how Miss Li fairs this year against Miss Malfoy!”</p>

<p>Up in the oak bleachers, James Potter scowled.</p>

<p>Beside him, Lord Malfoy chuckled. “Don’t worry, James. I won’t insist on more galleons for Virgo’s contract owing to your son’s embarrassing situation.”</p>

<p>“Good.” James glared at him. “Because I fully intend to sort out the situation with my rightful heir well before it becomes important.”</p>

<p>Malfoy sucked in through his teeth. “Tut-tut. You really shouldn’t say things like that. You never know when that kind of declaration could come back to bite you.”</p>

<p>James blanched. “I don’t mean it like that!”</p>

<p>“I’m sure you did not. Murder in the old families rarely ends well. You would do well to remember that you <em>are</em> an old family, James. The greater the responsibility granted to us by the Albion, the greater the punishment for abuse. That’s not to say that it isn’t done, but I wouldn’t wish my daughter to marry into a family with that kind of modus operandi.”</p>

<p>James spluttered. “<em>You’re</em> lecturing <em>me</em> on the morality of blood warfare?!”</p>

<p>Malfoy gave him a cold look. “And what are you insinuating?”</p>

<p>James bit his tongue. He despised making nice with Lucius, but he had to remind himself why he was doing this.</p>

<p>Malfoy nodded. “That’s what I thought.”</p>

<p>“Quiet please!” bellowed Ludo Bagman.</p>

<p>The crowd silenced</p>

<p>Malfoy turned forward in his chair. “I may not charge you more for your son’s heirship situation, but I certainly will charge you more for <em>this</em>.”</p>

<p>Bagpipes sounded. Within thirty seconds it was over.</p>

<p>The crowd roared.</p>

<p>Su Li lay face down in the dirt. She’d ultimately fared little better than when she’d faced John in the last duelling tournament.</p>

<p>“Gryffindor — 2! Ravenclaw — 0!”</p>

<p>Lord Malfoy clapped with the rest of the crowd, looking very satisfied.</p>

<p>“I thought you hated your daughter,” James grumbled.</p>

<p>“I despise what she is becoming and the company she keeps. That doesn’t mean I am blind to her value. She is a Malfoy. She will serve your son well. You know this to be true. And if not <em>your</em> son, then I know a few older lords who are still shopping around for a younger bride.”</p>

<p>James cursed. “What about your heir?”</p>

<p>“Once Draco is awake, I will direct my efforts to making sure the one who put him in that state pays for it.”</p>

<p>They watched the healer ennervate the Ravenclaw and then lead both combatants out of the arena.</p>

<p>“And if you’ll excuse me for just a moment,” Lord Malfoy stood. “I think I just need to use the bathroom for a moment.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Excellent job, Virgo,” said Samantha North, current duelling team captain, when Virgo arrived back at the Gryffindor dugout.</p>

<p>“Yeah, excellent,” said Cormac McLaggen. “I hope you’re not going to go all Potter on us, Minister? I’d actually like the chance to do something this year.”</p>

<p>“McLaggen,” Samantha replied in a warning voice.</p>

<p>“Sorry, Captain.”</p>

<p>Virgo ignored him and sat down, but barely any time at all passed before a charmed origami bird flapped into her hands and unfolded itself.</p>

<p><em>Please meet me at once. I’d like a quick word.</em></p>

<p><em>- Your father.</em></p>

<p>Virgo pocketed the note. A quick look around the arena revealed that, yes, it did look like there would be a few moments before the next match started.</p>

<p>“I will be right back,” she said, standing up.</p>

<p>“Don’t be too long!” Miss North called after her.</p>

<p>Once in the relative darkness of the arena corridors, Virgo took stock. Her father wanted a word. Of course, she’d been expecting it. There was only so much it was wise to speak of in an owl, and unfortunately, Dobby could no longer get into the castle to pass a private message.</p>

<p>She had to get her best Dark Lady act///persona together.</p>

<p>The consequences if Lord Malfoy learned that she was no longer pure Voldemort were still terrible to contemplate. But, again, she was a Dark Lady, so she’d still contemplated them, just like she had with the basilisk.</p>

<p>Still, this meeting would be short. There simply wasn’t much time until her next match.(((3 times still in 2 paragraphs, reword?)))</p>

<p>Virgo walked along the corridor until she felt the telltale feeling of crossing an alert ward. Naturally, Lord Malfoy would have completely warded the meeting spot against eavesdroppers and snoopers. She turned the next corner and, as expected, found her sort-of adopted father waiting for her.</p>

<p>He looked taller than she remembered.</p>

<p>“Virgo,” he said.</p>

<p>“Father,” she replied.</p>

<p>“You will understand that I have questions. What exactly is your plan?”</p>

<p>Virgo smirked. “As per my original plan, we are locating and lodging evidence with our agents in the Daily Prophet that will severely undermine Lord Slytherin’s position.”</p>

<p>“The nature of Slytherin’s monster.”</p>

<p>“More than that.”</p>

<p>“More?” Lucius raised an eyebrow. “Then, what, daughter of mine, might be the nature of this evidence? And why deem it necessary to lodge it yourself? I could have effected this far easier than you.”</p>

<p>That was technically true, but would also hand over too much tactical power. Virgo wanted to keep her hands on the levers as much as possible. Plus, there was also a secret trump card to think of, and letting Lord Malfoy in on that would be unthinkable. She tried an all-knowing look mixed with bored disdain. “I discovered another way down into the Chamber. One not blocked by Lord Slytherin. I investigated, along with the boy-who-lived and Amelia Bones’ niece. After reconfirming control of the Basilisk, we continued to explore and found evidence that Lord Slytherin had been there, and even Harry Potter. They had clearly been engaged in a high-level ritual when they abandoned the Chamber. Massive clay pots. Furniture. A recently made bed. Even a few papers, though nothing too damning, unfortunately. I am still researching the nature of the ritual, but I have my suspicions.”</p>

<p>Lord Malfoy raised an eyebrow. “You trust Potter and Bones not to expose you?”</p>

<p>“Potter is much less of a goody two shoes then you’d expect. And Bones follows Potter everywhere like a puppy. They will be no problem.”</p>

<p>“Maybe, but I still do not see why I could not have handled this for you.”</p>

<p>“I am planning to deal Slytherin a series of damaging blows, one after the other. Negative press on top of negative press — culminating in one final death blow. One that will destroy the credibility of the Gray as a faction and allow the Dark to hoover up the scattered noble houses. It requires tactical awareness on the ground.”</p>

<p>“You are in school.”</p>

<p>Virgo said nothing.</p>

<p>Lord Malfoy clicked his tongue. “In truth, I am not that perturbed, at least, not with any of that. Any damage you can do the Gray is welcome.” He leaned closer. “Now, perhaps you can explain your other recent actions.”</p>

<p>“Father?”</p>

<p>For the first time that Virgo could remember since Julia had been kidnapped, Lord Malfoy’s tone turned sharp. “Don’t play coy with me, Virgo. You know exactly what I’m talking about. I’m talking about your brother — your brother, who is currently in the Hogwarts Hospital Wing, petrified.”</p>

<p>“He was the logical choice, for multiple reasons.”</p>

<p>Lord Malfoy’s eyes narrowed. “When you became my daughter, you took an oath to <em>protect</em> your brother.”</p>

<p>“And I am. That is one of the multiple reasons.”</p>

<p>“How is <em>petrifying</em> Draco, protecting hi—” He stopped. There was a long moment of silence. Slowly, realization dawned in his eyes. “Oh,” he said.</p>

<p>Virgo smiled. “Yes.”</p>

<p>Lucius gave her a incredibly calculating look. “You used an ancient monster whose gaze means death, to petrify your brother, in order to protect his mind against the poison of Lord Slytherin, while under his influence.”</p>

<p>Virgo gave him her best superior smirk.</p>

<p>Malfoy just looked annoyed. “That was not necessary. I had plans in progress to mitigate the damage from my son’s foolery.”</p>

<p>“You do not know the full picture. If you did, you would consider my actions prudent.”</p>

<p>“And when will I learn this full picture?”</p>

<p>“Soon.”</p>

<p>At that moment, they both felt the magical ping from the alert ward that indicated someone was approaching.</p>

<p>Virgo quickly retreated, but before she turned the corner, she paused to look over her shoulder. “I have given you a chance, Father. I advise you not to waste it.”</p>

<p>Virgo didn’t look back again. Soon she was out back in the sunny outdoor arena.</p>

<p>“—Black!” Bagman finished bellowing.</p>

<p>The crowd roared.</p>

<p>“And for the Hufflepuffs, the niece of Director of the Department of Magical Law Enforcement! Heiress Susan Bones!”</p>

<p>Virgo sat back down, leaned back, and got chills all down her back. Her robes were soaked with cold sweat.</p>

<p>“The Chief Auror’s daughter vs the Department Head’s niece! This should be a spectacular one!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Butterbeer, dear?”</p>

<p>“Oh, thanks, Lily.” James took a sip then did a double take when Malfoy retook his seat next to him. “What’s up with you?”</p>

<p>“Nothing,” Malfoy replied. “Incidentally, I want another one thousand galleons.”</p>

<p>James spat out his beer.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Come on, Ludo,” Sirius groaned. “Don’t do this to me.”</p>

<p>Down in the arena, an animated Alex was making angry swishing motions with her wand. Whatever she and her muggleborn friend, Granger, had discussed, clearly she wasn’t happy with it.</p>

<p>“Cheer up, old chap!” said Xeno, slapping him on the back. “Your girl is(((ChRiAn says it sounds like possesive 3rd person otherwise))) kicking arse. Only six more to go to win your bet.”</p>

<p>“True,” said Jacob. “But that is a Bones down there. It would be wise not to underestimate her.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Stop playing around, Alex,” Alex muttered, putting on her best impression of Hermione. She swiped with her wand again. “Overwhelming force, Alex. You’re not Harry, Alex. So what if I want to put on a show?!”</p>

<p>“I can hear you, you know,” Susan called out to her.</p>

<p>The two girls locked eyes.</p>

<p>Alex steadied her breath. “Sorry, Susan.”</p>

<p>“Alex, if you don’t fight me seriously, I swear I won’t come to your next birthday party!”</p>

<p>Alex grimaced. Damn it. She glanced back to where Hermione was watching with her arms folded. “Fine!” she eventually called out. “You want to face my full power? Then you shall have it! Just for you, Susan!”</p>

<p>Looks like she was going to play her major cards right here and right now.</p>

<p>Overwhelming force. Alex cast her mind back to her time in the animagus ritual — to swinging around a fourteen tonne killing machine while it did it’s best to bite her in two at the waist — to dodging and swatting spells from up to three combatants at once.</p>

<p>“Quiet, please!” Bagman called.</p>

<p>The crowd went silent.</p>

<p>Seconds passed.</p>

<p>A bagpipe sounded.</p>

<p>Immediately, Susan waved her wand and half a dozen rocks shot up into the air, around her.</p>

<p>Alex thrust out her wand straight in front of her, firing a Black chain right at Susan.</p>

<p>A rock moved to intercept. A second rock shot at her like a cannon ball.</p>

<p>With a flick of her wrist, Alex caught the first rock and sent the second careening up into the air with a wandless stunner.</p>

<p>“A draw!” Bagman shouted.</p>

<p>Alex’s lip curled upwards as she let go of the first rock and sent her chains up after the second. A flurry of spells shot towards her.</p>

<p>“Wandless spell swatting!” Bagman shouted. “The question is, can Heiress Bones match her?”</p>

<p>The rock finished its climb into the air just as the chain caught it, along with a quick engorgio fired off in between spell swats, massively increasing its mass. Alex snapped her chain back to herself and held on for dear life.</p>

<p>“Merlin!” Bagman bellowed.</p>

<p>Susan’s eyes went wide, but only for a moment, as Alex left the ground and arced through the sky right at her.</p>

<p>The crowd watched in stunned silence, but only for a moment. As one they surged to their feet as the chain rotated around the now massive boulder like a Catherine wheel and powered the Black Heiress on a high speed collision course with a very hard ground.</p>

<p>“Pull up!” Bagman shrieked.</p>

<p>The Black Heiress did not pull up. She continued her path right to the earth, traveling at a respectable speed for a top class racing broom.</p>

<p>Susan screamed.</p>

<p>What happened next was not what anyone was expecting. Instead of colliding with the ground and breaking every bone in her body, something shifted just a split second before she hit the ground.</p>

<p>The crowd went silent as the Black Heiress vanished into the floor.</p>

<p>“I—” Bagman started. “I—what?”</p>

<p>Immediately after he spoke, something phased out of the ground, right behind Susan, like a ghost. It shot up into the air as though fired from a catapult, but not before firing a spell right into Susan’s back at point blank range.</p>

<p>The massive grim in spectral form completed its arc in the air before landing lightly on the ground. It reverted back to its solid form.</p>

<p>Susan fell forward into the dirt.</p>

<p>Somewhere in a nearby a tree, a[[[n actual]]] cricket chirped.</p>

<p>“S—Slytherin wins!” Bagman bellowed.</p>

<p>Alexandra transformed back into her human form and curtsied.(((ChRiAn: "Just as a suggestion for the extra level of Dark Lady-ness let her do something after transforming back? Not necessarily curtsy, but just something. It would fit her billowing robes from earlier." "And then after (if) she wins against Virgo, she accidentally starts her Dark Lady dance, but catches herself at the last moment")))</p>

<p>And the crowd chose that moment to go nuts.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Harry passed one of the second-floor windows at a dead sprint just as a roar of approval sounded out from the direction of the duelling arena.</p>

<p>“Book Worm, this is Snake Crown. What’s the racket?”</p>

<p>“ALEX JUST ABSOLUTELY DESTROYED BONES! MERLIN, IT WAS SO GOOD!”</p>

<p>Daphne’s voice cut in. “Quieter! Crying out loud, that almost deafened me!”</p>

<p>Hermione winced. “Sorry, Eagle Eyes.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>On the other side of the arena, Dumbledore clapped along with everyone else. Very impressive. Although it did leave the question as to how exactly the Black Heiress had managed to change the direction of her swing while in spectral form underground.(((LVE: "Re: Alex's time underground. Consider rewording Dumbledore's considerations to avoid giving impression of explanation for something that has already had an explanation provided for it.")))</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Well hello there, young miss,” said the painting of a regal looking knight. “We don’t get many people down here. What can I do for you?”</p>

<p>Luna waved cheerfully. “So sorry. Can’t talk today.” She put her wand behind her ear. “Stu-pi—” she puffed out her cheeks to comic levels. “—fy!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Wow,” Jacob said looking down into the arena where Alex was being swarmed by her teammates.</p>

<p>“I was not expecting <em>that</em>,” Xeno concurred.</p>

<p>Sirius felt like he was going to have a heart attack. He was on his feet. And he suddenly realized, that he couldn’t be prouder if he wanted to be.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Unaware that her status as ‘most awesome ninja’ was potentially under threat, Ginny Weasley lurked, just outside the entrance to the Hufflepuff common room, under the invisibility cloak, like a see-through shadow. Her ear-mirror was turned off. There was simply too much noise coming from the arena to keep it on. Get in, get out, turn the ear-mirror back on.(((ChRiAn: "Somehow it feels like there are to many commas in this sentence, although I can't say which ones should go")))</p>

<p>After a final inspection of the Marauder’s Map, she took out her wand and tapped the needed pattern into the beer barrels that made up the Hufflepuff security system.</p>

<p>The portal to the room behind opened for her.</p>

<p>The Hufflepuff common room was a lot more homey than the Slytherin one, Ginny noticed. It reminded her rather of the Burrow.</p>

<p>Quietly, she crept forward.</p>

<p>Then, even more quietly, she crept up to the boys’ fifth year dormitories.</p>

<p>She pressed her ear to the closed door.</p>

<p>The sounds of two people happily enjoying each others company came to her, muffled through the wood. Ginny bit her lip. She could only imagine how pissed off she’d be if she was like that, with, say, Harry, and some bitch stunned her out of nowhere and stashed her in a trunk for several hours.</p>

<p>But it was better to be frustrated than to be dead.</p>

<p>She cast a quick silencing charm on the door and then, ever so carefully nudged it open. Once wide enough, she slipped through.</p>

<p>“Hey,” said the boy’s voice in a whisper. He was sitting on the nearest bed with the girl in his lap, and despite what Ginny feared, they were both fully clothed. That made her feel a bit better. “Why’d the door open?”</p>

<p>“The wind?”</p>

<p>Ginny carefully pushed the door closed behind her.</p>

<p>“Maybe…”</p>

<p>It had to be done carefully. Preferably from a direction neither was looking in, with no mirrors or reflections.</p>

<p>The girl giggled. “Ignore it. Kiss me.”</p>

<p>The couple locked lips.</p>

<p>Both their eyes closed.</p>

<p>Ginny smiled. Perfect.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Match Virgo!” Ludo Bagman shouted amid the cheering. “Griffindor 3 — Ravenclaw 0!”</p>

<p>“Mmm,” said Lucius, “Maybe I should add another hundred galleons on for that.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Match Black!” Ludo shouted as another wave of applause swept the arena. “Slytherin 3 — Hufflepuff 0!”</p>

<p>“And now?” James said back to Lucius. “Seems Virgo’s performance is nothing <em>too</em> special.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Tag!”</p>

<p>“Tag back!”</p>

<p>“No fair!”</p>

<p>“Hey, no running in the corridors!” yelled the painting guarding the third-floor entrance way.</p>

<p>“Stupefy!” “Stupefy!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The magically enhanced voice of Ludo Bagman sounded out of the arena, across the grounds, and up to the top of the Hogwarts Towers. “Match Malfoy! Gryffindor 4 — Ravenclaw 0!”</p>

<p>Daphne tilted her head as she watched the grounds… ‘Like a hawk’ would have been literarily appropriate if not literally true.</p>

<p>Of course, the young witch reflected, there was one very clear weakness to using an eagle animagus as a sentinel. Animagus forms allowed for many types of clothing—even magical clothing—to be merged directly into the form on transformation, stored safe from the world and ready to be used on assuming humanity again—but the same could rarely be said for magical artefacts. Wands were one of the few exceptions, and that was theorized to be due to the strong connection between wand and wizard.</p>

<p>The ear mirrors, made from the union of Bell and Harper family magics, combined with the Granger’s micro runes, did not fall into this category.</p>

<p>Even if they did, it would only allow her greater mobility without having to carry the earpiece in her beak, or attached to a bag tied to her talons. Merging with the ear mirrors wouldn’t allow her to use them while transformed.</p>

<p>Her eyes spotted movement.</p>

<p>She transformed back into her human form. She picked up her ear mirror and pressed it to the side of her head. “Snake Crown this is Eagle Eyes. An upper year is making her way back to the castle.”</p>

<p>“Eagles Eyes, this is Snake Crown,” came Harry’s breathy voice. “Understood. Shadow, can you intercept?”</p>

<p>“Sorry,” said Ginny’s voice. “I’m still in the dungeons. I can get her when she comes in. I see her on the map. But will she be able to get in?”</p>

<p>“Against Filch’s muggle locks?” cut in Hermione’s voice. “I bet I could have done that as a firsty by Halloween.” (((Hermione this TL could probably have done it before going to Hogwarts)))</p>

<p>“Understood,” Ginny said “Snake Crown?”</p>

<p>“Do it.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Anne Creswell’s legs were shaking. The fourth year Hufflepuff, who had so brazenly shit-talked her current opponent only a few days previously, was now having serious second thoughts.</p>

<p>Alexandra Black was grinning at her. The Black heiress’ third fight had not been like her second. She hadn’t gone all out, but neither had she shied away from fully using her grim animagus form to her advantage. Easily wearing down their third-year seed over a few minutes of combat. Her opponent hadn’t stood a chance and Black had barely broken a sweat.</p>

<p>A grim animagus form!</p>

<p>Anne felt a serious sense of déjà vu.</p>

<p>How was it even possible for a first year to have an animagus form?!</p>

<p>She was going to get creamed!</p>

<p>And this time it was much worse because of the bet she’d made. Sweat poured down Anne’s face and they hadn’t even started yet.</p>

<p>“Umm… Black,” she started. Her voice trembled. “Is it too late to renegotiate?”</p>

<p>Black just grinned back.</p>

<p>“Quiet please!” bellowed the announcer.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Sirius leapt to his feet and cheered louder than anyone around him.</p>

<p>“Slytherin 4 — Hufflepuff 0!” Ludo bellowed.</p>

<p>The Cresswell girl was levitated out of the arena by Madam Pomphrey, leaving Alex standing there alone, basking in the crowd’s adoration. Or was that bloodthirst? Either way, he found he didn’t care.</p>

<p>“She did better than expected for a family of cheese makers,” Lord Greengrass commented. “Did they ever have anyone at Hogwarts before?”</p>

<p>“Not that I know,” Xeno replied.</p>

<p>“So, first-gen Hogwarts student.”</p>

<p>“Seems like it.”</p>

<p>“Bit unfair, asking her to duel yours, Sirius. When did that animagus rule get changed anyway? I’m pretty sure it wasn’t in place when I left Hogwarts.”</p>

<p>“You don’t know?” Xeno said loudly over the crowd. “Sirius here <em>is</em> the reason it was changed. Only, he was a sixth-year at the time, so he never had the chance to flex on the much older students. Isn’t that right, Sirius?”</p>

<p>Sirius grinned. “I flexed hard enough on the seventh years. Were you on the team? I don’t remember.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Behind several feet of solid wood walls, the muffled sound of cheering filtered through to where Susan Bones sat on the floor, in a corner up against the walls, with her arms around her knees.</p>

<p>Susan was not happy with herself.</p>

<p>Obviously, she wasn’t happy with her performance. She’d been training so hard with Virgo. Last year, she’d been training hard with John. Both were monsters. Sure, Alex might have been trained by Lord Slytherin — by Harry Potter, she corrected herself — but so what? Alex wasn’t a time traveller. She didn’t have a whole bunch of teenage Voldemort’s memories. She wasn’t a chosen of Fate and Death. She was just a young witch, like herself. Hells, Alex was a whole year younger than she was!</p>

<p>It was humiliating!</p>

<p>Susan clenched her fists.</p>

<p>But even more than she was unhappy with her performance, Susan was unhappy with what she was doing right now. Straight from being ennervated, she hadn’t stuck around to get healer treatment. She hadn’t stuck around to accept the condolences of her teammates, or watch Virgo’s next fight against Ravenclaw.</p>

<p>Nope, she’d run away like a Merlin-damned coward.</p>

<p>Why had losing this duel affected her so much more than last year’s?</p>

<p>She wasn’t sure.</p>

<p>Maybe it was because last year’s loss had been so unexpected. That whole tournament had been like something out of a farcical theatre production.</p>

<p>This year, she thought she’d been ready.</p>

<p>Ready to be more than just John and Virgo’s third wheel.</p>

<p>She’d even sworn that if Virgo’s plots got too out of hand, that she’d be the one to clamp down on them.</p>

<p>What chance did she have on that if she couldn’t even beat a student a year younger than her, while Virgo demolished year after year?</p>

<p>“And now for the next match!” came the muffled voice of Mister Bagman. “Malfoy vs. Gomez!”</p>

<p>Susan stirred.</p>

<p>She couldn’t take this.</p>

<p>A bagpipe sounded.</p>

<p>Susan stood up, whipped her wand around herself, and cast a disillusionment charm.</p>

<p>The sound of faint chanting started.</p>

<p>If she was going to be ready to fight Li in the Hufflepuff — Ravenclaw play offs, she needed to clear her head. That meant getting away from here.</p>

<p style="text-align: center;">— End of Chapter Sixty-six — </p>
 
{ 197} [said Samantha]: The Gryffindor duelling captain is changing genders in this and the next chapter.
{ 215} [Miss North]: Gryffindor duelling captain changes gender between scenes

{ 497} [Wands were one of the few exceptions]: Limalicious: soooo, I reread ch. 59, and maybe someone can explain this one to me, but Daphne's exposé on how only a rare few magical artifacts can be stored with clothing and wands while transformed as an animagus…seems to contradict everything we've seen so far.

	Sirius could transform from Grim to human and back, complete with Auror robes and shields(!). Harry, as far as I can see, has not accidentally dropped his shrunk trunk upon shapeshifting, and neither has Luna. Same for the portkey she had on her.

	So, how limiting is this "with only a few exceptions" really? Clearly rune-covered, enchanted clothing doesn't matter, same for magical, space-expanded trunks. It seems like the mirror earpieces are actually the exception, rather than the reverse as stated by Daphne there. I'm not even sure why it'd be necessary, since the whole "if you morph with it, then you can't use it" thing tracks perfectly fine on its own and would already be a restriction.

	Did that get expanded upon already? 
