Chapter 67 - Nature Red - Part 11

<p>Ginny dashed up another corridor, noting as she went, that all the portraits had been stunned. A flex of her magical powers later, and she felt her body shift. Her muscles lengthened. Her body grew fur. A tail sprouted. Her hands turned into paws. Her clothes melded into her body.</p>

<p>Her ear mirror and the map dropped to the ground. She picked up both with her cheetah-form’s fanged jaws, and carried on a gentle lope. Not as fast as her human form could sprint, but definitely faster than her jog.</p>

<p>No need for stealth now until she arrived at her next target.</p>

<p>“Virgo’s won another round,” came the echoey voice of Hermione through the mirror in her mouth, amid a background of other raised voices. “Looks like it’s starting to tax her.”</p>

<p>Ginny shifted just before the next corner to check her target’s location on the map, just in time to realise what she was hearing from the ear mirror///what was coming from the ear mirror.</p>

<p>Could she really hear the crowd chanting, “Malfoy”?!</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Yes, they are chanting 'Malfoy',” Daphne spoke into her ear-mirror, now sitting on the tree branch she’d scoped out before when she’d been interrupted by Hagrid. It wasn’t the absolute best position, but it was a lot easier to sit on this branch as a witch than on the sloped roof. It certainly wasn’t dignified for a young lady of her standing, but what was the point of being an eagle animagus if it didn’t give you a bit of license to adventure. “I only hope they start chanting Alex’s name as well,” she muttered.</p>

<p>She kept her eyes trained on the pathway between the duelling arena and the castle.</p>

<p>Dumbledore still hadn’t made a move.</p>

<p>Not that she was expecting it.</p>

<p>Hermione would have alerted her if <em>that</em> one left.</p>

<p>She quickly shifted into her Eagle form for another wide area scan. And not a moment too soon.</p>

<p>She shifted back to witch so fast she almost lost her balance on the tree.</p>

<p>“Shadow, this is Eagle-Eyes. I caught a disillusioned figure unlocking the side door.”</p>

<p>There was silence.</p>

<p>“Shadow, this is Eagle-Eyes,” Daphne repeated. “A disillusioned figure just entered the castle!”</p>

<p>Nothing.</p>

<p>“Give it a moment,” Harry’s breathy voice came. “She might have entered stealth—”</p>

<p>“No! I’m here!” said Ginny’s panting voice. “Sorry, I was in cheetah form. It’s Bones!”</p>

<p>“Can you intercept?” Harry asked.</p>

<p>“I’m almost at my last target,” Ginny replied. “I’ve got her on the map. I’ll finish this up, then grab her.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Black! Black! Black! Black!”</p>

<p>In the arena, Cedric smiled softly and inclined his head to Alexandra.</p>

<p>Alex inclined her head back.</p>

<p>“—And the next match, Black vs. Diggory!”</p>

<p>“Black! Black! Black! Black!”</p>

<p>“Quiet Please!”</p>

<p>“Black! Black! Black!”</p>

<p>“Quiet! Quiet, I say!” cried an increasingly desperate Bagman. “This isn’t a quidditch match!”</p>

<p>“Black! Black! Black!”</p>

<p>“Duelling is an ancient and honourable tradition!”</p>

<p>“Black! Black! Black!”</p>

<p>“Thousands of years of practice and custom! The brutality of the war mage honed down to the art form of the gentleman wizard. A battle of wits and power! A meeting of wands! A dance! How many great conflicts of the Wizarding World came down to two powerful and mighty foes, facing off in a duel?! Will you make a farce out of such a noble sport?!”</p>

<p>“Black! Black! Black! Black! Black! Black! Black! Black! Black! Black! Black!”</p>

<p>“Oh, whatever.”</p>

<p>“Black! Black! Black!”</p>

<p>“Just hit it, Mister Bagpipes man.”</p>

<p>“Black! Black!”</p>

<p>“And there they go! Opening salvos! Duellers Hello vs. Goodbye. Diggory pushing hard, but Black making excellent use of her swatting to keep up. He’ll need to push harder than that if he wants to—oh! Elemental water! Diggory has advanced quite a bit since we last got a really good look at his abilities two years ago. But will it be enough? Pushing Black back. She’s looking tired. There it is! Black transforms and dives under the ground in her spectral form. She’s regaining her magic, but is there anything Diggory can do? Yes! Oh, my! Screeching charm straight into the ground! That’s gotta hurt. Yes! There’s Black! She’s airborne! Transforms back human! Can Diggory take advantage? No! Black uses her chains to dodge midair! But I don’t think she was able to stay underground as long she wanted! Another trading of spells! Diggory keeping up the pressure. Water’s getting pretty mudding now, but Diggory’s keeping it under control! Black on the defensive. Transforms and dives back underground! But we know that trick is going to cost her now. There’s the screeching charm. But Black had to know that was going to happen! Diggory keeping up the spell. Just how long can Black hang on for? There she is! Oooo! Not looking too good and she’s pissed! And quite understandably! Instantly back on the defensive! Black’s going to have to think of something quick if she wants to stand a chance here—what was that?! Spell backfire! Black hit by one of her own spells, but doesn’t look like it’s stopping her. Diggory advancing strongly now. Black looks like she’s on her last legs — goes Grim! Underground! She’s desperate now. Wait. No screeching charm?! Extraordinary! Diggory chooses to forgo his winning strategy in favour of pulling together a mud golem! Just what is our intrepid Hufflepuff thinking? And with every moment that passes, Black is recharging her magic! And while she’s recharging, Diggory is expending his magic at a prodigious rate. Will he have enough reserves left when our Slytherin Black finally reemerges from the depths below? That is a rather impressive mud golem though… There! Ladies and Gentlemen, Black is back! And immediately on the attack! …Are those her ears bleeding? Wait, that backfire—DID SHE CAST A DEAFENING CURSE ON HERSELF?! Diggory on the defensive! Low magic! But with a golem as backup! Black tries her chains, but they just sink through the mud! She’s stuck! And here comes Diggory! Black drops her chains! Swats the stunners! Diggory closing! Full spell barrage! Black can’t go grim! Diggory shielding! Face-to-face! Mud golem from behind! Black’s hand caught! Drops wand! Wandless spell swat!—!!!!!”</p>

<p>The mad cheering of the crowd became a roar.</p>

<p>“Lords and ladies! YES! WE ALL SAW THAT! Diggory is down! Wizards and witches! Our Hufflepuff went for a physical wrist grab, landed it, and with his size and strength, that should have been it! But Black turned the tables on him and threw him straight into his own mud golem, following that up with an easy wandless stuner! How any girl is that strong, I’ve no idea! Now, just a second! We’re still waiting on the decision from the judges as to whether that self-cast deafening curse was legal… Yes! I’m getting a nod! It’s allowable! Lords and Ladies, what a match! Diggory may have lost, but by Merlin, we saw some impressive duelling today! Not even I spotted that Black had cast a deafening curse on herself, thereby negating the effects of a screeching charm, but this young man did, and instantly adjusted his strategy! And damn near beat her! Wizards and witches, we’ve yet to see someone come up with a rock-solid strategy to counter heiress Black’s magical animagus transformation, but I think we’ve just seen by far the best attempt! My lords and ladies, I give you our victor! First-year Slytherin, Heiress Alexandra Black will be advancing to face the Hufflepuff sixth-year competitor! Slytherin 5 — Hufflepuff 0!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Book Worm, this is Snake Crown. That sounds like quite a lot of cheering.”</p>

<p>“Alex just took Diggory! Since Tonks left last year, he had to be Hufflepuff’s best duellist!”</p>

<p>Harry smiled. It looked like his necromancer was faring better than expected.</p>

<p>“How about you, Snake Crown?” asked Daphne’s voice.</p>

<p>“On schedule,” Harry replied. “We’ll be starting the final sweep soon.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“And there goes the sixth round! Victory Malfoy!” screamed Ludo’s tinny voice from an ornate wizarding wireless. “Gryffindor 6 - Ravenclaw 0!”</p>

<p>In front of the magical radio, in a massive luxurious chair, a black snake sat coiled up, eyes glowing red.</p>

<p>“Quite an impressive tournament, my lord,” said a young man standing next to a fire place.</p>

<p>“Quite so, Barty” replied the snake, straight into his mind. “And very mysterious, as well. It makes me wonder…”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Victory Black!” screamed Ludo from the radio. "Slytherin 6 — Hufflepuff 0! Is there anything that can stop these two monsters?!“</p>

<p>In the kitchen of the Burrow, Mrs Weasley finished charming the lid shut on her latest batch of home-made rumbleberry jam.</p>

<p>“She is doing well, isn’t she, Dorothy?” said Mrs Catamole from over the hill, sitting at the kitchen table.</p>

<p>“I hope she isn’t pushing herself too hard,” replied Mrs Wood, who was visiting her sister from out of town. “But I suppose she is a Black. Right odd family, that one.”</p>

<p>“I just can’t help wonder what’s going to happen against the Malfoy girl.”</p>

<p>“Fancy a flutter?”</p>

<p>“Oh, go on.”</p>

<p>Mrs Weasley levitated the dozen glass jars onto the top shelf of the pantry.</p>

<p>“Should have a better chance this time,” Mrs Catamole said. “I’ve always had a keener ear for duelling than quidditch.”</p>

<p>Mrs Weasley turned to face the two. Her expression was singularly smug. “That’ll teach you to bet against my little girl, then, won’t it?” she said.</p>

<p>“I thought you hated that Ginny was playing quidditch? You said such masculine pursuits would ruin her chances to find a good husband when she was older.”</p>

<p>Mrs Weasley had the good grace to at least look embarrassed. Arthur’s talks with Lord Slytherin about Harry Potter, the new heir of the Ancient and Noble House of Potter, were not public knowledge. “I just don’t like that she constantly puts herself in danger,” she said. “Of <em>course</em> I’m incredibly proud of her.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Virgo stood still over her downed opponent while all around her, the arena went wild. She was bleeding from the mouth and nose. Several large bruises were forming on her arms and one nasty one on her chest. Her dragon skin duelling robes had protected her from any slashes across her body, but that didn’t mean that the robes themselves didn’t need repair. She might have a soul age a few years younger than the seventh year now lying in the dirt— more like a fifth year—but in the end, her vast repertoire of spells and magics, and her ability to create on the fly, had won the day. She was Virgo! She was neither Tom nor Julia. She was her own witch! She would prove herself greater. No matter what it took.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>From under the invisibility cloak, Ginny stared in frustration at the locked door to the Room of Lost Things. By the time she’d spotted exactly where Susan Bones was going on the Marauders Map, it had been too late to reach her.</p>

<p>“What do we do?” she whispered into her ear mirror.</p>

<p>“Keep the door staked out,” came Harry’s voice from the other side. “You have everyone else, right?”</p>

<p>“Yeah. But what if she doesn’t come out?”</p>

<p>“We’ll cross that bridge when we come to it. Which may actually be soon.”</p>

<p>The sounds of crowds cheering erupted in Ginny’s ear.</p>

<p>“ALEX WON! —oops, sorry, I mean, Snake Crown, this is Book Worm, Alex won.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Alexandra Black wanted to be cool. She wanted to stare down at her defeated foe and quip out some witty one-liner. She wanted to turn her back with a swirl of robes and walk back to her team as though she hadn’t just joined the pantheon of the mythical first-year-full-seven sweep — current members four — two of whom were time travellers and the other being a seventy-year-old Dark Lord soul fragment.</p>

<p>She didn’t.</p>

<p>Instead, she collapsed to her hands and knees and vomited all over the grass. Then she coughed. Blood spattered everywhere. Warm liquid ran down the sides of her face.</p>

<p>The commentator said something amid the faint buzz of the crowd, but she couldn’t make it out.</p>

<p>She didn’t know it, but the repeated casting of the deafening curse on herself was taking its toll.</p>

<p>Alex scrunched her fist in the grass. The pain didn’t matter to her. She had to be better than the pain. She had to get ready for the next fight. Next would be the Hufflepuffs vs the Ravenclaws. She had that long to recover. Harry had beaten John last year. She would <em>not</em> lose to Virgo. She had too much riding on it. She had to prove herself worthy — worthy to lead her own house — and worthy of the respect of Lord Slytherin. She would <em>not</em> lose.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>High up in the tree she’d chosen for herself, Daphne stared towards the arena, watching with razor sharp eyes, as Marigold Chesterfield square up against her Ravenclaw opponent.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Where’s Susan?!” shouted the Hufflepuff seventh year captain. “If she doesn’t get back here soon, she’s going to forfeit her matches!”</p>

<p>“I hope she’s alright,” Cedric said. “Missing her duel would be highly out of character for her.”</p>

<p>“Maybe Marigold can hold on for long enough for her to get back,” said one of the other duellists.</p>

<p>“What? You think Hufflepuff is lucky enough to have a first-year monster on our team, as well? Get real.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“And Miss Chesterfield wins the first round! Hufflepuff 1 — Ravenclaw 0!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Any moment now, Ginny thought to herself, crouched down in the hallway, just to the side of the tapestry of the dancing trolls. Her wand was trained on the locked door of the Room of Lost Things. Any moment now, Bones would emerge, panicked at being late for her match, and she, Ginny, would instantly stun her.</p>

<p>Then she’d sprint outside, and dump her outside the castle along with the others.</p>

<p>If she was quick enough she might even make her match.</p>

<p>Just a little bit more.</p>

<p>Come on.</p>

<p>Just open the door.</p>

<p>She was ready for her.</p>

<p>Ginny bit her lip — shifted her stance — adjusted the invisibility cloak.</p>

<p>Was something wrong?</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Why won’t the door open!?” Susan wailed, thumping helplessly on the locked door out of the Room of Requirement. “I need to get back!” she sobbed. “Why won’t you just open?!”</p>

<p>She’d only meant to use the room briefly to calm her nerves, ready for her next match. But the moment she’d tried to leave, she’d found the only exit inexplicably locked to her. That had never happened before.</p>

<p>No unlocking spell worked.</p>

<p>Attacking the door didn’t work.</p>

<p>The windows refused to smash.</p>

<p>Nothing worked.</p>

<p>The room was supposed to give them what they needed.</p>

<p>She needed to leave!</p>

<p>Susan sunk down with her back to the locked door.</p>

<p>She needed to leave, but it was almost as though the room had decided she needed not to leave.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>As the duelling competition continued, all over the castle, painting after painting was stilling one after the other. Some met their stunning with dignity, others with surprise, and yet others with outrage. The paintings of the common rooms gave the most issues. The Fat Lady in particular, got as far as three paintings away before Harry hit her with a perfectly timed stunner.</p>

<p>Not that it would have mattered. Painting magic was one of the most potent forms of necromancy, but once all the canvases in the castle were stunned, there would simply be nowhere else for any rogue paintings to go. They’d be trapped.</p>

<p>And yes, not even Harry, with the memories of Voldemort, the gift of the Marauders, and his own explorations, would suggest he knew all the secrets of Hogwarts. But hopefully, their confrontation with the basilisk would stay in the Chamber. If it did come to the surface, the chances of the basilisk coming across a hither-to-unknown part of the castle would be astronomically low. It was a known and mitigated risk.</p>

<p>Harry dashed up another corridor and high-fived Luna coming the other way.</p>

<p>“All done?!” Luna cried out as she ran off.</p>

<p>“Just one more!” Harry called back as he began the climb up the North Tower.</p>

<p>He reached the secret trap door that led to the divination class room.</p>

<p>“GO AWAY!” screeched a female voice from above the floor boards — one that sounded like it was a few cards short of a tarot deck.</p>

<p>Harry paused with his wand just about to cast a spell.</p>

<p>“GO AWAY!" the voice screamed again. ”I’M NOT COMING OUT! I WANT NOTHING TO DO WITH ANY OF IT! YOU CAN’T FORCE ME!“</p>

<p>He probably could, Harry mused. On the other hand, this was something he could deal with later.</p>

<p>“Colloportus!” he shouted, locking the door with more power and force than someone like Professor Trelawney could possibly hope to match.</p>

<p>That done, he turned on his heels and leapt back down the stairs five at time, each time landing as lightly as a feather.</p>

<p>He met Luna at the gargoyle that guarded the spiral staircase to the headmaster’s office. “How are the House Elves?” he asked.</p>

<p>“Terrified,” Luna replied. “But they’re all present and accounted for. None of them will be leaving the kitchens.”</p>

<p>“Then we just have to make sure the snake never gets that far.” Harry turned to the gargoyle, flexed his mind over the wards, and watched it jump aside.</p>

<p>They reached the top of the staircase and quickly stunned all the remaining paintings. Hogwarts was now probably emptier than it had been in a thousand years.</p>

<p>“What about the hat?” Luna asked, dropping it on her head.</p>

<p>“Hey!” croaked out the hat. “I don’t appreciate being on <em>your</em> head, Miss Lovegood.”</p>

<p>“Spoil sport.”</p>

<p>“Leave it,” Harry said. “It can’t speak secrets. Occlumency aside, its ability as an interrogation device was destroyed after Dimwiddy.”</p>

<p>“Quite right,” said the hat. “Want to know why such a powerful magical artefact looks so burnt and raggedy? It’s not because of old age, I assure you! Good to see you’re not quite so paranoid now, though. Mellowing out a bit, aren’t you.”</p>

<p>Harry ignored it.</p>

<p>“Shadow, this is Snake Crown. Are you ready?”</p>

<p>“She’s still in there!” came the exasperated voice of Ginny through the ear mirror.</p>

<p>“Times run out,” Harry declared. “Withdraw, immediately.”</p>

<p>“Snake Crown,” came Daphne’s voice. “If Bones gets hurt during the basilisk hunt, it could be disastrous for us.”</p>

<p>Harry groaned, but he knew Daphne was right. “Shadow, don’t withdraw. Drop your current passengers out of a window and resume your watch at once.”</p>

<p>There was silence for a moment.</p>

<p>Then…</p>

<p>“Done. The trunk shattered and they’ve all been ejected.”</p>

<p>“Eagle Eyes?”</p>

<p>“They’re all okay, Snake Crown.”</p>

<p>“Excellent. Hold your position, Shadow. Get Bones out of there at the first opportunity. If you see either I or Luna approaching your position, or you hear even a hint of the basilisk, you are to evacuate immediately, understood?”</p>

<p>“Sure.”</p>

<p>“Good.” Harry took a deep breath. “This is final call from Snake Crown. Is everyone ready?”</p>

<p>“Eagle Eyes, ready.”</p>

<p>“Book Worm, ready.”</p>

<p>“Shadow, ready.”</p>

<p>“I’m ready, too, Harry,” Luna said.</p>

<p>“Right.” Harry approached one of the many devices Dumbledore had kept in an alcove behind the headmaster’s chair — the one shaped like an ornate bell in the shape of a massive wild boar.</p>

<p>He slammed his hand down on it. “Castle lockdown!”</p>

<p style="text-align: center;"><a id="lockdown"></a>— DPaSW: NRiCaD —</p>

<p>All across throughout and within Hogwarts castle, a wave of magic pulsed outwards as the Hogwarts wards went into full lockdown mode — designed to protect the fortress from any magical attack, allowing not one soul in or out. No one with even an ounce of magical talent could have failed to notice it. And they didn’t.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Susan watched in dread as the windows of the Room of Requirement shuttered themselves one after another. Seconds later, the mirror in the pocket of her robes began to vibrate.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“—What was that?!” Bagman's voice bellowed across the crowd. “Were those the war wards?!</p>

<p>"Er—! Yes, and it seems Miss Marigold was also distracted by that surge of magical power, tripped, and her opponent took advantage of her stumble to tag her with a stunner. Hufflepuff 3 — Ravenclaw 1, now what the hells is going on?!“</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The general babble of a confused and worried crowd wafted around the arena to where James and Lucius were sitting towards the top of the bleachers.</p>

<p>The two lords looked at each other.</p>

<p>“—I know nothing about—” “—it wasn’t me, I assure—”.</p>

<p>They stopped. They both looked to where Headmaster Lockhart was looking incredibly flustered further down their row.</p>

<p>“Slytherin?” James asked with a scowl.</p>

<p>“It seems likely,” Lucius drawled.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The moment he’d felt the war wards slam into place, Lord Sirius Black was off. He was making a beeline directly for the one person who he knew could provide answers. Gone was the father watching his daughter destroy the duelling arena. Back was the Chief Auror — the man charged with leading some of the world’s most competent fighters into combat against the most dangerous scum of the Wizarding World.</p>

<p>Back where he’d been sitting, two wizards stared after him.</p>

<p>“Our new friend ran off quickly,” said Lord Lovegood. “It’s too bad. If he’d stayed we might have clued him into what was going on.”</p>

<p>“<em>Is</em> Lord Black our new friend?” asked Lord Greengrass. “I know Harry plans to eventually win Alex’s hand, like he did both our daughters'. But he still has a ways to go before that’s going to happen. Lord Black is not known to be a compromising individual.”</p>

<p>“Every wizard has their thumbscrew,” Xeno replied. “And Harry is better positioned than anyone else to turn his.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Dumbledore made his way through the confused crowd with great difficulty. Every time he jostled someone, they’d inevitably look, see who it was, and then he’d be caught in the same conversation that, no, he didn’t know what was going on, yes, he was sure it would all be fine, and yes, he was going to get to the bottom of it. He may not be the headmaster, but he was one of the most powerful wizards in the world, both magically and politically.</p>

<p>And if the wizard he thought was behind this, <em>was</em> behind it, and for the reason he suspected… well, it was an opportunity he couldn’t pass up.</p>

<p>Slytherin first.</p>

<p>He’d confront <em>’Virgo’</em> later.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>In the Gryffindor duelling team pit, the confusion was no less palpable.</p>

<p>One member though, was not confused.</p>

<p>Virgo, instead, felt anxious and frustrated.</p>

<p>The moment she felt the wards clamp into place, a dozen possible scenarios quickly ran through her brain. Of those, she’d narrowed down the likely candidates to only a few.</p>

<p>Of those few, the most likely was the one she liked the least.</p>

<p>Harry Potter, AKA Lord Slytherin, was making his move. And he’d chosen exactly the time when she, Virgo, would be least able to react. She was sitting here, in full view of several thousand people. And soon, she’d be expected to fight against Alexandra Black — the enigma whose performance in the arena made her doubt what she knew about everything that was going on.</p>

<p>At this point, she couldn’t count out the possibility that the Black heiress was also a time traveller. She definitely wasn’t a soul fragment.</p>

<p>That would throw so many assumptions out the window.</p>

<p>Virgo stared up across the arena where a large number of adults were converging on a very flustered-looking Lockhart.</p>

<p>At least she wasn’t the only one having a bad time.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“What is the meaning of this, Headmaster?!”</p>

<p>“Headmaster, how have the war wards been activated?”</p>

<p>“Gilderoy Lockhart! What is going on?!”</p>

<p>Lockhart was sweating. “Now listen here, he told the rapidly forming crowd. This is an internal Hogwarts matter and I assure you, there is no need for alarm. There’s just a small matter that needs to be—”</p>

<p>“Headmaster!” shouted a new voice that everyone recognized.</p>

<p>“Oh, hells,” Lockhart muttered under his breath. He turned and plastered on his best dazzling smile. “Minister Fudge! I do hope you’re enjoying the event.”</p>

<p>“What?” Fudge looked momentarily thrown off balance. “Oh, yes. Yes, I am. But that’s not—”</p>

<p>“Excellent!” Lockhart continued, beaming. “And no doubt you’d like a full update on our little project?”</p>

<p>“What—? Update? What pro—”</p>

<p>“After all, the ministry is a full partner in the affairs of Hogwarts! You must be kept up to date. Can I suggest we go down to my private office here in the arena? It is a little public here, if you know what I mean.” He winked. “No doubt these people don’t want to hear about the boring affairs of administration.”</p>

<p>The looks of the people around them said that they very much wanted to hear about the boring affairs of administration, but he pointedly ignored them.</p>

<p>“Well, yes, but—” started Fudge, but once against Lockhart cut him off.</p>

<p>“—And of course, we simply must share a glass from my private collection of Peruvian snake’s bite (((Dragonbait: "I feel like this is a name of some liquor.. and should be capitalized"))) that I keep here. I know you enjoyed it the last time you tried. Why, I remember at the Malfoys’ Yule(((tide???))) Ball—”</p>

<p>“Okay! Okay!” This time it was Fudge who cut <em>him</em> off. “Let’s go.”</p>

<p>Lockhart quickly led the minister to one of the entrances that led into the arena interior, noticing that they were picking up a small entourage as they went. Lockhart carefully locked down his occlumency barriers. He knew he was a fast talker, but this was going to require bullshitting at Nimbus 2001 speed.</p>

<p>On the other hand, he supposed he should have expected something like this.</p>

<p>Dangerous people always kept their cards close to their chests.</p>

<p>But still…</p>

<p>Would it have been too much to ask the Gray Lord to warn him before kicking over the ant hill?</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Susan?! Susan, can you hear me?!”</p>

<p>It was her Aunt’s voice coming through the emergency magic mirror Susan always kept on her.</p>

<p>Susan held up the mirror and tapped on the face.</p>

<p>The visage of the Head of the Department of Magical Law Enforcement flashed into being.</p>

<p>“I’m here,” Susan replied, heart beating rapidly.</p>

<p>“Oh, thank, Merlin.” Then, in less than an instant, Amelia Bones went from frazzled to business. “Susan, What’s going on? Hogwarts’ war wards activated, but we can’t get through to the Headmasters office. No one’s answering the floo. Is there any obvious threat?”</p>

<p>“I don’t know,” Susan replied, trying not to sound like she’d been panicking. “I got trapped inside when the wards activated. Everyone else is down in the arena.”</p>

<p>“What about the Headmaster?”</p>

<p>“He was in the arena when I left.”</p>

<p>A string of impressive expletives sounded through the mirror.</p>

<p>Susan blushed.</p>

<p>“And I suppose Black is out there as well, yes?”</p>

<p>“I think so.”</p>

<p>“Right. Can you make your way to the Headmaster’s office?”</p>

<p>Susan winced. “I’m trapped in here, too. The room won’t let me out.”</p>

<p>Amelia Bones cursed again. “There goes that plan. Okay. Fine. Just stay put, Susan, okay? I’m sending a team to Hogsmede. The floo there is much closer than the ministry. If anything changes, let me know. I just wish Dumbledore was still there.”</p>

<p>“Dumbledore <em>is</em> here.”</p>

<p>“What?!”</p>

<p>“He was watching my matches in the arena.”</p>

<p>Amelia Bones was silent for a moment before she spoke again, more to herself than to Susan. “Then his phoenix mustn’t be able to get through the war wards. Otherwise, he’d have opened the way for us.”</p>

<p>Amelia looked back up at Susan through the mirror. “Stay safe, Susan, okay? And if anything odd happens, tell me immediately.”</p>

<p>“Okay, Auntie.”</p>

<p>The mirror flicked off.</p>

<p>Susan leaned back against the locked door and slowly slid back down to the floor.</p>

<p>It wasn’t as though she was going to see anything odd happening while in here.</p>

<p>The clearing of a throat from a corner of the room almost made her swallow her own tongue.</p>

<p>“It looks like we’re in a complicated situation, doesn’t it, Susan?”</p>

<p>Susan stared in shock. It was a voice she well recognized. She’d heard it often enough while serving on the student judiciary. It was Violet Chesterfield — twin sister of Marigold, the muggleborn Hufflepuff duellist one year below her — stepping out of the shadows like a wraith.</p>

<p>How was <em>she here</em>?</p>

<p style="text-align: center;">— End of Chapter Sixty-seven — </p>

{ 235} [canvases in the castle were stunned]: 2021/06/30 - ChRiAn: "Harry used an AOE stunner during the tournament last year. Wouldn't that be more efficient to take care of the paintings than the single target stunner?"; Centurion_Havoc: "Might be too magically draining. He still needs to fight the snake."

{  83} [good look at his abilities two years ago]: LVE: "Note from dpasw-chat: Consider Bagman's comment that implies Diggory did not get to show off the previous year. Harry let him show off. Credit: Dragonbait."
