Chapter 68 - Nature Red - Part 12

<p>“Yes, I’m getting the nod from the judge!” bellowed the voice of Ludo Bagman. “We can’t wait any longer! Heiress Susan Bones is disqualified!”</p>

<p>“BOOOOOO!!!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Dragon Trap on the stairs!”</p>

<p>“Dragon Trap, deployed.”</p>

<p>“Guillotine by the great hall!”</p>

<p>“Guillotine, up.”</p>

<p>“Instant Swamp in this hallway, here!”</p>

<p>“Instant Swamp, down.”</p>

<p>Across the length and breadth of Hogwarts castle, Harry and Luna moved with speed and purpose. At every corner another pitfall. At every doorway, another ambush. Any spot where with room for any kind of extra gambit, plot, or ploy, another magical machination was purposefully placed. The sounds of duelling matches outside occasionally filtered through the warded walls, through a window, or over a parapet, but for the most part, the empty castle echoed with each rapid slap of leather shoes on flagstone, and every raised call out.</p>

<p>“Luna, how many devices have we got left?”</p>

<p>Luna shoved her eye right up against the opening of the tiny trunk in her hands. “Two dozen-ish?”</p>

<p>Harry nodded. “Then let's start making our way to the girls’ bathroom on the second floor.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“And Hufflepuff win! Cedric Diggory takes the match against the fourth year Ravenclaw! Ravenclaw 4 — Hufflepuff 4!”</p>

<p>Down in the backrooms of the arena, Lockhart’s beaming smile was being sorely tested. “I assure you, Minister, I’m sure there’s no problem. Lord Slytherin assures me he has informed the ministry.”</p>

<p>“And I’m saying I’ve heard no such thing! Dolores?”</p>

<p>“I recall no parchment work to that effect passing my desk, Minister. What about you, Chief Auror?”</p>

<p>“Nothing,” Lord Black grunted. “Maybe your new friend there can help, James?”</p>

<p>“He is not my friend!”</p>

<p>“Am I not?” drawled Lord Malfoy. “You wound me. And I’ve no idea why you think I’d know what Lord Slytherin was up to.”</p>

<p>“You knew about our sweeps on Knockturn before we launched them. I thought you knew everything that went on in the ministry.”</p>

<p>“All the more reason to believe that Slytherin is lying.”</p>

<p>“Hah!” Sirius pointed. “So you admit it!”</p>

<p>Albus Dumbledore continued to watch the rapidly deteriorating discussion from the side lines, wondering when he should step in.</p>

<p>“Do you want to go at it, Deatheater!?”</p>

<p>Ah, that sounded like just about the right time. “Gentlemen!” he raised his hands in a calming fashion, right as Lord Malfoy’s hand started twitching towards his wand. “Please, let’s not come to blows about this. Might I suggest we review what we know?”</p>

<p>The assembled wizards and witch stared expectantly at him.</p>

<p>“Lord Slytherin said he has business within the Chamber. If we take him at his word, he is ‘dealing’ with the monster within.”</p>

<p>“A somewhat unlikely story,” interrupted Lord Malfoy in his drawling voice. “How do we know he isn’t preparing the monster for the next phase of his plan?”</p>

<p>“Yeah,” said Lord Potter. “None of the Gray students have been attacked. That muggleborn vassal of Slytherin’s was found right next to John when he was petrified!”</p>

<p>Dumbledore raised his hands again. “Lord Slytherin assured me last year that he did not know about the monster in the Chamber. Or even where the Chamber was. He did say he would look into it though…”</p>

<p>“And he still hasn’t dropped the anti-demon wards on the castle!” added Minister Fudge. “What if he’s using the monster to seize control and turn Hogwarts into a fortress!?”</p>

<p>“I do not believe that Lord Slytherin is directly behind the attacks, or that he controls the monster.”</p>

<p>“Then who?” demanded Fudge.</p>

<p>Dumbledore took a second to collect himself. In reality, there were two possible candidates for who could be behind the attacks. The appearance of Virgo Malfoy was far too suspicious to be mere coincidence, and he remembered his old students well enough to pick up the kinds of spells and tactics they might employ.</p>

<p>On the other hand…</p>

<p>“Let’s think about it,” he said. “Who might have a motive for revenge on the castle? Who is it who has been banished from this home of learning, but still haunts its halls like a ghost? Who has been taken under Slytherin’s wing, granted Slytherin’s protection, even taken into Slytherin’s confidence? Enough, perhaps to betray Slytherin’s trust?”</p>

<p>James looked ill.</p>

<p>“Dumbledore,” Sirius said in a warning tone of voice.</p>

<p>Dumbledore put his hands up placatingly. “I’m only putting forward a possible suspect.”</p>

<p>Fudge frowned. “Are you talking about John Potter’s brother?”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The arena roared. Hufflepuff had been declared victorious against Ravenclaw, with Cedric Diggory earning MVP for taking on not one, but three of the enemy team, one after another. He fell to the seventh-year Claw, but his two upperclassmen were able to finish the job, firmly putting Hufflepuff into third place in the over-all rankings. Compared to the fourth place they’d experienced for the last three years, this was a serious step up.</p>

<p>In the Gryffindor dugout, Virgo Malfoy clenched her fists together in frustration.</p>

<p>She needed to get this over with as quickly as possible so she could find out what was happening up at the castle. The lockdown had been in place now for quite some time. Who knew what Potter was up to up there.</p>

<p>He’d fideliused most of the Chamber entrances, so he clearly knew where they were, but, critically, she could still remember where the entrance was in the Quidditch stadium — the one in the Ravenclaw girls’ changing room.</p>

<p>No doubt warded to Atlantis and back, but she was a lot stronger than she’d been at the start of the year.</p>

<p>With time, she’d be able to break it. But time was something that right now she absolutely did not have.</p>

<p>She felt a hand on her shoulder.</p>

<p>“Ready for this, Miss Minister?” The captain of the Gryffindor team gave her a serious look. “It looks like whether (((TrendyTreky: I assume you don't refer to a neutered goat))) we win or lose could be decided by this match alone. No pressure.”</p>

<p>Virgo brushed his hand away. “This is nothing. I do not lose.”</p>

<p>“Glad to hear it.”</p>

<p>“And now!” bellowed the announcer. “We will begin the first match for Griffindor vs. Slytherin. Lords and ladies, wizards and witches, I give you, Heiress Alexandra Patricia Black of the Ancient and Noble House of Black, vs. Hogwarts’ first student minister, Miss Virgo Druella Malfoy of the Noble House of Malfoy!!!”</p>

<p>The crowd gave quite possibly their loudest roar of approval of the day thus far.</p>

<p>Virgo stood and made her way out into the arena.</p>

<p>On the opposite side, Alexandra Black did the same.</p>

<p>Virgo’s jaw set. She was the greatest witch the world would ever see. Yes, Black had her animagus trick, but she knew she could counter everything the girl threw at her through sheer spell creativity and skill. Black may be good, but she, Virgo, was better.</p>

<p>It was just a shame that using her own animagus form wasn’t a great option. Her lamia form would completely negate her opponent’ magic recharging advantage and make her victory a fait accompli. But it would also expose her as a possible candidate for opening the Chamber. Not great. Plus she hadn’t registered. Not an impossible situation to work around, but it would be annoying none the less. No, far better just to grind this girl into the dirt with the purity of magical creativity and purposeful expression.</p>

<p>Like music.</p>

<p>Virgo gripped her wand in white knuckles.</p>

<p>But it also had be done quickly. The more time she wasted here, the more events up at the castle would run out of control. And that was something she absolutely would not tolerate.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-5"></a></p>

<p>Harry stared around Moaning Myrtle’s Bathroom, devoid, for once, of Moaning Myrtle.</p>

<p>“Ready?” Harry asked. His voice echoed off the tiles.</p>

<p>“Ready, Harry.” Luna answered.</p>

<p>Harry nodded. His face turned grim. “Remember, Luna, I know you can handle yourself or I wouldn’t have brought you along. But remember that you are not immortal. If the situation becomes too much, retreat. I did not come back in time just to see someone I’ve… grown to respect… be <em>taken</em> from me.”</p>

<p>Luna smiled.</p>

<p>They stared at each other.</p>

<p>Feeling oddly embarrassed, Harry turned to the last sink with the tiny snake carved on the underside.</p>

<p>$Open$</p>

<p>The stone sink fell away to reveal one of the openings to the Chamber of Secrets.</p>

<p>“Let’s go,” Harry said, crouching down.</p>

<p>Luna nodded and climbed onto Harry’s back.</p>

<p>Harry’s feet raised a few inches off the ground.</p>

<p>And together, the two began the descent down into the depths below Hogwarts castle.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Far away in the Burrow, Mrs Weasley gazed at the Wizarding Wireless as though willing it to tell her more.</p>

<p>*Wibble Wobble Wibble Wobble* We’re very sorry for the break in connection from the duelling tournament at Hogwarts Castle. We’re still trying to establish connection and will let you know if we have any updates. Rumors of the castle going into lockdown have yet to be substantiated. In the meantime, please enjoy this repeat of season six finale of the Diagon Woes.* Wibble Wobble Wibble Wobble.*</p>

<p>Mrs Weasley slammed her hand on the Wizarding Wireless, shutting it off before it could fill the kitchen with meaningless theatre drama.</p>

<p>Her guests had excused themselves when the trouble started, leaving her alone to fret about what might be happening.</p>

<p>On the wall over the door, the family clock creaked.</p>

<p>Ice ran down Mrs Weasley’s spine as the spoon labeled Ginny Weasley wound///spun///ticked///relocated///progressed///advanced///shifted///slid///jumped///rotated around from ‘School’ to ‘Mortal Peril,’ and her voice, when it emerged was a mere whisper.</p>

<p>“Not again.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-6"></a></p>

<p>In the background, the crowd cheered and clapped, but Alexandra Black barely heard it. Her focus was entirely on the witch before her.</p>

<p>Virgo Malfoy.</p>

<p>The Dark Lord’s Soul Anchor.</p>

<p>There were many reasons why she could not lose this match. She had to impress Lord Slytherin. She needed to show her father what she could do — what it really meant to be a Black. But above all else, she had to stall Virgo. Stall, and maybe provoke. Lord Slytherin knew that Virgo would not take the lockdown quietly. That she might try to interfere with their plans in Hogwarts Castle. He doubted she could, but Slytherin was not one to take chances. Not when he could put someone he trusted on the case. That was her — Alex — the witch that Lord Slytherin trusted to stall the soul anchor of the Dark Lord Voldemort — Virgo Malfoy.</p>

<p>Alexandra breathed out.</p>

<p>She flashed Virgo her best smirk. “Bet you didn’t think we’d be here when we first met on the Hogwarts Express. Your brother was so cocksure of himself back then. But he eventually saw sense.” She extended a dragonhide leather shoe from behind her duelling robes. “If I win, will you also kneel down to kiss my boots?”</p>

<p>Virgo snarled. “You… are a spoiled little rich girl. Everything you have, you were given. Magic, titles, money, connections. Spoiled little rich girl.”</p>

<p>Alex smile slipped. “And you aren’t?”</p>

<p>“No. Everything I have, I have taken.”</p>

<p>“Quiet please!” called the announcer.</p>

<p>The crowd slowly quieted, until the only sound that could be heard was a///the gentle whistle of the wind through the arena.</p>

<p>The signal was given.</p>

<p>And the bagpipes sounded.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-7"></a></p>

<p>Sirius dashed out of the exit and into the bleachers just as the bag pipe sounded, and just in time to see the Malfoy girl punch her wand to the ground, firing off what looked like an overpowered mining charm, and engulfing herself in a cloud of rocks and dust.</p>

<p>A split second later, several of the larger shards fired out of the cloud and straight at his daughter.</p>

<p>Sirius sucked in his breath as Alex dodged the first by a hair’s width, shielded the second, and only saved herself from the third by flinging herself across the arena with her chains.</p>

<p>Alex fired stunners back into the dust cloud, showing a fierceness of casting that Sirius never knew she possessed, but they all either missed or were intercepted by more rocks.</p>

<p>The space around Virgo was a maelstrom, and it wasn’t about to get any easier. A flame ignited.</p>

<p>The entire crowd gasped.</p>

<p>A ring of fire pulsed out from dust cloud, scorching the ground, and splashing against the wards of the arena walls.</p>

<p>Alex only avoided it by with a perfectly time dive over the ring.</p>

<p>“Firestorm!” Bagman shouted, but Sirius barely heard the ongoing commentary.</p>

<p>The dust-cloud evaporated, leaving Virgo standing, untouched, in the middle of a raging inferno.</p>

<p>Alex seemed to hesitate for only a moment. Then she was moving, sprinting a full speed right at her opponent.</p>

<p>Sirius’s knuckles went white.</p>

<p>Bagman’s voice reached his brain again. “She’s Insane!”</p>

<p>Alex flung her chains at her opponent, along with a barrage of higher-level spells, but the moment the Black family magic reached the flames, molten hands snapped out to grab them.</p>

<p>“Fire elementals!”</p>

<p>The spells passed by the guardians, but barely put a dent in Malfoy’s defenses. Her shields were small, concentrated, skillfully placed, expertly summoned, and chosen to match the exact spell that smashed into them.</p>

<p>Meanwhile, the fire elementals yanked on the chains, pulling Alex into them, forcing her to break her connection, leaving her open, all while having to swat away spells Virgo started firing her way.</p>

<p>A flaming fist swung in a wide arc.</p>

<p>Sirius flinched. His eyes shut.</p>

<p>“She goes Grim! And she’s away!”</p>

<p>His eyes snapped back open. Alex had shifted and dived under the floor. Sirius breathed out.</p>

<p>Virgo immediately shot a sonic spell into the ground, but nothing resulted. Alex did not reemerge. She’d already cast the deafening curse on herself.</p>

<p>Suddenly, the noise of the arena came back to Sirius. The roaring, the cheering, the Ohhhhs, the Ahhhs.</p>

<p>“—And I don’t think we’ve ever seen elemental fire magic quite that advanced before, my lords and ladies! Or that dangerous!” Bagman bellowed. “I mean, technically it’s allowed? Yes, I’m getting the nod from the judge.”</p>

<p>Sirius scowled, but standing where he was, there wasn’t much he could do. Besides, Alex seemed to be handling it well. Insanely well, actually. Unbelievably well. In fact, if she wasn’t his daughter, he’d almost certainly be trying to recruit her.</p>

<p>And that was a sobering thought.</p>

<p>Down on the scorched sands, the seconds dragged on. Eventually, the seconds turned into minutes, far longer than with any other match.</p>

<p>Malfoy started to get visibly impatient.</p>

<p>She stamped her foot on the ground.</p>

<p>“Come out and fight, you coward!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-8"></a></p>

<p>“Come out and fight, you coward!”</p>

<p>Virgo stamped her foot on the ground in frustration. No. She shook her head. She couldn’t allow herself to get worked up, no matter how INFURIATINGLY frustrating it was!</p>

<p>The crowd was beginning to mutter. What before had been the silence of anticipation was becoming the grumbling of impatience.</p>

<p>“Not to worry, everyone,” Bagman’s voice boomed. “I’m sure the Black Heiress will be with us again soon enough!”</p>

<p>Virgo turned to where Bagman was announcing from. “Isn’t there a rule about this?” she called out.</p>

<p>“Can’t say I’ve memorized the rule book back to front” came the amplified reply. “This isn’t quidditch.”</p>

<p>She turned to the judge, standing on the side of the arena. “Isn’t there?”</p>

<p>The judge shrugged. Then nodded.</p>

<p>“There is?” Bagman boomed. “Well what is it? Spit it out, man!”</p>

<p>The judge just shook his head. Then he made a tapping motion to his wrist as though to an imaginary wrist watch. Then he held his hands up with all ten fingers spread.</p>

<p>“Ten minutes?!” Virgo shouted.</p>

<p>Suddenly the ground began to vibrate beneath her.</p>

<p>Virgo’s eyes widened.</p>

<p>Only a few feet away, her opponent rocketed out from the ground, wand out stretched and snapping towards her the moment their gazes locked.</p>

<p>“Ten seconds, I think!” Bagman bellowed.</p>

<p>FAST! Virgo started shielding all the spells sent her way while weaving an enchantment that would have the best chance of ending this right now. She had to be fast. She had to find a way to lock this bitch down!</p>

<p>Black reached her zenith and sent a chain snapping out to pull her onto her flank.</p>

<p>Virgo finished her series of complex wand movements, thrust her wand forward and shouted, “Papiliosortia!”</p>

<p>What looked like a hundred butterflies materialized from thin air and immediately soared to bare down on Black’s location.</p>

<p>Virgo followed at a sprint.</p>

<p>She’d never sprinted in a duel before, but she was sprinting now.</p>

<p>“Merlin! Those are Australian Razer Wings!” Bagman bellowed. “Black had better watch out.”</p>

<p>Virgo poured all her remaining magic into the best spell chains she knew, not because she expected them to land — only a fool expected to successfully land regular spells on someone capable of spell swatting — but simply to keep the pressure on.</p>

<p>At it was working, Black was being pushed back and the moment those insects landed even a single scratch, Black would be out.</p>

<p>Their eyes locked. And Black smiled.</p>

<p>What happened next almost made Vigo swallow her tongue.</p>

<p>One of Black’s chains changed. What before had been the mere magical representation of dark iron links became, in a flash of darkness, a single thin line of black magic — one that looked very familiar — familiar because she, Virgo, had long wanted to learn how to cast a flame whip.</p>

<p>“FUCK!” Bagman exclaimed as the former chain lunged right back at its creator, almost like it was alive, wrapping itself around Black like a spring. In less than a second half of Virgo’s summoned insects had shredded themselves trying to fly through the cage around Black.</p>

<p>In another second, the rest followed suit.</p>

<p>The whip of darkness winked out of existence.</p>

<p>Virgo skidded to a halt and raised her wand to cast a follow up.</p>

<p>Black held up a hand. “Malfoy, wait!”</p>

<p>Virgo stopped, but didn’t lower her wand. “What?!”</p>

<p>Black paused for a second. She looked considering. “That was pretty impressive,” she finally said. “I didn’t think I’d have to use any other family magic apart from the chains.”</p>

<p>“Yes?” she spat.</p>

<p>“Yeah. And I’ve just got one thing to say to you.”</p>

<p>“Which is?” Virgo ground out.</p>

<p>Black looked to the side where the judge was watching on. Then she looked back. She tapped an imaginary watch on her wrist. “See you in three minutes!”</p>

<p>Then, before Virgo could do anything to stop her, Black shifted, went incorporeal and dived below ground.</p>

<p>Virgo screamed.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-9"></a></p>

<p>The underground was quiet and dark. Naturally it would be quiet, Alex couldn’t damn well hear anything. She really wished Hermione had come up with a better counter before the fight with Virgo. Unfortunately, all the massive nerd had [[[the]]] time to do was patch her up a bit and teach her the counter curse to the one she’d hastily fired into her face.</p>

<p>But, even if should could hear, she wouldn’t be able to hear much. Sounds were muffled, like being underwater, mostly the moving about of dozens of feet.</p>

<p>And also like being underwater, Alex floated, ethereal and untouchable.</p>

<p>In her mind, she silently kept count of the time before she had to pop up again. This time, she’d come up a bit earlier than expected — maybe thirty seconds earlier. Never do what you opponent expected you to do.</p>

<p>Maybe if she was lucky, Virgo wouldn’t have started forming elementals to jump her the moment she returned. It’s what she’d have done in Virgo’s position.</p>

<p>There were also other possibilities.</p>

<p>Virgo might turn the entire arena into an ice sheet.</p>

<p>She could bog the sand or conjure a windstorm so strong that she’d have to use her chains just to avoid being blown away.</p>

<p>It never paid to underestimate even a fragment of the Dark Lord’s soul. It was time to unleash a surprise of her own. The Black Whip was good, but what she really needed was something to keep Virgo occupied when she was down here.</p>

<p>Something to force the soul fragment to keep using her powers while she, Alex, regenerated hers.</p>

<p>In the small part of her occulmency kept reserved for the task, a metronome ticked over 140 beats.</p>

<p>Alex shook her ghost-like hair like the grim she was. Time to go!<a id="nanowrimo-10"></a></p>

<p>She let her magic flow through her. She pushed and pushed until the pressure in her ethereal paws was like a dam that wanted to break lose. Slowly, an enchantment began to form.</p>

<p>She went deep in the ground. Deeper than before. She’d need maximum velocity for this.</p>

<p>Then, when she was satisfied she was as deep as she could go and keep control, she shifted.</p>

<p>It always felt like somewhat like a combination of apparition and traveling through a portkey. There was the sudden squeezing of the former, but then the whoosh and speed of the later.</p>

<p>Alex rocketed upward, g-forces pushing, sediments squashing.</p>

<p>The moment sunlight hit her retinas, her wand was out. By the time she was level with the crowd, she’d cast the counter curse on herself. As she continued to rise up, the boom of the crowd hit her far harder than the pressure of being underground.</p>

<p>She reached the zenith of her arc, summoned a chain from her wand hand and swatted away the first few expected spells with the other.</p>

<p>Alex’s gaze followed the path the spells had arrived from and grinned.</p>

<p>Virgo looked pissed.</p>

<p>As Alex fell back to the ground, she flung her chain out to break her fall. Then her gaze saw what was baring down on where she’d end up landing, faster than any summoned creature she’d ever seen.</p>

<p>Apparently, Virgo’s next play was, ‘summon absolutely massive fire elemental, more like a giant than anything else, and squash her into pulp before the rules said she could withdraw again.’</p>

<p>Fair play.</p>

<p>And absolutely perfect for her.</p>

<p>Alex swung onto the ground, landed like a badass, right in front of the nine feet tall fire elemental, and immediately shielded, just before a fist like a flaming meteor crashed into it.</p>

<p>A dong like a temple bell rung out and Alex momentarily wished she hadn’t cast the counter curse to the deafening curse.</p>

<p>The second fist came down, but this time, Alex let the force of the blow knock her backwards.</p>

<p>She skidded and rolled.</p>

<p>On one side, she spotted Virgo sprinting around the side of the arena, clearly trying to flank her while keeping her occupied with a constant flurry of spells.</p>

<p>Alex gritted her teeth.</p>

<p>The giant fire elemental went for another overhead strike, but this time she didn’t shield. Instead, she jumped forward.</p>

<p>She vaguely heard the gasps of the crowd and the announcer shouting something as she rolled between the fire elemental’s giant legs.</p>

<p>Then she was up again and bringing her wand to bear. The enchantment she’d been working on, ever since just before she surfaced—straining and fighting against the tips of her fingers, finally found their release.</p>

<p>Black light exploded from the tip of her wand. Her chain writhed like a snake, and snapped up like one, then struck.</p>

<p>In an instant, it was coiled around the elemental’s fists, holding them fast. Then its legs. The it’s chest. With each new restriction, the elemental grew more enraged, until finally, the chains stopped constricting, and instead merely sank inside.</p>

<p>The finery red eyes of the elemental darkened.</p>

<p>Alex fell to one knee, panting.</p>

<p>That spell had taken basically everything she had.</p>

<p>If it hadn’t worked, she was now going to be pancake.</p>

<p>But as she knelt there on the ground, no fist smashed her to the side and no heat scorched her skin.</p>

<p>She looked up.</p>

<p>The fire elemental had changed.</p>

<p>The flames licking along its form were now tinged with darkness.</p>

<p>It looked expectedly at her.</p>

<p>Alex looked beyond the new darkened fire elemental, just in time to see an absolutely enraged Virgo baring down on them both.</p>

<p>Witty banter clearly wasn’t going to work to stall this time.</p>

<p>“Go!” she commanded.</p>

<p>And just like that, the tables turned. Again.</p>

<p>Now facing both Alex and her own giant summoned elemental, Virgo was on the defensive for the first time in the fight. The witch was running out of steam.</p>

<p>It might even be a good time to push for ultimate victory, if she wasn’t under orders to draw this out as long as she could. Alex mentally shook her head.</p>

<p>Now that she’d shown her hand with the possessing chains, summoned elementals were another avenue closed off to Virgo.</p>

<p>After this, it would be all about attrition. She wouldn’t even need to go underground any more. She could just go grim when she was low and whittle her down slowly.</p>

<p>Spell swatting gave her the advantage against flung spells.</p>

<p>Ethereal Grim gave her the upper hand against physical attacks.</p>

<p>It was the perfect combination.</p>

<p>Virgo had already lost.</p>

<p>Alex’s internal metronome ticked over the time to when she could retreat again.</p>

<p>She did so — leaving the still standing giant dark elemental and an absolutely apoplectic Virgo.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-11"></a></p>

<p>Virgo fell to one knee, snarled at the ground below her feet, and punched it.</p>

<p>This was unacceptable!</p>

<p>She knew what the bitch was up to. Now that she’d demonstrated what those Black chains of hers could do, she’d eliminated the possibility of her using large summons. Small summons had already proven countered by that whip made of darkness. Casted spells could be swatted and physical attacks could be rendered ineffective by the ghost form of her animagus transformation.</p>

<p>That didn’t leave many options that were useable in a duel like this.</p>

<p>And now she knew she couldn’t simply over power her opponent, either.</p>

<p>And every moment she delayed…</p>

<p>Virgo cursed loudly.</p>

<p>She had to win this match. Then, she had to win the tournament. Losing wasn’t an option. She was sure the other Slytherins would be a cake walk compared to — whatever the hells this girl was.</p>

<p>“Ladies and Gentlemen! It looks like Miss Malfoy is in bind! Can she find a way to overcome the unstoppable Black?!”</p>

<p>Virgo’s head snapped up.</p>

<p>No!</p>

<p>She pushed herself to her feet.</p>

<p>She could not allow herself to lose. And she certainly couldn’t appear weak! Not to these people. Not to ANYONE!</p>

<p>But what to do?</p>

<p>The only way she was sure she could pull out a win now was to use her own animagus form. With that, she could hold her own against Black on the surface for as long as she needed. Black might have an ethereal form, but she could still use her wand in animagus form. That, combined with the much greater magical resistance inherent in her form, would give her all the edge she needed.</p>

<p>But the cost of showing her form…</p>

<p>Virgo shook her head again.</p>

<p>She’d have to pay it.</p>

<p>She had no choice.</p>

<p>She could not lose!</p>

<p>She could not appear weak!</p>

<p>She was Virgo!</p>

<p>She would NOT be beaten by some arrogant slobbering sorry excuse for a demon dog bitch!</p>

<p>She was the greatest witch the world had ever seen!</p>

<p>And she did <em>not</em> LOSE!</p>

<p>Virgo froze.</p>

<p>A wind blew through the arena.</p>

<p>“But we’ve seen a lot of impressive magic so far, my lords and ladies! Maybe our Miss Malfoy will surprise us again!”</p>

<p>Wait…</p>

<p>Fury still coursed through her, but a sudden thought tempered her rage.</p>

<p>Her mind raced. Everything that she knew about magic — about her situation. Pieces were joined — possibilities analyzed.</p>

<p>Maybe there <em>was</em> another way.<a id="nanowrimo-12"></a></p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>On the outskirts of Stockholm, snow whirled around a little girl crying in the snow.</p>

<p>“Julia! Julia! Where are you?” Called out an adult voice in Swedish.</p>

<p>Julia blinked out the tears from her eyes. They were already starting to freeze. “Here, dad!”</p>

<p>Mr Olsen stepped out from behind one of the many pine trees to find his daughter kneeling next to half finished snowman. “Julia, are you okay? Where’s Anna?”</p>

<p>The tears started again in Julia’s eyes. “She ran off! She said I wasn’t helping enough. She said she wasn’t going to do all the work herself, so she left! And I was trying my hardest!”</p>

<p>Mr Olsen sighed, knelt by Julia, and hugged her. After a few minutes, he put his hands on her shoulders and looked into her eyes. “Listen, Julia. What other people think doesn’t matter. What matters is that you know you tried your hardest, understand?”</p>

<p>Julia wiped snot from her nose and nodded.</p>

<p>“Now, what about this snowman here?” Mr Olsen continued. “Seems a waste to leave it like this. Give us a hand here.” He motioned for the fallen shovel on the ground.</p>

<p>Hours passed in what felt like minutes and by time the two stumbled back into the warmth, to warm numb fingers, cheeks, and noses, Julia had a smile so wide it was almost painful.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Tom! Tom! I know you’re somewhere around here!”</p>

<p>Snow fell around Wool’s Orphanage. Out on the concrete courtyard, Mrs Cole had her hands on hips and a scowl on her lips.</p>

<p>Tom Riddle turned one brick corner and walked up to the matron. “Yes, Mrs Cole?”</p>

<p>“Don’t you ‘Yes, Mrs Cole’ me, young man. Robin has lost his mother’s locket, did you know that?”</p>

<p>“I didn’t, Mrs Cole.”</p>

<p>Mrs Cole glared at him. “That locket was very precious to him, Tom. Robin is distraught.”</p>

<p>“That is most unfortunate, Mrs Cole.”</p>

<p>“If I find out some one took it, I will be furious.”</p>

<p>Tom nodded. “Maybe Robin should try looking under the bed. I often find myself losing things under there.”</p>

<p>Mrs Cole’s stare could have frozen hydrogen. “You haven’t had a fight with Robin, have you?”</p>

<p>“No, Mrs Cole?” Tom’s voice sounded genuinely confused this time.</p>

<p>“Mmm… well, if you should just happen to come across it, make sure you hand it right over and I would say no more about it, you hear?”</p>

<p>“Of course, Mrs Cole.”</p>

<p>Mrs Cole turned and marched back into the large brick building, the inside no more warm than the outside.</p>

<p>Once the woman was out of view, Tom reached into the inside pocket of his jacket, pulled out the cheap tin locket, held it up to the cloudy light, and smiled.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Virgo! Can I have a word, in private?”</p>

<p>Virgo put a bookmark in her copy of the standard book of spells, Grade VIII, and looked up as John marched over to her in the common room. She quirked an eyebrow. “Why, John, you know it’s most improper for a well to do wizard to demand such things of a young witch.”</p>

<p>A series of giggles swept the room.</p>

<p>John blushed red. “Look, it’s just quick, okay. It’s about the ‘you-know-what.’”</p>

<p>Virgo mentally rolled her eyes. A few minutes later, they were alone in the boy’s dormitory.</p>

<p>“Look,” John said, sounding worried. “It’s about Susan. You have to promise me that when we go through with the plan to petrify me, that you’re going to watch out for her.”</p>

<p>“Of course I’m going to keep an eye on her. Who do you think I am?”</p>

<p>John visibly sagged with relief. “That’s good. I think this whole thing is a strain on her. You know what her Aunt is like. Well, maybe you don’t. Madam Bones is really strict with the law and the rules and stuff. Even if what we’re doing is needed, Susan is probably tearing herself up about it.” He looked straight into her eyes. “You’ve no idea how comforting it is to have someone who understands to talk with about all this.”</p>

<p>Virgo felt her heart skip a beat.</p>

<p>She licked her lips and put a hand on John’s chest. “John, if I ask you a question, will you answer honestly?”</p>

<p>“Of course.”</p>

<p>“You know someone’s hunting me, right?”</p>

<p>John’s eyes hardened. “Yes.”</p>

<p>“And we think it’s your brother?”</p>

<p>“Yes.”</p>

<p>“If it is him. If he has sent assassins after me…” Virgo leaned in closer and stared deep into John’s eyes. “Will you help me kill him?”</p>

<p>John hesitated. Then his face hardened again. “If Harry really has tried to kill you, and prison isn’t an option, and we think he’ll try again, then yes, I will kill him.”</p>

<p>Not good enough.</p>

<p>Virgo shook her head. “No, John. It can’t be prison. Think about what he has become. He’s too powerful. He’ll just be let out. And even in prison, he’d still be able to strike at me. At us. Susan, too.”</p>

<p>A fierce battle was clearly being waged inside John’s mind. Eventually, he nodded. “If we find that it was him, I will kill him.”</p>

<p>Virgo’s heart soared. “You will hunt down any who try to hurt me?”</p>

<p>“I will.”</p>

<p>“You will crush all our enemies utterly? No matter who they might be?”</p>

<p>“I will.”</p>

<p>Virgo smiled.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Back in the arena, Virgo felt the cool air brush across her face. She took a deep breath.</p>

<p>“There we are folks!” Bagman called out, “It looks like our Miss Malfoy has found her center, but what is she going to do now?”</p>

<p>Virgo smirked. Memories from the past melded with ambitions for the future. She’d already defeated Black’s stir up tactics. Who did the girl think she was? She was no mere child to be baited and toyed with. She was the greatest witch who ever lived!</p>

<p>Virgo laughed. She actually laughed.</p>

<p>She was not the poor muggle born Julia Olsen, and nor was she a mere soul fragment of the Dark Lord. They were gone. And in their place, she had risen. This she knew with the certainty that the sun would rise and the moon orbit the Earth. But that didn’t mean that her memories of the past had no meaning.</p>

<p>They had meaning.</p>

<p>They brought her joy.</p>

<p>When needed.</p>

<p>Virgo concentrated hard on the tip of her wand.</p>

<p>She thrust it out in front of her.</p>

<p>She was no one’s a play thing.</p>

<p>She was Virgo Malfoy — reborn! From the ashes!</p>

<p>“EXPECTO PATRONUM!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Silver light enveloped the entire arena, bathing all who saw it in peace and contentment.</p>

<p>As one, the entire crowd let a collective gasp as the silver light resolved itself into the form a majestic song bird, bathed in flames, spreading its wings and soaring up into the sky.</p>

<p>Up in the stands, next to another exit to the rooms below, Albus Dumbledore stared with wide, unbelieving eyes.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-13"></a></p>

<p>Below the surface of the arena, Alex floated in the depths of the earth.</p>

<p>She felt the deep rumble that signified something impressive had happened on the surface.</p>

<p>No matter, whatever Virgo had pulled out this time, she would deal with it.</p>

<p>In the back of her mind, her metronome ticked back and forth, tick tock, tick tock.</p>

<p>Soon, she would pop out on the surface again. Maybe this time, she’d exit at an angle rather than straight up.</p>

<p>Best to keep Virgo guessing.</p>

<p>Alex mentally frowned.</p>

<p>Something felt… wrong.</p>

<p>She couldn’t put her finger on it, but something just felt <em>off</em>.</p>

<p>And it was getting closer.</p>

<p>Alex had no time to prepare, no time to figure out what was going on, before her world was full of silver light, pain, and a something slamming into her with the force a mounted broomstick rider.</p>

<p>The strike came literally out of nowhere.</p>

<p>She couldn’t help it. Without meaning to, she shifted.</p>

<p>Several dozen kilos of witch rocketed upwards through the strata of the Hogwarts duelling arena.</p>

<p>Fuck!</p>

<p>Alex broke the surface and was unceremoniously flung into the air.</p>

<p>Time seemed to slow.</p>

<p>As Alex continued to ascend, she quickly noticed two things, the first was the whole crowd on their feet, cheering, clapping, screaming.</p>

<p>The second was the two dozen jagged boulders, each the size of a jumbo bludger floating in a sphere around her.</p>

<p>As if waiting for the exact moment she noticed them, the rocks shot towards her like canon balls being fired from a ship.</p>

<p>FUCK!</p>

<p>Alex shifted. Skin became fur. Face became muzzle. Even before the transformation finished, she was already going ethereal.</p>

<p>And not a moment too soon. The first rock arrived just as her paws finished their transformations and shot right through what only a second earlier had been her chest.</p>

<p>Moments later, the space containing Alex was filled with swirling rock, constantly passing through her body again and again.</p>

<p>Alex cursed in her head.</p>

<p>She began to summon her magics, ready to banish the flying rubble away the moment she landed. Then she’d meet Virgo and crush her.</p>

<p>At least, that was the plan.</p>

<p>As she continued to tumble in the air, she chanced to look down.</p>

<p>And a fucking Phoenix made of silver light burst forth from the ground, traveling at ridiculous speed right at her.</p>

<p>Alex barely had time to brace.</p>

<p>The silver Phoenix crashed into her again, sending blinding pain through her body.</p>

<p>She changed.</p>

<p>The magic on her fingertips burst outwards.</p>

<p>The rocks punching towards her were blasted backwards.</p>

<p>Alex began to fall.</p>

<p>The silver Phoenix soared away.</p>

<p>Alex flung out a Black chain to break her fall.</p>

<p>She landed badly, rolling across the arena.</p>

<p>Stunning intent.</p>

<p>Alex flung herself to the side, just as a bright red spell crashed into the dirt where she’d just been.</p>

<p>Then she was up, frantically batting away spell after spell being fired at her from near point blank range.</p>

<p>She’d been delivered almost right to Virgo’s feet.</p>

<p>And Virgo was smiling.</p>

<p>A second later, another dozen rocks leapt up from the ground and rocketed towards Alex.</p>

<p>She banished the first round away, but such large area spells were expensive, so she shifted to avoid the second set.</p>

<p>She got away with that for two more rounds, before the silver Phoenix reached her while in ethereal grim form and bodied her into the ground and up again.</p>

<p>Alex shifted back, batted away a bright blue spell and cursed.</p>

<p>Her magic was running low. Virgo, meanwhile, looked barely fazed.</p>

<p>Time to retreat.</p>

<p>She flung out her wand, wrapped a Black chain around a faraway boulder and let herself be yanked away from close combat.</p>

<p>Virgo followed at a sprint, but now that she had distance, Alex could freely transform into her non ethereal grim form and keep distance while she regained her magic.</p>

<p>Above them both, the silver phoenix continued to circle, waiting for her to go ethereal again. Even from here, the wrongness of the bird seared Alex’s soul.</p>

<p>It just felt wrong.</p>

<p>She had to do something about it.</p>

<p>If she could get rid of the Phoenix, she could stall Virgo out indefinitely. It was the only thing stopping her total victory.</p>

<p>The bird began another pass nearby.</p>

<p>Alex saw her chance.</p>

<p>She took it.</p>

<p>At her command, a Black chain transformed in a whip of darkness.</p>

<p>Alex flung out an arm behind her, brought it around with power, and caught the silver bird just as it soared by.</p>

<p>Silver light flared like a mini super nova.</p>

<p>The bird, which up until this point, had been completely silent, let out a screeching cry. The silver light intensified. Then exploded.</p>

<p>Light showered everywhere, like fairy dust.</p>

<p>The silver Phoenix was gone.</p>

<p>Alex smiled. She’d won. There were no more cards to play. Every play had been played. Every counter had been countered. Now she could play the game <em>she</em> needed to.</p>

<p>Virgo came into casting range.</p>

<p>Alex held up her wand. It was time, not to end this, but to drag it out, for a long time longer.</p>

<p>“Wait!” Virgo called out.</p>

<p>Alex hesitated. But, what harm could there be in waiting. That was what she wanted to do anyway, right? Unless this was another trick. Did Virgo have another ace? Another card to play? What more could she have? The Dark lord’s knowledge of magic was vast, and Slytherin had briefed her well on what she was likely to bring to bear. But he hadn’t guessed what could only be a patronus, and he hadn’t discounted the possibility that Virgo may have learned new tricks since regaining a body.</p>

<p>Alex didn’t let down her guard. “What?” she called back.</p>

<p>Virgo straightened. “You have fought well, Black!” Virgo called. “I honestly didn’t think I would have to use everything I did. And you still countered everything I could throw at you.”</p>

<p>“Good?” Alex said.</p>

<p>Virgo smiled, looking far more calm than Alex felt she had any right to be. “Yes,” she said. “And that is why I have no choice, but to do <em>this</em>.”</p>

<p>Alex tensed, ready for anything.</p>

<p>Virgo thrust a hand up in the air.</p>

<p>“I concede!”<a id="nanowrimo-14"></a></p>

<p style="text-align: center;">— End of Chapter Sixty-eight — </p>

{  89} [Compared to the fourth]: Quote @Centurion_Havoc: Didn't Tonks take third for the Puffs last year? She did, paragraph should be changed.

{ 411} [bringing her wand to bear.]: Hugo: "Is it wandless or with wand ? it confuses me"
