Chapter 69 - Nature Red - Part 13

<p>“VIRGO GAVE UP!”</p>

<p>In front of the door to the Room of Lost Things, Ginny flinched.</p>

<p>Hermione’s voice practically screamed down the ear mirror, while in the background, the crowd expressed its complete disbelief.</p>

<p>Ginny took moved the earpiece slightly away from her ear.</p>

<p>“A little quieter, Book Worm,” Daphne’s tinny voice came from the earpiece.</p>

<p>“Oops, sorry, but seriously, what the hell? Virgo shouldn’t surrender! Snake Crown said the chances of Virgo surrendering were so low not even the dwarfs would find them.”</p>

<p>“Did you hear that, Snake Crown?” Daphne asked.</p>

<p>Ginny waited for the response.</p>

<p>It didn’t come.</p>

<p>“He must have gone into mirror silence,” she said.</p>

<p>“That, or the Chamber blocks mirror magic,” Hermione said.</p>

<p>“That does seem likely given everything we know about it,” Daphne replied. “How is our girl in the arena doing?”</p>

<p>“She’s here with me now,” Hermione said. “They’re giving us a minute to patch her up before the next fight. Do you want to talk to her?”</p>

<p>“No,” Daphne said. “Not now. Just give her my congratulations. She deserves it. I was watching the fight from up here. Very impressive stuff. That was a really good catch with the shadow whip at the end there. Shadow?”</p>

<p>“Here,” Ginny said.</p>

<p>“Keep eyes on Virgo.”</p>

<p>Ginny unfolded the Marauder’s Map. “On it, Eagle Eyes.” The moment Virgo tried something, and Ginny had no doubt the diary <em>would</em> try something, she’d spot it.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-16"></a></p>

<p>Up in the top stands, Lord Malfoy clapped politely, while next to him, Lord Potter stared down into the arena with wide eyes.</p>

<p>“Very impressive,” Lucius said.</p>

<p>“Uh huh,” James replied.</p>

<p>“It almost makes me want to keep her.”</p>

<p>James snapped the leader of the Dark a dirty look. “You know full well House Potter is your best option for Virgo.”</p>

<p>“Do I?”</p>

<p>“Yes,” James said with force. “You do.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>It should have been her moment of ultimate triumph. Certainly the endless cheering, slaps on the back, and respectful nods gave the impression of the return of a conquering hero. But being lifted up into the air by a pair of the older Slytherins and doing a minor lap of honour around the first ring of the arena crowd, Alexandra couldn’t help but feel empty.</p>

<p>She had won, but at the same time… she hadn’t.</p>

<p>Virgo had lost, but at the same time, she’d won.</p>

<p>Not that anyone else outside their little group would realize that.</p>

<p>“Yes, yes,” boomed the announcers voice around the arena, “very good, Slytherins. Can you please now escort Heiress Black back to your pit? Thank you.”</p>

<p>And that wasn’t the only thing that felt off.</p>

<p>There was something else, that she couldn’t quite put her finger on.</p>

<p>Then it came to her.</p>

<p>Her eyes frantically scanned the arena.</p>

<p>Virgo was nowhere to be seen.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Well, that was quick, Ginny thought.</p>

<p>“Eagle Eyes, this is Shadow,” she whispered into her ear mirror. “I still have Virgo on the map. She’s broken off from the arena and is currently heading towards the Ravenclaw girls’ changing room over at the quidditch stadium. I think she’s going to try and break into the Chamber of Secrets.”</p>

<p>“Understood,” Daphne’s voice replied. “Book Worm, prepare to back me up. We’re going in.”</p>

<p>“Wait!” Ginny interrupted.</p>

<p>“What?” Daphne asked.</p>

<p>“There’s a problem.”</p>

<p>“Yes?”</p>

<p>“She’s not alone.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Thousands of eyes all on him.</p>

<p>The duelling arena was a lot bigger down here than he remembered from practice.</p>

<p>“On the Slytherin side, Heiress Alexandra Patricia Black!”</p>

<p>The crowd cheered wildly.</p>

<p>Sweat ran down his forehead.</p>

<p>He tried to dry his hands on his patchy, battered robes.</p>

<p>"And on the Gryffindor side, Ronald Billius Weasley!“</p>

<p>The crowd cheered again, but rather more subdued this time.</p>

<p>Ronald Weasley licked his lips nervously. His eyes darted back and forth before landing back on the first-year witch standing before him, like a pint-sized omen of death. “Err… say, Black,” he said, loud enough to carry the distance between them. “I know we might not have always been the <em>best</em> of friends, and I know we always made you be the evil dark witch whenever we did stuff together, but you enjoyed that, right? You’re, like, way into that stuff. So, there’s no need to go over the top, right? We can have a nice normal duel, right? Right?”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-17"></a></p>

<p>Virgo cursed for what felt like the fifth time in as many minutes. Slytherin had certainly done a good job on the warding surrounding all the entrances to the Chamber that he hadn’t covered with the fidelus charm.</p>

<p>This one had been woven into the very wards of Hogwarts themselves.</p>

<p>Normally, such a feat would preclude anyone even making a dent in the layers of protection. One may as well try to breach a castle wall with a sword.</p>

<p>But that wasn’t the case now.</p>

<p>With Hogwarts on total lockdown, much of the magic was being used to maintain ancient war wards. Anything not considered critical was being sacrificed.</p>

<p>That meant the protections around this entrance were far weaker than normal.</p>

<p>The problem was that ‘far weaker than normal’ was a relative term.</p>

<p>Her sophistication in dealing with such protections had increased markedly over the last few months. Once she’d learned what Slytherin had done, she had not been idle. The Hogwarts library was vast and since becoming student minister, she’d even wrangled access to the restricted section.</p>

<p>None of that changed the fact that right now, she was exhausted. Even the most sophisticated ward breaching techniques needed some base level of power. To make matters worse, the headache brought on from magic overuse was affecting her ability to weave the delicate enchantments she needed.</p>

<p>What she really needed was a good twenty minutes to let her body clear out some of the toxins.</p>

<p>But that was twenty minutes Virgo didn’t have.</p>

<p>From far away in the duelling arena, the sounds of the crowd gasping at whatever fate was befalling her second-year upperclassman duelling partner wafted, muffled, through the walls of the quidditch stadium.</p>

<p>Virgo vaguely recalled that the boy in question was one of John’s friends.</p>

<p>Not important.</p>

<p>Not right now.</p>

<p>She refocused her attention back on the ward in front of her.</p>

<p>It never occurred to her that she might not be alone.</p>

<p>And why should it have? Virgo knew she was no master of spell swatting, but that didn’t mean she couldn’t sense magic. She could. It was how she’d survived her assassins at the beginning of the year.</p>

<p>So, when a voice that she well recognized, both old and male, coughed from the door behind her, Virgo almost swallowed her tongue.</p>

<p>The next sentence from the voice consisted of only one word and was spoken with the tone of one who can’t quite believe they are speaking it.</p>

<p>“Tom?”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-18"></a></p>

<p>“Well, that’s the last of them,” Harry said, weaving the last enchantment on the various traps and devices now strewn around the Chamber. “Time to get this show on the road.”</p>

<p>Luna nodded and skipped up the Chamber to one of the large pillars near one of the many entrances.</p>

<p>“Blindfolds on,” Harry called out.</p>

<p>“Done!” Luna called back.</p>

<p>Harry nodded and donned his own.</p>

<p>He turned back to the statue of Salazar Slytherin. Since they’d arrived in the Chamber, they hadn’t seen hide nor hair of the deadly serpent. The Chamber was quiet. Their words echoed. Drips of water fell from the ceiling.</p>

<p>They’d cleared away the bed and desk that he’d kept down here before, storing them away into the small storage room around the back.</p>

<p>All the while, Harry was acutely aware that all that lay between them and the basilisk’s nest was a stone mouth that was no longer locked quite as tight as it might otherwise have been.</p>

<p>He reached out with his magic, feeling for the presence of the giant snake.</p>

<p>It wasn’t particularly difficult.</p>

<p>The Chamber of Secrets was a ritual room, after all — insulated from outside magics, and even blocking many forms of divination.</p>

<p>In such a magical vacuum, he might as well have heat vision, and the basilisk might as well be a small Hogwarts Express in full chuff.</p>

<p>There was no doubt the snake was there, just behind the statue’s head.</p>

<p>This was the first part of their plan.</p>

<p>If they could negotiate with it, then they would.</p>

<p>It was a low probability, but it was worth a shot.</p>

<p>If nothing else, it might let important information slip.</p>

<p>Harry flexed his fingers.</p>

<p>He took a deep breath.</p>

<p><em>§Speak to me, Slytherin—§</em> he began in a loud voice.</p>

<p><em>§Speak to me, Slytherin—§</em> began an immediate echo of his speech from behind the marble statue.</p>

<p><em>§—Greatest of…§</em> he continued, his voice getting softer.</p>

<p><em>§—Greatest of the Hogwarts four,§</em> the hissing voice finished as he trailed off.</p>

<p>The mouth of the statue started to grind open.</p>

<p>Harry winced.</p>

<p>Nothing like losing the initiative.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-21"></a></p>

<p>“Tom?”</p>

<p>Virgo pursed her lips, still facing away from the door. Dumbledore was sharper than she’d given him credit for. What had it been? Her music? Her magic? Banned divination spells? Whatever it was, he sounded uncertain. And when your enemy was uncertain, best to continue to confound their expectations.</p>

<p>She turned. “Not any more, Professor. The soul of Julia Olsen is far stronger and purer than that of Tom Marvolo Riddle.”</p>

<p>Dumbledore stared at the young girl before him. That single statement answered so many of his questions. But yet, he wasn’t about to take a horecrux’s word at face value. If the muggleborn was indeed dominant, than what a fascinating opportunity this could be, but if she wasn’t…</p>

<p>In the folds of his robe, he kept his hand on the elder wand.</p>

<p>“Stronger?” he asked, mildly. “I would have thought that overcoming a soul fragment of the dark lord would be an accomplishment that many trained aurors would fail to manage, even one so mangled and weak.”</p>

<p>Virgo smirked inside. Baiting her, was he? A predictable strategy — and one that might even have worked, if she hadn’t just beaten Black’s same attempts with a patronus.</p>

<p>The Dumbledore she remembered was incredibly arrogant — so sure of himself and that he knew best. This older version seemed similar.</p>

<p>“My friends in Gryffindor helped me,” she said. “And I wouldn’t have made it without their help. The hat put me there, Professor. It said that it should put Tom in Slytherin, but that Julia had the soul true to your old house.”</p>

<p>Dumbledore smiled, a twinkle in his piercing blue eyes. Flattery, eh? he thought. She certainly had Tom’s silver tongue. Voldemort might have become a monster, but he well remembered just how charming he could be in his younger years. He could easily imagine this incarnation worming her way into Gryffindor house, corrupting the younger students, building alliances — a snake in the lion’s den.</p>

<p>He gestured to the wall behind her. “So, it is Lord Slytherin setting the monster loose in Hogwarts? I see you know of this entrance.”</p>

<p>Virgo frowned to herself. Had Dumbledore actually figured out the entrances to the Chamber in her absence? Or was he just fishing? She couldn’t take the risk. She nodded, slowly. “I know of many entrances. Slytherin has warded them all. I’ve been trying to break them since I arrived. But alas, I fear the task beyond me. Not even John was up to it.”</p>

<p>Dumbledore smiled. “If the wards were broken, perchance we would find our young hero’s brother beyond. In truth, it is not Lord Slytherin I worry for. More rather, I fear the trust Slytherin may place where it may not be warranted.”</p>

<p>Virgo smiled. “Ever since John was petrified, I don’t particular care who is behind the petrifications, only that they be brought to justice. After all, if the boy-who-lived cannot walk Hogwarts without fear, who can?”</p>

<p>“Quite,” Dumbledore replied.</p>

<p>Another cheer from the duelling arena filtered through the quidditch stadium walls.</p>

<p>‘He doesn’t know Harry is Lord Slytherin,’ Virgo thought.</p>

<p>‘She doesn’t know Harry is the boy-who-lived,’ Dumbledore thought.</p>

<p>They held each other’s gazes.</p>

<p>‘Best keep that tidbit to myself for now,’ thought both of them.</p>

<p>With a flourish, Dumbledore produced his wand and bowed. “Well, then, my girl. Why don’t we go about seeing what we can do about this pesky ward, shall we?”</p>

<p>Virgo stood aside and motioned to the concealed entrance. “Please, Professor. Be my guest.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-23"></a></p>

<p>Harry had his eyes well closed as the gigantic basilisk’s head poked out of the statue. It flicked its tongue, tasting the air.</p>

<p>§Ssso,§ the giant snake said in its understandable hissing voice. §The pretender to the throne finally stands before this one.§</p>

<p>Standing, as he indeed was, below, Harry said nothing. He was waiting to hear where this was going.</p>

<p>§And yet,§ the basilisk continued, §you stand before me, hidden. Why do you not wear your true form, pretender?§</p>

<p>Harry’s mind raced. Presumably, the basilisk was talking about his chimaera animagus form. That the snake spoke of it as his ‘true form’ answered a lot of questions. Like, ‘why did the basilisk leave its nest, only after they had completed the animagus ritual?’. It had sensed the presence of a competitor. Though it didn’t answer the question of how the snake had found a way to the surface when all the exits were supposed to be warded.</p>

<p>He raised his head upwards, while keeping his eyes closed. §Thisss isss my true form, king of snakesss,§ he replied. §I do not ssseek to take your throne.§</p>

<p>§Liar!§ The great snake screeched. §I sssmell your power. I feel your authority. You wear crown of ssserpentsss. You would command thisss one if you could. You do not, only becaussse my massster ssstill livesss. Face me in your true form, pretender! Or I will ssswallow you now!§</p>

<p>Harry breathed out. No choice then. He shifted. Hands became giant paws. Fingernails became claws. His weight shifted, forcing him onto all fours. Body hair became fur. His face lengthened. Muscles bulged. The hair on his head became the crown of serpents. And Harry’s mind fractured, but he held it fast, like a man holding a dozen dogs on a leash. If anyone thought controlling someone with the imperius curse was difficult. They should try controlling more than a hundred writhing snakes.</p>

<p>§We ssstand before you,§ spoke a hundred snakes in unison. Harry separated his consciousness from a single one of the serpents and bid it meet (((ChRiAn: "is 'bid it meet' grammatically correct?"))) the giant snake’s gaze.</p>

<p>When the single snake didn’t die, he opened the rest of his crown’s eyes, but kept his lion eyes firmly closed.</p>

<p>§This one sees,§ the basilisk said.</p>

<p>It was even larger than Harry remembered, if that was possible. And there was something about it that felt different, but he couldn’t put his fingers on it. Maybe the sheen of its scales? The vibrancy of its colors?</p>

<p>§And now that you stand before me, unhidden§ it continued. §Why have you come? You must know that this one will not sleep on your presence in my domain. Only one king!§<a id="nanowrimo-24"></a></p>

<p>§Can we not agree to territorial borders? One ruler to another?§ Harry asked. §The Chamber and its ways for you. The castle and its grounds for me?§</p>

<p>§Noooo,§ the basilisk hissed. §The castle whole///whole castle is my territory. Lord Slytherin gave us our domain a countless skins ago.§</p>

<p>§I am Lord Ssslytherin,§ Harry replied in a hundred-strong snaky chorus. §By right of conquest of your master. Not only that, but I hold prisoner a fragment of your master’s sssoul in my head. I ssspeak, not only with the authority of my position, but with the magic of his being.§</p>

<p>The basilisk tilted its head.</p>

<p>But Harry all but already knew what its next words would be.</p>

<p>§That would matter,§ it said. §If my master had not commanded I not take orders from the soul fragments he sought to imprison.§</p>

<p>Well, it was worth a shot.</p>

<p>Lion-Harry snarled, and his voice, when it emerged, boomed. “Let him have it!”<a id="nanowrimo-25"></a></p>

<p>A series of explosive bangs opened up from the far side of the Chamber, powderising the statue-head and causing the basilisk to rear back and screech. 50-cal machine gun rounds zipped through the air and smacked into the giant snake’s armour. Unfortunately, it didn’t seem to be doing anything.</p>

<p>“The eyes!” Harry bellowed, more out of frustration than because he thought it would add any value. Obviously Luna knew she should be aiming for the eyes, but with her own blindfold on, her ability to do so would be seriously limited.</p>

<p>Eventually, the stream of hot lead petered off, leaving the extremely narked off killing machine unharmed, save a hundred or so dents in its scales.</p>

<p>“My turn!” Harry roared. He leapt at the basilisk, just as it was dropping down. They met in the middle, still falling, claws scrabbling for purchase, fangs trying to sink into flesh. Harry managed to dig his way up just before they both hit the floor. He jumped onto the head and bit down hard behind the skull. He wished he hadn’t. He felt one of his incisors crunch as they failed to break through the tough armour.</p>

<p>The basilisk was already starting to swing its head about, hissing in rage. Harry shifted into his human form, pulled out one of the goblin silver daggers laced with blinding solution, and stabbed it downwards.</p>

<p>Clang.</p>

<p>The silver dagger bit into the armour, but did not pierce through.</p>

<p>The snake whipped it’s head back again, this time throwing Harry off. He fell to the ground and shifted back into his chimaera form, just as sword-like teeth sunk into his flesh. Or at least, they would have, if his chimaera fur wasn’t pretty much impervious to all forms of piercing damage. Instead, it felt like someone kicking him extremely hard in the gut.</p>

<p>He roared and scrabbled with his claws at the open flesh of the snake’s mouth.</p>

<p>It screeched in pain and reared back as Harry finally scored first blood.</p>

<p>Harry changed back and rolled backwards, clutching his already bruising stomach.</p>

<p>“Now!”</p>

<p>Something large and pointed whizzed through the air. The goblin silver-tipped ballista bolt flew straight and true right into the basilisks mouth. It punched right through the roof of its mouth, exited out the back, hit the ceiling beyond, and clattered back down to the Chamber floor.</p>

<p>The basilisk swayed.</p>

<p>Then collapsed.</p>

<p>It hit the stone floor with a thud that caused the floor to shake.</p>

<p>Harry looked at the downed snake with a feeling of anticlimax. “Well, that wasn’t nearly as hard as I thought it would be.”</p>

<p>Luna trotted up. “We didn’t even have to use the magic bra.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Dumbledore wiped his brow. No matter what anyone said, even as powerful as he was, breaking into the wards of Hogwarts, even those underpowered as these were, was no easy feat.</p>

<p>“Progress?” ‘Virgo’ Malfoy asked.</p>

<p>“Patience, my girl,” he replied. “These things cannot be rushed.”</p>

<p>“I am well aware,” she replied. “But we must be quick. Every moment we delay is opportunity wasted.”</p>

<p>Dumbledore ignored her, turned back to the wards, and bent his concentration to them again. He had no doubt he would break them soon. He wasn’t known as one of the most skilled wizards in the world for nothing.</p>

<p>Still, he couldn’t help but think about how much easier this would be if Fawkes was still with him. The wards of Hogwarts did not count anti-phoenix travel among its number. Well, nothing that would stop his entering, anyway. But Fawkes had been AWOL since the last time the monster had been released.</p>

<p>A thought struck him.</p>

<p>“Virgo, my dear, what is the monster in the Chamber?”</p>

<p>“Basilisk. And I am not your dear.”</p>

<p>Dumbledore nodded grimly to himself before resuming his work with a new sense of purpose. That new fact raised the chances of one of the more gruesome possibilities for what had happened to his familiar. And if so, then actually killing the monster could be quite [[[big]]] a challenge.</p>

<p>After all, beings cried not only when they were sad, but also when they were in pain. (((Hugo: "beings cried not only when they were sad, but also when they were in pain. --> I have a problem with the use of beings… I'm pretty sure that there are only humans as animals that cries when they are sad ! Otherwise 'beings' cries when they have something in the eye or maybe in pain but i'm not sure. Seems to me that this sentence is very anthropomorphize… Wich depending on what you want LVE could be a good thing or a bad thing")))</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-27"></a></p>

<p>The stillness of the Chamber felt unreal. Harry, now back in human form, gazed at the massive body in front of him, considering their next step. “Looks like Alex may get a chance at raising it after all,” he muttered.</p>

<p>“Hey, Harry! Look! I’m riding it!”</p>

<p>Harry smiled. “Very good, Luna. But we need to get a move on. Can’t have all those traps lying around before we reopen the school.”</p>

<p>“Yes, Harry! Eww! You can still hear it gurgling away in there.” She had her ear pressed to the snake’s body.</p>

<p>Harry ignored her and turned to leave. Impressively, the shear amount of magic radiating from the beast hadn’t decreased even a little bit. He shuddered to think what a confrontation might have looked like if they weren’t so prepared.</p>

<p>He took a step towards the exit. He also needed to get back in contact with the others.</p>

<p>“Harry? Can you hear that?”</p>

<p>Harry stopped, putting his current thoughts on hold. He listened. “What am I listening for?”</p>

<p>“It sounds like bird song.”</p>

<p>“Bird song?” Harry turned back to the basilisk.</p>

<p>Luna still had her ear pressed to the giant snake’s scales.</p>

<p>He frowned. “From inside its stomach? Nothing should be able to survive in there.”</p>

<p>A terrible suspicion swept over him. “Luna,” he said, voice turning firm. “Check the exit wound.”</p>

<p>Luna scrabbled up to the head, while Harry followed.</p>

<p>There was a moment while Luna looked around.</p>

<p>“Well?”</p>

<p>“There’s nothing,” she answered sounding puzzled. "But I saw—"</p>

<p>“Luna! Get down now!”</p>

<p>A shudder ran all the way down the snake’s body.</p>

<p>The large eye next to Harry snapped open.</p>

<p>And Harry found himself staring unprotected straight into a gaze that could kill. Or at least, it no doubt would have, if the entire pupil wasn’t clouded over and milky.</p>

<p>“It’s not dead!” he shouted.</p>

<p>The head jerked around towards him. It’s jaw opened wide.</p>

<p>And was immediately slammed shut when fourteen tonnes of Tyrannosaurus Rex stamped it into the floor, hard.</p>

<p>“Hold it there!” he yelled, whipping out his Goblin Silver sword infused with swelling solution. He put all the strength he had into the thrust, stabbing at the only unprotected bit of snake he could see — the eye right in front of him — only to have the sword bounce off an eyelid that snapped shut right at the last moment.</p>

<p>The snake spun, going into a death coil, freeing itself of///from Luna’s pressure.</p>

<p>“Luna!” Harry shouted, fully intending to tell her to retreat. But Luna had shifted back into human form the moment she’d lost her control over the venomous end and was already sprinting away.</p>

<p>He just had time to shout out, “Phoenix inside!” and “It’s blinded!” before the snake turned its attention back to him and lunged, mouth open. Harry swung in pure self defense.</p>

<p>The goblin silver sliced a line clean in its open mouth. The results were out of all proportion to the size of the cut. The swelling solution amplified the wound, gushing dark brown blood everywhere.</p>

<p>The basilisk reared back and screeched, but now that Harry knew what to look for, he could even now see the wound starting to knit itself back together.</p>

<p>He shifted back into his chimaera form and roared.</p>

<p>They’d defeated it once before and they could do so again. And this time, they’d make sure it stayed dead.</p>

<p>The basilisk snapped its maw shut and stared down at him with those white, unseeing, milky eyes.</p>

<p>Harry readied himself for round two.</p>

<p>The blinding solution that had been infused into that ballistica bolt wouldn’t last forever, but it would certainly last long enough for what was going to go down right here, right now. It was rare for fights to last longer than a few minutes.</p>

<p>The sound of Luna fighting with something large and metal in one of the trunks wafted between the two monsters.</p>

<p>The basilisk bolted.</p>

<p>Wait, what?</p>

<p>Harry barely had time to regain his wits before he was faced with the back end of a snake slithering at speed towards the back of the Chamber.</p>

<p>It was running away?!</p>

<p>In just two strides and one giant leap, Harry landed on to the back of its tail.</p>

<p>§OPEN!§ the basilisk screeched.</p>

<p>If Harry had been in his human form, he would have gaped as an exit to the Chamber not even he knew about opened, and the snake raced inside.</p>

<p>He had just enough time to register that the opening was narrowing as more of the basilisks’ body left the Chamber, but not enough time to declaw himself from the scales and jump off before he slammed headfirst into the stone work.</p>

<p>He fell to the floor with a thud.</p>

<p>§OPEN!§ screeched a hundred smaller snakes in unison. This time, the passageway that formed conformed to his body-shape.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-28"></a></p>

<p>“So, then, we are all agreed, my lords?”</p>

<p>The four men in expensive robes nodded.</p>

<p>Cornelius Fudge nervously fiddled with the rim of his bowler hat. “Right, then. Then, it will be up to you, Lord Greengrass. Once the tournament is over, if Lord Slytherin has yet to completely finish his… err… business, up at the castle, then you will be the wizard on the spot, as it were.” Fudge laughed nervously. “There’s a lot of wizards out there, and they’ll want answers.”</p>

<p>“I’m sure it won’t be all that much longer,” Jacob said in a cheerful voice. “Slytherin is nothing if not efficient.”</p>

<p>“Truly,” drawled Lord Malfoy. “And yet, I cannot help but ask myself how necessary this all was. Some of us, after all, have places to be. Being trapped like this, while nostalgic, is nevertheless most undignified.”</p>

<p>“I’m sure your dignity can handle a few minutes of inconvenience,” Lord Potter said in a snarky voice. His tone became more serious. “More importantly, what are we to make of Albus’ assertions? Lord Slytherin may have confided his plans in you, Lord Greengrass, but plans can go awry, and if Harry did decide to act alone…” he broke off, looking angry.</p>

<p>“James, don’t talk rot,” said Lord Black. “If Harry is up at the castle, I only hope he’s being sensible and keeping his head down. The idea that he’s some kind of criminal mastermind is outrageous. I’ve no idea what Dumbledore is thinking. Or why he seems to have it out for Harry.”</p>

<p>“There are circumstances you aren’t privy too,” James replied, darkly.</p>

<p>“What circumstances?” Sirius shot back. “If there’s something going on with my godson, then I demand—” He stopped mid-sentence and glanced at the two other lords and the minister — listening on with interest. He snapped his mouth shut.</p>

<p>Lord Potter glared at him.</p>

<p>“Gentlemen.” Malfoy stepped smoothly into the conversational open space. “I think we can all agree that Dumbledore, while obviously deserving of the utmost respect for his many lifetime achievements, is not infallible.” He inspected his silver snake’s head cane and made to brush an imaginary spec of dust from the top. “I personally do not find it surprising that Slytherin has enlisted your heir’s aid, Potter."</p>

<p>“Son!”</p>

<p>Malfoy smirked.</p>

<p style="text-align: center;">— End of Chapter Sixty-nine — </p>

{ 137} [From far away in the duelling arena]: TehVladz: "From far away in the duelling arena, the sounds of the crowd gasping at whatever fate was befalling her second-year upperclassman duelling partner wafted, muffled, through the walls of the quidditch stadium.

Virgo vaguely recalled that the boy in question was one of John’s friends…."

This is very OOC from all we know of Virgo. Ron is still John's best friend, so presumably Virgo interacts with him somewhat every single day, and proactively tries to keep somewhat in his good graces. She has been his teammate on the duelling team all year. She pushed for his brother, Percy, to be the fake Minister. She thinks Ginny is trying to kill her. She also earlier in the year actively sought to get close to John by way of Ron…

She shouldn't 'vaguely recall', she should figure 'oh, Ron just got his ass handed to him time is ticking I have to hurry," or somesuch.
