Chapter 6 - Good Morning Students, I'm Harry Potter

<p>[May 1989 (Five months after Harry and Daphne’s betrothal)]</p>

<p>Hermione Granger, holding a book to her face, lay upside-down on her bed, head and shoulders hanging off the edge, resting but an inch from the floor, long brown hair spreading out like a curly halo. It was a position only a serious book lover could adopt, and she knew she was a serious book lover.</p>

<p>“Hermione,” her mum’s voice called through the closed bedroom door, “he’s here.”</p>

<p>She sighed, snapped the book shut, rolled her body off the bed, onto the floor, and scrambled to her feet.</p>

<p>“Ready, Mum,” she called.</p>

<p>The door opened, and in walked her mum and… a boy? Her eyes narrowed.</p>

<p>“This is Harry, dear,” Emma Granger said, “Harry, this is my daughter, Hermione.”</p>

<p>“Isn’t he a little young to be tutoring maths?” she asked.</p>

<p>The boy gave a small smile.</p>

<p>“Harry’s maths skills are beyond A-level.” Her mum grinned. “I think the two of you will find you have a lot in common.”</p>

<p>Her eyes flickered, and she looked at the black-haired boy again. She’d always fancied herself to be one of those prodigies you occasionally saw on the news, but this boy sounded like he actually was one.</p>

<p>“Well, I’ll leave you two to get on with it,” Mrs Granger continued, “if you need anything, Harry, don’t hesitate to ask.”</p>

<p>The door closed, and she found herself alone with Harry.</p>

<p>“Are you really as good as that?” she asked, not quite believing this boy was at university level.</p>

<p>“I am.”</p>

<p>“Okay then.” She snatched her maths book from the desk beside her bed, flipped through to the end, and thrust it in front of his face, pointing at one the equations. “Let’s see you solve that then.”</p>

<p>The boy looked at the equation, took the book from her, laid it down, rummaged in his bag, and drew out a textbook of his own. He then flipped to the end, and gently handed it to her, pointing at one of the equations.</p>

<p>“This one’s for you, Miss Granger.”</p>

<p>She looked down at the book the boy had handed her, and blanched. Masses of unknown symbols stared back at her. She didn’t have a clue where to start.</p>

<p>After staring at the indecipherable mass of squiggles for a good twenty seconds, gradually feeling the red blush of inadequacy creep up her neck, she looked up. The boy was offering her a notebook. She took it. The answer to the equation she’d given him, complete with working, displayed itself in all its humiliating glory.</p>

<p>The boy looked into her eyes, and smiled.</p>

<p>“That’s not fair!” she cried. “You’re obviously at a higher level than I am!”</p>

<p>“And now you know that, Miss Granger. I am not your peer, I am your teacher.”</p>

<p>She fought to keep the flush, creeping up her neck, from taking over her face.</p>

<p>“So, are you ready to put some hard work into this? Or am I wasting my time?”</p>

<p>“No! I-I mean, yes, I’ll work hard.”</p>

<p>“Excellent.”</p>

<p>For the next two hours, she tackled arithmetic, fought with geometry, and wrestled algebra into the ground. It was intense, but her new teacher made it enjoyable. This was so much better than the snail’s pace her teachers at school insisted on. The feedback loops were short and tight, and she could <em>feel</em> herself getting better.</p>

<p>“Well, this has been a productive session,” her new teacher said, putting his books back in his bag.</p>

<p>“Yes,” she agreed, “when’s our next one?”</p>

<p>“Your mum suggested twice a week would be good. How does Saturday morning sound?”</p>

<p>“Great!” she exclaimed, then realised she sounded a little too enthusiastic.</p>

<p>Harry smiled. “Miss Granger, have you ever read <em>Alice in Wonderland</em>?”</p>

<p>“Yes,” she replied, thrown by the sudden conversation shift.</p>

<p>“Did you know Lewis Carroll was a mathematician?”</p>

<p>“No.” She was shocked that the absurdist story had been written by someone who dealt in rules and logic.</p>

<p>“Your homework is to re-read <em>Alice in Wonderland</em> while looking for relevant principles that Lewis Carroll wove into the story.”</p>

<p>Her catlike grin threatened to break free from her face. Now, <em>this</em> was her kind of homework.</p>

<p>“Okay.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Hermione sat on her bed, arms around her knees, watching the clock tick closer and closer to nine o’clock. She hadn’t found any mathematics in the book. She’d tried. Oh, she’d tried. She’d put all her mind into it for hours. But Alice’s adventures through wonderland seemed to touch on everything <em>but</em> mathematics. It made a mockery of it. Nothing was consistent, not even the way things changed.</p>

<p>She hated failing at assignments, and she felt she had failed. Harry was the first person her age she’d ever met that could keep up with her, and now he was going to think she was stupid. Being smart was all she had. She wasn’t athletic, or pretty, or popular.</p>

<p>The clock struck nine. Her execution was due.</p>

<p>The door opened.</p>

<p>“Good morning, Miss Granger.” Harry walked through the door. The door closed with a definite click. “Are you ready for today’s journey through the looking glass?”</p>

<p>“Ahh… well, Harry…”</p>

<p>Her teacher dragged a chair to the side of the bed, sat down, and stared at her. “What was the single most <em>un</em>-mathematical thing you found?”</p>

<p>“The single… un-mathematical?”</p>

<p>“The single most absurd occurrence, something that defies mathematics and logic.”</p>

<p>Hermione was confused. She was grateful that Harry wasn’t disappointed with her, but couldn’t see how this was relevant to their studies. She thought about his question. “I guess it would be the Mad Hatter’s party,” she started, feeling a bit more confident “when time stopped at six o’clock but continuity continued.”</p>

<p>“Ah, yes. That was a good one. I haven’t figured that one out yet. Someone may have, but if they have, they aren’t telling.”</p>

<p>She blinked at him. Figured it out? Figured what out? Were they playing some kind of metaphor game?</p>

<p>“Can you give me another?”</p>

<p>She thought for a moment. “When the animals throw pebbles at Alice, and they turn into cakes.”</p>

<p>“Another good one. Gamp’s law stops us doing that one.”</p>

<p>“Gamp’s law?” Okay, this must be a setup for the introduction of a new concept. She’d seen something like this when someone tried to explain calculus to her using a story about a tortoise and an arrow.</p>

<p>“Not important right now,” Harry said. “Can you give another?”</p>

<p>She was getting into the swing of this. “The drink labelled ‘Drink Me’ that causes Alice to shrink.”</p>

<p>Harry’s face broke into a wide grin. “Well done, Miss Granger.”</p>

<p>Despite herself, Hermione felt the familiar surge of happiness for getting a question right, even if she didn’t understand what she was getting right. This whole line of questioning was strange.</p>

<p>Harry reached into his pocket, and brought out a small bottle of acid-green liquid. He placed it on the desk to his side. The bottle had a small label on it that said, ‘Drink Me’.</p>

<p>She stared at it. Her confusion was growing.</p>

<p>“Miss Granger,”—Harry brought her attention back to him—“Do you ever find strange things happening around you?”</p>

<p>“W-what do you mean?” she said, but she instantly knew what he was talking about. This discussion of things shrinking, and changing, without rhyme or reason cast her mind back to <em>those</em> times. The times her rational mind desperately tried to force down, and ignore.</p>

<p>“You answered the last question correctly. Let’s see if you can go for a more difficult one. Give me one example of a situation in your life where something happened that defied logic.”</p>

<p>Hermione’s breathing quickened, became shallower. He couldn’t be talking about <em>those</em> times. If she said something so outrageous he’d think she were insane.</p>

<p>Harry reached over and took her hand in his.</p>

<p>“It’s okay, Hermione. You know what I’m talking about.”</p>

<p>When it finally came out her voice was quiet, almost timid. “I was being bullied at school. They took my books, and threw them across the playground. They started to hit me. The next thing I knew, they were all thrown across the playground. Some of them were badly hurt.”</p>

<p>Harry nodded. He leant back, and made a hand motion to indicate she should continue.</p>

<p>“Another time, I desperately wanted this book from this shop. I was outside looking in through the window, and the next thing I knew, I was holding the book in my hands. I was so afraid of being caught stealing that I dropped it and ran away.”</p>

<p>“Wow. Non-spatial summoning. That’s amazing.”</p>

<p>Her breath hitched, her voice got desperate, more urgent. “What is? Do you know what’s going on? How these things keep happening?”</p>

<p>Harry produced an ornate looking stick of wood and waved it at the door.</p>

<p>“I do know.” He was smiling now. “Because I am like you. You are special, Hermione. You have the talent.”</p>

<p>“Talent?” Her nails were leaving imprints on the palms of her hands.</p>

<p>“Magic.”</p>

<p>“Magic?”</p>

<p>“You are part of a secret community of witches and wizards. People who use magic in their everyday lives to achieve feats the non-magical world can only dream of.”</p>

<p>Her teacher pointed the stick of wood at the lampshade on her desk. It morphed into a vase.</p>

<p>Her body relaxed. She stared in wonder.</p>

<p>“Normally, because your parents aren’t magical, you wouldn’t begin your magical education until you’re eleven, but…”</p>

<p>“But?” she whispered.</p>

<p>“You are special even among witches and wizards, Hermione. You have the potential to become one of the most accomplished witches ever. A prodigy if you will.”</p>

<p>A prodigy. She’d always wanted to be one of those.</p>

<p>“But,” Harry said.</p>

<p>“But?” she replied.</p>

<p>“Do you remember the scene in the book when Alice is in the court, and starts to grow in size?”</p>

<p>Hermione nodded.</p>

<p>“Do you remember what the dormouse tells Alice?”</p>

<p>She nodded. “It said that she had no right to grow so fast, and that she was taking up all the air.”</p>

<p>“And what did the King and Queen order her to do afterwards?”</p>

<p>“They said, ‘rule forty-two says all persons over a mile high must leave the court.’”</p>

<p>“The magical world can be like that. I want to teach you, Hermione, but it will have to be in secret, both now and when we go to school together.”</p>

<p>“School?”</p>

<p>“At age eleven we’ll go to a magic school called Hogwarts with most of the other witches and wizards of magical Britain. By the time we’re ready to go, you’ll have more than caught up to the other students who’ve lived with magic all their lives.”</p>

<p>Hermione was ecstatic. Magic was real. She’d just seen it. And she could learn it. It was like all the fantasy books she’d ever read. And… catch up… Yes. She had to catch up.</p>

<p>“When do we start?” Enthusiasm radiated from her like a beacon.</p>

<p>“Right now. We’ll go over your curriculum for the next two-and-a-bit years. What I’d like to teach you, and why.”</p>

<p>She nodded.</p>

<p>“But before that, a few more demonstrations of what the other side of the looking glass can do. Sound good?”</p>

<p>Her eyes gleamed and darted to the bottle of acid green liquid, still sitting innocently on the desk.</p>

<p>“Yes, Harry.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>It had been three months since they’d started training. Hermione sat cross-legged on the floor. Opposite her, sat Harry.</p>

<p>She was nervous.</p>

<p>Occlumency was fascinating. She could feel her mastery over her mind growing day by day. Homework that used to take an hour was now dispatched in a quarter. Revising for tests had become a joke. A single pass over the material, filed into her mental library, was all she needed. She now had even more time to practise.</p>

<p>Her willpower seemed to be improving too. Before, she’d had to drag herself from her books to do things she knew she must, but now, she seemed better able to prioritise activities based on rational thought. Harry had started her on an exercise program — “It helps develop your body’s ability to process magic,” he’d said, — and she thought it would be hell, but retreating into her occlumency made it surprisingly enjoyable.</p>

<p>But this?</p>

<p>This was frightening.</p>

<p>Harry continued talking. “Once I’m in your mind, I will be able to both test your defences, and help you improve them.”</p>

<p>“Are you sure about this?” Everything Harry had taught her suggested letting someone play around with her mind was a bad idea.</p>

<p>“You have my word that I will not make any changes without your explicit permission. I may end up seeing memories you’re not comfortable with me seeing, but actively testing defences is the only way to be sure they are doing their job properly.”</p>

<p>She fidgeted on the hard floor. There were memories she definitely didn’t want Harry seeing. In the last few months, she’d felt closer to him than anyone else in her life—except her parents. The idea of losing him, terrified her.</p>

<p>“We can put it off, but if we do we’ll have to push back your education in other areas.”</p>

<p>“No. I’m okay. It’s just…”</p>

<p>“You’re nervous about me seeing certain things.”</p>

<p>She nodded and bit her lower lip.</p>

<p>“Hermione. I will never think less of you for anything I may end up seeing. You’re far too amazing a person.”</p>

<p>She smiled. She knew he didn’t mean it. She may be intelligent compared to her peers, but she was far too plain in everything else to be amazing. But it still felt good to hear him say it.</p>

<p>“Thank you, Harry.”</p>

<p>“…”</p>

<p>“Okay, do it.”</p>

<p>Harry raised his wand at her forehead.</p>

<p>“Legilimens.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Hermione stood in the trunk Harry had bought her for her birthday. It was amazing, like having a second room <em>in her room</em>. Bookshelves covered the walls, filled with hundreds of books from the mysterious magical world. It was the most amazing gift anyone had ever given her, and part of her wondered how rich Harry must be to be able to afford this kind of thing.</p>

<p>Harry had said learning the culture of the world she’d be entering was the most important, and most difficult, part of her education. The books she now possessed ranged from legal practices, to politics, history, adventure, and romance.</p>

<p>Like the trunk, every book had been charmed both with notice-me-nots, and illusions, so that anyone looking at it would see a non-magical, or ‘muggle’ book. Magic was incredible.</p>

<p>Harry had given her one instruction. In the next twelve months, he expected her to have read every book in the trunk.</p>

<p>At the end of those twelve months, he had a test for her. When she’d asked for more information, Harry hadn’t explained — just smiled, and said if she prepared properly she’d be fine.</p>

<p>Well, never let it be said that Hermione Granger was ever unprepared for a test.</p>

<p>Occlumency at the ready, she pulled the first book from the first shelf, <em>The History of the International Statute of Secrecy,</em> flopped down on the comfy armchair in the corner, and began to read.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Hermione was agitated. “I don’t see how anyone can stand it,” she said.</p>

<p>Harry sat in the armchair in the opposite corner of her trunk, sipping on orange juice and practising wandless magic — the showoff. “You know, it wasn’t that long ago that affairs in the non-magical world were similar to the magical one.”</p>

<p>“I know that, but it seems these family magics exist specifically to stop anything from changing.”</p>

<p>“Well, when Merlin created them, stability was the most important thing on everyone’s minds. Remember, this wasn’t long after the Romans left, and the English kingdoms were still forming. War was rife, and magicals were seen as strategic assets to any kings who could find them. The family magics enforced a structure on the magical families, ensuring they’d work together in the interests of magicals as a whole.”</p>

<p>She shuffled her feet. “And now we’re stuck with it?”</p>

<p>“Yep.”</p>

<p>“And it can’t be changed?”</p>

<p>“All the books with the rituals to manipulate the family magics were destroyed centuries ago. There may be some copies left, but if there are, we don’t know about them, and the people who hold them sure don’t have any incentive to change things.”</p>

<p>“What about the rune stones? The family magics are ward based aren’t they?”</p>

<p>“In theory yes, you could reprogram the family magics by hard altering the rune stones, but good luck finding them. No one’s ever managed it. Many have tried.”</p>

<p>She sighed and slammed the book she’d just finished shut. “Well that sucks.”</p>

<p>“Yep.”</p>

<p>She stood and walked over to a bookshelf. The latest pile of finished books was starting to become unstable again. Book piles merged into book piles, and occasionally toppled down forming book rubble piles. She’d have to put them back on the shelves soon. She picked out another book, <em>Fashion and Clothing of the Magical World</em>. She sighed. She had enough of this kind of thing from the girls at school.</p>

<p>She slumped lengthways across her armchair, and started to read.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Hermione’s face was crimson. She looked at Harry over the top of the romance novel she’d been reading, <em>A Muggleborn and a Lady</em>. She’d just learned her best friend and teacher was also one of those all-powerful lords she’d been ranting about for the last six weeks.</p>

<p>“You’re Lord Slytherin?”</p>

<p>“I am.”</p>

<p>“Eep,” she squeaked.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Hermione slammed the final book closed. She had finished. She put the book away, and looked around the trunk that had been her second home for the last ten months. So much knowledge. Harry’s goal had been for her to cram a lifetime’s worth of pureblood education into a year, and she’d risen to the challenge.</p>

<p>The more she’d read, the more she’d realised what she was letting herself in for.</p>

<p>The magical world was scary.</p>

<p>But it was also… well… magical. And she wasn’t overly worried. She had Harry.</p>

<p>Harry was amazing. When she’d first seen him doing wandless magic, or seen him transfigure that lamp into a vase, she’d been impressed at <em>magic</em>. The more she read though, the more she realised how insane <em>Harry</em> was for being able to do those things. He truly was a prodigy… and Lord Slytherin. And <em>she</em> was <em>his</em> student, under <em>his</em> protection.</p>

<p>She hoped she’d eventually prove herself worthy of his house. She had ambition in spades, but cunning? Something she’d have to work on.</p>

<p>“You finished?” A voice came from the trapdoor above her.</p>

<p>“Yes, Harry.”</p>

<p>“Great! Two months early, as well.”</p>

<p>She beamed.</p>

<p>“I think someone’s earned themselves a reward.”</p>

<p>“Ooh!”</p>

<p>She was learning, and Harry was happy with her. All was well in the world.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Hermione was worried. “A party?”</p>

<p>It was two months after she’d finished the reading project.</p>

<p>“This is your test,” said Harry. “You’re going to one of my political gatherings while taking on the identity of another. Your goal is to convincingly play the part of a pureblood from New Zealand.”</p>

<p>“But-but, what if I’m found out? What if they realise? What if I embarrass you?”</p>

<p>This all sounded far too much like the plots from one of those romance novels she’d read during the ‘ten-months-of-reading’.</p>

<p>“You’ll be disguised,” Harry said. “No one will know who you are, even if you do slip up. I’ll be there in disguise as well — to rescue you if it gets too bad. This is important for your education. I need to know you can handle yourself in these situations.”</p>

<p>She bit her lower lip.</p>

<p>“But what about dress robes? And jewellery, and stuff? They’ll expect me to have all that, and I don’t, and what about being too young? These political parties are for grown-ups.”</p>

<p>Harry smiled and held up a vial of green liquid.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Ten-year-old Hermione Granger stood in front of the full-length mirror, and stared. Twenty-two-year-old Hermione Granger stared back.</p>

<p>Plain, boring, bookish. These words haunted her school playground days. Her bushy hair was untameable, and her teeth were massive. They’d called her beaver face.</p>

<p>She reached out to the mirror and stroked the reflection. The reflection’s hair was calmer, still curling at the ends, but otherwise straight. Her teeth fit her face perfectly. Her face had lost the baby fat — it was elegant, symmetrical, and dignified. She looked like something out of those magazines her classmates were always giggling over. She was beautiful. This is what she’d be like in twelve years?</p>

<p>A pop beside her made her jump.</p>

<p>“Is Missy Grangy ready to be dressed?” asked the female house elf, another thing she’d have to get used to.</p>

<p>“Oh, yes, please, thank you, Tropsy.”</p>

<p>Half an hour later, she looked in the mirror again. Her floor-length, emerald-green dress hugged her hourglass figure, perfectly matching the snake-decorated choker and earrings Harry had leant her for the party.</p>

<p>“I told you, you were amazing.”</p>

<p>She turned to her best friend and teacher’s voice. Her breath caught.</p>

<p>Harry looked incredible. His shoulders were broad, his over-six-foot frame, hidden under layers of dress robe, was still obviously well muscled. His face, also, had lost the baby fat, leaving a strong, firm visage of man.</p>

<p>Deep inside, she felt something she’d never felt before. It tingled.</p>

<p>“You look pretty good yourself,” she said, before blushing. Had she just said that?</p>

<p>Harry chuckled and waved his wand over his face, transfiguring it into his private persona of Lord Slytherin, before putting on an emerald-green mask, his public face. He held out his arm for her. She took it, still feeling that unidentified feeling.</p>

<p>Together they walked to the main doors.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Charlotte Timberland, secretly Hermione Granger, stood in a small circle of adult wizards and witches, trying her best to remain cool. She’d just quoted one of the classic stories from her ‘ten-months-of-reading’.</p>

<p>“I must say,” said one of the wizards, “it’s nice to see a young lady who knows her literature.”</p>

<p>“Indeed,” said another, “so many of the youth today think they can get by with loud explosions, and puffs of smoke.”</p>

<p>“Where in New Zealand did you say you came from?” asked one witch.</p>

<p>“Auckland.”</p>

<p>They all nodded the nod of those who have no clue where a place is, but aren’t about to admit it.</p>

<p>“Well, it must be amazing to be a friend of Lord Slytherin,” the witch continued.</p>

<p>“It is certainly educational,” Hermione said, hedging her reply.</p>

<p>The witch looked around and leaned in, whispering so only their group could hear. “Tell me, have you ever seen his face? Is he handsome?”</p>

<p>Hermione blushed. What was <em>wrong</em> with her tonight?</p>

<p>“Ho hah!” the witch said, triumphant. “So you have!”</p>

<p>“I… I can’t possibly betray my lord’s secrets.”</p>

<p>They nodded again, understanding, while filing away the ‘my lord’ honorific for further inspection later.</p>

<p>“Charlotte.”</p>

<p>She turned. It was Harry.</p>

<p>“May I borrow you for a moment?”</p>

<p>“Oh, of course, please excuse me,” she said to the slightly disappointed group.</p>

<p>Harry led her over to the food table.</p>

<p>She felt that tingly sensation again when he touched her arm. She felt her face flush.</p>

<p>“How are you doing?”</p>

<p>“Managing. It’s actually not as bad as I thought it would be. Most seem shocked anyone ‘my age’ can quote from the magical canon.”</p>

<p>Harry snickered. “There’s a chance I may have overprepared you. But that’s the point. I wasn’t joking when I said you have the potential to become one of the greatest witches ever. And as your new friend over there said,” he nodded to the second wizard in the group, “many people feel they can get by on large explosions, and puffs of smoke.”</p>

<p>She nibbled on a pastry thing. Harry had damn good hearing.</p>

<p>“Anyway, I’ll be right back. I have to take care of something,” and with that, he fled.</p>

<p>Strange.</p>

<p>“Hello, Miss Timberland.”</p>

<p>Hermione turned. She was being addressed by a girl. A <em>really</em> pretty girl, with long blond hair, and piercing blue eyes. She must be about her age…. Was she normally <em>really</em> that small?</p>

<p>“Hello Miss…?” She let the question hang in the air.</p>

<p>“Greengrass, <em>Heiress</em> of the Most Ancient and Noble House of Greengrass.” The newly declared Heiress Greengrass stared up into her eyes.</p>

<p>Of all the wizards and witches she’d met tonight, she’d yet to feel a more calculating gaze. She felt she was being sized up, weighed, and judged. Two months of drills and training instantly processed the input and short wired the appropriate response straight to her mouth.</p>

<p>“Heiress Greengrass, thank you and your family for hosting tonight’s festivities. And thank you for extending an invitation to a foreign witch such as myself.”</p>

<p>“Nonsense. You are a guest of Lord Slytherin. Any guest of his lordship is a guest of House Greengrass.” The young witch smiled. “I do find myself wondering though, just how well you know his lordship.”</p>

<p>She stared at the young pureblood heiress. A girl the same age as her and Harry. The daughter of the Lord who was hosting the party Harry was using for his political games. The wheels spun.</p>

<p>“He is my teacher. He has taught me many things.”</p>

<p>“You are lucky, Miss Timberland. Lord Slytherin is an amazing person.”</p>

<p>“I know <em>that</em>.”</p>

<p>“I would hate him to put his trust in someone who may not truly understand his value.”</p>

<p>She bristled at that. “I <em>do</em> understand his <em>value</em>,” she said, the last word dripping with distaste. “He’s one of the most amazing wizards of his generation. He can do things many adult wiz—” she clapped a hand over her mouth, appalled at the words that slipped out.</p>

<p>Greengrass smiled a stony smile, but ignored her slip. “The fact that you are still comparing him to ‘those of his generation,’ shows you still don’t truly appreciate his value.”</p>

<p>Hermione tried to compose herself.</p>

<p>“But don’t let it get to you,” Greengrass continued, “You really <em>are</em> doing amazingly well. I can see why he’s putting so much effort into you.”</p>

<p>Hermione didn’t respond. She didn’t dare herself to speak.</p>

<p>“I hope to meet you again soon, before our paths inevitably cross in a more permanent fashion.”</p>

<p>Hermione watched the annoyingly precocious blonde walk away. She felt she’d just been given a massive backhanded compliment. What had the little witch meant? That she might not appreciate Harry? Rubbish. She’d completed every piece of work Harry had ever given her, often ahead of time, and <em>always</em> to his satisfaction.</p>

<p>Lost in thoughts, she failed to notice her teacher’s presence until he was right on her.</p>

<p>“Knut for your thoughts.”</p>

<p>“Ack!” She jumped, breathing heavily, “Don’t do that!”</p>

<p>Harry, still wearing his emerald-green mask, snickered. “You ready for the next round?” he asked, waving towards the groups of wizards and witches still milling throughout the grand-ballroom of Greengrass Manor. “You’re creating quite a stir, you know. Everyone wants to know where such a beautiful, well-mannered, and cultured witch sprang from.”</p>

<p>She blushed.</p>

<p>“Sure. Okay.”</p>

<p>Face still flushing from the unknown feeling rushing through her, she let herself be led across the floor to another group. Despite her recent slip, she allowed herself a moment of satisfaction. She was doing well, and Harry was happy with her.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Back in her ten-year-old body, Hermione stood in front of her desk mirror, and thought about that night.</p>

<p>The feelings that had rampaged through her all night had been scary. She’d felt she wasn’t in control of her own mind or body. Every other thought would stray towards Harry. Not for any good reason that she could identify. Just because.</p>

<p>The blonde’s comments hadn’t helped.</p>

<p>As soon as she’d arrived home, wearing her standard jeans and t-shirt, she’d grabbed, and re-read, the book on puberty her parents had gifted her a year ago. The first time through, she’d understood what was being said at an intellectual level, but the difference between that and living it was as large as the difference between the river and the ocean.</p>

<p>The feelings were slowly fading back into nothingness. But she understood she’d been given a taste. And that was the taste of a twenty-two-year-old, when the throes of puberty were supposed to be over. What was it going to be like in the next few years?</p>

<p>She shivered.</p>

<p>A week ago, the idea of living in a castle, full of other witches and wizards, with Harry, seemed like a dream. Now it seemed like a plot to drive her insane. But, even if her body was no longer pumping hormones, her mind still remembered the feeling. It remembered that at some deep level, she’d enjoyed it, and wanted it.</p>

<p>She shook her head, and, like a good student, switched focus to the next few weeks.</p>

<p>Soon, Harry would start teaching her magic. Real magic. There was almost a whole year left before Hogwarts started, and she’d be getting her letter in just a few weeks. Her parents would then find out about magic. That scared her, but Harry would be there for her. Her parents liked Harry. And Harry… she was pretty sure Harry liked them too…</p>

<p>[Chapter end - September 1990]</p>

<p style="text-align: center;">— End of Chapter Six —</p>

