Chapter 70 - Nature Red - Part 14

<p>All was quiet in the Room of Requirement. Or the Room of Lost Things. Or the Come and Go Room. Or whatever name one might give it.</p>

<p>Susan sat with her back to the door to the outside world, hands up around her knees.</p>

<p>Violet Chesterfield stood nearby, looking up at the shuttered windows with her hands behind her back.</p>

<p>The conversation had been awkward and confusing. Susan had never quite known what to make of the pair of Hufflepuff muggleborns one year below her. They were clearly twins, but at the same time, their personalities were very different.</p>

<p>Marrigold was bubbly and energetic.</p>

<p>Violet felt more subdued. More serious.</p>

<p>The first thing Susan had asked when Violet had appeared was if she was the reason the door wouldn’t open.</p>

<p>Violet denied it and then went on to explain how the Hogwarts wards worked during a lockdown.</p>

<p>According to the muggleborn, the unique warding required for the Room of Requirement made it enough of an extension of Hogwarts that the war wards counted it as external to the rest of the Castle. “Hence, the lockout,” Violet said. “Though that doesn’t include the siege wards. If we had enough fire power, I’ve no doubt we could blast our way out.”</p>

<p>“What are you even doing here?” Susan asked. “I would have thought you’d want to watch your sister down in the arena.”</p>

<p>Violet gave her a rare smile. “It was my intension to watch over one our interests in the castle. Everyone being down at the arena, and Marrigold being one of the duelists, makes for such a wonderful opportunity to poke around.”</p>

<p>“What interests?”</p>

<p>“I couldn’t possibly say.”</p>

<p>“Is it something to do with the Gray?” Susan folded her arms. “It’s not a secret, you know. Everyone knows Slytherin has been recruiting all the muggleborns.”</p>

<p>Violet laughed.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nanowrimo-30"></a></p>

<p>“Luna! With me!” Lion-Harry roared.</p>

<p>Luna was already sprinting across the chamber. She scrambled onto his back and shimmied up to just behind his head, sinking into the mass of snakes.</p>

<p>“Hold on!” Harry shouted.</p>

<p>“Or, you could hold onto me,” Luna replied.</p>

<p>A dozen snakes coiled tightly around Luna’s ankles. Another group weaved themselves into a set of reins.</p>

<p>“Now, hold on!” Harry shouted again.</p>

<p>In one leap, he bounded into the pipe-way the basilisk had retreated through, and together the two began to give chase.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Snake Crown, this is Eagle Eyes, can you hear me?”</p>

<p>Daphne swung her legs back and forth on the tree branch she was sitting on, trying her best not to worry. Still no reply.</p>

<p>Down in the arena, Alex was panting. The fifth-year Gryffindor opposite her wasn’t as good as the fifth-year from Hufflepuff, but he didn’t need to be. Long continual combat with no breaks was starting to take its toll.</p>

<p>In the Hufflepuff dugout, a certain first-year twin grinned at the display. Behind her, Cedric Diggory watched with a keen eye.</p>

<p>High up in the stands, Lord Jacob Greengrass passed by his wife, one row below, to sit back down next to Xenophilius. “No word from Harry?” Xeno whispered. Jacob shook his head.</p>

<p>On the other side of the arena, Lord Malfoy frowned as Alexandra Black succeeded in dispatching her fifth opponent. Narssissa leaned close. “Maybe we could solve Draco’s problem with a contract between her and Alexandra,” she whispered.</p>

<p>In the quidditch stadium, Virgo watched Dumbledore at work with rapt attention. Every wand move, every incantation — she soaked it in like a sponge.</p>

<p>“Snake Crown? Snake crown, this is Eagle Eyes, can you hear me?”</p>

<p>Daphne pursed her lips.</p>

<p>She heard a faint crackle.</p>

<p>“Hi, Eagle Eyes!” came Luna’s cheerful voice through the ear mirror. “We’re chasing the basilisk! It ate Dumbledore’s phoenix and the tears keep it healing!”</p>

<p>“What?!”</p>

<p>“It left the chamber through an exit Harry doesn’t know about.”</p>

<p>Daphne couldn’t keep the alarm out of her voice. “Where are you?!”</p>

<p>“No idea!” Luna chirped back.</p>

<p>“Shadow!” Daphne shouted down the mirror. “Anything on the map?”</p>

<p>“Not yet,” came Ginny’s voice back.</p>

<p>“Keep watching!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p><a id="dec-13"></a>In the Room of Requirement, Susan was starting to get annoyed. The reason for this was simple. Violet Chesterfield, twelve-year-old Hufflepuff muggleborn, was monologuing.</p>

<p>“I can’t help feeling the Wizarding World has lost it’s way,” Violet said. “Back in the old days—back before the statue of secrecy—wizards and muggles lived together. They worked together. They played together. Muggles watched quidditch! Everyone knew magic was real. Can you imagine what our world would be like if they still did?”</p>

<p>“No,” Susan replied. And she couldn’t. She’d lived in the hidden world of magic all her life. The idea of Muggles being let in on the secret was utterly unthinkable. “And I’m not interested in debating it,” she added. “Aren’t you even a little bit worried? We’ve been stuck in here for ages now!”</p>

<p>Violet ignored her. “Haven’t you ever wondered why they did it?”</p>

<p>“Did what?”</p>

<p>“The International Statute of Secrecy.”</p>

<p>A vein throbbed in Susan’s forehead. “Everyone who grew up in our world knows why they did it. Muggles discovered calculus. Once they’d mastered that, it was only a matter of time before they created weapons powerful enough to threaten us.”</p>

<p>Violet smiled. “And so, the Wizarding World set out to erase the knowledge of magic’s existence from the mind of every muggle on planet Earth. Hundreds of millions of them.” She tilted her head. “Instead of erasing the knowledge of calculus from the minds of the dozen or so high-level mathematicians who’d mastered it?”</p>

<p>Susan hesitated.</p>

<p>Violet turned away from her, hands behind her back. “Do you hear that?”</p>

<p>“Hear what?”</p>

<p>Violet chuckled. “I think we’re about to have company.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="dec-14"></a></p>

<p>Lion-Harry bounded up the twisting and spiraling tunnel pipe at full speed, Luna holding herself fast in his snake-mane, relaying coms with the outside world through their ear-mirrors.</p>

<p>Harry’s mind was racing. He’d never been up this pipe before. Keeping track of their direction was pretty much a lost cause. He had only his instincts to guide him. Where were they going to come out?</p>

<p>“Virgo and Dumbledore still haven’t broken into the chamber!” Luna shouted behind him.</p>

<p>Harry didn’t have the breath to spare to growl.</p>

<p>“And Susan still hasn’t left the come and go room!”</p>

<p>Harry banked hard right as the pipe took another twisty turn, throwing all four paws against the wall to arrest his momentum.</p>

<p>That would mean that Ginny was still outside the room as well. It would be a good idea to order her to retreat somewhere safer. The problem was, where would be safer? Without knowing where the exit was, the map wouldn’t provide a useful warning.</p>

<p>A shiver went down Harry’s spine, causing all his snakes to momentarily stand on end.</p>

<p>“Whoa!” Luna called out.</p>

<p>Where else on the map wasn’t shown? The Room of Lost Things.</p>

<p>A certain inevitability sank into Harry’s gut. Where had Virgo been holed up in for many weeks on end?</p>

<p>The Room of Lost Things.</p>

<p>“LUNA!” Harry bellowed as the pipe leveled out. “GET GINNY OUT OF THERE, NOW!”</p>

<p>Luna didn’t hesitate.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“GINNY, GET OUT OF THERE, NOW!”</p>

<p>Ginny didn’t hesitate.</p>

<p>She ran.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="dec-15"></a></p>

<p>A grinding sound echoed throughout the Room of Lost Things.</p>

<p>Susan’s head whipped around.</p>

<p>The portal to the Chamber of Secrets was opening. With no one to speak parseltongue. All by itself.</p>

<p>“What the he—”</p>

<p>That was as far as she got.</p>

<p>Still only half way open, the portal exploded.</p>

<p>In the next few seconds, several things happened in quick succession.</p>

<p>First, the bricks that made up the wall of the room shot out in all directions.</p>

<p>Susan didn’t even have time to flinch.</p>

<p>Second, a brilliant bubble of golden light snapped into place around her. The bricks smashed against the shield. Some disintegrated on impact. Others spun away deeper into the room. A cloud of dust enveloped the shield.</p>

<p>Now, Susan flinched.</p>

<p>Third, the brick dust billowed apart, like a curtain being flung back, as something huge lunged through it.</p>

<p>Now, Susan screamed.</p>

<p>Fourth, the basilisk. The hells-damned basilisk, crashed into the shield of golden light with a sound like a ten tonne hammer hitting the world’s largest bell.</p>

<p>It bounced off the dome and crashed away.</p>

<p>A moment later, there was another deafeningly loud smashing sound as the thousand year old snake ploughed not only through the room’s door, but also through the castle’s protective wards.</p>

<p>Susan registered a wand at her side, pointing into the shield. Violet.</p>

<p>“W-w-w-w—”</p>

<p>Violet grabbed her firmly, waved her wand again, and the two vanished from sight. She found herself yanked to the side.</p>

<p>Fifthly, and most definitely not finally, Luna freak’n Lovegood arrived in the room, riding a Morgana-be-damned Chimera! The beast roared and took off after the snake, it’s own mane of snakes hissing wildly all the way.</p>

<p>A second later, it was all over.</p>

<p>A book shelf John had set up for storing dueling books from the library finished tipping over and smacked into the floor, sending it’s contents spilling out across the flagstones.</p>

<p>The two of them popped back into sight.</p>

<p>“Well, well, well,” Violet said, looking about as impressed as if someone had just scored an interesting shot in quidditch. “That was something.”</p>

<p>Now, Susan began hyperventilating.</p>

<p>A painful smack across the face snapped her out of it.</p>

<p>“None of that,” Violet said. “Don’t you have something to be doing?”</p>

<p>“Doing?!” Susan screeched. She stared at the girl standing before her. “Doing what?! Do you even know what that was?!”</p>

<p>“Of course. And I know about the promise you made Madam Bones.”</p>

<p>“You were listening?!”</p>

<p>“I was. Well?”</p>

<p>Susan’s mind shifted gears. Yes. Violet was right. The door was open now. She needed to get to the Headmaster’s office. She needed to open the way for the aurors. This had all got way out of hand. She said she’d stop it if it did. And clearly, Virgo had lost control. And there was a Chimera now too!!</p>

<p>She nodded her resolve.</p>

<p>Violet bowed before her. “After you then, Miss Bones.”</p>

<p style="text-align: center;"><a id="dec-16"></a>— DPaSW: NRiCaD —</p>

<p>Ginny ran.</p>

<p>She shifted between cheetah and human form at will, sprinting down long corridors on four legs, while taking stairs three at a time on two.</p>

<p>Behind her, the sounds of a seriously pissed off rampaging killing machine got fainter and fainter, but still she ran.</p>

<p>The snake was still traveling in her general direction, and until she heard other wise, she intended to follow Harry’s order, and stay the hell away.</p>

<p>Not that she wouldn’t like a crack at the beast—in fact, she craved it, it made her heart race and her palms tingle just thinking about it—but she was aware she had a job to do, and do it, she would.</p>

<p>Eventually, the crashing sounds started getting more distant, even when she slowed down. Evidently, the snake had veered off in another direction, giving her some breathing room.</p>

<p>Ginny slowed to a trot, then shifted back into a witch, slowly down from a run to a jog, before finally stopping, breathing heavily, and whipping the map from her pocket to inspect.</p>

<p>A quick scan later told her exactly what she needed to know. “Eagle Eyes, the is Shadow,” she said, after fully getting her breath back. “I have Bones on the map.”</p>

<p>“Where is she?” Daphne’s urgent voice came back.</p>

<p>“Heading towards the professor’s apartments.”</p>

<p>“The Headmaster’s Office,” Luna’s voice cut in, raised to overcome a background cacophony. “The emergency floo. Her Aunt.”</p>

<p>“Shadow, Intercept her,” Daphne said in a firm voice.</p>

<p>“On it.” She moved to head off.</p>

<p>“No hurry,” Luna added. “Snake Crown says he has just locked the passageway leading up to it.” There was the sound of a large magical explosion in the background before her voice returned. “But he also says it’s important to get Bones out of the action.”</p>

<p>“Got it.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="dec-18"></a></p>

<p>The crowd in the dueling arena continued to cheer as Alex put paid to her latest opponent.</p>

<p>“Winner, Alexandra Black!” Bagman’s voice rang out. “Slytherin 6 — Gryffindor 0!”</p>

<p>Sirius clapped loudly. “Well done, Alex! Well done!”</p>

<p>“She is doing well, isn’t she?” said Jacob Greengrass on his right, clapping along side the rest of the crowd.</p>

<p>“Indeed,” agreed Xenophilius Lovegood on his left.</p>

<p>The exclamations of a few wizards further down the line prompted Sirius to turn back to Jacob, just as a magnificent Golden Eagle alighted on Lord Greengrass’s outstretched arm.</p>

<p>“Thank you, daughter,” Jacob said, taking a neatly folded up piece of parchment from a proffered talon.</p>

<p>Daphne Greengrass took flight as Lord Greengrass unfolded and subsequently read the parchment. “Ahhh.” He handed it to Sirius. “Looks like duty calls, my friend.”</p>

<p>Sirius took the parchment and read.</p>

<p><em>Chief Auror, Sirus Black.</em></p>

<p><em>It may interest you to know that one Mister Albus Dumbledore is currently attempting to circumvent the war wards of Hogwarts and break his way into the Chamber of Secrets, taking with him, a Hogwarts student of the first year.</em></p>

<p><em>Leaving aside the legality of such behavior, given that Dumbledore currently has no direct authority in Hogwarts, it is imperative that the chamber remains closed until the operations to subdue the monster inside the castle are complete. To do otherwise would needlessly expose the outside citizenry to unnecessary risk of instant death — an outcome that my future lord husband has labored tirelessly to ensure doesn’t happen.</em></p>

<p><em>They are in the Ravenclaw girl’s bathroom in the Quidditch Stadium.</em></p>

<p><em>Yours with the greatest respect,</em></p>

<p><em>Miss Daphne Greengrass</em></p>

<p>Sirius crumpled the parchment up, tossed it over his shoulder, and glared at Lord Greengrass.</p>

<p>“Well?” Jacob asked.</p>

<p>The two lords stared each other down.</p>

<p>In the arena below, Alex walked back onto the grass to more loud cheering.</p>

<p>Sirius broke first. “Okay, okay. I’ll go. But, I swear, if it turns out that Lord Slytherin is up to anything shady in all this, I will find out.”</p>

<p>“Your duty does you credit, Chief Auror,” Jacob said. “Except you left something out in your deceleration.”</p>

<p>“What?”</p>

<p>“We’ll go,” said Xeno behind him. He was reading the crumpled up note.</p>

<p>“What?”</p>

<p>“<em>We’ll</em> go,” Xeno repeated, putting emphasis on the we’ll. “It will be good for you to have two seated members of the Wizangamot witness whatever it is that’s about to go down. And more to the point—” He gave Sirius a bright smile. “What else are friends for?”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="dec-21"></a></p>

<p>Ginny felt her heart beat in her chest. Invisible, silent, not even a scent to mark her location, she lay in wait for her prey behind a stone statue that hid the secret passage way she’d just sprinted down to get here.</p>

<p>Her ear piece was deactivated.</p>

<p>The invisibility cloak hid her, even from the gaze of Death himself.</p>

<p>Far off, on the other side of the castle, a very faint roar indicated that Harry was finally getting stuck into the fight with the Basilisk. Though the fact that it sounded a long way away, didn’t actually mean much in a castle with magic secret passage ways.</p>

<p>Ginny licked her lips.</p>

<p>Her heart hammered.</p>

<p>On the map she held, Susan Bones was drawing ever closer to her location.</p>

<p>She freak’n loved moments like this.</p>

<p>It wasn’t as good as actually fighting the basilisk, but it would do.</p>

<p>The sound of footsteps on flagstones faded into hearing.</p>

<p>Ginny grinned.</p>

<p>It was time.</p>

<p>She felt a draft on her ankles.</p>

<p>She frowned.</p>

<p>She looked down.</p>

<p>Her shoes, socks, and ankles were visible.</p>

<p>The cloak had risen up and was exposing everything from her shins down.</p>

<p>What the—?</p>

<p>There was a flash of red, and Ginny pitched forward, falling into unconsciousness.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Violet?” Susan called out. “Where did you go?”</p>

<p>“I’m here.”</p>

<p>Susan jumped in surprise as the Hufflepuff slid out of the shadows. “What were you doing there?!”</p>

<p>“Nothing important. Come on.”</p>

<p>“But, what were you—”</p>

<p>“Quickly, now! Hup hup hup!”</p>

<p>Another distant roar made Susan reconsider her need to know just what the girl had been up to and follow her back along the corridor towards the professor’s apartments.</p>

<p>As they jogged along, the faint sounds of titanic battle seemed to get closer and more distant, seemingly at random.</p>

<p>At one point, Susan flinched as a door just ahead of them burst apart in a shower of splinters and the snake barreled through and into another door exactly opposite, followed several seconds later by Luna mounted on the Chimera.</p>

<p>Another second and they were both gone again — the sounds of battle once again distant and faint.</p>

<p>Only then did she realize she was, once more, invisible..</p>

<p>“Not much further,” Violet said in a voice far too calm for the situation.</p>

<p>Susan could only nod and follow.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="dec-22"></a></p>

<p>Sweat rolled down Professor Dumbledore’s face.</p>

<p>Virgo watched in begrudging admiration. That kind of power was quite something to behold.</p>

<p>Still, if they couldn’t get through the wards, it wouldn’t make any—</p>

<p>There was the a sound rather like breaking glass — a faint tinkle as something delicate cracked and fell to the ground.</p>

<p>The old coot had actually done it.</p>

<p>Dumbledore straightened up. “Ahh, there we go. After you, my dear.”</p>

<p>Virgo took a deep breath. She’d been considering this moment — considering whether revealing her animagus self was worth it. Ultimately, she’d decided it was. She needed to get into the castle, and this was, annoyingly, the only way.</p>

<p>Virgo transformed. Moments later, where once there had been a young witch, there was now a fully grown lamia.</p>

<p>“Remarkable,” Dumbledore said. “Red and gold are very much your colours, my dear.”</p>

<p>Virgo said nothing, but simply turned to face the wall and hissed out, §Open§.</p>

<p>The secret passage way to the chamber of secrets ground itself open.</p>

<p>“Very interesting that your top half is simply a grown up version of your true self.”</p>

<p>“Yes,” said a deep male voice behind both of them, causing Virgo to almost swallow her tongue. “Very interesting, indeed.”</p>

<p>Virgo turned. Three wizards stood in the doorway to the Ravenclaw girl’s changing room. She instantly recognized Lord Greengrass and Lord Lovegood. They were problematic. The one in the middle though, made her grit her teeth in frustration.</p>

<p>“Ahh,” said Dumbledore in that incredibly annoyingly clam way of his. “Sirius. How good of you to join us. And you too, Jacob, Xenophilus. As you can see, we’ve discovered a way to investigate what might be going on up at the castle and make sure nothing illegal is happening. I was planning to send a message, but you seem to already be on the ball, as the muggles would say.”</p>

<p>Virgo mentally rolled her eyes at that. Grade-A bullshit spoken with a tongue so silver she had no idea how the man hadn’t been put in Slytherin.</p>

<p>“Yes…” Sirius said, slowly. “And you, Miss Malfoy? How long have you been an animagus?”</p>

<p>“Three daysss,” Virgo lied. “I didn’t have time to register, which is why I didn’t ussse it in the tournament.” Damn damn! All that patience and caution wasted!</p>

<p>Lord Black grunted. “Well, we’ve got word from Lord Slytherin that no one is to go up to the castle until he’s done.”</p>

<p>“With respect, chief auror,” Dumbledore started. “Just because Slytherin may control the wards, might I remind you that doesn’t mean he has the legal authority to do so. His position right now is an oddity — one brought about by practical necessity owing to the rogue house elf.”</p>

<p>Virgo’s ears pricked at that.</p>

<p>“The Headmaster administers Hogwarts, under the guidance of the board,” Dumbledore continued. “But the board itself is ultimately responsible to the Wizengamot, as are we all. As the Chief Warlock, it is my responsibility to ensure Hogwarts is not being used as one wizard’s private playground.”</p>

<p>“And this has nothing to do with Harry,” Sirius said.</p>

<p>Virgo bit her rather long tongue.</p>

<p>“Of course not,” Dumbledore rejoined. “Though, if we did find that Harry was involved, obviously I’d expect you to do your duty as Chief Auror.”</p>

<p>Sirius visibly ground his teeth.</p>

<p>“Fine. Xeno, Jacob. Wands out and stick by me. Albus, you too. The girl, however, can not come.”</p>

<p>“What?!” Virgo shouted.</p>

<p>“You are a child,” Sirius rounded on her. “You will stay here and close the door after us. The monster must not be allowed out this way.</p>

<p>Virgo opened her mouth to protest before a thought struck her. A devious thought. Hundreds of tunnels and passageways, spanning many dozens of miles, crisscrossed the space around the chamber and through the school like a web. The chance of anyone finding their way through them without parsel-tongue was next to zero.</p>

<p>“Okay,” she said in the meek voice of a little girl, which instantly earned her a suspicious look thrown at her by Dumbledore. She’d probably over played that one a little.</p>

<p>“Good,” said Lord Black. “Come on.”</p>

<p>The lords and Dumbledore trooped into the passageway.</p>

<p>§Close§ Virgo hissed as they walked deeper into blackness.</p>

<p>The passageway ground shut</p>

<p>But not, if she had any say in the matter, for long.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The problem, Harry thought, as he continued to sprint down corridor after corridor on all fours with Luna on his back, was that the basilisk just could. Not. Be. Stopped!</p>

<p>Every trap they’d set up. Every contrivance. Every device. They all barely did anything to so much as slow down the gigantic slithering monstrosity.</p>

<p>And nothing that Luna could fire at the thing from his back was working either.</p>

<p>At that rate they were going, it really would succeed in out-lasting the blinding solution and regaining it’s glare of death.</p>

<p>Maybe they could coral it into a dead end?</p>

<p>“Bulldozer,” Harry called out. “Is Shadow finished with Bones?”</p>

<p>“Shadow isn’t responding!” Luna shouted back, sounding worried.</p>

<p>Drat. Not good.</p>

<p>The basilisk tripped one of the Weasley Twin’s portable swamps, and, being a giant fuck off snake, swum straight through it.</p>

<p>Also not good.</p>

<p>“If we could get in front of it, I could give it another go with the machine gun!” Luna shouted. “We still have lots of rounds left!”</p>

<p>Harry shook his head. “Useless unless we can stop it healing! We need a way to get the Phoenix out of it’s stomach!”</p>

<p>“What about a puking pastie?!” Luna shouted.</p>

<p>“That… might actually work!”</p>

<p>The basalisk crashed through a guillotined doorway, paying no heed as said guillotine simply bounced off the thick scales.</p>

<p>“We need a place to corner it!” Harry bounded over the fallen blade and continued his headlong dash after the snake.</p>

<p>“What about the Great Hall?!”</p>

<p>“Too many exits!”</p>

<p>“The dungeons?”</p>

<p>“Too confining!”</p>

<p>“The Astronomy tower?”</p>

<p>“Too open!”</p>

<p>“Gryffindor or Ravenclaw Tower?”</p>

<p>The basalisk smashed its way through yet another ‘secret’ passageway, the supply of which, was being sorely tested.</p>

<p>“Those are options!” Harry bellowed back. “Now we need a way to control it’s movement!”</p>

<p>“What about Fiendfyre?”</p>

<p>“I can’t cast it while transformed!”</p>

<p>“I could try!”</p>

<p>“Can you control it?!”</p>

<p>“No! But you can!”</p>

<p>The basalisk didn’t even slow down as it skimmed over a sea of caltraps the size of quaffles.</p>

<p>“Okay!” Harry eventually shouted. “We’ll try it!”</p>

<p>“Kay!”</p>

<p>“Do it!”</p>

<p>Behind him, Luna took in a massively huge breath and shouted, “MALUS IGNIS TOTALUS DIABOLUS!!!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="dec-24"></a></p>

<p>“Another dead end!”</p>

<p>“Let’s try back that other way and then take the second left!”</p>

<p>“Bad news. The second left isn’t there any more.”</p>

<p>“What?!”</p>

<p>“It’s a right now.”</p>

<p>“Damn it all! This is pointless!”</p>

<p>Raised voices echoed up and down the Hogwarts Pipe Network, not even remotely close to the Chamber of Secrets.</p>

<p>Sirius Black stormed up to the Chief Warlock of the Wizengamot, who, against all expectations, had the good grace to at least look sheepish.</p>

<p>“Dumbledore, you can gain at least some access to the wards, can’t you? Can’t you guide us?”</p>

<p>In response, Dumbledore fished a bag of sherbet lemons out of a pocket. He sighed. “If I could, I would, Lord Black. It’s not access to the wards that’s the problem. It’s that we don’t have a parsel mouth with us. All the dead ends we’ve come across are clearly meant only for one of Salazars’ line to cross. I fear I had not anticipated just how extensive the Chamber’s passageways were.”</p>

<p>“Then we need to go back and get the Malfoy girl,” said Jacob, arriving behind them.</p>

<p>Dumbledore popped one of the sweets from his bag into mouth and chewed thoughtfully.</p>

<p>“Yes,” he eventually said. “If we can find our way back.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="dec-23"></a></p>

<p>The inside of the headmaster’s office was absolutely still and quiet. Not even the sounds of battle from elsewhere in the castle filtered in, nor the summoning of literal demons into the mortal realm from where best left unsaid.</p>

<p>That is, until the low sound of stone grinding on stone echoed up the passageway.</p>

<p>Then came the sounds of two sets of footsteps and the panting breath of one set of lungs.</p>

<p>Susan burst into the room, put her hands on her knees, and took in deep labored gulps of air. her whole body ached. Her heart hammered. She looked around and noticed that all the paintings—just like everywhere else in the castle—had been stilled. Even the massive poster of Headmaster Lockhart, hung up behind the desk, was frozen in place, looking down at her with what could only be described as a look of good-natured concussion.</p>

<p>She’d never been in the headmaster’s office before.</p>

<p>She’d never needed to be here.</p>

<p>She looked around all the arcane devices that lined the many shelves — around the many dozens of ancient looking tomes — until her eyes landed on the small bag of floo powder sitting by the fire place.</p>

<p>Susan trotted over to it.</p>

<p>With this, she’d be able to open a path for the aurors. She should have told her aunt about everything that was going on ages ago. She’d let herself be carried along by John and Virgo. That wasn’t how the heiress of a noble house was supposed to act — least of all, one of her linage.</p>

<p>She snatched up the bag of powder.</p>

<p>No. Once this was over, she was going to tell her aunt everything. Everything about the basilisk. Everything about Virgo. And everything about Harry Potter — everything about Lord Slytherin.</p>

<p>Yes, she’d get in massive trouble, but it had to be done.</p>

<p>She should never have let things get this far.</p>

<p>She turned to the empty fire place. “Violet, I need a fire.”</p>

<p>Silence.</p>

<p>“Violet?”</p>

<p>Susan started to turn.</p>

<p>As she did, something powerful shot straight at her! She didn’t have time to counter or even shout.</p>

<p>The magic hit her straight in the chest. Her arms and legs snapped to her side. The bag of floo powder fell to the floor. Her body went as rigid as a wooden board.</p>

<p>Susan started to fall. Before she could hit the ground, powerful levitation magic caught her in its firm grip. Lifting her back up, the magic fully turned her around, bringing her face to face with her assailant.</p>

<p>Violet had her wand casually pointed at her, maintaining the floating spell on her now trapped body.</p>

<p>“All in good time, Miss Bones,” Violet said, with a look on her face that Susan had never before seen, and which sent a chill down her spine. “But before you go calling in your regent, you and I need to sort out some small business.”</p>

<p style="text-align: center;">— End of Chapter Seventy — </p>
