Chapter 71 - Nature Red - Part 15

<p>All across Magical Britain, thousands of wizards were glued to their wirelesses, waiting for news of just what was going on up at Hogwarts.</p>

<p>At the Ministry of Magic, Amelia Bones desperately tried to keep things moving in the right direction while hundreds of ministry wizards fretted at not knowing what was happening with both their executive, over a quarter of their legislative body, as well as a not insubstantial chunk of their total citizenry.</p>

<p>In Hogsmeade, a full half of all the Ministry’s active aurors stood ready by the floo at the Three Broomsticks.</p>

<p>Out in the Duelling Arena, the crowd continued to cheer as Alex battled her last opponent.</p>

<p>Deep below ground, the party of investigating wizards, led by Lord Black, was now trying to find its way back to the surface.</p>

<p>Inside the Ravenclaw girls’ changing room in the quidditch stadium, Virgo Malfoy continued to watch the sealed exit to the Chamber, counting down the minutes.</p>

<p>A small cloaked figure left the duelling arena, unseen, and unnoticed.</p>

<p>Birds chirped and the grass rustled.</p>

<p>Outside the castle — outside the arena — everything was still and calm.</p>

<p>Inside the castle, literal hell reigned.</p>

<p>The destruction wrought throughout the halls was monumental.</p>

<p>Several stairways had been utterly smashed.</p>

<p>A few hallways were now completely unusuable.</p>

<p>Many more had their walls, floors, and ceilings fused from grey stone to black glass.</p>

<p>Countless paintings had vanished.</p>

<p>Debris lay everywhere.</p>

<p>Up in the Headmaster’s Office, Susan, still floating completely immobile, stared at Violet in shock.</p>

<p>“There is no need to look at me like that,” Violet said. “This will not take long. I just need to make sure you won’t be telling anyone about my being here. Or any of that other stuff I just pulled off. Deflecting an ancient basilisk’s strike with a mere magic shield? Breaking into the Headmaster’s office when Lord Slytherin just locked it down? I dare say that our astute Mister Potter would definitely take a little too much notice of something as out of place as that. And we can’t have that.”</p>

<p>What?! Susan thought. What was she talking about?!</p>

<p>“You know, your family has always unironically interested me,” Violet continued. “Well, I mean, of course. Any family that specializes in necromantic forms of divination is on my radar. I have a vested interest in Death, shall we say.”</p>

<p>This isn’t Violet. The thought gripped Susan in a moment of dread. Both for what it meant for her position here, and for what it meant for the real one.</p>

<p>“Now, I know what you’re thinking,” the fake Violet in front of her said. She squinted at Susan and sighed. With a flick of her wand, Susan suddenly found her mouth capable of speech again, even if every other part of her body was still locked in place.</p>

<p>“Who are you?!” Susan demanded. “What have you done with Violet?”</p>

<p>The Violet in front of her smiled. “That’s better. And done? Why, nothing. Violet Chesterfield as you know her, does not exist.”</p>

<p>What?! That couldn’t be! John would have noticed! In the last time line—</p>

<p>“The Chesterfield twins currently believe themselves to be the Martinez twins. They are first years at Beauxbatons Academy of Magic. Do not worry your vicious little head, my dear.”</p>

<p>Susan was still very much worried. The wand pointed at her hadn’t budged an inch. And this person had explicitly said that they meant to silence her. She needed to buy time and learn more. “You still haven’t said who you are.”</p>

<p>The Violet, who apparently had been Violet all along, laughed. “True. And I apologise. I do have a bad habit of monologuing. My wife always says so.”</p>

<p>Susan’s brain screeched to a halt. “Your wife?!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Virgo silently counted down the final minute she’d given herself. Time to enact part two of her plan. The Chief Auror had given her the perfect excuse to rid herself of Dumbledore. Now she could infiltrate the castle alone.</p>

<p>§Open!§</p>

<p>The entrance to the Chamber ground aside, again.</p>

<p>She prepared to slither in. Hahaha.</p>

<p>“Hi, there!” said a cheerful voice.</p>

<p>Virgo nearly bit off her own tongue.</p>

<p>She whirled around.</p>

<p>“Oh my god. Your scales are beautiful!”</p>

<p>Marigold Chesterfield.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="dec-28"></a></p>

<p>“My wife,” Violet said, looking utterly unperturbed. “She’s had quite the holiday these recent months — swanning around the Hogwarts halls again. I think the high point for her was beating on your little soul fragment during duelling practice.” Violet smirked. “She does like to take pleasure in the little things. Not one to hold a grudge at all.”</p>

<p>Susan’s heart skipped a beat. “You know about—” She caught herself just in time — just in case Violet was only fishing. Unfortunately, it was not to be.</p>

<p>Violet laughed. “Know about our dear Virgo Malfoy and the darker side of her past?”</p>

<p>The way she said dear put Susan in mind of a scornful teacher on seeing a failing student.</p>

<p>“Of course I know. And the same goes for our illustrious Lord Harry Potter and his additional serpentine surname. Do you honestly think that one such as I wouldn’t be able to know a soul fragment when I encounter one?”</p>

<p>“I still don’t know who you are!”</p>

<p>Susan continued to bob up and down. She’d slowly rotated and was now bobbing up and down, upside-down. It occurred to her that her communications mirror that let her talk instantly with her aunt was still in her pocket — had been in her pocket the whole time — and if she’d just used it when the basilisk first broke into the Room of Requirement, instead of also wanting to open the way for the aurors, she’d not be in this position now.</p>

<p>Violet chuckled. “True enough, my dear. Not that it really matters anyway. I intend to modify your memories once we’re done here so it’s not as though any of this will matter.”</p>

<p>What?! Not possible.</p>

<p>“It’s not something I like to make a habit of. Reliance on such things can make one sloppy. And if there is one thing among many I cannot stand, it is sloppiness. Another reason why my wife and I took every opportunity to have our fun with your John this year. Though that was more my wife’s thing than mine.” Violet gave Susan another smirk. “Stealing my stone is one thing, but failing to steal it, is quite another.”</p>

<p>Susan’s thoughts—which had been racing through all the horrible possibilities for what this unknown wizard might do once he found out he couldn’t memory charm her, because of the noble house ring she wore—screeched to a halt.</p>

<p>“The stone?” Susan whispered. “The stone from last year? The philosophers’ stone? You are Nicolas Flamel?”</p>

<p>Violet’s smirk grew wider.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>“Why didn’t you tell anyone you could turn into a snake girl?”</p>

<p>“I have my reasons.”</p>

<p>“But this is so amazing!”</p>

<p>“Be silent. This is not a place for idle chatter.”</p>

<p>“You could give rides to all the other students!”</p>

<p>“I’m not giving rides to anyone!” Virgo snapped.</p>

<p>Marigold pouted. “Are you always this grumpy?”</p>

<p>Virgo practically snarled. “I didn’t ask you to come with me!” The two witches were halfway down one of the many tunnels on the way to the Chamber. In truth, Virgo had meant to ditch the Hufflepuff muggle born at the first parseltongue passageway, but the girl had proven remarkably sticky.</p>

<p>Every bone in her body wanted to just stun the annoying chit and have done with it, but that would damage the reputation she was trying to build.</p>

<p>Virgo took a deep breath to calm herself.</p>

<p>At least this one hadn’t yet once uttered the phrase, ‘fuck toy.’</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Susan shook her head in denial. “You can’t be Nicolas Flamel,” she stated. “You can’t be. Nicolas Flamel is the Immortal Alchemist. The Watchful Eye. He doesn’t interfere with the affairs of mortal wizards.” Susan felt herself getting angry. “He didn’t interfere when Grindelwald was ravaging Europe. He didn’t interferr when You-Know-Who was taking over Magical Britain. Nicolas Flamel is less active than the Merlin-damned Lupins!”</p>

<p>Violet’s eyes now possessed gleam///now gleamed///now held a gleam — as though holding back a joke that no one but she would appreciate. “I’m not interfering now,” she—he? said. "I’m just doing what I said I would do when Lord Harry Potter Slytherin extracted my stone from the mirror at the end of the last school year. I am watching. I am, after all, as you said, The Watchful Eye. I will only interfere if I believe it to be truly necessary.“</p>

<p>“And this isn’t interfering now?!” Susan demanded.</p>

<p>“What? Helping you get to the Headmaster’s office? You believe that to be unreasonable? If I hadn’t been where I was, you would have most certainly died.”</p>

<p>Susan hesitated. That was true, wasn’t it?</p>

<p>“Anyway.” Violet shrugged. “Enough monologuing. Time for you to forget this meeting and to forget I was ever here.”</p>

<p>Susan felt the anger flow back. “You can’t memory charm me!” she practically shouted. “If you didn’t remember, I’m an heiress! I am noble! I wear a noble house ring! One that can not be removed by anyone, except me, under any circumstances, and only by me when I’m not being forced, and this would certainly count as forced! Even if you cut off all my fingers, it would still be there in magic!”</p>

<p>She tried to wiggle the finger on which her noble house ring sat to give emphasis to her words, but like the rest of her, the petrification spell still held fast, and she still couldn’t so much as flex a toe.</p>

<p>Violet waited in silence for the rant to end. Then, with very little ceremony, she reached out, placed her fingers around said ring, and, with no effort at all, slid it clean off.</p>

<p>Susan went white.</p>

<p>Her brain simply could not comprehend what had just happened. No. Just, no.</p>

<p>Violet shrugged. “Don’t worry yourself, Susan. The mysteries of the Albion are known only to a few.”</p>

<p>Susan had never felt so exposed, so vulnerable, in her entire life. It was as though she’d had all her clothes violently ripped from her body. Except her ring protected her mind. “Please,” she whispered.</p>

<p>Violet placed her wand on Susan’s forehead. “Obliviate.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="dec-29"></a></p>

<p>Virgo hissed at yet another portal heading towards the Chamber. Yet again, doors of ancient magic unlocked in a wriggle of metallic snakes to open the passage[[[way]]] beyond.</p>

<p>“Come on,” Virgo hissed. She started to slither forward.</p>

<p>After a few seconds, she realized that there was a distinct lack of something.</p>

<p>That inane babbling chatter had ceased.</p>

<p>“Chesterfield?” Virgo said, coiling around to look back the way she’d come.</p>

<p>Her voice echoed.</p>

<p>The pipe-way was empty.</p>

<p>Virgo snorted. Good riddance.</p>

<p>She was about to turn back again, when she realized that Marigold wasn’t the only thing missing.</p>

<p>Her hands felt strangely empty.</p>

<p>She stared at them in shock.</p>

<p>“No.”</p>

<p>Virgo instantly shifted back into her witch form to start frantically patting her robes — as though that would in any way help. It wouldn’t. She knew.</p>

<p>“No! No! No!”</p>

<p>Her wand had also vanished.</p>

<p>“YOU MUDBLOOD WHORE! I’LL KILL YOU!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="dec-30"></a></p>

<p>“Heiress Alexandra Black wins!”</p>

<p>The crowd went nuts.</p>

<p>“Another clean sweep, my lords and ladies, wizards and witches! I don’t know about you all, but I can’t wait for the internationals when these phenoms grow up! Harry and John Potter, Virgo Malfoy, and now Alexandra Black! Watch out, Wizarding World, because Magical Britain is coming!!!”</p>

<p>Next to Bagman, someone leaned in and spoke excitedly while the crowd continued to stamp and cheer.</p>

<p>“Oh of course!” Bagman shouted after that man finished. “Can’t believe I almost forgot! Do we have Miss Weasley here?! Wouldn’t it be amazing to have our future quidditch star present the duelling tournament cup?! Yes, I think it would! Miss Weasley? Are you here? Come on up!”</p>

<p>Up at the castle, in a passageway on the way to the Headmaster’s Office, hidden under the invisibility cloak, Ginny Weasley stirred.</p>

<p>“Ughhhhh,” she muttered.</p>

<p>Her whole mind felt like someone had stuffed it full of cotton wool.</p>

<p>The young witch got one foot under her, tried to stand, and staggered.</p>

<p>The map was on the floor in front of her.</p>

<p>She groped for it.</p>

<p>She stared.</p>

<p>Susan was no longer anywhere to be found.</p>

<p>A cold feeling sank into her heart. That didn’t mean she was dead, did it?</p>

<p>And what had even taken her out? She’d been in maximum stealth mode and everything.</p>

<p>Groaning, Ginny fixed her ear mirror to her ear.</p>

<p>“Shadow?! Shadow?!”</p>

<p>It was Hermione’s voice, spoken in a panicked whisper.</p>

<p>“Shadow here,” Ginny muttered.</p>

<p>“They want you in the duelling arena!” Hermione continued. “They want you to present the cup!”</p>

<p>Ginny groaned again. She was Harry’s secret weapon. The one witch in Harry’s inner circle not everyone was supposed to know was as badass as she actually was. Quidditch star was as far as it was supposed to go. Everyone knowing she’d been in the castle while the basilisk thing was going on would be awkward. “Well, I can’t leave the castle,” Ginny replied. “You know that. Just use my polyjuice and get up there.”</p>

<p>“Oh!” Hermione said, sounding surprised, then flustered. “Oh, right. Yes. Yes, I can do that.”</p>

<p>“Shadow!” came Luna’s squeal. “You’re safe!”</p>

<p>“Yeah,” Ginny replied. “Something took me out. No idea what. But I’m fine now. And Susan’s vanished. Is the basilisk down yet?”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="Jan-7"></a></p>

<p>Dumbledore frowned as they marched straight into yet another dead end.</p>

<p>“Maybe we could try the old ball of string trick,” suggested Lord Greengrass.</p>

<p>Dumbledore sighed. “If this is indeed an intentional final defense against someone without parseltongue finding their way into the pipe network, I fear that Salazar would have thought of that trick.”</p>

<p>“Pity,” said Xenophilous. “Then we just have to wait for Lord Slytherin to pull us out. That or your Miss Malfoy. Bet you’re feeling a right old ninny now, aren’t you?”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Crouched under the invisibility cloak, Ginny listened with rapt attention while Luna reported the situation.</p>

<p>“Fiendfyre is working to corral it, but if it gets too close, the basilisk can still kill it with a bite. Though it does seem to cause a lot of pain. I don’t like that, but it will not let us just kill it. Not a single spell we have tried works — it is just too big — not even the imperius curse. The mouth is clearly its weak spot — we killed it the first time with a Ballista (((ChRiAn suggests it may be a name creation: basiliska bolt))) bolt, but now its refusing to open its mouth for anything except Fiendfyre and fire and that won’t work because the demons destroy anything that gets close. That and we are out of bolts. Harry’s pretty sword also works, but we need an already open wound and the phoenix keeps healing it. If we could get it to eat a puking pasty, that’s probably our best bet, but nothing we try is working. Not even transfigured bait. It knows it's fake.”</p>

<p>Ginny’s eyes narrowed. An idea lodged in her brain. Her heart sped up at the mere thought of it.</p>

<p>“Well, whatever you’re going to do, you need to do it quickly,” Daphne said. “The tournament’s over now and people are going to start getting angsty if they’re trapped too long.”</p>

<p>Ginny came to a decision. Adrenaline pumped through her blood. Her fingers tingled. With a sudden jerk she started running. After all, she thought, the only reason Harry forbade her from joining the fight was because she couldn’t fight blindfolded. And from what she understood, that was no longer a problem.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="Jan-8"></a></p>

<p>Amelia Bones'[[[s, MageKing17 says that's what's usually used]]] head reappeared back in the floo after being away for some minutes. "Done. I've sent the word to the strike team in Hogsmeade. Hang tight and stay out of their way."</p>

<p>"Yes, Aunty," Susan replied.</p>

<p>There was a flash of green fire and the head of the DMLE vanished from view again.</p>

<p>Susan collapsed down to the floor and breathed in deeply.</p>

<p>She'd been memory wiped.</p>

<p>There was a block in her mind. She could feel it if she concentrated her occlumency in just the right way. She had no idea what had happened that would have convinced her to accept an obliviation, but that was also irrelevant. If there was one thing noble children had hammered into them from the first moment they could summon their rings, it was this… if you had a memory block, you did not tamper with it. You had no idea what you'd done before. You might have signed contracts. Those contracts could have penalty clauses for removing the blocks. More than one noble family had been reduced to destitution by such a mistake.</p>

<p>Ultimately, you just had to trust yourself.</p>

<p>Susan watched the floo from which fully armed aurors would soon be pouring.</p>

<p>After all, she thought, being forced, or even coerced, into removing your noble house ring, was, as everyone knew, impossible.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Shacklebolt marched into the main drinking space in The Three Broomsticks, which, for once, was free of both drinks and the usual local clientele. What it was full of instead was sixteen heavily armoured wizards and witches. Massive iron shields lay against table legs. All manner of magical equipment sat around unpacked on tables and on the bar.</p>

<p>"Aurors!" Shacklebolt barked. "We have positive confirmation that a mature basilisk and a Chimera with serpentine elements have been spotted fighting within the walls of Hogwarts. Our primary objective is to scout, kill, or trap both. If Fate blesses us, they'll have worn each other out by the time we get there. If none of that is possible, a contingent of one hundred from Control of Magical Creatures is arriving in thirty minutes. Our priority would then be to ensure that neither leaves the walls until a containment ward can be set up. We're also to look for opportunities to extract a first-year female student that was spotted in the combat zone. Susan's in there as well, hopefully keeping her head down by the floo. We're assuming that at least one of the two monsters may be an agent of Lord Slytherin, but take nothing for granted. Standard 5X engagement rules apply."</p>

<p>A few nodded. Some exchanged glances. None smiled.</p>

<p>"Gear up!"</p>

<p>As one, every auror whipped out and donned a pair of wrap-around sunglasses before fixing goblin-silver spear tips to spear-like broom shafts with fluid, well-practiced motions. With a deep bellow of "UP!", every broom leapt from its wielder's hand like it had gone rogue before settling down, hovering vertical a foot from the ground.</p>

<p>"Move out!"</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="jan-9"></a></p>

<p>"Hiisss!!!!"</p>

<p>"Roooaarrrr!!!"</p>

<p>"ROAAAARRRRRR!!!!"</p>

<p>In Ravenclaw Tower, three monsters faced off. The basilisk lay coiled tightly right in the very corner of the common room, its massive form backed up as far as it could go.</p>

<p>Before it, stood Chimera!Harry and T-Rex!Luna, the former standing tall and ferocious, the later… barely standing at all. Ravenclaw tower, even with all the space expansion charms, was not the best place for such a confrontation. But it was the best they'd managed with the hand they'd been dealt.</p>

<p>And now they stood, staring each other down. Neither side willing to engage, but also either incapable or unwilling to retreat.</p>

<p>"We must find a way to end this," growled Harry in English. "Or we could be in trouble."</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>The aurors came.</p>

<p>They burst from the floo like an unending stream, wizard after wizard, until all had arrived.</p>

<p>"Kingsley!" exclaimed Susan from under the table.</p>

<p>"Susan," Shacklebolt acknowledged. "Good job holding the floo. Now go. Your aunt wants you with her."</p>

<p>Susan nodded.</p>

<p>The aurors swept out of the headmaster's office and down the spiral staircase.</p>

<p>They fanned out into the corridor, bayonetted broomsticks whirling around their forms, directed by thought and intent, wands covering every corner, iron shields lined up against any threat.</p>

<p>"Anything?" Shacklebolt asked Mad-eye.</p>

<p>"Nothing," the old auror replied, eye whirling around inside his skull.</p>

<p>A distant roar shook the castle.</p>

<p>"Ravenclaw Tower," snapped one of the aurors.</p>

<p>"Go!" Kingsley ordered.</p>

<p>The aurors stormed up the corridor, turned down a secret passageway, wound their way through several more, and reached the intersection between the Great Hall and the Grand Staircase.</p>

<p>"Stop!"</p>

<p>The aurors all skidded to a halt.</p>

<p>"Traps!" Mad-eye shouted.</p>

<p>"Magical Merlin," Shacklebolt whispered. The formerly rough stone walls of the castle had been melted into black glass. A trail of utter destruction fanned out down every corridor.</p>

<p>"Looks like Slytherin really made a go of it," muttered Savage.</p>

<p>"Any left active?" Shacklebolt asked.</p>

<p>"None so far," said an auror with short white hair.</p>

<p>"Found one!" said another. There was an intake of breath. "Over-powered runic freezing charm on a trigger. Nasty little thing. Anti-snake, maybe?"</p>

<p>Shacklebolt nodded. "Maybe."</p>

<p>From far above their heads, another wall-shaking roar vibrated through their bones.</p>

<p> "Alright! We can't hang around any more," Shacklebolt declared. "Traps or no traps. Move with caution! Sweep floors, walls, and ceilings. If we find something we can't pass, we find another route. Go!"</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="jan-13"></a></p>

<p>Faster, Ginny thought, sprinting through the castle at max speed. Faster! Faster! Faster!</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>"Another dead end!" Jacob called.</p>

<p>Dumbledore chuckled darkly. This had to be the first time that he'd ever found himself wishing for Tom's actual presence.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Virgo slithered out of one of the many entrances to the Chamber. Finally, she was inside the castle! Wandless, yes, but still, success! Now all she had to do was find the basilisk and then—</p>

<p>"CONTACT!"</p>

<p>Virgo's head snapped around.</p>

<p>The sight of a dozen spells heading her way, all of which felt powerful enough to take out a fully grown bicorn, produced an instinctual reaction. For months, she'd been living on a hair's trigger, fully expecting another assassination attempt. It was for this reason that she'd never taken off the portkey given to her by John Potter all those months ago.</p>

<p>"LIGHTSAFE!"</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>In the Hogwarts infirmary, a row of petrified wizards and witches lay in neatly-made beds, neither asleep, nor awake.</p>

<p>There was the sound like a hole being wrent in the universe and a red and gold lamia fell onto the flagstones with a loud "Oww!"</p>

<p>Seconds later, a young girl with piercing cold eyes, dressed in full dragon hide duelling robes stood up where the lamia had been.</p>

<p>She sweapt to the doors and tried to physically open them, but they didn't budge. Like the rest of the castle, the infirmary was in complete lockdown.</p>

<p>Virgo screamed.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="jan-15"></a></p>

<p>The roars ahead grew ever loader the nearer she got. Ginny sprinted up the stairs of Ravenclaw Tower three at a time, knowing that at the end of this climb lay the beast that had been responsible for her own death in the last timeline. But she was not the same scared little witch that John Potter had condemned to possession. Her heart hammered wildly. She was a killer. She had been trained to kill.</p>

<p>Ginny bolted past the destroyed portal into the Ravenclaw common room to find three monsters facing each other down.</p>

<p>"Pastie!" Ginny screamed.</p>

<p>"Ginny!" roared Chimera!Harry.</p>

<p>The Tyrannosaurus Rex changed.</p>

<p>A puking pastie sailed through the space towards her.</p>

<p>Ginny snatched it out of the air and ran forward. She had only one try to get this right, assuming the basilisk would take the bait at all.</p>

<p>The Basilisk loomed. It stared right down at her.</p>

<p>Ginny could count her own heartbeats.</p>

<p>One. Ginny dug into her pocket and produced a silver sickle, indistinguishable from any other, save for a slight alteration of the wording on the face.</p>

<p>Two. She crouched down low to avoid a swipe of the tail and flung both the sickle and the pastie high up into the air above the snake's head.</p>

<p>Three. Ginny fired three spells in quick succession. With her wand, she fired a sticking spell at the pastie. With her free hand, she fired a finite incantatum at the sickle. As the finite was half way to its target, she followed that up with a self-switching spell.</p>

<p>Four. Five. Six. The sticking spell splatted against the pastie, carrying it further and adhering it clean to the ceiling. The sickle changed and a cloud of dandelion seeds exploded out in all directions. The self switching spell connected with one of the floating seeds and Ginny felt the switch begin.</p>

<p>Seven. Ginny appeared in mid air far above the basilisk.</p>

<p>She just had time to look down at the snake's head before she began to fall and the basilisk began to tilt its head up.</p>

<p>Eight. She watched the basilisk snap it's mouth open. Rows of pointed fangs, dripped with the most dangerous venom known to wizard-kind. A coiled tongue as long as she stood tall rested in its jaws. A gullet like a pit into hell promised death and digestion if she messed this up. Ginny fired the most physically powerful spell she knew to her side, flipping her over, back to her fate.</p>

<p>Nine. Ginny fired another switching spell. She curled up into a ball and waited, long red hair streaming behind her.</p>

<p>Snap!</p>

<p>Darkness.</p>

<p>Ten.</p>

<p>No teeth pierced her skin.</p>

<p>Her hands landed on moist flesh.</p>

<p>Not waiting even a moment, powerful muscles dragged her backwards towards the beast's gullet, and certain death.</p>

<p>For a moment, Ginny panicked.</p>

<p>Then she felt it.</p>

<p>Eleven.</p>

<p>The pull of the switching spell caught her. She accepted it's power more gratefully then she'd ever accepted a switching spell before.</p>

<p>The world flipped and she was once again in open air.</p>

<p>…open air, but still right above the basilisk.</p>

<p>She started to fall.</p>

<p>Again.</p>

<p>Ginny's mind raced.</p>

<p>She immediately flung out her arm and cast another switching spell on one of the dandelions that was still floating///that still floated (((LVE: Potentially clarify switching spell target when Ginny is in snake mouth.))) in the cloud of white seeds.</p>

<p>She fell trough the cloud. Puffs of white went everywhere.</p>

<p>The spell caught.</p>

<p>She switched again, higher this time, but still falling.</p>

<p>And faster.</p>

<p>And faster.</p>

<p>The snake below her snapped its mouth open again.</p>

<p>This time, Ginny did panic.</p>

<p>But before the same pattern of falling and switching could begin again, he was there. Just as he always was.</p>

<p>Harry caught her as she fell, softening the impact, and flashing past the snake's jaws that tried to snap down on them before they were out of strike range.</p>

<p>He carried her like a bride to the edge of the common room and landed gently back on floor.</p>

<p>Ginny didn't want to move from where she was now pressed up against his chest, but knew she had to.</p>

<p>"Good work," Harry said, planting her back on the floor. He tilted her chin up to look at him. "But don't ever try that again, okay?"</p>

<p>Ginny felt a heat on her cheeks that had nothing to do with physical exertion. She nodded.</p>

<p>Then, from behind her, came a noise like a potions factory going critical through the digestive system of a bicorn.</p>

<p>The basilisk, which hadn't moved since snapping at her and Harry, was slowly turning a paler shade of sickly green.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="jan-23"></a></p>

<p>Harry carefully watched the basilisk go through a series of facial expressions that had no place existing on any snake, let alone one so large and deadly.</p>

<p>They were almost comical.</p>

<p>He stepped around Ginny with purposeful steps, positioning her behind him, and drew his goblin silver sword.</p>

<p>The edge of his mouth curled upwards as a particularly loud gurgle sounded from the belly of the beast.</p>

<p>"That's right," he half-whispered. "Give us the Phoenix. Out with it. Like a good little snake."</p>

<p>"Is basilisk vomit as dangerous as basilisk venom?" Ginny asked from behind him.</p>

<p>Luna answered the question. "Basilisk stomach acid is powerful, but not outrageously so. It can not digest bone, for example. But I do not think wizards have ever tested the acid from a basilisk as old as this."</p>

<p>The stomach noises slowly started to get louder.</p>

<p>Harry readied himself. "Either way, I think we're about to find out." He let his wand slide into his free hand.</p>

<p>The snake bent its neck sharply up and down, as though it's body was one large cramp.</p>

<p>Then, it made an ear-splitting keening noise, opened its mouth, and something exploded out from it.</p>

<p>But it was not liquid. Not liquid, per say.</p>

<p>It looked like damp black sand.</p>

<p>Harry frowned.</p>

<p>Another cramp, another ear-splitting keening, and another deposit of the wet black sand smacked down in front of the beast on top of the first load. Together, the two started to form a pile.</p>

<p>"What is that?" Ginny asked.</p>

<p>"It's odd," Luna said.</p>

<p>Harry leaned closer. It was almost like…</p>

<p>His eyes widened.</p>

<p>A frantic look to the side showed that Luna had reached exactly the same conclusion that he had at exactly the same time.</p>

<p>"GET BACK!" Harry shouted.</p>

<p>Not waiting for a reply, he leapt backwards, catching Ginny as he went and pulling her the several meters to the common room door with him.</p>

<p>Luna joined them a second later.</p>

<p>"What IS it?!" Ginny asked again.</p>

<p>Another cramp, another keening, another deposit.</p>

<p>"Phoenix ash!" Luna gasped out. "Cauldrons of it!"</p>

<p>Now Ginny's eyes widened too.</p>

<p>"And covered in basilisk acid!" Harry added. "We used a lot less than what's there already for the ritual and that trapped us in an alternate dream space for over a year and a half!"</p>

<p>"And there's more coming," Luna added, her voice now taking on a hint of awe as a fifth hacked-up deposit was made. "No wonder the poor thing was in such a bad mood."</p>

<p>"And I'm guessing we can't just ignore it, or?" Ginny asked.</p>

<p>Harry shook his head. "That much ash in a situation like this? It's a quite literal time bomb. We need to wait for it to finish, then hope to Merlin we can move it away before—"</p>

<p>There was a sound like a drain being unclogged, a seventh—or was it eighth—hack, and a medium-sized thing shot from the basilisk's jaws and right into the damp ash.</p>

<p>Ginny and Luna both gasped.</p>

<p>Harry's mouth became a thin line.</p>

<p>The thing constantly shifted form. It mutated and shrunk, beaks and feathers growing at weird angles. An extra taloned leg jutted from the small of its back.</p>

<p>Feathers detached and fell away, only to be replaced by new ones. Patches of skin showed through, cyst-covered and raw.</p>

<p>But the most shocking thing, was it's eyes. Damp ash oozed from twin black orbs in a slow constant stream like flowing magma.</p>

<p>Fawkes let out a pain-filled song note.</p>

<p>Right before Harry's eyes, in the rich oxygen-filled air of the Ravenclaw Common Room, the phoenix started to burn. "SHIELDS!"<a id="jan-24"></a></p>

<p>The pile of ash erupted.</p>

<p>There was no plan for this, no pre-arranged training. At no point had Harry ever sat Luna and Ginny down and said, "Alright, girls. If ever we're caught in the middle of a detonating pile of Phoenix ash triggered by a mutated rebirthing fire chicken, you, Luna, will cast a physical shield, you, Ginny, will cast a shield for magic defense, and I'll handle the heat." There was no plan like that.</p>

<p>Nevertheless, three wands instantly raised, and three magic shields instantly snapped into being, one physical, one magical, and one heat. Concentrated and powerful, they overlapped perfectly, giving the three standing behind them, Luna and Ginny pressed up on Harry's sides, all the protection they needed.</p>

<p><em>Almost</em>.</p>

<p>Luna apparently decided that what Harry really needed to finish off his perfect defense was a blindfold.</p>

<p>Harry <em>heard</em> the silence as the first blinding flash expanded over them, and <em>tasted</em> the magic smash against the shields. He <em>felt</em> the air rush against his skin and the heat scorch the room to char.</p>

<p>For the briefest moment, he felt nothing else as time seemed to turn to treacle.</p>

<p>Then, all at once, the sound returned — loud and in charge.</p>

<p>Harry wiped the chest wrap off his face to find the common room utterly destroyed, on fire, and both Luna and Ginny kneeling beside him in obvious pain, their hands clasped to their faces as though trying to dig the light out of their eyes.</p>

<p>And before him, in the middle of the room, the mutated Phoenix rose.</p>

<p>Slowly, Fawkes climbed into the air, changing in pulses as he went. More feathers sloughed off. Beaks grew, then shrank, then grew again. Wings appeared in places they had no business being, before contracting back in on themselves. But with each pulse, the mutations became less, and the original Phoenix became more.</p>

<p>The clues came together and Harry realized what he was seeing. The damn thing was actually going backwards in time. That was how the Phoenix rebirth thing <em>worked</em>.</p>

<p>He reached down with his free hand to comfort Luna and got a whimper and a desperate death grip on his forearm in return.</p>

<p>Harry watched with cautious eyes as the Phoenix began a rapid series of transformations, from mutant to chick, from mutant to chick, again and again and again, faster and faster, before a final burst of flames emanated, Harry got the briefest glimpse of a restored adult bird, the flames consumed it utterly, and the next moment, it was simply gone.<a id="jan-27"></a></p>

<p>Harry stared.</p>

<p>The massive pile of phoenix ash on the floor was now gone, vanished as though it had never been.</p>

<p>The basilisk writhed in pain, the front half of it's head and body almost charred black. But even as he watched, the burn marks were healing, creeping up its neck, leaving pristine scales behind.</p>

<p>The rate of healing was slowing down though.</p>

<p>Harry put his hand on his sword handle and whipped it from its scabbard in one smooth motion.</p>

<p>Determined, he walked forward.</p>

<p>Each step of his feet sounded like a cannon blast to his ears.</p>

<p>The sound of the basilisk writhing in pain faded from his consciousness, as did the still burning fires.</p>

<p>The beast's writhing seemed to slow.</p>

<p>It contorted again.</p>

<p>Clearly it wasn't quite done throwing up yet.</p>

<p>Fine.</p>

<p>Harry finished the final steps to the snake just as it opened it's mouth widely again, ready to spew forth whatever might be left in its stomach.</p>

<p>Harry lunged.</p>

<p>His feet left the ground.</p>

<p>His flight sailed true.</p>

<p>His blade found flesh.</p>

<p>The snake juddered as his sword sunk home.</p>

<p>All in an instant, the world sped back up. Harry felt warm liquid splatter on his face as the top half of the head of the basilisk sliced clean in two from snout to neck. A literal spray of basilisk blood shot upwards like a sticky mohawk before it hit the roof of the common room, leaving a wet and dripping red line.</p>

<p>For a moment, the snake didn't seem sure what had just happened. It just stayed there, still, with Harry's blade lodged in the mouth of its jaw. Then Harry felt the gravity assert its claim on the massive weight. The ancient monster of Slytherin, possibly the single most dangerous creature in the wizarding world, the guardian of the school, fell. Harry flew back.</p>

<p>The basilisk smacked onto the floor at his feet with an almighty thud that shook the stone walls of the room. Dead.</p>

<p>"And we're done," Harry announced, wiping the blade on his robes. "If we're quick, we can get this down into the chamber, and Alex may get her basilisk inferi. Not to mention all the other goodies we can snag from the kill."</p>

<p>"Finders keepers," sang Luna wandering over.</p>

<p>Both her and Ginny seemed to have recovered somewhat from the light, though Ginny still wore the expression of a witch emerging from a pitch-dark cave into a mid-day sun. She cautiously inspected the gigantic serpent which had to weight dozens of tonnes. "Big Monster time?" she guessed.</p>

<p>Harry nodded. "Big monster time."</p>

<p style="text-align: center;">— End of Chapter Seventy-one — </p>

{} []: The Chimera's sense for danger should be revised (Ch57 says it detects everything that's intended to be a killing blow): https://discordapp.com/channels/342065231842902017/387696969499541514/986002363728945182

{ 261} [puking]
{ 415} [puking]: DoctorLore: I don't know if this is intended to be a change from canon or just a mistake, but in canon the prank items that Fred & George made that make you throw up are Puking Pastilles (a pill) rather than Puking Pasties/Pasty (savoury pastry dish) as appears 1 time in the previous and two in this chapter

https://discordapp.com/channels/342065231842902017/387696969499541514/932041242387292240
