Chapter 72 - Nature Red - Part 16

<p>“I really need to start exercising more,” Hermione muttered as both she and Alex descended the stairs from the announcer’s box back towards the Slytherin dug out. “Ginny’s body is so much easier to move in. The girl feels like a rubber ball.”</p>

<p>Alex grinned. She’d been grinning for quite a while now. The duelling trophy still rested in her hands, high above her head. “But if you stopped reading so much and started getting all athletic and stuff, who’d be our team’s designated massive nerd?”</p>

<p>Hermione snorted. “You, probably. Don’t think I don’t know about your Boy-Who-Lived adventure collection.”</p>

<p>Alex spluttered wildly before choosing to ignore the comment in favor of basking in more trophy glory.</p>

<p>As they reached the dugout, the cheering and clapping died down and all around them, spectators started looking around speculatively.</p>

<p>“Now what?” Alex whispered.</p>

<p>Hermione covertly slipped her earpiece back on.</p>

<p>“Bookworm, this is Eagle Eyes,” Daphne’s voice said, almost immediately. She must be watching from a nearby perch. “Snake-Crown has achieved the primary objective. He’s currently securing the kill.”</p>

<p>Hermione let out a deep breath. She turned to Alex. “He did it.”</p>

<p>Alex gave the air a little fist pump. That done, she addressed the next most important matter. “So, now we just wait?”</p>

<p>Hermione nodded. “The most difficult part is over. Once he’s secured the kill and made the school safe again, there will be no reason to stay in lockdown.”</p>

<p>On the far side of the arena, Ludo Bagman cleared his throat so everyone could hear him, presumably about to ask everyone to have patience and that they were doing what they could to speed up proceedings.</p>

<p>Hermione smiled. “I’d say that went pretty well.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="feb-8"></a></p>

<p>“That looks heavy.”</p>

<p>Ginny watched the her best friend and Harry slowly drag the massive snake corpse across the Ravenclaw common room, leaving a trail of black blood as they went. The task clearly wasn’t easy, even for a T-Rex and a Chimera.</p>

<p>Ginny bit her lip.</p>

<p>They’d done it.</p>

<p>They’d really taken down the basilisk. And that, even when it turned out to be self-healing.</p>

<p>In another time, this thing was responsible for her death. She couldn’t help wonder how it had happened. It was an image she’d been imagining for years now. Had it been quick? A simple glance into instant death? Had she been poisoned, screaming on the floor in agony as her life spasmed away? Crushed? Squeezed? Swallowed whole?</p>

<p>They’d done it.</p>

<p>Ginny grinned. She’d done it.</p>

<p>And now, Harry would reap the rewards.</p>

<p>A thought hit her, instantly dousing her moment of triumph.</p>

<p>Bones.</p>

<p>Her heart fell.</p>

<p>The Hufflepuff hadn’t been on the map the last time she’d checked.</p>

<p>She stared for a second as Chimera-Harry grunted, shoving his shoulder with maximum effort into the side of the dead snake while Luna pulled on it’s tail.</p>

<p>Maybe she’d just missed her in the excitement? Maybe the witch had just ducked into a secret passageway and appeared on the other side of the castle without Ginny noticing.</p>

<p>Yeah, that had to be it. Or something. The snake hadn’t been anywhere near either of them! There was no way Susan could be dead.</p>

<p>Ginny reached for the Marauder’s map hastily shoved into a pocket.</p>

<p>Her fingers closed around it.</p>

<p>She pulled it out.</p>

<p>And that was as far as she got.</p>

<p>Phoenix fire flared</p>

<p>Ginny’s head jerked around.</p>

<p>Albus Dumbledore appeared between them in a blaze of magical fire, wand out, radiating more power than Ginny had ever felt from anyone, ever.</p>

<p>Luna was nearest.</p>

<p>She roared.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="feb-11"></a></p>

<p>Dumbledore had been ready for anything. An ongoing pitched battle with Slytherin’s Monster, perhaps. Maybe Harry Potter in the process of permanently subverting Hogwarts’ defenses. Or possibly, Lord Slytherin facing down his own protege in a climactic battle to the death, as the living horcrux attempted to seize control of the monster that Slytherin wished to destroy.</p>

<p>Dumbledore thought he had been ready for anything. He hadn’t been ready for a long extinct land dragon, so large it had to squat and with teeth the size of daggers, roaring right at him.</p>

<p>His magic reacted with barely a prompting thought needed. A powerful magical blast rocked the floor below him, producing a small crater and sending broken flag stones flying into the air around him.</p>

<p>A flick of the elder wand and the flying rubble transformed into three flying halberds.</p>

<p>They shot towards the monster with barely a mental command needed.</p>

<p>In the split-second the halberds were en-route, Dumbledore took stock.</p>

<p>The Ravenclaw Common room was utterly destroyed. A humungous snake almost as large as the Hogwarts Express lay unmoving to one side, confirming Tom’s story about the basilisk.</p>

<p>That was all he saw, until something that made his blood run cold leapt over the land dragon’s head and planted itself right in the path of his attack.</p>

<p>The halberds’ pointy bits all struck the creature, and nothing happened.</p>

<p>Nemean Lion.</p>

<p>Dumbledore’s brain updated with more details a millisecond later.</p>

<p>Nemean Lion-Hydra hybrid. A chimera.</p>

<p>Not good.</p>

<p>The chimera roared.</p>

<p>Dumbledore shouted. “Fawkes!”</p>

<p>He felt comforting flames surround him and his point of view changed to the other side of the common room, behind the monsters.</p>

<p>He snapped his wrist, producing a flame whip from the elder wand.</p>

<p>The land dragon whipped around, causing the whole room to shake. The chimera jumped on its head and together the two monsters roared again. The chimera’s muscles bunched. No doubt it could easily cover the distance between them in just one leap.</p>

<p>Dumbledores eyes flicked to the gigantic basilisk. It was very much dead. There was no sign of Harry Potter or Lord Slytherin. The castle was still safely in lockdown.</p>

<p>…maybe retreating for the moment would be a better idea.</p>

<p>But before he could so much as give a mental command to his newly restored familiar, something sailed into the room from the doorway in a lazy arc, passing right over all their heads. It was small and black, and Dumbledore recognized it immediately. He should, because he supplied the primary raw ingredient to have them made.</p>

<p>Unfortunately, he didn’t have time to put on his sunglasses.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="may-6"></a></p>

<p>Harry’s world exploded. Light brighter than anything he’d ever experienced before seared every one of his many dozens of eyeballs.</p>

<p>Instinctively, he flinched down.</p>

<p>“GOGOGOGO!” Someone shouted.</p>

<p>Footsteps. Dozens of them.</p>

<p>If he changed, he’d be at their mercy.</p>

<p>He didn’t change.</p>

<p>“FREEZE!” Someone else yelled.</p>

<p>He felt the magic of over a dozen spells forming, and recognized many of them as belonging to the aurors.</p>

<p>Crap.</p>

<p>Then he felt the spears. They jabbed into his side, trying and failing to pierce. That he could do something about.</p>

<p>Whirling around, he batted away one spear, grabbed another with his jaws, wrenching it free and snapping it in two, and flicked another two away with his thestral tail.</p>

<p>The attacks stopped.</p>

<p>“Careful!” another of the aurors shouted.</p>

<p>The snakes of Harry’s mane hissed warnings to all not to get close.</p>

<p>Nothing further happened.</p>

<p>Slowly, his vision started to return. Clearly, the phoenix ash flashbangs were not nearly as potent as the mountain they’d just encountered.</p>

<p>Blinking away stars, Harry was greeted by a dozen goblin-silver tipped broom-spears all aimed at him from all sides. Their owners held them with steel-like grips and every auror looked grim.</p>

<p>Without moving his head, several of his snakes surveyed the scene behind and to his sides.</p>

<p>Dumbledore stood before them, next to one of the aurors, his wand out and also pointed at him.</p>

<p>And on Harry’s side, stood Luna. In her human form. Surrounded by three aurors with wands drawn and spears floating, all pointing at directly at her. The skirt of her robes was stained with blood.</p>

<p>Of Ginny, there was no sign.</p>

<p>The room was completely silent.</p>

<p>“I’m sorry,” Luna whispered. “Those spears hurt.”</p>

<p>Harry growled, and this time, there could be no doubt that this was not just a warning. He memorized their faces. He would make those three pay.</p>

<p>Clearly, something in his stance had changed enough to cause alarm. The aurors surrounding him took a step backwards.</p>

<p>“Wait!” shouted one of the aurors.</p>

<p>Harry saw it was Shacklebolt who had called out. Lord Black’s auror partner.</p>

<p>Harry tried to calm. He consciously brought his oclumency in on himself. Taking down the snake. Dumbledore bursting in on them. Then the aurors. He was better than this. He had to control himself. All of himself. He could deal vengeance for Luna later. The fact that the aurors in question couldn’t have known it was his Luna in the form of an ancient predator was, to be fair, a mitigating circumstance. On the other hand, to hells with fair.</p>

<p>Harry took a hundred tiny breaths into his central lungs and one large deep one.</p>

<p>Shacklebolt stepped forward. Like the others, he too held his wand pointing right at him with his spear floating beside.</p>

<p>“Oh, great predator of myth and lore,” he started, sounding like he was reading from a script. “We have seen your magnificence and respect your power. I am High-Warrior Shacklebolt, commander of the elite aurors of the Albion’s Ministry of Magic, led by High-Warlord Fudge the Terrible and the Mighty, by whose word a million warriors of magic and steel take to the sky to crush even the indestructible Nundu underfoot like bugs. Even as we speak, an army of fifty-thousand witches and warlocks approaches the gates of Hogwarts, undefeatable, unstoppable, capable of razing the castle to the bedrock in the blink of an eye. Whatever deal you may have cut with Lord Slytherin is irrelevant. He is not master of these lands! But we would not see such a great predator as yourself humbled by his duplicity. Such a thing would be a crime against nature, for one such as yourself, noble and royal of all the beasts. You will be given an island off the coast to rule over. As king! As is your right. Just speak you will come with us, and we will make it so, oh great predator.”</p>

<p>There was a long moment of silence before Shacklebolt spoke again.</p>

<p>“Unless, of course, you are an animagus as well. In which case, I <em>highly</em> recommend you to declare yourself <em>immediately</em>.”</p>

<p>Harry grunted. He’d been hoping to keep this particular secret under wraps for a little while longer than this. But it was better than the alternative. At least he would get to see Dumbledore’s face as one of the most dangerous magical creatures in the world transformed into Harry Potter.</p>

<p>Heh heh.</p>

<p>Harry locked eyes with the former headmaster.</p>

<p>And changed.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>Hiding under the invisibility cloak, Ginny couldn’t help but grin. The look on Dumbledore’s face had been utterly delicious. The shock. The horror. The scrabbling to try to take back control of a situation that had clearly spiralled so far out of his control and then utterly failing.</p>

<p>He’d been relegated to taxi duty. Heading back into the pipes to fetch Daphne, Alex, and Luna’s fathers.</p>

<p>That last one in particular wasn’t helping him get much of a grip back on proceedings.</p>

<p>Lord Lovegood had not been amused to find three aurors holding his daughter at wand point and the fact that he was flanked by their boss only made it worse.</p>

<p>Not that team Harry had everything going their way. The matter of the basilisk in particular was proving to be quite difficult.</p>

<p>Words that Ginny more normally heard coming out of Daphne’s mouth, like, “Right of Conquest”, “Eminent Domain,” and “Controlled Substances”, were flying around fast and thick, often with rising voices and flared tempers.</p>

<p>And in the middle of it all, sat Harry, cross-legged on the floor with his hands behind his back, like some kind of criminal. He had two aurors guarding him.</p>

<p>Harry’s fate was the least unambiguous of all the matters being argued.</p>

<p>Despite Lord Black’s desire to take personal responsibility for him, there was only one legal option open to them, as his partner Shacklebolt had pointed out.</p>

<p>Harry was to be handed over to Lord Potter, just as soon as he arrived.</p>

<p>With Dumbledore’s phoenix now back in play, even with the war wards still active, that wouldn’t be all that long.</p>

<p>Well, to hell with that.</p>

<p>Ginny fingered the portkey on the necklace still hidden under her robes.</p>

<p>She’d had to wait until the Aurors had shifted away from Harry enough to have this opportunity.</p>

<p>Slowly, cautiously, taking care to make neither sound nor magic, Ginny crept towards where Harry sat with his guards.</p>

<p>“I’m telling you,” Lord Greengrass said in a raised voice. “Lord Slytherin will be here soon!”</p>

<p>“Well, if he’s not here in the next ten minutes then I don’t care what he has to say!” Shouted back Amelia Bones, who’d arrived not long after the castle had been declared clear. “He should have told us!”</p>

<p>“He did!”</p>

<p>Ginny ghosted past the auror nearest Harry and arrived at his back. She slipped the necklace off herself and reached under the hem of the invisibility cloak.</p>

<p>“And it’s <em>still</em> full of Phoenix ash!” Another auror yelled at Lord Lovegood. “We can’t just hand it over!”</p>

<p>Ginny reached out and touched Harry’s hand. Harry’s hand jerked, then relaxed. Ginny squeezed, trying to communicate silently what she was doing, not trusting using even the tiny bit of magic needed to use their com rings around so many magic sensors, then forced the portkey into Harry’s open palm.</p>

<p>She closed his hand around the portkey and carefully backed away.</p>

<p>They needed Lord Slytherin to be here.</p>

<p>And they needed Harry to not.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="june-7"></a></p>

<p>With a stomach churning whoosh, Harry landed lightly in the darkened Hogwarts infirmary.</p>

<p>Thank Merlin for Ginny Weasley! His little ninja was proving herself again and again. He’d have to see if there was anything she wanted that he could reward her with. Although now that he thought about it, every one of his girls had performed above and beyond on this one. Daphne’s scouting and coordination, Alex’s success at the duelling tournament, Luna keeping up with him to lock the castle down, then helping to corral the snake, and shielding his eyes against the phoenix ash. Even Hermione, who hadn’t had that critical a role this time, stepped up when needed to cover for Ginny at the tournament.</p>

<p>Harry glanced around the hospital ward and found it empty, save the petrified students under covers.</p>

<p>A slightly longer glance at the bed where his twin lay helpless had him momentarily considering whether he should take advantage of the situation for some kind of extra petty revenge.</p>

<p>But no. No time. Plus, he was slowly taking everything that John valued in life from him, one chess piece at a time. That was more than good enough. For now, he had to get out of here. And that meant deactivating the war wards around the castle.</p>

<p>Harry closed his eyes. Accessing the wards in this state was no easy feat. It took concentration and skill. Eventually, he found what he was looking for. The switch to deactivate the lock down. He also noted that the magical power in the wards was still quite high, but that the three lock downs over the last two years had definitely taken a toll. The war wards were not infinite and could not be used indefinitely. They took time to recharge.</p>

<p>Harry manipulated his magics into position and, with a mental jab, flicked the switch.</p>

<p>All at once, a feeling like decompressing air could be felt.</p>

<p>Clangs and whirs sounded through the walls of the castle as locks were released, and windows opened.</p>

<p>This included the infirmary’s windows.</p>

<p>Light poured into the room as shutters were drawn back and sunlight poured through the glass.</p>

<p>Harry grinned and turned towards the nearest window.</p>

<p>Freedom.</p>

<p>That was, of course, when the lamia attacked.</p>

<p style="text-align: center;">— DPaSW: NRiCaD —</p>

<p>After getting a hold of herself, the very first thing Virgo had done was crawl under the nearest bed. She liked to think she was no fool. Far from it. She was, in fact, the greatest witch that had ever lived.</p>

<p>She knew full well she wasn’t the only one with a port-key that led right to the Hospital Wing. She knew that with her brand new brother laying petrified right in this very room, that the only other people who’d have portkeys were going to be with the Gray.</p>

<p>Laying there in full Lamia mode, Virgo silently prayed to Death for the opportunity she needed. After all, if Death wanted the horcruxes gone, the least he could do was provide her with a chance to put things right, even if it would also kill his agent. Potter could only be a tool to the powerful being, nothing more. That felt fair to her.</p>

<p>When one of the other portkeys finally did arrive Virgo’s heart started beating wildly in her chest. She tasted the air and the air tasted of victory. And of Harry Potter. The air also tasted of Harry Potter.</p>

<p>… Lord Slytherin.</p>

<p>She peaked out from under her bed and saw The Gray Lord in child form weaving an enchantment in the air. Her own scene of magic told her what it was. He was deactivating lockdown.</p>

<p>Most likely he was going to escape through one of the windows. Her guess was he’d been caught by the same aurors that had ambushed her.</p>

<p>He didn’t look like he had a wand on him, but that was never a certainty. It would have to be a quick strike then.</p>

<p>She waited until the time traveller had finished his spellwork.</p>

<p>Her whole body coiled into a spring.</p>

<p>Potter turned towards the windows.</p>

<p>Now!</p>

<p>Virgo struck. With all the striking force of a giant cobra, she launched herself towards him.</p>

<p>“What?!”</p>

<p>Before the boy knew what was happening, she’d grabbed him in a hug. A second later, several hundred kilos of snake had wrapped around them both, crushing them together.</p>

<p>“Virgo.” His voice was low and dangerous, but Virgo ignored it. She couldn’t help it.</p>

<p>“Sss, Sss, Sss,” she hissed in laughter. “The look on your face, Pottteerrrr,” she drawled the last word.</p>

<p>“You’re a lamia animagus,” Potter stated, his face barely an inch from her own. His feet no longer touched the ground. Despite his position, he seemed remarkably calm. “That’s how you got back in the chamber.”</p>

<p>“Mmm, I don’t know what you mean with that,” she cooed. “You’re the one that released the monster.”</p>

<p>“Still going with that fantasy are we, <em>Tom</em>?” he asked.</p>

<p>Virgo smirked in his face.</p>

<p>Potter looked like he had a sudden realization. “Wait, <em>not</em> Tom… Riddle could never have achieved an animagus form with a split soul.”</p>

<p>Virgo raised an eyebrow. He was fast on the uptake, but then she’d expect nothing less from a man like him. She felt him strain his muscles, as though trying to get free. It was useless of course.</p>

<p>“You are right,” Virgo said. “I am not the diary. Not any more. The sssoul of Julia Olson ssshines like a beacon.”</p>

<p>“When?” Potter asked.</p>

<p>“Mmm, can you not work that out for yourself?”</p>

<p>There was a pause.</p>

<p>“As you are now, you would make an excellent addition to the Gray,” Potter finally said. “Even your soul speaks to this. Pure darkness and pure light mixing together.”</p>

<p>Virgo hissed in laughter. “You would have me ssserve you, <em>Lord Ssslytherin</em>?”</p>

<p>There was a pause as Potter digested the fact that she knew who he was.</p>

<p>“Why not?” Potter eventually asked, still sounding calm, if incredibly focused. He could keep his head under pressure, she had to give him that. “You are already a daughter of House Malfoy. And your prime soul will never accept you as an independent entity. It is not in Lord Voldemort’s nature.”</p>

<p>“Ahh, yessss,” Virgo hissed. “That is certainly true.”</p>

<p>“He wishes you imprisoned,” Potter continued, gazing deeply into her eyes. “If not within a diary, then within something else, maybe even some<em>one</em> else. You cannot stay with the Malfoys. If you join me, I will protect you and grant you the resources needed to flex your talents.”</p>

<p>Virgo still had her arms wrapped around the boy she held in her coils.</p>

<p>“You make good argumentsss,” she hissed. “But there is a problem.”</p>

<p>“What?”</p>

<p>“I love John.”</p>

<p>The look of shock on Potter’s—no, on Lord Slytherin’s face was priceless.</p>

<p>“No you don’t.” The words sounded automatic, spoken without thought.</p>

<p>“I do,” Virgo replied. “He was there for me. When I was trapped in that hell, John was there.”</p>

<p>“Because you are more Julia…” Potter trailed off before speaking again with a little more heat. “The only reason we didn’t eliminate the diary was because we knew Julia was in there.”</p>

<p>Virgo tilted her head. “Mmm, that doesss make me feel bad. I’m not going to deny that joining you isn’t tempting. You are clearly sssuperior to John in many waysss. You are ssstronger. You are sssmarter. You have achieved ssso much in ssso little time. You are more like me than John in many other waysss, too.” Her eyes lingered on the scar on Potter’s forehead. She could feel herself there. This close, she knew what it was.</p>

<p>“And despite all that and more, you’re seriously going to choose my brother over me?” Potter now sounded like he was trying to solve some extraordinarily difficult puzzle.</p>

<p>Virgo chuckled and she let a hint of sadness into her voice. “Yes. It’s a ssshame, in sssome ways.”</p>

<p>There was a moment of silence in the hospital wing before she spoke the next words. Words she knew would be the start of a ritual — a ritual that would solidify her position as the greatest witch the world had ever seen.</p>

<p>“We are sssplit, Potter, and that is something that I truly regret.”</p>

<p>The Hospital Wing vanished.</p>

<p>Darkness filled Virgo’s world.</p>

<p>She suddenly found herself standing on the precipice of her soul chasm.</p>

<p>Virgo very nearly lost her feet as the ground she stood on began to shake violently. Behind her, in her mindscape, the towers of Hogwarts Castle began to crumble. The gate was thrown open. Out in front of her, the void between souls grew, somehow, even darker.</p>

<p>Virgo ran to the edge.</p>

<p>“I regret the forming of this coven!” she shouted into the blackness. “I regret the ritual my prime made to split us apart! By the powers that be may we be returned!”</p>

<p>One of the strands that reached out into the darkness flashed and became illuminated by a blinding white light. The light shot out into the darkness like fire was running up the strand.</p>

<p>The shaking of the soul chasm became more violent.</p>

<p>A second later, a whole cliff face was pulled by a single strand through the darkness. The massive fortress of Azkaban Prison was on a collision course with Hogwarts School.</p>

<p>The blinding bright strand ran straight through the walls of the prison and into something held deep within. Virgo began pooling her magics for what would be the most complicated and difficult spell she’d ever attempted.</p>

<p>“NO!”</p>

<p>The soul chasm vanished.</p>

<p>The Hospital Wing returned.</p>

<p>Virgo suddenly found herself flat on her back, the wind knocked out of her. She gasped. Her whole body felt lit on fire from the accumulated magics all released at once. She couldn’t move. She felt pinned. It took her a few moments to realize why.</p>

<p>There was a giant Chimera standing on her chest! And though her lamia form was large, the Chimera was absolutely massive.</p>

<p>“No.” The lion part said in a firm voice. “I think not.”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="june-11"></a></p>

<p>The look on the lamia animagus’ face was priceless. Virgo squirmed and writhed under his paws, but no matter how much to tried to escape, Harry was simply too heavy and too strong.</p>

<p>“It is a shame,” his lion form said, while his mane of snakes hissed. “I wondered if I might be able to work with you. It seems that is not to be.”</p>

<p>Virgo gasped as he increased the pressure. “You-you’re a Chimera animagus,” she managed to get out. “Lion, snake, and thestral. Gryffindor, Slytherin, and Perverell.”</p>

<p>Harry snorted. “Quick on the uptake as ever, Tom.”</p>

<p>“Not Tom!” Virgo hissed. “I am Virgo!”</p>

<p>“Then you are Virgo. But that doesn’t help you. I presented myself to you as weak and offered partnership. And you chose instead to attempt to kill me. Not even Hermione would fault me for killing you after that.”</p>

<p>“You can’t kill—Hurrhh…”</p>

<p>He pushed the remaining air out of her lungs.</p>

<p>Virgo’s eyes widened in panic.</p>

<p>Harry considered the struggling lamia pinned beneath his weight. If she was a full soul, then delivering a normal fatal wound might be enough to sever her connection to her other soul fragments. Otherwise, he didn’t have many options. He didn’t have a shrunk trunk to abduct the girl with. He didn’t have a wand either, so he couldn’t transfigure her into something easier to carry. That also ruled out using fiendfyre to ensure her destruction.</p>

<p>Trying the same trick that Virgo had to absorb her soul into himself also wasn’t an option. He was a horcrux. A prison for a soul fragment. Unlike Virgo, he wasn’t actually part Dark Lord himself.</p>

<p>That left a wandless killing curse as the only real option. But if he tried that on the highly magically resistant, and quite frankly, large, lamia, and it didn’t work. Harry Potter would become an instant fugitive with a life sentence in Azkaban on capture. And since Virgo somehow had guessed the fact that he was also Lord Slytherin, that could make things difficult. Even if it did work, it might not necessarily save him. He still didn’t have a wand to dispose of the evidence with.</p>

<p>He growled. “You leave me with very few options, Virgo.”</p>

<p>Virgo’s next words showed two things. The first was that she knew, or at least suspected, that killing her via conventional means might actually work. And second, she believed he was actually about to do it.</p>

<p>“Dead Man’s Ssswitch,” Virgo wheezed out.</p>

<p>The silence of the ward became oppressive.</p>

<p>Harry closed his eyes. Not completely, of course. A hundred snake eyes were still all trained on the lamia beneath him, but the feeling that of course things could still get more complicated was definitely there.</p>

<p>Harry reduced the pressure on Virgo’s chest.</p>

<p>The witch breathed in deeply.</p>

<p>“You, Virgo, have a dead man’s switch set up that will release the infomation that I am Lord Slytherin if you are killed.”</p>

<p>It was a statement.</p>

<p>Virgo’s eyes glittered with triumph. Then she started to laugh. Wild manic laughter whose general tone and cadence Harry definitely recognized, even if it was being modulated through the mouth and throat of a twelve-year-old girl.</p>

<p>“No, Potter. That’s what John and Sssusan think. That’s what I told them. Although my death isn’t the only way the switch can be triggered.” She was still laughing almost hysterically. “I know that you’ll have plans on what to do if that secret got out. I wouldn’t be surprised if you were already planning to drop the facade sssometime anyway!”</p>

<p>It was true of course. The book with Lockhart was near completion///nearing completion///nearly complete. He’d already brought many of the lords in the Gray faction in on the secret.</p>

<p>He frowned. “Then, what—?”</p>

<p>“My dead man’sss ssswitch won’t release your sssecret of being Lord Ssslytherin, Potter,” Virgo hissed. “It will show everyone that you’re a time traveller!”</p>

<p style="text-align: center;">— DPaSW: NRiCaD —<a id="nov-01"></a></p>

<p>Virgo watched the conflicting emotions flash across the lion’s face with utter relish. Shock came and went like a flash in the pan, followed by a bolt of anger. Oh, yes, he really should have seen this one coming. Next came the look of ferocious concentration as many multiple possible ways forward were no doubt called up and just as quickly dismissed. There was no need for Potter to hide how he felt from her. Hundreds of snake eyes studied her as though she were a puzzle.</p>

<p>It was a puzzle they could not solve.</p>

<p>She, Virgo, had left no avenue unguarded.</p>

<p>There was no doubt Potter was powerful. Incredible, even. If she didn’t know he was a time traveller, she’d have considered him an absolute monster. From what she’d learned since breaking free of her soul prison, the dark lord hadn’t started unifying the dark until he was already in his forties.<br />Potter had done it before the age of ten.</p>

<p>Virgo watched the mighty Gray Lord struggle with himself. There were only a few options for him now. And all resulted either in both of them surviving, or in Virgo surviving and Potter impaling himself on yet another of her prepared traps.</p>

<p>She’d prepared many, many traps.</p>

<p>Virgo felt more than realized the moment when Potter made his decision. All at once, a hundred snakes all locked eyes with her. And for the second time this year, Virgo felt a legilimense attack as strong as the sledgehammer of an angry god smash straight into her brain.</p>

<p>Virgo’s world vanished. Once again she appeared in the blackness of the void, but unlike when she had attacked Potter, this wasn’t the chasm between souls. This was the chasm between minds.</p>

<p>Rapidly, like the painting of a masterpiece sped up a thousand fold, Hogwarts castle appeared below—her mindscape—and down in that castle, Virgo could already hear the roar of an angry chimera tearing shit up.</p>

<p>Virgo smirked. An overwhelming feeling of triumph danced in her heat. Potter had taken the bait!</p>

<p>Landing on the top of the astronomy tower, Virgo sprinted down the stairs towards the sound of a mighty beast really letting itself go. It wasn’t a terrible plan, really. All her secrets were here, after all. If Potter wanted to learn the secrets of her deadman’s switch, ripping them clean out of head was a great way to go about it.</p>

<p>It wasn’t even technically illegal, so long as he didn’t cause any lasting damage. Technically. Though if mental attacks of this scale became common place, Virgo would bet her wand hand it would become illegal very quickly.</p>

<p>The roar was getting closer now. Triangulating the sound, it felt as though the roar was heading to the library, destroying every minor defense she had in place as it went.</p>

<p>Virgo transformed. Legs became tail. Skin became scales. Eyes grew slits. Everything got bigger.</p>

<p>She was not the same teenage dark lord that had sat in stunned helplessness as Luna ‘Fuck Toy’ Lovegood had ripped her mind to shreds looking for her own answers. She’d had plenty of time to prepare for this.</p>

<p>Reaching one of many secret entrances leading down to the chamber, Virgo hissed.</p>

<p>$Open$</p>

<p>The hidden door slid aside.</p>

<p>She’d also not left her mind defenseless since the merging of Tom and Julia had destroyed her last mental guardian.</p>

<p>Not even bothering to travel the long and twisty journey down to the chamber, Virgo simply stuck her head into the tunnel and screamed, $Speak to me, Slytherin! Greatest of the Hogwarts Four! Get up here you giant noodle! I need you!$</p>

<p>For the longest moment, there was silence.</p>

<p>Then it came.</p>

<p>Even larger than basilisk that Tom Riddle had created for his own mindscape, Virgo’s new guardian slithered out of her mental depths and powered into the corridor like an unstoppable tide of death. It hissed.</p>

<p>Virgo had to press herself up against the wall as it passed.</p>

<p>She started to cackle. $Go! Go, my creature! Catch Potter! Catch Potter and trap him in my mind! Make him my guest of honor! Make him my prisoner! And if he flees when he sees you, then see him, and petrify him!$</p>

<p>She really was the greatest witch that had ever lived.</p>

<p>Virgo stood there as the basilisk disappeared around the corner. She smirked.</p>

<p>After a while, the roar of the chimera became quite a bit louder, quite a bit more intense, as though suddenly in combat with something far larger and meaner than it.</p>

<p>Heh.</p>

<p>Virgo casually walked down the corridor towards the library.</p>

<p>The roars stopped when she was halfway there.</p>

<p>Nice.</p>

<p>Virgo rounded the final corner to the library, and froze.</p>

<p>Harry Potter, human Harry Potter, was sitting on the remains of the very large and quite clearly very dead guardian. He had a sword in one hand.<br />Virgo felt the blood drain from her face. “W-w-what?”</p>

<p>“What, what?” Potter replied, deadpan. “I’ve already killed a real giant basilisk today. What made you think I’d have any problems with your mental version? This thing can’t even kill with its gaze. That should tell you how much weaker it is than the real thing.”</p>

<p>Virgo couldn’t credit what she was hearing. “You, you killed the real basalisk? But then why did you use your portkey? Weren’t you running from it?”<br />Her heart was starting the thump harder. The full magnitude of the situation was starting to settle in.</p>

<p>“No, that was from the aurors.” Potter shrugged. “You still don’t want to tell me how to deactivate your deadman’s switch?”</p>

<p>Virgo took a step backwards.</p>

<p>“Shame.” Potter turned, hopped off the dead basalisk, and with a flick of his wrist slammed his way clean through the library’s solid oak doors like they were made of marzipan.</p>

<p>Virgo turned and ran.</p>

<p>Damn it all! This wasn’t good. This was NOT good. She went only as far as the next corner before stopping to get her breath back.<br />That library was where Potter would find the answer he wanted. He probably wouldn’t find it straight away, but without anyway to stop him, eventually, he would.</p>

<p>Virgo cursed. She needed a plan. She was the greatest witch in the world. There had to be something else she could use. Some trick she still pull.<br />Her mind raced. Every possibility was weighed. Every option judged. Outside the castle, the sun began to speed across the sky as though on fast forward. Shadows whipped back and forth. The grass started to visibly grow.</p>

<p>Then it hit her.</p>

<p>It was a long shot. The chance of it working inside of the real Hogwarts wards had to be only one in ten.</p>

<p>It was also stupidly dangerous, even if it did work.</p>

<p>Freedom always was.</p>

<p>But desperate times called for desperate measures, and she was incredibly, bone-chillingly desperate.</p>

<p>Virgo took a deep, deep breath and screamed at the top of her lungs.</p>

<p>“DOBBY!”</p>

<p style="text-align: center;">— End of Chapter Seventy-two — </p>

{ 453} [modulated through the mouth and throat]: Lunatico: The lamia is an adult.
