Chapter 73 - Nature Red - Part 17

<p>Virgo’s mind was quite amazingly well organized for a witch born of two souls blending together. Though the fact that one of those souls was a sliver of the dark lord’s made it more understandable.</p>

<p>Unfortunately for Harry, this didn’t make his job any easier.</p>

<p>The shelves of Virgo’s mental Hogwarts Library were filled top to bottom with diaries. They started out pastel colored and covered in stickers, but slowly, more ragged and dirty examples started to dot the chronology.</p>

<p>Julia’s early years and her abduction by the Malfoys.</p>

<p>At around the half way mark, the dirty books suddenly switched to gigantic ornate tomes, inlaid with gold, smelling of old parchment and cloves.</p>

<p>Tom Riddle arriving at Hogwarts as a child.</p>

<p>Those diaries seem to go on forever.</p>

<p>Eventually, though, they were both replaced by much simpler stock. Plain, but well cared for, with little tiny locks on the side that wouldn’t stop a pair of nail clippers — a textbook example of what Harry imagined a teenager’s diary to actually look like.</p>

<p>Investigating those was quite eye opening.</p>

<p style="text-align: center;">John the hero.<br />John the handsome.<br />John my savior.<br />John.<br />John.<br />John.<br />John.John.<br />John.<br />John.<br />John.John.John.John.<br />John.John.John.John.John.John.<br />John.<br />John.<br />John.<br />John.<br />John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.<br />Oh, and Susan, too. A bit. I guess…<br />John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.John.</p>

<p>Harry put that one back like the lady of an ancient house levitating a dead mouse out the door.</p>

<p>And though enlightening, none of that helped him find the information he truly needed. How to deactivate Virgo’s deadman’s switch.</p>

<p>He made his way to the end of the final row, and still it was nowhere to be found.</p>

<p>Unsurprising, really.</p>

<p>Even believing her mental basilisk to the ultimate defense of her mind, someone like Virgo could never have too many defenses.</p>

<p>So where would someone like Virgo have hid it?</p>

<p>Harry thought back to what it was that made Voldemort tick.</p>

<p>True, Virgo wasn’t Riddle—that much was now abundantly clear—but asking the question, “Where would a random teenage girl hide her most important secret” probably wasn’t going to yield the results he was after. Though, he made a mental note that if push came to shove, looking under the girl’s bed in Gryffindor Tower would be a good last resort.</p>

<p>How Voldemort thought…</p>

<p>Harry tapped his foot while staring up at the giant book shelves surrounding him.</p>

<p>Riddle wanted to be known everywhere as the greatest wizard who ever lived. He also wanted to be immortal. Those were two aspects of the dark lord’s persona that seemed to have mapped quite well onto Virgo.</p>

<p>He’d also dedicated a lot of his time during Hogwarts to fighting his way to the top of the Slytherin hierarchy. He’d studied the noble families, knew their customs and traditions. And though he’d never received formal occlumancy training, he’d nevertheless weaseled out a lot of the details once he’d been the undisputed ruler of the snake-pit.</p>

<p>Harry wandered back over to Virgo’s earlier memories — to the small collection of books that dealt with music. The violin for Tom Riddle, the piano for Julia Olsen.</p>

<p>Harry stared at the books.</p>

<p>Did the one in the middle feel different? Or was he just projecting his own desires onto what he hoped was the answer?</p>

<p>Harry touched the book. It was larger than the two on either side, looked better taken care of. Mastering the Violin — Making Magic out of Music.<br />Virgo had taken the blood of Malfoy, replacing her Riddle bloodline to become a true pureblood, the blood of Gaunt remaining as her ‘mother’ blood. Ironic as it turned out, since the Riddle bloodline had been Tom’s true connection to the house of Slytherin.</p>

<p>It was something he’d mused on before.</p>

<p>He, Harry, was Lord Slytherin.</p>

<p>Technically, Voldemort, as a son of house Riddle, might possibly be considered a member of his house. He could be said to be Voldemort’s lord. As amusing as that would be.</p>

<p>Harry smirked.</p>

<p>The question was, if Virgo had made a safe spot in her mental library, in the way of many noble families, had she done it before or after she’d taken Malfoy’s blood? Or even more interestingly, was Virgo, as a soul blend that included Voldemort, still connected in even the smallest way to the family of Riddle?</p>

<p>Harry focused his magic in his fingers and a small dagger made of glass materialized out of the aether, floating in the air of his cupped hand.</p>

<p>He pricked his finger and a single drop of blood welled up to the surface. He drew the finger down the middle book.</p>

<p>For a moment, nothing happened.</p>

<p>Then suddenly, a sound like a slow rockfall filled the library and all the books in front of him started to pull away, shaping themselves up and around into an arch way, just like the bricks leading to Diagon Alley. Beyond which, was a tight little nook, containing just three books.</p>

<p>Harry smiled. He loved it when he was right.</p>

<p>He was about to reach in and grab the first, when a squeaky voice behind him stopped him cold.</p>

<p>“You shall not harm Mistress Virgo!”<a id="nov-03"></a></p>

<p>Harry had scant milliseconds to react before he felt the powerful buildup of demonic magics behind him erupt into a wave of pure force fired straight at him. He wasn’t fast enough. The wave hit like a tsunami, pushing him down through the corridor and out the nearest window. Thousands pieces of glass, iron, and lead lacerated his skin as he fell down towards the grounds below.</p>

<p>No.</p>

<p>Calling on his flight spell, Harry forced his way out of the wave of magic and rocketed up into the air. He slowed to a halt just above Ravenclaw Tower. Blood streamed from dozens of cuts all over his body, but that didn’t stop him from getting to grips with the situation.</p>

<p>That had been a house elf. And there was only one possible candidate for which house elf it could have been. It was the free house elf! The one that had attacked Ginny at the Quidditch match. The one that had given him the excuse to take back control of the Hogwarts wards. And now, Virgo had summoned it straight into her mind, seemingly bypassing the Hogwarts wards in the process. Of all the reckless stunts to pull, that one truly was worthy of the dark lord. </p>

<p>Harry shook himself. He’d think about that later, right now he had an elf to defeat. Free house elves were absolute monsters, but then, so was he.<br />First, he’d—</p>

<p>A pop from behind him sent every danger cell in his body screaming to attention. It was as though Death himself was shouting at him to move.<br />Harry ducked. A gigantic sword larger than he was tall whooshed through the air right where his neck had been. The three-foot elf wielding it looked comically out of place attached to it, but there was nothing comical about the power forming around the creature again.</p>

<p>Harry braced himself as another wave of power smashed into him.</p>

<p>Shooting towards the ground, Harry transformed just before he hit, landing in a four-legged crouch that embedded his paws over a foot into the soft grassy earth with a slam loud enough to echo around the grounds.</p>

<p>There was another pop from what had been behind him, but Harry was already turning. A hundred snakes hissed. One giant lion opened it’s jaws wide.</p>

<p>The house elf had just enough time to open its eyes as wide as saucers before Harry’s jaws snapped shut. Around empty air.<br />The next pop came from quite a bit further away.</p>

<p>Harry launched himself towards it. Free house elves were dangerous. He couldn’t allow it time to get its wits together. Unfortunately, he was nowhere near fast enough. The house elf’s magics were already swirling into a powerful vortex by the time Harry had covered even half the distance.</p>

<p>The house elf didn’t look triumphal though. Instead it looked almost panicked.</p>

<p>“Dobby is not wanting to!” The house elf screamed. “But Dobby must. Potter boy is too strong!”</p>

<p>The vortex snapped into place and A giant tentacle whipped out of it.</p>

<p>Harry screeched to a halt, but wasn’t fast enough.</p>

<p>The tentacle whipped around his right paw and stayed wrapped around his right arm as he transformed back. He severed the tentacle a moment later with a wandless cutting charm, but there was already another in its place. Dozens of tentacles snapped around his arms and legs, around his neck, over his face, and before he could so much as even think a curse, he’d been yanked forward, straight into the vortex. And straight out of Virgo’s mind-scape.</p>

<p>Out in the real Hogwarts hospital wing, Harry flew backwards with a sound like a gigantic burp. He tumbled. He landed. His head snapped up. His eyes snapped open.</p>

<p>Virgo stared back at him, her own eyes wide and unsettled.</p>

<p>There was a moment of silence.</p>

<p>Virgo raised her hand.</p>

<p>Harry instinctively began to form an intent to counter whatever she was about to do, but instead of launching an offensive spell, Virgo raised her hand to her face as though seeing it for the first time. Light began to form around the digits, but the magic that radiated out from her was of no form that any witch or wizard should possess.</p>

<p>“Oh, no.” Virgo whispered. “Virgo not be liking this. Virgo not be liking this at all.”</p>

<p>Suddenly, rapid heavy footsteps could be heard getting louder from outside the hospital wing.</p>

<p>Both Harry and Virgo’s heads whipped to the shut door.</p>

<p>“Potter!” shouted a voice, followed by a rapid banging on the door. “Potter, are you in there?”</p>

<p>Harry didn’t wait. The lock down was already over. He had places, and people, to be. “Consider this a stalemate!” he called behind him as he dashed towards the window.</p>

<p>Virgo just stared in horror at a vision apparently only she could see.</p>

<p>The door slammed open and one of the aurors stepped in. The man just had time to see Harry Potter take a running jump at a full glass window on the top floor of the castle. “Wait! Potter! Your godfather said—!”</p>

<p>Crash.</p>

<p>The sound of shattering glass filled the hospital wing.</p>

<p>The man ran past the thankfully still living lamia animagus and slammed into the window frame, just in time to see the world’s only chimera animagus booking it away on all fours, across the grounds, towards the forbidden forest.</p>

<p>“You’re not in trouble!” he shouted after the boy. “You don’t have to—” But it was useless. Without so much as a backward glance, the majestic beast leapt into the undergrowth surrounding the forest, and vanished clean from sight.</p>

<p>It was the last time anyone not in the Gray would see Harry Potter for several months. And by the time they did see him once more, nothing would be the same again.</p>

<p>— DPaSW: NRiCaD —<a id="nov-04"></a></p>

<p><em>*Wibble Wobble Wibble Wobble*</em></p>

<p>All across magical Britain, over five thousand Wizarding Wireless devices halted their performance of the repeated season six finale of Diagon Woes, right before the final kiss, to switch back to the news.</p>

<p><em>*Wibble Wobble Wibble Wobble*</em></p>

<p><em>My Lords and Ladies, wizards and witches, we interrupt the interruption of your usual programing to bring you important news from Hogwarts School of Witchcraft and Wizardry. The cause of the recent break-off in coverage of the Hogwarts Dueling Tournament has been confirmed as an unscheduled lock-down of the school and its grounds. We’re getting word from a trusted source that the lock-down has now been lifted and no one has been hurt.</em></p>

<p><em>While no official statement has yet been made, we understand that the reason for the lock-down was a large-scale magical creature incident from within the school itself. Anonymous sources from within the ministry reported a full-scale mobilization of the Department of Magical Disasters and Catastrophes, along with the Department for the Regulation and Control of Magical Creatures, as well as an advance force of over a dozen Aurors. The call up has since been canceled however, and all ministry personal have been put back on standby until further notice. Probably until tea time.</em></p>

<p><em>The exact nature of the magical creatures involved are still unknown, though many incredible rumors are flying around and we’ll no doubt know more in the coming days. </em></p>

<p><em>The Hogwarts dueling tournament was won by Slytherin House, with MVP going to Heiress Alexandra Patricia Black, only the third student in Hogwarts history to full sweep the opposing team as a first-year student and the first first-year student ever to achieve that feat twice against both opposing teams. Her most spectacular match was against first year Gryffindor, and student minister, Miss Virgo Malfoy, the fourth first year to clean sweep the enemy team. The spectacular fight will no doubt be a memory parlor favorite for years to come and included family magics, elemental summons, spell swatting, creature summoning, and ended in Miss Virgo Malfoy’s unexpected surrender after successfully casting a phoenix patronus strong enough to force back, but not quite defeat, Heiress Black’s Grim animagus form.</em></p>

<p><em>The dueling cup was presented to the Black Heiress by her year-mate, and new quidditch phenom, Ginverva ‘Ginny’ Weasley. Coming rulings in the Wizengamot will decide if such a young player can be permitted to compete for the national quidditch team, and after today no doubt our government will be asking themselves the same question about our national dueling team as well.</em></p>

<p><em>Due to the interrupted broadcast, we will be repeating the whole tournament two weeks from today, here, on the Wizarding Wireless. Make sure to stay tuned in!</em></p>

<p>Down at The Burrow, Mrs Weasley turned off the Wireless with a flick of her wand while letting out a deep sigh of relief and pride. On the wall behind her, all 'mortal peril' spoons on the Weasley family clock had once more whirred to the ‘at school’ position. All across the country, parents who couldn’t attend the dueling tournament themselves, did likewise, though mostly just with relief.</p>

<p>Up on the castle grounds, hundreds of wizards and witches made their way out of the arena towards the gates of Hogwarts. Some apparated away towards Hogsmeade, intent on catching the floo back home, or riding the Hogwarts express, for those with time to kill and nostalgia to indulge.<br />The students, however, were all asked to gather together before going back to the castle.</p>

<p>“Ravenclaw students!” Squeaked Professor Flitwick while still addressing the whole school. “I’m afraid we’re going to have to bunk outside of Ravenclaw Tower for the moment while repairs are underway. No, I can’t say why right now. If anyone has friends in other houses, I’d encourage you to join them for the time being. Extra beds will be provided. And no, Mister Baker, you can not join your fiancé. Girls with girls and boys with boys only. In the mean time, we’re all going to have to wait out here until we get the all clear that Hogwarts has been deemed safe once more, so dinner will be provided here.”</p>

<p>“That’s right!” Boomed Headmaster Lockart, swooping in and giving an outraged Flitwick a noogie. “Bring on the benches! Bring on the drink! Let’s feast and be merry! Under the stars of Hogwarts!” He pointed dramatically to the sky, which was still midday, and then up to the castle where the Great Hall’s massive tables floated towards the wide-eyed students.</p>

<p>Soon the tables and benches had been placed in the sands of the arena and food and drink began to fill plates and goblets.</p>

<p><a id="nov-05"></a>High above the dueling arena, on one of the many flag poles carrying the Hogwarts crest, a golden eagle perched and watched. As students, teachers, and a few remaining parents who’d yet to vacate the grounds, began to dig into the feast, the eagle spread her wings and soared off and up, up into the air, banking around on a stray current and off toward the castle.</p>

<p>Daphne swooped down low, skimming the grass before the Hogwarts giant front doors, before pulling up and transforming mid-air.</p>

<p>“They are still not letting anyone in,” said Hermione, loitering in the doorway with her arms folded.</p>

<p>Standing next to the Slytherin muggleborn, Alexandra Black clenched her fists, a clear sign she was frustrated. “The basilisk corpse is still fresh,” she said. “The inferi ritual is best done when the corpse is still fresh.”</p>

<p>“And it will remain fresh,” Daphne said, shaking out her hair. “The aurors may not be allowing you and I in, but our lord is not so hampered. Soon, he shall grant us passage.”</p>

<p>Alexandra smirked. “I wish I’d seen their faces when they saw his power.”</p>

<p>“Them seeing his power is not a good thing,” Hermione shot back. “It will cause all sorts of problems.”</p>

<p>Daphne nodded her head. “Yes. Yes, it will.” She put a hand to her ear. “Bulldozer? This is Eagle Eyes. Any updates?”</p>

<p>Up in the partially destroyed Ravenclaw Tower, Luna Lovegood, sitting on the floor with several bandages wrapped around her arms and legs, put a hand to her own ear. “Eagle Eyes,” she whispered, although whispering was hardly needed given the shear quantity and volume of argument coming from all around the room. “Our lord arrived not long ago. It’s all getting rather shouty.”</p>

<p>— DPaSW: NRiCaD —</p>

<p>“I don’t see what else there needs to be said!” Minister Fudge shouted at the top of his lungs. “You’ve killed the monster. Without telling us about it first, I might add! Why didn’t you tell us first?! Anyway, you’ve killed the monster, so just remove yourself from the wards! The events of today show clearly why one man cannot just have sole power over an institution as old and as… er… venerable as Hogwarts. It simply can not stand!”</p>

<p>“I did inform the ministry,” Slytherin replied calmly, standing in the centre of a ring of hostile glares. “I received no response. And I’m afraid that’s not possible, Minister. Certainly not until the rogue house elf has been found.”</p>

<p>“You’ve used that excuse before!”</p>

<p>“And it remains as true now as it was then.” Slytherin turned to the owner of one of the glares directed at him. “Though it does seem odd, does it not, Lord Malfoy? Free house elves are known to be chaotic in the extreme. But this one seems quite circumspect. Almost as though it is being directed. Don’t you find that odd?”</p>

<p>“Very odd.” Malfoy said back, somehow managing to convey a blank face while still glaring daggers. “But I do not believe the house elf can be our primary concern anymore. This expedition of yours was reckless in the extreme, endangering both my heir and my daughter.”</p>

<p>“The daughter that snuck into Hogwarts through the very chamber the monster itself was released from?”</p>

<p>Lucius sneered. “Virgo did not achieve her animagus form until well after the first attack. Therefore, she cannot be considered a suspect.”</p>

<p>“That’s based on what? Your word?”</p>

<p>“Yes, my word. Just like your assertion that Harry Potter and your bethrothed did not achieve their animagus transformations alongside Greengrass, Weasley, and Black is based on your word.”</p>

<p><a id="nov-06-mini"></a>“They really didn’t.”</p>

<p>“Oh, like we’ll believe that!” James Potter snarled. “You don’t think I don’t know about how a group of students can become animagi together? You even stole Sirius’ family secret to help!”</p>

<p>“James,” Lord Black said in a warning tone of voice.</p>

<p>“No—” Lord Potter shot back. “It’s clearly obvious what he did. We did the same thing. He’s using your daughter, Sirius. Can’t you see that?”</p>

<p>“He is not using Alex! I’m proud of my daughter’s accomplishments. I don’t know how they managed to become animagi that quickly, but I do know it wasn’t how we did it.”</p>

<p>“But, a chimera!?” James shouted. “A child should not wield such power!”</p>

<p>“I’d have thought you’d be happy,” Lord Slytherin replied. “He is your heir.”</p>

<p>“Harry is NOT my heir. John is my heir. I want you to stay out of my son’s life!”</p>

<p>“It does seem,” Lucious Malfoy jumped in before Harry could respond, “that Lord Slytherin is far too interested in the upbringing of other people’s children. Corrupting minds. Leading them astray… A worrying development, given his insistence on keeping control of the Hogwarts Wards. Perhaps, a gesture of goodwill is appropriate to show Magical Britain your intentions are not malicious.” There was a moment of silence before he continued. “If you, to take a purely hypothetical example, released the children of the Dark faction from their pledge of allegiance to Alexandra Black, I’m sure that would go a long way to assuring society that you don’t—”</p>

<p>“If there’s going to any goodwill gesture,” James interrupted, “It’ll be for him to leave Harry alone!”</p>

<p>“Please, gentlemen.“ Harry [[[as Lord Slytherin]]] held up his hands. “I have no malicious designs. I cannot release Draco and his friends from their pledge, because they are not pledged to me. They are pledged to Alex. And from what I hear, she is leading them quite well. Besides, I believe we have already discussed quite a substantial ‘goodwill gesture’ between us already, Lord Malfoy?”</p>

<p>The amnesty deal for former death eaters laid in the upcoming Muggle Protection Act.</p>

<p>Lord Malfoy made an unsatisfied noise in his throat.</p>

<p>“As to Harry, I have absolutely no intention to abandon my care of the boy. Though if it would appease you, I’d be open to having his godfather take some responsibility for his oversight.”</p>

<p>“It doesn’t appease me!” James snapped.</p>

<p>Sirius frowned. “You don't not trust me?”</p>

<p>James looked like someone had punched him in the gut. “No, Padfoot. No, that’s not what I meant. Of course I’d trust you.” He flung out a pointed finger. “It’s him I don’t trust!”</p>

<p>Sirius didn’t look convinced.</p>

<p>Harry in turn nodded. “Well, since it’s me you have a problem with then maybe I have a solution.”</p>

<p>James narrowed his eyes. “What solution?”</p>

<p>Harry withdrew a parchment from his robes. “I have here a betrothal contract, already signed, between Harry Potter and Ginny Weasley.”</p>

<p>Unseen by anyone in a corner of the room, a girl squatting beneath an invisibility cloak breathed in sharply.</p>

<p>“The Weasleys are purebloods of long standing, but their role has always been that of mediators — power brokers for the factious noble houses. Classic civil servants. I’m sure that Arthur would be the top Humblehag by now, if he cared to stretch his ambitions so far. The upcoming Muggle Protection Act in the Wizengamot is proof of his tripartisan nature. Despite that, the Weasleys have always leant more closely to the Light. Your wife and Arthur’s are friends. John is best friends with Ron.”</p>

<p>“In other words, they are the perfect family to hand Harry over to. You’ll know that Harry is in the care of a family close in interests to your own, and I’ll know that Harry will have the support of a large and supportive family. That and I know that Harry and Ginny both really like each other, so the match is a good one.”</p>

<p>Lord Potter said nothing.</p>

<p>“Besides,” Harry continued, “Everyone knows that Ginny is going to join the quidditch league soon. She’s too good for the wizengamot not to make an exception. She’d do well to have a husband who can financially support her sporting ambitions. And a father-in-law who can be proud of her accomplishments.”</p>

<p>For a moment, Lord Potter actually looked tempted. Then he viciously shook his head. “No!” He glared at Slytherin. “I know exactly what you are. And who you are. And I have not forgotten our history. I wouldn’t put it past you to be splitting up my family just out of spite. I will not be betrothing Harry to anyone you approve of…,”—he stepped forward, crossing the distance between them, stood in front of him for a second, before leaning in close to Harry’s ear so that only he would hear and growled out the final word of the incomplete sentence, “…Lupin.”</p>

<p>He then stepped away and stared at Lord Slytherin’s impassive visage, as though waiting for a reaction. When he naturally failed to get one from the mask Slytherin always wore, he turned and walked away.</p>

<p>“This isn’t over, Slytherin!” Lord Potter shouted behind him. “I’ll see you in the Wizengamot!”<br />The remaining lords all stared after him.</p>

<p>“I think I shall take my leave, as well,” said Lord Malfoy. “There’s been more than enough excitement here for one day.” He started to walk away as well, but turning back. “We’ll have to talk again about the Dark’s support for your amendments to the Muggle Protection Act before it goes to the final hearing, Slytherin. Don’t think your actions here today will not have consequences.”</p>

<p>Dumbledore, who’d remained silent up till this point, walked up to Harry and spoke quietly so only he could hear. “I do not believe giving Harry to Miss Weasley will be enough to stem the darkness that lies within. If anything, I fear it is she that would become corrupted by him. And now that we know what kind of dark creature his soul embodies, I fear this is even more so.”</p>

<p>“Then it is fortunate that I’m not asking for your opinion, isn’t it?” Harry bit back.</p>

<p>Dumbledore gave him patented D-stare number 54, disappointed headmaster, before stepping back, raising his arm, giving a command to his now regenerated phoenix, and flaming out without another word.</p>

<p>Harry turned to the minister and his undersecretary, a rotund woman in pink, who, rumors had it, was going to be next in line for the top Humble Hag position.</p>

<p>The witch seemed rather torn by his presence, as though not sure if she should be impressed, scared, or disgusted. Her eyes kept flicking between him and the dead thousand-year old basilisk behind him.</p>

<p>“And you, minister?” Harry asked. “Do you have a suitably dramatic exit to make?”</p>

<p>“What? Oh, err…” The man seemed to get a hold of himself. “Yes! Yes, in fact, I do. You cannot just waltz in here and control Hogwarts like you did. I will have no choice but to talk to people about this! Certainly, defeating this, err… very large snake, is a positive, but it does not outweigh the damage to the ministry’s image and authority. And no, you cannot keep it. I’ll have experts come up form the Department of Magical Creatures to take it away. Until then, it will be under guard. Do you understand, Lord Slytherin?”</p>

<p>“Crystal.”</p>

<p>The minister then turned and did his best impression of a powerful man storming out, though compared to the three men who came before him, it looked rather less than impressive.</p>

<p>Soon, Harry was left alone. Alone, except for a dozen aurors, several other lords of the Wizengamot including Jacob, Sirius, and Xenophilius, paintings waking up from their previously stunned state, the headless haunt arriving back with the Hogwarts ghosts, and lastly, and probably actually the least, Filch the caretaker, staring at the destruction that went far beyond mere mess with more horror than the colossal dead killing machine.<br />The day passed and night fell.</p>

<p>Standard DMLE guard wizards replaced the elite aurors on watch duty, not light security, but certainly lighter than before.<br />Light enough for a certain red-haired witch hidden under an invisibility cloak to quietly stun them all.</p>

<p>A figure floated in through one of the destroyed windows. It alighted on the ground, pulled out several miniature ward stones, and quietly got to work.</p>

<p>Some time later, Harry finished up his placement of a fidelius ward around the snake.</p>

<p>A little while after that, a golden eagle swooped into the room.</p>

<p>Daphne received the secret, walked up to the corpse, and concentrated. She whispered an incantation, and the temperature of the room plummeted. Ice began to spread from the tips of her fingers over the corpse. It wasn’t a fast process, but eventually the entire Basilisk was one large popsicle.<br />Possession was two thirds of the law. Keep it fresh, that was the trick. Ministerial overreach could be judged by the wizengamot soon enough. Until then, they’d keep this little treat on ice.</p>

<p style="text-align: center;">— End of Chapter Seventy-three — </p>
