Chapter 74 - The Gray's Secret - Chapter 1

<p>The barn owl flew. Below it, the river Danube gently curved through the Balkans — possibly through Magical Croatia, or Serbia, or Hungary. It was hard to tell. Borders tended to shift quite frequently.</p>

<p>The owl banked on the approach to Belgrade and turned east flying true towards Bucharest, a sealed parchment envelope clutched in its talons.</p>

<p>There were many reasons why wizarding kind still used birds as a primary means of communication when far faster methods could no doubt be contrived, but above them all was the simple truth that it worked, and no one seemed to care to receive news from far off places any faster than was necessary. The faster you received news, the more likely you might have to do something about it.</p>

<p>The barn owl banked again, only halfway towards the Paris of the East, this time heading straight into the heart of the country, right into the territory of Transylvania.</p>

<p>Night fell.</p>

<p>A howl pierced the silence, followed shortly by several more.</p>

<p>The owl spotted its target and began its decent.</p>

<p style="text-align: center;">— DPaSW:TGS —</p>

<p>Standing in the shadow of the mighty fortress, Castle Dragos, Albus Dumbledore felt a tendril of cold begin to creep in through the thin fabric of his robes, despite the fact that he’d had them re-enchanted only last month. He cast a warming charm of his own to ameliorate the issue for the time being and refocused back onto the matter at hand.</p>

<p>Beside him, a man who looked like he shaved with a blunt lawn mower about once a decade gesticulated at the gigantic stone complex before them. “Unacceptable! Castle Dragos is the most well-defended fortress in the whole country. If we allowed it autonomy now, our enemies would have a safe haven to strike at us from! Everything we have fought for for hundreds of years could be lost.”</p>

<p>Dumbeldore sighed. Many months of laying siege to the castle, and to the refugees that had fled there, had not dampened the new Fullmoonia’s spirit. If anything, it had hardened it. When this stalemate had started, the werewolves had only wanted the refugees handed back over to them - somewhat of a politically difficult demand, given the widespread reporting of forced biting of the local magical population. Now, the man standing with him wanted to reneg on the agreed upon deal that saw the founding of NewMoonia and bring Castle Dragos under his complete control.</p>

<p>He could see the reasoning. Castle Dragos was a formidable base of power projection. A strong force of wizards within could sally out, either with broomsticks or with apparition, strike fast at whatever they wished and then retreat back before a sufficiently powerful force could be mustered to bring them down. Fortresses like this represented a threat to any central authority’s monopoly of violence—such as any monopoly could be enforced in the Wizarding World—which was why most Wizarding governments had been working hard for hundreds of years to bring any truly formidable castles under their influence. Really, what Marcus here wanted wouldn’t have been a problem for most members of the ICW… if not for the dual inconveniences of the forced biting, which was considered a form of genocide, and the fact that many members had outsourced their obliviator training obligations to the ancient institution and weren’t particularly keen to take that responsibility back.</p>

<p>“And yet, you are lining yourself up to lose much more, even more than Fullmoonia,” Dumbledore replied. “International opinion is critical to your survival, not only of your new nation, but also of werewolves in general."</p>

<p>The werewolf beside him scowled. “We have fought for our survival for centuries. We have the absolute moral right to destroy anything that threatens us. What right does anyone else have to tell us how to run our nation?”</p>

<p>Dumbledore said nothing. There were plenty of things he could say. He could try to point out that other people had different views on what his moral rights were. He could try to point out that their immediate neighbours, who’d already been less than thrilled at the prospect of an ethnocentric werewolf state right on their doorsteps, would likely feel threatened by their actions just as much as the werewolves did by the continued defiance of Castle Dragos. He could even point out that the foundation of ICW was a shared understanding of the ‘rules of the game’ and that anyone violating those rules was liable to attract attention that absolutely no one in their right mind would want.</p>

<p>Dumbledore said none of this.</p>

<p>Not because he didn’t believe in the immorality of Fullmoonia’s actions—it was clear to anyone with a functioning brain that forcibly converting your population to be carriers of a painful magical disease wasn’t exactly stellar moral behaviour—No, rather he didn’t push the matter further because the more he relied on ‘morality’ as a method of persuasion with any particular individual, the more they would hold him to those very same moral standards. At some point, you had to accept that doing the wrong thing was what was needed. Allow yourself to be trapped by a set of rules and you might as well hand yourself over to your enemies.</p>

<p>Suddenly, a scream ripped through the air. The pair turned around sharply to find a woman in robes being dragged towards them.</p>

<p>“Sir!” called out one of the dragging men, large muscled, and clad in head to toe in enchanted leathers. “We caught her trying to sneak out. Your orders?”</p>

<p>Marcus didn’t miss a beat. “Bite her.”</p>

<p>“No!” the woman screamed. “No, please!” Her scream became a wail as the second man transformed into his wolf form in front of them and snapped his jaws right around her arms, piercing cloth and staining it red.</p>

<p>Dumbledore set his jaw.</p>

<p>Very distasteful.</p>

<p>He was interrupted in his musing by the arrival of an owl. The majestic bird swooped down and perched on his outstretched arm.</p>

<p>Dumbledore broke the seal and read.</p>

<p>His eyes became more focused as he read.</p>

<p>Behind him, the still wailing woman fell—both silent and to the floor—as the other man backhanded her with a loud crack. “Quiet witch! You’re one of us now.”</p>

<p>Dumbledore steeled himself as he finished reading the final line. He produced a piece of parchment from his robes, scribbled a reply, and handed it back to the bird, along with several knuts for long distance delivery.</p>

<p>He watched the owl take off into the now dark sky of Transylvania with a hoot.</p>

<p>Waving once, Dumbledore started trudging up to the stairs of the castle where his next leg of this little diplomatic mission would take place.</p>

<p>“Troubles back home?” his guest asked, not having moved a muscle.</p>

<p>Dumbledore looked back over his shoulder. “Only to other people.”</p>

<p style="text-align: center;">— DPaSW:TGS —</p>

<p>The owl soared over the clear dawn air of the Scottish Highlands, passing over rolling hills and bare mountain tops. It flew out across the water of the North Sea and angled itself on the currents towards the collection of sparsely populated islands that made up the Orkneys.</p>

<p>It saw it’s target. And began to descend…</p>

<p style="text-align: center;">— DPaSW:TGS —</p>

<p>Mister Andrew Roper felt like he was drowning in a world that felt oddly familiar, while also simultaneously being alien in every way.</p>

<p>“Sophie!” his wife chided their daughter. “Tuck your shirt in. And stop fiddling with your hair, you’ll mess it up.”</p>

<p>“Mum! It’s fine! Slytherin’s not going to be angry with my hair! And it was already messed up on the boat ride.”</p>

<p>“That’s Lord Slytherin,” his wife scolded. “You yourself told us how important manners are to these people.”</p>

<p>“But Slytherin’s cool with it. I’m friends with Hermione, and he’s like another parent to her!”</p>

<p>“Sophie, that’s not the point. We’ve been invited and Lord Slytherin has gone to a lot of trouble to make our journey very comfortable. The least we can do is show him the proper curtesy. You will be on your best behaviour or I will ask your head of house at Hogwarts to put you in detention, understand?”</p>

<p>“Yes, Mum,” Sophie said grumpily.</p>

<p>Mister Roper slowly shook his head to himself and stared out the carriage window.</p>

<p>He’d always known his daughter was an odd one. She never quite got on well with other children. But he’d never in a million years believed that the answer to that little mystery would be, “She’s a witch.” Now his little girl was off to a mysterious boarding school for most of the year, coming back with tales of magic and dragons and the powerful (and sometimes terrible) lords and ladies that ruled over Magical Britain.</p>

<p>It was enough to make any parent both proud and worried.</p>

<p>This was not helped when a drab-looking witch from the ‘Ministry of Magic’s’ ‘Department of Family Affairs’ had turned up with a warning to be wary of strange wizards approaching them with ‘offers of protection’. The ministry provided all the protection parents of muggleborns like them needed.</p>

<p>Andrew hadn’t even known he needed protection.</p>

<p>After the visit, they’d talked about it and decided that discretion would probably be the best course of action.</p>

<p>That was until Sophie herself had joined them one holiday break with a sales pitch for exactly why it was so critically important that they officially appoint a Magical Guardian for her that wasn’t Albus Dumbledore, because apparently, they didn’t even have full legal guardianship of their own child. Oh, and she had just the person in mind, obviously.</p>

<p>They’d told <em>her</em> not to worry about it, but Andrew had certainly been worried.</p>

<p>Thus it was that when a letter had been delivered by a ruffled-looking tawny owl inviting him and his wife for tea at Lord Slytherin’s manor house on his private island in the Orkney’s, he’d been more than a little cautious.</p>

<p>If it had been up to him, he’d have just ignored it, but he’d reckoned without his wife’s heel-face-turn in matters regarding high society. Strange that. Emily had always said she had no truck with ‘the hoi paloi’ as she called them. “Royals are fine, so long as they leave us ordinary people alone,” she’d always said. Now someone calling himself a lord had turned up with a gold-leafed envelope and an invitation for tea and you’d think God himself had descended.</p>

<p>Or maybe she was simply a lot more worried about Sophie than she let on.</p>

<p>In any case, she’d been perhaps a little too impressed with the chauffeur-driven Bentley that picked them up from their semi-detached bungalow on the outskirts of Huddersfield. And even more so when they made a stop near a Scottish village that didn’t appear on any map and discovered that Lord Slytherin had also arranged for their daughter to join them for the day, having been given special dispensation to leave for the weekend by the Headmaster himself. His wife’s esteem of the mysterious lord had been taken to a whole new level, though, when they’d been met on the pier of John’O’Groats by a medium-sized luxury yacht he’d more normally expect to see cruising the Mediterranean. Even he’d nodded in appreciation at that.</p>

<p>Now they’d been dropped off on Gairsay Island—which somehow went from utterly deserted to a vibrant and lush biome the moment they stepped off the boat—and were making their way up the path to the large manor house on the top of the hill in a horse-drawn carriage as though they’d just walked through a time portal back to the Victorian age.</p>

<p>The click-clack of horses’ hooves and the rattle of the carriage mingled with the song of birds and the rustle of leaves as they arrived at the front of the large stately home.</p>

<p>“Now, remember what I said, Sophie. Best behaviour.”</p>

<p>“Yes, Mum,” Sophie replied with a roll of her eyes.</p>

<p>They were met at the door by a strange short creature in a butler’s uniform who introduced himself as “Plato, Personal House Elf to Lord Slytherin, Please be coming this ways, Mister and Missus Roper and young mistress Roper.”</p>

<p>The ‘house elf’ then led them through a large ballroom space, up a grand-looking stair-case, and out of a corridor that led to the lawn on the other side of the manor.</p>

<p>There, lounging around a tea-set that looked like it could have come straight from the royal garden party, sat two men and a woman. Andrew suspected he knew immediately which one was Lord Slytherin. The one in the mask. Every cell in his body was screaming at him that this was someone to be respected.</p>

<p>“Ahh! The Roper Family,” said the masked wizard, standing up and ushering them over, “Come, come, sit down.”</p>

<p>Andrew had a momentary brain fart when his daughter curtsied before joining them last.</p>

<p>“And good day to you too, Miss Roper. I trust your studies are going well?”</p>

<p>“Very well, my lord.”</p>

<p>So much for informalities.</p>

<p>“And the club activities?”</p>

<p>“Those as well. Hermione is an excellent teacher.”</p>

<p>It was like watching a mask slide over his daughter’s face. Her very being had shifted to one of diffident respect.</p>

<p>“I’m glad to hear it.” The masked man turned his attention back to them. “My apologies, Mister and Mrs Roper. I am Lord Slytherin. Head of the Ancient and Noble House of Slytherin. And these are two dear friends of mine, Daniel and Emma Granger, of House Granger. I believe Sophie has told you stories of the friendship she shares with their daughter.”</p>

<p>“Yes, of course!” Emily jumped in. “Hermione sounds like such an intelligent and strong girl.”</p>

<p>“She is that,” Dan replied with a chuckle. “Hermione speaks highly of your Sophie here as well.”</p>

<p>Pleasantries passed quickly enough but it wasn’t long before the masked wizard drew the discussion to where Andrew knew it would be going. Sophie’s guardianship.</p>

<p>Lord Slytherin’s sales pitch, was, not surprisingly, a lot better than the one Sophie had given them over the break. And not only that, but backed up by not only the testimony of the Grangers, who were muggleborn parents themselves, but also a lot of books from his library and the mind-blowingly incredible magical artefact which the man called a ‘pensieve’, Andrew also believed the masked wizard’s word over the ministry’s.</p>

<p>He was too much of a cynic to have ever truly believed that all was happy-ever-after in magical fantasy land, but he still couldn’t help feeling annoyed at having been treated like a child by every wizard up until now.</p>

<p>“Why though?” he asked, after they’d been discussing how the Wizarding World worked for hours. “Why take on Sophie’s guardianship? What’s in it for you?”</p>

<p>“Andrew!” Emily hissed, sounding scandalised.</p>

<p>“No, it’s a valid question,” said both Lord Slytherin and Sophie at the same time.</p>

<p>The two looked at each other.</p>

<p>“Five points to Ravenclaw,” Slytherin said after a moment of silence while Sophie went red.</p>

<p>He turned his attention to him. “Andrew.” It was the first time he’d used his first name. “Until you are actually under my protection I cannot share all the details with you,” he said, putting an emphasis on the word ‘all’. "This isn’t a matter of trust, but a matter of security. The Department of Family Affairs has a number of licenced legilimens under their employ.“</p>

<p>“Legili-what now?”</p>

<p>Another explanation later had Andrew feeling distinctly sick.</p>

<p>“But that’s terrible!” Emily said loudly. “And they did this to you, as well?” This question was directed at Emma.</p>

<p>Emma smirked. “They tried. But we were vassals of Lord Slytherin by that time and the busybodies instead got a one-way trip to the local duck pond. Or near enough, anyway.”</p>

<p>Andrew let out a sigh. “I think we’ve heard enough. Dear, I believe we should accept the gentleman’s offer, on the proviso that we get to see the contract before we sign it.”</p>

<p>His wife bit her lip and nodded.</p>

<p>The solemn mood between them was broken a moment later when Sophie punched the air and cheered.</p>

<p>The tension snapped.</p>

<p>“Wonderful,” Lord Slytherin said in his deep voice, standing up. “Then allow me to be the first to formally welcome you to the family.”</p>

<p>By that point it was starting to get dark. The sun was setting, staining the sky a beautiful orange. Apparently they’d be staying the night. Guest rooms had already been set up for them. At some point, Emma had grabbed Emily and Emily had grabbed Sophie and the girls had retreated off to god only knew where to do god only knew what, leaving him alone with Dan and Lord Slytherin.</p>

<p>“We’re already working to bring as many muggleborn families into the fold before anyone realises what’s going on and starts to throw a fit,” Slytherin said with a glass of magical whiskey in his hand - whiskey that apparently caused you to breathe a gout of actual fire when you took a sip. This somehow made his mask look even more imposing.</p>

<p>“My hope is that by the start of the next school year we’ll have all the current muggleborn families at Hogwarts under our umbrella. Well, those who we feel would be good fits, at least.”</p>

<p>“Why by the start of next school year?” Andrew asked.</p>

<p>Slytherin and Dan both took another sip and another gout of flame issued forth. Only one though. Dan apparently choose a non-magical whiskey. He preferred it, he said.</p>

<p>“We were aiming for Christmas,” Slytherin said by way of answer, "but we had to move the timetable up because of other timetables which also needed to be moved up."</p>

<p>“Is this one of those things you can’t tell me about?”</p>

<p>Slytherin gave him a finger gun pointed right at him. “Exactly.”</p>

<p>“Secrets are power in the Wizarding World,” Dan said with a wry smile. “The only wizards you’ll meet with no worthwhile secrets are those with no worthwhile power.”</p>

<p>Andrew nodded. He was starting to get a feel for how this world worked. It really was like he’d landed in a James Bond novel, except instead of guns and cars, it was wands and broomsticks.</p>

<p>At that moment, Plato the butler elf popped into being next to them. He had a letter on a silver platter on one open hand and a very ruffled looking owl on the other closed fist. “Master Slytherin, Sir. Plato was hoping that you would now take parchment. Plato is knowing you said nothing that wasn’t urgent until it was urgent, but Plato is thinking this might now be being urgent.”</p>

<p>Slytherin plucked the letter off the platter. “How long has this been waiting for my attention?”</p>

<p>“Since morning, Master Slytherin, Sir.”</p>

<p>The masked lord sliced open the envelope with a flick of a finger. He read it. He looked thoughtful.</p>

<p>Or at least that was the impression Andrew got. How exactly a mask could give the impression of anything other than the expression it wore was utterly baffling.</p>

<p>Then Slytherin pulled out a quill and parchment, seemingly from nowhere, and quickly scribbled a letter of his own.</p>

<p>He handed it to the owl along with several of the strange coins Andrew recognized as the Wizarding World’s currency.</p>

<p>“Thank you, little lady,” Slytherin said, as though the owl could understand. “And a little bit extra for the wait. I hope it wasn’t too boring.”</p>

<p>“Oh, no, Master Slytherin Sir,” said Plato. “Master’s owl Macavity intercepted girl owl on the way in and has been keeping her busy all afternoon.”</p>

<p>There was a fascinated silence.</p>

<p>“I’m sure you both went hunting,” Slytherin finally said. “Here you go.”</p>

<p>The extremely ruffled-looking bird hooted and flew off.</p>

<p>Well, that had been a thing.</p>

<p>After another moment, Dan turned to the man to whom Andrew might soon swear vassalage, as crazy as that sounded. He really wasn’t sure about this whole business, but it did appear to be their best option. And Sophie was clearly happy about it.</p>

<p>“Trouble, my lord?” Dan asked.</p>

<p>“No.” Lord Slytherin looked back from where the owl was flying off, his ominous form silhouetted by the newly rising moon. “Only for other people.”</p>

<p style="text-align: center;">— DPaSW:TGS —</p>

<p>The owl soared across the skies of England. One more journey, one more letter, one flight closer to the magical owl equivalent of union-mandated vacation.</p>

<p>Gliding over the green fields of Wiltshire, patchworked with hedgerows and pocked with oak, birch, and willow, the barn owl saw her latest target, large and imposing, and dove.</p>

<p style="text-align: center;">— DPaSW:TGS —</p>

<p>The house elves of Malfoy Manor were up to their neck in unexpected guests and unexpected work. In other words, they were in heaven. Almost enough so to ignore the ‘thing’ in the upstairs girl’s bedroom. Almost…</p>

<p>A pair of double doors burst open, revealing the Lord and Lady of the Manor one marching, the other looking rather frazzled, together disturbing the quiet air of the hallway, and causing one house elf to drop and subsequently frantically catch the vase he’d been polishing.</p>

<p>“We can’t keep pretending this hasn’t happened!” hissed Lord Malfoy. “Whoa!”</p>

<p>Lady Malfoy flicked out her wand to arrest the collision of Wizard and House Elf. A moment later, with just a brief pause to curse and for the House Elf to vanish, the two continued on.</p>

<p>“We can’t pretend this hasn’t happened!” Malfoy said again, walking faster than he usually would to keep up with his wife. “I know she’s doing a lot better now than when she arrived, but that doesn’t mean that other people might not notice.”</p>

<p>Narcissa scoffed. “Even if someone does notice, what are they going to think? Nothing, that’s what. We can easily wave away any lingering oddness as family business. And I believe her rate of improvement is quite acceptable.”</p>

<p>Lucius scowled. “And if she regresses? We’ve no idea what’s going on in that head of hers now. You weren’t there when she first arrived. Do you have any idea of freaky it is to watch a witch talk like a house elf? Let alone your own ‘daughter’.”</p>

<p>“Having second thoughts, Husband?”</p>

<p>“The daughter idea was yours, Wife.” Lucius snapped.</p>

<p>A third voice bellowed. “HOW DARE YOU.”</p>

<p>Narcissa wielded on her six, wand already out.</p>

<p>“THE LORD OF THE NOBLE HOUSE OF MALFOY PALMING RESPONSIBILITY OFF ON HIS LADY? WHY I OUGHTA—”</p>

<p>A red light splashed into a painting hung halfway up the corridor that the pair had just stormed past. The long dead wizard fell silent.</p>

<p>The two continued on without even a glance back, turning a corner and descending a flight of stairs.</p>

<p>“We both knew that releasing Dobby as we did was a calculated risk,” Narcissa said, now in front. “And might I remind you, that that little plot was <em>your</em> idea.”</p>

<p>Lucius pursed his lips. “So now we face the homonculus of our combined plotting, is that what you’re saying? And what if <em>he</em> learns about what we’ve done? Before this whole <em>thing</em>, there was some scope for plausible deniability and the possibility of putting the genie back in the bottle, but now?!” They reached the bottom of the stairs and he found himself jogging a few steps to catch back up. “I very much doubt our lord of lords will appreciate being informed that even a small sliver of him might now be part house elf - or whatever the hells is going on with that girl.”</p>

<p>“Obviously, we don’t tell him <em>that</em>,” Narcissa scoffed. “That’s if he ever turns up again.”</p>

<p>“He will,” Lucius said, with same sureness that the stars would burn and the planets turn.</p>

<p>“<em>There’s</em> the confident wizarding lord I married.”</p>

<p>Lucius finally stepped back up beside his wife.</p>

<p>The pair stood before another pair of large double doors.</p>

<p>Narcissa reached up and adjusted the lapel of his robes.</p>

<p>Lord Malfoy took a measured breath. “I am nothing, if not confident,” he drawled.</p>

<p>“Good.” Narcissa stepped backwards, placing herself behind her husband.</p>

<p>Lucius turned towards the doors, pushed them open, and swept into the room.</p>

<p>Eight pair of eyes sitting down a large rectangular table turned to meet theirs. The Notts, the Crabbes, the Goyles, and the Parkinsons. They were not the only families who shared the problem that was the reason for this little get together, but they were the ones whose children had been directly involved in what others were calling ‘The Black Coup’ at Hogwarts.</p>

<p>“Friends.” Lucius strode confidently up to the table. “Thank you for prevailing yourselves on us.” He took the middle seat of three at the head while Narcissa lowered herself into the one on his right. “We have much to discuss.”</p>

<p>“Damn right we do,” said Lord Nott, “But before that, what of the basilisk? Has any decision been made?!” Lady Nott put a steading hand on his.</p>

<p>“Edgar,” Lucius drawled. “Such desperation is not becoming of you.”</p>

<p>“Well, why shouldn’t I be desperate?” Nott replied defensively, shaking off Isadora’s hand. “The monster was a thousand years old! A thousand! You know how expensive basilisk farming is!” Edgar’s eyes briefly met his wife’s. “I just want to know if we need to prepare for tough times on that front is all,” he finished, rather more calmly.</p>

<p>Lucius nodded. “From what I’ve heard, Lord Slytherin is still pushing for sole ownership rights of the monster, but what his purposes might be are unclear. He gave assurances that he did not intend to flood the market with Basilisk blood or venom.”</p>

<p>“Well that’s something,” Nott muttered.</p>

<p>“Lord Potter, on the other hand, is insisting that since it was ‘his heir’ that killed the beast—” chuckles and giggles surrounded the table “—that it should be House Potter that takes ownership,” Lucius finished with a smirk. The smirk faded. “And of course, the ministry is still maintaining their own claim, though that seems to be on the general principle that meddling in family affairs is their Merlin-given right, rather than because they have any real basis for such a claim.”</p>

<p>“I support Slytherin’s claim,” Nott said firmly.</p>

<p>“Same,” said Lord Parkinson.</p>

<p>“What a surprise,” Lucius drawled. Unsaid was the fact that Parkinson had received many contracts from Lord Slytherin over the last few years for construction and general labour and if word from the grape vine was any indication, the still mysterious enigma that was the Gray Lord was far from done. “But perhaps we should move onto our main topic of discussion. Regardless of your business interests with our noble colleague, you don’t seem to be enthralled with the moves of his pawn at Hogwarts.”</p>

<p>“No, we are not!” seethed Lady Parkinson. This time it was the husband of the pair that put a placating hand on his wife’s. “Being a client does not give him the right to so interfere in our daughter’s upbringing! The only reason we haven’t pulled Pansy out of Hogwarts and sent her to Beauxbatons, is because the Black girl isn’t actually the Heir of Slytherin. Otherwise Pansy would be out of there faster than you can say ‘Quidditch’.” Lady Parkinson fixed Narcissa with what could only be described as ‘a look’. “Can’t you do something about her? She’s your niece.”</p>

<p>Narcissa smiled tightly. “Unfortunately, my dear cousin has rarely allowed me much part in Alexandra’s life and my influence over the girl is limited. I hear that she does favour the old ways, so perhaps if I had been able to step into the role of mentor earlier something could have been arranged, but it seems I have been firmly beaten to the draw on that score.” Her tight smile turned into something far more easy and genuine. “On the other hand, Black blood clearly runs true through her veins, more so than anyone in the family I’ve ever known, more so than even my late grandfather. Her performance at the duelling tournament was an exercise in savage beauty. So maybe an appeal to the family might work on her regardless.”</p>

<p>Lady Parkinson snorted. “Don’t delude yourself, Cissy. Whatever enabled that ‘performance’, Black blood was only a small fraction of it. The rest was pure Slytherin Hocus Pocus. I swear, the moment the Prophet announces that Lord Black has Betrothed the girl to Slytherin is the moment we are out.”</p>

<p>“You think he will?” said the rather alarmed voice of Franklin Crabbe. “Slytherin’s already getting far too big for his britches. We don’t need any more families jumping ship. Even Light ones.”</p>

<p>Lady Parkinson sat back in her chair with her arms crossed, a rather smug expression on her face. “I don’t know what Lord Black thinks, but I know Lord Slytherin is trying. He wants Alexandra Black.”</p>

<p>“You have proof of this?” Lord Malfoy said sharply, jumping back into the conversation again.</p>

<p>Lady Parkinson scoffed. “I need no proof. The man already snapped up the Greengrass and Lovegood girls. He is clearly comfortable with the dangers of multiple wives and the idea of playing the marriage game. And the girls are clearly fine with it, too. Greengrass keeps her own council, but Lovegood is an open book. She is happy. Young witches don’t go around all skippy and cheerful like that if their fiancé is someone they hate. So, why wouldn’t he go after Black? There is zero question the girl is now the most eligible heiress in the entire country, probably in the whole of Europe.”</p>

<p>Goyle raised an eyebrow. “Really? I’d have said, Miss Malfoy—” he began, before Lucius hastily cut him off.</p>

<p>“Let’s not talk about Virgo right now. I suggest we stay on topic.”</p>

<p>“Agreed,” said Lord Parkinson, giving his wife a meaningful look.</p>

<p>“I was on topic,” she muttered not quite under her breath.</p>

<p>“The upcoming Wizengamot session,” Lucius said firmly and loud enough to forestall any further derailment. “This will likely be our best opportunity to free our children from Slytherin’s influence.”</p>

<p>Goyle cleared his throat. “You’re talking about the so-called ‘muggle protection act’, yes? Not really sure how comfortable I am about using that as leverage. How many families are actually affected by the coup? Eight? Ten? Twelve maybe? Some of whom aren’t even noble.” He gestured to himself, his wife, and the Crabbes, “And the dark hold how many seats? Five or six times that many? How are the other lords going to feel about forking over concessions to the Gray just to get our children out of the cauldron they themselves jumped into? We have business relationships to consider.”</p>

<p>Lucius raised a placating hand. “Do not worry yourself, Niall. I have already spoken with our Noble friends and they have agreed that the situation is serious enough that certain concessions may be given. Within reason, naturally. Remember that the game of power in the Wizarding World is played over many generations.”</p>

<p>“Exactly!” said Lady Parkinson again. “Can you imagine how terrible it would be if Slytherin were able to completely usurp our values and recruit our own children to his…” She trailed off, as though unwilling to complete the thought out loud.</p>

<p>She didn’t need to. Lucius could practically feel the weight pressing down on the group around the table as the same conclusion was being drawn. Not only was every family here affected by the Hogwarts Black Coup, but if each participant rolled up their left-hand sleeves, each could display the mark of another coup. One that had taken place many years ago. A coup which was the reason that they were sitting around this table discussing family politics and not their fathers or grandfathers. It had later been expanded to grant membership into the organisation in general, but everyone sitting here today knew what it had originally meant. A willingness to murder family in cold blood and bear the consequences as dictated by the Albion.</p>

<p>“We have zero intention of letting things get that far.” Lucius stated. He drew a letter out from his robes - a letter that had been delivered by a rather harried-looking barn owl just that morning. “And the upcoming Wizengamot session will be the perfect opportunity to solve not only that issue, but quite a number of other problems as well.”</p>

<p>“Other problems?” Lord Nott asked. “What other problems do we have?”</p>

<p>“Us?” Lucius drawled. “A few. Betrothal contracts, animagus negotiations, the Basilisk, of course. But mostly, I’d say the other problems are opportunities for us, and problems merely for other people.”</p>

<p style="text-align: center;">— End of Chapter Seventy-four — </p>
