Chapter 75 - The Gray's Secret - Chapter 2

<p>High above a green and lush manicured lawn, a young witch with flaming red hair danced on a flying broomstick like a lithe ballerina, or, more accurately for those with such knowledge, a pole-dancer.</p>

<p>The broom had become an extension of her body - as much a part of her being as her arms or legs, or tail, whenever she had one.</p>

<p>Seemingly from out of nowhere, a bludger whizzed past her head, barely an inch away.</p>

<p>Ginny Weasley blew an arrant strand of hair out of her face.</p>

<p>Suddenly, the air was full of bludgers. Not just two, but four, six, eight, ten of the magical cannon balls, all converged on her from every direction.</p>

<p>The air became a maelstrom of leather, iron, wood, and broom-dancing witch. Then she shot out of the bludger cloud as though fired from the barrel of a gun.</p>

<p>A twinkle of a fluttering gold near the ground went from zero to one hundred kilometres an hour in less than the blink of an eye.</p>

<p>It wasn’t nearly quick enough.</p>

<p>A small hand plucked the snitch clean out the air just before yet another zooming bludger would have removed said hand, had it been any slower.</p>

<p>Ginny popped the snitch into a bag already half-full of the things, tied to the floating ring at the base of her Nimbus 2001 before soaring high back up into the sky.</p>

<p>She leaned forward on her broom like a cat lounging in a tree. Her feet tangled themselves up on the bristles. Her arms became a pillow. Once more, Ginny extended her senses.</p>

<p>On the edge of the Potter Manor Quidditch Pitch, Lord James Potter, sitting in a garden chair facing what, theoretically, was supposed to be ‘training’, shook his head in incredulity. “If I didn’t find the very idea utterly ridiculous, I’d say she looks bored.”</p>

<p>On the other side of the table filled with scones, cakes, and tiny egg and cress sandwiches with the crusts cut off, all piled on a multi-storey edifice of silver and lace, Arthur Weasley chuckled. “Ginny’s always been a brave one. I remember her sneaking out of the house at night to fly before she even started Hogwarts. Honorary Gryffindor, I say. Everyone in the family has been, after all. And a cheetah isn’t far off a lion.”</p>

<p>“I suppose,” James said grudgingly. Lord Slytherin’s words at their last meeting were still fresh in his thoughts. Why not betroth Ginny to Harry? The Weasleys were Light leaning, as he’d said. Arthur was one of the more respected civil servants within the ministry, even if he lacked the desire for a Humble Hag position. And he needed to do something to bring Harry back into the fold. The consequences of failing didn’t bear thinking about.</p>

<p>Except…</p>

<p>Except that he was still pretty sure that Slytherin was Remus Lupin, with all the powers that entailed. The Lupins were plotters and schemers, the lot of them. One didn’t just befriend a Lupin and not expect to eventually get screwed over. The Marauders had learned that the hard way.</p>

<p>They were worse than Dumbledore.</p>

<p>Still…</p>

<p>“I don’t think getting a special exemption from the Wizengamot to have her play at the National level will be too hard,” James said, watching the young witch now playing chicken with a veritable conga line of bludgers. “There aren’t many things we agree on, but Quidditch is definitely one of them. But I’m still not comfortable with the idea of a betrothal between Harry and Ginny…” he trailed off. “Not because of you or Ginny,” he quickly added, “Or your house. I’ve nothing but respect for you and your work. But I can’t help but worry that there’s some kind of ‘plot’ going on here that I’m not party to.”</p>

<p>Arthur put his teacup down with a little clink sound. “If there is a plot, I’m unaware of it. All I see are two children who are as alike as two peas in a pod.”</p>

<p>“Yessss…” James said slowly. “That’s another thing I’m worried about.”</p>

<p>“In any case, I do think something will have to be done.”</p>

<p>“Oh, why?”</p>

<p>Arthur took another sip and gave him a look he recognised. The look of a worried parent. “If Ginny is going to go all in on Quidditch, I’d be worried for her future if she didn’t have a husband lined up capable of supporting her. Several teams have been experimenting with the idea of professional sports, taken from the Muggle world, but the hard truth is that our population simply isn’t large enough to support it. I know Molly would put her foot down if nothing could be arranged.”</p>

<p>James gave the man sitting next to him a slightly alarmed look. “Are you saying that if your daughter doesn’t have a betrothal arranged, then you wouldn’t allow Ginny to play at all?!”</p>

<p>Arthur gave him a placating hand wave. “Not for myself, you have to understand. I want my little girl to follow her heart in all things. But Molly is less sanguine in her outlook.”</p>

<p>“And you’d listen to her.”</p>

<p>“Always.”</p>

<p>James sighed. “Well, at least she’s not part of the animagi clusterfuck coming up. That’s one blessing. You were wise to register her when you did.”</p>

<p>Arthur just smiled.</p>

<p>Though, that didn’t apply to Virgo, James thought grumpily. He never imagined he’d be actively trying to hitch his eldest son’s wheel to a girl who could turn her bottom half into a snake. …Red and gold snake mind you. And there was the phoenix patronus. <em>And</em> her friendship with both John and Susan…</p>

<p>Okay, so even considering where she came from, Virgo probably was a safer bet for John than Ginny was for Harry.</p>

<p>The sounds of two voices arguing drifted through from the attached greenhouse.</p>

<p>“Nope, I’m still not getting any of this.”</p>

<p>“But you could! And you agree that the Wizarding World needs to change. I could lend you a book.”</p>

<p>“I don’t have <em>time</em> to read some muggle book!”</p>

<p>And speaking of John, that gave him an idea…</p>

<p>James’ son and <em>rightful</em> heir exited from the large glass building followed close behind by Arthur’s eldest. Bill was his name. Worked for Gringotts. Head boy at Hogwarts. Very passionate about… whatever it was he was always going on about.</p>

<p>“John!” James called out, cheerfully. “Over here! You seeing this?” He gestured to where Ginny was now doing casual loop-the-loops while dodging a dozen bludgers.</p>

<p>“I see it, Dad,” John replied, sounding rather surly, arriving in front of where he and Arthur were sitting. “It’s not <em>that</em> impressive.”</p>

<p>James snorted. “John, you shouldn’t be jealous. Ginny could be playing for England soon.”</p>

<p>“What?!” John’s jaw dropped. “But she’s not even a second year!”</p>

<p>“Doesn’t matter when she’s that good. But, hey, Arthur, you said Ginny needed a husband to support her Quidditch. What about John?”</p>

<p>The moment the words came out of his mouth, James realised his mistake. He’d forgotten just how hard John had fallen for Ginny before he left for Hogwarts. The look of hope that blossomed over his son’s face was almost painful to watch. As was the collapse when Arthur immediately slapped the idea down.</p>

<p>“I’m sorry, Lord Potter, but I’m afraid that’s not going to happen. Not while Ginny is so against the idea. And persuading Molly would be difficult. I’ve heard you want John here to marry Malfoy’s girl.”</p>

<p>“If it’s a bride price you need, we can arrange that,” James said quickly.</p>

<p>“I’d take the best care of Ginny!” John declared, an edge of desperation in his voice. “I can handle two witches, I promise you, Mister Weasley!”</p>

<p>Bill Weasley exploded. “I can’t believe you’re all just sitting here talking about trading off my little sister like she’s a piece of property! Arranged marriages are the remnants of a corrupt, aristocratic Bourgeoisie who control capital through family and inheritance! Ginny shouldn’t be marrying a noble! She should marry a commoner! A muggleborn! Or maybe even a muggle! That would send a message to the magical proletariat that they have the freedom to change, to say NO, if only they threw off the archaic social rules foisted on them by—”</p>

<p>That was as far as he got before he briefly went from zero to sixty miles an hour as a broom-shaped missile zoomed alongside him, plucked him clean from the ground, and pitched him straight into a Rhododendron bush.</p>

<p>Ginny swung back around and landed lightly, the wand in her hand glowing from the residue of a Mobilicorpus charm. “I will marry who I want,” she said. “And who I want is Harry.”</p>

<p>“You heard her,” Arthur said, as though that closed matters.</p>

<p>James winced.</p>

<p>“Don’t give me that look,” Ginny said to John. “You go have fun with your own personal snake. A cheetah belongs to the one true king.”</p>

<p>And that statement reminded James why Harry wasn’t around for his own betrothal negotiations. Why he’d subtly stopped hunting his other son, which had once included contracting out a few well-known hit wizards, and instead started wracking his brain for other, less confrontational means of influencing him. Harry was a Merlin-damned CHIMAERA. A legendary form, no less. One that had appeared only a few times throughout history. And the first wizard to ever have a chimaera as an Animagus form. At age twelve. The Unspeakables had gone nuts. The Obliviators had gone nuts. The Union of African Ministries had gone nuts. Trying to force Harry to do anything would take far more power than was reasonable. It even made him question whether the path he and his wife had set themselves on was even the right one, but he quickly dismissed that thought.</p>

<p>That way lay madness.</p>

<p>As far as Harry went, Dumbledore could likely still take him down-likely with one hand tied behind his back— but Dumbledore was still being awfully cautious about anything to do with Lord Slytherin, even if he was one of only two other people in the whole world who understood why keeping Harry under control was so important in the first place.</p>

<p>James watched the bickering grow between Ginny and John, each one’s shouting getting louder and louder, and decided to step in. “John, please go and fish Master Weasley out from that bush and see that he’s not actually hurt.”</p>

<p>After he’d left, grumbling, James turned to Ginny. “Miss Weasley, I’d be happy to have you as a daughter-in-law. I mean, Merlin, your flying alone is incredible. Simply mind-boggling. It’s just that Harry is…”</p>

<p>“Is what?”</p>

<p>“… he has a very complicated future ahead of him.”</p>

<p>“And I’ll be there with him.”</p>

<p>“It will likely be a very dangerous future.”</p>

<p>“And I’ll be there with him.”</p>

<p>“If Harry was in danger, would you try to protect him?”</p>

<p>“Of course.”</p>

<p>James paused before continuing. “If I asked you to work with me to protect Harry, what would you say?”</p>

<p>Ginny looked down at the ground for a moment. Then up at the sky. Then directly into his eyes. “I’d say yes. Then I’d take everything that you told me, take it to Harry, and change the plan as he saw fit. The best person to protect Harry, is Harry.”</p>

<p>James closed his eyes before opening them again. “Well, at least you’re honest.” He cleared his throat. “Miss Weasley, I cannot accept a betrothal between you and my son so long as you do not accept the familial responsibility of obedience to your future lord. i.e. me.”</p>

<p>Ginny shrugged. “That’s fine.”</p>

<p>That threw him for a loop.</p>

<p>“It is?”</p>

<p>“It doesn’t matter what anyone else says. Harry said he’d arrange our betrothal. He’ll make it happen, even if he needs to break magic itself.”</p>

<p>That statement did not make James feel any better.</p>

<p>Not long after, he was seeing the party off back to the Burrow through the Potter Manor central floo. “I’m sure we’ll figure some way to come to terms on this,” Arthur said with a hand firmly on Ginny’s shoulder and another around Bill’s arm - the latter scowling at his little sister, while the former had her tongue stuck out at her big brother.</p>

<p>“No duelling,” James said. He wasn’t insane.</p>

<p>“No duelling,” Arthur repeated back. “The Muggle Protection Act is proof that we can all come together and put aside our differences for a common good. I look forward to seeing our work come to fruition at the Wizengamot Session.”</p>

<p>Lord Potter nodded. He watched the whirling colours carry his guests away.</p>

<p>“Lord Slytherin has a magic around him, don’t you think?”</p>

<p>James turned to find his ‘other’ guest standing at the entranceway to the smoking room, where, unbeknownst to Mister Weasley, he’d been making himself at home while Ginny put herself through her paces. The window offered a perfect view over the Quidditch Pitch and, as it happened, was just above where their little party had been sitting. That window had also been ajar.</p>

<p>“Magic?” James asked.</p>

<p>Lord Walter Slughorn, keystone of a major faction within the Gray— not to be confused with his Uncle, Horace Slughorn, the famous potions master—chuckled darkly. “He inspires great loyalty. Even between those below him. When was the last time you heard a young witch defend her paramour so fiercely? Course, they usually get that attitude beaten out of them, fast enough, but it’s still cute to see. Makes you feel young again.”</p>

<p>“Harry is not below Lord Slytherin.”</p>

<p>Lord Slughorn shrugged. “I’m just telling it how I see it.” His look turned serious. “Something is afoot in the Gray.”</p>

<p>“Yes, you said before. Still no idea what it is?”</p>

<p>Slughorn shook his head. “No, but I get the feeling that Lord Slytherin has a secret—an important one—and he’s letting people in on it. Many of my less immediate friends and acquaintances in the Gray have suddenly come over all coy.”</p>

<p>“The source of his wealth, maybe?”</p>

<p>“Maybe.” Slughorn looked pensive. “Whatever it is, the fact that he has not deemed fit to bring me in on it, whatever it is, is most vexing. This is just one of many insults the man has laid at my feet.”</p>

<p>James carefully kept his face blank. As a young lord who’d married his Hogwarts sweetheart, he had rather pointed opinions on young witches being married off to wizards thrice their age. He didn’t see eye-to-eye with Lord Slytherin on many things, but so long as he was as young as everyone supposed, snatching the former Greengrass Heiress away from Slughorn was a win for the light in his book. Daphne supposedly thought so as well, which certainly mattered, though it was difficult knowing for sure with that whole ice princess thing the girl had going on. “So, what are you going to do?” James asked.</p>

<p>Lord Slughorn chewed his lip. “Lord Slytherin is a powerful leader. Though sometimes a bit too sentimental for his own good. Staying with the Gray has been the best play for me and many of my friends. But if we don’t like whatever the ‘secret’ ends up being… well.” He smiled grimy at James. “We may have to re-align ourselves to our old friends again.”</p>

<p>James sucked in his breath. “That would give the Light a near total majority.”</p>

<p>“Indeed. And I believe that if we jumped ship, most of the Light-leaning rest would follow. The Gray could disintegrate overnight.” Slughorn smiled nastily. “It all depends on the secret.”</p>

<p style="text-align: center;">— DPaSW:TGS —</p>

<p>“Bozo!”</p>

<p>In the gloomy back offices of the Daily Prophet, up in the attics of Diagon Alley, right next door to the Quibbler Printing Press, a cocker spaniel started awake from where it had been dozing in a dog basket.</p>

<p>“Bozo, we’ve got news!”</p>

<p>The cocker spaniel yawned, its tongue lolling out carelessly, before the animal shifted and a mildly dishevelled wizard stepped onto the wooden floorboards.</p>

<p>The door slammed open and Rita Skeeter marched in looking out of breath. “Bozo, where are— There you are! Look. Just got the agenda for an all-hands attendance of the Wizengamot. They’re hosting it next weekend!”</p>

<p>Bozo gave his alleged boss the stink eye. “Luv, we’re socials. We don’t do government. I was sleeping.”</p>

<p>“You’ll change your mind when you see this! There!” She threw a roll of parchment at him, smacking him in the chest. “You think that’s just government?”</p>

<p>Bozo unrolled the parchment. His eyebrows rose. And as he continued to read, they continued to rise. “The Muggle Protection Act, spearheaded by Slytherin. Unregistered animagus hearing, featuring Slytherin’s betrothed and protégé, along with Lord Malfoy’s scary ‘lost and found’ daughter. Emergency extraordinary magic hearing, featuring the same. Basilisk ownership hearing, Lord Slytherin vs. Lord Potter vs. The Ministry. Hearing for the special elevation of one Ginevra Weasley to the England Quidditch Team, rumoured to be in betrothal negotiations with one Harry Potter, again, Slytherin’s Protégé and unexpected heir to the noble house of Potter, Leader of the Light faction and actively standing against Slytherin in another hearing on the same day. Chimera storm enquiry… No guesses who’s on the docket for that one. Basilisk incident enquiry, featuring Headmaster Lockhart and, surprise, surprise, Lord Slytherin. Oh, and I see that they’ve also scheduled a tentative hearing to debate the merits of allowing underage wizards and witches to join the England Duelling Team… and as part of that hearing they’ve invited a Miss Malfoy, an Heiress Black, and two Potters.”</p>

<p>Rita gave him a triumphant look. “There, you see?”</p>

<p>Bozo rubbed his chin. “Yea,” he said slowly. “I see it. Though, sure you wan’na keep chasing Slytherin, Luv? I know they say third time’s a charm, but they are usually idiots.”</p>

<p>Rita waved the concern away. “I won’t make the same mistakes I made the last times. And there won’t be any goblins at the Wizengamot.” She shuddered. “Foul, nasty little creatures.”</p>

<p>Bozo slumped down into a chair and reached into the pocket of his jacket for a cigarette. “The whole weekend is going to be nothing but one massive drama fest. Worse than a teenage knezzel fight.” He lit his cigarette with the tip of his wand, holding it in his other hand like a quill. He took a puff, blowing out the smoke into the small room. “We could do a special report and make it an insert,” he said. “Butter up Barnabee an’ slip it into the Prophet’s own dedicated run. That way Lovegood won’t be able to censor it.”</p>

<p>“Mmmm…” Skita unsnapped her crocodile skin bag and drew out a parchment. ‘The Slytherin Special,’ maybe? Lead with a single large photo of the man in his mask, looming out of the newspaper frame and glaring at the reader? Or try and persuade Lovegood or Potter to change for the camera? Get an exaggerated shot of a Land Dragon and a Chimera roaring at each other. Oooo, then superimpose that image on either side of Slytherin’s mask! We could use a subtitle like, “Scary secrets revealed! Slytherin’s Plans for Magical Britain and How They Affect YOU!” Or something like that.“</p>

<p>“That’s a T-Rex, Luv.”</p>

<p>“Whatever.”</p>

<p>Bozo took another puff. “And are you sure you want to go sniffing around a hearing for unregistered animagi?”</p>

<p>“You’re coming too.”</p>

<p>“Yeah, yeah, but I’m not changing ‘round them, am I? Don’t tell me you ain’t planning on bugging someone for more juiciness. I know you too well, Luv.”</p>

<p>Rita sniffed. “So what if I am?”</p>

<p>“It’s what got you in trouble last time.”</p>

<p>Rita Skeeter stuffed the parchment back in her bag and snapped it shut again. “Slytherin hides his identity for a reason and I will be the first to find out why. We both know Gilderoy is preparing <em>something</em> and whatever it is, I refuse to let him beat me to the punch! The Gray’s Secret will be mine.”</p>

<p>On Rita’s writing desk in the corner of the room, a magically locked wooden box rested, waiting for an exact magical trigger to open.</p>

<p style="text-align: center;">— DPaSW:TGS —</p>

<p>John Potter was sweating.</p>

<p>He’d faced down Voldemort and death eaters. Dragons, mere-people, and giant mazes. He’d spoken with Fate and Death, travelled through time, and gone toe-to-toe in battles of wits and magic with his evil twin, all while keeping his secrets, and doing his best to play the timeline so that this time, the Dark Lord could be defeated.</p>

<p>John Potter was quite comfortable with danger.</p>

<p>He was even comfortable visiting a girl’s bedroom. It wasn’t as though he hadn’t done it before. He was John Potter, the boy-who-lived (at least, as far as anyone else needed to know). He was the most popular boy in his year. Star quidditch player. Witches loved him. If he hadn’t been snatched from the Triwizard Tournament and died in the Graveyard, he’d have been sleeping with Ginny for the first time that very night.</p>

<p>The fact that Ginny now hated him <em>still</em> burned. But he just couldn’t bring himself to fully give up on her. She was still open. Still a possibility. Ginny wasn’t betrothed yet and if he could find a way to snatch that from… Harry…  then he was sure he could just show Ginny how much he loved her, and she would eventually accept him again.</p>

<p>Dumbledore had often said that love was one of the most powerful magics that existed. That it was love that would eventually defeat the Dark Lord.</p>

<p>He’d never before considered the possibility there might be such a thing as too much love.</p>

<p>Sweat continued to roll down his neck.</p>

<p>The girl’s bedroom in question featured an awful lot of dark greens, blues, and black. It was also a girl’s bedroom, that, if someone had asked him only a year ago, he’d have called them insane for suggesting he’d ever be caught dead in it. Or at least, in the house the girl’s bedroom happened to be in. This time last year, he hadn’t even known the girl herself existed.</p>

<p>John was sitting cross-legged on the girl’s bed while the girl herself was moving sticky-charmed cards around on a massive slate blackboard hung up on the far wall.</p>

<p>“Now, the political situation is being very tricky and must be navigated with skill, but Virgo is believing—no, Virgo <em>believes,</em> that the upcoming Wizengamot session will be being—NO, will <em>be </em>the perfect opportunity to activate our little trap and give reporter lady—give <em>Skeeter</em> the memories saying that Harry Potter is Lord Slytherin and how to be proving it. From there, she will do the rest.” Virgo whipped around and stared at him with a fire that was simultaneously arousing and unnerving. “Eat more! John must eat more. John must be strong! Why is John not eating?”</p>

<p>John had been trying to keep his mouth closed while a levitating spoon filled with perfectly seasoned bicorn insistently prodded at the edge of his lips. He’d already eaten what felt like half the magic cow and if he ate any more, he felt like he was going to explode. He opened his mouth to answer. “I think—Mumph!”</p>

<p>The spoon had taken the opportunity to lunge inside. A few choking swallows later and John managed to forcefully dislodge the flying silverware. “Virgo, that’s enough! If I eat any more, I’ll die!”</p>

<p>Virgo waved nonchalantly. “John is exaggerating. Virgo has calculated the exact amount of food that will cause John’s death and we are not close yet. Virgo will not feed John lethal amounts of food. Virgo loves John! Virgo will kill other people for John!”</p>

<p>Another bead of sweat rolled downwards.</p>

<p>“Hey, look. It’s not that I don’t appreciate it. I do. Really! Like, having a pretty witch cook food for you, I’m pretty sure that’s every guy’s dream, but it’s not like Potter Manor doesn’t have house elves.”</p>

<p>Virgo pouted. Actually pouted. John was sure he’d never seen Virgo pout EVER. It was kind of like seeing a dementor giggle. And given what he knew to be going on here, wasn’t that far from the truth.</p>

<p>“They are being armatures!” Virgo declared. “They is not having—” She paused. “They do not <em>have</em> wizard greatness in mind when creating culinary masterpieces!”</p>

<p>“How does eating half a bicorn make me a better wizard?”</p>

<p>“Magic is stored in lean body mass. More mass equals more magic. More protein equals more muscle, equals more magic, equals greater wizard. Also, more buff is more sexy. My John will not only be great wizard, but also buff wizard. Mmmm… Buff John.” Virgo smiled at him with half-lidded eyes long enough to make John rather uncomfortable.</p>

<p>He’d described Virgo as pretty before and she was, but while John had been happy to have girls his age hanging around him, he hadn’t been planning to actually <em>do</em> anything about it until he at least got back to where he’d been before dying. Virgo looked like if he gave her the greenlight, she’d rip her clothes off and jump him right here right now.</p>

<p>Admittedly, her own consciousness was older than even his, but that didn’t change the fact that the girl staring at him like he was the last lollipop in the shop was wearing the body of a twelve-year-old.</p>

<p>He loosened the collar around his neck with a finger. “Errr. Don’t you also have to lift weights to grow muscle?”</p>

<p>“Ah, yes!” Virgo snapped her fingers and a parchment appeared from thin air. “Here Virgo also has your workout schedule. Your homework schedule. Your duelling schedule. Your occlumency schedule. Your animagus schedule. Your Virgo schedule. Your other girls schedule. Your Quidditch schedule. Your networking schedule. Your family magics schedule—”</p>

<p>Sweat was no longer running down John’s neck. It sprinted. As though desperate to get away from the host that secreted it.</p>

<p>“Virgo!”</p>

<p>“Mmm?” Virgo was halfway through describing how she had combined his sartorial schedule with her own, which she had suddenly become a lot more interested in. Apparently she’d booked him to go shopping in Diagon Alley the weekend after next. The idea that he might not be allowed to leave Hogwarts so many weekends in a row apparently hadn’t occurred to her. Or that her father might get pissy.</p>

<p>Lord Malfoy certainly hadn’t been thrilled when he’d arrived through his floo.</p>

<p>And since the Malfoy patriarch had pulled her out of Hogwarts after the Basilisk incident, Virgo suddenly had a lot more freedom with her time. Given the whole free-house-elf situation that she’d informed him of the moment they first saw each other again in the aftermath, John wasn’t altogether sure if having that much free time was a good thing or not.</p>

<p>“You were talking about a Wizengamot session?” John said, trying to steer the conversation back on track and away from himself.</p>

<p>Virgo relayed to him everything that was on the docket.</p>

<p>John’s eyes widened. “Are you saying?” he began.</p>

<p>Virgo smirked. That part of her at least hadn’t changed. “Virgo is saying that if ever there was an opportunity to move your brother into a political situation that would make us outing him as Lord Slytherin do the most damage, it could very well be being—” Virgo smacked herself, hard.</p>

<p>For some reason, John found that action far hotter than anything else she’d done so far.</p>

<p>“…it could very well <em>be</em> at this Wizengamot session.”</p>

<p>John felt his heart speed up. “This could be it.”</p>

<p>Virgo grinned. “This could be it.”</p>

<p>“We could out Harry.”</p>

<p>Virgo nodded. “We could destroy Lord Slytherin.”</p>

<p>“Restore the timeline.”</p>

<p>“And become the greatest power couple the wizarding world has ever seen!”</p>

<p>John nodded to himself. The Gray’s secret really was the key to everything. Break that in the right way, and everything else would fall into place. It might even be the key to getting Ginny back. Although, given the way Virgo was currently acting and the history between the two, he probably shouldn’t say that last bit out loud.</p>

<p>A/N: The players are moving their pieces into position!</p>

<p>You have reached the end of the publicly available chapters.</p>

<p>Thank you very much for reading.</p>

<p>But the story doesn’t end here!</p>

<p>Private early-access scenes are available over on <a href="https://leadvone.com">https://leadvone.com</a> for those willing to support the project’s continuation as I write more!</p>

<p>Thank you again and I hope to see you over there.</p>

<p>- LeadVonE</p>

