Chapter 76 - The Gray's Secret - Chapter 3

<p><em>Montrose, Scotland: Four days before the Wizengamot Weekend.</em></p>

<p>Lord Zazo clicked his tongue as he and his companions waited for their guest to finally appear.</p>

<p>They’d chosen the Wizard’s Wand for their meeting point—a pub famous for its cheese and niffler pies—not because it was the best Montrose had to offer, but because it was pretty much all Montrose had to offer. Well, that bit that was magical, anyway. The magical population of Monrose had swelled over the last hundred years, from just over a hundred at the turn of the century, to nearly five hundred today, but over that same time, the central enclave, where magical business was officially allowed to be carried out, hadn’t grown a buggering inch.</p>

<p>Lord Zazo would have loved to put their guest up in his glorious and incredibly expensive manor house, but that wasn’t possible, because he didn’t have one. Not many lords did.</p>

<p>Those lords whose families had graced them with such good fortune tended to be the default leaders. Not necessarily because they themselves were such amazing politicians, but because on the one hand, money talks, and on the other, because plotting the glorious future of the noble Wizarding race felt so much more on brand when done in grand dining rooms with mahogany tables, silver cutlery, and giant marble pillars, rather than in the tiny booth of a smokey tavern with damp floorboards, rotting thatch, and a draft with an all you can eat pass.</p>

<p>This was not how Lord Zazo imagined his first encounter with their soon-to-arrive guest would go. He’d been looking forward to this meeting of minds for a while and in his imagination he’d always pictured it as him turning the corner in Slytherin Manor, or maybe Malfoy Manor, and there he’d be. Tall, ominous, and masked.</p>

<p>“Ah, Lord Zazo,” he’d say in a deep rumble and a nod. “I have been looking forward to meeting a mind so much like my own.”</p>

<p>And he’d nod back. “As have I, Lord Thlytherin. As have I.”</p>

<p>And then, they’d talk. About everything. The future of the Wizarding race. The Albion. The Magical Empires of the past. The true nature of Power. And Lord Slytherin would <em>listen</em>.</p>

<p>Although, in a pinch, he’d settle for a discussion about getting the Wizard’s Wand a new thatched roof.</p>

<p>Lord Zazo glared around him. Then at his watch. Then at the door. Then in a voice several octaves higher than the voice he always imagined he used, he declared, “He ith late.” His gaze swung to his companions. “He thaid he’d be here at ten, but it’th five patht ten. Hith tardineth ith quite evident.”</p>

<p>His two companions glanced at each other.</p>

<p>“Meby he isnae comin’ by floo,” said Hamish McGregor, the Mayor of Magical Montrose. “Meby he arrivn’ on dragon back.”</p>

<p>“Land dragon,” said William ‘Willy’ Sinclair, Captain of the Montrose Magpies Qudditch team, sounding far more tired than a strapping young man his age should. Probably his having to deal with Hamish all the time. “His betrothed is a land dragon,” the boy clarified. “He isn’t going to walk all the way through the Scottish Highlands on the back of a giant fifteen ton bloody monster. The muggles would spot it. And it’s too slow.”</p>

<p>“Ay denae know ‘bout no land dragons,” McGregor countered. “They sayin’ dragon and dragons fly. Why canae’ the lass nae fly?”</p>

<p>Willy sighed. “Because it’s not really a Dragon, Uncle. It’s called a dinosaur and they all died out before humans evolved. People are just calling it a land dragon.” He looked towards the fireplace. “No idea why,” he muttered not quite under his breath. “It’s not like dragons have feathers.”</p>

<p>“If the lass be havin’ feathers than by Merlin’s beard she should fly, right enough,” McGregor said. “Birds have feathers and birds fly. Are ya sure she canae fly?”</p>

<p>“Yes, Uncle. I’m su—”</p>

<p>Just then the floo flared green, marking the arrival of a guest.</p>

<p>“Jusht on time!” Lord Zazo said, jumping into the gap in the conversation before either of his companions could get a verbal foot in. “I don’t need to remind you how important thish meeting ish. Leth me do the talking.”</p>

<p>A figure stepped out of the flames.</p>

<p>“You? Russell, ya big ninny, ye canae even say the man’s name right. I can speak for me, thank you very much.”</p>

<p>Lord Russell Zazo flushed red as the mysterious Lord Slytherin stepped towards their booth with all the self-assurance and majesty of a true Lord of the Wizengamot.</p>

<p>“Gentleman.”</p>

<p>And before Zazo could think to do or say anything, the masked man of whom most of Magical Britain had only ever before heard rumours and whispers, was there, sitting down at the table with them.</p>

<p>“I understand you have a proposal.”</p>

<p>“Yesh,” Zazo said quickly, thanking the stars for the obvious opener. “You shee, we were thsinking, what witsh you now being part of our communishy—err, short of—that you might like—that ish you might shee it worthwhile—and itch ish worthwhile, I asshure you—that you might—”</p>

<p>Zazo’s heart was beating at a mile a minute. He’d often sat in on meetings of the Dark as a Lord with a valuable seat to fill, but he rarely said anything. His family had once been one of the major players in Magical Britain, known for their fiery oratory and silver tongues.</p>

<p>Alas, that reputation had led to their downfall. The rules of the Albion ensured that the country didn’t devolve into one almighty blood feud, but that didn’t mean there weren’t ways to lay a family low. A bitter enemy of his great, great grandfather had, at great personal cost, cursed his nemesis to always speak with a lisp and that curse had passed through the family line all the way to him.</p>

<p>No curse breaker had been able to do anything. To break the curse, would likely kill him and anyone related. And the result, to a family that prided itself on elocution and passionate speeches, was predictable. Within a few generations, they’d been reduced to sitting on the sidelines of politics, maintained by a stipend from the Malfoys, deemed useful only as a mediocre wand and a solid vote to be bought when needed. In a world where image was everything, no one could take his family seriously. Not even the deatheaters had wanted him on the inside.</p>

<p>Now, he was sitting here, talking to Lord Slytherin.</p>

<p>And, without interrupting even once, the Gray Lord was <em>listening</em>. He was listening with such intense focus on him and him alone that not even Hamish or Willy dared to interrupt. After ten whole minutes of pitching the infrastructure upgrades that his home town so desperately needed, he began his wrap up.</p>

<p>“And sho, you shee, we sink that an inveshment into Maltrosh will be very profishable to you, Lord Shlytherin. To ush! And to the community! The enclave MUSHT be expanded and the minishtry doesh not want to hear it. We are shure you would be an exschellent land lord for the people here and I assure you they want nothing more than to live together again, as wishards and wishes!”</p>

<p>Lord Slytherin’s mask regarded him silently for a long moment. Then, without speaking, he stood, and, much to his surprise, offered him a gloved hand. Not to shake, but to take.</p>

<p>Exchanging cautious glances between his two companions, Lord Zazo slowly took the hand. Lord Slytherin then led them away.</p>

<p>Russell didn’t say anything. He was very good at that.</p>

<p>He didn’t say anything as the masked lord led them out of the Wizard’s Wand, out into the overcast magical enclave of Montrose. Nor did he say anything as he was led like a maiden by her suitor through to the walled entrance, and out into the muggle world.</p>

<p>“In here,” Lord Slytherin finally said, as they arrived at the door to a non-descript muggle residence.</p>

<p>Lord Zazo bit his lip, but didn’t object. He probably should have. He probably should have demanded to know what the hell was going on, but something stilled his tongue. McGreggor and Willy were following them and looked like they were about to burst from curiosity.</p>

<p>Zazo stepped into the house and heard the door close behind him with a click, leaving him now alone.</p>

<p>The room was bare, except for a chair on the far side, bedecked with chains and muggle locks. A sign above the chair said, “sit here and fasten the locks.”</p>

<p>Heart speeding up, Zazo did so. He was starting to get more than a little worried now, but he was sure Slytherin wasn’t going to try and pull anything. This whole meeting had been their idea. He was certain the upcoming meeting with the Wizengamot was going to pull many of the lord’s resources away from him and he wanted to get his petition in before anyone else.</p>

<p>Looking around the room, he saw typical muggle stuff. Stationary picture frames. Dusty floors. A general feeling of lack of life.</p>

<p>Minutes passed.</p>

<p>Then, a panel in a nearby wall slid back, revealing a large crate with air holes. The kind you might keep a wild animal in.</p>

<p>Zazo’s heart rate sped up. He pulled on the chains, just to test, and, yes, if Lord Slytherin tried anything, there wasn’t much he could do about it.</p>

<p>Slowly, the crate started to move towards him, scraping along the floor as though being pushed by muscles, rather than with magic as any decent wizard would.</p>

<p>As it moved closer, he tried to see what was inside the crate, but no luck. There <em>was</em> something there, something moving, but for the life of him, he couldn’t see what.</p>

<p>Then it scraped to a stop right next to him and Lord Zazo felt what he could only think to describe as ‘weird’. As though someone was draining something out of him. Like he’d been casting all day and was now feeling the results. Except, he didn’t feel the horribleness of magical toxin build-up, just the emptiness. The loss.</p>

<p>He didn’t like it.</p>

<p>He really didn’t like it.</p>

<p>But at the same time, he didn’t want to stop.</p>

<p>Because while he felt that very important thing draining out of him, he also felt something else draining out of him, too.</p>

<p>Something sludgy. As though he’d spent his entire life with his head in a vat of gunky oil, only now to be taken out and rinsed off.</p>

<p>Something horrible was leaving his soul.</p>

<p>After what felt like an age, the crate started to scrap back again. As it left the room, he thought he saw the briefest flash of a human eye looking at him through one of the holes, but he was sure he’d just imagined it.</p>

<p>The wall panel closed with a thud, leaving him alone once more.</p>

<p>The front door opened and Lord Slytherin walked in. With a wave of his wand, the chains he’d restrained himself to the chair with all fell away.</p>

<p>“How do you feel?” he asked.</p>

<p>“Weak,” Russell rasped out. “Weak as kitten with dragonpox. What the hells did you just do to me?”</p>

<p>“I didn’t do anything, my friend,” Lord Slytherin replied. “I merely offered you a seat.”</p>

<p>“Lord Slytherin,” Russell began, before stopping as the word he’d just said registered with his brain. “Slytherin,” he said again, slower this time. Lord Zazo’s eyes widened.</p>

<p>“Slytherin!” he said, louder this time. He was still rasping, but the hesitancy of energy conservation was being forced away by the drunken hysteria of realisation. “Slytherin! Slytherin! SLYTHERIN!!!”</p>

<p>Lord Slytherin just stood there, as Russell started to laugh. Tears began rolling down his face.</p>

<p>“I don’t believe it!” he said. “I’m— I’m not lisping! I can speak! Ye gods, man, I can speak! Hark! What marvel dost thou witness before thine very ears? Methinks a gentle transformation hath swept through mine own! For I, who did once stutter stanzas, now speaks finely as the river flows, unencumbered by such twists of tongue! Holy shit!”</p>

<p>Behind him, McGregor and Willy were staring with their mouths open.</p>

<p>Lord Slytherin nodded. “I want Montrose to be an ally of Slytherin. If the ministry does not appreciate your town, then I will take on their burdens for them. I will provide the funds to expand the enclave and bring every wizard or witch who wills it into the magical world proper, at a rate that will not leave them destitute.”</p>

<p>Lord Zazo scooped up Slytherin’s hand and tried to shake it with all the enthusiasm he felt, only to nearly topple over, forgetting his momentary weakness. Once he was back on his feet, and with Slytherin steadying his shoulder, he looked right into the mask’s eye holes. “Done, my friend,” he said. “I will see to it that no wizard or witch who lives in Montrose says a bad word about you. I will make this town a fortress to your good name. In fact, I name the noble house of Zazo a loyal ally of yours. I have no great wealth to share, nor allies to bring, but I swear by the memory of two hundred years of pain and humiliation that me and mine will stand with you, no matter what, even as the earth swallows you whole, and even after that, we will fetch our spades and get digging.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p><em>Hogwarts, Scotland: Three days before the Wizengamot Weekend.</em></p>

<p>“And that’s Montrose,” Daphne said, putting a little tick beside the location marked for the east-coast sea-side town on the large map of Scotland pinned up in the empty classroom Hermione had been using for the Founders Club meetings. It was lunchtime and the second-year girls were grabbing a moment to plot before Herbology. “Add that to Wigtown, Banchory, and Portree and we’ve now got direct influence in every major Scottish magical settlement North of Edinburgh.”</p>

<p>“Except for Hogsmeade,” Hermione pointed out.</p>

<p>“Except for Hogsmeade,” Daphne agreed. She pursed her lips. “And that is not a small deal. Hogsmeade is by far the most influential town in the region. It might as well be Scotland’s unofficial magical capital. We’re going to have to think hard about how we’re going to bring it under the Gray’s sway.”</p>

<p>“Don’t they also need investment?” Hermione asked.</p>

<p>“Not nearly to the same extent,” Daphne replied. “Many influential lords make Hogsmeade their home. They’re happy to ensure the town gets the infrastructure it needs. No, if we’re going to win over that town, we’re going to have to appeal to something other than money. At least, directly.”</p>

<p>Looking between Hermione and Daphne, Pansy Parkinson watched with wide eyes. Next to her Milicent Bullstrode was doing much the same — new to the plot, but now in a somewhat similar boat. Her parents had ordered her to join the nascent group to ‘avoid isolation,’ and Slytherin’s ice princess had not objected.</p>

<p>“Any ideas?” Daphne asked and it took Pansy a second to realise that the question had been directed at her.</p>

<p>She stuttered. “Umm— I mean, that is…” Pansy stopped. She’d been raised for this. Ever since she’d been old enough to hold a toy wand, her mother had told her that one day she was going to be stepping into the wizarding world of politics and it would be her job to advise her husband on matters that men often found it difficult to think straight on.</p>

<p>She’d assumed that wasn’t going to be for ages, though.</p>

<p>Oh, sure, she knew the behaviours. Knew the rituals. She knew how to hold her teacup, which forks and knives to use, how to address whom based on their rank and station, and even played a mean game of magical poker, watching her opponents faces for tell-tale hints of bluff or counter-bluff, all while shielding her mind from legilimency probes, or, when setting up a cunning counter-bluff of her own, letting them in.</p>

<p>She’d known all this, but she was quickly coming to realise that she hadn’t actually been ready ready. And hadn’t expected to need to be for a long time.</p>

<p>Marriage, even for a noble witch in magical Britain, was something that was going to happen ‘out there in the future’.</p>

<p>She hadn’t really expected to be sitting in on a high-level strategy session for a major political faction, when she wasn’t even old enough to visit the very wizarding village whose political conquest was being discussed — not without a signed note from her mother or father.</p>

<p>Pansy bit her lip. “Does Lord Slytherin really listen to you? I mean, if you went to him and said, ‘I think we should do this?’ Would he actually take you seriously? My father always sends me away whenever there’s important stuff to talk about with his friends. ‘Not old enough’ he says.”</p>

<p>In response to her question, Daphne Greengrass smirked. “Of course, my lord listens to me. I’m his future first wife. Why wouldn’t he?”</p>

<p>Hermione chose that moment to have a coughing fit so ladened with meaning that it might as well have been a philosophical treatise.</p>

<p>Greengrass glared at the muggleborn with her piercing blue eyes. “And listening to me is <em>not</em> the same as slavishly doing as I say. Of course our lord will make his own judgement after listening to my council.”</p>

<p>Another round of meaningful coughs, this time combined with a look that said, ‘Really?’.</p>

<p>Greengrass rolled her eyes. “If you want to be pedantic, fine! He will listen to all our council. Mine and Hermione’s. Luna’s too. Alexandra Black’s, sometimes. As well as any advisors he has among the other lords of the Gray. And anyone else he happens to respect. Happy now?”</p>

<p>Finally, Hermione nodded, looking satisfied and more than a little smug.</p>

<p>Suddenly, the entire room shook, once. The floor vibrated, the glass rattled in the windows, and a poorly balanced book at the end of a line of books on a shelf fell over.</p>

<p>Then the impact came a second time.</p>

<p>From outside the window, down on the Hogwarts grounds, several teenage girls screamed — a skirt-wetting cry of utter terror that just seemed to go on and on.</p>

<p>Several more impacts shook them before the room darkened, one beam of sunlight vanishing, replaced by a gigantic eye in the window — a third-floor window.</p>

<p>Pansy felt a wave of primal fear sweep over her as the eye’s pupil contracted, staring right at her. She knew what it was, of course, but that didn’t help.</p>

<p>A moment later, the giant form shifted and a first-year girl with dirty blonde hair and radish earrings was hanging onto the ledge outside the window by her fingertips.</p>

<p>After a quickdraw wand contest between Hermione and Daphne, which Hermione won, but not by much, the window opened and the girl was climbing inside.</p>

<p>“LUNA PANDORA LOVEGOOD!” screeched the voice of Professor McGonagall from down on the grounds.</p>

<p>The window snapped shut, muffling all sounds from outside again.</p>

<p>“Luna,” began Hermione in an admonishing voice. “What did our lord say about frivolously using your animagus form before the Wizengamot emergency magic hearing?”</p>

<p>Luna finished patting down her school robes before looking thoughtful. “That I should think very carefully before doing it?”</p>

<p>“And?”</p>

<p>Luna smiled brightly. “And I did!”</p>

<p>Hermione groaned.</p>

<p>Daphne snorted.</p>

<p>Pansy did a double-take at that. The ice princess of Slytherin did not snort.</p>

<p>Daphne quickly adopted a more serious expression. “Luna, do you also remember that we’ve been given special permission to leave Hogwarts on the weekend to attend the Special Wizengamot Session and that Professor McGonagall could theoretically still take away our permission?”</p>

<p>Luna adopted the ‘looking thoughtful’ expression again. “I suppose she could try. But she would likely fail. Now that Virgo has fled, our lord has less incentive to pretend that his control of the wards may be anything other than almost permanent. Lockhart is in our pocket. The bloody baron would not say no.”</p>

<p>“And she could take that failure as a personal insult,” Daphne pressed. “McGonagall isn’t just a teacher, she’s an influential witch in her own right. Setting her up as an enemy could backfire.”</p>

<p>Just then, the door to the classroom burst open and in came Professors Potter and Snape. The first stormed. The second swept.</p>

<p>“Just what do you think you’re playing at?” Lily hissed. “Three Ravenclaw girls are in the infirmary, being treated by Madam Pompey with calming solutions and one Gryffindor sixth-year boy fainted! I don’t think they’ve ever been more frightened!”</p>

<p>“Oh, dear,” Luna said, and the dreamy delivery meant that Pansy had no idea if the girl was being genuine or just really really sarcastic. “Do you think Boggarts can turn into T-Rexs? You might have to get a larger DADA classroom.”</p>

<p>And Pansy still had no idea!</p>

<p>At that last statement, Snape swept forward and towered over the petite blonde. “I know you believe that your betrothal with Lord Slytherin means that the rules don’t apply to you, Miss Lovegood,” he said in a low, dangerous voice, “But I assure you, they do. 100 points from Slytherin and detention for a week!”</p>

<p>“Oooo, extracurricular activities!” Luna clapped her hands. “Are we going into the forest?”</p>

<p>The edge of Snape’s lip curled. “No, I think not. I think we can find something more appropriate.”</p>

<p>Luna looked up with a curious expression as if to say, ‘What?’</p>

<p>Snape smiled. Worse than any expression thus far. “I think some inter-house team building would be appropriate. Something to build bridges and ease tensions. As such, you will report to Gryffindor Tower every evening until the weekend. I think John Potter could use some help answering all his fan mail.”</p>

<p>Pansy had seen many things she didn’t think she would over the last few months, but one thing she had yet to see was Luna looking anything other than dreamy, joyous, or pouty.</p>

<p>Luna’s expression fell. Under her breath, she quietly muttered, “Oh, poo.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p><em>Granger Cottage, Gairsay Island: Two days before the Wizengamot Weekend.</em></p>

<p>Deep beneath the ground, Clare Cooper ran her miss-matched eyes over the second nearly complete massive broomstick-shaped submarine in the wet docks of the Granger’s private mad scientist laboratory.</p>

<p>“Lowering the beam!” called out a newly recruited graduate wizard, as three of his fellows held their wands aloft, manoeuvring a large length of solid wood that had to weigh several tonnes onto a third carefully laid out position on the laboratory floor.</p>

<p>The former prostitute surveyed the work site. Lord Slytherin now had nearly a dozen young wizards and witches working for him here. Each one getting a practical education that had long been denied her. At least, until he’d taken her into his service.</p>

<p>Off to the side, a massive American flag hung over the first completed broom sub of the series - the series that was based off of the first prototype that even now was pulling up gold and treasure from the depths of the Atlantic Ocean. That one had been completed for nearly two weeks now. They were just waiting for the demonstration round in MACUSA’s procurement process. Apparently it was going to be soon. Very soon.</p>

<p>Next to her, Madam Goose, Headmistress of Madam Goose’s Home for the Magically Gifted, watched the proceedings with a hawk-like expression. Unlike Clare, this was the headmistress’ first time visiting Gairsay Island.</p>

<p>“Right, strap it down!” called out one of the female witches Clare vaguely recognised as a sixth year at ‘the Boot’. Binding spells shot across the wooden beam, lashing it into place. On the other side of the workshop, some unknown muggle machine started whirring in the ‘no magic allowed’ zone.</p>

<p>“This seems like a productive enterprise,” Madam Goose eventually said in a tone of voice that suggested she was genuinely surprised to not find the place on fire on arrival.</p>

<p>“Lord Slytherin has big plans,” Clare replied, knowing this is what was expected of her. “He values your trust and wishes nothing but the best for those you send his way.”</p>

<p>Madam Goose pinned her with a look that stripped bullshit from the soul faster than a Killing Curse. “Please do not kiss my arse, so, Miss Cooper. I know full well Lord Slytherin is a man of responsibility. Your own entrance into my care is proof of that.”</p>

<p>Clare winced. “Yes, Madam Goose.”</p>

<p>“I was merely expressing my surprise that he has taken our students and so quickly turned their wands to crafts and spells for which we did not specifically train them.”</p>

<p>“Yes, Madam Goose,” Clare replied, tersely. It seemed a lot safer then, ‘Well, maybe if the ministry didn’t hamstring your school and force you to hand all your students a crappy, sub-par education designed to keep them as harmless as possible, maybe my lord wouldn’t have to have them trained them in such basic spells as are taught at Hogwarts in the second and third fucking year.’</p>

<p>Evidently something of her thoughts leaked through, because Madam Goose pinned her with her gimlet stare again.</p>

<p>She didn’t say anything though, so Clare quickly redirected the conversation. Or at least, she tried to.</p>

<p>“Have you put any more thought towards my lord’s proposal?” she asked, referencing the little project Lord Slytherin had given her at the Slytherin Manor Winter Solstice, dancing away in the packed ballroom wearing a ridiculously expensive dress and jewels, all in the arms of the man who every other eligible woman in that room had been staring at like he was a juicy, hunky, piece of meat, and quite a few of the married ones as well. Clare shook her head to clear it, returning her thoughts back to the present. Now was not the time to be daydreaming of her mysterious masked benefactor. “I know you had concerns.”</p>

<p>Madam Goose opened her mouth to reply when they were interrupted by Mrs Granger, wearing a white lab coat, glasses, and an expression that suggested she was having the time of her life and wasn’t about to let anyone else not know it.</p>

<p>Her rattling footsteps on the metal mesh mezzanine overlooking the workshop heralded her arrival and after a few quick pleasantries—She and Madam Goose had already been introduced when the Headmistress had first arrived—got down to why she’d decided to rush over.</p>

<p>“You’ll love this!” Mrs Granger enthused. “We’re about to drop the first set of micro runes!”</p>

<p>“Ah, yes,” Madam Goose said, clearly taken aback by the bouncy muggle’s enthusiasm and while Clare didn’t know her well, had the impression of trying not to get swept up into Mrs. Granger’s pace. “Some kind of advanced array system, no?”</p>

<p>“Something like that.”</p>

<p> “You know, I am amazed a muggle can handle this kind of project.”</p>

<p>Mrs Granger waved vaguely. “Yes, everyone says that. It’s not that dissimilar from electronics schematics when you get right down to it.”</p>

<p>“Yes?”</p>

<p>“Oh, absolutely. Obviously, I’m useless at actually doing anything with the rune sets myself, but just thinking about how everything slots together? It’s really quite enjoyable.”</p>

<p>Clare stared straight ahead. She’d looked at a few rune books. Fun was not a word she’d have used to describe anything associated with anything to do with them.</p>

<p>Right then, the second nearly complete Broomsub began to glow.</p>

<p>“Ooooo, here we go!” Emma Granger said.</p>

<p>A small cheer went up from all the young wizards and witches working in the workshop below, who’d all stopped their own individual work to watch the light show.</p>

<p>Madam Goose watched with round eyes as the magical build-up on the massive artefact began to grow.</p>

<p>Clare chewed her lip as the first step of the Broomsub’s activation sequence began, a week-long process that would result in a fully functioning vessel of magical war.</p>

<p>It was a good thing for her lord’s enemies that MACUSA already had an option for at least five of these things. Slytherin probably wouldn’t have even the beginnings of a fleet of his own for well over a year. That’s if he didn’t get even more contracts from other nations, which she wouldn’t be surprised if he did. Clare didn’t know much about this kind of thing, but she thought she understood her lord at least a bit by now, and he wasn’t the kind of man to offer something for sale unless he thought he could get more from it than mere gold. Though the gold was still important. He’d said as much to her once in one of his little lectures. ‘Arms sales is as much about control and influence as it is money,’ he’d said, while the girl Daphne Greengrass sat nearby, studiously taking notes of everything he said. ‘Control the sales of arms, and your influence on those nations who buy from you goes up. Nations know this, so they’ll only buy if what you have to offer is truly going to increase their combat effectiveness in a way that’s strategically critical for them. That’s what the Broomsub is — a Trojan Horse of foreign policy influence’.</p>

<p>Back in the workshop, the light began to die down around the second Broomsub and another cheer went up.</p>

<p>Clare started to clap along with the two other women next to her.</p>

<p>Lord Slytherin had come into her life as a saviour. But sometimes, she couldn’t help wonder if she’d climbed into bed with a powerful, uncontrollable demon.</p>

<p>Not literally, of course, she quickly amended in her head.</p>

<p>She bit her lip. At least, not yet.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p><em>The Burrow: One day before the Wizengamot Weekend.</em></p>

<p>“Mum, can’t you do anything?!” Bill Weasley was this close to straight-up whining. “Ginny is too young to know what’s best for her!”</p>

<p>“William, that’s enough!” snapped Molly Weasley, who’d finally had enough. Her eldest son had been an increasing headache for months now, and she’d been tolerant, but there was only so far she was willing to be pushed. “I agree that Ginny is too young, but your father and I are not, need I remind you, and Harry is a wonderfully responsible young wizard. They’ll make a lovely match.”</p>

<p>“But you haven’t even met him!”</p>

<p>Molly ignored this because it was true. Instead, she flicked her wand and a half-dozen plates flew across the room, setting themselves on the kitchen table. One needed to keep busy while the children were away and she’d always done this by hosting endless tea parties for her old school friends.</p>

<p>At least, she <em>had</em> needed to. Recently it seemed that one or more of her babies were zipping by the burrow far more often than they used to.</p>

<p>Just the other week, the twins had needed a place to crash while they prepared for some kind of meeting in London. In March!</p>

<p>When she’d been at Hogwarts, the furthest she’d hoped to travel during term time was Hogsmeade.</p>

<p>Not that she wasn’t incredibly proud of her boys. She wasn’t entirely sure what it was they actually did, even when Arthur had tried to explain it, but she’d seen the cut of their new robes and the quality of their new boots, along with the gold slowly trickling into the Weasley family tax vault, and that was more than good enough as far as she was concerned. Why, at the rate things were going, they’d even be able to go holiday this summer! She’d had her eyes on Egypt, but if Bill wasn’t going to let up about Ginny, maybe Romania instead.</p>

<p>She whacked the rolling pin down on a fluffy mound of bread dough. “Bill, if you’re going to hang around pestering your mother and father,  you can at least make yourself useful. Go de-gnome the garden.”</p>

<p>Bill Weasley marched out of the back door, muttering something under his breath about land rights, evictions, and the exploitation of native populations of semi-sapient creatures, but didn’t actually go so far as to refuse her. A few minutes later, gnomes were sailing through the air outside, more forcefully perhaps than she’d seen before.</p>

<p>Mrs Weasley wiped her hands on her apron just in time for the family clock to begin to whir. Glancing up, she saw Arthur’s spoon grind around from ‘working’ to ‘travelling’. Then, a minute later, the name ‘Mister Arthur Weasley,’ engraved on the shaft, snapped into position at, ‘home.’</p>

<p>Molly poured a cup of tea as a whoosh sound erupted from the floo and then waited for the inevitable.</p>

<p>“Oh, dear, oh dear,” Arthur said, bumping open the kitchen door with his hip while carrying what appeared to be a dozen separate white boxes. “Molly, you’re never going to guess the day I’ve had. Oh, thank you,” he said as she handed him the tea cup after flicking several of the boxes away with her wand. A quick kiss on the cheek and he collapsed at the table.</p>

<p>“I swear, the whole ministry is buzzing like an upturned doxy nest over this so-called, ‘Wild Wizengamot Weekend.’ Blasted Skeeter and her blasted headlines.”</p>

<p>He took a sip of tea. “And of course I got dragged into some high-level planning, even though my department has only a minor interest in one of the items on the docket and I myself am only guiding one of the bills, trying to keep the nobles in line long enough to get some actual work done, but does anyone listen? No, you’d think I was the Chief Warlock with how much extra parchment work they’ve thrown at me.”</p>

<p>“People rely on you, dear,” Molly said with pride, flicking her wand again, turning the hard-backed kitchen chair into a carbon copy of his favourite armchair from the living room.</p>

<p>Arthur seemed to melt into it.</p>

<p>“I suppose they do,” he conceded with a groan of comfort. “Still, I have a feeling something I’ve missed is going to come up. They’ve postponed voting on the Muggle Protection Act so many times, it would be just my luck for some innocuous little detail to block it again.”</p>

<p>“You’ll think of something, dear,” Molly said.</p>

<p>“Mmmm…” Arthur said by way of acknowledgement. A rare moment of quiet settled down between the two, save for the sound of the Weasley family clock tick-tocking on the wall, keeping time even while tracking every member of the Weasley clan.</p>

<p>Then, Arthur thought he heard a sound. It was quiet and on the edge of hearing. A kind of wwwwhhhhhhaaaaAAAAAHHHHHH!!!!</p>

<p>His eyes shot open, just in time to see a gnome splat against the kitchen window with enough force to shake the frame.</p>

<p>“What on earth?!”</p>

<p> </p>

