Chapter 77 - The Gray's Secret - Chapter 4

<p><em>Zero Days before the Wizengamot Weekend: 1:00am</em></p>

<p>Clare dreamed. And in her dream, a giant padlock floated before her. She wasn’t sure what the padlock was and had no clue how to open it. Although some part of her — a small part that remembered something her current employer/guide/teacher/lord/crush(!) had once said about memory charms — reflected that maybe she didn’t want to open it, even if she could.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p><em>Zero Days before the Wizengamot Weekend 3:00am</em></p>

<p>Susan dreamed. And in her dream, her Aunt’s London apartment—practically on the Ministry’s door-step—wrapped around her like an enchanted warming blanket. In the apartment Library, the refuge for her dead parents’ family collection, she put down the latest book she’d been reading, feeling that she was nearing the limit of what her occlumency-induced lucid dream would handle for one night, and made a quick detour down the main corridor, towards where normally one might find the cloak-room. Instead of the cloakroom wooden door there was instead a massive vault door, locked with enough magic to put a war ward to shame. Or at least, that’s what she imagined.</p>

<p>Susan bit her dream-self lip as she looked at it. She was pretty sure that, with her current occlumency skill, if she started now, she could maybe break the lock, in say, ten years. But that would go against every lesson every noble child was taught about memory charms.</p>

<p>To be memory charmed as a noble meant that you had voluntarily removed your noble house ring for the charm to be applied. Everyone knew this. Such actions almost always came with magical contracts with clauses explicitly requiring that the memory charm not be tampered with and the consequences of breaking such a contract could be quite terrible.</p>

<p>Susan knew all this and wasn’t going to even start on trying to break the lock. That didn’t mean she wasn’t curious though… Curious and more than a little worried.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Zero Days before the Wizengamot Weekend: 5:00am</p>

<p>Harry dreamed.</p>

<p>And in his dream, the fortress prison of Azkaban rose around him, both a comfort and a curse. Behind him stood a mental portal, leading to whichever of his girls he’d entrusted the dreamscape pendant too, still flickering from his recent exit.</p>

<p>Hermione was doing well with her independent studies.</p>

<p>She’d soon be ready to start exploring the Aether Unpacked properly.</p>

<p>Walking away from the portal, Harry made his way through the corridors of Azkaban, reflecting on the quiet and emptiness — a reflection that was somewhat ruined a few moments later as a dementor glided through an intersection up ahead. There was no fear or soul-sucking depression though. These mental constructs guarded his mind at his behest, not at his enemy’s.</p>

<p>Continuing on, he briefly stopped to look in on the dirty little cell he’d been kept in for upwards of a decade. It seemed incredible, looking back, that such a thing had held him for so long. Since being jail-sprung by his benefactors, he’d build such a position for himself that the prospect of ever finding himself in such a state was highly unlikely, even if a part of his mind—one that he kept an incredibly close eye on—still jabbered in terror at the thought.</p>

<p>Moving on from the grubby little jail cell, Harry hesitated.</p>

<p>But, no, there was no reason for him not to continue.</p>

<p>Walking slower now, each booted step calm and measured, Harry walked up the line of cells until he arrived at one quite unlike any of the others. Instead of metal bars, jagged bolts of lightning crackled, running up and down the space where in other cells a door would have been — green bolts of lightning.</p>

<p>Harry stood outside the lightning door with his hands behind his back.</p>

<p>Inside the cell, lay what could only be described as a burnt-out desiccated corpse. As Harry continued to watch, the corpse raised its head to meet his gaze. “FREE ME,” it rasped out in a whisper loud enough to shake the stone.</p>

<p>“No,” Harry answered.</p>

<p>“I CAN GIVE YOU EVERYTHING.”</p>

<p>“I have made everything for myself.”</p>

<p>“POWER.”</p>

<p>“I am a lord of lords at the age of twelve.”</p>

<p>“GOLD.”</p>

<p>“I will soon have more gold than anyone in Magical Britain.”</p>

<p>“WITCHES.”</p>

<p>“I have two in law and three more in heart. And they are not mere concubines to be. All my girls could stand by themselves as terrible sorceresses in their own right.”</p>

<p>The corpse cackled. “AS I’D EXPECT FROM THE BABY THAT DEFEATED ME.”</p>

<p>Harry said nothing.</p>

<p>Eventually, the corpse rasped, “WHAT NEWS FROM THE WORLD OUTSIDE?”</p>

<p>Harry shrugged. “Still trying to find a way to end you that doesn’t kill me.”</p>

<p>The corpse hissed. “YOU WILL NOT BRING THAT MUGGLE NEAR ME AGAIN.”</p>

<p>“You are in no position to make demands.”</p>

<p>“OR THAT MUDBLOOD HYBRID ABOMINATION.”</p>

<p>“If you want protection from the likes of Virgo, you know what I wish in return.”</p>

<p>The corpse glared. For the briefest of moments, its eyes flashed with a blood-red glow. “GIVING UP MY POWER TO YOU WOULD DESTROY ME AS SURELY AS A JOINING WITH MY OTHER SELVES.”</p>

<p>“But am I not a more pure expression of what you strive for than your other selves?”</p>

<p>“NO!” the corpse roared and the lightning bolt bars sizzled and flickered for a moment before snapping back to their original shape.</p>

<p>There was another silent beat before Harry replied, cooly. “I am your lord, Tom Marvolo Slytherin.”</p>

<p>For the first time in the conversation, the corpse’s expression twisted into something approximating a smile, albeit one that was all teeth and perhaps occasionally found looking up from the bottom of abandoned wells, tar pits, or collapsed mine shafts that have taken months to dig out. “THEN WHY NOT FREE ME, MY LORD? I COULD SERVE YOU WELL. WHO KNOWS, I MIGHT EVEN DIE IN YOUR SERVICE.”</p>

<p>“The cost is too high.”</p>

<p>The corpse burst into laughter that sounded like burnt meat being fed through an industrial grinder. “THE COST IS TOO HIGH,” it said in a mocking voice. “IS THAT WHY YOU TRIED TO DESTROY ME WITH THE MUGGLE THE MOMENT YOU THOUGHT YOU COULD, DESPITE KNOWING THE COST WOULD BE THE SAME?”</p>

<p>Harry said nothing.</p>

<p>“NO. YOU DO NOT FREE ME BECAUSE YOU ARE AFRAID THAT YOU COULD NOT CONTROL ME. EVEN THOUGH YOU ARE MY LORD. YOU ARE SCARED OF WHAT I MIGHT BECOME. SCARED LIKE A LITTLE BOY — LIKE A LITTLE BOY ALL ALONE AND TRAPPED IN A CELL, THROWN AWAY AND ABANDONED.”</p>

<p>Harry still said nothing.</p>

<p>“WELL? NOT GOING TO SAY ANYTHING, LORD SLYTHERIN?”</p>

<p>Harry turned away. “What is there to say?” He shrugged. “You <em>are</em> right.”</p>

<p>And with that, he walked away, not stopping until he was out in the main prisoner gallery, where fresh-faced inmates would have been marched before the few human guards decided which wing they were to be thrown into.</p>

<p>Harry took a deep mental breath. It had been a while since he’d last visited the horcrux, and he never enjoyed doing so. The thing got under his skin. It made him feel icky, like not bathing for a week — time to regularly bathe and relax being another luxury he’d gotten used to. Mmm… maybe after the Wizengamot Weekend he should think about taking Daphne out on another date. He’d probably need time to unwind. Yes, actually, that sounded like a great idea!</p>

<p>Seeing the barest hints of the morning sun start to illuminate the sky outside, Harry decided it was time to wake up and begin his day. It was going to be a busy one.</p>

<p>When something stopped him.</p>

<p>Harry frowned. Something about his mental palace felt… off.</p>

<p>It wasn’t something he’d have otherwise noticed, but after his talk with Voldemort’s latest soul fragment, his senses were on edge in his own mind in a way he normally wouldn’t be.</p>

<p>Following a sense of what he could only describe as ‘unease’, he made his way through the corridors of his mindscape until he reached, of all things, the prison kitchens. Inside, a few dementors were floating around the work counters, one tossing an omelette in a frying pan, while the other wore an apron reading, “Kiss the Cook.”</p>

<p>“Out!” Harry commanded.</p>

<p>Once his mental guardians had left, he looked around the otherwise completely normal setting and sniffed the air. He frowned. Getting down on his hands and knees, he peered under each of the magical kitchen appliances. When he got to a cupboard full of cooking supplies, he sucked in his breath and stared. There, <em>was</em> something there. Something magic. Only the most skilled of occlumens would have ever noticed it, but he was that and then some.</p>

<p>Gripping hold of the magic firmly, Harry gave an almighty tug.</p>

<p>Like a child’s fold-out book, one whole side of the kitchen inverted itself, appliances, shelves, and freezing cupboards folding away, to reveal something massive in the wall that made Harry suck in his breath.</p>

<p>Polished goblin silver sparkled under so many cartoonishly large chains and locks that what he was looking at might as well be more chain and lock than door.</p>

<p>But that’s still what this was. A door. A vault door, specifically.</p>

<p>It was a memory charm.</p>

<p>A memory charm that Harry had no idea existed in his mind, nor how, why, or even when it had appeared.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p><em>Zero Days before the Wizengamot Weekend: 7:00am</em></p>

<p>*Beep* *Beep* *Beep *Beep* *Beep*</p>

<p>Harry smashed a fist down on the magic alarm clock by his bed. He sat straight up and stared down at the timepiece. Seven O’Clock? Rats!</p>

<p>Whipping aside the curtain to the four poster, he flicked his wand and began a lightning-fast morning routine.</p>

<p>Blaise Zabini stared at Harry as his toothbrush worked itself around his gums while a brush started to lather up for a shave that probably wasn’t necessary, but was damn well going to happen regardless.</p>

<p>“Never seen you up this late,” the Italian-born wizard remarked.</p>

<p>Harry’s pyjamas ripped themselves from his body on his way to the shower.</p>

<p>He’d only had a few hours to work with the memory block, but in that time, he’d worked the many locks and chains down to the point where very little force would be required to bust the memory open. He wasn’t going to do that, of course. The only one capable of putting a memory charm on himself was him. Harry was sure the memory charm wasn’t from before his time travelling—and he trusted himself - but he also was sure that he’d have put contingencies in place for if or when he’d need the memory in future, and if or when that time ever came, he wasn’t about to waste hours tinkering in his mind. No, he was going to bust that sucker open the moment he knew it was time.</p>

<p>That did mean his schedule this morning was going to be a lot tighter than normal. And luck had chosen possibly the worst day imaginable for him to discover such an important nugget of information about his own psyche.</p>

<p>Enspelling mouthwash into his mouth while a fluffy towel dried him from the flowing water, Harry walked out of the shower as his clothes dressed him and shrugged. “Had a late night,” he remarked absently, before sweeping out of the boy’s second-year dorm and towards the common room.</p>

<p>As he passed through the common room, Alex jolted up from where she’d been bent over a writing desk with a parchment and quill, furiously writing away. Furtively, she shoved the parchment into a pocket, transformed into her grim form, and trotted to his side.</p>

<p>As he exited the portal, he found Luna on the other side, who latched onto him, crying about the injustice of the awful punishment in detention she’d been forced to endure, before perking up, petting Alex, and falling into step on his other side.</p>

<p>As they passed the Hogwarts Entrance Way, Ginny jogged into view, visible through one of the windows, and joined them, sweaty and out of breath, through the main doorway, wearing workout clothes and carrying a broom, clearly just back from morning training.</p>

<p>And as they made their way towards the Great Hall, they heard a loud commotion coming from the corridor that led to the library, followed not long after by Hermione, trailing a dozen harried-looking muggleborns, all carrying books and parchments up to their necks.</p>

<p>With Harry in the centre of the four girls—plus the muggleborns behind them, the doors to the Great Hall swung open, and all heads turned.</p>

<p>The usual chatting from student to student dropped as they entered, but quickly picked up again, albeit with a rather more conspiratorial tone.</p>

<p>“They’re all going to the Wizengamot.”</p>

<p>“Bloody nobles.”</p>

<p>“Granger’s muggleborn.”</p>

<p>“I actually forgot that.”</p>

<p>“You think they’ll be expelled?”</p>

<p>“Lord Slytherin would never allow it.”</p>

<p>“Yeah, but Lovegood’s a buggering Tyrannosaurus. And Potter’s a Chimaera!”</p>

<p>“He beat a whole duelling team single-handed. What does it matter if he’s also a Chimaera?”</p>

<p>“You really have no clue, do you?”</p>

<p>“What about Weasley? Think she’ll be allowed to join the England Squad?”</p>

<p>“Not before Black joins the National Duelling Team.”</p>

<p>“Quidditch is more important than duelling.”</p>

<p>“Is not.”</p>

<p>“Is to.”</p>

<p>“Is not!”</p>

<p>“Is to!”</p>

<p>“You people do realize the most important thing is the Muggle Protection Act, right?”</p>

<p>“Shhh… They’ll hear you!”</p>

<p>Daphne Greengrass, sitting at the head of the Slytherin table, stood as Harry neared — an act that none of the politically savvy children sitting around the table—which was pretty much all of them—would fail to notice.</p>

<p>The fact that Harry, as Slytherin’s protégé, seemed to be the defacto leader of the Slytherin students, even though he had never played any of the traditional power games in the Slytherin Common Room, hadn’t gone unnoticed either.</p>

<p>Daphne Greengrass officially had a more solid claim to the title of leader of the Gray Students. It sort of made sense why she might defer to him, given Potter’s sheer ridiculous magical power, though many speculated on how happy she could be about this, given that she was supposed to be Slytherin’s betrothed, and therefore, should technically outrank him.</p>

<p>Alexandra Black’s deference to Potter made even less sense. Black had more than equalled Potter’s performance on the Duelling field, given that she’d actually won her tournament, while Harry’s run had been stalled by the ‘accident’ with his brother. So why this witch, who officially ruled the Dark students of Slytherin House, through trickery and subterfuge, could be seen practically glued to Potter’s side, whenever Potter actually deigned to be in the Castle at all, was a curiosity.</p>

<p>Some suspected a secret betrothal between the houses of Potter and Black. Perhaps signed when they were still babies. Maybe when the two lords had been drunk. Or as a secret alliance to secure the houses while Voldemort was still at large — that Harry had been sent away to be secretly trained… in secret… and that Black had grown up knowing that she would one day meet her true love — that their first meeting had been a disaster, but that the Black Princess had learned to see the human side of the cold and calculating machine that was Harry James Potter — or that Gringotts had stepped in and provided the proof of their betrothal before the parents had been ready to reveal it, which led to the schism between them and now Potter was a secret agent working for the Department of Mysteries and Black was actually the secret protege of Nicholas and Perenelle Flamel, sent to bring justice and freedom to all!</p>

<p>Although by this point, the ‘some’ had slowly turned into just one fifth-year wizard who enjoyed reading ‘Boy-Who-Lived’ fan-fiction, which had recently started being posted as a weekly supplement by the Quibbler, to the general surprise of all — with the official approval of Headmaster Lockhart, of course.</p>

<p>Alexandra Black shifted from her Grim form and sat down next to Marigold Chesterfield, one of Hermione’s Muggleborns who’d been carrying one of the largest stacks of books and parchments from the library.</p>

<p>“I have everything we need, Harry,” Hermione said proudly, whipping the first book off Marigold’s pile and showing him a book of common Wizarding law so full of little sticky markers that there were literally more sticky markers than pages. “Whatever they throw at us, I’ll be ready.”</p>

<p>“As will I,” Daphne stated firmly. “I too, have prepared everything we need.” She tapped the side of her head. “I know I have made tactical and strategic mistakes in the past,—” this got a round of surprised looks from the Slytherins less in the know— “but this time, nothing will get past me.”</p>

<p>Violet Chesterfield charmed a slice of toast to start buttering itself.</p>

<p>“Absolutely nothing.”</p>

<p>Marigold happily bit into a breakfast sausage.</p>

<p>“I swear.”</p>

<p>Harry looked into Daphne’s eyes, so full of fire, a stark contrast from the ice-princess persona she usually wore. “Wouldn’t have it any other way,” he replied.</p>

<p>He looked between Daphne and Hermione. “I’ll be relying on you two for information. We won’t be able to use our ‘special comms devices’"—he refrained from saying ‘ear mirrors’ in front of the general student body—”in the Wizengamot itself, so I’ll also need you to play owl.“</p>

<p>True, they also had their morse code rings, but they were limited in the sophistication of the messages that could be sent, the time it took to send them, and who could send and receive.</p>

<p>Daphne and Hermione both nodded.</p>

<p>“Alex, Ginny, and Luna, I’ll just wish you the best of luck.”</p>

<p>All three nodded.</p>

<p>“Oh, man, I’m so jealous!” Tracey Davis whined. “I wish I could go on an adventure like this!”</p>

<p>Draco snorted. “Standing in front of the Wizengamot while they stare at you like a dangerous creature isn’t all that fun. Trust me.”</p>

<p>For the rest of breakfast, Slytherin’s chosen students ate under a constant stream of stares, whispers, and speculation from the rest of the student body and by the time all of them were done, Ginny had changed into something a little more suitable, the owls had arrived, informing them, that, “THE WILD WIZENGAMOT WEEKEND STARTS TODAY!” and the high table had cleared out of most of the teachers, except for the headmaster, who’d been eyeing Harry almost all breakfast the way a tourist without a car might eye a lion without a meal.</p>

<p>Harry pushed his chair back. “It is time.”</p>

<p>And indeed, the six of them only got a few meters down the hallway outside, when the door back to the great hall opened again and Lockhart stumbled out and towards them.</p>

<p>“Um, Harry, I—” Headmaster Lockhart began, before stopping at the realization that six pairs of young eyes were now staring up at him.</p>

<p>He jerkily motioned Harry to whispering distance, meeting him more than halfway there. “Is it okay to talk about ‘stuff’"—he put extra emphasis on the word—"in front of them?”</p>

<p>Harry looked back at Daphne, Hermione, Luna, Ginny, and Alex, then gave the man a deadpan look. “You’re the one writing my biography. You should know.” Which wasn’t entirely fair. He’d given Lockhart a version of events, sure, but, obviously, not everything that he and the girls had done was going to make it in. In fact, there were going to be quite a few rather large deviations from reality.</p>

<p>“Ah, right. Yes,” Lockhart babbled. “I suppose that means yes. Yes, of course I can talk about ‘Stuff’ in front of your hare—errr, people.” He quickly bit off the word ‘Harem’. “Okay. I just thought you should know,” he continued. “It’s the Ministry. They’re really not happy about the whole ward situation with Hogwarts. You know, you still haven’t given back control—after the basilisk thing—and as Headmaster, I think, that is, I thought, that is, it might be a good idea…” He trailed off in the face of Harry’s stare.</p>

<p>“It will be fine,” Harry eventually said. “I have matters in hand.”</p>

<p>“Will I still be Headmaster next year?” Lockhart asked, sounding defeated.</p>

<p>Harry floated up in the air and put a hand on Lockhart’s shoulder. “If you’re not, I promise I will not leave you hanging. A talent like yours is wasted writing children’s adventure books.”</p>

<p>Alex pouted but didn’t butt in.</p>

<p>“How is our little project going, by the way?”</p>

<p>At the mention of his current most lucrative contract, Lockhart’s spirits rose significantly. “Very well, actually! I think I’ve cracked how we’re going to spin this for maximum effect! I must admit, figuring out how to sell… <em>you</em>”—he hesitated briefly before ploughing on—“and what you <em>are</em> without making the world piss its pants isn’t easy, but I’m sure I’ve got it now!”</p>

<p>“Good. How long before we have a first draft?”</p>

<p>“One month!”</p>

<p>“Excellent.”</p>

<p>Now joined by Lockhart, they continued onwards, making their way towards the headmaster’s office, when they were intercepted by a predictable pairing.</p>

<p>“Can I help you?” Harry asked as Professors Potter and Snape met them halfway down a corridor.</p>

<p>“I’m here to take you to the Wizengamot,” Lily said in a voice that sounded so tense it could snap at any moment. “You do need an adult.”</p>

<p>There was an awkward silence. Well, it was awkward for Lily, Harry suspected. All of his girls were glaring at her — saving Luna, who’s look suggested she was trying to imagine how flexible his mother might be if hogtied to a roof beam. At least, that’s the kind of thing he assumed she was thinking. Even now, he could never really tell.</p>

<p>“I do already have an adult to escort us,” he eventually replied.</p>

<p>Lily’s face fell.</p>

<p>“Buuuutttt.” Harry continued slowly, an idea occurring to him, “If you wanted to exercise your parental responsibilities as a magical guardian, I can think of some ways that could be useful.”</p>

<p>Snape gave Lily a warning look, but Lily completely ignored it. “I’ll do anything!” she gushed.</p>

<p>Right next to him, Luna giggled.</p>

<p>Damn it, Luna, not now!</p>

<p>Thankfully, she didn’t make any other comment.</p>

<p>“Then join us,” Harry answered Lily’s statement imperiously.</p>

<p>The older redhead looked like she couldn’t believe what she was hearing as she stepped and turned into the group’s little formation.</p>

<p>Snape regarded them with a cool eye. His gaze took in the scene, Harry in the middle of a small crowd of witches, plus Lockhart, with Luna on one side and Daphne on the other.</p>

<p>“You need to be careful, Potter,” he said, now explicitly focusing his eyes on him. The words didn’t feel like a threat. More like a statement of fact. “Will you hear advice from your old head of house?”</p>

<p>“…Go on.”</p>

<p>Snape pointed at Luna on his left.</p>

<p>“She, is the betrothed of your mentor, Lord Slytherin.”</p>

<p>He then pointed at Daphne on his right.</p>

<p>“She is also betrothed to your mentor.”</p>

<p>He then pointed directly at him.</p>

<p>“The way you stand now, in many noble circles, would constitute a claim of ownership over these two witches. While you may believe you have Lord Slytherin’s complete confidence, do not fall into the trap of complacency. The Jealousy of men can be a terrible thing.”</p>

<p>Harry thought about this.</p>

<p>Then he thought about his mother standing behind him.</p>

<p>Then he bowed.</p>

<p>“Thank you for your advice. I accept it in the spirit in which it was offered.”</p>

<p>Snape nodded. “Then I wish you the best of luck at the Wizengamot.” And with that, he turned and swept away.</p>

<p>The group soon found themselves in the Headmaster’s office, having been joined by Lady Sunny Greengrass, Daphne’s mother, at the Gargoyle at the bottom of the stairs.</p>

<p>Sunny threw a pinch of floo powder into the fire and gestured Harry forward.</p>

<p>Harry walked into the flames.</p>

<p>“The Ministry!”</p>

<p>Once everyone was through, the office fell back into silence.</p>

<p>Ten minutes later, John Potter and Susan Bones arrived at the Gargoyle outside.</p>

<p>“Hey, why’s Mum not here?!”</p>

<p style="text-align: center;">— End of Chapter Seventy-seven —</p>
