Chapter 78 - The Gray's Secret - Chapter 5

<p>Unusually for a weekend, the floo entrance of the Ministry of Magic was bustling.</p>

<p>Clerks and staff ran to and fro on errand after errand while Lords and Ladies scattered throughout the corridors, walking where they pleased, talking, plotting, bowing, curtseying, occasionally shouting, and even more occasionally, pulling wands.</p>

<p>Every few seconds, the emerald green fires burning along the entrance hallway flared as another wizard or witch emerged after a roller-coaster ride from somewhere up or down the country.</p>

<p>Lord Malfoy exited the floo with the effortless ease of someone completely at home in such surroundings, brushing off an errant speck of soot that had the temerity to befoul his otherwise immaculate Wizengamot robes.</p>

<p>A few moments later, he was joined in quick succession by Narcissa and Virgo.</p>

<p>He nodded to his wife who nodded back, turned with a swish, and moved off on a mission of her own.</p>

<p>Turning back to Virgo, Lucius did his best to act like a man who was in complete control of his family. “Come, daughter,” he said. “And remember what we discussed.”</p>

<p>Virgo said nothing. That was safer. She instead nodded and followed Lord Malfoy in the direction of the Basilisk hearing, idly playing with a tiny box in her pocket - a box connected by a protean charm to an exact replica she’d already placed in Rita Skeeter’s office, a good few months ago - ready to unleash Harry’s identity the moment he appeared weakened, or else threaten mutual destruction if he tried anything against her life.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Lord Jacob Greengrass stepped out from the ministry floo in a swirl of Greengrass green robes and immediately made a beeline towards some familiar faces. His wife and daughter should be joining him soon, but until then, he planned to get right down to business.</p>

<p>“Smith! Zazo!”</p>

<p>The two lords turned at his advance, Smith decked out in full plate armour under his robes with his customary war hammer over his shoulder, while Zazo was dressed miles better than Jacob could ever recall.</p>

<p>“Jacob!” Zazo answered with a beaming smile. “How many times do I have to tell you, old chap. Call me Russell. Call me friend! For I am now bent in eternal gratitude to your service for as long as I draw breath! And to the service of our inimitable mysterious Lord of Lords.”</p>

<p>“Shhh,” Smith hissed. “Iks-nay on the Lord of Lords-nay.” But he still had a twinkle in his eyes as he turned back to Jacob.</p>

<p>“All ready for today, old chap? Lots on the docket.”</p>

<p>“About as ready as we can be,” Jacob answered. “We’ll just take it one hearing at a time and see where the chips fall.”</p>

<p>Smith snorted. “On that note. Up for a round of Wizarding Poker after we’re all done here? I know I’m going to need more than a few drinks to unwind.”</p>

<p>Jacob smiled back. “Sure. You in, Russell?”</p>

<p>Zazo grinned. “Do not think that my just-found joy at the delight of débonair discourse will dull my mind in games of chance and bluff! Of course, I’m in.”</p>

<p>Smith’s face turned serious. “Speaking of a Lord of Lords, coming up behind you, Jacob.”</p>

<p>Jacob turned.</p>

<p>It was Albus Dumbledore.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“Why, Luv, did you insist on bringing that box with you?” Bozo asked, extracting a smouldering dog-eared cigarette from his mouth and putting it out on the nearby ‘Thank you for not smoking here’ sign.</p>

<p>Rita seemingly paid her photographer no mind, scanning the crowds in the Ministry entranceway as she put the box back in her alligator-skin bag. In truth, she wasn’t entirely sure why she’d brought the ominous box herself. Except she had a nose for a story and she knew the box had one.</p>

<p>There were only so many stories people would go to the trouble of planting a box as magically sophisticated as this one with a reporter like her, and every one of the people likely to be the target of such a story was going to be here today.</p>

<p>It stood to reason she’d bring it.</p>

<p>But if it was going to open today, it hadn’t yet.</p>

<p>That was fine. She had another mission - the mission she’d been on for nearly a year now. To uncover Lord Slytherin’s secret identity.</p>

<p>“There!” she declared, pointing towards a likely good place to start. “Come, on Bozo! Move it!”</p>

<p>There seemed to be some kind of argument going on between the Leader of the Gray and the Chief Warlock of the Wizengamot.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Dumbledore stared at the angry retreating back of the young Jacob Greengrass. Such a shame that he’d never managed to persuade the boy to join him. If he had, the whole business with Slytherin might never have happened.</p>

<p>All around him, Wizards and Witches whispered at the exchange that had just passed between them. Maybe he had been a little undiplomatic, but the matter of young Harry was a serious issue! And it wasn’t as though Jacob had any direct connection to the boy. He really thought he’d have been a bit more understanding.</p>

<p>“Getting in trouble already, Dumbledore?” said a voice like marzipan - sweet and possibly laced with cyanide.</p>

<p>Albus turned.</p>

<p>“Ah, Miss Skeeter,” he said in a jovial tone. “This is a non-pleasure I wasn’t expecting.” Though why he hadn’t been expecting it, he had no magical idea.</p>

<p>There was a flash as a large magical camera went off.</p>

<p>“Tell us Dumbledore, what do you think of accusations that there are too many items being discussed today for each one to have the proper weight they deserve?”</p>

<p>“I seem to recall you levelled that accusation, Miss Skeeter,” Albus replied with a twinkle. “And the number is far from unprecedented.”</p>

<p>“So, you would say you strenuously deny the accusations, then?”</p>

<p>“I would say what I said,” he said with a little less humour.</p>

<p>“And what about Lord Slytherin? Do you think it fair that someone so important in our political system be allowed to abuse the position of seat proxy just to retain their anonymity and not serve their duty on our legislator, which is the moral basis for all the privileges our nobility enjoys?”</p>

<p>Dumbledore frowned. This was far more tricky territory.</p>

<p>“A seat proxy is one of those privileges, Miss Skeeter,” he said in an admonishing tone of voice — the one that had never worked on this particular witch, even when he’d once caught her sneaking into the boy’s toilets that one time with a muggle disposable camera. “And I’ve been in correspondence with Lord Slytherin the last few weeks and he has assured me that he will, in fact, be making an appearance during the course of the weekend.”</p>

<p>“Really?!” that resulted in a lot of quill scratching on the parchment the damn witch always carried with her everywhere she went. “Does that mean the Wizengamot will allow him to take the stand while masked? How can we be sure he really is who he says he is?”</p>

<p>Dumbledore’s smile was becoming rather fixed now. “Come now, Rita, I’m sure you don’t need to be told that a noble house ring is as sure a guarantor of identity as any.” In truth, he really had tried his damned hardest to use the situation to force Slytherin to reveal himself—a situation that, with the right preparation, could all but guarantee a check against the rising power—but the Gray had pulled enough strings to get a special motion passed that allowed him this special privilege.</p>

<p>Which just went to show how much political capital the smallest faction had managed to accumulate in the previous five years.</p>

<p>“And though his presence on the Wizengamot is quite new, no one can deny the good Slytherin has done for Magical Britain,” he said, doing his best not to grit his teeth while saying it, “The economies of quite a few depressed magical towns and villages have been uplifted through his efforts and we’re even quite close to signing an important import/export defence trade deal with MACUSA, facilitated in no small part by a demand for the artefacts he crafts.”</p>

<p>Another surprising revelation, that Lord Slytherin had been in talks with the American magical government to sell them magical boats that could travel underwater—one that the Department for Magical Trade had enthusiastically jumped on the moment the export licence request had been filed—but it did help explain how the Gray Lord had avoided his surveillance efforts around Gairsay Island the previous year. He had to hand it to the man, he certainly knew how to play the game.</p>

<p>Dumbledore started looking around for an exit.</p>

<p>“You are not bitter about your loss of the position of Headmaster of Hogwarts?” Rita asked.</p>

<p>“Not at all,” Albus lied with a chuckle. “I merely acknowledged that my many positions could be better served with more focus on my part, once other, just as capable, individuals stepped forward, ready to take up such an important mantle as the future education of our children.”</p>

<p>Rita looked at him incredulously. “Lockhart?”</p>

<p>“Headmaster Lockhart, dear,” Albus corrected by instinct.</p>

<p>“I heard Slytherin had you booted after you brought a Chimaera into the school. Quite ironic, wouldn’t you say? Given the subject of one of today’s hearings.”</p>

<p>“I couldn’t possibly comment on the subject of a hearing before it has been heard,” Dumbledore said, suddenly seeing a possible out. “And now, Miss Skeeter, if you’ll excuse me.” Not bothering to look back, he made a beeline for a wizard he had every reason to intercept on his way to the Basilisk hearing. “James!”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Whooshing through the British floo system, Harry’s thoughts went over what he wanted to accomplish that day again and again, still rotating through each of his people, their roles, competencies, weaknesses, and how best to use all of them.</p>

<p>Finally stepping out of a floo in the Ministry entrance hall, Harry stepped aside and took stock.</p>

<p>Busy.</p>

<p>As expected.</p>

<p>While his people and Lily made their own landings, he turned to the fireplace next to his, just as a middle-aged rotund wizard whooshed out of it and stepped onto the marble floor with a click-clack of leather shoes.</p>

<p>Lord Slughorn turned, spotted him, and raised his eyebrows — as though seeing him there, today, was somehow a surprise. “Harry,” he said in a voice that was equal parts cigars and booze. The gaze travelled behind him and up. “And Lily. Sunny.” The gaze flicked back down again. “Daphne. You’re looking enchanting, as always.”</p>

<p>Harry fancied he could feel the air temperature behind him lower several degrees and he wondered whether, if he looked down, he might see frost start to creep across the marble floor. Daphne might be the most traditional of his witches—as opposed to Alex who more cosplayed tradition—but that didn’t mean she appreciated the emotional torment this man had once put her through. Back before he’d gotten his head out of his arse and bought out her betrothal contract.</p>

<p>“Walter,” Daphne’s mother greeted in a level voice. “All our allies are ready?”</p>

<p>“Of course!” Slughorn replied and then gave an exaggerated bow. “The Gray is strong and we are united.” He straightened and looked around the party before fixing on Lily with a confused expression. “John being held up?”</p>

<p>Lily’s expression remained blank for several moments before her face turned horrified, she let out a little squeak, and subsequently dove back for the floo.</p>

<p>Slughorn chuckled. “I guess that answers that.” His face turned serious. “So, Harry. How’s your poker game doing since the Winter Festival? Faced anyone with a legilimency play, yet?”</p>

<p>Harry tilted his head in response. “I was actually using a legilimency play myself during the festival. A minor one, but still.”</p>

<p>“Indeed?” Slughorn looked dubious.</p>

<p>Then Harry felt it — the gentle brush of a legilimency probe against his mind.</p>

<p>It was pretty much the same thing he’d done with Tracey Davis on the Hogwarts Express last year, when she’d once doubted his capabilities.</p>

<p>Unlike Tracey, though, Harry had more options than just ‘get mentally groped’, or tickled, or whatever equivalency you fancied.</p>

<p>Yanking hard on the probe, Harry’s world vanished, and he found himself standing at the black chasm between minds, just outside his mental fortress of Azkaban Prison. All the hustle and bustle of the ministry atrium had vanished. It was just him, his thoughts, and the bridge.</p>

<p>Time outside slowed.</p>

<p>Harry waited.</p>

<p>Eventually, Lord Walter Slughorn strode down the bridge towards him.</p>

<p>“I see,” Walter said, looking decidedly unimpressed. “Another display of power from Slytherin’s Prince? It takes more than talent to make a leader, boy.”</p>

<p>“You don’t believe I could lead the Gray?” Harry asked.</p>

<p>Slughorn scoffed. “Maybe one day, you could. But you are too young now, child. And Slytherin is presumptuous to name a successor so early in his own ascendancy. It doesn’t engender trust. It’s as though he’s straight-up telling us he doesn’t plan to be around long.”</p>

<p>Harry pursed his lips. “You could call it good short-term contingency planning?”</p>

<p>Slughorn gave him a withering look. “Or, you could call it terrible <em>long</em>-term contingency planning. Slytherin is betrothed, twice over. And Daphne chose the Ritual of the Lady on her thirteenth. Slytherin will soon have brats all over the place. The man can say that they’ll have to make their own way all he wants. If he’s no longer around, they’ll fight for control like kneezles in a bag. That is the nature of power.”</p>

<p>Harry made a mental note that Slughorn had access to the cross-faction spy network in the Department of Family Magics. Rituals were not <em>supposed</em> to be a matter of public record. But given that the ministry was a faction in itself, neither the Gray nor the Dark was particularly enthusiastic to conduct a clean sweep to remove the corruption that acted as a balance against corruption inherent in the ministry’s mandate. The Light might be tempted, but so far had the good sense not to pluck out their own eye just because they’d seen something offensive.</p>

<p>He could see Slughorn’s position. And obviously, the man was missing key information. But that was the problem. There were still plenty of lords in the Gray—the majority, in fact—who believed Harry was merely Lord Slytherin’s protégé. Not that he <em>was</em> Lord Slytherin. He needed more time to bring them on board safely so the faction could maintain cohesiveness when he was ready to publish the book Lockhart was working on.</p>

<p>Of all the people to bring in on the secret, Harry trusted Slughorn the least.</p>

<p>Part of that was the man’s character.</p>

<p>Part of it was that Harry had snatched Daphne from under his nose.</p>

<p>Only a fool would trust someone they had so publicly humiliated. Who still clearly coveted that which they felt had been stolen from them. That resentment would likely only grow as Daphne matured into a beautiful woman — a resentment that could even threaten the faction as a whole, given how much pull the man had.</p>

<p>If he wanted to avoid that, he really should find a decoy witch for him — one willing to actually marry the man. Just hoping he’d find a bride to replace his deceased wife clearly hadn’t worked.</p>

<p>Not Tracey, he quickly promised himself — again.</p>

<p>Or Astoria.</p>

<p>In fact, not anyone he gave even a tiny shit about.</p>

<p>But preferably someone he could still influence.</p>

<p>…not an easy task.</p>

<p>The Ministry faded back around him.</p>

<p>The bustling sounds of the early morning rush returned.</p>

<p>Lord Slughorn stayed where he stood.</p>

<p>Harry nodded. “You have given me plenty to think about. Thank you.”</p>

<p>Seemingly mollified, Slughorn nodded back. “Congratulations on your animagus form,” he said before turning. He craned his neck over his shoulder. “And you too, Miss Lovegood. Very impressive forms. Daphne.”</p>

<p>And with that, he walked off towards the main Wizengamot chamber.</p>

<p>Harry’s party started in the same direction once Slughorn was a sufficiently comfortable distance away.</p>

<p>“What happened there?” Hermione half-whispered, half-hissed, leaning in close so only those immediately around could hear.</p>

<p>“Legilimency conversation,” Harry replied. “Nothing critical. Just feeling him out. Slughorn has always been our Achilles heel.”</p>

<p>“Shame we couldn’t deal with his nephew,” Daphne muttered. “Horace is supposed to be a wet drip by comparison.”</p>

<p>“The way he was looking at you, Daphne,” Alex said, sounding revolted. “Felt like dead bugs crawling up my spine.”</p>

<p>“Alex, you’re supposed to leave your pets at home,” Luna admonished.</p>

<p>“Shh, shh, shh,” Harry whispered, even quieter, just as they were about to turn the final corner to the main Wizengamot chamber. “Slytherin masks on, girls. First on the docket — the basilisk hearing. Ready, Lady Greengrass?”</p>

<p>Sunny Greengrass smiled down at him and nodded.</p>

<p>They turned the corner.</p>

<p>And Harry found himself walking straight towards a man waiting at the door to the hearing room.</p>

<p>Lord James Potter.</p>

<p style="text-align: center;">— BONUS SCENE —</p>

<p><em>Soon after the second year duelling tournament…</em></p>

<p>“Alex, what is this?”</p>

<p>Harry stood in the doorway to an empty classroom — the same classroom the Founders Club used for their activities. In his hand he held a note. The note had said to be here at this time, quite late at night, and though Harry wasn’t used to being summoned, his little necromancer had just won the Hogwarts duelling tournament all by herself, so he decided to play along.</p>

<p>He hadn’t been expecting this.</p>

<p>Alex stood off to one side in the near darkness, lit by moonlight and looking nervous, but also excited.</p>

<p>The rest of the classroom was visibly empty, save for the desks, chairs, teacher’s lectern, and last but certainly not least, the teenage witch hanging by her wrists from a rope that had been looped over a ceiling beam.</p>

<p>The witch was blindfolded, red-faced, and breathing heavily.</p>

<p>Alex folded her arms. “Behold, Harry! I bring to you, the spoils of war! Use her as you will.”</p>

<p>Harry entered the room and carefully closed the door behind him. “Isn’t that a line from The-Boy-Who-Lived?” As Harry Potter he’d normally be grinning now, but in this situation… a bit more Lord Slytherin might be appropriate.</p>

<p>“Well, yes,” Alex said, looking embarrassed.</p>

<p>“And I believe it was said about a rather fluffy kneazle.”</p>

<p>“You’ve read it.”</p>

<p>“I’ve skimmed it.” Harry walked over to the now panting witch. Cresswell, he recalled. The fourth-year hufflepuff duelist Alex dismantled along with the rest of her team. The tips of her shoes barely touched the ground. “Occlumency is useful for many things.”</p>

<p>“I didn’t think you’d have actually read it,” Alex said, now starting to turn quite red herself. No doubt recalling many other references she’d made in his presence over the years.</p>

<p>“Mmmhmm,” Harry said. The teacher’s desk had a number of items arranged in a neat line. A leather whip. A flogger. A ball-gag. “But you still haven’t answered my earlier question. What is this?”</p>

<p>Alex seemed to visibly rally. “Behold, Gray leader! Protégée of our lord. I have brought you spoils of war! This witch doubted your most loyal servant’s power and foolishly bet her loyalty against mine. I defeated her in honourable combat and now—” Alex hesitated and bent her neck to surreptitiously read from a scrap of parchment on the desk next to her. “—You can break her in. Unleash your dominant energy and the beast within.”</p>

<p>Harry stared at Alex long enough for the witch to get fidgety again.</p>

<p>“I don’t recall that from any Boy-Who-Lived book.”</p>

<p>“No, that was all me.”</p>

<p>Harry stared again.</p>

<p>“Okay, Luna helped a bit.”</p>

<p>Harry continued to stare.</p>

<p>“Why are you staring at me?”</p>

<p>Harry shook his head. There was a presence in the air that had been there from the moment he’d walked in the room.</p>

<p>“And what do you expect me to actually do?” he asked.</p>

<p>“Anything you want!” Alex said. “Bend her to you, like you did me. Luna said you’d just jump at the opportunity to ‘let loose’.”</p>

<p>“Of course she did.” Harry reached up and tugged the witch’s blindfold down. “What about you, Miss Cresswell? What have you got to say for yourself?”</p>

<p>The furiously blushing older witch stood a foot taller than he did, but Harry was taking no steps to mask his presence and allowed his magic to freely flow around him. “I-I’m ready for anything you want to do to me, Harry,” she said, her eyes dilated.</p>

<p>Harry mentally shook his head. Clearly, words needed to be had.</p>

<p>He stepped closer to the witch, flared his power, felt her gasp, and looked deep into her eyes. “Miss Cresswell, you will operate as an agent of the Gray in Hufflepuff House. You will be at my call as I need to provide information and services to other Gray agents. You will keep any fantasizes you may have about me to yourself until such time as Miss Greengrass says otherwise, which may very well be never. Understood?”</p>

<p>“Y-yes, Harry.”</p>

<p>“Good.” Harry then cut the rope holding her to the roof, caught the squealing witch with a levitation charm, deposited her gently on the floor, then picked up the magical trunk that had been hidden under the teacher’s desk with the same levitation spell, turned it upside down, activated the ‘eject function’, and began to shake firmly. The lid popped open and four more squealing witches tumbled out onto the ground. One turned into a cheetah and managed to extract herself from the tangle of scrabbling arms and legs before the rest.</p>

<p>The divination mirror spell and Eye of Kilrog that had been spying on the scene winked out.</p>

<p>Ginny bounced up onto her feet and immediately let loose. “I told you it was a dumb idea!” she loudly hissed at the still struggling and now arguing pile of witches. “But oh no, you just had to try it out. I swear, I never thought I’d see you two giggling so much!”</p>

<p>“I do not giggle!” Daphne said angrily, finally managing to extract herself from Luna and Hermione. “And it was not my idea!”</p>

<p>“It was!”</p>

<p>“It was not! Hermione was the one who wondered what unrestrained Harry would look like.”</p>

<p>“Traitor!” Hermione pushed herself up onto her hands. “Harry, you have to believe me! This wasn’t my idea. I objected!”</p>

<p>“While giggling!” Ginny cut in. “I swear, I don’t know what’s happened to you two. Your brains have turned to mush!”</p>

<p>“Puberty is a powerful drug,” Harry said, drolly. “Luna, please take your toys away.”</p>

<p>“Poo,” Luna replied with a pout before retrieving the items on the desk.</p>

<p>“How did you know they were Luna’s?” Alex asked with a puzzled expression. “They could have been mine.”</p>

<p>“Alex, name another item that you might expect to commonly find alongside the collection Luna had.”</p>

<p>“Umm… an Iron Maiden?”</p>

<p>“I rest my case.”</p>

<p>After Harry had stealthily escorted a still-blushing Hufflepuff back to her dormitory, he called his inner-circle back for a quick chat in the by-now deserted Slytherin Common Room.</p>

<p>“Look,” he started. “I get that things are going to be hard for us for the next few years.”</p>

<p>Giggles.</p>

<p>“I could have phrased that better. But it actually makes the point quite well. The point is that things are not hard for me <em>now</em>. I’m younger than you, Hermione, and you Daphne, by nearly a year. Moreover,—” He did a quick double-check, just to make sure they really were alone “—I am Lord Slytherin. I am not constrained like many of the other boys in our classes are. That means that it’s up to me to be the responsible voice, you understand? We’re all going to be feeling things soon, and I get that trying to repress that too much isn’t a good idea, but at the same time, we have to have some rules in place. So, to start with, no throwing random witches at me, no matter how pretty they might be, to see if it’ll kickstart my ‘growth’. I want to have meaningful relationships with each of you and I don’t intend to sleep with any random girl who isn’t part of our inner circle, unless I have a very good reason. Get it?”</p>

<p>Four witches nodded, looking sufficiently contrite.</p>

<p>“Good.”</p>

<p>The fifth, Alex, stared wide-eyed, her face slowly starting to blush the shade of a ripe tomato.</p>

<p>“Wait! This was all about sex?!”</p>

<p style="text-align: center;">— End of Chapter Seventy-eight —</p>
