Chapter 79 - The Gray's Secret - Chapter 6

<p>James’s lips thinned as his estranged son turned the corner and didn’t so much as slow his gait as their eyes locked. The cheerful boy he’d met before had vanished. In his place now walked a young wizard with eyes set in determination. A lot had changed since the time they’d spent together before Slytherin’s Winter Festival and if he had any doubts about the veracity of the prophecy, they’d been firmly put to rest.</p>

<p>It was clear his son was no ordinary wizard.</p>

<p>Neither was John, of course, but Harry had now gone above and beyond his twin. When the pair had simultaneously cleared out their respective opposing duelling teams the previous year, it’d been obvious to everyone it was one for the history books. Now, the story of his children was quickly morphing into something mythical.</p>

<p>And whether he liked it or not, Harry was fast occupying the ‘villain’ slot in that story. Something he and Lily had argued about more than once now.</p>

<p>Harry had lied about his intentions. He’d lied that he intended to stay at Potter Manor during the Winter Festival. He’d lied about his relationship with Lord Slytherin. And he’d taken advantage of his and Lily’s good faith to ransack the Potter library for family magic that he, as Harry’s head of house, had sole discretion to distribute. He’d also broken a Potter family secret, actively sought to humiliate him, and, most importantly of all, had subverted John’s role as Heir of the Noble House of Potter.</p>

<p>Despite the polite mask he wore, the common denominator in all this could only be Slytherin.</p>

<p>Harry couldn’t have done half of this without the backing of a powerful, already-established wizard. And Slytherin, who’d just appeared from nowhere five years ago, fit the bill well.</p>

<p>As Harry and the other Gray children slowed to halt by the door, with Slytherin’s Proxy, Sunny Greengrass, behind them, James asked the question that had been rattling around his brain the most since after the Winter Festival fiasco.</p>

<p>“Did you steal the invisibility cloak five years ago? As your lord and my heir I command you to tell the truth.” The gentlest of family magics settled into place around them.</p>

<p>James sent out a faint legilimency probe, but Harry simply swatted it away, confirming that every time he’d used soft legilimency on Harry in the past, Harry had been using occlumency defences to subvert his results — a quite sophisticated occlumency technique that a child of twelve absolutely should not know.</p>

<p>“No,” Harry replied simply. “We have an invisibility cloak?”</p>

<p>James ignored this and continued to his next question.</p>

<p>“Do you know Slytherin’s true identity?”</p>

<p>“Yes.”</p>

<p>“What is it?”</p>

<p>“I do not intend to tell you.”</p>

<p>“Harry, you are aware that as your lord, failing to answer a direct question when I call upon you to do so, gives me the right to punish you in the private Potter family court, and that neither the Albion Family Magics, nor the Ministry, will protect you from that punishment?”</p>

<p>“I am aware.”</p>

<p>“Is Lord Slytherin Remus Lupin?”</p>

<p>“I do not intend to tell you.”</p>

<p>“How did you subvert the Potter Heirship?”</p>

<p>“I did not subvert the Potter Heirship. It was a happy accident of circumstance.”</p>

<p>“What would it take to get you to willingly return to Potter Manor?”</p>

<p>Harry glanced sideways to where England’s possible best hope for quidditch glory, Ginny Weasley, was doing her best not to glare up at him and not doing a particularly good job of it.</p>

<p>James saw the glance and shook his head. “Ginny already knows my conditions for a betrothal between you.”</p>

<p>“I’m not spying on Harry for you!” Ginny said indignantly.</p>

<p>“I’m not asking you to spy on Harry,” James said, feeling a throbbing start in his forehead. “I just want to work with my son’s betrothed to help guide my house’s future. That’s a perfectly normal thing for the lord of a noble family to do.”</p>

<p>“Yeah, by spying on Harry!”</p>

<p>“Ginny,” Harry interrupted before the pint-sized redhead could really get going.</p>

<p>Ginny fell silent.</p>

<p>Harry nodded in acknowledgement to her before turning back to him.</p>

<p>It suddenly occurred to James just how much obedience Harry commanded over Arthur’s daughter. No way he could have pulled that little stunt off with Lily at their age. She’d have been more likely to curse him out before storming off if he’d cut her off like that. And Ginny was no shrinking violet. Another sign that betrothing Harry to Ginny would not get him the result he was looking for.</p>

<p>“I believe the job of guiding the future lady of a house is traditionally the job of <em>current</em> lady, not the lord,” Harry said.</p>

<p>James frowned. He wasn’t wrong, but…</p>

<p>It suddenly dawned on him that something was missing from this party that had just arrived from Hogwarts. “Speaking of, where <em>is</em> your mother?” he asked.</p>

<p>“She forgot something and had to rush back for it.”</p>

<p>James’s frown deepened. It wasn’t difficult to join the dots on exactly what his wife had forgotten, given that neither John nor Susan was with the group.</p>

<p>“I could offer to give way to Slytherin on the basilisk,” James said. “For you returning back to Potter Manor,” he clarified.</p>

<p>Harry shrugged. “I’m confident we’re going to win that one.”</p>

<p>James noted the use of the phrase, ‘we’ in that sentence. “Ginny’s hearing before the sports committee will go a lot smoother if I could stand up and say her financial future was already accounted for,” he tried.</p>

<p>Harry shrugged again. “Playing for England would be cool, but it’s not critical. If it doesn’t happen, Ginny has many other things she can do.”</p>

<p>James’ eyes practically bugged out of their sockets. If it wasn’t so obvious that Harry and John were twins he’d seriously be questioning Harry’s parentage right then.</p>

<p>He clenched his teeth. He really didn’t want to offer this next one, but…</p>

<p>“What if I offered to get the light on board to not place restrictions on your animagus form?”</p>

<p>It shouldn’t be any surprise—especially after the way the Wizengamot reacted to Draco Malfoy’s summoning of a basilisk—that when it got out that two more children of politically important noble houses could turn into a Chimera and Tyrannosaurs Rex respectively, the first instinct of most lords of the Wizengamot—even a couple of the Gray ones—was to scream ‘BAN IT!’ at the tops of their lungs.</p>

<p>That offer actually got a reaction out of Harry. The boy looked incredulous. “You really want me back at the manor that bad?”</p>

<p>“I can’t promise total freedom on your form,” James quickly started adding provisos. “Everyone’s far too spooked for that. But I could maybe get some exceptional circumstances added in. Like if your life was at risk.”</p>

<p>Harry seemed to be genuinely thinking this time.</p>

<p>But eventually, he shook his head again.</p>

<p>“Nah. I think we’ve got that one good as well.”</p>

<p>James threw up his hands in exasperation. “You will not get anything from the Wizengamot on your animagus forms other than a complete ban!”</p>

<p>“We’ll see.” Harry moved to enter the inquiry chamber, the rest of the girls and Sunny behind him.</p>

<p>Round one was about to start.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Originally, the Ministry of Magic grew out of the Wizengamot — a professional class of civil servants tasked to execute the will of the lords of Albion. Starting out small, it eventually became a hulking gorilla dwarfing the small collection of halls and hearing rooms of Magical Britain’s magical legislature. Some muggleborns new to the magical world mistook the size difference to mean that the ministry was what really mattered.</p>

<p>The ministry did little to correct this misinterpretation.</p>

<p>If they were lucky, they’d never realise their error.</p>

<p>If they weren’t, they could perhaps find themselves sitting in a chained chair, seated before a collection of unsympathetic magical lords and ladies, all with the collective power to throw undesirables into a purpose-built prison for which the phrase ‘cruel and unusual punishment’ would fit like the proverbial niffler-fur glove worn on the proverbial goblin-silver fist.</p>

<p>The throne-like chairs in Hearing Room B did not feature chains.</p>

<p>They were cushioned.</p>

<p>They had full-backs, ergonomic shaping, climate control charms, and even goblet holders.</p>

<p>In the centre of the room, ten such chairs, lined up in large U shape, faced five more chairs, capping the U off at the top.</p>

<p>In those ten chairs, sat Lord James Potter, Deputy Chief Auror Kingsley Shacklebolt, Under Secretary to the Humble Hag of the Wardrobe Doloras Umbridge, Miss Virgo Malfoy, Chief Warlock of the Wizengamot Albus Dumbledore, Lady Sunny Greengrass, her daughter Miss Daphne Greengrass, Heiress Luna Lovegood, and last, but certainly not the least, Heir Harry James Potter.</p>

<p>There was one seat empty. Heiress Susan Bones was late, but there wasn’t time to wait around for her.</p>

<p>In short, everyone who was representative of anyone who’d been involved in the matter of a giant thousand-year-old killing machine being let loose into the corridors of Hogwarts, was present.</p>

<p>There were enough near-lethal glances and gazes shooting around these ten wizards and witches that one might think the basilisk was also joining them, but unfortunately for at least a few of those present, the snake’s body hadn’t been seen the minister had tried to lay claim to it.</p>

<p>Capping off the U, sat four judges, whose findings and recommendations from this hearing would pass straight to the Wizengamot in regards to whether a vote should be called on the matter of who actually owned the Basilisk, regardless of who might have absconded with it in the meantime. Along with the question of who, if anyone, was to blame for the whole situation.</p>

<p>Regent Longbottom, Lysander Everglen, Cassisus Olivander, and Madam Marchbanks all stared judgementally at the assorted patchwork of adults and children sitting before them, from the venerated Dumbledore to the young Greengrass daughter, with the united attitude that they were probably all at fault somehow, and by not just coming out with whatever the truth actually was, were seriously wasting their time.</p>

<p>Madam Bones was the tiebreaker for the hearing, but she was currently busy elsewhere.</p>

<p>Behind the Large U-shaped desk, up in the visitor’s gallery, close to two hundred wizards and witches were packed like sardines into a space only originally meant to hold fifty, gazing at the proceedings the way vultures gazed at carrion.</p>

<p>“I don’t get why they couldn’t do this in the big hall,” one lord grouched to another.</p>

<p>“They’re prepping that one for later. Room C’s a lot smaller. Would you have preferred that one, perhaps?”</p>

<p>“That one’s already being used.”</p>

<p>“Yeah, tell me about it. What I’d give to watch both.”</p>

<p>“Shh!” someone else hissed. “I want to hear what they’re saying!”</p>

<p>Down in the hearing room, Daphne Greengrass gracefully sat back down in her chair after showing the judges her noble house ring — the last of those present to do so. It was a common request from the judiciary to have the nobility prove their identity through their rings. Technically, Dumbledore, Umbridge, and Shacklebolt also had rings, but since they weren’t noble it would be far easier to forge a replica capable of fooling a wizard, if not the goblins who issued them as keys to vaults.</p>

<p>“Thank you, Miss Greengrass.” Regent Longbottom cleared her throat after nodding to the former Greengrass Heiress. The stuffed vulture that sat proudly atop her hat nodded, too. “We are here today to receive testimony as to what transpired during the recent incident at Hogwarts School of Witchcraft and Wizardry in relation to the release and subsequent battle with the basilisk known as ‘Slytherin’s Monster’—</p>

<p>Three hands raised from the panel of witnesses.</p>

<p>“—and give recommendations to the Wizengamot on what, if any, actions should be taken.” Regent Longbottom finished with a slightly annoyed tilt to her voice. The stuffed vulture glared. “Yes?” She pointed at the one dressed all in pink. “Undersecretary Umbridge?”</p>

<p>“I object to referring to the basilisk as ‘Slytherin’s Monster’” the witch said in a sweet tone. “It implies ownership, when the rightful owner is the Ministry.”</p>

<p>Regent Longbottom pointed at the next witch with her hand up, “Lady Greengrass?”</p>

<p>“We object to the phrase because it implies responsibility.”</p>

<p>The judge finally nodded to Lord Potter. “And you?”</p>

<p>“Same as the undersecretary,” James groused.</p>

<p>Regent Longbottom exchanged glances with her fellow judges and sighed. “I can see this is going to be one of <em>those</em> hearings. Fine. We’ll refer to the monster from now on as ‘the basilisk.’ Is that acceptable to everyone?”</p>

<p>Some nodded. No one objected.</p>

<p>“Good. Now, I want to be clear that normally we’d take far more time over an investigation like this, but <em>some</em> people,” she put emphasis on the word some while glaring at Dumbledore. “Seem to want this process to be expedited to a degree that if applied to our general legislative system would see a lot more work getting done.”</p>

<p>Dumbledore said nothing, but smiled good-naturedly back at the witch.</p>

<p>“To that end, I want as little time wasting as possible. And for us to focus on the salient points as much as we can. So, let’s begin… Yes?”</p>

<p>Virgo had raised her hand.</p>

<p>“A point of procedure clarification, Judge Longbottom. Virgo— Err—I mean…” Virgo slowed down her speech. “I don’t recall. A lord being allowed. To send a proxy. To a hearing in place of themselves.” She was looking towards Sunny Greengrass as she spoke, every word sounding like it was being laid down with the precision of a typewriter. A bead of sweat was already forming on her forehead. “To the Wizengamot, yes. But never to a hearing.”</p>

<p>“The salient points, Miss Malfoy,” Regent Longbottom replied, keeping her voice level. “I have already discussed the matter of Lord Slytherin with my colleagues and we have given our blessing. There is no precedent for a proxy in a hearing, but there is no precedent against it either. This is not a trial, this is an investigation and none of you are subpoenaed. You are all here under invitation. If this were a criminal trial, yes, we would require Slytherin to attend in person, but since it is not, we determined that his Wizengamot proxy would be a perfectly acceptable substitute.”</p>

<p>Virgo nodded.</p>

<p>Harry caught her eye and the two had a momentary stare off before the utter soul mess that was the Hogwarts Student Wardrobe Minister, who no longer attended Hogwarts School, broke away to gaze back at the judge’s table.</p>

<p>Regent Longbottom shuffled some parchments on her desk before peering at one over her spectacles. “Now, if we can get through the preliminary materials without interruption, I have here the formal report written by you, Auror Shacklebolt, which gives a good overview of the events that transpired at the castle during this year’s Hogwarts Duelling Tournament. According to this, at precisely 11:18 am, the DMLE received notification that the war wards of Hogwarts had been activated again for the second time in just under a year. From there—”</p>

<p>The judge continued to read from the report, occasionally jumping past parts that apparently weren’t salient enough, all the while the stuffed vulture atop her head glared across the space at the witnesses, as though daring any of them to interrupt again. The summary was brief, bland, and contained nothing anyone could argue against or disagree with. Seeing as it was written from the point of view of an auror who’d swooped in after the basilisk was already dead, it was also missing plenty of details that Regent Longbottom would no doubt consider <em>highly</em> salient.</p>

<p>Though Harry did make a mental note that the report did downplay the stabbing of Luna, which definitely wasn’t something he was going to let slide without at least a sharply acerbic comment. The fact that the aurors had also attacked Virgo with killing intent and that it had only been the portkey gifted to her by John that had saved her, was completely irrelevant.</p>

<p>Yep, completely and utterly irrelevant.</p>

<p>“—and it was later discovered that some kind of concealment charm had been placed on the corpse of the basilisk, denying the Department for the Control of Magical Creatures the ability to carry out the Minister’s direct order to have the basilisk transferred to a Ministry storage facility.” Regent Longbottom put down the parchment and looked around the witnesses. “Something that we’ll definitely be discussing in due course. But first, I think we’ll start out with the ‘Erumpent in the room’ question.</p>

<p>The witch fixed Lady Greengrass with a stare. “Why did Lord Slytherin see fit to seize control of the wards of Hogwarts—a control which he has still to return, mark you—and carry out this incredibly dangerous operation by himself, without informing the ministry, with nothing but a team of three Hogwarts students, who do not have even a single full Hogwarts education between them? I’m aware that this question is more pointed than might be expected from a judge overseeing an investigation, but I have a grandson at to Hogwarts. And many of those listening from up in the gallery behind you also have children or relatives of school age. So, please, Lady Greengrass. Explain it to us.”</p>

<p style="text-align: center;">— End of Chapter Seventy-nine —</p>

