Chapter 7 - Hey, Grab a Drink, I'm The-Boy-Who-Lived

<p>[August, 1989 (One month before Hermione started the ten-months-of-reading project)]</p>

<p>Eight-year-old Ginny Weasley slipped out the back door of the Burrow, broomstick in hand, righteous indignation just outweighing fear of getting caught. She picked her way across the lawn, the moon highlighting gnome hole shadows, and entered the orchard.</p>

<p>It wasn’t fair.</p>

<p>Ginny fiddled with the bent bristles of the borrowed broom.</p>

<p>Why couldn’t she play? Because she was a witch? Humph.</p>

<p>Ginny swung her leg over the broom’s shaft and kicked up off the damp ground.</p>

<p>If she was going to be treated like a pureblood princess, she should at least get the good things that went with it. Money, fancy balls, dresses, jewellery, and stuff.</p>

<p>She pitched the broom, making a gentle curve before diving and snatching a pinecone from the ground.</p>

<p>And if she wasn’t getting any of that stuff, then she was damn well going to do what <em>she</em> wanted.</p>

<p>Ginny tossed the pinecone and watched it sail through the two branches that stood in for a quidditch hoop.</p>

<p>Of course, she knew that one day, she’d be married to the-boy-who-lived, John Potter. She’d be Lady Potter. It was destiny. But that wasn’t now, that was <em>forever</em> away.</p>

<p>Ginny swerved, looping around in a figure of eight, pretending the moths flitting in the moonlight were bludgers.</p>

<p>John Potter had warmed up to her recently. He still didn’t care to defend her quidditch playing to her brothers, but he’d accepted the idea she wasn’t just his best mate’s little sister. That was good.</p>

<p>Ginny slowed, hovering just below the tree line.</p>

<p>Something felt off.</p>

<p>She floated to the nearest tree. The feeling got stronger. She backed away. The feeling faded.</p>

<p>Weird.</p>

<p>She approached again and circled the trunk. She looked around. Nothing. Wait, what was that?</p>

<p>Far away, on the tip of a tree branch, something was hanging on the far side of the ward line.</p>

<p>She edged forward, slowly, cautious, and stopped just before the ward line — the hedge below marking the limits of her safe haven.</p>

<p>Ginny could see the object of her curiosity better up here. It was a necklace. What would a necklace be doing hanging on this tree? Still, she shouldn’t go any further. It would be too dangerous.</p>

<p>She inspected it from a foot away. She could see every detail. It was a silver chain, holding a silver pendant. A pendant in the shape of a lightning bolt.</p>

<p>It was beautiful.</p>

<p><em>It would look even better on your neck.</em></p>

<p>The pendant felt light in her hand, the chain hung over her palm.</p>

<p>It would look even better on her neck.</p>

<p>Legs gripping the broomstick, Ginny unfastened the chain’s clasp, bringing it around her neck. She flicked her long, red hair out of the way.</p>

<p>Wait. Was this really a good idea?</p>

<p>*Click*</p>

<p>“…”</p>

<p>“…”</p>

<p>“…”</p>

<p>What was she doing all the way out <em>here</em>? The orchard was way away. If Dad caught her out here she’d be in trouble. She wasn’t sure how the wards worked. She hoped he hadn’t felt her leaving them. Then again, he always looked surprised whenever she and Mum got back from shopping, so he probably couldn’t.</p>

<p>Gripping the broom with one hand, Ginny zipped back to the orchard, grabbed an apple from a tree, and pitched it straight through the makeshift hoop.</p>

<p>Hah! She’d show them all.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Ginny’s broom floated just outside her grasp.</p>

<p>She tried to reach it.</p>

<p>The broom turned into an apple.</p>

<p>The kitchen door opened.</p>

<p>“You’re going to be a proper lady, Ginny, and proper ladies don’t have brooms.”</p>

<p>“But Muummmm,” she tried to protest.</p>

<p>“No.” Her Mum morphed into John Potter. “I need a real pureblood. Your house isn’t even noble.”</p>

<p>“But, but.”</p>

<p>John Potter disappeared. Her bedroom window opened.</p>

<p>A bird flew in.</p>

<p>It perched on her shoulder, before lifting her high up in the sky.</p>

<p>Desperation flooded her being. It mustn’t drop her. She didn’t even have her broom.</p>

<p>She fell.</p>

<p>She landed.</p>

<p>That was a weird dream.</p>

<p>She looked around a small, comfortable living room, but something didn’t quite feel right.</p>

<p>She was still dreaming? This felt a lot more real than a dream. She could smell the scent of baking. A baby started crying. No. <em>Two</em> babies started crying.</p>

<p>A younger-looking Mrs Potter walked in from another room wearing an apron. The adult redhead walked up to a cot in the corner of the room, reached in, and lifted out a small toddler.</p>

<p>Ginny could recognise the still-growing, scruffy black hair anywhere. John?</p>

<p>Mrs Potter reached down again, and drew out a second, identical-looking toddler. “There there boys. Mummy’s here.”</p>

<p>One of the toddlers threw up.</p>

<p>“Oh, Harry,” the mother sighed, putting the other child down before cleaning up the one called… Harry?</p>

<p>This was strange. It felt far too real to be a dream, but it was showing her things that clearly weren’t real. Why did Mrs Potter have two children?</p>

<p>Her world faded to black.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Back in the waking world, Ginny sat at the kitchen table eating toast. John was supposed to be coming over to play with Ron today. She was hoping he’d say something to Ron about letting her fly with them too.</p>

<p>The floo flared green and the-boy-who-lived, John Potter, stepped out.</p>

<p>“Hey mate,” Ron called.</p>

<p>“Hey Ron, you ready for some serious action?”</p>

<p>“Well I don’t know what your godfather has to do with it,”—they both snickered—“but yeah, let me grab my broom.”</p>

<p>Ginny sat, hoping… but no, John walked out after giving her naught but a wave, and a smile.</p>

<p>She followed the two boys down to the orchard. Ron had run on ahead, so she latched herself on to John’s arm.</p>

<p>“You know,” she started, “you’re really good at flying.”</p>

<p>“Mmmmmhmmm,” he hummed.</p>

<p>“Wouldn’t it be amazing if you got on the Gryffindor team?”</p>

<p>“I <em>am</em> going to be on the Gryffindor team.”</p>

<p>“So am I.”</p>

<p>John looked at her, surprised. “But, you don’t fly.”</p>

<p>“Only because Ron and the others won’t let me.”</p>

<p>He looked uncomfortable. “Yeah, well, that’s their business isn’t it?”</p>

<p>She pouted. Why didn’t he ever take her side?</p>

<p>Half an hour later, John landed for a drink after a good hoop shot.</p>

<p>Now was a good chance to talk to him again. She could ask him about that dream.</p>

<p><em>But what if he laughs at you?</em></p>

<p>John Potter grabbed a bottle of pumpkin juice from a bag sitting below a tree, and took a swig.</p>

<p>But what if he laughed at her? That would be bad. John was just starting to warm up to her. No need to endanger that by making him think she was being a silly little girl.</p>

<p>The-boy-who-lived dropped the empty bottle, swung back on his brand new Nimbus 1700, and took to the sky once more, waving at her before returning his focus to the game.</p>

<p>She walked over to the empty bottle, picked it up, and put it back in the bag they’d brought with them.</p>

<p>One day, it would be her up there.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Ginny watched, helpless, as the cruellest-looking man she’d ever seen walked through the rubble of the door he’d just blasted to pieces, eyes glowing blood red.</p>

<p>No. That wasn’t. It couldn’t be. Panic flooded through her.</p>

<p>The man swept over to the twin cots on the far side of the room, and loomed over the two screaming infants.</p>

<p>No. Don’t.</p>

<p>“To think that something so small and delicate could ever be fated to be a danger to me,” the man spoke, words as heavy and blunt as lead.</p>

<p>Realisation froze her heart. He was going to kill John’s brother. No. Stop.</p>

<p>The man pointed his wand at one of the infants. “Avada Kedavra.” There was a flash of green, a loud *BOOM*, and her world exploded around her. Bits of ceiling fell, shards of broken glass flew through her body, and the man standing by the cots disintegrated, sending a ghost-like apparition screaming through the roof, leaving nothing behind but the smell of chlorine.</p>

<p>Despite everything harmlessly passing through her, Ginny remained crouched, hands held to her face, waiting for the smoke and dust to settle.</p>

<p>Silence.</p>

<p>What happened?</p>

<p>Ginny stood and crept towards the cots, dreading what she’d find.</p>

<p>There, in the cots, lay the two boys, awake, and unharmed, save for an inflamed, red, lightning-shaped cut on one of the boy’s foreheads.</p>

<p>They were alive.</p>

<p>Footsteps from behind her caused her to whirl around. In strode Albus Dumbledore, who made his way to the cots, stood next to her, and looked down at the boys.</p>

<p>He frowned at the forehead cut and mumbled, “So he chose <em>Harry</em>.”</p>

<p>So he chose Harry? Harry was the boy with the cut? He’d been the one attacked?</p>

<p>Dumbledore waved his wand at baby Harry and the cut faded from view, not healed, she noted, just faded.</p>

<p>Another crash heralded the arrival of the Potters. They were frantic.</p>

<p>“Professor!” Mrs Potter cried. “We came as soon as we felt the wards fail! Please tell us. Are they? They’re not.”</p>

<p>“Calm yourselves Lily — James. It seems he tried to kill John, but John destroyed him.”</p>

<p>Dumbledore picked up the un-marked child and held him up to them.</p>

<p>“Oh, thank Merlin!” Lily Potter took John in her arms, cradling him, whispering to herself and the toddler that everything was all right.</p>

<p>James Potter stepped forward, putting a hand on his wife’s shoulder. “And Harry?”</p>

<p>“Ah yes, Harry.” Dumbledore suddenly looked sad. “I need to speak to you about Harry.”</p>

<p>“What? Why?” Lily looked up.</p>

<p>“I suggest we adjourn to the kitchen, a drink will do us good, and we don’t have all the time in the world.”</p>

<p>The uncertain Potters, followed by the sad-looking headmaster, left the room, and Ginny’s world, once again, faded to black.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Ginny sat alone in the shade of an orchard tree.</p>

<p>The dreams were becoming more frequent. It had been months since they started and it seemed she was now getting them every other night.</p>

<p>She’d watched, confused, as Harry was dropped off at a muggle house, then watched in horror as Harry went through years of shouting, beatings, whippings, starvation, confinement, and mental torture.</p>

<p>It made her sick.</p>

<p>Why had they done it?</p>

<p>She didn’t understand.</p>

<p>She’d decided after the first few dreams that she wasn’t going to tell anyone about them. What could she say? That she dreamed dreams of You-Know-Who, and Dumbledore, and the Potters abandoning their child to the life of a slave? They’d laugh at her at best and say she was going dark at worst.</p>

<p>But what about Harry?</p>

<p>In all the dreams she’d had, Harry had been younger than John was now. What was Harry doing now? Was he still alive? Was he still living <em>that</em> life? Was this a cry for help? Was she <em>supposed</em> to help him?</p>

<p>She trembled. What could she do? What was she supposed to do?</p>

<p>And John? Did he even know he had a brother?</p>

<p>She suddenly realised she hadn’t thought of John as ‘the-boy-who-lived’ for ages.</p>

<p>She sucked her breath in. Her eyes widened.</p>

<p>John wasn’t the-boy-who-lived. Harry was.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Ginny walked into the muggle greengrocer of Ottery St Catchpole.</p>

<p>“Ginny, can you get the bread and milk while I go pick vegetables?”</p>

<p>“Yes, Mum.” She walked to the back of the shop and inspected several loaves before picking one up and placing it in the wicker basket she carried.</p>

<p>Ginny looked up.</p>

<p>John Potter was standing at the far end of an aisle looking at jam.</p>

<p>Weird, what was <em>he</em> doing <em>here</em>?</p>

<p>She’d had mixed feelings about John in the last few weeks and wasn’t keen to speak to him at the moment.</p>

<p>John picked up a jar and turned his head as he rounded the aisle corner.</p>

<p>Ginny gasped.</p>

<p>On his forehead was an inflamed lightning-bolt-shaped scar.</p>

<p>“Harry?”</p>

<p>She ran to the end of the aisle and bolted around the corner.</p>

<p>The aisle was empty.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Ginny stood in what had to be the Hogwarts great hall. Hundreds of students stood in rows, all dressed in black. They all looked serious. Some were crying.</p>

<p>“We are gathered here today to pay our last respects to Ginevra Molly Weasley, a young witch snatched from us long before her time.”</p>

<p>What?</p>

<p>“Ginny epitomised the qualities of her house and family. We are unlikely to see such an outstanding example of bravery and courage in one so young in a long long time.”</p>

<p>No. No. No.</p>

<p>She ran to the front of the hall and stared in horror at the picture sitting, surrounded by flowers, on top of a coffin. Words washed over her, but she didn’t hear anything being said. The coffin and photo filled her world, freezing her blood, shortening her breath, decrying all that was fair and just in the world. Her image, looking a few years older, beamed happily in the arms of John Potter.</p>

<p>She looked around the hall, seeking John’s face, but couldn’t find it.</p>

<p>Wait. There. In Slytherin House? No, that wasn’t John. Standing all by himself, a circle of isolation surrounding him as though he were contagious, was Harry, telltale scar clear for all to see.</p>

<p>She turned again to look at the coffin and, despite being a dream, her knees gave out.</p>

<p>What had happened? This was the future? She was going to die?</p>

<p>The dream continued to sweep forward. Ten minutes? Thirty minutes? She didn’t pay any attention.</p>

<p>She couldn’t think.</p>

<p>Then her world faded to black.</p>

<p>…</p>

<p>And faded back a few moments later.</p>

<p>Ginny watched You-Know-Who resurrect in a graveyard.</p>

<p>She watched John try, and fail, to duel You-Know-Who in the Ministry of Magic atrium.</p>

<p>She watched Ron and a brown-haired witch being tortured by You-Know-Who in a large manor house, their screams of terror and pain forcing their way into her head.</p>

<p>The tremors started again. She couldn’t take this anymore. She just wanted out. Out. Out! Please!</p>

<p><em>Don’t worry. You are okay. You are safe. You are safe.</em></p>

<p>The tremors subsided, her breathing slowed.</p>

<p>It was just a dream. It couldn’t hurt her. It hadn’t happened yet.</p>

<p>She watched an older Luna Lovegood throw herself in front of a killing curse aimed at John.</p>

<p>She watched John walk towards You-Know-Who in a forest, as though taking a stroll in the gardens.</p>

<p>“Go ahead,” he said. “Death will not allow your victory. I will defeat you.”</p>

<p>“Avada Kedavra.”</p>

<p>She watched hundreds of witches and wizards being rounded up, ripped from their families, mothers from daughters, husbands from wives, brothers from sisters, and executed in mass killings, or else enslaved, forced to serve their new master’s every menial or depraved whim.</p>

<p>She watched all this on the verge of panic, but every time she thought she couldn’t take anymore, calmness flooded her body.</p>

<p>Her world faded to black again…</p>

<p>…</p>

<p>…And faded back in a prison cell. A pile of dirty rags sat in a corner.</p>

<p>Nothing happened.</p>

<p>At least no one was being killed or tortured here.</p>

<p>The pile moved and resolved itself in her mind as a person. A person of skin and bones, of greasy hair and shaggy beard.</p>

<p>She edged forward to get a better look.</p>

<p>A person with an inflamed lightning-bolt scar on his forehead.</p>

<p>“Harry?” she whispered.</p>

<p>Nothing.</p>

<p>The cell door was flung open and two guards marched in, grabbed Harry, and half dragged him down the corridor.</p>

<p>The scene changed again.</p>

<p>She watched Harry being dumped through an eerie-looking archway while You-Know-Who screamed in terror.</p>

<p>The scene changed yet again.</p>

<p>This time, the room felt warm, it felt comfortable, like an Anglo-Saxon chieftain’s roundhouse in times of old.</p>

<p>Harry was talking to a man and woman. They felt beyond powerful. The man held a scythe. The woman held a book.</p>

<p>Ginny’s eyes widened as the meaning of their conversation sunk in.</p>

<p>Sentences crashed through her head like tidal waves, drowning out all other thought.</p>

<p>“Dumbledore declared him the boy-who-lived when he was a baby and the child made no effort to disavow others of that impression, even when it became apparent to him that it was you the prophecy referred to.”</p>

<p>Shock.</p>

<p>“It was never his plan for you to stay in Azkaban for as long as you did, but when he died before John Potter did, he was no longer able to manipulate events, and your brother said nothing to anyone who might have been able to intervene.”</p>

<p>Anger.</p>

<p>“He knew Ginny was going to die and let it happen anyway?! I thought those two loved each other.”</p>

<p>Betrayal.</p>

<p>“You must save Ginny Weasley.”</p>

<p>…Hope.</p>

<p>The scene faded in and out, words flowing into other words, as though parts were being skipped.</p>

<p>Before long, Harry was flung back through the archway, and the scene, once more, faded to black.</p>

<p>This time, when the world faded into being, she was standing on a rock, looking out over the bluest sea she’d ever seen.</p>

<p>Harry—a Harry who looked the same age as John—stood to one side, looking out across the water.</p>

<p>She picked her way across the rocks to stand next to him — so that she might get a better view of whatever he was looking at.</p>

<p>“Hello Ginny.”</p>

<p>She started. Her head turned so fast her hair whipped her face. Harry was looking at her, right at her, straight into her eyes. Her heart pounded.</p>

<p>“I won’t let it happen, you know. I’m going to stop it.”</p>

<p>“I… I…”</p>

<p>“…?”</p>

<p>“I can’t believe they did all that to you,” she said.</p>

<p>Harry laughed a mirthless laugh. “Sucks doesn’t it?”</p>

<p>Ginny nodded.</p>

<p>Harry looked out to sea again, as though lost in thought.</p>

<p>“…”</p>

<p>“How?” Ginny asked.</p>

<p>“Mmmm?”</p>

<p>“How did I die?”</p>

<p>“You weren’t listening during your eulogy?” Harry asked.</p>

<p>“I was… a bit distracted.”</p>

<p>“It doesn’t matter anyway. I told you, I’m not going to let it happen again.”</p>

<p>“I’d still like to know, and you were happy for me to hear it before.”</p>

<p>Harry sighed. “Your soul was sucked out by one of You-Know-Who’s toys. It forced you to open the Chamber of Secrets, and spent half your first Hogwarts year possessing you, attacking students with a one-thousand-year-old, sixty-foot-long basilisk.”</p>

<p>She stared at him, appalled.</p>

<p>“Slowly losing your mind to Lord Voldemort isn’t fun, and John could’ve easily stopped it at any time by taking the object from you and destroying it, like he should have, but because of his obsession with ‘preserving the timeline’, he condemned you to another year of torture.”</p>

<p>The stood in silence again.</p>

<p>Eventually, Ginny asked, “So, what are we going to do now?”</p>

<p>Harry raised an eyebrow. “We?”</p>

<p>Despite everything she’d just been through, Ginny felt fine. In fact, she felt <em>free</em>. She finally knew what had been going on for the past few months — that she <em>wasn’t</em> losing her mind — that the dreams she’d been having were for a reason, and that Harry, whose living conditions she’d been getting panicky about, also seemed fine.</p>

<p>She grinned impishly at him. “Yes, we. I assume you didn’t spend months showing me stuff just so you could declare yourself my hero?”</p>

<p>Harry returned her grin. “You’re damn right about that. I want to train you.”</p>

<p>“Train me?”</p>

<p>“For better or worse, our fates are intertwined, decreed by the powers that be themselves, and if you, and a few others, are going to walk the path with me, then you’ll need to be ready for it.”</p>

<p>She thought back to what she’d just seen. The death, the horror, the suffering. If that’s what the world had in store, then she damn well <em>did</em> need to be ready for it. She nodded. “Okay.”</p>

<p>“Great. Meet me in the orchard one week from tonight at midnight.”</p>

<p>“But the wards—”</p>

<p>Her world faded to black.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Ginny paced. The half-moon illuminated the orchard.</p>

<p>Despite the cheerful, jokey attitude she’d displayed to Harry, the truth was she’d mostly been running off adrenaline at the time. After waking up from her dream that night, it had taken all her willpower not to have a breakdown. The full enormity of what she’d seen kept crashing in on her.</p>

<p>It was only the thought of meeting Harry for real, the true-boy-who-lived, that got her through the week. Harry <em>felt</em> more like the hero the boy-who-lived was <em>supposed</em> to be. The hero from the adventure books.</p>

<p>But how was he going to meet her? Ginny was sure Harry had never been keyed in to the wards.</p>

<p>“Hi, Ginny.”</p>

<p>Ginny jumped. “Harry!” she said in a fierce whisper. “How did you get in?”</p>

<p>“C’mon, I’ll show you.” Harry grabbed her hand and led her to a space between two trees on the far side of the orchard.</p>

<p>“What do you think?” he asked.</p>

<p>“Harry? What am I looking at? There’s nothing here.”</p>

<p>He grinned. “Oh yes, ahem… ‘The secret passage into the Burrow is located between the two most northern trees in the orchard.’”</p>

<p>Ginny processed his words and was shocked as a trapdoor appeared in the ground.</p>

<p>“What was that? How did you?” she spluttered.</p>

<p>“That was a fidelius charm,” Harry said. “It preserves a secret, and only the secret keeper can reveal the secret. I’m the secret keeper. C’mon.” He opened the trap door and descended the stairs beneath.</p>

<p>Ginny hesitated, then followed. “But where did the secret passage come from?” she asked as they made their way along. “I’ve never seen it before.”</p>

<p>“I built it,” Harry said. “There are ways to get around tight, interwoven perimeter wards like the Burrow has, but doing it without anyone noticing either takes hours to do it once, or leaves very obvious signs of a permanent entrance. Creating an underground passageway, hidden by a fidelius, lets me create a permanent way without anyone being any the wiser, and only the secret keeper, and those who possess the secret—i.e. you—can use it. Ah! Here we are.” He stopped in a small room hollowed out of the earth.</p>

<p>Ginny could see runestones lining the walls, floor, and ceiling. A wooden walkway elevated the path they were walking on above the stones.</p>

<p>“The runestones trick the ward system into thinking they are the next ward stone in the system, and that the system is still complete, when, in fact, there is now a hole,” Harry said. “It’s called a man-in-the-middle attack. It’s often pretty useless, because most warded systems have area wards as well as perimeter wards, but the Burrow doesn’t.”</p>

<p>Ginny bit her lip. She didn’t want to imagine the <em>trouble</em> she’d be in if her parents <em>ever</em> found out about this. “And only we can use it?”</p>

<p>“Yes. Only you and me. C’mon.”</p>

<p>They crept down the passage until they came out of another trapdoor. Ginny looked around and found herself in the middle of a small copse. “Hey, I know where this is. We’re training here?”</p>

<p>“Nope, we’ve a little way yet.” Harry reached into his pocket and drew something out. “Here,” he said, handing her what looked like a tiny broomstick. “The activation phrase is ‘Harry’s awesome broomstick.’”</p>

<p>Ginny inspected the tiny broomstick and grinned. It looked like a Nimbus 1700. She’d only ridden one of these once, for two minutes. John had let her have a go on her birthday before Ron had glared daggers at John and he’d asked it back.</p>

<p>“Say it,” Harry urged.</p>

<p>“Harry’s awesome broomstick.”</p>

<p>The tiny broomstick expanded into a full adult version, and, laughing, she swung her leg over the shaft.</p>

<p>“Hold it!”</p>

<p>She looked at him.</p>

<p>Harry brought out a wand and tapped her on the head. She felt like an egg had been cracked over her. “What the?”</p>

<p>“Disillusionment. We’ll blend into the background, which in the night-sky makes us damn near invisible.”</p>

<p>“Wow… ah… Harry, how do you have a wand?”</p>

<p>“Later,” he said, pulling out his own broom.</p>

<p>They both shot into the sky, Harry occasionally calling out to guide her. Flying while almost invisible was thrilling, but also disconcerting. She felt like a bird, swooping and curving around the sky on this incredible broom, but, at the same time, she didn’t know exactly where Harry was, and couldn’t shake the feeling she was going to crash into him.</p>

<p>After twenty minutes of the most enthralling flying she’d ever had, they touched down in the clearing of a wood. A small waterfall splashed and flowed to one side.</p>

<p>Harry faded into view before relusioning her. He then started waving his wand in patterns causing several bluebell-flame lanterns to appear from nowhere. They floated upwards, hanging themselves on nearby branches, casting a soft, blue light on everything. It was beautiful.</p>

<p>“Muggle-repelling wards,” he said, by way of explanation. “So, what do you think?”</p>

<p>“It’s a very nice place. Having a picnic here during the day would be nice.” She walked over to the stream, squatted down, and dipped her hand in, testing the water. “So, what are we going to learn?”</p>

<p>“How are your occlumency studies going?”</p>

<p>She stood back up and shuffled her feet. “What’s occlumency?”</p>

<p>Harry looked shocked. It was the first time she’d ever seen him surprised. “Oh wow… that… actually explains <em>so</em> much.”</p>

<p>“Explains what?” she asked, getting agitated. “What’s occlumency?”</p>

<p>“It’s the magic of the human mind. All pureblood houses that I’ve encountered teach their children occlumency, because, without it, anyone trained in legilimency can pull family secrets straight from your head… or any other secret for that matter. It also gives those who study it better concentration, memory, and skill acquisition.”</p>

<p>Ginny was aghast as the implications sank in. She’d never heard her parents so much as mention such a practice to her, or any of her brothers.</p>

<p>“You mean, people read our minds?”</p>

<p>“Well… <em>you</em> might have some latitude. A lot of wizards might assume your family practises occlumency, and so don’t try to probe you. It’s considered a large faux pas to be caught using legilimency on someone with the defences to detect intrusion. But anyone who knows you don’t practise it…”</p>

<p>“Why isn’t using legilimency illegal?”</p>

<p>“Because the noble houses, most of which are pureblood, learn occlumency, but the muggleborns—and to a lesser extent non-noble half-bloods—either don’t know to, can’t, or decide it’s not worth it. This gives the noble houses, and other traditional houses, a massive advantage over everyone else, and they mostly control the law, so why should they outlaw it?”</p>

<p>Ginny thought about it. It made sense. It wasn’t right, but it made sense. “So I need to learn this?”</p>

<p>“Yes.”</p>

<p>“How long will it take?”</p>

<p>“Normally it would take years, but I have a trick that’ll cut that down to just months.”</p>

<p>Ginny perked up. “Really? Oh, thank Merlin. I thought I was going to be massively far behind.”</p>

<p>“Once you’ve got intermediate occlumency down, we’ll move onto wandless casting.”</p>

<p>“What! I thought only really powerful wizards could use wandless magic?”</p>

<p>“Not true. It just requires the combination of a specialised form of occlumency—which most practitioners don’t bother learning—and the time to learn how each spell you want to learn should feel moving through you, rather than through the crutch of a wand.”</p>

<p>Ginny grinned. This was awesome. This is what she imagined being the friend of the boy-who-lived would be like. “And then?”</p>

<p>“That’ll be plenty for the moment. We’ll practise duelling as well, but that’s just further application of our wandless studies.”</p>

<p>“Okay.” Her face set in determination. “When do we start?”</p>

<p>“Right now.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Ginny danced around the secret training spot, letting her happiness wash over her barriers and through her mindscape like a flash flood. She’d gotten it down. Harry had just spent half an hour inspecting and probing her mind, and declared her fit for the fight.</p>

<p>“Yes, yes,” Harry said, grinning at her as she jumped in the stream, splashing him with cooling water. “You’re happy, we get that.”</p>

<p>“Harry, you’ve no idea what it feels like. This is the first time I’ve gotten good at something that is just mine. Something none of my brothers can do. When Mum would yell at me before, I felt like I was being beaten into the ground. I just wanted to shrivel up and disappear. Now, I feel like I can easily take it. It feels amazing.”</p>

<p>She leapt from the stream and wrapped her arms around Harry. “Thank you.”</p>

<p>Harry returned the hug and smiled. “Well then, there does remain one more thing to do.”</p>

<p>She looked at him. “What?”</p>

<p>“Close your eyes.”</p>

<p>She suddenly realised how close they were.</p>

<p>“W-w-what?”</p>

<p>“Close your eyes.”</p>

<p>She hesitated for a moment, but closed her eyes. He wasn’t going to… was he? Was he?</p>

<p>She felt Harry’s hands reach up to her neck and flick her hair away before withdrawing. Something dragged across her neck and upper chest.</p>

<p>“There we are. No need for this anymore.”</p>

<p>She opened her eyes. Harry was holding a silver chain necklace with a lightning-bolt pendant attached to it.</p>

<p>She was puzzled. “I don’t remember putting that on.”</p>

<p>“This has been serving as your basic occlumency for the last seven or eight months, and letting me send you those dreams. Now you’ve got your own occlumency, you don’t need it anymore.”</p>

<p>Ginny bit her lip. Conflicting emotions clashed, not the least of which was disappointment that he <em>hadn’t</em>. She felt she should be angry that she’d been wearing a magical artefact, which had been messing with her head for over half a year, without knowing, but, on the other hand, she couldn’t deny it had turned out for the best. Harry knew what he was doing… right? She trusted him, didn’t she?</p>

<p>She thought back to the memories of the future — to the conversation with Fate and Death — to John committing suicide on the end of You-Know-Who’s wand, thinking Death would give him a third chance, …to her eulogy.</p>

<p>Yes. Yes, she trusted Harry.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>“Harry?” Ginny sat cross-legged on the grass of the secret training spot. She was trying to feel her magic flow through her while focusing her intent on creating a lumos light in her palm. It had been weeks since Harry had deemed her occlumency sufficient to move on to the next step.</p>

<p>“Yes, Ginny?”</p>

<p>“Can we talk?”</p>

<p>“Sure.”</p>

<p>“It’s about John.”</p>

<p>Harry seemed to stiffen. “Oh, yes?”</p>

<p>“I-I…” Ginny hesitated before plunging forward, “For months I thought I was over him, I mean, he did all those things — or will do them — but, in the last few weeks, I haven’t been able to shake the feelings I had for him before. I guess I just can’t connect the boy he is now to the John who utterly failed to do what he should have done… and what he did to me.”</p>

<p>Harry looked thoughtful.</p>

<p>“I still want to continue our training,” she added, quickly. “I just feel torn, between what I feel for John,” — her voice dipped down to barely audible level — “And what I feel for you.” She blushed lightly.</p>

<p>“Do you want to like him?”</p>

<p>“No!” She shook her head causing her red hair to flail.</p>

<p>Harry looked thoughtful again. “One moment.” He stood up, and with a *Crack!* was gone.</p>

<p>She waited.</p>

<p>Five minutes later, Harry returned with another *Crack!*. He held a vial of crystal-clear purple potion. “This is a potion that reveals all the worst traits and habits of a person to the drinker,” he said. “It’s supposed to be very difficult to continue liking someone after having drunk one of these. The effects only last a few days, but the mind still remembers all the bad things, even if the magic is no longer present.”</p>

<p>Harry handed the potion to her. She looked at it, uncertain. She didn’t know what she’d been expecting when she brought this up with Harry, but this wasn’t it.</p>

<p>“How did you prepare this so quickly?”</p>

<p>“I have his hair in my supplies.”</p>

<p>“How did you get his hair?”</p>

<p>Harry grinned. “You don’t want to know.”</p>

<p>Ginny looked back at the crystal-clear, purple liquid sloshing around as she turned the vial this way and that. She bit her lip.</p>

<p>Could she really do this? She didn’t like the feelings she had for John, but they were still her feelings. Could she <em>choose</em> to hate him? To decide he was no longer part of her future and permanently shut him out from that?</p>

<p>She looked up at Harry who was sitting with his legs out in front, pointedly angled away from her, looking towards the waterfall. The message was clear. This was <em>her</em> decision.</p>

<p>Her hands trembled. Her entire world shrunk to the tiny glass vial in her hands.</p>

<p>She rubbed the tip of the vial’s stopper between her thumb and forefinger and forced herself to remember all those times John hadn’t stood up for her.</p>

<p>She popped the stopper.</p>

<p>She drank.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>John Potter exited the Burrow’s floo and looked around. Ginny wasn’t here. She and he had been drifting apart over the last few months and it was only now that he realised he’d missed having her hanging around. It was true he hadn’t been doing much for her, but he’d never seen the need when she wouldn’t ever leave him alone.</p>

<p>He’d asked Dad what to do, which had been educational.</p>

<p>“Son,” James Potter had said, “girls expect you to chase them. If you don’t, they’ll eventually give up, no matter how into you they are. I chased your mother for six years before she finally agreed to date me.”</p>

<p>“But I don’t want to d-d-date her… I just like having her around.”</p>

<p>“Yeah, you keep telling yourself that, Son. Face it, Potter men can’t resist a pretty redhead.”</p>

<p>A quick check-in with Mrs Weasley confirmed Ginny wasn’t in the house.</p>

<p>“She’s recently been spending a lot of time in the orchard, John dear.”</p>

<p>John walked the path to the orchard. Maybe Ginny would like a ride on his broom. That would surely work. Ginny seemed to like flying, even if she never did any.</p>

<p>He reached the orchard’s edge and saw her sitting below a tree… practising occlumency? That was different.</p>

<p>“Gin Gin!”</p>

<p>Ginny raised her head, and his world shattered.</p>

<p>Hate.</p>

<p>It shouldn’t be possible for eyes to contain such loathing. Such malice. And for those chocolate-brown orbs to be directing all that revulsion at him.</p>

<p>“G-gin?” he stammered. “What’s wrong?”</p>

<p>Ginny stood and walked off without saying anything, giving him nothing but a final disgust-filled glare.</p>

<p>He felt like he was going to cry. Tears welled up, and his breath started to shudder. What had he <em>done</em>?</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Ginny felt her magic course through her, felt it ride the currents of nerves and blood, felt it pool in her hand, felt it seep into her fingertips, and watched the stinging hex shoot towards her intended target who instantly swatted the spell away with his wand.</p>

<p>“I did it!” She leapt up, ran at Harry, and threw her arms around his neck, forcing him to spin her around, or risk losing his balance.</p>

<p>“Well done.” Harry smiled. “Keep it up and at this rate we’ll be doing actual duelling soon. I’ll have to start thinking about introducing you to your duelling partner.”</p>

<p>Ginny’s face fell. She looked at her feet. “Duelling partner? I thought <em>we</em> were going to…”</p>

<p>“Oh, we are.” Harry lifted her chin and grinned. “But you’re going to be stuck here for a whole year while I’m in Scotland and I don’t want you getting rusty. I’ve been training a few others, so we’re not going to face this future alone. There will be a good number of us to rely on.”</p>

<p>Not alone. That sounded good.</p>

<p>“Oh, that reminds me,” he said, snapping his fingers and reaching into his pocket. “I have something here for you. Since you’ve just mastered your first wandless spell, I guess this will do well for a reward.”</p>

<p>She took the object and looked at it. It was a ring, but it clearly wasn’t a <em>ring</em> ring. It was silver and had a small lightning-bolt design on the face.</p>

<p>She raised an eyebrow.</p>

<p>“I’m giving these to those who know all three of my secrets. They’re invisible to all but those who also wear one. They’re also soul bound, and have most of the usual goodies you’d expect from a high-end piece of jewellery.”</p>

<p>Ginny fingered the ring. It was a gift from Harry. “It doesn’t make you have weird dreams does it?” she asked, tracing the ridges of the lightning bolt with the sensitive tips of her fingers.</p>

<p>“Nope, no dreams,” Harry said. “Although they <em>do</em> have a few cool features. They can send very basic messages to each other using vibrations and they make you immune to compulsion charms. That was the only immunity I could get to work. I swear, Merlin was a freakin’ genius when he created the noble-house rings.”</p>

<p>“You were trying to recreate the noble-house rings? Ambitious, aren’t we?”</p>

<p>“Well it <em>is</em> my house’s nature.”</p>

<p>“Well that’s true.” Ginny looked thoughtful. “You know, if you’d told me a year ago I’d be going to Slytherin, I’d have said you were mad, and to piss off.”</p>

<p>“How we change, mmm?”</p>

<p>“Yah.”</p>

<p>“How’s my brother doing?”</p>

<p>Ginny’s expression darkened. “Still whining that his love detests him for no reason. Ever since the hate potion wore off, he’s become so needy it’s sickening. My family even tried to hold a mediation between us the other day.”</p>

<p>Harry cringed. “I bet that went well.”</p>

<p>“They spent the whole time trying to tell me that I was being unreasonable — that we looked so cute together. Well, Mum did anyway.”</p>

<p>Silence descended on the pair for a moment.</p>

<p>“So, you want to put that on?”</p>

<p>She perked up. “Sure, which finger?”</p>

<p>“Pinky of your right hand. So it’s very obvious when you shake or kiss hands.”</p>

<p>“So, it’s kind of like a secret club.”</p>

<p>“In a way.”</p>

<p>“Cool.”</p>

<p>She slipped the ring on her pinky and felt the magic catch. It was the first time she’d ever worn a magic ring. For a moment, she allowed herself to imagine she was a real pureblood princess.</p>

<p>“Back to training?”</p>

<p>She beamed. “Yes, Harry.”</p>

<p>[Chapter end - May, 1990 (Four months before Hermione’s ‘final test’)]</p>

<p style="text-align: center;">— End of Chapter Seven —</p>

