Chapter 80 - The Gray's Secret - Chapter 7

<p>“Monsieur Weasley! Monsieur Weasley.”</p>

<p>Arthur Weasley turned in the corridor to find a pair of Wizards who were very obviously French trotting to catch up to him. Well, one of them was trotting. The man who’d called his name looked out of breath to find him, while his partner—a much shorter man with a black moustache—maintained that cool, detached face Mister Weasley had come to associate with wizards from across the channel.</p>

<p>They’d never gotten over the whole, Albion Family Magic Expansion thing.</p>

<p>“Monsieur Weasley it is so very good to meet you at last,” the first man opined, reaching for his hand and shaking it vigorously. “My name is Louis François Kama. And this is Henri Delacour. We spoke before by owl.”</p>

<p>“Ah, yes!” Arthur returned the shake and beamed. “From the Quidditch Association.”</p>

<p>“La Association Internationale de Quidditch,” Mister Kama corrected, though with no apparent annoyance. “And I congratulate you, Monsieur Weasley, on having such a spectacularly talented daughter.”</p>

<p>“Ah. Yes. Thank you,” Arthur replied reflexively. “Molly and I are very proud of her.”</p>

<p>“As you should be, Monsieur!” The enthusiastic Frenchman put a whole arm around Mister Weasley, causing him to momentarily stiffen before finding himself being led the way he’d originally been going, down the corridor, towards the hearing room.</p>

<p>He tried politely to shrug the arm off, but found his sudden opponent distressingly skilled in the art of social entanglement.</p>

<p>“I remember when I first saw my chérie on a broom, I fell in love at first sight, I tell you! It was like magic!” The wizard continued and by the time they’d reached the door, Arthur had been subjected to a short summary of the man’s love life, his family, his family’s family, and his family’s family’s family. Arthur Weasley knew he had a large family by Magical British standards, but even he was taken aback by the reach the wizard beside him had achieved. That didn’t stop him from wanting to extradite himself from the overly friendly arm still pinning him to the Frenchman’s side.</p>

<p>“Well, thank you for that,” Arthur said quickly, somehow managing to find an opportunistic lull in the very one-sided verbal barrage. “I assume there are no problems with what we discussed? If not I’ll be heading for my seat.”</p>

<p>“Non, Monsieur. No problems at all!” Mister Kama said, finally letting Arthur go, allowing him space to retreat several steps.</p>

<p>“Good,” Arthur replied, now angling himself towards the open chair on the far side of the room. “I’ll just—”</p>

<p>“—Though there was one small thing,” the French official said, almost offhandedly.</p>

<p>Arthur hesitated in mid-retreat. “What thing?”</p>

<p>The man ummed and ahhed for a moment before throwing up his hands. “Oh, it’s nothing, I’m sure. Just a small conversation I had with my friend Monsieur Delacour here. Rien d’important.”</p>

<p>“What conversation?” Arthur asked urgently, starting to pivot back around again to face Kama, but was far too late. The man was already in full retreat himself. The more serious-looking Monsieur Delacour had already taken up his seat on the other, other side of the room.</p>

<p>“I’m sure it will be fine,” Kama called out, just as the far-side door opened and Amelia Bones stepped into the room, looking very different than normal in a full judge’s robe along with her monocle.</p>

<p>“Everyone settle down, please!” The witch called out around the space.</p>

<p>There were about three dozen wizards and witches crammed into this room, including the even smaller gallery above. While many people had a passing interest in the proceedings here, the real show was a few rooms down with the basilisk hearing.</p>

<p>Arthur took his seat and put the Frenchman’s words out of his mind. This shouldn’t be a difficult hearing. Open and shut, almost. They just needed a statement from a judge that Ginny’s inclusion on the National Quidditch team would require a vote of the Wizengamot. She might place stipulations or recommendations alongside that statement, but the actual politics of the situation were about as tri-partisan as any matter had been in Magical Britain for the last two hundred years.</p>

<p>Quidditch was serious business.</p>

<p>“This shouldn’t take too long,” Bones said. “As you all know, we’ve a lot to do today. The matter in question is the legality of extending an invitation to Arthur’s daughter, Ginny—Ginevra Molly Weasley—to join the national Quidditch team and compete in the upcoming Quidditch World Cup next summer. Given the World Cup is just over a year away and qualifications will be starting next spring, this is a matter of some urgency.”</p>

<p>She peered through her monocle at the five wizards sat before her, plus Ginny. They were Mister Weasley and Ginny on the right, Captain of the English National Quidditch Team Avery Hawksworth and Ludo Bagman in the middle, and Luis Kama and Henri Delacour on the left.</p>

<p>“I’ve gone over the relevant statuettes myself and it does seem that a vote of the Wizengamot would be needed to allow this,” Bones continued.</p>

<p>One thing she didn’t do was ask any of those present to present their rings to confirm their identity. Partly because this hearing, while having great cultural significance, wasn’t really a matter of justice, but mostly because not one of those sitting around the grand polished oak table was actually noble.</p>

<p>Bones shuffled the parchment on her desk. “One thing we don’t want to do, however, is put forward an enabling act of this nature without taking into account possible consequences, so let’s start with the ministry, Mister Ludo Bagman?”</p>

<p>Ludo Bagman excitedly cleared his throat. He’d spent most of the introduction alternating his gaze between Bones behind her desk and Ginny sitting to his right. “Not much to say on the Ministry front,” Bagman began, “Except that I’ve been advised by the Department of Family Affairs that it would be unwise to give Ginny any special dispensation to take leave from school — as much as I’d like to have her training full time — we can’t take her education away from her just because we want that cup.”</p>

<p>“And I would strongly object to that anyway,” Arthur interjected.</p>

<p>Bones nodded. “Wise. But how will Ginny train with the team next year if she’s still taking classes at Hogwarts? She cannot be in two places at once. Don’t the other players have schedules they need to keep as well?”</p>

<p>Bagman’s enthusiasm dampened a notch. “We’re looking into a number of options,” he said, suddenly sounding rather shifty, but only for a moment before his enthusiasm returned. “But whatever we do, we can assure that Miss Weasley will not miss a single one of her Hogwarts classes.”</p>

<p>“Even astronomy?” Bones asked with a raised eyebrow.</p>

<p>“Y-yes.”</p>

<p>Up in the gallery, Hermione Granger stared down at the conversation with narrowed eyes, trying, and mostly failing, to imagine how the ministry might solve that particular conundrum.</p>

<p>“Mister Hawksworth?” Bones continued. “I assume you have no problem with inviting Ginny to join the team, despite her age?”</p>

<p>“Are you kidding?!” Avery Hawksworth exclaimed. “I’ve never seen anyone so in tune with a broom before! Never! She flies like the broom isn’t even there. Like it’s an extension of her body. To leave that kind of talent on the sidelines would be a crime!”</p>

<p>Madam Bones stared sardonically across the space at him. “I’d hope not, Mister Hawksworth. But I appreciate your candour. Mister Kama? Mister Delacour? What do our friends in the Quidditch League have to say about this?”</p>

<p>“La Association Internationale de Quidditch,” Kama smoothly corrected again, before becoming more animated. “Of course, we do not like that England has such a promising—how do you say it—’power house’ joining her team, but we cannot refuse it! Bulgaria recently asked for permission to have a Durmstrang student join their national team—though he will only be several months below his majority when playoffs start, not many years like Ginevra—it does not matter! To refuse, C’est impossible.”</p>

<p>“Good. Does anyone else have anything to add?” Bones asked. “Mister Weasley? Ginny?”</p>

<p>Both shook their heads.</p>

<p>“Would anyone present like to put themselves forward as a person of interest?” Bones called out to the room at large.</p>

<p>And as though he’d had been waiting for that exact moment—because he had—a loud male voice announced his presence from the back of the spectator’s gallery.</p>

<p>“Yes!” Bill Weasley called out. “I would!”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Back in Wizengamot Chamber Number Two, Sunny Greengrass sat back down after giving her full and reasoned explanation. There was some obfuscation of the truth, obviously. She hadn’t told them about some of the more esoteric muggle weaponry that Harry had employed, nor the loan of the goblin silver sword from Gringotts. That was instead played off as an ancient Slytherin artefact along the lines of the legendary Sword of Gryffindor.</p>

<p>Several reporters had started scribbling manically at that ‘revelation’ and Harry knew that would likely add to the ‘Slytherin’s Treasure’ rumours that had been circulating ever since he’d first returned to the past. The fact that the rumours were now kinda sorta true, given that they’d found both the Icelandic cave and the ancient Slytherin exploration boat, filled with gold from the Americas, only made it more ironic. Once more, Harry had to wonder just how far Fate would go for him.</p>

<p>Best not to think too heavily on that.</p>

<p>The moment he started thinking nothing could go wrong was the moment it inevitably would.</p>

<p>That was how his brother had thought in the last timeline and look where he was now. Mostly sidelined from the important action in the story — relegated to the rather unimpressive muscle of Virgo Malloy — a chimeraed soul, so twisted, mangled, and possibly insane that Harry wasn’t even sure if he even could separate the dark lord from the rest of her now. Or if the soul anchor was even still viable. Though the frightened reaction of the soul fragment that he himself was a prison for suggested it might be.</p>

<p>He snorted at the thought.</p>

<p>He well remembered the near-insane look in Virgo’s eyes when she declared she loved John when they’d met in the Hogwarts Hospital Wing after the death of the Basilisk.</p>

<p>The fact that Virgo basically amounted to John’s ‘harem’ now—not counting Susan—never ceased to amuse him. In the last timeline, John had ceaselessly rubbed how popular he was with girls in his face. Seeing Hermione hanging around him had been particularly painful, given the friendship they’d struck up together on the Hogwarts Express.</p>

<p>He did wonder just how much John knew about Virgo’s background. It couldn’t be too much, given that they were still seemingly glued together at the hip. He seriously doubted his holier-than-thou brother would ever be seen dead with Virgo if he knew she was actually part-Voldemort. Telling him would be deliciously amusing.</p>

<p>He just had to make sure he told him before John did something truly stupid like get himself betrothed to her.</p>

<p>Incidentally, the confrontation between Harry and Virgo in the hospital wing was another thing the official record of the Basilisk incident didn’t include. As far as anyone not in his immediate inner-circle knew, he and Virgo had just spent a couple minutes friendly chatting with each other before the Auror turned up and Harry fled the castle.</p>

<p>Daphne’s father had naturally seen through that ruse at once, but hadn’t pressed the matter. He’d also advised what Harry was starting to think of as ‘the-future-father-in-law-club’ not to do so either.</p>

<p>As Daphne’s mother sat back down, matching the grace she’d instilled in her first-born daughter, Madam Longbottom cleared her throat, causing the stuffed vulture on her head to jerk awake after having dozed off.</p>

<p>“Thank you for that, Lady Greengrass. A very detailed and well-spoken rationale. For those of us here not so well versed in ministerial law, family tradition, and magical reality, would it be fair to summarize your explanation as ‘We invited the ministry to what is rightfully our business and they declined to even reply back?’”</p>

<p>Lady Greengrass leaned forward. “While I would never use those words to describe such a complicated set of events, yes. That is the basic gist. And subsequent events proved us correct in our reasoning. The Basilisk is dead and no one involved was killed, or even injured, except at the hands of the Ministry’s forces themselves.”</p>

<p>“Hem hem!”</p>

<p>The voice was sickly sweet and seemed to radiate smug superiority with just that one syllable.</p>

<p>“But this is absolute nonsense!” declared the voice.</p>

<p>“Dolores Umbridge, you are out of order.” Madam Longbottom slammed her gavel down causing a sharp bang to echo throughout the room. She gave the ministry witch a sharp look.</p>

<p>Umbridge visibly backed down. “My apologies, Your Honour.”</p>

<p>“Very well. Now, what exactly is nonsense about the Lady Greengrass’ testimony?”</p>

<p>“Well, firstly, I would hardly call getting poked by a pointy stick when you’re a giant monster Animagus ‘sustaining an injury’—”</p>

<p>Harry felt an emotion stir in him that he wasn’t at all used to feeling these days. An ember of anger settled in his stomach.</p>

<p>“—and secondly, Lord Slytherin did NOT, in fact, inform the minister!” Umbridge flourished a parchment above her head triumphantly. “This is the so-called ‘note’ that was written!” She lowered the note to reading height. “May I?”</p>

<p>“Please do.”</p>

<p>"Hem. Subject to Section Three of Wizengamot Act No. 2421, it is to be noted that certain irregularities may have occurred regarding paragraphs five, six, thirteen, and seventeen, and further subjected to Special Ministry Edict No. 544, subsection six, paragraph three, subclause B; this note therefore advises the relevant authorities as defined above that steps to rectify the irregularities are being taken and that the aforementioned authorities may, or may not, wish to peruse the matter further, in a manner consistent with and subject to procedures laid down in Wizengamot Act No. 233, 234, and 240, or as directed by the relevant authorities' supplemental administrative powers pertaining to the special interests of the affected Heads of Departments, or Elected Minister of The Wizengamot's Special Administrative Body and subjected to the limitations enumerated to the same.</p>

<p>"Having said that, it should be noted that the timeline for such action is short and since the irregularities in question are primarily a Family Matter as defined by Wizengamot Act No. 52, Section twelve, actions taken by any relevant authorized party may or may not materially affect the outcome, nor fall within the official responsibility of the relevant departments, nor be officially accountable for either correcting or abstaining from such irregularities, nor be a relevant party in any regard whatsoever, as the irregularity is estimated to have last taken place over a thousand years ago.</p>

<p>"The Ministry will be informed about further developments for its records.“ Undersecretary Umbridge looked up from the paper. ”And it then signs off with a signature that’s absolutely unreadable!“</p>

<p>Not too far away, in the London magical enclave just off Diagon Alley, a half-blood with a taste for British muggle comedy from his father’s side listened to the investigation currently being broadcast live on the wizarding wireless. And when the snooty-sounding witch finished reading the ‘note to the minister’, he rolled his eyes.</p>

<p>Back in the hearing room, Madam Longbottom pursued her lips. “I agree that the style of the note is rather… obtuse… but am I correct in believing that all those act references do in fact communicate the message that there’s a monster in Hogwarts and that Lord Slytherin intends to destroy it?”</p>

<p>“That’s not the point!” Umbridge exploded. “It took us two whole days to even find the note! And that’s after we were told it existed in the first place! Even if the note says what it says, the ministry was certainly not, ‘informed’!”</p>

<p>“Why did it take you two days to find the note?”</p>

<p>“It was in a backlog of magic exploration application forms!”</p>

<p>Madam Longbottom rubbed at her temples. “Why?”</p>

<p>“It was submitted to the ministry along with an application for a Hogwarts student to explore the aether unpacked.”</p>

<p>“Again, I ask, why?”</p>

<p>“The form was submitted by a muggle called Emma Granger, she’s the mother of one Hermione Granger, a muggleborn student currently attending Hogwarts.”</p>

<p>“I think I’m starting to see the picture,” Madam Longbottom said in a tired voice. “It’s well known the Grangers are vassals of Lord Slytherin. Sending Mrs Granger to file paperwork with the ministry sounds like quite a normal thing to ask a vassal to do. But that doesn’t explain why the ministry didn’t find the note. I remember when I filed my application for a licence to explore the aether unpacked. It only took a few days to get a response.”</p>

<p>“I—” Madam Umbridge suddenly looked hesitant. As though she’d seen where the track of the conversation was going and realised that the Hogwarts Express was coming down the track the other way. “The ministry is extremely overworked right now,” she hastily said and proceeded to take the next several minutes to explain all the budget and personnel shortages they were currently suffering.</p>

<p>When she finished, Harry held up a finger, signalling the judge.</p>

<p>“Mister Potter?” Madam Longbottom said after a quick conversation with her fellow judges.</p>

<p>“I believe Madam Umbridge left out the extra approval requirements for muggleborns from her analysis,” he said in a cheerfully helpful voice that only a twelve-year-old could get away with and which earned him a glare of death from the pink-dressed witch. “Just a minor point.”</p>

<p>“Extra muggleborn approval requirements?”</p>

<p>Madam Umbridge swallowed before continuing. “That is a minor matter, but yes, it was decided when the liberalisation of magic exploration licences came into effect that those not as familiar with our world would need to go through certain extra background checks to ensure the safety of both themselves and the magical community as a whole.”</p>

<p>“And how much time do these extra checks add?”</p>

<p>“The checks are supposed to add no more than one to two weeks to the process.”</p>

<p>Madam Longbottom’s eyes narrowed. “And how much do they add in practice? No, let me ask a different question. How old is the oldest application form that has yet to be given a formal response?”</p>

<p>Umbridge was sweating now. “Umm, your honour, we seem to have strayed quite a bit from the purpose of the enquiry. I don’t really see how this is relevant to the Basilisk incident—”.</p>

<p>“Madam Umbridge, I am the speaking judge of this hearing, and I will decide what is and isn’t relevant. Please answer the question. And remember that you are standing not only before four judges appointed by magic herself, but also a good chunk of the Wizengamot behind you up in the visitor’s gallery.”</p>

<p>“The oldest form was filed in 1973,” Umbridge said in a confident voice that wasn’t fooling anyone.</p>

<p>There was a sudden eruption of jeers from said visitor’s gallery as approximately one-third of the viewers took umbrage with Umbridge.</p>

<p>Madam Longbottom closed her eyes and looked up towards the ceiling as though to say, ‘give me strength’. “I think we’ve heard everything we need to hear on this matter. I’m sure the Wizengamot will have something to say about this, but for the moment, let’s move on to our next witness.”</p>

<p>Harry smirked to himself. Not a bad play. Not only did they fend off the ministry’s attack on their cover story, but the chances that Hermione would get her official spell discovery licence before the beginning of the next Hogwarts year had just gone up by several orders of magnitude.</p>

<p>And speaking of the enthusiastic and pretty devil…</p>

<p>As Shacklebolt began to give his own testimony, Harry turned as a rather out-of-breath Hermione arrived beside him. Handing him a briefly scrawled note, she flashed him a worried look before taking up position beside him in the manner that quite a few of his fellow witnesses had with their own lawyers or assistants.</p>

<p>Harry read the note. Apparently, Bill Weasley had crashed Ginny’s hearing and was making some kind of play to disrupt his little sister’s possible future quidditch career.</p>

<p>What to do…</p>

<p style="text-align: center;">— End of Chapter Eighty —</p>

<p>A/N: For those wondering, the half-blood off Diagon Alley is drawing connections between the events in the Wizengamot and similar ones in the British TV political Comedy series, ‘Yes Minister.’ If you haven’t watched it, I highly recommend.</p>

