Chapter 81 - The Gray's Secret - Chapter 8

<p>“I can’t believe you left us behind, Mum!” John Potter groused, practically jogging down the corridor towards the hearings.</p>

<p>“I can’t believe I’m late for my first official Wizengamot event!” half-wailed Susan Bones, keeping stride next to the boy-who-lived. “Auntie’s going to blow a cauldron!”</p>

<p>“I can’t believe it took so long to find Minerva to get back into the Headmaster’s office,” Lily muttered under her breath. “Wait, John, where are you going? That’s not the basilisk hearing.”</p>

<p>John paused, looking a little guilty as his hand closed on the doorknob leading to Ginny’s hearing room. “Virgo and Susan can handle themselves, right? They don’t ‘need’ me there.” He caught Susan’s eye who gave him a thumbs up and continued on towards Wizengamot Hearing Room Two at a quick march.</p>

<p>Lily crossed her arms under her chest. “You’re already courting Susan and Virgo. Don’t you think chasing after another witch is a bit much?”</p>

<p>A sullen look came over John’s face. “It’s well within the bounds of societal respectability,” he muttered. “Harry’s got two already—”</p>

<p>“—And besides Ginny likes Harry,” Lilly continued, her words overlapping John’s. She paused. “What’s this about Harry having two witches?”</p>

<p>But John just ignored her, slipping through the door that led to the visitor’s gallery. Lily stared after her son’s retreating form before the door closed behind him, leaving her staring at nothing.</p>

<p>“Tch,” said the painting of an ancient-looking wizard next to her, “children these days got no respect for their elders.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>As the not-really-boy-who-lived entered the visitor’s gallery and took a seat, looking rather confused at what was going on, down in the hearing room proper, Mister Weasley was furious.</p>

<p>“So, you see, your honour,” Bill Weasley was finishing up, apparently completely unable to feel the red-hot gaze of his father trying to burn a hole in the back of his head. “It could be quite irresponsible for Ginny to dedicate her future career to quidditch when the state of our family’s finances are so dire. Ginny will most likely need a more conventional career to live. One that is appropriate for a worker of Magical Britain, as our family has always been proudly working class. I’m not saying she wouldn’t be able to play quidditch at all, but—”</p>

<p>He’d known Bill was really against Ginny’s involvement in anything that smelled of nobility or the wizarding aristocracy, but he’d never have imagined he’d go this far. The worst of it was that he wasn’t in a particularly good position to refute many of his claims.</p>

<p>The twins’ business was doing well, but that was a partnership with Lord Slytherin.</p>

<p>He ideally wanted to keep his family’s association with the Gray Lord on the low down. At least until the Muggle Protection Act finally got through.</p>

<p>Likewise, Lord Slytherin wanted Ginny betrothed to Harry, which would easily secure his daughter’s financial future. Normally announcing that would be an excellent way to distance the Weasley’s from the Gray, if it weren’t for the fact that everybody now knew that Harry Potter was Lord Slytherin’s protégé.</p>

<p>There was also the slight problem that the betrothal was by no means a done deal. Lord Slytherin had to get Lord Potter’s agreement and he still didn’t know how the Gray Lord was going to pull that off. If only there was something James Potter wanted that Lord Slytherin could give him…</p>

<p>After Bill finished speaking, Madam Bones cleared her throat. “Thank you, Mister William Weasley. Your words have been illuminating.”</p>

<p>Arthur glared again. Above all though, he was absolutely apoplectic that his eldest son would betray the family so blatantly by discussing their private finances in public!</p>

<p>“Certainly, the provision of Miss Weasley’s future is something that should be taken into consideration.”</p>

<p>The visitor’s gallery erupted in protest.</p>

<p>“Quiet!” Her voice raised. “Although her education has already been discussed— No, I said quiet!”</p>

<p>Clearly the idea that Ginny might <em>not</em> play for England wasn’t something anyone up there felt particularly happy about.</p>

<p>When the gallery settled back down, she looked thoughtful. “I think we do sometimes forget just how young Miss Weasley actually is. You’re still in your first year, right?” she directed this question to Ginny, even though she almost certainly already knew the answer.</p>

<p>“Yes,” Ginny piped up, looking far calmer than one might expect given what was going on. “But I don’t care about any of that. I don’t need money. I’m also nearly the best in my year. I can totally handle quidditch training and still go to school.”</p>

<p>“Mmm… still… if it were my Susan, I know I’d be worried for her future.”</p>

<p>Mister Weasley couldn’t take it anymore. He half got to his feet, his hands on the desk. “Your honour! If I may?”</p>

<p>Madam Bones nodded at him.</p>

<p>“My family’s finances are of no concern to this discussion. And my son had no business discussing them in public like this. If Ginny chooses to play quidditch and destitute herself in the process, then that is a family decision. It is not up to the Wizengamot, nor the Ministry, nor the Judiciary to hold our hands.”</p>

<p>Madam Bones gave Mister Weasley a sharp look. “It very much is our business, Mister Weasley. A quidditch team is not some muggle mass produced factory item one can just swap out parts for. It is a custom artefact. One that takes countless hours and many years of patience and hard work to craft. If Miss Weasley’s financial situation endangers her ability to play, then it may be better to not have her play to begin with.”</p>

<p>Her look softened. “I’m not suggesting Miss Weasley isn’t going to play. I’m suggesting that I recommend to the Wizengamot that Miss Weasley at least have a plan for her future career before we grant that special permission. And in the meantime, I’m sure you can find someone among all the rich buggers up there who’ll agree to sponsor her.”</p>

<p>Up in the Visitor’s Gallery, the collective rich buggers of Magical Britain all looked at each other, as if to say, “<em>GIVE</em> money away? Who, me? I’m pretty sure she’s talking about you.”</p>

<p>“Your honour?” Bill Weasley raised his hand again. “Actually, I may have a solution to this. I didn’t come here just to dump the problem in your lap.”</p>

<p>Madam Bones raised an eyebrow. “Go on.”</p>

<p>“Our friends at Le International Association de Quidditch may be able to help.” He nodded towards the two French representatives on the far side of the room.</p>

<p>In a terrible mixing of metaphors, Mister Weasley felt the other shoe drop out of his stomach as the gruffer-looking official of the two got to his feet.</p>

<p>Henri Delacour nodded to Bill Weasley. “It is so,” he began in a thick French accent. “Monsieur Weasley spoke with us about this before the hearing. We are all very impressed with Mademoiselle Ginevra. We would be happy to offer her a sponsorship.”</p>

<p><em>Which would no doubt come with so many strings attached, Ginny might well spend more time in France than England!</em> Mister Weasley fumed in the privacy of his head. <em>She might even have to go to Beauxbatons!</em> Though he doubted anyone here would care so long as she played for England. Suddenly, Bill’s play made a lot more sense. He was trying to take Ginny away from the family so he could influence her! France <em>was</em> one of the countries Bill had spent a lot of time in since leaving Hogwarts.</p>

<p>“That…” Madam Bones looked surprised. “Might work… And your government would be happy with this arrangement? Sponsoring of private individuals for cultural purposes is something the British Ministry has always been firmly against.”</p>

<p>“Absolutely, Votre Honneur.”</p>

<p>Up in the gallery, the nobility of magical Britain were looking between each other as if to ask, “Can you see any catches? Get the Frenchies to pay for our Quidditch star? Sounds like a bargain.”</p>

<p>“Then I don’t see any reason not to move this matter forward,” Madam Bones said in a tone of voice that suggested she was going to start wrapping up. “Does anyone <em>else</em> have anything to add?”</p>

<p>“Yes,” boomed a voice that echoed all around the room, despite the room having no normal echo. “I do.”</p>

<p>All heads turned to the door leading to the other hearing room.</p>

<p>To the shock of everyone, except maybe the now smug-looking Ginny, it was Lord Slytherin.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Up in the gallery, John Potter was very confused. It was his brother! But… but Harry was supposed to be at the basilisk hearing, wasn’t he? Had he slipped out? No, that would have been really dumb. Harry just vanishing and Lord Slytherin turning up a minute later would be suspicious as all hells.</p>

<p>It had to be Polyjuice! Yeah, that was it. Or ageing potion. Or someone had just slipped on the green and black mask.</p>

<p>Whatever it was, there was no way this Lord Slytherin was Harry.</p>

<p>“Yes, thank you for that dramatic entrance, Lord Slytherin,” Madam Bones said rather acerbically to the suddenly deathly quiet room. “Before you go on, could you please verify you are who you say you are?”</p>

<p>A ring was produced from beneath a gloved hand.</p>

<p>John’s jaw hit the floor. Even from this distance, the ‘feel’ of a genuine noble house ring could not be denied.</p>

<p>A court clerk inspected the ring up close and gave Bones the nod. “It’s real, your honour.”</p>

<p>“Well, then,” Bones said. “Say your piece, Lord Slytherin.”</p>

<p>John’s mind raced. It really was Harry. But that meant that Harry wasn’t at the Basilisk hearing. So who was at the other hearing? Hadn’t he had to show his noble house ring there as well? Maybe he hadn’t. But, no. That was also dumb. Harry couldn’t assume that he wouldn’t have to show his Potter ring and getting caught trying to deceive the judges would be very, <em>very</em> dumb.</p>

<p>John jerked to his feet. His heart was beating so fast he didn’t even catch his brother’s words as he started to speak.</p>

<p>He had to do something. This might be what Virgo needed. Her plan was to put Harry in a politically dangerous situation and then reveal his identity as Lord Slytherin when he was weakened. This could be the weapon that would do the job!</p>

<p>As John shoved and elbowed his way through complaining magical nobility to get to the door, one thing stuck in his mind.</p>

<p>Assuming that Harry <em>had</em> been at the Basilisk hearing, how the hell had he slipped out without anyone noticing?</p>

<p style="text-align: center;"> — DPaSW: TGS —</p>

<p><em>Five minutes earlier</em></p>

<p>Ginny Weasley was so angry someone watching might have assumed her red face and red hair were a lit bonfire. Bill was always getting in the way! Not even Mum was objecting to her playing Quidditch anymore. But here was, oh-so-important-and-big-for-his-boots, Bill William Weasley, sticking his nose where it wasn’t wanted!</p>

<p>If John got a knee shoved up down there, then Bill was begging for a nasty hex or three. Ginny knew some pretty impressive hexes now.</p>

<p>Seriously, when Harry heard about this he was going to throw a fit!</p>

<p>Ginny thought about that last thought for a moment.</p>

<p>Okay, so he wouldn’t actually throw a fit. Harry wasn’t the sort of boy to throw fits. He was far too amazing for that. Even having seen all his flaws from the hate potion that she’d been dowsed with earlier in the year, she still knew Harry was unique, one-of-a-kind, <em>her</em> Harry. If anything, the hate potion had merely highlighted those things about him she really liked.</p>

<p>Harry wouldn’t throw a fit.</p>

<p>He’d carefully plan a suitable revenge and when the moment was right, he’d strike.</p>

<p>He might even use his best witch for the job.</p>

<p>In fact, Ginny thought, she’d go out of her way to make <em>sure</em> Harry used his best witch for the job. By which of course, she meant herself. Whatever revenge Harry planned for Bill, she wanted to be in on it.</p>

<p>This was just too much.</p>

<p>Stupid Bill!</p>

<p>Ginny was interrupted from her thoughts as a flushed looking Hermione knelt by her side and thrust a small note into her hands, then dashed back out.</p>

<p>She quickly read the note.</p>

<p><em>Make a call for the bathroom, immediately.</em></p>

<p>Ginny burned the note with a flame from her finger and stuck up her hand while Bill was in the middle of explaining exactly all the places the Weasley family got its lack of money from.</p>

<p>“Yes, Miss Weasley?” Judge Bones asked.</p>

<p>A few moments later Ginny was making a dash for the bathroom after having walked out of the hearing room as nonchalantly as she could manage.</p>

<p>Finding the little witches room, she hastily ducked inside.</p>

<p>“Psst,” said an empty corner by the last stall.</p>

<p>Ginny ducked under the invisibility cloak to find Hermione already there.</p>

<p>“I don’t have much time,” Ginny whispered fiercely.</p>

<p>“Harry doesn’t either. Look, here’s what you have to do…”</p>

<p>A minute later, Hermoine ducked out from under the invisibility cloak, wearing Ginny’s clothes, her shoes, her body, and her face. The muggleborn witch strode confidently towards the door back towards the Quidditch hearing.</p>

<p>Ginny meanwhile, was left under the cloak, wearing… nothing.</p>

<p>Nothing except Harry’s body.</p>

<p>It was never easy being Harry. Being a naked Harry was worse. And being a naked Harry while her mind was still a girl with a crush steaming towards puberty, was the worst of all. Harry had definitely grown since she’d last taken his Polyjuice as well.</p>

<p>No! Bad Ginny!</p>

<p>Ginny smacked herself lightly under the cloak and focused on the task in hand. She knew she was Harry’s best witch, but now she had to actually prove it.</p>

<p>The time they’d spent in the Animagus ritual hadn’t been wasted.</p>

<p>Creeping out of the bathroom, Ginny stalked down the corridor meeting no opposition along the way.</p>

<p>The only problem she’d have would be the closed door to the Basilisk hearing.</p>

<p>Lucky! Someone was leaving the room just as she arrived.</p>

<p>Oh.</p>

<p>A witch with dirty blonde hair and a dreamy smile held the door open long enough for Ginny to slip through.</p>

<p>“Miss Lovegood?” Judge Longbottom called out.</p>

<p>“I need to pee, your honour.”</p>

<p><em>Thank you, Luna</em>, Ginny thought as she passed into the room, trying not the think about the fact that ‘Harry’ was now naked—and doubled—in the middle of most of Wizarding Britain’s nobility.</p>

<p>And not a moment too soon.</p>

<p>Just as the door closed behind Luna, Harry started pulling his formal robes over his head.</p>

<p>“Heir Potter, now! What are you doing?”</p>

<p>“Please, your honour, it’s quite hot in here,” came Harry’s voice, muffled through the thick fabric.</p>

<p>Ginny was presented with a moment in time when the pull of Harry’s robe up his body also pushed up the muggle top he had on underneath, exposing a slice of the skin of his back.</p>

<p>She only had one chance to get this right.</p>

<p>Sitting back down as though in a chair, Ginny fired a special and highly skilled version of the wandless switching spell from her hand right at Harry’s back. One that had taken her many months of practice to achieve.</p>

<p>For a fraction of time, the world seemed to still for Ginny Weasley.</p>

<p>Then the spell connected with Harry’s back and Ginny felt the jolt as the spell caught. Ginny’s world went from translucent and light to instant darkness.</p>

<p>More importantly, she was suddenly wearing clothes. Boy clothes. From the top of her chest to the shoes and socks on her feet. Plus, of course, the robe. She was also sitting down in a chair, not slowly falling backwards into thin air.</p>

<p>Success.</p>

<p>Hah! Take that Black!</p>

<p>“Heir Potter, formal robes are required during formal hearings,” Madam Marchbanks’s voice said sternly. “Please stop undressing. It doesn’t matter if you have muggle clothes on underneath. If you are hot, I suggest de-muggling yourself during break. In the meantime, please behave yourself.”</p>

<p>“Sorry, your honour,” Ginny said, quickly pulling her robes back down so that Harry’s face was once again visible. She smiled a cheeky smile. “Didn’t mean to interrupt.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Sitting only a few chairs down, Dumbledore felt the hairs on the back of his neck stand on end. Felt the tingling of unique magic being used somewhere nearby. He looked around, trying to pinpoint it.</p>

<p>He was <em>sure</em> he wasn’t imagining it.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Thank you, Ginny!</p>

<p>Harry felt his heart beat hard in his chest as he floated up to the visitor’s gallery under the invisibility cloak.</p>

<p>No one else could have pulled that off. No one. Merlin, she was a special one. And damn it all, he was going to do whatever it took to make sure she’d be his. Forever. Whatever it took to get that damn signature from his father on the parchment even now still folded up in his pocket — waiting for that perfect moment.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>There it was again.</p>

<p>Dumbledore frowned.</p>

<p>Or maybe something else? Something familiar…</p>

<p>Maybe?</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Whoooops!</p>

<p>Harry quickly ducked behind the railing as Dumbledore’s gaze swept the visitor’s gallery.</p>

<p>Bit of a risky move that. Good thing the room was so rich in magic from all the enchants and other magicals that trying to trace a particular source would be like trying to taste a can of soup in a swimming pool.</p>

<p>Still, there was no denying that Dumbledore <em>was</em> good.</p>

<p>Best make himself scarce.</p>

<p>But not before grabbing something he’d need first.</p>

<p>Harry made his way over to the edge of the gallery to find his target.</p>

<p>A minute or so later, a flush-faced Headmaster Gilderoy Lockhart was jogging alongside Lord Slytherin, now fully clothed, who was not jogging, but floating fast enough to make no difference, towards the Quidditch Hearing room.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“Does anyone <em>else</em> have anything to add?” Madam Bones asked the room, looking around to make sure that this time, everyone truly was done.</p>

<p>“Yes,” boomed a voice that was far too theatrical. “I do.”</p>

<p>All heads turned to the door leading to the other hearing room.</p>

<p>To the shock of everyone, except maybe the now smug-looking ‘Ginny’, it was Lord Slytherin.</p>

<p style="text-align: center;">— End of Chapter Eighty-one —</p>
