Chapter 82 - The Gray's Secret - Chapter 9

<p>John Potter quick-stepped down the stairs that led to the Basilisk hearing. He had to tell Virgo about this!</p>

<p>Finding the door to the chambers, he pushed it open just as Neville’s grandmother was asking for clarification on some order of events between the beginning of Hogwarts’ lockdown and the cornering of the basilisk in the Ravenclaw Common Room.</p>

<p>“Hey, boy,” one of the clerks said in a harsh undertone, blocking his way. “You can’t—oh.” The man’s eyes widened in recognition.</p>

<p>“Yes, oh,” John replied, mockingly. “<em>This</em> boy is the boy-who-lived.”</p>

<p>“Err… sure, but if you want to communicate to one of the witnesses, you’ll have to write them a note. Sorry, Mister Potter, but them’s the rules.”</p>

<p>John cursed under his breath. “Fine. Fetch me parchment and a quill.”</p>

<p>A few minutes later, he had his note written and was darting over to Virgo, keeping an eye on ‘Harry’ all the while. Who was who, exactly? He couldn’t tell from the outside.</p>

<p>Virgo’s face broke into a slow, wide, and moderately creepy grin when she saw him.</p>

<p>Not wanting to trigger any of the more unusual behaviours she’d been exhibiting recently, he quickly gave the pretty Malfoy girl the note and stepped back.</p>

<p>“And that’s when I stabbed the basilisk with my sword, your honour,” ‘Harry’ continued.</p>

<p>John watched Virgo read the note with a frown.</p>

<p>The note had read, ‘LS is at Ginny’s hearing now!’</p>

<p>Virgo met his eyes, then her eyes travelled to ‘Harry.’</p>

<p>Looking back at him, she shook her head in clear refutation.</p>

<p>John let out a growl of frustration.</p>

<p>He quickly wrote another note and passed that over.</p>

<p>‘It is him! He showed his noble house ring!’</p>

<p>This time Virgo’s eyes widened. She shot him an incredulous look before looking towards where ‘Harry’ was still giving testimony.</p>

<p>Then her eyes travelled around the table.</p>

<p>John saw Daphne Greengrass staring with intense focus at the pair of them.</p>

<p>When Virgo’s eyes fell on her, the Greengrass heiress shook her head at Virgo before stabbing her quill into the tome sitting on the table in front of her, which just happened to be black and leather bound. The quill had been enchanted strong enough that the tip penetrated the book and stayed embedded when the girl let go. A clear warning for anyone who knew Virgo’s history. And of course, Daphne Greengrass, being betrothed to Harry—Merlin it made his blood boil every time he thought of it—obviously she’d believe the story that Harry told her — that Virgo didn’t just have the dark lord’s memories, but that she actually <em>was</em> the dark lord. Slytherin’s ice princess was using the diary as a metaphor for what they’d do to her if she decided to expose whoever was sitting in for Harry right now.</p>

<p>But John was sure there was no way Virgo was going to let that scare her off. This was the perfect opportunity to expose Harry and destroy the Gray’s political situation!</p>

<p>Right?</p>

<p>Right?!</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Up in the basilisk hearing gallery, Rita Skeeter watched the byplay between the parties below with a growing frustration. There wasn’t anything juicy here! She needed something big. Something scandalous! If only something more <em>theatrical</em> would happen!</p>

<p>Maybe she should check on the Weasley girl’s hearing? But no, surely they’d be little of interest there. If anything headline-worthy was going to happen, it had to be here!</p>

<p>Deep in the pocket of the reporter’s robes, the locked box—containing the dual secrets of Harry’s identity and his status as a time traveller, depending on which magical key was used—sat, waiting.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Back in the quidditch hearing room, Hermione, currently disguised as Ginny Weasley, sat up straight in her chair as Harry, with Headmaster Lockhart trailing behind him, announced himself and proved his identity.</p>

<p>“Well, then,” Bones said. “Say your piece, Lord Slytherin.”</p>

<p>“Your Honour, I understand our colleagues at the International Quidditch Association have volunteered to take on the financial burden of our indomitable Miss Weasley,” Slytherin’s voice boomed around the room.</p>

<p>“La International Association de Quidditch,” one of the French official’s corrected, apparently unable to help himself.</p>

<p>“Obviously, we’re very grateful to them for this, but I’m happy to say that this won’t be necessary.”</p>

<p>“Oh?” asked the other French official with a raised eyebrow — Mister Delacour, Hermione remembered his name was. “Why iz zat?”</p>

<p>“Because!” said the Headmaster, practically jumping forward at a nudge from Harry. “Because, I, Gildery Lockhart! Order of Merlin, third class, Headmaster of Hogwarts, honorary member of the Dark Force Defence League, best-selling author, and five times winner of Witch Weekly’s Most Charming Smile award, am ecstatic and honoured to announce that as of next year, Hogwarts will be offering scholarships to worthy students in many fields of study, one of which will be sports, and that the first recipient of this scholarship will be none other than our most talented, Ginny Weasley!” He finished with a boom of his own, pointing straight at Hermione.</p>

<p>The gentry in the gallery broke into polite applause.</p>

<p>Madam Bones pursed her lips. “Well, this is—”</p>

<p>“—But that’s ridiculous!” Bill Weasley interrupted her, jumping to his feet.</p>

<p>“Mister Weasley, you are out of order!” Bones snapped, banging her gavel on the desk. She waited for the hubbub to die off before speaking again. “Now, what is ridiculous about this?”</p>

<p>“Hogwarts has never offered scholarships for anything! It says so in Hogwarts, a History!”</p>

<p>Hermione nodded. It did indeed say that in Hogwarts, a History.</p>

<p>“The trust that governs Hogwarts specifically bans it, to avoid favouritism of students by the staff and faculty! So the money must be coming from somewhere else and there’s only one place it could be coming from!” William pointed viciously at Harry, standing tall and silently in the visage of Lord Slytherin. “It’s coming from him! He keeps corrupting my family and he wants to corrupt my sister, too!”</p>

<p>“Nonsense, dear boy,” Lockhart boomed with a chuckle. “This scholarship has been in the works for months!”</p>

<p>“What do you mean, ‘he keeps corrupting your family'?” Bones asked with a raised eyebrow.</p>

<p>Bill hesitated.</p>

<p>Hermione smirked. No doubt the oldest Weasley son was talking about the business dealings ‘Lord Slytherin’ had with the twins. Though why he’d object so strongly was a puzzle she wanted to solve. Whatever the reason, he couldn’t admit to the dealings of Lord Slytherin with his brothers without undermining his own argument that Ginny needed external financial support.</p>

<p>“…I mean that the Quidditch Association is a public organization,” he eventually said, slowly, as though thinking hard about each and every word. “While Lord Slytherin is a private individual—”</p>

<p>“La International Association de Quidditch.”</p>

<p>“—So, if Ginny accepts this scholarship, she will become a guaranteed tool in the hands of capital. She will be corrupted by the bourgeoisie and that is why she should accept the offer from… La international Association de Quidditch. It is the morally correct thing to do.”</p>

<p>Up in the gallery, the gentry of Magical Britain were looking very confused.</p>

<p>Hermoine scrunched up her brow in thought. She felt like she should know what Bill was talking about, but for the life of her, she didn’t. It was like she was grasping for something she’d once vaguely known about a long time ago, but couldn’t quite put her finger on. Something muggle?</p>

<p>Surprisingly, or perhaps unsurprisingly for Hermione, it was Harry who blew the cobwebs away.</p>

<p>Lord Slytherin spoke into the confused silence of the hearing room. “I see you’ve also read Das Kapital.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Bill Weasley could scarcely believe his ears. He stared in dumbfounded astonishment at the mysterious Lord Slytherin.</p>

<p>In all his time travelling the Wizarding World, the number of people he’d met who’d even heard of the muggle whose ideas had so swept through the mundane world in the last hundred years could be counted on the fingers of a double amputee.</p>

<p>He <em>never</em> thought that he’d find one here in Magical Britain. And he <em>certainly</em> never thought that it would be the masked lord of the Gray who’d be the one to break the pattern.</p>

<p>A kind of wild hope bloomed in his chest. “You’re a fan?” he blurted out. Suddenly many things about Lord Slytherin might make a lot more sense. The masks. The secrets. The conspiracy. Was the wizard secretly a follower of Marxist theory? Was he leading an underground revolution? Was the Gray a power play to destroy the aristocratic bourgeoisie and lead the proletariat towards a glorious magical future?!</p>

<p>“No.”</p>

<p>Bill Weasley’s hope shattered.</p>

<p>Lord Slytherin looked towards the Gallery. “The philosophy our young man espouses is broadly similar to that espoused by Light Lord Dimwiddy,” he said, his voice raised for the benefit of those at the back. “Except that while Dimwiddy led a revolution based primarily on blood, this philosophy pits those who work against those who provide the means to work.”</p>

<p>“Marx is nothing like Dimwiddy!” Bill Weasley shouted. “That’s a false equivalence.”</p>

<p>Several lords in the gallery started to jeer.</p>

<p>“So, he’s a Dimwiddy extremist?” Bones said woodenly.</p>

<p>“It’s not a perfect comparison,” Lord Slytherin admitted, “but it’s close enough.”</p>

<p>The jeering started to get louder.</p>

<p>“Right!” Bones banged her gavel down on the desk. “I want him out of my courtroom.”</p>

<p>Several clerks seized Bill Weasley by the shoulders and started to drag him out, protesting and shouting all the way, until one hit him with a silencing charm.</p>

<p>After that, things went a lot more smoothly. The French officials, though annoyed at having the new quidditch phenom snatched from their care, gave up pushing when they saw just how unhappy the Wizarding aristocracy behind them had become. Madam Bones wrote up the recommendation to the Wizengamot for Ginny’s immediate accession to the England National Squad. And Ludo Bagman managed to get Bones to include another recommendation that the National Duelling Team also be included in the vote to allow ‘underage phenoms’ to join their ranks.</p>

<p>It wasn’t until quite a bit later, when the hearing was just breaking up, that Hermione watched Alex of all people bolt into the room with a hastily scrawled note in hand.</p>

<p>Lord Slytherin took the note and read.</p>

<p>A few minutes later, she, Alex, and Harry were all ensconced in a magical trunk, hiding under the invisibility cloak in the locked stall of a girl’s bathroom.</p>

<p>Apparently, Ginny’s ability to perform the role of ‘Harry’, when pushed by outside forces, wasn’t quite as perfect as she, Hermione, had hoped.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Placing his wand on the unresisting Alex’s forehead, Harry, having de-aged from Lord Slytherin when the latest potions ran out, drew out a silvery strand of recent memory. Waving his wand in an intricate pattern, he deposited the strand into the pensieve that sat at the trio’s feet. “There we go,” he declared. “Now, let’s see just how bad the damage is.”</p>

<p>He watched Hermione and Alex pitch themselves forward and vanish into the magical artefact. Following them, Harry landed lightly next to the girls. Looking around, he found the Basilisk hearing room looking pretty much the same as he’d left it not that long ago.</p>

<p>Hermione groaned as she got to her feet. “I’ll never get used to that.”</p>

<p>Harry spotted Past Alex in the gallery above, watching the proceedings with utter focus.</p>

<p>“There,” said Current Alex, pointing to the door, just as it burst open and John darted inside, waylaid a moment later by one of the clerks.</p>

<p>He watched the interplay between John and Virgo, even if the memory didn’t give him the power to read the notes they passed back and forth. But it wasn’t hard to imagine what the note had said. John had likely been spooked seeing Lord Slytherin in the Quidditch hearing. Interesting that he seemed to be deferring to Virgo now.</p>

<p>Watching Virgo look meaningfully towards the Harry that sat at the U-shaped hearing table—who was actually Ginny now—and then back at John before shaking her head, Harry suddenly realised something else, like a thunderbolt from an open sky.</p>

<p>Hermione looked over Virgo’s shoulder, trying, and probably failing, to read whatever was on her parchments. “So, John told Virgo about Lord Slytherin being at the other hearing,” she surmised. “And Virgo knows about Harry being Lord Slytherin, so she tried to expose the fake Harry?”</p>

<p>“Not only that,” Harry said. “John knows I’m Lord Slytherin, too.”</p>

<p>“What?!” Hermione practically shouted into the mostly silent, but still mostly full hearing room. The business of the day carried on as though she weren’t speaking loudly over everyone else.</p>

<p>“I should have expected it,” Harry groused. “I keep treating Virgo like she’s Lord Voldemort. I need to stop that. The way she looked at Ginny just then. It would be the most likely cause.”</p>

<p>“So, John knows you’re Lord Slytherin? Why hasn’t he told anyone?”</p>

<p>Harry shrugged. “Maybe he has. But Virgo seems to have him on quite a tight leash. Though it does mean we should move our schedule up again, just in case. Now, look there.” he nodded towards the memory of Daphne who was now catching the eye of Virgo before stabbing her book with a quill.</p>

<p>“I saw that,” Alex chipped in. “But I wasn’t sure what was going on.”</p>

<p>“Daphne was warning her,” Harry supplied. “Telling her to back off and not do anything rash. Remember, Virgo has dirt on us, but we also have dirt on her. If we chose to, we could destroy each other.”</p>

<p>“You think she’ll listen to that?” Hermoine asked, biting her lip. “She is kinda mad.”</p>

<p>“Lord Voldemort was many things, but above all, he was a survivor. The lengths he went to stave off death were further than anyone has ever gone. If someone put a metaphorical gun to his head, he would comply. He might be angry, furious even. He would certainly plot revenge later, but in the moment, he would do what was needed to ensure he wouldn’t die.”</p>

<p>Alex looked up at him incredulously. “I thought you just said you should stop thinking of Virgo as Lord Voldemort?”</p>

<p>Harry paused. He had said that, hadn’t he? “Thank you, Alex,” he said before staring back at the memory of the darklord-muggleborn-and possibly house-elf combo, if the Malfoys hadn’t been able to do anything about Dobby, that was. “She’s a lot more unpredictable than I give her credit for,” he continued. “So, what happens next?”</p>

<p>“I think it should be coming up soon,” Alex said. “Yes, there we are… just after this next question…”</p>

<p>During their conversation, Virgo had been writing a note. After it was finished, she handed it to John, who talked his way through the clerks to hand the note to Madam Longbottom.</p>

<p>“Is that allowed?” Hermione asked, incredulously.</p>

<p>Harry shrugged. “Many investigations include backroom talk. What happens on the floor is public record. But there’s always dirty little secrets or inconvenient truths that the judges would like to know about in confidence. Ginny’s not actually been exposed, or we’d be in full crisis mode, not casually watching a pensive memory, so whatever that note said, it wasn’t that the Harry sitting at the table is a fraud.”</p>

<p>Madam Longbottom took the note, read it, and adopted a thoughtful expression.</p>

<p>“But what <em>is</em> Virgo doing?” Hermione asked. “Isn’t she afraid we’re going to expose her secret?”</p>

<p>Harry pursed his lips. “Depends on what she’s doing. Mutually assured destruction only works as a deterrent if the other side is confident you’re willing to really throw everything you have away. Doesn’t work so well if what you’re losing is anything less than total.”</p>

<p>The hearing then continued on before Madam Longbottom asked <em>the</em> question that had clearly been prompted by Virgo, if the way the judge was holding the note was any indication.</p>

<p>“Mister Potter,” Judge Longbottom addressed Ginny, the stuffed vulture on her hat staring down at ‘him’. “You’ve told us your contingency plans for defeating the basilisk, many of them quite thorough, I might add, but what exactly would you have done if none of them had worked? What if the beast had continued to roam the halls of Hogwarts by the time the magic fuelling the ancient siege wards gave out and failed. What then?”</p>

<p>Harry, now standing behind the memory of Ginny, winced. The correct answer to this question would be to stall. To deflect. To insist that the measures they’d put in place were more than enough, as they had proven, and that such speculation wasn’t relevant to this enquiry.</p>

<p>He’d prepped Ginny for this hearing as much as he could in the time they had, but you couldn’t plan for everything. Daphne would easily handle this question, and indeed, the way his first betrothed was desperately trying, and clearly failing, to signal Ginny with her eyes indicated she wanted to. Luna wouldn’t have any issue, either. Hermione might get the right answer. Alexandra… it was a coin toss.</p>

<p>But Ginny, while being amazing in many ways, was not a political animal. She needed the most prep and the most support.</p>

<p>And so her answer to this question would likely be what he, Harry, had always told her she should do if she encountered a situation she knew she couldn’t handle.</p>

<p>“I’d inform Lord Slytherin,” ‘Harry’ said, simply.</p>

<p>Harry nodded. And now the inevitable follow-up…</p>

<p>“And what would Lord Slytherin do?”</p>

<p>“Errr…” ‘Harry’ suddenly looked a lot less certain.</p>

<p>What happened next was an embarrassing flailing around on Ginny’s part. She tried to come up with stuff on the fly, got attacked and counter-attacked rather inelegantly, got bailed out twice by Daphne, and once by Daphne’s mother, but ultimately failed to take the hint that she should just declare ignorance and refuse to elaborate.</p>

<p>It was pretty bad.</p>

<p>By the time Daphne finally got a note written and given to Ginny via Alex, telling the quidditch phenom what to do in no uncertain terms, much of the room now seemed rather less than impressed with Slytherin’s protege.</p>

<p>As the memory ended, Harry, Alex, and Hermione fell upwards out of the pensieve, back into the stall in the girl’s bathroom.</p>

<p>“That was awful!” Hermoine practically wailed, the moment Harry made sure they had silencing charms up. “Now everyone thinks you don’t prepare for Wizengamot meetings! They think you’re like some silly child! They might not take you seriously! This is terrible!”</p>

<p>“Shh, hush, Hermione.” Harry pulled Hermione into a hug. “It’s okay. Don’t worry.”</p>

<p>“But what are we going to do?!”</p>

<p>Harry pushed back so Hermione could get a good look at his face and it was only then that Hermoine clearly realised that he didn’t seem that upset. In fact, he was grinning.</p>

<p>“Harry? Why are you smiling?”</p>

<p>Harry continued to grin. “Alex, why don’t you take a guess?”</p>

<p>Hermione Granger could be quite ruthless in her own way, but only once she’d let the flames of righteousness grow for a time. Alexandra Black, on the other hand, idolised ruthlessness as an ideal state, even if she occasionally had to work at it.</p>

<p>The Black Heiress grinned at Lord Slytherin. “Revenge?”</p>

<p>Harry chuckled. “Close enough. We can’t expose Virgo without triggering our mutually assured destruction scenario.” He grinned. “But now that she’s attacked us like this, there’s no reason at all we shouldn’t engage in some quite profitable tit-for-tat.”</p>

<p style="text-align: center;">— End of Chapter Eighty-two —</p>
