Chapter 83 - The Gray's Secret - Chapter 10

<p>Just outside the first Wizengamot room, still playing host to the remnants of the Quidditch hearing, milling about and discussing how thoroughly England was going to hand everyone else’s arse to them in the upcoming world cup, Rita Skeeter darted through the small packs of lords and ladies, careful not to step on anyone’s toes, literally or metaphorically, while she focused her attention on the door to the room beyond.</p>

<p>Why hadn’t anyone told her Lord Slytherin had appeared for the girl’s hearing!? Of all the times to be in the wrong place, this was the worst.</p>

<p>“Opps, excuse me,” she said, nearly bumping into Lord Lovegood before gripping the door and ripping it open.</p>

<p>The room beyond was mostly empty, almost all the occupants having cleared out by now.</p>

<p>Damn it!</p>

<p>She needed her story!</p>

<p>Leaving the hearing room, she huffed to herself before marching back down the corridor in the direction of the ministry cafeteria. After that abject failure, she needed a pick-me-up.</p>

<p>If only there was someone she could interview who could give her some worthwhile dirt. On who specifically didn’t matter. All that mattered was that the dirt was juicy.</p>

<p>So focused was Rita on her march towards the refreshments, that she completely failed to notice the brief moment of time when John Potter was turning the same corner she was, heading in the other direction.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Damn it all!</p>

<p>John Potter fumed as he stormed down the corridor, not sure exactly where he was going, but that didn’t matter. It was the storming that was important.</p>

<p>He’d been so sure that Virgo would have taken that clue he’d given her and run with it. But apparently exposing Harry directly would be ‘risking their secrets’ since Harry knew many of them. John supposed that made sense, but still! He wanted the world to know Harry’s secret identity so badly! Wanted to watch his brother flail around as everything Harry had done to him reversed and the little snake saw all he’d tried to accomplish come crashing down around him.</p>

<p>Harry didn’t deserve any of the stuff that ‘Lord Slytherin’ had. That was all his!</p>

<p>He shook his head in frustration.</p>

<p>Every time he thought he was over Ginny, something else seemed to pop up to kick him back down again. That made him remember the girl that had once loved him. To say nothing of Hermoine. She was looking better and better by the day and it just made no sense to him. She’d never put that much attention into her looks in the last timeline! If she had, John might have made moves on her at the Yule Ball!</p>

<p>Harry didn’t deserve them.</p>

<p>That was his right! He was the boy-who-lived!</p>

<p>That little part of John that hunched in the darkness, terrified that anyone would discover that he wasn’t the one Voldemort had targeted as a baby, reared its ugly head and sent a shiver down his spine.</p>

<p>John swallowed.</p>

<p>So, he might not be the boy-who-lived, but at least he was the chosen of Fate and Death! Champions of the higher powers didn’t come along often in magical history. He slowed down in the corridor to catch his breath. He hadn’t realised how fast his heart had been beating.</p>

<p>Okay, so perhaps Virgo was right. The history of the champions of higher powers was littered with cautionary tales. Attention on those individuals blessed with missions from the personifications of magic rarely came without cost. It was just so frustrating!</p>

<p>He needed to find a way to get back at Harry. Somehow! Everyone else was being too cautious. Too political. John had been raised a political animal by his father, but even he had his limits.</p>

<p>He needed something…</p>

<p>Looking around, John suddenly realised that he didn’t know where he was. He’d been marching in any old direction he felt for so long that his wanderings had taken him somewhere he’d never been before. The ministry wasn’t nearly as maze-like as Hogwarts, or the side streets of Diagon Alley, but directionality still wasn’t obvious for anyone who didn’t make their living here.</p>

<p>Ah!</p>

<p>John spotted a cleaning wizard, wearing dusty grey robes that looked purpose-made for getting grubby. He was even holding a broom. An actual broom. Not a flying one.</p>

<p>“Excuse me,” John said, walking up to the man.</p>

<p>The man smiled as he approached and John was further reassured that he was, in fact, a cleaning wizard.</p>

<p>“I’m looking for the Wizengamot. I just came from there, but I appeared to have lost my way. Please direct me there.”</p>

<p>“Ah, yes,” the cleaning wizard said with another smile. A reassuring one. One you could easily trust. “I’ll show you exactly where you need to go, Mister Potter.” The man then turned and starting making his way down the corridor, continuing the path that John had already been on.</p>

<p>John beamed. What luck! Now he’d be going exactly where he needed to go.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Back in the hall, Virgo looked around in annoyance. Where was John? He should be here. He should be here with <em>her</em>. He should <em>always</em> be with her.</p>

<p>Just then, ‘Harry’ put up his hand and requested leave to use the bathroom.</p>

<p>Virgo nodded to herself. They were going to do the switch. Very good. She’d manage to cause quite a bit of chaos while the imposter had been taking Harry Potter’s place. Not nearly enough to endanger herself, she wagered, but enough to weaken Lord Slytherin’s position, should it become known that he was Harry Potter.</p>

<p>Excellent.</p>

<p>The question was, would Harry do anything in retaliation? And if he did, how bad would it be?</p>

<p>Virgo watched the time traveller return from the bathroom and then watched him get reconfirmed as Heir Harry Potter by the clerk before he was allowed to re-take his seat.</p>

<p>It didn’t take long for Lord Slytherin to make his move.</p>

<p>Virgo watched as the muggleborn girl was used to pass a note to the judge, just the way she’d done with John. Who <em>still</em> wasn’t back yet!</p>

<p>Not long after that, came the question.</p>

<p>“Miss Malfoy,” began Madam Longbottom, the stuffed vulture now staring down at her instead of at Potter. “You’ve told us how you paired with Dumbledore to gain entrance to the castle, before lords Lovegood, Greengrass, and Black found you, but the report here says that you arrived at the entrance first and that Dumbledore found you afterwards. What exactly were you planning to do once you’d gained entrance to the castle if your suspicions that the monster was a basilisk had turned out to be true?”</p>

<p>Virgo cleared her throat. Annunciating every word carefully to make sure she didn’t accidentally slip into house elf speech, she made her reply. “Your honour. When I gained my animagus, I read a story about how parseltongue can control the actions of snakes. My experience gaining access to some secret passageways in Hogwarts confirmed this to me. Many of the passageways are guarded by carvings or statues of snakes. I hoped that I could control the actions of the basilisk, rending it harmless to the students.”</p>

<p>The Judge stared down at her. “Ah, yes. I have your formal animagus registration form here. It says you achieved you form first in March.”</p>

<p>“Yes, your honour.”</p>

<p>“After the chamber was already opened.”</p>

<p>“Correct, your honour.”</p>

<p>Up in the gallery, some members of the wizarding aristocracy, many of them former Slytherins, were making the same connection that Madam Longbottom clearly had—that the ‘first achieved’ date on an animagus registration form could be easily doctored and didn’t have to reflect reality. There was no way to prove if Virgo had been the mysterious figure leading the attack on her fellow students, and there likely never would be. That one of the attacks had been on her own brother only made the play more audacious. To those that made the connection, there was no doubt this girl would become a formidable force in Magical British Politics.</p>

<p>“Can we get an expert on the matter down here?” Madam Longbottom called out. “Young Edgar! Could we prevail upon you, please?”</p>

<p>Lord Nott grumbled at the casual use of his first name in the chambers, but did make his way down the outside stairs and into the hearing area proper.</p>

<p>“How accurate are the rumours of parselmouths being able to control snakes?” Madam Longbottom asked.</p>

<p>“Very accurate,” Lord Nott replied. “100% correct.”</p>

<p>“So, Miss Malfoy could have succeeded in bringing the basilisk under control?”</p>

<p>“No, your honour.”</p>

<p>“Oh?”</p>

<p>Lord Nott looked over to where Virgo was staring at him intensely. “A parselmouth can only control a snake if the snake isn’t already under the control of another.”</p>

<p>“Fascinating. Okay, thank you, Edgar.”</p>

<p>Lord Nott winced, but did retreat without objection.</p>

<p>Up in the gallery, the same wizards who’d already drawn the conclusion about Virgo made another connection. This time, to the identity of the other new part-snake animagus that prowled the corridors of Hogwarts.</p>

<p>Harry smiled politely at Virgo, who just turned up her nose at him.</p>

<p>“Now…” Madam Longbottom curled her fingers under her chin. “My next question is this… How exactly did Miss Malfoy know the location of the entrance to the chamber of secrets in order to gain access to the chamber?”</p>

<p>Harry stilled. Oh dear. This was not a great question. This was a question that had the potential to completely expose Virgo, and thus, himself in retaliation. It wasn’t a question he’d specifically prompted the judge to ask. But would Virgo believe that?</p>

<p>Across the table, Virgo’s glare flashed daggers at him — so briefly that he suspected no one but him caught it.</p>

<p>Harry winced. As much as it annoyed him, he might actually have to step in to save Virgo here.</p>

<p>“Well?” Judge Longbottom demanded.</p>

<p>Harry was about to speak when someone else beat him to the punch.</p>

<p>“Your Honour?” Dumbledore said, speaking up. “I think I can answer that one. I appreciate Young Miss Malfoy here is hesitant to say, because she fears it might get her into trouble, but the truth is that she has been in possession of an artefact for a good amount of the year that has granted her an unparalleled knowledge of all of Hogwarts’ magical passageways and secrets.”</p>

<p>The Marauder’s Map, Harry thought. Not the solution he’d have gone with to get Virgo off the hook, but he had to admit it wasn’t a bad one.</p>

<p>Although the fact that Dumbledore of all people was willing to step in to cover for someone like Virgo, was troubling in the extreme. He’d have to pay more attention to any dealings between the two in future.</p>

<p>For now, part one of his tit-for-tat plan had gone off almost without a hitch. This was only the dueller’s hello. Now it was time for part two — the stunner in the shadow.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Up in the Gallery, Lord Malfoy watched the proceedings below with keen interest.</p>

<p>The Potter boy had floundered. Though he seemed to be back on form now. Odd. Almost as if he weren’t the same person. But that was impossible.</p>

<p>The Potter’s outcast son had been an enigma ever since his return. Not Lord Voldermot. Lord Malfoy was quite certain of that now, but still a mystery. But not so much of a mystery that he was going to start attributing feats to him that defied his understanding of magic.</p>

<p>Lucius knew he was no Dumbledore, but he was no magical slouch either.</p>

<p>That Harry Potter had floundered sent a signal to all present. That Slytherin’s protégé might not be as untouchable as they’d thought.</p>

<p>The boy had been starting to build a reputation.</p>

<p>That wasn’t to say he wasn’t still formidable for such a young child.</p>

<p>In many worlds, Lucius would have been positively eager to have him as a son-in-law, though he’d never show it, obviously.</p>

<p>In this world, he’d settle for having him merely as the brother of his son-in-law. Provided of course that James could be talked into agreeing to his terms for the betrothal contract between John and Virgo.</p>

<p>The man was stubbornly refusing to accept that John was no longer his heir. Constantly going on about how he’d find a way to make it right again.</p>

<p>That didn’t matter to him one merlin. The idea that the straight-laced and self-righteous James Potter would actually find a solution—seeing as most of the good ones involved organising ‘accidents’ sufficiently deniable enough to hoodwink the Albion— well… the simple truth was Lucius found the whole situation both amusing and convenient.</p>

<p>Yes, it would be even more convenient to have Virgo as the Lady Potter rather than just the wife of a branch house, but he was used to working around such things.</p>

<p>Though the thought of explaining everything to the Dark Lord when he finally returned did send rivers of sweat running down the back of his neck.</p>

<p>A part of him wondered if it might not be smarter to just leave Draco in the care of Lord Slytherin’s mini-minion gang, but he quickly squashed that thought. Getting Draco out of the hole he’d dug himself was a top priority. Perhaps even more so than planting Virgo as a Trojan Horse with the Light.</p>

<p>Still, the weakness showed by Lord Slytherin’s Protégé just now fascinated him. It opened the door to other possibilities. Such as the man himself perhaps not being quite as untouchable as many had started to believe.</p>

<p>Down in the hearing room, Madam Longbottom and her fellow judges started folding up books and putting away parchments. “Fifteen minute recess!” Madam Longbottom called out. “We start again at twenty past the hour!”</p>

<p>As the witnesses and gallery viewers all started getting to their feet and filing out—chairs scrapping on floors and the air filling with general babble—Lord Malfoy reflected on his many problems again. And how he might best solve them.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Wizengamot Hall was large and spacious. Marble, gold, silver and gems of all cuts and sizes were inlaid into finely carved statues that dotted the walls, from which wine, juices, and milk flowed like water.</p>

<p>While the Ministry of Magic was cramped and utilitarian, the Wizengamot’s workspace better reflected the tastes—or at least the aspirations—of Magical Britain’s ennobled aristocracy.</p>

<p>Hermione Granger swept across the floor of the large space leading off the Hearing Chambers, where most of Wizarding Britain’s aristocracy had chosen to take their break before the hearing concluded before lunch.</p>

<p>One might expect that a teenage muggleborn witch such as her would feel incredibly out of place in such august company, but Hermione was no ordinary teenage muggleborn witch.</p>

<p>Wearing a formal witch’s robe in Slytherin Green, she was indistinguishable from a child of any of the older men and women now standing around discussing the events of the day thus far.</p>

<p>Elegant hairstyle. Enchanted nails. A poise and form that left no doubt to the casual observer that this witch could carry a stack of books on her head, if she thought for even a second that would be a practical way of transporting such precious tomes of knowledge.</p>

<p>Three years ago, Charlotte Timberland had cut her teeth at such events at the tender age of just ten years old and while she hadn’t been perfect, Hermoine knew she’d performed a lot better than many would have. Certainly a lot better than that <em>other</em> version of her would have. The one that hung around <em>John</em> Potter, believing that the magical world was exactly the same as the muggle, just with more wizzes and things going bang. Ugh. The mere thought made her skin crawl.</p>

<p>Thank Merlin for Harry.</p>

<p>Hermione felt a slight flutter in her stomach at the thought of her best friend and recognised the feeling.</p>

<p>Biting her lip, Hermione mentally shook herself.</p>

<p>Now wasn’t the time.</p>

<p>She had a job to do.</p>

<p>A few minutes later found her in conversation with none other than Madam Longbottom herself after an introduction from Daphne’s father.</p>

<p>“So, you’re training to be a healer, and an arithmancer, and a duellist, and an occlumens?” Madam Longbottom said with a raised eyebrow. “That’s quite a workload.”</p>

<p>“Well, I did pause my healer training, but I’m starting again next year,” Hermoine answered. “Though I would ask your advice on a profession in law. I’ve spent a lot of time studying our ways and think it would be fascinating.”</p>

<p>“<em>Our</em> ways, Mmm?” Madam Longbottom replied, somehow seeming to arch her eyebrow even further towards the vaulted ceiling.</p>

<p>“Our ways,” Hermione replied, putting just a bit of force into the words. “I have lived in the wizarding world since I was a child. Lord Slythheirn took my family under his care years before I even received my Hogwarts letter. I know my <em>Three Brothers</em> from my <em>Many Champions of Death</em>. More so than many of my peers at school, that’s for sure. Even those born to wizarding families.”</p>

<p>After a significant pause, Madam Longbottom cracked a smile. “It is good to see that Slytherin takes the education of his charges seriously. I’m sure you will grow up to be a fine servant of his house.”</p>

<p>“Thank you,” Hermione replied, even though inside she desperately wanted to retort that statement. Not because the idea of being a ‘fine servant’ to Harry was bad. It wasn’t. But because that fluttery feeling in her stomach wanted <em>more</em>. And with the declaration of intent gift Harry had given her on her birthday, she assumed it was the direction Harry wanted to go in. Even if he himself wasn’t ready for anything more than friendship, yet.</p>

<p>Of course, that just made her need for radical self-betterment even stronger. Whether as a healer, lawyer, spell explorer, or whatever else Harry might need. Harry wasn’t perfect. She had to keep reminding herself that. And he <em>needed</em> her to be what he wasn’t.</p>

<p>“If you want a profession in law, the best advice I can give is to read,” Madam Longbottom continued. “Read everything you can about the statutes, the precedence, and the magic. Occlumency makes that significantly easier, so you should already have an advantage there, but even with that, surprisingly few young wizards are willing to do what it takes to become proficient enough to be useful. Most just go far enough to be a danger to themselves.”</p>

<p>She gave Hermione a calculating look before glancing around the room and leaning in to whisper conspiratorially, “And if you want an edge that makes you indispensable to your lord, I suggest learning how to impress ‘The Scales of Judgement.’”</p>

<p>Hermione went wide-eyed for a second before slowly nodding, filing away that little tidbit before plunging on with her mission for the hour. “Umm, on that note, what did you think of Virgo’s statement back there?”</p>

<p>Suddenly Madam Longbottom’s air switched from conspiratorial to cautious. “What about Miss Malfoy’s statement?”</p>

<p>“About how she thought she might be able to control the basilisk. And how Lord Nott said it would probably have been possible, if she were the first to reach it.”</p>

<p>“What of it?”</p>

<p>Hermione took a steadying breath before continuing. If she pulled this off, Harry would be much better off going forward. If she failed…</p>

<p>“Well,” she started, “The way I see it…”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“Harry, I’m sorry!”</p>

<p>Ginny wasn’t crying. Harry had only seen his Ginny cry once and she’d grown a lot since then. But this was about as close to actually crying as it got. The girl clung to him, repeatedly apologising over and over. If you counted this as a good old-fashioned breakdown, he’d now had three of his ‘inner circle’ desperately hugging him for emotional support. Only Luna and Alex hadn’t. Luna had come close after his acquittal of attempted murder the year before, and Alex… Well, trying to picture the grown-up Black Heiress all huggy and vulnerable, clamped to him like a limpet while her voice trembled like a reed… It wasn’t a terrible proposition. It just didn’t quite fit his mental image of Alex — neither the Death Eater she’d become in the previous timeline, nor his rather more even-keeled version, at least for now.</p>

<p>To be fair, seeing Ginny like this wasn’t normal either and he should probably do something more about it than just patting her and saying it was alright.</p>

<p>He put his hands on her shoulders and pushed her away to look into her eyes. “Ginny, look. It really is okay.”</p>

<p>“How is it okay?” Ginny choked. Yes, her eyes certainly were quite watery. “I made you look like a complete idiot in front of all those people! Daphne explained it to me!”</p>

<p><em>Thank you</em><em>, Daphne,</em> Harry thought in the privacy of his head, a little sarcastically. For someone so good at politics it was amazing just how cold and direct Slytherin’s ice princess could sometimes be.</p>

<p>“Well, she’s not wrong, per say,” Harry allowed. “I imagine some people might get a little more pushy now after seeing that.”</p>

<p>“I knew it!” Ginny almost wailed. Almost. “You must think I’m stupid now.”</p>

<p>Harry narrowed his eyes. “No, Ginny. I don’t. You did the mission I asked of you. You carried out that mission cleanly and without hiccup. No one but you could have taken my place the way you did. If you weren’t fully prepared with every answer to every question, that’s on me. That’s my responsibility. Not yours. This is an important lesson, in fact. Not every mission I give you will go perfectly. It can’t. How many missions have I sent you on so far?</p>

<p>Ginny sniffed and wiped at her eyes. “Umm… I had to secretly prep for Hogwarts. There was the hit on the diary. And the phoenix ash heist at the ICW. You asked me to fix the Hogwarts student wardrobe elections, as well. And evacuate the students from the school before you took care of the basilisk.”</p>

<p>“And did everything go perfectly on every one of those missions?”</p>

<p>Ginny slowly shook her head. “The Hogwarts prep went perfectly, but the diary hit failed. That <em>thing</em> is <em>still</em> walking around. The Phoenix ash heist was a success—her face relaxed slightly at the memory—and <em>so</em> cool—but the election fixing turned out not needed, ‘cuz Virgo was already on it. The evacuation was good, but the wider mission went a bit off the rails.” She sniffed again and wiped her eyes with the cuff of her robes. “You’re really not mad at me?”</p>

<p>Harry brought the girl closer for another hug. “No, Ginny I’m not.”</p>

<p>“You’re not rethinking our betrothal?”</p>

<p>The mere idea left Harry practically stunned. “Hells no,” he said, rather more forcefully than he’d intended. “I’m letting <em>you</em> go over my cold dead body.”</p>

<p>Ginny fell silent, but Harry could feel her relaxing in his arms.</p>

<p>They stayed like that for a moment before there was a coded knock on the trunk roof.</p>

<p>Ginny’s eyes widened and she practically leapt away from Harry with a yip.</p>

<p>The trunk trap door opened and Hermione stuck her head through. “Recess is about to end,” she called in. Then she took in the scene. “What were you two doing?”</p>

<p>“Nothing!” Ginny said, rather more quickly than was believable.</p>

<p>“We were hugging,” Harry supplied simply, earning a betrayed look and a ‘Harry!’ from the shorter girl.</p>

<p>“No, ‘Harry’,” Harry retorted. “I know we’re all just starting to go through puberty, but that statement was ripe for misunderstanding. It’s bad enough the shenanigans you were playing with the girl Alex won a bet with during the duelling tournament. I’m not having any of you think one of you is ‘stealing a lead’ or anything like that.</p>

<p>“Ah, right,” Ginny blushed. “So, um, what are we going to do about my mess up?”</p>

<p>Harry held up a finger. “Tell Daphne we’ll be there in a moment,” he called up to the closely-paying-attention Hermione.</p>

<p>The closely-paying-attention Hermione looked a little disappointed, but did nod and retreat with a “Yes, Harry.”</p>

<p>The door to the trunk closed behind her.</p>

<p>Now alone again, Harry smiled at Ginny. “You haven’t studied politics like Daphne has. Something you need to learn is that the game is never played perfectly. In politics, you expect your opponents to make plays against you. How well you come out in the end depends on what you do with their moves. Sometimes, an opportunistic thrust by an enemy leaves them wide open for an attack from the rear. It may sometimes even force their hand in strange and interesting ways.”</p>

<p>“What strange ways?” Ginny asked.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Regent Longbottom, joined by her fellow sitting judges—along with the now available Regent Bones, who was there purely as a tiebreak in the event they needed one—stared across the hearing room at the witnesses who were technically not on trial, while simultaneously absolutely being on trial.</p>

<p>A tiebreak hadn’t been needed.</p>

<p>They’d heard all the evidence submitted to them, all the accounts, and asked all the questions they wished. The statements of both Lord Potter and the Ministry were clearly self-serving and held little basis in actual wizarding law or magic.</p>

<p>Yes, Harry Potter was a child of House Potter and had assisted in the killing of the basilisk, even going so far as to strike the final blow, but he’d been assisted by many others.</p>

<p>The Ministry’s argument for why they should get to keep the basilisk were on even shakier ground. Some reference to some statute that no one had looked at or even cared about for a hundred years and whose existence Augusta suspected wouldn’t be long for this world now that the Wizengamot had their eyes on it.</p>

<p>So in the end, the actual findings of the investigation had been rather easy.</p>

<p>Regent Longbottom cleared her throat. “Ladies and Gentlemen, my fellow lords and ladies. We’ve heard all the accounts of what happened during the event under question, and it is our conclusion that this matter is no one’s ‘fault.’ There will be no trial as we have heard nothing that leads us to believe that any crime was committed.”</p>

<p>There was a susurration from the Gallery.</p>

<p>“However!” Regent Longbottom continued, speaking louder to be heard. “However, there are still matters arising from this episode that must be addressed, either as statements now or as recommendations to the Wizengamot, which we will direct the Chief Warlock to include in the relevant sessions. Mister Dumbledore.” She nodded towards Dumbledore who nodded back.</p>

<p>“Firstly, the matter of the basilisk. We find that this is the sole property of Lord Slytherin,”</p>

<p>There was an eruption from the Gallery.</p>

<p>“Silence!” Madam Longbottom called out. “Silence! We find that the Basilisk is the property of Lord Slytherin, however, we would like to remind everyone that all parts of a basilisk are controlled magical substances and that only those that have been granted monopoly rights may farm or import them. The Nott family has been Magical Britain’s sole supplier of basilisk for three hundred years and we see no reason to change that, given the good work they do. Therefore, our recommendation to the Wizengamot is that the monopoly on basilisk farming be extended to private domestic trade as well. Happy now, Young Edgar?”</p>

<p>Up in the Gallery, Lord Nott kept his poker face and merely nodded.</p>

<p>“Secondly, there is the matter of Slytherin’s control of the wards of Hogwarts. In this matter, we find that he acted fully within reasonable limits and that if his control is required to continue the security of the castle, then so be it.”</p>

<p>“You’re honour, I must protest!” cried out Dolores Umbridge, standing up so fast that her chair shot backwards.</p>

<p>This earned her little but a silencing spell to the face.</p>

<p>“Enough!” snapped Madam Longbottom, slipping her wand back up the cuff of her robe. “No, this really is too much. This is our courtroom and we will be respected within these chambers.”</p>

<p>Umbridge sat back down, now glaring daggers.</p>

<p>“Our decision on this is final,” Regent Longbottom declared, now glaring up at the still far-from-silent Gallery above.</p>

<p>No one was saying anything specific, not wanting to be singled out. It was more a general cacophony of huuuhs, aggggghhhs, Arrrhhhhs.</p>

<p>“We have been deemed able by Dimwiddy’s Scales of Judgement and so our interpretation of the laws that you make is final,” Madam Longbottom continued. “Need we remind you of that?”</p>

<p>Slowly, the gallery settled back down. When the aristocracy of magical Britain was finished showing their very clear discontent—or at least, those parts of it that weren’t Gray did—Madam Longbottom continued.</p>

<p>“And finally, there is the matter of Miss Malfoy’s animagus form.”</p>

<p>There was a puzzled silence.</p>

<p>“What—” came an icy voice from the gallery, cutting through the sudden quiet like a sabre through silk, “—about my daughter’s animagus form?”</p>

<p>Unlike with Umbridge, Augusta Longbottom did not pull her wand on Lord Malfoy.</p>

<p>“Well,” Regent Longbottom said, “The way <em>we</em> see it…”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p><em>Towards the end of the last recess…</em></p>

<p><em>Suddenly Madam Longbottom’s air switched from conspiratorial to cautious. “What about Miss Malfoy’s statement?”</em><em> she asked.</em></p>

<p><em>“About how she thought she might be able to control the basilisk,” Hermoine said, doing her best to sound like she wasn’t pushing an agenda, even though it would be obvious to both parties that was exactly what she was doing. “And how Lord Nott said it would probably have been possible, if she were the first to reach it.”</em></p>

<p><em>“What of it?”</em></p>

<p>Hermione took a steadying breath before continuing. “Well,” she started, “The way I see it, the Wizengamot seems to take a special interest in particularly dangerous magics.”</p>

<p>“Naturally,” Madam Longbottom confirmed. “The last thing the Wizarding World needs is more large-scale catastrophes. They do a lot of damage and put incredible strain on our oblivators. But Miss Malfoy’s parseltongue ability in her animagus form hardly constitutes a magical catastrophe. Not in the same way that Harry Potter’s or Luna’s forms do.”</p>

<p>Hermione nodded quickly to show she agreed. “Of course, of course. But you must admit, it is rather convenient, isn’t it?”</p>

<p>“What?”</p>

<p>“Her brother.”</p>

<p>“…What about her brother—oh.”</p>

<p>Hermione could see the wheels moving in Augusta Longbottom’s head. Not long ago, the Wizengamot had convened a special session just to ban Draco Malfoy from further experimentation with the Serpensortia spell—a rather knee-jerk response to the news that a Hogwarts student had succeeded in summoning a basilisk, even a young one, and in rather exceptional circumstances. But, he’d managed it regardless.</p>

<p>The fact that the young wizard in question was the heir of one of the most influential wizards in the country hadn’t stopped the near-unanimous vote.</p>

<p>“I agree that Virgo’s animagus form isn’t that dangerous by itself, but if you combined it with her brother’s demonstrated capability,” Hermoine said, putting all the pieces together out loud, “Well…”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“But this is outrageous!” Lord Malfoy declared, bolting to his feet. “The Wizengamot has already voted to ban my heir’s experimentations with a very basic spell. Surely that is enough!”</p>

<p>All around the hearing room, Lords and Ladies were giving Lord Malfoy the stink eye, muttering under their breath.</p>

<p>Down in the hearing room, Virgo was glaring daggers at Harry, who for his part seemed completely unfazed.</p>

<p>“Whether there is anything to be banned or not will be up to the Wizengamot,” Longbottom said, her stuffed vulture now glaring up at the Gallery where Lucius was glaring down.  “I am merely advising that Miss Malfoy be added to the hearing on whether any restrictions should be placed on magical Britain’s new rather <em>unique</em> animagi. Harry Potter, Luna Lovegood, and Virgo Malfoy. They will all face the stand together. I do not believe your peers will disagree with this.</p>

<p>Her gaze swept over the Gallery. “All those in favour?”</p>

<p>“CONTENT!” shouted basically every Lord in attendance.</p>

<p>Lord Malfoy’s face went a slightly deeper shade of red.</p>

<p>“Leave it, Lucius,” said Edgar Nott next to him. “This is not a battle you can win.”</p>

<p>Lord Malfoy made a disgusted noise, breaking away from his staring contest with Madam Longbottom.</p>

<p>“Then it is settled!” Madam Longbottom called out. “Chief Warlock Dumbledore, please make the arrangements. And with that we have another fifteen-minute break before the start of the next session. Hearing adjourned!”</p>

<p>And with a single loud bang coming from the tip of the judge’s wand, the basilisk hearing was concluded.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“That was wicked!” Alexandra whispered gleefully to Ginny while Wizarding aristocracy filed out of the Galley around them. “Now whatever restriction they place on Harry and Luna, they’ll have to place on Virgo, as well! This time, we’ll have the whole of the Dark on our side! To act against anything unreasonable the Light try to foist on us!”</p>

<p>Ginny frantically nodded her head. She wasn’t altogether certain that Harry wouldn’t have made this play even if she hadn’t messed up as badly as she did. But it at least felt better knowing the diary would <em>think</em> this was the consequence of its attack on her while she’d been impersonating Harry.</p>

<p>Down in the hearing room, Daphne Greengrass held up two fingers to them and made a cutting motion.</p>

<p>Two sessions down, plenty more to go.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“Arthur. Arthur!”</p>

<p>In the corridor outside the basilisk hearing, Arthur Weasley looked around to find James Potter hurrying towards him.</p>

<p>“Yes, Lord Potter?”</p>

<p>James stopped in from of him before looking around quickly to make sure they weren’t being overhead. “Listen, Arthur. I don’t want you to think I’m being overly suspicious or anything. But I have to ask. You don’t have any kind of special relationship with Lord Slytherin do you?”</p>

<p>“No more so than we’ve already discussed.”</p>

<p>“Only, isn’t it a bit weird that Slytherin would decide to sweep in and offer up Hogwarts scholarships like that just when Ginny needed it most?”</p>

<p>Arthur pursed his lips.</p>

<p>“Oh, I know that it was Lockhart who made the announcement, but there’s only one place the gold can actually be coming from. Wherever Slytherin gets his wealth from.”</p>

<p>“You know I try to maintain a neutral position,” Arthur replied.</p>

<p>“Yes, but…” James looked wretched.</p>

<p>“And isn’t it reasonable for Lord Slytherin to be considerate of Ginny’s ambitions? Firstly, he was the one who proposed Harry’s betrothal to her, and secondly, he <em>is</em> a British lord. Quidditch is probably in his blood as much as it is yours.”</p>

<p>James looked loath to admit he shared <em>anything</em> in common with the mysterious masked lord. “Yes,” he eventually conceded, “but even I didn’t propose funding Ginny’s entire Quidditch career for the next six years. That could get quite expensive, you know.”</p>

<p>Arthur shrugged. “I’m sure there will be many others who benefit from the Hogwarts scholarships.”</p>

<p>James looked ready to argue some more, but he then his gaze fell on something behind Arthur’s shoulder, presumably <em>someone</em> coming straight towards them from the other end of the corridor.</p>

<p>“Oh, hells,” James muttered, “Look, I have to go. See you at the aniamgus hearing!”</p>

<p>Arthur watched the retreating leader of the lords of the Light as a rather dishevelled and pissed-off-looking Rita Skeeter passed by on his left, no doubt on the trail of blood, or at least, a story, which for her might as well be the same thing.</p>

<p>She certainly had the look of someone looking for something very specific.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“I just want to say how proud I am of you, Harry,” Lily gushed, preening over her son in a way that might have sent bubbles of joy through him back when he was twelve in the last timeline. “Even when you were pushed, you didn’t <em>completely</em> lose your cool.”</p>

<p>“Thank you,” Harry said sardonically.</p>

<p>For some reason, Lily seemed to have taken ‘Harry’s’ mess-up at the Wizengamot as proof that he was in fact still a child and that she should absolutely dote over him as though the whole Dursley abandonment thing hadn’t happened.</p>

<p>The fact that he’d ultimately, ‘won’ and manoeuvred Virgo into a position where she might need to support Harry and Luna if she wanted to keep using her own animagus form, apparently merely proved that he was a talented but flawed young man, rather than the untouchable savant he’d been before.</p>

<p>Of all the consequences he’d foreseen from Ginny’s mishap, this wasn’t one he’d been prepared for.</p>

<p>Lily was acting more like one of the girls than the contrite, ashamed, and panicky woman he’d created before and he wasn’t sure he was all that comfortable with this new version.</p>

<p>“Of course Harry is amazing,” Hermione said from off to the side. “You should have known that from the start.”</p>

<p>Gee, thanks, Hermione.</p>

<p>Lily nodded fervently</p>

<p>“You really should have,” Luna added.</p>

<p>Et tu, Luna?</p>

<p>Thank Merlin none of the other girls were here or this could have turned into something even worse.</p>

<p>“And I can’t believe Virgo tried to get you into trouble like that,” Lily continued. “Why, it half puts me in mind to…” she trailed off as though uncertain she should say any more.</p>

<p>“Speaking of,” Harry interrupted, taking the natural break in the flow as the opportunity it was. “Isn’t there something you’re forgetting again?”</p>

<p>Lily looked at him blankly before realization dawned. She let out an Eep of shock and embarrassment and bolted for the door — the door of the Gray’s faction room in Wizengamot Hall, where they’d been debriefing.</p>

<p>“John demonstrates his occasional usefulness yet again,” Harry murmured. “But now that she’s gone, we can really get down to work. We’ve still got a bunch of stuff to get ready for. Not least of which will be the Americans. They should be here soon.”</p>

<p>Luna put a thoughtful finger on her chin. “Where <em>do</em> you suppose John went off to? I haven’t seen him since before the last break.”</p>

<p>Harry shrugged his shoulders. “Don’t know. And so long as he’s not here getting in the way, I couldn’t care less.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>The room was dark, large, circular, and made of stone. John groggily awoke, feeling the unexpected chill of someone far too used to warming charms, now exposed to unexpectedly cold air.</p>

<p>He tried to move his hands, but found them bound. “Whaa?” he groaned out.</p>

<p>Then he saw what stood before him and his brain caught up with what his ears were hearing.</p>

<p>“~Come,” a voice whispered and echoed. “~Come join us.”</p>

<p>“~Join us.”</p>

<p>“~Join us.”</p>

<p>“~Join us.”</p>

<p>“~Step through with us.”</p>

<p>“~With us.”</p>

<p>“~With us.”</p>

<p>The massive form of the Veil of Death loomed before him like a creepy miniature stone henge filled with mist and smoke. John had never seen it before, but like most of Wizarding Britain’s aristocracy, he knew that the tales of Death in the old stories, plays, poems, and legends, were all too true. He knew that more than anyone else, of course. But still, he’d never before actually seen the veil.</p>

<p>That must mean that this place was…</p>

<p>A man in a robe hiding his face stepped out of the shadows.</p>

<p>The Department of Mysteries.</p>

<p>“Heir Potter,” the man intoned. “We would like to talk to you about a fantastic opportunity.”</p>

<p> </p>

<p>Hi, all! Hope you enjoyed the chapter! I’ve been made aware of a plagiarised version of DPaSW on webnovel under a different name. Thank you to everyone who alerted me. I am considering my options. It seems I’m also not the only work this individual is plagiarizing.</p>

