Chapter 84 - The Gray's Secret - Chapter 11

<p>Several minutes away by broomstick from the Magical halls of Westminster, but potentially much quicker if one had access to a far more convenient method of magical travel, deep in the City of London proper, Virgo Malfoy stood atop Tower 42, the second tallest skyscraper in the country, looking out across the vast hive of concrete and brick that was Muggle London.</p>

<p>“Virgo should have seen it coming,” she said to herself.</p>

<p>Lord Slytherin had manoeuvred her exactly how he wished, making her look just as foolish to those who could see what had happened, as she had made him look in the first place. That was unacceptable! She was supposed to be the greatest witch in the world. Recently she’d been taking far too many loses for her liking. As in, anything greater than zero.</p>

<p>Now that she was on the docket for the emergency extraordinary magic hearing just like Harry Potter and Luna “fucktoy” Lovegood were, she’d have to use some of her limited political capital to make sure she could still use her animagus form, at least some of the time.</p>

<p>And to make matters even worse, any chance of Harry messing up badly enough to make it worthwhile to expose him as Lord Slytherin may have just gone up in smoke! He already ‘won’ the basilisk hearing. Now he was going to win the animagus hearing as well! After that there was just the duelling hearing, which was a foregone conclusion, the Chimera storm hearing, which she couldn’t do anything about, and the Gray’s version of the Muggle Protection Act.</p>

<p>The Muggle Protection Act would probably be the last opportunity she’d have to really nail Harry with something powerful enough to make his position unstable. But <em>what</em>? Simply stalling it again wouldn’t mean anything. The Act had been held up in the Wizengamot for over a year now. There had to be <em>something</em>.</p>

<p>“A young witch like yourself shouldn’t scowl so much, my dear,” said a jovial voice from behind her. “I’ve been told it causes wrinkles.”</p>

<p>Virgo turned from where she’d been looking out over London to find her chaperon holding two cans of fizzy drinks, one of which the old man tossed to her. It was Dumbledore.</p>

<p>Virgo popped the can and took a sip. The vaguely green-coloured liquid was disgustingly sweet and made her tongue fizz something horrid, but she’d certainly tasted worse things in both the wizarding and muggle worlds.</p>

<p>“And why should Virgo care about wrinkles?” Virgo asked. “Virgo is a witch. Witches have magic potions a thousand times more effective than anything Apoteket sells.”</p>

<p>“Dumbledore will take your word on that,” Dumbledore replied lightly.</p>

<p>Virgo glared at him.</p>

<p>“Though I’m happy you trust me enough to accept a drink without casting a dozen detection charms over it first,” the old man continued.</p>

<p>Virgo sniffed as though the idea of such blatant bad manners were beneath a noble young witch like herself. Even one that had been raised muggleborn. In truth, House-elves had access to magic the likes of which wizards could only dream of. Combined with her natural resistance to poison as a Lamia animagus and there wasn’t much that would actually affect her.</p>

<p>She didn’t say any of this of course. She didn’t trust Dumbledore a single inch, but if Dumbledore thought she trusted him then that was fine by her. It might mean that Tom’s old transfiguration teacher may return some of that trust himself.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Dumbledore certainly did not trust Virgo. Though the knowledge that ‘Virgo’ trusted him at least somewhat was a state of affairs he found most excellent. One of his biggest regrets in life had always been the way he’d handled Tom. Now, oddly, he’d been given a second chance to put that right.</p>

<p>There seemed little chance of Virgo rising as a Dark Lord, for several obvious reasons. Firstly, she was a witch, which rather precluded the whole Lord thing. Secondly, she’d become extremely close with both John Potter, his favourite little tool, and Susan Bones, whose family was as Light as they came. And thirdly, he’d heard on the grapevine that Lucius was in talks with James to directly bethroth Virgo to John.</p>

<p>That was not something the Tom of the past would have ever accepted.</p>

<p>“You covered for me back in the basilisk hearing,” Virgo said. It was a statement that was also a question.</p>

<p>“I didn’t think it would be wise for anyone to unduly suspect you of foul play,” Dumbledore replied. “How you knew about the chamber already… if that question had received too much scrutiny, it could have gone quite badly for you.”</p>

<p>Virgo watched him carefully. “You knew about the map.”</p>

<p>“Certainly.”</p>

<p>Dumbledore didn’t know about the map. What map? Had there actually <em>been</em> a map?!</p>

<p>“But you didn’t know that it was stolen last Halloween. Almost certainly by Harry.”</p>

<p>Dumbledore paused, doing his best to look thoughtful. He was very good at looking thoughtful. “That I did not know,” he replied, quite truthfully.</p>

<p>“What would you have done if Neville’s Grandmother had asked you to produce it?”</p>

<p>Dumbledore smiled. That he could answer easily. “The same thing most wizarding nobility does when asked to back up a spurious statement. Claim that the artefact is family magic and not a matter for public record.” Which was the only reason he’d been comfortable claiming the existence of an artefact that had granted Virgo insight into the chamber’s whereabouts in the first place. The fact that apparently just such an artefact existed boggled the mind. Though, it would explain how Tom had managed to find the entrances to the Chamber of Secrets while he’d been at Hogwarts. Some kind of Gaunt family heirloom, maybe?</p>

<p>Virgo snorted at his blasé response. “You’re as much a manipulative man now as you were back then.”</p>

<p>“That makes two of us, Tom.”</p>

<p>The response from Virgo was instant and extreme.</p>

<p>“Virgo is NOT Tom!” Virgo practically shouted, whirling around to face him before catching herself and calming down. “Virgo is not Tom,” she repeated almost like a mantra. “Do not repeat that statement in my presence.”</p>

<p>“Just testing,” Dumbledore said with his hands up.</p>

<p>“Virgo remembers all about your ‘tests.’ Like when you decided to test an eleven-year-old orphan by pretending to burn everything he owned before his eyes.”</p>

<p>Dumbledore winced. That had not been his most subtle play.</p>

<p>A moment of silence developed between the two of them.</p>

<p>“What do you want for the future, Virgo?” Dumbledore eventually asked.</p>

<p>“Virgo will be the greatest witch that ever lived,” Virgo replied instantly. “Virgo and John will rise up and remake the world. And John will do everything Virgo says because Virgo loves John.”</p>

<p>As a committed lifelong confirmed bachelor, Dumbledore suppressed a shudder. Still… Nothing she’d said was actually triggering his vow. “Then I propose an alliance,” he said. “I help you on the road to greatness, help clear any obstacles that may lay between you and John, and you help me with… some matters that I suspect you’ll be onboard with anyway.”</p>

<p>“Such as?”</p>

<p>“Harry.”</p>

<p>Virgo gave him a considering look.</p>

<p>Dumbledore didn’t know all the details of what was going on between Virgo and Harry’s ‘inner circle’, but he’d observed enough to know at least some animosity existed between the groups. He was pretty sure he’d set the right bait.</p>

<p>Virgo soon proved him correct. “Prove to Virgo you are true,” Virgo replied. “And Virgo will consider it.”</p>

<p>Dumbledore nodded. “The animagi hearing will be starting soon. But things may go better for you if certain schedules were, ‘rearranged’.</p>

<p>“Virgo is listening.”</p>

<p>Dumbledore outlined his offer.</p>

<p>Virgo liked it.</p>

<p>She didn’t like that she would also be helping Harry, but believed she would be getting more out of the deal in the end.</p>

<p>After they’d concluded their discussion, Dumbledore raised his arm and Fawkes appeared on it in a whirl of magical fire.</p>

<p>Virgo stepped up beside the old wizard and together the pair flamed back to the Wizengamot chambers, just in time for Dumbledore to put out the relevant notices.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“Hang on, hang on, <em>what</em> is going on?”</p>

<p>“The schedules for the hearings have been switched around.”</p>

<p>“Why?”</p>

<p>“Beats me. Last I heard Slytherin’s gang were going in for the animagus thing.”</p>

<p>“And now they’re doing the duelling hearing first?”</p>

<p>“Seems to be. Does kind of make sense. They just let Arthur’s daughter onto the England team.”</p>

<p>“By Jove, I can’t wait to see our lot crush those uppity bastards!”</p>

<p>“Psst. Keep your voice down. The frogs are still just over there.”</p>

<p>All around the Wizengamot chambers, news of Dumbledore’s switch up of the schedules started to percolate. Mostly it was met with indifference. A few people who had pressing matters elsewhere at an inconvenient time were notably inconvenienced, but otherwise the whole affair passed with little argument.</p>

<p>That didn’t stop people speculating,</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“I don’t get it,” James Potter said to his wife. “The only thing that’s changed is Virgo needing to present herself at the animagus hearing. And I still can’t believe Harry did that! A Lamia is nothing like a Chimaera or Luna’s dinosaur. Virgo’s had multiple attempts on her life by now. She needs every advantage she can get and once she’s a Potter she’s not going to be as close to her brother anyway!”</p>

<p>Lily frowned. “Dear, didn’t you see what Virgo did to Harry?”</p>

<p>James blinked. “Well, yes of course, but that was warranted. Quite good initiative on her part, I thought. And it definitely put Harry on the back foot. Hah! Felt good to finally see the snot-nosed little brat not acting quite so high and mighty for once.”</p>

<p>“James, that snot-nosed little brat is our son!”</p>

<p>James’s look slipped into guilt. “Err, yes. I mean, of course.” He stared off into a corner before looking back at his wife. “But we still have the <em>you know what</em> to consider,” he said in a low voice. “If we don’t keep Harry under control, something truly terrible could happen.”</p>

<p>The prophecy they’d heard at the Department of Mysterious that foretold Harry destroying the world of magic unless they kept him within their power.</p>

<p>Lily bit her lip. “Maybe we try a good cop bad cop approach?”</p>

<p>“A what?”</p>

<p>“I’ve been teaching Harry all year at Hogwarts. I know our son much better, now. He is normally a very polite, well-mannered, and thoughtful boy. The only times he goes all…” Lily hesitated, picking her words carefully. “All <em>Slytherin</em>,” she finally finished, is when he’s dealing with us!“</p>

<p>“So?”</p>

<p>“So, if you’re going to continue fighting Harry, fine. But I want to try accommodating him.”</p>

<p>James’ eyes bulged. “Lily! Have you forgotten the list of demands he gave you? All fed him by Lord Slytherin, of course. He wants us to go Gray and give up our titles! Are you okay with not being Lady Potter?”</p>

<p>Lily looked wretched. “I’m not talking about that. I’m asking you to allow me to stand with Harry more often. Give him advice. Try to be the wand behind the wizard. Let you handle the politics, try to get him away from Slytherin, and allow me to forge a <em>connection</em>.”</p>

<p>“Isn’t that why we sent you to Hogwarts in the first place?”</p>

<p>“I need more time.”</p>

<p>“Lily, we agreed you’d only be there for a year.”</p>

<p>“It isn’t enough. I’m making progress, I know it! I just… need more time.”</p>

<p>James fell silent. “We’ll talk about this later,” he finally said. “In the meantime, I had another quick chat with Lucius just now about his daughter.”</p>

<p>Lily’s attention popped back up. “Did you make any progress?”</p>

<p>“I’m afraid not. He’s still asking an obscene amount for his Virgo’s hand.”</p>

<p>“But we could afford it, right?”</p>

<p>James let out an exasperated noise. “Yes, we <em>could</em>. But we’re not going to! I’m not paying my arch-political enemy enough treasure to completely renovate Potter Manor three times over, and that’s final!”</p>

<p>Lily nodded. “By the way. I seem to have lost John.”</p>

<p>Janes nodded.</p>

<p>Then he stopped nodding.</p>

<p>“I’m sorry, what?”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Lord Malfoy stared at the letter that had just flapped around the room before depositing itself in a free hand. “I don’t get it,” he said after reading. “What’s Dumbledore up to?” He turned his head to his Lady Malfoy.</p>

<p>Narcissa smiled a smile without mirth. “Virgo seems to have some kind of détente with our old Headmaster. You saw him covering for her during the basilisk hearing.”</p>

<p>“Yes,” Lucius drawled. “A most unexpected development. I wonder just how much he knows about our daughter’s origins.” His face shifted from amused to annoyed in flash. “Though not as unexpected as that judgement on Virgo from Longbottom. What was she thinking? The whole thing is absurd from start to finish. Draco should never have been given that ban on using the snake-summoning charm in the first place. It’s not like he can just carry around a Hogwarts wardstone with him in his back pocket.”</p>

<p>Narcissa looked thoughtful. “That was the first time that Alexandra directly took leadership of Draco and his friends, wasn’t it? Even if the whole plot was orchestrated by Lord Slytherin, the execution was a masterpiece.”</p>

<p>“High praise from you,” Lucius murmured. “And it wasn’t orchestrated by Lord Slytherin. Conceived, yes. Mentored at most. If I thought Lord Slytherin was directly involved in matters at Hogwarts, I’d have pulled Draco out and sent him to Beauxbatons.”</p>

<p>“A poor choice of words on my part,” Narissa conceded.</p>

<p>“Most uncharacteristic of you, Wife.” Lucius’ face hardened. “In the meantime, we still need to be on the lookout for a way to claw back Draco and his friends from your removed cousin’s clutches.”</p>

<p>Narcissa looked thoughtful. “I saw Alexandra sitting with Ginevra at the basilisk hearing. Sirus doesn’t seem to be chaperoning her. Maybe this would be the perfect opportunity for me to have a word. You’ve already said your piece to the girl. Perhaps what’s needed is a more feminine touch. Black to Black.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“What is Dumbledore doing?” asked Hermione with a scowl.</p>

<p>“Playing silly games,” Daphne replied with a sniff. “He must believe he can derive an advantage by having the duelling hearing take place first. I’d love to know what it is.”</p>

<p>“Do you think the headmaster really is friends with the diary?” Ginny asked.</p>

<p>“Ginny, Dumbledore has never even been your headmaster,” Hermione said. “How do you make <em>that</em> mistake?”</p>

<p>“It’s what Mum always calls him,” Ginny groused.</p>

<p>“What does it matter what Ginny calls the old man,” Alex jumped in, twirling her wand. “All that matters is that if he’s allied with our enemy, then he’s going down!” She thrust the wand out in front of her. “Bam!.”</p>

<p>“Of course, it matters,” Hermione shot back. “A noble young lady must always be mindful of the proper manners and etiquette, and part of that is knowing people’s proper titles and how they change.”</p>

<p>“Why? Ginny doesn’t do politics.”</p>

<p>“And look how well <em>that</em> turned out,” Ginny muttered.</p>

<p>“It turned out fine,” Luna said dreamily. “Harry has already used your failure to his advantage.”</p>

<p>“Gee, thanks.”</p>

<p>“By the way,” Luna said, looking around. “Where <em>is</em> Harry?”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Harry walked down the corridor between the Wizengamot and the Department of Magical Crafts and Trade, on his way back from getting a document needed for the Meeting with the MACUS reps. Ideally, they’d be arriving before the reading of the Muggle Protection Act.</p>

<p>Normally, he’d have either done this errand as Lord Slytherin or sent one of his trusted to do it on his behalf, but this felt like an excellent chance to test the limits of Harry Potter’s ability to navigate the corridors of power and get things done when people saw him as just a Hogwarts Student. A precious Hogwarts student, to be sure. Heir to one of the most powerful families in the country, yes. But still just a student.</p>

<p>The results had been mixed.</p>

<p>One the one hand, no one had objected to giving him anything that he’d been legally entitled to receive, but on the other, more than one person had asked awkward questions when he’d tried to push beyond that.</p>

<p>Oh, and three separate people had asked him if he was lost when they saw him walking alone in the Ministry corridors — well-meaning employees of the ministry seeing a young man walking around all by himself.</p>

<p>Harry was not lost.</p>

<p>Harry knew exactly where he was.</p>

<p>Up ahead of him, he saw a robbed man in grey, face hidden, holding a broom. Not the Gray that he sported for his political faction, but dusty drab grey of someone not wanting to be noticed.</p>

<p>So, Harry decided to give him the curtsey.</p>

<p>At least until he’d nearly passed the man, when he felt an incredibly intense need to ask him for directions. Which was odd because Harry knew <em>exactly</em> where he was.</p>

<p>Except, he looked around and suddenly realised that he didn’t know where he was.</p>

<p>Which was odd, because Harry knew <em>exactly</em> where he was… again.</p>

<p>A warning the Goblin King had once given him drifted to the top of his consciousness.</p>

<p>Okay. That was quite enough of that. This individual might well be an employee of the ministry, but the <em>well-meaning</em> part he found highly doubtful.</p>

<p>Harry rolled his eyes and walked up to the guy, a four-foot-something second-year student now staring up at a six-foot-tall adult man.</p>

<p>“Mister Potter,” the man in the robe intoned in a mysterious voice Harry would rate a six out of ten. “I see that you may be in need of guidance?”</p>

<p>The corridor wasn’t particularly large, but it was large enough.</p>

<p>“If I may—” the wizard started to continue.</p>

<p>Harry turned into a giant Nemean lion with a mane of snakes and a thestral tail, then socked the man straight in the gut with a jab of his front paw.</p>

<p>The man doubled over and wheezed, coughing and spluttering. “I’m guessing that’s a no?”</p>

<p>Harry turned and walked away without a word.</p>

<p>‘Beware the family Magics of the Department of Mysteries,’ the Goblin King had said. Well, Harry had his own family to care about, and he wasn’t particularly looking for more.</p>

