Chapter 85 - The Gray's Secret - Chapter 12

<p>Very few people knew that Magical Britain’s Department of Mysteries had a family magic of its very own. Not the head of the DMLE. Nor family affairs. Nor the judiciary. The minister did know and, oh boy had the revelation freaked him out when Department Head ‘Croaker’ told him.</p>

<p>Croaker—or sometimes ‘The’ Croaker—was the only ministry department head who wasn’t appointed by the minister and approved by the Wizengamot. Promotion to the top job in the Department of Mysteries always came from within. Something that annoyed Fudge no end.</p>

<p>Croaker was a man who lived in shadows — his efforts bent to a purpose that few outside The Department knew or understood, and even then, they didn’t possess the full picture. The man had at his disposal more secret gadgets, artefacts, and tomes on forbidden or dangerous magics than any ancient family by a large margin. He commanded agents capable of feats that would leave the common wizard on the street breathless. And over the years, it had been he who’d been responsible for some of the Wizarding World’s most notorious ‘incidents,’ not just in Britain, but all over the world.</p>

<p>Even the Voldemort of the previous timeline hadn’t sought to replace him when he finally took over the ministry and conquered Magical Britain, before turning his attention onto Europe. He’d been far too useful. That of course, proved a mistake, as the unspeakables, led by Croaker, played a crucial role in ferrying Harry from Azkaban to the Veil of Death, facilitating his return to the past to wreak utter havoc on what might have been.</p>

<p>In short, Croaker was not the sort of man who was used to being on the back foot when it came to intelligence or knowing things. He also wasn’t used to mistakes or botched missions on the part of his agents. But it seemed that ever since Lord Slytherin had arrived on the scene, both his knowledge of what the hell was going on, as well as the reliability of the people under him, had taken a serious hit.</p>

<p>“You got the Merlin-damn wrong boy!” Croaker growled, staring down the sheepish-looking agent in front of him.</p>

<p>The agent shifted uncomfortably. “Sorry, my lord. You said to grab Heir Potter and we thought—”</p>

<p>“—yes, yes I know,” Croaker interrupted him rather testily. “That was my mistake, I suppose.”</p>

<p>“If it’s any help, the boy-who-lived seems far from a poor substitute. We’ve run all sorts of tests, with his approval of course, and John displays over top 99.999% performance in basically every magical test we put him through. He literally shifts the bell curve all by himself.</p>

<p>“Of course he does!” Croaker scoffed. “He went toe-to-toe with the entire Ravenclaw Duelling Team and won! Not even Dumbledore managed that.”</p>

<p>There was a pause as Croaker shook his head and stared down a random spot of wall with an intensity that suggested he was trying to melt the stone with his gaze.</p>

<p>“Sooo… we can use John?” the agent eventually hazarded.</p>

<p>Croaker’s expression contorted before he groaned. “I wanted the damn Chimera! There’s so much we could do with a legendary form like that.”</p>

<p>“My lord, we could try a more forceful approach?”</p>

<p>“No, we bloody well do not. We’re on thin ice enough approaching a Hogwarts Student this young as it is. Besides, you saw what happened to Chuffney. Not a great look for his first real field mission.”</p>

<p>“So, what is it you want us to do? Not push him through the veil, presumably. I don’t think we could get away with that,” he chuckled nervously. “…Besides, my Mum would never let me hear the end of it if she ever learned I disappeared the boy-who-lived.”</p>

<p>Croaker glared at nothing again. “He is his brother’s twin,” he finally said. “Maybe there is actually a way to get what we need…”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>John couldn’t remember the last time he’d felt this on top of the world. The looks the agents who were allowed to show their faces were giving him boarded on awe. Like they were gazing at some kind of aberration of nature. That’s what he was of course. Special. Unique. Important.</p>

<p>He wasn’t going to lie, he’d been more than a little freaked out when he’d first woken up in front of the veil of death, but it had quickly been explained that the veil was almost like a mascot or symbol of the Department and that everyone they invited into their secret sanctum received the same treatment on waking.  It was tradition. Or so the creepy hooded man who’d woken him up had said. That checked out because every doorway he’d walked through looked like a little copy of the veil and many of the walls were plastered or carved in symbols and iconography that included it.</p>

<p>And besides, these people all seemed so nice and polite. He’d heard rumours of the DOM, of course, but this felt almost like one of the clubs back at Hogwarts.</p>

<p>“I see you are impressing some of our younger members,” a voice said behind him.</p>

<p>John turned to see an older man wearing robes styled to resemble a formal muggle suit. Quite rotund for a wizard, he smiled at John with an affable air that put him at his ease. “Yes, Sir,” John said with a slight bow.</p>

<p>“And so polite, as well,” the man chuckled. “But enough niceties. My name is Croaker. I run this little ragtag misfit group of vagabonds.”</p>

<p>John’s eyes widened. “You’re Croaker?” Croaker was the only name anyone associated with the Department of Mysteries. It had been in use for hundreds of years at this point. Maybe older. Rather like the Humble Hag, it was more of a title than an actual name. “I thought you’d be, you know.” He gestured to the hoods everyone wore and mimed flipping it up over his head.</p>

<p>Croaker laughed. “Most of the time, yes. But right now I feel we need to see each other properly. I am under Polyjuice, of course. You seem rather intelligent for your age, so I’m sure you understand.” He made a vague shooing motion, causing the assembled unspeakable to break and scatter like birds at the approach of a cat.</p>

<p>Once they were alone, Croaker turned his attention fully on John.</p>

<p>“I won’t mince my words, <em>Mister</em> Potter. While the department often recruits school leavers of exceptional talent and skill straight out of Hogwarts, we generally don’t recruit second years.”</p>

<p>“So, you do want to recruit me,” John confirmed.</p>

<p>“Indeed. Just for your school years to start. A trial period, if you like.”</p>

<p>“And what if I said no?”</p>

<p>Croaker smiled. “You walk out of The Department as though nothing ever happened. Seeing the veil is not unusual. Nor is anything we’ve allowed you to see. There have been a few people of interest we’ve offered positions over the years who’ve turned us down. They leave with an interesting story of ‘the time the DOM tried to recruit them’ and that’s the end of it.” He frowned. “Although in your case, we’d ask you not to tell anyone about this until you’re out of Hogwarts yourself.”</p>

<p>“And if I say yes? I can’t stop going to school.”</p>

<p>“Of course not. The Department has many agents in situ. We provide resources, training, and access to ‘other perks’ that a wizard—even one born to one of the most powerful families in the country—would find it hard to get themselves, and in return, you feed us back information and occasionally carry out little jobs for us. Seeing how young you are those jobs wouldn’t be too onerous or dangerous.”</p>

<p>“Hey! Don’t underestimate me! I took down the entire Ravenclaw Dueling team!”</p>

<p>Croaker beamed. “Of course! How could I forget?” He paused. “We’d also want you to pursue your animagus form. If it’s anything like your brother’s that’s not a capability we’d want to leave on the table.”</p>

<p>John bit his lip. Getting your animgaus form was extremely time-intensive and took years! He had no idea how Harry had done it so quickly, but he was not looking forward to repeating that particular achievement, no matter what Virgo’s schedules said. On the other hand, they <em>were</em> twins, right? Would he get something equally as bad-ass as Harry?</p>

<p>He could do without the Medusa mane thing, but the lion was undoubtedly cool as all hells. Fuck! Why did Harry get all the good stuff?!</p>

<p>“We can also <em>facilitate</em> your progression on that front,” Croaker continued. “…maybe,” he added.</p>

<p>“You mean speed it up?” John asked, suddenly all ears again. If the DOM had some kind of hocus pocus to make the animagus thing easier then he wanted in!</p>

<p>“Possibly,” Croaker hedged. “I’d have to inspect some books in the Deep Library. But enough about what we want from you. What would you want from us? We usually pay our agents in gold, but I doubt a young noble like yourself has much use for that.”</p>

<p>John blinked. He thought the animagus training <em>was</em> what they were giving to him and was about to say so before the one lick of common sense he possessed screamed at him to just shut the fuck up and think before he opened his pumpkin pie hole.</p>

<p>“I want my heirship back,” he said, eagerly. “Can you do that?”</p>

<p>Croaker looked up to the ceiling in thought. “Tricky,” he said. “Your father has already been down here, petitioning for aid in that matter. We don’t have the means to help and told him so.”</p>

<p>“Oh,” John said, crestfallen.</p>

<p>“But… perhaps we do know someone who can,” Croaker continued, sending John’s hopes soaring again.</p>

<p>“Who?”</p>

<p>Croaker smiled. “That I cannot say. But if you help us, then I will put your father in contact with them. He can handle the rest.”</p>

<p>John grinned widely.</p>

<p>“So, do we have a deal?” Croaker asked, extending a velvet-gloved hand.</p>

<p>John hesitated for only a moment before he shook.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“—But, Auntie, you don’t get it! Hermione Granger is a Gray agent. She’s not a naive muggleborn. She’s a honed weapon raised by Lord Slytherin to infiltrate our society and bring it to ruin! If she became a lawyer—or worse, a judge—it would be terrible!”</p>

<p>Just outside the room currently hosting the Special Hearing on Underage Duelling, Susan Bones took a deep breath at the end of her long, long monologue. Her face was red. Sweat was dripping down her face.</p>

<p>“Finished?” Amelia Bones asked with a tut. “Here, Susan. Have a glass of water.”</p>

<p>“Thanks,” Susan replied, taking the ice-cool water her aunt had conjured with a flick of her wand and gulped it down rapidly.</p>

<p>“Feeling better?” Madam Bones asked once she’d finished.</p>

<p>“Much,” Susan replied.</p>

<p>Madam Bones nodded. “Now, to answer your questions and statements in no particular order, it is not for me to judge judges. That is up to The Scales of Judgement. And becoming a lawyer to begin with is no easy feat. If Miss Granger can convince the Scales that she is the best candidate for whatever position becomes open, then she will be. The Scales take a fundamental judgement of a person’s morality according to magic. That is the way Dimwiddy—curse his soul—made them.” So much of Wizarding Society is based on magic and you won’t find many who’d deny it as a source of ultimate truth. At least not these days.“</p>

<p>“But—”</p>

<p>“We also simply don’t have enough good hopefuls in the pipeline to take over when one of us finally retires. The last time a judge died, The Scales didn’t accept a single candidate as suitable for over fifteen years. If Miss Granger wants to make a go of it, I would not stand in her way. If anything, you should <em>want</em> Hermoine to try. If she succeeds, she’ll no longer <em>be</em> that ‘honed weapon’ of Slytherin’s, as you put it, because there will inevitably be a disconnect between her own morality and Slytherin’s expectations of her. And if the Scales Judge her worthy, then she will choose her own morality. That’s the whole point.”</p>

<p>“But the Scales can be wrong, can’t they?” Susan pressed. “Haven’t there been ‘bad’ judges before? And what if she changes her mind?”</p>

<p>“There have been unpopular judges,” Susan’s Aunt corrected her. “That’s not automatically the same thing as bad. Judges have also been wrong before. That’s also not the same as bad.”</p>

<p>“If The Scales are so perfect, why don’t we use them for everything?” Susan groused. She was starting to sound petulant now and knew it.</p>

<p>“Weren’t you listening?” Madam Bones hissed. “Only one candidate passed its test in fifteen years. If we tried every position by the scales, we’d never have anyone do anything.”</p>

<p>“Couldn’t we at least get the minister to pass the test?”</p>

<p>“Ah,” Madam Bones softened her expression. “Yes, that <em>would</em> be nice. Unfortunately, even right after Dimwiddy—when his legacy of magical judgement spells and trinkets were being used for just about everything—<em>even then</em> the Wizengamot baulked at the idea of giving up the power to choose minister candidates to a glorified paperweight.”</p>

<p>The sound of muffled clapping wafted through the door to the duelling hearing chamber. Apparently something interesting had just happened.</p>

<p>Susan pouted. “But did you <em>have</em> to throw Virgo under the bus like that?” she asked, doing her best to sound less like a spoiled girl and more like the responsible witch her Aunt had raised. “Now she’s going to have restrictions placed on her animagus form, as well. That’s <em>really</em> not good!”</p>

<p>Susan hesitated. Not for the first time, she wanted to tell her Aunt everything. Everything about Virgo, John, the diary, the time travel, and the terrible future in which the Dark Lord took over Magical Britain. But like every time before, she held her tongue.</p>

<p>So instead she said, rather lamely, “How am I supposed to face John and Virgo now?”</p>

<p>Madam Bones smiled. “Susan, if John is serious about having both you and Miss Malfoy in his future happy family—”</p>

<p>—Susan’s mind temporarily bluescreened at the thought of Virgo as a doting, loving mother—</p>

<p> “—then something like this should not be an issue,” her aunt continued. “Relationships are built on trust, openness, and roles. Deception, secrets, and isolation are for enemies.”</p>

<p>Susan nodded. It was a phrase she’d heard from her aunt before and would certainly hear again. Luckily for her, her ‘relationship’ with John and Virgo <em>was</em> based on trust, openness, and roles. At least, she thought it was. She was sure <em>John</em> wasn’t hiding anything. That boy was as open as a book, even with his massive time travel secret. Virgo was far trickier, but even she hadn’t been untruthful about her origins, once she’d subsumed the Dark Lord into her soul…</p>

<p>Yeah, that wasn’t something she was going to tell her aunt.</p>

<p>As for roles, John was the muscle, Virgo was the plotter, and she, Susan, was the moral compass.</p>

<p>Easy.</p>

<p>Although, thinking back to how unstable Virgo seemed to be getting, moral compass might soon turn out to be a full-time job.</p>

<p>Come to think of it, where <em>was</em> John?</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Deep in the subconscious of a 12-year-old witch with dreams of romance, power, and grandeur…</p>

<p>“Where is being John Potter?” squeaked the voice of a house elf. “John Potter is being Not Master, Master! We must be serving as Free House Elf!”</p>

<p>“We serve no one!” said the harsh tone of an older boy. “But this boy defeated the dark lord as a baby. We must know his location at all times!”</p>

<p>“I would feel a lot better knowing where John is, too” chimed in the voice of a girl with a Scandinavian accent. “It’s too dangerous without him. Find him and he will protect us!”</p>

<p>“WE NEED TO FIND JOHN/POTTER/NOT-MASTER!” shouted three voices into the void.</p>

<p>The voices were not heard consciously, but that didn’t mean the words had no effect.</p>

<p>A bead of sweat rolled down Virgo’s face, a fixed smile plastered on.</p>

<p>“Well done!” clapped the assembled wizards and witches up in the gallery.</p>

<p>Virgo and Harry bowed. First to the spectators, then each other.</p>

<p>They’d been asked to put on a brief demonstration of their abilities and had obliged by playing what might as well have been ping pong with a glowing-red stunner spell. It was pure showmanship. Every wizard here had already seen both Virgo and Harry perform, but this <em>was</em> a weekend and many suspected this might be their last chance for entertainment before the far less interesting reading of the Muggle Protection Act properly began that afternoon. At least, those who hadn’t considered the implications of the animagus hearing did.</p>

<p>Virgo sat back down without acknowledging John’s Brother any more than she had to. Eyes darting back and forth, she confirmed once more that John himself was not there. John should be there. This hearing was for him, too! It wasn’t <em>right</em> that John wasn’t there. He should be there. With her.</p>

<p>Shaking her head to clear her thoughts, she focused back on the hearing.</p>

<p>But it wasn’t long again before those same thoughts of John invaded her consciousness again.</p>

<p>“Do not act so tense, daughter,” Lord Malfoy said quietly from beside her, his gaze fixed forward. “It is not becoming of a noble witch for such a trivial matter.”</p>

<p>Virgo only realised then that she’d been gripping the desk hard enough to scratch.</p>

<p>She cursed herself, riffled through her mind for a solution, and zeroed in on the obvious one. She was so tense because John wasn’t here. To solve the problem, John simply should be here! Easy!</p>

<p>“Thank you for that display,” Madam Longbottom said. “Very entertaining. I don’t see any problem extending my colleague’s quidditch recommendation for the Wizengamot to the England Duelling Team.</p>

<p>She paused and looked up at the ceiling as though in idle thought before looking back down at the assorted wizards and witches before her.</p>

<p>“Though I do have to ask, just for my own curiosity, you understand, are you intending to restrict yourself just to International Standard Class A Rules, or were you interested in Class B and C, as well?”</p>

<p>In the mind of every wizard watching, monsters roared out in an orgy of destruction, tooth and claw rending against fur and flesh.</p>

<p>“Classes A and B,” said Harry and Alexandra, firmly.</p>

<p>“Classes A, B, <em>and</em> C,” Virgo added into the immediate stillness of the room.</p>

<p>“If we can do B, I might join, too!” Luna called out enthusiastically from the gallery.</p>

<p>The silence was practically deafening.</p>

<p>Suddenly, the reason why the schedules had been changed around to have the duelling hearing—in which animagi forms could be used to secure victory in the more dangerous classes—<em>before</em> the emergency animagus hearing—where the very same forms might be banned—made a lot more sense to a lot more people.</p>

