Chapter 86 - The Gray's Secret - Chapter 13

<p>After the final recommendation was made to the Wizengamot—an unambiguous statement that the ascension of Potter, Black, and Malfoy (and possibly Lovegood as well) to the England Duelling team would be not only acceptable but preferred—everyone took break again before the animagus hearing.</p>

<p>In the Gray Faction’s designated room in Wizengamot Hall, Ginny slumped back onto a pile of bean bags that someone—probably Luna—had dumped on one side of Harry’s shrunk trunk. “What was all that about?” she asked.</p>

<p>“Yeah,” Alex added, kicking her feet while sitting on a table. “Seems odd. Virgo just massively helped us out. Did you see their faces when Luna said she’d also duel? You could practically see England Duelling Trophies spinning in their eyes.”</p>

<p>Harry chuckled. “Our dear Miss Malfoy helps only herself. It’s not unexpected she took this path. When Virgo grabbed the student minister position at Hogwarts, even if it wasn’t for very long, she did it because it positioned her as a leader above her peers. That gave her a lot of attention from many people who’d usually have little to do with her. Even as the daughter of the Malfoy family. Then there was the duelling tournament. That further propelled her upwards in the minds of Magical Britain, though she did have to sacrifice the ultimate prize at the end to you.”</p>

<p>Harry leaned against Alex’s table and looked her in the eyes. “Virgo’s clearly decided that continuing her duelling career is the best way for her to grow her power and prestige.”</p>

<p>“Yeah, but how will that work?” Alex asked, gazing back. “I’m not losing to <em>her</em>. Ever! Now that I’ve seen what she can do, I’ll go all out in my training!”</p>

<p>“I know you will,” Harry replied with a smirk. “But it won’t matter. Because Virgo will never have to face you in public again.”</p>

<p>“What?!”</p>

<p>“She’s joining the team,” Ginny said, still in mid-longue. “She’s technically on your side, Alex.”</p>

<p>Alex blanched.</p>

<p>“Ginny’s right,” Harry said with a shrug. “Virgo’s clearly thought this out. She might not be the ultimate dueller on the team, but she can ride our coattails and still be a fearsome member of what will undoubtedly be a duelling team that’s about the pass into sporting legend.”</p>

<p>“Not if she has an <em>accident</em> in training,” Ginny hissed, popping up from her beanbag at the waist. “Just let me attend and I’ll make it happen.</p>

<p>“I like the bloodlust,” Harry smirked. “But I doubt Virgo will be training with us. In fact, given how she fled the castle after the basilisk incident, I doubt we’ll be seeing much of Miss Malfoy for a while after the animagus hearing.”</p>

<p>Ginny huffed and collapsed back again. “Is being a top-level dueller that big of deal anyway. It’s not like duelling is <em>that</em> popular. It’s not like quidditch.”</p>

<p> “You’re right,” Harry nodded. “It’s not. Neither Virgo, nor Luna, I or Alex will gain much in the way of face recognition or fame from this. Most wizards don’t follow duelling. It’s mostly a gentleman’s sport. For the upper crust. You, Ginny, you’re going to be recognised on every wizarding street corner. You won’t be able to go anywhere without people knowing who you are.”</p>

<p>Ginny frowned. “I thought I was supposed to be your ninja-assassin-infiltrator-spy girl. Isn’t being known that much bad for that?”</p>

<p>“Yes and no. It was once said that spies are either so forgettable you don’t notice them or so larger-than-life and overly bombastic that you never suspect them. You’ll be in the latter category. Sure, it limits some missions, but there are always trade-offs. Besides, I don’t think fame and glory is <em>really</em> what Virgo wants to get from being a duellist. Not primarily.”</p>

<p>“What then?” Ginny asked.</p>

<p>“Fear,” Alex said with a grin.</p>

<p>“Our little Grim here is correct,” Harry said with a nod and smile that caused the grin to falter. “Duellists may not be all that famous, but once someone knows you’re a champion in the sport they’re likely to give you a lot more respect. Tom Riddle craved respect as recognition of his power and greatness. If Virgo is similar, then she’ll happily even take on the dangers of Class C duelling.”</p>

<p>“Which was?” Ginny asked.</p>

<p>“Class A is standard.” Alex replied “No transfiguration, tools—apart from your wand—family magics, or a whole mess of banned spells and stuff. It’s mostly spell chains and speedy wand work. Hogwarts uses a more open variation of Class A. Though, now that I think about it, Hogwarts’ version is SO open, it’s might be more like Class B.”</p>

<p>“Class B allows tools and transfiguration. That includes Animagi forms, brooms, magical devices, potions, and loads of other stuff. There’s also a special version of class B that is only animagi forms. But that version doesn’t use the same bracket system and is just pre-arranged one-on-ones.”</p>

<p>“Then there’s Class C. Class C is <em>almost</em> no holds bars. The only spell banned is the killing curse. Everything else is allowed. Even the imperious and torture curses. Auntie Bellatrix was a champion Class C duellist.”</p>

<p>Ginny smirked. “It’s almost like watching Hermione, isn’t it?”</p>

<p>“Hey! I’m nothing like that bookworm!”</p>

<p>“No, you’re just a massive nerd about dark lady stuff.”</p>

<p>“I am NOT a nerd!” Alex flushed hotly. “About—about <em>anything</em>!” she abruptly turned away from Ginny to Harry, as though wanting to desperately get away from the conversation. “Anyway, now that we know <em>that girl</em> wants to do Class C, can’t I compete in it too?”</p>

<p>Harry’s look went from amused to pensive. He sucked in his breath through his teeth. “I’d still advise against it. Class C is dangerous, yes, and that’s part of why I’m against it, but I also want you to hold your best weapons in reserve. Class C will require you to go all out with everything you have.”</p>

<p>“I can hold stuff in reserve!”</p>

<p>“No~, you~ won’t~,” Ginny contradicted in a sing-song voice. “You’ll go all out to crush every opponent you face with everything you have.”</p>

<p>“I didn’t do that at the duelling tournament!”</p>

<p>Harry held up a finger in the manner of one making a point. “The power difference between you and the other students at the Hogwarts duelling tournament will not be the same as during an international adult duelling tournament. Not by a long shot. You won’t be the secret overdog there. You’ll be the underdog. By a large margin. You <em>will</em> have to go all out. And I want you much better prepared than you are now before you step into <em>that</em> ring. Trust me.”</p>

<p>Alex huffed. “I guess that makes sense. Still don’t like it.”</p>

<p>“It might even be a good idea to rope your dad into training.”</p>

<p>“What!?” Alex yipped.</p>

<p>“He is one of the best Aurors Magical Britain has. And didn’t he promise to help you more now?”</p>

<p>“Well, yes, but… but…” Alex pouted.</p>

<p>“Once the dust settles on all this political stuff, I want you to ask him for help.”</p>

<p>On the bean bags in the corner, Ginny was watching the back and forth with an expression of glee on her face.</p>

<p>Alex scrunched up her face in utter consternation. “<em>Ask</em> him?!”</p>

<p>“That’s right. Ask him. Nicely. Like the well-mannered and polite daughter of a noble house would ask her lord.”</p>

<p>The reaction from Alex was instantaneous. “Yuk! Harry, you don’t understand, Dad isn’t, like, really a real lord. All the noble stuff, I don’t do that for <em>him</em>.”</p>

<p>Ginny started giggling.</p>

<p>Harry smirked a long, slow smirk. “Are you defying me, Heiress Black? This is most likely the best course of action for you. Do I need to remind you who I am?”</p>

<p>A complicated set of emotions crossed Alex’s face. Memories of a giant black demonic fire snake growing into an inferno, devouring a menagerie of other demonic fire beasts in an orgy of terrible destruction, before turning its literal flaming gaze on herself, flashed before her eyes.</p>

<p>Alex nervously licked her lips. “…No, my lord,” she said. “I’ll do it. I’ll— I’ll ask <em>Dad</em> for help.” Then her gaze firmed. “But I <em>won’t</em> curtsey for him.”</p>

<p>“No, you can just save that for Harry,” Ginny snarked from the corner.</p>

<p>Alex’s face flushed red.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>John stared at the Mandrake joint in his hands dubiously. “Is this really how you learn your animagus form?” he asked.</p>

<p>“’Tis sound alright, mate,” said a masked unspeakable, currently splayed out on an armchair opposite. “You’re lucky the chief wants you done quick. Got the best stuff for you, he has. Tough getting Mandrake these days. Lord Greengrass’ been tighter than a virgin goblin girl trapped under the Knight Bus.” He took a pull of his own joint before gesturing to John. “Go on, mate.”</p>

<p>John inspected the joint again, decided that he really had no choice if he wanted to catch up with Harry, stuck the roll-up in the flame of a nearby candlestick, put the paper to his mouth, and took a single, long breath in.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>In the main Wizengamot room, murmurs came from all around the room as a large red and gold lamia wearing a blouse for modesty slithered out from behind a changing screen and presented herself in front of her appreciative audience.</p>

<p>This was no mere hearing of the judiciary as the previous events had been, no. This was a full assembly of the entire legislator of Magical Britain, and as Virgo did her best impression of a curtsey as was possible, given that her lower half was all snake, well over a hundred lords and proxies stared down at her from the raised seats that circled ‘the pit’.</p>

<p>“Thank you, Miss Malfoy,” Dumbledore called from his presiding seat as Chief Warlock. “Next!”</p>

<p>The Wizengamot politely clapped as Virgo slithered away again. They might be here to discourage ‘dangerous experimental magics’ but that didn’t mean the collective aristocracy didn’t value free entertainment. Dumbledore had barely declared the session open before a random lord had demanded the assembly be given the opportunity to inspect the ‘persons of interest’.</p>

<p>Harry didn’t bother changing behind the screen. There wasn’t really any point.</p>

<p>Instead, he stood before the Wizengamot, caught the eyes of several lords and ladies, ‘in the know’, and changed.</p>

<p>The entire assembly drew in their breaths, regardless of whether they knew Lord Slytherin’s true identity or not. Whispers broke out everywhere.</p>

<p>Harry’s animagus form was tall enough to reach eye-level with the first row of Wizengamot seats. The snake mane seemed to track everyone in the room individually. The thestral tail lay at rest behind him like a horse in total safety.</p>

<p>“I HOPE THIS IS DEMONSTATION ENOUGH, MY LORDS.” Harry said in a deep animal voice that filled the space utterly.</p>

<p>“You can speak!” shouted a startled wizard.</p>

<p>“I AM CHIMAERA,” Harry said simply. “THE ONE TRUE KING.” The snakes all hissed a confirmation.</p>

<p>“Ah, yes,” said Dumbledore, as though something had only just occurred to him. “I think it might be prudent to point out that Mister Potter here will also have the gift of parseltongue in this form as well. And you will all be aware of his mentor’s influence over young Draco Malfoy and his basilisk summoning gift.”</p>

<p>“Dumbledore!” objected Daphne’s father. “A point of order. Your words are dangerously close to being political, which is not in your prevue as Chief Warlock.”</p>

<p>“Merely ensuring fairness and keeping the assembly informed, Lord Greengrass,” Dumbledore counted, placidly. “Thank you, Harry. A <em>most</em> impressive accomplishment.”</p>

<p>Chimaera-Harry gave Dumbledore close to a hundred stink-eyes before he transformed back and walked out of the pit.</p>

<p>“And finally!” Dumbledore called, as Luna skipped into the pit.</p>

<p>“Umm,” said a random lord, whose mugglephillic granddaughter had dragged him out to see <em>Jurassic Park</em> in the fake muggle pensive place only a few months previously. “Is this really a good idea?”</p>

<p>“Yes, yes, it’ll be fine,” said Dumbledore with a sparkle in his eyes.</p>

<p>“Only, I’ve heard these things are supposed to be quite big,” the same lord said.</p>

<p>Luna did a quick curtsey before bouncing up and down several times on the tips of her toes and looking towards Harry.</p>

<p>“And this chamber isn’t exactly massive,” the lord continued.</p>

<p>“This is the Wizengamot,” Dumbledore declared, in an apparent answer that was no answer at all. “Go ahead, Miss Lovegood.”</p>

<p>Harry rolled his eyes at the obvious game Dumbledore was playing with the people who no doubt gave him more headaches than anyone else in the country, save himself, and gave Luna the thumbs up.</p>

<p>The blonde girl changed.</p>

<p>Curses and cries of alarm filled the room.</p>

<p>Those wizards on the front row scrambled backwards as Luna grew.</p>

<p>Those in the second and third rows leaned back.</p>

<p>Many had been briefed on the exact nature of a Tyrannosaurus Rex. Plenty had even seen one of the couple or so memories smuggled out of Hogwarts since the basilisk incident. None—not even those close members of the Gray—had been truly prepared for the experience of being eye-to-eye—or in some cases, eye-to-jaw, or eye-to-belly—with a fourteen-tonne killing machine with a bite that could crush a dragon’s neck in one powerful chomp.</p>

<p> “It has feathers,” wheezed the one lord who’d seen Jurassic Park, staring up in dumbfounded astonishment. “The cinifilm didn’t show they had feathers.”</p>

<p>Harry had told Luna to ‘try to look as harmless as possible.’</p>

<p>This was proving rather difficult.</p>

<p>The stunned silence after Luna’s transformation was punctuated only by the occasional random curse as someone lost their balance or failed to get free, until Lucius Malfoy—who was pressed right up against Luna’s snout—shouted out, “What are you waiting for Dumbledore!? Order the girl to transform back!”</p>

<p>“Yes, I think that might be a good idea,” Dumbledore said in a cheerful voice from where he comfortably sat on the Chief Warlock seat. There was actually plenty of room behind Luna, but with the way her feet were placed in the pit, she couldn’t make use of any of it.</p>

<p>It took the lords and proxies a few minutes to bring themselves back to order after Luna’s little demonstration and by the time Lord Potter was ready to present the actual emergency bill, several arguments about Luna’s animagus form had already broken out in the back benches.</p>

<p>After the first reading, presented by Lord James Potter, which consisted of a straight-up full ban of all uses of the animagus forms under discussion, Lord Greengrass took the floor and put forward an amendment that would allow Harry, Luna, and Virgo to use their forms, ‘When their very lives were threatened.’</p>

<p>Without Virgo as part of the line-up the amendment would never have gotten through, but with her reluctantly present, many of both the Light and the Dark voted in favour and the critically important amendment sailed through.</p>

<p><em>Good job, Hermione,</em> Harry thought. It felt so good having girls he knew he could rely on.</p>

<p>And Virgo for her part looked particularly angsty. That was to be expected though. She’d been caught with a complete dead hand on that play with her parseltongue and Draco. All-in and busted.</p>

<p>Harry smirked.</p>

<p>Taste defeat, my enemy.</p>

<p>Taste it nice and bitter.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Virgo fiercely gazed around the Wizengamot once more, as though by doing so she could will the target of her ire to arrive by sheer willpower.</p>

<p>It didn’t seem to be working.</p>

<p>Where <em>WAS</em> John?!</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“Voting on the second amendment to the Emergency Experimental Animagus Act!” Dumbledore called out loudly over a general babble of voices. “Allowing Heiress Lovegood, Heir Potter, and Miss Malfoy leave to use their forms in sanctioned duels as stipulated in the Ministry of Magic regulations on acceptable usage of duelling. All in favour, Aye!”</p>

<p>“Aye!” shouted a chorus of voices.</p>

<p>“All against, Nay!”</p>

<p>“Nay!” shouted another chorus of voices, though not as many as the first.</p>

<p>“Revelio!” shouted Dumbledore, not actually casting anything, just shouting the word. “All to the Hall!”</p>

<p>Sounded like another amendment that was going to pass, Harry thought, as the lords and proxies filed out of the chamber to cast their votes in the Wizengamot’s own Goblet of Fire. This one was more of a victory for Virgo than for them, but Harry wasn’t going to scorn the gift of being able to use his form in duels.</p>

<p>Watching the many wizards—and occasional witch—slip parchments into the lit, flaming goblet, he was almost bowled over by his mother, now starting to look frantic. “Harry, have you seen John?”</p>

<p>“Nope,” Harry replied with all the care of a rebellious teenage boy confronted with an empty homework book, casually dusting himself off. “Ask Virgo. She’ll know.”</p>

<p>“I can’t find her either!”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p><em>Virgo will find John. Virgo will find John.</em></p>

<p>“Hey, did you hear something?” a random ministry worker asked as Virgo pressed her invisible self up against a wall.</p>

<p>Deep in her soul chasm, Virgo balanced on a string the width of a human hair with magic no human should possess, guiding her in the general direction of the being that a tiny part of her thought of as ‘master’.</p>

<p>“Nah, you’re imagining things,” his co-worker replied. “Or else, it’s a house-elf.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“And this concludes the third reading put forward by Minister Cornlius Fudge!” Dumbledore shouted amidst the hubbub of the chamber. “Giving the current minister of magic the power to authorise Heir Potter, Heiress Lovegood, and Miss Malfoy the use of their animagus forms in circumstances for which they are uniquely qualified to solve problems that otherwise may not be solvable. All in favour, Aye!”</p>

<p>“AYE!”</p>

<p>“All against, Nay!”</p>

<p>“NAY!”</p>

<p>“Revelio! All to the hall!”</p>

<p>And with that, the matter of the animagus forms would be settled, Harry thought in satisfaction as he watched the Wizengamot file out of the chamber again towards the hall containing the voting goblet of fire. Three amendments and three passes. He was sure this one would sail through just as reliably as the first two had. Of course the ministry would want the power to ‘unleash the beasts’ whenever it might be convenient for them.</p>

<p>Still, a good result for them all around.</p>

<p>And now the animagus hearing was down, there were only a few big ones to go. The chimaera storm investigation hearing was next. With luck, that would be a mere formality. And after that, the Muggle Protection Act. Along with the meeting with the Americans for the broom sub deal.</p>

<p>Oh, he should also have another word with his father as Lord Slytherin. Maybe after seeing his Chimaera form in person, he’d be more open to signing Ginny’s betrothal contract? Unlikely, but it was worth a shot.</p>

<p>Ah, speak of the devil. Lord James Potter chose that moment to storm over after having dropped his own vote in the goblet.</p>

<p>Harry, currently very much <em>not</em> Lord Slytherin, prepared himself for the verbal flaying.</p>

<p>After all, only a few hours ago, James Potter had boldly declared that there was no way in hell they’d get <em>any</em> concessions from the Wizengamot on their animagus forms.</p>

