Chapter 87 - The Gray's Secret - Chapter 14

<p>Contrary to her expectations, Ginny found she was rather enjoying the Wizengamot Weekend. Sure, she’d rather be flying or training, but Harry’s shrunk trunk <em>was</em> rather comfortable—she’d have to thank Luna for the beanbags later—and she was getting a first-hand account of the goings on outside from her… friend? Leader? Ginny’s feelings towards Daphne Greengrass were complicated.</p>

<p>She was the closest thing Ginny had ever met to a princess and was default cold and harsh in a way that Ginny couldn’t understand.</p>

<p>When they’d first met, Ginny hadn’t expected to like her much, but after nearly a year together—and a good chunk more than that in the animagus ritual—she’d grown to respect her confidence, the way she handled people, and the utter refusal to take shit from anyone.</p>

<p>That and her obvious fondness for Harry, something that both reassured Ginny, and made her rather jealous. After all, both of them had known Harry for years now, but the ice princess had been betrothed to their time-travelling saviour almost from the word go, while she, Ginny, had to wait in agonising uncertainty.</p>

<p>Not that she didn’t believe Harry wouldn’t make it work, somehow, but it still worried her.</p>

<p>The idea that she might end up with someone other than Harry sent sweat running down the back of her neck — a prospect far more terrifying than fighting any rogue bludger or basilisk.</p>

<p>Either way, Daphne Greengrass had been a kind of anchor when she, Alex, and Luna came to Hogwarts. Descending into the snake pit—the only Weasley to have done so in living memory—had been far less intimidating with her already firmly in power.</p>

<p>The blonde princess was currently sitting in one of the trunk’s high-back chairs with her eyes closed and from the sounds of it, Harry was having quite the time of it.</p>

<p>“Lord Potter is not pleased,” Daphne said, still with her eyes closed. They’d agreed that using divination spells in the Wizengamot all the time wasn’t the greatest idea—given that many such spells had been scrubbed from the world a long time ago—which was why they weren’t just deploying Daphne’s eye spell willy-nilly. Right now was fine though.</p>

<p>“How not pleased?” Ginny asked eagerly.</p>

<p>“Very,” Daphne reported. “He’s now ordering Harry to leave with him to Potter Manor immediately.”</p>

<p>“I thought he was trying to be more diplomatic?” Ginny asked.</p>

<p>“He was. Apparently now that Harry can’t use his animagus form without leave, the man feels a lot more confident. Oh, here comes Lady Potter.”</p>

<p>Ginny hissed, sounding quite similar to her own animagus form when annoyed. “I really don’t like her. She always rubbed me wrong in classes before Hogwarts. Now I know why! How could she treat Harry that way?”</p>

<p>“She doesn’t seem to be fighting Harry this time,” Daphne murmured. “If anything, it looks like she’s taking his side.”</p>

<p>“What?!” Ginny yipped. “Let me see! Do your ice mirror thing!”</p>

<p>“Not here and not now,” Daphne snapped. Her face and voice softened. “It would not be wise. I can tell you what’s going on.”</p>

<p>“Sure. I’m sorry. I was just surprised.”</p>

<p>Daphne nodded and hooked a strand of long hair behind her ear before closing her eyes again. “Well, <em>this</em> might also surprise you. Harry’s mother just reminded her lord husband that Harry did already put forward a condition for his return to Potter Manor. And that if he really wants Harry back, all he needs to do is accept that condition.</p>

<p>Ginny tilted her head. “What condition?”</p>

<p>Daphne opened her eyes and stared into hers. “Your betrothal, remember?”</p>

<p>Ginny felt the tips of her ears burn as a blush started to form.</p>

<p>Then realisation struck her nearly as hard. “Wait, NO! Harry can’t sacrifice himself like that! Lords can punish family members hard in a manor court and it’s even backed up by the Albion!”</p>

<p>“Be at ease,” Daphne said in a soothing voice, one Ginny never heard her use in public. “Harry knows that. This looks more like Lady and Lord Potter playing good auror, bad auror. If Lily Potter wants to gain Harry’s trust, she’ll need to do a lot better than this.” She closed her eyes again. “Not that her positioning isn’t helpful for us.”</p>

<p>Ginny bit her lip. “Do you think it <em>is</em> helpful?”</p>

<p>“What do you mean?”</p>

<p>“I mean, you never said what you think of me… you know… joining.”</p>

<p>Daphne’s eyes remained closed. She took several moments before replying, as though gathering her thoughts. “Ginevra,” she finally began. “Once our lord has coerced, tricked, or negotiated Lord Potter’s signature onto that document, I am certain you will make an amazing addition to the… <em>harem</em>.” She pronounced the word <em>harem</em> with great care, as though it were made of glass. “I admit I was sceptical when Harry first told me about you. You didn’t seem to be anything special. You were just a random girl who died in the last timeline.”</p>

<p>Ginny felt indignation rise inside. She scrambled upright in her beanbag.</p>

<p>“That and you were obsessed with John Potter.”</p>

<p>And just like that, the indignation fled, replaced with the feeling of being punched in the gut. Ginny winced.</p>

<p>“But I do not make a habit of needlessly questioning my future lord husband,” Daphne continued. “So I decided to wait and see your character for myself. So far, I am quite content. You may not be politically sophisticated enough to hold even a base-level position in the Slytherin court. Nor are you particularly well-versed in the social niceties that a young witch of a noble line must familiarise herself with so as to not be a total embarrassment to her future husband. You can also be impetuous, impulsive, and undignified.”</p>

<p>“Sorry, this is you being ‘quite content’?” Ginny butted in with wide eyes.</p>

<p>“Also, rude,” Daphne added. “Don’t interrupt.”</p>

<p>“Sorry.”</p>

<p>“As I was saying, you have many negative characteristics, but you are also determined and talented. Two traits that go very well together. You have often joked about being Harry’s ‘ninja’ but I do not consider it a joke. In the future, I will be relying on you to help keep our family safe. And I expect you to put forward your full effort on that, regardless of whether we are talking about Harry, me, any of the other girls, or any children, whether yours or not. Even if you become the most famous quidditch player in the world, your quidditch career is an adjunct to your responsibilities to the family.”</p>

<p>Ginny’s eyes were as wide as saucers now.</p>

<p>“Do I make myself clear?” Daphne asked.</p>

<p>“Y-yes, Daphne,” Ginny responded, almost at attention even though she was still sitting.</p>

<p>“Good.”</p>

<p>Ginny collapsed back into her beanbag. Her heart was beating fast and her head was spinning. Well, she had asked, but she apparently had not been ready for the answer. “Wow, now I know what Alex feels like.”</p>

<p>Daphne shot her a look. “What do you mean?”</p>

<p>Ginny told her about the exchange between Alex and Harry that ended in Harry going all Gray Lord on the Black Heiress. She also asked Daphne what she thought of it. On reflection, the only people she’d seen Harry act like that with were enemies.</p>

<p>Daphne smiled a sardonic smile. “Alexandra apparently isn’t like the rest of us. You and I—Hermione and Luna, too—we respect Harry instinctively. We push back on him, but we do so with respect, or in jest. It sounds like Alexandra can’t help but feel the need to test the limits that Harry is willing to tolerate. It sounds like Alex was starting to be disrespectful and Harry smacked her down before it went anywhere.”</p>

<p>“But why?” Ginny asked, utterly perplexed. “It was funny to watch, but isn’t she happy with us? I thought she was.”</p>

<p>“Oh, she is. That’s the point. You know her relationship with her father. Alex derides Lord Black because he was never the strong head of house figure that Alex craved. The girl just needed to be reminded that our Harry isn’t the same wimp she sees Lord Black as. It has been a while since Harry made Alex wet herself with the fiendfire serpent.”</p>

<p>“I’d have thought <em>that</em> would have left a longer-lasting impression,” Ginny muttered to herself.</p>

<p>“In any case, thank you for telling me about this,” Daphne said. “As the first lady of our lord’s future <em>harem</em> clearly I will need to put some thought into making sure Alexandra gets what she needs on a less ad-hoc basis.”</p>

<p>Daphne closed her eyes and began looking through the Kilrogg divination spell again.</p>

<p>“The girl is probably feeling a little confused right now. I’d hate to see what might happen if someone unwisely pokes her in the wrong way.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“Alexandra!” called a refined feminine voice across Wizengamot Hall. “Is that you? It is! Wonderful. A quick chat, perhaps? I’ve been eager for a chance.”</p>

<p>Alex looked up into the face of Narcissa Malfoy—not a dead ringer of her own, but similar enough to make it clear they were closely related, even despite the age difference.</p>

<p>“Absolutely,” Alex said with a wide grin. “I’ve been eager, as well.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>“My lords and ladies, wizards and witches,” Judge Bones called out across her hearing room. “This enquiry is in relation to the magical storm that recently ravaged our fair country, both muggle and magical. We’ve already received reports from the Department of Magical Catastrophes, Obliviator Squad, and the Department of Mysteries. However, these reports are somewhat dated now and in light of recent revelations, I’ve been asked to take another look into the matter and offer a report of my own to the Wizengamot. Agent S, from the DOM, I believe you have an opening statement you wish to share with us?”</p>

<p>An anonymous wizard in the drab robes of the Department of Mysteries stood up from the far side of the table from the young wizard who had recently been confirmed as chimaera animgaus, pointed dramatically at him, and loudly declared, “It was him, your honour!”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Another ward!</p>

<p>Virgo cursed as she came across yet another barrier in the maze of corridors that led to John.</p>

<p>Luckily for her, this one was vulnerable to house-elf magic.</p>

<p>The last one, she’d been able to pick apart with her skills from the diary.</p>

<p>Another had been a dual age line, the first working on people under the age of majority, while a second worked on people over.</p>

<p>Another had required a noble house ring.</p>

<p>At one point she’d had to double around and back when a ward required that she not be a virgin. That one was almost certainly Tom’s fault, though the fact that her name was literally Virgo probably didn’t help. Magic could just be like that sometimes.</p>

<p>As she rounded yet another corner to find a ward that looked like a job for Tom’s ward-breaking skills, Virgo reflected that this had to be one of the least efficient ways to protect a government department she could think of.</p>

<p>Why not just have a really good lock?</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Deep in the department, gazing upon a large ice mirror, Croaker watched the blonde Malfoy girl waltz through ward after ward as though they were hardly there.</p>

<p>“She’s doing awfully well, isn’t she?” an unspeakable taking rapid notes on a parchment said.</p>

<p>Croaker grunted.</p>

<p>“Should we let her through, my lord?” another asked, sitting in front of a table of odd-looking artefacts. “If we keep giving her the run around it might be a bit too obvious what the gig is.”</p>

<p>Croaker idly chewed on an acid pop. “Sure,” he said slowly. “Plot a route that’ll lead her to Potter in about twenty minutes. Bypass everything important and especially don’t let her near the veil.”</p>

<p>“You don’t want to give her the same offer we gave Potter?”</p>

<p>Croaker watched the prepubescent girl fade into almost nothing to casually bypass a Medusa trap and shook his head. “Not until we have a better understanding of what’s going on with her. Let her take the boy home. I think John’s probably had about as much as he can take for one session.”</p>

<p>He turned to the agent casting the ice mirror that gave him visibility to the DOM’s security. “Please redirect to Wizengamot. I want to see how our clown there is performing.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Hermione stared at the triumphant finger pointing at her.</p>

<p>“Yes?” she replied in Harry’s voice, answering the DOM agent’s accusation. After James Potter had finished failing to chew Harry out, her lord informed her he needed her to play his part again. “I don’t think anyone is denying that my finalising my animagus form caused the storm,” Hermione finished with a sniff that wasn’t quite Harry.</p>

<p>“Then why didn’t you warn us?!” shouted the representative from the Department of Magical Catastrophes. “That was the single worst disaster since Pettigrew and Lestrange’s last stand!”</p>

<p>“Because I did not know,” Hermione replied succinctly. It seemed that the willingness of people to shout at her lord had gone up across the board since the ruling that he couldn’t freely use his Chimera form.</p>

<p>“We had to mobilise oblivators all across the continent,” said the ISS Oblivator ambassador to Magical Britain. “It was most inconvenient.”</p>

<p>“Is this an inquiry or a complaint session?” Hermoine shot back. Whoops. A little too aggressive. She should rein that in a little.</p>

<p>Nevertheless, it seemed to do the job.</p>

<p>“Quite right,” Bones said. “Witnesses, please do not speak unless called upon. Now, Agent S, I’ve received a report from the ISS that claims a massive shift in the Albion magics at the same time as the Chimera storm. What do you have to say about this? Do we have any idea just how powerful the shift was?”</p>

<p>Agent S seemed to think about this for a moment before holding up a finger. “Almost no shift at all, your honour,” you could practically hear the smile in his voice. “If anything, the growth of the Albion seems to have slowed.”</p>

<p>The way he said it made Hermione sure he was lying. Or at least not telling the full truth.</p>

<p>“Agent S, may I remind you that you are required to speak the truth during this hearing,” Bones said with narrowed eyes.</p>

<p>“And may I remind you, your honour, that the Department of Mysteries has a legal mandate to keep secrets.” Still the smiling voice.</p>

<p>“The ISS report claims that countries as far away as Indonesia and Cuba have begun to feel stronger effects of the Albion.”</p>

<p>“Do they really? How fascinating.”</p>

<p>Bones snarled. “Guards, get this waste of time out of my court! I don’t know why I even bothered inviting them.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Virgo marched down yet another corridor.</p>

<p>She was getting close, she could feel it.</p>

<p>Just a bit further.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>John Potter was not having a good time.</p>

<p>“No! nononono!” he blabbered. “Get away from me!” He weakly waved his hands in front of him, swatting at invisible, ever-changing forms that only he could see. The joint lay to one side, half consumed and totally forgotten. Eventually, he stopped flailing and simply slid down his chair into a heap on the floor where he began to babble incoherently.</p>

<p>The agent who’d originally given him the highly potent magical hallucinogen sighed. “Poor kid. Hit him pretty bad, that did.” He turned to his co-worker. “Wann’a a go, mate?”</p>

<p>The other agent held up a hand in polite refusal. “Not on duty.”</p>

<p>“Your loss.”</p>

<p>Just then, a little paper bird flapped into the room and unfolded itself on the first agent’s head. The hooded man took the paper and read. He snorted. “I take it all back. The kid’s got a <em>girl</em> on the way to take care of him. Lucky sod.”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Albus Dumbledore, Chief Warlock of the Wizengamot, Supreme Mugwump of the ICW, and <em>former</em> Headmaster of Hogwarts School of Witchcraft and Wizardry stood next to the oblivator ambassador to Magical Britain, looking suitably grave and serious.</p>

<p>For all his jovial manner during the animagus hearing, now was no longer the time for games. This whole weekend was full of political brinksmanship. Strike and counter-strike. Now, <em>he</em> had an opportunity to wrench Harry away from Lord Slytherin and he was going to give it his best shot.</p>

<p>“The budget of the ICW does not come from a limitless gold mine,” he spoke to the quietly listening room, taking most care to address Madam Bones from where she presided over the hearing. “Neither is the budget of the Ministry of Magic so great as to allow any wizard or witch the freedom to do as they will with the International Statue of Secrecy and expect the government to clean up after them.”</p>

<p>He turned and looked at Harry directly. Was that a more intense look of loathing than usual on the boy’s face?</p>

<p>“I stood before you last year, Madam Bones,” he continued, not breaking eye-contact with Harry, “and warned of the disruption this young man could be capable of.”</p>

<p>Madam Bones’ lips pursed.</p>

<p>“I hope that this time, my warnings are not so quickly ignored.”</p>

<p>“This is not a criminal hearing, Dumbledore,” Bones said sharply.</p>

<p>“Of course not,” he said easily. “I just wished to remind everyone that this old man is not senile. Regardless of what any of you may <em>wish</em> to believe. And to give context to what I am about to say…”</p>

<p>He didn’t flare his power. Not here in front of the gathered magical legislator of magical Britain. Such a thing would have been crude in the extreme. It was the kind of thing a dark lord would do. But what he did do was an old trick he’d made use of in the past. As he turned towards the gallery he activated an enchantment in his glasses that gave everyone the impression that he was staring straight at them.</p>

<p>“I have devoted my life to the Greater Good,” he spoke, his words no longer containing any levity whatsoever. “I have fought and destroyed more dark wizards than I care to remember. You have sent me all over the world, my lords, to fight those whom the ICW couldn’t. Or wouldn’t. And while I fought for you, I failed to spot the rise of the greatest dark lord the world has ever seen right in my own backyard.”</p>

<p>And a few of those missions hadn’t even been initiated by himself.</p>

<p>“Look at me as I warn you now,” he continued. “You know now that I speak of no ordinary child. At the age of twelve, he caused a storm that necessitated an international task force from the ICW to handle. He then fought an ancient basilisk and won. If you fear Draco and Virgo Malfoy for their ability to summon and control those deadly snakes, what about the child capable of slaying them? He will likely only become more volatile as he matures.”</p>

<p>Yes, the boy was certainly glaring at him with hate now. But that just reinforced that this was necessary.</p>

<p>“But Harry Potter does not <em>have</em> to be a force of chaos in our world,” Albus continued. “He can be a force of good. And given his recent actions, we have a perfect opportunity to place him on that path—”</p>

<p>Dumbledore hesitated.</p>

<p>While <em>he</em> might not be flaring his power, <em>someone</em> was.</p>

<p>Slowly he turned towards the closed door to the corridor outside.</p>

<p>As though pulled by strings, every other pair of eyes followed his.</p>

<p>The power flaring was now sufficiently strong that no one in the room could have failed to notice it.</p>

<p>And then just as suddenly, the power stopped.</p>

<p>And the door opened.</p>

<p>Madam Bones let out an exasperated noise.</p>

<p>Again, as before, it was Lord Slytherin.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Hermione wanted to squee.</p>

<p>Again! This was the second time Harry was doing ‘the entrance’ and he even had the Headmaster with him again!</p>

<p>The only difference now was that the entire Wizengamot was watching — oh, and he wasn’t facing off against Bill Weasley, but Albus Percival Wulfric Brian Dumbledore. Minor differences.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>In Harry’s shrunk trunk, Daphne carefully watched the scene through one of her large ice mirrors.</p>

<p>“I thought our lord wasn’t going in until the ICW guy asked for money,” Ginny asked from the nearby beanbags.</p>

<p>“Plan’s changed,” said Daphne. She looked around, as though only just noticing something important was missing. “By the way, where’s Luna?”</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Unseen by anyone, crouching under the one true cloak of invisibility, a pair of big blue eyes gazed across the room at the confrontation brewing, their owner’s fingers gripped around her wand so tightly her knuckles were going white. The fact she was in the middle of Wizengamot, surrounded by the combined might of wizarding Britain’s magical nobility, meant nothing to her. Only one thing mattered to her. Harry.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Dumbledore mentally cursed, but outwardly remained his normal unflappable self.</p>

<p>Despite her clear annoyance, Bones hadn’t immediately berated the new arrival, seeming to let him, Dumbledore, take the lead. That was good. There was an order to these things. Everyone else knew it as well. Their gazes all switched back and forth between the two men most likely to be called ‘lords of lords’, in the country. The old timer vs the new boy. The incumbent vs the challenger.</p>

<p>Letting the silence drag on, Dumbledore took a moment to once again fully inspect the man who’d been a thorn in his side for years now. This was, after all, only the second time they’d ‘officially’ met.</p>

<p>Tall, well-dressed, impeccable poise, Lord Slytherin radiated confidence. If Voldermort felt like a snake, ready to strike at any moment, Lord Slytherin felt like a rock. But even rocks could be worn away by the constant flow of water, couldn’t they?</p>

<p>By contrast, Lockhart, standing behind Slytherin and grinning with a smile so fixed it looked painted on, felt like a bug to squash whenever he pleased.</p>

<p>Keeping some of the gravitas he’d just been wielding against the nobles in the gallery, Dumbledore smiled. “Lord Slytherin, how good of you to join us. I was about to propose that Harry receive an education from the ICW with the obliviators. I thought that learning a bit more about the responsibilities we all have as citizens of the magical world, would be good for a young lad of such promising talent.”</p>

<p>And of course, as the head of the ICW, he’d have a good deal of influence over that education — the whens, hows, and most importantly, the wheres. If the lords behind him went for him, and they might well do so, even with the Gray opposing it, this may give him the leverage he so badly needed over young Potter.</p>

<p>But of course, Slytherin had his own plans for Harry, so there wasn’t a chance in any of the many hells he wasn’t going to try and persuade the Wizengamot otherwise.</p>

<p>“I agree,” Slytherin said.</p>

<p>Dumbledore’s brain shut down. “I’m sorry?” he said before he could stop himself.</p>

<p>“I said, I agree,” Slytherin said again. “More responsibility is exactly what Harry needs. It is as you said. A young man like him must understand his duties to our society. A turn with the obliviators will do him good.”</p>

<p>“I’m glad we’re on the same page,” Dumbledore answered, utterly baffled.</p>

<p>“And Harry is not the only one,” Slytherin continued, walking into the space proper to better address the room. “I believe the ambassador from the ICW has something to say about the costs of the operation that resulted from my charge’s animagus ascension?”</p>

<p>“Y-yes,” the man said, nervously adjusting his glasses before rustling his parchments. “I have here an estimate of total costs and damages. The oblivator squads are always stretched so thin and we simply cannot handle this level of—”</p>

<p>“I have a different proposal,” Slytherin cut the man off, leaving him opening and closing his mouth like a landed fish.</p>

<p>“Umm, what is it?” the man asked.</p>

<p>“Instead of simply handing gold over, which will only help in the short term, the Ancient and Noble House of Slytherin shall instead take on the formal sponsorship, including recruitment, training, and ongoing maintenance, of a new oblivator squad for Magical Britain, to join our country’s existing obligations to the ICW. Is that acceptable?”</p>

<p>Whispers spread around the gallery at this new development. No one liked funding the ICW oblivator squads, but everyone knew it was something that had to be done.</p>

<p>The ambassador’s mouth was no longer opening and closing. It just stayed open. Eventually, he seemed to pull himself together. “Y-yes, that would be <em>more</em> than acceptable… but, but Lord Slytherin, to raise an oblivator squad you’ll need a Class-S ranked obliviator to act as your captain. And they don’t just grow on trees. Without an appointed captain, we wouldn’t be able to accept…”</p>

<p>He trailed off at Slytherin’s held-up hand.</p>

<p>The Gray Lord of Lords then gestured behind him with a flourish.</p>

<p>The eyes of all moved to the <em>current</em> Headmaster of Hogwarts… “Gilderoy Lockhart!” Lockart beamed. “Order of Merlin, Second Class, Honorary Member of the Dark Force Defence League, Headmaster of Hogwarts School of Wizardry, and, though I don’t often announce this one, Class-S ranked Obliviator! At your service.” He finished his introduction with a florid bow.</p>

<p>“Acceptable?” Lord Slytherin asked.</p>

<p>“Quite,” the ambassador said faintly.</p>

<p>Now thoroughly sidelined, Dumbledore sighed and tipped an imaginary hat to Slytherin.</p>

<p>Well done. Very well done.</p>

<p>He’d still put the vote on whether Harry should do a round with the oblivators on the docket, but in truth there wasn’t much point now. He’d obviously wind up in Slytherin’s own squad.</p>

<p>Very well done.</p>

<p style="text-align: center;">— DPaSW: TGS —</p>

<p>Things <em>really</em> were not going well for John.</p>

<p>“Stop moving the RooooOOooom,” he babbled as the walls around him melted, swirled and crossed through each other. Not long ago, a rope had slithered into the room, split into a thousand strands, tied him up, and then turned into butterflies which flittered away while singing a Celestina Warbeck single from two years in the future.</p>

<p>Somewhere in the utter mess that was his conscious, a small part of him managed to reflect that this was so utterly <em>not</em> worth it. But he was on the train now and couldn’t get off until the mandrake stopped.</p>

<p>“AAAAAHHHHH!!!” he shrieked as old snake face appeared before him again, tied him to the rock in the graveyard, and tried to kiss him. This was the third time that had happened.</p>

<p>“You are failing, my champion,” Death whispered to him. “You know what happens to failed champions of Death.”</p>

<p>“No one really likes you,” Fate sniffed next to him. “And you smell.”</p>

<p>This was then immediately replaced by the sound of a dragon happily chewing on a live screaming human. Then the sound of intestines being used to weave cloth.</p>

<p>Then the room started moving again.</p>

<p>“NONONO!” John cried, panic starting to overtake him. “Stop it, stop it!”</p>

<p>Somewhere out there, the sound of a door unlocking clicked through the room, completely separate from whatever sounds were currently rampaging through John’s mind.</p>

<p>Slowly, the room began to slow.</p>

<p>“Is it stopping?” John asked.</p>

<p>Then suddenly, something LOOMED out of the darkness at him. A girl. Grinning manically with an utterly insane expression on her face. “Virgo has found John,” the vision said, before letting out an honest-to-goodness cackle, grabbing his arm, snapping her fingers, and John Potter left the Department of Mysteries, and went <em>somewhere else</em>.</p>

<p style="text-align: center;">— End of Chapter Eighty-seven —</p>
