Chapter 8 - Umm I'm the Champion of Fate and Death?

<p>[January 1990 (Two months into Ginny’s occlumency training)]</p>

<p>Harry, disguised as Child-Lord-Slytherin, and wearing heavy winter robes, sat outside a Diagon Alley cafe. He polished off his full-English breakfast, and considered the top-floor office four shops away, headquarters of the most innovative newspaper in the country, The Quibbler.</p>

<p>Luna Lovegood had been a nervous, frightened child when he’d last been at Hogwarts, but Voldemort’s memories showed her to be both loyal, and a competent duellist. She’d gone one-on-one with Yaxley, lived, and then taken a killing curse meant for his incompetent brother. She was an obvious asset. Luna and Alexandra would make perfect duelling partners for Ginny who were all childhood friends. The Lovegoods were also noble, owned a national newspaper, and were a Light-sided family sitting on the edge of being Gray. Courting them was a no-brainer.</p>

<p>Being noble, he’d have to be more careful in how he handled Luna. With Ginny, he knew that if everything went to dragon dung, he could wipe her memory, and start over again. He’d have never dared use a compulsion-charmed necklace with a mental backdoor if Ginny were noble. The noble house rings made such tactics impossible.</p>

<p>He’d have to build his friendship with the Lovegood heiress without such tactics, and there was an obvious point in the timeline where he’d be able to build a solid link. In the year before Hogwarts, Pandora Lovegood, Luna’s mother, died during a spell crafting accident — an accident that was both predictable, and preventable. Stop Lady Lovegood’s death, and Luna would be putty in his hands.</p>

<p>But that event would be less than six months before his first Hogwarts year, a dangerously small timeframe to both befriend and train her. He wasn’t even sure the timeline <em>would</em> repeat itself anymore. He needed something sooner, but despite thinking for weeks, he hadn’t come up with anything he liked.</p>

<p>He raised his orange juice to mouth level, and fumbled for the straw with his mouth.</p>

<p>“Hello.”</p>

<p>He tore his distracted focus away from the Quibbler building, glanced towards the voice, and did a double take. He found himself looking into the silvery-grey eyes of Luna Lovegood.</p>

<p>“Would you like to be my friend? I don’t have many friends.”</p>

<p>No fucking way. His mouth switched to emergency autopilot while his brain malfunctioned and shut down.</p>

<p>“Yes, I would like to be your friend.”</p>

<p>“Yay.” The girl raised her hands in the air, glided over to him, and hugged him. She pulled away. “What’s your name?”</p>

<p>“Harry.”</p>

<p>“I’m Luna. Did you know you’re surrounded by kerfuffling scribblebugs?”</p>

<p>“You know, I did not know that,” he said, still stunned. His brain started to reboot. This was Luna Lovegood? Hogwarts must’ve really knocked the spirit from her. “What is a kerfuffling scribblebug?”</p>

<p>The short blonde smiled. “It’s a type of flying beetle that hunts nargles; they breed very fast when there is enough magic to support them.”</p>

<p>“And they’re incorporeal, invisible, and completely undetectable?”</p>

<p>Luna frowned. “I can see them.”</p>

<p>“I believe you.”</p>

<p>Luna’s smile broke out again. She was wearing green, flowing, modern, open-robes with a white summer dress. It was an odd combination, and made her look like a white flower surrounded by long, green leaves. She must be really cold.</p>

<p>He thought for a moment. “How many do I have around me at the moment?”</p>

<p>She counted. “Fourteen.”</p>

<p>Harry flipped open a notebook, and made a note. It stood to reason that if these possibly non-existent beetles were supported by magic, and reproduced, then there must be an environmental carrying capacity. If he had fourteen now, and that changed, it might mean something. Like an increase in magical power? It certainly wasn’t the best way to quantify raw magical power, but if Luna could see them, it would be easy, and could be measured without the subject’s knowing.</p>

<p>“Luna, do you have any kerfuffling scribblebugs?”</p>

<p>“Oh no Harry, very few wizards do.”</p>

<p>Well scratch <em>that</em> idea then. He flipped the notebook shut.</p>

<p>“Fancy some cake?” he asked.</p>

<p>“Do they have pudding?”</p>

<p>“I’m sure they have pudding.”</p>

<p>The girl clapped her hands, once. “I like pudding.”</p>

<p>He smiled. ‘Sometimes,’ he thought, ‘Fate can be such a sweet mistress.’</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>‘And sometimes,’ Harry thought, ‘Fate can be a right bitch.’</p>

<p>He crouched behind a bush in a small park, opposite a line of drab-looking London townhouses, and recast his rain-repelling charm. It was chucking it down. The sky was dark, the buildings were grey, and the ground slurped and squished around his dragonhide boots. It was just as well he’d already performed rituals to give him near-perfect eyesight and hearing, or he’d have had serious problems with his glasses.</p>

<p>Twelve Grimmauld Place stood taunting him. So close, and yet, with its ancient war wards, it might as well be on the moon. The Weasleys had skimped when they’d constructed the ward system around the Burrow. Keyed portkey wards, keyed apparition wards, key-in and key-out wards, muggle-repelling wards, and a basic magic shield. That was it. They didn’t even have an anti-animagus ward. The Blacks, by contrast, believed that the strongest protections available, still weren’t strong enough. They’d put up everything short of fidelius, and getting past them with discretion was not happening.</p>

<p>Direct mind magics also wouldn’t work. Alexandra Black certainly wore a noble house ring. The only way he was going to get to her was by luring her outside. But how? Her father wouldn’t have anything to do with the Neutrals, unless he thought he could persuade one of them to the Light. Ginny said her friendship with Alex had deteriorated recently, ever since Alex started becoming interested in darker magic, and Ginny started going after John Potter, the symbol of the Light. She never left the house by the front door, always by the floo.</p>

<p>Whatever he was going to do, it wouldn’t be done standing here while the heavens tried their level best to drown him.</p>

<p>He apparated away with a *crack* leaving two foot-shaped impressions in the ground, which quickly filled with muddy water.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry gazed up at the rook-shaped building in front of him. It looked more serene during the day, when not surrounded by death eaters, and engulfed by fiendfyre.</p>

<p>“Look, Harry. These are our dirigible plum bushes.” Luna danced like a fae from stories of old around the magical and mundane plants that littered the Rookery’s garden. All she needed was the flowers in her hair and the tendency to claw her way through people’s intestines.</p>

<p>“Interesting plant. I don’t think I’ve seen them before. Do they have magical properties?”</p>

<p>“Their fruit enhances your ability to accept the extraordinary.”</p>

<p>“Really?”</p>

<p>She paused by one of the bushes. “You sound like you’re having problems believing it.” she plucked one off the bush and proffered it to him. “Would you like one?”</p>

<p>“Oh, I believe it. Umm… could I take it and eat it later?”</p>

<p>“That’s probably a good idea, Harry. They’re poisonous if not cooked before eating.”</p>

<p>He coughed, and looked down at the fruit he’d just accepted from Luna. He wondered if she’d have told him that before he’d started to chow down. He had a bezoar in his bag, but getting poisoned still wasn’t on his to-do list. He carefully put the fruit into his bag. “Thank you Luna. Do you eat them?”</p>

<p>“Oh yes.”</p>

<p>He grinned. A plant that made you more gullible would definitely come in useful, especially if the noble house rings didn’t block it.</p>

<p>“A nargle just appeared by your head, Harry.”</p>

<p>“Oh?”</p>

<p>“Oops, it just got eaten by a kerfuffling scribblebug.” She smiled a dreamy smile. “They’re really very useful.”</p>

<p>He shook his head. Being around Luna was an experience. He’d been in Voldemort’s head for years, but Luna’s presence was surreal.</p>

<p>“Are we going to see the back garden too?”</p>

<p>Luna beamed at him. “Yes, Harry.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry stalked his prey down Diagon Alley like a lion stalks an antelope. His quarry spent a few minutes window-shopping the quidditch store, another ten minutes eating ice cream in Florean Fortescue’s Ice-Cream Parlour, before finally stepping into Flourish and Blotts.</p>

<p>He crept, unseen, through the rows of books, keeping an eye on the long black hair that swept around corners. Its wearer was clearly looking for something specific. Something that would get it into trouble if found buying it. Why else would she be alone?</p>

<p>The girl spent a long time looking at one book in particular. From two bookshelves away, he recognised the oversized tome as <em>Hatcher Romulo’s Updated Compendium of Defence Against the Dark Arts</em>. She tucked it under her arm, walked to the counter, head held high, and proceeded to have a loud argument with the store clerk, who refused to sell her a book restricted to those who were of age.</p>

<p>Eventually, frustrated, the girl gave up and left the store in a huff.</p>

<p>Opportunity.</p>

<p>He swigged an ageing potion, ghosted to the counter, bought the book the girl had left behind, causing more than a slight eyebrow raise from the clerk, and left the store, drawing his hood up over his head to hide his face.</p>

<p>He’d been waiting a long time for a good moment to slip Alexandra Black a private invitation to a Greengrass party. This would do fine. He lifted a small envelope from his bag, and slipped it just behind the tome’s front cover. His rapid footsteps soon caught up with the Black heiress outside a junk store.</p>

<p>“Heiress Black.”</p>

<p>She hesitated before turning. Even her shoulders looked guilty.</p>

<p>“Here.” He handed over the book, which she took in stunned silence. “Next time, use one of these.” He wiggled another ageing potion before turning to leave.</p>

<p>“Wait!” He heard Alexandra call from behind him, “Who are y—.”</p>

<p>He disapparated with a *crack*.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry was impressed.</p>

<p>He sat, cross-legged, opposite Luna who was likewise seated.</p>

<p>“Your occlumency barriers are <em>very</em> good Luna.”</p>

<p>“Thank you, Harry. Mummy always insists I work hard on them.”</p>

<p>“Have you ever thought about taking the next logical step and learning wandless magic? With the level you’re at it shouldn’t be that difficult.”</p>

<p>“But I don’t have anyone who can teach me wandless magic. Could you teach me wandless magic, Harry?”</p>

<p>“I- yes. Yes I can, Luna.”</p>

<p>“Yay. I like being your friend, Harry.”</p>

<p>Harry made another mental notch on his surreal-Luna-Lovegood-moment tally.</p>

<p>“I like being your friend too. You make it very easy.” And he meant it. Luna was so open and accepting of everything. Maybe it was time to take the next step.</p>

<p>“Luna, I need to tell you something.”</p>

<p>“What do you need to tell me, Harry?”</p>

<p>“I don’t really look like this.”</p>

<p>“Oh? What do you really look like?”</p>

<p>“Like this.” He swigged a liquid finite.</p>

<p>“You look like Harry Potter.”</p>

<p>“Yes I— wait what?”</p>

<p>“Well obviously you sort of look like John Potter, but John Potter doesn’t have that scar on his forehead, so the only thing you <em>can</em> look like is <em>Harry</em> Potter.”</p>

<p>“But, you know about Harry Potter?”</p>

<p>“I know he’s a nice boy who’s going to teach me wandless magic.”</p>

<p>“I- right. That works. Let’s go with that.”</p>

<p>That little exchange was surely worth at least three notches.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Adult-Lord-Slytherin-Harry, complete with black and emerald mask, stood in the grand ballroom of Greengrass Manor, sipping on a glass of white. Child-Daphne stood to his side, sipping on a glass of pumpkin juice, scanning the hall for interestingness. The party had started a good hour ago, and one guest in particular had yet to show.</p>

<p>“Do you think she’ll come?” Daphne asked.</p>

<p>“She may. She seems quite capable of sneaking out to the Alley. On the other hand, she might have been caught, or she never opened the book, or the Blacks have a prior engagement, or, and I admit this is a low-chance event, she didn’t want to.”</p>

<p>Daphne stifled an unladylike snort. “A witch seeking the dark arts not wanting to attend a party after being invited personally by Lord Slytherin? I just don’t see that happening.”</p>

<p>Harry looked towards the small blonde beside him. “I do find it unlikely, but remember, we’ve been purposefully altering people’s perceptions of what Slytherin stands for. It’s bound to alienate the more hardcore blood-supremacists, and we don’t know how indoctrinated Alex is by the stuff she’s read in the Black Library.”</p>

<p>Daphne acknowledged his point with a slight tip of her glass.</p>

<p>Suddenly, the floo flared green, and a small figure stepped out, wearing an elegant black-laced dress robe, and a Lord-Slytherin-style, black mask.</p>

<p>Harry and Daphne watched the figure hand the master of ceremonies an invitation before holding a short conversation with him. The man nodded, straightened, and called out…</p>

<p>“Miss Incognito.”</p>

<p>Harry snorted. Daphne looked dumbstruck.</p>

<p>“Wow. Way to call attention to yourself. Someone reads far too much historical fiction,” he said, as every head in the hall turned to the floo.</p>

<p>The young witch looked uncomfortable at the sudden attention, but rallied, and strode over to a food table on the opposite side of the room to him and Daphne.</p>

<p>The general hubbub of the party resumed, and Daphne spoke. “I’m guessing Lord Black has been taking it light on the social training. What do you bet everyone in the hall knows she’s the Black heiress by the end of the party?”</p>

<p>Harry grinned. “You know I don’t take losing bets.”</p>

<p>“Are you going to introduce yourself now?”</p>

<p>“Nah. Give it a half-hour. Let her sweat for a bit. She’s not getting any good conversation when no one knows who she is, apart from being treated like a guess-my-name puzzle. Oh. I spoke too soon.”</p>

<p>An even smaller blonde, this one a centrifuge of energy, had barrelled over the ballroom floor towards ‘Miss Incognito,’ and was now attempting to draw the lace-dressed witch into a mile-a-minute dialogue.</p>

<p>Daphne sighed. “Oh, Tori.”</p>

<p>His grin widened. “You love her.”</p>

<p>“I do, but I wish—”</p>

<p>“—Hey, I wouldn’t change a thing about her. Enthusiasm like that is a rare commodity.”</p>

<p>The Black heiress was now being dragged out of the ballroom and into one of the many antechambers.</p>

<p>“Guess I’ll go introduce myself earlier then.”</p>

<p>Daphne nodded. “Good luck, my lord.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Five minutes later, Harry opened the door Astoria had dragged Alexandra through to find them both happily engaged in conversation, Alex leaning on an ornate dining table. When Alex saw him, she snapped up, and immediately dropped a curtsey.</p>

<p>“My Lord Slytherin.”</p>

<p>“Miss Incognito. Although I’m sure our inimitable Astoria has already done so, I’d like to personally welcome you to Greengrass Manor. Astoria, could you excuse us a moment?”</p>

<p>Astoria giggled and also dropped a curtsey. “Yes, my Lord Slytherin,” she said, before dashing out of the room.</p>

<p>The door clicked shut.</p>

<p>The two regarded each other, both masked, one, tall and comfortable, the other, smaller and stiff.</p>

<p>“You made quite an entrance, Miss Black. If your purpose was to keep your father from knowing you’re here, that may not have been the best way.”</p>

<p>“Kuh. It wasn’t easy getting here you know.” She sounded defensive. “I had to slip sleeping potion in my old man’s biscuits.”</p>

<p>“But you managed it.”</p>

<p>“Yes, I did. Umm… Thank you for buying me the book.”</p>

<p>“You’re welcome.”</p>

<p>“What was that potion you said I should use? I didn’t recognise it.”</p>

<p>“Ageing potion.”</p>

<p>The girl slapped her mask in a theatrical gesture of chagrin. “Of course. And…”—her voice changed to confused—“…you carry ageing potion around with you?”</p>

<p>“Why are you interested in the dark arts, Miss Black?”</p>

<p>She shifted, uncomfortable. “Well, they’re really interesting.”</p>

<p>“You don’t need to pretend with me. I know more dark magic than perhaps any other person alive.”</p>

<p>“More than held in the Black Library?” She sounded hungry.</p>

<p>“The Black Library no doubt holds many secrets that I do not know, but, as a whole, yes, far more than the Black Library.”</p>

<p>“Is that why you invited me here? The Black Library?”</p>

<p>“No. I’m far more interested in you, Miss Black.”</p>

<p>“Me?”</p>

<p>“Yes, you. It’s rare these days for a young witch to be both independently interested in the dark arts, and have the potential resources to pursue those interests. And I’m also still interested as to the why.”</p>

<p>“I’m… I’m not sure I’m comfortable discussing that right now.”</p>

<p>“That’s okay. There are many reasons for walking the path we walk, and many of them are very private.”</p>

<p>She made a gesture of grateful thanks.</p>

<p>“There is another thing. There is someone I’d like you to meet.”</p>

<p>“Who?”</p>

<p>He walked over to a nearby low chair, sat down, and wordlessly invited Alexandra to sit opposite him. “Miss Black,” he started after the raven-haired girl had sat down, “what I am about to tell you is a closely guarded secret. If you can’t keep secrets then I suggest you say so, and we’ll part ways now.”</p>

<p>She paused for a moment before continuing. “No, I can keep secrets. I succeeded in keeping out my instructor’s probes last month.”</p>

<p>“Very well. His name is Harry.”</p>

<p>“…?”</p>

<p>“He is the estranged twin brother of John Potter.”</p>

<p>“What? That wuss doesn’t have a brother!” she shouted.</p>

<p>“The Potters abandoned Harry with Lily’s muggle relatives just after Voldemort’s attack. I’ve been raising him in secret for quite a while now.”</p>

<p>He couldn’t see under her mask, but he was pretty sure her mouth was hanging open.</p>

<p>She huffed. “And you want me to meet him? All Potters are pathetic.”</p>

<p>“You never met Harry’s great-uncle, did you?”</p>

<p>“Well, no. Why?”</p>

<p>“Charlus Potter was not a man you wanted to mess with. He was one of the few who almost defeated Voldemort during his first rise.”</p>

<p>“You mean his only rise.”</p>

<p>“Of course.”</p>

<p>“…”</p>

<p>“…”</p>

<p>“Harry will also be just one year above you at Hogwarts, and will likely also be sorted into Slytherin.”</p>

<p>“Okay. I’ll meet him.”</p>

<p>“Excellent. My hope is that you can both further your studies together. You’ll find he is very competent.”</p>

<p>“I’d rather learn with you!”</p>

<p>“Unfortunately, right now, that isn’t possible, but you will find Harry is more than capable of taking my place.”</p>

<p>Alex didn’t look convinced, but it was the best he was going to manage for the moment.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry stood at the far edge of a clearing in the Rookery gardens and regarded Luna. She had just succeeded in casting her first wandless protego. She was a quick learner. There were only a few more spells she needed.</p>

<p>“Well done, Luna. Pretty soon you’ll be able to start duelling practice with some of the others I’ve been teaching.”</p>

<p>“Yay. More friends.” She glided over and hugged him… again. Luna had turned out to demand more hugs than even Ginny. Considering he’d spent the first twenty-some years of his life without a single hug, he wasn’t complaining.</p>

<p>He was just pulling away when he noticed they weren’t alone. A man and a woman stood, side-by-side at the garden’s edge, watching them. It was still early afternoon. Luna hadn’t mentioned her parents would be home today.</p>

<p>“Um… Hello,” he said. Luna turned around to see whom he was addressing.</p>

<p>“Well hello there, young man,” said Xenophilius Lovegood, his shoulder-length blond hair framed his young but well-travelled face. “I hope your intentions towards my daughter there are honourable.”</p>

<p>He glanced at the nine-year-old girl in front of him before looking back at the man. Lord Lovegood didn’t look angry, just curious.</p>

<p>“Yes?” he said, very uncertain.</p>

<p>“Excellent.” He seemed pleased. “Then we can start writing up the betrothal contract.”</p>

<p>“…”</p>

<p>He hadn’t just heard that correctly? Had he? He’d accepted Luna being a bit odd, but her parents too? Lady Lovegood wasn’t making any effort to disapprove of or contradict her husband, and they didn’t look like they were joking. The Lovegoods weren’t poor. They ran the second most circulated newspaper in the country, and were noble, dealing with the backstabbing politics of the Wizengamot on a regular basis. They were powerful, and powerful people who made stupid decisions didn’t remain powerful for long. Therefore, this offer wasn’t stupid. But he couldn’t see the reasoning behind it.</p>

<p>Oh.</p>

<p>“Lord Lovegood, you know that I’m not John Potter, don’t you?”</p>

<p>“Yes Harry. I know that you are Harry.”</p>

<p>“Just Harry?”</p>

<p>“Luna made it very clear that your last name is,”—he made quotation marks with his fingers—“a super-duper secret. But, having seen you, I suspect I can guess what it is.”</p>

<p>“I am not next in line to the Potter Lordship.”</p>

<p>“That is not a problem.”</p>

<p>It still didn’t make any sense.</p>

<p>“I am already subject to a betrothal contract.”</p>

<p>“Even better! A consort contract will even allow Luna to continue the Lovegood name.”</p>

<p>Every political brain cell in his head was screaming in terror. It was too easy! Life doesn’t work like this! You don’t just get given awesome stuff! He glanced to Luna who stood to the side beaming a lumos-maximus smile towards her father.</p>

<p>“Lord Lovegood, I’m very honoured. I don’t understand though. Why would you offer me Luna without knowing anything about me?”</p>

<p>“I know you’ve been practising wandless magic with Luna — a skill that you are proficient in despite your age.”</p>

<p>‘Okay,’ he thought.</p>

<p>“I know that you are independent and responsible, since you are able to move freely, and without parental oversight or consent.”</p>

<p>‘Okay.’</p>

<p>“I know you are politically intelligent from your questions to my offer.”</p>

<p>Harry raised a mental eyebrow at the post-decision rationalisation.</p>

<p>“I know another family, traditional enough to use betrothal contracts, deems you worthwhile enough to be party to one.”</p>

<p>‘Social proof,’ he thought, ‘But Lord Lovegood knows he doesn’t know the political alignment of my betrothed.’</p>

<p>“I know you were able to afford said contract, and that you are dressed in acromantula-silk closed-robes, and dragonhide boots.”</p>

<p>‘More post-decision rationalisation.’</p>

<p>“I know you are brave and stouthearted by your pose and manner when confronted by a powerful Lord and parent who you’ve been trying to avoid and keep secrets from.”</p>

<p>Harry winced.</p>

<p>“I know you are diligent since the wards record your presence every Monday, Wednesday, and Friday for the last six months without breaking the pattern once.”</p>

<p>He winced again.</p>

<p>“I know Luna likes you very much.”</p>

<p>Ah.</p>

<p>“And I know that sooner or later, some Lord in the Wizengamot is going to try to include a betrothal contract with Luna as part of some strong-arm political manoeuvre.”</p>

<p>Ahhhhh. Was it that simple? A preemptive move to protect Luna with a boy she likes, and seems to not be terrible?</p>

<p>“Was that enough reasons, Harry?” Xenophilius smiled.</p>

<p>…That was actually only one real reason, the rest were reasons why he wouldn’t be horrible, or just weren’t good reasons. It still didn’t seem right. You just don’t ask boys you’ve only just met to be your daughter’s consort even if you have a good reason. You spend time to sniff out potential land mines. You feel for family compatibility.</p>

<p>At this point his as yet unformed mortal passions got sick of his overthinking, and reared up from his deepest memories of puberty, spent in the company of happiness-sucking demons, the nails-on-blackboard cackle of Bellatrix Lestrange, and not a single feminine curve, screaming at him to shut up and accept the damned offer!</p>

<p>“Yes, Lord Lovegood,” he said weakly.</p>

<p>“Wonderful!”</p>

<p>Pandora Lovegood clapped. Luna turned, jumped, and hugged him. Her fifth hug of the day.</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry waited in the park, two blocks from the old London townhouse of the Blacks, hidden from the casual glance of passing muggles. A recognisable, slight figure—wearing black, traditional closed-robes—walked towards him, crossed over pavement and road, onto grass, and halted a few metres from him.</p>

<p>“Dear Merlin, you really do look just like John Potter. I feel so sorry for you.”</p>

<p>“A pleasure to meet you too, Heiress Alexandra, of the Most Ancient and Noble House of Black. And I prefer to think that John Potter looks just like me.”</p>

<p>She snorted. “Whatever, Potter. So what are we going to do here?”</p>

<p>“I thought we’d start with occlumency and then move onto wandless magic.”</p>

<p>“I already know occlumency, and why should I bother with wandless magic? We’re getting wands when we go to Hogwarts anyway.”</p>

<p>Harry summoned a stick from the base of a nearby tree. Alex looked surprised for a fraction of a second before her expression relapsed to her attempt at a mild sneer, although on her it looked more like a pout.</p>

<p>“When someone takes your wand, it’s important to get it back,” he said, waving the stick for emphasis.</p>

<p>“So that’s one spell. And I could just keep my wand attached to my wrist in combat.”</p>

<p>“And if someone shatters your wand? Or cuts off your hand?”</p>

<p>The Black heiress spluttered. “Shatter my wand? That’s despicable,” she said, rubbing her wrist and ignoring his comment about severed hands.</p>

<p>“You’re the one studying the dark arts. You must have seen the requirements for many of the rituals, and the personal anecdotes of the authors. It’s not a pretty world out there, Alex.”</p>

<p>“Don’t call me Alex,” she shot back. “And of course I’ve read those rituals, do you think I’m stupid?”</p>

<p>“No.”</p>

<p>“Good. I’m not interested in wandless parlour tricks. I’m interested in learning more of what’s possible with the full range of magics, not just the tiny amount authorised by the ministry. Why should we not learn everything magic is capable of?”</p>

<p>“Well, there <em>are</em> good reasons the ancient families keep knowledge of the old magics hidden from the general population.”</p>

<p>“Che. I’m not talking about them. I’m talking about the ancient families. The Light is trying to take our birthrights from us.”</p>

<p>“Yes, they are. But what use is learning that stuff now, when you don’t have a wand? Our time is better spent learning the things we can with the tools we have.”</p>

<p>She didn’t look convinced. “Is that all you can teach me then? Silly little party tricks?”</p>

<p>“I can regale you with story after story of what <em>all</em> the magics are capable of, but without a wand, such knowledge isn’t very useful. We can move on to that stuff in our first year of Hogwarts. It’s useful then.”</p>

<p>She pursed her lips. “You’re wrong,” she said, walking until she was nose to nose with him. “It is useful now.” She smiled, and laid a hand on his shoulder.</p>

<p>He raised an eyebrow.</p>

<p>Alex brought her hand down to his arm, and gripped.</p>

<p>Strong! He made to shake her off, but couldn’t. Too strong. Far stronger than any nine-year-old girl had any right to be.</p>

<p>Quick as a wand draw, Alex grabbed his shoulder, and effortlessly turned him around, arm twisted around his back, grabbed his other hand, and pinned it with the first. Her grip was like a vice.</p>

<p>He grimaced, and stopped struggling. He hadn’t been expecting that.</p>

<p>Alex leant into his ear. “Do you see, Potter?” she said, sounding pleased with herself. “There are many old magics that are very useful right now.”</p>

<p>Shit. This was going to hurt like a bitch. Bracing himself, he unleashed a wandless area-of-effect banishing spell, pushing the witch away from him, and dislocating his left arm, sending a bolt of pain shooting through him.</p>

<p>Alexandra stumbled backwards, tripped on the hem of her robes, and landed on her bum with an “Uff”. She looked up, seemingly unhurt. “You jerk!”</p>

<p>He turned, and popped his arm back into place. “See? Wandless magic isn’t useless either. And you <em>are</em> aware that the ritual of krazenkart is best done on one’s thirteenth birthday for best effect?”</p>

<p>Her cheeks tinted. “S-Shut up, Potter!”</p>

<p>He silently regarded the raven-haired girl still glaring up at him. She was so hostile. He needed to establish authority and dominance, but she wasn’t buying it. Dare he reveal he could use a wand to show her something more impressive? No. It was too risky to reveal any more of his secrets to someone who didn’t implicitly respect him. It would have to wait until they got to Hogwarts. In the meantime, he’d have to throw her a bone to stay in her moderately good graces. The rapport they had now <em>was</em> much better than they’d had last time around.</p>

<p>“Fine. I’ll see what books we have that are of interest. Maybe we can do a book swap.”</p>

<p>She smirked, stood up, brushed herself down, flicked her hair, and put a hand on her hip. “That sounds more acceptable, Potter.”</p>

<p>[June, 1990 (One month after Harry gives Ginny the lightning-bolt ring)]</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>[June, 1991]</p>

<p>Child-Lord-Slytherin-Harry walked down Diagon Alley, hand-in-hand with Daphne.</p>

<p>They’d both just got back from a four-week trip around the UK and Europe, building and warding emergency boltholes, complete with supplies. Daphne had got a lot of use out of her muggle outdoor gear. It had been a long time since she’d first gone out in it.</p>

<p>“Has it really been three years?” he mused.</p>

<p>“Pretty close to it,” she replied.</p>

<p>“We’ve got a lot done.”</p>

<p>“Yes. Project Save-The-World is going well.” Daphne hummed. “I still can’t quite believe all the stuff that happens to you, and all the places we’ve been.”</p>

<p>“Welcome to the life of Mister Harry.”</p>

<p>She smiled sweetly at him. “You’ve put a lot of work into Project Harem too.”</p>

<p>“Hey, Project Harem is an integral part of Project Save-The-World,” he joked.</p>

<p>“Sure. Just remember, as the future Lady Slytherin, I’m the one that has to keep all these extra girls in line.”</p>

<p>“You met Hermione.”</p>

<p>“I did.”</p>

<p>“And?” he grinned.</p>

<p>“I grudgingly admitted she’s not horrible. But she still doesn’t have the political killer instinct.”</p>

<p>“Give her a chance, she’s still only eleven. Not everyone can grow up with politics engraved on their soul.”</p>

<p>Daphne cast her gaze around the alley before returning her focus to her betrothed. “I’d have liked to have met the original eleven-year-old you.”</p>

<p>He snorted. “Oh no you wouldn’t have. I was everything you hated. Weak, validation seeking, naive.”</p>

<p>“Easier to control?”</p>

<p>“Pshhh. You don’t want a husband who’s easy to control. It would take all the challenge out of it.”</p>

<p>The blonde’s voice dropped. “Yes, but it might be nice to win occasionally,” she mumbled.</p>

<p>“Then you’ll just have to keep getting better won’t you?” He grinned.</p>

<p>“Better than the boy-who-is-going-to-cheat-his-face-off?”</p>

<p>“If you want to spend ten years in Azkaban, camped out in the Dark Lord’s head, just to get good marks in school, be my guest.”</p>

<p>“I just think it would be amazing to have all that knowledge at such a young age, while all your peers are so far behind.”</p>

<p>“Well, you have the next best thing at least.”</p>

<p>She unconsciously drew closer to him. “Yes, I do.”</p>

<p>They reached the steps of Gringotts.</p>

<p>“And now,” he continued in a semi-serious whisper, “it’s time for Lord Slytherin to start throwing around some serious gold.”</p>

<p style="text-align: center;">— End of Chapter Eight —</p>

{  37} [near-perfect eyesight and hearing]: vs Chapter 51 - John talks about a ritual for (near) perfect eyesight and Harry did one for eyesight and balance. I see 2 options, both have 2 rituals: 1. has one for eyesight and one for balance; 2. has one for eyesight&balance (Harry's) and another one for only eyesight (John's).
