Chapter 9 - The Book of Names - Part 1

<p>[Earlier that morning]</p>

<p>Harry sat at the Greengrass breakfast table. Papers were strewn across the surface. Daphne sat opposite him, financial report in one hand, jam-spread toast in the other. The two adult Greengrasses had already eaten. Astoria was still asleep.</p>

<p>Daphne finished swallowing. “So, a single underline is a calculation, and a double underline is the final amount?”</p>

<p>“Yep.”</p>

<p>“And the exchange rate between ‘pounds’ and galleons is fifty-to-one?”</p>

<p>“Yep.” Harry knew pureblood heirs didn’t usually start learning business until their teens, but Daphne was always a fast learner.</p>

<p>His betrothed whistled. “That is a big number above that final double underline.”</p>

<p>“Traditionally, it’s called the bottom line. And yes, I got lucky. Three months ago one of the national distributors got caught short, and agreed to buy the rest of the goods I’d stockpiled to last while we were at Hogwarts.”</p>

<p>“I can’t believe anyone’s business is so big that they’d buy that much all at once.”</p>

<p>“In the Muggle World, £1,200,000 isn’t that much.”</p>

<p>Daphne shook her head in wonder. “And so far this year you’ve netted £1,523,424, for a total balance of….” She dropped the income statement and picked up the four-year balance sheet. “£2,482,761.”</p>

<p>“Yeah, but we can’t expect those kind of numbers moving forward. That deal was a one-off. Without it, we bring in about £450,000 every six months, plus a bit extra from customer growth.”</p>

<p>Daphne was still inspecting the balance sheet. “I see business wasn’t that good for the first two years, 1988 and 1989.”</p>

<p>“Oh no. Business was great. It’s just that I had some rather large expenses. You may recall them. Daphne.”</p>

<p>Daphne blushed. “Y-You said yourself, that paying that much was the only way Lord Slughorn wouldn’t—”</p>

<p>Harry laughed. “Relax Daph. I know. And I wouldn’t take it back for anything.”</p>

<p>Daphne blushed a different kind of blush.</p>

<p>“And you must admit,” he continued, “having the highest bride price in history did a lot for both our reputations.”</p>

<p>She nodded. “It did. When it was leaked to the Prophet, no one would talk to me about anything else for months.”</p>

<p>He chuckled.</p>

<p>“Don’t you think there’s a risk someone at Hogwarts will figure out that you’re Lord Slytherin? Since I’m betrothed to him, and we’re always going to be together?”</p>

<p>“It’s a risk. One we’ll have to work with. Hopefully by the time anyone finds out, we’ll be well positioned.”</p>

<p>Daphne set the balance sheet down and reached over to another pile of papers. “And this”—she gently waved the new papers in her hand—“is the next step in that positioning?”</p>

<p>“Yep. Slytherin Manor. We’ve been holding the Gray together for the last three years, and even persuaded some back, but we need to push our influence. With Slytherin Manor, the three manors of the Light, Dark, and Gray, will become four. A critical mindshare shift towards the Gray, and a perfect base of operations for us. A place we can be daring without the fear of damaging the Greengrass influence.”</p>

<p>“How much are you thinking about putting into this?”</p>

<p>“We’ve £2.5 million at the moment. I’ve been playing with the numbers for a while, and I think we can have our twenty-five thousand square-foot mansion—which is what’s needed for the project to be worthwhile—for £6.6 million. Although I still need to check some numbers with the goblins.”</p>

<p>Daphne’s eyes widened. “132,000 galleons. But we can’t afford it. We only have fifty-thousand galleons.”</p>

<p>He smiled. “Of course we can. We have a profitable business and we’re building a house with the money. Those two things, taken together, should be more than enough collateral for a loan.”</p>

<p>“You’re going to borrow money? From the goblins?” She looked worried.</p>

<p>“Yep.”</p>

<p>“Is that a good idea? Only, I’ve heard stories of axe-wielding debt collectors, and defaulters being fed to dragons.”</p>

<p>“Those are legitimate concerns. So we’ll do everything in our power to make sure we don’t default. We can’t afford to wait five years, and I trust our goblin friends to keep certain details confidential.” He took a sip of orange juice before continuing. “The payments for a ten-year, £4.6 million mortgage would amount to £600,000 a year at today’s interest rates. I dropped in on my three main customers six weeks ago, and got them to agree to larger purchases at fixed times throughout the year in exchange for a better deal.”</p>

<p>Daphne watched him, expectantly. “Meaning?”</p>

<p>“Meaning we’ll keep back £500,000 as safety in the vault, and before we head off to Hogwarts, we’ll have another £612,000. That’ll keep us afloat for almost two years, even if everything went to hell.”</p>

<p>“How secure are these businesses of yours?”</p>

<p>He sighed. “Honestly? Not as secure as I’d like. I’m the sole runner for three regional suppliers. Everyone else is happy with their suppliers, and isn’t interested, unless they’re desperate. Those three customers make up fifty percent, twenty-five percent, and twenty-five percent of my total ongoing business. That’s never a good thing. Ideally I’d have at least five customers, each having only twenty percent.”</p>

<p>“And how secure do you think those customers are?”</p>

<p>He grinned. “Individually? Not too bad — so long as they don’t get shot or caught. Curtis loves me. His business has doubled over the last three years on my supply. Riversmith isn’t growing all that fast, but he’s solid, and Kovac is expanding like crazy. Still small, but give him a few years and he might start to close in on Curtis.”</p>

<p>Daphne regarded him. Her look was calculating. “It’s not enough.”</p>

<p>“Mmm?”</p>

<p>“I know you. You wouldn’t make a massive play like this unless you had multiple fallbacks. Your smuggling business is only one, and you just admitted it wasn’t as secure as you’d like.”</p>

<p>“Ah, Daph. You <em>do</em> know me. Yes. I have another plan for making obscene amounts of money, and paying off the mansion before we hit third year.”</p>

<p>She smiled sweetly at him. “And will I know this plan?”</p>

<p>“Yep.” He took another sip, and leaned back in his chair. “Let me tell you about something that is <em>probably</em> happening at Hogwarts, this year.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>[Back to the present]</p>

<p>Daphne looked up at the wonky facade of Gringotts bank. A building currently holding one of the most sought after artefacts in wizarding history, the philosopher’s stone. Right now though, they cared more about goblin gold than the stone.</p>

<p>“Shall we?” Child-Lord-Slytherin-Harry said.</p>

<p>“Yes.” She took his arm, and together they walked into the bank, across the main floor, and up to a teller. The goblin had to lean over his desk to see them.</p>

<p>“Yes?”</p>

<p>She noticed Harry glance around before replying. “I am here to open a family vault for the Most Ancient and Noble House of Slytherin… along with some other related business.”</p>

<p>The goblin raised an eyebrow.</p>

<p>Harry flashed him his head of house ring.</p>

<p>The teller drew in a sharp breath. “Please follow me.”</p>

<p>And that was pure Harry. She was sure if any other eleven-year-old had tried that they’d have been laughed out of the bank without even a raised eyebrow. It was something about his stance and speech — it whispered ‘I know what I’m doing, and I have every right to do it’.</p>

<p>They were led through a long series of passageways and corridors and into a well-appointed waiting room. A pair of large double doors on the far side of the room opened, and they were ushered in. A large goblin wearing a pinstripe suit stood up from the far side of a desk and waved them in with an equally large, toothy grin.</p>

<p>“Lord Slytherin,” he said, sounding happier than any goblin she’d ever encountered before. “I have been waiting for this meeting for almost two years now. Please, please sit down. We have much to discuss.”</p>

<p>Her eyes were drawn to a small ceremonial battle-axe on the belt of the goblin’s suit.</p>

<p>“My name is Ragnok Boneslicer of the Boneslicer Clan, and I won the right to be your vault manager two years ago.”</p>

<p>They all took their seats.</p>

<p>Harry matched the goblin’s grin. “Ragnok Boneslicer. May your gold flow, and your enemies fall under your blade.”</p>

<p>She flashed her betrothed a surprised look. The Dark Lord studied goblin culture? She’d have never guessed that.</p>

<p>Ragnok looked mildly surprised too. “And may your enemies die in a pit of fire, and your vaults always be full…”—he grinned his toothy smile again—“something I’m hopeful will soon be true.”</p>

<p>At this point she couldn’t help herself. “Excuse me, Mister Ragnok. You said you won this account?”</p>

<p>Ragnok smiled at her. “In combat, young witch. With the blood of my enemies on the blade of my sword.”</p>

<p>She shuddered.</p>

<p>“But that was two years ago. When the Prophet announced Lord Slytherin’s ascension, it was expected you’d be at our doors in weeks. When the details of your betrothal were leaked, the clans started fighting like young’uns over a breeder. Where <em>have</em> you been?”</p>

<p>Her betrothed smiled. “I’ve been trying to keep a low profile for the last few years, but now that I’m about to start Hogwarts, that’s no longer possible. Plus I have a large project to discuss with Gringotts.”</p>

<p>Ragnok blinked. “About to start Hogwarts?” He sounded incredulous. “You mean… you really <em>are</em> as young as you look?”</p>

<p>“I am.”</p>

<p>Ragnok turned to her. “And you?”</p>

<p>“Yes,” she said. “I am Heiress Greengrass, Harry’s betrothed. We’re both eleven. Well, Harry is soon anyway.”</p>

<p>He turned back to Harry. “And yet you hold a Lordship.”</p>

<p>“I do.”</p>

<p>Ragnok leaned back in his chair and looked thoughtful. He grinned, and leaned forward again. “I <em>like</em> the interesting clients.”</p>

<p>She let out a breath she didn’t realise she’d been holding.</p>

<p>“Let’s get this cart on the tracks then. A drop of your blood if you would, Lord Slytherin.”</p>

<p>Harry proffered his hand and Ragnok gave him a small nick with an ornate looking dagger. The blood ran down the blade, and into a small chalice on the desk. A quill started writing.</p>

<p>“You mentioned another project,” Ragnok prompted while the quill filled out the parchment.</p>

<p>“Yes. A large land purchase, building, and warding project.”</p>

<p>“Excellent, we can discuss that in a moment. Now, let’s see.” Ragnok took the finished parchment, and gave it a once over. His face went white. He stared at her and Harry with the air of a cat who’d been regarding a pair of mice… a pair of mice who had just turned into a pair of wolves. He wasn’t smiling. “Lord Slytherin. You took your Lordship on the thirty-first of July, 1988?”</p>

<p>She glanced at Harry. He looked calm as always, which was reassuring. The goblin’s sudden change in demeanour was a little freaky. Had Ragnok learned something he wasn’t supposed to?</p>

<p>“I did.”</p>

<p>“And you were born eleven years ago, on the thirty-first of July, 1980?”</p>

<p>“I was.”</p>

<p>Ragnok glanced at her before looking back to Harry, and continuing. “And you have lived for almost twenty-five years?”</p>

<p>Her breath hitched. Oh, Merlin. They’d been caught.</p>

<p>Harry was silent.</p>

<p>Ragnok put the parchment down, leaned back in his chair, and rubbed his temples.</p>

<p>“Lord Slytherin. Heiress Greengrass. Let me tell you a story.” He paused for a moment before continuing. “Two years ago there was a minor crisis in the Goblin Nation. The Great Accounting we call it. For centuries, Gringotts has used a standard method in all our records for determining people’s ages. Blood magic. The same method used by the family magics. It’s very convenient since it can’t be fooled by anyone. It allows us to know the rights and ownership of many inheritances and legacies without directly intervening with the parties involved. But most importantly, it can’t be changed. Not by us, not by the Wizengamot. The higher powers themselves determine the laws of magic. All our records used a person’s date-of-birth, since that’s what blood magic—and therefore the family magics—uses to determine age.”</p>

<p>She noticed the goblin looked agitated as he spoke. She tried to see where this was going.</p>

<p>Ragnok closed his eyes, and took a deep breath. “Then, two years ago, something happened that had never happened before. Two adult witches, sisters, one born a half-hour after the other, were to inherit a modest amount, and the will stipulated that the older sister would inherit the majority, including an old gauntlet. The gauntlet was tied to the family magics. When the older sister attempted to take possession, the gauntlet rejected her, causing her great pain. We were puzzled, and re-took blood from the two sisters. Just like we thought, the older sister had been born first. It took some of our cleverest researchers days to figure out what had happened. When we adjusted our ritual to write down not just date-of-birth, but years lived as well, we saw that the <em>younger</em> sister was now <em>older</em>.”</p>

<p>Daphne could now see where this was going. This was not good.</p>

<p>“It turned out that the younger sister had once journeyed with a time-turner, and was now a half-hour older than the older sister.” Ragnok opened his eyes. “This might sound like a one off, but it isn’t. We’ve been dealing with the shifts in time of our clients for hundreds of years. It’s not something we’re unfamiliar with. We had to go through all our records and re-adjust them all to include a ‘current-age’ line. Hundreds-of-thousands of documents. We had to re-take blood from many of our major clients, and introduce new rules requiring taking blood before any age-related decision is made. Somehow, something had happened to change the very laws of magic. And eventually, we determined the change had happened in the summer of 1988, in late July or early August.”</p>

<p>Morgana’s bum. She glanced at Harry again, who hadn’t moved an inch the whole time.</p>

<p>“The same time that you, a time-traveller who has travelled further than anyone outside of myth and legend, took a lordship, which your date-of-birth should have precluded you from taking.” Ragnok’s knuckles were white where he gripped his desk. “You, Lord Slytherin, somehow changed the laws of magic.”</p>

<p>Her heart pounded. Was this the moment a dozen goblin guards would pile into the room, and drag them away?</p>

<p>Harry opened his mouth. “I didn’t.”</p>

<p>“…”</p>

<p>“…”</p>

<p>“Then what?”</p>

<p>“It is as you said. Only the higher powers can change the laws of magic.”</p>

<p>Ragnok’s voice softened. “One of the higher powers intervened in the world, and changed the laws of magic, to give <em>you</em> a lordship?”</p>

<p>“Two higher powers actually.”</p>

<p>“Karzak Turlk!” Ragnok swore.</p>

<p>“Can we assume your discretion in this matter?”</p>

<p>Ragnok looked at her betrothed as though he had grown five extra heads. “Lord Slytherin. I will have to make a report to my king, but other than that I <em>will</em> do my best to endeavour your secrets stay secret. I always do for all my clients, and I have no interest in annoying <em>any</em> of the higher powers.”</p>

<p>Oh, thank Merlin. It looked like they <em>weren’t</em> in trouble. Dragon stomachs were not in her immediate future. Daphne’s breathing slowed.</p>

<p>Harry wore the smile of a man who has been told today’s weather will be sunny. “Excellent. Then maybe we can move onto other business? I think you’ll find it quite interesting.”</p>

<p>Ragnok remained silent for several moments. He leaned back, and barked one loud laugh. “Certainly, Lord Slytherin.” The goblin flashed that toothy smile once more. “Like I said, I <em>like</em> the interesting ones.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Two hours later, they left the bank. The exchanges after the time-travel revelation had been all business, and the two males had been throwing around many words and phrases Daphne didn’t know. The gist of it was that Harry’s numbers were mostly correct, that the goblins would look for a suitable piece of land for Slytherin Manor, and they’d be staying in contact by owl while they were at Hogwarts. If everything went well, she and Harry would inspect and approve the site plans during the Christmas break. Construction would begin within weeks, and if everything went well, the manor would be finished less than a year later. Just in time for Christmas of their second Hogwarts year.</p>

<p>She glanced towards her betrothed. “I still can’t believe we got out of there alive. I thought we were done for.”</p>

<p>Harry grinned. “You doubted me, Daph? I’m hurt.”</p>

<p>“Prat.”</p>

<p>“You seemed quite happy once we got into discussing the details of the manor. I thought you were going to start picking out curtains.”</p>

<p>Her cheeks tinted. “Well, it’s important! I mean, I know it’s going to be years until we’re married, but this is going to be our home for the rest of our lives.”</p>

<p>“We have a good six months to talk about the details.”</p>

<p>“True.”</p>

<p>“There is one thing that worried me though.”</p>

<p>“What?”</p>

<p>“Remember when he mentioned our Hogwarts letters, and how they work on family magics?”</p>

<p>“Oh yes.” Daphne recalled a short discussion about how various artefacts determined people’s ages. “Ragnok called it the Book of Names, but he said it still used date-of-birth, not time-lived.”</p>

<p>“Yes… but what name will it give me? Who will my Hogwarts letter be addressed to? What will the class registers refer to me as?”</p>

<p>She immediately saw the problem. “Oh, damn.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>“So, to safely get into Hogwarts and confundus the Book of Names, you need to get hold of this invisibility cloak?” Daphne was sat in a Harry-conjured garden chair overlooking the Greengrass flowerbeds, where she’d first seen Harry whip out his wand, two-and-a-half years ago. Harry sat opposite. An afternoon breeze blew through her long, blonde hair. Birds sang in the trees.</p>

<p>“Yep. And the cloak is in Potter Manor.”</p>

<p>“Mmmm….” She thought about it. Harry was testing her, she knew. He often did this. Instead of just telling her what they were going to do, he’d ask her for a plan, and then poke holes in it. She took out a quill, and started doodling on Harry-conjured parchment. Damn, he was useful. Harry went back to his book.</p>

<p>Eventually, she looked up from her work. “Okay. I have it.”</p>

<p>Harry gave her a nod to continue.</p>

<p>“Your Weasley girl is tied to the Potter wards, right?”</p>

<p>“You mean Ginny? Yes, she is.”</p>

<p>“Right. Ginny. We wait until John Potter tries to invite her over again, then you sneak into the Burrow, stun the male Weasley who’s friends with John Potter, and give him draught of living death. Then you levitate him over the Burrow wards where me and Ginny will be waiting. That’s so the wards record him leaving.” She glanced up to see if Harry was following.</p>

<p>Harry nodded.</p>

<p>“Then, you sneak back through your secret passageway, and cast the imperius curse on Ginny. Ginny floos to Potter Manor, and you apparate me and the male Weasley to the edge of the Potter Manor wards, where you’ll have already set up a small-area fidelius charm.”</p>

<p>He nodded again.</p>

<p>“Then Ginny loses John and sneaks off to find the cloak. You take control of Ginny, and use magic to help the search—summoning spells, point me spells, et cetera.”</p>

<p>He nodded again, although his eyes were starting to glaze over.</p>

<p>She forged ahead. “You have Ginny take a ten-minute polyjuice potion to make her look like the male Weasley, and I push the real male Weasley over the Potter wards so they record him entering the manor. You, controlling Ginny, find the cloak, and make a break for the ward line. Ginny waits there under the cloak for the polyjuice potion to wear off, then throws the cloak to me, and I pull the male Weasley back over the ward line. Then Ginny leaves to find John, they have an argument, Ginny leaves in a huff, we take the male Weasley back to the Burrow, give him the living-death antidote, implant false memories, and Ginny spends the next week popping veritaserum antidote sweets every morning and evening.”</p>

<p>“…”</p>

<p>Harry blinked owlishly at her. He leant back in his chair. “Okay, good effort. Seriously. Now you’re going to tell me what’s wrong with that plan.”</p>

<p>She felt a bit sheepish. “Too complex?”</p>

<p>“There’s nothing wrong with a complex plan, if it’s also the plan with the best risk-to-probability-of-success ratio, but the more complex a plan is, the more likely it is for something to go wrong. That plan <em>is</em> pretty complex. What else is wrong?”</p>

<p>“Um… John Potter might not invite Ginny over?”</p>

<p>He shrugged. “That’s just a matter of waiting for an opportunity. If one didn’t turn up we could always make one.”</p>

<p>“Can’t really think of anything else.”</p>

<p>“Really? You pretty much acknowledged the biggest weakness yourself, right at the end.”</p>

<p>She looked at him, face as blank as a clean slate.</p>

<p>“You want Ginny to take veritaserum antidote for a week after the mission. By doing so you acknowledge the danger that Ginny could be suspected of involvement, and even questioned.”</p>

<p>“Ah. You’re saying it would be better if none of our people were seen by anyone the whole time.”</p>

<p>“Exactly.”</p>

<p>“But how do we get into the manor then? The wards will record all our presences. Even yours. <em>Especially</em> yours. Merlin, they might not even have taken down the child safety wards tied to you.”</p>

<p>“True.”</p>

<p>“Then how?”</p>

<p>“You were almost there when you suggested we use the imperius curse on Ginny.”</p>

<p>Her eyes darted around his face, looking for a clue. “But, using the imperius curse on anyone who isn’t on our side is incredibly dangerous. If anyone ever found out, it’s life in Azkaban. And most people who are tied to the Potter wards will have noble house rings, so no obliviating. I know the Weasleys don’t, but it’s still more risk than I thought you’d be willing to take.”</p>

<p>“Yes. So we use the imperius on someone who can never complain, who can pass straight through the wards without issue, who won’t be recorded by the wards, and who it’s even legal to cast the curse on.”</p>

<p>She looked at him, puzzled. “Who?”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Daphne lounged in Harry’s trunk, reading a muggle travel book, making notes, and bracing herself for an apparate-squeeze every sixty seconds. The first time she’d climbed into his trunk, been shrunk, popped into his pocket, and chain-apparated across Europe, it had been nauseating. She’d gotten used to it. This time, she could even read while Harry flew and apparated, five miles at a time, all the way across the Atlantic.</p>

<p>It had been seventeen hours, and flight-Harry should be landing soon.</p>

<p>Daphne stood and walked over to the cooler, runes alight with pulsating magic. She found a bottle of pumpkin juice amidst the pile of orange juices.</p>

<p>Daphne braced for the next apparate. It didn’t come. The lack of squeeze was like a landing announcement. She waited. The door at the top of the stairs opened. Birdsong of every describable variety poured into the trunk, filling the cosy interior with promises of the exotic and exciting.</p>

<p>“We’re there!” called Harry.</p>

<p>Daphne climbed the stairs, stepped out of the trunk, and was engulfed by a wall of heat and wet. The air pressed down on her body, and filled her lungs with soup. A mass of organic dark-green and brown rose in front of her. Behind her, a massive river pushed and roared with the unstoppability and ferocity of a dozen nesting dragons.</p>

<p>“This is Brazil?”</p>

<p>“Yep. On the edge of one of the forests. Wha’dja think?”</p>

<p>“It’s… bigger.” The trees were massive and interwove into each other forming a solid, living cliff.</p>

<p>“You’ve no idea just how right you are,” Harry said, shrinking the trunk and popping it back into his pocket. He handed her an ageing potion and they both drank. The soon-to-be first years morphed into twenty-year-olds. Their clothes morphed with them.</p>

<p>Pointing themselves downriver, they trekked along the riverbank for half an hour and eventually found themselves at the edge of a small muggle village.</p>

<p>A short conversation with a bemused group of villagers sent them to another village some two hours walk down the river. They climbed over huge tree roots, cut through dense undergrowth, and, occasionally, Harry flew her over boggy mud-banks, much to her secret delight.</p>

<p>Eventually, tired, soaked, and high on endorphins, they stood in front of a small, dilapidated, wood-built shop. Birds sung in cages hung around the entrance. Lizards and spiders sat in boxes made from the lithe, green growth of bushes and trees. She drank in the new sights and sounds like a Gringotts prisoner might drink in the sky.</p>

<p>Harry’s eyes gleamed when he spotted a medium-sized snake in a large see-through box by the door. He crouched down, and a series of hisses were exchanged between them. Eventually he stood up. “Yep, this is what we’re looking for.”</p>

<p>“You know, that wasn’t any less creepy than when I first saw you do it.”</p>

<p>Harry just grinned, took her hand, and led her into the dark interior of the shop.</p>

<p>A short, tanned, middle-aged man sat on a low stool in a corner smoking something foul. She wrinkled her nose.</p>

<p>Harry dove straight in, chatting with the man in a tongue she didn’t recognise. It may as well have been parseltongue for all she was able to understand it. Harry laughed a few times. The man looked at her.</p>

<p>“You have very beautiful wife.”</p>

<p>She blushed.</p>

<p>Harry chuckled. “Yes. She is the snowdrop of England.”</p>

<p>Oh. An elegant flower that opens just as the snow and ice starts melting. She blushed harder. Damn ageing potions.</p>

<p>Eventually, the man stood, and left the shop by the back door.</p>

<p>She looked towards Harry, not quite meeting his eye. “Does he have what we’re looking for?”</p>

<p>“Sounds like it.”</p>

<p>They waited in silence. Harry wandered around looking into cages and boxes, occasionally chatting with a snake. It was weird the way they’d all perk up when he passed by.</p>

<p>The man walked back in, ferrying the cutest thing she’d ever seen on his shoulder. She cooed and clapped her hands, all thoughts of embarrassing flower metaphors forgotten.</p>

<p>Its fur was black, its tail long, and its small face was framed with two large tufts of white where its ears would be. The small monkey-like animal gripped the man’s shirt with tiny human-like hands, and pivoted its head with quick, sudden turns.</p>

<p>Her eyes shone staring at the endearing fluff-ball.</p>

<p>“The common marmoset,” Harry said, by way of confirmation. “New world monkey species, generally grows to a maximum size of twenty to thirty centimetres in length. Very intelligent, very social. Weighs around 250 grams.”</p>

<p>“He’s adorable.” Daphne made to touch the small creature, which backed off, seemingly uncertain, before leaping to her shoulder and trying to climb into the front of her shirt. “Gah!”</p>

<p>“She, actually. And a good thing too, or I’d have to have some serious words with it.” Harry glared at the animal trying to burrow its way into her chest.</p>

<p>She giggled, and fed it a piece of fruit the man had offered her.</p>

<p>Harry handed him some muggle money. “Any idea what you’re going to call her?”</p>

<p>She turned to regard the inquisitive animal now clutched to her shoulder, playing with her long, blonde hair. The small monkey was a gift from Harry. Not the first to be sure, but she was definitely the cutest.</p>

<p>The idea of having a marmoset for a pet, rather than the more traditional cat, meant something to her. A powerful statement that said, ‘I’m not going to do things the traditional way. I’m free to explore and travel, and damn society’s yardstick. <em>Harry</em> is my yardstick’.</p>

<p>She turned back to Harry. “How about Freekey?”</p>

<p>Harry’s expression blanked for several seconds, before slowly spreading into a broad grin. “Perfect.”</p>

<p style="text-align: center;">— DPaSW: RiBSR —</p>

<p>Harry crouched at the edge of the Potter Manor wards, under a three-by-three metre fidelius charm. His breath was calm, his clothes dark, and his eyes alert. Daphne crouched opposite. Her breath was short, her clothes muggle, and her eyes nervous. Freekey sat on her shoulder.</p>

<p>“You ready, Daph?”</p>

<p>Daphne nodded.</p>

<p>He raised his wand, and pointed it at Freekey. “Imperio.” The strange sensation of being in two places at once flooded his mind. The imperius curse took a lot of practice, not because the spell casting was difficult, but because learning to control two entities at the same time—to see through two sets of eyes, distinguish two sets of smells, and two sets of balance—was not easy.</p>

<p>He, as Freekey-Harry, leapt to his human shoulder, and gave the pretty blonde a miniature thumbs up.</p>

<p>Daphne reached into a pocket, drew out a bright yellow potion vial, popped the top, and offered it to him. He grabbed the vial with tiny hands and drank, feeling power flood his system as the strengthening solution took hold.</p>

<p>He, as Human-Harry, disillusioned Freekey-Harry, and settled down on the ground, the better to focus on his monkey half. He jumped to the ground, glanced once towards Daphne, and marched on all fours to the ward line. This was the moment of truth. He’d sensed the wards to the best of his abilities, and he was sure they didn’t include a ward that could stop non-magical animals, but there was always a danger. He reached a tiny hand over the wards and tensed. Nothing. He stepped over the line, all the while waiting for the throwback. Still nothing.</p>

<p>A few moments later he was through. He gave a little monkey smirk.</p>

<p>“Did it work?”</p>

<p>“Yes,” said Human-Harry</p>

<p>The grounds of Potter Manor lay before him, open and inviting. He slunk through gardens and vegetable patches, across gravel paths and patios, and eventually found a drainpipe fixed to the manor wall. Freekey was a natural climber, and the strengthening solution made it all the more easy. In just a couple of minutes of careful clambering, he was on the roof, a mirror of the background, shifting unseen across the night sky.</p>

<p>“Where are you now?”</p>

<p>“The roof, heading towards the chimney. No problems so far.”</p>

<p>He found the red and white smokestack, and started to climb. His tiny fingers easily found their way into the concave curves of cement between the bricks. He reached the top, tipped over the edge, and started down. He felt his tail come to rest on something.</p>

<p>“Damn.”</p>

<p>“What?” Daphne was holding her breath.</p>

<p>“There’s a grate blocking the chimney floo. Looks too small for me to fit through. I’m going to have to use the owlery.”</p>

<p>He climbed out of the chimney, and padded over to the wall he suspected held the owlery. He peeked over the edge, and his nostrils filled with bird.</p>

<p>“Found it.”</p>

<p>He shimmied down the wall and swung into the small open window to the owlery. Despite the late hour, two owls were asleep on their perches—a tawny, and a greater sooty. One owl that was definitely not yet here was a snowy. His eyes flashed hunger. There was another girl he needed to nab. One that would surely drive his brother spare.</p>

<p>He crept through the owlery, knowing that if the large birds-of-prey awoke—with their highly developed sight, and razor-sharp talons—they’d probably be able to spot the shifting background gliding through their territory. He cringed to think of Daphne’s reaction should he get Freekey injured or killed.</p>

<p>Harry reached the door, looked up, and inspected the handle. It was a lever, not a knob, thank Merlin. He leapt above the handle, grasped it with both hands, planted his little feet above him, and pushed down, forcing the door open with a faint *click*.</p>

<p>The owls didn’t stir.</p>

<p>He jumped down, leapt through the gap, and closed the door just enough to eliminate the gap.</p>

<p>“I’m in.”</p>

<p>Daphne took in a deep calming lungful before letting it out again.</p>

<p>The corridors of Potter Manor were wide and dark. There were many doors. He tried nearly ten, all leading to empty or otherwise boring rooms. Then, he opened one that led into a storage room. Boxes were everywhere. He spied a thin, wooden box buried under several larger boxes, and his little monkey eyes widened in glee. There, on the side of the box, was a triangle, containing a circle, with a line through the middle.</p>

<p>“Found it.”</p>

<p>Daphne sat a little straighter. “You have it?”</p>

<p>“Not quite, it’s under a few heavy boxes, but I think….”</p>

<p>He wedged himself between the boxes and the wall and pushed with all his potion-improved power. The strengthening solution increased his strength by several times—a quirk of his tiny size—but Freekey was still a small primate, and it was tough. The boxes tittered. The boxes fell. A solid thump vibrated through the walls. Hopefully the size of the manor would stop that being heard. Bedrooms were often silenced from the rest of the house for obvious reasons.</p>

<p>“Got it. It’s in a box.”</p>

<p>The box was locked and warded. He had no chance of opening it with a body that lacked magic of its own. Gripping the sides of the box, he dragged it across the floor, through the door, and across the manor. He reached the door of the owlery before he realised he had a problem.</p>

<p>“Damn it.”</p>

<p>“What?”</p>

<p>“Even with the potion, I won’t have the strength to pull the box up to the owlery window.”</p>

<p>“Can’t you open the box?”</p>

<p>“No. Not without magic. It has wards, and I don’t have the strength to break… no… wait. Yes! Great idea, Daph!”</p>

<p>“Wha?”</p>

<p>“One moment.”</p>

<p>He dragged the box to the ballroom landing, overlooking the Potter Manor ballroom… from three stories up.</p>

<p>“Here goes nothing.”</p>

<p>He tipped the box on its side, pushed it through a bannister, and watched it hit the marble ballroom-floor with a loud crash. Splinters went everywhere and a cloak of liquid cloth spilt out. He tore down the spiral staircase, dashed for the cloak, and threw it over his small body, just as a pair of house elves popped into being only a few metres from where he stood, hidden, even from the gaze of death himself. The elves stared at the wreckage, and started a rapid and heated discussion. He edged away, and made a bolt for the stairs.</p>

<p>“Damn. That was close. I have the cloak, but was almost rumbled by a pair of house elves.”</p>

<p>Daphne gasped.</p>

<p>“Get ready to leave. The area’s going to get hot.”</p>

<p>He jogged and hopped, trying to keep the oversized cloak from tangling around his miniature form. The Potter patriarch ran past in a bathrobe, heading down the hallway he was heading up. Oh how he wished he could land an unseen stinging hex.</p>

<p>“Homenum revelio!”</p>

<p>Smirk. Hah. Not this time, dickhead.</p>

<p>He dashed through the owlery, leapt the window, and swung down the outside of the building. Lights were coming on throughout the manor. Shouts could be heard.</p>

<p>He fled across the grounds, and reached the outside of the manor wards. Daphne was already halfway into his trunk. He leapt to her shoulder, flung the cloak to his human self, and cancelled the imperius curse on Freekey.</p>

<p>“Let’s move it!”</p>

<p>Daphne gave a sharp nod, Freekey gave a chirp, and both girl and monkey vanished into the trunk.</p>

<p>He slammed the trunk shut, shrunk it, shoved it into his pocket, set the fidelius runestones to self-destruct in ninety seconds, donned the cloak, crouched to the ground, and shot into the sky, accelerating from zero to sixty miles-an-hour in seconds, reached a mile up, and disapparated. The resulting *crack!* could not have sounded more satisfying.</p>

<p style="text-align: center;">— End of Chapter Nine —</p>
